{
  "servicePath": "",
  "ownerName": "Google",
  "ownerDomain": "google.com",
  "revision": "20260826",
  "protocol": "rest",
  "rootUrl": "https://acceleratedmobilepageurl.googleapis.com/",
  "resources": {
    "ampUrls": {
      "methods": {
        "batchGet": {
          "request": {
            "$ref": "BatchGetAmpUrlsRequest"
          },
          "response": {
            "$ref": "BatchGetAmpUrlsResponse"
          },
          "parameterOrder": [],
          "path": "v1/ampUrls:batchGet",
          "parameters": {},
          "description": "Returns AMP URL(s) and equivalent [AMP Cache URL(s)](/amp/cache/overview#amp-cache-url-format).",
          "id": "acceleratedmobilepageurl.ampUrls.batchGet",
          "httpMethod": "POST",
          "flatPath": "v1/ampUrls:batchGet"
        }
      }
    }
  },
  "canonicalName": "Acceleratedmobilepageurl",
  "schemas": {
    "BatchGetAmpUrlsRequest": {
      "id": "BatchGetAmpUrlsRequest",
      "description": "AMP URL request for a batch of URLs.",
      "type": "object",
      "properties": {
        "urls": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of URLs to look up for the paired AMP URLs. The URLs are case-sensitive. Up to 50 URLs per lookup (see [Usage Limits](/amp/cache/reference/limits))."
        },
        "lookupStrategy": {
          "enumDescriptions": [
            "FETCH_LIVE_DOC strategy involves live document fetch of URLs not found in the index. Any request URL not found in the index is crawled in realtime to validate if there is a corresponding AMP URL. This strategy has higher coverage but with extra latency introduced by realtime crawling. This is the default strategy. Applications using this strategy should set higher HTTP timeouts of the API calls.",
            "IN_INDEX_DOC strategy skips fetching live documents of URL(s) not found in index. For applications which need low latency use of IN_INDEX_DOC strategy is recommended."
          ],
          "enum": [
            "FETCH_LIVE_DOC",
            "IN_INDEX_DOC"
          ],
          "type": "string",
          "description": "The lookup_strategy being requested."
        }
      }
    },
    "AmpUrl": {
      "type": "object",
      "properties": {
        "cdnAmpUrl": {
          "type": "string",
          "description": "The [AMP Cache URL](/amp/cache/overview#amp-cache-url-format) pointing to the cached document in the Google AMP Cache."
        },
        "ampUrl": {
          "description": "The AMP URL pointing to the publisher's web server.",
          "type": "string"
        },
        "originalUrl": {
          "description": "The original non-AMP URL.",
          "type": "string"
        }
      },
      "description": "AMP URL response for a requested URL.",
      "id": "AmpUrl"
    },
    "AmpUrlError": {
      "type": "object",
      "description": "AMP URL Error resource for a requested URL that couldn't be found.",
      "properties": {
        "errorMessage": {
          "description": "An optional descriptive error message.",
          "type": "string"
        },
        "originalUrl": {
          "description": "The original non-AMP URL.",
          "type": "string"
        },
        "errorCode": {
          "type": "string",
          "enum": [
            "ERROR_CODE_UNSPECIFIED",
            "INPUT_URL_NOT_FOUND",
            "NO_AMP_URL",
            "APPLICATION_ERROR",
            "URL_IS_VALID_AMP",
            "URL_IS_INVALID_AMP"
          ],
          "description": "The error code of an API call.",
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            true,
            false
          ],
          "enumDescriptions": [
            "Not specified error.",
            "Indicates the requested URL is not found in the index, possibly because it's unable to be found, not able to be accessed by Googlebot, or some other error.",
            "Indicates no AMP URL has been found that corresponds to the requested URL.",
            "Indicates some kind of application error occurred at the server. Client advised to retry.",
            "DEPRECATED: Indicates the requested URL is a valid AMP URL. This is a non-error state, should not be relied upon as a sign of success or failure. It will be removed in future versions of the API.",
            "Indicates that an AMP URL has been found that corresponds to the request URL, but it is not valid AMP HTML."
          ]
        }
      },
      "id": "AmpUrlError"
    },
    "BatchGetAmpUrlsResponse": {
      "properties": {
        "ampUrls": {
          "description": "For each URL in BatchAmpUrlsRequest, the URL response. The response might not be in the same order as URLs in the batch request. If BatchAmpUrlsRequest contains duplicate URLs, AmpUrl is generated only once.",
          "items": {
            "$ref": "AmpUrl"
          },
          "type": "array"
        },
        "urlErrors": {
          "description": "The errors for requested URLs that have no AMP URL.",
          "type": "array",
          "items": {
            "$ref": "AmpUrlError"
          }
        }
      },
      "id": "BatchGetAmpUrlsResponse",
      "description": "Batch AMP URL response.",
      "type": "object"
    }
  },
  "documentationLink": "https://developers.google.com/amp/cache/",
  "discoveryVersion": "v1",
  "version": "v1",
  "description": "Retrieves the list of AMP URLs (and equivalent AMP Cache URLs) for a given list of public URL(s). ",
  "name": "acceleratedmobilepageurl",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "kind": "discovery#restDescription",
  "version_module": true,
  "baseUrl": "https://acceleratedmobilepageurl.googleapis.com/",
  "batchPath": "batch",
  "basePath": "",
  "id": "acceleratedmobilepageurl:v1",
  "title": "Accelerated Mobile Pages (AMP) URL API",
  "mtlsRootUrl": "https://acceleratedmobilepageurl.mtls.googleapis.com/",
  "parameters": {
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string",
      "default": "json"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    }
  }
}