{
  "ownerName": "Google",
  "baseUrl": "https://acceleratedmobilepageurl.googleapis.com/",
  "version_module": true,
  "kind": "discovery#restDescription",
  "rootUrl": "https://acceleratedmobilepageurl.googleapis.com/",
  "batchPath": "batch",
  "description": "Retrieves the list of AMP URLs (and equivalent AMP Cache URLs) for a given list of public URL(s). ",
  "ownerDomain": "google.com",
  "title": "Accelerated Mobile Pages (AMP) URL API",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "parameters": {
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    }
  },
  "mtlsRootUrl": "https://acceleratedmobilepageurl.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "id": "acceleratedmobilepageurl:v1",
  "basePath": "",
  "servicePath": "",
  "name": "acceleratedmobilepageurl",
  "documentationLink": "https://developers.google.com/amp/cache/",
  "protocol": "rest",
  "canonicalName": "Acceleratedmobilepageurl",
  "resources": {
    "ampUrls": {
      "methods": {
        "batchGet": {
          "request": {
            "$ref": "BatchGetAmpUrlsRequest"
          },
          "path": "v1/ampUrls:batchGet",
          "parameters": {},
          "response": {
            "$ref": "BatchGetAmpUrlsResponse"
          },
          "id": "acceleratedmobilepageurl.ampUrls.batchGet",
          "httpMethod": "POST",
          "parameterOrder": [],
          "description": "Returns AMP URL(s) and equivalent [AMP Cache URL(s)](/amp/cache/overview#amp-cache-url-format).",
          "flatPath": "v1/ampUrls:batchGet"
        }
      }
    }
  },
  "version": "v1",
  "schemas": {
    "BatchGetAmpUrlsRequest": {
      "id": "BatchGetAmpUrlsRequest",
      "description": "AMP URL request for a batch of URLs.",
      "type": "object",
      "properties": {
        "urls": {
          "items": {
            "type": "string"
          },
          "description": "List of URLs to look up for the paired AMP URLs. The URLs are case-sensitive. Up to 50 URLs per lookup (see [Usage Limits](/amp/cache/reference/limits)).",
          "type": "array"
        },
        "lookupStrategy": {
          "description": "The lookup_strategy being requested.",
          "type": "string",
          "enumDescriptions": [
            "FETCH_LIVE_DOC strategy involves live document fetch of URLs not found in the index. Any request URL not found in the index is crawled in realtime to validate if there is a corresponding AMP URL. This strategy has higher coverage but with extra latency introduced by realtime crawling. This is the default strategy. Applications using this strategy should set higher HTTP timeouts of the API calls.",
            "IN_INDEX_DOC strategy skips fetching live documents of URL(s) not found in index. For applications which need low latency use of IN_INDEX_DOC strategy is recommended."
          ],
          "enum": [
            "FETCH_LIVE_DOC",
            "IN_INDEX_DOC"
          ]
        }
      }
    },
    "AmpUrl": {
      "properties": {
        "cdnAmpUrl": {
          "description": "The [AMP Cache URL](/amp/cache/overview#amp-cache-url-format) pointing to the cached document in the Google AMP Cache.",
          "type": "string"
        },
        "ampUrl": {
          "description": "The AMP URL pointing to the publisher's web server.",
          "type": "string"
        },
        "originalUrl": {
          "description": "The original non-AMP URL.",
          "type": "string"
        }
      },
      "id": "AmpUrl",
      "description": "AMP URL response for a requested URL.",
      "type": "object"
    },
    "AmpUrlError": {
      "id": "AmpUrlError",
      "description": "AMP URL Error resource for a requested URL that couldn't be found.",
      "type": "object",
      "properties": {
        "originalUrl": {
          "description": "The original non-AMP URL.",
          "type": "string"
        },
        "errorCode": {
          "description": "The error code of an API call.",
          "enumDescriptions": [
            "Not specified error.",
            "Indicates the requested URL is not found in the index, possibly because it's unable to be found, not able to be accessed by Googlebot, or some other error.",
            "Indicates no AMP URL has been found that corresponds to the requested URL.",
            "Indicates some kind of application error occurred at the server. Client advised to retry.",
            "DEPRECATED: Indicates the requested URL is a valid AMP URL. This is a non-error state, should not be relied upon as a sign of success or failure. It will be removed in future versions of the API.",
            "Indicates that an AMP URL has been found that corresponds to the request URL, but it is not valid AMP HTML."
          ],
          "type": "string",
          "enum": [
            "ERROR_CODE_UNSPECIFIED",
            "INPUT_URL_NOT_FOUND",
            "NO_AMP_URL",
            "APPLICATION_ERROR",
            "URL_IS_VALID_AMP",
            "URL_IS_INVALID_AMP"
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            true,
            false
          ]
        },
        "errorMessage": {
          "description": "An optional descriptive error message.",
          "type": "string"
        }
      }
    },
    "BatchGetAmpUrlsResponse": {
      "id": "BatchGetAmpUrlsResponse",
      "description": "Batch AMP URL response.",
      "type": "object",
      "properties": {
        "urlErrors": {
          "items": {
            "$ref": "AmpUrlError"
          },
          "description": "The errors for requested URLs that have no AMP URL.",
          "type": "array"
        },
        "ampUrls": {
          "description": "For each URL in BatchAmpUrlsRequest, the URL response. The response might not be in the same order as URLs in the batch request. If BatchAmpUrlsRequest contains duplicate URLs, AmpUrl is generated only once.",
          "type": "array",
          "items": {
            "$ref": "AmpUrl"
          }
        }
      }
    }
  },
  "revision": "20260614"
}