{
  "description": "Retrieves the list of AMP URLs (and equivalent AMP Cache URLs) for a given list of public URL(s). ",
  "parameters": {
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version": "v1",
  "protocol": "rest",
  "ownerDomain": "google.com",
  "basePath": "",
  "kind": "discovery#restDescription",
  "documentationLink": "https://developers.google.com/amp/cache/",
  "servicePath": "",
  "discoveryVersion": "v1",
  "title": "Accelerated Mobile Pages (AMP) URL API",
  "revision": "20260915",
  "ownerName": "Google",
  "baseUrl": "https://acceleratedmobilepageurl.googleapis.com/",
  "mtlsRootUrl": "https://acceleratedmobilepageurl.mtls.googleapis.com/",
  "name": "acceleratedmobilepageurl",
  "resources": {
    "ampUrls": {
      "methods": {
        "batchGet": {
          "path": "v1/ampUrls:batchGet",
          "parameters": {},
          "description": "Returns AMP URL(s) and equivalent [AMP Cache URL(s)](/amp/cache/overview#amp-cache-url-format).",
          "parameterOrder": [],
          "flatPath": "v1/ampUrls:batchGet",
          "request": {
            "$ref": "BatchGetAmpUrlsRequest"
          },
          "id": "acceleratedmobilepageurl.ampUrls.batchGet",
          "response": {
            "$ref": "BatchGetAmpUrlsResponse"
          },
          "httpMethod": "POST"
        }
      }
    }
  },
  "version_module": true,
  "batchPath": "batch",
  "schemas": {
    "BatchGetAmpUrlsResponse": {
      "id": "BatchGetAmpUrlsResponse",
      "description": "Batch AMP URL response.",
      "properties": {
        "urlErrors": {
          "type": "array",
          "description": "The errors for requested URLs that have no AMP URL.",
          "items": {
            "$ref": "AmpUrlError"
          }
        },
        "ampUrls": {
          "description": "For each URL in BatchAmpUrlsRequest, the URL response. The response might not be in the same order as URLs in the batch request. If BatchAmpUrlsRequest contains duplicate URLs, AmpUrl is generated only once.",
          "items": {
            "$ref": "AmpUrl"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "BatchGetAmpUrlsRequest": {
      "id": "BatchGetAmpUrlsRequest",
      "type": "object",
      "description": "AMP URL request for a batch of URLs.",
      "properties": {
        "urls": {
          "items": {
            "type": "string"
          },
          "description": "List of URLs to look up for the paired AMP URLs. The URLs are case-sensitive. Up to 50 URLs per lookup (see [Usage Limits](/amp/cache/reference/limits)).",
          "type": "array"
        },
        "lookupStrategy": {
          "description": "The lookup_strategy being requested.",
          "type": "string",
          "enumDescriptions": [
            "FETCH_LIVE_DOC strategy involves live document fetch of URLs not found in the index. Any request URL not found in the index is crawled in realtime to validate if there is a corresponding AMP URL. This strategy has higher coverage but with extra latency introduced by realtime crawling. This is the default strategy. Applications using this strategy should set higher HTTP timeouts of the API calls.",
            "IN_INDEX_DOC strategy skips fetching live documents of URL(s) not found in index. For applications which need low latency use of IN_INDEX_DOC strategy is recommended."
          ],
          "enum": [
            "FETCH_LIVE_DOC",
            "IN_INDEX_DOC"
          ]
        }
      }
    },
    "AmpUrl": {
      "properties": {
        "ampUrl": {
          "description": "The AMP URL pointing to the publisher's web server.",
          "type": "string"
        },
        "cdnAmpUrl": {
          "type": "string",
          "description": "The [AMP Cache URL](/amp/cache/overview#amp-cache-url-format) pointing to the cached document in the Google AMP Cache."
        },
        "originalUrl": {
          "type": "string",
          "description": "The original non-AMP URL."
        }
      },
      "type": "object",
      "description": "AMP URL response for a requested URL.",
      "id": "AmpUrl"
    },
    "AmpUrlError": {
      "properties": {
        "originalUrl": {
          "type": "string",
          "description": "The original non-AMP URL."
        },
        "errorCode": {
          "enumDescriptions": [
            "Not specified error.",
            "Indicates the requested URL is not found in the index, possibly because it's unable to be found, not able to be accessed by Googlebot, or some other error.",
            "Indicates no AMP URL has been found that corresponds to the requested URL.",
            "Indicates some kind of application error occurred at the server. Client advised to retry.",
            "DEPRECATED: Indicates the requested URL is a valid AMP URL. This is a non-error state, should not be relied upon as a sign of success or failure. It will be removed in future versions of the API.",
            "Indicates that an AMP URL has been found that corresponds to the request URL, but it is not valid AMP HTML."
          ],
          "enum": [
            "ERROR_CODE_UNSPECIFIED",
            "INPUT_URL_NOT_FOUND",
            "NO_AMP_URL",
            "APPLICATION_ERROR",
            "URL_IS_VALID_AMP",
            "URL_IS_INVALID_AMP"
          ],
          "type": "string",
          "description": "The error code of an API call.",
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            true,
            false
          ]
        },
        "errorMessage": {
          "type": "string",
          "description": "An optional descriptive error message."
        }
      },
      "id": "AmpUrlError",
      "description": "AMP URL Error resource for a requested URL that couldn't be found.",
      "type": "object"
    }
  },
  "rootUrl": "https://acceleratedmobilepageurl.googleapis.com/",
  "id": "acceleratedmobilepageurl:v1",
  "canonicalName": "Acceleratedmobilepageurl"
}