{
  "kind": "discovery#restDescription",
  "documentationLink": "https://developers.google.com/authorized-buyers/apis/reference/rest/",
  "basePath": "",
  "protocol": "rest",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/adexchange.buyer": {
          "description": "Manage your Ad Exchange buyer account configuration"
        }
      }
    }
  },
  "rootUrl": "https://adexchangebuyer.googleapis.com/",
  "revision": "20260616",
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "name": "adexchangebuyer2",
  "batchPath": "batch",
  "baseUrl": "https://adexchangebuyer.googleapis.com/",
  "version_module": true,
  "servicePath": "",
  "version": "v2beta1",
  "ownerName": "Google",
  "canonicalName": "AdExchangeBuyerII",
  "parameters": {
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "location": "query",
      "description": "Data format for response.",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    }
  },
  "mtlsRootUrl": "https://adexchangebuyer.mtls.googleapis.com/",
  "title": "Ad Exchange Buyer API II",
  "description": "Access the latest features for managing Authorized Buyers accounts, Real-Time Bidding configurations and auction metrics, and Marketplace programmatic deals.",
  "ownerDomain": "google.com",
  "schemas": {
    "Client": {
      "id": "Client",
      "type": "object",
      "properties": {
        "partnerClientId": {
          "description": "Optional arbitrary unique identifier of this client buyer from the standpoint of its Ad Exchange sponsor buyer. This field can be used to associate a client buyer with the identifier in the namespace of its sponsor buyer, lookup client buyers by that identifier and verify whether an Ad Exchange counterpart of a given client buyer already exists. If present, must be unique among all the client buyers for its Ad Exchange sponsor buyer.",
          "type": "string"
        },
        "status": {
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined client status.",
            "A client that is currently disabled.",
            "A client that is currently active."
          ],
          "enum": [
            "CLIENT_STATUS_UNSPECIFIED",
            "DISABLED",
            "ACTIVE"
          ],
          "description": "The status of the client buyer."
        },
        "entityName": {
          "description": "The name of the entity. This field is automatically fetched based on the type and ID. The value of this field is ignored in create and update operations.",
          "type": "string"
        },
        "role": {
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined client role.",
            "Users associated with this client can see publisher deal offers in the Marketplace. They can neither negotiate proposals nor approve deals. If this client is visible to publishers, they can send deal proposals to this client.",
            "Users associated with this client can respond to deal proposals sent to them by publishers. They can also initiate deal proposals of their own.",
            "Users associated with this client can approve eligible deals on your behalf. Some deals may still explicitly require publisher finalization. If this role is not selected, the sponsor buyer will need to manually approve each of their deals."
          ],
          "enum": [
            "CLIENT_ROLE_UNSPECIFIED",
            "CLIENT_DEAL_VIEWER",
            "CLIENT_DEAL_NEGOTIATOR",
            "CLIENT_DEAL_APPROVER"
          ],
          "description": "The role which is assigned to the client buyer. Each role implies a set of permissions granted to the client. Must be one of `CLIENT_DEAL_VIEWER`, `CLIENT_DEAL_NEGOTIATOR` or `CLIENT_DEAL_APPROVER`."
        },
        "clientName": {
          "description": "Name used to represent this client to publishers. You may have multiple clients that map to the same entity, but for each client the combination of `clientName` and entity must be unique. You can specify this field as empty. Maximum length of 255 characters is allowed.",
          "type": "string"
        },
        "clientAccountId": {
          "type": "string",
          "description": "The globally-unique numerical ID of the client. The value of this field is ignored in create and update operations.",
          "format": "int64"
        },
        "visibleToSeller": {
          "description": "Whether the client buyer will be visible to sellers.",
          "type": "boolean"
        },
        "entityType": {
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined client entity type. Should not be used.",
            "An advertiser.",
            "A brand.",
            "An advertising agency.",
            "An explicit value for a client that was not yet classified as any particular entity."
          ],
          "enum": [
            "ENTITY_TYPE_UNSPECIFIED",
            "ADVERTISER",
            "BRAND",
            "AGENCY",
            "ENTITY_TYPE_UNCLASSIFIED"
          ],
          "description": "An optional field for specifying the type of the client entity: `ADVERTISER`, `BRAND`, or `AGENCY`."
        },
        "entityId": {
          "type": "string",
          "format": "int64",
          "description": "Numerical identifier of the client entity. The entity can be an advertiser, a brand, or an agency. This identifier is unique among all the entities with the same type. The value of this field is ignored if the entity type is not provided. A list of all known advertisers with their identifiers is available in the [advertisers.txt](https://storage.googleapis.com/adx-rtb-dictionaries/advertisers.txt) file. A list of all known brands with their identifiers is available in the [brands.txt](https://storage.googleapis.com/adx-rtb-dictionaries/brands.txt) file. A list of all known agencies with their identifiers is available in the [agencies.txt](https://storage.googleapis.com/adx-rtb-dictionaries/agencies.txt) file."
        }
      },
      "description": "A client resource represents a client buyer—an agency, a brand, or an advertiser customer of the sponsor buyer. Users associated with the client buyer have restricted access to the Marketplace and certain other sections of the Authorized Buyers UI based on the role granted to the client buyer. All fields are required unless otherwise specified."
    },
    "RelativeDateRange": {
      "properties": {
        "offsetDays": {
          "type": "integer",
          "format": "int32",
          "description": "The end date of the filter set, specified as the number of days before today, for example, for a range where the last date is today: 0."
        },
        "durationDays": {
          "type": "integer",
          "format": "int32",
          "description": "The number of days in the requested date range, for example, for a range spanning today: 1. For a range spanning the last 7 days: 7."
        }
      },
      "description": "A relative date range, specified by an offset and a duration. The supported range of dates begins 30 days before today and ends today, for example, the limits for these values are: offset_days >= 0 duration_days >= 1 offset_days + duration_days <= 30",
      "id": "RelativeDateRange",
      "type": "object"
    },
    "TimeInterval": {
      "id": "TimeInterval",
      "type": "object",
      "properties": {
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The timestamp marking the start of the range (inclusive) for which data is included."
        },
        "endTime": {
          "format": "google-datetime",
          "description": "The timestamp marking the end of the range (exclusive) for which data is included.",
          "type": "string"
        }
      },
      "description": "An interval of time, with an absolute start and end."
    },
    "CreativeSpecification": {
      "description": "Represents information for a creative that is associated with a Programmatic Guaranteed/Preferred Deal in Ad Manager.",
      "properties": {
        "creativeCompanionSizes": {
          "description": "Companion sizes may be filled in only when this is a video creative.",
          "items": {
            "$ref": "AdSize"
          },
          "type": "array"
        },
        "creativeSize": {
          "$ref": "AdSize",
          "description": "The size of the creative."
        }
      },
      "type": "object",
      "id": "CreativeSpecification"
    },
    "BidResponseWithoutBidsStatusRow": {
      "description": "The number of impressions with the specified dimension values that were considered to have no applicable bids, as described by the specified status.",
      "properties": {
        "rowDimensions": {
          "$ref": "RowDimensions",
          "description": "The values of all dimensions associated with metric values in this row."
        },
        "impressionCount": {
          "$ref": "MetricValue",
          "description": "The number of impressions for which there was a bid response with the specified status."
        },
        "status": {
          "description": "The status specifying why the bid responses were considered to have no applicable bids.",
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined status. This value will never be returned in responses.",
            "The response had no bids.",
            "The response had no bids for the specified account, though it may have included bids on behalf of other accounts. Applies if: 1. Request is on behalf of a bidder and an account filter is present. 2. Request is on behalf of a child seat.",
            "The response had no bids for the specified deal, though it may have included bids on other deals on behalf of the account to which the deal belongs. If request is on behalf of a bidder and an account filter is not present, this also includes responses that have bids on behalf of accounts other than the account to which the deal belongs."
          ],
          "enum": [
            "STATUS_UNSPECIFIED",
            "RESPONSES_WITHOUT_BIDS",
            "RESPONSES_WITHOUT_BIDS_FOR_ACCOUNT",
            "RESPONSES_WITHOUT_BIDS_FOR_DEAL"
          ]
        }
      },
      "type": "object",
      "id": "BidResponseWithoutBidsStatusRow"
    },
    "ListFilteredBidRequestsResponse": {
      "description": "Response message for listing all reasons that bid requests were filtered and not sent to the buyer.",
      "properties": {
        "calloutStatusRows": {
          "type": "array",
          "description": "List of rows, with counts of filtered bid requests aggregated by callout status.",
          "items": {
            "$ref": "CalloutStatusRow"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the ListFilteredBidRequestsRequest.pageToken field in the subsequent call to the filteredBidRequests.list method to retrieve the next page of results.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListFilteredBidRequestsResponse"
    },
    "DealTerms": {
      "id": "DealTerms",
      "type": "object",
      "properties": {
        "description": {
          "description": "Publisher provided description for the terms.",
          "type": "string"
        },
        "estimatedGrossSpend": {
          "description": "Non-binding estimate of the estimated gross spend for this deal. Can be set by buyer or seller.",
          "$ref": "Price"
        },
        "guaranteedFixedPriceTerms": {
          "$ref": "GuaranteedFixedPriceTerms",
          "description": "The terms for guaranteed fixed price deals."
        },
        "estimatedImpressionsPerDay": {
          "type": "string",
          "description": "Non-binding estimate of the impressions served per day. Can be set by buyer or seller.",
          "format": "int64"
        },
        "sellerTimeZone": {
          "description": "The time zone name. For deals with Cost Per Day billing, defines the time zone used to mark the boundaries of a day. It should be an IANA TZ name, such as \"America/Los_Angeles\". For more information, see https://en.wikipedia.org/wiki/List_of_tz_database_time_zones.",
          "type": "string"
        },
        "nonGuaranteedAuctionTerms": {
          "$ref": "NonGuaranteedAuctionTerms",
          "description": "The terms for non-guaranteed auction deals."
        },
        "brandingType": {
          "description": "Visibility of the URL in bid requests. (default: BRANDED)",
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined branding type.",
            "Full URL is included in bid requests.",
            "A TopLevelDomain or masked URL is sent in bid requests rather than the full one."
          ],
          "enum": [
            "BRANDING_TYPE_UNSPECIFIED",
            "BRANDED",
            "SEMI_TRANSPARENT"
          ]
        },
        "nonGuaranteedFixedPriceTerms": {
          "description": "The terms for non-guaranteed fixed price deals.",
          "$ref": "NonGuaranteedFixedPriceTerms"
        }
      },
      "description": "The deal terms specify the details of a Product/deal. They specify things like price per buyer, the type of pricing model (for example, fixed price, auction) and expected impressions from the publisher."
    },
    "FrequencyCap": {
      "id": "FrequencyCap",
      "type": "object",
      "properties": {
        "maxImpressions": {
          "format": "int32",
          "description": "The maximum number of impressions that can be served to a user within the specified time period.",
          "type": "integer"
        },
        "numTimeUnits": {
          "type": "integer",
          "format": "int32",
          "description": "The amount of time, in the units specified by time_unit_type. Defines the amount of time over which impressions per user are counted and capped."
        },
        "timeUnitType": {
          "description": "The time unit. Along with num_time_units defines the amount of time over which impressions per user are counted and capped.",
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined time unit type. This just indicates the variable with this value hasn't been initialized.",
            "Minute",
            "Hour",
            "Day",
            "Week",
            "Month",
            "Lifetime",
            "Pod",
            "Stream"
          ],
          "enum": [
            "TIME_UNIT_TYPE_UNSPECIFIED",
            "MINUTE",
            "HOUR",
            "DAY",
            "WEEK",
            "MONTH",
            "LIFETIME",
            "POD",
            "STREAM"
          ]
        }
      },
      "description": "Frequency cap."
    },
    "Creative": {
      "type": "object",
      "id": "Creative",
      "description": "A creative and its classification data.",
      "properties": {
        "clickThroughUrls": {
          "description": "The set of destination URLs for the creative.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "openAuctionStatus": {
          "description": "Output only. The top-level open auction status of this creative. If disapproved, an entry for 'auctionType = OPEN_AUCTION' (or 'ALL') in serving_restrictions will also exist. Note that this may be nuanced with other contextual restrictions, in which case, it may be preferable to read from serving_restrictions directly. Can be used to filter the response of the creatives.list method.",
          "type": "string",
          "enumDescriptions": [
            "The status is unknown.",
            "The creative has not been checked.",
            "The creative has been conditionally approved. See serving_restrictions for details.",
            "The creative has been approved.",
            "The creative has been disapproved.",
            "Placeholder for transition to v1beta1. Currently not used.",
            "Placeholder for transition to v1beta1. Currently not used."
          ],
          "enum": [
            "STATUS_UNSPECIFIED",
            "NOT_CHECKED",
            "CONDITIONALLY_APPROVED",
            "APPROVED",
            "DISAPPROVED",
            "PENDING_REVIEW",
            "STATUS_TYPE_UNSPECIFIED"
          ]
        },
        "detectedAdvertiserIds": {
          "type": "array",
          "description": "Output only. Detected advertiser IDs, if any.",
          "items": {
            "format": "int64",
            "type": "string"
          }
        },
        "advertiserName": {
          "description": "The name of the company being advertised in the creative.",
          "type": "string"
        },
        "detectedProductCategories": {
          "description": "Output only. Detected product categories, if any. See the ad-product-categories.txt file in the technical documentation for a list of IDs.",
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "type": "array"
        },
        "version": {
          "type": "integer",
          "description": "Output only. The version of this creative.",
          "format": "int32"
        },
        "accountId": {
          "description": "The account that this creative belongs to. Can be used to filter the response of the creatives.list method.",
          "type": "string"
        },
        "video": {
          "description": "A video creative.",
          "$ref": "VideoContent"
        },
        "html": {
          "description": "An HTML creative.",
          "$ref": "HtmlContent"
        },
        "native": {
          "$ref": "NativeContent",
          "description": "A native creative."
        },
        "agencyId": {
          "format": "int64",
          "description": "The agency ID for this creative.",
          "type": "string"
        },
        "detectedSensitiveCategories": {
          "type": "array",
          "description": "Output only. Detected sensitive categories, if any. See the ad-sensitive-categories.txt file in the technical documentation for a list of IDs. You should use these IDs along with the excluded-sensitive-category field in the bid request to filter your bids.",
          "items": {
            "format": "int32",
            "type": "integer"
          }
        },
        "declaredClickThroughUrls": {
          "type": "array",
          "description": "The set of declared destination URLs for the creative.",
          "items": {
            "type": "string"
          }
        },
        "detectedLanguages": {
          "type": "array",
          "description": "Output only. The detected languages for this creative. The order is arbitrary. The codes are 2 or 5 characters and are documented at https://developers.google.com/adwords/api/docs/appendix/languagecodes.",
          "items": {
            "type": "string"
          }
        },
        "dealsStatus": {
          "type": "string",
          "enumDescriptions": [
            "The status is unknown.",
            "The creative has not been checked.",
            "The creative has been conditionally approved. See serving_restrictions for details.",
            "The creative has been approved.",
            "The creative has been disapproved.",
            "Placeholder for transition to v1beta1. Currently not used.",
            "Placeholder for transition to v1beta1. Currently not used."
          ],
          "enum": [
            "STATUS_UNSPECIFIED",
            "NOT_CHECKED",
            "CONDITIONALLY_APPROVED",
            "APPROVED",
            "DISAPPROVED",
            "PENDING_REVIEW",
            "STATUS_TYPE_UNSPECIFIED"
          ],
          "description": "Output only. The top-level deals status of this creative. If disapproved, an entry for 'auctionType=DIRECT_DEALS' (or 'ALL') in serving_restrictions will also exist. Note that this may be nuanced with other contextual restrictions, in which case, it may be preferable to read from serving_restrictions directly. Can be used to filter the response of the creatives.list method."
        },
        "adTechnologyProviders": {
          "description": "Output only. The detected ad technology providers.",
          "$ref": "AdTechnologyProviders"
        },
        "vendorIds": {
          "type": "array",
          "description": "All vendor IDs for the ads that may be shown from this creative. See https://storage.googleapis.com/adx-rtb-dictionaries/vendors.txt for possible values.",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        },
        "impressionTrackingUrls": {
          "description": "The set of URLs to be called to record an impression.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "apiUpdateTime": {
          "format": "google-datetime",
          "description": "Output only. The last update timestamp of the creative through the API.",
          "type": "string"
        },
        "adChoicesDestinationUrl": {
          "description": "The link to AdChoices destination page.",
          "type": "string"
        },
        "restrictedCategories": {
          "type": "array",
          "description": "All restricted categories for the ads that may be shown from this creative.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "The ad has no restricted categories",
              "The alcohol restricted category."
            ],
            "enum": [
              "NO_RESTRICTED_CATEGORIES",
              "ALCOHOL"
            ]
          }
        },
        "attributes": {
          "description": "All attributes for the ads that may be shown from this creative. Can be used to filter the response of the creatives.list method.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Do not use. This is a placeholder value only.",
              "The creative is of type image/rich media. For pretargeting.",
              "The creative is of video type Adobe Flash FLV. For pretargeting.",
              "The creative is tagged.",
              "The creative is cookie targeted.",
              "The creative is user interest targeted.",
              "The creative does not expand.",
              "The creative expands up.",
              "The creative expands down.",
              "The creative expands left.",
              "The creative expands right.",
              "The creative expands up and left.",
              "The creative expands up and right.",
              "The creative expands down and left.",
              "The creative expands down and right.",
              "The creative type is HTML.",
              "The creative type is VAST video.",
              "The creative expands up or down.",
              "The creative expands left or right.",
              "The creative expands on any diagonal.",
              "The creative expands when rolled over.",
              "The instream vast video type is vpaid flash.",
              "The creative is MRAID.",
              "The creative is Flash.",
              "The creative is HTML5.",
              "The creative has an instream VAST video type of skippable instream video. For pretargeting.",
              "The creative is SSL.",
              "The creative is non-SSL.",
              "The creative is an interstitial.",
              "The creative has an instream VAST video type of non-skippable instream video. For pretargeting.",
              "The creative is eligible for native.",
              "The creative has an instream VAST video type of non-VPAID. For pretargeting.",
              "The creative is not eligible for native.",
              "The creative has an interstitial size of any interstitial. For pretargeting.",
              "The creative has an interstitial size of non interstitial. For pretargeting.",
              "The video type is in-banner video.",
              "The creative can dynamically resize to fill a variety of slot sizes.",
              "The open measurement SDK is supported.",
              "The creative is considered a playable display creative."
            ],
            "enum": [
              "ATTRIBUTE_UNSPECIFIED",
              "IMAGE_RICH_MEDIA",
              "ADOBE_FLASH_FLV",
              "IS_TAGGED",
              "IS_COOKIE_TARGETED",
              "IS_USER_INTEREST_TARGETED",
              "EXPANDING_DIRECTION_NONE",
              "EXPANDING_DIRECTION_UP",
              "EXPANDING_DIRECTION_DOWN",
              "EXPANDING_DIRECTION_LEFT",
              "EXPANDING_DIRECTION_RIGHT",
              "EXPANDING_DIRECTION_UP_LEFT",
              "EXPANDING_DIRECTION_UP_RIGHT",
              "EXPANDING_DIRECTION_DOWN_LEFT",
              "EXPANDING_DIRECTION_DOWN_RIGHT",
              "CREATIVE_TYPE_HTML",
              "CREATIVE_TYPE_VAST_VIDEO",
              "EXPANDING_DIRECTION_UP_OR_DOWN",
              "EXPANDING_DIRECTION_LEFT_OR_RIGHT",
              "EXPANDING_DIRECTION_ANY_DIAGONAL",
              "EXPANDING_ACTION_ROLLOVER_TO_EXPAND",
              "INSTREAM_VAST_VIDEO_TYPE_VPAID_FLASH",
              "RICH_MEDIA_CAPABILITY_TYPE_MRAID",
              "RICH_MEDIA_CAPABILITY_TYPE_FLASH",
              "RICH_MEDIA_CAPABILITY_TYPE_HTML5",
              "SKIPPABLE_INSTREAM_VIDEO",
              "RICH_MEDIA_CAPABILITY_TYPE_SSL",
              "RICH_MEDIA_CAPABILITY_TYPE_NON_SSL",
              "RICH_MEDIA_CAPABILITY_TYPE_INTERSTITIAL",
              "NON_SKIPPABLE_INSTREAM_VIDEO",
              "NATIVE_ELIGIBILITY_ELIGIBLE",
              "NON_VPAID",
              "NATIVE_ELIGIBILITY_NOT_ELIGIBLE",
              "ANY_INTERSTITIAL",
              "NON_INTERSTITIAL",
              "IN_BANNER_VIDEO",
              "RENDERING_SIZELESS_ADX",
              "OMSDK_1_0",
              "RENDERING_PLAYABLE"
            ]
          },
          "type": "array"
        },
        "creativeId": {
          "description": "The buyer-defined creative ID of this creative. Can be used to filter the response of the creatives.list method.",
          "type": "string"
        },
        "corrections": {
          "type": "array",
          "description": "Output only. Shows any corrections that were applied to this creative.",
          "items": {
            "$ref": "Correction"
          },
          "deprecated": true
        },
        "servingRestrictions": {
          "type": "array",
          "description": "Output only. The granular status of this ad in specific contexts. A context here relates to where something ultimately serves (for example, a physical location, a platform, an HTTPS versus HTTP request, or the type of auction).",
          "items": {
            "$ref": "ServingRestriction"
          }
        },
        "detectedDomains": {
          "type": "array",
          "description": "Output only. The detected domains for this creative.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "CalloutStatusRow": {
      "description": "The number of impressions with the specified dimension values where the corresponding bid request or bid response was not successful, as described by the specified callout status.",
      "properties": {
        "rowDimensions": {
          "$ref": "RowDimensions",
          "description": "The values of all dimensions associated with metric values in this row."
        },
        "impressionCount": {
          "$ref": "MetricValue",
          "description": "The number of impressions for which there was a bid request or bid response with the specified callout status."
        },
        "calloutStatusId": {
          "format": "int32",
          "description": "The ID of the callout status. See [callout-status-codes](https://developers.google.com/authorized-buyers/rtb/downloads/callout-status-codes).",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "CalloutStatusRow"
    },
    "Product": {
      "description": "A product is a segment of inventory that a seller wants to sell. It is associated with certain terms and targeting information which helps the buyer know more about the inventory.",
      "properties": {
        "availableStartTime": {
          "format": "google-datetime",
          "description": "Inventory availability dates. The start time will be truncated to seconds during serving. Thus, a field specified as 3:23:34.456 (HH:mm:ss.SSS) will be truncated to 3:23:34 when serving.",
          "type": "string"
        },
        "displayName": {
          "description": "The display name for this product as set by the seller.",
          "type": "string"
        },
        "availableEndTime": {
          "format": "google-datetime",
          "description": "The proposed end time for the deal. The field will be truncated to the order of seconds during serving.",
          "type": "string"
        },
        "publisherProfileId": {
          "description": "An ID which can be used by the Publisher Profile API to get more information about the seller that created this product.",
          "type": "string"
        },
        "seller": {
          "description": "Information about the seller that created this product.",
          "$ref": "Seller"
        },
        "terms": {
          "description": "The negotiable terms of the deal.",
          "$ref": "DealTerms"
        },
        "hasCreatorSignedOff": {
          "description": "If the creator has already signed off on the product, then the buyer can finalize the deal by accepting the product as is. When copying to a proposal, if any of the terms are changed, then auto_finalize is automatically set to false.",
          "type": "boolean"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Time of last update.",
          "type": "string"
        },
        "targetingCriterion": {
          "type": "array",
          "description": "Targeting that is shared between the buyer and the seller. Each targeting criterion has a specified key and for each key there is a list of inclusion value or exclusion values.",
          "items": {
            "$ref": "TargetingCriteria"
          }
        },
        "webPropertyCode": {
          "description": "The web-property code for the seller. This needs to be copied as is when adding a new deal to a proposal.",
          "type": "string"
        },
        "createTime": {
          "description": "Creation time.",
          "format": "google-datetime",
          "type": "string"
        },
        "productRevision": {
          "type": "string",
          "description": "The revision number of the product (auto-assigned by Marketplace).",
          "format": "int64"
        },
        "syndicationProduct": {
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined syndication product.",
            "This typically represents a web page.",
            "This represents a mobile property.",
            "This represents video ad formats.",
            "This represents ads shown within games."
          ],
          "enum": [
            "SYNDICATION_PRODUCT_UNSPECIFIED",
            "CONTENT",
            "MOBILE",
            "VIDEO",
            "GAMES"
          ],
          "description": "The syndication product associated with the deal."
        },
        "productId": {
          "description": "The unique ID for the product.",
          "type": "string"
        },
        "creatorContacts": {
          "description": "Optional contact information for the creator of this product.",
          "items": {
            "$ref": "ContactInformation"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "Product"
    },
    "AcceptProposalRequest": {
      "description": "Request to accept a proposal.",
      "properties": {
        "proposalRevision": {
          "type": "string",
          "format": "int64",
          "description": "The last known client revision number of the proposal."
        }
      },
      "type": "object",
      "id": "AcceptProposalRequest"
    },
    "PrivateData": {
      "properties": {
        "referenceId": {
          "description": "A buyer or seller specified reference ID. This can be queried in the list operations (max-length: 1024 unicode code units).",
          "type": "string"
        }
      },
      "description": "Buyers are allowed to store certain types of private data in a proposal/deal.",
      "id": "PrivateData",
      "type": "object"
    },
    "CompleteSetupRequest": {
      "type": "object",
      "id": "CompleteSetupRequest",
      "description": "Request message for indicating that the proposal's setup step is complete.",
      "properties": {
        "externalDealIds": {
          "type": "array",
          "description": "The external deal ids of the deals to mark as setup completed. If empty, all the deals in the proposal will be marked as setup completed.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ListPublisherProfilesResponse": {
      "description": "Response message for profiles visible to the buyer.",
      "properties": {
        "publisherProfiles": {
          "description": "The list of matching publisher profiles.",
          "items": {
            "$ref": "PublisherProfile"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "List pagination support",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListPublisherProfilesResponse"
    },
    "DealPauseStatus": {
      "type": "object",
      "id": "DealPauseStatus",
      "description": "Tracks which parties (if any) have paused a deal. The deal is considered paused if either hasBuyerPaused or hasSellPaused is true.",
      "properties": {
        "firstPausedBy": {
          "description": "The role of the person who first paused this deal.",
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined buyer/seller role.",
            "Specifies the role as buyer.",
            "Specifies the role as seller."
          ],
          "enum": [
            "BUYER_SELLER_ROLE_UNSPECIFIED",
            "BUYER",
            "SELLER"
          ]
        },
        "buyerPauseReason": {
          "description": "The buyer's reason for pausing, if the buyer paused the deal.",
          "type": "string"
        },
        "sellerPauseReason": {
          "description": "The seller's reason for pausing, if the seller paused the deal.",
          "type": "string"
        },
        "hasBuyerPaused": {
          "description": "True, if the buyer has paused the deal unilaterally.",
          "type": "boolean"
        },
        "hasSellerPaused": {
          "description": "True, if the seller has paused the deal unilaterally.",
          "type": "boolean"
        }
      }
    },
    "FirstPartyMobileApplicationTargeting": {
      "id": "FirstPartyMobileApplicationTargeting",
      "type": "object",
      "properties": {
        "excludedAppIds": {
          "description": "A list of application IDs to be excluded.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "targetedAppIds": {
          "type": "array",
          "description": "A list of application IDs to be included.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Represents a list of targeted and excluded mobile application IDs that publishers own. Mobile application IDs are from App Store and Google Play Store. Android App ID, for example, com.google.android.apps.maps, can be found in Google Play Store URL. iOS App ID (which is a number) can be found at the end of iTunes store URL. First party mobile applications is either included or excluded."
    },
    "ServingContext": {
      "type": "object",
      "id": "ServingContext",
      "description": "The serving context for this restriction.",
      "properties": {
        "platform": {
          "$ref": "PlatformContext",
          "description": "Matches impressions coming from a particular platform."
        },
        "appType": {
          "description": "Matches impressions for a particular app type.",
          "$ref": "AppContext"
        },
        "auctionType": {
          "$ref": "AuctionContext",
          "description": "Matches impressions for a particular auction type."
        },
        "securityType": {
          "description": "Matches impressions for a particular security type.",
          "deprecated": true,
          "$ref": "SecurityContext"
        },
        "all": {
          "description": "Matches all contexts.",
          "type": "string",
          "enumDescriptions": [
            "A simple context."
          ],
          "enum": [
            "SIMPLE_CONTEXT"
          ]
        },
        "location": {
          "$ref": "LocationContext",
          "description": "Matches impressions coming from users *or* publishers in a specific location."
        }
      }
    },
    "WatchCreativeRequest": {
      "properties": {
        "topic": {
          "description": "The Pub/Sub topic to publish notifications to. This topic must already exist and must give permission to ad-exchange-buyside-reports@google.com to write to the topic. This should be the full resource name in \"projects/{project_id}/topics/{topic_id}\" format.",
          "type": "string"
        }
      },
      "description": "A request for watching changes to creative Status.",
      "id": "WatchCreativeRequest",
      "type": "object"
    },
    "CreativeRestrictions": {
      "id": "CreativeRestrictions",
      "type": "object",
      "properties": {
        "skippableAdType": {
          "description": "Skippable video ads allow viewers to skip ads after 5 seconds.",
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined skippable ad type.",
            "This video ad can be skipped after 5 seconds.",
            "This video ad can be skipped after 5 seconds, and is counted as engaged view after 30 seconds. The creative is hosted on YouTube only, and viewcount of the YouTube video increments after the engaged view.",
            "This video ad is not skippable."
          ],
          "enum": [
            "SKIPPABLE_AD_TYPE_UNSPECIFIED",
            "SKIPPABLE",
            "INSTREAM_SELECT",
            "NOT_SKIPPABLE"
          ]
        },
        "creativeFormat": {
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined creative format.",
            "A creative that will be displayed in environments such as a browser.",
            "A video creative that will be displayed in environments such as a video player."
          ],
          "enum": [
            "CREATIVE_FORMAT_UNSPECIFIED",
            "DISPLAY",
            "VIDEO"
          ],
          "description": "The format of the environment that the creatives will be displayed in."
        },
        "creativeSpecifications": {
          "type": "array",
          "items": {
            "$ref": "CreativeSpecification"
          }
        }
      },
      "description": "Represents creative restrictions associated to Programmatic Guaranteed/ Preferred Deal in Ad Manager. This doesn't apply to Private Auction and AdX Preferred Deals."
    },
    "AuctionContext": {
      "properties": {
        "auctionTypes": {
          "type": "array",
          "description": "The auction types this restriction applies to.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "The restriction applies to open auction.",
              "The restriction applies to direct deals."
            ],
            "enum": [
              "OPEN_AUCTION",
              "DIRECT_DEALS"
            ]
          }
        }
      },
      "description": "Output only. The auction type the restriction applies to.",
      "id": "AuctionContext",
      "type": "object"
    },
    "ImpressionMetricsRow": {
      "description": "The set of metrics that are measured in numbers of impressions, representing how many impressions with the specified dimension values were considered eligible at each stage of the bidding funnel.",
      "properties": {
        "availableImpressions": {
          "$ref": "MetricValue",
          "description": "The number of impressions available to the buyer on Ad Exchange. In some cases this value may be unavailable."
        },
        "successfulResponses": {
          "description": "The number of impressions for which the buyer successfully sent a response to Ad Exchange.",
          "$ref": "MetricValue"
        },
        "rowDimensions": {
          "description": "The values of all dimensions associated with metric values in this row.",
          "$ref": "RowDimensions"
        },
        "inventoryMatches": {
          "description": "The number of impressions that match the buyer's inventory pretargeting.",
          "$ref": "MetricValue"
        },
        "responsesWithBids": {
          "description": "The number of impressions for which Ad Exchange received a response from the buyer that contained at least one applicable bid.",
          "$ref": "MetricValue"
        },
        "bidRequests": {
          "description": "The number of impressions for which Ad Exchange sent the buyer a bid request.",
          "$ref": "MetricValue"
        }
      },
      "type": "object",
      "id": "ImpressionMetricsRow"
    },
    "Money": {
      "description": "Represents an amount of money with its currency type.",
      "properties": {
        "units": {
          "type": "string",
          "format": "int64",
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar."
        },
        "nanos": {
          "type": "integer",
          "format": "int32",
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000."
        },
        "currencyCode": {
          "description": "The three-letter currency code defined in ISO 4217.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Money"
    },
    "DeliveryControl": {
      "properties": {
        "creativeBlockingLevel": {
          "description": "Output only. Specified the creative blocking levels to be applied.",
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined creative blocking level.",
            "Publisher blocking rules will be applied.",
            "The Ad Exchange policy blocking rules will be applied."
          ],
          "readOnly": true,
          "enum": [
            "CREATIVE_BLOCKING_LEVEL_UNSPECIFIED",
            "PUBLISHER_BLOCKING_RULES",
            "ADX_POLICY_BLOCKING_ONLY"
          ]
        },
        "deliveryRateType": {
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined delivery rate type.",
            "Impressions are served uniformly over the life of the deal.",
            "Impressions are served front-loaded.",
            "Impressions are served as fast as possible."
          ],
          "description": "Output only. Specifies how the impression delivery will be paced.",
          "enum": [
            "DELIVERY_RATE_TYPE_UNSPECIFIED",
            "EVENLY",
            "FRONT_LOADED",
            "AS_FAST_AS_POSSIBLE"
          ],
          "readOnly": true
        },
        "frequencyCaps": {
          "description": "Output only. Specifies any frequency caps.",
          "readOnly": true,
          "items": {
            "$ref": "FrequencyCap"
          },
          "type": "array"
        }
      },
      "description": "Message contains details about how the deals will be paced.",
      "id": "DeliveryControl",
      "type": "object"
    },
    "ResumeProposalRequest": {
      "type": "object",
      "id": "ResumeProposalRequest",
      "description": "Request message to resume (unpause) serving for an already-finalized proposal.",
      "properties": {}
    },
    "PlacementTargeting": {
      "type": "object",
      "id": "PlacementTargeting",
      "description": "Represents targeting about where the ads can appear, for example, certain sites or mobile applications. Different placement targeting types will be logically OR'ed.",
      "properties": {
        "urlTargeting": {
          "$ref": "UrlTargeting",
          "description": "URLs to be included/excluded."
        },
        "mobileApplicationTargeting": {
          "description": "Mobile application targeting information in a deal. This doesn't apply to Auction Packages.",
          "$ref": "MobileApplicationTargeting"
        }
      }
    },
    "ListClientUserInvitationsResponse": {
      "properties": {
        "invitations": {
          "type": "array",
          "description": "The returned list of client users.",
          "items": {
            "$ref": "ClientUserInvitation"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the ListClientUserInvitationsRequest.pageToken field in the subsequent call to the clients.invitations.list method to retrieve the next page of results.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListClientUserInvitationsResponse"
    },
    "CreativeStatusRow": {
      "id": "CreativeStatusRow",
      "type": "object",
      "properties": {
        "bidCount": {
          "$ref": "MetricValue",
          "description": "The number of bids with the specified status."
        },
        "creativeStatusId": {
          "format": "int32",
          "description": "The ID of the creative status. See [creative-status-codes](https://developers.google.com/authorized-buyers/rtb/downloads/creative-status-codes).",
          "type": "integer"
        },
        "rowDimensions": {
          "description": "The values of all dimensions associated with metric values in this row.",
          "$ref": "RowDimensions"
        }
      },
      "description": "The number of bids with the specified dimension values that did not win the auction (either were filtered pre-auction or lost the auction), as described by the specified creative status."
    },
    "Deal": {
      "properties": {
        "targeting": {
          "$ref": "MarketplaceTargeting",
          "description": "Output only. Specifies the subset of inventory targeted by the deal.",
          "readOnly": true
        },
        "availableEndTime": {
          "type": "string",
          "description": "Proposed flight end time of the deal. This will generally be stored in a granularity of a second. A value is not required for Private Auction deals or Preferred Deals.",
          "format": "google-datetime"
        },
        "programmaticCreativeSource": {
          "description": "Output only. Specifies the creative source for programmatic deals. PUBLISHER means creative is provided by seller and ADVERTISER means creative is provided by buyer.",
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined programmatic creative source.",
            "The advertiser provides the creatives.",
            "The publisher provides the creatives to be served."
          ],
          "readOnly": true,
          "enum": [
            "PROGRAMMATIC_CREATIVE_SOURCE_UNSPECIFIED",
            "ADVERTISER",
            "PUBLISHER"
          ]
        },
        "sellerContacts": {
          "description": "Output only. Seller contact information for the deal.",
          "readOnly": true,
          "items": {
            "$ref": "ContactInformation"
          },
          "type": "array"
        },
        "deliveryControl": {
          "$ref": "DeliveryControl",
          "description": "The set of fields around delivery control that are interesting for a buyer to see but are non-negotiable. These are set by the publisher."
        },
        "availableStartTime": {
          "description": "Optional. Proposed flight start time of the deal. This will generally be stored in the granularity of one second since deal serving starts at seconds boundary. Any time specified with more granularity (for example, in milliseconds) will be truncated towards the start of time in seconds.",
          "format": "google-datetime",
          "type": "string"
        },
        "buyerPrivateData": {
          "$ref": "PrivateData",
          "description": "Buyer private data (hidden from seller)."
        },
        "externalDealId": {
          "type": "string",
          "description": "Output only. The external deal ID assigned to this deal once the deal is finalized. This is the deal ID that shows up in serving/reporting etc.",
          "readOnly": true
        },
        "creativeSafeFrameCompatibility": {
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined creative safe-frame compatibility.",
            "The creatives need to be compatible with the safe frame option.",
            "The creatives can be incompatible with the safe frame option."
          ],
          "description": "Output only. Specifies whether the creative is safeFrame compatible.",
          "enum": [
            "CREATIVE_SAFE_FRAME_COMPATIBILITY_UNSPECIFIED",
            "COMPATIBLE",
            "INCOMPATIBLE"
          ],
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time of the deal creation.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "creativeRestrictions": {
          "$ref": "CreativeRestrictions",
          "description": "Output only. Restricitions about the creatives associated with the deal (for example, size) This is available for Programmatic Guaranteed/Preferred Deals in Ad Manager.",
          "readOnly": true
        },
        "syndicationProduct": {
          "description": "The syndication product associated with the deal. Note: This field may be set only when creating the resource. Modifying this field while updating the resource will result in an error.",
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined syndication product.",
            "This typically represents a web page.",
            "This represents a mobile property.",
            "This represents video ad formats.",
            "This represents ads shown within games."
          ],
          "enum": [
            "SYNDICATION_PRODUCT_UNSPECIFIED",
            "CONTENT",
            "MOBILE",
            "VIDEO",
            "GAMES"
          ]
        },
        "creativePreApprovalPolicy": {
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined creative pre-approval policy.",
            "The seller needs to approve each creative before it can serve.",
            "The seller does not need to approve each creative before it can serve."
          ],
          "description": "Output only. Specifies the creative pre-approval policy.",
          "enum": [
            "CREATIVE_PRE_APPROVAL_POLICY_UNSPECIFIED",
            "SELLER_PRE_APPROVAL_REQUIRED",
            "SELLER_PRE_APPROVAL_NOT_REQUIRED"
          ],
          "readOnly": true
        },
        "proposalId": {
          "type": "string",
          "description": "Output only. ID of the proposal that this deal is part of.",
          "readOnly": true
        },
        "description": {
          "description": "Description for the deal terms.",
          "type": "string"
        },
        "targetingCriterion": {
          "type": "array",
          "description": "The shared targeting visible to buyers and sellers. Each shared targeting entity is AND'd together.",
          "items": {
            "$ref": "TargetingCriteria"
          }
        },
        "dealId": {
          "description": "Output only. A unique deal ID for the deal (server-assigned).",
          "readOnly": true,
          "type": "string"
        },
        "dealTerms": {
          "$ref": "DealTerms",
          "description": "The negotiable terms of the deal."
        },
        "isSetupComplete": {
          "type": "boolean",
          "description": "Output only. True, if the buyside inventory setup is complete for this deal.",
          "readOnly": true
        },
        "createProductRevision": {
          "description": "Optional. Revision number of the product that the deal was created from. If present on create, and the server `product_revision` has advanced since the passed-in `create_product_revision`, an `ABORTED` error will be returned. Note: This field may be set only when creating the resource. Modifying this field while updating the resource will result in an error.",
          "format": "int64",
          "type": "string"
        },
        "displayName": {
          "description": "The name of the deal.",
          "type": "string"
        },
        "dealServingMetadata": {
          "$ref": "DealServingMetadata",
          "description": "Output only. Metadata about the serving status of this deal.",
          "readOnly": true
        },
        "webPropertyCode": {
          "description": "The web property code for the seller copied over from the product.",
          "type": "string"
        },
        "createProductId": {
          "description": "The product ID from which this deal was created. Note: This field may be set only when creating the resource. Modifying this field while updating the resource will result in an error.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The time when the deal was last updated.",
          "readOnly": true,
          "format": "google-datetime"
        }
      },
      "description": "A deal represents a segment of inventory for displaying ads on. A proposal can contain multiple deals. A deal contains the terms and targeting information that is used for serving.",
      "id": "Deal",
      "type": "object"
    },
    "SecurityContext": {
      "properties": {
        "securities": {
          "type": "array",
          "description": "The security types in this context.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Matches impressions that require insecure compatibility.",
              "Matches impressions that require SSL compatibility."
            ],
            "enum": [
              "INSECURE",
              "SSL"
            ]
          }
        }
      },
      "deprecated": true,
      "description": "Output only. A security context.",
      "id": "SecurityContext",
      "type": "object"
    },
    "ListNonBillableWinningBidsResponse": {
      "id": "ListNonBillableWinningBidsResponse",
      "type": "object",
      "properties": {
        "nonBillableWinningBidStatusRows": {
          "description": "List of rows, with counts of bids not billed aggregated by reason.",
          "items": {
            "$ref": "NonBillableWinningBidStatusRow"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the ListNonBillableWinningBidsRequest.pageToken field in the subsequent call to the nonBillableWinningBids.list method to retrieve the next page of results.",
          "type": "string"
        }
      },
      "description": "Response message for listing all reasons for which a buyer was not billed for a winning bid."
    },
    "GuaranteedFixedPriceTerms": {
      "id": "GuaranteedFixedPriceTerms",
      "type": "object",
      "properties": {
        "guaranteedLooks": {
          "description": "Count of guaranteed looks. Required for deal, optional for product. For CPD deals, buyer changes to guaranteed_looks will be ignored.",
          "format": "int64",
          "type": "string"
        },
        "fixedPrices": {
          "description": "Fixed price for the specified buyer.",
          "items": {
            "$ref": "PricePerBuyer"
          },
          "type": "array"
        },
        "minimumDailyLooks": {
          "description": "Daily minimum looks for CPD deal types. For CPD deals, buyer should negotiate on this field instead of guaranteed_looks.",
          "format": "int64",
          "type": "string"
        },
        "guaranteedImpressions": {
          "description": "Guaranteed impressions as a percentage. This is the percentage of guaranteed looks that the buyer is guaranteeing to buy.",
          "format": "int64",
          "type": "string"
        },
        "reservationType": {
          "type": "string",
          "enumDescriptions": [
            "An unspecified reservation type.",
            "Non-sponsorship deal.",
            "Sponsorship deals don't have impression goal (guaranteed_looks) and they are served based on the flight dates. For CPM Sponsorship deals, impression_cap is the lifetime impression limit."
          ],
          "enum": [
            "RESERVATION_TYPE_UNSPECIFIED",
            "STANDARD",
            "SPONSORSHIP"
          ],
          "description": "The reservation type for a Programmatic Guaranteed deal. This indicates whether the number of impressions is fixed, or a percent of available impressions. If not specified, the default reservation type is STANDARD."
        },
        "impressionCap": {
          "format": "int64",
          "description": "The lifetime impression cap for CPM sponsorship deals. The deal will stop serving when the cap is reached.",
          "type": "string"
        },
        "percentShareOfVoice": {
          "type": "string",
          "description": "For sponsorship deals, this is the percentage of the seller's eligible impressions that the deal will serve until the cap is reached.",
          "format": "int64"
        }
      },
      "description": "Terms for Programmatic Guaranteed Deals."
    },
    "RemoveDealAssociationRequest": {
      "properties": {
        "association": {
          "description": "The association between a creative and a deal that should be removed.",
          "$ref": "CreativeDealAssociation"
        }
      },
      "description": "A request for removing the association between a deal and a creative.",
      "id": "RemoveDealAssociationRequest",
      "type": "object"
    },
    "ResumeProposalDealsRequest": {
      "description": "Request message to resume (unpause) serving for already-finalized deals.",
      "properties": {
        "externalDealIds": {
          "type": "array",
          "description": "The external_deal_id's of the deals to resume. If empty, all the deals in the proposal will be resumed.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "ResumeProposalDealsRequest"
    },
    "Buyer": {
      "id": "Buyer",
      "type": "object",
      "properties": {
        "accountId": {
          "description": "Authorized Buyers account ID of the buyer.",
          "type": "string"
        }
      },
      "description": "Represents a buyer of inventory. Each buyer is identified by a unique Authorized Buyers account ID."
    },
    "ListCreativeStatusBreakdownByCreativeResponse": {
      "type": "object",
      "id": "ListCreativeStatusBreakdownByCreativeResponse",
      "description": "Response message for listing all creatives associated with a given filtered bid reason.",
      "properties": {
        "filteredBidCreativeRows": {
          "type": "array",
          "description": "List of rows, with counts of bids with a given creative status aggregated by creative.",
          "items": {
            "$ref": "FilteredBidCreativeRow"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the ListCreativeStatusBreakdownByCreativeRequest.pageToken field in the subsequent call to the filteredBids.creatives.list method to retrieve the next page of results.",
          "type": "string"
        }
      }
    },
    "FilterSet": {
      "description": "A set of filters that is applied to a request for data. Within a filter set, an AND operation is performed across the filters represented by each field. An OR operation is performed across the filters represented by the multiple values of a repeated field, for example, \"format=VIDEO AND deal_id=12 AND (seller_network_id=34 OR seller_network_id=56)\".",
      "properties": {
        "realtimeTimeRange": {
          "$ref": "RealtimeTimeRange",
          "description": "An open-ended realtime time range, defined by the aggregation start timestamp."
        },
        "platforms": {
          "description": "The list of platforms on which to filter; may be empty. The filters represented by multiple platforms are ORed together (for example, if non-empty, results must match any one of the platforms).",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "A placeholder for an undefined platform; indicates that no platform filter will be applied.",
              "The ad impression appears on a desktop.",
              "The ad impression appears on a tablet.",
              "The ad impression appears on a mobile device."
            ],
            "enum": [
              "PLATFORM_UNSPECIFIED",
              "DESKTOP",
              "TABLET",
              "MOBILE"
            ]
          },
          "type": "array"
        },
        "breakdownDimensions": {
          "type": "array",
          "description": "The set of dimensions along which to break down the response; may be empty. If multiple dimensions are requested, the breakdown is along the Cartesian product of the requested dimensions.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "A placeholder for an unspecified dimension; should not be used.",
              "The response should be broken down by publisher identifier. This option is available only for Open Bidding buyers."
            ],
            "enum": [
              "BREAKDOWN_DIMENSION_UNSPECIFIED",
              "PUBLISHER_IDENTIFIER"
            ]
          }
        },
        "absoluteDateRange": {
          "$ref": "AbsoluteDateRange",
          "description": "An absolute date range, defined by a start date and an end date. Interpreted relative to Pacific time zone."
        },
        "environment": {
          "description": "The environment on which to filter; optional.",
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined environment; indicates that no environment filter will be applied.",
            "The ad impression appears on the web.",
            "The ad impression appears in an app."
          ],
          "enum": [
            "ENVIRONMENT_UNSPECIFIED",
            "WEB",
            "APP"
          ]
        },
        "publisherIdentifiers": {
          "description": "For Open Bidding partners only. The list of publisher identifiers on which to filter; may be empty. The filters represented by multiple publisher identifiers are ORed together.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "dealId": {
          "description": "The ID of the deal on which to filter; optional. This field may be set only for a filter set that accesses account-level troubleshooting data, for example, one whose name matches the `bidders/*/accounts/*/filterSets/*` pattern.",
          "format": "int64",
          "type": "string"
        },
        "relativeDateRange": {
          "description": "A relative date range, defined by an offset from today and a duration. Interpreted relative to Pacific time zone.",
          "$ref": "RelativeDateRange"
        },
        "creativeId": {
          "description": "The ID of the creative on which to filter; optional. This field may be set only for a filter set that accesses account-level troubleshooting data, for example, one whose name matches the `bidders/*/accounts/*/filterSets/*` pattern.",
          "type": "string"
        },
        "formats": {
          "description": "Creative formats bidded on or allowed to bid on, can be empty. Although this field is a list, it can only be populated with a single item. A HTTP 400 bad request error will be returned in the response if you specify multiple items.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "A placeholder for an undefined format; indicates that no format filter will be applied.",
              "The ad impression is a native ad, and display (for example, image) format.",
              "The ad impression is a native ad, and video format.",
              "The ad impression is not a native ad, and display (for example, image) format.",
              "The ad impression is not a native ad, and video format."
            ],
            "enum": [
              "FORMAT_UNSPECIFIED",
              "NATIVE_DISPLAY",
              "NATIVE_VIDEO",
              "NON_NATIVE_DISPLAY",
              "NON_NATIVE_VIDEO"
            ]
          },
          "deprecated": true,
          "type": "array"
        },
        "timeSeriesGranularity": {
          "description": "The granularity of time intervals if a time series breakdown is preferred; optional.",
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an unspecified interval; no time series is applied. All rows in response will contain data for the entire requested time range.",
            "Indicates that data will be broken down by the hour.",
            "Indicates that data will be broken down by the day."
          ],
          "enum": [
            "TIME_SERIES_GRANULARITY_UNSPECIFIED",
            "HOURLY",
            "DAILY"
          ]
        },
        "name": {
          "description": "A user-defined name of the filter set. Filter set names must be unique globally and match one of the patterns: - `bidders/*/filterSets/*` (for accessing bidder-level troubleshooting data) - `bidders/*/accounts/*/filterSets/*` (for accessing account-level troubleshooting data) This field is required in create operations.",
          "type": "string"
        },
        "format": {
          "description": "Creative format bidded on or allowed to bid on, can be empty.",
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined format; indicates that no format filter will be applied.",
            "The ad impression is a native ad, and display (for example, image) format.",
            "The ad impression is a native ad, and video format.",
            "The ad impression is not a native ad, and display (for example, image) format.",
            "The ad impression is not a native ad, and video format."
          ],
          "enum": [
            "FORMAT_UNSPECIFIED",
            "NATIVE_DISPLAY",
            "NATIVE_VIDEO",
            "NON_NATIVE_DISPLAY",
            "NON_NATIVE_VIDEO"
          ]
        },
        "sellerNetworkIds": {
          "description": "For Authorized Buyers only. The list of IDs of the seller (publisher) networks on which to filter; may be empty. The filters represented by multiple seller network IDs are ORed together (for example, if non-empty, results must match any one of the publisher networks). See [seller-network-ids](https://developers.google.com/authorized-buyers/rtb/downloads/seller-network-ids) file for the set of existing seller network IDs.",
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "FilterSet"
    },
    "MarketplaceTargeting": {
      "properties": {
        "technologyTargeting": {
          "$ref": "TechnologyTargeting",
          "description": "Technology targeting information, for example, operating system, device category."
        },
        "videoTargeting": {
          "$ref": "VideoTargeting",
          "description": "Video targeting information."
        },
        "geoTargeting": {
          "description": "Geo criteria IDs to be included/excluded.",
          "$ref": "CriteriaTargeting"
        },
        "placementTargeting": {
          "description": "Placement targeting information, for example, URL, mobile applications.",
          "$ref": "PlacementTargeting"
        },
        "inventorySizeTargeting": {
          "description": "Inventory sizes to be included/excluded.",
          "$ref": "InventorySizeTargeting"
        }
      },
      "description": "Targeting represents different criteria that can be used by advertisers to target ad inventory. For example, they can choose to target ad requests only if the user is in the US. Multiple types of targeting are always applied as a logical AND, unless noted otherwise.",
      "id": "MarketplaceTargeting",
      "type": "object"
    },
    "VideoContent": {
      "type": "object",
      "id": "VideoContent",
      "description": "Video content for a creative.",
      "properties": {
        "videoUrl": {
          "description": "The URL to fetch a video ad.",
          "type": "string"
        },
        "videoVastXml": {
          "description": "The contents of a VAST document for a video ad. This document should conform to the VAST 2.0 or 3.0 standard.",
          "type": "string"
        }
      }
    },
    "NativeContent": {
      "id": "NativeContent",
      "type": "object",
      "properties": {
        "logo": {
          "$ref": "Image",
          "description": "A smaller image, for the advertiser's logo."
        },
        "headline": {
          "description": "A short title for the ad.",
          "type": "string"
        },
        "starRating": {
          "description": "The app rating in the app store. Must be in the range [0-5].",
          "format": "double",
          "type": "number"
        },
        "videoUrl": {
          "description": "The URL to fetch a native video ad.",
          "type": "string"
        },
        "body": {
          "description": "A long description of the ad.",
          "type": "string"
        },
        "appIcon": {
          "$ref": "Image",
          "description": "The app icon, for app download ads."
        },
        "clickTrackingUrl": {
          "description": "The URL to use for click tracking.",
          "type": "string"
        },
        "storeUrl": {
          "type": "string",
          "deprecated": true,
          "description": "The URL to the app store to purchase/download the promoted app."
        },
        "image": {
          "description": "A large image.",
          "$ref": "Image"
        },
        "clickLinkUrl": {
          "description": "The URL that the browser/SDK will load when the user clicks the ad.",
          "type": "string"
        },
        "priceDisplayText": {
          "description": "The price of the promoted app including currency info.",
          "type": "string"
        },
        "callToAction": {
          "description": "A label for the button that the user is supposed to click.",
          "type": "string"
        },
        "advertiserName": {
          "description": "The name of the advertiser or sponsor, to be displayed in the ad creative.",
          "type": "string"
        }
      },
      "description": "Native content for a creative."
    },
    "PublisherProfileMobileApplication": {
      "id": "PublisherProfileMobileApplication",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the app.",
          "type": "string"
        },
        "externalAppId": {
          "description": "The external ID for the app from its app store.",
          "type": "string"
        },
        "appStore": {
          "description": "The app store the app belongs to.",
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an unknown app store.",
            "Apple iTunes",
            "Google Play",
            "Roku",
            "Amazon Fire TV",
            "Playstation",
            "Xbox",
            "Samsung TV",
            "Amazon Appstore",
            "OPPO App Market",
            "Samsung Galaxy Store",
            "VIVO App Store",
            "Xiaomi GetApps",
            "LG TV"
          ],
          "enum": [
            "APP_STORE_TYPE_UNSPECIFIED",
            "APPLE_ITUNES",
            "GOOGLE_PLAY",
            "ROKU",
            "AMAZON_FIRETV",
            "PLAYSTATION",
            "XBOX",
            "SAMSUNG_TV",
            "AMAZON",
            "OPPO",
            "SAMSUNG",
            "VIVO",
            "XIAOMI",
            "LG_TV"
          ]
        }
      },
      "description": "A mobile application that contains a external app ID, name, and app store."
    },
    "Correction": {
      "type": "object",
      "id": "Correction",
      "description": "Output only. Shows any corrections that were applied to this creative.",
      "properties": {
        "details": {
          "type": "array",
          "description": "Additional details about what was corrected.",
          "items": {
            "type": "string"
          }
        },
        "contexts": {
          "description": "The contexts for the correction.",
          "items": {
            "$ref": "ServingContext"
          },
          "type": "array"
        },
        "type": {
          "description": "The type of correction that was applied to the creative.",
          "type": "string",
          "enumDescriptions": [
            "The correction type is unknown. Refer to the details for more information.",
            "The ad's declared vendors did not match the vendors that were detected. The detected vendors were added.",
            "The ad had the SSL attribute declared but was not SSL-compliant. The SSL attribute was removed.",
            "The ad was declared as Flash-free but contained Flash, so the Flash-free attribute was removed.",
            "The ad was not declared as Flash-free but it did not reference any flash content, so the Flash-free attribute was added.",
            "The ad did not declare a required creative attribute. The attribute was added.",
            "The ad did not declare a required technology vendor. The technology vendor was added.",
            "The ad did not declare the SSL attribute but was SSL-compliant, so the SSL attribute was added.",
            "Properties consistent with In-banner video were found, so an In-Banner Video attribute was added.",
            "The ad makes calls to the MRAID API so the MRAID attribute was added.",
            "The ad unnecessarily declared the Flash attribute, so the Flash attribute was removed.",
            "The ad contains video content."
          ],
          "enum": [
            "CORRECTION_TYPE_UNSPECIFIED",
            "VENDOR_IDS_ADDED",
            "SSL_ATTRIBUTE_REMOVED",
            "FLASH_FREE_ATTRIBUTE_REMOVED",
            "FLASH_FREE_ATTRIBUTE_ADDED",
            "REQUIRED_ATTRIBUTE_ADDED",
            "REQUIRED_VENDOR_ADDED",
            "SSL_ATTRIBUTE_ADDED",
            "IN_BANNER_VIDEO_ATTRIBUTE_ADDED",
            "MRAID_ATTRIBUTE_ADDED",
            "FLASH_ATTRIBUTE_REMOVED",
            "VIDEO_IN_SNIPPET_ATTRIBUTE_ADDED"
          ]
        }
      }
    },
    "ListLosingBidsResponse": {
      "description": "Response message for listing all reasons that bids lost in the auction.",
      "properties": {
        "creativeStatusRows": {
          "description": "List of rows, with counts of losing bids aggregated by loss reason (for example, creative status).",
          "items": {
            "$ref": "CreativeStatusRow"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the ListLosingBidsRequest.pageToken field in the subsequent call to the losingBids.list method to retrieve the next page of results.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListLosingBidsResponse"
    },
    "AddNoteRequest": {
      "description": "Request message for adding a note to a given proposal.",
      "properties": {
        "note": {
          "$ref": "Note",
          "description": "Details of the note to add."
        }
      },
      "type": "object",
      "id": "AddNoteRequest"
    },
    "DealServingMetadata": {
      "properties": {
        "dealPauseStatus": {
          "description": "Output only. Tracks which parties (if any) have paused a deal.",
          "readOnly": true,
          "$ref": "DealPauseStatus"
        }
      },
      "description": "Message captures metadata about the serving status of a deal.",
      "id": "DealServingMetadata",
      "type": "object"
    },
    "TechnologyTargeting": {
      "description": "Represents targeting about various types of technology.",
      "properties": {
        "operatingSystemTargeting": {
          "description": "Operating system related targeting information.",
          "$ref": "OperatingSystemTargeting"
        },
        "deviceCategoryTargeting": {
          "$ref": "CriteriaTargeting",
          "description": "IDs of device categories to be included/excluded."
        },
        "deviceCapabilityTargeting": {
          "description": "IDs of device capabilities to be included/excluded.",
          "$ref": "CriteriaTargeting"
        }
      },
      "type": "object",
      "id": "TechnologyTargeting"
    },
    "ListCreativeStatusBreakdownByDetailResponse": {
      "properties": {
        "filteredBidDetailRows": {
          "description": "List of rows, with counts of bids with a given creative status aggregated by detail.",
          "items": {
            "$ref": "FilteredBidDetailRow"
          },
          "type": "array"
        },
        "detailType": {
          "description": "The type of detail that the detail IDs represent.",
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined status. This value will never be returned in responses.",
            "Indicates that the detail ID refers to a creative attribute; see [publisher-excludable-creative-attributes](https://developers.google.com/authorized-buyers/rtb/downloads/publisher-excludable-creative-attributes).",
            "Indicates that the detail ID refers to a vendor; see [vendors](https://developers.google.com/authorized-buyers/rtb/downloads/vendors). This namespace is different from that of the `ATP_VENDOR` detail type.",
            "Indicates that the detail ID refers to a sensitive category; see [ad-sensitive-categories](https://developers.google.com/authorized-buyers/rtb/downloads/ad-sensitive-categories).",
            "Indicates that the detail ID refers to a product category; see [ad-product-categories](https://developers.google.com/authorized-buyers/rtb/downloads/ad-product-categories).",
            "Indicates that the detail ID refers to a disapproval reason; see DisapprovalReason enum in [snippet-status-report-proto](https://developers.google.com/authorized-buyers/rtb/downloads/snippet-status-report-proto).",
            "Indicates that the detail ID refers to a policy topic.",
            "Indicates that the detail ID refers to an ad technology provider (ATP); see [providers] (https://storage.googleapis.com/adx-rtb-dictionaries/providers.csv). This namespace is different from the `VENDOR` detail type; see [ad technology providers](https://support.google.com/admanager/answer/9012903) for more information.",
            "Indicates that the detail string refers the domain of an unknown vendor.",
            "Indicates that the detail ID refers an IAB GVL ID which Google did not detect in the latest TCF Vendor List. See [Global Vendor List] (https://vendor-list.consensu.org/v2/vendor-list.json)"
          ],
          "enum": [
            "DETAIL_TYPE_UNSPECIFIED",
            "CREATIVE_ATTRIBUTE",
            "VENDOR",
            "SENSITIVE_CATEGORY",
            "PRODUCT_CATEGORY",
            "DISAPPROVAL_REASON",
            "POLICY_TOPIC",
            "ATP_VENDOR",
            "VENDOR_DOMAIN",
            "GVL_ID"
          ]
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the ListCreativeStatusBreakdownByDetailRequest.pageToken field in the subsequent call to the filteredBids.details.list method to retrieve the next page of results.",
          "type": "string"
        }
      },
      "description": "Response message for listing all details associated with a given filtered bid reason.",
      "id": "ListCreativeStatusBreakdownByDetailResponse",
      "type": "object"
    },
    "InventorySizeTargeting": {
      "type": "object",
      "id": "InventorySizeTargeting",
      "description": "Represents the size of an ad unit that can be targeted on an ad request. It only applies to Private Auction, AdX Preferred Deals and Auction Packages. This targeting does not apply to Programmatic Guaranteed and Preferred Deals in Ad Manager.",
      "properties": {
        "targetedInventorySizes": {
          "type": "array",
          "description": "A list of inventory sizes to be included.",
          "items": {
            "$ref": "AdSize"
          }
        },
        "excludedInventorySizes": {
          "type": "array",
          "description": "A list of inventory sizes to be excluded.",
          "items": {
            "$ref": "AdSize"
          }
        }
      }
    },
    "OperatingSystemTargeting": {
      "properties": {
        "operatingSystemCriteria": {
          "description": "IDs of operating systems to be included/excluded.",
          "$ref": "CriteriaTargeting"
        },
        "operatingSystemVersionCriteria": {
          "description": "IDs of operating system versions to be included/excluded.",
          "$ref": "CriteriaTargeting"
        }
      },
      "description": "Represents targeting information for operating systems.",
      "id": "OperatingSystemTargeting",
      "type": "object"
    },
    "ListProductsResponse": {
      "properties": {
        "products": {
          "type": "array",
          "description": "The list of matching products at their head revision number.",
          "items": {
            "$ref": "Product"
          }
        },
        "nextPageToken": {
          "description": "List pagination support.",
          "type": "string"
        }
      },
      "description": "Response message for listing products visible to the buyer.",
      "id": "ListProductsResponse",
      "type": "object"
    },
    "ListBidResponsesWithoutBidsResponse": {
      "description": "Response message for listing all reasons that bid responses were considered to have no applicable bids.",
      "properties": {
        "bidResponseWithoutBidsStatusRows": {
          "type": "array",
          "description": "List of rows, with counts of bid responses without bids aggregated by status.",
          "items": {
            "$ref": "BidResponseWithoutBidsStatusRow"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the ListBidResponsesWithoutBidsRequest.pageToken field in the subsequent call to the bidResponsesWithoutBids.list method to retrieve the next page of results.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListBidResponsesWithoutBidsResponse"
    },
    "ListImpressionMetricsResponse": {
      "properties": {
        "impressionMetricsRows": {
          "type": "array",
          "description": "List of rows, each containing a set of impression metrics.",
          "items": {
            "$ref": "ImpressionMetricsRow"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the ListImpressionMetricsRequest.pageToken field in the subsequent call to the impressionMetrics.list method to retrieve the next page of results.",
          "type": "string"
        }
      },
      "description": "Response message for listing the metrics that are measured in number of impressions.",
      "id": "ListImpressionMetricsResponse",
      "type": "object"
    },
    "HtmlContent": {
      "id": "HtmlContent",
      "type": "object",
      "properties": {
        "width": {
          "description": "The width of the HTML snippet in pixels.",
          "format": "int32",
          "type": "integer"
        },
        "height": {
          "format": "int32",
          "description": "The height of the HTML snippet in pixels.",
          "type": "integer"
        },
        "snippet": {
          "description": "The HTML snippet that displays the ad when inserted in the web page.",
          "type": "string"
        }
      },
      "description": "HTML content for a creative."
    },
    "DayPart": {
      "description": "Daypart targeting message that specifies if the ad can be shown only during certain parts of a day/week.",
      "properties": {
        "startTime": {
          "$ref": "TimeOfDay",
          "description": "The starting time of day for the ad to show (minute level granularity). The start time is inclusive. This field is not available for filtering in PQL queries."
        },
        "endTime": {
          "$ref": "TimeOfDay",
          "description": "The ending time of the day for the ad to show (minute level granularity). The end time is exclusive. This field is not available for filtering in PQL queries."
        },
        "dayOfWeek": {
          "description": "The day of the week to target. If unspecified, applicable to all days.",
          "type": "string",
          "enumDescriptions": [
            "A placeholder for when the day of the week is not specified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ]
        }
      },
      "type": "object",
      "id": "DayPart"
    },
    "AdTechnologyProviders": {
      "type": "object",
      "id": "AdTechnologyProviders",
      "description": "Detected ad technology provider information.",
      "properties": {
        "detectedProviderIds": {
          "type": "array",
          "description": "The detected ad technology provider IDs for this creative. See https://storage.googleapis.com/adx-rtb-dictionaries/providers.csv for mapping of provider ID to provided name, a privacy policy URL, and a list of domains which can be attributed to the provider. If the creative contains provider IDs that are outside of those listed in the `BidRequest.adslot.consented_providers_settings.consented_providers` field on the (Google bid protocol)[https://developers.google.com/authorized-buyers/rtb/downloads/realtime-bidding-proto] and the `BidRequest.user.ext.consented_providers_settings.consented_providers` field on the (OpenRTB protocol)[https://developers.google.com/authorized-buyers/rtb/downloads/openrtb-adx-proto], and a bid is submitted with that creative for an impression that will serve to an EEA user, the bid will be filtered before the auction.",
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "hasUnidentifiedProvider": {
          "description": "Whether the creative contains an unidentified ad technology provider. If true for a given creative, any bid submitted with that creative for an impression that will serve to an EEA user will be filtered before the auction.",
          "type": "boolean"
        }
      }
    },
    "DayPartTargeting": {
      "id": "DayPartTargeting",
      "type": "object",
      "properties": {
        "timeZoneType": {
          "description": "The timezone to use for interpreting the day part targeting.",
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined time zone source.",
            "Use publisher's time zone setting.",
            "Use the user's time zone setting."
          ],
          "enum": [
            "TIME_ZONE_SOURCE_UNSPECIFIED",
            "PUBLISHER",
            "USER"
          ]
        },
        "dayParts": {
          "type": "array",
          "description": "A list of day part targeting criterion.",
          "items": {
            "$ref": "DayPart"
          }
        }
      },
      "description": "Specifies the day part targeting criteria."
    },
    "AbsoluteDateRange": {
      "description": "An absolute date range, specified by its start date and end date. The supported range of dates begins 30 days before today and ends today. Validity checked upon filter set creation. If a filter set with an absolute date range is run at a later date more than 30 days after start_date, it will fail.",
      "properties": {
        "startDate": {
          "$ref": "Date",
          "description": "The start date of the range (inclusive). Must be within the 30 days leading up to current date, and must be equal to or before end_date."
        },
        "endDate": {
          "description": "The end date of the range (inclusive). Must be within the 30 days leading up to current date, and must be equal to or after start_date.",
          "$ref": "Date"
        }
      },
      "type": "object",
      "id": "AbsoluteDateRange"
    },
    "Size": {
      "description": "Message depicting the size of the creative. The units of width and height depend on the type of the targeting.",
      "properties": {
        "width": {
          "format": "int32",
          "description": "The width of the creative",
          "type": "integer"
        },
        "height": {
          "type": "integer",
          "description": "The height of the creative.",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "Size"
    },
    "VideoTargeting": {
      "id": "VideoTargeting",
      "type": "object",
      "properties": {
        "targetedPositionTypes": {
          "type": "array",
          "description": "A list of video positions to be included. When the included list is present, the excluded list must be empty. When the excluded list is present, the included list must be empty.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "A placeholder for an undefined video position.",
              "Ad is played before the video.",
              "Ad is played during the video.",
              "Ad is played after the video."
            ],
            "enum": [
              "POSITION_TYPE_UNSPECIFIED",
              "PREROLL",
              "MIDROLL",
              "POSTROLL"
            ]
          }
        },
        "excludedPositionTypes": {
          "type": "array",
          "description": "A list of video positions to be excluded. Position types can either be included or excluded (XOR).",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "A placeholder for an undefined video position.",
              "Ad is played before the video.",
              "Ad is played during the video.",
              "Ad is played after the video."
            ],
            "enum": [
              "POSITION_TYPE_UNSPECIFIED",
              "PREROLL",
              "MIDROLL",
              "POSTROLL"
            ]
          }
        }
      },
      "description": "Represents targeting information about video."
    },
    "TargetingValue": {
      "id": "TargetingValue",
      "type": "object",
      "properties": {
        "stringValue": {
          "description": "The string value to include/exclude.",
          "type": "string"
        },
        "creativeSizeValue": {
          "$ref": "CreativeSize",
          "description": "The creative size value to include/exclude. Filled in when key = GOOG_CREATIVE_SIZE"
        },
        "longValue": {
          "description": "The long value to include/exclude.",
          "format": "int64",
          "type": "string"
        },
        "dayPartTargetingValue": {
          "$ref": "DayPartTargeting",
          "description": "The daypart targeting to include / exclude. Filled in when the key is GOOG_DAYPART_TARGETING. The definition of this targeting is derived from the structure used by Ad Manager."
        }
      },
      "description": "A polymorphic targeting value used as part of Shared Targeting."
    },
    "Price": {
      "properties": {
        "pricingType": {
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined pricing type. If the pricing type is unspecified, `COST_PER_MILLE` will be used instead.",
            "Cost per thousand impressions.",
            "Cost per day"
          ],
          "enum": [
            "PRICING_TYPE_UNSPECIFIED",
            "COST_PER_MILLE",
            "COST_PER_DAY"
          ],
          "description": "The pricing type for the deal/product. (default: CPM)"
        },
        "amount": {
          "$ref": "Money",
          "description": "The actual price with currency specified."
        }
      },
      "description": "Represents a price and a pricing type for a product / deal.",
      "id": "Price",
      "type": "object"
    },
    "TimeOfDay": {
      "properties": {
        "seconds": {
          "format": "int32",
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds.",
          "type": "integer"
        },
        "hours": {
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "format": "int32",
          "type": "integer"
        },
        "nanos": {
          "type": "integer",
          "format": "int32",
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999."
        },
        "minutes": {
          "format": "int32",
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59.",
          "type": "integer"
        }
      },
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`.",
      "id": "TimeOfDay",
      "type": "object"
    },
    "Disapproval": {
      "type": "object",
      "id": "Disapproval",
      "description": "Output only. The reason and details for a disapproval.",
      "properties": {
        "reason": {
          "description": "The categorized reason for disapproval.",
          "type": "string",
          "enumDescriptions": [
            "The length of the image animation is longer than allowed.",
            "The click through URL doesn't work properly.",
            "Something is wrong with the creative itself.",
            "The ad makes a fourth party call to an unapproved vendor.",
            "The ad targets consumers using remarketing lists and/or collects data for subsequent use in retargeting, but does not correctly declare that use.",
            "Clicking on the ad leads to an error page.",
            "The ad size when rendered does not match the declaration.",
            "Ads with a white background require a border, which was missing.",
            "The creative attempts to set cookies from a fourth party that is not certified.",
            "The creative sets an LSO object.",
            "The ad serves a blank.",
            "The ad uses rotation, but not all destination URLs were declared.",
            "There is a problem with the way the click macro is used.",
            "The ad technology declaration is not accurate.",
            "The actual destination URL does not match the declared destination URL.",
[...]
