{
  "servicePath": "",
  "mtlsRootUrl": "https://adexchangebuyer.mtls.googleapis.com/",
  "basePath": "",
  "parameters": {
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "location": "query",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    }
  },
  "description": "Access the latest features for managing Authorized Buyers accounts, Real-Time Bidding configurations and auction metrics, and Marketplace programmatic deals.",
  "id": "adexchangebuyer2:v2beta1",
  "discoveryVersion": "v1",
  "title": "Ad Exchange Buyer API II",
  "version": "v2beta1",
  "version_module": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "resources": {
    "buyers": {
      "resources": {
        "filterSets": {
          "methods": {
            "list": {
              "path": "v2beta1/{+ownerName}/filterSets",
              "httpMethod": "GET",
              "parameters": {
                "ownerName": {
                  "pattern": "^buyers/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Name of the owner (bidder or account) of the filter sets to be listed. For example: - For a bidder-level filter set for bidder 123: `bidders/123` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456`"
                },
                "pageSize": {
                  "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "A token identifying a page of results the server should return. Typically, this is the value of ListFilterSetsResponse.nextPageToken returned from the previous call to the accounts.filterSets.list method.",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "ownerName"
              ],
              "id": "adexchangebuyer2.buyers.filterSets.list",
              "description": "Lists all filter sets for the account with the given account ID.",
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "response": {
                "$ref": "ListFilterSetsResponse"
              },
              "flatPath": "v2beta1/buyers/{buyersId}/filterSets"
            },
            "create": {
              "id": "adexchangebuyer2.buyers.filterSets.create",
              "description": "Creates the specified filter set for the account with the given account ID.",
              "parameterOrder": [
                "ownerName"
              ],
              "parameters": {
                "ownerName": {
                  "required": true,
                  "description": "Name of the owner (bidder or account) of the filter set to be created. For example: - For a bidder-level filter set for bidder 123: `bidders/123` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456`",
                  "pattern": "^buyers/[^/]+$",
                  "location": "path",
                  "type": "string"
                },
                "isTransient": {
                  "description": "Whether the filter set is transient, or should be persisted indefinitely. By default, filter sets are not transient. If transient, it will be available for at least 1 hour after creation.",
                  "location": "query",
                  "type": "boolean"
                }
              },
              "request": {
                "$ref": "FilterSet"
              },
              "flatPath": "v2beta1/buyers/{buyersId}/filterSets",
              "response": {
                "$ref": "FilterSet"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "httpMethod": "POST",
              "path": "v2beta1/{+ownerName}/filterSets"
            },
            "get": {
              "httpMethod": "GET",
              "path": "v2beta1/{+name}",
              "flatPath": "v2beta1/buyers/{buyersId}/filterSets/{filterSetsId}",
              "response": {
                "$ref": "FilterSet"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "id": "adexchangebuyer2.buyers.filterSets.get",
              "description": "Retrieves the requested filter set for the account with the given account ID.",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Full name of the resource being requested. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                  "pattern": "^buyers/[^/]+/filterSets/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              }
            },
            "delete": {
              "path": "v2beta1/{+name}",
              "httpMethod": "DELETE",
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "flatPath": "v2beta1/buyers/{buyersId}/filterSets/{filterSetsId}",
              "parameters": {
                "name": {
                  "description": "Full name of the resource to delete. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^buyers/[^/]+/filterSets/[^/]+$"
                }
              },
              "id": "adexchangebuyer2.buyers.filterSets.delete",
              "description": "Deletes the requested filter set from the account with the given account ID.",
              "parameterOrder": [
                "name"
              ]
            }
          },
          "resources": {
            "bidMetrics": {
              "methods": {
                "list": {
                  "path": "v2beta1/{+filterSetName}/bidMetrics",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListBidMetricsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ],
                  "flatPath": "v2beta1/buyers/{buyersId}/filterSets/{filterSetsId}/bidMetrics",
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default."
                    },
                    "pageToken": {
                      "description": "A token identifying a page of results the server should return. Typically, this is the value of ListBidMetricsResponse.nextPageToken returned from the previous call to the bidMetrics.list method.",
                      "location": "query",
                      "type": "string"
                    },
                    "filterSetName": {
                      "description": "Name of the filter set that should be applied to the requested metrics. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^buyers/[^/]+/filterSets/[^/]+$"
                    }
                  },
                  "id": "adexchangebuyer2.buyers.filterSets.bidMetrics.list",
                  "description": "Lists all metrics that are measured in terms of number of bids.",
                  "parameterOrder": [
                    "filterSetName"
                  ]
                }
              }
            },
            "losingBids": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "filterSetName"
                  ],
                  "id": "adexchangebuyer2.buyers.filterSets.losingBids.list",
                  "description": "List all reasons for which bids lost in the auction, with the number of bids that lost for each reason.",
                  "parameters": {
                    "filterSetName": {
                      "pattern": "^buyers/[^/]+/filterSets/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Name of the filter set that should be applied to the requested metrics. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default.",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "A token identifying a page of results the server should return. Typically, this is the value of ListLosingBidsResponse.nextPageToken returned from the previous call to the losingBids.list method.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "flatPath": "v2beta1/buyers/{buyersId}/filterSets/{filterSetsId}/losingBids",
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ],
                  "response": {
                    "$ref": "ListLosingBidsResponse"
                  },
                  "httpMethod": "GET",
                  "path": "v2beta1/{+filterSetName}/losingBids"
                }
              }
            },
            "filteredBidRequests": {
              "methods": {
                "list": {
                  "id": "adexchangebuyer2.buyers.filterSets.filteredBidRequests.list",
                  "description": "List all reasons that caused a bid request not to be sent for an impression, with the number of bid requests not sent for each reason.",
                  "parameterOrder": [
                    "filterSetName"
                  ],
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default.",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "A token identifying a page of results the server should return. Typically, this is the value of ListFilteredBidRequestsResponse.nextPageToken returned from the previous call to the filteredBidRequests.list method."
                    },
                    "filterSetName": {
                      "required": true,
                      "description": "Name of the filter set that should be applied to the requested metrics. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                      "location": "path",
                      "type": "string",
                      "pattern": "^buyers/[^/]+/filterSets/[^/]+$"
                    }
                  },
                  "flatPath": "v2beta1/buyers/{buyersId}/filterSets/{filterSetsId}/filteredBidRequests",
                  "response": {
                    "$ref": "ListFilteredBidRequestsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ],
                  "httpMethod": "GET",
                  "path": "v2beta1/{+filterSetName}/filteredBidRequests"
                }
              }
            },
            "bidResponseErrors": {
              "methods": {
                "list": {
                  "flatPath": "v2beta1/buyers/{buyersId}/filterSets/{filterSetsId}/bidResponseErrors",
                  "response": {
                    "$ref": "ListBidResponseErrorsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ],
                  "id": "adexchangebuyer2.buyers.filterSets.bidResponseErrors.list",
                  "description": "List all errors that occurred in bid responses, with the number of bid responses affected for each reason.",
                  "parameterOrder": [
                    "filterSetName"
                  ],
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default.",
                      "format": "int32"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "A token identifying a page of results the server should return. Typically, this is the value of ListBidResponseErrorsResponse.nextPageToken returned from the previous call to the bidResponseErrors.list method."
                    },
                    "filterSetName": {
                      "pattern": "^buyers/[^/]+/filterSets/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Name of the filter set that should be applied to the requested metrics. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`"
                    }
                  },
                  "httpMethod": "GET",
                  "path": "v2beta1/{+filterSetName}/bidResponseErrors"
                }
              }
            },
            "impressionMetrics": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "path": "v2beta1/{+filterSetName}/impressionMetrics",
                  "id": "adexchangebuyer2.buyers.filterSets.impressionMetrics.list",
                  "description": "Lists all metrics that are measured in terms of number of impressions.",
                  "parameterOrder": [
                    "filterSetName"
                  ],
                  "parameters": {
                    "filterSetName": {
                      "description": "Name of the filter set that should be applied to the requested metrics. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                      "required": true,
                      "pattern": "^buyers/[^/]+/filterSets/[^/]+$",
                      "location": "path",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default."
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "A token identifying a page of results the server should return. Typically, this is the value of ListImpressionMetricsResponse.nextPageToken returned from the previous call to the impressionMetrics.list method."
                    }
                  },
                  "flatPath": "v2beta1/buyers/{buyersId}/filterSets/{filterSetsId}/impressionMetrics",
                  "response": {
                    "$ref": "ListImpressionMetricsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ]
                }
              }
            },
            "bidResponsesWithoutBids": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "path": "v2beta1/{+filterSetName}/bidResponsesWithoutBids",
                  "flatPath": "v2beta1/buyers/{buyersId}/filterSets/{filterSetsId}/bidResponsesWithoutBids",
                  "response": {
                    "$ref": "ListBidResponsesWithoutBidsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ],
                  "id": "adexchangebuyer2.buyers.filterSets.bidResponsesWithoutBids.list",
                  "description": "List all reasons for which bid responses were considered to have no applicable bids, with the number of bid responses affected for each reason.",
                  "parameterOrder": [
                    "filterSetName"
                  ],
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default.",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "A token identifying a page of results the server should return. Typically, this is the value of ListBidResponsesWithoutBidsResponse.nextPageToken returned from the previous call to the bidResponsesWithoutBids.list method.",
                      "location": "query",
                      "type": "string"
                    },
                    "filterSetName": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^buyers/[^/]+/filterSets/[^/]+$",
                      "description": "Name of the filter set that should be applied to the requested metrics. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                      "required": true
                    }
                  }
                }
              }
            },
            "filteredBids": {
              "methods": {
                "list": {
                  "id": "adexchangebuyer2.buyers.filterSets.filteredBids.list",
                  "description": "List all reasons for which bids were filtered, with the number of bids filtered for each reason.",
                  "parameterOrder": [
                    "filterSetName"
                  ],
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default.",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "A token identifying a page of results the server should return. Typically, this is the value of ListFilteredBidsResponse.nextPageToken returned from the previous call to the filteredBids.list method.",
                      "location": "query",
                      "type": "string"
                    },
                    "filterSetName": {
                      "description": "Name of the filter set that should be applied to the requested metrics. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                      "required": true,
                      "pattern": "^buyers/[^/]+/filterSets/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "flatPath": "v2beta1/buyers/{buyersId}/filterSets/{filterSetsId}/filteredBids",
                  "response": {
                    "$ref": "ListFilteredBidsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ],
                  "httpMethod": "GET",
                  "path": "v2beta1/{+filterSetName}/filteredBids"
                }
              },
              "resources": {
                "details": {
                  "methods": {
                    "list": {
                      "httpMethod": "GET",
                      "path": "v2beta1/{+filterSetName}/filteredBids/{creativeStatusId}/details",
                      "parameterOrder": [
                        "filterSetName",
                        "creativeStatusId"
                      ],
                      "id": "adexchangebuyer2.buyers.filterSets.filteredBids.details.list",
                      "description": "List all details associated with a specific reason for which bids were filtered, with the number of bids filtered for each detail.",
                      "parameters": {
                        "filterSetName": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^buyers/[^/]+/filterSets/[^/]+$",
                          "description": "Name of the filter set that should be applied to the requested metrics. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                          "required": true
                        },
                        "creativeStatusId": {
                          "required": true,
                          "description": "The ID of the creative status for which to retrieve a breakdown by detail. See [creative-status-codes](https://developers.google.com/authorized-buyers/rtb/downloads/creative-status-codes). Details are only available for statuses 10, 14, 15, 17, 18, 19, 86, and 87.",
                          "format": "int32",
                          "location": "path",
                          "type": "integer"
                        },
                        "pageSize": {
                          "format": "int32",
                          "location": "query",
                          "type": "integer",
                          "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default."
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "A token identifying a page of results the server should return. Typically, this is the value of ListCreativeStatusBreakdownByDetailResponse.nextPageToken returned from the previous call to the filteredBids.details.list method."
                        }
                      },
                      "flatPath": "v2beta1/buyers/{buyersId}/filterSets/{filterSetsId}/filteredBids/{creativeStatusId}/details",
                      "scopes": [
                        "https://www.googleapis.com/auth/adexchange.buyer"
                      ],
                      "response": {
                        "$ref": "ListCreativeStatusBreakdownByDetailResponse"
                      }
                    }
                  }
                },
                "creatives": {
                  "methods": {
                    "list": {
                      "parameters": {
                        "filterSetName": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^buyers/[^/]+/filterSets/[^/]+$",
                          "required": true,
                          "description": "Name of the filter set that should be applied to the requested metrics. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`"
                        },
                        "creativeStatusId": {
                          "location": "path",
                          "type": "integer",
                          "format": "int32",
                          "description": "The ID of the creative status for which to retrieve a breakdown by creative. See [creative-status-codes](https://developers.google.com/authorized-buyers/rtb/downloads/creative-status-codes).",
                          "required": true
                        },
                        "pageSize": {
                          "format": "int32",
                          "location": "query",
                          "type": "integer",
                          "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default."
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "A token identifying a page of results the server should return. Typically, this is the value of ListCreativeStatusBreakdownByCreativeResponse.nextPageToken returned from the previous call to the filteredBids.creatives.list method."
                        }
                      },
                      "parameterOrder": [
                        "filterSetName",
                        "creativeStatusId"
                      ],
                      "id": "adexchangebuyer2.buyers.filterSets.filteredBids.creatives.list",
                      "description": "List all creatives associated with a specific reason for which bids were filtered, with the number of bids filtered for each creative.",
                      "scopes": [
                        "https://www.googleapis.com/auth/adexchange.buyer"
                      ],
                      "response": {
                        "$ref": "ListCreativeStatusBreakdownByCreativeResponse"
                      },
                      "flatPath": "v2beta1/buyers/{buyersId}/filterSets/{filterSetsId}/filteredBids/{creativeStatusId}/creatives",
                      "path": "v2beta1/{+filterSetName}/filteredBids/{creativeStatusId}/creatives",
                      "httpMethod": "GET"
                    }
                  }
                }
              }
            },
            "nonBillableWinningBids": {
              "methods": {
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ],
                  "response": {
                    "$ref": "ListNonBillableWinningBidsResponse"
                  },
                  "flatPath": "v2beta1/buyers/{buyersId}/filterSets/{filterSetsId}/nonBillableWinningBids",
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default.",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "A token identifying a page of results the server should return. Typically, this is the value of ListNonBillableWinningBidsResponse.nextPageToken returned from the previous call to the nonBillableWinningBids.list method.",
                      "location": "query",
                      "type": "string"
                    },
                    "filterSetName": {
                      "description": "Name of the filter set that should be applied to the requested metrics. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^buyers/[^/]+/filterSets/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "filterSetName"
                  ],
                  "id": "adexchangebuyer2.buyers.filterSets.nonBillableWinningBids.list",
                  "description": "List all reasons for which winning bids were not billable, with the number of bids not billed for each reason.",
                  "path": "v2beta1/{+filterSetName}/nonBillableWinningBids",
                  "httpMethod": "GET"
                }
              }
            }
          }
        }
      }
    },
    "accounts": {
      "resources": {
        "creatives": {
          "methods": {
            "create": {
              "path": "v2beta1/accounts/{accountId}/creatives",
              "httpMethod": "POST",
              "parameters": {
                "accountId": {
                  "required": true,
                  "description": "The account that this creative belongs to. Can be used to filter the response of the creatives.list method.",
                  "location": "path",
                  "type": "string"
                },
                "duplicateIdMode": {
                  "description": "Indicates if multiple creatives can share an ID or not. Default is NO_DUPLICATES (one ID per creative).",
                  "enum": [
                    "NO_DUPLICATES",
                    "FORCE_ENABLE_DUPLICATE_IDS"
                  ],
                  "enumDescriptions": [
                    "Recommended. This means that an ID will be unique to a single creative. Multiple creatives will not share an ID.",
                    "Not recommended. Using this option will allow multiple creatives to share the same ID. Get and Update requests will not be possible for any ID that has more than one creative associated. (List will still function.) This is only intended for backwards compatibility in cases where a single ID is already shared by multiple creatives from previous APIs."
                  ],
                  "location": "query",
                  "type": "string"
                }
              },
              "id": "adexchangebuyer2.accounts.creatives.create",
              "description": "Creates a creative.",
              "parameterOrder": [
                "accountId"
              ],
              "response": {
                "$ref": "Creative"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "request": {
                "$ref": "Creative"
              },
              "flatPath": "v2beta1/accounts/{accountId}/creatives"
            },
            "update": {
              "httpMethod": "PUT",
              "path": "v2beta1/accounts/{accountId}/creatives/{creativeId}",
              "parameterOrder": [
                "accountId",
                "creativeId"
              ],
              "id": "adexchangebuyer2.accounts.creatives.update",
              "description": "Updates a creative.",
              "parameters": {
                "creativeId": {
                  "required": true,
                  "description": "The buyer-defined creative ID of this creative. Can be used to filter the response of the creatives.list method.",
                  "location": "path",
                  "type": "string"
                },
                "accountId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The account that this creative belongs to. Can be used to filter the response of the creatives.list method."
                }
              },
              "flatPath": "v2beta1/accounts/{accountId}/creatives/{creativeId}",
              "request": {
                "$ref": "Creative"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "response": {
                "$ref": "Creative"
              }
            },
            "get": {
              "httpMethod": "GET",
              "path": "v2beta1/accounts/{accountId}/creatives/{creativeId}",
              "flatPath": "v2beta1/accounts/{accountId}/creatives/{creativeId}",
              "response": {
                "$ref": "Creative"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "id": "adexchangebuyer2.accounts.creatives.get",
              "description": "Gets a creative.",
              "parameterOrder": [
                "accountId",
                "creativeId"
              ],
              "parameters": {
                "creativeId": {
                  "location": "path",
                  "type": "string",
                  "description": "The ID of the creative to retrieve.",
                  "required": true
                },
                "accountId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The account the creative belongs to."
                }
              }
            },
            "watch": {
              "parameterOrder": [
                "accountId",
                "creativeId"
              ],
              "id": "adexchangebuyer2.accounts.creatives.watch",
              "description": "Watches a creative. Will result in push notifications being sent to the topic when the creative changes status.",
              "parameters": {
                "accountId": {
                  "required": true,
                  "description": "The account of the creative to watch.",
                  "location": "path",
                  "type": "string"
                },
                "creativeId": {
                  "description": "The creative ID to watch for status changes. Specify \"-\" to watch all creatives under the above account. If both creative-level and account-level notifications are sent, only a single notification will be sent to the creative-level notification topic.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "flatPath": "v2beta1/accounts/{accountId}/creatives/{creativeId}:watch",
              "request": {
                "$ref": "WatchCreativeRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "response": {
                "$ref": "Empty"
              },
              "httpMethod": "POST",
              "path": "v2beta1/accounts/{accountId}/creatives/{creativeId}:watch"
            },
            "list": {
              "path": "v2beta1/accounts/{accountId}/creatives",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListCreativesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "flatPath": "v2beta1/accounts/{accountId}/creatives",
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "description": "Requested page size. The server may return fewer creatives than requested (due to timeout constraint) even if more are available through another call. If unspecified, server will pick an appropriate default. Acceptable values are 1 to 1000, inclusive.",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A token identifying a page of results the server should return. Typically, this is the value of ListCreativesResponse.next_page_token returned from the previous call to 'ListCreatives' method."
                },
                "query": {
                  "location": "query",
                  "type": "string",
                  "description": "An optional query string to filter creatives. If no filter is specified, all active creatives will be returned. Supported queries are: - accountId=*account_id_string* - creativeId=*creative_id_string* - dealsStatus: {approved, conditionally_approved, disapproved, not_checked} - openAuctionStatus: {approved, conditionally_approved, disapproved, not_checked} - attribute: {a numeric attribute from the list of attributes} - disapprovalReason: {a reason from DisapprovalReason} Example: 'accountId=12345 AND (dealsStatus:disapproved AND disapprovalReason:unacceptable_content) OR attribute:47'"
                },
                "accountId": {
                  "description": "The account to list the creatives from. Specify \"-\" to list all creatives the current user has access to.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "id": "adexchangebuyer2.accounts.creatives.list",
              "description": "Lists creatives.",
              "parameterOrder": [
                "accountId"
              ]
            },
            "stopWatching": {
              "httpMethod": "POST",
              "path": "v2beta1/accounts/{accountId}/creatives/{creativeId}:stopWatching",
              "parameterOrder": [
                "accountId",
                "creativeId"
              ],
              "id": "adexchangebuyer2.accounts.creatives.stopWatching",
              "description": "Stops watching a creative. Will stop push notifications being sent to the topics when the creative changes status.",
              "parameters": {
                "accountId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The account of the creative to stop notifications for."
                },
                "creativeId": {
                  "description": "The creative ID of the creative to stop notifications for. Specify \"-\" to specify stopping account level notifications.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "flatPath": "v2beta1/accounts/{accountId}/creatives/{creativeId}:stopWatching",
              "request": {
                "$ref": "StopWatchingCreativeRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "response": {
                "$ref": "Empty"
              }
            }
          },
          "resources": {
            "dealAssociations": {
              "methods": {
                "remove": {
                  "httpMethod": "POST",
                  "path": "v2beta1/accounts/{accountId}/creatives/{creativeId}/dealAssociations:remove",
                  "id": "adexchangebuyer2.accounts.creatives.dealAssociations.remove",
                  "description": "Remove the association between a deal and a creative.",
                  "parameterOrder": [
                    "accountId",
                    "creativeId"
                  ],
                  "parameters": {
                    "accountId": {
                      "location": "path",
                      "type": "string",
                      "description": "The account the creative belongs to.",
                      "required": true
                    },
                    "creativeId": {
                      "description": "The ID of the creative associated with the deal.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "RemoveDealAssociationRequest"
                  },
                  "flatPath": "v2beta1/accounts/{accountId}/creatives/{creativeId}/dealAssociations:remove",
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ]
                },
                "add": {
                  "httpMethod": "POST",
                  "path": "v2beta1/accounts/{accountId}/creatives/{creativeId}/dealAssociations:add",
                  "id": "adexchangebuyer2.accounts.creatives.dealAssociations.add",
                  "description": "Associate an existing deal with a creative.",
                  "parameterOrder": [
                    "accountId",
                    "creativeId"
                  ],
                  "parameters": {
                    "creativeId": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "The ID of the creative associated with the deal."
                    },
                    "accountId": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "The account the creative belongs to."
                    }
                  },
                  "request": {
                    "$ref": "AddDealAssociationRequest"
                  },
                  "flatPath": "v2beta1/accounts/{accountId}/creatives/{creativeId}/dealAssociations:add",
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ]
                },
                "list": {
                  "path": "v2beta1/accounts/{accountId}/creatives/{creativeId}/dealAssociations",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ],
                  "response": {
                    "$ref": "ListDealAssociationsResponse"
                  },
                  "flatPath": "v2beta1/accounts/{accountId}/creatives/{creativeId}/dealAssociations",
                  "parameters": {
                    "creativeId": {
                      "description": "The creative ID to list the associations from. Specify \"-\" to list all creatives under the above account.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "Requested page size. Server may return fewer associations than requested. If unspecified, server will pick an appropriate default."
                    },
                    "pageToken": {
                      "description": "A token identifying a page of results the server should return. Typically, this is the value of ListDealAssociationsResponse.next_page_token returned from the previous call to 'ListDealAssociations' method.",
                      "location": "query",
                      "type": "string"
                    },
                    "query": {
                      "description": "An optional query string to filter deal associations. If no filter is specified, all associations will be returned. Supported queries are: - accountId=*account_id_string* - creativeId=*creative_id_string* - dealsId=*deals_id_string* - dealsStatus:{approved, conditionally_approved, disapproved, not_checked} - openAuctionStatus:{approved, conditionally_approved, disapproved, not_checked} Example: 'dealsId=12345 AND dealsStatus:disapproved'",
                      "location": "query",
                      "type": "string"
                    },
                    "accountId": {
                      "location": "path",
                      "type": "string",
                      "description": "The account to list the associations from. Specify \"-\" to list all creatives the current user has access to.",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "accountId",
                    "creativeId"
                  ],
                  "id": "adexchangebuyer2.accounts.creatives.dealAssociations.list",
                  "description": "List all creative-deal associations."
                }
              }
            }
          }
        },
        "proposals": {
          "methods": {
            "create": {
              "flatPath": "v2beta1/accounts/{accountId}/proposals",
              "request": {
                "$ref": "Proposal"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "response": {
                "$ref": "Proposal"
              },
              "parameterOrder": [
                "accountId"
              ],
              "id": "adexchangebuyer2.accounts.proposals.create",
              "description": "Create the given proposal. Each created proposal and any deals it contains are assigned a unique ID by the server.",
              "parameters": {
                "accountId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Account ID of the buyer."
                }
              },
              "httpMethod": "POST",
              "path": "v2beta1/accounts/{accountId}/proposals"
            },
            "update": {
              "response": {
                "$ref": "Proposal"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "request": {
                "$ref": "Proposal"
              },
              "flatPath": "v2beta1/accounts/{accountId}/proposals/{proposalId}",
              "parameters": {
                "accountId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Account ID of the buyer."
                },
                "proposalId": {
                  "required": true,
                  "description": "The unique ID of the proposal.",
                  "location": "path",
                  "type": "string"
                }
              },
              "id": "adexchangebuyer2.accounts.proposals.update",
              "description": "Update the given proposal at the client known revision number. If the server revision has advanced since the passed-in `proposal.proposal_revision`, an `ABORTED` error message will be returned. Only the buyer-modifiable fields of the proposal will be updated. Note that the deals in the proposal will be updated to match the passed-in copy. If a passed-in deal does not have a `deal_id`, the server will assign a new unique ID and create the deal. If passed-in deal has a `deal_id`, it will be updated to match the passed-in copy. Any existing deals not present in the passed-in proposal will be deleted. It is an error to pass in a deal with a `deal_id` not present at head.",
              "parameterOrder": [
                "accountId",
                "proposalId"
              ],
              "path": "v2beta1/accounts/{accountId}/proposals/{proposalId}",
              "httpMethod": "PUT"
            },
            "pause": {
              "httpMethod": "POST",
              "path": "v2beta1/accounts/{accountId}/proposals/{proposalId}:pause",
              "flatPath": "v2beta1/accounts/{accountId}/proposals/{proposalId}:pause",
              "request": {
                "$ref": "PauseProposalRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "response": {
                "$ref": "Proposal"
              },
              "parameterOrder": [
                "accountId",
                "proposalId"
              ],
              "id": "adexchangebuyer2.accounts.proposals.pause",
              "description": "Update the given proposal to pause serving. This method will set the `DealServingMetadata.DealPauseStatus.has_buyer_paused` bit to true for all deals in the proposal. It is a no-op to pause an already-paused proposal. It is an error to call PauseProposal for a proposal that is not finalized or renegotiating.",
              "parameters": {
                "accountId": {
                  "required": true,
                  "description": "Account ID of the buyer.",
                  "location": "path",
                  "type": "string"
                },
                "proposalId": {
                  "description": "The ID of the proposal to pause.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              }
            },
            "list": {
              "path": "v2beta1/accounts/{accountId}/proposals",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListProposalsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "flatPath": "v2beta1/accounts/{accountId}/proposals",
              "parameters": {
                "filter": {
                  "description": "An optional PQL filter query used to query for proposals. Nested repeated fields, such as proposal.deals.targetingCriterion, cannot be filtered.",
                  "location": "query",
                  "type": "string"
                },
                "accountId": {
                  "location": "path",
                  "type": "string",
                  "description": "Account ID of the buyer.",
                  "required": true
                },
                "pageSize": {
                  "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "The page token as returned from ListProposalsResponse.",
                  "location": "query",
                  "type": "string"
                },
                "filterSyntax": {
                  "description": "Syntax the filter is written in. Current implementation defaults to PQL but in the future it will be LIST_FILTER.",
                  "enum": [
                    "FILTER_SYNTAX_UNSPECIFIED",
                    "PQL",
                    "LIST_FILTER"
                  ],
                  "enumDescriptions": [
                    "A placeholder for an undefined filter syntax.",
                    "PQL query syntax. Visit https://developers.google.com/ad-manager/api/pqlreference for PQL documentation and examples.",
                    "API list filtering syntax. Read about syntax and usage at https://developers.google.com/authorized-buyers/apis/guides/v2/list-filters."
                  ],
                  "location": "query",
                  "type": "string"
                }
              },
              "id": "adexchangebuyer2.accounts.proposals.list",
              "description": "List proposals. A filter expression (PQL query) may be specified to filter the results. To retrieve all finalized proposals, regardless if a proposal is being renegotiated, see the FinalizedProposals resource. Note that Bidder/ChildSeat relationships differ from the usual behavior. A Bidder account can only see its child seats' proposals by specifying the ChildSeat's accountId in the request path.",
              "parameterOrder": [
                "accountId"
              ]
            },
            "accept": {
              "response": {
                "$ref": "Proposal"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "request": {
                "$ref": "AcceptProposalRequest"
              },
              "flatPath": "v2beta1/accounts/{accountId}/proposals/{proposalId}:accept",
              "parameters": {
                "proposalId": {
                  "required": true,
                  "description": "The ID of the proposal to accept.",
                  "location": "path",
                  "type": "string"
                },
                "accountId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Account ID of the buyer."
                }
              },
              "id": "adexchangebuyer2.accounts.proposals.accept",
              "description": "Mark the proposal as accepted at the given revision number. If the number does not match the server's revision number an `ABORTED` error message will be returned. This call updates the proposal_state from `PROPOSED` to `BUYER_ACCEPTED`, or from `SELLER_ACCEPTED` to `FINALIZED`. Upon calling this endpoint, the buyer implicitly agrees to the terms and conditions optionally set within the proposal by the publisher.",
              "parameterOrder": [
                "accountId",
                "proposalId"
              ],
              "path": "v2beta1/accounts/{accountId}/proposals/{proposalId}:accept",
              "httpMethod": "POST"
            },
            "get": {
              "path": "v2beta1/accounts/{accountId}/proposals/{proposalId}",
              "httpMethod": "GET",
              "parameters": {
                "proposalId": {
                  "location": "path",
                  "type": "string",
                  "description": "The unique ID of the proposal",
                  "required": true
                },
                "accountId": {
                  "location": "path",
                  "type": "string",
                  "description": "Account ID of the buyer.",
                  "required": true
                }
              },
              "parameterOrder": [
                "accountId",
                "proposalId"
              ],
              "id": "adexchangebuyer2.accounts.proposals.get",
              "description": "Gets a proposal given its ID. The proposal is returned at its head revision.",
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "response": {
                "$ref": "Proposal"
              },
              "flatPath": "v2beta1/accounts/{accountId}/proposals/{proposalId}"
            },
            "addNote": {
              "flatPath": "v2beta1/accounts/{accountId}/proposals/{proposalId}:addNote",
              "request": {
                "$ref": "AddNoteRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "response": {
                "$ref": "Note"
              },
              "parameterOrder": [
                "accountId",
                "proposalId"
              ],
              "id": "adexchangebuyer2.accounts.proposals.addNote",
              "description": "Create a new note and attach it to the proposal. The note is assigned a unique ID by the server. The proposal revision number will not increase when associated with a new note.",
              "parameters": {
                "accountId": {
                  "description": "Account ID of the buyer.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "proposalId": {
                  "description": "The ID of the proposal to attach the note to.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "httpMethod": "POST",
              "path": "v2beta1/accounts/{accountId}/proposals/{proposalId}:addNote"
            },
            "completeSetup": {
              "httpMethod": "POST",
              "path": "v2beta1/accounts/{accountId}/proposals/{proposalId}:completeSetup",
              "parameterOrder": [
                "accountId",
                "proposalId"
              ],
              "id": "adexchangebuyer2.accounts.proposals.completeSetup",
              "description": "You can opt-in to manually update proposals to indicate that setup is complete. By default, proposal setup is automatically completed after their deals are finalized. Contact your Technical Account Manager to opt in. Buyers can call this method when the proposal has been finalized, and all the required creatives have been uploaded using the Creatives API. This call updates the `is_setup_completed` field on the deals in the proposal, and notifies the seller. The server then advances the revision number of the most recent proposal. To mark an individual deal as ready to serve, call `buyers.finalizedDeals.setReadyToServe` in the Marketplace API.",
              "parameters": {
                "accountId": {
                  "location": "path",
                  "type": "string",
                  "description": "Account ID of the buyer.",
                  "required": true
                },
                "proposalId": {
                  "required": true,
                  "description": "The ID of the proposal to mark as setup completed.",
                  "location": "path",
                  "type": "string"
                }
              },
              "flatPath": "v2beta1/accounts/{accountId}/proposals/{proposalId}:completeSetup",
              "request": {
                "$ref": "CompleteSetupRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "response": {
                "$ref": "Proposal"
              }
            },
            "cancelNegotiation": {
              "path": "v2beta1/accounts/{accountId}/proposals/{proposalId}:cancelNegotiation",
              "httpMethod": "POST",
              "response": {
                "$ref": "Proposal"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "request": {
                "$ref": "CancelNegotiationRequest"
              },
              "flatPath": "v2beta1/accounts/{accountId}/proposals/{proposalId}:cancelNegotiation",
              "parameters": {
                "proposalId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The ID of the proposal to cancel negotiation for."
                },
                "accountId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Account ID of the buyer."
                }
              },
              "id": "adexchangebuyer2.accounts.proposals.cancelNegotiation",
              "description": "Cancel an ongoing negotiation on a proposal. This does not cancel or end serving for the deals if the proposal has been finalized, but only cancels a negotiation unilaterally.",
              "parameterOrder": [
                "accountId",
                "proposalId"
              ]
            },
            "resume": {
              "httpMethod": "POST",
              "path": "v2beta1/accounts/{accountId}/proposals/{proposalId}:resume",
              "flatPath": "v2beta1/accounts/{accountId}/proposals/{proposalId}:resume",
              "request": {
                "$ref": "ResumeProposalRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "response": {
                "$ref": "Proposal"
              },
              "parameterOrder": [
                "accountId",
                "proposalId"
              ],
              "id": "adexchangebuyer2.accounts.proposals.resume",
              "description": "Update the given proposal to resume serving. This method will set the `DealServingMetadata.DealPauseStatus.has_buyer_paused` bit to false for all deals in the proposal. Note that if the `has_seller_paused` bit is also set, serving will not resume until the seller also resumes. It is a no-op to resume an already-running proposal. It is an error to call ResumeProposal for a proposal that is not finalized or renegotiating.",
              "parameters": {
                "proposalId": {
                  "location": "path",
                  "type": "string",
                  "description": "The ID of the proposal to resume.",
                  "required": true
                },
                "accountId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Account ID of the buyer."
                }
              }
            }
          }
        },
        "products": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "path": "v2beta1/accounts/{accountId}/products",
              "id": "adexchangebuyer2.accounts.products.list",
              "description": "List all products visible to the buyer (optionally filtered by the specified PQL query).",
              "parameterOrder": [
                "accountId"
              ],
              "parameters": {
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "An optional PQL query used to query for products. See https://developers.google.com/ad-manager/docs/pqlreference for documentation about PQL and examples. Nested repeated fields, such as product.targetingCriterion.inclusions, cannot be filtered."
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default.",
                  "format": "int32"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "The page token as returned from ListProductsResponse."
                },
                "accountId": {
                  "location": "path",
                  "type": "string",
                  "description": "Account ID of the buyer.",
                  "required": true
                }
              },
              "flatPath": "v2beta1/accounts/{accountId}/products",
              "response": {
                "$ref": "ListProductsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ]
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "response": {
                "$ref": "Product"
              },
              "flatPath": "v2beta1/accounts/{accountId}/products/{productId}",
              "parameters": {
                "accountId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Account ID of the buyer."
                },
                "productId": {
                  "description": "The ID for the product to get the head revision for.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "parameterOrder": [
                "accountId",
                "productId"
              ],
              "id": "adexchangebuyer2.accounts.products.get",
              "description": "Gets the requested product by ID.",
              "path": "v2beta1/accounts/{accountId}/products/{productId}",
              "httpMethod": "GET"
            }
          }
        },
        "publisherProfiles": {
          "methods": {
            "get": {
              "httpMethod": "GET",
              "path": "v2beta1/accounts/{accountId}/publisherProfiles/{publisherProfileId}",
              "parameterOrder": [
                "accountId",
                "publisherProfileId"
              ],
              "id": "adexchangebuyer2.accounts.publisherProfiles.get",
              "description": "Gets the requested publisher profile by id.",
              "parameters": {
                "accountId": {
                  "location": "path",
                  "type": "string",
                  "description": "Account ID of the buyer.",
                  "required": true
                },
                "publisherProfileId": {
                  "required": true,
                  "description": "The id for the publisher profile to get.",
                  "location": "path",
                  "type": "string"
                }
              },
              "flatPath": "v2beta1/accounts/{accountId}/publisherProfiles/{publisherProfileId}",
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "response": {
                "$ref": "PublisherProfile"
              }
            },
            "list": {
              "httpMethod": "GET",
              "path": "v2beta1/accounts/{accountId}/publisherProfiles",
              "id": "adexchangebuyer2.accounts.publisherProfiles.list",
              "description": "List all publisher profiles visible to the buyer",
              "parameterOrder": [
                "accountId"
              ],
              "parameters": {
                "accountId": {
                  "location": "path",
                  "type": "string",
                  "description": "Account ID of the buyer.",
                  "required": true
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "Specify the number of results to include per page."
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "The page token as return from ListPublisherProfilesResponse."
                }
              },
              "flatPath": "v2beta1/accounts/{accountId}/publisherProfiles",
              "response": {
                "$ref": "ListPublisherProfilesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ]
            }
          }
        },
        "clients": {
          "methods": {
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "response": {
                "$ref": "Client"
              },
              "flatPath": "v2beta1/accounts/{accountId}/clients/{clientAccountId}",
              "parameters": {
                "accountId": {
                  "format": "int64",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Numerical account ID of the client's sponsor buyer. (required)"
                },
                "clientAccountId": {
                  "required": true,
                  "description": "Numerical account ID of the client buyer to retrieve. (required)",
                  "format": "int64",
                  "location": "path",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "accountId",
                "clientAccountId"
              ],
              "id": "adexchangebuyer2.accounts.clients.get",
              "description": "Gets a client buyer with a given client account ID.",
              "path": "v2beta1/accounts/{accountId}/clients/{clientAccountId}",
              "httpMethod": "GET"
            },
            "create": {
              "parameterOrder": [
                "accountId"
              ],
              "id": "adexchangebuyer2.accounts.clients.create",
              "description": "Creates a new client buyer.",
              "parameters": {
                "accountId": {
                  "required": true,
                  "description": "Unique numerical account ID for the buyer of which the client buyer is a customer; the sponsor buyer to create a client for. (required)",
                  "format": "int64",
                  "location": "path",
                  "type": "string"
                }
              },
              "flatPath": "v2beta1/accounts/{accountId}/clients",
              "request": {
                "$ref": "Client"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "response": {
                "$ref": "Client"
              },
              "httpMethod": "POST",
              "path": "v2beta1/accounts/{accountId}/clients"
            },
            "update": {
              "parameterOrder": [
                "accountId",
                "clientAccountId"
              ],
              "id": "adexchangebuyer2.accounts.clients.update",
              "description": "Updates an existing client buyer.",
              "parameters": {
                "clientAccountId": {
                  "format": "int64",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Unique numerical account ID of the client to update. (required)"
                },
                "accountId": {
                  "format": "int64",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Unique numerical account ID for the buyer of which the client buyer is a customer; the sponsor buyer to update a client for. (required)"
                }
              },
              "flatPath": "v2beta1/accounts/{accountId}/clients/{clientAccountId}",
              "request": {
                "$ref": "Client"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "response": {
                "$ref": "Client"
              },
              "httpMethod": "PUT",
              "path": "v2beta1/accounts/{accountId}/clients/{clientAccountId}"
            },
            "list": {
              "httpMethod": "GET",
              "path": "v2beta1/accounts/{accountId}/clients",
              "flatPath": "v2beta1/accounts/{accountId}/clients",
              "response": {
                "$ref": "ListClientsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "id": "adexchangebuyer2.accounts.clients.list",
              "description": "Lists all the clients for the current sponsor buyer.",
              "parameterOrder": [
                "accountId"
              ],
              "parameters": {
                "accountId": {
                  "location": "path",
                  "type": "string",
                  "format": "int64",
                  "description": "Unique numerical account ID of the sponsor buyer to list the clients for.",
                  "required": true
                },
                "pageSize": {
                  "description": "Requested page size. The server may return fewer clients than requested. If unspecified, the server will pick an appropriate default.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A token identifying a page of results the server should return. Typically, this is the value of ListClientsResponse.nextPageToken returned from the previous call to the accounts.clients.list method."
                },
                "partnerClientId": {
                  "description": "Optional unique identifier (from the standpoint of an Ad Exchange sponsor buyer partner) of the client to return. If specified, at most one client will be returned in the response.",
                  "location": "query",
                  "type": "string"
                }
              }
            }
          },
          "resources": {
            "invitations": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "path": "v2beta1/accounts/{accountId}/clients/{clientAccountId}/invitations",
                  "flatPath": "v2beta1/accounts/{accountId}/clients/{clientAccountId}/invitations",
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ],
                  "response": {
                    "$ref": "ListClientUserInvitationsResponse"
                  },
                  "parameterOrder": [
                    "accountId",
                    "clientAccountId"
                  ],
                  "id": "adexchangebuyer2.accounts.clients.invitations.list",
                  "description": "Lists all the client users invitations for a client with a given account ID.",
                  "parameters": {
                    "accountId": {
                      "location": "path",
                      "type": "string",
                      "format": "int64",
                      "description": "Numerical account ID of the client's sponsor buyer. (required)",
                      "required": true
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "Requested page size. Server may return fewer clients than requested. If unspecified, server will pick an appropriate default."
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "A token identifying a page of results the server should return. Typically, this is the value of ListClientUserInvitationsResponse.nextPageToken returned from the previous call to the clients.invitations.list method."
                    },
                    "clientAccountId": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Numerical account ID of the client buyer to list invitations for. (required) You must either specify a string representation of a numerical account identifier or the `-` character to list all the invitations for all the clients of a given sponsor buyer."
                    }
                  }
                },
                "create": {
                  "parameters": {
                    "clientAccountId": {
                      "description": "Numerical account ID of the client buyer that the user should be associated with. (required)",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "format": "int64"
                    },
                    "accountId": {
                      "required": true,
                      "description": "Numerical account ID of the client's sponsor buyer. (required)",
                      "format": "int64",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "accountId",
                    "clientAccountId"
                  ],
                  "id": "adexchangebuyer2.accounts.clients.invitations.create",
                  "description": "Creates and sends out an email invitation to access an Ad Exchange client buyer account.",
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ],
                  "response": {
                    "$ref": "ClientUserInvitation"
                  },
                  "flatPath": "v2beta1/accounts/{accountId}/clients/{clientAccountId}/invitations",
                  "request": {
                    "$ref": "ClientUserInvitation"
                  },
                  "path": "v2beta1/accounts/{accountId}/clients/{clientAccountId}/invitations",
                  "httpMethod": "POST"
                },
                "get": {
                  "parameters": {
                    "invitationId": {
                      "required": true,
                      "description": "Numerical identifier of the user invitation to retrieve. (required)",
                      "format": "int64",
                      "location": "path",
                      "type": "string"
                    },
                    "accountId": {
                      "description": "Numerical account ID of the client's sponsor buyer. (required)",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "format": "int64"
                    },
                    "clientAccountId": {
                      "description": "Numerical account ID of the client buyer that the user invitation to be retrieved is associated with. (required)",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "format": "int64"
                    }
                  },
                  "id": "adexchangebuyer2.accounts.clients.invitations.get",
                  "description": "Retrieves an existing client user invitation.",
                  "parameterOrder": [
                    "accountId",
                    "clientAccountId",
                    "invitationId"
                  ],
                  "response": {
                    "$ref": "ClientUserInvitation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ],
                  "flatPath": "v2beta1/accounts/{accountId}/clients/{clientAccountId}/invitations/{invitationId}",
                  "path": "v2beta1/accounts/{accountId}/clients/{clientAccountId}/invitations/{invitationId}",
                  "httpMethod": "GET"
                }
              }
            },
            "users": {
              "methods": {
                "update": {
                  "path": "v2beta1/accounts/{accountId}/clients/{clientAccountId}/users/{userId}",
                  "httpMethod": "PUT",
                  "response": {
                    "$ref": "ClientUser"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ],
                  "request": {
                    "$ref": "ClientUser"
                  },
                  "flatPath": "v2beta1/accounts/{accountId}/clients/{clientAccountId}/users/{userId}",
                  "parameters": {
                    "accountId": {
                      "description": "Numerical account ID of the client's sponsor buyer. (required)",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "format": "int64"
                    },
                    "clientAccountId": {
                      "location": "path",
                      "type": "string",
                      "format": "int64",
                      "description": "Numerical account ID of the client buyer that the user to be retrieved is associated with. (required)",
                      "required": true
                    },
                    "userId": {
                      "required": true,
                      "description": "Numerical identifier of the user to retrieve. (required)",
                      "format": "int64",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "id": "adexchangebuyer2.accounts.clients.users.update",
                  "description": "Updates an existing client user. Only the user status can be changed on update.",
                  "parameterOrder": [
                    "accountId",
                    "clientAccountId",
                    "userId"
                  ]
                },
                "get": {
                  "httpMethod": "GET",
                  "path": "v2beta1/accounts/{accountId}/clients/{clientAccountId}/users/{userId}",
                  "flatPath": "v2beta1/accounts/{accountId}/clients/{clientAccountId}/users/{userId}",
                  "response": {
                    "$ref": "ClientUser"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ],
                  "id": "adexchangebuyer2.accounts.clients.users.get",
                  "description": "Retrieves an existing client user.",
                  "parameterOrder": [
                    "accountId",
                    "clientAccountId",
                    "userId"
                  ],
                  "parameters": {
                    "clientAccountId": {
                      "format": "int64",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Numerical account ID of the client buyer that the user to be retrieved is associated with. (required)"
                    },
                    "userId": {
                      "required": true,
                      "description": "Numerical identifier of the user to retrieve. (required)",
                      "format": "int64",
                      "location": "path",
                      "type": "string"
                    },
                    "accountId": {
                      "format": "int64",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Numerical account ID of the client's sponsor buyer. (required)"
                    }
                  }
                },
                "list": {
                  "httpMethod": "GET",
                  "path": "v2beta1/accounts/{accountId}/clients/{clientAccountId}/users",
                  "parameterOrder": [
                    "accountId",
                    "clientAccountId"
                  ],
                  "id": "adexchangebuyer2.accounts.clients.users.list",
                  "description": "Lists all the known client users for a specified sponsor buyer account ID.",
                  "parameters": {
                    "pageSize": {
                      "description": "Requested page size. The server may return fewer clients than requested. If unspecified, the server will pick an appropriate default.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "A token identifying a page of results the server should return. Typically, this is the value of ListClientUsersResponse.nextPageToken returned from the previous call to the accounts.clients.users.list method.",
                      "location": "query",
                      "type": "string"
                    },
                    "clientAccountId": {
                      "location": "path",
                      "type": "string",
                      "description": "The account ID of the client buyer to list users for. (required) You must specify either a string representation of a numerical account identifier or the `-` character to list all the client users for all the clients of a given sponsor buyer.",
                      "required": true
                    },
                    "accountId": {
                      "format": "int64",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Numerical account ID of the sponsor buyer of the client to list users for. (required)"
                    }
                  },
                  "flatPath": "v2beta1/accounts/{accountId}/clients/{clientAccountId}/users",
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ],
                  "response": {
                    "$ref": "ListClientUsersResponse"
                  }
                }
              }
            }
          }
        },
        "finalizedProposals": {
          "methods": {
            "pause": {
              "path": "v2beta1/accounts/{accountId}/finalizedProposals/{proposalId}:pause",
              "httpMethod": "POST",
              "parameters": {
                "accountId": {
                  "description": "Account ID of the buyer.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "proposalId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The proposal_id of the proposal containing the deals."
                }
              },
              "parameterOrder": [
                "accountId",
                "proposalId"
              ],
              "id": "adexchangebuyer2.accounts.finalizedProposals.pause",
              "description": "Update given deals to pause serving. This method will set the `DealServingMetadata.DealPauseStatus.has_buyer_paused` bit to true for all listed deals in the request. Currently, this method only applies to PG and PD deals. For PA deals, call accounts.proposals.pause endpoint. It is a no-op to pause already-paused deals. It is an error to call PauseProposalDeals for deals which are not part of the proposal of proposal_id or which are not finalized or renegotiating.",
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "response": {
                "$ref": "Proposal"
              },
              "flatPath": "v2beta1/accounts/{accountId}/finalizedProposals/{proposalId}:pause",
              "request": {
                "$ref": "PauseProposalDealsRequest"
              }
            },
            "resume": {
              "request": {
                "$ref": "ResumeProposalDealsRequest"
              },
              "flatPath": "v2beta1/accounts/{accountId}/finalizedProposals/{proposalId}:resume",
              "response": {
                "$ref": "Proposal"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "id": "adexchangebuyer2.accounts.finalizedProposals.resume",
              "description": "Update given deals to resume serving. This method will set the `DealServingMetadata.DealPauseStatus.has_buyer_paused` bit to false for all listed deals in the request. Currently, this method only applies to PG and PD deals. For PA deals, call accounts.proposals.resume endpoint. It is a no-op to resume running deals or deals paused by the other party. It is an error to call ResumeProposalDeals for deals which are not part of the proposal of proposal_id or which are not finalized or renegotiating.",
              "parameterOrder": [
                "accountId",
                "proposalId"
              ],
              "parameters": {
                "proposalId": {
                  "description": "The proposal_id of the proposal containing the deals.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "accountId": {
                  "location": "path",
                  "type": "string",
                  "description": "Account ID of the buyer.",
                  "required": true
                }
              },
              "httpMethod": "POST",
              "path": "v2beta1/accounts/{accountId}/finalizedProposals/{proposalId}:resume"
            },
            "list": {
              "path": "v2beta1/accounts/{accountId}/finalizedProposals",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "response": {
                "$ref": "ListProposalsResponse"
              },
              "flatPath": "v2beta1/accounts/{accountId}/finalizedProposals",
              "parameters": {
                "accountId": {
                  "required": true,
                  "description": "Account ID of the buyer.",
                  "location": "path",
                  "type": "string"
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "An optional PQL filter query used to query for proposals. Nested repeated fields, such as proposal.deals.targetingCriterion, cannot be filtered."
                },
                "filterSyntax": {
                  "description": "Syntax the filter is written in. Current implementation defaults to PQL but in the future it will be LIST_FILTER.",
                  "enum": [
                    "FILTER_SYNTAX_UNSPECIFIED",
                    "PQL",
                    "LIST_FILTER"
                  ],
                  "enumDescriptions": [
                    "A placeholder for an undefined filter syntax.",
                    "PQL query syntax. Visit https://developers.google.com/ad-manager/api/pqlreference for PQL documentation and examples.",
                    "API list filtering syntax. Read about syntax and usage at https://developers.google.com/authorized-buyers/apis/guides/v2/list-filters."
                  ],
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default.",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "The page token as returned from ListProposalsResponse."
                }
              },
              "parameterOrder": [
                "accountId"
              ],
              "id": "adexchangebuyer2.accounts.finalizedProposals.list",
              "description": "List finalized proposals, regardless if a proposal is being renegotiated. A filter expression (PQL query) may be specified to filter the results. The notes will not be returned."
            }
          }
        }
      }
    },
    "bidders": {
      "resources": {
        "accounts": {
          "resources": {
            "filterSets": {
              "methods": {
                "list": {
                  "id": "adexchangebuyer2.bidders.accounts.filterSets.list",
                  "description": "Lists all filter sets for the account with the given account ID.",
                  "parameterOrder": [
                    "ownerName"
                  ],
                  "parameters": {
                    "pageSize": {
                      "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "A token identifying a page of results the server should return. Typically, this is the value of ListFilterSetsResponse.nextPageToken returned from the previous call to the accounts.filterSets.list method.",
                      "location": "query",
[...]
