{
  "batchPath": "batch",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "fullyEncodeReservedExpansion": true,
  "canonicalName": "directory",
  "ownerDomain": "google.com",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/admin.chrome.printers": {
          "description": "See, add, edit, and permanently delete the printers that your organization can use with Chrome"
        },
        "https://www.googleapis.com/auth/admin.directory.group.member.readonly": {
          "description": "View group subscriptions on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.user.alias.readonly": {
          "description": "View user aliases on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.device.mobile": {
          "description": "View and manage your mobile devices' metadata"
        },
        "https://www.googleapis.com/auth/admin.directory.device.chromeos": {
          "description": "View and manage your ChromeOS devices' metadata"
        },
        "https://www.googleapis.com/auth/admin.directory.userschema.readonly": {
          "description": "View user schemas on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.device.mobile.readonly": {
          "description": "View your mobile devices' metadata"
        },
        "https://www.googleapis.com/auth/admin.directory.device.chromeos.readonly": {
          "description": "View your ChromeOS devices' metadata"
        },
        "https://www.googleapis.com/auth/admin.directory.userschema": {
          "description": "View and manage the provisioning of user schemas on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.customer": {
          "description": "View and manage customer related information"
        },
        "https://www.googleapis.com/auth/admin.directory.user.security": {
          "description": "Manage data access permissions for users on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.domain": {
          "description": "View and manage the provisioning of domains for your customers"
        },
        "https://www.googleapis.com/auth/admin.directory.user": {
          "description": "View and manage the provisioning of users on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.device.mobile.action": {
          "description": "Manage your mobile devices by performing administrative tasks"
        },
        "https://www.googleapis.com/auth/admin.directory.rolemanagement": {
          "description": "Manage delegated admin roles for your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.rolemanagement.readonly": {
          "description": "View delegated admin roles for your domain"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/admin.directory.user.alias": {
          "description": "View and manage user aliases on your domain"
        },
        "https://www.googleapis.com/auth/admin.chrome.printers.readonly": {
          "description": "See the printers that your organization can use with Chrome"
        },
        "https://www.googleapis.com/auth/admin.directory.customer.readonly": {
          "description": "View customer related information"
        },
        "https://www.googleapis.com/auth/admin.directory.domain.readonly": {
          "description": "View domains related to your customers"
        },
        "https://www.googleapis.com/auth/admin.directory.group": {
          "description": "View and manage the provisioning of groups on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.group.readonly": {
          "description": "View groups on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.orgunit.readonly": {
          "description": "View organization units on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.resource.calendar": {
          "description": "View and manage the provisioning of calendar resources on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.user.readonly": {
          "description": "See info about users on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.group.member": {
          "description": "View and manage group subscriptions on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.resource.calendar.readonly": {
          "description": "View calendar resources on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.orgunit": {
          "description": "View and manage organization units on your domain"
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "name": "admin",
  "title": "Admin SDK API",
  "kind": "discovery#restDescription",
  "baseUrl": "https://admin.googleapis.com/",
  "ownerName": "Google",
  "version": "directory_v1",
  "revision": "20260619",
  "parameters": {
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "alt": {
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "type": "string",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    }
  },
  "rootUrl": "https://admin.googleapis.com/",
  "schemas": {
    "AuxiliaryMessage": {
      "properties": {
        "severity": {
          "enumDescriptions": [
            "Message type unspecified.",
            "Message of severity: info.",
            "Message of severity: warning.",
            "Message of severity: error."
          ],
          "description": "Message severity",
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "SEVERITY_INFO",
            "SEVERITY_WARNING",
            "SEVERITY_ERROR"
          ]
        },
        "auxiliaryMessage": {
          "description": "Human readable message in English. Example: \"Given printer is invalid or no longer supported.\"",
          "type": "string"
        },
        "fieldMask": {
          "format": "google-fieldmask",
          "description": "Field that this message concerns.",
          "type": "string"
        }
      },
      "description": "Auxiliary message about issues with printers or settings. Example: {message_type:AUXILIARY_MESSAGE_WARNING, field_mask:make_and_model, message:\"Given printer is invalid or no longer supported.\"}",
      "type": "object",
      "id": "AuxiliaryMessage"
    },
    "Tokens": {
      "id": "Tokens",
      "description": "JSON response template for List tokens operation in Directory API.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "The type of the API resource. This is always `admin#directory#tokenList`.",
          "type": "string",
          "default": "admin#directory#tokenList"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "items": {
          "description": "A list of Token resources.",
          "type": "array",
          "items": {
            "$ref": "Token"
          }
        }
      }
    },
    "Asps": {
      "type": "object",
      "properties": {
        "kind": {
          "description": "The type of the API resource. This is always `admin#directory#aspList`.",
          "type": "string",
          "default": "admin#directory#aspList"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "items": {
          "description": "A list of ASP resources.",
          "type": "array",
          "items": {
            "$ref": "Asp"
          }
        }
      },
      "id": "Asps"
    },
    "BatchDeletePrintServersRequest": {
      "id": "BatchDeletePrintServersRequest",
      "properties": {
        "printServerIds": {
          "description": "A list of print server IDs that should be deleted (max `100` per batch).",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Request to delete multiple existing print servers in a batch.",
      "type": "object"
    },
    "UserPhone": {
      "id": "UserPhone",
      "properties": {
        "customType": {
          "description": "Custom Type.",
          "type": "string"
        },
        "value": {
          "description": "Phone number.",
          "type": "string"
        },
        "type": {
          "description": "Each entry can have a type which indicates standard types of that entry. For example phone could be of home_fax work mobile etc. In addition to the standard type an entry can have a custom type and can give it any name. Such types should have the CUSTOM value as type and also have a customType value.",
          "type": "string"
        },
        "primary": {
          "description": "If this is user's primary phone or not.",
          "type": "boolean"
        }
      },
      "description": "JSON template for a phone entry.",
      "type": "object"
    },
    "DirectoryChromeosdevicesIssueCommandResponse": {
      "properties": {
        "commandId": {
          "format": "int64",
          "description": "The unique ID of the issued command, used to retrieve the command status.",
          "type": "string"
        }
      },
      "description": "A response for issuing a command.",
      "type": "object",
      "id": "DirectoryChromeosdevicesIssueCommandResponse"
    },
    "DirectoryChromeosdevicesIssueCommandRequest": {
      "id": "DirectoryChromeosdevicesIssueCommandRequest",
      "description": "A request for issuing a command.",
      "type": "object",
      "properties": {
        "commandType": {
          "enum": [
            "COMMAND_TYPE_UNSPECIFIED",
            "REBOOT",
            "TAKE_A_SCREENSHOT",
            "SET_VOLUME",
            "WIPE_USERS",
            "REMOTE_POWERWASH",
            "DEVICE_START_CRD_SESSION",
            "CAPTURE_LOGS",
            "FETCH_CRD_AVAILABILITY_INFO",
            "FETCH_SUPPORT_PACKET"
          ],
          "description": "The type of command.",
          "type": "string",
          "enumDescriptions": [
            "The command type was unspecified.",
            "Reboot the device. Can be issued to Kiosk and managed guest session devices, and regular devices running ChromeOS version 113 or later.",
            "Take a screenshot of the device. Only available if the device is in Kiosk Mode.",
            "Set the volume of the device. Can only be issued to Kiosk and managed guest session devices.",
            "Wipe all the users off of the device. Executing this command in the device will remove all user profile data, but it will keep device policy and enrollment.",
            "Wipes the device by performing a power wash. Executing this command in the device will remove all data including user policies, device policies and enrollment policies. Warning: This will revert the device back to a factory state with no enrollment unless the device is subject to forced or auto enrollment. Use with caution, as this is an irreversible action!",
            "Starts a Chrome Remote Desktop session.",
            "Capture the system logs of a kiosk device. The logs can be downloaded from the downloadUrl link present in `deviceFiles` field of [chromeosdevices](https://developers.google.com/workspace/admin/directory/reference/rest/v1/chromeosdevices)",
            "Fetches available type(s) of Chrome Remote Desktop sessions (private or shared) that can be used to remotely connect to the device.",
            "Fetch support packet from a device remotely. Support packet is a zip archive that contains various system logs and debug data from a ChromeOS device. The support packet can be downloaded from the downloadURL link present in the `deviceFiles` field of [`chromeosdevices`](https://developers.google.com/workspace/admin/directory/reference/rest/v1/chromeosdevices)"
          ]
        },
        "payload": {
          "description": "The payload for the command, provide it only if command supports it. The following commands support adding payload: * `SET_VOLUME`: Payload is a stringified JSON object in the form: { \"volume\": 50 }. The volume has to be an integer in the range [0,100]. * `DEVICE_START_CRD_SESSION`: Payload is optionally a stringified JSON object in the form: { \"ackedUserPresence\": true, \"crdSessionType\": string }. `ackedUserPresence` is a boolean. By default, `ackedUserPresence` is set to `false`. To start a Chrome Remote Desktop session for an active device, set `ackedUserPresence` to `true`. `crdSessionType` can only select from values `private` (which grants the remote admin exclusive control of the ChromeOS device) or `shared` (which allows the admin and the local user to share control of the ChromeOS device). If not set, `crdSessionType` defaults to `shared`. The `FETCH_CRD_AVAILABILITY_INFO` command can be used to determine available session types on the device. * `REBOOT`: Payload is a stringified JSON object in the form: { \"user_session_delay_seconds\": 300 }. The `user_session_delay_seconds` is the amount of seconds to wait before rebooting the device if a user is logged in. It has to be an integer in the range [0,300]. When payload is not present for reboot, 0 delay is the default. Note: This only applies if an actual user is logged in, including a Guest. If the device is in the login screen or in Kiosk mode the value is not respected and the device immediately reboots. * `FETCH_SUPPORT_PACKET`: Payload is optionally a stringified JSON object in the form: {\"supportPacketDetails\":{ \"issueCaseId\": optional_support_case_id_string, \"issueDescription\": optional_issue_description_string, \"requestedDataCollectors\": []}} The list of available `data_collector_enums` are as following: Chrome System Information (1), Crash IDs (2), Memory Details (3), UI Hierarchy (4), Additional ChromeOS Platform Logs (5), Device Event (6), Intel WiFi NICs Debug Dump (7), Touch Events (8), Lacros (9), Lacros System Information (10), ChromeOS Flex Logs (11), DBus Details (12), ChromeOS Network Routes (13), ChromeOS Shill (Connection Manager) Logs (14), Policies (15), ChromeOS System State and Logs (16), ChromeOS System Logs (17), ChromeOS Chrome User Logs (18), ChromeOS Bluetooth (19), ChromeOS Connected Input Devices (20), ChromeOS Traffic Counters (21), ChromeOS Virtual Keyboard (22), ChromeOS Network Health (23). See more details in [help article](https://support.google.com/chrome/a?p=remote-log).",
          "type": "string"
        }
      }
    },
    "ChangeChromeOsDeviceStatusResult": {
      "id": "ChangeChromeOsDeviceStatusResult",
      "properties": {
        "deviceId": {
          "description": "The unique ID of the ChromeOS device.",
          "type": "string"
        },
        "response": {
          "description": "The device could change its status successfully.",
          "$ref": "ChangeChromeOsDeviceStatusSucceeded"
        },
        "error": {
          "description": "The error result of the operation in case of failure.",
          "$ref": "Status"
        }
      },
      "description": "The result of a single ChromeOS device for a Change state operation.",
      "type": "object"
    },
    "UserLanguage": {
      "properties": {
        "languageCode": {
          "description": "ISO 639 string representation of a language. See [Language Codes](/admin-sdk/directory/v1/languages) for the list of supported codes. Valid language codes outside the supported set will be accepted by the API but may lead to unexpected behavior. Illegal values cause `SchemaException`. If this is set, `customLanguage` can't be set.",
          "type": "string"
        },
        "preference": {
          "description": "Optional. If present, controls whether the specified `languageCode` is the user's preferred language. If `customLanguage` is set, this can't be set. Allowed values are `preferred` and `not_preferred`.",
          "type": "string"
        },
        "customLanguage": {
          "description": "Other language. User can provide their own language name if there is no corresponding ISO 639 language code. If this is set, `languageCode` can't be set.",
          "type": "string"
        }
      },
      "description": "JSON template for a language entry.",
      "type": "object",
      "id": "UserLanguage"
    },
    "BatchCreatePrintersResponse": {
      "description": "Response for adding new printers in batch.",
      "type": "object",
      "properties": {
        "failures": {
          "description": "A list of create failures. Printer IDs are not populated, as printer were not created.",
          "type": "array",
          "items": {
            "$ref": "FailureInfo"
          }
        },
        "printers": {
          "items": {
            "$ref": "Printer"
          },
          "description": "A list of successfully created printers with their IDs populated.",
          "type": "array"
        }
      },
      "id": "BatchCreatePrintersResponse"
    },
    "ChromeOsDevices": {
      "id": "ChromeOsDevices",
      "properties": {
        "chromeosdevices": {
          "description": "A list of Chrome OS Device objects.",
          "type": "array",
          "items": {
            "$ref": "ChromeOsDevice"
          }
        },
        "kind": {
          "description": "Kind of resource this is.",
          "type": "string",
          "default": "admin#directory#chromeosdevices"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Token used to access the next page of this result. To access the next page, use this token's value in the `pageToken` query string of this request.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "UserWebsite": {
      "id": "UserWebsite",
      "description": "JSON template for a website entry.",
      "type": "object",
      "properties": {
        "customType": {
          "description": "Custom Type.",
          "type": "string"
        },
        "value": {
          "description": "Website.",
          "type": "string"
        },
        "primary": {
          "description": "If this is user's primary website or not.",
          "type": "boolean"
        },
        "type": {
          "description": "Each entry can have a type which indicates standard types of that entry. For example website could be of home work blog etc. In addition to the standard type an entry can have a custom type and can give it any name. Such types should have the CUSTOM value as type and also have a customType value.",
          "type": "string"
        }
      }
    },
    "UserMakeAdmin": {
      "id": "UserMakeAdmin",
      "type": "object",
      "properties": {
        "status": {
          "description": "Indicates the administrator status of the user.",
          "annotations": {
            "required": [
              "directory.users.makeAdmin"
            ]
          },
          "type": "boolean"
        }
      }
    },
    "UserOrganization": {
      "properties": {
        "description": {
          "description": "Description of the organization.",
          "type": "string"
        },
        "domain": {
          "description": "The domain to which the organization belongs to.",
          "type": "string"
        },
        "type": {
          "description": "Each entry can have a type which indicates standard types of that entry. For example organization could be of school work etc. In addition to the standard type an entry can have a custom type and can give it any name. Such types should have the CUSTOM value as type and also have a CustomType value.",
          "type": "string"
        },
        "title": {
          "description": "Title (designation) of the user in the organization.",
          "type": "string"
        },
        "symbol": {
          "description": "Symbol of the organization.",
          "type": "string"
        },
        "location": {
          "description": "Location of the organization. This need not be fully qualified address.",
          "type": "string"
        },
        "name": {
          "description": "Name of the organization",
          "type": "string"
        },
        "customType": {
          "description": "Custom type.",
          "type": "string"
        },
        "department": {
          "description": "Department within the organization.",
          "type": "string"
        },
        "costCenter": {
          "description": "The cost center of the users department.",
          "type": "string"
        },
        "fullTimeEquivalent": {
          "format": "int32",
          "description": "The full-time equivalent millipercent within the organization (100000 = 100%).",
          "type": "integer"
        },
        "primary": {
          "description": "If it user's primary organization.",
          "type": "boolean"
        }
      },
      "description": "JSON template for an organization entry.",
      "type": "object",
      "id": "UserOrganization"
    },
    "BatchCreatePrintersRequest": {
      "properties": {
        "requests": {
          "items": {
            "$ref": "CreatePrinterRequest"
          },
          "description": "A list of Printers to be created. Max 50 at a time.",
          "type": "array"
        }
      },
      "description": "Request for adding new printers in batch.",
      "type": "object",
      "id": "BatchCreatePrintersRequest"
    },
    "BatchChangeChromeOsDeviceStatusResponse": {
      "id": "BatchChangeChromeOsDeviceStatusResponse",
      "properties": {
        "changeChromeOsDeviceStatusResults": {
          "description": "The results for each of the ChromeOS devices provided in the request.",
          "type": "array",
          "items": {
            "$ref": "ChangeChromeOsDeviceStatusResult"
          }
        }
      },
      "description": "The response of changing the status of a batch of ChromeOS devices.",
      "type": "object"
    },
    "MobileDevices": {
      "properties": {
        "mobiledevices": {
          "description": "A list of Mobile Device objects.",
          "type": "array",
          "items": {
            "$ref": "MobileDevice"
          }
        },
        "kind": {
          "default": "admin#directory#mobiledevices",
          "description": "Kind of resource this is.",
          "type": "string"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Token used to access next page of this result.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "MobileDevices"
    },
    "Privileges": {
      "type": "object",
      "properties": {
        "kind": {
          "description": "The type of the API resource. This is always `admin#directory#privileges`.",
          "type": "string",
          "default": "admin#directory#privileges"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "items": {
          "description": "A list of Privilege resources.",
          "type": "array",
          "items": {
            "$ref": "Privilege"
          }
        }
      },
      "id": "Privileges"
    },
    "ListPrintersResponse": {
      "properties": {
        "printers": {
          "description": "List of printers. If `org_unit_id` was given in the request, then only printers visible for this OU will be returned. If `org_unit_id` was not given in the request, then all printers will be returned.",
          "type": "array",
          "items": {
            "$ref": "Printer"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response for listing printers.",
      "type": "object",
      "id": "ListPrintersResponse"
    },
    "Privilege": {
      "type": "object",
      "properties": {
        "serviceId": {
          "description": "The obfuscated ID of the service this privilege is for. This value is returned with [`Privileges.list()`](https://developers.google.com/workspace/admin/directory/v1/reference/privileges/list).",
          "type": "string"
        },
        "isOuScopable": {
          "description": "If the privilege can be restricted to an organization unit.",
          "type": "boolean"
        },
        "kind": {
          "default": "admin#directory#privilege",
          "description": "The type of the API resource. This is always `admin#directory#privilege`.",
          "type": "string"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "serviceName": {
          "description": "The name of the service this privilege is for.",
          "type": "string"
        },
        "privilegeName": {
          "description": "The name of the privilege.",
          "type": "string"
        },
        "childPrivileges": {
          "items": {
            "$ref": "Privilege"
          },
          "description": "A list of child privileges. Privileges for a service form a tree. Each privilege can have a list of child privileges; this list is empty for a leaf privilege.",
          "type": "array"
        }
      },
      "id": "Privilege"
    },
    "UserKeyword": {
      "description": "JSON template for a keyword entry.",
      "type": "object",
      "properties": {
        "type": {
          "description": "Each entry can have a type which indicates standard type of that entry. For example keyword could be of type occupation or outlook. In addition to the standard type an entry can have a custom type and can give it any name. Such types should have the CUSTOM value as type and also have a customType value.",
          "type": "string"
        },
        "customType": {
          "description": "Custom Type.",
          "type": "string"
        },
        "value": {
          "description": "Keyword.",
          "type": "string"
        }
      },
      "id": "UserKeyword"
    },
    "CreatePrintServerRequest": {
      "id": "CreatePrintServerRequest",
      "description": "Request for adding a new print server.",
      "type": "object",
      "properties": {
        "parent": {
          "description": "Required. The [unique ID](https://developers.google.com/workspace/admin/directory/reference/rest/v1/customers) of the customer's Google Workspace account. Format: `customers/{id}`",
          "type": "string"
        },
        "printServer": {
          "description": "Required. A print server to create. If you want to place the print server under a specific organizational unit (OU), then populate the `org_unit_id`. Otherwise the print server is created under the root OU. The `org_unit_id` can be retrieved using the [Directory API](https://developers.google.com/workspace/admin/directory/v1/guides/manage-org-units).",
          "$ref": "PrintServer"
        }
      }
    },
    "UserPhoto": {
      "properties": {
        "id": {
          "description": "The ID the API uses to uniquely identify the user.",
          "type": "string"
        },
        "primaryEmail": {
          "description": "The user's primary email address.",
          "type": "string"
        },
        "mimeType": {
          "description": "The MIME type of the photo. Allowed values are `JPEG`, `PNG`, `GIF`, `BMP`, `TIFF`, and web-safe base64 encoding.",
          "type": "string"
        },
        "width": {
          "description": "Width of the photo in pixels.",
          "type": "integer",
          "format": "int32"
        },
        "height": {
          "format": "int32",
          "description": "Height of the photo in pixels.",
          "type": "integer"
        },
        "photoData": {
          "format": "byte",
          "description": "The user photo's upload data in [web-safe Base64](https://en.wikipedia.org/wiki/Base64#URL_applications) format in bytes. This means: * The slash (/) character is replaced with the underscore (_) character. * The plus sign (+) character is replaced with the hyphen (-) character. * The equals sign (=) character is replaced with the asterisk (*). * For padding, the period (.) character is used instead of the RFC-4648 baseURL definition which uses the equals sign (=) for padding. This is done to simplify URL-parsing. * Whatever the size of the photo being uploaded, the API downsizes it to 96x96 pixels.",
          "annotations": {
            "required": [
              "directory.users.photos.update"
            ]
          },
          "type": "string"
        },
        "kind": {
          "default": "admin#directory#user#photo",
          "description": "The type of the API resource. For Photo resources, this is `admin#directory#user#photo`.",
          "type": "string"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "UserPhoto"
    },
    "Domains2": {
      "type": "object",
      "properties": {
        "domains": {
          "items": {
            "$ref": "Domains"
          },
          "description": "A list of domain objects.",
          "type": "array"
        },
        "kind": {
          "default": "admin#directory#domains",
          "description": "Kind of resource this is.",
          "type": "string"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        }
      },
      "id": "Domains2"
    },
    "MobileDeviceAction": {
      "type": "object",
      "properties": {
        "action": {
          "description": "The action to be performed on the device.",
          "annotations": {
            "required": [
              "directory.mobiledevices.action"
            ]
          },
          "type": "string"
        }
      },
      "id": "MobileDeviceAction"
    },
    "User": {
      "id": "User",
      "description": "The Directory API allows you to create and manage your account's users, user aliases, and user Google profile photos. For more information about common tasks, see the [User Accounts Developer's Guide](https://developers.google.com/workspace/admin/directory/v1/guides/manage-users.html) and the [User Aliases Developer's Guide](https://developers.google.com/workspace/admin/directory/v1/guides/manage-user-aliases.html).",
      "type": "object",
      "properties": {
        "isGuestUser": {
          "description": "Immutable. Indicates if the inserted user is a guest.",
          "type": "boolean"
        },
        "id": {
          "description": "The unique ID for the user. A user `id` can be used as a user request URI's `userKey`.",
          "type": "string"
        },
        "isEnrolledIn2Sv": {
          "description": "Output only. Is enrolled in 2-step verification (Read-only)",
          "type": "boolean",
          "readOnly": true
        },
        "password": {
          "description": "User's password",
          "type": "string",
          "annotations": {
            "required": [
              "directory.users.insert"
            ]
          }
        },
        "nonEditableAliases": {
          "description": "Output only. The list of the user's non-editable alias email addresses. These are typically outside the account's primary domain or sub-domain.",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "orgUnitPath": {
          "description": "The full path of the parent organization associated with the user. If the parent organization is the top-level, it is represented as a forward slash (`/`).",
          "type": "string"
        },
        "languages": {
          "description": "The user's languages. The maximum allowed data size for this field is 1KB.",
          "type": "any"
        },
        "locations": {
          "description": "The user's locations. The maximum allowed data size for this field is 10KB.",
          "type": "any"
        },
        "keywords": {
          "description": "The list of the user's keywords. The maximum allowed data size for this field is 1KB.",
          "type": "any"
        },
        "aliases": {
          "description": "Output only. The list of the user's alias email addresses.",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "suspensionReason": {
          "readOnly": true,
          "description": "Output only. Has the reason a user account is suspended either by the administrator or by Google at the time of suspension. The property is returned only if the `suspended` property is `true`.",
          "type": "string"
        },
        "kind": {
          "readOnly": true,
          "default": "admin#directory#user",
          "description": "Output only. The type of the API resource. For Users resources, the value is `admin#directory#user`.",
          "type": "string"
        },
        "archived": {
          "description": "Indicates if user is archived.",
          "type": "boolean"
        },
        "lastLoginTime": {
          "description": "User's last login time. (Read-only)",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "guestAccountInfo": {
          "description": "Immutable. Additional guest-related metadata fields",
          "$ref": "GuestAccountInfo"
        },
        "thumbnailPhotoEtag": {
          "description": "Output only. ETag of the user's photo (Read-only)",
          "type": "string",
          "readOnly": true
        },
        "relations": {
          "description": "The list of the user's relationships to other users. The maximum allowed data size for this field is 2KB.",
          "type": "any"
        },
        "etag": {
          "description": "Output only. ETag of the resource.",
          "type": "string",
          "readOnly": true
        },
        "thumbnailPhotoUrl": {
          "readOnly": true,
          "description": "Output only. The URL of the user's profile photo. The URL might be temporary or private.",
          "type": "string"
        },
        "sshPublicKeys": {
          "description": "A list of SSH public keys.",
          "type": "any"
        },
        "changePasswordAtNextLogin": {
          "description": "Indicates if the user is forced to change their password at next login. This setting doesn't apply when [the user signs in via a third-party identity provider](https://support.google.com/a/answer/60224).",
          "type": "boolean"
        },
        "name": {
          "$ref": "UserName",
          "description": "Holds the given and family names of the user, and the read-only `fullName` value. The maximum number of characters in the `givenName` and in the `familyName` values is 60. In addition, name values support unicode/UTF-8 characters, and can contain spaces, letters (a-z), numbers (0-9), dashes (-), forward slashes (/), and periods (.). For more information about character usage rules, see the [administration help center](https://support.google.com/a/answer/9193374). Maximum allowed data size for this field is 1KB.",
          "annotations": {
            "required": [
              "directory.users.insert"
            ]
          }
        },
        "deletionTime": {
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "customSchemas": {
          "description": "Custom fields of the user. The key is a `schema_name` and its values are `'field_name': 'field_value'`.",
          "type": "object",
          "additionalProperties": {
            "$ref": "UserCustomProperties"
          }
        },
        "includeInGlobalAddressList": {
          "description": "Indicates if the user's profile is visible in the Google Workspace global address list when the contact sharing feature is enabled for the domain. For more information about excluding user profiles, see the [administration help center](https://support.google.com/a/answer/1285988).",
          "type": "boolean"
        },
        "recoveryPhone": {
          "description": "Recovery phone of the user. The phone number must be in the E.164 format, starting with the plus sign (+). Example: *+16506661212*.",
          "type": "string"
        },
        "recoveryEmail": {
          "description": "Recovery email of the user.",
          "type": "string"
        },
        "suspensionTime": {
          "readOnly": true,
          "description": "Output only. User's account suspension time. (Read-only)",
          "type": "string"
        },
        "hashFunction": {
          "description": "Stores the hash format of the `password` property. The following `hashFunction` values are allowed: * `MD5` - Accepts simple hex-encoded values. * `SHA-1` - Accepts simple hex-encoded values. * `crypt` - Compliant with the [C crypt library](https://en.wikipedia.org/wiki/Crypt_%28C%29). Supports the DES, MD5 (hash prefix `$1$`), SHA-256 (hash prefix `$5$`), and SHA-512 (hash prefix `$6$`) hash algorithms. If rounds are specified as part of the prefix, they must be 10,000 or fewer.",
          "type": "string"
        },
        "isDelegatedAdmin": {
          "description": "Output only. Indicates if the user is a delegated administrator. Delegated administrators are supported by the API but cannot create or undelete users, or make users administrators. These requests are ignored by the API service. Roles and privileges for administrators are assigned using the [Admin console](https://support.google.com/a/answer/33325).",
          "type": "boolean",
          "readOnly": true
        },
        "emails": {
          "description": "The list of the user's email addresses. The maximum allowed data size for this field is 10KB. This excludes `publicKeyEncryptionCertificates`.",
          "type": "any"
        },
        "organizations": {
          "description": "The list of organizations the user belongs to. The maximum allowed data size for this field is 10KB.",
          "type": "any"
        },
        "posixAccounts": {
          "description": "The list of [POSIX](https://www.opengroup.org/austin/papers/posix_faq.html) account information for the user.",
          "type": "any"
        },
        "ims": {
          "description": "The list of the user's Instant Messenger (IM) accounts. A user account can have multiple ims properties. But, only one of these ims properties can be the primary IM contact. The maximum allowed data size for this field is 2KB.",
          "type": "any"
        },
        "isAdmin": {
          "readOnly": true,
          "description": "Output only. Indicates a user with super administrator privileges. The `isAdmin` property can only be edited in the [Make a user an administrator](https://developers.google.com/workspace/admin/directory/v1/guides/manage-users.html#make_admin) operation ( [makeAdmin](https://developers.google.com/workspace/admin/directory/v1/reference/users/makeAdmin.html) method). If edited in the user [insert](https://developers.google.com/workspace/admin/directory/v1/reference/users/insert.html) or [update](https://developers.google.com/workspace/admin/directory/v1/reference/users/update.html) methods, the edit is ignored by the API service.",
          "type": "boolean"
        },
        "primaryEmail": {
          "description": "The user's primary email address. This property is required in a request to create a user account. The `primaryEmail` must be unique and cannot be an alias of another user.",
          "annotations": {
            "required": [
              "directory.users.insert"
            ]
          },
          "type": "string"
        },
        "archivalTime": {
          "description": "Output only. User's account archival time. (Read-only)",
          "type": "string",
          "readOnly": true
        },
        "phones": {
          "description": "The list of the user's phone numbers. The maximum allowed data size for this field is 1KB.",
          "type": "any"
        },
        "customerId": {
          "description": "Output only. The customer ID to [retrieve all account users](https://developers.google.com/workspace/admin/directory/v1/guides/manage-users.html#get_all_users). You can use the alias `my_customer` to represent your account's `customerId`. As a reseller administrator, you can use the resold customer account's `customerId`. To get a `customerId`, use the account's primary domain in the `domain` parameter of a [users.list](https://developers.google.com/workspace/admin/directory/v1/reference/users/list) request.",
          "type": "string",
          "readOnly": true
        },
        "suspended": {
          "description": "Indicates if user is suspended.",
          "type": "boolean"
        },
        "creationTime": {
          "format": "date-time",
          "readOnly": true,
          "description": "User's G Suite account creation time. (Read-only)",
          "type": "string"
        },
        "notes": {
          "description": "Notes for the user.",
          "type": "any"
        },
        "addresses": {
          "description": "The list of the user's addresses. The maximum allowed data size for this field is 10KB.",
          "type": "any"
        },
        "externalIds": {
          "description": "The list of external IDs for the user, such as an employee or network ID. The maximum allowed data size for this field is 2KB.",
          "type": "any"
        },
        "isMailboxSetup": {
          "description": "Output only. Indicates if the user's Google mailbox is created. This property is only applicable if the user has been assigned a Gmail license.",
          "type": "boolean",
          "readOnly": true
        },
        "agreedToTerms": {
          "readOnly": true,
          "description": "Output only. This property is `true` if the user has completed an initial login and accepted the Terms of Service agreement.",
          "type": "boolean"
        },
        "gender": {
          "description": "The user's gender. The maximum allowed data size for this field is 1KB.",
          "type": "any"
        },
        "ipWhitelisted": {
          "description": "If `true`, the user's IP address is subject to a deprecated IP address [`allowlist`](https://support.google.com/a/answer/60752) configuration.",
          "type": "boolean"
        },
        "websites": {
          "description": "The user's websites. The maximum allowed data size for this field is 2KB.",
          "type": "any"
        },
        "isEnforcedIn2Sv": {
          "description": "Output only. Is 2-step verification enforced (Read-only)",
          "type": "boolean",
          "readOnly": true
        }
      }
    },
    "DomainAlias": {
      "id": "DomainAlias",
      "type": "object",
      "properties": {
        "verified": {
          "description": "Indicates the verification state of a domain alias. (Read-only)",
          "type": "boolean"
        },
        "kind": {
          "default": "admin#directory#domainAlias",
          "description": "Kind of resource this is.",
          "type": "string"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "parentDomainName": {
          "description": "The parent domain name that the domain alias is associated with. This can either be a primary or secondary domain name within a customer.",
          "annotations": {
            "required": [
              "directory.domains.insert"
            ]
          },
          "type": "string"
        },
        "creationTime": {
          "format": "int64",
          "description": "The creation time of the domain alias. (Read-only).",
          "type": "string"
        },
        "domainAliasName": {
          "description": "The domain alias name.",
          "type": "string"
        }
      }
    },
    "ChromeOsDeviceAction": {
      "id": "ChromeOsDeviceAction",
      "properties": {
        "deprovisionReason": {
          "description": "Only used when the action is `deprovision`. With the `deprovision` action, this field is required. *Note*: The deprovision reason is audited because it might have implications on licenses for perpetual subscription customers.",
          "type": "string"
        },
        "action": {
          "description": "Action to be taken on the Chrome OS device.",
          "annotations": {
            "required": [
              "directory.chromeosdevices.action"
            ]
          },
          "type": "string"
        }
      },
      "description": "Data about an update to the status of a Chrome OS device.",
      "type": "object"
    },
    "UserIm": {
      "description": "JSON template for instant messenger of an user.",
      "type": "object",
      "properties": {
        "customType": {
          "description": "Custom type.",
          "type": "string"
        },
        "protocol": {
          "description": "Protocol used in the instant messenger. It should be one of the values from ImProtocolTypes map. Similar to type it can take a CUSTOM value and specify the custom name in customProtocol field.",
          "type": "string"
        },
        "primary": {
          "description": "If this is user's primary im. Only one entry could be marked as primary.",
          "type": "boolean"
        },
        "im": {
          "description": "Instant messenger id.",
          "type": "string"
        },
        "customProtocol": {
          "description": "Custom protocol.",
          "type": "string"
        },
        "type": {
          "description": "Each entry can have a type which indicates standard types of that entry. For example instant messengers could be of home work etc. In addition to the standard type an entry can have a custom type and can take any value. Such types should have the CUSTOM value as type and also have a customType value.",
          "type": "string"
        }
      },
      "id": "UserIm"
    },
    "MembersHasMember": {
      "properties": {
        "isMember": {
          "description": "Output only. Identifies whether the given user is a member of the group. Membership can be direct or nested.",
          "type": "boolean",
          "readOnly": true
        }
      },
      "description": "JSON template for Has Member response in Directory API.",
      "type": "object",
      "id": "MembersHasMember"
    },
    "Asp": {
      "description": "An application-specific password (ASP) is used with applications that do not accept a verification code when logging into the application on certain devices. The ASP access code is used instead of the login and password you commonly use when accessing an application through a browser. For more information about ASPs and how to create one, see the [help center](https://support.google.com/a/answer/2537800#asp).",
      "type": "object",
      "properties": {
        "kind": {
          "description": "The type of the API resource. This is always `admin#directory#asp`.",
          "type": "string",
          "default": "admin#directory#asp"
        },
        "etag": {
          "description": "ETag of the ASP.",
          "type": "string"
        },
        "name": {
          "description": "The name of the application that the user, represented by their `userId`, entered when the ASP was created.",
          "type": "string"
        },
        "creationTime": {
          "description": "The time when the ASP was created. Expressed in [Unix time](https://en.wikipedia.org/wiki/Epoch_time) format.",
          "type": "string",
          "format": "int64"
        },
        "userKey": {
          "description": "The unique ID of the user who issued the ASP.",
          "type": "string"
        },
        "lastTimeUsed": {
          "description": "The time when the ASP was last used. Expressed in [Unix time](https://en.wikipedia.org/wiki/Epoch_time) format.",
          "type": "string",
          "format": "int64"
        },
        "codeId": {
          "format": "int32",
          "description": "The unique ID of the ASP.",
          "type": "integer"
        }
      },
      "id": "Asp"
    },
    "FeatureInstance": {
      "id": "FeatureInstance",
      "properties": {
        "feature": {
          "$ref": "Feature",
          "description": "The feature that this is an instance of. A calendar resource may have multiple instances of a feature."
        }
      },
      "description": "JSON template for a feature instance.",
      "type": "object"
    },
    "Users": {
      "properties": {
        "trigger_event": {
          "description": "Event that triggered this response (only used in case of Push Response)",
          "type": "string"
        },
        "users": {
          "description": "A list of user objects.",
          "type": "array",
          "items": {
            "$ref": "User"
          }
        },
        "kind": {
          "description": "Kind of resource this is.",
          "type": "string",
          "default": "admin#directory#users"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Token used to access next page of this result. The page token is only valid for three days.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Users"
    },
    "UserAlias": {
      "description": "The Directory API manages aliases, which are alternative email addresses.",
      "type": "object",
      "properties": {
        "primaryEmail": {
          "description": "The user's primary email address.",
          "type": "string"
        },
        "id": {
          "description": "The unique ID for the user.",
          "type": "string"
        },
        "alias": {
          "description": "The alias email address.",
          "type": "string"
        },
        "kind": {
          "description": "The type of the API resource. For Alias resources, the value is `admin#directory#alias`.",
          "type": "string"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        }
      },
      "id": "UserAlias"
    },
    "VerificationCodes": {
      "description": "JSON response template for list verification codes operation in Directory API.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "The type of the resource. This is always `admin#directory#verificationCodesList`.",
          "type": "string",
          "default": "admin#directory#verificationCodesList"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "items": {
          "description": "A list of verification code resources.",
          "type": "array",
          "items": {
            "$ref": "VerificationCode"
          }
        }
      },
      "id": "VerificationCodes"
    },
    "Alias": {
      "description": "JSON template for Alias object in Directory API.",
      "type": "object",
      "properties": {
        "etag": {
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "admin#directory#alias"
        },
        "primaryEmail": {
          "type": "string"
        },
        "alias": {
          "type": "string"
        },
        "id": {
          "type": "string"
        }
      },
      "id": "Alias"
    },
    "BatchChangeChromeOsDeviceStatusRequest": {
      "description": "A request for changing the status of a batch of ChromeOS devices.",
      "type": "object",
      "properties": {
        "deviceIds": {
          "description": "Required. List of the IDs of the ChromeOS devices to change. Maximum 50.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "changeChromeOsDeviceStatusAction": {
          "enumDescriptions": [
            "Default value. Value is unused.",
            "Deprovisions a ChromeOS device. If you have ChromeOS devices that are no longer being used in your organization, you should deprovision them so that you’re no longer managing them. Deprovisioning the device removes all policies that were on the device as well as device-level printers and the ability to use the device as a kiosk. Depending on the upgrade that’s associated with the device this action might release the license back into the license pool; which allows you to use the license on a different device.",
            "Disables a ChromeOS device. Use this action if a user loses their device or it’s stolen, this makes it such that the device is still managed, so it will still receive policies, but no one can use it. Depending on the upgrade that’s associated with the device this action might release the license back into the license pool; which allows you to use the license on a different device.",
            "Reenables a ChromeOS device to be used after being disabled. Reenables the device once it's no longer lost or it's been recovered. This allows the device to be used again. Depending on the upgrade associated with the device this might consume one license from the license pool, meaning that if there aren't enough licenses available the operation will fail."
          ],
          "description": "Required. The action to take on the ChromeOS device in order to change its status.",
          "type": "string",
          "enum": [
            "CHANGE_CHROME_OS_DEVICE_STATUS_ACTION_UNSPECIFIED",
            "CHANGE_CHROME_OS_DEVICE_STATUS_ACTION_DEPROVISION",
            "CHANGE_CHROME_OS_DEVICE_STATUS_ACTION_DISABLE",
            "CHANGE_CHROME_OS_DEVICE_STATUS_ACTION_REENABLE"
          ]
        },
        "deprovisionReason": {
          "enumDeprecated": [
            false,
            false,
            true,
            true,
            true,
            true,
            false,
            false,
            false,
            false,
            false
          ],
          "enum": [
            "DEPROVISION_REASON_UNSPECIFIED",
            "DEPROVISION_REASON_SAME_MODEL_REPLACEMENT",
            "DEPROVISION_REASON_UPGRADE",
            "DEPROVISION_REASON_DOMAIN_MOVE",
            "DEPROVISION_REASON_SERVICE_EXPIRATION",
            "DEPROVISION_REASON_OTHER",
            "DEPROVISION_REASON_DIFFERENT_MODEL_REPLACEMENT",
            "DEPROVISION_REASON_RETIRING_DEVICE",
            "DEPROVISION_REASON_UPGRADE_TRANSFER",
            "DEPROVISION_REASON_NOT_REQUIRED",
            "DEPROVISION_REASON_REPAIR_CENTER"
          ],
          "enumDescriptions": [
            "The deprovision reason is unknown.",
            "Same model replacement. You have return materials authorization (RMA) or you are replacing a malfunctioning device under warranty with the same device model.",
            "The device was upgraded.",
            "The device's domain was changed.",
            "Service expired for the device.",
            "The device was deprovisioned for a legacy reason that is no longer supported.",
            "Different model replacement. You are replacing this device with an upgraded or newer device model.",
            "Retiring from fleet. You are donating, discarding, or otherwise removing the device from use.",
            "ChromeOS Flex upgrade transfer. This is a ChromeOS Flex device that you are replacing with a Chromebook within a year.",
            "A reason was not required. For example, the licenses were returned to the customer's license pool.",
            "The device was deprovisioned by the Repair Service Center. Can only be set by Repair Service Center during RMA."
          ],
          "description": "Optional. The reason behind a device deprovision. Must be provided if 'changeChromeOsDeviceStatusAction' is set to 'CHANGE_CHROME_OS_DEVICE_STATUS_ACTION_DEPROVISION'. Otherwise, omit this field.",
          "type": "string"
        }
      },
      "id": "BatchChangeChromeOsDeviceStatusRequest"
    },
    "UserUndelete": {
      "id": "UserUndelete",
      "properties": {
        "orgUnitPath": {
          "description": "OrgUnit of User",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CustomerPostalAddress": {
      "id": "CustomerPostalAddress",
      "type": "object",
      "properties": {
        "contactName": {
          "description": "The customer contact's name.",
          "type": "string"
        },
        "postalCode": {
          "description": "The postal code. A postalCode example is a postal zip code such as `10009`. This is in accordance with - http: //portablecontacts.net/draft-spec.html#address_element.",
          "type": "string"
        },
        "organizationName": {
          "description": "The company or company division name.",
          "type": "string"
        },
        "countryCode": {
          "description": "This is a required property. For `countryCode` information see the [ISO 3166 country code elements](https://www.iso.org/iso/country_codes.htm).",
          "type": "string"
        },
        "addressLine1": {
          "description": "A customer's physical address. The address can be composed of one to three lines.",
          "type": "string"
        },
        "addressLine3": {
          "description": "Address line 3 of the address.",
          "type": "string"
        },
        "locality": {
          "description": "Name of the locality. An example of a locality value is the city of `San Francisco`.",
          "type": "string"
        },
        "addressLine2": {
          "description": "Address line 2 of the address.",
          "type": "string"
        },
        "region": {
          "description": "Name of the region. An example of a region value is `NY` for the state of New York.",
          "type": "string"
        }
      }
    },
    "DirectoryChromeosdevicesCommandResult": {
      "description": "The result of executing a command.",
      "type": "object",
      "properties": {
        "result": {
          "enumDescriptions": [
            "The command result was unspecified.",
            "The command was ignored as obsolete.",
            "The command could not be executed successfully.",
            "The command was successfully executed."
          ],
          "description": "The result of the command.",
          "type": "string",
          "enum": [
            "COMMAND_RESULT_TYPE_UNSPECIFIED",
            "IGNORED",
            "FAILURE",
            "SUCCESS"
          ]
        },
        "executeTime": {
          "description": "The time at which the command was executed or failed to execute.",
          "type": "string",
          "format": "google-datetime"
        },
        "errorMessage": {
          "description": "The error message with a short explanation as to why the command failed. Only present if the command failed.",
          "type": "string"
        },
        "commandResultPayload": {
          "description": "The payload for the command result. The following commands respond with a payload: * `DEVICE_START_CRD_SESSION`: Payload is a stringified JSON object in the form: { \"url\": url }. The provided URL links to the Chrome Remote Desktop session and requires authentication using only the `email` associated with the command's issuance. * `FETCH_CRD_AVAILABILITY_INFO`: Payload is a stringified JSON object in the form: { \"deviceIdleTimeInSeconds\": number, \"userSessionType\": string, \"remoteSupportAvailability\": string, \"remoteAccessAvailability\": string }. The \"remoteSupportAvailability\" field is set to \"AVAILABLE\" if `shared` CRD session to the device is available. The \"remoteAccessAvailability\" field is set to \"AVAILABLE\" if `private` CRD session to the device is available.",
          "type": "string"
        }
      },
      "id": "DirectoryChromeosdevicesCommandResult"
    },
    "Token": {
      "id": "Token",
      "properties": {
        "anonymous": {
          "description": "Whether the application is registered with Google. The value is `true` if the application has an anonymous Client ID.",
          "type": "boolean"
        },
        "nativeApp": {
          "description": "Whether the token is issued to an installed application. The value is `true` if the application is installed to a desktop or mobile device.",
          "type": "boolean"
        },
        "kind": {
          "default": "admin#directory#token",
          "description": "The type of the API resource. This is always `admin#directory#token`.",
          "type": "string"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "displayText": {
          "description": "The displayable name of the application the token is issued to.",
          "type": "string"
        },
        "userKey": {
          "description": "The unique ID of the user that issued the token.",
          "type": "string"
        },
        "scopes": {
          "items": {
            "type": "string"
          },
          "description": "A list of authorization scopes the application is granted.",
          "type": "array"
        },
        "clientId": {
          "description": "The Client ID of the application the token is issued to.",
          "type": "string"
        }
      },
      "description": "JSON template for token resource in Directory API.",
      "type": "object"
    },
    "Features": {
      "description": "Public API: Resources.features",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Kind of resource this is.",
          "type": "string",
          "default": "admin#directory#resources#features#featuresList"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "The continuation token, used to page through large result sets. Provide this value in a subsequent request to return the next page of results.",
          "type": "string"
        },
        "features": {
          "items": {
            "$ref": "Feature"
          },
          "description": "The Features in this page of results.",
          "type": "array"
        }
      },
      "id": "Features"
    },
    "Members": {
      "properties": {
        "kind": {
          "description": "Kind of resource this is.",
          "type": "string",
          "default": "admin#directory#members"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Token used to access next page of this result.",
          "type": "string"
        },
        "members": {
          "items": {
            "$ref": "Member"
          },
          "description": "A list of member objects.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "Members"
    },
    "UserName": {
      "id": "UserName",
      "properties": {
        "familyName": {
          "description": "The user's last name. Required when creating a user account.",
          "annotations": {
            "required": [
              "directory.users.insert"
            ]
          },
          "type": "string"
        },
        "givenName": {
          "description": "The user's first name. Required when creating a user account.",
          "annotations": {
            "required": [
              "directory.users.insert"
            ]
          },
          "type": "string"
        },
        "fullName": {
          "description": "The user's full name formed by concatenating the first and last name values.",
          "type": "string"
        },
        "displayName": {
          "description": "The user's display name. Limit: 256 characters.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Aliases": {
      "properties": {
        "etag": {
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "admin#directory#aliases"
        },
        "aliases": {
          "items": {
            "type": "any"
          },
          "type": "array"
        }
      },
      "description": "JSON response template to list aliases in Directory API.",
      "type": "object",
      "id": "Aliases"
    },
    "Building": {
      "description": "Public API: Resources.buildings",
      "type": "object",
      "properties": {
        "etags": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "description": {
          "description": "A brief description of the building. For example, \"Chelsea Market\".",
          "type": "string"
        },
        "buildingId": {
          "description": "Unique identifier for the building. The maximum length is 100 characters.",
          "type": "string"
        },
        "buildingName": {
          "description": "The building name as seen by users in Calendar. Must be unique for the customer. For example, \"NYC-CHEL\". The maximum length is 100 characters.",
          "type": "string"
        },
        "kind": {
          "default": "admin#directory#resources#buildings#Building",
          "description": "Kind of resource this is.",
          "type": "string"
        },
        "coordinates": {
          "description": "The geographic coordinates of the center of the building, expressed as latitude and longitude in decimal degrees.",
          "$ref": "BuildingCoordinates"
        },
        "floorNames": {
          "items": {
            "type": "string"
          },
          "description": "The display names for all floors in this building. The floors are expected to be sorted in ascending order, from lowest floor to highest floor. For example, [\"B2\", \"B1\", \"L\", \"1\", \"2\", \"2M\", \"3\", \"PH\"] Must contain at least one entry.",
          "type": "array"
        },
        "address": {
          "description": "The postal address of the building. See [`PostalAddress`](/my-business/reference/rest/v4/PostalAddress) for details. Note that only a single address line and region code are required.",
          "$ref": "BuildingAddress"
        }
      },
      "id": "Building"
    },
    "SchemaFieldSpec": {
      "description": "You can use schemas to add custom fields to user profiles. You can use these fields to store information such as the projects your users work on, their physical locations, their hire dates, or whatever else fits your business needs. For more information, see [Custom User Fields](https://developers.google.com/workspace/admin/directory/v1/guides/manage-schemas).",
      "type": "object",
      "properties": {
        "fieldName": {
          "description": "The name of the field.",
          "annotations": {
            "required": [
              "directory.schemas.insert",
              "directory.schemas.update"
            ]
          },
          "type": "string"
        },
        "multiValued": {
          "description": "A boolean specifying whether this is a multi-valued field or not. Default: `false`.",
          "type": "boolean"
        },
        "numericIndexingSpec": {
          "properties": {
            "minValue": {
              "format": "double",
              "description": "Minimum value of this field. This is meant to be indicative rather than enforced. Values outside this range will still be indexed, but search may not be as performant.",
              "type": "number"
            },
            "maxValue": {
              "description": "Maximum value of this field. This is meant to be indicative rather than enforced. Values outside this range will still be indexed, but search may not be as performant.",
              "type": "number",
              "format": "double"
            }
          },
          "description": "Indexing spec for a numeric field. By default, only exact match queries will be supported for numeric fields. Setting the `numericIndexingSpec` allows range queries to be supported.",
          "type": "object"
        },
        "kind": {
          "default": "admin#directory#schema#fieldspec",
          "description": "The kind of resource this is. For schema fields this is always `admin#directory#schema#fieldspec`.",
          "type": "string"
        },
        "etag": {
          "description": "The ETag of the field.",
          "type": "string"
        },
        "readAccessType": {
          "default": "ALL_DOMAIN_USERS",
          "description": "Specifies who can view values of this field. See [Retrieve users as a non-administrator](https://developers.google.com/workspace/admin/directory/v1/guides/manage-users#retrieve_users_non_admin) for more information. Note: It may take up to 24 hours for changes to this field to be reflected.",
          "type": "string"
        },
        "indexed": {
          "description": "Boolean specifying whether the field is indexed or not. Default: `true`.",
          "type": "boolean",
          "default": "true"
        },
        "fieldType": {
          "description": "The type of the field.",
          "annotations": {
            "required": [
              "directory.schemas.insert",
              "directory.schemas.update"
            ]
          },
          "type": "string"
        },
        "displayName": {
          "description": "Display Name of the field.",
          "annotations": {
            "required": [
              "directory.schemas.insert",
              "directory.schemas.update"
            ]
          },
          "type": "string"
        },
        "fieldId": {
          "description": "The unique identifier of the field (Read-only)",
          "type": "string"
        }
      },
      "id": "SchemaFieldSpec"
    },
    "Empty": {
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "id": "Empty"
    },
    "UserPosixAccount": {
      "id": "UserPosixAccount",
      "properties": {
        "shell": {
          "description": "The path to the login shell for this account.",
          "type": "string"
        },
        "primary": {
          "description": "If this is user's primary account within the SystemId.",
          "type": "boolean"
        },
        "gecos": {
          "description": "The GECOS (user information) for this account.",
          "type": "string"
        },
        "homeDirectory": {
          "description": "The path to the home directory for this account.",
          "type": "string"
        },
        "operatingSystemType": {
          "description": "The operating system type for this account.",
          "type": "string"
        },
        "accountId": {
          "description": "A POSIX account field identifier.",
          "type": "string"
        },
        "gid": {
          "format": "uint64",
          "description": "The default group ID.",
          "type": "string"
        },
        "systemId": {
          "description": "System identifier for which account Username or Uid apply to.",
          "type": "string"
        },
        "uid": {
          "description": "The POSIX compliant user ID.",
          "type": "string",
          "format": "uint64"
        },
        "username": {
          "description": "The username of the account.",
          "type": "string"
        }
      },
      "description": "JSON template for a POSIX account entry.",
      "type": "object"
    },
    "OrgUnit": {
      "id": "OrgUnit",
      "description": "Managing your account's organizational units allows you to configure your users' access to services and custom settings. For more information about common organizational unit tasks, see the [Developer's Guide](https://developers.google.com/workspace/admin/directory/v1/guides/manage-org-units.html). The customer's organizational unit hierarchy is limited to 35 levels of depth.",
      "type": "object",
      "properties": {
        "description": {
          "description": "Description of the organizational unit.",
          "type": "string"
        },
        "blockInheritance": {
          "description": "This field is deprecated and setting its value has no effect.",
          "type": "boolean",
          "deprecated": true
        },
        "orgUnitPath": {
          "description": "The full path to the organizational unit. The `orgUnitPath` is a derived property. When listed, it is derived from `parentOrgunitPath` and organizational unit's `name`. For example, for an organizational unit named 'apps' under parent organization '/engineering', the orgUnitPath is '/engineering/apps'. In order to edit an `orgUnitPath`, either update the name of the organization or the `parentOrgunitPath`. A user's organizational unit determines which Google Workspace services the user has access to. If the user is moved to a new organization, the user's access changes. For more information about organization structures, see the [administration help center](https://support.google.com/a/answer/4352075). For more information about moving a user to a different organization, see [Update a user](https://developers.google.com/workspace/admin/directory/v1/guides/manage-users.html#update_user).",
          "type": "string"
        },
        "name": {
          "description": "The organizational unit's path name. For example, an organizational unit's name within the /corp/support/sales_support parent path is sales_support. Required.",
          "annotations": {
            "required": [
              "directory.orgunits.insert"
            ]
          },
          "type": "string"
        },
        "parentOrgUnitPath": {
          "description": "The organizational unit's parent path. For example, /corp/sales is the parent path for /corp/sales/sales_support organizational unit. Required, unless `parentOrgUnitId` is set.",
          "type": "string"
        },
        "kind": {
          "default": "admin#directory#orgUnit",
          "description": "The type of the API resource. For Orgunits resources, the value is `admin#directory#orgUnit`.",
          "type": "string"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "orgUnitId": {
          "description": "The unique ID of the organizational unit.",
          "type": "string"
        },
        "parentOrgUnitId": {
          "description": "The unique ID of the parent organizational unit. Required, unless `parentOrgUnitPath` is set.",
          "type": "string"
        }
      }
    },
    "ChangeChromeOsDeviceStatusSucceeded": {
      "id": "ChangeChromeOsDeviceStatusSucceeded",
      "properties": {},
      "description": "Response for a successful ChromeOS device status change.",
      "type": "object"
    },
    "GuestAccountInfo": {
      "id": "GuestAccountInfo",
      "description": "Account info specific to Guest users.",
      "type": "object",
      "properties": {
        "primaryGuestEmail": {
          "description": "Immutable. The guest's external email.",
          "type": "string"
        }
      }
    },
    "Domains": {
      "properties": {
        "kind": {
          "description": "Kind of resource this is.",
          "type": "string",
          "default": "admin#directory#domain"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "isPrimary": {
          "description": "Indicates if the domain is a primary domain (Read-only).",
          "type": "boolean"
        },
        "verified": {
          "description": "Indicates the verification state of a domain. (Read-only).",
          "type": "boolean"
        },
        "creationTime": {
          "description": "Creation time of the domain. Expressed in [Unix time](https://en.wikipedia.org/wiki/Epoch_time) format. (Read-only).",
          "type": "string",
          "format": "int64"
        },
        "domainName": {
          "description": "The domain name of the customer.",
          "annotations": {
            "required": [
              "directory.domains.insert"
            ]
          },
          "type": "string"
        },
        "domainAliases": {
          "items": {
            "$ref": "DomainAlias"
          },
          "description": "A list of domain alias objects. (Read-only)",
          "type": "array"
        }
      },
      "type": "object",
      "id": "Domains"
    },
    "FanInfo": {
      "id": "FanInfo",
      "properties": {
        "speedRpm": {
          "description": "Output only. Fan speed in RPM.",
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        }
      },
      "description": "Information about the device's fan.",
      "type": "object"
    },
    "MobileDevice": {
      "id": "MobileDevice",
      "description": "Google Workspace Mobile Management includes Android, [Google Sync](https://support.google.com/a/answer/135937), and iOS devices. For more information about common group mobile device API tasks, see the [Developer's Guide](https://developers.google.com/workspace/admin/directory/v1/guides/manage-mobile-devices.html).",
      "type": "object",
      "properties": {
        "type": {
          "description": "The type of mobile device.",
          "type": "string"
        },
        "buildNumber": {
          "description": "The device's operating system build number.",
          "type": "string"
        },
        "serialNumber": {
          "description": "The device's serial number.",
          "type": "string"
        },
        "name": {
          "items": {
            "type": "string"
          },
          "description": "The list of the owner's user names. If your application needs the current list of device owner names, use the [get](https://developers.google.com/workspace/admin/directory/v1/reference/mobiledevices/get.html) method. For more information about retrieving mobile device user information, see the [Developer's Guide](https://developers.google.com/workspace/admin/directory/v1/guides/manage-users#get_user).",
          "type": "array"
        },
        "kernelVersion": {
          "description": "The device's kernel version.",
          "type": "string"
        },
        "releaseVersion": {
          "description": "Mobile Device release version version (Read-only)",
          "type": "string"
        },
        "status": {
          "description": "The device's status.",
          "type": "string"
        },
        "securityPatchLevel": {
          "format": "int64",
          "description": "Mobile Device Security patch level (Read-only)",
          "type": "string"
        },
        "wifiMacAddress": {
          "description": "The device's MAC address on Wi-Fi networks.",
          "type": "string"
        },
        "applications": {
          "description": "The list of applications installed on an Android mobile device. It is not applicable to Google Sync and iOS devices. The list includes any Android applications that access Google Workspace data. When updating an applications list, it is important to note that updates replace the existing list. If the Android device has two existing applications and the API updates the list with five applications, the is now the updated list of five applications.",
          "type": "array",
          "items": {
            "properties": {
              "versionName": {
                "description": "The application's version name. An example is `3.2-140714`.",
                "type": "string"
              },
              "packageName": {
                "description": "The application's package name. An example is `com.android.browser`.",
                "type": "string"
              },
              "versionCode": {
                "description": "The application's version code. An example is `13`.",
                "type": "integer",
                "format": "int32"
              },
              "displayName": {
                "description": "The application's display name. An example is `Browser`.",
                "type": "string"
              },
              "permission": {
                "description": "The list of permissions of this application. These can be either a standard Android permission or one defined by the application, and are found in an application's [Android manifest](https://developer.android.com/guide/topics/manifest/uses-permission-element.html). Examples of a Calendar application's permissions are `READ_CALENDAR`, or `MANAGE_ACCOUNTS`.",
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "type": "object"
          }
        },
        "deviceId": {
          "description": "The serial number for a Google Sync mobile device. For Android and iOS devices, this is a software generated unique identifier.",
          "type": "string"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "privilege": {
          "description": "DMAgentPermission (Read-only)",
          "type": "string"
        },
        "deviceCompromisedStatus": {
          "description": "The compromised device status.",
          "type": "string"
        },
        "unknownSourcesStatus": {
          "description": "Unknown sources enabled or disabled on device (Read-only)",
          "type": "boolean"
        },
        "devicePasswordStatus": {
          "description": "DevicePasswordStatus (Read-only)",
          "type": "string"
        },
        "managedAccountIsOnOwnerProfile": {
          "description": "Boolean indicating if this account is on owner/primary profile or not.",
          "type": "boolean"
        },
        "networkOperator": {
          "description": "Mobile Device mobile or network operator (if available) (Read-only)",
          "type": "string"
        },
        "manufacturer": {
          "description": "Mobile Device manufacturer (Read-only)",
          "type": "string"
        },
        "kind": {
          "description": "The type of the API resource. For Mobiledevices resources, the value is `admin#directory#mobiledevice`.",
          "type": "string",
          "default": "admin#directory#mobiledevice"
        },
        "userAgent": {
          "description": "Gives information about the device such as `os` version. This property can be [updated](https://developers.google.com/workspace/admin/directory/v1/reference/mobiledevices/update.html). For more information, see the [Developer's Guide](https://developers.google.com/workspace/admin/directory/v1/guides/manage-mobile-devices#update_mobile_device).",
          "type": "string"
        },
        "email": {
          "description": "The list of the owner's email addresses. If your application needs the current list of user emails, use the [get](https://developers.google.com/workspace/admin/directory/v1/reference/mobiledevices/get.html) method. For additional information, see the [retrieve a user](https://developers.google.com/workspace/admin/directory/v1/guides/manage-users#get_user) method.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "developerOptionsStatus": {
          "description": "Developer options enabled or disabled on device (Read-only)",
          "type": "boolean"
        },
        "basebandVersion": {
          "description": "The device's baseband version.",
          "type": "string"
        },
        "os": {
          "description": "The mobile device's operating system, for example IOS 4.3 or Android 2.3.5. This property can be [updated](https://developers.google.com/workspace/admin/directory/v1/reference/mobiledevices/update.html). For more information, see the [Developer's Guide](https://developers.google.com/workspace/admin/directory/v1/guides/manage-mobile-devices#update_mobile_device).",
          "type": "string"
        },
        "firstSync": {
          "description": "Date and time the device was first synchronized with the policy settings in the G Suite administrator control panel (Read-only)",
          "type": "string",
          "format": "date-time"
        },
        "supportsWorkProfile": {
          "description": "Work profile supported on device (Read-only)",
          "type": "boolean"
        },
        "adbStatus": {
          "description": "Adb (USB debugging) enabled or disabled on device (Read-only)",
          "type": "boolean"
        },
        "encryptionStatus": {
          "description": "Mobile Device Encryption Status (Read-only)",
          "type": "string"
        },
        "imei": {
          "description": "The device's IMEI number.",
          "type": "string"
        },
        "brand": {
          "description": "Mobile Device Brand (Read-only)",
          "type": "string"
        },
        "bootloaderVersion": {
          "description": "Mobile Device Bootloader version (Read-only)",
          "type": "string"
        },
        "lastSync": {
          "format": "date-time",
          "description": "Date and time the device was last synchronized with the policy settings in the G Suite administrator control panel (Read-only)",
          "type": "string"
        },
        "resourceId": {
          "description": "The unique ID the API service uses to identify the mobile device.",
          "type": "string"
        },
        "defaultLanguage": {
          "description": "The default locale used on the device.",
          "type": "string"
        },
        "model": {
          "description": "The mobile device's model name, for example Nexus S. This property can be [updated](https://developers.google.com/workspace/admin/directory/v1/reference/mobiledevices/update.html). For more information, see the [Developer's Guide](https://developers.google.com/workspace/admin/directory/v1/guides/manage-mobile=devices#update_mobile_device).",
          "type": "string"
        },
        "otherAccountsInfo": {
          "description": "The list of accounts added on device (Read-only)",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "hardwareId": {
          "description": "The IMEI/MEID unique identifier for Android hardware. It is not applicable to Google Sync devices. When adding an Android mobile device, this is an optional property. When updating one of these devices, this is a read-only property.",
          "type": "string"
        },
        "meid": {
          "description": "The device's MEID number.",
          "type": "string"
        },
        "hardware": {
          "description": "Mobile Device Hardware (Read-only)",
          "type": "string"
        }
      }
    },
    "UserSshPublicKey": {
      "id": "UserSshPublicKey",
      "properties": {
        "fingerprint": {
          "description": "A SHA-256 fingerprint of the SSH public key. (Read-only)",
          "type": "string",
          "readOnly": true
        },
        "expirationTimeUsec": {
          "format": "int64",
          "description": "An expiration time in microseconds since epoch.",
          "type": "string"
        },
        "key": {
          "description": "An SSH public key.",
          "type": "string"
        }
      },
      "description": "JSON template for a POSIX account entry.",
      "type": "object"
    },
    "PrinterModel": {
      "properties": {
        "makeAndModel": {
          "description": "Make and model as represented in \"make_and_model\" field in Printer object. eq. \"brother mfc-8840d\"",
          "type": "string"
        },
        "displayName": {
          "description": "Display name. eq. \"Brother MFC-8840D\"",
          "type": "string"
        },
        "manufacturer": {
          "description": "Manufacturer. eq. \"Brother\"",
          "type": "string"
        }
      },
      "description": "Printer manufacturer and model",
      "type": "object",
      "id": "PrinterModel"
    },
    "Printer": {
      "description": "Printer configuration.",
      "type": "object",
      "properties": {
        "uri": {
          "description": "Editable. Printer URI.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time when printer was created.",
          "type": "string"
        },
        "orgUnitId": {
          "description": "Organization Unit that owns this printer (Only can be set during Printer creation)",
          "type": "string"
        },
        "useDriverlessConfig": {
          "description": "Editable. flag to use driverless configuration or not. If it's set to be true, make_and_model can be ignored",
          "type": "boolean"
        },
        "makeAndModel": {
          "description": "Editable. Make and model of printer. e.g. Lexmark MS610de Value must be in format as seen in ListPrinterModels response.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the Printer object, in the format customers/{customer-id}/printers/{printer-id} (During printer creation leave empty)",
          "type": "string"
        },
        "description": {
          "description": "Editable. Description of printer.",
          "type": "string"
        },
        "displayName": {
          "description": "Editable. Name of printer.",
          "type": "string"
        },
        "auxiliaryMessages": {
          "description": "Output only. Auxiliary messages about issues with the printer configuration if any.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "AuxiliaryMessage"
          }
        },
        "id": {
          "description": "Id of the printer. (During printer creation leave empty)",
          "type": "string"
        }
      },
      "id": "Printer"
    },
    "BatchDeletePrintersRequest": {
      "id": "BatchDeletePrintersRequest",
      "properties": {
        "printerIds": {
          "items": {
            "type": "string"
          },
          "description": "A list of Printer.id that should be deleted. Max 100 at a time.",
          "type": "array"
        }
      },
      "description": "Request for deleting existing printers in batch.",
      "type": "object"
    },
    "VerificationCode": {
      "properties": {
        "verificationCode": {
          "description": "A current verification code for the user. Invalidated or used verification codes are not returned as part of the result.",
          "type": "string"
        },
        "kind": {
          "default": "admin#directory#verificationCode",
          "description": "The type of the resource. This is always `admin#directory#verificationCode`.",
          "type": "string"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "userId": {
          "description": "The obfuscated unique ID of the user.",
          "type": "string"
        }
      },
      "description": "The Directory API allows you to view, generate, and invalidate backup verification codes for a user.",
      "type": "object",
      "id": "VerificationCode"
    },
    "Buildings": {
      "properties": {
        "buildings": {
          "description": "The Buildings in this page of results.",
          "type": "array",
          "items": {
            "$ref": "Building"
          }
        },
        "kind": {
          "default": "admin#directory#resources#buildings#buildingsList",
          "description": "Kind of resource this is.",
          "type": "string"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "The continuation token, used to page through large result sets. Provide this value in a subsequent request to return the next page of results.",
          "type": "string"
        }
      },
      "description": "Public API: Resources.buildings",
      "type": "object",
      "id": "Buildings"
    },
    "PrintServer": {
      "id": "PrintServer",
      "description": "Configuration for a print server.",
      "type": "object",
      "properties": {
        "id": {
          "description": "Immutable. ID of the print server. Leave empty when creating.",
          "type": "string"
        },
        "displayName": {
          "description": "Editable. Display name of the print server (as shown in the Admin console).",
          "type": "string"
        },
        "description": {
          "description": "Editable. Description of the print server (as shown in the Admin console).",
          "type": "string"
        },
        "name": {
          "description": "Identifier. Resource name of the print server. Leave empty when creating. Format: `customers/{customer.id}/printServers/{print_server.id}`",
          "type": "string"
        },
        "uri": {
          "description": "Editable. Print server URI.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time when the print server was created.",
          "type": "string"
        },
        "orgUnitId": {
          "description": "ID of the organization unit (OU) that owns this print server. This value can only be set when the print server is initially created. If it's not populated, the print server is placed under the root OU. The `org_unit_id` can be retrieved using the [Directory API](https://developers.google.com/workspace/admin/directory/reference/rest/v1/orgunits).",
          "type": "string"
        }
      }
    },
    "UserGender": {
      "properties": {
        "customGender": {
          "description": "Custom gender.",
          "type": "string"
        },
        "addressMeAs": {
          "description": "AddressMeAs. A human-readable string containing the proper way to refer to the profile owner by humans for example he/him/his or they/them/their.",
          "type": "string"
        },
        "type": {
          "description": "Gender.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "UserGender"
    },
    "DirectoryUsersCreateGuestRequest": {
      "properties": {
        "primaryGuestEmail": {
          "description": "Required. External email of the guest user being created.",
          "type": "string"
        },
        "customer": {
          "description": "Optional. Immutable ID of the Google Workspace account. Only required when request is created by a service account. Defaults to the authenticated user's customer ID otherwise.",
          "type": "string"
        }
      },
      "description": "Directory users guest creation request message.",
      "type": "object",
      "id": "DirectoryUsersCreateGuestRequest"
    },
    "BatchCreatePrintServersResponse": {
      "id": "BatchCreatePrintServersResponse",
      "type": "object",
      "properties": {
        "printServers": {
          "items": {
            "$ref": "PrintServer"
          },
          "description": "A list of successfully created print servers with their IDs populated.",
          "type": "array"
        },
        "failures": {
          "items": {
            "$ref": "PrintServerFailureInfo"
          },
          "description": "A list of create failures. `PrintServer` IDs are not populated, as print servers were not created.",
          "type": "array"
        }
      }
    },
    "RoleAssignments": {
      "properties": {
        "kind": {
          "default": "admin#directory#roleAssignments",
          "description": "The type of the API resource. This is always `admin#directory#roleAssignments`.",
          "type": "string"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "RoleAssignment"
          },
          "description": "A list of RoleAssignment resources.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "RoleAssignments"
    },
    "UserAddress": {
      "description": "JSON template for address.",
      "type": "object",
      "properties": {
        "countryCode": {
          "description": "Country code.",
          "type": "string"
        },
        "poBox": {
          "description": "Other parts of address.",
          "type": "string"
[...]
