{
  "title": "Admin SDK API",
  "mtlsRootUrl": "https://admin.mtls.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "revision": "20260611",
  "schemas": {
    "Application": {
      "description": "Application resources represent applications installed on the domain that support transferring ownership of user data.",
      "id": "Application",
      "type": "object",
      "properties": {
        "id": {
          "description": "The application's ID. Retrievable by using the [`applications.list()`](https://developers.google.com/workspace/admin/data-transfer/reference/rest/v1/applications/list) method.",
          "type": "string",
          "format": "int64"
        },
        "transferParams": {
          "type": "array",
          "items": {
            "$ref": "ApplicationTransferParam"
          },
          "description": "The list of all possible transfer parameters for this application. These parameters select which categories of the user's data to transfer."
        },
        "name": {
          "type": "string",
          "description": "The application's name."
        },
        "etag": {
          "type": "string",
          "description": "Etag of the resource."
        },
        "kind": {
          "type": "string",
          "description": "Identifies the resource as a DataTransfer Application Resource.",
          "default": "admin#datatransfer#ApplicationResource"
        }
      }
    },
    "ApplicationDataTransfer": {
      "id": "ApplicationDataTransfer",
      "type": "object",
      "properties": {
        "applicationTransferParams": {
          "description": "The transfer parameters for the application. These parameters are used to select the data which will get transferred in context of this application. For more information about the specific values available for each application, see the [Transfer parameters](https://developers.google.com/workspace/admin/data-transfer/v1/parameters) reference.",
          "type": "array",
          "items": {
            "$ref": "ApplicationTransferParam"
          }
        },
        "applicationTransferStatus": {
          "description": "Read-only. Current status of transfer for this application.",
          "type": "string"
        },
        "applicationId": {
          "type": "string",
          "description": "The application's ID.",
          "format": "int64"
        }
      },
      "description": "Template to map fields of ApplicationDataTransfer resource."
    },
    "DataTransfer": {
      "id": "DataTransfer",
      "type": "object",
      "properties": {
        "newOwnerUserId": {
          "type": "string",
          "description": "ID of the user to whom the data is being transferred."
        },
        "requestTime": {
          "type": "string",
          "description": "Read-only. The time at which the data transfer was requested.",
          "format": "date-time"
        },
        "oldOwnerUserId": {
          "description": "ID of the user whose data is being transferred.",
          "type": "string"
        },
        "applicationDataTransfers": {
          "type": "array",
          "items": {
            "$ref": "ApplicationDataTransfer"
          },
          "description": "The list of per-application data transfer resources. It contains details of the applications associated with this transfer resource, and also specifies the applications for which data transfer has to be done at the time of the transfer resource creation."
        },
        "id": {
          "description": "Read-only. The transfer's ID.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "kind": {
          "type": "string",
          "description": "Identifies the resource as a DataTransfer request.",
          "default": "admin#datatransfer#DataTransfer"
        },
        "overallTransferStatusCode": {
          "type": "string",
          "description": "Read-only. Overall transfer status."
        }
      },
      "description": "A Transfer resource represents the transfer of the ownership of user data between users."
    },
    "ApplicationTransferParam": {
      "id": "ApplicationTransferParam",
      "type": "object",
      "properties": {
        "key": {
          "type": "string",
          "description": "The type of the transfer parameter, such as `PRIVACY_LEVEL`."
        },
        "value": {
          "description": "The value of the transfer parameter, such as `PRIVATE` or `SHARED`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Template for application transfer parameters."
    },
    "ApplicationsListResponse": {
      "id": "ApplicationsListResponse",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies the resource as a collection of Applications.",
          "default": "admin#datatransfer#applicationsList",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to specify the next page in the list."
        },
        "applications": {
          "description": "The list of applications that support data transfer and are also installed for the customer.",
          "type": "array",
          "items": {
            "$ref": "Application"
          }
        }
      },
      "description": "Template for a collection of Applications."
    },
    "DataTransfersListResponse": {
      "description": "Template for a collection of DataTransfer resources.",
      "id": "DataTransfersListResponse",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies the resource as a collection of data transfer requests.",
          "default": "admin#datatransfer#dataTransfersList"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "dataTransfers": {
          "description": "List of data transfer requests.",
          "type": "array",
          "items": {
            "$ref": "DataTransfer"
          }
        },
        "nextPageToken": {
          "description": "Token to specify the next page in the list.",
          "type": "string"
        }
      }
    }
  },
  "packagePath": "admin",
  "canonicalName": "DataTransfer",
  "servicePath": "",
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "baseUrl": "https://admin.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "rootUrl": "https://admin.googleapis.com/",
  "discoveryVersion": "v1",
  "description": "Admin SDK lets administrators of enterprise domains to view and manage resources like user, groups etc. It also provides audit and usage reports of domain.",
  "parameters": {
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "description": "Data format for response.",
      "default": "json"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    }
  },
  "protocol": "rest",
  "basePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/admin.datatransfer": {
          "description": "View and manage data transfers between users in your organization"
        },
        "https://www.googleapis.com/auth/admin.datatransfer.readonly": {
          "description": "View data transfers between users in your organization"
        }
      }
    }
  },
  "resources": {
    "transfers": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "path": "admin/datatransfer/v1/transfers",
          "id": "datatransfer.transfers.list",
          "parameters": {
            "oldOwnerUserId": {
              "description": "Source user's profile ID.",
              "location": "query",
              "type": "string"
            },
            "status": {
              "description": "Status of the transfer.",
              "location": "query",
              "type": "string"
            },
            "newOwnerUserId": {
              "description": "Destination user's profile ID.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "type": "string",
              "description": "Token to specify the next page in the list.",
              "location": "query"
            },
            "customerId": {
              "type": "string",
              "description": "Immutable ID of the Google Workspace account.",
              "location": "query"
            },
            "maxResults": {
              "description": "Maximum number of results to return. Default is 100.",
              "maximum": "500",
              "type": "integer",
              "minimum": "1",
              "format": "int32",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "description": "Lists the transfers for a customer by source user, destination user, or status.",
          "response": {
            "$ref": "DataTransfersListResponse"
          },
          "flatPath": "admin/datatransfer/v1/transfers",
          "parameterOrder": []
        },
        "insert": {
          "httpMethod": "POST",
          "id": "datatransfer.transfers.insert",
          "path": "admin/datatransfer/v1/transfers",
          "request": {
            "$ref": "DataTransfer"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer"
          ],
          "description": "Inserts a data transfer request. See the [Transfer parameters](https://developers.google.com/workspace/admin/data-transfer/v1/parameters) reference for specific application requirements.",
          "parameters": {},
          "flatPath": "admin/datatransfer/v1/transfers",
          "parameterOrder": [],
          "response": {
            "$ref": "DataTransfer"
          }
        },
        "get": {
          "parameters": {
            "dataTransferId": {
              "type": "string",
              "description": "ID of the resource to be retrieved. This is returned in the response from the insert method.",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "description": "Retrieves a data transfer request by its resource ID.",
          "response": {
            "$ref": "DataTransfer"
          },
          "flatPath": "admin/datatransfer/v1/transfers/{dataTransferId}",
          "parameterOrder": [
            "dataTransferId"
          ],
          "httpMethod": "GET",
          "path": "admin/datatransfer/v1/transfers/{dataTransferId}",
          "id": "datatransfer.transfers.get"
        }
      }
    },
    "applications": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "id": "datatransfer.applications.get",
          "path": "admin/datatransfer/v1/applications/{applicationId}",
          "parameters": {
            "applicationId": {
              "required": true,
              "format": "int64",
              "location": "path",
              "description": "ID of the application resource to be retrieved.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "description": "Retrieves information about an application for the given application ID.",
          "response": {
            "$ref": "Application"
          },
          "flatPath": "admin/datatransfer/v1/applications/{applicationId}",
          "parameterOrder": [
            "applicationId"
          ]
        },
        "list": {
          "response": {
            "$ref": "ApplicationsListResponse"
          },
          "flatPath": "admin/datatransfer/v1/applications",
          "parameterOrder": [],
          "parameters": {
            "customerId": {
              "description": "Immutable ID of the Google Workspace account.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "description": "Maximum number of results to return. Default is 100.",
              "maximum": "500",
              "type": "integer",
              "location": "query",
              "minimum": "1",
              "format": "int32"
            },
            "pageToken": {
              "description": "Token to specify next page in the list.",
              "location": "query",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "description": "Lists the applications available for data transfer for a customer.",
          "path": "admin/datatransfer/v1/applications",
          "id": "datatransfer.applications.list",
          "httpMethod": "GET"
        }
      }
    }
  },
  "batchPath": "batch",
  "id": "admin:datatransfer_v1",
  "version": "datatransfer_v1",
  "name": "admin",
  "ownerDomain": "google.com",
  "documentationLink": "https://developers.google.com/workspace/admin/"
}