{
  "version": "datatransfer_v1",
  "protocol": "rest",
  "canonicalName": "DataTransfer",
  "mtlsRootUrl": "https://admin.mtls.googleapis.com/",
  "ownerDomain": "google.com",
  "revision": "20260909",
  "resources": {
    "applications": {
      "methods": {
        "list": {
          "parameters": {
            "maxResults": {
              "format": "int32",
              "description": "Maximum number of results to return. Default is 100.",
              "maximum": "500",
              "type": "integer",
              "minimum": "1",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "description": "Token to specify next page in the list.",
              "location": "query"
            },
            "customerId": {
              "type": "string",
              "description": "Immutable ID of the Google Workspace account.",
              "location": "query"
            }
          },
          "parameterOrder": [],
          "httpMethod": "GET",
          "path": "admin/datatransfer/v1/applications",
          "response": {
            "$ref": "ApplicationsListResponse"
          },
          "id": "datatransfer.applications.list",
          "flatPath": "admin/datatransfer/v1/applications",
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "description": "Lists the applications available for data transfer for a customer."
        },
        "get": {
          "description": "Retrieves information about an application for the given application ID.",
          "parameterOrder": [
            "applicationId"
          ],
          "id": "datatransfer.applications.get",
          "flatPath": "admin/datatransfer/v1/applications/{applicationId}",
          "parameters": {
            "applicationId": {
              "type": "string",
              "location": "path",
              "required": true,
              "format": "int64",
              "description": "ID of the application resource to be retrieved."
            }
          },
          "response": {
            "$ref": "Application"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "path": "admin/datatransfer/v1/applications/{applicationId}",
          "httpMethod": "GET"
        }
      }
    },
    "transfers": {
      "methods": {
        "list": {
          "path": "admin/datatransfer/v1/transfers",
          "response": {
            "$ref": "DataTransfersListResponse"
          },
          "description": "Lists the transfers for a customer by source user, destination user, or status.",
          "parameterOrder": [],
          "id": "datatransfer.transfers.list",
          "parameters": {
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Token to specify the next page in the list."
            },
            "status": {
              "type": "string",
              "description": "Status of the transfer.",
              "location": "query"
            },
            "newOwnerUserId": {
              "description": "Destination user's profile ID.",
              "location": "query",
              "type": "string"
            },
            "oldOwnerUserId": {
              "type": "string",
              "description": "Source user's profile ID.",
              "location": "query"
            },
            "customerId": {
              "location": "query",
              "type": "string",
              "description": "Immutable ID of the Google Workspace account."
            },
            "maxResults": {
              "format": "int32",
              "maximum": "500",
              "minimum": "1",
              "description": "Maximum number of results to return. Default is 100.",
              "location": "query",
              "type": "integer"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "httpMethod": "GET",
          "flatPath": "admin/datatransfer/v1/transfers"
        },
        "get": {
          "response": {
            "$ref": "DataTransfer"
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "dataTransferId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "path": "admin/datatransfer/v1/transfers/{dataTransferId}",
          "description": "Retrieves a data transfer request by its resource ID.",
          "flatPath": "admin/datatransfer/v1/transfers/{dataTransferId}",
          "id": "datatransfer.transfers.get",
          "parameters": {
            "dataTransferId": {
              "location": "path",
              "description": "ID of the resource to be retrieved. This is returned in the response from the insert method.",
              "required": true,
              "type": "string"
            }
          }
        },
        "insert": {
          "parameterOrder": [],
          "flatPath": "admin/datatransfer/v1/transfers",
          "path": "admin/datatransfer/v1/transfers",
          "response": {
            "$ref": "DataTransfer"
          },
          "parameters": {},
          "request": {
            "$ref": "DataTransfer"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer"
          ],
          "id": "datatransfer.transfers.insert",
          "httpMethod": "POST",
          "description": "Inserts a data transfer request. See the [Transfer parameters](https://developers.google.com/workspace/admin/data-transfer/v1/parameters) reference for specific application requirements."
        }
      }
    }
  },
  "description": "Admin SDK lets administrators of enterprise domains to view and manage resources like user, groups etc. It also provides audit and usage reports of domain.",
  "title": "Admin SDK API",
  "discoveryVersion": "v1",
  "parameters": {
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "type": "string",
      "default": "json",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "description": "V1 error format."
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "rootUrl": "https://admin.googleapis.com/",
  "batchPath": "batch",
  "schemas": {
    "DataTransfer": {
      "id": "DataTransfer",
      "description": "A Transfer resource represents the transfer of the ownership of user data between users.",
      "properties": {
        "kind": {
          "description": "Identifies the resource as a DataTransfer request.",
          "type": "string",
          "default": "admin#datatransfer#DataTransfer"
        },
        "oldOwnerUserId": {
          "type": "string",
          "description": "ID of the user whose data is being transferred."
        },
        "newOwnerUserId": {
          "description": "ID of the user to whom the data is being transferred.",
          "type": "string"
        },
        "id": {
          "description": "Read-only. The transfer's ID.",
          "type": "string"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "overallTransferStatusCode": {
          "description": "Read-only. Overall transfer status.",
          "type": "string"
        },
        "requestTime": {
          "type": "string",
          "description": "Read-only. The time at which the data transfer was requested.",
          "format": "date-time"
        },
        "applicationDataTransfers": {
          "type": "array",
          "description": "The list of per-application data transfer resources. It contains details of the applications associated with this transfer resource, and also specifies the applications for which data transfer has to be done at the time of the transfer resource creation.",
          "items": {
            "$ref": "ApplicationDataTransfer"
          }
        }
      },
      "type": "object"
    },
    "ApplicationDataTransfer": {
      "id": "ApplicationDataTransfer",
      "type": "object",
      "description": "Template to map fields of ApplicationDataTransfer resource.",
      "properties": {
        "applicationId": {
          "description": "The application's ID.",
          "type": "string",
          "format": "int64"
        },
        "applicationTransferStatus": {
          "type": "string",
          "description": "Read-only. Current status of transfer for this application."
        },
        "applicationTransferParams": {
          "type": "array",
          "description": "The transfer parameters for the application. These parameters are used to select the data which will get transferred in context of this application. For more information about the specific values available for each application, see the [Transfer parameters](https://developers.google.com/workspace/admin/data-transfer/v1/parameters) reference.",
          "items": {
            "$ref": "ApplicationTransferParam"
          }
        }
      }
    },
    "Application": {
      "properties": {
        "id": {
          "format": "int64",
          "type": "string",
          "description": "The application's ID. Retrievable by using the [`applications.list()`](https://developers.google.com/workspace/admin/data-transfer/reference/rest/v1/applications/list) method."
        },
        "name": {
          "description": "The application's name.",
          "type": "string"
        },
        "transferParams": {
          "items": {
            "$ref": "ApplicationTransferParam"
          },
          "description": "The list of all possible transfer parameters for this application. These parameters select which categories of the user's data to transfer.",
          "type": "array"
        },
        "etag": {
          "description": "Etag of the resource.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies the resource as a DataTransfer Application Resource.",
          "type": "string",
          "default": "admin#datatransfer#ApplicationResource"
        }
      },
      "type": "object",
      "id": "Application",
      "description": "Application resources represent applications installed on the domain that support transferring ownership of user data."
    },
    "ApplicationTransferParam": {
      "properties": {
        "value": {
          "description": "The value of the transfer parameter, such as `PRIVATE` or `SHARED`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "key": {
          "description": "The type of the transfer parameter, such as `PRIVACY_LEVEL`.",
          "type": "string"
        }
      },
      "description": "Template for application transfer parameters.",
      "type": "object",
      "id": "ApplicationTransferParam"
    },
    "DataTransfersListResponse": {
      "description": "Template for a collection of DataTransfer resources.",
      "type": "object",
      "id": "DataTransfersListResponse",
      "properties": {
        "dataTransfers": {
          "items": {
            "$ref": "DataTransfer"
          },
          "description": "List of data transfer requests.",
          "type": "array"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to specify the next page in the list."
        },
        "kind": {
          "type": "string",
          "description": "Identifies the resource as a collection of data transfer requests.",
          "default": "admin#datatransfer#dataTransfersList"
        }
      }
    },
    "ApplicationsListResponse": {
      "properties": {
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "applications": {
          "description": "The list of applications that support data transfer and are also installed for the customer.",
          "items": {
            "$ref": "Application"
          },
          "type": "array"
        },
        "kind": {
          "default": "admin#datatransfer#applicationsList",
          "description": "Identifies the resource as a collection of Applications.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Token to specify the next page in the list.",
          "type": "string"
        }
      },
      "description": "Template for a collection of Applications.",
      "id": "ApplicationsListResponse",
      "type": "object"
    }
  },
  "basePath": "",
  "id": "admin:datatransfer_v1",
  "kind": "discovery#restDescription",
  "packagePath": "admin",
  "ownerName": "Google",
  "servicePath": "",
  "documentationLink": "https://developers.google.com/workspace/admin/",
  "name": "admin",
  "baseUrl": "https://admin.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/admin.datatransfer": {
          "description": "View and manage data transfers between users in your organization"
        },
        "https://www.googleapis.com/auth/admin.datatransfer.readonly": {
          "description": "View data transfers between users in your organization"
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true
}