{
  "documentationLink": "https://developers.google.com/workspace/admin/",
  "canonicalName": "directory",
  "id": "admin:directory_v1",
  "basePath": "",
  "mtlsRootUrl": "https://admin.mtls.googleapis.com/",
  "protocol": "rest",
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "resources": {
    "privileges": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "response": {
            "$ref": "Privileges"
          },
          "parameters": {
            "customer": {
              "description": "The unique ID for the customer's Google Workspace account. In case of a multi-domain account, to fetch all groups for a customer, use this field instead of `domain`. You can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users](https://developers.google.com/workspace/admin/directory/v1/reference/users) resource. You must provide either the `customer` or the `domain` parameter.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "description": "Retrieves a paginated list of all privileges for a customer.",
          "path": "admin/directory/v1/customer/{customer}/roles/ALL/privileges",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.rolemanagement",
            "https://www.googleapis.com/auth/admin.directory.rolemanagement.readonly"
          ],
          "id": "directory.privileges.list",
          "flatPath": "admin/directory/v1/customer/{customer}/roles/ALL/privileges",
          "parameterOrder": [
            "customer"
          ]
        }
      }
    },
    "chromeosdevices": {
      "methods": {
        "action": {
          "parameters": {
            "customerId": {
              "required": true,
              "location": "path",
              "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users resource](https://developers.google.com/workspace/admin/directory/v1/reference/users).",
              "type": "string"
            },
            "resourceId": {
              "location": "path",
              "required": true,
              "description": "The unique ID of the device. The `resourceId`s are returned in the response from the [chromeosdevices.list](https://developers.google.com/workspace/admin/directory/v1/reference/chromeosdevices/list) method.",
              "type": "string"
            }
          },
          "description": "Use [BatchChangeChromeOsDeviceStatus](https://developers.google.com/workspace/admin/directory/reference/rest/v1/customer.devices.chromeos/batchChangeStatus) instead. Takes an action that affects a Chrome OS Device. This includes deprovisioning, disabling, and re-enabling devices. *Warning:* * Deprovisioning a device will stop device policy syncing and remove device-level printers. After a device is deprovisioned, it must be wiped before it can be re-enrolled. * Lost or stolen devices should use the disable action. * Re-enabling a disabled device will consume a device license. If you do not have sufficient licenses available when completing the re-enable action, you will receive an error. For more information about deprovisioning and disabling devices, visit the [help center](https://support.google.com/chrome/a/answer/3523633).",
          "path": "admin/directory/v1/customer/{customerId}/devices/chromeos/{resourceId}/action",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.device.chromeos"
          ],
          "deprecated": true,
          "httpMethod": "POST",
          "flatPath": "admin/directory/v1/customer/{customerId}/devices/chromeos/{resourceId}/action",
          "parameterOrder": [
            "customerId",
            "resourceId"
          ],
          "id": "directory.chromeosdevices.action",
          "request": {
            "$ref": "ChromeOsDeviceAction"
          }
        },
        "moveDevicesToOu": {
          "parameterOrder": [
            "customerId",
            "orgUnitPath"
          ],
          "flatPath": "admin/directory/v1/customer/{customerId}/devices/chromeos/moveDevicesToOu",
          "id": "directory.chromeosdevices.moveDevicesToOu",
          "request": {
            "$ref": "ChromeOsMoveDevicesToOu"
          },
          "parameters": {
            "customerId": {
              "location": "path",
              "required": true,
              "description": "Immutable. ID of the Google Workspace account",
              "type": "string"
            },
            "orgUnitPath": {
              "location": "query",
              "required": true,
              "description": "Full path of the target organizational unit or its ID",
              "type": "string"
            }
          },
          "description": "Moves or inserts multiple Chrome OS devices to an organizational unit. You can move up to 50 devices at once.",
          "path": "admin/directory/v1/customer/{customerId}/devices/chromeos/moveDevicesToOu",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.device.chromeos"
          ],
          "httpMethod": "POST"
        },
        "patch": {
          "httpMethod": "PATCH",
          "path": "admin/directory/v1/customer/{customerId}/devices/chromeos/{deviceId}",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.device.chromeos"
          ],
          "parameters": {
            "customerId": {
              "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users resource](https://developers.google.com/workspace/admin/directory/v1/reference/users).",
              "type": "string",
              "location": "path",
              "required": true
            },
            "projection": {
              "enumDescriptions": [
                "Includes only the basic metadata fields (e.g., deviceId, serialNumber, status, and user)",
                "Includes all metadata fields"
              ],
              "location": "query",
              "description": "Determines whether the response contains the full list of properties or only a subset.",
              "type": "string",
              "enum": [
                "BASIC",
                "FULL"
              ]
            },
            "deviceId": {
              "description": "The unique ID of the device. The `deviceId`s are returned in the response from the [chromeosdevices.list](https://developers.google.com/workspace/admin/v1/reference/chromeosdevices/list) method.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "description": "Updates a device's updatable properties, such as `annotatedUser`, `annotatedLocation`, `notes`, `orgUnitPath`, or `annotatedAssetId`. This method supports [patch semantics](https://developers.google.com/workspace/admin/directory/v1/guides/performance#patch).",
          "response": {
            "$ref": "ChromeOsDevice"
          },
          "request": {
            "$ref": "ChromeOsDevice"
          },
          "id": "directory.chromeosdevices.patch",
          "parameterOrder": [
            "customerId",
            "deviceId"
          ],
          "flatPath": "admin/directory/v1/customer/{customerId}/devices/chromeos/{deviceId}"
        },
        "get": {
          "parameterOrder": [
            "customerId",
            "deviceId"
          ],
          "flatPath": "admin/directory/v1/customer/{customerId}/devices/chromeos/{deviceId}",
          "id": "directory.chromeosdevices.get",
          "path": "admin/directory/v1/customer/{customerId}/devices/chromeos/{deviceId}",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.device.chromeos",
            "https://www.googleapis.com/auth/admin.directory.device.chromeos.readonly"
          ],
          "parameters": {
            "deviceId": {
              "description": "The unique ID of the device. The `deviceId`s are returned in the response from the [chromeosdevices.list](https://developers.google.com/workspace/admin/directory/v1/reference/chromeosdevices/list) method.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "customerId": {
              "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users resource](https://developers.google.com/workspace/admin/directory/v1/reference/users).",
              "type": "string",
              "location": "path",
              "required": true
            },
            "projection": {
              "location": "query",
              "enumDescriptions": [
                "Includes only the basic metadata fields (e.g., deviceId, serialNumber, status, and user)",
                "Includes all metadata fields"
              ],
              "enum": [
                "BASIC",
                "FULL"
              ],
              "description": "Determines whether the response contains the full list of properties or only a subset.",
              "type": "string"
            }
          },
          "description": "Retrieves a Chrome OS device's properties.",
          "response": {
            "$ref": "ChromeOsDevice"
          },
          "httpMethod": "GET"
        },
        "list": {
          "response": {
            "$ref": "ChromeOsDevices"
          },
          "parameters": {
            "query": {
              "description": "Search string in the format given at [List query operators](https://developers.google.com/workspace/admin/directory/v1/list-query-operators).",
              "type": "string",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "description": "The `pageToken` query parameter is used to request the next page of query results. The follow-on request's `pageToken` query parameter is the `nextPageToken` from your previous response.",
              "type": "string"
            },
            "maxResults": {
              "location": "query",
              "format": "int32",
              "minimum": "1",
              "description": "Maximum number of results to return. Value should not exceed 300.",
              "type": "integer",
              "default": "100"
            },
            "sortOrder": {
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "description": "Whether to return results in ascending or descending order. Must be used with the `orderBy` parameter.",
              "type": "string",
              "location": "query",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ]
            },
            "includeChildOrgunits": {
              "description": "Return devices from all child orgunits, as well as the specified org unit. If this is set to true, 'orgUnitPath' must be provided.",
              "type": "boolean",
              "location": "query"
            },
            "orderBy": {
              "enum": [
                "annotatedLocation",
                "annotatedUser",
                "lastSync",
                "notes",
                "serialNumber",
                "status"
              ],
              "description": "Device property to use for sorting results.",
              "type": "string",
              "location": "query",
              "enumDescriptions": [
                "Chrome device location as annotated by the administrator.",
                "Chromebook user as annotated by administrator.",
                "The date and time the Chrome device was last synchronized with the policy settings in the Admin console.",
                "Chrome device notes as annotated by the administrator.",
                "The Chrome device serial number entered when the device was enabled.",
                "Chrome device status. For more information, see the <a [chromeosdevices](https://developers.google.com/workspace/admin/directory/v1/reference/chromeosdevices.html)."
              ]
            },
            "customerId": {
              "required": true,
              "location": "path",
              "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users resource](https://developers.google.com/workspace/admin/directory/v1/reference/users).",
              "type": "string"
            },
            "orgUnitPath": {
              "description": "The full path of the organizational unit (minus the leading `/`) or its unique ID.",
              "type": "string",
              "location": "query"
            },
            "projection": {
              "location": "query",
              "enumDescriptions": [
                "Includes only the basic metadata fields (e.g., deviceId, serialNumber, status, and user)",
                "Includes all metadata fields"
              ],
              "enum": [
                "BASIC",
                "FULL"
              ],
              "description": "Determines whether the response contains the full list of properties or only a subset.",
              "type": "string"
            }
          },
          "description": "Retrieves a paginated list of Chrome OS devices within an account.",
          "path": "admin/directory/v1/customer/{customerId}/devices/chromeos",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.device.chromeos",
            "https://www.googleapis.com/auth/admin.directory.device.chromeos.readonly"
          ],
          "httpMethod": "GET",
          "flatPath": "admin/directory/v1/customer/{customerId}/devices/chromeos",
          "parameterOrder": [
            "customerId"
          ],
          "id": "directory.chromeosdevices.list"
        },
        "update": {
          "flatPath": "admin/directory/v1/customer/{customerId}/devices/chromeos/{deviceId}",
          "parameterOrder": [
            "customerId",
            "deviceId"
          ],
          "request": {
            "$ref": "ChromeOsDevice"
          },
          "id": "directory.chromeosdevices.update",
          "response": {
            "$ref": "ChromeOsDevice"
          },
          "path": "admin/directory/v1/customer/{customerId}/devices/chromeos/{deviceId}",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.device.chromeos"
          ],
          "parameters": {
            "customerId": {
              "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users resource](https://developers.google.com/workspace/admin/directory/v1/reference/users).",
              "type": "string",
              "location": "path",
              "required": true
            },
            "projection": {
              "enumDescriptions": [
                "Includes only the basic metadata fields (e.g., deviceId, serialNumber, status, and user)",
                "Includes all metadata fields"
              ],
              "location": "query",
              "description": "Determines whether the response contains the full list of properties or only a subset.",
              "type": "string",
              "enum": [
                "BASIC",
                "FULL"
              ]
            },
            "deviceId": {
              "description": "The unique ID of the device. The `deviceId`s are returned in the response from the [chromeosdevices.list](https://developers.google.com/workspace/admin/v1/reference/chromeosdevices/list) method.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "description": "Updates a device's updatable properties, such as `annotatedUser`, `annotatedLocation`, `notes`, `orgUnitPath`, or `annotatedAssetId`.",
          "httpMethod": "PUT"
        }
      }
    },
    "twoStepVerification": {
      "methods": {
        "turnOff": {
          "id": "directory.twoStepVerification.turnOff",
          "httpMethod": "POST",
          "flatPath": "admin/directory/v1/users/{userKey}/twoStepVerification/turnOff",
          "parameters": {
            "userKey": {
              "required": true,
              "location": "path",
              "description": "Identifies the user in the API request. The value can be the user's primary email address, alias email address, or unique user ID.",
              "type": "string"
            }
          },
          "description": "Turns off 2-Step Verification for user.",
          "path": "admin/directory/v1/users/{userKey}/twoStepVerification/turnOff",
          "parameterOrder": [
            "userKey"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.user.security"
          ]
        }
      }
    },
    "schemas": {
      "methods": {
        "update": {
          "parameterOrder": [
            "customerId",
            "schemaKey"
          ],
          "flatPath": "admin/directory/v1/customer/{customerId}/schemas/{schemaKey}",
          "id": "directory.schemas.update",
          "request": {
            "$ref": "Schema"
          },
          "parameters": {
            "schemaKey": {
              "description": "Name or immutable ID of the schema.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "customerId": {
              "required": true,
              "location": "path",
              "description": "Immutable ID of the Google Workspace account.",
              "type": "string"
            }
          },
          "description": "Updates a schema.",
          "path": "admin/directory/v1/customer/{customerId}/schemas/{schemaKey}",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.userschema"
          ],
          "response": {
            "$ref": "Schema"
          },
          "httpMethod": "PUT"
        },
        "insert": {
          "id": "directory.schemas.insert",
          "request": {
            "$ref": "Schema"
          },
          "parameterOrder": [
            "customerId"
          ],
          "flatPath": "admin/directory/v1/customer/{customerId}/schemas",
          "httpMethod": "POST",
          "parameters": {
            "customerId": {
              "location": "path",
              "required": true,
              "description": "Immutable ID of the Google Workspace account.",
              "type": "string"
            }
          },
          "description": "Creates a schema.",
          "path": "admin/directory/v1/customer/{customerId}/schemas",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.userschema"
          ],
          "response": {
            "$ref": "Schema"
          }
        },
        "delete": {
          "flatPath": "admin/directory/v1/customer/{customerId}/schemas/{schemaKey}",
          "parameters": {
            "customerId": {
              "description": "Immutable ID of the Google Workspace account.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "schemaKey": {
              "description": "Name or immutable ID of the schema.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "description": "Deletes a schema.",
          "path": "admin/directory/v1/customer/{customerId}/schemas/{schemaKey}",
          "parameterOrder": [
            "customerId",
            "schemaKey"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.userschema"
          ],
          "id": "directory.schemas.delete",
          "httpMethod": "DELETE"
        },
        "patch": {
          "parameterOrder": [
            "customerId",
            "schemaKey"
          ],
          "flatPath": "admin/directory/v1/customer/{customerId}/schemas/{schemaKey}",
          "id": "directory.schemas.patch",
          "request": {
            "$ref": "Schema"
          },
          "parameters": {
            "schemaKey": {
              "required": true,
              "location": "path",
              "description": "Name or immutable ID of the schema.",
              "type": "string"
            },
            "customerId": {
              "description": "Immutable ID of the Google Workspace account.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "description": "Patches a schema.",
          "path": "admin/directory/v1/customer/{customerId}/schemas/{schemaKey}",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.userschema"
          ],
          "response": {
            "$ref": "Schema"
          },
          "httpMethod": "PATCH"
        },
        "get": {
          "httpMethod": "GET",
          "path": "admin/directory/v1/customer/{customerId}/schemas/{schemaKey}",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.userschema",
            "https://www.googleapis.com/auth/admin.directory.userschema.readonly"
          ],
          "parameters": {
            "schemaKey": {
              "description": "Name or immutable ID of the schema.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "customerId": {
              "required": true,
              "location": "path",
              "description": "The unique ID for the customer's Google Workspace account. In case of a multi-domain account, to fetch all groups for a customer, use this field instead of `domain`. You can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users](https://developers.google.com/workspace/admin/directory/v1/reference/users) resource. You must provide either the `customer` or the `domain` parameter.",
              "type": "string"
            }
          },
          "description": "Retrieves a schema.",
          "response": {
            "$ref": "Schema"
          },
          "id": "directory.schemas.get",
          "parameterOrder": [
            "customerId",
            "schemaKey"
          ],
          "flatPath": "admin/directory/v1/customer/{customerId}/schemas/{schemaKey}"
        },
        "list": {
          "httpMethod": "GET",
          "parameters": {
            "customerId": {
              "location": "path",
              "required": true,
              "description": "The unique ID for the customer's Google Workspace account. In case of a multi-domain account, to fetch all groups for a customer, use this field instead of `domain`. You can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users](https://developers.google.com/workspace/admin/directory/v1/reference/users) resource. You must provide either the `customer` or the `domain` parameter.",
              "type": "string"
            }
          },
          "description": "Retrieves all schemas for a customer.",
          "path": "admin/directory/v1/customer/{customerId}/schemas",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.userschema",
            "https://www.googleapis.com/auth/admin.directory.userschema.readonly"
          ],
          "response": {
            "$ref": "Schemas"
          },
          "id": "directory.schemas.list",
          "parameterOrder": [
            "customerId"
          ],
          "flatPath": "admin/directory/v1/customer/{customerId}/schemas"
        }
      }
    },
    "customer": {
      "resources": {
        "devices": {
          "resources": {
            "chromeos": {
              "methods": {
                "countChromeOsDevices": {
                  "id": "admin.customer.devices.chromeos.countChromeOsDevices",
                  "parameterOrder": [
                    "customerId"
                  ],
                  "flatPath": "admin/directory/v1/customer/{customerId}/devices/chromeos:countChromeOsDevices",
                  "httpMethod": "GET",
                  "path": "admin/directory/v1/customer/{customerId}/devices/chromeos:countChromeOsDevices",
                  "scopes": [
                    "https://www.googleapis.com/auth/admin.directory.device.chromeos",
                    "https://www.googleapis.com/auth/admin.directory.device.chromeos.readonly"
                  ],
                  "parameters": {
                    "filter": {
                      "location": "query",
                      "description": "Optional. Search string in the format given at [List query operators](https://developers.google.com/workspace/admin/directory/v1/list-query-operators).",
                      "type": "string"
                    },
                    "includeChildOrgunits": {
                      "location": "query",
                      "description": "Optional. Return devices from all child orgunits, as well as the specified org unit. If this is set to true, 'orgUnitPath' must be provided.",
                      "type": "boolean"
                    },
                    "customerId": {
                      "required": true,
                      "location": "path",
                      "description": "Required. Immutable ID of the Google Workspace account.",
                      "type": "string"
                    },
                    "orgUnitPath": {
                      "description": "Optional. The full path of the organizational unit (minus the leading `/`) or its unique ID.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "description": "Counts ChromeOS devices matching the request.",
                  "response": {
                    "$ref": "CountChromeOsDevicesResponse"
                  }
                },
                "batchChangeStatus": {
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "BatchChangeChromeOsDeviceStatusResponse"
                  },
                  "parameters": {
                    "customerId": {
                      "location": "path",
                      "required": true,
                      "description": "Required. Immutable ID of the Google Workspace account.",
                      "type": "string"
                    }
                  },
                  "description": "Changes the status of a batch of ChromeOS devices. For more information about changing a ChromeOS device state [Repair, repurpose, or retire ChromeOS devices](https://support.google.com/chrome/a/answer/3523633).",
                  "path": "admin/directory/v1/customer/{customerId}/devices/chromeos:batchChangeStatus",
                  "scopes": [
                    "https://www.googleapis.com/auth/admin.directory.device.chromeos"
                  ],
                  "id": "admin.customer.devices.chromeos.batchChangeStatus",
                  "request": {
                    "$ref": "BatchChangeChromeOsDeviceStatusRequest"
                  },
                  "flatPath": "admin/directory/v1/customer/{customerId}/devices/chromeos:batchChangeStatus",
                  "parameterOrder": [
                    "customerId"
                  ]
                },
                "issueCommand": {
                  "path": "admin/directory/v1/customer/{customerId}/devices/chromeos/{deviceId}:issueCommand",
                  "scopes": [
                    "https://www.googleapis.com/auth/admin.directory.device.chromeos"
                  ],
                  "parameters": {
                    "customerId": {
                      "location": "path",
                      "required": true,
                      "description": "Immutable. ID of the Google Workspace account.",
                      "type": "string"
                    },
                    "deviceId": {
                      "description": "Immutable. ID of Chrome OS Device.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "description": "Issues a command for the device to execute.",
                  "response": {
                    "$ref": "DirectoryChromeosdevicesIssueCommandResponse"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "customerId",
                    "deviceId"
                  ],
                  "flatPath": "admin/directory/v1/customer/{customerId}/devices/chromeos/{deviceId}:issueCommand",
                  "request": {
                    "$ref": "DirectoryChromeosdevicesIssueCommandRequest"
                  },
                  "id": "admin.customer.devices.chromeos.issueCommand"
                }
              },
              "resources": {
                "commands": {
                  "methods": {
                    "get": {
                      "httpMethod": "GET",
                      "path": "admin/directory/v1/customer/{customerId}/devices/chromeos/{deviceId}/commands/{commandId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/admin.directory.device.chromeos",
                        "https://www.googleapis.com/auth/admin.directory.device.chromeos.readonly"
                      ],
                      "parameters": {
                        "deviceId": {
                          "required": true,
                          "location": "path",
                          "description": "Immutable. ID of Chrome OS Device.",
                          "type": "string"
                        },
                        "customerId": {
                          "required": true,
                          "location": "path",
                          "description": "Immutable. ID of the Google Workspace account.",
                          "type": "string"
                        },
                        "commandId": {
                          "description": "Immutable. ID of Chrome OS Device Command.",
                          "type": "string",
                          "location": "path",
                          "format": "int64",
                          "required": true
                        }
                      },
                      "description": "Gets command data a specific command issued to the device.",
                      "response": {
                        "$ref": "DirectoryChromeosdevicesCommand"
                      },
                      "id": "admin.customer.devices.chromeos.commands.get",
                      "parameterOrder": [
                        "customerId",
                        "deviceId",
                        "commandId"
                      ],
                      "flatPath": "admin/directory/v1/customer/{customerId}/devices/chromeos/{deviceId}/commands/{commandId}"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "domainAliases": {
      "methods": {
        "insert": {
          "parameterOrder": [
            "customer"
          ],
          "flatPath": "admin/directory/v1/customer/{customer}/domainaliases",
          "id": "directory.domainAliases.insert",
          "request": {
            "$ref": "DomainAlias"
          },
          "parameters": {
            "customer": {
              "description": "Immutable ID of the Google Workspace account.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "description": "Inserts a domain alias of the customer.",
          "path": "admin/directory/v1/customer/{customer}/domainaliases",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.domain"
          ],
          "response": {
            "$ref": "DomainAlias"
          },
          "httpMethod": "POST"
        },
        "get": {
          "parameterOrder": [
            "customer",
            "domainAliasName"
          ],
          "flatPath": "admin/directory/v1/customer/{customer}/domainaliases/{domainAliasName}",
          "id": "directory.domainAliases.get",
          "path": "admin/directory/v1/customer/{customer}/domainaliases/{domainAliasName}",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.domain",
            "https://www.googleapis.com/auth/admin.directory.domain.readonly"
          ],
          "parameters": {
            "customer": {
              "required": true,
              "location": "path",
              "description": "The unique ID for the customer's Google Workspace account. In case of a multi-domain account, to fetch all groups for a customer, use this field instead of `domain`. You can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users](https://developers.google.com/workspace/admin/directory/v1/reference/users) resource. You must provide either the `customer` or the `domain` parameter.",
              "type": "string"
            },
            "domainAliasName": {
              "location": "path",
              "required": true,
              "description": "Name of domain alias to be retrieved.",
              "type": "string"
            }
          },
          "description": "Retrieves a domain alias of the customer.",
          "response": {
            "$ref": "DomainAlias"
          },
          "httpMethod": "GET"
        },
        "list": {
          "flatPath": "admin/directory/v1/customer/{customer}/domainaliases",
          "parameterOrder": [
            "customer"
          ],
          "id": "directory.domainAliases.list",
          "response": {
            "$ref": "DomainAliases"
          },
          "parameters": {
            "customer": {
              "required": true,
              "location": "path",
              "description": "The unique ID for the customer's Google Workspace account. In case of a multi-domain account, to fetch all groups for a customer, use this field instead of `domain`. You can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users](https://developers.google.com/workspace/admin/directory/v1/reference/users) resource. You must provide either the `customer` or the `domain` parameter.",
              "type": "string"
            },
            "parentDomainName": {
              "description": "Name of the parent domain for which domain aliases are to be fetched.",
              "type": "string",
              "location": "query"
            }
          },
          "description": "Lists the domain aliases of the customer.",
          "path": "admin/directory/v1/customer/{customer}/domainaliases",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.domain",
            "https://www.googleapis.com/auth/admin.directory.domain.readonly"
          ],
          "httpMethod": "GET"
        },
        "delete": {
          "id": "directory.domainAliases.delete",
          "httpMethod": "DELETE",
          "path": "admin/directory/v1/customer/{customer}/domainaliases/{domainAliasName}",
          "parameterOrder": [
            "customer",
            "domainAliasName"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.domain"
          ],
          "parameters": {
            "customer": {
              "description": "Immutable ID of the Google Workspace account.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "domainAliasName": {
              "description": "Name of domain alias to be retrieved.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "description": "Deletes a domain Alias of the customer.",
          "flatPath": "admin/directory/v1/customer/{customer}/domainaliases/{domainAliasName}"
        }
      }
    },
    "users": {
      "methods": {
        "get": {
          "id": "directory.users.get",
          "flatPath": "admin/directory/v1/users/{userKey}",
          "parameterOrder": [
            "userKey"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "User"
          },
          "path": "admin/directory/v1/users/{userKey}",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.user",
            "https://www.googleapis.com/auth/admin.directory.user.readonly"
          ],
          "parameters": {
            "customFieldMask": {
              "description": "A comma-separated list of schema names. All fields from these schemas are fetched. This should only be set when `projection=custom`.",
              "type": "string",
              "location": "query"
            },
            "projection": {
              "enum": [
                "basic",
                "custom",
                "full"
              ],
              "description": "What subset of fields to fetch for this user.",
              "type": "string",
              "default": "basic",
              "location": "query",
              "enumDescriptions": [
                "Do not include any custom fields for the user.",
                "Include custom fields from schemas requested in `customFieldMask`.",
                "Include all fields associated with this user."
              ]
            },
            "userKey": {
              "required": true,
              "location": "path",
              "description": "Identifies the user in the API request. The value can be the user's primary email address, alias email address, or unique user ID.",
              "type": "string"
            },
            "viewType": {
              "location": "query",
              "enumDescriptions": [
                "Results include both administrator-only and domain-public fields for the user.",
                "Results only include fields for the user that are publicly visible to other users in the domain."
              ],
              "enum": [
                "admin_view",
                "domain_public"
              ],
              "default": "admin_view",
              "description": "Whether to fetch the administrator-only or domain-wide public view of the user. For more information, see [Retrieve a user as a non-administrator](https://developers.google.com/workspace/admin/directory/v1/guides/manage-users#retrieve_users_non_admin).",
              "type": "string"
            }
          },
          "description": "Retrieves a user."
        },
        "signOut": {
          "id": "directory.users.signOut",
          "httpMethod": "POST",
          "flatPath": "admin/directory/v1/users/{userKey}/signOut",
          "path": "admin/directory/v1/users/{userKey}/signOut",
          "parameterOrder": [
            "userKey"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.user.security"
          ],
          "parameters": {
            "userKey": {
              "description": "Identifies the target user in the API request. The value can be the user's primary email address, alias email address, or unique user ID.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "description": "Signs a user out of all web and device sessions and reset their sign-in cookies. User will have to sign in by authenticating again."
        },
        "update": {
          "httpMethod": "PUT",
          "response": {
            "$ref": "User"
          },
          "path": "admin/directory/v1/users/{userKey}",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.user"
          ],
          "parameters": {
            "userKey": {
              "description": "Identifies the user in the API request. The value can be the user's primary email address, alias email address, or unique user ID.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "description": "Updates a user. This method supports patch semantics, meaning that you only need to include the fields you wish to update. Fields that are not present in the request will be preserved, and fields set to `null` will be cleared. For repeating fields that contain arrays, individual items in the array can't be patched piecemeal; they must be supplied in the request body with the desired values for all items. See the [user accounts guide](https://developers.google.com/workspace/admin/directory/v1/guides/manage-users#update_user) for more information.",
          "request": {
            "$ref": "User"
          },
          "id": "directory.users.update",
          "flatPath": "admin/directory/v1/users/{userKey}",
          "parameterOrder": [
            "userKey"
          ]
        },
        "insert": {
          "request": {
            "$ref": "User"
          },
          "id": "directory.users.insert",
          "parameterOrder": [],
          "flatPath": "admin/directory/v1/users",
          "httpMethod": "POST",
          "path": "admin/directory/v1/users",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.user"
          ],
          "parameters": {
            "resolveConflictAccount": {
              "description": "Optional. If set to `true`, the option selected for [handling unmanaged user accounts](https://support.google.com/a/answer/11112794) will apply. Default: `false`",
              "type": "boolean",
              "location": "query"
            }
          },
          "description": "Creates a user. Mutate calls immediately following user creation might sometimes fail as the user isn't fully created due to propagation delay in our backends. Check the error details for the \"User creation is not complete\" message to see if this is the case. Retrying the calls after some time can help in this case. If `resolveConflictAccount` is set to `true`, a `202` response code means that a conflicting unmanaged account exists and was invited to join the organization. A `409` response code means that a conflicting account exists so the user wasn't created based on the [handling unmanaged user accounts](https://support.google.com/a/answer/11112794) option selected.",
          "response": {
            "$ref": "User"
          }
        },
        "watch": {
          "httpMethod": "POST",
          "path": "admin/directory/v1/users/watch",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.user",
            "https://www.googleapis.com/auth/admin.directory.user.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "projection": {
              "enumDescriptions": [
                "Do not include any custom fields for the user.",
                "Include custom fields from schemas mentioned in customFieldMask.",
                "Include all fields associated with this user."
              ],
              "location": "query",
              "default": "basic",
              "description": "What subset of fields to fetch for this user.",
              "type": "string",
              "enum": [
                "basic",
                "custom",
                "full"
              ]
            },
            "orderBy": {
              "enum": [
                "email",
                "familyName",
                "givenName"
              ],
              "description": "Column to use for sorting results",
              "type": "string",
              "location": "query",
              "enumDescriptions": [
                "Primary email of the user.",
                "User's family name.",
                "User's given name."
              ]
            },
            "customer": {
              "location": "query",
              "description": "Immutable ID of the Google Workspace account. In case of multi-domain, to fetch all users for a customer, fill this field instead of domain.",
              "type": "string"
            },
            "customFieldMask": {
              "description": "Comma-separated list of schema names. All fields from these schemas are fetched. This should only be set when projection=custom.",
              "type": "string",
              "location": "query"
            },
            "domain": {
              "description": "Name of the domain. Fill this field to get users from only this domain. To return all users in a multi-domain fill customer field instead.\"",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "minimum": "1",
              "location": "query",
              "format": "int32",
              "description": "Maximum number of results to return.",
              "type": "integer",
              "default": "100",
              "maximum": "500"
            },
            "showDeleted": {
              "location": "query",
              "description": "If set to true, retrieves the list of deleted users. (Default: false)",
              "type": "string"
            },
            "viewType": {
              "location": "query",
              "enumDescriptions": [
                "Results include both administrator-only and domain-public fields.",
                "Results only include fields for the user that are publicly visible to other users in the domain."
              ],
              "enum": [
                "admin_view",
                "domain_public"
              ],
              "default": "admin_view",
              "description": "Whether to fetch the administrator-only or domain-wide public view of the user. For more information, see [Retrieve a user as a non-administrator](https://developers.google.com/workspace/admin/directory/v1/guides/manage-users#retrieve_users_non_admin).",
              "type": "string"
            },
            "sortOrder": {
              "location": "query",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "description": "Whether to return results in ascending or descending order.",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "description": "Token to specify next page in the list",
              "type": "string"
            },
            "event": {
              "location": "query",
              "enumDescriptions": [
                "User Created Event",
                "User Deleted Event",
                "User Admin Status Change Event",
                "User Undeleted Event",
                "User Updated Event"
              ],
              "enum": [
                "add",
                "delete",
                "makeAdmin",
                "undelete",
                "update"
              ],
              "description": "Events to watch for.",
              "type": "string"
            },
            "query": {
              "location": "query",
              "description": "Query string search. Contains one or more search clauses, each with a field, operator, and value. For complete documentation, go to [Search for users](https://developers.google.com/workspace/admin/directory/v1/guides/search-users).",
              "type": "string"
            }
          },
          "description": "Watches for changes in users list.",
          "response": {
            "$ref": "Channel"
          },
          "request": {
            "$ref": "Channel"
          },
          "id": "directory.users.watch",
          "parameterOrder": [],
          "flatPath": "admin/directory/v1/users/watch"
        },
        "delete": {
          "flatPath": "admin/directory/v1/users/{userKey}",
          "path": "admin/directory/v1/users/{userKey}",
          "parameterOrder": [
            "userKey"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.user"
          ],
          "parameters": {
            "userKey": {
              "location": "path",
              "required": true,
              "description": "Identifies the user in the API request. The value can be the user's primary email address, alias email address, or unique user ID.",
              "type": "string"
            }
          },
          "description": "Deletes a user.",
          "id": "directory.users.delete",
          "httpMethod": "DELETE"
        },
        "patch": {
          "httpMethod": "PATCH",
          "path": "admin/directory/v1/users/{userKey}",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.user"
          ],
          "parameters": {
            "userKey": {
              "description": "Identifies the user in the API request. The value can be the user's primary email address, alias email address, or unique user ID.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "description": "Updates a user using patch semantics. The update method should be used instead, because it also supports patch semantics and has better performance. If you're mapping an external identity to a Google identity, use the [`update`](https://developers.google.com/workspace/admin/directory/v1/reference/users/update) method instead of the `patch` method. This method is unable to clear fields that contain repeated objects (`addresses`, `phones`, etc). Use the update method instead.",
          "response": {
            "$ref": "User"
          },
          "request": {
            "$ref": "User"
          },
          "id": "directory.users.patch",
          "parameterOrder": [
            "userKey"
          ],
          "flatPath": "admin/directory/v1/users/{userKey}"
        },
        "createGuest": {
          "response": {
            "$ref": "User"
          },
          "parameters": {},
          "description": "Create a guest user with access to a [subset of Workspace capabilities](https://support.google.com/a/answer/16558545). This feature is currently in Open Beta.",
          "path": "admin/directory/v1/users:createGuest",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.user"
          ],
          "httpMethod": "POST",
          "flatPath": "admin/directory/v1/users:createGuest",
          "parameterOrder": [],
          "id": "directory.users.createGuest",
          "request": {
            "$ref": "DirectoryUsersCreateGuestRequest"
          }
        },
        "list": {
          "flatPath": "admin/directory/v1/users",
          "parameterOrder": [],
          "id": "directory.users.list",
          "response": {
            "$ref": "Users"
          },
          "path": "admin/directory/v1/users",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.user",
            "https://www.googleapis.com/auth/admin.directory.user.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "customFieldMask": {
              "description": "A comma-separated list of schema names. All fields from these schemas are fetched. This should only be set when `projection=custom`.",
              "type": "string",
              "location": "query"
            },
            "customer": {
              "description": "The unique ID for the customer's Google Workspace account. In case of a multi-domain account, to fetch all users for a customer, use this field instead of `domain`. You can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users](https://developers.google.com/workspace/admin/directory/v1/reference/users) resource. You must provide either the `customer` or the `domain` parameter.",
              "type": "string",
              "location": "query"
            },
            "domain": {
              "description": "The domain name. Use this field to get users from only one domain. To return all domains for a customer account, use the `customer` query parameter instead. Either the `customer` or the `domain` parameter must be provided.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "minimum": "1",
              "location": "query",
              "format": "int32",
              "default": "100",
              "maximum": "500",
              "description": "Maximum number of results to return.",
              "type": "integer"
            },
            "showDeleted": {
              "location": "query",
              "description": "If set to `true`, retrieves the list of deleted users. (Default: `false`)",
              "type": "string"
            },
            "viewType": {
              "location": "query",
              "enumDescriptions": [
                "Results include both administrator-only and domain-public fields for the user.",
                "Results only include fields for the user that are publicly visible to other users in the domain."
              ],
              "enum": [
                "admin_view",
                "domain_public"
              ],
              "default": "admin_view",
              "description": "Whether to fetch the administrator-only or domain-wide public view of the user. For more information, see [Retrieve a user as a non-administrator](https://developers.google.com/workspace/admin/directory/v1/guides/manage-users#retrieve_users_non_admin).",
              "type": "string"
            },
            "sortOrder": {
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "description": "Whether to return results in ascending or descending order, ignoring case.",
              "type": "string",
              "location": "query",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ]
            },
            "projection": {
              "description": "What subset of fields to fetch for this user.",
              "type": "string",
              "default": "basic",
              "enum": [
                "basic",
                "custom",
                "full"
              ],
              "enumDescriptions": [
                "Do not include any custom fields for the user.",
                "Include custom fields from schemas requested in `customFieldMask`.",
                "Include all fields associated with this user."
              ],
              "location": "query"
            },
            "orderBy": {
              "enum": [
                "email",
                "familyName",
                "givenName"
              ],
              "description": "Property to use for sorting results.",
              "type": "string",
              "location": "query",
              "enumDescriptions": [
                "Primary email of the user.",
                "User's family name.",
                "User's given name."
              ]
            },
            "event": {
              "location": "query",
              "enumDescriptions": [
                "User Created Event",
                "User Deleted Event",
                "User Admin Status Change Event",
                "User Undeleted Event",
                "User Updated Event"
              ],
              "enum": [
                "add",
                "delete",
                "makeAdmin",
                "undelete",
                "update"
              ],
              "description": "Event on which subscription is intended (if subscribing)",
              "type": "string"
            },
            "query": {
              "location": "query",
              "description": "Query string for searching user fields. For more information on constructing user queries, see [Search for Users](https://developers.google.com/workspace/admin/directory/v1/guides/search-users).",
              "type": "string"
            },
            "pageToken": {
              "description": "Token to specify next page in the list. The page token is only valid for three days.",
              "type": "string",
              "location": "query"
            }
          },
          "description": "Retrieves a paginated list of either deleted users or all users in a domain.",
          "httpMethod": "GET"
        },
        "makeAdmin": {
          "id": "directory.users.makeAdmin",
          "request": {
            "$ref": "UserMakeAdmin"
          },
          "flatPath": "admin/directory/v1/users/{userKey}/makeAdmin",
          "parameterOrder": [
            "userKey"
          ],
          "httpMethod": "POST",
          "parameters": {
            "userKey": {
              "description": "Identifies the user in the API request. The value can be the user's primary email address, alias email address, or unique user ID.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "description": "Makes a user a super administrator.",
          "path": "admin/directory/v1/users/{userKey}/makeAdmin",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.user"
          ]
        },
        "undelete": {
          "path": "admin/directory/v1/users/{userKey}/undelete",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.user"
          ],
          "parameters": {
            "userKey": {
              "description": "The immutable id of the user",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "description": "Undeletes a deleted user.",
          "httpMethod": "POST",
          "flatPath": "admin/directory/v1/users/{userKey}/undelete",
          "parameterOrder": [
            "userKey"
          ],
          "request": {
            "$ref": "UserUndelete"
          },
          "id": "directory.users.undelete"
        }
      },
      "resources": {
        "aliases": {
          "methods": {
            "insert": {
              "httpMethod": "POST",
              "path": "admin/directory/v1/users/{userKey}/aliases",
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.user",
                "https://www.googleapis.com/auth/admin.directory.user.alias"
              ],
              "parameters": {
                "userKey": {
                  "description": "Identifies the user in the API request. The value can be the user's primary email address, alias email address, or unique user ID.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "description": "Adds an alias.",
              "response": {
                "$ref": "Alias"
              },
              "request": {
                "$ref": "Alias"
              },
              "id": "directory.users.aliases.insert",
              "parameterOrder": [
                "userKey"
              ],
              "flatPath": "admin/directory/v1/users/{userKey}/aliases"
            },
            "watch": {
              "request": {
                "$ref": "Channel"
              },
              "id": "directory.users.aliases.watch",
              "flatPath": "admin/directory/v1/users/{userKey}/aliases/watch",
              "parameterOrder": [
                "userKey"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "Channel"
              },
              "path": "admin/directory/v1/users/{userKey}/aliases/watch",
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.user",
                "https://www.googleapis.com/auth/admin.directory.user.alias",
                "https://www.googleapis.com/auth/admin.directory.user.alias.readonly",
                "https://www.googleapis.com/auth/admin.directory.user.readonly"
              ],
              "parameters": {
                "userKey": {
                  "location": "path",
                  "required": true,
                  "description": "Email or immutable ID of the user",
                  "type": "string"
                },
                "event": {
                  "description": "Events to watch for.",
                  "type": "string",
                  "enum": [
                    "add",
                    "delete"
                  ],
                  "enumDescriptions": [
                    "Alias Created Event",
                    "Alias Deleted Event"
                  ],
                  "location": "query"
                }
              },
              "description": "Watches for changes in users list."
            },
            "list": {
              "response": {
                "$ref": "Aliases"
              },
              "path": "admin/directory/v1/users/{userKey}/aliases",
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.user",
                "https://www.googleapis.com/auth/admin.directory.user.alias",
                "https://www.googleapis.com/auth/admin.directory.user.alias.readonly",
                "https://www.googleapis.com/auth/admin.directory.user.readonly"
              ],
              "parameters": {
                "event": {
                  "enum": [
                    "add",
                    "delete"
                  ],
                  "description": "Events to watch for.",
                  "type": "string",
                  "location": "query",
                  "enumDescriptions": [
                    "Alias Created Event",
                    "Alias Deleted Event"
                  ]
                },
                "userKey": {
                  "required": true,
                  "location": "path",
                  "description": "Identifies the user in the API request. The value can be the user's primary email address, alias email address, or unique user ID.",
                  "type": "string"
                }
              },
              "description": "Lists all aliases for a user.",
              "httpMethod": "GET",
              "flatPath": "admin/directory/v1/users/{userKey}/aliases",
              "parameterOrder": [
                "userKey"
              ],
              "id": "directory.users.aliases.list"
            },
            "delete": {
              "id": "directory.users.aliases.delete",
              "httpMethod": "DELETE",
              "flatPath": "admin/directory/v1/users/{userKey}/aliases/{alias}",
              "path": "admin/directory/v1/users/{userKey}/aliases/{alias}",
              "parameterOrder": [
                "userKey",
                "alias"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.user",
                "https://www.googleapis.com/auth/admin.directory.user.alias"
              ],
              "parameters": {
                "userKey": {
                  "description": "Identifies the user in the API request. The value can be the user's primary email address, alias email address, or unique user ID.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "alias": {
                  "required": true,
                  "location": "path",
                  "description": "The alias to be removed.",
                  "type": "string"
                }
              },
              "description": "Removes an alias."
            }
          }
        },
        "photos": {
          "methods": {
            "delete": {
              "path": "admin/directory/v1/users/{userKey}/photos/thumbnail",
              "parameterOrder": [
                "userKey"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.user"
              ],
              "parameters": {
                "userKey": {
                  "description": "Identifies the user in the API request. The value can be the user's primary email address, alias email address, or unique user ID.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "description": "Removes the user's photo.",
              "flatPath": "admin/directory/v1/users/{userKey}/photos/thumbnail",
              "id": "directory.users.photos.delete",
              "httpMethod": "DELETE"
            },
            "patch": {
              "id": "directory.users.photos.patch",
              "request": {
                "$ref": "UserPhoto"
              },
              "flatPath": "admin/directory/v1/users/{userKey}/photos/thumbnail",
              "parameterOrder": [
                "userKey"
              ],
              "httpMethod": "PATCH",
              "response": {
                "$ref": "UserPhoto"
              },
              "parameters": {
                "userKey": {
                  "description": "Identifies the user in the API request. The value can be the user's primary email address, alias email address, or unique user ID.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "description": "Adds a photo for the user. This method supports [patch semantics](https://developers.google.com/workspace/admin/directory/v1/guides/performance#patch).",
              "path": "admin/directory/v1/users/{userKey}/photos/thumbnail",
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.user"
              ]
            },
            "get": {
              "response": {
                "$ref": "UserPhoto"
              },
              "parameters": {
                "userKey": {
                  "description": "Identifies the user in the API request. The value can be the user's primary email address, alias email address, or unique user ID.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "description": "Retrieves the user's photo.",
              "path": "admin/directory/v1/users/{userKey}/photos/thumbnail",
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.user",
                "https://www.googleapis.com/auth/admin.directory.user.readonly"
              ],
              "httpMethod": "GET",
              "flatPath": "admin/directory/v1/users/{userKey}/photos/thumbnail",
              "parameterOrder": [
                "userKey"
              ],
              "id": "directory.users.photos.get"
            },
            "update": {
              "id": "directory.users.photos.update",
              "request": {
                "$ref": "UserPhoto"
              },
              "parameterOrder": [
                "userKey"
              ],
              "flatPath": "admin/directory/v1/users/{userKey}/photos/thumbnail",
              "httpMethod": "PUT",
              "parameters": {
                "userKey": {
                  "description": "Identifies the user in the API request. The value can be the user's primary email address, alias email address, or unique user ID.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "description": "Adds a photo for the user.",
              "path": "admin/directory/v1/users/{userKey}/photos/thumbnail",
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.user"
              ],
              "response": {
                "$ref": "UserPhoto"
              }
            }
          }
        }
      }
    },
    "asps": {
      "methods": {
        "delete": {
          "id": "directory.asps.delete",
          "httpMethod": "DELETE",
          "flatPath": "admin/directory/v1/users/{userKey}/asps/{codeId}",
          "path": "admin/directory/v1/users/{userKey}/asps/{codeId}",
          "parameterOrder": [
            "userKey",
            "codeId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.user.security"
          ],
          "parameters": {
            "userKey": {
              "description": "Identifies the user in the API request. The value can be the user's primary email address, alias email address, or unique user ID.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "codeId": {
              "required": true,
              "location": "path",
              "format": "int32",
              "description": "The unique ID of the ASP to be deleted.",
              "type": "integer"
            }
          },
          "description": "Deletes an ASP issued by a user."
        },
        "get": {
          "path": "admin/directory/v1/users/{userKey}/asps/{codeId}",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.user.security"
          ],
          "parameters": {
            "userKey": {
              "location": "path",
              "required": true,
              "description": "Identifies the user in the API request. The value can be the user's primary email address, alias email address, or unique user ID.",
              "type": "string"
            },
            "codeId": {
              "required": true,
              "location": "path",
              "format": "int32",
              "description": "The unique ID of the ASP.",
              "type": "integer"
            }
          },
          "description": "Gets information about an ASP issued by a user.",
          "response": {
            "$ref": "Asp"
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "userKey",
            "codeId"
          ],
          "flatPath": "admin/directory/v1/users/{userKey}/asps/{codeId}",
          "id": "directory.asps.get"
        },
        "list": {
          "httpMethod": "GET",
          "response": {
            "$ref": "Asps"
          },
          "parameters": {
            "userKey": {
              "description": "Identifies the user in the API request. The value can be the user's primary email address, alias email address, or unique user ID.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "description": "Lists the ASPs issued by a user.",
          "path": "admin/directory/v1/users/{userKey}/asps",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.user.security"
          ],
          "id": "directory.asps.list",
          "flatPath": "admin/directory/v1/users/{userKey}/asps",
          "parameterOrder": [
            "userKey"
          ]
        }
      }
    },
    "groups": {
      "methods": {
        "insert": {
          "id": "directory.groups.insert",
          "request": {
            "$ref": "Group"
          },
          "parameterOrder": [],
          "flatPath": "admin/directory/v1/groups",
          "httpMethod": "POST",
          "parameters": {},
          "description": "Creates a group.",
          "path": "admin/directory/v1/groups",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.group"
          ],
          "response": {
            "$ref": "Group"
          }
        },
        "update": {
          "httpMethod": "PUT",
          "response": {
            "$ref": "Group"
          },
          "parameters": {
            "groupKey": {
              "description": "Identifies the group in the API request. The value can be the group's email address, group alias, or the unique group ID.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "description": "Updates a group's properties.",
          "path": "admin/directory/v1/groups/{groupKey}",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.group"
          ],
          "id": "directory.groups.update",
          "request": {
            "$ref": "Group"
          },
          "flatPath": "admin/directory/v1/groups/{groupKey}",
          "parameterOrder": [
            "groupKey"
          ]
        },
        "get": {
          "httpMethod": "GET",
          "response": {
            "$ref": "Group"
          },
          "parameters": {
            "groupKey": {
              "description": "Identifies the group in the API request. The value can be the group's email address, group alias, or the unique group ID.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "description": "Retrieves a group's properties.",
          "path": "admin/directory/v1/groups/{groupKey}",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.group",
            "https://www.googleapis.com/auth/admin.directory.group.readonly"
          ],
          "id": "directory.groups.get",
          "flatPath": "admin/directory/v1/groups/{groupKey}",
          "parameterOrder": [
            "groupKey"
          ]
        },
        "list": {
          "id": "directory.groups.list",
          "flatPath": "admin/directory/v1/groups",
          "parameterOrder": [],
          "httpMethod": "GET",
          "response": {
            "$ref": "Groups"
          },
          "path": "admin/directory/v1/groups",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.group",
            "https://www.googleapis.com/auth/admin.directory.group.readonly"
          ],
          "parameters": {
            "query": {
              "description": "Query string search. Contains one or more search clauses, each with a field, operator, and value. For complete documentation, go to [Search for groups](https://developers.google.com/workspace/admin/directory/v1/guides/search-groups).",
              "type": "string",
              "location": "query"
            },
            "customer": {
              "location": "query",
              "description": "The unique ID for the customer's Google Workspace account. In case of a multi-domain account, to fetch all groups for a customer, use this field instead of `domain`. You can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users](https://developers.google.com/workspace/admin/directory/v1/reference/users) resource. You must provide either the `customer` or the `domain` parameter.",
              "type": "string"
            },
            "domain": {
              "description": "The domain name. Use this field to get groups from only one domain. To return all domains for a customer account, use the `customer` query parameter instead.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "location": "query",
              "format": "int32",
              "minimum": "1",
              "description": "Maximum number of results to return. Max allowed value is 200.",
              "type": "integer",
              "default": "200"
            },
            "sortOrder": {
              "description": "Whether to return results in ascending or descending order. Only of use when orderBy is also used",
              "type": "string",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "location": "query"
            },
            "pageToken": {
              "description": "Token to specify next page in the list",
              "type": "string",
              "location": "query"
            },
            "orderBy": {
              "enumDescriptions": [
                "Email of the group."
              ],
              "location": "query",
              "description": "Column to use for sorting results",
              "type": "string",
              "enum": [
                "email"
              ]
            },
            "userKey": {
              "description": "Email or immutable ID of the user if only those groups are to be listed, the given user is a member of. If it's an ID, it should match with the ID of the user object. Cannot be used with the `customer` parameter.",
              "type": "string",
              "location": "query"
            }
          },
          "description": "Retrieves all groups of a domain or of a user given a userKey (paginated)."
        },
        "delete": {
          "flatPath": "admin/directory/v1/groups/{groupKey}",
          "path": "admin/directory/v1/groups/{groupKey}",
          "parameterOrder": [
            "groupKey"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.group"
          ],
          "parameters": {
            "groupKey": {
              "required": true,
              "location": "path",
              "description": "Identifies the group in the API request. The value can be the group's email address, group alias, or the unique group ID.",
              "type": "string"
            }
          },
          "description": "Deletes a group.",
          "id": "directory.groups.delete",
          "httpMethod": "DELETE"
        },
        "patch": {
          "flatPath": "admin/directory/v1/groups/{groupKey}",
          "parameterOrder": [
            "groupKey"
          ],
          "request": {
            "$ref": "Group"
          },
          "id": "directory.groups.patch",
          "response": {
            "$ref": "Group"
          },
          "path": "admin/directory/v1/groups/{groupKey}",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.group"
          ],
          "parameters": {
            "groupKey": {
              "required": true,
              "location": "path",
              "description": "Identifies the group in the API request. The value can be the group's email address, group alias, or the unique group ID.",
              "type": "string"
            }
          },
          "description": "Updates a group's properties. This method supports [patch semantics](https://developers.google.com/workspace/admin/directory/v1/guides/performance#patch).",
          "httpMethod": "PATCH"
        }
      },
      "resources": {
        "aliases": {
          "methods": {
            "delete": {
              "path": "admin/directory/v1/groups/{groupKey}/aliases/{alias}",
              "parameterOrder": [
                "groupKey",
                "alias"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.group"
              ],
              "parameters": {
                "groupKey": {
                  "location": "path",
                  "required": true,
                  "description": "Identifies the group in the API request. The value can be the group's email address, group alias, or the unique group ID.",
                  "type": "string"
                },
                "alias": {
                  "required": true,
                  "location": "path",
                  "description": "The alias to be removed",
                  "type": "string"
                }
              },
              "description": "Removes an alias.",
              "flatPath": "admin/directory/v1/groups/{groupKey}/aliases/{alias}",
              "id": "directory.groups.aliases.delete",
              "httpMethod": "DELETE"
            },
            "list": {
              "httpMethod": "GET",
              "response": {
                "$ref": "Aliases"
              },
              "path": "admin/directory/v1/groups/{groupKey}/aliases",
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.group",
                "https://www.googleapis.com/auth/admin.directory.group.readonly"
              ],
              "parameters": {
                "groupKey": {
                  "description": "Identifies the group in the API request. The value can be the group's email address, group alias, or the unique group ID.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "description": "Lists all aliases for a group.",
              "id": "directory.groups.aliases.list",
              "flatPath": "admin/directory/v1/groups/{groupKey}/aliases",
              "parameterOrder": [
                "groupKey"
              ]
            },
            "insert": {
              "response": {
                "$ref": "Alias"
              },
              "parameters": {
                "groupKey": {
                  "required": true,
                  "location": "path",
                  "description": "Identifies the group in the API request. The value can be the group's email address, group alias, or the unique group ID.",
                  "type": "string"
                }
              },
              "description": "Adds an alias for the group.",
              "path": "admin/directory/v1/groups/{groupKey}/aliases",
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.group"
              ],
              "httpMethod": "POST",
              "flatPath": "admin/directory/v1/groups/{groupKey}/aliases",
              "parameterOrder": [
                "groupKey"
              ],
              "id": "directory.groups.aliases.insert",
              "request": {
                "$ref": "Alias"
              }
            }
          }
        }
      }
    },
    "orgunits": {
      "methods": {
        "delete": {
          "flatPath": "admin/directory/v1/customer/{customerId}/orgunits/{orgunitsId}",
          "parameters": {
            "customerId": {
              "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users resource](https://developers.google.com/workspace/admin/directory/v1/reference/users).",
              "type": "string",
              "location": "path",
              "required": true
            },
            "orgUnitPath": {
              "pattern": "^.*$",
              "description": "The full path of the organizational unit (minus the leading `/`) or its unique ID.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "description": "Removes an organizational unit.",
          "path": "admin/directory/v1/customer/{customerId}/orgunits/{+orgUnitPath}",
          "parameterOrder": [
            "customerId",
            "orgUnitPath"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.orgunit"
          ],
          "id": "directory.orgunits.delete",
          "httpMethod": "DELETE"
        },
        "patch": {
          "request": {
            "$ref": "OrgUnit"
          },
          "id": "directory.orgunits.patch",
          "parameterOrder": [
            "customerId",
            "orgUnitPath"
          ],
          "flatPath": "admin/directory/v1/customer/{customerId}/orgunits/{orgunitsId}",
          "httpMethod": "PATCH",
          "path": "admin/directory/v1/customer/{customerId}/orgunits/{+orgUnitPath}",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.orgunit"
          ],
          "parameters": {
            "customerId": {
              "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users resource](https://developers.google.com/workspace/admin/directory/v1/reference/users).",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "orgUnitPath": {
              "pattern": "^.*$",
              "description": "The full path of the organizational unit (minus the leading `/`) or its unique ID.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "description": "Updates an organizational unit. This method supports [patch semantics](https://developers.google.com/workspace/admin/directory/v1/guides/performance#patch)",
          "response": {
            "$ref": "OrgUnit"
          }
        },
        "get": {
          "id": "directory.orgunits.get",
          "parameterOrder": [
            "customerId",
            "orgUnitPath"
          ],
          "flatPath": "admin/directory/v1/customer/{customerId}/orgunits/{orgunitsId}",
          "httpMethod": "GET",
          "path": "admin/directory/v1/customer/{customerId}/orgunits/{+orgUnitPath}",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.orgunit",
            "https://www.googleapis.com/auth/admin.directory.orgunit.readonly"
          ],
          "parameters": {
            "customerId": {
              "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users resource](https://developers.google.com/workspace/admin/directory/v1/reference/users).",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "orgUnitPath": {
              "description": "The full path of the organizational unit (minus the leading `/`) or its unique ID.",
              "type": "string",
              "pattern": "^.*$",
              "required": true,
              "location": "path"
            }
          },
          "description": "Retrieves an organizational unit.",
          "response": {
            "$ref": "OrgUnit"
          }
        },
        "list": {
          "flatPath": "admin/directory/v1/customer/{customerId}/orgunits",
          "parameterOrder": [
            "customerId"
          ],
          "id": "directory.orgunits.list",
          "response": {
            "$ref": "OrgUnits"
          },
          "parameters": {
            "customerId": {
              "location": "path",
              "required": true,
              "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users resource](https://developers.google.com/workspace/admin/directory/v1/reference/users).",
              "type": "string"
            },
            "orgUnitPath": {
              "default": "",
              "description": "The full path to the organizational unit or its unique ID. Returns the children of the specified organizational unit.",
              "type": "string",
              "location": "query"
            },
            "type": {
              "description": "Whether to return all sub-organizations or just immediate children.",
              "type": "string",
              "enum": [
                "all",
                "children",
                "allIncludingParent"
              ],
              "enumDescriptions": [
                "All sub-organizational units.",
                "Immediate children only (default).",
                "All sub-organizational units and the specified organizational unit (root if not specified)."
              ],
              "location": "query"
            }
          },
          "description": "Retrieves a list of all organizational units for an account.",
          "path": "admin/directory/v1/customer/{customerId}/orgunits",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.orgunit",
            "https://www.googleapis.com/auth/admin.directory.orgunit.readonly"
          ],
          "httpMethod": "GET"
        },
        "update": {
          "response": {
            "$ref": "OrgUnit"
          },
          "parameters": {
            "customerId": {
              "required": true,
              "location": "path",
              "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users resource](https://developers.google.com/workspace/admin/directory/v1/reference/users).",
              "type": "string"
            },
            "orgUnitPath": {
              "pattern": "^.*$",
              "description": "The full path of the organizational unit (minus the leading `/`) or its unique ID.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "description": "Updates an organizational unit.",
          "path": "admin/directory/v1/customer/{customerId}/orgunits/{+orgUnitPath}",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.orgunit"
          ],
          "httpMethod": "PUT",
          "flatPath": "admin/directory/v1/customer/{customerId}/orgunits/{orgunitsId}",
          "parameterOrder": [
            "customerId",
            "orgUnitPath"
          ],
          "id": "directory.orgunits.update",
          "request": {
            "$ref": "OrgUnit"
          }
        },
        "insert": {
          "parameters": {
            "customerId": {
              "required": true,
              "location": "path",
              "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users resource](https://developers.google.com/workspace/admin/directory/v1/reference/users).",
              "type": "string"
            }
          },
          "description": "Adds an organizational unit.",
          "path": "admin/directory/v1/customer/{customerId}/orgunits",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.orgunit"
          ],
          "response": {
            "$ref": "OrgUnit"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "customerId"
          ],
          "flatPath": "admin/directory/v1/customer/{customerId}/orgunits",
          "id": "directory.orgunits.insert",
          "request": {
            "$ref": "OrgUnit"
          }
        }
      }
    },
    "tokens": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "response": {
            "$ref": "Token"
          },
          "parameters": {
            "clientId": {
              "required": true,
              "location": "path",
              "description": "The Client ID of the application the token is issued to.",
              "type": "string"
            },
            "userKey": {
              "required": true,
              "location": "path",
              "description": "Identifies the user in the API request. The value can be the user's primary email address, alias email address, or unique user ID.",
              "type": "string"
            }
          },
          "description": "Gets information about an access token issued by a user.",
          "path": "admin/directory/v1/users/{userKey}/tokens/{clientId}",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.user.security"
          ],
          "id": "directory.tokens.get",
          "flatPath": "admin/directory/v1/users/{userKey}/tokens/{clientId}",
          "parameterOrder": [
            "userKey",
            "clientId"
          ]
        },
        "list": {
          "id": "directory.tokens.list",
          "parameterOrder": [
            "userKey"
          ],
          "flatPath": "admin/directory/v1/users/{userKey}/tokens",
          "httpMethod": "GET",
          "path": "admin/directory/v1/users/{userKey}/tokens",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.user.security"
          ],
          "parameters": {
            "userKey": {
              "location": "path",
              "required": true,
              "description": "Identifies the user in the API request. The value can be the user's primary email address, alias email address, or unique user ID.",
              "type": "string"
            }
          },
          "description": "Returns the set of tokens specified user has issued to 3rd party applications.",
          "response": {
            "$ref": "Tokens"
          }
        },
        "delete": {
          "id": "directory.tokens.delete",
          "httpMethod": "DELETE",
          "flatPath": "admin/directory/v1/users/{userKey}/tokens/{clientId}",
          "path": "admin/directory/v1/users/{userKey}/tokens/{clientId}",
          "parameterOrder": [
            "userKey",
            "clientId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.user.security"
          ],
          "parameters": {
            "clientId": {
              "location": "path",
              "required": true,
              "description": "The Client ID of the application the token is issued to.",
              "type": "string"
            },
            "userKey": {
              "description": "Identifies the user in the API request. The value can be the user's primary email address, alias email address, or unique user ID.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "description": "Deletes all access tokens issued by a user for an application."
        }
      }
    },
    "customers": {
      "methods": {
        "update": {
          "request": {
            "$ref": "Customer"
          },
          "id": "directory.customers.update",
          "parameterOrder": [
            "customerKey"
          ],
          "flatPath": "admin/directory/v1/customers/{customerKey}",
          "httpMethod": "PUT",
          "path": "admin/directory/v1/customers/{customerKey}",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.customer"
          ],
          "parameters": {
            "customerKey": {
              "description": "Id of the customer to be updated",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "description": "Updates a customer.",
          "response": {
            "$ref": "Customer"
          }
        },
        "get": {
          "id": "directory.customers.get",
          "flatPath": "admin/directory/v1/customers/{customerKey}",
          "parameterOrder": [
            "customerKey"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "Customer"
          },
          "parameters": {
            "customerKey": {
              "description": "Id of the customer to be retrieved",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "description": "Retrieves a customer.",
          "path": "admin/directory/v1/customers/{customerKey}",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.customer",
            "https://www.googleapis.com/auth/admin.directory.customer.readonly"
          ]
        },
        "patch": {
          "path": "admin/directory/v1/customers/{customerKey}",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.customer"
          ],
          "parameters": {
            "customerKey": {
              "description": "Id of the customer to be updated",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "description": "Patches a customer.",
          "response": {
            "$ref": "Customer"
          },
          "httpMethod": "PATCH",
          "parameterOrder": [
            "customerKey"
          ],
          "flatPath": "admin/directory/v1/customers/{customerKey}",
          "request": {
            "$ref": "Customer"
          },
          "id": "directory.customers.patch"
        }
      },
      "resources": {
        "chrome": {
          "resources": {
            "printServers": {
              "methods": {
                "batchDeletePrintServers": {
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "BatchDeletePrintServersResponse"
                  },
                  "path": "admin/directory/v1/{+parent}/chrome/printServers:batchDeletePrintServers",
                  "scopes": [
                    "https://www.googleapis.com/auth/admin.chrome.printers"
                  ],
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "pattern": "^customers/[^/]+$",
[...]
