{
  "discoveryVersion": "v1",
  "id": "admin:datatransfer_v1",
  "resources": {
    "applications": {
      "methods": {
        "get": {
          "path": "admin/datatransfer/v1/applications/{applicationId}",
          "id": "datatransfer.applications.get",
          "httpMethod": "GET",
          "parameters": {
            "applicationId": {
              "location": "path",
              "required": true,
              "description": "ID of the application resource to be retrieved.",
              "format": "int64",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "response": {
            "$ref": "Application"
          },
          "parameterOrder": [
            "applicationId"
          ],
          "flatPath": "admin/datatransfer/v1/applications/{applicationId}",
          "description": "Retrieves information about an application for the given application ID."
        },
        "list": {
          "parameterOrder": [],
          "flatPath": "admin/datatransfer/v1/applications",
          "description": "Lists the applications available for data transfer for a customer.",
          "response": {
            "$ref": "ApplicationsListResponse"
          },
          "parameters": {
            "maxResults": {
              "maximum": "500",
              "location": "query",
              "minimum": "1",
              "description": "Maximum number of results to return. Default is 100.",
              "format": "int32",
              "type": "integer"
            },
            "customerId": {
              "description": "Immutable ID of the Google Workspace account.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "description": "Token to specify next page in the list.",
              "location": "query",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "httpMethod": "GET",
          "path": "admin/datatransfer/v1/applications",
          "id": "datatransfer.applications.list"
        }
      }
    },
    "transfers": {
      "methods": {
        "insert": {
          "path": "admin/datatransfer/v1/transfers",
          "id": "datatransfer.transfers.insert",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer"
          ],
          "httpMethod": "POST",
          "parameterOrder": [],
          "flatPath": "admin/datatransfer/v1/transfers",
          "description": "Inserts a data transfer request. See the [Transfer parameters](https://developers.google.com/workspace/admin/data-transfer/v1/parameters) reference for specific application requirements.",
          "request": {
            "$ref": "DataTransfer"
          },
          "response": {
            "$ref": "DataTransfer"
          }
        },
        "list": {
          "response": {
            "$ref": "DataTransfersListResponse"
          },
          "parameterOrder": [],
          "flatPath": "admin/datatransfer/v1/transfers",
          "description": "Lists the transfers for a customer by source user, destination user, or status.",
          "httpMethod": "GET",
          "parameters": {
            "customerId": {
              "location": "query",
              "type": "string",
              "description": "Immutable ID of the Google Workspace account."
            },
            "newOwnerUserId": {
              "description": "Destination user's profile ID.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "description": "Token to specify the next page in the list.",
              "location": "query",
              "type": "string"
            },
            "status": {
              "description": "Status of the transfer.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "type": "integer",
              "description": "Maximum number of results to return. Default is 100.",
              "format": "int32",
              "location": "query",
              "minimum": "1",
              "maximum": "500"
            },
            "oldOwnerUserId": {
              "description": "Source user's profile ID.",
              "location": "query",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "path": "admin/datatransfer/v1/transfers",
          "id": "datatransfer.transfers.list"
        },
        "get": {
          "response": {
            "$ref": "DataTransfer"
          },
          "parameterOrder": [
            "dataTransferId"
          ],
          "flatPath": "admin/datatransfer/v1/transfers/{dataTransferId}",
          "description": "Retrieves a data transfer request by its resource ID.",
          "path": "admin/datatransfer/v1/transfers/{dataTransferId}",
          "id": "datatransfer.transfers.get",
          "httpMethod": "GET",
          "parameters": {
            "dataTransferId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "ID of the resource to be retrieved. This is returned in the response from the insert method."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ]
        }
      }
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "baseUrl": "https://admin.googleapis.com/",
  "revision": "20260619",
  "packagePath": "admin",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/admin.datatransfer": {
          "description": "View and manage data transfers between users in your organization"
        },
        "https://www.googleapis.com/auth/admin.datatransfer.readonly": {
          "description": "View data transfers between users in your organization"
        }
      }
    }
  },
  "description": "Admin SDK lets administrators of enterprise domains to view and manage resources like user, groups etc. It also provides audit and usage reports of domain.",
  "rootUrl": "https://admin.googleapis.com/",
  "mtlsRootUrl": "https://admin.mtls.googleapis.com/",
  "protocol": "rest",
  "canonicalName": "DataTransfer",
  "title": "Admin SDK API",
  "basePath": "",
  "fullyEncodeReservedExpansion": true,
  "ownerName": "Google",
  "batchPath": "batch",
  "kind": "discovery#restDescription",
  "version": "datatransfer_v1",
  "ownerDomain": "google.com",
  "documentationLink": "https://developers.google.com/workspace/admin/",
  "name": "admin",
  "schemas": {
    "ApplicationsListResponse": {
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies the resource as a collection of Applications.",
          "default": "admin#datatransfer#applicationsList",
          "type": "string"
        },
        "applications": {
          "type": "array",
          "description": "The list of applications that support data transfer and are also installed for the customer.",
          "items": {
            "$ref": "Application"
          }
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Token to specify the next page in the list.",
          "type": "string"
        }
      },
      "id": "ApplicationsListResponse",
      "description": "Template for a collection of Applications."
    },
    "ApplicationDataTransfer": {
      "type": "object",
      "properties": {
        "applicationTransferStatus": {
          "description": "Read-only. Current status of transfer for this application.",
          "type": "string"
        },
        "applicationId": {
          "description": "The application's ID.",
          "format": "int64",
          "type": "string"
        },
        "applicationTransferParams": {
          "description": "The transfer parameters for the application. These parameters are used to select the data which will get transferred in context of this application. For more information about the specific values available for each application, see the [Transfer parameters](https://developers.google.com/workspace/admin/data-transfer/v1/parameters) reference.",
          "items": {
            "$ref": "ApplicationTransferParam"
          },
          "type": "array"
        }
      },
      "id": "ApplicationDataTransfer",
      "description": "Template to map fields of ApplicationDataTransfer resource."
    },
    "DataTransfersListResponse": {
      "type": "object",
      "properties": {
        "dataTransfers": {
          "type": "array",
          "description": "List of data transfer requests.",
          "items": {
            "$ref": "DataTransfer"
          }
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Token to specify the next page in the list.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies the resource as a collection of data transfer requests.",
          "default": "admin#datatransfer#dataTransfersList",
          "type": "string"
        }
      },
      "id": "DataTransfersListResponse",
      "description": "Template for a collection of DataTransfer resources."
    },
    "Application": {
      "id": "Application",
      "description": "Application resources represent applications installed on the domain that support transferring ownership of user data.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The application's name.",
          "type": "string"
        },
        "transferParams": {
          "type": "array",
          "description": "The list of all possible transfer parameters for this application. These parameters select which categories of the user's data to transfer.",
          "items": {
            "$ref": "ApplicationTransferParam"
          }
        },
        "etag": {
          "description": "Etag of the resource.",
          "type": "string"
        },
        "id": {
          "description": "The application's ID. Retrievable by using the [`applications.list()`](https://developers.google.com/workspace/admin/data-transfer/reference/rest/v1/applications/list) method.",
          "format": "int64",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies the resource as a DataTransfer Application Resource.",
          "default": "admin#datatransfer#ApplicationResource"
        }
      }
    },
    "DataTransfer": {
      "type": "object",
      "properties": {
        "newOwnerUserId": {
          "description": "ID of the user to whom the data is being transferred.",
          "type": "string"
        },
        "applicationDataTransfers": {
          "type": "array",
          "description": "The list of per-application data transfer resources. It contains details of the applications associated with this transfer resource, and also specifies the applications for which data transfer has to be done at the time of the transfer resource creation.",
          "items": {
            "$ref": "ApplicationDataTransfer"
          }
        },
        "overallTransferStatusCode": {
          "description": "Read-only. Overall transfer status.",
          "type": "string"
        },
        "requestTime": {
          "description": "Read-only. The time at which the data transfer was requested.",
          "format": "date-time",
          "type": "string"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "id": {
          "description": "Read-only. The transfer's ID.",
          "type": "string"
        },
        "oldOwnerUserId": {
          "description": "ID of the user whose data is being transferred.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "admin#datatransfer#DataTransfer",
          "description": "Identifies the resource as a DataTransfer request."
        }
      },
      "id": "DataTransfer",
      "description": "A Transfer resource represents the transfer of the ownership of user data between users."
    },
    "ApplicationTransferParam": {
      "id": "ApplicationTransferParam",
      "description": "Template for application transfer parameters.",
      "type": "object",
      "properties": {
        "key": {
          "description": "The type of the transfer parameter, such as `PRIVACY_LEVEL`.",
          "type": "string"
        },
        "value": {
          "type": "array",
          "description": "The value of the transfer parameter, such as `PRIVATE` or `SHARED`.",
          "items": {
            "type": "string"
          }
        }
      }
    }
  },
  "servicePath": "",
  "parameters": {
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    }
  }
}