{
  "title": "Admin SDK API",
  "kind": "discovery#restDescription",
  "packagePath": "admin",
  "servicePath": "",
  "revision": "20260619",
  "id": "admin:datatransfer_v1",
  "documentationLink": "https://developers.google.com/workspace/admin/",
  "description": "Admin SDK lets administrators of enterprise domains to view and manage resources like user, groups etc. It also provides audit and usage reports of domain.",
  "fullyEncodeReservedExpansion": true,
  "batchPath": "batch",
  "rootUrl": "https://admin.googleapis.com/",
  "name": "admin",
  "discoveryVersion": "v1",
  "baseUrl": "https://admin.googleapis.com/",
  "schemas": {
    "ApplicationDataTransfer": {
      "id": "ApplicationDataTransfer",
      "type": "object",
      "properties": {
        "applicationId": {
          "description": "The application's ID.",
          "type": "string",
          "format": "int64"
        },
        "applicationTransferParams": {
          "type": "array",
          "description": "The transfer parameters for the application. These parameters are used to select the data which will get transferred in context of this application. For more information about the specific values available for each application, see the [Transfer parameters](https://developers.google.com/workspace/admin/data-transfer/v1/parameters) reference.",
          "items": {
            "$ref": "ApplicationTransferParam"
          }
        },
        "applicationTransferStatus": {
          "type": "string",
          "description": "Read-only. Current status of transfer for this application."
        }
      },
      "description": "Template to map fields of ApplicationDataTransfer resource."
    },
    "ApplicationsListResponse": {
      "description": "Template for a collection of Applications.",
      "id": "ApplicationsListResponse",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies the resource as a collection of Applications.",
          "default": "admin#datatransfer#applicationsList",
          "type": "string"
        },
        "applications": {
          "items": {
            "$ref": "Application"
          },
          "description": "The list of applications that support data transfer and are also installed for the customer.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to specify the next page in the list.",
          "type": "string"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        }
      }
    },
    "Application": {
      "description": "Application resources represent applications installed on the domain that support transferring ownership of user data.",
      "id": "Application",
      "type": "object",
      "properties": {
        "id": {
          "description": "The application's ID. Retrievable by using the [`applications.list()`](https://developers.google.com/workspace/admin/data-transfer/reference/rest/v1/applications/list) method.",
          "type": "string",
          "format": "int64"
        },
        "kind": {
          "description": "Identifies the resource as a DataTransfer Application Resource.",
          "type": "string",
          "default": "admin#datatransfer#ApplicationResource"
        },
        "name": {
          "description": "The application's name.",
          "type": "string"
        },
        "transferParams": {
          "description": "The list of all possible transfer parameters for this application. These parameters select which categories of the user's data to transfer.",
          "items": {
            "$ref": "ApplicationTransferParam"
          },
          "type": "array"
        },
        "etag": {
          "description": "Etag of the resource.",
          "type": "string"
        }
      }
    },
    "ApplicationTransferParam": {
      "id": "ApplicationTransferParam",
      "type": "object",
      "properties": {
        "key": {
          "description": "The type of the transfer parameter, such as `PRIVACY_LEVEL`.",
          "type": "string"
        },
        "value": {
          "type": "array",
          "description": "The value of the transfer parameter, such as `PRIVATE` or `SHARED`.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Template for application transfer parameters."
    },
    "DataTransfersListResponse": {
      "id": "DataTransfersListResponse",
      "type": "object",
      "properties": {
        "kind": {
          "default": "admin#datatransfer#dataTransfersList",
          "type": "string",
          "description": "Identifies the resource as a collection of data transfer requests."
        },
        "nextPageToken": {
          "description": "Token to specify the next page in the list.",
          "type": "string"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "dataTransfers": {
          "items": {
            "$ref": "DataTransfer"
          },
          "description": "List of data transfer requests.",
          "type": "array"
        }
      },
      "description": "Template for a collection of DataTransfer resources."
    },
    "DataTransfer": {
      "id": "DataTransfer",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Read-only. The transfer's ID."
        },
        "kind": {
          "description": "Identifies the resource as a DataTransfer request.",
          "type": "string",
          "default": "admin#datatransfer#DataTransfer"
        },
        "oldOwnerUserId": {
          "description": "ID of the user whose data is being transferred.",
          "type": "string"
        },
        "newOwnerUserId": {
          "type": "string",
          "description": "ID of the user to whom the data is being transferred."
        },
        "applicationDataTransfers": {
          "description": "The list of per-application data transfer resources. It contains details of the applications associated with this transfer resource, and also specifies the applications for which data transfer has to be done at the time of the transfer resource creation.",
          "items": {
            "$ref": "ApplicationDataTransfer"
          },
          "type": "array"
        },
        "overallTransferStatusCode": {
          "description": "Read-only. Overall transfer status.",
          "type": "string"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "requestTime": {
          "type": "string",
          "format": "date-time",
          "description": "Read-only. The time at which the data transfer was requested."
        }
      },
      "description": "A Transfer resource represents the transfer of the ownership of user data between users."
    }
  },
  "ownerName": "Google",
  "parameters": {
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "default": "json",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    }
  },
  "resources": {
    "transfers": {
      "methods": {
        "insert": {
          "description": "Inserts a data transfer request. See the [Transfer parameters](https://developers.google.com/workspace/admin/data-transfer/v1/parameters) reference for specific application requirements.",
          "response": {
            "$ref": "DataTransfer"
          },
          "httpMethod": "POST",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer"
          ],
          "id": "datatransfer.transfers.insert",
          "path": "admin/datatransfer/v1/transfers",
          "flatPath": "admin/datatransfer/v1/transfers",
          "request": {
            "$ref": "DataTransfer"
          },
          "parameterOrder": []
        },
        "list": {
          "flatPath": "admin/datatransfer/v1/transfers",
          "path": "admin/datatransfer/v1/transfers",
          "parameterOrder": [],
          "description": "Lists the transfers for a customer by source user, destination user, or status.",
          "parameters": {
            "newOwnerUserId": {
              "description": "Destination user's profile ID.",
              "location": "query",
              "type": "string"
            },
            "status": {
              "type": "string",
              "location": "query",
              "description": "Status of the transfer."
            },
            "maxResults": {
              "type": "integer",
              "format": "int32",
              "minimum": "1",
              "location": "query",
              "description": "Maximum number of results to return. Default is 100.",
              "maximum": "500"
            },
            "oldOwnerUserId": {
              "location": "query",
              "description": "Source user's profile ID.",
              "type": "string"
            },
            "customerId": {
              "type": "string",
              "description": "Immutable ID of the Google Workspace account.",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "description": "Token to specify the next page in the list.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "id": "datatransfer.transfers.list",
          "response": {
            "$ref": "DataTransfersListResponse"
          },
          "httpMethod": "GET"
        },
        "get": {
          "path": "admin/datatransfer/v1/transfers/{dataTransferId}",
          "flatPath": "admin/datatransfer/v1/transfers/{dataTransferId}",
          "parameterOrder": [
            "dataTransferId"
          ],
          "description": "Retrieves a data transfer request by its resource ID.",
          "response": {
            "$ref": "DataTransfer"
          },
          "httpMethod": "GET",
          "parameters": {
            "dataTransferId": {
              "location": "path",
              "description": "ID of the resource to be retrieved. This is returned in the response from the insert method.",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "id": "datatransfer.transfers.get"
        }
      }
    },
    "applications": {
      "methods": {
        "get": {
          "description": "Retrieves information about an application for the given application ID.",
          "response": {
            "$ref": "Application"
          },
          "httpMethod": "GET",
          "parameters": {
            "applicationId": {
              "required": true,
              "type": "string",
              "format": "int64",
              "location": "path",
              "description": "ID of the application resource to be retrieved."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "id": "datatransfer.applications.get",
          "path": "admin/datatransfer/v1/applications/{applicationId}",
          "flatPath": "admin/datatransfer/v1/applications/{applicationId}",
          "parameterOrder": [
            "applicationId"
          ]
        },
        "list": {
          "flatPath": "admin/datatransfer/v1/applications",
          "path": "admin/datatransfer/v1/applications",
          "parameterOrder": [],
          "description": "Lists the applications available for data transfer for a customer.",
          "id": "datatransfer.applications.list",
          "parameters": {
            "customerId": {
              "location": "query",
              "description": "Immutable ID of the Google Workspace account.",
              "type": "string"
            },
            "pageToken": {
              "type": "string",
              "description": "Token to specify next page in the list.",
              "location": "query"
            },
            "maxResults": {
              "type": "integer",
              "format": "int32",
              "minimum": "1",
              "location": "query",
              "description": "Maximum number of results to return. Default is 100.",
              "maximum": "500"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "ApplicationsListResponse"
          }
        }
      }
    }
  },
  "basePath": "",
  "mtlsRootUrl": "https://admin.mtls.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/admin.datatransfer.readonly": {
          "description": "View data transfers between users in your organization"
        },
        "https://www.googleapis.com/auth/admin.datatransfer": {
          "description": "View and manage data transfers between users in your organization"
        }
      }
    }
  },
  "protocol": "rest",
  "version": "datatransfer_v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerDomain": "google.com",
  "canonicalName": "DataTransfer"
}