{
  "servicePath": "",
  "discoveryVersion": "v1",
  "canonicalName": "DataTransfer",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "kind": "discovery#restDescription",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/admin.datatransfer.readonly": {
          "description": "View data transfers between users in your organization"
        },
        "https://www.googleapis.com/auth/admin.datatransfer": {
          "description": "View and manage data transfers between users in your organization"
        }
      }
    }
  },
  "baseUrl": "https://admin.googleapis.com/",
  "documentationLink": "https://developers.google.com/workspace/admin/",
  "name": "admin",
  "fullyEncodeReservedExpansion": true,
  "mtlsRootUrl": "https://admin.mtls.googleapis.com/",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "resources": {
    "applications": {
      "methods": {
        "list": {
          "id": "datatransfer.applications.list",
          "parameterOrder": [],
          "description": "Lists the applications available for data transfer for a customer.",
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "path": "admin/datatransfer/v1/applications",
          "response": {
            "$ref": "ApplicationsListResponse"
          },
          "flatPath": "admin/datatransfer/v1/applications",
          "httpMethod": "GET",
          "parameters": {
            "customerId": {
              "description": "Immutable ID of the Google Workspace account.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "type": "integer",
              "location": "query",
              "description": "Maximum number of results to return. Default is 100.",
              "format": "int32",
              "minimum": "1",
              "maximum": "500"
            },
            "pageToken": {
              "description": "Token to specify next page in the list.",
              "location": "query",
              "type": "string"
            }
          }
        },
        "get": {
          "id": "datatransfer.applications.get",
          "parameterOrder": [
            "applicationId"
          ],
          "description": "Retrieves information about an application for the given application ID.",
          "flatPath": "admin/datatransfer/v1/applications/{applicationId}",
          "httpMethod": "GET",
          "parameters": {
            "applicationId": {
              "description": "ID of the application resource to be retrieved.",
              "type": "string",
              "location": "path",
              "required": true,
              "format": "int64"
            }
          },
          "path": "admin/datatransfer/v1/applications/{applicationId}",
          "response": {
            "$ref": "Application"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ]
        }
      }
    },
    "transfers": {
      "methods": {
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer"
          ],
          "flatPath": "admin/datatransfer/v1/transfers",
          "httpMethod": "POST",
          "parameters": {},
          "response": {
            "$ref": "DataTransfer"
          },
          "path": "admin/datatransfer/v1/transfers",
          "request": {
            "$ref": "DataTransfer"
          },
          "id": "datatransfer.transfers.insert",
          "parameterOrder": [],
          "description": "Inserts a data transfer request. See the [Transfer parameters](https://developers.google.com/workspace/admin/data-transfer/v1/parameters) reference for specific application requirements."
        },
        "list": {
          "id": "datatransfer.transfers.list",
          "parameterOrder": [],
          "description": "Lists the transfers for a customer by source user, destination user, or status.",
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "flatPath": "admin/datatransfer/v1/transfers",
          "httpMethod": "GET",
          "parameters": {
            "maxResults": {
              "format": "int32",
              "minimum": "1",
              "maximum": "500",
              "type": "integer",
              "location": "query",
              "description": "Maximum number of results to return. Default is 100."
            },
            "customerId": {
              "description": "Immutable ID of the Google Workspace account.",
              "location": "query",
              "type": "string"
            },
            "newOwnerUserId": {
              "location": "query",
              "type": "string",
              "description": "Destination user's profile ID."
            },
            "oldOwnerUserId": {
              "description": "Source user's profile ID.",
              "type": "string",
              "location": "query"
            },
            "pageToken": {
              "description": "Token to specify the next page in the list.",
              "type": "string",
              "location": "query"
            },
            "status": {
              "type": "string",
              "location": "query",
              "description": "Status of the transfer."
            }
          },
          "path": "admin/datatransfer/v1/transfers",
          "response": {
            "$ref": "DataTransfersListResponse"
          }
        },
        "get": {
          "flatPath": "admin/datatransfer/v1/transfers/{dataTransferId}",
          "httpMethod": "GET",
          "parameters": {
            "dataTransferId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "ID of the resource to be retrieved. This is returned in the response from the insert method."
            }
          },
          "response": {
            "$ref": "DataTransfer"
          },
          "path": "admin/datatransfer/v1/transfers/{dataTransferId}",
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "id": "datatransfer.transfers.get",
          "parameterOrder": [
            "dataTransferId"
          ],
          "description": "Retrieves a data transfer request by its resource ID."
        }
      }
    }
  },
  "id": "admin:datatransfer_v1",
  "version": "datatransfer_v1",
  "packagePath": "admin",
  "revision": "20260722",
  "protocol": "rest",
  "basePath": "",
  "description": "Admin SDK lets administrators of enterprise domains to view and manage resources like user, groups etc. It also provides audit and usage reports of domain.",
  "schemas": {
    "Application": {
      "type": "object",
      "id": "Application",
      "description": "Application resources represent applications installed on the domain that support transferring ownership of user data.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies the resource as a DataTransfer Application Resource.",
          "default": "admin#datatransfer#ApplicationResource"
        },
        "transferParams": {
          "type": "array",
          "items": {
            "$ref": "ApplicationTransferParam"
          },
          "description": "The list of all possible transfer parameters for this application. These parameters select which categories of the user's data to transfer."
        },
        "etag": {
          "description": "Etag of the resource.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "format": "int64",
          "description": "The application's ID. Retrievable by using the [`applications.list()`](https://developers.google.com/workspace/admin/data-transfer/reference/rest/v1/applications/list) method."
        },
        "name": {
          "description": "The application's name.",
          "type": "string"
        }
      }
    },
    "DataTransfer": {
      "id": "DataTransfer",
      "description": "A Transfer resource represents the transfer of the ownership of user data between users.",
      "properties": {
        "newOwnerUserId": {
          "description": "ID of the user to whom the data is being transferred.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies the resource as a DataTransfer request.",
          "default": "admin#datatransfer#DataTransfer",
          "type": "string"
        },
        "oldOwnerUserId": {
          "description": "ID of the user whose data is being transferred.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Read-only. The transfer's ID."
        },
        "overallTransferStatusCode": {
          "description": "Read-only. Overall transfer status.",
          "type": "string"
        },
        "applicationDataTransfers": {
          "items": {
            "$ref": "ApplicationDataTransfer"
          },
          "description": "The list of per-application data transfer resources. It contains details of the applications associated with this transfer resource, and also specifies the applications for which data transfer has to be done at the time of the transfer resource creation.",
          "type": "array"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "requestTime": {
          "type": "string",
          "format": "date-time",
          "description": "Read-only. The time at which the data transfer was requested."
        }
      },
      "type": "object"
    },
    "ApplicationTransferParam": {
      "type": "object",
      "id": "ApplicationTransferParam",
      "description": "Template for application transfer parameters.",
      "properties": {
        "key": {
          "type": "string",
          "description": "The type of the transfer parameter, such as `PRIVACY_LEVEL`."
        },
        "value": {
          "type": "array",
          "description": "The value of the transfer parameter, such as `PRIVATE` or `SHARED`.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ApplicationsListResponse": {
      "type": "object",
      "id": "ApplicationsListResponse",
      "description": "Template for a collection of Applications.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to specify the next page in the list."
        },
        "kind": {
          "description": "Identifies the resource as a collection of Applications.",
          "default": "admin#datatransfer#applicationsList",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "applications": {
          "description": "The list of applications that support data transfer and are also installed for the customer.",
          "items": {
            "$ref": "Application"
          },
          "type": "array"
        }
      }
    },
    "DataTransfersListResponse": {
      "id": "DataTransfersListResponse",
      "description": "Template for a collection of DataTransfer resources.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to specify the next page in the list."
        },
        "kind": {
          "description": "Identifies the resource as a collection of data transfer requests.",
          "default": "admin#datatransfer#dataTransfersList",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "dataTransfers": {
          "type": "array",
          "items": {
            "$ref": "DataTransfer"
          },
          "description": "List of data transfer requests."
        }
      },
      "type": "object"
    },
    "ApplicationDataTransfer": {
      "id": "ApplicationDataTransfer",
      "description": "Template to map fields of ApplicationDataTransfer resource.",
      "properties": {
        "applicationTransferParams": {
          "type": "array",
          "description": "The transfer parameters for the application. These parameters are used to select the data which will get transferred in context of this application. For more information about the specific values available for each application, see the [Transfer parameters](https://developers.google.com/workspace/admin/data-transfer/v1/parameters) reference.",
          "items": {
            "$ref": "ApplicationTransferParam"
          }
        },
        "applicationTransferStatus": {
          "description": "Read-only. Current status of transfer for this application.",
          "type": "string"
        },
        "applicationId": {
          "description": "The application's ID.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object"
    }
  },
  "parameters": {
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "location": "query",
      "type": "string",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    }
  },
  "batchPath": "batch",
  "title": "Admin SDK API",
  "rootUrl": "https://admin.googleapis.com/"
}