{
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "servicePath": "",
  "fullyEncodeReservedExpansion": true,
  "baseUrl": "https://admin.googleapis.com/",
  "name": "admin",
  "revision": "20260713",
  "documentationLink": "https://developers.google.com/workspace/admin/",
  "ownerDomain": "google.com",
  "rootUrl": "https://admin.googleapis.com/",
  "mtlsRootUrl": "https://admin.mtls.googleapis.com/",
  "canonicalName": "DataTransfer",
  "batchPath": "batch",
  "resources": {
    "applications": {
      "methods": {
        "list": {
          "id": "datatransfer.applications.list",
          "parameters": {
            "maxResults": {
              "maximum": "500",
              "location": "query",
              "type": "integer",
              "minimum": "1",
              "description": "Maximum number of results to return. Default is 100.",
              "format": "int32"
            },
            "pageToken": {
              "description": "Token to specify next page in the list.",
              "location": "query",
              "type": "string"
            },
            "customerId": {
              "type": "string",
              "location": "query",
              "description": "Immutable ID of the Google Workspace account."
            }
          },
          "flatPath": "admin/datatransfer/v1/applications",
          "description": "Lists the applications available for data transfer for a customer.",
          "parameterOrder": [],
          "httpMethod": "GET",
          "response": {
            "$ref": "ApplicationsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "path": "admin/datatransfer/v1/applications"
        },
        "get": {
          "path": "admin/datatransfer/v1/applications/{applicationId}",
          "httpMethod": "GET",
          "response": {
            "$ref": "Application"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "description": "Retrieves information about an application for the given application ID.",
          "parameterOrder": [
            "applicationId"
          ],
          "parameters": {
            "applicationId": {
              "description": "ID of the application resource to be retrieved.",
              "format": "int64",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "flatPath": "admin/datatransfer/v1/applications/{applicationId}",
          "id": "datatransfer.applications.get"
        }
      }
    },
    "transfers": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "response": {
            "$ref": "DataTransfer"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "path": "admin/datatransfer/v1/transfers/{dataTransferId}",
          "description": "Retrieves a data transfer request by its resource ID.",
          "parameterOrder": [
            "dataTransferId"
          ],
          "id": "datatransfer.transfers.get",
          "parameters": {
            "dataTransferId": {
              "description": "ID of the resource to be retrieved. This is returned in the response from the insert method.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "flatPath": "admin/datatransfer/v1/transfers/{dataTransferId}"
        },
        "insert": {
          "httpMethod": "POST",
          "response": {
            "$ref": "DataTransfer"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer"
          ],
          "path": "admin/datatransfer/v1/transfers",
          "request": {
            "$ref": "DataTransfer"
          },
          "description": "Inserts a data transfer request. See the [Transfer parameters](https://developers.google.com/workspace/admin/data-transfer/v1/parameters) reference for specific application requirements.",
          "parameterOrder": [],
          "id": "datatransfer.transfers.insert",
          "parameters": {},
          "flatPath": "admin/datatransfer/v1/transfers"
        },
        "list": {
          "httpMethod": "GET",
          "response": {
            "$ref": "DataTransfersListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "path": "admin/datatransfer/v1/transfers",
          "description": "Lists the transfers for a customer by source user, destination user, or status.",
          "parameterOrder": [],
          "id": "datatransfer.transfers.list",
          "parameters": {
            "pageToken": {
              "description": "Token to specify the next page in the list.",
              "location": "query",
              "type": "string"
            },
            "status": {
              "description": "Status of the transfer.",
              "type": "string",
              "location": "query"
            },
            "oldOwnerUserId": {
              "description": "Source user's profile ID.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "maximum": "500",
              "location": "query",
              "minimum": "1",
              "description": "Maximum number of results to return. Default is 100.",
              "format": "int32",
              "type": "integer"
            },
            "customerId": {
              "type": "string",
              "location": "query",
              "description": "Immutable ID of the Google Workspace account."
            },
            "newOwnerUserId": {
              "description": "Destination user's profile ID.",
              "location": "query",
              "type": "string"
            }
          },
          "flatPath": "admin/datatransfer/v1/transfers"
        }
      }
    }
  },
  "protocol": "rest",
  "discoveryVersion": "v1",
  "basePath": "",
  "id": "admin:datatransfer_v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/admin.datatransfer": {
          "description": "View and manage data transfers between users in your organization"
        },
        "https://www.googleapis.com/auth/admin.datatransfer.readonly": {
          "description": "View data transfers between users in your organization"
        }
      }
    }
  },
  "schemas": {
    "Application": {
      "description": "Application resources represent applications installed on the domain that support transferring ownership of user data.",
      "id": "Application",
      "properties": {
        "id": {
          "description": "The application's ID. Retrievable by using the [`applications.list()`](https://developers.google.com/workspace/admin/data-transfer/reference/rest/v1/applications/list) method.",
          "format": "int64",
          "type": "string"
        },
        "name": {
          "description": "The application's name.",
          "type": "string"
        },
        "transferParams": {
          "type": "array",
          "items": {
            "$ref": "ApplicationTransferParam"
          },
          "description": "The list of all possible transfer parameters for this application. These parameters select which categories of the user's data to transfer."
        },
        "kind": {
          "default": "admin#datatransfer#ApplicationResource",
          "type": "string",
          "description": "Identifies the resource as a DataTransfer Application Resource."
        },
        "etag": {
          "description": "Etag of the resource.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ApplicationsListResponse": {
      "properties": {
        "kind": {
          "description": "Identifies the resource as a collection of Applications.",
          "default": "admin#datatransfer#applicationsList",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "applications": {
          "description": "The list of applications that support data transfer and are also installed for the customer.",
          "type": "array",
          "items": {
            "$ref": "Application"
          }
        },
        "nextPageToken": {
          "description": "Token to specify the next page in the list.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Template for a collection of Applications.",
      "id": "ApplicationsListResponse"
    },
    "DataTransfer": {
      "properties": {
        "oldOwnerUserId": {
          "description": "ID of the user whose data is being transferred.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "overallTransferStatusCode": {
          "description": "Read-only. Overall transfer status.",
          "type": "string"
        },
        "newOwnerUserId": {
          "description": "ID of the user to whom the data is being transferred.",
          "type": "string"
        },
        "applicationDataTransfers": {
          "description": "The list of per-application data transfer resources. It contains details of the applications associated with this transfer resource, and also specifies the applications for which data transfer has to be done at the time of the transfer resource creation.",
          "type": "array",
          "items": {
            "$ref": "ApplicationDataTransfer"
          }
        },
        "kind": {
          "default": "admin#datatransfer#DataTransfer",
          "type": "string",
          "description": "Identifies the resource as a DataTransfer request."
        },
        "requestTime": {
          "description": "Read-only. The time at which the data transfer was requested.",
          "format": "date-time",
          "type": "string"
        },
        "id": {
          "description": "Read-only. The transfer's ID.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A Transfer resource represents the transfer of the ownership of user data between users.",
      "id": "DataTransfer"
    },
    "DataTransfersListResponse": {
      "id": "DataTransfersListResponse",
      "description": "Template for a collection of DataTransfer resources.",
      "type": "object",
      "properties": {
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "dataTransfers": {
          "description": "List of data transfer requests.",
          "type": "array",
          "items": {
            "$ref": "DataTransfer"
          }
        },
        "nextPageToken": {
          "description": "Token to specify the next page in the list.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies the resource as a collection of data transfer requests.",
          "default": "admin#datatransfer#dataTransfersList",
          "type": "string"
        }
      }
    },
    "ApplicationTransferParam": {
      "id": "ApplicationTransferParam",
      "description": "Template for application transfer parameters.",
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The value of the transfer parameter, such as `PRIVATE` or `SHARED`."
        },
        "key": {
          "type": "string",
          "description": "The type of the transfer parameter, such as `PRIVACY_LEVEL`."
        }
      }
    },
    "ApplicationDataTransfer": {
      "properties": {
        "applicationTransferStatus": {
          "description": "Read-only. Current status of transfer for this application.",
          "type": "string"
        },
        "applicationId": {
          "type": "string",
          "description": "The application's ID.",
          "format": "int64"
        },
        "applicationTransferParams": {
          "description": "The transfer parameters for the application. These parameters are used to select the data which will get transferred in context of this application. For more information about the specific values available for each application, see the [Transfer parameters](https://developers.google.com/workspace/admin/data-transfer/v1/parameters) reference.",
          "type": "array",
          "items": {
            "$ref": "ApplicationTransferParam"
          }
        }
      },
      "type": "object",
      "description": "Template to map fields of ApplicationDataTransfer resource.",
      "id": "ApplicationDataTransfer"
    }
  },
  "description": "Admin SDK lets administrators of enterprise domains to view and manage resources like user, groups etc. It also provides audit and usage reports of domain.",
  "title": "Admin SDK API",
  "kind": "discovery#restDescription",
  "packagePath": "admin",
  "parameters": {
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    }
  },
  "ownerName": "Google",
  "version": "datatransfer_v1"
}