{
  "discoveryVersion": "v1",
  "documentationLink": "https://developers.google.com/workspace/admin/",
  "mtlsRootUrl": "https://admin.mtls.googleapis.com/",
  "batchPath": "batch",
  "fullyEncodeReservedExpansion": true,
  "schemas": {
    "User": {
      "description": "The Directory API allows you to create and manage your account's users, user aliases, and user Google profile photos. For more information about common tasks, see the [User Accounts Developer's Guide](https://developers.google.com/workspace/admin/directory/v1/guides/manage-users.html) and the [User Aliases Developer's Guide](https://developers.google.com/workspace/admin/directory/v1/guides/manage-user-aliases.html).",
      "properties": {
        "emails": {
          "type": "any",
          "description": "The list of the user's email addresses. The maximum allowed data size for this field is 10KB. This excludes `publicKeyEncryptionCertificates`."
        },
        "sshPublicKeys": {
          "description": "A list of SSH public keys.",
          "type": "any"
        },
        "ims": {
          "description": "The list of the user's Instant Messenger (IM) accounts. A user account can have multiple ims properties. But, only one of these ims properties can be the primary IM contact. The maximum allowed data size for this field is 2KB.",
          "type": "any"
        },
        "isAdmin": {
          "type": "boolean",
          "description": "Output only. Indicates a user with super administrator privileges. The `isAdmin` property can only be edited in the [Make a user an administrator](https://developers.google.com/workspace/admin/directory/v1/guides/manage-users.html#make_admin) operation ( [makeAdmin](https://developers.google.com/workspace/admin/directory/v1/reference/users/makeAdmin.html) method). If edited in the user [insert](https://developers.google.com/workspace/admin/directory/v1/reference/users/insert.html) or [update](https://developers.google.com/workspace/admin/directory/v1/reference/users/update.html) methods, the edit is ignored by the API service.",
          "readOnly": true
        },
        "kind": {
          "readOnly": true,
          "default": "admin#directory#user",
          "type": "string",
          "description": "Output only. The type of the API resource. For Users resources, the value is `admin#directory#user`."
        },
        "isMailboxSetup": {
          "description": "Output only. Indicates if the user's Google mailbox is created. This property is only applicable if the user has been assigned a Gmail license.",
          "type": "boolean",
          "readOnly": true
        },
        "suspensionTime": {
          "description": "Output only. User's account suspension time. (Read-only)",
          "type": "string",
          "readOnly": true
        },
        "notes": {
          "type": "any",
          "description": "Notes for the user."
        },
        "customSchemas": {
          "type": "object",
          "description": "Custom fields of the user. The key is a `schema_name` and its values are `'field_name': 'field_value'`.",
          "additionalProperties": {
            "$ref": "UserCustomProperties"
          }
        },
        "archivalTime": {
          "type": "string",
          "description": "Output only. User's account archival time. (Read-only)",
          "readOnly": true
        },
        "relations": {
          "type": "any",
          "description": "The list of the user's relationships to other users. The maximum allowed data size for this field is 2KB."
        },
        "gender": {
          "type": "any",
          "description": "The user's gender. The maximum allowed data size for this field is 1KB."
        },
        "keywords": {
          "type": "any",
          "description": "The list of the user's keywords. The maximum allowed data size for this field is 1KB."
        },
        "ipWhitelisted": {
          "description": "If `true`, the user's IP address is subject to a deprecated IP address [`allowlist`](https://support.google.com/a/answer/60752) configuration.",
          "type": "boolean"
        },
        "addresses": {
          "type": "any",
          "description": "The list of the user's addresses. The maximum allowed data size for this field is 10KB."
        },
        "suspensionReason": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Has the reason a user account is suspended either by the administrator or by Google at the time of suspension. The property is returned only if the `suspended` property is `true`."
        },
        "phones": {
          "description": "The list of the user's phone numbers. The maximum allowed data size for this field is 1KB.",
          "type": "any"
        },
        "aliases": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. The list of the user's alias email addresses.",
          "type": "array"
        },
        "locations": {
          "description": "The user's locations. The maximum allowed data size for this field is 10KB.",
          "type": "any"
        },
        "isDelegatedAdmin": {
          "type": "boolean",
          "description": "Output only. Indicates if the user is a delegated administrator. Delegated administrators are supported by the API but cannot create or undelete users, or make users administrators. These requests are ignored by the API service. Roles and privileges for administrators are assigned using the [Admin console](https://support.google.com/a/answer/33325).",
          "readOnly": true
        },
        "creationTime": {
          "type": "string",
          "readOnly": true,
          "description": "User's G Suite account creation time. (Read-only)",
          "format": "date-time"
        },
        "thumbnailPhotoEtag": {
          "description": "Output only. ETag of the user's photo (Read-only)",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Holds the given and family names of the user, and the read-only `fullName` value. The maximum number of characters in the `givenName` and in the `familyName` values is 60. In addition, name values support unicode/UTF-8 characters, and can contain spaces, letters (a-z), numbers (0-9), dashes (-), forward slashes (/), and periods (.). For more information about character usage rules, see the [administration help center](https://support.google.com/a/answer/9193374). Maximum allowed data size for this field is 1KB.",
          "$ref": "UserName",
          "annotations": {
            "required": [
              "directory.users.insert"
            ]
          }
        },
        "orgUnitPath": {
          "type": "string",
          "description": "The full path of the parent organization associated with the user. If the parent organization is the top-level, it is represented as a forward slash (`/`)."
        },
        "thumbnailPhotoUrl": {
          "type": "string",
          "description": "Output only. The URL of the user's profile photo. The URL might be temporary or private.",
          "readOnly": true
        },
        "isEnrolledIn2Sv": {
          "readOnly": true,
          "description": "Output only. Is enrolled in 2-step verification (Read-only)",
          "type": "boolean"
        },
        "agreedToTerms": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. This property is `true` if the user has completed an initial login and accepted the Terms of Service agreement."
        },
        "languages": {
          "description": "The user's languages. The maximum allowed data size for this field is 1KB.",
          "type": "any"
        },
        "deletionTime": {
          "readOnly": true,
          "format": "date-time",
          "type": "string"
        },
        "isEnforcedIn2Sv": {
          "description": "Output only. Is 2-step verification enforced (Read-only)",
          "type": "boolean",
          "readOnly": true
        },
        "nonEditableAliases": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. The list of the user's non-editable alias email addresses. These are typically outside the account's primary domain or sub-domain.",
          "type": "array"
        },
        "websites": {
          "type": "any",
          "description": "The user's websites. The maximum allowed data size for this field is 2KB."
        },
        "etag": {
          "description": "Output only. ETag of the resource.",
          "type": "string",
          "readOnly": true
        },
        "primaryEmail": {
          "type": "string",
          "annotations": {
            "required": [
              "directory.users.insert"
            ]
          },
          "description": "The user's primary email address. This property is required in a request to create a user account. The `primaryEmail` must be unique and cannot be an alias of another user."
        },
        "hashFunction": {
          "description": "Stores the hash format of the `password` property. The following `hashFunction` values are allowed: * `MD5` - Accepts simple hex-encoded values. * `SHA-1` - Accepts simple hex-encoded values. * `crypt` - Compliant with the [C crypt library](https://en.wikipedia.org/wiki/Crypt_%28C%29). Supports the DES, MD5 (hash prefix `$1$`), SHA-256 (hash prefix `$5$`), and SHA-512 (hash prefix `$6$`) hash algorithms. If rounds are specified as part of the prefix, they must be 10,000 or fewer.",
          "type": "string"
        },
        "organizations": {
          "description": "The list of organizations the user belongs to. The maximum allowed data size for this field is 10KB.",
          "type": "any"
        },
        "lastLoginTime": {
          "description": "User's last login time. (Read-only)",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "id": {
          "description": "The unique ID for the user. A user `id` can be used as a user request URI's `userKey`.",
          "type": "string"
        },
        "isGuestUser": {
          "description": "Immutable. Indicates if the inserted user is a guest.",
          "type": "boolean"
        },
        "guestAccountInfo": {
          "$ref": "GuestAccountInfo",
          "description": "Immutable. Additional guest-related metadata fields"
        },
        "externalIds": {
          "description": "The list of external IDs for the user, such as an employee or network ID. The maximum allowed data size for this field is 2KB.",
          "type": "any"
        },
        "changePasswordAtNextLogin": {
          "type": "boolean",
          "description": "Indicates if the user is forced to change their password at next login. This setting doesn't apply when [the user signs in via a third-party identity provider](https://support.google.com/a/answer/60224)."
        },
        "customerId": {
          "description": "Output only. The customer ID to [retrieve all account users](https://developers.google.com/workspace/admin/directory/v1/guides/manage-users.html#get_all_users). You can use the alias `my_customer` to represent your account's `customerId`. As a reseller administrator, you can use the resold customer account's `customerId`. To get a `customerId`, use the account's primary domain in the `domain` parameter of a [users.list](https://developers.google.com/workspace/admin/directory/v1/reference/users/list) request.",
          "type": "string",
          "readOnly": true
        },
        "posixAccounts": {
          "type": "any",
          "description": "The list of [POSIX](https://www.opengroup.org/austin/papers/posix_faq.html) account information for the user."
        },
        "recoveryEmail": {
          "type": "string",
          "description": "Recovery email of the user."
        },
        "archived": {
          "type": "boolean",
          "description": "Indicates if user is archived."
        },
        "includeInGlobalAddressList": {
          "description": "Indicates if the user's profile is visible in the Google Workspace global address list when the contact sharing feature is enabled for the domain. For more information about excluding user profiles, see the [administration help center](https://support.google.com/a/answer/1285988).",
          "type": "boolean"
        },
        "recoveryPhone": {
          "type": "string",
          "description": "Recovery phone of the user. The phone number must be in the E.164 format, starting with the plus sign (+). Example: *+16506661212*."
        },
        "suspended": {
          "type": "boolean",
          "description": "Indicates if user is suspended."
        },
        "password": {
          "description": "User's password",
          "annotations": {
            "required": [
              "directory.users.insert"
            ]
          },
          "type": "string"
        }
      },
      "type": "object",
      "id": "User"
    },
    "UserAlias": {
      "description": "The Directory API manages aliases, which are alternative email addresses.",
      "type": "object",
      "properties": {
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "alias": {
          "type": "string",
          "description": "The alias email address."
        },
        "primaryEmail": {
          "description": "The user's primary email address.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "The type of the API resource. For Alias resources, the value is `admin#directory#alias`."
        },
        "id": {
          "type": "string",
          "description": "The unique ID for the user."
        }
      },
      "id": "UserAlias"
    },
    "RoleAssignments": {
      "type": "object",
      "id": "RoleAssignments",
      "properties": {
        "items": {
          "items": {
            "$ref": "RoleAssignment"
          },
          "type": "array",
          "description": "A list of RoleAssignment resources."
        },
        "nextPageToken": {
          "type": "string"
        },
        "kind": {
          "default": "admin#directory#roleAssignments",
          "description": "The type of the API resource. This is always `admin#directory#roleAssignments`.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        }
      }
    },
    "ChromeOsDevice": {
      "properties": {
        "deviceLicenseType": {
          "readOnly": true,
          "description": "Output only. Device license type.",
          "type": "string",
          "enum": [
            "deviceLicenseTypeUnspecified",
            "enterprise",
            "enterpriseUpgrade",
            "educationUpgrade",
            "education",
            "kioskUpgrade",
            "enterpriseUpgradePerpetual",
            "enterpriseUpgradeFixedTerm",
            "educationUpgradePerpetual",
            "educationUpgradeFixedTerm"
          ],
          "enumDescriptions": [
            "The license type is unknown.",
            "The device is bundled with a perpetual Chrome Enterprise Upgrade.",
            "The device has an annual standalone Chrome Enterprise Upgrade.",
            "The device has a perpetual standalone Chrome Education Upgrade.",
            "The device is bundled with a perpetual Chrome Education Upgrade.",
            "The device has an annual Kiosk Upgrade.",
            "Indicates that the device is consuming a standalone, perpetual Chrome Enterprise Upgrade, a Chrome Enterprise license.",
            "Indicates that the device is consuming a standalone, fixed-term Chrome Enterprise Upgrade, a Chrome Enterprise license.",
            "Indicates that the device is consuming a standalone, perpetual Chrome Education Upgrade(AKA Chrome EDU perpetual license).",
            "Indicates that the device is consuming a standalone, fixed-term Chrome Education Upgrade(AKA Chrome EDU fixed-term license)."
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            true,
            false,
            false,
            false,
            false,
            false,
            false
          ]
        },
        "firstEnrollmentTime": {
          "description": "Date and time for the first time the device was enrolled.",
          "type": "string"
        },
        "lastKnownNetwork": {
          "description": "Contains last known network (Read-only)",
          "type": "array",
          "items": {
            "type": "object",
            "description": "Information for an ip address.",
            "properties": {
              "ipAddress": {
                "description": "The IP address.",
                "type": "string"
              },
              "wanIpAddress": {
                "type": "string",
                "description": "The WAN IP address."
              }
            }
          }
        },
        "recentUsers": {
          "items": {
            "description": "A list of recent device users, in descending order, by last login time.",
            "type": "object",
            "properties": {
              "email": {
                "type": "string",
                "description": "The user's email address. This is only present if the user type is `USER_TYPE_MANAGED`."
              },
              "type": {
                "type": "string",
                "description": "The type of the user."
              }
            }
          },
          "description": "A list of recent device users, in descending order, by last login time.",
          "type": "array"
        },
        "tpmVersionInfo": {
          "type": "object",
          "description": "Trusted Platform Module (TPM) (Read-only)",
          "properties": {
            "tpmModel": {
              "description": "TPM model number.",
              "type": "string"
            },
            "family": {
              "description": "TPM family. We use the TPM 2.0 style encoding, e.g.: TPM 1.2: \"1.2\" -> 312e3200 TPM 2.0: \"2.0\" -> 322e3000",
              "type": "string"
            },
            "firmwareVersion": {
              "type": "string",
              "description": "TPM firmware version."
            },
            "specLevel": {
              "type": "string",
              "description": "TPM specification level. See Library Specification for TPM 2.0 and Main Specification for TPM 1.2."
            },
            "vendorSpecific": {
              "type": "string",
              "description": "Vendor-specific information such as Vendor ID."
            },
            "manufacturer": {
              "description": "TPM manufacturer code.",
              "type": "string"
            }
          }
        },
        "dockMacAddress": {
          "description": "(Read-only) Built-in MAC address for the docking station that the device connected to. Factory sets Media access control address (MAC address) assigned for use by a dock. It is reserved specifically for MAC pass through device policy. The format is twelve (12) hexadecimal digits without any delimiter (uppercase letters). This is only relevant for some devices.",
          "type": "string"
        },
        "diskSpaceUsage": {
          "readOnly": true,
          "$ref": "ByteUsage",
          "description": "Output only. How much disk space the device has available and is currently using."
        },
        "autoUpdateExpiration": {
          "format": "int64",
          "type": "string",
          "description": "(Read-only) The timestamp after which the device will stop receiving Chrome updates or support. Please use \"autoUpdateThrough\" instead.",
          "deprecated": true
        },
        "annotatedLocation": {
          "description": "The address or location of the device as noted by the administrator. Maximum length is `200` characters. Empty values are allowed.",
          "type": "string"
        },
        "willAutoRenew": {
          "description": "Determines if the device will auto renew its support after the support end date. This is a read-only property.",
          "type": "boolean"
        },
        "deprovisionReason": {
          "enumDescriptions": [
            "The deprovision reason is unknown.",
            "Same model replacement. You have return materials authorization (RMA) or you are replacing a malfunctioning device under warranty with the same device model.",
            "The device was upgraded.",
            "The device's domain was changed.",
            "Service expired for the device.",
            "The device was deprovisioned for a legacy reason that is no longer supported.",
            "Different model replacement. You are replacing this device with an upgraded or newer device model.",
            "Retiring from fleet. You are donating, discarding, or otherwise removing the device from use.",
            "ChromeOS Flex upgrade transfer. This is a ChromeOS Flex device that you are replacing with a Chromebook within a year.",
            "A reason was not required. For example, the licenses were returned to the customer's license pool.",
            "The device was deprovisioned by the Repair Service Center. Can only be set by Repair Service Center during RMA."
          ],
          "description": "(Read-only) Deprovision reason.",
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            true,
            true,
            true,
            true,
            false,
            false,
            false,
            false,
            false
          ],
          "enum": [
            "DEPROVISION_REASON_UNSPECIFIED",
            "DEPROVISION_REASON_SAME_MODEL_REPLACEMENT",
            "DEPROVISION_REASON_UPGRADE",
            "DEPROVISION_REASON_DOMAIN_MOVE",
            "DEPROVISION_REASON_SERVICE_EXPIRATION",
            "DEPROVISION_REASON_OTHER",
            "DEPROVISION_REASON_DIFFERENT_MODEL_REPLACEMENT",
            "DEPROVISION_REASON_RETIRING_DEVICE",
            "DEPROVISION_REASON_UPGRADE_TRANSFER",
            "DEPROVISION_REASON_NOT_REQUIRED",
            "DEPROVISION_REASON_REPAIR_CENTER"
          ]
        },
        "ethernetMacAddress0": {
          "description": "(Read-only) MAC address used by the Chromebook’s internal ethernet port, and for onboard network (ethernet) interface. The format is twelve (12) hexadecimal digits without any delimiter (uppercase letters). This is only relevant for some devices.",
          "type": "string"
        },
        "orgUnitId": {
          "description": "The unique ID of the organizational unit. orgUnitPath is the human readable version of orgUnitId. While orgUnitPath may change by renaming an organizational unit within the path, orgUnitId is unchangeable for one organizational unit. This property can be [updated](https://developers.google.com/workspace/admin/directory/v1/guides/manage-chrome-devices#move_chrome_devices_to_ou) using the API. For more information about how to create an organizational structure for your device, see the [administration help center](https://support.google.com/a/answer/182433).",
          "type": "string"
        },
        "extendedSupportEligible": {
          "description": "Output only. Whether or not the device requires the extended support opt in.",
          "type": "boolean",
          "readOnly": true
        },
        "orgUnitPath": {
          "description": "The full parent path with the organizational unit's name associated with the device. Path names are case insensitive. If the parent organizational unit is the top-level organization, it is represented as a forward slash, `/`. This property can be [updated](https://developers.google.com/workspace/admin/directory/v1/guides/manage-chrome-devices#move_chrome_devices_to_ou) using the API. For more information about how to create an organizational structure for your device, see the [administration help center](https://support.google.com/a/answer/182433).",
          "type": "string"
        },
        "systemRamTotal": {
          "format": "int64",
          "description": "Total RAM on the device [in bytes] (Read-only)",
          "type": "string"
        },
        "deviceFiles": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "createTime": {
                "type": "string",
                "format": "date-time",
                "description": "Date and time the file was created"
              },
              "type": {
                "description": "File type",
                "type": "string"
              },
              "name": {
                "type": "string",
                "description": "File name"
              },
              "downloadUrl": {
                "description": "File download URL",
                "type": "string"
              }
            }
          },
          "description": "A list of device files to download (Read-only)"
        },
        "ethernetMacAddress": {
          "description": "The device's MAC address on the ethernet network interface.",
          "type": "string"
        },
        "supportEndDate": {
          "type": "string",
          "description": "Final date the device will be supported (Read-only)",
          "format": "date-time"
        },
        "manufactureDate": {
          "description": "(Read-only) The date the device was manufactured in yyyy-mm-dd format.",
          "type": "string"
        },
        "deviceId": {
          "description": "The unique ID of the Chrome device.",
          "type": "string"
        },
        "diskVolumeReports": {
          "items": {
            "type": "object",
            "properties": {
              "volumeInfo": {
                "type": "array",
                "items": {
                  "properties": {
                    "storageTotal": {
                      "format": "int64",
                      "type": "string",
                      "description": "Total disk space [in bytes]"
                    },
                    "volumeId": {
                      "description": "Volume id",
                      "type": "string"
                    },
                    "storageFree": {
                      "description": "Free disk space [in bytes]",
                      "type": "string",
                      "format": "int64"
                    }
                  },
                  "type": "object"
                },
                "description": "Disk volumes"
              }
            }
          },
          "type": "array",
          "description": "Reports of disk space and other info about mounted/connected volumes."
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "cpuStatusReports": {
          "description": "Reports of CPU utilization and temperature (Read-only)",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "reportTime": {
                "format": "date-time",
                "type": "string",
                "description": "Date and time the report was received."
              },
              "cpuUtilizationPercentageInfo": {
                "items": {
                  "format": "int32",
                  "type": "integer"
                },
                "type": "array"
              },
              "cpuTemperatureInfo": {
                "description": "A list of CPU temperature samples.",
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "label": {
                      "type": "string",
                      "description": "CPU label"
                    },
                    "temperature": {
                      "description": "Temperature in Celsius degrees.",
                      "type": "integer",
                      "format": "int32"
                    }
                  }
                }
              }
            }
          }
        },
        "systemRamFreeReports": {
          "description": "Reports of amounts of available RAM memory (Read-only)",
          "items": {
            "type": "object",
            "properties": {
              "systemRamFreeInfo": {
                "items": {
                  "type": "string",
                  "format": "int64"
                },
                "type": "array"
              },
              "reportTime": {
                "type": "string",
                "description": "Date and time the report was received.",
                "format": "date-time"
              }
            }
          },
          "type": "array"
        },
        "backlightInfo": {
          "readOnly": true,
          "items": {
            "$ref": "BacklightInfo"
          },
          "description": "Output only. Contains backlight information for the device.",
          "type": "array"
        },
        "lastDeprovisionTimestamp": {
          "type": "string",
          "description": "(Read-only) Date and time for the last deprovision of the device."
        },
        "status": {
          "description": "The status of the device.",
          "type": "string"
        },
        "annotatedAssetId": {
          "description": "The asset identifier as noted by an administrator or specified during enrollment.",
          "type": "string"
        },
        "meid": {
          "type": "string",
          "description": "The Mobile Equipment Identifier (MEID) or the International Mobile Equipment Identity (IMEI) for the 3G mobile card in a mobile device. A MEID/IMEI is typically used when adding a device to a wireless carrier's post-pay service plan. If the device does not have this information, this property is not included in the response. For more information on how to export a MEID/IMEI list, see the [Developer's Guide](https://developers.google.com/workspace/admin/directory/v1/guides/manage-chrome-devices.html#export_meid)."
        },
        "orderNumber": {
          "description": "The device's order number. Only devices directly purchased from Google have an order number.",
          "type": "string"
        },
        "lastEnrollmentTime": {
          "description": "Date and time the device was last enrolled (Read-only)",
          "type": "string",
          "format": "date-time"
        },
        "lastSync": {
          "format": "date-time",
          "description": "Date and time the device was last synchronized with the policy settings in the G Suite administrator control panel (Read-only)",
          "type": "string"
        },
        "serialNumber": {
          "description": "The Chrome device serial number entered when the device was enabled. This value is the same as the Admin console's *Serial Number* in the *Chrome OS Devices* tab.",
          "type": "string"
        },
        "firmwareVersion": {
          "description": "The Chrome device's firmware version.",
          "type": "string"
        },
        "screenshotFiles": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "type": {
                "description": "File type",
                "type": "string"
              },
              "createTime": {
                "description": "Date and time the file was created",
                "type": "string",
                "format": "date-time"
              },
              "name": {
                "type": "string",
                "description": "File name"
              },
              "downloadUrl": {
                "type": "string",
                "description": "File download URL"
              }
            }
          },
          "description": "A list of screenshot files to download. Type is always \"SCREENSHOT_FILE\". (Read-only)"
        },
        "extendedSupportStart": {
          "description": "Output only. Date of the device when extended support policy for automatic updates starts.",
          "type": "string",
          "readOnly": true
        },
        "cpuInfo": {
          "type": "array",
          "items": {
            "description": "CPU specs for a CPU.",
            "type": "object",
            "properties": {
              "maxClockSpeedKhz": {
                "format": "int32",
                "type": "integer",
                "description": "The max CPU clock speed in kHz."
              },
              "model": {
                "description": "The CPU model name.",
                "type": "string"
              },
              "architecture": {
                "description": "The CPU architecture.",
                "type": "string"
              },
              "logicalCpus": {
                "description": "Information for the Logical CPUs",
                "type": "array",
                "items": {
                  "type": "object",
                  "description": "Status of a single logical CPU.",
                  "properties": {
                    "idleDuration": {
                      "type": "string",
                      "description": "Idle time since last boot.",
                      "format": "google-duration"
                    },
                    "maxScalingFrequencyKhz": {
                      "description": "Maximum frequency the CPU is allowed to run at, by policy.",
                      "format": "int32",
                      "type": "integer"
                    },
                    "cStates": {
                      "items": {
                        "description": "Status of a single C-state. C-states are various modes the CPU can transition to in order to use more or less power.",
                        "properties": {
                          "sessionDuration": {
                            "type": "string",
                            "description": "Time spent in the state since the last reboot.",
                            "format": "google-duration"
                          },
                          "displayName": {
                            "type": "string",
                            "description": "Name of the state."
                          }
                        },
                        "type": "object"
                      },
                      "type": "array",
                      "description": "C-States indicate the power consumption state of the CPU. For more information look at documentation published by the CPU maker."
                    },
                    "currentScalingFrequencyKhz": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Current frequency the CPU is running at."
                    }
                  }
                }
              }
            }
          },
          "description": "Information regarding CPU specs in the device."
        },
        "extendedSupportEnabled": {
          "description": "Output only. Whether extended support policy is enabled on the device.",
          "type": "boolean",
          "readOnly": true
        },
        "model": {
          "description": "The device's model information. If the device does not have this information, this property is not included in the response.",
          "type": "string"
        },
        "autoUpdateThrough": {
          "description": "Output only. The timestamp after which the device will stop receiving Chrome updates or support.",
          "type": "string",
          "readOnly": true
        },
        "chromeOsType": {
          "description": "Output only. Chrome OS type of the device.",
          "type": "string",
          "enum": [
            "chromeOsTypeUnspecified",
            "chromeOsFlex",
            "chromeOs"
          ],
          "enumDescriptions": [
            "Chrome OS Type unspecified.",
            "Chrome OS Type Chrome OS Flex.",
            "Chrome OS Type Chrome OS."
          ],
          "readOnly": true
        },
        "osVersionCompliance": {
          "readOnly": true,
          "description": "Output only. Device policy compliance status of the OS version.",
          "enumDescriptions": [
            "Compliance status unspecified.",
            "Compliance status compliant.",
            "Compliance status pending.",
            "Compliance status not compliant."
          ],
          "type": "string",
          "enum": [
            "complianceUnspecified",
            "compliant",
            "pending",
            "notCompliant"
          ]
        },
        "fanInfo": {
          "type": "array",
          "description": "Output only. Fan information for the device.",
          "readOnly": true,
          "items": {
            "$ref": "FanInfo"
          }
        },
        "osUpdateStatus": {
          "$ref": "OsUpdateStatus",
          "description": "The status of the OS updates for the device."
        },
        "platformVersion": {
          "type": "string",
          "description": "The Chrome device's platform version."
        },
        "osVersion": {
          "description": "The Chrome device's operating system version.",
          "type": "string"
        },
        "kind": {
          "description": "The type of resource. For the Chromeosdevices resource, the value is `admin#directory#chromeosdevice`.",
          "type": "string",
          "default": "admin#directory#chromeosdevice"
        },
        "macAddress": {
          "description": "The device's wireless MAC address. If the device does not have this information, it is not included in the response.",
          "type": "string"
        },
        "notes": {
          "type": "string",
          "description": "Notes about this device added by the administrator. This property can be [searched](https://support.google.com/chrome/a/answer/1698333) with the [list](https://developers.google.com/workspace/admin/directory/v1/reference/chromeosdevices/list) method's `query` parameter. Maximum length is 500 characters. Empty values are allowed."
        },
        "bluetoothAdapterInfo": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. Information about Bluetooth adapters of the device.",
          "items": {
            "$ref": "BluetoothAdapterInfo"
          }
        },
        "annotatedUser": {
          "description": "The user of the device as noted by the administrator. Maximum length is 100 characters. Empty values are allowed.",
          "type": "string"
        },
        "activeTimeRanges": {
          "items": {
            "properties": {
              "activeTime": {
                "format": "int32",
                "description": "Duration of usage in milliseconds.",
                "type": "integer"
              },
              "date": {
                "description": "Date of usage",
                "format": "date",
                "type": "string"
              }
            },
            "type": "object"
          },
          "type": "array",
          "description": "A list of active time ranges (Read-only)."
        },
        "bootMode": {
          "type": "string",
          "description": "The boot mode for the device. The possible values are: * `Verified`: The device is running a valid version of the Chrome OS. * `Dev`: The devices's developer hardware switch is enabled. When booted, the device has a command line shell. For an example of a developer switch, see the [Chromebook developer information](https://www.chromium.org/chromium-os/developer-information-for-chrome-os-devices/samsung-series-5-chromebook#TOC-Developer-switch)."
        }
      },
      "description": "Google Chrome devices run on the [Chrome OS](https://support.google.com/chromeos). For more information about common API tasks, see the [Developer's Guide](https://developers.google.com/workspace/admin/directory/v1/guides/manage-chrome-devices).",
      "id": "ChromeOsDevice",
      "type": "object"
    },
    "DirectoryChromeosdevicesCommandResult": {
      "properties": {
        "commandResultPayload": {
          "type": "string",
          "description": "The payload for the command result. The following commands respond with a payload: * `DEVICE_START_CRD_SESSION`: Payload is a stringified JSON object in the form: { \"url\": url }. The provided URL links to the Chrome Remote Desktop session and requires authentication using only the `email` associated with the command's issuance. * `FETCH_CRD_AVAILABILITY_INFO`: Payload is a stringified JSON object in the form: { \"deviceIdleTimeInSeconds\": number, \"userSessionType\": string, \"remoteSupportAvailability\": string, \"remoteAccessAvailability\": string }. The \"remoteSupportAvailability\" field is set to \"AVAILABLE\" if `shared` CRD session to the device is available. The \"remoteAccessAvailability\" field is set to \"AVAILABLE\" if `private` CRD session to the device is available."
        },
        "errorMessage": {
          "description": "The error message with a short explanation as to why the command failed. Only present if the command failed.",
          "type": "string"
        },
        "executeTime": {
          "description": "The time at which the command was executed or failed to execute.",
          "format": "google-datetime",
          "type": "string"
        },
        "result": {
          "enum": [
            "COMMAND_RESULT_TYPE_UNSPECIFIED",
            "IGNORED",
            "FAILURE",
            "SUCCESS"
          ],
          "enumDescriptions": [
            "The command result was unspecified.",
            "The command was ignored as obsolete.",
            "The command could not be executed successfully.",
            "The command was successfully executed."
          ],
          "description": "The result of the command.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The result of executing a command.",
      "id": "DirectoryChromeosdevicesCommandResult"
    },
    "DirectoryUsersCreateGuestRequest": {
      "id": "DirectoryUsersCreateGuestRequest",
      "type": "object",
      "description": "Directory users guest creation request message.",
      "properties": {
        "primaryGuestEmail": {
          "description": "Required. External email of the guest user being created.",
          "type": "string"
        },
        "customer": {
          "description": "Optional. Immutable ID of the Google Workspace account. Only required when request is created by a service account. Defaults to the authenticated user's customer ID otherwise.",
          "type": "string"
        }
      }
    },
    "Privileges": {
      "id": "Privileges",
      "properties": {
        "items": {
          "items": {
            "$ref": "Privilege"
          },
          "type": "array",
          "description": "A list of Privilege resources."
        },
        "kind": {
          "default": "admin#directory#privileges",
          "description": "The type of the API resource. This is always `admin#directory#privileges`.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        }
      },
      "type": "object"
    },
    "DomainAlias": {
      "type": "object",
      "properties": {
        "domainAliasName": {
          "type": "string",
          "description": "The domain alias name."
        },
        "verified": {
          "description": "Indicates the verification state of a domain alias. (Read-only)",
          "type": "boolean"
        },
        "kind": {
          "type": "string",
          "description": "Kind of resource this is.",
          "default": "admin#directory#domainAlias"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "parentDomainName": {
          "annotations": {
            "required": [
              "directory.domains.insert"
            ]
          },
          "type": "string",
          "description": "The parent domain name that the domain alias is associated with. This can either be a primary or secondary domain name within a customer."
        },
        "creationTime": {
          "description": "The creation time of the domain alias. (Read-only).",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "DomainAlias"
    },
    "UserLocation": {
      "description": "JSON template for a location entry.",
      "id": "UserLocation",
      "properties": {
        "type": {
          "type": "string",
          "description": "Each entry can have a type which indicates standard types of that entry. For example location could be of types default and desk. In addition to standard type an entry can have a custom type and can give it any name. Such types should have 'custom' as type and also have a customType value."
        },
        "customType": {
          "type": "string",
          "description": "Custom Type."
        },
        "floorSection": {
          "description": "Floor section. More specific location within the floor. For example if a floor is divided into sections 'A', 'B' and 'C' this field would identify one of those values.",
          "type": "string"
        },
        "deskCode": {
          "type": "string",
          "description": "Most specific textual code of individual desk location."
        },
        "buildingId": {
          "description": "Building Identifier.",
          "type": "string"
        },
        "floorName": {
          "type": "string",
          "description": "Floor name/number."
        },
        "area": {
          "type": "string",
          "description": "Required. Textual location. This is most useful for display purposes to concisely describe the location. For example 'Mountain View, CA', 'Near Seattle', 'US-NYC-9TH 9A209A.''"
        }
      },
      "type": "object"
    },
    "ListPrintServersResponse": {
      "type": "object",
      "properties": {
        "printServers": {
          "description": "List of print servers.",
          "type": "array",
          "items": {
            "$ref": "PrintServer"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` in a request to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListPrintServersResponse"
    },
    "SchemaFieldSpec": {
      "id": "SchemaFieldSpec",
      "type": "object",
      "description": "You can use schemas to add custom fields to user profiles. You can use these fields to store information such as the projects your users work on, their physical locations, their hire dates, or whatever else fits your business needs. For more information, see [Custom User Fields](https://developers.google.com/workspace/admin/directory/v1/guides/manage-schemas).",
      "properties": {
        "fieldType": {
          "annotations": {
            "required": [
              "directory.schemas.insert",
              "directory.schemas.update"
            ]
          },
          "type": "string",
          "description": "The type of the field."
        },
        "indexed": {
          "description": "Boolean specifying whether the field is indexed or not. Default: `true`.",
          "type": "boolean",
          "default": "true"
        },
        "numericIndexingSpec": {
          "description": "Indexing spec for a numeric field. By default, only exact match queries will be supported for numeric fields. Setting the `numericIndexingSpec` allows range queries to be supported.",
          "type": "object",
          "properties": {
            "maxValue": {
              "type": "number",
              "format": "double",
              "description": "Maximum value of this field. This is meant to be indicative rather than enforced. Values outside this range will still be indexed, but search may not be as performant."
            },
            "minValue": {
              "description": "Minimum value of this field. This is meant to be indicative rather than enforced. Values outside this range will still be indexed, but search may not be as performant.",
              "format": "double",
              "type": "number"
            }
          }
        },
        "multiValued": {
          "description": "A boolean specifying whether this is a multi-valued field or not. Default: `false`.",
          "type": "boolean"
        },
        "etag": {
          "description": "The ETag of the field.",
          "type": "string"
        },
        "readAccessType": {
          "description": "Specifies who can view values of this field. See [Retrieve users as a non-administrator](https://developers.google.com/workspace/admin/directory/v1/guides/manage-users#retrieve_users_non_admin) for more information. Note: It may take up to 24 hours for changes to this field to be reflected.",
          "default": "ALL_DOMAIN_USERS",
          "type": "string"
        },
        "fieldId": {
          "type": "string",
          "description": "The unique identifier of the field (Read-only)"
        },
        "kind": {
          "default": "admin#directory#schema#fieldspec",
          "description": "The kind of resource this is. For schema fields this is always `admin#directory#schema#fieldspec`.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "annotations": {
            "required": [
              "directory.schemas.insert",
              "directory.schemas.update"
            ]
          },
          "description": "Display Name of the field."
        },
        "fieldName": {
          "type": "string",
          "description": "The name of the field.",
          "annotations": {
            "required": [
              "directory.schemas.insert",
              "directory.schemas.update"
            ]
          }
        }
      }
    },
    "FailureInfo": {
      "id": "FailureInfo",
      "type": "object",
      "properties": {
        "errorMessage": {
          "description": "Failure reason message.",
          "type": "string"
        },
        "printerId": {
          "type": "string",
          "description": "Id of a failed printer."
        },
        "printer": {
          "$ref": "Printer",
          "description": "Failed printer."
        },
        "errorCode": {
          "enum": [
            "OK",
            "CANCELLED",
            "UNKNOWN",
            "INVALID_ARGUMENT",
            "DEADLINE_EXCEEDED",
            "NOT_FOUND",
            "ALREADY_EXISTS",
            "PERMISSION_DENIED",
            "UNAUTHENTICATED",
            "RESOURCE_EXHAUSTED",
            "FAILED_PRECONDITION",
            "ABORTED",
            "OUT_OF_RANGE",
            "UNIMPLEMENTED",
            "INTERNAL",
            "UNAVAILABLE",
            "DATA_LOSS"
          ],
          "description": "Canonical code for why the update failed to apply.",
          "enumDescriptions": [
            "Not an error; returned on success. HTTP Mapping: 200 OK",
            "The operation was cancelled, typically by the caller. HTTP Mapping: 499 Client Closed Request",
            "Unknown error. For example, this error may be returned when a `Status` value received from another address space belongs to an error space that is not known in this address space. Also errors raised by APIs that do not return enough error information may be converted to this error. HTTP Mapping: 500 Internal Server Error",
            "The client specified an invalid argument. Note that this differs from `FAILED_PRECONDITION`. `INVALID_ARGUMENT` indicates arguments that are problematic regardless of the state of the system (e.g., a malformed file name). HTTP Mapping: 400 Bad Request",
            "The deadline expired before the operation could complete. For operations that change the state of the system, this error may be returned even if the operation has completed successfully. For example, a successful response from a server could have been delayed long enough for the deadline to expire. HTTP Mapping: 504 Gateway Timeout",
            "Some requested entity (e.g., file or directory) was not found. Note to server developers: if a request is denied for an entire class of users, such as gradual feature rollout or undocumented allowlist, `NOT_FOUND` may be used. If a request is denied for some users within a class of users, such as user-based access control, `PERMISSION_DENIED` must be used. HTTP Mapping: 404 Not Found",
            "The entity that a client attempted to create (e.g., file or directory) already exists. HTTP Mapping: 409 Conflict",
            "The caller does not have permission to execute the specified operation. `PERMISSION_DENIED` must not be used for rejections caused by exhausting some resource (use `RESOURCE_EXHAUSTED` instead for those errors). `PERMISSION_DENIED` must not be used if the caller can not be identified (use `UNAUTHENTICATED` instead for those errors). This error code does not imply the request is valid or the requested entity exists or satisfies other pre-conditions. HTTP Mapping: 403 Forbidden",
            "The request does not have valid authentication credentials for the operation. HTTP Mapping: 401 Unauthorized",
            "Some resource has been exhausted, perhaps a per-user quota, or perhaps the entire file system is out of space. HTTP Mapping: 429 Too Many Requests",
            "The operation was rejected because the system is not in a state required for the operation's execution. For example, the directory to be deleted is non-empty, an rmdir operation is applied to a non-directory, etc. Service implementors can use the following guidelines to decide between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`: (a) Use `UNAVAILABLE` if the client can retry just the failing call. (b) Use `ABORTED` if the client should retry at a higher level. For example, when a client-specified test-and-set fails, indicating the client should restart a read-modify-write sequence. (c) Use `FAILED_PRECONDITION` if the client should not retry until the system state has been explicitly fixed. For example, if an \"rmdir\" fails because the directory is non-empty, `FAILED_PRECONDITION` should be returned since the client should not retry unless the files are deleted from the directory. HTTP Mapping: 400 Bad Request",
            "The operation was aborted, typically due to a concurrency issue such as a sequencer check failure or transaction abort. See the guidelines above for deciding between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`. HTTP Mapping: 409 Conflict",
            "The operation was attempted past the valid range. E.g., seeking or reading past end-of-file. Unlike `INVALID_ARGUMENT`, this error indicates a problem that may be fixed if the system state changes. For example, a 32-bit file system will generate `INVALID_ARGUMENT` if asked to read at an offset that is not in the range [0,2^32-1], but it will generate `OUT_OF_RANGE` if asked to read from an offset past the current file size. There is a fair bit of overlap between `FAILED_PRECONDITION` and `OUT_OF_RANGE`. We recommend using `OUT_OF_RANGE` (the more specific error) when it applies so that callers who are iterating through a space can easily look for an `OUT_OF_RANGE` error to detect when they are done. HTTP Mapping: 400 Bad Request",
            "The operation is not implemented or is not supported/enabled in this service. HTTP Mapping: 501 Not Implemented",
            "Internal errors. This means that some invariants expected by the underlying system have been broken. This error code is reserved for serious errors. HTTP Mapping: 500 Internal Server Error",
            "The service is currently unavailable. This is most likely a transient condition, which can be corrected by retrying with a backoff. Note that it is not always safe to retry non-idempotent operations. See the guidelines above for deciding between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`. HTTP Mapping: 503 Service Unavailable",
            "Unrecoverable data loss or corruption. HTTP Mapping: 500 Internal Server Error"
          ],
          "type": "string"
        }
      },
      "description": "Info about failures"
    },
    "ListPrintersResponse": {
      "id": "ListPrintersResponse",
      "properties": {
        "printers": {
          "type": "array",
          "description": "List of printers. If `org_unit_id` was given in the request, then only printers visible for this OU will be returned. If `org_unit_id` was not given in the request, then all printers will be returned.",
          "items": {
            "$ref": "Printer"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response for listing printers.",
      "type": "object"
    },
    "ExternalId": {
      "description": "External identifier used to link and identify this group across external directory systems.",
      "id": "ExternalId",
      "properties": {
        "namespace": {
          "description": "The system or identity provider managing this ID.",
          "type": "string"
        },
        "id": {
          "description": "The unique identifier string assigned by the external provider.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "BatchChangeChromeOsDeviceStatusRequest": {
      "description": "A request for changing the status of a batch of ChromeOS devices.",
      "type": "object",
      "properties": {
        "deprovisionReason": {
          "enumDeprecated": [
            false,
            false,
            true,
            true,
            true,
            true,
            false,
            false,
            false,
            false,
            false
          ],
          "description": "Optional. The reason behind a device deprovision. Must be provided if 'changeChromeOsDeviceStatusAction' is set to 'CHANGE_CHROME_OS_DEVICE_STATUS_ACTION_DEPROVISION'. Otherwise, omit this field.",
          "enumDescriptions": [
            "The deprovision reason is unknown.",
            "Same model replacement. You have return materials authorization (RMA) or you are replacing a malfunctioning device under warranty with the same device model.",
            "The device was upgraded.",
            "The device's domain was changed.",
            "Service expired for the device.",
            "The device was deprovisioned for a legacy reason that is no longer supported.",
            "Different model replacement. You are replacing this device with an upgraded or newer device model.",
            "Retiring from fleet. You are donating, discarding, or otherwise removing the device from use.",
            "ChromeOS Flex upgrade transfer. This is a ChromeOS Flex device that you are replacing with a Chromebook within a year.",
            "A reason was not required. For example, the licenses were returned to the customer's license pool.",
            "The device was deprovisioned by the Repair Service Center. Can only be set by Repair Service Center during RMA."
          ],
          "type": "string",
          "enum": [
            "DEPROVISION_REASON_UNSPECIFIED",
            "DEPROVISION_REASON_SAME_MODEL_REPLACEMENT",
            "DEPROVISION_REASON_UPGRADE",
            "DEPROVISION_REASON_DOMAIN_MOVE",
            "DEPROVISION_REASON_SERVICE_EXPIRATION",
            "DEPROVISION_REASON_OTHER",
            "DEPROVISION_REASON_DIFFERENT_MODEL_REPLACEMENT",
            "DEPROVISION_REASON_RETIRING_DEVICE",
            "DEPROVISION_REASON_UPGRADE_TRANSFER",
            "DEPROVISION_REASON_NOT_REQUIRED",
            "DEPROVISION_REASON_REPAIR_CENTER"
          ]
        },
        "deviceIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. List of the IDs of the ChromeOS devices to change. Maximum 50."
        },
        "changeChromeOsDeviceStatusAction": {
          "type": "string",
          "enumDescriptions": [
            "Default value. Value is unused.",
            "Deprovisions a ChromeOS device. If you have ChromeOS devices that are no longer being used in your organization, you should deprovision them so that you’re no longer managing them. Deprovisioning the device removes all policies that were on the device as well as device-level printers and the ability to use the device as a kiosk. Depending on the upgrade that’s associated with the device this action might release the license back into the license pool; which allows you to use the license on a different device.",
            "Disables a ChromeOS device. Use this action if a user loses their device or it’s stolen, this makes it such that the device is still managed, so it will still receive policies, but no one can use it. Depending on the upgrade that’s associated with the device this action might release the license back into the license pool; which allows you to use the license on a different device.",
            "Reenables a ChromeOS device to be used after being disabled. Reenables the device once it's no longer lost or it's been recovered. This allows the device to be used again. Depending on the upgrade associated with the device this might consume one license from the license pool, meaning that if there aren't enough licenses available the operation will fail."
          ],
          "description": "Required. The action to take on the ChromeOS device in order to change its status.",
          "enum": [
            "CHANGE_CHROME_OS_DEVICE_STATUS_ACTION_UNSPECIFIED",
            "CHANGE_CHROME_OS_DEVICE_STATUS_ACTION_DEPROVISION",
            "CHANGE_CHROME_OS_DEVICE_STATUS_ACTION_DISABLE",
            "CHANGE_CHROME_OS_DEVICE_STATUS_ACTION_REENABLE"
          ]
        }
      },
      "id": "BatchChangeChromeOsDeviceStatusRequest"
    },
    "Privilege": {
      "type": "object",
      "properties": {
        "childPrivileges": {
          "items": {
            "$ref": "Privilege"
          },
          "description": "A list of child privileges. Privileges for a service form a tree. Each privilege can have a list of child privileges; this list is empty for a leaf privilege.",
          "type": "array"
        },
        "kind": {
          "description": "The type of the API resource. This is always `admin#directory#privilege`.",
          "type": "string",
          "default": "admin#directory#privilege"
        },
        "privilegeName": {
          "description": "The name of the privilege.",
          "type": "string"
        },
        "isOuScopable": {
          "type": "boolean",
          "description": "If the privilege can be restricted to an organization unit."
        },
        "serviceId": {
          "type": "string",
          "description": "The obfuscated ID of the service this privilege is for. This value is returned with [`Privileges.list()`](https://developers.google.com/workspace/admin/directory/v1/reference/privileges/list)."
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "serviceName": {
          "description": "The name of the service this privilege is for.",
          "type": "string"
        }
      },
      "id": "Privilege"
    },
    "ByteUsage": {
      "description": "Represents a data capacity with some amount of current usage in bytes.",
      "properties": {
        "usedBytes": {
          "type": "string",
          "format": "int64",
          "readOnly": true,
          "description": "Output only. The current usage value, in bytes."
        },
        "capacityBytes": {
          "format": "int64",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The total capacity value, in bytes."
        }
      },
      "type": "object",
      "id": "ByteUsage"
    },
    "UserOrganization": {
      "properties": {
        "type": {
          "type": "string",
          "description": "Each entry can have a type which indicates standard types of that entry. For example organization could be of school work etc. In addition to the standard type an entry can have a custom type and can give it any name. Such types should have the CUSTOM value as type and also have a CustomType value."
        },
        "costCenter": {
          "type": "string",
          "description": "The cost center of the users department."
        },
        "location": {
          "description": "Location of the organization. This need not be fully qualified address.",
          "type": "string"
        },
        "title": {
          "description": "Title (designation) of the user in the organization.",
          "type": "string"
        },
        "symbol": {
          "type": "string",
          "description": "Symbol of the organization."
        },
        "fullTimeEquivalent": {
          "format": "int32",
          "description": "The full-time equivalent millipercent within the organization (100000 = 100%).",
          "type": "integer"
        },
        "customType": {
          "type": "string",
          "description": "Custom type."
        },
        "department": {
          "description": "Department within the organization.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Name of the organization"
        },
        "description": {
          "description": "Description of the organization.",
          "type": "string"
        },
        "domain": {
          "description": "The domain to which the organization belongs to.",
          "type": "string"
        },
        "primary": {
          "description": "If it user's primary organization.",
          "type": "boolean"
        }
      },
      "description": "JSON template for an organization entry.",
      "type": "object",
      "id": "UserOrganization"
    },
    "UserLanguage": {
      "id": "UserLanguage",
      "description": "JSON template for a language entry.",
      "type": "object",
      "properties": {
        "preference": {
          "description": "Optional. If present, controls whether the specified `languageCode` is the user's preferred language. If `customLanguage` is set, this can't be set. Allowed values are `preferred` and `not_preferred`.",
          "type": "string"
        },
        "customLanguage": {
          "type": "string",
          "description": "Other language. User can provide their own language name if there is no corresponding ISO 639 language code. If this is set, `languageCode` can't be set."
        },
        "languageCode": {
          "type": "string",
          "description": "ISO 639 string representation of a language. See [Language Codes](/admin-sdk/directory/v1/languages) for the list of supported codes. Valid language codes outside the supported set will be accepted by the API but may lead to unexpected behavior. Illegal values cause `SchemaException`. If this is set, `customLanguage` can't be set."
        }
      }
    },
    "Feature": {
      "properties": {
        "kind": {
          "type": "string",
          "default": "admin#directory#resources#features#Feature",
          "description": "Kind of resource this is."
        },
        "name": {
          "type": "string",
          "description": "The name of the feature.",
          "annotations": {
            "required": [
              "directory.resources.features.insert"
            ]
          }
        },
        "etags": {
          "type": "string",
          "description": "ETag of the resource."
        }
      },
      "description": "JSON template for Feature object in Directory API.",
      "type": "object",
      "id": "Feature"
    },
    "MembersHasMember": {
      "type": "object",
      "properties": {
        "isMember": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Identifies whether the given user is a member of the group. Membership can be direct or nested."
        }
      },
      "id": "MembersHasMember",
      "description": "JSON template for Has Member response in Directory API."
    },
    "CreatePrinterRequest": {
      "description": "Request for adding a new printer.",
      "type": "object",
      "properties": {
        "parent": {
          "type": "string",
          "description": "Required. The name of the customer. Format: customers/{customer_id}"
        },
        "printer": {
          "$ref": "Printer",
          "description": "Required. A printer to create. If you want to place the printer under particular OU then populate printer.org_unit_id filed. Otherwise the printer will be placed under root OU."
        }
      },
      "id": "CreatePrinterRequest"
    },
    "MobileDeviceAction": {
      "type": "object",
      "id": "MobileDeviceAction",
      "properties": {
        "action": {
          "description": "The action to be performed on the device.",
          "type": "string",
          "annotations": {
            "required": [
              "directory.mobiledevices.action"
            ]
          }
        }
      }
    },
    "BatchCreatePrintServersResponse": {
      "id": "BatchCreatePrintServersResponse",
      "type": "object",
      "properties": {
        "printServers": {
          "type": "array",
          "items": {
            "$ref": "PrintServer"
          },
          "description": "A list of successfully created print servers with their IDs populated."
        },
        "failures": {
          "description": "A list of create failures. `PrintServer` IDs are not populated, as print servers were not created.",
          "items": {
            "$ref": "PrintServerFailureInfo"
          },
          "type": "array"
        }
      }
    },
    "DirectoryChromeosdevicesIssueCommandResponse": {
      "properties": {
        "commandId": {
          "format": "int64",
          "type": "string",
          "description": "The unique ID of the issued command, used to retrieve the command status."
        }
      },
      "description": "A response for issuing a command.",
      "id": "DirectoryChromeosdevicesIssueCommandResponse",
      "type": "object"
    },
    "Domains2": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Kind of resource this is.",
          "default": "admin#directory#domains"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "domains": {
          "description": "A list of domain objects.",
          "items": {
            "$ref": "Domains"
          },
          "type": "array"
        }
      },
      "id": "Domains2",
      "type": "object"
    },
    "BatchCreatePrintersRequest": {
      "description": "Request for adding new printers in batch.",
      "id": "BatchCreatePrintersRequest",
      "type": "object",
      "properties": {
        "requests": {
          "description": "A list of Printers to be created. Max 50 at a time.",
          "type": "array",
          "items": {
            "$ref": "CreatePrinterRequest"
          }
        }
      }
    },
    "CustomerPostalAddress": {
      "type": "object",
      "properties": {
        "addressLine3": {
          "description": "Address line 3 of the address.",
          "type": "string"
        },
        "locality": {
          "description": "Name of the locality. An example of a locality value is the city of `San Francisco`.",
          "type": "string"
        },
        "addressLine2": {
          "type": "string",
          "description": "Address line 2 of the address."
        },
        "organizationName": {
          "description": "The company or company division name.",
          "type": "string"
        },
        "countryCode": {
          "description": "This is a required property. For `countryCode` information see the [ISO 3166 country code elements](https://www.iso.org/iso/country_codes.htm).",
          "type": "string"
        },
        "contactName": {
          "type": "string",
          "description": "The customer contact's name."
        },
        "postalCode": {
          "type": "string",
          "description": "The postal code. A postalCode example is a postal zip code such as `10009`. This is in accordance with - http: //portablecontacts.net/draft-spec.html#address_element."
        },
        "region": {
          "description": "Name of the region. An example of a region value is `NY` for the state of New York.",
          "type": "string"
        },
        "addressLine1": {
          "type": "string",
          "description": "A customer's physical address. The address can be composed of one to three lines."
        }
      },
      "id": "CustomerPostalAddress"
    },
    "BatchDeletePrintersRequest": {
      "type": "object",
      "id": "BatchDeletePrintersRequest",
      "properties": {
        "printerIds": {
          "items": {
            "type": "string"
          },
          "description": "A list of Printer.id that should be deleted. Max 100 at a time.",
          "type": "array"
        }
      },
      "description": "Request for deleting existing printers in batch."
    },
    "RoleAssignment": {
      "type": "object",
      "properties": {
        "assigneeType": {
          "readOnly": true,
          "enum": [
            "user",
            "group"
          ],
          "description": "Output only. The type of the assignee (`USER` or `GROUP`).",
          "type": "string",
          "enumDescriptions": [
            "An individual user within the domain.",
            "A group within the domain."
          ]
        },
        "roleId": {
          "description": "The ID of the role that is assigned.",
          "type": "string",
          "format": "int64"
        },
        "roleAssignmentId": {
          "format": "int64",
          "description": "ID of this roleAssignment.",
          "type": "string"
        },
        "condition": {
          "type": "string",
          "description": "Optional. The condition associated with this role assignment. Note: Feature is available to Enterprise Standard, Enterprise Plus, Google Workspace for Education Plus and Cloud Identity Premium customers. A `RoleAssignment` with the `condition` field set will only take effect when the resource being accessed meets the condition. If `condition` is empty, the role (`role_id`) is applied to the actor (`assigned_to`) at the scope (`scope_type`) unconditionally. Currently, the following conditions are supported: - To make the `RoleAssignment` only applicable to [Security Groups](https://cloud.google.com/identity/docs/groups#group_types): `api.getAttribute('cloudidentity.googleapis.com/groups.labels', []).hasAny(['groups.security']) && resource.type == 'cloudidentity.googleapis.com/Group'` - To make the `RoleAssignment` not applicable to [Security Groups](https://cloud.google.com/identity/docs/groups#group_types): `!api.getAttribute('cloudidentity.googleapis.com/groups.labels', []).hasAny(['groups.security']) && resource.type == 'cloudidentity.googleapis.com/Group'` Currently, the condition strings have to be verbatim and they only work with the following [pre-built administrator roles](https://support.google.com/a/answer/2405986): - Groups Editor - Groups Reader The condition follows [Cloud IAM condition syntax](https://cloud.google.com/iam/docs/conditions-overview). - To make the `RoleAssignment` not applicable to [Locked Groups](https://cloud.google.com/identity/docs/groups#group_types): `!api.getAttribute('cloudidentity.googleapis.com/groups.labels', []).hasAny(['groups.locked']) && resource.type == 'cloudidentity.googleapis.com/Group'` This condition can also be used in conjunction with a Security-related condition."
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "assignedTo": {
          "description": "The unique ID of the entity this role is assigned to—either the `user_id` of a user, the `group_id` of a group, or the `uniqueId` of a service account as defined in [Identity and Access Management (IAM)](https://cloud.google.com/iam/docs/reference/rest/v1/projects.serviceAccounts).",
          "type": "string"
        },
        "expirationDetails": {
          "description": "Optional. Details regarding the expiration of this role assignment.",
          "$ref": "ExpirationDetails"
        },
        "scopeType": {
          "description": "The scope in which this role is assigned.",
          "type": "string"
        },
        "orgUnitId": {
          "description": "If the role is restricted to an organization unit, this contains the ID for the organization unit the exercise of this role is restricted to.",
          "type": "string"
        },
        "kind": {
          "description": "The type of the API resource. This is always `admin#directory#roleAssignment`.",
          "default": "admin#directory#roleAssignment",
          "type": "string"
        }
      },
      "id": "RoleAssignment",
      "description": "Defines an assignment of a role."
    },
    "BacklightInfo": {
      "id": "BacklightInfo",
      "type": "object",
      "properties": {
        "path": {
          "readOnly": true,
          "description": "Output only. Path to this backlight on the system. Useful if the caller needs to correlate with other information.",
          "type": "string"
        },
        "maxBrightness": {
          "format": "int32",
          "readOnly": true,
          "description": "Output only. Maximum brightness for the backlight.",
          "type": "integer"
        },
        "brightness": {
          "format": "int32",
          "description": "Output only. Current brightness of the backlight, between 0 and max_brightness.",
          "type": "integer",
          "readOnly": true
        }
      },
      "description": "Information about the device's backlights."
    },
    "Status": {
      "type": "object",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        },
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        }
      },
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "CreatePrintServerRequest": {
      "properties": {
        "printServer": {
          "$ref": "PrintServer",
          "description": "Required. A print server to create. If you want to place the print server under a specific organizational unit (OU), then populate the `org_unit_id`. Otherwise the print server is created under the root OU. The `org_unit_id` can be retrieved using the [Directory API](https://developers.google.com/workspace/admin/directory/v1/guides/manage-org-units)."
        },
        "parent": {
          "description": "Required. The [unique ID](https://developers.google.com/workspace/admin/directory/reference/rest/v1/customers) of the customer's Google Workspace account. Format: `customers/{id}`",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Request for adding a new print server.",
      "id": "CreatePrintServerRequest"
    },
    "DirectoryChromeosdevicesIssueCommandRequest": {
      "description": "A request for issuing a command.",
      "properties": {
        "commandType": {
          "enum": [
            "COMMAND_TYPE_UNSPECIFIED",
            "REBOOT",
            "TAKE_A_SCREENSHOT",
            "SET_VOLUME",
            "WIPE_USERS",
            "REMOTE_POWERWASH",
            "DEVICE_START_CRD_SESSION",
            "CAPTURE_LOGS",
            "FETCH_CRD_AVAILABILITY_INFO",
            "FETCH_SUPPORT_PACKET"
          ],
          "description": "The type of command.",
          "type": "string",
          "enumDescriptions": [
            "The command type was unspecified.",
            "Reboot the device. Can be issued to Kiosk and managed guest session devices, and regular devices running ChromeOS version 113 or later.",
            "Take a screenshot of the device. Only available if the device is in Kiosk Mode.",
            "Set the volume of the device. Can only be issued to Kiosk and managed guest session devices.",
            "Wipe all the users off of the device. Executing this command in the device will remove all user profile data, but it will keep device policy and enrollment.",
            "Wipes the device by performing a power wash. Executing this command in the device will remove all data including user policies, device policies and enrollment policies. Warning: This will revert the device back to a factory state with no enrollment unless the device is subject to forced or auto enrollment. Use with caution, as this is an irreversible action!",
            "Starts a Chrome Remote Desktop session.",
            "Capture the system logs of a kiosk device. The logs can be downloaded from the downloadUrl link present in `deviceFiles` field of [chromeosdevices](https://developers.google.com/workspace/admin/directory/reference/rest/v1/chromeosdevices)",
            "Fetches available type(s) of Chrome Remote Desktop sessions (private or shared) that can be used to remotely connect to the device.",
            "Fetch support packet from a device remotely. Support packet is a zip archive that contains various system logs and debug data from a ChromeOS device. The support packet can be downloaded from the downloadURL link present in the `deviceFiles` field of [`chromeosdevices`](https://developers.google.com/workspace/admin/directory/reference/rest/v1/chromeosdevices)"
          ]
        },
        "payload": {
          "description": "The payload for the command, provide it only if command supports it. The following commands support adding payload: * `SET_VOLUME`: Payload is a stringified JSON object in the form: { \"volume\": 50 }. The volume has to be an integer in the range [0,100]. * `DEVICE_START_CRD_SESSION`: Payload is optionally a stringified JSON object in the form: { \"ackedUserPresence\": true, \"crdSessionType\": string }. `ackedUserPresence` is a boolean. By default, `ackedUserPresence` is set to `false`. To start a Chrome Remote Desktop session for an active device, set `ackedUserPresence` to `true`. `crdSessionType` can only select from values `private` (which grants the remote admin exclusive control of the ChromeOS device) or `shared` (which allows the admin and the local user to share control of the ChromeOS device). If not set, `crdSessionType` defaults to `shared`. The `FETCH_CRD_AVAILABILITY_INFO` command can be used to determine available session types on the device. * `REBOOT`: Payload is a stringified JSON object in the form: { \"user_session_delay_seconds\": 300 }. The `user_session_delay_seconds` is the amount of seconds to wait before rebooting the device if a user is logged in. It has to be an integer in the range [0,300]. When payload is not present for reboot, 0 delay is the default. Note: This only applies if an actual user is logged in, including a Guest. If the device is in the login screen or in Kiosk mode the value is not respected and the device immediately reboots. * `FETCH_SUPPORT_PACKET`: Payload is optionally a stringified JSON object in the form: {\"supportPacketDetails\":{ \"issueCaseId\": optional_support_case_id_string, \"issueDescription\": optional_issue_description_string, \"requestedDataCollectors\": []}} The list of available `data_collector_enums` are as following: Chrome System Information (1), Crash IDs (2), Memory Details (3), UI Hierarchy (4), Additional ChromeOS Platform Logs (5), Device Event (6), Intel WiFi NICs Debug Dump (7), Touch Events (8), Lacros (9), Lacros System Information (10), ChromeOS Flex Logs (11), DBus Details (12), ChromeOS Network Routes (13), ChromeOS Shill (Connection Manager) Logs (14), Policies (15), ChromeOS System State and Logs (16), ChromeOS System Logs (17), ChromeOS Chrome User Logs (18), ChromeOS Bluetooth (19), ChromeOS Connected Input Devices (20), ChromeOS Traffic Counters (21), ChromeOS Virtual Keyboard (22), ChromeOS Network Health (23). See more details in [help article](https://support.google.com/chrome/a?p=remote-log).",
          "type": "string"
        }
      },
      "id": "DirectoryChromeosdevicesIssueCommandRequest",
      "type": "object"
    },
    "Users": {
      "id": "Users",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token used to access next page of this result. The page token is only valid for three days."
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "trigger_event": {
          "type": "string",
          "description": "Event that triggered this response (only used in case of Push Response)"
        },
        "users": {
          "type": "array",
          "items": {
            "$ref": "User"
          },
          "description": "A list of user objects."
        },
        "kind": {
          "type": "string",
          "description": "Kind of resource this is.",
          "default": "admin#directory#users"
        }
      },
      "type": "object"
    },
    "DomainAliases": {
      "type": "object",
      "properties": {
        "kind": {
          "description": "Kind of resource this is.",
          "type": "string",
          "default": "admin#directory#domainAliases"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "domainAliases": {
          "items": {
            "$ref": "DomainAlias"
          },
          "description": "A list of domain alias objects.",
          "type": "array"
        }
      },
      "id": "DomainAliases"
    },
    "Buildings": {
      "type": "object",
      "id": "Buildings",
      "description": "Public API: Resources.buildings",
      "properties": {
        "kind": {
          "description": "Kind of resource this is.",
          "type": "string",
          "default": "admin#directory#resources#buildings#buildingsList"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "buildings": {
          "items": {
            "$ref": "Building"
          },
          "description": "The Buildings in this page of results.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The continuation token, used to page through large result sets. Provide this value in a subsequent request to return the next page of results.",
          "type": "string"
        }
      }
    },
    "Printer": {
      "description": "Printer configuration.",
      "id": "Printer",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Editable. Name of printer.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Editable. Description of printer."
        },
        "uri": {
          "description": "Editable. Printer URI.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Time when printer was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "makeAndModel": {
          "description": "Editable. Make and model of printer. e.g. Lexmark MS610de Value must be in format as seen in ListPrinterModels response.",
          "type": "string"
        },
        "id": {
          "description": "Id of the printer. (During printer creation leave empty)",
          "type": "string"
        },
        "orgUnitId": {
          "description": "Organization Unit that owns this printer (Only can be set during Printer creation)",
          "type": "string"
        },
        "auxiliaryMessages": {
          "description": "Output only. Auxiliary messages about issues with the printer configuration if any.",
          "items": {
            "$ref": "AuxiliaryMessage"
          },
          "type": "array",
          "readOnly": true
        },
        "useDriverlessConfig": {
          "description": "Editable. flag to use driverless configuration or not. If it's set to be true, make_and_model can be ignored",
          "type": "boolean"
        },
        "name": {
          "description": "Identifier. The resource name of the Printer object, in the format customers/{customer-id}/printers/{printer-id} (During printer creation leave empty)",
          "type": "string"
        }
      }
    },
    "BatchDeletePrintServersResponse": {
      "id": "BatchDeletePrintServersResponse",
      "properties": {
        "printServerIds": {
          "description": "A list of print server IDs that were successfully deleted.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "failedPrintServers": {
          "description": "A list of update failures.",
          "items": {
            "$ref": "PrintServerFailureInfo"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "Schema": {
      "properties": {
        "fields": {
          "items": {
            "$ref": "SchemaFieldSpec"
          },
          "description": "A list of fields in the schema.",
          "type": "array",
          "annotations": {
            "required": [
              "directory.schemas.insert",
              "directory.schemas.update"
            ]
          }
        },
        "schemaName": {
          "type": "string",
          "description": "The schema's name. Each `schema_name` must be unique within a customer. Reusing a name results in a `409: Entity already exists` error.",
          "annotations": {
            "required": [
              "directory.schemas.insert"
            ]
          }
        },
        "etag": {
          "type": "string",
          "description": "The ETag of the resource."
        },
        "schemaId": {
          "description": "The unique identifier of the schema (Read-only)",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "annotations": {
            "required": [
              "directory.schemas.insert"
            ]
          },
          "description": "Display name for the schema."
        },
        "kind": {
          "type": "string",
          "description": "Kind of resource this is.",
          "default": "admin#directory#schema"
        }
      },
      "type": "object",
      "description": "The type of API resource. For Schema resources, this is always `admin#directory#schema`.",
      "id": "Schema"
    },
    "Asp": {
      "id": "Asp",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the application that the user, represented by their `userId`, entered when the ASP was created."
        },
        "kind": {
          "description": "The type of the API resource. This is always `admin#directory#asp`.",
          "type": "string",
          "default": "admin#directory#asp"
        },
        "creationTime": {
          "type": "string",
          "description": "The time when the ASP was created. Expressed in [Unix time](https://en.wikipedia.org/wiki/Epoch_time) format.",
          "format": "int64"
        },
        "userKey": {
          "type": "string",
          "description": "The unique ID of the user who issued the ASP."
        },
        "etag": {
          "type": "string",
          "description": "ETag of the ASP."
        },
        "codeId": {
          "type": "integer",
          "description": "The unique ID of the ASP.",
          "format": "int32"
        },
        "lastTimeUsed": {
          "format": "int64",
          "type": "string",
          "description": "The time when the ASP was last used. Expressed in [Unix time](https://en.wikipedia.org/wiki/Epoch_time) format."
        }
      },
      "description": "An application-specific password (ASP) is used with applications that do not accept a verification code when logging into the application on certain devices. The ASP access code is used instead of the login and password you commonly use when accessing an application through a browser. For more information about ASPs and how to create one, see the [help center](https://support.google.com/a/answer/2537800#asp).",
      "type": "object"
    },
    "OrgUnit": {
      "type": "object",
      "properties": {
        "orgUnitPath": {
          "description": "The full path to the organizational unit. The `orgUnitPath` is a derived property. When listed, it is derived from `parentOrgunitPath` and organizational unit's `name`. For example, for an organizational unit named 'apps' under parent organization '/engineering', the orgUnitPath is '/engineering/apps'. In order to edit an `orgUnitPath`, either update the name of the organization or the `parentOrgunitPath`. A user's organizational unit determines which Google Workspace services the user has access to. If the user is moved to a new organization, the user's access changes. For more information about organization structures, see the [administration help center](https://support.google.com/a/answer/4352075). For more information about moving a user to a different organization, see [Update a user](https://developers.google.com/workspace/admin/directory/v1/guides/manage-users.html#update_user).",
          "type": "string"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "blockInheritance": {
          "description": "This field is deprecated and setting its value has no effect.",
          "deprecated": true,
          "type": "boolean"
        },
        "description": {
          "description": "Description of the organizational unit.",
          "type": "string"
        },
        "kind": {
          "description": "The type of the API resource. For Orgunits resources, the value is `admin#directory#orgUnit`.",
          "default": "admin#directory#orgUnit",
          "type": "string"
        },
        "parentOrgUnitPath": {
          "description": "The organizational unit's parent path. For example, /corp/sales is the parent path for /corp/sales/sales_support organizational unit. Required, unless `parentOrgUnitId` is set.",
          "type": "string"
        },
        "name": {
          "description": "The organizational unit's path name. For example, an organizational unit's name within the /corp/support/sales_support parent path is sales_support. Required.",
          "annotations": {
            "required": [
              "directory.orgunits.insert"
            ]
          },
          "type": "string"
        },
        "orgUnitId": {
          "type": "string",
          "description": "The unique ID of the organizational unit."
        },
        "parentOrgUnitId": {
          "description": "The unique ID of the parent organizational unit. Required, unless `parentOrgUnitPath` is set.",
          "type": "string"
        }
      },
      "description": "Managing your account's organizational units allows you to configure your users' access to services and custom settings. For more information about common organizational unit tasks, see the [Developer's Guide](https://developers.google.com/workspace/admin/directory/v1/guides/manage-org-units.html). The customer's organizational unit hierarchy is limited to 35 levels of depth.",
      "id": "OrgUnit"
    },
    "Alias": {
      "description": "JSON template for Alias object in Directory API.",
      "id": "Alias",
      "type": "object",
      "properties": {
        "kind": {
          "default": "admin#directory#alias",
          "type": "string"
        },
        "alias": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "etag": {
          "type": "string"
        },
        "primaryEmail": {
          "type": "string"
        }
      }
    },
    "ListPrinterModelsResponse": {
      "type": "object",
      "id": "ListPrinterModelsResponse",
      "description": "Response for listing allowed printer models.",
      "properties": {
        "printerModels": {
          "items": {
            "$ref": "PrinterModel"
          },
          "description": "Printer models that are currently allowed to be configured for ChromeOs. Some printers may be added or removed over time.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "Groups": {
      "id": "Groups",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Token used to access next page of this result.",
          "type": "string"
        },
        "kind": {
          "default": "admin#directory#groups",
          "description": "Kind of resource this is.",
          "type": "string"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "groups": {
          "type": "array",
          "description": "A list of group objects.",
          "items": {
            "$ref": "Group"
          }
        }
      }
    },
    "BatchCreatePrintersResponse": {
      "type": "object",
      "properties": {
        "printers": {
          "items": {
            "$ref": "Printer"
          },
          "type": "array",
          "description": "A list of successfully created printers with their IDs populated."
        },
        "failures": {
          "description": "A list of create failures. Printer IDs are not populated, as printer were not created.",
          "type": "array",
          "items": {
[...]
