{
  "documentationLink": "https://developers.google.com/workspace/admin/",
  "servicePath": "",
  "mtlsRootUrl": "https://admin.mtls.googleapis.com/",
  "parameters": {
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "default": "json",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    }
  },
  "ownerDomain": "google.com",
  "packagePath": "admin",
  "discoveryVersion": "v1",
  "id": "admin:directory_v1",
  "basePath": "",
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "canonicalName": "directory",
  "ownerName": "Google",
  "revision": "20260917",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/admin.directory.orgunit": {
          "description": "View and manage organization units on your domain"
        },
        "https://www.googleapis.com/auth/admin.chrome.printers": {
          "description": "See, add, edit, and permanently delete the printers that your organization can use with Chrome"
        },
        "https://www.googleapis.com/auth/admin.chrome.printers.readonly": {
          "description": "See the printers that your organization can use with Chrome"
        },
        "https://www.googleapis.com/auth/admin.directory.userschema": {
          "description": "View and manage the provisioning of user schemas on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.domain": {
          "description": "View and manage the provisioning of domains for your customers"
        },
        "https://www.googleapis.com/auth/admin.directory.user.readonly": {
          "description": "See info about users on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.resource.calendar": {
          "description": "View and manage the provisioning of calendar resources on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.rolemanagement": {
          "description": "Manage delegated admin roles for your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.user": {
          "description": "View and manage the provisioning of users on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.orgunit.readonly": {
          "description": "View organization units on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.resource.calendar.readonly": {
          "description": "View calendar resources on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.customer.readonly": {
          "description": "View customer related information"
        },
        "https://www.googleapis.com/auth/admin.directory.customer": {
          "description": "View and manage customer related information"
        },
        "https://www.googleapis.com/auth/admin.directory.group": {
          "description": "View and manage the provisioning of groups on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.user.alias.readonly": {
          "description": "View user aliases on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.domain.readonly": {
          "description": "View domains related to your customers"
        },
        "https://www.googleapis.com/auth/admin.directory.rolemanagement.readonly": {
          "description": "View delegated admin roles for your domain"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/admin.directory.group.member.readonly": {
          "description": "View group subscriptions on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.user.security": {
          "description": "Manage data access permissions for users on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.group.readonly": {
          "description": "View groups on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.group.member": {
          "description": "View and manage group subscriptions on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.userschema.readonly": {
          "description": "View user schemas on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.device.chromeos.readonly": {
          "description": "View your ChromeOS devices' metadata"
        },
        "https://www.googleapis.com/auth/admin.directory.device.chromeos": {
          "description": "View and manage your ChromeOS devices' metadata"
        },
        "https://www.googleapis.com/auth/admin.directory.device.mobile.readonly": {
          "description": "View your mobile devices' metadata"
        },
        "https://www.googleapis.com/auth/admin.directory.user.alias": {
          "description": "View and manage user aliases on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.device.mobile.action": {
          "description": "Manage your mobile devices by performing administrative tasks"
        },
        "https://www.googleapis.com/auth/admin.directory.device.mobile": {
          "description": "View and manage your mobile devices' metadata"
        }
      }
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "version": "directory_v1",
  "name": "admin",
  "description": "Admin SDK lets administrators of enterprise domains to view and manage resources like user, groups etc. It also provides audit and usage reports of domain.",
  "rootUrl": "https://admin.googleapis.com/",
  "baseUrl": "https://admin.googleapis.com/",
  "title": "Admin SDK API",
  "schemas": {
    "BatchChangeChromeOsDeviceStatusResponse": {
      "properties": {
        "changeChromeOsDeviceStatusResults": {
          "description": "The results for each of the ChromeOS devices provided in the request.",
          "type": "array",
          "items": {
            "$ref": "ChangeChromeOsDeviceStatusResult"
          }
        }
      },
      "description": "The response of changing the status of a batch of ChromeOS devices.",
      "id": "BatchChangeChromeOsDeviceStatusResponse",
      "type": "object"
    },
    "ChangeChromeOsDeviceStatusResult": {
      "description": "The result of a single ChromeOS device for a Change state operation.",
      "properties": {
        "deviceId": {
          "description": "The unique ID of the ChromeOS device.",
          "type": "string"
        },
        "response": {
          "description": "The device could change its status successfully.",
          "$ref": "ChangeChromeOsDeviceStatusSucceeded"
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure."
        }
      },
      "id": "ChangeChromeOsDeviceStatusResult",
      "type": "object"
    },
    "UserEmail": {
      "id": "UserEmail",
      "type": "object",
      "description": "JSON template for an email.",
      "properties": {
        "type": {
          "type": "string",
          "description": "Each entry can have a type which indicates standard types of that entry. For example email could be of home, work etc. In addition to the standard type, an entry can have a custom type and can take any value Such types should have the CUSTOM value as type and also have a customType value."
        },
        "customType": {
          "description": "Custom Type.",
          "type": "string"
        },
        "public_key_encryption_certificates": {
          "properties": {
            "state": {
              "type": "string",
              "description": "Denotes the certificate's state in its lifecycle. Possible values are `not_yet_validated`, `valid`, `invalid`, `expired`, and `revoked`."
            },
            "is_default": {
              "type": "boolean",
              "description": "Whether this is the default certificate for the given email address."
            },
            "certificate": {
              "description": "X.509 encryption certificate in `PEM` format. Must only be an end-entity (leaf) certificate.",
              "type": "string"
            }
          },
          "description": "Public Key Encryption Certificates. Current limit: 1 per email address, and 5 per user.",
          "type": "object"
        },
        "address": {
          "type": "string",
          "description": "Email id of the user."
        },
        "primary": {
          "description": "If this is user's primary email. Only one entry could be marked as primary.",
          "type": "boolean"
        }
      }
    },
    "CreatePrintServerRequest": {
      "id": "CreatePrintServerRequest",
      "type": "object",
      "description": "Request for adding a new print server.",
      "properties": {
        "printServer": {
          "$ref": "PrintServer",
          "description": "Required. A print server to create. If you want to place the print server under a specific organizational unit (OU), then populate the `org_unit_id`. Otherwise the print server is created under the root OU. The `org_unit_id` can be retrieved using the [Directory API](https://developers.google.com/workspace/admin/directory/v1/guides/manage-org-units)."
        },
        "parent": {
          "type": "string",
          "description": "Required. The [unique ID](https://developers.google.com/workspace/admin/directory/reference/rest/v1/customers) of the customer's Google Workspace account. Format: `customers/{id}`"
        }
      }
    },
    "ByteUsage": {
      "id": "ByteUsage",
      "properties": {
        "capacityBytes": {
          "format": "int64",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The total capacity value, in bytes."
        },
        "usedBytes": {
          "description": "Output only. The current usage value, in bytes.",
          "type": "string",
          "format": "int64",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Represents a data capacity with some amount of current usage in bytes."
    },
    "UserOrganization": {
      "type": "object",
      "description": "JSON template for an organization entry.",
      "properties": {
        "location": {
          "description": "Location of the organization. This need not be fully qualified address.",
          "type": "string"
        },
        "name": {
          "description": "Name of the organization",
          "type": "string"
        },
        "fullTimeEquivalent": {
          "type": "integer",
          "format": "int32",
          "description": "The full-time equivalent millipercent within the organization (100000 = 100%)."
        },
        "type": {
          "description": "Each entry can have a type which indicates standard types of that entry. For example organization could be of school work etc. In addition to the standard type an entry can have a custom type and can give it any name. Such types should have the CUSTOM value as type and also have a CustomType value.",
          "type": "string"
        },
        "department": {
          "description": "Department within the organization.",
          "type": "string"
        },
        "symbol": {
          "description": "Symbol of the organization.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Description of the organization."
        },
        "title": {
          "description": "Title (designation) of the user in the organization.",
          "type": "string"
        },
        "customType": {
          "description": "Custom type.",
          "type": "string"
        },
        "costCenter": {
          "description": "The cost center of the users department.",
          "type": "string"
        },
        "domain": {
          "description": "The domain to which the organization belongs to.",
          "type": "string"
        },
        "primary": {
          "type": "boolean",
          "description": "If it user's primary organization."
        }
      },
      "id": "UserOrganization"
    },
    "DirectoryChromeosdevicesCommand": {
      "type": "object",
      "description": "Information regarding a command that was issued to a device.",
      "properties": {
        "issueTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The timestamp when the command was issued by the admin."
        },
        "type": {
          "description": "The type of the command.",
          "type": "string",
          "enum": [
            "COMMAND_TYPE_UNSPECIFIED",
            "REBOOT",
            "TAKE_A_SCREENSHOT",
            "SET_VOLUME",
            "WIPE_USERS",
            "REMOTE_POWERWASH",
            "DEVICE_START_CRD_SESSION",
            "CAPTURE_LOGS",
            "FETCH_CRD_AVAILABILITY_INFO",
            "FETCH_SUPPORT_PACKET"
          ],
          "enumDescriptions": [
            "The command type was unspecified.",
            "Reboot the device. Can be issued to Kiosk and managed guest session devices, and regular devices running ChromeOS version 113 or later.",
            "Take a screenshot of the device. Only available if the device is in Kiosk Mode.",
            "Set the volume of the device. Can only be issued to Kiosk and managed guest session devices.",
            "Wipe all the users off of the device. Executing this command in the device will remove all user profile data, but it will keep device policy and enrollment.",
            "Wipes the device by performing a power wash. Executing this command in the device will remove all data including user policies, device policies and enrollment policies. Warning: This will revert the device back to a factory state with no enrollment unless the device is subject to forced or auto enrollment. Use with caution, as this is an irreversible action!",
            "Starts a Chrome Remote Desktop session.",
            "Capture the system logs of a kiosk device. The logs can be downloaded from the downloadUrl link present in `deviceFiles` field of [chromeosdevices](https://developers.google.com/workspace/admin/directory/reference/rest/v1/chromeosdevices)",
            "Fetches available type(s) of Chrome Remote Desktop sessions (private or shared) that can be used to remotely connect to the device.",
            "Fetch support packet from a device remotely. Support packet is a zip archive that contains various system logs and debug data from a ChromeOS device. The support packet can be downloaded from the downloadURL link present in the `deviceFiles` field of [`chromeosdevices`](https://developers.google.com/workspace/admin/directory/reference/rest/v1/chromeosdevices)"
          ]
        },
        "commandExpireTime": {
          "description": "The time at which the command will expire. If the device doesn't execute the command within this time the command will become expired.",
          "format": "google-datetime",
          "type": "string"
        },
        "payload": {
          "description": "The payload that the command specified, if any.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "EXPIRED",
            "CANCELLED",
            "SENT_TO_CLIENT",
            "ACKED_BY_CLIENT",
            "EXECUTED_BY_CLIENT"
          ],
          "description": "Indicates the command state.",
          "enumDescriptions": [
            "The command status was unspecified.",
            "An unexpired command not yet sent to the client.",
            "The command didn't get executed by the client within the expected time.",
            "The command is cancelled by admin while in PENDING.",
            "The command has been sent to the client.",
            "The client has responded that it received the command.",
            "The client has (un)successfully executed the command."
          ]
        },
        "commandResult": {
          "$ref": "DirectoryChromeosdevicesCommandResult",
          "description": "The result of the command execution."
        },
        "commandId": {
          "format": "int64",
          "type": "string",
          "description": "Unique ID of a device command."
        }
      },
      "id": "DirectoryChromeosdevicesCommand"
    },
    "BatchDeletePrintServersRequest": {
      "id": "BatchDeletePrintServersRequest",
      "description": "Request to delete multiple existing print servers in a batch.",
      "properties": {
        "printServerIds": {
          "items": {
            "type": "string"
          },
          "description": "A list of print server IDs that should be deleted (max `100` per batch).",
          "type": "array"
        }
      },
      "type": "object"
    },
    "ExpirationDetails": {
      "id": "ExpirationDetails",
      "properties": {
        "expireTime": {
          "type": "string",
          "description": "The specific timestamp when the role assignment expires.",
          "format": "google-datetime"
        }
      },
      "description": "Details regarding the expiration of this role assignment. Used to automatically revoke access when the time limit is reached.",
      "type": "object"
    },
    "DirectoryChromeosdevicesIssueCommandResponse": {
      "id": "DirectoryChromeosdevicesIssueCommandResponse",
      "properties": {
        "commandId": {
          "format": "int64",
          "type": "string",
          "description": "The unique ID of the issued command, used to retrieve the command status."
        }
      },
      "type": "object",
      "description": "A response for issuing a command."
    },
    "UserPhoto": {
      "type": "object",
      "properties": {
        "kind": {
          "default": "admin#directory#user#photo",
          "description": "The type of the API resource. For Photo resources, this is `admin#directory#user#photo`.",
          "type": "string"
        },
        "primaryEmail": {
          "description": "The user's primary email address.",
          "type": "string"
        },
        "id": {
          "description": "The ID the API uses to uniquely identify the user.",
          "type": "string"
        },
        "mimeType": {
          "description": "The MIME type of the photo. Allowed values are `JPEG`, `PNG`, `GIF`, `BMP`, `TIFF`, and web-safe base64 encoding.",
          "type": "string"
        },
        "photoData": {
          "format": "byte",
          "type": "string",
          "annotations": {
            "required": [
              "directory.users.photos.update"
            ]
          },
          "description": "The user photo's upload data in [web-safe Base64](https://en.wikipedia.org/wiki/Base64#URL_applications) format in bytes. This means: * The slash (/) character is replaced with the underscore (_) character. * The plus sign (+) character is replaced with the hyphen (-) character. * The equals sign (=) character is replaced with the asterisk (*). * For padding, the period (.) character is used instead of the RFC-4648 baseURL definition which uses the equals sign (=) for padding. This is done to simplify URL-parsing. * Whatever the size of the photo being uploaded, the API downsizes it to 96x96 pixels."
        },
        "height": {
          "type": "integer",
          "format": "int32",
          "description": "Height of the photo in pixels."
        },
        "width": {
          "type": "integer",
          "description": "Width of the photo in pixels.",
          "format": "int32"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        }
      },
      "id": "UserPhoto"
    },
    "Building": {
      "description": "Public API: Resources.buildings",
      "properties": {
        "description": {
          "description": "A brief description of the building. For example, \"Chelsea Market\".",
          "type": "string"
        },
        "coordinates": {
          "description": "The geographic coordinates of the center of the building, expressed as latitude and longitude in decimal degrees.",
          "$ref": "BuildingCoordinates"
        },
        "etags": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "address": {
          "$ref": "BuildingAddress",
          "description": "The postal address of the building. See [`PostalAddress`](/my-business/reference/rest/v4/PostalAddress) for details. Note that only a single address line and region code are required."
        },
        "buildingName": {
          "description": "The building name as seen by users in Calendar. Must be unique for the customer. For example, \"NYC-CHEL\". The maximum length is 100 characters.",
          "type": "string"
        },
        "floorNames": {
          "description": "The display names for all floors in this building. The floors are expected to be sorted in ascending order, from lowest floor to highest floor. For example, [\"B2\", \"B1\", \"L\", \"1\", \"2\", \"2M\", \"3\", \"PH\"] Must contain at least one entry.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "buildingId": {
          "description": "Unique identifier for the building. The maximum length is 100 characters.",
          "type": "string"
        },
        "kind": {
          "default": "admin#directory#resources#buildings#Building",
          "type": "string",
          "description": "Kind of resource this is."
        }
      },
      "id": "Building",
      "type": "object"
    },
    "Domains": {
      "id": "Domains",
      "properties": {
        "isPrimary": {
          "description": "Indicates if the domain is a primary domain (Read-only).",
          "type": "boolean"
        },
        "verified": {
          "type": "boolean",
          "description": "Indicates the verification state of a domain. (Read-only)."
        },
        "creationTime": {
          "type": "string",
          "description": "Creation time of the domain. Expressed in [Unix time](https://en.wikipedia.org/wiki/Epoch_time) format. (Read-only).",
          "format": "int64"
        },
        "kind": {
          "default": "admin#directory#domain",
          "type": "string",
          "description": "Kind of resource this is."
        },
        "domainAliases": {
          "description": "A list of domain alias objects. (Read-only)",
          "type": "array",
          "items": {
            "$ref": "DomainAlias"
          }
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "domainName": {
          "type": "string",
          "description": "The domain name of the customer.",
          "annotations": {
            "required": [
              "directory.domains.insert"
            ]
          }
        }
      },
      "type": "object"
    },
    "Buildings": {
      "properties": {
        "kind": {
          "description": "Kind of resource this is.",
          "type": "string",
          "default": "admin#directory#resources#buildings#buildingsList"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "The continuation token, used to page through large result sets. Provide this value in a subsequent request to return the next page of results.",
          "type": "string"
        },
        "buildings": {
          "items": {
            "$ref": "Building"
          },
          "description": "The Buildings in this page of results.",
          "type": "array"
        }
      },
      "description": "Public API: Resources.buildings",
      "id": "Buildings",
      "type": "object"
    },
    "Schema": {
      "type": "object",
      "id": "Schema",
      "properties": {
        "schemaName": {
          "annotations": {
            "required": [
              "directory.schemas.insert"
            ]
          },
          "type": "string",
          "description": "The schema's name. Each `schema_name` must be unique within a customer. Reusing a name results in a `409: Entity already exists` error."
        },
        "kind": {
          "type": "string",
          "description": "Kind of resource this is.",
          "default": "admin#directory#schema"
        },
        "fields": {
          "description": "A list of fields in the schema.",
          "type": "array",
          "annotations": {
            "required": [
              "directory.schemas.insert",
              "directory.schemas.update"
            ]
          },
          "items": {
            "$ref": "SchemaFieldSpec"
          }
        },
        "displayName": {
          "type": "string",
          "description": "Display name for the schema.",
          "annotations": {
            "required": [
              "directory.schemas.insert"
            ]
          }
        },
        "schemaId": {
          "type": "string",
          "description": "The unique identifier of the schema (Read-only)"
        },
        "etag": {
          "description": "The ETag of the resource.",
          "type": "string"
        }
      },
      "description": "The type of API resource. For Schema resources, this is always `admin#directory#schema`."
    },
    "VerificationCodes": {
      "properties": {
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "items": {
          "items": {
            "$ref": "VerificationCode"
          },
          "type": "array",
          "description": "A list of verification code resources."
        },
        "kind": {
          "description": "The type of the resource. This is always `admin#directory#verificationCodesList`.",
          "default": "admin#directory#verificationCodesList",
          "type": "string"
        }
      },
      "id": "VerificationCodes",
      "type": "object",
      "description": "JSON response template for list verification codes operation in Directory API."
    },
    "MembersHasMember": {
      "type": "object",
      "description": "JSON template for Has Member response in Directory API.",
      "properties": {
        "isMember": {
          "type": "boolean",
          "description": "Output only. Identifies whether the given user is a member of the group. Membership can be direct or nested.",
          "readOnly": true
        }
      },
      "id": "MembersHasMember"
    },
    "SchemaFieldSpec": {
      "id": "SchemaFieldSpec",
      "description": "You can use schemas to add custom fields to user profiles. You can use these fields to store information such as the projects your users work on, their physical locations, their hire dates, or whatever else fits your business needs. For more information, see [Custom User Fields](https://developers.google.com/workspace/admin/directory/v1/guides/manage-schemas).",
      "properties": {
        "kind": {
          "description": "The kind of resource this is. For schema fields this is always `admin#directory#schema#fieldspec`.",
          "default": "admin#directory#schema#fieldspec",
          "type": "string"
        },
        "multiValued": {
          "type": "boolean",
          "description": "A boolean specifying whether this is a multi-valued field or not. Default: `false`."
        },
        "fieldType": {
          "annotations": {
            "required": [
              "directory.schemas.insert",
              "directory.schemas.update"
            ]
          },
          "description": "The type of the field.",
          "type": "string"
        },
        "numericIndexingSpec": {
          "type": "object",
          "properties": {
            "minValue": {
              "format": "double",
              "description": "Minimum value of this field. This is meant to be indicative rather than enforced. Values outside this range will still be indexed, but search may not be as performant.",
              "type": "number"
            },
            "maxValue": {
              "format": "double",
              "type": "number",
              "description": "Maximum value of this field. This is meant to be indicative rather than enforced. Values outside this range will still be indexed, but search may not be as performant."
            }
          },
          "description": "Indexing spec for a numeric field. By default, only exact match queries will be supported for numeric fields. Setting the `numericIndexingSpec` allows range queries to be supported."
        },
        "fieldName": {
          "type": "string",
          "annotations": {
            "required": [
              "directory.schemas.insert",
              "directory.schemas.update"
            ]
          },
          "description": "The name of the field."
        },
        "readAccessType": {
          "type": "string",
          "description": "Specifies who can view values of this field. See [Retrieve users as a non-administrator](https://developers.google.com/workspace/admin/directory/v1/guides/manage-users#retrieve_users_non_admin) for more information. Note: It may take up to 24 hours for changes to this field to be reflected.",
          "default": "ALL_DOMAIN_USERS"
        },
        "indexed": {
          "default": "true",
          "description": "Boolean specifying whether the field is indexed or not. Default: `true`.",
          "type": "boolean"
        },
        "etag": {
          "type": "string",
          "description": "The ETag of the field."
        },
        "fieldId": {
          "description": "The unique identifier of the field (Read-only)",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Display Name of the field.",
          "annotations": {
            "required": [
              "directory.schemas.insert",
              "directory.schemas.update"
            ]
          }
        }
      },
      "type": "object"
    },
    "UserSshPublicKey": {
      "type": "object",
      "id": "UserSshPublicKey",
      "description": "JSON template for a POSIX account entry.",
      "properties": {
        "key": {
          "description": "An SSH public key.",
          "type": "string"
        },
        "expirationTimeUsec": {
          "type": "string",
          "description": "An expiration time in microseconds since epoch.",
          "format": "int64"
        },
        "fingerprint": {
          "readOnly": true,
          "type": "string",
          "description": "A SHA-256 fingerprint of the SSH public key. (Read-only)"
        }
      }
    },
    "UserPosixAccount": {
      "description": "JSON template for a POSIX account entry.",
      "id": "UserPosixAccount",
      "properties": {
        "gid": {
          "description": "The default group ID.",
          "type": "string",
          "format": "uint64"
        },
        "homeDirectory": {
          "type": "string",
          "description": "The path to the home directory for this account."
        },
        "username": {
          "description": "The username of the account.",
          "type": "string"
        },
        "shell": {
          "description": "The path to the login shell for this account.",
          "type": "string"
        },
        "accountId": {
          "description": "A POSIX account field identifier.",
          "type": "string"
        },
        "systemId": {
          "type": "string",
          "description": "System identifier for which account Username or Uid apply to."
        },
        "uid": {
          "format": "uint64",
          "type": "string",
          "description": "The POSIX compliant user ID."
        },
        "operatingSystemType": {
          "description": "The operating system type for this account.",
          "type": "string"
        },
        "gecos": {
          "description": "The GECOS (user information) for this account.",
          "type": "string"
        },
        "primary": {
          "type": "boolean",
          "description": "If this is user's primary account within the SystemId."
        }
      },
      "type": "object"
    },
    "CountChromeOsDevicesResponse": {
      "properties": {
        "count": {
          "format": "int64",
          "type": "string",
          "description": "The total number of devices matching the request."
        }
      },
      "description": "A response for counting ChromeOS devices.",
      "id": "CountChromeOsDevicesResponse",
      "type": "object"
    },
    "User": {
      "description": "The Directory API allows you to create and manage your account's users, user aliases, and user Google profile photos. For more information about common tasks, see the [User Accounts Developer's Guide](https://developers.google.com/workspace/admin/directory/v1/guides/manage-users.html) and the [User Aliases Developer's Guide](https://developers.google.com/workspace/admin/directory/v1/guides/manage-user-aliases.html).",
      "properties": {
        "phones": {
          "type": "any",
          "description": "The list of the user's phone numbers. The maximum allowed data size for this field is 1KB."
        },
        "isEnrolledIn2Sv": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Is enrolled in 2-step verification (Read-only)"
        },
        "name": {
          "description": "Holds the given and family names of the user, and the read-only `fullName` value. The maximum number of characters in the `givenName` and in the `familyName` values is 60. In addition, name values support unicode/UTF-8 characters, and can contain spaces, letters (a-z), numbers (0-9), dashes (-), forward slashes (/), and periods (.). For more information about character usage rules, see the [administration help center](https://support.google.com/a/answer/9193374). Maximum allowed data size for this field is 1KB.",
          "annotations": {
            "required": [
              "directory.users.insert"
            ]
          },
          "$ref": "UserName"
        },
        "thumbnailPhotoUrl": {
          "type": "string",
          "description": "Output only. The URL of the user's profile photo. The URL might be temporary or private.",
          "readOnly": true
        },
        "password": {
          "annotations": {
            "required": [
              "directory.users.insert"
            ]
          },
          "description": "User's password",
          "type": "string"
        },
        "gender": {
          "description": "The user's gender. The maximum allowed data size for this field is 1KB.",
          "type": "any"
        },
        "isGuestUser": {
          "description": "Immutable. Indicates if the inserted user is a guest.",
          "type": "boolean"
        },
        "creationTime": {
          "description": "User's G Suite account creation time. (Read-only)",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "suspensionTime": {
          "type": "string",
          "description": "Output only. User's account suspension time. (Read-only)",
          "readOnly": true
        },
        "includeInGlobalAddressList": {
          "description": "Indicates if the user's profile is visible in the Google Workspace global address list when the contact sharing feature is enabled for the domain. For more information about excluding user profiles, see the [administration help center](https://support.google.com/a/answer/1285988).",
          "type": "boolean"
        },
        "isDelegatedAdmin": {
          "description": "Output only. Indicates if the user is a delegated administrator. Delegated administrators are supported by the API but cannot create or undelete users, or make users administrators. These requests are ignored by the API service. Roles and privileges for administrators are assigned using the [Admin console](https://support.google.com/a/answer/33325).",
          "readOnly": true,
          "type": "boolean"
        },
        "id": {
          "description": "The unique ID for the user. A user `id` can be used as a user request URI's `userKey`.",
          "type": "string"
        },
        "archived": {
          "description": "Indicates if user is archived.",
          "type": "boolean"
        },
        "kind": {
          "type": "string",
          "default": "admin#directory#user",
          "description": "Output only. The type of the API resource. For Users resources, the value is `admin#directory#user`.",
          "readOnly": true
        },
        "customSchemas": {
          "type": "object",
          "description": "Custom fields of the user. The key is a `schema_name` and its values are `'field_name': 'field_value'`.",
          "additionalProperties": {
            "$ref": "UserCustomProperties"
          }
        },
        "thumbnailPhotoEtag": {
          "type": "string",
          "description": "Output only. ETag of the user's photo (Read-only)",
          "readOnly": true
        },
        "websites": {
          "type": "any",
          "description": "The user's websites. The maximum allowed data size for this field is 2KB."
        },
        "deletionTime": {
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "suspended": {
          "description": "Indicates if user is suspended.",
          "type": "boolean"
        },
        "addresses": {
          "type": "any",
          "description": "The list of the user's addresses. The maximum allowed data size for this field is 10KB."
        },
        "isMailboxSetup": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Indicates if the user's Google mailbox is created. This property is only applicable if the user has been assigned a Gmail license."
        },
        "primaryEmail": {
          "type": "string",
          "annotations": {
            "required": [
              "directory.users.insert"
            ]
          },
          "description": "The user's primary email address. This property is required in a request to create a user account. The `primaryEmail` must be unique and cannot be an alias of another user."
        },
        "sshPublicKeys": {
          "description": "A list of SSH public keys.",
          "type": "any"
        },
        "suspensionReason": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Has the reason a user account is suspended either by the administrator or by Google at the time of suspension. The property is returned only if the `suspended` property is `true`."
        },
        "orgUnitPath": {
          "type": "string",
          "description": "The full path of the parent organization associated with the user. If the parent organization is the top-level, it is represented as a forward slash (`/`)."
        },
        "lastLoginTime": {
          "format": "date-time",
          "type": "string",
          "readOnly": true,
          "description": "User's last login time. (Read-only)"
        },
        "etag": {
          "readOnly": true,
          "description": "Output only. ETag of the resource.",
          "type": "string"
        },
        "posixAccounts": {
          "type": "any",
          "description": "The list of [POSIX](https://www.opengroup.org/austin/papers/posix_faq.html) account information for the user."
        },
        "organizations": {
          "description": "The list of organizations the user belongs to. The maximum allowed data size for this field is 10KB.",
          "type": "any"
        },
        "relations": {
          "description": "The list of the user's relationships to other users. The maximum allowed data size for this field is 2KB.",
          "type": "any"
        },
        "guestAccountInfo": {
          "description": "Immutable. Additional guest-related metadata fields",
          "$ref": "GuestAccountInfo"
        },
        "ims": {
          "type": "any",
          "description": "The list of the user's Instant Messenger (IM) accounts. A user account can have multiple ims properties. But, only one of these ims properties can be the primary IM contact. The maximum allowed data size for this field is 2KB."
        },
        "changePasswordAtNextLogin": {
          "type": "boolean",
          "description": "Indicates if the user is forced to change their password at next login. This setting doesn't apply when [the user signs in via a third-party identity provider](https://support.google.com/a/answer/60224)."
        },
        "recoveryPhone": {
          "description": "Recovery phone of the user. The phone number must be in the E.164 format, starting with the plus sign (+). Example: *+16506661212*.",
          "type": "string"
        },
        "keywords": {
          "description": "The list of the user's keywords. The maximum allowed data size for this field is 1KB.",
          "type": "any"
        },
        "aliases": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. The list of the user's alias email addresses.",
          "type": "array"
        },
        "customerId": {
          "readOnly": true,
          "description": "Output only. The customer ID to [retrieve all account users](https://developers.google.com/workspace/admin/directory/v1/guides/manage-users.html#get_all_users). You can use the alias `my_customer` to represent your account's `customerId`. As a reseller administrator, you can use the resold customer account's `customerId`. To get a `customerId`, use the account's primary domain in the `domain` parameter of a [users.list](https://developers.google.com/workspace/admin/directory/v1/reference/users/list) request.",
          "type": "string"
        },
        "locations": {
          "description": "The user's locations. The maximum allowed data size for this field is 10KB.",
          "type": "any"
        },
        "agreedToTerms": {
          "readOnly": true,
          "description": "Output only. This property is `true` if the user has completed an initial login and accepted the Terms of Service agreement.",
          "type": "boolean"
        },
        "languages": {
          "type": "any",
          "description": "The user's languages. The maximum allowed data size for this field is 1KB."
        },
        "isAdmin": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Indicates a user with super administrator privileges. The `isAdmin` property can only be edited in the [Make a user an administrator](https://developers.google.com/workspace/admin/directory/v1/guides/manage-users.html#make_admin) operation ( [makeAdmin](https://developers.google.com/workspace/admin/directory/v1/reference/users/makeAdmin.html) method). If edited in the user [insert](https://developers.google.com/workspace/admin/directory/v1/reference/users/insert.html) or [update](https://developers.google.com/workspace/admin/directory/v1/reference/users/update.html) methods, the edit is ignored by the API service."
        },
        "archivalTime": {
          "readOnly": true,
          "description": "Output only. User's account archival time. (Read-only)",
          "type": "string"
        },
        "nonEditableAliases": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The list of the user's non-editable alias email addresses. These are typically outside the account's primary domain or sub-domain.",
          "items": {
            "type": "string"
          }
        },
        "ipWhitelisted": {
          "type": "boolean",
          "description": "If `true`, the user's IP address is subject to a deprecated IP address [`allowlist`](https://support.google.com/a/answer/60752) configuration."
        },
        "emails": {
          "description": "The list of the user's email addresses. The maximum allowed data size for this field is 10KB. This excludes `publicKeyEncryptionCertificates`.",
          "type": "any"
        },
        "hashFunction": {
          "description": "Stores the hash format of the `password` property. The following `hashFunction` values are allowed: * `MD5` - Accepts simple hex-encoded values. * `SHA-1` - Accepts simple hex-encoded values. * `crypt` - Compliant with the [C crypt library](https://en.wikipedia.org/wiki/Crypt_%28C%29). Supports the DES, MD5 (hash prefix `$1$`), SHA-256 (hash prefix `$5$`), and SHA-512 (hash prefix `$6$`) hash algorithms. If rounds are specified as part of the prefix, they must be 10,000 or fewer.",
          "type": "string"
        },
        "externalIds": {
          "description": "The list of external IDs for the user, such as an employee or network ID. The maximum allowed data size for this field is 2KB.",
          "type": "any"
        },
        "isEnforcedIn2Sv": {
          "description": "Output only. Is 2-step verification enforced (Read-only)",
          "readOnly": true,
          "type": "boolean"
        },
        "notes": {
          "description": "Notes for the user.",
          "type": "any"
        },
        "recoveryEmail": {
          "description": "Recovery email of the user.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "User"
    },
    "FeatureInstance": {
      "id": "FeatureInstance",
      "description": "JSON template for a feature instance.",
      "type": "object",
      "properties": {
        "feature": {
          "description": "The feature that this is an instance of. A calendar resource may have multiple instances of a feature.",
          "$ref": "Feature"
        }
      }
    },
    "UserMakeAdmin": {
      "type": "object",
      "properties": {
        "status": {
          "annotations": {
            "required": [
              "directory.users.makeAdmin"
            ]
          },
          "type": "boolean",
          "description": "Indicates the administrator status of the user."
        }
      },
      "id": "UserMakeAdmin"
    },
    "Features": {
      "id": "Features",
      "properties": {
        "kind": {
          "default": "admin#directory#resources#features#featuresList",
          "description": "Kind of resource this is.",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The continuation token, used to page through large result sets. Provide this value in a subsequent request to return the next page of results."
        },
        "features": {
          "items": {
            "$ref": "Feature"
          },
          "type": "array",
          "description": "The Features in this page of results."
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        }
      },
      "description": "Public API: Resources.features",
      "type": "object"
    },
    "Tokens": {
      "type": "object",
      "id": "Tokens",
      "properties": {
        "kind": {
          "default": "admin#directory#tokenList",
          "type": "string",
          "description": "The type of the API resource. This is always `admin#directory#tokenList`."
        },
        "items": {
          "items": {
            "$ref": "Token"
          },
          "type": "array",
          "description": "A list of Token resources."
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        }
      },
      "description": "JSON response template for List tokens operation in Directory API."
    },
    "FailureInfo": {
      "type": "object",
      "properties": {
        "printerId": {
          "description": "Id of a failed printer.",
          "type": "string"
        },
        "errorCode": {
          "enumDescriptions": [
            "Not an error; returned on success. HTTP Mapping: 200 OK",
            "The operation was cancelled, typically by the caller. HTTP Mapping: 499 Client Closed Request",
            "Unknown error. For example, this error may be returned when a `Status` value received from another address space belongs to an error space that is not known in this address space. Also errors raised by APIs that do not return enough error information may be converted to this error. HTTP Mapping: 500 Internal Server Error",
            "The client specified an invalid argument. Note that this differs from `FAILED_PRECONDITION`. `INVALID_ARGUMENT` indicates arguments that are problematic regardless of the state of the system (e.g., a malformed file name). HTTP Mapping: 400 Bad Request",
            "The deadline expired before the operation could complete. For operations that change the state of the system, this error may be returned even if the operation has completed successfully. For example, a successful response from a server could have been delayed long enough for the deadline to expire. HTTP Mapping: 504 Gateway Timeout",
            "Some requested entity (e.g., file or directory) was not found. Note to server developers: if a request is denied for an entire class of users, such as gradual feature rollout or undocumented allowlist, `NOT_FOUND` may be used. If a request is denied for some users within a class of users, such as user-based access control, `PERMISSION_DENIED` must be used. HTTP Mapping: 404 Not Found",
            "The entity that a client attempted to create (e.g., file or directory) already exists. HTTP Mapping: 409 Conflict",
            "The caller does not have permission to execute the specified operation. `PERMISSION_DENIED` must not be used for rejections caused by exhausting some resource (use `RESOURCE_EXHAUSTED` instead for those errors). `PERMISSION_DENIED` must not be used if the caller can not be identified (use `UNAUTHENTICATED` instead for those errors). This error code does not imply the request is valid or the requested entity exists or satisfies other pre-conditions. HTTP Mapping: 403 Forbidden",
            "The request does not have valid authentication credentials for the operation. HTTP Mapping: 401 Unauthorized",
            "Some resource has been exhausted, perhaps a per-user quota, or perhaps the entire file system is out of space. HTTP Mapping: 429 Too Many Requests",
            "The operation was rejected because the system is not in a state required for the operation's execution. For example, the directory to be deleted is non-empty, an rmdir operation is applied to a non-directory, etc. Service implementors can use the following guidelines to decide between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`: (a) Use `UNAVAILABLE` if the client can retry just the failing call. (b) Use `ABORTED` if the client should retry at a higher level. For example, when a client-specified test-and-set fails, indicating the client should restart a read-modify-write sequence. (c) Use `FAILED_PRECONDITION` if the client should not retry until the system state has been explicitly fixed. For example, if an \"rmdir\" fails because the directory is non-empty, `FAILED_PRECONDITION` should be returned since the client should not retry unless the files are deleted from the directory. HTTP Mapping: 400 Bad Request",
            "The operation was aborted, typically due to a concurrency issue such as a sequencer check failure or transaction abort. See the guidelines above for deciding between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`. HTTP Mapping: 409 Conflict",
            "The operation was attempted past the valid range. E.g., seeking or reading past end-of-file. Unlike `INVALID_ARGUMENT`, this error indicates a problem that may be fixed if the system state changes. For example, a 32-bit file system will generate `INVALID_ARGUMENT` if asked to read at an offset that is not in the range [0,2^32-1], but it will generate `OUT_OF_RANGE` if asked to read from an offset past the current file size. There is a fair bit of overlap between `FAILED_PRECONDITION` and `OUT_OF_RANGE`. We recommend using `OUT_OF_RANGE` (the more specific error) when it applies so that callers who are iterating through a space can easily look for an `OUT_OF_RANGE` error to detect when they are done. HTTP Mapping: 400 Bad Request",
            "The operation is not implemented or is not supported/enabled in this service. HTTP Mapping: 501 Not Implemented",
            "Internal errors. This means that some invariants expected by the underlying system have been broken. This error code is reserved for serious errors. HTTP Mapping: 500 Internal Server Error",
            "The service is currently unavailable. This is most likely a transient condition, which can be corrected by retrying with a backoff. Note that it is not always safe to retry non-idempotent operations. See the guidelines above for deciding between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`. HTTP Mapping: 503 Service Unavailable",
            "Unrecoverable data loss or corruption. HTTP Mapping: 500 Internal Server Error"
          ],
          "type": "string",
          "enum": [
            "OK",
            "CANCELLED",
            "UNKNOWN",
            "INVALID_ARGUMENT",
            "DEADLINE_EXCEEDED",
            "NOT_FOUND",
            "ALREADY_EXISTS",
            "PERMISSION_DENIED",
            "UNAUTHENTICATED",
            "RESOURCE_EXHAUSTED",
            "FAILED_PRECONDITION",
            "ABORTED",
            "OUT_OF_RANGE",
            "UNIMPLEMENTED",
            "INTERNAL",
            "UNAVAILABLE",
            "DATA_LOSS"
          ],
          "description": "Canonical code for why the update failed to apply."
        },
        "errorMessage": {
          "type": "string",
          "description": "Failure reason message."
        },
        "printer": {
          "description": "Failed printer.",
          "$ref": "Printer"
        }
      },
      "description": "Info about failures",
      "id": "FailureInfo"
    },
    "UserAbout": {
      "description": "JSON template for About (notes) of a user in Directory API.",
      "properties": {
        "value": {
          "type": "string",
          "description": "Actual value of notes."
        },
        "contentType": {
          "type": "string",
          "description": "About entry can have a type which indicates the content type. It can either be plain or html. By default, notes contents are assumed to contain plain text."
        }
      },
      "id": "UserAbout",
      "type": "object"
    },
    "ChromeOsDevice": {
      "type": "object",
      "description": "Google Chrome devices run on the [Chrome OS](https://support.google.com/chromeos). For more information about common API tasks, see the [Developer's Guide](https://developers.google.com/workspace/admin/directory/v1/guides/manage-chrome-devices).",
      "id": "ChromeOsDevice",
      "properties": {
        "annotatedUser": {
          "type": "string",
          "description": "The user of the device as noted by the administrator. Maximum length is 100 characters. Empty values are allowed."
        },
        "meid": {
          "type": "string",
          "description": "The Mobile Equipment Identifier (MEID) or the International Mobile Equipment Identity (IMEI) for the 3G mobile card in a mobile device. A MEID/IMEI is typically used when adding a device to a wireless carrier's post-pay service plan. If the device does not have this information, this property is not included in the response. For more information on how to export a MEID/IMEI list, see the [Developer's Guide](https://developers.google.com/workspace/admin/directory/v1/guides/manage-chrome-devices.html#export_meid)."
        },
        "firstEnrollmentTime": {
          "type": "string",
          "description": "Date and time for the first time the device was enrolled."
        },
        "firmwareVersion": {
          "description": "The Chrome device's firmware version.",
          "type": "string"
        },
        "tpmVersionInfo": {
          "description": "Trusted Platform Module (TPM) (Read-only)",
          "properties": {
            "family": {
              "type": "string",
              "description": "TPM family. We use the TPM 2.0 style encoding, e.g.: TPM 1.2: \"1.2\" -> 312e3200 TPM 2.0: \"2.0\" -> 322e3000"
            },
            "tpmModel": {
              "type": "string",
              "description": "TPM model number."
            },
            "vendorSpecific": {
              "type": "string",
              "description": "Vendor-specific information such as Vendor ID."
            },
            "manufacturer": {
              "description": "TPM manufacturer code.",
              "type": "string"
            },
            "firmwareVersion": {
              "description": "TPM firmware version.",
              "type": "string"
            },
            "specLevel": {
              "description": "TPM specification level. See Library Specification for TPM 2.0 and Main Specification for TPM 1.2.",
              "type": "string"
            }
          },
          "type": "object"
        },
        "model": {
          "type": "string",
          "description": "The device's model information. If the device does not have this information, this property is not included in the response."
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "status": {
          "description": "The status of the device.",
          "type": "string"
        },
        "osUpdateStatus": {
          "$ref": "OsUpdateStatus",
          "description": "The status of the OS updates for the device."
        },
        "autoUpdateThrough": {
          "description": "Output only. The timestamp after which the device will stop receiving Chrome updates or support.",
          "type": "string",
          "readOnly": true
        },
        "deviceId": {
          "type": "string",
          "description": "The unique ID of the Chrome device."
        },
        "activeTimeRanges": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "date": {
                "description": "Date of usage",
                "type": "string",
                "format": "date"
              },
              "activeTime": {
                "type": "integer",
                "format": "int32",
                "description": "Duration of usage in milliseconds."
              }
            }
          },
          "description": "A list of active time ranges (Read-only)."
        },
        "autoUpdateExpiration": {
          "description": "(Read-only) The timestamp after which the device will stop receiving Chrome updates or support. Please use \"autoUpdateThrough\" instead.",
          "format": "int64",
          "type": "string",
          "deprecated": true
        },
        "fanInfo": {
          "description": "Output only. Fan information for the device.",
          "type": "array",
          "items": {
            "$ref": "FanInfo"
          },
          "readOnly": true
        },
        "recentUsers": {
          "description": "A list of recent device users, in descending order, by last login time.",
          "items": {
            "description": "A list of recent device users, in descending order, by last login time.",
            "type": "object",
            "properties": {
              "email": {
                "description": "The user's email address. This is only present if the user type is `USER_TYPE_MANAGED`.",
                "type": "string"
              },
              "type": {
                "type": "string",
                "description": "The type of the user."
              }
            }
          },
          "type": "array"
        },
        "supportEndDate": {
          "format": "date-time",
          "type": "string",
          "description": "Final date the device will be supported (Read-only)"
        },
        "osVersionCompliance": {
          "enumDescriptions": [
            "Compliance status unspecified.",
            "Compliance status compliant.",
            "Compliance status pending.",
            "Compliance status not compliant."
          ],
          "description": "Output only. Device policy compliance status of the OS version.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "complianceUnspecified",
            "compliant",
            "pending",
            "notCompliant"
          ]
        },
        "manufactureDate": {
          "description": "(Read-only) The date the device was manufactured in yyyy-mm-dd format.",
          "type": "string"
        },
        "willAutoRenew": {
          "type": "boolean",
          "description": "Determines if the device will auto renew its support after the support end date. This is a read-only property."
        },
        "deviceFiles": {
          "type": "array",
          "description": "A list of device files to download (Read-only)",
          "items": {
            "type": "object",
            "properties": {
              "name": {
                "description": "File name",
                "type": "string"
              },
              "downloadUrl": {
                "type": "string",
                "description": "File download URL"
              },
              "createTime": {
                "description": "Date and time the file was created",
                "format": "date-time",
                "type": "string"
              },
              "type": {
                "description": "File type",
                "type": "string"
              }
            }
          }
        },
        "deprovisionReason": {
          "type": "string",
          "enum": [
            "DEPROVISION_REASON_UNSPECIFIED",
            "DEPROVISION_REASON_SAME_MODEL_REPLACEMENT",
            "DEPROVISION_REASON_UPGRADE",
            "DEPROVISION_REASON_DOMAIN_MOVE",
            "DEPROVISION_REASON_SERVICE_EXPIRATION",
            "DEPROVISION_REASON_OTHER",
            "DEPROVISION_REASON_DIFFERENT_MODEL_REPLACEMENT",
            "DEPROVISION_REASON_RETIRING_DEVICE",
            "DEPROVISION_REASON_UPGRADE_TRANSFER",
            "DEPROVISION_REASON_NOT_REQUIRED",
            "DEPROVISION_REASON_REPAIR_CENTER"
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            true,
            true,
            true,
            false,
            false,
            false,
            false,
            false
          ],
          "description": "(Read-only) Deprovision reason.",
          "enumDescriptions": [
            "The deprovision reason is unknown.",
            "Same model replacement. You have return materials authorization (RMA) or you are replacing a malfunctioning device under warranty with the same device model.",
            "The device was upgraded.",
            "The device's domain was changed.",
            "Service expired for the device.",
            "The device was deprovisioned for a legacy reason that is no longer supported.",
            "Different model replacement. You are replacing this device with an upgraded or newer device model.",
            "Retiring from fleet. You are donating, discarding, or otherwise removing the device from use.",
            "ChromeOS Flex upgrade transfer. This is a ChromeOS Flex device that you are replacing with a Chromebook within a year.",
            "A reason was not required. For example, the licenses were returned to the customer's license pool.",
            "The device was deprovisioned by the Repair Service Center. Can only be set by Repair Service Center during RMA."
          ]
        },
        "cpuStatusReports": {
          "items": {
            "type": "object",
            "properties": {
              "reportTime": {
                "type": "string",
                "format": "date-time",
                "description": "Date and time the report was received."
              },
              "cpuTemperatureInfo": {
                "type": "array",
                "description": "A list of CPU temperature samples.",
                "items": {
                  "type": "object",
                  "properties": {
                    "temperature": {
                      "description": "Temperature in Celsius degrees.",
                      "format": "int32",
                      "type": "integer"
                    },
                    "label": {
                      "type": "string",
                      "description": "CPU label"
                    }
                  }
                }
              },
              "cpuUtilizationPercentageInfo": {
                "type": "array",
                "items": {
                  "format": "int32",
                  "type": "integer"
                }
              }
            }
          },
          "description": "Reports of CPU utilization and temperature (Read-only)",
          "type": "array"
        },
        "ethernetMacAddress": {
          "type": "string",
          "description": "The device's MAC address on the ethernet network interface."
        },
        "lastEnrollmentTime": {
          "format": "date-time",
          "type": "string",
          "description": "Date and time the device was last enrolled (Read-only)"
        },
        "systemRamFreeReports": {
          "description": "Reports of amounts of available RAM memory (Read-only)",
          "items": {
            "type": "object",
            "properties": {
              "systemRamFreeInfo": {
                "type": "array",
                "items": {
                  "format": "int64",
                  "type": "string"
                }
              },
              "reportTime": {
                "type": "string",
                "format": "date-time",
                "description": "Date and time the report was received."
              }
            }
          },
          "type": "array"
        },
        "lastSync": {
          "format": "date-time",
          "type": "string",
          "description": "Date and time the device was last synchronized with the policy settings in the G Suite administrator control panel (Read-only)"
        },
        "lastKnownNetwork": {
          "items": {
            "properties": {
              "wanIpAddress": {
                "type": "string",
                "description": "The WAN IP address."
              },
              "ipAddress": {
                "description": "The IP address.",
                "type": "string"
              }
            },
            "description": "Information for an ip address.",
            "type": "object"
          },
          "type": "array",
          "description": "Contains last known network (Read-only)"
        },
        "osVersion": {
          "type": "string",
          "description": "The Chrome device's operating system version."
        },
        "bluetoothAdapterInfo": {
          "readOnly": true,
          "items": {
            "$ref": "BluetoothAdapterInfo"
          },
          "description": "Output only. Information about Bluetooth adapters of the device.",
          "type": "array"
        },
        "ethernetMacAddress0": {
          "type": "string",
          "description": "(Read-only) MAC address used by the Chromebook’s internal ethernet port, and for onboard network (ethernet) interface. The format is twelve (12) hexadecimal digits without any delimiter (uppercase letters). This is only relevant for some devices."
        },
        "orderNumber": {
          "description": "The device's order number. Only devices directly purchased from Google have an order number.",
          "type": "string"
        },
        "annotatedLocation": {
          "description": "The address or location of the device as noted by the administrator. Maximum length is `200` characters. Empty values are allowed.",
          "type": "string"
        },
        "systemRamTotal": {
          "type": "string",
          "format": "int64",
          "description": "Total RAM on the device [in bytes] (Read-only)"
        },
        "cpuInfo": {
          "items": {
            "description": "CPU specs for a CPU.",
            "type": "object",
            "properties": {
              "model": {
                "description": "The CPU model name.",
                "type": "string"
              },
              "architecture": {
                "description": "The CPU architecture.",
                "type": "string"
              },
              "maxClockSpeedKhz": {
                "description": "The max CPU clock speed in kHz.",
                "type": "integer",
                "format": "int32"
              },
              "logicalCpus": {
                "type": "array",
                "description": "Information for the Logical CPUs",
                "items": {
                  "description": "Status of a single logical CPU.",
                  "properties": {
                    "maxScalingFrequencyKhz": {
                      "description": "Maximum frequency the CPU is allowed to run at, by policy.",
                      "format": "int32",
                      "type": "integer"
                    },
                    "idleDuration": {
                      "format": "google-duration",
                      "description": "Idle time since last boot.",
                      "type": "string"
                    },
                    "currentScalingFrequencyKhz": {
                      "format": "int32",
                      "description": "Current frequency the CPU is running at.",
                      "type": "integer"
                    },
                    "cStates": {
                      "type": "array",
                      "items": {
                        "description": "Status of a single C-state. C-states are various modes the CPU can transition to in order to use more or less power.",
                        "properties": {
                          "sessionDuration": {
                            "format": "google-duration",
                            "type": "string",
                            "description": "Time spent in the state since the last reboot."
                          },
                          "displayName": {
                            "type": "string",
                            "description": "Name of the state."
                          }
                        },
                        "type": "object"
                      },
                      "description": "C-States indicate the power consumption state of the CPU. For more information look at documentation published by the CPU maker."
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "type": "array",
          "description": "Information regarding CPU specs in the device."
        },
        "platformVersion": {
          "type": "string",
          "description": "The Chrome device's platform version."
        },
        "chromeOsType": {
          "type": "string",
          "enum": [
            "chromeOsTypeUnspecified",
            "chromeOsFlex",
            "chromeOs"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Chrome OS Type unspecified.",
            "Chrome OS Type Chrome OS Flex.",
            "Chrome OS Type Chrome OS."
          ],
          "description": "Output only. Chrome OS type of the device."
        },
        "extendedSupportStart": {
          "type": "string",
          "description": "Output only. Date of the device when extended support policy for automatic updates starts.",
          "readOnly": true
        },
        "extendedSupportEnabled": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether extended support policy is enabled on the device."
        },
        "annotatedAssetId": {
          "description": "The asset identifier as noted by an administrator or specified during enrollment.",
          "type": "string"
        },
        "diskSpaceUsage": {
          "readOnly": true,
          "description": "Output only. How much disk space the device has available and is currently using.",
          "$ref": "ByteUsage"
        },
        "orgUnitId": {
          "description": "The unique ID of the organizational unit. orgUnitPath is the human readable version of orgUnitId. While orgUnitPath may change by renaming an organizational unit within the path, orgUnitId is unchangeable for one organizational unit. This property can be [updated](https://developers.google.com/workspace/admin/directory/v1/guides/manage-chrome-devices#move_chrome_devices_to_ou) using the API. For more information about how to create an organizational structure for your device, see the [administration help center](https://support.google.com/a/answer/182433).",
          "type": "string"
        },
        "serialNumber": {
          "description": "The Chrome device serial number entered when the device was enabled. This value is the same as the Admin console's *Serial Number* in the *Chrome OS Devices* tab.",
          "type": "string"
        },
        "dockMacAddress": {
          "type": "string",
          "description": "(Read-only) Built-in MAC address for the docking station that the device connected to. Factory sets Media access control address (MAC address) assigned for use by a dock. It is reserved specifically for MAC pass through device policy. The format is twelve (12) hexadecimal digits without any delimiter (uppercase letters). This is only relevant for some devices."
        },
        "lastDeprovisionTimestamp": {
          "type": "string",
          "description": "(Read-only) Date and time for the last deprovision of the device."
        },
        "diskVolumeReports": {
          "description": "Reports of disk space and other info about mounted/connected volumes.",
          "items": {
            "type": "object",
            "properties": {
              "volumeInfo": {
                "items": {
                  "type": "object",
                  "properties": {
                    "volumeId": {
                      "description": "Volume id",
                      "type": "string"
                    },
                    "storageTotal": {
                      "format": "int64",
                      "type": "string",
                      "description": "Total disk space [in bytes]"
                    },
                    "storageFree": {
                      "description": "Free disk space [in bytes]",
                      "type": "string",
                      "format": "int64"
                    }
                  }
                },
                "description": "Disk volumes",
                "type": "array"
              }
            }
          },
          "type": "array"
        },
        "kind": {
          "description": "The type of resource. For the Chromeosdevices resource, the value is `admin#directory#chromeosdevice`.",
          "type": "string",
          "default": "admin#directory#chromeosdevice"
        },
        "orgUnitPath": {
          "type": "string",
          "description": "The full parent path with the organizational unit's name associated with the device. Path names are case insensitive. If the parent organizational unit is the top-level organization, it is represented as a forward slash, `/`. This property can be [updated](https://developers.google.com/workspace/admin/directory/v1/guides/manage-chrome-devices#move_chrome_devices_to_ou) using the API. For more information about how to create an organizational structure for your device, see the [administration help center](https://support.google.com/a/answer/182433)."
        },
        "notes": {
          "description": "Notes about this device added by the administrator. This property can be [searched](https://support.google.com/chrome/a/answer/1698333) with the [list](https://developers.google.com/workspace/admin/directory/v1/reference/chromeosdevices/list) method's `query` parameter. Maximum length is 500 characters. Empty values are allowed.",
          "type": "string"
        },
        "screenshotFiles": {
          "items": {
            "type": "object",
            "properties": {
              "type": {
                "description": "File type",
                "type": "string"
              },
              "downloadUrl": {
                "description": "File download URL",
                "type": "string"
              },
              "name": {
                "description": "File name",
                "type": "string"
              },
              "createTime": {
                "format": "date-time",
                "type": "string",
                "description": "Date and time the file was created"
              }
            }
          },
          "description": "A list of screenshot files to download. Type is always \"SCREENSHOT_FILE\". (Read-only)",
          "type": "array"
        },
        "deviceLicenseType": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "deviceLicenseTypeUnspecified",
            "enterprise",
            "enterpriseUpgrade",
            "educationUpgrade",
            "education",
            "kioskUpgrade",
            "enterpriseUpgradePerpetual",
            "enterpriseUpgradeFixedTerm",
            "educationUpgradePerpetual",
            "educationUpgradeFixedTerm"
          ],
          "description": "Output only. Device license type.",
          "enumDescriptions": [
            "The license type is unknown.",
            "The device is bundled with a perpetual Chrome Enterprise Upgrade.",
            "The device has an annual standalone Chrome Enterprise Upgrade.",
            "The device has a perpetual standalone Chrome Education Upgrade.",
            "The device is bundled with a perpetual Chrome Education Upgrade.",
            "The device has an annual Kiosk Upgrade.",
            "Indicates that the device is consuming a standalone, perpetual Chrome Enterprise Upgrade, a Chrome Enterprise license.",
            "Indicates that the device is consuming a standalone, fixed-term Chrome Enterprise Upgrade, a Chrome Enterprise license.",
            "Indicates that the device is consuming a standalone, perpetual Chrome Education Upgrade(AKA Chrome EDU perpetual license).",
            "Indicates that the device is consuming a standalone, fixed-term Chrome Education Upgrade(AKA Chrome EDU fixed-term license)."
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            true,
            false,
            false,
            false,
            false,
            false,
            false
          ]
        },
        "bootMode": {
          "type": "string",
          "description": "The boot mode for the device. The possible values are: * `Verified`: The device is running a valid version of the Chrome OS. * `Dev`: The devices's developer hardware switch is enabled. When booted, the device has a command line shell. For an example of a developer switch, see the [Chromebook developer information](https://www.chromium.org/chromium-os/developer-information-for-chrome-os-devices/samsung-series-5-chromebook#TOC-Developer-switch)."
        },
        "backlightInfo": {
          "items": {
            "$ref": "BacklightInfo"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. Contains backlight information for the device."
        },
        "extendedSupportEligible": {
          "readOnly": true,
          "description": "Output only. Whether or not the device requires the extended support opt in.",
          "type": "boolean"
        },
        "macAddress": {
          "description": "The device's wireless MAC address. If the device does not have this information, it is not included in the response.",
          "type": "string"
        }
      }
    },
    "BatchCreatePrintServersRequest": {
      "properties": {
        "requests": {
          "description": "Required. A list of `PrintServer` resources to be created (max `50` per batch).",
          "type": "array",
          "items": {
            "$ref": "CreatePrintServerRequest"
          }
        }
      },
      "id": "BatchCreatePrintServersRequest",
      "description": "Request to add multiple new print servers in a batch.",
      "type": "object"
    },
    "BatchDeletePrintersRequest": {
      "type": "object",
      "properties": {
        "printerIds": {
          "items": {
            "type": "string"
          },
          "description": "A list of Printer.id that should be deleted. Max 100 at a time.",
          "type": "array"
        }
      },
      "id": "BatchDeletePrintersRequest",
      "description": "Request for deleting existing printers in batch."
    },
    "Users": {
      "id": "Users",
      "properties": {
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Token used to access next page of this result. The page token is only valid for three days.",
          "type": "string"
        },
        "trigger_event": {
          "type": "string",
          "description": "Event that triggered this response (only used in case of Push Response)"
        },
        "kind": {
          "default": "admin#directory#users",
          "description": "Kind of resource this is.",
          "type": "string"
        },
        "users": {
          "items": {
            "$ref": "User"
          },
          "description": "A list of user objects.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "PrintServer": {
      "type": "object",
      "id": "PrintServer",
      "properties": {
        "orgUnitId": {
          "description": "ID of the organization unit (OU) that owns this print server. This value can only be set when the print server is initially created. If it's not populated, the print server is placed under the root OU. The `org_unit_id` can be retrieved using the [Directory API](https://developers.google.com/workspace/admin/directory/reference/rest/v1/orgunits).",
          "type": "string"
        },
        "uri": {
          "type": "string",
          "description": "Editable. Print server URI."
        },
        "name": {
          "description": "Identifier. Resource name of the print server. Leave empty when creating. Format: `customers/{customer.id}/printServers/{print_server.id}`",
          "type": "string"
        },
        "displayName": {
          "description": "Editable. Display name of the print server (as shown in the Admin console).",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Editable. Description of the print server (as shown in the Admin console)."
        },
        "id": {
          "type": "string",
          "description": "Immutable. ID of the print server. Leave empty when creating."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time when the print server was created.",
          "format": "google-datetime"
        }
      },
      "description": "Configuration for a print server."
    },
    "ExternalId": {
      "id": "ExternalId",
      "type": "object",
      "description": "External identifier used to link and identify this group across external directory systems.",
      "properties": {
        "id": {
          "type": "string",
          "description": "The unique identifier string assigned by the external provider."
        },
        "namespace": {
          "type": "string",
          "description": "The system or identity provider managing this ID."
        }
      }
    },
    "ChromeOsMoveDevicesToOu": {
      "properties": {
        "deviceIds": {
          "type": "array",
          "description": "Chrome OS devices to be moved to OU",
          "annotations": {
            "required": [
              "directory.chromeosdevices.moveDevicesToOu"
            ]
          },
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ChromeOsMoveDevicesToOu",
      "type": "object"
    },
    "BatchDeletePrintServersResponse": {
      "properties": {
        "printServerIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of print server IDs that were successfully deleted."
        },
        "failedPrintServers": {
          "items": {
            "$ref": "PrintServerFailureInfo"
          },
          "type": "array",
          "description": "A list of update failures."
        }
      },
      "id": "BatchDeletePrintServersResponse",
      "type": "object"
    },
    "BluetoothAdapterInfo": {
      "id": "BluetoothAdapterInfo",
      "properties": {
        "numConnectedDevices": {
          "description": "Output only. The number of devices connected to this adapter.",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        },
        "address": {
          "readOnly": true,
          "description": "Output only. The MAC address of the adapter.",
          "type": "string"
        }
      },
      "description": "Information about a device's Bluetooth adapter.",
      "type": "object"
    },
    "Domains2": {
      "type": "object",
      "properties": {
        "kind": {
          "description": "Kind of resource this is.",
          "type": "string",
          "default": "admin#directory#domains"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "domains": {
          "type": "array",
          "items": {
            "$ref": "Domains"
          },
          "description": "A list of domain objects."
        }
      },
      "id": "Domains2"
    },
    "Schemas": {
      "description": "JSON response template for List Schema operation in Directory API.",
      "properties": {
        "kind": {
          "type": "string",
          "default": "admin#directory#schemas",
          "description": "Kind of resource this is."
        },
        "schemas": {
          "description": "A list of UserSchema objects.",
          "type": "array",
          "items": {
            "$ref": "Schema"
          }
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        }
      },
      "type": "object",
      "id": "Schemas"
    },
    "OrgUnits": {
      "type": "object",
      "id": "OrgUnits",
      "properties": {
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "kind": {
          "default": "admin#directory#orgUnits",
          "type": "string",
          "description": "The type of the API resource. For Org Unit resources, the type is `admin#directory#orgUnits`."
        },
        "organizationUnits": {
          "items": {
            "$ref": "OrgUnit"
          },
          "type": "array",
          "description": "A list of organizational unit objects."
        }
      }
    },
    "Customer": {
      "id": "Customer",
      "properties": {
        "alternateEmail": {
          "type": "string",
          "description": "The customer's secondary contact email address. This email address cannot be on the same domain as the `customerDomain`"
        },
        "customerCreationTime": {
          "description": "The customer's creation time (Readonly)",
          "format": "date-time",
          "type": "string"
        },
        "language": {
          "description": "The customer's ISO 639-2 language code. See the [Language Codes](https://developers.google.com/workspace/admin/directory/v1/languages) page for the list of supported codes. Valid language codes outside the supported set will be accepted by the API but may lead to unexpected behavior. The default value is `en`.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "admin#directory#customer",
          "description": "Identifies the resource as a customer. Value: `admin#directory#customer`"
        },
        "id": {
          "description": "The unique ID for the customer's Google Workspace account. (Readonly)",
          "type": "string"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "customerDomain": {
          "type": "string",
          "description": "The customer's primary domain name string. Do not include the `www` prefix when creating a new customer."
        },
        "postalAddress": {
          "description": "The customer's postal address information.",
          "$ref": "CustomerPostalAddress"
        },
        "phoneNumber": {
          "description": "The customer's contact phone number in [E.164](https://en.wikipedia.org/wiki/E.164) format.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DirectoryChromeosdevicesCommandResult": {
      "type": "object",
      "properties": {
        "result": {
          "description": "The result of the command.",
          "enumDescriptions": [
            "The command result was unspecified.",
            "The command was ignored as obsolete.",
            "The command could not be executed successfully.",
            "The command was successfully executed."
          ],
          "type": "string",
          "enum": [
            "COMMAND_RESULT_TYPE_UNSPECIFIED",
            "IGNORED",
            "FAILURE",
            "SUCCESS"
          ]
        },
        "errorMessage": {
          "description": "The error message with a short explanation as to why the command failed. Only present if the command failed.",
          "type": "string"
        },
        "executeTime": {
          "description": "The time at which the command was executed or failed to execute.",
          "format": "google-datetime",
          "type": "string"
        },
        "commandResultPayload": {
          "description": "The payload for the command result. The following commands respond with a payload: * `DEVICE_START_CRD_SESSION`: Payload is a stringified JSON object in the form: { \"url\": url }. The provided URL links to the Chrome Remote Desktop session and requires authentication using only the `email` associated with the command's issuance. * `FETCH_CRD_AVAILABILITY_INFO`: Payload is a stringified JSON object in the form: { \"deviceIdleTimeInSeconds\": number, \"userSessionType\": string, \"remoteSupportAvailability\": string, \"remoteAccessAvailability\": string }. The \"remoteSupportAvailability\" field is set to \"AVAILABLE\" if `shared` CRD session to the device is available. The \"remoteAccessAvailability\" field is set to \"AVAILABLE\" if `private` CRD session to the device is available.",
          "type": "string"
        }
      },
      "id": "DirectoryChromeosdevicesCommandResult",
      "description": "The result of executing a command."
    },
    "UserLanguage": {
      "type": "object",
      "id": "UserLanguage",
      "properties": {
        "customLanguage": {
          "description": "Other language. User can provide their own language name if there is no corresponding ISO 639 language code. If this is set, `languageCode` can't be set.",
          "type": "string"
        },
        "languageCode": {
          "description": "ISO 639 string representation of a language. See [Language Codes](/admin-sdk/directory/v1/languages) for the list of supported codes. Valid language codes outside the supported set will be accepted by the API but may lead to unexpected behavior. Illegal values cause `SchemaException`. If this is set, `customLanguage` can't be set.",
          "type": "string"
        },
        "preference": {
          "type": "string",
          "description": "Optional. If present, controls whether the specified `languageCode` is the user's preferred language. If `customLanguage` is set, this can't be set. Allowed values are `preferred` and `not_preferred`."
        }
      },
      "description": "JSON template for a language entry."
    },
    "UserRelation": {
      "type": "object",
      "description": "JSON template for a relation entry.",
      "id": "UserRelation",
      "properties": {
        "type": {
          "description": "The relation of the user. Some of the possible values are mother father sister brother manager assistant partner.",
          "type": "string"
        },
        "value": {
          "description": "The name of the relation.",
          "type": "string"
        },
        "customType": {
          "description": "Custom Type.",
          "type": "string"
        }
      }
    },
    "Group": {
      "id": "Group",
      "properties": {
        "externalIds": {
          "items": {
            "$ref": "ExternalId"
          },
          "description": "Optional. The list of external IDs for the group, such as an immutable identifier from an external identity provider or directory sync client. Each entry contains a namespace and an ID value.",
          "type": "array"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "directMembersCount": {
          "type": "string",
          "format": "int64",
          "description": "The number of users that are direct members of the group. If a group is a member (child) of this group (the parent), members of the child group are not counted in the `directMembersCount` property of the parent group."
        },
        "adminCreated": {
          "description": "Read-only. Value is `true` if this group was created by an administrator rather than a user.",
          "type": "boolean"
        },
        "id": {
          "type": "string",
          "description": "Read-only. The unique ID of a group. A group `id` can be used as a group request URI's `groupKey`."
        },
        "description": {
          "type": "string",
          "description": "An extended description to help users determine the purpose of a group. For example, you can include information about who should join the group, the types of messages to send to the group, links to FAQs about the group, or related groups. Maximum length is `4,096` characters."
        },
        "aliases": {
          "description": "Read-only. The list of a group's alias email addresses. To add, update, or remove a group's aliases, use the `groups.aliases` methods. If edited in a group's POST or PUT request, the edit is ignored.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "The group's display name.",
          "type": "string"
        },
        "email": {
          "annotations": {
            "required": [
              "directory.groups.insert"
            ]
          },
          "type": "string",
          "description": "The group's email address. If your account has multiple domains, select the appropriate domain for the email address. The `email` must be unique. This property is required when creating a group. Group email addresses are subject to the same character usage rules as usernames, see the [help center](https://support.google.com/a/answer/9193374) for details."
        },
        "kind": {
          "description": "The type of the API resource. For Groups resources, the value is `admin#directory#group`.",
          "default": "admin#directory#group",
          "type": "string"
        },
        "nonEditableAliases": {
          "type": "array",
          "description": "Read-only. The list of the group's non-editable alias email addresses that are outside of the account's primary domain or subdomains. These are functioning email addresses used by the group. This is a read-only property returned in the API's response for a group. If edited in a group's POST or PUT request, the edit is ignored.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
[...]
