{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/admin.datatransfer": {
          "description": "View and manage data transfers between users in your organization"
        },
        "https://www.googleapis.com/auth/admin.datatransfer.readonly": {
          "description": "View data transfers between users in your organization"
        }
      }
    }
  },
  "parameters": {
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    }
  },
  "batchPath": "batch",
  "description": "Admin SDK lets administrators of enterprise domains to view and manage resources like user, groups etc. It also provides audit and usage reports of domain.",
  "packagePath": "admin",
  "rootUrl": "https://admin.googleapis.com/",
  "discoveryVersion": "v1",
  "canonicalName": "DataTransfer",
  "baseUrl": "https://admin.googleapis.com/",
  "protocol": "rest",
  "mtlsRootUrl": "https://admin.mtls.googleapis.com/",
  "resources": {
    "applications": {
      "methods": {
        "get": {
          "parameterOrder": [
            "applicationId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "flatPath": "admin/datatransfer/v1/applications/{applicationId}",
          "description": "Retrieves information about an application for the given application ID.",
          "parameters": {
            "applicationId": {
              "description": "ID of the application resource to be retrieved.",
              "required": true,
              "format": "int64",
              "type": "string",
              "location": "path"
            }
          },
          "path": "admin/datatransfer/v1/applications/{applicationId}",
          "id": "datatransfer.applications.get",
          "httpMethod": "GET",
          "response": {
            "$ref": "Application"
          }
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "parameters": {
            "customerId": {
              "description": "Immutable ID of the Google Workspace account.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "description": "Maximum number of results to return. Default is 100.",
              "format": "int32",
              "type": "integer",
              "maximum": "500",
              "location": "query",
              "minimum": "1"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Token to specify next page in the list."
            }
          },
          "flatPath": "admin/datatransfer/v1/applications",
          "path": "admin/datatransfer/v1/applications",
          "description": "Lists the applications available for data transfer for a customer.",
          "id": "datatransfer.applications.list",
          "httpMethod": "GET",
          "response": {
            "$ref": "ApplicationsListResponse"
          },
          "parameterOrder": []
        }
      }
    },
    "transfers": {
      "methods": {
        "insert": {
          "flatPath": "admin/datatransfer/v1/transfers",
          "path": "admin/datatransfer/v1/transfers",
          "parameterOrder": [],
          "httpMethod": "POST",
          "response": {
            "$ref": "DataTransfer"
          },
          "id": "datatransfer.transfers.insert",
          "parameters": {},
          "description": "Inserts a data transfer request. See the [Transfer parameters](https://developers.google.com/workspace/admin/data-transfer/v1/parameters) reference for specific application requirements.",
          "request": {
            "$ref": "DataTransfer"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer"
          ]
        },
        "list": {
          "httpMethod": "GET",
          "flatPath": "admin/datatransfer/v1/transfers",
          "parameterOrder": [],
          "path": "admin/datatransfer/v1/transfers",
          "id": "datatransfer.transfers.list",
          "response": {
            "$ref": "DataTransfersListResponse"
          },
          "parameters": {
            "oldOwnerUserId": {
              "description": "Source user's profile ID.",
              "type": "string",
              "location": "query"
            },
            "customerId": {
              "description": "Immutable ID of the Google Workspace account.",
              "type": "string",
              "location": "query"
            },
            "status": {
              "type": "string",
              "location": "query",
              "description": "Status of the transfer."
            },
            "maxResults": {
              "description": "Maximum number of results to return. Default is 100.",
              "maximum": "500",
              "location": "query",
              "minimum": "1",
              "type": "integer",
              "format": "int32"
            },
            "newOwnerUserId": {
              "type": "string",
              "location": "query",
              "description": "Destination user's profile ID."
            },
            "pageToken": {
              "type": "string",
              "description": "Token to specify the next page in the list.",
              "location": "query"
            }
          },
          "description": "Lists the transfers for a customer by source user, destination user, or status.",
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ]
        },
        "get": {
          "httpMethod": "GET",
          "parameterOrder": [
            "dataTransferId"
          ],
          "flatPath": "admin/datatransfer/v1/transfers/{dataTransferId}",
          "description": "Retrieves a data transfer request by its resource ID.",
          "path": "admin/datatransfer/v1/transfers/{dataTransferId}",
          "id": "datatransfer.transfers.get",
          "parameters": {
            "dataTransferId": {
              "required": true,
              "location": "path",
              "description": "ID of the resource to be retrieved. This is returned in the response from the insert method.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "DataTransfer"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ]
        }
      }
    }
  },
  "name": "admin",
  "fullyEncodeReservedExpansion": true,
  "revision": "20260924",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "title": "Admin SDK API",
  "basePath": "",
  "servicePath": "",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "kind": "discovery#restDescription",
  "version": "datatransfer_v1",
  "schemas": {
    "Application": {
      "id": "Application",
      "description": "Application resources represent applications installed on the domain that support transferring ownership of user data.",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "The application's ID. Retrievable by using the [`applications.list()`](https://developers.google.com/workspace/admin/data-transfer/reference/rest/v1/applications/list) method.",
          "format": "int64"
        },
        "etag": {
          "type": "string",
          "description": "Etag of the resource."
        },
        "name": {
          "description": "The application's name.",
          "type": "string"
        },
        "transferParams": {
          "items": {
            "$ref": "ApplicationTransferParam"
          },
          "type": "array",
          "description": "The list of all possible transfer parameters for this application. These parameters select which categories of the user's data to transfer."
        },
        "kind": {
          "description": "Identifies the resource as a DataTransfer Application Resource.",
          "type": "string",
          "default": "admin#datatransfer#ApplicationResource"
        }
      }
    },
    "DataTransfer": {
      "description": "A Transfer resource represents the transfer of the ownership of user data between users.",
      "id": "DataTransfer",
      "properties": {
        "requestTime": {
          "format": "date-time",
          "description": "Read-only. The time at which the data transfer was requested.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies the resource as a DataTransfer request.",
          "type": "string",
          "default": "admin#datatransfer#DataTransfer"
        },
        "overallTransferStatusCode": {
          "description": "Read-only. Overall transfer status.",
          "type": "string"
        },
        "newOwnerUserId": {
          "description": "ID of the user to whom the data is being transferred.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "id": {
          "description": "Read-only. The transfer's ID.",
          "type": "string"
        },
        "oldOwnerUserId": {
          "description": "ID of the user whose data is being transferred.",
          "type": "string"
        },
        "applicationDataTransfers": {
          "items": {
            "$ref": "ApplicationDataTransfer"
          },
          "type": "array",
          "description": "The list of per-application data transfer resources. It contains details of the applications associated with this transfer resource, and also specifies the applications for which data transfer has to be done at the time of the transfer resource creation."
        }
      },
      "type": "object"
    },
    "DataTransfersListResponse": {
      "description": "Template for a collection of DataTransfer resources.",
      "type": "object",
      "properties": {
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to specify the next page in the list."
        },
        "dataTransfers": {
          "items": {
            "$ref": "DataTransfer"
          },
          "type": "array",
          "description": "List of data transfer requests."
        },
        "kind": {
          "default": "admin#datatransfer#dataTransfersList",
          "type": "string",
          "description": "Identifies the resource as a collection of data transfer requests."
        }
      },
      "id": "DataTransfersListResponse"
    },
    "ApplicationsListResponse": {
      "properties": {
        "kind": {
          "default": "admin#datatransfer#applicationsList",
          "type": "string",
          "description": "Identifies the resource as a collection of Applications."
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "applications": {
          "description": "The list of applications that support data transfer and are also installed for the customer.",
          "type": "array",
          "items": {
            "$ref": "Application"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to specify the next page in the list."
        }
      },
      "type": "object",
      "description": "Template for a collection of Applications.",
      "id": "ApplicationsListResponse"
    },
    "ApplicationTransferParam": {
      "id": "ApplicationTransferParam",
      "description": "Template for application transfer parameters.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The value of the transfer parameter, such as `PRIVATE` or `SHARED`.",
          "items": {
            "type": "string"
          }
        },
        "key": {
          "type": "string",
          "description": "The type of the transfer parameter, such as `PRIVACY_LEVEL`."
        }
      },
      "type": "object"
    },
    "ApplicationDataTransfer": {
      "id": "ApplicationDataTransfer",
      "properties": {
        "applicationId": {
          "format": "int64",
          "description": "The application's ID.",
          "type": "string"
        },
        "applicationTransferParams": {
          "items": {
            "$ref": "ApplicationTransferParam"
          },
          "type": "array",
          "description": "The transfer parameters for the application. These parameters are used to select the data which will get transferred in context of this application. For more information about the specific values available for each application, see the [Transfer parameters](https://developers.google.com/workspace/admin/data-transfer/v1/parameters) reference."
        },
        "applicationTransferStatus": {
          "type": "string",
          "description": "Read-only. Current status of transfer for this application."
        }
      },
      "type": "object",
      "description": "Template to map fields of ApplicationDataTransfer resource."
    }
  },
  "id": "admin:datatransfer_v1",
  "documentationLink": "https://developers.google.com/workspace/admin/"
}