{
  "protocol": "rest",
  "basePath": "",
  "batchPath": "batch",
  "revision": "20260902",
  "canonicalName": "DataTransfer",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "baseUrl": "https://admin.googleapis.com/",
  "title": "Admin SDK API",
  "packagePath": "admin",
  "fullyEncodeReservedExpansion": true,
  "version": "datatransfer_v1",
  "discoveryVersion": "v1",
  "id": "admin:datatransfer_v1",
  "ownerDomain": "google.com",
  "description": "Admin SDK lets administrators of enterprise domains to view and manage resources like user, groups etc. It also provides audit and usage reports of domain.",
  "schemas": {
    "Application": {
      "description": "Application resources represent applications installed on the domain that support transferring ownership of user data.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies the resource as a DataTransfer Application Resource.",
          "type": "string",
          "default": "admin#datatransfer#ApplicationResource"
        },
        "transferParams": {
          "items": {
            "$ref": "ApplicationTransferParam"
          },
          "description": "The list of all possible transfer parameters for this application. These parameters select which categories of the user's data to transfer.",
          "type": "array"
        },
        "etag": {
          "type": "string",
          "description": "Etag of the resource."
        },
        "id": {
          "description": "The application's ID. Retrievable by using the [`applications.list()`](https://developers.google.com/workspace/admin/data-transfer/reference/rest/v1/applications/list) method.",
          "format": "int64",
          "type": "string"
        },
        "name": {
          "description": "The application's name.",
          "type": "string"
        }
      },
      "id": "Application"
    },
    "DataTransfersListResponse": {
      "type": "object",
      "properties": {
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "kind": {
          "default": "admin#datatransfer#dataTransfersList",
          "type": "string",
          "description": "Identifies the resource as a collection of data transfer requests."
        },
        "dataTransfers": {
          "type": "array",
          "description": "List of data transfer requests.",
          "items": {
            "$ref": "DataTransfer"
          }
        },
        "nextPageToken": {
          "description": "Token to specify the next page in the list.",
          "type": "string"
        }
      },
      "id": "DataTransfersListResponse",
      "description": "Template for a collection of DataTransfer resources."
    },
    "ApplicationTransferParam": {
      "id": "ApplicationTransferParam",
      "properties": {
        "key": {
          "description": "The type of the transfer parameter, such as `PRIVACY_LEVEL`.",
          "type": "string"
        },
        "value": {
          "items": {
            "type": "string"
          },
          "description": "The value of the transfer parameter, such as `PRIVATE` or `SHARED`.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Template for application transfer parameters."
    },
    "DataTransfer": {
      "properties": {
        "oldOwnerUserId": {
          "type": "string",
          "description": "ID of the user whose data is being transferred."
        },
        "newOwnerUserId": {
          "description": "ID of the user to whom the data is being transferred.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "applicationDataTransfers": {
          "description": "The list of per-application data transfer resources. It contains details of the applications associated with this transfer resource, and also specifies the applications for which data transfer has to be done at the time of the transfer resource creation.",
          "items": {
            "$ref": "ApplicationDataTransfer"
          },
          "type": "array"
        },
        "overallTransferStatusCode": {
          "type": "string",
          "description": "Read-only. Overall transfer status."
        },
        "requestTime": {
          "description": "Read-only. The time at which the data transfer was requested.",
          "type": "string",
          "format": "date-time"
        },
        "id": {
          "type": "string",
          "description": "Read-only. The transfer's ID."
        },
        "kind": {
          "type": "string",
          "description": "Identifies the resource as a DataTransfer request.",
          "default": "admin#datatransfer#DataTransfer"
        }
      },
      "type": "object",
      "description": "A Transfer resource represents the transfer of the ownership of user data between users.",
      "id": "DataTransfer"
    },
    "ApplicationsListResponse": {
      "description": "Template for a collection of Applications.",
      "type": "object",
      "properties": {
        "kind": {
          "default": "admin#datatransfer#applicationsList",
          "type": "string",
          "description": "Identifies the resource as a collection of Applications."
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to specify the next page in the list."
        },
        "applications": {
          "items": {
            "$ref": "Application"
          },
          "type": "array",
          "description": "The list of applications that support data transfer and are also installed for the customer."
        }
      },
      "id": "ApplicationsListResponse"
    },
    "ApplicationDataTransfer": {
      "properties": {
        "applicationTransferStatus": {
          "type": "string",
          "description": "Read-only. Current status of transfer for this application."
        },
        "applicationTransferParams": {
          "items": {
            "$ref": "ApplicationTransferParam"
          },
          "description": "The transfer parameters for the application. These parameters are used to select the data which will get transferred in context of this application. For more information about the specific values available for each application, see the [Transfer parameters](https://developers.google.com/workspace/admin/data-transfer/v1/parameters) reference.",
          "type": "array"
        },
        "applicationId": {
          "type": "string",
          "description": "The application's ID.",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "ApplicationDataTransfer",
      "description": "Template to map fields of ApplicationDataTransfer resource."
    }
  },
  "kind": "discovery#restDescription",
  "parameters": {
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "description": "Data format for response."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    }
  },
  "resources": {
    "transfers": {
      "methods": {
        "get": {
          "parameters": {
            "dataTransferId": {
              "description": "ID of the resource to be retrieved. This is returned in the response from the insert method.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "description": "Retrieves a data transfer request by its resource ID.",
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "parameterOrder": [
            "dataTransferId"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "DataTransfer"
          },
          "flatPath": "admin/datatransfer/v1/transfers/{dataTransferId}",
          "path": "admin/datatransfer/v1/transfers/{dataTransferId}",
          "id": "datatransfer.transfers.get"
        },
        "insert": {
          "response": {
            "$ref": "DataTransfer"
          },
          "httpMethod": "POST",
          "id": "datatransfer.transfers.insert",
          "flatPath": "admin/datatransfer/v1/transfers",
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer"
          ],
          "path": "admin/datatransfer/v1/transfers",
          "request": {
            "$ref": "DataTransfer"
          },
          "parameterOrder": [],
          "description": "Inserts a data transfer request. See the [Transfer parameters](https://developers.google.com/workspace/admin/data-transfer/v1/parameters) reference for specific application requirements.",
          "parameters": {}
        },
        "list": {
          "response": {
            "$ref": "DataTransfersListResponse"
          },
          "parameters": {
            "customerId": {
              "location": "query",
              "type": "string",
              "description": "Immutable ID of the Google Workspace account."
            },
            "maxResults": {
              "maximum": "500",
              "type": "integer",
              "minimum": "1",
              "format": "int32",
              "description": "Maximum number of results to return. Default is 100.",
              "location": "query"
            },
            "newOwnerUserId": {
              "type": "string",
              "location": "query",
              "description": "Destination user's profile ID."
            },
            "oldOwnerUserId": {
              "description": "Source user's profile ID.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Token to specify the next page in the list."
            },
            "status": {
              "description": "Status of the transfer.",
              "type": "string",
              "location": "query"
            }
          },
          "flatPath": "admin/datatransfer/v1/transfers",
          "parameterOrder": [],
          "httpMethod": "GET",
          "id": "datatransfer.transfers.list",
          "path": "admin/datatransfer/v1/transfers",
          "description": "Lists the transfers for a customer by source user, destination user, or status.",
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ]
        }
      }
    },
    "applications": {
      "methods": {
        "list": {
          "description": "Lists the applications available for data transfer for a customer.",
          "response": {
            "$ref": "ApplicationsListResponse"
          },
          "id": "datatransfer.applications.list",
          "parameterOrder": [],
          "parameters": {
            "pageToken": {
              "location": "query",
              "description": "Token to specify next page in the list.",
              "type": "string"
            },
            "customerId": {
              "location": "query",
              "type": "string",
              "description": "Immutable ID of the Google Workspace account."
            },
            "maxResults": {
              "maximum": "500",
              "location": "query",
              "description": "Maximum number of results to return. Default is 100.",
              "type": "integer",
              "minimum": "1",
              "format": "int32"
            }
          },
          "flatPath": "admin/datatransfer/v1/applications",
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "path": "admin/datatransfer/v1/applications",
          "httpMethod": "GET"
        },
        "get": {
          "id": "datatransfer.applications.get",
          "parameters": {
            "applicationId": {
              "description": "ID of the application resource to be retrieved.",
              "type": "string",
              "required": true,
              "format": "int64",
              "location": "path"
            }
          },
          "path": "admin/datatransfer/v1/applications/{applicationId}",
          "httpMethod": "GET",
          "response": {
            "$ref": "Application"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "description": "Retrieves information about an application for the given application ID.",
          "flatPath": "admin/datatransfer/v1/applications/{applicationId}",
          "parameterOrder": [
            "applicationId"
          ]
        }
      }
    }
  },
  "servicePath": "",
  "mtlsRootUrl": "https://admin.mtls.googleapis.com/",
  "ownerName": "Google",
  "documentationLink": "https://developers.google.com/workspace/admin/",
  "name": "admin",
  "rootUrl": "https://admin.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/admin.datatransfer.readonly": {
          "description": "View data transfers between users in your organization"
        },
        "https://www.googleapis.com/auth/admin.datatransfer": {
          "description": "View and manage data transfers between users in your organization"
        }
      }
    }
  }
}