{
  "baseUrl": "https://admob.googleapis.com/",
  "title": "AdMob API",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "name": "admob",
  "canonicalName": "AdMob",
  "version": "v1beta",
  "version_module": true,
  "parameters": {
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    }
  },
  "revision": "20260923",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/admob.readonly": {
          "description": "See your AdMob data"
        },
        "https://www.googleapis.com/auth/admob.report": {
          "description": "See your AdMob data"
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "resources": {
    "accounts": {
      "methods": {
        "get": {
          "response": {
            "$ref": "PublisherAccount"
          },
          "httpMethod": "GET",
          "flatPath": "v1beta/accounts/{accountsId}",
          "scopes": [
            "https://www.googleapis.com/auth/admob.readonly",
            "https://www.googleapis.com/auth/admob.report"
          ],
          "description": "Gets information about the specified AdMob publisher account.",
          "parameterOrder": [
            "name"
          ],
          "path": "v1beta/{+name}",
          "parameters": {
            "name": {
              "required": true,
              "location": "path",
              "pattern": "^accounts/[^/]+$",
              "type": "string",
              "description": "Resource name of the publisher account to retrieve. Example: accounts/pub-9876543210987654"
            }
          },
          "streamingType": "NONE",
          "id": "admob.accounts.get"
        },
        "list": {
          "httpMethod": "GET",
          "parameterOrder": [],
          "streamingType": "NONE",
          "path": "v1beta/accounts",
          "description": "Lists the AdMob publisher account that was most recently signed in to from the AdMob UI. For more information, see https://support.google.com/admob/answer/10243672.",
          "id": "admob.accounts.list",
          "scopes": [
            "https://www.googleapis.com/auth/admob.readonly",
            "https://www.googleapis.com/auth/admob.report"
          ],
          "flatPath": "v1beta/accounts",
          "response": {
            "$ref": "ListPublisherAccountsResponse"
          },
          "parameters": {
            "pageToken": {
              "description": "The value returned by the last `ListPublisherAccountsResponse`; indicates that this is a continuation of a prior `ListPublisherAccounts` call, and that the system should return the next page of data.",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "format": "int32",
              "type": "integer",
              "location": "query",
              "description": "Maximum number of accounts to return."
            }
          }
        }
      },
      "resources": {
        "mediationGroups": {
          "methods": {
            "list": {
              "parameters": {
                "filter": {
                  "type": "string",
                  "description": "The filter string that uses [EBNF grammar syntax](https://google.aip.dev/assets/misc/ebnf-filtering.txt). Possible fields to filter by are: - \"AD_SOURCE_IDS\" - \"AD_UNIT_IDS\" - \"APP_IDS\" - \"DISPLAY_NAME\" - \"FORMAT\" - \"MEDIATION_GROUP_ID\" - \"PLATFORM\" - \"STATE\" - \"TARGETED_REGION_CODES\" Possible filter functions are: - `IN`: Used to filter fields that represent a singleton including \"MEDIATION_GROUP_ID\", \"DISPLAY_NAME\", \"STATE\", \"PLATFORM\", and \"FORMAT\". - `CONTAINS_ANY`: Used to filter fields that represent a collection including \"AD_SOURCE_IDS\", \"AD_UNIT_IDS\", \"APP_IDS\", and \"TARGETED_REGION_CODES\". The filter functions can be added together using `AND`. `OR` functionality is not supported. Example: filter: IN(DISPLAY_NAME, \"Test Group 1\", \"Test Group 2\") AND IN(PLATFORM, \"ANDROID\") AND CONTAINS_ANY(AD_SOURCE_IDS, \"5450213213286189855\")",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "pattern": "^accounts/[^/]+$",
                  "description": "Required. Resource name of the account to list mediation groups for. Example: accounts/pub-9876543210987654",
                  "type": "string",
                  "required": true
                },
                "pageToken": {
                  "location": "query",
                  "description": "The value returned by the last `ListMediationGroupsResponse`; indicates that this is a continuation of a prior `ListMediationGroups` call, and that the system should return the next page of data.",
                  "type": "string"
                },
                "pageSize": {
                  "description": "The maximum number of mediation groups to return. If unspecified or 0, at most 10,000 mediation groups will be returned. The maximum value is 20,000; values above 20,000 will be coerced to 20,000.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                }
              },
              "response": {
                "$ref": "ListMediationGroupsResponse"
              },
              "flatPath": "v1beta/accounts/{accountsId}/mediationGroups",
              "id": "admob.accounts.mediationGroups.list",
              "path": "v1beta/{+parent}/mediationGroups",
              "description": "List mediation groups under the specified AdMob account. This method has limited access. If you see a 403 permission denied error, please reach out to your account manager for access.",
              "streamingType": "NONE",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/admob.readonly"
              ]
            },
            "patch": {
              "httpMethod": "PATCH",
              "flatPath": "v1beta/accounts/{accountsId}/mediationGroups/{mediationGroupsId}",
              "description": "Update the specified mediation group under the specified AdMob account. This method has limited access. If you see a 403 permission denied error, please reach out to your account manager for access.",
              "response": {
                "$ref": "MediationGroup"
              },
              "request": {
                "$ref": "MediationGroup"
              },
              "id": "admob.accounts.mediationGroups.patch",
              "streamingType": "NONE",
              "parameters": {
                "name": {
                  "pattern": "^accounts/[^/]+/mediationGroups/[^/]+$",
                  "description": "Resource name for this mediation group. Format is: accounts/{publisher_id}/mediationGroups/{mediation_group_id} Example: accounts/pub-9876543210987654/mediationGroups/0123456789",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "updateMask": {
                  "location": "query",
                  "description": "List of mediation group fields to be updated. Updates to repeated fields such as items in a list will fully replace the existing value(s) with the new value(s). Updates to individual values in a map can be done by indexing by the key. The following field masks are supported for mediation group updates: - \"mediation_group_lines[\\\"{mediation_group_line_id}\\\"]\" clang-format off - \"mediation_group_lines[\\\"{mediation_group_line_id}\\\"].ad_unit_mappings[\\\"{ad_unit_id}\\\"]\" clang-format on - \"mediation_group_lines[\\\"{mediation_group_line_id}\\\"].cpm_micros\" - \"mediation_group_lines[\\\"{mediation_group_line_id}\\\"].cpm_mode\" - \"mediation_group_lines[\\\"{mediation_group_line_id}\\\"].state\" - \"mediation_group_lines[\\\"{mediation_group_line_id}\\\"].display_name\" - \"targeting.ad_unit_ids\" To update a mediation group with a new mediation group line, use a distinct negative number for the \"mediation_group_line_id\". For Example: update_mask { paths: \"mediation_group_lines[\\\"123456789012345\\\"].cpm_micros\" }",
                  "format": "google-fieldmask",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta/{+name}"
            },
            "create": {
              "request": {
                "$ref": "MediationGroup"
              },
              "id": "admob.accounts.mediationGroups.create",
              "httpMethod": "POST",
              "description": "Create a mediation group under the specific AdMob account. This method has limited access. If you see a 403 permission denied error, please reach out to your account manager for access.",
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. The parent which owns the mediation group. Format: accounts/{publisher_id}",
                  "required": true,
                  "pattern": "^accounts/[^/]+$"
                }
              },
              "response": {
                "$ref": "MediationGroup"
              },
              "flatPath": "v1beta/accounts/{accountsId}/mediationGroups",
              "streamingType": "NONE",
              "path": "v1beta/{+parent}/mediationGroups",
              "parameterOrder": [
                "parent"
              ]
            }
          },
          "resources": {
            "mediationAbExperiments": {
              "methods": {
                "stop": {
                  "streamingType": "NONE",
                  "response": {
                    "$ref": "MediationAbExperiment"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Name of the mediation group, the experiment for which to choose a variant for. Example: accounts/pub-9876543210987654/mediationGroups/0123456789/ mediationAbExperiments",
                      "pattern": "^accounts/[^/]+/mediationGroups/[^/]+/mediationAbExperiments$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "id": "admob.accounts.mediationGroups.mediationAbExperiments.stop",
                  "flatPath": "v1beta/accounts/{accountsId}/mediationGroups/{mediationGroupsId}/mediationAbExperiments:stop",
                  "request": {
                    "$ref": "StopMediationAbExperimentRequest"
                  },
                  "path": "v1beta/{+name}:stop",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Stop the mediation A/B experiment and choose a variant. This method has limited access. If you see a 403 permission denied error, please reach out to your account manager for access."
                },
                "create": {
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "MediationAbExperiment"
                  },
                  "flatPath": "v1beta/accounts/{accountsId}/mediationGroups/{mediationGroupsId}/mediationAbExperiments",
                  "response": {
                    "$ref": "MediationAbExperiment"
                  },
                  "description": "Create an A/B testing experiment for a specified AdMob account and a mediation group. This method has limited access. If you see a 403 permission denied error, please reach out to your account manager for access.",
                  "streamingType": "NONE",
                  "path": "v1beta/{+parent}/mediationAbExperiments",
                  "id": "admob.accounts.mediationGroups.mediationAbExperiments.create",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. The parent which owns the mediation group. Format: accounts/{publisher_id}/mediationGroups/{mediation_group_id}",
                      "pattern": "^accounts/[^/]+/mediationGroups/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                }
              }
            }
          }
        },
        "mediationReport": {
          "methods": {
            "generate": {
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "type": "string",
                  "required": true,
                  "description": "Resource name of the account to generate the report for. Example: accounts/pub-9876543210987654",
                  "pattern": "^accounts/[^/]+$",
                  "location": "path"
                }
              },
              "streamingType": "SERVER_SIDE",
              "scopes": [
                "https://www.googleapis.com/auth/admob.readonly",
                "https://www.googleapis.com/auth/admob.report"
              ],
              "id": "admob.accounts.mediationReport.generate",
              "response": {
                "$ref": "GenerateMediationReportResponse"
              },
              "flatPath": "v1beta/accounts/{accountsId}/mediationReport:generate",
              "request": {
                "$ref": "GenerateMediationReportRequest"
              },
              "path": "v1beta/{+parent}/mediationReport:generate",
              "description": "Generates an AdMob Mediation report based on the provided report specification. Returns result of a server-side streaming RPC. The result is returned in a sequence of responses.",
              "httpMethod": "POST"
            }
          }
        },
        "adUnitMappings": {
          "methods": {
            "batchCreate": {
              "description": "Batch create the ad unit mappings under the specific AdMob account. The maximum allowed batch size is 100. This method has limited access. If you see a 403 permission denied error, please reach out to your account manager for access.",
              "path": "v1beta/{+parent}/adUnitMappings:batchCreate",
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^accounts/[^/]+$",
                  "type": "string",
                  "description": "Required. The AdMob account which owns this collection of ad unit mappings. Format: accounts/{publisher_id} See https://support.google.com/admob/answer/2784578 for instructions on how to find your AdMob publisher ID.",
                  "required": true
                }
              },
              "flatPath": "v1beta/accounts/{accountsId}/adUnitMappings:batchCreate",
              "id": "admob.accounts.adUnitMappings.batchCreate",
              "response": {
                "$ref": "BatchCreateAdUnitMappingsResponse"
              },
              "streamingType": "NONE",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "BatchCreateAdUnitMappingsRequest"
              },
              "httpMethod": "POST"
            }
          }
        },
        "adSources": {
          "resources": {
            "adapters": {
              "methods": {
                "list": {
                  "streamingType": "NONE",
                  "flatPath": "v1beta/accounts/{accountsId}/adSources/{adSourcesId}/adapters",
                  "id": "admob.accounts.adSources.adapters.list",
                  "response": {
                    "$ref": "ListAdaptersResponse"
                  },
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^accounts/[^/]+/adSources/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Required. The parent which owns this collection of adapters. Format: accounts/{publisher_id}/adSources/{ad_source_id}"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "A page token, received from a previous `ListAdapters` call. Provide this to retrieve the subsequent page.",
                      "location": "query"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "The maximum number of adapters to return. If unspecified or 0, at most 10,000 adapters will be returned. The maximum value is 20,000; values above 20,000 will be coerced to 20,000."
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "List the adapters of the ad source.",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/admob.readonly"
                  ],
                  "path": "v1beta/{+parent}/adapters"
                }
              }
            }
          },
          "methods": {
            "list": {
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1beta/accounts/{accountsId}/adSources",
              "id": "admob.accounts.adSources.list",
              "path": "v1beta/{+parent}/adSources",
              "response": {
                "$ref": "ListAdSourcesResponse"
              },
              "description": "List the ad sources.",
              "scopes": [
                "https://www.googleapis.com/auth/admob.readonly",
                "https://www.googleapis.com/auth/admob.report"
              ],
              "streamingType": "NONE",
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. The parent which owns this collection of ad sources. Format: accounts/{publisher_id}",
                  "pattern": "^accounts/[^/]+$",
                  "type": "string",
                  "required": true
                },
                "pageSize": {
                  "type": "integer",
                  "description": "The maximum number of ad sources to return. If unspecified or 0, at most 10,000 ad sources will be returned. The maximum value is 20,000; values above 10,000 will be coerced to 20,000.",
                  "format": "int32",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A page token, received from a previous `ListAdSources` call. Provide this to retrieve the subsequent page."
                }
              }
            }
          }
        },
        "networkReport": {
          "methods": {
            "generate": {
              "path": "v1beta/{+parent}/networkReport:generate",
              "httpMethod": "POST",
              "id": "admob.accounts.networkReport.generate",
              "streamingType": "SERVER_SIDE",
              "flatPath": "v1beta/accounts/{accountsId}/networkReport:generate",
              "response": {
                "$ref": "GenerateNetworkReportResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/admob.readonly",
                "https://www.googleapis.com/auth/admob.report"
              ],
              "request": {
                "$ref": "GenerateNetworkReportRequest"
              },
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Resource name of the account to generate the report for. Example: accounts/pub-9876543210987654",
                  "pattern": "^accounts/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "description": "Generates an AdMob Network report based on the provided report specification. Returns result of a server-side streaming RPC. The result is returned in a sequence of responses."
            }
          }
        },
        "campaignReport": {
          "methods": {
            "generate": {
              "description": "Generates Campaign Report based on provided specifications.",
              "scopes": [
                "https://www.googleapis.com/auth/admob.readonly",
                "https://www.googleapis.com/auth/admob.report"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "GenerateCampaignReportRequest"
              },
              "parameters": {
                "parent": {
                  "description": "Resource name of the account to generate the report for. Example: accounts/pub-9876543210987654",
                  "type": "string",
                  "location": "path",
                  "pattern": "^accounts/[^/]+$",
                  "required": true
                }
              },
              "path": "v1beta/{+parent}/campaignReport:generate",
              "streamingType": "NONE",
              "flatPath": "v1beta/accounts/{accountsId}/campaignReport:generate",
              "id": "admob.accounts.campaignReport.generate",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GenerateCampaignReportResponse"
              }
            }
          }
        },
        "adUnits": {
          "resources": {
            "adUnitMappings": {
              "methods": {
                "list": {
                  "path": "v1beta/{+parent}/adUnitMappings",
                  "httpMethod": "GET",
                  "description": "List ad unit mappings under the specified AdMob account and ad unit. This method has limited access. If you see a 403 permission denied error, please reach out to your account manager for access.",
                  "scopes": [
                    "https://www.googleapis.com/auth/admob.readonly"
                  ],
                  "streamingType": "NONE",
                  "id": "admob.accounts.adUnits.adUnitMappings.list",
                  "flatPath": "v1beta/accounts/{accountsId}/adUnits/{adUnitsId}/adUnitMappings",
                  "response": {
                    "$ref": "ListAdUnitMappingsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "filter": {
                      "description": "The filter string that uses [EBNF grammar syntax](https://google.aip.dev/assets/misc/ebnf-filtering.txt). Possible field to filter by is: - \"DISPLAY_NAME\" Possible filter function is: - `IN`: Used to filter fields that represent a singleton including \"DISPLAY_NAME\". The filter functions can be added together using `AND`. `OR` functionality is not supported. Example: filter: IN(DISPLAY_NAME, \"Test Ad Unit Mapping 1\", \"Test Ad Unit Mapping 2\")",
                      "type": "string",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "A page token, received from a previous `ListAdUnitMappings` call. Provide this to retrieve the subsequent page.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "The maximum number of ad unit mappings to return. If unspecified or 0, at most 10,000 ad unit mappings will be returned. The maximum value is 20,000; values above 20,000 will be coerced to 20,000.",
                      "location": "query",
                      "format": "int32"
                    },
                    "parent": {
                      "pattern": "^accounts/[^/]+/adUnits/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Required. The parent which owns this collection of ad unit mappings. Format: accounts/{publisher_id}/adUnits/{ad_unit_id}",
                      "type": "string"
                    }
                  }
                },
                "create": {
                  "httpMethod": "POST",
                  "id": "admob.accounts.adUnits.adUnitMappings.create",
                  "description": "Create an ad unit mapping under the specific AdMob account and ad unit. This method has limited access. If you see a 403 permission denied error, please reach out to your account manager for access.",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. The parent which owns the ad unit mapping. Format: accounts/{publisher_id}/adUnits/{ad_unit_id}",
                      "pattern": "^accounts/[^/]+/adUnits/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "AdUnitMapping"
                  },
                  "path": "v1beta/{+parent}/adUnitMappings",
                  "response": {
                    "$ref": "AdUnitMapping"
                  },
                  "streamingType": "NONE",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1beta/accounts/{accountsId}/adUnits/{adUnitsId}/adUnitMappings"
                }
              }
            }
          },
          "methods": {
            "list": {
              "streamingType": "NONE",
              "parameterOrder": [
                "parent"
              ],
              "id": "admob.accounts.adUnits.list",
              "httpMethod": "GET",
              "flatPath": "v1beta/accounts/{accountsId}/adUnits",
              "response": {
                "$ref": "ListAdUnitsResponse"
              },
              "description": "List the ad units under the specified AdMob account.",
              "scopes": [
                "https://www.googleapis.com/auth/admob.readonly"
              ],
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^accounts/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. Resource name of the account to list ad units for. Example: accounts/pub-9876543210987654"
                },
                "pageToken": {
                  "description": "The value returned by the last `ListAdUnitsResponse`; indicates that this is a continuation of a prior `ListAdUnits` call, and that the system should return the next page of data.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "description": "The maximum number of ad units to return. If unspecified or 0, at most 10,000 ad units will be returned. The maximum value is 20,000; values above 20,000 will be coerced to 20,000.",
                  "location": "query"
                }
              },
              "path": "v1beta/{+parent}/adUnits"
            },
            "create": {
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. Resource name of the account to create the specified ad unit for. Example: accounts/pub-9876543210987654",
                  "pattern": "^accounts/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "request": {
                "$ref": "AdUnit"
              },
              "description": "Creates an ad unit under the specified AdMob account. This method has limited access. If you see a 403 permission denied error, please reach out to your account manager for access.",
              "streamingType": "NONE",
              "response": {
                "$ref": "AdUnit"
              },
              "flatPath": "v1beta/accounts/{accountsId}/adUnits",
              "path": "v1beta/{+parent}/adUnits",
              "id": "admob.accounts.adUnits.create",
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ]
            }
          }
        },
        "apps": {
          "methods": {
            "create": {
              "id": "admob.accounts.apps.create",
              "streamingType": "NONE",
              "description": "Creates an app under the specified AdMob account. This method has limited access. If you see a 403 permission denied error, please reach out to your account manager for access.",
              "httpMethod": "POST",
              "path": "v1beta/{+parent}/apps",
              "request": {
                "$ref": "App"
              },
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "type": "string",
                  "required": true,
                  "pattern": "^accounts/[^/]+$",
                  "description": "Required. Resource name of the account for which the app is being created. Example: accounts/pub-9876543210987654",
                  "location": "path"
                }
              },
              "flatPath": "v1beta/accounts/{accountsId}/apps",
              "response": {
                "$ref": "App"
              }
            },
            "list": {
              "streamingType": "NONE",
              "path": "v1beta/{+parent}/apps",
              "scopes": [
                "https://www.googleapis.com/auth/admob.readonly"
              ],
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "description": "Required. Resource name of the account to list apps for. Example: accounts/pub-9876543210987654",
                  "pattern": "^accounts/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "The value returned by the last `ListAppsResponse`; indicates that this is a continuation of a prior `ListApps` call, and that the system should return the next page of data."
                },
                "pageSize": {
                  "description": "The maximum number of apps to return. If unspecified or 0, at most 10,000 apps will be returned. The maximum value is 20,000; values above 20,000 will be coerced to 20,000.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                }
              },
              "httpMethod": "GET",
              "flatPath": "v1beta/accounts/{accountsId}/apps",
              "response": {
                "$ref": "ListAppsResponse"
              },
              "description": "List the apps under the specified AdMob account.",
              "id": "admob.accounts.apps.list"
            }
          }
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "batchPath": "batch",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "protocol": "rest",
  "mtlsRootUrl": "https://admob.mtls.googleapis.com/",
  "kind": "discovery#restDescription",
  "rootUrl": "https://admob.googleapis.com/",
  "basePath": "",
  "schemas": {
    "MediationAbExperiment": {
      "description": "The mediation A/B experiment.",
      "properties": {
        "treatmentTrafficPercentage": {
          "type": "string",
          "format": "int64",
          "description": "The percentage of the mediation A/B experiment traffic that will be send to the treatment (variant B). The remainder is sent to the control (variant A). The percentage is expressed as an integer in the inclusive range of [1,99]. See https://support.google.com/admob/answer/9572326 for details."
        },
        "experimentId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Unique identifier for the mediation A/B experiment. It is an output only property."
        },
        "variantLeader": {
          "enumDescriptions": [
            "Default value of the enum. Do not use.",
            "The control leading the experiment.",
            "The treatment leading the experiment.",
            "Collected data (impressions) are insufficient to determine a leader.",
            "Experiment hasn't run long enough to determine a leader.",
            "Neither variant is a decisive winner in the observed data."
          ],
          "readOnly": true,
          "enum": [
            "VARIANT_LEADER_UNSPECIFIED",
            "CONTROL",
            "TREATMENT",
            "INSUFFICIENT_DATA",
            "TOO_EARLY_TO_CALL",
            "NO_VARIANT_LEADER"
          ],
          "description": "Output only. The variant leader for the experiment according to some key metrics.",
          "type": "string"
        },
        "endTime": {
          "description": "Output only. The time at which the experiment was ended or target to end (in UTC).",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "Resource name for this experiment. The format is accounts/{publisher_id}/ mediationGroups/{mediation_group_id}/mediationAbExperiment/ {mediation_group_experiment_id}. For example: accounts/pub-9876543210987654/mediationGroups/0123456789/ mediationAbExperiment/12345"
        },
        "displayName": {
          "description": "The display name for the mediation A/B experiment.",
          "type": "string"
        },
        "state": {
          "description": "Output only. The state of the experiment. It is an output only field.",
          "enumDescriptions": [
            "Default for an unset field. Do not use.",
            "The experiment has expired.",
            "The experiment is running and thus used in serving.",
            "The experiment is ended, but not yet expired. Serving continues in the original configurations while the experiment is ready to call an action."
          ],
          "enum": [
            "EXPERIMENT_STATE_UNSPECIFIED",
            "EXPIRED",
            "RUNNING",
            "ENDED"
          ],
          "readOnly": true,
          "type": "string"
        },
        "mediationGroupId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The mediation group id this experiment belongs to. This can be used for filtering the experiments in the list experiments API."
        },
        "startTime": {
          "type": "string",
          "description": "Output only. The time at which the experiment was started (in UTC).",
          "readOnly": true,
          "format": "google-datetime"
        },
        "treatmentMediationLines": {
          "type": "array",
          "description": "The experiment mediation lines created for the treatment. They will be used for serving when the experiment status is RUNNING.",
          "items": {
            "$ref": "MediationAbExperimentExperimentMediationLine"
          }
        },
        "controlMediationLines": {
          "description": "Output only. The experiment mediation lines for control. They are inherited from the parent mediation group. It is an output only field.",
          "items": {
            "$ref": "MediationAbExperimentExperimentMediationLine"
          },
          "readOnly": true,
          "type": "array"
        }
      },
      "id": "MediationAbExperiment",
      "type": "object"
    },
    "MediationGroup": {
      "id": "MediationGroup",
      "description": "Describes an AdMob Mediation group.",
      "type": "object",
      "properties": {
        "mediationAbExperimentState": {
          "enum": [
            "EXPERIMENT_STATE_UNSPECIFIED",
            "RUNNING",
            "NOT_RUNNING"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default value for an unset field. Do not use.",
            "The mediation group has an experiment in the RUNNING state.",
            "There is no experiment in the RUNNING state in the mediation group."
          ],
          "description": "Output only. The state of the mediation a/b experiment that belongs to this mediation group."
        },
        "name": {
          "description": "Resource name for this mediation group. Format is: accounts/{publisher_id}/mediationGroups/{mediation_group_id} Example: accounts/pub-9876543210987654/mediationGroups/0123456789",
          "type": "string"
        },
        "mediationGroupId": {
          "type": "string",
          "description": "The ID of the mediation group. Example: \"0123456789\". This is a read only property."
        },
        "displayName": {
          "type": "string",
          "description": "User provided name for the mediation group. The maximum length allowed is 120 characters."
        },
        "mediationGroupLines": {
          "description": "The mediation lines used for serving for this mediation group. Key is the ID of the mediation group line. For creation, use distinct negative values as placeholder.",
          "type": "object",
          "additionalProperties": {
            "$ref": "MediationGroupMediationGroupLine"
          }
        },
        "targeting": {
          "$ref": "MediationGroupTargeting",
          "description": "Set of criteria targeted by this mediation group, such as ad units and geo locations."
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED"
          ],
          "description": "The status of the mediation group. Only enabled mediation groups will be served.",
          "enumDescriptions": [
            "Default value for an unset field. Do not use.",
            "The mediation group is active and used to serve ads or to collect stats.",
            "The mediation group has been disabled and is no longer serving ads or collecting stats. Disabled mediation groups can be re-enabled."
          ]
        }
      }
    },
    "CampaignReportSpec": {
      "id": "CampaignReportSpec",
      "description": "The specification for generating a Campaign report. For example, the specification to get IMPRESSIONS and CLICKS sliced by CAMPAIGN_ID can look like the following example: { \"date_range\": { \"start_date\": {\"year\": 2021, \"month\": 12, \"day\": 1}, \"end_date\": {\"year\": 2021, \"month\": 12, \"day\": 30} }, \"dimensions\": [\"CAMPAIGN_ID\"], \"metrics\": [\"IMPRESSIONS\", \"CLICKS\"], }",
      "type": "object",
      "properties": {
        "metrics": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Default value for an unset field. Do not use.",
              "The number of times an ad is shown to the user.",
              "The number of times a user clicks an ad.",
              "The number of clicks an ad receives divided by the number of times the ad is shown.",
              "The number of times apps were downloaded to devices.",
              "The estimated cost of serving a campaign ad instead of an ad that earns revenue. The currency is the reporting currency for campaigns.",
              "The average cost per install. This means the average amount that was spent to acquire a new user. The currency is the reporting currency for campaigns.",
              "The number of times a user interacts with an ad. This consists of clicks and engagements."
            ],
            "type": "string",
            "enum": [
              "METRIC_UNSPECIFIED",
              "IMPRESSIONS",
              "CLICKS",
              "CLICK_THROUGH_RATE",
              "INSTALLS",
              "ESTIMATED_COST",
              "AVERAGE_CPI",
              "INTERACTIONS"
            ]
          },
          "description": "List of metrics of the report. A report must specify at least one metric."
        },
        "languageCode": {
          "type": "string",
          "description": "Language used for any localized text, such as certain applicable dimension values. The language tag is defined in the IETF BCP47. Defaults to 'en-US' if unspecified or invalid."
        },
        "dimensions": {
          "items": {
            "enumDescriptions": [
              "Default value of an unspecified dimension. Do not use.",
              "A date in the YYYYMMDD format (for example, \"20210701\").",
              "The unique ID of the campaign, for example \"123456789\", which is consistent with the campaign id from campaign list api.",
              "The name of the campaign.",
              "The unique ID of the ad, for example \"123456789\".",
              "The name of the ad, which may not be unique.",
              "The vendor-specific unique ID of the app where the ad is placed. For example, com.goog.bar for Android and 123456789 for iOS apps.",
              "The name of the app where the ad is placed.",
              "The platform of the app where the ad is placed.",
              "The name of the targeted country.",
              "Format of the ad unit (for example, \"banner\", \"native\"), an ad delivery dimension."
            ],
            "type": "string",
            "enum": [
              "DIMENSION_UNSPECIFIED",
              "DATE",
              "CAMPAIGN_ID",
              "CAMPAIGN_NAME",
              "AD_ID",
              "AD_NAME",
              "PLACEMENT_ID",
              "PLACEMENT_NAME",
              "PLACEMENT_PLATFORM",
              "COUNTRY",
              "FORMAT"
            ]
          },
          "type": "array",
          "description": "List of dimensions of the report. The value combination of these dimensions determines the row of the report. If no dimensions are specified, the report returns a single row of requested metrics for the entire account."
        },
        "dateRange": {
          "$ref": "DateRange",
          "description": "The date range for which the report is generated. The max range is 30 days."
        }
      }
    },
    "ListMediationGroupsResponse": {
      "id": "ListMediationGroupsResponse",
      "description": "Response for the mediation groups list request.",
      "type": "object",
      "properties": {
        "mediationGroups": {
          "items": {
            "$ref": "MediationGroup"
          },
          "type": "array",
          "description": "The resulting mediation groups for the requested account."
        },
        "nextPageToken": {
          "type": "string",
          "description": "If not empty, indicates that there may be more mediation groups for the request; this value should be passed in a new `ListMediationGroupsRequest`."
        }
      }
    },
    "AppLinkedAppInfo": {
      "id": "AppLinkedAppInfo",
      "properties": {
        "androidAppStores": {
          "items": {
            "enum": [
              "ANDROID_APP_STORE_UNSPECIFIED",
              "GOOGLE_PLAY_APP_STORE",
              "AMAZON_APP_STORE",
              "OPPO_APP_STORE",
              "SAMSUNG_APP_STORE",
              "VIVO_APP_STORE",
              "XIAOMI_APP_STORE"
            ],
            "enumDescriptions": [
              "Default value for an unset field. Do not use.",
              "Google Play Store.",
              "Amazon Appstore.",
              "Oppo App Market.",
              "Samsung Galaxy Store.",
              "VIVO App Store.",
              "Xiaomi GetApps."
            ],
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The app store information for published Android apps. This field is only used for apps on the Android platform and will be ignored if the PLATFORM is set to iOS. The default value is the Google Play App store. This field can be updated after app is created. If the app is not published, this field will not be included in the response."
        },
        "appStoreId": {
          "type": "string",
          "description": "The app store ID of the app; present if and only if the app is linked to an app store. If the app is added to the Google Play store, it will be the application ID of the app. For example: \"com.example.myapp\". See https://developer.android.com/studio/build/application-id. If the app is added to the Apple App Store, it will be app store ID. For example \"105169111\". Note that setting the app store id is considered an irreversible action. Once an app is linked, it cannot be unlinked."
        },
        "displayName": {
          "description": "Output only. Display name of the app as it appears in the app store. This is an output-only field, and may be empty if the app cannot be found in the store.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Information from the app store if the app is linked to an app store.",
      "type": "object"
    },
    "LocalizationSettings": {
      "description": "Localization settings for reports, such as currency and language. It affects how metrics are calculated.",
      "properties": {
        "currencyCode": {
          "type": "string",
          "description": "Currency code of the earning related metrics, which is the 3-letter code defined in ISO 4217. The daily average rate is used for the currency conversion. Defaults to the account currency code if unspecified."
        },
        "languageCode": {
          "description": "Language used for any localized text, such as some dimension value display labels. The language tag defined in the IETF BCP47. Defaults to 'en-US' if unspecified.",
          "type": "string"
        }
      },
      "id": "LocalizationSettings",
      "type": "object"
    },
    "GenerateMediationReportRequest": {
      "description": "Request to generate an AdMob Mediation report.",
      "type": "object",
      "properties": {
        "reportSpec": {
          "$ref": "MediationReportSpec",
          "description": "Network report specification."
        }
      },
      "id": "GenerateMediationReportRequest"
    },
    "BatchCreateAdUnitMappingsRequest": {
      "properties": {
        "requests": {
          "type": "array",
          "description": "Required. The request message specifying the ad unit mappings to create. A maximum of 100 ad unit mappings can be created in a batch. If the number of ad unit mappings in the batch request exceed 100, the entire request will be rejected and no ad unit mappings will be created.",
          "items": {
            "$ref": "CreateAdUnitMappingRequest"
          }
        }
      },
      "id": "BatchCreateAdUnitMappingsRequest",
      "description": "Request to create a batch of ad unit mappings under the specific AdMob account.",
      "type": "object"
    },
    "AdUnit": {
      "description": "Describes an AdMob ad unit.",
      "id": "AdUnit",
      "type": "object",
      "properties": {
        "adUnitId": {
          "type": "string",
          "description": "The externally visible ID of the ad unit which can be used to integrate with AdMob. This is a read only property. Example: ca-app-pub-9876543210987654/0123456789"
        },
        "rewardSettings": {
          "$ref": "AdUnitRewardSettings",
          "description": "Optional. Settings for a rewarded ad unit. This can be set or unset only when the ad_format is \"REWARDED\"."
        },
        "appId": {
          "description": "The externally visible ID of the app this ad unit is associated with. Example: ca-app-pub-9876543210987654~0123456789",
          "type": "string"
        },
        "adFormat": {
          "type": "string",
          "description": "AdFormat of the ad unit. Possible values are as follows: \"APP_OPEN\" - App Open ad format. \"BANNER\" - Banner ad format. \"BANNER_INTERSTITIAL\" - Legacy format that can be used as either banner or interstitial. This format can no longer be created but can be targeted by mediation groups. \"INTERSTITIAL\" - A full screen ad. Supported ad types are \"RICH_MEDIA\" and \"VIDEO\". \"NATIVE\" - Native ad format. \"REWARDED\" - An ad that, once viewed, gets a callback verifying the view so that a reward can be given to the user. Supported ad types are \"RICH_MEDIA\" (interactive) and video where video can not be excluded. \"REWARDED_INTERSTITIAL\" - Rewarded Interstitial ad format. Only supports video ad type. See https://support.google.com/admob/answer/9884467."
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the ad unit as shown in the AdMob UI, which is provided by the user. The maximum length allowed is 80 characters."
        },
        "name": {
          "description": "Resource name for this ad unit. Format is accounts/{publisher_id}/adUnits/{ad_unit_id_fragment} Example: accounts/pub-9876543210987654/adUnits/0123456789",
          "type": "string"
        },
        "adTypes": {
          "description": "Ad media type supported by this ad unit. Possible values as follows: \"RICH_MEDIA\" - Text, image, and other non-video media. \"VIDEO\" - Video media.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "ReportFooter": {
      "description": "Groups data available after report generation, for example, warnings and row counts. Always sent as the last message in the stream response.",
      "type": "object",
      "properties": {
        "warnings": {
          "description": "Warnings associated with generation of the report.",
          "type": "array",
          "items": {
            "$ref": "ReportWarning"
          }
        },
        "matchingRowCount": {
          "format": "int64",
          "type": "string",
          "description": "Total number of rows that matched the request. Warning: This count does NOT always match the number of rows in the response. Do not make that assumption when processing the response."
        }
      },
      "id": "ReportFooter"
    },
    "StopMediationAbExperimentRequest": {
      "type": "object",
      "description": "Request to end the mediation A/B experiment and choose a winning variant.",
      "id": "StopMediationAbExperimentRequest",
      "properties": {
        "variantChoice": {
          "type": "string",
          "description": "The choice for the winning variant.",
          "enumDescriptions": [
            "Default value for an unset field. Do not use.",
            "Use the mediation lines from Variant A and complete the experiment. Variant A contains the original serving lines before the experiment creation.",
            "Use the mediation lines form Variant B and complete the experiment. Variant B contains the newly added serving lines."
          ],
          "enum": [
            "VARIANT_CHOICE_UNSPECIFIED",
            "VARIANT_CHOICE_A",
            "VARIANT_CHOICE_B"
          ]
        }
      }
    },
    "ListAdSourcesResponse": {
      "type": "object",
      "id": "ListAdSourcesResponse",
      "properties": {
        "nextPageToken": {
          "description": "Used to set the `page_token` in the `ListAdSourcesRequest` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "adSources": {
          "type": "array",
          "description": "The ad sources.",
          "items": {
            "$ref": "AdSource"
          }
        }
      },
      "description": "Response for the ListAdSourcesRequest."
    },
    "ListAdUnitsResponse": {
      "type": "object",
      "description": "Response for the ad units list request.",
      "id": "ListAdUnitsResponse",
      "properties": {
        "nextPageToken": {
          "description": "If not empty, indicates that there may be more ad units for the request; this value should be passed in a new `ListAdUnitsRequest`.",
          "type": "string"
        },
        "adUnits": {
          "description": "The resulting ad units for the requested account.",
          "type": "array",
          "items": {
            "$ref": "AdUnit"
          }
        }
      }
    },
    "AdUnitRewardSettings": {
      "description": "Settings for a rewarded ad unit.",
      "properties": {
        "unitType": {
          "type": "string",
          "description": "Reward item for this ad unit."
        },
        "unitAmount": {
          "type": "string",
          "description": "Reward amount for this ad unit.",
          "format": "int64"
        }
      },
      "id": "AdUnitRewardSettings",
      "type": "object"
    },
    "GenerateMediationReportResponse": {
      "type": "object",
      "description": "The streaming response for the AdMob Mediation report where the first response contains the report header, then a stream of row responses, and finally a footer as the last response message. For example: [{ \"header\": { \"date_range\": { \"start_date\": {\"year\": 2018, \"month\": 9, \"day\": 1}, \"end_date\": {\"year\": 2018, \"month\": 9, \"day\": 1} }, \"localization_settings\": { \"currency_code\": \"USD\", \"language_code\": \"en-US\" } } }, { \"row\": { \"dimension_values\": { \"DATE\": {\"value\": \"20180918\"}, \"APP\": { \"value\": \"ca-app-pub-8123415297019784~1001342552\", \"display_label\": \"My app name!\" } }, \"metric_values\": { \"ESTIMATED_EARNINGS\": {\"decimal_value\": \"1324746\"} } } }, { \"footer\": {\"matching_row_count\": 1} }]",
      "id": "GenerateMediationReportResponse",
      "properties": {
        "footer": {
          "$ref": "ReportFooter",
          "description": "Additional information about the generated report, such as warnings about the data."
        },
        "row": {
          "$ref": "ReportRow",
          "description": "Actual report data."
        },
        "header": {
          "description": "Report generation settings that describes the report contents, such as the report date range and localization settings.",
          "$ref": "ReportHeader"
        }
      }
    },
    "MediationReportSpecDimensionFilter": {
      "description": "Describes which report rows to match based on their dimension values.",
      "id": "MediationReportSpecDimensionFilter",
      "type": "object",
      "properties": {
        "matchesAny": {
          "$ref": "StringList",
          "description": "Matches a row if its value for the specified dimension is in one of the values specified in this condition."
        },
        "dimension": {
          "enumDescriptions": [
            "Default value for an unset field. Do not use.",
            "A date in the YYYYMMDD format (for example, \"20210701\"). Requests can specify at most one time dimension.",
            "A month in the YYYYMM format (for example, \"202107\"). Requests can specify at most one time dimension.",
            "The date of the first day of a week in the YYYYMMDD format (for example, \"20210701\"). Requests can specify at most one time dimension.",
            "The [unique ID of the ad source](/admob/api/v1/ad_sources) (for example, \"5450213213286189855\" and \"AdMob Network\" as label value).",
            "The unique ID of the ad source instance (for example, \"ca-app-pub-1234:asi:5678\" and \"AdMob (default)\" as label value).",
            "The unique ID of the ad unit (for example, \"ca-app-pub-1234/8790\"). If AD_UNIT dimension is specified, then APP is included automatically.",
            "The unique ID of the mobile application (for example, \"ca-app-pub-1234~1234\").",
            "The unique ID of the mediation group (for example, \"ca-app-pub-1234:mg:1234\" and \"AdMob (default)\" as label value).",
            "CLDR country code of the place where the ad views/clicks occur (for example, \"US\" or \"FR\"). This is a geography dimension.",
            "Format of the ad unit (for example, \"banner\", \"native\"), an ad delivery dimension.",
            "Mobile OS platform of the app (for example, \"Android\" or \"iOS\").",
            "Mobile operating system version, e.g. \"iOS 13.5.1\".",
            "GMA SDK version, e.g. \"iOS 7.62.0\".",
            "For Android, the app version name can be found in versionName in PackageInfo. For iOS, the app version name can be found in CFBundleShortVersionString.",
            "Restriction mode for ads serving (e.g. \"Non-personalized ads\")."
          ],
          "enum": [
            "DIMENSION_UNSPECIFIED",
            "DATE",
            "MONTH",
            "WEEK",
            "AD_SOURCE",
            "AD_SOURCE_INSTANCE",
            "AD_UNIT",
            "APP",
            "MEDIATION_GROUP",
            "COUNTRY",
            "FORMAT",
            "PLATFORM",
            "MOBILE_OS_VERSION",
            "GMA_SDK_VERSION",
            "APP_VERSION_NAME",
            "SERVING_RESTRICTION"
          ],
          "type": "string",
          "description": "Applies the filter criterion to the specified dimension."
        }
      }
    },
    "PublisherAccount": {
      "id": "PublisherAccount",
      "type": "object",
      "description": "A publisher account contains information relevant to the use of this API, such as the time zone used for the reports.",
      "properties": {
        "publisherId": {
          "description": "The unique ID by which this publisher account can be identified in the API requests (for example, pub-1234567890).",
          "type": "string"
        },
        "reportingTimeZone": {
          "description": "The time zone that is used in reports that are generated for this account. The value is a time-zone ID as specified by the CLDR project, for example, \"America/Los_Angeles\".",
          "type": "string"
        },
        "currencyCode": {
          "description": "Currency code of the earning-related metrics, which is the 3-letter code defined in ISO 4217. The daily average rate is used for the currency conversion.",
          "type": "string"
        },
        "name": {
          "description": "Resource name of this account. Format is accounts/{publisher_id}.",
          "type": "string"
        }
      }
    },
    "BatchCreateAdUnitMappingsResponse": {
      "type": "object",
      "id": "BatchCreateAdUnitMappingsResponse",
      "properties": {
        "adUnitMappings": {
          "type": "array",
          "items": {
            "$ref": "AdUnitMapping"
          },
          "description": "The Ad units mappings created under the requested account."
        }
      },
      "description": "Response containing a batch of created ad unit mappings."
    },
    "ReportWarning": {
      "properties": {
        "type": {
          "description": "Type of the warning.",
          "type": "string",
          "enumDescriptions": [
            "Default value for an unset field. Do not use.",
            "Some data in this report is aggregated based on a time zone different from the requested time zone. This could happen if a local time-zone report has the start time before the last time this time zone changed. The description field will contain the date of the last time zone change.",
            "There is an unusual delay in processing the source data for the requested date range. The report results might be less up to date than usual. AdMob is aware of the issue and is actively working to resolve it.",
            "Warnings that are exposed without a specific type. Useful when new warning types are added but the API is not changed yet.",
            "The currency being requested is not the account currency. The earning metrics will be based on the requested currency, and thus not a good estimation of the final payment anymore, due to the currency rate fluctuation."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "DATA_BEFORE_ACCOUNT_TIMEZONE_CHANGE",
            "DATA_DELAYED",
            "OTHER",
            "REPORT_CURRENCY_NOT_ACCOUNT_CURRENCY"
          ]
        },
        "description": {
          "type": "string",
          "description": "Describes the details of the warning message, in English."
        }
      },
      "description": "Warnings associated with generation of the report.",
      "id": "ReportWarning",
      "type": "object"
    },
    "NetworkReportSpecSortCondition": {
      "id": "NetworkReportSpecSortCondition",
      "properties": {
        "dimension": {
          "enum": [
            "DIMENSION_UNSPECIFIED",
            "DATE",
            "MONTH",
            "WEEK",
            "AD_UNIT",
            "APP",
            "AD_TYPE",
            "COUNTRY",
            "FORMAT",
            "PLATFORM",
            "MOBILE_OS_VERSION",
            "GMA_SDK_VERSION",
            "APP_VERSION_NAME",
            "SERVING_RESTRICTION"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value for an unset field. Do not use.",
            "A date in the YYYYMMDD format (for example, \"20210701\"). Requests can specify at most one time dimension.",
            "A month in the YYYYMM format (for example, \"202107\"). Requests can specify at most one time dimension.",
            "The date of the first day of a week in the YYYYMMDD format (for example, \"20210701\"). Requests can specify at most one time dimension.",
            "The unique ID of the ad unit (for example, \"ca-app-pub-1234/1234\"). If AD_UNIT dimension is specified, then APP is included automatically.",
            "The unique ID of the mobile application (for example, \"ca-app-pub-1234~1234\").",
            "Type of the ad (for example, \"text\" or \"image\"), an ad delivery dimension. **Warning:** The dimension is incompatible with [AD_REQUESTS](#Metric.ENUM_VALUES.AD_REQUESTS), [MATCH_RATE](#Metric.ENUM_VALUES.MATCH_RATE) and [IMPRESSION_RPM](#Metric.ENUM_VALUES.IMPRESSION_RPM) metrics.",
            "CLDR country code of the place where the ad views/clicks occur (for example, \"US\" or \"FR\"). This is a geography dimension.",
            "Format of the ad unit (for example, \"banner\", \"native\"), an ad delivery dimension.",
            "Mobile OS platform of the app (for example, \"Android\" or \"iOS\").",
            "Mobile operating system version, e.g. \"iOS 13.5.1\".",
            "GMA SDK version, e.g. \"iOS 7.62.0\".",
            "For Android, the app version name can be found in versionName in PackageInfo. For iOS, the app version name can be found in CFBundleShortVersionString.",
            "Restriction mode for ads serving (e.g. \"Non-personalized ads\")."
          ],
          "description": "Sort by the specified dimension."
        },
        "metric": {
          "type": "string",
          "enumDescriptions": [
            "Default value for an unset field. Do not use.",
            "The number of ad requests. The value is an integer. **Warning:** The metric is incompatible with [AD_TYPE](#Dimension.ENUM_VALUES.AD_TYPE) dimension.",
            "The number of times a user clicks an ad. The value is an integer.",
            "The estimated earnings of the AdMob publisher. The currency unit (USD, EUR, or other) of the earning metrics are determined by the localization setting for currency. The amount is in micros. For example, $6.50 would be represented as 6500000.",
            "The total number of ads shown to users. The value is an integer.",
            "The ratio of clicks over impressions. The value is a double precision (approximate) decimal value.",
            "The estimated earnings per thousand ad impressions. The value is in micros. For example, $1.03 would be represented as 1030000. Equivalent to eCPM in the AdMob UI. **Warning:** The metric is incompatible with [AD_TYPE](#Dimension.ENUM_VALUES.AD_TYPE) dimension.",
            "The number of times ads are returned in response to a request. The value is an integer.",
            "The ratio of matched ad requests over the total ad requests. The value is a double precision (approximate) decimal value. **Warning:** The metric is incompatible with [AD_TYPE](#Dimension.ENUM_VALUES.AD_TYPE) dimension.",
            "The ratio of ads that are displayed over ads that are returned, defined as impressions / matched requests. The value is a double precision (approximate) decimal value."
          ],
          "enum": [
            "METRIC_UNSPECIFIED",
            "AD_REQUESTS",
            "CLICKS",
            "ESTIMATED_EARNINGS",
            "IMPRESSIONS",
            "IMPRESSION_CTR",
            "IMPRESSION_RPM",
            "MATCHED_REQUESTS",
            "MATCH_RATE",
            "SHOW_RATE"
          ],
          "description": "Sort by the specified metric."
        },
        "order": {
          "description": "Sorting order of the dimension or metric.",
          "type": "string",
          "enumDescriptions": [
            "Default value for an unset field. Do not use.",
            "Sort dimension value or metric value in ascending order.",
            "Sort dimension value or metric value in descending order."
          ],
          "enum": [
            "SORT_ORDER_UNSPECIFIED",
            "ASCENDING",
            "DESCENDING"
          ]
        }
      },
      "description": "Sorting direction to be applied on a dimension or a metric.",
      "type": "object"
    },
    "DateRange": {
      "type": "object",
      "description": "Specification of a single date range. Both dates are inclusive.",
      "properties": {
        "startDate": {
          "$ref": "Date",
          "description": "Start date of the date range, inclusive. Must be less than or equal to the end date."
        },
        "endDate": {
          "description": "End date of the date range, inclusive. Must be greater than or equal to the start date.",
          "$ref": "Date"
        }
      },
      "id": "DateRange"
    },
    "GenerateCampaignReportResponse": {
      "type": "object",
      "id": "GenerateCampaignReportResponse",
      "description": "Campaign Report API response.",
      "properties": {
        "rows": {
          "type": "array",
          "description": "The campaign report data from the specified publisher. At most 100000 rows will be returned from the API.",
          "items": {
            "$ref": "ReportRow"
          }
        }
      }
    },
    "AdSource": {
      "description": "Definition of a mediation ad source.",
      "properties": {
        "name": {
          "description": "Resource name of this ad source. Format is: accounts/{publisher_id}/adSources/{ad_source_id}",
          "type": "string"
        },
        "adSourceId": {
          "type": "string",
          "description": "ID of this ad source."
        },
        "title": {
          "description": "Display name of this ad source.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "AdSource"
    },
    "AdUnitMapping": {
      "description": "Settings to map an AdMob ad unit to a 3rd party ad unit.",
      "properties": {
        "displayName": {
          "description": "Optional. The display name of this ad unit mapping instance.",
          "type": "string"
        },
        "adUnitConfigurations": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Settings for the specified ad unit to make an ad request to 3rd party ad network. Key-value pairs with values set by the user for the keys requested by the ad network. Please see https://support.google.com/admob/answer/3245073 for details on how to configure the network settings."
        },
        "name": {
          "type": "string",
          "description": "Resource name of this ad unit mapping. Format is: accounts/{publisher_id}/adUnits/{ad_unit_id_fragment}/adUnitMappings/{ad_unit_mapping_id} Example: accounts/pub-1234567890123456/adUnits/0123456789/adUnitMappings/987654321"
        },
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "ENABLED"
          ],
          "enumDescriptions": [
            "The default value.",
            "The ad unit mapping is active and used to serve ads or collecting stats."
          ],
          "description": "Output only. The status of this ad unit mapping.",
          "type": "string"
        },
        "adapterId": {
          "type": "string",
          "description": "The ID of mediation ad source adapter used by this ad unit mapping. The adapter determines the information needed in the ad_network_settings.",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "AdUnitMapping"
    },
    "GenerateNetworkReportRequest": {
      "description": "Request to generate an AdMob Network report.",
      "type": "object",
      "properties": {
        "reportSpec": {
          "description": "Network report specification.",
          "$ref": "NetworkReportSpec"
        }
      },
      "id": "GenerateNetworkReportRequest"
    },
    "MediationReportSpec": {
      "type": "object",
      "description": "The specification for generating an AdMob Mediation report. For example, the specification to get observed ECPM sliced by ad source and app for the 'US' and 'CN' countries can look like the following example: { \"date_range\": { \"start_date\": {\"year\": 2021, \"month\": 9, \"day\": 1}, \"end_date\": {\"year\": 2021, \"month\": 9, \"day\": 30} }, \"dimensions\": [\"AD_SOURCE\", \"APP\", \"COUNTRY\"], \"metrics\": [\"OBSERVED_ECPM\"], \"dimension_filters\": [ { \"dimension\": \"COUNTRY\", \"matches_any\": {\"values\": [{\"value\": \"US\", \"value\": \"CN\"}]} } ], \"sort_conditions\": [ {\"dimension\":\"APP\", order: \"ASCENDING\"} ], \"localization_settings\": { \"currency_code\": \"USD\", \"language_code\": \"en-US\" } } For a better understanding, you can treat the preceding specification like the following pseudo SQL: SELECT AD_SOURCE, APP, COUNTRY, OBSERVED_ECPM FROM MEDIATION_REPORT WHERE DATE >= '2021-09-01' AND DATE <= '2021-09-30' AND COUNTRY IN ('US', 'CN') GROUP BY AD_SOURCE, APP, COUNTRY ORDER BY APP ASC;",
      "id": "MediationReportSpec",
      "properties": {
        "dateRange": {
          "description": "The date range for which the report is generated.",
          "$ref": "DateRange"
        },
        "dimensionFilters": {
          "items": {
            "$ref": "MediationReportSpecDimensionFilter"
          },
          "type": "array",
          "description": "Describes which report rows to match based on their dimension values."
        },
        "maxReportRows": {
          "description": "Maximum number of report data rows to return. If the value is not set, the API returns as many rows as possible, up to 100000. Acceptable values are 1-100000, inclusive. Values larger than 100000 return an error.",
          "type": "integer",
          "format": "int32"
        },
        "sortConditions": {
          "description": "Describes the sorting of report rows. The order of the condition in the list defines its precedence; the earlier the condition, the higher its precedence. If no sort conditions are specified, the row ordering is undefined.",
          "items": {
            "$ref": "MediationReportSpecSortCondition"
          },
          "type": "array"
        },
        "timeZone": {
          "type": "string",
          "description": "A report time zone. Accepts an IANA TZ name values, such as \"America/Los_Angeles.\" If no time zone is defined, the account default takes effect. Check default value by the get account action. **Warning:** The \"America/Los_Angeles\" is the only supported value at the moment."
        },
        "dimensions": {
          "description": "List of dimensions of the report. The value combination of these dimensions determines the row of the report. If no dimensions are specified, the report returns a single row of requested metrics for the entire account.",
          "items": {
            "enumDescriptions": [
              "Default value for an unset field. Do not use.",
              "A date in the YYYYMMDD format (for example, \"20210701\"). Requests can specify at most one time dimension.",
              "A month in the YYYYMM format (for example, \"202107\"). Requests can specify at most one time dimension.",
              "The date of the first day of a week in the YYYYMMDD format (for example, \"20210701\"). Requests can specify at most one time dimension.",
              "The [unique ID of the ad source](/admob/api/v1/ad_sources) (for example, \"5450213213286189855\" and \"AdMob Network\" as label value).",
              "The unique ID of the ad source instance (for example, \"ca-app-pub-1234:asi:5678\" and \"AdMob (default)\" as label value).",
              "The unique ID of the ad unit (for example, \"ca-app-pub-1234/8790\"). If AD_UNIT dimension is specified, then APP is included automatically.",
              "The unique ID of the mobile application (for example, \"ca-app-pub-1234~1234\").",
              "The unique ID of the mediation group (for example, \"ca-app-pub-1234:mg:1234\" and \"AdMob (default)\" as label value).",
              "CLDR country code of the place where the ad views/clicks occur (for example, \"US\" or \"FR\"). This is a geography dimension.",
              "Format of the ad unit (for example, \"banner\", \"native\"), an ad delivery dimension.",
              "Mobile OS platform of the app (for example, \"Android\" or \"iOS\").",
              "Mobile operating system version, e.g. \"iOS 13.5.1\".",
              "GMA SDK version, e.g. \"iOS 7.62.0\".",
              "For Android, the app version name can be found in versionName in PackageInfo. For iOS, the app version name can be found in CFBundleShortVersionString.",
              "Restriction mode for ads serving (e.g. \"Non-personalized ads\")."
            ],
            "type": "string",
            "enum": [
              "DIMENSION_UNSPECIFIED",
              "DATE",
              "MONTH",
              "WEEK",
              "AD_SOURCE",
              "AD_SOURCE_INSTANCE",
              "AD_UNIT",
              "APP",
              "MEDIATION_GROUP",
              "COUNTRY",
              "FORMAT",
              "PLATFORM",
              "MOBILE_OS_VERSION",
              "GMA_SDK_VERSION",
              "APP_VERSION_NAME",
              "SERVING_RESTRICTION"
            ]
          },
          "type": "array"
        },
        "metrics": {
          "description": "List of metrics of the report. A report must specify at least one metric.",
          "items": {
            "enum": [
              "METRIC_UNSPECIFIED",
              "AD_REQUESTS",
              "CLICKS",
              "ESTIMATED_EARNINGS",
              "IMPRESSIONS",
              "IMPRESSION_CTR",
              "MATCHED_REQUESTS",
              "MATCH_RATE",
              "OBSERVED_ECPM"
            ],
            "type": "string",
            "enumDescriptions": [
              "Default value for an unset field. Do not use.",
              "The number of requests. The value is an integer.",
              "The number of times a user clicks an ad. The value is an integer.",
              "The estimated earnings of the AdMob publisher. The currency unit (USD, EUR, or other) of the earning metrics are determined by the localization setting for currency. The amount is in micros. For example, $6.50 would be represented as 6500000. Estimated earnings per mediation group and per ad source instance level is supported dating back to October 20, 2019. Third-party estimated earnings will show 0 for dates prior to October 20, 2019.",
              "The total number of ads shown to users. The value is an integer.",
              "The ratio of clicks over impressions. The value is a double precision (approximate) decimal value.",
              "The number of times ads are returned in response to a request. The value is an integer.",
              "The ratio of matched ad requests over the total ad requests. The value is a double precision (approximate) decimal value.",
              "The third-party ad network's estimated average eCPM. The currency unit (USD, EUR, or other) of the earning metrics are determined by the localization setting for currency. The amount is in micros. For example, $2.30 would be represented as 2300000. The estimated average eCPM per mediation group and per ad source instance level is supported dating back to October 20, 2019. Third-party estimated average eCPM will show 0 for dates prior to October 20, 2019."
            ]
          },
          "type": "array"
        },
        "localizationSettings": {
          "description": "Localization settings of the report.",
          "$ref": "LocalizationSettings"
        }
      }
    },
    "MediationGroupMediationGroupLine": {
      "type": "object",
      "description": "Settings for an ad network used by a mediation group.",
      "properties": {
        "state": {
          "enumDescriptions": [
            "Default value for an unset field. Do not use.",
            "The mediation group line is active and used to serve ads.",
            "The mediation group line has been disabled and is no longer served. Disabled mediation group lines can be re-enabled.",
            "The mediation group line will be removed and no longer served. Removed mediation group lines can not be re-enabled and will no longer be visible. This is an input only field."
          ],
          "description": "The status of the mediation group line. Only enabled mediation group lines will be served.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED",
            "REMOVED"
          ],
          "type": "string"
        },
        "adSourceId": {
          "description": "The ID of the ad source this mediation line is associated with.",
          "type": "string"
        },
        "adUnitMappings": {
          "description": "References of the ad unit mappings for each ad unit associated with this mediation line. Key is the ad unit ID, value is resource name of the ad unit mapping. For mediation lines where the ad source id is the AdMob Network, ad unit mappings will be ignored.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "id": {
          "type": "string",
          "description": "The 16 digit ID for this mediation line e.g. 0123456789012345. When creating a new mediation group line, use a distinct negative integer as the ID place holder."
        },
        "experimentVariant": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default value for an unset field. Do not use.",
            "The mediation group line belongs to the variant A.",
            "The mediation group line belongs to the variant B.",
            "The mediation group line isn't a part of an experiment."
          ],
          "description": "Output only. The Mediation A/B experiment variant to which the mediation group line belongs to.",
          "enum": [
            "VARIANT_UNSPECIFIED",
            "VARIANT_A",
            "VARIANT_B",
            "ORIGINAL"
          ]
        },
        "cpmMicros": {
          "description": "The CPM for this allocation line. $0.01 is the minimum allowed amount. For LIVE CPM modes, the default amount is $0.01. This value is ignored if `cpm_mode` is `LIVE`. **Warning:** \"USD\" is the only supported currency at the moment. The unit is in micros.",
          "format": "int64",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "User-provided label for this mediation line. The maximum length allowed is 255 characters."
        },
        "cpmMode": {
          "description": "Indicates how the CPM for this mediation line is provided. Note that `MANUAL` and `LIVE` are the only fully-supported mode at the moment. Please use the AdMob UI (https://admob.google.com) if you wish to create or update to other cpm modes.",
          "type": "string",
          "enumDescriptions": [
            "Default value for an unset field. Do not use.",
            "CPM is calculated per ad request based on the ad auction.",
            "CPM is set by the user manually.",
            "CPM is retrieved from the ad network using the publisher specified credentials. Output only."
          ],
          "enum": [
            "CPM_MODE_UNSPECIFIED",
            "LIVE",
            "MANUAL",
            "ANO"
          ]
        }
      },
      "id": "MediationGroupMediationGroupLine"
    },
    "MediationReportSpecSortCondition": {
      "description": "Sorting direction to be applied on a dimension or a metric.",
      "properties": {
        "metric": {
          "enumDescriptions": [
            "Default value for an unset field. Do not use.",
            "The number of requests. The value is an integer.",
            "The number of times a user clicks an ad. The value is an integer.",
            "The estimated earnings of the AdMob publisher. The currency unit (USD, EUR, or other) of the earning metrics are determined by the localization setting for currency. The amount is in micros. For example, $6.50 would be represented as 6500000. Estimated earnings per mediation group and per ad source instance level is supported dating back to October 20, 2019. Third-party estimated earnings will show 0 for dates prior to October 20, 2019.",
            "The total number of ads shown to users. The value is an integer.",
            "The ratio of clicks over impressions. The value is a double precision (approximate) decimal value.",
            "The number of times ads are returned in response to a request. The value is an integer.",
            "The ratio of matched ad requests over the total ad requests. The value is a double precision (approximate) decimal value.",
            "The third-party ad network's estimated average eCPM. The currency unit (USD, EUR, or other) of the earning metrics are determined by the localization setting for currency. The amount is in micros. For example, $2.30 would be represented as 2300000. The estimated average eCPM per mediation group and per ad source instance level is supported dating back to October 20, 2019. Third-party estimated average eCPM will show 0 for dates prior to October 20, 2019."
          ],
          "description": "Sort by the specified metric.",
          "enum": [
            "METRIC_UNSPECIFIED",
            "AD_REQUESTS",
            "CLICKS",
            "ESTIMATED_EARNINGS",
            "IMPRESSIONS",
            "IMPRESSION_CTR",
            "MATCHED_REQUESTS",
            "MATCH_RATE",
            "OBSERVED_ECPM"
          ],
          "type": "string"
        },
        "dimension": {
          "enumDescriptions": [
            "Default value for an unset field. Do not use.",
            "A date in the YYYYMMDD format (for example, \"20210701\"). Requests can specify at most one time dimension.",
            "A month in the YYYYMM format (for example, \"202107\"). Requests can specify at most one time dimension.",
            "The date of the first day of a week in the YYYYMMDD format (for example, \"20210701\"). Requests can specify at most one time dimension.",
            "The [unique ID of the ad source](/admob/api/v1/ad_sources) (for example, \"5450213213286189855\" and \"AdMob Network\" as label value).",
            "The unique ID of the ad source instance (for example, \"ca-app-pub-1234:asi:5678\" and \"AdMob (default)\" as label value).",
            "The unique ID of the ad unit (for example, \"ca-app-pub-1234/8790\"). If AD_UNIT dimension is specified, then APP is included automatically.",
            "The unique ID of the mobile application (for example, \"ca-app-pub-1234~1234\").",
            "The unique ID of the mediation group (for example, \"ca-app-pub-1234:mg:1234\" and \"AdMob (default)\" as label value).",
            "CLDR country code of the place where the ad views/clicks occur (for example, \"US\" or \"FR\"). This is a geography dimension.",
            "Format of the ad unit (for example, \"banner\", \"native\"), an ad delivery dimension.",
            "Mobile OS platform of the app (for example, \"Android\" or \"iOS\").",
            "Mobile operating system version, e.g. \"iOS 13.5.1\".",
            "GMA SDK version, e.g. \"iOS 7.62.0\".",
            "For Android, the app version name can be found in versionName in PackageInfo. For iOS, the app version name can be found in CFBundleShortVersionString.",
            "Restriction mode for ads serving (e.g. \"Non-personalized ads\")."
          ],
          "description": "Sort by the specified dimension.",
          "type": "string",
          "enum": [
            "DIMENSION_UNSPECIFIED",
            "DATE",
            "MONTH",
            "WEEK",
            "AD_SOURCE",
            "AD_SOURCE_INSTANCE",
            "AD_UNIT",
            "APP",
            "MEDIATION_GROUP",
            "COUNTRY",
            "FORMAT",
            "PLATFORM",
            "MOBILE_OS_VERSION",
            "GMA_SDK_VERSION",
            "APP_VERSION_NAME",
            "SERVING_RESTRICTION"
          ]
        },
        "order": {
          "enumDescriptions": [
            "Default value for an unset field. Do not use.",
            "Sort dimension value or metric value in ascending order.",
            "Sort dimension value or metric value in descending order."
          ],
          "type": "string",
          "description": "Sorting order of the dimension or metric.",
          "enum": [
            "SORT_ORDER_UNSPECIFIED",
            "ASCENDING",
            "DESCENDING"
          ]
        }
      },
      "type": "object",
      "id": "MediationReportSpecSortCondition"
    },
    "ReportRowMetricValue": {
      "description": "Representation of a metric value.",
      "type": "object",
      "id": "ReportRowMetricValue",
      "properties": {
        "microsValue": {
          "format": "int64",
          "description": "Amount in micros. One million is equivalent to one unit. Currency value is in the unit (USD, EUR or other) specified by the request. For example, $6.50 whould be represented as 6500000 micros.",
          "type": "string"
        },
        "integerValue": {
          "type": "string",
          "format": "int64",
          "description": "Metric integer value."
        },
        "doubleValue": {
          "type": "number",
          "format": "double",
          "description": "Double precision (approximate) decimal values. Rates are from 0 to 1."
        }
      }
    },
    "NetworkReportSpecDimensionFilter": {
      "id": "NetworkReportSpecDimensionFilter",
      "properties": {
        "matchesAny": {
          "description": "Matches a row if its value for the specified dimension is in one of the values specified in this condition.",
          "$ref": "StringList"
        },
        "dimension": {
          "enumDescriptions": [
            "Default value for an unset field. Do not use.",
            "A date in the YYYYMMDD format (for example, \"20210701\"). Requests can specify at most one time dimension.",
            "A month in the YYYYMM format (for example, \"202107\"). Requests can specify at most one time dimension.",
            "The date of the first day of a week in the YYYYMMDD format (for example, \"20210701\"). Requests can specify at most one time dimension.",
            "The unique ID of the ad unit (for example, \"ca-app-pub-1234/1234\"). If AD_UNIT dimension is specified, then APP is included automatically.",
            "The unique ID of the mobile application (for example, \"ca-app-pub-1234~1234\").",
            "Type of the ad (for example, \"text\" or \"image\"), an ad delivery dimension. **Warning:** The dimension is incompatible with [AD_REQUESTS](#Metric.ENUM_VALUES.AD_REQUESTS), [MATCH_RATE](#Metric.ENUM_VALUES.MATCH_RATE) and [IMPRESSION_RPM](#Metric.ENUM_VALUES.IMPRESSION_RPM) metrics.",
            "CLDR country code of the place where the ad views/clicks occur (for example, \"US\" or \"FR\"). This is a geography dimension.",
            "Format of the ad unit (for example, \"banner\", \"native\"), an ad delivery dimension.",
            "Mobile OS platform of the app (for example, \"Android\" or \"iOS\").",
            "Mobile operating system version, e.g. \"iOS 13.5.1\".",
            "GMA SDK version, e.g. \"iOS 7.62.0\".",
            "For Android, the app version name can be found in versionName in PackageInfo. For iOS, the app version name can be found in CFBundleShortVersionString.",
            "Restriction mode for ads serving (e.g. \"Non-personalized ads\")."
          ],
          "description": "Applies the filter criterion to the specified dimension.",
          "type": "string",
          "enum": [
            "DIMENSION_UNSPECIFIED",
            "DATE",
            "MONTH",
            "WEEK",
            "AD_UNIT",
            "APP",
            "AD_TYPE",
            "COUNTRY",
            "FORMAT",
            "PLATFORM",
            "MOBILE_OS_VERSION",
            "GMA_SDK_VERSION",
            "APP_VERSION_NAME",
            "SERVING_RESTRICTION"
          ]
        }
      },
      "description": "Describes which report rows to match based on their dimension values.",
      "type": "object"
    },
    "MediationGroupTargeting": {
      "type": "object",
      "description": "Set of criteria targeted by this mediation group. For example, a mediation group can target specific ad unit IDs, platform, format and geo location.",
      "properties": {
        "excludedRegionCodes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The Unicode country/region code (CLDR) of a location, such as \"US\". Unset if this mediation group does not exclude any region."
        },
        "adUnitIds": {
          "description": "Ad units targeted by this mediation group. Example: \"ca-app-pub-1234/8790\".",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "platform": {
          "description": "Describes the platform of the app. Examples: \"IOS\", \"ANDROID\".",
          "type": "string"
        },
        "idfaTargeting": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "All the devices are targeted, regardless of IDFA availability.",
            "Only the devices with IDFA availability are targeted.",
            "Only the devices without IDFA availability are targeted."
          ],
          "enum": [
            "IDFA_TARGETING_UNSPECIFIED",
            "ALL",
            "AVAILABLE",
            "NOT_AVAILABLE"
          ],
          "description": "The parameter can be used to target ad requests based on the availability of the IDFA. If set to ALL, the mediation group applies to all ad requests (with or without IDFA). If set to AVAILABLE, the mediation group applies to ad requests with IDFA. If set to NOT_AVAILABLE, the mediation group applies to ad requests without IDFA. Doesn't need to be specified for an ANDROID device."
        },
        "targetedRegionCodes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The Unicode country/region code (CLDR) of a location, such as \"US\". Unset if this mediation group targets all available regions. For more information, see http://www.unicode.org/reports/tr35/#unicode_region_subtag."
        },
        "format": {
          "type": "string",
          "description": "Ad format targeted by this mediation group. Examples: \"BANNER\", \"NATIVE\"."
        }
      },
      "id": "MediationGroupTargeting"
    },
    "ReportRow": {
      "type": "object",
      "properties": {
        "metricValues": {
          "type": "object",
          "additionalProperties": {
            "$ref": "ReportRowMetricValue"
          },
          "description": "Map of metric values in a row, with keys as enum name of the metrics. If a metric being requested has no value returned, the map will not include it."
        },
        "dimensionValues": {
          "description": "Map of dimension values in a row, with keys as enum name of the dimensions.",
          "additionalProperties": {
            "$ref": "ReportRowDimensionValue"
          },
          "type": "object"
        }
      },
      "id": "ReportRow",
      "description": "A row of the returning report."
    },
    "ReportRowDimensionValue": {
      "description": "Representation of a dimension value.",
      "properties": {
        "displayLabel": {
          "type": "string",
          "description": "The localized string representation of the value. If unspecified, the display label should be derived from the value."
        },
        "value": {
          "type": "string",
          "description": "Dimension value in the format specified in the report's spec Dimension enum."
        }
      },
      "id": "ReportRowDimensionValue",
      "type": "object"
    },
    "ListPublisherAccountsResponse": {
      "description": "Response for the publisher account list request.",
      "properties": {
        "nextPageToken": {
          "description": "If not empty, indicates that there might be more accounts for the request; you must pass this value in a new `ListPublisherAccountsRequest`.",
          "type": "string"
        },
        "account": {
          "description": "Publisher that the client credentials can access.",
          "items": {
            "$ref": "PublisherAccount"
          },
          "type": "array"
        }
      },
      "id": "ListPublisherAccountsResponse",
      "type": "object"
    },
    "ListAdaptersResponse": {
      "type": "object",
      "properties": {
        "adapters": {
          "description": "The adapter.",
          "items": {
            "$ref": "Adapter"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Used to set the `page_token` in the `ListAdapterRequest` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "ListAdaptersResponse",
      "description": "Response for the ListAdaptersRequest."
    },
    "ReportHeader": {
      "type": "object",
      "description": "Groups data helps to treat the generated report. Always sent as a first message in the stream response.",
      "id": "ReportHeader",
      "properties": {
        "dateRange": {
          "description": "The date range for which the report is generated. This is identical to the range specified in the report request.",
          "$ref": "DateRange"
        },
        "localizationSettings": {
          "description": "Localization settings of the report. This is identical to the settings in the report request.",
          "$ref": "LocalizationSettings"
        },
        "reportingTimeZone": {
          "type": "string",
          "description": "The report time zone. The value is a time-zone ID as specified by the CLDR project, for example, \"America/Los_Angeles\"."
        }
      }
    },
    "CreateAdUnitMappingRequest": {
      "id": "CreateAdUnitMappingRequest",
      "description": "Request to create an ad unit mapping under the specific AdMob account and ad unit.",
      "properties": {
        "adUnitMapping": {
          "description": "Required. The ad unit mapping to create.",
          "$ref": "AdUnitMapping"
        },
        "parent": {
          "type": "string",
          "description": "Required. The parent which owns the ad unit mapping. Format: accounts/{publisher_id}/adUnits/{ad_unit_id}"
        }
      },
      "type": "object"
    },
    "StringList": {
      "description": "List of string values.",
      "type": "object",
      "properties": {
        "values": {
          "description": "The string values.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "StringList"
    },
    "App": {
      "id": "App",
      "type": "object",
      "description": "Describes an AdMob app for a specific platform (For example: Android or iOS).",
      "properties": {
        "name": {
[...]
