{
  "mtlsRootUrl": "https://adsenseplatform.mtls.googleapis.com/",
  "id": "adsenseplatform:v1",
  "baseUrl": "https://adsenseplatform.googleapis.com/",
  "version": "v1",
  "discoveryVersion": "v1",
  "schemas": {
    "TimeZone": {
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones).",
      "type": "object",
      "properties": {
        "id": {
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\".",
          "type": "string"
        },
        "version": {
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\".",
          "type": "string"
        }
      },
      "id": "TimeZone"
    },
    "RequestSiteReviewResponse": {
      "description": "Response definition for the site request review rpc.",
      "type": "object",
      "properties": {},
      "id": "RequestSiteReviewResponse"
    },
    "ListSitesResponse": {
      "id": "ListSitesResponse",
      "description": "Response definition for the site list rpc.",
      "type": "object",
      "properties": {
        "sites": {
          "description": "The sites returned in this list response.",
          "type": "array",
          "items": {
            "$ref": "Site"
          }
        },
        "nextPageToken": {
          "description": "Continuation token used to page through sites. To retrieve the next page of the results, set the next request's \"page_token\" value to this.",
          "type": "string"
        }
      }
    },
    "ListAccountsResponse": {
      "id": "ListAccountsResponse",
      "description": "Response definition for the list accounts rpc.",
      "type": "object",
      "properties": {
        "accounts": {
          "description": "The Accounts returned in the list response. Represented by a partial view of the Account resource, populating `name` and `creation_request_id`.",
          "type": "array",
          "items": {
            "$ref": "Account"
          }
        },
        "nextPageToken": {
          "description": "Continuation token used to page through accounts. To retrieve the next page of the results, set the next request's \"page_token\" value to this.",
          "type": "string"
        }
      }
    },
    "Account": {
      "description": "Representation of an Account.",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Display name of this account.",
          "type": "string"
        },
        "creationRequestId": {
          "description": "Required. An opaque token that uniquely identifies the account among all the platform's accounts. This string may contain at most 64 non-whitespace ASCII characters, but otherwise has no predefined structure. However, it is expected to be a platform-specific identifier for the user creating the account, so that only a single account can be created for any given user. This field must not contain any information that is recognizable as personally identifiable information. e.g. it should not be an email address or login name. Once an account has been created, a second attempt to create an account using the same creation_request_id will result in an ALREADY_EXISTS error.",
          "type": "string"
        },
        "timeZone": {
          "$ref": "TimeZone",
          "description": "Required. The IANA TZ timezone code of this account. For more information, see https://en.wikipedia.org/wiki/List_of_tz_database_time_zones. This field is used for reporting. It is recommended to set it to the same value for all child accounts."
        },
        "state": {
          "description": "Output only. Approval state of the account.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified.",
            "Unchecked.",
            "The account is ready to serve ads.",
            "The account has been blocked from serving ads."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "UNCHECKED",
            "APPROVED",
            "DISAPPROVED"
          ]
        },
        "regionCode": {
          "description": "Required. Input only. CLDR region code of the country/region of the address. Set this to country code of the child account if known, otherwise to your own country code.",
          "type": "string"
        },
        "name": {
          "description": "Output only. Resource name of the account. Format: platforms/pub-[0-9]+/accounts/pub-[0-9]+",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. Creation time of the account.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        }
      },
      "id": "Account"
    },
    "Empty": {
      "id": "Empty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object"
    },
    "CloseAccountResponse": {
      "properties": {},
      "description": "Response definition for the account close rpc.",
      "type": "object",
      "id": "CloseAccountResponse"
    },
    "Address": {
      "id": "Address",
      "description": "Address data.",
      "type": "object",
      "properties": {
        "city": {
          "description": "City. Max length 60 bytes or 30 characters.",
          "type": "string"
        },
        "company": {
          "description": "Name of the company. Max length 255 bytes or 34 characters.",
          "type": "string"
        },
        "fax": {
          "description": "Fax number with international code (i.e. +441234567890).",
          "type": "string"
        },
        "zip": {
          "description": "Zip/post code. Max length 10 bytes or 10 characters.",
          "type": "string"
        },
        "regionCode": {
          "description": "Country/Region code. The region is specified as a CLDR region code (e.g. \"US\", \"FR\").",
          "type": "string"
        },
        "address1": {
          "description": "First line of address. Max length 64 bytes or 30 characters.",
          "type": "string"
        },
        "phone": {
          "description": "Phone number with international code (i.e. +441234567890).",
          "type": "string"
        },
        "contact": {
          "description": "Contact name of the company. Max length 128 bytes or 34 characters.",
          "type": "string"
        },
        "address2": {
          "description": "Second line of address. Max length 64 bytes or 30 characters.",
          "type": "string"
        },
        "state": {
          "description": "State. Max length 60 bytes or 30 characters.",
          "type": "string"
        }
      }
    },
    "EventInfo": {
      "id": "EventInfo",
      "description": "Private information for partner recorded events (PII).",
      "type": "object",
      "properties": {
        "email": {
          "description": "Required. The email address that is associated with the publisher when performing the event.",
          "type": "string"
        },
        "billingAddress": {
          "description": "The billing address of the publisher associated with this event, if available.",
          "$ref": "Address"
        }
      }
    },
    "Event": {
      "description": "A platform sub-account event to record spam signals.",
      "type": "object",
      "properties": {
        "eventInfo": {
          "$ref": "EventInfo",
          "description": "Required. Information associated with the event."
        },
        "eventType": {
          "description": "Required. Event type.",
          "type": "string",
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "LOG_IN_VIA_PLATFORM",
            "SIGN_UP_VIA_PLATFORM"
          ],
          "enumDescriptions": [
            "Do not use. You must set an event type explicitly.",
            "Log in via platform.",
            "Sign up via platform."
          ]
        },
        "eventTime": {
          "format": "google-datetime",
          "description": "Required. Event timestamp.",
          "type": "string"
        }
      },
      "id": "Event"
    },
    "Site": {
      "id": "Site",
      "description": "Representation of a Site.",
      "type": "object",
      "properties": {
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "State unspecified.",
            "Either: - The site hasn't been checked yet. - The site is inactive and needs another review before it can show ads again. Learn how to [request a review for an inactive site](https://support.google.com/adsense/answer/9393996).",
            "Google is running some checks on the site. This usually takes a few days, but in some cases it can take two to four weeks.",
            "The site is ready to show ads. Learn how to [set up ads on the site](https://support.google.com/adsense/answer/7037624).",
            "Publisher needs to fix some issues before the site is ready to show ads. Learn what to do [if a new site isn't ready](https://support.google.com/adsense/answer/9061852)."
          ],
          "description": "Output only. State of a site.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "REQUIRES_REVIEW",
            "GETTING_READY",
            "READY",
            "NEEDS_ATTENTION"
          ]
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Resource name of a site. Format: platforms/{platform}/accounts/{account}/sites/{site}",
          "type": "string"
        },
        "domain": {
          "description": "Domain/sub-domain of the site. Must be a valid domain complying with [RFC 1035](https://www.ietf.org/rfc/rfc1035.txt) and formatted as punycode [RFC 3492](https://www.ietf.org/rfc/rfc3492.txt) in case the domain contains unicode characters.",
          "type": "string"
        }
      }
    },
    "LookupAccountResponse": {
      "id": "LookupAccountResponse",
      "description": "Response definition for the lookup account rpc.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the Account Format: platforms/{platform}/accounts/{account_id}",
          "type": "string"
        }
      }
    },
    "CloseAccountRequest": {
      "properties": {},
      "description": "Request definition for the account close rpc.",
      "type": "object",
      "id": "CloseAccountRequest"
    }
  },
  "fullyEncodeReservedExpansion": true,
  "version_module": true,
  "description": "",
  "ownerDomain": "google.com",
  "batchPath": "batch",
  "basePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "name": "adsenseplatform",
  "servicePath": "",
  "documentationLink": "https://developers.google.com/adsense/platforms/",
  "ownerName": "Google",
  "protocol": "rest",
  "title": "AdSense Platform API",
  "resources": {
    "platforms": {
      "resources": {
        "accounts": {
          "resources": {
            "events": {
              "methods": {
                "create": {
                  "request": {
                    "$ref": "Event"
                  },
                  "flatPath": "v1/platforms/{platformsId}/accounts/{accountsId}/events",
                  "response": {
                    "$ref": "Event"
                  },
                  "path": "v1/{+parent}/events",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ],
                  "description": "Creates an account event.",
                  "id": "adsenseplatform.platforms.accounts.events.create",
                  "parameters": {
                    "parent": {
                      "pattern": "^platforms/[^/]+/accounts/[^/]+$",
                      "required": true,
                      "description": "Required. Account to log events about. Format: platforms/{platform}/accounts/{account}",
                      "location": "path",
                      "type": "string"
                    }
                  }
                }
              }
            },
            "sites": {
              "methods": {
                "get": {
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "description": "Gets a site from a specified sub-account.",
                  "id": "adsenseplatform.platforms.accounts.sites.get",
                  "parameters": {
                    "name": {
                      "pattern": "^platforms/[^/]+/accounts/[^/]+/sites/[^/]+$",
                      "description": "Required. The name of the site to retrieve. Format: platforms/{platform}/accounts/{account}/sites/{site}",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "flatPath": "v1/platforms/{platformsId}/accounts/{accountsId}/sites/{sitesId}",
                  "response": {
                    "$ref": "Site"
                  }
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ],
                  "description": "Creates a site for a specified account.",
                  "path": "v1/{+parent}/sites",
                  "httpMethod": "POST",
                  "id": "adsenseplatform.platforms.accounts.sites.create",
                  "parameters": {
                    "parent": {
                      "pattern": "^platforms/[^/]+/accounts/[^/]+$",
                      "required": true,
                      "description": "Required. Account to create site. Format: platforms/{platform}/accounts/{account_id}",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/platforms/{platformsId}/accounts/{accountsId}/sites",
                  "request": {
                    "$ref": "Site"
                  },
                  "response": {
                    "$ref": "Site"
                  }
                },
                "requestReview": {
                  "id": "adsenseplatform.platforms.accounts.sites.requestReview",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The name of the site to submit for review. Format: platforms/{platform}/accounts/{account}/sites/{site}",
                      "location": "path",
                      "type": "string",
                      "pattern": "^platforms/[^/]+/accounts/[^/]+/sites/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ],
                  "description": "Requests the review of a site. The site should be in REQUIRES_REVIEW or NEEDS_ATTENTION state. Note: Make sure you place an [ad tag](https://developers.google.com/adsense/platforms/direct/ad-tags) on your site before requesting a review.",
                  "path": "v1/{+name}:requestReview",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "RequestSiteReviewResponse"
                  },
                  "flatPath": "v1/platforms/{platformsId}/accounts/{accountsId}/sites/{sitesId}:requestReview"
                },
                "delete": {
                  "flatPath": "v1/platforms/{platformsId}/accounts/{accountsId}/sites/{sitesId}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "path": "v1/{+name}",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ],
                  "description": "Deletes a site from a specified account.",
                  "id": "adsenseplatform.platforms.accounts.sites.delete",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The name of the site to delete. Format: platforms/{platform}/accounts/{account}/sites/{site}",
                      "location": "path",
                      "type": "string",
                      "pattern": "^platforms/[^/]+/accounts/[^/]+/sites/[^/]+$"
                    }
                  }
                },
                "list": {
                  "response": {
                    "$ref": "ListSitesResponse"
                  },
                  "flatPath": "v1/platforms/{platformsId}/accounts/{accountsId}/sites",
                  "id": "adsenseplatform.platforms.accounts.sites.list",
                  "parameters": {
                    "parent": {
                      "description": "Required. The account which owns the sites. Format: platforms/{platform}/accounts/{account}",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^platforms/[^/]+/accounts/[^/]+$"
                    },
                    "pageToken": {
                      "description": "A page token, received from a previous `ListSites` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListSites` must match the call that provided the page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "The maximum number of sites to include in the response, used for paging. If unspecified, at most 10000 sites will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
                      "location": "query",
                      "type": "integer"
                    }
                  },
                  "path": "v1/{+parent}/sites",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "description": "Lists sites for a specific account."
                }
              }
            }
          },
          "methods": {
            "create": {
              "response": {
                "$ref": "Account"
              },
              "flatPath": "v1/platforms/{platformsId}/accounts",
              "request": {
                "$ref": "Account"
              },
              "id": "adsenseplatform.platforms.accounts.create",
              "parameters": {
                "parent": {
                  "pattern": "^platforms/[^/]+$",
                  "description": "Required. Platform to create an account for. Format: platforms/{platform}",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/adsense"
              ],
              "description": "Creates a sub-account.",
              "path": "v1/{+parent}/accounts",
              "httpMethod": "POST"
            },
            "close": {
              "request": {
                "$ref": "CloseAccountRequest"
              },
              "flatPath": "v1/platforms/{platformsId}/accounts/{accountsId}:close",
              "response": {
                "$ref": "CloseAccountResponse"
              },
              "path": "v1/{+name}:close",
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/adsense"
              ],
              "description": "Closes a sub-account.",
              "id": "adsenseplatform.platforms.accounts.close",
              "parameters": {
                "name": {
                  "description": "Required. Account to close. Format: platforms/{platform}/accounts/{account_id}",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^platforms/[^/]+/accounts/[^/]+$"
                }
              }
            },
            "lookup": {
              "flatPath": "v1/platforms/{platformsId}/accounts:lookup",
              "response": {
                "$ref": "LookupAccountResponse"
              },
              "path": "v1/{+parent}/accounts:lookup",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "description": "Looks up information about a sub-account for a specified creation_request_id. If no account exists for the given creation_request_id, returns 404.",
              "id": "adsenseplatform.platforms.accounts.lookup",
              "parameters": {
                "parent": {
                  "pattern": "^platforms/[^/]+$",
                  "description": "Required. Platform who parents the account. Format: platforms/{platform}",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "creationRequestId": {
                  "description": "Optional. The creation_request_id provided when calling createAccount.",
                  "location": "query",
                  "type": "string"
                }
              }
            },
            "get": {
              "id": "adsenseplatform.platforms.accounts.get",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. Account to get information about. Format: platforms/{platform}/accounts/{account_id}",
                  "location": "path",
                  "type": "string",
                  "pattern": "^platforms/[^/]+/accounts/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "description": "Gets information about the selected sub-account.",
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "response": {
                "$ref": "Account"
              },
              "flatPath": "v1/platforms/{platformsId}/accounts/{accountsId}"
            },
            "list": {
              "id": "adsenseplatform.platforms.accounts.list",
              "parameters": {
                "parent": {
                  "description": "Required. Platform who parents the accounts. Format: platforms/{platform}",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^platforms/[^/]+$"
                },
                "pageSize": {
                  "description": "Optional. The maximum number of accounts to include in the response, used for paging. If unspecified, at most 10000 accounts will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "Optional. A page token, received from a previous `ListAccounts` call. Provide this to retrieve the subsequent page.",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "description": "Lists a partial view of sub-accounts for a specific parent account.",
              "path": "v1/{+parent}/accounts",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListAccountsResponse"
              },
              "flatPath": "v1/platforms/{platformsId}/accounts"
            }
          }
        }
      }
    }
  },
  "rootUrl": "https://adsenseplatform.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/adsense": {
          "description": "View and manage your AdSense data"
        },
        "https://www.googleapis.com/auth/adsense.readonly": {
          "description": "View your AdSense data"
        }
      }
    }
  },
  "parameters": {
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    }
  },
  "revision": "20260628",
  "canonicalName": "AdSense Platform",
  "kind": "discovery#restDescription"
}