{
  "canonicalName": "AdSense Platform",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/adsense": {
          "description": "View and manage your AdSense data"
        },
        "https://www.googleapis.com/auth/adsense.readonly": {
          "description": "View your AdSense data"
        }
      }
    }
  },
  "batchPath": "batch",
  "version": "v1alpha",
  "protocol": "rest",
  "discoveryVersion": "v1",
  "resources": {
    "platforms": {
      "resources": {
        "accounts": {
          "methods": {
            "lookup": {
              "flatPath": "v1alpha/platforms/{platformsId}/accounts:lookup",
              "description": "Looks up information about a sub-account for a specified creation_request_id. If no account exists for the given creation_request_id, returns 404.",
              "path": "v1alpha/{+parent}/accounts:lookup",
              "parameters": {
                "parent": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Required. Platform who parents the account. Format: platforms/{platform}",
                  "pattern": "^platforms/[^/]+$"
                },
                "creationRequestId": {
                  "description": "Optional. The creation_request_id provided when calling createAccount.",
                  "location": "query",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "id": "adsenseplatform.platforms.accounts.lookup",
              "response": {
                "$ref": "LookupAccountResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET"
            },
            "list": {
              "path": "v1alpha/{+parent}/accounts",
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "description": "Required. Platform who parents the accounts. Format: platforms/{platform}",
                  "pattern": "^platforms/[^/]+$",
                  "location": "path"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "Optional. The maximum number of accounts to include in the response, used for paging. If unspecified, at most 10000 accounts will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000."
                },
                "pageToken": {
                  "description": "Optional. A page token, received from a previous `ListAccounts` call. Provide this to retrieve the subsequent page.",
                  "location": "query",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "description": "Lists a partial view of sub-accounts for a specific parent account.",
              "flatPath": "v1alpha/platforms/{platformsId}/accounts",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "id": "adsenseplatform.platforms.accounts.list",
              "response": {
                "$ref": "ListAccountsResponse"
              }
            },
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "id": "adsenseplatform.platforms.accounts.create",
              "response": {
                "$ref": "Account"
              },
              "httpMethod": "POST",
              "flatPath": "v1alpha/platforms/{platformsId}/accounts",
              "request": {
                "$ref": "Account"
              },
              "path": "v1alpha/{+parent}/accounts",
              "parameters": {
                "parent": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Required. Platform to create an account for. Format: platforms/{platform}",
                  "pattern": "^platforms/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/adsense"
              ],
              "description": "Creates a sub-account."
            },
            "close": {
              "flatPath": "v1alpha/platforms/{platformsId}/accounts/{accountsId}:close",
              "description": "Closes a sub-account.",
              "request": {
                "$ref": "CloseAccountRequest"
              },
              "path": "v1alpha/{+name}:close",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Required. Account to close. Format: platforms/{platform}/accounts/{account_id}",
                  "pattern": "^platforms/[^/]+/accounts/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/adsense"
              ],
              "id": "adsenseplatform.platforms.accounts.close",
              "response": {
                "$ref": "CloseAccountResponse"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST"
            },
            "get": {
              "id": "adsenseplatform.platforms.accounts.get",
              "response": {
                "$ref": "Account"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "flatPath": "v1alpha/platforms/{platformsId}/accounts/{accountsId}",
              "description": "Gets information about the selected sub-account.",
              "path": "v1alpha/{+name}",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. Account to get information about. Format: platforms/{platform}/accounts/{account_id}",
                  "pattern": "^platforms/[^/]+/accounts/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ]
            }
          },
          "resources": {
            "sites": {
              "methods": {
                "create": {
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "adsenseplatform.platforms.accounts.sites.create",
                  "response": {
                    "$ref": "Site"
                  },
                  "path": "v1alpha/{+parent}/sites",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. Account to create site. Format: platforms/{platform}/accounts/{account_id}",
                      "pattern": "^platforms/[^/]+/accounts/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ],
                  "request": {
                    "$ref": "Site"
                  },
                  "description": "Creates a site for a specified account.",
                  "flatPath": "v1alpha/platforms/{platformsId}/accounts/{accountsId}/sites"
                },
                "list": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "adsenseplatform.platforms.accounts.sites.list",
                  "response": {
                    "$ref": "ListSitesResponse"
                  },
                  "path": "v1alpha/{+parent}/sites",
                  "parameters": {
                    "pageSize": {
                      "description": "The maximum number of sites to include in the response, used for paging. If unspecified, at most 10000 sites will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "A page token, received from a previous `ListSites` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListSites` must match the call that provided the page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Required. The account which owns the sites. Format: platforms/{platform}/accounts/{account}",
                      "pattern": "^platforms/[^/]+/accounts/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "description": "Lists sites for a specific account.",
                  "flatPath": "v1alpha/platforms/{platformsId}/accounts/{accountsId}/sites"
                },
                "requestReview": {
                  "flatPath": "v1alpha/platforms/{platformsId}/accounts/{accountsId}/sites/{sitesId}:requestReview",
                  "description": "Requests the review of a site. The site should be in REQUIRES_REVIEW or NEEDS_ATTENTION state. Note: Make sure you place an [ad tag](https://developers.google.com/adsense/platforms/direct/ad-tags) on your site before requesting a review.",
                  "path": "v1alpha/{+name}:requestReview",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Required. The name of the site to submit for review. Format: platforms/{platform}/accounts/{account}/sites/{site}",
                      "pattern": "^platforms/[^/]+/accounts/[^/]+/sites/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ],
                  "id": "adsenseplatform.platforms.accounts.sites.requestReview",
                  "response": {
                    "$ref": "RequestSiteReviewResponse"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST"
                },
                "get": {
                  "flatPath": "v1alpha/platforms/{platformsId}/accounts/{accountsId}/sites/{sitesId}",
                  "path": "v1alpha/{+name}",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the site to retrieve. Format: platforms/{platform}/accounts/{account}/sites/{site}",
                      "pattern": "^platforms/[^/]+/accounts/[^/]+/sites/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "description": "Gets a site from a specified sub-account.",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "adsenseplatform.platforms.accounts.sites.get",
                  "response": {
                    "$ref": "Site"
                  },
                  "httpMethod": "GET"
                },
                "delete": {
                  "id": "adsenseplatform.platforms.accounts.sites.delete",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "flatPath": "v1alpha/platforms/{platformsId}/accounts/{accountsId}/sites/{sitesId}",
                  "description": "Deletes a site from a specified account.",
                  "path": "v1alpha/{+name}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The name of the site to delete. Format: platforms/{platform}/accounts/{account}/sites/{site}",
                      "pattern": "^platforms/[^/]+/accounts/[^/]+/sites/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ]
                }
              }
            },
            "events": {
              "methods": {
                "create": {
                  "httpMethod": "POST",
                  "id": "adsenseplatform.platforms.accounts.events.create",
                  "response": {
                    "$ref": "Event"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates an account event.",
                  "path": "v1alpha/{+parent}/events",
                  "parameters": {
                    "parent": {
                      "description": "Required. Account to log events about. Format: platforms/{platform}/accounts/{account}",
                      "pattern": "^platforms/[^/]+/accounts/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ],
                  "request": {
                    "$ref": "Event"
                  },
                  "flatPath": "v1alpha/platforms/{platformsId}/accounts/{accountsId}/events"
                }
              }
            }
          }
        }
      }
    },
    "accounts": {
      "resources": {
        "platforms": {
          "methods": {
            "get": {
              "parameterOrder": [
                "name"
              ],
              "id": "adsenseplatform.accounts.platforms.get",
              "response": {
                "$ref": "Platform"
              },
              "httpMethod": "GET",
              "flatPath": "v1alpha/accounts/{accountsId}/platforms/{platformsId}",
              "path": "v1alpha/{+name}",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "Required. The name of the platform to retrieve. Format: accounts/{account}/platforms/{platform}",
                  "pattern": "^accounts/[^/]+/platforms/[^/]+$",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "description": "Gets a platform."
            },
            "list": {
              "flatPath": "v1alpha/accounts/{accountsId}/platforms",
              "description": "Lists platforms for a specified account.",
              "path": "v1alpha/{+parent}/platforms",
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "Optional. The maximum number of platforms to include in the response, used for paging. If unspecified, at most 10000 platforms will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000."
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. A page token, received from a previous `ListPlatforms` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListPlatforms` must match the call that provided the page token."
                },
                "parent": {
                  "location": "path",
                  "description": "Required. The account which owns the platforms. Format: accounts/{account}",
                  "pattern": "^accounts/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "id": "adsenseplatform.accounts.platforms.list",
              "response": {
                "$ref": "ListPlatformsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET"
            }
          },
          "resources": {
            "groups": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "adsenseplatform.accounts.platforms.groups.list",
                  "response": {
                    "$ref": "ListPlatformGroupsResponse"
                  },
                  "httpMethod": "GET",
                  "flatPath": "v1alpha/accounts/{accountsId}/platforms/{platformsId}/groups",
                  "path": "v1alpha/{+parent}/groups",
                  "parameters": {
                    "parent": {
                      "description": "Required. The name of the platform to retrieve. Format: accounts/{account}/platforms/{platform}",
                      "pattern": "^accounts/[^/]+/platforms/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. The maximum number of groups to include in the response, used for paging. If unspecified, at most 10000 groups will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000."
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous `ListPlatformGroups` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListPlatformGroups` must match the call that provided the page token.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "description": "Lists Platform Groups for a specified Platform."
                },
                "get": {
                  "path": "v1alpha/{+name}",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the platform group to retrieve. Format: accounts/{account}/platforms/{platform}/groups/{group}",
                      "pattern": "^accounts/[^/]+/platforms/[^/]+/groups/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "description": "Gets a Platform Group for a specified Platform and group.",
                  "flatPath": "v1alpha/accounts/{accountsId}/platforms/{platformsId}/groups/{groupsId}",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "adsenseplatform.accounts.platforms.groups.get",
                  "response": {
                    "$ref": "PlatformGroup"
                  }
                },
                "patch": {
                  "flatPath": "v1alpha/accounts/{accountsId}/platforms/{platformsId}/groups/{groupsId}",
                  "request": {
                    "$ref": "PlatformGroup"
                  },
                  "path": "v1alpha/{+name}",
                  "parameters": {
                    "name": {
                      "description": "Identifier. Format: accounts/{account}/platforms/{platform}/groups/{platform_group}",
                      "pattern": "^accounts/[^/]+/platforms/[^/]+/groups/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "updateMask": {
                      "description": "Optional. The list of fields to update - currently only supports updating the `description` field.",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ],
                  "description": "Update a Platform Group.",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "adsenseplatform.accounts.platforms.groups.patch",
                  "response": {
                    "$ref": "PlatformGroup"
                  },
                  "httpMethod": "PATCH"
                }
              }
            },
            "childAccounts": {
              "resources": {
                "sites": {
                  "methods": {
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "adsenseplatform.accounts.platforms.childAccounts.sites.list",
                      "response": {
                        "$ref": "ListPlatformChildSitesResponse"
                      },
                      "httpMethod": "GET",
                      "flatPath": "v1alpha/accounts/{accountsId}/platforms/{platformsId}/childAccounts/{childAccountsId}/sites",
                      "path": "v1alpha/{+parent}/sites",
                      "parameters": {
                        "parent": {
                          "description": "Required. The name of the child account under the given platform which owns the platform child sites. Format: accounts/{account}/platforms/{platform}/childAccounts/{child_account}",
                          "pattern": "^accounts/[^/]+/platforms/[^/]+/childAccounts/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "Optional. The maximum number of children to include in the response, used for paging. If unspecified, at most 10000 platforms will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. A page token, received from a previous `ListPlatformChildSites` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListPlatformChildSites` must match the call that provided the page token."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/adsense",
                        "https://www.googleapis.com/auth/adsense.readonly"
                      ],
                      "description": "Lists Platform Child Sites for a specified Platform Child Account."
                    },
                    "get": {
                      "flatPath": "v1alpha/accounts/{accountsId}/platforms/{platformsId}/childAccounts/{childAccountsId}/sites/{sitesId}",
                      "path": "v1alpha/{+name}",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "description": "Required. The name of the platform child site to retrieve. Format: accounts/{account}/platforms/{platform}/childAccounts/{child_account}/sites/{platform_child_site}",
                          "pattern": "^accounts/[^/]+/platforms/[^/]+/childAccounts/[^/]+/sites/[^/]+$"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/adsense",
                        "https://www.googleapis.com/auth/adsense.readonly"
                      ],
                      "description": "Gets a Platform Child Site for a specified Platform Child Account and site.",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "adsenseplatform.accounts.platforms.childAccounts.sites.get",
                      "response": {
                        "$ref": "PlatformChildSite"
                      },
                      "httpMethod": "GET"
                    },
                    "patch": {
                      "httpMethod": "PATCH",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "adsenseplatform.accounts.platforms.childAccounts.sites.patch",
                      "response": {
                        "$ref": "PlatformChildSite"
                      },
                      "path": "v1alpha/{+name}",
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "description": "Identifier. Format: accounts/{account}/platforms/{platform}/childAccounts/{child_account}/sites/{platform_child_site}",
                          "pattern": "^accounts/[^/]+/platforms/[^/]+/childAccounts/[^/]+/sites/[^/]+$",
                          "location": "path"
                        },
                        "updateMask": {
                          "description": "Optional. The list of fields to update - currently only supports updating the `platform_group` field.",
                          "location": "query",
                          "type": "string",
                          "format": "google-fieldmask"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/adsense"
                      ],
                      "request": {
                        "$ref": "PlatformChildSite"
                      },
                      "description": "Update a Platform Child Site.",
                      "flatPath": "v1alpha/accounts/{accountsId}/platforms/{platformsId}/childAccounts/{childAccountsId}/sites/{sitesId}"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "schemas": {
    "EventInfo": {
      "id": "EventInfo",
      "description": "Private information for partner recorded events (PII).",
      "type": "object",
      "properties": {
        "email": {
          "description": "Required. The email address that is associated with the publisher when performing the event.",
          "type": "string"
        },
        "billingAddress": {
          "description": "The billing address of the publisher associated with this event, if available.",
          "$ref": "Address"
        }
      }
    },
    "RequestSiteReviewResponse": {
      "id": "RequestSiteReviewResponse",
      "description": "Response definition for the site request review rpc.",
      "type": "object",
      "properties": {}
    },
    "Platform": {
      "type": "object",
      "properties": {
        "description": {
          "description": "Output only. Description of the platform.",
          "readOnly": true,
          "type": "string"
        },
        "defaultPlatformGroup": {
          "description": "Default platform group for the platform.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. Resource name of a platform. Format: accounts/{account}/platforms/{platform}",
          "type": "string"
        }
      },
      "id": "Platform",
      "description": "Representation of a Transparent Platform."
    },
    "TimeZone": {
      "type": "object",
      "properties": {
        "id": {
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\".",
          "type": "string"
        },
        "version": {
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\".",
          "type": "string"
        }
      },
      "id": "TimeZone",
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones)."
    },
    "CloseAccountResponse": {
      "type": "object",
      "properties": {},
      "id": "CloseAccountResponse",
      "description": "Response definition for the account close rpc."
    },
    "LookupAccountResponse": {
      "id": "LookupAccountResponse",
      "description": "Response definition for the lookup account rpc.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the Account Format: platforms/{platform}/accounts/{account_id}",
          "type": "string"
        }
      }
    },
    "Event": {
      "type": "object",
      "properties": {
        "eventType": {
          "enumDescriptions": [
            "Do not use. You must set an event type explicitly.",
            "Log in via platform.",
            "Sign up via platform."
          ],
          "type": "string",
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "LOG_IN_VIA_PLATFORM",
            "SIGN_UP_VIA_PLATFORM"
          ],
          "description": "Required. Event type."
        },
        "eventInfo": {
          "description": "Required. Information associated with the event.",
          "$ref": "EventInfo"
        },
        "eventTime": {
          "description": "Required. Event timestamp.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "Event",
      "description": "A platform sub-account event to record spam signals."
    },
    "Address": {
      "type": "object",
      "properties": {
        "contact": {
          "description": "Contact name of the company. Max length 128 bytes or 34 characters.",
          "type": "string"
        },
        "fax": {
          "description": "Fax number with international code (i.e. +441234567890).",
          "type": "string"
        },
        "company": {
          "description": "Name of the company. Max length 255 bytes or 34 characters.",
          "type": "string"
        },
        "zip": {
          "description": "Zip/post code. Max length 10 bytes or 10 characters.",
          "type": "string"
        },
        "address1": {
          "description": "First line of address. Max length 64 bytes or 30 characters.",
          "type": "string"
        },
        "address2": {
          "description": "Second line of address. Max length 64 bytes or 30 characters.",
          "type": "string"
        },
        "city": {
          "description": "City. Max length 60 bytes or 30 characters.",
          "type": "string"
        },
        "phone": {
          "description": "Phone number with international code (i.e. +441234567890).",
          "type": "string"
        },
        "regionCode": {
          "description": "Country/Region code. The region is specified as a CLDR region code (e.g. \"US\", \"FR\").",
          "type": "string"
        },
        "state": {
          "description": "State. Max length 60 bytes or 30 characters.",
          "type": "string"
        }
      },
      "id": "Address",
      "description": "Address data."
    },
    "Empty": {
      "type": "object",
      "properties": {},
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "CloseAccountRequest": {
      "type": "object",
      "properties": {},
      "id": "CloseAccountRequest",
      "description": "Request definition for the account close rpc."
    },
    "ListPlatformGroupsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Continuation token used to page through platforms. To retrieve the next page of the results, set the next request's \"page_token\" value to this.",
          "type": "string"
        },
        "platformGroups": {
          "description": "The platform groups returned in this list response.",
          "type": "array",
          "items": {
            "$ref": "PlatformGroup"
          }
        }
      },
      "id": "ListPlatformGroupsResponse",
      "description": "Response definition for the platform groups list rpc."
    },
    "Account": {
      "id": "Account",
      "description": "Representation of an Account.",
      "type": "object",
      "properties": {
        "creationRequestId": {
          "description": "Required. An opaque token that uniquely identifies the account among all the platform's accounts. This string may contain at most 64 non-whitespace ASCII characters, but otherwise has no predefined structure. However, it is expected to be a platform-specific identifier for the user creating the account, so that only a single account can be created for any given user. This field must not contain any information that is recognizable as personally identifiable information. e.g. it should not be an email address or login name. Once an account has been created, a second attempt to create an account using the same creation_request_id will result in an ALREADY_EXISTS error.",
          "type": "string"
        },
        "timeZone": {
          "description": "Required. The IANA TZ timezone code of this account. For more information, see https://en.wikipedia.org/wiki/List_of_tz_database_time_zones. This field is used for reporting. It is recommended to set it to the same value for all child accounts.",
          "$ref": "TimeZone"
        },
        "regionCode": {
          "description": "Required. Input only. CLDR region code of the country/region of the address. Set this to country code of the child account if known, otherwise to your own country code.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "UNCHECKED",
            "APPROVED",
            "DISAPPROVED"
          ],
          "description": "Output only. Approval state of the account.",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified.",
            "Unchecked.",
            "The account is ready to serve ads.",
            "The account has been blocked from serving ads."
          ]
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Creation time of the account.",
          "readOnly": true
        },
        "name": {
          "description": "Output only. Resource name of the account. Format: platforms/pub-[0-9]+/accounts/pub-[0-9]+",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "Display name of this account.",
          "type": "string"
        }
      }
    },
    "ListPlatformChildSitesResponse": {
      "id": "ListPlatformChildSitesResponse",
      "description": "Response definition for the list platform child sites rpc.",
      "type": "object",
      "properties": {
        "platformChildSites": {
          "type": "array",
          "items": {
            "$ref": "PlatformChildSite"
          },
          "description": "The platform child sites returned in this list response."
        },
        "nextPageToken": {
          "description": "Continuation token used to page through platforms. To retrieve the next page of the results, set the next request's \"page_token\" value to this.",
          "type": "string"
        }
      }
    },
    "PlatformChildSite": {
      "id": "PlatformChildSite",
      "description": "Representation of a Transparent Platform Child Site.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. Format: accounts/{account}/platforms/{platform}/childAccounts/{child_account}/sites/{platform_child_site}",
          "type": "string"
        },
        "domain": {
          "type": "string",
          "description": "Output only. Domain URL of the Platform Child Site. Part of the PlatformChildSite name.",
          "readOnly": true
        },
        "platformGroup": {
          "description": "Resource name of the Platform Group of the Platform Child Site.",
          "type": "string"
        }
      }
    },
    "Site": {
      "id": "Site",
      "description": "Representation of a Site.",
      "type": "object",
      "properties": {
        "state": {
          "description": "Output only. State of a site.",
          "readOnly": true,
          "enumDescriptions": [
            "State unspecified.",
            "Either: - The site hasn't been checked yet. - The site is inactive and needs another review before it can show ads again. Learn how to [request a review for an inactive site](https://support.google.com/adsense/answer/9393996).",
            "Google is running some checks on the site. This usually takes a few days, but in some cases it can take two to four weeks.",
            "The site is ready to show ads. Learn how to [set up ads on the site](https://support.google.com/adsense/answer/7037624).",
            "Publisher needs to fix some issues before the site is ready to show ads. Learn what to do [if a new site isn't ready](https://support.google.com/adsense/answer/9061852)."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "REQUIRES_REVIEW",
            "GETTING_READY",
            "READY",
            "NEEDS_ATTENTION"
          ]
        },
        "name": {
          "description": "Output only. Resource name of a site. Format: platforms/{platform}/accounts/{account}/sites/{site}",
          "readOnly": true,
          "type": "string"
        },
        "domain": {
          "description": "Domain/sub-domain of the site. Must be a valid domain complying with [RFC 1035](https://www.ietf.org/rfc/rfc1035.txt) and formatted as punycode [RFC 3492](https://www.ietf.org/rfc/rfc3492.txt) in case the domain contains unicode characters.",
          "type": "string"
        }
      }
    },
    "PlatformGroup": {
      "id": "PlatformGroup",
      "description": "Representation of a Transparent Platform Group.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. Format: accounts/{account}/platforms/{platform}/groups/{platform_group}",
          "type": "string"
        },
        "revshareMillipercent": {
          "$ref": "Decimal",
          "description": "Output only. The revenue share of the PlatformGroup, in millipercent (e.g. 15000 = 15%).",
          "readOnly": true
        },
        "description": {
          "description": "Required. Description of the PlatformGroup.",
          "type": "string"
        }
      }
    },
    "ListSitesResponse": {
      "type": "object",
      "properties": {
        "sites": {
          "description": "The sites returned in this list response.",
          "type": "array",
          "items": {
            "$ref": "Site"
          }
        },
        "nextPageToken": {
          "description": "Continuation token used to page through sites. To retrieve the next page of the results, set the next request's \"page_token\" value to this.",
          "type": "string"
        }
      },
      "id": "ListSitesResponse",
      "description": "Response definition for the site list rpc."
    },
    "Decimal": {
      "type": "object",
      "properties": {
        "value": {
          "description": "The decimal value, as a string. The string representation consists of an optional sign, `+` (`U+002B`) or `-` (`U+002D`), followed by a sequence of zero or more decimal digits (\"the integer\"), optionally followed by a fraction, optionally followed by an exponent. An empty string **should** be interpreted as `0`. The fraction consists of a decimal point followed by zero or more decimal digits. The string must contain at least one digit in either the integer or the fraction. The number formed by the sign, the integer and the fraction is referred to as the significand. The exponent consists of the character `e` (`U+0065`) or `E` (`U+0045`) followed by one or more decimal digits. Services **should** normalize decimal values before storing them by: - Removing an explicitly-provided `+` sign (`+2.5` -> `2.5`). - Replacing a zero-length integer value with `0` (`.5` -> `0.5`). - Coercing the exponent character to upper-case, with explicit sign (`2.5e8` -> `2.5E+8`). - Removing an explicitly-provided zero exponent (`2.5E0` -> `2.5`). Services **may** perform additional normalization based on its own needs and the internal decimal implementation selected, such as shifting the decimal point and exponent value together (example: `2.5E-1` <-> `0.25`). Additionally, services **may** preserve trailing zeroes in the fraction to indicate increased precision, but are not required to do so. Note that only the `.` character is supported to divide the integer and the fraction; `,` **should not** be supported regardless of locale. Additionally, thousand separators **should not** be supported. If a service does support them, values **must** be normalized. The ENBF grammar is: DecimalString = '' | [Sign] Significand [Exponent]; Sign = '+' | '-'; Significand = Digits '.' | [Digits] '.' Digits; Exponent = ('e' | 'E') [Sign] Digits; Digits = { '0' | '1' | '2' | '3' | '4' | '5' | '6' | '7' | '8' | '9' }; Services **should** clearly document the range of supported values, the maximum supported precision (total number of digits), and, if applicable, the scale (number of digits after the decimal point), as well as how it behaves when receiving out-of-bounds values. Services **may** choose to accept values passed as input even when the value has a higher precision or scale than the service supports, and **should** round the value to fit the supported scale. Alternatively, the service **may** error with `400 Bad Request` (`INVALID_ARGUMENT` in gRPC) if precision would be lost. Services **should** error with `400 Bad Request` (`INVALID_ARGUMENT` in gRPC) if the service receives a value outside of the supported range.",
          "type": "string"
        }
      },
      "id": "Decimal",
      "description": "A representation of a decimal value, such as 2.5. Clients may convert values into language-native decimal formats, such as Java's [BigDecimal](https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/math/BigDecimal.html) or Python's [decimal.Decimal](https://docs.python.org/3/library/decimal.html)."
    },
    "ListPlatformsResponse": {
      "id": "ListPlatformsResponse",
      "description": "Response definition for the platform list rpc.",
      "type": "object",
      "properties": {
        "platforms": {
          "description": "The platforms returned in this list response.",
          "type": "array",
          "items": {
            "$ref": "Platform"
          }
        },
        "nextPageToken": {
          "description": "Continuation token used to page through platforms. To retrieve the next page of the results, set the next request's \"page_token\" value to this.",
          "type": "string"
        }
      }
    },
    "ListAccountsResponse": {
      "type": "object",
      "properties": {
        "accounts": {
          "type": "array",
          "items": {
            "$ref": "Account"
          },
          "description": "The Accounts returned in the list response. Represented by a partial view of the Account resource, populating `name` and `creation_request_id`."
        },
        "nextPageToken": {
          "description": "Continuation token used to page through accounts. To retrieve the next page of the results, set the next request's \"page_token\" value to this.",
          "type": "string"
        }
      },
      "id": "ListAccountsResponse",
      "description": "Response definition for the list accounts rpc."
    }
  },
  "rootUrl": "https://adsenseplatform.googleapis.com/",
  "title": "AdSense Platform API",
  "description": "",
  "parameters": {
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "alt": {
      "default": "json",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    }
  },
  "ownerName": "Google",
  "documentationLink": "https://developers.google.com/adsense/platforms/",
  "ownerDomain": "google.com",
  "version_module": true,
  "servicePath": "",
  "basePath": "",
  "id": "adsenseplatform:v1alpha",
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://adsenseplatform.mtls.googleapis.com/",
  "baseUrl": "https://adsenseplatform.googleapis.com/",
  "name": "adsenseplatform",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "revision": "20260618",
  "fullyEncodeReservedExpansion": true
}