{
  "ownerDomain": "google.com",
  "batchPath": "batch",
  "id": "adsenseplatform:v1",
  "revision": "20260709",
  "version": "v1",
  "parameters": {
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "canonicalName": "AdSense Platform",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "mtlsRootUrl": "https://adsenseplatform.mtls.googleapis.com/",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "schemas": {
    "Event": {
      "description": "A platform sub-account event to record spam signals.",
      "properties": {
        "eventTime": {
          "type": "string",
          "description": "Required. Event timestamp.",
          "format": "google-datetime"
        },
        "eventType": {
          "type": "string",
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "LOG_IN_VIA_PLATFORM",
            "SIGN_UP_VIA_PLATFORM"
          ],
          "enumDescriptions": [
            "Do not use. You must set an event type explicitly.",
            "Log in via platform.",
            "Sign up via platform."
          ],
          "description": "Required. Event type."
        },
        "eventInfo": {
          "description": "Required. Information associated with the event.",
          "$ref": "EventInfo"
        }
      },
      "id": "Event",
      "type": "object"
    },
    "ListAccountsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token used to page through accounts. To retrieve the next page of the results, set the next request's \"page_token\" value to this."
        },
        "accounts": {
          "type": "array",
          "items": {
            "$ref": "Account"
          },
          "description": "The Accounts returned in the list response. Represented by a partial view of the Account resource, populating `name` and `creation_request_id`."
        }
      },
      "description": "Response definition for the list accounts rpc.",
      "id": "ListAccountsResponse",
      "type": "object"
    },
    "CloseAccountRequest": {
      "id": "CloseAccountRequest",
      "type": "object",
      "properties": {},
      "description": "Request definition for the account close rpc."
    },
    "Address": {
      "id": "Address",
      "type": "object",
      "description": "Address data.",
      "properties": {
        "regionCode": {
          "description": "Country/Region code. The region is specified as a CLDR region code (e.g. \"US\", \"FR\").",
          "type": "string"
        },
        "fax": {
          "type": "string",
          "description": "Fax number with international code (i.e. +441234567890)."
        },
        "address1": {
          "type": "string",
          "description": "First line of address. Max length 64 bytes or 30 characters."
        },
        "address2": {
          "type": "string",
          "description": "Second line of address. Max length 64 bytes or 30 characters."
        },
        "company": {
          "type": "string",
          "description": "Name of the company. Max length 255 bytes or 34 characters."
        },
        "contact": {
          "description": "Contact name of the company. Max length 128 bytes or 34 characters.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "description": "State. Max length 60 bytes or 30 characters."
        },
        "phone": {
          "description": "Phone number with international code (i.e. +441234567890).",
          "type": "string"
        },
        "zip": {
          "description": "Zip/post code. Max length 10 bytes or 10 characters.",
          "type": "string"
        },
        "city": {
          "type": "string",
          "description": "City. Max length 60 bytes or 30 characters."
        }
      }
    },
    "RequestSiteReviewResponse": {
      "id": "RequestSiteReviewResponse",
      "type": "object",
      "properties": {},
      "description": "Response definition for the site request review rpc."
    },
    "EventInfo": {
      "id": "EventInfo",
      "type": "object",
      "description": "Private information for partner recorded events (PII).",
      "properties": {
        "email": {
          "type": "string",
          "description": "Required. The email address that is associated with the publisher when performing the event."
        },
        "billingAddress": {
          "description": "The billing address of the publisher associated with this event, if available.",
          "$ref": "Address"
        }
      }
    },
    "ListSitesResponse": {
      "description": "Response definition for the site list rpc.",
      "properties": {
        "sites": {
          "description": "The sites returned in this list response.",
          "type": "array",
          "items": {
            "$ref": "Site"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token used to page through sites. To retrieve the next page of the results, set the next request's \"page_token\" value to this."
        }
      },
      "id": "ListSitesResponse",
      "type": "object"
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "CloseAccountResponse": {
      "description": "Response definition for the account close rpc.",
      "properties": {},
      "id": "CloseAccountResponse",
      "type": "object"
    },
    "TimeZone": {
      "id": "TimeZone",
      "type": "object",
      "properties": {
        "id": {
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\".",
          "type": "string"
        },
        "version": {
          "type": "string",
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\"."
        }
      },
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones)."
    },
    "Account": {
      "id": "Account",
      "type": "object",
      "description": "Representation of an Account.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. Resource name of the account. Format: platforms/pub-[0-9]+/accounts/pub-[0-9]+",
          "readOnly": true
        },
        "regionCode": {
          "description": "Required. Input only. CLDR region code of the country/region of the address. Set this to country code of the child account if known, otherwise to your own country code.",
          "type": "string"
        },
        "creationRequestId": {
          "description": "Required. An opaque token that uniquely identifies the account among all the platform's accounts. This string may contain at most 64 non-whitespace ASCII characters, but otherwise has no predefined structure. However, it is expected to be a platform-specific identifier for the user creating the account, so that only a single account can be created for any given user. This field must not contain any information that is recognizable as personally identifiable information. e.g. it should not be an email address or login name. Once an account has been created, a second attempt to create an account using the same creation_request_id will result in an ALREADY_EXISTS error.",
          "type": "string"
        },
        "timeZone": {
          "description": "Required. The IANA TZ timezone code of this account. For more information, see https://en.wikipedia.org/wiki/List_of_tz_database_time_zones. This field is used for reporting. It is recommended to set it to the same value for all child accounts.",
          "$ref": "TimeZone"
        },
        "state": {
          "description": "Output only. Approval state of the account.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "UNCHECKED",
            "APPROVED",
            "DISAPPROVED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified.",
            "Unchecked.",
            "The account is ready to serve ads.",
            "The account has been blocked from serving ads."
          ]
        },
        "displayName": {
          "description": "Display name of this account.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Creation time of the account.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "Site": {
      "description": "Representation of a Site.",
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Resource name of a site. Format: platforms/{platform}/accounts/{account}/sites/{site}"
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "State unspecified.",
            "Either: - The site hasn't been checked yet. - The site is inactive and needs another review before it can show ads again. Learn how to [request a review for an inactive site](https://support.google.com/adsense/answer/9393996).",
            "Google is running some checks on the site. This usually takes a few days, but in some cases it can take two to four weeks.",
            "The site is ready to show ads. Learn how to [set up ads on the site](https://support.google.com/adsense/answer/7037624).",
            "Publisher needs to fix some issues before the site is ready to show ads. Learn what to do [if a new site isn't ready](https://support.google.com/adsense/answer/9061852)."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "REQUIRES_REVIEW",
            "GETTING_READY",
            "READY",
            "NEEDS_ATTENTION"
          ],
          "description": "Output only. State of a site."
        },
        "domain": {
          "description": "Domain/sub-domain of the site. Must be a valid domain complying with [RFC 1035](https://www.ietf.org/rfc/rfc1035.txt) and formatted as punycode [RFC 3492](https://www.ietf.org/rfc/rfc3492.txt) in case the domain contains unicode characters.",
          "type": "string"
        }
      },
      "id": "Site",
      "type": "object"
    },
    "LookupAccountResponse": {
      "id": "LookupAccountResponse",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the Account Format: platforms/{platform}/accounts/{account_id}"
        }
      },
      "description": "Response definition for the lookup account rpc."
    }
  },
  "kind": "discovery#restDescription",
  "fullyEncodeReservedExpansion": true,
  "documentationLink": "https://developers.google.com/adsense/platforms/",
  "baseUrl": "https://adsenseplatform.googleapis.com/",
  "resources": {
    "platforms": {
      "resources": {
        "accounts": {
          "resources": {
            "events": {
              "methods": {
                "create": {
                  "path": "v1/{+parent}/events",
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ],
                  "id": "adsenseplatform.platforms.accounts.events.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "Event"
                  },
                  "flatPath": "v1/platforms/{platformsId}/accounts/{accountsId}/events",
                  "description": "Creates an account event.",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "description": "Required. Account to log events about. Format: platforms/{platform}/accounts/{account}",
                      "required": true,
                      "type": "string",
                      "pattern": "^platforms/[^/]+/accounts/[^/]+$",
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "Event"
                  }
                }
              }
            },
            "sites": {
              "methods": {
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Site"
                  },
                  "flatPath": "v1/platforms/{platformsId}/accounts/{accountsId}/sites/{sitesId}",
                  "description": "Gets a site from a specified sub-account.",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^platforms/[^/]+/accounts/[^/]+/sites/[^/]+$",
                      "description": "Required. The name of the site to retrieve. Format: platforms/{platform}/accounts/{account}/sites/{site}"
                    }
                  },
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "id": "adsenseplatform.platforms.accounts.sites.get"
                },
                "create": {
                  "request": {
                    "$ref": "Site"
                  },
                  "description": "Creates a site for a specified account.",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^platforms/[^/]+/accounts/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. Account to create site. Format: platforms/{platform}/accounts/{account_id}"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "Site"
                  },
                  "flatPath": "v1/platforms/{platformsId}/accounts/{accountsId}/sites",
                  "id": "adsenseplatform.platforms.accounts.sites.create",
                  "path": "v1/{+parent}/sites",
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ]
                },
                "delete": {
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ],
                  "id": "adsenseplatform.platforms.accounts.sites.delete",
                  "flatPath": "v1/platforms/{platformsId}/accounts/{accountsId}/sites/{sitesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^platforms/[^/]+/accounts/[^/]+/sites/[^/]+$",
                      "description": "Required. The name of the site to delete. Format: platforms/{platform}/accounts/{account}/sites/{site}"
                    }
                  },
                  "description": "Deletes a site from a specified account."
                },
                "requestReview": {
                  "description": "Requests the review of a site. The site should be in REQUIRES_REVIEW or NEEDS_ATTENTION state. Note: Make sure you place an [ad tag](https://developers.google.com/adsense/platforms/direct/ad-tags) on your site before requesting a review.",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^platforms/[^/]+/accounts/[^/]+/sites/[^/]+$",
                      "description": "Required. The name of the site to submit for review. Format: platforms/{platform}/accounts/{account}/sites/{site}"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "RequestSiteReviewResponse"
                  },
                  "flatPath": "v1/platforms/{platformsId}/accounts/{accountsId}/sites/{sitesId}:requestReview",
                  "path": "v1/{+name}:requestReview",
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ],
                  "id": "adsenseplatform.platforms.accounts.sites.requestReview"
                },
                "list": {
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "pattern": "^platforms/[^/]+/accounts/[^/]+$",
                      "description": "Required. The account which owns the sites. Format: platforms/{platform}/accounts/{account}",
                      "location": "path"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "The maximum number of sites to include in the response, used for paging. If unspecified, at most 10000 sites will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
                      "type": "integer"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "A page token, received from a previous `ListSites` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListSites` must match the call that provided the page token."
                    }
                  },
                  "description": "Lists sites for a specific account.",
                  "flatPath": "v1/platforms/{platformsId}/accounts/{accountsId}/sites",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListSitesResponse"
                  },
                  "id": "adsenseplatform.platforms.accounts.sites.list",
                  "path": "v1/{+parent}/sites",
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ]
                }
              }
            }
          },
          "methods": {
            "get": {
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Account"
              },
              "flatPath": "v1/platforms/{platformsId}/accounts/{accountsId}",
              "description": "Gets information about the selected sub-account.",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. Account to get information about. Format: platforms/{platform}/accounts/{account_id}",
                  "required": true,
                  "type": "string",
                  "pattern": "^platforms/[^/]+/accounts/[^/]+$"
                }
              },
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "id": "adsenseplatform.platforms.accounts.get"
            },
            "lookup": {
              "path": "v1/{+parent}/accounts:lookup",
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "id": "adsenseplatform.platforms.accounts.lookup",
              "description": "Looks up information about a sub-account for a specified creation_request_id. If no account exists for the given creation_request_id, returns 404.",
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "description": "Required. Platform who parents the account. Format: platforms/{platform}",
                  "pattern": "^platforms/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "creationRequestId": {
                  "description": "Optional. The creation_request_id provided when calling createAccount.",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "LookupAccountResponse"
              },
              "flatPath": "v1/platforms/{platformsId}/accounts:lookup"
            },
            "create": {
              "path": "v1/{+parent}/accounts",
              "scopes": [
                "https://www.googleapis.com/auth/adsense"
              ],
              "id": "adsenseplatform.platforms.accounts.create",
              "flatPath": "v1/platforms/{platformsId}/accounts",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "Account"
              },
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^platforms/[^/]+$",
                  "description": "Required. Platform to create an account for. Format: platforms/{platform}"
                }
              },
              "description": "Creates a sub-account.",
              "request": {
                "$ref": "Account"
              }
            },
            "list": {
              "id": "adsenseplatform.platforms.accounts.list",
              "path": "v1/{+parent}/accounts",
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "description": "Lists a partial view of sub-accounts for a specific parent account.",
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^platforms/[^/]+$",
                  "description": "Required. Platform who parents the accounts. Format: platforms/{platform}"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32",
                  "description": "Optional. The maximum number of accounts to include in the response, used for paging. If unspecified, at most 10000 accounts will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000."
                },
                "pageToken": {
                  "type": "string",
                  "description": "Optional. A page token, received from a previous `ListAccounts` call. Provide this to retrieve the subsequent page.",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListAccountsResponse"
              },
              "flatPath": "v1/platforms/{platformsId}/accounts"
            },
            "close": {
              "request": {
                "$ref": "CloseAccountRequest"
              },
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. Account to close. Format: platforms/{platform}/accounts/{account_id}",
                  "pattern": "^platforms/[^/]+/accounts/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "description": "Closes a sub-account.",
              "flatPath": "v1/platforms/{platformsId}/accounts/{accountsId}:close",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "CloseAccountResponse"
              },
              "id": "adsenseplatform.platforms.accounts.close",
              "path": "v1/{+name}:close",
              "scopes": [
                "https://www.googleapis.com/auth/adsense"
              ]
            }
          }
        }
      }
    }
  },
  "name": "adsenseplatform",
  "basePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/adsense": {
          "description": "View and manage your AdSense data"
        },
        "https://www.googleapis.com/auth/adsense.readonly": {
          "description": "View your AdSense data"
        }
      }
    }
  },
  "protocol": "rest",
  "rootUrl": "https://adsenseplatform.googleapis.com/",
  "title": "AdSense Platform API",
  "version_module": true,
  "description": "",
  "servicePath": ""
}