{
  "id": "adsenseplatform:v1alpha",
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "rootUrl": "https://adsenseplatform.googleapis.com/",
  "resources": {
    "platforms": {
      "resources": {
        "accounts": {
          "methods": {
            "close": {
              "path": "v1alpha/{+name}:close",
              "httpMethod": "POST",
              "request": {
                "$ref": "CloseAccountRequest"
              },
              "description": "Closes a sub-account.",
              "flatPath": "v1alpha/platforms/{platformsId}/accounts/{accountsId}:close",
              "scopes": [
                "https://www.googleapis.com/auth/adsense"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^platforms/[^/]+/accounts/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. Account to close. Format: platforms/{platform}/accounts/{account_id}"
                }
              },
              "id": "adsenseplatform.platforms.accounts.close",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "CloseAccountResponse"
              }
            },
            "lookup": {
              "path": "v1alpha/{+parent}/accounts:lookup",
              "httpMethod": "GET",
              "description": "Looks up information about a sub-account for a specified creation_request_id. If no account exists for the given creation_request_id, returns 404.",
              "flatPath": "v1alpha/platforms/{platformsId}/accounts:lookup",
              "parameters": {
                "creationRequestId": {
                  "description": "Optional. The creation_request_id provided when calling createAccount.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "description": "Required. Platform who parents the account. Format: platforms/{platform}",
                  "pattern": "^platforms/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "id": "adsenseplatform.platforms.accounts.lookup",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "LookupAccountResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ]
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListAccountsResponse"
              },
              "parameters": {
                "pageSize": {
                  "description": "Optional. The maximum number of accounts to include in the response, used for paging. If unspecified, at most 10000 accounts will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "parent": {
                  "required": true,
                  "pattern": "^platforms/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. Platform who parents the accounts. Format: platforms/{platform}"
                },
                "pageToken": {
                  "description": "Optional. A page token, received from a previous `ListAccounts` call. Provide this to retrieve the subsequent page.",
                  "location": "query",
                  "type": "string"
                }
              },
              "id": "adsenseplatform.platforms.accounts.list",
              "description": "Lists a partial view of sub-accounts for a specific parent account.",
              "flatPath": "v1alpha/platforms/{platformsId}/accounts",
              "path": "v1alpha/{+parent}/accounts",
              "httpMethod": "GET"
            },
            "get": {
              "id": "adsenseplatform.platforms.accounts.get",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. Account to get information about. Format: platforms/{platform}/accounts/{account_id}",
                  "pattern": "^platforms/[^/]+/accounts/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Account"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "path": "v1alpha/{+name}",
              "httpMethod": "GET",
              "flatPath": "v1alpha/platforms/{platformsId}/accounts/{accountsId}",
              "description": "Gets information about the selected sub-account."
            },
            "create": {
              "id": "adsenseplatform.platforms.accounts.create",
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^platforms/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. Platform to create an account for. Format: platforms/{platform}"
                }
              },
              "response": {
                "$ref": "Account"
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/adsense"
              ],
              "path": "v1alpha/{+parent}/accounts",
              "httpMethod": "POST",
              "flatPath": "v1alpha/platforms/{platformsId}/accounts",
              "request": {
                "$ref": "Account"
              },
              "description": "Creates a sub-account."
            }
          },
          "resources": {
            "events": {
              "methods": {
                "create": {
                  "path": "v1alpha/{+parent}/events",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "Event"
                  },
                  "description": "Creates an account event.",
                  "flatPath": "v1alpha/platforms/{platformsId}/accounts/{accountsId}/events",
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. Account to log events about. Format: platforms/{platform}/accounts/{account}",
                      "pattern": "^platforms/[^/]+/accounts/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "id": "adsenseplatform.platforms.accounts.events.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "Event"
                  }
                }
              }
            },
            "sites": {
              "methods": {
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ],
                  "response": {
                    "$ref": "Site"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "adsenseplatform.platforms.accounts.sites.create",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^platforms/[^/]+/accounts/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. Account to create site. Format: platforms/{platform}/accounts/{account_id}"
                    }
                  },
                  "flatPath": "v1alpha/platforms/{platformsId}/accounts/{accountsId}/sites",
                  "request": {
                    "$ref": "Site"
                  },
                  "description": "Creates a site for a specified account.",
                  "path": "v1alpha/{+parent}/sites",
                  "httpMethod": "POST"
                },
                "get": {
                  "description": "Gets a site from a specified sub-account.",
                  "flatPath": "v1alpha/platforms/{platformsId}/accounts/{accountsId}/sites/{sitesId}",
                  "path": "v1alpha/{+name}",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Site"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^platforms/[^/]+/accounts/[^/]+/sites/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The name of the site to retrieve. Format: platforms/{platform}/accounts/{account}/sites/{site}"
                    }
                  },
                  "id": "adsenseplatform.platforms.accounts.sites.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ]
                },
                "requestReview": {
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ],
                  "response": {
                    "$ref": "RequestSiteReviewResponse"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "adsenseplatform.platforms.accounts.sites.requestReview",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the site to submit for review. Format: platforms/{platform}/accounts/{account}/sites/{site}",
                      "pattern": "^platforms/[^/]+/accounts/[^/]+/sites/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "flatPath": "v1alpha/platforms/{platformsId}/accounts/{accountsId}/sites/{sitesId}:requestReview",
                  "description": "Requests the review of a site. The site should be in REQUIRES_REVIEW or NEEDS_ATTENTION state. Note: Make sure you place an [ad tag](https://developers.google.com/adsense/platforms/direct/ad-tags) on your site before requesting a review.",
                  "path": "v1alpha/{+name}:requestReview",
                  "httpMethod": "POST"
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The name of the site to delete. Format: platforms/{platform}/accounts/{account}/sites/{site}",
                      "pattern": "^platforms/[^/]+/accounts/[^/]+/sites/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "id": "adsenseplatform.platforms.accounts.sites.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ],
                  "description": "Deletes a site from a specified account.",
                  "flatPath": "v1alpha/platforms/{platformsId}/accounts/{accountsId}/sites/{sitesId}",
                  "path": "v1alpha/{+name}",
                  "httpMethod": "DELETE"
                },
                "list": {
                  "response": {
                    "$ref": "ListSitesResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "adsenseplatform.platforms.accounts.sites.list",
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "The maximum number of sites to include in the response, used for paging. If unspecified, at most 10000 sites will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000."
                    },
                    "parent": {
                      "description": "Required. The account which owns the sites. Format: platforms/{platform}/accounts/{account}",
                      "pattern": "^platforms/[^/]+/accounts/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "pageToken": {
                      "description": "A page token, received from a previous `ListSites` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListSites` must match the call that provided the page token.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "flatPath": "v1alpha/platforms/{platformsId}/accounts/{accountsId}/sites",
                  "description": "Lists sites for a specific account.",
                  "path": "v1alpha/{+parent}/sites",
                  "httpMethod": "GET"
                }
              }
            }
          }
        }
      }
    },
    "accounts": {
      "resources": {
        "platforms": {
          "methods": {
            "list": {
              "path": "v1alpha/{+parent}/platforms",
              "httpMethod": "GET",
              "flatPath": "v1alpha/accounts/{accountsId}/platforms",
              "description": "Lists platforms for a specified account.",
              "id": "adsenseplatform.accounts.platforms.list",
              "parameters": {
                "pageSize": {
                  "description": "Optional. The maximum number of platforms to include in the response, used for paging. If unspecified, at most 10000 platforms will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "parent": {
                  "required": true,
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The account which owns the platforms. Format: accounts/{account}"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. A page token, received from a previous `ListPlatforms` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListPlatforms` must match the call that provided the page token."
                }
              },
              "response": {
                "$ref": "ListPlatformsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ]
            },
            "get": {
              "id": "adsenseplatform.accounts.platforms.get",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The name of the platform to retrieve. Format: accounts/{account}/platforms/{platform}",
                  "pattern": "^accounts/[^/]+/platforms/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Platform"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "path": "v1alpha/{+name}",
              "httpMethod": "GET",
              "flatPath": "v1alpha/accounts/{accountsId}/platforms/{platformsId}",
              "description": "Gets a platform."
            }
          },
          "resources": {
            "childAccounts": {
              "resources": {
                "sites": {
                  "methods": {
                    "list": {
                      "path": "v1alpha/{+parent}/sites",
                      "httpMethod": "GET",
                      "flatPath": "v1alpha/accounts/{accountsId}/platforms/{platformsId}/childAccounts/{childAccountsId}/sites",
                      "description": "Lists Platform Child Sites for a specified Platform Child Account.",
                      "id": "adsenseplatform.accounts.platforms.childAccounts.sites.list",
                      "parameters": {
                        "pageSize": {
                          "description": "Optional. The maximum number of children to include in the response, used for paging. If unspecified, at most 10000 platforms will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "parent": {
                          "description": "Required. The name of the child account under the given platform which owns the platform child sites. Format: accounts/{account}/platforms/{platform}/childAccounts/{child_account}",
                          "pattern": "^accounts/[^/]+/platforms/[^/]+/childAccounts/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. A page token, received from a previous `ListPlatformChildSites` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListPlatformChildSites` must match the call that provided the page token."
                        }
                      },
                      "response": {
                        "$ref": "ListPlatformChildSitesResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/adsense",
                        "https://www.googleapis.com/auth/adsense.readonly"
                      ]
                    },
                    "patch": {
                      "path": "v1alpha/{+name}",
                      "httpMethod": "PATCH",
                      "flatPath": "v1alpha/accounts/{accountsId}/platforms/{platformsId}/childAccounts/{childAccountsId}/sites/{sitesId}",
                      "request": {
                        "$ref": "PlatformChildSite"
                      },
                      "description": "Update a Platform Child Site.",
                      "scopes": [
                        "https://www.googleapis.com/auth/adsense"
                      ],
                      "id": "adsenseplatform.accounts.platforms.childAccounts.sites.patch",
                      "parameters": {
                        "updateMask": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. The list of fields to update - currently only supports updating the `platform_group` field.",
                          "format": "google-fieldmask"
                        },
                        "name": {
                          "description": "Identifier. Format: accounts/{account}/platforms/{platform}/childAccounts/{child_account}/sites/{platform_child_site}",
                          "pattern": "^accounts/[^/]+/platforms/[^/]+/childAccounts/[^/]+/sites/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "PlatformChildSite"
                      },
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "get": {
                      "scopes": [
                        "https://www.googleapis.com/auth/adsense",
                        "https://www.googleapis.com/auth/adsense.readonly"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "PlatformChildSite"
                      },
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^accounts/[^/]+/platforms/[^/]+/childAccounts/[^/]+/sites/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "description": "Required. The name of the platform child site to retrieve. Format: accounts/{account}/platforms/{platform}/childAccounts/{child_account}/sites/{platform_child_site}"
                        }
                      },
                      "id": "adsenseplatform.accounts.platforms.childAccounts.sites.get",
                      "description": "Gets a Platform Child Site for a specified Platform Child Account and site.",
                      "flatPath": "v1alpha/accounts/{accountsId}/platforms/{platformsId}/childAccounts/{childAccountsId}/sites/{sitesId}",
                      "path": "v1alpha/{+name}",
                      "httpMethod": "GET"
                    }
                  }
                }
              }
            },
            "groups": {
              "methods": {
                "patch": {
                  "flatPath": "v1alpha/accounts/{accountsId}/platforms/{platformsId}/groups/{groupsId}",
                  "request": {
                    "$ref": "PlatformGroup"
                  },
                  "description": "Update a Platform Group.",
                  "path": "v1alpha/{+name}",
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "PlatformGroup"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "adsenseplatform.accounts.platforms.groups.patch",
                  "parameters": {
                    "updateMask": {
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The list of fields to update - currently only supports updating the `description` field."
                    },
                    "name": {
                      "required": true,
                      "description": "Identifier. Format: accounts/{account}/platforms/{platform}/groups/{platform_group}",
                      "pattern": "^accounts/[^/]+/platforms/[^/]+/groups/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ]
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^accounts/[^/]+/platforms/[^/]+/groups/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The name of the platform group to retrieve. Format: accounts/{account}/platforms/{platform}/groups/{group}"
                    }
                  },
                  "id": "adsenseplatform.accounts.platforms.groups.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "PlatformGroup"
                  },
                  "path": "v1alpha/{+name}",
                  "httpMethod": "GET",
                  "description": "Gets a Platform Group for a specified Platform and group.",
                  "flatPath": "v1alpha/accounts/{accountsId}/platforms/{platformsId}/groups/{groupsId}"
                },
                "list": {
                  "path": "v1alpha/{+parent}/groups",
                  "httpMethod": "GET",
                  "flatPath": "v1alpha/accounts/{accountsId}/platforms/{platformsId}/groups",
                  "description": "Lists Platform Groups for a specified Platform.",
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "id": "adsenseplatform.accounts.platforms.groups.list",
                  "parameters": {
                    "parent": {
                      "description": "Required. The name of the platform to retrieve. Format: accounts/{account}/platforms/{platform}",
                      "pattern": "^accounts/[^/]+/platforms/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous `ListPlatformGroups` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListPlatformGroups` must match the call that provided the page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. The maximum number of groups to include in the response, used for paging. If unspecified, at most 10000 groups will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
                      "format": "int32"
                    }
                  },
                  "response": {
                    "$ref": "ListPlatformGroupsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "mtlsRootUrl": "https://adsenseplatform.mtls.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "title": "AdSense Platform API",
  "schemas": {
    "Decimal": {
      "id": "Decimal",
      "properties": {
        "value": {
          "description": "The decimal value, as a string. The string representation consists of an optional sign, `+` (`U+002B`) or `-` (`U+002D`), followed by a sequence of zero or more decimal digits (\"the integer\"), optionally followed by a fraction, optionally followed by an exponent. An empty string **should** be interpreted as `0`. The fraction consists of a decimal point followed by zero or more decimal digits. The string must contain at least one digit in either the integer or the fraction. The number formed by the sign, the integer and the fraction is referred to as the significand. The exponent consists of the character `e` (`U+0065`) or `E` (`U+0045`) followed by one or more decimal digits. Services **should** normalize decimal values before storing them by: - Removing an explicitly-provided `+` sign (`+2.5` -> `2.5`). - Replacing a zero-length integer value with `0` (`.5` -> `0.5`). - Coercing the exponent character to upper-case, with explicit sign (`2.5e8` -> `2.5E+8`). - Removing an explicitly-provided zero exponent (`2.5E0` -> `2.5`). Services **may** perform additional normalization based on its own needs and the internal decimal implementation selected, such as shifting the decimal point and exponent value together (example: `2.5E-1` <-> `0.25`). Additionally, services **may** preserve trailing zeroes in the fraction to indicate increased precision, but are not required to do so. Note that only the `.` character is supported to divide the integer and the fraction; `,` **should not** be supported regardless of locale. Additionally, thousand separators **should not** be supported. If a service does support them, values **must** be normalized. The ENBF grammar is: DecimalString = '' | [Sign] Significand [Exponent]; Sign = '+' | '-'; Significand = Digits '.' | [Digits] '.' Digits; Exponent = ('e' | 'E') [Sign] Digits; Digits = { '0' | '1' | '2' | '3' | '4' | '5' | '6' | '7' | '8' | '9' }; Services **should** clearly document the range of supported values, the maximum supported precision (total number of digits), and, if applicable, the scale (number of digits after the decimal point), as well as how it behaves when receiving out-of-bounds values. Services **may** choose to accept values passed as input even when the value has a higher precision or scale than the service supports, and **should** round the value to fit the supported scale. Alternatively, the service **may** error with `400 Bad Request` (`INVALID_ARGUMENT` in gRPC) if precision would be lost. Services **should** error with `400 Bad Request` (`INVALID_ARGUMENT` in gRPC) if the service receives a value outside of the supported range.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A representation of a decimal value, such as 2.5. Clients may convert values into language-native decimal formats, such as Java's [BigDecimal](https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/math/BigDecimal.html) or Python's [decimal.Decimal](https://docs.python.org/3/library/decimal.html)."
    },
    "Empty": {
      "id": "Empty",
      "properties": {},
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "CloseAccountRequest": {
      "properties": {},
      "id": "CloseAccountRequest",
      "description": "Request definition for the account close rpc.",
      "type": "object"
    },
    "TimeZone": {
      "id": "TimeZone",
      "properties": {
        "version": {
          "type": "string",
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\"."
        },
        "id": {
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\".",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones)."
    },
    "LookupAccountResponse": {
      "properties": {
        "name": {
          "description": "The name of the Account Format: platforms/{platform}/accounts/{account_id}",
          "type": "string"
        }
      },
      "id": "LookupAccountResponse",
      "description": "Response definition for the lookup account rpc.",
      "type": "object"
    },
    "CloseAccountResponse": {
      "description": "Response definition for the account close rpc.",
      "type": "object",
      "properties": {},
      "id": "CloseAccountResponse"
    },
    "Event": {
      "description": "A platform sub-account event to record spam signals.",
      "type": "object",
      "properties": {
        "eventType": {
          "type": "string",
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "LOG_IN_VIA_PLATFORM",
            "SIGN_UP_VIA_PLATFORM"
          ],
          "description": "Required. Event type.",
          "enumDescriptions": [
            "Do not use. You must set an event type explicitly.",
            "Log in via platform.",
            "Sign up via platform."
          ]
        },
        "eventInfo": {
          "description": "Required. Information associated with the event.",
          "$ref": "EventInfo"
        },
        "eventTime": {
          "description": "Required. Event timestamp.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "Event"
    },
    "Platform": {
      "id": "Platform",
      "properties": {
        "defaultPlatformGroup": {
          "description": "Default platform group for the platform.",
          "type": "string"
        },
        "description": {
          "description": "Output only. Description of the platform.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Identifier. Resource name of a platform. Format: accounts/{account}/platforms/{platform}",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Representation of a Transparent Platform."
    },
    "ListPlatformChildSitesResponse": {
      "id": "ListPlatformChildSitesResponse",
      "properties": {
        "platformChildSites": {
          "type": "array",
          "description": "The platform child sites returned in this list response.",
          "items": {
            "$ref": "PlatformChildSite"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token used to page through platforms. To retrieve the next page of the results, set the next request's \"page_token\" value to this."
        }
      },
      "type": "object",
      "description": "Response definition for the list platform child sites rpc."
    },
    "EventInfo": {
      "properties": {
        "billingAddress": {
          "description": "The billing address of the publisher associated with this event, if available.",
          "$ref": "Address"
        },
        "email": {
          "description": "Required. The email address that is associated with the publisher when performing the event.",
          "type": "string"
        }
      },
      "id": "EventInfo",
      "description": "Private information for partner recorded events (PII).",
      "type": "object"
    },
    "Address": {
      "description": "Address data.",
      "type": "object",
      "properties": {
        "city": {
          "description": "City. Max length 60 bytes or 30 characters.",
          "type": "string"
        },
        "phone": {
          "description": "Phone number with international code (i.e. +441234567890).",
          "type": "string"
        },
        "fax": {
          "description": "Fax number with international code (i.e. +441234567890).",
          "type": "string"
        },
        "state": {
          "type": "string",
          "description": "State. Max length 60 bytes or 30 characters."
        },
        "address2": {
          "description": "Second line of address. Max length 64 bytes or 30 characters.",
          "type": "string"
        },
        "company": {
          "type": "string",
          "description": "Name of the company. Max length 255 bytes or 34 characters."
        },
        "contact": {
          "type": "string",
          "description": "Contact name of the company. Max length 128 bytes or 34 characters."
        },
        "regionCode": {
          "description": "Country/Region code. The region is specified as a CLDR region code (e.g. \"US\", \"FR\").",
          "type": "string"
        },
        "zip": {
          "description": "Zip/post code. Max length 10 bytes or 10 characters.",
          "type": "string"
        },
        "address1": {
          "description": "First line of address. Max length 64 bytes or 30 characters.",
          "type": "string"
        }
      },
      "id": "Address"
    },
    "ListPlatformGroupsResponse": {
      "description": "Response definition for the platform groups list rpc.",
      "type": "object",
      "properties": {
        "platformGroups": {
          "items": {
            "$ref": "PlatformGroup"
          },
          "type": "array",
          "description": "The platform groups returned in this list response."
        },
        "nextPageToken": {
          "description": "Continuation token used to page through platforms. To retrieve the next page of the results, set the next request's \"page_token\" value to this.",
          "type": "string"
        }
      },
      "id": "ListPlatformGroupsResponse"
    },
    "ListAccountsResponse": {
      "type": "object",
      "description": "Response definition for the list accounts rpc.",
      "id": "ListAccountsResponse",
      "properties": {
        "accounts": {
          "type": "array",
          "description": "The Accounts returned in the list response. Represented by a partial view of the Account resource, populating `name` and `creation_request_id`.",
          "items": {
            "$ref": "Account"
          }
        },
        "nextPageToken": {
          "description": "Continuation token used to page through accounts. To retrieve the next page of the results, set the next request's \"page_token\" value to this.",
          "type": "string"
        }
      }
    },
    "ListPlatformsResponse": {
      "properties": {
        "platforms": {
          "type": "array",
          "description": "The platforms returned in this list response.",
          "items": {
            "$ref": "Platform"
          }
        },
        "nextPageToken": {
          "description": "Continuation token used to page through platforms. To retrieve the next page of the results, set the next request's \"page_token\" value to this.",
          "type": "string"
        }
      },
      "id": "ListPlatformsResponse",
      "description": "Response definition for the platform list rpc.",
      "type": "object"
    },
    "ListSitesResponse": {
      "description": "Response definition for the site list rpc.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token used to page through sites. To retrieve the next page of the results, set the next request's \"page_token\" value to this."
        },
        "sites": {
          "items": {
            "$ref": "Site"
          },
          "description": "The sites returned in this list response.",
          "type": "array"
        }
      },
      "id": "ListSitesResponse"
    },
    "RequestSiteReviewResponse": {
      "properties": {},
      "id": "RequestSiteReviewResponse",
      "description": "Response definition for the site request review rpc.",
      "type": "object"
    },
    "Account": {
      "type": "object",
      "description": "Representation of an Account.",
      "id": "Account",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. Resource name of the account. Format: platforms/pub-[0-9]+/accounts/pub-[0-9]+",
          "readOnly": true
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "UNCHECKED",
            "APPROVED",
            "DISAPPROVED"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. Approval state of the account.",
          "enumDescriptions": [
            "Unspecified.",
            "Unchecked.",
            "The account is ready to serve ads.",
            "The account has been blocked from serving ads."
          ]
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Creation time of the account.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "regionCode": {
          "type": "string",
          "description": "Required. Input only. CLDR region code of the country/region of the address. Set this to country code of the child account if known, otherwise to your own country code."
        },
        "creationRequestId": {
          "type": "string",
          "description": "Required. An opaque token that uniquely identifies the account among all the platform's accounts. This string may contain at most 64 non-whitespace ASCII characters, but otherwise has no predefined structure. However, it is expected to be a platform-specific identifier for the user creating the account, so that only a single account can be created for any given user. This field must not contain any information that is recognizable as personally identifiable information. e.g. it should not be an email address or login name. Once an account has been created, a second attempt to create an account using the same creation_request_id will result in an ALREADY_EXISTS error."
        },
        "displayName": {
          "type": "string",
          "description": "Display name of this account."
        },
        "timeZone": {
          "description": "Required. The IANA TZ timezone code of this account. For more information, see https://en.wikipedia.org/wiki/List_of_tz_database_time_zones. This field is used for reporting. It is recommended to set it to the same value for all child accounts.",
          "$ref": "TimeZone"
        }
      }
    },
    "PlatformGroup": {
      "properties": {
        "revshareMillipercent": {
          "description": "Output only. The revenue share of the PlatformGroup, in millipercent (e.g. 15000 = 15%).",
          "readOnly": true,
          "$ref": "Decimal"
        },
        "description": {
          "description": "Required. Description of the PlatformGroup.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Format: accounts/{account}/platforms/{platform}/groups/{platform_group}"
        }
      },
      "id": "PlatformGroup",
      "description": "Representation of a Transparent Platform Group.",
      "type": "object"
    },
    "Site": {
      "type": "object",
      "description": "Representation of a Site.",
      "id": "Site",
      "properties": {
        "name": {
          "description": "Output only. Resource name of a site. Format: platforms/{platform}/accounts/{account}/sites/{site}",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "type": "string",
          "description": "Output only. State of a site.",
          "enumDescriptions": [
            "State unspecified.",
            "Either: - The site hasn't been checked yet. - The site is inactive and needs another review before it can show ads again. Learn how to [request a review for an inactive site](https://support.google.com/adsense/answer/9393996).",
            "Google is running some checks on the site. This usually takes a few days, but in some cases it can take two to four weeks.",
            "The site is ready to show ads. Learn how to [set up ads on the site](https://support.google.com/adsense/answer/7037624).",
            "Publisher needs to fix some issues before the site is ready to show ads. Learn what to do [if a new site isn't ready](https://support.google.com/adsense/answer/9061852)."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "REQUIRES_REVIEW",
            "GETTING_READY",
            "READY",
            "NEEDS_ATTENTION"
          ],
          "readOnly": true
        },
        "domain": {
          "type": "string",
          "description": "Domain/sub-domain of the site. Must be a valid domain complying with [RFC 1035](https://www.ietf.org/rfc/rfc1035.txt) and formatted as punycode [RFC 3492](https://www.ietf.org/rfc/rfc3492.txt) in case the domain contains unicode characters."
        }
      }
    },
    "PlatformChildSite": {
      "description": "Representation of a Transparent Platform Child Site.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. Format: accounts/{account}/platforms/{platform}/childAccounts/{child_account}/sites/{platform_child_site}",
          "type": "string"
        },
        "platformGroup": {
          "description": "Resource name of the Platform Group of the Platform Child Site.",
          "type": "string"
        },
        "domain": {
          "description": "Output only. Domain URL of the Platform Child Site. Part of the PlatformChildSite name.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "PlatformChildSite"
    }
  },
  "batchPath": "batch",
  "version": "v1alpha",
  "name": "adsenseplatform",
  "revision": "20260716",
  "basePath": "",
  "servicePath": "",
  "description": "",
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "type": "string",
      "location": "query",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    }
  },
  "protocol": "rest",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/adsense.readonly": {
          "description": "View your AdSense data"
        },
        "https://www.googleapis.com/auth/adsense": {
          "description": "View and manage your AdSense data"
        }
      }
    }
  },
  "version_module": true,
  "canonicalName": "AdSense Platform",
  "ownerDomain": "google.com",
  "kind": "discovery#restDescription",
  "documentationLink": "https://developers.google.com/adsense/platforms/",
  "baseUrl": "https://adsenseplatform.googleapis.com/"
}