{
  "servicePath": "",
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://adsenseplatform.mtls.googleapis.com/",
  "name": "adsenseplatform",
  "fullyEncodeReservedExpansion": true,
  "description": "",
  "title": "AdSense Platform API",
  "batchPath": "batch",
  "ownerDomain": "google.com",
  "version": "v1",
  "revision": "20260702",
  "documentationLink": "https://developers.google.com/adsense/platforms/",
  "resources": {
    "platforms": {
      "resources": {
        "accounts": {
          "methods": {
            "get": {
              "description": "Gets information about the selected sub-account.",
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. Account to get information about. Format: platforms/{platform}/accounts/{account_id}",
                  "pattern": "^platforms/[^/]+/accounts/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "response": {
                "$ref": "Account"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "parameterOrder": [
                "name"
              ],
              "id": "adsenseplatform.platforms.accounts.get",
              "httpMethod": "GET",
              "flatPath": "v1/platforms/{platformsId}/accounts/{accountsId}"
            },
            "create": {
              "response": {
                "$ref": "Account"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adsense"
              ],
              "description": "Creates a sub-account.",
              "path": "v1/{+parent}/accounts",
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^platforms/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. Platform to create an account for. Format: platforms/{platform}"
                }
              },
              "id": "adsenseplatform.platforms.accounts.create",
              "httpMethod": "POST",
              "flatPath": "v1/platforms/{platformsId}/accounts",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "Account"
              }
            },
            "lookup": {
              "response": {
                "$ref": "LookupAccountResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "path": "v1/{+parent}/accounts:lookup",
              "parameters": {
                "creationRequestId": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. The creation_request_id provided when calling createAccount."
                },
                "parent": {
                  "pattern": "^platforms/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. Platform who parents the account. Format: platforms/{platform}"
                }
              },
              "description": "Looks up information about a sub-account for a specified creation_request_id. If no account exists for the given creation_request_id, returns 404.",
              "flatPath": "v1/platforms/{platformsId}/accounts:lookup",
              "id": "adsenseplatform.platforms.accounts.lookup",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ]
            },
            "list": {
              "response": {
                "$ref": "ListAccountsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "path": "v1/{+parent}/accounts",
              "parameters": {
                "pageSize": {
                  "description": "Optional. The maximum number of accounts to include in the response, used for paging. If unspecified, at most 10000 accounts will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "parent": {
                  "location": "path",
                  "pattern": "^platforms/[^/]+$",
                  "required": true,
                  "description": "Required. Platform who parents the accounts. Format: platforms/{platform}",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. A page token, received from a previous `ListAccounts` call. Provide this to retrieve the subsequent page."
                }
              },
              "description": "Lists a partial view of sub-accounts for a specific parent account.",
              "flatPath": "v1/platforms/{platformsId}/accounts",
              "id": "adsenseplatform.platforms.accounts.list",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ]
            },
            "close": {
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "CloseAccountRequest"
              },
              "flatPath": "v1/platforms/{platformsId}/accounts/{accountsId}:close",
              "id": "adsenseplatform.platforms.accounts.close",
              "httpMethod": "POST",
              "path": "v1/{+name}:close",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. Account to close. Format: platforms/{platform}/accounts/{account_id}",
                  "location": "path",
                  "pattern": "^platforms/[^/]+/accounts/[^/]+$",
                  "required": true
                }
              },
              "description": "Closes a sub-account.",
              "response": {
                "$ref": "CloseAccountResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adsense"
              ]
            }
          },
          "resources": {
            "sites": {
              "methods": {
                "list": {
                  "response": {
                    "$ref": "ListSitesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "path": "v1/{+parent}/sites",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Required. The account which owns the sites. Format: platforms/{platform}/accounts/{account}",
                      "pattern": "^platforms/[^/]+/accounts/[^/]+$",
                      "required": true,
                      "location": "path"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "A page token, received from a previous `ListSites` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListSites` must match the call that provided the page token."
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "The maximum number of sites to include in the response, used for paging. If unspecified, at most 10000 sites will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
                      "format": "int32"
                    }
                  },
                  "description": "Lists sites for a specific account.",
                  "flatPath": "v1/platforms/{platformsId}/accounts/{accountsId}/sites",
                  "id": "adsenseplatform.platforms.accounts.sites.list",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/platforms/{platformsId}/accounts/{accountsId}/sites/{sitesId}",
                  "id": "adsenseplatform.platforms.accounts.sites.get",
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^platforms/[^/]+/accounts/[^/]+/sites/[^/]+$",
                      "required": true,
                      "description": "Required. The name of the site to retrieve. Format: platforms/{platform}/accounts/{account}/sites/{site}",
                      "type": "string"
                    }
                  },
                  "description": "Gets a site from a specified sub-account.",
                  "response": {
                    "$ref": "Site"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ]
                },
                "delete": {
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ],
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "pattern": "^platforms/[^/]+/accounts/[^/]+/sites/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. The name of the site to delete. Format: platforms/{platform}/accounts/{account}/sites/{site}"
                    }
                  },
                  "description": "Deletes a site from a specified account.",
                  "flatPath": "v1/platforms/{platformsId}/accounts/{accountsId}/sites/{sitesId}",
                  "id": "adsenseplatform.platforms.accounts.sites.delete",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "create": {
                  "path": "v1/{+parent}/sites",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^platforms/[^/]+/accounts/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. Account to create site. Format: platforms/{platform}/accounts/{account_id}"
                    }
                  },
                  "description": "Creates a site for a specified account.",
                  "response": {
                    "$ref": "Site"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "Site"
                  },
                  "flatPath": "v1/platforms/{platformsId}/accounts/{accountsId}/sites",
                  "id": "adsenseplatform.platforms.accounts.sites.create",
                  "httpMethod": "POST"
                },
                "requestReview": {
                  "id": "adsenseplatform.platforms.accounts.sites.requestReview",
                  "httpMethod": "POST",
                  "flatPath": "v1/platforms/{platformsId}/accounts/{accountsId}/sites/{sitesId}:requestReview",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "RequestSiteReviewResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ],
                  "description": "Requests the review of a site. The site should be in REQUIRES_REVIEW or NEEDS_ATTENTION state. Note: Make sure you place an [ad tag](https://developers.google.com/adsense/platforms/direct/ad-tags) on your site before requesting a review.",
                  "path": "v1/{+name}:requestReview",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the site to submit for review. Format: platforms/{platform}/accounts/{account}/sites/{site}",
                      "type": "string",
                      "pattern": "^platforms/[^/]+/accounts/[^/]+/sites/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  }
                }
              }
            },
            "events": {
              "methods": {
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "Event"
                  },
                  "id": "adsenseplatform.platforms.accounts.events.create",
                  "httpMethod": "POST",
                  "flatPath": "v1/platforms/{platformsId}/accounts/{accountsId}/events",
                  "description": "Creates an account event.",
                  "path": "v1/{+parent}/events",
                  "parameters": {
                    "parent": {
                      "pattern": "^platforms/[^/]+/accounts/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Required. Account to log events about. Format: platforms/{platform}/accounts/{account}",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Event"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "version_module": true,
  "protocol": "rest",
  "baseUrl": "https://adsenseplatform.googleapis.com/",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/adsense": {
          "description": "View and manage your AdSense data"
        },
        "https://www.googleapis.com/auth/adsense.readonly": {
          "description": "View your AdSense data"
        }
      }
    }
  },
  "id": "adsenseplatform:v1",
  "ownerName": "Google",
  "canonicalName": "AdSense Platform",
  "basePath": "",
  "kind": "discovery#restDescription",
  "schemas": {
    "ListAccountsResponse": {
      "type": "object",
      "properties": {
        "accounts": {
          "items": {
            "$ref": "Account"
          },
          "type": "array",
          "description": "The Accounts returned in the list response. Represented by a partial view of the Account resource, populating `name` and `creation_request_id`."
        },
        "nextPageToken": {
          "description": "Continuation token used to page through accounts. To retrieve the next page of the results, set the next request's \"page_token\" value to this.",
          "type": "string"
        }
      },
      "id": "ListAccountsResponse",
      "description": "Response definition for the list accounts rpc."
    },
    "LookupAccountResponse": {
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the Account Format: platforms/{platform}/accounts/{account_id}",
          "type": "string"
        }
      },
      "id": "LookupAccountResponse",
      "description": "Response definition for the lookup account rpc."
    },
    "Event": {
      "type": "object",
      "properties": {
        "eventType": {
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "LOG_IN_VIA_PLATFORM",
            "SIGN_UP_VIA_PLATFORM"
          ],
          "type": "string",
          "enumDescriptions": [
            "Do not use. You must set an event type explicitly.",
            "Log in via platform.",
            "Sign up via platform."
          ],
          "description": "Required. Event type."
        },
        "eventInfo": {
          "description": "Required. Information associated with the event.",
          "$ref": "EventInfo"
        },
        "eventTime": {
          "description": "Required. Event timestamp.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "Event",
      "description": "A platform sub-account event to record spam signals."
    },
    "TimeZone": {
      "type": "object",
      "properties": {
        "version": {
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\".",
          "type": "string"
        },
        "id": {
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\".",
          "type": "string"
        }
      },
      "id": "TimeZone",
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones)."
    },
    "Site": {
      "id": "Site",
      "description": "Representation of a Site.",
      "type": "object",
      "properties": {
        "state": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. State of a site.",
          "enum": [
            "STATE_UNSPECIFIED",
            "REQUIRES_REVIEW",
            "GETTING_READY",
            "READY",
            "NEEDS_ATTENTION"
          ],
          "enumDescriptions": [
            "State unspecified.",
            "Either: - The site hasn't been checked yet. - The site is inactive and needs another review before it can show ads again. Learn how to [request a review for an inactive site](https://support.google.com/adsense/answer/9393996).",
            "Google is running some checks on the site. This usually takes a few days, but in some cases it can take two to four weeks.",
            "The site is ready to show ads. Learn how to [set up ads on the site](https://support.google.com/adsense/answer/7037624).",
            "Publisher needs to fix some issues before the site is ready to show ads. Learn what to do [if a new site isn't ready](https://support.google.com/adsense/answer/9061852)."
          ]
        },
        "name": {
          "description": "Output only. Resource name of a site. Format: platforms/{platform}/accounts/{account}/sites/{site}",
          "readOnly": true,
          "type": "string"
        },
        "domain": {
          "description": "Domain/sub-domain of the site. Must be a valid domain complying with [RFC 1035](https://www.ietf.org/rfc/rfc1035.txt) and formatted as punycode [RFC 3492](https://www.ietf.org/rfc/rfc3492.txt) in case the domain contains unicode characters.",
          "type": "string"
        }
      }
    },
    "ListSitesResponse": {
      "type": "object",
      "properties": {
        "sites": {
          "description": "The sites returned in this list response.",
          "type": "array",
          "items": {
            "$ref": "Site"
          }
        },
        "nextPageToken": {
          "description": "Continuation token used to page through sites. To retrieve the next page of the results, set the next request's \"page_token\" value to this.",
          "type": "string"
        }
      },
      "id": "ListSitesResponse",
      "description": "Response definition for the site list rpc."
    },
    "CloseAccountResponse": {
      "type": "object",
      "properties": {},
      "id": "CloseAccountResponse",
      "description": "Response definition for the account close rpc."
    },
    "CloseAccountRequest": {
      "id": "CloseAccountRequest",
      "description": "Request definition for the account close rpc.",
      "type": "object",
      "properties": {}
    },
    "EventInfo": {
      "id": "EventInfo",
      "description": "Private information for partner recorded events (PII).",
      "type": "object",
      "properties": {
        "billingAddress": {
          "$ref": "Address",
          "description": "The billing address of the publisher associated with this event, if available."
        },
        "email": {
          "description": "Required. The email address that is associated with the publisher when performing the event.",
          "type": "string"
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {}
    },
    "RequestSiteReviewResponse": {
      "id": "RequestSiteReviewResponse",
      "description": "Response definition for the site request review rpc.",
      "type": "object",
      "properties": {}
    },
    "Account": {
      "type": "object",
      "properties": {
        "timeZone": {
          "description": "Required. The IANA TZ timezone code of this account. For more information, see https://en.wikipedia.org/wiki/List_of_tz_database_time_zones. This field is used for reporting. It is recommended to set it to the same value for all child accounts.",
          "$ref": "TimeZone"
        },
        "creationRequestId": {
          "description": "Required. An opaque token that uniquely identifies the account among all the platform's accounts. This string may contain at most 64 non-whitespace ASCII characters, but otherwise has no predefined structure. However, it is expected to be a platform-specific identifier for the user creating the account, so that only a single account can be created for any given user. This field must not contain any information that is recognizable as personally identifiable information. e.g. it should not be an email address or login name. Once an account has been created, a second attempt to create an account using the same creation_request_id will result in an ALREADY_EXISTS error.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Resource name of the account. Format: platforms/pub-[0-9]+/accounts/pub-[0-9]+"
        },
        "displayName": {
          "description": "Display name of this account.",
          "type": "string"
        },
        "regionCode": {
          "description": "Required. Input only. CLDR region code of the country/region of the address. Set this to country code of the child account if known, otherwise to your own country code.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Creation time of the account.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Unspecified.",
            "Unchecked.",
            "The account is ready to serve ads.",
            "The account has been blocked from serving ads."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "UNCHECKED",
            "APPROVED",
            "DISAPPROVED"
          ],
          "description": "Output only. Approval state of the account.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "Account",
      "description": "Representation of an Account."
    },
    "Address": {
      "id": "Address",
      "description": "Address data.",
      "type": "object",
      "properties": {
        "regionCode": {
          "description": "Country/Region code. The region is specified as a CLDR region code (e.g. \"US\", \"FR\").",
          "type": "string"
        },
        "city": {
          "description": "City. Max length 60 bytes or 30 characters.",
          "type": "string"
        },
        "address2": {
          "description": "Second line of address. Max length 64 bytes or 30 characters.",
          "type": "string"
        },
        "contact": {
          "description": "Contact name of the company. Max length 128 bytes or 34 characters.",
          "type": "string"
        },
        "state": {
          "description": "State. Max length 60 bytes or 30 characters.",
          "type": "string"
        },
        "zip": {
          "description": "Zip/post code. Max length 10 bytes or 10 characters.",
          "type": "string"
        },
        "company": {
          "description": "Name of the company. Max length 255 bytes or 34 characters.",
          "type": "string"
        },
        "fax": {
          "description": "Fax number with international code (i.e. +441234567890).",
          "type": "string"
        },
        "address1": {
          "description": "First line of address. Max length 64 bytes or 30 characters.",
          "type": "string"
        },
        "phone": {
          "description": "Phone number with international code (i.e. +441234567890).",
          "type": "string"
        }
      }
    }
  },
  "rootUrl": "https://adsenseplatform.googleapis.com/",
  "parameters": {
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format."
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    }
  }
}