{
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://adsenseplatform.mtls.googleapis.com/",
  "version_module": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "canonicalName": "AdSense Platform",
  "ownerName": "Google",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/adsense": {
          "description": "View and manage your AdSense data"
        },
        "https://www.googleapis.com/auth/adsense.readonly": {
          "description": "View your AdSense data"
        }
      }
    }
  },
  "description": "",
  "batchPath": "batch",
  "resources": {
    "platforms": {
      "resources": {
        "accounts": {
          "methods": {
            "lookup": {
              "response": {
                "$ref": "LookupAccountResponse"
              },
              "description": "Looks up information about a sub-account for a specified creation_request_id. If no account exists for the given creation_request_id, returns 404.",
              "flatPath": "v1/platforms/{platformsId}/accounts:lookup",
              "parameterOrder": [
                "parent"
              ],
              "id": "adsenseplatform.platforms.accounts.lookup",
              "path": "v1/{+parent}/accounts:lookup",
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^platforms/[^/]+$",
                  "location": "path",
                  "description": "Required. Platform who parents the account. Format: platforms/{platform}",
                  "required": true
                },
                "creationRequestId": {
                  "location": "query",
                  "description": "Optional. The creation_request_id provided when calling createAccount.",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "httpMethod": "GET"
            },
            "create": {
              "response": {
                "$ref": "Account"
              },
              "description": "Creates a sub-account.",
              "flatPath": "v1/platforms/{platformsId}/accounts",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "Account"
              },
              "id": "adsenseplatform.platforms.accounts.create",
              "path": "v1/{+parent}/accounts",
              "parameters": {
                "parent": {
                  "pattern": "^platforms/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. Platform to create an account for. Format: platforms/{platform}",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/adsense"
              ],
              "httpMethod": "POST"
            },
            "get": {
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "description": "Required. Account to get information about. Format: platforms/{platform}/accounts/{account_id}",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^platforms/[^/]+/accounts/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "httpMethod": "GET",
              "id": "adsenseplatform.platforms.accounts.get",
              "response": {
                "$ref": "Account"
              },
              "description": "Gets information about the selected sub-account.",
              "flatPath": "v1/platforms/{platformsId}/accounts/{accountsId}",
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "response": {
                "$ref": "ListAccountsResponse"
              },
              "flatPath": "v1/platforms/{platformsId}/accounts",
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists a partial view of sub-accounts for a specific parent account.",
              "id": "adsenseplatform.platforms.accounts.list",
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "path": "v1/{+parent}/accounts",
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. Platform who parents the accounts. Format: platforms/{platform}",
                  "required": true,
                  "pattern": "^platforms/[^/]+$",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Optional. The maximum number of accounts to include in the response, used for paging. If unspecified, at most 10000 accounts will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "Optional. A page token, received from a previous `ListAccounts` call. Provide this to retrieve the subsequent page.",
                  "location": "query",
                  "type": "string"
                }
              },
              "httpMethod": "GET"
            },
            "close": {
              "description": "Closes a sub-account.",
              "flatPath": "v1/platforms/{platformsId}/accounts/{accountsId}:close",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "CloseAccountResponse"
              },
              "httpMethod": "POST",
              "path": "v1/{+name}:close",
              "parameters": {
                "name": {
                  "pattern": "^platforms/[^/]+/accounts/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. Account to close. Format: platforms/{platform}/accounts/{account_id}",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/adsense"
              ],
              "request": {
                "$ref": "CloseAccountRequest"
              },
              "id": "adsenseplatform.platforms.accounts.close"
            }
          },
          "resources": {
            "events": {
              "methods": {
                "create": {
                  "request": {
                    "$ref": "Event"
                  },
                  "id": "adsenseplatform.platforms.accounts.events.create",
                  "path": "v1/{+parent}/events",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. Account to log events about. Format: platforms/{platform}/accounts/{account}",
                      "required": true,
                      "pattern": "^platforms/[^/]+/accounts/[^/]+$",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ],
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Event"
                  },
                  "description": "Creates an account event.",
                  "flatPath": "v1/platforms/{platformsId}/accounts/{accountsId}/events",
                  "parameterOrder": [
                    "parent"
                  ]
                }
              }
            },
            "sites": {
              "methods": {
                "get": {
                  "response": {
                    "$ref": "Site"
                  },
                  "description": "Gets a site from a specified sub-account.",
                  "flatPath": "v1/platforms/{platformsId}/accounts/{accountsId}/sites/{sitesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "adsenseplatform.platforms.accounts.sites.get",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^platforms/[^/]+/accounts/[^/]+/sites/[^/]+$",
                      "location": "path",
                      "description": "Required. The name of the site to retrieve. Format: platforms/{platform}/accounts/{account}/sites/{site}",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "httpMethod": "GET"
                },
                "list": {
                  "response": {
                    "$ref": "ListSitesResponse"
                  },
                  "description": "Lists sites for a specific account.",
                  "flatPath": "v1/platforms/{platformsId}/accounts/{accountsId}/sites",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/sites",
                  "parameters": {
                    "parent": {
                      "description": "Required. The account which owns the sites. Format: platforms/{platform}/accounts/{account}",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^platforms/[^/]+/accounts/[^/]+$"
                    },
                    "pageSize": {
                      "description": "The maximum number of sites to include in the response, used for paging. If unspecified, at most 10000 sites will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "A page token, received from a previous `ListSites` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListSites` must match the call that provided the page token.",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "httpMethod": "GET",
                  "id": "adsenseplatform.platforms.accounts.sites.list"
                },
                "requestReview": {
                  "path": "v1/{+name}:requestReview",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The name of the site to submit for review. Format: platforms/{platform}/accounts/{account}/sites/{site}",
                      "required": true,
                      "pattern": "^platforms/[^/]+/accounts/[^/]+/sites/[^/]+$",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ],
                  "httpMethod": "POST",
                  "id": "adsenseplatform.platforms.accounts.sites.requestReview",
                  "response": {
                    "$ref": "RequestSiteReviewResponse"
                  },
                  "description": "Requests the review of a site. The site should be in REQUIRES_REVIEW or NEEDS_ATTENTION state. Note: Make sure you place an [ad tag](https://developers.google.com/adsense/platforms/direct/ad-tags) on your site before requesting a review.",
                  "flatPath": "v1/platforms/{platformsId}/accounts/{accountsId}/sites/{sitesId}:requestReview",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ],
                  "path": "v1/{+parent}/sites",
                  "parameters": {
                    "parent": {
                      "pattern": "^platforms/[^/]+/accounts/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. Account to create site. Format: platforms/{platform}/accounts/{account_id}",
                      "required": true
                    }
                  },
                  "httpMethod": "POST",
                  "id": "adsenseplatform.platforms.accounts.sites.create",
                  "request": {
                    "$ref": "Site"
                  },
                  "response": {
                    "$ref": "Site"
                  },
                  "flatPath": "v1/platforms/{platformsId}/accounts/{accountsId}/sites",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates a site for a specified account."
                },
                "delete": {
                  "id": "adsenseplatform.platforms.accounts.sites.delete",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "pattern": "^platforms/[^/]+/accounts/[^/]+/sites/[^/]+$",
                      "type": "string",
                      "description": "Required. The name of the site to delete. Format: platforms/{platform}/accounts/{account}/sites/{site}",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ],
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Empty"
                  },
                  "description": "Deletes a site from a specified account.",
                  "flatPath": "v1/platforms/{platformsId}/accounts/{accountsId}/sites/{sitesId}",
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "rootUrl": "https://adsenseplatform.googleapis.com/",
  "protocol": "rest",
  "ownerDomain": "google.com",
  "name": "adsenseplatform",
  "id": "adsenseplatform:v1",
  "documentationLink": "https://developers.google.com/adsense/platforms/",
  "title": "AdSense Platform API",
  "parameters": {
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "location": "query",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    }
  },
  "servicePath": "",
  "schemas": {
    "CloseAccountResponse": {
      "id": "CloseAccountResponse",
      "properties": {},
      "type": "object",
      "description": "Response definition for the account close rpc."
    },
    "Address": {
      "description": "Address data.",
      "id": "Address",
      "properties": {
        "company": {
          "description": "Name of the company. Max length 255 bytes or 34 characters.",
          "type": "string"
        },
        "address1": {
          "description": "First line of address. Max length 64 bytes or 30 characters.",
          "type": "string"
        },
        "city": {
          "description": "City. Max length 60 bytes or 30 characters.",
          "type": "string"
        },
        "phone": {
          "description": "Phone number with international code (i.e. +441234567890).",
          "type": "string"
        },
        "zip": {
          "description": "Zip/post code. Max length 10 bytes or 10 characters.",
          "type": "string"
        },
        "regionCode": {
          "description": "Country/Region code. The region is specified as a CLDR region code (e.g. \"US\", \"FR\").",
          "type": "string"
        },
        "address2": {
          "description": "Second line of address. Max length 64 bytes or 30 characters.",
          "type": "string"
        },
        "state": {
          "description": "State. Max length 60 bytes or 30 characters.",
          "type": "string"
        },
        "fax": {
          "description": "Fax number with international code (i.e. +441234567890).",
          "type": "string"
        },
        "contact": {
          "description": "Contact name of the company. Max length 128 bytes or 34 characters.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListAccountsResponse": {
      "type": "object",
      "id": "ListAccountsResponse",
      "properties": {
        "accounts": {
          "type": "array",
          "description": "The Accounts returned in the list response. Represented by a partial view of the Account resource, populating `name` and `creation_request_id`.",
          "items": {
            "$ref": "Account"
          }
        },
        "nextPageToken": {
          "description": "Continuation token used to page through accounts. To retrieve the next page of the results, set the next request's \"page_token\" value to this.",
          "type": "string"
        }
      },
      "description": "Response definition for the list accounts rpc."
    },
    "Site": {
      "id": "Site",
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "REQUIRES_REVIEW",
            "GETTING_READY",
            "READY",
            "NEEDS_ATTENTION"
          ],
          "description": "Output only. State of a site.",
          "readOnly": true,
          "enumDescriptions": [
            "State unspecified.",
            "Either: - The site hasn't been checked yet. - The site is inactive and needs another review before it can show ads again. Learn how to [request a review for an inactive site](https://support.google.com/adsense/answer/9393996).",
            "Google is running some checks on the site. This usually takes a few days, but in some cases it can take two to four weeks.",
            "The site is ready to show ads. Learn how to [set up ads on the site](https://support.google.com/adsense/answer/7037624).",
            "Publisher needs to fix some issues before the site is ready to show ads. Learn what to do [if a new site isn't ready](https://support.google.com/adsense/answer/9061852)."
          ],
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only. Resource name of a site. Format: platforms/{platform}/accounts/{account}/sites/{site}",
          "readOnly": true
        },
        "domain": {
          "description": "Domain/sub-domain of the site. Must be a valid domain complying with [RFC 1035](https://www.ietf.org/rfc/rfc1035.txt) and formatted as punycode [RFC 3492](https://www.ietf.org/rfc/rfc3492.txt) in case the domain contains unicode characters.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Representation of a Site."
    },
    "LookupAccountResponse": {
      "description": "Response definition for the lookup account rpc.",
      "type": "object",
      "id": "LookupAccountResponse",
      "properties": {
        "name": {
          "description": "The name of the Account Format: platforms/{platform}/accounts/{account_id}",
          "type": "string"
        }
      }
    },
    "TimeZone": {
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones).",
      "id": "TimeZone",
      "properties": {
        "id": {
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\".",
          "type": "string"
        },
        "version": {
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\".",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListSitesResponse": {
      "id": "ListSitesResponse",
      "properties": {
        "sites": {
          "type": "array",
          "description": "The sites returned in this list response.",
          "items": {
            "$ref": "Site"
          }
        },
        "nextPageToken": {
          "description": "Continuation token used to page through sites. To retrieve the next page of the results, set the next request's \"page_token\" value to this.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response definition for the site list rpc."
    },
    "EventInfo": {
      "description": "Private information for partner recorded events (PII).",
      "type": "object",
      "id": "EventInfo",
      "properties": {
        "email": {
          "description": "Required. The email address that is associated with the publisher when performing the event.",
          "type": "string"
        },
        "billingAddress": {
          "description": "The billing address of the publisher associated with this event, if available.",
          "$ref": "Address"
        }
      }
    },
    "Event": {
      "description": "A platform sub-account event to record spam signals.",
      "id": "Event",
      "properties": {
        "eventType": {
          "description": "Required. Event type.",
          "type": "string",
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "LOG_IN_VIA_PLATFORM",
            "SIGN_UP_VIA_PLATFORM"
          ],
          "enumDescriptions": [
            "Do not use. You must set an event type explicitly.",
            "Log in via platform.",
            "Sign up via platform."
          ]
        },
        "eventTime": {
          "description": "Required. Event timestamp.",
          "format": "google-datetime",
          "type": "string"
        },
        "eventInfo": {
          "description": "Required. Information associated with the event.",
          "$ref": "EventInfo"
        }
      },
      "type": "object"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "properties": {},
      "type": "object"
    },
    "CloseAccountRequest": {
      "type": "object",
      "id": "CloseAccountRequest",
      "properties": {},
      "description": "Request definition for the account close rpc."
    },
    "Account": {
      "description": "Representation of an Account.",
      "id": "Account",
      "properties": {
        "name": {
          "description": "Output only. Resource name of the account. Format: platforms/pub-[0-9]+/accounts/pub-[0-9]+",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "Display name of this account.",
          "type": "string"
        },
        "creationRequestId": {
          "description": "Required. An opaque token that uniquely identifies the account among all the platform's accounts. This string may contain at most 64 non-whitespace ASCII characters, but otherwise has no predefined structure. However, it is expected to be a platform-specific identifier for the user creating the account, so that only a single account can be created for any given user. This field must not contain any information that is recognizable as personally identifiable information. e.g. it should not be an email address or login name. Once an account has been created, a second attempt to create an account using the same creation_request_id will result in an ALREADY_EXISTS error.",
          "type": "string"
        },
        "regionCode": {
          "description": "Required. Input only. CLDR region code of the country/region of the address. Set this to country code of the child account if known, otherwise to your own country code.",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Unspecified.",
            "Unchecked.",
            "The account is ready to serve ads.",
            "The account has been blocked from serving ads."
          ],
          "type": "string",
          "description": "Output only. Approval state of the account.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "UNCHECKED",
            "APPROVED",
            "DISAPPROVED"
          ]
        },
        "timeZone": {
          "description": "Required. The IANA TZ timezone code of this account. For more information, see https://en.wikipedia.org/wiki/List_of_tz_database_time_zones. This field is used for reporting. It is recommended to set it to the same value for all child accounts.",
          "$ref": "TimeZone"
        },
        "createTime": {
          "description": "Output only. Creation time of the account.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object"
    },
    "RequestSiteReviewResponse": {
      "id": "RequestSiteReviewResponse",
      "properties": {},
      "type": "object",
      "description": "Response definition for the site request review rpc."
    }
  },
  "revision": "20260806",
  "fullyEncodeReservedExpansion": true,
  "version": "v1",
  "baseUrl": "https://adsenseplatform.googleapis.com/",
  "basePath": ""
}