{
  "revision": "20260817",
  "ownerDomain": "google.com",
  "batchPath": "batch",
  "fullyEncodeReservedExpansion": true,
  "version": "v1alpha",
  "basePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerName": "Google",
  "id": "adsenseplatform:v1alpha",
  "protocol": "rest",
  "baseUrl": "https://adsenseplatform.googleapis.com/",
  "mtlsRootUrl": "https://adsenseplatform.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "description": "",
  "version_module": true,
  "parameters": {
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    }
  },
  "rootUrl": "https://adsenseplatform.googleapis.com/",
  "documentationLink": "https://developers.google.com/adsense/platforms/",
  "schemas": {
    "Account": {
      "description": "Representation of an Account.",
      "type": "object",
      "id": "Account",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Display name of this account."
        },
        "regionCode": {
          "type": "string",
          "description": "Required. Input only. CLDR region code of the country/region of the address. Set this to country code of the child account if known, otherwise to your own country code."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Creation time of the account."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Resource name of the account. Format: platforms/pub-[0-9]+/accounts/pub-[0-9]+"
        },
        "timeZone": {
          "description": "Required. The IANA TZ timezone code of this account. For more information, see https://en.wikipedia.org/wiki/List_of_tz_database_time_zones. This field is used for reporting. It is recommended to set it to the same value for all child accounts.",
          "$ref": "TimeZone"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "UNCHECKED",
            "APPROVED",
            "DISAPPROVED"
          ],
          "readOnly": true,
          "description": "Output only. Approval state of the account.",
          "enumDescriptions": [
            "Unspecified.",
            "Unchecked.",
            "The account is ready to serve ads.",
            "The account has been blocked from serving ads."
          ]
        },
        "creationRequestId": {
          "description": "Required. An opaque token that uniquely identifies the account among all the platform's accounts. This string may contain at most 64 non-whitespace ASCII characters, but otherwise has no predefined structure. However, it is expected to be a platform-specific identifier for the user creating the account, so that only a single account can be created for any given user. This field must not contain any information that is recognizable as personally identifiable information. e.g. it should not be an email address or login name. Once an account has been created, a second attempt to create an account using the same creation_request_id will result in an ALREADY_EXISTS error.",
          "type": "string"
        }
      }
    },
    "ListPlatformsResponse": {
      "properties": {
        "platforms": {
          "items": {
            "$ref": "Platform"
          },
          "description": "The platforms returned in this list response.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token used to page through platforms. To retrieve the next page of the results, set the next request's \"page_token\" value to this."
        }
      },
      "id": "ListPlatformsResponse",
      "description": "Response definition for the platform list rpc.",
      "type": "object"
    },
    "TimeZone": {
      "properties": {
        "id": {
          "type": "string",
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\"."
        },
        "version": {
          "type": "string",
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\"."
        }
      },
      "id": "TimeZone",
      "type": "object",
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones)."
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "LookupAccountResponse": {
      "id": "LookupAccountResponse",
      "description": "Response definition for the lookup account rpc.",
      "properties": {
        "name": {
          "description": "The name of the Account Format: platforms/{platform}/accounts/{account_id}",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CloseAccountRequest": {
      "type": "object",
      "id": "CloseAccountRequest",
      "properties": {},
      "description": "Request definition for the account close rpc."
    },
    "PlatformChildSite": {
      "type": "object",
      "id": "PlatformChildSite",
      "description": "Representation of a Transparent Platform Child Site.",
      "properties": {
        "platformGroup": {
          "description": "Resource name of the Platform Group of the Platform Child Site.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. Format: accounts/{account}/platforms/{platform}/childAccounts/{child_account}/sites/{platform_child_site}",
          "type": "string"
        },
        "domain": {
          "description": "Output only. Domain URL of the Platform Child Site. Part of the PlatformChildSite name.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "Decimal": {
      "properties": {
        "value": {
          "description": "The decimal value, as a string. The string representation consists of an optional sign, `+` (`U+002B`) or `-` (`U+002D`), followed by a sequence of zero or more decimal digits (\"the integer\"), optionally followed by a fraction, optionally followed by an exponent. An empty string **should** be interpreted as `0`. The fraction consists of a decimal point followed by zero or more decimal digits. The string must contain at least one digit in either the integer or the fraction. The number formed by the sign, the integer and the fraction is referred to as the significand. The exponent consists of the character `e` (`U+0065`) or `E` (`U+0045`) followed by one or more decimal digits. Services **should** normalize decimal values before storing them by: - Removing an explicitly-provided `+` sign (`+2.5` -> `2.5`). - Replacing a zero-length integer value with `0` (`.5` -> `0.5`). - Coercing the exponent character to upper-case, with explicit sign (`2.5e8` -> `2.5E+8`). - Removing an explicitly-provided zero exponent (`2.5E0` -> `2.5`). Services **may** perform additional normalization based on its own needs and the internal decimal implementation selected, such as shifting the decimal point and exponent value together (example: `2.5E-1` <-> `0.25`). Additionally, services **may** preserve trailing zeroes in the fraction to indicate increased precision, but are not required to do so. Note that only the `.` character is supported to divide the integer and the fraction; `,` **should not** be supported regardless of locale. Additionally, thousand separators **should not** be supported. If a service does support them, values **must** be normalized. The ENBF grammar is: DecimalString = '' | [Sign] Significand [Exponent]; Sign = '+' | '-'; Significand = Digits '.' | [Digits] '.' Digits; Exponent = ('e' | 'E') [Sign] Digits; Digits = { '0' | '1' | '2' | '3' | '4' | '5' | '6' | '7' | '8' | '9' }; Services **should** clearly document the range of supported values, the maximum supported precision (total number of digits), and, if applicable, the scale (number of digits after the decimal point), as well as how it behaves when receiving out-of-bounds values. Services **may** choose to accept values passed as input even when the value has a higher precision or scale than the service supports, and **should** round the value to fit the supported scale. Alternatively, the service **may** error with `400 Bad Request` (`INVALID_ARGUMENT` in gRPC) if precision would be lost. Services **should** error with `400 Bad Request` (`INVALID_ARGUMENT` in gRPC) if the service receives a value outside of the supported range.",
          "type": "string"
        }
      },
      "description": "A representation of a decimal value, such as 2.5. Clients may convert values into language-native decimal formats, such as Java's [BigDecimal](https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/math/BigDecimal.html) or Python's [decimal.Decimal](https://docs.python.org/3/library/decimal.html).",
      "id": "Decimal",
      "type": "object"
    },
    "PlatformGroup": {
      "description": "Representation of a Transparent Platform Group.",
      "id": "PlatformGroup",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. Format: accounts/{account}/platforms/{platform}/groups/{platform_group}"
        },
        "revshareMillipercent": {
          "readOnly": true,
          "$ref": "Decimal",
          "description": "Output only. The revenue share of the PlatformGroup, in millipercent (e.g. 15000 = 15%)."
        },
        "description": {
          "description": "Required. Description of the PlatformGroup.",
          "type": "string"
        }
      }
    },
    "Address": {
      "properties": {
        "address1": {
          "description": "First line of address. Max length 64 bytes or 30 characters.",
          "type": "string"
        },
        "fax": {
          "description": "Fax number with international code (i.e. +441234567890).",
          "type": "string"
        },
        "contact": {
          "description": "Contact name of the company. Max length 128 bytes or 34 characters.",
          "type": "string"
        },
        "company": {
          "type": "string",
          "description": "Name of the company. Max length 255 bytes or 34 characters."
        },
        "regionCode": {
          "description": "Country/Region code. The region is specified as a CLDR region code (e.g. \"US\", \"FR\").",
          "type": "string"
        },
        "address2": {
          "description": "Second line of address. Max length 64 bytes or 30 characters.",
          "type": "string"
        },
        "state": {
          "description": "State. Max length 60 bytes or 30 characters.",
          "type": "string"
        },
        "city": {
          "description": "City. Max length 60 bytes or 30 characters.",
          "type": "string"
        },
        "phone": {
          "description": "Phone number with international code (i.e. +441234567890).",
          "type": "string"
        },
        "zip": {
          "description": "Zip/post code. Max length 10 bytes or 10 characters.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Address",
      "description": "Address data."
    },
    "CloseAccountResponse": {
      "type": "object",
      "id": "CloseAccountResponse",
      "description": "Response definition for the account close rpc.",
      "properties": {}
    },
    "ListPlatformGroupsResponse": {
      "type": "object",
      "description": "Response definition for the platform groups list rpc.",
      "properties": {
        "platformGroups": {
          "description": "The platform groups returned in this list response.",
          "items": {
            "$ref": "PlatformGroup"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Continuation token used to page through platforms. To retrieve the next page of the results, set the next request's \"page_token\" value to this.",
          "type": "string"
        }
      },
      "id": "ListPlatformGroupsResponse"
    },
    "EventInfo": {
      "properties": {
        "billingAddress": {
          "description": "The billing address of the publisher associated with this event, if available.",
          "$ref": "Address"
        },
        "email": {
          "description": "Required. The email address that is associated with the publisher when performing the event.",
          "type": "string"
        }
      },
      "description": "Private information for partner recorded events (PII).",
      "id": "EventInfo",
      "type": "object"
    },
    "Platform": {
      "description": "Representation of a Transparent Platform.",
      "properties": {
        "description": {
          "description": "Output only. Description of the platform.",
          "type": "string",
          "readOnly": true
        },
        "defaultPlatformGroup": {
          "description": "Default platform group for the platform.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. Resource name of a platform. Format: accounts/{account}/platforms/{platform}",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Platform"
    },
    "Event": {
      "description": "A platform sub-account event to record spam signals.",
      "properties": {
        "eventType": {
          "description": "Required. Event type.",
          "type": "string",
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "LOG_IN_VIA_PLATFORM",
            "SIGN_UP_VIA_PLATFORM"
          ],
          "enumDescriptions": [
            "Do not use. You must set an event type explicitly.",
            "Log in via platform.",
            "Sign up via platform."
          ]
        },
        "eventInfo": {
          "$ref": "EventInfo",
          "description": "Required. Information associated with the event."
        },
        "eventTime": {
          "description": "Required. Event timestamp.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "Event",
      "type": "object"
    },
    "ListAccountsResponse": {
      "description": "Response definition for the list accounts rpc.",
      "type": "object",
      "id": "ListAccountsResponse",
      "properties": {
        "accounts": {
          "type": "array",
          "items": {
            "$ref": "Account"
          },
          "description": "The Accounts returned in the list response. Represented by a partial view of the Account resource, populating `name` and `creation_request_id`."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token used to page through accounts. To retrieve the next page of the results, set the next request's \"page_token\" value to this."
        }
      }
    },
    "RequestSiteReviewResponse": {
      "id": "RequestSiteReviewResponse",
      "description": "Response definition for the site request review rpc.",
      "type": "object",
      "properties": {}
    },
    "Site": {
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Resource name of a site. Format: platforms/{platform}/accounts/{account}/sites/{site}"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "REQUIRES_REVIEW",
            "GETTING_READY",
            "READY",
            "NEEDS_ATTENTION"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "State unspecified.",
            "Either: - The site hasn't been checked yet. - The site is inactive and needs another review before it can show ads again. Learn how to [request a review for an inactive site](https://support.google.com/adsense/answer/9393996).",
            "Google is running some checks on the site. This usually takes a few days, but in some cases it can take two to four weeks.",
            "The site is ready to show ads. Learn how to [set up ads on the site](https://support.google.com/adsense/answer/7037624).",
            "Publisher needs to fix some issues before the site is ready to show ads. Learn what to do [if a new site isn't ready](https://support.google.com/adsense/answer/9061852)."
          ],
          "description": "Output only. State of a site."
        },
        "domain": {
          "description": "Domain/sub-domain of the site. Must be a valid domain complying with [RFC 1035](https://www.ietf.org/rfc/rfc1035.txt) and formatted as punycode [RFC 3492](https://www.ietf.org/rfc/rfc3492.txt) in case the domain contains unicode characters.",
          "type": "string"
        }
      },
      "id": "Site",
      "type": "object",
      "description": "Representation of a Site."
    },
    "ListPlatformChildSitesResponse": {
      "id": "ListPlatformChildSitesResponse",
      "properties": {
        "platformChildSites": {
          "description": "The platform child sites returned in this list response.",
          "type": "array",
          "items": {
            "$ref": "PlatformChildSite"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token used to page through platforms. To retrieve the next page of the results, set the next request's \"page_token\" value to this."
        }
      },
      "type": "object",
      "description": "Response definition for the list platform child sites rpc."
    },
    "ListSitesResponse": {
      "type": "object",
      "properties": {
        "sites": {
          "items": {
            "$ref": "Site"
          },
          "description": "The sites returned in this list response.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token used to page through sites. To retrieve the next page of the results, set the next request's \"page_token\" value to this."
        }
      },
      "id": "ListSitesResponse",
      "description": "Response definition for the site list rpc."
    }
  },
  "servicePath": "",
  "title": "AdSense Platform API",
  "name": "adsenseplatform",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/adsense.readonly": {
          "description": "View your AdSense data"
        },
        "https://www.googleapis.com/auth/adsense": {
          "description": "View and manage your AdSense data"
        }
      }
    }
  },
  "resources": {
    "platforms": {
      "resources": {
        "accounts": {
          "methods": {
            "lookup": {
              "description": "Looks up information about a sub-account for a specified creation_request_id. If no account exists for the given creation_request_id, returns 404.",
              "parameters": {
                "creationRequestId": {
                  "description": "Optional. The creation_request_id provided when calling createAccount.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "pattern": "^platforms/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Required. Platform who parents the account. Format: platforms/{platform}"
                }
              },
              "id": "adsenseplatform.platforms.accounts.lookup",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1alpha/{+parent}/accounts:lookup",
              "flatPath": "v1alpha/platforms/{platformsId}/accounts:lookup",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "response": {
                "$ref": "LookupAccountResponse"
              }
            },
            "close": {
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/adsense"
              ],
              "response": {
                "$ref": "CloseAccountResponse"
              },
              "request": {
                "$ref": "CloseAccountRequest"
              },
              "path": "v1alpha/{+name}:close",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha/platforms/{platformsId}/accounts/{accountsId}:close",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. Account to close. Format: platforms/{platform}/accounts/{account_id}",
                  "pattern": "^platforms/[^/]+/accounts/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "id": "adsenseplatform.platforms.accounts.close",
              "description": "Closes a sub-account."
            },
            "get": {
              "id": "adsenseplatform.platforms.accounts.get",
              "parameters": {
                "name": {
                  "description": "Required. Account to get information about. Format: platforms/{platform}/accounts/{account_id}",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^platforms/[^/]+/accounts/[^/]+$"
                }
              },
              "response": {
                "$ref": "Account"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "parameterOrder": [
                "name"
              ],
              "description": "Gets information about the selected sub-account.",
              "flatPath": "v1alpha/platforms/{platformsId}/accounts/{accountsId}",
              "httpMethod": "GET",
              "path": "v1alpha/{+name}"
            },
            "create": {
              "response": {
                "$ref": "Account"
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1alpha/platforms/{platformsId}/accounts",
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. Platform to create an account for. Format: platforms/{platform}",
                  "required": true,
                  "type": "string",
                  "pattern": "^platforms/[^/]+$"
                }
              },
              "path": "v1alpha/{+parent}/accounts",
              "scopes": [
                "https://www.googleapis.com/auth/adsense"
              ],
              "id": "adsenseplatform.platforms.accounts.create",
              "request": {
                "$ref": "Account"
              },
              "description": "Creates a sub-account.",
              "httpMethod": "POST"
            },
            "list": {
              "description": "Lists a partial view of sub-accounts for a specific parent account.",
              "flatPath": "v1alpha/platforms/{platformsId}/accounts",
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "id": "adsenseplatform.platforms.accounts.list",
              "path": "v1alpha/{+parent}/accounts",
              "response": {
                "$ref": "ListAccountsResponse"
              },
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "Optional. The maximum number of accounts to include in the response, used for paging. If unspecified, at most 10000 accounts will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000."
                },
                "pageToken": {
                  "location": "query",
                  "description": "Optional. A page token, received from a previous `ListAccounts` call. Provide this to retrieve the subsequent page.",
                  "type": "string"
                },
                "parent": {
                  "required": true,
                  "pattern": "^platforms/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. Platform who parents the accounts. Format: platforms/{platform}"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET"
            }
          },
          "resources": {
            "events": {
              "methods": {
                "create": {
                  "path": "v1alpha/{+parent}/events",
                  "request": {
                    "$ref": "Event"
                  },
                  "id": "adsenseplatform.platforms.accounts.events.create",
                  "parameters": {
                    "parent": {
                      "description": "Required. Account to log events about. Format: platforms/{platform}/accounts/{account}",
                      "pattern": "^platforms/[^/]+/accounts/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ],
                  "description": "Creates an account event.",
                  "flatPath": "v1alpha/platforms/{platformsId}/accounts/{accountsId}/events",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "Event"
                  }
                }
              }
            },
            "sites": {
              "methods": {
                "get": {
                  "flatPath": "v1alpha/platforms/{platformsId}/accounts/{accountsId}/sites/{sitesId}",
                  "path": "v1alpha/{+name}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^platforms/[^/]+/accounts/[^/]+/sites/[^/]+$",
                      "required": true,
                      "description": "Required. The name of the site to retrieve. Format: platforms/{platform}/accounts/{account}/sites/{site}",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "Site"
                  },
                  "id": "adsenseplatform.platforms.accounts.sites.get",
                  "description": "Gets a site from a specified sub-account.",
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET"
                },
                "create": {
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "description": "Required. Account to create site. Format: platforms/{platform}/accounts/{account_id}",
                      "type": "string",
                      "pattern": "^platforms/[^/]+/accounts/[^/]+$"
                    }
                  },
                  "description": "Creates a site for a specified account.",
                  "httpMethod": "POST",
                  "id": "adsenseplatform.platforms.accounts.sites.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "Site"
                  },
                  "response": {
                    "$ref": "Site"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ],
                  "path": "v1alpha/{+parent}/sites",
                  "flatPath": "v1alpha/platforms/{platformsId}/accounts/{accountsId}/sites"
                },
                "requestReview": {
                  "description": "Requests the review of a site. The site should be in REQUIRES_REVIEW or NEEDS_ATTENTION state. Note: Make sure you place an [ad tag](https://developers.google.com/adsense/platforms/direct/ad-tags) on your site before requesting a review.",
                  "flatPath": "v1alpha/platforms/{platformsId}/accounts/{accountsId}/sites/{sitesId}:requestReview",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^platforms/[^/]+/accounts/[^/]+/sites/[^/]+$",
                      "type": "string",
                      "description": "Required. The name of the site to submit for review. Format: platforms/{platform}/accounts/{account}/sites/{site}"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "RequestSiteReviewResponse"
                  },
                  "httpMethod": "POST",
                  "id": "adsenseplatform.platforms.accounts.sites.requestReview",
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ],
                  "path": "v1alpha/{+name}:requestReview"
                },
                "list": {
                  "response": {
                    "$ref": "ListSitesResponse"
                  },
                  "httpMethod": "GET",
                  "flatPath": "v1alpha/platforms/{platformsId}/accounts/{accountsId}/sites",
                  "path": "v1alpha/{+parent}/sites",
                  "id": "adsenseplatform.platforms.accounts.sites.list",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "A page token, received from a previous `ListSites` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListSites` must match the call that provided the page token."
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "The maximum number of sites to include in the response, used for paging. If unspecified, at most 10000 sites will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
                      "format": "int32",
                      "type": "integer"
                    },
                    "parent": {
                      "pattern": "^platforms/[^/]+/accounts/[^/]+$",
                      "type": "string",
                      "description": "Required. The account which owns the sites. Format: platforms/{platform}/accounts/{account}",
                      "location": "path",
                      "required": true
                    }
                  },
                  "description": "Lists sites for a specific account.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ]
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "description": "Deletes a site from a specified account.",
                  "id": "adsenseplatform.platforms.accounts.sites.delete",
                  "path": "v1alpha/{+name}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1alpha/platforms/{platformsId}/accounts/{accountsId}/sites/{sitesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^platforms/[^/]+/accounts/[^/]+/sites/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. The name of the site to delete. Format: platforms/{platform}/accounts/{account}/sites/{site}"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "accounts": {
      "resources": {
        "platforms": {
          "methods": {
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^accounts/[^/]+/platforms/[^/]+$",
                  "required": true,
                  "description": "Required. The name of the platform to retrieve. Format: accounts/{account}/platforms/{platform}",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "Platform"
              },
              "id": "adsenseplatform.accounts.platforms.get",
              "description": "Gets a platform.",
              "flatPath": "v1alpha/accounts/{accountsId}/platforms/{platformsId}",
              "path": "v1alpha/{+name}",
              "httpMethod": "GET"
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "description": "Lists platforms for a specified account.",
              "flatPath": "v1alpha/accounts/{accountsId}/platforms",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListPlatformsResponse"
              },
              "id": "adsenseplatform.accounts.platforms.list",
              "path": "v1alpha/{+parent}/platforms",
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The account which owns the platforms. Format: accounts/{account}",
                  "pattern": "^accounts/[^/]+$"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. A page token, received from a previous `ListPlatforms` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListPlatforms` must match the call that provided the page token."
                },
                "pageSize": {
                  "description": "Optional. The maximum number of platforms to include in the response, used for paging. If unspecified, at most 10000 platforms will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                }
              }
            }
          },
          "resources": {
            "childAccounts": {
              "resources": {
                "sites": {
                  "methods": {
                    "list": {
                      "description": "Lists Platform Child Sites for a specified Platform Child Account.",
                      "flatPath": "v1alpha/accounts/{accountsId}/platforms/{platformsId}/childAccounts/{childAccountsId}/sites",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/adsense",
                        "https://www.googleapis.com/auth/adsense.readonly"
                      ],
                      "response": {
                        "$ref": "ListPlatformChildSitesResponse"
                      },
                      "path": "v1alpha/{+parent}/sites",
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "adsenseplatform.accounts.platforms.childAccounts.sites.list",
                      "parameters": {
                        "pageSize": {
                          "type": "integer",
                          "description": "Optional. The maximum number of children to include in the response, used for paging. If unspecified, at most 10000 platforms will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
                          "location": "query",
                          "format": "int32"
                        },
                        "parent": {
                          "pattern": "^accounts/[^/]+/platforms/[^/]+/childAccounts/[^/]+$",
                          "required": true,
                          "location": "path",
                          "description": "Required. The name of the child account under the given platform which owns the platform child sites. Format: accounts/{account}/platforms/{platform}/childAccounts/{child_account}",
                          "type": "string"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "Optional. A page token, received from a previous `ListPlatformChildSites` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListPlatformChildSites` must match the call that provided the page token.",
                          "type": "string"
                        }
                      }
                    },
                    "patch": {
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1alpha/accounts/{accountsId}/platforms/{platformsId}/childAccounts/{childAccountsId}/sites/{sitesId}",
                      "parameters": {
                        "updateMask": {
                          "format": "google-fieldmask",
                          "type": "string",
                          "location": "query",
                          "description": "Optional. The list of fields to update - currently only supports updating the `platform_group` field."
                        },
                        "name": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "Identifier. Format: accounts/{account}/platforms/{platform}/childAccounts/{child_account}/sites/{platform_child_site}",
                          "pattern": "^accounts/[^/]+/platforms/[^/]+/childAccounts/[^/]+/sites/[^/]+$"
                        }
                      },
                      "response": {
                        "$ref": "PlatformChildSite"
                      },
                      "path": "v1alpha/{+name}",
                      "id": "adsenseplatform.accounts.platforms.childAccounts.sites.patch",
                      "request": {
                        "$ref": "PlatformChildSite"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/adsense"
                      ],
                      "description": "Update a Platform Child Site.",
                      "httpMethod": "PATCH"
                    },
                    "get": {
                      "response": {
                        "$ref": "PlatformChildSite"
                      },
                      "description": "Gets a Platform Child Site for a specified Platform Child Account and site.",
                      "id": "adsenseplatform.accounts.platforms.childAccounts.sites.get",
                      "parameters": {
                        "name": {
                          "pattern": "^accounts/[^/]+/platforms/[^/]+/childAccounts/[^/]+/sites/[^/]+$",
                          "required": true,
                          "location": "path",
                          "description": "Required. The name of the platform child site to retrieve. Format: accounts/{account}/platforms/{platform}/childAccounts/{child_account}/sites/{platform_child_site}",
                          "type": "string"
                        }
                      },
                      "flatPath": "v1alpha/accounts/{accountsId}/platforms/{platformsId}/childAccounts/{childAccountsId}/sites/{sitesId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1alpha/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/adsense",
                        "https://www.googleapis.com/auth/adsense.readonly"
                      ],
                      "httpMethod": "GET"
                    }
                  }
                }
              }
            },
            "groups": {
              "methods": {
                "patch": {
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ],
                  "parameters": {
                    "updateMask": {
                      "format": "google-fieldmask",
                      "location": "query",
                      "description": "Optional. The list of fields to update - currently only supports updating the `description` field.",
                      "type": "string"
                    },
                    "name": {
                      "type": "string",
                      "pattern": "^accounts/[^/]+/platforms/[^/]+/groups/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Identifier. Format: accounts/{account}/platforms/{platform}/groups/{platform_group}"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "PlatformGroup"
                  },
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "PlatformGroup"
                  },
                  "description": "Update a Platform Group.",
                  "id": "adsenseplatform.accounts.platforms.groups.patch",
                  "flatPath": "v1alpha/accounts/{accountsId}/platforms/{platformsId}/groups/{groupsId}",
                  "path": "v1alpha/{+name}"
                },
                "list": {
                  "path": "v1alpha/{+parent}/groups",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^accounts/[^/]+/platforms/[^/]+$",
                      "location": "path",
                      "description": "Required. The name of the platform to retrieve. Format: accounts/{account}/platforms/{platform}",
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. A page token, received from a previous `ListPlatformGroups` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListPlatformGroups` must match the call that provided the page token.",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "description": "Optional. The maximum number of groups to include in the response, used for paging. If unspecified, at most 10000 groups will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
                      "location": "query"
                    }
                  },
                  "flatPath": "v1alpha/accounts/{accountsId}/platforms/{platformsId}/groups",
                  "id": "adsenseplatform.accounts.platforms.groups.list",
                  "description": "Lists Platform Groups for a specified Platform.",
                  "response": {
                    "$ref": "ListPlatformGroupsResponse"
                  },
                  "httpMethod": "GET"
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "PlatformGroup"
                  },
                  "httpMethod": "GET",
                  "flatPath": "v1alpha/accounts/{accountsId}/platforms/{platformsId}/groups/{groupsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "description": "Required. The name of the platform group to retrieve. Format: accounts/{account}/platforms/{platform}/groups/{group}",
                      "type": "string",
                      "pattern": "^accounts/[^/]+/platforms/[^/]+/groups/[^/]+$"
                    }
                  },
                  "path": "v1alpha/{+name}",
                  "description": "Gets a Platform Group for a specified Platform and group.",
                  "id": "adsenseplatform.accounts.platforms.groups.get"
                }
              }
            }
          }
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "canonicalName": "AdSense Platform"
}