{
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "parameters": {
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "alt": {
      "location": "query",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json"
    }
  },
  "name": "adsenseplatform",
  "batchPath": "batch",
  "id": "adsenseplatform:v1",
  "mtlsRootUrl": "https://adsenseplatform.mtls.googleapis.com/",
  "documentationLink": "https://developers.google.com/adsense/platforms/",
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/adsense": {
          "description": "View and manage your AdSense data"
        },
        "https://www.googleapis.com/auth/adsense.readonly": {
          "description": "View your AdSense data"
        }
      }
    }
  },
  "rootUrl": "https://adsenseplatform.googleapis.com/",
  "protocol": "rest",
  "version": "v1",
  "schemas": {
    "Event": {
      "type": "object",
      "description": "A platform sub-account event to record spam signals.",
      "id": "Event",
      "properties": {
        "eventType": {
          "description": "Required. Event type.",
          "type": "string",
          "enumDescriptions": [
            "Do not use. You must set an event type explicitly.",
            "Log in via platform.",
            "Sign up via platform."
          ],
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "LOG_IN_VIA_PLATFORM",
            "SIGN_UP_VIA_PLATFORM"
          ]
        },
        "eventTime": {
          "format": "google-datetime",
          "description": "Required. Event timestamp.",
          "type": "string"
        },
        "eventInfo": {
          "description": "Required. Information associated with the event.",
          "$ref": "EventInfo"
        }
      }
    },
    "ListSitesResponse": {
      "properties": {
        "sites": {
          "description": "The sites returned in this list response.",
          "type": "array",
          "items": {
            "$ref": "Site"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token used to page through sites. To retrieve the next page of the results, set the next request's \"page_token\" value to this."
        }
      },
      "id": "ListSitesResponse",
      "type": "object",
      "description": "Response definition for the site list rpc."
    },
    "Address": {
      "type": "object",
      "description": "Address data.",
      "id": "Address",
      "properties": {
        "fax": {
          "description": "Fax number with international code (i.e. +441234567890).",
          "type": "string"
        },
        "regionCode": {
          "type": "string",
          "description": "Country/Region code. The region is specified as a CLDR region code (e.g. \"US\", \"FR\")."
        },
        "contact": {
          "description": "Contact name of the company. Max length 128 bytes or 34 characters.",
          "type": "string"
        },
        "zip": {
          "description": "Zip/post code. Max length 10 bytes or 10 characters.",
          "type": "string"
        },
        "address1": {
          "type": "string",
          "description": "First line of address. Max length 64 bytes or 30 characters."
        },
        "address2": {
          "description": "Second line of address. Max length 64 bytes or 30 characters.",
          "type": "string"
        },
        "phone": {
          "description": "Phone number with international code (i.e. +441234567890).",
          "type": "string"
        },
        "company": {
          "type": "string",
          "description": "Name of the company. Max length 255 bytes or 34 characters."
        },
        "city": {
          "description": "City. Max length 60 bytes or 30 characters.",
          "type": "string"
        },
        "state": {
          "description": "State. Max length 60 bytes or 30 characters.",
          "type": "string"
        }
      }
    },
    "LookupAccountResponse": {
      "id": "LookupAccountResponse",
      "description": "Response definition for the lookup account rpc.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the Account Format: platforms/{platform}/accounts/{account_id}"
        }
      },
      "type": "object"
    },
    "CloseAccountRequest": {
      "description": "Request definition for the account close rpc.",
      "id": "CloseAccountRequest",
      "properties": {},
      "type": "object"
    },
    "CloseAccountResponse": {
      "description": "Response definition for the account close rpc.",
      "type": "object",
      "id": "CloseAccountResponse",
      "properties": {}
    },
    "Account": {
      "description": "Representation of an Account.",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Display name of this account."
        },
        "name": {
          "type": "string",
          "description": "Output only. Resource name of the account. Format: platforms/pub-[0-9]+/accounts/pub-[0-9]+",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Creation time of the account.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "regionCode": {
          "type": "string",
          "description": "Required. Input only. CLDR region code of the country/region of the address. Set this to country code of the child account if known, otherwise to your own country code."
        },
        "creationRequestId": {
          "description": "Required. An opaque token that uniquely identifies the account among all the platform's accounts. This string may contain at most 64 non-whitespace ASCII characters, but otherwise has no predefined structure. However, it is expected to be a platform-specific identifier for the user creating the account, so that only a single account can be created for any given user. This field must not contain any information that is recognizable as personally identifiable information. e.g. it should not be an email address or login name. Once an account has been created, a second attempt to create an account using the same creation_request_id will result in an ALREADY_EXISTS error.",
          "type": "string"
        },
        "state": {
          "description": "Output only. Approval state of the account.",
          "enum": [
            "STATE_UNSPECIFIED",
            "UNCHECKED",
            "APPROVED",
            "DISAPPROVED"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Unchecked.",
            "The account is ready to serve ads.",
            "The account has been blocked from serving ads."
          ],
          "readOnly": true,
          "type": "string"
        },
        "timeZone": {
          "description": "Required. The IANA TZ timezone code of this account. For more information, see https://en.wikipedia.org/wiki/List_of_tz_database_time_zones. This field is used for reporting. It is recommended to set it to the same value for all child accounts.",
          "$ref": "TimeZone"
        }
      },
      "id": "Account",
      "type": "object"
    },
    "Empty": {
      "id": "Empty",
      "properties": {},
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "TimeZone": {
      "type": "object",
      "id": "TimeZone",
      "properties": {
        "version": {
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\".",
          "type": "string"
        },
        "id": {
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\".",
          "type": "string"
        }
      },
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones)."
    },
    "Site": {
      "description": "Representation of a Site.",
      "type": "object",
      "id": "Site",
      "properties": {
        "domain": {
          "type": "string",
          "description": "Domain/sub-domain of the site. Must be a valid domain complying with [RFC 1035](https://www.ietf.org/rfc/rfc1035.txt) and formatted as punycode [RFC 3492](https://www.ietf.org/rfc/rfc3492.txt) in case the domain contains unicode characters."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Resource name of a site. Format: platforms/{platform}/accounts/{account}/sites/{site}"
        },
        "state": {
          "description": "Output only. State of a site.",
          "enum": [
            "STATE_UNSPECIFIED",
            "REQUIRES_REVIEW",
            "GETTING_READY",
            "READY",
            "NEEDS_ATTENTION"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "State unspecified.",
            "Either: - The site hasn't been checked yet. - The site is inactive and needs another review before it can show ads again. Learn how to [request a review for an inactive site](https://support.google.com/adsense/answer/9393996).",
            "Google is running some checks on the site. This usually takes a few days, but in some cases it can take two to four weeks.",
            "The site is ready to show ads. Learn how to [set up ads on the site](https://support.google.com/adsense/answer/7037624).",
            "Publisher needs to fix some issues before the site is ready to show ads. Learn what to do [if a new site isn't ready](https://support.google.com/adsense/answer/9061852)."
          ]
        }
      }
    },
    "EventInfo": {
      "description": "Private information for partner recorded events (PII).",
      "properties": {
        "email": {
          "description": "Required. The email address that is associated with the publisher when performing the event.",
          "type": "string"
        },
        "billingAddress": {
          "$ref": "Address",
          "description": "The billing address of the publisher associated with this event, if available."
        }
      },
      "type": "object",
      "id": "EventInfo"
    },
    "ListAccountsResponse": {
      "description": "Response definition for the list accounts rpc.",
      "id": "ListAccountsResponse",
      "type": "object",
      "properties": {
        "accounts": {
          "items": {
            "$ref": "Account"
          },
          "description": "The Accounts returned in the list response. Represented by a partial view of the Account resource, populating `name` and `creation_request_id`.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Continuation token used to page through accounts. To retrieve the next page of the results, set the next request's \"page_token\" value to this.",
          "type": "string"
        }
      }
    },
    "RequestSiteReviewResponse": {
      "type": "object",
      "description": "Response definition for the site request review rpc.",
      "properties": {},
      "id": "RequestSiteReviewResponse"
    }
  },
  "canonicalName": "AdSense Platform",
  "ownerName": "Google",
  "ownerDomain": "google.com",
  "description": "",
  "servicePath": "",
  "kind": "discovery#restDescription",
  "revision": "20260914",
  "baseUrl": "https://adsenseplatform.googleapis.com/",
  "basePath": "",
  "resources": {
    "platforms": {
      "resources": {
        "accounts": {
          "methods": {
            "get": {
              "description": "Gets information about the selected sub-account.",
              "id": "adsenseplatform.platforms.accounts.get",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^platforms/[^/]+/accounts/[^/]+$",
                  "description": "Required. Account to get information about. Format: platforms/{platform}/accounts/{account_id}",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "flatPath": "v1/platforms/{platformsId}/accounts/{accountsId}",
              "response": {
                "$ref": "Account"
              }
            },
            "close": {
              "parameters": {
                "name": {
                  "pattern": "^platforms/[^/]+/accounts/[^/]+$",
                  "description": "Required. Account to close. Format: platforms/{platform}/accounts/{account_id}",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "id": "adsenseplatform.platforms.accounts.close",
              "description": "Closes a sub-account.",
              "path": "v1/{+name}:close",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/platforms/{platformsId}/accounts/{accountsId}:close",
              "scopes": [
                "https://www.googleapis.com/auth/adsense"
              ],
              "response": {
                "$ref": "CloseAccountResponse"
              },
              "request": {
                "$ref": "CloseAccountRequest"
              },
              "httpMethod": "POST"
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "description": "Optional. The maximum number of accounts to include in the response, used for paging. If unspecified, at most 10000 accounts will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
                  "format": "int32",
                  "location": "query"
                },
                "parent": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. Platform who parents the accounts. Format: platforms/{platform}",
                  "pattern": "^platforms/[^/]+$"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Optional. A page token, received from a previous `ListAccounts` call. Provide this to retrieve the subsequent page.",
                  "type": "string"
                }
              },
              "flatPath": "v1/platforms/{platformsId}/accounts",
              "path": "v1/{+parent}/accounts",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListAccountsResponse"
              },
              "description": "Lists a partial view of sub-accounts for a specific parent account.",
              "id": "adsenseplatform.platforms.accounts.list",
              "httpMethod": "GET"
            },
            "lookup": {
              "flatPath": "v1/platforms/{platformsId}/accounts:lookup",
              "parameters": {
                "parent": {
                  "pattern": "^platforms/[^/]+$",
                  "description": "Required. Platform who parents the account. Format: platforms/{platform}",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "creationRequestId": {
                  "description": "Optional. The creation_request_id provided when calling createAccount.",
                  "location": "query",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "LookupAccountResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "description": "Looks up information about a sub-account for a specified creation_request_id. If no account exists for the given creation_request_id, returns 404.",
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "id": "adsenseplatform.platforms.accounts.lookup",
              "path": "v1/{+parent}/accounts:lookup"
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/adsense"
              ],
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "Account"
              },
              "request": {
                "$ref": "Account"
              },
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^platforms/[^/]+$",
                  "description": "Required. Platform to create an account for. Format: platforms/{platform}"
                }
              },
              "flatPath": "v1/platforms/{platformsId}/accounts",
              "path": "v1/{+parent}/accounts",
              "id": "adsenseplatform.platforms.accounts.create",
              "httpMethod": "POST",
              "description": "Creates a sub-account."
            }
          },
          "resources": {
            "events": {
              "methods": {
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "id": "adsenseplatform.platforms.accounts.events.create",
                  "request": {
                    "$ref": "Event"
                  },
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^platforms/[^/]+/accounts/[^/]+$",
                      "location": "path",
                      "description": "Required. Account to log events about. Format: platforms/{platform}/accounts/{account}",
                      "required": true
                    }
                  },
                  "description": "Creates an account event.",
                  "flatPath": "v1/platforms/{platformsId}/accounts/{accountsId}/events",
                  "path": "v1/{+parent}/events",
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ],
                  "response": {
                    "$ref": "Event"
                  }
                }
              }
            },
            "sites": {
              "methods": {
                "list": {
                  "parameters": {
                    "pageSize": {
                      "description": "The maximum number of sites to include in the response, used for paging. If unspecified, at most 10000 sites will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "parent": {
                      "description": "Required. The account which owns the sites. Format: platforms/{platform}/accounts/{account}",
                      "pattern": "^platforms/[^/]+/accounts/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "A page token, received from a previous `ListSites` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListSites` must match the call that provided the page token.",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "description": "Lists sites for a specific account.",
                  "id": "adsenseplatform.platforms.accounts.sites.list",
                  "flatPath": "v1/platforms/{platformsId}/accounts/{accountsId}/sites",
                  "path": "v1/{+parent}/sites",
                  "response": {
                    "$ref": "ListSitesResponse"
                  }
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^platforms/[^/]+/accounts/[^/]+/sites/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The name of the site to retrieve. Format: platforms/{platform}/accounts/{account}/sites/{site}"
                    }
                  },
                  "path": "v1/{+name}",
                  "flatPath": "v1/platforms/{platformsId}/accounts/{accountsId}/sites/{sitesId}",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "id": "adsenseplatform.platforms.accounts.sites.get",
                  "description": "Gets a site from a specified sub-account.",
                  "response": {
                    "$ref": "Site"
                  }
                },
                "create": {
                  "flatPath": "v1/platforms/{platformsId}/accounts/{accountsId}/sites",
                  "path": "v1/{+parent}/sites",
                  "response": {
                    "$ref": "Site"
                  },
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. Account to create site. Format: platforms/{platform}/accounts/{account_id}",
                      "required": true,
                      "pattern": "^platforms/[^/]+/accounts/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ],
                  "request": {
                    "$ref": "Site"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "id": "adsenseplatform.platforms.accounts.sites.create",
                  "description": "Creates a site for a specified account."
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ],
                  "description": "Deletes a site from a specified account.",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "adsenseplatform.platforms.accounts.sites.delete",
                  "flatPath": "v1/platforms/{platformsId}/accounts/{accountsId}/sites/{sitesId}",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the site to delete. Format: platforms/{platform}/accounts/{account}/sites/{site}",
                      "location": "path",
                      "pattern": "^platforms/[^/]+/accounts/[^/]+/sites/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  }
                },
                "requestReview": {
                  "id": "adsenseplatform.platforms.accounts.sites.requestReview",
                  "path": "v1/{+name}:requestReview",
                  "response": {
                    "$ref": "RequestSiteReviewResponse"
                  },
                  "description": "Requests the review of a site. The site should be in REQUIRES_REVIEW or NEEDS_ATTENTION state. Note: Make sure you place an [ad tag](https://developers.google.com/adsense/platforms/direct/ad-tags) on your site before requesting a review.",
                  "flatPath": "v1/platforms/{platformsId}/accounts/{accountsId}/sites/{sitesId}:requestReview",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "pattern": "^platforms/[^/]+/accounts/[^/]+/sites/[^/]+$",
                      "type": "string",
                      "description": "Required. The name of the site to submit for review. Format: platforms/{platform}/accounts/{account}/sites/{site}",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "title": "AdSense Platform API",
  "version_module": true,
  "fullyEncodeReservedExpansion": true
}