{
  "servicePath": "",
  "basePath": "",
  "title": "AdSense Platform API",
  "mtlsRootUrl": "https://adsenseplatform.mtls.googleapis.com/",
  "canonicalName": "AdSense Platform",
  "documentationLink": "https://developers.google.com/adsense/platforms/",
  "description": "",
  "version": "v1alpha",
  "rootUrl": "https://adsenseplatform.googleapis.com/",
  "revision": "20260917",
  "id": "adsenseplatform:v1alpha",
  "batchPath": "batch",
  "ownerDomain": "google.com",
  "version_module": true,
  "name": "adsenseplatform",
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "kind": "discovery#restDescription",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/adsense.readonly": {
          "description": "View your AdSense data"
        },
        "https://www.googleapis.com/auth/adsense": {
          "description": "View and manage your AdSense data"
        }
      }
    }
  },
  "protocol": "rest",
  "resources": {
    "platforms": {
      "resources": {
        "accounts": {
          "methods": {
            "get": {
              "flatPath": "v1alpha/platforms/{platformsId}/accounts/{accountsId}",
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "description": "Gets information about the selected sub-account.",
              "response": {
                "$ref": "Account"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^platforms/[^/]+/accounts/[^/]+$",
                  "location": "path",
                  "description": "Required. Account to get information about. Format: platforms/{platform}/accounts/{account_id}"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "id": "adsenseplatform.platforms.accounts.get",
              "httpMethod": "GET",
              "path": "v1alpha/{+name}"
            },
            "close": {
              "flatPath": "v1alpha/platforms/{platformsId}/accounts/{accountsId}:close",
              "request": {
                "$ref": "CloseAccountRequest"
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/adsense"
              ],
              "response": {
                "$ref": "CloseAccountResponse"
              },
              "id": "adsenseplatform.platforms.accounts.close",
              "description": "Closes a sub-account.",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. Account to close. Format: platforms/{platform}/accounts/{account_id}",
                  "pattern": "^platforms/[^/]+/accounts/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha/{+name}:close"
            },
            "lookup": {
              "flatPath": "v1alpha/platforms/{platformsId}/accounts:lookup",
              "id": "adsenseplatform.platforms.accounts.lookup",
              "description": "Looks up information about a sub-account for a specified creation_request_id. If no account exists for the given creation_request_id, returns 404.",
              "parameters": {
                "parent": {
                  "description": "Required. Platform who parents the account. Format: platforms/{platform}",
                  "type": "string",
                  "required": true,
                  "pattern": "^platforms/[^/]+$",
                  "location": "path"
                },
                "creationRequestId": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. The creation_request_id provided when calling createAccount."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "path": "v1alpha/{+parent}/accounts:lookup",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "LookupAccountResponse"
              },
              "httpMethod": "GET"
            },
            "list": {
              "id": "adsenseplatform.platforms.accounts.list",
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "httpMethod": "GET",
              "description": "Lists a partial view of sub-accounts for a specific parent account.",
              "path": "v1alpha/{+parent}/accounts",
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "pattern": "^platforms/[^/]+$",
                  "type": "string",
                  "description": "Required. Platform who parents the accounts. Format: platforms/{platform}"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Optional. A page token, received from a previous `ListAccounts` call. Provide this to retrieve the subsequent page.",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "description": "Optional. The maximum number of accounts to include in the response, used for paging. If unspecified, at most 10000 accounts will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
                  "type": "integer"
                }
              },
              "flatPath": "v1alpha/platforms/{platformsId}/accounts",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListAccountsResponse"
              }
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/adsense"
              ],
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "Account"
              },
              "id": "adsenseplatform.platforms.accounts.create",
              "description": "Creates a sub-account.",
              "flatPath": "v1alpha/platforms/{platformsId}/accounts",
              "request": {
                "$ref": "Account"
              },
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^platforms/[^/]+$",
                  "location": "path",
                  "description": "Required. Platform to create an account for. Format: platforms/{platform}",
                  "type": "string"
                }
              },
              "path": "v1alpha/{+parent}/accounts",
              "httpMethod": "POST"
            }
          },
          "resources": {
            "sites": {
              "methods": {
                "delete": {
                  "id": "adsenseplatform.platforms.accounts.sites.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "description": "Deletes a site from a specified account.",
                  "path": "v1alpha/{+name}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^platforms/[^/]+/accounts/[^/]+/sites/[^/]+$",
                      "description": "Required. The name of the site to delete. Format: platforms/{platform}/accounts/{account}/sites/{site}",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ],
                  "flatPath": "v1alpha/platforms/{platformsId}/accounts/{accountsId}/sites/{sitesId}"
                },
                "create": {
                  "path": "v1alpha/{+parent}/sites",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^platforms/[^/]+/accounts/[^/]+$",
                      "description": "Required. Account to create site. Format: platforms/{platform}/accounts/{account_id}"
                    }
                  },
                  "description": "Creates a site for a specified account.",
                  "request": {
                    "$ref": "Site"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Site"
                  },
                  "flatPath": "v1alpha/platforms/{platformsId}/accounts/{accountsId}/sites",
                  "id": "adsenseplatform.platforms.accounts.sites.create"
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets a site from a specified sub-account.",
                  "path": "v1alpha/{+name}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "pattern": "^platforms/[^/]+/accounts/[^/]+/sites/[^/]+$",
                      "location": "path",
                      "description": "Required. The name of the site to retrieve. Format: platforms/{platform}/accounts/{account}/sites/{site}"
                    }
                  },
                  "id": "adsenseplatform.platforms.accounts.sites.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "flatPath": "v1alpha/platforms/{platformsId}/accounts/{accountsId}/sites/{sitesId}",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Site"
                  }
                },
                "requestReview": {
                  "id": "adsenseplatform.platforms.accounts.sites.requestReview",
                  "flatPath": "v1alpha/platforms/{platformsId}/accounts/{accountsId}/sites/{sitesId}:requestReview",
                  "description": "Requests the review of a site. The site should be in REQUIRES_REVIEW or NEEDS_ATTENTION state. Note: Make sure you place an [ad tag](https://developers.google.com/adsense/platforms/direct/ad-tags) on your site before requesting a review.",
                  "path": "v1alpha/{+name}:requestReview",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The name of the site to submit for review. Format: platforms/{platform}/accounts/{account}/sites/{site}",
                      "location": "path",
                      "pattern": "^platforms/[^/]+/accounts/[^/]+/sites/[^/]+$",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "RequestSiteReviewResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST"
                },
                "list": {
                  "description": "Lists sites for a specific account.",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "A page token, received from a previous `ListSites` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListSites` must match the call that provided the page token."
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "The maximum number of sites to include in the response, used for paging. If unspecified, at most 10000 sites will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
                      "format": "int32"
                    },
                    "parent": {
                      "description": "Required. The account which owns the sites. Format: platforms/{platform}/accounts/{account}",
                      "pattern": "^platforms/[^/]+/accounts/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "id": "adsenseplatform.platforms.accounts.sites.list",
                  "response": {
                    "$ref": "ListSitesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1alpha/{+parent}/sites",
                  "httpMethod": "GET",
                  "flatPath": "v1alpha/platforms/{platformsId}/accounts/{accountsId}/sites"
                }
              }
            },
            "events": {
              "methods": {
                "create": {
                  "response": {
                    "$ref": "Event"
                  },
                  "id": "adsenseplatform.platforms.accounts.events.create",
                  "parameters": {
                    "parent": {
                      "description": "Required. Account to log events about. Format: platforms/{platform}/accounts/{account}",
                      "required": true,
                      "pattern": "^platforms/[^/]+/accounts/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "path": "v1alpha/{+parent}/events",
                  "flatPath": "v1alpha/platforms/{platformsId}/accounts/{accountsId}/events",
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ],
                  "httpMethod": "POST",
                  "description": "Creates an account event.",
                  "request": {
                    "$ref": "Event"
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "accounts": {
      "resources": {
        "platforms": {
          "methods": {
            "get": {
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "description": "Required. The name of the platform to retrieve. Format: accounts/{account}/platforms/{platform}",
                  "type": "string",
                  "pattern": "^accounts/[^/]+/platforms/[^/]+$"
                }
              },
              "id": "adsenseplatform.accounts.platforms.get",
              "flatPath": "v1alpha/accounts/{accountsId}/platforms/{platformsId}",
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha/{+name}",
              "description": "Gets a platform.",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "response": {
                "$ref": "Platform"
              }
            },
            "list": {
              "path": "v1alpha/{+parent}/platforms",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListPlatformsResponse"
              },
              "flatPath": "v1alpha/accounts/{accountsId}/platforms",
              "description": "Lists platforms for a specified account.",
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "parameters": {
                "pageSize": {
                  "description": "Optional. The maximum number of platforms to include in the response, used for paging. If unspecified, at most 10000 platforms will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Optional. A page token, received from a previous `ListPlatforms` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListPlatforms` must match the call that provided the page token.",
                  "type": "string"
                },
                "parent": {
                  "required": true,
                  "type": "string",
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "description": "Required. The account which owns the platforms. Format: accounts/{account}"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "adsenseplatform.accounts.platforms.list"
            }
          },
          "resources": {
            "childAccounts": {
              "resources": {
                "sites": {
                  "methods": {
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "parent": {
                          "pattern": "^accounts/[^/]+/platforms/[^/]+/childAccounts/[^/]+$",
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "Required. The name of the child account under the given platform which owns the platform child sites. Format: accounts/{account}/platforms/{platform}/childAccounts/{child_account}"
                        },
                        "pageSize": {
                          "description": "Optional. The maximum number of children to include in the response, used for paging. If unspecified, at most 10000 platforms will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
                          "format": "int32",
                          "location": "query",
                          "type": "integer"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "Optional. A page token, received from a previous `ListPlatformChildSites` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListPlatformChildSites` must match the call that provided the page token.",
                          "location": "query"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/adsense",
                        "https://www.googleapis.com/auth/adsense.readonly"
                      ],
                      "response": {
                        "$ref": "ListPlatformChildSitesResponse"
                      },
                      "httpMethod": "GET",
                      "flatPath": "v1alpha/accounts/{accountsId}/platforms/{platformsId}/childAccounts/{childAccountsId}/sites",
                      "description": "Lists Platform Child Sites for a specified Platform Child Account.",
                      "id": "adsenseplatform.accounts.platforms.childAccounts.sites.list",
                      "path": "v1alpha/{+parent}/sites"
                    },
                    "get": {
                      "httpMethod": "GET",
                      "id": "adsenseplatform.accounts.platforms.childAccounts.sites.get",
                      "description": "Gets a Platform Child Site for a specified Platform Child Account and site.",
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^accounts/[^/]+/platforms/[^/]+/childAccounts/[^/]+/sites/[^/]+$",
                          "description": "Required. The name of the platform child site to retrieve. Format: accounts/{account}/platforms/{platform}/childAccounts/{child_account}/sites/{platform_child_site}",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/adsense",
                        "https://www.googleapis.com/auth/adsense.readonly"
                      ],
                      "path": "v1alpha/{+name}",
                      "flatPath": "v1alpha/accounts/{accountsId}/platforms/{platformsId}/childAccounts/{childAccountsId}/sites/{sitesId}",
                      "response": {
                        "$ref": "PlatformChildSite"
                      },
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "patch": {
                      "response": {
                        "$ref": "PlatformChildSite"
                      },
                      "flatPath": "v1alpha/accounts/{accountsId}/platforms/{platformsId}/childAccounts/{childAccountsId}/sites/{sitesId}",
                      "parameters": {
                        "name": {
                          "description": "Identifier. Format: accounts/{account}/platforms/{platform}/childAccounts/{child_account}/sites/{platform_child_site}",
                          "type": "string",
                          "required": true,
                          "pattern": "^accounts/[^/]+/platforms/[^/]+/childAccounts/[^/]+/sites/[^/]+$",
                          "location": "path"
                        },
                        "updateMask": {
                          "location": "query",
                          "type": "string",
                          "format": "google-fieldmask",
                          "description": "Optional. The list of fields to update - currently only supports updating the `platform_group` field."
                        }
                      },
                      "request": {
                        "$ref": "PlatformChildSite"
                      },
                      "path": "v1alpha/{+name}",
                      "description": "Update a Platform Child Site.",
                      "httpMethod": "PATCH",
                      "id": "adsenseplatform.accounts.platforms.childAccounts.sites.patch",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/adsense"
                      ]
                    }
                  }
                }
              }
            },
            "groups": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "adsenseplatform.accounts.platforms.groups.list",
                  "flatPath": "v1alpha/accounts/{accountsId}/platforms/{platformsId}/groups",
                  "response": {
                    "$ref": "ListPlatformGroupsResponse"
                  },
                  "description": "Lists Platform Groups for a specified Platform.",
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. The name of the platform to retrieve. Format: accounts/{account}/platforms/{platform}",
                      "pattern": "^accounts/[^/]+/platforms/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "description": "Optional. The maximum number of groups to include in the response, used for paging. If unspecified, at most 10000 groups will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
                      "type": "integer"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A page token, received from a previous `ListPlatformGroups` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListPlatformGroups` must match the call that provided the page token.",
                      "location": "query"
                    }
                  },
                  "path": "v1alpha/{+parent}/groups"
                },
                "get": {
                  "path": "v1alpha/{+name}",
                  "description": "Gets a Platform Group for a specified Platform and group.",
                  "httpMethod": "GET",
                  "id": "adsenseplatform.accounts.platforms.groups.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "flatPath": "v1alpha/accounts/{accountsId}/platforms/{platformsId}/groups/{groupsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "PlatformGroup"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^accounts/[^/]+/platforms/[^/]+/groups/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Required. The name of the platform group to retrieve. Format: accounts/{account}/platforms/{platform}/groups/{group}"
                    }
                  }
                },
                "patch": {
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1alpha/{+name}",
                  "flatPath": "v1alpha/accounts/{accountsId}/platforms/{platformsId}/groups/{groupsId}",
                  "httpMethod": "PATCH",
                  "description": "Update a Platform Group.",
                  "response": {
                    "$ref": "PlatformGroup"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Identifier. Format: accounts/{account}/platforms/{platform}/groups/{platform_group}",
                      "required": true,
                      "pattern": "^accounts/[^/]+/platforms/[^/]+/groups/[^/]+$",
                      "type": "string"
                    },
                    "updateMask": {
                      "location": "query",
                      "description": "Optional. The list of fields to update - currently only supports updating the `description` field.",
                      "format": "google-fieldmask",
                      "type": "string"
                    }
                  },
                  "id": "adsenseplatform.accounts.platforms.groups.patch",
                  "request": {
                    "$ref": "PlatformGroup"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "schemas": {
    "Decimal": {
      "id": "Decimal",
      "properties": {
        "value": {
          "description": "The decimal value, as a string. The string representation consists of an optional sign, `+` (`U+002B`) or `-` (`U+002D`), followed by a sequence of zero or more decimal digits (\"the integer\"), optionally followed by a fraction, optionally followed by an exponent. An empty string **should** be interpreted as `0`. The fraction consists of a decimal point followed by zero or more decimal digits. The string must contain at least one digit in either the integer or the fraction. The number formed by the sign, the integer and the fraction is referred to as the significand. The exponent consists of the character `e` (`U+0065`) or `E` (`U+0045`) followed by one or more decimal digits. Services **should** normalize decimal values before storing them by: - Removing an explicitly-provided `+` sign (`+2.5` -> `2.5`). - Replacing a zero-length integer value with `0` (`.5` -> `0.5`). - Coercing the exponent character to upper-case, with explicit sign (`2.5e8` -> `2.5E+8`). - Removing an explicitly-provided zero exponent (`2.5E0` -> `2.5`). Services **may** perform additional normalization based on its own needs and the internal decimal implementation selected, such as shifting the decimal point and exponent value together (example: `2.5E-1` <-> `0.25`). Additionally, services **may** preserve trailing zeroes in the fraction to indicate increased precision, but are not required to do so. Note that only the `.` character is supported to divide the integer and the fraction; `,` **should not** be supported regardless of locale. Additionally, thousand separators **should not** be supported. If a service does support them, values **must** be normalized. The ENBF grammar is: DecimalString = '' | [Sign] Significand [Exponent]; Sign = '+' | '-'; Significand = Digits '.' | [Digits] '.' Digits; Exponent = ('e' | 'E') [Sign] Digits; Digits = { '0' | '1' | '2' | '3' | '4' | '5' | '6' | '7' | '8' | '9' }; Services **should** clearly document the range of supported values, the maximum supported precision (total number of digits), and, if applicable, the scale (number of digits after the decimal point), as well as how it behaves when receiving out-of-bounds values. Services **may** choose to accept values passed as input even when the value has a higher precision or scale than the service supports, and **should** round the value to fit the supported scale. Alternatively, the service **may** error with `400 Bad Request` (`INVALID_ARGUMENT` in gRPC) if precision would be lost. Services **should** error with `400 Bad Request` (`INVALID_ARGUMENT` in gRPC) if the service receives a value outside of the supported range.",
          "type": "string"
        }
      },
      "description": "A representation of a decimal value, such as 2.5. Clients may convert values into language-native decimal formats, such as Java's [BigDecimal](https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/math/BigDecimal.html) or Python's [decimal.Decimal](https://docs.python.org/3/library/decimal.html).",
      "type": "object"
    },
    "CloseAccountRequest": {
      "id": "CloseAccountRequest",
      "description": "Request definition for the account close rpc.",
      "properties": {},
      "type": "object"
    },
    "Empty": {
      "id": "Empty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object"
    },
    "TimeZone": {
      "type": "object",
      "id": "TimeZone",
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones).",
      "properties": {
        "id": {
          "type": "string",
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\"."
        },
        "version": {
          "type": "string",
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\"."
        }
      }
    },
    "Site": {
      "type": "object",
      "properties": {
        "name": {
          "readOnly": true,
          "description": "Output only. Resource name of a site. Format: platforms/{platform}/accounts/{account}/sites/{site}",
          "type": "string"
        },
        "domain": {
          "type": "string",
          "description": "Domain/sub-domain of the site. Must be a valid domain complying with [RFC 1035](https://www.ietf.org/rfc/rfc1035.txt) and formatted as punycode [RFC 3492](https://www.ietf.org/rfc/rfc3492.txt) in case the domain contains unicode characters."
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "State unspecified.",
            "Either: - The site hasn't been checked yet. - The site is inactive and needs another review before it can show ads again. Learn how to [request a review for an inactive site](https://support.google.com/adsense/answer/9393996).",
            "Google is running some checks on the site. This usually takes a few days, but in some cases it can take two to four weeks.",
            "The site is ready to show ads. Learn how to [set up ads on the site](https://support.google.com/adsense/answer/7037624).",
            "Publisher needs to fix some issues before the site is ready to show ads. Learn what to do [if a new site isn't ready](https://support.google.com/adsense/answer/9061852)."
          ],
          "description": "Output only. State of a site.",
          "enum": [
            "STATE_UNSPECIFIED",
            "REQUIRES_REVIEW",
            "GETTING_READY",
            "READY",
            "NEEDS_ATTENTION"
          ]
        }
      },
      "id": "Site",
      "description": "Representation of a Site."
    },
    "ListPlatformChildSitesResponse": {
      "type": "object",
      "description": "Response definition for the list platform child sites rpc.",
      "id": "ListPlatformChildSitesResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token used to page through platforms. To retrieve the next page of the results, set the next request's \"page_token\" value to this."
        },
        "platformChildSites": {
          "type": "array",
          "description": "The platform child sites returned in this list response.",
          "items": {
            "$ref": "PlatformChildSite"
          }
        }
      }
    },
    "RequestSiteReviewResponse": {
      "type": "object",
      "description": "Response definition for the site request review rpc.",
      "properties": {},
      "id": "RequestSiteReviewResponse"
    },
    "ListPlatformGroupsResponse": {
      "type": "object",
      "id": "ListPlatformGroupsResponse",
      "properties": {
        "platformGroups": {
          "items": {
            "$ref": "PlatformGroup"
          },
          "description": "The platform groups returned in this list response.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Continuation token used to page through platforms. To retrieve the next page of the results, set the next request's \"page_token\" value to this.",
          "type": "string"
        }
      },
      "description": "Response definition for the platform groups list rpc."
    },
    "LookupAccountResponse": {
      "id": "LookupAccountResponse",
      "description": "Response definition for the lookup account rpc.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the Account Format: platforms/{platform}/accounts/{account_id}"
        }
      }
    },
    "Event": {
      "description": "A platform sub-account event to record spam signals.",
      "properties": {
        "eventInfo": {
          "description": "Required. Information associated with the event.",
          "$ref": "EventInfo"
        },
        "eventType": {
          "description": "Required. Event type.",
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "LOG_IN_VIA_PLATFORM",
            "SIGN_UP_VIA_PLATFORM"
          ],
          "type": "string",
          "enumDescriptions": [
            "Do not use. You must set an event type explicitly.",
            "Log in via platform.",
            "Sign up via platform."
          ]
        },
        "eventTime": {
          "description": "Required. Event timestamp.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Event"
    },
    "Account": {
      "description": "Representation of an Account.",
      "type": "object",
      "id": "Account",
      "properties": {
        "timeZone": {
          "$ref": "TimeZone",
          "description": "Required. The IANA TZ timezone code of this account. For more information, see https://en.wikipedia.org/wiki/List_of_tz_database_time_zones. This field is used for reporting. It is recommended to set it to the same value for all child accounts."
        },
        "regionCode": {
          "type": "string",
          "description": "Required. Input only. CLDR region code of the country/region of the address. Set this to country code of the child account if known, otherwise to your own country code."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "UNCHECKED",
            "APPROVED",
            "DISAPPROVED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified.",
            "Unchecked.",
            "The account is ready to serve ads.",
            "The account has been blocked from serving ads."
          ],
          "type": "string",
          "description": "Output only. Approval state of the account."
        },
        "creationRequestId": {
          "type": "string",
          "description": "Required. An opaque token that uniquely identifies the account among all the platform's accounts. This string may contain at most 64 non-whitespace ASCII characters, but otherwise has no predefined structure. However, it is expected to be a platform-specific identifier for the user creating the account, so that only a single account can be created for any given user. This field must not contain any information that is recognizable as personally identifiable information. e.g. it should not be an email address or login name. Once an account has been created, a second attempt to create an account using the same creation_request_id will result in an ALREADY_EXISTS error."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Creation time of the account."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Resource name of the account. Format: platforms/pub-[0-9]+/accounts/pub-[0-9]+"
        },
        "displayName": {
          "type": "string",
          "description": "Display name of this account."
        }
      }
    },
    "PlatformGroup": {
      "type": "object",
      "id": "PlatformGroup",
      "description": "Representation of a Transparent Platform Group.",
      "properties": {
        "revshareMillipercent": {
          "$ref": "Decimal",
          "description": "Output only. The revenue share of the PlatformGroup, in millipercent (e.g. 15000 = 15%).",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. Format: accounts/{account}/platforms/{platform}/groups/{platform_group}"
        },
        "description": {
          "type": "string",
          "description": "Required. Description of the PlatformGroup."
        }
      }
    },
    "Address": {
      "properties": {
        "regionCode": {
          "description": "Country/Region code. The region is specified as a CLDR region code (e.g. \"US\", \"FR\").",
          "type": "string"
        },
        "contact": {
          "description": "Contact name of the company. Max length 128 bytes or 34 characters.",
          "type": "string"
        },
        "phone": {
          "description": "Phone number with international code (i.e. +441234567890).",
          "type": "string"
        },
        "zip": {
          "type": "string",
          "description": "Zip/post code. Max length 10 bytes or 10 characters."
        },
        "company": {
          "description": "Name of the company. Max length 255 bytes or 34 characters.",
          "type": "string"
        },
        "city": {
          "type": "string",
          "description": "City. Max length 60 bytes or 30 characters."
        },
        "address2": {
          "type": "string",
          "description": "Second line of address. Max length 64 bytes or 30 characters."
        },
        "fax": {
          "type": "string",
          "description": "Fax number with international code (i.e. +441234567890)."
        },
        "address1": {
          "description": "First line of address. Max length 64 bytes or 30 characters.",
          "type": "string"
        },
        "state": {
          "description": "State. Max length 60 bytes or 30 characters.",
          "type": "string"
        }
      },
      "id": "Address",
      "description": "Address data.",
      "type": "object"
    },
    "PlatformChildSite": {
      "description": "Representation of a Transparent Platform Child Site.",
      "properties": {
        "platformGroup": {
          "description": "Resource name of the Platform Group of the Platform Child Site.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Format: accounts/{account}/platforms/{platform}/childAccounts/{child_account}/sites/{platform_child_site}"
        },
        "domain": {
          "description": "Output only. Domain URL of the Platform Child Site. Part of the PlatformChildSite name.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "PlatformChildSite",
      "type": "object"
    },
    "ListPlatformsResponse": {
      "properties": {
        "platforms": {
          "description": "The platforms returned in this list response.",
          "type": "array",
          "items": {
            "$ref": "Platform"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token used to page through platforms. To retrieve the next page of the results, set the next request's \"page_token\" value to this."
        }
      },
      "type": "object",
      "id": "ListPlatformsResponse",
      "description": "Response definition for the platform list rpc."
    },
    "CloseAccountResponse": {
      "type": "object",
      "description": "Response definition for the account close rpc.",
      "properties": {},
      "id": "CloseAccountResponse"
    },
    "EventInfo": {
      "id": "EventInfo",
      "type": "object",
      "properties": {
        "email": {
          "description": "Required. The email address that is associated with the publisher when performing the event.",
          "type": "string"
        },
        "billingAddress": {
          "$ref": "Address",
          "description": "The billing address of the publisher associated with this event, if available."
        }
      },
      "description": "Private information for partner recorded events (PII)."
    },
    "ListAccountsResponse": {
      "id": "ListAccountsResponse",
      "properties": {
        "accounts": {
          "type": "array",
          "description": "The Accounts returned in the list response. Represented by a partial view of the Account resource, populating `name` and `creation_request_id`.",
          "items": {
            "$ref": "Account"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token used to page through accounts. To retrieve the next page of the results, set the next request's \"page_token\" value to this."
        }
      },
      "type": "object",
      "description": "Response definition for the list accounts rpc."
    },
    "ListSitesResponse": {
      "id": "ListSitesResponse",
      "type": "object",
      "description": "Response definition for the site list rpc.",
      "properties": {
        "sites": {
          "type": "array",
          "description": "The sites returned in this list response.",
          "items": {
            "$ref": "Site"
          }
        },
        "nextPageToken": {
          "description": "Continuation token used to page through sites. To retrieve the next page of the results, set the next request's \"page_token\" value to this.",
          "type": "string"
        }
      }
    },
    "Platform": {
      "type": "object",
      "id": "Platform",
      "properties": {
        "description": {
          "readOnly": true,
          "description": "Output only. Description of the platform.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. Resource name of a platform. Format: accounts/{account}/platforms/{platform}",
          "type": "string"
        },
        "defaultPlatformGroup": {
          "description": "Default platform group for the platform.",
          "type": "string"
        }
      },
      "description": "Representation of a Transparent Platform."
    }
  },
  "parameters": {
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "type": "string",
      "location": "query",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format."
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    }
  },
  "baseUrl": "https://adsenseplatform.googleapis.com/"
}