{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "canonicalName": "Advisorynotifications",
  "revision": "20260802",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "discoveryVersion": "v1",
  "description": "An API for accessing Advisory Notifications in Google Cloud",
  "mtlsRootUrl": "https://advisorynotifications.mtls.googleapis.com/",
  "servicePath": "",
  "version": "v1",
  "title": "Advisory Notifications API",
  "id": "advisorynotifications:v1",
  "batchPath": "batch",
  "documentationLink": "https://cloud.google.com/advisory-notifications",
  "baseUrl": "https://advisorynotifications.googleapis.com/",
  "resources": {
    "organizations": {
      "resources": {
        "locations": {
          "methods": {
            "getSettings": {
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. The resource name of the settings to retrieve. Format: organizations/{organization}/locations/{location}/settings or projects/{projects}/locations/{location}/settings.",
                  "location": "path",
                  "required": true,
                  "pattern": "^organizations/[^/]+/locations/[^/]+/settings$",
                  "type": "string"
                }
              },
              "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/settings",
              "httpMethod": "GET",
              "id": "advisorynotifications.organizations.locations.getSettings",
              "response": {
                "$ref": "GoogleCloudAdvisorynotificationsV1Settings"
              },
              "path": "v1/{+name}",
              "description": "Get notification settings.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "updateSettings": {
              "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/settings",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Identifier. The resource name of the settings to retrieve. Format: organizations/{organization}/locations/{location}/settings or projects/{projects}/locations/{location}/settings.",
                  "location": "path",
                  "type": "string",
                  "pattern": "^organizations/[^/]+/locations/[^/]+/settings$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "description": "Update notification settings.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "PATCH",
              "id": "advisorynotifications.organizations.locations.updateSettings",
              "response": {
                "$ref": "GoogleCloudAdvisorynotificationsV1Settings"
              },
              "request": {
                "$ref": "GoogleCloudAdvisorynotificationsV1Settings"
              }
            }
          },
          "resources": {
            "notifications": {
              "methods": {
                "list": {
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/notifications",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "languageCode": {
                      "type": "string",
                      "description": "ISO code for requested localization language. If unset, will be interpereted as \"en\". If the requested language is valid, but not supported for this notification, English will be returned with an \"Not applicable\" LocalizationState. If the ISO code is invalid (i.e. not a real language), this RPC will throw an error.",
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "The maximum number of notifications to return. The service may return fewer than this value. If unspecified or equal to 0, at most 50 notifications will be returned. The maximum value is 50; values above 50 will be coerced to 50.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "view": {
                      "enum": [
                        "NOTIFICATION_VIEW_UNSPECIFIED",
                        "BASIC",
                        "FULL"
                      ],
                      "enumDescriptions": [
                        "Not specified, equivalent to BASIC.",
                        "Server responses only include title, creation time and Notification ID. Note: for internal use responses also include the last update time, the latest message text and whether notification has attachments.",
                        "Include everything."
                      ],
                      "description": "Specifies which parts of the notification resource should be returned in the response.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "A page token returned from a previous request. When paginating, all other parameters provided in the request must match the call that returned the page token.",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Required. The parent, which owns this collection of notifications. Must be of the form \"organizations/{organization}/locations/{location}\" or \"projects/{project}/locations/{location}\".",
                      "location": "path",
                      "required": true
                    }
                  },
                  "path": "v1/{+parent}/notifications",
                  "description": "Lists notifications under a given parent.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "id": "advisorynotifications.organizations.locations.notifications.list",
                  "response": {
                    "$ref": "GoogleCloudAdvisorynotificationsV1ListNotificationsResponse"
                  }
                },
                "get": {
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/notifications/{notificationsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+/notifications/[^/]+$",
                      "type": "string",
                      "description": "Required. A name of the notification to retrieve. Format: organizations/{organization}/locations/{location}/notifications/{notification} or projects/{projects}/locations/{location}/notifications/{notification}.",
                      "location": "path",
                      "required": true
                    },
                    "languageCode": {
                      "type": "string",
                      "description": "ISO code for requested localization language. If unset, will be interpereted as \"en\". If the requested language is valid, but not supported for this notification, English will be returned with an \"Not applicable\" LocalizationState. If the ISO code is invalid (i.e. not a real language), this RPC will throw an error.",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "description": "Gets a notification.",
                  "id": "advisorynotifications.organizations.locations.notifications.get",
                  "response": {
                    "$ref": "GoogleCloudAdvisorynotificationsV1Notification"
                  },
                  "httpMethod": "GET"
                }
              }
            }
          }
        }
      }
    },
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "getSettings": {
              "id": "advisorynotifications.projects.locations.getSettings",
              "response": {
                "$ref": "GoogleCloudAdvisorynotificationsV1Settings"
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}",
              "description": "Get notification settings.",
              "parameters": {
                "name": {
                  "description": "Required. The resource name of the settings to retrieve. Format: organizations/{organization}/locations/{location}/settings or projects/{projects}/locations/{location}/settings.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+/settings$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/settings"
            },
            "updateSettings": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}",
              "description": "Update notification settings.",
              "request": {
                "$ref": "GoogleCloudAdvisorynotificationsV1Settings"
              },
              "id": "advisorynotifications.projects.locations.updateSettings",
              "response": {
                "$ref": "GoogleCloudAdvisorynotificationsV1Settings"
              },
              "httpMethod": "PATCH",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/settings",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+/settings$",
                  "required": true,
                  "description": "Identifier. The resource name of the settings to retrieve. Format: organizations/{organization}/locations/{location}/settings or projects/{projects}/locations/{location}/settings.",
                  "location": "path"
                }
              }
            }
          },
          "resources": {
            "notifications": {
              "methods": {
                "list": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/notifications",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent, which owns this collection of notifications. Must be of the form \"organizations/{organization}/locations/{location}\" or \"projects/{project}/locations/{location}\".",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "A page token returned from a previous request. When paginating, all other parameters provided in the request must match the call that returned the page token.",
                      "location": "query"
                    },
                    "view": {
                      "enum": [
                        "NOTIFICATION_VIEW_UNSPECIFIED",
                        "BASIC",
                        "FULL"
                      ],
                      "enumDescriptions": [
                        "Not specified, equivalent to BASIC.",
                        "Server responses only include title, creation time and Notification ID. Note: for internal use responses also include the last update time, the latest message text and whether notification has attachments.",
                        "Include everything."
                      ],
                      "description": "Specifies which parts of the notification resource should be returned in the response.",
                      "location": "query",
                      "type": "string"
                    },
                    "languageCode": {
                      "description": "ISO code for requested localization language. If unset, will be interpereted as \"en\". If the requested language is valid, but not supported for this notification, English will be returned with an \"Not applicable\" LocalizationState. If the ISO code is invalid (i.e. not a real language), this RPC will throw an error.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "The maximum number of notifications to return. The service may return fewer than this value. If unspecified or equal to 0, at most 50 notifications will be returned. The maximum value is 50; values above 50 will be coerced to 50.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/notifications",
                  "description": "Lists notifications under a given parent.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "id": "advisorynotifications.projects.locations.notifications.list",
                  "response": {
                    "$ref": "GoogleCloudAdvisorynotificationsV1ListNotificationsResponse"
                  }
                },
                "get": {
                  "id": "advisorynotifications.projects.locations.notifications.get",
                  "response": {
                    "$ref": "GoogleCloudAdvisorynotificationsV1Notification"
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "description": "Gets a notification.",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/notifications/[^/]+$",
                      "type": "string",
                      "description": "Required. A name of the notification to retrieve. Format: organizations/{organization}/locations/{location}/notifications/{notification} or projects/{projects}/locations/{location}/notifications/{notification}.",
                      "location": "path",
                      "required": true
                    },
                    "languageCode": {
                      "type": "string",
                      "description": "ISO code for requested localization language. If unset, will be interpereted as \"en\". If the requested language is valid, but not supported for this notification, English will be returned with an \"Not applicable\" LocalizationState. If the ISO code is invalid (i.e. not a real language), this RPC will throw an error.",
                      "location": "query"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/notifications/{notificationsId}"
                }
              }
            }
          }
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "protocol": "rest",
  "ownerName": "Google",
  "ownerDomain": "google.com",
  "name": "advisorynotifications",
  "parameters": {
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    }
  },
  "kind": "discovery#restDescription",
  "rootUrl": "https://advisorynotifications.googleapis.com/",
  "version_module": true,
  "basePath": "",
  "schemas": {
    "GoogleCloudAdvisorynotificationsV1CsvCsvRow": {
      "properties": {
        "entries": {
          "type": "array",
          "description": "The data entries in a CSV file row, as a string array rather than a single comma-separated string.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "A representation of a single data row in a CSV file.",
      "id": "GoogleCloudAdvisorynotificationsV1CsvCsvRow",
      "type": "object"
    },
    "GoogleCloudAdvisorynotificationsV1Subject": {
      "type": "object",
      "id": "GoogleCloudAdvisorynotificationsV1Subject",
      "description": "A subject line of a notification.",
      "properties": {
        "text": {
          "description": "The text content.",
          "$ref": "GoogleCloudAdvisorynotificationsV1Text"
        }
      }
    },
    "GoogleCloudAdvisorynotificationsV1MessageBody": {
      "id": "GoogleCloudAdvisorynotificationsV1MessageBody",
      "type": "object",
      "properties": {
        "text": {
          "description": "The text content of the message body.",
          "$ref": "GoogleCloudAdvisorynotificationsV1Text"
        }
      },
      "description": "A message body containing text."
    },
    "GoogleCloudAdvisorynotificationsV1ListNotificationsResponse": {
      "properties": {
        "notifications": {
          "items": {
            "$ref": "GoogleCloudAdvisorynotificationsV1Notification"
          },
          "description": "List of notifications under a given parent.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "totalSize": {
          "type": "integer",
          "format": "int32",
          "description": "Estimation of a total number of notifications."
        }
      },
      "description": "Response of ListNotifications endpoint.",
      "id": "GoogleCloudAdvisorynotificationsV1ListNotificationsResponse",
      "type": "object"
    },
    "GoogleCloudAdvisorynotificationsV1Text": {
      "description": "A text object containing the English text and its localized copies.",
      "properties": {
        "localizationState": {
          "enum": [
            "LOCALIZATION_STATE_UNSPECIFIED",
            "LOCALIZATION_STATE_NOT_APPLICABLE",
            "LOCALIZATION_STATE_PENDING",
            "LOCALIZATION_STATE_COMPLETED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Not used.",
            "Localization is not applicable for requested language. This can happen when: - The requested language was not supported by Advisory Notifications at the time of localization (including notifications created before the localization feature was launched). - The requested language is English, so only the English text is returned.",
            "Localization for requested language is in progress, and not ready yet.",
            "Localization for requested language is completed."
          ],
          "description": "Status of the localization."
        },
        "localizedText": {
          "description": "The requested localized copy (if applicable).",
          "type": "string"
        },
        "enText": {
          "description": "The English copy.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudAdvisorynotificationsV1Text"
    },
    "GoogleCloudAdvisorynotificationsV1Message": {
      "type": "object",
      "id": "GoogleCloudAdvisorynotificationsV1Message",
      "description": "A message which contains notification details.",
      "properties": {
        "localizationTime": {
          "description": "Time when Message was localized",
          "type": "string",
          "format": "google-datetime"
        },
        "attachments": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAdvisorynotificationsV1Attachment"
          },
          "description": "The attachments to download."
        },
        "createTime": {
          "description": "The Message creation timestamp.",
          "type": "string",
          "format": "google-datetime"
        },
        "body": {
          "description": "The message content.",
          "$ref": "GoogleCloudAdvisorynotificationsV1MessageBody"
        }
      }
    },
    "GoogleCloudAdvisorynotificationsV1Notification": {
      "properties": {
        "messages": {
          "type": "array",
          "description": "A list of messages in the notification.",
          "items": {
            "$ref": "GoogleCloudAdvisorynotificationsV1Message"
          }
        },
        "createTime": {
          "description": "Output only. Time the notification was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "notificationType": {
          "type": "string",
          "enum": [
            "NOTIFICATION_TYPE_UNSPECIFIED",
            "NOTIFICATION_TYPE_SECURITY_PRIVACY_ADVISORY",
            "NOTIFICATION_TYPE_SENSITIVE_ACTIONS",
            "NOTIFICATION_TYPE_SECURITY_MSA",
            "NOTIFICATION_TYPE_THREAT_HORIZONS"
          ],
          "description": "Type of notification",
          "enumDescriptions": [
            "Default type",
            "Security and privacy advisory notifications",
            "Sensitive action notifications",
            "General security MSA",
            "Threat horizons MSA"
          ]
        },
        "name": {
          "description": "The resource name of the notification. Format: organizations/{organization}/locations/{location}/notifications/{notification} or projects/{project}/locations/{location}/notifications/{notification}.",
          "type": "string"
        },
        "subject": {
          "description": "The subject line of the notification.",
          "$ref": "GoogleCloudAdvisorynotificationsV1Subject"
        }
      },
      "description": "A notification object for notifying customers about security and privacy issues.",
      "id": "GoogleCloudAdvisorynotificationsV1Notification",
      "type": "object"
    },
    "GoogleCloudAdvisorynotificationsV1Csv": {
      "properties": {
        "headers": {
          "type": "array",
          "description": "The list of headers for data columns in a CSV file.",
          "items": {
            "type": "string"
          }
        },
        "dataRows": {
          "type": "array",
          "description": "The list of data rows in a CSV file, as string arrays rather than as a single comma-separated string.",
          "items": {
            "$ref": "GoogleCloudAdvisorynotificationsV1CsvCsvRow"
          }
        }
      },
      "description": "A representation of a CSV file attachment, as a list of column headers and a list of data rows.",
      "id": "GoogleCloudAdvisorynotificationsV1Csv",
      "type": "object"
    },
    "GoogleCloudAdvisorynotificationsV1Attachment": {
      "type": "object",
      "id": "GoogleCloudAdvisorynotificationsV1Attachment",
      "description": "Attachment with specific information about the issue.",
      "properties": {
        "displayName": {
          "description": "The title of the attachment.",
          "type": "string"
        },
        "csv": {
          "description": "A CSV file attachment. Max size is 10 MB.",
          "$ref": "GoogleCloudAdvisorynotificationsV1Csv"
        }
      }
    },
    "GoogleCloudAdvisorynotificationsV1Settings": {
      "description": "Settings for Advisory Notifications.",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the settings to retrieve. Format: organizations/{organization}/locations/{location}/settings or projects/{projects}/locations/{location}/settings.",
          "type": "string"
        },
        "etag": {
          "description": "Required. Fingerprint for optimistic concurrency returned in Get requests. Must be provided for Update requests. If the value provided does not match the value known to the server, ABORTED will be thrown, and the client should retry the read-modify-write cycle.",
          "type": "string"
        },
        "notificationSettings": {
          "additionalProperties": {
            "$ref": "GoogleCloudAdvisorynotificationsV1NotificationSettings"
          },
          "description": "Required. Map of each notification type and its settings to get/set all settings at once. The server will validate the value for each notification type.",
          "type": "object"
        }
      },
      "type": "object",
      "id": "GoogleCloudAdvisorynotificationsV1Settings"
    },
    "GoogleCloudAdvisorynotificationsV1NotificationSettings": {
      "type": "object",
      "id": "GoogleCloudAdvisorynotificationsV1NotificationSettings",
      "description": "Settings for each NotificationType.",
      "properties": {
        "enabled": {
          "description": "Whether the associated NotificationType is enabled.",
          "type": "boolean"
        }
      }
    }
  }
}