{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "documentationLink": "https://cloud.google.com/advisory-notifications",
  "protocol": "rest",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "parameters": {
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "default": "json"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    }
  },
  "discoveryVersion": "v1",
  "name": "advisorynotifications",
  "description": "An API for accessing Advisory Notifications in Google Cloud",
  "mtlsRootUrl": "https://advisorynotifications.mtls.googleapis.com/",
  "canonicalName": "Advisorynotifications",
  "batchPath": "batch",
  "basePath": "",
  "id": "advisorynotifications:v1",
  "ownerName": "Google",
  "baseUrl": "https://advisorynotifications.googleapis.com/",
  "version": "v1",
  "version_module": true,
  "revision": "20260816",
  "kind": "discovery#restDescription",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "getSettings": {
              "response": {
                "$ref": "GoogleCloudAdvisorynotificationsV1Settings"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "description": "Get notification settings.",
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "id": "advisorynotifications.projects.locations.getSettings",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The resource name of the settings to retrieve. Format: organizations/{organization}/locations/{location}/settings or projects/{projects}/locations/{location}/settings.",
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+/settings$",
                  "location": "path"
                }
              },
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/settings"
            },
            "updateSettings": {
              "response": {
                "$ref": "GoogleCloudAdvisorynotificationsV1Settings"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "PATCH",
              "request": {
                "$ref": "GoogleCloudAdvisorynotificationsV1Settings"
              },
              "description": "Update notification settings.",
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "id": "advisorynotifications.projects.locations.updateSettings",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/settings",
              "parameters": {
                "name": {
                  "description": "Identifier. The resource name of the settings to retrieve. Format: organizations/{organization}/locations/{location}/settings or projects/{projects}/locations/{location}/settings.",
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+/settings$",
                  "location": "path",
                  "required": true
                }
              }
            }
          },
          "resources": {
            "notifications": {
              "methods": {
                "list": {
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "A page token returned from a previous request. When paginating, all other parameters provided in the request must match the call that returned the page token.",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. The parent, which owns this collection of notifications. Must be of the form \"organizations/{organization}/locations/{location}\" or \"projects/{project}/locations/{location}\".",
                      "type": "string",
                      "required": true
                    },
                    "languageCode": {
                      "location": "query",
                      "description": "ISO code for requested localization language. If unset, will be interpereted as \"en\". If the requested language is valid, but not supported for this notification, English will be returned with an \"Not applicable\" LocalizationState. If the ISO code is invalid (i.e. not a real language), this RPC will throw an error.",
                      "type": "string"
                    },
                    "view": {
                      "enum": [
                        "NOTIFICATION_VIEW_UNSPECIFIED",
                        "BASIC",
                        "FULL"
                      ],
                      "description": "Specifies which parts of the notification resource should be returned in the response.",
                      "type": "string",
                      "enumDescriptions": [
                        "Not specified, equivalent to BASIC.",
                        "Server responses only include title, creation time and Notification ID. Note: for internal use responses also include the last update time, the latest message text and whether notification has attachments.",
                        "Include everything."
                      ],
                      "location": "query"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "The maximum number of notifications to return. The service may return fewer than this value. If unspecified or equal to 0, at most 50 notifications will be returned. The maximum value is 50; values above 50 will be coerced to 50.",
                      "type": "integer"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/notifications",
                  "id": "advisorynotifications.projects.locations.notifications.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/notifications",
                  "description": "Lists notifications under a given parent.",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudAdvisorynotificationsV1ListNotificationsResponse"
                  }
                },
                "get": {
                  "response": {
                    "$ref": "GoogleCloudAdvisorynotificationsV1Notification"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "description": "Gets a notification.",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "advisorynotifications.projects.locations.notifications.get",
                  "parameters": {
                    "languageCode": {
                      "location": "query",
                      "description": "ISO code for requested localization language. If unset, will be interpereted as \"en\". If the requested language is valid, but not supported for this notification, English will be returned with an \"Not applicable\" LocalizationState. If the ISO code is invalid (i.e. not a real language), this RPC will throw an error.",
                      "type": "string"
                    },
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/notifications/[^/]+$",
                      "location": "path",
                      "description": "Required. A name of the notification to retrieve. Format: organizations/{organization}/locations/{location}/notifications/{notification} or projects/{projects}/locations/{location}/notifications/{notification}.",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/notifications/{notificationsId}"
                }
              }
            }
          }
        }
      }
    },
    "organizations": {
      "resources": {
        "locations": {
          "methods": {
            "getSettings": {
              "response": {
                "$ref": "GoogleCloudAdvisorynotificationsV1Settings"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "description": "Get notification settings.",
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "id": "advisorynotifications.organizations.locations.getSettings",
              "parameters": {
                "name": {
                  "description": "Required. The resource name of the settings to retrieve. Format: organizations/{organization}/locations/{location}/settings or projects/{projects}/locations/{location}/settings.",
                  "type": "string",
                  "pattern": "^organizations/[^/]+/locations/[^/]+/settings$",
                  "location": "path",
                  "required": true
                }
              },
              "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/settings"
            },
            "updateSettings": {
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "id": "advisorynotifications.organizations.locations.updateSettings",
              "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/settings",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^organizations/[^/]+/locations/[^/]+/settings$",
                  "location": "path",
                  "description": "Identifier. The resource name of the settings to retrieve. Format: organizations/{organization}/locations/{location}/settings or projects/{projects}/locations/{location}/settings.",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleCloudAdvisorynotificationsV1Settings"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "PATCH",
              "request": {
                "$ref": "GoogleCloudAdvisorynotificationsV1Settings"
              },
              "description": "Update notification settings."
            }
          },
          "resources": {
            "notifications": {
              "methods": {
                "list": {
                  "response": {
                    "$ref": "GoogleCloudAdvisorynotificationsV1ListNotificationsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "description": "Lists notifications under a given parent.",
                  "path": "v1/{+parent}/notifications",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "advisorynotifications.organizations.locations.notifications.list",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "A page token returned from a previous request. When paginating, all other parameters provided in the request must match the call that returned the page token.",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. The parent, which owns this collection of notifications. Must be of the form \"organizations/{organization}/locations/{location}\" or \"projects/{project}/locations/{location}\".",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true
                    },
                    "languageCode": {
                      "location": "query",
                      "description": "ISO code for requested localization language. If unset, will be interpereted as \"en\". If the requested language is valid, but not supported for this notification, English will be returned with an \"Not applicable\" LocalizationState. If the ISO code is invalid (i.e. not a real language), this RPC will throw an error.",
                      "type": "string"
                    },
                    "view": {
                      "enum": [
                        "NOTIFICATION_VIEW_UNSPECIFIED",
                        "BASIC",
                        "FULL"
                      ],
                      "description": "Specifies which parts of the notification resource should be returned in the response.",
                      "type": "string",
                      "enumDescriptions": [
                        "Not specified, equivalent to BASIC.",
                        "Server responses only include title, creation time and Notification ID. Note: for internal use responses also include the last update time, the latest message text and whether notification has attachments.",
                        "Include everything."
                      ],
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "The maximum number of notifications to return. The service may return fewer than this value. If unspecified or equal to 0, at most 50 notifications will be returned. The maximum value is 50; values above 50 will be coerced to 50.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    }
                  },
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/notifications"
                },
                "get": {
                  "httpMethod": "GET",
                  "description": "Gets a notification.",
                  "response": {
                    "$ref": "GoogleCloudAdvisorynotificationsV1Notification"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "advisorynotifications.organizations.locations.notifications.get",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/notifications/{notificationsId}",
                  "parameters": {
                    "name": {
                      "description": "Required. A name of the notification to retrieve. Format: organizations/{organization}/locations/{location}/notifications/{notification} or projects/{projects}/locations/{location}/notifications/{notification}.",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/notifications/[^/]+$",
                      "location": "path",
                      "required": true
                    },
                    "languageCode": {
                      "description": "ISO code for requested localization language. If unset, will be interpereted as \"en\". If the requested language is valid, but not supported for this notification, English will be returned with an \"Not applicable\" LocalizationState. If the ISO code is invalid (i.e. not a real language), this RPC will throw an error.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "servicePath": "",
  "fullyEncodeReservedExpansion": true,
  "ownerDomain": "google.com",
  "schemas": {
    "GoogleCloudAdvisorynotificationsV1Text": {
      "description": "A text object containing the English text and its localized copies.",
      "type": "object",
      "id": "GoogleCloudAdvisorynotificationsV1Text",
      "properties": {
        "enText": {
          "description": "The English copy.",
          "type": "string"
        },
        "localizationState": {
          "description": "Status of the localization.",
          "type": "string",
          "enumDescriptions": [
            "Not used.",
            "Localization is not applicable for requested language. This can happen when: - The requested language was not supported by Advisory Notifications at the time of localization (including notifications created before the localization feature was launched). - The requested language is English, so only the English text is returned.",
            "Localization for requested language is in progress, and not ready yet.",
            "Localization for requested language is completed."
          ],
          "enum": [
            "LOCALIZATION_STATE_UNSPECIFIED",
            "LOCALIZATION_STATE_NOT_APPLICABLE",
            "LOCALIZATION_STATE_PENDING",
            "LOCALIZATION_STATE_COMPLETED"
          ]
        },
        "localizedText": {
          "description": "The requested localized copy (if applicable).",
          "type": "string"
        }
      }
    },
    "GoogleCloudAdvisorynotificationsV1Subject": {
      "id": "GoogleCloudAdvisorynotificationsV1Subject",
      "properties": {
        "text": {
          "$ref": "GoogleCloudAdvisorynotificationsV1Text",
          "description": "The text content."
        }
      },
      "description": "A subject line of a notification.",
      "type": "object"
    },
    "GoogleCloudAdvisorynotificationsV1Csv": {
      "id": "GoogleCloudAdvisorynotificationsV1Csv",
      "properties": {
        "dataRows": {
          "description": "The list of data rows in a CSV file, as string arrays rather than as a single comma-separated string.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAdvisorynotificationsV1CsvCsvRow"
          }
        },
        "headers": {
          "items": {
            "type": "string"
          },
          "description": "The list of headers for data columns in a CSV file.",
          "type": "array"
        }
      },
      "description": "A representation of a CSV file attachment, as a list of column headers and a list of data rows.",
      "type": "object"
    },
    "GoogleCloudAdvisorynotificationsV1Notification": {
      "description": "A notification object for notifying customers about security and privacy issues.",
      "type": "object",
      "id": "GoogleCloudAdvisorynotificationsV1Notification",
      "properties": {
        "notificationType": {
          "enum": [
            "NOTIFICATION_TYPE_UNSPECIFIED",
            "NOTIFICATION_TYPE_SECURITY_PRIVACY_ADVISORY",
            "NOTIFICATION_TYPE_SENSITIVE_ACTIONS",
            "NOTIFICATION_TYPE_SECURITY_MSA",
            "NOTIFICATION_TYPE_THREAT_HORIZONS"
          ],
          "description": "Type of notification",
          "type": "string",
          "enumDescriptions": [
            "Default type",
            "Security and privacy advisory notifications",
            "Sensitive action notifications",
            "General security MSA",
            "Threat horizons MSA"
          ]
        },
        "subject": {
          "$ref": "GoogleCloudAdvisorynotificationsV1Subject",
          "description": "The subject line of the notification."
        },
        "createTime": {
          "description": "Output only. Time the notification was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "name": {
          "description": "The resource name of the notification. Format: organizations/{organization}/locations/{location}/notifications/{notification} or projects/{project}/locations/{location}/notifications/{notification}.",
          "type": "string"
        },
        "messages": {
          "items": {
            "$ref": "GoogleCloudAdvisorynotificationsV1Message"
          },
          "description": "A list of messages in the notification.",
          "type": "array"
        }
      }
    },
    "GoogleCloudAdvisorynotificationsV1MessageBody": {
      "id": "GoogleCloudAdvisorynotificationsV1MessageBody",
      "properties": {
        "text": {
          "description": "The text content of the message body.",
          "$ref": "GoogleCloudAdvisorynotificationsV1Text"
        }
      },
      "description": "A message body containing text.",
      "type": "object"
    },
    "GoogleCloudAdvisorynotificationsV1Settings": {
      "description": "Settings for Advisory Notifications.",
      "type": "object",
      "id": "GoogleCloudAdvisorynotificationsV1Settings",
      "properties": {
        "etag": {
          "description": "Required. Fingerprint for optimistic concurrency returned in Get requests. Must be provided for Update requests. If the value provided does not match the value known to the server, ABORTED will be thrown, and the client should retry the read-modify-write cycle.",
          "type": "string"
        },
        "notificationSettings": {
          "additionalProperties": {
            "$ref": "GoogleCloudAdvisorynotificationsV1NotificationSettings"
          },
          "description": "Required. Map of each notification type and its settings to get/set all settings at once. The server will validate the value for each notification type.",
          "type": "object"
        },
        "name": {
          "description": "Identifier. The resource name of the settings to retrieve. Format: organizations/{organization}/locations/{location}/settings or projects/{projects}/locations/{location}/settings.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAdvisorynotificationsV1Message": {
      "description": "A message which contains notification details.",
      "type": "object",
      "id": "GoogleCloudAdvisorynotificationsV1Message",
      "properties": {
        "createTime": {
          "description": "The Message creation timestamp.",
          "type": "string",
          "format": "google-datetime"
        },
        "attachments": {
          "description": "The attachments to download.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAdvisorynotificationsV1Attachment"
          }
        },
        "body": {
          "description": "The message content.",
          "$ref": "GoogleCloudAdvisorynotificationsV1MessageBody"
        },
        "localizationTime": {
          "description": "Time when Message was localized",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudAdvisorynotificationsV1CsvCsvRow": {
      "description": "A representation of a single data row in a CSV file.",
      "type": "object",
      "id": "GoogleCloudAdvisorynotificationsV1CsvCsvRow",
      "properties": {
        "entries": {
          "items": {
            "type": "string"
          },
          "description": "The data entries in a CSV file row, as a string array rather than a single comma-separated string.",
          "type": "array"
        }
      }
    },
    "GoogleCloudAdvisorynotificationsV1NotificationSettings": {
      "id": "GoogleCloudAdvisorynotificationsV1NotificationSettings",
      "properties": {
        "enabled": {
          "description": "Whether the associated NotificationType is enabled.",
          "type": "boolean"
        }
      },
      "description": "Settings for each NotificationType.",
      "type": "object"
    },
    "GoogleCloudAdvisorynotificationsV1Attachment": {
      "id": "GoogleCloudAdvisorynotificationsV1Attachment",
      "properties": {
        "csv": {
          "description": "A CSV file attachment. Max size is 10 MB.",
          "$ref": "GoogleCloudAdvisorynotificationsV1Csv"
        },
        "displayName": {
          "description": "The title of the attachment.",
          "type": "string"
        }
      },
      "description": "Attachment with specific information about the issue.",
      "type": "object"
    },
    "GoogleCloudAdvisorynotificationsV1ListNotificationsResponse": {
      "id": "GoogleCloudAdvisorynotificationsV1ListNotificationsResponse",
      "properties": {
        "notifications": {
          "description": "List of notifications under a given parent.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAdvisorynotificationsV1Notification"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "totalSize": {
          "description": "Estimation of a total number of notifications.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Response of ListNotifications endpoint.",
      "type": "object"
    }
  },
  "title": "Advisory Notifications API",
  "rootUrl": "https://advisorynotifications.googleapis.com/"
}