{
  "fullyEncodeReservedExpansion": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "mtlsRootUrl": "https://advisorynotifications.mtls.googleapis.com/",
  "ownerName": "Google",
  "kind": "discovery#restDescription",
  "title": "Advisory Notifications API",
  "name": "advisorynotifications",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "baseUrl": "https://advisorynotifications.googleapis.com/",
  "basePath": "",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "getSettings": {
              "parameterOrder": [
                "name"
              ],
              "description": "Get notification settings.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}",
              "response": {
                "$ref": "GoogleCloudAdvisorynotificationsV1Settings"
              },
              "id": "advisorynotifications.projects.locations.getSettings",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/settings",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. The resource name of the settings to retrieve. Format: organizations/{organization}/locations/{location}/settings or projects/{projects}/locations/{location}/settings.",
                  "pattern": "^projects/[^/]+/locations/[^/]+/settings$",
                  "required": true
                }
              },
              "httpMethod": "GET"
            },
            "updateSettings": {
              "httpMethod": "PATCH",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/locations/[^/]+/settings$",
                  "required": true,
                  "description": "Identifier. The resource name of the settings to retrieve. Format: organizations/{organization}/locations/{location}/settings or projects/{projects}/locations/{location}/settings.",
                  "location": "path",
                  "type": "string"
                }
              },
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/settings",
              "id": "advisorynotifications.projects.locations.updateSettings",
              "request": {
                "$ref": "GoogleCloudAdvisorynotificationsV1Settings"
              },
              "response": {
                "$ref": "GoogleCloudAdvisorynotificationsV1Settings"
              },
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Update notification settings.",
              "parameterOrder": [
                "name"
              ]
            }
          },
          "resources": {
            "notifications": {
              "methods": {
                "list": {
                  "id": "advisorynotifications.projects.locations.notifications.list",
                  "response": {
                    "$ref": "GoogleCloudAdvisorynotificationsV1ListNotificationsResponse"
                  },
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. The parent, which owns this collection of notifications. Must be of the form \"organizations/{organization}/locations/{location}\" or \"projects/{project}/locations/{location}\"."
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "description": "The maximum number of notifications to return. The service may return fewer than this value. If unspecified or equal to 0, at most 50 notifications will be returned. The maximum value is 50; values above 50 will be coerced to 50.",
                      "type": "integer"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "A page token returned from a previous request. When paginating, all other parameters provided in the request must match the call that returned the page token.",
                      "type": "string"
                    },
                    "languageCode": {
                      "location": "query",
                      "description": "ISO code for requested localization language. If unset, will be interpereted as \"en\". If the requested language is valid, but not supported for this notification, English will be returned with an \"Not applicable\" LocalizationState. If the ISO code is invalid (i.e. not a real language), this RPC will throw an error.",
                      "type": "string"
                    },
                    "view": {
                      "description": "Specifies which parts of the notification resource should be returned in the response.",
                      "type": "string",
                      "enumDescriptions": [
                        "Not specified, equivalent to BASIC.",
                        "Server responses only include title, creation time and Notification ID. Note: for internal use responses also include the last update time, the latest message text and whether notification has attachments.",
                        "Include everything."
                      ],
                      "enum": [
                        "NOTIFICATION_VIEW_UNSPECIFIED",
                        "BASIC",
                        "FULL"
                      ],
                      "location": "query"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/notifications",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists notifications under a given parent.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/notifications"
                },
                "get": {
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets a notification.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/notifications/{notificationsId}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/notifications/[^/]+$",
                      "required": true,
                      "description": "Required. A name of the notification to retrieve. Format: organizations/{organization}/locations/{location}/notifications/{notification} or projects/{projects}/locations/{location}/notifications/{notification}."
                    },
                    "languageCode": {
                      "location": "query",
                      "description": "ISO code for requested localization language. If unset, will be interpereted as \"en\". If the requested language is valid, but not supported for this notification, English will be returned with an \"Not applicable\" LocalizationState. If the ISO code is invalid (i.e. not a real language), this RPC will throw an error.",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudAdvisorynotificationsV1Notification"
                  },
                  "id": "advisorynotifications.projects.locations.notifications.get"
                }
              }
            }
          }
        }
      }
    },
    "organizations": {
      "resources": {
        "locations": {
          "methods": {
            "getSettings": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Get notification settings.",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "id": "advisorynotifications.organizations.locations.getSettings",
              "response": {
                "$ref": "GoogleCloudAdvisorynotificationsV1Settings"
              },
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. The resource name of the settings to retrieve. Format: organizations/{organization}/locations/{location}/settings or projects/{projects}/locations/{location}/settings.",
                  "pattern": "^organizations/[^/]+/locations/[^/]+/settings$",
                  "required": true
                }
              },
              "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/settings"
            },
            "updateSettings": {
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Update notification settings.",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH",
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/locations/[^/]+/settings$",
                  "required": true,
                  "description": "Identifier. The resource name of the settings to retrieve. Format: organizations/{organization}/locations/{location}/settings or projects/{projects}/locations/{location}/settings.",
                  "type": "string",
                  "location": "path"
                }
              },
              "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/settings",
              "id": "advisorynotifications.organizations.locations.updateSettings",
              "request": {
                "$ref": "GoogleCloudAdvisorynotificationsV1Settings"
              },
              "response": {
                "$ref": "GoogleCloudAdvisorynotificationsV1Settings"
              }
            }
          },
          "resources": {
            "notifications": {
              "methods": {
                "get": {
                  "path": "v1/{+name}",
                  "description": "Gets a notification.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. A name of the notification to retrieve. Format: organizations/{organization}/locations/{location}/notifications/{notification} or projects/{projects}/locations/{location}/notifications/{notification}.",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/notifications/[^/]+$",
                      "required": true
                    },
                    "languageCode": {
                      "location": "query",
                      "description": "ISO code for requested localization language. If unset, will be interpereted as \"en\". If the requested language is valid, but not supported for this notification, English will be returned with an \"Not applicable\" LocalizationState. If the ISO code is invalid (i.e. not a real language), this RPC will throw an error.",
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/notifications/{notificationsId}",
                  "id": "advisorynotifications.organizations.locations.notifications.get",
                  "response": {
                    "$ref": "GoogleCloudAdvisorynotificationsV1Notification"
                  }
                },
                "list": {
                  "response": {
                    "$ref": "GoogleCloudAdvisorynotificationsV1ListNotificationsResponse"
                  },
                  "id": "advisorynotifications.organizations.locations.notifications.list",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/notifications",
                  "parameters": {
                    "view": {
                      "description": "Specifies which parts of the notification resource should be returned in the response.",
                      "type": "string",
                      "enumDescriptions": [
                        "Not specified, equivalent to BASIC.",
                        "Server responses only include title, creation time and Notification ID. Note: for internal use responses also include the last update time, the latest message text and whether notification has attachments.",
                        "Include everything."
                      ],
                      "enum": [
                        "NOTIFICATION_VIEW_UNSPECIFIED",
                        "BASIC",
                        "FULL"
                      ],
                      "location": "query"
                    },
                    "languageCode": {
                      "description": "ISO code for requested localization language. If unset, will be interpereted as \"en\". If the requested language is valid, but not supported for this notification, English will be returned with an \"Not applicable\" LocalizationState. If the ISO code is invalid (i.e. not a real language), this RPC will throw an error.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "The maximum number of notifications to return. The service may return fewer than this value. If unspecified or equal to 0, at most 50 notifications will be returned. The maximum value is 50; values above 50 will be coerced to 50.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "A page token returned from a previous request. When paginating, all other parameters provided in the request must match the call that returned the page token.",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. The parent, which owns this collection of notifications. Must be of the form \"organizations/{organization}/locations/{location}\" or \"projects/{project}/locations/{location}\".",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists notifications under a given parent.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/notifications"
                }
              }
            }
          }
        }
      }
    }
  },
  "rootUrl": "https://advisorynotifications.googleapis.com/",
  "version_module": true,
  "description": "An API for accessing Advisory Notifications in Google Cloud",
  "revision": "20260809",
  "parameters": {
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "default": "json",
      "description": "Data format for response."
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    }
  },
  "canonicalName": "Advisorynotifications",
  "version": "v1",
  "ownerDomain": "google.com",
  "id": "advisorynotifications:v1",
  "schemas": {
    "GoogleCloudAdvisorynotificationsV1ListNotificationsResponse": {
      "properties": {
        "totalSize": {
          "description": "Estimation of a total number of notifications.",
          "type": "integer",
          "format": "int32"
        },
        "notifications": {
          "description": "List of notifications under a given parent.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAdvisorynotificationsV1Notification"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response of ListNotifications endpoint.",
      "type": "object",
      "id": "GoogleCloudAdvisorynotificationsV1ListNotificationsResponse"
    },
    "GoogleCloudAdvisorynotificationsV1Notification": {
      "properties": {
        "notificationType": {
          "description": "Type of notification",
          "type": "string",
          "enumDescriptions": [
            "Default type",
            "Security and privacy advisory notifications",
            "Sensitive action notifications",
            "General security MSA",
            "Threat horizons MSA"
          ],
          "enum": [
            "NOTIFICATION_TYPE_UNSPECIFIED",
            "NOTIFICATION_TYPE_SECURITY_PRIVACY_ADVISORY",
            "NOTIFICATION_TYPE_SENSITIVE_ACTIONS",
            "NOTIFICATION_TYPE_SECURITY_MSA",
            "NOTIFICATION_TYPE_THREAT_HORIZONS"
          ]
        },
        "name": {
          "description": "The resource name of the notification. Format: organizations/{organization}/locations/{location}/notifications/{notification} or projects/{project}/locations/{location}/notifications/{notification}.",
          "type": "string"
        },
        "messages": {
          "items": {
            "$ref": "GoogleCloudAdvisorynotificationsV1Message"
          },
          "description": "A list of messages in the notification.",
          "type": "array"
        },
        "subject": {
          "description": "The subject line of the notification.",
          "$ref": "GoogleCloudAdvisorynotificationsV1Subject"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Time the notification was created.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "GoogleCloudAdvisorynotificationsV1Notification",
      "description": "A notification object for notifying customers about security and privacy issues.",
      "type": "object"
    },
    "GoogleCloudAdvisorynotificationsV1Subject": {
      "properties": {
        "text": {
          "description": "The text content.",
          "$ref": "GoogleCloudAdvisorynotificationsV1Text"
        }
      },
      "description": "A subject line of a notification.",
      "type": "object",
      "id": "GoogleCloudAdvisorynotificationsV1Subject"
    },
    "GoogleCloudAdvisorynotificationsV1Text": {
      "id": "GoogleCloudAdvisorynotificationsV1Text",
      "description": "A text object containing the English text and its localized copies.",
      "type": "object",
      "properties": {
        "localizedText": {
          "description": "The requested localized copy (if applicable).",
          "type": "string"
        },
        "enText": {
          "description": "The English copy.",
          "type": "string"
        },
        "localizationState": {
          "description": "Status of the localization.",
          "type": "string",
          "enumDescriptions": [
            "Not used.",
            "Localization is not applicable for requested language. This can happen when: - The requested language was not supported by Advisory Notifications at the time of localization (including notifications created before the localization feature was launched). - The requested language is English, so only the English text is returned.",
            "Localization for requested language is in progress, and not ready yet.",
            "Localization for requested language is completed."
          ],
          "enum": [
            "LOCALIZATION_STATE_UNSPECIFIED",
            "LOCALIZATION_STATE_NOT_APPLICABLE",
            "LOCALIZATION_STATE_PENDING",
            "LOCALIZATION_STATE_COMPLETED"
          ]
        }
      }
    },
    "GoogleCloudAdvisorynotificationsV1MessageBody": {
      "description": "A message body containing text.",
      "type": "object",
      "id": "GoogleCloudAdvisorynotificationsV1MessageBody",
      "properties": {
        "text": {
          "description": "The text content of the message body.",
          "$ref": "GoogleCloudAdvisorynotificationsV1Text"
        }
      }
    },
    "GoogleCloudAdvisorynotificationsV1Settings": {
      "description": "Settings for Advisory Notifications.",
      "type": "object",
      "id": "GoogleCloudAdvisorynotificationsV1Settings",
      "properties": {
        "notificationSettings": {
          "description": "Required. Map of each notification type and its settings to get/set all settings at once. The server will validate the value for each notification type.",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudAdvisorynotificationsV1NotificationSettings"
          }
        },
        "name": {
          "description": "Identifier. The resource name of the settings to retrieve. Format: organizations/{organization}/locations/{location}/settings or projects/{projects}/locations/{location}/settings.",
          "type": "string"
        },
        "etag": {
          "description": "Required. Fingerprint for optimistic concurrency returned in Get requests. Must be provided for Update requests. If the value provided does not match the value known to the server, ABORTED will be thrown, and the client should retry the read-modify-write cycle.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAdvisorynotificationsV1Attachment": {
      "properties": {
        "csv": {
          "description": "A CSV file attachment. Max size is 10 MB.",
          "$ref": "GoogleCloudAdvisorynotificationsV1Csv"
        },
        "displayName": {
          "description": "The title of the attachment.",
          "type": "string"
        }
      },
      "description": "Attachment with specific information about the issue.",
      "type": "object",
      "id": "GoogleCloudAdvisorynotificationsV1Attachment"
    },
    "GoogleCloudAdvisorynotificationsV1NotificationSettings": {
      "properties": {
        "enabled": {
          "description": "Whether the associated NotificationType is enabled.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudAdvisorynotificationsV1NotificationSettings",
      "description": "Settings for each NotificationType.",
      "type": "object"
    },
    "GoogleCloudAdvisorynotificationsV1CsvCsvRow": {
      "properties": {
        "entries": {
          "items": {
            "type": "string"
          },
          "description": "The data entries in a CSV file row, as a string array rather than a single comma-separated string.",
          "type": "array"
        }
      },
      "description": "A representation of a single data row in a CSV file.",
      "type": "object",
      "id": "GoogleCloudAdvisorynotificationsV1CsvCsvRow"
    },
    "GoogleCloudAdvisorynotificationsV1Message": {
      "properties": {
        "body": {
          "description": "The message content.",
          "$ref": "GoogleCloudAdvisorynotificationsV1MessageBody"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "The Message creation timestamp.",
          "type": "string"
        },
        "attachments": {
          "items": {
            "$ref": "GoogleCloudAdvisorynotificationsV1Attachment"
          },
          "description": "The attachments to download.",
          "type": "array"
        },
        "localizationTime": {
          "format": "google-datetime",
          "description": "Time when Message was localized",
          "type": "string"
        }
      },
      "description": "A message which contains notification details.",
      "type": "object",
      "id": "GoogleCloudAdvisorynotificationsV1Message"
    },
    "GoogleCloudAdvisorynotificationsV1Csv": {
      "properties": {
        "headers": {
          "items": {
            "type": "string"
          },
          "description": "The list of headers for data columns in a CSV file.",
          "type": "array"
        },
        "dataRows": {
          "items": {
            "$ref": "GoogleCloudAdvisorynotificationsV1CsvCsvRow"
          },
          "description": "The list of data rows in a CSV file, as string arrays rather than as a single comma-separated string.",
          "type": "array"
        }
      },
      "id": "GoogleCloudAdvisorynotificationsV1Csv",
      "description": "A representation of a CSV file attachment, as a list of column headers and a list of data rows.",
      "type": "object"
    }
  },
  "documentationLink": "https://cloud.google.com/advisory-notifications",
  "protocol": "rest",
  "servicePath": ""
}