{
  "version_module": true,
  "rootUrl": "https://advisorynotifications.googleapis.com/",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "revision": "20260823",
  "id": "advisorynotifications:v1",
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "parameters": {
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format."
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "type": "string",
      "location": "query",
      "default": "json"
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    }
  },
  "ownerDomain": "google.com",
  "version": "v1",
  "resources": {
    "organizations": {
      "resources": {
        "locations": {
          "methods": {
            "updateSettings": {
              "description": "Update notification settings.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "advisorynotifications.organizations.locations.updateSettings",
              "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/settings",
              "path": "v1/{+name}",
              "request": {
                "$ref": "GoogleCloudAdvisorynotificationsV1Settings"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH",
              "response": {
                "$ref": "GoogleCloudAdvisorynotificationsV1Settings"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^organizations/[^/]+/locations/[^/]+/settings$",
                  "description": "Identifier. The resource name of the settings to retrieve. Format: organizations/{organization}/locations/{location}/settings or projects/{projects}/locations/{location}/settings.",
                  "location": "path",
                  "type": "string"
                }
              }
            },
            "getSettings": {
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^organizations/[^/]+/locations/[^/]+/settings$",
                  "description": "Required. The resource name of the settings to retrieve. Format: organizations/{organization}/locations/{location}/settings or projects/{projects}/locations/{location}/settings.",
                  "required": true,
                  "type": "string"
                }
              },
              "id": "advisorynotifications.organizations.locations.getSettings",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudAdvisorynotificationsV1Settings"
              },
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Get notification settings.",
              "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/settings"
            }
          },
          "resources": {
            "notifications": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "description": "A page token returned from a previous request. When paginating, all other parameters provided in the request must match the call that returned the page token.",
                      "location": "query"
                    },
                    "languageCode": {
                      "location": "query",
                      "type": "string",
                      "description": "ISO code for requested localization language. If unset, will be interpereted as \"en\". If the requested language is valid, but not supported for this notification, English will be returned with an \"Not applicable\" LocalizationState. If the ISO code is invalid (i.e. not a real language), this RPC will throw an error."
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "The maximum number of notifications to return. The service may return fewer than this value. If unspecified or equal to 0, at most 50 notifications will be returned. The maximum value is 50; values above 50 will be coerced to 50.",
                      "location": "query",
                      "format": "int32"
                    },
                    "view": {
                      "description": "Specifies which parts of the notification resource should be returned in the response.",
                      "location": "query",
                      "enumDescriptions": [
                        "Not specified, equivalent to BASIC.",
                        "Server responses only include title, creation time and Notification ID. Note: for internal use responses also include the last update time, the latest message text and whether notification has attachments.",
                        "Include everything."
                      ],
                      "enum": [
                        "NOTIFICATION_VIEW_UNSPECIFIED",
                        "BASIC",
                        "FULL"
                      ],
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. The parent, which owns this collection of notifications. Must be of the form \"organizations/{organization}/locations/{location}\" or \"projects/{project}/locations/{location}\".",
                      "location": "path",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "required": true
                    }
                  },
                  "id": "advisorynotifications.organizations.locations.notifications.list",
                  "response": {
                    "$ref": "GoogleCloudAdvisorynotificationsV1ListNotificationsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/notifications",
                  "description": "Lists notifications under a given parent.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/notifications"
                },
                "get": {
                  "description": "Gets a notification.",
                  "id": "advisorynotifications.organizations.locations.notifications.get",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/notifications/{notificationsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudAdvisorynotificationsV1Notification"
                  },
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "languageCode": {
                      "type": "string",
                      "description": "ISO code for requested localization language. If unset, will be interpereted as \"en\". If the requested language is valid, but not supported for this notification, English will be returned with an \"Not applicable\" LocalizationState. If the ISO code is invalid (i.e. not a real language), this RPC will throw an error.",
                      "location": "query"
                    },
                    "name": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+/notifications/[^/]+$",
                      "location": "path",
                      "description": "Required. A name of the notification to retrieve. Format: organizations/{organization}/locations/{location}/notifications/{notification} or projects/{projects}/locations/{location}/notifications/{notification}.",
                      "type": "string",
                      "required": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "notifications": {
              "methods": {
                "get": {
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudAdvisorynotificationsV1Notification"
                  },
                  "parameters": {
                    "languageCode": {
                      "description": "ISO code for requested localization language. If unset, will be interpereted as \"en\". If the requested language is valid, but not supported for this notification, English will be returned with an \"Not applicable\" LocalizationState. If the ISO code is invalid (i.e. not a real language), this RPC will throw an error.",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/notifications/[^/]+$",
                      "description": "Required. A name of the notification to retrieve. Format: organizations/{organization}/locations/{location}/notifications/{notification} or projects/{projects}/locations/{location}/notifications/{notification}.",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/notifications/{notificationsId}",
                  "path": "v1/{+name}",
                  "id": "advisorynotifications.projects.locations.notifications.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets a notification."
                },
                "list": {
                  "response": {
                    "$ref": "GoogleCloudAdvisorynotificationsV1ListNotificationsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/notifications",
                  "httpMethod": "GET",
                  "id": "advisorynotifications.projects.locations.notifications.list",
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "description": "The maximum number of notifications to return. The service may return fewer than this value. If unspecified or equal to 0, at most 50 notifications will be returned. The maximum value is 50; values above 50 will be coerced to 50.",
                      "format": "int32",
                      "type": "integer"
                    },
                    "view": {
                      "enumDescriptions": [
                        "Not specified, equivalent to BASIC.",
                        "Server responses only include title, creation time and Notification ID. Note: for internal use responses also include the last update time, the latest message text and whether notification has attachments.",
                        "Include everything."
                      ],
                      "location": "query",
                      "description": "Specifies which parts of the notification resource should be returned in the response.",
                      "type": "string",
                      "enum": [
                        "NOTIFICATION_VIEW_UNSPECIFIED",
                        "BASIC",
                        "FULL"
                      ]
                    },
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent, which owns this collection of notifications. Must be of the form \"organizations/{organization}/locations/{location}\" or \"projects/{project}/locations/{location}\".",
                      "required": true
                    },
                    "languageCode": {
                      "location": "query",
                      "type": "string",
                      "description": "ISO code for requested localization language. If unset, will be interpereted as \"en\". If the requested language is valid, but not supported for this notification, English will be returned with an \"Not applicable\" LocalizationState. If the ISO code is invalid (i.e. not a real language), this RPC will throw an error."
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "A page token returned from a previous request. When paginating, all other parameters provided in the request must match the call that returned the page token.",
                      "location": "query"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/notifications",
                  "description": "Lists notifications under a given parent.",
                  "parameterOrder": [
                    "parent"
                  ]
                }
              }
            }
          },
          "methods": {
            "getSettings": {
              "id": "advisorynotifications.projects.locations.getSettings",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudAdvisorynotificationsV1Settings"
              },
              "description": "Get notification settings.",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/settings",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+/settings$",
                  "type": "string",
                  "description": "Required. The resource name of the settings to retrieve. Format: organizations/{organization}/locations/{location}/settings or projects/{projects}/locations/{location}/settings.",
                  "required": true
                }
              },
              "path": "v1/{+name}",
              "httpMethod": "GET"
            },
            "updateSettings": {
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudAdvisorynotificationsV1Settings"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "description": "Identifier. The resource name of the settings to retrieve. Format: organizations/{organization}/locations/{location}/settings or projects/{projects}/locations/{location}/settings.",
                  "pattern": "^projects/[^/]+/locations/[^/]+/settings$",
                  "type": "string"
                }
              },
              "httpMethod": "PATCH",
              "path": "v1/{+name}",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/settings",
              "request": {
                "$ref": "GoogleCloudAdvisorynotificationsV1Settings"
              },
              "description": "Update notification settings.",
              "id": "advisorynotifications.projects.locations.updateSettings"
            }
          }
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "name": "advisorynotifications",
  "mtlsRootUrl": "https://advisorynotifications.mtls.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "baseUrl": "https://advisorynotifications.googleapis.com/",
  "title": "Advisory Notifications API",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "documentationLink": "https://cloud.google.com/advisory-notifications",
  "basePath": "",
  "description": "An API for accessing Advisory Notifications in Google Cloud",
  "ownerName": "Google",
  "canonicalName": "Advisorynotifications",
  "schemas": {
    "GoogleCloudAdvisorynotificationsV1Subject": {
      "properties": {
        "text": {
          "description": "The text content.",
          "$ref": "GoogleCloudAdvisorynotificationsV1Text"
        }
      },
      "type": "object",
      "description": "A subject line of a notification.",
      "id": "GoogleCloudAdvisorynotificationsV1Subject"
    },
    "GoogleCloudAdvisorynotificationsV1Notification": {
      "type": "object",
      "description": "A notification object for notifying customers about security and privacy issues.",
      "properties": {
        "createTime": {
          "description": "Output only. Time the notification was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "name": {
          "description": "The resource name of the notification. Format: organizations/{organization}/locations/{location}/notifications/{notification} or projects/{project}/locations/{location}/notifications/{notification}.",
          "type": "string"
        },
        "subject": {
          "$ref": "GoogleCloudAdvisorynotificationsV1Subject",
          "description": "The subject line of the notification."
        },
        "notificationType": {
          "type": "string",
          "description": "Type of notification",
          "enumDescriptions": [
            "Default type",
            "Security and privacy advisory notifications",
            "Sensitive action notifications",
            "General security MSA",
            "Threat horizons MSA"
          ],
          "enum": [
            "NOTIFICATION_TYPE_UNSPECIFIED",
            "NOTIFICATION_TYPE_SECURITY_PRIVACY_ADVISORY",
            "NOTIFICATION_TYPE_SENSITIVE_ACTIONS",
            "NOTIFICATION_TYPE_SECURITY_MSA",
            "NOTIFICATION_TYPE_THREAT_HORIZONS"
          ]
        },
        "messages": {
          "description": "A list of messages in the notification.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAdvisorynotificationsV1Message"
          }
        }
      },
      "id": "GoogleCloudAdvisorynotificationsV1Notification"
    },
    "GoogleCloudAdvisorynotificationsV1Text": {
      "type": "object",
      "description": "A text object containing the English text and its localized copies.",
      "id": "GoogleCloudAdvisorynotificationsV1Text",
      "properties": {
        "localizedText": {
          "description": "The requested localized copy (if applicable).",
          "type": "string"
        },
        "localizationState": {
          "enum": [
            "LOCALIZATION_STATE_UNSPECIFIED",
            "LOCALIZATION_STATE_NOT_APPLICABLE",
            "LOCALIZATION_STATE_PENDING",
            "LOCALIZATION_STATE_COMPLETED"
          ],
          "description": "Status of the localization.",
          "enumDescriptions": [
            "Not used.",
            "Localization is not applicable for requested language. This can happen when: - The requested language was not supported by Advisory Notifications at the time of localization (including notifications created before the localization feature was launched). - The requested language is English, so only the English text is returned.",
            "Localization for requested language is in progress, and not ready yet.",
            "Localization for requested language is completed."
          ],
          "type": "string"
        },
        "enText": {
          "type": "string",
          "description": "The English copy."
        }
      }
    },
    "GoogleCloudAdvisorynotificationsV1Attachment": {
      "properties": {
        "csv": {
          "$ref": "GoogleCloudAdvisorynotificationsV1Csv",
          "description": "A CSV file attachment. Max size is 10 MB."
        },
        "displayName": {
          "description": "The title of the attachment.",
          "type": "string"
        }
      },
      "id": "GoogleCloudAdvisorynotificationsV1Attachment",
      "description": "Attachment with specific information about the issue.",
      "type": "object"
    },
    "GoogleCloudAdvisorynotificationsV1Csv": {
      "description": "A representation of a CSV file attachment, as a list of column headers and a list of data rows.",
      "properties": {
        "headers": {
          "type": "array",
          "description": "The list of headers for data columns in a CSV file.",
          "items": {
            "type": "string"
          }
        },
        "dataRows": {
          "type": "array",
          "description": "The list of data rows in a CSV file, as string arrays rather than as a single comma-separated string.",
          "items": {
            "$ref": "GoogleCloudAdvisorynotificationsV1CsvCsvRow"
          }
        }
      },
      "id": "GoogleCloudAdvisorynotificationsV1Csv",
      "type": "object"
    },
    "GoogleCloudAdvisorynotificationsV1Settings": {
      "type": "object",
      "id": "GoogleCloudAdvisorynotificationsV1Settings",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the settings to retrieve. Format: organizations/{organization}/locations/{location}/settings or projects/{projects}/locations/{location}/settings."
        },
        "etag": {
          "description": "Required. Fingerprint for optimistic concurrency returned in Get requests. Must be provided for Update requests. If the value provided does not match the value known to the server, ABORTED will be thrown, and the client should retry the read-modify-write cycle.",
          "type": "string"
        },
        "notificationSettings": {
          "type": "object",
          "description": "Required. Map of each notification type and its settings to get/set all settings at once. The server will validate the value for each notification type.",
          "additionalProperties": {
            "$ref": "GoogleCloudAdvisorynotificationsV1NotificationSettings"
          }
        }
      },
      "description": "Settings for Advisory Notifications."
    },
    "GoogleCloudAdvisorynotificationsV1CsvCsvRow": {
      "description": "A representation of a single data row in a CSV file.",
      "properties": {
        "entries": {
          "description": "The data entries in a CSV file row, as a string array rather than a single comma-separated string.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudAdvisorynotificationsV1CsvCsvRow",
      "type": "object"
    },
    "GoogleCloudAdvisorynotificationsV1MessageBody": {
      "description": "A message body containing text.",
      "id": "GoogleCloudAdvisorynotificationsV1MessageBody",
      "type": "object",
      "properties": {
        "text": {
          "description": "The text content of the message body.",
          "$ref": "GoogleCloudAdvisorynotificationsV1Text"
        }
      }
    },
    "GoogleCloudAdvisorynotificationsV1ListNotificationsResponse": {
      "description": "Response of ListNotifications endpoint.",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "totalSize": {
          "format": "int32",
          "type": "integer",
          "description": "Estimation of a total number of notifications."
        },
        "notifications": {
          "items": {
            "$ref": "GoogleCloudAdvisorynotificationsV1Notification"
          },
          "description": "List of notifications under a given parent.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudAdvisorynotificationsV1ListNotificationsResponse"
    },
    "GoogleCloudAdvisorynotificationsV1Message": {
      "properties": {
        "localizationTime": {
          "description": "Time when Message was localized",
          "format": "google-datetime",
          "type": "string"
        },
        "attachments": {
          "items": {
            "$ref": "GoogleCloudAdvisorynotificationsV1Attachment"
          },
          "description": "The attachments to download.",
          "type": "array"
        },
        "createTime": {
          "description": "The Message creation timestamp.",
          "type": "string",
          "format": "google-datetime"
        },
        "body": {
          "description": "The message content.",
          "$ref": "GoogleCloudAdvisorynotificationsV1MessageBody"
        }
      },
      "id": "GoogleCloudAdvisorynotificationsV1Message",
      "description": "A message which contains notification details.",
      "type": "object"
    },
    "GoogleCloudAdvisorynotificationsV1NotificationSettings": {
      "type": "object",
      "description": "Settings for each NotificationType.",
      "id": "GoogleCloudAdvisorynotificationsV1NotificationSettings",
      "properties": {
        "enabled": {
          "description": "Whether the associated NotificationType is enabled.",
          "type": "boolean"
        }
      }
    }
  },
  "servicePath": ""
}