{
  "documentationLink": "https://cloud.google.com/advisory-notifications",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "basePath": "",
  "description": "An API for accessing Advisory Notifications in Google Cloud",
  "id": "advisorynotifications:v1",
  "discoveryVersion": "v1",
  "title": "Advisory Notifications API",
  "ownerName": "Google",
  "baseUrl": "https://advisorynotifications.googleapis.com/",
  "ownerDomain": "google.com",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "notifications": {
              "methods": {
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "advisorynotifications.projects.locations.notifications.get",
                  "parameters": {
                    "languageCode": {
                      "location": "query",
                      "description": "ISO code for requested localization language. If unset, will be interpereted as \"en\". If the requested language is valid, but not supported for this notification, English will be returned with an \"Not applicable\" LocalizationState. If the ISO code is invalid (i.e. not a real language), this RPC will throw an error.",
                      "type": "string"
                    },
                    "name": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/notifications/[^/]+$",
                      "type": "string",
                      "description": "Required. A name of the notification to retrieve. Format: organizations/{organization}/locations/{location}/notifications/{notification} or projects/{projects}/locations/{location}/notifications/{notification}."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudAdvisorynotificationsV1Notification"
                  },
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/notifications/{notificationsId}",
                  "path": "v1/{+name}",
                  "description": "Gets a notification."
                },
                "list": {
                  "response": {
                    "$ref": "GoogleCloudAdvisorynotificationsV1ListNotificationsResponse"
                  },
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "description": "Required. The parent, which owns this collection of notifications. Must be of the form \"organizations/{organization}/locations/{location}\" or \"projects/{project}/locations/{location}\".",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageToken": {
                      "description": "A page token returned from a previous request. When paginating, all other parameters provided in the request must match the call that returned the page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "languageCode": {
                      "type": "string",
                      "description": "ISO code for requested localization language. If unset, will be interpereted as \"en\". If the requested language is valid, but not supported for this notification, English will be returned with an \"Not applicable\" LocalizationState. If the ISO code is invalid (i.e. not a real language), this RPC will throw an error.",
                      "location": "query"
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "The maximum number of notifications to return. The service may return fewer than this value. If unspecified or equal to 0, at most 50 notifications will be returned. The maximum value is 50; values above 50 will be coerced to 50.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "view": {
                      "description": "Specifies which parts of the notification resource should be returned in the response.",
                      "enum": [
                        "NOTIFICATION_VIEW_UNSPECIFIED",
                        "BASIC",
                        "FULL"
                      ],
                      "enumDescriptions": [
                        "Not specified, equivalent to BASIC.",
                        "Server responses only include title, creation time and Notification ID. Note: for internal use responses also include the last update time, the latest message text and whether notification has attachments.",
                        "Include everything."
                      ],
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/notifications",
                  "id": "advisorynotifications.projects.locations.notifications.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists notifications under a given parent.",
                  "path": "v1/{+parent}/notifications"
                }
              }
            }
          },
          "methods": {
            "updateSettings": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Update notification settings.",
              "parameters": {
                "name": {
                  "description": "Identifier. The resource name of the settings to retrieve. Format: organizations/{organization}/locations/{location}/settings or projects/{projects}/locations/{location}/settings.",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+/settings$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/settings",
              "id": "advisorynotifications.projects.locations.updateSettings",
              "httpMethod": "PATCH",
              "response": {
                "$ref": "GoogleCloudAdvisorynotificationsV1Settings"
              },
              "path": "v1/{+name}",
              "request": {
                "$ref": "GoogleCloudAdvisorynotificationsV1Settings"
              }
            },
            "getSettings": {
              "response": {
                "$ref": "GoogleCloudAdvisorynotificationsV1Settings"
              },
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/settings",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/locations/[^/]+/settings$",
                  "location": "path",
                  "description": "Required. The resource name of the settings to retrieve. Format: organizations/{organization}/locations/{location}/settings or projects/{projects}/locations/{location}/settings.",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "id": "advisorynotifications.projects.locations.getSettings",
              "description": "Get notification settings.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "path": "v1/{+name}"
            }
          }
        }
      }
    },
    "organizations": {
      "resources": {
        "locations": {
          "methods": {
            "getSettings": {
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudAdvisorynotificationsV1Settings"
              },
              "description": "Get notification settings.",
              "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/settings",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "advisorynotifications.organizations.locations.getSettings",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The resource name of the settings to retrieve. Format: organizations/{organization}/locations/{location}/settings or projects/{projects}/locations/{location}/settings.",
                  "pattern": "^organizations/[^/]+/locations/[^/]+/settings$",
                  "type": "string"
                }
              },
              "path": "v1/{+name}"
            },
            "updateSettings": {
              "id": "advisorynotifications.organizations.locations.updateSettings",
              "httpMethod": "PATCH",
              "path": "v1/{+name}",
              "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/settings",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "GoogleCloudAdvisorynotificationsV1Settings"
              },
              "response": {
                "$ref": "GoogleCloudAdvisorynotificationsV1Settings"
              },
              "description": "Update notification settings.",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Identifier. The resource name of the settings to retrieve. Format: organizations/{organization}/locations/{location}/settings or projects/{projects}/locations/{location}/settings.",
                  "pattern": "^organizations/[^/]+/locations/[^/]+/settings$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          },
          "resources": {
            "notifications": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/notifications",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/notifications",
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "description": "The maximum number of notifications to return. The service may return fewer than this value. If unspecified or equal to 0, at most 50 notifications will be returned. The maximum value is 50; values above 50 will be coerced to 50.",
                      "type": "integer",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "A page token returned from a previous request. When paginating, all other parameters provided in the request must match the call that returned the page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "languageCode": {
                      "description": "ISO code for requested localization language. If unset, will be interpereted as \"en\". If the requested language is valid, but not supported for this notification, English will be returned with an \"Not applicable\" LocalizationState. If the ISO code is invalid (i.e. not a real language), this RPC will throw an error.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "required": true,
                      "description": "Required. The parent, which owns this collection of notifications. Must be of the form \"organizations/{organization}/locations/{location}\" or \"projects/{project}/locations/{location}\".",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path"
                    },
                    "view": {
                      "enumDescriptions": [
                        "Not specified, equivalent to BASIC.",
                        "Server responses only include title, creation time and Notification ID. Note: for internal use responses also include the last update time, the latest message text and whether notification has attachments.",
                        "Include everything."
                      ],
                      "enum": [
                        "NOTIFICATION_VIEW_UNSPECIFIED",
                        "BASIC",
                        "FULL"
                      ],
                      "description": "Specifies which parts of the notification resource should be returned in the response.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "description": "Lists notifications under a given parent.",
                  "id": "advisorynotifications.organizations.locations.notifications.list",
                  "response": {
                    "$ref": "GoogleCloudAdvisorynotificationsV1ListNotificationsResponse"
                  }
                },
                "get": {
                  "id": "advisorynotifications.organizations.locations.notifications.get",
                  "parameters": {
                    "languageCode": {
                      "type": "string",
                      "description": "ISO code for requested localization language. If unset, will be interpereted as \"en\". If the requested language is valid, but not supported for this notification, English will be returned with an \"Not applicable\" LocalizationState. If the ISO code is invalid (i.e. not a real language), this RPC will throw an error.",
                      "location": "query"
                    },
                    "name": {
                      "description": "Required. A name of the notification to retrieve. Format: organizations/{organization}/locations/{location}/notifications/{notification} or projects/{projects}/locations/{location}/notifications/{notification}.",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/notifications/[^/]+$"
                    }
                  },
                  "description": "Gets a notification.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudAdvisorynotificationsV1Notification"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/notifications/{notificationsId}"
                }
              }
            }
          }
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "version": "v1",
  "rootUrl": "https://advisorynotifications.googleapis.com/",
  "parameters": {
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "type": "string",
      "description": "Data format for response."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    }
  },
  "batchPath": "batch",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "protocol": "rest",
  "schemas": {
    "GoogleCloudAdvisorynotificationsV1ListNotificationsResponse": {
      "description": "Response of ListNotifications endpoint.",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "totalSize": {
          "type": "integer",
          "description": "Estimation of a total number of notifications.",
          "format": "int32"
        },
        "notifications": {
          "description": "List of notifications under a given parent.",
          "items": {
            "$ref": "GoogleCloudAdvisorynotificationsV1Notification"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudAdvisorynotificationsV1ListNotificationsResponse",
      "type": "object"
    },
    "GoogleCloudAdvisorynotificationsV1Attachment": {
      "description": "Attachment with specific information about the issue.",
      "type": "object",
      "id": "GoogleCloudAdvisorynotificationsV1Attachment",
      "properties": {
        "csv": {
          "description": "A CSV file attachment. Max size is 10 MB.",
          "$ref": "GoogleCloudAdvisorynotificationsV1Csv"
        },
        "displayName": {
          "type": "string",
          "description": "The title of the attachment."
        }
      }
    },
    "GoogleCloudAdvisorynotificationsV1Text": {
      "id": "GoogleCloudAdvisorynotificationsV1Text",
      "description": "A text object containing the English text and its localized copies.",
      "properties": {
        "localizedText": {
          "type": "string",
          "description": "The requested localized copy (if applicable)."
        },
        "localizationState": {
          "type": "string",
          "description": "Status of the localization.",
          "enumDescriptions": [
            "Not used.",
            "Localization is not applicable for requested language. This can happen when: - The requested language was not supported by Advisory Notifications at the time of localization (including notifications created before the localization feature was launched). - The requested language is English, so only the English text is returned.",
            "Localization for requested language is in progress, and not ready yet.",
            "Localization for requested language is completed."
          ],
          "enum": [
            "LOCALIZATION_STATE_UNSPECIFIED",
            "LOCALIZATION_STATE_NOT_APPLICABLE",
            "LOCALIZATION_STATE_PENDING",
            "LOCALIZATION_STATE_COMPLETED"
          ]
        },
        "enText": {
          "description": "The English copy.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudAdvisorynotificationsV1CsvCsvRow": {
      "properties": {
        "entries": {
          "description": "The data entries in a CSV file row, as a string array rather than a single comma-separated string.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudAdvisorynotificationsV1CsvCsvRow",
      "type": "object",
      "description": "A representation of a single data row in a CSV file."
    },
    "GoogleCloudAdvisorynotificationsV1NotificationSettings": {
      "type": "object",
      "id": "GoogleCloudAdvisorynotificationsV1NotificationSettings",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether the associated NotificationType is enabled."
        }
      },
      "description": "Settings for each NotificationType."
    },
    "GoogleCloudAdvisorynotificationsV1Subject": {
      "properties": {
        "text": {
          "description": "The text content.",
          "$ref": "GoogleCloudAdvisorynotificationsV1Text"
        }
      },
      "description": "A subject line of a notification.",
      "id": "GoogleCloudAdvisorynotificationsV1Subject",
      "type": "object"
    },
    "GoogleCloudAdvisorynotificationsV1Csv": {
      "description": "A representation of a CSV file attachment, as a list of column headers and a list of data rows.",
      "id": "GoogleCloudAdvisorynotificationsV1Csv",
      "type": "object",
      "properties": {
        "headers": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The list of headers for data columns in a CSV file."
        },
        "dataRows": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAdvisorynotificationsV1CsvCsvRow"
          },
          "description": "The list of data rows in a CSV file, as string arrays rather than as a single comma-separated string."
        }
      }
    },
    "GoogleCloudAdvisorynotificationsV1Notification": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource name of the notification. Format: organizations/{organization}/locations/{location}/notifications/{notification} or projects/{project}/locations/{location}/notifications/{notification}."
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Time the notification was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "subject": {
          "description": "The subject line of the notification.",
          "$ref": "GoogleCloudAdvisorynotificationsV1Subject"
        },
        "notificationType": {
          "type": "string",
          "description": "Type of notification",
          "enumDescriptions": [
            "Default type",
            "Security and privacy advisory notifications",
            "Sensitive action notifications",
            "General security MSA",
            "Threat horizons MSA"
          ],
          "enum": [
            "NOTIFICATION_TYPE_UNSPECIFIED",
            "NOTIFICATION_TYPE_SECURITY_PRIVACY_ADVISORY",
            "NOTIFICATION_TYPE_SENSITIVE_ACTIONS",
            "NOTIFICATION_TYPE_SECURITY_MSA",
            "NOTIFICATION_TYPE_THREAT_HORIZONS"
          ]
        },
        "messages": {
          "items": {
            "$ref": "GoogleCloudAdvisorynotificationsV1Message"
          },
          "description": "A list of messages in the notification.",
          "type": "array"
        }
      },
      "description": "A notification object for notifying customers about security and privacy issues.",
      "id": "GoogleCloudAdvisorynotificationsV1Notification"
    },
    "GoogleCloudAdvisorynotificationsV1Settings": {
      "description": "Settings for Advisory Notifications.",
      "id": "GoogleCloudAdvisorynotificationsV1Settings",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the settings to retrieve. Format: organizations/{organization}/locations/{location}/settings or projects/{projects}/locations/{location}/settings."
        },
        "etag": {
          "description": "Required. Fingerprint for optimistic concurrency returned in Get requests. Must be provided for Update requests. If the value provided does not match the value known to the server, ABORTED will be thrown, and the client should retry the read-modify-write cycle.",
          "type": "string"
        },
        "notificationSettings": {
          "type": "object",
          "description": "Required. Map of each notification type and its settings to get/set all settings at once. The server will validate the value for each notification type.",
          "additionalProperties": {
            "$ref": "GoogleCloudAdvisorynotificationsV1NotificationSettings"
          }
        }
      }
    },
    "GoogleCloudAdvisorynotificationsV1MessageBody": {
      "id": "GoogleCloudAdvisorynotificationsV1MessageBody",
      "description": "A message body containing text.",
      "type": "object",
      "properties": {
        "text": {
          "$ref": "GoogleCloudAdvisorynotificationsV1Text",
          "description": "The text content of the message body."
        }
      }
    },
    "GoogleCloudAdvisorynotificationsV1Message": {
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "The Message creation timestamp.",
          "type": "string"
        },
        "body": {
          "description": "The message content.",
          "$ref": "GoogleCloudAdvisorynotificationsV1MessageBody"
        },
        "localizationTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time when Message was localized"
        },
        "attachments": {
          "description": "The attachments to download.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAdvisorynotificationsV1Attachment"
          }
        }
      },
      "description": "A message which contains notification details.",
      "type": "object",
      "id": "GoogleCloudAdvisorynotificationsV1Message"
    }
  },
  "revision": "20260823",
  "servicePath": "",
  "name": "advisorynotifications",
  "mtlsRootUrl": "https://advisorynotifications.mtls.googleapis.com/",
  "canonicalName": "Advisorynotifications"
}