{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "version": "v1",
  "revision": "20260726",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "getSettings": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Get notification settings.",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/settings",
              "response": {
                "$ref": "GoogleCloudAdvisorynotificationsV1Settings"
              },
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "id": "advisorynotifications.projects.locations.getSettings",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+/settings$",
                  "type": "string",
                  "description": "Required. The resource name of the settings to retrieve. Format: organizations/{organization}/locations/{location}/settings or projects/{projects}/locations/{location}/settings.",
                  "required": true
                }
              }
            },
            "updateSettings": {
              "id": "advisorynotifications.projects.locations.updateSettings",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/locations/[^/]+/settings$",
                  "location": "path",
                  "type": "string",
                  "description": "Identifier. The resource name of the settings to retrieve. Format: organizations/{organization}/locations/{location}/settings or projects/{projects}/locations/{location}/settings.",
                  "required": true
                }
              },
              "request": {
                "$ref": "GoogleCloudAdvisorynotificationsV1Settings"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Update notification settings.",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/settings",
              "response": {
                "$ref": "GoogleCloudAdvisorynotificationsV1Settings"
              },
              "path": "v1/{+name}",
              "httpMethod": "PATCH"
            }
          },
          "resources": {
            "notifications": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "advisorynotifications.projects.locations.notifications.list",
                  "parameters": {
                    "pageToken": {
                      "description": "A page token returned from a previous request. When paginating, all other parameters provided in the request must match the call that returned the page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. The parent, which owns this collection of notifications. Must be of the form \"organizations/{organization}/locations/{location}\" or \"projects/{project}/locations/{location}\".",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    },
                    "view": {
                      "enumDescriptions": [
                        "Not specified, equivalent to BASIC.",
                        "Server responses only include title, creation time and Notification ID. Note: for internal use responses also include the last update time, the latest message text and whether notification has attachments.",
                        "Include everything."
                      ],
                      "description": "Specifies which parts of the notification resource should be returned in the response.",
                      "type": "string",
                      "location": "query",
                      "enum": [
                        "NOTIFICATION_VIEW_UNSPECIFIED",
                        "BASIC",
                        "FULL"
                      ]
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "The maximum number of notifications to return. The service may return fewer than this value. If unspecified or equal to 0, at most 50 notifications will be returned. The maximum value is 50; values above 50 will be coerced to 50."
                    },
                    "languageCode": {
                      "location": "query",
                      "type": "string",
                      "description": "ISO code for requested localization language. If unset, will be interpereted as \"en\". If the requested language is valid, but not supported for this notification, English will be returned with an \"Not applicable\" LocalizationState. If the ISO code is invalid (i.e. not a real language), this RPC will throw an error."
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/notifications",
                  "response": {
                    "$ref": "GoogleCloudAdvisorynotificationsV1ListNotificationsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists notifications under a given parent.",
                  "path": "v1/{+parent}/notifications",
                  "httpMethod": "GET"
                },
                "get": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/notifications/{notificationsId}",
                  "response": {
                    "$ref": "GoogleCloudAdvisorynotificationsV1Notification"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets a notification.",
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "advisorynotifications.projects.locations.notifications.get",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/notifications/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. A name of the notification to retrieve. Format: organizations/{organization}/locations/{location}/notifications/{notification} or projects/{projects}/locations/{location}/notifications/{notification}.",
                      "required": true
                    },
                    "languageCode": {
                      "description": "ISO code for requested localization language. If unset, will be interpereted as \"en\". If the requested language is valid, but not supported for this notification, English will be returned with an \"Not applicable\" LocalizationState. If the ISO code is invalid (i.e. not a real language), this RPC will throw an error.",
                      "location": "query",
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "organizations": {
      "resources": {
        "locations": {
          "methods": {
            "getSettings": {
              "parameters": {
                "name": {
                  "description": "Required. The resource name of the settings to retrieve. Format: organizations/{organization}/locations/{location}/settings or projects/{projects}/locations/{location}/settings.",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^organizations/[^/]+/locations/[^/]+/settings$"
                }
              },
              "id": "advisorynotifications.organizations.locations.getSettings",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Get notification settings.",
              "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/settings",
              "response": {
                "$ref": "GoogleCloudAdvisorynotificationsV1Settings"
              }
            },
            "updateSettings": {
              "path": "v1/{+name}",
              "httpMethod": "PATCH",
              "request": {
                "$ref": "GoogleCloudAdvisorynotificationsV1Settings"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Update notification settings.",
              "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/settings",
              "response": {
                "$ref": "GoogleCloudAdvisorynotificationsV1Settings"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^organizations/[^/]+/locations/[^/]+/settings$",
                  "type": "string",
                  "description": "Identifier. The resource name of the settings to retrieve. Format: organizations/{organization}/locations/{location}/settings or projects/{projects}/locations/{location}/settings.",
                  "required": true
                }
              },
              "id": "advisorynotifications.organizations.locations.updateSettings",
              "parameterOrder": [
                "name"
              ]
            }
          },
          "resources": {
            "notifications": {
              "methods": {
                "list": {
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent, which owns this collection of notifications. Must be of the form \"organizations/{organization}/locations/{location}\" or \"projects/{project}/locations/{location}\".",
                      "required": true,
                      "type": "string"
                    },
                    "view": {
                      "description": "Specifies which parts of the notification resource should be returned in the response.",
                      "type": "string",
                      "enumDescriptions": [
                        "Not specified, equivalent to BASIC.",
                        "Server responses only include title, creation time and Notification ID. Note: for internal use responses also include the last update time, the latest message text and whether notification has attachments.",
                        "Include everything."
                      ],
                      "location": "query",
                      "enum": [
                        "NOTIFICATION_VIEW_UNSPECIFIED",
                        "BASIC",
                        "FULL"
                      ]
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "A page token returned from a previous request. When paginating, all other parameters provided in the request must match the call that returned the page token."
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "The maximum number of notifications to return. The service may return fewer than this value. If unspecified or equal to 0, at most 50 notifications will be returned. The maximum value is 50; values above 50 will be coerced to 50."
                    },
                    "languageCode": {
                      "location": "query",
                      "type": "string",
                      "description": "ISO code for requested localization language. If unset, will be interpereted as \"en\". If the requested language is valid, but not supported for this notification, English will be returned with an \"Not applicable\" LocalizationState. If the ISO code is invalid (i.e. not a real language), this RPC will throw an error."
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "advisorynotifications.organizations.locations.notifications.list",
                  "path": "v1/{+parent}/notifications",
                  "httpMethod": "GET",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/notifications",
                  "response": {
                    "$ref": "GoogleCloudAdvisorynotificationsV1ListNotificationsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists notifications under a given parent."
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets a notification.",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/notifications/{notificationsId}",
                  "response": {
                    "$ref": "GoogleCloudAdvisorynotificationsV1Notification"
                  },
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "id": "advisorynotifications.organizations.locations.notifications.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. A name of the notification to retrieve. Format: organizations/{organization}/locations/{location}/notifications/{notification} or projects/{projects}/locations/{location}/notifications/{notification}.",
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+/notifications/[^/]+$",
                      "location": "path"
                    },
                    "languageCode": {
                      "location": "query",
                      "type": "string",
                      "description": "ISO code for requested localization language. If unset, will be interpereted as \"en\". If the requested language is valid, but not supported for this notification, English will be returned with an \"Not applicable\" LocalizationState. If the ISO code is invalid (i.e. not a real language), this RPC will throw an error."
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "basePath": "",
  "ownerDomain": "google.com",
  "schemas": {
    "GoogleCloudAdvisorynotificationsV1Subject": {
      "description": "A subject line of a notification.",
      "id": "GoogleCloudAdvisorynotificationsV1Subject",
      "type": "object",
      "properties": {
        "text": {
          "$ref": "GoogleCloudAdvisorynotificationsV1Text",
          "description": "The text content."
        }
      }
    },
    "GoogleCloudAdvisorynotificationsV1MessageBody": {
      "id": "GoogleCloudAdvisorynotificationsV1MessageBody",
      "type": "object",
      "properties": {
        "text": {
          "description": "The text content of the message body.",
          "$ref": "GoogleCloudAdvisorynotificationsV1Text"
        }
      },
      "description": "A message body containing text."
    },
    "GoogleCloudAdvisorynotificationsV1ListNotificationsResponse": {
      "id": "GoogleCloudAdvisorynotificationsV1ListNotificationsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "notifications": {
          "description": "List of notifications under a given parent.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAdvisorynotificationsV1Notification"
          }
        },
        "totalSize": {
          "type": "integer",
          "description": "Estimation of a total number of notifications.",
          "format": "int32"
        }
      },
      "description": "Response of ListNotifications endpoint."
    },
    "GoogleCloudAdvisorynotificationsV1Text": {
      "description": "A text object containing the English text and its localized copies.",
      "id": "GoogleCloudAdvisorynotificationsV1Text",
      "type": "object",
      "properties": {
        "enText": {
          "description": "The English copy.",
          "type": "string"
        },
        "localizedText": {
          "type": "string",
          "description": "The requested localized copy (if applicable)."
        },
        "localizationState": {
          "type": "string",
          "enum": [
            "LOCALIZATION_STATE_UNSPECIFIED",
            "LOCALIZATION_STATE_NOT_APPLICABLE",
            "LOCALIZATION_STATE_PENDING",
            "LOCALIZATION_STATE_COMPLETED"
          ],
          "description": "Status of the localization.",
          "enumDescriptions": [
            "Not used.",
            "Localization is not applicable for requested language. This can happen when: - The requested language was not supported by Advisory Notifications at the time of localization (including notifications created before the localization feature was launched). - The requested language is English, so only the English text is returned.",
            "Localization for requested language is in progress, and not ready yet.",
            "Localization for requested language is completed."
          ]
        }
      }
    },
    "GoogleCloudAdvisorynotificationsV1Settings": {
      "description": "Settings for Advisory Notifications.",
      "id": "GoogleCloudAdvisorynotificationsV1Settings",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the settings to retrieve. Format: organizations/{organization}/locations/{location}/settings or projects/{projects}/locations/{location}/settings.",
          "type": "string"
        },
        "notificationSettings": {
          "additionalProperties": {
            "$ref": "GoogleCloudAdvisorynotificationsV1NotificationSettings"
          },
          "type": "object",
          "description": "Required. Map of each notification type and its settings to get/set all settings at once. The server will validate the value for each notification type."
        },
        "etag": {
          "type": "string",
          "description": "Required. Fingerprint for optimistic concurrency returned in Get requests. Must be provided for Update requests. If the value provided does not match the value known to the server, ABORTED will be thrown, and the client should retry the read-modify-write cycle."
        }
      }
    },
    "GoogleCloudAdvisorynotificationsV1NotificationSettings": {
      "description": "Settings for each NotificationType.",
      "id": "GoogleCloudAdvisorynotificationsV1NotificationSettings",
      "type": "object",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether the associated NotificationType is enabled."
        }
      }
    },
    "GoogleCloudAdvisorynotificationsV1Csv": {
      "id": "GoogleCloudAdvisorynotificationsV1Csv",
      "type": "object",
      "properties": {
        "headers": {
          "description": "The list of headers for data columns in a CSV file.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "dataRows": {
          "type": "array",
          "description": "The list of data rows in a CSV file, as string arrays rather than as a single comma-separated string.",
          "items": {
            "$ref": "GoogleCloudAdvisorynotificationsV1CsvCsvRow"
          }
        }
      },
      "description": "A representation of a CSV file attachment, as a list of column headers and a list of data rows."
    },
    "GoogleCloudAdvisorynotificationsV1CsvCsvRow": {
      "description": "A representation of a single data row in a CSV file.",
      "id": "GoogleCloudAdvisorynotificationsV1CsvCsvRow",
      "type": "object",
      "properties": {
        "entries": {
          "items": {
            "type": "string"
          },
          "description": "The data entries in a CSV file row, as a string array rather than a single comma-separated string.",
          "type": "array"
        }
      }
    },
    "GoogleCloudAdvisorynotificationsV1Attachment": {
      "id": "GoogleCloudAdvisorynotificationsV1Attachment",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The title of the attachment."
        },
        "csv": {
          "description": "A CSV file attachment. Max size is 10 MB.",
          "$ref": "GoogleCloudAdvisorynotificationsV1Csv"
        }
      },
      "description": "Attachment with specific information about the issue."
    },
    "GoogleCloudAdvisorynotificationsV1Notification": {
      "description": "A notification object for notifying customers about security and privacy issues.",
      "id": "GoogleCloudAdvisorynotificationsV1Notification",
      "type": "object",
      "properties": {
        "name": {
          "description": "The resource name of the notification. Format: organizations/{organization}/locations/{location}/notifications/{notification} or projects/{project}/locations/{location}/notifications/{notification}.",
          "type": "string"
        },
        "subject": {
          "description": "The subject line of the notification.",
          "$ref": "GoogleCloudAdvisorynotificationsV1Subject"
        },
        "notificationType": {
          "type": "string",
          "enum": [
            "NOTIFICATION_TYPE_UNSPECIFIED",
            "NOTIFICATION_TYPE_SECURITY_PRIVACY_ADVISORY",
            "NOTIFICATION_TYPE_SENSITIVE_ACTIONS",
            "NOTIFICATION_TYPE_SECURITY_MSA",
            "NOTIFICATION_TYPE_THREAT_HORIZONS"
          ],
          "description": "Type of notification",
          "enumDescriptions": [
            "Default type",
            "Security and privacy advisory notifications",
            "Sensitive action notifications",
            "General security MSA",
            "Threat horizons MSA"
          ]
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Time the notification was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "messages": {
          "type": "array",
          "description": "A list of messages in the notification.",
          "items": {
            "$ref": "GoogleCloudAdvisorynotificationsV1Message"
          }
        }
      }
    },
    "GoogleCloudAdvisorynotificationsV1Message": {
      "id": "GoogleCloudAdvisorynotificationsV1Message",
      "type": "object",
      "properties": {
        "body": {
          "description": "The message content.",
          "$ref": "GoogleCloudAdvisorynotificationsV1MessageBody"
        },
        "attachments": {
          "items": {
            "$ref": "GoogleCloudAdvisorynotificationsV1Attachment"
          },
          "type": "array",
          "description": "The attachments to download."
        },
        "localizationTime": {
          "description": "Time when Message was localized",
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The Message creation timestamp."
        }
      },
      "description": "A message which contains notification details."
    }
  },
  "servicePath": "",
  "title": "Advisory Notifications API",
  "batchPath": "batch",
  "version_module": true,
  "description": "An API for accessing Advisory Notifications in Google Cloud",
  "fullyEncodeReservedExpansion": true,
  "ownerName": "Google",
  "id": "advisorynotifications:v1",
  "canonicalName": "Advisorynotifications",
  "baseUrl": "https://advisorynotifications.googleapis.com/",
  "kind": "discovery#restDescription",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "documentationLink": "https://cloud.google.com/advisory-notifications",
  "protocol": "rest",
  "parameters": {
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    }
  },
  "name": "advisorynotifications",
  "mtlsRootUrl": "https://advisorynotifications.mtls.googleapis.com/",
  "rootUrl": "https://advisorynotifications.googleapis.com/"
}