{
  "version": "v1",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "schemas": {
    "GoogleCloudAdvisorynotificationsV1Message": {
      "type": "object",
      "id": "GoogleCloudAdvisorynotificationsV1Message",
      "description": "A message which contains notification details.",
      "properties": {
        "attachments": {
          "description": "The attachments to download.",
          "items": {
            "$ref": "GoogleCloudAdvisorynotificationsV1Attachment"
          },
          "type": "array"
        },
        "body": {
          "$ref": "GoogleCloudAdvisorynotificationsV1MessageBody",
          "description": "The message content."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The Message creation timestamp."
        },
        "localizationTime": {
          "description": "Time when Message was localized",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "GoogleCloudAdvisorynotificationsV1NotificationSettings": {
      "type": "object",
      "id": "GoogleCloudAdvisorynotificationsV1NotificationSettings",
      "description": "Settings for each NotificationType.",
      "properties": {
        "enabled": {
          "description": "Whether the associated NotificationType is enabled.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudAdvisorynotificationsV1CsvCsvRow": {
      "id": "GoogleCloudAdvisorynotificationsV1CsvCsvRow",
      "description": "A representation of a single data row in a CSV file.",
      "properties": {
        "entries": {
          "description": "The data entries in a CSV file row, as a string array rather than a single comma-separated string.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudAdvisorynotificationsV1Notification": {
      "type": "object",
      "id": "GoogleCloudAdvisorynotificationsV1Notification",
      "description": "A notification object for notifying customers about security and privacy issues.",
      "properties": {
        "notificationType": {
          "type": "string",
          "enumDescriptions": [
            "Default type",
            "Security and privacy advisory notifications",
            "Sensitive action notifications",
            "General security MSA",
            "Threat horizons MSA"
          ],
          "enum": [
            "NOTIFICATION_TYPE_UNSPECIFIED",
            "NOTIFICATION_TYPE_SECURITY_PRIVACY_ADVISORY",
            "NOTIFICATION_TYPE_SENSITIVE_ACTIONS",
            "NOTIFICATION_TYPE_SECURITY_MSA",
            "NOTIFICATION_TYPE_THREAT_HORIZONS"
          ],
          "description": "Type of notification"
        },
        "createTime": {
          "description": "Output only. Time the notification was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "subject": {
          "$ref": "GoogleCloudAdvisorynotificationsV1Subject",
          "description": "The subject line of the notification."
        },
        "messages": {
          "type": "array",
          "description": "A list of messages in the notification.",
          "items": {
            "$ref": "GoogleCloudAdvisorynotificationsV1Message"
          }
        },
        "name": {
          "description": "The resource name of the notification. Format: organizations/{organization}/locations/{location}/notifications/{notification} or projects/{project}/locations/{location}/notifications/{notification}.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAdvisorynotificationsV1MessageBody": {
      "id": "GoogleCloudAdvisorynotificationsV1MessageBody",
      "description": "A message body containing text.",
      "properties": {
        "text": {
          "description": "The text content of the message body.",
          "$ref": "GoogleCloudAdvisorynotificationsV1Text"
        }
      },
      "type": "object"
    },
    "GoogleCloudAdvisorynotificationsV1Csv": {
      "type": "object",
      "id": "GoogleCloudAdvisorynotificationsV1Csv",
      "description": "A representation of a CSV file attachment, as a list of column headers and a list of data rows.",
      "properties": {
        "headers": {
          "type": "array",
          "description": "The list of headers for data columns in a CSV file.",
          "items": {
            "type": "string"
          }
        },
        "dataRows": {
          "description": "The list of data rows in a CSV file, as string arrays rather than as a single comma-separated string.",
          "items": {
            "$ref": "GoogleCloudAdvisorynotificationsV1CsvCsvRow"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudAdvisorynotificationsV1Attachment": {
      "id": "GoogleCloudAdvisorynotificationsV1Attachment",
      "description": "Attachment with specific information about the issue.",
      "properties": {
        "csv": {
          "description": "A CSV file attachment. Max size is 10 MB.",
          "$ref": "GoogleCloudAdvisorynotificationsV1Csv"
        },
        "displayName": {
          "description": "The title of the attachment.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudAdvisorynotificationsV1ListNotificationsResponse": {
      "type": "object",
      "id": "GoogleCloudAdvisorynotificationsV1ListNotificationsResponse",
      "description": "Response of ListNotifications endpoint.",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "totalSize": {
          "type": "integer",
          "description": "Estimation of a total number of notifications.",
          "format": "int32"
        },
        "notifications": {
          "type": "array",
          "description": "List of notifications under a given parent.",
          "items": {
            "$ref": "GoogleCloudAdvisorynotificationsV1Notification"
          }
        }
      }
    },
    "GoogleCloudAdvisorynotificationsV1Subject": {
      "id": "GoogleCloudAdvisorynotificationsV1Subject",
      "description": "A subject line of a notification.",
      "properties": {
        "text": {
          "description": "The text content.",
          "$ref": "GoogleCloudAdvisorynotificationsV1Text"
        }
      },
      "type": "object"
    },
    "GoogleCloudAdvisorynotificationsV1Settings": {
      "id": "GoogleCloudAdvisorynotificationsV1Settings",
      "description": "Settings for Advisory Notifications.",
      "properties": {
        "notificationSettings": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudAdvisorynotificationsV1NotificationSettings"
          },
          "description": "Required. Map of each notification type and its settings to get/set all settings at once. The server will validate the value for each notification type."
        },
        "etag": {
          "description": "Required. Fingerprint for optimistic concurrency returned in Get requests. Must be provided for Update requests. If the value provided does not match the value known to the server, ABORTED will be thrown, and the client should retry the read-modify-write cycle.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the settings to retrieve. Format: organizations/{organization}/locations/{location}/settings or projects/{projects}/locations/{location}/settings.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudAdvisorynotificationsV1Text": {
      "type": "object",
      "id": "GoogleCloudAdvisorynotificationsV1Text",
      "description": "A text object containing the English text and its localized copies.",
      "properties": {
        "localizedText": {
          "description": "The requested localized copy (if applicable).",
          "type": "string"
        },
        "localizationState": {
          "type": "string",
          "enumDescriptions": [
            "Not used.",
            "Localization is not applicable for requested language. This can happen when: - The requested language was not supported by Advisory Notifications at the time of localization (including notifications created before the localization feature was launched). - The requested language is English, so only the English text is returned.",
            "Localization for requested language is in progress, and not ready yet.",
            "Localization for requested language is completed."
          ],
          "enum": [
            "LOCALIZATION_STATE_UNSPECIFIED",
            "LOCALIZATION_STATE_NOT_APPLICABLE",
            "LOCALIZATION_STATE_PENDING",
            "LOCALIZATION_STATE_COMPLETED"
          ],
          "description": "Status of the localization."
        },
        "enText": {
          "description": "The English copy.",
          "type": "string"
        }
      }
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "rootUrl": "https://advisorynotifications.googleapis.com/",
  "id": "advisorynotifications:v1",
  "resources": {
    "organizations": {
      "resources": {
        "locations": {
          "resources": {
            "notifications": {
              "methods": {
                "get": {
                  "path": "v1/{+name}",
                  "id": "advisorynotifications.organizations.locations.notifications.get",
                  "httpMethod": "GET",
                  "parameters": {
                    "languageCode": {
                      "type": "string",
                      "location": "query",
                      "description": "ISO code for requested localization language. If unset, will be interpereted as \"en\". If the requested language is valid, but not supported for this notification, English will be returned with an \"Not applicable\" LocalizationState. If the ISO code is invalid (i.e. not a real language), this RPC will throw an error."
                    },
                    "name": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+/notifications/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. A name of the notification to retrieve. Format: organizations/{organization}/locations/{location}/notifications/{notification} or projects/{projects}/locations/{location}/notifications/{notification}."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/notifications/{notificationsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudAdvisorynotificationsV1Notification"
                  },
                  "description": "Gets a notification."
                },
                "list": {
                  "description": "Lists notifications under a given parent.",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/notifications",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudAdvisorynotificationsV1ListNotificationsResponse"
                  },
                  "id": "advisorynotifications.organizations.locations.notifications.list",
                  "path": "v1/{+parent}/notifications",
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The parent, which owns this collection of notifications. Must be of the form \"organizations/{organization}/locations/{location}\" or \"projects/{project}/locations/{location}\".",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "location": "path"
                    },
                    "view": {
                      "type": "string",
                      "enumDescriptions": [
                        "Not specified, equivalent to BASIC.",
                        "Server responses only include title, creation time and Notification ID. Note: for internal use responses also include the last update time, the latest message text and whether notification has attachments.",
                        "Include everything."
                      ],
                      "description": "Specifies which parts of the notification resource should be returned in the response.",
                      "location": "query",
                      "enum": [
                        "NOTIFICATION_VIEW_UNSPECIFIED",
                        "BASIC",
                        "FULL"
                      ]
                    },
                    "languageCode": {
                      "description": "ISO code for requested localization language. If unset, will be interpereted as \"en\". If the requested language is valid, but not supported for this notification, English will be returned with an \"Not applicable\" LocalizationState. If the ISO code is invalid (i.e. not a real language), this RPC will throw an error.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "A page token returned from a previous request. When paginating, all other parameters provided in the request must match the call that returned the page token."
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "The maximum number of notifications to return. The service may return fewer than this value. If unspecified or equal to 0, at most 50 notifications will be returned. The maximum value is 50; values above 50 will be coerced to 50.",
                      "type": "integer"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            }
          },
          "methods": {
            "getSettings": {
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/locations/[^/]+/settings$",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. The resource name of the settings to retrieve. Format: organizations/{organization}/locations/{location}/settings or projects/{projects}/locations/{location}/settings."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}",
              "id": "advisorynotifications.organizations.locations.getSettings",
              "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/settings",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudAdvisorynotificationsV1Settings"
              },
              "description": "Get notification settings."
            },
            "updateSettings": {
              "description": "Update notification settings.",
              "request": {
                "$ref": "GoogleCloudAdvisorynotificationsV1Settings"
              },
              "response": {
                "$ref": "GoogleCloudAdvisorynotificationsV1Settings"
              },
              "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/settings",
              "parameterOrder": [
                "name"
              ],
              "id": "advisorynotifications.organizations.locations.updateSettings",
              "path": "v1/{+name}",
              "httpMethod": "PATCH",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^organizations/[^/]+/locations/[^/]+/settings$",
                  "description": "Identifier. The resource name of the settings to retrieve. Format: organizations/{organization}/locations/{location}/settings or projects/{projects}/locations/{location}/settings.",
                  "type": "string",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        }
      }
    },
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "getSettings": {
              "description": "Get notification settings.",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/settings",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudAdvisorynotificationsV1Settings"
              },
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "Required. The resource name of the settings to retrieve. Format: organizations/{organization}/locations/{location}/settings or projects/{projects}/locations/{location}/settings.",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+/settings$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "advisorynotifications.projects.locations.getSettings",
              "path": "v1/{+name}"
            },
            "updateSettings": {
              "description": "Update notification settings.",
              "request": {
                "$ref": "GoogleCloudAdvisorynotificationsV1Settings"
              },
              "response": {
                "$ref": "GoogleCloudAdvisorynotificationsV1Settings"
              },
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/settings",
              "parameterOrder": [
                "name"
              ],
              "id": "advisorynotifications.projects.locations.updateSettings",
              "path": "v1/{+name}",
              "httpMethod": "PATCH",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "description": "Identifier. The resource name of the settings to retrieve. Format: organizations/{organization}/locations/{location}/settings or projects/{projects}/locations/{location}/settings.",
                  "pattern": "^projects/[^/]+/locations/[^/]+/settings$",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          },
          "resources": {
            "notifications": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent, which owns this collection of notifications. Must be of the form \"organizations/{organization}/locations/{location}\" or \"projects/{project}/locations/{location}\".",
                      "required": true,
                      "type": "string"
                    },
                    "view": {
                      "type": "string",
                      "enumDescriptions": [
                        "Not specified, equivalent to BASIC.",
                        "Server responses only include title, creation time and Notification ID. Note: for internal use responses also include the last update time, the latest message text and whether notification has attachments.",
                        "Include everything."
                      ],
                      "description": "Specifies which parts of the notification resource should be returned in the response.",
                      "location": "query",
                      "enum": [
                        "NOTIFICATION_VIEW_UNSPECIFIED",
                        "BASIC",
                        "FULL"
                      ]
                    },
                    "languageCode": {
                      "type": "string",
                      "description": "ISO code for requested localization language. If unset, will be interpereted as \"en\". If the requested language is valid, but not supported for this notification, English will be returned with an \"Not applicable\" LocalizationState. If the ISO code is invalid (i.e. not a real language), this RPC will throw an error.",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "A page token returned from a previous request. When paginating, all other parameters provided in the request must match the call that returned the page token."
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "The maximum number of notifications to return. The service may return fewer than this value. If unspecified or equal to 0, at most 50 notifications will be returned. The maximum value is 50; values above 50 will be coerced to 50."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/notifications",
                  "id": "advisorynotifications.projects.locations.notifications.list",
                  "response": {
                    "$ref": "GoogleCloudAdvisorynotificationsV1ListNotificationsResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/notifications",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists notifications under a given parent."
                },
                "get": {
                  "path": "v1/{+name}",
                  "id": "advisorynotifications.projects.locations.notifications.get",
                  "httpMethod": "GET",
                  "parameters": {
                    "languageCode": {
                      "type": "string",
                      "description": "ISO code for requested localization language. If unset, will be interpereted as \"en\". If the requested language is valid, but not supported for this notification, English will be returned with an \"Not applicable\" LocalizationState. If the ISO code is invalid (i.e. not a real language), this RPC will throw an error.",
                      "location": "query"
                    },
                    "name": {
                      "description": "Required. A name of the notification to retrieve. Format: organizations/{organization}/locations/{location}/notifications/{notification} or projects/{projects}/locations/{location}/notifications/{notification}.",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/notifications/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudAdvisorynotificationsV1Notification"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/notifications/{notificationsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets a notification."
                }
              }
            }
          }
        }
      }
    }
  },
  "canonicalName": "Advisorynotifications",
  "fullyEncodeReservedExpansion": true,
  "version_module": true,
  "servicePath": "",
  "batchPath": "batch",
  "title": "Advisory Notifications API",
  "basePath": "",
  "protocol": "rest",
  "name": "advisorynotifications",
  "parameters": {
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "default": "json",
      "description": "Data format for response.",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    }
  },
  "mtlsRootUrl": "https://advisorynotifications.mtls.googleapis.com/",
  "description": "An API for accessing Advisory Notifications in Google Cloud",
  "documentationLink": "https://cloud.google.com/advisory-notifications",
  "baseUrl": "https://advisorynotifications.googleapis.com/",
  "revision": "20260712"
}