{
  "fullyEncodeReservedExpansion": true,
  "servicePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "description": "The Agent Identity Credentials API retrieves and finalizes authorization credentials for auth providers.",
  "version": "v1beta",
  "revision": "20260821",
  "mtlsRootUrl": "https://agentidentitycredentials.mtls.googleapis.com/",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "protocol": "rest",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "authProviders": {
              "resources": {
                "credentials": {
                  "methods": {
                    "retrieve": {
                      "parameterOrder": [
                        "authProvider"
                      ],
                      "httpMethod": "POST",
                      "path": "v1beta/{+authProvider}/credentials:retrieve",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "agentidentitycredentials.projects.locations.authProviders.credentials.retrieve",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/authProviders/{authProvidersId}/credentials:retrieve",
                      "response": {
                        "$ref": "GoogleCloudAgentidentitycredentialsV1beta_RetrieveCredentialsResponse"
                      },
                      "parameters": {
                        "authProvider": {
                          "type": "string",
                          "location": "path",
                          "description": "Required. The resource name of the auth provider. Format: `projects/{project}/locations/{location}/authProviders/{auth_provider}`",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/authProviders/[^/]+$"
                        }
                      },
                      "request": {
                        "$ref": "GoogleCloudAgentidentitycredentialsV1beta_RetrieveCredentialsRequest"
                      },
                      "description": "Retrieves authorization credentials for an auth provider, or indicates what action needs to be taken to obtain credentials. If the `token` field in the response is populated, credential retrieval was successful. If one of the fields in the `result` oneof is populated, further action is required to obtain credentials, such as redirecting the user for consent. View comments on `RetrieveCredentialsResponse` for more information."
                    },
                    "finalize": {
                      "httpMethod": "POST",
                      "description": "Finalizes the credentials after a successful consent flow.",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/authProviders/{authProvidersId}/credentials:finalize",
                      "response": {
                        "$ref": "GoogleCloudAgentidentitycredentialsV1beta_FinalizeCredentialsResponse"
                      },
                      "request": {
                        "$ref": "GoogleCloudAgentidentitycredentialsV1beta_FinalizeCredentialsRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "authProvider": {
                          "description": "Required. The resource name of the auth provider. Format: `projects/{project}/locations/{location}/authProviders/{auth_provider}`",
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/authProviders/[^/]+$"
                        }
                      },
                      "parameterOrder": [
                        "authProvider"
                      ],
                      "id": "agentidentitycredentials.projects.locations.authProviders.credentials.finalize",
                      "path": "v1beta/{+authProvider}/credentials:finalize"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "parameters": {
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "location": "query",
      "default": "json"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    }
  },
  "documentationLink": "https://cloud.google.com/iam/docs/",
  "canonicalName": "Agent Identity Credentials",
  "basePath": "",
  "name": "agentidentitycredentials",
  "batchPath": "batch",
  "version_module": true,
  "title": "Agent Identity Credentials API",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "id": "agentidentitycredentials:v1beta",
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "rootUrl": "https://agentidentitycredentials.googleapis.com/",
  "baseUrl": "https://agentidentitycredentials.googleapis.com/",
  "schemas": {
    "GoogleCloudAgentidentitycredentialsV1beta_FinalizeCredentialsResponse": {
      "description": "Response message for `FinalizeCredentials`. Intentionally empty.",
      "type": "object",
      "id": "GoogleCloudAgentidentitycredentialsV1beta_FinalizeCredentialsResponse",
      "properties": {}
    },
    "GoogleCloudAgentidentitycredentialsV1beta_RetrieveCredentialsResponse": {
      "properties": {
        "uriConsentRequired": {
          "description": "Message indicating URI-based consent is required.",
          "$ref": "GoogleCloudAgentidentitycredentialsV1beta_UriConsentRequired"
        },
        "success": {
          "$ref": "GoogleCloudAgentidentitycredentialsV1beta_Success",
          "description": "Message indicating credentials were successfully retrieved."
        },
        "pending": {
          "$ref": "GoogleCloudAgentidentitycredentialsV1beta_Pending",
          "description": "Message indicating credential retrieval is pending."
        },
        "consentRejected": {
          "$ref": "GoogleCloudAgentidentitycredentialsV1beta_ConsentRejected",
          "description": "Message indicating consent was rejected."
        }
      },
      "id": "GoogleCloudAgentidentitycredentialsV1beta_RetrieveCredentialsResponse",
      "description": "Response message for `RetrieveCredentials`. Contains the access tokens and related artifacts.",
      "type": "object"
    },
    "GoogleCloudAgentidentitycredentialsV1beta_RetrieveCredentialsRequest": {
      "type": "object",
      "properties": {
        "continueUri": {
          "type": "string",
          "description": "Optional. The URI to redirect the user to after consent is completed. This field is required for auth providers using the 3-legged OAuth flow. For other auth provider types, this field is unused but not rejected."
        },
        "userId": {
          "description": "Required. The identity of the end user.",
          "type": "string"
        },
        "scopes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The OAuth scopes required for this access."
        },
        "forceRefreshToken": {
          "description": "Optional. Input only. Set this field only if the previous token was expired or invalid. This value must be the full, previously returned token string. Setting this field triggers a refresh of the access token with a stored refresh token, if possible, or a new consent flow.",
          "type": "string"
        }
      },
      "description": "Request message for `RetrieveCredentials`.",
      "id": "GoogleCloudAgentidentitycredentialsV1beta_RetrieveCredentialsRequest"
    },
    "GoogleCloudAgentidentitycredentialsV1beta_Success": {
      "description": "Message indicating successful retrieval of credentials.",
      "properties": {
        "scopes": {
          "type": "array",
          "description": "The scopes actually associated with the retrieved token. End users may have rejected some requested scopes, or the third-party authorization servers can return a different set of scopes than what was asked for. Callers should verify that all required scopes for their intended use are included in this list.",
          "items": {
            "type": "string"
          }
        },
        "token": {
          "description": "The retrieved access token or credential for the end user. On an MCP tool call, for an invalid token the OAuth spec states that this should return `401` or `403`, but MCP servers may implement this differently. If you get any flavor of `PERMISSION_DENIED`, retry your original request to `RetrieveCredentials` with force_refresh_token set to the expired/invalid token string, which will fetch a new token or initiate a new consent flow.",
          "type": "string"
        },
        "expireTime": {
          "description": "The expiration time of the token. This does not guarantee that the token will be valid until this time, since the token could be revoked earlier. There could also be clock skew between the auth provider and the client so it may expire slightly earlier. If not set, the token might be permanent or it may be that the service does not (or cannot) know when it will expire.",
          "format": "google-datetime",
          "type": "string"
        },
        "header": {
          "type": "string",
          "description": "The HTTP header name where the token should be placed."
        }
      },
      "id": "GoogleCloudAgentidentitycredentialsV1beta_Success",
      "type": "object"
    },
    "GoogleCloudAgentidentitycredentialsV1beta_ConsentRejected": {
      "description": "Indicates the user has rejected the permission delegation or canceled the request.",
      "type": "object",
      "properties": {},
      "id": "GoogleCloudAgentidentitycredentialsV1beta_ConsentRejected"
    },
    "GoogleCloudAgentidentitycredentialsV1beta_FinalizeCredentialsRequest": {
      "type": "object",
      "properties": {
        "userIdValidationState": {
          "description": "Required. The encrypted state passed back from the consent flow.",
          "type": "string",
          "format": "byte"
        },
        "consentNonce": {
          "description": "Required. The same `consent_nonce` value that was provided during retrieval in the [UriConsentRequired](https://cloud.google.com/iam/docs/reference/agentidentitycredentials/rest/v1/projects.locations.authProviders.credentials/retrieve#UriConsentRequired) metadata.",
          "type": "string"
        },
        "userId": {
          "description": "Required. The identity of the end user.",
          "type": "string"
        }
      },
      "id": "GoogleCloudAgentidentitycredentialsV1beta_FinalizeCredentialsRequest",
      "description": "Request message for `FinalizeCredentials`."
    },
    "GoogleCloudAgentidentitycredentialsV1beta_UriConsentRequired": {
      "id": "GoogleCloudAgentidentitycredentialsV1beta_UriConsentRequired",
      "properties": {
        "consentNonce": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A one-time, randomly generated value that validates the entire consent flow is handled by a single user, avoiding CSRF attacks. It must be submitted with the `FinalizeCredentials` request to complete the OAuth exchange. This will always be present. Implemented per [RFC 6819 Section 5.3.5](https://www.rfc-editor.org/rfc/rfc6819#section-5.3.5)."
        },
        "authorizationUri": {
          "description": "Output only. The URL where the user should be redirected to grant consent. This will always be present.",
          "type": "string",
          "readOnly": true
        },
        "uid": {
          "description": "Output only. The unique ID of the credentials retrieval operation.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "description": "Indicates that the user must visit the provided URI to consent to delegate permission to the agent to act on their behalf. The caller can either poll the `RetrieveCredentials` method, or await the /ValidateUserId callback."
    },
    "GoogleCloudAgentidentitycredentialsV1beta_Pending": {
      "id": "GoogleCloudAgentidentitycredentialsV1beta_Pending",
      "properties": {},
      "description": "Indicates that the credential retrieval is pending. The caller should retry the `RetrieveCredentials` request after some time.",
      "type": "object"
    }
  }
}