{
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "mtlsRootUrl": "https://agentidentitycredentials.mtls.googleapis.com/",
  "revision": "20260724",
  "protocol": "rest",
  "discoveryVersion": "v1",
  "id": "agentidentitycredentials:v1alpha",
  "servicePath": "",
  "canonicalName": "Agent Identity Credentials",
  "basePath": "",
  "name": "agentidentitycredentials",
  "documentationLink": "https://cloud.google.com/iam/docs/",
  "version_module": true,
  "parameters": {
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "default": "json"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    }
  },
  "rootUrl": "https://agentidentitycredentials.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "batchPath": "batch",
  "description": "agentidentitycredentials.googleapis.com API.",
  "title": "Agent Identity Credentials API",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "authProviders": {
              "resources": {
                "credentials": {
                  "methods": {
                    "finalize": {
                      "httpMethod": "POST",
                      "description": "Finalizes the credentials after a successful consent flow.",
                      "parameterOrder": [
                        "authProvider"
                      ],
                      "id": "agentidentitycredentials.projects.locations.authProviders.credentials.finalize",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/authProviders/{authProvidersId}/credentials:finalize",
                      "parameters": {
                        "authProvider": {
                          "description": "Required. The resource name of the AuthProvider. Format: `projects/{project}/locations/{location}/authProviders/{auth_provider}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/authProviders/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "request": {
                        "$ref": "GoogleCloudAgentidentitycredentialsV1alpha_FinalizeCredentialsRequest"
                      },
                      "path": "v1alpha/{+authProvider}/credentials:finalize",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleCloudAgentidentitycredentialsV1alpha_FinalizeCredentialsResponse"
                      }
                    },
                    "retrieve": {
                      "path": "v1alpha/{+authProvider}/credentials:retrieve",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleCloudAgentidentitycredentialsV1alpha_RetrieveCredentialsResponse"
                      },
                      "parameters": {
                        "authProvider": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/authProviders/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "description": "Required. The parent resource name of the AuthProvider. Format: `projects/{project}/locations/{location}/authProviders/{auth_provider}`"
                        }
                      },
                      "request": {
                        "$ref": "GoogleCloudAgentidentitycredentialsV1alpha_RetrieveCredentialsRequest"
                      },
                      "id": "agentidentitycredentials.projects.locations.authProviders.credentials.retrieve",
                      "parameterOrder": [
                        "authProvider"
                      ],
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/authProviders/{authProvidersId}/credentials:retrieve",
                      "httpMethod": "POST",
                      "description": "Retrieves authorization credentials for an authprovider, or indicates what action needs to be taken to obtain credentials. If the `token` field in the response is populated, credential retrieval was successful. If one of the fields in the `status` oneof is populated, further action is required to obtain credentials, such as redirecting the user for consent. View comments on `RetrieveCredentialsResponse` for more information."
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "baseUrl": "https://agentidentitycredentials.googleapis.com/",
  "schemas": {
    "GoogleCloudAgentidentitycredentialsV1alpha_RetrieveCredentialsRequest": {
      "description": "Request message for RetrieveCredentials.",
      "properties": {
        "scopes": {
          "type": "array",
          "description": "Optional. The OAuth scopes required for this access.",
          "items": {
            "type": "string"
          }
        },
        "forceRefreshToken": {
          "type": "string",
          "description": "Optional. Input only. Set this field only if the previous token was expired or invalid. This value must be the full, previously returned token string. Will trigger a refresh of the access token with a stored refresh token, if possible, or a new consent flow."
        },
        "userId": {
          "type": "string",
          "description": "Required. The identity of the end user."
        },
        "continueUri": {
          "type": "string",
          "description": "Optional. The URI to redirect the user to after consent is completed. This field is required for authproviders using the 3-legged OAuth flow. For other authprovider types, this field is unused but not rejected."
        }
      },
      "type": "object",
      "id": "GoogleCloudAgentidentitycredentialsV1alpha_RetrieveCredentialsRequest"
    },
    "GoogleCloudAgentidentitycredentialsV1alpha_RetrieveCredentialsResponse": {
      "id": "GoogleCloudAgentidentitycredentialsV1alpha_RetrieveCredentialsResponse",
      "description": "Response message for RetrieveCredentials. Contains the access tokens and related artifacts.",
      "properties": {
        "success": {
          "$ref": "GoogleCloudAgentidentitycredentialsV1alpha_Success",
          "description": "Message indicating credentials were successfully retrieved."
        },
        "uriConsentRequired": {
          "$ref": "GoogleCloudAgentidentitycredentialsV1alpha_UriConsentRequired",
          "description": "Message indicating uri based consent is required."
        },
        "consentRejected": {
          "$ref": "GoogleCloudAgentidentitycredentialsV1alpha_ConsentRejected",
          "description": "Message indicating consent was rejected."
        },
        "pending": {
          "description": "Message indicating credential retrieval is pending.",
          "$ref": "GoogleCloudAgentidentitycredentialsV1alpha_Pending"
        }
      },
      "type": "object"
    },
    "GoogleCloudAgentidentitycredentialsV1alpha_ConsentRejected": {
      "id": "GoogleCloudAgentidentitycredentialsV1alpha_ConsentRejected",
      "description": "Indicates the user has rejected the permission delegation or cancelled the request.",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudAgentidentitycredentialsV1alpha_Success": {
      "type": "object",
      "description": "Message indicating successful retrieval of credentials.",
      "properties": {
        "header": {
          "type": "string",
          "description": "The HTTP header name where the token should be placed."
        },
        "expireTime": {
          "type": "string",
          "description": "The expiration time of the token. This does not guarantee that the token will be valid until this time, since the token could be revoked earlier. There could also be clock skew between the auth provider and the client so it may expire slightly earlier. If not set, the token might be permanent or it may be that the service does not (or cannot) know when it will expire.",
          "format": "google-datetime"
        },
        "token": {
          "description": "The retrieved access token or credential for the end user. On MCPTool call, for an invalid token OAuth spec says this should return 401 or 403, but MCPServers may implement this differently. If you get any flavor of `PERMISSION_DENIED`, retry your original request to RetrieveCredentials with force_refresh_token set to the expired/invalid token string, which will fetch a new token or initiate a new consent flow.",
          "type": "string"
        },
        "scopes": {
          "type": "array",
          "description": "The scopes actually associated with the retrieved token. End users may have rejected some requested scopes, or the third-party authorization servers can return a different set of scopes than what was asked for. Callers should verify that all required scopes for their intended use are included in this list.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudAgentidentitycredentialsV1alpha_Success"
    },
    "GoogleCloudAgentidentitycredentialsV1alpha_Pending": {
      "id": "GoogleCloudAgentidentitycredentialsV1alpha_Pending",
      "description": "Indicates that the credential retrieval is pending. The caller should retry the RetrieveCredentials request after some time.",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudAgentidentitycredentialsV1alpha_UriConsentRequired": {
      "description": "Indicates that the user must visit the provided URI to consent to delegate permission to the agent to act on their behalf. The caller can either poll the `RetrieveCredentials` method, or await the /ValidateUserId callback",
      "properties": {
        "consentNonce": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A one-time, randomly generated value that validates the entire consent flow is handled by a single user, avoiding CSRF attacks. It must be submitted with the FinalizeCredentials request to complete the OAuth exchange. This will always be present. Implemented per https://www.rfc-editor.org/rfc/rfc6819#section-5.3.5"
        },
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The unique ID of the credentials retrieval operation."
        },
        "authorizationUri": {
          "readOnly": true,
          "description": "Output only. The URL where the user should be redirected to grant consent. This will always be present.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudAgentidentitycredentialsV1alpha_UriConsentRequired"
    },
    "GoogleCloudAgentidentitycredentialsV1alpha_FinalizeCredentialsRequest": {
      "description": "Request message for FinalizeCredentials.",
      "properties": {
        "userIdValidationState": {
          "description": "Required. The encrypted state passed back from the consent flow.",
          "type": "string",
          "format": "byte"
        },
        "userId": {
          "description": "Required. The identity of the end user.",
          "type": "string"
        },
        "consentNonce": {
          "type": "string",
          "description": "Required. The same consent_nonce value that was provided during redirect in the UriConsentRequired metadata."
        }
      },
      "type": "object",
      "id": "GoogleCloudAgentidentitycredentialsV1alpha_FinalizeCredentialsRequest"
    },
    "GoogleCloudAgentidentitycredentialsV1alpha_FinalizeCredentialsResponse": {
      "description": "Response message for FinalizeCredentials. Intentionally empty",
      "properties": {},
      "type": "object",
      "id": "GoogleCloudAgentidentitycredentialsV1alpha_FinalizeCredentialsResponse"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "version": "v1alpha",
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "ownerDomain": "google.com"
}