{
  "title": "Agent Identity Credentials API",
  "version": "v1beta",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "documentationLink": "https://cloud.google.com/iam/docs/",
  "name": "agentidentitycredentials",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "authProviders": {
              "resources": {
                "credentials": {
                  "methods": {
                    "finalize": {
                      "description": "Finalizes the credentials after a successful consent flow.",
                      "request": {
                        "$ref": "GoogleCloudAgentidentitycredentialsV1beta_FinalizeCredentialsRequest"
                      },
                      "response": {
                        "$ref": "GoogleCloudAgentidentitycredentialsV1beta_FinalizeCredentialsResponse"
                      },
                      "path": "v1beta/{+authProvider}/credentials:finalize",
                      "parameterOrder": [
                        "authProvider"
                      ],
                      "parameters": {
                        "authProvider": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/authProviders/[^/]+$",
                          "description": "Required. The resource name of the auth provider. Format: `projects/{project}/locations/{location}/authProviders/{auth_provider}`",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "id": "agentidentitycredentials.projects.locations.authProviders.credentials.finalize",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/authProviders/{authProvidersId}/credentials:finalize"
                    },
                    "retrieve": {
                      "response": {
                        "$ref": "GoogleCloudAgentidentitycredentialsV1beta_RetrieveCredentialsResponse"
                      },
                      "parameters": {
                        "authProvider": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Required. The resource name of the auth provider. Format: `projects/{project}/locations/{location}/authProviders/{auth_provider}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/authProviders/[^/]+$"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "agentidentitycredentials.projects.locations.authProviders.credentials.retrieve",
                      "httpMethod": "POST",
                      "description": "Retrieves authorization credentials for an auth provider, or indicates what action needs to be taken to obtain credentials. If the `token` field in the response is populated, credential retrieval was successful. If one of the fields in the `result` oneof is populated, further action is required to obtain credentials, such as redirecting the user for consent. View comments on `RetrieveCredentialsResponse` for more information.",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/authProviders/{authProvidersId}/credentials:retrieve",
                      "parameterOrder": [
                        "authProvider"
                      ],
                      "request": {
                        "$ref": "GoogleCloudAgentidentitycredentialsV1beta_RetrieveCredentialsRequest"
                      },
                      "path": "v1beta/{+authProvider}/credentials:retrieve"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "canonicalName": "Agent Identity Credentials",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "basePath": "",
  "mtlsRootUrl": "https://agentidentitycredentials.mtls.googleapis.com/",
  "baseUrl": "https://agentidentitycredentials.googleapis.com/",
  "description": "The Agent Identity Credentials API retrieves and finalizes authorization credentials for auth providers.",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "id": "agentidentitycredentials:v1beta",
  "ownerDomain": "google.com",
  "parameters": {
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    }
  },
  "schemas": {
    "GoogleCloudAgentidentitycredentialsV1beta_ConsentRejected": {
      "id": "GoogleCloudAgentidentitycredentialsV1beta_ConsentRejected",
      "type": "object",
      "properties": {},
      "description": "Indicates the user has rejected the permission delegation or canceled the request."
    },
    "GoogleCloudAgentidentitycredentialsV1beta_Success": {
      "id": "GoogleCloudAgentidentitycredentialsV1beta_Success",
      "properties": {
        "header": {
          "description": "The HTTP header name where the token should be placed.",
          "type": "string"
        },
        "token": {
          "type": "string",
          "description": "The retrieved access token or credential for the end user. On an MCP tool call, for an invalid token the OAuth spec states that this should return `401` or `403`, but MCP servers may implement this differently. If you get any flavor of `PERMISSION_DENIED`, retry your original request to `RetrieveCredentials` with force_refresh_token set to the expired/invalid token string, which will fetch a new token or initiate a new consent flow."
        },
        "expireTime": {
          "format": "google-datetime",
          "description": "The expiration time of the token. This does not guarantee that the token will be valid until this time, since the token could be revoked earlier. There could also be clock skew between the auth provider and the client so it may expire slightly earlier. If not set, the token might be permanent or it may be that the service does not (or cannot) know when it will expire.",
          "type": "string"
        },
        "scopes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The scopes actually associated with the retrieved token. End users may have rejected some requested scopes, or the third-party authorization servers can return a different set of scopes than what was asked for. Callers should verify that all required scopes for their intended use are included in this list."
        }
      },
      "type": "object",
      "description": "Message indicating successful retrieval of credentials."
    },
    "GoogleCloudAgentidentitycredentialsV1beta_UriConsentRequired": {
      "type": "object",
      "id": "GoogleCloudAgentidentitycredentialsV1beta_UriConsentRequired",
      "properties": {
        "authorizationUri": {
          "type": "string",
          "description": "Output only. The URL where the user should be redirected to grant consent. This will always be present.",
          "readOnly": true
        },
        "consentNonce": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A one-time, randomly generated value that validates the entire consent flow is handled by a single user, avoiding CSRF attacks. It must be submitted with the `FinalizeCredentials` request to complete the OAuth exchange. This will always be present. Implemented per [RFC 6819 Section 5.3.5](https://www.rfc-editor.org/rfc/rfc6819#section-5.3.5)."
        },
        "uid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The unique ID of the credentials retrieval operation."
        }
      },
      "description": "Indicates that the user must visit the provided URI to consent to delegate permission to the agent to act on their behalf. The caller can either poll the `RetrieveCredentials` method, or await the /ValidateUserId callback."
    },
    "GoogleCloudAgentidentitycredentialsV1beta_FinalizeCredentialsRequest": {
      "id": "GoogleCloudAgentidentitycredentialsV1beta_FinalizeCredentialsRequest",
      "type": "object",
      "properties": {
        "userIdValidationState": {
          "format": "byte",
          "description": "Required. The encrypted state passed back from the consent flow.",
          "type": "string"
        },
        "userId": {
          "type": "string",
          "description": "Required. The identity of the end user."
        },
        "consentNonce": {
          "type": "string",
          "description": "Required. The same `consent_nonce` value that was provided during retrieval in the [UriConsentRequired](https://cloud.google.com/iam/docs/reference/agentidentitycredentials/rest/v1/projects.locations.authProviders.credentials/retrieve#UriConsentRequired) metadata."
        }
      },
      "description": "Request message for `FinalizeCredentials`."
    },
    "GoogleCloudAgentidentitycredentialsV1beta_RetrieveCredentialsRequest": {
      "id": "GoogleCloudAgentidentitycredentialsV1beta_RetrieveCredentialsRequest",
      "description": "Request message for `RetrieveCredentials`.",
      "type": "object",
      "properties": {
        "userId": {
          "description": "Required. The identity of the end user.",
          "type": "string"
        },
        "continueUri": {
          "type": "string",
          "description": "Optional. The URI to redirect the user to after consent is completed. This field is required for auth providers using the 3-legged OAuth flow. For other auth provider types, this field is unused but not rejected."
        },
        "forceRefreshToken": {
          "description": "Optional. Input only. Set this field only if the previous token was expired or invalid. This value must be the full, previously returned token string. Setting this field triggers a refresh of the access token with a stored refresh token, if possible, or a new consent flow.",
          "type": "string"
        },
        "scopes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The OAuth scopes required for this access."
        }
      }
    },
    "GoogleCloudAgentidentitycredentialsV1beta_Pending": {
      "properties": {},
      "type": "object",
      "id": "GoogleCloudAgentidentitycredentialsV1beta_Pending",
      "description": "Indicates that the credential retrieval is pending. The caller should retry the `RetrieveCredentials` request after some time."
    },
    "GoogleCloudAgentidentitycredentialsV1beta_RetrieveCredentialsResponse": {
      "id": "GoogleCloudAgentidentitycredentialsV1beta_RetrieveCredentialsResponse",
      "properties": {
        "consentRejected": {
          "description": "Message indicating consent was rejected.",
          "$ref": "GoogleCloudAgentidentitycredentialsV1beta_ConsentRejected"
        },
        "pending": {
          "$ref": "GoogleCloudAgentidentitycredentialsV1beta_Pending",
          "description": "Message indicating credential retrieval is pending."
        },
        "uriConsentRequired": {
          "$ref": "GoogleCloudAgentidentitycredentialsV1beta_UriConsentRequired",
          "description": "Message indicating URI-based consent is required."
        },
        "success": {
          "description": "Message indicating credentials were successfully retrieved.",
          "$ref": "GoogleCloudAgentidentitycredentialsV1beta_Success"
        }
      },
      "type": "object",
      "description": "Response message for `RetrieveCredentials`. Contains the access tokens and related artifacts."
    },
    "GoogleCloudAgentidentitycredentialsV1beta_FinalizeCredentialsResponse": {
      "properties": {},
      "description": "Response message for `FinalizeCredentials`. Intentionally empty.",
      "type": "object",
      "id": "GoogleCloudAgentidentitycredentialsV1beta_FinalizeCredentialsResponse"
    }
  },
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "revision": "20260918",
  "rootUrl": "https://agentidentitycredentials.googleapis.com/",
  "batchPath": "batch",
  "servicePath": ""
}