{
  "batchPath": "batch",
  "description": "agentidentitycredentials.googleapis.com API.",
  "protocol": "rest",
  "kind": "discovery#restDescription",
  "revision": "20260730",
  "basePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "discoveryVersion": "v1",
  "rootUrl": "https://agentidentitycredentials.googleapis.com/",
  "parameters": {
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "alt": {
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response.",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    }
  },
  "ownerDomain": "google.com",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "schemas": {
    "GoogleCloudAgentidentitycredentialsV1alpha_RetrieveCredentialsRequest": {
      "description": "Request message for RetrieveCredentials.",
      "properties": {
        "scopes": {
          "type": "array",
          "description": "Optional. The OAuth scopes required for this access.",
          "items": {
            "type": "string"
          }
        },
        "continueUri": {
          "description": "Optional. The URI to redirect the user to after consent is completed. This field is required for authproviders using the 3-legged OAuth flow. For other authprovider types, this field is unused but not rejected.",
          "type": "string"
        },
        "userId": {
          "description": "Required. The identity of the end user.",
          "type": "string"
        },
        "forceRefreshToken": {
          "description": "Optional. Input only. Set this field only if the previous token was expired or invalid. This value must be the full, previously returned token string. Will trigger a refresh of the access token with a stored refresh token, if possible, or a new consent flow.",
          "type": "string"
        }
      },
      "id": "GoogleCloudAgentidentitycredentialsV1alpha_RetrieveCredentialsRequest",
      "type": "object"
    },
    "GoogleCloudAgentidentitycredentialsV1alpha_ConsentRejected": {
      "properties": {},
      "id": "GoogleCloudAgentidentitycredentialsV1alpha_ConsentRejected",
      "type": "object",
      "description": "Indicates the user has rejected the permission delegation or cancelled the request."
    },
    "GoogleCloudAgentidentitycredentialsV1alpha_FinalizeCredentialsResponse": {
      "description": "Response message for FinalizeCredentials. Intentionally empty",
      "id": "GoogleCloudAgentidentitycredentialsV1alpha_FinalizeCredentialsResponse",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudAgentidentitycredentialsV1alpha_Success": {
      "id": "GoogleCloudAgentidentitycredentialsV1alpha_Success",
      "type": "object",
      "properties": {
        "header": {
          "description": "The HTTP header name where the token should be placed.",
          "type": "string"
        },
        "expireTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The expiration time of the token. This does not guarantee that the token will be valid until this time, since the token could be revoked earlier. There could also be clock skew between the auth provider and the client so it may expire slightly earlier. If not set, the token might be permanent or it may be that the service does not (or cannot) know when it will expire."
        },
        "scopes": {
          "type": "array",
          "description": "The scopes actually associated with the retrieved token. End users may have rejected some requested scopes, or the third-party authorization servers can return a different set of scopes than what was asked for. Callers should verify that all required scopes for their intended use are included in this list.",
          "items": {
            "type": "string"
          }
        },
        "token": {
          "description": "The retrieved access token or credential for the end user. On MCPTool call, for an invalid token OAuth spec says this should return 401 or 403, but MCPServers may implement this differently. If you get any flavor of `PERMISSION_DENIED`, retry your original request to RetrieveCredentials with force_refresh_token set to the expired/invalid token string, which will fetch a new token or initiate a new consent flow.",
          "type": "string"
        }
      },
      "description": "Message indicating successful retrieval of credentials."
    },
    "GoogleCloudAgentidentitycredentialsV1alpha_UriConsentRequired": {
      "properties": {
        "uid": {
          "readOnly": true,
          "description": "Output only. The unique ID of the credentials retrieval operation.",
          "type": "string"
        },
        "consentNonce": {
          "readOnly": true,
          "description": "Output only. A one-time, randomly generated value that validates the entire consent flow is handled by a single user, avoiding CSRF attacks. It must be submitted with the FinalizeCredentials request to complete the OAuth exchange. This will always be present. Implemented per https://www.rfc-editor.org/rfc/rfc6819#section-5.3.5",
          "type": "string"
        },
        "authorizationUri": {
          "description": "Output only. The URL where the user should be redirected to grant consent. This will always be present.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleCloudAgentidentitycredentialsV1alpha_UriConsentRequired",
      "type": "object",
      "description": "Indicates that the user must visit the provided URI to consent to delegate permission to the agent to act on their behalf. The caller can either poll the `RetrieveCredentials` method, or await the /ValidateUserId callback"
    },
    "GoogleCloudAgentidentitycredentialsV1alpha_RetrieveCredentialsResponse": {
      "description": "Response message for RetrieveCredentials. Contains the access tokens and related artifacts.",
      "id": "GoogleCloudAgentidentitycredentialsV1alpha_RetrieveCredentialsResponse",
      "type": "object",
      "properties": {
        "uriConsentRequired": {
          "description": "Message indicating uri based consent is required.",
          "$ref": "GoogleCloudAgentidentitycredentialsV1alpha_UriConsentRequired"
        },
        "pending": {
          "description": "Message indicating credential retrieval is pending.",
          "$ref": "GoogleCloudAgentidentitycredentialsV1alpha_Pending"
        },
        "consentRejected": {
          "description": "Message indicating consent was rejected.",
          "$ref": "GoogleCloudAgentidentitycredentialsV1alpha_ConsentRejected"
        },
        "success": {
          "description": "Message indicating credentials were successfully retrieved.",
          "$ref": "GoogleCloudAgentidentitycredentialsV1alpha_Success"
        }
      }
    },
    "GoogleCloudAgentidentitycredentialsV1alpha_Pending": {
      "description": "Indicates that the credential retrieval is pending. The caller should retry the RetrieveCredentials request after some time.",
      "properties": {},
      "id": "GoogleCloudAgentidentitycredentialsV1alpha_Pending",
      "type": "object"
    },
    "GoogleCloudAgentidentitycredentialsV1alpha_FinalizeCredentialsRequest": {
      "description": "Request message for FinalizeCredentials.",
      "id": "GoogleCloudAgentidentitycredentialsV1alpha_FinalizeCredentialsRequest",
      "type": "object",
      "properties": {
        "userIdValidationState": {
          "description": "Required. The encrypted state passed back from the consent flow.",
          "format": "byte",
          "type": "string"
        },
        "consentNonce": {
          "description": "Required. The same consent_nonce value that was provided during redirect in the UriConsentRequired metadata.",
          "type": "string"
        },
        "userId": {
          "description": "Required. The identity of the end user.",
          "type": "string"
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "authProviders": {
              "resources": {
                "credentials": {
                  "methods": {
                    "retrieve": {
                      "request": {
                        "$ref": "GoogleCloudAgentidentitycredentialsV1alpha_RetrieveCredentialsRequest"
                      },
                      "parameters": {
                        "authProvider": {
                          "type": "string",
                          "description": "Required. The parent resource name of the AuthProvider. Format: `projects/{project}/locations/{location}/authProviders/{auth_provider}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/authProviders/[^/]+$",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "description": "Retrieves authorization credentials for an authprovider, or indicates what action needs to be taken to obtain credentials. If the `token` field in the response is populated, credential retrieval was successful. If one of the fields in the `status` oneof is populated, further action is required to obtain credentials, such as redirecting the user for consent. View comments on `RetrieveCredentialsResponse` for more information.",
                      "id": "agentidentitycredentials.projects.locations.authProviders.credentials.retrieve",
                      "httpMethod": "POST",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/authProviders/{authProvidersId}/credentials:retrieve",
                      "parameterOrder": [
                        "authProvider"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleCloudAgentidentitycredentialsV1alpha_RetrieveCredentialsResponse"
                      },
                      "path": "v1alpha/{+authProvider}/credentials:retrieve"
                    },
                    "finalize": {
                      "parameterOrder": [
                        "authProvider"
                      ],
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/authProviders/{authProvidersId}/credentials:finalize",
                      "path": "v1alpha/{+authProvider}/credentials:finalize",
                      "response": {
                        "$ref": "GoogleCloudAgentidentitycredentialsV1alpha_FinalizeCredentialsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "authProvider": {
                          "type": "string",
                          "description": "Required. The resource name of the AuthProvider. Format: `projects/{project}/locations/{location}/authProviders/{auth_provider}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/authProviders/[^/]+$",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "request": {
                        "$ref": "GoogleCloudAgentidentitycredentialsV1alpha_FinalizeCredentialsRequest"
                      },
                      "id": "agentidentitycredentials.projects.locations.authProviders.credentials.finalize",
                      "httpMethod": "POST",
                      "description": "Finalizes the credentials after a successful consent flow."
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "mtlsRootUrl": "https://agentidentitycredentials.mtls.googleapis.com/",
  "servicePath": "",
  "baseUrl": "https://agentidentitycredentials.googleapis.com/",
  "version": "v1alpha",
  "title": "Agent Identity Credentials API",
  "id": "agentidentitycredentials:v1alpha",
  "version_module": true,
  "canonicalName": "Agent Identity Credentials",
  "name": "agentidentitycredentials",
  "documentationLink": "https://cloud.google.com/iam/docs/",
  "ownerName": "Google"
}