{
  "documentationLink": "https://cloud.google.com/iam/docs/",
  "id": "agentidentitycredentials:v1alpha",
  "discoveryVersion": "v1",
  "basePath": "",
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "mtlsRootUrl": "https://agentidentitycredentials.mtls.googleapis.com/",
  "schemas": {
    "GoogleCloudAgentidentitycredentialsV1alpha_ConsentRejected": {
      "description": "Indicates the user has rejected the permission delegation or cancelled the request.",
      "type": "object",
      "id": "GoogleCloudAgentidentitycredentialsV1alpha_ConsentRejected",
      "properties": {}
    },
    "GoogleCloudAgentidentitycredentialsV1alpha_FinalizeCredentialsRequest": {
      "description": "Request message for FinalizeCredentials.",
      "type": "object",
      "id": "GoogleCloudAgentidentitycredentialsV1alpha_FinalizeCredentialsRequest",
      "properties": {
        "userIdValidationState": {
          "description": "Required. The encrypted state passed back from the consent flow.",
          "type": "string",
          "format": "byte"
        },
        "consentNonce": {
          "description": "Required. The same consent_nonce value that was provided during redirect in the UriConsentRequired metadata.",
          "type": "string"
        },
        "userId": {
          "description": "Required. The identity of the end user.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAgentidentitycredentialsV1alpha_Success": {
      "properties": {
        "token": {
          "description": "The retrieved access token or credential for the end user. On MCPTool call, for an invalid token OAuth spec says this should return 401 or 403, but MCPServers may implement this differently. If you get any flavor of `PERMISSION_DENIED`, retry your original request to RetrieveCredentials with force_refresh_token set to the expired/invalid token string, which will fetch a new token or initiate a new consent flow.",
          "type": "string"
        },
        "scopes": {
          "description": "The scopes actually associated with the retrieved token. End users may have rejected some requested scopes, or the third-party authorization servers can return a different set of scopes than what was asked for. Callers should verify that all required scopes for their intended use are included in this list.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "header": {
          "description": "The HTTP header name where the token should be placed.",
          "type": "string"
        },
        "expireTime": {
          "description": "The expiration time of the token. This does not guarantee that the token will be valid until this time, since the token could be revoked earlier. There could also be clock skew between the auth provider and the client so it may expire slightly earlier. If not set, the token might be permanent or it may be that the service does not (or cannot) know when it will expire.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudAgentidentitycredentialsV1alpha_Success",
      "description": "Message indicating successful retrieval of credentials.",
      "type": "object"
    },
    "GoogleCloudAgentidentitycredentialsV1alpha_Pending": {
      "properties": {},
      "description": "Indicates that the credential retrieval is pending. The caller should retry the RetrieveCredentials request after some time.",
      "type": "object",
      "id": "GoogleCloudAgentidentitycredentialsV1alpha_Pending"
    },
    "GoogleCloudAgentidentitycredentialsV1alpha_UriConsentRequired": {
      "properties": {
        "consentNonce": {
          "description": "Output only. A one-time, randomly generated value that validates the entire consent flow is handled by a single user, avoiding CSRF attacks. It must be submitted with the FinalizeCredentials request to complete the OAuth exchange. This will always be present. Implemented per https://www.rfc-editor.org/rfc/rfc6819#section-5.3.5",
          "type": "string",
          "readOnly": true
        },
        "authorizationUri": {
          "readOnly": true,
          "description": "Output only. The URL where the user should be redirected to grant consent. This will always be present.",
          "type": "string"
        },
        "uid": {
          "description": "Output only. The unique ID of the credentials retrieval operation.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Indicates that the user must visit the provided URI to consent to delegate permission to the agent to act on their behalf. The caller can either poll the `RetrieveCredentials` method, or await the /ValidateUserId callback",
      "type": "object",
      "id": "GoogleCloudAgentidentitycredentialsV1alpha_UriConsentRequired"
    },
    "GoogleCloudAgentidentitycredentialsV1alpha_FinalizeCredentialsResponse": {
      "properties": {},
      "description": "Response message for FinalizeCredentials. Intentionally empty",
      "type": "object",
      "id": "GoogleCloudAgentidentitycredentialsV1alpha_FinalizeCredentialsResponse"
    },
    "GoogleCloudAgentidentitycredentialsV1alpha_RetrieveCredentialsResponse": {
      "description": "Response message for RetrieveCredentials. Contains the access tokens and related artifacts.",
      "type": "object",
      "id": "GoogleCloudAgentidentitycredentialsV1alpha_RetrieveCredentialsResponse",
      "properties": {
        "success": {
          "description": "Message indicating credentials were successfully retrieved.",
          "$ref": "GoogleCloudAgentidentitycredentialsV1alpha_Success"
        },
        "pending": {
          "description": "Message indicating credential retrieval is pending.",
          "$ref": "GoogleCloudAgentidentitycredentialsV1alpha_Pending"
        },
        "uriConsentRequired": {
          "description": "Message indicating uri based consent is required.",
          "$ref": "GoogleCloudAgentidentitycredentialsV1alpha_UriConsentRequired"
        },
        "consentRejected": {
          "description": "Message indicating consent was rejected.",
          "$ref": "GoogleCloudAgentidentitycredentialsV1alpha_ConsentRejected"
        }
      }
    },
    "GoogleCloudAgentidentitycredentialsV1alpha_RetrieveCredentialsRequest": {
      "description": "Request message for RetrieveCredentials.",
      "type": "object",
      "id": "GoogleCloudAgentidentitycredentialsV1alpha_RetrieveCredentialsRequest",
      "properties": {
        "userId": {
          "description": "Required. The identity of the end user.",
          "type": "string"
        },
        "scopes": {
          "description": "Optional. The OAuth scopes required for this access.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "continueUri": {
          "description": "Optional. The URI to redirect the user to after consent is completed. This field is required for authproviders using the 3-legged OAuth flow. For other authprovider types, this field is unused but not rejected.",
          "type": "string"
        },
        "forceRefreshToken": {
          "description": "Optional. Input only. Set this field only if the previous token was expired or invalid. This value must be the full, previously returned token string. Will trigger a refresh of the access token with a stored refresh token, if possible, or a new consent flow.",
          "type": "string"
        }
      }
    }
  },
  "revision": "20260717",
  "parameters": {
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "alt": {
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    }
  },
  "rootUrl": "https://agentidentitycredentials.googleapis.com/",
  "version": "v1alpha",
  "servicePath": "",
  "title": "Agent Identity Credentials API",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "authProviders": {
              "resources": {
                "credentials": {
                  "methods": {
                    "finalize": {
                      "parameters": {
                        "authProvider": {
                          "description": "Required. The resource name of the AuthProvider. Format: `projects/{project}/locations/{location}/authProviders/{auth_provider}`",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/authProviders/[^/]+$",
                          "location": "path"
                        }
                      },
                      "id": "agentidentitycredentials.projects.locations.authProviders.credentials.finalize",
                      "request": {
                        "$ref": "GoogleCloudAgentidentitycredentialsV1alpha_FinalizeCredentialsRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "authProvider"
                      ],
                      "response": {
                        "$ref": "GoogleCloudAgentidentitycredentialsV1alpha_FinalizeCredentialsResponse"
                      },
                      "description": "Finalizes the credentials after a successful consent flow.",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/authProviders/{authProvidersId}/credentials:finalize",
                      "path": "v1alpha/{+authProvider}/credentials:finalize",
                      "httpMethod": "POST"
                    },
                    "retrieve": {
                      "httpMethod": "POST",
                      "path": "v1alpha/{+authProvider}/credentials:retrieve",
                      "parameterOrder": [
                        "authProvider"
                      ],
                      "response": {
                        "$ref": "GoogleCloudAgentidentitycredentialsV1alpha_RetrieveCredentialsResponse"
                      },
                      "description": "Retrieves authorization credentials for an authprovider, or indicates what action needs to be taken to obtain credentials. If the `token` field in the response is populated, credential retrieval was successful. If one of the fields in the `status` oneof is populated, further action is required to obtain credentials, such as redirecting the user for consent. View comments on `RetrieveCredentialsResponse` for more information.",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/authProviders/{authProvidersId}/credentials:retrieve",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "GoogleCloudAgentidentitycredentialsV1alpha_RetrieveCredentialsRequest"
                      },
                      "parameters": {
                        "authProvider": {
                          "description": "Required. The parent resource name of the AuthProvider. Format: `projects/{project}/locations/{location}/authProviders/{auth_provider}`",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/authProviders/[^/]+$",
                          "location": "path"
                        }
                      },
                      "id": "agentidentitycredentials.projects.locations.authProviders.credentials.retrieve"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "baseUrl": "https://agentidentitycredentials.googleapis.com/",
  "name": "agentidentitycredentials",
  "batchPath": "batch",
  "description": "agentidentitycredentials.googleapis.com API.",
  "ownerDomain": "google.com",
  "protocol": "rest",
  "version_module": true,
  "canonicalName": "Agent Identity Credentials",
  "fullyEncodeReservedExpansion": true
}