{
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "revision": "20260821",
  "id": "agentregistry:v1alpha",
  "title": "Agent Registry API",
  "version_module": true,
  "version": "v1alpha",
  "name": "agentregistry",
  "protocol": "rest",
  "rootUrl": "https://agentregistry.googleapis.com/",
  "mtlsRootUrl": "https://agentregistry.mtls.googleapis.com/",
  "schemas": {
    "ListEndpointsResponse": {
      "id": "ListEndpointsResponse",
      "description": "Message for response to listing Endpoints",
      "properties": {
        "endpoints": {
          "description": "The list of Endpoint resources matching the parent and filter criteria in the request. Each Endpoint resource follows the format: `projects/{project}/locations/{location}/endpoints/{endpoint}`.",
          "type": "array",
          "items": {
            "$ref": "Endpoint"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return. Used in page_token.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Location": {
      "id": "Location",
      "description": "A resource that represents a Google Cloud location.",
      "properties": {
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      },
      "type": "object"
    },
    "ListMcpServersResponse": {
      "id": "ListMcpServersResponse",
      "description": "Message for response to listing McpServers",
      "properties": {
        "mcpServers": {
          "items": {
            "$ref": "McpServer"
          },
          "type": "array",
          "description": "The list of McpServers."
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ArchiveUploadSource": {
      "type": "object",
      "id": "ArchiveUploadSource",
      "description": "Direct write-only raw archive payload upload.",
      "properties": {
        "archiveContent": {
          "description": "Required. Input only. Write-only raw ZIP/TAR archive payload bytes containing the skill package.",
          "type": "string",
          "format": "byte"
        }
      }
    },
    "ListOperationsResponse": {
      "type": "object",
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Binding": {
      "type": "object",
      "id": "Binding",
      "description": "Represents a user-defined Binding.",
      "properties": {
        "authProviderBinding": {
          "$ref": "AuthProviderBinding",
          "description": "The binding for AuthProvider."
        },
        "source": {
          "description": "Required. The target Agent of the Binding.",
          "$ref": "Source"
        },
        "updateTime": {
          "description": "Output only. Timestamp when this binding was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "displayName": {
          "description": "Optional. User-defined display name for the Binding. Can have a maximum length of `63` characters.",
          "type": "string"
        },
        "target": {
          "$ref": "Target",
          "description": "Required. The target Agent Registry Resource of the Binding."
        },
        "name": {
          "description": "Required. Identifier. The resource name of the Binding. Format: `projects/{project}/locations/{location}/bindings/{binding}`.",
          "type": "string"
        },
        "description": {
          "description": "Optional. User-defined description of a Binding. Can have a maximum length of `2048` characters.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Timestamp when this binding was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "AuthProviderBinding": {
      "id": "AuthProviderBinding",
      "description": "The AuthProvider of the Binding.",
      "properties": {
        "authProvider": {
          "description": "Required. The resource name of the target AuthProvider. Format: * `projects/{project}/locations/{location}/authProviders/{auth_provider}`",
          "type": "string"
        },
        "continueUri": {
          "description": "Optional. The continue URI of the AuthProvider. The URI is used to reauthenticate the user and finalize the managed OAuth flow.",
          "type": "string"
        },
        "scopes": {
          "description": "Optional. The list of OAuth2 scopes of the AuthProvider.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "Operation": {
      "type": "object",
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        }
      }
    },
    "SearchAgentsResponse": {
      "id": "SearchAgentsResponse",
      "description": "Message for response to searching Agents",
      "properties": {
        "agents": {
          "type": "array",
          "items": {
            "$ref": "Agent"
          },
          "description": "A list of Agents that match the `search_string`."
        },
        "nextPageToken": {
          "description": "If there are more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Annotations": {
      "type": "object",
      "id": "Annotations",
      "description": "Annotations describing the characteristics and behavior of a tool or operation.",
      "properties": {
        "destructiveHint": {
          "type": "boolean",
          "description": "Output only. If true, the tool may perform destructive updates to its environment. If false, the tool performs only additive updates. NOTE: This property is meaningful only when `read_only_hint == false` Default: true",
          "readOnly": true
        },
        "readOnlyHint": {
          "description": "Output only. If true, the tool does not modify its environment. Default: false",
          "readOnly": true,
          "type": "boolean"
        },
        "idempotentHint": {
          "type": "boolean",
          "description": "Output only. If true, calling the tool repeatedly with the same arguments will have no additional effect on its environment. NOTE: This property is meaningful only when `read_only_hint == false` Default: false",
          "readOnly": true
        },
        "title": {
          "type": "string",
          "description": "Output only. A human-readable title for the tool.",
          "readOnly": true
        },
        "openWorldHint": {
          "description": "Output only. If true, this tool may interact with an \"open world\" of external entities. If false, the tool's domain of interaction is closed. For example, the world of a web search tool is open, whereas that of a memory tool is not. Default: true",
          "readOnly": true,
          "type": "boolean"
        }
      }
    },
    "Source": {
      "id": "Source",
      "description": "The source of the Binding.",
      "properties": {
        "identifier": {
          "description": "The identifier of the source Agent. Format: * `urn:agent:{publisher}:{namespace}:{name}`",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SkillRevision": {
      "id": "SkillRevision",
      "description": "Represents an immutable, versioned snapshot of a Skill package.",
      "properties": {
        "gcsSource": {
          "description": "Optional. Immutable. Cloud Storage object generation URI.",
          "$ref": "GcsSource"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Revision creation timestamp.",
          "readOnly": true
        },
        "sizeBytes": {
          "description": "Output only. Size of the compiled zip payload in bytes (assists client download progress).",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "archiveUploadSource": {
          "description": "Optional. Immutable. Direct write-only raw archive upload source.",
          "$ref": "ArchiveUploadSource"
        },
        "uid": {
          "type": "string",
          "description": "Output only. Universally unique identifier (UUID4) for the skill revision.",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. Resource name of the SkillRevision. Format: `projects/{project}/locations/{location}/skills/{skill}/revisions/{revision}`",
          "type": "string"
        },
        "state": {
          "description": "Output only. The system-managed lifecycle state of this revision.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "FAILED",
            "DELETING"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The revision is being created.",
            "The revision is active.",
            "The revision failed to compile or ingest.",
            "The revision is being deleted."
          ]
        },
        "sha256Hash": {
          "type": "string",
          "description": "Output only. Cryptographic SHA-256 integrity and deduplication digest of the payload zip.",
          "readOnly": true
        },
        "frontmatter": {
          "$ref": "Frontmatter",
          "description": "Output only. Extracted YAML frontmatter configuration snapshot.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "Status": {
      "type": "object",
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      }
    },
    "Target": {
      "id": "Target",
      "description": "The target of the Binding.",
      "properties": {
        "identifier": {
          "description": "The identifier of the target Agent, MCP Server, or Endpoint. Format: * `urn:agent:{publisher}:{namespace}:{name}` * `urn:mcp:{publisher}:{namespace}:{name}` * `urn:endpoint:{publisher}:{namespace}:{name}`",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Frontmatter": {
      "id": "Frontmatter",
      "description": "Structured metadata attributes extracted from the package's local SKILL.md frontmatter.",
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Extensible flattened map mapping custom tags, authors, and version parameters."
        },
        "name": {
          "description": "Required. The name of the skill.",
          "type": "string"
        },
        "description": {
          "description": "Required. Functional description.",
          "type": "string"
        },
        "license": {
          "description": "Optional. License.",
          "type": "string"
        },
        "compatibility": {
          "description": "Optional. Environmental dependencies or local sidecars.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Interface": {
      "type": "object",
      "id": "Interface",
      "description": "Represents the connection details for an Agent or MCP Server.",
      "properties": {
        "url": {
          "description": "Required. The destination URL.",
          "type": "string"
        },
        "protocolBinding": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified transport protocol.",
            "JSON-RPC specification.",
            "gRPC specification.",
            "HTTP+JSON specification."
          ],
          "description": "Required. The protocol binding of the interface.",
          "enum": [
            "PROTOCOL_BINDING_UNSPECIFIED",
            "JSONRPC",
            "GRPC",
            "HTTP_JSON"
          ]
        }
      }
    },
    "A2ASkill": {
      "id": "A2ASkill",
      "description": "Represents the skills of an Agent.",
      "properties": {
        "examples": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. Example prompts or scenarios this skill can handle.",
          "readOnly": true
        },
        "tags": {
          "description": "Output only. Keywords describing the skill.",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "Output only. A human-readable name for the agent's skill.",
          "readOnly": true
        },
        "id": {
          "description": "Output only. A unique identifier for the agent's skill.",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Output only. A more detailed description of the skill.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "SearchSkillsResponse": {
      "id": "SearchSkillsResponse",
      "description": "Response listing searched Skills.",
      "properties": {
        "nextPageToken": {
          "description": "Query page offset continuation token.",
          "type": "string"
        },
        "skills": {
          "description": "Matched Skills list.",
          "items": {
            "$ref": "Skill"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GcsSource": {
      "id": "GcsSource",
      "description": "Specifications for Cloud Storage objects.",
      "properties": {
        "uri": {
          "description": "Required. Cloud Storage object URI. Format: `gs://{bucket_name}/{object_name}`",
          "type": "string"
        },
        "generation": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Cloud Storage object generation ID. If not specified, the latest generation is used."
        }
      },
      "type": "object"
    },
    "ListBindingsResponse": {
      "type": "object",
      "id": "ListBindingsResponse",
      "description": "Message for response to listing Bindings",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return. Used in page_token.",
          "type": "string"
        },
        "bindings": {
          "type": "array",
          "items": {
            "$ref": "Binding"
          },
          "description": "The list of Binding resources matching the parent and filter criteria in the request. Each Binding resource follows the format: `projects/{project}/locations/{location}/bindings/{binding}`."
        }
      }
    },
    "Tool": {
      "id": "Tool",
      "description": "Represents a single tool provided by an MCP Server.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. Human-readable name of the tool.",
          "readOnly": true
        },
        "description": {
          "description": "Output only. Description of what the tool does.",
          "readOnly": true,
          "type": "string"
        },
        "annotations": {
          "$ref": "Annotations",
          "description": "Output only. Annotations associated with the tool.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "ListSkillRevisionsResponse": {
      "type": "object",
      "id": "ListSkillRevisionsResponse",
      "description": "Response listing Revisions.",
      "properties": {
        "skillRevisions": {
          "items": {
            "$ref": "SkillRevision"
          },
          "type": "array",
          "description": "Returned version snapshot list."
        },
        "nextPageToken": {
          "description": "Page offset continuation token.",
          "type": "string"
        }
      }
    },
    "Endpoint": {
      "id": "Endpoint",
      "description": "Represents an Endpoint.",
      "properties": {
        "attributes": {
          "type": "object",
          "additionalProperties": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object."
            }
          },
          "description": "Output only. Attributes of the Endpoint. Valid values: * `agentregistry.googleapis.com/system/RuntimeReference`: {\"uri\": \"//...\"} - the URI of the underlying resource hosting the Endpoint, for example, the GKE Deployment.",
          "readOnly": true
        },
        "endpointId": {
          "description": "Output only. A stable, globally unique identifier for Endpoint.",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Update time.",
          "readOnly": true
        },
        "displayName": {
          "description": "Output only. Display name for the Endpoint.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the Endpoint. Format: `projects/{project}/locations/{location}/endpoints/{endpoint}`.",
          "type": "string"
        },
        "description": {
          "description": "Output only. Description of an Endpoint.",
          "readOnly": true,
          "type": "string"
        },
        "interfaces": {
          "items": {
            "$ref": "Interface"
          },
          "type": "array",
          "description": "Required. The connection details for the Endpoint."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Create time.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "OperationMetadata": {
      "type": "object",
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "apiVersion": {
          "type": "string",
          "description": "Output only. API version used to start the operation.",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "target": {
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true
        }
      }
    },
    "Protocol": {
      "id": "Protocol",
      "description": "Represents the protocol of an Agent.",
      "properties": {
        "protocolVersion": {
          "type": "string",
          "description": "Output only. The version of the protocol, for example, the A2A Agent Card version.",
          "readOnly": true
        },
        "type": {
          "readOnly": true,
          "enum": [
            "TYPE_UNSPECIFIED",
            "A2A_AGENT",
            "CUSTOM"
          ],
          "enumDescriptions": [
            "Unspecified type.",
            "The interfaces point to an A2A Agent following the A2A specification.",
            "Agent does not follow any standard protocol."
          ],
          "description": "Output only. The type of the protocol.",
          "type": "string"
        },
        "interfaces": {
          "description": "Output only. The connection details for the Agent.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "Interface"
          }
        }
      },
      "type": "object"
    },
    "ListSkillsResponse": {
      "id": "ListSkillsResponse",
      "description": "Response structure listing logical Skills.",
      "properties": {
        "nextPageToken": {
          "description": "Page continuation continuation token.",
          "type": "string"
        },
        "skills": {
          "description": "Returned container list.",
          "type": "array",
          "items": {
            "$ref": "Skill"
          }
        },
        "unreachable": {
          "description": "Unreachable locations or failures.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "Empty": {
      "type": "object",
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "AgentSpec": {
      "id": "AgentSpec",
      "description": "The spec of the agent.",
      "properties": {
        "type": {
          "description": "Required. The type of the agent spec content.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "NO_SPEC",
            "A2A_AGENT_CARD"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified type.",
            "There is no spec for the Agent. The `content` field must be empty.",
            "The content is an A2A Agent Card following the A2A specification. The `interfaces` field must be empty."
          ]
        },
        "content": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Optional. The content of the Agent spec in the JSON format. This payload is validated against the schema for the specified type. The content size is limited to `10KB`."
        }
      },
      "type": "object"
    },
    "McpServer": {
      "id": "McpServer",
      "description": "Represents an MCP (Model Context Protocol) Server.",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the MCP Server. Format: `projects/{project}/locations/{location}/mcpServers/{mcp_server}`.",
          "type": "string"
        },
        "interfaces": {
          "description": "Output only. The connection details for the MCP Server.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "Interface"
          }
        },
        "mcpServerId": {
          "type": "string",
          "description": "Output only. A stable, globally unique identifier for MCP Servers.",
          "readOnly": true
        },
        "attributes": {
          "description": "Output only. Attributes of the MCP Server. Valid values: * `agentregistry.googleapis.com/system/RuntimeIdentity`: {\"principal\": \"principal://...\"} - the runtime identity associated with the MCP Server. * `agentregistry.googleapis.com/system/RuntimeReference`: {\"uri\": \"//...\"} - the URI of the underlying resource hosting the MCP Server, for example, the GKE Deployment.",
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object."
            }
          }
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Update time.",
          "readOnly": true
        },
        "displayName": {
          "description": "Output only. The display name of the MCP Server.",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Output only. The description of the MCP Server.",
          "readOnly": true
        },
        "tools": {
          "type": "array",
          "items": {
            "$ref": "Tool"
          },
          "description": "Output only. Tools provided by the MCP Server.",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. Create time.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "ListPublishersResponse": {
      "type": "object",
      "id": "ListPublishersResponse",
      "description": "Response listing Publishers.",
      "properties": {
        "publishers": {
          "description": "The returned list of Publishers.",
          "items": {
            "$ref": "Publisher"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Page offset continuation token.",
          "type": "string"
        }
      }
    },
    "ListAgentsResponse": {
      "id": "ListAgentsResponse",
      "description": "Message for response to listing Agents",
      "properties": {
        "agents": {
          "items": {
            "$ref": "Agent"
          },
          "type": "array",
          "description": "The list of Agents."
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "EndpointSpec": {
      "type": "object",
      "id": "EndpointSpec",
      "description": "The spec of the endpoint.",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified type.",
            "There is no spec for the Endpoint. The `content` field must be empty."
          ],
          "description": "Required. The type of the endpoint spec content.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "NO_SPEC"
          ]
        },
        "content": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Optional. The content of the endpoint spec. Reserved for future use."
        }
      }
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "properties": {},
      "type": "object"
    },
    "Publisher": {
      "type": "object",
      "id": "Publisher",
      "description": "Represents a verified Publisher of Skills. Prepopulated publishers include `publishers/cloud.google.com` and `publishers/workspace.google.com`.",
      "properties": {
        "displayName": {
          "description": "Optional. Human readable display name of the publisher.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. Resource name of the publisher. Format: `projects/{project}/locations/{location}/publishers/{publisher}`",
          "type": "string"
        },
        "verifiedPrefix": {
          "description": "Required. The verified prefix (e.g. \"snowflake-\", \"google-\") associated with this publisher. The system uses this prefix to enforce name-squatting rules during Skill registration. Must be globally unique across all publishers.",
          "type": "string"
        },
        "publisherTier": {
          "type": "string",
          "description": "Output only. The curation tier of the publisher.",
          "enumDescriptions": [
            "Default value. Unspecified.",
            "First-party Google-curated and verified global publishers.",
            "Third-party verified enterprise partner publishers.",
            "Private publishers within the developer's workspace/project."
          ],
          "readOnly": true,
          "enum": [
            "PUBLISHER_TIER_UNSPECIFIED",
            "FIRST_PARTY",
            "THIRD_PARTY",
            "PRIVATE"
          ]
        },
        "documentationUri": {
          "description": "Optional. URI pointing to official publisher documentation.",
          "type": "string"
        },
        "supportUri": {
          "description": "Optional. URI pointing to the support portal or email.",
          "type": "string"
        }
      }
    },
    "Agent": {
      "type": "object",
      "id": "Agent",
      "description": "Represents an Agent. \"A2A\" below refers to the Agent-to-Agent protocol.",
      "properties": {
        "uid": {
          "type": "string",
          "description": "Output only. A universally unique identifier for the Agent.",
          "readOnly": true
        },
        "protocols": {
          "description": "Output only. The connection details for the Agent.",
          "readOnly": true,
          "items": {
            "$ref": "Protocol"
          },
          "type": "array"
        },
        "createTime": {
          "description": "Output only. Create time.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "agentId": {
          "description": "Output only. A stable, globally unique identifier for agents.",
          "readOnly": true,
          "type": "string"
        },
        "attributes": {
          "description": "Output only. Attributes of the Agent. Valid values: * `agentregistry.googleapis.com/system/Framework`: {\"framework\": \"google-adk\"} - the agent framework used to develop the Agent. Example values: \"google-adk\", \"langchain\", \"custom\". * `agentregistry.googleapis.com/system/RuntimeIdentity`: {\"principal\": \"principal://...\"} - the runtime identity associated with the Agent. * `agentregistry.googleapis.com/system/RuntimeReference`: {\"uri\": \"//...\"} - the URI of the underlying resource hosting the Agent, for example, the Reasoning Engine URI.",
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object."
            }
          }
        },
        "name": {
          "description": "Identifier. The resource name of an Agent. Format: `projects/{project}/locations/{location}/agents/{agent}`.",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "Output only. The location where agent is hosted. The value is defined by the hosting environment (i.e. cloud provider).",
          "readOnly": true
        },
        "version": {
          "type": "string",
          "description": "Output only. The version of the Agent, often obtained from the A2A Agent Card. Empty if Agent Card has no version or agent is not an A2A Agent.",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "Output only. The description of the Agent, often obtained from the A2A Agent Card. Empty if Agent Card has no description.",
          "readOnly": true
        },
        "skills": {
          "items": {
            "$ref": "A2ASkill"
          },
          "type": "array",
          "description": "Output only. Skills the agent possesses, often obtained from the A2A Agent Card.",
          "readOnly": true
        },
        "displayName": {
          "description": "Output only. The display name of the agent, often obtained from the A2A Agent Card.",
          "readOnly": true,
          "type": "string"
        },
        "card": {
          "$ref": "Card",
          "description": "Output only. Full Agent Card payload, when available.",
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. Update time.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "SearchMcpServersResponse": {
      "id": "SearchMcpServersResponse",
      "description": "Message for response to searching MCP Servers",
      "properties": {
        "mcpServers": {
          "description": "A list of McpServers that match the `search_string`.",
          "type": "array",
          "items": {
            "$ref": "McpServer"
          }
        },
        "nextPageToken": {
          "description": "If there are more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SearchAgentsRequest": {
      "type": "object",
      "id": "SearchAgentsRequest",
      "description": "Message for searching Agents",
      "properties": {
        "pageToken": {
          "description": "Optional. If present, retrieve the next batch of results from the preceding call to this method. `page_token` must be the value of `next_page_token` from the previous response. The values of all other method parameters, must be identical to those in the previous call.",
          "type": "string"
        },
        "searchString": {
          "description": "Optional. Search criteria used to select the Agents to return. If no search criteria is specified then all accessible Agents will be returned. Search expressions can be used to restrict results based upon searchable fields, where the operators can be used along with the suffix wildcard symbol `*`. See [instructions](https://docs.cloud.google.com/agent-registry/search-agents-and-tools) for more details. Allowed operators: `=`, `:`, `NOT`, `AND`, `OR`, and `()`. Searchable fields: | Field | `=` | `:` | `*` | Keyword Search | |--------------------|-----|-----|-----|----------------| | agentId | Yes | Yes | Yes | Included | | name | No | Yes | Yes | Included | | displayName | No | Yes | Yes | Included | | description | No | Yes | No | Included | | skills | No | Yes | No | Included | | skills.id | No | Yes | No | Included | | skills.name | No | Yes | No | Included | | skills.description | No | Yes | No | Included | | skills.tags | No | Yes | No | Included | | skills.examples | No | Yes | No | Included | Examples: * `agentId=\"urn:agent:projects-123:projects:123:locations:us-central1:reasoningEngines:1234\"` to find the agent with the specified agent ID. * `name:important` to find agents whose name contains `important` as a word. * `displayName:works*` to find agents whose display name contains words that start with `works`. * `skills.tags:test` to find agents whose skills tags contain `test`. * `planner OR booking` to find agents whose metadata contains the words `planner` or `booking`.",
          "type": "string"
        },
        "pageSize": {
          "description": "Optional. The maximum number of search results to return per page. The page size is capped at `100`, even if a larger value is specified. A negative value will result in an `INVALID_ARGUMENT` error. If unspecified or set to `0`, a default value of `20` will be used. The server may return fewer results than requested.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "SearchMcpServersRequest": {
      "type": "object",
      "id": "SearchMcpServersRequest",
      "description": "Message for searching MCP Servers",
      "properties": {
        "searchString": {
          "description": "Optional. Search criteria used to select the MCP Servers to return. If no search criteria is specified then all accessible MCP Servers will be returned. Search expressions can be used to restrict results based upon searchable fields, where the operators can be used along with the suffix wildcard symbol `*`. See [instructions](https://docs.cloud.google.com/agent-registry/search-agents-and-tools) for more details. Allowed operators: `=`, `:`, `NOT`, `AND`, `OR`, and `()`. Searchable fields: | Field | `=` | `:` | `*` | Keyword Search | |--------------------|-----|-----|-----|----------------| | mcpServerId | Yes | Yes | Yes | Included | | name | No | Yes | Yes | Included | | displayName | No | Yes | Yes | Included | Examples: * `mcpServerId=\"urn:mcp:projects-123:projects:123:locations:us-central1:agentregistry:services:service-id\"` to find the MCP Server with the specified MCP Server ID. * `name:important` to find MCP Servers whose name contains `important` as a word. * `displayName:works*` to find MCP Servers whose display name contains words that start with `works`. * `planner OR booking` to find MCP Servers whose metadata contains the words `planner` or `booking`. * `mcpServerId:service-id AND (displayName:planner OR displayName:booking)` to find MCP Servers whose MCP Server ID contains `service-id` and whose display name contains `planner` or `booking`.",
          "type": "string"
        },
        "pageToken": {
          "description": "Optional. If present, retrieve the next batch of results from the preceding call to this method. `page_token` must be the value of `next_page_token` from the previous response. The values of all other method parameters, must be identical to those in the previous call.",
          "type": "string"
        },
        "pageSize": {
          "description": "Optional. The maximum number of search results to return per page. The page size is capped at `100`, even if a larger value is specified. A negative value will result in an `INVALID_ARGUMENT` error. If unspecified or set to `0`, a default value of `20` will be used. The server may return fewer results than requested.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "Service": {
      "type": "object",
      "id": "Service",
      "description": "Represents a user-defined Service.",
      "properties": {
        "displayName": {
          "description": "Optional. User-defined display name for the Service. Can have a maximum length of `63` characters.",
          "type": "string"
        },
        "registryResource": {
          "description": "Output only. The resource name of the resulting Agent, MCP Server, or Endpoint. Format: * `projects/{project}/locations/{location}/mcpServers/{mcp_server}` * `projects/{project}/locations/{location}/agents/{agent}` * `projects/{project}/locations/{location}/endpoints/{endpoint}`",
          "readOnly": true,
          "type": "string"
        },
        "agentSpec": {
          "$ref": "AgentSpec",
          "description": "Optional. The spec of the Agent. When `agent_spec` is set, the type of the service is Agent."
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Update time.",
          "readOnly": true
        },
        "endpointSpec": {
          "description": "Optional. The spec of the Endpoint. When `endpoint_spec` is set, the type of the service is Endpoint.",
          "$ref": "EndpointSpec"
        },
        "interfaces": {
          "description": "Optional. The connection details for the Service.",
          "type": "array",
          "items": {
            "$ref": "Interface"
          }
        },
        "name": {
          "description": "Identifier. The resource name of the Service. Format: `projects/{project}/locations/{location}/services/{service}`.",
          "type": "string"
        },
        "mcpServerSpec": {
          "$ref": "McpServerSpec",
          "description": "Optional. The spec of the MCP Server. When `mcp_server_spec` is set, the type of the service is MCP Server."
        },
        "createTime": {
          "description": "Output only. Create time.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "description": {
          "description": "Optional. User-defined description of an Service. Can have a maximum length of `2048` characters.",
          "type": "string"
        }
      }
    },
    "ListLocationsResponse": {
      "type": "object",
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "locations": {
          "type": "array",
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "ListServicesResponse": {
      "id": "ListServicesResponse",
      "description": "Message for response to listing Services",
      "properties": {
        "services": {
          "type": "array",
          "items": {
            "$ref": "Service"
          },
          "description": "The list of Service resources matching the parent and filter criteria in the request. Each Service resource follows the format: `projects/{project}/locations/{location}/services/{service}`."
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return. Used in page_token.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Skill": {
      "id": "Skill",
      "description": "Represents an Executable Agent Skill or a Composite Tool Suite (Bundle). Sibling resource with Agent and McpServer under agentregistry.googleapis.com.",
      "properties": {
        "createTime": {
          "description": "Output only. Create time.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "initialRevision": {
          "$ref": "SkillRevision",
          "description": "Optional. Input only. Optional nested initial revision payload to support standard one-shot creation. The server processes this field on input during creation but must never return it in responses."
        },
        "uid": {
          "type": "string",
          "description": "Output only. Universally unique identifier (UUID4) for the logical container.",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. Resource name of the Skill. Format: `projects/{project}/locations/{location}/skills/{skill}` The `{skill}` segment acts as the resource ID. If the skill is associated with a Publisher, this segment typically uses a hyphenated namespace prefix corresponding to the publisher (e.g., `google-workspace-create-docs`).",
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "STATE_CREATING",
            "STATE_DRAFT",
            "STATE_ACTIVE",
            "STATE_DISABLED",
            "STATE_DEPRECATED",
            "STATE_DECOMMISSIONED",
            "STATE_DELETING"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The skill is being created. It is not served.",
            "The skill is in draft, or lacks a valid payload. It is not served.",
            "The skill is active and is served.",
            "The skill is disabled and is not served.",
            "The skill is deprecated. It is served, but emits warnings.",
            "The skill is decommissioned and is not served.",
            "The skill is being deleted. It is not served."
          ],
          "description": "Output only. The system-managed state of the skill.",
          "type": "string"
        },
        "frontmatter": {
          "$ref": "Frontmatter",
          "description": "Output only. Lightweight frontmatter metadata attributes copied from the default revision.",
          "readOnly": true
        },
        "publisher": {
          "description": "Optional. The publisher resource associated with this skill. Format: `projects/{project}/locations/{location}/publishers/{publisher}` The publisher dictates the allowed namespace prefixes for the skill's name and logical `skill_id` (e.g., Publisher `google` authorizes the `google-*` prefix).",
          "type": "string"
        },
        "description": {
          "description": "Optional. Brief summary describing the capabilities of the skill. Maximum length is 2048 characters.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "A standard, leaf executable skill containing natural language and code."
          ],
          "description": "Required. Structural deployment type (SIMPLE leaf vs COMPOSITE bundle).",
          "enum": [
            "TYPE_UNSPECIFIED",
            "SIMPLE"
          ]
        },
        "defaultRevision": {
          "description": "Optional. The full resource name of the revision currently served by default (floating track). Format: `projects/{project}/locations/{location}/skills/{skill}/revisions/{revision}`",
          "type": "string"
        },
        "skillId": {
          "description": "Output only. A stable, globally unique logical identifier for the skill. It is securely constructed by the backend by combining the associated `publisher`'s verified namespace and the skill's resource ID to enforce strict ownership. For example, the prefix `google-` is reserved exclusively for first-party Google publishers to prevent namespace squatting. Example: `urn:skill:google-workspace:create-docs`",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. Update time.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "displayName": {
          "description": "Required. Human-readable display name of the skill. Maximum length is 128 characters.",
          "type": "string"
        },
        "targetState": {
          "description": "Required. User-managed target state of the skill.",
          "enum": [
            "TARGET_STATE_UNSPECIFIED",
            "TARGET_STATE_DRAFT",
            "TARGET_STATE_ACTIVE",
            "TARGET_STATE_DISABLED",
            "TARGET_STATE_DEPRECATED",
            "TARGET_STATE_DECOMMISSIONED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The skill is in draft and cannot be served.",
            "The skill is active and can be served.",
            "The skill is disabled and cannot be served.",
            "The skill is deprecated. It can still be served, but emits warnings.",
            "The skill is decommissioned and cannot be served."
          ]
        }
      },
      "type": "object"
    },
    "Card": {
      "id": "Card",
      "description": "Full Agent Card payload, often obtained from the A2A Agent Card.",
      "properties": {
        "type": {
          "type": "string",
          "description": "Output only. The type of agent card.",
          "enumDescriptions": [
            "Unspecified type.",
            "Indicates that the card is an A2A Agent Card."
          ],
          "readOnly": true,
          "enum": [
            "TYPE_UNSPECIFIED",
            "A2A_AGENT_CARD"
          ]
        },
        "content": {
          "description": "Output only. The content of the agent card.",
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "type": "object"
    },
    "FetchAvailableBindingsResponse": {
      "id": "FetchAvailableBindingsResponse",
      "description": "Message for response to fetching available Bindings.",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "bindings": {
          "type": "array",
          "items": {
            "$ref": "Binding"
          },
          "description": "The list of Bindings."
        }
      },
      "type": "object"
    },
    "McpServerSpec": {
      "id": "McpServerSpec",
      "description": "The spec of the MCP Server.",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified type.",
            "There is no spec for the MCP Server. The `content` field must be empty.",
            "The content is a MCP Tool Spec following the One MCP specification. The payload is the same as the `tools/list` response."
          ],
          "description": "Required. The type of the MCP Server spec content.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "NO_SPEC",
            "TOOL_SPEC"
          ]
        },
        "content": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Optional. The content of the MCP Server spec. This payload is validated against the schema for the specified type. The content size is limited to `10KB`."
        }
      },
      "type": "object"
    }
  },
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "get": {
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}",
              "httpMethod": "GET",
              "response": {
                "$ref": "Location"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/agentregistry.read-only",
                "https://www.googleapis.com/auth/agentregistry.read-write",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "Resource name for the location.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path"
                }
              },
              "id": "agentregistry.projects.locations.get",
              "description": "Gets information about a location.",
              "path": "v1alpha/{+name}"
            },
            "list": {
              "flatPath": "v1alpha/projects/{projectsId}/locations",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query",
                  "type": "string"
                },
                "extraLocationTypes": {
                  "type": "string",
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "repeated": true,
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "The maximum number of results to return. If not set, the service selects a default."
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page."
                },
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "description": "The resource that owns the locations collection, if applicable."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/agentregistry.read-only",
                "https://www.googleapis.com/auth/agentregistry.read-write",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "id": "agentregistry.projects.locations.list",
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "path": "v1alpha/{+name}/locations"
            }
          },
          "resources": {
            "publishers": {
              "methods": {
                "list": {
                  "id": "agentregistry.projects.locations.publishers.list",
                  "description": "Lists all Publishers in a location.",
                  "path": "v1alpha/{+parent}/publishers",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/publishers",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListPublishersResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/agentregistry.read-only",
                    "https://www.googleapis.com/auth/agentregistry.read-write",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. Parent location to query. Format: `projects/{project}/locations/{location}`",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "Optional. Page limit size."
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. Page offset token.",
                      "type": "string"
                    }
                  }
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/agentregistry.read-only",
                    "https://www.googleapis.com/auth/agentregistry.read-write",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. Target publisher resource name. Format: `projects/{project}/locations/{location}/publishers/{publisher}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/publishers/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Publisher"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/publishers/{publishersId}",
                  "path": "v1alpha/{+name}",
                  "id": "agentregistry.projects.locations.publishers.get",
                  "description": "Fetches details of a specific Publisher."
                }
              }
            },
            "mcpServers": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/agentregistry.read-only",
                    "https://www.googleapis.com/auth/agentregistry.read-write",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A token identifying a page of results the server should return.",
                      "location": "query"
                    },
                    "orderBy": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Hint for how to order the results"
                    },
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. Parent value for ListMcpServersRequest. Format: `projects/{project}/locations/{location}`.",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "filter": {
                      "description": "Optional. Filtering results",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/mcpServers",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListMcpServersResponse"
                  },
                  "path": "v1alpha/{+parent}/mcpServers",
                  "id": "agentregistry.projects.locations.mcpServers.list",
                  "description": "Lists McpServers in a given project and location."
                },
                "search": {
                  "path": "v1alpha/{+parent}/mcpServers:search",
                  "id": "agentregistry.projects.locations.mcpServers.search",
                  "description": "Searches McpServers in a given project and location.",
                  "request": {
                    "$ref": "SearchMcpServersRequest"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. Parent value for SearchMcpServersRequest. Format: `projects/{project}/locations/{location}`.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/agentregistry.read-only",
                    "https://www.googleapis.com/auth/agentregistry.read-write",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/mcpServers:search",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "SearchMcpServersResponse"
                  }
                },
                "get": {
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "McpServer"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/mcpServers/{mcpServersId}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/mcpServers/[^/]+$",
                      "location": "path",
                      "description": "Required. Name of the resource",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/agentregistry.read-only",
                    "https://www.googleapis.com/auth/agentregistry.read-write",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "agentregistry.projects.locations.mcpServers.get",
                  "description": "Gets details of a single McpServer.",
                  "path": "v1alpha/{+name}"
                }
              }
            },
            "bindings": {
              "methods": {
                "list": {
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. The project and location to list bindings in. Expected format: `projects/{project}/locations/{location}`.",
                      "type": "string",
                      "required": true
                    },
                    "pageSize": {
                      "description": "Optional. Requested page size. Server may return fewer items than requested. Page size is 500 if unspecified and is capped at `500` even if a larger value is given.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "filter": {
                      "location": "query",
                      "description": "Optional. A query string used to filter the list of bindings returned. The filter expression must follow AIP-160 syntax.",
                      "type": "string"
                    },
                    "orderBy": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Hint for how to order the results"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A token identifying a page of results the server should return."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/agentregistry.read-only",
                    "https://www.googleapis.com/auth/agentregistry.read-write",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListBindingsResponse"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/bindings",
                  "path": "v1alpha/{+parent}/bindings",
                  "id": "agentregistry.projects.locations.bindings.list",
                  "description": "Lists Bindings in a given project and location."
                },
                "create": {
                  "path": "v1alpha/{+parent}/bindings",
                  "id": "agentregistry.projects.locations.bindings.create",
                  "description": "Creates a new Binding in a given project and location.",
                  "scopes": [
                    "https://www.googleapis.com/auth/agentregistry.read-only",
                    "https://www.googleapis.com/auth/agentregistry.read-write",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. The project and location to create the Binding in. Expected format: `projects/{project}/locations/{location}`.",
                      "type": "string",
                      "required": true
                    },
                    "bindingId": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. The ID to use for the binding, which will become the final component of the binding's resource name. This value should be 4-63 characters, and must conform to RFC-1034. Specifically, it must match the regular expression `^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$`."
                    },
                    "requestId": {
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "Binding"
                  },
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/bindings"
                },
                "get": {
                  "path": "v1alpha/{+name}",
                  "id": "agentregistry.projects.locations.bindings.get",
                  "description": "Gets details of a single Binding.",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/agentregistry.read-only",
                    "https://www.googleapis.com/auth/agentregistry.read-write",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/bindings/[^/]+$",
                      "location": "path",
                      "description": "Required. The name of the Binding. Format: `projects/{project}/locations/{location}/bindings/{binding}`.",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/bindings/{bindingsId}",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Binding"
                  }
                },
                "fetchAvailable": {
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent, in the format `projects/{project}/locations/{location}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "sourceIdentifier": {
                      "type": "string",
                      "location": "query",
                      "description": "The identifier of the source Agent. Format: * `urn:agent:{publisher}:{namespace}:{name}`"
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "Optional. Requested page size. Server may return fewer items than requested. Page size is 500 if unspecified and is capped at `500` even if a larger value is given.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "targetIdentifier": {
                      "description": "Optional. The identifier of the target Agent, MCP Server, or Endpoint. Format: * `urn:agent:{publisher}:{namespace}:{name}` * `urn:mcp:{publisher}:{namespace}:{name}` * `urn:endpoint:{publisher}:{namespace}:{name}`",
                      "location": "query",
                      "type": "string"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A token identifying a page of results the server should return.",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/agentregistry.read-only",
                    "https://www.googleapis.com/auth/agentregistry.read-write",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "FetchAvailableBindingsResponse"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/bindings:fetchAvailable",
                  "path": "v1alpha/{+parent}/bindings:fetchAvailable",
                  "id": "agentregistry.projects.locations.bindings.fetchAvailable",
                  "description": "Fetches available Bindings."
                },
                "patch": {
                  "path": "v1alpha/{+name}",
                  "id": "agentregistry.projects.locations.bindings.patch",
                  "description": "Updates the parameters of a single Binding.",
                  "parameters": {
                    "requestId": {
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/bindings/[^/]+$",
                      "location": "path",
                      "description": "Required. Identifier. The resource name of the Binding. Format: `projects/{project}/locations/{location}/bindings/{binding}`.",
                      "type": "string",
                      "required": true
                    },
                    "updateMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "description": "Optional. Field mask is used to specify the fields to be overwritten in the Binding resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields present in the request will be overwritten.",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/agentregistry.read-only",
                    "https://www.googleapis.com/auth/agentregistry.read-write",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "request": {
                    "$ref": "Binding"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/bindings/{bindingsId}"
                },
                "delete": {
                  "path": "v1alpha/{+name}",
                  "id": "agentregistry.projects.locations.bindings.delete",
                  "description": "Deletes a single Binding.",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/bindings/[^/]+$",
                      "location": "path",
                      "description": "Required. The name of the Binding. Format: `projects/{project}/locations/{location}/bindings/{binding}`.",
                      "type": "string",
                      "required": true
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/agentregistry.read-only",
                    "https://www.googleapis.com/auth/agentregistry.read-write",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/bindings/{bindingsId}"
                }
              }
            },
            "skills": {
              "resources": {
                "revisions": {
                  "methods": {
                    "delete": {
                      "scopes": [
                        "https://www.googleapis.com/auth/agentregistry.read-only",
                        "https://www.googleapis.com/auth/agentregistry.read-write",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/skills/[^/]+/revisions/[^/]+$",
                          "location": "path",
                          "description": "Required. Target revision name to remove.",
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. Signed UUID request idempotency token."
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "DELETE",
                      "response": {
                        "$ref": "Operation"
                      },
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/skills/{skillsId}/revisions/{revisionsId}",
                      "path": "v1alpha/{+name}",
                      "id": "agentregistry.projects.locations.skills.revisions.delete",
                      "description": "Deletes a specific revision (restricted to admins to purge accidentally committed secrets)."
                    },
                    "create": {
                      "parameters": {
                        "skillRevisionId": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. Custom, user-defined unique revision identifier. Format: 4-63 characters, matching regex `^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$`"
                        },
                        "requestId": {
                          "description": "Optional. Signed UUID request idempotency token.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "required": true,
                          "type": "string",
                          "description": "Required. Parent logical container name.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/skills/[^/]+$",
                          "location": "path"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/agentregistry.read-only",
                        "https://www.googleapis.com/auth/agentregistry.read-write",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "request": {
                        "$ref": "SkillRevision"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "Operation"
                      },
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/skills/{skillsId}/revisions",
                      "path": "v1alpha/{+parent}/revisions",
                      "id": "agentregistry.projects.locations.skills.revisions.create",
                      "description": "Creates a new immutable revision and triggers validation pipelines."
                    },
                    "list": {
                      "id": "agentregistry.projects.locations.skills.revisions.list",
                      "description": "Lists all revisions belonging to a parent Skill.",
                      "path": "v1alpha/{+parent}/revisions",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "ListSkillRevisionsResponse"
                      },
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/skills/{skillsId}/revisions",
                      "scopes": [
                        "https://www.googleapis.com/auth/agentregistry.read-only",
                        "https://www.googleapis.com/auth/agentregistry.read-write",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "parameters": {
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. Page offset token."
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/skills/[^/]+$",
                          "location": "path",
                          "description": "Required. Parent logical container name to query.",
                          "type": "string",
                          "required": true
                        },
                        "pageSize": {
                          "location": "query",
                          "description": "Optional. Page limit size.",
                          "type": "integer",
                          "format": "int32"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "get": {
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "SkillRevision"
                      },
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/skills/{skillsId}/revisions/{revisionsId}",
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/skills/[^/]+/revisions/[^/]+$",
                          "location": "path",
                          "description": "Required. Target revision name."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/agentregistry.read-only",
                        "https://www.googleapis.com/auth/agentregistry.read-write",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "useMediaDownloadService": true,
                      "parameterOrder": [
                        "name"
                      ],
                      "supportsMediaDownload": true,
                      "id": "agentregistry.projects.locations.skills.revisions.get",
                      "description": "Gets details of a single immutable Revision.",
                      "path": "v1alpha/{+name}"
                    }
                  }
                }
              },
              "methods": {
                "create": {
                  "path": "v1alpha/{+parent}/skills",
                  "id": "agentregistry.projects.locations.skills.create",
                  "description": "========================================================================= # Skills Collection APIs Creates a Skill resource container, optionally publishing the initial SkillRevision inline in a single, atomic CRUD roundtrip.",
                  "request": {
                    "$ref": "Skill"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. The project and location location to bootstrap.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "skillId": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. Custom, user-defined unique container identifier. Must be unique within the parent project and location. This value should be 4-64 characters, and valid characters are `/a-z-/`."
                    },
                    "requestId": {
                      "description": "Optional. Signed UUID request idempotency token.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/agentregistry.read-only",
                    "https://www.googleapis.com/auth/agentregistry.read-write",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/skills",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/agentregistry.read-only",
                    "https://www.googleapis.com/auth/agentregistry.read-write",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "parameters": {
                    "filter": {
                      "location": "query",
                      "description": "Optional. Use this field to specify filter criteria on list results. Filter expressions can be used to restrict results based upon filterable fields, where equality operators can be used. See [instructions](https://docs.cloud.google.com/agent-registry/search-agents-and-tools) for more details. Allowed operators: `=`, `<`, `>`, `NOT`, `AND`, `OR`, and `()`. | Field | `=` | `<`, `>` | |----------------------------|-----|----------| | state | Yes | No | | targetState | Yes | No | | createTime | Yes | Yes | | updateTime | Yes | Yes | | publisher | Yes | No | | frontmatter.metadata. | Yes | No | | attributes.. | Yes | No | Examples: * `state=ACTIVE` to restrict results to skills in the `ACTIVE` state. * `frontmatter.metadata.version=10` to restrict results to skills with a frontmatter metadata `version` equal to `10`.",
                      "type": "string"
                    },
                    "parent": {
                      "required": true,
                      "type": "string",
                      "description": "Required. Parent value for ListSkillsRequest",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "location": "query"
                    },
                    "orderBy": {
                      "type": "string",
                      "description": "Optional. Hint for how to order the results",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A token identifying a page of results the server should return."
                    }
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/skills",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListSkillsResponse"
                  },
                  "path": "v1alpha/{+parent}/skills",
                  "id": "agentregistry.projects.locations.skills.list",
                  "description": "Lists logical Skills available in a project."
                },
                "get": {
                  "supportsMediaDownload": true,
                  "id": "agentregistry.projects.locations.skills.get",
                  "description": "Fetches the active configuration and metadata of a Skill.",
                  "path": "v1alpha/{+name}",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Skill"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/skills/{skillsId}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/skills/[^/]+$",
                      "location": "path",
                      "description": "Required. Target resource container name.",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/agentregistry.read-only",
                    "https://www.googleapis.com/auth/agentregistry.read-write",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "useMediaDownloadService": true,
                  "parameterOrder": [
                    "name"
                  ]
                },
                "search": {
                  "path": "v1alpha/{+parent}/skills:search",
                  "id": "agentregistry.projects.locations.skills.search",
                  "description": "Custom deep-search method to filter by frontmatter or query SKILL.md text blobs.",
                  "scopes": [
                    "https://www.googleapis.com/auth/agentregistry.read-only",
                    "https://www.googleapis.com/auth/agentregistry.read-write",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. If present, retrieve the next batch of results from the preceding call to this method. `page_token` must be the value of `next_page_token` from the previous response. The values of all other method parameters, must be identical to those in the previous call."
                    },
                    "searchString": {
                      "type": "string",
                      "location": "query",
[...]
