{
  "endpoints": [
    {
      "endpointUrl": "https://africa-south1-aiplatform.googleapis.com/",
      "location": "africa-south1",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://asia-east1-aiplatform.googleapis.com/",
      "location": "asia-east1"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://asia-east2-aiplatform.googleapis.com/",
      "location": "asia-east2"
    },
    {
      "endpointUrl": "https://asia-northeast1-aiplatform.googleapis.com/",
      "location": "asia-northeast1",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://asia-northeast2-aiplatform.googleapis.com/",
      "location": "asia-northeast2",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://asia-northeast3-aiplatform.googleapis.com/",
      "location": "asia-northeast3",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://asia-south1-aiplatform.googleapis.com/",
      "location": "asia-south1"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://asia-south2-aiplatform.googleapis.com/",
      "location": "asia-south2"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://asia-southeast1-aiplatform.googleapis.com/",
      "location": "asia-southeast1"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://asia-southeast2-aiplatform.googleapis.com/",
      "location": "asia-southeast2"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://australia-southeast1-aiplatform.googleapis.com/",
      "location": "australia-southeast1"
    },
    {
      "endpointUrl": "https://australia-southeast2-aiplatform.googleapis.com/",
      "location": "australia-southeast2",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://europe-central2-aiplatform.googleapis.com/",
      "location": "europe-central2",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-north1-aiplatform.googleapis.com/",
      "location": "europe-north1"
    },
    {
      "endpointUrl": "https://europe-north2-aiplatform.googleapis.com/",
      "location": "europe-north2",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://europe-southwest1-aiplatform.googleapis.com/",
      "location": "europe-southwest1",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://europe-west1-aiplatform.googleapis.com/",
      "location": "europe-west1",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-west10-aiplatform.googleapis.com/",
      "location": "europe-west10"
    },
    {
      "endpointUrl": "https://europe-west15-aiplatform.googleapis.com/",
      "location": "europe-west15",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://europe-west2-aiplatform.googleapis.com/",
      "location": "europe-west2",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-west3-aiplatform.googleapis.com/",
      "location": "europe-west3"
    },
    {
      "endpointUrl": "https://europe-west4-aiplatform.googleapis.com/",
      "location": "europe-west4",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-west6-aiplatform.googleapis.com/",
      "location": "europe-west6"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-west8-aiplatform.googleapis.com/",
      "location": "europe-west8"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-west9-aiplatform.googleapis.com/",
      "location": "europe-west9"
    },
    {
      "endpointUrl": "https://europe-west12-aiplatform.googleapis.com/",
      "location": "europe-west12",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://me-central1-aiplatform.googleapis.com/",
      "location": "me-central1"
    },
    {
      "endpointUrl": "https://me-central2-aiplatform.googleapis.com/",
      "location": "me-central2",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://me-west1-aiplatform.googleapis.com/",
      "location": "me-west1",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://northamerica-northeast1-aiplatform.googleapis.com/",
      "location": "northamerica-northeast1"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://northamerica-northeast2-aiplatform.googleapis.com/",
      "location": "northamerica-northeast2"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://southamerica-east1-aiplatform.googleapis.com/",
      "location": "southamerica-east1"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://southamerica-west1-aiplatform.googleapis.com/",
      "location": "southamerica-west1"
    },
    {
      "endpointUrl": "https://us-central1-aiplatform.googleapis.com/",
      "location": "us-central1",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://us-central2-aiplatform.googleapis.com/",
      "location": "us-central2",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://us-east1-aiplatform.googleapis.com/",
      "location": "us-east1",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://us-east4-aiplatform.googleapis.com/",
      "location": "us-east4"
    },
    {
      "endpointUrl": "https://us-east7-aiplatform.googleapis.com/",
      "location": "us-east7",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://us-south1-aiplatform.googleapis.com/",
      "location": "us-south1",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://us-west1-aiplatform.googleapis.com/",
      "location": "us-west1"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://us-west2-aiplatform.googleapis.com/",
      "location": "us-west2"
    },
    {
      "endpointUrl": "https://us-west3-aiplatform.googleapis.com/",
      "location": "us-west3",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://us-west4-aiplatform.googleapis.com/",
      "location": "us-west4"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://us-east5-aiplatform.googleapis.com/",
      "location": "us-east5"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://us-west8-aiplatform.googleapis.com/",
      "location": "us-west8"
    },
    {
      "endpointUrl": "https://aiplatform.us.rep.googleapis.com/",
      "location": "us",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://aiplatform.eu.rep.googleapis.com/",
      "location": "eu"
    }
  ],
  "servicePath": "",
  "canonicalName": "Aiplatform",
  "name": "aiplatform",
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        }
      }
    }
  },
  "documentationLink": "https://cloud.google.com/vertex-ai/",
  "ownerName": "Google",
  "ownerDomain": "google.com",
  "basePath": "",
  "resources": {
    "trainingPipelines": {
      "resources": {
        "operations": {
          "methods": {
            "get": {
              "id": "aiplatform.trainingPipelines.operations.get",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^trainingPipelines/[^/]+/operations/[^/]+$",
                  "description": "The name of the operation resource.",
                  "location": "path",
                  "type": "string"
                }
              },
              "path": "v1/{+name}",
              "flatPath": "v1/trainingPipelines/{trainingPipelinesId}/operations/{operationsId}",
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              }
            },
            "cancel": {
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/trainingPipelines/{trainingPipelinesId}/operations/{operationsId}:cancel",
              "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
              "path": "v1/{+name}:cancel",
              "id": "aiplatform.trainingPipelines.operations.cancel",
              "parameters": {
                "name": {
                  "pattern": "^trainingPipelines/[^/]+/operations/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The name of the operation resource to be cancelled."
                }
              }
            },
            "delete": {
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
              "flatPath": "v1/trainingPipelines/{trainingPipelinesId}/operations/{operationsId}",
              "parameterOrder": [
                "name"
              ],
              "id": "aiplatform.trainingPipelines.operations.delete",
              "parameters": {
                "name": {
                  "description": "The name of the operation resource to be deleted.",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^trainingPipelines/[^/]+/operations/[^/]+$"
                }
              },
              "path": "v1/{+name}"
            },
            "list": {
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/trainingPipelines/{trainingPipelinesId}/operations",
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
              "path": "v1/{+name}/operations",
              "id": "aiplatform.trainingPipelines.operations.list",
              "parameters": {
                "filter": {
                  "description": "The standard list filter.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "The standard list page size."
                },
                "returnPartialSuccess": {
                  "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                  "location": "query",
                  "type": "boolean"
                },
                "name": {
                  "required": true,
                  "pattern": "^trainingPipelines/[^/]+$",
                  "description": "The name of the operation's parent resource.",
                  "type": "string",
                  "location": "path"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "The standard list page token."
                }
              }
            },
            "wait": {
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/trainingPipelines/{trainingPipelinesId}/operations/{operationsId}:wait",
              "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
              "path": "v1/{+name}:wait",
              "id": "aiplatform.trainingPipelines.operations.wait",
              "parameters": {
                "timeout": {
                  "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                  "type": "string",
                  "location": "query",
                  "format": "google-duration"
                },
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "The name of the operation resource to wait on.",
                  "pattern": "^trainingPipelines/[^/]+/operations/[^/]+$",
                  "required": true
                }
              }
            }
          }
        }
      }
    },
    "models": {
      "resources": {
        "operations": {
          "methods": {
            "delete": {
              "httpMethod": "DELETE",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/models/{modelsId}/operations/{operationsId}",
              "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
              "path": "v1/{+name}",
              "id": "aiplatform.models.operations.delete",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "The name of the operation resource to be deleted.",
                  "pattern": "^models/[^/]+/operations/[^/]+$",
                  "required": true
                }
              }
            },
            "cancel": {
              "path": "v1/{+name}:cancel",
              "id": "aiplatform.models.operations.cancel",
              "parameters": {
                "name": {
                  "description": "The name of the operation resource to be cancelled.",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^models/[^/]+/operations/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/models/{modelsId}/operations/{operationsId}:cancel",
              "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              }
            },
            "get": {
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "flatPath": "v1/models/{modelsId}/operations/{operationsId}",
              "path": "v1/{+name}",
              "id": "aiplatform.models.operations.get",
              "parameters": {
                "name": {
                  "pattern": "^models/[^/]+/operations/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The name of the operation resource."
                }
              }
            },
            "list": {
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/models/{modelsId}/operations",
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
              "parameterOrder": [
                "name"
              ],
              "id": "aiplatform.models.operations.list",
              "parameters": {
                "filter": {
                  "description": "The standard list filter.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "description": "The standard list page size.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "returnPartialSuccess": {
                  "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                  "type": "boolean",
                  "location": "query"
                },
                "name": {
                  "pattern": "^models/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The name of the operation's parent resource."
                },
                "pageToken": {
                  "description": "The standard list page token.",
                  "type": "string",
                  "location": "query"
                }
              },
              "path": "v1/{+name}/operations"
            },
            "wait": {
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
              "flatPath": "v1/models/{modelsId}/operations/{operationsId}:wait",
              "parameterOrder": [
                "name"
              ],
              "id": "aiplatform.models.operations.wait",
              "parameters": {
                "name": {
                  "description": "The name of the operation resource to wait on.",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^models/[^/]+/operations/[^/]+$"
                },
                "timeout": {
                  "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                  "location": "query",
                  "format": "google-duration",
                  "type": "string"
                }
              },
              "path": "v1/{+name}:wait"
            }
          }
        },
        "evaluations": {
          "resources": {
            "operations": {
              "methods": {
                "cancel": {
                  "flatPath": "v1/models/{modelsId}/evaluations/{evaluationsId}/operations/{operationsId}:cancel",
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "aiplatform.models.evaluations.operations.cancel",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^models/[^/]+/evaluations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be cancelled.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "path": "v1/{+name}:cancel",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "id": "aiplatform.models.evaluations.operations.get",
                  "parameters": {
                    "name": {
                      "pattern": "^models/[^/]+/evaluations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The name of the operation resource."
                    }
                  },
                  "path": "v1/{+name}",
                  "flatPath": "v1/models/{modelsId}/evaluations/{evaluationsId}/operations/{operationsId}",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  }
                },
                "delete": {
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "flatPath": "v1/models/{modelsId}/evaluations/{evaluationsId}/operations/{operationsId}",
                  "path": "v1/{+name}",
                  "id": "aiplatform.models.evaluations.operations.delete",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be deleted.",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^models/[^/]+/evaluations/[^/]+/operations/[^/]+$"
                    }
                  }
                },
                "list": {
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "flatPath": "v1/models/{modelsId}/evaluations/{evaluationsId}/operations",
                  "path": "v1/{+name}/operations",
                  "id": "aiplatform.models.evaluations.operations.list",
                  "parameters": {
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "The standard list filter."
                    },
                    "pageSize": {
                      "description": "The standard list page size.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "returnPartialSuccess": {
                      "type": "boolean",
                      "location": "query",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                    },
                    "name": {
                      "required": true,
                      "pattern": "^models/[^/]+/evaluations/[^/]+$",
                      "description": "The name of the operation's parent resource.",
                      "type": "string",
                      "location": "path"
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "type": "string",
                      "location": "query"
                    }
                  }
                },
                "wait": {
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
                  "flatPath": "v1/models/{modelsId}/evaluations/{evaluationsId}/operations/{operationsId}:wait",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "aiplatform.models.evaluations.operations.wait",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to wait on.",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^models/[^/]+/evaluations/[^/]+/operations/[^/]+$"
                    },
                    "timeout": {
                      "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                      "location": "query",
                      "format": "google-duration",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}:wait"
                }
              }
            }
          }
        }
      }
    },
    "v1": {
      "methods": {
        "evaluateInstances": {
          "parameterOrder": [],
          "description": "Evaluates instances based on a given metric.",
          "flatPath": "v1:evaluateInstances",
          "path": "v1:evaluateInstances",
          "id": "aiplatform.evaluateInstances",
          "parameters": {},
          "request": {
            "$ref": "GoogleCloudAiplatformV1EvaluateInstancesRequest"
          },
          "response": {
            "$ref": "GoogleCloudAiplatformV1EvaluateInstancesResponse"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "generateInstanceRubrics": {
          "httpMethod": "POST",
          "request": {
            "$ref": "GoogleCloudAiplatformV1GenerateInstanceRubricsRequest"
          },
          "response": {
            "$ref": "GoogleCloudAiplatformV1GenerateInstanceRubricsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [],
          "flatPath": "v1:generateInstanceRubrics",
          "description": "Generates rubrics for a given prompt. A rubric represents a single testable criterion for evaluation. One input prompt could have multiple rubrics This RPC allows users to get suggested rubrics based on provided prompt, which can then be reviewed and used for subsequent evaluations.",
          "path": "v1:generateInstanceRubrics",
          "id": "aiplatform.generateInstanceRubrics",
          "parameters": {}
        },
        "evaluateDataset": {
          "parameterOrder": [],
          "flatPath": "v1:evaluateDataset",
          "description": "Evaluates a dataset based on a set of given metrics.",
          "path": "v1:evaluateDataset",
          "id": "aiplatform.evaluateDataset",
          "parameters": {},
          "httpMethod": "POST",
          "request": {
            "$ref": "GoogleCloudAiplatformV1EvaluateDatasetRequest"
          },
          "response": {
            "$ref": "GoogleLongrunningOperation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        }
      }
    },
    "ragCorpora": {
      "resources": {
        "operations": {
          "methods": {
            "cancel": {
              "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
              "flatPath": "v1/ragCorpora/{ragCorporaId}/operations/{operationsId}:cancel",
              "parameterOrder": [
                "name"
              ],
              "id": "aiplatform.ragCorpora.operations.cancel",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^ragCorpora/[^/]+/operations/[^/]+$",
                  "description": "The name of the operation resource to be cancelled.",
                  "type": "string",
                  "location": "path"
                }
              },
              "path": "v1/{+name}:cancel",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "get": {
              "flatPath": "v1/ragCorpora/{ragCorporaId}/operations/{operationsId}",
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "parameterOrder": [
                "name"
              ],
              "id": "aiplatform.ragCorpora.operations.get",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^ragCorpora/[^/]+/operations/[^/]+$",
                  "description": "The name of the operation resource.",
                  "type": "string",
                  "location": "path"
                }
              },
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "httpMethod": "DELETE",
              "id": "aiplatform.ragCorpora.operations.delete",
              "parameters": {
                "name": {
                  "pattern": "^ragCorpora/[^/]+/operations/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The name of the operation resource to be deleted."
                }
              },
              "path": "v1/{+name}",
              "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
              "flatPath": "v1/ragCorpora/{ragCorporaId}/operations/{operationsId}",
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "parameterOrder": [
                "name"
              ],
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
              "flatPath": "v1/ragCorpora/{ragCorporaId}/operations",
              "path": "v1/{+name}/operations",
              "id": "aiplatform.ragCorpora.operations.list",
              "parameters": {
                "pageSize": {
                  "description": "The standard list page size.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                },
                "returnPartialSuccess": {
                  "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                  "location": "query",
                  "type": "boolean"
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "The standard list filter."
                },
                "name": {
                  "pattern": "^ragCorpora/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The name of the operation's parent resource."
                },
                "pageToken": {
                  "description": "The standard list page token.",
                  "location": "query",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "wait": {
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
              "flatPath": "v1/ragCorpora/{ragCorporaId}/operations/{operationsId}:wait",
              "path": "v1/{+name}:wait",
              "id": "aiplatform.ragCorpora.operations.wait",
              "parameters": {
                "timeout": {
                  "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                  "type": "string",
                  "location": "query",
                  "format": "google-duration"
                },
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "The name of the operation resource to wait on.",
                  "pattern": "^ragCorpora/[^/]+/operations/[^/]+$",
                  "required": true
                }
              }
            }
          }
        },
        "ragFiles": {
          "resources": {
            "operations": {
              "methods": {
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "path": "v1/{+name}",
                  "id": "aiplatform.ragCorpora.ragFiles.operations.get",
                  "parameters": {
                    "name": {
                      "pattern": "^ragCorpora/[^/]+/ragFiles/[^/]+/operations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The name of the operation resource."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/ragCorpora/{ragCorporaId}/ragFiles/{ragFilesId}/operations/{operationsId}",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
                },
                "cancel": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "httpMethod": "POST",
                  "id": "aiplatform.ragCorpora.ragFiles.operations.cancel",
                  "parameters": {
                    "name": {
                      "pattern": "^ragCorpora/[^/]+/ragFiles/[^/]+/operations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The name of the operation resource to be cancelled."
                    }
                  },
                  "path": "v1/{+name}:cancel",
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "flatPath": "v1/ragCorpora/{ragCorporaId}/ragFiles/{ragFilesId}/operations/{operationsId}:cancel",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "delete": {
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "flatPath": "v1/ragCorpora/{ragCorporaId}/ragFiles/{ragFilesId}/operations/{operationsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "aiplatform.ragCorpora.ragFiles.operations.delete",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^ragCorpora/[^/]+/ragFiles/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be deleted.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}"
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  },
                  "path": "v1/{+name}/operations",
                  "id": "aiplatform.ragCorpora.ragFiles.operations.list",
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer",
                      "description": "The standard list page size."
                    },
                    "returnPartialSuccess": {
                      "type": "boolean",
                      "location": "query",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                    },
                    "filter": {
                      "description": "The standard list filter.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "description": "The name of the operation's parent resource.",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^ragCorpora/[^/]+/ragFiles/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/ragCorpora/{ragCorporaId}/ragFiles/{ragFilesId}/operations",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`."
                },
                "wait": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "httpMethod": "POST",
                  "id": "aiplatform.ragCorpora.ragFiles.operations.wait",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to wait on.",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^ragCorpora/[^/]+/ragFiles/[^/]+/operations/[^/]+$"
                    },
                    "timeout": {
                      "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                      "type": "string",
                      "location": "query",
                      "format": "google-duration"
                    }
                  },
                  "path": "v1/{+name}:wait",
                  "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
                  "flatPath": "v1/ragCorpora/{ragCorporaId}/ragFiles/{ragFilesId}/operations/{operationsId}:wait",
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "modelDeploymentMonitoringJobs": {
      "resources": {
        "operations": {
          "methods": {
            "list": {
              "parameterOrder": [
                "name"
              ],
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
              "flatPath": "v1/modelDeploymentMonitoringJobs/{modelDeploymentMonitoringJobsId}/operations",
              "path": "v1/{+name}/operations",
              "id": "aiplatform.modelDeploymentMonitoringJobs.operations.list",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "The standard list page size."
                },
                "returnPartialSuccess": {
                  "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                  "location": "query",
                  "type": "boolean"
                },
                "filter": {
                  "description": "The standard list filter.",
                  "type": "string",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "The standard list page token."
                },
                "name": {
                  "pattern": "^modelDeploymentMonitoringJobs/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The name of the operation's parent resource."
                }
              },
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "wait": {
              "path": "v1/{+name}:wait",
              "id": "aiplatform.modelDeploymentMonitoringJobs.operations.wait",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^modelDeploymentMonitoringJobs/[^/]+/operations/[^/]+$",
                  "description": "The name of the operation resource to wait on.",
                  "type": "string",
                  "location": "path"
                },
                "timeout": {
                  "location": "query",
                  "format": "google-duration",
                  "type": "string",
                  "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used."
                }
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
              "flatPath": "v1/modelDeploymentMonitoringJobs/{modelDeploymentMonitoringJobsId}/operations/{operationsId}:wait",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "httpMethod": "POST"
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/modelDeploymentMonitoringJobs/{modelDeploymentMonitoringJobsId}/operations/{operationsId}",
              "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
              "path": "v1/{+name}",
              "id": "aiplatform.modelDeploymentMonitoringJobs.operations.delete",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^modelDeploymentMonitoringJobs/[^/]+/operations/[^/]+$",
                  "description": "The name of the operation resource to be deleted.",
                  "type": "string",
                  "location": "path"
                }
              },
              "httpMethod": "DELETE",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "cancel": {
              "path": "v1/{+name}:cancel",
              "id": "aiplatform.modelDeploymentMonitoringJobs.operations.cancel",
              "parameters": {
                "name": {
                  "pattern": "^modelDeploymentMonitoringJobs/[^/]+/operations/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The name of the operation resource to be cancelled."
                }
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/modelDeploymentMonitoringJobs/{modelDeploymentMonitoringJobsId}/operations/{operationsId}:cancel",
              "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              }
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "httpMethod": "GET",
              "id": "aiplatform.modelDeploymentMonitoringJobs.operations.get",
              "parameters": {
                "name": {
                  "pattern": "^modelDeploymentMonitoringJobs/[^/]+/operations/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The name of the operation resource."
                }
              },
              "path": "v1/{+name}",
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "flatPath": "v1/modelDeploymentMonitoringJobs/{modelDeploymentMonitoringJobsId}/operations/{operationsId}",
              "parameterOrder": [
                "name"
              ]
            }
          }
        }
      }
    },
    "persistentResources": {
      "resources": {
        "operations": {
          "methods": {
            "list": {
              "parameterOrder": [
                "name"
              ],
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
              "flatPath": "v1/persistentResources/{persistentResourcesId}/operations",
              "path": "v1/{+name}/operations",
              "id": "aiplatform.persistentResources.operations.list",
              "parameters": {
                "pageToken": {
                  "description": "The standard list page token.",
                  "type": "string",
                  "location": "query"
                },
                "name": {
                  "description": "The name of the operation's parent resource.",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^persistentResources/[^/]+$"
                },
                "pageSize": {
                  "description": "The standard list page size.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                },
                "returnPartialSuccess": {
                  "type": "boolean",
                  "location": "query",
                  "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                },
                "filter": {
                  "description": "The standard list filter.",
                  "location": "query",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "wait": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "id": "aiplatform.persistentResources.operations.wait",
              "parameters": {
                "timeout": {
                  "location": "query",
                  "format": "google-duration",
                  "type": "string",
                  "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used."
                },
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "The name of the operation resource to wait on.",
                  "pattern": "^persistentResources/[^/]+/operations/[^/]+$",
                  "required": true
                }
              },
              "path": "v1/{+name}:wait",
              "flatPath": "v1/persistentResources/{persistentResourcesId}/operations/{operationsId}:wait",
              "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
              "parameterOrder": [
                "name"
              ]
            },
            "get": {
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "flatPath": "v1/persistentResources/{persistentResourcesId}/operations/{operationsId}",
              "path": "v1/{+name}",
              "id": "aiplatform.persistentResources.operations.get",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "The name of the operation resource.",
                  "pattern": "^persistentResources/[^/]+/operations/[^/]+$",
                  "required": true
                }
              }
            },
            "cancel": {
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
              "flatPath": "v1/persistentResources/{persistentResourcesId}/operations/{operationsId}:cancel",
              "path": "v1/{+name}:cancel",
              "id": "aiplatform.persistentResources.operations.cancel",
              "parameters": {
                "name": {
                  "pattern": "^persistentResources/[^/]+/operations/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The name of the operation resource to be cancelled."
                }
              }
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
              "flatPath": "v1/persistentResources/{persistentResourcesId}/operations/{operationsId}",
              "path": "v1/{+name}",
              "id": "aiplatform.persistentResources.operations.delete",
              "parameters": {
                "name": {
                  "description": "The name of the operation resource to be deleted.",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^persistentResources/[^/]+/operations/[^/]+$"
                }
              },
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        }
      }
    },
    "notebookRuntimeTemplates": {
      "resources": {
        "operations": {
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "path": "v1/{+name}/operations",
              "id": "aiplatform.notebookRuntimeTemplates.operations.list",
              "parameters": {
                "name": {
                  "pattern": "^notebookRuntimeTemplates/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The name of the operation's parent resource."
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "The standard list page token."
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "The standard list filter."
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32",
                  "description": "The standard list page size."
                },
                "returnPartialSuccess": {
                  "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                  "type": "boolean",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/notebookRuntimeTemplates/{notebookRuntimeTemplatesId}/operations",
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`."
            },
            "wait": {
              "id": "aiplatform.notebookRuntimeTemplates.operations.wait",
              "parameters": {
                "timeout": {
                  "location": "query",
                  "format": "google-duration",
                  "type": "string",
                  "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used."
                },
                "name": {
                  "pattern": "^notebookRuntimeTemplates/[^/]+/operations/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The name of the operation resource to wait on."
                }
              },
              "path": "v1/{+name}:wait",
              "flatPath": "v1/notebookRuntimeTemplates/{notebookRuntimeTemplatesId}/operations/{operationsId}:wait",
              "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              }
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "httpMethod": "DELETE",
              "path": "v1/{+name}",
              "id": "aiplatform.notebookRuntimeTemplates.operations.delete",
              "parameters": {
                "name": {
                  "description": "The name of the operation resource to be deleted.",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^notebookRuntimeTemplates/[^/]+/operations/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
              "flatPath": "v1/notebookRuntimeTemplates/{notebookRuntimeTemplatesId}/operations/{operationsId}"
            },
            "get": {
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "flatPath": "v1/notebookRuntimeTemplates/{notebookRuntimeTemplatesId}/operations/{operationsId}",
              "parameterOrder": [
                "name"
              ],
              "id": "aiplatform.notebookRuntimeTemplates.operations.get",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^notebookRuntimeTemplates/[^/]+/operations/[^/]+$",
                  "description": "The name of the operation resource.",
                  "location": "path",
                  "type": "string"
                }
              },
              "path": "v1/{+name}",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "cancel": {
              "path": "v1/{+name}:cancel",
              "id": "aiplatform.notebookRuntimeTemplates.operations.cancel",
              "parameters": {
                "name": {
                  "pattern": "^notebookRuntimeTemplates/[^/]+/operations/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The name of the operation resource to be cancelled."
                }
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/notebookRuntimeTemplates/{notebookRuntimeTemplatesId}/operations/{operationsId}:cancel",
              "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              }
            }
          }
        }
      }
    },
    "pipelineJobs": {
      "resources": {
        "operations": {
          "methods": {
            "list": {
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
              "flatPath": "v1/pipelineJobs/{pipelineJobsId}/operations",
              "parameterOrder": [
                "name"
              ],
              "id": "aiplatform.pipelineJobs.operations.list",
              "parameters": {
                "name": {
                  "description": "The name of the operation's parent resource.",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^pipelineJobs/[^/]+$"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "The standard list page token."
                },
                "pageSize": {
                  "description": "The standard list page size.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "returnPartialSuccess": {
                  "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                  "location": "query",
                  "type": "boolean"
                },
                "filter": {
                  "description": "The standard list filter.",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v1/{+name}/operations"
            },
            "wait": {
              "path": "v1/{+name}:wait",
              "id": "aiplatform.pipelineJobs.operations.wait",
              "parameters": {
                "timeout": {
                  "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                  "type": "string",
                  "location": "query",
                  "format": "google-duration"
                },
                "name": {
                  "required": true,
                  "pattern": "^pipelineJobs/[^/]+/operations/[^/]+$",
                  "description": "The name of the operation resource to wait on.",
                  "location": "path",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/pipelineJobs/{pipelineJobsId}/operations/{operationsId}:wait",
              "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              }
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "flatPath": "v1/pipelineJobs/{pipelineJobsId}/operations/{operationsId}",
              "path": "v1/{+name}",
              "id": "aiplatform.pipelineJobs.operations.get",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^pipelineJobs/[^/]+/operations/[^/]+$",
                  "description": "The name of the operation resource.",
                  "type": "string",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "cancel": {
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/pipelineJobs/{pipelineJobsId}/operations/{operationsId}:cancel",
              "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
              "path": "v1/{+name}:cancel",
              "id": "aiplatform.pipelineJobs.operations.cancel",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^pipelineJobs/[^/]+/operations/[^/]+$",
                  "description": "The name of the operation resource to be cancelled.",
                  "type": "string",
                  "location": "path"
                }
              },
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
              "flatPath": "v1/pipelineJobs/{pipelineJobsId}/operations/{operationsId}",
              "path": "v1/{+name}",
              "id": "aiplatform.pipelineJobs.operations.delete",
              "parameters": {
                "name": {
                  "pattern": "^pipelineJobs/[^/]+/operations/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The name of the operation resource to be deleted."
                }
              },
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        }
      }
    },
    "metadataStores": {
      "resources": {
        "operations": {
          "methods": {
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/metadataStores/{metadataStoresId}/operations/{operationsId}",
              "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
              "path": "v1/{+name}",
              "id": "aiplatform.metadataStores.operations.delete",
              "parameters": {
                "name": {
                  "description": "The name of the operation resource to be deleted.",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^metadataStores/[^/]+/operations/[^/]+$"
                }
              },
              "httpMethod": "DELETE",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "flatPath": "v1/metadataStores/{metadataStoresId}/operations/{operationsId}",
              "path": "v1/{+name}",
              "id": "aiplatform.metadataStores.operations.get",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "The name of the operation resource.",
                  "pattern": "^metadataStores/[^/]+/operations/[^/]+$",
                  "required": true
                }
              },
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "cancel": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "id": "aiplatform.metadataStores.operations.cancel",
              "parameters": {
                "name": {
                  "description": "The name of the operation resource to be cancelled.",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^metadataStores/[^/]+/operations/[^/]+$"
                }
              },
              "path": "v1/{+name}:cancel",
              "flatPath": "v1/metadataStores/{metadataStoresId}/operations/{operationsId}:cancel",
              "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
              "flatPath": "v1/metadataStores/{metadataStoresId}/operations",
              "parameterOrder": [
                "name"
              ],
              "id": "aiplatform.metadataStores.operations.list",
              "parameters": {
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "The standard list filter."
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32",
                  "description": "The standard list page size."
                },
                "returnPartialSuccess": {
                  "type": "boolean",
                  "location": "query",
                  "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                },
                "pageToken": {
                  "description": "The standard list page token.",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "pattern": "^metadataStores/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The name of the operation's parent resource."
                }
              },
              "path": "v1/{+name}/operations",
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "wait": {
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/metadataStores/{metadataStoresId}/operations/{operationsId}:wait",
              "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
              "path": "v1/{+name}:wait",
              "id": "aiplatform.metadataStores.operations.wait",
              "parameters": {
                "timeout": {
                  "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                  "type": "string",
                  "location": "query",
                  "format": "google-duration"
                },
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "The name of the operation resource to wait on.",
                  "pattern": "^metadataStores/[^/]+/operations/[^/]+$",
                  "required": true
                }
              }
            }
          }
        },
        "artifacts": {
          "resources": {
            "operations": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/metadataStores/{metadataStoresId}/artifacts/{artifactsId}/operations",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "path": "v1/{+name}/operations",
                  "id": "aiplatform.metadataStores.artifacts.operations.list",
                  "parameters": {
                    "pageSize": {
                      "description": "The standard list page size.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "returnPartialSuccess": {
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "The standard list filter."
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "required": true,
                      "pattern": "^metadataStores/[^/]+/artifacts/[^/]+$",
                      "description": "The name of the operation's parent resource.",
                      "location": "path",
                      "type": "string"
                    }
                  }
                },
                "wait": {
                  "path": "v1/{+name}:wait",
                  "id": "aiplatform.metadataStores.artifacts.operations.wait",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "The name of the operation resource to wait on.",
                      "pattern": "^metadataStores/[^/]+/artifacts/[^/]+/operations/[^/]+$",
                      "required": true
                    },
                    "timeout": {
                      "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                      "location": "query",
                      "format": "google-duration",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
                  "flatPath": "v1/metadataStores/{metadataStoresId}/artifacts/{artifactsId}/operations/{operationsId}:wait",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "httpMethod": "POST"
                },
                "delete": {
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "flatPath": "v1/metadataStores/{metadataStoresId}/artifacts/{artifactsId}/operations/{operationsId}",
                  "parameterOrder": [
                    "name"
                  ],
[...]
