{
  "canonicalName": "Aiplatform",
  "name": "aiplatform",
  "version_module": true,
  "parameters": {
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response.",
      "type": "string",
      "default": "json"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    }
  },
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://aiplatform.mtls.googleapis.com/",
  "title": "Agent Platform API",
  "resources": {
    "tensorboards": {
      "resources": {
        "operations": {
          "methods": {
            "delete": {
              "parameters": {
                "name": {
                  "pattern": "^tensorboards/[^/]+/operations/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The name of the operation resource to be deleted."
                }
              },
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "flatPath": "v1/tensorboards/{tensorboardsId}/operations/{operationsId}",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
              "id": "aiplatform.tensorboards.operations.delete"
            },
            "cancel": {
              "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
              "id": "aiplatform.tensorboards.operations.cancel",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}:cancel",
              "flatPath": "v1/tensorboards/{tensorboardsId}/operations/{operationsId}:cancel",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^tensorboards/[^/]+/operations/[^/]+$",
                  "required": true,
                  "description": "The name of the operation resource to be cancelled.",
                  "type": "string"
                }
              },
              "httpMethod": "POST"
            },
            "wait": {
              "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
              "id": "aiplatform.tensorboards.operations.wait",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}:wait",
              "flatPath": "v1/tensorboards/{tensorboardsId}/operations/{operationsId}:wait",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^tensorboards/[^/]+/operations/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "The name of the operation resource to wait on."
                },
                "timeout": {
                  "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                  "type": "string",
                  "location": "query",
                  "format": "google-duration"
                }
              },
              "httpMethod": "POST"
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/tensorboards/{tensorboardsId}/operations/{operationsId}",
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "The name of the operation resource.",
                  "pattern": "^tensorboards/[^/]+/operations/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "httpMethod": "GET",
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "id": "aiplatform.tensorboards.operations.get",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "description": "The standard list page size.",
                  "format": "int32",
                  "location": "query"
                },
                "name": {
                  "pattern": "^tensorboards/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The name of the operation's parent resource."
                },
                "returnPartialSuccess": {
                  "location": "query",
                  "type": "boolean",
                  "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                },
                "filter": {
                  "type": "string",
                  "description": "The standard list filter.",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "description": "The standard list page token.",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}/operations",
              "flatPath": "v1/tensorboards/{tensorboardsId}/operations",
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
              "id": "aiplatform.tensorboards.operations.list"
            }
          }
        },
        "experiments": {
          "resources": {
            "runs": {
              "resources": {
                "operations": {
                  "methods": {
                    "get": {
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                      "id": "aiplatform.tensorboards.experiments.runs.operations.get",
                      "parameters": {
                        "name": {
                          "description": "The name of the operation resource.",
                          "type": "string",
                          "pattern": "^tensorboards/[^/]+/experiments/[^/]+/runs/[^/]+/operations/[^/]+$",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}",
                      "flatPath": "v1/tensorboards/{tensorboardsId}/experiments/{experimentsId}/runs/{runsId}/operations/{operationsId}"
                    },
                    "list": {
                      "response": {
                        "$ref": "GoogleLongrunningListOperationsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "aiplatform.tensorboards.experiments.runs.operations.list",
                      "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^tensorboards/[^/]+/experiments/[^/]+/runs/[^/]+$",
                          "required": true,
                          "type": "string",
                          "description": "The name of the operation's parent resource."
                        },
                        "returnPartialSuccess": {
                          "location": "query",
                          "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                          "type": "boolean"
                        },
                        "pageSize": {
                          "format": "int32",
                          "location": "query",
                          "type": "integer",
                          "description": "The standard list page size."
                        },
                        "filter": {
                          "description": "The standard list filter.",
                          "type": "string",
                          "location": "query"
                        },
                        "pageToken": {
                          "description": "The standard list page token.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "path": "v1/{+name}/operations",
                      "flatPath": "v1/tensorboards/{tensorboardsId}/experiments/{experimentsId}/runs/{runsId}/operations",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "wait": {
                      "path": "v1/{+name}:wait",
                      "flatPath": "v1/tensorboards/{tensorboardsId}/experiments/{experimentsId}/runs/{runsId}/operations/{operationsId}:wait",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "POST",
                      "parameters": {
                        "name": {
                          "description": "The name of the operation resource to wait on.",
                          "type": "string",
                          "pattern": "^tensorboards/[^/]+/experiments/[^/]+/runs/[^/]+/operations/[^/]+$",
                          "required": true,
                          "location": "path"
                        },
                        "timeout": {
                          "location": "query",
                          "format": "google-duration",
                          "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                          "type": "string"
                        }
                      },
                      "id": "aiplatform.tensorboards.experiments.runs.operations.wait",
                      "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "delete": {
                      "httpMethod": "DELETE",
                      "parameters": {
                        "name": {
                          "pattern": "^tensorboards/[^/]+/experiments/[^/]+/runs/[^/]+/operations/[^/]+$",
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "The name of the operation resource to be deleted."
                        }
                      },
                      "flatPath": "v1/tensorboards/{tensorboardsId}/experiments/{experimentsId}/runs/{runsId}/operations/{operationsId}",
                      "path": "v1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "aiplatform.tensorboards.experiments.runs.operations.delete",
                      "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`."
                    },
                    "cancel": {
                      "httpMethod": "POST",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^tensorboards/[^/]+/experiments/[^/]+/runs/[^/]+/operations/[^/]+$",
                          "required": true,
                          "type": "string",
                          "description": "The name of the operation resource to be cancelled."
                        }
                      },
                      "flatPath": "v1/tensorboards/{tensorboardsId}/experiments/{experimentsId}/runs/{runsId}/operations/{operationsId}:cancel",
                      "path": "v1/{+name}:cancel",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "aiplatform.tensorboards.experiments.runs.operations.cancel",
                      "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`."
                    }
                  }
                },
                "timeSeries": {
                  "resources": {
                    "operations": {
                      "methods": {
                        "wait": {
                          "id": "aiplatform.tensorboards.experiments.runs.timeSeries.operations.wait",
                          "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
                          "response": {
                            "$ref": "GoogleLongrunningOperation"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "flatPath": "v1/tensorboards/{tensorboardsId}/experiments/{experimentsId}/runs/{runsId}/timeSeries/{timeSeriesId}/operations/{operationsId}:wait",
                          "path": "v1/{+name}:wait",
                          "parameterOrder": [
                            "name"
                          ],
                          "httpMethod": "POST",
                          "parameters": {
                            "name": {
                              "pattern": "^tensorboards/[^/]+/experiments/[^/]+/runs/[^/]+/timeSeries/[^/]+/operations/[^/]+$",
                              "required": true,
                              "location": "path",
                              "type": "string",
                              "description": "The name of the operation resource to wait on."
                            },
                            "timeout": {
                              "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                              "type": "string",
                              "location": "query",
                              "format": "google-duration"
                            }
                          }
                        },
                        "get": {
                          "id": "aiplatform.tensorboards.experiments.runs.timeSeries.operations.get",
                          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                          "response": {
                            "$ref": "GoogleLongrunningOperation"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1/{+name}",
                          "flatPath": "v1/tensorboards/{tensorboardsId}/experiments/{experimentsId}/runs/{runsId}/timeSeries/{timeSeriesId}/operations/{operationsId}",
                          "parameterOrder": [
                            "name"
                          ],
                          "httpMethod": "GET",
                          "parameters": {
                            "name": {
                              "description": "The name of the operation resource.",
                              "type": "string",
                              "location": "path",
                              "pattern": "^tensorboards/[^/]+/experiments/[^/]+/runs/[^/]+/timeSeries/[^/]+/operations/[^/]+$",
                              "required": true
                            }
                          }
                        },
                        "list": {
                          "response": {
                            "$ref": "GoogleLongrunningListOperationsResponse"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                          "id": "aiplatform.tensorboards.experiments.runs.timeSeries.operations.list",
                          "parameters": {
                            "name": {
                              "location": "path",
                              "pattern": "^tensorboards/[^/]+/experiments/[^/]+/runs/[^/]+/timeSeries/[^/]+$",
                              "required": true,
                              "description": "The name of the operation's parent resource.",
                              "type": "string"
                            },
                            "returnPartialSuccess": {
                              "type": "boolean",
                              "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                              "location": "query"
                            },
                            "pageSize": {
                              "description": "The standard list page size.",
                              "type": "integer",
                              "location": "query",
                              "format": "int32"
                            },
                            "filter": {
                              "location": "query",
                              "description": "The standard list filter.",
                              "type": "string"
                            },
                            "pageToken": {
                              "location": "query",
                              "type": "string",
                              "description": "The standard list page token."
                            }
                          },
                          "httpMethod": "GET",
                          "parameterOrder": [
                            "name"
                          ],
                          "flatPath": "v1/tensorboards/{tensorboardsId}/experiments/{experimentsId}/runs/{runsId}/timeSeries/{timeSeriesId}/operations",
                          "path": "v1/{+name}/operations"
                        },
                        "delete": {
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                          "id": "aiplatform.tensorboards.experiments.runs.timeSeries.operations.delete",
                          "parameters": {
                            "name": {
                              "type": "string",
                              "description": "The name of the operation resource to be deleted.",
                              "location": "path",
                              "pattern": "^tensorboards/[^/]+/experiments/[^/]+/runs/[^/]+/timeSeries/[^/]+/operations/[^/]+$",
                              "required": true
                            }
                          },
                          "httpMethod": "DELETE",
                          "parameterOrder": [
                            "name"
                          ],
                          "path": "v1/{+name}",
                          "flatPath": "v1/tensorboards/{tensorboardsId}/experiments/{experimentsId}/runs/{runsId}/timeSeries/{timeSeriesId}/operations/{operationsId}"
                        },
                        "cancel": {
                          "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                          "id": "aiplatform.tensorboards.experiments.runs.timeSeries.operations.cancel",
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameterOrder": [
                            "name"
                          ],
                          "path": "v1/{+name}:cancel",
                          "flatPath": "v1/tensorboards/{tensorboardsId}/experiments/{experimentsId}/runs/{runsId}/timeSeries/{timeSeriesId}/operations/{operationsId}:cancel",
                          "parameters": {
                            "name": {
                              "pattern": "^tensorboards/[^/]+/experiments/[^/]+/runs/[^/]+/timeSeries/[^/]+/operations/[^/]+$",
                              "required": true,
                              "location": "path",
                              "description": "The name of the operation resource to be cancelled.",
                              "type": "string"
                            }
                          },
                          "httpMethod": "POST"
                        }
                      }
                    }
                  }
                }
              }
            },
            "operations": {
              "methods": {
                "delete": {
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "aiplatform.tensorboards.experiments.operations.delete",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be deleted.",
                      "type": "string",
                      "pattern": "^tensorboards/[^/]+/experiments/[^/]+/operations/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "path": "v1/{+name}",
                  "flatPath": "v1/tensorboards/{tensorboardsId}/experiments/{experimentsId}/operations/{operationsId}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "cancel": {
                  "path": "v1/{+name}:cancel",
                  "flatPath": "v1/tensorboards/{tensorboardsId}/experiments/{experimentsId}/operations/{operationsId}:cancel",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^tensorboards/[^/]+/experiments/[^/]+/operations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "The name of the operation resource to be cancelled."
                    }
                  },
                  "id": "aiplatform.tensorboards.experiments.operations.cancel",
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "id": "aiplatform.tensorboards.experiments.operations.list",
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}/operations",
                  "flatPath": "v1/tensorboards/{tensorboardsId}/experiments/{experimentsId}/operations",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "The name of the operation's parent resource.",
                      "location": "path",
                      "pattern": "^tensorboards/[^/]+/experiments/[^/]+$",
                      "required": true
                    },
                    "returnPartialSuccess": {
                      "location": "query",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "type": "boolean"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "The standard list page size.",
                      "type": "integer"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The standard list page token."
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "The standard list filter."
                    }
                  },
                  "httpMethod": "GET"
                },
                "get": {
                  "id": "aiplatform.tensorboards.experiments.operations.get",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "flatPath": "v1/tensorboards/{tensorboardsId}/experiments/{experimentsId}/operations/{operationsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "pattern": "^tensorboards/[^/]+/experiments/[^/]+/operations/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "The name of the operation resource."
                    }
                  }
                },
                "wait": {
                  "flatPath": "v1/tensorboards/{tensorboardsId}/experiments/{experimentsId}/operations/{operationsId}:wait",
                  "path": "v1/{+name}:wait",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to wait on.",
                      "type": "string",
                      "pattern": "^tensorboards/[^/]+/experiments/[^/]+/operations/[^/]+$",
                      "required": true,
                      "location": "path"
                    },
                    "timeout": {
                      "location": "query",
                      "format": "google-duration",
                      "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                      "type": "string"
                    }
                  },
                  "id": "aiplatform.tensorboards.experiments.operations.wait",
                  "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "semanticGovernancePolicies": {
      "resources": {
        "operations": {
          "methods": {
            "delete": {
              "flatPath": "v1/semanticGovernancePolicies/{semanticGovernancePoliciesId}/operations/{operationsId}",
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "description": "The name of the operation resource to be deleted.",
                  "type": "string",
                  "pattern": "^semanticGovernancePolicies/[^/]+/operations/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "id": "aiplatform.semanticGovernancePolicies.operations.delete",
              "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "cancel": {
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "aiplatform.semanticGovernancePolicies.operations.cancel",
              "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "pattern": "^semanticGovernancePolicies/[^/]+/operations/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The name of the operation resource to be cancelled."
                }
              },
              "flatPath": "v1/semanticGovernancePolicies/{semanticGovernancePoliciesId}/operations/{operationsId}:cancel",
              "path": "v1/{+name}:cancel",
              "parameterOrder": [
                "name"
              ]
            },
            "get": {
              "id": "aiplatform.semanticGovernancePolicies.operations.get",
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/semanticGovernancePolicies/{semanticGovernancePoliciesId}/operations/{operationsId}",
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "The name of the operation resource.",
                  "type": "string",
                  "location": "path",
                  "pattern": "^semanticGovernancePolicies/[^/]+/operations/[^/]+$",
                  "required": true
                }
              }
            },
            "list": {
              "path": "v1/{+name}/operations",
              "flatPath": "v1/semanticGovernancePolicies/{semanticGovernancePoliciesId}/operations",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^semanticGovernancePolicies/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "The name of the operation's parent resource."
                },
                "returnPartialSuccess": {
                  "location": "query",
                  "type": "boolean",
                  "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                },
                "pageSize": {
                  "type": "integer",
                  "description": "The standard list page size.",
                  "format": "int32",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "description": "The standard list page token.",
                  "type": "string"
                },
                "filter": {
                  "location": "query",
                  "description": "The standard list filter.",
                  "type": "string"
                }
              },
              "id": "aiplatform.semanticGovernancePolicies.operations.list",
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "wait": {
              "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
              "id": "aiplatform.semanticGovernancePolicies.operations.wait",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/semanticGovernancePolicies/{semanticGovernancePoliciesId}/operations/{operationsId}:wait",
              "path": "v1/{+name}:wait",
              "parameters": {
                "name": {
                  "description": "The name of the operation resource to wait on.",
                  "type": "string",
                  "pattern": "^semanticGovernancePolicies/[^/]+/operations/[^/]+$",
                  "required": true,
                  "location": "path"
                },
                "timeout": {
                  "format": "google-duration",
                  "location": "query",
                  "type": "string",
                  "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used."
                }
              },
              "httpMethod": "POST"
            }
          }
        }
      }
    },
    "v1": {
      "methods": {
        "evaluateInstances": {
          "response": {
            "$ref": "GoogleCloudAiplatformV1EvaluateInstancesResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "aiplatform.evaluateInstances",
          "description": "Evaluates instances based on a given metric.",
          "httpMethod": "POST",
          "request": {
            "$ref": "GoogleCloudAiplatformV1EvaluateInstancesRequest"
          },
          "parameters": {},
          "path": "v1:evaluateInstances",
          "flatPath": "v1:evaluateInstances",
          "parameterOrder": []
        },
        "generateInstanceRubrics": {
          "response": {
            "$ref": "GoogleCloudAiplatformV1GenerateInstanceRubricsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Generates rubrics for a given prompt. A rubric represents a single testable criterion for evaluation. One input prompt could have multiple rubrics This RPC allows users to get suggested rubrics based on provided prompt, which can then be reviewed and used for subsequent evaluations.",
          "id": "aiplatform.generateInstanceRubrics",
          "parameters": {},
          "httpMethod": "POST",
          "request": {
            "$ref": "GoogleCloudAiplatformV1GenerateInstanceRubricsRequest"
          },
          "parameterOrder": [],
          "path": "v1:generateInstanceRubrics",
          "flatPath": "v1:generateInstanceRubrics"
        },
        "evaluateDataset": {
          "response": {
            "$ref": "GoogleLongrunningOperation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Evaluates a dataset based on a set of given metrics.",
          "id": "aiplatform.evaluateDataset",
          "parameters": {},
          "httpMethod": "POST",
          "request": {
            "$ref": "GoogleCloudAiplatformV1EvaluateDatasetRequest"
          },
          "parameterOrder": [],
          "flatPath": "v1:evaluateDataset",
          "path": "v1:evaluateDataset"
        }
      }
    },
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "asyncRetrieveContexts": {
              "parameters": {
                "parent": {
                  "type": "string",
                  "description": "Required. The resource name of the Location from which to retrieve RagContexts. The users must have permission to make a call in the project. Format: `projects/{project}/locations/{location}`.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudAiplatformV1AsyncRetrieveContextsRequest"
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:asyncRetrieveContexts",
              "path": "v1/{+parent}:asyncRetrieveContexts",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Asynchronous API to retrieves relevant contexts for a query.",
              "id": "aiplatform.projects.locations.asyncRetrieveContexts"
            },
            "list": {
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}/locations",
              "flatPath": "v1/projects/{projectsId}/locations",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query"
                },
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "type": "string",
                  "location": "query"
                },
                "name": {
                  "description": "The resource that owns the locations collection, if applicable.",
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true
                },
                "pageSize": {
                  "type": "integer",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "format": "int32",
                  "location": "query"
                },
                "extraLocationTypes": {
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "type": "string",
                  "location": "query",
                  "repeated": true
                }
              },
              "httpMethod": "GET",
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "id": "aiplatform.projects.locations.list",
              "response": {
                "$ref": "GoogleCloudLocationListLocationsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "getSemanticGovernancePolicyEngine": {
              "response": {
                "$ref": "GoogleCloudAiplatformV1SemanticGovernancePolicyEngine"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "aiplatform.projects.locations.getSemanticGovernancePolicyEngine",
              "description": "Gets a SemanticGovernancePolicyEngine. A SemanticGovernancePolicyEngine is a singleton resource that is created when its parent is created, and deleted when its parent is deleted. This method retrieves the current state of the Semantic Governance Policy Engine.",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/locations/[^/]+/semanticGovernancePolicyEngine$",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. The resource name of the SemanticGovernancePolicyEngine to retrieve. Format: projects/{project}/locations/{location}/semanticGovernancePolicyEngine"
                }
              },
              "path": "v1/{+name}",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/semanticGovernancePolicyEngine",
              "parameterOrder": [
                "name"
              ]
            },
            "deploy": {
              "description": "Deploys a model to a new endpoint.",
              "id": "aiplatform.projects.locations.deploy",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "destination"
              ],
              "path": "v1/{+destination}:deploy",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:deploy",
              "parameters": {
                "destination": {
                  "type": "string",
                  "description": "Required. The resource name of the Location to deploy the model in. Format: `projects/{project}/locations/{location}`",
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true
                }
              },
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudAiplatformV1DeployRequest"
              }
            },
            "evaluateDataset": {
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudAiplatformV1EvaluateDatasetRequest"
              },
              "parameters": {
                "location": {
                  "description": "Required. The resource name of the Location to evaluate the dataset. Format: `projects/{project}/locations/{location}`",
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "path": "v1/{+location}:evaluateDataset",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:evaluateDataset",
              "parameterOrder": [
                "location"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "aiplatform.projects.locations.evaluateDataset",
              "description": "Evaluates a dataset based on a set of given metrics."
            },
            "updateSemanticGovernancePolicyEngine": {
              "description": "Updates a SemanticGovernancePolicyEngine. This method performs an upsert operation. If the SemanticGovernancePolicyEngine resource does not exist, it will be created. Otherwise, it will be updated.",
              "id": "aiplatform.projects.locations.updateSemanticGovernancePolicyEngine",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/semanticGovernancePolicyEngine",
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/locations/[^/]+/semanticGovernancePolicyEngine$",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Identifier. The resource name of the SemanticGovernancePolicyEngine. Format: projects/{project}/locations/{location}/semanticGovernancePolicyEngine"
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Specifies the fields to be overwritten in the SemanticGovernancePolicyEngine resource by the update. The fields specified in the update_mask are relative to the resource itself. If no update_mask is provided, all fields are overwritten."
                }
              },
              "httpMethod": "PATCH",
              "request": {
                "$ref": "GoogleCloudAiplatformV1SemanticGovernancePolicyEngine"
              }
            },
            "evaluateInstances": {
              "parameters": {
                "location": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. The resource name of the Location to evaluate the instances. Format: `projects/{project}/locations/{location}`"
                }
              },
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudAiplatformV1EvaluateInstancesRequest"
              },
              "parameterOrder": [
                "location"
              ],
              "path": "v1/{+location}:evaluateInstances",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:evaluateInstances",
              "response": {
                "$ref": "GoogleCloudAiplatformV1EvaluateInstancesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Evaluates instances based on a given metric.",
              "id": "aiplatform.projects.locations.evaluateInstances"
            },
            "corroborateContent": {
              "path": "v1/{+parent}:corroborateContent",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:corroborateContent",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudAiplatformV1CorroborateContentRequest"
              },
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true,
                  "description": "Required. The resource name of the Location from which to corroborate text. The users must have permission to make a call in the project. Format: `projects/{project}/locations/{location}`.",
                  "type": "string"
                }
              },
              "id": "aiplatform.projects.locations.corroborateContent",
              "description": "Given an input text, it returns a score that evaluates the factuality of the text. It also extracts and returns claims from the text and provides supporting facts.",
              "response": {
                "$ref": "GoogleCloudAiplatformV1CorroborateContentResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "generateSyntheticData": {
              "parameters": {
                "location": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true,
                  "description": "Required. The geographic location where the synthetic data generation request is processed. This should be in the format `projects/{project}/locations/{location}`. For example, `projects/my-project/locations/us-central1`.",
                  "type": "string"
                }
              },
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudAiplatformV1GenerateSyntheticDataRequest"
              },
              "parameterOrder": [
                "location"
              ],
              "path": "v1/{+location}:generateSyntheticData",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:generateSyntheticData",
              "response": {
                "$ref": "GoogleCloudAiplatformV1GenerateSyntheticDataResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Generates synthetic (artificial) data based on a description",
              "id": "aiplatform.projects.locations.generateSyntheticData"
            },
            "getRagEngineConfig": {
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/ragEngineConfig",
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/locations/[^/]+/ragEngineConfig$",
                  "required": true,
                  "location": "path",
                  "description": "Required. The name of the RagEngineConfig resource. Format: `projects/{project}/locations/{location}/ragEngineConfig`",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "description": "Gets a RagEngineConfig.",
              "id": "aiplatform.projects.locations.getRagEngineConfig",
              "response": {
                "$ref": "GoogleCloudAiplatformV1RagEngineConfig"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "augmentPrompt": {
              "response": {
                "$ref": "GoogleCloudAiplatformV1AugmentPromptResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Given an input prompt, it returns augmented prompt from vertex rag store to guide LLM towards generating grounded responses.",
              "id": "aiplatform.projects.locations.augmentPrompt",
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. The resource name of the Location from which to augment prompt. The users must have permission to make a call in the project. Format: `projects/{project}/locations/{location}`."
                }
              },
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudAiplatformV1AugmentPromptRequest"
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}:augmentPrompt",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:augmentPrompt"
            },
            "updateRagEngineConfig": {
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Updates a RagEngineConfig.",
              "id": "aiplatform.projects.locations.updateRagEngineConfig",
              "parameters": {
                "name": {
                  "description": "Identifier. The name of the RagEngineConfig. Format: `projects/{project}/locations/{location}/ragEngineConfig`",
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+/ragEngineConfig$",
                  "required": true,
                  "location": "path"
                }
              },
              "httpMethod": "PATCH",
              "request": {
                "$ref": "GoogleCloudAiplatformV1RagEngineConfig"
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/ragEngineConfig"
            },
            "generateInstanceRubrics": {
              "id": "aiplatform.projects.locations.generateInstanceRubrics",
              "description": "Generates rubrics for a given prompt. A rubric represents a single testable criterion for evaluation. One input prompt could have multiple rubrics This RPC allows users to get suggested rubrics based on provided prompt, which can then be reviewed and used for subsequent evaluations.",
              "response": {
                "$ref": "GoogleCloudAiplatformV1GenerateInstanceRubricsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+location}:generateInstanceRubrics",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:generateInstanceRubrics",
              "parameterOrder": [
                "location"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudAiplatformV1GenerateInstanceRubricsRequest"
              },
              "parameters": {
                "location": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Required. The resource name of the Location to generate rubrics from. Format: `projects/{project}/locations/{location}`",
                  "type": "string"
                }
              }
            },
            "generateLossClusters": {
              "parameterOrder": [
                "location"
              ],
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:generateLossClusters",
              "path": "v1/{+location}:generateLossClusters",
              "parameters": {
                "location": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Required. The resource name of the Location. Format: `projects/{project}/locations/{location}`",
                  "type": "string"
                }
              },
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudAiplatformV1GenerateLossClustersRequest"
              },
              "description": "Generates loss clusters from evaluation results. This is a statelss API method that would not modify the EvaluationSet resource.",
              "id": "aiplatform.projects.locations.generateLossClusters",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "generateUserScenarios": {
              "id": "aiplatform.projects.locations.generateUserScenarios",
              "description": "Generates user scenarios for agent evaluation.",
              "response": {
                "$ref": "GoogleCloudAiplatformV1GenerateUserScenariosResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+location}:generateUserScenarios",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:generateUserScenarios",
              "parameterOrder": [
                "location"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudAiplatformV1GenerateUserScenariosRequest"
              },
              "parameters": {
                "location": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. The resource name of the Location to run the job. Format: `projects/{project}/locations/{location}`"
                }
              }
            },
            "retrieveContexts": {
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:retrieveContexts",
              "path": "v1/{+parent}:retrieveContexts",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudAiplatformV1RetrieveContextsRequest"
              },
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true,
                  "description": "Required. The resource name of the Location from which to retrieve RagContexts. The users must have permission to make a call in the project. Format: `projects/{project}/locations/{location}`.",
                  "type": "string"
                }
              },
              "id": "aiplatform.projects.locations.retrieveContexts",
              "description": "Retrieves relevant contexts for a query.",
              "response": {
                "$ref": "GoogleCloudAiplatformV1RetrieveContextsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "askContexts": {
              "id": "aiplatform.projects.locations.askContexts",
              "description": "Agentic Retrieval Ask API for RAG.",
              "response": {
                "$ref": "GoogleCloudAiplatformV1AskContextsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:askContexts",
              "path": "v1/{+parent}:askContexts",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudAiplatformV1AskContextsRequest"
              },
              "parameters": {
                "parent": {
                  "type": "string",
                  "description": "Required. The resource name of the Location from which to retrieve RagContexts. The users must have permission to make a call in the project. Format: `projects/{project}/locations/{location}`.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              }
            },
            "get": {
              "response": {
                "$ref": "GoogleCloudLocationLocation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets information about a location.",
              "id": "aiplatform.projects.locations.get",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Resource name for the location.",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}"
            }
          },
          "resources": {
            "evaluationSets": {
              "methods": {
                "patch": {
                  "response": {
                    "$ref": "GoogleCloudAiplatformV1EvaluationSet"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "aiplatform.projects.locations.evaluationSets.patch",
                  "description": "Updates an Evaluation Set.",
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "GoogleCloudAiplatformV1EvaluationSet"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/evaluationSets/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Identifier. The resource name of the EvaluationSet. Format: `projects/{project}/locations/{location}/evaluationSets/{evaluation_set}`"
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The update mask applies to the resource. For the `FieldMask` definition, see google.protobuf.FieldMask."
                    }
                  },
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluationSets/{evaluationSetsId}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "get": {
                  "response": {
                    "$ref": "GoogleCloudAiplatformV1EvaluationSet"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "aiplatform.projects.locations.evaluationSets.get",
                  "description": "Gets an Evaluation Set.",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the EvaluationSet resource. Format: `projects/{project}/locations/{location}/evaluationSets/{evaluation_set}`",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/evaluationSets/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluationSets/{evaluationSetsId}",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "import": {
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Required. Parent resource name.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    }
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudAiplatformV1ImportEvaluationSetRequest"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/evaluationSets:import",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluationSets:import",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Imports an Evaluation Set.",
                  "id": "aiplatform.projects.locations.evaluationSets.import"
                },
                "list": {
                  "description": "Lists Evaluation Sets.",
                  "id": "aiplatform.projects.locations.evaluationSets.list",
                  "response": {
                    "$ref": "GoogleCloudAiplatformV1ListEvaluationSetsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluationSets",
                  "path": "v1/{+parent}/evaluationSets",
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. The maximum number of Evaluation Sets to return."
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Required. The resource name of the Location from which to list the Evaluation Sets. Format: `projects/{project}/locations/{location}`",
                      "type": "string"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. Filter expression that matches a subset of the EvaluationSets to show. For field names both snake_case and camelCase are supported. For more information about filter syntax, see [AIP-160](https://google.aip.dev/160).",
                      "location": "query"
                    },
                    "orderBy": {
                      "description": "Optional. A comma-separated list of fields to order by, sorted in ascending order by default. Use `desc` after a field name for descending.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A page token, received from a previous `ListEvaluationSets` call. Provide this to retrieve the subsequent page.",
                      "location": "query"
                    }
                  },
                  "httpMethod": "GET"
                },
                "create": {
                  "path": "v1/{+parent}/evaluationSets",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluationSets",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudAiplatformV1EvaluationSet"
                  },
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Required. The resource name of the Location to create the Evaluation Set in. Format: `projects/{project}/locations/{location}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "id": "aiplatform.projects.locations.evaluationSets.create",
                  "description": "Creates an Evaluation Set.",
                  "response": {
                    "$ref": "GoogleCloudAiplatformV1EvaluationSet"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluationSets/{evaluationSetsId}",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the EvaluationSet resource to be deleted. Format: `projects/{project}/locations/{location}/evaluationSets/{evaluation_set}`",
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/evaluationSets/[^/]+$",
                      "required": true
                    }
                  },
                  "httpMethod": "DELETE",
                  "description": "Deletes an Evaluation Set.",
                  "id": "aiplatform.projects.locations.evaluationSets.delete",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "notebookExecutionJobs": {
              "methods": {
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/notebookExecutionJobs",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/notebookExecutionJobs",
                  "parameters": {
                    "parent": {
                      "description": "Required. The resource name of the Location to create the NotebookExecutionJob. Format: `projects/{project}/locations/{location}`",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path"
                    },
                    "notebookExecutionJobId": {
                      "type": "string",
                      "description": "Optional. User specified ID for the NotebookExecutionJob.",
                      "location": "query"
                    }
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudAiplatformV1NotebookExecutionJob"
                  },
                  "description": "Creates a NotebookExecutionJob.",
                  "id": "aiplatform.projects.locations.notebookExecutionJobs.create",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The name of the NotebookExecutionJob resource to be deleted.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/notebookExecutionJobs/[^/]+$",
                      "required": true
                    }
                  },
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/notebookExecutionJobs/{notebookExecutionJobsId}",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a NotebookExecutionJob.",
                  "id": "aiplatform.projects.locations.notebookExecutionJobs.delete"
                },
                "get": {
                  "response": {
                    "$ref": "GoogleCloudAiplatformV1NotebookExecutionJob"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "aiplatform.projects.locations.notebookExecutionJobs.get",
                  "description": "Gets a NotebookExecutionJob.",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the NotebookExecutionJob resource.",
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/notebookExecutionJobs/[^/]+$",
                      "required": true
                    },
                    "view": {
                      "enum": [
                        "NOTEBOOK_EXECUTION_JOB_VIEW_UNSPECIFIED",
                        "NOTEBOOK_EXECUTION_JOB_VIEW_BASIC",
                        "NOTEBOOK_EXECUTION_JOB_VIEW_FULL"
                      ],
                      "location": "query",
                      "enumDescriptions": [
                        "When unspecified, the API defaults to the BASIC view.",
                        "Includes all fields except for direct notebook inputs.",
                        "Includes all fields."
                      ],
                      "type": "string",
                      "description": "Optional. The NotebookExecutionJob view. Defaults to BASIC."
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/notebookExecutionJobs/{notebookExecutionJobsId}",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "id": "aiplatform.projects.locations.notebookExecutionJobs.list",
                  "description": "Lists NotebookExecutionJobs in a Location.",
                  "response": {
                    "$ref": "GoogleCloudAiplatformV1ListNotebookExecutionJobsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/notebookExecutionJobs",
                  "path": "v1/{+parent}/notebookExecutionJobs",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "view": {
                      "type": "string",
                      "description": "Optional. The NotebookExecutionJob view. Defaults to BASIC.",
                      "location": "query",
                      "enumDescriptions": [
                        "When unspecified, the API defaults to the BASIC view.",
                        "Includes all fields except for direct notebook inputs.",
                        "Includes all fields."
                      ],
                      "enum": [
                        "NOTEBOOK_EXECUTION_JOB_VIEW_UNSPECIFIED",
                        "NOTEBOOK_EXECUTION_JOB_VIEW_BASIC",
                        "NOTEBOOK_EXECUTION_JOB_VIEW_FULL"
                      ]
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. The standard list page size."
                    },
                    "pageToken": {
                      "description": "Optional. The standard list page token. Typically obtained via ListNotebookExecutionJobsResponse.next_page_token of the previous NotebookService.ListNotebookExecutionJobs call.",
                      "type": "string",
                      "location": "query"
                    },
                    "orderBy": {
                      "type": "string",
                      "description": "Optional. A comma-separated list of fields to order by, sorted in ascending order. Use \"desc\" after a field name for descending. Supported fields: * `display_name` * `create_time` * `update_time` Example: `display_name, create_time desc`.",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. The resource name of the Location from which to list the NotebookExecutionJobs. Format: `projects/{project}/locations/{location}`"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. An expression for filtering the results of the request. For field names both snake_case and camelCase are supported. * `notebookExecutionJob` supports = and !=. `notebookExecutionJob` represents the NotebookExecutionJob ID. * `displayName` supports = and != and regex. * `schedule` supports = and != and regex. Some examples: * `notebookExecutionJob=\"123\"` * `notebookExecutionJob=\"my-execution-job\"` * `displayName=\"myDisplayName\"` and `displayName=~\"myDisplayNameRegex\"`"
                    }
                  }
                }
              },
              "resources": {
                "operations": {
                  "methods": {
                    "wait": {
                      "parameters": {
                        "name": {
                          "type": "string",
                          "description": "The name of the operation resource to wait on.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/notebookExecutionJobs/[^/]+/operations/[^/]+$",
                          "required": true
                        },
                        "timeout": {
                          "format": "google-duration",
                          "location": "query",
                          "type": "string",
                          "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used."
                        }
                      },
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/notebookExecutionJobs/{notebookExecutionJobsId}/operations/{operationsId}:wait",
                      "path": "v1/{+name}:wait",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
                      "id": "aiplatform.projects.locations.notebookExecutionJobs.operations.wait"
                    },
                    "list": {
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/notebookExecutionJobs/{notebookExecutionJobsId}/operations",
                      "path": "v1/{+name}/operations",
                      "parameters": {
                        "pageSize": {
                          "format": "int32",
                          "location": "query",
                          "type": "integer",
                          "description": "The standard list page size."
                        },
                        "name": {
                          "description": "The name of the operation's parent resource.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/notebookExecutionJobs/[^/]+$",
                          "required": true,
                          "location": "path"
                        },
                        "returnPartialSuccess": {
                          "type": "boolean",
                          "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                          "location": "query"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "The standard list page token.",
                          "location": "query"
                        },
                        "filter": {
                          "location": "query",
                          "type": "string",
                          "description": "The standard list filter."
                        }
                      },
                      "httpMethod": "GET",
                      "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                      "id": "aiplatform.projects.locations.notebookExecutionJobs.operations.list",
                      "response": {
                        "$ref": "GoogleLongrunningListOperationsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "get": {
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/notebookExecutionJobs/{notebookExecutionJobsId}/operations/{operationsId}",
                      "path": "v1/{+name}",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "description": "The name of the operation resource.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/notebookExecutionJobs/[^/]+/operations/[^/]+$",
                          "required": true
                        }
                      },
                      "httpMethod": "GET",
[...]
