{
  "id": "aiplatform:v1",
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "protocol": "rest",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "baseUrl": "https://aiplatform.googleapis.com/",
  "schemas": {
    "GoogleCloudAiplatformV1ListOptimalTrialsRequest": {
      "id": "GoogleCloudAiplatformV1ListOptimalTrialsRequest",
      "description": "Request message for VizierService.ListOptimalTrials.",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudAiplatformV1StudySpec": {
      "id": "GoogleCloudAiplatformV1StudySpec",
      "description": "Represents specification of a Study.",
      "type": "object",
      "properties": {
        "parameters": {
          "description": "Required. The set of parameters to tune.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1StudySpecParameterSpec"
          }
        },
        "observationNoise": {
          "description": "The observation noise level of the study. Currently only supported by the Vertex AI Vizier service. Not supported by HyperparameterTuningJob or TrainingPipeline.",
          "type": "string",
          "enumDescriptions": [
            "The default noise level chosen by Vertex AI.",
            "Vertex AI assumes that the objective function is (nearly) perfectly reproducible, and will never repeat the same Trial parameters.",
            "Vertex AI will estimate the amount of noise in metric evaluations, it may repeat the same Trial parameters more than once."
          ],
          "enum": [
            "OBSERVATION_NOISE_UNSPECIFIED",
            "LOW",
            "HIGH"
          ]
        },
        "measurementSelectionType": {
          "enum": [
            "MEASUREMENT_SELECTION_TYPE_UNSPECIFIED",
            "LAST_MEASUREMENT",
            "BEST_MEASUREMENT"
          ],
          "description": "Describe which measurement selection type will be used",
          "type": "string",
          "enumDescriptions": [
            "Will be treated as LAST_MEASUREMENT.",
            "Use the last measurement reported.",
            "Use the best measurement reported."
          ]
        },
        "metrics": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1StudySpecMetricSpec"
          },
          "description": "Required. Metric specs for the Study.",
          "type": "array"
        },
        "studyStoppingConfig": {
          "description": "Conditions for automated stopping of a Study. Enable automated stopping by configuring at least one condition.",
          "$ref": "GoogleCloudAiplatformV1StudySpecStudyStoppingConfig"
        },
        "decayCurveStoppingSpec": {
          "$ref": "GoogleCloudAiplatformV1StudySpecDecayCurveAutomatedStoppingSpec",
          "description": "The automated early stopping spec using decay curve rule."
        },
        "algorithm": {
          "description": "The search algorithm specified for the Study.",
          "type": "string",
          "enumDescriptions": [
            "The default algorithm used by Vertex AI for [hyperparameter tuning](https://cloud.google.com/vertex-ai/docs/training/hyperparameter-tuning-overview) and [Vertex AI Vizier](https://cloud.google.com/vertex-ai/docs/vizier).",
            "Simple grid search within the feasible space. To use grid search, all parameters must be `INTEGER`, `CATEGORICAL`, or `DISCRETE`.",
            "Simple random search within the feasible space."
          ],
          "enum": [
            "ALGORITHM_UNSPECIFIED",
            "GRID_SEARCH",
            "RANDOM_SEARCH"
          ]
        },
        "medianAutomatedStoppingSpec": {
          "description": "The automated early stopping spec using median rule.",
          "$ref": "GoogleCloudAiplatformV1StudySpecMedianAutomatedStoppingSpec"
        },
        "convexAutomatedStoppingSpec": {
          "$ref": "GoogleCloudAiplatformV1StudySpecConvexAutomatedStoppingSpec",
          "description": "The automated early stopping spec using convex stopping rule."
        }
      }
    },
    "GoogleCloudAiplatformV1ExternalApi": {
      "id": "GoogleCloudAiplatformV1ExternalApi",
      "description": "Retrieve from data source powered by external API for grounding. The external API is not owned by Google, but need to follow the pre-defined API spec.",
      "type": "object",
      "properties": {
        "apiSpec": {
          "description": "The API spec that the external API implements.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified API spec. This value should not be used.",
            "Simple search API spec.",
            "Elastic search API spec."
          ],
          "enum": [
            "API_SPEC_UNSPECIFIED",
            "SIMPLE_SEARCH",
            "ELASTIC_SEARCH"
          ]
        },
        "simpleSearchParams": {
          "$ref": "GoogleCloudAiplatformV1ExternalApiSimpleSearchParams",
          "description": "Parameters for the simple search API."
        },
        "endpoint": {
          "description": "The endpoint of the external API. The system will call the API at this endpoint to retrieve the data for grounding. Example: https://acme.com:443/search",
          "type": "string"
        },
        "authConfig": {
          "description": "The authentication config to access the API.",
          "$ref": "GoogleCloudAiplatformV1AuthConfig"
        },
        "elasticSearchParams": {
          "$ref": "GoogleCloudAiplatformV1ExternalApiElasticSearchParams",
          "description": "Parameters for the elastic search API."
        },
        "apiAuth": {
          "description": "The authentication config to access the API. Deprecated. Please use auth_config instead.",
          "deprecated": true,
          "$ref": "GoogleCloudAiplatformV1ApiAuth"
        }
      }
    },
    "GoogleCloudAiplatformV1SafetyRating": {
      "id": "GoogleCloudAiplatformV1SafetyRating",
      "description": "A safety rating for a piece of content. The safety rating contains the harm category and the harm probability level.",
      "type": "object",
      "properties": {
        "category": {
          "enum": [
            "HARM_CATEGORY_UNSPECIFIED",
            "HARM_CATEGORY_HATE_SPEECH",
            "HARM_CATEGORY_DANGEROUS_CONTENT",
            "HARM_CATEGORY_HARASSMENT",
            "HARM_CATEGORY_SEXUALLY_EXPLICIT",
            "HARM_CATEGORY_CIVIC_INTEGRITY",
            "HARM_CATEGORY_IMAGE_HATE",
            "HARM_CATEGORY_IMAGE_DANGEROUS_CONTENT",
            "HARM_CATEGORY_IMAGE_HARASSMENT",
            "HARM_CATEGORY_IMAGE_SEXUALLY_EXPLICIT",
            "HARM_CATEGORY_JAILBREAK"
          ],
          "description": "Output only. The harm category of this rating.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Content that promotes violence or incites hatred against individuals or groups based on certain attributes.",
            "Content that promotes, facilitates, or enables dangerous activities.",
            "Abusive, threatening, or content intended to bully, torment, or ridicule.",
            "Content that contains sexually explicit material.",
            "Deprecated: Election filter is not longer supported. The harm category is civic integrity.",
            "Images that contain hate speech.",
            "Images that contain dangerous content.",
            "Images that contain harassment.",
            "Images that contain sexually explicit content.",
            "Prompts designed to bypass safety filters."
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false
          ]
        },
        "blocked": {
          "readOnly": true,
          "description": "Output only. Indicates whether the content was blocked because of this rating.",
          "type": "boolean"
        },
        "overwrittenThreshold": {
          "enumDescriptions": [
            "The harm block threshold is unspecified.",
            "Block content with a low harm probability or higher.",
            "Block content with a medium harm probability or higher.",
            "Block content with a high harm probability.",
            "Do not block any content, regardless of its harm probability.",
            "Turn off the safety filter entirely."
          ],
          "enum": [
            "HARM_BLOCK_THRESHOLD_UNSPECIFIED",
            "BLOCK_LOW_AND_ABOVE",
            "BLOCK_MEDIUM_AND_ABOVE",
            "BLOCK_ONLY_HIGH",
            "BLOCK_NONE",
            "OFF"
          ],
          "readOnly": true,
          "description": "Output only. The overwritten threshold for the safety category of Gemini 2.0 image out. If minors are detected in the output image, the threshold of each safety category will be overwritten if user sets a lower threshold.",
          "type": "string"
        },
        "probability": {
          "description": "Output only. The probability of harm for this category.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "HARM_PROBABILITY_UNSPECIFIED",
            "NEGLIGIBLE",
            "LOW",
            "MEDIUM",
            "HIGH"
          ],
          "enumDescriptions": [
            "The harm probability is unspecified.",
            "The harm probability is negligible.",
            "The harm probability is low.",
            "The harm probability is medium.",
            "The harm probability is high."
          ]
        },
        "probabilityScore": {
          "readOnly": true,
          "description": "Output only. The probability score of harm for this category.",
          "type": "number",
          "format": "float"
        },
        "severityScore": {
          "readOnly": true,
          "description": "Output only. The severity score of harm for this category.",
          "type": "number",
          "format": "float"
        },
        "severity": {
          "enumDescriptions": [
            "The harm severity is unspecified.",
            "The harm severity is negligible.",
            "The harm severity is low.",
            "The harm severity is medium.",
            "The harm severity is high."
          ],
          "description": "Output only. The severity of harm for this category.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "HARM_SEVERITY_UNSPECIFIED",
            "HARM_SEVERITY_NEGLIGIBLE",
            "HARM_SEVERITY_LOW",
            "HARM_SEVERITY_MEDIUM",
            "HARM_SEVERITY_HIGH"
          ]
        }
      }
    },
    "GoogleCloudAiplatformV1PostStartupScriptConfig": {
      "id": "GoogleCloudAiplatformV1PostStartupScriptConfig",
      "description": "Post startup script config.",
      "type": "object",
      "properties": {
        "postStartupScript": {
          "description": "Optional. Post startup script to run after runtime is started.",
          "type": "string"
        },
        "postStartupScriptBehavior": {
          "description": "Optional. Post startup script behavior that defines download and execution behavior.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified post startup script behavior.",
            "Run post startup script after runtime is started.",
            "Run post startup script after runtime is stopped.",
            "Download and run post startup script every time runtime is started."
          ],
          "enum": [
            "POST_STARTUP_SCRIPT_BEHAVIOR_UNSPECIFIED",
            "RUN_ONCE",
            "RUN_EVERY_START",
            "DOWNLOAD_AND_RUN_EVERY_START"
          ]
        },
        "postStartupScriptUrl": {
          "description": "Optional. Post startup script url to download. Example: `gs://bucket/script.sh`",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1RemoveContextChildrenRequest": {
      "description": "Request message for MetadataService.DeleteContextChildrenRequest.",
      "type": "object",
      "properties": {
        "childContexts": {
          "items": {
            "type": "string"
          },
          "description": "The resource names of the child Contexts.",
          "type": "array"
        }
      },
      "id": "GoogleCloudAiplatformV1RemoveContextChildrenRequest"
    },
    "GoogleCloudAiplatformV1AuthConfigApiKeyConfig": {
      "id": "GoogleCloudAiplatformV1AuthConfigApiKeyConfig",
      "description": "Config for authentication with API key.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Optional. The parameter name of the API key. E.g. If the API request is \"https://example.com/act?api_key=\", \"api_key\" would be the parameter name.",
          "type": "string"
        },
        "apiKeyString": {
          "description": "Optional. The API key to be used in the request directly.",
          "type": "string"
        },
        "httpElementLocation": {
          "description": "Optional. The location of the API key.",
          "type": "string",
          "enumDescriptions": [
            "",
            "Element is in the HTTP request query.",
            "Element is in the HTTP request header.",
            "Element is in the HTTP request path.",
            "Element is in the HTTP request body.",
            "Element is in the HTTP request cookie."
          ],
          "enum": [
            "HTTP_IN_UNSPECIFIED",
            "HTTP_IN_QUERY",
            "HTTP_IN_HEADER",
            "HTTP_IN_PATH",
            "HTTP_IN_BODY",
            "HTTP_IN_COOKIE"
          ]
        },
        "apiKeySecret": {
          "description": "Optional. The name of the SecretManager secret version resource storing the API key. Format: `projects/{project}/secrets/{secrete}/versions/{version}` - If both `api_key_secret` and `api_key_string` are specified, this field takes precedence over `api_key_string`. - If specified, the `secretmanager.versions.access` permission should be granted to Vertex AI Extension Service Agent (https://cloud.google.com/vertex-ai/docs/general/access-control#service-agents) on the specified resource.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1CloudLoggingConfigTracingContext": {
      "description": "Tracing context for Observability correlation.",
      "type": "object",
      "properties": {
        "spanId": {
          "description": "Optional. ID of the Cloud Trace span associated with the current operation in which the log is being written. e.g., `7a2190356c3fc94b`. If a span is being evaluated, this field should be populated.",
          "type": "string"
        },
        "conversationId": {
          "description": "Optional. Unique identifier for a conversation (session thread), used to store and correlate messages within a conversation. The value corresponds to the `gen_ai.conversation.id` field in the the OpenTelemetry GenAI attributes.",
          "type": "string"
        },
        "traceId": {
          "description": "Optional. Trace ID being written to Cloud Trace in association with this log entry. e.g., `12345`, the numeric ID from the resource name. If a trace or span is being evaluated, this field should be populated.",
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1CloudLoggingConfigTracingContext"
    },
    "GoogleCloudAiplatformV1PreTunedModel": {
      "id": "GoogleCloudAiplatformV1PreTunedModel",
      "description": "A pre-tuned model for continuous tuning.",
      "type": "object",
      "properties": {
        "tunedModelName": {
          "description": "The resource name of the Model. E.g., a model resource name with a specified version id or alias: `projects/{project}/locations/{location}/models/{model}@{version_id}` `projects/{project}/locations/{location}/models/{model}@{alias}` Or, omit the version id to use the default version: `projects/{project}/locations/{location}/models/{model}`",
          "type": "string"
        },
        "baseModel": {
          "description": "Output only. The name of the base model this PreTunedModel was tuned from.",
          "type": "string",
          "readOnly": true
        },
        "checkpointId": {
          "description": "Optional. The source checkpoint id. If not specified, the default checkpoint will be used.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1SchemaTimeSeriesDatasetMetadataInputConfig": {
      "id": "GoogleCloudAiplatformV1SchemaTimeSeriesDatasetMetadataInputConfig",
      "description": "The time series Dataset's data source. The Dataset doesn't store the data directly, but only pointer(s) to its data.",
      "type": "object",
      "properties": {
        "gcsSource": {
          "$ref": "GoogleCloudAiplatformV1SchemaTimeSeriesDatasetMetadataGcsSource"
        },
        "bigquerySource": {
          "$ref": "GoogleCloudAiplatformV1SchemaTimeSeriesDatasetMetadataBigQuerySource"
        }
      }
    },
    "GoogleCloudAiplatformV1BigQueryRequestSetSamplingConfig": {
      "id": "GoogleCloudAiplatformV1BigQueryRequestSetSamplingConfig",
      "description": "The sampling config.",
      "type": "object",
      "properties": {
        "samplingMethod": {
          "enum": [
            "SAMPLING_METHOD_UNSPECIFIED",
            "RANDOM"
          ],
          "description": "Optional. The sampling method to use.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified sampling method.",
            "Random sampling."
          ]
        },
        "samplingCount": {
          "description": "Optional. The total number of logged data to import. If available data is less than the sampling count, all data will be imported. Default is 100.",
          "type": "integer",
          "format": "int32"
        },
        "samplingDuration": {
          "description": "Optional. How long to wait before sampling data from the BigQuery table. If not specified, defaults to 0.",
          "type": "string",
          "format": "google-duration"
        }
      }
    },
    "GoogleCloudAiplatformV1ExamplesRestrictionsNamespace": {
      "description": "Restrictions namespace for example-based explanations overrides.",
      "type": "object",
      "properties": {
        "namespaceName": {
          "description": "The namespace name.",
          "type": "string"
        },
        "allow": {
          "description": "The list of allowed tags.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "deny": {
          "items": {
            "type": "string"
          },
          "description": "The list of deny tags.",
          "type": "array"
        }
      },
      "id": "GoogleCloudAiplatformV1ExamplesRestrictionsNamespace"
    },
    "GoogleCloudAiplatformV1EvaluateDatasetResponse": {
      "description": "The results from an evaluation run performed by the EvaluationService.",
      "type": "object",
      "properties": {
        "aggregationOutput": {
          "$ref": "GoogleCloudAiplatformV1AggregationOutput",
          "description": "Output only. Aggregation statistics derived from results of EvaluationService.",
          "readOnly": true
        },
        "outputInfo": {
          "description": "Output only. Output info for EvaluationService.",
          "readOnly": true,
          "$ref": "GoogleCloudAiplatformV1OutputInfo"
        }
      },
      "id": "GoogleCloudAiplatformV1EvaluateDatasetResponse"
    },
    "GoogleCloudAiplatformV1SupervisedHyperParameters": {
      "id": "GoogleCloudAiplatformV1SupervisedHyperParameters",
      "description": "Hyperparameters for SFT.",
      "type": "object",
      "properties": {
        "learningRateMultiplier": {
          "description": "Optional. Multiplier for adjusting the default learning rate. Mutually exclusive with `learning_rate`. This feature is only available for 1P models.",
          "type": "number",
          "format": "double"
        },
        "epochCount": {
          "description": "Optional. Number of complete passes the model makes over the entire training dataset during training.",
          "type": "string",
          "format": "int64"
        },
        "adapterSize": {
          "description": "Optional. Adapter size for tuning.",
          "type": "string",
          "enumDescriptions": [
            "Adapter size is unspecified.",
            "Adapter size 1.",
            "Adapter size 2.",
            "Adapter size 4.",
            "Adapter size 8.",
            "Adapter size 16.",
            "Adapter size 32."
          ],
          "enum": [
            "ADAPTER_SIZE_UNSPECIFIED",
            "ADAPTER_SIZE_ONE",
            "ADAPTER_SIZE_TWO",
            "ADAPTER_SIZE_FOUR",
            "ADAPTER_SIZE_EIGHT",
            "ADAPTER_SIZE_SIXTEEN",
            "ADAPTER_SIZE_THIRTY_TWO"
          ]
        }
      }
    },
    "GoogleCloudAiplatformV1RagContextsContext": {
      "id": "GoogleCloudAiplatformV1RagContextsContext",
      "description": "A context of the query.",
      "type": "object",
      "properties": {
        "text": {
          "description": "The text chunk.",
          "type": "string"
        },
        "score": {
          "description": "According to the underlying Vector DB and the selected metric type, the score can be either the distance or the similarity between the query and the context and its range depends on the metric type. For example, if the metric type is COSINE_DISTANCE, it represents the distance between the query and the context. The larger the distance, the less relevant the context is to the query. The range is [0, 2], while 0 means the most relevant and 2 means the least relevant.",
          "type": "number",
          "format": "double"
        },
        "chunk": {
          "$ref": "GoogleCloudAiplatformV1RagChunk",
          "description": "Context of the retrieved chunk."
        },
        "sourceUri": {
          "description": "If the file is imported from Cloud Storage or Google Drive, source_uri will be original file URI in Cloud Storage or Google Drive; if file is uploaded, source_uri will be file display name.",
          "type": "string"
        },
        "sourceDisplayName": {
          "description": "The file display name.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1BleuSpec": {
      "id": "GoogleCloudAiplatformV1BleuSpec",
      "description": "Spec for bleu score metric - calculates the precision of n-grams in the prediction as compared to reference - returns a score ranging between 0 to 1.",
      "type": "object",
      "properties": {
        "useEffectiveOrder": {
          "description": "Optional. Whether to use_effective_order to compute bleu score.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudAiplatformV1EvaluationInstanceDeprecatedAgentDataEvents": {
      "id": "GoogleCloudAiplatformV1EvaluationInstanceDeprecatedAgentDataEvents",
      "description": "Represents a list of events for an agent.",
      "type": "object",
      "properties": {
        "event": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1Content"
          },
          "description": "Optional. A list of events.",
          "type": "array"
        }
      }
    },
    "GoogleIamV1Binding": {
      "description": "Associates `members`, or principals, with a `role`.",
      "type": "object",
      "properties": {
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles).",
          "type": "string"
        },
        "members": {
          "items": {
            "type": "string"
          },
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`.",
          "type": "array"
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "GoogleTypeExpr"
        }
      },
      "id": "GoogleIamV1Binding"
    },
    "GoogleCloudAiplatformV1BatchPredictionJobInputConfig": {
      "id": "GoogleCloudAiplatformV1BatchPredictionJobInputConfig",
      "description": "Configures the input to BatchPredictionJob. See Model.supported_input_storage_formats for Model's supported input formats, and how instances should be expressed via any of them.",
      "type": "object",
      "properties": {
        "gcsSource": {
          "$ref": "GoogleCloudAiplatformV1GcsSource",
          "description": "The Cloud Storage location for the input instances."
        },
        "bigquerySource": {
          "$ref": "GoogleCloudAiplatformV1BigQuerySource",
          "description": "The BigQuery location of the input table. The schema of the table should be in the format described by the given context OpenAPI Schema, if one is provided. The table may contain additional columns that are not described by the schema, and they will be ignored."
        },
        "instancesFormat": {
          "description": "Required. The format in which instances are given, must be one of the Model's supported_input_storage_formats.",
          "type": "string"
        },
        "vertexMultimodalDatasetSource": {
          "$ref": "GoogleCloudAiplatformV1VertexMultimodalDatasetSource",
          "description": "A Vertex Managed Dataset. Currently, only datasets of type Multimodal are supported."
        }
      }
    },
    "GoogleCloudAiplatformV1SchemaPredictPredictionImageObjectDetectionPredictionResult": {
      "description": "Prediction output format for Image Object Detection.",
      "type": "object",
      "properties": {
        "confidences": {
          "description": "The Model's confidences in correctness of the predicted IDs, higher value means higher confidence. Order matches the Ids.",
          "type": "array",
          "items": {
            "type": "number",
            "format": "float"
          }
        },
        "ids": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "The resource IDs of the AnnotationSpecs that had been identified, ordered by the confidence score descendingly.",
          "type": "array"
        },
        "displayNames": {
          "description": "The display names of the AnnotationSpecs that had been identified, order matches the IDs.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "bboxes": {
          "description": "Bounding boxes, i.e. the rectangles over the image, that pinpoint the found AnnotationSpecs. Given in order that matches the IDs. Each bounding box is an array of 4 numbers `xMin`, `xMax`, `yMin`, and `yMax`, which represent the extremal coordinates of the box. They are relative to the image size, and the point 0,0 is in the top left of the image.",
          "type": "array",
          "items": {
            "items": {
              "type": "any"
            },
            "type": "array"
          }
        }
      },
      "id": "GoogleCloudAiplatformV1SchemaPredictPredictionImageObjectDetectionPredictionResult"
    },
    "GoogleCloudAiplatformV1EvaluationResult": {
      "description": "Evaluation result.",
      "type": "object",
      "properties": {
        "evaluationRun": {
          "description": "Required. The evaluation run that was used to generate the result. Format: projects/{project}/locations/{location}/evaluationRuns/{evaluation_run}",
          "type": "string"
        },
        "request": {
          "description": "Required. The request that was evaluated.",
          "$ref": "GoogleCloudAiplatformV1EvaluationRequest"
        },
        "evaluationRequest": {
          "description": "Required. The request item that was evaluated. Format: projects/{project}/locations/{location}/evaluationItems/{evaluation_item}",
          "type": "string"
        },
        "candidateResults": {
          "description": "Optional. The results for the metric.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1CandidateResult"
          }
        },
        "metric": {
          "description": "Required. The metric that was evaluated.",
          "type": "string"
        },
        "metadata": {
          "description": "Optional. Metadata about the evaluation result.",
          "type": "any"
        }
      },
      "id": "GoogleCloudAiplatformV1EvaluationResult"
    },
    "GoogleCloudAiplatformV1MetricxResult": {
      "description": "Spec for MetricX result - calculates the MetricX score for the given instance using the version specified in the spec.",
      "type": "object",
      "properties": {
        "score": {
          "description": "Output only. MetricX score. Range depends on version.",
          "type": "number",
          "format": "float",
          "readOnly": true
        }
      },
      "id": "GoogleCloudAiplatformV1MetricxResult"
    },
    "GoogleCloudAiplatformV1CsvDestination": {
      "description": "The storage details for CSV output content.",
      "type": "object",
      "properties": {
        "gcsDestination": {
          "$ref": "GoogleCloudAiplatformV1GcsDestination",
          "description": "Required. Google Cloud Storage location."
        }
      },
      "id": "GoogleCloudAiplatformV1CsvDestination"
    },
    "GoogleCloudAiplatformV1SandboxEnvironmentTemplateResourceRequirements": {
      "id": "GoogleCloudAiplatformV1SandboxEnvironmentTemplateResourceRequirements",
      "description": "Message to define resource requests and limits (mirroring Kubernetes) for each sandbox instance created from this template.",
      "type": "object",
      "properties": {
        "limits": {
          "description": "Optional. The maximum amounts of compute resources allowed. Keys are resource names (e.g., \"cpu\", \"memory\"). Values are quantities (e.g., \"500m\", \"1Gi\").",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "requests": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The requested amounts of compute resources. Keys are resource names (e.g., \"cpu\", \"memory\"). Values are quantities (e.g., \"250m\", \"512Mi\").",
          "type": "object"
        }
      }
    },
    "GoogleCloudAiplatformV1SchemaPromptSpecTranslationOption": {
      "description": "Optional settings for translation prompt.",
      "type": "object",
      "properties": {
        "numberOfShots": {
          "description": "How many shots to use.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleCloudAiplatformV1SchemaPromptSpecTranslationOption"
    },
    "GoogleCloudAiplatformV1TrajectoryPrecisionInstance": {
      "description": "Spec for TrajectoryPrecision instance.",
      "type": "object",
      "properties": {
        "predictedTrajectory": {
          "$ref": "GoogleCloudAiplatformV1Trajectory",
          "description": "Required. Spec for predicted tool call trajectory."
        },
        "referenceTrajectory": {
          "description": "Required. Spec for reference tool call trajectory.",
          "$ref": "GoogleCloudAiplatformV1Trajectory"
        }
      },
      "id": "GoogleCloudAiplatformV1TrajectoryPrecisionInstance"
    },
    "GoogleCloudAiplatformV1GenerateContentResponsePromptFeedback": {
      "id": "GoogleCloudAiplatformV1GenerateContentResponsePromptFeedback",
      "description": "Content filter results for a prompt sent in the request. Note: This is sent only in the first stream chunk and only if no candidates were generated due to content violations.",
      "type": "object",
      "properties": {
        "blockReason": {
          "enum": [
            "BLOCKED_REASON_UNSPECIFIED",
            "SAFETY",
            "OTHER",
            "BLOCKLIST",
            "PROHIBITED_CONTENT",
            "MODEL_ARMOR",
            "IMAGE_SAFETY",
            "JAILBREAK"
          ],
          "readOnly": true,
          "description": "Output only. The reason why the prompt was blocked.",
          "type": "string",
          "enumDescriptions": [
            "The blocked reason is unspecified.",
            "The prompt was blocked for safety reasons.",
            "The prompt was blocked for other reasons. For example, it may be due to the prompt's language, or because it contains other harmful content.",
            "The prompt was blocked because it contains a term from the terminology blocklist.",
            "The prompt was blocked because it contains prohibited content.",
            "The prompt was blocked by Model Armor.",
            "The prompt was blocked because it contains content that is unsafe for image generation.",
            "The prompt was blocked as a jailbreak attempt."
          ]
        },
        "safetyRatings": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1SafetyRating"
          },
          "description": "Output only. A list of safety ratings for the prompt. There is one rating per category.",
          "type": "array",
          "readOnly": true
        },
        "blockReasonMessage": {
          "description": "Output only. A readable message that explains the reason why the prompt was blocked.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "GoogleCloudAiplatformV1SchemaModelevaluationMetricsImageObjectDetectionEvaluationMetrics": {
      "id": "GoogleCloudAiplatformV1SchemaModelevaluationMetricsImageObjectDetectionEvaluationMetrics",
      "description": "Metrics for image object detection evaluation results.",
      "type": "object",
      "properties": {
        "evaluatedBoundingBoxCount": {
          "description": "The total number of bounding boxes (i.e. summed over all images) the ground truth used to create this evaluation had.",
          "type": "integer",
          "format": "int32"
        },
        "boundingBoxMetrics": {
          "description": "The bounding boxes match metrics for each intersection-over-union threshold 0.05,0.10,...,0.95,0.96,0.97,0.98,0.99 and each label confidence threshold 0.05,0.10,...,0.95,0.96,0.97,0.98,0.99 pair.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1SchemaModelevaluationMetricsBoundingBoxMetrics"
          }
        },
        "boundingBoxMeanAveragePrecision": {
          "description": "The single metric for bounding boxes evaluation: the `meanAveragePrecision` averaged over all `boundingBoxMetricsEntries`.",
          "type": "number",
          "format": "float"
        }
      }
    },
    "GoogleCloudAiplatformV1TunedModelRef": {
      "id": "GoogleCloudAiplatformV1TunedModelRef",
      "description": "TunedModel Reference for legacy model migration.",
      "type": "object",
      "properties": {
        "tuningJob": {
          "description": "Support migration from tuning job list page, from gemini-1.0-pro-002 to 1.5 and above.",
          "type": "string"
        },
        "tunedModel": {
          "description": "Support migration from model registry.",
          "type": "string"
        },
        "pipelineJob": {
          "description": "Support migration from tuning job list page, from bison model to gemini model.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1ImportRagFilesConfig": {
      "description": "Config for importing RagFiles.",
      "type": "object",
      "properties": {
        "sharePointSources": {
          "$ref": "GoogleCloudAiplatformV1SharePointSources",
          "description": "SharePoint sources."
        },
        "partialFailureBigquerySink": {
          "description": "The BigQuery destination to write partial failures to. It should be a bigquery table resource name (e.g. \"bq://projectId.bqDatasetId.bqTableId\"). The dataset must exist. If the table does not exist, it will be created with the expected schema. If the table exists, the schema will be validated and data will be added to this existing table. Deprecated. Prefer to use `import_result_bq_sink`.",
          "deprecated": true,
          "$ref": "GoogleCloudAiplatformV1BigQueryDestination"
        },
        "maxEmbeddingRequestsPerMin": {
          "description": "Optional. The max number of queries per minute that this job is allowed to make to the embedding model specified on the corpus. This value is specific to this job and not shared across other import jobs. Consult the Quotas page on the project to set an appropriate value here. If unspecified, a default value of 1,000 QPM would be used.",
          "type": "integer",
          "format": "int32"
        },
        "jiraSource": {
          "description": "Jira queries with their corresponding authentication.",
          "$ref": "GoogleCloudAiplatformV1JiraSource"
        },
        "rebuildAnnIndex": {
          "description": "Rebuilds the ANN index to optimize for recall on the imported data. Only applicable for RagCorpora running on RagManagedDb with `retrieval_strategy` set to `ANN`. The rebuild will be performed using the existing ANN config set on the RagCorpus. To change the ANN config, please use the UpdateRagCorpus API. Default is false, i.e., index is not rebuilt.",
          "type": "boolean"
        },
        "importResultBigquerySink": {
          "$ref": "GoogleCloudAiplatformV1BigQueryDestination",
          "description": "The BigQuery destination to write import result to. It should be a bigquery table resource name (e.g. \"bq://projectId.bqDatasetId.bqTableId\"). The dataset must exist. If the table does not exist, it will be created with the expected schema. If the table exists, the schema will be validated and data will be added to this existing table."
        },
        "slackSource": {
          "description": "Slack channels with their corresponding access tokens.",
          "$ref": "GoogleCloudAiplatformV1SlackSource"
        },
        "googleDriveSource": {
          "description": "Google Drive location. Supports importing individual files as well as Google Drive folders.",
          "$ref": "GoogleCloudAiplatformV1GoogleDriveSource"
        },
        "partialFailureGcsSink": {
          "description": "The Cloud Storage path to write partial failures to. Deprecated. Prefer to use `import_result_gcs_sink`.",
          "deprecated": true,
          "$ref": "GoogleCloudAiplatformV1GcsDestination"
        },
        "importResultGcsSink": {
          "description": "The Cloud Storage path to write import result to.",
          "$ref": "GoogleCloudAiplatformV1GcsDestination"
        },
        "ragFileTransformationConfig": {
          "description": "Specifies the transformation config for RagFiles.",
          "$ref": "GoogleCloudAiplatformV1RagFileTransformationConfig"
        },
        "gcsSource": {
          "description": "Google Cloud Storage location. Supports importing individual files as well as entire Google Cloud Storage directories. Sample formats: - `gs://bucket_name/my_directory/object_name/my_file.txt` - `gs://bucket_name/my_directory`",
          "$ref": "GoogleCloudAiplatformV1GcsSource"
        },
        "ragFileParsingConfig": {
          "$ref": "GoogleCloudAiplatformV1RagFileParsingConfig",
          "description": "Optional. Specifies the parsing config for RagFiles. RAG will use the default parser if this field is not set."
        }
      },
      "id": "GoogleCloudAiplatformV1ImportRagFilesConfig"
    },
    "GoogleCloudAiplatformV1EncryptionSpec": {
      "id": "GoogleCloudAiplatformV1EncryptionSpec",
      "description": "Represents a customer-managed encryption key specification that can be applied to a Vertex AI resource.",
      "type": "object",
      "properties": {
        "kmsKeyName": {
          "description": "Required. Resource name of the Cloud KMS key used to protect the resource. The Cloud KMS key must be in the same region as the resource. It must have the format `projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{crypto_key}`.",
          "type": "string"
        }
      }
    },
    "CloudAiLargeModelsVisionGenerateVideoResponse": {
      "id": "CloudAiLargeModelsVisionGenerateVideoResponse",
      "description": "Generate video response.",
      "type": "object",
      "properties": {
        "raiMediaFilteredReasons": {
          "items": {
            "type": "string"
          },
          "description": "Returns rai failure reasons if any.",
          "type": "array"
        },
        "raiMediaFilteredCount": {
          "description": "Returns if any videos were filtered due to RAI policies.",
          "type": "integer",
          "format": "int32"
        },
        "generatedSamples": {
          "items": {
            "$ref": "CloudAiLargeModelsVisionMedia"
          },
          "description": "The generates samples.",
          "type": "array"
        },
        "videos": {
          "items": {
            "$ref": "CloudAiLargeModelsVisionGenerateVideoResponseVideo"
          },
          "description": "List of videos, used to align naming with the external response.",
          "type": "array"
        }
      }
    },
    "GoogleCloudAiplatformV1Transcription": {
      "id": "GoogleCloudAiplatformV1Transcription",
      "description": "Audio transcription in Server Content.",
      "type": "object",
      "properties": {
        "finished": {
          "description": "Optional. The bool indicates the end of the transcription.",
          "type": "boolean"
        },
        "text": {
          "description": "Optional. Transcription text.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1PublisherModelCallToActionOpenFineTuningPipelines": {
      "description": "Open fine tuning pipelines.",
      "type": "object",
      "properties": {
        "fineTuningPipelines": {
          "description": "Required. Regional resource references to fine tuning pipelines.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1PublisherModelCallToActionRegionalResourceReferences"
          }
        }
      },
      "id": "GoogleCloudAiplatformV1PublisherModelCallToActionOpenFineTuningPipelines"
    },
    "GoogleCloudAiplatformV1SchemaPredictInstanceVideoActionRecognitionPredictionInstance": {
      "description": "Prediction input format for Video Action Recognition.",
      "type": "object",
      "properties": {
        "mimeType": {
          "description": "The MIME type of the content of the video. Only the following are supported: video/mp4 video/avi video/quicktime",
          "type": "string"
        },
        "timeSegmentStart": {
          "description": "The beginning, inclusive, of the video's time segment on which to perform the prediction. Expressed as a number of seconds as measured from the start of the video, with \"s\" appended at the end. Fractions are allowed, up to a microsecond precision.",
          "type": "string"
        },
        "timeSegmentEnd": {
          "description": "The end, exclusive, of the video's time segment on which to perform the prediction. Expressed as a number of seconds as measured from the start of the video, with \"s\" appended at the end. Fractions are allowed, up to a microsecond precision, and \"inf\" or \"Infinity\" is allowed, which means the end of the video.",
          "type": "string"
        },
        "content": {
          "description": "The Google Cloud Storage location of the video on which to perform the prediction.",
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1SchemaPredictInstanceVideoActionRecognitionPredictionInstance"
    },
    "GoogleCloudAiplatformV1DeployedModel": {
      "id": "GoogleCloudAiplatformV1DeployedModel",
      "description": "A deployment of a Model. Endpoints contain one or more DeployedModels.",
      "type": "object",
      "properties": {
        "id": {
          "description": "Immutable. The ID of the DeployedModel. If not provided upon deployment, Vertex AI will generate a value for this ID. This value should be 1-10 characters, and valid characters are `/[0-9]/`.",
          "type": "string"
        },
        "status": {
          "$ref": "GoogleCloudAiplatformV1DeployedModelStatus",
          "readOnly": true,
          "description": "Output only. Runtime status of the deployed model."
        },
        "dedicatedResources": {
          "description": "A description of resources that are dedicated to the DeployedModel, and that need a higher degree of manual configuration.",
          "$ref": "GoogleCloudAiplatformV1DedicatedResources"
        },
        "speculativeDecodingSpec": {
          "$ref": "GoogleCloudAiplatformV1SpeculativeDecodingSpec",
          "description": "Optional. Spec for configuring speculative decoding."
        },
        "sharedResources": {
          "description": "The resource name of the shared DeploymentResourcePool to deploy on. Format: `projects/{project}/locations/{location}/deploymentResourcePools/{deployment_resource_pool}`",
          "type": "string"
        },
        "systemLabels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "System labels to apply to Model Garden deployments. System labels are managed by Google for internal use only.",
          "type": "object"
        },
        "gdcConnectedModel": {
          "description": "GDC pretrained / Gemini model name. The model name is a plain model name, e.g. gemini-1.5-flash-002.",
          "type": "string"
        },
        "disableExplanations": {
          "description": "If true, deploy the model without explainable feature, regardless the existence of Model.explanation_spec or explanation_spec.",
          "type": "boolean"
        },
        "serviceAccount": {
          "description": "The service account that the DeployedModel's container runs as. Specify the email address of the service account. If this service account is not specified, the container runs as a service account that doesn't have access to the resource project. Users deploying the Model must have the `iam.serviceAccounts.actAs` permission on this service account.",
          "type": "string"
        },
        "privateEndpoints": {
          "description": "Output only. Provide paths for users to send predict/explain/health requests directly to the deployed model services running on Cloud via private services access. This field is populated if network is configured.",
          "readOnly": true,
          "$ref": "GoogleCloudAiplatformV1PrivateEndpoints"
        },
        "displayName": {
          "description": "The display name of the DeployedModel. If not provided upon creation, the Model's display_name is used.",
          "type": "string"
        },
        "fasterDeploymentConfig": {
          "$ref": "GoogleCloudAiplatformV1FasterDeploymentConfig",
          "description": "Configuration for faster model deployment."
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Timestamp when the DeployedModel was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "model": {
          "description": "The resource name of the Model that this is the deployment of. Note that the Model may be in a different location than the DeployedModel's Endpoint. The resource name may contain version id or version alias to specify the version. Example: `projects/{project}/locations/{location}/models/{model}@2` or `projects/{project}/locations/{location}/models/{model}@golden` if no version is specified, the default version will be deployed.",
          "type": "string"
        },
        "automaticResources": {
          "$ref": "GoogleCloudAiplatformV1AutomaticResources",
          "description": "A description of resources that to large degree are decided by Vertex AI, and require only a modest additional configuration."
        },
        "modelVersionId": {
          "readOnly": true,
          "description": "Output only. The version ID of the model that is deployed.",
          "type": "string"
        },
        "explanationSpec": {
          "$ref": "GoogleCloudAiplatformV1ExplanationSpec",
          "description": "Explanation configuration for this DeployedModel. When deploying a Model using EndpointService.DeployModel, this value overrides the value of Model.explanation_spec. All fields of explanation_spec are optional in the request. If a field of explanation_spec is not populated, the value of the same field of Model.explanation_spec is inherited. If the corresponding Model.explanation_spec is not populated, all fields of the explanation_spec will be used for the explanation configuration."
        },
        "checkpointId": {
          "description": "The checkpoint id of the model.",
          "type": "string"
        },
        "disableContainerLogging": {
          "description": "For custom-trained Models and AutoML Tabular Models, the container of the DeployedModel instances will send `stderr` and `stdout` streams to Cloud Logging by default. Please note that the logs incur cost, which are subject to [Cloud Logging pricing](https://cloud.google.com/logging/pricing). User can disable container logging by setting this flag to true.",
          "type": "boolean"
        },
        "enableAccessLogging": {
          "description": "If true, online prediction access logs are sent to Cloud Logging. These logs are like standard server access logs, containing information like timestamp and latency for each prediction request. Note that logs may incur a cost, especially if your project receives prediction requests at a high queries per second rate (QPS). Estimate your costs before enabling this option.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudAiplatformV1GenerateUserScenariosResponse": {
      "description": "Response message for DataFoundryService.GenerateUserScenarios.",
      "type": "object",
      "properties": {
        "userScenarios": {
          "description": "The generated user scenarios used to simulate multi-turn agent running results and agent evaluation.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1UserScenario"
          }
        }
      },
      "id": "GoogleCloudAiplatformV1GenerateUserScenariosResponse"
    },
    "GoogleCloudAiplatformV1CreateNotebookRuntimeTemplateOperationMetadata": {
      "id": "GoogleCloudAiplatformV1CreateNotebookRuntimeTemplateOperationMetadata",
      "description": "Metadata information for NotebookService.CreateNotebookRuntimeTemplate.",
      "type": "object",
      "properties": {
        "genericMetadata": {
          "$ref": "GoogleCloudAiplatformV1GenericOperationMetadata",
          "description": "The operation generic information."
        }
      }
    },
    "GoogleCloudAiplatformV1StratifiedSplit": {
      "description": "Assigns input data to the training, validation, and test sets so that the distribution of values found in the categorical column (as specified by the `key` field) is mirrored within each split. The fraction values determine the relative sizes of the splits. For example, if the specified column has three values, with 50% of the rows having value \"A\", 25% value \"B\", and 25% value \"C\", and the split fractions are specified as 80/10/10, then the training set will constitute 80% of the training data, with about 50% of the training set rows having the value \"A\" for the specified column, about 25% having the value \"B\", and about 25% having the value \"C\". Only the top 500 occurring values are used; any values not in the top 500 values are randomly assigned to a split. If less than three rows contain a specific value, those rows are randomly assigned. Supported only for tabular Datasets.",
      "type": "object",
      "properties": {
        "validationFraction": {
          "description": "The fraction of the input data that is to be used to validate the Model.",
          "type": "number",
          "format": "double"
        },
        "testFraction": {
          "description": "The fraction of the input data that is to be used to evaluate the Model.",
          "type": "number",
          "format": "double"
        },
        "key": {
          "description": "Required. The key is a name of one of the Dataset's data columns. The key provided must be for a categorical column.",
          "type": "string"
        },
        "trainingFraction": {
          "description": "The fraction of the input data that is to be used to train the Model.",
          "type": "number",
          "format": "double"
        }
      },
      "id": "GoogleCloudAiplatformV1StratifiedSplit"
    },
    "GoogleCloudAiplatformV1FetchFeatureValuesResponseFeatureNameValuePairList": {
      "id": "GoogleCloudAiplatformV1FetchFeatureValuesResponseFeatureNameValuePairList",
      "description": "Response structure in the format of key (feature name) and (feature) value pair.",
      "type": "object",
      "properties": {
        "features": {
          "description": "List of feature names and values.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1FetchFeatureValuesResponseFeatureNameValuePairListFeatureNameValuePair"
          }
        }
      }
    },
    "GoogleCloudAiplatformV1ListNasJobsResponse": {
      "id": "GoogleCloudAiplatformV1ListNasJobsResponse",
      "description": "Response message for JobService.ListNasJobs",
      "type": "object",
      "properties": {
        "nasJobs": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1NasJob"
          },
          "description": "List of NasJobs in the requested page. NasJob.nas_job_output of the jobs will not be returned.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass to ListNasJobsRequest.page_token to obtain that page.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1ListEvaluationSetsResponse": {
      "description": "Response message for EvaluationManagementService.ListEvaluationSets.",
      "type": "object",
      "properties": {
        "evaluationSets": {
          "description": "List of EvaluationSets in the requested page.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1EvaluationSet"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results.",
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1ListEvaluationSetsResponse"
    },
    "GoogleCloudAiplatformV1ImportFeatureValuesResponse": {
      "description": "Response message for FeaturestoreService.ImportFeatureValues.",
      "type": "object",
      "properties": {
        "importedEntityCount": {
          "description": "Number of entities that have been imported by the operation.",
          "type": "string",
          "format": "int64"
        },
        "invalidRowCount": {
          "description": "The number of rows in input source that weren't imported due to either * Not having any featureValues. * Having a null entityId. * Having a null timestamp. * Not being parsable (applicable for CSV sources).",
          "type": "string",
          "format": "int64"
        },
        "timestampOutsideRetentionRowsCount": {
          "description": "The number rows that weren't ingested due to having feature timestamps outside the retention boundary.",
          "type": "string",
          "format": "int64"
        },
        "importedFeatureValueCount": {
          "description": "Number of Feature values that have been imported by the operation.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "GoogleCloudAiplatformV1ImportFeatureValuesResponse"
    },
    "GoogleCloudAiplatformV1IngestEventsRequest": {
      "description": "Request message for MemoryBankService.IngestEvents.",
      "type": "object",
      "properties": {
        "metadata": {
          "additionalProperties": {
            "$ref": "GoogleCloudAiplatformV1MemoryMetadataValue"
          },
          "description": "Optional. User-provided metadata for the generated memories. This is not generated by Memory Bank.",
          "type": "object"
        },
        "directContentsSource": {
          "$ref": "GoogleCloudAiplatformV1IngestionDirectContentsSource",
          "description": "Ingest events directly from the request."
        },
        "disableMemoryRevisions": {
          "description": "Optional. If true, no revisions will be created for this request.",
          "type": "boolean"
        },
        "scope": {
          "description": "Required. The scope of the memories that should be generated from the stream. Memories will be consolidated across memories with the same scope. Scope values cannot contain the wildcard character '*'.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "revisionLabels": {
          "description": "Optional. Labels to be applied to the generated memory revisions. For example, you can use this to label a revision with its data source.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "revisionTtl": {
          "description": "Optional. The TTL for the revision. The expiration time is computed: now + TTL.",
          "type": "string",
          "format": "google-duration"
        },
        "streamId": {
          "description": "Optional. The ID of the stream to ingest events into. If not provided, a new one will be created.",
          "type": "string"
        },
        "revisionExpireTime": {
          "description": "Optional. Timestamp of when the revision is considered expired. If not set, the memory revision will be kept until manually deleted.",
          "type": "string",
          "format": "google-datetime"
        },
        "generationTriggerConfig": {
          "$ref": "GoogleCloudAiplatformV1MemoryGenerationTriggerConfig",
          "description": "Optional. Configuration for triggering memory generation from this ingestion. If not set, then the stream will be force flushed immediately."
        },
        "forceFlush": {
          "description": "Optional. Forces a flush of all pending events in the stream and triggers memory generation immediately bypassing any conditions configured in the `generation_trigger_config`.",
          "type": "boolean"
        },
        "metadataMergeStrategy": {
          "description": "Optional. The strategy to use when applying metadata to existing memories.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified metadata merge strategy. If unspecified, the default behavior is to overwrite existing metadata (`OVERWRITE`).",
            "Replace the metadata of the updated memories with the new metadata.",
            "Append new metadata to the existing metadata. If there are duplicate keys, the existing values will be overwritten.",
            "Restrict consolidation to memories that have exactly the same metadata as the request. If a memory doesn't have the same metadata, it is not eligible for consolidation."
          ],
          "enum": [
            "METADATA_MERGE_STRATEGY_UNSPECIFIED",
            "OVERWRITE",
            "MERGE",
            "REQUIRE_EXACT_MATCH"
          ]
        }
      },
      "id": "GoogleCloudAiplatformV1IngestEventsRequest"
    },
    "GoogleCloudAiplatformV1StreamQueryReasoningEngineRequest": {
      "id": "GoogleCloudAiplatformV1StreamQueryReasoningEngineRequest",
      "description": "Request message for ReasoningEngineExecutionService.StreamQuery.",
      "type": "object",
      "properties": {
        "input": {
          "description": "Optional. Input content provided by users in JSON object format. Examples include text query, function calling parameters, media bytes, etc.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "classMethod": {
          "description": "Optional. Class method to be used for the stream query. It is optional and defaults to \"stream_query\" if unspecified.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1CancelAsyncQueryReasoningEngineResponse": {
      "id": "GoogleCloudAiplatformV1CancelAsyncQueryReasoningEngineResponse",
      "description": "Response message for ReasoningEngineExecutionService.CancelAsyncQueryReasoningEngine.",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudAiplatformV1PersistentResource": {
      "id": "GoogleCloudAiplatformV1PersistentResource",
      "description": "Represents long-lasting resources that are dedicated to users to runs custom workloads. A PersistentResource can have multiple node pools and each node pool can have its own machine spec.",
      "type": "object",
      "properties": {
        "error": {
          "$ref": "GoogleRpcStatus",
          "readOnly": true,
          "description": "Output only. Only populated when persistent resource's state is `STOPPING` or `ERROR`."
        },
        "startTime": {
          "description": "Output only. Time when the PersistentResource for the first time entered the `RUNNING` state.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "pscInterfaceConfig": {
          "description": "Optional. Configuration for PSC-I for PersistentResource.",
          "$ref": "GoogleCloudAiplatformV1PscInterfaceConfig"
        },
        "labels": {
          "description": "Optional. The labels with user-defined metadata to organize PersistentResource. Label keys and values can be no longer than 64 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. See https://goo.gl/xmQnxf for more information and examples of labels.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "resourceRuntime": {
          "readOnly": true,
          "description": "Output only. Runtime information of the Persistent Resource.",
          "$ref": "GoogleCloudAiplatformV1ResourceRuntime"
        },
        "encryptionSpec": {
          "description": "Optional. Customer-managed encryption key spec for a PersistentResource. If set, this PersistentResource and all sub-resources of this PersistentResource will be secured by this key.",
          "$ref": "GoogleCloudAiplatformV1EncryptionSpec"
        },
        "satisfiesPzi": {
          "description": "Output only. Reserved for future use.",
          "type": "boolean",
          "readOnly": true
        },
        "displayName": {
          "description": "Optional. The display name of the PersistentResource. The name can be up to 128 characters long and can consist of any UTF-8 characters.",
          "type": "string"
        },
        "resourcePools": {
          "description": "Required. The spec of the pools of different resources.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1ResourcePool"
          }
        },
        "satisfiesPzs": {
          "description": "Output only. Reserved for future use.",
          "type": "boolean",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. Time when the PersistentResource was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "reservedIpRanges": {
          "description": "Optional. A list of names for the reserved IP ranges under the VPC network that can be used for this persistent resource. If set, we will deploy the persistent resource within the provided IP ranges. Otherwise, the persistent resource is deployed to any IP ranges under the provided VPC network. Example: ['vertex-ai-ip-range'].",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "updateTime": {
          "description": "Output only. Time when the PersistentResource was most recently updated.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "name": {
          "description": "Immutable. Resource name of a PersistentResource.",
          "type": "string"
        },
        "resourceRuntimeSpec": {
          "$ref": "GoogleCloudAiplatformV1ResourceRuntimeSpec",
          "description": "Optional. Persistent Resource runtime spec. For example, used for Ray cluster configuration."
        },
        "state": {
          "readOnly": true,
          "description": "Output only. The detailed state of a Study.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "RUNNING",
            "STOPPING",
            "ERROR",
            "REBOOTING",
            "UPDATING"
          ],
          "enumDescriptions": [
            "Not set.",
            "The PROVISIONING state indicates the persistent resources is being created.",
            "The RUNNING state indicates the persistent resource is healthy and fully usable.",
            "The STOPPING state indicates the persistent resource is being deleted.",
            "The ERROR state indicates the persistent resource may be unusable. Details can be found in the `error` field.",
            "The REBOOTING state indicates the persistent resource is being rebooted (PR is not available right now but is expected to be ready again later).",
            "The UPDATING state indicates the persistent resource is being updated."
          ]
        },
        "network": {
          "description": "Optional. The full name of the Compute Engine [network](/compute/docs/networks-and-firewalls#networks) to peered with Vertex AI to host the persistent resources. For example, `projects/12345/global/networks/myVPC`. [Format](/compute/docs/reference/rest/v1/networks/insert) is of the form `projects/{project}/global/networks/{network}`. Where {project} is a project number, as in `12345`, and {network} is a network name. To specify this field, you must have already [configured VPC Network Peering for Vertex AI](https://cloud.google.com/vertex-ai/docs/general/vpc-peering). If this field is left unspecified, the resources aren't peered with any network.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1ReasoningEngineSpecSourceCodeSpecAgentConfigSource": {
      "id": "GoogleCloudAiplatformV1ReasoningEngineSpecSourceCodeSpecAgentConfigSource",
      "description": "Specification for the deploying from agent config.",
      "type": "object",
      "properties": {
        "inlineSource": {
          "description": "Optional. Any additional files needed to interpret the config. If a `requirements.txt` file is present in the `inline_source`, the corresponding packages will be installed. If no `requirements.txt` file is present in `inline_source`, then the latest version of `google-adk` will be installed for interpreting the ADK config.",
          "$ref": "GoogleCloudAiplatformV1ReasoningEngineSpecSourceCodeSpecInlineSource"
        },
        "adkConfig": {
          "description": "Required. The ADK configuration.",
          "$ref": "GoogleCloudAiplatformV1ReasoningEngineSpecSourceCodeSpecAgentConfigSourceAdkConfig"
        }
      }
    },
    "GoogleCloudAiplatformV1CandidateResponse": {
      "id": "GoogleCloudAiplatformV1CandidateResponse",
      "description": "Responses from model or agent.",
      "type": "object",
      "properties": {
        "text": {
          "description": "Text response.",
          "type": "string"
        },
        "error": {
          "$ref": "GoogleRpcStatus",
          "description": "Output only. Error while scraping model or agent.",
          "readOnly": true
        },
        "agentData": {
          "$ref": "GoogleCloudAiplatformV1AgentData",
          "description": "Optional. Represents the complete execution trace of a multi-turn conversation, which can involve single or multiple agents. This field is used to provide the full output of an agent's run, including all turns and events, for direct evaluation."
        },
        "value": {
          "description": "Fields and values that can be used to populate the response template.",
          "type": "any"
        },
        "candidate": {
          "description": "Required. The name of the candidate that produced the response.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1SearchMigratableResourcesRequest": {
      "id": "GoogleCloudAiplatformV1SearchMigratableResourcesRequest",
      "description": "Request message for MigrationService.SearchMigratableResources.",
      "type": "object",
      "properties": {
        "pageToken": {
          "description": "The standard page token.",
          "type": "string"
        },
        "filter": {
          "description": "A filter for your search. You can use the following types of filters: * Resource type filters. The following strings filter for a specific type of MigratableResource: * `ml_engine_model_version:*` * `automl_model:*` * `automl_dataset:*` * `data_labeling_dataset:*` * \"Migrated or not\" filters. The following strings filter for resources that either have or have not already been migrated: * `last_migrate_time:*` filters for migrated resources. * `NOT last_migrate_time:*` filters for not yet migrated resources.",
          "type": "string"
        },
        "pageSize": {
          "description": "The standard page size. The default and maximum value is 100.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudAiplatformV1VertexRagStoreRagResource": {
      "description": "The definition of the Rag resource.",
      "type": "object",
      "properties": {
        "ragFileIds": {
          "items": {
            "type": "string"
          },
          "description": "Optional. rag_file_id. The files should be in the same rag_corpus set in rag_corpus field.",
          "type": "array"
        },
        "ragCorpus": {
          "description": "Optional. RagCorpora resource name. Format: `projects/{project}/locations/{location}/ragCorpora/{rag_corpus}`",
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1VertexRagStoreRagResource"
    },
    "GoogleCloudAiplatformV1QuestionAnsweringCorrectnessInstance": {
      "description": "Spec for question answering correctness instance.",
      "type": "object",
      "properties": {
        "reference": {
          "description": "Optional. Ground truth used to compare against the prediction.",
          "type": "string"
        },
        "prediction": {
          "description": "Required. Output of the evaluated model.",
          "type": "string"
        },
        "instruction": {
          "description": "Required. The question asked and other instruction in the inference prompt.",
          "type": "string"
        },
        "context": {
          "description": "Optional. Text provided as context to answer the question.",
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1QuestionAnsweringCorrectnessInstance"
    },
    "GoogleCloudAiplatformV1SchemaPredictParamsImageObjectDetectionPredictionParams": {
      "id": "GoogleCloudAiplatformV1SchemaPredictParamsImageObjectDetectionPredictionParams",
      "description": "Prediction model parameters for Image Object Detection.",
      "type": "object",
      "properties": {
        "confidenceThreshold": {
          "description": "The Model only returns predictions with at least this confidence score. Default value is 0.0",
          "type": "number",
          "format": "float"
        },
        "maxPredictions": {
          "description": "The Model only returns up to that many top, by confidence score, predictions per instance. Note that number of returned predictions is also limited by metadata's predictionsLimit. Default value is 10.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudAiplatformV1CoherenceInstance": {
      "description": "Spec for coherence instance.",
      "type": "object",
      "properties": {
        "prediction": {
          "description": "Required. Output of the evaluated model.",
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1CoherenceInstance"
    },
    "GoogleCloudAiplatformV1SuggestTrialsMetadata": {
      "description": "Details of operations that perform Trials suggestion.",
      "type": "object",
      "properties": {
        "genericMetadata": {
          "$ref": "GoogleCloudAiplatformV1GenericOperationMetadata",
          "description": "Operation metadata for suggesting Trials."
        },
        "clientId": {
          "description": "The identifier of the client that is requesting the suggestion. If multiple SuggestTrialsRequests have the same `client_id`, the service will return the identical suggested Trial if the Trial is pending, and provide a new Trial if the last suggested Trial was completed.",
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1SuggestTrialsMetadata"
    },
    "GoogleCloudAiplatformV1NasJobSpec": {
      "description": "Represents the spec of a NasJob.",
      "type": "object",
      "properties": {
        "multiTrialAlgorithmSpec": {
          "description": "The spec of multi-trial algorithms.",
          "$ref": "GoogleCloudAiplatformV1NasJobSpecMultiTrialAlgorithmSpec"
        },
        "searchSpaceSpec": {
          "description": "It defines the search space for Neural Architecture Search (NAS).",
          "type": "string"
        },
        "resumeNasJobId": {
          "description": "The ID of the existing NasJob in the same Project and Location which will be used to resume search. search_space_spec and nas_algorithm_spec are obtained from previous NasJob hence should not provide them again for this NasJob.",
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1NasJobSpec"
    },
    "GoogleCloudAiplatformV1ResourceRuntime": {
      "id": "GoogleCloudAiplatformV1ResourceRuntime",
      "description": "Persistent Cluster runtime information as output",
      "type": "object",
      "properties": {
        "accessUris": {
          "readOnly": true,
          "description": "Output only. URIs for user to connect to the Cluster. Example: { \"RAY_HEAD_NODE_INTERNAL_IP\": \"head-node-IP:10001\" \"RAY_DASHBOARD_URI\": \"ray-dashboard-address:8888\" }",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlForecastingInputsTransformationTimestampTransformation": {
      "description": "Training pipeline will perform following transformation functions. * Apply the transformation functions for Numerical columns. * Determine the year, month, day,and weekday. Treat each value from the timestamp as a Categorical column. * Invalid numerical values (for example, values that fall outside of a typical timestamp range, or are extreme values) receive no special treatment and are not removed.",
      "type": "object",
      "properties": {
        "columnName": {
          "type": "string"
        },
        "timeFormat": {
          "description": "The format in which that time field is expressed. The time_format must either be one of: * `unix-seconds` * `unix-milliseconds` * `unix-microseconds` * `unix-nanoseconds` (for respectively number of seconds, milliseconds, microseconds and nanoseconds since start of the Unix epoch); or be written in `strftime` syntax. If time_format is not set, then the default format is RFC 3339 `date-time` format, where `time-offset` = `\"Z\"` (e.g. 1985-04-12T23:20:50.52Z)",
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlForecastingInputsTransformationTimestampTransformation"
    },
    "GoogleCloudAiplatformV1EvaluationRunInferenceConfig": {
      "id": "GoogleCloudAiplatformV1EvaluationRunInferenceConfig",
      "description": "Defines the configuration for a candidate model or agent being evaluated. `InferenceConfig` encapsulates all the necessary information to invoke or scrape the candidate during the evaluation run. This includes direct model inference parameters, agent execution settings, and multi-turn scraping configurations (such as user simulators). It serves as the primary representation of the candidate across different stages of the evaluation process.",
      "type": "object",
      "properties": {
        "parallelism": {
          "description": "Optional. The parallelism of the evaluation run for the inference step. If not specified, the default parallelism will be used.",
          "type": "integer",
          "format": "int32"
        },
        "agents": {
          "description": "Optional. Contains the static configurations for each agent in the system. Key: agent_id (matches the `author` field in events). Value: The static configuration of the agent.",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudAiplatformV1AgentConfig"
          }
        },
        "generationConfig": {
          "$ref": "GoogleCloudAiplatformV1GenerationConfig",
          "description": "Optional. Generation config."
        },
        "model": {
          "description": "Optional. The fully qualified name of the publisher model or endpoint to use. Anthropic and Llama third-party models are also supported through Model Garden. Publisher model format: `projects/{project}/locations/{location}/publishers/*/models/*` Third-party model formats: `projects/{project}/locations/{location}/publishers/anthropic/models/{model}` or `projects/{project}/locations/{location}/publishers/llama/models/{model}` Endpoint format: `projects/{project}/locations/{location}/endpoints/{endpoint}`",
          "type": "string"
        },
        "agentRunConfig": {
          "description": "Optional. Agent run config.",
          "$ref": "GoogleCloudAiplatformV1EvaluationRunInferenceConfigAgentRunConfig"
        },
        "promptTemplate": {
          "description": "Optional. The prompt template used for inference. The values for variables in the prompt template are defined in EvaluationItem.EvaluationPrompt.PromptTemplateData.values. If not specified, the prompt template in the EvaluationConfig will be used.",
          "$ref": "GoogleCloudAiplatformV1EvaluationRunEvaluationConfigPromptTemplate"
        }
      }
    },
    "GoogleCloudAiplatformV1EmbedContentResponse": {
      "id": "GoogleCloudAiplatformV1EmbedContentResponse",
      "description": "Response message for PredictionService.EmbedContent.",
      "type": "object",
      "properties": {
        "usageMetadata": {
          "$ref": "GoogleCloudAiplatformV1UsageMetadata",
          "description": "Usage metadata about the response(s)."
        },
        "truncated": {
          "description": "Whether the input content was truncated before generating the embedding.",
          "type": "boolean"
        },
        "embedding": {
          "description": "The embedding generated from the input content.",
          "$ref": "GoogleCloudAiplatformV1EmbedContentResponseEmbedding"
        }
      }
    },
    "GoogleCloudAiplatformV1CompletionStats": {
      "description": "Success and error statistics of processing multiple entities (for example, DataItems or structured data rows) in batch.",
      "type": "object",
      "properties": {
        "incompleteCount": {
          "readOnly": true,
          "description": "Output only. In cases when enough errors are encountered a job, pipeline, or operation may be failed as a whole. Below is the number of entities for which the processing had not been finished (either in successful or failed state). Set to -1 if the number is unknown (for example, the operation failed before the total entity number could be collected).",
          "type": "string",
          "format": "int64"
        },
        "successfulCount": {
          "readOnly": true,
          "description": "Output only. The number of entities that had been processed successfully.",
          "type": "string",
          "format": "int64"
        },
        "failedCount": {
          "description": "Output only. The number of entities for which any error was encountered.",
          "type": "string",
          "format": "int64",
          "readOnly": true
        },
        "successfulForecastPointCount": {
          "description": "Output only. The number of the successful forecast points that are generated by the forecasting model. This is ONLY used by the forecasting batch prediction.",
          "type": "string",
          "format": "int64",
          "readOnly": true
        }
      },
      "id": "GoogleCloudAiplatformV1CompletionStats"
    },
    "GoogleCloudAiplatformV1ModelSourceInfo": {
      "description": "Detail description of the source information of the model.",
      "type": "object",
      "properties": {
        "sourceType": {
          "description": "Type of the model source.",
          "type": "string",
          "enumDescriptions": [
            "Should not be used.",
            "The Model is uploaded by automl training pipeline.",
            "The Model is uploaded by user or custom training pipeline.",
            "The Model is registered and sync'ed from BigQuery ML.",
            "The Model is saved or tuned from Model Garden.",
            "The Model is saved or tuned from Genie.",
            "The Model is uploaded by text embedding finetuning pipeline.",
            "The Model is saved or tuned from Marketplace."
          ],
          "enum": [
            "MODEL_SOURCE_TYPE_UNSPECIFIED",
            "AUTOML",
            "CUSTOM",
            "BQML",
            "MODEL_GARDEN",
            "GENIE",
            "CUSTOM_TEXT_EMBEDDING",
            "MARKETPLACE"
          ]
        },
        "copy": {
          "description": "If this Model is copy of another Model. If true then source_type pertains to the original.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudAiplatformV1ModelSourceInfo"
    },
    "GoogleCloudAiplatformV1FeatureViewBigQuerySource": {
      "type": "object",
      "properties": {
        "entityIdColumns": {
          "description": "Required. Columns to construct entity_id / row keys.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "uri": {
          "description": "Required. The BigQuery view URI that will be materialized on each sync trigger based on FeatureView.SyncConfig.",
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1FeatureViewBigQuerySource"
    },
    "GoogleCloudAiplatformV1AddContextChildrenResponse": {
      "id": "GoogleCloudAiplatformV1AddContextChildrenResponse",
      "description": "Response message for MetadataService.AddContextChildren.",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudAiplatformV1ListEvaluationItemsResponse": {
      "description": "Response message for EvaluationManagementService.ListEvaluationItems.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results.",
          "type": "string"
        },
        "evaluationItems": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1EvaluationItem"
          },
          "description": "List of EvaluationItems in the requested page.",
          "type": "array"
        }
      },
      "id": "GoogleCloudAiplatformV1ListEvaluationItemsResponse"
    },
    "GoogleApiHttpBody": {
      "description": "Message that represents an arbitrary HTTP body. It should only be used for payload formats that can't be represented as JSON, such as raw binary or an HTML page. This message can be used both in streaming and non-streaming API methods in the request as well as the response. It can be used as a top-level request field, which is convenient if one wants to extract parameters from either the URL or HTTP template into the request fields and also want access to the raw HTTP body. Example: message GetResourceRequest { // A unique request id. string request_id = 1; // The raw HTTP body is bound to this field. google.api.HttpBody http_body = 2; } service ResourceService { rpc GetResource(GetResourceRequest) returns (google.api.HttpBody); rpc UpdateResource(google.api.HttpBody) returns (google.protobuf.Empty); } Example with streaming methods: service CaldavService { rpc GetCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); rpc UpdateCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); } Use of this type only changes how the request and response bodies are handled, all other features will continue to work unchanged.",
      "type": "object",
      "properties": {
        "contentType": {
          "description": "The HTTP Content-Type header value specifying the content type of the body.",
          "type": "string"
        },
        "data": {
          "description": "The HTTP request/response body as raw binary.",
          "type": "string",
          "format": "byte"
        },
        "extensions": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "Application specific response metadata. Must be set in the first response for streaming APIs.",
          "type": "array"
        }
      },
      "id": "GoogleApiHttpBody"
    },
    "GoogleCloudAiplatformV1VoiceConfig": {
      "id": "GoogleCloudAiplatformV1VoiceConfig",
      "description": "Configuration for a voice.",
      "type": "object",
      "properties": {
        "prebuiltVoiceConfig": {
          "$ref": "GoogleCloudAiplatformV1PrebuiltVoiceConfig",
          "description": "The configuration for a prebuilt voice."
        },
        "replicatedVoiceConfig": {
          "$ref": "GoogleCloudAiplatformV1ReplicatedVoiceConfig",
          "description": "Optional. The configuration for a replicated voice. This enables users to replicate a voice from an audio sample."
        }
      }
    },
    "GoogleCloudAiplatformV1ListIndexEndpointsResponse": {
      "id": "GoogleCloudAiplatformV1ListIndexEndpointsResponse",
      "description": "Response message for IndexEndpointService.ListIndexEndpoints.",
      "type": "object",
      "properties": {
        "indexEndpoints": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1IndexEndpoint"
          },
          "description": "List of IndexEndpoints in the requested page.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token to retrieve next page of results. Pass to ListIndexEndpointsRequest.page_token to obtain that page.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1EvaluatedAnnotationExplanation": {
      "id": "GoogleCloudAiplatformV1EvaluatedAnnotationExplanation",
      "description": "Explanation result of the prediction produced by the Model.",
      "type": "object",
      "properties": {
        "explanationType": {
          "description": "Explanation type. For AutoML Image Classification models, possible values are: * `image-integrated-gradients` * `image-xrai`",
          "type": "string"
        },
        "explanation": {
          "description": "Explanation attribution response details.",
          "$ref": "GoogleCloudAiplatformV1Explanation"
        }
      }
    },
    "GoogleCloudAiplatformV1IndexStats": {
      "description": "Stats of the Index.",
      "type": "object",
      "properties": {
        "vectorsCount": {
          "readOnly": true,
          "description": "Output only. The number of dense vectors in the Index.",
          "type": "string",
          "format": "int64"
        },
        "sparseVectorsCount": {
          "readOnly": true,
          "description": "Output only. The number of sparse vectors in the Index.",
          "type": "string",
          "format": "int64"
        },
        "shardsCount": {
          "description": "Output only. The number of shards in the Index.",
          "type": "integer",
          "format": "int32",
          "readOnly": true
        }
      },
      "id": "GoogleCloudAiplatformV1IndexStats"
    },
    "GoogleCloudAiplatformV1PublisherModelCallToActionDeployVertex": {
      "description": "Multiple setups to deploy the PublisherModel.",
      "type": "object",
      "properties": {
        "multiDeployVertex": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1PublisherModelCallToActionDeploy"
          },
          "description": "Optional. One click deployment configurations.",
          "type": "array"
        }
      },
      "id": "GoogleCloudAiplatformV1PublisherModelCallToActionDeployVertex"
    },
    "GoogleCloudAiplatformV1FindNeighborsRequestQueryRRF": {
      "description": "Parameters for RRF algorithm that combines search results.",
      "type": "object",
      "properties": {
        "alpha": {
          "description": "Required. Users can provide an alpha value to give more weight to dense vs sparse results. For example, if the alpha is 0, we only return sparse and if the alpha is 1, we only return dense.",
          "type": "number",
          "format": "float"
        }
      },
      "id": "GoogleCloudAiplatformV1FindNeighborsRequestQueryRRF"
    },
    "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlTablesInputsTransformationNumericArrayTransformation": {
      "id": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlTablesInputsTransformationNumericArrayTransformation",
      "description": "Treats the column as numerical array and performs following transformation functions. * All transformations for Numerical types applied to the average of the all elements. * The average of empty arrays is treated as zero.",
      "type": "object",
      "properties": {
        "invalidValuesAllowed": {
          "description": "If invalid values is allowed, the training pipeline will create a boolean feature that indicated whether the value is valid. Otherwise, the training pipeline will discard the input row from trainining data.",
          "type": "boolean"
        },
        "columnName": {
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1BatchPredictionJobOutputConfig": {
      "description": "Configures the output of BatchPredictionJob. See Model.supported_output_storage_formats for supported output formats, and how predictions are expressed via any of them.",
      "type": "object",
      "properties": {
        "gcsDestination": {
          "$ref": "GoogleCloudAiplatformV1GcsDestination",
          "description": "The Cloud Storage location of the directory where the output is to be written to. In the given directory a new directory is created. Its name is `prediction--`, where timestamp is in YYYY-MM-DDThh:mm:ss.sssZ ISO-8601 format. Inside of it files `predictions_0001.`, `predictions_0002.`, ..., `predictions_N.` are created where `` depends on chosen predictions_format, and N may equal 0001 and depends on the total number of successfully predicted instances. If the Model has both instance and prediction schemata defined then each such file contains predictions as per the predictions_format. If prediction for any instance failed (partially or completely), then an additional `errors_0001.`, `errors_0002.`,..., `errors_N.` files are created (N depends on total number of failed predictions). These files contain the failed instances, as per their schema, followed by an additional `error` field which as value has google.rpc.Status containing only `code` and `message` fields."
        },
        "vertexMultimodalDatasetDestination": {
          "$ref": "GoogleCloudAiplatformV1VertexMultimodalDatasetDestination",
          "description": "The details for a Vertex Multimodal Dataset that will be created for the output."
        },
        "bigqueryDestination": {
          "description": "The BigQuery project or dataset location where the output is to be written to. If project is provided, a new dataset is created with name `prediction__` where is made BigQuery-dataset-name compatible (for example, most special characters become underscores), and timestamp is in YYYY_MM_DDThh_mm_ss_sssZ \"based on ISO-8601\" format. In the dataset two tables will be created, `predictions`, and `errors`. If the Model has both instance and prediction schemata defined then the tables have columns as follows: The `predictions` table contains instances for which the prediction succeeded, it has columns as per a concatenation of the Model's instance and prediction schemata. The `errors` table contains rows for which the prediction has failed, it has instance columns, as per the instance schema, followed by a single \"errors\" column, which as values has google.rpc.Status represented as a STRUCT, and containing only `code` and `message`.",
          "$ref": "GoogleCloudAiplatformV1BigQueryDestination"
        },
        "predictionsFormat": {
          "description": "Required. The format in which Vertex AI gives the predictions, must be one of the Model's supported_output_storage_formats.",
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1BatchPredictionJobOutputConfig"
    },
    "GoogleCloudAiplatformV1PublisherModelDocumentation": {
      "id": "GoogleCloudAiplatformV1PublisherModelDocumentation",
      "description": "A named piece of documentation.",
      "type": "object",
      "properties": {
        "title": {
          "description": "Required. E.g., OVERVIEW, USE CASES, DOCUMENTATION, SDK & SAMPLES, JAVA, NODE.JS, etc..",
          "type": "string"
        },
        "content": {
          "description": "Required. Content of this piece of document (in Markdown format).",
          "type": "string"
        }
[...]
