{
  "fullyEncodeReservedExpansion": true,
  "rootUrl": "https://aiplatform.googleapis.com/",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "schemas": {
    "GoogleIamV1Policy": {
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "properties": {
        "bindings": {
          "type": "array",
          "items": {
            "$ref": "GoogleIamV1Binding"
          },
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
        },
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "format": "byte",
          "type": "string"
        },
        "version": {
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "GoogleIamV1Policy"
    },
    "GoogleCloudAiplatformV1EvaluationPrompt": {
      "properties": {
        "text": {
          "description": "Text prompt.",
          "type": "string"
        },
        "promptTemplateData": {
          "description": "Prompt template data.",
          "$ref": "GoogleCloudAiplatformV1EvaluationPromptPromptTemplateData"
        },
        "userScenario": {
          "description": "Optional. The generated user scenario used to drive multi-turn agent running results.",
          "$ref": "GoogleCloudAiplatformV1EvaluationPromptUserScenario"
        },
        "value": {
          "description": "Fields and values that can be used to populate the prompt template.",
          "type": "any"
        },
        "agentData": {
          "$ref": "GoogleCloudAiplatformV1AgentData",
          "description": "Optional. Represents the complete execution trace of a multi-turn conversation, which can involve single or multiple agents. This serves as the input context for agent scraping."
        }
      },
      "description": "Prompt to be evaluated. This can represent a single-turn prompt or a multi-turn conversation for agent evaluations.",
      "id": "GoogleCloudAiplatformV1EvaluationPrompt",
      "type": "object"
    },
    "GoogleCloudAiplatformV1NotebookEucConfig": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1NotebookEucConfig",
      "description": "The euc configuration of NotebookRuntimeTemplate.",
      "properties": {
        "eucDisabled": {
          "description": "Input only. Whether EUC is disabled in this NotebookRuntimeTemplate. In proto3, the default value of a boolean is false. In this way, by default EUC will be enabled for NotebookRuntimeTemplate.",
          "type": "boolean"
        },
        "bypassActasCheck": {
          "type": "boolean",
          "description": "Output only. Whether ActAs check is bypassed for service account attached to the VM. If false, we need ActAs check for the default Compute Engine Service account. When a Runtime is created, a VM is allocated using Default Compute Engine Service Account. Any user requesting to use this Runtime requires Service Account User (ActAs) permission over this SA. If true, Runtime owner is using EUC and does not require the above permission as VM no longer use default Compute Engine SA, but a P4SA.",
          "readOnly": true
        }
      }
    },
    "GoogleCloudAiplatformV1AutomaticResources": {
      "properties": {
        "maxReplicaCount": {
          "description": "Immutable. The maximum number of replicas that may be deployed on when the traffic against it increases. If the requested value is too large, the deployment will error, but if deployment succeeds then the ability to scale to that many replicas is guaranteed (barring service outages). If traffic increases beyond what its replicas at maximum may handle, a portion of the traffic will be dropped. If this value is not provided, a no upper bound for scaling under heavy traffic will be assume, though Agent Platform may be unable to scale beyond certain replica number.",
          "format": "int32",
          "type": "integer"
        },
        "minReplicaCount": {
          "description": "Immutable. The minimum number of replicas that will be always deployed on. If traffic against it increases, it may dynamically be deployed onto more replicas up to max_replica_count, and as traffic decreases, some of these extra replicas may be freed. If the requested value is too large, the deployment will error.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "A description of resources that to large degree are decided by Agent Platform, and require only a modest additional configuration. Each Model supporting these resources documents its specific guidelines.",
      "id": "GoogleCloudAiplatformV1AutomaticResources",
      "type": "object"
    },
    "GoogleCloudAiplatformV1RayLogsSpec": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1RayLogsSpec",
      "description": "Configuration for the Ray OSS Logs.",
      "properties": {
        "disabled": {
          "description": "Optional. Flag to disable the export of Ray OSS logs to Cloud Logging.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudAiplatformV1ModelBaseModelSource": {
      "description": "User input field to specify the base model source. Currently it only supports specifing the Model Garden models and Genie models.",
      "properties": {
        "modelGardenSource": {
          "description": "Source information of Model Garden models.",
          "$ref": "GoogleCloudAiplatformV1ModelGardenSource"
        },
        "genieSource": {
          "$ref": "GoogleCloudAiplatformV1GenieSource",
          "description": "Information about the base model of Genie models."
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1ModelBaseModelSource"
    },
    "GoogleCloudAiplatformV1CompletionStats": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1CompletionStats",
      "description": "Success and error statistics of processing multiple entities (for example, DataItems or structured data rows) in batch.",
      "properties": {
        "failedCount": {
          "description": "Output only. The number of entities for which any error was encountered.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "successfulCount": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The number of entities that had been processed successfully.",
          "format": "int64"
        },
        "incompleteCount": {
          "readOnly": true,
          "description": "Output only. In cases when enough errors are encountered a job, pipeline, or operation may be failed as a whole. Below is the number of entities for which the processing had not been finished (either in successful or failed state). Set to -1 if the number is unknown (for example, the operation failed before the total entity number could be collected).",
          "format": "int64",
          "type": "string"
        },
        "successfulForecastPointCount": {
          "readOnly": true,
          "description": "Output only. The number of the successful forecast points that are generated by the forecasting model. This is ONLY used by the forecasting batch prediction.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1ReasoningEngineContextSpecMemoryBankConfigTtlConfig": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1ReasoningEngineContextSpecMemoryBankConfigTtlConfig",
      "description": "Configuration for automatically setting the TTL (\"time-to-live\") of the memories in the Memory Bank.",
      "properties": {
        "memoryRevisionDefaultTtl": {
          "type": "string",
          "description": "Optional. The default TTL duration of the memory revisions in the Memory Bank. This applies to all operations that create a memory revision. If not set, a default TTL of 365 days will be used.",
          "format": "google-duration"
        },
        "defaultTtl": {
          "type": "string",
          "description": "Optional. The default TTL duration of the memories in the Memory Bank. This applies to all operations that create or update a memory.",
          "format": "google-duration"
        },
        "granularTtlConfig": {
          "description": "Optional. The granular TTL configuration of the memories in the Memory Bank.",
          "$ref": "GoogleCloudAiplatformV1ReasoningEngineContextSpecMemoryBankConfigTtlConfigGranularTtlConfig"
        }
      }
    },
    "GoogleCloudAiplatformV1GenericOperationMetadata": {
      "properties": {
        "partialFailures": {
          "readOnly": true,
          "description": "Output only. Partial failures encountered. E.g. single files that couldn't be read. This field should never exceed 20 entries. Status details field will contain standard Google Cloud error details.",
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time when the operation was updated for the last time. If the operation has finished (successfully or not), this is the finish time.",
          "format": "google-datetime"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Time when the operation was created.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "Generic Metadata shared by all operations.",
      "id": "GoogleCloudAiplatformV1GenericOperationMetadata",
      "type": "object"
    },
    "GoogleCloudAiplatformV1GenerateUserScenariosResponse": {
      "properties": {
        "userScenarios": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1UserScenario"
          },
          "description": "The generated user scenarios used to simulate multi-turn agent running results and agent evaluation."
        }
      },
      "description": "Response message for DataFoundryService.GenerateUserScenarios.",
      "id": "GoogleCloudAiplatformV1GenerateUserScenariosResponse",
      "type": "object"
    },
    "GoogleCloudAiplatformV1IndexDatapointRestriction": {
      "description": "Restriction of a datapoint which describe its attributes(tokens) from each of several attribute categories(namespaces).",
      "properties": {
        "allowList": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The attributes to allow in this namespace. e.g.: 'red'"
        },
        "namespace": {
          "description": "The namespace of this restriction. e.g.: color.",
          "type": "string"
        },
        "denyList": {
          "description": "The attributes to deny in this namespace. e.g.: 'blue'",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1IndexDatapointRestriction"
    },
    "GoogleCloudAiplatformV1EvaluationInstanceMapInstance": {
      "id": "GoogleCloudAiplatformV1EvaluationInstanceMapInstance",
      "type": "object",
      "properties": {
        "mapInstance": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudAiplatformV1EvaluationInstanceInstanceData"
          },
          "description": "Optional. Map of instance data."
        }
      },
      "description": "Instance data specified as a map."
    },
    "GoogleCloudAiplatformV1ExamplesOverride": {
      "properties": {
        "dataFormat": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified format. Must not be used.",
            "Provided data is a set of model inputs.",
            "Provided data is a set of embeddings."
          ],
          "enum": [
            "DATA_FORMAT_UNSPECIFIED",
            "INSTANCES",
            "EMBEDDINGS"
          ],
          "description": "The format of the data being provided with each call."
        },
        "returnEmbeddings": {
          "description": "If true, return the embeddings instead of neighbors.",
          "type": "boolean"
        },
        "crowdingCount": {
          "description": "The number of neighbors to return that have the same crowding tag.",
          "format": "int32",
          "type": "integer"
        },
        "neighborCount": {
          "type": "integer",
          "description": "The number of neighbors to return.",
          "format": "int32"
        },
        "restrictions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1ExamplesRestrictionsNamespace"
          },
          "description": "Restrict the resulting nearest neighbors to respect these constraints."
        }
      },
      "description": "Overrides for example-based explanations.",
      "id": "GoogleCloudAiplatformV1ExamplesOverride",
      "type": "object"
    },
    "GoogleCloudAiplatformV1MigratableResource": {
      "description": "Represents one resource that exists in automl.googleapis.com, datalabeling.googleapis.com or ml.googleapis.com.",
      "properties": {
        "mlEngineModelVersion": {
          "readOnly": true,
          "$ref": "GoogleCloudAiplatformV1MigratableResourceMlEngineModelVersion",
          "description": "Output only. Represents one Version in ml.googleapis.com."
        },
        "automlModel": {
          "readOnly": true,
          "$ref": "GoogleCloudAiplatformV1MigratableResourceAutomlModel",
          "description": "Output only. Represents one Model in automl.googleapis.com."
        },
        "automlDataset": {
          "description": "Output only. Represents one Dataset in automl.googleapis.com.",
          "readOnly": true,
          "$ref": "GoogleCloudAiplatformV1MigratableResourceAutomlDataset"
        },
        "dataLabelingDataset": {
          "readOnly": true,
          "$ref": "GoogleCloudAiplatformV1MigratableResourceDataLabelingDataset",
          "description": "Output only. Deprecated: Data Labeling Dataset migration is no longer supported. Represents one Dataset in datalabeling.googleapis.com.",
          "deprecated": true
        },
        "lastMigrateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Timestamp when the last migration attempt on this MigratableResource started. Will not be set if there's no migration attempt on this MigratableResource.",
          "format": "google-datetime"
        },
        "lastUpdateTime": {
          "readOnly": true,
          "description": "Output only. Timestamp when this MigratableResource was last updated.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1MigratableResource"
    },
    "GoogleCloudAiplatformV1PreferenceOptimizationHyperParameters": {
      "id": "GoogleCloudAiplatformV1PreferenceOptimizationHyperParameters",
      "type": "object",
      "properties": {
        "learningRateMultiplier": {
          "description": "Optional. Multiplier for adjusting the default learning rate.",
          "format": "double",
          "type": "number"
        },
        "epochCount": {
          "description": "Optional. Number of complete passes the model makes over the entire training dataset during training.",
          "format": "int64",
          "type": "string"
        },
        "adapterSize": {
          "description": "Optional. Adapter size for preference optimization.",
          "type": "string",
          "enumDescriptions": [
            "Adapter size is unspecified.",
            "Adapter size 1.",
            "Adapter size 2.",
            "Adapter size 4.",
            "Adapter size 8.",
            "Adapter size 16.",
            "Adapter size 32."
          ],
          "enum": [
            "ADAPTER_SIZE_UNSPECIFIED",
            "ADAPTER_SIZE_ONE",
            "ADAPTER_SIZE_TWO",
            "ADAPTER_SIZE_FOUR",
            "ADAPTER_SIZE_EIGHT",
            "ADAPTER_SIZE_SIXTEEN",
            "ADAPTER_SIZE_THIRTY_TWO"
          ]
        },
        "beta": {
          "type": "number",
          "description": "Optional. Weight for KL Divergence regularization.",
          "format": "double"
        }
      },
      "description": "Hyperparameters for Preference Optimization."
    },
    "GoogleCloudAiplatformV1DeployedModelStatus": {
      "properties": {
        "availableReplicaCount": {
          "type": "integer",
          "readOnly": true,
          "description": "Output only. The number of available replicas of the deployed model.",
          "format": "int32"
        },
        "message": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The latest deployed model's status message (if any)."
        },
        "lastUpdateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time at which the status was last updated.",
          "format": "google-datetime"
        }
      },
      "description": "Runtime status of the deployed model.",
      "id": "GoogleCloudAiplatformV1DeployedModelStatus",
      "type": "object"
    },
    "GoogleCloudAiplatformV1PurgeContextsResponse": {
      "properties": {
        "purgeSample": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A sample of the Context names that will be deleted. Only populated if `force` is set to false. The maximum number of samples is 100 (it is possible to return fewer)."
        },
        "purgeCount": {
          "description": "The number of Contexts that this request deleted (or, if `force` is false, the number of Contexts that will be deleted). This can be an estimate.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "Response message for MetadataService.PurgeContexts.",
      "id": "GoogleCloudAiplatformV1PurgeContextsResponse",
      "type": "object"
    },
    "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlImageSegmentationInputs": {
      "properties": {
        "modelType": {
          "enumDescriptions": [
            "Should not be set.",
            "A model to be used via prediction calls to uCAIP API. Expected to have a higher latency, but should also have a higher prediction quality than other models.",
            "A model to be used via prediction calls to uCAIP API. Expected to have a lower latency but relatively lower prediction quality.",
            "A model that, in addition to being available within Google Cloud, can also be exported (see ModelService.ExportModel) as TensorFlow model and used on a mobile or edge device afterwards. Expected to have low latency, but may have lower prediction quality than other mobile models."
          ],
          "enum": [
            "MODEL_TYPE_UNSPECIFIED",
            "CLOUD_HIGH_ACCURACY_1",
            "CLOUD_LOW_ACCURACY_1",
            "MOBILE_TF_LOW_LATENCY_1"
          ],
          "type": "string"
        },
        "baseModelId": {
          "description": "The ID of the `base` model. If it is specified, the new model will be trained based on the `base` model. Otherwise, the new model will be trained from scratch. The `base` model must be in the same Project and Location as the new Model to train, and have the same modelType.",
          "type": "string"
        },
        "budgetMilliNodeHours": {
          "description": "The training budget of creating this model, expressed in milli node hours i.e. 1,000 value in this field means 1 node hour. The actual metadata.costMilliNodeHours will be equal or less than this value. If further model training ceases to provide any improvements, it will stop without using the full budget and the metadata.successfulStopReason will be `model-converged`. Note, node_hour = actual_hour * number_of_nodes_involved. Or actual_wall_clock_hours = train_budget_milli_node_hours / (number_of_nodes_involved * 1000) For modelType `cloud-high-accuracy-1`(default), the budget must be between 20,000 and 2,000,000 milli node hours, inclusive. The default value is 192,000 which represents one day in wall time (1000 milli * 24 hours * 8 nodes).",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlImageSegmentationInputs",
      "type": "object"
    },
    "GoogleCloudAiplatformV1AudioTranscriptionConfig": {
      "description": "Configuration for speech recognition (transcription).",
      "properties": {
        "languageAuto": {
          "description": "Optional. The model will detect the language automatically.",
          "$ref": "GoogleCloudAiplatformV1AudioTranscriptionConfigLanguageAuto"
        },
        "adaptationPhrases": {
          "description": "Optional. A list of phrases to bias the ASR model towards.",
          "deprecated": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "customVocabulary": {
          "description": "Optional. A list of custom vocabulary phrases to bias the speech recognition model toward recognizing specific terms.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "wordTimestamp": {
          "description": "Optional. Configures word-level timestamp generation.",
          "type": "boolean"
        },
        "languageHints": {
          "$ref": "GoogleCloudAiplatformV1AudioTranscriptionConfigLanguageHints",
          "description": "Optional. Specifies one or more languages in the audio."
        },
        "diarization": {
          "description": "Optional. Configures speaker diarization.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1AudioTranscriptionConfig"
    },
    "GoogleCloudAiplatformV1MetricSource": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1MetricSource",
      "description": "The metric source used for evaluation.",
      "properties": {
        "metric": {
          "description": "Inline metric config.",
          "$ref": "GoogleCloudAiplatformV1Metric"
        },
        "metricResourceName": {
          "description": "Optional. Resource name for registered metric.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1SchemaModelevaluationMetricsClassificationEvaluationMetrics": {
      "properties": {
        "confidenceMetrics": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1SchemaModelevaluationMetricsClassificationEvaluationMetricsConfidenceMetrics"
          },
          "description": "Metrics for each `confidenceThreshold` in 0.00,0.05,0.10,...,0.95,0.96,0.97,0.98,0.99 and `positionThreshold` = INT32_MAX_VALUE. ROC and precision-recall curves, and other aggregated metrics are derived from them. The confidence metrics entries may also be supplied for additional values of `positionThreshold`, but from these no aggregated metrics are computed."
        },
        "confusionMatrix": {
          "$ref": "GoogleCloudAiplatformV1SchemaModelevaluationMetricsConfusionMatrix",
          "description": "Confusion matrix of the evaluation."
        },
        "auRoc": {
          "type": "number",
          "description": "The Area Under Receiver Operating Characteristic curve metric. Micro-averaged for the overall evaluation.",
          "format": "float"
        },
        "logLoss": {
          "type": "number",
          "description": "The Log Loss metric.",
          "format": "float"
        },
        "auPrc": {
          "description": "The Area Under Precision-Recall Curve metric. Micro-averaged for the overall evaluation.",
          "format": "float",
          "type": "number"
        }
      },
      "description": "Metrics for classification evaluation results.",
      "id": "GoogleCloudAiplatformV1SchemaModelevaluationMetricsClassificationEvaluationMetrics",
      "type": "object"
    },
    "GoogleCloudAiplatformV1EvaluationDataset": {
      "id": "GoogleCloudAiplatformV1EvaluationDataset",
      "type": "object",
      "properties": {
        "gcsSource": {
          "$ref": "GoogleCloudAiplatformV1GcsSource",
          "description": "Cloud storage source holds the dataset. Currently only one Cloud Storage file path is supported."
        },
        "bigquerySource": {
          "description": "BigQuery source holds the dataset.",
          "$ref": "GoogleCloudAiplatformV1BigQuerySource"
        }
      },
      "description": "The dataset used for evaluation."
    },
    "GoogleCloudAiplatformV1ExportDataOperationMetadata": {
      "description": "Runtime operation information for DatasetService.ExportData.",
      "properties": {
        "genericMetadata": {
          "$ref": "GoogleCloudAiplatformV1GenericOperationMetadata",
          "description": "The common part of the operation metadata."
        },
        "gcsOutputDirectory": {
          "description": "A Google Cloud Storage directory which path ends with '/'. The exported data is stored in the directory.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1ExportDataOperationMetadata"
    },
    "GoogleCloudAiplatformV1SchemaTextSegment": {
      "id": "GoogleCloudAiplatformV1SchemaTextSegment",
      "type": "object",
      "properties": {
        "endOffset": {
          "type": "string",
          "description": "Zero-based character index of the first character past the end of the text segment (counting character from the beginning of the text). The character at the end_offset is NOT included in the text segment.",
          "format": "uint64"
        },
        "content": {
          "description": "The text content in the segment for output only.",
          "type": "string"
        },
        "startOffset": {
          "type": "string",
          "description": "Zero-based character index of the first character of the text segment (counting characters from the beginning of the text).",
          "format": "uint64"
        }
      },
      "description": "The text segment inside of DataItem."
    },
    "GoogleCloudAiplatformV1MemoryBankCustomizationConfig": {
      "id": "GoogleCloudAiplatformV1MemoryBankCustomizationConfig",
      "type": "object",
      "properties": {
        "generateMemoriesExamples": {
          "description": "Optional. Provides examples of how to generate memories for a particular scope.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1MemoryBankCustomizationConfigGenerateMemoriesExample"
          }
        },
        "disableNaturalLanguageMemories": {
          "description": "Optional. Indicates whether natural language memory generation should be disabled for all requests. By default, natural language memory generation is enabled. Set this to `true` when you only want to generate structured memories.",
          "type": "boolean"
        },
        "scopeKeys": {
          "description": "Optional. Represents the scope keys (i.e. 'user_id') for which to use this config. A request's scope must include all of the provided keys for the config to be used (order does not matter). If empty, then the config will be used for all requests that do not have a more specific config. Only one default config is allowed per Memory Bank.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "consolidationConfig": {
          "description": "Optional. Represents configuration for customizing how memories are consolidated together.",
          "$ref": "GoogleCloudAiplatformV1MemoryBankCustomizationConfigConsolidationConfig"
        },
        "memoryTopics": {
          "description": "Optional. Represents topics of information that should be extracted from conversations and stored as memories. If not set, then Memory Bank's default topics will be used.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1MemoryBankCustomizationConfigMemoryTopic"
          }
        },
        "enableThirdPersonMemories": {
          "description": "Optional. Indicates whether the memories will be generated in the third person (i.e. \"The user generates memories with Memory Bank.\"). By default, the memories will be generated in the first person (i.e. \"I generate memories with Memory Bank.\")",
          "type": "boolean"
        }
      },
      "description": "Represents configuration for organizing natural language memories for a particular scope."
    },
    "GoogleCloudAiplatformV1ExecuteSandboxEnvironmentResponse": {
      "description": "Response message for SandboxEnvironmentExecutionService.Execute.",
      "properties": {
        "outputs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1Chunk"
          },
          "description": "The outputs from the sandbox environment."
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1ExecuteSandboxEnvironmentResponse"
    },
    "GoogleCloudAiplatformV1ListContextsResponse": {
      "properties": {
        "contexts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1Context"
          },
          "description": "The Contexts retrieved from the MetadataStore."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as ListContextsRequest.page_token to retrieve the next page. If this field is not populated, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for MetadataService.ListContexts.",
      "id": "GoogleCloudAiplatformV1ListContextsResponse",
      "type": "object"
    },
    "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlTablesInputsTransformationNumericArrayTransformation": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlTablesInputsTransformationNumericArrayTransformation",
      "description": "Treats the column as numerical array and performs following transformation functions. * All transformations for Numerical types applied to the average of the all elements. * The average of empty arrays is treated as zero.",
      "properties": {
        "columnName": {
          "type": "string"
        },
        "invalidValuesAllowed": {
          "description": "If invalid values is allowed, the training pipeline will create a boolean feature that indicated whether the value is valid. Otherwise, the training pipeline will discard the input row from trainining data.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudAiplatformV1FeaturestoreMonitoringConfigThresholdConfig": {
      "id": "GoogleCloudAiplatformV1FeaturestoreMonitoringConfigThresholdConfig",
      "type": "object",
      "properties": {
        "value": {
          "description": "Specify a threshold value that can trigger the alert. 1. For categorical feature, the distribution distance is calculated by L-inifinity norm. 2. For numerical feature, the distribution distance is calculated by Jensen–Shannon divergence. Each feature must have a non-zero threshold if they need to be monitored. Otherwise no alert will be triggered for that feature.",
          "format": "double",
          "type": "number"
        }
      },
      "description": "The config for Featurestore Monitoring threshold."
    },
    "GoogleCloudAiplatformV1QuestionAnsweringHelpfulnessSpec": {
      "description": "Spec for question answering helpfulness metric.",
      "properties": {
        "version": {
          "description": "Optional. Which version to use for evaluation.",
          "format": "int32",
          "type": "integer"
        },
        "useReference": {
          "description": "Optional. Whether to use instance.reference to compute question answering helpfulness.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1QuestionAnsweringHelpfulnessSpec"
    },
    "GoogleCloudAiplatformV1CoherenceInstance": {
      "description": "Spec for coherence instance.",
      "properties": {
        "prediction": {
          "description": "Required. Output of the evaluated model.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1CoherenceInstance"
    },
    "GoogleCloudAiplatformV1GenerationConfigRoutingConfigManualRoutingMode": {
      "id": "GoogleCloudAiplatformV1GenerationConfigRoutingConfigManualRoutingMode",
      "type": "object",
      "properties": {
        "modelName": {
          "description": "The name of the model to use. Only public LLM models are accepted.",
          "type": "string"
        }
      },
      "description": "The configuration for manual routing. When manual routing is specified, the model will be selected based on the model name provided."
    },
    "GoogleCloudAiplatformV1BatchCreateTensorboardTimeSeriesRequest": {
      "description": "Request message for TensorboardService.BatchCreateTensorboardTimeSeries.",
      "properties": {
        "requests": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1CreateTensorboardTimeSeriesRequest"
          },
          "description": "Required. The request message specifying the TensorboardTimeSeries to create. A maximum of 1000 TensorboardTimeSeries can be created in a batch."
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1BatchCreateTensorboardTimeSeriesRequest"
    },
    "GoogleCloudAiplatformV1StopNotebookRuntimeRequest": {
      "properties": {},
      "description": "Request message for NotebookService.StopNotebookRuntime.",
      "id": "GoogleCloudAiplatformV1StopNotebookRuntimeRequest",
      "type": "object"
    },
    "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlTablesInputsTransformation": {
      "properties": {
        "numeric": {
          "$ref": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlTablesInputsTransformationNumericTransformation"
        },
        "timestamp": {
          "$ref": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlTablesInputsTransformationTimestampTransformation"
        },
        "categorical": {
          "$ref": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlTablesInputsTransformationCategoricalTransformation"
        },
        "text": {
          "$ref": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlTablesInputsTransformationTextTransformation"
        },
        "auto": {
          "$ref": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlTablesInputsTransformationAutoTransformation"
        },
        "repeatedCategorical": {
          "$ref": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlTablesInputsTransformationCategoricalArrayTransformation"
        },
        "repeatedText": {
          "$ref": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlTablesInputsTransformationTextArrayTransformation"
        },
        "repeatedNumeric": {
          "$ref": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlTablesInputsTransformationNumericArrayTransformation"
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlTablesInputsTransformation"
    },
    "CloudAiLargeModelsVisionVideo": {
      "type": "object",
      "id": "CloudAiLargeModelsVisionVideo",
      "description": "Video",
      "properties": {
        "video": {
          "description": "Raw bytes.",
          "format": "byte",
          "type": "string"
        },
        "encodedVideo": {
          "description": "Base 64 encoded video bytes.",
          "type": "string"
        },
        "encoding": {
          "description": "Video encoding, for example \"video/mp4\".",
          "type": "string"
        },
        "text": {
          "description": "Text/Expanded text input for Help Me Write.",
          "type": "string"
        },
        "uri": {
          "description": "Path to another storage (typically Google Cloud Storage).",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1ToolGoogleSearchImageSearch": {
      "id": "GoogleCloudAiplatformV1ToolGoogleSearchImageSearch",
      "type": "object",
      "properties": {},
      "description": "Image search for grounding and related configurations."
    },
    "GoogleCloudAiplatformV1TrajectoryInOrderMatchResults": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1TrajectoryInOrderMatchResults",
      "description": "Results for TrajectoryInOrderMatch metric.",
      "properties": {
        "trajectoryInOrderMatchMetricValues": {
          "description": "Output only. TrajectoryInOrderMatch metric values.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1TrajectoryInOrderMatchMetricValue"
          }
        }
      }
    },
    "GoogleCloudAiplatformV1ReasoningEngineSpecSourceCodeSpecDeveloperConnectSource": {
      "description": "Specifies source code to be fetched from a Git repository managed through the Developer Connect service.",
      "properties": {
        "config": {
          "$ref": "GoogleCloudAiplatformV1ReasoningEngineSpecSourceCodeSpecDeveloperConnectConfig",
          "description": "Required. The Developer Connect configuration that defines the specific repository, revision, and directory to use as the source code root."
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1ReasoningEngineSpecSourceCodeSpecDeveloperConnectSource"
    },
    "GoogleCloudAiplatformV1ToolGoogleSearch": {
      "properties": {
        "blockingConfidence": {
          "description": "Optional. Sites with confidence level chosen & above this value will be blocked from the search results.",
          "enumDescriptions": [
            "Defaults to unspecified.",
            "Blocks Low and above confidence URL that is risky.",
            "Blocks Medium and above confidence URL that is risky.",
            "Blocks High and above confidence URL that is risky.",
            "Blocks Higher and above confidence URL that is risky.",
            "Blocks Very high and above confidence URL that is risky.",
            "Blocks Extremely high confidence URL that is risky."
          ],
          "enum": [
            "PHISH_BLOCK_THRESHOLD_UNSPECIFIED",
            "BLOCK_LOW_AND_ABOVE",
            "BLOCK_MEDIUM_AND_ABOVE",
            "BLOCK_HIGH_AND_ABOVE",
            "BLOCK_HIGHER_AND_ABOVE",
            "BLOCK_VERY_HIGH_AND_ABOVE",
            "BLOCK_ONLY_EXTREMELY_HIGH"
          ],
          "type": "string"
        },
        "searchTypes": {
          "description": "Optional. The set of search types to enable. If not set, web search is enabled by default.",
          "$ref": "GoogleCloudAiplatformV1ToolGoogleSearchSearchTypes"
        },
        "excludeDomains": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. List of domains to be excluded from the search results. The default limit is 2000 domains. Example: [\"amazon.com\", \"facebook.com\"]."
        }
      },
      "description": "GoogleSearch tool type. Tool to support Google Search in Model. Powered by Google.",
      "id": "GoogleCloudAiplatformV1ToolGoogleSearch",
      "type": "object"
    },
    "GoogleCloudAiplatformV1AuthConfig": {
      "properties": {
        "googleServiceAccountConfig": {
          "$ref": "GoogleCloudAiplatformV1AuthConfigGoogleServiceAccountConfig",
          "description": "Config for Google Service Account auth."
        },
        "oidcConfig": {
          "$ref": "GoogleCloudAiplatformV1AuthConfigOidcConfig",
          "description": "Config for user OIDC auth."
        },
        "apiKeyConfig": {
          "$ref": "GoogleCloudAiplatformV1AuthConfigApiKeyConfig",
          "description": "Config for API key auth."
        },
        "authType": {
          "description": "Type of auth scheme.",
          "type": "string",
          "enumDescriptions": [
            "",
            "No Auth.",
            "API Key Auth.",
            "HTTP Basic Auth.",
            "Google Service Account Auth.",
            "OAuth auth.",
            "OpenID Connect (OIDC) Auth."
          ],
          "enum": [
            "AUTH_TYPE_UNSPECIFIED",
            "NO_AUTH",
            "API_KEY_AUTH",
            "HTTP_BASIC_AUTH",
            "GOOGLE_SERVICE_ACCOUNT_AUTH",
            "OAUTH",
            "OIDC_AUTH"
          ]
        },
        "oauthConfig": {
          "$ref": "GoogleCloudAiplatformV1AuthConfigOauthConfig",
          "description": "Config for user oauth."
        },
        "httpBasicAuthConfig": {
          "description": "Config for HTTP Basic auth.",
          "$ref": "GoogleCloudAiplatformV1AuthConfigHttpBasicAuthConfig"
        }
      },
      "description": "Auth configuration to run the extension.",
      "id": "GoogleCloudAiplatformV1AuthConfig",
      "type": "object"
    },
    "GoogleCloudAiplatformV1AsyncRetrieveContextsRequest": {
      "description": "Request message for VertexRagService.AsyncRetrieveContexts.",
      "properties": {
        "query": {
          "description": "Required. Single RAG retrieve query.",
          "$ref": "GoogleCloudAiplatformV1RagQuery"
        },
        "tools": {
          "description": "Optional. The tools to use for AskContexts.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1Tool"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1AsyncRetrieveContextsRequest"
    },
    "GoogleCloudAiplatformV1FeatureOnlineStoreOptimized": {
      "properties": {},
      "description": "Optimized storage type",
      "id": "GoogleCloudAiplatformV1FeatureOnlineStoreOptimized",
      "type": "object"
    },
    "GoogleCloudAiplatformV1ReasoningEngine": {
      "properties": {
        "contextSpec": {
          "$ref": "GoogleCloudAiplatformV1ReasoningEngineContextSpec",
          "description": "Optional. Configuration for how Agent Engine sub-resources should manage context."
        },
        "etag": {
          "description": "Optional. Used to perform consistent read-modify-write updates. If not set, a blind \"overwrite\" update happens.",
          "type": "string"
        },
        "displayName": {
          "description": "Required. The display name of the ReasoningEngine.",
          "type": "string"
        },
        "encryptionSpec": {
          "description": "Customer-managed encryption key spec for a ReasoningEngine. If set, this ReasoningEngine and all sub-resources of this ReasoningEngine will be secured by this key.",
          "$ref": "GoogleCloudAiplatformV1EncryptionSpec"
        },
        "name": {
          "description": "Identifier. The resource name of the ReasoningEngine. Format: `projects/{project}/locations/{location}/reasoningEngines/{reasoning_engine}`",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Timestamp when this ReasoningEngine was most recently updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "description": {
          "description": "Optional. The description of the ReasoningEngine.",
          "type": "string"
        },
        "spec": {
          "$ref": "GoogleCloudAiplatformV1ReasoningEngineSpec",
          "description": "Optional. Configurations of the ReasoningEngine"
        },
        "createTime": {
          "description": "Output only. Timestamp when this ReasoningEngine was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "Labels for the ReasoningEngine.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "description": "ReasoningEngine provides a customizable runtime for models to determine which actions to take and in which order.",
      "id": "GoogleCloudAiplatformV1ReasoningEngine",
      "type": "object"
    },
    "GoogleCloudAiplatformV1FileStatus": {
      "properties": {
        "state": {
          "description": "Output only. RagFile state.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "RagFile state is unspecified.",
            "RagFile resource has been created and indexed successfully.",
            "RagFile resource is in a problematic state. See `error_message` field for details."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "ERROR"
          ]
        },
        "errorStatus": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Only when the `state` field is ERROR."
        }
      },
      "description": "RagFile status.",
      "id": "GoogleCloudAiplatformV1FileStatus",
      "type": "object"
    },
    "GoogleCloudAiplatformV1PointwiseMetricInstance": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1PointwiseMetricInstance",
      "description": "Pointwise metric instance. Usually one instance corresponds to one row in an evaluation dataset.",
      "properties": {
        "contentMapInstance": {
          "description": "Key-value contents for the mutlimodality input, including text, image, video, audio, and pdf, etc. The key is placeholder in metric prompt template, and the value is the multimodal content.",
          "$ref": "GoogleCloudAiplatformV1ContentMap"
        },
        "jsonInstance": {
          "description": "Instance specified as a json string. String key-value pairs are expected in the json_instance to render PointwiseMetricSpec.instance_prompt_template.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1TrajectoryExactMatchMetricValue": {
      "id": "GoogleCloudAiplatformV1TrajectoryExactMatchMetricValue",
      "type": "object",
      "properties": {
        "score": {
          "type": "number",
          "readOnly": true,
          "description": "Output only. TrajectoryExactMatch score.",
          "format": "float"
        }
      },
      "description": "TrajectoryExactMatch metric value for an instance."
    },
    "GoogleCloudAiplatformV1LineageSubgraph": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1LineageSubgraph",
      "description": "A subgraph of the overall lineage graph. Event edges connect Artifact and Execution nodes.",
      "properties": {
        "artifacts": {
          "description": "The Artifact nodes in the subgraph.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1Artifact"
          }
        },
        "executions": {
          "description": "The Execution nodes in the subgraph.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1Execution"
          }
        },
        "events": {
          "description": "The Event edges between Artifacts and Executions in the subgraph.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1Event"
          }
        }
      }
    },
    "GoogleCloudAiplatformV1SchemaModelevaluationMetricsTextExtractionEvaluationMetricsConfidenceMetrics": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1SchemaModelevaluationMetricsTextExtractionEvaluationMetricsConfidenceMetrics",
      "properties": {
        "confidenceThreshold": {
          "type": "number",
          "description": "Metrics are computed with an assumption that the Model never returns predictions with score lower than this value.",
          "format": "float"
        },
        "recall": {
          "description": "Recall (True Positive Rate) for the given confidence threshold.",
          "format": "float",
          "type": "number"
        },
        "precision": {
          "description": "Precision for the given confidence threshold.",
          "format": "float",
          "type": "number"
        },
        "f1Score": {
          "type": "number",
          "description": "The harmonic mean of recall and precision.",
          "format": "float"
        }
      }
    },
    "GoogleCloudAiplatformV1PairwiseSummarizationQualitySpec": {
      "properties": {
        "useReference": {
          "description": "Optional. Whether to use instance.reference to compute pairwise summarization quality.",
          "type": "boolean"
        },
        "version": {
          "type": "integer",
          "description": "Optional. Which version to use for evaluation.",
          "format": "int32"
        }
      },
      "description": "Spec for pairwise summarization quality score metric.",
      "id": "GoogleCloudAiplatformV1PairwiseSummarizationQualitySpec",
      "type": "object"
    },
    "GoogleCloudAiplatformV1ReadTensorboardUsageResponse": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1ReadTensorboardUsageResponse",
      "description": "Response message for TensorboardService.ReadTensorboardUsage.",
      "properties": {
        "monthlyUsageData": {
          "type": "object",
          "description": "Maps year-month (YYYYMM) string to per month usage data.",
          "additionalProperties": {
            "$ref": "GoogleCloudAiplatformV1ReadTensorboardUsageResponsePerMonthUsageData"
          }
        }
      }
    },
    "GoogleCloudAiplatformV1RagContexts": {
      "properties": {
        "contexts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1RagContextsContext"
          },
          "description": "All its contexts."
        }
      },
      "description": "Relevant contexts for one query.",
      "id": "GoogleCloudAiplatformV1RagContexts",
      "type": "object"
    },
    "GoogleCloudAiplatformV1EvaluateDatasetRequest": {
      "properties": {
        "location": {
          "description": "Required. The resource name of the Location to evaluate the dataset. Format: `projects/{project}/locations/{location}`",
          "type": "string"
        },
        "autoraterConfig": {
          "$ref": "GoogleCloudAiplatformV1AutoraterConfig",
          "description": "Optional. Autorater config used for evaluation. Currently only publisher Gemini models are supported. Format: `projects/{PROJECT}/locations/{LOCATION}/publishers/google/models/{MODEL}.`"
        },
        "dataset": {
          "$ref": "GoogleCloudAiplatformV1EvaluationDataset",
          "description": "Required. The dataset used for evaluation."
        },
        "metrics": {
          "description": "Required. The metrics used for evaluation.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1Metric"
          }
        },
        "outputConfig": {
          "description": "Required. Config for evaluation output.",
          "$ref": "GoogleCloudAiplatformV1OutputConfig"
        }
      },
      "description": "Request message for EvaluationService.EvaluateDataset.",
      "id": "GoogleCloudAiplatformV1EvaluateDatasetRequest",
      "type": "object"
    },
    "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionSeq2SeqPlusForecastingInputsTransformationTextTransformation": {
      "id": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionSeq2SeqPlusForecastingInputsTransformationTextTransformation",
      "type": "object",
      "properties": {
        "columnName": {
          "type": "string"
        }
      },
      "description": "Training pipeline will perform following transformation functions. * The text as is--no change to case, punctuation, spelling, tense, and so on. * Convert the category name to a dictionary lookup index and generate an embedding for each index."
    },
    "GoogleCloudAiplatformV1ToolParameterKVMatchInstance": {
      "properties": {
        "prediction": {
          "description": "Required. Output of the evaluated model.",
          "type": "string"
        },
        "reference": {
          "description": "Required. Ground truth used to compare against the prediction.",
          "type": "string"
        }
      },
      "description": "Spec for tool parameter key value match instance.",
      "id": "GoogleCloudAiplatformV1ToolParameterKVMatchInstance",
      "type": "object"
    },
    "GoogleCloudAiplatformV1PartMediaResolution": {
      "properties": {
        "level": {
          "description": "The tokenization quality used for given media.",
          "type": "string",
          "enumDescriptions": [
            "Media resolution has not been set.",
            "Media resolution set to low.",
            "Media resolution set to medium.",
            "Media resolution set to high.",
            "Media resolution set to ultra high. This is for image only."
          ],
          "enum": [
            "MEDIA_RESOLUTION_UNSPECIFIED",
            "MEDIA_RESOLUTION_LOW",
            "MEDIA_RESOLUTION_MEDIUM",
            "MEDIA_RESOLUTION_HIGH",
            "MEDIA_RESOLUTION_ULTRA_HIGH"
          ]
        }
      },
      "description": "per part media resolution. Media resolution for the input media.",
      "id": "GoogleCloudAiplatformV1PartMediaResolution",
      "type": "object"
    },
    "GoogleCloudAiplatformV1ModelVersionCheckpoint": {
      "properties": {
        "step": {
          "type": "string",
          "description": "The step of the checkpoint.",
          "format": "int64"
        },
        "checkpointId": {
          "description": "The ID of the checkpoint.",
          "type": "string"
        },
        "epoch": {
          "type": "string",
          "description": "The epoch of the checkpoint.",
          "format": "int64"
        }
      },
      "description": "Describes the machine learning model version checkpoint.",
      "deprecated": true,
      "id": "GoogleCloudAiplatformV1ModelVersionCheckpoint",
      "type": "object"
    },
    "GoogleCloudAiplatformV1IdMatcher": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1IdMatcher",
      "description": "Matcher for Features of an EntityType by Feature ID.",
      "properties": {
        "ids": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The following are accepted as `ids`: * A single-element list containing only `*`, which selects all Features in the target EntityType, or * A list containing only Feature IDs, which selects only Features with those IDs in the target EntityType."
        }
      }
    },
    "GoogleCloudAiplatformV1ImportRagFilesConfig": {
      "id": "GoogleCloudAiplatformV1ImportRagFilesConfig",
      "type": "object",
      "properties": {
        "gcsSource": {
          "description": "Google Cloud Storage location. Supports importing individual files as well as entire Google Cloud Storage directories. Sample formats: - `gs://bucket_name/my_directory/object_name/my_file.txt` - `gs://bucket_name/my_directory`",
          "$ref": "GoogleCloudAiplatformV1GcsSource"
        },
        "importResultGcsSink": {
          "$ref": "GoogleCloudAiplatformV1GcsDestination",
          "description": "The Cloud Storage path to write import result to."
        },
        "sharePointSources": {
          "$ref": "GoogleCloudAiplatformV1SharePointSources",
          "description": "SharePoint sources."
        },
        "partialFailureBigquerySink": {
          "description": "The BigQuery destination to write partial failures to. It should be a bigquery table resource name (e.g. \"bq://projectId.bqDatasetId.bqTableId\"). The dataset must exist. If the table does not exist, it will be created with the expected schema. If the table exists, the schema will be validated and data will be added to this existing table. Deprecated. Prefer to use `import_result_bq_sink`.",
          "deprecated": true,
          "$ref": "GoogleCloudAiplatformV1BigQueryDestination"
        },
        "jiraSource": {
          "description": "Jira queries with their corresponding authentication.",
          "$ref": "GoogleCloudAiplatformV1JiraSource"
        },
        "ragFileParsingConfig": {
          "$ref": "GoogleCloudAiplatformV1RagFileParsingConfig",
          "description": "Optional. Specifies the parsing config for RagFiles. RAG will use the default parser if this field is not set."
        },
        "rebuildAnnIndex": {
          "description": "Rebuilds the ANN index to optimize for recall on the imported data. Only applicable for RagCorpora running on RagManagedDb with `retrieval_strategy` set to `ANN`. The rebuild will be performed using the existing ANN config set on the RagCorpus. To change the ANN config, please use the UpdateRagCorpus API. Default is false, i.e., index is not rebuilt.",
          "type": "boolean"
        },
        "slackSource": {
          "$ref": "GoogleCloudAiplatformV1SlackSource",
          "description": "Slack channels with their corresponding access tokens."
        },
        "importResultBigquerySink": {
          "description": "The BigQuery destination to write import result to. It should be a bigquery table resource name (e.g. \"bq://projectId.bqDatasetId.bqTableId\"). The dataset must exist. If the table does not exist, it will be created with the expected schema. If the table exists, the schema will be validated and data will be added to this existing table.",
          "$ref": "GoogleCloudAiplatformV1BigQueryDestination"
        },
        "googleDriveSource": {
          "description": "Google Drive location. Supports importing individual files as well as Google Drive folders.",
          "$ref": "GoogleCloudAiplatformV1GoogleDriveSource"
        },
        "partialFailureGcsSink": {
          "description": "The Cloud Storage path to write partial failures to. Deprecated. Prefer to use `import_result_gcs_sink`.",
          "deprecated": true,
          "$ref": "GoogleCloudAiplatformV1GcsDestination"
        },
        "ragFileTransformationConfig": {
          "description": "Specifies the transformation config for RagFiles.",
          "$ref": "GoogleCloudAiplatformV1RagFileTransformationConfig"
        },
        "maxEmbeddingRequestsPerMin": {
          "description": "Optional. The max number of queries per minute that this job is allowed to make to the embedding model specified on the corpus. This value is specific to this job and not shared across other import jobs. Consult the Quotas page on the project to set an appropriate value here. If unspecified, a default value of 1,000 QPM would be used.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Config for importing RagFiles."
    },
    "GoogleCloudAiplatformV1MemoryGenerationTriggerConfig": {
      "properties": {
        "generationRule": {
          "description": "Optional. Represents the active rule that determines when to flush the buffer. If not set, then the stream will be force flushed immediately.",
          "$ref": "GoogleCloudAiplatformV1MemoryGenerationTriggerConfigGenerationTriggerRule"
        }
      },
      "description": "Represents configuration for triggering generation.",
      "id": "GoogleCloudAiplatformV1MemoryGenerationTriggerConfig",
      "type": "object"
    },
    "GoogleCloudAiplatformV1SchemaPredictInstanceImageObjectDetectionPredictionInstance": {
      "description": "Prediction input format for Image Object Detection.",
      "properties": {
        "content": {
          "description": "The image bytes or Cloud Storage URI to make the prediction on.",
          "type": "string"
        },
        "mimeType": {
          "description": "The MIME type of the content of the image. Only the images in below listed MIME types are supported. - image/jpeg - image/gif - image/png - image/webp - image/bmp - image/tiff - image/vnd.microsoft.icon",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1SchemaPredictInstanceImageObjectDetectionPredictionInstance"
    },
    "GoogleCloudAiplatformV1SchemaPredictPredictionTextExtractionPredictionResult": {
      "description": "Prediction output format for Text Extraction.",
      "properties": {
        "textSegmentEndOffsets": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "The end offsets, inclusive, of the text segment in which the AnnotationSpec has been identified. Expressed as a zero-based number of characters as measured from the start of the text snippet."
        },
        "displayNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The display names of the AnnotationSpecs that had been identified, order matches the IDs."
        },
        "confidences": {
          "description": "The Model's confidences in correctness of the predicted IDs, higher value means higher confidence. Order matches the Ids.",
          "type": "array",
          "items": {
            "type": "number",
            "format": "float"
          }
        },
        "textSegmentStartOffsets": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "The start offsets, inclusive, of the text segment in which the AnnotationSpec has been identified. Expressed as a zero-based number of characters as measured from the start of the text snippet."
        },
        "ids": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "The resource IDs of the AnnotationSpecs that had been identified, ordered by the confidence score descendingly."
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1SchemaPredictPredictionTextExtractionPredictionResult"
    },
    "GoogleCloudAiplatformV1ModelDeploymentMonitoringBigQueryTable": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1ModelDeploymentMonitoringBigQueryTable",
      "description": "ModelDeploymentMonitoringBigQueryTable specifies the BigQuery table name as well as some information of the logs stored in this table.",
      "properties": {
        "requestResponseLoggingSchemaVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The schema version of the request/response logging BigQuery table. Default to v1 if unset."
        },
        "logSource": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified source.",
            "Logs coming from Training dataset.",
            "Logs coming from Serving traffic."
          ],
          "enum": [
            "LOG_SOURCE_UNSPECIFIED",
            "TRAINING",
            "SERVING"
          ],
          "description": "The source of log."
        },
        "logType": {
          "description": "The type of log.",
          "enumDescriptions": [
            "Unspecified type.",
            "Predict logs.",
            "Explain logs."
          ],
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "PREDICT",
            "EXPLAIN"
          ],
          "type": "string"
        },
        "bigqueryTablePath": {
          "description": "The created BigQuery table to store logs. Customer could do their own query & analysis. Format: `bq://.model_deployment_monitoring_._`",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1EvaluationInstanceDeprecatedAgentData": {
      "deprecated": true,
      "type": "object",
      "id": "GoogleCloudAiplatformV1EvaluationInstanceDeprecatedAgentData",
      "description": "Deprecated: Use `agent_eval_data` instead. Contains data specific to agent evaluations.",
      "properties": {
        "developerInstruction": {
          "$ref": "GoogleCloudAiplatformV1EvaluationInstanceInstanceData",
          "description": "Optional. Deprecated: Use `agents.developer_instruction` or `turns.events.active_instruction` instead. A field containing instructions from the developer for the agent.",
          "deprecated": true
        },
        "agents": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudAiplatformV1EvaluationInstanceDeprecatedAgentConfig"
          },
          "description": "Optional. The static Agent Configuration. This map defines the graph structure of the agent system. Key: agent_id (matches the `author` field in events). Value: The static configuration of the agent (tools, instructions, sub-agents)."
        },
        "agentConfig": {
          "$ref": "GoogleCloudAiplatformV1EvaluationInstanceDeprecatedAgentConfig",
          "description": "Optional. Deprecated: Use `agent_eval_data` instead. Agent configuration."
        },
        "toolsText": {
          "type": "string",
          "description": "A JSON string containing a list of tools available to an agent with info such as name, description, parameters and required parameters.",
          "deprecated": true
        },
        "events": {
          "$ref": "GoogleCloudAiplatformV1EvaluationInstanceDeprecatedAgentDataEvents",
          "description": "A list of events."
        },
        "turns": {
          "description": "Optional. The chronological list of conversation turns. Each turn represents a logical execution cycle (e.g., User Input -> Agent Response).",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1EvaluationInstanceDeprecatedAgentDataConversationTurn"
          }
        },
        "tools": {
          "$ref": "GoogleCloudAiplatformV1EvaluationInstanceDeprecatedAgentDataTools",
          "description": "List of tools.",
          "deprecated": true
        }
      }
    },
    "GoogleCloudAiplatformV1PipelineTaskDetail": {
      "properties": {
        "error": {
          "description": "Output only. The error that occurred during task execution. Only populated when the task's state is FAILED or CANCELLED.",
          "readOnly": true,
          "$ref": "GoogleRpcStatus"
        },
        "outputs": {
          "description": "Output only. The runtime output artifacts of the task.",
          "readOnly": true,
          "additionalProperties": {
            "$ref": "GoogleCloudAiplatformV1PipelineTaskDetailArtifactList"
          },
          "type": "object"
        },
        "taskUniqueName": {
          "readOnly": true,
          "description": "Output only. The unique name of a task. This field is used by rerun pipeline job. Console UI and Vertex AI SDK will support triggering pipeline job reruns. The name is constructed by concatenating all the parent tasks name with the task name. For example, if a task named \"child_task\" has a parent task named \"parent_task_1\" and parent task 1 has a parent task named \"parent_task_2\", the task unique name will be \"parent_task_2.parent_task_1.child_task\".",
          "type": "string"
        },
        "taskName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The user specified name of the task that is defined in pipeline_spec."
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Specifies pending state for the task.",
            "Specifies task is being executed.",
            "Specifies task completed successfully.",
            "Specifies Task cancel is in pending state.",
            "Specifies task is being cancelled.",
            "Specifies task was cancelled.",
            "Specifies task failed.",
            "Specifies task was skipped due to cache hit.",
            "Specifies that the task was not triggered because the task's trigger policy is not satisfied. The trigger policy is specified in the `condition` field of PipelineJob.pipeline_spec."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "CANCEL_PENDING",
            "CANCELLING",
            "CANCELLED",
            "FAILED",
            "SKIPPED",
            "NOT_TRIGGERED"
          ],
          "description": "Output only. State of the task.",
          "readOnly": true
        },
        "executorDetail": {
          "readOnly": true,
          "$ref": "GoogleCloudAiplatformV1PipelineTaskExecutorDetail",
          "description": "Output only. The detailed execution info."
        },
        "pipelineTaskStatus": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1PipelineTaskDetailPipelineTaskStatus"
          },
          "readOnly": true,
          "description": "Output only. A list of task status. This field keeps a record of task status evolving over time."
        },
        "inputs": {
          "type": "object",
          "description": "Output only. The runtime input artifacts of the task.",
          "readOnly": true,
          "additionalProperties": {
            "$ref": "GoogleCloudAiplatformV1PipelineTaskDetailArtifactList"
          }
        },
        "taskId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The system generated ID of the task.",
          "format": "int64"
        },
        "execution": {
          "description": "Output only. The execution metadata of the task.",
          "readOnly": true,
          "$ref": "GoogleCloudAiplatformV1Execution"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Task create time.",
          "format": "google-datetime"
        },
        "startTime": {
          "description": "Output only. Task start time.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "parentTaskId": {
          "type": "string",
          "description": "Output only. The id of the parent task if the task is within a component scope. Empty if the task is at the root level.",
          "format": "int64",
          "readOnly": true
        },
        "endTime": {
          "type": "string",
          "description": "Output only. Task end time.",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "description": "The runtime detail of a task execution.",
      "id": "GoogleCloudAiplatformV1PipelineTaskDetail",
      "type": "object"
    },
    "GoogleCloudAiplatformV1NasJobSpecMultiTrialAlgorithmSpec": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1NasJobSpecMultiTrialAlgorithmSpec",
      "description": "The spec of multi-trial Neural Architecture Search (NAS).",
      "properties": {
        "metric": {
          "$ref": "GoogleCloudAiplatformV1NasJobSpecMultiTrialAlgorithmSpecMetricSpec",
          "description": "Metric specs for the NAS job. Validation for this field is done at `multi_trial_algorithm_spec` field."
        },
        "trainTrialSpec": {
          "description": "Spec for train trials. Top N [TrainTrialSpec.max_parallel_trial_count] search trials will be trained for every M [TrainTrialSpec.frequency] trials searched.",
          "$ref": "GoogleCloudAiplatformV1NasJobSpecMultiTrialAlgorithmSpecTrainTrialSpec"
        },
        "multiTrialAlgorithm": {
          "description": "The multi-trial Neural Architecture Search (NAS) algorithm type. Defaults to `REINFORCEMENT_LEARNING`.",
          "enumDescriptions": [
            "Defaults to `REINFORCEMENT_LEARNING`.",
            "The Reinforcement Learning Algorithm for Multi-trial Neural Architecture Search (NAS).",
            "The Grid Search Algorithm for Multi-trial Neural Architecture Search (NAS)."
          ],
          "enum": [
            "MULTI_TRIAL_ALGORITHM_UNSPECIFIED",
            "REINFORCEMENT_LEARNING",
            "GRID_SEARCH"
          ],
          "type": "string"
        },
        "searchTrialSpec": {
          "$ref": "GoogleCloudAiplatformV1NasJobSpecMultiTrialAlgorithmSpecSearchTrialSpec",
          "description": "Required. Spec for search trials."
        }
      }
    },
    "GoogleCloudAiplatformV1RagFileChunkingConfigFixedLengthChunking": {
      "description": "Specifies the fixed length chunking config.",
      "properties": {
        "chunkOverlap": {
          "description": "The overlap between chunks.",
          "format": "int32",
          "type": "integer"
        },
        "chunkSize": {
          "type": "integer",
          "description": "The size of the chunks.",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1RagFileChunkingConfigFixedLengthChunking"
    },
    "GoogleCloudAiplatformV1FindNeighborsRequestQueryRRF": {
      "id": "GoogleCloudAiplatformV1FindNeighborsRequestQueryRRF",
      "type": "object",
      "properties": {
        "alpha": {
          "type": "number",
          "description": "Required. Users can provide an alpha value to give more weight to dense vs sparse results. For example, if the alpha is 0, we only return sparse and if the alpha is 1, we only return dense.",
          "format": "float"
        }
      },
      "description": "Parameters for RRF algorithm that combines search results."
    },
    "GoogleCloudAiplatformV1QuestionAnsweringQualityInput": {
      "id": "GoogleCloudAiplatformV1QuestionAnsweringQualityInput",
      "type": "object",
      "properties": {
        "metricSpec": {
          "description": "Required. Spec for question answering quality score metric.",
          "$ref": "GoogleCloudAiplatformV1QuestionAnsweringQualitySpec"
        },
        "instance": {
          "$ref": "GoogleCloudAiplatformV1QuestionAnsweringQualityInstance",
          "description": "Required. Question answering quality instance."
        }
      },
      "description": "Input for question answering quality metric."
    },
    "GoogleCloudAiplatformV1ComputationBasedMetricSpec": {
      "id": "GoogleCloudAiplatformV1ComputationBasedMetricSpec",
      "type": "object",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Unspecified computation based metric type.",
            "Exact match metric.",
            "BLEU metric.",
            "ROUGE metric."
          ],
          "enum": [
            "COMPUTATION_BASED_METRIC_TYPE_UNSPECIFIED",
            "EXACT_MATCH",
            "BLEU",
            "ROUGE"
          ],
          "type": "string",
          "description": "Required. The type of the computation based metric."
        },
        "parameters": {
          "description": "Optional. A map of parameters for the metric, e.g. {\"rouge_type\": \"rougeL\"}.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        }
      },
      "description": "Specification for a computation based metric."
    },
    "GoogleCloudAiplatformV1ImportFeatureValuesRequestFeatureSpec": {
      "id": "GoogleCloudAiplatformV1ImportFeatureValuesRequestFeatureSpec",
      "type": "object",
      "properties": {
        "id": {
          "description": "Required. ID of the Feature to import values of. This Feature must exist in the target EntityType, or the request will fail.",
          "type": "string"
        },
        "sourceField": {
          "description": "Source column to get the Feature values from. If not set, uses the column with the same name as the Feature ID.",
          "type": "string"
        }
      },
      "description": "Defines the Feature value(s) to import."
    },
    "GoogleCloudAiplatformV1StartNotebookRuntimeOperationMetadata": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1StartNotebookRuntimeOperationMetadata",
      "description": "Metadata information for NotebookService.StartNotebookRuntime.",
      "properties": {
        "genericMetadata": {
          "$ref": "GoogleCloudAiplatformV1GenericOperationMetadata",
          "description": "The operation generic information."
        },
        "progressMessage": {
          "description": "A human-readable message that shows the intermediate progress details of NotebookRuntime.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1CorpusStatus": {
      "description": "RagCorpus status.",
      "properties": {
        "state": {
          "description": "Output only. RagCorpus life state.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "This state is not supposed to happen.",
            "RagCorpus resource entry is initialized, but hasn't done validation.",
            "RagCorpus is provisioned successfully and is ready to serve.",
            "RagCorpus is in a problematic situation. See `error_message` field for details."
          ],
          "enum": [
            "UNKNOWN",
            "INITIALIZED",
            "ACTIVE",
            "ERROR"
          ]
        },
        "errorStatus": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Only when the `state` field is ERROR."
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1CorpusStatus"
    },
    "GoogleCloudAiplatformV1CustomCodeExecutionResult": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1CustomCodeExecutionResult",
      "description": "Result for custom code execution metric.",
      "properties": {
        "score": {
          "type": "number",
          "description": "Output only. Custom code execution score.",
          "format": "float",
          "readOnly": true
        }
      }
    },
    "GoogleCloudAiplatformV1UrlContextMetadata": {
      "description": "Metadata returned when the model uses the `url_context` tool to get information from a user-provided URL.",
      "properties": {
        "urlMetadata": {
          "description": "Output only. A list of URL metadata, with one entry for each URL retrieved by the tool.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1UrlMetadata"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1UrlContextMetadata"
    },
    "GoogleCloudAiplatformV1BatchMigrateResourcesRequest": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1BatchMigrateResourcesRequest",
      "description": "Request message for MigrationService.BatchMigrateResources.",
      "properties": {
        "migrateResourceRequests": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1MigrateResourceRequest"
          },
          "description": "Required. The request messages specifying the resources to migrate. They must be in the same location as the destination. Up to 50 resources can be migrated in one batch."
        }
      }
    },
    "GoogleCloudAiplatformV1GoogleMaps": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1GoogleMaps",
      "description": "Tool to retrieve public maps data for grounding, powered by Google.",
      "properties": {
        "enableWidget": {
          "type": "boolean",
          "description": "Optional. Deprecated: The Google Maps contextual widget behavior in Grounding with Google Maps is being deprecated; this field is planned for removal and no longer has any effect once removed. If true, include the widget context token in the response.",
          "deprecated": true
        },
        "groundingTypes": {
          "description": "Optional. Specifies the types of Google Maps grounding to enable. Defaults to `places` when unset.",
          "$ref": "GoogleCloudAiplatformV1GoogleMapsGroundingTypes"
        }
      }
    },
    "GoogleCloudAiplatformV1IndexDatapointCrowdingTag": {
      "description": "Crowding tag is a constraint on a neighbor list produced by nearest neighbor search requiring that no more than some value k' of the k neighbors returned have the same value of crowding_attribute.",
      "properties": {
        "crowdingAttribute": {
          "description": "The attribute value used for crowding. The maximum number of neighbors to return per crowding attribute value (per_crowding_attribute_num_neighbors) is configured per-query. This field is ignored if per_crowding_attribute_num_neighbors is larger than the total number of neighbors to return for a given query.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1IndexDatapointCrowdingTag"
    },
    "GoogleCloudAiplatformV1SchemaPromptSpecTranslationSentenceFileInput": {
      "properties": {
        "gcsInputSource": {
          "description": "Cloud Storage file source.",
          "$ref": "GoogleCloudAiplatformV1SchemaPromptSpecTranslationGcsInputSource"
        },
        "fileInputSource": {
          "description": "Inlined file source.",
          "$ref": "GoogleCloudAiplatformV1SchemaPromptSpecTranslationFileInputSource"
        }
      },
      "id": "GoogleCloudAiplatformV1SchemaPromptSpecTranslationSentenceFileInput",
      "type": "object"
    },
    "GoogleCloudAiplatformV1PreTunedModel": {
      "description": "A pre-tuned model for continuous tuning.",
      "properties": {
        "tunedModelName": {
          "description": "The resource name of the Model. E.g., a model resource name with a specified version id or alias: `projects/{project}/locations/{location}/models/{model}@{version_id}` `projects/{project}/locations/{location}/models/{model}@{alias}` Or, omit the version id to use the default version: `projects/{project}/locations/{location}/models/{model}`",
          "type": "string"
        },
        "checkpointId": {
          "description": "Optional. The source checkpoint id. If not specified, the default checkpoint will be used.",
          "type": "string"
        },
        "baseModel": {
          "readOnly": true,
          "description": "Output only. The name of the base model this PreTunedModel was tuned from.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1PreTunedModel"
    },
    "GoogleCloudAiplatformV1PredefinedSplit": {
      "properties": {
        "key": {
          "description": "Required. The key is a name of one of the Dataset's data columns. The value of the key (either the label's value or value in the column) must be one of {`training`, `validation`, `test`}, and it defines to which set the given piece of data is assigned. If for a piece of data the key is not present or has an invalid value, that piece is ignored by the pipeline.",
          "type": "string"
        }
      },
      "description": "Assigns input data to training, validation, and test sets based on the value of a provided key. Supported only for tabular Datasets.",
      "id": "GoogleCloudAiplatformV1PredefinedSplit",
      "type": "object"
    },
    "GoogleCloudAiplatformV1OutputInfo": {
      "description": "Describes the info for output of EvaluationService.",
      "properties": {
        "gcsOutputDirectory": {
          "readOnly": true,
          "description": "Output only. The full path of the Cloud Storage directory created, into which the evaluation results and aggregation results are written.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1OutputInfo"
    },
    "GoogleCloudAiplatformV1ScheduleRunResponse": {
      "id": "GoogleCloudAiplatformV1ScheduleRunResponse",
      "type": "object",
      "properties": {
        "scheduledRunTime": {
          "type": "string",
          "description": "The scheduled run time based on the user-specified schedule.",
          "format": "google-datetime"
        },
        "runResponse": {
          "description": "The response of the scheduled run.",
          "type": "string"
        }
      },
      "description": "Status of a scheduled run."
    },
    "GoogleCloudAiplatformV1MetricxInstance": {
      "description": "Spec for MetricX instance - The fields used for evaluation are dependent on the MetricX version.",
      "properties": {
        "prediction": {
          "description": "Required. Output of the evaluated model.",
          "type": "string"
        },
        "reference": {
          "description": "Optional. Ground truth used to compare against the prediction.",
          "type": "string"
        },
        "source": {
          "description": "Optional. Source text in original language.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1MetricxInstance"
    },
    "GoogleCloudAiplatformV1NotebookExecutionJobCustomEnvironmentSpecShieldedInstanceConfig": {
      "id": "GoogleCloudAiplatformV1NotebookExecutionJobCustomEnvironmentSpecShieldedInstanceConfig",
      "type": "object",
      "properties": {
        "enableSecureBoot": {
          "description": "Optional. Whether the VM instance has Secure Boot enabled. Disabled by default.",
          "type": "boolean"
        },
        "enableVtpm": {
          "description": "Optional. Whether the VM instance has vTPM enabled.",
          "type": "boolean"
        },
        "enableIntegrityMonitoring": {
          "description": "Optional. Whether the VM instance has integrity monitoring enabled.",
          "type": "boolean"
        }
      },
      "description": "A set of Shielded VM options for the execution VM. Mirrors `google.cloud.notebooks.v2.ShieldedInstanceConfig`. See https://cloud.google.com/compute/docs/instances/modifying-shielded-vm."
    },
    "GoogleCloudAiplatformV1SchemaModelevaluationMetricsImageSegmentationEvaluationMetricsConfidenceMetricsEntry": {
      "id": "GoogleCloudAiplatformV1SchemaModelevaluationMetricsImageSegmentationEvaluationMetricsConfidenceMetricsEntry",
      "type": "object",
      "properties": {
        "confusionMatrix": {
          "description": "Confusion matrix for the given confidence threshold.",
          "$ref": "GoogleCloudAiplatformV1SchemaModelevaluationMetricsConfusionMatrix"
        },
        "confidenceThreshold": {
          "description": "Metrics are computed with an assumption that the model never returns predictions with score lower than this value.",
          "format": "float",
          "type": "number"
        },
        "iouScore": {
          "description": "The intersection-over-union score. The measure of overlap of the annotation's category mask with ground truth category mask on the DataItem.",
          "format": "float",
          "type": "number"
        },
        "diceScoreCoefficient": {
          "type": "number",
          "description": "DSC or the F1 score, The harmonic mean of recall and precision.",
          "format": "float"
        },
        "recall": {
          "description": "Recall (True Positive Rate) for the given confidence threshold.",
          "format": "float",
          "type": "number"
        },
        "precision": {
          "type": "number",
          "description": "Precision for the given confidence threshold.",
          "format": "float"
        }
      }
    },
    "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionHyperparameterTuningTask": {
      "properties": {
        "inputs": {
          "$ref": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionHyperparameterTuningJobSpec",
          "description": "The input parameters of this HyperparameterTuningTask."
        },
        "metadata": {
          "description": "The metadata information.",
          "$ref": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionHyperparameterTuningJobMetadata"
        }
      },
      "description": "A TrainingJob that tunes Hypererparameters of a custom code Model.",
      "id": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionHyperparameterTuningTask",
      "type": "object"
    },
    "GoogleCloudAiplatformV1DeployRequest": {
      "id": "GoogleCloudAiplatformV1DeployRequest",
      "type": "object",
      "properties": {
        "endpointConfig": {
          "$ref": "GoogleCloudAiplatformV1DeployRequestEndpointConfig",
          "description": "Optional. The endpoint config to use for the deployment. If not specified, the default endpoint config will be used."
        },
        "modelConfig": {
          "description": "Optional. The model config to use for the deployment. If not specified, the default model config will be used.",
          "$ref": "GoogleCloudAiplatformV1DeployRequestModelConfig"
        },
        "deployConfig": {
          "description": "Optional. The deploy config to use for the deployment. If not specified, the default deploy config will be used.",
          "$ref": "GoogleCloudAiplatformV1DeployRequestDeployConfig"
        },
        "publisherModelName": {
          "description": "The Model Garden model to deploy. Format: `publishers/{publisher}/models/{publisher_model}@{version_id}`, or `publishers/hf-{hugging-face-author}/models/{hugging-face-model-name}@001`.",
          "type": "string"
        },
        "huggingFaceModelId": {
          "description": "The Hugging Face model to deploy. Format: Hugging Face model ID like `google/gemma-2-2b-it`.",
          "type": "string"
        }
      },
      "description": "Request message for ModelGardenService.Deploy."
    },
    "GoogleCloudAiplatformV1PreferenceOptimizationDataStats": {
      "id": "GoogleCloudAiplatformV1PreferenceOptimizationDataStats",
      "type": "object",
      "properties": {
        "userInputTokenDistribution": {
          "description": "Output only. Dataset distributions for the user input tokens.",
          "readOnly": true,
          "$ref": "GoogleCloudAiplatformV1DatasetDistribution"
        },
        "tuningDatasetExampleCount": {
          "type": "string",
          "description": "Output only. Number of examples in the tuning dataset.",
          "format": "int64",
          "readOnly": true
        },
        "totalBillableTokenCount": {
          "type": "string",
          "description": "Output only. Number of billable tokens in the tuning dataset.",
          "format": "int64",
          "readOnly": true
        },
        "tuningStepCount": {
          "type": "string",
          "description": "Output only. Number of tuning steps for this Tuning Job.",
          "format": "int64",
          "readOnly": true
        },
        "droppedExampleIndices": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "Output only. A partial sample of the indices (starting from 1) of the dropped examples.",
          "readOnly": true
        },
        "scoreVariancePerExampleDistribution": {
          "description": "Output only. Dataset distributions for scores variance per example.",
          "readOnly": true,
          "$ref": "GoogleCloudAiplatformV1DatasetDistribution"
        },
        "scoresDistribution": {
          "readOnly": true,
          "$ref": "GoogleCloudAiplatformV1DatasetDistribution",
          "description": "Output only. Dataset distributions for scores."
        },
        "userOutputTokenDistribution": {
          "readOnly": true,
          "$ref": "GoogleCloudAiplatformV1DatasetDistribution",
          "description": "Output only. Dataset distributions for the user output tokens."
        },
        "userDatasetExamples": {
          "readOnly": true,
          "description": "Output only. Sample user examples in the training dataset.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1GeminiPreferenceExample"
          }
        },
        "droppedExampleReasons": {
          "readOnly": true,
          "description": "Output only. For each index in `dropped_example_indices`, the user-facing reason why the example was dropped.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Statistics computed for datasets used for preference optimization."
    },
    "GoogleCloudAiplatformV1ToolGoogleSearchWebSearch": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1ToolGoogleSearchWebSearch",
      "description": "Standard web search for grounding and related configurations. Only text results are returned.",
      "properties": {}
    },
    "GoogleProtobufEmpty": {
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "GoogleProtobufEmpty",
      "type": "object"
    },
    "GoogleCloudAiplatformV1SchemaPredictPredictionTextSentimentPredictionResult": {
      "properties": {
        "sentiment": {
          "type": "integer",
          "description": "The integer sentiment labels between 0 (inclusive) and sentimentMax label (inclusive), while 0 maps to the least positive sentiment and sentimentMax maps to the most positive one. The higher the score is, the more positive the sentiment in the text snippet is. Note: sentimentMax is an integer value between 1 (inclusive) and 10 (inclusive).",
          "format": "int32"
        }
      },
      "description": "Prediction output format for Text Sentiment",
      "id": "GoogleCloudAiplatformV1SchemaPredictPredictionTextSentimentPredictionResult",
      "type": "object"
    },
    "GoogleCloudAiplatformV1SpeculativeDecodingSpecDraftModelSpeculation": {
      "id": "GoogleCloudAiplatformV1SpeculativeDecodingSpecDraftModelSpeculation",
      "type": "object",
      "properties": {
        "draftModel": {
          "description": "Required. The resource name of the draft model.",
          "type": "string"
        }
      },
      "description": "Draft model speculation works by using the smaller model to generate candidate tokens for speculative decoding."
    },
    "GoogleCloudAiplatformV1GenerateUserScenariosRequest": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1GenerateUserScenariosRequest",
      "description": "Request message for DataFoundryService.GenerateUserScenarios.",
      "properties": {
        "rootAgentId": {
          "description": "Optional. The agent id to identify the root agent. Required unless `gemini_agent_config` is set, in which case it is derived from the referenced Gemini Agent.",
          "type": "string"
        },
        "agents": {
          "type": "object",
[...]
