{
  "ownerName": "Google",
  "basePath": "",
  "kind": "discovery#restDescription",
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    }
  },
  "rootUrl": "https://aiplatform.googleapis.com/",
  "version_module": true,
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "servicePath": "",
  "description": "Build, scale, govern, and optimize sophisticated agents and models.",
  "id": "aiplatform:v1",
  "schemas": {
    "GoogleCloudAiplatformV1AudioTranscription": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1AudioTranscription",
      "description": "The transcription of an audio part. For multi-speaker audio, each speaker segment is a separate Part with its own AudioTranscription carrying the speaker_label.",
      "properties": {
        "text": {
          "description": "Required. The transcription text of this audio segment.",
          "type": "string"
        },
        "speakerLabel": {
          "type": "string",
          "description": "Optional. A label identifying the speaker of this audio segment (e.g. \"spk_1\", \"spk_2\"). Present when diarization is set."
        },
        "words": {
          "description": "Optional. Detailed word-level transcriptions and timing details. Present when word_timestamp is set.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1AudioTranscriptionWordInfo"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudAiplatformV1ToolComputerUse": {
      "id": "GoogleCloudAiplatformV1ToolComputerUse",
      "description": "Tool to support computer use.",
      "properties": {
        "environment": {
          "enum": [
            "ENVIRONMENT_UNSPECIFIED",
            "ENVIRONMENT_BROWSER",
            "ENVIRONMENT_MOBILE",
            "ENVIRONMENT_DESKTOP"
          ],
          "type": "string",
          "description": "Required. The environment being operated.",
          "enumDescriptions": [
            "Defaults to browser.",
            "Operates in a web browser.",
            "Operates in a mobile environment.",
            "Operates in a desktop environment."
          ]
        },
        "enablePromptInjectionDetection": {
          "description": "Optional. Enables the prompt injection detection check on computer-use request.",
          "type": "boolean"
        },
        "excludedPredefinedFunctions": {
          "items": {
            "type": "string"
          },
          "description": "Optional. By default, [predefined functions](https://cloud.google.com/vertex-ai/generative-ai/docs/computer-use#supported-actions) are included in the final model call. Some of them can be explicitly excluded from being automatically included. This can serve two purposes: 1. Using a more restricted / different action space. 2. Improving the definitions / instructions of predefined functions.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1GatewayConfig": {
      "id": "GoogleCloudAiplatformV1GatewayConfig",
      "description": "Configuration for a single gateway.",
      "properties": {
        "ipAddress": {
          "readOnly": true,
          "description": "Output only. The private IP address of the PSC endpoint.",
          "type": "string"
        },
        "network": {
          "type": "string",
          "description": "Optional. The URI of the network resource where PSC-E will be provisioned. if not provided `default` network will be used. Format: projects/{project}/global/networks/{network}"
        },
        "subnetwork": {
          "type": "string",
          "description": "Optional. The URI of the subnetwork resource where PSC-E will be provisioned. if not provided `default` subnet will be used from the same {location} Format: projects/{project}/regions/{region}/subnetworks/{subnetwork}"
        },
        "dnsZoneName": {
          "type": "string",
          "description": "Optional. FQDN of the private DNS zone to create DNS record set for PSC endpoint."
        },
        "allowedProjects": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Additional consumer projects permitted to attach their own PSC endpoint to this gateway's ServiceAttachment. This is the \"decoupled\" mode, where the customer creates the PSC endpoint in a project other than this gateway's `network` project. Each listed project is VPC-SC enforced: it must be within the caller's service perimeter. The owning SemanticGovernancePolicyEngine's own project is always permitted implicitly and need not be listed. Format: `projects/{project}` (ID or number)."
        },
        "pscEndpoint": {
          "description": "Output only. The self-link or name of the Private Service Connect endpoint forwarding rule.",
          "readOnly": true,
          "type": "string"
        },
        "dnsRecord": {
          "type": "string",
          "description": "Output only. The fully qualified record name of the created A-record in Cloud DNS.",
          "readOnly": true
        },
        "state": {
          "readOnly": true,
          "description": "Output only. The state of the Gateway configuration.",
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "The Gateway is being provisioned.",
            "The Gateway is active and ready to use.",
            "The Gateway is being de-provisioned.",
            "The Gateway is inactive.",
            "The Gateway failed to be provisioned."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "ACTIVE",
            "DEPROVISIONING",
            "INACTIVE",
            "FAILED"
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1RagEngineConfig": {
      "id": "GoogleCloudAiplatformV1RagEngineConfig",
      "description": "Config for RagEngine.",
      "properties": {
        "name": {
          "description": "Identifier. The name of the RagEngineConfig. Format: `projects/{project}/locations/{location}/ragEngineConfig`",
          "type": "string"
        },
        "ragManagedDbConfig": {
          "description": "The config of the RagManagedDb used by RagEngine.",
          "$ref": "GoogleCloudAiplatformV1RagManagedDbConfig"
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionTftForecastingInputsTransformationTextTransformation": {
      "id": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionTftForecastingInputsTransformationTextTransformation",
      "description": "Training pipeline will perform following transformation functions. * The text as is--no change to case, punctuation, spelling, tense, and so on. * Convert the category name to a dictionary lookup index and generate an embedding for each index.",
      "properties": {
        "columnName": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1DeleteFeatureValuesOperationMetadata": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1DeleteFeatureValuesOperationMetadata",
      "description": "Details of operations that delete Feature values.",
      "properties": {
        "genericMetadata": {
          "$ref": "GoogleCloudAiplatformV1GenericOperationMetadata",
          "description": "Operation metadata for Featurestore delete Features values."
        }
      }
    },
    "GoogleCloudAiplatformV1SchemaPredictParamsImageObjectDetectionPredictionParams": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1SchemaPredictParamsImageObjectDetectionPredictionParams",
      "description": "Prediction model parameters for Image Object Detection.",
      "properties": {
        "confidenceThreshold": {
          "description": "The Model only returns predictions with at least this confidence score. Default value is 0.0",
          "format": "float",
          "type": "number"
        },
        "maxPredictions": {
          "type": "integer",
          "description": "The Model only returns up to that many top, by confidence score, predictions per instance. Note that number of returned predictions is also limited by metadata's predictionsLimit. Default value is 10.",
          "format": "int32"
        }
      }
    },
    "GoogleCloudAiplatformV1TrajectoryAnyOrderMatchSpec": {
      "id": "GoogleCloudAiplatformV1TrajectoryAnyOrderMatchSpec",
      "description": "Spec for TrajectoryAnyOrderMatch metric - returns 1 if all tool calls in the reference trajectory appear in the predicted trajectory in any order, else 0.",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudAiplatformV1ModelDeploymentMonitoringBigQueryTable": {
      "id": "GoogleCloudAiplatformV1ModelDeploymentMonitoringBigQueryTable",
      "description": "ModelDeploymentMonitoringBigQueryTable specifies the BigQuery table name as well as some information of the logs stored in this table.",
      "properties": {
        "logType": {
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "PREDICT",
            "EXPLAIN"
          ],
          "type": "string",
          "description": "The type of log.",
          "enumDescriptions": [
            "Unspecified type.",
            "Predict logs.",
            "Explain logs."
          ]
        },
        "requestResponseLoggingSchemaVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The schema version of the request/response logging BigQuery table. Default to v1 if unset."
        },
        "logSource": {
          "type": "string",
          "enum": [
            "LOG_SOURCE_UNSPECIFIED",
            "TRAINING",
            "SERVING"
          ],
          "description": "The source of log.",
          "enumDescriptions": [
            "Unspecified source.",
            "Logs coming from Training dataset.",
            "Logs coming from Serving traffic."
          ]
        },
        "bigqueryTablePath": {
          "type": "string",
          "description": "The created BigQuery table to store logs. Customer could do their own query & analysis. Format: `bq://.model_deployment_monitoring_._`"
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1MetricMetadata": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1MetricMetadata",
      "description": "Metadata about the metric, used for visualization and organization.",
      "properties": {
        "title": {
          "description": "Optional. The user-friendly name for the metric. If not set for a registered metric, it will default to the metric's display name.",
          "type": "string"
        },
        "otherMetadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Optional. Flexible metadata for user-defined attributes."
        },
        "scoreRange": {
          "$ref": "GoogleCloudAiplatformV1MetricMetadataScoreRange",
          "description": "Optional. The range of possible scores for this metric, used for plotting."
        }
      }
    },
    "GoogleCloudAiplatformV1EvaluationRequest": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1EvaluationRequest",
      "description": "A single evaluation request supporting input for both single-turn model generation and multi-turn agent execution traces. Valid input modes: 1. Inference Mode: `prompt` is set (containing text or AgentData context). 2. Offline Eval Mode: `prompt` is unset, and `candidate_responses` contains `agent_data` (the completed execution trace). Validation Rule: Either `prompt` must be set, OR at least one of the `candidate_responses` must contain `agent_data`.",
      "properties": {
        "prompt": {
          "description": "Optional. The request/prompt to evaluate.",
          "$ref": "GoogleCloudAiplatformV1EvaluationPrompt"
        },
        "goldenResponse": {
          "description": "Optional. The Ideal response or ground truth.",
          "$ref": "GoogleCloudAiplatformV1CandidateResponse"
        },
        "rubrics": {
          "description": "Optional. Named groups of rubrics associated with this prompt. The key is a user-defined name for the rubric group.",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudAiplatformV1RubricGroup"
          }
        },
        "candidateResponses": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1CandidateResponse"
          },
          "description": "Optional. Responses from model under test and other baseline models for comparison."
        }
      }
    },
    "GoogleCloudAiplatformV1ReasoningEngineContextSpecMemoryBankConfig": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1ReasoningEngineContextSpecMemoryBankConfig",
      "description": "Specification for a Memory Bank.",
      "properties": {
        "disableMemoryRevisions": {
          "description": "If true, no memory revisions will be created for any requests to the Memory Bank.",
          "type": "boolean"
        },
        "similaritySearchConfig": {
          "description": "Optional. Configuration for how to perform similarity search on memories. If not set, the Memory Bank will use the default embedding model `text-embedding-005`.",
          "$ref": "GoogleCloudAiplatformV1ReasoningEngineContextSpecMemoryBankConfigSimilaritySearchConfig"
        },
        "generationConfig": {
          "$ref": "GoogleCloudAiplatformV1ReasoningEngineContextSpecMemoryBankConfigGenerationConfig",
          "description": "Optional. Configuration for how to generate memories for the Memory Bank."
        },
        "customizationConfigs": {
          "description": "Optional. Configuration for how to customize Memory Bank behavior for a particular scope.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1MemoryBankCustomizationConfig"
          },
          "type": "array"
        },
        "ttlConfig": {
          "$ref": "GoogleCloudAiplatformV1ReasoningEngineContextSpecMemoryBankConfigTtlConfig",
          "description": "Optional. Configuration for automatic TTL (\"time-to-live\") of the memories in the Memory Bank. If not set, TTL will not be applied automatically. The TTL can be explicitly set by modifying the `expire_time` of each Memory resource."
        }
      }
    },
    "GoogleCloudAiplatformV1CorroborateContentRequestParameters": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1CorroborateContentRequestParameters",
      "description": "Parameters that can be overrided per request.",
      "properties": {
        "citationThreshold": {
          "type": "number",
          "description": "Optional. Only return claims with citation score larger than the threshold.",
          "format": "double"
        }
      }
    },
    "GoogleCloudAiplatformV1CreateTensorboardRunRequest": {
      "id": "GoogleCloudAiplatformV1CreateTensorboardRunRequest",
      "description": "Request message for TensorboardService.CreateTensorboardRun.",
      "properties": {
        "parent": {
          "type": "string",
          "description": "Required. The resource name of the TensorboardExperiment to create the TensorboardRun in. Format: `projects/{project}/locations/{location}/tensorboards/{tensorboard}/experiments/{experiment}`"
        },
        "tensorboardRun": {
          "$ref": "GoogleCloudAiplatformV1TensorboardRun",
          "description": "Required. The TensorboardRun to create."
        },
        "tensorboardRunId": {
          "type": "string",
          "description": "Required. The ID to use for the Tensorboard run, which becomes the final component of the Tensorboard run's resource name. This value should be 1-128 characters, and valid characters are `/a-z-/`."
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1NasJobSpecMultiTrialAlgorithmSpec": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1NasJobSpecMultiTrialAlgorithmSpec",
      "description": "The spec of multi-trial Neural Architecture Search (NAS).",
      "properties": {
        "trainTrialSpec": {
          "description": "Spec for train trials. Top N [TrainTrialSpec.max_parallel_trial_count] search trials will be trained for every M [TrainTrialSpec.frequency] trials searched.",
          "$ref": "GoogleCloudAiplatformV1NasJobSpecMultiTrialAlgorithmSpecTrainTrialSpec"
        },
        "multiTrialAlgorithm": {
          "description": "The multi-trial Neural Architecture Search (NAS) algorithm type. Defaults to `REINFORCEMENT_LEARNING`.",
          "enumDescriptions": [
            "Defaults to `REINFORCEMENT_LEARNING`.",
            "The Reinforcement Learning Algorithm for Multi-trial Neural Architecture Search (NAS).",
            "The Grid Search Algorithm for Multi-trial Neural Architecture Search (NAS)."
          ],
          "enum": [
            "MULTI_TRIAL_ALGORITHM_UNSPECIFIED",
            "REINFORCEMENT_LEARNING",
            "GRID_SEARCH"
          ],
          "type": "string"
        },
        "metric": {
          "description": "Metric specs for the NAS job. Validation for this field is done at `multi_trial_algorithm_spec` field.",
          "$ref": "GoogleCloudAiplatformV1NasJobSpecMultiTrialAlgorithmSpecMetricSpec"
        },
        "searchTrialSpec": {
          "$ref": "GoogleCloudAiplatformV1NasJobSpecMultiTrialAlgorithmSpecSearchTrialSpec",
          "description": "Required. Spec for search trials."
        }
      }
    },
    "GoogleCloudAiplatformV1ImportFeatureValuesOperationMetadata": {
      "id": "GoogleCloudAiplatformV1ImportFeatureValuesOperationMetadata",
      "description": "Details of operations that perform import Feature values.",
      "properties": {
        "importedEntityCount": {
          "type": "string",
          "description": "Number of entities that have been imported by the operation.",
          "format": "int64"
        },
        "timestampOutsideRetentionRowsCount": {
          "description": "The number rows that weren't ingested due to having timestamps outside the retention boundary.",
          "format": "int64",
          "type": "string"
        },
        "genericMetadata": {
          "description": "Operation metadata for Featurestore import Feature values.",
          "$ref": "GoogleCloudAiplatformV1GenericOperationMetadata"
        },
        "importedFeatureValueCount": {
          "type": "string",
          "description": "Number of Feature values that have been imported by the operation.",
          "format": "int64"
        },
        "invalidRowCount": {
          "description": "The number of rows in input source that weren't imported due to either * Not having any featureValues. * Having a null entityId. * Having a null timestamp. * Not being parsable (applicable for CSV sources).",
          "format": "int64",
          "type": "string"
        },
        "sourceUris": {
          "type": "array",
          "description": "The source URI from where Feature values are imported.",
          "items": {
            "type": "string"
          }
        },
        "blockingOperationIds": {
          "description": "List of ImportFeatureValues operations running under a single EntityType that are blocking this operation.",
          "items": {
            "format": "int64",
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1OutputInfo": {
      "id": "GoogleCloudAiplatformV1OutputInfo",
      "description": "Describes the info for output of EvaluationService.",
      "properties": {
        "gcsOutputDirectory": {
          "type": "string",
          "description": "Output only. The full path of the Cloud Storage directory created, into which the evaluation results and aggregation results are written.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1ModalityTokenCount": {
      "id": "GoogleCloudAiplatformV1ModalityTokenCount",
      "description": "Represents a breakdown of token usage by modality. This message is used in CountTokensResponse and GenerateContentResponse.UsageMetadata to provide a detailed view of how many tokens are used by each modality (e.g., text, image, video) in a request. This is particularly useful for multimodal models, allowing you to track and manage token consumption for billing and quota purposes.",
      "properties": {
        "tokenCount": {
          "type": "integer",
          "description": "The number of tokens counted for this modality.",
          "format": "int32"
        },
        "modality": {
          "description": "The modality that this token count applies to.",
          "enumDescriptions": [
            "When a modality is not specified, it is treated as `TEXT`.",
            "The `Part` contains plain text.",
            "The `Part` contains an image.",
            "The `Part` contains a video.",
            "The `Part` contains audio.",
            "The `Part` contains a document, such as a PDF."
          ],
          "type": "string",
          "enum": [
            "MODALITY_UNSPECIFIED",
            "TEXT",
            "IMAGE",
            "VIDEO",
            "AUDIO",
            "DOCUMENT"
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1NearestNeighborQueryStringFilter": {
      "id": "GoogleCloudAiplatformV1NearestNeighborQueryStringFilter",
      "description": "String filter is used to search a subset of the entities by using boolean rules on string columns. For example: if a query specifies string filter with 'name = color, allow_tokens = {red, blue}, deny_tokens = {purple}',' then that query will match entities that are red or blue, but if those points are also purple, then they will be excluded even if they are red/blue. Only string filter is supported for now, numeric filter will be supported in the near future.",
      "properties": {
        "allowTokens": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The allowed tokens."
        },
        "name": {
          "type": "string",
          "description": "Required. Column names in BigQuery that used as filters."
        },
        "denyTokens": {
          "description": "Optional. The denied tokens.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1DatasetVersion": {
      "id": "GoogleCloudAiplatformV1DatasetVersion",
      "description": "Describes the dataset version.",
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Output only. Timestamp when this DatasetVersion was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Identifier. The resource name of the DatasetVersion. Format: `projects/{project}/locations/{location}/datasets/{dataset}/datasetVersions/{dataset_version}`",
          "type": "string"
        },
        "bigQueryDatasetName": {
          "readOnly": true,
          "description": "Output only. Name of the associated BigQuery dataset.",
          "type": "string"
        },
        "satisfiesPzs": {
          "description": "Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        },
        "satisfiesPzi": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Reserved for future use."
        },
        "displayName": {
          "type": "string",
          "description": "The user-defined name of the DatasetVersion. The name can be up to 128 characters long and can consist of any UTF-8 characters."
        },
        "modelReference": {
          "description": "Output only. Reference to the public base model last used by the dataset version. Only set for prompt dataset versions.",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. Timestamp when this DatasetVersion was last updated.",
          "format": "google-datetime",
          "readOnly": true
        },
        "etag": {
          "type": "string",
          "description": "Used to perform consistent read-modify-write updates. If not set, a blind \"overwrite\" update happens."
        },
        "metadata": {
          "type": "any",
          "description": "Required. Output only. Additional information about the DatasetVersion.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1StreamingReadFeatureValuesRequest": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1StreamingReadFeatureValuesRequest",
      "description": "Request message for FeaturestoreOnlineServingService.StreamingReadFeatureValues.",
      "properties": {
        "entityIds": {
          "items": {
            "type": "string"
          },
          "description": "Required. IDs of entities to read Feature values of. The maximum number of IDs is 100. For example, for a machine learning model predicting user clicks on a website, an entity ID could be `user_123`.",
          "type": "array"
        },
        "featureSelector": {
          "$ref": "GoogleCloudAiplatformV1FeatureSelector",
          "description": "Required. Selector choosing Features of the target EntityType. Feature IDs will be deduplicated."
        }
      }
    },
    "GoogleCloudAiplatformV1EvaluationPrompt": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1EvaluationPrompt",
      "description": "Prompt to be evaluated. This can represent a single-turn prompt or a multi-turn conversation for agent evaluations.",
      "properties": {
        "promptTemplateData": {
          "$ref": "GoogleCloudAiplatformV1EvaluationPromptPromptTemplateData",
          "description": "Prompt template data."
        },
        "value": {
          "description": "Fields and values that can be used to populate the prompt template.",
          "type": "any"
        },
        "userScenario": {
          "$ref": "GoogleCloudAiplatformV1EvaluationPromptUserScenario",
          "description": "Optional. The generated user scenario used to drive multi-turn agent running results."
        },
        "text": {
          "description": "Text prompt.",
          "type": "string"
        },
        "agentData": {
          "description": "Optional. Represents the complete execution trace of a multi-turn conversation, which can involve single or multiple agents. This serves as the input context for agent scraping.",
          "$ref": "GoogleCloudAiplatformV1AgentData"
        }
      }
    },
    "GoogleCloudAiplatformV1CoherenceResult": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1CoherenceResult",
      "description": "Spec for coherence result.",
      "properties": {
        "explanation": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Explanation for coherence score."
        },
        "confidence": {
          "type": "number",
          "description": "Output only. Confidence for coherence score.",
          "format": "float",
          "readOnly": true
        },
        "score": {
          "readOnly": true,
          "description": "Output only. Coherence score.",
          "format": "float",
          "type": "number"
        }
      }
    },
    "GoogleCloudAiplatformV1FluencyInstance": {
      "id": "GoogleCloudAiplatformV1FluencyInstance",
      "description": "Spec for fluency instance.",
      "properties": {
        "prediction": {
          "type": "string",
          "description": "Required. Output of the evaluated model."
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1TrajectorySingleToolUseInstance": {
      "id": "GoogleCloudAiplatformV1TrajectorySingleToolUseInstance",
      "description": "Spec for TrajectorySingleToolUse instance.",
      "properties": {
        "predictedTrajectory": {
          "$ref": "GoogleCloudAiplatformV1Trajectory",
          "description": "Required. Spec for predicted tool call trajectory."
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1PointwiseMetricResult": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1PointwiseMetricResult",
      "description": "Spec for pointwise metric result.",
      "properties": {
        "score": {
          "type": "number",
          "description": "Output only. Pointwise metric score.",
          "format": "float",
          "readOnly": true
        },
        "customOutput": {
          "description": "Output only. Spec for custom output.",
          "readOnly": true,
          "$ref": "GoogleCloudAiplatformV1CustomOutput"
        },
        "explanation": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Explanation for pointwise metric score."
        }
      }
    },
    "GoogleCloudAiplatformV1Candidate": {
      "id": "GoogleCloudAiplatformV1Candidate",
      "description": "A response candidate generated from the model.",
      "properties": {
        "citationMetadata": {
          "readOnly": true,
          "$ref": "GoogleCloudAiplatformV1CitationMetadata",
          "description": "Output only. A collection of citations that apply to the generated content."
        },
        "content": {
          "readOnly": true,
          "$ref": "GoogleCloudAiplatformV1Content",
          "description": "Output only. The content of the candidate."
        },
        "groundingMetadata": {
          "readOnly": true,
          "$ref": "GoogleCloudAiplatformV1GroundingMetadata",
          "description": "Output only. Metadata returned when grounding is enabled. It contains the sources used to ground the generated content."
        },
        "logprobsResult": {
          "readOnly": true,
          "$ref": "GoogleCloudAiplatformV1LogprobsResult",
          "description": "Output only. The detailed log probability information for the tokens in this candidate. This is useful for debugging, understanding model uncertainty, and identifying potential \"hallucinations\"."
        },
        "index": {
          "description": "Output only. The 0-based index of this candidate in the list of generated responses. This is useful for distinguishing between multiple candidates when `candidate_count` > 1.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "finishReason": {
          "type": "string",
          "enum": [
            "FINISH_REASON_UNSPECIFIED",
            "STOP",
            "MAX_TOKENS",
            "SAFETY",
            "RECITATION",
            "OTHER",
            "BLOCKLIST",
            "PROHIBITED_CONTENT",
            "SPII",
            "MALFORMED_FUNCTION_CALL",
            "MODEL_ARMOR",
            "IMAGE_SAFETY",
            "IMAGE_PROHIBITED_CONTENT",
            "IMAGE_RECITATION",
            "IMAGE_OTHER",
            "UNEXPECTED_TOOL_CALL",
            "NO_IMAGE"
          ],
          "readOnly": true,
          "description": "Output only. The reason why the model stopped generating tokens. If empty, the model has not stopped generating.",
          "enumDescriptions": [
            "The finish reason is unspecified.",
            "The model reached a natural stopping point or a configured stop sequence.",
            "The model generated the maximum number of tokens allowed by the `max_output_tokens` parameter.",
            "The model stopped generating because the content potentially violates safety policies. NOTE: When streaming, the `content` field is empty if content filters block the output.",
            "The model stopped generating because the content may be a recitation from a source.",
            "The model stopped generating for a reason not otherwise specified.",
            "The model stopped generating because the content contains a term from a configured blocklist.",
            "The model stopped generating because the content may be prohibited.",
            "The model stopped generating because the content may contain sensitive personally identifiable information (SPII).",
            "The model generated a function call that is syntactically invalid and can't be parsed.",
            "The model response was blocked by Model Armor.",
            "The generated image potentially violates safety policies.",
            "The generated image may contain prohibited content.",
            "The generated image may be a recitation from a source.",
            "The image generation stopped for a reason not otherwise specified.",
            "The model generated a function call that is semantically invalid. This can happen, for example, if function calling is not enabled or the generated function is not in the function declaration.",
            "The model was expected to generate an image, but didn't."
          ]
        },
        "safetyRatings": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudAiplatformV1SafetyRating"
          },
          "description": "Output only. A list of ratings for the safety of a response candidate. There is at most one rating per category."
        },
        "urlContextMetadata": {
          "readOnly": true,
          "$ref": "GoogleCloudAiplatformV1UrlContextMetadata",
          "description": "Output only. Metadata returned when the model uses the `url_context` tool to get information from a user-provided URL."
        },
        "avgLogprobs": {
          "type": "number",
          "readOnly": true,
          "description": "Output only. The average log probability of the tokens in this candidate. This is a length-normalized score that can be used to compare the quality of candidates of different lengths. A higher average log probability suggests a more confident and coherent response.",
          "format": "double"
        },
        "finishMessage": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Describes the reason the model stopped generating tokens in more detail. This field is returned only when `finish_reason` is set."
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1OnlineEvaluatorCloudObservabilityOpenTelemetry": {
      "id": "GoogleCloudAiplatformV1OnlineEvaluatorCloudObservabilityOpenTelemetry",
      "description": "Configuration for data source following OpenTelemetry.",
      "properties": {
        "semconvVersion": {
          "description": "Required. Defines which version OTel Semantic Convention the data follows. Can be \"1.39.0\" or newer.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1SlackSource": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1SlackSource",
      "description": "The Slack source for the ImportRagFilesRequest.",
      "properties": {
        "channels": {
          "type": "array",
          "description": "Required. The Slack channels.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1SlackSourceSlackChannels"
          }
        }
      }
    },
    "GoogleCloudAiplatformV1ToolParameterKeyMatchInput": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1ToolParameterKeyMatchInput",
      "description": "Input for tool parameter key match metric.",
      "properties": {
        "instances": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1ToolParameterKeyMatchInstance"
          },
          "description": "Required. Repeated tool parameter key match instances.",
          "type": "array"
        },
        "metricSpec": {
          "$ref": "GoogleCloudAiplatformV1ToolParameterKeyMatchSpec",
          "description": "Required. Spec for tool parameter key match metric."
        }
      }
    },
    "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionHyperparameterTuningTask": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionHyperparameterTuningTask",
      "description": "A TrainingJob that tunes Hypererparameters of a custom code Model.",
      "properties": {
        "inputs": {
          "description": "The input parameters of this HyperparameterTuningTask.",
          "$ref": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionHyperparameterTuningJobSpec"
        },
        "metadata": {
          "description": "The metadata information.",
          "$ref": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionHyperparameterTuningJobMetadata"
        }
      }
    },
    "GoogleCloudAiplatformV1FeatureView": {
      "id": "GoogleCloudAiplatformV1FeatureView",
      "description": "FeatureView is representation of values that the FeatureOnlineStore will serve based on its syncConfig.",
      "properties": {
        "satisfiesPzi": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Reserved for future use."
        },
        "bigtableMetadata": {
          "description": "Output only. Metadata containing information about the Cloud Bigtable.",
          "readOnly": true,
          "$ref": "GoogleCloudAiplatformV1FeatureViewBigtableMetadata"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Timestamp when this FeatureView was created.",
          "format": "google-datetime"
        },
        "satisfiesPzs": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Reserved for future use."
        },
        "name": {
          "type": "string",
          "description": "Identifier. Name of the FeatureView. Format: `projects/{project}/locations/{location}/featureOnlineStores/{feature_online_store}/featureViews/{feature_view}`"
        },
        "vertexRagSource": {
          "description": "Optional. The Vertex RAG Source that the FeatureView is linked to.",
          "$ref": "GoogleCloudAiplatformV1FeatureViewVertexRagSource"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The labels with user-defined metadata to organize your FeatureViews. Label keys and values can be no longer than 64 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. See https://goo.gl/xmQnxf for more information on and examples of labels. No more than 64 user labels can be associated with one FeatureOnlineStore(System labels are excluded).\" System reserved label keys are prefixed with \"aiplatform.googleapis.com/\" and are immutable."
        },
        "indexConfig": {
          "$ref": "GoogleCloudAiplatformV1FeatureViewIndexConfig",
          "description": "Optional. Configuration for index preparation for vector search. It contains the required configurations to create an index from source data, so that approximate nearest neighbor (a.k.a ANN) algorithms search can be performed during online serving."
        },
        "updateTime": {
          "description": "Output only. Timestamp when this FeatureView was last updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "featureRegistrySource": {
          "$ref": "GoogleCloudAiplatformV1FeatureViewFeatureRegistrySource",
          "description": "Optional. Configures the features from a Feature Registry source that need to be loaded onto the FeatureOnlineStore."
        },
        "serviceAgentType": {
          "enum": [
            "SERVICE_AGENT_TYPE_UNSPECIFIED",
            "SERVICE_AGENT_TYPE_PROJECT",
            "SERVICE_AGENT_TYPE_FEATURE_VIEW"
          ],
          "type": "string",
          "description": "Optional. Service agent type used during data sync. By default, the Vertex AI Service Agent is used. When using an IAM Policy to isolate this FeatureView within a project, a separate service account should be provisioned by setting this field to `SERVICE_AGENT_TYPE_FEATURE_VIEW`. This will generate a separate service account to access the BigQuery source table.",
          "enumDescriptions": [
            "By default, the project-level Vertex AI Service Agent is enabled.",
            "Indicates the project-level Vertex AI Service Agent (https://cloud.google.com/vertex-ai/docs/general/access-control#service-agents) will be used during sync jobs.",
            "Enable a FeatureView service account to be created by Vertex AI and output in the field `service_account_email`. This service account will be used to read from the source BigQuery table during sync."
          ]
        },
        "bigQuerySource": {
          "$ref": "GoogleCloudAiplatformV1FeatureViewBigQuerySource",
          "description": "Optional. Configures how data is supposed to be extracted from a BigQuery source to be loaded onto the FeatureOnlineStore."
        },
        "serviceAccountEmail": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A Service Account unique to this FeatureView. The role bigquery.dataViewer should be granted to this service account to allow Vertex AI Feature Store to sync data to the online store."
        },
        "etag": {
          "description": "Optional. Used to perform consistent read-modify-write updates. If not set, a blind \"overwrite\" update happens.",
          "type": "string"
        },
        "optimizedConfig": {
          "$ref": "GoogleCloudAiplatformV1FeatureViewOptimizedConfig",
          "description": "Optional. Configuration for FeatureView created under Optimized FeatureOnlineStore."
        },
        "syncConfig": {
          "description": "Configures when data is to be synced/updated for this FeatureView. At the end of the sync the latest featureValues for each entityId of this FeatureView are made ready for online serving.",
          "$ref": "GoogleCloudAiplatformV1FeatureViewSyncConfig"
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1GroundingChunkMapsRoute": {
      "id": "GoogleCloudAiplatformV1GroundingChunkMapsRoute",
      "description": "Route information from Google Maps.",
      "properties": {
        "encodedPolyline": {
          "type": "string",
          "description": "An encoded polyline of the route. See https://developers.google.com/maps/documentation/utilities/polylinealgorithm"
        },
        "distanceMeters": {
          "description": "The total distance of the route, in meters.",
          "format": "int32",
          "type": "integer"
        },
        "duration": {
          "type": "string",
          "description": "The total duration of the route.",
          "format": "google-duration"
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1AudioTranscriptionConfigLanguageHints": {
      "description": "Deprecated: Use top-level `language_codes` instead. Provides hints to the model about possible languages present in the audio.",
      "properties": {
        "languageCodes": {
          "type": "array",
          "description": "Required. Deprecated: Use top-level `language_codes` instead. BCP-47 language codes. At least one must be specified.",
          "deprecated": true,
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudAiplatformV1AudioTranscriptionConfigLanguageHints",
      "deprecated": true,
      "type": "object"
    },
    "GoogleCloudAiplatformV1TrajectoryRecallInput": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1TrajectoryRecallInput",
      "description": "Instances and metric spec for TrajectoryRecall metric.",
      "properties": {
        "metricSpec": {
          "description": "Required. Spec for TrajectoryRecall metric.",
          "$ref": "GoogleCloudAiplatformV1TrajectoryRecallSpec"
        },
        "instances": {
          "description": "Required. Repeated TrajectoryRecall instance.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1TrajectoryRecallInstance"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudAiplatformV1AutoraterConfig": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1AutoraterConfig",
      "description": "The configs for autorater. This is applicable to both EvaluateInstances and EvaluateDataset.",
      "properties": {
        "flipEnabled": {
          "type": "boolean",
          "description": "Optional. Default is true. Whether to flip the candidate and baseline responses. This is only applicable to the pairwise metric. If enabled, also provide PairwiseMetricSpec.candidate_response_field_name and PairwiseMetricSpec.baseline_response_field_name. When rendering PairwiseMetricSpec.metric_prompt_template, the candidate and baseline fields will be flipped for half of the samples to reduce bias."
        },
        "samplingCount": {
          "description": "Optional. Number of samples for each instance in the dataset. If not specified, the default is 4. Minimum value is 1, maximum value is 32.",
          "format": "int32",
          "type": "integer"
        },
        "autoraterModel": {
          "description": "Optional. The fully qualified name of the publisher model or tuned autorater endpoint to use. Publisher model format: `projects/{project}/locations/{location}/publishers/*/models/*` Tuned model endpoint format: `projects/{project}/locations/{location}/endpoints/{endpoint}`",
          "type": "string"
        },
        "generationConfig": {
          "description": "Optional. Configuration options for model generation and outputs.",
          "$ref": "GoogleCloudAiplatformV1GenerationConfig"
        }
      }
    },
    "GoogleCloudAiplatformV1ExamplesExampleGcsSource": {
      "id": "GoogleCloudAiplatformV1ExamplesExampleGcsSource",
      "description": "The Cloud Storage input instances.",
      "properties": {
        "dataFormat": {
          "description": "The format in which instances are given, if not specified, assume it's JSONL format. Currently only JSONL format is supported.",
          "enumDescriptions": [
            "Format unspecified, used when unset.",
            "Examples are stored in JSONL files."
          ],
          "type": "string",
          "enum": [
            "DATA_FORMAT_UNSPECIFIED",
            "JSONL"
          ]
        },
        "gcsSource": {
          "description": "The Cloud Storage location for the input instances.",
          "$ref": "GoogleCloudAiplatformV1GcsSource"
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1SandboxEnvironmentTemplateResourceRequirements": {
      "id": "GoogleCloudAiplatformV1SandboxEnvironmentTemplateResourceRequirements",
      "description": "Message to define resource requests and limits (mirroring Kubernetes) for each sandbox instance created from this template.",
      "properties": {
        "requests": {
          "description": "Optional. The requested amounts of compute resources. Keys are resource names (e.g., \"cpu\", \"memory\"). Values are quantities (e.g., \"250m\", \"512Mi\").",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "limits": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The maximum amounts of compute resources allowed. Keys are resource names (e.g., \"cpu\", \"memory\"). Values are quantities (e.g., \"500m\", \"1Gi\")."
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1BatchReadFeatureValuesResponse": {
      "id": "GoogleCloudAiplatformV1BatchReadFeatureValuesResponse",
      "description": "Response message for FeaturestoreService.BatchReadFeatureValues.",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudAiplatformV1StudySpecParameterSpecDiscreteValueSpec": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1StudySpecParameterSpecDiscreteValueSpec",
      "description": "Value specification for a parameter in `DISCRETE` type.",
      "properties": {
        "values": {
          "items": {
            "format": "double",
            "type": "number"
          },
          "description": "Required. A list of possible values. The list should be in increasing order and at least 1e-10 apart. For instance, this parameter might have possible settings of 1.5, 2.5, and 4.0. This list should not contain more than 1,000 values.",
          "type": "array"
        },
        "defaultValue": {
          "description": "A default value for a `DISCRETE` parameter that is assumed to be a relatively good starting point. Unset value signals that there is no offered starting point. It automatically rounds to the nearest feasible discrete point. Currently only supported by the Vertex AI Vizier service. Not supported by HyperparameterTuningJob or TrainingPipeline.",
          "format": "double",
          "type": "number"
        }
      }
    },
    "GoogleCloudAiplatformV1ModelDataStats": {
      "id": "GoogleCloudAiplatformV1ModelDataStats",
      "description": "Stats of data used for train or evaluate the Model.",
      "properties": {
        "testDataItemsCount": {
          "description": "Number of DataItems that were used for evaluating this Model. If the Model is evaluated multiple times, this will be the number of test DataItems used by the first evaluation. If the Model is not evaluated, the number is 0.",
          "format": "int64",
          "type": "string"
        },
        "trainingAnnotationsCount": {
          "description": "Number of Annotations that are used for training this Model.",
          "format": "int64",
          "type": "string"
        },
        "testAnnotationsCount": {
          "type": "string",
          "description": "Number of Annotations that are used for evaluating this Model. If the Model is evaluated multiple times, this will be the number of test Annotations used by the first evaluation. If the Model is not evaluated, the number is 0.",
          "format": "int64"
        },
        "validationAnnotationsCount": {
          "description": "Number of Annotations that are used for validating this Model during training.",
          "format": "int64",
          "type": "string"
        },
        "validationDataItemsCount": {
          "type": "string",
          "description": "Number of DataItems that were used for validating this Model during training.",
          "format": "int64"
        },
        "trainingDataItemsCount": {
          "type": "string",
          "description": "Number of DataItems that were used for training this Model.",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1ListModelsResponse": {
      "id": "GoogleCloudAiplatformV1ListModelsResponse",
      "description": "Response message for ModelService.ListModels",
      "properties": {
        "models": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1Model"
          },
          "description": "List of Models in the requested page."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve next page of results. Pass to ListModelsRequest.page_token to obtain that page."
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1SupervisedTuningDataStats": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1SupervisedTuningDataStats",
      "description": "Tuning data statistics for Supervised Tuning.",
      "properties": {
        "tuningDatasetExampleCount": {
          "readOnly": true,
          "description": "Output only. Number of examples in the tuning dataset.",
          "format": "int64",
          "type": "string"
        },
        "totalTuningCharacterCount": {
          "description": "Output only. Number of tuning characters in the tuning dataset.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "userMessagePerExampleDistribution": {
          "readOnly": true,
          "$ref": "GoogleCloudAiplatformV1SupervisedTuningDatasetDistribution",
          "description": "Output only. Dataset distributions for the messages per example."
        },
        "tuningStepCount": {
          "description": "Output only. Number of tuning steps for this Tuning Job.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "userDatasetExamples": {
          "type": "array",
          "description": "Output only. Sample user messages in the training dataset uri.",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudAiplatformV1Content"
          }
        },
        "userInputTokenDistribution": {
          "description": "Output only. Dataset distributions for the user input tokens.",
          "readOnly": true,
          "$ref": "GoogleCloudAiplatformV1SupervisedTuningDatasetDistribution"
        },
        "userOutputTokenDistribution": {
          "readOnly": true,
          "$ref": "GoogleCloudAiplatformV1SupervisedTuningDatasetDistribution",
          "description": "Output only. Dataset distributions for the user output tokens."
        },
        "totalBillableCharacterCount": {
          "deprecated": true,
          "format": "int64",
          "type": "string",
          "description": "Output only. Number of billable characters in the tuning dataset.",
          "readOnly": true
        },
        "totalTruncatedExampleCount": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The number of examples in the dataset that have been dropped. An example can be dropped for reasons including: too many tokens, contains an invalid image, contains too many images, etc.",
          "format": "int64"
        },
        "totalBillableTokenCount": {
          "readOnly": true,
          "description": "Output only. Number of billable tokens in the tuning dataset.",
          "format": "int64",
          "type": "string"
        },
        "droppedExampleReasons": {
          "description": "Output only. For each index in `truncated_example_indices`, the user-facing reason why the example was dropped.",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "truncatedExampleIndices": {
          "type": "array",
          "readOnly": true,
          "items": {
            "format": "int64",
            "type": "string"
          },
          "description": "Output only. A partial sample of the indices (starting from 1) of the dropped examples."
        }
      }
    },
    "GoogleCloudAiplatformV1Fact": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1Fact",
      "description": "The fact used in grounding.",
      "properties": {
        "score": {
          "type": "number",
          "description": "If present, according to the underlying Vector DB and the selected metric type, the score can be either the distance or the similarity between the query and the fact and its range depends on the metric type. For example, if the metric type is COSINE_DISTANCE, it represents the distance between the query and the fact. The larger the distance, the less relevant the fact is to the query. The range is [0, 2], while 0 means the most relevant and 2 means the least relevant.",
          "format": "double"
        },
        "summary": {
          "description": "If present, the summary/snippet of the fact.",
          "type": "string"
        },
        "uri": {
          "type": "string",
          "description": "If present, this uri links to the source of the fact."
        },
        "vectorDistance": {
          "description": "If present, the distance between the query vector and this fact vector.",
          "deprecated": true,
          "format": "double",
          "type": "number"
        },
        "query": {
          "type": "string",
          "description": "Query that is used to retrieve this fact."
        },
        "title": {
          "description": "If present, it refers to the title of this fact.",
          "type": "string"
        },
        "chunk": {
          "description": "If present, chunk properties.",
          "$ref": "GoogleCloudAiplatformV1RagChunk"
        }
      }
    },
    "GoogleCloudAiplatformV1RagVectorDbConfig": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1RagVectorDbConfig",
      "description": "Config for the Vector DB to use for RAG.",
      "properties": {
        "ragEmbeddingModelConfig": {
          "$ref": "GoogleCloudAiplatformV1RagEmbeddingModelConfig",
          "description": "Optional. Immutable. The embedding model config of the Vector DB."
        },
        "ragManagedDb": {
          "$ref": "GoogleCloudAiplatformV1RagVectorDbConfigRagManagedDb",
          "description": "The config for the RAG-managed Vector DB."
        },
        "vertexVectorSearch": {
          "description": "The config for the Vertex Vector Search.",
          "$ref": "GoogleCloudAiplatformV1RagVectorDbConfigVertexVectorSearch"
        },
        "apiAuth": {
          "description": "Authentication config for the chosen Vector DB.",
          "$ref": "GoogleCloudAiplatformV1ApiAuth"
        },
        "pinecone": {
          "description": "The config for the Pinecone.",
          "$ref": "GoogleCloudAiplatformV1RagVectorDbConfigPinecone"
        }
      }
    },
    "GoogleCloudAiplatformV1ReasoningEngineSpecSourceCodeSpecImageSpec": {
      "id": "GoogleCloudAiplatformV1ReasoningEngineSpecSourceCodeSpecImageSpec",
      "description": "The image spec for building an image (within a single build step), based on the config file (i.e. Dockerfile) in the source directory.",
      "properties": {
        "buildArgs": {
          "description": "Optional. Build arguments to be used. They will be passed through --build-arg flags.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GoogleIamV1TestIamPermissionsResponse": {
      "id": "GoogleIamV1TestIamPermissionsResponse",
      "description": "Response message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "type": "array",
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1DeployRequestDeployConfig": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1DeployRequestDeployConfig",
      "description": "The deploy config to use for the deployment.",
      "properties": {
        "dedicatedResources": {
          "description": "Optional. The dedicated resources to use for the endpoint. If not set, the default resources will be used.",
          "$ref": "GoogleCloudAiplatformV1DedicatedResources"
        },
        "systemLabels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. System labels for Model Garden deployments. These labels are managed by Google and for tracking purposes only."
        },
        "fastTryoutEnabled": {
          "description": "Optional. If true, enable the QMT fast tryout feature for this model if possible.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudAiplatformV1AvroSource": {
      "id": "GoogleCloudAiplatformV1AvroSource",
      "description": "The storage details for Avro input content.",
      "properties": {
        "gcsSource": {
          "description": "Required. Google Cloud Storage location.",
          "$ref": "GoogleCloudAiplatformV1GcsSource"
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1EncryptionSpec": {
      "id": "GoogleCloudAiplatformV1EncryptionSpec",
      "description": "Represents a customer-managed encryption key specification that can be applied to a Vertex AI resource.",
      "properties": {
        "kmsKeyName": {
          "type": "string",
          "description": "Required. Resource name of the Cloud KMS key used to protect the resource. The Cloud KMS key must be in the same region as the resource. It must have the format `projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{crypto_key}`."
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1Memory": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1Memory",
      "description": "A memory.",
      "properties": {
        "fact": {
          "type": "string",
          "description": "Optional. Represents semantic knowledge extracted from the source content."
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Represents the timestamp when this Memory was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. Represents the resource name of the Memory. Format: `projects/{project}/locations/{location}/reasoningEngines/{reasoning_engine}/memories/{memory}`"
        },
        "scope": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Required. Immutable. Represents the scope of the Memory. Memories are isolated within their scope. The scope is defined when creating or generating memories. Scope values cannot contain the wildcard character '*'."
        },
        "topics": {
          "description": "Optional. Represents the Topics of the Memory.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1MemoryTopicId"
          },
          "type": "array"
        },
        "disableMemoryRevisions": {
          "type": "boolean",
          "description": "Optional. Input only. Indicates whether no revision will be created for this request."
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. Represents the timestamp when this Memory was most recently updated.",
          "format": "google-datetime",
          "readOnly": true
        },
        "revisionLabels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Input only. Represents the labels to apply to the Memory Revision created as a result of this request."
        },
        "revisionExpireTime": {
          "description": "Optional. Input only. Represents the timestamp of when the revision is considered expired. If not set, the memory revision will be kept until manually deleted.",
          "format": "google-datetime",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Optional. Represents the display name of the Memory."
        },
        "expireTime": {
          "type": "string",
          "description": "Optional. Represents the timestamp of when this resource is considered expired. This is *always* provided on output when `expiration` is set on input, regardless of whether `expire_time` or `ttl` was provided.",
          "format": "google-datetime"
        },
        "revisionTtl": {
          "type": "string",
          "description": "Optional. Input only. Represents the TTL for the revision. The expiration time is computed: now + TTL.",
          "format": "google-duration"
        },
        "description": {
          "type": "string",
          "description": "Optional. Represents the description of the Memory."
        },
        "metadata": {
          "description": "Optional. Represents user-provided metadata for the Memory. This information was provided when creating, updating, or generating the Memory. It was not generated by Memory Bank.",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudAiplatformV1MemoryMetadataValue"
          }
        },
        "ttl": {
          "description": "Optional. Input only. Represents the TTL for this resource. The expiration time is computed: now + TTL.",
          "format": "google-duration",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1EvaluationPromptUserScenario": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1EvaluationPromptUserScenario",
      "description": "User scenario to help simulate multi-turn agent running results.",
      "properties": {
        "conversationPlan": {
          "description": "Required. The plan for the conversation, used to drive the multi-turn agent run and generate the simulated agent evaluation dataset.",
          "type": "string"
        },
        "startingPrompt": {
          "description": "Required. The prompt that starts the conversation between the simulated user and the agent under test.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1SummarizationVerbosityInput": {
      "id": "GoogleCloudAiplatformV1SummarizationVerbosityInput",
      "description": "Input for summarization verbosity metric.",
      "properties": {
        "metricSpec": {
          "description": "Required. Spec for summarization verbosity score metric.",
          "$ref": "GoogleCloudAiplatformV1SummarizationVerbositySpec"
        },
        "instance": {
          "description": "Required. Summarization verbosity instance.",
          "$ref": "GoogleCloudAiplatformV1SummarizationVerbosityInstance"
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1CreateRegistryFeatureOperationMetadata": {
      "id": "GoogleCloudAiplatformV1CreateRegistryFeatureOperationMetadata",
      "description": "Details of operations that perform create FeatureGroup.",
      "properties": {
        "genericMetadata": {
          "description": "Operation metadata for Feature.",
          "$ref": "GoogleCloudAiplatformV1GenericOperationMetadata"
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1RubricContent": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1RubricContent",
      "description": "Content of the rubric, defining the testable criteria.",
      "properties": {
        "property": {
          "description": "Evaluation criteria based on a specific property.",
          "$ref": "GoogleCloudAiplatformV1RubricContentProperty"
        }
      }
    },
    "GoogleCloudAiplatformV1FluencyResult": {
      "id": "GoogleCloudAiplatformV1FluencyResult",
      "description": "Spec for fluency result.",
      "properties": {
        "confidence": {
          "type": "number",
          "description": "Output only. Confidence for fluency score.",
          "format": "float",
          "readOnly": true
        },
        "score": {
          "readOnly": true,
          "description": "Output only. Fluency score.",
          "format": "float",
          "type": "number"
        },
        "explanation": {
          "readOnly": true,
          "description": "Output only. Explanation for fluency score.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1PairwiseSummarizationQualitySpec": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1PairwiseSummarizationQualitySpec",
      "description": "Spec for pairwise summarization quality score metric.",
      "properties": {
        "useReference": {
          "description": "Optional. Whether to use instance.reference to compute pairwise summarization quality.",
          "type": "boolean"
        },
        "version": {
          "type": "integer",
          "description": "Optional. Which version to use for evaluation.",
          "format": "int32"
        }
      }
    },
    "GoogleCloudAiplatformV1StudySpecMetricSpec": {
      "id": "GoogleCloudAiplatformV1StudySpecMetricSpec",
      "description": "Represents a metric to optimize.",
      "properties": {
        "goal": {
          "enum": [
            "GOAL_TYPE_UNSPECIFIED",
            "MAXIMIZE",
            "MINIMIZE"
          ],
          "type": "string",
          "description": "Required. The optimization goal of the metric.",
          "enumDescriptions": [
            "Goal Type will default to maximize.",
            "Maximize the goal metric.",
            "Minimize the goal metric."
          ]
        },
        "safetyConfig": {
          "description": "Used for safe search. In the case, the metric will be a safety metric. You must provide a separate metric for objective metric.",
          "$ref": "GoogleCloudAiplatformV1StudySpecMetricSpecSafetyMetricConfig"
        },
        "metricId": {
          "type": "string",
          "description": "Required. The ID of the metric. Must not contain whitespaces and must be unique amongst all MetricSpecs."
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1SchemaPromptSpecTranslationGcsInputSource": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1SchemaPromptSpecTranslationGcsInputSource",
      "properties": {
        "inputUri": {
          "type": "string",
          "description": "Source data URI. For example, `gs://my_bucket/my_object`."
        }
      }
    },
    "GoogleCloudAiplatformV1ToolParameterKeyMatchInstance": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1ToolParameterKeyMatchInstance",
      "description": "Spec for tool parameter key match instance.",
      "properties": {
        "reference": {
          "description": "Required. Ground truth used to compare against the prediction.",
          "type": "string"
        },
        "prediction": {
          "description": "Required. Output of the evaluated model.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1UploadRagFileConfig": {
      "id": "GoogleCloudAiplatformV1UploadRagFileConfig",
      "description": "Config for uploading RagFile.",
      "properties": {
        "ragFileTransformationConfig": {
          "description": "Specifies the transformation config for RagFiles.",
          "$ref": "GoogleCloudAiplatformV1RagFileTransformationConfig"
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1NearestNeighborQueryEmbedding": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1NearestNeighborQueryEmbedding",
      "description": "The embedding vector.",
      "properties": {
        "value": {
          "type": "array",
          "description": "Optional. Individual value in the embedding.",
          "items": {
            "type": "number",
            "format": "float"
          }
        }
      }
    },
    "GoogleCloudAiplatformV1EvaluationRunInferenceConfig": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1EvaluationRunInferenceConfig",
      "description": "Defines the configuration for a candidate model or agent being evaluated. `InferenceConfig` encapsulates all the necessary information to invoke or scrape the candidate during the evaluation run. This includes direct model inference parameters, agent execution settings, and multi-turn scraping configurations (such as user simulators). It serves as the primary representation of the candidate across different stages of the evaluation process.",
      "properties": {
        "generationConfig": {
          "description": "Optional. Generation config.",
          "$ref": "GoogleCloudAiplatformV1GenerationConfig"
        },
        "promptTemplate": {
          "description": "Optional. The prompt template used for inference. The values for variables in the prompt template are defined in EvaluationItem.EvaluationPrompt.PromptTemplateData.values. If not specified, the prompt template in the EvaluationConfig will be used.",
          "$ref": "GoogleCloudAiplatformV1EvaluationRunEvaluationConfigPromptTemplate"
        },
        "agents": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudAiplatformV1AgentConfig"
          },
          "description": "Optional. Contains the static configurations for each agent in the system. Key: agent_id (matches the `author` field in events). Value: The static configuration of the agent."
        },
        "agentRunConfig": {
          "$ref": "GoogleCloudAiplatformV1EvaluationRunInferenceConfigAgentRunConfig",
          "description": "Optional. Agent run config."
        },
        "model": {
          "type": "string",
          "description": "Optional. The fully qualified name of the publisher model or endpoint to use. Anthropic and Llama third-party models are also supported through Model Garden. Publisher model format: `projects/{project}/locations/{location}/publishers/*/models/*` Third-party model formats: `projects/{project}/locations/{location}/publishers/anthropic/models/{model}` or `projects/{project}/locations/{location}/publishers/llama/models/{model}` Endpoint format: `projects/{project}/locations/{location}/endpoints/{endpoint}`"
        },
        "parallelism": {
          "description": "Optional. The parallelism of the evaluation run for the inference step. If not specified, the default parallelism will be used.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "GoogleCloudAiplatformV1DeployIndexRequest": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1DeployIndexRequest",
      "description": "Request message for IndexEndpointService.DeployIndex.",
      "properties": {
        "deployedIndex": {
          "$ref": "GoogleCloudAiplatformV1DeployedIndex",
          "description": "Required. The DeployedIndex to be created within the IndexEndpoint."
        }
      }
    },
    "GoogleCloudAiplatformV1PredictRequest": {
      "id": "GoogleCloudAiplatformV1PredictRequest",
      "description": "Request message for PredictionService.Predict.",
      "properties": {
        "instances": {
          "items": {
            "type": "any"
          },
          "description": "Required. The instances that are the input to the prediction call. A DeployedModel may have an upper limit on the number of instances it supports per request, and when it is exceeded the prediction call errors in case of AutoML Models, or, in case of customer created Models, the behaviour is as documented by that Model. The schema of any single instance may be specified via Endpoint's DeployedModels' Model's PredictSchemata's instance_schema_uri.",
          "type": "array"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The user labels for Imagen billing usage only. Only Imagen supports labels. For other use cases, it will be ignored."
        },
        "parameters": {
          "type": "any",
          "description": "The parameters that govern the prediction. The schema of the parameters may be specified via Endpoint's DeployedModels' Model's PredictSchemata's parameters_schema_uri."
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1SearchModelDeploymentMonitoringStatsAnomaliesRequestStatsAnomaliesObjective": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1SearchModelDeploymentMonitoringStatsAnomaliesRequestStatsAnomaliesObjective",
      "description": "Stats requested for specific objective.",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "MODEL_DEPLOYMENT_MONITORING_OBJECTIVE_TYPE_UNSPECIFIED",
            "RAW_FEATURE_SKEW",
            "RAW_FEATURE_DRIFT",
            "FEATURE_ATTRIBUTION_SKEW",
            "FEATURE_ATTRIBUTION_DRIFT"
          ],
          "enumDescriptions": [
            "Default value, should not be set.",
            "Raw feature values' stats to detect skew between Training-Prediction datasets.",
            "Raw feature values' stats to detect drift between Serving-Prediction datasets.",
            "Feature attribution scores to detect skew between Training-Prediction datasets.",
            "Feature attribution scores to detect skew between Prediction datasets collected within different time windows."
          ]
        },
        "topFeatureCount": {
          "type": "integer",
          "description": "If set, all attribution scores between SearchModelDeploymentMonitoringStatsAnomaliesRequest.start_time and SearchModelDeploymentMonitoringStatsAnomaliesRequest.end_time are fetched, and page token doesn't take effect in this case. Only used to retrieve attribution score for the top Features which has the highest attribution score in the latest monitoring run.",
          "format": "int32"
        }
      }
    },
    "GoogleCloudAiplatformV1IntermediateExtractedMemory": {
      "id": "GoogleCloudAiplatformV1IntermediateExtractedMemory",
      "description": "An extracted memory that is the intermediate result before consolidation.",
      "properties": {
        "structuredData": {
          "readOnly": true,
          "description": "Output only. Represents the structured value of the extracted memory.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "fact": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Represents the fact of the extracted memory."
        },
        "context": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Represents the explanation of why the information was extracted from the source content."
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1AugmentPromptResponse": {
      "id": "GoogleCloudAiplatformV1AugmentPromptResponse",
      "description": "Response message for AugmentPrompt.",
      "properties": {
        "augmentedPrompt": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1Content"
          },
          "description": "Augmented prompt, only text format is supported for now.",
          "type": "array"
        },
        "facts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1Fact"
          },
          "description": "Retrieved facts from RAG data sources."
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1FeatureViewDataKey": {
      "id": "GoogleCloudAiplatformV1FeatureViewDataKey",
      "description": "Lookup key for a feature view.",
      "properties": {
        "key": {
          "description": "String key to use for lookup.",
          "type": "string"
        },
        "compositeKey": {
          "description": "The actual Entity ID will be composed from this struct. This should match with the way ID is defined in the FeatureView spec.",
          "$ref": "GoogleCloudAiplatformV1FeatureViewDataKeyCompositeKey"
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1FindNeighborsResponse": {
      "id": "GoogleCloudAiplatformV1FindNeighborsResponse",
      "description": "The response message for MatchService.FindNeighbors.",
      "properties": {
        "nearestNeighbors": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1FindNeighborsResponseNearestNeighbors"
          },
          "description": "The nearest neighbors of the query datapoints."
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1MigratableResourceMlEngineModelVersion": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1MigratableResourceMlEngineModelVersion",
      "description": "Represents one model Version in ml.googleapis.com.",
      "properties": {
        "endpoint": {
          "type": "string",
          "description": "The ml.googleapis.com endpoint that this model Version currently lives in. Example values: * ml.googleapis.com * us-centrall-ml.googleapis.com * europe-west4-ml.googleapis.com * asia-east1-ml.googleapis.com"
        },
        "version": {
          "description": "Full resource name of ml engine model Version. Format: `projects/{project}/models/{model}/versions/{version}`.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1RougeMetricValue": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1RougeMetricValue",
      "description": "Rouge metric value for an instance.",
      "properties": {
        "score": {
          "type": "number",
          "readOnly": true,
          "description": "Output only. Rouge score.",
          "format": "float"
        }
      }
    },
    "GoogleCloudAiplatformV1VertexMultimodalDatasetSource": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1VertexMultimodalDatasetSource",
      "description": "The Vertex Multimodal Dataset for the input content.",
      "properties": {
        "datasetName": {
          "type": "string",
          "description": "Required. The resource name of the Vertex Dataset. Format: `projects/{project}/locations/{location}/datasets/{dataset}`"
        }
      }
    },
    "GoogleCloudAiplatformV1SchemaPredictPredictionVideoActionRecognitionPredictionResult": {
      "id": "GoogleCloudAiplatformV1SchemaPredictPredictionVideoActionRecognitionPredictionResult",
      "description": "Prediction output format for Video Action Recognition.",
      "properties": {
        "id": {
          "type": "string",
          "description": "The resource ID of the AnnotationSpec that had been identified."
        },
        "displayName": {
          "description": "The display name of the AnnotationSpec that had been identified.",
          "type": "string"
        },
        "timeSegmentStart": {
          "type": "string",
          "description": "The beginning, inclusive, of the video's time segment in which the AnnotationSpec has been identified. Expressed as a number of seconds as measured from the start of the video, with fractions up to a microsecond precision, and with \"s\" appended at the end.",
          "format": "google-duration"
        },
        "confidence": {
          "description": "The Model's confidence in correction of this prediction, higher value means higher confidence.",
          "format": "float",
          "type": "number"
        },
        "timeSegmentEnd": {
          "type": "string",
          "description": "The end, exclusive, of the video's time segment in which the AnnotationSpec has been identified. Expressed as a number of seconds as measured from the start of the video, with fractions up to a microsecond precision, and with \"s\" appended at the end.",
          "format": "google-duration"
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1FetchFeatureValuesRequest": {
      "id": "GoogleCloudAiplatformV1FetchFeatureValuesRequest",
      "description": "Request message for FeatureOnlineStoreService.FetchFeatureValues. All the features under the requested feature view will be returned.",
      "properties": {
        "dataKey": {
          "description": "Optional. The request key to fetch feature values for.",
          "$ref": "GoogleCloudAiplatformV1FeatureViewDataKey"
        },
        "dataFormat": {
          "enum": [
            "FEATURE_VIEW_DATA_FORMAT_UNSPECIFIED",
            "KEY_VALUE",
            "PROTO_STRUCT"
          ],
          "type": "string",
          "description": "Optional. Response data format. If not set, FeatureViewDataFormat.KEY_VALUE will be used.",
          "enumDescriptions": [
            "Not set. Will be treated as the KeyValue format.",
            "Return response data in key-value format.",
            "Return response data in proto Struct format."
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1ReadFeatureValuesResponseEntityView": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1ReadFeatureValuesResponseEntityView",
      "description": "Entity view with Feature values.",
      "properties": {
        "data": {
          "description": "Each piece of data holds the k requested values for one requested Feature. If no values for the requested Feature exist, the corresponding cell will be empty. This has the same size and is in the same order as the features from the header ReadFeatureValuesResponse.header.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1ReadFeatureValuesResponseEntityViewData"
          },
          "type": "array"
        },
        "entityId": {
          "type": "string",
          "description": "ID of the requested entity."
        }
      }
    },
    "GoogleCloudAiplatformV1DynamicRetrievalConfig": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1DynamicRetrievalConfig",
      "description": "Describes the options to customize dynamic retrieval.",
      "properties": {
        "mode": {
          "enum": [
            "MODE_UNSPECIFIED",
            "MODE_DYNAMIC"
          ],
          "type": "string",
          "description": "The mode of the predictor to be used in dynamic retrieval.",
          "enumDescriptions": [
            "Always trigger retrieval.",
            "Run retrieval only when system decides it is necessary."
          ]
        },
        "dynamicThreshold": {
          "description": "Optional. The threshold to be used in dynamic retrieval. If not set, a system default value is used.",
          "format": "float",
          "type": "number"
        }
      }
    },
    "GoogleCloudAiplatformV1SamplingStrategyRandomSampleConfig": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1SamplingStrategyRandomSampleConfig",
      "description": "Requests are randomly selected.",
      "properties": {
        "sampleRate": {
          "type": "number",
          "description": "Sample rate (0, 1]",
          "format": "double"
        }
      }
    },
    "GoogleCloudAiplatformV1SchemaModelevaluationMetricsClassificationEvaluationMetrics": {
      "id": "GoogleCloudAiplatformV1SchemaModelevaluationMetricsClassificationEvaluationMetrics",
      "description": "Metrics for classification evaluation results.",
      "properties": {
        "confidenceMetrics": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1SchemaModelevaluationMetricsClassificationEvaluationMetricsConfidenceMetrics"
          },
          "description": "Metrics for each `confidenceThreshold` in 0.00,0.05,0.10,...,0.95,0.96,0.97,0.98,0.99 and `positionThreshold` = INT32_MAX_VALUE. ROC and precision-recall curves, and other aggregated metrics are derived from them. The confidence metrics entries may also be supplied for additional values of `positionThreshold`, but from these no aggregated metrics are computed.",
          "type": "array"
        },
        "auRoc": {
          "type": "number",
          "description": "The Area Under Receiver Operating Characteristic curve metric. Micro-averaged for the overall evaluation.",
          "format": "float"
        },
        "confusionMatrix": {
          "$ref": "GoogleCloudAiplatformV1SchemaModelevaluationMetricsConfusionMatrix",
          "description": "Confusion matrix of the evaluation."
        },
        "auPrc": {
          "type": "number",
          "description": "The Area Under Precision-Recall Curve metric. Micro-averaged for the overall evaluation.",
          "format": "float"
        },
        "logLoss": {
          "type": "number",
          "description": "The Log Loss metric.",
          "format": "float"
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1SchemaPromptSpecTranslationExample": {
      "id": "GoogleCloudAiplatformV1SchemaPromptSpecTranslationExample",
      "description": "The translation example that contains reference sentences from various sources.",
      "properties": {
        "referenceSentencesFileInputs": {
          "type": "array",
          "description": "The reference sentences from file.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1SchemaPromptSpecTranslationSentenceFileInput"
          }
        },
        "referenceSentencePairLists": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1SchemaPromptSpecReferenceSentencePairList"
          },
          "description": "The reference sentences from inline text.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1ReadTensorboardBlobDataResponse": {
      "id": "GoogleCloudAiplatformV1ReadTensorboardBlobDataResponse",
      "description": "Response message for TensorboardService.ReadTensorboardBlobData.",
      "properties": {
        "blobs": {
          "description": "Blob messages containing blob bytes.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1TensorboardBlob"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1ToolNameMatchInput": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1ToolNameMatchInput",
      "description": "Input for tool name match metric.",
      "properties": {
        "metricSpec": {
          "description": "Required. Spec for tool name match metric.",
          "$ref": "GoogleCloudAiplatformV1ToolNameMatchSpec"
        },
        "instances": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1ToolNameMatchInstance"
          },
          "description": "Required. Repeated tool name match instances.",
          "type": "array"
        }
      }
    },
    "GoogleCloudAiplatformV1EmbedContentRequest": {
      "id": "GoogleCloudAiplatformV1EmbedContentRequest",
      "description": "Request message for PredictionService.EmbedContent.",
      "properties": {
        "outputDimensionality": {
          "description": "Optional. Deprecated: Please use EmbedContentConfig.output_dimensionality instead. Reduced dimension for the output embedding. If set, excessive values in the output embedding are truncated from the end.",
          "deprecated": true,
          "format": "int32",
          "type": "integer"
        },
        "embedContentConfig": {
          "$ref": "GoogleCloudAiplatformV1EmbedContentRequestEmbedContentConfig",
          "description": "Optional. Configuration for the EmbedContent request."
        },
        "taskType": {
          "description": "Optional. Deprecated: Please use EmbedContentConfig.task_type instead. The task type of the embedding.",
          "enumDescriptions": [
            "Unset value, which will default to one of the other enum values.",
            "Specifies the given text is a query in a search/retrieval setting.",
            "Specifies the given text is a document from the corpus being searched.",
            "Specifies the given text will be used for STS.",
            "Specifies that the given text will be classified.",
            "Specifies that the embeddings will be used for clustering.",
            "Specifies that the embeddings will be used for question answering.",
            "Specifies that the embeddings will be used for fact verification.",
            "Specifies that the embeddings will be used for code retrieval."
          ],
          "enum": [
            "UNSPECIFIED",
            "RETRIEVAL_QUERY",
            "RETRIEVAL_DOCUMENT",
            "SEMANTIC_SIMILARITY",
            "CLASSIFICATION",
            "CLUSTERING",
            "QUESTION_ANSWERING",
            "FACT_VERIFICATION",
            "CODE_RETRIEVAL_QUERY"
          ],
          "deprecated": true,
          "type": "string"
        },
        "autoTruncate": {
          "type": "boolean",
          "description": "Optional. Deprecated: Please use EmbedContentConfig.auto_truncate instead. Whether to silently truncate the input content if it's longer than the maximum sequence length.",
          "deprecated": true
        },
        "content": {
          "$ref": "GoogleCloudAiplatformV1Content",
          "description": "Required. The content to be embedded."
        },
        "title": {
          "type": "string",
          "description": "Optional. Deprecated: Please use EmbedContentConfig.title instead. The title for the text.",
          "deprecated": true
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1BatchCreateFeaturesResponse": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1BatchCreateFeaturesResponse",
      "description": "Response message for FeaturestoreService.BatchCreateFeatures.",
      "properties": {
        "features": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1Feature"
          },
          "description": "The Features created.",
          "type": "array"
        }
      }
    },
    "GoogleCloudAiplatformV1CompleteTrialRequest": {
      "id": "GoogleCloudAiplatformV1CompleteTrialRequest",
      "description": "Request message for VizierService.CompleteTrial.",
      "properties": {
        "finalMeasurement": {
          "description": "Optional. If provided, it will be used as the completed Trial's final_measurement; Otherwise, the service will auto-select a previously reported measurement as the final-measurement",
          "$ref": "GoogleCloudAiplatformV1Measurement"
        },
        "trialInfeasible": {
          "description": "Optional. True if the Trial cannot be run with the given Parameter, and final_measurement will be ignored.",
          "type": "boolean"
        },
        "infeasibleReason": {
          "type": "string",
          "description": "Optional. A human readable reason why the trial was infeasible. This should only be provided if `trial_infeasible` is true."
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1SchemaTextDataItem": {
      "id": "GoogleCloudAiplatformV1SchemaTextDataItem",
      "description": "Payload of Text DataItem.",
      "properties": {
        "gcsUri": {
          "description": "Output only. Google Cloud Storage URI points to a copy of the original text in the Vertex-managed bucket in the user's project. The text file is up to 10MB in size.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlVideoActionRecognition": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlVideoActionRecognition",
      "description": "A TrainingJob that trains and uploads an AutoML Video Action Recognition Model.",
      "properties": {
        "inputs": {
          "description": "The input parameters of this TrainingJob.",
          "$ref": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlVideoActionRecognitionInputs"
        }
      }
    },
    "GoogleCloudAiplatformV1Probe": {
      "id": "GoogleCloudAiplatformV1Probe",
      "description": "Probe describes a health check to be performed against a container to determine whether it is alive or ready to receive traffic.",
      "properties": {
        "periodSeconds": {
          "type": "integer",
          "description": "How often (in seconds) to perform the probe. Default to 10 seconds. Minimum value is 1. Must be less than timeout_seconds. Maps to Kubernetes probe argument 'periodSeconds'.",
          "format": "int32"
        },
        "timeoutSeconds": {
          "type": "integer",
          "description": "Number of seconds after which the probe times out. Defaults to 1 second. Minimum value is 1. Must be greater or equal to period_seconds. Maps to Kubernetes probe argument 'timeoutSeconds'.",
          "format": "int32"
        },
        "tcpSocket": {
          "$ref": "GoogleCloudAiplatformV1ProbeTcpSocketAction",
          "description": "TcpSocketAction probes the health of a container by opening a TCP socket connection."
        },
        "failureThreshold": {
          "description": "Number of consecutive failures before the probe is considered failed. Defaults to 3. Minimum value is 1. Maps to Kubernetes probe argument 'failureThreshold'.",
          "format": "int32",
          "type": "integer"
        },
        "httpGet": {
          "$ref": "GoogleCloudAiplatformV1ProbeHttpGetAction",
          "description": "HttpGetAction probes the health of a container by sending an HTTP GET request."
        },
        "grpc": {
          "$ref": "GoogleCloudAiplatformV1ProbeGrpcAction",
          "description": "GrpcAction probes the health of a container by sending a gRPC request."
        },
        "exec": {
[...]
