{
  "servicePath": "",
  "documentationLink": "https://cloud.google.com/vertex-ai/",
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "id": "aiplatform:v1",
  "endpoints": [
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://africa-south1-aiplatform.googleapis.com/",
      "location": "africa-south1"
    },
    {
      "endpointUrl": "https://asia-east1-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "asia-east1"
    },
    {
      "endpointUrl": "https://asia-east2-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "asia-east2"
    },
    {
      "endpointUrl": "https://asia-northeast1-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "asia-northeast1"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://asia-northeast2-aiplatform.googleapis.com/",
      "location": "asia-northeast2"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://asia-northeast3-aiplatform.googleapis.com/",
      "location": "asia-northeast3"
    },
    {
      "location": "asia-south1",
      "description": "Locational Endpoint",
      "endpointUrl": "https://asia-south1-aiplatform.googleapis.com/"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://asia-south2-aiplatform.googleapis.com/",
      "location": "asia-south2"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://asia-southeast1-aiplatform.googleapis.com/",
      "location": "asia-southeast1"
    },
    {
      "location": "asia-southeast2",
      "description": "Locational Endpoint",
      "endpointUrl": "https://asia-southeast2-aiplatform.googleapis.com/"
    },
    {
      "location": "australia-southeast1",
      "endpointUrl": "https://australia-southeast1-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "location": "australia-southeast2",
      "endpointUrl": "https://australia-southeast2-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-central2-aiplatform.googleapis.com/",
      "location": "europe-central2"
    },
    {
      "location": "europe-north1",
      "endpointUrl": "https://europe-north1-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "location": "europe-north2",
      "endpointUrl": "https://europe-north2-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-southwest1-aiplatform.googleapis.com/",
      "location": "europe-southwest1"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-west1-aiplatform.googleapis.com/",
      "location": "europe-west1"
    },
    {
      "location": "europe-west10",
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-west10-aiplatform.googleapis.com/"
    },
    {
      "location": "europe-west15",
      "endpointUrl": "https://europe-west15-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://europe-west2-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "europe-west2"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-west3-aiplatform.googleapis.com/",
      "location": "europe-west3"
    },
    {
      "location": "europe-west4",
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-west4-aiplatform.googleapis.com/"
    },
    {
      "location": "europe-west6",
      "endpointUrl": "https://europe-west6-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://europe-west8-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "europe-west8"
    },
    {
      "endpointUrl": "https://europe-west9-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "europe-west9"
    },
    {
      "endpointUrl": "https://europe-west12-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "europe-west12"
    },
    {
      "location": "me-central1",
      "description": "Locational Endpoint",
      "endpointUrl": "https://me-central1-aiplatform.googleapis.com/"
    },
    {
      "location": "me-central2",
      "description": "Locational Endpoint",
      "endpointUrl": "https://me-central2-aiplatform.googleapis.com/"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://me-west1-aiplatform.googleapis.com/",
      "location": "me-west1"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://northamerica-northeast1-aiplatform.googleapis.com/",
      "location": "northamerica-northeast1"
    },
    {
      "location": "northamerica-northeast2",
      "endpointUrl": "https://northamerica-northeast2-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "location": "southamerica-east1",
      "description": "Locational Endpoint",
      "endpointUrl": "https://southamerica-east1-aiplatform.googleapis.com/"
    },
    {
      "location": "southamerica-west1",
      "endpointUrl": "https://southamerica-west1-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://us-central1-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "us-central1"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://us-central2-aiplatform.googleapis.com/",
      "location": "us-central2"
    },
    {
      "location": "us-east1",
      "endpointUrl": "https://us-east1-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "location": "us-east4",
      "description": "Locational Endpoint",
      "endpointUrl": "https://us-east4-aiplatform.googleapis.com/"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://us-east7-aiplatform.googleapis.com/",
      "location": "us-east7"
    },
    {
      "location": "us-south1",
      "description": "Locational Endpoint",
      "endpointUrl": "https://us-south1-aiplatform.googleapis.com/"
    },
    {
      "location": "us-west1",
      "description": "Locational Endpoint",
      "endpointUrl": "https://us-west1-aiplatform.googleapis.com/"
    },
    {
      "endpointUrl": "https://us-west2-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "us-west2"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://us-west3-aiplatform.googleapis.com/",
      "location": "us-west3"
    },
    {
      "endpointUrl": "https://us-west4-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "us-west4"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://us-east5-aiplatform.googleapis.com/",
      "location": "us-east5"
    },
    {
      "location": "us-west8",
      "endpointUrl": "https://us-west8-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://aiplatform.us.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://aiplatform.eu.rep.googleapis.com/",
      "location": "eu"
    }
  ],
  "revision": "20260617",
  "version_module": true,
  "ownerName": "Google",
  "parameters": {
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    },
    "alt": {
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    }
  },
  "baseUrl": "https://aiplatform.googleapis.com/",
  "resources": {
    "customJobs": {
      "resources": {
        "operations": {
          "methods": {
            "wait": {
              "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
              "flatPath": "v1/customJobs/{customJobsId}/operations/{operationsId}:wait",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "parameters": {
                "name": {
                  "description": "The name of the operation resource to wait on.",
                  "required": true,
                  "pattern": "^customJobs/[^/]+/operations/[^/]+$",
                  "location": "path",
                  "type": "string"
                },
                "timeout": {
                  "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                  "type": "string",
                  "format": "google-duration",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "aiplatform.customJobs.operations.wait",
              "path": "v1/{+name}:wait",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST"
            },
            "delete": {
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^customJobs/[^/]+/operations/[^/]+$",
                  "description": "The name of the operation resource to be deleted.",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/customJobs/{customJobsId}/operations/{operationsId}",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
              "httpMethod": "DELETE",
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "id": "aiplatform.customJobs.operations.delete"
            },
            "cancel": {
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "The name of the operation resource to be cancelled.",
                  "required": true,
                  "pattern": "^customJobs/[^/]+/operations/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
              "flatPath": "v1/customJobs/{customJobsId}/operations/{operationsId}:cancel",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "httpMethod": "POST",
              "id": "aiplatform.customJobs.operations.cancel",
              "path": "v1/{+name}:cancel",
              "parameterOrder": [
                "name"
              ]
            },
            "get": {
              "id": "aiplatform.customJobs.operations.get",
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "flatPath": "v1/customJobs/{customJobsId}/operations/{operationsId}",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^customJobs/[^/]+/operations/[^/]+$",
                  "description": "The name of the operation resource.",
                  "required": true
                }
              }
            },
            "list": {
              "httpMethod": "GET",
              "path": "v1/{+name}/operations",
              "parameterOrder": [
                "name"
              ],
              "id": "aiplatform.customJobs.operations.list",
              "parameters": {
                "returnPartialSuccess": {
                  "location": "query",
                  "type": "boolean",
                  "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                },
                "name": {
                  "pattern": "^customJobs/[^/]+$",
                  "description": "The name of the operation's parent resource.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "pageSize": {
                  "description": "The standard list page size.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "pageToken": {
                  "description": "The standard list page token.",
                  "type": "string",
                  "location": "query"
                },
                "filter": {
                  "description": "The standard list filter.",
                  "type": "string",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/customJobs/{customJobsId}/operations",
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`."
            }
          }
        }
      }
    },
    "trainingPipelines": {
      "resources": {
        "operations": {
          "methods": {
            "wait": {
              "httpMethod": "POST",
              "path": "v1/{+name}:wait",
              "parameterOrder": [
                "name"
              ],
              "id": "aiplatform.trainingPipelines.operations.wait",
              "parameters": {
                "name": {
                  "pattern": "^trainingPipelines/[^/]+/operations/[^/]+$",
                  "description": "The name of the operation resource to wait on.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "timeout": {
                  "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                  "type": "string",
                  "format": "google-duration",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/trainingPipelines/{trainingPipelinesId}/operations/{operationsId}:wait",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done."
            },
            "delete": {
              "id": "aiplatform.trainingPipelines.operations.delete",
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
              "flatPath": "v1/trainingPipelines/{trainingPipelinesId}/operations/{operationsId}",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^trainingPipelines/[^/]+/operations/[^/]+$",
                  "description": "The name of the operation resource to be deleted.",
                  "required": true
                }
              }
            },
            "cancel": {
              "path": "v1/{+name}:cancel",
              "parameterOrder": [
                "name"
              ],
              "id": "aiplatform.trainingPipelines.operations.cancel",
              "httpMethod": "POST",
              "flatPath": "v1/trainingPipelines/{trainingPipelinesId}/operations/{operationsId}:cancel",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
              "parameters": {
                "name": {
                  "description": "The name of the operation resource to be cancelled.",
                  "required": true,
                  "pattern": "^trainingPipelines/[^/]+/operations/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "get": {
              "httpMethod": "GET",
              "id": "aiplatform.trainingPipelines.operations.get",
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "The name of the operation resource.",
                  "required": true,
                  "pattern": "^trainingPipelines/[^/]+/operations/[^/]+$"
                }
              },
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "flatPath": "v1/trainingPipelines/{trainingPipelinesId}/operations/{operationsId}",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              }
            },
            "list": {
              "httpMethod": "GET",
              "id": "aiplatform.trainingPipelines.operations.list",
              "path": "v1/{+name}/operations",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "returnPartialSuccess": {
                  "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                  "location": "query",
                  "type": "boolean"
                },
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^trainingPipelines/[^/]+$",
                  "description": "The name of the operation's parent resource.",
                  "required": true
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "The standard list page token."
                },
                "pageSize": {
                  "description": "The standard list page size.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "filter": {
                  "description": "The standard list filter.",
                  "type": "string",
                  "location": "query"
                }
              },
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
              "flatPath": "v1/trainingPipelines/{trainingPipelinesId}/operations",
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              }
            }
          }
        }
      }
    },
    "indexEndpoints": {
      "resources": {
        "operations": {
          "methods": {
            "list": {
              "path": "v1/{+name}/operations",
              "parameterOrder": [
                "name"
              ],
              "id": "aiplatform.indexEndpoints.operations.list",
              "httpMethod": "GET",
              "flatPath": "v1/indexEndpoints/{indexEndpointsId}/operations",
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "pageSize": {
                  "description": "The standard list page size.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "The standard list page token.",
                  "location": "query",
                  "type": "string"
                },
                "filter": {
                  "description": "The standard list filter.",
                  "type": "string",
                  "location": "query"
                },
                "returnPartialSuccess": {
                  "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                  "type": "boolean",
                  "location": "query"
                },
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "The name of the operation's parent resource.",
                  "required": true,
                  "pattern": "^indexEndpoints/[^/]+$"
                }
              }
            },
            "wait": {
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "The name of the operation resource to wait on.",
                  "required": true,
                  "pattern": "^indexEndpoints/[^/]+/operations/[^/]+$"
                },
                "timeout": {
                  "type": "string",
                  "format": "google-duration",
                  "location": "query",
                  "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/indexEndpoints/{indexEndpointsId}/operations/{operationsId}:wait",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
              "httpMethod": "POST",
              "path": "v1/{+name}:wait",
              "parameterOrder": [
                "name"
              ],
              "id": "aiplatform.indexEndpoints.operations.wait"
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "description": "The name of the operation resource.",
                  "required": true,
                  "pattern": "^indexEndpoints/[^/]+/operations/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "flatPath": "v1/indexEndpoints/{indexEndpointsId}/operations/{operationsId}",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "httpMethod": "GET",
              "id": "aiplatform.indexEndpoints.operations.get",
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ]
            },
            "delete": {
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^indexEndpoints/[^/]+/operations/[^/]+$",
                  "description": "The name of the operation resource to be deleted.",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/indexEndpoints/{indexEndpointsId}/operations/{operationsId}",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
              "httpMethod": "DELETE",
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "id": "aiplatform.indexEndpoints.operations.delete"
            },
            "cancel": {
              "parameters": {
                "name": {
                  "pattern": "^indexEndpoints/[^/]+/operations/[^/]+$",
                  "description": "The name of the operation resource to be cancelled.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/indexEndpoints/{indexEndpointsId}/operations/{operationsId}:cancel",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
              "httpMethod": "POST",
              "path": "v1/{+name}:cancel",
              "parameterOrder": [
                "name"
              ],
              "id": "aiplatform.indexEndpoints.operations.cancel"
            }
          }
        }
      }
    },
    "notebookRuntimeTemplates": {
      "resources": {
        "operations": {
          "methods": {
            "get": {
              "id": "aiplatform.notebookRuntimeTemplates.operations.get",
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "flatPath": "v1/notebookRuntimeTemplates/{notebookRuntimeTemplatesId}/operations/{operationsId}",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^notebookRuntimeTemplates/[^/]+/operations/[^/]+$",
                  "description": "The name of the operation resource.",
                  "required": true
                }
              }
            },
            "delete": {
              "id": "aiplatform.notebookRuntimeTemplates.operations.delete",
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
              "flatPath": "v1/notebookRuntimeTemplates/{notebookRuntimeTemplatesId}/operations/{operationsId}",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "pattern": "^notebookRuntimeTemplates/[^/]+/operations/[^/]+$",
                  "description": "The name of the operation resource to be deleted.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              }
            },
            "cancel": {
              "id": "aiplatform.notebookRuntimeTemplates.operations.cancel",
              "path": "v1/{+name}:cancel",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
              "flatPath": "v1/notebookRuntimeTemplates/{notebookRuntimeTemplatesId}/operations/{operationsId}:cancel",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^notebookRuntimeTemplates/[^/]+/operations/[^/]+$",
                  "description": "The name of the operation resource to be cancelled.",
                  "required": true
                }
              }
            },
            "wait": {
              "httpMethod": "POST",
              "id": "aiplatform.notebookRuntimeTemplates.operations.wait",
              "path": "v1/{+name}:wait",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "The name of the operation resource to wait on.",
                  "required": true,
                  "pattern": "^notebookRuntimeTemplates/[^/]+/operations/[^/]+$"
                },
                "timeout": {
                  "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                  "location": "query",
                  "type": "string",
                  "format": "google-duration"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
              "flatPath": "v1/notebookRuntimeTemplates/{notebookRuntimeTemplatesId}/operations/{operationsId}:wait",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              }
            },
            "list": {
              "flatPath": "v1/notebookRuntimeTemplates/{notebookRuntimeTemplatesId}/operations",
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "The name of the operation's parent resource.",
                  "required": true,
                  "pattern": "^notebookRuntimeTemplates/[^/]+$"
                },
                "returnPartialSuccess": {
                  "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                  "location": "query",
                  "type": "boolean"
                },
                "filter": {
                  "description": "The standard list filter.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "description": "The standard list page size.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "pageToken": {
                  "description": "The standard list page token.",
                  "location": "query",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}/operations",
              "parameterOrder": [
                "name"
              ],
              "id": "aiplatform.notebookRuntimeTemplates.operations.list",
              "httpMethod": "GET"
            }
          }
        }
      }
    },
    "publishers": {
      "resources": {
        "models": {
          "methods": {
            "countTokens": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "endpoint": {
                  "pattern": "^publishers/[^/]+/models/[^/]+$",
                  "description": "Required. The name of the Endpoint requested to perform token counting. Format: `projects/{project}/locations/{location}/endpoints/{endpoint}`",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "GoogleCloudAiplatformV1CountTokensRequest"
              },
              "description": "Perform a token counting.",
              "flatPath": "v1/publishers/{publishersId}/models/{modelsId}:countTokens",
              "response": {
                "$ref": "GoogleCloudAiplatformV1CountTokensResponse"
              },
              "httpMethod": "POST",
              "id": "aiplatform.publishers.models.countTokens",
              "path": "v1/{+endpoint}:countTokens",
              "parameterOrder": [
                "endpoint"
              ]
            },
            "get": {
              "flatPath": "v1/publishers/{publishersId}/models/{modelsId}",
              "response": {
                "$ref": "GoogleCloudAiplatformV1PublisherModel"
              },
              "description": "Gets a Model Garden publisher model.",
              "parameters": {
                "huggingFaceToken": {
                  "description": "Optional. Token used to access Hugging Face gated models.",
                  "type": "string",
                  "location": "query"
                },
                "languageCode": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. The IETF BCP-47 language code representing the language in which the publisher model's text information should be written in."
                },
                "view": {
                  "description": "Optional. PublisherModel view specifying which fields to read.",
                  "enum": [
                    "PUBLISHER_MODEL_VIEW_UNSPECIFIED",
                    "PUBLISHER_MODEL_VIEW_BASIC",
                    "PUBLISHER_MODEL_VIEW_FULL",
                    "PUBLISHER_MODEL_VERSION_VIEW_BASIC"
                  ],
                  "location": "query",
                  "type": "string",
                  "enumDescriptions": [
                    "The default / unset value. The API will default to the BASIC view.",
                    "Include basic metadata about the publisher model, but not the full contents.",
                    "Include everything.",
                    "Include: VersionId, ModelVersionExternalName, and SupportedActions."
                  ]
                },
                "name": {
                  "description": "Required. The name of the PublisherModel resource. Format: `publishers/{publisher}/models/{publisher_model}`",
                  "required": true,
                  "pattern": "^publishers/[^/]+/models/[^/]+$",
                  "location": "path",
                  "type": "string"
                },
                "isHuggingFaceModel": {
                  "location": "query",
                  "type": "boolean",
                  "description": "Optional. Boolean indicates whether the requested model is a Hugging Face model."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "id": "aiplatform.publishers.models.get",
              "httpMethod": "GET"
            },
            "predictLongRunning": {
              "parameters": {
                "endpoint": {
                  "description": "Required. The name of the Endpoint requested to serve the prediction. Format: `projects/{project}/locations/{location}/endpoints/{endpoint}` or `projects/{project}/locations/{location}/publishers/{publisher}/models/{model}`",
                  "required": true,
                  "pattern": "^publishers/[^/]+/models/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "description": "",
              "flatPath": "v1/publishers/{publishersId}/models/{modelsId}:predictLongRunning",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "request": {
                "$ref": "GoogleCloudAiplatformV1PredictLongRunningRequest"
              },
              "httpMethod": "POST",
              "id": "aiplatform.publishers.models.predictLongRunning",
              "path": "v1/{+endpoint}:predictLongRunning",
              "parameterOrder": [
                "endpoint"
              ]
            },
            "streamGenerateContent": {
              "parameters": {
                "model": {
                  "pattern": "^publishers/[^/]+/models/[^/]+$",
                  "description": "Required. The fully qualified name of the publisher model or tuned model endpoint to use. Publisher model format: `projects/{project}/locations/{location}/publishers/*/models/*` Tuned model endpoint format: `projects/{project}/locations/{location}/endpoints/{endpoint}`",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "description": "Generate content with multimodal inputs with streaming support.",
              "flatPath": "v1/publishers/{publishersId}/models/{modelsId}:streamGenerateContent",
              "response": {
                "$ref": "GoogleCloudAiplatformV1GenerateContentResponse"
              },
              "request": {
                "$ref": "GoogleCloudAiplatformV1GenerateContentRequest"
              },
              "httpMethod": "POST",
              "id": "aiplatform.publishers.models.streamGenerateContent",
              "path": "v1/{+model}:streamGenerateContent",
              "parameterOrder": [
                "model"
              ]
            },
            "generateContent": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "parameters": {
                "model": {
                  "pattern": "^publishers/[^/]+/models/[^/]+$",
                  "description": "Required. The fully qualified name of the publisher model or tuned model endpoint to use. Publisher model format: `projects/{project}/locations/{location}/publishers/*/models/*` Tuned model endpoint format: `projects/{project}/locations/{location}/endpoints/{endpoint}`",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "GoogleCloudAiplatformV1GenerateContentRequest"
              },
              "flatPath": "v1/publishers/{publishersId}/models/{modelsId}:generateContent",
              "response": {
                "$ref": "GoogleCloudAiplatformV1GenerateContentResponse"
              },
              "description": "Generate content with multimodal inputs.",
              "httpMethod": "POST",
              "path": "v1/{+model}:generateContent",
              "parameterOrder": [
                "model"
              ],
              "id": "aiplatform.publishers.models.generateContent"
            },
            "computeTokens": {
              "parameters": {
                "endpoint": {
                  "description": "Required. The name of the Endpoint requested to get lists of tokens and token ids.",
                  "required": true,
                  "pattern": "^publishers/[^/]+/models/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Return a list of tokens based on the input text.",
              "flatPath": "v1/publishers/{publishersId}/models/{modelsId}:computeTokens",
              "response": {
                "$ref": "GoogleCloudAiplatformV1ComputeTokensResponse"
              },
              "request": {
                "$ref": "GoogleCloudAiplatformV1ComputeTokensRequest"
              },
              "httpMethod": "POST",
              "id": "aiplatform.publishers.models.computeTokens",
              "path": "v1/{+endpoint}:computeTokens",
              "parameterOrder": [
                "endpoint"
              ]
            },
            "predict": {
              "flatPath": "v1/publishers/{publishersId}/models/{modelsId}:predict",
              "response": {
                "$ref": "GoogleCloudAiplatformV1PredictResponse"
              },
              "description": "",
              "request": {
                "$ref": "GoogleCloudAiplatformV1PredictRequest"
              },
              "parameters": {
                "endpoint": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the Endpoint requested to serve the prediction. Format: `projects/{project}/locations/{location}/endpoints/{endpoint}`",
                  "required": true,
                  "pattern": "^publishers/[^/]+/models/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "path": "v1/{+endpoint}:predict",
              "parameterOrder": [
                "endpoint"
              ],
              "id": "aiplatform.publishers.models.predict",
              "httpMethod": "POST"
            },
            "fetchPredictOperation": {
              "request": {
                "$ref": "GoogleCloudAiplatformV1FetchPredictOperationRequest"
              },
              "description": "Fetch an asynchronous online prediction operation.",
              "flatPath": "v1/publishers/{publishersId}/models/{modelsId}:fetchPredictOperation",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "parameters": {
                "endpoint": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^publishers/[^/]+/models/[^/]+$",
                  "description": "Required. The name of the Endpoint requested to serve the prediction. Format: `projects/{project}/locations/{location}/endpoints/{endpoint}` or `projects/{project}/locations/{location}/publishers/{publisher}/models/{model}`",
                  "required": true
                }
              },
              "id": "aiplatform.publishers.models.fetchPredictOperation",
              "path": "v1/{+endpoint}:fetchPredictOperation",
              "parameterOrder": [
                "endpoint"
              ],
              "httpMethod": "POST"
            }
          }
        }
      }
    },
    "notebookRuntimes": {
      "resources": {
        "operations": {
          "methods": {
            "wait": {
              "httpMethod": "POST",
              "id": "aiplatform.notebookRuntimes.operations.wait",
              "path": "v1/{+name}:wait",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "timeout": {
                  "location": "query",
                  "type": "string",
                  "format": "google-duration",
                  "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used."
                },
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "The name of the operation resource to wait on.",
                  "required": true,
                  "pattern": "^notebookRuntimes/[^/]+/operations/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
              "flatPath": "v1/notebookRuntimes/{notebookRuntimesId}/operations/{operationsId}:wait",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              }
            },
            "delete": {
              "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
              "flatPath": "v1/notebookRuntimes/{notebookRuntimesId}/operations/{operationsId}",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "pattern": "^notebookRuntimes/[^/]+/operations/[^/]+$",
                  "description": "The name of the operation resource to be deleted.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "id": "aiplatform.notebookRuntimes.operations.delete",
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE"
            },
            "cancel": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "description": "The name of the operation resource to be cancelled.",
                  "required": true,
                  "pattern": "^notebookRuntimes/[^/]+/operations/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "flatPath": "v1/notebookRuntimes/{notebookRuntimesId}/operations/{operationsId}:cancel",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
              "httpMethod": "POST",
              "path": "v1/{+name}:cancel",
              "parameterOrder": [
                "name"
              ],
              "id": "aiplatform.notebookRuntimes.operations.cancel"
            },
            "get": {
              "parameters": {
                "name": {
                  "description": "The name of the operation resource.",
                  "required": true,
                  "pattern": "^notebookRuntimes/[^/]+/operations/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "flatPath": "v1/notebookRuntimes/{notebookRuntimesId}/operations/{operationsId}",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "httpMethod": "GET",
              "id": "aiplatform.notebookRuntimes.operations.get",
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "httpMethod": "GET",
              "id": "aiplatform.notebookRuntimes.operations.list",
              "path": "v1/{+name}/operations",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "The name of the operation's parent resource.",
                  "required": true,
                  "pattern": "^notebookRuntimes/[^/]+$",
                  "location": "path",
                  "type": "string"
                },
                "returnPartialSuccess": {
                  "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                  "location": "query",
                  "type": "boolean"
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "The standard list filter."
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "The standard list page size."
                },
                "pageToken": {
                  "description": "The standard list page token.",
                  "type": "string",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
              "flatPath": "v1/notebookRuntimes/{notebookRuntimesId}/operations",
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              }
            }
          }
        }
      }
    },
    "persistentResources": {
      "resources": {
        "operations": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "id": "aiplatform.persistentResources.operations.list",
              "path": "v1/{+name}/operations",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "returnPartialSuccess": {
                  "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                  "type": "boolean",
                  "location": "query"
                },
                "name": {
                  "description": "The name of the operation's parent resource.",
                  "required": true,
                  "pattern": "^persistentResources/[^/]+$",
                  "location": "path",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "The standard list page size."
                },
                "pageToken": {
                  "description": "The standard list page token.",
                  "location": "query",
                  "type": "string"
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "The standard list filter."
                }
              },
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
              "flatPath": "v1/persistentResources/{persistentResourcesId}/operations",
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              }
            },
            "wait": {
              "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
              "flatPath": "v1/persistentResources/{persistentResourcesId}/operations/{operationsId}:wait",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "pattern": "^persistentResources/[^/]+/operations/[^/]+$",
                  "description": "The name of the operation resource to wait on.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "timeout": {
                  "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                  "type": "string",
                  "format": "google-duration",
                  "location": "query"
                }
              },
              "id": "aiplatform.persistentResources.operations.wait",
              "path": "v1/{+name}:wait",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST"
            },
            "get": {
              "httpMethod": "GET",
              "id": "aiplatform.persistentResources.operations.get",
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^persistentResources/[^/]+/operations/[^/]+$",
                  "description": "The name of the operation resource.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "flatPath": "v1/persistentResources/{persistentResourcesId}/operations/{operationsId}",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              }
            },
            "delete": {
              "httpMethod": "DELETE",
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "id": "aiplatform.persistentResources.operations.delete",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "The name of the operation resource to be deleted.",
                  "required": true,
                  "pattern": "^persistentResources/[^/]+/operations/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/persistentResources/{persistentResourcesId}/operations/{operationsId}",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`."
            },
            "cancel": {
              "flatPath": "v1/persistentResources/{persistentResourcesId}/operations/{operationsId}:cancel",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^persistentResources/[^/]+/operations/[^/]+$",
                  "description": "The name of the operation resource to be cancelled.",
                  "required": true
                }
              },
              "path": "v1/{+name}:cancel",
              "parameterOrder": [
                "name"
              ],
              "id": "aiplatform.persistentResources.operations.cancel",
              "httpMethod": "POST"
            }
          }
        }
      }
    },
    "datasets": {
      "methods": {
        "patch": {
          "flatPath": "v1/datasets/{datasetsId}",
          "response": {
            "$ref": "GoogleCloudAiplatformV1Dataset"
          },
          "description": "Updates a Dataset.",
          "request": {
            "$ref": "GoogleCloudAiplatformV1Dataset"
          },
          "parameters": {
            "name": {
              "pattern": "^datasets/[^/]+$",
              "description": "Output only. Identifier. The resource name of the Dataset. Format: `projects/{project}/locations/{location}/datasets/{dataset}`",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "updateMask": {
              "type": "string",
              "format": "google-fieldmask",
              "location": "query",
              "description": "Required. The update mask applies to the resource. For the `FieldMask` definition, see google.protobuf.FieldMask. Updatable fields: * `display_name` * `description` * `labels`"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1/{+name}",
          "parameterOrder": [
            "name"
          ],
          "id": "aiplatform.datasets.patch",
          "httpMethod": "PATCH"
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "name": {
              "type": "string",
              "location": "path",
              "pattern": "^datasets/[^/]+$",
              "description": "Required. The resource name of the Dataset to delete. Format: `projects/{project}/locations/{location}/datasets/{dataset}`",
              "required": true
            }
          },
          "flatPath": "v1/datasets/{datasetsId}",
          "response": {
            "$ref": "GoogleLongrunningOperation"
          },
          "description": "Deletes a Dataset.",
          "httpMethod": "DELETE",
          "path": "v1/{+name}",
          "parameterOrder": [
            "name"
          ],
          "id": "aiplatform.datasets.delete"
        },
        "create": {
          "parameters": {
            "parent": {
              "description": "Required. The resource name of the Location to create the Dataset in. Format: `projects/{project}/locations/{location}`",
              "type": "string",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Creates a Dataset.",
          "flatPath": "v1/datasets",
          "response": {
            "$ref": "GoogleLongrunningOperation"
          },
          "request": {
            "$ref": "GoogleCloudAiplatformV1Dataset"
          },
          "httpMethod": "POST",
          "id": "aiplatform.datasets.create",
          "path": "v1/datasets",
          "parameterOrder": []
        },
        "get": {
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "description": "Required. The name of the Dataset resource.",
              "required": true,
              "pattern": "^datasets/[^/]+$"
            },
            "readMask": {
              "description": "Mask specifying which fields to read.",
              "type": "string",
              "format": "google-fieldmask",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1/datasets/{datasetsId}",
          "response": {
            "$ref": "GoogleCloudAiplatformV1Dataset"
          },
          "description": "Gets a Dataset.",
          "httpMethod": "GET",
          "path": "v1/{+name}",
          "parameterOrder": [
            "name"
          ],
          "id": "aiplatform.datasets.get"
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "orderBy": {
              "type": "string",
              "location": "query",
              "description": "A comma-separated list of fields to order by, sorted in ascending order. Use \"desc\" after a field name for descending. Supported fields: * `display_name` * `create_time` * `update_time`"
            },
            "parent": {
              "location": "query",
              "type": "string",
              "description": "Required. The name of the Dataset's parent resource. Format: `projects/{project}/locations/{location}`"
            },
            "filter": {
              "description": "An expression for filtering the results of the request. For field names both snake_case and camelCase are supported. * `display_name`: supports = and != * `metadata_schema_uri`: supports = and != * `labels` supports general map functions that is: * `labels.key=value` - key:value equality * `labels.key:* or labels:key - key existence * A key including a space must be quoted. `labels.\"a key\"`. Some examples: * `displayName=\"myDisplayName\"` * `labels.myKey=\"myValue\"`",
              "type": "string",
              "location": "query"
            },
            "pageSize": {
              "description": "The standard list page size.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "readMask": {
              "description": "Mask specifying which fields to read.",
              "location": "query",
              "type": "string",
              "format": "google-fieldmask"
            },
            "pageToken": {
              "description": "The standard list page token.",
              "type": "string",
              "location": "query"
            }
          },
          "flatPath": "v1/datasets",
          "response": {
            "$ref": "GoogleCloudAiplatformV1ListDatasetsResponse"
          },
          "description": "Lists Datasets in a Location.",
          "httpMethod": "GET",
          "path": "v1/datasets",
          "parameterOrder": [],
          "id": "aiplatform.datasets.list"
        }
      },
      "resources": {
        "annotationSpecs": {
          "resources": {
            "operations": {
              "methods": {
                "list": {
                  "path": "v1/{+name}/operations",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "aiplatform.datasets.annotationSpecs.operations.list",
                  "httpMethod": "GET",
                  "flatPath": "v1/datasets/{datasetsId}/annotationSpecs/{annotationSpecsId}/operations",
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  },
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "The standard list page size."
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "The standard list page token."
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "The standard list filter."
                    },
                    "returnPartialSuccess": {
                      "location": "query",
                      "type": "boolean",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                    },
                    "name": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^datasets/[^/]+/annotationSpecs/[^/]+$",
                      "description": "The name of the operation's parent resource.",
                      "required": true
                    }
                  }
                },
                "wait": {
                  "httpMethod": "POST",
                  "path": "v1/{+name}:wait",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "aiplatform.datasets.annotationSpecs.operations.wait",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to wait on.",
                      "required": true,
                      "pattern": "^datasets/[^/]+/annotationSpecs/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "type": "string"
                    },
                    "timeout": {
                      "location": "query",
                      "type": "string",
                      "format": "google-duration",
                      "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/datasets/{datasetsId}/annotationSpecs/{annotationSpecsId}/operations/{operationsId}:wait",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done."
                },
                "delete": {
                  "id": "aiplatform.datasets.annotationSpecs.operations.delete",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "flatPath": "v1/datasets/{datasetsId}/annotationSpecs/{annotationSpecsId}/operations/{operationsId}",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^datasets/[^/]+/annotationSpecs/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be deleted.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  }
                },
                "cancel": {
                  "path": "v1/{+name}:cancel",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "aiplatform.datasets.annotationSpecs.operations.cancel",
                  "httpMethod": "POST",
                  "flatPath": "v1/datasets/{datasetsId}/annotationSpecs/{annotationSpecsId}/operations/{operationsId}:cancel",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^datasets/[^/]+/annotationSpecs/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be cancelled.",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "flatPath": "v1/datasets/{datasetsId}/annotationSpecs/{annotationSpecsId}/operations/{operationsId}",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^datasets/[^/]+/annotationSpecs/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource.",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "aiplatform.datasets.annotationSpecs.operations.get",
                  "httpMethod": "GET"
                }
              }
            }
          }
        },
        "operations": {
          "methods": {
            "list": {
              "path": "v1/{+name}/operations",
              "parameterOrder": [
                "name"
              ],
              "id": "aiplatform.datasets.operations.list",
              "httpMethod": "GET",
              "flatPath": "v1/datasets/{datasetsId}/operations",
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "The standard list filter."
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "The standard list page size."
                },
                "pageToken": {
                  "description": "The standard list page token.",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "The name of the operation's parent resource.",
                  "required": true,
                  "pattern": "^datasets/[^/]+$"
                },
                "returnPartialSuccess": {
                  "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                  "type": "boolean",
                  "location": "query"
                }
              }
            },
            "wait": {
              "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
              "flatPath": "v1/datasets/{datasetsId}/operations/{operationsId}:wait",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "parameters": {
                "timeout": {
                  "location": "query",
                  "type": "string",
                  "format": "google-duration",
                  "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used."
                },
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^datasets/[^/]+/operations/[^/]+$",
                  "description": "The name of the operation resource to wait on.",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "aiplatform.datasets.operations.wait",
              "path": "v1/{+name}:wait",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST"
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "pattern": "^datasets/[^/]+/operations/[^/]+$",
                  "description": "The name of the operation resource.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "flatPath": "v1/datasets/{datasetsId}/operations/{operationsId}",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "httpMethod": "GET",
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "id": "aiplatform.datasets.operations.get"
            },
            "delete": {
              "id": "aiplatform.datasets.operations.delete",
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
              "flatPath": "v1/datasets/{datasetsId}/operations/{operationsId}",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "The name of the operation resource to be deleted.",
                  "required": true,
                  "pattern": "^datasets/[^/]+/operations/[^/]+$"
                }
              }
            },
            "cancel": {
              "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
              "flatPath": "v1/datasets/{datasetsId}/operations/{operationsId}:cancel",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^datasets/[^/]+/operations/[^/]+$",
                  "description": "The name of the operation resource to be cancelled.",
                  "required": true
                }
              },
              "id": "aiplatform.datasets.operations.cancel",
              "path": "v1/{+name}:cancel",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST"
            }
          }
        },
        "savedQueries": {
          "resources": {
            "operations": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "id": "aiplatform.datasets.savedQueries.operations.list",
                  "path": "v1/{+name}/operations",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "filter": {
                      "description": "The standard list filter.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "The standard list page size.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "name": {
                      "pattern": "^datasets/[^/]+/savedQueries/[^/]+$",
                      "description": "The name of the operation's parent resource.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "returnPartialSuccess": {
                      "location": "query",
                      "type": "boolean",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "flatPath": "v1/datasets/{datasetsId}/savedQueries/{savedQueriesId}/operations",
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  }
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "id": "aiplatform.datasets.savedQueries.operations.delete",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be deleted.",
                      "required": true,
                      "pattern": "^datasets/[^/]+/savedQueries/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "flatPath": "v1/datasets/{datasetsId}/savedQueries/{savedQueriesId}/operations/{operationsId}",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  }
                },
                "cancel": {
                  "path": "v1/{+name}:cancel",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "aiplatform.datasets.savedQueries.operations.cancel",
                  "httpMethod": "POST",
                  "flatPath": "v1/datasets/{datasetsId}/savedQueries/{savedQueriesId}/operations/{operationsId}:cancel",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
[...]
