{
  "revision": "20260623",
  "rootUrl": "https://aiplatform.googleapis.com/",
  "protocol": "rest",
  "canonicalName": "Aiplatform",
  "mtlsRootUrl": "https://aiplatform.mtls.googleapis.com/",
  "basePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "parameters": {
    "alt": {
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response."
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        }
      }
    }
  },
  "id": "aiplatform:v1",
  "title": "Agent Platform API",
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "endpoints": [
    {
      "endpointUrl": "https://africa-south1-aiplatform.googleapis.com/",
      "location": "africa-south1",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://asia-east1-aiplatform.googleapis.com/",
      "location": "asia-east1",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://asia-east2-aiplatform.googleapis.com/",
      "location": "asia-east2",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://asia-northeast1-aiplatform.googleapis.com/",
      "location": "asia-northeast1",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://asia-northeast2-aiplatform.googleapis.com/",
      "location": "asia-northeast2",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://asia-northeast3-aiplatform.googleapis.com/",
      "location": "asia-northeast3",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://asia-south1-aiplatform.googleapis.com/",
      "location": "asia-south1",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://asia-south2-aiplatform.googleapis.com/",
      "location": "asia-south2",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://asia-southeast1-aiplatform.googleapis.com/",
      "location": "asia-southeast1",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://asia-southeast2-aiplatform.googleapis.com/",
      "location": "asia-southeast2",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://australia-southeast1-aiplatform.googleapis.com/",
      "location": "australia-southeast1",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://australia-southeast2-aiplatform.googleapis.com/",
      "location": "australia-southeast2",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://europe-central2-aiplatform.googleapis.com/",
      "location": "europe-central2",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://europe-north1-aiplatform.googleapis.com/",
      "location": "europe-north1",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://europe-north2-aiplatform.googleapis.com/",
      "location": "europe-north2",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://europe-southwest1-aiplatform.googleapis.com/",
      "location": "europe-southwest1",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://europe-west1-aiplatform.googleapis.com/",
      "location": "europe-west1",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://europe-west10-aiplatform.googleapis.com/",
      "location": "europe-west10",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://europe-west15-aiplatform.googleapis.com/",
      "location": "europe-west15",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://europe-west2-aiplatform.googleapis.com/",
      "location": "europe-west2",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://europe-west3-aiplatform.googleapis.com/",
      "location": "europe-west3",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://europe-west4-aiplatform.googleapis.com/",
      "location": "europe-west4",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://europe-west6-aiplatform.googleapis.com/",
      "location": "europe-west6",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://europe-west8-aiplatform.googleapis.com/",
      "location": "europe-west8",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://europe-west9-aiplatform.googleapis.com/",
      "location": "europe-west9",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://europe-west12-aiplatform.googleapis.com/",
      "location": "europe-west12",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://me-central1-aiplatform.googleapis.com/",
      "location": "me-central1",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://me-central2-aiplatform.googleapis.com/",
      "location": "me-central2",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://me-west1-aiplatform.googleapis.com/",
      "location": "me-west1",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://northamerica-northeast1-aiplatform.googleapis.com/",
      "location": "northamerica-northeast1",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://northamerica-northeast2-aiplatform.googleapis.com/",
      "location": "northamerica-northeast2",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://southamerica-east1-aiplatform.googleapis.com/",
      "location": "southamerica-east1",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://southamerica-west1-aiplatform.googleapis.com/",
      "location": "southamerica-west1",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://us-central1-aiplatform.googleapis.com/",
      "location": "us-central1",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://us-central2-aiplatform.googleapis.com/",
      "location": "us-central2",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://us-east1-aiplatform.googleapis.com/",
      "location": "us-east1",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://us-east4-aiplatform.googleapis.com/",
      "location": "us-east4",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://us-east7-aiplatform.googleapis.com/",
      "location": "us-east7",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://us-south1-aiplatform.googleapis.com/",
      "location": "us-south1",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://us-west1-aiplatform.googleapis.com/",
      "location": "us-west1",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://us-west2-aiplatform.googleapis.com/",
      "location": "us-west2",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://us-west3-aiplatform.googleapis.com/",
      "location": "us-west3",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://us-west4-aiplatform.googleapis.com/",
      "location": "us-west4",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://us-east5-aiplatform.googleapis.com/",
      "location": "us-east5",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://us-west8-aiplatform.googleapis.com/",
      "location": "us-west8",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://aiplatform.us.rep.googleapis.com/",
      "location": "us",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://aiplatform.eu.rep.googleapis.com/",
      "location": "eu",
      "description": "Regional Endpoint"
    }
  ],
  "resources": {
    "endpoints": {
      "methods": {
        "predict": {
          "response": {
            "$ref": "GoogleCloudAiplatformV1PredictResponse"
          },
          "description": "",
          "flatPath": "v1/endpoints/{endpointsId}:predict",
          "id": "aiplatform.endpoints.predict",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "endpoint": {
              "description": "Required. The name of the Endpoint requested to serve the prediction. Format: `projects/{project}/locations/{location}/endpoints/{endpoint}`",
              "pattern": "^endpoints/[^/]+$",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "parameterOrder": [
            "endpoint"
          ],
          "path": "v1/{+endpoint}:predict",
          "httpMethod": "POST",
          "request": {
            "$ref": "GoogleCloudAiplatformV1PredictRequest"
          }
        },
        "predictLongRunning": {
          "id": "aiplatform.endpoints.predictLongRunning",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "flatPath": "v1/endpoints/{endpointsId}:predictLongRunning",
          "response": {
            "$ref": "GoogleLongrunningOperation"
          },
          "description": "",
          "path": "v1/{+endpoint}:predictLongRunning",
          "httpMethod": "POST",
          "request": {
            "$ref": "GoogleCloudAiplatformV1PredictLongRunningRequest"
          },
          "parameterOrder": [
            "endpoint"
          ],
          "parameters": {
            "endpoint": {
              "required": true,
              "pattern": "^endpoints/[^/]+$",
              "type": "string",
              "location": "path",
              "description": "Required. The name of the Endpoint requested to serve the prediction. Format: `projects/{project}/locations/{location}/endpoints/{endpoint}` or `projects/{project}/locations/{location}/publishers/{publisher}/models/{model}`"
            }
          }
        },
        "generateContent": {
          "flatPath": "v1/endpoints/{endpointsId}:generateContent",
          "id": "aiplatform.endpoints.generateContent",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "response": {
            "$ref": "GoogleCloudAiplatformV1GenerateContentResponse"
          },
          "description": "Generate content with multimodal inputs.",
          "parameters": {
            "model": {
              "required": true,
              "pattern": "^endpoints/[^/]+$",
              "type": "string",
              "location": "path",
              "description": "Required. The fully qualified name of the publisher model or tuned model endpoint to use. Publisher model format: `projects/{project}/locations/{location}/publishers/*/models/*` Tuned model endpoint format: `projects/{project}/locations/{location}/endpoints/{endpoint}`"
            }
          },
          "path": "v1/{+model}:generateContent",
          "httpMethod": "POST",
          "request": {
            "$ref": "GoogleCloudAiplatformV1GenerateContentRequest"
          },
          "parameterOrder": [
            "model"
          ]
        },
        "countTokens": {
          "response": {
            "$ref": "GoogleCloudAiplatformV1CountTokensResponse"
          },
          "description": "Perform a token counting.",
          "id": "aiplatform.endpoints.countTokens",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1/endpoints/{endpointsId}:countTokens",
          "parameters": {
            "endpoint": {
              "pattern": "^endpoints/[^/]+$",
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. The name of the Endpoint requested to perform token counting. Format: `projects/{project}/locations/{location}/endpoints/{endpoint}`"
            }
          },
          "parameterOrder": [
            "endpoint"
          ],
          "path": "v1/{+endpoint}:countTokens",
          "httpMethod": "POST",
          "request": {
            "$ref": "GoogleCloudAiplatformV1CountTokensRequest"
          }
        },
        "streamGenerateContent": {
          "parameters": {
            "model": {
              "description": "Required. The fully qualified name of the publisher model or tuned model endpoint to use. Publisher model format: `projects/{project}/locations/{location}/publishers/*/models/*` Tuned model endpoint format: `projects/{project}/locations/{location}/endpoints/{endpoint}`",
              "required": true,
              "location": "path",
              "pattern": "^endpoints/[^/]+$",
              "type": "string"
            }
          },
          "path": "v1/{+model}:streamGenerateContent",
          "httpMethod": "POST",
          "request": {
            "$ref": "GoogleCloudAiplatformV1GenerateContentRequest"
          },
          "parameterOrder": [
            "model"
          ],
          "id": "aiplatform.endpoints.streamGenerateContent",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "flatPath": "v1/endpoints/{endpointsId}:streamGenerateContent",
          "response": {
            "$ref": "GoogleCloudAiplatformV1GenerateContentResponse"
          },
          "description": "Generate content with multimodal inputs with streaming support."
        },
        "computeTokens": {
          "flatPath": "v1/endpoints/{endpointsId}:computeTokens",
          "id": "aiplatform.endpoints.computeTokens",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "GoogleCloudAiplatformV1ComputeTokensResponse"
          },
          "description": "Return a list of tokens based on the input text.",
          "path": "v1/{+endpoint}:computeTokens",
          "httpMethod": "POST",
          "request": {
            "$ref": "GoogleCloudAiplatformV1ComputeTokensRequest"
          },
          "parameterOrder": [
            "endpoint"
          ],
          "parameters": {
            "endpoint": {
              "required": true,
              "pattern": "^endpoints/[^/]+$",
              "type": "string",
              "location": "path",
              "description": "Required. The name of the Endpoint requested to get lists of tokens and token ids."
            }
          }
        },
        "fetchPredictOperation": {
          "response": {
            "$ref": "GoogleLongrunningOperation"
          },
          "description": "Fetch an asynchronous online prediction operation.",
          "id": "aiplatform.endpoints.fetchPredictOperation",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "flatPath": "v1/endpoints/{endpointsId}:fetchPredictOperation",
          "parameterOrder": [
            "endpoint"
          ],
          "path": "v1/{+endpoint}:fetchPredictOperation",
          "httpMethod": "POST",
          "request": {
            "$ref": "GoogleCloudAiplatformV1FetchPredictOperationRequest"
          },
          "parameters": {
            "endpoint": {
              "description": "Required. The name of the Endpoint requested to serve the prediction. Format: `projects/{project}/locations/{location}/endpoints/{endpoint}` or `projects/{project}/locations/{location}/publishers/{publisher}/models/{model}`",
              "location": "path",
              "pattern": "^endpoints/[^/]+$",
              "type": "string",
              "required": true
            }
          }
        }
      },
      "resources": {
        "chat": {
          "methods": {
            "completions": {
              "id": "aiplatform.endpoints.chat.completions",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "flatPath": "v1/endpoints/{endpointsId}/chat/completions",
              "response": {
                "$ref": "GoogleApiHttpBody"
              },
              "description": "Exposes an OpenAI-compatible endpoint for chat completions.",
              "parameters": {
                "endpoint": {
                  "pattern": "^endpoints/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the endpoint requested to serve the prediction. Format: `projects/{project}/locations/{location}/endpoints/{endpoint}`"
                }
              },
              "path": "v1/{+endpoint}/chat/completions",
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleApiHttpBody"
              },
              "parameterOrder": [
                "endpoint"
              ]
            }
          }
        },
        "operations": {
          "methods": {
            "wait": {
              "id": "aiplatform.endpoints.operations.wait",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/endpoints/{endpointsId}/operations/{operationsId}:wait",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
              "parameters": {
                "timeout": {
                  "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                  "location": "query",
                  "type": "string",
                  "format": "google-duration"
                },
                "name": {
                  "description": "The name of the operation resource to wait on.",
                  "required": true,
                  "pattern": "^endpoints/[^/]+/operations/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "path": "v1/{+name}:wait",
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
              "id": "aiplatform.endpoints.operations.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/endpoints/{endpointsId}/operations",
              "parameters": {
                "pageToken": {
                  "description": "The standard list page token.",
                  "location": "query",
                  "type": "string"
                },
                "returnPartialSuccess": {
                  "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                  "location": "query",
                  "type": "boolean"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The standard list page size.",
                  "location": "query"
                },
                "filter": {
                  "type": "string",
                  "description": "The standard list filter.",
                  "location": "query"
                },
                "name": {
                  "required": true,
                  "pattern": "^endpoints/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "The name of the operation's parent resource."
                }
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}/operations",
              "httpMethod": "GET"
            },
            "get": {
              "id": "aiplatform.endpoints.operations.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/endpoints/{endpointsId}/operations/{operationsId}",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^endpoints/[^/]+/operations/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "The name of the operation resource."
                }
              },
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ]
            },
            "delete": {
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
              "flatPath": "v1/endpoints/{endpointsId}/operations/{operationsId}",
              "id": "aiplatform.endpoints.operations.delete",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "pattern": "^endpoints/[^/]+/operations/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "The name of the operation resource to be deleted."
                }
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "httpMethod": "DELETE"
            },
            "cancel": {
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^endpoints/[^/]+/operations/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "The name of the operation resource to be cancelled."
                }
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}:cancel",
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
              "flatPath": "v1/endpoints/{endpointsId}/operations/{operationsId}:cancel",
              "id": "aiplatform.endpoints.operations.cancel",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        }
      }
    },
    "tensorboards": {
      "resources": {
        "operations": {
          "methods": {
            "list": {
              "flatPath": "v1/tensorboards/{tensorboardsId}/operations",
              "id": "aiplatform.tensorboards.operations.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
              "parameters": {
                "pageSize": {
                  "description": "The standard list page size.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "filter": {
                  "type": "string",
                  "description": "The standard list filter.",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "description": "The standard list page token.",
                  "location": "query"
                },
                "returnPartialSuccess": {
                  "type": "boolean",
                  "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                  "location": "query"
                },
                "name": {
                  "description": "The name of the operation's parent resource.",
                  "location": "path",
                  "pattern": "^tensorboards/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "path": "v1/{+name}/operations",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ]
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "The name of the operation resource.",
                  "pattern": "^tensorboards/[^/]+/operations/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "flatPath": "v1/tensorboards/{tensorboardsId}/operations/{operationsId}",
              "id": "aiplatform.tensorboards.operations.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "wait": {
              "parameters": {
                "name": {
                  "description": "The name of the operation resource to wait on.",
                  "pattern": "^tensorboards/[^/]+/operations/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "timeout": {
                  "type": "string",
                  "format": "google-duration",
                  "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}:wait",
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
              "flatPath": "v1/tensorboards/{tensorboardsId}/operations/{operationsId}:wait",
              "id": "aiplatform.tensorboards.operations.wait",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "delete": {
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
              "id": "aiplatform.tensorboards.operations.delete",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/tensorboards/{tensorboardsId}/operations/{operationsId}",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "pattern": "^tensorboards/[^/]+/operations/[^/]+$",
                  "type": "string",
                  "description": "The name of the operation resource to be deleted."
                }
              }
            },
            "cancel": {
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}:cancel",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "description": "The name of the operation resource to be cancelled.",
                  "required": true,
                  "location": "path",
                  "pattern": "^tensorboards/[^/]+/operations/[^/]+$",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
              "id": "aiplatform.tensorboards.operations.cancel",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/tensorboards/{tensorboardsId}/operations/{operationsId}:cancel"
            }
          }
        },
        "experiments": {
          "resources": {
            "operations": {
              "methods": {
                "delete": {
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "flatPath": "v1/tensorboards/{tensorboardsId}/experiments/{experimentsId}/operations/{operationsId}",
                  "id": "aiplatform.tensorboards.experiments.operations.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be deleted.",
                      "required": true,
                      "location": "path",
                      "pattern": "^tensorboards/[^/]+/experiments/[^/]+/operations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "httpMethod": "DELETE"
                },
                "cancel": {
                  "flatPath": "v1/tensorboards/{tensorboardsId}/experiments/{experimentsId}/operations/{operationsId}:cancel",
                  "id": "aiplatform.tensorboards.experiments.operations.cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "pattern": "^tensorboards/[^/]+/experiments/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "description": "The name of the operation resource to be cancelled."
                    }
                  },
                  "path": "v1/{+name}:cancel",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "path": "v1/{+name}/operations",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The standard list page size.",
                      "location": "query"
                    },
                    "filter": {
                      "type": "string",
                      "description": "The standard list filter.",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "returnPartialSuccess": {
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "name": {
                      "pattern": "^tensorboards/[^/]+/experiments/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "The name of the operation's parent resource."
                    }
                  },
                  "flatPath": "v1/tensorboards/{tensorboardsId}/experiments/{experimentsId}/operations",
                  "id": "aiplatform.tensorboards.experiments.operations.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  },
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`."
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource.",
                      "pattern": "^tensorboards/[^/]+/experiments/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "flatPath": "v1/tensorboards/{tensorboardsId}/experiments/{experimentsId}/operations/{operationsId}",
                  "id": "aiplatform.tensorboards.experiments.operations.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "wait": {
                  "parameters": {
                    "timeout": {
                      "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                      "location": "query",
                      "type": "string",
                      "format": "google-duration"
                    },
                    "name": {
                      "description": "The name of the operation resource to wait on.",
                      "required": true,
                      "pattern": "^tensorboards/[^/]+/experiments/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}:wait",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
                  "flatPath": "v1/tensorboards/{tensorboardsId}/experiments/{experimentsId}/operations/{operationsId}:wait",
                  "id": "aiplatform.tensorboards.experiments.operations.wait",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "runs": {
              "resources": {
                "timeSeries": {
                  "resources": {
                    "operations": {
                      "methods": {
                        "delete": {
                          "path": "v1/{+name}",
                          "httpMethod": "DELETE",
                          "parameterOrder": [
                            "name"
                          ],
                          "parameters": {
                            "name": {
                              "pattern": "^tensorboards/[^/]+/experiments/[^/]+/runs/[^/]+/timeSeries/[^/]+/operations/[^/]+$",
                              "type": "string",
                              "location": "path",
                              "required": true,
                              "description": "The name of the operation resource to be deleted."
                            }
                          },
                          "flatPath": "v1/tensorboards/{tensorboardsId}/experiments/{experimentsId}/runs/{runsId}/timeSeries/{timeSeriesId}/operations/{operationsId}",
                          "id": "aiplatform.tensorboards.experiments.runs.timeSeries.operations.delete",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          },
                          "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`."
                        },
                        "cancel": {
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          },
                          "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                          "flatPath": "v1/tensorboards/{tensorboardsId}/experiments/{experimentsId}/runs/{runsId}/timeSeries/{timeSeriesId}/operations/{operationsId}:cancel",
                          "id": "aiplatform.tensorboards.experiments.runs.timeSeries.operations.cancel",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameterOrder": [
                            "name"
                          ],
                          "path": "v1/{+name}:cancel",
                          "httpMethod": "POST",
                          "parameters": {
                            "name": {
                              "description": "The name of the operation resource to be cancelled.",
                              "location": "path",
                              "pattern": "^tensorboards/[^/]+/experiments/[^/]+/runs/[^/]+/timeSeries/[^/]+/operations/[^/]+$",
                              "type": "string",
                              "required": true
                            }
                          }
                        },
                        "wait": {
                          "parameters": {
                            "name": {
                              "description": "The name of the operation resource to wait on.",
                              "required": true,
                              "pattern": "^tensorboards/[^/]+/experiments/[^/]+/runs/[^/]+/timeSeries/[^/]+/operations/[^/]+$",
                              "type": "string",
                              "location": "path"
                            },
                            "timeout": {
                              "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                              "location": "query",
                              "type": "string",
                              "format": "google-duration"
                            }
                          },
                          "path": "v1/{+name}:wait",
                          "httpMethod": "POST",
                          "parameterOrder": [
                            "name"
                          ],
                          "flatPath": "v1/tensorboards/{tensorboardsId}/experiments/{experimentsId}/runs/{runsId}/timeSeries/{timeSeriesId}/operations/{operationsId}:wait",
                          "id": "aiplatform.tensorboards.experiments.runs.timeSeries.operations.wait",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "response": {
                            "$ref": "GoogleLongrunningOperation"
                          },
                          "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done."
                        },
                        "list": {
                          "parameters": {
                            "name": {
                              "description": "The name of the operation's parent resource.",
                              "pattern": "^tensorboards/[^/]+/experiments/[^/]+/runs/[^/]+/timeSeries/[^/]+$",
                              "type": "string",
                              "location": "path",
                              "required": true
                            },
                            "pageSize": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The standard list page size.",
                              "location": "query"
                            },
                            "filter": {
                              "description": "The standard list filter.",
                              "location": "query",
                              "type": "string"
                            },
                            "pageToken": {
                              "description": "The standard list page token.",
                              "location": "query",
                              "type": "string"
                            },
                            "returnPartialSuccess": {
                              "type": "boolean",
                              "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                              "location": "query"
                            }
                          },
                          "path": "v1/{+name}/operations",
                          "httpMethod": "GET",
                          "parameterOrder": [
                            "name"
                          ],
                          "id": "aiplatform.tensorboards.experiments.runs.timeSeries.operations.list",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "flatPath": "v1/tensorboards/{tensorboardsId}/experiments/{experimentsId}/runs/{runsId}/timeSeries/{timeSeriesId}/operations",
                          "response": {
                            "$ref": "GoogleLongrunningListOperationsResponse"
                          },
                          "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`."
                        },
                        "get": {
                          "parameters": {
                            "name": {
                              "location": "path",
                              "pattern": "^tensorboards/[^/]+/experiments/[^/]+/runs/[^/]+/timeSeries/[^/]+/operations/[^/]+$",
                              "type": "string",
                              "required": true,
                              "description": "The name of the operation resource."
                            }
                          },
                          "path": "v1/{+name}",
                          "httpMethod": "GET",
                          "parameterOrder": [
                            "name"
                          ],
                          "flatPath": "v1/tensorboards/{tensorboardsId}/experiments/{experimentsId}/runs/{runsId}/timeSeries/{timeSeriesId}/operations/{operationsId}",
                          "id": "aiplatform.tensorboards.experiments.runs.timeSeries.operations.get",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "response": {
                            "$ref": "GoogleLongrunningOperation"
                          },
                          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
                        }
                      }
                    }
                  }
                },
                "operations": {
                  "methods": {
                    "delete": {
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^tensorboards/[^/]+/experiments/[^/]+/runs/[^/]+/operations/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "description": "The name of the operation resource to be deleted."
                        }
                      },
                      "path": "v1/{+name}",
                      "httpMethod": "DELETE",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/tensorboards/{tensorboardsId}/experiments/{experimentsId}/runs/{runsId}/operations/{operationsId}",
                      "id": "aiplatform.tensorboards.experiments.runs.operations.delete",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`."
                    },
                    "cancel": {
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                      "flatPath": "v1/tensorboards/{tensorboardsId}/experiments/{experimentsId}/runs/{runsId}/operations/{operationsId}:cancel",
                      "id": "aiplatform.tensorboards.experiments.runs.operations.cancel",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}:cancel",
                      "httpMethod": "POST",
                      "parameters": {
                        "name": {
                          "required": true,
                          "location": "path",
                          "pattern": "^tensorboards/[^/]+/experiments/[^/]+/runs/[^/]+/operations/[^/]+$",
                          "type": "string",
                          "description": "The name of the operation resource to be cancelled."
                        }
                      }
                    },
                    "list": {
                      "response": {
                        "$ref": "GoogleLongrunningListOperationsResponse"
                      },
                      "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                      "flatPath": "v1/tensorboards/{tensorboardsId}/experiments/{experimentsId}/runs/{runsId}/operations",
                      "id": "aiplatform.tensorboards.experiments.runs.operations.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}/operations",
                      "httpMethod": "GET",
                      "parameters": {
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The standard list page size.",
                          "location": "query"
                        },
                        "filter": {
                          "type": "string",
                          "description": "The standard list filter.",
                          "location": "query"
                        },
                        "pageToken": {
                          "description": "The standard list page token.",
                          "location": "query",
                          "type": "string"
                        },
                        "returnPartialSuccess": {
                          "type": "boolean",
                          "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                          "location": "query"
                        },
                        "name": {
                          "description": "The name of the operation's parent resource.",
                          "location": "path",
                          "pattern": "^tensorboards/[^/]+/experiments/[^/]+/runs/[^/]+$",
                          "type": "string",
                          "required": true
                        }
                      }
                    },
                    "get": {
                      "path": "v1/{+name}",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "description": "The name of the operation resource.",
                          "required": true,
                          "pattern": "^tensorboards/[^/]+/experiments/[^/]+/runs/[^/]+/operations/[^/]+$",
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "id": "aiplatform.tensorboards.experiments.runs.operations.get",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/tensorboards/{tensorboardsId}/experiments/{experimentsId}/runs/{runsId}/operations/{operationsId}",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
                    },
                    "wait": {
                      "id": "aiplatform.tensorboards.experiments.runs.operations.wait",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/tensorboards/{tensorboardsId}/experiments/{experimentsId}/runs/{runsId}/operations/{operationsId}:wait",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
                      "path": "v1/{+name}:wait",
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "description": "The name of the operation resource to wait on.",
                          "required": true,
                          "location": "path",
                          "pattern": "^tensorboards/[^/]+/experiments/[^/]+/runs/[^/]+/operations/[^/]+$",
                          "type": "string"
                        },
                        "timeout": {
                          "type": "string",
                          "format": "google-duration",
                          "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                          "location": "query"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "publishers": {
      "resources": {
        "models": {
          "methods": {
            "fetchPredictOperation": {
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "description": "Fetch an asynchronous online prediction operation.",
              "flatPath": "v1/publishers/{publishersId}/models/{modelsId}:fetchPredictOperation",
              "id": "aiplatform.publishers.models.fetchPredictOperation",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "parameterOrder": [
                "endpoint"
              ],
              "path": "v1/{+endpoint}:fetchPredictOperation",
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudAiplatformV1FetchPredictOperationRequest"
              },
              "parameters": {
                "endpoint": {
                  "description": "Required. The name of the Endpoint requested to serve the prediction. Format: `projects/{project}/locations/{location}/endpoints/{endpoint}` or `projects/{project}/locations/{location}/publishers/{publisher}/models/{model}`",
                  "pattern": "^publishers/[^/]+/models/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              }
            },
            "streamGenerateContent": {
              "parameters": {
                "model": {
                  "location": "path",
                  "pattern": "^publishers/[^/]+/models/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. The fully qualified name of the publisher model or tuned model endpoint to use. Publisher model format: `projects/{project}/locations/{location}/publishers/*/models/*` Tuned model endpoint format: `projects/{project}/locations/{location}/endpoints/{endpoint}`"
                }
              },
              "parameterOrder": [
                "model"
              ],
              "path": "v1/{+model}:streamGenerateContent",
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudAiplatformV1GenerateContentRequest"
              },
              "response": {
                "$ref": "GoogleCloudAiplatformV1GenerateContentResponse"
              },
              "description": "Generate content with multimodal inputs with streaming support.",
              "flatPath": "v1/publishers/{publishersId}/models/{modelsId}:streamGenerateContent",
              "id": "aiplatform.publishers.models.streamGenerateContent",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ]
            },
            "computeTokens": {
              "path": "v1/{+endpoint}:computeTokens",
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudAiplatformV1ComputeTokensRequest"
              },
              "parameterOrder": [
                "endpoint"
              ],
              "parameters": {
                "endpoint": {
                  "description": "Required. The name of the Endpoint requested to get lists of tokens and token ids.",
                  "required": true,
                  "location": "path",
                  "pattern": "^publishers/[^/]+/models/[^/]+$",
                  "type": "string"
                }
              },
              "flatPath": "v1/publishers/{publishersId}/models/{modelsId}:computeTokens",
              "id": "aiplatform.publishers.models.computeTokens",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudAiplatformV1ComputeTokensResponse"
              },
              "description": "Return a list of tokens based on the input text."
            },
            "predict": {
              "parameterOrder": [
                "endpoint"
              ],
              "path": "v1/{+endpoint}:predict",
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudAiplatformV1PredictRequest"
              },
              "parameters": {
                "endpoint": {
                  "location": "path",
                  "pattern": "^publishers/[^/]+/models/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the Endpoint requested to serve the prediction. Format: `projects/{project}/locations/{location}/endpoints/{endpoint}`"
                }
              },
              "response": {
                "$ref": "GoogleCloudAiplatformV1PredictResponse"
              },
              "description": "",
              "id": "aiplatform.publishers.models.predict",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "flatPath": "v1/publishers/{publishersId}/models/{modelsId}:predict"
            },
            "predictLongRunning": {
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "description": "",
              "id": "aiplatform.publishers.models.predictLongRunning",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "flatPath": "v1/publishers/{publishersId}/models/{modelsId}:predictLongRunning",
              "parameterOrder": [
                "endpoint"
              ],
              "path": "v1/{+endpoint}:predictLongRunning",
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudAiplatformV1PredictLongRunningRequest"
              },
              "parameters": {
                "endpoint": {
                  "description": "Required. The name of the Endpoint requested to serve the prediction. Format: `projects/{project}/locations/{location}/endpoints/{endpoint}` or `projects/{project}/locations/{location}/publishers/{publisher}/models/{model}`",
                  "location": "path",
                  "pattern": "^publishers/[^/]+/models/[^/]+$",
                  "type": "string",
                  "required": true
                }
              }
            },
            "generateContent": {
              "parameterOrder": [
                "model"
              ],
              "path": "v1/{+model}:generateContent",
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudAiplatformV1GenerateContentRequest"
              },
              "parameters": {
                "model": {
                  "required": true,
                  "pattern": "^publishers/[^/]+/models/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. The fully qualified name of the publisher model or tuned model endpoint to use. Publisher model format: `projects/{project}/locations/{location}/publishers/*/models/*` Tuned model endpoint format: `projects/{project}/locations/{location}/endpoints/{endpoint}`"
                }
              },
              "response": {
                "$ref": "GoogleCloudAiplatformV1GenerateContentResponse"
              },
              "description": "Generate content with multimodal inputs.",
              "id": "aiplatform.publishers.models.generateContent",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "flatPath": "v1/publishers/{publishersId}/models/{modelsId}:generateContent"
            },
            "countTokens": {
              "response": {
                "$ref": "GoogleCloudAiplatformV1CountTokensResponse"
              },
              "description": "Perform a token counting.",
              "flatPath": "v1/publishers/{publishersId}/models/{modelsId}:countTokens",
              "id": "aiplatform.publishers.models.countTokens",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "endpoint"
              ],
              "path": "v1/{+endpoint}:countTokens",
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudAiplatformV1CountTokensRequest"
              },
              "parameters": {
                "endpoint": {
                  "required": true,
                  "location": "path",
                  "pattern": "^publishers/[^/]+/models/[^/]+$",
                  "type": "string",
                  "description": "Required. The name of the Endpoint requested to perform token counting. Format: `projects/{project}/locations/{location}/endpoints/{endpoint}`"
                }
              }
            },
            "get": {
              "flatPath": "v1/publishers/{publishersId}/models/{modelsId}",
              "id": "aiplatform.publishers.models.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudAiplatformV1PublisherModel"
              },
              "description": "Gets a Model Garden publisher model.",
              "parameters": {
                "name": {
                  "description": "Required. The name of the PublisherModel resource. Format: `publishers/{publisher}/models/{publisher_model}`",
                  "required": true,
                  "location": "path",
                  "pattern": "^publishers/[^/]+/models/[^/]+$",
                  "type": "string"
                },
                "view": {
                  "location": "query",
                  "type": "string",
                  "enumDescriptions": [
                    "The default / unset value. The API will default to the BASIC view.",
                    "Include basic metadata about the publisher model, but not the full contents.",
                    "Include everything.",
                    "Include: VersionId, ModelVersionExternalName, and SupportedActions."
                  ],
                  "description": "Optional. PublisherModel view specifying which fields to read.",
                  "enum": [
                    "PUBLISHER_MODEL_VIEW_UNSPECIFIED",
                    "PUBLISHER_MODEL_VIEW_BASIC",
                    "PUBLISHER_MODEL_VIEW_FULL",
                    "PUBLISHER_MODEL_VERSION_VIEW_BASIC"
                  ]
                },
                "huggingFaceToken": {
                  "description": "Optional. Token used to access Hugging Face gated models.",
                  "location": "query",
                  "type": "string"
                },
                "languageCode": {
                  "description": "Optional. The IETF BCP-47 language code representing the language in which the publisher model's text information should be written in.",
                  "location": "query",
                  "type": "string"
                },
                "isHuggingFaceModel": {
                  "description": "Optional. Boolean indicates whether the requested model is a Hugging Face model.",
                  "location": "query",
                  "type": "boolean"
                }
              },
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ]
            }
          }
        }
      }
    },
    "studies": {
      "resources": {
        "operations": {
          "methods": {
            "delete": {
              "parameters": {
                "name": {
                  "description": "The name of the operation resource to be deleted.",
                  "pattern": "^studies/[^/]+/operations/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "path": "v1/{+name}",
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/studies/{studiesId}/operations/{operationsId}",
              "id": "aiplatform.studies.operations.delete",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`."
            },
            "cancel": {
              "parameters": {
                "name": {
                  "description": "The name of the operation resource to be cancelled.",
                  "required": true,
                  "pattern": "^studies/[^/]+/operations/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "path": "v1/{+name}:cancel",
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/studies/{studiesId}/operations/{operationsId}:cancel",
              "id": "aiplatform.studies.operations.cancel",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`."
            },
            "wait": {
              "path": "v1/{+name}:wait",
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "timeout": {
                  "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                  "location": "query",
                  "type": "string",
                  "format": "google-duration"
                },
                "name": {
                  "description": "The name of the operation resource to wait on.",
                  "location": "path",
                  "pattern": "^studies/[^/]+/operations/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "id": "aiplatform.studies.operations.wait",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/studies/{studiesId}/operations/{operationsId}:wait",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done."
            },
            "list": {
              "flatPath": "v1/studies/{studiesId}/operations",
              "id": "aiplatform.studies.operations.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
              "parameters": {
                "name": {
                  "description": "The name of the operation's parent resource.",
                  "location": "path",
                  "pattern": "^studies/[^/]+$",
                  "type": "string",
                  "required": true
                },
                "pageSize": {
                  "description": "The standard list page size.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "filter": {
                  "type": "string",
                  "description": "The standard list filter.",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "description": "The standard list page token.",
                  "location": "query"
                },
                "returnPartialSuccess": {
                  "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                  "location": "query",
                  "type": "boolean"
                }
              },
              "path": "v1/{+name}/operations",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ]
            },
            "get": {
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "The name of the operation resource.",
                  "required": true,
                  "pattern": "^studies/[^/]+/operations/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "id": "aiplatform.studies.operations.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/studies/{studiesId}/operations/{operationsId}",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
            }
          }
        },
        "trials": {
          "resources": {
            "operations": {
              "methods": {
                "list": {
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  },
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "flatPath": "v1/studies/{studiesId}/trials/{trialsId}/operations",
                  "id": "aiplatform.studies.trials.operations.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "pageSize": {
                      "description": "The standard list page size.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "filter": {
                      "description": "The standard list filter.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "returnPartialSuccess": {
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "name": {
                      "location": "path",
                      "pattern": "^studies/[^/]+/trials/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "The name of the operation's parent resource."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}/operations",
                  "httpMethod": "GET"
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource.",
                      "location": "path",
                      "pattern": "^studies/[^/]+/trials/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "id": "aiplatform.studies.trials.operations.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/studies/{studiesId}/trials/{trialsId}/operations/{operationsId}"
                },
                "wait": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "pattern": "^studies/[^/]+/trials/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "description": "The name of the operation resource to wait on."
                    },
                    "timeout": {
                      "type": "string",
                      "format": "google-duration",
                      "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                      "location": "query"
                    }
                  },
                  "path": "v1/{+name}:wait",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "aiplatform.studies.trials.operations.wait",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/studies/{studiesId}/trials/{trialsId}/operations/{operationsId}:wait",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done."
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be deleted.",
                      "pattern": "^studies/[^/]+/trials/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "flatPath": "v1/studies/{studiesId}/trials/{trialsId}/operations/{operationsId}",
                  "id": "aiplatform.studies.trials.operations.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "cancel": {
                  "id": "aiplatform.studies.trials.operations.cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/studies/{studiesId}/trials/{trialsId}/operations/{operationsId}:cancel",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^studies/[^/]+/trials/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "The name of the operation resource to be cancelled."
                    }
                  },
                  "path": "v1/{+name}:cancel",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "ragEngineConfig": {
      "resources": {
        "operations": {
          "methods": {
            "wait": {
              "path": "v1/{+name}:wait",
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^ragEngineConfig/operations/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "The name of the operation resource to wait on."
                },
                "timeout": {
                  "type": "string",
                  "format": "google-duration",
                  "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                  "location": "query"
                }
              },
              "flatPath": "v1/ragEngineConfig/operations/{operationsId}:wait",
              "id": "aiplatform.ragEngineConfig.operations.wait",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done."
            },
            "list": {
              "id": "aiplatform.ragEngineConfig.operations.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/ragEngineConfig/operations",
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
              "path": "v1/{+name}/operations",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "pageToken": {
                  "description": "The standard list page token.",
                  "location": "query",
                  "type": "string"
                },
                "returnPartialSuccess": {
                  "type": "boolean",
                  "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The standard list page size.",
                  "location": "query"
                },
                "filter": {
                  "description": "The standard list filter.",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "location": "path",
                  "pattern": "^ragEngineConfig$",
                  "type": "string",
                  "required": true,
                  "description": "The name of the operation's parent resource."
                }
              }
            },
            "get": {
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "id": "aiplatform.ragEngineConfig.operations.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
[...]
