{
  "ownerDomain": "google.com",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/aiplatform": {
          "description": "See, edit, configure, and delete your Google Cloud Vertex AI data and see the email address for your Google Account"
        }
      }
    }
  },
  "ownerName": "Google",
  "id": "aiplatform:v1",
  "title": "Agent Platform API",
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "resources": {
    "featureOnlineStores": {
      "resources": {
        "featureViews": {
          "resources": {
            "operations": {
              "methods": {
                "wait": {
                  "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "path": "v1/{+name}:wait",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/aiplatform",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "timeout": {
                      "location": "query",
                      "type": "string",
                      "format": "google-duration",
                      "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used."
                    },
                    "name": {
                      "location": "path",
                      "description": "The name of the operation resource to wait on.",
                      "required": true,
                      "pattern": "^featureOnlineStores/[^/]+/featureViews/[^/]+/operations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "id": "aiplatform.featureOnlineStores.featureViews.operations.wait",
                  "flatPath": "v1/featureOnlineStores/{featureOnlineStoresId}/featureViews/{featureViewsId}/operations/{operationsId}:wait"
                },
                "delete": {
                  "flatPath": "v1/featureOnlineStores/{featureOnlineStoresId}/featureViews/{featureViewsId}/operations/{operationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^featureOnlineStores/[^/]+/featureViews/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "The name of the operation resource to be deleted."
                    }
                  },
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "id": "aiplatform.featureOnlineStores.featureViews.operations.delete",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  }
                },
                "get": {
                  "httpMethod": "GET",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "flatPath": "v1/featureOnlineStores/{featureOnlineStoresId}/featureViews/{featureViewsId}/operations/{operationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/aiplatform",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^featureOnlineStores/[^/]+/featureViews/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "aiplatform.featureOnlineStores.featureViews.operations.get",
                  "path": "v1/{+name}"
                },
                "listWait": {
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  },
                  "path": "v1/{+name}:wait",
                  "scopes": [
                    "https://www.googleapis.com/auth/aiplatform",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "aiplatform.featureOnlineStores.featureViews.operations.listWait",
                  "parameters": {
                    "returnPartialSuccess": {
                      "type": "boolean",
                      "location": "query",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                    },
                    "filter": {
                      "description": "The standard list filter.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "The standard list page token.",
                      "location": "query"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "The standard list page size.",
                      "location": "query",
                      "format": "int32"
                    },
                    "name": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^featureOnlineStores/[^/]+/featureViews/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation's parent resource."
                    }
                  },
                  "flatPath": "v1/featureOnlineStores/{featureOnlineStoresId}/featureViews/{featureViewsId}/operations/{operationsId}:wait",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`."
                }
              }
            }
          }
        },
        "operations": {
          "methods": {
            "delete": {
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/featureOnlineStores/{featureOnlineStoresId}/operations/{operationsId}",
              "httpMethod": "DELETE",
              "id": "aiplatform.featureOnlineStores.operations.delete",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "description": "The name of the operation resource to be deleted.",
                  "required": true,
                  "location": "path",
                  "pattern": "^featureOnlineStores/[^/]+/operations/[^/]+$",
                  "type": "string"
                }
              },
              "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`."
            },
            "wait": {
              "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
              "path": "v1/{+name}:wait",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "The name of the operation resource to wait on.",
                  "required": true,
                  "pattern": "^featureOnlineStores/[^/]+/operations/[^/]+$"
                },
                "timeout": {
                  "location": "query",
                  "format": "google-duration",
                  "type": "string",
                  "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used."
                }
              },
              "flatPath": "v1/featureOnlineStores/{featureOnlineStoresId}/operations/{operationsId}:wait",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "aiplatform.featureOnlineStores.operations.wait",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "httpMethod": "POST"
            },
            "listWait": {
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "path": "v1/{+name}:wait",
              "flatPath": "v1/featureOnlineStores/{featureOnlineStoresId}/operations/{operationsId}:wait",
              "parameters": {
                "filter": {
                  "location": "query",
                  "description": "The standard list filter.",
                  "type": "string"
                },
                "name": {
                  "pattern": "^featureOnlineStores/[^/]+/operations/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The name of the operation's parent resource."
                },
                "returnPartialSuccess": {
                  "type": "boolean",
                  "location": "query",
                  "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                },
                "pageToken": {
                  "location": "query",
                  "description": "The standard list page token.",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "The standard list page size.",
                  "location": "query",
                  "format": "int32"
                }
              },
              "id": "aiplatform.featureOnlineStores.operations.listWait"
            },
            "get": {
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "pattern": "^featureOnlineStores/[^/]+/operations/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "The name of the operation resource."
                }
              },
              "flatPath": "v1/featureOnlineStores/{featureOnlineStoresId}/operations/{operationsId}",
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "id": "aiplatform.featureOnlineStores.operations.get",
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              }
            }
          }
        }
      }
    },
    "media": {
      "methods": {
        "upload": {
          "httpMethod": "POST",
          "mediaUpload": {
            "accept": [
              "*/*"
            ],
            "protocols": {
              "simple": {
                "path": "/upload/v1/{+parent}/ragFiles:upload",
                "multipart": true
              }
            }
          },
          "supportsMediaUpload": true,
          "response": {
            "$ref": "GoogleCloudAiplatformV1UploadRagFileResponse"
          },
          "id": "aiplatform.media.upload",
          "scopes": [
            "https://www.googleapis.com/auth/aiplatform",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1/{+parent}/ragFiles:upload",
          "parameterOrder": [
            "parent"
          ],
          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/ragCorpora/{ragCorporaId}/ragFiles:upload",
          "parameters": {
            "parent": {
              "location": "path",
              "type": "string",
              "description": "Required. The name of the RagCorpus resource into which to upload the file. Format: `projects/{project}/locations/{location}/ragCorpora/{rag_corpus}`",
              "pattern": "^projects/[^/]+/locations/[^/]+/ragCorpora/[^/]+$",
              "required": true
            }
          },
          "request": {
            "$ref": "GoogleCloudAiplatformV1UploadRagFileRequest"
          },
          "description": "Upload a file into a RagCorpus."
        }
      }
    },
    "studies": {
      "resources": {
        "operations": {
          "methods": {
            "list": {
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
              "httpMethod": "GET",
              "flatPath": "v1/studies/{studiesId}/operations",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "The standard list page token.",
                  "location": "query"
                },
                "returnPartialSuccess": {
                  "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                  "type": "boolean",
                  "location": "query"
                },
                "filter": {
                  "location": "query",
                  "description": "The standard list filter.",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "description": "The standard list page size.",
                  "type": "integer",
                  "location": "query"
                },
                "name": {
                  "required": true,
                  "pattern": "^studies/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "The name of the operation's parent resource."
                }
              },
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "id": "aiplatform.studies.operations.list",
              "path": "v1/{+name}/operations",
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "delete": {
              "path": "v1/{+name}",
              "flatPath": "v1/studies/{studiesId}/operations/{operationsId}",
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "pattern": "^studies/[^/]+/operations/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "The name of the operation resource to be deleted.",
                  "location": "path"
                }
              },
              "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
              "id": "aiplatform.studies.operations.delete",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "wait": {
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "flatPath": "v1/studies/{studiesId}/operations/{operationsId}:wait",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "timeout": {
                  "location": "query",
                  "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                  "format": "google-duration",
                  "type": "string"
                },
                "name": {
                  "required": true,
                  "pattern": "^studies/[^/]+/operations/[^/]+$",
                  "type": "string",
                  "description": "The name of the operation resource to wait on.",
                  "location": "path"
                }
              },
              "id": "aiplatform.studies.operations.wait",
              "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "path": "v1/{+name}:wait"
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "flatPath": "v1/studies/{studiesId}/operations/{operationsId}",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "pattern": "^studies/[^/]+/operations/[^/]+$",
                  "type": "string",
                  "description": "The name of the operation resource."
                }
              },
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "path": "v1/{+name}",
              "id": "aiplatform.studies.operations.get"
            },
            "cancel": {
              "path": "v1/{+name}:cancel",
              "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^studies/[^/]+/operations/[^/]+$",
                  "description": "The name of the operation resource to be cancelled.",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/studies/{studiesId}/operations/{operationsId}:cancel",
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "id": "aiplatform.studies.operations.cancel"
            }
          }
        },
        "trials": {
          "resources": {
            "operations": {
              "methods": {
                "list": {
                  "flatPath": "v1/studies/{studiesId}/trials/{trialsId}/operations",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/aiplatform",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "aiplatform.studies.trials.operations.list",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "path": "v1/{+name}/operations",
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "The standard list page size."
                    },
                    "filter": {
                      "location": "query",
                      "description": "The standard list filter.",
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The standard list page token."
                    },
                    "returnPartialSuccess": {
                      "type": "boolean",
                      "location": "query",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                    },
                    "name": {
                      "location": "path",
                      "pattern": "^studies/[^/]+/trials/[^/]+$",
                      "description": "The name of the operation's parent resource.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  }
                },
                "cancel": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "The name of the operation resource to be cancelled.",
                      "pattern": "^studies/[^/]+/trials/[^/]+/operations/[^/]+$",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/aiplatform",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "path": "v1/{+name}:cancel",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "flatPath": "v1/studies/{studiesId}/trials/{trialsId}/operations/{operationsId}:cancel",
                  "id": "aiplatform.studies.trials.operations.cancel",
                  "httpMethod": "POST"
                },
                "delete": {
                  "flatPath": "v1/studies/{studiesId}/trials/{trialsId}/operations/{operationsId}",
                  "id": "aiplatform.studies.trials.operations.delete",
                  "httpMethod": "DELETE",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^studies/[^/]+/trials/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be deleted."
                    }
                  }
                },
                "wait": {
                  "id": "aiplatform.studies.trials.operations.wait",
                  "scopes": [
                    "https://www.googleapis.com/auth/aiplatform",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to wait on.",
                      "pattern": "^studies/[^/]+/trials/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "timeout": {
                      "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                      "format": "google-duration",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/studies/{studiesId}/trials/{trialsId}/operations/{operationsId}:wait",
                  "path": "v1/{+name}:wait",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "get": {
                  "path": "v1/{+name}",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "The name of the operation resource.",
                      "type": "string",
                      "pattern": "^studies/[^/]+/trials/[^/]+/operations/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/studies/{studiesId}/trials/{trialsId}/operations/{operationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/aiplatform",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "aiplatform.studies.trials.operations.get"
                }
              }
            }
          }
        }
      }
    },
    "models": {
      "resources": {
        "operations": {
          "methods": {
            "list": {
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "description": "The standard list page size.",
                  "location": "query",
                  "format": "int32"
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "The standard list filter."
                },
                "name": {
                  "required": true,
                  "pattern": "^models/[^/]+$",
                  "description": "The name of the operation's parent resource.",
                  "type": "string",
                  "location": "path"
                },
                "pageToken": {
                  "type": "string",
                  "description": "The standard list page token.",
                  "location": "query"
                },
                "returnPartialSuccess": {
                  "type": "boolean",
                  "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                  "location": "query"
                }
              },
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
              "flatPath": "v1/models/{modelsId}/operations",
              "id": "aiplatform.models.operations.list",
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "path": "v1/{+name}/operations",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "cancel": {
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "The name of the operation resource to be cancelled.",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^models/[^/]+/operations/[^/]+$"
                }
              },
              "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
              "id": "aiplatform.models.operations.cancel",
              "flatPath": "v1/models/{modelsId}/operations/{operationsId}:cancel",
              "path": "v1/{+name}:cancel",
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "pattern": "^models/[^/]+/operations/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "The name of the operation resource to be deleted.",
                  "required": true
                }
              },
              "path": "v1/{+name}",
              "flatPath": "v1/models/{modelsId}/operations/{operationsId}",
              "id": "aiplatform.models.operations.delete",
              "httpMethod": "DELETE",
              "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`."
            },
            "get": {
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^models/[^/]+/operations/[^/]+$",
                  "description": "The name of the operation resource.",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "path": "v1/{+name}",
              "id": "aiplatform.models.operations.get",
              "flatPath": "v1/models/{modelsId}/operations/{operationsId}",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ]
            },
            "wait": {
              "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "timeout": {
                  "type": "string",
                  "location": "query",
                  "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                  "format": "google-duration"
                },
                "name": {
                  "type": "string",
                  "description": "The name of the operation resource to wait on.",
                  "location": "path",
                  "pattern": "^models/[^/]+/operations/[^/]+$",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "flatPath": "v1/models/{modelsId}/operations/{operationsId}:wait",
              "id": "aiplatform.models.operations.wait",
              "httpMethod": "POST",
              "path": "v1/{+name}:wait"
            }
          }
        },
        "evaluations": {
          "resources": {
            "operations": {
              "methods": {
                "cancel": {
                  "httpMethod": "POST",
                  "flatPath": "v1/models/{modelsId}/evaluations/{evaluationsId}/operations/{operationsId}:cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/aiplatform",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}:cancel",
                  "id": "aiplatform.models.evaluations.operations.cancel",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^models/[^/]+/evaluations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be cancelled.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`."
                },
                "list": {
                  "httpMethod": "GET",
                  "flatPath": "v1/models/{modelsId}/evaluations/{evaluationsId}/operations",
                  "path": "v1/{+name}/operations",
                  "id": "aiplatform.models.evaluations.operations.list",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation's parent resource.",
                      "type": "string",
                      "pattern": "^models/[^/]+/evaluations/[^/]+$",
                      "location": "path",
                      "required": true
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "The standard list page token."
                    },
                    "returnPartialSuccess": {
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The standard list page size.",
                      "location": "query"
                    },
                    "filter": {
                      "description": "The standard list filter.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/aiplatform",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/aiplatform",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/models/{modelsId}/evaluations/{evaluationsId}/operations/{operationsId}",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "id": "aiplatform.models.evaluations.operations.get",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "The name of the operation resource.",
                      "location": "path",
                      "pattern": "^models/[^/]+/evaluations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
                },
                "wait": {
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
                  "path": "v1/{+name}:wait",
                  "parameters": {
                    "timeout": {
                      "type": "string",
                      "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                      "format": "google-duration",
                      "location": "query"
                    },
                    "name": {
                      "type": "string",
                      "pattern": "^models/[^/]+/evaluations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "The name of the operation resource to wait on."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/aiplatform",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "aiplatform.models.evaluations.operations.wait",
                  "flatPath": "v1/models/{modelsId}/evaluations/{evaluationsId}/operations/{operationsId}:wait"
                },
                "delete": {
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "aiplatform.models.evaluations.operations.delete",
                  "flatPath": "v1/models/{modelsId}/evaluations/{evaluationsId}/operations/{operationsId}",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^models/[^/]+/evaluations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "The name of the operation resource to be deleted."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "memoryBanks": {
      "resources": {
        "operations": {
          "methods": {
            "wait": {
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
              "id": "aiplatform.memoryBanks.operations.wait",
              "flatPath": "v1/memoryBanks/{memoryBanksId}/operations/{operationsId}:wait",
              "path": "v1/{+name}:wait",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "The name of the operation resource to wait on.",
                  "pattern": "^memoryBanks/[^/]+/operations/[^/]+$",
                  "location": "path"
                },
                "timeout": {
                  "location": "query",
                  "type": "string",
                  "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                  "format": "google-duration"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "delete": {
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "description": "The name of the operation resource to be deleted.",
                  "location": "path",
                  "pattern": "^memoryBanks/[^/]+/operations/[^/]+$"
                }
              },
              "flatPath": "v1/memoryBanks/{memoryBanksId}/operations/{operationsId}",
              "id": "aiplatform.memoryBanks.operations.delete",
              "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ]
            },
            "get": {
              "httpMethod": "GET",
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "aiplatform.memoryBanks.operations.get",
              "flatPath": "v1/memoryBanks/{memoryBanksId}/operations/{operationsId}",
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "description": "The name of the operation resource.",
                  "required": true,
                  "pattern": "^memoryBanks/[^/]+/operations/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              }
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}/operations",
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
              "parameters": {
                "filter": {
                  "description": "The standard list filter.",
                  "location": "query",
                  "type": "string"
                },
                "returnPartialSuccess": {
                  "type": "boolean",
                  "location": "query",
                  "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                },
                "name": {
                  "description": "The name of the operation's parent resource.",
                  "location": "path",
                  "type": "string",
                  "pattern": "^memoryBanks/[^/]+$",
                  "required": true
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "The standard list page size.",
                  "type": "integer"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "The standard list page token."
                }
              },
              "parameterOrder": [
                "name"
              ],
              "id": "aiplatform.memoryBanks.operations.list",
              "flatPath": "v1/memoryBanks/{memoryBanksId}/operations",
              "httpMethod": "GET"
            },
            "cancel": {
              "parameters": {
                "name": {
                  "pattern": "^memoryBanks/[^/]+/operations/[^/]+$",
                  "description": "The name of the operation resource to be cancelled.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "flatPath": "v1/memoryBanks/{memoryBanksId}/operations/{operationsId}:cancel",
              "path": "v1/{+name}:cancel",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
              "id": "aiplatform.memoryBanks.operations.cancel",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "httpMethod": "POST"
            }
          }
        },
        "memories": {
          "resources": {
            "operations": {
              "methods": {
                "wait": {
                  "parameters": {
                    "timeout": {
                      "type": "string",
                      "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                      "format": "google-duration",
                      "location": "query"
                    },
                    "name": {
                      "required": true,
                      "description": "The name of the operation resource to wait on.",
                      "pattern": "^memoryBanks/[^/]+/memories/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "id": "aiplatform.memoryBanks.memories.operations.wait",
                  "flatPath": "v1/memoryBanks/{memoryBanksId}/memories/{memoriesId}/operations/{operationsId}:wait",
                  "scopes": [
                    "https://www.googleapis.com/auth/aiplatform",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
                  "path": "v1/{+name}:wait",
                  "httpMethod": "POST"
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "flatPath": "v1/memoryBanks/{memoryBanksId}/memories/{memoriesId}/operations/{operationsId}",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "The name of the operation resource to be deleted.",
                      "pattern": "^memoryBanks/[^/]+/memories/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "id": "aiplatform.memoryBanks.memories.operations.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "cancel": {
                  "scopes": [
                    "https://www.googleapis.com/auth/aiplatform",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "flatPath": "v1/memoryBanks/{memoryBanksId}/memories/{memoriesId}/operations/{operationsId}:cancel",
                  "id": "aiplatform.memoryBanks.memories.operations.cancel",
                  "path": "v1/{+name}:cancel",
                  "parameters": {
                    "name": {
                      "pattern": "^memoryBanks/[^/]+/memories/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be cancelled.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  }
                },
                "get": {
                  "httpMethod": "GET",
                  "flatPath": "v1/memoryBanks/{memoryBanksId}/memories/{memoriesId}/operations/{operationsId}",
                  "id": "aiplatform.memoryBanks.memories.operations.get",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^memoryBanks/[^/]+/memories/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource.",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/aiplatform",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
                },
                "list": {
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "path": "v1/{+name}/operations",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/memoryBanks/{memoryBanksId}/memories/{memoriesId}/operations",
                  "id": "aiplatform.memoryBanks.memories.operations.list",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/aiplatform",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  },
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "The standard list page token."
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "The standard list page size."
                    },
                    "returnPartialSuccess": {
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "filter": {
                      "location": "query",
                      "description": "The standard list filter.",
                      "type": "string"
                    },
                    "name": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^memoryBanks/[^/]+/memories/[^/]+$",
                      "required": true,
                      "description": "The name of the operation's parent resource."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "onlineEvaluators": {
      "resources": {
        "operations": {
          "methods": {
            "get": {
              "path": "v1/{+name}",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "parameters": {
                "name": {
                  "description": "The name of the operation resource.",
                  "required": true,
                  "pattern": "^onlineEvaluators/[^/]+/operations/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "aiplatform.onlineEvaluators.operations.get",
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/onlineEvaluators/{onlineEvaluatorsId}/operations/{operationsId}"
            },
            "wait": {
              "parameters": {
                "name": {
                  "required": true,
                  "description": "The name of the operation resource to wait on.",
                  "type": "string",
                  "pattern": "^onlineEvaluators/[^/]+/operations/[^/]+$",
                  "location": "path"
                },
                "timeout": {
                  "format": "google-duration",
                  "location": "query",
                  "type": "string",
                  "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "aiplatform.onlineEvaluators.operations.wait",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}:wait",
              "flatPath": "v1/onlineEvaluators/{onlineEvaluatorsId}/operations/{operationsId}:wait",
              "httpMethod": "POST"
            },
            "cancel": {
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "id": "aiplatform.onlineEvaluators.operations.cancel",
              "path": "v1/{+name}:cancel",
              "flatPath": "v1/onlineEvaluators/{onlineEvaluatorsId}/operations/{operationsId}:cancel",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "description": "The name of the operation resource to be cancelled.",
                  "pattern": "^onlineEvaluators/[^/]+/operations/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`."
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/onlineEvaluators/{onlineEvaluatorsId}/operations/{operationsId}",
              "httpMethod": "DELETE",
              "id": "aiplatform.onlineEvaluators.operations.delete",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^onlineEvaluators/[^/]+/operations/[^/]+$",
                  "description": "The name of the operation resource to be deleted.",
                  "location": "path",
                  "required": true
                }
              },
              "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
              "path": "v1/{+name}",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "path": "v1/{+name}/operations",
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "parameters": {
                "filter": {
                  "description": "The standard list filter.",
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "description": "The standard list page token.",
                  "type": "string",
                  "location": "query"
                },
                "name": {
                  "description": "The name of the operation's parent resource.",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^onlineEvaluators/[^/]+$"
                },
                "pageSize": {
                  "description": "The standard list page size.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "returnPartialSuccess": {
                  "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                  "location": "query",
                  "type": "boolean"
                }
              },
              "id": "aiplatform.onlineEvaluators.operations.list",
              "parameterOrder": [
                "name"
              ],
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/onlineEvaluators/{onlineEvaluatorsId}/operations",
              "httpMethod": "GET"
            }
          }
        }
      }
    },
    "endpoints": {
      "resources": {
        "operations": {
          "methods": {
            "delete": {
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}",
              "flatPath": "v1/endpoints/{endpointsId}/operations/{operationsId}",
              "id": "aiplatform.endpoints.operations.delete",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^endpoints/[^/]+/operations/[^/]+$",
                  "type": "string",
                  "description": "The name of the operation resource to be deleted."
                }
              },
              "parameterOrder": [
                "name"
              ]
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "pattern": "^endpoints/[^/]+/operations/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The name of the operation resource."
                }
              },
              "flatPath": "v1/endpoints/{endpointsId}/operations/{operationsId}",
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "aiplatform.endpoints.operations.get",
              "path": "v1/{+name}"
            },
            "wait": {
              "id": "aiplatform.endpoints.operations.wait",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "flatPath": "v1/endpoints/{endpointsId}/operations/{operationsId}:wait",
              "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
              "parameters": {
                "name": {
                  "pattern": "^endpoints/[^/]+/operations/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "The name of the operation resource to wait on.",
                  "location": "path"
                },
                "timeout": {
                  "format": "google-duration",
                  "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                  "location": "query",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "path": "v1/{+name}:wait",
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "httpMethod": "GET",
              "id": "aiplatform.endpoints.operations.list",
              "flatPath": "v1/endpoints/{endpointsId}/operations",
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "pageSize": {
                  "description": "The standard list page size.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "returnPartialSuccess": {
                  "location": "query",
                  "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                  "type": "boolean"
                },
                "filter": {
                  "type": "string",
                  "description": "The standard list filter.",
                  "location": "query"
                },
                "name": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "The name of the operation's parent resource.",
                  "pattern": "^endpoints/[^/]+$"
                },
                "pageToken": {
                  "type": "string",
                  "description": "The standard list page token.",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}/operations"
            },
            "cancel": {
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "pattern": "^endpoints/[^/]+/operations/[^/]+$",
                  "type": "string",
                  "description": "The name of the operation resource to be cancelled."
                }
              },
              "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
              "id": "aiplatform.endpoints.operations.cancel",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "flatPath": "v1/endpoints/{endpointsId}/operations/{operationsId}:cancel",
              "path": "v1/{+name}:cancel",
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ]
            }
          }
        },
        "chat": {
          "methods": {
            "completions": {
              "parameterOrder": [
                "endpoint"
              ],
              "flatPath": "v1/endpoints/{endpointsId}/chat/completions",
              "parameters": {
                "endpoint": {
                  "type": "string",
                  "pattern": "^endpoints/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the endpoint requested to serve the prediction. Format: `projects/{project}/locations/{location}/endpoints/{endpoint}`"
                }
              },
              "httpMethod": "POST",
              "path": "v1/{+endpoint}/chat/completions",
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "id": "aiplatform.endpoints.chat.completions",
              "request": {
                "$ref": "GoogleApiHttpBody"
              },
              "response": {
                "$ref": "GoogleApiHttpBody"
              },
              "description": "Exposes an OpenAI-compatible endpoint for chat completions."
            }
          }
        }
      },
      "methods": {
        "streamGenerateContent": {
          "parameterOrder": [
            "model"
          ],
          "path": "v1/{+model}:streamGenerateContent",
          "response": {
            "$ref": "GoogleCloudAiplatformV1GenerateContentResponse"
          },
          "request": {
            "$ref": "GoogleCloudAiplatformV1GenerateContentRequest"
          },
          "description": "Generate content with multimodal inputs with streaming support.",
          "httpMethod": "POST",
          "parameters": {
            "model": {
              "pattern": "^endpoints/[^/]+$",
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Required. The fully qualified name of the publisher model or tuned model endpoint to use. Publisher model format: `projects/{project}/locations/{location}/publishers/*/models/*` Tuned model endpoint format: `projects/{project}/locations/{location}/endpoints/{endpoint}`"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/aiplatform",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "flatPath": "v1/endpoints/{endpointsId}:streamGenerateContent",
          "id": "aiplatform.endpoints.streamGenerateContent"
        },
        "countTokens": {
          "flatPath": "v1/endpoints/{endpointsId}:countTokens",
          "parameters": {
            "endpoint": {
              "description": "Required. The name of the Endpoint requested to perform token counting. Format: `projects/{project}/locations/{location}/endpoints/{endpoint}`",
              "location": "path",
              "pattern": "^endpoints/[^/]+$",
              "type": "string",
              "required": true
            }
          },
          "parameterOrder": [
            "endpoint"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "GoogleCloudAiplatformV1CountTokensRequest"
          },
          "path": "v1/{+endpoint}:countTokens",
          "id": "aiplatform.endpoints.countTokens",
          "description": "Perform a token counting.",
          "response": {
            "$ref": "GoogleCloudAiplatformV1CountTokensResponse"
          },
          "httpMethod": "POST"
        },
        "fetchPredictOperation": {
          "flatPath": "v1/endpoints/{endpointsId}:fetchPredictOperation",
          "parameters": {
            "endpoint": {
              "required": true,
              "location": "path",
              "description": "Required. The name of the Endpoint requested to serve the prediction. Format: `projects/{project}/locations/{location}/endpoints/{endpoint}` or `projects/{project}/locations/{location}/publishers/{publisher}/models/{model}`",
              "type": "string",
              "pattern": "^endpoints/[^/]+$"
            }
          },
          "description": "Fetch an asynchronous online prediction operation.",
          "id": "aiplatform.endpoints.fetchPredictOperation",
          "scopes": [
            "https://www.googleapis.com/auth/aiplatform",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "path": "v1/{+endpoint}:fetchPredictOperation",
          "parameterOrder": [
            "endpoint"
          ],
          "response": {
            "$ref": "GoogleLongrunningOperation"
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "GoogleCloudAiplatformV1FetchPredictOperationRequest"
          }
        },
        "computeTokens": {
          "parameterOrder": [
            "endpoint"
          ],
          "id": "aiplatform.endpoints.computeTokens",
          "response": {
            "$ref": "GoogleCloudAiplatformV1ComputeTokensResponse"
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "GoogleCloudAiplatformV1ComputeTokensRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1/{+endpoint}:computeTokens",
          "description": "Return a list of tokens based on the input text.",
          "parameters": {
            "endpoint": {
              "required": true,
              "description": "Required. The name of the Endpoint requested to get lists of tokens and token ids.",
              "location": "path",
              "type": "string",
              "pattern": "^endpoints/[^/]+$"
            }
          },
          "flatPath": "v1/endpoints/{endpointsId}:computeTokens"
        },
        "generateContent": {
          "scopes": [
            "https://www.googleapis.com/auth/aiplatform",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "flatPath": "v1/endpoints/{endpointsId}:generateContent",
          "id": "aiplatform.endpoints.generateContent",
          "parameterOrder": [
            "model"
          ],
          "httpMethod": "POST",
          "parameters": {
            "model": {
              "description": "Required. The fully qualified name of the publisher model or tuned model endpoint to use. Publisher model format: `projects/{project}/locations/{location}/publishers/*/models/*` Tuned model endpoint format: `projects/{project}/locations/{location}/endpoints/{endpoint}`",
              "location": "path",
              "type": "string",
              "required": true,
              "pattern": "^endpoints/[^/]+$"
            }
          },
          "description": "Generate content with multimodal inputs.",
          "path": "v1/{+model}:generateContent",
          "request": {
            "$ref": "GoogleCloudAiplatformV1GenerateContentRequest"
          },
          "response": {
            "$ref": "GoogleCloudAiplatformV1GenerateContentResponse"
          }
        },
        "predict": {
          "parameterOrder": [
            "endpoint"
          ],
          "response": {
            "$ref": "GoogleCloudAiplatformV1PredictResponse"
          },
          "path": "v1/{+endpoint}:predict",
          "request": {
            "$ref": "GoogleCloudAiplatformV1PredictRequest"
          },
          "description": "",
          "id": "aiplatform.endpoints.predict",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/aiplatform",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "endpoint": {
              "pattern": "^endpoints/[^/]+$",
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Required. The name of the Endpoint requested to serve the prediction. Format: `projects/{project}/locations/{location}/endpoints/{endpoint}`"
            }
          },
          "flatPath": "v1/endpoints/{endpointsId}:predict"
        },
        "predictLongRunning": {
          "flatPath": "v1/endpoints/{endpointsId}:predictLongRunning",
          "path": "v1/{+endpoint}:predictLongRunning",
          "scopes": [
            "https://www.googleapis.com/auth/aiplatform",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "httpMethod": "POST",
          "parameterOrder": [
            "endpoint"
          ],
          "parameters": {
            "endpoint": {
              "required": true,
              "location": "path",
              "pattern": "^endpoints/[^/]+$",
              "description": "Required. The name of the Endpoint requested to serve the prediction. Format: `projects/{project}/locations/{location}/endpoints/{endpoint}` or `projects/{project}/locations/{location}/publishers/{publisher}/models/{model}`",
              "type": "string"
            }
          },
          "response": {
            "$ref": "GoogleLongrunningOperation"
          },
          "description": "",
          "request": {
            "$ref": "GoogleCloudAiplatformV1PredictLongRunningRequest"
          },
          "id": "aiplatform.endpoints.predictLongRunning"
        }
      }
    },
    "dataLabelingJobs": {
      "resources": {
        "operations": {
          "methods": {
            "get": {
              "id": "aiplatform.dataLabelingJobs.operations.get",
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/dataLabelingJobs/{dataLabelingJobsId}/operations/{operationsId}",
              "httpMethod": "GET",
              "path": "v1/{+name}",
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "parameters": {
                "name": {
                  "description": "The name of the operation resource.",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^dataLabelingJobs/[^/]+/operations/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              }
            },
            "list": {
              "id": "aiplatform.dataLabelingJobs.operations.list",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "The standard list page token.",
                  "type": "string"
                },
                "pageSize": {
                  "description": "The standard list page size.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "returnPartialSuccess": {
                  "location": "query",
                  "type": "boolean",
                  "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "The standard list filter."
                },
                "name": {
                  "location": "path",
                  "description": "The name of the operation's parent resource.",
                  "pattern": "^dataLabelingJobs/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "path": "v1/{+name}/operations",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/dataLabelingJobs/{dataLabelingJobsId}/operations",
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "httpMethod": "GET"
            },
            "cancel": {
              "response": {
                "$ref": "GoogleProtobufEmpty"
[...]
