{
  "batchPath": "batch",
  "endpoints": [
    {
      "endpointUrl": "https://africa-south1-aiplatform.googleapis.com/",
      "location": "africa-south1",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://asia-east1-aiplatform.googleapis.com/",
      "location": "asia-east1",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://asia-east2-aiplatform.googleapis.com/",
      "location": "asia-east2",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://asia-northeast1-aiplatform.googleapis.com/",
      "location": "asia-northeast1",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://asia-northeast2-aiplatform.googleapis.com/",
      "location": "asia-northeast2",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://asia-northeast3-aiplatform.googleapis.com/",
      "location": "asia-northeast3",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://asia-south1-aiplatform.googleapis.com/",
      "location": "asia-south1",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://asia-south2-aiplatform.googleapis.com/",
      "location": "asia-south2",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://asia-southeast1-aiplatform.googleapis.com/",
      "location": "asia-southeast1",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://asia-southeast2-aiplatform.googleapis.com/",
      "location": "asia-southeast2",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://australia-southeast1-aiplatform.googleapis.com/",
      "location": "australia-southeast1",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://australia-southeast2-aiplatform.googleapis.com/",
      "location": "australia-southeast2",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://europe-central2-aiplatform.googleapis.com/",
      "location": "europe-central2",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://europe-north1-aiplatform.googleapis.com/",
      "location": "europe-north1",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://europe-north2-aiplatform.googleapis.com/",
      "location": "europe-north2",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://europe-southwest1-aiplatform.googleapis.com/",
      "location": "europe-southwest1",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://europe-west1-aiplatform.googleapis.com/",
      "location": "europe-west1",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://europe-west10-aiplatform.googleapis.com/",
      "location": "europe-west10",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://europe-west15-aiplatform.googleapis.com/",
      "location": "europe-west15",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://europe-west2-aiplatform.googleapis.com/",
      "location": "europe-west2",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://europe-west3-aiplatform.googleapis.com/",
      "location": "europe-west3",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://europe-west4-aiplatform.googleapis.com/",
      "location": "europe-west4",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://europe-west6-aiplatform.googleapis.com/",
      "location": "europe-west6",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://europe-west8-aiplatform.googleapis.com/",
      "location": "europe-west8",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://europe-west9-aiplatform.googleapis.com/",
      "location": "europe-west9",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://europe-west12-aiplatform.googleapis.com/",
      "location": "europe-west12",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://me-central1-aiplatform.googleapis.com/",
      "location": "me-central1",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://me-central2-aiplatform.googleapis.com/",
      "location": "me-central2",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://me-west1-aiplatform.googleapis.com/",
      "location": "me-west1",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://northamerica-northeast1-aiplatform.googleapis.com/",
      "location": "northamerica-northeast1",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://northamerica-northeast2-aiplatform.googleapis.com/",
      "location": "northamerica-northeast2",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://southamerica-east1-aiplatform.googleapis.com/",
      "location": "southamerica-east1",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://southamerica-west1-aiplatform.googleapis.com/",
      "location": "southamerica-west1",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://us-central1-aiplatform.googleapis.com/",
      "location": "us-central1",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://us-central2-aiplatform.googleapis.com/",
      "location": "us-central2",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://us-east1-aiplatform.googleapis.com/",
      "location": "us-east1",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://us-east4-aiplatform.googleapis.com/",
      "location": "us-east4",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://us-east7-aiplatform.googleapis.com/",
      "location": "us-east7",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://us-south1-aiplatform.googleapis.com/",
      "location": "us-south1",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://us-west1-aiplatform.googleapis.com/",
      "location": "us-west1",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://us-west2-aiplatform.googleapis.com/",
      "location": "us-west2",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://us-west3-aiplatform.googleapis.com/",
      "location": "us-west3",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://us-west4-aiplatform.googleapis.com/",
      "location": "us-west4",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://us-east5-aiplatform.googleapis.com/",
      "location": "us-east5",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://us-west8-aiplatform.googleapis.com/",
      "location": "us-west8",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://aiplatform.us.rep.googleapis.com/",
      "location": "us",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://aiplatform.eu.rep.googleapis.com/",
      "location": "eu",
      "description": "Regional Endpoint"
    }
  ],
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://aiplatform.mtls.googleapis.com/",
  "protocol": "rest",
  "description": "Build, scale, govern, and optimize sophisticated agents and models.",
  "ownerDomain": "google.com",
  "basePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        }
      }
    }
  },
  "documentationLink": "https://cloud.google.com/vertex-ai/",
  "servicePath": "",
  "id": "aiplatform:v1",
  "revision": "20260703",
  "name": "aiplatform",
  "parameters": {
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    }
  },
  "kind": "discovery#restDescription",
  "version_module": true,
  "baseUrl": "https://aiplatform.googleapis.com/",
  "canonicalName": "Aiplatform",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "schemas": {
    "GoogleCloudAiplatformV1ListMetadataStoresResponse": {
      "id": "GoogleCloudAiplatformV1ListMetadataStoresResponse",
      "type": "object",
      "description": "Response message for MetadataService.ListMetadataStores.",
      "properties": {
        "metadataStores": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1MetadataStore"
          },
          "description": "The MetadataStores found for the Location.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as ListMetadataStoresRequest.page_token to retrieve the next page. If this field is not populated, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1PurgeExecutionsMetadata": {
      "id": "GoogleCloudAiplatformV1PurgeExecutionsMetadata",
      "description": "Details of operations that perform MetadataService.PurgeExecutions.",
      "properties": {
        "genericMetadata": {
          "description": "Operation metadata for purging Executions.",
          "$ref": "GoogleCloudAiplatformV1GenericOperationMetadata"
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1SafetyInstance": {
      "id": "GoogleCloudAiplatformV1SafetyInstance",
      "description": "Spec for safety instance.",
      "properties": {
        "prediction": {
          "type": "string",
          "description": "Required. Output of the evaluated model."
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1CustomCodeExecutionResult": {
      "id": "GoogleCloudAiplatformV1CustomCodeExecutionResult",
      "type": "object",
      "description": "Result for custom code execution metric.",
      "properties": {
        "score": {
          "format": "float",
          "description": "Output only. Custom code execution score.",
          "readOnly": true,
          "type": "number"
        }
      }
    },
    "GoogleCloudAiplatformV1TrajectoryPrecisionInput": {
      "type": "object",
      "description": "Instances and metric spec for TrajectoryPrecision metric.",
      "properties": {
        "metricSpec": {
          "description": "Required. Spec for TrajectoryPrecision metric.",
          "$ref": "GoogleCloudAiplatformV1TrajectoryPrecisionSpec"
        },
        "instances": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1TrajectoryPrecisionInstance"
          },
          "description": "Required. Repeated TrajectoryPrecision instance.",
          "type": "array"
        }
      },
      "id": "GoogleCloudAiplatformV1TrajectoryPrecisionInput"
    },
    "GoogleCloudAiplatformV1CometResult": {
      "id": "GoogleCloudAiplatformV1CometResult",
      "description": "Spec for Comet result - calculates the comet score for the given instance using the version specified in the spec.",
      "properties": {
        "score": {
          "format": "float",
          "description": "Output only. Comet score. Range depends on version.",
          "readOnly": true,
          "type": "number"
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1SampledShapleyAttribution": {
      "id": "GoogleCloudAiplatformV1SampledShapleyAttribution",
      "description": "An attribution method that approximates Shapley values for features that contribute to the label being predicted. A sampling strategy is used to approximate the value rather than considering all subsets of features.",
      "properties": {
        "pathCount": {
          "format": "int32",
          "description": "Required. The number of feature permutations to consider when approximating the Shapley values. Valid range of its value is [1, 50], inclusively.",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1RemoveDatapointsRequest": {
      "id": "GoogleCloudAiplatformV1RemoveDatapointsRequest",
      "type": "object",
      "description": "Request message for IndexService.RemoveDatapoints",
      "properties": {
        "datapointIds": {
          "items": {
            "type": "string"
          },
          "description": "A list of datapoint ids to be deleted.",
          "type": "array"
        }
      }
    },
    "GoogleCloudAiplatformV1GenerateVideoResponse": {
      "id": "GoogleCloudAiplatformV1GenerateVideoResponse",
      "type": "object",
      "description": "Generate video response.",
      "properties": {
        "raiMediaFilteredCount": {
          "format": "int32",
          "type": "integer",
          "description": "Returns if any videos were filtered due to RAI policies."
        },
        "generatedSamples": {
          "description": "The cloud storage uris of the generated videos.",
          "type": "array",
          "deprecated": true,
          "items": {
            "type": "string"
          }
        },
        "raiMediaFilteredReasons": {
          "items": {
            "type": "string"
          },
          "description": "Returns rai failure reasons if any.",
          "type": "array"
        },
        "videos": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1GenerateVideoResponseVideo"
          },
          "type": "array",
          "description": "List of video bytes or Cloud Storage URIs of the generated videos."
        }
      }
    },
    "GoogleCloudAiplatformV1SchemaPredictPredictionVideoObjectTrackingPredictionResult": {
      "id": "GoogleCloudAiplatformV1SchemaPredictPredictionVideoObjectTrackingPredictionResult",
      "description": "Prediction output format for Video Object Tracking.",
      "properties": {
        "id": {
          "type": "string",
          "description": "The resource ID of the AnnotationSpec that had been identified."
        },
        "frames": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1SchemaPredictPredictionVideoObjectTrackingPredictionResultFrame"
          },
          "type": "array",
          "description": "All of the frames of the video in which a single object instance has been detected. The bounding boxes in the frames identify the same object."
        },
        "timeSegmentStart": {
          "format": "google-duration",
          "type": "string",
          "description": "The beginning, inclusive, of the video's time segment in which the object instance has been detected. Expressed as a number of seconds as measured from the start of the video, with fractions up to a microsecond precision, and with \"s\" appended at the end."
        },
        "confidence": {
          "format": "float",
          "description": "The Model's confidence in correction of this prediction, higher value means higher confidence.",
          "type": "number"
        },
        "timeSegmentEnd": {
          "format": "google-duration",
          "type": "string",
          "description": "The end, inclusive, of the video's time segment in which the object instance has been detected. Expressed as a number of seconds as measured from the start of the video, with fractions up to a microsecond precision, and with \"s\" appended at the end."
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the AnnotationSpec that had been identified."
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1DeployRequest": {
      "id": "GoogleCloudAiplatformV1DeployRequest",
      "type": "object",
      "description": "Request message for ModelGardenService.Deploy.",
      "properties": {
        "deployConfig": {
          "description": "Optional. The deploy config to use for the deployment. If not specified, the default deploy config will be used.",
          "$ref": "GoogleCloudAiplatformV1DeployRequestDeployConfig"
        },
        "modelConfig": {
          "description": "Optional. The model config to use for the deployment. If not specified, the default model config will be used.",
          "$ref": "GoogleCloudAiplatformV1DeployRequestModelConfig"
        },
        "huggingFaceModelId": {
          "type": "string",
          "description": "The Hugging Face model to deploy. Format: Hugging Face model ID like `google/gemma-2-2b-it`."
        },
        "publisherModelName": {
          "description": "The Model Garden model to deploy. Format: `publishers/{publisher}/models/{publisher_model}@{version_id}`, or `publishers/hf-{hugging-face-author}/models/{hugging-face-model-name}@001`.",
          "type": "string"
        },
        "endpointConfig": {
          "description": "Optional. The endpoint config to use for the deployment. If not specified, the default endpoint config will be used.",
          "$ref": "GoogleCloudAiplatformV1DeployRequestEndpointConfig"
        }
      }
    },
    "GoogleCloudAiplatformV1ListPersistentResourcesResponse": {
      "type": "object",
      "description": "Response message for PersistentResourceService.ListPersistentResources",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve next page of results. Pass to ListPersistentResourcesRequest.page_token to obtain that page.",
          "type": "string"
        },
        "persistentResources": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1PersistentResource"
          }
        }
      },
      "id": "GoogleCloudAiplatformV1ListPersistentResourcesResponse"
    },
    "GoogleCloudAiplatformV1ModelBaseModelSource": {
      "type": "object",
      "description": "User input field to specify the base model source. Currently it only supports specifing the Model Garden models and Genie models.",
      "properties": {
        "modelGardenSource": {
          "description": "Source information of Model Garden models.",
          "$ref": "GoogleCloudAiplatformV1ModelGardenSource"
        },
        "genieSource": {
          "description": "Information about the base model of Genie models.",
          "$ref": "GoogleCloudAiplatformV1GenieSource"
        }
      },
      "id": "GoogleCloudAiplatformV1ModelBaseModelSource"
    },
    "GoogleCloudAiplatformV1CoherenceInstance": {
      "type": "object",
      "description": "Spec for coherence instance.",
      "properties": {
        "prediction": {
          "description": "Required. Output of the evaluated model.",
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1CoherenceInstance"
    },
    "GoogleCloudAiplatformV1FunctionResponseBlob": {
      "description": "Raw media bytes for function response. Text should not be sent as raw bytes, use the 'text' field.",
      "properties": {
        "mimeType": {
          "type": "string",
          "description": "Required. The IANA standard MIME type of the source data."
        },
        "data": {
          "format": "byte",
          "description": "Required. Raw bytes.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Optional. Display name of the blob. Used to provide a label or filename to distinguish blobs. This field is only returned in PromptMessage for prompt management. It is currently used in the Gemini GenerateContent calls only when server side tools (code_execution, google_search, and url_context) are enabled."
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1FunctionResponseBlob"
    },
    "GoogleCloudAiplatformV1FunctionDeclaration": {
      "description": "Structured representation of a function declaration as defined by the [OpenAPI 3.0 specification](https://spec.openapis.org/oas/v3.0.3). Included in this declaration are the function name, description, parameters and response type. This FunctionDeclaration is a representation of a block of code that can be used as a `Tool` by the model and executed by the client.",
      "properties": {
        "parameters": {
          "description": "Optional. Describes the parameters to this function in JSON Schema Object format. Reflects the Open API 3.03 Parameter Object. string Key: the name of the parameter. Parameter names are case sensitive. Schema Value: the Schema defining the type used for the parameter. For function with no parameters, this can be left unset. Parameter names must start with a letter or an underscore and must only contain chars a-z, A-Z, 0-9, or underscores with a maximum length of 64. Example with 1 required and 1 optional parameter: type: OBJECT properties: param1: type: STRING param2: type: INTEGER required: - param1",
          "$ref": "GoogleCloudAiplatformV1Schema"
        },
        "parametersJsonSchema": {
          "description": "Optional. Describes the parameters to the function in JSON Schema format. The schema must describe an object where the properties are the parameters to the function. For example: ``` { \"type\": \"object\", \"properties\": { \"name\": { \"type\": \"string\" }, \"age\": { \"type\": \"integer\" } }, \"additionalProperties\": false, \"required\": [\"name\", \"age\"], \"propertyOrdering\": [\"name\", \"age\"] } ``` This field is mutually exclusive with `parameters`.",
          "type": "any"
        },
        "behavior": {
          "enum": [
            "UNSPECIFIED",
            "BLOCKING",
            "NON_BLOCKING"
          ],
          "type": "string",
          "enumDescriptions": [
            "This value is unspecified.",
            "If set, the system will wait to receive the function response before continuing the conversation.",
            "If set, the system will not wait to receive the function response. Instead, it will attempt to handle function responses as they become available while maintaining the conversation between the user and the model."
          ],
          "description": "Optional. Specifies the function Behavior. If not specified, the system keeps the current function call behavior. This field is currently only supported by the BidiGenerateContent method."
        },
        "name": {
          "type": "string",
          "description": "Required. The name of the function to call. Must start with a letter or an underscore. Must be a-z, A-Z, 0-9, or contain underscores, dots, colons and dashes, with a maximum length of 128."
        },
        "response": {
          "description": "Optional. Describes the output from this function in JSON Schema format. Reflects the Open API 3.03 Response Object. The Schema defines the type used for the response value of the function.",
          "$ref": "GoogleCloudAiplatformV1Schema"
        },
        "responseJsonSchema": {
          "type": "any",
          "description": "Optional. Describes the output from this function in JSON Schema format. The value specified by the schema is the response value of the function. This field is mutually exclusive with `response`."
        },
        "description": {
          "description": "Optional. Description and purpose of the function. Model uses it to decide how and whether to call the function.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1FunctionDeclaration"
    },
    "GoogleCloudAiplatformV1VertexAISearchDataStoreSpec": {
      "type": "object",
      "description": "Define data stores within engine to filter on in a search call and configurations for those data stores. For more information, see https://cloud.google.com/generative-ai-app-builder/docs/reference/rpc/google.cloud.discoveryengine.v1#datastorespec",
      "properties": {
        "dataStore": {
          "type": "string",
          "description": "Full resource name of DataStore, such as Format: `projects/{project}/locations/{location}/collections/{collection}/dataStores/{dataStore}`"
        },
        "filter": {
          "description": "Optional. Filter specification to filter documents in the data store specified by data_store field. For more information on filtering, see [Filtering](https://cloud.google.com/generative-ai-app-builder/docs/filter-search-metadata)",
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1VertexAISearchDataStoreSpec"
    },
    "GoogleCloudAiplatformV1AudioResponseFormat": {
      "id": "GoogleCloudAiplatformV1AudioResponseFormat",
      "description": "Configuration for audio-specific output formatting.",
      "properties": {
        "delivery": {
          "enum": [
            "DELIVERY_UNSPECIFIED",
            "INLINE",
            "URI"
          ],
          "description": "Optional. Delivery mode for the generated content.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Generated bytes are returned inline in the response.",
            "Generated content is stored and a URI is returned."
          ]
        },
        "mimeType": {
          "enum": [
            "MIME_TYPE_UNSPECIFIED",
            "AUDIO_MP3",
            "AUDIO_OGG_OPUS",
            "AUDIO_L16",
            "AUDIO_WAV",
            "AUDIO_ALAW",
            "AUDIO_MULAW"
          ],
          "description": "Optional. The MIME type of the audio output.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "MP3 audio format.",
            "OGG Opus audio format.",
            "Raw PCM (L16) audio format.",
            "WAV audio format.",
            "A-law audio format.",
            "Mu-law audio format."
          ]
        },
        "sampleRate": {
          "description": "Optional. Sample rate for the generated audio in Hertz.",
          "type": "integer",
          "format": "int32"
        },
        "bitRate": {
          "type": "integer",
          "description": "Optional. Bit rate in bits per second (bps). Only applicable for compressed formats (MP3, Opus).",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1EvaluationRunEvaluationConfigOutputConfig": {
      "id": "GoogleCloudAiplatformV1EvaluationRunEvaluationConfigOutputConfig",
      "type": "object",
      "description": "The output config for the evaluation run.",
      "properties": {
        "bigqueryDestination": {
          "description": "BigQuery destination for evaluation output.",
          "$ref": "GoogleCloudAiplatformV1BigQueryDestination"
        },
        "gcsDestination": {
          "description": "Cloud Storage destination for evaluation output.",
          "$ref": "GoogleCloudAiplatformV1GcsDestination"
        }
      }
    },
    "CloudAiLargeModelsVisionPromptInputs": {
      "id": "CloudAiLargeModelsVisionPromptInputs",
      "type": "object",
      "description": "\"Direct\" prompting for Experimental Video Generation. These will be sent directly to the LDM without being rewritten.",
      "properties": {
        "promptChunks": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "2s, 256 tokens per chunk, 4 total chunks. Required."
        },
        "negativeAudioPrompt": {
          "description": "Negative description of audio content in the video.",
          "type": "string"
        },
        "transcript": {
          "type": "string",
          "description": "Spoken transcript of the video for characters."
        },
        "negativePrompt": {
          "type": "string",
          "description": "Single negative prompt for what not to generate."
        },
        "audioPrompt": {
          "description": "Description of audio content in the video, without speech.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1SpeculativeDecodingSpecNgramSpeculation": {
      "id": "GoogleCloudAiplatformV1SpeculativeDecodingSpecNgramSpeculation",
      "description": "N-Gram speculation works by trying to find matching tokens in the previous prompt sequence and use those as speculation for generating new tokens.",
      "properties": {
        "ngramSize": {
          "format": "int32",
          "type": "integer",
          "description": "The number of last N input tokens used as ngram to search/match against the previous prompt sequence. This is equal to the N in N-Gram. The default value is 3 if not specified."
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1PublisherModel": {
      "type": "object",
      "description": "A Model Garden Publisher Model.",
      "properties": {
        "supportedActions": {
          "description": "Optional. Supported call-to-action options.",
          "$ref": "GoogleCloudAiplatformV1PublisherModelCallToAction"
        },
        "versionId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Immutable. The version ID of the PublisherModel. A new version is committed when a new model version is uploaded under an existing model id. It is an auto-incrementing decimal number in string representation."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Identifier. The resource name of the PublisherModel."
        },
        "launchStage": {
          "type": "string",
          "enumDescriptions": [
            "The model launch stage is unspecified.",
            "Used to indicate the PublisherModel is at Experimental launch stage, available to a small set of customers.",
            "Used to indicate the PublisherModel is at Private Preview launch stage, only available to a small set of customers, although a larger set of customers than an Experimental launch. Previews are the first launch stage used to get feedback from customers.",
            "Used to indicate the PublisherModel is at Public Preview launch stage, available to all customers, although not supported for production workloads.",
            "Used to indicate the PublisherModel is at GA launch stage, available to all customers and ready for production workload."
          ],
          "description": "Optional. Indicates the launch stage of the model.",
          "enum": [
            "LAUNCH_STAGE_UNSPECIFIED",
            "EXPERIMENTAL",
            "PRIVATE_PREVIEW",
            "PUBLIC_PREVIEW",
            "GA"
          ]
        },
        "versionState": {
          "type": "string",
          "enumDescriptions": [
            "The version state is unspecified.",
            "Used to indicate the version is stable.",
            "Used to indicate the version is unstable."
          ],
          "description": "Optional. Indicates the state of the model version.",
          "enum": [
            "VERSION_STATE_UNSPECIFIED",
            "VERSION_STATE_STABLE",
            "VERSION_STATE_UNSTABLE"
          ]
        },
        "publisherModelTemplate": {
          "readOnly": true,
          "type": "string",
          "description": "Optional. Output only. Immutable. Used to indicate this model has a publisher model and provide the template of the publisher model resource name."
        },
        "openSourceCategory": {
          "enum": [
            "OPEN_SOURCE_CATEGORY_UNSPECIFIED",
            "PROPRIETARY",
            "GOOGLE_OWNED_OSS_WITH_GOOGLE_CHECKPOINT",
            "THIRD_PARTY_OWNED_OSS_WITH_GOOGLE_CHECKPOINT",
            "GOOGLE_OWNED_OSS",
            "THIRD_PARTY_OWNED_OSS"
          ],
          "type": "string",
          "enumDescriptions": [
            "The open source category is unspecified, which should not be used.",
            "Used to indicate the PublisherModel is not open sourced.",
            "Used to indicate the PublisherModel is a Google-owned open source model w/ Google checkpoint.",
            "Used to indicate the PublisherModel is a 3p-owned open source model w/ Google checkpoint.",
            "Used to indicate the PublisherModel is a Google-owned pure open source model.",
            "Used to indicate the PublisherModel is a 3p-owned pure open source model."
          ],
          "description": "Required. Indicates the open source category of the publisher model."
        },
        "predictSchemata": {
          "description": "Optional. The schemata that describes formats of the PublisherModel's predictions and explanations as given and returned via PredictionService.Predict.",
          "$ref": "GoogleCloudAiplatformV1PredictSchemata"
        },
        "frameworks": {
          "description": "Optional. Additional information about the model's Frameworks.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudAiplatformV1PublisherModel"
    },
    "GoogleCloudAiplatformV1EvaluationRubricConfig": {
      "description": "Configuration for a rubric group to be generated/saved for evaluation.",
      "properties": {
        "rubricGenerationSpec": {
          "description": "Dynamically generate rubrics using this specification.",
          "$ref": "GoogleCloudAiplatformV1EvaluationRunMetricRubricGenerationSpec"
        },
        "predefinedRubricGenerationSpec": {
          "description": "Dynamically generate rubrics using a predefined spec.",
          "$ref": "GoogleCloudAiplatformV1EvaluationRunMetricPredefinedMetricSpec"
        },
        "rubricGroupKey": {
          "type": "string",
          "description": "Required. The key used to save the generated rubrics. If a generation spec is provided, this key will be used for the name of the generated rubric group. Otherwise, this key will be used to look up the existing rubric group on the evaluation item. Note that if a rubric group key is specified on both a rubric config and an evaluation metric, the key from the metric will be used to select the rubrics for evaluation."
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1EvaluationRubricConfig"
    },
    "GoogleCloudAiplatformV1BatchImportModelEvaluationSlicesRequest": {
      "description": "Request message for ModelService.BatchImportModelEvaluationSlices",
      "properties": {
        "modelEvaluationSlices": {
          "description": "Required. Model evaluation slice resource to be imported.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1ModelEvaluationSlice"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1BatchImportModelEvaluationSlicesRequest"
    },
    "GoogleCloudAiplatformV1ScheduleRunResponse": {
      "id": "GoogleCloudAiplatformV1ScheduleRunResponse",
      "description": "Status of a scheduled run.",
      "properties": {
        "scheduledRunTime": {
          "description": "The scheduled run time based on the user-specified schedule.",
          "type": "string",
          "format": "google-datetime"
        },
        "runResponse": {
          "type": "string",
          "description": "The response of the scheduled run."
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1CreateTensorboardTimeSeriesRequest": {
      "id": "GoogleCloudAiplatformV1CreateTensorboardTimeSeriesRequest",
      "description": "Request message for TensorboardService.CreateTensorboardTimeSeries.",
      "properties": {
        "parent": {
          "description": "Required. The resource name of the TensorboardRun to create the TensorboardTimeSeries in. Format: `projects/{project}/locations/{location}/tensorboards/{tensorboard}/experiments/{experiment}/runs/{run}`",
          "type": "string"
        },
        "tensorboardTimeSeriesId": {
          "description": "Optional. The user specified unique ID to use for the TensorboardTimeSeries, which becomes the final component of the TensorboardTimeSeries's resource name. This value should match \"a-z0-9{0, 127}\"",
          "type": "string"
        },
        "tensorboardTimeSeries": {
          "description": "Required. The TensorboardTimeSeries to create.",
          "$ref": "GoogleCloudAiplatformV1TensorboardTimeSeries"
        }
      },
      "type": "object"
    },
    "CloudAiLargeModelsVisionGenerateVideoExperimentsConditioningFrame": {
      "properties": {
        "image": {
          "description": "The image data for this conditioning frame.",
          "$ref": "CloudAiLargeModelsVisionGenerateVideoRequestImage"
        },
        "frameNum": {
          "format": "int32",
          "type": "integer",
          "description": "The index of the frame, starts with zero and must be a multiple of 8."
        }
      },
      "type": "object",
      "id": "CloudAiLargeModelsVisionGenerateVideoExperimentsConditioningFrame"
    },
    "GoogleCloudAiplatformV1SchemaPredictPredictionTftFeatureImportance": {
      "properties": {
        "contextWeights": {
          "type": "array",
          "description": "TFT feature importance values. Each pair for {context/horizon/attribute} should have the same shape since the weight corresponds to the column names.",
          "items": {
            "type": "number",
            "format": "float"
          }
        },
        "horizonColumns": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "attributeWeights": {
          "type": "array",
          "items": {
            "type": "number",
            "format": "float"
          }
        },
        "attributeColumns": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "contextColumns": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "horizonWeights": {
          "type": "array",
          "items": {
            "type": "number",
            "format": "float"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1SchemaPredictPredictionTftFeatureImportance"
    },
    "GoogleCloudAiplatformV1CreateDatasetVersionOperationMetadata": {
      "id": "GoogleCloudAiplatformV1CreateDatasetVersionOperationMetadata",
      "type": "object",
      "description": "Runtime operation information for DatasetService.CreateDatasetVersion.",
      "properties": {
        "genericMetadata": {
          "description": "The common part of the operation metadata.",
          "$ref": "GoogleCloudAiplatformV1GenericOperationMetadata"
        }
      }
    },
    "GoogleCloudAiplatformV1SchemaTimeSeriesDatasetMetadataGcsSource": {
      "id": "GoogleCloudAiplatformV1SchemaTimeSeriesDatasetMetadataGcsSource",
      "type": "object",
      "properties": {
        "uri": {
          "type": "array",
          "description": "Cloud Storage URI of one or more files. Only CSV files are supported. The first line of the CSV file is used as the header. If there are multiple files, the header is the first line of the lexicographically first file, the other files must either contain the exact same header or omit the header.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudAiplatformV1PurgeExecutionsRequest": {
      "id": "GoogleCloudAiplatformV1PurgeExecutionsRequest",
      "type": "object",
      "description": "Request message for MetadataService.PurgeExecutions.",
      "properties": {
        "filter": {
          "description": "Required. A required filter matching the Executions to be purged. E.g., `update_time <= 2020-11-19T11:30:00-04:00`.",
          "type": "string"
        },
        "force": {
          "description": "Optional. Flag to indicate to actually perform the purge. If `force` is set to false, the method will return a sample of Execution names that would be deleted.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudAiplatformV1TensorboardTimeSeries": {
      "type": "object",
      "description": "TensorboardTimeSeries maps to times series produced in training runs",
      "properties": {
        "pluginName": {
          "description": "Immutable. Name of the plugin this time series pertain to. Such as Scalar, Tensor, Blob",
          "type": "string"
        },
        "metadata": {
          "description": "Output only. Scalar, Tensor, or Blob metadata for this TensorboardTimeSeries.",
          "$ref": "GoogleCloudAiplatformV1TensorboardTimeSeriesMetadata",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "Description of this TensorboardTimeSeries."
        },
        "valueType": {
          "enum": [
            "VALUE_TYPE_UNSPECIFIED",
            "SCALAR",
            "TENSOR",
            "BLOB_SEQUENCE"
          ],
          "type": "string",
          "enumDescriptions": [
            "The value type is unspecified.",
            "Used for TensorboardTimeSeries that is a list of scalars. E.g. accuracy of a model over epochs/time.",
            "Used for TensorboardTimeSeries that is a list of tensors. E.g. histograms of weights of layer in a model over epoch/time.",
            "Used for TensorboardTimeSeries that is a list of blob sequences. E.g. set of sample images with labels over epochs/time."
          ],
          "description": "Required. Immutable. Type of TensorboardTimeSeries value."
        },
        "displayName": {
          "description": "Required. User provided name of this TensorboardTimeSeries. This value should be unique among all TensorboardTimeSeries resources belonging to the same TensorboardRun resource (parent resource).",
          "type": "string"
        },
        "name": {
          "description": "Output only. Name of the TensorboardTimeSeries.",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp when this TensorboardTimeSeries was last updated.",
          "readOnly": true,
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Used to perform a consistent read-modify-write updates. If not set, a blind \"overwrite\" update happens."
        },
        "pluginData": {
          "format": "byte",
          "type": "string",
          "description": "Data of the current plugin, with the size limited to 65KB."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Timestamp when this TensorboardTimeSeries was created.",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudAiplatformV1TensorboardTimeSeries"
    },
    "GoogleCloudAiplatformV1ToolExaAiSearch": {
      "type": "object",
      "description": "ExaAiSearch tool type. A tool that uses the Exa.ai search engine for grounding.",
      "properties": {
        "customConfigs": {
          "description": "Optional. This field can be used to pass any parameter from the Exa.ai Search API.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "apiKey": {
          "description": "Required. The API key for ExaAiSearch.",
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1ToolExaAiSearch"
    },
    "GoogleCloudAiplatformV1StudySpecParameterSpecConditionalParameterSpecCategoricalValueCondition": {
      "id": "GoogleCloudAiplatformV1StudySpecParameterSpecConditionalParameterSpecCategoricalValueCondition",
      "type": "object",
      "description": "Represents the spec to match categorical values from parent parameter.",
      "properties": {
        "values": {
          "type": "array",
          "description": "Required. Matches values of the parent parameter of 'CATEGORICAL' type. All values must exist in `categorical_value_spec` of parent parameter.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudAiplatformV1VertexAiSearchConfig": {
      "id": "GoogleCloudAiplatformV1VertexAiSearchConfig",
      "description": "Config for the Vertex AI Search.",
      "properties": {
        "servingConfig": {
          "description": "Vertex AI Search Serving Config resource full name. For example, `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}/servingConfigs/{serving_config}` or `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}/servingConfigs/{serving_config}`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1ImportFeatureValuesOperationMetadata": {
      "description": "Details of operations that perform import Feature values.",
      "properties": {
        "sourceUris": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The source URI from where Feature values are imported."
        },
        "blockingOperationIds": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "List of ImportFeatureValues operations running under a single EntityType that are blocking this operation.",
          "type": "array"
        },
        "importedEntityCount": {
          "format": "int64",
          "type": "string",
          "description": "Number of entities that have been imported by the operation."
        },
        "genericMetadata": {
          "description": "Operation metadata for Featurestore import Feature values.",
          "$ref": "GoogleCloudAiplatformV1GenericOperationMetadata"
        },
        "timestampOutsideRetentionRowsCount": {
          "type": "string",
          "description": "The number rows that weren't ingested due to having timestamps outside the retention boundary.",
          "format": "int64"
        },
        "invalidRowCount": {
          "description": "The number of rows in input source that weren't imported due to either * Not having any featureValues. * Having a null entityId. * Having a null timestamp. * Not being parsable (applicable for CSV sources).",
          "type": "string",
          "format": "int64"
        },
        "importedFeatureValueCount": {
          "format": "int64",
          "type": "string",
          "description": "Number of Feature values that have been imported by the operation."
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1ImportFeatureValuesOperationMetadata"
    },
    "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlTextExtractionInputs": {
      "id": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlTextExtractionInputs",
      "properties": {},
      "type": "object"
    },
    "CloudAiLargeModelsVisionGenerateVideoResponseVideo": {
      "id": "CloudAiLargeModelsVisionGenerateVideoResponseVideo",
      "properties": {
        "experimentsMetadata": {
          "description": "Optional metadata returned from experimental requests. Likely only includes the rewritten prompt chunks.",
          "$ref": "CloudAiLargeModelsVisionGenerateVideoExperiments"
        },
        "bytesBase64Encoded": {
          "type": "string",
          "description": "Base64 encoded bytes string representing the video."
        },
        "gcsUri": {
          "type": "string",
          "description": "Cloud Storage URI where the generated video is written."
        },
        "mimeType": {
          "type": "string",
          "description": "The MIME type of the content of the video. - video/mp4"
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1StudyTimeConstraint": {
      "type": "object",
      "description": "Time-based Constraint for Study",
      "properties": {
        "maxDuration": {
          "type": "string",
          "description": "Counts the wallclock time passed since the creation of this Study.",
          "format": "google-duration"
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Compares the wallclock time to this time. Must use UTC timezone."
        }
      },
      "id": "GoogleCloudAiplatformV1StudyTimeConstraint"
    },
    "GoogleCloudAiplatformV1NetworkSpec": {
      "id": "GoogleCloudAiplatformV1NetworkSpec",
      "type": "object",
      "description": "Network spec.",
      "properties": {
        "subnetwork": {
          "description": "The name of the subnet that this instance is in. Format: `projects/{project_id_or_number}/regions/{region}/subnetworks/{subnetwork_id}`",
          "type": "string"
        },
        "network": {
          "type": "string",
          "description": "The full name of the Google Compute Engine [network](https://cloud.google.com//compute/docs/networks-and-firewalls#networks)"
        },
        "enableInternetAccess": {
          "description": "Whether to enable public internet access. Default false.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudAiplatformV1UserScenario": {
      "id": "GoogleCloudAiplatformV1UserScenario",
      "type": "object",
      "description": "Output of user scenario generation.",
      "properties": {
        "startingPrompt": {
          "description": "Starting prompt for the conversation between simulated user and agent under the test.",
          "type": "string"
        },
        "conversationPlan": {
          "type": "string",
          "description": "Conversation plan to drive multi-turn agent run and get simulated agent eval dataset."
        },
        "testCaseTitle": {
          "description": "Represents a short 3-5 word title for eval test case.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1ModelMonitoringObjectiveConfigTrainingPredictionSkewDetectionConfig": {
      "id": "GoogleCloudAiplatformV1ModelMonitoringObjectiveConfigTrainingPredictionSkewDetectionConfig",
      "description": "The config for Training & Prediction data skew detection. It specifies the training dataset sources and the skew detection parameters.",
      "properties": {
        "skewThresholds": {
          "additionalProperties": {
            "$ref": "GoogleCloudAiplatformV1ThresholdConfig"
          },
          "type": "object",
          "description": "Key is the feature name and value is the threshold. If a feature needs to be monitored for skew, a value threshold must be configured for that feature. The threshold here is against feature distribution distance between the training and prediction feature."
        },
        "defaultSkewThreshold": {
          "description": "Skew anomaly detection threshold used by all features. When the per-feature thresholds are not set, this field can be used to specify a threshold for all features.",
          "$ref": "GoogleCloudAiplatformV1ThresholdConfig"
        },
        "attributionScoreSkewThresholds": {
          "additionalProperties": {
            "$ref": "GoogleCloudAiplatformV1ThresholdConfig"
          },
          "description": "Key is the feature name and value is the threshold. The threshold here is against attribution score distance between the training and prediction feature.",
          "type": "object"
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1EvaluationInstanceDeprecatedAgentDataConversationTurn": {
      "id": "GoogleCloudAiplatformV1EvaluationInstanceDeprecatedAgentDataConversationTurn",
      "description": "Represents a single turn/invocation in the conversation.",
      "properties": {
        "turnId": {
          "description": "Optional. A unique identifier for the turn. Useful for referencing specific turns across systems.",
          "type": "string"
        },
        "events": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1EvaluationInstanceDeprecatedAgentDataAgentEvent"
          },
          "description": "Optional. The list of events that occurred during this turn.",
          "type": "array"
        },
        "turnIndex": {
          "description": "Required. The 0-based index of the turn in the conversation sequence.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1QueryReasoningEngineRequest": {
      "description": "Request message for ReasoningEngineExecutionService.Query.",
      "properties": {
        "input": {
          "type": "object",
          "description": "Optional. Input content provided by users in JSON object format. Examples include text query, function calling parameters, media bytes, etc.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "classMethod": {
          "description": "Optional. Class method to be used for the query. It is optional and defaults to \"query\" if unspecified.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1QueryReasoningEngineRequest"
    },
    "GoogleCloudAiplatformV1SpeculativeDecodingSpecDraftModelSpeculation": {
      "id": "GoogleCloudAiplatformV1SpeculativeDecodingSpecDraftModelSpeculation",
      "type": "object",
      "description": "Draft model speculation works by using the smaller model to generate candidate tokens for speculative decoding.",
      "properties": {
        "draftModel": {
          "description": "Required. The resource name of the draft model.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionTftForecastingInputsTransformationAutoTransformation": {
      "type": "object",
      "description": "Training pipeline will infer the proper transformation based on the statistic of dataset.",
      "properties": {
        "columnName": {
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionTftForecastingInputsTransformationAutoTransformation"
    },
    "GoogleCloudAiplatformV1SchemaVisualInspectionClassificationLabelSavedQueryMetadata": {
      "type": "object",
      "properties": {
        "multiLabel": {
          "description": "Whether or not the classification label is multi_label.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudAiplatformV1SchemaVisualInspectionClassificationLabelSavedQueryMetadata"
    },
    "GoogleCloudAiplatformV1SpecialistPool": {
      "type": "object",
      "description": "SpecialistPool represents customers' own workforce to work on their data labeling jobs. It includes a group of specialist managers and workers. Managers are responsible for managing the workers in this pool as well as customers' data labeling jobs associated with this pool. Customers create specialist pool as well as start data labeling jobs on Cloud, managers and workers handle the jobs using CrowdCompute console.",
      "properties": {
        "specialistWorkerEmails": {
          "type": "array",
          "description": "The email addresses of workers in the SpecialistPool.",
          "items": {
            "type": "string"
          }
        },
        "displayName": {
          "description": "Required. The user-defined name of the SpecialistPool. The name can be up to 128 characters long and can consist of any UTF-8 characters. This field should be unique on project-level.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Required. The resource name of the SpecialistPool."
        },
        "specialistManagerEmails": {
          "type": "array",
          "description": "The email addresses of the managers in the SpecialistPool.",
          "items": {
            "type": "string"
          }
        },
        "pendingDataLabelingJobs": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. The resource name of the pending data labeling jobs."
        },
        "specialistManagersCount": {
          "format": "int32",
          "readOnly": true,
          "type": "integer",
          "description": "Output only. The number of managers in this SpecialistPool."
        }
      },
      "id": "GoogleCloudAiplatformV1SpecialistPool"
    },
    "GoogleCloudAiplatformV1SchemaTextDatasetMetadata": {
      "type": "object",
      "description": "The metadata of Datasets that contain Text DataItems.",
      "properties": {
        "dataItemSchemaUri": {
          "type": "string",
          "description": "Points to a YAML file stored on Google Cloud Storage describing payload of the Text DataItems that belong to this Dataset."
        },
        "gcsBucket": {
          "type": "string",
          "description": "Google Cloud Storage Bucket name that contains the blob data of this Dataset."
        }
      },
      "id": "GoogleCloudAiplatformV1SchemaTextDatasetMetadata"
    },
    "GoogleCloudAiplatformV1ErrorAnalysisAnnotation": {
      "id": "GoogleCloudAiplatformV1ErrorAnalysisAnnotation",
      "type": "object",
      "description": "Model error analysis for each annotation.",
      "properties": {
        "outlierScore": {
          "type": "number",
          "description": "The outlier score of this annotated item. Usually defined as the min of all distances from attributed items.",
          "format": "double"
        },
        "outlierThreshold": {
          "format": "double",
          "type": "number",
          "description": "The threshold used to determine if this annotation is an outlier or not."
        },
        "attributedItems": {
          "description": "Attributed items for a given annotation, typically representing neighbors from the training sets constrained by the query type.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1ErrorAnalysisAnnotationAttributedItem"
          }
        },
        "queryType": {
          "enum": [
            "QUERY_TYPE_UNSPECIFIED",
            "ALL_SIMILAR",
            "SAME_CLASS_SIMILAR",
            "SAME_CLASS_DISSIMILAR"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified query type for model error analysis.",
            "Query similar samples across all classes in the dataset.",
            "Query similar samples from the same class of the input sample.",
            "Query dissimilar samples from the same class of the input sample."
          ],
          "description": "The query type used for finding the attributed items."
        }
      }
    },
    "GoogleCloudAiplatformV1LookupStudyRequest": {
      "description": "Request message for VizierService.LookupStudy.",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Required. The user-defined display name of the Study"
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1LookupStudyRequest"
    },
    "GoogleCloudAiplatformV1SchemaPredictPredictionTabularRegressionPredictionResult": {
      "id": "GoogleCloudAiplatformV1SchemaPredictPredictionTabularRegressionPredictionResult",
      "type": "object",
      "description": "Prediction output format for Tabular Regression.",
      "properties": {
        "upperBound": {
          "type": "number",
          "description": "The upper bound of the prediction interval.",
          "format": "float"
        },
        "value": {
          "format": "float",
          "type": "number",
          "description": "The regression value."
        },
        "quantilePredictions": {
          "items": {
            "type": "number",
            "format": "float"
          },
          "description": "Quantile predictions, in 1-1 correspondence with quantile_values.",
          "type": "array"
        },
        "quantileValues": {
          "description": "Quantile values.",
          "type": "array",
          "items": {
            "type": "number",
            "format": "float"
          }
        },
        "lowerBound": {
          "format": "float",
          "type": "number",
          "description": "The lower bound of the prediction interval."
        }
      }
    },
    "GoogleCloudAiplatformV1MetricxSpec": {
      "type": "object",
      "description": "Spec for MetricX metric.",
      "properties": {
        "sourceLanguage": {
          "type": "string",
          "description": "Optional. Source language in BCP-47 format."
        },
        "targetLanguage": {
          "type": "string",
          "description": "Optional. Target language in BCP-47 format. Covers both prediction and reference."
        },
        "version": {
          "enum": [
            "METRICX_VERSION_UNSPECIFIED",
            "METRICX_24_REF",
            "METRICX_24_SRC",
            "METRICX_24_SRC_REF"
          ],
          "type": "string",
          "enumDescriptions": [
            "MetricX version unspecified.",
            "MetricX 2024 (2.6) for translation + reference (reference-based).",
            "MetricX 2024 (2.6) for translation + source (QE).",
            "MetricX 2024 (2.6) for translation + source + reference (source-reference-combined)."
          ],
          "description": "Required. Which version to use for evaluation."
        }
      },
      "id": "GoogleCloudAiplatformV1MetricxSpec"
    },
    "GoogleCloudAiplatformV1GenerateSyntheticDataResponse": {
      "id": "GoogleCloudAiplatformV1GenerateSyntheticDataResponse",
      "type": "object",
      "description": "The response message for the `GenerateSyntheticData` method, containing the synthetic examples generated by the Gen AI evaluation service.",
      "properties": {
        "syntheticExamples": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1SyntheticExample"
          },
          "description": "A list of generated synthetic examples, each containing a complete synthetic data instance generated based on your request.",
          "type": "array"
        }
      }
    },
    "GoogleCloudAiplatformV1LossAnalysisConfig": {
      "type": "object",
      "description": "Configuration for the loss analysis job.",
      "properties": {
        "metric": {
          "description": "Required. The metric to analyze (e.g., \"tool_use_quality\"). This filters the EvaluationItems in the EvalSet to only those where EvaluationResult.metric matches this value.",
          "type": "string"
        },
        "candidate": {
          "type": "string",
          "description": "Required. The candidate model/agent to analyze (e.g., \"gemini-3.0-pro\"). This targets the specific CandidateResult within the EvaluationResult."
        }
      },
      "id": "GoogleCloudAiplatformV1LossAnalysisConfig"
    },
    "GoogleCloudAiplatformV1Candidate": {
      "id": "GoogleCloudAiplatformV1Candidate",
      "type": "object",
      "description": "A response candidate generated from the model.",
      "properties": {
        "citationMetadata": {
          "description": "Output only. A collection of citations that apply to the generated content.",
          "$ref": "GoogleCloudAiplatformV1CitationMetadata",
          "readOnly": true
        },
        "avgLogprobs": {
          "format": "double",
          "description": "Output only. The average log probability of the tokens in this candidate. This is a length-normalized score that can be used to compare the quality of candidates of different lengths. A higher average log probability suggests a more confident and coherent response.",
          "readOnly": true,
          "type": "number"
        },
        "finishReason": {
          "readOnly": true,
          "enumDescriptions": [
            "The finish reason is unspecified.",
            "The model reached a natural stopping point or a configured stop sequence.",
            "The model generated the maximum number of tokens allowed by the `max_output_tokens` parameter.",
            "The model stopped generating because the content potentially violates safety policies. NOTE: When streaming, the `content` field is empty if content filters block the output.",
            "The model stopped generating because the content may be a recitation from a source.",
            "The model stopped generating for a reason not otherwise specified.",
            "The model stopped generating because the content contains a term from a configured blocklist.",
            "The model stopped generating because the content may be prohibited.",
            "The model stopped generating because the content may contain sensitive personally identifiable information (SPII).",
            "The model generated a function call that is syntactically invalid and can't be parsed.",
            "The model response was blocked by Model Armor.",
            "The generated image potentially violates safety policies.",
            "The generated image may contain prohibited content.",
            "The generated image may be a recitation from a source.",
            "The image generation stopped for a reason not otherwise specified.",
            "The model generated a function call that is semantically invalid. This can happen, for example, if function calling is not enabled or the generated function is not in the function declaration.",
            "The model was expected to generate an image, but didn't."
          ],
          "description": "Output only. The reason why the model stopped generating tokens. If empty, the model has not stopped generating.",
          "enum": [
            "FINISH_REASON_UNSPECIFIED",
            "STOP",
            "MAX_TOKENS",
            "SAFETY",
            "RECITATION",
            "OTHER",
            "BLOCKLIST",
            "PROHIBITED_CONTENT",
            "SPII",
            "MALFORMED_FUNCTION_CALL",
            "MODEL_ARMOR",
            "IMAGE_SAFETY",
            "IMAGE_PROHIBITED_CONTENT",
            "IMAGE_RECITATION",
            "IMAGE_OTHER",
            "UNEXPECTED_TOOL_CALL",
            "NO_IMAGE"
          ],
          "type": "string"
        },
        "content": {
          "readOnly": true,
          "description": "Output only. The content of the candidate.",
          "$ref": "GoogleCloudAiplatformV1Content"
        },
        "safetyRatings": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1SafetyRating"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. A list of ratings for the safety of a response candidate. There is at most one rating per category."
        },
        "index": {
          "readOnly": true,
          "type": "integer",
          "description": "Output only. The 0-based index of this candidate in the list of generated responses. This is useful for distinguishing between multiple candidates when `candidate_count` > 1.",
          "format": "int32"
        },
        "logprobsResult": {
          "readOnly": true,
          "description": "Output only. The detailed log probability information for the tokens in this candidate. This is useful for debugging, understanding model uncertainty, and identifying potential \"hallucinations\".",
          "$ref": "GoogleCloudAiplatformV1LogprobsResult"
        },
        "urlContextMetadata": {
          "readOnly": true,
          "description": "Output only. Metadata returned when the model uses the `url_context` tool to get information from a user-provided URL.",
          "$ref": "GoogleCloudAiplatformV1UrlContextMetadata"
        },
        "finishMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Describes the reason the model stopped generating tokens in more detail. This field is returned only when `finish_reason` is set."
        },
        "groundingMetadata": {
          "description": "Output only. Metadata returned when grounding is enabled. It contains the sources used to ground the generated content.",
          "$ref": "GoogleCloudAiplatformV1GroundingMetadata",
          "readOnly": true
        }
      }
    },
    "GoogleCloudAiplatformV1ReasoningEngineContextSpecMemoryBankConfigGenerationConfig": {
      "type": "object",
      "description": "Configuration for how to generate memories.",
      "properties": {
        "model": {
          "type": "string",
          "description": "Optional. The model used to generate memories. Format: `projects/{project}/locations/{location}/publishers/google/models/{model}`."
        },
        "generationTriggerConfig": {
          "description": "Optional. Specifies the default trigger configuration for generating memories using `IngestEvents`.",
          "$ref": "GoogleCloudAiplatformV1MemoryGenerationTriggerConfig"
        }
      },
      "id": "GoogleCloudAiplatformV1ReasoningEngineContextSpecMemoryBankConfigGenerationConfig"
    },
    "GoogleCloudAiplatformV1FeatureMonitoringStatsAnomaly": {
      "id": "GoogleCloudAiplatformV1FeatureMonitoringStatsAnomaly",
      "type": "object",
      "description": "A list of historical SnapshotAnalysis or ImportFeaturesAnalysis stats requested by user, sorted by FeatureStatsAnomaly.start_time descending.",
      "properties": {
        "objective": {
          "type": "string",
          "enum": [
            "OBJECTIVE_UNSPECIFIED",
            "IMPORT_FEATURE_ANALYSIS",
            "SNAPSHOT_ANALYSIS"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "If it's OBJECTIVE_UNSPECIFIED, monitoring_stats will be empty.",
            "Stats are generated by Import Feature Analysis.",
            "Stats are generated by Snapshot Analysis."
          ],
          "description": "Output only. The objective for each stats."
        },
        "featureStatsAnomaly": {
          "description": "Output only. The stats and anomalies generated at specific timestamp.",
          "$ref": "GoogleCloudAiplatformV1FeatureStatsAnomaly",
          "readOnly": true
        }
      }
    },
    "GoogleCloudAiplatformV1TextResponseFormat": {
      "id": "GoogleCloudAiplatformV1TextResponseFormat",
      "type": "object",
      "description": "Configuration for text-specific output formatting.",
      "properties": {
        "mimeType": {
          "enum": [
            "MIME_TYPE_UNSPECIFIED",
            "APPLICATION_JSON",
            "TEXT_PLAIN"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "JSON output format.",
            "Plain text output format."
          ],
          "description": "Optional. The IANA standard MIME type of the response."
        },
        "schema": {
          "type": "any",
          "description": "Optional. The JSON schema that the output should conform to. Only applicable when mime_type is APPLICATION_JSON."
        }
      }
    },
    "GoogleCloudAiplatformV1AgentData": {
      "id": "GoogleCloudAiplatformV1AgentData",
      "description": "Represents data specific to multi-turn agent evaluations.",
      "properties": {
        "turns": {
          "description": "Optional. A chronological list of conversation turns. Each turn represents a logical execution cycle (e.g., User Input -> Agent Response).",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1ConversationTurn"
          }
        },
        "agents": {
          "description": "Optional. A map containing the static configurations for each agent in the system. Key: agent_id (matches the `author` field in events). Value: The static configuration of the agent.",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudAiplatformV1AgentConfig"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1RagChunk": {
      "type": "object",
      "description": "A RagChunk includes the content of a chunk of a RagFile, and associated metadata.",
      "properties": {
        "text": {
          "type": "string",
          "description": "The content of the chunk."
        },
        "pageSpan": {
          "description": "If populated, represents where the chunk starts and ends in the document.",
          "$ref": "GoogleCloudAiplatformV1RagChunkPageSpan"
        }
      },
      "id": "GoogleCloudAiplatformV1RagChunk"
    },
    "GoogleCloudAiplatformV1ResponseFormat": {
      "id": "GoogleCloudAiplatformV1ResponseFormat",
      "type": "object",
      "description": "Configuration for the model to configure output formatting and delivery.",
      "properties": {
        "video": {
          "description": "Video output format.",
          "$ref": "GoogleCloudAiplatformV1VideoResponseFormat"
        },
        "audio": {
          "description": "Audio output format.",
          "$ref": "GoogleCloudAiplatformV1AudioResponseFormat"
        },
        "image": {
          "description": "Image output format.",
          "$ref": "GoogleCloudAiplatformV1ImageResponseFormat"
        },
        "text": {
          "description": "Text output format.",
          "$ref": "GoogleCloudAiplatformV1TextResponseFormat"
        }
      }
    },
    "GoogleCloudAiplatformV1AssignNotebookRuntimeRequest": {
      "id": "GoogleCloudAiplatformV1AssignNotebookRuntimeRequest",
      "type": "object",
      "description": "Request message for NotebookService.AssignNotebookRuntime.",
      "properties": {
        "notebookRuntimeId": {
          "description": "Optional. User specified ID for the notebook runtime.",
          "type": "string"
        },
        "notebookRuntimeTemplate": {
          "description": "Required. The resource name of the NotebookRuntimeTemplate based on which a NotebookRuntime will be assigned (reuse or create a new one).",
          "type": "string"
        },
        "notebookRuntime": {
          "description": "Required. Provide runtime specific information (e.g. runtime owner, notebook id) used for NotebookRuntime assignment.",
          "$ref": "GoogleCloudAiplatformV1NotebookRuntime"
        }
      }
    },
    "GoogleCloudAiplatformV1ExportModelResponse": {
      "id": "GoogleCloudAiplatformV1ExportModelResponse",
      "type": "object",
      "description": "Response message of ModelService.ExportModel operation.",
      "properties": {}
    },
    "GoogleCloudAiplatformV1SchemaTextClassificationAnnotation": {
      "id": "GoogleCloudAiplatformV1SchemaTextClassificationAnnotation",
      "description": "Annotation details specific to text classification.",
      "properties": {
        "annotationSpecId": {
          "type": "string",
          "description": "The resource Id of the AnnotationSpec that this Annotation pertains to."
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the AnnotationSpec that this Annotation pertains to."
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1DeployIndexResponse": {
      "id": "GoogleCloudAiplatformV1DeployIndexResponse",
      "description": "Response message for IndexEndpointService.DeployIndex.",
      "properties": {
        "deployedIndex": {
          "description": "The DeployedIndex that had been deployed in the IndexEndpoint.",
          "$ref": "GoogleCloudAiplatformV1DeployedIndex"
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1ResourceRuntime": {
      "id": "GoogleCloudAiplatformV1ResourceRuntime",
      "description": "Persistent Cluster runtime information as output",
      "properties": {
        "accessUris": {
          "description": "Output only. URIs for user to connect to the Cluster. Example: { \"RAY_HEAD_NODE_INTERNAL_IP\": \"head-node-IP:10001\" \"RAY_DASHBOARD_URI\": \"ray-dashboard-address:8888\" }",
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1AutoraterConfig": {
      "description": "The configs for autorater. This is applicable to both EvaluateInstances and EvaluateDataset.",
      "properties": {
        "samplingCount": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Number of samples for each instance in the dataset. If not specified, the default is 4. Minimum value is 1, maximum value is 32."
        },
        "autoraterModel": {
          "type": "string",
          "description": "Optional. The fully qualified name of the publisher model or tuned autorater endpoint to use. Publisher model format: `projects/{project}/locations/{location}/publishers/*/models/*` Tuned model endpoint format: `projects/{project}/locations/{location}/endpoints/{endpoint}`"
        },
        "flipEnabled": {
          "type": "boolean",
          "description": "Optional. Default is true. Whether to flip the candidate and baseline responses. This is only applicable to the pairwise metric. If enabled, also provide PairwiseMetricSpec.candidate_response_field_name and PairwiseMetricSpec.baseline_response_field_name. When rendering PairwiseMetricSpec.metric_prompt_template, the candidate and baseline fields will be flipped for half of the samples to reduce bias."
        },
        "generationConfig": {
          "description": "Optional. Configuration options for model generation and outputs.",
          "$ref": "GoogleCloudAiplatformV1GenerationConfig"
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1AutoraterConfig"
    },
    "GoogleCloudAiplatformV1LogprobsResultCandidate": {
      "id": "GoogleCloudAiplatformV1LogprobsResultCandidate",
      "description": "A single token and its associated log probability.",
      "properties": {
        "token": {
          "type": "string",
          "description": "The token's string representation."
        },
        "logProbability": {
          "description": "The log probability of this token. A higher value indicates that the model was more confident in this token. The log probability can be used to assess the relative likelihood of different tokens and to identify when the model is uncertain.",
          "type": "number",
          "format": "float"
        },
        "tokenId": {
          "type": "integer",
          "description": "The token's numerical ID. While the `token` field provides the string representation of the token, the `token_id` is the numerical representation that the model uses internally. This can be useful for developers who want to build custom logic based on the model's vocabulary.",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1EvaluationItem": {
      "description": "EvaluationItem is a single evaluation request or result. The content of an EvaluationItem is immutable - it cannot be updated once created. EvaluationItems can be deleted when no longer needed.",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Timestamp when this item was created."
        },
        "gcsUri": {
          "description": "The Cloud Storage object where the request or response is stored.",
          "type": "string"
        },
        "evaluationRequest": {
          "description": "The request to evaluate.",
          "$ref": "GoogleCloudAiplatformV1EvaluationRequest"
        },
        "name": {
          "description": "Identifier. The resource name of the EvaluationItem. Format: `projects/{project}/locations/{location}/evaluationItems/{evaluation_item}`",
          "type": "string"
        },
        "evaluationResponse": {
          "readOnly": true,
          "description": "Output only. The response from evaluation.",
          "$ref": "GoogleCloudAiplatformV1EvaluationResult"
        },
        "displayName": {
          "description": "Required. The display name of the EvaluationItem.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "Optional. Labels for the EvaluationItem.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "evaluationItemType": {
          "enum": [
            "EVALUATION_ITEM_TYPE_UNSPECIFIED",
            "REQUEST",
            "RESULT"
          ],
          "type": "string",
          "enumDescriptions": [
            "The default value. This value is unused.",
            "The EvaluationItem is a request to evaluate.",
            "The EvaluationItem is the result of evaluation."
          ],
          "description": "Required. The type of the EvaluationItem."
        },
        "error": {
          "readOnly": true,
          "description": "Output only. Error for the evaluation item.",
          "$ref": "GoogleRpcStatus"
        },
        "metadata": {
          "description": "Optional. Metadata for the EvaluationItem.",
          "type": "any"
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1EvaluationItem"
    },
    "GoogleCloudAiplatformV1CometInstance": {
      "description": "Spec for Comet instance - The fields used for evaluation are dependent on the comet version.",
      "properties": {
        "prediction": {
          "description": "Required. Output of the evaluated model.",
          "type": "string"
        },
        "source": {
          "description": "Optional. Source text in original language.",
          "type": "string"
        },
        "reference": {
          "description": "Optional. Ground truth used to compare against the prediction.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1CometInstance"
    },
    "GoogleCloudAiplatformV1CandidateResponse": {
      "id": "GoogleCloudAiplatformV1CandidateResponse",
      "description": "Responses from model or agent.",
      "properties": {
        "agentData": {
          "description": "Optional. Represents the complete execution trace of a multi-turn conversation, which can involve single or multiple agents. This field is used to provide the full output of an agent's run, including all turns and events, for direct evaluation.",
          "$ref": "GoogleCloudAiplatformV1AgentData"
        },
        "error": {
          "readOnly": true,
          "description": "Output only. Error while scraping model or agent.",
          "$ref": "GoogleRpcStatus"
        },
        "text": {
          "description": "Text response.",
          "type": "string"
        },
        "candidate": {
          "description": "Required. The name of the candidate that produced the response.",
          "type": "string"
        },
        "value": {
          "type": "any",
          "description": "Fields and values that can be used to populate the response template."
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1FasterDeploymentConfig": {
      "id": "GoogleCloudAiplatformV1FasterDeploymentConfig",
      "description": "Configuration for faster model deployment.",
      "properties": {
        "fastTryoutEnabled": {
          "description": "If true, enable fast tryout feature for this deployed model.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1ModelMonitoringStatsAnomalies": {
      "id": "GoogleCloudAiplatformV1ModelMonitoringStatsAnomalies",
      "description": "Statistics and anomalies generated by Model Monitoring.",
      "properties": {
        "objective": {
          "description": "Model Monitoring Objective those stats and anomalies belonging to.",
          "type": "string",
          "enumDescriptions": [
            "Default value, should not be set.",
            "Raw feature values' stats to detect skew between Training-Prediction datasets.",
            "Raw feature values' stats to detect drift between Serving-Prediction datasets.",
            "Feature attribution scores to detect skew between Training-Prediction datasets.",
            "Feature attribution scores to detect skew between Prediction datasets collected within different time windows."
          ],
          "enum": [
            "MODEL_DEPLOYMENT_MONITORING_OBJECTIVE_TYPE_UNSPECIFIED",
            "RAW_FEATURE_SKEW",
            "RAW_FEATURE_DRIFT",
            "FEATURE_ATTRIBUTION_SKEW",
            "FEATURE_ATTRIBUTION_DRIFT"
          ]
        },
        "anomalyCount": {
          "description": "Number of anomalies within all stats.",
          "type": "integer",
          "format": "int32"
        },
        "deployedModelId": {
          "type": "string",
          "description": "Deployed Model ID."
        },
        "featureStats": {
          "description": "A list of historical Stats and Anomalies generated for all Features.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1ModelMonitoringStatsAnomaliesFeatureHistoricStatsAnomalies"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1EvaluationRunMetricRubricGenerationSpec": {
      "description": "Specification for how rubrics should be generated.",
      "properties": {
        "modelConfig": {
          "description": "Optional. Configuration for the model used in rubric generation. Configs including sampling count and base model can be specified here. Flipping is not supported for rubric generation.",
          "$ref": "GoogleCloudAiplatformV1EvaluationRunEvaluationConfigAutoraterConfig"
        },
        "promptTemplate": {
          "description": "Optional. Template for the prompt used to generate rubrics. The details should be updated based on the most-recent recipe requirements.",
          "type": "string"
        },
        "rubricContentType": {
          "description": "Optional. The type of rubric content to be generated.",
          "type": "string",
          "enumDescriptions": [
            "The content type to generate is not specified.",
            "Generate rubrics based on properties.",
            "Generate rubrics in an NL question answer format.",
            "Generate rubrics in a unit test format."
          ],
          "enum": [
            "RUBRIC_CONTENT_TYPE_UNSPECIFIED",
            "PROPERTY",
            "NL_QUESTION_ANSWER",
            "PYTHON_CODE_ASSERTION"
          ]
        },
        "rubricTypeOntology": {
          "items": {
            "type": "string"
          },
          "description": "Optional. An optional, pre-defined list of allowed types for generated rubrics. If this field is provided, it implies `include_rubric_type` should be true, and the generated rubric types should be chosen from this ontology.",
          "type": "array"
        },
        "metricResourceName": {
          "type": "string",
          "description": "Optional. Resource name of the metric definition."
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1EvaluationRunMetricRubricGenerationSpec"
    },
    "GoogleCloudAiplatformV1NasJobSpecMultiTrialAlgorithmSpecMetricSpec": {
      "id": "GoogleCloudAiplatformV1NasJobSpecMultiTrialAlgorithmSpecMetricSpec",
      "description": "Represents a metric to optimize.",
      "properties": {
        "metricId": {
          "type": "string",
          "description": "Required. The ID of the metric. Must not contain whitespaces."
        },
        "goal": {
          "enum": [
            "GOAL_TYPE_UNSPECIFIED",
            "MAXIMIZE",
            "MINIMIZE"
          ],
          "description": "Required. The optimization goal of the metric.",
          "type": "string",
          "enumDescriptions": [
            "Goal Type will default to maximize.",
            "Maximize the goal metric.",
            "Minimize the goal metric."
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1CloudLoggingConfigTracingContext": {
      "type": "object",
      "description": "Tracing context for Observability correlation.",
      "properties": {
        "conversationId": {
          "type": "string",
          "description": "Optional. Unique identifier for a conversation (session thread), used to store and correlate messages within a conversation. The value corresponds to the `gen_ai.conversation.id` field in the the OpenTelemetry GenAI attributes."
        },
        "traceId": {
          "type": "string",
          "description": "Optional. Trace ID being written to Cloud Trace in association with this log entry. e.g., `12345`, the numeric ID from the resource name. If a trace or span is being evaluated, this field should be populated."
        },
        "spanId": {
          "description": "Optional. ID of the Cloud Trace span associated with the current operation in which the log is being written. e.g., `7a2190356c3fc94b`. If a span is being evaluated, this field should be populated.",
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1CloudLoggingConfigTracingContext"
    },
    "GoogleCloudAiplatformV1DeployModelResponse": {
      "id": "GoogleCloudAiplatformV1DeployModelResponse",
      "description": "Response message for EndpointService.DeployModel.",
      "properties": {
        "deployedModel": {
          "description": "The DeployedModel that had been deployed in the Endpoint.",
          "$ref": "GoogleCloudAiplatformV1DeployedModel"
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1ExplanationMetadataOverride": {
      "type": "object",
      "description": "The ExplanationMetadata entries that can be overridden at online explanation time.",
      "properties": {
        "inputs": {
          "additionalProperties": {
            "$ref": "GoogleCloudAiplatformV1ExplanationMetadataOverrideInputMetadataOverride"
          },
          "type": "object",
          "description": "Required. Overrides the input metadata of the features. The key is the name of the feature to be overridden. The keys specified here must exist in the input metadata to be overridden. If a feature is not specified here, the corresponding feature's input metadata is not overridden."
        }
      },
      "id": "GoogleCloudAiplatformV1ExplanationMetadataOverride"
    },
    "GoogleCloudAiplatformV1SchemaModelevaluationMetricsQuestionAnsweringEvaluationMetrics": {
      "type": "object",
      "properties": {
        "exactMatch": {
          "format": "float",
          "type": "number",
          "description": "The rate at which the input predicted strings exactly match their references."
        }
      },
      "id": "GoogleCloudAiplatformV1SchemaModelevaluationMetricsQuestionAnsweringEvaluationMetrics"
    },
    "GoogleCloudAiplatformV1SchemaVideoActionRecognitionAnnotation": {
      "description": "Annotation details specific to video action recognition.",
      "properties": {
        "annotationSpecId": {
          "type": "string",
          "description": "The resource Id of the AnnotationSpec that this Annotation pertains to."
        },
        "timeSegment": {
          "description": "This Annotation applies to the time period represented by the TimeSegment. If it's not set, the Annotation applies to the whole video.",
          "$ref": "GoogleCloudAiplatformV1SchemaTimeSegment"
        },
        "displayName": {
          "description": "The display name of the AnnotationSpec that this Annotation pertains to.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1SchemaVideoActionRecognitionAnnotation"
    },
    "GoogleCloudAiplatformV1ToolParallelAiSearch": {
      "id": "GoogleCloudAiplatformV1ToolParallelAiSearch",
      "description": "ParallelAiSearch tool type. A tool that uses the Parallel.ai search engine for grounding.",
      "properties": {
        "enableDataRetention": {
          "deprecated": true,
          "description": "Optional. Deprecated: Use `enable_zero_data_retention` instead. Instructs Vertex Grounding to use Parallel's Zero Data Retention Marketplace product. If this value is \"false\" or omitted, the Parallel Web Search for Grounding standard subscription will be used. If this value is \"true\", the Parallel Web Search for Grounding - ZDR subscription will be used.",
          "type": "boolean"
        },
        "enableZeroDataRetention": {
          "description": "Optional. Instructs Vertex Grounding to use Parallel's Zero Data Retention Marketplace product. If this value is \"false\" or omitted, the Parallel Web Search for Grounding standard subscription will be used. If this value is \"true\", the Parallel Web Search for Grounding - ZDR subscription will be used.",
          "type": "boolean"
        },
        "customConfigs": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Optional. Custom configs for ParallelAiSearch. This field can be used to pass any parameter from the Parallel.ai Search API. See the Parallel.ai documentation for the full list of available parameters and their usage: https://docs.parallel.ai/api-reference/search-beta/search Currently only `source_policy`, `excerpts`, `max_results`, `mode`, `fetch_policy` can be set via this field. For example: { \"source_policy\": { \"include_domains\": [\"google.com\", \"wikipedia.org\"], \"exclude_domains\": [\"example.com\"] }, \"fetch_policy\": { \"max_age_seconds\": 3600 } }",
          "type": "object"
        },
        "apiKey": {
          "type": "string",
          "description": "Optional. The API key for ParallelAiSearch. If an API key is not provided, the system will attempt to verify access by checking for an active Parallel.ai subscription through the Google Cloud Marketplace. See https://docs.parallel.ai/search/search-quickstart for more details."
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1UserScenarioGenerationConfig": {
      "type": "object",
      "description": "User scenario generation configuration.",
      "properties": {
        "environmentData": {
          "description": "Optional. Environment data in string type.",
          "type": "string"
        },
        "simulationInstruction": {
          "type": "string",
          "description": "Optional. Simulation instruction to guide the user scenario generation."
        },
        "modelName": {
          "description": "Optional. The model name to use for generation. It can be model name, e.g. \"gemini-3-pro-preview\". or the fully qualified name of the publisher model or endpoint. Publisher model format: `projects/{project}/locations/{location}/publishers/*/models/*` Endpoint format: `projects/{project}/locations/{location}/endpoints/{endpoint}`",
          "type": "string"
        },
        "userScenarioCount": {
          "type": "string",
          "description": "Required. The number of user scenarios to generate. The maximum number of scenarios that can be generated is 100.",
          "format": "int64"
        }
      },
      "id": "GoogleCloudAiplatformV1UserScenarioGenerationConfig"
    },
    "GoogleCloudAiplatformV1EvaluationInstanceDeprecatedAgentConfigTools": {
      "id": "GoogleCloudAiplatformV1EvaluationInstanceDeprecatedAgentConfigTools",
      "description": "Represents a list of tools for an agent.",
      "properties": {
        "tool": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1Tool"
          },
          "type": "array",
          "description": "Optional. List of tools: each tool can have multiple function declarations."
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1PublisherModelCallToActionRegionalResourceReferences": {
      "id": "GoogleCloudAiplatformV1PublisherModelCallToActionRegionalResourceReferences",
      "description": "The regional resource name or the URI. Key is region, e.g., us-central1, europe-west2, global, etc..",
      "properties": {
        "supportsWorkbench": {
          "type": "boolean",
          "description": "Optional. For notebook resource, whether the notebook supports Workbench."
        },
        "references": {
          "additionalProperties": {
            "$ref": "GoogleCloudAiplatformV1PublisherModelResourceReference"
          },
          "description": "Required.",
          "type": "object"
        },
        "colabNotebookDisabled": {
          "type": "boolean",
[...]
