{
  "discoveryVersion": "v1",
  "rootUrl": "https://aiplatform.googleapis.com/",
  "documentationLink": "https://cloud.google.com/vertex-ai/",
  "title": "Agent Platform API",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "version": "v1",
  "schemas": {
    "GoogleCloudAiplatformV1ReasoningEngine": {
      "description": "ReasoningEngine provides a customizable runtime for models to determine which actions to take and in which order.",
      "properties": {
        "createTime": {
          "description": "Output only. Timestamp when this ReasoningEngine was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "displayName": {
          "description": "Required. The display name of the ReasoningEngine.",
          "type": "string"
        },
        "contextSpec": {
          "description": "Optional. Configuration for how Agent Engine sub-resources should manage context.",
          "$ref": "GoogleCloudAiplatformV1ReasoningEngineContextSpec"
        },
        "updateTime": {
          "description": "Output only. Timestamp when this ReasoningEngine was most recently updated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels for the ReasoningEngine."
        },
        "spec": {
          "description": "Optional. Configurations of the ReasoningEngine",
          "$ref": "GoogleCloudAiplatformV1ReasoningEngineSpec"
        },
        "etag": {
          "type": "string",
          "description": "Optional. Used to perform consistent read-modify-write updates. If not set, a blind \"overwrite\" update happens."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the ReasoningEngine. Format: `projects/{project}/locations/{location}/reasoningEngines/{reasoning_engine}`"
        },
        "encryptionSpec": {
          "description": "Customer-managed encryption key spec for a ReasoningEngine. If set, this ReasoningEngine and all sub-resources of this ReasoningEngine will be secured by this key.",
          "$ref": "GoogleCloudAiplatformV1EncryptionSpec"
        },
        "description": {
          "description": "Optional. The description of the ReasoningEngine.",
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1ReasoningEngine",
      "type": "object"
    },
    "GoogleCloudAiplatformV1SandboxEnvironmentTemplateEgressControlConfigDnsPeeringConfig": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1SandboxEnvironmentTemplateEgressControlConfigDnsPeeringConfig",
      "description": "Configuration for peering a customer's private DNS zone so that sandbox egress can resolve customer-internal domains via the customer VPC.",
      "properties": {
        "targetProject": {
          "type": "string",
          "description": "Required. The project ID hosting the Cloud DNS managed zone that contains the `domain`. The Vertex AI Service Agent requires the dns.peer role on this project."
        },
        "targetNetwork": {
          "description": "Required. The VPC network name in the target_project where the DNS zone specified by `domain` is visible.",
          "type": "string"
        },
        "domain": {
          "type": "string",
          "description": "Required. The DNS name suffix of the zone being peered to, e.g., \"my-internal-domain.corp.\". Must end with a dot."
        }
      }
    },
    "GoogleCloudAiplatformV1SummarizationQualityInput": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1SummarizationQualityInput",
      "description": "Input for summarization quality metric.",
      "properties": {
        "instance": {
          "description": "Required. Summarization quality instance.",
          "$ref": "GoogleCloudAiplatformV1SummarizationQualityInstance"
        },
        "metricSpec": {
          "description": "Required. Spec for summarization quality score metric.",
          "$ref": "GoogleCloudAiplatformV1SummarizationQualitySpec"
        }
      }
    },
    "GoogleCloudAiplatformV1NearestNeighborQueryParameters": {
      "description": "Parameters that can be overrided in each query to tune query latency and recall.",
      "properties": {
        "approximateNeighborCandidates": {
          "description": "Optional. The number of neighbors to find via approximate search before exact reordering is performed; if set, this value must be > neighbor_count.",
          "format": "int32",
          "type": "integer"
        },
        "leafNodesSearchFraction": {
          "description": "Optional. The fraction of the number of leaves to search, set at query time allows user to tune search performance. This value increase result in both search accuracy and latency increase. The value should be between 0.0 and 1.0.",
          "format": "double",
          "type": "number"
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1NearestNeighborQueryParameters"
    },
    "GoogleCloudAiplatformV1MetricxResult": {
      "description": "Spec for MetricX result - calculates the MetricX score for the given instance using the version specified in the spec.",
      "properties": {
        "score": {
          "type": "number",
          "description": "Output only. MetricX score. Range depends on version.",
          "readOnly": true,
          "format": "float"
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1MetricxResult"
    },
    "GoogleCloudAiplatformV1EvaluationResult": {
      "description": "Evaluation result.",
      "properties": {
        "request": {
          "description": "Required. The request that was evaluated.",
          "$ref": "GoogleCloudAiplatformV1EvaluationRequest"
        },
        "metric": {
          "description": "Required. The metric that was evaluated.",
          "type": "string"
        },
        "evaluationRun": {
          "type": "string",
          "description": "Required. The evaluation run that was used to generate the result. Format: projects/{project}/locations/{location}/evaluationRuns/{evaluation_run}"
        },
        "evaluationRequest": {
          "description": "Required. The request item that was evaluated. Format: projects/{project}/locations/{location}/evaluationItems/{evaluation_item}",
          "type": "string"
        },
        "candidateResults": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1CandidateResult"
          },
          "description": "Optional. The results for the metric.",
          "type": "array"
        },
        "metadata": {
          "description": "Optional. Metadata about the evaluation result.",
          "type": "any"
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1EvaluationResult"
    },
    "GoogleCloudAiplatformV1PipelineTaskDetail": {
      "description": "The runtime detail of a task execution.",
      "properties": {
        "inputs": {
          "description": "Output only. The runtime input artifacts of the task.",
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudAiplatformV1PipelineTaskDetailArtifactList"
          }
        },
        "taskUniqueName": {
          "type": "string",
          "description": "Output only. The unique name of a task. This field is used by rerun pipeline job. Console UI and Vertex AI SDK will support triggering pipeline job reruns. The name is constructed by concatenating all the parent tasks name with the task name. For example, if a task named \"child_task\" has a parent task named \"parent_task_1\" and parent task 1 has a parent task named \"parent_task_2\", the task unique name will be \"parent_task_2.parent_task_1.child_task\".",
          "readOnly": true
        },
        "taskName": {
          "description": "Output only. The user specified name of the task that is defined in pipeline_spec.",
          "readOnly": true,
          "type": "string"
        },
        "pipelineTaskStatus": {
          "type": "array",
          "description": "Output only. A list of task status. This field keeps a record of task status evolving over time.",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudAiplatformV1PipelineTaskDetailPipelineTaskStatus"
          }
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "CANCEL_PENDING",
            "CANCELLING",
            "CANCELLED",
            "FAILED",
            "SKIPPED",
            "NOT_TRIGGERED"
          ],
          "description": "Output only. State of the task.",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified.",
            "Specifies pending state for the task.",
            "Specifies task is being executed.",
            "Specifies task completed successfully.",
            "Specifies Task cancel is in pending state.",
            "Specifies task is being cancelled.",
            "Specifies task was cancelled.",
            "Specifies task failed.",
            "Specifies task was skipped due to cache hit.",
            "Specifies that the task was not triggered because the task's trigger policy is not satisfied. The trigger policy is specified in the `condition` field of PipelineJob.pipeline_spec."
          ],
          "type": "string"
        },
        "outputs": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudAiplatformV1PipelineTaskDetailArtifactList"
          },
          "description": "Output only. The runtime output artifacts of the task.",
          "readOnly": true
        },
        "error": {
          "$ref": "GoogleRpcStatus",
          "description": "Output only. The error that occurred during task execution. Only populated when the task's state is FAILED or CANCELLED.",
          "readOnly": true
        },
        "executorDetail": {
          "description": "Output only. The detailed execution info.",
          "readOnly": true,
          "$ref": "GoogleCloudAiplatformV1PipelineTaskExecutorDetail"
        },
        "execution": {
          "description": "Output only. The execution metadata of the task.",
          "readOnly": true,
          "$ref": "GoogleCloudAiplatformV1Execution"
        },
        "endTime": {
          "description": "Output only. Task end time.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "parentTaskId": {
          "description": "Output only. The id of the parent task if the task is within a component scope. Empty if the task is at the root level.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "startTime": {
          "description": "Output only. Task start time.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "taskId": {
          "description": "Output only. The system generated ID of the task.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Task create time.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1PipelineTaskDetail",
      "type": "object"
    },
    "GoogleCloudAiplatformV1ReadFeatureValuesResponseFeatureDescriptor": {
      "id": "GoogleCloudAiplatformV1ReadFeatureValuesResponseFeatureDescriptor",
      "type": "object",
      "description": "Metadata for requested Features.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Feature ID."
        }
      }
    },
    "GoogleCloudAiplatformV1GoogleMapsGroundingTypes": {
      "id": "GoogleCloudAiplatformV1GoogleMapsGroundingTypes",
      "type": "object",
      "description": "Defines the types of Google Maps grounding that can be enabled and their configurations.",
      "properties": {
        "routing": {
          "description": "Optional. Enables grounding with Google Maps Routing APIs (ComputeRoutes and SearchAlongRoute).",
          "$ref": "GoogleCloudAiplatformV1GoogleMapsRouting"
        },
        "places": {
          "description": "Optional. Enables grounding with Google Maps Places. This is the default grounding type when no `GroundingTypes` are specified.",
          "$ref": "GoogleCloudAiplatformV1GoogleMapsPlaces"
        }
      }
    },
    "GoogleCloudAiplatformV1TensorboardTimeSeriesMetadata": {
      "description": "Describes metadata for a TensorboardTimeSeries.",
      "properties": {
        "maxWallTime": {
          "description": "Output only. Max wall clock timestamp of all data points within a TensorboardTimeSeries.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "maxStep": {
          "description": "Output only. Max step index of all data points within a TensorboardTimeSeries.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "maxBlobSequenceLength": {
          "description": "Output only. The largest blob sequence length (number of blobs) of all data points in this time series, if its ValueType is BLOB_SEQUENCE.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1TensorboardTimeSeriesMetadata",
      "type": "object"
    },
    "GoogleCloudAiplatformV1DestinationFeatureSetting": {
      "properties": {
        "featureId": {
          "description": "Required. The ID of the Feature to apply the setting to.",
          "type": "string"
        },
        "destinationField": {
          "description": "Specify the field name in the export destination. If not specified, Feature ID is used.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1DestinationFeatureSetting"
    },
    "GoogleCloudAiplatformV1AddContextChildrenRequest": {
      "description": "Request message for MetadataService.AddContextChildren.",
      "properties": {
        "childContexts": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The resource names of the child Contexts."
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1AddContextChildrenRequest"
    },
    "GoogleCloudAiplatformV1PairwiseMetricResult": {
      "id": "GoogleCloudAiplatformV1PairwiseMetricResult",
      "type": "object",
      "description": "Spec for pairwise metric result.",
      "properties": {
        "pairwiseChoice": {
          "enum": [
            "PAIRWISE_CHOICE_UNSPECIFIED",
            "BASELINE",
            "CANDIDATE",
            "TIE"
          ],
          "type": "string",
          "description": "Output only. Pairwise metric choice.",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified prediction choice.",
            "Baseline prediction wins",
            "Candidate prediction wins",
            "Winner cannot be determined"
          ]
        },
        "customOutput": {
          "description": "Output only. Spec for custom output.",
          "readOnly": true,
          "$ref": "GoogleCloudAiplatformV1CustomOutput"
        },
        "explanation": {
          "type": "string",
          "description": "Output only. Explanation for pairwise metric score.",
          "readOnly": true
        }
      }
    },
    "GoogleCloudAiplatformV1CreateEntityTypeOperationMetadata": {
      "description": "Details of operations that perform create EntityType.",
      "properties": {
        "genericMetadata": {
          "description": "Operation metadata for EntityType.",
          "$ref": "GoogleCloudAiplatformV1GenericOperationMetadata"
        }
      },
      "id": "GoogleCloudAiplatformV1CreateEntityTypeOperationMetadata",
      "type": "object"
    },
    "GoogleCloudAiplatformV1SchemaPredictParamsGroundingConfig": {
      "description": "The configuration for grounding checking.",
      "properties": {
        "sources": {
          "description": "The sources for the grounding checking.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1SchemaPredictParamsGroundingConfigSourceEntry"
          },
          "type": "array"
        },
        "disableAttribution": {
          "description": "If set, skip finding claim attributions (i.e not generate grounding citation).",
          "deprecated": true,
          "type": "boolean"
        }
      },
      "id": "GoogleCloudAiplatformV1SchemaPredictParamsGroundingConfig",
      "type": "object"
    },
    "GoogleCloudAiplatformV1ToolParameterKVMatchResults": {
      "description": "Results for tool parameter key value match metric.",
      "properties": {
        "toolParameterKvMatchMetricValues": {
          "type": "array",
          "description": "Output only. Tool parameter key value match metric values.",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudAiplatformV1ToolParameterKVMatchMetricValue"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1ToolParameterKVMatchResults"
    },
    "GoogleCloudAiplatformV1DnsPeeringConfig": {
      "description": "DNS peering configuration. These configurations are used to create DNS peering zones in the Vertex tenant project VPC, enabling resolution of records within the specified domain hosted in the target network's Cloud DNS.",
      "properties": {
        "targetProject": {
          "description": "Required. The project ID hosting the Cloud DNS managed zone that contains the 'domain'. The Vertex AI Service Agent requires the dns.peer role on this project.",
          "type": "string"
        },
        "targetNetwork": {
          "type": "string",
          "description": "Required. The VPC network name in the target_project where the DNS zone specified by 'domain' is visible."
        },
        "domain": {
          "description": "Required. The DNS name suffix of the zone being peered to, e.g., \"my-internal-domain.corp.\". Must end with a dot.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1DnsPeeringConfig"
    },
    "GoogleCloudAiplatformV1CreateFeatureGroupOperationMetadata": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1CreateFeatureGroupOperationMetadata",
      "description": "Details of operations that perform create FeatureGroup.",
      "properties": {
        "genericMetadata": {
          "description": "Operation metadata for FeatureGroup.",
          "$ref": "GoogleCloudAiplatformV1GenericOperationMetadata"
        }
      }
    },
    "GoogleCloudAiplatformV1SchemaTimeSeriesDatasetMetadataGcsSource": {
      "properties": {
        "uri": {
          "items": {
            "type": "string"
          },
          "description": "Cloud Storage URI of one or more files. Only CSV files are supported. The first line of the CSV file is used as the header. If there are multiple files, the header is the first line of the lexicographically first file, the other files must either contain the exact same header or omit the header.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1SchemaTimeSeriesDatasetMetadataGcsSource"
    },
    "GoogleTypeExpr": {
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "properties": {
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        },
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        }
      },
      "id": "GoogleTypeExpr",
      "type": "object"
    },
    "GoogleCloudAiplatformV1BatchMigrateResourcesOperationMetadata": {
      "description": "Runtime operation information for MigrationService.BatchMigrateResources.",
      "properties": {
        "genericMetadata": {
          "description": "The common part of the operation metadata.",
          "$ref": "GoogleCloudAiplatformV1GenericOperationMetadata"
        },
        "partialResults": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1BatchMigrateResourcesOperationMetadataPartialResult"
          },
          "description": "Partial results that reflect the latest migration operation progress."
        }
      },
      "id": "GoogleCloudAiplatformV1BatchMigrateResourcesOperationMetadata",
      "type": "object"
    },
    "GoogleCloudAiplatformV1UndeployModelOperationMetadata": {
      "id": "GoogleCloudAiplatformV1UndeployModelOperationMetadata",
      "type": "object",
      "description": "Runtime operation information for EndpointService.UndeployModel.",
      "properties": {
        "genericMetadata": {
          "description": "The operation generic information.",
          "$ref": "GoogleCloudAiplatformV1GenericOperationMetadata"
        }
      }
    },
    "GoogleCloudAiplatformV1ReadFeatureValuesResponseEntityView": {
      "description": "Entity view with Feature values.",
      "properties": {
        "entityId": {
          "description": "ID of the requested entity.",
          "type": "string"
        },
        "data": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1ReadFeatureValuesResponseEntityViewData"
          },
          "description": "Each piece of data holds the k requested values for one requested Feature. If no values for the requested Feature exist, the corresponding cell will be empty. This has the same size and is in the same order as the features from the header ReadFeatureValuesResponse.header.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1ReadFeatureValuesResponseEntityView"
    },
    "GoogleCloudAiplatformV1SchemaPredictParamsVideoObjectTrackingPredictionParams": {
      "description": "Prediction model parameters for Video Object Tracking.",
      "properties": {
        "minBoundingBoxSize": {
          "type": "number",
          "description": "Only bounding boxes with shortest edge at least that long as a relative value of video frame size are returned. Default value is 0.0.",
          "format": "float"
        },
        "maxPredictions": {
          "description": "The model only returns up to that many top, by confidence score, predictions per frame of the video. If this number is very high, the Model may return fewer predictions per frame. Default value is 50.",
          "format": "int32",
          "type": "integer"
        },
        "confidenceThreshold": {
          "description": "The Model only returns predictions with at least this confidence score. Default value is 0.0",
          "format": "float",
          "type": "number"
        }
      },
      "id": "GoogleCloudAiplatformV1SchemaPredictParamsVideoObjectTrackingPredictionParams",
      "type": "object"
    },
    "GoogleCloudAiplatformV1GenerateFetchAccessTokenResponse": {
      "description": "Response message for FeatureOnlineStoreService.GenerateFetchAccessToken.",
      "properties": {
        "accessToken": {
          "description": "The OAuth 2.0 access token.",
          "type": "string"
        },
        "expireTime": {
          "description": "Token expiration time. This is always set",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1GenerateFetchAccessTokenResponse",
      "type": "object"
    },
    "GoogleCloudAiplatformV1XraiAttribution": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1XraiAttribution",
      "description": "An explanation method that redistributes Integrated Gradients attributions to segmented regions, taking advantage of the model's fully differentiable structure. Refer to this paper for more details: https://arxiv.org/abs/1906.02825 Supported only by image Models.",
      "properties": {
        "smoothGradConfig": {
          "description": "Config for SmoothGrad approximation of gradients. When enabled, the gradients are approximated by averaging the gradients from noisy samples in the vicinity of the inputs. Adding noise can help improve the computed gradients. Refer to this paper for more details: https://arxiv.org/pdf/1706.03825.pdf",
          "$ref": "GoogleCloudAiplatformV1SmoothGradConfig"
        },
        "blurBaselineConfig": {
          "description": "Config for XRAI with blur baseline. When enabled, a linear path from the maximally blurred image to the input image is created. Using a blurred baseline instead of zero (black image) is motivated by the BlurIG approach explained here: https://arxiv.org/abs/2004.03383",
          "$ref": "GoogleCloudAiplatformV1BlurBaselineConfig"
        },
        "stepCount": {
          "description": "Required. The number of steps for approximating the path integral. A good value to start is 50 and gradually increase until the sum to diff property is met within the desired error range. Valid range of its value is [1, 100], inclusively.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "GoogleCloudAiplatformV1ContentMap": {
      "description": "Map of placeholder in metric prompt template to contents of model input.",
      "properties": {
        "values": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudAiplatformV1ContentMapContents"
          },
          "description": "Optional. Map of placeholder to contents."
        }
      },
      "id": "GoogleCloudAiplatformV1ContentMap",
      "type": "object"
    },
    "GoogleCloudAiplatformV1BatchReadFeatureValuesRequestPassThroughField": {
      "description": "Describe pass-through fields in read_instance source.",
      "properties": {
        "fieldName": {
          "type": "string",
          "description": "Required. The name of the field in the CSV header or the name of the column in BigQuery table. The naming restriction is the same as Feature.name."
        }
      },
      "id": "GoogleCloudAiplatformV1BatchReadFeatureValuesRequestPassThroughField",
      "type": "object"
    },
    "GoogleCloudAiplatformV1UploadRagFileResponse": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1UploadRagFileResponse",
      "description": "Response message for VertexRagDataService.UploadRagFile.",
      "properties": {
        "ragFile": {
          "description": "The RagFile that had been uploaded into the RagCorpus.",
          "$ref": "GoogleCloudAiplatformV1RagFile"
        },
        "error": {
          "description": "The error that occurred while processing the RagFile.",
          "$ref": "GoogleRpcStatus"
        }
      }
    },
    "GoogleCloudAiplatformV1TrajectorySingleToolUseSpec": {
      "description": "Spec for TrajectorySingleToolUse metric - returns 1 if tool is present in the predicted trajectory, else 0.",
      "properties": {
        "toolName": {
          "type": "string",
          "description": "Required. Spec for tool name to be checked for in the predicted trajectory."
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1TrajectorySingleToolUseSpec"
    },
    "GoogleCloudAiplatformV1AsyncQueryReasoningEngineRequest": {
      "description": "Request message for ReasoningEngineExecutionService.AsyncQueryReasoningEngine.",
      "properties": {
        "inputGcsUri": {
          "description": "Optional. Input Cloud Storage URI for the Async query. If you are not bringing your own container (BYOC), the content of the file should be a JSON object with an `input` field matching the `input` field of `QueryReasoningEngineRequest` (e.g. `{ \"input\": { \"user_id\": \"hello\", \"message\":\"$QUERY\"} }`). For BYOC, the content of the file depends on the the agent application.",
          "type": "string"
        },
        "outputGcsUri": {
          "type": "string",
          "description": "Optional. Output Cloud Storage URI for the Async query. This contains the final response of the query."
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1AsyncQueryReasoningEngineRequest"
    },
    "GoogleCloudAiplatformV1GatewayConfig": {
      "description": "Configuration for a single gateway.",
      "properties": {
        "allowedProjects": {
          "description": "Optional. Additional consumer projects permitted to attach their own PSC endpoint to this gateway's ServiceAttachment. This is the \"decoupled\" mode, where the customer creates the PSC endpoint in a project other than this gateway's `network` project. Each listed project is VPC-SC enforced: it must be within the caller's service perimeter. The owning SemanticGovernancePolicyEngine's own project is always permitted implicitly and need not be listed. Format: `projects/{project}` (ID or number).",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "ACTIVE",
            "DEPROVISIONING",
            "INACTIVE",
            "FAILED"
          ],
          "description": "Output only. The state of the Gateway configuration.",
          "readOnly": true,
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "The Gateway is being provisioned.",
            "The Gateway is active and ready to use.",
            "The Gateway is being de-provisioned.",
            "The Gateway is inactive.",
            "The Gateway failed to be provisioned."
          ],
          "type": "string"
        },
        "pscEndpoint": {
          "type": "string",
          "description": "Output only. The self-link or name of the Private Service Connect endpoint forwarding rule.",
          "readOnly": true
        },
        "dnsZoneName": {
          "description": "Optional. Name of the private Cloud DNS managed zone in which to create the gateway's A-record. This is the managed zone's own name, not its DNS name: for a zone serving `example.internal.`, this field takes the zone name, such as `my-private-zone`. The zone's DNS name is combined with a generated per-gateway label to form the record's fully qualified name, which must stay within the 255-octet DNS limit. If the full name is too long, gateway provisioning fails when it attempts to create the DNS record.",
          "type": "string"
        },
        "network": {
          "description": "Optional. The URI of the network resource where PSC-E will be provisioned. if not provided `default` network will be used. Format: projects/{project}/global/networks/{network}",
          "type": "string"
        },
        "ipAddress": {
          "description": "Output only. The private IP address of the PSC endpoint.",
          "readOnly": true,
          "type": "string"
        },
        "dnsRecord": {
          "type": "string",
          "description": "Output only. The fully qualified record name of the created A-record in Cloud DNS.",
          "readOnly": true
        },
        "subnetwork": {
          "description": "Optional. The URI of the subnetwork resource where PSC-E will be provisioned. if not provided `default` subnet will be used from the same {location} Format: projects/{project}/regions/{region}/subnetworks/{subnetwork}",
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1GatewayConfig",
      "type": "object"
    },
    "GoogleCloudAiplatformV1QuestionAnsweringRelevanceSpec": {
      "description": "Spec for question answering relevance metric.",
      "properties": {
        "version": {
          "description": "Optional. Which version to use for evaluation.",
          "format": "int32",
          "type": "integer"
        },
        "useReference": {
          "description": "Optional. Whether to use instance.reference to compute question answering relevance.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudAiplatformV1QuestionAnsweringRelevanceSpec",
      "type": "object"
    },
    "GoogleCloudAiplatformV1ReasoningEngineSpecSourceCodeSpecPythonSpec": {
      "description": "Specification for running a Python application from source.",
      "properties": {
        "version": {
          "type": "string",
          "description": "Optional. The version of Python to use. Supported versions include 3.10, 3.11, 3.12, 3.13, 3.14. If not specified, default value is 3.10."
        },
        "entrypointModule": {
          "description": "Optional. The Python module to load as the entrypoint, specified as a fully qualified module name. For example: path.to.agent. If not specified, defaults to \"agent\". The project root will be added to Python sys.path, allowing imports to be specified relative to the root. This field should not be set if the source is `agent_config_source`.",
          "type": "string"
        },
        "entrypointObject": {
          "type": "string",
          "description": "Optional. The name of the callable object within the `entrypoint_module` to use as the application If not specified, defaults to \"root_agent\". This field should not be set if the source is `agent_config_source`."
        },
        "requirementsFile": {
          "type": "string",
          "description": "Optional. The path to the requirements file, relative to the source root. If not specified, defaults to \"requirements.txt\"."
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1ReasoningEngineSpecSourceCodeSpecPythonSpec"
    },
    "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlTables": {
      "description": "A TrainingJob that trains and uploads an AutoML Tables Model.",
      "properties": {
        "inputs": {
          "description": "The input parameters of this TrainingJob.",
          "$ref": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlTablesInputs"
        },
        "metadata": {
          "description": "The metadata information.",
          "$ref": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlTablesMetadata"
        }
      },
      "id": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlTables",
      "type": "object"
    },
    "GoogleCloudAiplatformV1SchemaPredictPredictionImageSegmentationPredictionResult": {
      "description": "Prediction output format for Image Segmentation.",
      "properties": {
        "categoryMask": {
          "description": "A PNG image where each pixel in the mask represents the category in which the pixel in the original image was predicted to belong to. The size of this image will be the same as the original image. The mapping between the AnntoationSpec and the color can be found in model's metadata. The model will choose the most likely category and if none of the categories reach the confidence threshold, the pixel will be marked as background.",
          "type": "string"
        },
        "confidenceMask": {
          "type": "string",
          "description": "A one channel image which is encoded as an 8bit lossless PNG. The size of the image will be the same as the original image. For a specific pixel, darker color means less confidence in correctness of the cateogry in the categoryMask for the corresponding pixel. Black means no confidence and white means complete confidence."
        }
      },
      "id": "GoogleCloudAiplatformV1SchemaPredictPredictionImageSegmentationPredictionResult",
      "type": "object"
    },
    "GoogleCloudAiplatformV1SandboxEnvironmentSpecShellEnvironment": {
      "description": "The shell environment.",
      "properties": {},
      "id": "GoogleCloudAiplatformV1SandboxEnvironmentSpecShellEnvironment",
      "type": "object"
    },
    "GoogleCloudAiplatformV1FeatureNoiseSigma": {
      "description": "Noise sigma by features. Noise sigma represents the standard deviation of the gaussian kernel that will be used to add noise to interpolated inputs prior to computing gradients.",
      "properties": {
        "noiseSigma": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1FeatureNoiseSigmaNoiseSigmaForFeature"
          },
          "description": "Noise sigma per feature. No noise is added to features that are not set."
        }
      },
      "id": "GoogleCloudAiplatformV1FeatureNoiseSigma",
      "type": "object"
    },
    "GoogleCloudAiplatformV1LookupStudyRequest": {
      "description": "Request message for VizierService.LookupStudy.",
      "properties": {
        "displayName": {
          "description": "Required. The user-defined display name of the Study",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1LookupStudyRequest"
    },
    "GoogleCloudAiplatformV1ListContextsResponse": {
      "description": "Response message for MetadataService.ListContexts.",
      "properties": {
        "contexts": {
          "type": "array",
          "description": "The Contexts retrieved from the MetadataStore.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1Context"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as ListContextsRequest.page_token to retrieve the next page. If this field is not populated, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1ListContextsResponse"
    },
    "GoogleCloudAiplatformV1ListNotebookRuntimesResponse": {
      "description": "Response message for NotebookService.ListNotebookRuntimes.",
      "properties": {
        "notebookRuntimes": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1NotebookRuntime"
          },
          "description": "List of NotebookRuntimes in the requested page.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token to retrieve next page of results. Pass to ListNotebookRuntimesRequest.page_token to obtain that page.",
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1ListNotebookRuntimesResponse",
      "type": "object"
    },
    "GoogleCloudAiplatformV1TimestampSplit": {
      "id": "GoogleCloudAiplatformV1TimestampSplit",
      "type": "object",
      "description": "Assigns input data to training, validation, and test sets based on a provided timestamps. The youngest data pieces are assigned to training set, next to validation set, and the oldest to the test set. Supported only for tabular Datasets.",
      "properties": {
        "trainingFraction": {
          "description": "The fraction of the input data that is to be used to train the Model.",
          "format": "double",
          "type": "number"
        },
        "validationFraction": {
          "description": "The fraction of the input data that is to be used to validate the Model.",
          "format": "double",
          "type": "number"
        },
        "testFraction": {
          "description": "The fraction of the input data that is to be used to evaluate the Model.",
          "format": "double",
          "type": "number"
        },
        "key": {
          "type": "string",
          "description": "Required. The key is a name of one of the Dataset's data columns. The values of the key (the values in the column) must be in RFC 3339 `date-time` format, where `time-offset` = `\"Z\"` (e.g. 1985-04-12T23:20:50.52Z). If for a piece of data the key is not present or has an invalid value, that piece is ignored by the pipeline."
        }
      }
    },
    "GoogleCloudAiplatformV1SchemaPromptSpecTranslationGcsInputSource": {
      "properties": {
        "inputUri": {
          "type": "string",
          "description": "Source data URI. For example, `gs://my_bucket/my_object`."
        }
      },
      "id": "GoogleCloudAiplatformV1SchemaPromptSpecTranslationGcsInputSource",
      "type": "object"
    },
    "GoogleCloudAiplatformV1SearchNearestEntitiesRequest": {
      "description": "The request message for FeatureOnlineStoreService.SearchNearestEntities.",
      "properties": {
        "returnFullEntity": {
          "description": "Optional. If set to true, the full entities (including all vector values and metadata) of the nearest neighbors are returned; otherwise only entity id of the nearest neighbors will be returned. Note that returning full entities will significantly increase the latency and cost of the query.",
          "type": "boolean"
        },
        "query": {
          "description": "Required. The query.",
          "$ref": "GoogleCloudAiplatformV1NearestNeighborQuery"
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1SearchNearestEntitiesRequest"
    },
    "GoogleCloudAiplatformV1SearchModelDeploymentMonitoringStatsAnomaliesRequest": {
      "id": "GoogleCloudAiplatformV1SearchModelDeploymentMonitoringStatsAnomaliesRequest",
      "type": "object",
      "description": "Request message for JobService.SearchModelDeploymentMonitoringStatsAnomalies.",
      "properties": {
        "objectives": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1SearchModelDeploymentMonitoringStatsAnomaliesRequestStatsAnomaliesObjective"
          },
          "description": "Required. Objectives of the stats to retrieve.",
          "type": "array"
        },
        "endTime": {
          "description": "The latest timestamp of stats being generated. If not set, indicates feching stats till the latest possible one.",
          "format": "google-datetime",
          "type": "string"
        },
        "pageSize": {
          "type": "integer",
          "description": "The standard list page size.",
          "format": "int32"
        },
        "startTime": {
          "description": "The earliest timestamp of stats being generated. If not set, indicates fetching stats till the earliest possible one.",
          "format": "google-datetime",
          "type": "string"
        },
        "featureDisplayName": {
          "type": "string",
          "description": "The feature display name. If specified, only return the stats belonging to this feature. Format: ModelMonitoringStatsAnomalies.FeatureHistoricStatsAnomalies.feature_display_name, example: \"user_destination\"."
        },
        "pageToken": {
          "type": "string",
          "description": "A page token received from a previous JobService.SearchModelDeploymentMonitoringStatsAnomalies call."
        },
        "deployedModelId": {
          "description": "Required. The DeployedModel ID of the [ModelDeploymentMonitoringObjectiveConfig.deployed_model_id].",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1PipelineTaskExecutorDetail": {
      "id": "GoogleCloudAiplatformV1PipelineTaskExecutorDetail",
      "type": "object",
      "description": "The runtime detail of a pipeline executor.",
      "properties": {
        "containerDetail": {
          "description": "Output only. The detailed info for a container executor.",
          "readOnly": true,
          "$ref": "GoogleCloudAiplatformV1PipelineTaskExecutorDetailContainerDetail"
        },
        "customJobDetail": {
          "$ref": "GoogleCloudAiplatformV1PipelineTaskExecutorDetailCustomJobDetail",
          "description": "Output only. The detailed info for a custom job executor.",
          "readOnly": true
        }
      }
    },
    "GoogleCloudAiplatformV1GcsDestination": {
      "description": "The Google Cloud Storage location where the output is to be written to.",
      "properties": {
        "outputUriPrefix": {
          "description": "Required. Google Cloud Storage URI to output directory. If the uri doesn't end with '/', a '/' will be automatically appended. The directory is created if it doesn't exist.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1GcsDestination"
    },
    "GoogleCloudAiplatformV1QueryReasoningEngineRequest": {
      "description": "Request message for ReasoningEngineExecutionService.QueryReasoningEngine.",
      "properties": {
        "input": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Optional. Input content provided by users in JSON object format. Examples include text query, function calling parameters, media bytes, etc."
        },
        "classMethod": {
          "description": "Optional. Class method to be used for the query. It is optional and defaults to \"query\" if unspecified.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1QueryReasoningEngineRequest"
    },
    "GoogleCloudAiplatformV1ToolGoogleSearchWebSearch": {
      "description": "Standard web search for grounding and related configurations. Only text results are returned.",
      "properties": {},
      "id": "GoogleCloudAiplatformV1ToolGoogleSearchWebSearch",
      "type": "object"
    },
    "GoogleCloudAiplatformV1ProbeHttpHeader": {
      "description": "HttpHeader describes a custom header to be used in HTTP probes",
      "properties": {
        "name": {
          "description": "The header field name. This will be canonicalized upon output, so case-variant names will be understood as the same header.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "The header field value"
        }
      },
      "id": "GoogleCloudAiplatformV1ProbeHttpHeader",
      "type": "object"
    },
    "GoogleCloudAiplatformV1Artifact": {
      "description": "Instance of a general artifact.",
      "properties": {
        "etag": {
          "description": "An eTag used to perform consistent read-modify-write updates. If not set, a blind \"overwrite\" update happens.",
          "type": "string"
        },
        "labels": {
          "description": "The labels with user-defined metadata to organize your Artifacts. Label keys and values can be no longer than 64 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. No more than 64 user labels can be associated with one Artifact (System labels are excluded).",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "updateTime": {
          "description": "Output only. Timestamp when this Artifact was last updated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "uri": {
          "description": "The uniform resource identifier of the artifact file. May be empty if there is no actual artifact file.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "User provided display name of the Artifact. May be up to 128 Unicode characters."
        },
        "schemaVersion": {
          "type": "string",
          "description": "The version of the schema in schema_name to use. Schema title and version is expected to be registered in earlier Create Schema calls. And both are used together as unique identifiers to identify schemas within the local metadata store."
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Timestamp when this Artifact was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "description": {
          "description": "Description of the Artifact",
          "type": "string"
        },
        "schemaTitle": {
          "type": "string",
          "description": "The title of the schema describing the metadata. Schema title and version is expected to be registered in earlier Create Schema calls. And both are used together as unique identifiers to identify schemas within the local metadata store."
        },
        "state": {
          "enumDescriptions": [
            "Unspecified state for the Artifact.",
            "A state used by systems like Vertex AI Pipelines to indicate that the underlying data item represented by this Artifact is being created.",
            "A state indicating that the Artifact should exist, unless something external to the system deletes it."
          ],
          "description": "The state of this Artifact. This is a property of the Artifact, and does not imply or capture any ongoing process. This property is managed by clients (such as Vertex AI Pipelines), and the system does not prescribe or check the validity of state transitions.",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "LIVE"
          ],
          "type": "string"
        },
        "name": {
          "description": "Output only. The resource name of the Artifact.",
          "readOnly": true,
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Properties of the Artifact. Top level metadata keys' heading and trailing spaces will be trimmed. The size of this field should not exceed 200KB."
        }
      },
      "id": "GoogleCloudAiplatformV1Artifact",
      "type": "object"
    },
    "GoogleCloudAiplatformV1SafetyInput": {
      "description": "Input for safety metric.",
      "properties": {
        "metricSpec": {
          "description": "Required. Spec for safety metric.",
          "$ref": "GoogleCloudAiplatformV1SafetySpec"
        },
        "instance": {
          "description": "Required. Safety instance.",
          "$ref": "GoogleCloudAiplatformV1SafetyInstance"
        }
      },
      "id": "GoogleCloudAiplatformV1SafetyInput",
      "type": "object"
    },
    "GoogleCloudAiplatformV1ToolNameMatchInstance": {
      "description": "Spec for tool name match instance.",
      "properties": {
        "prediction": {
          "type": "string",
          "description": "Required. Output of the evaluated model."
        },
        "reference": {
          "description": "Required. Ground truth used to compare against the prediction.",
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1ToolNameMatchInstance",
      "type": "object"
    },
    "GoogleCloudAiplatformV1MemoryFilter": {
      "description": "Filter to apply when retrieving memories.",
      "properties": {
        "op": {
          "type": "string",
          "enumDescriptions": [
            "Represents an unspecified operator. Defaults to EQUAL.",
            "Equal to.",
            "Greater than.",
            "Less than."
          ],
          "description": "Represents the operator to apply to the filter. If not set, then EQUAL will be used.",
          "enum": [
            "OPERATOR_UNSPECIFIED",
            "EQUAL",
            "GREATER_THAN",
            "LESS_THAN"
          ]
        },
        "value": {
          "description": "Represents the value to compare to.",
          "$ref": "GoogleCloudAiplatformV1MemoryMetadataValue"
        },
        "negate": {
          "type": "boolean",
          "description": "Indicates whether the filter will be negated."
        },
        "key": {
          "description": "Represents the key of the filter. For example, \"author\" would apply to `metadata` entries with the key \"author\".",
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1MemoryFilter",
      "type": "object"
    },
    "GoogleCloudAiplatformV1ReadIndexDatapointsResponse": {
      "id": "GoogleCloudAiplatformV1ReadIndexDatapointsResponse",
      "type": "object",
      "description": "The response message for MatchService.ReadIndexDatapoints.",
      "properties": {
        "datapoints": {
          "type": "array",
          "description": "The result list of datapoints.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1IndexDatapoint"
          }
        }
      }
    },
    "GoogleCloudAiplatformV1UploadModelResponse": {
      "description": "Response message of ModelService.UploadModel operation.",
      "properties": {
        "model": {
          "type": "string",
          "description": "The name of the uploaded Model resource. Format: `projects/{project}/locations/{location}/models/{model}`"
        },
        "modelVersionId": {
          "description": "Output only. The version ID of the model that is uploaded.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1UploadModelResponse"
    },
    "GoogleCloudAiplatformV1GenAiAdvancedFeaturesConfig": {
      "id": "GoogleCloudAiplatformV1GenAiAdvancedFeaturesConfig",
      "type": "object",
      "description": "Configuration for GenAiAdvancedFeatures.",
      "properties": {
        "ragConfig": {
          "description": "Configuration for Retrieval Augmented Generation feature.",
          "$ref": "GoogleCloudAiplatformV1GenAiAdvancedFeaturesConfigRagConfig"
        }
      }
    },
    "GoogleCloudAiplatformV1RagFileChunkingConfigFixedLengthChunking": {
      "description": "Specifies the fixed length chunking config.",
      "properties": {
        "chunkSize": {
          "type": "integer",
          "description": "The size of the chunks.",
          "format": "int32"
        },
        "chunkOverlap": {
          "description": "The overlap between chunks.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GoogleCloudAiplatformV1RagFileChunkingConfigFixedLengthChunking",
      "type": "object"
    },
    "GoogleCloudAiplatformV1Tensor": {
      "description": "A tensor value type.",
      "properties": {
        "structVal": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudAiplatformV1Tensor"
          },
          "description": "A map of string to tensor."
        },
        "stringVal": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "STRING"
        },
        "uintVal": {
          "description": "UINT8 UINT16 UINT32",
          "items": {
            "type": "integer",
            "format": "uint32"
          },
          "type": "array"
        },
        "dtype": {
          "description": "The data type of tensor.",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "BOOL",
            "STRING",
            "FLOAT",
            "DOUBLE",
            "INT8",
            "INT16",
            "INT32",
            "INT64",
            "UINT8",
            "UINT16",
            "UINT32",
            "UINT64"
          ],
          "enumDescriptions": [
            "Not a legal value for DataType. Used to indicate a DataType field has not been set.",
            "Data types that all computation devices are expected to be capable to support.",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "boolVal": {
          "type": "array",
          "items": {
            "type": "boolean"
          },
          "description": "Type specific representations that make it easy to create tensor protos in all languages. Only the representation corresponding to \"dtype\" can be set. The values hold the flattened representation of the tensor in row major order. BOOL"
        },
        "bytesVal": {
          "items": {
            "type": "string",
            "format": "byte"
          },
          "description": "STRING",
          "type": "array"
        },
        "intVal": {
          "type": "array",
          "description": "INT_8 INT_16 INT_32",
          "items": {
            "format": "int32",
            "type": "integer"
          }
        },
        "shape": {
          "description": "Shape of the tensor.",
          "items": {
            "format": "int64",
            "type": "string"
          },
          "type": "array"
        },
        "uint64Val": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "uint64"
          },
          "description": "UINT64"
        },
        "tensorVal": {
          "description": "Serialized raw tensor content.",
          "format": "byte",
          "type": "string"
        },
        "listVal": {
          "type": "array",
          "description": "A list of tensor values.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1Tensor"
          }
        },
        "int64Val": {
          "type": "array",
          "description": "INT64",
          "items": {
            "format": "int64",
            "type": "string"
          }
        },
        "floatVal": {
          "items": {
            "type": "number",
            "format": "float"
          },
          "description": "FLOAT",
          "type": "array"
        },
        "doubleVal": {
          "items": {
            "type": "number",
            "format": "double"
          },
          "description": "DOUBLE",
          "type": "array"
        }
      },
      "id": "GoogleCloudAiplatformV1Tensor",
      "type": "object"
    },
    "GoogleCloudAiplatformV1RagEmbeddingModelConfigVertexPredictionEndpoint": {
      "id": "GoogleCloudAiplatformV1RagEmbeddingModelConfigVertexPredictionEndpoint",
      "type": "object",
      "description": "Config representing a model hosted on Vertex Prediction Endpoint.",
      "properties": {
        "modelVersionId": {
          "type": "string",
          "description": "Output only. Version ID of the model that is deployed on the endpoint. Present only when the endpoint is not a publisher model.",
          "readOnly": true
        },
        "endpoint": {
          "type": "string",
          "description": "Required. The endpoint resource name. Format: `projects/{project}/locations/{location}/publishers/{publisher}/models/{model}` or `projects/{project}/locations/{location}/endpoints/{endpoint}`"
        },
        "model": {
          "description": "Output only. The resource name of the model that is deployed on the endpoint. Present only when the endpoint is not a publisher model. Pattern: `projects/{project}/locations/{location}/models/{model}`",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1EvaluationInstanceInstanceDataContents": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1EvaluationInstanceInstanceDataContents",
      "description": "List of standard Content messages from Gemini API.",
      "properties": {
        "contents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1Content"
          },
          "description": "Optional. Repeated contents."
        }
      }
    },
    "GoogleCloudAiplatformV1CacheConfig": {
      "description": "Config of GenAI caching features. This is a singleton resource.",
      "properties": {
        "name": {
          "description": "Identifier. Name of the cache config. Format: - `projects/{project}/cacheConfig`.",
          "type": "string"
        },
        "disableCache": {
          "type": "boolean",
          "description": "If set to true, disables GenAI caching. Otherwise caching is enabled."
        }
      },
      "id": "GoogleCloudAiplatformV1CacheConfig",
      "type": "object"
    },
    "GoogleCloudAiplatformV1MetadataSchema": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1MetadataSchema",
      "description": "Instance of a general MetadataSchema.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. The resource name of the MetadataSchema.",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. Timestamp when this MetadataSchema was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "schemaVersion": {
          "description": "The version of the MetadataSchema. The version's format must match the following regular expression: `^[0-9]+.+.+$`, which would allow to order/compare different versions. Example: 1.0.0, 1.0.1, etc.",
          "type": "string"
        },
        "schemaType": {
          "enumDescriptions": [
            "Unspecified type for the MetadataSchema.",
            "A type indicating that the MetadataSchema will be used by Artifacts.",
            "A typee indicating that the MetadataSchema will be used by Executions.",
            "A state indicating that the MetadataSchema will be used by Contexts."
          ],
          "description": "The type of the MetadataSchema. This is a property that identifies which metadata types will use the MetadataSchema.",
          "enum": [
            "METADATA_SCHEMA_TYPE_UNSPECIFIED",
            "ARTIFACT_TYPE",
            "EXECUTION_TYPE",
            "CONTEXT_TYPE"
          ],
          "type": "string"
        },
        "schema": {
          "description": "Required. The raw YAML string representation of the MetadataSchema. The combination of [MetadataSchema.version] and the schema name given by `title` in [MetadataSchema.schema] must be unique within a MetadataStore. The schema is defined as an OpenAPI 3.0.2 [MetadataSchema Object](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.2.md#schemaObject)",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Description of the Metadata Schema"
        }
      }
    },
    "GoogleCloudAiplatformV1RagVectorDbConfigRagManagedDb": {
      "description": "The config for the default RAG-managed Vector DB.",
      "properties": {
        "knn": {
          "description": "Performs a KNN search on RagCorpus. Default choice if not specified.",
          "$ref": "GoogleCloudAiplatformV1RagVectorDbConfigRagManagedDbKNN"
        },
        "ann": {
          "description": "Performs an ANN search on RagCorpus. Use this if you have a lot of files (> 10K) in your RagCorpus and want to reduce the search latency.",
          "$ref": "GoogleCloudAiplatformV1RagVectorDbConfigRagManagedDbANN"
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1RagVectorDbConfigRagManagedDb"
    },
    "GoogleCloudAiplatformV1FluencyInstance": {
      "id": "GoogleCloudAiplatformV1FluencyInstance",
      "type": "object",
      "description": "Spec for fluency instance.",
      "properties": {
        "prediction": {
          "type": "string",
          "description": "Required. Output of the evaluated model."
        }
      }
    },
    "GoogleCloudAiplatformV1SchemaVideoClassificationAnnotation": {
      "id": "GoogleCloudAiplatformV1SchemaVideoClassificationAnnotation",
      "type": "object",
      "description": "Annotation details specific to video classification.",
      "properties": {
        "timeSegment": {
          "description": "This Annotation applies to the time period represented by the TimeSegment. If it's not set, the Annotation applies to the whole video.",
          "$ref": "GoogleCloudAiplatformV1SchemaTimeSegment"
        },
        "annotationSpecId": {
          "description": "The resource Id of the AnnotationSpec that this Annotation pertains to.",
          "type": "string"
        },
        "displayName": {
          "description": "The display name of the AnnotationSpec that this Annotation pertains to.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1VideoResponseFormat": {
      "description": "Configuration for video-specific output formatting.",
      "properties": {
        "gcsUri": {
          "description": "Optional. The Google Cloud Storage URI to store the video output. Required for Vertex if delivery is URI.",
          "type": "string"
        },
        "duration": {
          "type": "string",
          "description": "Optional. The duration for the video output.",
          "format": "google-duration"
        },
        "resolution": {
          "description": "Optional. The video output resolution. Supported values: \"360p\", \"720p\", \"1080p\", \"4k\".",
          "type": "string"
        },
        "aspectRatio": {
          "description": "The aspect ratio for the video output.",
          "enum": [
            "ASPECT_RATIO_UNSPECIFIED",
            "ASPECT_RATIO_SIXTEEN_BY_NINE",
            "ASPECT_RATIO_NINE_BY_SIXTEEN"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "16:9 aspect ratio.",
            "9:16 aspect ratio."
          ],
          "type": "string"
        },
        "delivery": {
          "description": "Optional. Delivery mode for the generated content.",
          "enum": [
            "DELIVERY_UNSPECIFIED",
            "INLINE",
            "URI"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Generated bytes are returned inline in the response.",
            "Generated content is stored and a URI is returned."
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1VideoResponseFormat"
    },
    "GoogleCloudAiplatformV1FeatureGroup": {
      "id": "GoogleCloudAiplatformV1FeatureGroup",
      "type": "object",
      "description": "Vertex AI Feature Group.",
      "properties": {
        "name": {
          "description": "Identifier. Name of the FeatureGroup. Format: `projects/{project}/locations/{location}/featureGroups/{featureGroup}`",
          "type": "string"
        },
        "serviceAgentType": {
          "enumDescriptions": [
            "By default, the project-level Vertex AI Service Agent is enabled.",
            "Specifies the project-level Vertex AI Service Agent (https://cloud.google.com/vertex-ai/docs/general/access-control#service-agents).",
            "Enable a FeatureGroup service account to be created by Vertex AI and output in the field `service_account_email`. This service account will be used to read from the source BigQuery table during jobs under a FeatureGroup."
          ],
          "description": "Optional. Service agent type used during jobs under a FeatureGroup. By default, the Vertex AI Service Agent is used. When using an IAM Policy to isolate this FeatureGroup within a project, a separate service account should be provisioned by setting this field to `SERVICE_AGENT_TYPE_FEATURE_GROUP`. This will generate a separate service account to access the BigQuery source table.",
          "enum": [
            "SERVICE_AGENT_TYPE_UNSPECIFIED",
            "SERVICE_AGENT_TYPE_PROJECT",
            "SERVICE_AGENT_TYPE_FEATURE_GROUP"
          ],
          "type": "string"
        },
        "serviceAccountEmail": {
          "type": "string",
          "description": "Output only. A Service Account unique to this FeatureGroup. The role bigquery.dataViewer should be granted to this service account to allow Vertex AI Feature Store to access source data while running jobs under this FeatureGroup.",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the FeatureGroup."
        },
        "bigQuery": {
          "description": "Indicates that features for this group come from BigQuery Table/View. By default treats the source as a sparse time series source. The BigQuery source table or view must have at least one entity ID column and a column named `feature_timestamp`.",
          "$ref": "GoogleCloudAiplatformV1FeatureGroupBigQuery"
        },
        "createTime": {
          "description": "Output only. Timestamp when this FeatureGroup was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "etag": {
          "description": "Optional. Used to perform consistent read-modify-write updates. If not set, a blind \"overwrite\" update happens.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. Timestamp when this FeatureGroup was last updated.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The labels with user-defined metadata to organize your FeatureGroup. Label keys and values can be no longer than 64 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. See https://goo.gl/xmQnxf for more information on and examples of labels. No more than 64 user labels can be associated with one FeatureGroup(System labels are excluded).\" System reserved label keys are prefixed with \"aiplatform.googleapis.com/\" and are immutable."
        }
      }
    },
    "GoogleCloudAiplatformV1SchemaTextDataItem": {
      "id": "GoogleCloudAiplatformV1SchemaTextDataItem",
      "type": "object",
      "description": "Payload of Text DataItem.",
      "properties": {
        "gcsUri": {
          "description": "Output only. Google Cloud Storage URI points to a copy of the original text in the Vertex-managed bucket in the user's project. The text file is up to 10MB in size.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1QuestionAnsweringRelevanceInstance": {
      "id": "GoogleCloudAiplatformV1QuestionAnsweringRelevanceInstance",
      "type": "object",
      "description": "Spec for question answering relevance instance.",
      "properties": {
        "instruction": {
          "type": "string",
          "description": "Required. The question asked and other instruction in the inference prompt."
        },
        "context": {
          "type": "string",
          "description": "Optional. Text provided as context to answer the question."
        },
        "prediction": {
          "type": "string",
          "description": "Required. Output of the evaluated model."
        },
        "reference": {
          "type": "string",
          "description": "Optional. Ground truth used to compare against the prediction."
        }
      }
    },
    "GoogleCloudAiplatformV1BatchCreateFeaturesRequest": {
      "description": "Request message for FeaturestoreService.BatchCreateFeatures. Request message for FeatureRegistryService.BatchCreateFeatures.",
      "properties": {
        "requests": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1CreateFeatureRequest"
          },
          "description": "Required. The request message specifying the Features to create. All Features must be created under the same parent EntityType / FeatureGroup. The `parent` field in each child request message can be omitted. If `parent` is set in a child request, then the value must match the `parent` value in this request message.",
          "type": "array"
        }
      },
      "id": "GoogleCloudAiplatformV1BatchCreateFeaturesRequest",
      "type": "object"
    },
    "GoogleCloudAiplatformV1ActivateOnlineEvaluatorRequest": {
      "description": "Request message for ActivateOnlineEvaluator.",
      "properties": {},
      "type": "object",
      "id": "GoogleCloudAiplatformV1ActivateOnlineEvaluatorRequest"
    },
    "GoogleCloudAiplatformV1CsvDestination": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1CsvDestination",
      "description": "The storage details for CSV output content.",
      "properties": {
        "gcsDestination": {
          "description": "Required. Google Cloud Storage location.",
          "$ref": "GoogleCloudAiplatformV1GcsDestination"
        }
      }
    },
    "GoogleCloudAiplatformV1GroundednessInput": {
      "description": "Input for groundedness metric.",
      "properties": {
        "instance": {
          "description": "Required. Groundedness instance.",
          "$ref": "GoogleCloudAiplatformV1GroundednessInstance"
        },
        "metricSpec": {
          "description": "Required. Spec for groundedness metric.",
          "$ref": "GoogleCloudAiplatformV1GroundednessSpec"
        }
      },
      "id": "GoogleCloudAiplatformV1GroundednessInput",
      "type": "object"
    },
    "GoogleCloudAiplatformV1NearestNeighborQuery": {
      "description": "A query to find a number of similar entities.",
      "properties": {
        "embedding": {
          "description": "Optional. The embedding vector that be used for similar search.",
          "$ref": "GoogleCloudAiplatformV1NearestNeighborQueryEmbedding"
        },
        "perCrowdingAttributeNeighborCount": {
          "type": "integer",
          "description": "Optional. Crowding is a constraint on a neighbor list produced by nearest neighbor search requiring that no more than sper_crowding_attribute_neighbor_count of the k neighbors returned have the same value of crowding_attribute. It's used for improving result diversity.",
          "format": "int32"
        },
        "entityId": {
          "type": "string",
          "description": "Optional. The entity id whose similar entities should be searched for. If embedding is set, search will use embedding instead of entity_id."
        },
        "numericFilters": {
          "description": "Optional. The list of numeric filters.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1NearestNeighborQueryNumericFilter"
          },
          "type": "array"
        },
        "neighborCount": {
          "description": "Optional. The number of similar entities to be retrieved from feature view for each query.",
          "format": "int32",
          "type": "integer"
        },
        "stringFilters": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1NearestNeighborQueryStringFilter"
          },
          "description": "Optional. The list of string filters."
        },
        "parameters": {
          "description": "Optional. Parameters that can be set to tune query on the fly.",
          "$ref": "GoogleCloudAiplatformV1NearestNeighborQueryParameters"
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1NearestNeighborQuery"
    },
    "GoogleCloudAiplatformV1BatchPredictionJobOutputInfo": {
      "description": "Further describes this job's output. Supplements output_config.",
      "properties": {
        "bigqueryOutputDataset": {
          "description": "Output only. The path of the BigQuery dataset created, in `bq://projectId.bqDatasetId` format, into which the prediction output is written.",
          "readOnly": true,
          "type": "string"
        },
        "vertexMultimodalDatasetName": {
          "type": "string",
          "description": "Output only. The resource name of the Vertex Managed Dataset created, into which the prediction output is written. Format: `projects/{project}/locations/{location}/datasets/{dataset}`",
          "readOnly": true
        },
        "bigqueryOutputTable": {
          "type": "string",
          "description": "Output only. The name of the BigQuery table created, in `predictions_` format, into which the prediction output is written. Can be used by UI to generate the BigQuery output path, for example.",
          "readOnly": true
        },
        "gcsOutputDirectory": {
          "type": "string",
          "description": "Output only. The full path of the Cloud Storage directory created, into which the prediction output is written.",
          "readOnly": true
        }
      },
      "id": "GoogleCloudAiplatformV1BatchPredictionJobOutputInfo",
      "type": "object"
    },
    "CloudAiLargeModelsVisionGenerateVideoRequestAudio": {
      "description": "The raw bytes or Cloud Storage URI for an audio input.",
      "properties": {
        "gcsUri": {
          "type": "string"
        },
        "mimeType": {
          "description": "The MIME type of the content of the audio. Only audio in below listed MIME types are supported. - audio/wav - audio/mp3 - audio/mpeg",
          "type": "string"
        },
        "bytesBase64Encoded": {
          "description": "Base64 encoded bytes string representing the audio.",
          "type": "string"
        },
        "blobId": {
          "description": "Blob ID of the audio. This is used for storing the large audio in the request.",
          "type": "string"
        }
      },
      "id": "CloudAiLargeModelsVisionGenerateVideoRequestAudio",
      "type": "object"
    },
    "GoogleCloudAiplatformV1ExplanationMetadataInputMetadata": {
      "id": "GoogleCloudAiplatformV1ExplanationMetadataInputMetadata",
      "type": "object",
      "description": "Metadata of the input of a feature. Fields other than InputMetadata.input_baselines are applicable only for Models that are using Vertex AI-provided images for Tensorflow.",
      "properties": {
        "inputTensorName": {
          "description": "Name of the input tensor for this feature. Required and is only applicable to Vertex AI-provided images for Tensorflow.",
          "type": "string"
        },
        "encodedBaselines": {
          "description": "A list of baselines for the encoded tensor. The shape of each baseline should match the shape of the encoded tensor. If a scalar is provided, Vertex AI broadcasts to the same shape as the encoded tensor.",
          "items": {
            "type": "any"
          },
          "type": "array"
        },
        "groupName": {
          "description": "Name of the group that the input belongs to. Features with the same group name will be treated as one feature when computing attributions. Features grouped together can have different shapes in value. If provided, there will be one single attribution generated in Attribution.feature_attributions, keyed by the group name.",
          "type": "string"
        },
        "encoding": {
          "type": "string",
          "description": "Defines how the feature is encoded into the input tensor. Defaults to IDENTITY.",
          "enum": [
            "ENCODING_UNSPECIFIED",
            "IDENTITY",
            "BAG_OF_FEATURES",
            "BAG_OF_FEATURES_SPARSE",
            "INDICATOR",
            "COMBINED_EMBEDDING",
            "CONCAT_EMBEDDING"
          ],
          "enumDescriptions": [
            "Default value. This is the same as IDENTITY.",
            "The tensor represents one feature.",
            "The tensor represents a bag of features where each index maps to a feature. InputMetadata.index_feature_mapping must be provided for this encoding. For example: ``` input = [27, 6.0, 150] index_feature_mapping = [\"age\", \"height\", \"weight\"] ```",
            "The tensor represents a bag of features where each index maps to a feature. Zero values in the tensor indicates feature being non-existent. InputMetadata.index_feature_mapping must be provided for this encoding. For example: ``` input = [2, 0, 5, 0, 1] index_feature_mapping = [\"a\", \"b\", \"c\", \"d\", \"e\"] ```",
            "The tensor is a list of binaries representing whether a feature exists or not (1 indicates existence). InputMetadata.index_feature_mapping must be provided for this encoding. For example: ``` input = [1, 0, 1, 0, 1] index_feature_mapping = [\"a\", \"b\", \"c\", \"d\", \"e\"] ```",
            "The tensor is encoded into a 1-dimensional array represented by an encoded tensor. InputMetadata.encoded_tensor_name must be provided for this encoding. For example: ``` input = [\"This\", \"is\", \"a\", \"test\", \".\"] encoded = [0.1, 0.2, 0.3, 0.4, 0.5] ```",
            "Select this encoding when the input tensor is encoded into a 2-dimensional array represented by an encoded tensor. InputMetadata.encoded_tensor_name must be provided for this encoding. The first dimension of the encoded tensor's shape is the same as the input tensor's shape. For example: ``` input = [\"This\", \"is\", \"a\", \"test\", \".\"] encoded = [[0.1, 0.2, 0.3, 0.4, 0.5], [0.2, 0.1, 0.4, 0.3, 0.5], [0.5, 0.1, 0.3, 0.5, 0.4], [0.5, 0.3, 0.1, 0.2, 0.4], [0.4, 0.3, 0.2, 0.5, 0.1]] ```"
          ]
        },
        "indexFeatureMapping": {
          "description": "A list of feature names for each index in the input tensor. Required when the input InputMetadata.encoding is BAG_OF_FEATURES, BAG_OF_FEATURES_SPARSE, INDICATOR.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "inputBaselines": {
          "items": {
            "type": "any"
          },
          "description": "Baseline inputs for this feature. If no baseline is specified, Vertex AI chooses the baseline for this feature. If multiple baselines are specified, Vertex AI returns the average attributions across them in Attribution.feature_attributions. For Vertex AI-provided Tensorflow images (both 1.x and 2.x), the shape of each baseline must match the shape of the input tensor. If a scalar is provided, we broadcast to the same shape as the input tensor. For custom images, the element of the baselines must be in the same format as the feature's input in the instance[]. The schema of any single instance may be specified via Endpoint's DeployedModels' Model's PredictSchemata's instance_schema_uri.",
          "type": "array"
        },
        "featureValueDomain": {
          "description": "The domain details of the input feature value. Like min/max, original mean or standard deviation if normalized.",
          "$ref": "GoogleCloudAiplatformV1ExplanationMetadataInputMetadataFeatureValueDomain"
        },
        "visualization": {
          "description": "Visualization configurations for image explanation.",
          "$ref": "GoogleCloudAiplatformV1ExplanationMetadataInputMetadataVisualization"
        },
        "indicesTensorName": {
          "type": "string",
          "description": "Specifies the index of the values of the input tensor. Required when the input tensor is a sparse representation. Refer to Tensorflow documentation for more details: https://www.tensorflow.org/api_docs/python/tf/sparse/SparseTensor."
        },
        "modality": {
          "description": "Modality of the feature. Valid values are: numeric, image. Defaults to numeric.",
          "type": "string"
        },
        "denseShapeTensorName": {
          "type": "string",
          "description": "Specifies the shape of the values of the input if the input is a sparse representation. Refer to Tensorflow documentation for more details: https://www.tensorflow.org/api_docs/python/tf/sparse/SparseTensor."
        },
        "encodedTensorName": {
          "type": "string",
          "description": "Encoded tensor is a transformation of the input tensor. Must be provided if choosing Integrated Gradients attribution or XRAI attribution and the input tensor is not differentiable. An encoded tensor is generated if the input tensor is encoded by a lookup table."
        }
      }
    },
    "GoogleCloudAiplatformV1SummarizationVerbosityInstance": {
      "id": "GoogleCloudAiplatformV1SummarizationVerbosityInstance",
      "type": "object",
      "description": "Spec for summarization verbosity instance.",
      "properties": {
        "prediction": {
          "description": "Required. Output of the evaluated model.",
          "type": "string"
        },
        "reference": {
          "type": "string",
          "description": "Optional. Ground truth used to compare against the prediction."
        },
        "context": {
          "type": "string",
          "description": "Required. Text to be summarized."
        },
        "instruction": {
          "description": "Optional. Summarization prompt for LLM.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1Attribution": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1Attribution",
      "description": "Attribution that explains a particular prediction output.",
      "properties": {
        "outputIndex": {
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "description": "Output only. The index that locates the explained prediction output. If the prediction output is a scalar value, output_index is not populated. If the prediction output has multiple dimensions, the length of the output_index list is the same as the number of dimensions of the output. The i-th element in output_index is the element index of the i-th dimension of the output vector. Indices start from 0.",
          "readOnly": true,
          "type": "array"
        },
        "outputDisplayName": {
          "description": "Output only. The display name of the output identified by output_index. For example, the predicted class name by a multi-classification Model. This field is only populated iff the Model predicts display names as a separate field along with the explained output. The predicted display name must has the same shape of the explained output, and can be located using output_index.",
          "readOnly": true,
          "type": "string"
        },
        "instanceOutputValue": {
          "type": "number",
          "description": "Output only. Model predicted output on the corresponding explanation instance. The field name of the output is determined by the key in ExplanationMetadata.outputs. If the Model predicted output has multiple dimensions, this is the value in the output located by output_index.",
          "readOnly": true,
          "format": "double"
        },
        "outputName": {
          "description": "Output only. Name of the explain output. Specified as the key in ExplanationMetadata.outputs.",
          "readOnly": true,
          "type": "string"
        },
        "featureAttributions": {
          "description": "Output only. Attributions of each explained feature. Features are extracted from the prediction instances according to explanation metadata for inputs. The value is a struct, whose keys are the name of the feature. The values are how much the feature in the instance contributed to the predicted result. The format of the value is determined by the feature's input format: * If the feature is a scalar value, the attribution value is a floating number. * If the feature is an array of scalar values, the attribution value is an array. * If the feature is a struct, the attribution value is a struct. The keys in the attribution value struct are the same as the keys in the feature struct. The formats of the values in the attribution struct are determined by the formats of the values in the feature struct. The ExplanationMetadata.feature_attributions_schema_uri field, pointed to by the ExplanationSpec field of the Endpoint.deployed_models object, points to the schema file that describes the features and their attribution values (if it is populated).",
          "readOnly": true,
          "type": "any"
        },
        "baselineOutputValue": {
          "description": "Output only. Model predicted output if the input instance is constructed from the baselines of all the features defined in ExplanationMetadata.inputs. The field name of the output is determined by the key in ExplanationMetadata.outputs. If the Model's predicted output has multiple dimensions (rank > 1), this is the value in the output located by output_index. If there are multiple baselines, their output values are averaged.",
          "readOnly": true,
          "format": "double",
          "type": "number"
        },
        "approximationError": {
          "type": "number",
          "description": "Output only. Error of feature_attributions caused by approximation used in the explanation method. Lower value means more precise attributions. * For Sampled Shapley attribution, increasing path_count might reduce the error. * For Integrated Gradients attribution, increasing step_count might reduce the error. * For XRAI attribution, increasing step_count might reduce the error. See [this introduction](/vertex-ai/docs/explainable-ai/overview) for more information.",
          "readOnly": true,
          "format": "double"
        }
      }
    },
    "GoogleCloudAiplatformV1AudioResponseFormat": {
      "id": "GoogleCloudAiplatformV1AudioResponseFormat",
      "type": "object",
      "description": "Configuration for audio-specific output formatting.",
      "properties": {
        "delivery": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Generated bytes are returned inline in the response.",
            "Generated content is stored and a URI is returned."
          ],
          "description": "Optional. Delivery mode for the generated content.",
          "enum": [
            "DELIVERY_UNSPECIFIED",
            "INLINE",
            "URI"
          ]
        },
        "sampleRate": {
          "description": "Optional. Sample rate for the generated audio in Hertz.",
          "format": "int32",
          "type": "integer"
        },
        "mimeType": {
          "description": "Optional. The MIME type of the audio output.",
          "enum": [
            "MIME_TYPE_UNSPECIFIED",
            "AUDIO_MP3",
            "AUDIO_OGG_OPUS",
            "AUDIO_L16",
            "AUDIO_WAV",
            "AUDIO_ALAW",
            "AUDIO_MULAW"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "MP3 audio format.",
            "OGG Opus audio format.",
            "Raw PCM (L16) audio format.",
            "WAV audio format.",
            "A-law audio format.",
            "Mu-law audio format."
          ],
          "type": "string"
        },
        "bitRate": {
          "description": "Optional. Bit rate in bits per second (bps). Only applicable for compressed formats (MP3, Opus).",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "GoogleCloudAiplatformV1SchemaPromptSpecTranslationSentenceFileInput": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1SchemaPromptSpecTranslationSentenceFileInput",
      "properties": {
        "fileInputSource": {
          "description": "Inlined file source.",
          "$ref": "GoogleCloudAiplatformV1SchemaPromptSpecTranslationFileInputSource"
        },
        "gcsInputSource": {
          "description": "Cloud Storage file source.",
          "$ref": "GoogleCloudAiplatformV1SchemaPromptSpecTranslationGcsInputSource"
        }
      }
    },
    "GoogleCloudAiplatformV1AgentTool": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1AgentTool",
      "description": "A tool provides a list of actions available to the Agent during the process of executing a task.",
      "properties": {
        "type": {
          "type": "string",
          "description": "Required. The type of the tool. Supported types: * `code_execution` * `filesystem` * `google_search` * `mcp_server` * `url_context`"
        },
        "name": {
          "description": "Optional. The name of the MCP server. Only applicable when `type` is `mcp_server`.",
          "type": "string"
        },
        "url": {
          "type": "string",
          "description": "Optional. The URL for the MCP server endpoint. Only applicable when `type` is `mcp_server`."
        },
        "headers": {
          "description": "Optional. The headers for the MCP server, such as for authentication. Only applicable when `type` is `mcp_server`.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudAiplatformV1EvaluationDataset": {
      "description": "The dataset used for evaluation.",
      "properties": {
        "gcsSource": {
          "description": "Cloud storage source holds the dataset. Currently only one Cloud Storage file path is supported.",
          "$ref": "GoogleCloudAiplatformV1GcsSource"
        },
        "bigquerySource": {
          "description": "BigQuery source holds the dataset.",
          "$ref": "GoogleCloudAiplatformV1BigQuerySource"
        }
      },
      "id": "GoogleCloudAiplatformV1EvaluationDataset",
      "type": "object"
    },
    "GoogleCloudAiplatformV1OutputFieldSpec": {
      "id": "GoogleCloudAiplatformV1OutputFieldSpec",
      "type": "object",
      "description": "Specifies the properties of a single field that are included in each generated synthetic example. This helps the model understand what kind of data to generate for each field.",
      "properties": {
        "guidance": {
          "type": "string",
          "description": "Optional. Specific instructions for the large language model on how to generate content for this particular field. While the LLM can sometimes infer content from the field name, providing explicit guidance is preferred. For example, for a field named \"review\", the guidance could be \"A positive review about a coffee maker.\""
        },
        "fieldType": {
          "enumDescriptions": [
            "The field type is not specified. Defaults to CONTENT.",
            "The field can contain any type of content, including text, images, and audio.",
            "The field contains only text.",
            "The field contains image data.",
            "The field contains audio data."
          ],
          "description": "Optional. The data type of the field. Defaults to CONTENT if not set.",
          "enum": [
            "FIELD_TYPE_UNSPECIFIED",
            "CONTENT",
            "TEXT",
            "IMAGE",
            "AUDIO"
          ],
          "type": "string"
        },
        "fieldName": {
          "type": "string",
          "description": "Required. The name of this field in the generated synthetic data, such as \"email_subject\" or \"customer_review\"."
        }
      }
    },
    "GoogleCloudAiplatformV1LineageSubgraph": {
      "id": "GoogleCloudAiplatformV1LineageSubgraph",
      "type": "object",
      "description": "A subgraph of the overall lineage graph. Event edges connect Artifact and Execution nodes.",
      "properties": {
        "artifacts": {
          "description": "The Artifact nodes in the subgraph.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1Artifact"
          },
          "type": "array"
        },
        "events": {
          "type": "array",
          "description": "The Event edges between Artifacts and Executions in the subgraph.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1Event"
          }
        },
        "executions": {
          "description": "The Execution nodes in the subgraph.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1Execution"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudAiplatformV1ListEvaluationRunsResponse": {
      "description": "Response message for EvaluationManagementService.ListEvaluationRuns.",
      "properties": {
        "evaluationRuns": {
          "description": "List of EvaluationRuns in the requested page.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1EvaluationRun"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results."
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1ListEvaluationRunsResponse"
    },
    "GoogleCloudAiplatformV1GenerateMemoriesRequestDirectMemoriesSourceDirectMemory": {
      "description": "A direct memory to upload to Memory Bank.",
      "properties": {
        "topics": {
          "type": "array",
          "description": "Optional. The topics that the consolidated memories should be associated with.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1MemoryTopicId"
          }
        },
        "fact": {
          "type": "string",
          "description": "Required. The fact to consolidate with existing memories."
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1GenerateMemoriesRequestDirectMemoriesSourceDirectMemory"
    },
    "GoogleCloudAiplatformV1ExecuteSandboxEnvironmentResponse": {
      "id": "GoogleCloudAiplatformV1ExecuteSandboxEnvironmentResponse",
      "type": "object",
      "description": "Response message for SandboxEnvironmentExecutionService.Execute.",
      "properties": {
        "outputs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1Chunk"
          },
          "description": "The outputs from the sandbox environment."
        }
      }
    },
[...]
