{
  "basePath": "",
  "mtlsRootUrl": "https://aiplatform.mtls.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "alt": {
      "type": "string",
      "location": "query",
      "description": "Data format for response.",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/aiplatform": {
          "description": "See, edit, configure, and delete your Google Cloud Vertex AI data and see the email address for your Google Account"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "canonicalName": "Aiplatform",
  "batchPath": "batch",
  "schemas": {
    "GoogleCloudAiplatformV1PublisherModelCallToActionDeployVertex": {
      "description": "Multiple setups to deploy the PublisherModel.",
      "id": "GoogleCloudAiplatformV1PublisherModelCallToActionDeployVertex",
      "properties": {
        "multiDeployVertex": {
          "type": "array",
          "description": "Optional. One click deployment configurations.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1PublisherModelCallToActionDeploy"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1PairwiseQuestionAnsweringQualityResult": {
      "properties": {
        "pairwiseChoice": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Pairwise question answering prediction choice.",
          "enumDescriptions": [
            "Unspecified prediction choice.",
            "Baseline prediction wins",
            "Candidate prediction wins",
            "Winner cannot be determined"
          ],
          "enum": [
            "PAIRWISE_CHOICE_UNSPECIFIED",
            "BASELINE",
            "CANDIDATE",
            "TIE"
          ]
        },
        "explanation": {
          "description": "Output only. Explanation for question answering quality score.",
          "type": "string",
          "readOnly": true
        },
        "confidence": {
          "type": "number",
          "readOnly": true,
          "description": "Output only. Confidence for question answering quality score.",
          "format": "float"
        }
      },
      "id": "GoogleCloudAiplatformV1PairwiseQuestionAnsweringQualityResult",
      "description": "Spec for pairwise question answering quality result.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1SafetyInstance": {
      "properties": {
        "prediction": {
          "type": "string",
          "description": "Required. Output of the evaluated model."
        }
      },
      "id": "GoogleCloudAiplatformV1SafetyInstance",
      "type": "object",
      "description": "Spec for safety instance."
    },
    "GoogleCloudAiplatformV1UploadModelOperationMetadata": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1UploadModelOperationMetadata",
      "description": "Details of ModelService.UploadModel operation.",
      "properties": {
        "genericMetadata": {
          "description": "The common part of the operation metadata.",
          "$ref": "GoogleCloudAiplatformV1GenericOperationMetadata"
        }
      }
    },
    "GoogleCloudAiplatformV1ListEventsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as ListEventsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages."
        },
        "sessionEvents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1SessionEvent"
          },
          "description": "A list of events matching the request. Ordered by timestamp in ascending order."
        }
      },
      "id": "GoogleCloudAiplatformV1ListEventsResponse",
      "type": "object",
      "description": "Response message for SessionService.ListEvents."
    },
    "GoogleCloudAiplatformV1FileStatus": {
      "description": "RagFile status.",
      "id": "GoogleCloudAiplatformV1FileStatus",
      "properties": {
        "state": {
          "description": "Output only. RagFile state.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "RagFile state is unspecified.",
            "RagFile resource has been created and indexed successfully.",
            "RagFile resource is in a problematic state. See `error_message` field for details."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "ERROR"
          ]
        },
        "errorStatus": {
          "type": "string",
          "description": "Output only. Only when the `state` field is ERROR.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1ApiAuthApiKeyConfig": {
      "id": "GoogleCloudAiplatformV1ApiAuthApiKeyConfig",
      "properties": {
        "apiKeySecretVersion": {
          "type": "string",
          "description": "Required. The SecretManager secret version resource name storing API key. e.g. projects/{project}/secrets/{secret}/versions/{version}"
        },
        "apiKeyString": {
          "description": "The API key string. Either this or `api_key_secret_version` must be set.",
          "type": "string"
        }
      },
      "description": "The API secret.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1CancelTrainingPipelineRequest": {
      "id": "GoogleCloudAiplatformV1CancelTrainingPipelineRequest",
      "description": "Request message for PipelineService.CancelTrainingPipeline.",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudAiplatformV1Presets": {
      "description": "Preset configuration for example-based explanations",
      "id": "GoogleCloudAiplatformV1Presets",
      "type": "object",
      "properties": {
        "query": {
          "enum": [
            "PRECISE",
            "FAST"
          ],
          "description": "Preset option controlling parameters for speed-precision trade-off when querying for examples. If omitted, defaults to `PRECISE`.",
          "type": "string",
          "enumDescriptions": [
            "More precise neighbors as a trade-off against slower response.",
            "Faster response as a trade-off against less precise neighbors."
          ]
        },
        "modality": {
          "type": "string",
          "enumDescriptions": [
            "Should not be set. Added as a recommended best practice for enums",
            "IMAGE modality",
            "TEXT modality",
            "TABULAR modality"
          ],
          "enum": [
            "MODALITY_UNSPECIFIED",
            "IMAGE",
            "TEXT",
            "TABULAR"
          ],
          "description": "The modality of the uploaded model, which automatically configures the distance measurement and feature normalization for the underlying example index and queries. If your model does not precisely fit one of these types, it is okay to choose the closest type."
        }
      }
    },
    "GoogleCloudAiplatformV1DirectPredictResponse": {
      "description": "Response message for PredictionService.DirectPredict.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1DirectPredictResponse",
      "properties": {
        "parameters": {
          "description": "The parameters that govern the prediction.",
          "$ref": "GoogleCloudAiplatformV1Tensor"
        },
        "outputs": {
          "description": "The prediction output.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1Tensor"
          }
        }
      }
    },
    "CloudAiLargeModelsVisionGenerateVideoResponse": {
      "properties": {
        "videos": {
          "items": {
            "$ref": "CloudAiLargeModelsVisionGenerateVideoResponseVideo"
          },
          "type": "array",
          "description": "List of videos, used to align naming with the external response."
        },
        "raiMediaFilteredReasons": {
          "type": "array",
          "description": "Returns rai failure reasons if any.",
          "items": {
            "type": "string"
          }
        },
        "generatedSamples": {
          "items": {
            "$ref": "CloudAiLargeModelsVisionMedia"
          },
          "description": "The generates samples.",
          "type": "array"
        },
        "raiMediaFilteredCount": {
          "description": "Returns if any videos were filtered due to RAI policies.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "CloudAiLargeModelsVisionGenerateVideoResponse",
      "description": "Generate video response.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1IndexEndpoint": {
      "properties": {
        "updateTime": {
          "type": "string",
          "description": "Output only. Timestamp when this IndexEndpoint was last updated. This timestamp is not updated when the endpoint's DeployedIndexes are updated, e.g. due to updates of the original Indexes they are the deployments of.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "publicEndpointDomainName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. If public_endpoint_enabled is true, this field will be populated with the domain name to use for this index endpoint."
        },
        "description": {
          "description": "The description of the IndexEndpoint.",
          "type": "string"
        },
        "enablePrivateServiceConnect": {
          "type": "boolean",
          "description": "Optional. Deprecated: If true, expose the IndexEndpoint via private service connect. Only one of the fields, network or enable_private_service_connect, can be set.",
          "deprecated": true
        },
        "createTime": {
          "description": "Output only. Timestamp when this IndexEndpoint was created.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "publicEndpointEnabled": {
          "type": "boolean",
          "description": "Optional. If true, the deployed index will be accessible through public endpoint."
        },
        "etag": {
          "type": "string",
          "description": "Used to perform consistent read-modify-write updates. If not set, a blind \"overwrite\" update happens."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name of the IndexEndpoint."
        },
        "satisfiesPzi": {
          "readOnly": true,
          "description": "Output only. Reserved for future use.",
          "type": "boolean"
        },
        "displayName": {
          "description": "Required. The display name of the IndexEndpoint. The name can be up to 128 characters long and can consist of any UTF-8 characters.",
          "type": "string"
        },
        "privateServiceConnectConfig": {
          "description": "Optional. Configuration for private service connect. network and private_service_connect_config are mutually exclusive.",
          "$ref": "GoogleCloudAiplatformV1PrivateServiceConnectConfig"
        },
        "network": {
          "description": "Optional. The full name of the Google Compute Engine [network](https://cloud.google.com/compute/docs/networks-and-firewalls#networks) to which the IndexEndpoint should be peered. Private services access must already be configured for the network. If left unspecified, the Endpoint is not peered with any network. network and private_service_connect_config are mutually exclusive. [Format](https://cloud.google.com/compute/docs/reference/rest/v1/networks/insert): `projects/{project}/global/networks/{network}`. Where {project} is a project number, as in '12345', and {network} is network name.",
          "type": "string"
        },
        "satisfiesPzs": {
          "type": "boolean",
          "description": "Output only. Reserved for future use.",
          "readOnly": true
        },
        "labels": {
          "description": "The labels with user-defined metadata to organize your IndexEndpoints. Label keys and values can be no longer than 64 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. See https://goo.gl/xmQnxf for more information and examples of labels.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "encryptionSpec": {
          "description": "Immutable. Customer-managed encryption key spec for an IndexEndpoint. If set, this IndexEndpoint and all sub-resources of this IndexEndpoint will be secured by this key.",
          "$ref": "GoogleCloudAiplatformV1EncryptionSpec"
        },
        "deployedIndexes": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1DeployedIndex"
          },
          "description": "Output only. The indexes deployed in this endpoint.",
          "type": "array",
          "readOnly": true
        }
      },
      "description": "Indexes are deployed into it. An IndexEndpoint can have multiple DeployedIndexes.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1IndexEndpoint"
    },
    "GoogleCloudAiplatformV1PairwiseQuestionAnsweringQualitySpec": {
      "id": "GoogleCloudAiplatformV1PairwiseQuestionAnsweringQualitySpec",
      "properties": {
        "version": {
          "description": "Optional. Which version to use for evaluation.",
          "format": "int32",
          "type": "integer"
        },
        "useReference": {
          "type": "boolean",
          "description": "Optional. Whether to use instance.reference to compute question answering quality."
        }
      },
      "description": "Spec for pairwise question answering quality score metric.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1OutputFieldSpec": {
      "properties": {
        "guidance": {
          "description": "Optional. Specific instructions for the large language model on how to generate content for this particular field. While the LLM can sometimes infer content from the field name, providing explicit guidance is preferred. For example, for a field named \"review\", the guidance could be \"A positive review about a coffee maker.\"",
          "type": "string"
        },
        "fieldName": {
          "type": "string",
          "description": "Required. The name of this field in the generated synthetic data, such as \"email_subject\" or \"customer_review\"."
        },
        "fieldType": {
          "enum": [
            "FIELD_TYPE_UNSPECIFIED",
            "CONTENT",
            "TEXT",
            "IMAGE",
            "AUDIO"
          ],
          "description": "Optional. The data type of the field. Defaults to CONTENT if not set.",
          "type": "string",
          "enumDescriptions": [
            "The field type is not specified. Defaults to CONTENT.",
            "The field can contain any type of content, including text, images, and audio.",
            "The field contains only text.",
            "The field contains image data.",
            "The field contains audio data."
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1OutputFieldSpec",
      "description": "Specifies the properties of a single field that are included in each generated synthetic example. This helps the model understand what kind of data to generate for each field."
    },
    "GoogleCloudAiplatformV1MigratableResource": {
      "id": "GoogleCloudAiplatformV1MigratableResource",
      "type": "object",
      "properties": {
        "mlEngineModelVersion": {
          "description": "Output only. Represents one Version in ml.googleapis.com.",
          "readOnly": true,
          "$ref": "GoogleCloudAiplatformV1MigratableResourceMlEngineModelVersion"
        },
        "dataLabelingDataset": {
          "deprecated": true,
          "readOnly": true,
          "$ref": "GoogleCloudAiplatformV1MigratableResourceDataLabelingDataset",
          "description": "Output only. Deprecated: Data Labeling Dataset migration is no longer supported. Represents one Dataset in datalabeling.googleapis.com."
        },
        "lastUpdateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Timestamp when this MigratableResource was last updated."
        },
        "lastMigrateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Timestamp when the last migration attempt on this MigratableResource started. Will not be set if there's no migration attempt on this MigratableResource."
        },
        "automlDataset": {
          "$ref": "GoogleCloudAiplatformV1MigratableResourceAutomlDataset",
          "readOnly": true,
          "description": "Output only. Represents one Dataset in automl.googleapis.com."
        },
        "automlModel": {
          "readOnly": true,
          "$ref": "GoogleCloudAiplatformV1MigratableResourceAutomlModel",
          "description": "Output only. Represents one Model in automl.googleapis.com."
        }
      },
      "description": "Represents one resource that exists in automl.googleapis.com, datalabeling.googleapis.com or ml.googleapis.com."
    },
    "GoogleCloudAiplatformV1ReadIndexDatapointsRequest": {
      "id": "GoogleCloudAiplatformV1ReadIndexDatapointsRequest",
      "properties": {
        "deployedIndexId": {
          "description": "The ID of the DeployedIndex that will serve the request.",
          "type": "string"
        },
        "ids": {
          "description": "IDs of the datapoints to be searched for.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "The request message for MatchService.ReadIndexDatapoints."
    },
    "GoogleCloudAiplatformV1OnlineEvaluator": {
      "id": "GoogleCloudAiplatformV1OnlineEvaluator",
      "description": "An OnlineEvaluator contains the configuration for an Online Evaluation.",
      "type": "object",
      "properties": {
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Indicates that the OnlineEvaluator is active.",
            "Indicates that the OnlineEvaluator is suspended. In this state, the OnlineEvaluator will not evaluate any samples.",
            "Indicates that the OnlineEvaluator is in a failed state. This can happen if, for example, the `log_view` or `trace_view` set on the `CloudObservability` does not exist.",
            "Indicates that the OnlineEvaluator is in a warning state. This can happen if, for example, some of the metrics in the `metric_sources` are invalid. Evaluation will still run with the remaining valid metrics."
          ],
          "description": "Output only. The state of the OnlineEvaluator.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "SUSPENDED",
            "FAILED",
            "WARNING"
          ],
          "readOnly": true
        },
        "agentResource": {
          "type": "string",
          "description": "Required. Immutable. The name of the agent that the OnlineEvaluator evaluates periodically. This value is used to filter the traces with a matching cloud.resource_id and link the evaluation results with relevant dashboards/UIs. This field is immutable. Once set, it cannot be changed."
        },
        "cloudObservability": {
          "description": "Data source for the OnlineEvaluator, based on Google Cloud Observability stack (Cloud Trace & Cloud Logging).",
          "$ref": "GoogleCloudAiplatformV1OnlineEvaluatorCloudObservability"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Timestamp when the OnlineEvaluator was created."
        },
        "metricSources": {
          "description": "Required. A list of metric sources to be used for evaluating samples. At least one MetricSource must be provided. Right now, only predefined metrics and registered metrics are supported. Every registered metric must have `display_name` (or `title`) and `score_range` defined. Otherwise, the evaluations will fail. The maximum number of `metric_sources` is 25.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1MetricSource"
          },
          "type": "array"
        },
        "config": {
          "$ref": "GoogleCloudAiplatformV1OnlineEvaluatorConfig",
          "description": "Required. Configuration for the OnlineEvaluator."
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Timestamp when the OnlineEvaluator was last updated.",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the OnlineEvaluator. Format: projects/{project}/locations/{location}/onlineEvaluators/{id}."
        },
        "displayName": {
          "type": "string",
          "description": "Optional. Human-readable name for the OnlineEvaluator. The name doesn't have to be unique. The name can consist of any UTF-8 characters. The maximum length is `63` characters. If the display name exceeds max characters, an `INVALID_ARGUMENT` error is returned."
        },
        "stateDetails": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1OnlineEvaluatorStateDetails"
          },
          "readOnly": true,
          "description": "Output only. Contains additional information about the state of the OnlineEvaluator. This is used to provide more details in the event of a failure.",
          "type": "array"
        }
      }
    },
    "GoogleCloudAiplatformV1ResponseFormat": {
      "properties": {
        "text": {
          "description": "Text output format.",
          "$ref": "GoogleCloudAiplatformV1TextResponseFormat"
        },
        "audio": {
          "description": "Audio output format.",
          "$ref": "GoogleCloudAiplatformV1AudioResponseFormat"
        },
        "image": {
          "$ref": "GoogleCloudAiplatformV1ImageResponseFormat",
          "description": "Image output format."
        },
        "video": {
          "description": "Video output format.",
          "$ref": "GoogleCloudAiplatformV1VideoResponseFormat"
        }
      },
      "description": "Configuration for the model to configure output formatting and delivery.",
      "id": "GoogleCloudAiplatformV1ResponseFormat",
      "type": "object"
    },
    "GoogleIamV1TestIamPermissionsResponse": {
      "description": "Response message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleIamV1TestIamPermissionsResponse"
    },
    "GoogleCloudAiplatformV1DeployResponse": {
      "type": "object",
      "description": "Response message for ModelGardenService.Deploy.",
      "properties": {
        "model": {
          "description": "Output only. The name of the Model created. Format: `projects/{project}/locations/{location}/models/{model}`",
          "readOnly": true,
          "type": "string"
        },
        "publisherModel": {
          "description": "Output only. The name of the PublisherModel resource. Format: `publishers/{publisher}/models/{publisher_model}@{version_id}`, or `publishers/hf-{hugging-face-author}/models/{hugging-face-model-name}@001`",
          "readOnly": true,
          "type": "string"
        },
        "endpoint": {
          "readOnly": true,
          "description": "Output only. The name of the Endpoint created. Format: `projects/{project}/locations/{location}/endpoints/{endpoint}`",
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1DeployResponse"
    },
    "GoogleCloudAiplatformV1SandboxEnvironmentTemplateEgressControlConfig": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1SandboxEnvironmentTemplateEgressControlConfig",
      "properties": {
        "dnsPeeringConfigs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1SandboxEnvironmentTemplateEgressControlConfigDnsPeeringConfig"
          },
          "description": "Optional. DNS peering configurations that allow sandbox egress to resolve customer-internal domains via the customer VPC."
        },
        "internetAccess": {
          "type": "boolean",
          "description": "Optional. Whether to allow internet access."
        },
        "networkAttachment": {
          "description": "Optional. The name of the customer VPC `NetworkAttachment` used to draw a PSC interface IP into the customer VPC for sandbox egress.",
          "type": "string"
        }
      },
      "description": "Configuration for egress control of sandbox instances."
    },
    "GoogleCloudAiplatformV1EventMetadata": {
      "id": "GoogleCloudAiplatformV1EventMetadata",
      "type": "object",
      "description": "Metadata relating to a LLM response event.",
      "properties": {
        "partial": {
          "type": "boolean",
          "description": "Optional. Indicates whether the text content is part of a unfinished text stream. Only used for streaming mode and when the content is plain text."
        },
        "outputTranscription": {
          "description": "Optional. Audio transcription of model output.",
          "$ref": "GoogleCloudAiplatformV1Transcription"
        },
        "customMetadata": {
          "type": "object",
          "description": "The custom metadata of the LlmResponse.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "branch": {
          "type": "string",
          "description": "Optional. The branch of the event. The format is like agent_1.agent_2.agent_3, where agent_1 is the parent of agent_2, and agent_2 is the parent of agent_3. Branch is used when multiple child agents shouldn't see their siblings' conversation history."
        },
        "interrupted": {
          "description": "Optional. Flag indicating that LLM was interrupted when generating the content. Usually it's due to user interruption during a bidi streaming.",
          "type": "boolean"
        },
        "longRunningToolIds": {
          "type": "array",
          "description": "Optional. Set of ids of the long running function calls. Agent client will know from this field about which function call is long running. Only valid for function call event.",
          "items": {
            "type": "string"
          }
        },
        "inputTranscription": {
          "description": "Optional. Audio transcription of user input.",
          "$ref": "GoogleCloudAiplatformV1Transcription"
        },
        "turnComplete": {
          "description": "Optional. Indicates whether the response from the model is complete. Only used for streaming mode.",
          "type": "boolean"
        },
        "groundingMetadata": {
          "description": "Optional. Metadata returned to client when grounding is enabled.",
          "$ref": "GoogleCloudAiplatformV1GroundingMetadata"
        }
      }
    },
    "GoogleCloudAiplatformV1CopyModelResponse": {
      "properties": {
        "model": {
          "description": "The name of the copied Model resource. Format: `projects/{project}/locations/{location}/models/{model}`",
          "type": "string"
        },
        "modelVersionId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The version ID of the model that is copied."
        }
      },
      "description": "Response message of ModelService.CopyModel operation.",
      "id": "GoogleCloudAiplatformV1CopyModelResponse",
      "type": "object"
    },
    "GoogleCloudAiplatformV1RagVectorDbConfigRagManagedDbKNN": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudAiplatformV1RagVectorDbConfigRagManagedDbKNN",
      "description": "Config for KNN search."
    },
    "GoogleCloudAiplatformV1SchemaImageSegmentationAnnotation": {
      "description": "Annotation details specific to image segmentation.",
      "id": "GoogleCloudAiplatformV1SchemaImageSegmentationAnnotation",
      "type": "object",
      "properties": {
        "polylineAnnotation": {
          "$ref": "GoogleCloudAiplatformV1SchemaImageSegmentationAnnotationPolylineAnnotation",
          "description": "Polyline annotation."
        },
        "maskAnnotation": {
          "$ref": "GoogleCloudAiplatformV1SchemaImageSegmentationAnnotationMaskAnnotation",
          "description": "Mask based segmentation annotation. Only one mask annotation can exist for one image."
        },
        "polygonAnnotation": {
          "description": "Polygon annotation.",
          "$ref": "GoogleCloudAiplatformV1SchemaImageSegmentationAnnotationPolygonAnnotation"
        }
      }
    },
    "GoogleCloudAiplatformV1MetricResult": {
      "properties": {
        "error": {
          "readOnly": true,
          "$ref": "GoogleRpcStatus",
          "description": "Output only. The error status for the metric result."
        },
        "explanation": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The explanation for the metric result."
        },
        "rubricVerdicts": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudAiplatformV1RubricVerdict"
          },
          "description": "Output only. For rubric-based metrics, the verdicts for each rubric."
        },
        "score": {
          "readOnly": true,
          "format": "float",
          "description": "Output only. The score for the metric. Please refer to each metric's documentation for the meaning of the score.",
          "type": "number"
        }
      },
      "description": "Result for a single metric on a single instance.",
      "id": "GoogleCloudAiplatformV1MetricResult",
      "type": "object"
    },
    "GoogleCloudAiplatformV1SchemaPredictPredictionVideoActionRecognitionPredictionResult": {
      "description": "Prediction output format for Video Action Recognition.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1SchemaPredictPredictionVideoActionRecognitionPredictionResult",
      "properties": {
        "timeSegmentStart": {
          "format": "google-duration",
          "type": "string",
          "description": "The beginning, inclusive, of the video's time segment in which the AnnotationSpec has been identified. Expressed as a number of seconds as measured from the start of the video, with fractions up to a microsecond precision, and with \"s\" appended at the end."
        },
        "confidence": {
          "description": "The Model's confidence in correction of this prediction, higher value means higher confidence.",
          "type": "number",
          "format": "float"
        },
        "displayName": {
          "description": "The display name of the AnnotationSpec that had been identified.",
          "type": "string"
        },
        "timeSegmentEnd": {
          "type": "string",
          "description": "The end, exclusive, of the video's time segment in which the AnnotationSpec has been identified. Expressed as a number of seconds as measured from the start of the video, with fractions up to a microsecond precision, and with \"s\" appended at the end.",
          "format": "google-duration"
        },
        "id": {
          "type": "string",
          "description": "The resource ID of the AnnotationSpec that had been identified."
        }
      }
    },
    "GoogleCloudAiplatformV1OnlineEvaluatorCloudObservabilityNumericPredicate": {
      "properties": {
        "comparisonOperator": {
          "enum": [
            "COMPARISON_OPERATOR_UNSPECIFIED",
            "LESS",
            "LESS_OR_EQUAL",
            "EQUAL",
            "NOT_EQUAL",
            "GREATER_OR_EQUAL",
            "GREATER"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified comparison operator. This value should not be used.",
            "Less than.",
            "Less than or equal to.",
            "Equal to.",
            "Not equal to.",
            "Greater than or equal to.",
            "Greater than."
          ],
          "description": "Required. The comparison operator to apply."
        },
        "value": {
          "type": "number",
          "description": "Required. The value to compare against.",
          "format": "float"
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1OnlineEvaluatorCloudObservabilityNumericPredicate",
      "description": "Defines a predicate for filtering based on a numeric value."
    },
    "GoogleCloudAiplatformV1MemoryTopicId": {
      "id": "GoogleCloudAiplatformV1MemoryTopicId",
      "type": "object",
      "description": "A memory topic identifier. This will be used to label a Memory and to restrict which topics are eligible for generation or retrieval.",
      "properties": {
        "managedMemoryTopic": {
          "description": "Optional. Represents the managed memory topic.",
          "enumDescriptions": [
            "Represents an unspecified topic. This value should not be used.",
            "Represents significant personal information about the User like first names, relationships, hobbies, important dates.",
            "Represents stated or implied likes, dislikes, preferred styles, or patterns.",
            "Represents important milestones or conclusions within the dialogue.",
            "Represents information that the user explicitly requested to remember or forget."
          ],
          "type": "string",
          "enum": [
            "MANAGED_TOPIC_ENUM_UNSPECIFIED",
            "USER_PERSONAL_INFO",
            "USER_PREFERENCES",
            "KEY_CONVERSATION_DETAILS",
            "EXPLICIT_INSTRUCTIONS"
          ]
        },
        "customMemoryTopicLabel": {
          "description": "Optional. Represents the custom memory topic label.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1DeleteMetadataStoreOperationMetadata": {
      "type": "object",
      "description": "Details of operations that perform MetadataService.DeleteMetadataStore.",
      "id": "GoogleCloudAiplatformV1DeleteMetadataStoreOperationMetadata",
      "properties": {
        "genericMetadata": {
          "description": "Operation metadata for deleting a MetadataStore.",
          "$ref": "GoogleCloudAiplatformV1GenericOperationMetadata"
        }
      }
    },
    "GoogleCloudAiplatformV1CreateSpecialistPoolOperationMetadata": {
      "type": "object",
      "description": "Runtime operation information for SpecialistPoolService.CreateSpecialistPool.",
      "properties": {
        "genericMetadata": {
          "description": "The operation generic information.",
          "$ref": "GoogleCloudAiplatformV1GenericOperationMetadata"
        }
      },
      "id": "GoogleCloudAiplatformV1CreateSpecialistPoolOperationMetadata"
    },
    "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlTablesInputsTransformationCategoricalTransformation": {
      "properties": {
        "columnName": {
          "type": "string"
        }
      },
      "type": "object",
      "description": "Training pipeline will perform following transformation functions. * The categorical string as is--no change to case, punctuation, spelling, tense, and so on. * Convert the category name to a dictionary lookup index and generate an embedding for each index. * Categories that appear less than 5 times in the training dataset are treated as the \"unknown\" category. The \"unknown\" category gets its own special lookup index and resulting embedding.",
      "id": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlTablesInputsTransformationCategoricalTransformation"
    },
    "GoogleCloudAiplatformV1NotebookExecutionJobWorkbenchRuntimeContainerImage": {
      "properties": {
        "tag": {
          "description": "Optional. The tag of the container image. If unset, defaults to `latest`.",
          "type": "string"
        },
        "repository": {
          "description": "Required. The path to the container image repository. For example: `gcr.io/{project_id}/{image_name}`.",
          "type": "string"
        }
      },
      "description": "The definition of a user-provided container image to run the notebook execution in. Mirrors `google.cloud.notebooks.v2.ContainerImage`.",
      "id": "GoogleCloudAiplatformV1NotebookExecutionJobWorkbenchRuntimeContainerImage",
      "type": "object"
    },
    "GoogleCloudAiplatformV1VertexRagStoreRagResource": {
      "id": "GoogleCloudAiplatformV1VertexRagStoreRagResource",
      "description": "The definition of the Rag resource.",
      "type": "object",
      "properties": {
        "ragFileIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. rag_file_id. The files should be in the same rag_corpus set in rag_corpus field."
        },
        "ragCorpus": {
          "description": "Optional. RagCorpora resource name. Format: `projects/{project}/locations/{location}/ragCorpora/{rag_corpus}`",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1DeprovisionSemanticGovernancePolicyEngineRequest": {
      "description": "Request message for SemanticGovernancePolicyEngineService.DeprovisionSemanticGovernancePolicyEngine.",
      "type": "object",
      "properties": {
        "force": {
          "type": "boolean",
          "description": "Optional. If true, the operation bypass checks on current state and force the deprovisioning operation."
        }
      },
      "id": "GoogleCloudAiplatformV1DeprovisionSemanticGovernancePolicyEngineRequest"
    },
    "GoogleCloudAiplatformV1VoiceConfig": {
      "description": "Configuration for a voice.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1VoiceConfig",
      "properties": {
        "replicatedVoiceConfig": {
          "description": "Optional. The configuration for a replicated voice. This enables users to replicate a voice from an audio sample.",
          "$ref": "GoogleCloudAiplatformV1ReplicatedVoiceConfig"
        },
        "prebuiltVoiceConfig": {
          "description": "The configuration for a prebuilt voice.",
          "$ref": "GoogleCloudAiplatformV1PrebuiltVoiceConfig"
        }
      }
    },
    "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlForecastingInputsGranularity": {
      "id": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlForecastingInputsGranularity",
      "description": "A duration of time expressed in time granularity units.",
      "properties": {
        "unit": {
          "type": "string",
          "description": "The time granularity unit of this time period. The supported units are: * \"minute\" * \"hour\" * \"day\" * \"week\" * \"month\" * \"year\""
        },
        "quantity": {
          "description": "The number of granularity_units between data points in the training data. If `granularity_unit` is `minute`, can be 1, 5, 10, 15, or 30. For all other values of `granularity_unit`, must be 1.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlForecasting": {
      "id": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlForecasting",
      "properties": {
        "inputs": {
          "$ref": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlForecastingInputs",
          "description": "The input parameters of this TrainingJob."
        },
        "metadata": {
          "description": "The metadata information.",
          "$ref": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlForecastingMetadata"
        }
      },
      "type": "object",
      "description": "A TrainingJob that trains and uploads an AutoML Forecasting Model."
    },
    "GoogleCloudAiplatformV1AskContextsRequest": {
      "properties": {
        "query": {
          "description": "Required. Single RAG retrieve query.",
          "$ref": "GoogleCloudAiplatformV1RagQuery"
        },
        "tools": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1Tool"
          },
          "description": "Optional. The tools to use for AskContexts."
        }
      },
      "type": "object",
      "description": "Agentic Retrieval Ask API for RAG. Request message for VertexRagService.AskContexts.",
      "id": "GoogleCloudAiplatformV1AskContextsRequest"
    },
    "GoogleCloudAiplatformV1ImportEvaluationSetRequestImportSchemaConfig": {
      "properties": {
        "dataFormat": {
          "description": "Required. The format of the input data.",
          "enumDescriptions": [
            "Unspecified data format.",
            "OpenTelemetry Protobuf format (e.g. TracesData).",
            "OpenTelemetry JSON format.",
            "JSONL format mapping directly to EvaluationItem schema."
          ],
          "type": "string",
          "enum": [
            "DATA_FORMAT_UNSPECIFIED",
            "OTEL_PROTO",
            "OTEL_JSON",
            "JSONL"
          ]
        },
        "dataFormatVersion": {
          "description": "Optional. Version of the data format.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1ImportEvaluationSetRequestImportSchemaConfig",
      "description": "Configuration for the input data format."
    },
    "GoogleCloudAiplatformV1ListModelVersionsResponse": {
      "properties": {
        "models": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1Model"
          },
          "description": "List of Model versions in the requested page. In the returned Model name field, version ID instead of regvision tag will be included.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass to ListModelVersionsRequest.page_token to obtain that page.",
          "type": "string"
        }
      },
      "description": "Response message for ModelService.ListModelVersions",
      "type": "object",
      "id": "GoogleCloudAiplatformV1ListModelVersionsResponse"
    },
    "GoogleCloudAiplatformV1TokensInfo": {
      "properties": {
        "tokens": {
          "description": "A list of tokens from the input.",
          "type": "array",
          "items": {
            "format": "byte",
            "type": "string"
          }
        },
        "tokenIds": {
          "items": {
            "format": "int64",
            "type": "string"
          },
          "type": "array",
          "description": "A list of token ids from the input."
        },
        "role": {
          "description": "Optional. Optional fields for the role from the corresponding Content.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Tokens info with a list of tokens and the corresponding list of token ids.",
      "id": "GoogleCloudAiplatformV1TokensInfo"
    },
    "GoogleCloudAiplatformV1RetrieveMemoriesResponseRetrievedMemory": {
      "id": "GoogleCloudAiplatformV1RetrieveMemoriesResponseRetrievedMemory",
      "description": "A retrieved memory.",
      "properties": {
        "distance": {
          "description": "The distance between the query and the retrieved Memory. Smaller values indicate more similar memories. This is only set if similarity search was used for retrieval.",
          "type": "number",
          "format": "double"
        },
        "memory": {
          "description": "The retrieved Memory.",
          "$ref": "GoogleCloudAiplatformV1Memory"
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1EvaluationInstanceDeprecatedAgentDataTools": {
      "description": "Deprecated: Use `agent_eval_data` instead. Represents a list of tools for an agent.",
      "type": "object",
      "properties": {
        "tool": {
          "type": "array",
          "deprecated": true,
          "description": "Optional. List of tools: each tool can have multiple function declarations.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1Tool"
          }
        }
      },
      "id": "GoogleCloudAiplatformV1EvaluationInstanceDeprecatedAgentDataTools"
    },
    "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionSeq2SeqPlusForecastingMetadata": {
      "id": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionSeq2SeqPlusForecastingMetadata",
      "type": "object",
      "description": "Model metadata specific to Seq2Seq Plus Forecasting.",
      "properties": {
        "trainCostMilliNodeHours": {
          "format": "int64",
          "type": "string",
          "description": "Output only. The actual training cost of the model, expressed in milli node hours, i.e. 1,000 value in this field means 1 node hour. Guaranteed to not exceed the train budget."
        },
        "evaluatedDataItemsBigqueryUri": {
          "type": "string",
          "description": "BigQuery destination uri for exported evaluated examples."
        }
      }
    },
    "GoogleCloudAiplatformV1AuthConfig": {
      "properties": {
        "apiKeyConfig": {
          "description": "Config for API key auth.",
          "$ref": "GoogleCloudAiplatformV1AuthConfigApiKeyConfig"
        },
        "oidcConfig": {
          "description": "Config for user OIDC auth.",
          "$ref": "GoogleCloudAiplatformV1AuthConfigOidcConfig"
        },
        "googleServiceAccountConfig": {
          "description": "Config for Google Service Account auth.",
          "$ref": "GoogleCloudAiplatformV1AuthConfigGoogleServiceAccountConfig"
        },
        "httpBasicAuthConfig": {
          "description": "Config for HTTP Basic auth.",
          "$ref": "GoogleCloudAiplatformV1AuthConfigHttpBasicAuthConfig"
        },
        "oauthConfig": {
          "$ref": "GoogleCloudAiplatformV1AuthConfigOauthConfig",
          "description": "Config for user oauth."
        },
        "authType": {
          "enumDescriptions": [
            "",
            "No Auth.",
            "API Key Auth.",
            "HTTP Basic Auth.",
            "Google Service Account Auth.",
            "OAuth auth.",
            "OpenID Connect (OIDC) Auth."
          ],
          "type": "string",
          "description": "Type of auth scheme.",
          "enum": [
            "AUTH_TYPE_UNSPECIFIED",
            "NO_AUTH",
            "API_KEY_AUTH",
            "HTTP_BASIC_AUTH",
            "GOOGLE_SERVICE_ACCOUNT_AUTH",
            "OAUTH",
            "OIDC_AUTH"
          ]
        }
      },
      "type": "object",
      "description": "Auth configuration to run the extension.",
      "id": "GoogleCloudAiplatformV1AuthConfig"
    },
    "GoogleCloudAiplatformV1Citation": {
      "type": "object",
      "properties": {
        "endIndex": {
          "description": "Output only. The end index of the citation in the content.",
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        },
        "startIndex": {
          "format": "int32",
          "type": "integer",
          "description": "Output only. The start index of the citation in the content.",
          "readOnly": true
        },
        "license": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The license of the source of the citation."
        },
        "uri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The URI of the source of the citation."
        },
        "title": {
          "description": "Output only. The title of the source of the citation.",
          "readOnly": true,
          "type": "string"
        },
        "publicationDate": {
          "readOnly": true,
          "description": "Output only. The publication date of the source of the citation.",
          "$ref": "GoogleTypeDate"
        }
      },
      "description": "A citation for a piece of generatedcontent.",
      "id": "GoogleCloudAiplatformV1Citation"
    },
    "GoogleCloudAiplatformV1MetadataSchema": {
      "description": "Instance of a general MetadataSchema.",
      "properties": {
        "name": {
          "readOnly": true,
          "description": "Output only. The resource name of the MetadataSchema.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Timestamp when this MetadataSchema was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "schemaVersion": {
          "type": "string",
          "description": "The version of the MetadataSchema. The version's format must match the following regular expression: `^[0-9]+.+.+$`, which would allow to order/compare different versions. Example: 1.0.0, 1.0.1, etc."
        },
        "schemaType": {
          "type": "string",
          "enum": [
            "METADATA_SCHEMA_TYPE_UNSPECIFIED",
            "ARTIFACT_TYPE",
            "EXECUTION_TYPE",
            "CONTEXT_TYPE"
          ],
          "enumDescriptions": [
            "Unspecified type for the MetadataSchema.",
            "A type indicating that the MetadataSchema will be used by Artifacts.",
            "A typee indicating that the MetadataSchema will be used by Executions.",
            "A state indicating that the MetadataSchema will be used by Contexts."
          ],
          "description": "The type of the MetadataSchema. This is a property that identifies which metadata types will use the MetadataSchema."
        },
        "schema": {
          "description": "Required. The raw YAML string representation of the MetadataSchema. The combination of [MetadataSchema.version] and the schema name given by `title` in [MetadataSchema.schema] must be unique within a MetadataStore. The schema is defined as an OpenAPI 3.0.2 [MetadataSchema Object](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.2.md#schemaObject)",
          "type": "string"
        },
        "description": {
          "description": "Description of the Metadata Schema",
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1MetadataSchema",
      "type": "object"
    },
    "GoogleCloudAiplatformV1CreateEndpointOperationMetadata": {
      "description": "Runtime operation information for EndpointService.CreateEndpoint.",
      "id": "GoogleCloudAiplatformV1CreateEndpointOperationMetadata",
      "type": "object",
      "properties": {
        "genericMetadata": {
          "$ref": "GoogleCloudAiplatformV1GenericOperationMetadata",
          "description": "The operation generic information."
        },
        "deploymentStage": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The deployment is initializing and setting up the environment.",
            "The deployment is preparing the model assets.",
            "The deployment is creating the underlying serving cluster.",
            "The deployment is adding nodes to the serving cluster.",
            "The deployment is getting the container image for the model server.",
            "The deployment is starting the model server.",
            "The deployment is performing finalization steps.",
            "The deployment has terminated.",
            "The deployment has succeeded.",
            "The deployment has failed."
          ],
          "description": "Output only. The deployment stage of the model. Only populated if this CreateEndpoint request deploys a model at the same time.",
          "readOnly": true,
          "enum": [
            "DEPLOYMENT_STAGE_UNSPECIFIED",
            "STARTING_DEPLOYMENT",
            "PREPARING_MODEL",
            "CREATING_SERVING_CLUSTER",
            "ADDING_NODES_TO_CLUSTER",
            "GETTING_CONTAINER_IMAGE",
            "STARTING_MODEL_SERVER",
            "FINISHING_UP",
            "DEPLOYMENT_TERMINATED",
            "SUCCESSFULLY_DEPLOYED",
            "FAILED_TO_DEPLOY"
          ]
        }
      }
    },
    "GoogleCloudAiplatformV1StructValue": {
      "properties": {
        "values": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1StructFieldValue"
          },
          "description": "A list of field values.",
          "type": "array"
        }
      },
      "description": "Struct (or object) type feature value.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1StructValue"
    },
    "GoogleCloudAiplatformV1PersistentDiskSpec": {
      "description": "Represents the spec of persistent disk and hyperdisk options.",
      "id": "GoogleCloudAiplatformV1PersistentDiskSpec",
      "type": "object",
      "properties": {
        "diskType": {
          "description": "Type of the disk (default is \"pd-standard\"). Valid values: \"pd-ssd\" (Persistent Disk Solid State Drive) \"pd-standard\" (Persistent Disk Hard Disk Drive) \"pd-balanced\" (Balanced Persistent Disk) \"pd-extreme\" (Extreme Persistent Disk) \"hyperdisk-balanced\" (Hyperdisk Balanced) \"hyperdisk-extreme\" (Hyperdisk Extreme) \"hyperdisk-balanced-high-availability\" (Hyperdisk Balanced High Availability) \"hyperdisk-ml\" (Hyperdisk ML) \"hyperdisk-throughput\" (Hyperdisk Throughput)",
          "type": "string"
        },
        "diskSizeGb": {
          "description": "Size in GB of the disk (default is 100GB).",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GoogleCloudAiplatformV1RougeMetricValue": {
      "type": "object",
      "description": "Rouge metric value for an instance.",
      "properties": {
        "score": {
          "readOnly": true,
          "description": "Output only. Rouge score.",
          "type": "number",
          "format": "float"
        }
      },
      "id": "GoogleCloudAiplatformV1RougeMetricValue"
    },
    "GoogleCloudAiplatformV1EvaluateDatasetRequest": {
      "id": "GoogleCloudAiplatformV1EvaluateDatasetRequest",
      "description": "Request message for EvaluationService.EvaluateDataset.",
      "properties": {
        "autoraterConfig": {
          "$ref": "GoogleCloudAiplatformV1AutoraterConfig",
          "description": "Optional. Autorater config used for evaluation. Currently only publisher Gemini models are supported. Format: `projects/{PROJECT}/locations/{LOCATION}/publishers/google/models/{MODEL}.`"
        },
        "metrics": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1Metric"
          },
          "description": "Required. The metrics used for evaluation."
        },
        "location": {
          "type": "string",
          "description": "Required. The resource name of the Location to evaluate the dataset. Format: `projects/{project}/locations/{location}`"
        },
        "dataset": {
          "description": "Required. The dataset used for evaluation.",
          "$ref": "GoogleCloudAiplatformV1EvaluationDataset"
        },
        "outputConfig": {
          "description": "Required. Config for evaluation output.",
          "$ref": "GoogleCloudAiplatformV1OutputConfig"
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1CustomJobSpec": {
      "description": "Represents the spec of a CustomJob.",
      "type": "object",
      "properties": {
        "baseOutputDirectory": {
          "$ref": "GoogleCloudAiplatformV1GcsDestination",
          "description": "The Cloud Storage location to store the output of this CustomJob or HyperparameterTuningJob. For HyperparameterTuningJob, the baseOutputDirectory of each child CustomJob backing a Trial is set to a subdirectory of name id under its parent HyperparameterTuningJob's baseOutputDirectory. The following Vertex AI environment variables will be passed to containers or python modules when this field is set: For CustomJob: * AIP_MODEL_DIR = `/model/` * AIP_CHECKPOINT_DIR = `/checkpoints/` * AIP_TENSORBOARD_LOG_DIR = `/logs/` For CustomJob backing a Trial of HyperparameterTuningJob: * AIP_MODEL_DIR = `//model/` * AIP_CHECKPOINT_DIR = `//checkpoints/` * AIP_TENSORBOARD_LOG_DIR = `//logs/`"
        },
        "reservedIpRanges": {
          "description": "Optional. A list of names for the reserved ip ranges under the VPC network that can be used for this job. If set, we will deploy the job within the provided ip ranges. Otherwise, the job will be deployed to any ip ranges under the provided VPC network. Example: ['vertex-ai-ip-range'].",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "workerPoolSpecs": {
          "type": "array",
          "description": "Required. The spec of the worker pools including machine type and Docker image. All worker pools except the first one are optional and can be skipped by providing an empty value.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1WorkerPoolSpec"
          }
        },
        "scheduling": {
          "$ref": "GoogleCloudAiplatformV1Scheduling",
          "description": "Scheduling options for a CustomJob."
        },
        "pscInterfaceConfig": {
          "$ref": "GoogleCloudAiplatformV1PscInterfaceConfig",
          "description": "Optional. Configuration for PSC-I for CustomJob."
        },
        "models": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The name of the Model resources for which to generate a mapping to artifact URIs. Applicable only to some of the Google-provided custom jobs. Format: `projects/{project}/locations/{location}/models/{model}` In order to retrieve a specific version of the model, also provide the version ID or version alias. Example: `projects/{project}/locations/{location}/models/{model}@2` or `projects/{project}/locations/{location}/models/{model}@golden` If no version ID or alias is specified, the \"default\" version will be returned. The \"default\" version alias is created for the first version of the model, and can be moved to other versions later on. There will be exactly one default version.",
          "type": "array"
        },
        "protectedArtifactLocationId": {
          "description": "The ID of the location to store protected artifacts. e.g. us-central1. Populate only when the location is different than CustomJob location. List of supported locations: https://cloud.google.com/vertex-ai/docs/general/locations",
          "type": "string"
        },
        "experiment": {
          "description": "Optional. The Experiment associated with this job. Format: `projects/{project}/locations/{location}/metadataStores/{metadataStores}/contexts/{experiment-name}`",
          "type": "string"
        },
        "experimentRun": {
          "type": "string",
          "description": "Optional. The Experiment Run associated with this job. Format: `projects/{project}/locations/{location}/metadataStores/{metadataStores}/contexts/{experiment-name}-{experiment-run-name}`"
        },
        "network": {
          "description": "Optional. The full name of the Compute Engine [network](/compute/docs/networks-and-firewalls#networks) to which the Job should be peered. For example, `projects/12345/global/networks/myVPC`. [Format](/compute/docs/reference/rest/v1/networks/insert) is of the form `projects/{project}/global/networks/{network}`. Where {project} is a project number, as in `12345`, and {network} is a network name. To specify this field, you must have already [configured VPC Network Peering for Vertex AI](https://cloud.google.com/vertex-ai/docs/general/vpc-peering). If this field is left unspecified, the job is not peered with any network.",
          "type": "string"
        },
        "enableDashboardAccess": {
          "type": "boolean",
          "description": "Optional. Whether you want Vertex AI to enable access to the customized dashboard in training chief container. If set to `true`, you can access the dashboard at the URIs given by CustomJob.web_access_uris or Trial.web_access_uris (within HyperparameterTuningJob.trials)."
        },
        "serviceAccount": {
          "description": "Specifies the service account for workload run-as account. Users submitting jobs must have act-as permission on this run-as account. If unspecified, the [Vertex AI Custom Code Service Agent](https://cloud.google.com/vertex-ai/docs/general/access-control#service-agents) for the CustomJob's project is used.",
          "type": "string"
        },
        "persistentResourceId": {
          "type": "string",
          "description": "Optional. The ID of the PersistentResource in the same Project and Location which to run If this is specified, the job will be run on existing machines held by the PersistentResource instead of on-demand short-live machines. The network and CMEK configs on the job should be consistent with those on the PersistentResource, otherwise, the job will be rejected."
        },
        "enableWebAccess": {
          "type": "boolean",
          "description": "Optional. Whether you want Vertex AI to enable [interactive shell access](https://cloud.google.com/vertex-ai/docs/training/monitor-debug-interactive-shell) to training containers. If set to `true`, you can access interactive shells at the URIs given by CustomJob.web_access_uris or Trial.web_access_uris (within HyperparameterTuningJob.trials)."
        },
        "tensorboard": {
          "description": "Optional. The name of a Vertex AI Tensorboard resource to which this CustomJob will upload Tensorboard logs. Format: `projects/{project}/locations/{location}/tensorboards/{tensorboard}`",
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1CustomJobSpec"
    },
    "GoogleCloudAiplatformV1FeatureViewFeatureRegistrySource": {
      "type": "object",
      "properties": {
        "featureGroups": {
          "description": "Required. List of features that need to be synced to Online Store.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1FeatureViewFeatureRegistrySourceFeatureGroup"
          },
          "type": "array"
        },
        "projectNumber": {
          "format": "int64",
          "type": "string",
          "description": "Optional. The project number of the parent project of the Feature Groups."
        }
      },
      "description": "A Feature Registry source for features that need to be synced to Online Store.",
      "id": "GoogleCloudAiplatformV1FeatureViewFeatureRegistrySource"
    },
    "GoogleCloudAiplatformV1RubricVerdict": {
      "description": "Represents the verdict of an evaluation against a single rubric.",
      "id": "GoogleCloudAiplatformV1RubricVerdict",
      "properties": {
        "verdict": {
          "description": "Required. Outcome of the evaluation against the rubric, represented as a boolean. `true` indicates a \"Pass\", `false` indicates a \"Fail\".",
          "type": "boolean"
        },
        "reasoning": {
          "type": "string",
          "description": "Optional. Human-readable reasoning or explanation for the verdict. This can include specific examples or details from the evaluated content that justify the given verdict."
        },
        "evaluatedRubric": {
          "$ref": "GoogleCloudAiplatformV1Rubric",
          "description": "Required. The full rubric definition that was evaluated. Storing this ensures the verdict is self-contained and understandable, especially if the original rubric definition changes or was dynamically generated."
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1FeatureNoiseSigmaNoiseSigmaForFeature": {
      "properties": {
        "name": {
          "description": "The name of the input feature for which noise sigma is provided. The features are defined in explanation metadata inputs.",
          "type": "string"
        },
        "sigma": {
          "format": "float",
          "description": "This represents the standard deviation of the Gaussian kernel that will be used to add noise to the feature prior to computing gradients. Similar to noise_sigma but represents the noise added to the current feature. Defaults to 0.1.",
          "type": "number"
        }
      },
      "type": "object",
      "description": "Noise sigma for a single feature.",
      "id": "GoogleCloudAiplatformV1FeatureNoiseSigmaNoiseSigmaForFeature"
    },
    "GoogleCloudAiplatformV1SamplingStrategyRandomSampleConfig": {
      "properties": {
        "sampleRate": {
          "description": "Sample rate (0, 1]",
          "format": "double",
          "type": "number"
        }
      },
      "description": "Requests are randomly selected.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1SamplingStrategyRandomSampleConfig"
    },
    "GoogleCloudAiplatformV1PairwiseMetricInput": {
      "properties": {
        "metricSpec": {
          "description": "Required. Spec for pairwise metric.",
          "$ref": "GoogleCloudAiplatformV1PairwiseMetricSpec"
        },
        "instance": {
          "$ref": "GoogleCloudAiplatformV1PairwiseMetricInstance",
          "description": "Required. Pairwise metric instance."
        }
      },
      "id": "GoogleCloudAiplatformV1PairwiseMetricInput",
      "description": "Input for pairwise metric.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1SearchMigratableResourcesRequest": {
      "description": "Request message for MigrationService.SearchMigratableResources.",
      "properties": {
        "pageSize": {
          "type": "integer",
          "description": "The standard page size. The default and maximum value is 100.",
          "format": "int32"
        },
        "pageToken": {
          "type": "string",
          "description": "The standard page token."
        },
        "filter": {
          "type": "string",
          "description": "A filter for your search. You can use the following types of filters: * Resource type filters. The following strings filter for a specific type of MigratableResource: * `ml_engine_model_version:*` * `automl_model:*` * `automl_dataset:*` * `data_labeling_dataset:*` * \"Migrated or not\" filters. The following strings filter for resources that either have or have not already been migrated: * `last_migrate_time:*` filters for migrated resources. * `NOT last_migrate_time:*` filters for not yet migrated resources."
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1SearchMigratableResourcesRequest"
    },
    "GoogleCloudAiplatformV1ModelOriginalModelInfo": {
      "properties": {
        "model": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the Model this Model is a copy of, including the revision. Format: `projects/{project}/locations/{location}/models/{model_id}@{version_id}`"
        }
      },
      "id": "GoogleCloudAiplatformV1ModelOriginalModelInfo",
      "type": "object",
      "description": "Contains information about the original Model if this Model is a copy."
    },
    "GoogleCloudAiplatformV1ListSandboxEnvironmentTemplatesResponse": {
      "description": "Response message for SandboxEnvironmentService.ListSandboxEnvironmentTemplates.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1ListSandboxEnvironmentTemplatesResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as ListSandboxEnvironmentTemplatesRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        },
        "sandboxEnvironmentTemplates": {
          "description": "The SandboxEnvironmentTemplates matching the request.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1SandboxEnvironmentTemplate"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudAiplatformV1SchemaPromptSpecReferenceSentencePairList": {
      "id": "GoogleCloudAiplatformV1SchemaPromptSpecReferenceSentencePairList",
      "description": "A list of reference sentence pairs.",
      "type": "object",
      "properties": {
        "referenceSentencePairs": {
          "description": "Reference sentence pairs.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1SchemaPromptSpecReferenceSentencePair"
          }
        }
      }
    },
    "GoogleCloudAiplatformV1ExplanationMetadataInputMetadataFeatureValueDomain": {
      "description": "Domain details of the input feature value. Provides numeric information about the feature, such as its range (min, max). If the feature has been pre-processed, for example with z-scoring, then it provides information about how to recover the original feature. For example, if the input feature is an image and it has been pre-processed to obtain 0-mean and stddev = 1 values, then original_mean, and original_stddev refer to the mean and stddev of the original feature (e.g. image tensor) from which input feature (with mean = 0 and stddev = 1) was obtained.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1ExplanationMetadataInputMetadataFeatureValueDomain",
      "properties": {
        "originalStddev": {
          "type": "number",
          "format": "float",
          "description": "If this input feature has been normalized to a standard deviation of 1.0, the original_stddev specifies the standard deviation of the domain prior to normalization."
        },
        "maxValue": {
          "description": "The maximum permissible value for this feature.",
          "type": "number",
          "format": "float"
        },
        "minValue": {
          "type": "number",
          "description": "The minimum permissible value for this feature.",
          "format": "float"
        },
        "originalMean": {
          "format": "float",
          "type": "number",
          "description": "If this input feature has been normalized to a mean value of 0, the original_mean specifies the mean value of the domain prior to normalization."
        }
      }
    },
    "GoogleCloudAiplatformV1ComputeTokensRequest": {
      "properties": {
        "contents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1Content"
          },
          "description": "Optional. Input content."
        },
        "model": {
          "type": "string",
          "description": "Optional. The name of the publisher model requested to serve the prediction. Format: projects/{project}/locations/{location}/publishers/*/models/*"
        },
        "instances": {
          "description": "Optional. The instances that are the input to token computing API call. Schema is identical to the prediction schema of the text model, even for the non-text models, like chat models, or Codey models.",
          "items": {
            "type": "any"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudAiplatformV1ComputeTokensRequest",
      "description": "Request message for ComputeTokens RPC call.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1PrivateEndpoints": {
      "properties": {
        "explainHttpUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Http(s) path to send explain requests."
        },
        "healthHttpUri": {
          "description": "Output only. Http(s) path to send health check requests.",
          "readOnly": true,
          "type": "string"
        },
        "serviceAttachment": {
          "description": "Output only. The name of the service attachment resource. Populated if private service connect is enabled.",
          "type": "string",
          "readOnly": true
        },
        "predictHttpUri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Http(s) path to send prediction requests."
        }
      },
      "description": "PrivateEndpoints proto is used to provide paths for users to send requests privately. To send request via private service access, use predict_http_uri, explain_http_uri or health_http_uri. To send request via private service connect, use service_attachment.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1PrivateEndpoints"
    },
    "GoogleCloudAiplatformV1FeaturestoreMonitoringConfigThresholdConfig": {
      "id": "GoogleCloudAiplatformV1FeaturestoreMonitoringConfigThresholdConfig",
      "description": "The config for Featurestore Monitoring threshold.",
      "type": "object",
      "properties": {
        "value": {
          "format": "double",
          "description": "Specify a threshold value that can trigger the alert. 1. For categorical feature, the distribution distance is calculated by L-inifinity norm. 2. For numerical feature, the distribution distance is calculated by Jensen–Shannon divergence. Each feature must have a non-zero threshold if they need to be monitored. Otherwise no alert will be triggered for that feature.",
          "type": "number"
        }
      }
    },
    "GoogleCloudAiplatformV1MultiSpeakerVoiceConfig": {
      "properties": {
        "speakerVoiceConfigs": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1SpeakerVoiceConfig"
          },
          "type": "array",
          "description": "Required. A list of configurations for the voices of the speakers. Exactly two speaker voice configurations must be provided."
        }
      },
      "id": "GoogleCloudAiplatformV1MultiSpeakerVoiceConfig",
      "description": "Configuration for a multi-speaker text-to-speech request.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1ExactMatchInstance": {
      "type": "object",
      "description": "Spec for exact match instance.",
      "properties": {
        "reference": {
          "type": "string",
          "description": "Required. Ground truth used to compare against the prediction."
        },
        "prediction": {
          "description": "Required. Output of the evaluated model.",
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1ExactMatchInstance"
    },
    "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionTftForecastingInputsTransformationTextTransformation": {
      "type": "object",
      "properties": {
        "columnName": {
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionTftForecastingInputsTransformationTextTransformation",
      "description": "Training pipeline will perform following transformation functions. * The text as is--no change to case, punctuation, spelling, tense, and so on. * Convert the category name to a dictionary lookup index and generate an embedding for each index."
    },
    "GoogleCloudAiplatformV1MemoryMetadataValue": {
      "id": "GoogleCloudAiplatformV1MemoryMetadataValue",
      "type": "object",
      "properties": {
        "stringValue": {
          "description": "Represents a string value.",
          "type": "string"
        },
        "timestampValue": {
          "type": "string",
          "description": "Represents a timestamp value. When filtering on timestamp values, only the seconds field will be compared.",
          "format": "google-datetime"
        },
        "boolValue": {
          "description": "Represents a boolean value.",
          "type": "boolean"
        },
        "doubleValue": {
          "format": "double",
          "type": "number",
          "description": "Represents a double value."
        }
      },
      "description": "Memory metadata."
    },
    "GoogleCloudAiplatformV1CreateDatasetVersionOperationMetadata": {
      "description": "Runtime operation information for DatasetService.CreateDatasetVersion.",
      "type": "object",
      "properties": {
        "genericMetadata": {
          "description": "The common part of the operation metadata.",
          "$ref": "GoogleCloudAiplatformV1GenericOperationMetadata"
        }
      },
      "id": "GoogleCloudAiplatformV1CreateDatasetVersionOperationMetadata"
    },
    "GoogleCloudAiplatformV1EvaluationParserConfigCustomCodeParserConfig": {
      "type": "object",
      "properties": {
        "parsingFunction": {
          "description": "Required. Python function for parsing results. The function should be defined within this string. The function takes a list of strings (LLM responses) and should return either a list of dictionaries (for rubrics) or a single dictionary (for a metric result). Example function signature: def parse(responses: list[str]) -> list[dict[str, Any]] | dict[str, Any]: When parsing rubrics, return a list of dictionaries, where each dictionary represents a Rubric. Example for rubrics: [ { \"content\": {\"property\": {\"description\": \"The response is factual.\"}}, \"type\": \"FACTUALITY\", \"importance\": \"HIGH\" }, { \"content\": {\"property\": {\"description\": \"The response is fluent.\"}}, \"type\": \"FLUENCY\", \"importance\": \"MEDIUM\" } ] When parsing critique results, return a dictionary representing a MetricResult. Example for a metric result: { \"score\": 0.8, \"explanation\": \"The model followed most instructions.\", \"rubric_verdicts\": [...] } ... code for result extraction and aggregation",
          "type": "string"
        }
      },
      "description": "Configuration for parsing the LLM response using custom code.",
      "id": "GoogleCloudAiplatformV1EvaluationParserConfigCustomCodeParserConfig"
    },
    "GoogleCloudAiplatformV1NotebookRuntimeTemplate": {
      "description": "A template that specifies runtime configurations such as machine type, runtime version, network configurations, etc. Multiple runtimes can be created from a runtime template.",
      "id": "GoogleCloudAiplatformV1NotebookRuntimeTemplate",
      "type": "object",
      "properties": {
        "networkTags": {
          "description": "Optional. The Compute Engine tags to add to runtime (see [Tagging instances](https://cloud.google.com/vpc/docs/add-remove-network-tags)).",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "shieldedVmConfig": {
          "$ref": "GoogleCloudAiplatformV1ShieldedVmConfig",
          "description": "Optional. Immutable. Runtime Shielded VM spec."
        },
        "eucConfig": {
          "description": "EUC configuration of the NotebookRuntimeTemplate.",
          "$ref": "GoogleCloudAiplatformV1NotebookEucConfig"
        },
        "encryptionSpec": {
          "description": "Customer-managed encryption key spec for the notebook runtime.",
          "$ref": "GoogleCloudAiplatformV1EncryptionSpec"
        },
        "machineSpec": {
          "description": "Optional. Immutable. The specification of a single machine for the template.",
          "$ref": "GoogleCloudAiplatformV1MachineSpec"
        },
        "serviceAccount": {
          "type": "string",
          "deprecated": true,
          "description": "Deprecated: This field is ignored and the \"Vertex AI Notebook Service Account\" (service-PROJECT_NUMBER@gcp-sa-aiplatform-vm.iam.gserviceaccount.com) is used for the runtime workload identity. See https://cloud.google.com/iam/docs/service-agents#vertex-ai-notebook-service-account for more details. For NotebookExecutionJob, use NotebookExecutionJob.service_account instead. The service account that the runtime workload runs as. You can use any service account within the same project, but you must have the service account user permission to use the instance. If not specified, the [Compute Engine default service account](https://cloud.google.com/compute/docs/access/service-accounts#default_service_account) is used."
        },
        "displayName": {
          "description": "Required. The display name of the NotebookRuntimeTemplate. The name can be up to 128 characters long and can consist of any UTF-8 characters.",
          "type": "string"
        },
        "networkSpec": {
          "description": "Optional. Network spec.",
          "$ref": "GoogleCloudAiplatformV1NetworkSpec"
        },
        "dataPersistentDiskSpec": {
          "description": "Optional. The specification of persistent disk attached to the runtime as data disk storage.",
          "$ref": "GoogleCloudAiplatformV1PersistentDiskSpec"
        },
        "softwareConfig": {
          "$ref": "GoogleCloudAiplatformV1NotebookSoftwareConfig",
          "description": "Optional. The notebook software configuration of the notebook runtime."
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp when this NotebookRuntimeTemplate was most recently updated.",
          "readOnly": true
        },
        "etag": {
          "type": "string",
          "description": "Used to perform consistent read-modify-write updates. If not set, a blind \"overwrite\" update happens."
        },
        "name": {
          "description": "The resource name of the NotebookRuntimeTemplate.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Timestamp when this NotebookRuntimeTemplate was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The labels with user-defined metadata to organize the NotebookRuntimeTemplates. Label keys and values can be no longer than 64 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. See https://goo.gl/xmQnxf for more information and examples of labels."
        },
        "isDefault": {
          "deprecated": true,
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Deprecated: This field has no behavior. Use notebook_runtime_type = 'ONE_CLICK' instead. The default template to use if not specified."
        },
        "description": {
          "description": "The description of the NotebookRuntimeTemplate.",
          "type": "string"
        },
        "notebookRuntimeType": {
          "enumDescriptions": [
            "Unspecified notebook runtime type, NotebookRuntimeType will default to USER_DEFINED.",
            "runtime or template with coustomized configurations from user.",
            "runtime or template with system defined configurations."
          ],
          "type": "string",
          "enum": [
            "NOTEBOOK_RUNTIME_TYPE_UNSPECIFIED",
            "USER_DEFINED",
            "ONE_CLICK"
          ],
          "description": "Optional. Immutable. The type of the notebook runtime template."
        },
        "reservationAffinity": {
          "$ref": "GoogleCloudAiplatformV1NotebookReservationAffinity",
          "description": "Optional. Reservation Affinity of the notebook runtime template."
        },
        "idleShutdownConfig": {
          "description": "The idle shutdown configuration of NotebookRuntimeTemplate. This config will only be set when idle shutdown is enabled.",
          "$ref": "GoogleCloudAiplatformV1NotebookIdleShutdownConfig"
        }
      }
    },
    "GoogleCloudAiplatformV1ProbeExecAction": {
      "id": "GoogleCloudAiplatformV1ProbeExecAction",
      "properties": {
        "command": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Command is the command line to execute inside the container, the working directory for the command is root ('/') in the container's filesystem. The command is simply exec'd, it is not run inside a shell, so traditional shell instructions ('|', etc) won't work. To use a shell, you need to explicitly call out to that shell. Exit status of 0 is treated as live/healthy and non-zero is unhealthy."
        }
      },
      "type": "object",
      "description": "ExecAction specifies a command to execute."
    },
    "GoogleCloudAiplatformV1ReasoningEngineContextSpecMemoryBankConfigGenerationConfig": {
      "properties": {
        "model": {
          "description": "Optional. The model used to generate memories. Format: `projects/{project}/locations/{location}/publishers/google/models/{model}`.",
          "type": "string"
        },
        "generationTriggerConfig": {
          "$ref": "GoogleCloudAiplatformV1MemoryGenerationTriggerConfig",
          "description": "Optional. Specifies the default trigger configuration for generating memories using `IngestEvents`."
        }
      },
      "description": "Configuration for how to generate memories.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1ReasoningEngineContextSpecMemoryBankConfigGenerationConfig"
    },
    "GoogleCloudAiplatformV1NotebookReservationAffinity": {
      "description": "Notebook Reservation Affinity for consuming Zonal reservation.",
      "id": "GoogleCloudAiplatformV1NotebookReservationAffinity",
      "properties": {
        "values": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Corresponds to the label values of a reservation resource. This must be the full path name of Reservation."
        },
        "key": {
          "type": "string",
          "description": "Optional. Corresponds to the label key of a reservation resource. To target a RESERVATION_SPECIFIC by name, use compute.googleapis.com/reservation-name as the key and specify the name of your reservation as its value."
        },
        "consumeReservationType": {
          "description": "Required. Specifies the type of reservation from which this instance can consume resources: RESERVATION_ANY (default), RESERVATION_SPECIFIC, or RESERVATION_NONE. See Consuming reserved instances for examples.",
          "type": "string",
          "enum": [
            "RESERVATION_AFFINITY_TYPE_UNSPECIFIED",
            "RESERVATION_NONE",
            "RESERVATION_ANY",
            "RESERVATION_SPECIFIC"
          ],
          "enumDescriptions": [
            "Default type.",
            "Do not consume from any allocated capacity.",
            "Consume any reservation available.",
            "Must consume from a specific reservation. Must specify key value fields for specifying the reservations."
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1SchemaModelevaluationMetricsClassificationEvaluationMetrics": {
      "id": "GoogleCloudAiplatformV1SchemaModelevaluationMetricsClassificationEvaluationMetrics",
      "description": "Metrics for classification evaluation results.",
      "type": "object",
      "properties": {
        "confidenceMetrics": {
          "description": "Metrics for each `confidenceThreshold` in 0.00,0.05,0.10,...,0.95,0.96,0.97,0.98,0.99 and `positionThreshold` = INT32_MAX_VALUE. ROC and precision-recall curves, and other aggregated metrics are derived from them. The confidence metrics entries may also be supplied for additional values of `positionThreshold`, but from these no aggregated metrics are computed.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1SchemaModelevaluationMetricsClassificationEvaluationMetricsConfidenceMetrics"
          },
          "type": "array"
        },
        "logLoss": {
          "description": "The Log Loss metric.",
          "format": "float",
          "type": "number"
        },
        "auPrc": {
          "type": "number",
          "description": "The Area Under Precision-Recall Curve metric. Micro-averaged for the overall evaluation.",
          "format": "float"
        },
        "auRoc": {
          "type": "number",
          "description": "The Area Under Receiver Operating Characteristic curve metric. Micro-averaged for the overall evaluation.",
          "format": "float"
        },
        "confusionMatrix": {
          "$ref": "GoogleCloudAiplatformV1SchemaModelevaluationMetricsConfusionMatrix",
          "description": "Confusion matrix of the evaluation."
        }
      }
    },
    "GoogleCloudAiplatformV1RagFileParsingConfigLayoutParser": {
      "type": "object",
      "description": "Document AI Layout Parser config.",
      "properties": {
        "processorName": {
          "type": "string",
          "description": "The full resource name of a Document AI processor or processor version. The processor must have type `LAYOUT_PARSER_PROCESSOR`. If specified, the `additional_config.parse_as_scanned_pdf` field must be false. Format: * `projects/{project_id}/locations/{location}/processors/{processor_id}` * `projects/{project_id}/locations/{location}/processors/{processor_id}/processorVersions/{processor_version_id}`"
        },
        "maxParsingRequestsPerMin": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum number of requests the job is allowed to make to the Document AI processor per minute. Consult https://cloud.google.com/document-ai/quotas and the Quota page for your project to set an appropriate value here. If unspecified, a default value of 120 QPM would be used."
        }
      },
      "id": "GoogleCloudAiplatformV1RagFileParsingConfigLayoutParser"
    },
    "GoogleCloudAiplatformV1TimeSeriesDataPoint": {
      "id": "GoogleCloudAiplatformV1TimeSeriesDataPoint",
      "properties": {
        "wallTime": {
          "description": "Wall clock timestamp when this data point is generated by the end user.",
          "type": "string",
          "format": "google-datetime"
        },
        "blobs": {
          "description": "A blob sequence value.",
          "$ref": "GoogleCloudAiplatformV1TensorboardBlobSequence"
        },
        "scalar": {
          "description": "A scalar value.",
          "$ref": "GoogleCloudAiplatformV1Scalar"
        },
        "tensor": {
          "$ref": "GoogleCloudAiplatformV1TensorboardTensor",
          "description": "A tensor value."
        },
        "step": {
          "description": "Step index of this data point within the run.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "A TensorboardTimeSeries data point.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1ListEvaluationMetricsResponse": {
      "properties": {
        "evaluationMetrics": {
          "description": "List of EvaluationMetrics in the requested page.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1EvaluationMetric"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results."
        }
      },
      "id": "GoogleCloudAiplatformV1ListEvaluationMetricsResponse",
      "type": "object",
      "description": "Response message for EvaluationMetricService.ListEvaluationMetrics."
    },
    "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlForecastingMetadata": {
      "properties": {
        "evaluatedDataItemsBigqueryUri": {
          "description": "BigQuery destination uri for exported evaluated examples.",
          "type": "string"
        },
        "trainCostMilliNodeHours": {
          "description": "Output only. The actual training cost of the model, expressed in milli node hours, i.e. 1,000 value in this field means 1 node hour. Guaranteed to not exceed the train budget.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlForecastingMetadata",
      "description": "Model metadata specific to AutoML Forecasting.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1QuestionAnsweringHelpfulnessSpec": {
      "type": "object",
      "properties": {
        "version": {
          "format": "int32",
          "description": "Optional. Which version to use for evaluation.",
          "type": "integer"
        },
        "useReference": {
          "type": "boolean",
          "description": "Optional. Whether to use instance.reference to compute question answering helpfulness."
        }
      },
      "id": "GoogleCloudAiplatformV1QuestionAnsweringHelpfulnessSpec",
      "description": "Spec for question answering helpfulness metric."
    },
    "GoogleCloudAiplatformV1ToolGoogleSearchImageSearch": {
      "description": "Image search for grounding and related configurations.",
      "properties": {},
      "id": "GoogleCloudAiplatformV1ToolGoogleSearchImageSearch",
      "type": "object"
    },
    "GoogleCloudAiplatformV1AddExecutionEventsRequest": {
      "description": "Request message for MetadataService.AddExecutionEvents.",
      "id": "GoogleCloudAiplatformV1AddExecutionEventsRequest",
      "type": "object",
      "properties": {
        "events": {
          "description": "The Events to create and add.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1Event"
          }
        }
      }
    },
    "GoogleCloudAiplatformV1SummarizationVerbosityInput": {
      "properties": {
        "instance": {
          "description": "Required. Summarization verbosity instance.",
          "$ref": "GoogleCloudAiplatformV1SummarizationVerbosityInstance"
        },
        "metricSpec": {
          "description": "Required. Spec for summarization verbosity score metric.",
          "$ref": "GoogleCloudAiplatformV1SummarizationVerbositySpec"
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1SummarizationVerbosityInput",
      "description": "Input for summarization verbosity metric."
    },
    "GoogleCloudAiplatformV1ReplicatedVoiceConfig": {
      "properties": {
        "mimeType": {
          "type": "string",
          "description": "Optional. The mimetype of the voice sample. The only currently supported value is `audio/wav`. This represents 16-bit signed little-endian wav data, with a 24kHz sampling rate. `mime_type` will default to `audio/wav` if not set."
        },
        "voiceSampleAudio": {
          "type": "string",
          "format": "byte",
          "description": "Optional. The sample of the custom voice."
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1ReplicatedVoiceConfig",
      "description": "The configuration for the replicated voice to use."
    },
    "GoogleCloudAiplatformV1ListBatchPredictionJobsResponse": {
      "description": "Response message for JobService.ListBatchPredictionJobs",
      "properties": {
        "batchPredictionJobs": {
          "type": "array",
          "description": "List of BatchPredictionJobs in the requested page.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1BatchPredictionJob"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass to ListBatchPredictionJobsRequest.page_token to obtain that page.",
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1ListBatchPredictionJobsResponse",
      "type": "object"
    },
    "GoogleCloudAiplatformV1ExportModelResponse": {
      "properties": {},
      "type": "object",
      "description": "Response message of ModelService.ExportModel operation.",
      "id": "GoogleCloudAiplatformV1ExportModelResponse"
    },
    "GoogleCloudAiplatformV1ImportFeatureValuesRequest": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1ImportFeatureValuesRequest",
      "description": "Request message for FeaturestoreService.ImportFeatureValues.",
      "properties": {
        "disableOnlineServing": {
          "description": "If set, data will not be imported for online serving. This is typically used for backfilling, where Feature generation timestamps are not in the timestamp range needed for online serving.",
          "type": "boolean"
        },
        "featureTimeField": {
          "description": "Source column that holds the Feature timestamp for all Feature values in each entity.",
          "type": "string"
        },
        "featureTime": {
          "type": "string",
[...]
