{
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "baseUrl": "https://aiplatform.googleapis.com/",
  "name": "aiplatform",
  "documentationLink": "https://cloud.google.com/vertex-ai/",
  "discoveryVersion": "v1",
  "parameters": {
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "alt": {
      "type": "string",
      "location": "query",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    }
  },
  "servicePath": "",
  "batchPath": "batch",
  "description": "Build, scale, govern, and optimize sophisticated agents and models.",
  "rootUrl": "https://aiplatform.googleapis.com/",
  "version_module": true,
  "revision": "20260617",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        }
      }
    }
  },
  "id": "aiplatform:v1",
  "title": "Agent Platform API",
  "resources": {
    "metadataStores": {
      "resources": {
        "artifacts": {
          "resources": {
            "operations": {
              "methods": {
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  },
                  "flatPath": "v1/metadataStores/{metadataStoresId}/artifacts/{artifactsId}/operations",
                  "id": "aiplatform.metadataStores.artifacts.operations.list",
                  "path": "v1/{+name}/operations",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "The standard list page size."
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "The standard list page token."
                    },
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "The name of the operation's parent resource.",
                      "required": true,
                      "pattern": "^metadataStores/[^/]+/artifacts/[^/]+$"
                    },
                    "filter": {
                      "description": "The standard list filter.",
                      "location": "query",
                      "type": "string"
                    },
                    "returnPartialSuccess": {
                      "location": "query",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "type": "boolean"
                    }
                  },
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`."
                },
                "wait": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^metadataStores/[^/]+/artifacts/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to wait on.",
                      "type": "string",
                      "location": "path"
                    },
                    "timeout": {
                      "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                      "location": "query",
                      "type": "string",
                      "format": "google-duration"
                    }
                  },
                  "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}:wait",
                  "httpMethod": "POST",
                  "id": "aiplatform.metadataStores.artifacts.operations.wait",
                  "flatPath": "v1/metadataStores/{metadataStoresId}/artifacts/{artifactsId}/operations/{operationsId}:wait",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  }
                },
                "delete": {
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "aiplatform.metadataStores.artifacts.operations.delete",
                  "flatPath": "v1/metadataStores/{metadataStoresId}/artifacts/{artifactsId}/operations/{operationsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "httpMethod": "DELETE",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^metadataStores/[^/]+/artifacts/[^/]+/operations/[^/]+$",
                      "required": true,
                      "description": "The name of the operation resource to be deleted."
                    }
                  }
                },
                "cancel": {
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "parameters": {
                    "name": {
                      "pattern": "^metadataStores/[^/]+/artifacts/[^/]+/operations/[^/]+$",
                      "required": true,
                      "description": "The name of the operation resource to be cancelled.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "path": "v1/{+name}:cancel",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/metadataStores/{metadataStoresId}/artifacts/{artifactsId}/operations/{operationsId}:cancel",
                  "id": "aiplatform.metadataStores.artifacts.operations.cancel",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource.",
                      "pattern": "^metadataStores/[^/]+/artifacts/[^/]+/operations/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/metadataStores/{metadataStoresId}/artifacts/{artifactsId}/operations/{operationsId}",
                  "id": "aiplatform.metadataStores.artifacts.operations.get",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            }
          }
        },
        "operations": {
          "methods": {
            "list": {
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}/operations",
              "httpMethod": "GET",
              "parameters": {
                "filter": {
                  "description": "The standard list filter.",
                  "location": "query",
                  "type": "string"
                },
                "returnPartialSuccess": {
                  "type": "boolean",
                  "location": "query",
                  "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                },
                "name": {
                  "required": true,
                  "pattern": "^metadataStores/[^/]+$",
                  "description": "The name of the operation's parent resource.",
                  "type": "string",
                  "location": "path"
                },
                "pageSize": {
                  "description": "The standard list page size.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "type": "string",
                  "description": "The standard list page token.",
                  "location": "query"
                }
              },
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "id": "aiplatform.metadataStores.operations.list",
              "flatPath": "v1/metadataStores/{metadataStoresId}/operations"
            },
            "wait": {
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}:wait",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "pattern": "^metadataStores/[^/]+/operations/[^/]+$",
                  "required": true,
                  "description": "The name of the operation resource to wait on.",
                  "type": "string",
                  "location": "path"
                },
                "timeout": {
                  "type": "string",
                  "format": "google-duration",
                  "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                  "location": "query"
                }
              },
              "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "id": "aiplatform.metadataStores.operations.wait",
              "flatPath": "v1/metadataStores/{metadataStoresId}/operations/{operationsId}:wait"
            },
            "delete": {
              "id": "aiplatform.metadataStores.operations.delete",
              "flatPath": "v1/metadataStores/{metadataStoresId}/operations/{operationsId}",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^metadataStores/[^/]+/operations/[^/]+$",
                  "description": "The name of the operation resource to be deleted.",
                  "type": "string",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "httpMethod": "DELETE"
            },
            "cancel": {
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "The name of the operation resource to be cancelled.",
                  "pattern": "^metadataStores/[^/]+/operations/[^/]+$",
                  "required": true
                }
              },
              "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}:cancel",
              "httpMethod": "POST",
              "id": "aiplatform.metadataStores.operations.cancel",
              "flatPath": "v1/metadataStores/{metadataStoresId}/operations/{operationsId}:cancel",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              }
            },
            "get": {
              "flatPath": "v1/metadataStores/{metadataStoresId}/operations/{operationsId}",
              "id": "aiplatform.metadataStores.operations.get",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^metadataStores/[^/]+/operations/[^/]+$",
                  "description": "The name of the operation resource."
                }
              },
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ]
            }
          }
        },
        "contexts": {
          "resources": {
            "operations": {
              "methods": {
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource.",
                      "pattern": "^metadataStores/[^/]+/contexts/[^/]+/operations/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "aiplatform.metadataStores.contexts.operations.get",
                  "flatPath": "v1/metadataStores/{metadataStoresId}/contexts/{contextsId}/operations/{operationsId}"
                },
                "cancel": {
                  "flatPath": "v1/metadataStores/{metadataStoresId}/contexts/{contextsId}/operations/{operationsId}:cancel",
                  "id": "aiplatform.metadataStores.contexts.operations.cancel",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^metadataStores/[^/]+/contexts/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be cancelled.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "path": "v1/{+name}:cancel",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "delete": {
                  "id": "aiplatform.metadataStores.contexts.operations.delete",
                  "flatPath": "v1/metadataStores/{metadataStoresId}/contexts/{contextsId}/operations/{operationsId}",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be deleted.",
                      "required": true,
                      "pattern": "^metadataStores/[^/]+/contexts/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "httpMethod": "DELETE"
                },
                "list": {
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "parameters": {
                    "filter": {
                      "description": "The standard list filter.",
                      "location": "query",
                      "type": "string"
                    },
                    "returnPartialSuccess": {
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "name": {
                      "required": true,
                      "pattern": "^metadataStores/[^/]+/contexts/[^/]+$",
                      "description": "The name of the operation's parent resource.",
                      "type": "string",
                      "location": "path"
                    },
                    "pageSize": {
                      "description": "The standard list page size.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "The standard list page token.",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}/operations",
                  "httpMethod": "GET",
                  "id": "aiplatform.metadataStores.contexts.operations.list",
                  "flatPath": "v1/metadataStores/{metadataStoresId}/contexts/{contextsId}/operations",
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "wait": {
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "aiplatform.metadataStores.contexts.operations.wait",
                  "flatPath": "v1/metadataStores/{metadataStoresId}/contexts/{contextsId}/operations/{operationsId}:wait",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}:wait",
                  "httpMethod": "POST",
                  "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
                  "parameters": {
                    "name": {
                      "pattern": "^metadataStores/[^/]+/contexts/[^/]+/operations/[^/]+$",
                      "required": true,
                      "description": "The name of the operation resource to wait on.",
                      "type": "string",
                      "location": "path"
                    },
                    "timeout": {
                      "location": "query",
                      "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                      "type": "string",
                      "format": "google-duration"
                    }
                  }
                }
              }
            }
          }
        },
        "executions": {
          "resources": {
            "operations": {
              "methods": {
                "delete": {
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/metadataStores/{metadataStoresId}/executions/{executionsId}/operations/{operationsId}",
                  "id": "aiplatform.metadataStores.executions.operations.delete",
                  "path": "v1/{+name}",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "The name of the operation resource to be deleted.",
                      "pattern": "^metadataStores/[^/]+/executions/[^/]+/operations/[^/]+$",
                      "required": true
                    }
                  }
                },
                "list": {
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}/operations",
                  "httpMethod": "GET",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "parameters": {
                    "name": {
                      "pattern": "^metadataStores/[^/]+/executions/[^/]+$",
                      "required": true,
                      "description": "The name of the operation's parent resource.",
                      "type": "string",
                      "location": "path"
                    },
                    "filter": {
                      "type": "string",
                      "description": "The standard list filter.",
                      "location": "query"
                    },
                    "returnPartialSuccess": {
                      "type": "boolean",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "The standard list page size.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "The standard list page token."
                    }
                  },
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "aiplatform.metadataStores.executions.operations.list",
                  "flatPath": "v1/metadataStores/{metadataStoresId}/executions/{executionsId}/operations"
                },
                "wait": {
                  "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "The name of the operation resource to wait on.",
                      "required": true,
                      "pattern": "^metadataStores/[^/]+/executions/[^/]+/operations/[^/]+$"
                    },
                    "timeout": {
                      "type": "string",
                      "format": "google-duration",
                      "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                      "location": "query"
                    }
                  },
                  "path": "v1/{+name}:wait",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/metadataStores/{metadataStoresId}/executions/{executionsId}/operations/{operationsId}:wait",
                  "id": "aiplatform.metadataStores.executions.operations.wait",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/metadataStores/{metadataStoresId}/executions/{executionsId}/operations/{operationsId}",
                  "id": "aiplatform.metadataStores.executions.operations.get",
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "The name of the operation resource.",
                      "required": true,
                      "pattern": "^metadataStores/[^/]+/executions/[^/]+/operations/[^/]+$"
                    }
                  }
                },
                "cancel": {
                  "id": "aiplatform.metadataStores.executions.operations.cancel",
                  "flatPath": "v1/metadataStores/{metadataStoresId}/executions/{executionsId}/operations/{operationsId}:cancel",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be cancelled.",
                      "pattern": "^metadataStores/[^/]+/executions/[^/]+/operations/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}:cancel",
                  "httpMethod": "POST"
                }
              }
            }
          }
        }
      }
    },
    "tuningJobs": {
      "resources": {
        "operations": {
          "methods": {
            "get": {
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^tuningJobs/[^/]+/operations/[^/]+$",
                  "required": true,
                  "description": "The name of the operation resource."
                }
              },
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/tuningJobs/{tuningJobsId}/operations/{operationsId}",
              "id": "aiplatform.tuningJobs.operations.get"
            },
            "cancel": {
              "path": "v1/{+name}:cancel",
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "The name of the operation resource to be cancelled.",
                  "pattern": "^tuningJobs/[^/]+/operations/[^/]+$",
                  "required": true
                }
              },
              "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "flatPath": "v1/tuningJobs/{tuningJobsId}/operations/{operationsId}:cancel",
              "id": "aiplatform.tuningJobs.operations.cancel"
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "httpMethod": "DELETE",
              "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^tuningJobs/[^/]+/operations/[^/]+$",
                  "required": true,
                  "description": "The name of the operation resource to be deleted."
                }
              },
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "aiplatform.tuningJobs.operations.delete",
              "flatPath": "v1/tuningJobs/{tuningJobsId}/operations/{operationsId}"
            },
            "list": {
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}/operations",
              "httpMethod": "GET",
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
              "parameters": {
                "filter": {
                  "description": "The standard list filter.",
                  "location": "query",
                  "type": "string"
                },
                "returnPartialSuccess": {
                  "type": "boolean",
                  "location": "query",
                  "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                },
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^tuningJobs/[^/]+$",
                  "description": "The name of the operation's parent resource."
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The standard list page size.",
                  "location": "query"
                },
                "pageToken": {
                  "description": "The standard list page token.",
                  "location": "query",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "aiplatform.tuningJobs.operations.list",
              "flatPath": "v1/tuningJobs/{tuningJobsId}/operations"
            }
          }
        }
      }
    },
    "notebookExecutionJobs": {
      "resources": {
        "operations": {
          "methods": {
            "cancel": {
              "flatPath": "v1/notebookExecutionJobs/{notebookExecutionJobsId}/operations/{operationsId}:cancel",
              "id": "aiplatform.notebookExecutionJobs.operations.cancel",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "The name of the operation resource to be cancelled.",
                  "pattern": "^notebookExecutionJobs/[^/]+/operations/[^/]+$",
                  "required": true
                }
              },
              "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
              "path": "v1/{+name}:cancel",
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ]
            },
            "get": {
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^notebookExecutionJobs/[^/]+/operations/[^/]+$",
                  "description": "The name of the operation resource."
                }
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "id": "aiplatform.notebookExecutionJobs.operations.get",
              "flatPath": "v1/notebookExecutionJobs/{notebookExecutionJobsId}/operations/{operationsId}",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "path": "v1/{+name}/operations",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^notebookExecutionJobs/[^/]+$",
                  "description": "The name of the operation's parent resource.",
                  "type": "string",
                  "location": "path"
                },
                "filter": {
                  "type": "string",
                  "description": "The standard list filter.",
                  "location": "query"
                },
                "returnPartialSuccess": {
                  "type": "boolean",
                  "location": "query",
                  "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                },
                "pageSize": {
                  "description": "The standard list page size.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "The standard list page token.",
                  "location": "query",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/notebookExecutionJobs/{notebookExecutionJobsId}/operations",
              "id": "aiplatform.notebookExecutionJobs.operations.list"
            },
            "wait": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "flatPath": "v1/notebookExecutionJobs/{notebookExecutionJobsId}/operations/{operationsId}:wait",
              "id": "aiplatform.notebookExecutionJobs.operations.wait",
              "path": "v1/{+name}:wait",
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^notebookExecutionJobs/[^/]+/operations/[^/]+$",
                  "required": true,
                  "description": "The name of the operation resource to wait on.",
                  "type": "string",
                  "location": "path"
                },
                "timeout": {
                  "type": "string",
                  "format": "google-duration",
                  "location": "query",
                  "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used."
                }
              },
              "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done."
            },
            "delete": {
              "path": "v1/{+name}",
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
              "parameters": {
                "name": {
                  "description": "The name of the operation resource to be deleted.",
                  "pattern": "^notebookExecutionJobs/[^/]+/operations/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/notebookExecutionJobs/{notebookExecutionJobsId}/operations/{operationsId}",
              "id": "aiplatform.notebookExecutionJobs.operations.delete"
            }
          }
        }
      }
    },
    "notebookRuntimes": {
      "resources": {
        "operations": {
          "methods": {
            "cancel": {
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "aiplatform.notebookRuntimes.operations.cancel",
              "flatPath": "v1/notebookRuntimes/{notebookRuntimesId}/operations/{operationsId}:cancel",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}:cancel",
              "httpMethod": "POST",
              "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "The name of the operation resource to be cancelled.",
                  "pattern": "^notebookRuntimes/[^/]+/operations/[^/]+$",
                  "required": true
                }
              }
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "flatPath": "v1/notebookRuntimes/{notebookRuntimesId}/operations/{operationsId}",
              "id": "aiplatform.notebookRuntimes.operations.get",
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^notebookRuntimes/[^/]+/operations/[^/]+$",
                  "required": true,
                  "description": "The name of the operation resource.",
                  "type": "string",
                  "location": "path"
                }
              },
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "id": "aiplatform.notebookRuntimes.operations.list",
              "flatPath": "v1/notebookRuntimes/{notebookRuntimesId}/operations",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}/operations",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^notebookRuntimes/[^/]+$",
                  "description": "The name of the operation's parent resource."
                },
                "filter": {
                  "type": "string",
                  "description": "The standard list filter.",
                  "location": "query"
                },
                "returnPartialSuccess": {
                  "type": "boolean",
                  "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "The standard list page size."
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "The standard list page token."
                }
              },
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`."
            },
            "wait": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "flatPath": "v1/notebookRuntimes/{notebookRuntimesId}/operations/{operationsId}:wait",
              "id": "aiplatform.notebookRuntimes.operations.wait",
              "path": "v1/{+name}:wait",
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "The name of the operation resource to wait on.",
                  "required": true,
                  "pattern": "^notebookRuntimes/[^/]+/operations/[^/]+$",
                  "location": "path",
                  "type": "string"
                },
                "timeout": {
                  "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                  "location": "query",
                  "type": "string",
                  "format": "google-duration"
                }
              },
              "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done."
            },
            "delete": {
              "path": "v1/{+name}",
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "The name of the operation resource to be deleted.",
                  "required": true,
                  "pattern": "^notebookRuntimes/[^/]+/operations/[^/]+$"
                }
              },
              "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "flatPath": "v1/notebookRuntimes/{notebookRuntimesId}/operations/{operationsId}",
              "id": "aiplatform.notebookRuntimes.operations.delete"
            }
          }
        }
      }
    },
    "endpoints": {
      "methods": {
        "predictLongRunning": {
          "response": {
            "$ref": "GoogleLongrunningOperation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "flatPath": "v1/endpoints/{endpointsId}:predictLongRunning",
          "id": "aiplatform.endpoints.predictLongRunning",
          "path": "v1/{+endpoint}:predictLongRunning",
          "httpMethod": "POST",
          "parameterOrder": [
            "endpoint"
          ],
          "request": {
            "$ref": "GoogleCloudAiplatformV1PredictLongRunningRequest"
          },
          "description": "",
          "parameters": {
            "endpoint": {
              "required": true,
              "pattern": "^endpoints/[^/]+$",
              "description": "Required. The name of the Endpoint requested to serve the prediction. Format: `projects/{project}/locations/{location}/endpoints/{endpoint}` or `projects/{project}/locations/{location}/publishers/{publisher}/models/{model}`",
              "type": "string",
              "location": "path"
            }
          }
        },
        "countTokens": {
          "id": "aiplatform.endpoints.countTokens",
          "flatPath": "v1/endpoints/{endpointsId}:countTokens",
          "response": {
            "$ref": "GoogleCloudAiplatformV1CountTokensResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "GoogleCloudAiplatformV1CountTokensRequest"
          },
          "description": "Perform a token counting.",
          "parameters": {
            "endpoint": {
              "required": true,
              "pattern": "^endpoints/[^/]+$",
              "description": "Required. The name of the Endpoint requested to perform token counting. Format: `projects/{project}/locations/{location}/endpoints/{endpoint}`",
              "type": "string",
              "location": "path"
            }
          },
          "parameterOrder": [
            "endpoint"
          ],
          "path": "v1/{+endpoint}:countTokens",
          "httpMethod": "POST"
        },
        "predict": {
          "response": {
            "$ref": "GoogleCloudAiplatformV1PredictResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "id": "aiplatform.endpoints.predict",
          "flatPath": "v1/endpoints/{endpointsId}:predict",
          "parameterOrder": [
            "endpoint"
          ],
          "path": "v1/{+endpoint}:predict",
          "httpMethod": "POST",
          "request": {
            "$ref": "GoogleCloudAiplatformV1PredictRequest"
          },
          "description": "",
          "parameters": {
            "endpoint": {
              "required": true,
              "pattern": "^endpoints/[^/]+$",
              "description": "Required. The name of the Endpoint requested to serve the prediction. Format: `projects/{project}/locations/{location}/endpoints/{endpoint}`",
              "type": "string",
              "location": "path"
            }
          }
        },
        "computeTokens": {
          "flatPath": "v1/endpoints/{endpointsId}:computeTokens",
          "id": "aiplatform.endpoints.computeTokens",
          "response": {
            "$ref": "GoogleCloudAiplatformV1ComputeTokensResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "GoogleCloudAiplatformV1ComputeTokensRequest"
          },
          "description": "Return a list of tokens based on the input text.",
          "parameters": {
            "endpoint": {
              "description": "Required. The name of the Endpoint requested to get lists of tokens and token ids.",
              "required": true,
              "pattern": "^endpoints/[^/]+$",
              "location": "path",
              "type": "string"
            }
          },
          "path": "v1/{+endpoint}:computeTokens",
          "httpMethod": "POST",
          "parameterOrder": [
            "endpoint"
          ]
        },
        "fetchPredictOperation": {
          "flatPath": "v1/endpoints/{endpointsId}:fetchPredictOperation",
          "id": "aiplatform.endpoints.fetchPredictOperation",
          "response": {
            "$ref": "GoogleLongrunningOperation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "request": {
            "$ref": "GoogleCloudAiplatformV1FetchPredictOperationRequest"
          },
          "description": "Fetch an asynchronous online prediction operation.",
          "parameters": {
            "endpoint": {
              "type": "string",
              "location": "path",
              "pattern": "^endpoints/[^/]+$",
              "required": true,
              "description": "Required. The name of the Endpoint requested to serve the prediction. Format: `projects/{project}/locations/{location}/endpoints/{endpoint}` or `projects/{project}/locations/{location}/publishers/{publisher}/models/{model}`"
            }
          },
          "path": "v1/{+endpoint}:fetchPredictOperation",
          "httpMethod": "POST",
          "parameterOrder": [
            "endpoint"
          ]
        },
        "generateContent": {
          "request": {
            "$ref": "GoogleCloudAiplatformV1GenerateContentRequest"
          },
          "description": "Generate content with multimodal inputs.",
          "parameters": {
            "model": {
              "description": "Required. The fully qualified name of the publisher model or tuned model endpoint to use. Publisher model format: `projects/{project}/locations/{location}/publishers/*/models/*` Tuned model endpoint format: `projects/{project}/locations/{location}/endpoints/{endpoint}`",
              "required": true,
              "pattern": "^endpoints/[^/]+$",
              "location": "path",
              "type": "string"
            }
          },
          "parameterOrder": [
            "model"
          ],
          "path": "v1/{+model}:generateContent",
          "httpMethod": "POST",
          "id": "aiplatform.endpoints.generateContent",
          "flatPath": "v1/endpoints/{endpointsId}:generateContent",
          "response": {
            "$ref": "GoogleCloudAiplatformV1GenerateContentResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ]
        },
        "streamGenerateContent": {
          "parameters": {
            "model": {
              "pattern": "^endpoints/[^/]+$",
              "required": true,
              "description": "Required. The fully qualified name of the publisher model or tuned model endpoint to use. Publisher model format: `projects/{project}/locations/{location}/publishers/*/models/*` Tuned model endpoint format: `projects/{project}/locations/{location}/endpoints/{endpoint}`",
              "type": "string",
              "location": "path"
            }
          },
          "request": {
            "$ref": "GoogleCloudAiplatformV1GenerateContentRequest"
          },
          "description": "Generate content with multimodal inputs with streaming support.",
          "path": "v1/{+model}:streamGenerateContent",
          "httpMethod": "POST",
          "parameterOrder": [
            "model"
          ],
          "flatPath": "v1/endpoints/{endpointsId}:streamGenerateContent",
          "id": "aiplatform.endpoints.streamGenerateContent",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "response": {
            "$ref": "GoogleCloudAiplatformV1GenerateContentResponse"
          }
        }
      },
      "resources": {
        "operations": {
          "methods": {
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "flatPath": "v1/endpoints/{endpointsId}/operations/{operationsId}",
              "id": "aiplatform.endpoints.operations.get",
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "The name of the operation resource.",
                  "pattern": "^endpoints/[^/]+/operations/[^/]+$",
                  "required": true
                }
              },
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
            },
            "cancel": {
              "flatPath": "v1/endpoints/{endpointsId}/operations/{operationsId}:cancel",
              "id": "aiplatform.endpoints.operations.cancel",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "The name of the operation resource to be cancelled.",
                  "pattern": "^endpoints/[^/]+/operations/[^/]+$",
                  "required": true
                }
              },
              "path": "v1/{+name}:cancel",
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ]
            },
            "delete": {
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/endpoints/{endpointsId}/operations/{operationsId}",
              "id": "aiplatform.endpoints.operations.delete",
              "path": "v1/{+name}",
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
              "parameters": {
                "name": {
                  "description": "The name of the operation resource to be deleted.",
                  "pattern": "^endpoints/[^/]+/operations/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              }
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "flatPath": "v1/endpoints/{endpointsId}/operations",
              "id": "aiplatform.endpoints.operations.list",
              "path": "v1/{+name}/operations",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The standard list page size.",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "description": "The standard list page token.",
                  "location": "query"
                },
                "filter": {
                  "type": "string",
                  "description": "The standard list filter.",
                  "location": "query"
                },
                "returnPartialSuccess": {
                  "type": "boolean",
                  "location": "query",
                  "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                },
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^endpoints/[^/]+$",
                  "description": "The name of the operation's parent resource."
                }
              },
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`."
            },
            "wait": {
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}:wait",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "description": "The name of the operation resource to wait on.",
                  "required": true,
                  "pattern": "^endpoints/[^/]+/operations/[^/]+$",
                  "location": "path",
                  "type": "string"
                },
                "timeout": {
                  "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                  "location": "query",
                  "type": "string",
                  "format": "google-duration"
                }
              },
              "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "id": "aiplatform.endpoints.operations.wait",
              "flatPath": "v1/endpoints/{endpointsId}/operations/{operationsId}:wait"
            }
          }
        },
        "chat": {
          "methods": {
            "completions": {
              "response": {
                "$ref": "GoogleApiHttpBody"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "id": "aiplatform.endpoints.chat.completions",
              "flatPath": "v1/endpoints/{endpointsId}/chat/completions",
              "parameterOrder": [
                "endpoint"
              ],
              "path": "v1/{+endpoint}/chat/completions",
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleApiHttpBody"
              },
              "description": "Exposes an OpenAI-compatible endpoint for chat completions.",
              "parameters": {
                "endpoint": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^endpoints/[^/]+$",
                  "description": "Required. The name of the endpoint requested to serve the prediction. Format: `projects/{project}/locations/{location}/endpoints/{endpoint}`"
                }
              }
            }
          }
        }
      }
    },
    "indexes": {
      "resources": {
        "operations": {
          "methods": {
            "cancel": {
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^indexes/[^/]+/operations/[^/]+$",
                  "required": true,
                  "description": "The name of the operation resource to be cancelled."
                }
              },
              "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
              "path": "v1/{+name}:cancel",
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/indexes/{indexesId}/operations/{operationsId}:cancel",
              "id": "aiplatform.indexes.operations.cancel",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              }
            },
            "get": {
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/indexes/{indexesId}/operations/{operationsId}",
              "id": "aiplatform.indexes.operations.get",
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "The name of the operation resource.",
                  "pattern": "^indexes/[^/]+/operations/[^/]+$",
                  "required": true
                }
              }
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "flatPath": "v1/indexes/{indexesId}/operations",
              "id": "aiplatform.indexes.operations.list",
              "path": "v1/{+name}/operations",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "The standard list page size."
                },
                "pageToken": {
                  "description": "The standard list page token.",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^indexes/[^/]+$",
                  "required": true,
                  "description": "The name of the operation's parent resource."
                },
                "filter": {
                  "location": "query",
                  "description": "The standard list filter.",
                  "type": "string"
                },
                "returnPartialSuccess": {
                  "location": "query",
                  "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                  "type": "boolean"
                }
              },
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`."
            },
            "wait": {
              "flatPath": "v1/indexes/{indexesId}/operations/{operationsId}:wait",
              "id": "aiplatform.indexes.operations.wait",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "The name of the operation resource to wait on.",
                  "pattern": "^indexes/[^/]+/operations/[^/]+$",
                  "required": true
                },
                "timeout": {
                  "type": "string",
                  "format": "google-duration",
                  "location": "query",
                  "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used."
                }
              },
              "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
              "path": "v1/{+name}:wait",
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ]
            },
            "delete": {
              "id": "aiplatform.indexes.operations.delete",
              "flatPath": "v1/indexes/{indexesId}/operations/{operationsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameters": {
                "name": {
                  "description": "The name of the operation resource to be deleted.",
                  "required": true,
                  "pattern": "^indexes/[^/]+/operations/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "httpMethod": "DELETE"
            }
          }
        }
      }
    },
    "onlineEvaluators": {
      "resources": {
        "operations": {
          "methods": {
            "list": {
              "path": "v1/{+name}/operations",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "pageSize": {
                  "description": "The standard list page size.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "type": "string",
                  "description": "The standard list page token.",
                  "location": "query"
                },
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "The name of the operation's parent resource.",
                  "required": true,
                  "pattern": "^onlineEvaluators/[^/]+$"
                },
                "filter": {
                  "location": "query",
                  "description": "The standard list filter.",
                  "type": "string"
                },
                "returnPartialSuccess": {
                  "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                  "location": "query",
                  "type": "boolean"
                }
              },
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "flatPath": "v1/onlineEvaluators/{onlineEvaluatorsId}/operations",
              "id": "aiplatform.onlineEvaluators.operations.list"
            },
            "wait": {
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "aiplatform.onlineEvaluators.operations.wait",
              "flatPath": "v1/onlineEvaluators/{onlineEvaluatorsId}/operations/{operationsId}:wait",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}:wait",
              "httpMethod": "POST",
              "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
              "parameters": {
                "name": {
                  "description": "The name of the operation resource to wait on.",
                  "required": true,
                  "pattern": "^onlineEvaluators/[^/]+/operations/[^/]+$",
                  "location": "path",
                  "type": "string"
                },
                "timeout": {
                  "type": "string",
                  "format": "google-duration",
                  "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                  "location": "query"
                }
              }
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "httpMethod": "DELETE",
              "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^onlineEvaluators/[^/]+/operations/[^/]+$",
                  "description": "The name of the operation resource to be deleted.",
                  "type": "string",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "aiplatform.onlineEvaluators.operations.delete",
              "flatPath": "v1/onlineEvaluators/{onlineEvaluatorsId}/operations/{operationsId}"
            },
            "cancel": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "id": "aiplatform.onlineEvaluators.operations.cancel",
              "flatPath": "v1/onlineEvaluators/{onlineEvaluatorsId}/operations/{operationsId}:cancel",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}:cancel",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^onlineEvaluators/[^/]+/operations/[^/]+$",
                  "required": true,
                  "description": "The name of the operation resource to be cancelled."
                }
              },
              "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`."
            },
            "get": {
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "The name of the operation resource.",
                  "required": true,
                  "pattern": "^onlineEvaluators/[^/]+/operations/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "id": "aiplatform.onlineEvaluators.operations.get",
              "flatPath": "v1/onlineEvaluators/{onlineEvaluatorsId}/operations/{operationsId}",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        }
      }
    },
    "deploymentResourcePools": {
      "resources": {
        "operations": {
          "methods": {
            "delete": {
              "path": "v1/{+name}",
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^deploymentResourcePools/[^/]+/operations/[^/]+$",
                  "required": true,
                  "description": "The name of the operation resource to be deleted.",
                  "type": "string",
                  "location": "path"
                }
              },
              "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "flatPath": "v1/deploymentResourcePools/{deploymentResourcePoolsId}/operations/{operationsId}",
              "id": "aiplatform.deploymentResourcePools.operations.delete"
            },
            "list": {
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}/operations",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "The name of the operation's parent resource.",
                  "pattern": "^deploymentResourcePools/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "The standard list filter."
                },
                "returnPartialSuccess": {
                  "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                  "location": "query",
                  "type": "boolean"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "The standard list page size."
                },
                "pageToken": {
                  "location": "query",
                  "description": "The standard list page token.",
                  "type": "string"
                }
              },
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "id": "aiplatform.deploymentResourcePools.operations.list",
              "flatPath": "v1/deploymentResourcePools/{deploymentResourcePoolsId}/operations"
            },
            "wait": {
              "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^deploymentResourcePools/[^/]+/operations/[^/]+$",
                  "required": true,
                  "description": "The name of the operation resource to wait on."
                },
                "timeout": {
                  "location": "query",
[...]
