{
  "parameters": {
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "default": "json"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    }
  },
  "ownerName": "Google",
  "documentationLink": "https://cloud.google.com/vertex-ai/",
  "version_module": true,
  "title": "Agent Platform API",
  "baseUrl": "https://aiplatform.googleapis.com/",
  "discoveryVersion": "v1",
  "canonicalName": "Aiplatform",
  "fullyEncodeReservedExpansion": true,
  "servicePath": "",
  "revision": "20260831",
  "resources": {
    "semanticGovernancePolicies": {
      "resources": {
        "operations": {
          "methods": {
            "list": {
              "path": "v1/{+name}/operations",
              "parameters": {
                "name": {
                  "description": "The name of the operation's parent resource.",
                  "location": "path",
                  "required": true,
                  "pattern": "^semanticGovernancePolicies/[^/]+$",
                  "type": "string"
                },
                "returnPartialSuccess": {
                  "location": "query",
                  "type": "boolean",
                  "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "The standard list filter."
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "The standard list page token."
                },
                "pageSize": {
                  "format": "int32",
                  "description": "The standard list page size.",
                  "location": "query",
                  "type": "integer"
                }
              },
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
              "flatPath": "v1/semanticGovernancePolicies/{semanticGovernancePoliciesId}/operations",
              "httpMethod": "GET",
              "id": "aiplatform.semanticGovernancePolicies.operations.list",
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ]
            },
            "delete": {
              "flatPath": "v1/semanticGovernancePolicies/{semanticGovernancePoliciesId}/operations/{operationsId}",
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "id": "aiplatform.semanticGovernancePolicies.operations.delete",
              "parameters": {
                "name": {
                  "description": "The name of the operation resource to be deleted.",
                  "required": true,
                  "type": "string",
                  "pattern": "^semanticGovernancePolicies/[^/]+/operations/[^/]+$",
                  "location": "path"
                }
              },
              "path": "v1/{+name}",
              "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`."
            },
            "wait": {
              "parameters": {
                "timeout": {
                  "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                  "location": "query",
                  "type": "string",
                  "format": "google-duration"
                },
                "name": {
                  "pattern": "^semanticGovernancePolicies/[^/]+/operations/[^/]+$",
                  "location": "path",
                  "description": "The name of the operation resource to wait on.",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "httpMethod": "POST",
              "path": "v1/{+name}:wait",
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
              "parameterOrder": [
                "name"
              ],
              "id": "aiplatform.semanticGovernancePolicies.operations.wait",
              "flatPath": "v1/semanticGovernancePolicies/{semanticGovernancePoliciesId}/operations/{operationsId}:wait"
            },
            "cancel": {
              "httpMethod": "POST",
              "flatPath": "v1/semanticGovernancePolicies/{semanticGovernancePoliciesId}/operations/{operationsId}:cancel",
              "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}:cancel",
              "id": "aiplatform.semanticGovernancePolicies.operations.cancel",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^semanticGovernancePolicies/[^/]+/operations/[^/]+$",
                  "description": "The name of the operation resource to be cancelled.",
                  "location": "path",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/semanticGovernancePolicies/{semanticGovernancePoliciesId}/operations/{operationsId}",
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "path": "v1/{+name}",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "parameters": {
                "name": {
                  "pattern": "^semanticGovernancePolicies/[^/]+/operations/[^/]+$",
                  "required": true,
                  "description": "The name of the operation resource.",
                  "location": "path",
                  "type": "string"
                }
              },
              "id": "aiplatform.semanticGovernancePolicies.operations.get"
            }
          }
        }
      }
    },
    "tuningJobs": {
      "resources": {
        "operations": {
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "The standard list page token.",
                  "location": "query"
                },
                "returnPartialSuccess": {
                  "location": "query",
                  "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                  "type": "boolean"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "The standard list page size."
                },
                "name": {
                  "type": "string",
                  "required": true,
                  "description": "The name of the operation's parent resource.",
                  "location": "path",
                  "pattern": "^tuningJobs/[^/]+$"
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "The standard list filter."
                }
              },
              "path": "v1/{+name}/operations",
              "parameterOrder": [
                "name"
              ],
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
              "flatPath": "v1/tuningJobs/{tuningJobsId}/operations",
              "httpMethod": "GET",
              "id": "aiplatform.tuningJobs.operations.list"
            },
            "cancel": {
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "id": "aiplatform.tuningJobs.operations.cancel",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^tuningJobs/[^/]+/operations/[^/]+$",
                  "description": "The name of the operation resource to be cancelled.",
                  "required": true
                }
              },
              "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/tuningJobs/{tuningJobsId}/operations/{operationsId}:cancel",
              "path": "v1/{+name}:cancel"
            },
            "delete": {
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
              "parameters": {
                "name": {
                  "pattern": "^tuningJobs/[^/]+/operations/[^/]+$",
                  "required": true,
                  "description": "The name of the operation resource to be deleted.",
                  "location": "path",
                  "type": "string"
                }
              },
              "flatPath": "v1/tuningJobs/{tuningJobsId}/operations/{operationsId}",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "id": "aiplatform.tuningJobs.operations.delete",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              }
            },
            "get": {
              "id": "aiplatform.tuningJobs.operations.get",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "path": "v1/{+name}",
              "flatPath": "v1/tuningJobs/{tuningJobsId}/operations/{operationsId}",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^tuningJobs/[^/]+/operations/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "The name of the operation resource.",
                  "location": "path"
                }
              }
            },
            "wait": {
              "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
              "parameters": {
                "name": {
                  "description": "The name of the operation resource to wait on.",
                  "type": "string",
                  "pattern": "^tuningJobs/[^/]+/operations/[^/]+$",
                  "location": "path",
                  "required": true
                },
                "timeout": {
                  "location": "query",
                  "format": "google-duration",
                  "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "id": "aiplatform.tuningJobs.operations.wait",
              "path": "v1/{+name}:wait",
              "httpMethod": "POST",
              "flatPath": "v1/tuningJobs/{tuningJobsId}/operations/{operationsId}:wait"
            }
          }
        }
      }
    },
    "v1": {
      "methods": {
        "evaluateDataset": {
          "parameters": {},
          "description": "Evaluates a dataset based on a set of given metrics.",
          "id": "aiplatform.evaluateDataset",
          "flatPath": "v1:evaluateDataset",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/aiplatform",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1:evaluateDataset",
          "request": {
            "$ref": "GoogleCloudAiplatformV1EvaluateDatasetRequest"
          },
          "parameterOrder": [],
          "response": {
            "$ref": "GoogleLongrunningOperation"
          }
        },
        "generateInstanceRubrics": {
          "httpMethod": "POST",
          "id": "aiplatform.generateInstanceRubrics",
          "parameterOrder": [],
          "flatPath": "v1:generateInstanceRubrics",
          "scopes": [
            "https://www.googleapis.com/auth/aiplatform",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "GoogleCloudAiplatformV1GenerateInstanceRubricsRequest"
          },
          "parameters": {},
          "description": "Generates rubrics for a given prompt. A rubric represents a single testable criterion for evaluation. One input prompt could have multiple rubrics This RPC allows users to get suggested rubrics based on provided prompt, which can then be reviewed and used for subsequent evaluations.",
          "response": {
            "$ref": "GoogleCloudAiplatformV1GenerateInstanceRubricsResponse"
          },
          "path": "v1:generateInstanceRubrics"
        },
        "evaluateInstances": {
          "scopes": [
            "https://www.googleapis.com/auth/aiplatform",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {},
          "id": "aiplatform.evaluateInstances",
          "description": "Evaluates instances based on a given metric.",
          "flatPath": "v1:evaluateInstances",
          "httpMethod": "POST",
          "parameterOrder": [],
          "request": {
            "$ref": "GoogleCloudAiplatformV1EvaluateInstancesRequest"
          },
          "response": {
            "$ref": "GoogleCloudAiplatformV1EvaluateInstancesResponse"
          },
          "path": "v1:evaluateInstances"
        }
      }
    },
    "media": {
      "methods": {
        "upload": {
          "request": {
            "$ref": "GoogleCloudAiplatformV1UploadRagFileRequest"
          },
          "supportsMediaUpload": true,
          "description": "Upload a file into a RagCorpus.",
          "scopes": [
            "https://www.googleapis.com/auth/aiplatform",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "parent": {
              "location": "path",
              "pattern": "^projects/[^/]+/locations/[^/]+/ragCorpora/[^/]+$",
              "description": "Required. The name of the RagCorpus resource into which to upload the file. Format: `projects/{project}/locations/{location}/ragCorpora/{rag_corpus}`",
              "type": "string",
              "required": true
            }
          },
          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/ragCorpora/{ragCorporaId}/ragFiles:upload",
          "id": "aiplatform.media.upload",
          "httpMethod": "POST",
          "parameterOrder": [
            "parent"
          ],
          "response": {
            "$ref": "GoogleCloudAiplatformV1UploadRagFileResponse"
          },
          "path": "v1/{+parent}/ragFiles:upload",
          "mediaUpload": {
            "accept": [
              "*/*"
            ],
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/v1/{+parent}/ragFiles:upload"
              }
            }
          }
        }
      }
    },
    "customJobs": {
      "resources": {
        "operations": {
          "methods": {
            "wait": {
              "httpMethod": "POST",
              "flatPath": "v1/customJobs/{customJobsId}/operations/{operationsId}:wait",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "The name of the operation resource to wait on.",
                  "location": "path",
                  "required": true,
                  "pattern": "^customJobs/[^/]+/operations/[^/]+$"
                },
                "timeout": {
                  "location": "query",
                  "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                  "type": "string",
                  "format": "google-duration"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
              "path": "v1/{+name}:wait",
              "id": "aiplatform.customJobs.operations.wait"
            },
            "delete": {
              "httpMethod": "DELETE",
              "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
              "flatPath": "v1/customJobs/{customJobsId}/operations/{operationsId}",
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "description": "The name of the operation resource to be deleted.",
                  "location": "path",
                  "required": true,
                  "pattern": "^customJobs/[^/]+/operations/[^/]+$",
                  "type": "string"
                }
              },
              "id": "aiplatform.customJobs.operations.delete",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameterOrder": [
                "name"
              ]
            },
            "cancel": {
              "flatPath": "v1/customJobs/{customJobsId}/operations/{operationsId}:cancel",
              "id": "aiplatform.customJobs.operations.cancel",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^customJobs/[^/]+/operations/[^/]+$",
                  "description": "The name of the operation resource to be cancelled.",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}:cancel",
              "httpMethod": "POST"
            },
            "get": {
              "parameters": {
                "name": {
                  "description": "The name of the operation resource.",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^customJobs/[^/]+/operations/[^/]+$"
                }
              },
              "path": "v1/{+name}",
              "flatPath": "v1/customJobs/{customJobsId}/operations/{operationsId}",
              "id": "aiplatform.customJobs.operations.get",
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "returnPartialSuccess": {
                  "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                  "type": "boolean",
                  "location": "query"
                },
                "name": {
                  "description": "The name of the operation's parent resource.",
                  "location": "path",
                  "required": true,
                  "pattern": "^customJobs/[^/]+$",
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "description": "The standard list page token.",
                  "location": "query"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "The standard list page size."
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "The standard list filter."
                }
              },
              "path": "v1/{+name}/operations",
              "flatPath": "v1/customJobs/{customJobsId}/operations",
              "parameterOrder": [
                "name"
              ],
              "id": "aiplatform.customJobs.operations.list",
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`."
            }
          }
        }
      }
    },
    "ragEngineConfig": {
      "resources": {
        "operations": {
          "methods": {
            "cancel": {
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/ragEngineConfig/operations/{operationsId}:cancel",
              "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^ragEngineConfig/operations/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "The name of the operation resource to be cancelled."
                }
              },
              "path": "v1/{+name}:cancel",
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "aiplatform.ragEngineConfig.operations.cancel",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "httpMethod": "POST"
            },
            "get": {
              "httpMethod": "GET",
              "path": "v1/{+name}",
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "flatPath": "v1/ragEngineConfig/operations/{operationsId}",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^ragEngineConfig/operations/[^/]+$",
                  "description": "The name of the operation resource.",
                  "location": "path"
                }
              },
              "id": "aiplatform.ragEngineConfig.operations.get",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              }
            },
            "delete": {
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/ragEngineConfig/operations/{operationsId}",
              "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
              "path": "v1/{+name}",
              "id": "aiplatform.ragEngineConfig.operations.delete",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "The name of the operation resource to be deleted.",
                  "pattern": "^ragEngineConfig/operations/[^/]+$",
                  "required": true
                }
              },
              "response": {
                "$ref": "GoogleProtobufEmpty"
              }
            },
            "wait": {
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/ragEngineConfig/operations/{operationsId}:wait",
              "path": "v1/{+name}:wait",
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "timeout": {
                  "format": "google-duration",
                  "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                  "type": "string",
                  "location": "query"
                },
                "name": {
                  "pattern": "^ragEngineConfig/operations/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The name of the operation resource to wait on."
                }
              },
              "id": "aiplatform.ragEngineConfig.operations.wait",
              "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "httpMethod": "POST"
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "The name of the operation's parent resource.",
                  "required": true,
                  "type": "string",
                  "pattern": "^ragEngineConfig$"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "The standard list page token."
                },
                "filter": {
                  "type": "string",
                  "description": "The standard list filter.",
                  "location": "query"
                },
                "pageSize": {
                  "description": "The standard list page size.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "returnPartialSuccess": {
                  "location": "query",
                  "type": "boolean",
                  "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                }
              },
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
              "parameterOrder": [
                "name"
              ],
              "id": "aiplatform.ragEngineConfig.operations.list",
              "path": "v1/{+name}/operations",
              "httpMethod": "GET",
              "flatPath": "v1/ragEngineConfig/operations"
            }
          }
        }
      }
    },
    "models": {
      "resources": {
        "evaluations": {
          "resources": {
            "operations": {
              "methods": {
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^models/[^/]+/evaluations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "description": "The name of the operation resource to be deleted.",
                      "required": true
                    }
                  },
                  "path": "v1/{+name}",
                  "id": "aiplatform.models.evaluations.operations.delete",
                  "flatPath": "v1/models/{modelsId}/evaluations/{evaluationsId}/operations/{operationsId}",
                  "httpMethod": "DELETE"
                },
                "get": {
                  "id": "aiplatform.models.evaluations.operations.get",
                  "path": "v1/{+name}",
                  "flatPath": "v1/models/{modelsId}/evaluations/{evaluationsId}/operations/{operationsId}",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^models/[^/]+/evaluations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "The name of the operation resource.",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/aiplatform",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "cancel": {
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be cancelled.",
                      "type": "string",
                      "required": true,
                      "pattern": "^models/[^/]+/evaluations/[^/]+/operations/[^/]+$",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/aiplatform",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/models/{modelsId}/evaluations/{evaluationsId}/operations/{operationsId}:cancel",
                  "httpMethod": "POST",
                  "id": "aiplatform.models.evaluations.operations.cancel",
                  "path": "v1/{+name}:cancel"
                },
                "wait": {
                  "id": "aiplatform.models.evaluations.operations.wait",
                  "flatPath": "v1/models/{modelsId}/evaluations/{evaluationsId}/operations/{operationsId}:wait",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}:wait",
                  "parameters": {
                    "name": {
                      "pattern": "^models/[^/]+/evaluations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to wait on.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "timeout": {
                      "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                      "type": "string",
                      "format": "google-duration",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
                  "scopes": [
                    "https://www.googleapis.com/auth/aiplatform",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST"
                },
                "list": {
                  "id": "aiplatform.models.evaluations.operations.list",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1/models/{modelsId}/evaluations/{evaluationsId}/operations",
                  "scopes": [
                    "https://www.googleapis.com/auth/aiplatform",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "pageToken": {
                      "description": "The standard list page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "returnPartialSuccess": {
                      "location": "query",
                      "type": "boolean",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                    },
                    "name": {
                      "description": "The name of the operation's parent resource.",
                      "required": true,
                      "type": "string",
                      "pattern": "^models/[^/]+/evaluations/[^/]+$",
                      "location": "path"
                    },
                    "filter": {
                      "location": "query",
                      "description": "The standard list filter.",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "description": "The standard list page size.",
                      "format": "int32"
                    }
                  },
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  },
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "path": "v1/{+name}/operations"
                }
              }
            }
          }
        },
        "operations": {
          "methods": {
            "list": {
              "parameters": {
                "filter": {
                  "description": "The standard list filter.",
                  "type": "string",
                  "location": "query"
                },
                "returnPartialSuccess": {
                  "type": "boolean",
                  "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "description": "The standard list page token.",
                  "type": "string"
                },
                "name": {
                  "location": "path",
                  "pattern": "^models/[^/]+$",
                  "description": "The name of the operation's parent resource.",
                  "type": "string",
                  "required": true
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "description": "The standard list page size.",
                  "format": "int32"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/models/{modelsId}/operations",
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
              "path": "v1/{+name}/operations",
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "id": "aiplatform.models.operations.list"
            },
            "get": {
              "flatPath": "v1/models/{modelsId}/operations/{operationsId}",
              "parameterOrder": [
                "name"
              ],
              "id": "aiplatform.models.operations.get",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "The name of the operation resource.",
                  "pattern": "^models/[^/]+/operations/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "path": "v1/{+name}",
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "delete": {
              "httpMethod": "DELETE",
              "id": "aiplatform.models.operations.delete",
              "path": "v1/{+name}",
              "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "description": "The name of the operation resource to be deleted.",
                  "pattern": "^models/[^/]+/operations/[^/]+$",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/models/{modelsId}/operations/{operationsId}"
            },
            "wait": {
              "flatPath": "v1/models/{modelsId}/operations/{operationsId}:wait",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "parameters": {
                "name": {
                  "description": "The name of the operation resource to wait on.",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^models/[^/]+/operations/[^/]+$"
                },
                "timeout": {
                  "format": "google-duration",
                  "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v1/{+name}:wait",
              "id": "aiplatform.models.operations.wait"
            },
            "cancel": {
              "parameterOrder": [
                "name"
              ],
              "id": "aiplatform.models.operations.cancel",
              "httpMethod": "POST",
              "path": "v1/{+name}:cancel",
              "flatPath": "v1/models/{modelsId}/operations/{operationsId}:cancel",
              "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "description": "The name of the operation resource to be cancelled.",
                  "type": "string",
                  "pattern": "^models/[^/]+/operations/[^/]+$",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "GoogleProtobufEmpty"
              }
            }
          }
        }
      }
    },
    "publishers": {
      "resources": {
        "models": {
          "methods": {
            "fetchPredictOperation": {
              "id": "aiplatform.publishers.models.fetchPredictOperation",
              "flatPath": "v1/publishers/{publishersId}/models/{modelsId}:fetchPredictOperation",
              "parameters": {
                "endpoint": {
                  "pattern": "^publishers/[^/]+/models/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the Endpoint requested to serve the prediction. Format: `projects/{project}/locations/{location}/endpoints/{endpoint}` or `projects/{project}/locations/{location}/publishers/{publisher}/models/{model}`",
                  "required": true
                }
              },
              "path": "v1/{+endpoint}:fetchPredictOperation",
              "request": {
                "$ref": "GoogleCloudAiplatformV1FetchPredictOperationRequest"
              },
              "description": "Fetch an asynchronous online prediction operation.",
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "parameterOrder": [
                "endpoint"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              }
            },
            "streamGenerateContent": {
              "flatPath": "v1/publishers/{publishersId}/models/{modelsId}:streamGenerateContent",
              "request": {
                "$ref": "GoogleCloudAiplatformV1GenerateContentRequest"
              },
              "parameterOrder": [
                "model"
              ],
              "httpMethod": "POST",
              "id": "aiplatform.publishers.models.streamGenerateContent",
              "description": "Generate content with multimodal inputs with streaming support.",
              "response": {
                "$ref": "GoogleCloudAiplatformV1GenerateContentResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "parameters": {
                "model": {
                  "type": "string",
                  "required": true,
                  "description": "Required. The fully qualified name of the publisher model or tuned model endpoint to use. Publisher model format: `projects/{project}/locations/{location}/publishers/*/models/*` Tuned model endpoint format: `projects/{project}/locations/{location}/endpoints/{endpoint}`",
                  "pattern": "^publishers/[^/]+/models/[^/]+$",
                  "location": "path"
                }
              },
              "path": "v1/{+model}:streamGenerateContent"
            },
            "computeTokens": {
              "flatPath": "v1/publishers/{publishersId}/models/{modelsId}:computeTokens",
              "path": "v1/{+endpoint}:computeTokens",
              "parameters": {
                "endpoint": {
                  "location": "path",
                  "pattern": "^publishers/[^/]+/models/[^/]+$",
                  "type": "string",
                  "description": "Required. The name of the Endpoint requested to get lists of tokens and token ids.",
                  "required": true
                }
              },
              "id": "aiplatform.publishers.models.computeTokens",
              "response": {
                "$ref": "GoogleCloudAiplatformV1ComputeTokensResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Return a list of tokens based on the input text.",
              "request": {
                "$ref": "GoogleCloudAiplatformV1ComputeTokensRequest"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "endpoint"
              ]
            },
            "predict": {
              "parameterOrder": [
                "endpoint"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "parameters": {
                "endpoint": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the Endpoint requested to serve the prediction. Format: `projects/{project}/locations/{location}/endpoints/{endpoint}`",
                  "pattern": "^publishers/[^/]+/models/[^/]+$"
                }
              },
              "description": "",
              "flatPath": "v1/publishers/{publishersId}/models/{modelsId}:predict",
              "path": "v1/{+endpoint}:predict",
              "request": {
                "$ref": "GoogleCloudAiplatformV1PredictRequest"
              },
              "httpMethod": "POST",
              "id": "aiplatform.publishers.models.predict",
              "response": {
                "$ref": "GoogleCloudAiplatformV1PredictResponse"
              }
            },
            "predictLongRunning": {
              "path": "v1/{+endpoint}:predictLongRunning",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "parameters": {
                "endpoint": {
                  "description": "Required. The name of the Endpoint requested to serve the prediction. Format: `projects/{project}/locations/{location}/endpoints/{endpoint}` or `projects/{project}/locations/{location}/publishers/{publisher}/models/{model}`",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^publishers/[^/]+/models/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "request": {
                "$ref": "GoogleCloudAiplatformV1PredictLongRunningRequest"
              },
              "httpMethod": "POST",
              "flatPath": "v1/publishers/{publishersId}/models/{modelsId}:predictLongRunning",
              "description": "",
              "parameterOrder": [
                "endpoint"
              ],
              "id": "aiplatform.publishers.models.predictLongRunning"
            },
            "generateContent": {
              "response": {
                "$ref": "GoogleCloudAiplatformV1GenerateContentResponse"
              },
              "request": {
                "$ref": "GoogleCloudAiplatformV1GenerateContentRequest"
              },
              "parameters": {
                "model": {
                  "description": "Required. The fully qualified name of the publisher model or tuned model endpoint to use. Publisher model format: `projects/{project}/locations/{location}/publishers/*/models/*` Tuned model endpoint format: `projects/{project}/locations/{location}/endpoints/{endpoint}`",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^publishers/[^/]+/models/[^/]+$"
                }
              },
              "id": "aiplatform.publishers.models.generateContent",
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "path": "v1/{+model}:generateContent",
              "flatPath": "v1/publishers/{publishersId}/models/{modelsId}:generateContent",
              "httpMethod": "POST",
              "parameterOrder": [
                "model"
              ],
              "description": "Generate content with multimodal inputs."
            },
            "countTokens": {
              "parameterOrder": [
                "endpoint"
              ],
              "path": "v1/{+endpoint}:countTokens",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/publishers/{publishersId}/models/{modelsId}:countTokens",
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleCloudAiplatformV1CountTokensResponse"
              },
              "request": {
                "$ref": "GoogleCloudAiplatformV1CountTokensRequest"
              },
              "id": "aiplatform.publishers.models.countTokens",
              "parameters": {
                "endpoint": {
                  "required": true,
                  "pattern": "^publishers/[^/]+/models/[^/]+$",
                  "description": "Required. The name of the Endpoint requested to perform token counting. Format: `projects/{project}/locations/{location}/endpoints/{endpoint}`",
                  "location": "path",
                  "type": "string"
                }
              },
              "description": "Perform a token counting."
            },
            "get": {
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudAiplatformV1PublisherModel"
              },
              "description": "Gets a Model Garden publisher model.",
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "huggingFaceToken": {
                  "type": "string",
                  "description": "Optional. Token used to access Hugging Face gated models.",
                  "location": "query"
                },
                "isHuggingFaceModel": {
                  "description": "Optional. Boolean indicates whether the requested model is a Hugging Face model.",
                  "location": "query",
                  "type": "boolean"
                },
                "view": {
                  "type": "string",
                  "location": "query",
                  "enum": [
                    "PUBLISHER_MODEL_VIEW_UNSPECIFIED",
                    "PUBLISHER_MODEL_VIEW_BASIC",
                    "PUBLISHER_MODEL_VIEW_FULL",
                    "PUBLISHER_MODEL_VERSION_VIEW_BASIC"
                  ],
                  "enumDescriptions": [
                    "The default / unset value. The API will default to the BASIC view.",
                    "Include basic metadata about the publisher model, but not the full contents.",
                    "Include everything.",
                    "Include: VersionId, ModelVersionExternalName, and SupportedActions."
                  ],
                  "description": "Optional. PublisherModel view specifying which fields to read."
                },
                "name": {
                  "required": true,
                  "pattern": "^publishers/[^/]+/models/[^/]+$",
                  "description": "Required. The name of the PublisherModel resource. Format: `publishers/{publisher}/models/{publisher_model}`",
                  "location": "path",
                  "type": "string"
                },
                "languageCode": {
                  "description": "Optional. The IETF BCP-47 language code representing the language in which the publisher model's text information should be written in.",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v1/{+name}",
              "flatPath": "v1/publishers/{publishersId}/models/{modelsId}",
              "id": "aiplatform.publishers.models.get"
            }
          }
        }
      }
    },
    "notebookRuntimes": {
      "resources": {
        "operations": {
          "methods": {
            "get": {
              "httpMethod": "GET",
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "id": "aiplatform.notebookRuntimes.operations.get",
              "flatPath": "v1/notebookRuntimes/{notebookRuntimesId}/operations/{operationsId}",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^notebookRuntimes/[^/]+/operations/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "The name of the operation resource."
                }
              },
              "path": "v1/{+name}",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "wait": {
              "parameterOrder": [
                "name"
              ],
              "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
              "parameters": {
                "timeout": {
                  "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                  "format": "google-duration",
                  "type": "string",
                  "location": "query"
                },
                "name": {
                  "description": "The name of the operation resource to wait on.",
                  "pattern": "^notebookRuntimes/[^/]+/operations/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/notebookRuntimes/{notebookRuntimesId}/operations/{operationsId}:wait",
              "id": "aiplatform.notebookRuntimes.operations.wait",
              "path": "v1/{+name}:wait",
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              }
            },
            "delete": {
              "flatPath": "v1/notebookRuntimes/{notebookRuntimesId}/operations/{operationsId}",
              "path": "v1/{+name}",
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "id": "aiplatform.notebookRuntimes.operations.delete",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "The name of the operation resource to be deleted.",
                  "pattern": "^notebookRuntimes/[^/]+/operations/[^/]+$",
                  "location": "path"
                }
              },
              "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "path": "v1/{+name}/operations",
              "parameters": {
                "name": {
                  "description": "The name of the operation's parent resource.",
                  "pattern": "^notebookRuntimes/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "filter": {
                  "type": "string",
                  "description": "The standard list filter.",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "The standard list page token."
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "The standard list page size.",
                  "type": "integer"
                },
                "returnPartialSuccess": {
                  "type": "boolean",
                  "location": "query",
                  "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                }
              },
              "flatPath": "v1/notebookRuntimes/{notebookRuntimesId}/operations",
              "id": "aiplatform.notebookRuntimes.operations.list"
            },
            "cancel": {
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "id": "aiplatform.notebookRuntimes.operations.cancel",
              "path": "v1/{+name}:cancel",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^notebookRuntimes/[^/]+/operations/[^/]+$",
                  "location": "path",
                  "description": "The name of the operation resource to be cancelled."
                }
              },
              "flatPath": "v1/notebookRuntimes/{notebookRuntimesId}/operations/{operationsId}:cancel"
            }
          }
        }
      }
    },
    "studies": {
      "resources": {
        "operations": {
          "methods": {
            "list": {
              "id": "aiplatform.studies.operations.list",
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "path": "v1/{+name}/operations",
              "parameterOrder": [
                "name"
              ],
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/studies/{studiesId}/operations",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^studies/[^/]+$",
                  "description": "The name of the operation's parent resource.",
                  "required": true
                },
                "returnPartialSuccess": {
                  "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                  "location": "query",
                  "type": "boolean"
                },
                "pageSize": {
                  "location": "query",
                  "description": "The standard list page size.",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "The standard list page token."
                },
                "filter": {
                  "description": "The standard list filter.",
                  "type": "string",
                  "location": "query"
                }
              }
            },
            "wait": {
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "aiplatform.studies.operations.wait",
              "flatPath": "v1/studies/{studiesId}/operations/{operationsId}:wait",
              "httpMethod": "POST",
              "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
              "path": "v1/{+name}:wait",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^studies/[^/]+/operations/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "The name of the operation resource to wait on.",
                  "required": true
                },
                "timeout": {
                  "location": "query",
                  "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                  "type": "string",
                  "format": "google-duration"
                }
              }
            },
            "delete": {
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/studies/{studiesId}/operations/{operationsId}",
              "id": "aiplatform.studies.operations.delete",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "The name of the operation resource to be deleted.",
                  "required": true,
                  "pattern": "^studies/[^/]+/operations/[^/]+$"
                }
              },
              "path": "v1/{+name}",
              "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              }
            },
            "cancel": {
              "httpMethod": "POST",
              "path": "v1/{+name}:cancel",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "id": "aiplatform.studies.operations.cancel",
              "parameters": {
                "name": {
                  "description": "The name of the operation resource to be cancelled.",
                  "pattern": "^studies/[^/]+/operations/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/studies/{studiesId}/operations/{operationsId}:cancel",
              "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
              "parameterOrder": [
                "name"
              ]
            },
            "get": {
              "parameters": {
                "name": {
                  "pattern": "^studies/[^/]+/operations/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "The name of the operation resource.",
                  "required": true
                }
              },
              "path": "v1/{+name}",
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "flatPath": "v1/studies/{studiesId}/operations/{operationsId}",
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "aiplatform.studies.operations.get",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              }
            }
          }
        },
        "trials": {
          "resources": {
            "operations": {
              "methods": {
                "list": {
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "The standard list page token.",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "description": "The standard list page size.",
                      "format": "int32"
                    },
                    "name": {
                      "pattern": "^studies/[^/]+/trials/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The name of the operation's parent resource."
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "The standard list filter."
                    },
                    "returnPartialSuccess": {
                      "type": "boolean",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query"
                    }
                  },
                  "id": "aiplatform.studies.trials.operations.list",
                  "flatPath": "v1/studies/{studiesId}/trials/{trialsId}/operations",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/aiplatform",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  },
                  "path": "v1/{+name}/operations",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "cancel": {
                  "id": "aiplatform.studies.trials.operations.cancel",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "path": "v1/{+name}:cancel",
                  "flatPath": "v1/studies/{studiesId}/trials/{trialsId}/operations/{operationsId}:cancel",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be cancelled.",
                      "required": true,
                      "pattern": "^studies/[^/]+/trials/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/aiplatform",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "wait": {
                  "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
                  "id": "aiplatform.studies.trials.operations.wait",
                  "parameters": {
                    "timeout": {
                      "location": "query",
                      "format": "google-duration",
                      "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                      "type": "string"
                    },
                    "name": {
                      "pattern": "^studies/[^/]+/trials/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "description": "The name of the operation resource to wait on.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/aiplatform",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}:wait",
                  "flatPath": "v1/studies/{studiesId}/trials/{trialsId}/operations/{operationsId}:wait",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  }
                },
                "delete": {
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^studies/[^/]+/trials/[^/]+/operations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "The name of the operation resource to be deleted."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "aiplatform.studies.trials.operations.delete",
                  "path": "v1/{+name}",
                  "flatPath": "v1/studies/{studiesId}/trials/{trialsId}/operations/{operationsId}",
                  "httpMethod": "DELETE",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`."
                },
                "get": {
                  "flatPath": "v1/studies/{studiesId}/trials/{trialsId}/operations/{operationsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "id": "aiplatform.studies.trials.operations.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/aiplatform",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "The name of the operation resource.",
                      "pattern": "^studies/[^/]+/trials/[^/]+/operations/[^/]+$",
                      "required": true
                    }
                  },
                  "path": "v1/{+name}",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
                }
              }
            }
          }
        }
      }
    },
    "trainingPipelines": {
      "resources": {
        "operations": {
          "methods": {
            "wait": {
              "flatPath": "v1/trainingPipelines/{trainingPipelinesId}/operations/{operationsId}:wait",
              "parameters": {
                "name": {
                  "description": "The name of the operation resource to wait on.",
                  "pattern": "^trainingPipelines/[^/]+/operations/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "timeout": {
                  "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                  "type": "string",
                  "location": "query",
                  "format": "google-duration"
                }
              },
              "path": "v1/{+name}:wait",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "aiplatform.trainingPipelines.operations.wait",
              "httpMethod": "POST"
            },
            "cancel": {
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "id": "aiplatform.trainingPipelines.operations.cancel",
              "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
              "parameters": {
                "name": {
                  "pattern": "^trainingPipelines/[^/]+/operations/[^/]+$",
                  "required": true,
                  "description": "The name of the operation resource to be cancelled.",
                  "type": "string",
                  "location": "path"
                }
              },
              "flatPath": "v1/trainingPipelines/{trainingPipelinesId}/operations/{operationsId}:cancel",
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}:cancel",
              "httpMethod": "POST"
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "DELETE",
[...]
