{
  "basePath": "",
  "mtlsRootUrl": "https://aiplatform.mtls.googleapis.com/",
  "endpoints": [
    {
      "endpointUrl": "https://africa-south1-aiplatform.googleapis.com/",
      "location": "africa-south1",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://asia-east1-aiplatform.googleapis.com/",
      "location": "asia-east1",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://asia-east2-aiplatform.googleapis.com/",
      "location": "asia-east2",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://asia-northeast1-aiplatform.googleapis.com/",
      "location": "asia-northeast1",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://asia-northeast2-aiplatform.googleapis.com/",
      "location": "asia-northeast2",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://asia-northeast3-aiplatform.googleapis.com/",
      "location": "asia-northeast3",
      "description": "Locational Endpoint"
    },
    {
      "location": "asia-south1",
      "description": "Locational Endpoint",
      "endpointUrl": "https://asia-south1-aiplatform.googleapis.com/"
    },
    {
      "location": "asia-south2",
      "description": "Locational Endpoint",
      "endpointUrl": "https://asia-south2-aiplatform.googleapis.com/"
    },
    {
      "endpointUrl": "https://asia-southeast1-aiplatform.googleapis.com/",
      "location": "asia-southeast1",
      "description": "Locational Endpoint"
    },
    {
      "location": "asia-southeast2",
      "description": "Locational Endpoint",
      "endpointUrl": "https://asia-southeast2-aiplatform.googleapis.com/"
    },
    {
      "location": "australia-southeast1",
      "description": "Locational Endpoint",
      "endpointUrl": "https://australia-southeast1-aiplatform.googleapis.com/"
    },
    {
      "location": "australia-southeast2",
      "description": "Locational Endpoint",
      "endpointUrl": "https://australia-southeast2-aiplatform.googleapis.com/"
    },
    {
      "location": "europe-central2",
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-central2-aiplatform.googleapis.com/"
    },
    {
      "location": "europe-north1",
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-north1-aiplatform.googleapis.com/"
    },
    {
      "location": "europe-north2",
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-north2-aiplatform.googleapis.com/"
    },
    {
      "location": "europe-southwest1",
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-southwest1-aiplatform.googleapis.com/"
    },
    {
      "endpointUrl": "https://europe-west1-aiplatform.googleapis.com/",
      "location": "europe-west1",
      "description": "Locational Endpoint"
    },
    {
      "location": "europe-west10",
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-west10-aiplatform.googleapis.com/"
    },
    {
      "endpointUrl": "https://europe-west15-aiplatform.googleapis.com/",
      "location": "europe-west15",
      "description": "Locational Endpoint"
    },
    {
      "location": "europe-west2",
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-west2-aiplatform.googleapis.com/"
    },
    {
      "endpointUrl": "https://europe-west3-aiplatform.googleapis.com/",
      "location": "europe-west3",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://europe-west4-aiplatform.googleapis.com/",
      "location": "europe-west4",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://europe-west6-aiplatform.googleapis.com/",
      "location": "europe-west6",
      "description": "Locational Endpoint"
    },
    {
      "location": "europe-west8",
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-west8-aiplatform.googleapis.com/"
    },
    {
      "endpointUrl": "https://europe-west9-aiplatform.googleapis.com/",
      "location": "europe-west9",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://europe-west12-aiplatform.googleapis.com/",
      "location": "europe-west12",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://me-central1-aiplatform.googleapis.com/",
      "location": "me-central1",
      "description": "Locational Endpoint"
    },
    {
      "location": "me-central2",
      "description": "Locational Endpoint",
      "endpointUrl": "https://me-central2-aiplatform.googleapis.com/"
    },
    {
      "endpointUrl": "https://me-west1-aiplatform.googleapis.com/",
      "location": "me-west1",
      "description": "Locational Endpoint"
    },
    {
      "location": "northamerica-northeast1",
      "description": "Locational Endpoint",
      "endpointUrl": "https://northamerica-northeast1-aiplatform.googleapis.com/"
    },
    {
      "endpointUrl": "https://northamerica-northeast2-aiplatform.googleapis.com/",
      "location": "northamerica-northeast2",
      "description": "Locational Endpoint"
    },
    {
      "location": "southamerica-east1",
      "description": "Locational Endpoint",
      "endpointUrl": "https://southamerica-east1-aiplatform.googleapis.com/"
    },
    {
      "location": "southamerica-west1",
      "description": "Locational Endpoint",
      "endpointUrl": "https://southamerica-west1-aiplatform.googleapis.com/"
    },
    {
      "endpointUrl": "https://us-central1-aiplatform.googleapis.com/",
      "location": "us-central1",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://us-central2-aiplatform.googleapis.com/",
      "location": "us-central2",
      "description": "Locational Endpoint"
    },
    {
      "location": "us-east1",
      "description": "Locational Endpoint",
      "endpointUrl": "https://us-east1-aiplatform.googleapis.com/"
    },
    {
      "endpointUrl": "https://us-east4-aiplatform.googleapis.com/",
      "location": "us-east4",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://us-east7-aiplatform.googleapis.com/",
      "location": "us-east7",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://us-south1-aiplatform.googleapis.com/",
      "location": "us-south1",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://us-west1-aiplatform.googleapis.com/",
      "location": "us-west1",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://us-west2-aiplatform.googleapis.com/",
      "location": "us-west2",
      "description": "Locational Endpoint"
    },
    {
      "location": "us-west3",
      "description": "Locational Endpoint",
      "endpointUrl": "https://us-west3-aiplatform.googleapis.com/"
    },
    {
      "endpointUrl": "https://us-west4-aiplatform.googleapis.com/",
      "location": "us-west4",
      "description": "Locational Endpoint"
    },
    {
      "location": "us-east5",
      "description": "Locational Endpoint",
      "endpointUrl": "https://us-east5-aiplatform.googleapis.com/"
    },
    {
      "location": "us-west8",
      "description": "Locational Endpoint",
      "endpointUrl": "https://us-west8-aiplatform.googleapis.com/"
    },
    {
      "endpointUrl": "https://aiplatform.us.rep.googleapis.com/",
      "location": "us",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://aiplatform.eu.rep.googleapis.com/",
      "location": "eu",
      "description": "Regional Endpoint"
    }
  ],
  "version_module": true,
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "baseUrl": "https://aiplatform.googleapis.com/",
  "revision": "20260815",
  "ownerName": "Google",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        }
      }
    }
  },
  "version": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerDomain": "google.com",
  "id": "aiplatform:v1",
  "fullyEncodeReservedExpansion": true,
  "resources": {
    "featureGroups": {
      "resources": {
        "operations": {
          "methods": {
            "delete": {
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "The name of the operation resource to be deleted.",
                  "location": "path",
                  "pattern": "^featureGroups/[^/]+/operations/[^/]+$"
                }
              },
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/featureGroups/{featureGroupsId}/operations/{operationsId}",
              "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
              "id": "aiplatform.featureGroups.operations.delete",
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "listWait": {
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "parameters": {
                "name": {
                  "description": "The name of the operation's parent resource.",
                  "location": "path",
                  "pattern": "^featureGroups/[^/]+/operations/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "filter": {
                  "description": "The standard list filter.",
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "description": "The standard list page token.",
                  "location": "query"
                },
                "pageSize": {
                  "description": "The standard list page size.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "returnPartialSuccess": {
                  "type": "boolean",
                  "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "flatPath": "v1/featureGroups/{featureGroupsId}/operations/{operationsId}:wait",
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
              "id": "aiplatform.featureGroups.operations.listWait",
              "path": "v1/{+name}:wait",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "get": {
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "The name of the operation resource.",
                  "location": "path",
                  "pattern": "^featureGroups/[^/]+/operations/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "flatPath": "v1/featureGroups/{featureGroupsId}/operations/{operationsId}",
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "id": "aiplatform.featureGroups.operations.get",
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "wait": {
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "The name of the operation resource to wait on.",
                  "location": "path",
                  "pattern": "^featureGroups/[^/]+/operations/[^/]+$"
                },
                "timeout": {
                  "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                  "location": "query",
                  "format": "google-duration",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "aiplatform.featureGroups.operations.wait",
              "path": "v1/{+name}:wait",
              "flatPath": "v1/featureGroups/{featureGroupsId}/operations/{operationsId}:wait",
              "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done."
            }
          }
        },
        "features": {
          "resources": {
            "operations": {
              "methods": {
                "listWait": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "aiplatform.featureGroups.features.operations.listWait",
                  "path": "v1/{+name}:wait",
                  "flatPath": "v1/featureGroups/{featureGroupsId}/features/{featuresId}/operations/{operationsId}:wait",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^featureGroups/[^/]+/features/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation's parent resource.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "filter": {
                      "description": "The standard list filter.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "The standard list page token.",
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "The standard list page size.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "returnPartialSuccess": {
                      "type": "boolean",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  }
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^featureGroups/[^/]+/features/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be deleted.",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/featureGroups/{featureGroupsId}/features/{featuresId}/operations/{operationsId}",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "id": "aiplatform.featureGroups.features.operations.delete",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^featureGroups/[^/]+/features/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "id": "aiplatform.featureGroups.features.operations.get",
                  "path": "v1/{+name}",
                  "flatPath": "v1/featureGroups/{featureGroupsId}/features/{featuresId}/operations/{operationsId}",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "wait": {
                  "flatPath": "v1/featureGroups/{featureGroupsId}/features/{featuresId}/operations/{operationsId}:wait",
                  "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
                  "id": "aiplatform.featureGroups.features.operations.wait",
                  "path": "v1/{+name}:wait",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "The name of the operation resource to wait on.",
                      "location": "path",
                      "pattern": "^featureGroups/[^/]+/features/[^/]+/operations/[^/]+$"
                    },
                    "timeout": {
                      "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                      "location": "query",
                      "format": "google-duration",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST"
                }
              }
            }
          }
        }
      }
    },
    "featurestores": {
      "resources": {
        "operations": {
          "methods": {
            "cancel": {
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^featurestores/[^/]+/operations/[^/]+$",
                  "description": "The name of the operation resource to be cancelled.",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/featurestores/{featurestoresId}/operations/{operationsId}:cancel",
              "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
              "id": "aiplatform.featurestores.operations.cancel",
              "path": "v1/{+name}:cancel"
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/featurestores/{featurestoresId}/operations",
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
              "id": "aiplatform.featurestores.operations.list",
              "path": "v1/{+name}/operations",
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^featurestores/[^/]+$",
                  "description": "The name of the operation's parent resource.",
                  "location": "path"
                },
                "filter": {
                  "description": "The standard list filter.",
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "description": "The standard list page token.",
                  "location": "query"
                },
                "pageSize": {
                  "description": "The standard list page size.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "returnPartialSuccess": {
                  "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                  "location": "query",
                  "type": "boolean"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET"
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "aiplatform.featurestores.operations.delete",
              "path": "v1/{+name}",
              "flatPath": "v1/featurestores/{featurestoresId}/operations/{operationsId}",
              "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameters": {
                "name": {
                  "description": "The name of the operation resource to be deleted.",
                  "location": "path",
                  "pattern": "^featurestores/[^/]+/operations/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              }
            },
            "get": {
              "flatPath": "v1/featurestores/{featurestoresId}/operations/{operationsId}",
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "id": "aiplatform.featurestores.operations.get",
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "pattern": "^featurestores/[^/]+/operations/[^/]+$",
                  "description": "The name of the operation resource.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ]
            },
            "wait": {
              "flatPath": "v1/featurestores/{featurestoresId}/operations/{operationsId}:wait",
              "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
              "id": "aiplatform.featurestores.operations.wait",
              "path": "v1/{+name}:wait",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^featurestores/[^/]+/operations/[^/]+$",
                  "description": "The name of the operation resource to wait on.",
                  "location": "path"
                },
                "timeout": {
                  "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                  "location": "query",
                  "format": "google-duration",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST"
            }
          }
        },
        "entityTypes": {
          "resources": {
            "operations": {
              "methods": {
                "list": {
                  "id": "aiplatform.featurestores.entityTypes.operations.list",
                  "path": "v1/{+name}/operations",
                  "flatPath": "v1/featurestores/{featurestoresId}/entityTypes/{entityTypesId}/operations",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "pageToken": {
                      "description": "The standard list page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "The standard list page size.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "returnPartialSuccess": {
                      "type": "boolean",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query"
                    },
                    "name": {
                      "pattern": "^featurestores/[^/]+/entityTypes/[^/]+$",
                      "description": "The name of the operation's parent resource.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "filter": {
                      "type": "string",
                      "description": "The standard list filter.",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  }
                },
                "delete": {
                  "flatPath": "v1/featurestores/{featurestoresId}/entityTypes/{entityTypesId}/operations/{operationsId}",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "id": "aiplatform.featurestores.entityTypes.operations.delete",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "The name of the operation resource to be deleted.",
                      "location": "path",
                      "pattern": "^featurestores/[^/]+/entityTypes/[^/]+/operations/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^featurestores/[^/]+/entityTypes/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "aiplatform.featurestores.entityTypes.operations.get",
                  "path": "v1/{+name}",
                  "flatPath": "v1/featurestores/{featurestoresId}/entityTypes/{entityTypesId}/operations/{operationsId}",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
                },
                "wait": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/featurestores/{featurestoresId}/entityTypes/{entityTypesId}/operations/{operationsId}:wait",
                  "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
                  "id": "aiplatform.featurestores.entityTypes.operations.wait",
                  "path": "v1/{+name}:wait",
                  "parameters": {
                    "name": {
                      "pattern": "^featurestores/[^/]+/entityTypes/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to wait on.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "timeout": {
                      "type": "string",
                      "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                      "location": "query",
                      "format": "google-duration"
                    }
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "cancel": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/featurestores/{featurestoresId}/entityTypes/{entityTypesId}/operations/{operationsId}:cancel",
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "id": "aiplatform.featurestores.entityTypes.operations.cancel",
                  "path": "v1/{+name}:cancel",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be cancelled.",
                      "location": "path",
                      "pattern": "^featurestores/[^/]+/entityTypes/[^/]+/operations/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            },
            "features": {
              "resources": {
                "operations": {
                  "methods": {
                    "cancel": {
                      "flatPath": "v1/featurestores/{featurestoresId}/entityTypes/{entityTypesId}/features/{featuresId}/operations/{operationsId}:cancel",
                      "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                      "id": "aiplatform.featurestores.entityTypes.features.operations.cancel",
                      "path": "v1/{+name}:cancel",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^featurestores/[^/]+/entityTypes/[^/]+/features/[^/]+/operations/[^/]+$",
                          "description": "The name of the operation resource to be cancelled.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "list": {
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "GoogleLongrunningListOperationsResponse"
                      },
                      "parameters": {
                        "filter": {
                          "description": "The standard list filter.",
                          "location": "query",
                          "type": "string"
                        },
                        "name": {
                          "pattern": "^featurestores/[^/]+/entityTypes/[^/]+/features/[^/]+$",
                          "description": "The name of the operation's parent resource.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "The standard list page size.",
                          "location": "query",
                          "format": "int32",
                          "type": "integer"
                        },
                        "returnPartialSuccess": {
                          "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                          "location": "query",
                          "type": "boolean"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "The standard list page token.",
                          "location": "query"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "aiplatform.featurestores.entityTypes.features.operations.list",
                      "path": "v1/{+name}/operations",
                      "flatPath": "v1/featurestores/{featurestoresId}/entityTypes/{entityTypesId}/features/{featuresId}/operations",
                      "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`."
                    },
                    "delete": {
                      "flatPath": "v1/featurestores/{featurestoresId}/entityTypes/{entityTypesId}/features/{featuresId}/operations/{operationsId}",
                      "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                      "id": "aiplatform.featurestores.entityTypes.features.operations.delete",
                      "path": "v1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "description": "The name of the operation resource to be deleted.",
                          "location": "path",
                          "pattern": "^featurestores/[^/]+/entityTypes/[^/]+/features/[^/]+/operations/[^/]+$"
                        }
                      },
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "httpMethod": "DELETE",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "get": {
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "parameters": {
                        "name": {
                          "description": "The name of the operation resource.",
                          "location": "path",
                          "pattern": "^featurestores/[^/]+/entityTypes/[^/]+/features/[^/]+/operations/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/featurestores/{featurestoresId}/entityTypes/{entityTypesId}/features/{featuresId}/operations/{operationsId}",
                      "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                      "id": "aiplatform.featurestores.entityTypes.features.operations.get",
                      "path": "v1/{+name}"
                    },
                    "wait": {
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "pattern": "^featurestores/[^/]+/entityTypes/[^/]+/features/[^/]+/operations/[^/]+$",
                          "description": "The name of the operation resource to wait on.",
                          "location": "path"
                        },
                        "timeout": {
                          "type": "string",
                          "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                          "location": "query",
                          "format": "google-duration"
                        }
                      },
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "aiplatform.featurestores.entityTypes.features.operations.wait",
                      "path": "v1/{+name}:wait",
                      "flatPath": "v1/featurestores/{featurestoresId}/entityTypes/{entityTypesId}/features/{featuresId}/operations/{operationsId}:wait",
                      "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "batchPredictionJobs": {
      "methods": {
        "create": {
          "request": {
            "$ref": "GoogleCloudAiplatformV1BatchPredictionJob"
          },
          "response": {
            "$ref": "GoogleCloudAiplatformV1BatchPredictionJob"
          },
          "parameters": {
            "parent": {
              "description": "Required. The resource name of the Location to create the BatchPredictionJob in. Format: `projects/{project}/locations/{location}`",
              "location": "query",
              "type": "string"
            }
          },
          "parameterOrder": [],
          "httpMethod": "POST",
          "flatPath": "v1/batchPredictionJobs",
          "description": "Creates a BatchPredictionJob. A BatchPredictionJob once created will right away be attempted to start.",
          "id": "aiplatform.batchPredictionJobs.create",
          "path": "v1/batchPredictionJobs",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "list": {
          "parameters": {
            "pageSize": {
              "description": "The standard list page size.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "pageToken": {
              "description": "The standard list page token. Typically obtained via ListBatchPredictionJobsResponse.next_page_token of the previous JobService.ListBatchPredictionJobs call.",
              "location": "query",
              "type": "string"
            },
            "parent": {
              "description": "Required. The resource name of the Location to list the BatchPredictionJobs from. Format: `projects/{project}/locations/{location}`",
              "location": "query",
              "type": "string"
            },
            "readMask": {
              "type": "string",
              "description": "Mask specifying which fields to read.",
              "location": "query",
              "format": "google-fieldmask"
            },
            "filter": {
              "type": "string",
              "description": "The standard list filter. Supported fields: * `display_name` supports `=`, `!=` comparisons, and `:` wildcard. * `model_display_name` supports `=`, `!=` comparisons. * `state` supports `=`, `!=` comparisons. * `create_time` supports `=`, `!=`,`<`, `<=`,`>`, `>=` comparisons. `create_time` must be in RFC 3339 format. * `labels` supports general map functions that is: `labels.key=value` - key:value equality `labels.key:* - key existence Some examples of using the filter are: * `state=\"JOB_STATE_SUCCEEDED\" AND display_name:\"my_job_*\"` * `state!=\"JOB_STATE_FAILED\" OR display_name=\"my_job\"` * `NOT display_name=\"my_job\"` * `create_time>\"2021-05-18T00:00:00Z\"` * `labels.keyA=valueA` * `labels.keyB:*`",
              "location": "query"
            }
          },
          "response": {
            "$ref": "GoogleCloudAiplatformV1ListBatchPredictionJobsResponse"
          },
          "httpMethod": "GET",
          "parameterOrder": [],
          "flatPath": "v1/batchPredictionJobs",
          "description": "Lists BatchPredictionJobs in a Location.",
          "id": "aiplatform.batchPredictionJobs.list",
          "path": "v1/batchPredictionJobs",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "get": {
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "description": "Required. The name of the BatchPredictionJob resource. Format: `projects/{project}/locations/{location}/batchPredictionJobs/{batch_prediction_job}`",
              "location": "path",
              "pattern": "^batchPredictionJobs/[^/]+$"
            }
          },
          "response": {
            "$ref": "GoogleCloudAiplatformV1BatchPredictionJob"
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1/batchPredictionJobs/{batchPredictionJobsId}",
          "description": "Gets a BatchPredictionJob",
          "id": "aiplatform.batchPredictionJobs.get",
          "path": "v1/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        }
      }
    },
    "v1": {
      "methods": {
        "evaluateInstances": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "aiplatform.evaluateInstances",
          "path": "v1:evaluateInstances",
          "flatPath": "v1:evaluateInstances",
          "description": "Evaluates instances based on a given metric.",
          "httpMethod": "POST",
          "parameterOrder": [],
          "parameters": {},
          "request": {
            "$ref": "GoogleCloudAiplatformV1EvaluateInstancesRequest"
          },
          "response": {
            "$ref": "GoogleCloudAiplatformV1EvaluateInstancesResponse"
          }
        },
        "evaluateDataset": {
          "request": {
            "$ref": "GoogleCloudAiplatformV1EvaluateDatasetRequest"
          },
          "response": {
            "$ref": "GoogleLongrunningOperation"
          },
          "parameters": {},
          "parameterOrder": [],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1:evaluateDataset",
          "description": "Evaluates a dataset based on a set of given metrics.",
          "id": "aiplatform.evaluateDataset",
          "path": "v1:evaluateDataset"
        },
        "generateInstanceRubrics": {
          "flatPath": "v1:generateInstanceRubrics",
          "description": "Generates rubrics for a given prompt. A rubric represents a single testable criterion for evaluation. One input prompt could have multiple rubrics This RPC allows users to get suggested rubrics based on provided prompt, which can then be reviewed and used for subsequent evaluations.",
          "id": "aiplatform.generateInstanceRubrics",
          "path": "v1:generateInstanceRubrics",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "GoogleCloudAiplatformV1GenerateInstanceRubricsRequest"
          },
          "response": {
            "$ref": "GoogleCloudAiplatformV1GenerateInstanceRubricsResponse"
          },
          "parameters": {},
          "parameterOrder": [],
          "httpMethod": "POST"
        }
      }
    },
    "tensorboards": {
      "resources": {
        "operations": {
          "methods": {
            "cancel": {
              "id": "aiplatform.tensorboards.operations.cancel",
              "path": "v1/{+name}:cancel",
              "flatPath": "v1/tensorboards/{tensorboardsId}/operations/{operationsId}:cancel",
              "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^tensorboards/[^/]+/operations/[^/]+$",
                  "description": "The name of the operation resource to be cancelled.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleProtobufEmpty"
              }
            },
            "get": {
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "The name of the operation resource.",
                  "location": "path",
                  "pattern": "^tensorboards/[^/]+/operations/[^/]+$"
                }
              },
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/tensorboards/{tensorboardsId}/operations/{operationsId}",
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "id": "aiplatform.tensorboards.operations.get",
              "path": "v1/{+name}"
            },
            "wait": {
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "parameters": {
                "name": {
                  "description": "The name of the operation resource to wait on.",
                  "location": "path",
                  "pattern": "^tensorboards/[^/]+/operations/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "timeout": {
                  "type": "string",
                  "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                  "location": "query",
                  "format": "google-duration"
                }
              },
              "id": "aiplatform.tensorboards.operations.wait",
              "path": "v1/{+name}:wait",
              "flatPath": "v1/tensorboards/{tensorboardsId}/operations/{operationsId}:wait",
              "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "parameters": {
                "pageToken": {
                  "description": "The standard list page token.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "The standard list page size.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "returnPartialSuccess": {
                  "type": "boolean",
                  "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                  "location": "query"
                },
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^tensorboards/[^/]+$",
                  "description": "The name of the operation's parent resource.",
                  "location": "path"
                },
                "filter": {
                  "description": "The standard list filter.",
                  "location": "query",
                  "type": "string"
                }
              },
              "id": "aiplatform.tensorboards.operations.list",
              "path": "v1/{+name}/operations",
              "flatPath": "v1/tensorboards/{tensorboardsId}/operations",
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "aiplatform.tensorboards.operations.delete",
              "path": "v1/{+name}",
              "flatPath": "v1/tensorboards/{tensorboardsId}/operations/{operationsId}",
              "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^tensorboards/[^/]+/operations/[^/]+$",
                  "description": "The name of the operation resource to be deleted.",
                  "location": "path"
                }
              }
            }
          }
        },
        "experiments": {
          "resources": {
            "runs": {
              "resources": {
                "timeSeries": {
                  "resources": {
                    "operations": {
                      "methods": {
                        "get": {
                          "id": "aiplatform.tensorboards.experiments.runs.timeSeries.operations.get",
                          "path": "v1/{+name}",
                          "flatPath": "v1/tensorboards/{tensorboardsId}/experiments/{experimentsId}/runs/{runsId}/timeSeries/{timeSeriesId}/operations/{operationsId}",
                          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "GET",
                          "parameterOrder": [
                            "name"
                          ],
                          "parameters": {
                            "name": {
                              "description": "The name of the operation resource.",
                              "location": "path",
                              "pattern": "^tensorboards/[^/]+/experiments/[^/]+/runs/[^/]+/timeSeries/[^/]+/operations/[^/]+$",
                              "required": true,
                              "type": "string"
                            }
                          },
                          "response": {
                            "$ref": "GoogleLongrunningOperation"
                          }
                        },
                        "wait": {
                          "id": "aiplatform.tensorboards.experiments.runs.timeSeries.operations.wait",
                          "path": "v1/{+name}:wait",
                          "flatPath": "v1/tensorboards/{tensorboardsId}/experiments/{experimentsId}/runs/{runsId}/timeSeries/{timeSeriesId}/operations/{operationsId}:wait",
                          "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "POST",
                          "parameterOrder": [
                            "name"
                          ],
                          "parameters": {
                            "name": {
                              "pattern": "^tensorboards/[^/]+/experiments/[^/]+/runs/[^/]+/timeSeries/[^/]+/operations/[^/]+$",
                              "description": "The name of the operation resource to wait on.",
                              "location": "path",
                              "required": true,
                              "type": "string"
                            },
                            "timeout": {
                              "type": "string",
                              "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                              "location": "query",
                              "format": "google-duration"
                            }
                          },
                          "response": {
                            "$ref": "GoogleLongrunningOperation"
                          }
                        },
                        "list": {
                          "parameters": {
                            "pageToken": {
                              "type": "string",
                              "description": "The standard list page token.",
                              "location": "query"
                            },
                            "pageSize": {
                              "description": "The standard list page size.",
                              "location": "query",
                              "format": "int32",
                              "type": "integer"
                            },
                            "returnPartialSuccess": {
                              "type": "boolean",
                              "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                              "location": "query"
                            },
                            "name": {
                              "pattern": "^tensorboards/[^/]+/experiments/[^/]+/runs/[^/]+/timeSeries/[^/]+$",
                              "description": "The name of the operation's parent resource.",
                              "location": "path",
                              "required": true,
                              "type": "string"
                            },
                            "filter": {
                              "type": "string",
                              "description": "The standard list filter.",
                              "location": "query"
                            }
                          },
                          "response": {
                            "$ref": "GoogleLongrunningListOperationsResponse"
                          },
                          "httpMethod": "GET",
                          "parameterOrder": [
                            "name"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "flatPath": "v1/tensorboards/{tensorboardsId}/experiments/{experimentsId}/runs/{runsId}/timeSeries/{timeSeriesId}/operations",
                          "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                          "id": "aiplatform.tensorboards.experiments.runs.timeSeries.operations.list",
                          "path": "v1/{+name}/operations"
                        },
                        "delete": {
                          "flatPath": "v1/tensorboards/{tensorboardsId}/experiments/{experimentsId}/runs/{runsId}/timeSeries/{timeSeriesId}/operations/{operationsId}",
                          "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                          "id": "aiplatform.tensorboards.experiments.runs.timeSeries.operations.delete",
                          "path": "v1/{+name}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameters": {
                            "name": {
                              "description": "The name of the operation resource to be deleted.",
                              "location": "path",
                              "pattern": "^tensorboards/[^/]+/experiments/[^/]+/runs/[^/]+/timeSeries/[^/]+/operations/[^/]+$",
                              "required": true,
                              "type": "string"
                            }
                          },
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          },
                          "httpMethod": "DELETE",
                          "parameterOrder": [
                            "name"
                          ]
                        },
                        "cancel": {
                          "parameterOrder": [
                            "name"
                          ],
                          "httpMethod": "POST",
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          },
                          "parameters": {
                            "name": {
                              "required": true,
                              "type": "string",
                              "pattern": "^tensorboards/[^/]+/experiments/[^/]+/runs/[^/]+/timeSeries/[^/]+/operations/[^/]+$",
                              "description": "The name of the operation resource to be cancelled.",
                              "location": "path"
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "aiplatform.tensorboards.experiments.runs.timeSeries.operations.cancel",
                          "path": "v1/{+name}:cancel",
                          "flatPath": "v1/tensorboards/{tensorboardsId}/experiments/{experimentsId}/runs/{runsId}/timeSeries/{timeSeriesId}/operations/{operationsId}:cancel",
                          "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`."
                        }
                      }
                    }
                  }
                },
                "operations": {
                  "methods": {
                    "get": {
                      "id": "aiplatform.tensorboards.experiments.runs.operations.get",
                      "path": "v1/{+name}",
                      "flatPath": "v1/tensorboards/{tensorboardsId}/experiments/{experimentsId}/runs/{runsId}/operations/{operationsId}",
                      "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "description": "The name of the operation resource.",
                          "location": "path",
                          "pattern": "^tensorboards/[^/]+/experiments/[^/]+/runs/[^/]+/operations/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      }
                    },
                    "wait": {
                      "id": "aiplatform.tensorboards.experiments.runs.operations.wait",
                      "path": "v1/{+name}:wait",
                      "flatPath": "v1/tensorboards/{tensorboardsId}/experiments/{experimentsId}/runs/{runsId}/operations/{operationsId}:wait",
                      "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "pattern": "^tensorboards/[^/]+/experiments/[^/]+/runs/[^/]+/operations/[^/]+$",
                          "description": "The name of the operation resource to wait on.",
                          "location": "path"
                        },
                        "timeout": {
                          "type": "string",
                          "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                          "location": "query",
                          "format": "google-duration"
                        }
                      },
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      }
                    },
                    "list": {
                      "flatPath": "v1/tensorboards/{tensorboardsId}/experiments/{experimentsId}/runs/{runsId}/operations",
                      "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                      "id": "aiplatform.tensorboards.experiments.runs.operations.list",
                      "path": "v1/{+name}/operations",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "filter": {
                          "type": "string",
                          "description": "The standard list filter.",
                          "location": "query"
                        },
                        "name": {
                          "required": true,
                          "type": "string",
                          "description": "The name of the operation's parent resource.",
                          "location": "path",
                          "pattern": "^tensorboards/[^/]+/experiments/[^/]+/runs/[^/]+$"
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "The standard list page size.",
                          "location": "query",
                          "format": "int32"
                        },
                        "returnPartialSuccess": {
                          "type": "boolean",
                          "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                          "location": "query"
                        },
                        "pageToken": {
                          "description": "The standard list page token.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "GoogleLongrunningListOperationsResponse"
                      },
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "delete": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "aiplatform.tensorboards.experiments.runs.operations.delete",
                      "path": "v1/{+name}",
                      "flatPath": "v1/tensorboards/{tensorboardsId}/experiments/{experimentsId}/runs/{runsId}/operations/{operationsId}",
                      "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                      "httpMethod": "DELETE",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^tensorboards/[^/]+/experiments/[^/]+/runs/[^/]+/operations/[^/]+$",
                          "description": "The name of the operation resource to be deleted.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      }
                    },
                    "cancel": {
                      "flatPath": "v1/tensorboards/{tensorboardsId}/experiments/{experimentsId}/runs/{runsId}/operations/{operationsId}:cancel",
                      "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                      "id": "aiplatform.tensorboards.experiments.runs.operations.cancel",
                      "path": "v1/{+name}:cancel",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "pattern": "^tensorboards/[^/]+/experiments/[^/]+/runs/[^/]+/operations/[^/]+$",
                          "description": "The name of the operation resource to be cancelled.",
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "POST"
                    }
                  }
                }
              }
            },
            "operations": {
              "methods": {
                "get": {
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource.",
                      "location": "path",
                      "pattern": "^tensorboards/[^/]+/experiments/[^/]+/operations/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/tensorboards/{tensorboardsId}/experiments/{experimentsId}/operations/{operationsId}",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "id": "aiplatform.tensorboards.experiments.operations.get",
                  "path": "v1/{+name}"
                },
                "wait": {
                  "flatPath": "v1/tensorboards/{tensorboardsId}/experiments/{experimentsId}/operations/{operationsId}:wait",
                  "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
                  "id": "aiplatform.tensorboards.experiments.operations.wait",
                  "path": "v1/{+name}:wait",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "The name of the operation resource to wait on.",
                      "location": "path",
                      "pattern": "^tensorboards/[^/]+/experiments/[^/]+/operations/[^/]+$"
                    },
                    "timeout": {
                      "type": "string",
                      "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                      "location": "query",
                      "format": "google-duration"
                    }
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/tensorboards/{tensorboardsId}/experiments/{experimentsId}/operations",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "id": "aiplatform.tensorboards.experiments.operations.list",
                  "path": "v1/{+name}/operations",
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  },
                  "parameters": {
                    "filter": {
                      "type": "string",
                      "description": "The standard list filter.",
                      "location": "query"
                    },
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "The name of the operation's parent resource.",
                      "location": "path",
                      "pattern": "^tensorboards/[^/]+/experiments/[^/]+$"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "The standard list page size.",
                      "location": "query",
                      "format": "int32"
                    },
                    "returnPartialSuccess": {
                      "type": "boolean",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET"
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "pattern": "^tensorboards/[^/]+/experiments/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be deleted.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/tensorboards/{tensorboardsId}/experiments/{experimentsId}/operations/{operationsId}",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "id": "aiplatform.tensorboards.experiments.operations.delete",
                  "path": "v1/{+name}"
                },
                "cancel": {
                  "flatPath": "v1/tensorboards/{tensorboardsId}/experiments/{experimentsId}/operations/{operationsId}:cancel",
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "id": "aiplatform.tensorboards.experiments.operations.cancel",
                  "path": "v1/{+name}:cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^tensorboards/[^/]+/experiments/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be cancelled.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "schedules": {
      "resources": {
        "operations": {
          "methods": {
            "get": {
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^schedules/[^/]+/operations/[^/]+$",
                  "description": "The name of the operation resource.",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/schedules/{schedulesId}/operations/{operationsId}",
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "id": "aiplatform.schedules.operations.get",
              "path": "v1/{+name}"
            },
            "wait": {
              "parameters": {
                "name": {
                  "description": "The name of the operation resource to wait on.",
                  "location": "path",
                  "pattern": "^schedules/[^/]+/operations/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "timeout": {
                  "type": "string",
                  "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                  "location": "query",
                  "format": "google-duration"
                }
              },
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/schedules/{schedulesId}/operations/{operationsId}:wait",
              "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
              "id": "aiplatform.schedules.operations.wait",
              "path": "v1/{+name}:wait",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/schedules/{schedulesId}/operations",
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
              "id": "aiplatform.schedules.operations.list",
              "path": "v1/{+name}/operations",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "The name of the operation's parent resource.",
                  "location": "path",
                  "pattern": "^schedules/[^/]+$"
                },
                "filter": {
                  "description": "The standard list filter.",
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "description": "The standard list page token.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "The standard list page size.",
                  "location": "query",
                  "format": "int32"
                },
                "returnPartialSuccess": {
                  "type": "boolean",
                  "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ]
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "aiplatform.schedules.operations.delete",
              "path": "v1/{+name}",
[...]
