{
  "mtlsRootUrl": "https://aiplatform.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "basePath": "",
  "rootUrl": "https://aiplatform.googleapis.com/",
  "revision": "20260831",
  "name": "aiplatform",
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "title": "Agent Platform API",
  "schemas": {
    "GoogleCloudAiplatformV1SchemaPredictInstanceTextExtractionPredictionInstance": {
      "id": "GoogleCloudAiplatformV1SchemaPredictInstanceTextExtractionPredictionInstance",
      "type": "object",
      "description": "Prediction input format for Text Extraction.",
      "properties": {
        "key": {
          "type": "string",
          "description": "This field is only used for batch prediction. If a key is provided, the batch prediction result will by mapped to this key. If omitted, then the batch prediction result will contain the entire input instance. Vertex AI will not check if keys in the request are duplicates, so it is up to the caller to ensure the keys are unique."
        },
        "content": {
          "type": "string",
          "description": "The text snippet to make the predictions on."
        },
        "mimeType": {
          "description": "The MIME type of the text snippet. The supported MIME types are listed below. - text/plain",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1CometSpec": {
      "id": "GoogleCloudAiplatformV1CometSpec",
      "description": "Spec for Comet metric.",
      "properties": {
        "version": {
          "enumDescriptions": [
            "Comet version unspecified.",
            "Comet 22 for translation + source + reference (source-reference-combined)."
          ],
          "type": "string",
          "enum": [
            "COMET_VERSION_UNSPECIFIED",
            "COMET_22_SRC_REF"
          ],
          "description": "Required. Which version to use for evaluation."
        },
        "sourceLanguage": {
          "description": "Optional. Source language in BCP-47 format.",
          "type": "string"
        },
        "targetLanguage": {
          "type": "string",
          "description": "Optional. Target language in BCP-47 format. Covers both prediction and reference."
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1ListAnnotationsResponse": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1ListAnnotationsResponse",
      "description": "Response message for DatasetService.ListAnnotations.",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "annotations": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1Annotation"
          },
          "description": "A list of Annotations that matches the specified filter in the request.",
          "type": "array"
        }
      }
    },
    "GoogleCloudAiplatformV1EvaluationSet": {
      "id": "GoogleCloudAiplatformV1EvaluationSet",
      "properties": {
        "metadata": {
          "type": "any",
          "description": "Optional. Metadata for the EvaluationSet."
        },
        "name": {
          "description": "Identifier. The resource name of the EvaluationSet. Format: `projects/{project}/locations/{location}/evaluationSets/{evaluation_set}`",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Required. The display name of the EvaluationSet."
        },
        "encryptionSpec": {
          "description": "Optional. Customer-managed encryption key spec for this EvaluationSet. If set, this EvaluationSet and its sub-resources will be secured by this key.",
          "$ref": "GoogleCloudAiplatformV1EncryptionSpec"
        },
        "agentConfigs": {
          "additionalProperties": {
            "$ref": "GoogleCloudAiplatformV1AgentConfig"
          },
          "type": "object",
          "description": "Optional. Static configurations for each agent associated with the items in this set. Key: `agent_id` (matches the `author` field in `events`). Value: The static configuration of the agent."
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Timestamp when this item was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. Timestamp when this item was last updated.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "evaluationItems": {
          "description": "Required. The EvaluationItems that are part of this dataset.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "EvaluationSet is a collection of related EvaluationItems that are evaluated together."
    },
    "GoogleCloudAiplatformV1ListSessionsResponse": {
      "description": "Response message for SessionService.ListSessions.",
      "properties": {
        "sessions": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1Session"
          },
          "description": "A list of sessions matching the request.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as ListSessionsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1ListSessionsResponse",
      "type": "object"
    },
    "GoogleCloudAiplatformV1ToolNameMatchInstance": {
      "type": "object",
      "description": "Spec for tool name match instance.",
      "id": "GoogleCloudAiplatformV1ToolNameMatchInstance",
      "properties": {
        "prediction": {
          "description": "Required. Output of the evaluated model.",
          "type": "string"
        },
        "reference": {
          "type": "string",
          "description": "Required. Ground truth used to compare against the prediction."
        }
      }
    },
    "GoogleCloudAiplatformV1GenerateMemoriesRequestDirectContentsSource": {
      "type": "object",
      "properties": {
        "events": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1GenerateMemoriesRequestDirectContentsSourceEvent"
          },
          "description": "Required. The source content (i.e. chat history) to generate memories from."
        }
      },
      "description": "Defines a direct source of content from which to generate the memories.",
      "id": "GoogleCloudAiplatformV1GenerateMemoriesRequestDirectContentsSource"
    },
    "GoogleCloudAiplatformV1Port": {
      "description": "Represents a network port in a container.",
      "properties": {
        "containerPort": {
          "type": "integer",
          "description": "The number of the port to expose on the pod's IP address. Must be a valid port number, between 1 and 65535 inclusive.",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1Port"
    },
    "GoogleCloudAiplatformV1MemoryMetadataValue": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1MemoryMetadataValue",
      "properties": {
        "timestampValue": {
          "description": "Represents a timestamp value. When filtering on timestamp values, only the seconds field will be compared.",
          "format": "google-datetime",
          "type": "string"
        },
        "stringValue": {
          "type": "string",
          "description": "Represents a string value."
        },
        "doubleValue": {
          "format": "double",
          "type": "number",
          "description": "Represents a double value."
        },
        "boolValue": {
          "type": "boolean",
          "description": "Represents a boolean value."
        }
      },
      "description": "Memory metadata."
    },
    "GoogleCloudAiplatformV1Metric": {
      "description": "The metric used for running evaluations.",
      "properties": {
        "llmBasedMetricSpec": {
          "description": "Spec for an LLM based metric.",
          "$ref": "GoogleCloudAiplatformV1LLMBasedMetricSpec"
        },
        "aggregationMetrics": {
          "items": {
            "enumDescriptions": [
              "Unspecified aggregation metric.",
              "Average aggregation metric. Not supported for Pairwise metric.",
              "Mode aggregation metric.",
              "Standard deviation aggregation metric. Not supported for pairwise metric.",
              "Variance aggregation metric. Not supported for pairwise metric.",
              "Minimum aggregation metric. Not supported for pairwise metric.",
              "Maximum aggregation metric. Not supported for pairwise metric.",
              "Median aggregation metric. Not supported for pairwise metric.",
              "90th percentile aggregation metric. Not supported for pairwise metric.",
              "95th percentile aggregation metric. Not supported for pairwise metric.",
              "99th percentile aggregation metric. Not supported for pairwise metric."
            ],
            "enum": [
              "AGGREGATION_METRIC_UNSPECIFIED",
              "AVERAGE",
              "MODE",
              "STANDARD_DEVIATION",
              "VARIANCE",
              "MINIMUM",
              "MAXIMUM",
              "MEDIAN",
              "PERCENTILE_P90",
              "PERCENTILE_P95",
              "PERCENTILE_P99"
            ],
            "type": "string"
          },
          "description": "Optional. The aggregation metrics to use.",
          "type": "array"
        },
        "pointwiseMetricSpec": {
          "$ref": "GoogleCloudAiplatformV1PointwiseMetricSpec",
          "description": "Spec for pointwise metric."
        },
        "predefinedMetricSpec": {
          "$ref": "GoogleCloudAiplatformV1PredefinedMetricSpec",
          "description": "The spec for a pre-defined metric."
        },
        "exactMatchSpec": {
          "description": "Spec for exact match metric.",
          "$ref": "GoogleCloudAiplatformV1ExactMatchSpec"
        },
        "bleuSpec": {
          "$ref": "GoogleCloudAiplatformV1BleuSpec",
          "description": "Spec for bleu metric."
        },
        "computationBasedMetricSpec": {
          "description": "Spec for a computation based metric.",
          "$ref": "GoogleCloudAiplatformV1ComputationBasedMetricSpec"
        },
        "pairwiseMetricSpec": {
          "description": "Spec for pairwise metric.",
          "$ref": "GoogleCloudAiplatformV1PairwiseMetricSpec"
        },
        "metadata": {
          "$ref": "GoogleCloudAiplatformV1MetricMetadata",
          "description": "Optional. Metadata about the metric, used for visualization and organization."
        },
        "customCodeExecutionSpec": {
          "description": "Spec for Custom Code Execution metric.",
          "$ref": "GoogleCloudAiplatformV1CustomCodeExecutionSpec"
        },
        "rougeSpec": {
          "description": "Spec for rouge metric.",
          "$ref": "GoogleCloudAiplatformV1RougeSpec"
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1Metric"
    },
    "GoogleCloudAiplatformV1SafetyInput": {
      "properties": {
        "metricSpec": {
          "$ref": "GoogleCloudAiplatformV1SafetySpec",
          "description": "Required. Spec for safety metric."
        },
        "instance": {
          "description": "Required. Safety instance.",
          "$ref": "GoogleCloudAiplatformV1SafetyInstance"
        }
      },
      "description": "Input for safety metric.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1SafetyInput"
    },
    "GoogleCloudAiplatformV1FeatureView": {
      "description": "FeatureView is representation of values that the FeatureOnlineStore will serve based on its syncConfig.",
      "id": "GoogleCloudAiplatformV1FeatureView",
      "type": "object",
      "properties": {
        "indexConfig": {
          "$ref": "GoogleCloudAiplatformV1FeatureViewIndexConfig",
          "description": "Optional. Configuration for index preparation for vector search. It contains the required configurations to create an index from source data, so that approximate nearest neighbor (a.k.a ANN) algorithms search can be performed during online serving."
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Timestamp when this FeatureView was created."
        },
        "syncConfig": {
          "$ref": "GoogleCloudAiplatformV1FeatureViewSyncConfig",
          "description": "Configures when data is to be synced/updated for this FeatureView. At the end of the sync the latest featureValues for each entityId of this FeatureView are made ready for online serving."
        },
        "featureRegistrySource": {
          "description": "Optional. Configures the features from a Feature Registry source that need to be loaded onto the FeatureOnlineStore.",
          "$ref": "GoogleCloudAiplatformV1FeatureViewFeatureRegistrySource"
        },
        "satisfiesPzs": {
          "readOnly": true,
          "description": "Output only. Reserved for future use.",
          "type": "boolean"
        },
        "bigQuerySource": {
          "description": "Optional. Configures how data is supposed to be extracted from a BigQuery source to be loaded onto the FeatureOnlineStore.",
          "$ref": "GoogleCloudAiplatformV1FeatureViewBigQuerySource"
        },
        "serviceAgentType": {
          "enumDescriptions": [
            "By default, the project-level Vertex AI Service Agent is enabled.",
            "Indicates the project-level Vertex AI Service Agent (https://cloud.google.com/vertex-ai/docs/general/access-control#service-agents) will be used during sync jobs.",
            "Enable a FeatureView service account to be created by Vertex AI and output in the field `service_account_email`. This service account will be used to read from the source BigQuery table during sync."
          ],
          "type": "string",
          "description": "Optional. Service agent type used during data sync. By default, the Vertex AI Service Agent is used. When using an IAM Policy to isolate this FeatureView within a project, a separate service account should be provisioned by setting this field to `SERVICE_AGENT_TYPE_FEATURE_VIEW`. This will generate a separate service account to access the BigQuery source table.",
          "enum": [
            "SERVICE_AGENT_TYPE_UNSPECIFIED",
            "SERVICE_AGENT_TYPE_PROJECT",
            "SERVICE_AGENT_TYPE_FEATURE_VIEW"
          ]
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp when this FeatureView was last updated.",
          "readOnly": true
        },
        "serviceAccountEmail": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A Service Account unique to this FeatureView. The role bigquery.dataViewer should be granted to this service account to allow Vertex AI Feature Store to sync data to the online store."
        },
        "vertexRagSource": {
          "$ref": "GoogleCloudAiplatformV1FeatureViewVertexRagSource",
          "description": "Optional. The Vertex RAG Source that the FeatureView is linked to."
        },
        "optimizedConfig": {
          "description": "Optional. Configuration for FeatureView created under Optimized FeatureOnlineStore.",
          "$ref": "GoogleCloudAiplatformV1FeatureViewOptimizedConfig"
        },
        "etag": {
          "description": "Optional. Used to perform consistent read-modify-write updates. If not set, a blind \"overwrite\" update happens.",
          "type": "string"
        },
        "bigtableMetadata": {
          "$ref": "GoogleCloudAiplatformV1FeatureViewBigtableMetadata",
          "description": "Output only. Metadata containing information about the Cloud Bigtable.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. Name of the FeatureView. Format: `projects/{project}/locations/{location}/featureOnlineStores/{feature_online_store}/featureViews/{feature_view}`"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The labels with user-defined metadata to organize your FeatureViews. Label keys and values can be no longer than 64 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. See https://goo.gl/xmQnxf for more information on and examples of labels. No more than 64 user labels can be associated with one FeatureOnlineStore(System labels are excluded).\" System reserved label keys are prefixed with \"aiplatform.googleapis.com/\" and are immutable."
        },
        "satisfiesPzi": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Reserved for future use."
        }
      }
    },
    "GoogleCloudAiplatformV1DeployedIndexRef": {
      "id": "GoogleCloudAiplatformV1DeployedIndexRef",
      "description": "Points to a DeployedIndex.",
      "type": "object",
      "properties": {
        "indexEndpoint": {
          "description": "Immutable. A resource name of the IndexEndpoint.",
          "type": "string"
        },
        "displayName": {
          "description": "Output only. The display name of the DeployedIndex.",
          "readOnly": true,
          "type": "string"
        },
        "deployedIndexId": {
          "type": "string",
          "description": "Immutable. The ID of the DeployedIndex in the above IndexEndpoint."
        }
      }
    },
    "GoogleCloudAiplatformV1PartialArg": {
      "type": "object",
      "description": "Partial argument value of the function call.",
      "properties": {
        "numberValue": {
          "type": "number",
          "description": "Optional. Represents a double value.",
          "format": "double"
        },
        "boolValue": {
          "description": "Optional. Represents a boolean value.",
          "type": "boolean"
        },
        "jsonPath": {
          "description": "Required. A JSON Path (RFC 9535) to the argument being streamed. https://datatracker.ietf.org/doc/html/rfc9535. e.g. \"$.foo.bar[0].data\".",
          "type": "string"
        },
        "willContinue": {
          "description": "Optional. Whether this is not the last part of the same json_path. If true, another PartialArg message for the current json_path is expected to follow.",
          "type": "boolean"
        },
        "stringValue": {
          "type": "string",
          "description": "Optional. Represents a string value."
        },
        "nullValue": {
          "description": "Optional. Represents a null value.",
          "enumDescriptions": [
            "Null value."
          ],
          "enum": [
            "NULL_VALUE"
          ],
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1PartialArg"
    },
    "GoogleCloudAiplatformV1UndeployIndexOperationMetadata": {
      "type": "object",
      "properties": {
        "genericMetadata": {
          "description": "The operation generic information.",
          "$ref": "GoogleCloudAiplatformV1GenericOperationMetadata"
        }
      },
      "description": "Runtime operation information for IndexEndpointService.UndeployIndex.",
      "id": "GoogleCloudAiplatformV1UndeployIndexOperationMetadata"
    },
    "GoogleCloudAiplatformV1EvaluationRunMetricRubricBasedMetricSpec": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1EvaluationRunMetricRubricBasedMetricSpec",
      "description": "Specification for a metric that is based on rubrics.",
      "properties": {
        "inlineRubrics": {
          "$ref": "GoogleCloudAiplatformV1EvaluationRunMetricRubricBasedMetricSpecRepeatedRubrics",
          "description": "Use rubrics provided directly in the spec."
        },
        "rubricGroupKey": {
          "type": "string",
          "description": "Use a pre-defined group of rubrics associated with the input content. This refers to a key in the `rubric_groups` map of `RubricEnhancedContents`."
        },
        "metricPromptTemplate": {
          "description": "Optional. Template for the prompt used by the judge model to evaluate against rubrics.",
          "type": "string"
        },
        "rubricGenerationSpec": {
          "description": "Dynamically generate rubrics for evaluation using this specification.",
          "$ref": "GoogleCloudAiplatformV1EvaluationRunMetricRubricGenerationSpec"
        },
        "judgeAutoraterConfig": {
          "$ref": "GoogleCloudAiplatformV1EvaluationRunEvaluationConfigAutoraterConfig",
          "description": "Optional. Optional configuration for the judge LLM (Autorater). The definition of AutoraterConfig needs to be provided."
        }
      }
    },
    "GoogleCloudAiplatformV1GenAiAdvancedFeaturesConfigRagConfig": {
      "id": "GoogleCloudAiplatformV1GenAiAdvancedFeaturesConfigRagConfig",
      "description": "Configuration for Retrieval Augmented Generation feature.",
      "type": "object",
      "properties": {
        "enableRag": {
          "type": "boolean",
          "description": "If true, enable Retrieval Augmented Generation in ChatCompletion request. Once enabled, the endpoint will be identified as GenAI endpoint and Arthedain router will be used."
        }
      }
    },
    "GoogleCloudAiplatformV1SchemaPromptSpecPromptMessage": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1SchemaPromptSpecPromptMessage",
      "description": "The prompt message that aligns with the prompt message in google.cloud.aiplatform.master.GenerateContentRequest.",
      "properties": {
        "model": {
          "type": "string",
          "description": "The model name."
        },
        "systemInstruction": {
          "$ref": "GoogleCloudAiplatformV1Content",
          "description": "The user provided system instructions for the model. Note: only text should be used in parts and content in each part will be in a separate paragraph."
        },
        "safetySettings": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1SafetySetting"
          },
          "description": "Per request settings for blocking unsafe content. Enforced on GenerateContentResponse.candidates."
        },
        "tools": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1Tool"
          },
          "description": "A list of `Tools` the model may use to generate the next response. A `Tool` is a piece of code that enables the system to interact with external systems to perform an action, or set of actions, outside of knowledge and scope of the model."
        },
        "toolConfig": {
          "description": "Tool config. This config is shared for all tools provided in the request.",
          "$ref": "GoogleCloudAiplatformV1ToolConfig"
        },
        "contents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1Content"
          },
          "description": "The content of the current conversation with the model. For single-turn queries, this is a single instance. For multi-turn queries, this is a repeated field that contains conversation history + latest request."
        },
        "generationConfig": {
          "$ref": "GoogleCloudAiplatformV1GenerationConfig",
          "description": "Generation config."
        }
      }
    },
    "GoogleCloudAiplatformV1ModelExportFormat": {
      "properties": {
        "id": {
          "description": "Output only. The ID of the export format. The possible format IDs are: * `tflite` Used for Android mobile devices. * `edgetpu-tflite` Used for [Edge TPU](https://cloud.google.com/edge-tpu/) devices. * `tf-saved-model` A tensorflow model in SavedModel format. * `tf-js` A [TensorFlow.js](https://www.tensorflow.org/js) model that can be used in the browser and in Node.js using JavaScript. * `core-ml` Used for iOS mobile devices. * `custom-trained` A Model that was uploaded or trained by custom code. * `genie` A tuned Model Garden model.",
          "type": "string",
          "readOnly": true
        },
        "exportableContents": {
          "description": "Output only. The content of this Model that may be exported.",
          "type": "array",
          "readOnly": true,
          "items": {
            "enum": [
              "EXPORTABLE_CONTENT_UNSPECIFIED",
              "ARTIFACT",
              "IMAGE"
            ],
            "enumDescriptions": [
              "Should not be used.",
              "Model artifact and any of its supported files. Will be exported to the location specified by the `artifactDestination` field of the ExportModelRequest.output_config object.",
              "The container image that is to be used when deploying this Model. Will be exported to the location specified by the `imageDestination` field of the ExportModelRequest.output_config object."
            ],
            "type": "string"
          }
        }
      },
      "description": "Represents export format supported by the Model. All formats export to Google Cloud Storage.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1ModelExportFormat"
    },
    "GoogleCloudAiplatformV1ExecuteSandboxEnvironmentRequest": {
      "properties": {
        "inputs": {
          "type": "array",
          "description": "Required. The inputs to the sandbox environment.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1Chunk"
          }
        }
      },
      "type": "object",
      "description": "Request message for SandboxEnvironmentExecutionService.Execute.",
      "id": "GoogleCloudAiplatformV1ExecuteSandboxEnvironmentRequest"
    },
    "GoogleCloudAiplatformV1StringArray": {
      "id": "GoogleCloudAiplatformV1StringArray",
      "description": "A list of string values.",
      "properties": {
        "values": {
          "description": "A list of string values.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1BigQueryRequestSetSamplingConfig": {
      "description": "The sampling config.",
      "id": "GoogleCloudAiplatformV1BigQueryRequestSetSamplingConfig",
      "properties": {
        "samplingMethod": {
          "enum": [
            "SAMPLING_METHOD_UNSPECIFIED",
            "RANDOM"
          ],
          "enumDescriptions": [
            "Unspecified sampling method.",
            "Random sampling."
          ],
          "description": "Optional. The sampling method to use.",
          "type": "string"
        },
        "samplingDuration": {
          "type": "string",
          "description": "Optional. How long to wait before sampling data from the BigQuery table. If not specified, defaults to 0.",
          "format": "google-duration"
        },
        "samplingCount": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The total number of logged data to import. If available data is less than the sampling count, all data will be imported. Default is 100."
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1MemoryConjunctionFilter": {
      "type": "object",
      "description": "A conjunction of filters that will be combined using AND logic.",
      "properties": {
        "filters": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1MemoryFilter"
          },
          "description": "Represents filters that will be combined using AND logic."
        }
      },
      "id": "GoogleCloudAiplatformV1MemoryConjunctionFilter"
    },
    "GoogleCloudAiplatformV1LogprobsResult": {
      "description": "The log probabilities of the tokens generated by the model. This is useful for understanding the model's confidence in its predictions and for debugging. For example, you can use log probabilities to identify when the model is making a less confident prediction or to explore alternative responses that the model considered. A low log probability can also indicate that the model is \"hallucinating\" or generating factually incorrect information.",
      "type": "object",
      "properties": {
        "topCandidates": {
          "description": "A list of the top candidate tokens at each decoding step. The length of this list is equal to the total number of decoding steps.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1LogprobsResultTopCandidates"
          }
        },
        "chosenCandidates": {
          "description": "A list of the chosen candidate tokens at each decoding step. The length of this list is equal to the total number of decoding steps. Note that the chosen candidate might not be in `top_candidates`.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1LogprobsResultCandidate"
          }
        }
      },
      "id": "GoogleCloudAiplatformV1LogprobsResult"
    },
    "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionSeq2SeqPlusForecasting": {
      "type": "object",
      "properties": {
        "inputs": {
          "description": "The input parameters of this TrainingJob.",
          "$ref": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionSeq2SeqPlusForecastingInputs"
        },
        "metadata": {
          "$ref": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionSeq2SeqPlusForecastingMetadata",
          "description": "The metadata information."
        }
      },
      "description": "A TrainingJob that trains and uploads an AutoML Forecasting Model.",
      "id": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionSeq2SeqPlusForecasting"
    },
    "GoogleCloudAiplatformV1WriteFeatureValuesPayload": {
      "description": "Contains Feature values to be written for a specific entity.",
      "id": "GoogleCloudAiplatformV1WriteFeatureValuesPayload",
      "type": "object",
      "properties": {
        "entityId": {
          "type": "string",
          "description": "Required. The ID of the entity."
        },
        "featureValues": {
          "type": "object",
          "description": "Required. Feature values to be written, mapping from Feature ID to value. Up to 100,000 `feature_values` entries may be written across all payloads. The feature generation time, aligned by days, must be no older than five years (1825 days) and no later than one year (366 days) in the future.",
          "additionalProperties": {
            "$ref": "GoogleCloudAiplatformV1FeatureValue"
          }
        }
      }
    },
    "GoogleCloudAiplatformV1Examples": {
      "description": "Example-based explainability that returns the nearest neighbors from the provided dataset.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1Examples",
      "properties": {
        "presets": {
          "$ref": "GoogleCloudAiplatformV1Presets",
          "description": "Simplified preset configuration, which automatically sets configuration values based on the desired query speed-precision trade-off and modality."
        },
        "neighborCount": {
          "type": "integer",
          "description": "The number of neighbors to return when querying for examples.",
          "format": "int32"
        },
        "exampleGcsSource": {
          "$ref": "GoogleCloudAiplatformV1ExamplesExampleGcsSource",
          "description": "The Cloud Storage input instances."
        },
        "nearestNeighborSearchConfig": {
          "description": "The full configuration for the generated index, the semantics are the same as metadata and should match [NearestNeighborSearchConfig](https://cloud.google.com/vertex-ai/docs/explainable-ai/configuring-explanations-example-based#nearest-neighbor-search-config).",
          "type": "any"
        }
      }
    },
    "GoogleCloudAiplatformV1RagVectorDbConfigVertexVectorSearch": {
      "type": "object",
      "description": "The config for the Vertex Vector Search.",
      "properties": {
        "indexEndpoint": {
          "type": "string",
          "description": "The resource name of the Index Endpoint. Format: `projects/{project}/locations/{location}/indexEndpoints/{index_endpoint}`"
        },
        "index": {
          "description": "The resource name of the Index. Format: `projects/{project}/locations/{location}/indexes/{index}`",
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1RagVectorDbConfigVertexVectorSearch"
    },
    "GoogleCloudAiplatformV1SchemaTextDatasetMetadata": {
      "id": "GoogleCloudAiplatformV1SchemaTextDatasetMetadata",
      "type": "object",
      "properties": {
        "dataItemSchemaUri": {
          "description": "Points to a YAML file stored on Google Cloud Storage describing payload of the Text DataItems that belong to this Dataset.",
          "type": "string"
        },
        "gcsBucket": {
          "type": "string",
          "description": "Google Cloud Storage Bucket name that contains the blob data of this Dataset."
        }
      },
      "description": "The metadata of Datasets that contain Text DataItems."
    },
    "GoogleCloudAiplatformV1DoubleArray": {
      "id": "GoogleCloudAiplatformV1DoubleArray",
      "description": "A list of double values.",
      "type": "object",
      "properties": {
        "values": {
          "type": "array",
          "items": {
            "format": "double",
            "type": "number"
          },
          "description": "A list of double values."
        }
      }
    },
    "GoogleCloudAiplatformV1GenerateContentRequest": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1GenerateContentRequest",
      "properties": {
        "cachedContent": {
          "description": "Optional. The name of the cached content used as context to serve the prediction. Note: only used in explicit caching, where users can have control over caching (e.g. what content to cache) and enjoy guaranteed cost savings. Format: `projects/{project}/locations/{location}/cachedContents/{cachedContent}`",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The labels with user-defined metadata for the request. It is used for billing and reporting only. Label keys and values can be no longer than 63 characters (Unicode codepoints) and can only contain lowercase letters, numeric characters, underscores, and dashes. International characters are allowed. Label values are optional. Label keys must start with a letter.",
          "type": "object"
        },
        "safetySettings": {
          "type": "array",
          "description": "Optional. Per request settings for blocking unsafe content. Enforced on GenerateContentResponse.candidates.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1SafetySetting"
          }
        },
        "systemInstruction": {
          "description": "Optional. The user provided system instructions for the model. Note: only text should be used in parts and content in each part will be in a separate paragraph.",
          "$ref": "GoogleCloudAiplatformV1Content"
        },
        "contents": {
          "description": "Required. The content of the current conversation with the model. For single-turn queries, this is a single instance. For multi-turn queries, this is a repeated field that contains conversation history + latest request.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1Content"
          },
          "type": "array"
        },
        "generationConfig": {
          "description": "Optional. Generation config.",
          "$ref": "GoogleCloudAiplatformV1GenerationConfig"
        },
        "toolConfig": {
          "$ref": "GoogleCloudAiplatformV1ToolConfig",
          "description": "Optional. Tool config. This config is shared for all tools provided in the request."
        },
        "tools": {
          "type": "array",
          "description": "Optional. A list of `Tools` the model may use to generate the next response. A `Tool` is a piece of code that enables the system to interact with external systems to perform an action, or set of actions, outside of knowledge and scope of the model.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1Tool"
          }
        },
        "modelArmorConfig": {
          "$ref": "GoogleCloudAiplatformV1ModelArmorConfig",
          "description": "Optional. Settings for prompt and response sanitization using the Model Armor service. If supplied, safety_settings must not be supplied."
        }
      },
      "description": "Request message for [PredictionService.GenerateContent]."
    },
    "GoogleCloudAiplatformV1FeatureNoiseSigma": {
      "description": "Noise sigma by features. Noise sigma represents the standard deviation of the gaussian kernel that will be used to add noise to interpolated inputs prior to computing gradients.",
      "properties": {
        "noiseSigma": {
          "description": "Noise sigma per feature. No noise is added to features that are not set.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1FeatureNoiseSigmaNoiseSigmaForFeature"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudAiplatformV1FeatureNoiseSigma",
      "type": "object"
    },
    "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionSeq2SeqPlusForecastingInputsTransformation": {
      "id": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionSeq2SeqPlusForecastingInputsTransformation",
      "type": "object",
      "properties": {
        "auto": {
          "$ref": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionSeq2SeqPlusForecastingInputsTransformationAutoTransformation"
        },
        "timestamp": {
          "$ref": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionSeq2SeqPlusForecastingInputsTransformationTimestampTransformation"
        },
        "numeric": {
          "$ref": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionSeq2SeqPlusForecastingInputsTransformationNumericTransformation"
        },
        "categorical": {
          "$ref": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionSeq2SeqPlusForecastingInputsTransformationCategoricalTransformation"
        },
        "text": {
          "$ref": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionSeq2SeqPlusForecastingInputsTransformationTextTransformation"
        }
      }
    },
    "GoogleCloudAiplatformV1DeleteFeatureValuesRequest": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1DeleteFeatureValuesRequest",
      "description": "Request message for FeaturestoreService.DeleteFeatureValues.",
      "properties": {
        "selectEntity": {
          "description": "Select feature values to be deleted by specifying entities.",
          "$ref": "GoogleCloudAiplatformV1DeleteFeatureValuesRequestSelectEntity"
        },
        "selectTimeRangeAndFeature": {
          "$ref": "GoogleCloudAiplatformV1DeleteFeatureValuesRequestSelectTimeRangeAndFeature",
          "description": "Select feature values to be deleted by specifying time range and features."
        }
      }
    },
    "GoogleCloudAiplatformV1SchemaPredictInstanceTextSentimentPredictionInstance": {
      "type": "object",
      "description": "Prediction input format for Text Sentiment.",
      "id": "GoogleCloudAiplatformV1SchemaPredictInstanceTextSentimentPredictionInstance",
      "properties": {
        "content": {
          "description": "The text snippet to make the predictions on.",
          "type": "string"
        },
        "mimeType": {
          "description": "The MIME type of the text snippet. The supported MIME types are listed below. - text/plain",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1PublisherModelCallToActionViewRestApi": {
      "description": "Rest API docs.",
      "properties": {
        "documentations": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1PublisherModelDocumentation"
          },
          "type": "array",
          "description": "Required."
        },
        "title": {
          "description": "Required. The title of the view rest API.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1PublisherModelCallToActionViewRestApi"
    },
    "GoogleCloudAiplatformV1UpsertDatapointsRequest": {
      "description": "Request message for IndexService.UpsertDatapoints",
      "id": "GoogleCloudAiplatformV1UpsertDatapointsRequest",
      "type": "object",
      "properties": {
        "datapoints": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1IndexDatapoint"
          },
          "description": "A list of datapoints to be created/updated.",
          "type": "array"
        },
        "updateMask": {
          "type": "string",
          "description": "Optional. Update mask is used to specify the fields to be overwritten in the datapoints by the update. The fields specified in the update_mask are relative to each IndexDatapoint inside datapoints, not the full request. Updatable fields: * Use `all_restricts` to update both restricts and numeric_restricts.",
          "format": "google-fieldmask"
        }
      }
    },
    "GoogleCloudAiplatformV1CopyModelOperationMetadata": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1CopyModelOperationMetadata",
      "description": "Details of ModelService.CopyModel operation.",
      "properties": {
        "genericMetadata": {
          "$ref": "GoogleCloudAiplatformV1GenericOperationMetadata",
          "description": "The common part of the operation metadata."
        }
      }
    },
    "GoogleCloudAiplatformV1RetrievalConfig": {
      "description": "Retrieval config.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1RetrievalConfig",
      "properties": {
        "latLng": {
          "$ref": "GoogleTypeLatLng",
          "description": "The location of the user."
        },
        "languageCode": {
          "description": "The language code of the user.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1ListSandboxEnvironmentSnapshotsResponse": {
      "id": "GoogleCloudAiplatformV1ListSandboxEnvironmentSnapshotsResponse",
      "type": "object",
      "description": "Response message for SandboxEnvironmentService.ListSandboxEnvironmentSnapshots.",
      "properties": {
        "sandboxEnvironmentSnapshots": {
          "description": "The SandboxEnvironmentSnapshots matching the request.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1SandboxEnvironmentSnapshot"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as ListSandboxEnvironmentSnapshotsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages."
        }
      }
    },
    "GoogleCloudAiplatformV1SchemaTimeSeriesDatasetMetadataGcsSource": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1SchemaTimeSeriesDatasetMetadataGcsSource",
      "properties": {
        "uri": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Cloud Storage URI of one or more files. Only CSV files are supported. The first line of the CSV file is used as the header. If there are multiple files, the header is the first line of the lexicographically first file, the other files must either contain the exact same header or omit the header."
        }
      }
    },
    "GoogleCloudAiplatformV1QuestionAnsweringRelevanceInstance": {
      "id": "GoogleCloudAiplatformV1QuestionAnsweringRelevanceInstance",
      "description": "Spec for question answering relevance instance.",
      "type": "object",
      "properties": {
        "instruction": {
          "description": "Required. The question asked and other instruction in the inference prompt.",
          "type": "string"
        },
        "prediction": {
          "description": "Required. Output of the evaluated model.",
          "type": "string"
        },
        "context": {
          "description": "Optional. Text provided as context to answer the question.",
          "type": "string"
        },
        "reference": {
          "description": "Optional. Ground truth used to compare against the prediction.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1SchemaModelevaluationMetricsBoundingBoxMetricsConfidenceMetrics": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1SchemaModelevaluationMetricsBoundingBoxMetricsConfidenceMetrics",
      "properties": {
        "precision": {
          "description": "Precision under the given confidence threshold.",
          "type": "number",
          "format": "float"
        },
        "f1Score": {
          "type": "number",
          "description": "The harmonic mean of recall and precision.",
          "format": "float"
        },
        "recall": {
          "description": "Recall under the given confidence threshold.",
          "type": "number",
          "format": "float"
        },
        "confidenceThreshold": {
          "type": "number",
          "format": "float",
          "description": "The confidence threshold value used to compute the metrics."
        }
      },
      "description": "Metrics for a single confidence threshold."
    },
    "GoogleCloudAiplatformV1PscInterfaceConfig": {
      "description": "Configuration for PSC-I.",
      "properties": {
        "networkAttachment": {
          "description": "Optional. The name of the Compute Engine [network attachment](https://cloud.google.com/vpc/docs/about-network-attachments) to attach to the resource within the region and user project. To specify this field, you must have already [created a network attachment] (https://cloud.google.com/vpc/docs/create-manage-network-attachments#create-network-attachments). This field is only used for resources using PSC-I.",
          "type": "string"
        },
        "dnsPeeringConfigs": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1DnsPeeringConfig"
          },
          "type": "array",
          "description": "Optional. DNS peering configurations. When specified, Vertex AI will attempt to configure DNS peering zones in the tenant project VPC to resolve the specified domains using the target network's Cloud DNS. The user must grant the dns.peer role to the Vertex AI Service Agent on the target project."
        }
      },
      "id": "GoogleCloudAiplatformV1PscInterfaceConfig",
      "type": "object"
    },
    "GoogleCloudAiplatformV1FunctionDeclaration": {
      "id": "GoogleCloudAiplatformV1FunctionDeclaration",
      "properties": {
        "responseJsonSchema": {
          "description": "Optional. Describes the output from this function in JSON Schema format. The value specified by the schema is the response value of the function. This field is mutually exclusive with `response`.",
          "type": "any"
        },
        "response": {
          "description": "Optional. Describes the output from this function in JSON Schema format. Reflects the Open API 3.03 Response Object. The Schema defines the type used for the response value of the function.",
          "$ref": "GoogleCloudAiplatformV1Schema"
        },
        "behavior": {
          "enumDescriptions": [
            "This value is unspecified.",
            "If set, the system will wait to receive the function response before continuing the conversation.",
            "If set, the system will not wait to receive the function response. Instead, it will attempt to handle function responses as they become available while maintaining the conversation between the user and the model."
          ],
          "description": "Optional. Specifies the function Behavior. If not specified, the system keeps the current function call behavior. This field is currently only supported by the BidiGenerateContent method.",
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "BLOCKING",
            "NON_BLOCKING"
          ]
        },
        "parameters": {
          "$ref": "GoogleCloudAiplatformV1Schema",
          "description": "Optional. Describes the parameters to this function in JSON Schema Object format. Reflects the Open API 3.03 Parameter Object. string Key: the name of the parameter. Parameter names are case sensitive. Schema Value: the Schema defining the type used for the parameter. For function with no parameters, this can be left unset. Parameter names must start with a letter or an underscore and must only contain chars a-z, A-Z, 0-9, or underscores with a maximum length of 64. Example with 1 required and 1 optional parameter: type: OBJECT properties: param1: type: STRING param2: type: INTEGER required: - param1"
        },
        "parametersJsonSchema": {
          "description": "Optional. Describes the parameters to the function in JSON Schema format. The schema must describe an object where the properties are the parameters to the function. For example: ``` { \"type\": \"object\", \"properties\": { \"name\": { \"type\": \"string\" }, \"age\": { \"type\": \"integer\" } }, \"additionalProperties\": false, \"required\": [\"name\", \"age\"], \"propertyOrdering\": [\"name\", \"age\"] } ``` This field is mutually exclusive with `parameters`.",
          "type": "any"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description and purpose of the function. Model uses it to decide how and whether to call the function."
        },
        "name": {
          "description": "Required. The name of the function to call. Must start with a letter or an underscore. Must be a-z, A-Z, 0-9, or contain underscores, dots, colons and dashes, with a maximum length of 128.",
          "type": "string"
        }
      },
      "description": "Structured representation of a function declaration as defined by the [OpenAPI 3.0 specification](https://spec.openapis.org/oas/v3.0.3). Included in this declaration are the function name, description, parameters and response type. This FunctionDeclaration is a representation of a block of code that can be used as a `Tool` by the model and executed by the client.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1CustomJobSpec": {
      "properties": {
        "workerPoolSpecs": {
          "type": "array",
          "description": "Required. The spec of the worker pools including machine type and Docker image. All worker pools except the first one are optional and can be skipped by providing an empty value.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1WorkerPoolSpec"
          }
        },
        "protectedArtifactLocationId": {
          "type": "string",
          "description": "The ID of the location to store protected artifacts. e.g. us-central1. Populate only when the location is different than CustomJob location. List of supported locations: https://cloud.google.com/vertex-ai/docs/general/locations"
        },
        "serviceAccount": {
          "description": "Specifies the service account for workload run-as account. Users submitting jobs must have act-as permission on this run-as account. If unspecified, the [Vertex AI Custom Code Service Agent](https://cloud.google.com/vertex-ai/docs/general/access-control#service-agents) for the CustomJob's project is used.",
          "type": "string"
        },
        "persistentResourceId": {
          "type": "string",
          "description": "Optional. The ID of the PersistentResource in the same Project and Location which to run If this is specified, the job will be run on existing machines held by the PersistentResource instead of on-demand short-live machines. The network and CMEK configs on the job should be consistent with those on the PersistentResource, otherwise, the job will be rejected."
        },
        "reservedIpRanges": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. A list of names for the reserved ip ranges under the VPC network that can be used for this job. If set, we will deploy the job within the provided ip ranges. Otherwise, the job will be deployed to any ip ranges under the provided VPC network. Example: ['vertex-ai-ip-range']."
        },
        "experimentRun": {
          "description": "Optional. The Experiment Run associated with this job. Format: `projects/{project}/locations/{location}/metadataStores/{metadataStores}/contexts/{experiment-name}-{experiment-run-name}`",
          "type": "string"
        },
        "experiment": {
          "type": "string",
          "description": "Optional. The Experiment associated with this job. Format: `projects/{project}/locations/{location}/metadataStores/{metadataStores}/contexts/{experiment-name}`"
        },
        "scheduling": {
          "description": "Scheduling options for a CustomJob.",
          "$ref": "GoogleCloudAiplatformV1Scheduling"
        },
        "tensorboard": {
          "description": "Optional. The name of a Vertex AI Tensorboard resource to which this CustomJob will upload Tensorboard logs. Format: `projects/{project}/locations/{location}/tensorboards/{tensorboard}`",
          "type": "string"
        },
        "enableWebAccess": {
          "description": "Optional. Whether you want Vertex AI to enable [interactive shell access](https://cloud.google.com/vertex-ai/docs/training/monitor-debug-interactive-shell) to training containers. If set to `true`, you can access interactive shells at the URIs given by CustomJob.web_access_uris or Trial.web_access_uris (within HyperparameterTuningJob.trials).",
          "type": "boolean"
        },
        "enableDashboardAccess": {
          "type": "boolean",
          "description": "Optional. Whether you want Vertex AI to enable access to the customized dashboard in training chief container. If set to `true`, you can access the dashboard at the URIs given by CustomJob.web_access_uris or Trial.web_access_uris (within HyperparameterTuningJob.trials)."
        },
        "network": {
          "description": "Optional. The full name of the Compute Engine [network](/compute/docs/networks-and-firewalls#networks) to which the Job should be peered. For example, `projects/12345/global/networks/myVPC`. [Format](/compute/docs/reference/rest/v1/networks/insert) is of the form `projects/{project}/global/networks/{network}`. Where {project} is a project number, as in `12345`, and {network} is a network name. To specify this field, you must have already [configured VPC Network Peering for Vertex AI](https://cloud.google.com/vertex-ai/docs/general/vpc-peering). If this field is left unspecified, the job is not peered with any network.",
          "type": "string"
        },
        "models": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The name of the Model resources for which to generate a mapping to artifact URIs. Applicable only to some of the Google-provided custom jobs. Format: `projects/{project}/locations/{location}/models/{model}` In order to retrieve a specific version of the model, also provide the version ID or version alias. Example: `projects/{project}/locations/{location}/models/{model}@2` or `projects/{project}/locations/{location}/models/{model}@golden` If no version ID or alias is specified, the \"default\" version will be returned. The \"default\" version alias is created for the first version of the model, and can be moved to other versions later on. There will be exactly one default version.",
          "type": "array"
        },
        "baseOutputDirectory": {
          "$ref": "GoogleCloudAiplatformV1GcsDestination",
          "description": "The Cloud Storage location to store the output of this CustomJob or HyperparameterTuningJob. For HyperparameterTuningJob, the baseOutputDirectory of each child CustomJob backing a Trial is set to a subdirectory of name id under its parent HyperparameterTuningJob's baseOutputDirectory. The following Vertex AI environment variables will be passed to containers or python modules when this field is set: For CustomJob: * AIP_MODEL_DIR = `/model/` * AIP_CHECKPOINT_DIR = `/checkpoints/` * AIP_TENSORBOARD_LOG_DIR = `/logs/` For CustomJob backing a Trial of HyperparameterTuningJob: * AIP_MODEL_DIR = `//model/` * AIP_CHECKPOINT_DIR = `//checkpoints/` * AIP_TENSORBOARD_LOG_DIR = `//logs/`"
        },
        "pscInterfaceConfig": {
          "$ref": "GoogleCloudAiplatformV1PscInterfaceConfig",
          "description": "Optional. Configuration for PSC-I for CustomJob."
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1CustomJobSpec",
      "description": "Represents the spec of a CustomJob."
    },
    "GoogleCloudAiplatformV1RougeInstance": {
      "type": "object",
      "properties": {
        "prediction": {
          "type": "string",
          "description": "Required. Output of the evaluated model."
        },
        "reference": {
          "description": "Required. Ground truth used to compare against the prediction.",
          "type": "string"
        }
      },
      "description": "Spec for rouge instance.",
      "id": "GoogleCloudAiplatformV1RougeInstance"
    },
    "GoogleCloudAiplatformV1QuestionAnsweringHelpfulnessInput": {
      "id": "GoogleCloudAiplatformV1QuestionAnsweringHelpfulnessInput",
      "properties": {
        "instance": {
          "$ref": "GoogleCloudAiplatformV1QuestionAnsweringHelpfulnessInstance",
          "description": "Required. Question answering helpfulness instance."
        },
        "metricSpec": {
          "description": "Required. Spec for question answering helpfulness score metric.",
          "$ref": "GoogleCloudAiplatformV1QuestionAnsweringHelpfulnessSpec"
        }
      },
      "description": "Input for question answering helpfulness metric.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1DeleteFeatureValuesResponseSelectEntity": {
      "id": "GoogleCloudAiplatformV1DeleteFeatureValuesResponseSelectEntity",
      "properties": {
        "onlineStorageDeletedEntityCount": {
          "format": "int64",
          "type": "string",
          "description": "The count of deleted entities in the online storage. Each entity ID corresponds to one entity."
        },
        "offlineStorageDeletedEntityRowCount": {
          "type": "string",
          "description": "The count of deleted entity rows in the offline storage. Each row corresponds to the combination of an entity ID and a timestamp. One entity ID can have multiple rows in the offline storage.",
          "format": "int64"
        }
      },
      "type": "object",
      "description": "Response message if the request uses the SelectEntity option."
    },
    "GoogleCloudAiplatformV1UserScenarioGenerationConfig": {
      "id": "GoogleCloudAiplatformV1UserScenarioGenerationConfig",
      "properties": {
        "modelName": {
          "type": "string",
          "description": "Optional. The model name to use for generation. It can be model name, e.g. \"gemini-3-pro-preview\". or the fully qualified name of the publisher model or endpoint. Publisher model format: `projects/{project}/locations/{location}/publishers/*/models/*` Endpoint format: `projects/{project}/locations/{location}/endpoints/{endpoint}`"
        },
        "environmentData": {
          "type": "string",
          "description": "Optional. Environment data in string type."
        },
        "userScenarioCount": {
          "type": "string",
          "description": "Required. The number of user scenarios to generate. The maximum number of scenarios that can be generated is 100.",
          "format": "int64"
        },
        "simulationInstruction": {
          "description": "Optional. Simulation instruction to guide the user scenario generation.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "User scenario generation configuration."
    },
    "GoogleCloudAiplatformV1EvaluationInstanceDeprecatedAgentDataConversationTurn": {
      "properties": {
        "events": {
          "description": "Optional. The list of events that occurred during this turn.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1EvaluationInstanceDeprecatedAgentDataAgentEvent"
          }
        },
        "turnId": {
          "type": "string",
          "description": "Optional. A unique identifier for the turn. Useful for referencing specific turns across systems."
        },
        "turnIndex": {
          "type": "integer",
          "description": "Required. The 0-based index of the turn in the conversation sequence.",
          "format": "int32"
        }
      },
      "description": "Represents a single turn/invocation in the conversation.",
      "id": "GoogleCloudAiplatformV1EvaluationInstanceDeprecatedAgentDataConversationTurn",
      "type": "object"
    },
    "GoogleCloudAiplatformV1CustomOutputFormatConfig": {
      "id": "GoogleCloudAiplatformV1CustomOutputFormatConfig",
      "type": "object",
      "properties": {
        "returnRawOutput": {
          "description": "Optional. Whether to return raw output.",
          "type": "boolean"
        }
      },
      "description": "Spec for custom output format configuration."
    },
    "GoogleCloudAiplatformV1WriteTensorboardExperimentDataRequest": {
      "id": "GoogleCloudAiplatformV1WriteTensorboardExperimentDataRequest",
      "type": "object",
      "description": "Request message for TensorboardService.WriteTensorboardExperimentData.",
      "properties": {
        "writeRunDataRequests": {
          "description": "Required. Requests containing per-run TensorboardTimeSeries data to write.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1WriteTensorboardRunDataRequest"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudAiplatformV1FeaturestoreOnlineServingConfig": {
      "description": "OnlineServingConfig specifies the details for provisioning online serving resources.",
      "properties": {
        "fixedNodeCount": {
          "type": "integer",
          "description": "The number of nodes for the online store. The number of nodes doesn't scale automatically, but you can manually update the number of nodes. If set to 0, the featurestore will not have an online store and cannot be used for online serving.",
          "format": "int32"
        },
        "scaling": {
          "$ref": "GoogleCloudAiplatformV1FeaturestoreOnlineServingConfigScaling",
          "description": "Online serving scaling configuration. Only one of `fixed_node_count` and `scaling` can be set. Setting one will reset the other."
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1FeaturestoreOnlineServingConfig"
    },
    "GoogleTypeDate": {
      "type": "object",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "properties": {
        "month": {
          "type": "integer",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "format": "int32"
        },
        "day": {
          "type": "integer",
          "format": "int32",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
        },
        "year": {
          "type": "integer",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "format": "int32"
        }
      },
      "id": "GoogleTypeDate"
    },
    "GoogleTypeColor": {
      "type": "object",
      "description": "Represents a color in the RGBA color space. This representation is designed for simplicity of conversion to and from color representations in various languages over compactness. For example, the fields of this representation can be trivially provided to the constructor of `java.awt.Color` in Java; it can also be trivially provided to UIColor's `+colorWithRed:green:blue:alpha` method in iOS; and, with just a little work, it can be easily formatted into a CSS `rgba()` string in JavaScript. This reference page doesn't have information about the absolute color space that should be used to interpret the RGB value—for example, sRGB, Adobe RGB, DCI-P3, and BT.2020. By default, applications should assume the sRGB color space. When color equality needs to be decided, implementations, unless documented otherwise, treat two colors as equal if all their red, green, blue, and alpha values each differ by at most `1e-5`. Example (Java): import com.google.type.Color; // ... public static java.awt.Color fromProto(Color protocolor) { float alpha = protocolor.hasAlpha() ? protocolor.getAlpha().getValue() : 1.0; return new java.awt.Color( protocolor.getRed(), protocolor.getGreen(), protocolor.getBlue(), alpha); } public static Color toProto(java.awt.Color color) { float red = (float) color.getRed(); float green = (float) color.getGreen(); float blue = (float) color.getBlue(); float denominator = 255.0; Color.Builder resultBuilder = Color .newBuilder() .setRed(red / denominator) .setGreen(green / denominator) .setBlue(blue / denominator); int alpha = color.getAlpha(); if (alpha != 255) { result.setAlpha( FloatValue .newBuilder() .setValue(((float) alpha) / denominator) .build()); } return resultBuilder.build(); } // ... Example (iOS / Obj-C): // ... static UIColor* fromProto(Color* protocolor) { float red = [protocolor red]; float green = [protocolor green]; float blue = [protocolor blue]; FloatValue* alpha_wrapper = [protocolor alpha]; float alpha = 1.0; if (alpha_wrapper != nil) { alpha = [alpha_wrapper value]; } return [UIColor colorWithRed:red green:green blue:blue alpha:alpha]; } static Color* toProto(UIColor* color) { CGFloat red, green, blue, alpha; if (![color getRed:&red green:&green blue:&blue alpha:&alpha]) { return nil; } Color* result = [[Color alloc] init]; [result setRed:red]; [result setGreen:green]; [result setBlue:blue]; if (alpha <= 0.9999) { [result setAlpha:floatWrapperWithValue(alpha)]; } [result autorelease]; return result; } // ... Example (JavaScript): // ... var protoToCssColor = function(rgb_color) { var redFrac = rgb_color.red || 0.0; var greenFrac = rgb_color.green || 0.0; var blueFrac = rgb_color.blue || 0.0; var red = Math.floor(redFrac * 255); var green = Math.floor(greenFrac * 255); var blue = Math.floor(blueFrac * 255); if (!('alpha' in rgb_color)) { return rgbToCssColor(red, green, blue); } var alphaFrac = rgb_color.alpha.value || 0.0; var rgbParams = [red, green, blue].join(','); return ['rgba(', rgbParams, ',', alphaFrac, ')'].join(''); }; var rgbToCssColor = function(red, green, blue) { var rgbNumber = new Number((red << 16) | (green << 8) | blue); var hexString = rgbNumber.toString(16); var missingZeros = 6 - hexString.length; var resultBuilder = ['#']; for (var i = 0; i < missingZeros; i++) { resultBuilder.push('0'); } resultBuilder.push(hexString); return resultBuilder.join(''); }; // ...",
      "properties": {
        "green": {
          "description": "The amount of green in the color as a value in the interval [0, 1].",
          "type": "number",
          "format": "float"
        },
        "alpha": {
          "type": "number",
          "description": "The fraction of this color that should be applied to the pixel. That is, the final pixel color is defined by the equation: `pixel color = alpha * (this color) + (1.0 - alpha) * (background color)` This means that a value of 1.0 corresponds to a solid color, whereas a value of 0.0 corresponds to a completely transparent color. This uses a wrapper message rather than a simple float scalar so that it is possible to distinguish between a default value and the value being unset. If omitted, this color object is rendered as a solid color (as if the alpha value had been explicitly given a value of 1.0).",
          "format": "float"
        },
        "blue": {
          "format": "float",
          "description": "The amount of blue in the color as a value in the interval [0, 1].",
          "type": "number"
        },
        "red": {
          "description": "The amount of red in the color as a value in the interval [0, 1].",
          "type": "number",
          "format": "float"
        }
      },
      "id": "GoogleTypeColor"
    },
    "GoogleCloudAiplatformV1RagVectorDbConfigRagManagedDbKNN": {
      "id": "GoogleCloudAiplatformV1RagVectorDbConfigRagManagedDbKNN",
      "description": "Config for KNN search.",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudAiplatformV1TrajectorySingleToolUseMetricValue": {
      "type": "object",
      "description": "TrajectorySingleToolUse metric value for an instance.",
      "id": "GoogleCloudAiplatformV1TrajectorySingleToolUseMetricValue",
      "properties": {
        "score": {
          "readOnly": true,
          "type": "number",
          "format": "float",
          "description": "Output only. TrajectorySingleToolUse score."
        }
      }
    },
    "GoogleCloudAiplatformV1SandboxEnvironmentTemplateResourceRequirements": {
      "type": "object",
      "description": "Message to define resource requests and limits (mirroring Kubernetes) for each sandbox instance created from this template.",
      "id": "GoogleCloudAiplatformV1SandboxEnvironmentTemplateResourceRequirements",
      "properties": {
        "requests": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The requested amounts of compute resources. Keys are resource names (e.g., \"cpu\", \"memory\"). Values are quantities (e.g., \"250m\", \"512Mi\").",
          "type": "object"
        },
        "limits": {
          "type": "object",
          "description": "Optional. The maximum amounts of compute resources allowed. Keys are resource names (e.g., \"cpu\", \"memory\"). Values are quantities (e.g., \"500m\", \"1Gi\").",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudAiplatformV1MemoryBankCustomizationConfigConsolidationConfig": {
      "id": "GoogleCloudAiplatformV1MemoryBankCustomizationConfigConsolidationConfig",
      "properties": {
        "revisionsPerCandidateCount": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Represents the maximum number of revisions to consider for each candidate memory. If not set, then the default value (1) will be used, which means that only the latest revision will be considered."
        }
      },
      "description": "Represents configuration for customizing how memories are consolidated.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1PipelineTaskDetail": {
      "properties": {
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Task create time.",
          "format": "google-datetime"
        },
        "taskId": {
          "type": "string",
          "format": "int64",
          "readOnly": true,
          "description": "Output only. The system generated ID of the task."
        },
        "pipelineTaskStatus": {
          "description": "Output only. A list of task status. This field keeps a record of task status evolving over time.",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudAiplatformV1PipelineTaskDetailPipelineTaskStatus"
          },
          "type": "array"
        },
        "state": {
          "description": "Output only. State of the task.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Specifies pending state for the task.",
            "Specifies task is being executed.",
            "Specifies task completed successfully.",
            "Specifies Task cancel is in pending state.",
            "Specifies task is being cancelled.",
            "Specifies task was cancelled.",
            "Specifies task failed.",
            "Specifies task was skipped due to cache hit.",
            "Specifies that the task was not triggered because the task's trigger policy is not satisfied. The trigger policy is specified in the `condition` field of PipelineJob.pipeline_spec."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "CANCEL_PENDING",
            "CANCELLING",
            "CANCELLED",
            "FAILED",
            "SKIPPED",
            "NOT_TRIGGERED"
          ]
        },
        "inputs": {
          "readOnly": true,
          "description": "Output only. The runtime input artifacts of the task.",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudAiplatformV1PipelineTaskDetailArtifactList"
          }
        },
        "parentTaskId": {
          "description": "Output only. The id of the parent task if the task is within a component scope. Empty if the task is at the root level.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "taskUniqueName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The unique name of a task. This field is used by rerun pipeline job. Console UI and Vertex AI SDK will support triggering pipeline job reruns. The name is constructed by concatenating all the parent tasks name with the task name. For example, if a task named \"child_task\" has a parent task named \"parent_task_1\" and parent task 1 has a parent task named \"parent_task_2\", the task unique name will be \"parent_task_2.parent_task_1.child_task\"."
        },
        "startTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Task start time.",
          "format": "google-datetime"
        },
        "taskName": {
          "readOnly": true,
          "description": "Output only. The user specified name of the task that is defined in pipeline_spec.",
          "type": "string"
        },
        "outputs": {
          "type": "object",
          "readOnly": true,
          "additionalProperties": {
            "$ref": "GoogleCloudAiplatformV1PipelineTaskDetailArtifactList"
          },
          "description": "Output only. The runtime output artifacts of the task."
        },
        "executorDetail": {
          "description": "Output only. The detailed execution info.",
          "readOnly": true,
          "$ref": "GoogleCloudAiplatformV1PipelineTaskExecutorDetail"
        },
        "error": {
          "$ref": "GoogleRpcStatus",
          "readOnly": true,
          "description": "Output only. The error that occurred during task execution. Only populated when the task's state is FAILED or CANCELLED."
        },
        "execution": {
          "description": "Output only. The execution metadata of the task.",
          "readOnly": true,
          "$ref": "GoogleCloudAiplatformV1Execution"
        },
        "endTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Task end time."
        }
      },
      "id": "GoogleCloudAiplatformV1PipelineTaskDetail",
      "description": "The runtime detail of a task execution.",
      "type": "object"
    },
    "GoogleTypeLatLng": {
      "id": "GoogleTypeLatLng",
      "type": "object",
      "description": "An object that represents a latitude/longitude pair. This is expressed as a pair of doubles to represent degrees latitude and degrees longitude. Unless specified otherwise, this object must conform to the WGS84 standard. Values must be within normalized ranges.",
      "properties": {
        "latitude": {
          "format": "double",
          "description": "The latitude in degrees. It must be in the range [-90.0, +90.0].",
          "type": "number"
        },
        "longitude": {
          "format": "double",
          "description": "The longitude in degrees. It must be in the range [-180.0, +180.0].",
          "type": "number"
        }
      }
    },
    "GoogleCloudAiplatformV1AddContextArtifactsAndExecutionsRequest": {
      "properties": {
        "executions": {
          "type": "array",
          "description": "The resource names of the Executions to associate with the Context. Format: `projects/{project}/locations/{location}/metadataStores/{metadatastore}/executions/{execution}`",
          "items": {
            "type": "string"
          }
        },
        "artifacts": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The resource names of the Artifacts to attribute to the Context. Format: `projects/{project}/locations/{location}/metadataStores/{metadatastore}/artifacts/{artifact}`"
        }
      },
      "description": "Request message for MetadataService.AddContextArtifactsAndExecutions.",
      "id": "GoogleCloudAiplatformV1AddContextArtifactsAndExecutionsRequest",
      "type": "object"
    },
    "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlTablesInputsTransformationTextArrayTransformation": {
      "description": "Treats the column as text array and performs following transformation functions. * Concatenate all text values in the array into a single text value using a space (\" \") as a delimiter, and then treat the result as a single text value. Apply the transformations for Text columns. * Empty arrays treated as an empty text.",
      "properties": {
        "columnName": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlTablesInputsTransformationTextArrayTransformation"
    },
    "GoogleCloudAiplatformV1ExactMatchSpec": {
      "description": "Spec for exact match metric - returns 1 if prediction and reference exactly matches, otherwise 0.",
      "properties": {},
      "type": "object",
      "id": "GoogleCloudAiplatformV1ExactMatchSpec"
    },
    "GoogleCloudAiplatformV1UpdateEndpointLongRunningRequest": {
      "properties": {
        "endpoint": {
          "$ref": "GoogleCloudAiplatformV1Endpoint",
          "description": "Required. The Endpoint which replaces the resource on the server. Currently we only support updating the `client_connection_config` field, all the other fields' update will be blocked."
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1UpdateEndpointLongRunningRequest",
      "description": "Request message for EndpointService.UpdateEndpointLongRunning."
    },
    "GoogleCloudAiplatformV1RagRetrievalConfigRanking": {
      "description": "Config for ranking and reranking.",
      "id": "GoogleCloudAiplatformV1RagRetrievalConfigRanking",
      "type": "object",
      "properties": {
        "llmRanker": {
          "description": "Optional. Config for LlmRanker.",
          "$ref": "GoogleCloudAiplatformV1RagRetrievalConfigRankingLlmRanker"
        },
        "rankService": {
          "$ref": "GoogleCloudAiplatformV1RagRetrievalConfigRankingRankService",
          "description": "Optional. Config for Rank Service."
        }
      }
    },
    "GoogleCloudAiplatformV1CustomCodeExecutionResult": {
      "properties": {
        "score": {
          "type": "number",
          "format": "float",
          "description": "Output only. Custom code execution score.",
          "readOnly": true
        }
      },
      "description": "Result for custom code execution metric.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1CustomCodeExecutionResult"
    },
    "GoogleCloudAiplatformV1TrajectoryInOrderMatchMetricValue": {
      "properties": {
        "score": {
          "readOnly": true,
          "description": "Output only. TrajectoryInOrderMatch score.",
          "format": "float",
          "type": "number"
        }
      },
      "description": "TrajectoryInOrderMatch metric value for an instance.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1TrajectoryInOrderMatchMetricValue"
    },
    "GoogleCloudAiplatformV1CreateTensorboardOperationMetadata": {
      "id": "GoogleCloudAiplatformV1CreateTensorboardOperationMetadata",
      "properties": {
        "genericMetadata": {
          "$ref": "GoogleCloudAiplatformV1GenericOperationMetadata",
          "description": "Operation metadata for Tensorboard."
        }
      },
      "type": "object",
      "description": "Details of operations that perform create Tensorboard."
    },
    "GoogleCloudAiplatformV1SecretRef": {
      "id": "GoogleCloudAiplatformV1SecretRef",
      "description": "Reference to a secret stored in the Cloud Secret Manager that will provide the value for this environment variable.",
      "type": "object",
      "properties": {
        "version": {
          "description": "The Cloud Secret Manager secret version. Can be 'latest' for the latest version, an integer for a specific version, or a version alias.",
          "type": "string"
        },
        "secret": {
          "description": "Required. The name of the secret in Cloud Secret Manager. Format: {secret_name}.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1EvaluationRunMetric": {
      "description": "The metric used for evaluation runs.",
      "type": "object",
      "properties": {
        "metricResourceName": {
          "description": "Optional. The resource name of the metric definition.",
          "type": "string"
        },
        "predefinedMetricSpec": {
          "description": "Spec for a pre-defined metric.",
          "$ref": "GoogleCloudAiplatformV1EvaluationRunMetricPredefinedMetricSpec"
        },
        "metric": {
          "description": "Required. The name of the metric.",
          "type": "string"
        },
        "llmBasedMetricSpec": {
          "description": "Spec for an LLM based metric.",
          "$ref": "GoogleCloudAiplatformV1EvaluationRunMetricLLMBasedMetricSpec"
        },
        "computationBasedMetricSpec": {
          "$ref": "GoogleCloudAiplatformV1EvaluationRunMetricComputationBasedMetricSpec",
          "description": "Spec for a computation based metric."
        },
        "metricConfig": {
          "description": "The metric config.",
          "$ref": "GoogleCloudAiplatformV1Metric"
        },
        "rubricBasedMetricSpec": {
          "$ref": "GoogleCloudAiplatformV1EvaluationRunMetricRubricBasedMetricSpec",
          "description": "Spec for rubric based metric."
        }
      },
      "id": "GoogleCloudAiplatformV1EvaluationRunMetric"
    },
    "GoogleCloudAiplatformV1WriteTensorboardRunDataRequest": {
      "id": "GoogleCloudAiplatformV1WriteTensorboardRunDataRequest",
      "type": "object",
      "description": "Request message for TensorboardService.WriteTensorboardRunData.",
      "properties": {
        "tensorboardRun": {
          "description": "Required. The resource name of the TensorboardRun to write data to. Format: `projects/{project}/locations/{location}/tensorboards/{tensorboard}/experiments/{experiment}/runs/{run}`",
          "type": "string"
        },
        "timeSeriesData": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1TimeSeriesData"
          },
          "type": "array",
          "description": "Required. The TensorboardTimeSeries data to write. Values with in a time series are indexed by their step value. Repeated writes to the same step will overwrite the existing value for that step. The upper limit of data points per write request is 5000."
        }
      }
    },
    "GoogleCloudAiplatformV1PauseModelDeploymentMonitoringJobRequest": {
      "id": "GoogleCloudAiplatformV1PauseModelDeploymentMonitoringJobRequest",
      "type": "object",
      "description": "Request message for JobService.PauseModelDeploymentMonitoringJob.",
      "properties": {}
    },
    "GoogleCloudAiplatformV1ImportDataConfig": {
      "properties": {
        "dataItemLabels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels that will be applied to newly imported DataItems. If an identical DataItem as one being imported already exists in the Dataset, then these labels will be appended to these of the already existing one, and if labels with identical key is imported before, the old label value will be overwritten. If two DataItems are identical in the same import data operation, the labels will be combined and if key collision happens in this case, one of the values will be picked randomly. Two DataItems are considered identical if their content bytes are identical (e.g. image bytes or pdf bytes). These labels will be overridden by Annotation labels specified inside index file referenced by import_schema_uri, e.g. jsonl file.",
          "type": "object"
        },
        "importSchemaUri": {
          "type": "string",
          "description": "Required. Points to a YAML file stored on Google Cloud Storage describing the import format. Validation will be done against the schema. The schema is defined as an [OpenAPI 3.0.2 Schema Object](https://github.com/OAI/OpenAPI-Specification/blob/main/versions/3.0.2.md#schemaObject)."
        },
        "gcsSource": {
          "description": "The Google Cloud Storage location for the input content.",
          "$ref": "GoogleCloudAiplatformV1GcsSource"
        },
        "annotationLabels": {
          "description": "Labels that will be applied to newly imported Annotations. If two Annotations are identical, one of them will be deduped. Two Annotations are considered identical if their payload, payload_schema_uri and all of their labels are the same. These labels will be overridden by Annotation labels specified inside index file referenced by import_schema_uri, e.g. jsonl file.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "description": "Describes the location from where we import data into a Dataset, together with the labels that will be applied to the DataItems and the Annotations.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1ImportDataConfig"
    },
    "GoogleIamV1SetIamPolicyRequest": {
      "id": "GoogleIamV1SetIamPolicyRequest",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "GoogleIamV1Policy"
        }
      },
      "description": "Request message for `SetIamPolicy` method.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1BatchImportModelEvaluationSlicesResponse": {
      "properties": {
        "importedModelEvaluationSlices": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. List of imported ModelEvaluationSlice.name."
        }
      },
      "description": "Response message for ModelService.BatchImportModelEvaluationSlices",
      "type": "object",
      "id": "GoogleCloudAiplatformV1BatchImportModelEvaluationSlicesResponse"
    },
    "GoogleCloudAiplatformV1ListModelVersionCheckpointsResponse": {
      "id": "GoogleCloudAiplatformV1ListModelVersionCheckpointsResponse",
      "type": "object",
      "properties": {
        "checkpoints": {
          "description": "List of Model Version checkpoints.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1ModelVersionCheckpoint"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass to ListModelVersionCheckpointsRequest.page_token to obtain that page.",
          "type": "string"
        }
      },
      "description": "Response message for ModelService.ListModelVersionCheckpoints"
    },
    "GoogleCloudAiplatformV1RagRetrievalConfigRankingLlmRanker": {
      "id": "GoogleCloudAiplatformV1RagRetrievalConfigRankingLlmRanker",
      "type": "object",
      "description": "Config for LlmRanker.",
      "properties": {
        "modelName": {
          "description": "Optional. The model name used for ranking. See [Supported models](https://cloud.google.com/vertex-ai/generative-ai/docs/model-reference/inference#supported-models).",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1NearestNeighbors": {
      "properties": {
        "neighbors": {
          "description": "All its neighbors.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1NearestNeighborsNeighbor"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1NearestNeighbors",
      "description": "Nearest neighbors for one query."
    },
    "GoogleCloudAiplatformV1GoogleMapsPlaces": {
      "description": "Grounding with Google Maps Places data (e.g. QueryPlaces). This is the default Google Maps grounding type when no other type is specified.",
      "properties": {},
      "type": "object",
      "id": "GoogleCloudAiplatformV1GoogleMapsPlaces"
    },
    "GoogleCloudAiplatformV1ExportFeatureValuesResponse": {
      "properties": {},
      "id": "GoogleCloudAiplatformV1ExportFeatureValuesResponse",
      "type": "object",
      "description": "Response message for FeaturestoreService.ExportFeatureValues."
    },
    "GoogleCloudAiplatformV1ToolParallelAiSearch": {
      "description": "ParallelAiSearch tool type. A tool that uses the Parallel.ai search engine for grounding.",
      "type": "object",
      "properties": {
        "apiKey": {
          "description": "Optional. The API key for ParallelAiSearch. If an API key is not provided, the system will attempt to verify access by checking for an active Parallel.ai subscription through the Google Cloud Marketplace. See https://docs.parallel.ai/search/search-quickstart for more details.",
          "type": "string"
        },
        "enableDataRetention": {
          "deprecated": true,
          "description": "Optional. Deprecated: Use `enable_zero_data_retention` instead. Instructs Vertex Grounding to use Parallel's Zero Data Retention Marketplace product. If this value is \"false\" or omitted, the Parallel Web Search for Grounding standard subscription will be used. If this value is \"true\", the Parallel Web Search for Grounding - ZDR subscription will be used.",
          "type": "boolean"
        },
        "customConfigs": {
          "type": "object",
          "description": "Optional. Custom configs for ParallelAiSearch. This field can be used to pass any parameter from the Parallel.ai Search API. See the Parallel.ai documentation for the full list of available parameters and their usage: https://docs.parallel.ai/api-reference/search-beta/search Currently only `source_policy`, `excerpts`, `max_results`, `mode`, `fetch_policy` can be set via this field. For example: { \"source_policy\": { \"include_domains\": [\"google.com\", \"wikipedia.org\"], \"exclude_domains\": [\"example.com\"] }, \"fetch_policy\": { \"max_age_seconds\": 3600 } }",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "enableZeroDataRetention": {
          "description": "Optional. Instructs Vertex Grounding to use Parallel's Zero Data Retention Marketplace product. If this value is \"false\" or omitted, the Parallel Web Search for Grounding standard subscription will be used. If this value is \"true\", the Parallel Web Search for Grounding - ZDR subscription will be used.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudAiplatformV1ToolParallelAiSearch"
    },
    "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlTablesInputsTransformationTextTransformation": {
      "id": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlTablesInputsTransformationTextTransformation",
      "type": "object",
      "description": "Training pipeline will perform following transformation functions. * The text as is--no change to case, punctuation, spelling, tense, and so on. * Tokenize text to words. Convert each words to a dictionary lookup index and generate an embedding for each index. Combine the embedding of all elements into a single embedding using the mean. * Tokenization is based on unicode script boundaries. * Missing values get their own lookup index and resulting embedding. * Stop-words receive no special treatment and are not removed.",
      "properties": {
        "columnName": {
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1RubricBasedInstructionFollowingSpec": {
      "properties": {},
      "id": "GoogleCloudAiplatformV1RubricBasedInstructionFollowingSpec",
      "description": "Spec for RubricBasedInstructionFollowing metric - returns rubrics and verdicts corresponding to rubrics along with overall score.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1BleuInstance": {
      "description": "Spec for bleu instance.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1BleuInstance",
      "properties": {
        "reference": {
          "description": "Required. Ground truth used to compare against the prediction.",
          "type": "string"
        },
        "prediction": {
          "description": "Required. Output of the evaluated model.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1ReadIndexDatapointsResponse": {
      "id": "GoogleCloudAiplatformV1ReadIndexDatapointsResponse",
      "description": "The response message for MatchService.ReadIndexDatapoints.",
      "type": "object",
      "properties": {
        "datapoints": {
          "description": "The result list of datapoints.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1IndexDatapoint"
          }
        }
      }
    },
    "GoogleCloudAiplatformV1UploadRagFileConfig": {
      "type": "object",
      "properties": {
        "ragFileTransformationConfig": {
          "description": "Specifies the transformation config for RagFiles.",
          "$ref": "GoogleCloudAiplatformV1RagFileTransformationConfig"
        }
      },
      "description": "Config for uploading RagFile.",
      "id": "GoogleCloudAiplatformV1UploadRagFileConfig"
    },
    "GoogleCloudAiplatformV1PurgeExecutionsMetadata": {
      "id": "GoogleCloudAiplatformV1PurgeExecutionsMetadata",
      "type": "object",
      "properties": {
        "genericMetadata": {
          "description": "Operation metadata for purging Executions.",
          "$ref": "GoogleCloudAiplatformV1GenericOperationMetadata"
        }
      },
      "description": "Details of operations that perform MetadataService.PurgeExecutions."
    },
    "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlForecastingInputsTransformationTimestampTransformation": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlForecastingInputsTransformationTimestampTransformation",
      "properties": {
        "timeFormat": {
          "description": "The format in which that time field is expressed. The time_format must either be one of: * `unix-seconds` * `unix-milliseconds` * `unix-microseconds` * `unix-nanoseconds` (for respectively number of seconds, milliseconds, microseconds and nanoseconds since start of the Unix epoch); or be written in `strftime` syntax. If time_format is not set, then the default format is RFC 3339 `date-time` format, where `time-offset` = `\"Z\"` (e.g. 1985-04-12T23:20:50.52Z)",
          "type": "string"
        },
        "columnName": {
          "type": "string"
        }
      },
      "description": "Training pipeline will perform following transformation functions. * Apply the transformation functions for Numerical columns. * Determine the year, month, day,and weekday. Treat each value from the timestamp as a Categorical column. * Invalid numerical values (for example, values that fall outside of a typical timestamp range, or are extreme values) receive no special treatment and are not removed."
    },
    "GoogleCloudAiplatformV1MigrateResourceRequestMigrateAutomlDatasetConfig": {
      "id": "GoogleCloudAiplatformV1MigrateResourceRequestMigrateAutomlDatasetConfig",
      "type": "object",
      "properties": {
        "datasetDisplayName": {
          "description": "Required. Display name of the Dataset in Vertex AI. System will pick a display name if unspecified.",
          "type": "string"
        },
        "dataset": {
          "description": "Required. Full resource name of automl Dataset. Format: `projects/{project}/locations/{location}/datasets/{dataset}`.",
          "type": "string"
        }
      },
      "description": "Config for migrating Dataset in automl.googleapis.com to Vertex AI's Dataset."
    },
    "GoogleCloudAiplatformV1FulfillmentInstance": {
      "id": "GoogleCloudAiplatformV1FulfillmentInstance",
      "description": "Spec for fulfillment instance.",
      "properties": {
        "instruction": {
          "description": "Required. Inference instruction prompt to compare prediction with.",
          "type": "string"
        },
        "prediction": {
          "type": "string",
          "description": "Required. Output of the evaluated model."
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1EvaluationMetric": {
      "id": "GoogleCloudAiplatformV1EvaluationMetric",
      "type": "object",
      "properties": {
        "gcsUri": {
          "type": "string",
          "description": "Optional. The Google Cloud Storage URI that stores the metric specification.."
        },
        "labels": {
          "type": "object",
          "description": "Optional. Labels for the evaluation metric.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
[...]
