{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/apps.alerts": {
          "description": "See and delete your domain's Google Workspace alerts, and send alert feedback"
        }
      }
    }
  },
  "parameters": {
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "alt": {
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json"
    }
  },
  "rootUrl": "https://alertcenter.googleapis.com/",
  "baseUrl": "https://alertcenter.googleapis.com/",
  "ownerDomain": "google.com",
  "documentationLink": "https://developers.google.com/workspace/admin/alertcenter/",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "id": "alertcenter:v1beta1",
  "version_module": true,
  "version": "v1beta1",
  "schemas": {
    "MailPhishing": {
      "description": "Proto for all phishing alerts with common payload. Supported types are any of the following: * User reported phishing * User reported spam spike * Suspicious message reported * Phishing reclassification * Malware reclassification * Gmail potential employee spoofing",
      "type": "object",
      "properties": {
        "domainId": {
          "description": "The domain ID.",
          "$ref": "DomainId"
        },
        "maliciousEntity": {
          "description": "The entity whose actions triggered a Gmail phishing alert.",
          "$ref": "MaliciousEntity"
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "GmailMessageInfo"
          },
          "description": "The list of messages contained by this alert."
        },
        "systemActionType": {
          "enumDescriptions": [
            "System action is unspecified.",
            "No operation.",
            "Messages were removed from the inbox."
          ],
          "description": "System actions on the messages.",
          "type": "string",
          "enum": [
            "SYSTEM_ACTION_TYPE_UNSPECIFIED",
            "NO_OPERATION",
            "REMOVED_FROM_INBOX"
          ]
        },
        "isInternal": {
          "description": "If `true`, the email originated from within the organization.",
          "type": "boolean"
        }
      },
      "id": "MailPhishing"
    },
    "BatchDeleteAlertsRequest": {
      "properties": {
        "alertId": {
          "description": "Required. The list of alert IDs to delete.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "customerId": {
          "description": "Optional. The unique identifier of the Google Workspace account of the customer the alerts are associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793).",
          "type": "string"
        }
      },
      "description": "A request to perform batch delete on alerts.",
      "type": "object",
      "id": "BatchDeleteAlertsRequest"
    },
    "SSOProfileDeletedEvent": {
      "properties": {
        "inboundSsoProfileName": {
          "description": "sso profile name which got deleted",
          "type": "string"
        }
      },
      "description": "Event occurred when SSO Profile deleted in customer's account. The event are being received from insight forwarder",
      "type": "object",
      "id": "SSOProfileDeletedEvent"
    },
    "DeviceCompromisedSecurityDetail": {
      "description": "Detailed information of a single MDM device compromised event.",
      "properties": {
        "deviceCompromisedState": {
          "type": "string",
          "description": "The device compromised state. Possible values are \"`Compromised`\" or \"`Not Compromised`\"."
        },
        "resourceId": {
          "type": "string",
          "description": "The device resource ID."
        },
        "serialNumber": {
          "description": "The serial number of the device.",
          "type": "string"
        },
        "deviceId": {
          "type": "string",
          "description": "Required. The device ID."
        },
        "deviceType": {
          "description": "The type of the device.",
          "type": "string"
        },
        "iosVendorId": {
          "description": "Required for iOS, empty for others.",
          "type": "string"
        },
        "deviceModel": {
          "type": "string",
          "description": "The model of the device."
        }
      },
      "id": "DeviceCompromisedSecurityDetail",
      "type": "object"
    },
    "DomainId": {
      "description": "Domain ID of Gmail phishing alerts.",
      "id": "DomainId",
      "type": "object",
      "properties": {
        "customerPrimaryDomain": {
          "description": "The primary domain for the customer.",
          "type": "string"
        }
      }
    },
    "MaliciousEntity": {
      "id": "MaliciousEntity",
      "description": "Entity whose actions triggered a Gmail phishing alert.",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The header from display name."
        },
        "entity": {
          "$ref": "User",
          "description": "The actor who triggered a gmail phishing alert."
        },
        "fromHeader": {
          "description": "The sender email address.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SensitiveAdminAction": {
      "id": "SensitiveAdminAction",
      "type": "object",
      "description": "Alert that is triggered when Sensitive Admin Action occur in customer account.",
      "properties": {
        "superAdminPasswordResetEvent": {
          "$ref": "SuperAdminPasswordResetEvent",
          "description": "Event occurred when password was reset for super admin in customer's account"
        },
        "ssoProfileUpdatedEvent": {
          "description": "Event occurred when SSO Profile updated in customer's account",
          "$ref": "SSOProfileUpdatedEvent"
        },
        "ssoProfileDeletedEvent": {
          "description": "Event occurred when SSO Profile deleted in customer's account",
          "$ref": "SSOProfileDeletedEvent"
        },
        "primaryAdminChangedEvent": {
          "$ref": "PrimaryAdminChangedEvent",
          "description": "Event occurred when primary admin changed in customer's account"
        },
        "actorEmail": {
          "description": "Email of person who performed the action",
          "type": "string"
        },
        "eventTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time at which event occurred"
        },
        "ssoProfileCreatedEvent": {
          "$ref": "SSOProfileCreatedEvent",
          "description": "Event occurred when SSO Profile created in customer's account"
        }
      }
    },
    "PhishingSpike": {
      "properties": {
        "messages": {
          "description": "The list of messages contained by this alert.",
          "type": "array",
          "items": {
            "$ref": "GmailMessageInfo"
          }
        },
        "maliciousEntity": {
          "description": "The entity whose actions triggered a Gmail phishing alert.",
          "$ref": "MaliciousEntity"
        },
        "domainId": {
          "$ref": "DomainId",
          "description": "The domain ID."
        },
        "isInternal": {
          "type": "boolean",
          "description": "If `true`, the email originated from within the organization."
        }
      },
      "description": "Alert for a spike in user reported phishing. *Warning*: This type has been deprecated. Use [MailPhishing](https://developers.google.com/workspace/admin/alertcenter/reference/rest/v1beta1/MailPhishing) instead.",
      "type": "object",
      "id": "PhishingSpike"
    },
    "GmailMessageInfo": {
      "properties": {
        "sentTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The sent time of the email."
        },
        "attachmentsSha256Hash": {
          "description": "The `SHA256` hash of email's attachment and all MIME parts.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "recipient": {
          "type": "string",
          "description": "The recipient of this email."
        },
        "date": {
          "format": "google-datetime",
          "type": "string",
          "description": "The date of the event related to this email."
        },
        "messageBodySnippet": {
          "description": "The snippet of the message body text (only available for reported emails).",
          "type": "string"
        },
        "messageId": {
          "type": "string",
          "description": "The message ID."
        },
        "subjectText": {
          "type": "string",
          "description": "The email subject text (only available for reported emails)."
        },
        "md5HashMessageBody": {
          "type": "string",
          "description": "The hash of the message body text."
        },
        "md5HashSubject": {
          "description": "The MD5 Hash of email's subject (only available for reported emails).",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GmailMessageInfo",
      "description": "Details of a message in phishing spike alert."
    },
    "KeyServiceError": {
      "properties": {
        "httpResponseCode": {
          "description": "HTTP response status code from the key service.",
          "format": "int64",
          "type": "string"
        },
        "errorInfo": {
          "type": "string",
          "enum": [
            "KEY_SERVICE_ERROR_INFO_UNSPECIFIED",
            "MALFORMED_JSON",
            "MISSING_KEY",
            "MISSING_SIGNATURE",
            "MISSING_ALGORITHM_NAME",
            "UNSUPPORTED_ALGORITHM",
            "FETCH_REQUEST_ERROR"
          ],
          "description": "Info on the key service error.",
          "enumDescriptions": [
            "Error info not specified.",
            "The response has malformed JSON.",
            "The response did not contain the wrapped/unwrapped key.",
            "SMIME sign only: The sign response did not contain the signature.",
            "SMIME only: The sign response does not include the algorithm name.",
            "SMIME only: the algorithm name in the response is not supported by the client.",
            "Fetch request on the client has failed."
          ]
        },
        "keyServiceUrl": {
          "type": "string",
          "description": "Url of the external key service."
        },
        "errorCount": {
          "format": "int64",
          "type": "string",
          "description": "Number of similar errors encountered."
        }
      },
      "type": "object",
      "id": "KeyServiceError",
      "description": "Error related to an external key service."
    },
    "PrimaryAdminChangedEvent": {
      "type": "object",
      "id": "PrimaryAdminChangedEvent",
      "description": "Event occurred when primary admin changed in customer's account. The event are being received from insight forwarder",
      "properties": {
        "previousAdminEmail": {
          "type": "string",
          "description": "Email of person who was the primary admin before the action"
        },
        "domain": {
          "description": "domain in which actioned occurred",
          "type": "string"
        },
        "updatedAdminEmail": {
          "description": "Email of person who is the primary admin after the action",
          "type": "string"
        }
      }
    },
    "Alert": {
      "description": "An alert affecting a customer.",
      "type": "object",
      "properties": {
        "deleted": {
          "type": "boolean",
          "description": "Output only. `True` if this alert is marked for deletion."
        },
        "etag": {
          "description": "Optional. `etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of an alert from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform alert updates in order to avoid race conditions: An `etag` is returned in the response which contains alerts, and systems are expected to put that etag in the request to update alert to ensure that their change will be applied to the same version of the alert. If no `etag` is provided in the call to update alert, then the existing alert is overwritten blindly.",
          "type": "string"
        },
        "type": {
          "description": "Required. The type of the alert. This is output only after alert is created. For a list of available alert types see [Google Workspace Alert types](https://developers.google.com/workspace/admin/alertcenter/reference/alert-types).",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time this alert was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "source": {
          "type": "string",
          "description": "Required. A unique identifier for the system that reported the alert. This is output only after alert is created. Supported sources are any of the following: * Google Operations * Mobile device management * Gmail phishing * Data Loss Prevention * Domain wide takeout * State sponsored attack * Google identity * Apps outage"
        },
        "data": {
          "description": "Optional. The data associated with this alert, for example google.apps.alertcenter.type.DeviceCompromised.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "endTime": {
          "description": "Optional. The time the event that caused this alert ceased being active. If provided, the end time must not be earlier than the start time. If not provided, it indicates an ongoing alert.",
          "type": "string",
          "format": "google-datetime"
        },
        "alertId": {
          "description": "Output only. The unique identifier for the alert.",
          "type": "string"
        },
        "securityInvestigationToolLink": {
          "type": "string",
          "description": "Output only. An optional [Security Investigation Tool](https://support.google.com/a/answer/7575955) query for this alert."
        },
        "metadata": {
          "$ref": "AlertMetadata",
          "description": "Output only. The metadata associated with this alert."
        },
        "customerId": {
          "description": "Output only. The unique identifier of the Google Workspace account of the customer.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The time this alert was last updated.",
          "type": "string"
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Required. The time the event that caused this alert was started or detected."
        }
      },
      "id": "Alert"
    },
    "RuleInfo": {
      "type": "object",
      "properties": {
        "displayName": {
          "description": "User provided name of the rule.",
          "type": "string"
        },
        "resourceName": {
          "type": "string",
          "description": "Resource name that uniquely identifies the rule."
        }
      },
      "description": "Proto that contains rule information.",
      "id": "RuleInfo"
    },
    "IdentityProviderError": {
      "type": "object",
      "id": "IdentityProviderError",
      "description": "Error related to an identity provider.",
      "properties": {
        "errorInfo": {
          "enumDescriptions": [
            "Error info not specified.",
            "Email in the ID token is different from the user's email.",
            "Discovery URL was unreachable.",
            "Discovery URL did not contain all the necessary information.",
            "URL for client-side encryption configuration content was unreachable.",
            "Client-side encryption .well-known URL did not contain all the necessary information.",
            "ID token returned by the identity provider is invalid.",
            "OIDC setup error.",
            "Identity provider was unreachable.",
            "Auth code exchange error.",
            "Authentication token has no \"email\" or \"google_email\" claim."
          ],
          "type": "string",
          "enum": [
            "IDENTITY_PROVIDER_ERROR_INFO_UNSPECIFIED",
            "EMAIL_MISMATCH",
            "UNAVAILABLE_DISCOVERY_CONTENT",
            "INVALID_DISCOVERY_CONTENT",
            "UNAVAILABLE_CSE_CONFIGURATION_CONTENT",
            "INVALID_CSE_CONFIGURATION_CONTENT",
            "INVALID_ID_TOKEN",
            "INVALID_OIDC_SETUP",
            "UNAVAILABLE_IDP",
            "AUTH_CODE_EXCHANGE_ERROR",
            "AUTHENTICATION_TOKEN_MISSING_CLAIM_EMAIL"
          ],
          "description": "Info on the identity provider error."
        },
        "errorCount": {
          "format": "int64",
          "description": "Number of similar errors encountered.",
          "type": "string"
        },
        "authorizationBaseUrl": {
          "description": "Authorization base url of the identity provider.",
          "type": "string"
        }
      }
    },
    "AlertMetadata": {
      "type": "object",
      "properties": {
        "customerId": {
          "description": "Output only. The unique identifier of the Google Workspace account of the customer.",
          "type": "string"
        },
        "status": {
          "type": "string",
          "description": "The current status of the alert. The supported values are the following: * NOT_STARTED * IN_PROGRESS * CLOSED"
        },
        "alertId": {
          "description": "Output only. The alert identifier.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The time this metadata was last updated.",
          "format": "google-datetime"
        },
        "severity": {
          "description": "The severity value of the alert. Alert Center will set this field at alert creation time, default's to an empty string when it could not be determined. The supported values for update actions on this field are the following: * HIGH * MEDIUM * LOW",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Optional. `etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of an alert metadata from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform metadata updates in order to avoid race conditions: An `etag` is returned in the response which contains alert metadata, and systems are expected to put that etag in the request to update alert metadata to ensure that their change will be applied to the same version of the alert metadata. If no `etag` is provided in the call to update alert metadata, then the existing alert metadata is overwritten blindly."
        },
        "assignee": {
          "description": "The email address of the user assigned to the alert.",
          "type": "string"
        }
      },
      "description": "An alert metadata.",
      "id": "AlertMetadata"
    },
    "SuspiciousActivity": {
      "type": "object",
      "description": "A mobile suspicious activity alert. Derived from audit logs.",
      "id": "SuspiciousActivity",
      "properties": {
        "events": {
          "items": {
            "$ref": "SuspiciousActivitySecurityDetail"
          },
          "type": "array",
          "description": "Required. The list of security events."
        },
        "email": {
          "description": "The email of the user this alert was created for.",
          "type": "string"
        }
      }
    },
    "RequestInfo": {
      "properties": {
        "appDeveloperEmail": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of app developers who triggered notifications for above application."
        },
        "numberOfRequests": {
          "type": "string",
          "description": "Required. Number of requests sent for this application to set up default SQL instance.",
          "format": "int64"
        },
        "appKey": {
          "type": "string",
          "description": "Required. The application that requires the SQL setup."
        }
      },
      "description": "Requests for one application that needs default SQL setup.",
      "id": "RequestInfo",
      "type": "object"
    },
    "ListAlertFeedbackResponse": {
      "properties": {
        "feedback": {
          "type": "array",
          "items": {
            "$ref": "AlertFeedback"
          },
          "description": "The list of alert feedback. Feedback entries for each alert are ordered by creation time descending."
        }
      },
      "description": "Response message for an alert feedback listing request.",
      "id": "ListAlertFeedbackResponse",
      "type": "object"
    },
    "VoicemailMisconfiguration": {
      "id": "VoicemailMisconfiguration",
      "description": "Issue(s) with sending to voicemail.",
      "type": "object",
      "properties": {
        "errors": {
          "items": {
            "$ref": "VoicemailRecipientError"
          },
          "type": "array",
          "description": "Issue(s) with voicemail recipients."
        }
      }
    },
    "ApnsCertificateExpirationInfo": {
      "type": "object",
      "description": "The explanation message associated with \"APNS certificate is expiring soon\" and \"APNS certificate has expired\" alerts.",
      "properties": {
        "expirationTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The expiration date of the APNS certificate."
        },
        "appleId": {
          "description": "The Apple ID used to create the certificate. It may be blank if admins didn't enter it.",
          "type": "string"
        },
        "uid": {
          "description": "The UID of the certificate.",
          "type": "string"
        }
      },
      "id": "ApnsCertificateExpirationInfo"
    },
    "BadWhitelist": {
      "properties": {
        "sourceIp": {
          "description": "The source IP address of the malicious email, for example, `127.0.0.1`.",
          "type": "string"
        },
        "maliciousEntity": {
          "description": "The entity whose actions triggered a Gmail phishing alert.",
          "$ref": "MaliciousEntity"
        },
        "domainId": {
          "$ref": "DomainId",
          "description": "The domain ID."
        },
        "messages": {
          "items": {
            "$ref": "GmailMessageInfo"
          },
          "description": "The list of messages contained by this alert.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "BadWhitelist",
      "description": "Alert for setting the domain or IP that malicious email comes from as whitelisted domain or IP in Gmail advanced settings."
    },
    "Entity": {
      "id": "Entity",
      "properties": {
        "link": {
          "description": "Link to a Security Investigation Tool search based on this entity, if available.",
          "type": "string"
        },
        "values": {
          "items": {
            "type": "string"
          },
          "description": "Extra values beyond name. The order of values should align with headers in EntityList.",
          "type": "array"
        },
        "name": {
          "description": "Human-readable name of this entity, such as an email address, file ID, or device name.",
          "type": "string"
        }
      },
      "description": "Individual entity affected by, or related to, an alert.",
      "type": "object"
    },
    "GoogleOperations": {
      "id": "GoogleOperations",
      "properties": {
        "header": {
          "type": "string",
          "description": "A header to display above the incident message. Typically used to attach a localized notice on the timeline for followup comms translations."
        },
        "domain": {
          "description": "Customer domain for email template personalization.",
          "type": "string"
        },
        "description": {
          "description": "A detailed, freeform incident description.",
          "type": "string"
        },
        "attachmentData": {
          "description": "Optional. Application-specific data for an incident, provided when the Google Workspace application which reported the incident cannot be completely restored to a valid state.",
          "$ref": "Attachment"
        },
        "affectedUserEmails": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of emails which correspond to the users directly affected by the incident."
        },
        "title": {
          "type": "string",
          "description": "A one-line incident description."
        }
      },
      "description": "An incident reported by Google Operations for a Google Workspace application.",
      "type": "object"
    },
    "DriveSyncStateChanged": {
      "id": "DriveSyncStateChanged",
      "properties": {
        "syncStateChangeReason": {
          "type": "string",
          "enum": [
            "SYNC_STATE_CHANGE_REASON_UNSPECIFIED",
            "UNUSUAL_ACTIVITY",
            "USER_FEEDBACK_TRUE_POSITIVE",
            "USER_FEEDBACK_FALSE_POSITIVE"
          ],
          "description": "The reason for the sync state change.",
          "enumDescriptions": [
            "Unspecified state change reason",
            "Sync state was changed due to unusual activity, such as potential ransomware",
            "The user provided feedback indicating that the initial sync state change may have been caused by unexpected activity",
            "The user provided feedback indicating that the initial sync state change may have been caused by a false positive"
          ]
        },
        "syncPauseStartTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time at which sync was paused."
        },
        "syncState": {
          "enumDescriptions": [
            "Unspecified state",
            "Sync is paused",
            "Sync is resumed"
          ],
          "type": "string",
          "enum": [
            "SYNC_STATE_UNSPECIFIED",
            "PAUSED",
            "RESUMED"
          ],
          "description": "The current sync state."
        },
        "email": {
          "description": "Email of the user affected.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Alerts for when a user is restricted from syncing content from clients such as Drive for Desktop."
    },
    "Attachment": {
      "id": "Attachment",
      "properties": {
        "csv": {
          "$ref": "Csv",
          "description": "A CSV file attachment."
        }
      },
      "type": "object",
      "description": "Attachment with application-specific information about an alert."
    },
    "Status": {
      "properties": {
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        },
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        }
      },
      "type": "object",
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "ActivityRule": {
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Rule create timestamp."
        },
        "triggerSource": {
          "type": "string",
          "description": "The trigger sources for this rule. * GMAIL_EVENTS * DEVICE_EVENTS * USER_EVENTS"
        },
        "supersedingAlert": {
          "type": "string",
          "description": "Alert ID superseding this alert. It is used to indicate that superseding alert is essentially extension of this alert and we found the relationship after creating both alerts."
        },
        "description": {
          "description": "Description of the rule.",
          "type": "string"
        },
        "windowSize": {
          "format": "google-duration",
          "description": "Rule window size. Possible values are 1 hour or 24 hours.",
          "type": "string"
        },
        "supersededAlerts": {
          "items": {
            "type": "string"
          },
          "description": "List of alert IDs superseded by this alert. It is used to indicate that this alert is essentially extension of superseded alerts and we found the relationship after creating these alerts.",
          "type": "array"
        },
        "updateTime": {
          "description": "The timestamp of the last update to the rule.",
          "format": "google-datetime",
          "type": "string"
        },
        "threshold": {
          "description": "Alert threshold is for example “COUNT > 5”.",
          "type": "string"
        },
        "query": {
          "type": "string",
          "description": "Query that is used to get the data from the associated source."
        },
        "actionNames": {
          "description": "List of action names associated with the rule threshold.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "name": {
          "description": "Rule name.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Alert display name."
        }
      },
      "type": "object",
      "id": "ActivityRule",
      "description": "Alerts from Google Workspace Security Center rules service configured by an admin."
    },
    "VaultAcceleratedDeletion": {
      "type": "object",
      "id": "VaultAcceleratedDeletion",
      "description": "Alert that is triggered when a Vault accelerated deletion request is created or canceled.",
      "properties": {
        "appType": {
          "enumDescriptions": [
            "Unspecified app type",
            "Gmail app type"
          ],
          "description": "Currentlty only Gmail is supported as app type",
          "type": "string",
          "enum": [
            "VAULT_ACCELERATED_DELETION_APP_TYPE_UNSPECIFIED",
            "VAULT_ACCELERATED_DELETION_APP_TYPE_GMAIL"
          ]
        },
        "deletionRequestId": {
          "description": "Accelerated deletion request ID intended to be used to construct the Vault UI link to the AD request",
          "type": "string"
        },
        "matterId": {
          "type": "string",
          "description": "Matter ID of the accelerated deletion request intended to be used to construct the Vault UI link to the AD request"
        },
        "actionType": {
          "enumDescriptions": [
            "Unspecified action type",
            "AD Create action type",
            "AD Cancel action type"
          ],
          "description": "The action can be one of create and cancel",
          "type": "string",
          "enum": [
            "VAULT_ACCELERATED_DELETION_ACTION_TYPE_UNSPECIFIED",
            "VAULT_ACCELERATED_DELETION_ACTION_TYPE_CREATE",
            "VAULT_ACCELERATED_DELETION_ACTION_TYPE_CANCEL"
          ]
        },
        "createTime": {
          "description": "The UTC timestamp of when the AD request was created",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "SSOProfileUpdatedEvent": {
      "id": "SSOProfileUpdatedEvent",
      "description": "Event occurred when SSO Profile updated in customer's account. The event are being received from insight forwarder",
      "type": "object",
      "properties": {
        "inboundSsoProfileChanges": {
          "description": "changes made to sso profile",
          "type": "string"
        },
        "inboundSsoProfileName": {
          "description": "sso profile name which got updated",
          "type": "string"
        }
      }
    },
    "Notification": {
      "properties": {
        "cloudPubsubTopic": {
          "description": "A Google Cloud Pub/sub topic destination.",
          "$ref": "CloudPubsubTopic"
        }
      },
      "id": "Notification",
      "type": "object",
      "description": "Settings for callback notifications. For more details see [Google Workspace Alert Notification](https://developers.google.com/workspace/admin/alertcenter/guides/notifications)."
    },
    "AccessApproval": {
      "type": "object",
      "properties": {
        "scope": {
          "type": "string",
          "description": "Scope of access, also known as a resource. This is further narrowed down by the product field."
        },
        "tickets": {
          "items": {
            "$ref": "SupportTicket"
          },
          "description": "Support tickets related to this Access Approvals request. Populated if there is an associated case number.",
          "type": "array"
        },
        "justificationReason": {
          "type": "array",
          "description": "Justification for data access based on justification enums.",
          "items": {
            "enumDescriptions": [
              "Justification unspecified",
              "Customer Initiated Support",
              "Google Initiated Review",
              "Google Initiated Service",
              "Third Party Data Request",
              "Google Response to Production Alert"
            ],
            "type": "string",
            "enum": [
              "JUSTIFICATION_UNSPECIFIED",
              "CUSTOMER_INITIATED_SUPPORT",
              "GOOGLE_INITIATED_REVIEW",
              "GOOGLE_INITIATED_SERVICE",
              "THIRD_PARTY_DATA_REQUEST",
              "GOOGLE_RESPONSE_TO_PRODUCTION_ALERT"
            ]
          }
        },
        "officeLocation": {
          "type": "string",
          "description": "Office location of Google staff requesting access such as \"US\"."
        },
        "products": {
          "type": "array",
          "description": "Products within scope of the Access Approvals request.",
          "items": {
            "type": "string"
          }
        },
        "requestId": {
          "type": "string",
          "description": "ID of the Access Approvals request. This is a helpful field when requesting support from Google."
        }
      },
      "id": "AccessApproval",
      "description": "Alert that is triggered when Google support requests to access customer data."
    },
    "Settings": {
      "description": "Customer-level settings.",
      "properties": {
        "notifications": {
          "description": "The list of notifications.",
          "type": "array",
          "items": {
            "$ref": "Notification"
          }
        }
      },
      "id": "Settings",
      "type": "object"
    },
    "AccountSuspensionWarning": {
      "id": "AccountSuspensionWarning",
      "description": "A warning that the customer's account is about to be suspended.",
      "properties": {
        "appealWindow": {
          "description": "The amount of time remaining to appeal an imminent suspension. After this window has elapsed, the account will be suspended. Only populated if the account suspension is in WARNING state.",
          "format": "google-duration",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "State is unspecified.",
            "Customer is receiving a warning about imminent suspension.",
            "Customer is being notified that their account has been suspended.",
            "Customer is being notified that their suspension appeal was approved.",
            "Customer has submitted their appeal, which is pending review."
          ],
          "type": "string",
          "enum": [
            "ACCOUNT_SUSPENSION_WARNING_STATE_UNSPECIFIED",
            "WARNING",
            "SUSPENDED",
            "APPEAL_APPROVED",
            "APPEAL_SUBMITTED"
          ],
          "description": "Account suspension warning state."
        },
        "suspensionDetails": {
          "type": "array",
          "items": {
            "$ref": "AccountSuspensionDetails"
          },
          "description": "Details about why an account is being suspended."
        }
      },
      "type": "object"
    },
    "SuspiciousActivitySecurityDetail": {
      "properties": {
        "oldValue": {
          "description": "The old value of the device property before the change.",
          "type": "string"
        },
        "deviceType": {
          "description": "The type of the device.",
          "type": "string"
        },
        "serialNumber": {
          "description": "The serial number of the device.",
          "type": "string"
        },
        "iosVendorId": {
          "type": "string",
          "description": "Required for iOS, empty for others."
        },
        "deviceId": {
          "type": "string",
          "description": "Required. The device ID."
        },
        "newValue": {
          "description": "The new value of the device property after the change.",
          "type": "string"
        },
        "resourceId": {
          "description": "The device resource ID.",
          "type": "string"
        },
        "deviceProperty": {
          "type": "string",
          "description": "The device property which was changed."
        },
        "deviceModel": {
          "description": "The model of the device.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "SuspiciousActivitySecurityDetail",
      "description": "Detailed information of a single MDM suspicious activity event."
    },
    "AppsOutage": {
      "type": "object",
      "description": "An outage incident reported for a Google Workspace service.",
      "properties": {
        "resolutionTime": {
          "type": "string",
          "description": "Timestamp when the outage is expected to be resolved, or has confirmed resolution. Provided only when known.",
          "format": "google-datetime"
        },
        "mergeInfo": {
          "description": "Indicates new alert details under which the outage is communicated. Only populated when Status is MERGED.",
          "$ref": "MergeInfo"
        },
        "incidentTrackingId": {
          "type": "string",
          "description": "Incident tracking ID."
        },
        "nextUpdateTime": {
          "description": "Timestamp by which the next update is expected to arrive.",
          "format": "google-datetime",
          "type": "string"
        },
        "status": {
          "description": "Current outage status.",
          "type": "string",
          "enum": [
            "STATUS_UNSPECIFIED",
            "NEW",
            "ONGOING",
            "RESOLVED",
            "FALSE_POSITIVE",
            "PARTIALLY_RESOLVED",
            "MERGED",
            "DOWNGRADED"
          ],
          "enumDescriptions": [
            "Status is unspecified.",
            "The incident has just been reported.",
            "The incident is ongoing.",
            "The incident has been resolved.",
            "Further assessment indicated no customer impact.",
            "The incident has been partially resolved.",
            "The incident was merged into a parent.",
            "The incident has lower impact than initially anticipated."
          ]
        },
        "dashboardUri": {
          "description": "Link to the outage event in Google Workspace Status Dashboard",
          "type": "string"
        },
        "products": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of products impacted by the outage."
        }
      },
      "id": "AppsOutage"
    },
    "StateSponsoredAttack": {
      "type": "object",
      "properties": {
        "email": {
          "description": "The email of the user this incident was created for.",
          "type": "string"
        }
      },
      "description": "A state-sponsored attack alert. Derived from audit logs.",
      "id": "StateSponsoredAttack"
    },
    "ReportingRule": {
      "properties": {
        "alertDetails": {
          "format": "byte",
          "type": "string",
          "description": "Any other associated alert details, for example, AlertConfiguration."
        },
        "name": {
          "type": "string",
          "description": "Rule name"
        },
        "query": {
          "format": "byte",
          "type": "string",
          "description": "Alert Rule query Sample Query query { condition { filter { expected_application_id: 777491262838 expected_event_name: \"indexable_content_change\" filter_op: IN } } conjunction_operator: OR }"
        }
      },
      "description": "Alerts from Reporting Rules configured by Admin.",
      "type": "object",
      "id": "ReportingRule"
    },
    "MatchInfo": {
      "properties": {
        "userDefinedDetector": {
          "description": "For matched detector defined by administrators.",
          "$ref": "UserDefinedDetectorInfo"
        },
        "predefinedDetector": {
          "$ref": "PredefinedDetectorInfo",
          "description": "For matched detector predefined by Google."
        }
      },
      "type": "object",
      "description": "Proto that contains match information from the condition part of the rule.",
      "id": "MatchInfo"
    },
    "DlpRuleViolation": {
      "properties": {
        "ruleViolationInfo": {
          "description": "Details about the violated DLP rule. Admins can use the predefined detectors provided by Google Cloud DLP https://cloud.google.com/dlp/ when setting up a DLP rule. Matched Cloud DLP detectors in this violation if any will be captured in the MatchInfo.predefined_detector.",
          "$ref": "RuleViolationInfo"
        }
      },
      "description": "Alerts that get triggered on violations of Data Loss Prevention (DLP) rules.",
      "id": "DlpRuleViolation",
      "type": "object"
    },
    "TransferError": {
      "properties": {
        "id": {
          "description": "Ring group or auto attendant ID. Not set for users.",
          "type": "string"
        },
        "invalidReason": {
          "type": "string",
          "enum": [
            "TRANSFER_INVALID_REASON_UNSPECIFIED",
            "TRANSFER_TARGET_DELETED",
            "UNLICENSED",
            "SUSPENDED",
            "NO_PHONE_NUMBER"
          ],
          "description": "Reason for the error.",
          "enumDescriptions": [
            "Reason wasn't specified.",
            "The transfer target can't be found—most likely it was deleted.",
            "The user's Google Voice license was removed.",
            "The user's Google Workspace account was suspended.",
            "The transfer target no longer has a phone number. This reason should become deprecated once we support numberless transfer."
          ]
        },
        "email": {
          "description": "User's email address. This may be unavailable if the entity was deleted.",
          "type": "string"
        },
        "entityType": {
          "type": "string",
          "enum": [
            "TRANSFER_ENTITY_TYPE_UNSPECIFIED",
            "TRANSFER_AUTO_ATTENDANT",
            "TRANSFER_RING_GROUP",
            "TRANSFER_USER"
          ],
          "enumDescriptions": [
            "Entity type wasn't set.",
            "Transfer to auto attendant.",
            "Transfer to ring group.",
            "Transfer to user."
          ],
          "description": "Type of entity being transferred to. For ring group members, this should always be USER."
        },
        "name": {
          "type": "string",
          "description": "User's full name, or the ring group / auto attendant name. This may be unavailable if the entity was deleted."
        }
      },
      "type": "object",
      "description": "Details for an invalid transfer or forward.",
      "id": "TransferError"
    },
    "BatchUndeleteAlertsRequest": {
      "properties": {
        "customerId": {
          "description": "Optional. The unique identifier of the Google Workspace account of the customer the alerts are associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793).",
          "type": "string"
        },
        "alertId": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The list of alert IDs to undelete."
        }
      },
      "description": "A request to perform batch undelete on alerts.",
      "type": "object",
      "id": "BatchUndeleteAlertsRequest"
    },
    "UserDefinedDetectorInfo": {
      "type": "object",
      "id": "UserDefinedDetectorInfo",
      "description": "Detector defined by administrators.",
      "properties": {
        "resourceName": {
          "type": "string",
          "description": "Resource name that uniquely identifies the detector."
        },
        "displayName": {
          "description": "Display name of the detector.",
          "type": "string"
        }
      }
    },
    "BatchUndeleteAlertsResponse": {
      "type": "object",
      "description": "Response to batch undelete operation on alerts.",
      "id": "BatchUndeleteAlertsResponse",
      "properties": {
        "failedAlertStatus": {
          "description": "The status details for each failed `alert_id`.",
          "type": "object",
          "additionalProperties": {
            "$ref": "Status"
          }
        },
        "successAlertIds": {
          "description": "The successful list of alert IDs.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "AbuseDetected": {
      "id": "AbuseDetected",
      "type": "object",
      "description": "A generic alert for abusive user activity occurring with a customer.",
      "properties": {
        "subAlertId": {
          "type": "string",
          "description": "Unique identifier of each sub alert that is onboarded."
        },
        "variationType": {
          "description": "Variation of AbuseDetected alerts. The variation_type determines the texts displayed the alert details. This differs from sub_alert_id because each sub alert can have multiple variation_types, representing different stages of the alert.",
          "enumDescriptions": [
            "AbuseDetected alert variation type unspecified. No alert should be unspecified.",
            "Variation displayed for Drive abusive content alerts.",
            "Variation displayed for Limited Disable alerts, when a Google service is disabled for a user, totally or partially, due to the user's abusive behavior."
          ],
          "type": "string",
          "enum": [
            "ABUSE_DETECTED_VARIATION_TYPE_UNSPECIFIED",
            "DRIVE_ABUSIVE_CONTENT",
            "LIMITED_DISABLE"
          ]
        },
        "product": {
          "description": "Product that the abuse is originating from.",
          "type": "string"
        },
        "additionalDetails": {
          "description": "List of abusive users/entities to be displayed in a table in the alert.",
          "$ref": "EntityList"
        }
      }
    },
    "VoicemailRecipientError": {
      "properties": {
        "invalidReason": {
          "enumDescriptions": [
            "Reason wasn't specified.",
            "User can't receive emails due to insufficient quota.",
            "All recipients were deleted."
          ],
          "type": "string",
          "enum": [
            "EMAIL_INVALID_REASON_UNSPECIFIED",
            "OUT_OF_QUOTA",
            "RECIPIENT_DELETED"
          ],
          "description": "Reason for the error."
        },
        "email": {
          "type": "string",
          "description": "Email address of the invalid recipient. This may be unavailable if the recipient was deleted."
        }
      },
      "id": "VoicemailRecipientError",
      "description": "Issue(s) with a voicemail recipient.",
      "type": "object"
    },
    "SuperAdminPasswordResetEvent": {
      "description": "Event occurred when password was reset for super admin in customer's account. The event are being received from insight forwarder",
      "type": "object",
      "id": "SuperAdminPasswordResetEvent",
      "properties": {
        "userEmail": {
          "description": "email of person whose password was reset",
          "type": "string"
        }
      }
    },
    "PredefinedDetectorInfo": {
      "id": "PredefinedDetectorInfo",
      "type": "object",
      "description": "Detector provided by Google.",
      "properties": {
        "detectorName": {
          "description": "Name that uniquely identifies the detector.",
          "type": "string"
        }
      }
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "type": "object",
      "id": "Empty"
    },
    "BatchDeleteAlertsResponse": {
      "description": "Response to batch delete operation on alerts.",
      "type": "object",
      "id": "BatchDeleteAlertsResponse",
      "properties": {
        "failedAlertStatus": {
          "additionalProperties": {
            "$ref": "Status"
          },
          "description": "The status details for each failed `alert_id`.",
          "type": "object"
        },
        "successAlertIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The successful list of alert IDs."
        }
      }
    },
    "AppSettingsChanged": {
      "properties": {
        "alertDetails": {
          "format": "byte",
          "description": "Any other associated alert details, for example, AlertConfiguration.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Rule name"
        }
      },
      "description": "Alerts from AppSettingsChanged bucket Rules configured by Admin which contain the following rules: - Calendar settings changed - Drive settings changed - Email settings changed - Mobile settings changed",
      "type": "object",
      "id": "AppSettingsChanged"
    },
    "AccountWarning": {
      "type": "object",
      "properties": {
        "email": {
          "description": "Required. The email of the user that this event belongs to.",
          "type": "string"
        },
        "loginDetails": {
          "description": "Optional. Details of the login action associated with the warning event. This is only available for: * Suspicious login * Suspicious login (less secure app) * Suspicious programmatic login * User suspended (suspicious activity)",
          "$ref": "LoginDetails"
        }
      },
      "description": "Alerts for user account warning events.",
      "id": "AccountWarning"
    },
    "AccountSuspensionDetails": {
      "type": "object",
      "description": "Details about why an account is receiving an account suspension warning.",
      "properties": {
        "abuseReason": {
          "enumDescriptions": [
            "Abuse reason is unspecified.",
            "This account is being suspended for a Terms of Service violation.",
            "This account is being suspended for spam.",
            "This account is being suspended for phishing.",
            "This account is being suspended for artificially boosting traffic to a website.",
            "This account is being suspended for fraud.",
            "This account is being suspended for number harvesting.",
            "This account is being suspended for payments fraud.",
            "This account is being suspended for unwanted content.",
            "This account is being suspended for being an unqualified educational institution."
          ],
          "type": "string",
          "enum": [
            "ACCOUNT_SUSPENSION_ABUSE_REASON_UNSPECIFIED",
            "TOS_VIOLATION",
            "SPAM",
            "PHISHING",
            "TRAFFIC_PUMPING",
            "FRAUD",
            "NUMBER_HARVESTING",
            "PAYMENTS_FRAUD",
            "UNWANTED_CONTENT",
            "UNQUALIFIED_EDU"
          ],
          "description": "The reason why this account is receiving an account suspension warning."
        },
        "productName": {
          "type": "string",
          "description": "The name of the product being abused. This is restricted to only the following values: \"Gmail\" \"Google Workspace\" \"Payments\" \"Voice\" \"YouTube\" \"Other\""
        }
      },
      "id": "AccountSuspensionDetails"
    },
    "ClientSideEncryptionServiceUnavailable": {
      "id": "ClientSideEncryptionServiceUnavailable",
      "type": "object",
      "description": "Alerts for client-side encryption outages.",
      "properties": {
        "idpError": {
          "description": "Identity providers impacted by an outage or misconfiguration.",
          "items": {
            "$ref": "IdentityProviderError"
          },
          "type": "array"
        },
        "keyServiceError": {
          "type": "array",
          "items": {
            "$ref": "KeyServiceError"
          },
          "description": "External key services impacted by an outage or misconfiguration."
        }
      }
    },
    "ResourceInfo": {
      "type": "object",
      "description": "Proto that contains resource information.",
      "properties": {
        "messageId": {
          "description": "RFC2822 message ID.",
          "type": "string"
        },
        "documentId": {
          "type": "string",
          "description": "Drive file ID."
        },
        "chatMessageId": {
          "description": "Chat message ID.",
          "type": "string"
        },
        "resourceTitle": {
          "type": "string",
          "description": "Title of the resource, for example email subject, or document title."
        },
        "chatAttachmentId": {
          "type": "string",
          "description": "Chat attachment ID."
        },
        "deviceId": {
          "description": "Id to identify a device. For example, for Android devices, this is the \"Android Device Id\" and for Chrome OS devices, it's the \"Device Virtual Id\".",
          "type": "string"
        }
      },
      "id": "ResourceInfo"
    },
    "MandatoryServiceAnnouncement": {
      "description": "Alert Created by the MSA team for communications necessary for continued use of Google Workspace Products.",
      "type": "object",
      "id": "MandatoryServiceAnnouncement",
      "properties": {
        "title": {
          "type": "string",
          "description": "One line summary of the announcement"
        },
        "description": {
          "description": "Detailed, freeform text describing the announcement",
          "type": "string"
        }
      }
    },
    "SSOProfileCreatedEvent": {
      "properties": {
        "inboundSsoProfileName": {
          "type": "string",
          "description": "sso profile name which got created"
        }
      },
      "type": "object",
      "description": "Event occurred when SSO Profile created in customer's account. The event are being received from insight forwarder",
      "id": "SSOProfileCreatedEvent"
    },
    "MergeInfo": {
      "properties": {
        "newAlertId": {
          "type": "string",
          "description": "Optional. New alert ID. Reference the [google.apps.alertcenter.Alert] with this ID for the current state."
        },
        "newIncidentTrackingId": {
          "type": "string",
          "description": "The new tracking ID from the parent incident."
        }
      },
      "description": "New alert tracking numbers.",
      "id": "MergeInfo",
      "type": "object"
    },
    "DeviceCompromised": {
      "properties": {
        "email": {
          "description": "The email of the user this alert was created for.",
          "type": "string"
        },
        "events": {
          "type": "array",
          "description": "Required. The list of security events.",
          "items": {
            "$ref": "DeviceCompromisedSecurityDetail"
          }
        }
      },
      "id": "DeviceCompromised",
      "type": "object",
      "description": "A mobile device compromised alert. Derived from audit logs."
    },
    "CloudPubsubTopic": {
      "description": "A reference to a Cloud Pubsub topic. To register for notifications, the owner of the topic must grant `alerts-api-push-notifications@system.gserviceaccount.com` the `projects.topics.publish` permission.",
      "type": "object",
      "id": "CloudPubsubTopic",
      "properties": {
        "payloadFormat": {
          "type": "string",
          "enum": [
            "PAYLOAD_FORMAT_UNSPECIFIED",
            "JSON"
          ],
          "enumDescriptions": [
            "Payload format is not specified (will use JSON as default).",
            "Use JSON."
          ],
          "description": "Optional. The format of the payload that would be sent. If not specified the format will be JSON."
        },
        "topicName": {
          "description": "The `name` field of a Cloud Pubsub [Topic] (https://cloud.google.com/pubsub/docs/reference/rest/v1/projects.topics#Topic).",
          "type": "string"
        }
      }
    },
    "CsvRow": {
      "id": "CsvRow",
      "properties": {
        "entries": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The data entries in a CSV file row, as a string array rather than a single comma-separated string."
        }
      },
      "type": "object",
      "description": "A representation of a single data row in a CSV file."
    },
    "AlertFeedback": {
      "id": "AlertFeedback",
      "properties": {
        "alertId": {
          "description": "Output only. The alert identifier.",
          "type": "string"
        },
        "email": {
          "type": "string",
          "description": "Output only. The email of the user that provided the feedback."
        },
        "type": {
          "enumDescriptions": [
            "The feedback type is not specified.",
            "The alert report is not useful.",
            "The alert report is somewhat useful.",
            "The alert report is very useful."
          ],
          "type": "string",
          "enum": [
            "ALERT_FEEDBACK_TYPE_UNSPECIFIED",
            "NOT_USEFUL",
            "SOMEWHAT_USEFUL",
            "VERY_USEFUL"
          ],
          "description": "Required. The type of the feedback."
        },
        "createTime": {
          "description": "Output only. The time this feedback was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "customerId": {
          "type": "string",
          "description": "Output only. The unique identifier of the Google Workspace account of the customer."
        },
        "feedbackId": {
          "type": "string",
          "description": "Output only. The unique identifier for the feedback."
        }
      },
      "type": "object",
      "description": "A customer feedback about an alert."
    },
    "UndeleteAlertRequest": {
      "properties": {
        "customerId": {
          "type": "string",
          "description": "Optional. The unique identifier of the Google Workspace account of the customer the alert is associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793)."
        }
      },
      "type": "object",
      "id": "UndeleteAlertRequest",
      "description": "A request to undelete a specific alert that was marked for deletion."
    },
    "SupportTicket": {
      "properties": {
        "ticketUrl": {
          "type": "string",
          "description": "Link to support ticket"
        },
        "ticketId": {
          "description": "Support ticket ID",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Support ticket related to Access Approvals request",
      "id": "SupportTicket"
    },
    "Csv": {
      "description": "A representation of a CSV file attachment, as a list of column headers and a list of data rows.",
      "type": "object",
      "id": "Csv",
      "properties": {
        "dataRows": {
          "type": "array",
          "description": "The list of data rows in a CSV file, as string arrays rather than as a single comma-separated string.",
          "items": {
            "$ref": "CsvRow"
          }
        },
        "headers": {
          "description": "The list of headers for data columns in a CSV file.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "EntityList": {
      "description": "EntityList stores entities in a format that can be translated to a table in the Alert Center UI.",
      "id": "EntityList",
      "properties": {
        "entities": {
          "items": {
            "$ref": "Entity"
          },
          "type": "array",
          "description": "List of entities affected by the alert."
        },
        "name": {
          "description": "Name of the key detail used to display this entity list.",
          "type": "string"
        },
        "headers": {
          "type": "array",
          "description": "Headers of the values in entities. If no value is defined in Entity, this field should be empty.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "VoiceMisconfiguration": {
      "properties": {
        "entityName": {
          "description": "Name of the entity whose configuration is now invalid.",
          "type": "string"
        },
        "fixUri": {
          "description": "Link that the admin can follow to fix the issue.",
          "type": "string"
        },
        "transferMisconfiguration": {
          "$ref": "TransferMisconfiguration",
          "description": "Issue(s) with transferring or forwarding to an external entity."
        },
        "entityType": {
          "description": "Type of the entity whose configuration is now invalid.",
          "enumDescriptions": [
            "Entity type wasn't set.",
            "Invalid auto attendant.",
            "Invalid ring group."
          ],
          "type": "string",
          "enum": [
            "ENTITY_TYPE_UNSPECIFIED",
            "AUTO_ATTENDANT",
            "RING_GROUP"
          ]
        },
        "voicemailMisconfiguration": {
          "description": "Issue(s) with sending to voicemail.",
          "$ref": "VoicemailMisconfiguration"
        },
        "membersMisconfiguration": {
          "description": "Issue(s) with members of a ring group.",
          "$ref": "TransferMisconfiguration"
        }
      },
      "id": "VoiceMisconfiguration",
      "description": "An alert triggered when Google Voice configuration becomes invalid, generally due to an external entity being modified or deleted.",
      "type": "object"
    },
    "DomainWideTakeoutInitiated": {
      "type": "object",
      "properties": {
        "email": {
          "description": "The email of the admin who initiated the takeout.",
          "type": "string"
        },
        "takeoutRequestId": {
          "description": "The takeout request ID.",
          "type": "string"
        }
      },
      "id": "DomainWideTakeoutInitiated",
      "description": "A takeout operation for the entire domain was initiated by an admin. Derived from audit logs."
    },
    "ListAlertsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The token for the next page. If not empty, indicates that there may be more alerts that match the listing request; this value can be used in a subsequent ListAlertsRequest to get alerts continuing from last result of the current list call.",
          "type": "string"
        },
        "alerts": {
          "type": "array",
          "items": {
            "$ref": "Alert"
          },
          "description": "The list of alerts."
        }
      },
      "type": "object",
      "id": "ListAlertsResponse",
      "description": "Response message for an alert listing request."
    },
    "TransferMisconfiguration": {
      "type": "object",
      "properties": {
        "errors": {
          "type": "array",
          "items": {
            "$ref": "TransferError"
          },
          "description": "Details for each invalid transfer or forward."
        }
      },
      "description": "Error related to transferring or forwarding a phone call.",
      "id": "TransferMisconfiguration"
    },
    "RuleViolationInfo": {
      "id": "RuleViolationInfo",
      "properties": {
        "ruleInfo": {
          "description": "Details of the violated rule.",
          "$ref": "RuleInfo"
        },
        "triggeredActionTypes": {
          "items": {
            "type": "string",
            "enum": [
              "ACTION_TYPE_UNSPECIFIED",
              "DRIVE_BLOCK_EXTERNAL_SHARING",
              "DRIVE_WARN_ON_EXTERNAL_SHARING",
              "DRIVE_RESTRICT_DOWNLOAD_PRINT_COPY",
              "DRIVE_RESTRICT_DOWNLOAD_PRINT_COPY_FOR_ALL",
              "DRIVE_APPLY_DRIVE_LABELS",
              "GMAIL_QUARANTINE_MESSAGE",
              "GMAIL_BLOCK_MESSAGE",
              "GMAIL_WARN_USERS",
              "GMAIL_APPLY_CLASSIFICATION_LABELS",
              "CHROME_BLOCK_FILE_DOWNLOAD",
              "CHROME_WARN_FILE_DOWNLOAD",
              "CHROME_BLOCK_FILE_UPLOAD",
              "CHROME_WARN_FILE_UPLOAD",
              "CHROME_BLOCK_WEB_CONTENT_UPLOAD",
              "CHROME_WARN_WEB_CONTENT_UPLOAD",
              "CHROME_BLOCK_PAGE_PRINT",
              "CHROME_WARN_PAGE_PRINT",
              "CHROME_BLOCK_FILE_TRANSFER",
              "CHROME_WARN_FILE_TRANSFER",
              "CHROME_BLOCK_URL_VISITED",
              "CHROME_WARN_URL_VISITED",
              "CHROME_BLOCK_SCREENSHOT",
              "CHROME_STORE_CONTENT",
              "CHROME_WATERMARK",
              "CHROME_FORCE_SAVE_TO_CLOUD",
              "CHROME_KEEP_IN_MANAGED_CHROME",
              "CHROME_BLOCK_DATA_COPIED",
              "CHROME_WARN_DATA_COPIED",
              "DELETE_WEBPROTECT_EVIDENCE",
              "CHAT_BLOCK_CONTENT",
              "CHAT_WARN_USER",
              "ALERT",
              "RULE_ACTIVATE",
              "RULE_DEACTIVATE"
            ],
            "enumDescriptions": [
              "Action type is unspecified.",
              "Block sharing a file externally.",
              "Show a warning message when sharing a file externally.",
              "Disable download, print, and copy for commenters and viewers in drive.",
              "Disable download, print, and copy for all collaborators in drive.",
              "Apply customer specified Drive labels to the file.",
              "Quarantine message.",
              "Block message.",
              "Warn users.",
              "Apply classification labels.",
              "Chrome actions. Block file download.",
              "Warn user about downloaded file.",
              "Block file upload.",
              "Warn user about uploaded file.",
              "Block web content upload.",
              "Warn user about uploaded web content.",
              "Block page print.",
              "Warn user about printed page.",
              "Block ChromeOS file transfer.",
              "Warn user about ChromeOS file transfer.",
              "Block Chrome URL visit.",
              "Warn user about Chrome URL visited.",
              "Block screenshot alert.",
              "Store the content that violated the rule.",
              "Send watermark alert",
              "Force save to cloud storage.",
              "Keep in managed Chrome.",
              "Block text copied from Chrome.",
              "Warn on text copied from Chrome.",
              "Delete web protect evidence file",
              "Chat actions. Block Chat content to be sent out.",
              "Warn end user about Chat content.",
              "Send alert.",
              "Activate Rule Action",
              "Deactivate Rule Action"
            ]
          },
          "description": "Actions applied as a consequence of the rule being triggered.",
          "type": "array"
        },
        "dataSource": {
          "enumDescriptions": [
            "Data source is unspecified.",
            "Drive data source.",
            "Gmail data source.",
            "Chrome data source.",
            "Chat data source."
          ],
          "type": "string",
          "enum": [
            "DATA_SOURCE_UNSPECIFIED",
            "DRIVE",
            "GMAIL",
            "CHROME",
            "CHAT"
          ],
          "description": "Source of the data."
        },
        "agentType": {
          "type": "string",
          "enum": [
            "AGENT_TYPE_UNSPECIFIED",
            "STUDIO",
            "WORK_AGENT"
          ],
          "enumDescriptions": [
            "Unspecified agent type.",
            "Studio agent type.",
            "Work Agent agent type."
          ],
          "description": "Optional. Agent type that triggered the rule."
        },
        "matchInfo": {
          "items": {
            "$ref": "MatchInfo"
          },
          "type": "array",
          "description": "List of matches that were found in the resource content."
        },
        "eventType": {
          "type": "string",
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "ACCESS_BLOCKED",
            "SHARING_BLOCKED"
          ],
          "description": "Event associated with this alert after applying the rule.",
          "enumDescriptions": [
            "Event type wasn't set.",
            "An access attempt was blocked.",
            "A sharing attempt was blocked."
          ]
        },
        "resourceInfo": {
          "description": "Details of the resource which violated the rule.",
          "$ref": "ResourceInfo"
        },
        "recipients": {
          "description": "Resource recipients. For Drive, they are grantees that the Drive file was shared with at the time of rule triggering. Valid values include user emails, group emails, domains, or 'anyone' if the file was publicly accessible. If the file was private the recipients list will be empty. For Gmail, they are emails of the users or groups that the Gmail message was sent to.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "suppressedActionTypes": {
          "type": "array",
          "description": "Actions suppressed due to other actions with higher priority.",
          "items": {
            "enumDescriptions": [
              "Action type is unspecified.",
              "Block sharing a file externally.",
              "Show a warning message when sharing a file externally.",
              "Disable download, print, and copy for commenters and viewers in drive.",
              "Disable download, print, and copy for all collaborators in drive.",
              "Apply customer specified Drive labels to the file.",
              "Quarantine message.",
              "Block message.",
              "Warn users.",
              "Apply classification labels.",
              "Chrome actions. Block file download.",
              "Warn user about downloaded file.",
              "Block file upload.",
              "Warn user about uploaded file.",
              "Block web content upload.",
              "Warn user about uploaded web content.",
              "Block page print.",
              "Warn user about printed page.",
              "Block ChromeOS file transfer.",
              "Warn user about ChromeOS file transfer.",
              "Block Chrome URL visit.",
              "Warn user about Chrome URL visited.",
              "Block screenshot alert.",
              "Store the content that violated the rule.",
              "Send watermark alert",
              "Force save to cloud storage.",
              "Keep in managed Chrome.",
              "Block text copied from Chrome.",
              "Warn on text copied from Chrome.",
              "Delete web protect evidence file",
              "Chat actions. Block Chat content to be sent out.",
              "Warn end user about Chat content.",
              "Send alert.",
              "Activate Rule Action",
              "Deactivate Rule Action"
            ],
            "type": "string",
            "enum": [
              "ACTION_TYPE_UNSPECIFIED",
              "DRIVE_BLOCK_EXTERNAL_SHARING",
              "DRIVE_WARN_ON_EXTERNAL_SHARING",
              "DRIVE_RESTRICT_DOWNLOAD_PRINT_COPY",
              "DRIVE_RESTRICT_DOWNLOAD_PRINT_COPY_FOR_ALL",
              "DRIVE_APPLY_DRIVE_LABELS",
              "GMAIL_QUARANTINE_MESSAGE",
              "GMAIL_BLOCK_MESSAGE",
              "GMAIL_WARN_USERS",
              "GMAIL_APPLY_CLASSIFICATION_LABELS",
              "CHROME_BLOCK_FILE_DOWNLOAD",
              "CHROME_WARN_FILE_DOWNLOAD",
              "CHROME_BLOCK_FILE_UPLOAD",
              "CHROME_WARN_FILE_UPLOAD",
              "CHROME_BLOCK_WEB_CONTENT_UPLOAD",
              "CHROME_WARN_WEB_CONTENT_UPLOAD",
              "CHROME_BLOCK_PAGE_PRINT",
              "CHROME_WARN_PAGE_PRINT",
              "CHROME_BLOCK_FILE_TRANSFER",
              "CHROME_WARN_FILE_TRANSFER",
              "CHROME_BLOCK_URL_VISITED",
              "CHROME_WARN_URL_VISITED",
              "CHROME_BLOCK_SCREENSHOT",
              "CHROME_STORE_CONTENT",
              "CHROME_WATERMARK",
              "CHROME_FORCE_SAVE_TO_CLOUD",
              "CHROME_KEEP_IN_MANAGED_CHROME",
              "CHROME_BLOCK_DATA_COPIED",
              "CHROME_WARN_DATA_COPIED",
              "DELETE_WEBPROTECT_EVIDENCE",
              "CHAT_BLOCK_CONTENT",
              "CHAT_WARN_USER",
              "ALERT",
              "RULE_ACTIVATE",
              "RULE_DEACTIVATE"
            ]
          }
        },
        "trigger": {
          "description": "Trigger of the rule.",
          "enumDescriptions": [
            "Trigger is unspecified.",
            "A Drive file is shared.",
            "An email message is sent.",
            "A file being downloaded in a Chrome browser.",
            "A file being uploaded from a Chrome browser.",
            "Web content being uploaded from a Chrome browser.",
            "A Chat message is sent.",
            "A Chat attachment is uploaded.",
            "A page is being printed by Chrome.",
            "A URL is visited within Chrome.",
            "A file being transferred (copy or moved) between different file systems on ChromeOS.",
            "Gemini access.",
            "Agent execution.",
            "Text copied from Chrome."
          ],
          "type": "string",
          "enum": [
            "TRIGGER_UNSPECIFIED",
            "DRIVE_SHARE",
            "MAIL_BEING_SENT",
            "CHROME_FILE_DOWNLOAD",
            "CHROME_FILE_UPLOAD",
            "CHROME_WEB_CONTENT_UPLOAD",
            "CHAT_MESSAGE_SENT",
            "CHAT_ATTACHMENT_UPLOADED",
            "CHROME_PAGE_PRINT",
            "CHROME_URL_VISITED",
            "CHROMEOS_FILE_TRANSFER",
            "GEMINI_ACCESS",
            "AGENT_EXECUTION",
            "CHROME_DATA_COPIED"
          ]
        },
        "triggeredActionInfo": {
          "items": {
            "$ref": "ActionInfo"
          },
          "type": "array",
          "description": "Metadata related to the triggered actions."
        },
        "triggeringUserEmail": {
          "type": "string",
          "description": "Email of the user who caused the violation. Value could be empty if not applicable, for example, a violation found by drive continuous scan."
        }
      },
      "description": "Common alert information about violated rules that are configured by Google Workspace administrators.",
      "type": "object"
    },
    "UserChanges": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Rule name"
        }
      },
      "type": "object",
      "description": "Alerts from UserChanges bucket Rules for predefined rules which contain the following rules: - Suspended user made active - New user added - User suspended (by admin) - User granted admin privileges - User admin privileges revoked - User deleted - Users password changed",
      "id": "UserChanges"
    },
    "User": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Display name of the user."
        },
        "emailAddress": {
          "type": "string",
          "description": "Email address of the user."
        }
      },
      "id": "User",
      "description": "A user."
    },
    "LoginDetails": {
      "properties": {
        "loginTime": {
          "description": "Optional. The successful login time that is associated with the warning event. This isn't present for blocked login attempts.",
          "format": "google-datetime",
          "type": "string"
        },
        "ipAddress": {
          "description": "Optional. The human-readable IP address (for example, `11.22.33.44`) that is associated with the warning event.",
          "type": "string"
        }
      },
      "description": "The details of the login action.",
      "id": "LoginDetails",
      "type": "object"
    },
    "ActionInfo": {
      "type": "object",
      "properties": {
        "evidenceLockerFilePath": {
          "description": "Google Cloud Storage location of the content that violated the rule. This field has format: \"/\"",
          "type": "string"
        }
      },
      "id": "ActionInfo",
      "description": "Metadata related to the action."
    },
    "DeviceManagementRule": {
      "id": "DeviceManagementRule",
      "description": "Alerts from Device Management Rules configured by Admin.",
      "properties": {
        "id": {
          "description": "ID of the rule that triggered the alert",
          "type": "string"
        },
        "deviceId": {
          "type": "string",
          "description": "Required. The device ID."
        },
        "resourceId": {
          "description": "The device resource ID.",
          "type": "string"
        },
        "deviceType": {
          "type": "string",
          "description": "The type of the device."
        },
        "email": {
          "description": "The email of the user this alert was created for.",
          "type": "string"
        },
        "deviceModel": {
          "description": "The model of the device.",
          "type": "string"
        },
        "serialNumber": {
          "description": "The serial number of the device.",
          "type": "string"
        },
        "iosVendorId": {
          "type": "string",
          "description": "Required for iOS, empty for others."
        },
        "ruleAction": {
          "description": "Action taken as result of the rule",
          "type": "string"
        },
        "ownerId": {
          "description": "Obfuscated ID of the owner of the device",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AppMakerSqlSetupNotification": {
      "properties": {
        "requestInfo": {
          "type": "array",
          "description": "List of applications with requests for default SQL set up.",
          "items": {
            "$ref": "RequestInfo"
          }
        }
      },
      "id": "AppMakerSqlSetupNotification",
      "type": "object",
      "description": "Alerts from App Maker to notify admins to set up default SQL instance."
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "protocol": "rest",
  "resources": {
    "alerts": {
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "httpMethod": "GET",
          "flatPath": "v1beta1/alerts/{alertId}",
          "response": {
            "$ref": "Alert"
          },
          "parameters": {
            "customerId": {
              "description": "Optional. The unique identifier of the Google Workspace account of the customer the alert is associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793).",
              "location": "query",
              "type": "string"
            },
            "alertId": {
              "description": "Required. The identifier of the alert to retrieve.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "description": "Gets the specified alert. Attempting to get a nonexistent alert returns `NOT_FOUND` error.",
          "path": "v1beta1/alerts/{alertId}",
          "parameterOrder": [
            "alertId"
          ],
          "id": "alertcenter.alerts.get"
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "flatPath": "v1beta1/alerts",
          "description": "Lists the alerts.",
          "response": {
            "$ref": "ListAlertsResponse"
          },
          "id": "alertcenter.alerts.list",
          "parameters": {
            "customerId": {
              "description": "Optional. The unique identifier of the Google Workspace account of the customer the alerts are associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793).",
              "type": "string",
              "location": "query"
            },
            "orderBy": {
              "description": "Optional. The sort order of the list results. If not specified results may be returned in arbitrary order. You can sort the results in descending order based on the creation timestamp using `order_by=\"create_time desc\"`. Currently, supported sorting are `create_time asc`, `create_time desc`, `update_time desc`",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "type": "string",
              "description": "Optional. A token identifying a page of results the server should return. If empty, a new iteration is started. To continue an iteration, pass in the value from the previous ListAlertsResponse's next_page_token field.",
              "location": "query"
            },
            "filter": {
              "type": "string",
              "description": "Optional. A query string for filtering alert results. For more details, see [Query filters](https://developers.google.com/workspace/admin/alertcenter/guides/query-filters) and [Supported query filter fields](https://developers.google.com/workspace/admin/alertcenter/reference/filter-fields#alerts.list).",
              "location": "query"
            },
            "pageSize": {
              "type": "integer",
              "format": "int32",
              "description": "Optional. The requested page size. Server may return fewer items than requested. If unspecified, server picks an appropriate default.",
              "location": "query"
            }
          },
          "parameterOrder": [],
          "httpMethod": "GET",
          "path": "v1beta1/alerts"
        },
        "batchDelete": {
          "parameters": {},
          "request": {
            "$ref": "BatchDeleteAlertsRequest"
          },
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "id": "alertcenter.alerts.batchDelete",
          "path": "v1beta1/alerts:batchDelete",
          "httpMethod": "POST",
          "description": "Performs batch delete operation on alerts.",
          "response": {
            "$ref": "BatchDeleteAlertsResponse"
          },
          "flatPath": "v1beta1/alerts:batchDelete"
        },
        "undelete": {
          "request": {
            "$ref": "UndeleteAlertRequest"
          },
          "parameters": {
            "alertId": {
              "location": "path",
              "required": true,
              "description": "Required. The identifier of the alert to undelete.",
              "type": "string"
            }
          },
          "id": "alertcenter.alerts.undelete",
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "description": "Restores, or \"undeletes\", an alert that was marked for deletion within the past 30 days. Attempting to undelete an alert which was marked for deletion over 30 days ago (which has been removed from the Alert Center database) or a nonexistent alert returns a `NOT_FOUND` error. Attempting to undelete an alert which has not been marked for deletion has no effect.",
          "httpMethod": "POST",
          "path": "v1beta1/alerts/{alertId}:undelete",
          "parameterOrder": [
            "alertId"
          ],
          "response": {
            "$ref": "Alert"
          },
          "flatPath": "v1beta1/alerts/{alertId}:undelete"
        },
        "batchUndelete": {
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "request": {
            "$ref": "BatchUndeleteAlertsRequest"
          },
          "id": "alertcenter.alerts.batchUndelete",
          "httpMethod": "POST",
          "parameterOrder": [],
          "path": "v1beta1/alerts:batchUndelete",
          "description": "Performs batch undelete operation on alerts.",
          "response": {
            "$ref": "BatchUndeleteAlertsResponse"
          },
          "flatPath": "v1beta1/alerts:batchUndelete"
        },
        "getMetadata": {
          "response": {
            "$ref": "AlertMetadata"
          },
          "id": "alertcenter.alerts.getMetadata",
          "flatPath": "v1beta1/alerts/{alertId}/metadata",
          "parameterOrder": [
            "alertId"
          ],
          "parameters": {
            "alertId": {
              "type": "string",
              "required": true,
              "description": "Required. The identifier of the alert this metadata belongs to.",
              "location": "path"
            },
            "customerId": {
              "location": "query",
              "description": "Optional. The unique identifier of the Google Workspace account of the customer the alert metadata is associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793).",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "description": "Returns the metadata of an alert. Attempting to get metadata for a non-existent alert returns `NOT_FOUND` error.",
          "httpMethod": "GET",
          "path": "v1beta1/alerts/{alertId}/metadata"
        },
        "delete": {
          "id": "alertcenter.alerts.delete",
          "description": "Marks the specified alert for deletion. An alert that has been marked for deletion is removed from Alert Center after 30 days. Marking an alert for deletion has no effect on an alert which has already been marked for deletion. Attempting to mark a nonexistent alert for deletion results in a `NOT_FOUND` error.",
          "httpMethod": "DELETE",
          "response": {
            "$ref": "Empty"
          },
          "flatPath": "v1beta1/alerts/{alertId}",
          "path": "v1beta1/alerts/{alertId}",
          "parameters": {
            "customerId": {
              "location": "query",
              "description": "Optional. The unique identifier of the Google Workspace account of the customer the alert is associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793).",
              "type": "string"
            },
            "alertId": {
              "description": "Required. The identifier of the alert to delete.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "parameterOrder": [
            "alertId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ]
        }
      },
      "resources": {
        "feedback": {
          "methods": {
            "create": {
              "parameterOrder": [
                "alertId"
              ],
              "httpMethod": "POST",
              "path": "v1beta1/alerts/{alertId}/feedback",
              "response": {
                "$ref": "AlertFeedback"
              },
              "parameters": {
                "alertId": {
                  "description": "Required. The identifier of the alert this feedback belongs to.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "customerId": {
                  "description": "Optional. The unique identifier of the Google Workspace account of the customer the alert is associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793).",
                  "location": "query",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "AlertFeedback"
              },
              "flatPath": "v1beta1/alerts/{alertId}/feedback",
              "scopes": [
                "https://www.googleapis.com/auth/apps.alerts"
              ],
              "id": "alertcenter.alerts.feedback.create",
              "description": "Creates new feedback for an alert. Attempting to create a feedback for a non-existent alert returns `NOT_FOUND` error. Attempting to create a feedback for an alert that is marked for deletion returns `FAILED_PRECONDITION' error."
            },
            "list": {
              "id": "alertcenter.alerts.feedback.list",
              "path": "v1beta1/alerts/{alertId}/feedback",
              "httpMethod": "GET",
              "parameterOrder": [
                "alertId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/apps.alerts"
              ],
              "response": {
                "$ref": "ListAlertFeedbackResponse"
              },
              "flatPath": "v1beta1/alerts/{alertId}/feedback",
              "description": "Lists all the feedback for an alert. Attempting to list feedbacks for a non-existent alert returns `NOT_FOUND` error.",
              "parameters": {
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. A query string for filtering alert feedback results. For more details, see [Query filters](https://developers.google.com/workspace/admin/alertcenter/guides/query-filters) and [Supported query filter fields](https://developers.google.com/workspace/admin/alertcenter/reference/filter-fields#alerts.feedback.list)."
                },
                "alertId": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The alert identifier. The \"-\" wildcard could be used to represent all alerts.",
                  "type": "string"
                },
                "customerId": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. The unique identifier of the Google Workspace account of the customer the alert is associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793)."
                }
              }
            }
          }
        }
      }
    },
    "v1beta1": {
      "methods": {
        "updateSettings": {
          "parameterOrder": [],
          "request": {
            "$ref": "Settings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "id": "alertcenter.updateSettings",
          "parameters": {
            "customerId": {
              "location": "query",
              "type": "string",
              "description": "Optional. The unique identifier of the Google Workspace account of the customer the alert settings are associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793)."
            }
          },
          "description": "Updates the customer-level settings.",
          "response": {
            "$ref": "Settings"
          },
          "flatPath": "v1beta1/settings",
          "httpMethod": "PATCH",
          "path": "v1beta1/settings"
        },
        "getSettings": {
          "httpMethod": "GET",
          "parameterOrder": [],
          "description": "Returns customer-level settings.",
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "id": "alertcenter.getSettings",
          "parameters": {
            "customerId": {
              "description": "Optional. The unique identifier of the Google Workspace account of the customer the alert settings are associated with. The `customer_id` must/ have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793).",
              "type": "string",
              "location": "query"
            }
          },
          "path": "v1beta1/settings",
          "response": {
            "$ref": "Settings"
          },
          "flatPath": "v1beta1/settings"
        }
      }
    }
  },
  "mtlsRootUrl": "https://alertcenter.mtls.googleapis.com/",
  "basePath": "",
  "name": "alertcenter",
  "title": "Google Workspace Alert Center API",
  "kind": "discovery#restDescription",
  "description": "Manages alerts on issues affecting your domain. Note: The current version of this API (v1beta1) is available to all Google Workspace customers. ",
  "revision": "20260831",
  "ownerName": "Google",
  "servicePath": "",
  "fullyEncodeReservedExpansion": true,
  "canonicalName": "AlertCenter"
}