{
  "batchPath": "batch",
  "revision": "20260826",
  "rootUrl": "https://alloydb.googleapis.com/",
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "endpoints": [
    {
      "description": "Regional Endpoint",
      "location": "us-central2",
      "endpointUrl": "https://alloydb.us-central2.rep.googleapis.com/"
    },
    {
      "location": "us-east7",
      "endpointUrl": "https://alloydb.us-east7.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://alloydb.northamerica-northeast1.rep.googleapis.com/",
      "location": "northamerica-northeast1"
    },
    {
      "endpointUrl": "https://alloydb.northamerica-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "northamerica-northeast2"
    },
    {
      "description": "Regional Endpoint",
      "location": "northamerica-south1",
      "endpointUrl": "https://alloydb.northamerica-south1.rep.googleapis.com/"
    },
    {
      "location": "southamerica-east1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://alloydb.southamerica-east1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://alloydb.southamerica-west1.rep.googleapis.com/",
      "location": "southamerica-west1",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-central1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://alloydb.us-central1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://alloydb.us-east1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east1"
    },
    {
      "location": "us-east4",
      "endpointUrl": "https://alloydb.us-east4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://alloydb.us-east5.rep.googleapis.com/",
      "location": "us-east5"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-south1",
      "endpointUrl": "https://alloydb.us-south1.rep.googleapis.com/"
    },
    {
      "location": "us-west1",
      "endpointUrl": "https://alloydb.us-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west2",
      "endpointUrl": "https://alloydb.us-west2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west3",
      "description": "Regional Endpoint",
      "endpointUrl": "https://alloydb.us-west3.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-west4",
      "endpointUrl": "https://alloydb.us-west4.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://alloydb.europe-central2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-central2"
    },
    {
      "endpointUrl": "https://alloydb.europe-southwest1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-southwest1"
    },
    {
      "endpointUrl": "https://alloydb.europe-north1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-north1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://alloydb.europe-north2.rep.googleapis.com/",
      "location": "europe-north2"
    },
    {
      "location": "europe-west1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://alloydb.europe-west1.rep.googleapis.com/"
    },
    {
      "location": "europe-west2",
      "endpointUrl": "https://alloydb.europe-west2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://alloydb.europe-west3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west3"
    },
    {
      "location": "europe-west4",
      "description": "Regional Endpoint",
      "endpointUrl": "https://alloydb.europe-west4.rep.googleapis.com/"
    },
    {
      "location": "europe-west6",
      "description": "Regional Endpoint",
      "endpointUrl": "https://alloydb.europe-west6.rep.googleapis.com/"
    },
    {
      "location": "europe-west8",
      "endpointUrl": "https://alloydb.europe-west8.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west9",
      "description": "Regional Endpoint",
      "endpointUrl": "https://alloydb.europe-west9.rep.googleapis.com/"
    },
    {
      "location": "europe-west10",
      "description": "Regional Endpoint",
      "endpointUrl": "https://alloydb.europe-west10.rep.googleapis.com/"
    },
    {
      "location": "europe-west12",
      "description": "Regional Endpoint",
      "endpointUrl": "https://alloydb.europe-west12.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://alloydb.asia-east1.rep.googleapis.com/",
      "location": "asia-east1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-east2",
      "endpointUrl": "https://alloydb.asia-east2.rep.googleapis.com/"
    },
    {
      "location": "asia-northeast1",
      "endpointUrl": "https://alloydb.asia-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-northeast2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://alloydb.asia-northeast2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://alloydb.asia-northeast3.rep.googleapis.com/",
      "location": "asia-northeast3"
    },
    {
      "endpointUrl": "https://alloydb.asia-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-south1"
    },
    {
      "endpointUrl": "https://alloydb.asia-south2.rep.googleapis.com/",
      "location": "asia-south2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://alloydb.asia-southeast1.rep.googleapis.com/",
      "location": "asia-southeast1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://alloydb.asia-southeast2.rep.googleapis.com/",
      "location": "asia-southeast2"
    },
    {
      "location": "australia-southeast1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://alloydb.australia-southeast1.rep.googleapis.com/"
    },
    {
      "location": "australia-southeast2",
      "endpointUrl": "https://alloydb.australia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://alloydb.me-central1.rep.googleapis.com/",
      "location": "me-central1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://alloydb.me-central2.rep.googleapis.com/",
      "location": "me-central2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://alloydb.me-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "me-west1"
    },
    {
      "endpointUrl": "https://alloydb.africa-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "africa-south1"
    }
  ],
  "fullyEncodeReservedExpansion": true,
  "mtlsRootUrl": "https://alloydb.mtls.googleapis.com/",
  "ownerName": "Google",
  "name": "alloydb",
  "kind": "discovery#restDescription",
  "baseUrl": "https://alloydb.googleapis.com/",
  "description": "AlloyDB for PostgreSQL is an open source-compatible database service that provides a powerful option for migrating, modernizing, or building commercial-grade applications. It offers full compatibility with standard PostgreSQL, and is more than 4x faster for transactional workloads and up to 100x faster for analytical queries than standard PostgreSQL in our performance tests. AlloyDB for PostgreSQL offers a 99.99 percent availability SLA inclusive of maintenance. AlloyDB is optimized for the most demanding use cases, allowing you to build new applications that require high transaction throughput, large database sizes, or multiple read resources; scale existing PostgreSQL workloads with no application changes; and modernize legacy proprietary databases. ",
  "version_module": true,
  "version": "v1",
  "schemas": {
    "GoogleTypeDate": {
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "type": "object",
      "properties": {
        "day": {
          "type": "integer",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32"
        },
        "month": {
          "type": "integer",
          "format": "int32",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
        },
        "year": {
          "format": "int32",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer"
        }
      },
      "id": "GoogleTypeDate"
    },
    "MigrationSource": {
      "id": "MigrationSource",
      "type": "object",
      "properties": {
        "sourceType": {
          "description": "Output only. Type of migration source.",
          "readOnly": true,
          "enumDescriptions": [
            "Migration source is unknown.",
            "DMS source means the cluster was created via DMS migration job."
          ],
          "type": "string",
          "enum": [
            "MIGRATION_SOURCE_TYPE_UNSPECIFIED",
            "DMS"
          ]
        },
        "hostPort": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The host and port of the on-premises instance in host:port format"
        },
        "referenceId": {
          "description": "Output only. Place holder for the external source identifier(e.g DMS job name) that created the cluster.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Subset of the source instance configuration that is available when reading the cluster resource."
    },
    "QuantityBasedRetention": {
      "description": "A quantity based policy specifies that a certain number of the most recent successful backups should be retained.",
      "id": "QuantityBasedRetention",
      "properties": {
        "count": {
          "type": "integer",
          "format": "int32",
          "description": "The number of backups to retain."
        }
      },
      "type": "object"
    },
    "StringRestrictions": {
      "properties": {
        "allowedValues": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of allowed values, if bounded. This field will be empty if there is a unbounded number of allowed values."
        },
        "caseAgnostic": {
          "description": "Output only. Whether the allowed values are case agnostic.",
          "type": "boolean",
          "readOnly": true
        }
      },
      "description": "Restrictions on STRING type values",
      "id": "StringRestrictions",
      "type": "object"
    },
    "StorageDatabasecenterProtoCommonTypedValue": {
      "id": "StorageDatabasecenterProtoCommonTypedValue",
      "type": "object",
      "description": "TypedValue represents the value of a metric type. It can either be a double, an int64, a string or a bool.",
      "properties": {
        "doubleValue": {
          "description": "For double value",
          "format": "double",
          "type": "number"
        },
        "boolValue": {
          "type": "boolean",
          "description": "For boolean value"
        },
        "stringValue": {
          "type": "string",
          "description": "For string value"
        },
        "int64Value": {
          "type": "string",
          "format": "int64",
          "description": "For integer value"
        }
      }
    },
    "EncryptionConfig": {
      "description": "EncryptionConfig describes the encryption config of a cluster or a backup that is encrypted with a CMEK (customer-managed encryption key).",
      "properties": {
        "kmsKeyName": {
          "type": "string",
          "description": "The fully-qualified resource name of the KMS key. Each Cloud KMS key is regionalized and has the following format: projects/[PROJECT]/locations/[REGION]/keyRings/[RING]/cryptoKeys/[KEY_NAME]"
        }
      },
      "type": "object",
      "id": "EncryptionConfig"
    },
    "InstanceUpgradeDetails": {
      "id": "InstanceUpgradeDetails",
      "type": "object",
      "properties": {
        "upgradeStatus": {
          "type": "string",
          "enum": [
            "STATUS_UNSPECIFIED",
            "NOT_STARTED",
            "IN_PROGRESS",
            "SUCCESS",
            "FAILED",
            "PARTIAL_SUCCESS",
            "CANCEL_IN_PROGRESS",
            "CANCELLED"
          ],
          "description": "Upgrade status of the instance.",
          "enumDescriptions": [
            "Unspecified status.",
            "Not started.",
            "In progress.",
            "Operation succeeded.",
            "Operation failed.",
            "Operation partially succeeded.",
            "Cancel is in progress.",
            "Cancellation complete."
          ]
        },
        "instanceType": {
          "enumDescriptions": [
            "The type of the instance is unknown.",
            "PRIMARY instances support read and write operations.",
            "READ POOL instances support read operations only. Each read pool instance consists of one or more homogeneous nodes. * Read pool of size 1 can only have zonal availability. * Read pools with node count of 2 or more can have regional availability (nodes are present in 2 or more zones in a region).",
            "SECONDARY instances support read operations only. SECONDARY instance is a cross-region read replica"
          ],
          "description": "Instance type.",
          "type": "string",
          "enum": [
            "INSTANCE_TYPE_UNSPECIFIED",
            "PRIMARY",
            "READ_POOL",
            "SECONDARY"
          ]
        },
        "name": {
          "description": "Normalized name of the instance.",
          "type": "string"
        }
      },
      "description": "Details regarding the upgrade of instances associated with a cluster."
    },
    "SecondaryConfig": {
      "description": "Configuration information for the secondary cluster. This should be set if and only if the cluster is of type SECONDARY.",
      "properties": {
        "primaryClusterName": {
          "description": "The name of the primary cluster name with the format: * projects/{project}/locations/{region}/clusters/{cluster_id}",
          "type": "string"
        }
      },
      "id": "SecondaryConfig",
      "type": "object"
    },
    "StorageDatabasecenterPartnerapiV1mainBackupRun": {
      "id": "StorageDatabasecenterPartnerapiV1mainBackupRun",
      "properties": {
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Disable validation warnings"
        },
        "error": {
          "description": "Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainOperationError"
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Disable validation warnings"
        },
        "status": {
          "enumDescriptions": [
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings"
          ],
          "description": "Disable validation warnings",
          "type": "string",
          "enum": [
            "STATUS_UNSPECIFIED",
            "SUCCESSFUL",
            "FAILED"
          ]
        }
      },
      "type": "object",
      "description": "Disable validation warnings"
    },
    "PscAutoConnectionConfig": {
      "type": "object",
      "properties": {
        "consumerNetwork": {
          "description": "The consumer network for the PSC service automation, example: \"projects/vpc-host-project/global/networks/default\". The consumer network might be hosted a different project than the consumer project.",
          "type": "string"
        },
        "serviceConnectionPolicy": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The PSC service connection policy name. The format is \"projects//regions//serviceConnectionPolicies/\""
        },
        "status": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The status of the PSC service automation connection. Possible values: \"STATE_UNSPECIFIED\" - An invalid state as the default case. \"ACTIVE\" - The connection has been created successfully. \"FAILED\" - The connection is not functional since some resources on the connection fail to be created. \"CREATING\" - The connection is being created. \"DELETING\" - The connection is being deleted. \"CREATE_REPAIRING\" - The connection is being repaired to complete creation. \"DELETE_REPAIRING\" - The connection is being repaired to complete deletion."
        },
        "ipAddress": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The IP address of the PSC service automation endpoint."
        },
        "consumerNetworkStatus": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The status of the service connection policy. Possible values: \"STATE_UNSPECIFIED\" - Default state, when Connection Map is created initially. \"VALID\" - Set when policy and map configuration is valid, and their matching can lead to allowing creation of PSC Connections subject to other constraints like connections limit. \"CONNECTION_POLICY_MISSING\" - No Service Connection Policy found for this network and Service Class \"POLICY_LIMIT_REACHED\" - Service Connection Policy limit reached for this network and Service Class \"CONSUMER_INSTANCE_PROJECT_NOT_ALLOWLISTED\" - The consumer instance project is not in AllowedGoogleProducersResourceHierarchyLevels of the matching ServiceConnectionPolicy."
        },
        "dnsAutomationInfos": {
          "readOnly": true,
          "description": "Output only. List of DNS automation info for the PSC auto connection.",
          "type": "array",
          "items": {
            "$ref": "DnsAutomationInfo"
          }
        },
        "consumerProject": {
          "description": "The consumer project to which the PSC service automation endpoint will be created.",
          "type": "string"
        },
        "serviceConnectionPolicyCreationState": {
          "description": "Output only. The creation state or result of the connection policy. Possible values include: - `ACTIVE`: The policy was created successfully. - `PERMISSION_DENIED`: Sufficient permissions were not provided. Note that this field is an unstructured output and customers should not rely on the specific string value or error message directly.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Configuration for setting up PSC service automation. Consumer projects in the configs will be allowlisted automatically for the instance.",
      "id": "PscAutoConnectionConfig"
    },
    "GcsDestination": {
      "properties": {
        "uri": {
          "description": "Required. The path to the file in Google Cloud Storage where the export will be stored. The URI is in the form `gs://bucketName/fileName`.",
          "type": "string"
        }
      },
      "description": "Destination for Export. Export will be done to cloud storage.",
      "id": "GcsDestination",
      "type": "object"
    },
    "PromoteClusterRequest": {
      "description": "Message for promoting a Cluster",
      "properties": {
        "etag": {
          "description": "Optional. The current etag of the Cluster. If an etag is provided and does not match the current etag of the Cluster, deletion will be blocked and an ABORTED error will be returned.",
          "type": "string"
        },
        "validateOnly": {
          "description": "Optional. If set, performs request validation, for example, permission checks and any other type of validation, but does not actually execute the create request.",
          "type": "boolean"
        },
        "requestId": {
          "type": "string",
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server ignores the request if it has already been completed. The server guarantees that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        }
      },
      "id": "PromoteClusterRequest",
      "type": "object"
    },
    "StorageDatabasecenterPartnerapiV1mainTags": {
      "description": "Disable validation warnings",
      "type": "object",
      "id": "StorageDatabasecenterPartnerapiV1mainTags",
      "properties": {
        "tags": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Disable validation warnings",
          "type": "object"
        }
      }
    },
    "CloudSQLBackupRunSource": {
      "type": "object",
      "description": "The source CloudSQL backup resource.",
      "id": "CloudSQLBackupRunSource",
      "properties": {
        "project": {
          "description": "The project ID of the source CloudSQL instance. This should be the same as the AlloyDB cluster's project.",
          "type": "string"
        },
        "backupRunId": {
          "description": "Required. The CloudSQL backup run ID.",
          "type": "string",
          "format": "int64"
        },
        "instanceId": {
          "description": "Required. The CloudSQL instance ID.",
          "type": "string"
        }
      }
    },
    "MaintenanceWindow": {
      "id": "MaintenanceWindow",
      "properties": {
        "day": {
          "description": "Preferred day of the week for maintenance, e.g. MONDAY, TUESDAY, etc.",
          "type": "string",
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ]
        },
        "startTime": {
          "$ref": "GoogleTypeTimeOfDay",
          "description": "Preferred time to start the maintenance operation on the specified day. Maintenance will start within 1 hour of this time."
        }
      },
      "description": "MaintenanceWindow specifies a preferred day and time for maintenance.",
      "type": "object"
    },
    "ClientConnectionConfig": {
      "type": "object",
      "description": "Client connection configuration",
      "properties": {
        "requireConnectors": {
          "description": "Optional. Configuration to enforce connectors only (ex: AuthProxy) connections to the database.",
          "type": "boolean"
        },
        "sslConfig": {
          "$ref": "SslConfig",
          "description": "Optional. SSL configuration option for this instance."
        }
      },
      "id": "ClientConnectionConfig"
    },
    "DataplexConfig": {
      "type": "object",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Dataplex is enabled by default for resources such as clusters and instances. This flag controls the integration of AlloyDB PG resources (like databases, schemas, and tables) with Dataplex.\""
        }
      },
      "id": "DataplexConfig",
      "description": "Configuration for Dataplex integration."
    },
    "RestoreFromCloudSQLRequest": {
      "properties": {
        "cluster": {
          "description": "Required. The resource being created",
          "$ref": "Cluster"
        },
        "clusterId": {
          "description": "Required. ID of the requesting object.",
          "type": "string"
        },
        "cloudsqlBackupRunSource": {
          "$ref": "CloudSQLBackupRunSource",
          "description": "Cluster created from CloudSQL backup run."
        }
      },
      "type": "object",
      "description": "Message for registering Restoring from CloudSQL resource.",
      "id": "RestoreFromCloudSQLRequest"
    },
    "InjectFaultRequest": {
      "description": "Message for triggering fault injection on an instance",
      "properties": {
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server ignores the request if it has already been completed. The server guarantees that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if the original operation with the same request ID was received, and if so, ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        },
        "validateOnly": {
          "description": "Optional. If set, performs request validation, for example, permission checks and any other type of validation, but does not actually execute the create request.",
          "type": "boolean"
        },
        "faultType": {
          "type": "string",
          "enum": [
            "FAULT_TYPE_UNSPECIFIED",
            "STOP_VM"
          ],
          "enumDescriptions": [
            "The fault type is unknown.",
            "Stop the VM"
          ],
          "description": "Required. The type of fault to be injected in an instance."
        }
      },
      "id": "InjectFaultRequest",
      "type": "object"
    },
    "MaintenanceUpdatePolicy": {
      "description": "MaintenanceUpdatePolicy defines the policy for system updates.",
      "id": "MaintenanceUpdatePolicy",
      "type": "object",
      "properties": {
        "maintenanceWindows": {
          "type": "array",
          "items": {
            "$ref": "MaintenanceWindow"
          },
          "description": "Preferred windows to perform maintenance. Currently limited to 1."
        },
        "denyMaintenancePeriods": {
          "description": "Periods to deny maintenance. Currently limited to 1.",
          "items": {
            "$ref": "DenyMaintenancePeriod"
          },
          "type": "array"
        }
      }
    },
    "DenyMaintenancePeriod": {
      "properties": {
        "startDate": {
          "$ref": "GoogleTypeDate",
          "description": "Deny period start date. This can be: * A full date, with non-zero year, month and day values OR * A month and day value, with a zero year for recurring"
        },
        "endDate": {
          "$ref": "GoogleTypeDate",
          "description": "Deny period end date. This can be: * A full date, with non-zero year, month and day values OR * A month and day value, with a zero year for recurring"
        },
        "time": {
          "description": "Time in UTC when the deny period starts on start_date and ends on end_date. This can be: * Full time OR * All zeros for 00:00:00 UTC",
          "$ref": "GoogleTypeTimeOfDay"
        }
      },
      "id": "DenyMaintenancePeriod",
      "description": "DenyMaintenancePeriod definition. Excepting emergencies, maintenance will not be scheduled to start within this deny period. The start_date must be less than the end_date.",
      "type": "object"
    },
    "ConnectionInfo": {
      "type": "object",
      "description": "ConnectionInfo singleton resource. https://google.aip.dev/156",
      "id": "ConnectionInfo",
      "properties": {
        "ipAddress": {
          "description": "Output only. The private network IP address for the Instance. This is the default IP for the instance and is always created (even if enable_public_ip is set). This is the connection endpoint for an end-user application.",
          "readOnly": true,
          "type": "string"
        },
        "publicIpAddress": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The public IP addresses for the Instance. This is available ONLY when enable_public_ip is set. This is the connection endpoint for an end-user application."
        },
        "name": {
          "description": "The name of the ConnectionInfo singleton resource, e.g.: projects/{project}/locations/{location}/clusters/*/instances/*/connectionInfo This field currently has no semantic meaning.",
          "type": "string"
        },
        "instanceUid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The unique ID of the Instance."
        }
      }
    },
    "TimeBasedRetention": {
      "description": "A time based retention policy specifies that all backups within a certain time period should be retained.",
      "type": "object",
      "properties": {
        "retentionPeriod": {
          "description": "The retention period.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "id": "TimeBasedRetention"
    },
    "StorageDatabasecenterPartnerapiV1mainSignalMetadata": {
      "properties": {
        "signalBoolValue": {
          "type": "boolean",
          "description": "Disable validation warnings"
        },
        "backupRun": {
          "description": "Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainBackupRun"
        }
      },
      "description": "Disable validation warnings",
      "id": "StorageDatabasecenterPartnerapiV1mainSignalMetadata",
      "type": "object"
    },
    "StorageDatabasecenterPartnerapiV1mainResourceMaintenanceDenySchedule": {
      "properties": {
        "endDate": {
          "$ref": "GoogleTypeDate",
          "description": "Optional. Disable validation warnings"
        },
        "time": {
          "$ref": "GoogleTypeTimeOfDay",
          "description": "Optional. Disable validation warnings"
        },
        "startDate": {
          "$ref": "GoogleTypeDate",
          "description": "Optional. Disable validation warnings"
        }
      },
      "id": "StorageDatabasecenterPartnerapiV1mainResourceMaintenanceDenySchedule",
      "description": "Disable validation warnings",
      "type": "object"
    },
    "ContinuousBackupInfo": {
      "type": "object",
      "id": "ContinuousBackupInfo",
      "properties": {
        "earliestRestorableTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The earliest restorable time that can be restored to. If continuous backups and recovery was recently enabled, the earliest restorable time is the creation time of the earliest eligible backup within this cluster's continuous backup recovery window. After a cluster has had continuous backups enabled for the duration of its recovery window, the earliest restorable time becomes \"now minus the recovery window\". For example, assuming a point in time recovery is attempted at 04/16/2025 3:23:00PM with a 14d recovery window, the earliest restorable time would be 04/02/2025 3:23:00PM. This field is only visible if the CLUSTER_VIEW_CONTINUOUS_BACKUP cluster view is provided."
        },
        "encryptionInfo": {
          "description": "Output only. The encryption information for the WALs and backups required for ContinuousBackup.",
          "readOnly": true,
          "$ref": "EncryptionInfo"
        },
        "schedule": {
          "description": "Output only. Days of the week on which a continuous backup is taken.",
          "items": {
            "type": "string",
            "enum": [
              "DAY_OF_WEEK_UNSPECIFIED",
              "MONDAY",
              "TUESDAY",
              "WEDNESDAY",
              "THURSDAY",
              "FRIDAY",
              "SATURDAY",
              "SUNDAY"
            ],
            "enumDescriptions": [
              "The day of the week is unspecified.",
              "Monday",
              "Tuesday",
              "Wednesday",
              "Thursday",
              "Friday",
              "Saturday",
              "Sunday"
            ]
          },
          "type": "array",
          "readOnly": true
        },
        "enabledTime": {
          "description": "Output only. When ContinuousBackup was most recently enabled. Set to null if ContinuousBackup is not enabled.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "ContinuousBackupInfo describes the continuous backup properties of a cluster."
    },
    "StorageDatabasecenterPartnerapiV1mainResourceMaintenanceSchedule": {
      "properties": {
        "phase": {
          "description": "Optional. Disable validation warnings",
          "type": "string",
          "enum": [
            "PHASE_UNSPECIFIED",
            "ANY",
            "WEEK1",
            "WEEK2",
            "WEEK5"
          ],
          "enumDescriptions": [
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings"
          ]
        },
        "day": {
          "type": "string",
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "description": "Optional. Disable validation warnings",
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ]
        },
        "time": {
          "description": "Optional. Disable validation warnings",
          "$ref": "GoogleTypeTimeOfDay"
        }
      },
      "description": "Disable validation warnings",
      "type": "object",
      "id": "StorageDatabasecenterPartnerapiV1mainResourceMaintenanceSchedule"
    },
    "QuantityBasedExpiry": {
      "description": "A backup's position in a quantity-based retention queue, of backups with the same source cluster and type, with length, retention, specified by the backup's retention policy. Once the position is greater than the retention, the backup is eligible to be garbage collected. Example: 5 backups from the same source cluster and type with a quantity-based retention of 3 and denoted by backup_id (position, retention). Safe: backup_5 (1, 3), backup_4, (2, 3), backup_3 (3, 3). Awaiting garbage collection: backup_2 (4, 3), backup_1 (5, 3)",
      "type": "object",
      "id": "QuantityBasedExpiry",
      "properties": {
        "retentionCount": {
          "readOnly": true,
          "format": "int32",
          "description": "Output only. The backup's position among its backups with the same source cluster and type, by descending chronological order create time(i.e. newest first).",
          "type": "integer"
        },
        "totalRetentionCount": {
          "format": "int32",
          "type": "integer",
          "description": "Output only. The length of the quantity-based queue, specified by the backup's retention policy.",
          "readOnly": true
        }
      }
    },
    "BackupDrBackupSource": {
      "id": "BackupDrBackupSource",
      "type": "object",
      "properties": {
        "backup": {
          "description": "Required. The name of the backup resource with the format: * projects/{project}/locations/{location}/backupVaults/{backupvault_id}/dataSources/{datasource_id}/backups/{backup_id}",
          "type": "string"
        }
      },
      "description": "Message describing a BackupDrBackupSource."
    },
    "ListInstancesResponse": {
      "description": "Message for response to listing Instances",
      "type": "object",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "instances": {
          "items": {
            "$ref": "Instance"
          },
          "type": "array",
          "description": "The list of Instance"
        }
      },
      "id": "ListInstancesResponse"
    },
    "CsvExportOptions": {
      "type": "object",
      "id": "CsvExportOptions",
      "properties": {
        "fieldDelimiter": {
          "type": "string",
          "description": "Optional. Specifies the character that separates columns within each row (line) of the file. The default is comma. The value of this argument has to be a character in Hex ASCII Code."
        },
        "escapeCharacter": {
          "description": "Optional. Specifies the character that should appear before a data character that needs to be escaped. The default is the same as quote character. The value of this argument has to be a character in Hex ASCII Code.",
          "type": "string"
        },
        "selectQuery": {
          "description": "Required. The SELECT query used to extract the data.",
          "type": "string"
        },
        "quoteCharacter": {
          "type": "string",
          "description": "Optional. Specifies the quoting character to be used when a data value is quoted. The default is double-quote. The value of this argument has to be a character in Hex ASCII Code."
        }
      },
      "description": "Options for exporting data in CSV format."
    },
    "StorageDatabasecenterPartnerapiV1mainRetentionSettings": {
      "properties": {
        "timeBasedRetention": {
          "deprecated": true,
          "description": "Disable validation warnings",
          "type": "string",
          "format": "google-duration"
        },
        "retentionUnit": {
          "enumDescriptions": [
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings"
          ],
          "deprecated": true,
          "type": "string",
          "enum": [
            "RETENTION_UNIT_UNSPECIFIED",
            "COUNT",
            "TIME",
            "DURATION",
            "RETENTION_UNIT_OTHER"
          ],
          "description": "Disable validation warnings"
        },
        "durationBasedRetention": {
          "type": "string",
          "description": "Disable validation warnings",
          "format": "google-duration"
        },
        "timestampBasedRetentionTime": {
          "description": "Disable validation warnings",
          "type": "string",
          "format": "google-datetime"
        },
        "quantityBasedRetention": {
          "description": "Disable validation warnings",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "StorageDatabasecenterPartnerapiV1mainRetentionSettings",
      "type": "object",
      "description": "Disable validation warnings"
    },
    "BackupDrPitrSource": {
      "properties": {
        "dataSource": {
          "description": "Required. The name of the backup resource with the format: * projects/{project}/locations/{location}/backupVaults/{backupvault_id}/dataSources/{datasource_id}",
          "type": "string"
        },
        "pointInTime": {
          "format": "google-datetime",
          "description": "Required. The point in time to restore to.",
          "type": "string"
        }
      },
      "description": "Message describing a BackupDrPitrSource.",
      "type": "object",
      "id": "BackupDrPitrSource"
    },
    "CloudControl2SharedOperationsReconciliationOperationMetadata": {
      "type": "object",
      "id": "CloudControl2SharedOperationsReconciliationOperationMetadata",
      "description": "Operation metadata returned by the CLH during resource state reconciliation.",
      "properties": {
        "exclusiveAction": {
          "enumDescriptions": [
            "Unknown repair action.",
            "The resource has to be deleted. When using this bit, the CLH should fail the operation. DEPRECATED. Instead use DELETE_RESOURCE OperationSignal in SideChannel.",
            "This resource could not be repaired but the repair should be tried again at a later time. This can happen if there is a dependency that needs to be resolved first- e.g. if a parent resource must be repaired before a child resource."
          ],
          "enumDeprecated": [
            false,
            true,
            false
          ],
          "type": "string",
          "enum": [
            "UNKNOWN_REPAIR_ACTION",
            "DELETE",
            "RETRY"
          ],
          "description": "Excluisive action returned by the CLH."
        },
        "deleteResource": {
          "deprecated": true,
          "type": "boolean",
          "description": "DEPRECATED. Use exclusive_action instead."
        }
      }
    },
    "BackupDrEnabledWindow": {
      "id": "BackupDrEnabledWindow",
      "type": "object",
      "properties": {
        "enabledTime": {
          "type": "string",
          "description": "Time when the BackupDR protection for this cluster was enabled.",
          "format": "google-datetime"
        },
        "logRetentionPeriod": {
          "description": "The retention period for logs generated by BackupDR for this cluster.",
          "format": "google-duration",
          "type": "string"
        },
        "continuousBackupPreviouslyEnabledTime": {
          "description": "The time when continuous backup was previously enabled prior to enabling BackupDR protection for this cluster.",
          "type": "string",
          "format": "google-datetime"
        },
        "continuousBackupPreviousRecoveryWindowDays": {
          "type": "integer",
          "description": "The retention set for the continuous backup that was previously enabled prior to enabling BackupDR protection for this cluster.",
          "format": "int32"
        },
        "disabledTime": {
          "type": "string",
          "description": "Time when the BackupDR protection for this cluster was disabled. This field will be empty if this BackupDR window is the `current_window`.",
          "format": "google-datetime"
        },
        "continuousBackupPreviouslyEnabled": {
          "description": "Whether continuous backup was previously enabled prior to enabling BackupDR protection for this cluster.",
          "type": "boolean"
        },
        "dataSource": {
          "type": "string",
          "description": "The DataSource resource that represents the cluster in BackupDR."
        },
        "backupPlanAssociation": {
          "type": "string",
          "description": "The BackupPlanAssociation resource that was used to enable BackupDR protection for this cluster."
        },
        "automatedBackupPreviouslyEnabled": {
          "description": "Whether automated backup was previously enabled prior to enabling BackupDR protection for this cluster.",
          "type": "boolean"
        }
      },
      "description": "Information about a single window when BackupDR was enabled for this cluster."
    },
    "UpgradeClusterResponse": {
      "type": "object",
      "id": "UpgradeClusterResponse",
      "description": "UpgradeClusterResponse contains the response for upgrade cluster operation.",
      "properties": {
        "message": {
          "type": "string",
          "description": "A user friendly message summarising the upgrade operation details and the next steps for the user if there is any."
        },
        "status": {
          "description": "Status of upgrade operation.",
          "type": "string",
          "enum": [
            "STATUS_UNSPECIFIED",
            "NOT_STARTED",
            "IN_PROGRESS",
            "SUCCESS",
            "FAILED",
            "PARTIAL_SUCCESS",
            "CANCEL_IN_PROGRESS",
            "CANCELLED"
          ],
          "enumDescriptions": [
            "Unspecified status.",
            "Not started.",
            "In progress.",
            "Operation succeeded.",
            "Operation failed.",
            "Operation partially succeeded.",
            "Cancel is in progress.",
            "Cancellation complete."
          ]
        },
        "clusterUpgradeDetails": {
          "type": "array",
          "description": "Array of upgrade details for the current cluster and all the secondary clusters associated with this cluster.",
          "items": {
            "$ref": "ClusterUpgradeDetails"
          }
        }
      }
    },
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        }
      },
      "type": "object"
    },
    "StorageDatabasecenterPartnerapiV1mainBackupDRMetadata": {
      "id": "StorageDatabasecenterPartnerapiV1mainBackupDRMetadata",
      "properties": {
        "backupdrConfiguration": {
          "description": "Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainBackupDRConfiguration"
        },
        "resourceId": {
          "description": "Required. Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceId"
        },
        "fullResourceName": {
          "description": "Required. Disable validation warnings",
          "type": "string"
        },
        "lastRefreshTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Required. Disable validation warnings"
        },
        "backupConfiguration": {
          "description": "Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainBackupConfiguration"
        },
        "backupRun": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainBackupRun",
          "description": "Disable validation warnings"
        }
      },
      "description": "Disable validation warnings",
      "type": "object"
    },
    "UpgradeClusterStatus": {
      "properties": {
        "cancellable": {
          "description": "Whether the operation is cancellable.",
          "type": "boolean"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATUS_UNSPECIFIED",
            "NOT_STARTED",
            "IN_PROGRESS",
            "SUCCESS",
            "FAILED",
            "PARTIAL_SUCCESS",
            "CANCEL_IN_PROGRESS",
            "CANCELLED"
          ],
          "enumDescriptions": [
            "Unspecified status.",
            "Not started.",
            "In progress.",
            "Operation succeeded.",
            "Operation failed.",
            "Operation partially succeeded.",
            "Cancel is in progress.",
            "Cancellation complete."
          ],
          "description": "Cluster Major Version Upgrade state."
        },
        "sourceVersion": {
          "enumDescriptions": [
            "This is an unknown database version.",
            "DEPRECATED - The database version is Postgres 13.",
            "The database version is Postgres 14.",
            "The database version is Postgres 15.",
            "The database version is Postgres 16.",
            "The database version is Postgres 17.",
            "The database version is Postgres 18."
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            false,
            false
          ],
          "description": "Source database major version.",
          "type": "string",
          "enum": [
            "DATABASE_VERSION_UNSPECIFIED",
            "POSTGRES_13",
            "POSTGRES_14",
            "POSTGRES_15",
            "POSTGRES_16",
            "POSTGRES_17",
            "POSTGRES_18"
          ]
        },
        "stages": {
          "items": {
            "$ref": "StageStatus"
          },
          "description": "Status of all upgrade stages.",
          "type": "array"
        },
        "targetVersion": {
          "type": "string",
          "enum": [
            "DATABASE_VERSION_UNSPECIFIED",
            "POSTGRES_13",
            "POSTGRES_14",
            "POSTGRES_15",
            "POSTGRES_16",
            "POSTGRES_17",
            "POSTGRES_18"
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            false,
            false
          ],
          "description": "Target database major version.",
          "enumDescriptions": [
            "This is an unknown database version.",
            "DEPRECATED - The database version is Postgres 13.",
            "The database version is Postgres 14.",
            "The database version is Postgres 15.",
            "The database version is Postgres 16.",
            "The database version is Postgres 17.",
            "The database version is Postgres 18."
          ]
        }
      },
      "type": "object",
      "id": "UpgradeClusterStatus",
      "description": "Message for current status of the Major Version Upgrade operation."
    },
    "UpgradeClusterRequest": {
      "type": "object",
      "description": "Upgrades a cluster.",
      "id": "UpgradeClusterRequest",
      "properties": {
        "version": {
          "enumDescriptions": [
            "This is an unknown database version.",
            "DEPRECATED - The database version is Postgres 13.",
            "The database version is Postgres 14.",
            "The database version is Postgres 15.",
            "The database version is Postgres 16.",
            "The database version is Postgres 17.",
            "The database version is Postgres 18."
          ],
          "description": "Required. The version the cluster is going to be upgraded to.",
          "type": "string",
          "enum": [
            "DATABASE_VERSION_UNSPECIFIED",
            "POSTGRES_13",
            "POSTGRES_14",
            "POSTGRES_15",
            "POSTGRES_16",
            "POSTGRES_17",
            "POSTGRES_18"
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            false,
            false
          ]
        },
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server ignores the request if it has already been completed. The server guarantees that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if the original operation with the same request ID was received, and if so, ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        },
        "validateOnly": {
          "description": "Optional. If set, performs request validation, for example, permission checks and any other type of validation, but does not actually execute the create request.",
          "type": "boolean"
        },
        "etag": {
          "description": "Optional. The current etag of the Cluster. If an etag is provided and does not match the current etag of the Cluster, upgrade will be blocked and an ABORTED error will be returned.",
          "type": "string"
        }
      }
    },
    "ImportClusterResponse": {
      "id": "ImportClusterResponse",
      "properties": {
        "bytesDownloaded": {
          "format": "int64",
          "type": "string",
          "description": "Required. Size of the object downloaded from Google Cloud Storage in bytes."
        }
      },
      "description": "Response of import rpc.",
      "type": "object"
    },
    "StorageDatabasecenterPartnerapiV1mainInternalResourceMetadata": {
      "id": "StorageDatabasecenterPartnerapiV1mainInternalResourceMetadata",
      "description": "Disable validation warnings",
      "properties": {
        "backupConfiguration": {
          "description": "Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainBackupConfiguration"
        },
        "backupRun": {
          "description": "Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainBackupRun"
        },
        "product": {
          "$ref": "StorageDatabasecenterProtoCommonProduct",
          "description": "Disable validation warnings"
        },
        "resourceId": {
          "description": "Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceId"
        },
        "resourceName": {
          "description": "Required. Disable validation warnings",
          "type": "string"
        },
        "isDeletionProtectionEnabled": {
          "description": "Disable validation warnings",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "PscInstanceConfig": {
      "type": "object",
      "properties": {
        "pscAutoConnectionPolicyState": {
          "enumDescriptions": [
            "The state is unspecified. For old instances, this means the PSC auto connection is disabled. For new instances, this means the PSC auto connection is enabled by default.",
            "Enables the PSC auto connection for the instance.",
            "Disables the PSC auto connection for the instance."
          ],
          "description": "Optional. Configuration for setting up PSC auto connection for the instance.",
          "type": "string",
          "enum": [
            "PSC_AUTO_CONNECTION_POLICY_STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED"
          ]
        },
        "serviceAttachmentLink": {
          "description": "Output only. The service attachment created when Private Service Connect (PSC) is enabled for the instance. The name of the resource will be in the format of `projects//regions//serviceAttachments/`",
          "readOnly": true,
          "type": "string"
        },
        "pscInterfaceConfigs": {
          "items": {
            "$ref": "PscInterfaceConfig"
          },
          "description": "Optional. Configurations for setting up PSC interfaces attached to the instance which are used for outbound connectivity. Only primary instances can have PSC interface attached. Currently we only support 0 or 1 PSC interface.",
          "type": "array"
        },
        "allowedConsumerProjects": {
          "description": "Optional. List of consumer projects that are allowed to create PSC endpoints to service-attachments to this instance.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "pscAutoDnsState": {
          "description": "Optional. Configuration for setting up PSC auto DNS for the instance.",
          "type": "string",
          "enum": [
            "PSC_AUTO_DNS_STATE_UNSPECIFIED",
            "PSC_AUTO_DNS_STATE_ENABLED",
            "PSC_AUTO_DNS_STATE_DISABLED"
          ],
          "enumDescriptions": [
            "The state is unspecified. For old instances, this means the PSC auto DNS is disabled. For new instances, this means the PSC auto DNS is enabled by default. Use `effective_psc_auto_dns_enabled` to check the effective state of the PSC auto DNS.",
            "Enables the PSC auto DNS for the instance.",
            "Disables the PSC auto DNS for the instance."
          ]
        },
        "pscDnsName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The DNS name of the instance for PSC connectivity. Name convention: ...alloydb-psc.goog"
        },
        "pscAutoConnections": {
          "description": "Optional. Configurations for setting up PSC service automation.",
          "type": "array",
          "items": {
            "$ref": "PscAutoConnectionConfig"
          }
        }
      },
      "description": "PscInstanceConfig contains PSC related configuration at an instance level.",
      "id": "PscInstanceConfig"
    },
    "StorageDatabasecenterProtoCommonProduct": {
      "properties": {
        "type": {
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "description": "Type of specific database product. It could be CloudSQL, AlloyDB etc..",
          "enumDescriptions": [
            "UNSPECIFIED means product type is not known or available.",
            "Cloud SQL product area in GCP",
            "Cloud SQL product area in GCP",
            "AlloyDB product area in GCP",
            "AlloyDB product area in GCP",
            "Spanner product area in GCP",
            "On premises database product.",
            "On premises database product.",
            "Memorystore product area in GCP",
            "Bigtable product area in GCP",
            "Firestore product area in GCP.",
            "Compute Engine self managed databases",
            "Oracle product area in GCP",
            "BigQuery product area in GCP",
            "Other refers to rest of other product type. This is to be when product type is known, but it is not present in this enum."
          ],
          "type": "string",
          "enum": [
            "PRODUCT_TYPE_UNSPECIFIED",
            "PRODUCT_TYPE_CLOUD_SQL",
            "CLOUD_SQL",
            "PRODUCT_TYPE_ALLOYDB",
            "ALLOYDB",
            "PRODUCT_TYPE_SPANNER",
            "PRODUCT_TYPE_ON_PREM",
            "ON_PREM",
            "PRODUCT_TYPE_MEMORYSTORE",
            "PRODUCT_TYPE_BIGTABLE",
            "PRODUCT_TYPE_FIRESTORE",
            "PRODUCT_TYPE_COMPUTE_ENGINE",
            "PRODUCT_TYPE_ORACLE_ON_GCP",
            "PRODUCT_TYPE_BIGQUERY",
            "PRODUCT_TYPE_OTHER"
          ]
        },
        "engine": {
          "description": "The specific engine that the underlying database is running.",
          "type": "string",
          "enum": [
            "ENGINE_UNSPECIFIED",
            "ENGINE_MYSQL",
            "MYSQL",
            "ENGINE_POSTGRES",
            "POSTGRES",
            "ENGINE_SQL_SERVER",
            "SQL_SERVER",
            "ENGINE_NATIVE",
            "NATIVE",
            "ENGINE_CLOUD_SPANNER_WITH_POSTGRES_DIALECT",
            "ENGINE_CLOUD_SPANNER_WITH_GOOGLESQL_DIALECT",
            "ENGINE_MEMORYSTORE_FOR_REDIS",
            "ENGINE_MEMORYSTORE_FOR_REDIS_CLUSTER",
            "ENGINE_MEMORYSTORE_FOR_VALKEY",
            "ENGINE_OTHER",
            "ENGINE_FIRESTORE_WITH_NATIVE_MODE",
            "ENGINE_FIRESTORE_WITH_DATASTORE_MODE",
            "ENGINE_FIRESTORE_WITH_MONGODB_COMPATIBILITY_MODE",
            "ENGINE_EXADATA_ORACLE",
            "ENGINE_ADB_SERVERLESS_ORACLE"
          ],
          "enumDescriptions": [
            "UNSPECIFIED means engine type is not known or available.",
            "MySQL binary running as an engine in the database instance.",
            "MySQL binary running as engine in database instance.",
            "Postgres binary running as engine in database instance.",
            "Postgres binary running as engine in database instance.",
            "SQLServer binary running as engine in database instance.",
            "SQLServer binary running as engine in database instance.",
            "Native database binary running as engine in instance.",
            "Native database binary running as engine in instance.",
            "Cloud Spanner with PostgreSQL dialect.",
            "Cloud Spanner with Google SQL dialect.",
            "Memorystore with Redis dialect.",
            "Memorystore with Redis cluster dialect.",
            "Memorystore with Valkey.",
            "Other refers to rest of other database engine. This is to be when engine is known, but it is not present in this enum.",
            "Firestore with native mode.",
            "Firestore with datastore mode.",
            "Firestore with MongoDB compatibility mode.",
            "Oracle Exadata engine.",
            "Oracle Autonomous DB Serverless engine."
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ]
        },
        "minorVersion": {
          "type": "string",
          "description": "Minor version of the underlying database engine. Example values: For MySQL, it could be \"8.0.32\", \"5.7.32\" etc.. For Postgres, it could be \"14.3\", \"15.3\" etc.."
        },
        "version": {
          "description": "Version of the underlying database engine. Example values: For MySQL, it could be \"8.0\", \"5.7\" etc.. For Postgres, it could be \"14\", \"15\" etc..",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Product specification for Condor resources.",
      "id": "StorageDatabasecenterProtoCommonProduct"
    },
    "ListSupportedDatabaseFlagsResponse": {
      "type": "object",
      "id": "ListSupportedDatabaseFlagsResponse",
      "description": "Message for response to listing SupportedDatabaseFlags.",
      "properties": {
        "supportedDatabaseFlags": {
          "type": "array",
          "description": "The list of SupportedDatabaseFlags.",
          "items": {
            "$ref": "SupportedDatabaseFlag"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      }
    },
    "CsvImportOptions": {
      "id": "CsvImportOptions",
      "properties": {
        "escapeCharacter": {
          "description": "Optional. Specifies the character that should appear before a data character that needs to be escaped. The default is same as quote character. The value of this argument has to be a character in Hex ASCII Code.",
          "type": "string"
        },
        "fieldDelimiter": {
          "description": "Optional. Specifies the character that separates columns within each row (line) of the file. The default is comma. The value of this argument has to be a character in Hex ASCII Code.",
          "type": "string"
        },
        "quoteCharacter": {
          "description": "Optional. Specifies the quoting character to be used when a data value is quoted. The default is double-quote. The value of this argument has to be a character in Hex ASCII Code.",
          "type": "string"
        },
        "table": {
          "description": "Required. The database table to import CSV file into.",
          "type": "string"
        },
        "columns": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The columns to which CSV data is imported. If not specified, all columns of the database table are loaded with CSV data."
        }
      },
      "description": "Options for importing data in CSV format.",
      "type": "object"
    },
    "GoogleCloudLocationListLocationsResponse": {
      "type": "object",
      "properties": {
        "locations": {
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "GoogleCloudLocationLocation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "id": "GoogleCloudLocationListLocationsResponse",
      "description": "The response message for Locations.ListLocations."
    },
    "StorageDatabasecenterPartnerapiV1mainDatabaseResourceMetadata": {
      "description": "Disable validation warnings",
      "id": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceMetadata",
      "properties": {
        "additionalMetadata": {
          "description": "Disable validation warnings",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "primaryResourceId": {
          "description": "Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceId"
        },
        "resourceContainer": {
          "type": "string",
          "description": "Disable validation warnings"
        },
        "creationTime": {
          "description": "Disable validation warnings",
          "format": "google-datetime",
          "type": "string"
        },
        "internalAdditionalMetadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Disable validation warnings",
          "type": "object"
        },
        "maintenanceInfo": {
          "description": "Optional. Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainResourceMaintenanceInfo"
        },
        "currentState": {
          "enumDescriptions": [
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings"
          ],
          "description": "Disable validation warnings",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "HEALTHY",
            "UNHEALTHY",
            "SUSPENDED",
            "DELETED",
            "STATE_OTHER",
            "STOPPED"
          ]
        },
        "id": {
          "description": "Required. Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceId"
        },
        "backupConfiguration": {
          "description": "Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainBackupConfiguration"
        },
        "backupdrConfiguration": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainBackupDRConfiguration",
          "description": "Optional. Disable validation warnings"
        },
        "modes": {
          "type": "array",
          "description": "Optional. Disable validation warnings",
          "items": {
            "enumDescriptions": [
              "Disable validation warnings",
              "Disable validation warnings",
              "Disable validation warnings",
              "Disable validation warnings",
              "Disable validation warnings",
              "Disable validation warnings"
            ],
            "type": "string",
            "enum": [
              "MODE_UNSPECIFIED",
              "MODE_NATIVE",
              "MODE_MONGODB_COMPATIBLE",
              "MODE_DATASTORE",
              "MODE_CLUSTER_ENABLED",
              "MODE_CLUSTER_DISABLED"
            ]
          }
        },
        "tagsSet": {
          "description": "Optional. Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainTags"
        },
        "availabilityConfiguration": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainAvailabilityConfiguration",
          "description": "Disable validation warnings"
        },
        "backupRun": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainBackupRun",
          "description": "Disable validation warnings"
        },
        "ipAddress": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainIpAddress",
          "description": "Optional. Disable validation warnings"
        },
        "updationTime": {
          "type": "string",
          "description": "Disable validation warnings",
          "format": "google-datetime"
        },
        "zone": {
          "type": "string",
          "description": "Disable validation warnings"
        },
        "resourceName": {
          "type": "string",
          "description": "Required. Disable validation warnings"
        },
        "edition": {
          "enumDescriptions": [
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings"
          ],
          "description": "Optional. Disable validation warnings",
          "type": "string",
          "enum": [
            "EDITION_UNSPECIFIED",
            "EDITION_ENTERPRISE",
            "EDITION_ENTERPRISE_PLUS",
            "EDITION_STANDARD"
          ]
        },
        "userLabelSet": {
          "description": "Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainUserLabels"
        },
        "machineConfiguration": {
          "description": "Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainMachineConfiguration"
        },
        "primaryResourceLocation": {
          "type": "string",
          "description": "Disable validation warnings"
        },
        "gcbdrConfiguration": {
          "description": "Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainGCBDRConfiguration",
          "deprecated": true
        },
        "suspensionReason": {
          "type": "string",
          "enum": [
            "SUSPENSION_REASON_UNSPECIFIED",
            "WIPEOUT_HIDE_EVENT",
            "WIPEOUT_PURGE_EVENT",
            "BILLING_DISABLED",
            "ABUSER_DETECTED",
            "ENCRYPTION_KEY_INACCESSIBLE",
            "REPLICATED_CLUSTER_ENCRYPTION_KEY_INACCESSIBLE"
          ],
          "enumDescriptions": [
            "Suspension reason is unspecified.",
            "Wipeout hide event.",
            "Wipeout purge event.",
            "Billing disabled for project",
            "Abuse detected for resource",
            "Encryption key inaccessible.",
            "Replicated cluster encryption key inaccessible."
          ],
          "description": "Optional. Disable validation warnings"
        },
        "resourceFlags": {
          "items": {
            "$ref": "StorageDatabasecenterPartnerapiV1mainResourceFlags"
          },
          "description": "Optional. Disable validation warnings",
          "type": "array"
        },
        "entitlements": {
          "description": "Disable validation warnings",
          "type": "array",
          "items": {
            "$ref": "StorageDatabasecenterPartnerapiV1mainEntitlement"
          }
        },
        "expectedState": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "HEALTHY",
            "UNHEALTHY",
            "SUSPENDED",
            "DELETED",
            "STATE_OTHER",
            "STOPPED"
          ],
          "enumDescriptions": [
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings"
          ],
          "description": "Disable validation warnings"
        },
        "instanceType": {
          "enumDescriptions": [
            "Unspecified.",
            "For rest of the other categories.",
            "A regular primary database instance.",
            "A cluster or an instance acting as a secondary.",
            "An instance acting as a read-replica.",
            "For rest of the other categories.",
            "A regular primary database instance.",
            "A cluster or an instance acting as a secondary.",
            "An instance acting as a read-replica.",
            "An instance acting as an external primary.",
            "An instance acting as Read Pool.",
            "Represents a reservation resource.",
            "Represents a dataset resource.",
            "For rest of the other categories."
          ],
          "type": "string",
          "enum": [
            "INSTANCE_TYPE_UNSPECIFIED",
            "SUB_RESOURCE_TYPE_UNSPECIFIED",
            "PRIMARY",
            "SECONDARY",
            "READ_REPLICA",
            "OTHER",
            "SUB_RESOURCE_TYPE_PRIMARY",
            "SUB_RESOURCE_TYPE_SECONDARY",
            "SUB_RESOURCE_TYPE_READ_REPLICA",
            "SUB_RESOURCE_TYPE_EXTERNAL_PRIMARY",
            "SUB_RESOURCE_TYPE_READ_POOL",
            "SUB_RESOURCE_TYPE_RESERVATION",
            "SUB_RESOURCE_TYPE_DATASET",
            "SUB_RESOURCE_TYPE_OTHER"
          ],
          "enumDeprecated": [
            true,
            false,
            true,
            true,
            true,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "description": "Disable validation warnings"
        },
        "customMetadata": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainCustomMetadataData",
          "description": "Disable validation warnings"
        },
        "isDeletionProtectionEnabled": {
          "description": "Optional. Disable validation warnings",
          "type": "boolean"
        },
        "product": {
          "$ref": "StorageDatabasecenterProtoCommonProduct",
          "description": "Disable validation warnings"
        },
        "location": {
          "description": "Disable validation warnings",
          "type": "string"
        }
      },
      "type": "object"
    },
    "StorageDatabasecenterPartnerapiV1mainDatabaseResourceHealthSignalData": {
      "id": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceHealthSignalData",
      "type": "object",
      "description": "Disable validation warnings",
      "properties": {
        "externalUri": {
          "type": "string",
          "description": "Disable validation warnings"
        },
        "resourceContainer": {
          "type": "string",
          "description": "Disable validation warnings"
        },
        "resourceName": {
          "description": "Required. Disable validation warnings",
          "type": "string"
        },
        "compliance": {
          "description": "Disable validation warnings",
          "items": {
            "$ref": "StorageDatabasecenterPartnerapiV1mainCompliance"
          },
          "type": "array"
        },
        "state": {
          "description": "Required. Disable validation warnings",
          "enumDescriptions": [
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings"
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "RESOLVED",
            "MUTED"
          ]
        },
        "location": {
          "description": "Disable validation warnings",
          "type": "string"
        },
        "additionalMetadata": {
          "description": "Disable validation warnings",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "eventTime": {
          "format": "google-datetime",
          "description": "Required. Disable validation warnings",
          "type": "string"
        },
        "name": {
          "description": "Required. Disable validation warnings",
          "type": "string"
        },
        "signalClass": {
          "enumDescriptions": [
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings"
          ],
          "type": "string",
          "enum": [
            "CLASS_UNSPECIFIED",
            "THREAT",
            "VULNERABILITY",
            "MISCONFIGURATION",
            "OBSERVATION",
            "ERROR"
          ],
          "description": "Required. Disable validation warnings"
        },
        "provider": {
          "description": "Disable validation warnings",
          "type": "string",
          "enum": [
            "PROVIDER_UNSPECIFIED",
            "GCP",
            "AWS",
            "AZURE",
            "ONPREM",
            "SELFMANAGED",
            "PROVIDER_OTHER"
          ],
          "enumDescriptions": [
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings"
          ]
        },
        "signalType": {
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            true,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "type": "string",
          "enum": [
            "SIGNAL_TYPE_UNSPECIFIED",
            "SIGNAL_TYPE_NOT_PROTECTED_BY_AUTOMATIC_FAILOVER",
            "SIGNAL_TYPE_GROUP_NOT_REPLICATING_ACROSS_REGIONS",
            "SIGNAL_TYPE_NOT_AVAILABLE_IN_MULTIPLE_ZONES",
            "SIGNAL_TYPE_NOT_AVAILABLE_IN_MULTIPLE_REGIONS",
            "SIGNAL_TYPE_NO_PROMOTABLE_REPLICA",
            "SIGNAL_TYPE_NO_AUTOMATED_BACKUP_POLICY",
            "SIGNAL_TYPE_SHORT_BACKUP_RETENTION",
            "SIGNAL_TYPE_LAST_BACKUP_FAILED",
            "SIGNAL_TYPE_LAST_BACKUP_OLD",
            "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_2_0",
            "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_3",
            "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_2",
            "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_1",
            "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_0",
            "SIGNAL_TYPE_VIOLATES_CIS_CONTROLS_V8_0",
            "SIGNAL_TYPE_VIOLATES_NIST_800_53",
            "SIGNAL_TYPE_VIOLATES_NIST_800_53_R5",
            "SIGNAL_TYPE_VIOLATES_NIST_CYBERSECURITY_FRAMEWORK_V1_0",
            "SIGNAL_TYPE_VIOLATES_ISO_27001",
            "SIGNAL_TYPE_VIOLATES_ISO_27001_V2022",
            "SIGNAL_TYPE_VIOLATES_PCI_DSS_V3_2_1",
            "SIGNAL_TYPE_VIOLATES_PCI_DSS_V4_0",
            "SIGNAL_TYPE_VIOLATES_CLOUD_CONTROLS_MATRIX_V4",
            "SIGNAL_TYPE_VIOLATES_HIPAA",
            "SIGNAL_TYPE_VIOLATES_SOC2_V2017",
            "SIGNAL_TYPE_LOGS_NOT_OPTIMIZED_FOR_TROUBLESHOOTING",
            "SIGNAL_TYPE_QUERY_DURATIONS_NOT_LOGGED",
            "SIGNAL_TYPE_VERBOSE_ERROR_LOGGING",
            "SIGNAL_TYPE_QUERY_LOCK_WAITS_NOT_LOGGED",
            "SIGNAL_TYPE_LOGGING_MOST_ERRORS",
            "SIGNAL_TYPE_LOGGING_ONLY_CRITICAL_ERRORS",
            "SIGNAL_TYPE_MINIMAL_ERROR_LOGGING",
            "SIGNAL_TYPE_QUERY_STATISTICS_LOGGED",
            "SIGNAL_TYPE_EXCESSIVE_LOGGING_OF_CLIENT_HOSTNAME",
            "SIGNAL_TYPE_EXCESSIVE_LOGGING_OF_PARSER_STATISTICS",
            "SIGNAL_TYPE_EXCESSIVE_LOGGING_OF_PLANNER_STATISTICS",
            "SIGNAL_TYPE_NOT_LOGGING_ONLY_DDL_STATEMENTS",
            "SIGNAL_TYPE_LOGGING_QUERY_STATISTICS",
            "SIGNAL_TYPE_NOT_LOGGING_TEMPORARY_FILES",
            "SIGNAL_TYPE_CONNECTION_MAX_NOT_CONFIGURED",
            "SIGNAL_TYPE_USER_OPTIONS_CONFIGURED",
            "SIGNAL_TYPE_EXPOSED_TO_PUBLIC_ACCESS",
            "SIGNAL_TYPE_UNENCRYPTED_CONNECTIONS",
            "SIGNAL_TYPE_NO_ROOT_PASSWORD",
            "SIGNAL_TYPE_WEAK_ROOT_PASSWORD",
            "SIGNAL_TYPE_ENCRYPTION_KEY_NOT_CUSTOMER_MANAGED",
            "SIGNAL_TYPE_SERVER_AUTHENTICATION_NOT_REQUIRED",
            "SIGNAL_TYPE_EXPOSED_BY_OWNERSHIP_CHAINING",
            "SIGNAL_TYPE_EXPOSED_TO_EXTERNAL_SCRIPTS",
            "SIGNAL_TYPE_EXPOSED_TO_LOCAL_DATA_LOADS",
            "SIGNAL_TYPE_CONNECTION_ATTEMPTS_NOT_LOGGED",
            "SIGNAL_TYPE_DISCONNECTIONS_NOT_LOGGED",
            "SIGNAL_TYPE_LOGGING_EXCESSIVE_STATEMENT_INFO",
            "SIGNAL_TYPE_EXPOSED_TO_REMOTE_ACCESS",
            "SIGNAL_TYPE_DATABASE_NAMES_EXPOSED",
            "SIGNAL_TYPE_SENSITIVE_TRACE_INFO_NOT_MASKED",
            "SIGNAL_TYPE_PUBLIC_IP_ENABLED",
            "SIGNAL_TYPE_IDLE",
            "SIGNAL_TYPE_OVERPROVISIONED",
            "SIGNAL_TYPE_HIGH_NUMBER_OF_OPEN_TABLES",
            "SIGNAL_TYPE_HIGH_NUMBER_OF_TABLES",
            "SIGNAL_TYPE_HIGH_TRANSACTION_ID_UTILIZATION",
            "SIGNAL_TYPE_UNDERPROVISIONED",
            "SIGNAL_TYPE_OUT_OF_DISK",
            "SIGNAL_TYPE_SERVER_CERTIFICATE_NEAR_EXPIRY",
            "SIGNAL_TYPE_DATABASE_AUDITING_DISABLED",
            "SIGNAL_TYPE_RESTRICT_AUTHORIZED_NETWORKS",
            "SIGNAL_TYPE_VIOLATE_POLICY_RESTRICT_PUBLIC_IP",
            "SIGNAL_TYPE_QUOTA_LIMIT",
            "SIGNAL_TYPE_NO_PASSWORD_POLICY",
            "SIGNAL_TYPE_CONNECTIONS_PERFORMANCE_IMPACT",
            "SIGNAL_TYPE_TMP_TABLES_PERFORMANCE_IMPACT",
            "SIGNAL_TYPE_TRANS_LOGS_PERFORMANCE_IMPACT",
            "SIGNAL_TYPE_HIGH_JOINS_WITHOUT_INDEXES",
            "SIGNAL_TYPE_SUPERUSER_WRITING_TO_USER_TABLES",
            "SIGNAL_TYPE_USER_GRANTED_ALL_PERMISSIONS",
            "SIGNAL_TYPE_DATA_EXPORT_TO_EXTERNAL_CLOUD_STORAGE_BUCKET",
            "SIGNAL_TYPE_DATA_EXPORT_TO_PUBLIC_CLOUD_STORAGE_BUCKET",
            "SIGNAL_TYPE_WEAK_PASSWORD_HASH_ALGORITHM",
            "SIGNAL_TYPE_NO_USER_PASSWORD_POLICY",
            "SIGNAL_TYPE_HOT_NODE",
            "SIGNAL_TYPE_NO_POINT_IN_TIME_RECOVERY",
            "SIGNAL_TYPE_RESOURCE_SUSPENDED",
            "SIGNAL_TYPE_EXPENSIVE_COMMANDS",
            "SIGNAL_TYPE_NO_MAINTENANCE_POLICY_CONFIGURED",
            "SIGNAL_TYPE_NO_DELETION_PROTECTION",
            "SIGNAL_TYPE_INEFFICIENT_QUERY",
            "SIGNAL_TYPE_READ_INTENSIVE_WORKLOAD",
            "SIGNAL_TYPE_MEMORY_LIMIT",
            "SIGNAL_TYPE_MAX_SERVER_MEMORY",
            "SIGNAL_TYPE_LARGE_ROWS",
            "SIGNAL_TYPE_HIGH_WRITE_PRESSURE",
            "SIGNAL_TYPE_HIGH_READ_PRESSURE",
            "SIGNAL_TYPE_ENCRYPTION_ORG_POLICY_NOT_SATISFIED",
            "SIGNAL_TYPE_LOCATION_ORG_POLICY_NOT_SATISFIED",
            "SIGNAL_TYPE_OUTDATED_MINOR_VERSION",
            "SIGNAL_TYPE_SCHEMA_NOT_OPTIMIZED",
            "SIGNAL_TYPE_MANY_IDLE_CONNECTIONS",
            "SIGNAL_TYPE_REPLICATION_LAG",
            "SIGNAL_TYPE_OUTDATED_VERSION",
            "SIGNAL_TYPE_OUTDATED_CLIENT",
            "SIGNAL_TYPE_DATABOOST_DISABLED",
            "SIGNAL_TYPE_RECOMMENDED_MAINTENANCE_POLICIES",
            "SIGNAL_TYPE_EXTENDED_SUPPORT",
            "SIGNAL_TYPE_PERFORMANCE_KPI_CHANGE",
            "SIGNAL_TYPE_VERSION_NEARING_END_OF_LIFE",
            "SIGNAL_TYPE_HIGH_MAINTENANCE_DOWNTIME_RISK",
            "SIGNAL_TYPE_LOW_CACHE_HIT_AND_MAINTENANCE_DOWNTIME",
            "SIGNAL_TYPE_MISSING_ENHANCED_PROTECTION"
          ],
          "description": "Required. Disable validation warnings",
          "enumDescriptions": [
            "Unspecified.",
            "Represents if a resource is protected by automatic failover. Checks for resources that are configured to have redundancy within a region that enables automatic failover.",
            "Represents if a group is replicating across regions. Checks for resources that are configured to have redundancy, and ongoing replication, across regions.",
            "Represents if the resource is available in multiple zones or not.",
            "Represents if a resource is available in multiple regions.",
            "Represents if a resource has a promotable replica.",
            "Represents if a resource has an automated backup policy.",
            "Represents if a resources has a short backup retention period.",
            "Represents if the last backup of a resource failed.",
            "Represents if the last backup of a resource is older than some threshold value.",
            "Represents if a resource violates CIS GCP Foundation 2.0.",
            "Represents if a resource violates CIS GCP Foundation 1.3.",
            "Represents if a resource violates CIS GCP Foundation 1.2.",
            "Represents if a resource violates CIS GCP Foundation 1.1.",
            "Represents if a resource violates CIS GCP Foundation 1.0.",
            "Represents if a resource violates CIS Controls 8.0.",
            "Represents if a resource violates NIST 800-53.",
            "Represents if a resource violates NIST 800-53 R5.",
            "Represents if a resource violates NIST Cybersecurity Framework 1.0.",
            "Represents if a resource violates ISO-27001.",
            "Represents if a resource violates ISO 27001 2022.",
            "Represents if a resource violates PCI-DSS v3.2.1.",
            "Represents if a resource violates PCI-DSS v4.0.",
            "Represents if a resource violates Cloud Controls Matrix v4.0.",
            "Represents if a resource violates HIPAA.",
            "Represents if a resource violates SOC2 v2017.",
            "Represents if log_checkpoints database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
            "Represents if the log_duration database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
            "Represents if the log_error_verbosity database flag for a Cloud SQL for PostgreSQL instance is not set to default or stricter (default or terse).",
            "Represents if the log_lock_waits database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
            "Represents if the log_min_error_statement database flag for a Cloud SQL for PostgreSQL instance is not set appropriately.",
            "Represents if the log_min_error_statement database flag for a Cloud SQL for PostgreSQL instance does not have an appropriate severity level.",
            "Represents if the log_min_messages database flag for a Cloud SQL for PostgreSQL instance is not set to warning or another recommended value.",
            "Represents if the databaseFlags property of instance metadata for the log_executor_status field is set to on.",
            "Represents if the log_hostname database flag for a Cloud SQL for PostgreSQL instance is not set to off.",
            "Represents if the log_parser_stats database flag for a Cloud SQL for PostgreSQL instance is not set to off.",
            "Represents if the log_planner_stats database flag for a Cloud SQL for PostgreSQL instance is not set to off.",
            "Represents if the log_statement database flag for a Cloud SQL for PostgreSQL instance is not set to DDL (all data definition statements).",
            "Represents if the log_statement_stats database flag for a Cloud SQL for PostgreSQL instance is not set to off.",
            "Represents if the log_temp_files database flag for a Cloud SQL for PostgreSQL instance is not set to \"0\". (NOTE: 0 = ON)",
            "Represents if the user connections database flag for a Cloud SQL for SQL Server instance is configured.",
            "Represents if the user options database flag for Cloud SQL SQL Server instance is configured or not.",
            "Represents if a resource is exposed to public access.",
            "Represents if a resources requires all incoming connections to use SSL or not.",
            "Represents if a Cloud SQL database has a password configured for the root account or not.",
            "Represents if a Cloud SQL database has a weak password configured for the root account.",
            "Represents if a SQL database instance is not encrypted with customer-managed encryption keys (CMEK).",
            "Represents if The contained database authentication database flag for a Cloud SQL for SQL Server instance is not set to off.",
            "Represents if the cross_db_ownership_chaining database flag for a Cloud SQL for SQL Server instance is not set to off.",
            "Represents if he external scripts enabled database flag for a Cloud SQL for SQL Server instance is not set to off.",
            "Represents if the local_infile database flag for a Cloud SQL for MySQL instance is not set to off.",
            "Represents if the log_connections database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
            "Represents if the log_disconnections database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
            "Represents if the log_min_duration_statement database flag for a Cloud SQL for PostgreSQL instance is not set to -1.",
            "Represents if the remote access database flag for a Cloud SQL for SQL Server instance is not set to off.",
            "Represents if the skip_show_database database flag for a Cloud SQL for MySQL instance is not set to on.",
            "Represents if the 3625 (trace flag) database flag for a Cloud SQL for SQL Server instance is not set to on.",
            "Represents if public IP is enabled.",
            "Represents Idle instance helps to reduce costs.",
            "Represents instances that are unnecessarily large for given workload.",
            "Represents high number of concurrently opened tables.",
            "Represents high table count close to SLA limit.",
            "Represents high number of unvacuumed transactions",
            "Represents need for more CPU and/or memory",
            "Represents out of disk.",
            "Represents server certificate is near expiry.",
            "Represents database auditing is disabled.",
            "Represents not restricted to authorized networks.",
            "Represents violate org policy restrict public ip.",
            "Cluster nearing quota limit",
            "No password policy set on resources",
            "Performance impact of connections settings",
            "Performance impact of temporary tables settings",
            "Performance impact of transaction logs settings",
            "Performance impact of high joins without indexes",
            "Detects events where a Cloud SQL superuser (postgres for PostgreSQL servers or root for MySQL users) writes to non-system tables.",
            "Detects events where a database user or role has been granted all privileges to a database, or to all tables, procedures, or functions in a schema.",
            "Detects if database instance data exported to a Cloud Storage bucket outside of the organization.",
            "Detects if database instance data exported to a Cloud Storage bucket that is owned by the organization and is publicly accessible.",
            "Detects if a database instance is using a weak password hash algorithm.",
            "Detects if a database instance has no user password policy set.",
            "Detects if a database instance/cluster has a hot node.",
            "Detects if a database instance has no point in time recovery enabled.",
            "Detects if a database instance/cluster is suspended.",
            "Detects that expensive commands are being run on a database instance impacting overall performance.",
            "Indicates that the instance does not have a maintenance policy configured.",
            "Deletion Protection Disabled for the resource",
            "Indicates that the instance has inefficient queries detected.",
            "Indicates that the instance has read intensive workload.",
            "Indicates that the instance is nearing memory limit.",
            "Indicates that the instance's max server memory is configured higher than the recommended value.",
            "Indicates that the database has large rows beyond the recommended limit.",
            "Heavy write pressure on the database rows.",
            "Heavy read pressure on the database rows.",
            "Encryption org policy not satisfied.",
            "Location org policy not satisfied.",
            "Outdated DB minor version.",
            "Schema not optimized.",
            "High number of idle connections.",
            "Replication delay.",
            "Outdated version.",
            "Outdated client.",
            "Databoost is disabled.",
            "Recommended maintenance policy.",
            "Resource version is in extended support.",
            "Change in performance KPIs.",
            "Database version nearing end of life.",
            "Indicates a high risk of maintenance downtime.",
            "Indicates both a low cache hit rate and a risk of maintenance downtime.",
            "Indicates that the resource is missing enhanced protection."
          ]
        },
        "signalId": {
          "description": "Required. Disable validation warnings",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Disable validation warnings"
        },
        "signalSeverity": {
          "description": "Disable validation warnings",
          "type": "string",
          "enum": [
            "SIGNAL_SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "enumDescriptions": [
            "Disable validation warnings",
[...]
