{
  "servicePath": "",
  "parameters": {
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "location": "query",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version_module": true,
  "documentationLink": "https://cloud.google.com/alloydb/",
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "canonicalName": "Cloud AlloyDB Admin",
  "fullyEncodeReservedExpansion": true,
  "mtlsRootUrl": "https://alloydb.mtls.googleapis.com/",
  "endpoints": [
    {
      "endpointUrl": "https://alloydb.us-central2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-central2"
    },
    {
      "endpointUrl": "https://alloydb.us-east7.rep.googleapis.com/",
      "location": "us-east7",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://alloydb.northamerica-northeast1.rep.googleapis.com/",
      "location": "northamerica-northeast1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://alloydb.northamerica-northeast2.rep.googleapis.com/",
      "location": "northamerica-northeast2",
      "description": "Regional Endpoint"
    },
    {
      "location": "northamerica-south1",
      "endpointUrl": "https://alloydb.northamerica-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "southamerica-east1",
      "endpointUrl": "https://alloydb.southamerica-east1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://alloydb.southamerica-west1.rep.googleapis.com/",
      "location": "southamerica-west1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://alloydb.us-central1.rep.googleapis.com/",
      "location": "us-central1"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-east1",
      "endpointUrl": "https://alloydb.us-east1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://alloydb.us-east4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east4"
    },
    {
      "endpointUrl": "https://alloydb.us-east5.rep.googleapis.com/",
      "location": "us-east5",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://alloydb.us-south1.rep.googleapis.com/",
      "location": "us-south1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://alloydb.us-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west1"
    },
    {
      "endpointUrl": "https://alloydb.us-west2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west2"
    },
    {
      "location": "us-west3",
      "endpointUrl": "https://alloydb.us-west3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://alloydb.us-west4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west4"
    },
    {
      "location": "europe-central2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://alloydb.europe-central2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://alloydb.europe-southwest1.rep.googleapis.com/",
      "location": "europe-southwest1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://alloydb.europe-north1.rep.googleapis.com/",
      "location": "europe-north1"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-north2",
      "endpointUrl": "https://alloydb.europe-north2.rep.googleapis.com/"
    },
    {
      "location": "europe-west1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://alloydb.europe-west1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://alloydb.europe-west2.rep.googleapis.com/",
      "location": "europe-west2"
    },
    {
      "endpointUrl": "https://alloydb.europe-west3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west3"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west4",
      "endpointUrl": "https://alloydb.europe-west4.rep.googleapis.com/"
    },
    {
      "location": "europe-west6",
      "endpointUrl": "https://alloydb.europe-west6.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://alloydb.europe-west8.rep.googleapis.com/",
      "location": "europe-west8"
    },
    {
      "endpointUrl": "https://alloydb.europe-west9.rep.googleapis.com/",
      "location": "europe-west9",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://alloydb.europe-west10.rep.googleapis.com/",
      "location": "europe-west10",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://alloydb.europe-west12.rep.googleapis.com/",
      "location": "europe-west12",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-east1",
      "endpointUrl": "https://alloydb.asia-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-east2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://alloydb.asia-east2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://alloydb.asia-northeast1.rep.googleapis.com/",
      "location": "asia-northeast1"
    },
    {
      "endpointUrl": "https://alloydb.asia-northeast2.rep.googleapis.com/",
      "location": "asia-northeast2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://alloydb.asia-northeast3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-northeast3"
    },
    {
      "endpointUrl": "https://alloydb.asia-south1.rep.googleapis.com/",
      "location": "asia-south1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://alloydb.asia-south2.rep.googleapis.com/",
      "location": "asia-south2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://alloydb.asia-southeast1.rep.googleapis.com/",
      "location": "asia-southeast1"
    },
    {
      "endpointUrl": "https://alloydb.asia-southeast2.rep.googleapis.com/",
      "location": "asia-southeast2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "australia-southeast1",
      "endpointUrl": "https://alloydb.australia-southeast1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://alloydb.australia-southeast2.rep.googleapis.com/",
      "location": "australia-southeast2"
    },
    {
      "endpointUrl": "https://alloydb.me-central1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "me-central1"
    },
    {
      "endpointUrl": "https://alloydb.me-central2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "me-central2"
    },
    {
      "endpointUrl": "https://alloydb.me-west1.rep.googleapis.com/",
      "location": "me-west1",
      "description": "Regional Endpoint"
    },
    {
      "location": "africa-south1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://alloydb.africa-south1.rep.googleapis.com/"
    }
  ],
  "baseUrl": "https://alloydb.googleapis.com/",
  "ownerDomain": "google.com",
  "basePath": "",
  "protocol": "rest",
  "name": "alloydb",
  "revision": "20260826",
  "title": "AlloyDB API",
  "ownerName": "Google",
  "version": "v1",
  "schemas": {
    "CloudControl2SharedOperationsReconciliationOperationMetadata": {
      "type": "object",
      "id": "CloudControl2SharedOperationsReconciliationOperationMetadata",
      "description": "Operation metadata returned by the CLH during resource state reconciliation.",
      "properties": {
        "deleteResource": {
          "type": "boolean",
          "description": "DEPRECATED. Use exclusive_action instead.",
          "deprecated": true
        },
        "exclusiveAction": {
          "description": "Excluisive action returned by the CLH.",
          "enumDescriptions": [
            "Unknown repair action.",
            "The resource has to be deleted. When using this bit, the CLH should fail the operation. DEPRECATED. Instead use DELETE_RESOURCE OperationSignal in SideChannel.",
            "This resource could not be repaired but the repair should be tried again at a later time. This can happen if there is a dependency that needs to be resolved first- e.g. if a parent resource must be repaired before a child resource."
          ],
          "type": "string",
          "enum": [
            "UNKNOWN_REPAIR_ACTION",
            "DELETE",
            "RETRY"
          ],
          "enumDeprecated": [
            false,
            true,
            false
          ]
        }
      }
    },
    "ConnectionPoolConfig": {
      "type": "object",
      "properties": {
        "poolerScalingType": {
          "enumDescriptions": [
            "The scaling type is not specified.",
            "No pooler is enabled.",
            "The number of poolers is automatically determined by the service based on the VM size.",
            "The number of poolers is kept unchanged no matter the machine size."
          ],
          "type": "string",
          "enum": [
            "POOLER_SCALING_TYPE_UNSPECIFIED",
            "POOLER_NONE",
            "POOLER_MACHINE_SIZED",
            "POOLER_MANUAL_OVERRIDE"
          ],
          "description": "Optional. The scaling type of the regular pooler."
        },
        "poolerCount": {
          "type": "integer",
          "description": "Output only. The number of running poolers per instance.",
          "format": "int32",
          "readOnly": true
        },
        "authproxyPoolerCount": {
          "readOnly": true,
          "type": "integer",
          "description": "Output only. The number of running AuthProxy poolers per instance.",
          "format": "int32"
        },
        "enabled": {
          "description": "Optional. Whether to enable Managed Connection Pool (MCP).",
          "type": "boolean"
        },
        "authproxyPoolerScalingType": {
          "description": "Optional. The scaling type of the AuthProxy pooler.",
          "enumDescriptions": [
            "The scaling type is not specified.",
            "No pooler is enabled.",
            "The number of poolers is automatically determined by the service based on the VM size.",
            "The number of poolers is kept unchanged no matter the machine size."
          ],
          "type": "string",
          "enum": [
            "POOLER_SCALING_TYPE_UNSPECIFIED",
            "POOLER_NONE",
            "POOLER_MACHINE_SIZED",
            "POOLER_MANUAL_OVERRIDE"
          ]
        },
        "flags": {
          "type": "object",
          "description": "Optional. Connection Pool flags, as a list of \"key\": \"value\" pairs.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "description": "Configuration for Managed Connection Pool (MCP).",
      "id": "ConnectionPoolConfig"
    },
    "DnsAutomationInfo": {
      "properties": {
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING_CREATE",
            "ACTIVE",
            "PENDING_DELETE",
            "CREATE_FAILED",
            "DELETE_FAILED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Default value. This value is unused.",
            "DNS record creation is pending.",
            "DNS record is active.",
            "DNS record deletion is pending.",
            "DNS record creation failed.",
            "DNS record deletion failed."
          ],
          "description": "Output only. The state of the DNS automation."
        },
        "fullyQualifiedDomainName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The fully qualified domain name of the instance for DNS automation. Example: \"...alloydb.goog.\". Note: The AUDIT directive is intentionally omitted because this field contains sensitive network topology information."
        }
      },
      "type": "object",
      "id": "DnsAutomationInfo",
      "description": "DnsAutomationInfo contains information about the DNS automation for the instance."
    },
    "StringRestrictions": {
      "type": "object",
      "properties": {
        "allowedValues": {
          "type": "array",
          "description": "The list of allowed values, if bounded. This field will be empty if there is a unbounded number of allowed values.",
          "items": {
            "type": "string"
          }
        },
        "caseAgnostic": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether the allowed values are case agnostic."
        }
      },
      "description": "Restrictions on STRING type values",
      "id": "StringRestrictions"
    },
    "ContinuousBackupSource": {
      "id": "ContinuousBackupSource",
      "description": "Message describing a ContinuousBackupSource.",
      "properties": {
        "cluster": {
          "type": "string",
          "description": "Required. The source cluster from which to restore. This cluster must have continuous backup enabled for this operation to succeed. For the required format, see the comment on the Cluster.name field."
        },
        "pointInTime": {
          "type": "string",
          "description": "Required. The point in time to restore to.",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "StageStatus": {
      "type": "object",
      "properties": {
        "stage": {
          "enumDescriptions": [
            "Unspecified stage.",
            "Pre-upgrade custom checks, not covered by pg_upgrade.",
            "Pre-upgrade pg_upgrade checks.",
            "Clone the original cluster.",
            "Upgrade the primary instance(downtime).",
            "This stage is read pool upgrade.",
            "Rollback in case of critical failures.",
            "Cleanup."
          ],
          "description": "Upgrade stage.",
          "type": "string",
          "enum": [
            "STAGE_UNSPECIFIED",
            "ALLOYDB_PRECHECK",
            "PG_UPGRADE_CHECK",
            "PREPARE_FOR_UPGRADE",
            "PRIMARY_INSTANCE_UPGRADE",
            "READ_POOL_INSTANCES_UPGRADE",
            "ROLLBACK",
            "CLEANUP"
          ]
        },
        "readPoolInstancesUpgrade": {
          "description": "Read pool instances upgrade metadata.",
          "$ref": "ReadPoolInstancesUpgradeStageStatus"
        },
        "state": {
          "enumDescriptions": [
            "Unspecified status.",
            "Not started.",
            "In progress.",
            "Operation succeeded.",
            "Operation failed.",
            "Operation partially succeeded.",
            "Cancel is in progress.",
            "Cancellation complete."
          ],
          "type": "string",
          "enum": [
            "STATUS_UNSPECIFIED",
            "NOT_STARTED",
            "IN_PROGRESS",
            "SUCCESS",
            "FAILED",
            "PARTIAL_SUCCESS",
            "CANCEL_IN_PROGRESS",
            "CANCELLED"
          ],
          "description": "State of this stage."
        }
      },
      "description": "Status of an upgrade stage.",
      "id": "StageStatus"
    },
    "ContinuousBackupConfig": {
      "type": "object",
      "properties": {
        "encryptionConfig": {
          "description": "The encryption config can be specified to encrypt the backups with a customer-managed encryption key (CMEK). When this field is not specified, the backup will use the cluster's encryption config.",
          "$ref": "EncryptionConfig"
        },
        "enabled": {
          "type": "boolean",
          "description": "Whether ContinuousBackup is enabled."
        },
        "recoveryWindowDays": {
          "description": "The number of days that are eligible to restore from using PITR. To support the entire recovery window, backups and logs are retained for one day more than the recovery window. If not set, defaults to 14 days.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "ContinuousBackupConfig describes the continuous backups recovery configurations of a cluster.",
      "id": "ContinuousBackupConfig"
    },
    "StorageDatabasecenterPartnerapiV1mainRetentionSettings": {
      "properties": {
        "retentionUnit": {
          "description": "Disable validation warnings",
          "enumDescriptions": [
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings"
          ],
          "type": "string",
          "enum": [
            "RETENTION_UNIT_UNSPECIFIED",
            "COUNT",
            "TIME",
            "DURATION",
            "RETENTION_UNIT_OTHER"
          ],
          "deprecated": true
        },
        "timestampBasedRetentionTime": {
          "description": "Disable validation warnings",
          "type": "string",
          "format": "google-datetime"
        },
        "timeBasedRetention": {
          "description": "Disable validation warnings",
          "type": "string",
          "deprecated": true,
          "format": "google-duration"
        },
        "quantityBasedRetention": {
          "type": "integer",
          "description": "Disable validation warnings",
          "format": "int32"
        },
        "durationBasedRetention": {
          "type": "string",
          "format": "google-duration",
          "description": "Disable validation warnings"
        }
      },
      "id": "StorageDatabasecenterPartnerapiV1mainRetentionSettings",
      "description": "Disable validation warnings",
      "type": "object"
    },
    "WeeklySchedule": {
      "description": "A weekly schedule starts a backup at prescribed start times within a day, for the specified days of the week. The weekly schedule message is flexible and can be used to create many types of schedules. For example, to have a daily backup that starts at 22:00, configure the `start_times` field to have one element \"22:00\" and the `days_of_week` field to have all seven days of the week.",
      "type": "object",
      "properties": {
        "startTimes": {
          "items": {
            "$ref": "GoogleTypeTimeOfDay"
          },
          "type": "array",
          "description": "The times during the day to start a backup. The start times are assumed to be in UTC and to be an exact hour (e.g., 04:00:00). If no start times are provided, a single fixed start time is chosen arbitrarily."
        },
        "daysOfWeek": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "DAY_OF_WEEK_UNSPECIFIED",
              "MONDAY",
              "TUESDAY",
              "WEDNESDAY",
              "THURSDAY",
              "FRIDAY",
              "SATURDAY",
              "SUNDAY"
            ],
            "enumDescriptions": [
              "The day of the week is unspecified.",
              "Monday",
              "Tuesday",
              "Wednesday",
              "Thursday",
              "Friday",
              "Saturday",
              "Sunday"
            ]
          },
          "description": "The days of the week to perform a backup. If this field is left empty, the default of every day of the week is used."
        }
      },
      "id": "WeeklySchedule"
    },
    "StorageDatabasecenterPartnerapiV1mainEntitlement": {
      "properties": {
        "entitlementState": {
          "type": "string",
          "enum": [
            "ENTITLEMENT_STATE_UNSPECIFIED",
            "ENTITLED",
            "REVOKED"
          ],
          "description": "Disable validation warnings",
          "enumDescriptions": [
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings"
          ]
        },
        "type": {
          "enumDescriptions": [
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings"
          ],
          "type": "string",
          "enum": [
            "ENTITLEMENT_TYPE_UNSPECIFIED",
            "GEMINI",
            "NATIVE",
            "GCA_STANDARD"
          ],
          "description": "Disable validation warnings",
          "enumDeprecated": [
            false,
            true,
            false,
            false
          ]
        }
      },
      "type": "object",
      "id": "StorageDatabasecenterPartnerapiV1mainEntitlement",
      "description": "Disable validation warnings"
    },
    "StorageDatabasecenterProtoCommonProduct": {
      "id": "StorageDatabasecenterProtoCommonProduct",
      "description": "Product specification for Condor resources.",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "PRODUCT_TYPE_UNSPECIFIED",
            "PRODUCT_TYPE_CLOUD_SQL",
            "CLOUD_SQL",
            "PRODUCT_TYPE_ALLOYDB",
            "ALLOYDB",
            "PRODUCT_TYPE_SPANNER",
            "PRODUCT_TYPE_ON_PREM",
            "ON_PREM",
            "PRODUCT_TYPE_MEMORYSTORE",
            "PRODUCT_TYPE_BIGTABLE",
            "PRODUCT_TYPE_FIRESTORE",
            "PRODUCT_TYPE_COMPUTE_ENGINE",
            "PRODUCT_TYPE_ORACLE_ON_GCP",
            "PRODUCT_TYPE_BIGQUERY",
            "PRODUCT_TYPE_OTHER"
          ],
          "enumDescriptions": [
            "UNSPECIFIED means product type is not known or available.",
            "Cloud SQL product area in GCP",
            "Cloud SQL product area in GCP",
            "AlloyDB product area in GCP",
            "AlloyDB product area in GCP",
            "Spanner product area in GCP",
            "On premises database product.",
            "On premises database product.",
            "Memorystore product area in GCP",
            "Bigtable product area in GCP",
            "Firestore product area in GCP.",
            "Compute Engine self managed databases",
            "Oracle product area in GCP",
            "BigQuery product area in GCP",
            "Other refers to rest of other product type. This is to be when product type is known, but it is not present in this enum."
          ],
          "description": "Type of specific database product. It could be CloudSQL, AlloyDB etc..",
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ]
        },
        "engine": {
          "description": "The specific engine that the underlying database is running.",
          "type": "string",
          "enum": [
            "ENGINE_UNSPECIFIED",
            "ENGINE_MYSQL",
            "MYSQL",
            "ENGINE_POSTGRES",
            "POSTGRES",
            "ENGINE_SQL_SERVER",
            "SQL_SERVER",
            "ENGINE_NATIVE",
            "NATIVE",
            "ENGINE_CLOUD_SPANNER_WITH_POSTGRES_DIALECT",
            "ENGINE_CLOUD_SPANNER_WITH_GOOGLESQL_DIALECT",
            "ENGINE_MEMORYSTORE_FOR_REDIS",
            "ENGINE_MEMORYSTORE_FOR_REDIS_CLUSTER",
            "ENGINE_MEMORYSTORE_FOR_VALKEY",
            "ENGINE_OTHER",
            "ENGINE_FIRESTORE_WITH_NATIVE_MODE",
            "ENGINE_FIRESTORE_WITH_DATASTORE_MODE",
            "ENGINE_FIRESTORE_WITH_MONGODB_COMPATIBILITY_MODE",
            "ENGINE_EXADATA_ORACLE",
            "ENGINE_ADB_SERVERLESS_ORACLE"
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "enumDescriptions": [
            "UNSPECIFIED means engine type is not known or available.",
            "MySQL binary running as an engine in the database instance.",
            "MySQL binary running as engine in database instance.",
            "Postgres binary running as engine in database instance.",
            "Postgres binary running as engine in database instance.",
            "SQLServer binary running as engine in database instance.",
            "SQLServer binary running as engine in database instance.",
            "Native database binary running as engine in instance.",
            "Native database binary running as engine in instance.",
            "Cloud Spanner with PostgreSQL dialect.",
            "Cloud Spanner with Google SQL dialect.",
            "Memorystore with Redis dialect.",
            "Memorystore with Redis cluster dialect.",
            "Memorystore with Valkey.",
            "Other refers to rest of other database engine. This is to be when engine is known, but it is not present in this enum.",
            "Firestore with native mode.",
            "Firestore with datastore mode.",
            "Firestore with MongoDB compatibility mode.",
            "Oracle Exadata engine.",
            "Oracle Autonomous DB Serverless engine."
          ]
        },
        "version": {
          "type": "string",
          "description": "Version of the underlying database engine. Example values: For MySQL, it could be \"8.0\", \"5.7\" etc.. For Postgres, it could be \"14\", \"15\" etc.."
        },
        "minorVersion": {
          "type": "string",
          "description": "Minor version of the underlying database engine. Example values: For MySQL, it could be \"8.0.32\", \"5.7.32\" etc.. For Postgres, it could be \"14.3\", \"15.3\" etc.."
        }
      }
    },
    "MaintenanceSchedule": {
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The scheduled start time for the maintenance.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "MaintenanceSchedule stores the maintenance schedule generated from the MaintenanceUpdatePolicy, once a maintenance rollout is triggered, if MaintenanceWindow is set, and if there is no conflicting DenyPeriod. The schedule is cleared once the update takes place. This field cannot be manually changed; modify the MaintenanceUpdatePolicy instead.",
      "id": "MaintenanceSchedule"
    },
    "StorageDatabasecenterPartnerapiV1mainInternalResourceMetadata": {
      "description": "Disable validation warnings",
      "id": "StorageDatabasecenterPartnerapiV1mainInternalResourceMetadata",
      "properties": {
        "resourceName": {
          "type": "string",
          "description": "Required. Disable validation warnings"
        },
        "backupConfiguration": {
          "description": "Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainBackupConfiguration"
        },
        "backupRun": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainBackupRun",
          "description": "Disable validation warnings"
        },
        "product": {
          "description": "Disable validation warnings",
          "$ref": "StorageDatabasecenterProtoCommonProduct"
        },
        "isDeletionProtectionEnabled": {
          "description": "Disable validation warnings",
          "type": "boolean"
        },
        "resourceId": {
          "description": "Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceId"
        }
      },
      "type": "object"
    },
    "PscInterfaceConfig": {
      "properties": {
        "networkAttachmentResource": {
          "description": "The network attachment resource created in the consumer network to which the PSC interface will be linked. This is of the format: \"projects/${CONSUMER_PROJECT}/regions/${REGION}/networkAttachments/${NETWORK_ATTACHMENT_NAME}\". The network attachment must be in the same region as the instance.",
          "type": "string"
        }
      },
      "description": "Configuration for setting up a PSC interface to enable outbound connectivity.",
      "id": "PscInterfaceConfig",
      "type": "object"
    },
    "PrimaryConfig": {
      "properties": {
        "secondaryClusterNames": {
          "readOnly": true,
          "description": "Output only. Names of the clusters that are replicating from this cluster.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "PrimaryConfig",
      "description": "Configuration for the primary cluster. It has the list of clusters that are replicating from this cluster. This should be set if and only if the cluster is of type PRIMARY.",
      "type": "object"
    },
    "ListClustersResponse": {
      "type": "object",
      "properties": {
        "clusters": {
          "type": "array",
          "description": "The list of Cluster",
          "items": {
            "$ref": "Cluster"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      },
      "id": "ListClustersResponse",
      "description": "Message for response to listing Clusters"
    },
    "User": {
      "type": "object",
      "id": "User",
      "description": "Message describing User object.",
      "properties": {
        "keepExtraRoles": {
          "description": "Input only. If the user already exists and it has additional roles, keep them granted.",
          "type": "boolean"
        },
        "databaseRoles": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. List of database roles this user has. The database role strings are subject to the PostgreSQL naming conventions."
        },
        "password": {
          "type": "string",
          "description": "Input only. Password for the user."
        },
        "userType": {
          "description": "Optional. Type of this user.",
          "enumDescriptions": [
            "Unspecified user type.",
            "The default user type that authenticates via password-based authentication.",
            "Database user that can authenticate via IAM-Based authentication."
          ],
          "type": "string",
          "enum": [
            "USER_TYPE_UNSPECIFIED",
            "ALLOYDB_BUILT_IN",
            "ALLOYDB_IAM_USER"
          ]
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Name of the resource in the form of projects/{project}/locations/{location}/cluster/{cluster}/users/{user}.",
          "type": "string"
        }
      }
    },
    "CsvImportOptions": {
      "id": "CsvImportOptions",
      "properties": {
        "fieldDelimiter": {
          "description": "Optional. Specifies the character that separates columns within each row (line) of the file. The default is comma. The value of this argument has to be a character in Hex ASCII Code.",
          "type": "string"
        },
        "columns": {
          "description": "Optional. The columns to which CSV data is imported. If not specified, all columns of the database table are loaded with CSV data.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "quoteCharacter": {
          "description": "Optional. Specifies the quoting character to be used when a data value is quoted. The default is double-quote. The value of this argument has to be a character in Hex ASCII Code.",
          "type": "string"
        },
        "escapeCharacter": {
          "description": "Optional. Specifies the character that should appear before a data character that needs to be escaped. The default is same as quote character. The value of this argument has to be a character in Hex ASCII Code.",
          "type": "string"
        },
        "table": {
          "type": "string",
          "description": "Required. The database table to import CSV file into."
        }
      },
      "description": "Options for importing data in CSV format.",
      "type": "object"
    },
    "TimeBasedRetention": {
      "properties": {
        "retentionPeriod": {
          "type": "string",
          "format": "google-duration",
          "description": "The retention period."
        }
      },
      "description": "A time based retention policy specifies that all backups within a certain time period should be retained.",
      "type": "object",
      "id": "TimeBasedRetention"
    },
    "StorageDatabasecenterPartnerapiV1mainDatabaseResourceMetadata": {
      "description": "Disable validation warnings",
      "type": "object",
      "id": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceMetadata",
      "properties": {
        "primaryResourceLocation": {
          "type": "string",
          "description": "Disable validation warnings"
        },
        "location": {
          "type": "string",
          "description": "Disable validation warnings"
        },
        "customMetadata": {
          "description": "Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainCustomMetadataData"
        },
        "product": {
          "description": "Disable validation warnings",
          "$ref": "StorageDatabasecenterProtoCommonProduct"
        },
        "resourceName": {
          "type": "string",
          "description": "Required. Disable validation warnings"
        },
        "availabilityConfiguration": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainAvailabilityConfiguration",
          "description": "Disable validation warnings"
        },
        "tagsSet": {
          "description": "Optional. Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainTags"
        },
        "backupRun": {
          "description": "Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainBackupRun"
        },
        "maintenanceInfo": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainResourceMaintenanceInfo",
          "description": "Optional. Disable validation warnings"
        },
        "gcbdrConfiguration": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainGCBDRConfiguration",
          "deprecated": true,
          "description": "Disable validation warnings"
        },
        "primaryResourceId": {
          "description": "Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceId"
        },
        "backupConfiguration": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainBackupConfiguration",
          "description": "Disable validation warnings"
        },
        "resourceContainer": {
          "type": "string",
          "description": "Disable validation warnings"
        },
        "id": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceId",
          "description": "Required. Disable validation warnings"
        },
        "machineConfiguration": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainMachineConfiguration",
          "description": "Disable validation warnings"
        },
        "additionalMetadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Disable validation warnings"
        },
        "currentState": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "HEALTHY",
            "UNHEALTHY",
            "SUSPENDED",
            "DELETED",
            "STATE_OTHER",
            "STOPPED"
          ],
          "enumDescriptions": [
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings"
          ],
          "description": "Disable validation warnings"
        },
        "instanceType": {
          "enumDescriptions": [
            "Unspecified.",
            "For rest of the other categories.",
            "A regular primary database instance.",
            "A cluster or an instance acting as a secondary.",
            "An instance acting as a read-replica.",
            "For rest of the other categories.",
            "A regular primary database instance.",
            "A cluster or an instance acting as a secondary.",
            "An instance acting as a read-replica.",
            "An instance acting as an external primary.",
            "An instance acting as Read Pool.",
            "Represents a reservation resource.",
            "Represents a dataset resource.",
            "For rest of the other categories."
          ],
          "type": "string",
          "enum": [
            "INSTANCE_TYPE_UNSPECIFIED",
            "SUB_RESOURCE_TYPE_UNSPECIFIED",
            "PRIMARY",
            "SECONDARY",
            "READ_REPLICA",
            "OTHER",
            "SUB_RESOURCE_TYPE_PRIMARY",
            "SUB_RESOURCE_TYPE_SECONDARY",
            "SUB_RESOURCE_TYPE_READ_REPLICA",
            "SUB_RESOURCE_TYPE_EXTERNAL_PRIMARY",
            "SUB_RESOURCE_TYPE_READ_POOL",
            "SUB_RESOURCE_TYPE_RESERVATION",
            "SUB_RESOURCE_TYPE_DATASET",
            "SUB_RESOURCE_TYPE_OTHER"
          ],
          "enumDeprecated": [
            true,
            false,
            true,
            true,
            true,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "description": "Disable validation warnings"
        },
        "zone": {
          "type": "string",
          "description": "Disable validation warnings"
        },
        "suspensionReason": {
          "description": "Optional. Disable validation warnings",
          "type": "string",
          "enum": [
            "SUSPENSION_REASON_UNSPECIFIED",
            "WIPEOUT_HIDE_EVENT",
            "WIPEOUT_PURGE_EVENT",
            "BILLING_DISABLED",
            "ABUSER_DETECTED",
            "ENCRYPTION_KEY_INACCESSIBLE",
            "REPLICATED_CLUSTER_ENCRYPTION_KEY_INACCESSIBLE"
          ],
          "enumDescriptions": [
            "Suspension reason is unspecified.",
            "Wipeout hide event.",
            "Wipeout purge event.",
            "Billing disabled for project",
            "Abuse detected for resource",
            "Encryption key inaccessible.",
            "Replicated cluster encryption key inaccessible."
          ]
        },
        "ipAddress": {
          "description": "Optional. Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainIpAddress"
        },
        "modes": {
          "items": {
            "type": "string",
            "enum": [
              "MODE_UNSPECIFIED",
              "MODE_NATIVE",
              "MODE_MONGODB_COMPATIBLE",
              "MODE_DATASTORE",
              "MODE_CLUSTER_ENABLED",
              "MODE_CLUSTER_DISABLED"
            ],
            "enumDescriptions": [
              "Disable validation warnings",
              "Disable validation warnings",
              "Disable validation warnings",
              "Disable validation warnings",
              "Disable validation warnings",
              "Disable validation warnings"
            ]
          },
          "type": "array",
          "description": "Optional. Disable validation warnings"
        },
        "expectedState": {
          "enumDescriptions": [
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings"
          ],
          "description": "Disable validation warnings",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "HEALTHY",
            "UNHEALTHY",
            "SUSPENDED",
            "DELETED",
            "STATE_OTHER",
            "STOPPED"
          ]
        },
        "internalAdditionalMetadata": {
          "description": "Disable validation warnings",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "backupdrConfiguration": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainBackupDRConfiguration",
          "description": "Optional. Disable validation warnings"
        },
        "isDeletionProtectionEnabled": {
          "description": "Optional. Disable validation warnings",
          "type": "boolean"
        },
        "creationTime": {
          "format": "google-datetime",
          "description": "Disable validation warnings",
          "type": "string"
        },
        "entitlements": {
          "description": "Disable validation warnings",
          "type": "array",
          "items": {
            "$ref": "StorageDatabasecenterPartnerapiV1mainEntitlement"
          }
        },
        "updationTime": {
          "description": "Disable validation warnings",
          "format": "google-datetime",
          "type": "string"
        },
        "resourceFlags": {
          "description": "Optional. Disable validation warnings",
          "items": {
            "$ref": "StorageDatabasecenterPartnerapiV1mainResourceFlags"
          },
          "type": "array"
        },
        "userLabelSet": {
          "description": "Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainUserLabels"
        },
        "edition": {
          "description": "Optional. Disable validation warnings",
          "enumDescriptions": [
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings"
          ],
          "type": "string",
          "enum": [
            "EDITION_UNSPECIFIED",
            "EDITION_ENTERPRISE",
            "EDITION_ENTERPRISE_PLUS",
            "EDITION_STANDARD"
          ]
        }
      }
    },
    "PscInstanceInfo": {
      "id": "PscInstanceInfo",
      "properties": {
        "serviceConnectionPolicy": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The PSC service connection policy name. The format is \"projects//regions//serviceConnectionPolicies/\""
        },
        "effectivePscAutoDnsEnabled": {
          "description": "Output only. The effective state of the PSC auto DNS for the instance.",
          "readOnly": true,
          "type": "boolean"
        },
        "effectivePscAutoConnectionPolicy": {
          "description": "Output only. Indicates if the PSC auto connection policy is enabled for the instance. For older instances, this will be off by default, but for newer instances, this will be auto-enabled.",
          "readOnly": true,
          "type": "boolean"
        },
        "pscAutoDnsNames": {
          "description": "Output only. Specifies the auto DNS names for the instance.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Information about the Private Service Connect (PSC) for the instance."
    },
    "PscAutoConnectionConfig": {
      "type": "object",
      "id": "PscAutoConnectionConfig",
      "description": "Configuration for setting up PSC service automation. Consumer projects in the configs will be allowlisted automatically for the instance.",
      "properties": {
        "consumerProject": {
          "description": "The consumer project to which the PSC service automation endpoint will be created.",
          "type": "string"
        },
        "ipAddress": {
          "description": "Output only. The IP address of the PSC service automation endpoint.",
          "type": "string",
          "readOnly": true
        },
        "serviceConnectionPolicyCreationState": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The creation state or result of the connection policy. Possible values include: - `ACTIVE`: The policy was created successfully. - `PERMISSION_DENIED`: Sufficient permissions were not provided. Note that this field is an unstructured output and customers should not rely on the specific string value or error message directly."
        },
        "status": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The status of the PSC service automation connection. Possible values: \"STATE_UNSPECIFIED\" - An invalid state as the default case. \"ACTIVE\" - The connection has been created successfully. \"FAILED\" - The connection is not functional since some resources on the connection fail to be created. \"CREATING\" - The connection is being created. \"DELETING\" - The connection is being deleted. \"CREATE_REPAIRING\" - The connection is being repaired to complete creation. \"DELETE_REPAIRING\" - The connection is being repaired to complete deletion."
        },
        "dnsAutomationInfos": {
          "items": {
            "$ref": "DnsAutomationInfo"
          },
          "description": "Output only. List of DNS automation info for the PSC auto connection.",
          "type": "array",
          "readOnly": true
        },
        "serviceConnectionPolicy": {
          "readOnly": true,
          "description": "Output only. The PSC service connection policy name. The format is \"projects//regions//serviceConnectionPolicies/\"",
          "type": "string"
        },
        "consumerNetwork": {
          "type": "string",
          "description": "The consumer network for the PSC service automation, example: \"projects/vpc-host-project/global/networks/default\". The consumer network might be hosted a different project than the consumer project."
        },
        "consumerNetworkStatus": {
          "type": "string",
          "description": "Output only. The status of the service connection policy. Possible values: \"STATE_UNSPECIFIED\" - Default state, when Connection Map is created initially. \"VALID\" - Set when policy and map configuration is valid, and their matching can lead to allowing creation of PSC Connections subject to other constraints like connections limit. \"CONNECTION_POLICY_MISSING\" - No Service Connection Policy found for this network and Service Class \"POLICY_LIMIT_REACHED\" - Service Connection Policy limit reached for this network and Service Class \"CONSUMER_INSTANCE_PROJECT_NOT_ALLOWLISTED\" - The consumer instance project is not in AllowedGoogleProducersResourceHierarchyLevels of the matching ServiceConnectionPolicy.",
          "readOnly": true
        }
      }
    },
    "BackupDrInfo": {
      "id": "BackupDrInfo",
      "type": "object",
      "description": "Information about BackupDR protection for this cluster.",
      "properties": {
        "previousWindows": {
          "items": {
            "$ref": "BackupDrEnabledWindow"
          },
          "description": "Windows during which BackupDR was enabled for this cluster, along with associated configuration for that window. These are used to determine points-in-time for which restores can be performed. The windows are ordered with the most recent window last. Windows are mutally exclusive. Windows which closed more than 1 year ago will be removed from this list.",
          "type": "array"
        },
        "currentWindow": {
          "description": "The current BackupDR configuration for this cluster. If BackupDR protection is not enabled for this cluster, this field will be empty.",
          "$ref": "BackupDrEnabledWindow"
        }
      }
    },
    "StorageDatabasecenterPartnerapiV1mainDatabaseResourceSignalData": {
      "properties": {
        "signalState": {
          "readOnly": true,
          "enumDescriptions": [
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings"
          ],
          "type": "string",
          "enum": [
            "SIGNAL_STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE",
            "DISMISSED"
          ],
          "description": "Required. Output only. Disable validation warnings"
        },
        "signalMetadataList": {
          "items": {
            "$ref": "StorageDatabasecenterPartnerapiV1mainSignalMetadata"
          },
          "type": "array",
          "description": "Disable validation warnings"
        },
        "backupRun": {
          "deprecated": true,
          "$ref": "StorageDatabasecenterPartnerapiV1mainBackupRun",
          "description": "Disable validation warnings"
        },
        "resourceId": {
          "description": "Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceId"
        },
        "location": {
          "type": "string",
          "description": "Required. Disable validation warnings"
        },
        "lastRefreshTime": {
          "description": "Required. Disable validation warnings",
          "format": "google-datetime",
          "type": "string"
        },
        "fullResourceName": {
          "description": "Required. Disable validation warnings",
          "type": "string"
        },
        "signalType": {
          "enumDescriptions": [
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings"
          ],
          "type": "string",
          "enum": [
            "SIGNAL_TYPE_UNSPECIFIED",
            "SIGNAL_TYPE_OUTDATED_MINOR_VERSION",
            "SIGNAL_TYPE_DATABASE_AUDITING_DISABLED",
            "SIGNAL_TYPE_NO_ROOT_PASSWORD",
            "SIGNAL_TYPE_EXPOSED_TO_PUBLIC_ACCESS",
            "SIGNAL_TYPE_UNENCRYPTED_CONNECTIONS",
            "SIGNAL_TYPE_EXTENDED_SUPPORT",
            "SIGNAL_TYPE_NO_AUTOMATED_BACKUP_POLICY",
            "SIGNAL_TYPE_VERSION_NEARING_END_OF_LIFE",
            "SIGNAL_TYPE_LAST_BACKUP_OLD",
            "SIGNAL_TYPE_NOT_PROTECTED_BY_AUTOMATIC_FAILOVER"
          ],
          "description": "Required. Disable validation warnings"
        },
        "signalBoolValue": {
          "type": "boolean",
          "description": "Disable validation warnings",
          "deprecated": true
        }
      },
      "id": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceSignalData",
      "type": "object",
      "description": "Disable validation warnings"
    },
    "PscInstanceConfig": {
      "id": "PscInstanceConfig",
      "description": "PscInstanceConfig contains PSC related configuration at an instance level.",
      "properties": {
        "pscAutoConnectionPolicyState": {
          "type": "string",
          "enum": [
            "PSC_AUTO_CONNECTION_POLICY_STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED"
          ],
          "description": "Optional. Configuration for setting up PSC auto connection for the instance.",
          "enumDescriptions": [
            "The state is unspecified. For old instances, this means the PSC auto connection is disabled. For new instances, this means the PSC auto connection is enabled by default.",
            "Enables the PSC auto connection for the instance.",
            "Disables the PSC auto connection for the instance."
          ]
        },
        "pscAutoDnsState": {
          "type": "string",
          "enum": [
            "PSC_AUTO_DNS_STATE_UNSPECIFIED",
            "PSC_AUTO_DNS_STATE_ENABLED",
            "PSC_AUTO_DNS_STATE_DISABLED"
          ],
          "enumDescriptions": [
            "The state is unspecified. For old instances, this means the PSC auto DNS is disabled. For new instances, this means the PSC auto DNS is enabled by default. Use `effective_psc_auto_dns_enabled` to check the effective state of the PSC auto DNS.",
            "Enables the PSC auto DNS for the instance.",
            "Disables the PSC auto DNS for the instance."
          ],
          "description": "Optional. Configuration for setting up PSC auto DNS for the instance."
        },
        "pscAutoConnections": {
          "description": "Optional. Configurations for setting up PSC service automation.",
          "items": {
            "$ref": "PscAutoConnectionConfig"
          },
          "type": "array"
        },
        "pscInterfaceConfigs": {
          "items": {
            "$ref": "PscInterfaceConfig"
          },
          "description": "Optional. Configurations for setting up PSC interfaces attached to the instance which are used for outbound connectivity. Only primary instances can have PSC interface attached. Currently we only support 0 or 1 PSC interface.",
          "type": "array"
        },
        "serviceAttachmentLink": {
          "readOnly": true,
          "description": "Output only. The service attachment created when Private Service Connect (PSC) is enabled for the instance. The name of the resource will be in the format of `projects//regions//serviceAttachments/`",
          "type": "string"
        },
        "allowedConsumerProjects": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. List of consumer projects that are allowed to create PSC endpoints to service-attachments to this instance."
        },
        "pscDnsName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The DNS name of the instance for PSC connectivity. Name convention: ...alloydb-psc.goog"
        }
      },
      "type": "object"
    },
    "StorageDatabasecenterPartnerapiV1mainIpAddress": {
      "id": "StorageDatabasecenterPartnerapiV1mainIpAddress",
      "description": "Disable validation warnings",
      "type": "object",
      "properties": {
        "privateIp": {
          "description": "Disable validation warnings",
          "type": "string"
        },
        "publicIp": {
          "description": "Disable validation warnings",
          "type": "string"
        }
      }
    },
    "ImportClusterResponse": {
      "properties": {
        "bytesDownloaded": {
          "description": "Required. Size of the object downloaded from Google Cloud Storage in bytes.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "ImportClusterResponse",
      "description": "Response of import rpc.",
      "type": "object"
    },
    "PromoteClusterRequest": {
      "description": "Message for promoting a Cluster",
      "id": "PromoteClusterRequest",
      "properties": {
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server ignores the request if it has already been completed. The server guarantees that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        },
        "validateOnly": {
          "description": "Optional. If set, performs request validation, for example, permission checks and any other type of validation, but does not actually execute the create request.",
          "type": "boolean"
        },
        "etag": {
          "description": "Optional. The current etag of the Cluster. If an etag is provided and does not match the current etag of the Cluster, deletion will be blocked and an ABORTED error will be returned.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "BackupDrPitrSource": {
      "type": "object",
      "properties": {
        "pointInTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Required. The point in time to restore to."
        },
        "dataSource": {
          "type": "string",
          "description": "Required. The name of the backup resource with the format: * projects/{project}/locations/{location}/backupVaults/{backupvault_id}/dataSources/{datasource_id}"
        }
      },
      "id": "BackupDrPitrSource",
      "description": "Message describing a BackupDrPitrSource."
    },
    "IntegerRestrictions": {
      "type": "object",
      "description": "Restrictions on INTEGER type values.",
      "id": "IntegerRestrictions",
      "properties": {
        "minValue": {
          "type": "string",
          "description": "The minimum value that can be specified, if applicable.",
          "format": "int64"
        },
        "maxValue": {
          "type": "string",
          "description": "The maximum value that can be specified, if applicable.",
          "format": "int64"
        }
      }
    },
    "GoogleCloudLocationListLocationsResponse": {
      "id": "GoogleCloudLocationListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "locations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudLocationLocation"
          },
          "description": "A list of locations that matches the specified filter in the request."
        }
      },
      "type": "object"
    },
    "StorageDatabasecenterPartnerapiV1mainConfigBasedSignalData": {
      "type": "object",
      "description": "Disable validation warnings",
      "id": "StorageDatabasecenterPartnerapiV1mainConfigBasedSignalData",
      "properties": {
        "signalType": {
          "description": "Required. Disable validation warnings",
          "enumDescriptions": [
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings"
          ],
          "type": "string",
          "enum": [
            "SIGNAL_TYPE_UNSPECIFIED",
            "SIGNAL_TYPE_OUTDATED_MINOR_VERSION",
            "SIGNAL_TYPE_DATABASE_AUDITING_DISABLED",
            "SIGNAL_TYPE_NO_ROOT_PASSWORD",
            "SIGNAL_TYPE_EXPOSED_TO_PUBLIC_ACCESS",
            "SIGNAL_TYPE_UNENCRYPTED_CONNECTIONS",
            "SIGNAL_TYPE_EXTENDED_SUPPORT",
            "SIGNAL_TYPE_NO_AUTOMATED_BACKUP_POLICY",
            "SIGNAL_TYPE_VERSION_NEARING_END_OF_LIFE",
            "SIGNAL_TYPE_LAST_BACKUP_OLD",
            "SIGNAL_TYPE_NOT_PROTECTED_BY_AUTOMATIC_FAILOVER"
          ]
        },
        "signalBoolValue": {
          "type": "boolean",
          "description": "Disable validation warnings"
        },
        "lastRefreshTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. Disable validation warnings"
        },
        "fullResourceName": {
          "description": "Required. Disable validation warnings",
          "type": "string"
        },
        "resourceId": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceId",
          "description": "Disable validation warnings"
        }
      }
    },
    "ClusterUpgradeDetails": {
      "description": "Upgrade details of a cluster. This cluster can be primary or secondary.",
      "id": "ClusterUpgradeDetails",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Normalized name of the cluster"
        },
        "databaseVersion": {
          "enumDescriptions": [
            "This is an unknown database version.",
            "DEPRECATED - The database version is Postgres 13.",
            "The database version is Postgres 14.",
            "The database version is Postgres 15.",
            "The database version is Postgres 16.",
            "The database version is Postgres 17.",
            "The database version is Postgres 18."
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            false,
            false
          ],
          "type": "string",
          "enum": [
            "DATABASE_VERSION_UNSPECIFIED",
            "POSTGRES_13",
            "POSTGRES_14",
            "POSTGRES_15",
            "POSTGRES_16",
            "POSTGRES_17",
            "POSTGRES_18"
          ],
          "description": "Database version of the cluster after the upgrade operation. This will be the target version if the upgrade was successful otherwise it remains the same as that before the upgrade operation."
        },
        "clusterType": {
          "enumDescriptions": [
            "The type of the cluster is unknown.",
            "Primary cluster that support read and write operations.",
            "Secondary cluster that is replicating from another region. This only supports read."
          ],
          "type": "string",
          "enum": [
            "CLUSTER_TYPE_UNSPECIFIED",
            "PRIMARY",
            "SECONDARY"
          ],
          "description": "Cluster type which can either be primary or secondary."
        },
        "upgradeStatus": {
          "enumDescriptions": [
            "Unspecified status.",
            "Not started.",
            "In progress.",
            "Operation succeeded.",
            "Operation failed.",
            "Operation partially succeeded.",
            "Cancel is in progress.",
            "Cancellation complete."
          ],
          "description": "Upgrade status of the cluster.",
          "type": "string",
          "enum": [
            "STATUS_UNSPECIFIED",
            "NOT_STARTED",
            "IN_PROGRESS",
            "SUCCESS",
            "FAILED",
            "PARTIAL_SUCCESS",
            "CANCEL_IN_PROGRESS",
            "CANCELLED"
          ]
        },
        "instanceUpgradeDetails": {
          "description": "Upgrade details of the instances directly associated with this cluster.",
          "items": {
            "$ref": "InstanceUpgradeDetails"
          },
          "type": "array"
        },
        "stageInfo": {
          "items": {
            "$ref": "StageInfo"
          },
          "description": "Array containing stage info associated with this cluster.",
          "type": "array"
        }
      }
    },
    "StorageDatabasecenterPartnerapiV1mainUserLabels": {
      "description": "Disable validation warnings",
      "id": "StorageDatabasecenterPartnerapiV1mainUserLabels",
      "type": "object",
      "properties": {
        "labels": {
          "description": "Disable validation warnings",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      }
    },
    "QueryInsightsInstanceConfig": {
      "description": "QueryInsights Instance specific configuration.",
      "properties": {
        "recordClientAddress": {
          "type": "boolean",
          "description": "Record client address for an instance. Client address is PII information. This flag is turned \"on\" by default."
        },
        "recordApplicationTags": {
          "type": "boolean",
          "description": "Record application tags for an instance. This flag is turned \"on\" by default."
        },
        "queryPlansPerMinute": {
          "type": "integer",
          "description": "Number of query execution plans captured by Insights per minute for all queries combined. The default value is 5. Any integer between 0 and 20 is considered valid.",
          "format": "uint32"
        },
        "queryStringLength": {
          "description": "Query string length. The default value is 1024. Any integer between 256 and 4500 is considered valid.",
          "format": "uint32",
          "type": "integer"
        }
      },
      "id": "QueryInsightsInstanceConfig",
      "type": "object"
    },
    "EncryptionConfig": {
      "properties": {
        "kmsKeyName": {
          "type": "string",
          "description": "The fully-qualified resource name of the KMS key. Each Cloud KMS key is regionalized and has the following format: projects/[PROJECT]/locations/[REGION]/keyRings/[RING]/cryptoKeys/[KEY_NAME]"
        }
      },
      "type": "object",
      "id": "EncryptionConfig",
      "description": "EncryptionConfig describes the encryption config of a cluster or a backup that is encrypted with a CMEK (customer-managed encryption key)."
    },
    "StorageDatabasecenterPartnerapiV1mainAvailabilityConfiguration": {
      "description": "Disable validation warnings",
      "id": "StorageDatabasecenterPartnerapiV1mainAvailabilityConfiguration",
      "properties": {
        "crossRegionReplicaConfigured": {
          "type": "boolean",
          "description": "Disable validation warnings"
        },
        "externalReplicaConfigured": {
          "description": "Disable validation warnings",
          "type": "boolean"
        },
        "automaticFailoverRoutingConfigured": {
          "description": "Disable validation warnings",
          "type": "boolean"
        },
        "promotableReplicaConfigured": {
          "description": "Disable validation warnings",
          "type": "boolean"
        },
        "availabilityType": {
          "enumDescriptions": [
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings"
          ],
          "description": "Disable validation warnings",
          "type": "string",
          "enum": [
            "AVAILABILITY_TYPE_UNSPECIFIED",
            "ZONAL",
            "REGIONAL",
            "MULTI_REGIONAL",
            "AVAILABILITY_TYPE_OTHER"
          ]
        }
      },
      "type": "object"
    },
    "StorageDatabasecenterPartnerapiV1mainBackupDRConfiguration": {
      "properties": {
        "backupdrManaged": {
          "type": "boolean",
          "description": "Disable validation warnings"
        }
      },
      "description": "Disable validation warnings",
      "id": "StorageDatabasecenterPartnerapiV1mainBackupDRConfiguration",
      "type": "object"
    },
    "StorageDatabasecenterPartnerapiV1mainGCBDRConfiguration": {
      "properties": {
        "gcbdrManaged": {
          "type": "boolean",
          "description": "Disable validation warnings"
        }
      },
      "id": "StorageDatabasecenterPartnerapiV1mainGCBDRConfiguration",
      "description": "Disable validation warnings",
      "type": "object"
    },
    "ClientConnectionConfig": {
      "description": "Client connection configuration",
      "id": "ClientConnectionConfig",
      "type": "object",
      "properties": {
        "requireConnectors": {
          "description": "Optional. Configuration to enforce connectors only (ex: AuthProxy) connections to the database.",
          "type": "boolean"
        },
        "sslConfig": {
          "description": "Optional. SSL configuration option for this instance.",
          "$ref": "SslConfig"
        }
      }
    },
    "GoogleTypeDate": {
      "id": "GoogleTypeDate",
      "properties": {
        "year": {
          "format": "int32",
          "type": "integer",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
        },
        "day": {
          "type": "integer",
          "format": "int32",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
        },
        "month": {
          "format": "int32",
          "type": "integer",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
        }
      },
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "type": "object"
    },
    "BackupDrBackupSource": {
      "properties": {
        "backup": {
          "type": "string",
          "description": "Required. The name of the backup resource with the format: * projects/{project}/locations/{location}/backupVaults/{backupvault_id}/dataSources/{datasource_id}/backups/{backup_id}"
        }
      },
      "id": "BackupDrBackupSource",
      "type": "object",
      "description": "Message describing a BackupDrBackupSource."
    },
    "StorageDatabasecenterPartnerapiV1mainOperationError": {
      "properties": {
        "message": {
          "description": "Disable validation warnings",
          "type": "string"
        },
        "errorType": {
          "type": "string",
          "enum": [
            "OPERATION_ERROR_TYPE_UNSPECIFIED",
            "KMS_KEY_ERROR",
            "DATABASE_ERROR",
            "STOCKOUT_ERROR",
            "CANCELLATION_ERROR",
            "SQLSERVER_ERROR",
            "INTERNAL_ERROR"
          ],
          "enumDescriptions": [
            "UNSPECIFIED means product type is not known or available.",
            "key destroyed, expired, not found, unreachable or permission denied.",
            "Database is not accessible",
            "The zone or region does not have sufficient resources to handle the request at the moment",
            "User initiated cancellation",
            "SQL server specific error",
            "Any other internal error."
          ],
          "description": "Disable validation warnings"
        },
        "code": {
          "description": "Disable validation warnings",
          "type": "string"
        }
      },
      "description": "Disable validation warnings",
      "id": "StorageDatabasecenterPartnerapiV1mainOperationError",
      "type": "object"
    },
    "ReadPoolConfig": {
      "id": "ReadPoolConfig",
      "properties": {
        "nodeCount": {
          "description": "Read capacity, i.e. number of nodes in a read pool instance.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Configuration for a read pool instance.",
      "type": "object"
    },
    "StorageDatabasecenterPartnerapiV1mainResourceMaintenanceSchedule": {
      "properties": {
        "day": {
          "description": "Optional. Disable validation warnings",
          "type": "string",
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ]
        },
        "phase": {
          "description": "Optional. Disable validation warnings",
          "type": "string",
          "enum": [
            "PHASE_UNSPECIFIED",
            "ANY",
            "WEEK1",
            "WEEK2",
            "WEEK5"
          ],
          "enumDescriptions": [
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings"
          ]
        },
        "time": {
          "description": "Optional. Disable validation warnings",
          "$ref": "GoogleTypeTimeOfDay"
        }
      },
      "id": "StorageDatabasecenterPartnerapiV1mainResourceMaintenanceSchedule",
      "description": "Disable validation warnings",
      "type": "object"
    },
    "CloudSQLBackupRunSource": {
      "description": "The source CloudSQL backup resource.",
      "type": "object",
      "id": "CloudSQLBackupRunSource",
      "properties": {
        "project": {
          "type": "string",
          "description": "The project ID of the source CloudSQL instance. This should be the same as the AlloyDB cluster's project."
        },
        "backupRunId": {
          "description": "Required. The CloudSQL backup run ID.",
          "format": "int64",
          "type": "string"
        },
        "instanceId": {
          "description": "Required. The CloudSQL instance ID.",
          "type": "string"
        }
      }
    },
    "UserPassword": {
      "description": "The username/password for a database user. Used for specifying initial users at cluster creation time.",
      "type": "object",
      "properties": {
        "user": {
          "description": "The database username.",
          "type": "string"
        },
        "password": {
          "description": "The initial password for the user.",
          "type": "string"
        }
      },
      "id": "UserPassword"
    },
    "FailoverInstanceRequest": {
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server ignores the request if it has already been completed. The server guarantees that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if the original operation with the same request ID was received, and if so, ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        },
        "validateOnly": {
          "description": "Optional. If set, performs request validation, for example, permission checks and any other type of validation, but does not actually execute the create request.",
          "type": "boolean"
        }
      },
      "id": "FailoverInstanceRequest",
      "type": "object",
      "description": "Message for triggering failover on an Instance"
    },
    "Cluster": {
      "properties": {
        "initialUser": {
          "$ref": "UserPassword",
          "description": "Input only. Initial user to setup during cluster creation. Required. If used in `RestoreCluster` this is ignored."
        },
        "annotations": {
          "description": "Annotations to allow client tools to store small amount of arbitrary data. This is distinct from labels. https://google.aip.dev/128",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "tags": {
          "description": "Optional. Input only. Immutable. Tag keys/values directly bound to this resource. For example: ``` \"123/environment\": \"production\", \"123/costCenter\": \"marketing\" ```",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "migrationSource": {
          "readOnly": true,
          "description": "Output only. Cluster created via DMS migration.",
          "$ref": "MigrationSource"
        },
        "clusterType": {
          "enumDescriptions": [
            "The type of the cluster is unknown.",
            "Primary cluster that support read and write operations.",
            "Secondary cluster that is replicating from another region. This only supports read."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "CLUSTER_TYPE_UNSPECIFIED",
            "PRIMARY",
            "SECONDARY"
          ],
          "description": "Output only. The type of the cluster. This is an output-only field and it's populated at the Cluster creation time or the Cluster promotion time. The cluster type is determined by which RPC was used to create the cluster (i.e. `CreateCluster` vs. `CreateSecondaryCluster`"
        },
        "maintenanceSchedule": {
          "description": "Output only. The maintenance schedule for the cluster, generated for a specific rollout if a maintenance window is set.",
          "$ref": "MaintenanceSchedule",
          "readOnly": true
        },
        "network": {
          "description": "Required. The resource link for the VPC network in which cluster resources are created and from which they are accessible via Private IP. The network must belong to the same project as the cluster. It is specified in the form: `projects/{project}/global/networks/{network_id}`. This is required to create a cluster. Deprecated, use network_config.network instead.",
          "deprecated": true,
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Update time stamp",
          "readOnly": true
        },
        "state": {
          "enumDescriptions": [
            "The state of the cluster is unknown.",
            "The cluster is active and running.",
            "This is unused. Even when all instances in the cluster are stopped, the cluster remains in READY state.",
            "The cluster is empty and has no associated resources. All instances, associated storage and backups have been deleted.",
            "The cluster is being created.",
            "The cluster is being deleted.",
            "The creation of the cluster failed.",
            "The cluster is bootstrapping with data from some other source. Direct mutations to the cluster (e.g. adding read pool) are not allowed.",
            "The cluster is under maintenance. AlloyDB regularly performs maintenance and upgrades on customer clusters. Updates on the cluster are not allowed while the cluster is in this state.",
            "The cluster is being promoted.",
            "The cluster has entered switchover state. All updates on cluster and its associated instances are restricted while the cluster is in this state."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "STOPPED",
            "EMPTY",
            "CREATING",
            "DELETING",
            "FAILED",
            "BOOTSTRAPPING",
            "MAINTENANCE",
            "PROMOTING",
            "SWITCHOVER"
          ],
          "readOnly": true,
          "description": "Output only. The current serving state of the cluster."
        },
        "automatedBackupPolicy": {
          "description": "The automated backup policy for this cluster. If no policy is provided then the default policy will be used. If backups are supported for the cluster, the default policy takes one backup a day, has a backup window of 1 hour, and retains backups for 14 days. For more information on the defaults, consult the documentation for the message type.",
          "$ref": "AutomatedBackupPolicy"
        },
        "continuousBackupConfig": {
          "description": "Optional. Continuous backup configuration for this cluster.",
          "$ref": "ContinuousBackupConfig"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Create time stamp"
        },
        "primaryConfig": {
          "description": "Output only. Cross Region replication config specific to PRIMARY cluster.",
          "readOnly": true,
          "$ref": "PrimaryConfig"
        },
        "satisfiesPzs": {
          "description": "Output only. Reserved for future use.",
          "type": "boolean",
          "readOnly": true
        },
        "reconciling": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Reconciling (https://google.aip.dev/128#reconciliation). Set to true if the current state of Cluster does not match the user's intended state, and the service is actively updating the resource to reconcile them. This can happen due to user-triggered updates or system actions like failover or maintenance."
        },
        "dataplexConfig": {
          "description": "Optional. Configuration for Dataplex integration.",
          "$ref": "DataplexConfig"
        },
        "backupSource": {
          "readOnly": true,
          "$ref": "BackupSource",
          "description": "Output only. Cluster created from backup."
        },
        "sslConfig": {
          "deprecated": true,
          "description": "SSL configuration for this AlloyDB cluster.",
          "$ref": "SslConfig"
        },
        "maintenanceVersionSelectionPolicy": {
          "type": "string",
          "enum": [
            "MAINTENANCE_VERSION_SELECTION_POLICY_UNSPECIFIED",
            "MAINTENANCE_VERSION_SELECTION_POLICY_LATEST",
            "MAINTENANCE_VERSION_SELECTION_POLICY_DEFAULT"
          ],
          "enumDescriptions": [
            "The maintenance version selection policy is not specified.",
            "Use the latest available maintenance version.",
            "Use the current default maintenance version."
          ],
          "description": "Input only. Policy to use to automatically select the maintenance version to which to update the cluster's instances."
        },
        "backupdrBackupSource": {
          "description": "Output only. Cluster created from a BackupDR backup.",
          "$ref": "BackupDrBackupSource",
          "readOnly": true
        },
        "secondaryConfig": {
          "$ref": "SecondaryConfig",
          "description": "Cross Region replication config specific to SECONDARY cluster."
        },
        "networkConfig": {
          "description": "Optional.",
          "$ref": "NetworkConfig"
        },
        "encryptionConfig": {
          "description": "Optional. The encryption config can be specified to encrypt the data disks and other persistent data resources of a cluster with a customer-managed encryption key (CMEK). When this field is not specified, the cluster will then use default encryption scheme to protect the user data.",
          "$ref": "EncryptionConfig"
        },
        "databaseVersion": {
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            false,
            false
          ],
          "description": "Optional. The database engine major version. This is an optional field and it is populated at the Cluster creation time. If a database version is not supplied at cluster creation time, then a default database version will be used.",
          "type": "string",
          "enum": [
            "DATABASE_VERSION_UNSPECIFIED",
            "POSTGRES_13",
            "POSTGRES_14",
            "POSTGRES_15",
            "POSTGRES_16",
            "POSTGRES_17",
            "POSTGRES_18"
          ],
          "enumDescriptions": [
            "This is an unknown database version.",
            "DEPRECATED - The database version is Postgres 13.",
            "The database version is Postgres 14.",
            "The database version is Postgres 15.",
            "The database version is Postgres 16.",
            "The database version is Postgres 17.",
            "The database version is Postgres 18."
          ]
        },
        "trialMetadata": {
          "$ref": "TrialMetadata",
          "description": "Output only. Metadata for free trial clusters",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Output only. The name of the cluster resource with the format: * projects/{project}/locations/{region}/clusters/{cluster_id} where the cluster ID segment should satisfy the regex expression `[a-z0-9-]+`. For more details see https://google.aip.dev/122. The prefix of the cluster resource name is the name of the parent resource: * projects/{project}/locations/{region}",
          "readOnly": true
        },
        "backupdrInfo": {
          "readOnly": true,
          "$ref": "BackupDrInfo",
          "description": "Output only. Output only information about BackupDR protection for this cluster."
        },
        "etag": {
          "description": "For Resource freshness validation (https://google.aip.dev/154)",
          "type": "string"
        },
        "deleteTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Delete time stamp"
        },
        "continuousBackupInfo": {
          "$ref": "ContinuousBackupInfo",
          "description": "Output only. Continuous backup properties for this cluster.",
          "readOnly": true
        },
        "subscriptionType": {
          "description": "Optional. Subscription type of the cluster.",
          "type": "string",
          "enum": [
            "SUBSCRIPTION_TYPE_UNSPECIFIED",
            "STANDARD",
            "TRIAL"
          ],
          "enumDescriptions": [
            "This is an unknown subscription type. By default, the subscription type is STANDARD.",
            "Standard subscription.",
            "Trial subscription."
          ]
        },
        "maintenanceUpdatePolicy": {
          "description": "Optional. The maintenance update policy determines when to allow or deny updates.",
          "$ref": "MaintenanceUpdatePolicy"
        },
        "cloudsqlBackupRunSource": {
          "readOnly": true,
          "$ref": "CloudSQLBackupRunSource",
          "description": "Output only. Cluster created from CloudSQL snapshot."
        },
        "pscConfig": {
          "description": "Optional. The configuration for Private Service Connect (PSC) for the cluster.",
          "$ref": "PscConfig"
        },
        "displayName": {
          "type": "string",
          "description": "User-settable and human-readable display name for the Cluster."
        },
        "encryptionInfo": {
          "$ref": "EncryptionInfo",
          "readOnly": true,
          "description": "Output only. The encryption information for the cluster."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Labels as key value pairs"
        },
        "uid": {
          "type": "string",
          "description": "Output only. The system-generated UID of the resource. The UID is assigned when the resource is created, and it is retained until it is deleted.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "A cluster is a collection of regional AlloyDB resources. It can include a primary instance and one or more read pool instances. All cluster resources share a storage layer, which scales as needed.",
      "id": "Cluster"
    },
    "Operation": {
      "type": "object",
      "id": "Operation",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "GoogleTypeTimeOfDay": {
      "properties": {
        "nanos": {
          "format": "int32",
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999.",
          "type": "integer"
        },
        "minutes": {
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59.",
          "format": "int32",
          "type": "integer"
        },
        "seconds": {
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds.",
          "type": "integer",
          "format": "int32"
        },
        "hours": {
          "type": "integer",
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "format": "int32"
        }
      },
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`.",
      "id": "GoogleTypeTimeOfDay",
      "type": "object"
    },
    "AutomatedBackupPolicy": {
      "id": "AutomatedBackupPolicy",
      "description": "Message describing the user-specified automated backup policy. All fields in the automated backup policy are optional. Defaults for each field are provided if they are not set.",
      "properties": {
        "enabled": {
          "description": "Whether automated automated backups are enabled. If not set, defaults to true.",
          "type": "boolean"
        },
        "encryptionConfig": {
          "description": "Optional. The encryption config can be specified to encrypt the backups with a customer-managed encryption key (CMEK). When this field is not specified, the backup will use the cluster's encryption config.",
          "$ref": "EncryptionConfig"
        },
        "labels": {
          "description": "Labels to apply to backups created using this configuration.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "backupWindow": {
          "format": "google-duration",
          "type": "string",
          "description": "The length of the time window during which a backup can be taken. If a backup does not succeed within this time window, it will be canceled and considered failed. The backup window must be at least 5 minutes long. There is no upper bound on the window. If not set, it defaults to 1 hour."
        },
        "timeBasedRetention": {
          "description": "Time-based Backup retention policy.",
          "$ref": "TimeBasedRetention"
        },
        "weeklySchedule": {
          "$ref": "WeeklySchedule",
          "description": "Weekly schedule for the Backup."
        },
        "location": {
          "description": "The location where the backup will be stored. Currently, the only supported option is to store the backup in the same region as the cluster. If empty, defaults to the region of the cluster.",
          "type": "string"
        },
        "quantityBasedRetention": {
          "description": "Quantity-based Backup retention policy to retain recent backups.",
          "$ref": "QuantityBasedRetention"
        }
      },
      "type": "object"
    },
    "ListUsersResponse": {
      "type": "object",
      "id": "ListUsersResponse",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "users": {
          "description": "The list of User",
          "type": "array",
          "items": {
            "$ref": "User"
          }
        }
      },
      "description": "Message for response to listing Users"
    },
    "Backup": {
      "description": "Message describing Backup object",
      "type": "object",
      "id": "Backup",
      "properties": {
        "encryptionInfo": {
          "readOnly": true,
          "$ref": "EncryptionInfo",
          "description": "Output only. The encryption information for the backup."
        },
        "name": {
          "type": "string",
          "description": "Output only. The name of the backup resource with the format: * projects/{project}/locations/{region}/backups/{backup_id} where the cluster and backup ID segments should satisfy the regex expression `[a-z]([a-z0-9-]{0,61}[a-z0-9])?`, e.g. 1-63 characters of lowercase letters, numbers, and dashes, starting with a letter, and ending with a letter or number. For more details see https://google.aip.dev/122. The prefix of the backup resource name is the name of the parent resource: * projects/{project}/locations/{region}",
          "readOnly": true
        },
        "description": {
          "description": "User-provided description of the backup.",
          "type": "string"
        },
        "satisfiesPzs": {
          "type": "boolean",
[...]
