{
  "mtlsRootUrl": "https://alloydb.mtls.googleapis.com/",
  "servicePath": "",
  "endpoints": [
    {
      "endpointUrl": "https://alloydb.us-central2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-central2"
    },
    {
      "location": "us-east7",
      "endpointUrl": "https://alloydb.us-east7.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "northamerica-northeast1",
      "endpointUrl": "https://alloydb.northamerica-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://alloydb.northamerica-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "northamerica-northeast2"
    },
    {
      "endpointUrl": "https://alloydb.northamerica-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "northamerica-south1"
    },
    {
      "location": "southamerica-east1",
      "endpointUrl": "https://alloydb.southamerica-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "southamerica-west1",
      "endpointUrl": "https://alloydb.southamerica-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://alloydb.us-central1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-central1"
    },
    {
      "location": "us-east1",
      "endpointUrl": "https://alloydb.us-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east4",
      "endpointUrl": "https://alloydb.us-east4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://alloydb.us-east5.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east5"
    },
    {
      "endpointUrl": "https://alloydb.us-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-south1"
    },
    {
      "location": "us-west1",
      "endpointUrl": "https://alloydb.us-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west2",
      "endpointUrl": "https://alloydb.us-west2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west3",
      "endpointUrl": "https://alloydb.us-west3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west4",
      "endpointUrl": "https://alloydb.us-west4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-central2",
      "endpointUrl": "https://alloydb.europe-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-southwest1",
      "endpointUrl": "https://alloydb.europe-southwest1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-north1",
      "endpointUrl": "https://alloydb.europe-north1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://alloydb.europe-north2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-north2"
    },
    {
      "endpointUrl": "https://alloydb.europe-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west1"
    },
    {
      "location": "europe-west2",
      "endpointUrl": "https://alloydb.europe-west2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west3",
      "endpointUrl": "https://alloydb.europe-west3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://alloydb.europe-west4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west4"
    },
    {
      "endpointUrl": "https://alloydb.europe-west6.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west6"
    },
    {
      "endpointUrl": "https://alloydb.europe-west8.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west8"
    },
    {
      "location": "europe-west9",
      "endpointUrl": "https://alloydb.europe-west9.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://alloydb.europe-west10.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west10"
    },
    {
      "endpointUrl": "https://alloydb.europe-west12.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west12"
    },
    {
      "location": "asia-east1",
      "endpointUrl": "https://alloydb.asia-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-east2",
      "endpointUrl": "https://alloydb.asia-east2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-northeast1",
      "endpointUrl": "https://alloydb.asia-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-northeast2",
      "endpointUrl": "https://alloydb.asia-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://alloydb.asia-northeast3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-northeast3"
    },
    {
      "location": "asia-south1",
      "endpointUrl": "https://alloydb.asia-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://alloydb.asia-south2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-south2"
    },
    {
      "endpointUrl": "https://alloydb.asia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-southeast1"
    },
    {
      "endpointUrl": "https://alloydb.asia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-southeast2"
    },
    {
      "endpointUrl": "https://alloydb.australia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "australia-southeast1"
    },
    {
      "endpointUrl": "https://alloydb.australia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "australia-southeast2"
    },
    {
      "endpointUrl": "https://alloydb.me-central1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "me-central1"
    },
    {
      "location": "me-central2",
      "endpointUrl": "https://alloydb.me-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://alloydb.me-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "me-west1"
    },
    {
      "location": "africa-south1",
      "endpointUrl": "https://alloydb.africa-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    }
  ],
  "discoveryVersion": "v1",
  "title": "AlloyDB API",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "basePath": "",
  "name": "alloydb",
  "version": "v1alpha",
  "batchPath": "batch",
  "fullyEncodeReservedExpansion": true,
  "protocol": "rest",
  "documentationLink": "https://cloud.google.com/alloydb/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerName": "Google",
  "description": "AlloyDB for PostgreSQL is an open source-compatible database service that provides a powerful option for migrating, modernizing, or building commercial-grade applications. It offers full compatibility with standard PostgreSQL, and is more than 4x faster for transactional workloads and up to 100x faster for analytical queries than standard PostgreSQL in our performance tests. AlloyDB for PostgreSQL offers a 99.99 percent availability SLA inclusive of maintenance. AlloyDB is optimized for the most demanding use cases, allowing you to build new applications that require high transaction throughput, large database sizes, or multiple read resources; scale existing PostgreSQL workloads with no application changes; and modernize legacy proprietary databases. ",
  "canonicalName": "Cloud AlloyDB Admin",
  "id": "alloydb:v1alpha",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "path": "v1alpha/{+name}/locations",
              "httpMethod": "GET",
              "parameters": {
                "extraLocationTypes": {
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "repeated": true,
                  "type": "string",
                  "location": "query"
                },
                "filter": {
                  "location": "query",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query"
                },
                "pageSize": {
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "name": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "description": "The resource that owns the locations collection, if applicable."
                }
              },
              "response": {
                "$ref": "GoogleCloudLocationListLocationsResponse"
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha/projects/{projectsId}/locations",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "alloydb.projects.locations.list",
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version."
            },
            "get": {
              "description": "Gets information about a location.",
              "path": "v1alpha/{+name}",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string",
                  "description": "Resource name for the location."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "alloydb.projects.locations.get",
              "response": {
                "$ref": "GoogleCloudLocationLocation"
              }
            }
          },
          "resources": {
            "backups": {
              "methods": {
                "get": {
                  "id": "alloydb.projects.locations.backups.get",
                  "response": {
                    "$ref": "Backup"
                  },
                  "description": "Gets details of a single Backup.",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1alpha/{+name}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. Name of the resource",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/backups/[^/]+$"
                    },
                    "view": {
                      "description": "Optional. The view of the backup to return.",
                      "type": "string",
                      "enum": [
                        "BACKUP_VIEW_UNSPECIFIED",
                        "BACKUP_VIEW_BASIC",
                        "BACKUP_VIEW_CLUSTER_DELETED"
                      ],
                      "location": "query",
                      "enumDescriptions": [
                        "Value unspecified, equivalent to BASIC.",
                        "Responses include all fields that aren't explicitly gated behind another view.",
                        "Response include all the field from BASIC plus the field cluster_deleted, which specifies if the cluster corresponding to this backup is deleted."
                      ]
                    }
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/backups/{backupsId}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "create": {
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "description": "Required. Value for parent.",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "validateOnly": {
                      "type": "boolean",
                      "description": "Optional. If set, the backend validates the request, but doesn't actually execute it.",
                      "location": "query"
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server ignores the request if it has already been completed. The server guarantees that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if the original operation with the same request ID was received, and if so, ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    },
                    "backupId": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. ID of the requesting object."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Creates a new Backup in a given project and location.",
                  "path": "v1alpha/{+parent}/backups",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/backups",
                  "request": {
                    "$ref": "Backup"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "alloydb.projects.locations.backups.create"
                },
                "list": {
                  "httpMethod": "GET",
                  "id": "alloydb.projects.locations.backups.list",
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "description": "Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "parent": {
                      "description": "Required. Parent value for ListBackupsRequest",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path"
                    },
                    "view": {
                      "type": "string",
                      "enum": [
                        "BACKUP_VIEW_UNSPECIFIED",
                        "BACKUP_VIEW_BASIC",
                        "BACKUP_VIEW_CLUSTER_DELETED"
                      ],
                      "description": "Optional. The view of the backup to return.",
                      "enumDescriptions": [
                        "Value unspecified, equivalent to BASIC.",
                        "Responses include all fields that aren't explicitly gated behind another view.",
                        "Response include all the field from BASIC plus the field cluster_deleted, which specifies if the cluster corresponding to this backup is deleted."
                      ],
                      "location": "query"
                    },
                    "orderBy": {
                      "location": "query",
                      "type": "string",
                      "description": "Hint for how to order the results"
                    },
                    "filter": {
                      "description": "Filtering results",
                      "location": "query",
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "A token identifying a page of results the server should return."
                    }
                  },
                  "response": {
                    "$ref": "ListBackupsResponse"
                  },
                  "path": "v1alpha/{+parent}/backups",
                  "description": "Lists Backups in a given project and location.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/backups",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "alloydb.projects.locations.backups.delete",
                  "description": "Deletes a single Backup.",
                  "parameters": {
                    "validateOnly": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Optional. If set, the backend validates the request, but doesn't actually execute it."
                    },
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/backups/[^/]+$",
                      "description": "Required. Name of the resource. For the required format, see the comment on the Backup.name field."
                    },
                    "etag": {
                      "description": "Optional. The current etag of the Backup. If an etag is provided and does not match the current etag of the Backup, deletion will be blocked and an ABORTED error will be returned.",
                      "location": "query",
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server ignores the request if it has already been completed. The server guarantees that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if the original operation with the same request ID was received, and if so, ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    }
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/backups/{backupsId}",
                  "httpMethod": "DELETE",
                  "path": "v1alpha/{+name}"
                },
                "patch": {
                  "request": {
                    "$ref": "Backup"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/backups/{backupsId}",
                  "id": "alloydb.projects.locations.backups.patch",
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Updates the parameters of a single Backup.",
                  "path": "v1alpha/{+name}",
                  "parameters": {
                    "validateOnly": {
                      "description": "Optional. If set, the backend validates the request, but doesn't actually execute it.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server ignores the request if it has already been completed. The server guarantees that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if the original operation with the same request ID was received, and if so, ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query"
                    },
                    "allowMissing": {
                      "type": "boolean",
                      "location": "query",
                      "description": "Optional. If set to true, update succeeds even if instance is not found. In that case, a new backup is created and `update_mask` is ignored."
                    },
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/backups/[^/]+$",
                      "description": "Output only. The name of the backup resource with the format: * projects/{project}/locations/{region}/backups/{backup_id} where the cluster and backup ID segments should satisfy the regex expression `[a-z]([a-z0-9-]{0,61}[a-z0-9])?`, e.g. 1-63 characters of lowercase letters, numbers, and dashes, starting with a letter, and ending with a letter or number. For more details see https://google.aip.dev/122. The prefix of the backup resource name is the name of the parent resource: * projects/{project}/locations/{region}",
                      "location": "path",
                      "type": "string"
                    },
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask",
                      "description": "Optional. Field mask is used to specify the fields to be overwritten in the Backup resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten."
                    }
                  },
                  "httpMethod": "PATCH"
                }
              }
            },
            "clusters": {
              "methods": {
                "createsecondary": {
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The location of the new cluster. For the required format, see the comment on the Cluster.name field.",
                      "required": true,
                      "type": "string"
                    },
                    "clusterId": {
                      "type": "string",
                      "description": "Required. ID of the requesting object (the secondary cluster).",
                      "location": "query"
                    },
                    "validateOnly": {
                      "description": "Optional. If set, performs request validation, for example, permission checks and any other type of validation, but does not actually execute the create request.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server ignores the request if it has already been completed. The server guarantees that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if the original operation with the same request ID was received, and if so, ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "id": "alloydb.projects.locations.clusters.createsecondary",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/clusters:createsecondary",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1alpha/{+parent}/clusters:createsecondary",
                  "description": "Creates a cluster of type SECONDARY in the given location using the primary cluster as the source.",
                  "request": {
                    "$ref": "Cluster"
                  },
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "promote": {
                  "request": {
                    "$ref": "PromoteClusterRequest"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "type": "string",
                      "description": "Required. The name of the resource. For the required format, see the comment on the Cluster.name field",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1alpha/{+name}:promote",
                  "id": "alloydb.projects.locations.clusters.promote",
                  "description": "Promotes a SECONDARY cluster. This turns down replication from the PRIMARY cluster and promotes a secondary cluster into its own standalone cluster. Imperative only.",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:promote"
                },
                "restoreFromCloudSQL": {
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/clusters:restoreFromCloudSQL",
                  "description": "Restores an AlloyDB cluster from a CloudSQL resource.",
                  "path": "v1alpha/{+parent}/clusters:restoreFromCloudSQL",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The location of the new cluster. For the required format, see the comment on Cluster.name field.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "RestoreFromCloudSQLRequest"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "alloydb.projects.locations.clusters.restoreFromCloudSQL",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "restore": {
                  "request": {
                    "$ref": "RestoreClusterRequest"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. The name of the parent resource. For the required format, see the comment on the Cluster.name field.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "path": "v1alpha/{+parent}/clusters:restore",
                  "httpMethod": "POST",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/clusters:restore",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Creates a new Cluster in a given project and location, with a volume restored from the provided source, either a backup ID or a point-in-time and a source cluster.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "alloydb.projects.locations.clusters.restore"
                },
                "get": {
                  "response": {
                    "$ref": "Cluster"
                  },
                  "path": "v1alpha/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "alloydb.projects.locations.clusters.get",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "description": "Required. The name of the resource. For the required format, see the comment on the Cluster.name field.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "view": {
                      "location": "query",
                      "description": "Optional. The view of the cluster to return. Returns all default fields if not set.",
                      "type": "string",
                      "enum": [
                        "CLUSTER_VIEW_UNSPECIFIED",
                        "CLUSTER_VIEW_BASIC",
                        "CLUSTER_VIEW_CONTINUOUS_BACKUP"
                      ],
                      "enumDescriptions": [
                        "CLUSTER_VIEW_UNSPECIFIED Not specified, equivalent to BASIC.",
                        "BASIC server responses include all the relevant cluster details, excluding Cluster.ContinuousBackupInfo.EarliestRestorableTime and other view-specific fields. The default value.",
                        "CONTINUOUS_BACKUP response returns all the fields from BASIC plus the earliest restorable time if continuous backups are enabled. May increase latency."
                      ]
                    }
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets details of a single Cluster.",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}"
                },
                "switchover": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. The name of the resource. For the required format, see the comment on the Cluster.name field",
                      "required": true
                    }
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "SwitchoverClusterRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Switches the roles of PRIMARY and SECONDARY clusters without any data loss. This promotes the SECONDARY cluster to PRIMARY and sets up the original PRIMARY cluster to replicate from this newly promoted cluster.",
                  "path": "v1alpha/{+name}:switchover",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "alloydb.projects.locations.clusters.switchover",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:switchover"
                },
                "delete": {
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}",
                  "id": "alloydb.projects.locations.clusters.delete",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "type": "string",
                      "description": "Required. The name of the resource. For the required format, see the comment on the Cluster.name field.",
                      "required": true,
                      "location": "path"
                    },
                    "validateOnly": {
                      "location": "query",
                      "description": "Optional. If set, performs request validation, for example, permission checks and any other type of validation, but does not actually execute the create request.",
                      "type": "boolean"
                    },
                    "force": {
                      "type": "boolean",
                      "location": "query",
                      "description": "Optional. Whether to cascade delete child instances for given cluster."
                    },
                    "etag": {
                      "type": "string",
                      "description": "Optional. The current etag of the Cluster. If an etag is provided and does not match the current etag of the Cluster, deletion will be blocked and an ABORTED error will be returned.",
                      "location": "query"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server ignores the request if it has already been completed. The server guarantees that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if the original operation with the same request ID was received, and if so, ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query"
                    }
                  },
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1alpha/{+name}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Deletes a single Cluster.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "pageToken": {
                      "description": "A token identifying a page of results the server should return.",
                      "location": "query",
                      "type": "string"
                    },
                    "orderBy": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Hint for how to order the results"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. Filtering results",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The name of the parent resource. For the required format, see the comment on the Cluster.name field. Additionally, you can perform an aggregated list operation by specifying a value with the following format: * projects/{project}/locations/-"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default."
                    }
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/clusters",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListClustersResponse"
                  },
                  "description": "Lists Clusters in a given project and location.",
                  "id": "alloydb.projects.locations.clusters.list",
                  "path": "v1alpha/{+parent}/clusters"
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/clusters",
                  "path": "v1alpha/{+parent}/clusters",
                  "httpMethod": "POST",
                  "parameters": {
                    "clusterId": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. ID of the requesting object."
                    },
                    "parent": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The location of the new cluster. For the required format, see the comment on the Cluster.name field.",
                      "type": "string"
                    },
                    "validateOnly": {
                      "type": "boolean",
                      "description": "Optional. If set, performs request validation, for example, permission checks and any other type of validation, but does not actually execute the create request.",
                      "location": "query"
                    },
                    "requestId": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server ignores the request if it has already been completed. The server guarantees that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if the original operation with the same request ID was received, and if so, ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    }
                  },
                  "id": "alloydb.projects.locations.clusters.create",
                  "description": "Creates a new Cluster in a given project and location.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "Cluster"
                  },
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "import": {
                  "path": "v1alpha/{+name}:import",
                  "request": {
                    "$ref": "ImportClusterRequest"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Imports data to the cluster. Imperative only.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "description": "Required. The resource name of the cluster.",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "id": "alloydb.projects.locations.clusters.import",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:import"
                },
                "upgrade": {
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:upgrade",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "alloydb.projects.locations.clusters.upgrade",
                  "description": "Upgrades a single Cluster. Imperative only.",
                  "httpMethod": "PATCH",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The resource name of the cluster.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "UpgradeClusterRequest"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1alpha/{+name}:upgrade"
                },
                "patch": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "alloydb.projects.locations.clusters.patch",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "allowMissing": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Optional. If set to true, update succeeds even if cluster is not found. In that case, a new cluster is created and `update_mask` is ignored."
                    },
                    "updateMask": {
                      "description": "Optional. Field mask is used to specify the fields to be overwritten in the Cluster resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten.",
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string"
                    },
                    "name": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Output only. The name of the cluster resource with the format: * projects/{project}/locations/{region}/clusters/{cluster_id} where the cluster ID segment should satisfy the regex expression `[a-z0-9-]+`. For more details see https://google.aip.dev/122. The prefix of the cluster resource name is the name of the parent resource: * projects/{project}/locations/{region}",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$"
                    },
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server ignores the request if it has already been completed. The server guarantees that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if the original operation with the same request ID was received, and if so, ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    },
                    "validateOnly": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Optional. If set, performs request validation, for example, permission checks and any other type of validation, but does not actually execute the create request."
                    }
                  },
                  "request": {
                    "$ref": "Cluster"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}",
                  "httpMethod": "PATCH",
                  "description": "Updates the parameters of a single Cluster.",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1alpha/{+name}"
                },
                "export": {
                  "id": "alloydb.projects.locations.clusters.export",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:export",
                  "request": {
                    "$ref": "ExportClusterRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "description": "Exports data from the cluster. Imperative only.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The resource name of the cluster.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "type": "string"
                    }
                  },
                  "path": "v1alpha/{+name}:export",
                  "response": {
                    "$ref": "Operation"
                  }
                }
              },
              "resources": {
                "instances": {
                  "methods": {
                    "createsecondary": {
                      "parameters": {
                        "requestId": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server ignores the request if it has already been completed. The server guarantees that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if the original operation with the same request ID was received, and if so, ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                        },
                        "validateOnly": {
                          "type": "boolean",
                          "description": "Optional. If set, performs request validation, for example, permission checks and any other type of validation, but does not actually execute the create request.",
                          "location": "query"
                        },
                        "parent": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. The name of the parent resource. For the required format, see the comment on the Instance.name field.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$"
                        },
                        "instanceId": {
                          "location": "query",
                          "type": "string",
                          "description": "Required. ID of the requesting object."
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "alloydb.projects.locations.clusters.instances.createsecondary",
                      "httpMethod": "POST",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/instances:createsecondary",
                      "description": "Creates a new SECONDARY Instance in a given project and location.",
                      "path": "v1alpha/{+parent}/instances:createsecondary",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "Instance"
                      },
                      "response": {
                        "$ref": "Operation"
                      }
                    },
                    "failover": {
                      "description": "Forces a Failover for a highly available instance. Failover promotes the HA standby instance as the new primary. Imperative only.",
                      "id": "alloydb.projects.locations.clusters.instances.failover",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/instances/{instancesId}:failover",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the resource. For the required format, see the comment on the Instance.name field.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/instances/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "httpMethod": "POST",
                      "path": "v1alpha/{+name}:failover",
                      "request": {
                        "$ref": "FailoverInstanceRequest"
                      }
                    },
                    "restart": {
                      "description": "Restart an Instance in a cluster. Imperative only.",
                      "response": {
                        "$ref": "Operation"
                      },
                      "path": "v1alpha/{+name}:restart",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/instances/{instancesId}:restart",
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "RestartInstanceRequest"
                      },
                      "id": "alloydb.projects.locations.clusters.instances.restart",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "required": true,
                          "description": "Required. The name of the resource. For the required format, see the comment on the Instance.name field.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/instances/[^/]+$",
                          "type": "string"
                        }
                      },
                      "httpMethod": "POST"
                    },
                    "injectFault": {
                      "response": {
                        "$ref": "Operation"
                      },
                      "id": "alloydb.projects.locations.clusters.instances.injectFault",
                      "description": "Injects fault in an instance. Imperative only.",
                      "request": {
                        "$ref": "InjectFaultRequest"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1alpha/{+name}:injectFault",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "required": true,
                          "location": "path",
                          "description": "Required. The name of the resource. For the required format, see the comment on the Instance.name field.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/instances/[^/]+$",
                          "type": "string"
                        }
                      },
                      "httpMethod": "POST",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/instances/{instancesId}:injectFault"
                    },
                    "delete": {
                      "id": "alloydb.projects.locations.clusters.instances.delete",
                      "description": "Deletes a single Instance.",
                      "response": {
                        "$ref": "Operation"
                      },
                      "path": "v1alpha/{+name}",
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the resource. For the required format, see the comment on the Instance.name field.",
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/instances/[^/]+$"
                        },
                        "etag": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. The current etag of the Instance. If an etag is provided and does not match the current etag of the Instance, deletion will be blocked and an ABORTED error will be returned."
                        },
                        "requestId": {
                          "type": "string",
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server ignores the request if it has already been completed. The server guarantees that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if the original operation with the same request ID was received, and if so, ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "location": "query"
                        },
                        "validateOnly": {
                          "type": "boolean",
                          "location": "query",
                          "description": "Optional. If set, performs request validation, for example, permission checks and any other type of validation, but does not actually execute the create request."
                        }
                      },
                      "httpMethod": "DELETE",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/instances/{instancesId}"
                    },
                    "getConnectionInfo": {
                      "response": {
                        "$ref": "ConnectionInfo"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "description": "Required. The name of the parent resource. The required format is: projects/{project}/locations/{location}/clusters/{cluster}/instances/{instance}",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/instances/[^/]+$"
                        },
                        "requestId": {
                          "type": "string",
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server ignores the request if it has already been completed. The server guarantees that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if the original operation with the same request ID was received, and if so, ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "location": "query"
                        }
                      },
                      "id": "alloydb.projects.locations.clusters.instances.getConnectionInfo",
                      "path": "v1alpha/{+parent}/connectionInfo",
                      "description": "Get instance metadata used for a connection.",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/instances/{instancesId}/connectionInfo",
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "patch": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/instances/{instancesId}",
                      "httpMethod": "PATCH",
                      "parameters": {
                        "updateMask": {
                          "type": "string",
                          "format": "google-fieldmask",
                          "location": "query",
                          "description": "Optional. Field mask is used to specify the fields to be overwritten in the Instance resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten."
                        },
                        "requestId": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server ignores the request if it has already been completed. The server guarantees that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if the original operation with the same request ID was received, and if so, ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                        },
                        "validateOnly": {
                          "description": "Optional. If set, performs request validation, for example, permission checks and any other type of validation, but does not actually execute the create request.",
                          "type": "boolean",
                          "location": "query"
                        },
                        "allowMissing": {
                          "description": "Optional. If set to true, update succeeds even if instance is not found. In that case, a new instance is created and `update_mask` is ignored.",
                          "location": "query",
                          "type": "boolean"
                        },
                        "name": {
                          "description": "Output only. The name of the instance resource with the format: * projects/{project}/locations/{region}/clusters/{cluster_id}/instances/{instance_id} where the cluster and instance ID segments should satisfy the regex expression `[a-z]([a-z0-9-]{0,61}[a-z0-9])?`, e.g. 1-63 characters of lowercase letters, numbers, and dashes, starting with a letter, and ending with a letter or number. For more details see https://google.aip.dev/122. The prefix of the instance resource name is the name of the parent resource: * projects/{project}/locations/{region}/clusters/{cluster_id}",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/instances/[^/]+$",
                          "type": "string"
                        }
                      },
                      "id": "alloydb.projects.locations.clusters.instances.patch",
                      "description": "Updates the parameters of a single Instance.",
                      "request": {
                        "$ref": "Instance"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "path": "v1alpha/{+name}"
                    },
                    "get": {
                      "description": "Gets details of a single Instance.",
                      "id": "alloydb.projects.locations.clusters.instances.get",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/instances/{instancesId}",
                      "parameters": {
                        "view": {
                          "location": "query",
                          "type": "string",
                          "enum": [
                            "INSTANCE_VIEW_UNSPECIFIED",
                            "INSTANCE_VIEW_BASIC",
                            "INSTANCE_VIEW_FULL"
                          ],
                          "description": "The view of the instance to return.",
                          "enumDescriptions": [
                            "INSTANCE_VIEW_UNSPECIFIED Not specified, equivalent to BASIC.",
                            "BASIC server responses for a primary or read instance include all the relevant instance details, excluding the details of each node in the instance. The default value.",
                            "FULL response is equivalent to BASIC for primary instance (for now). For read pool instance, this includes details of each node in the pool."
                          ]
                        },
                        "name": {
                          "type": "string",
                          "description": "Required. The name of the resource. For the required format, see the comment on the Instance.name field.",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/instances/[^/]+$"
                        }
                      },
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Instance"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1alpha/{+name}"
                    },
                    "create": {
                      "description": "Creates a new Instance in a given project and location.",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/instances",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "Instance"
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "path": "v1alpha/{+parent}/instances",
                      "id": "alloydb.projects.locations.clusters.instances.create",
                      "parameters": {
                        "instanceId": {
                          "type": "string",
                          "description": "Required. ID of the requesting object.",
                          "location": "query"
                        },
                        "requestId": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server ignores the request if it has already been completed. The server guarantees that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if the original operation with the same request ID was received, and if so, ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                        },
                        "validateOnly": {
                          "description": "Optional. If set, performs request validation, for example, permission checks and any other type of validation, but does not actually execute the create request.",
                          "type": "boolean",
                          "location": "query"
                        },
                        "parent": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Required. The name of the parent resource. For the required format, see the comment on the Instance.name field.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$"
                        }
                      },
                      "httpMethod": "POST"
                    },
                    "list": {
                      "path": "v1alpha/{+parent}/instances",
                      "description": "Lists Instances in a given project and location.",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/instances",
                      "response": {
                        "$ref": "ListInstancesResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "orderBy": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. Hint for how to order the results"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "A token identifying a page of results the server should return."
                        },
                        "filter": {
                          "description": "Optional. Filtering results",
                          "type": "string",
                          "location": "query"
                        },
                        "parent": {
                          "description": "Required. The name of the parent resource. For the required format, see the comment on the Instance.name field. Additionally, you can perform an aggregated list operation by specifying a value with one of the following formats: * projects/{project}/locations/-/clusters/- * projects/{project}/locations/{region}/clusters/-",
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        },
                        "pageSize": {
                          "format": "int32",
                          "location": "query",
                          "type": "integer",
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default."
                        }
                      },
                      "id": "alloydb.projects.locations.clusters.instances.list"
                    }
                  }
                },
                "users": {
                  "methods": {
                    "get": {
                      "parameters": {
                        "name": {
                          "type": "string",
                          "description": "Required. The name of the resource. For the required format, see the comment on the User.name field.",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/users/[^/]+$"
                        }
                      },
                      "httpMethod": "GET",
                      "description": "Gets details of a single User.",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/users/{usersId}",
                      "id": "alloydb.projects.locations.clusters.users.get",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1alpha/{+name}",
                      "response": {
                        "$ref": "User"
                      }
                    },
                    "list": {
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/users",
                      "id": "alloydb.projects.locations.clusters.users.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "filter": {
                          "description": "Optional. Filtering results",
                          "type": "string",
                          "location": "query"
                        },
                        "pageToken": {
                          "description": "Optional. A token identifying a page of results the server should return.",
                          "type": "string",
                          "location": "query"
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                          "location": "query",
                          "format": "int32"
                        },
                        "parent": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. Parent value for ListUsersRequest",
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$"
                        },
                        "orderBy": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. Hint for how to order the results"
                        }
                      },
                      "response": {
                        "$ref": "ListUsersResponse"
                      },
                      "httpMethod": "GET",
                      "path": "v1alpha/{+parent}/users",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Lists Users in a given project and location."
                    },
                    "delete": {
                      "parameters": {
                        "name": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "description": "Required. The name of the resource. For the required format, see the comment on the User.name field.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/users/[^/]+$"
                        },
                        "validateOnly": {
                          "location": "query",
                          "description": "Optional. If set, the backend validates the request, but doesn't actually execute it.",
                          "type": "boolean"
                        },
                        "requestId": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server ignores the request if it has already been completed. The server guarantees that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if the original operation with the same request ID was received, and if so, ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "DELETE",
                      "response": {
                        "$ref": "Empty"
                      },
                      "path": "v1alpha/{+name}",
                      "id": "alloydb.projects.locations.clusters.users.delete",
                      "description": "Deletes a single User.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/users/{usersId}"
                    },
                    "patch": {
                      "httpMethod": "PATCH",
                      "parameters": {
                        "requestId": {
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server ignores the request if it has already been completed. The server guarantees that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if the original operation with the same request ID was received, and if so, ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "type": "string",
                          "location": "query"
                        },
                        "updateMask": {
                          "type": "string",
                          "location": "query",
                          "format": "google-fieldmask",
                          "description": "Optional. Field mask is used to specify the fields to be overwritten in the User resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten."
                        },
                        "validateOnly": {
                          "location": "query",
                          "description": "Optional. If set, the backend validates the request, but doesn't actually execute it.",
                          "type": "boolean"
                        },
                        "name": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "Output only. Name of the resource in the form of projects/{project}/locations/{location}/cluster/{cluster}/users/{user}.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/users/[^/]+$"
                        },
                        "allowMissing": {
                          "location": "query",
                          "type": "boolean",
                          "description": "Optional. Allow missing fields in the update mask."
                        }
                      },
                      "description": "Updates the parameters of a single User.",
                      "path": "v1alpha/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "User"
                      },
                      "request": {
                        "$ref": "User"
                      },
                      "id": "alloydb.projects.locations.clusters.users.patch",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/users/{usersId}"
                    },
                    "create": {
                      "path": "v1alpha/{+parent}/users",
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/users",
                      "id": "alloydb.projects.locations.clusters.users.create",
                      "request": {
                        "$ref": "User"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "User"
                      },
                      "description": "Creates a new User in a given project, location, and cluster.",
                      "httpMethod": "POST",
                      "parameters": {
                        "validateOnly": {
                          "type": "boolean",
                          "description": "Optional. If set, the backend validates the request, but doesn't actually execute it.",
                          "location": "query"
                        },
                        "userId": {
                          "type": "string",
                          "location": "query",
                          "description": "Required. ID of the requesting object."
                        },
                        "requestId": {
                          "type": "string",
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server ignores the request if it has already been completed. The server guarantees that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if the original operation with the same request ID was received, and if so, ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "location": "query"
                        },
                        "parent": {
                          "description": "Required. Value for parent.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            },
            "supportedDatabaseFlags": {
              "methods": {
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists SupportedDatabaseFlags for a given project and location.",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/supportedDatabaseFlags",
                  "response": {
                    "$ref": "ListSupportedDatabaseFlagsResponse"
                  },
                  "id": "alloydb.projects.locations.supportedDatabaseFlags.list",
                  "path": "v1alpha/{+parent}/supportedDatabaseFlags",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "format": "int32"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "A token identifying a page of results the server should return.",
                      "location": "query"
                    },
                    "parent": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The name of the parent resource. The required format is: * projects/{project}/locations/{location} Regardless of the parent specified here, as long it is contains a valid project and location, the service will return a static list of supported flags resources. Note that we do not yet support region-specific flags."
                    },
                    "scope": {
                      "enumDescriptions": [
                        "The scope of the flag is not specified. Default is DATABASE.",
                        "The flag is a database flag.",
                        "The flag is a connection pool flag."
                      ],
                      "description": "Optional. The scope for which supported flags are requested. If not specified, default is DATABASE.",
                      "type": "string",
                      "enum": [
                        "SCOPE_UNSPECIFIED",
                        "DATABASE",
                        "CONNECTION_POOL"
                      ],
                      "location": "query"
                    }
                  },
                  "httpMethod": "GET"
                }
              }
            },
            "endpoints": {
              "methods": {
                "delete": {
                  "parameters": {
                    "requestId": {
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server ignores the request if it has already been completed. The server guarantees that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if the original operation with the same request ID was received, and if so, ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query"
                    },
                    "validateOnly": {
                      "description": "Optional. If set, the backend validates the request, but doesn't actually execute it.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "etag": {
                      "location": "query",
                      "description": "Optional. The current etag of the Endpoint. If an etag is provided and does not match the current etag of the Endpoint, deletion will be blocked and an ABORTED error will be returned.",
                      "type": "string"
                    },
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/endpoints/[^/]+$",
                      "description": "Required. The name of the resource. For the required format, see the comment on the Endpoint.name field."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/endpoints/{endpointsId}",
                  "id": "alloydb.projects.locations.endpoints.delete",
                  "path": "v1alpha/{+name}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Deletes a single Endpoint."
                },
                "list": {
                  "response": {
                    "$ref": "ListEndpointsResponse"
                  },
                  "description": "Lists Endpoints in a given project and location.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1alpha/{+parent}/endpoints",
                  "httpMethod": "GET",
                  "id": "alloydb.projects.locations.endpoints.list",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. The name of the parent resource. For the required format, see the comment on the Endpoint.name field. Additionally, you can perform an aggregated list operation by specifying a value with the following format: * projects/{project}/locations/-"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "location": "query",
                      "format": "int32"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A page token, received from a previous `ListEndpoints` call. This should be provided to retrieve the subsequent page. This field is currently not supported, its value will be ignored if passed."
                    },
                    "orderBy": {
                      "type": "string",
                      "description": "Optional. Hint for how to order the results",
                      "location": "query"
                    },
                    "filter": {
                      "location": "query",
                      "description": "Optional. Filtering results. This field is currently not supported, its value will be ignored if passed.",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/endpoints"
                },
                "create": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "alloydb.projects.locations.endpoints.create",
                  "path": "v1alpha/{+parent}/endpoints",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "validateOnly": {
                      "description": "Optional. If set, the backend validates the request, but doesn't actually execute it.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The location of the new endpoint. For the required format, see the comment on the Endpoint.name field.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "endpointId": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. ID of the requesting object."
                    },
                    "requestId": {
[...]
