{
  "mtlsRootUrl": "https://alloydb.mtls.googleapis.com/",
  "id": "alloydb:v1beta",
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "rootUrl": "https://alloydb.googleapis.com/",
  "endpoints": [
    {
      "endpointUrl": "https://alloydb.us-central2.rep.googleapis.com/",
      "location": "us-central2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://alloydb.us-east7.rep.googleapis.com/",
      "location": "us-east7",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://alloydb.northamerica-northeast1.rep.googleapis.com/",
      "location": "northamerica-northeast1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://alloydb.northamerica-northeast2.rep.googleapis.com/",
      "location": "northamerica-northeast2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://alloydb.northamerica-south1.rep.googleapis.com/",
      "location": "northamerica-south1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://alloydb.southamerica-east1.rep.googleapis.com/",
      "location": "southamerica-east1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://alloydb.southamerica-west1.rep.googleapis.com/",
      "location": "southamerica-west1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://alloydb.us-central1.rep.googleapis.com/",
      "location": "us-central1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://alloydb.us-east1.rep.googleapis.com/",
      "location": "us-east1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://alloydb.us-east4.rep.googleapis.com/",
      "location": "us-east4",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://alloydb.us-east5.rep.googleapis.com/",
      "location": "us-east5",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://alloydb.us-south1.rep.googleapis.com/",
      "location": "us-south1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://alloydb.us-west1.rep.googleapis.com/",
      "location": "us-west1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://alloydb.us-west2.rep.googleapis.com/",
      "location": "us-west2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://alloydb.us-west3.rep.googleapis.com/",
      "location": "us-west3",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://alloydb.us-west4.rep.googleapis.com/",
      "location": "us-west4",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://alloydb.europe-central2.rep.googleapis.com/",
      "location": "europe-central2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://alloydb.europe-southwest1.rep.googleapis.com/",
      "location": "europe-southwest1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://alloydb.europe-north1.rep.googleapis.com/",
      "location": "europe-north1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://alloydb.europe-north2.rep.googleapis.com/",
      "location": "europe-north2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://alloydb.europe-west1.rep.googleapis.com/",
      "location": "europe-west1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://alloydb.europe-west2.rep.googleapis.com/",
      "location": "europe-west2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://alloydb.europe-west3.rep.googleapis.com/",
      "location": "europe-west3",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://alloydb.europe-west4.rep.googleapis.com/",
      "location": "europe-west4",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://alloydb.europe-west6.rep.googleapis.com/",
      "location": "europe-west6",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://alloydb.europe-west8.rep.googleapis.com/",
      "location": "europe-west8",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://alloydb.europe-west9.rep.googleapis.com/",
      "location": "europe-west9",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://alloydb.europe-west10.rep.googleapis.com/",
      "location": "europe-west10",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://alloydb.europe-west12.rep.googleapis.com/",
      "location": "europe-west12",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://alloydb.asia-east1.rep.googleapis.com/",
      "location": "asia-east1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://alloydb.asia-east2.rep.googleapis.com/",
      "location": "asia-east2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://alloydb.asia-northeast1.rep.googleapis.com/",
      "location": "asia-northeast1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://alloydb.asia-northeast2.rep.googleapis.com/",
      "location": "asia-northeast2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://alloydb.asia-northeast3.rep.googleapis.com/",
      "location": "asia-northeast3",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://alloydb.asia-south1.rep.googleapis.com/",
      "location": "asia-south1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://alloydb.asia-south2.rep.googleapis.com/",
      "location": "asia-south2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://alloydb.asia-southeast1.rep.googleapis.com/",
      "location": "asia-southeast1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://alloydb.asia-southeast2.rep.googleapis.com/",
      "location": "asia-southeast2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://alloydb.australia-southeast1.rep.googleapis.com/",
      "location": "australia-southeast1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://alloydb.australia-southeast2.rep.googleapis.com/",
      "location": "australia-southeast2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://alloydb.me-central1.rep.googleapis.com/",
      "location": "me-central1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://alloydb.me-central2.rep.googleapis.com/",
      "location": "me-central2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://alloydb.me-west1.rep.googleapis.com/",
      "location": "me-west1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://alloydb.africa-south1.rep.googleapis.com/",
      "location": "africa-south1",
      "description": "Regional Endpoint"
    }
  ],
  "description": "AlloyDB for PostgreSQL is an open source-compatible database service that provides a powerful option for migrating, modernizing, or building commercial-grade applications. It offers full compatibility with standard PostgreSQL, and is more than 4x faster for transactional workloads and up to 100x faster for analytical queries than standard PostgreSQL in our performance tests. AlloyDB for PostgreSQL offers a 99.99 percent availability SLA inclusive of maintenance. AlloyDB is optimized for the most demanding use cases, allowing you to build new applications that require high transaction throughput, large database sizes, or multiple read resources; scale existing PostgreSQL workloads with no application changes; and modernize legacy proprietary databases. ",
  "batchPath": "batch",
  "name": "alloydb",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "servicePath": "",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "schemas": {
    "StageStatus": {
      "id": "StageStatus",
      "type": "object",
      "properties": {
        "stage": {
          "description": "Upgrade stage.",
          "enum": [
            "STAGE_UNSPECIFIED",
            "ALLOYDB_PRECHECK",
            "PG_UPGRADE_CHECK",
            "PREPARE_FOR_UPGRADE",
            "PRIMARY_INSTANCE_UPGRADE",
            "READ_POOL_INSTANCES_UPGRADE",
            "ROLLBACK",
            "CLEANUP"
          ],
          "enumDescriptions": [
            "Unspecified stage.",
            "Pre-upgrade custom checks, not covered by pg_upgrade.",
            "Pre-upgrade pg_upgrade checks.",
            "Clone the original cluster.",
            "Upgrade the primary instance(downtime).",
            "This stage is read pool upgrade.",
            "Rollback in case of critical failures.",
            "Cleanup."
          ],
          "type": "string"
        },
        "state": {
          "type": "string",
          "description": "State of this stage.",
          "enum": [
            "STATUS_UNSPECIFIED",
            "NOT_STARTED",
            "IN_PROGRESS",
            "SUCCESS",
            "FAILED",
            "PARTIAL_SUCCESS",
            "CANCEL_IN_PROGRESS",
            "CANCELLED"
          ],
          "enumDescriptions": [
            "Unspecified status.",
            "Not started.",
            "In progress.",
            "Operation succeeded.",
            "Operation failed.",
            "Operation partially succeeded.",
            "Cancel is in progress.",
            "Cancellation complete."
          ]
        },
        "readPoolInstancesUpgrade": {
          "description": "Read pool instances upgrade metadata.",
          "$ref": "ReadPoolInstancesUpgradeStageStatus"
        }
      },
      "description": "Status of an upgrade stage."
    },
    "StorageDatabasecenterPartnerapiV1mainRetentionSettings": {
      "id": "StorageDatabasecenterPartnerapiV1mainRetentionSettings",
      "type": "object",
      "properties": {
        "timestampBasedRetentionTime": {
          "type": "string",
          "description": "Timestamp based retention period i.e. 2024-05-01T00:00:00Z",
          "format": "google-datetime"
        },
        "retentionUnit": {
          "enumDescriptions": [
            "Backup retention unit is unspecified, will be treated as COUNT.",
            "Retention will be by count, eg. \"retain the most recent 7 backups\".",
            "Retention will be by Time, eg. \"retain backups till a specific time\" i.e. till 2024-05-01T00:00:00Z.",
            "Retention will be by duration, eg. \"retain the backups for 172800 seconds (2 days)\".",
            "For rest of the other category"
          ],
          "description": "The unit that 'retained_backups' represents.",
          "enum": [
            "RETENTION_UNIT_UNSPECIFIED",
            "COUNT",
            "TIME",
            "DURATION",
            "RETENTION_UNIT_OTHER"
          ],
          "type": "string",
          "deprecated": true
        },
        "quantityBasedRetention": {
          "format": "int32",
          "description": "Quantity based retention period i.e. 7 backups",
          "type": "integer"
        },
        "durationBasedRetention": {
          "type": "string",
          "description": "Duration based retention period i.e. 172800 seconds (2 days)",
          "format": "google-duration"
        },
        "timeBasedRetention": {
          "format": "google-duration",
          "description": "Duration based retention period i.e. 172800 seconds (2 days)",
          "type": "string",
          "deprecated": true
        }
      }
    },
    "ClusterUpgradeDetails": {
      "description": "Upgrade details of a cluster. This cluster can be primary or secondary.",
      "id": "ClusterUpgradeDetails",
      "type": "object",
      "properties": {
        "databaseVersion": {
          "enumDescriptions": [
            "This is an unknown database version.",
            "DEPRECATED - The database version is Postgres 13.",
            "The database version is Postgres 14.",
            "The database version is Postgres 15.",
            "The database version is Postgres 16.",
            "The database version is Postgres 17.",
            "The database version is Postgres 18."
          ],
          "description": "Database version of the cluster after the upgrade operation. This will be the target version if the upgrade was successful otherwise it remains the same as that before the upgrade operation.",
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            false,
            false
          ],
          "enum": [
            "DATABASE_VERSION_UNSPECIFIED",
            "POSTGRES_13",
            "POSTGRES_14",
            "POSTGRES_15",
            "POSTGRES_16",
            "POSTGRES_17",
            "POSTGRES_18"
          ],
          "type": "string"
        },
        "stageInfo": {
          "type": "array",
          "items": {
            "$ref": "StageInfo"
          },
          "description": "Array containing stage info associated with this cluster."
        },
        "upgradeStatus": {
          "type": "string",
          "description": "Upgrade status of the cluster.",
          "enum": [
            "STATUS_UNSPECIFIED",
            "NOT_STARTED",
            "IN_PROGRESS",
            "SUCCESS",
            "FAILED",
            "PARTIAL_SUCCESS",
            "CANCEL_IN_PROGRESS",
            "CANCELLED"
          ],
          "enumDescriptions": [
            "Unspecified status.",
            "Not started.",
            "In progress.",
            "Operation succeeded.",
            "Operation failed.",
            "Operation partially succeeded.",
            "Cancel is in progress.",
            "Cancellation complete."
          ]
        },
        "instanceUpgradeDetails": {
          "description": "Upgrade details of the instances directly associated with this cluster.",
          "items": {
            "$ref": "InstanceUpgradeDetails"
          },
          "type": "array"
        },
        "clusterType": {
          "enumDescriptions": [
            "The type of the cluster is unknown.",
            "Primary cluster that support read and write operations.",
            "Secondary cluster that is replicating from another region. This only supports read."
          ],
          "description": "Cluster type which can either be primary or secondary.",
          "enum": [
            "CLUSTER_TYPE_UNSPECIFIED",
            "PRIMARY",
            "SECONDARY"
          ],
          "type": "string"
        },
        "name": {
          "description": "Normalized name of the cluster",
          "type": "string"
        }
      }
    },
    "StorageDatabasecenterPartnerapiV1mainDatabaseResourceRecommendationSignalData": {
      "description": "Common model for database resource recommendation signal data.",
      "id": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceRecommendationSignalData",
      "type": "object",
      "properties": {
        "recommenderId": {
          "description": "Required. ID of recommender. Examples: \"google.cloudsql.instance.PerformanceRecommender\"",
          "type": "string"
        },
        "lastRefreshTime": {
          "format": "google-datetime",
          "description": "Required. last time recommendationw as refreshed",
          "type": "string"
        },
        "recommendationState": {
          "type": "string",
          "description": "Required. Recommendation state",
          "enum": [
            "UNSPECIFIED",
            "ACTIVE",
            "CLAIMED",
            "SUCCEEDED",
            "FAILED",
            "DISMISSED"
          ],
          "enumDescriptions": [
            "",
            "Recommendation is active and can be applied. ACTIVE recommendations can be marked as CLAIMED, SUCCEEDED, or FAILED.",
            "Recommendation is in claimed state. Recommendations content is immutable and cannot be updated by Google. CLAIMED recommendations can be marked as CLAIMED, SUCCEEDED, or FAILED.",
            "Recommendation is in succeeded state. Recommendations content is immutable and cannot be updated by Google. SUCCEEDED recommendations can be marked as SUCCEEDED, or FAILED.",
            "Recommendation is in failed state. Recommendations content is immutable and cannot be updated by Google. FAILED recommendations can be marked as SUCCEEDED, or FAILED.",
            "Recommendation is in dismissed state. Recommendation content can be updated by Google. DISMISSED recommendations can be marked as ACTIVE."
          ]
        },
        "recommenderSubtype": {
          "description": "Required. Contains an identifier for a subtype of recommendations produced for the same recommender. Subtype is a function of content and impact, meaning a new subtype might be added when significant changes to `content` or `primary_impact.category` are introduced. See the Recommenders section to see a list of subtypes for a given Recommender. Examples: For recommender = \"google.cloudsql.instance.PerformanceRecommender\", recommender_subtype can be \"MYSQL_HIGH_NUMBER_OF_OPEN_TABLES_BEST_PRACTICE\"/\"POSTGRES_HIGH_TRANSACTION_ID_UTILIZATION_BEST_PRACTICE\"",
          "type": "string"
        },
        "resourceName": {
          "type": "string",
          "description": "Required. Database resource name associated with the signal. Resource name to follow CAIS resource_name format as noted here go/condor-common-datamodel"
        },
        "recommender": {
          "type": "string",
          "description": "Required. Name of recommendation. Examples: organizations/1234/locations/us-central1/recommenders/google.cloudsql.instance.PerformanceRecommender/recommendations/9876"
        },
        "signalType": {
          "description": "Required. Type of signal, for example, `SIGNAL_TYPE_IDLE`, `SIGNAL_TYPE_HIGH_NUMBER_OF_TABLES`, etc.",
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            true,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "enum": [
            "SIGNAL_TYPE_UNSPECIFIED",
            "SIGNAL_TYPE_NOT_PROTECTED_BY_AUTOMATIC_FAILOVER",
            "SIGNAL_TYPE_GROUP_NOT_REPLICATING_ACROSS_REGIONS",
            "SIGNAL_TYPE_NOT_AVAILABLE_IN_MULTIPLE_ZONES",
            "SIGNAL_TYPE_NOT_AVAILABLE_IN_MULTIPLE_REGIONS",
            "SIGNAL_TYPE_NO_PROMOTABLE_REPLICA",
            "SIGNAL_TYPE_NO_AUTOMATED_BACKUP_POLICY",
            "SIGNAL_TYPE_SHORT_BACKUP_RETENTION",
            "SIGNAL_TYPE_LAST_BACKUP_FAILED",
            "SIGNAL_TYPE_LAST_BACKUP_OLD",
            "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_2_0",
            "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_3",
            "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_2",
            "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_1",
            "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_0",
            "SIGNAL_TYPE_VIOLATES_CIS_CONTROLS_V8_0",
            "SIGNAL_TYPE_VIOLATES_NIST_800_53",
            "SIGNAL_TYPE_VIOLATES_NIST_800_53_R5",
            "SIGNAL_TYPE_VIOLATES_NIST_CYBERSECURITY_FRAMEWORK_V1_0",
            "SIGNAL_TYPE_VIOLATES_ISO_27001",
            "SIGNAL_TYPE_VIOLATES_ISO_27001_V2022",
            "SIGNAL_TYPE_VIOLATES_PCI_DSS_V3_2_1",
            "SIGNAL_TYPE_VIOLATES_PCI_DSS_V4_0",
            "SIGNAL_TYPE_VIOLATES_CLOUD_CONTROLS_MATRIX_V4",
            "SIGNAL_TYPE_VIOLATES_HIPAA",
            "SIGNAL_TYPE_VIOLATES_SOC2_V2017",
            "SIGNAL_TYPE_LOGS_NOT_OPTIMIZED_FOR_TROUBLESHOOTING",
            "SIGNAL_TYPE_QUERY_DURATIONS_NOT_LOGGED",
            "SIGNAL_TYPE_VERBOSE_ERROR_LOGGING",
            "SIGNAL_TYPE_QUERY_LOCK_WAITS_NOT_LOGGED",
            "SIGNAL_TYPE_LOGGING_MOST_ERRORS",
            "SIGNAL_TYPE_LOGGING_ONLY_CRITICAL_ERRORS",
            "SIGNAL_TYPE_MINIMAL_ERROR_LOGGING",
            "SIGNAL_TYPE_QUERY_STATISTICS_LOGGED",
            "SIGNAL_TYPE_EXCESSIVE_LOGGING_OF_CLIENT_HOSTNAME",
            "SIGNAL_TYPE_EXCESSIVE_LOGGING_OF_PARSER_STATISTICS",
            "SIGNAL_TYPE_EXCESSIVE_LOGGING_OF_PLANNER_STATISTICS",
            "SIGNAL_TYPE_NOT_LOGGING_ONLY_DDL_STATEMENTS",
            "SIGNAL_TYPE_LOGGING_QUERY_STATISTICS",
            "SIGNAL_TYPE_NOT_LOGGING_TEMPORARY_FILES",
            "SIGNAL_TYPE_CONNECTION_MAX_NOT_CONFIGURED",
            "SIGNAL_TYPE_USER_OPTIONS_CONFIGURED",
            "SIGNAL_TYPE_EXPOSED_TO_PUBLIC_ACCESS",
            "SIGNAL_TYPE_UNENCRYPTED_CONNECTIONS",
            "SIGNAL_TYPE_NO_ROOT_PASSWORD",
            "SIGNAL_TYPE_WEAK_ROOT_PASSWORD",
            "SIGNAL_TYPE_ENCRYPTION_KEY_NOT_CUSTOMER_MANAGED",
            "SIGNAL_TYPE_SERVER_AUTHENTICATION_NOT_REQUIRED",
            "SIGNAL_TYPE_EXPOSED_BY_OWNERSHIP_CHAINING",
            "SIGNAL_TYPE_EXPOSED_TO_EXTERNAL_SCRIPTS",
            "SIGNAL_TYPE_EXPOSED_TO_LOCAL_DATA_LOADS",
            "SIGNAL_TYPE_CONNECTION_ATTEMPTS_NOT_LOGGED",
            "SIGNAL_TYPE_DISCONNECTIONS_NOT_LOGGED",
            "SIGNAL_TYPE_LOGGING_EXCESSIVE_STATEMENT_INFO",
            "SIGNAL_TYPE_EXPOSED_TO_REMOTE_ACCESS",
            "SIGNAL_TYPE_DATABASE_NAMES_EXPOSED",
            "SIGNAL_TYPE_SENSITIVE_TRACE_INFO_NOT_MASKED",
            "SIGNAL_TYPE_PUBLIC_IP_ENABLED",
            "SIGNAL_TYPE_IDLE",
            "SIGNAL_TYPE_OVERPROVISIONED",
            "SIGNAL_TYPE_HIGH_NUMBER_OF_OPEN_TABLES",
            "SIGNAL_TYPE_HIGH_NUMBER_OF_TABLES",
            "SIGNAL_TYPE_HIGH_TRANSACTION_ID_UTILIZATION",
            "SIGNAL_TYPE_UNDERPROVISIONED",
            "SIGNAL_TYPE_OUT_OF_DISK",
            "SIGNAL_TYPE_SERVER_CERTIFICATE_NEAR_EXPIRY",
            "SIGNAL_TYPE_DATABASE_AUDITING_DISABLED",
            "SIGNAL_TYPE_RESTRICT_AUTHORIZED_NETWORKS",
            "SIGNAL_TYPE_VIOLATE_POLICY_RESTRICT_PUBLIC_IP",
            "SIGNAL_TYPE_QUOTA_LIMIT",
            "SIGNAL_TYPE_NO_PASSWORD_POLICY",
            "SIGNAL_TYPE_CONNECTIONS_PERFORMANCE_IMPACT",
            "SIGNAL_TYPE_TMP_TABLES_PERFORMANCE_IMPACT",
            "SIGNAL_TYPE_TRANS_LOGS_PERFORMANCE_IMPACT",
            "SIGNAL_TYPE_HIGH_JOINS_WITHOUT_INDEXES",
            "SIGNAL_TYPE_SUPERUSER_WRITING_TO_USER_TABLES",
            "SIGNAL_TYPE_USER_GRANTED_ALL_PERMISSIONS",
            "SIGNAL_TYPE_DATA_EXPORT_TO_EXTERNAL_CLOUD_STORAGE_BUCKET",
            "SIGNAL_TYPE_DATA_EXPORT_TO_PUBLIC_CLOUD_STORAGE_BUCKET",
            "SIGNAL_TYPE_WEAK_PASSWORD_HASH_ALGORITHM",
            "SIGNAL_TYPE_NO_USER_PASSWORD_POLICY",
            "SIGNAL_TYPE_HOT_NODE",
            "SIGNAL_TYPE_NO_POINT_IN_TIME_RECOVERY",
            "SIGNAL_TYPE_RESOURCE_SUSPENDED",
            "SIGNAL_TYPE_EXPENSIVE_COMMANDS",
            "SIGNAL_TYPE_NO_MAINTENANCE_POLICY_CONFIGURED",
            "SIGNAL_TYPE_NO_DELETION_PROTECTION",
            "SIGNAL_TYPE_INEFFICIENT_QUERY",
            "SIGNAL_TYPE_READ_INTENSIVE_WORKLOAD",
            "SIGNAL_TYPE_MEMORY_LIMIT",
            "SIGNAL_TYPE_MAX_SERVER_MEMORY",
            "SIGNAL_TYPE_LARGE_ROWS",
            "SIGNAL_TYPE_HIGH_WRITE_PRESSURE",
            "SIGNAL_TYPE_HIGH_READ_PRESSURE",
            "SIGNAL_TYPE_ENCRYPTION_ORG_POLICY_NOT_SATISFIED",
            "SIGNAL_TYPE_LOCATION_ORG_POLICY_NOT_SATISFIED",
            "SIGNAL_TYPE_OUTDATED_MINOR_VERSION",
            "SIGNAL_TYPE_SCHEMA_NOT_OPTIMIZED",
            "SIGNAL_TYPE_MANY_IDLE_CONNECTIONS",
            "SIGNAL_TYPE_REPLICATION_LAG",
            "SIGNAL_TYPE_OUTDATED_VERSION",
            "SIGNAL_TYPE_OUTDATED_CLIENT",
            "SIGNAL_TYPE_DATABOOST_DISABLED",
            "SIGNAL_TYPE_RECOMMENDED_MAINTENANCE_POLICIES",
            "SIGNAL_TYPE_EXTENDED_SUPPORT",
            "SIGNAL_TYPE_PERFORMANCE_KPI_CHANGE",
            "SIGNAL_TYPE_VERSION_NEARING_END_OF_LIFE",
            "SIGNAL_TYPE_HIGH_MAINTENANCE_DOWNTIME_RISK",
            "SIGNAL_TYPE_LOW_CACHE_HIT_AND_MAINTENANCE_DOWNTIME",
            "SIGNAL_TYPE_MISSING_ENHANCED_PROTECTION"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Represents if a resource is protected by automatic failover. Checks for resources that are configured to have redundancy within a region that enables automatic failover.",
            "Represents if a group is replicating across regions. Checks for resources that are configured to have redundancy, and ongoing replication, across regions.",
            "Represents if the resource is available in multiple zones or not.",
            "Represents if a resource is available in multiple regions.",
            "Represents if a resource has a promotable replica.",
            "Represents if a resource has an automated backup policy.",
            "Represents if a resources has a short backup retention period.",
            "Represents if the last backup of a resource failed.",
            "Represents if the last backup of a resource is older than some threshold value.",
            "Represents if a resource violates CIS GCP Foundation 2.0.",
            "Represents if a resource violates CIS GCP Foundation 1.3.",
            "Represents if a resource violates CIS GCP Foundation 1.2.",
            "Represents if a resource violates CIS GCP Foundation 1.1.",
            "Represents if a resource violates CIS GCP Foundation 1.0.",
            "Represents if a resource violates CIS Controls 8.0.",
            "Represents if a resource violates NIST 800-53.",
            "Represents if a resource violates NIST 800-53 R5.",
            "Represents if a resource violates NIST Cybersecurity Framework 1.0.",
            "Represents if a resource violates ISO-27001.",
            "Represents if a resource violates ISO 27001 2022.",
            "Represents if a resource violates PCI-DSS v3.2.1.",
            "Represents if a resource violates PCI-DSS v4.0.",
            "Represents if a resource violates Cloud Controls Matrix v4.0.",
            "Represents if a resource violates HIPAA.",
            "Represents if a resource violates SOC2 v2017.",
            "Represents if log_checkpoints database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
            "Represents if the log_duration database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
            "Represents if the log_error_verbosity database flag for a Cloud SQL for PostgreSQL instance is not set to default or stricter (default or terse).",
            "Represents if the log_lock_waits database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
            "Represents if the log_min_error_statement database flag for a Cloud SQL for PostgreSQL instance is not set appropriately.",
            "Represents if the log_min_error_statement database flag for a Cloud SQL for PostgreSQL instance does not have an appropriate severity level.",
            "Represents if the log_min_messages database flag for a Cloud SQL for PostgreSQL instance is not set to warning or another recommended value.",
            "Represents if the databaseFlags property of instance metadata for the log_executor_status field is set to on.",
            "Represents if the log_hostname database flag for a Cloud SQL for PostgreSQL instance is not set to off.",
            "Represents if the log_parser_stats database flag for a Cloud SQL for PostgreSQL instance is not set to off.",
            "Represents if the log_planner_stats database flag for a Cloud SQL for PostgreSQL instance is not set to off.",
            "Represents if the log_statement database flag for a Cloud SQL for PostgreSQL instance is not set to DDL (all data definition statements).",
            "Represents if the log_statement_stats database flag for a Cloud SQL for PostgreSQL instance is not set to off.",
            "Represents if the log_temp_files database flag for a Cloud SQL for PostgreSQL instance is not set to \"0\". (NOTE: 0 = ON)",
            "Represents if the user connections database flag for a Cloud SQL for SQL Server instance is configured.",
            "Represents if the user options database flag for Cloud SQL SQL Server instance is configured or not.",
            "Represents if a resource is exposed to public access.",
            "Represents if a resources requires all incoming connections to use SSL or not.",
            "Represents if a Cloud SQL database has a password configured for the root account or not.",
            "Represents if a Cloud SQL database has a weak password configured for the root account.",
            "Represents if a SQL database instance is not encrypted with customer-managed encryption keys (CMEK).",
            "Represents if The contained database authentication database flag for a Cloud SQL for SQL Server instance is not set to off.",
            "Represents if the cross_db_ownership_chaining database flag for a Cloud SQL for SQL Server instance is not set to off.",
            "Represents if he external scripts enabled database flag for a Cloud SQL for SQL Server instance is not set to off.",
            "Represents if the local_infile database flag for a Cloud SQL for MySQL instance is not set to off.",
            "Represents if the log_connections database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
            "Represents if the log_disconnections database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
            "Represents if the log_min_duration_statement database flag for a Cloud SQL for PostgreSQL instance is not set to -1.",
            "Represents if the remote access database flag for a Cloud SQL for SQL Server instance is not set to off.",
            "Represents if the skip_show_database database flag for a Cloud SQL for MySQL instance is not set to on.",
            "Represents if the 3625 (trace flag) database flag for a Cloud SQL for SQL Server instance is not set to on.",
            "Represents if public IP is enabled.",
            "Represents Idle instance helps to reduce costs.",
            "Represents instances that are unnecessarily large for given workload.",
            "Represents high number of concurrently opened tables.",
            "Represents high table count close to SLA limit.",
            "Represents high number of unvacuumed transactions",
            "Represents need for more CPU and/or memory",
            "Represents out of disk.",
            "Represents server certificate is near expiry.",
            "Represents database auditing is disabled.",
            "Represents not restricted to authorized networks.",
            "Represents violate org policy restrict public ip.",
            "Cluster nearing quota limit",
            "No password policy set on resources",
            "Performance impact of connections settings",
            "Performance impact of temporary tables settings",
            "Performance impact of transaction logs settings",
            "Performance impact of high joins without indexes",
            "Detects events where a Cloud SQL superuser (postgres for PostgreSQL servers or root for MySQL users) writes to non-system tables.",
            "Detects events where a database user or role has been granted all privileges to a database, or to all tables, procedures, or functions in a schema.",
            "Detects if database instance data exported to a Cloud Storage bucket outside of the organization.",
            "Detects if database instance data exported to a Cloud Storage bucket that is owned by the organization and is publicly accessible.",
            "Detects if a database instance is using a weak password hash algorithm.",
            "Detects if a database instance has no user password policy set.",
            "Detects if a database instance/cluster has a hot node.",
            "Detects if a database instance has no point in time recovery enabled.",
            "Detects if a database instance/cluster is suspended.",
            "Detects that expensive commands are being run on a database instance impacting overall performance.",
            "Indicates that the instance does not have a maintenance policy configured.",
            "Deletion Protection Disabled for the resource",
            "Indicates that the instance has inefficient queries detected.",
            "Indicates that the instance has read intensive workload.",
            "Indicates that the instance is nearing memory limit.",
            "Indicates that the instance's max server memory is configured higher than the recommended value.",
            "Indicates that the database has large rows beyond the recommended limit.",
            "Heavy write pressure on the database rows.",
            "Heavy read pressure on the database rows.",
            "Encryption org policy not satisfied.",
            "Location org policy not satisfied.",
            "Outdated DB minor version.",
            "Schema not optimized.",
            "High number of idle connections.",
            "Replication delay.",
            "Outdated version.",
            "Outdated client.",
            "Databoost is disabled.",
            "Recommended maintenance policy.",
            "Resource version is in extended support.",
            "Change in performance KPIs.",
            "Database version nearing end of life.",
            "Indicates a high risk of maintenance downtime.",
            "Indicates both a low cache hit rate and a risk of maintenance downtime.",
            "Indicates that the resource is missing enhanced protection."
          ],
          "type": "string"
        },
        "additionalMetadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "Optional. Any other additional metadata specific to recommendation"
        }
      }
    },
    "SslConfig": {
      "id": "SslConfig",
      "type": "object",
      "properties": {
        "sslMode": {
          "enumDescriptions": [
            "SSL mode is not specified. Defaults to ENCRYPTED_ONLY.",
            "SSL connections are optional. CA verification not enforced.",
            "SSL connections are required. CA verification not enforced. Clients may use locally self-signed certificates (default psql client behavior).",
            "SSL connections are required. CA verification enforced. Clients must have certificates signed by a Cluster CA, for example, using GenerateClientCertificate.",
            "SSL connections are optional. CA verification not enforced.",
            "SSL connections are required. CA verification not enforced."
          ],
          "description": "Optional. SSL mode. Specifies client-server SSL/TLS connection behavior.",
          "enumDeprecated": [
            false,
            true,
            true,
            true,
            false,
            false
          ],
          "enum": [
            "SSL_MODE_UNSPECIFIED",
            "SSL_MODE_ALLOW",
            "SSL_MODE_REQUIRE",
            "SSL_MODE_VERIFY_CA",
            "ALLOW_UNENCRYPTED_AND_ENCRYPTED",
            "ENCRYPTED_ONLY"
          ],
          "type": "string"
        },
        "caSource": {
          "type": "string",
          "enumDescriptions": [
            "Certificate Authority (CA) source not specified. Defaults to CA_SOURCE_MANAGED.",
            "Certificate Authority (CA) managed by the AlloyDB Cluster."
          ],
          "description": "Optional. Certificate Authority (CA) source. Only CA_SOURCE_MANAGED is supported currently, and is the default value.",
          "enum": [
            "CA_SOURCE_UNSPECIFIED",
            "CA_SOURCE_MANAGED"
          ]
        }
      },
      "description": "SSL configuration."
    },
    "QuantityBasedExpiry": {
      "description": "A backup's position in a quantity-based retention queue, of backups with the same source cluster and type, with length, retention, specified by the backup's retention policy. Once the position is greater than the retention, the backup is eligible to be garbage collected. Example: 5 backups from the same source cluster and type with a quantity-based retention of 3 and denoted by backup_id (position, retention). Safe: backup_5 (1, 3), backup_4, (2, 3), backup_3 (3, 3). Awaiting garbage collection: backup_2 (4, 3), backup_1 (5, 3)",
      "id": "QuantityBasedExpiry",
      "type": "object",
      "properties": {
        "retentionCount": {
          "format": "int32",
          "description": "Output only. The backup's position among its backups with the same source cluster and type, by descending chronological order create time(i.e. newest first).",
          "readOnly": true,
          "type": "integer"
        },
        "totalRetentionCount": {
          "description": "Output only. The length of the quantity-based queue, specified by the backup's retention policy.",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "DataplexConfig": {
      "description": "Configuration for Dataplex integration.",
      "id": "DataplexConfig",
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Dataplex is enabled by default for resources such as clusters and instances. This flag controls the integration of AlloyDB PG resources (like databases, schemas, and tables) with Dataplex.\"",
          "type": "boolean"
        }
      }
    },
    "StorageDatabasecenterPartnerapiV1mainResourceFlags": {
      "id": "StorageDatabasecenterPartnerapiV1mainResourceFlags",
      "type": "object",
      "properties": {
        "key": {
          "type": "string",
          "description": "Optional. Key of the resource flag."
        },
        "value": {
          "description": "Optional. Value of the resource flag.",
          "type": "string"
        }
      },
      "description": "Message type for storing resource flags."
    },
    "GcsDestination": {
      "description": "Destination for Export. Export will be done to cloud storage.",
      "id": "GcsDestination",
      "type": "object",
      "properties": {
        "uri": {
          "description": "Required. The path to the file in Google Cloud Storage where the export will be stored. The URI is in the form `gs://bucketName/fileName`.",
          "type": "string"
        }
      }
    },
    "Stats": {
      "id": "Stats",
      "type": "object",
      "properties": {
        "notStarted": {
          "description": "Number of read pool instances for which upgrade has not started.",
          "format": "int32",
          "type": "integer"
        },
        "failed": {
          "type": "integer",
          "description": "Number of read pool instances which failed to upgrade.",
          "format": "int32"
        },
        "success": {
          "description": "Number of read pool instances successfully upgraded.",
          "format": "int32",
          "type": "integer"
        },
        "ongoing": {
          "type": "integer",
          "description": "Number of read pool instances undergoing upgrade.",
          "format": "int32"
        }
      },
      "description": "Upgrade stats for read pool instances."
    },
    "StorageDatabasecenterPartnerapiV1mainBackupConfiguration": {
      "id": "StorageDatabasecenterPartnerapiV1mainBackupConfiguration",
      "type": "object",
      "properties": {
        "automatedBackupEnabled": {
          "description": "Whether customer visible automated backups are enabled on the instance.",
          "type": "boolean"
        },
        "pointInTimeRecoveryEnabled": {
          "type": "boolean",
          "description": "Whether point-in-time recovery is enabled. This is optional field, if the database service does not have this feature or metadata is not available in control plane, this can be omitted."
        },
        "backupRetentionSettings": {
          "description": "Backup retention settings.",
          "$ref": "StorageDatabasecenterPartnerapiV1mainRetentionSettings"
        }
      },
      "description": "Configuration for automatic backups"
    },
    "SecondaryConfig": {
      "id": "SecondaryConfig",
      "type": "object",
      "properties": {
        "primaryClusterName": {
          "type": "string",
          "description": "The name of the primary cluster name with the format: * projects/{project}/locations/{region}/clusters/{cluster_id}"
        }
      },
      "description": "Configuration information for the secondary cluster. This should be set if and only if the cluster is of type SECONDARY."
    },
    "Cluster": {
      "description": "A cluster is a collection of regional AlloyDB resources. It can include a primary instance and one or more read pool instances. All cluster resources share a storage layer, which scales as needed.",
      "id": "Cluster",
      "type": "object",
      "properties": {
        "maintenanceVersionSelectionPolicy": {
          "enumDescriptions": [
            "The maintenance version selection policy is not specified.",
            "Use the latest available maintenance version.",
            "Use the current default maintenance version."
          ],
          "description": "Input only. Policy to use to automatically select the maintenance version to which to update the cluster's instances.",
          "enum": [
            "MAINTENANCE_VERSION_SELECTION_POLICY_UNSPECIFIED",
            "MAINTENANCE_VERSION_SELECTION_POLICY_LATEST",
            "MAINTENANCE_VERSION_SELECTION_POLICY_DEFAULT"
          ],
          "type": "string"
        },
        "networkConfig": {
          "$ref": "NetworkConfig"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Input only. Immutable. Tag keys/values directly bound to this resource. For example: ``` \"123/environment\": \"production\", \"123/costCenter\": \"marketing\" ```"
        },
        "network": {
          "type": "string",
          "deprecated": true,
          "description": "Required. The resource link for the VPC network in which cluster resources are created and from which they are accessible via Private IP. The network must belong to the same project as the cluster. It is specified in the form: `projects/{project}/global/networks/{network_id}`. This is required to create a cluster. Deprecated, use network_config.network instead."
        },
        "annotations": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Annotations to allow client tools to store small amount of arbitrary data. This is distinct from labels. https://google.aip.dev/128"
        },
        "encryptionConfig": {
          "$ref": "EncryptionConfig",
          "description": "Optional. The encryption config can be specified to encrypt the data disks and other persistent data resources of a cluster with a customer-managed encryption key (CMEK). When this field is not specified, the cluster will then use default encryption scheme to protect the user data."
        },
        "dataplexConfig": {
          "description": "Optional. Configuration for Dataplex integration.",
          "$ref": "DataplexConfig"
        },
        "serviceAccountEmail": {
          "type": "string",
          "description": "Output only. AlloyDB per-cluster service account. This service account is created per-cluster per-project, and is different from the per-project service account. The per-cluster service account naming format is subject to change.",
          "readOnly": true
        },
        "state": {
          "readOnly": true,
          "description": "Output only. The current serving state of the cluster.",
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "STOPPED",
            "EMPTY",
            "CREATING",
            "DELETING",
            "FAILED",
            "BOOTSTRAPPING",
            "MAINTENANCE",
            "PROMOTING",
            "SWITCHOVER",
            "RECREATING"
          ],
          "enumDescriptions": [
            "The state of the cluster is unknown.",
            "The cluster is active and running.",
            "This is unused. Even when all instances in the cluster are stopped, the cluster remains in READY state.",
            "The cluster is empty and has no associated resources. All instances, associated storage and backups have been deleted.",
            "The cluster is being created.",
            "The cluster is being deleted.",
            "The creation of the cluster failed.",
            "The cluster is bootstrapping with data from some other source. Direct mutations to the cluster (e.g. adding read pool) are not allowed.",
            "The cluster is under maintenance. AlloyDB regularly performs maintenance and upgrades on customer clusters. Updates on the cluster are not allowed while the cluster is in this state.",
            "The cluster is being promoted.",
            "The cluster has entered switchover state. All updates on cluster and its associated instances are restricted while the cluster is in this state.",
            "The cluster is being recreated."
          ],
          "type": "string"
        },
        "initialUser": {
          "description": "Input only. Initial user to setup during cluster creation. Required. If used in `RestoreCluster` this is ignored.",
          "$ref": "UserPassword"
        },
        "maintenanceSchedule": {
          "description": "Output only. The maintenance schedule for the cluster, generated for a specific rollout if a maintenance window is set.",
          "readOnly": true,
          "$ref": "MaintenanceSchedule"
        },
        "sslConfig": {
          "description": "SSL configuration for this AlloyDB cluster.",
          "$ref": "SslConfig",
          "deprecated": true
        },
        "maintenanceUpdatePolicy": {
          "$ref": "MaintenanceUpdatePolicy",
          "description": "Optional. The maintenance update policy determines when to allow or deny updates."
        },
        "continuousBackupConfig": {
          "description": "Optional. Continuous backup configuration for this cluster.",
          "$ref": "ContinuousBackupConfig"
        },
        "databaseVersion": {
          "description": "Optional. The database engine major version. This is an optional field and it is populated at the Cluster creation time. If a database version is not supplied at cluster creation time, then a default database version will be used.",
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            false,
            false
          ],
          "enum": [
            "DATABASE_VERSION_UNSPECIFIED",
            "POSTGRES_13",
            "POSTGRES_14",
            "POSTGRES_15",
            "POSTGRES_16",
            "POSTGRES_17",
            "POSTGRES_18"
          ],
          "enumDescriptions": [
            "This is an unknown database version.",
            "DEPRECATED - The database version is Postgres 13.",
            "The database version is Postgres 14.",
            "The database version is Postgres 15.",
            "The database version is Postgres 16.",
            "The database version is Postgres 17.",
            "The database version is Postgres 18."
          ],
          "type": "string"
        },
        "automatedBackupPolicy": {
          "$ref": "AutomatedBackupPolicy",
          "description": "The automated backup policy for this cluster. If no policy is provided then the default policy will be used. If backups are supported for the cluster, the default policy takes one backup a day, has a backup window of 1 hour, and retains backups for 14 days. For more information on the defaults, consult the documentation for the message type."
        },
        "subscriptionType": {
          "description": "Optional. Subscription type of the cluster.",
          "enum": [
            "SUBSCRIPTION_TYPE_UNSPECIFIED",
            "STANDARD",
            "TRIAL"
          ],
          "enumDescriptions": [
            "This is an unknown subscription type. By default, the subscription type is STANDARD.",
            "Standard subscription.",
            "Trial subscription."
          ],
          "type": "string"
        },
        "satisfiesPzs": {
          "description": "Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        },
        "cloudsqlBackupRunSource": {
          "$ref": "CloudSQLBackupRunSource",
          "description": "Output only. Cluster created from CloudSQL snapshot.",
          "readOnly": true
        },
        "uid": {
          "type": "string",
          "description": "Output only. The system-generated UID of the resource. The UID is assigned when the resource is created, and it is retained until it is deleted.",
          "readOnly": true
        },
        "labels": {
          "description": "Labels as key value pairs",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "backupdrInfo": {
          "$ref": "BackupDrInfo",
          "description": "Output only. Output only information about BackupDR protection for this cluster.",
          "readOnly": true
        },
        "geminiConfig": {
          "$ref": "GeminiClusterConfig",
          "deprecated": true,
          "description": "Optional. Deprecated and unused. This field will be removed in the near future."
        },
        "etag": {
          "type": "string",
          "description": "For Resource freshness validation (https://google.aip.dev/154)"
        },
        "clusterType": {
          "type": "string",
          "description": "Output only. The type of the cluster. This is an output-only field and it's populated at the Cluster creation time or the Cluster promotion time. The cluster type is determined by which RPC was used to create the cluster (i.e. `CreateCluster` vs. `CreateSecondaryCluster`",
          "enum": [
            "CLUSTER_TYPE_UNSPECIFIED",
            "PRIMARY",
            "SECONDARY"
          ],
          "enumDescriptions": [
            "The type of the cluster is unknown.",
            "Primary cluster that support read and write operations.",
            "Secondary cluster that is replicating from another region. This only supports read."
          ],
          "readOnly": true
        },
        "trialMetadata": {
          "$ref": "TrialMetadata",
          "description": "Output only. Metadata for free trial clusters",
          "readOnly": true
        },
        "migrationSource": {
          "$ref": "MigrationSource",
          "description": "Output only. Cluster created via DMS migration.",
          "readOnly": true
        },
        "name": {
          "description": "Output only. The name of the cluster resource with the format: * projects/{project}/locations/{region}/clusters/{cluster_id} where the cluster ID segment should satisfy the regex expression `[a-z0-9-]+`. For more details see https://google.aip.dev/122. The prefix of the cluster resource name is the name of the parent resource: * projects/{project}/locations/{region}",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. Update time stamp",
          "readOnly": true,
          "format": "google-datetime"
        },
        "pscConfig": {
          "description": "Optional. The configuration for Private Service Connect (PSC) for the cluster.",
          "$ref": "PscConfig"
        },
        "secondaryConfig": {
          "description": "Cross Region replication config specific to SECONDARY cluster.",
          "$ref": "SecondaryConfig"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Create time stamp",
          "readOnly": true,
          "type": "string"
        },
        "deleteTime": {
          "format": "google-datetime",
          "description": "Output only. Delete time stamp",
          "readOnly": true,
          "type": "string"
        },
        "reconciling": {
          "description": "Output only. Reconciling (https://google.aip.dev/128#reconciliation). Set to true if the current state of Cluster does not match the user's intended state, and the service is actively updating the resource to reconcile them. This can happen due to user-triggered updates or system actions like failover or maintenance.",
          "readOnly": true,
          "type": "boolean"
        },
        "displayName": {
          "description": "User-settable and human-readable display name for the Cluster.",
          "type": "string"
        },
        "continuousBackupInfo": {
          "description": "Output only. Continuous backup properties for this cluster.",
          "readOnly": true,
          "$ref": "ContinuousBackupInfo"
        },
        "backupSource": {
          "description": "Output only. Cluster created from backup.",
          "readOnly": true,
          "$ref": "BackupSource"
        },
        "primaryConfig": {
          "$ref": "PrimaryConfig",
          "description": "Output only. Cross Region replication config specific to PRIMARY cluster.",
          "readOnly": true
        },
        "backupdrBackupSource": {
          "$ref": "BackupDrBackupSource",
          "description": "Output only. Cluster created from a BackupDR backup.",
          "readOnly": true
        },
        "encryptionInfo": {
          "description": "Output only. The encryption information for the cluster.",
          "readOnly": true,
          "$ref": "EncryptionInfo"
        }
      }
    },
    "StorageDatabasecenterPartnerapiV1mainMachineConfiguration": {
      "id": "StorageDatabasecenterPartnerapiV1mainMachineConfiguration",
      "type": "object",
      "properties": {
        "maxReservationSlots": {
          "type": "string",
          "description": "Optional. Max slots for BigQuery Reservations. Max slots are in increments of 50.",
          "format": "int64"
        },
        "cpuCount": {
          "type": "integer",
          "deprecated": true,
          "format": "int32",
          "description": "The number of CPUs. Deprecated. Use vcpu_count instead. TODO(b/342344482) add proto validations again after bug fix."
        },
        "memorySizeInBytes": {
          "description": "Memory size in bytes. TODO(b/342344482) add proto validations again after bug fix.",
          "format": "int64",
          "type": "string"
        },
        "vcpuCount": {
          "format": "double",
          "description": "Optional. The number of vCPUs. TODO(b/342344482) add proto validations again after bug fix.",
          "type": "number"
        },
        "baselineSlots": {
          "type": "string",
          "description": "Optional. Baseline slots for BigQuery Reservations. Baseline slots are in increments of 50.",
          "format": "int64"
        },
        "shardCount": {
          "type": "integer",
          "description": "Optional. Number of shards (if applicable).",
          "format": "int32"
        }
      },
      "description": "MachineConfiguration describes the configuration of a machine specific to Database Resource."
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "type": "object",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        },
        "operations": {
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "description": "The response message for Operations.ListOperations."
    },
    "ListClustersResponse": {
      "description": "Message for response to listing Clusters",
      "id": "ListClustersResponse",
      "type": "object",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "clusters": {
          "items": {
            "$ref": "Cluster"
          },
          "description": "The list of Cluster",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      }
    },
    "StageInfo": {
      "description": "Stage information for different stages in the upgrade process.",
      "id": "StageInfo",
      "type": "object",
      "properties": {
        "stage": {
          "type": "string",
          "description": "The stage.",
          "enum": [
            "STAGE_UNSPECIFIED",
            "ALLOYDB_PRECHECK",
            "PG_UPGRADE_CHECK",
            "PREPARE_FOR_UPGRADE",
            "PRIMARY_INSTANCE_UPGRADE",
            "READ_POOL_INSTANCES_UPGRADE",
            "ROLLBACK",
            "CLEANUP"
          ],
          "enumDescriptions": [
            "Unspecified stage.",
            "Pre-upgrade custom checks, not covered by pg_upgrade.",
            "Pre-upgrade pg_upgrade checks.",
            "Clone the original cluster.",
            "Upgrade the primary instance(downtime).",
            "This stage is read pool upgrade.",
            "Rollback in case of critical failures.",
            "Cleanup."
          ]
        },
        "status": {
          "description": "Status of the stage.",
          "enum": [
            "STATUS_UNSPECIFIED",
            "NOT_STARTED",
            "IN_PROGRESS",
            "SUCCESS",
            "FAILED",
            "PARTIAL_SUCCESS",
            "CANCEL_IN_PROGRESS",
            "CANCELLED"
          ],
          "enumDescriptions": [
            "Unspecified status.",
            "Not started.",
            "In progress.",
            "Operation succeeded.",
            "Operation failed.",
            "Operation partially succeeded.",
            "Cancel is in progress.",
            "Cancellation complete."
          ],
          "type": "string"
        },
        "logsUrl": {
          "description": "logs_url is the URL for the logs associated with a stage if that stage has logs. Right now, only three stages have logs: ALLOYDB_PRECHECK, PG_UPGRADE_CHECK, PRIMARY_INSTANCE_UPGRADE.",
          "type": "string"
        }
      }
    },
    "TimeBasedRetention": {
      "id": "TimeBasedRetention",
      "type": "object",
      "properties": {
        "retentionPeriod": {
          "type": "string",
          "format": "google-duration",
          "description": "The retention period."
        }
      },
      "description": "A time based retention policy specifies that all backups within a certain time period should be retained."
    },
    "BackupSource": {
      "description": "Message describing a BackupSource.",
      "id": "BackupSource",
      "type": "object",
      "properties": {
        "backupUid": {
          "type": "string",
          "description": "Output only. The system-generated UID of the backup which was used to create this resource. The UID is generated when the backup is created, and it is retained until the backup is deleted.",
          "readOnly": true
        },
        "backupName": {
          "type": "string",
          "description": "Required. The name of the backup resource with the format: * projects/{project}/locations/{region}/backups/{backup_id}"
        }
      }
    },
    "MaintenanceWindow": {
      "id": "MaintenanceWindow",
      "type": "object",
      "properties": {
        "day": {
          "type": "string",
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "description": "Preferred day of the week for maintenance, e.g. MONDAY, TUESDAY, etc.",
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ]
        },
        "startTime": {
          "$ref": "GoogleTypeTimeOfDay",
          "description": "Preferred time to start the maintenance operation on the specified day. Maintenance will start within 1 hour of this time."
        }
      },
      "description": "MaintenanceWindow specifies a preferred day and time for maintenance."
    },
    "GeminiClusterConfig": {
      "description": "Deprecated and unused. This message will be removed in the near future.",
      "id": "GeminiClusterConfig",
      "type": "object",
      "properties": {
        "entitled": {
          "description": "Output only. Deprecated and unused. This field will be removed in the near future.",
          "readOnly": true,
          "deprecated": true,
          "type": "boolean"
        }
      }
    },
    "StorageDatabasecenterPartnerapiV1mainDatabaseResourceId": {
      "id": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceId",
      "type": "object",
      "properties": {
        "providerDescription": {
          "type": "string",
          "description": "Optional. Needs to be used only when the provider is PROVIDER_OTHER."
        },
        "provider": {
          "type": "string",
          "description": "Required. Cloud provider name. Ex: GCP/AWS/Azure/OnPrem/SelfManaged",
          "enum": [
            "PROVIDER_UNSPECIFIED",
            "GCP",
            "AWS",
            "AZURE",
            "ONPREM",
            "SELFMANAGED",
            "PROVIDER_OTHER"
          ],
          "enumDescriptions": [
            "Unspecified provider.",
            "Google cloud platform provider",
            "Amazon web service",
            "Azure web service",
            "On-prem database resources.",
            "Self-managed database provider. These are resources on a cloud platform, e.g., database resource installed in a GCE VM, but not a managed database service.",
            "For the rest of the other categories. Other refers to the rest of other database service providers, this could be smaller cloud provider. This needs to be provided when the provider is known, but it is not present in the existing set of enum values."
          ]
        },
        "uniqueId": {
          "type": "string",
          "description": "Required. A service-local token that distinguishes this resource from other resources within the same service."
        },
        "resourceType": {
          "type": "string",
          "description": "Required. The type of resource this ID is identifying. Ex go/keep-sorted start alloydb.googleapis.com/Cluster, alloydb.googleapis.com/Instance, bigtableadmin.googleapis.com/Cluster, bigtableadmin.googleapis.com/Instance compute.googleapis.com/Instance firestore.googleapis.com/Database, memorystore.googleapis.com/Instance, redis.googleapis.com/Instance, redis.googleapis.com/Cluster, oracledatabase.googleapis.com/CloudExadataInfrastructure oracledatabase.googleapis.com/CloudVmCluster oracledatabase.googleapis.com/AutonomousDatabase spanner.googleapis.com/Instance, spanner.googleapis.com/Database, sqladmin.googleapis.com/Instance, go/keep-sorted end REQUIRED Please refer go/condor-common-datamodel"
        }
      },
      "description": "DatabaseResourceId will serve as primary key for any resource ingestion event."
    },
    "PscAutoConnectionConfig": {
      "id": "PscAutoConnectionConfig",
      "type": "object",
      "properties": {
        "ipAddress": {
          "type": "string",
          "description": "Output only. The IP address of the PSC service automation endpoint.",
          "readOnly": true
        },
        "consumerNetwork": {
          "type": "string",
          "description": "The consumer network for the PSC service automation, example: \"projects/vpc-host-project/global/networks/default\". The consumer network might be hosted a different project than the consumer project."
        },
        "status": {
          "type": "string",
          "description": "Output only. The status of the PSC service automation connection. Possible values: \"STATE_UNSPECIFIED\" - An invalid state as the default case. \"ACTIVE\" - The connection has been created successfully. \"FAILED\" - The connection is not functional since some resources on the connection fail to be created. \"CREATING\" - The connection is being created. \"DELETING\" - The connection is being deleted. \"CREATE_REPAIRING\" - The connection is being repaired to complete creation. \"DELETE_REPAIRING\" - The connection is being repaired to complete deletion.",
          "readOnly": true
        },
        "consumerNetworkStatus": {
          "description": "Output only. The status of the service connection policy. Possible values: \"STATE_UNSPECIFIED\" - Default state, when Connection Map is created initially. \"VALID\" - Set when policy and map configuration is valid, and their matching can lead to allowing creation of PSC Connections subject to other constraints like connections limit. \"CONNECTION_POLICY_MISSING\" - No Service Connection Policy found for this network and Service Class \"POLICY_LIMIT_REACHED\" - Service Connection Policy limit reached for this network and Service Class \"CONSUMER_INSTANCE_PROJECT_NOT_ALLOWLISTED\" - The consumer instance project is not in AllowedGoogleProducersResourceHierarchyLevels of the matching ServiceConnectionPolicy.",
          "readOnly": true,
          "type": "string"
        },
        "consumerProject": {
          "description": "The consumer project to which the PSC service automation endpoint will be created.",
          "type": "string"
        }
      },
      "description": "Configuration for setting up PSC service automation. Consumer projects in the configs will be allowlisted automatically for the instance."
    },
    "GeminiInstanceConfig": {
      "id": "GeminiInstanceConfig",
      "type": "object",
      "properties": {
        "entitled": {
          "description": "Output only. Deprecated and unused. This field will be removed in the near future.",
          "readOnly": true,
          "type": "boolean",
          "deprecated": true
        }
      },
      "description": "Deprecated and unused. This message will be removed in the near future."
    },
    "StorageDatabasecenterPartnerapiV1mainInternalResourceMetadata": {
      "description": "Metadata for individual internal resources in an instance. e.g. spanner instance can have multiple databases with unique configuration settings. Similarly bigtable can have multiple clusters within same bigtable instance.",
      "id": "StorageDatabasecenterPartnerapiV1mainInternalResourceMetadata",
      "type": "object",
      "properties": {
        "resourceId": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceId"
        },
        "isDeletionProtectionEnabled": {
          "description": "Whether deletion protection is enabled for this internal resource.",
          "type": "boolean"
        },
        "resourceName": {
          "description": "Required. internal resource name for spanner this will be database name e.g.\"spanner.googleapis.com/projects/123/abc/instances/inst1/databases/db1\"",
          "type": "string"
        },
        "backupConfiguration": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainBackupConfiguration",
          "description": "Backup configuration for this database"
        },
        "product": {
          "$ref": "StorageDatabasecenterProtoCommonProduct",
          "description": "The product this resource represents."
        },
        "backupRun": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainBackupRun",
          "description": "Information about the last backup attempt for this database"
        }
      }
    },
    "BackupDrEnabledWindow": {
      "description": "Information about a single window when BackupDR was enabled for this cluster.",
      "id": "BackupDrEnabledWindow",
      "type": "object",
      "properties": {
        "disabledTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time when the BackupDR protection for this cluster was disabled. This field will be empty if this BackupDR window is the `current_window`."
        },
        "continuousBackupPreviouslyEnabled": {
          "description": "Whether continuous backup was previously enabled prior to enabling BackupDR protection for this cluster.",
          "type": "boolean"
        },
        "automatedBackupPreviouslyEnabled": {
          "description": "Whether automated backup was previously enabled prior to enabling BackupDR protection for this cluster.",
          "type": "boolean"
        },
        "enabledTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time when the BackupDR protection for this cluster was enabled."
        },
        "continuousBackupPreviousRecoveryWindowDays": {
          "type": "integer",
          "format": "int32",
          "description": "The retention set for the continuous backup that was previously enabled prior to enabling BackupDR protection for this cluster."
        },
        "logRetentionPeriod": {
          "format": "google-duration",
          "description": "The retention period for logs generated by BackupDR for this cluster.",
          "type": "string"
        },
        "backupPlanAssociation": {
          "description": "The BackupPlanAssociation resource that was used to enable BackupDR protection for this cluster.",
          "type": "string"
        },
        "dataSource": {
          "description": "The DataSource resource that represents the cluster in BackupDR.",
          "type": "string"
        },
        "continuousBackupPreviouslyEnabledTime": {
          "description": "The time when continuous backup was previously enabled prior to enabling BackupDR protection for this cluster.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "ImportClusterRequest": {
      "id": "ImportClusterRequest",
      "type": "object",
      "properties": {
        "database": {
          "description": "Optional. Name of the database to which the import will be done. For import from SQL file, this is required only if the file does not specify a database. Note - Value provided should be the same as expected from `SELECT current_database();` and NOT as a resource reference.",
          "type": "string"
        },
        "gcsUri": {
          "type": "string",
          "description": "Required. The path to the file in Google Cloud Storage where the source file for import will be stored. The URI is in the form `gs://bucketName/fileName`."
        },
        "user": {
          "description": "Optional. Database user to be used for importing the data. Note - Value provided should be the same as expected from `SELECT current_user;` and NOT as a resource reference.",
          "type": "string"
        },
        "sqlImportOptions": {
          "$ref": "SqlImportOptions",
          "description": "Options for importing data in SQL format."
        },
        "csvImportOptions": {
          "$ref": "CsvImportOptions",
          "description": "Options for importing data in CSV format."
        }
      },
      "description": "Import cluster request."
    },
    "ReadPoolConfig": {
      "id": "ReadPoolConfig",
      "type": "object",
      "properties": {
        "nodeCount": {
          "format": "int32",
          "description": "Read capacity, i.e. number of nodes in a read pool instance.",
          "type": "integer"
        },
        "autoScalingConfig": {
          "description": "Autoscaling configuration for the read pool instance. If not set, the read pool instance will not be autoscaled.",
          "$ref": "AutoScalingConfig"
        }
      },
      "description": "Configuration for a read pool instance."
    },
    "ClientConnectionConfig": {
      "description": "Client connection configuration",
      "id": "ClientConnectionConfig",
      "type": "object",
      "properties": {
        "requireConnectors": {
          "type": "boolean",
          "description": "Optional. Configuration to enforce connectors only (ex: AuthProxy) connections to the database."
        },
        "sslConfig": {
          "$ref": "SslConfig",
          "description": "Optional. SSL configuration option for this instance."
        }
      }
    },
    "StorageDatabasecenterPartnerapiV1mainUpcomingMaintenance": {
      "description": "Upcoming maintenance for the database resource. This is generated by SLM once the upcoming maintenance schedule is published.",
      "id": "StorageDatabasecenterPartnerapiV1mainUpcomingMaintenance",
      "type": "object",
      "properties": {
        "endTime": {
          "type": "string",
          "description": "Optional. The end time of the upcoming maintenance.",
          "format": "google-datetime"
        },
        "startTime": {
          "format": "google-datetime",
          "description": "Optional. The start time of the upcoming maintenance.",
          "type": "string"
        }
      }
    },
    "StorageDatabasecenterPartnerapiV1mainResourceMaintenanceSchedule": {
      "description": "Maintenance window for the database resource. It specifies preferred time and day of the week and phase in some cases, when the maintenance can start. This is configured by the customer.",
      "id": "StorageDatabasecenterPartnerapiV1mainResourceMaintenanceSchedule",
      "type": "object",
      "properties": {
        "time": {
          "description": "Optional. Preferred time to start the maintenance operation on the specified day.",
          "$ref": "GoogleTypeTimeOfDay"
        },
        "phase": {
          "description": "Optional. Phase of the maintenance window. This is to capture order of maintenance. For example, for Cloud SQL resources, this can be used to capture if the maintenance window is in Week1, Week2, Week5, etc. Non production resources are usually part of early phase. For more details, refer to Cloud SQL resources - https://cloud.google.com/sql/docs/mysql/maintenance",
          "enum": [
            "PHASE_UNSPECIFIED",
            "ANY",
            "WEEK1",
            "WEEK2",
            "WEEK5"
          ],
          "enumDescriptions": [
            "Phase is unspecified.",
            "Any phase.",
            "Week 1.",
            "Week 2.",
            "Week 5."
          ],
          "type": "string"
        },
        "day": {
          "type": "string",
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "description": "Optional. Preferred day of the week for maintenance, e.g. MONDAY, TUESDAY, etc.",
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ]
        }
      }
    },
    "EncryptionInfo": {
      "description": "EncryptionInfo describes the encryption information of a cluster or a backup.",
      "id": "EncryptionInfo",
      "type": "object",
      "properties": {
        "encryptionType": {
          "description": "Output only. Type of encryption.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "GOOGLE_DEFAULT_ENCRYPTION",
            "CUSTOMER_MANAGED_ENCRYPTION"
          ],
          "enumDescriptions": [
            "Encryption type not specified. Defaults to GOOGLE_DEFAULT_ENCRYPTION.",
            "The data is encrypted at rest with a key that is fully managed by Google. No key version will be populated. This is the default state.",
            "The data is encrypted at rest with a key that is managed by the customer. KMS key versions will be populated."
          ],
          "type": "string",
          "readOnly": true
        },
        "kmsKeyVersions": {
          "description": "Output only. Cloud KMS key versions that are being used to protect the database or the backup.",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "StringRestrictions": {
      "description": "Restrictions on STRING type values",
      "id": "StringRestrictions",
      "type": "object",
      "properties": {
        "allowedValues": {
          "description": "The list of allowed values, if bounded. This field will be empty if there is a unbounded number of allowed values.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "BackupDrBackupSource": {
      "description": "Message describing a BackupDrBackupSource.",
      "id": "BackupDrBackupSource",
      "type": "object",
      "properties": {
        "backup": {
          "type": "string",
          "description": "Required. The name of the backup resource with the format: * projects/{project}/locations/{location}/backupVaults/{backupvault_id}/dataSources/{datasource_id}/backups/{backup_id}"
        }
      }
    },
    "PrimaryConfig": {
      "id": "PrimaryConfig",
      "type": "object",
      "properties": {
        "secondaryClusterNames": {
          "type": "array",
          "description": "Output only. Names of the clusters that are replicating from this cluster.",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Configuration for the primary cluster. It has the list of clusters that are replicating from this cluster. This should be set if and only if the cluster is of type PRIMARY."
    },
    "StorageDatabasecenterPartnerapiV1mainCustomMetadataData": {
      "id": "StorageDatabasecenterPartnerapiV1mainCustomMetadataData",
      "type": "object",
      "properties": {
        "internalResourceMetadata": {
          "type": "array",
          "items": {
            "$ref": "StorageDatabasecenterPartnerapiV1mainInternalResourceMetadata"
          },
          "description": "Metadata for individual internal resources in an instance. e.g. spanner instance can have multiple databases with unique configuration."
        }
      },
      "description": "Any custom metadata associated with the resource. e.g. A spanner instance can have multiple databases with its own unique metadata. Information for these individual databases can be captured in custom metadata data"
    },
    "StorageDatabasecenterPartnerapiV1mainDatabaseResourceMetadata": {
      "id": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceMetadata",
      "type": "object",
      "properties": {
        "currentState": {
          "description": "Current state of the instance.",
          "enum": [
            "STATE_UNSPECIFIED",
            "HEALTHY",
            "UNHEALTHY",
            "SUSPENDED",
            "DELETED",
            "STATE_OTHER",
            "STOPPED"
          ],
          "enumDescriptions": [
            "",
            "The instance is running.",
            "Instance being created, updated, deleted or under maintenance",
            "When instance is suspended",
            "Instance is deleted.",
            "For rest of the other category",
            "Instance is in STOPPED state."
          ],
          "type": "string"
        },
        "instanceType": {
          "type": "string",
          "description": "The type of the instance. Specified at creation time.",
          "enumDeprecated": [
            true,
            false,
            true,
            true,
            true,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "enum": [
            "INSTANCE_TYPE_UNSPECIFIED",
            "SUB_RESOURCE_TYPE_UNSPECIFIED",
            "PRIMARY",
            "SECONDARY",
            "READ_REPLICA",
            "OTHER",
            "SUB_RESOURCE_TYPE_PRIMARY",
            "SUB_RESOURCE_TYPE_SECONDARY",
            "SUB_RESOURCE_TYPE_READ_REPLICA",
            "SUB_RESOURCE_TYPE_EXTERNAL_PRIMARY",
            "SUB_RESOURCE_TYPE_READ_POOL",
            "SUB_RESOURCE_TYPE_RESERVATION",
            "SUB_RESOURCE_TYPE_DATASET",
            "SUB_RESOURCE_TYPE_OTHER"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "For rest of the other categories.",
            "A regular primary database instance.",
            "A cluster or an instance acting as a secondary.",
            "An instance acting as a read-replica.",
            "For rest of the other categories.",
            "A regular primary database instance.",
            "A cluster or an instance acting as a secondary.",
            "An instance acting as a read-replica.",
            "An instance acting as an external primary.",
            "An instance acting as Read Pool.",
            "Represents a reservation resource.",
            "Represents a dataset resource.",
            "For rest of the other categories."
          ]
        },
        "location": {
          "description": "The resource location. REQUIRED",
          "type": "string"
        },
        "creationTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The creation time of the resource, i.e. the time when resource is created and recorded in partner service."
        },
        "availabilityConfiguration": {
          "description": "Availability configuration for this instance",
          "$ref": "StorageDatabasecenterPartnerapiV1mainAvailabilityConfiguration"
        },
        "resourceFlags": {
          "type": "array",
          "description": "Optional. List of resource flags for the database resource.",
          "items": {
            "$ref": "StorageDatabasecenterPartnerapiV1mainResourceFlags"
          }
        },
        "backupConfiguration": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainBackupConfiguration",
          "description": "Backup configuration for this instance"
        },
        "modes": {
          "items": {
            "type": "string",
            "enum": [
              "MODE_UNSPECIFIED",
              "MODE_NATIVE",
              "MODE_MONGODB_COMPATIBLE",
              "MODE_DATASTORE",
              "MODE_CLUSTER_ENABLED",
              "MODE_CLUSTER_DISABLED"
            ],
            "enumDescriptions": [
              "Default mode.",
              "Native mode.",
              "MongoDB compatible mode.",
              "Datastore mode.",
              "Memorystore/ValKey: Cluster enabled mode.",
              "Memorystore/ValKey: Cluster disabled mode."
            ]
          },
          "description": "Optional. The modes of the database resource.",
          "type": "array"
        },
        "expectedState": {
          "type": "string",
          "enumDescriptions": [
            "",
            "The instance is running.",
            "Instance being created, updated, deleted or under maintenance",
            "When instance is suspended",
            "Instance is deleted.",
            "For rest of the other category",
            "Instance is in STOPPED state."
          ],
          "description": "The state that the instance is expected to be in. For example, an instance state can transition to UNHEALTHY due to wrong patch update, while the expected state will remain at the HEALTHY.",
          "enum": [
            "STATE_UNSPECIFIED",
            "HEALTHY",
            "UNHEALTHY",
            "SUSPENDED",
            "DELETED",
            "STATE_OTHER",
            "STOPPED"
          ]
        },
        "product": {
          "description": "The product this resource represents.",
          "$ref": "StorageDatabasecenterProtoCommonProduct"
        },
        "resourceName": {
          "type": "string",
          "description": "Required. Different from DatabaseResourceId.unique_id, a resource name can be reused over time. That is, after a resource named \"ABC\" is deleted, the name \"ABC\" can be used to to create a new resource within the same source. Resource name to follow CAIS resource_name format as noted here go/condor-common-datamodel"
        },
        "machineConfiguration": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainMachineConfiguration",
          "description": "Machine configuration for this resource."
        },
        "primaryResourceLocation": {
          "description": "Primary resource location. REQUIRED if the immediate parent exists when first time resource is getting ingested, otherwise optional.",
          "type": "string"
        },
        "tagsSet": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainTags",
          "description": "Optional. Tags associated with this resources."
        },
        "internalAdditionalMetadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "Field to ingest additional metadata which support proto format."
        },
        "gcbdrConfiguration": {
          "deprecated": true,
          "$ref": "StorageDatabasecenterPartnerapiV1mainGCBDRConfiguration",
          "description": "GCBDR configuration for the resource."
        },
        "backupRun": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainBackupRun",
          "description": "Latest backup run information for this instance"
        },
        "customMetadata": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainCustomMetadataData",
          "description": "Any custom metadata associated with the resource"
        },
        "entitlements": {
          "description": "Entitlements associated with the resource",
          "items": {
            "$ref": "StorageDatabasecenterPartnerapiV1mainEntitlement"
          },
          "type": "array"
        },
        "primaryResourceId": {
          "description": "Identifier for this resource's immediate parent/primary resource if the current resource is a replica or derived form of another Database resource. Else it would be NULL. REQUIRED if the immediate parent exists when first time resource is getting ingested, otherwise optional.",
          "$ref": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceId"
        },
        "backupdrConfiguration": {
          "description": "Optional. BackupDR Configuration for the resource.",
          "$ref": "StorageDatabasecenterPartnerapiV1mainBackupDRConfiguration"
        },
        "id": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceId",
          "description": "Required. Unique identifier for a Database resource"
        },
        "userLabelSet": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainUserLabels",
          "description": "User-provided labels associated with the resource"
        },
        "updationTime": {
          "type": "string",
          "description": "The time at which the resource was updated and recorded at partner service.",
          "format": "google-datetime"
        },
        "isDeletionProtectionEnabled": {
          "type": "boolean",
          "description": "Optional. Whether deletion protection is enabled for this resource."
        },
        "zone": {
          "type": "string",
          "description": "The resource zone. This is only applicable for zonal resources and will be empty for regional and multi-regional resources."
        },
        "suspensionReason": {
          "description": "Optional. Suspension reason for the resource.",
          "enum": [
            "SUSPENSION_REASON_UNSPECIFIED",
            "WIPEOUT_HIDE_EVENT",
            "WIPEOUT_PURGE_EVENT",
            "BILLING_DISABLED",
            "ABUSER_DETECTED",
            "ENCRYPTION_KEY_INACCESSIBLE",
            "REPLICATED_CLUSTER_ENCRYPTION_KEY_INACCESSIBLE"
          ],
          "enumDescriptions": [
            "Suspension reason is unspecified.",
            "Wipeout hide event.",
            "Wipeout purge event.",
            "Billing disabled for project",
            "Abuse detected for resource",
            "Encryption key inaccessible.",
            "Replicated cluster encryption key inaccessible."
          ],
          "type": "string"
        },
        "additionalMetadata": {
          "description": "Field to ingest additional metadata whichd does not support proto format.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "edition": {
          "type": "string",
          "enumDescriptions": [
            "Default, to make it consistent with instance edition enum.",
            "Represents the enterprise edition.",
            "Represents the enterprise plus edition.",
            "Represents the standard edition."
          ],
          "description": "Optional. Edition represents whether the instance is ENTERPRISE or ENTERPRISE_PLUS. This information is core to Cloud SQL only and is used to identify the edition of the instance.",
          "enum": [
            "EDITION_UNSPECIFIED",
            "EDITION_ENTERPRISE",
            "EDITION_ENTERPRISE_PLUS",
            "EDITION_STANDARD"
          ]
        },
        "ipAddress": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainIpAddress",
          "description": "Optional. Private and public IP address of the resource."
        },
        "resourceContainer": {
          "description": "Closest parent Cloud Resource Manager container of this resource. It must be resource name of a Cloud Resource Manager project with the format of \"/\", such as \"projects/123\". For GCP provided resources, number should be project number.",
          "type": "string"
        },
        "maintenanceInfo": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainResourceMaintenanceInfo",
          "description": "Optional. Maintenance info for the resource."
        }
      },
      "description": "Common model for database resource instance metadata. Next ID: 35"
    },
    "ListBackupsResponse": {
      "description": "Message for response to listing Backups",
      "id": "ListBackupsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "backups": {
          "type": "array",
          "items": {
            "$ref": "Backup"
          },
          "description": "The list of Backup"
        }
      }
    },
    "QuantityBasedRetention": {
      "id": "QuantityBasedRetention",
      "type": "object",
      "properties": {
        "count": {
          "format": "int32",
          "description": "The number of backups to retain.",
          "type": "integer"
        }
      },
      "description": "A quantity based policy specifies that a certain number of the most recent successful backups should be retained."
    },
    "AutoScalingConfig": {
      "id": "AutoScalingConfig",
      "type": "object",
      "properties": {
        "policy": {
          "description": "Policy for the MIG autoscaler.",
          "$ref": "Policy"
        },
        "schedules": {
          "type": "array",
          "items": {
            "$ref": "Schedule"
          },
          "description": "Optional list of schedules for the MIG autoscaler. If not set, no schedules are created."
        }
      },
      "description": "Configuration for autoscaling."
    },
    "Backup": {
      "description": "Message describing Backup object",
      "id": "Backup",
      "type": "object",
      "properties": {
        "clusterDeleted": {
          "description": "Output only. Set to true if the cluster corresponding to this backup is deleted. This field is only populated for when using the BACKUP_VIEW_CLUSTER_DELETED view.",
          "readOnly": true,
          "type": "boolean"
        },
        "encryptionInfo": {
          "$ref": "EncryptionInfo",
          "description": "Output only. The encryption information for the backup.",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Create time stamp",
          "readOnly": true
        },
        "deleteTime": {
          "type": "string",
          "description": "Output only. Delete time stamp",
          "readOnly": true,
          "format": "google-datetime"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. Update time stamp Users should not infer any meaning from this field. Its value is generally unrelated to the timing of the backup creation operation.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "reconciling": {
          "description": "Output only. Reconciling (https://google.aip.dev/128#reconciliation), if true, indicates that the service is actively updating the resource. This can happen due to user-triggered updates or system actions like failover or maintenance.",
          "readOnly": true,
          "type": "boolean"
        },
        "displayName": {
          "type": "string",
          "description": "User-settable and human-readable display name for the Backup."
        },
        "name": {
          "description": "Output only. The name of the backup resource with the format: * projects/{project}/locations/{region}/backups/{backup_id} where the cluster and backup ID segments should satisfy the regex expression `[a-z]([a-z0-9-]{0,61}[a-z0-9])?`, e.g. 1-63 characters of lowercase letters, numbers, and dashes, starting with a letter, and ending with a letter or number. For more details see https://google.aip.dev/122. The prefix of the backup resource name is the name of the parent resource: * projects/{project}/locations/{region}",
          "readOnly": true,
          "type": "string"
        },
        "clusterName": {
          "type": "string",
          "description": "Required. The full resource name of the backup source cluster (e.g., projects/{project}/locations/{region}/clusters/{cluster_id})."
        },
        "description": {
          "type": "string",
          "description": "User-provided description of the backup."
        },
        "type": {
          "enumDescriptions": [
            "Backup Type is unknown.",
            "ON_DEMAND backups that were triggered by the customer (e.g., not AUTOMATED).",
            "AUTOMATED backups triggered by the automated backups scheduler pursuant to an automated backup policy.",
            "CONTINUOUS backups triggered by the automated backups scheduler due to a continuous backup policy."
          ],
          "description": "The backup type, which suggests the trigger for the backup.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "ON_DEMAND",
            "AUTOMATED",
            "CONTINUOUS"
          ],
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "For Resource freshness validation (https://google.aip.dev/154)"
        },
        "uid": {
          "type": "string",
          "description": "Output only. The system-generated UID of the resource. The UID is assigned when the resource is created, and it is retained until it is deleted.",
          "readOnly": true
        },
        "labels": {
          "description": "Labels as key value pairs",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "sizeBytes": {
          "type": "string",
          "format": "int64",
          "description": "Output only. The size of the backup in bytes.",
          "readOnly": true
        },
        "databaseVersion": {
[...]
