{
  "ownerName": "Google",
  "protocol": "rest",
  "ownerDomain": "google.com",
  "id": "alloydb:v1alpha",
  "discoveryVersion": "v1",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "mtlsRootUrl": "https://alloydb.mtls.googleapis.com/",
  "batchPath": "batch",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "title": "AlloyDB API",
  "basePath": "",
  "schemas": {
    "FailoverInstanceRequest": {
      "properties": {
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server ignores the request if it has already been completed. The server guarantees that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if the original operation with the same request ID was received, and if so, ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        },
        "validateOnly": {
          "description": "Optional. If set, performs request validation, for example, permission checks and any other type of validation, but does not actually execute the create request.",
          "type": "boolean"
        }
      },
      "id": "FailoverInstanceRequest",
      "description": "Message for triggering failover on an Instance",
      "type": "object"
    },
    "ContinuousBackupSource": {
      "description": "Message describing a ContinuousBackupSource.",
      "properties": {
        "cluster": {
          "description": "Required. The source cluster from which to restore. This cluster must have continuous backup enabled for this operation to succeed. For the required format, see the comment on the Cluster.name field.",
          "type": "string"
        },
        "pointInTime": {
          "description": "Required. The point in time to restore to.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "ContinuousBackupSource",
      "type": "object"
    },
    "IntegerRestrictions": {
      "type": "object",
      "properties": {
        "maxValue": {
          "description": "The maximum value that can be specified, if applicable.",
          "type": "string",
          "format": "int64"
        },
        "minValue": {
          "type": "string",
          "format": "int64",
          "description": "The minimum value that can be specified, if applicable."
        }
      },
      "description": "Restrictions on INTEGER type values.",
      "id": "IntegerRestrictions"
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "type": "object",
      "properties": {},
      "description": "The request message for Operations.CancelOperation."
    },
    "Node": {
      "properties": {
        "ip": {
          "description": "Output only. The private IP address of the VM e.g. \"10.57.0.34\".",
          "type": "string",
          "readOnly": true
        },
        "zoneId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The Compute Engine zone of the VM e.g. \"us-central1-b\"."
        },
        "id": {
          "type": "string",
          "description": "Output only. The identifier of the VM e.g. \"test-read-0601-407e52be-ms3l\".",
          "readOnly": true
        },
        "isHotStandby": {
          "description": "Output only. Indicates whether the node set up to be configured as a hot standby.",
          "type": "boolean",
          "readOnly": true
        },
        "state": {
          "readOnly": true,
          "description": "Output only. Determined by state of the compute VM and postgres-service health. Compute VM state can have values listed in https://cloud.google.com/compute/docs/instances/instance-life-cycle and postgres-service health can have values: HEALTHY and UNHEALTHY.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Details of a single node in the instance. Nodes in an AlloyDB instance are ephemeral, they can change during update, failover, autohealing and resize operations.",
      "id": "Node"
    },
    "ClusterUpgradeDetails": {
      "type": "object",
      "id": "ClusterUpgradeDetails",
      "description": "Upgrade details of a cluster. This cluster can be primary or secondary.",
      "properties": {
        "stageInfo": {
          "items": {
            "$ref": "StageInfo"
          },
          "type": "array",
          "description": "Array containing stage info associated with this cluster."
        },
        "instanceUpgradeDetails": {
          "description": "Upgrade details of the instances directly associated with this cluster.",
          "type": "array",
          "items": {
            "$ref": "InstanceUpgradeDetails"
          }
        },
        "databaseVersion": {
          "type": "string",
          "enum": [
            "DATABASE_VERSION_UNSPECIFIED",
            "POSTGRES_13",
            "POSTGRES_14",
            "POSTGRES_15",
            "POSTGRES_16",
            "POSTGRES_17",
            "POSTGRES_18",
            "POSTGRES_19"
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "enumDescriptions": [
            "This is an unknown database version.",
            "DEPRECATED - The database version is Postgres 13.",
            "The database version is Postgres 14.",
            "The database version is Postgres 15.",
            "The database version is Postgres 16.",
            "The database version is Postgres 17.",
            "The database version is Postgres 18.",
            "The database version is Postgres 19."
          ],
          "description": "Database version of the cluster after the upgrade operation. This will be the target version if the upgrade was successful otherwise it remains the same as that before the upgrade operation."
        },
        "upgradeStatus": {
          "description": "Upgrade status of the cluster.",
          "type": "string",
          "enum": [
            "STATUS_UNSPECIFIED",
            "NOT_STARTED",
            "IN_PROGRESS",
            "SUCCESS",
            "FAILED",
            "PARTIAL_SUCCESS",
            "CANCEL_IN_PROGRESS",
            "CANCELLED"
          ],
          "enumDescriptions": [
            "Unspecified status.",
            "Not started.",
            "In progress.",
            "Operation succeeded.",
            "Operation failed.",
            "Operation partially succeeded.",
            "Cancel is in progress.",
            "Cancellation complete."
          ]
        },
        "name": {
          "type": "string",
          "description": "Normalized name of the cluster"
        },
        "clusterType": {
          "enumDescriptions": [
            "The type of the cluster is unknown.",
            "Primary cluster that support read and write operations.",
            "Secondary cluster that is replicating from another region. This only supports read."
          ],
          "description": "Cluster type which can either be primary or secondary.",
          "type": "string",
          "enum": [
            "CLUSTER_TYPE_UNSPECIFIED",
            "PRIMARY",
            "SECONDARY"
          ]
        }
      }
    },
    "Endpoint": {
      "id": "Endpoint",
      "description": "Endpoint resource.",
      "properties": {
        "endpointType": {
          "enumDescriptions": [
            "Unspecified endpoint type",
            "Write endpoint, which is associated with a primary instance.",
            "Read endpoint, which is associated with read or secondary instances."
          ],
          "description": "The type of the endpoint, either write or read.",
          "type": "string",
          "enum": [
            "ENDPOINT_TYPE_UNSPECIFIED",
            "WRITE_ENDPOINT",
            "READ_ENDPOINT"
          ]
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Create time stamp"
        },
        "displayName": {
          "description": "User-settable and human-readable display name for the Endpoint.",
          "type": "string"
        },
        "dnsConfig": {
          "description": "Output only. The DNS config for the endpoint. Each endpoint is associated with a specific DNS name and the DNS type. The DNS targets are the IP addresses of the target instances. The dns_type is the type of the DNS record, eg. Type \"A\" or Type \"CNAME\". This field is not configurable by the user, and it is updated when user specifies the target instances.",
          "readOnly": true,
          "$ref": "DNSConfig"
        },
        "name": {
          "description": "Output only. Identifier. The name of the endpoint resource with the format: * projects/{project}/locations/{region}/endpoints/{endpoint_id} where the endpoint ID segment should satisfy the regex expression `[a-z0-9-]+`. For more details see https://google.aip.dev/122. The prefix of the endpoint resource name is the name of the parent resource: * projects/{project}/locations/{region}",
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. Update time stamp",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Unspecified state",
            "The endpoint is active and ready to use.",
            "The endpoint is being created.",
            "The endpoint is being updated.",
            "The endpoint is being deleted."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "CREATING",
            "UPDATING",
            "DELETING"
          ],
          "description": "Output only. The state of the endpoint.",
          "readOnly": true
        },
        "targetInstances": {
          "description": "The names of the target instances for the endpoint, should be of format projects/{project}/locations/{region}/clusters/{cluster}/instances/{instance}. For write endpoint, there is only one target instance which has to be a primary instance. For read endpoint, there can be multiple target instances which can be read or secondary instances. After a cross-region failover or switchover operation, the endpoint will be associated with a different target instance. This change will be reflected in the effective_target_instances field.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "effectiveTargetInstances": {
          "description": "Output only. The effective target instances that the endpoint is associated with. This is a list of target instance names, e.g. projects/{project_number}/locations/{location}/clusters/{cluster_id}/instances/{instance_id} For write endpoint, there is only one effective target instance which has to be a primary instance. Effective target instances are only different from target instances after a switchover or cross-region failover operation. Otherwise, effective_target_instances are the same as target_instances. Note that after a cross-region failover operation, the effective_target_instances can be stale until the operation to update the endpoint is complete.",
          "items": {
            "type": "string"
          },
          "type": "array",
          "readOnly": true
        },
        "deleteTime": {
          "type": "string",
          "description": "Output only. Delete time stamp",
          "readOnly": true,
          "format": "google-datetime"
        },
        "uid": {
          "type": "string",
          "description": "Output only. The system-generated UID of the resource. The UID is assigned when the resource is created, and it is retained until it is deleted.",
          "readOnly": true
        },
        "reconciling": {
          "readOnly": true,
          "description": "Output only. Reconciling (https://google.aip.dev/128#reconciliation). Set to true if the current state of Endpoint does not match the user's intended state, and the service is actively updating the Endpoint to reconcile them. This can happen due to user-triggered updates or system actions like failover or maintenance.",
          "type": "boolean"
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Annotations to allow client tools to store small amount of arbitrary data. This is distinct from labels. https://google.aip.dev/128"
        },
        "etag": {
          "description": "For Resource freshness validation (https://google.aip.dev/154)",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CpuUtilization": {
      "id": "CpuUtilization",
      "properties": {
        "utilizationTarget": {
          "description": "Target CPU utilization as a float between 0 and 1.",
          "format": "float",
          "type": "number"
        }
      },
      "description": "CPU utilization policy for the autoscaler.",
      "type": "object"
    },
    "BackupDrInfo": {
      "type": "object",
      "description": "Information about BackupDR protection for this cluster.",
      "id": "BackupDrInfo",
      "properties": {
        "currentWindow": {
          "$ref": "BackupDrEnabledWindow",
          "description": "The current BackupDR configuration for this cluster. If BackupDR protection is not enabled for this cluster, this field will be empty."
        },
        "previousWindows": {
          "description": "Windows during which BackupDR was enabled for this cluster, along with associated configuration for that window. These are used to determine points-in-time for which restores can be performed. The windows are ordered with the most recent window last. Windows are mutally exclusive. Windows which closed more than 1 year ago will be removed from this list.",
          "type": "array",
          "items": {
            "$ref": "BackupDrEnabledWindow"
          }
        }
      }
    },
    "ListOperationsResponse": {
      "type": "object",
      "id": "ListOperationsResponse",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array"
        }
      },
      "description": "The response message for Operations.ListOperations."
    },
    "BackupSource": {
      "type": "object",
      "description": "Message describing a BackupSource.",
      "id": "BackupSource",
      "properties": {
        "backupUid": {
          "description": "Output only. The system-generated UID of the backup which was used to create this resource. The UID is generated when the backup is created, and it is retained until the backup is deleted.",
          "type": "string",
          "readOnly": true
        },
        "backupName": {
          "description": "Required. The name of the backup resource with the format: * projects/{project}/locations/{region}/backups/{backup_id}",
          "type": "string"
        }
      }
    },
    "SqlImportOptions": {
      "type": "object",
      "description": "Options for importing data in SQL format.",
      "properties": {},
      "id": "SqlImportOptions"
    },
    "StorageDatabasecenterPartnerapiV1mainResourceMaintenanceSchedule": {
      "description": "Disable validation warnings",
      "type": "object",
      "id": "StorageDatabasecenterPartnerapiV1mainResourceMaintenanceSchedule",
      "properties": {
        "day": {
          "type": "string",
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "description": "Optional. Disable validation warnings"
        },
        "time": {
          "description": "Optional. Disable validation warnings",
          "$ref": "GoogleTypeTimeOfDay"
        },
        "phase": {
          "enumDescriptions": [
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings"
          ],
          "description": "Optional. Disable validation warnings",
          "type": "string",
          "enum": [
            "PHASE_UNSPECIFIED",
            "ANY",
            "WEEK1",
            "WEEK2",
            "WEEK5"
          ]
        }
      }
    },
    "MaintenanceWindow": {
      "description": "MaintenanceWindow specifies a preferred day and time for maintenance.",
      "properties": {
        "day": {
          "description": "Preferred day of the week for maintenance, e.g. MONDAY, TUESDAY, etc.",
          "type": "string",
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ]
        },
        "startTime": {
          "$ref": "GoogleTypeTimeOfDay",
          "description": "Preferred time to start the maintenance operation on the specified day. Maintenance will start within 1 hour of this time."
        }
      },
      "id": "MaintenanceWindow",
      "type": "object"
    },
    "StorageDatabasecenterPartnerapiV1mainIpAddress": {
      "properties": {
        "publicIp": {
          "description": "Disable validation warnings",
          "type": "string"
        },
        "privateIp": {
          "description": "Disable validation warnings",
          "type": "string"
        }
      },
      "description": "Disable validation warnings",
      "type": "object",
      "id": "StorageDatabasecenterPartnerapiV1mainIpAddress"
    },
    "PscConfig": {
      "properties": {
        "serviceOwnedProjectNumber": {
          "type": "string",
          "description": "Output only. The project number that needs to be allowlisted on the network attachment to enable outbound connectivity.",
          "format": "int64",
          "readOnly": true
        },
        "pscEnabled": {
          "type": "boolean",
          "description": "Optional. Create an instance that allows connections from Private Service Connect endpoints to the instance."
        }
      },
      "description": "PscConfig contains PSC related configuration at a cluster level.",
      "type": "object",
      "id": "PscConfig"
    },
    "SslConfig": {
      "id": "SslConfig",
      "type": "object",
      "properties": {
        "sslMode": {
          "enumDeprecated": [
            false,
            true,
            true,
            true,
            false,
            false
          ],
          "description": "Optional. SSL mode. Specifies client-server SSL/TLS connection behavior.",
          "enumDescriptions": [
            "SSL mode is not specified. Defaults to ENCRYPTED_ONLY.",
            "SSL connections are optional. CA verification not enforced.",
            "SSL connections are required. CA verification not enforced. Clients may use locally self-signed certificates (default psql client behavior).",
            "SSL connections are required. CA verification enforced. Clients must have certificates signed by a Cluster CA, for example, using GenerateClientCertificate.",
            "SSL connections are optional. CA verification not enforced.",
            "SSL connections are required. CA verification not enforced."
          ],
          "type": "string",
          "enum": [
            "SSL_MODE_UNSPECIFIED",
            "SSL_MODE_ALLOW",
            "SSL_MODE_REQUIRE",
            "SSL_MODE_VERIFY_CA",
            "ALLOW_UNENCRYPTED_AND_ENCRYPTED",
            "ENCRYPTED_ONLY"
          ]
        },
        "caSource": {
          "type": "string",
          "enumDescriptions": [
            "Certificate Authority (CA) source not specified. Defaults to CA_SOURCE_MANAGED.",
            "Certificate Authority (CA) managed by the AlloyDB Cluster."
          ],
          "enum": [
            "CA_SOURCE_UNSPECIFIED",
            "CA_SOURCE_MANAGED"
          ],
          "description": "Optional. Certificate Authority (CA) source. Only CA_SOURCE_MANAGED is supported currently, and is the default value."
        }
      },
      "description": "SSL configuration."
    },
    "GeminiInstanceConfig": {
      "type": "object",
      "id": "GeminiInstanceConfig",
      "properties": {
        "entitled": {
          "deprecated": true,
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Deprecated and unused. This field will be removed in the near future."
        }
      },
      "description": "Deprecated and unused. This message will be removed in the near future."
    },
    "InstanceNetworkConfig": {
      "type": "object",
      "properties": {
        "enablePublicIp": {
          "type": "boolean",
          "description": "Optional. Enabling public ip for the instance."
        },
        "allocatedIpRangeOverride": {
          "description": "Optional. Name of the allocated IP range for the private IP AlloyDB instance, for example: \"google-managed-services-default\". If set, the instance IPs will be created from this allocated range and will override the IP range used by the parent cluster. The range name must comply with [RFC 1035](https://datatracker.ietf.org/doc/html/rfc1035). Specifically, the name must be 1-63 characters long and match the regular expression [a-z]([-a-z0-9]*[a-z0-9])?.",
          "type": "string"
        },
        "enableOutboundPublicIp": {
          "description": "Optional. Enabling an outbound public IP address to support a database server sending requests out into the internet.",
          "type": "boolean"
        },
        "network": {
          "type": "string",
          "description": "Output only. The resource link for the VPC network in which instance resources are created and from which they are accessible via Private IP. This will be the same value as the parent cluster's network. It is specified in the form: // `projects/{project_number}/global/networks/{network_id}`.",
          "readOnly": true
        },
        "authorizedExternalNetworks": {
          "description": "Optional. A list of external network authorized to access this instance.",
          "items": {
            "$ref": "AuthorizedNetwork"
          },
          "type": "array"
        }
      },
      "id": "InstanceNetworkConfig",
      "description": "Metadata related to instance-level network configuration."
    },
    "GoogleCloudLocationListLocationsResponse": {
      "type": "object",
      "id": "GoogleCloudLocationListLocationsResponse",
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "GoogleCloudLocationLocation"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "description": "The response message for Locations.ListLocations."
    },
    "ImportClusterRequest": {
      "properties": {
        "user": {
          "description": "Optional. Database user to be used for importing the data. Note - Value provided should be the same as expected from `SELECT current_user;` and NOT as a resource reference.",
          "type": "string"
        },
        "csvImportOptions": {
          "description": "Options for importing data in CSV format.",
          "$ref": "CsvImportOptions"
        },
        "database": {
          "description": "Optional. Name of the database to which the import will be done. For import from SQL file, this is required only if the file does not specify a database. Note - Value provided should be the same as expected from `SELECT current_database();` and NOT as a resource reference.",
          "type": "string"
        },
        "sqlImportOptions": {
          "$ref": "SqlImportOptions",
          "description": "Options for importing data in SQL format."
        },
        "gcsUri": {
          "description": "Required. The path to the file in Google Cloud Storage where the source file for import will be stored. The URI is in the form `gs://bucketName/fileName`.",
          "type": "string"
        }
      },
      "description": "Import cluster request.",
      "type": "object",
      "id": "ImportClusterRequest"
    },
    "StorageDatabasecenterPartnerapiV1mainEntitlement": {
      "type": "object",
      "description": "Disable validation warnings",
      "id": "StorageDatabasecenterPartnerapiV1mainEntitlement",
      "properties": {
        "entitlementState": {
          "type": "string",
          "enum": [
            "ENTITLEMENT_STATE_UNSPECIFIED",
            "ENTITLED",
            "REVOKED"
          ],
          "enumDescriptions": [
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings"
          ],
          "description": "Disable validation warnings"
        },
        "type": {
          "enumDescriptions": [
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings"
          ],
          "type": "string",
          "enum": [
            "ENTITLEMENT_TYPE_UNSPECIFIED",
            "GEMINI",
            "NATIVE",
            "GCA_STANDARD"
          ],
          "description": "Disable validation warnings",
          "enumDeprecated": [
            false,
            true,
            false,
            false
          ]
        }
      }
    },
    "ContinuousBackupConfig": {
      "id": "ContinuousBackupConfig",
      "type": "object",
      "description": "ContinuousBackupConfig describes the continuous backups recovery configurations of a cluster.",
      "properties": {
        "encryptionConfig": {
          "$ref": "EncryptionConfig",
          "description": "The encryption config can be specified to encrypt the backups with a customer-managed encryption key (CMEK). When this field is not specified, the backup will use the cluster's encryption config."
        },
        "recoveryWindowDays": {
          "description": "The number of days that are eligible to restore from using PITR. To support the entire recovery window, backups and logs are retained for one day more than the recovery window. If not set, defaults to 14 days.",
          "format": "int32",
          "type": "integer"
        },
        "enabled": {
          "type": "boolean",
          "description": "Whether ContinuousBackup is enabled."
        }
      }
    },
    "PscInstanceInfo": {
      "description": "Information about the Private Service Connect (PSC) for the instance.",
      "properties": {
        "effectivePscAutoDnsEnabled": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. The effective state of the PSC auto DNS for the instance."
        },
        "effectivePscAutoConnectionPolicy": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Indicates if the PSC auto connection policy is enabled for the instance. For older instances, this will be off by default, but for newer instances, this will be auto-enabled."
        },
        "serviceConnectionPolicy": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The PSC service connection policy name. The format is \"projects//regions//serviceConnectionPolicies/\""
        },
        "pscAutoDnsNames": {
          "description": "Output only. Specifies the auto DNS names for the instance.",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "PscInstanceInfo"
    },
    "StorageDatabasecenterPartnerapiV1mainCustomMetadataData": {
      "id": "StorageDatabasecenterPartnerapiV1mainCustomMetadataData",
      "type": "object",
      "properties": {
        "internalResourceMetadata": {
          "description": "Disable validation warnings",
          "type": "array",
          "items": {
            "$ref": "StorageDatabasecenterPartnerapiV1mainInternalResourceMetadata"
          }
        }
      },
      "description": "Disable validation warnings"
    },
    "MaintenanceSchedule": {
      "id": "MaintenanceSchedule",
      "properties": {
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The scheduled start time for the maintenance.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "MaintenanceSchedule stores the maintenance schedule generated from the MaintenanceUpdatePolicy, once a maintenance rollout is triggered, if MaintenanceWindow is set, and if there is no conflicting DenyPeriod. The schedule is cleared once the update takes place. This field cannot be manually changed; modify the MaintenanceUpdatePolicy instead."
    },
    "StorageDatabasecenterPartnerapiV1mainConfigBasedSignalData": {
      "description": "Disable validation warnings",
      "properties": {
        "signalBoolValue": {
          "type": "boolean",
          "description": "Disable validation warnings"
        },
        "fullResourceName": {
          "type": "string",
          "description": "Required. Disable validation warnings"
        },
        "lastRefreshTime": {
          "description": "Required. Disable validation warnings",
          "type": "string",
          "format": "google-datetime"
        },
        "signalType": {
          "enumDescriptions": [
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings"
          ],
          "description": "Required. Disable validation warnings",
          "type": "string",
          "enum": [
            "SIGNAL_TYPE_UNSPECIFIED",
            "SIGNAL_TYPE_OUTDATED_MINOR_VERSION",
            "SIGNAL_TYPE_DATABASE_AUDITING_DISABLED",
            "SIGNAL_TYPE_NO_ROOT_PASSWORD",
            "SIGNAL_TYPE_EXPOSED_TO_PUBLIC_ACCESS",
            "SIGNAL_TYPE_UNENCRYPTED_CONNECTIONS",
            "SIGNAL_TYPE_EXTENDED_SUPPORT",
            "SIGNAL_TYPE_NO_AUTOMATED_BACKUP_POLICY",
            "SIGNAL_TYPE_VERSION_NEARING_END_OF_LIFE",
            "SIGNAL_TYPE_LAST_BACKUP_OLD",
            "SIGNAL_TYPE_NOT_PROTECTED_BY_AUTOMATIC_FAILOVER"
          ]
        },
        "resourceId": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceId",
          "description": "Disable validation warnings"
        }
      },
      "id": "StorageDatabasecenterPartnerapiV1mainConfigBasedSignalData",
      "type": "object"
    },
    "StorageDatabasecenterPartnerapiV1mainCompliance": {
      "properties": {
        "standard": {
          "description": "Disable validation warnings",
          "type": "string"
        },
        "version": {
          "type": "string",
          "description": "Disable validation warnings"
        }
      },
      "description": "Disable validation warnings",
      "id": "StorageDatabasecenterPartnerapiV1mainCompliance",
      "type": "object"
    },
    "ListEndpointsResponse": {
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "endpoints": {
          "items": {
            "$ref": "Endpoint"
          },
          "description": "The list of Endpoints",
          "type": "array"
        }
      },
      "id": "ListEndpointsResponse",
      "type": "object",
      "description": "Message for response to listing Endpoints"
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "BackupDrBackupSource": {
      "id": "BackupDrBackupSource",
      "properties": {
        "backup": {
          "type": "string",
          "description": "Required. The name of the backup resource with the format: * projects/{project}/locations/{location}/backupVaults/{backupvault_id}/dataSources/{datasource_id}/backups/{backup_id}"
        }
      },
      "type": "object",
      "description": "Message describing a BackupDrBackupSource."
    },
    "ListBackupsResponse": {
      "description": "Message for response to listing Backups",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "backups": {
          "items": {
            "$ref": "Backup"
          },
          "description": "The list of Backup",
          "type": "array"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      },
      "type": "object",
      "id": "ListBackupsResponse"
    },
    "StorageDatabasecenterPartnerapiV1mainBackupConfiguration": {
      "description": "Disable validation warnings",
      "id": "StorageDatabasecenterPartnerapiV1mainBackupConfiguration",
      "properties": {
        "backupRetentionSettings": {
          "description": "Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainRetentionSettings"
        },
        "automatedBackupEnabled": {
          "type": "boolean",
          "description": "Disable validation warnings"
        },
        "pointInTimeRecoveryEnabled": {
          "description": "Disable validation warnings",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "ListInstancesResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        },
        "instances": {
          "description": "The list of Instance",
          "type": "array",
          "items": {
            "$ref": "Instance"
          }
        }
      },
      "description": "Message for response to listing Instances",
      "id": "ListInstancesResponse"
    },
    "UpgradeClusterRequest": {
      "type": "object",
      "properties": {
        "etag": {
          "description": "Optional. The current etag of the Cluster. If an etag is provided and does not match the current etag of the Cluster, upgrade will be blocked and an ABORTED error will be returned.",
          "type": "string"
        },
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server ignores the request if it has already been completed. The server guarantees that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if the original operation with the same request ID was received, and if so, ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        },
        "validateOnly": {
          "description": "Optional. If set, performs request validation, for example, permission checks and any other type of validation, but does not actually execute the create request.",
          "type": "boolean"
        },
        "version": {
          "enumDescriptions": [
            "This is an unknown database version.",
            "DEPRECATED - The database version is Postgres 13.",
            "The database version is Postgres 14.",
            "The database version is Postgres 15.",
            "The database version is Postgres 16.",
            "The database version is Postgres 17.",
            "The database version is Postgres 18.",
            "The database version is Postgres 19."
          ],
          "type": "string",
          "enum": [
            "DATABASE_VERSION_UNSPECIFIED",
            "POSTGRES_13",
            "POSTGRES_14",
            "POSTGRES_15",
            "POSTGRES_16",
            "POSTGRES_17",
            "POSTGRES_18",
            "POSTGRES_19"
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "description": "Required. The version the cluster is going to be upgraded to."
        }
      },
      "description": "Upgrades a cluster.",
      "id": "UpgradeClusterRequest"
    },
    "GCAInstanceConfig": {
      "type": "object",
      "properties": {
        "gcaEntitlement": {
          "readOnly": true,
          "enumDescriptions": [
            "No GCA entitlement is assigned.",
            "The resource is entitled to the GCA Standard Tier."
          ],
          "description": "Output only. Represents the GCA entitlement state of the instance.",
          "type": "string",
          "enum": [
            "GCA_ENTITLEMENT_TYPE_UNSPECIFIED",
            "GCA_STANDARD"
          ]
        }
      },
      "id": "GCAInstanceConfig",
      "description": "Instance level configuration parameters related to the Gemini Cloud Assist product."
    },
    "GeminiClusterConfig": {
      "type": "object",
      "description": "Deprecated and unused. This message will be removed in the near future.",
      "id": "GeminiClusterConfig",
      "properties": {
        "entitled": {
          "type": "boolean",
          "description": "Output only. Deprecated and unused. This field will be removed in the near future.",
          "readOnly": true,
          "deprecated": true
        }
      }
    },
    "BackupDrEnabledWindow": {
      "type": "object",
      "id": "BackupDrEnabledWindow",
      "properties": {
        "disabledTime": {
          "type": "string",
          "description": "Time when the BackupDR protection for this cluster was disabled. This field will be empty if this BackupDR window is the `current_window`.",
          "format": "google-datetime"
        },
        "dataSource": {
          "description": "The DataSource resource that represents the cluster in BackupDR.",
          "type": "string"
        },
        "continuousBackupPreviousRecoveryWindowDays": {
          "description": "The retention set for the continuous backup that was previously enabled prior to enabling BackupDR protection for this cluster.",
          "type": "integer",
          "format": "int32"
        },
        "backupPlanAssociation": {
          "type": "string",
          "description": "The BackupPlanAssociation resource that was used to enable BackupDR protection for this cluster."
        },
        "enabledTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time when the BackupDR protection for this cluster was enabled."
        },
        "continuousBackupPreviouslyEnabledTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time when continuous backup was previously enabled prior to enabling BackupDR protection for this cluster."
        },
        "automatedBackupPreviouslyEnabled": {
          "type": "boolean",
          "description": "Whether automated backup was previously enabled prior to enabling BackupDR protection for this cluster."
        },
        "continuousBackupPreviouslyEnabled": {
          "description": "Whether continuous backup was previously enabled prior to enabling BackupDR protection for this cluster.",
          "type": "boolean"
        },
        "logRetentionPeriod": {
          "description": "The retention period for logs generated by BackupDR for this cluster.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "description": "Information about a single window when BackupDR was enabled for this cluster."
    },
    "UpgradeClusterStatus": {
      "type": "object",
      "description": "Message for current status of the Major Version Upgrade operation.",
      "properties": {
        "state": {
          "type": "string",
          "enum": [
            "STATUS_UNSPECIFIED",
            "NOT_STARTED",
            "IN_PROGRESS",
            "SUCCESS",
            "FAILED",
            "PARTIAL_SUCCESS",
            "CANCEL_IN_PROGRESS",
            "CANCELLED"
          ],
          "description": "Cluster Major Version Upgrade state.",
          "enumDescriptions": [
            "Unspecified status.",
            "Not started.",
            "In progress.",
            "Operation succeeded.",
            "Operation failed.",
            "Operation partially succeeded.",
            "Cancel is in progress.",
            "Cancellation complete."
          ]
        },
        "sourceVersion": {
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "type": "string",
          "enum": [
            "DATABASE_VERSION_UNSPECIFIED",
            "POSTGRES_13",
            "POSTGRES_14",
            "POSTGRES_15",
            "POSTGRES_16",
            "POSTGRES_17",
            "POSTGRES_18",
            "POSTGRES_19"
          ],
          "description": "Source database major version.",
          "enumDescriptions": [
            "This is an unknown database version.",
            "DEPRECATED - The database version is Postgres 13.",
            "The database version is Postgres 14.",
            "The database version is Postgres 15.",
            "The database version is Postgres 16.",
            "The database version is Postgres 17.",
            "The database version is Postgres 18.",
            "The database version is Postgres 19."
          ]
        },
        "cancellable": {
          "description": "Whether the operation is cancellable.",
          "type": "boolean"
        },
        "targetVersion": {
          "description": "Target database major version.",
          "type": "string",
          "enum": [
            "DATABASE_VERSION_UNSPECIFIED",
            "POSTGRES_13",
            "POSTGRES_14",
            "POSTGRES_15",
            "POSTGRES_16",
            "POSTGRES_17",
            "POSTGRES_18",
            "POSTGRES_19"
          ],
          "enumDescriptions": [
            "This is an unknown database version.",
            "DEPRECATED - The database version is Postgres 13.",
            "The database version is Postgres 14.",
            "The database version is Postgres 15.",
            "The database version is Postgres 16.",
            "The database version is Postgres 17.",
            "The database version is Postgres 18.",
            "The database version is Postgres 19."
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false
          ]
        },
        "stages": {
          "type": "array",
          "description": "Status of all upgrade stages.",
          "items": {
            "$ref": "StageStatus"
          }
        }
      },
      "id": "UpgradeClusterStatus"
    },
    "StorageDatabasecenterPartnerapiV1mainRetentionSettings": {
      "id": "StorageDatabasecenterPartnerapiV1mainRetentionSettings",
      "type": "object",
      "properties": {
        "durationBasedRetention": {
          "type": "string",
          "format": "google-duration",
          "description": "Disable validation warnings"
        },
        "quantityBasedRetention": {
          "type": "integer",
          "format": "int32",
          "description": "Disable validation warnings"
        },
        "timestampBasedRetentionTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Disable validation warnings"
        },
        "retentionUnit": {
          "enumDescriptions": [
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings"
          ],
          "description": "Disable validation warnings",
          "deprecated": true,
          "type": "string",
          "enum": [
            "RETENTION_UNIT_UNSPECIFIED",
            "COUNT",
            "TIME",
            "DURATION",
            "RETENTION_UNIT_OTHER"
          ]
        },
        "timeBasedRetention": {
          "type": "string",
          "format": "google-duration",
          "deprecated": true,
          "description": "Disable validation warnings"
        }
      },
      "description": "Disable validation warnings"
    },
    "GoogleTypeDate": {
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "type": "object",
      "properties": {
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer",
          "format": "int32"
        },
        "year": {
          "format": "int32",
          "type": "integer",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
        },
        "day": {
          "format": "int32",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer"
        }
      },
      "id": "GoogleTypeDate"
    },
    "ContinuousBackupInfo": {
      "description": "ContinuousBackupInfo describes the continuous backup properties of a cluster.",
      "type": "object",
      "id": "ContinuousBackupInfo",
      "properties": {
        "encryptionInfo": {
          "$ref": "EncryptionInfo",
          "readOnly": true,
          "description": "Output only. The encryption information for the WALs and backups required for ContinuousBackup."
        },
        "enabledTime": {
          "format": "google-datetime",
          "description": "Output only. When ContinuousBackup was most recently enabled. Set to null if ContinuousBackup is not enabled.",
          "readOnly": true,
          "type": "string"
        },
        "earliestRestorableTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The earliest restorable time that can be restored to. If continuous backups and recovery was recently enabled, the earliest restorable time is the creation time of the earliest eligible backup within this cluster's continuous backup recovery window. After a cluster has had continuous backups enabled for the duration of its recovery window, the earliest restorable time becomes \"now minus the recovery window\". For example, assuming a point in time recovery is attempted at 04/16/2025 3:23:00PM with a 14d recovery window, the earliest restorable time would be 04/02/2025 3:23:00PM. This field is only visible if the CLUSTER_VIEW_CONTINUOUS_BACKUP cluster view is provided.",
          "format": "google-datetime"
        },
        "schedule": {
          "items": {
            "enumDescriptions": [
              "The day of the week is unspecified.",
              "Monday",
              "Tuesday",
              "Wednesday",
              "Thursday",
              "Friday",
              "Saturday",
              "Sunday"
            ],
            "type": "string",
            "enum": [
              "DAY_OF_WEEK_UNSPECIFIED",
              "MONDAY",
              "TUESDAY",
              "WEDNESDAY",
              "THURSDAY",
              "FRIDAY",
              "SATURDAY",
              "SUNDAY"
            ]
          },
          "description": "Output only. Days of the week on which a continuous backup is taken.",
          "readOnly": true,
          "type": "array"
        }
      }
    },
    "GoogleCloudLocationLocation": {
      "description": "A resource that represents a Google Cloud location.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object"
        }
      },
      "id": "GoogleCloudLocationLocation"
    },
    "StorageDatabasecenterPartnerapiV1mainBackupDRMetadata": {
      "id": "StorageDatabasecenterPartnerapiV1mainBackupDRMetadata",
      "properties": {
        "resourceId": {
          "description": "Required. Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceId"
        },
        "backupdrConfiguration": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainBackupDRConfiguration",
          "description": "Disable validation warnings"
        },
        "backupConfiguration": {
          "description": "Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainBackupConfiguration"
        },
        "backupRun": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainBackupRun",
          "description": "Disable validation warnings"
        },
        "lastRefreshTime": {
          "description": "Required. Disable validation warnings",
          "format": "google-datetime",
          "type": "string"
        },
        "fullResourceName": {
          "type": "string",
          "description": "Required. Disable validation warnings"
        }
      },
      "description": "Disable validation warnings",
      "type": "object"
    },
    "UpdatePolicy": {
      "description": "Policy to be used while updating the instance.",
      "type": "object",
      "properties": {
        "mode": {
          "description": "Mode for updating the instance.",
          "enumDescriptions": [
            "Mode is unknown.",
            "Least disruptive way to apply the update.",
            "Performs a forced update when applicable. This will be fast but may incur a downtime."
          ],
          "type": "string",
          "enum": [
            "MODE_UNSPECIFIED",
            "DEFAULT",
            "FORCE_APPLY"
          ]
        }
      },
      "id": "UpdatePolicy"
    },
    "RestartInstanceRequest": {
      "properties": {
        "validateOnly": {
          "type": "boolean",
          "description": "Optional. If set, performs request validation, for example, permission checks and any other type of validation, but does not actually execute the create request."
        },
        "nodeIds": {
          "type": "array",
          "description": "Optional. Full name of the nodes as obtained from INSTANCE_VIEW_FULL to restart upon. Applicable only to read instances.",
          "items": {
            "type": "string"
          }
        },
        "requestId": {
          "type": "string",
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server ignores the request if it has already been completed. The server guarantees that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if the original operation with the same request ID was received, and if so, ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        }
      },
      "type": "object",
      "id": "RestartInstanceRequest"
    },
    "Status": {
      "id": "Status",
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "type": "array",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        }
      },
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "SqlExportOptions": {
      "type": "object",
      "properties": {
        "ifExistTargetObjects": {
          "type": "boolean",
          "description": "Optional. If true, use DROP ... IF EXISTS commands to check for the object's existence before dropping it in clean_target_objects mode."
        },
        "cleanTargetObjects": {
          "description": "Optional. If true, output commands to DROP all the dumped database objects prior to outputting the commands for creating them.",
          "type": "boolean"
        },
        "tables": {
          "description": "Optional. Tables to export from.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "schemaOnly": {
          "description": "Optional. If true, only export the schema.",
          "type": "boolean"
        }
      },
      "id": "SqlExportOptions",
      "description": "Options for exporting data in SQL format."
    },
    "DataplexConfig": {
      "id": "DataplexConfig",
      "description": "Configuration for Dataplex integration.",
      "type": "object",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Dataplex is enabled by default for resources such as clusters and instances. This flag controls the integration of AlloyDB PG resources (like databases, schemas, and tables) with Dataplex.\""
        }
      }
    },
    "StorageDatabasecenterPartnerapiV1mainResourceMaintenanceDenySchedule": {
      "description": "Disable validation warnings",
      "properties": {
        "time": {
          "description": "Optional. Disable validation warnings",
          "$ref": "GoogleTypeTimeOfDay"
        },
        "startDate": {
          "$ref": "GoogleTypeDate",
          "description": "Optional. Disable validation warnings"
        },
        "endDate": {
          "$ref": "GoogleTypeDate",
          "description": "Optional. Disable validation warnings"
        }
      },
      "id": "StorageDatabasecenterPartnerapiV1mainResourceMaintenanceDenySchedule",
      "type": "object"
    },
    "MaintenanceUpdatePolicy": {
      "properties": {
        "denyMaintenancePeriods": {
          "items": {
            "$ref": "DenyMaintenancePeriod"
          },
          "type": "array",
          "description": "Periods to deny maintenance. Currently limited to 1."
        },
        "maintenanceWindows": {
          "description": "Preferred windows to perform maintenance. Currently limited to 1.",
          "type": "array",
          "items": {
            "$ref": "MaintenanceWindow"
          }
        }
      },
      "type": "object",
      "description": "MaintenanceUpdatePolicy defines the policy for system updates.",
      "id": "MaintenanceUpdatePolicy"
    },
    "CloudControl2SharedOperationsReconciliationOperationMetadata": {
      "description": "Operation metadata returned by the CLH during resource state reconciliation.",
      "properties": {
        "deleteResource": {
          "type": "boolean",
          "deprecated": true,
          "description": "DEPRECATED. Use exclusive_action instead."
        },
        "exclusiveAction": {
          "description": "Excluisive action returned by the CLH.",
          "type": "string",
          "enum": [
            "UNKNOWN_REPAIR_ACTION",
            "DELETE",
            "RETRY"
          ],
          "enumDeprecated": [
            false,
            true,
            false
          ],
          "enumDescriptions": [
            "Unknown repair action.",
            "The resource has to be deleted. When using this bit, the CLH should fail the operation. DEPRECATED. Instead use DELETE_RESOURCE OperationSignal in SideChannel.",
            "This resource could not be repaired but the repair should be tried again at a later time. This can happen if there is a dependency that needs to be resolved first- e.g. if a parent resource must be repaired before a child resource."
          ]
        }
      },
      "id": "CloudControl2SharedOperationsReconciliationOperationMetadata",
      "type": "object"
    },
    "DenyMaintenancePeriod": {
      "type": "object",
      "id": "DenyMaintenancePeriod",
      "properties": {
        "startDate": {
          "description": "Deny period start date. This can be: * A full date, with non-zero year, month and day values OR * A month and day value, with a zero year for recurring",
          "$ref": "GoogleTypeDate"
        },
        "endDate": {
          "description": "Deny period end date. This can be: * A full date, with non-zero year, month and day values OR * A month and day value, with a zero year for recurring",
          "$ref": "GoogleTypeDate"
        },
        "time": {
          "$ref": "GoogleTypeTimeOfDay",
          "description": "Time in UTC when the deny period starts on start_date and ends on end_date. This can be: * Full time OR * All zeros for 00:00:00 UTC"
        }
      },
      "description": "DenyMaintenancePeriod definition. Excepting emergencies, maintenance will not be scheduled to start within this deny period. The start_date must be less than the end_date."
    },
    "StorageDatabasecenterPartnerapiV1mainTags": {
      "id": "StorageDatabasecenterPartnerapiV1mainTags",
      "description": "Disable validation warnings",
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Disable validation warnings"
        }
      }
    },
    "PscInstanceConfig": {
      "description": "PscInstanceConfig contains PSC related configuration at an instance level.",
      "properties": {
        "pscAutoDnsState": {
          "enumDescriptions": [
            "The state is unspecified. For old instances, this means the PSC auto DNS is disabled. For new instances, this means the PSC auto DNS is enabled by default. Use `effective_psc_auto_dns_enabled` to check the effective state of the PSC auto DNS.",
            "Enables the PSC auto DNS for the instance.",
            "Disables the PSC auto DNS for the instance."
          ],
          "type": "string",
          "enum": [
            "PSC_AUTO_DNS_STATE_UNSPECIFIED",
            "PSC_AUTO_DNS_STATE_ENABLED",
            "PSC_AUTO_DNS_STATE_DISABLED"
          ],
          "description": "Optional. Configuration for setting up PSC auto DNS for the instance."
        },
        "pscInterfaceConfigs": {
          "description": "Optional. Configurations for setting up PSC interfaces attached to the instance which are used for outbound connectivity. Only primary instances can have PSC interface attached. Currently we only support 0 or 1 PSC interface.",
          "items": {
            "$ref": "PscInterfaceConfig"
          },
          "type": "array"
        },
        "pscAutoConnectionPolicyState": {
          "description": "Optional. Configuration for setting up PSC auto connection for the instance.",
          "enumDescriptions": [
            "The state is unspecified. For old instances, this means the PSC auto connection is disabled. For new instances, this means the PSC auto connection is enabled by default.",
            "Enables the PSC auto connection for the instance.",
            "Disables the PSC auto connection for the instance."
          ],
          "type": "string",
          "enum": [
            "PSC_AUTO_CONNECTION_POLICY_STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED"
          ]
        },
        "pscDnsName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The DNS name of the instance for PSC connectivity. Name convention: ...alloydb-psc.goog"
        },
        "pscAutoConnections": {
          "type": "array",
          "items": {
            "$ref": "PscAutoConnectionConfig"
          },
          "description": "Optional. Configurations for setting up PSC service automation."
        },
        "allowedConsumerProjects": {
          "description": "Optional. List of consumer projects that are allowed to create PSC endpoints to service-attachments to this instance.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "serviceAttachmentLink": {
          "readOnly": true,
          "description": "Output only. The service attachment created when Private Service Connect (PSC) is enabled for the instance. The name of the resource will be in the format of `projects//regions//serviceAttachments/`",
          "type": "string"
        }
      },
      "type": "object",
      "id": "PscInstanceConfig"
    },
    "GcsDestination": {
      "id": "GcsDestination",
      "type": "object",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Required. The path to the file in Google Cloud Storage where the export will be stored. The URI is in the form `gs://bucketName/fileName`."
        }
      },
      "description": "Destination for Export. Export will be done to cloud storage."
    },
    "StorageDatabasecenterPartnerapiV1mainOperationError": {
      "description": "Disable validation warnings",
      "type": "object",
      "properties": {
        "message": {
          "type": "string",
          "description": "Disable validation warnings"
        },
        "code": {
          "description": "Disable validation warnings",
          "type": "string"
        },
        "errorType": {
          "description": "Disable validation warnings",
          "type": "string",
          "enum": [
            "OPERATION_ERROR_TYPE_UNSPECIFIED",
            "KMS_KEY_ERROR",
            "DATABASE_ERROR",
            "STOCKOUT_ERROR",
            "CANCELLATION_ERROR",
            "SQLSERVER_ERROR",
            "INTERNAL_ERROR"
          ],
          "enumDescriptions": [
            "UNSPECIFIED means product type is not known or available.",
            "key destroyed, expired, not found, unreachable or permission denied.",
            "Database is not accessible",
            "The zone or region does not have sufficient resources to handle the request at the moment",
            "User initiated cancellation",
            "SQL server specific error",
            "Any other internal error."
          ]
        }
      },
      "id": "StorageDatabasecenterPartnerapiV1mainOperationError"
    },
    "DNSConfig": {
      "id": "DNSConfig",
      "type": "object",
      "description": "The DNS config for the endpoint, containing the DNS record name, type and targets.",
      "properties": {
        "dnsRecordType": {
          "type": "string",
          "description": "The type of the DNS record, e.g., \"A\", \"AAAA\", \"CNAME\"."
        },
        "dnsName": {
          "type": "string",
          "description": "The fully qualified domain name (FQDN) of the DNS record, e.g., \".location.alloydb-psa.goog\"."
        }
      }
    },
    "ObservabilityInstanceConfig": {
      "properties": {
        "trackWaitEvents": {
          "description": "Track wait events during query execution for an instance. This flag is turned \"on\" by default but tracking is enabled only after observability enabled flag is also turned on.",
          "type": "boolean"
        },
        "trackClientAddress": {
          "type": "boolean",
          "description": "Track client address for an instance. If not set, default value is \"off\"."
        },
        "trackActiveQueryPlan": {
          "type": "boolean",
          "description": "Indicates whether to track active query plans for an instance. If not set, the default value is \"off\". Can only be enabled if track_active_queries is enabled."
        },
        "maxQueryStringLength": {
          "type": "integer",
          "description": "Query string length. The default value is 10k.",
          "format": "int32"
        },
        "enabled": {
          "type": "boolean",
          "description": "Observability feature status for an instance. This flag is turned \"off\" by default."
        },
        "assistiveExperiencesEnabled": {
          "type": "boolean",
          "description": "Whether assistive experiences are enabled for this AlloyDB instance."
        },
        "trackWaitEventTypes": {
          "description": "Output only. Track wait event types during query execution for an instance. This flag is turned \"on\" by default but tracking is enabled only after observability enabled flag is also turned on. This is read-only flag and only modifiable by internal API.",
          "type": "boolean",
          "readOnly": true
        },
        "queryPlansPerMinute": {
          "type": "integer",
          "format": "int32",
          "description": "Number of query execution plans captured by Insights per minute for all queries combined. The default value is 200. Any integer between 0 to 200 is considered valid."
        },
        "recordApplicationTags": {
          "type": "boolean",
          "description": "Record application tags for an instance. This flag is turned \"off\" by default."
        },
        "preserveComments": {
          "type": "boolean",
          "description": "Preserve comments in query string for an instance. This flag is turned \"off\" by default."
        },
        "trackActiveQueries": {
          "type": "boolean",
          "description": "Track actively running queries on the instance. If not set, this flag is \"off\" by default."
        }
      },
      "type": "object",
      "description": "Observability Instance specific configuration.",
      "id": "ObservabilityInstanceConfig"
    },
    "UserPassword": {
      "description": "The username/password for a database user. Used for specifying initial users at cluster creation time.",
      "properties": {
        "user": {
          "description": "The database username.",
          "type": "string"
        },
        "password": {
          "description": "The initial password for the user.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "UserPassword"
    },
    "ConnectionInfo": {
      "description": "ConnectionInfo singleton resource. https://google.aip.dev/156",
      "id": "ConnectionInfo",
      "type": "object",
      "properties": {
        "pscAutoDnsName": {
          "type": "string",
          "description": "Output only. Specifies the DNS name to use with PSC service automation for the Instance.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "The name of the ConnectionInfo singleton resource, e.g.: projects/{project}/locations/{location}/clusters/*/instances/*/connectionInfo This field currently has no semantic meaning."
        },
        "ipAddress": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The private network IP address for the Instance. This is the default IP for the instance and is always created (even if enable_public_ip is set). This is the connection endpoint for an end-user application."
        },
        "publicIpAddress": {
          "readOnly": true,
          "description": "Output only. The public IP addresses for the Instance. This is available ONLY when enable_public_ip is set. This is the connection endpoint for an end-user application.",
          "type": "string"
        },
        "pemCertificateChain": {
          "deprecated": true,
          "readOnly": true,
          "description": "Output only. The pem-encoded chain that may be used to verify the X.509 certificate. Expected to be in issuer-to-root order according to RFC 5246.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "pscDnsName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The DNS name to use with PSC for the Instance."
        },
        "instanceUid": {
          "type": "string",
          "description": "Output only. The unique ID of the Instance.",
          "readOnly": true
        }
      }
    },
    "CloudSQLBackupRunSource": {
      "properties": {
        "project": {
          "description": "The project ID of the source CloudSQL instance. This should be the same as the AlloyDB cluster's project.",
          "type": "string"
        },
        "instanceId": {
          "type": "string",
          "description": "Required. The CloudSQL instance ID."
        },
        "backupRunId": {
          "type": "string",
          "description": "Required. The CloudSQL backup run ID.",
          "format": "int64"
        }
      },
      "type": "object",
      "description": "The source CloudSQL backup resource.",
      "id": "CloudSQLBackupRunSource"
    },
    "PscAutoConnectionConfig": {
      "type": "object",
      "properties": {
        "serviceConnectionPolicy": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The PSC service connection policy name. The format is \"projects//regions//serviceConnectionPolicies/\""
        },
        "ipAddress": {
          "description": "Output only. The IP address of the PSC service automation endpoint.",
          "readOnly": true,
          "type": "string"
        },
        "consumerProject": {
          "description": "The consumer project to which the PSC service automation endpoint will be created.",
          "type": "string"
        },
        "dnsAutomationInfos": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "DnsAutomationInfo"
          },
          "description": "Output only. List of DNS automation info for the PSC auto connection."
        },
        "consumerNetworkStatus": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The status of the service connection policy. Possible values: \"STATE_UNSPECIFIED\" - Default state, when Connection Map is created initially. \"VALID\" - Set when policy and map configuration is valid, and their matching can lead to allowing creation of PSC Connections subject to other constraints like connections limit. \"CONNECTION_POLICY_MISSING\" - No Service Connection Policy found for this network and Service Class \"POLICY_LIMIT_REACHED\" - Service Connection Policy limit reached for this network and Service Class \"CONSUMER_INSTANCE_PROJECT_NOT_ALLOWLISTED\" - The consumer instance project is not in AllowedGoogleProducersResourceHierarchyLevels of the matching ServiceConnectionPolicy."
        },
        "status": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The status of the PSC service automation connection. Possible values: \"STATE_UNSPECIFIED\" - An invalid state as the default case. \"ACTIVE\" - The connection has been created successfully. \"FAILED\" - The connection is not functional since some resources on the connection fail to be created. \"CREATING\" - The connection is being created. \"DELETING\" - The connection is being deleted. \"CREATE_REPAIRING\" - The connection is being repaired to complete creation. \"DELETE_REPAIRING\" - The connection is being repaired to complete deletion."
        },
        "consumerNetwork": {
          "description": "The consumer network for the PSC service automation, example: \"projects/vpc-host-project/global/networks/default\". The consumer network might be hosted a different project than the consumer project.",
          "type": "string"
        },
        "serviceConnectionPolicyCreationState": {
          "description": "Output only. The creation state or result of the connection policy. Possible values include: - `ACTIVE`: The policy was created successfully. - `PERMISSION_DENIED`: Sufficient permissions were not provided. Note that this field is an unstructured output and customers should not rely on the specific string value or error message directly.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "PscAutoConnectionConfig",
      "description": "Configuration for setting up PSC service automation. Consumer projects in the configs will be allowlisted automatically for the instance."
    },
    "Cluster": {
      "id": "Cluster",
      "description": "A cluster is a collection of regional AlloyDB resources. It can include a primary instance and one or more read pool instances. All cluster resources share a storage layer, which scales as needed.",
      "properties": {
        "networkConfig": {
          "$ref": "NetworkConfig",
          "description": "Optional."
        },
        "migrationSource": {
          "description": "Output only. Cluster created via DMS migration.",
          "readOnly": true,
          "$ref": "MigrationSource"
        },
        "subscriptionType": {
          "type": "string",
          "enum": [
            "SUBSCRIPTION_TYPE_UNSPECIFIED",
            "STANDARD",
            "TRIAL"
          ],
          "description": "Optional. Subscription type of the cluster.",
          "enumDescriptions": [
            "This is an unknown subscription type. By default, the subscription type is STANDARD.",
            "Standard subscription.",
            "Trial subscription."
          ]
        },
        "annotations": {
          "description": "Annotations to allow client tools to store small amount of arbitrary data. This is distinct from labels. https://google.aip.dev/128",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "backupdrInfo": {
          "description": "Output only. Output only information about BackupDR protection for this cluster.",
          "$ref": "BackupDrInfo",
          "readOnly": true
        },
        "satisfiesPzs": {
          "description": "Output only. Reserved for future use.",
          "type": "boolean",
          "readOnly": true
        },
        "deleteTime": {
          "readOnly": true,
          "description": "Output only. Delete time stamp",
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "description": "Output only. The name of the cluster resource with the format: * projects/{project}/locations/{region}/clusters/{cluster_id} where the cluster ID segment should satisfy the regex expression `[a-z0-9-]+`. For more details see https://google.aip.dev/122. The prefix of the cluster resource name is the name of the parent resource: * projects/{project}/locations/{region}",
          "readOnly": true,
          "type": "string"
        },
        "labels": {
          "description": "Labels as key value pairs",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "encryptionConfig": {
          "description": "Optional. The encryption config can be specified to encrypt the data disks and other persistent data resources of a cluster with a customer-managed encryption key (CMEK). When this field is not specified, the cluster will then use default encryption scheme to protect the user data.",
          "$ref": "EncryptionConfig"
        },
        "maintenanceUpdatePolicy": {
          "description": "Optional. The maintenance update policy determines when to allow or deny updates.",
          "$ref": "MaintenanceUpdatePolicy"
        },
        "automatedBackupPolicy": {
          "description": "The automated backup policy for this cluster. If no policy is provided then the default policy will be used. If backups are supported for the cluster, the default policy takes one backup a day, has a backup window of 1 hour, and retains backups for 14 days. For more information on the defaults, consult the documentation for the message type.",
          "$ref": "AutomatedBackupPolicy"
        },
        "etag": {
          "description": "For Resource freshness validation (https://google.aip.dev/154)",
          "type": "string"
        },
        "sslConfig": {
          "description": "SSL configuration for this AlloyDB cluster.",
          "deprecated": true,
          "$ref": "SslConfig"
        },
        "state": {
          "description": "Output only. The current serving state of the cluster.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "STOPPED",
            "EMPTY",
            "CREATING",
            "DELETING",
            "FAILED",
            "BOOTSTRAPPING",
            "MAINTENANCE",
            "PROMOTING",
            "SWITCHOVER",
            "RECREATING"
          ],
          "enumDescriptions": [
            "The state of the cluster is unknown.",
            "The cluster is active and running.",
            "This is unused. Even when all instances in the cluster are stopped, the cluster remains in READY state.",
            "The cluster is empty and has no associated resources. All instances, associated storage and backups have been deleted.",
            "The cluster is being created.",
            "The cluster is being deleted.",
            "The creation of the cluster failed.",
            "The cluster is bootstrapping with data from some other source. Direct mutations to the cluster (e.g. adding read pool) are not allowed.",
            "The cluster is under maintenance. AlloyDB regularly performs maintenance and upgrades on customer clusters. Updates on the cluster are not allowed while the cluster is in this state.",
            "The cluster is being promoted.",
            "The cluster has entered switchover state. All updates on cluster and its associated instances are restricted while the cluster is in this state.",
            "The cluster is being recreated."
          ]
        },
        "updateTime": {
          "description": "Output only. Update time stamp",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "maintenanceVersionSelectionPolicy": {
          "enumDescriptions": [
            "The maintenance version selection policy is not specified.",
            "Use the latest available maintenance version.",
            "Use the current default maintenance version."
          ],
          "type": "string",
          "enum": [
            "MAINTENANCE_VERSION_SELECTION_POLICY_UNSPECIFIED",
            "MAINTENANCE_VERSION_SELECTION_POLICY_LATEST",
            "MAINTENANCE_VERSION_SELECTION_POLICY_DEFAULT"
          ],
          "description": "Input only. Policy to use to automatically select the maintenance version to which to update the cluster's instances."
        },
        "displayName": {
          "description": "User-settable and human-readable display name for the Cluster.",
          "type": "string"
        },
        "backupSource": {
          "readOnly": true,
          "description": "Output only. Cluster created from backup.",
          "$ref": "BackupSource"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Create time stamp"
        },
        "primaryConfig": {
          "$ref": "PrimaryConfig",
          "description": "Output only. Cross Region replication config specific to PRIMARY cluster.",
          "readOnly": true
        },
        "cloudsqlBackupRunSource": {
          "$ref": "CloudSQLBackupRunSource",
          "readOnly": true,
          "description": "Output only. Cluster created from CloudSQL snapshot."
        },
        "serviceAccountEmail": {
          "description": "Output only. AlloyDB per-cluster service account. This service account is created per-cluster per-project, and is different from the per-project service account. The per-cluster service account naming format is subject to change.",
          "readOnly": true,
          "type": "string"
        },
        "pscConfig": {
          "$ref": "PscConfig",
          "description": "Optional. The configuration for Private Service Connect (PSC) for the cluster."
        },
        "secondaryConfig": {
          "$ref": "SecondaryConfig",
          "description": "Cross Region replication config specific to SECONDARY cluster."
        },
        "reconciling": {
          "type": "boolean",
          "description": "Output only. Reconciling (https://google.aip.dev/128#reconciliation). Set to true if the current state of Cluster does not match the user's intended state, and the service is actively updating the resource to reconcile them. This can happen due to user-triggered updates or system actions like failover or maintenance.",
          "readOnly": true
        },
        "trialMetadata": {
          "description": "Output only. Metadata for free trial clusters",
          "readOnly": true,
          "$ref": "TrialMetadata"
        },
        "backupdrBackupSource": {
          "$ref": "BackupDrBackupSource",
          "description": "Output only. Cluster created from a BackupDR backup.",
          "readOnly": true
        },
        "edition": {
          "description": "Optional. Edition of the cluster. If left unspecified, the cluster behaves as `EDITION_ALLOYDB`.",
          "type": "string",
          "enum": [
            "EDITION_UNSPECIFIED",
            "EDITION_ALLOYDB",
            "EDITION_ALLOYDB_DEVELOPER"
          ],
          "enumDescriptions": [
            "An unknown Edition type.",
            "Standard AlloyDB cluster.",
            "Developer edition cluster."
          ]
        },
        "databaseVersion": {
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "type": "string",
          "enum": [
            "DATABASE_VERSION_UNSPECIFIED",
            "POSTGRES_13",
            "POSTGRES_14",
            "POSTGRES_15",
            "POSTGRES_16",
            "POSTGRES_17",
            "POSTGRES_18",
            "POSTGRES_19"
          ],
          "description": "Optional. The database engine major version. This is an optional field and it is populated at the Cluster creation time. If a database version is not supplied at cluster creation time, then a default database version will be used.",
          "enumDescriptions": [
            "This is an unknown database version.",
            "DEPRECATED - The database version is Postgres 13.",
            "The database version is Postgres 14.",
            "The database version is Postgres 15.",
            "The database version is Postgres 16.",
            "The database version is Postgres 17.",
            "The database version is Postgres 18.",
            "The database version is Postgres 19."
          ]
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Input only. Immutable. Tag keys/values directly bound to this resource. For example: ``` \"123/environment\": \"production\", \"123/costCenter\": \"marketing\" ```"
        },
        "clusterType": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "CLUSTER_TYPE_UNSPECIFIED",
            "PRIMARY",
            "SECONDARY"
          ],
          "description": "Output only. The type of the cluster. This is an output-only field and it's populated at the Cluster creation time or the Cluster promotion time. The cluster type is determined by which RPC was used to create the cluster (i.e. `CreateCluster` vs. `CreateSecondaryCluster`",
          "enumDescriptions": [
            "The type of the cluster is unknown.",
            "Primary cluster that support read and write operations.",
            "Secondary cluster that is replicating from another region. This only supports read."
          ]
        },
        "continuousBackupConfig": {
          "description": "Optional. Continuous backup configuration for this cluster.",
          "$ref": "ContinuousBackupConfig"
        },
        "encryptionInfo": {
          "$ref": "EncryptionInfo",
          "description": "Output only. The encryption information for the cluster.",
          "readOnly": true
        },
        "geminiConfig": {
          "description": "Optional. Deprecated and unused. This field will be removed in the near future.",
          "$ref": "GeminiClusterConfig",
          "deprecated": true
        },
        "dataplexConfig": {
          "$ref": "DataplexConfig",
          "description": "Optional. Configuration for Dataplex integration."
        },
        "satisfiesPzi": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Reserved for future use."
        },
        "uid": {
          "description": "Output only. The system-generated UID of the resource. The UID is assigned when the resource is created, and it is retained until it is deleted.",
          "type": "string",
          "readOnly": true
        },
        "continuousBackupInfo": {
          "description": "Output only. Continuous backup properties for this cluster.",
          "readOnly": true,
          "$ref": "ContinuousBackupInfo"
        },
        "maintenanceSchedule": {
          "$ref": "MaintenanceSchedule",
          "readOnly": true,
          "description": "Output only. The maintenance schedule for the cluster, generated for a specific rollout if a maintenance window is set."
        },
        "initialUser": {
          "description": "Input only. Initial user to setup during cluster creation. Required. If used in `RestoreCluster` this is ignored.",
          "$ref": "UserPassword"
        },
        "network": {
          "deprecated": true,
          "description": "Required. The resource link for the VPC network in which cluster resources are created and from which they are accessible via Private IP. The network must belong to the same project as the cluster. It is specified in the form: `projects/{project}/global/networks/{network_id}`. This is required to create a cluster. Deprecated, use network_config.network instead.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Stats": {
      "properties": {
        "notStarted": {
          "format": "int32",
          "type": "integer",
          "description": "Number of read pool instances for which upgrade has not started."
        },
        "ongoing": {
          "description": "Number of read pool instances undergoing upgrade.",
          "type": "integer",
          "format": "int32"
        },
        "success": {
          "description": "Number of read pool instances successfully upgraded.",
          "format": "int32",
          "type": "integer"
        },
        "failed": {
          "format": "int32",
          "description": "Number of read pool instances which failed to upgrade.",
          "type": "integer"
        }
      },
      "id": "Stats",
      "description": "Upgrade stats for read pool instances.",
      "type": "object"
    },
    "PromoteClusterRequest": {
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server ignores the request if it has already been completed. The server guarantees that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        },
        "failover": {
          "type": "boolean",
          "description": "Optional. If set, the promote operation will attempt to recreate the original primary cluster as a secondary cluster when it comes back online. Otherwise, the promoted cluster will be a standalone cluster. Currently only supported when there is a single secondary cluster."
        },
        "etag": {
          "description": "Optional. The current etag of the Cluster. If an etag is provided and does not match the current etag of the Cluster, deletion will be blocked and an ABORTED error will be returned.",
          "type": "string"
        },
        "validateOnly": {
          "description": "Optional. If set, performs request validation, for example, permission checks and any other type of validation, but does not actually execute the create request.",
          "type": "boolean"
        }
      },
      "description": "Message for promoting a Cluster",
      "type": "object",
      "id": "PromoteClusterRequest"
    },
    "PscInterfaceConfig": {
      "type": "object",
      "description": "Configuration for setting up a PSC interface to enable outbound connectivity.",
      "id": "PscInterfaceConfig",
      "properties": {
        "networkAttachmentResource": {
          "type": "string",
          "description": "The network attachment resource created in the consumer network to which the PSC interface will be linked. This is of the format: \"projects/${CONSUMER_PROJECT}/regions/${REGION}/networkAttachments/${NETWORK_ATTACHMENT_NAME}\". The network attachment must be in the same region as the instance."
        }
      }
    },
    "QueryInsightsInstanceConfig": {
      "properties": {
        "recordClientAddress": {
          "description": "Record client address for an instance. Client address is PII information. This flag is turned \"on\" by default.",
          "type": "boolean"
        },
        "queryStringLength": {
          "type": "integer",
          "format": "uint32",
          "description": "Query string length. The default value is 1024. Any integer between 256 and 4500 is considered valid."
        },
        "queryPlansPerMinute": {
          "type": "integer",
          "format": "uint32",
          "description": "Number of query execution plans captured by Insights per minute for all queries combined. The default value is 5. Any integer between 0 and 20 is considered valid."
        },
        "recordApplicationTags": {
          "description": "Record application tags for an instance. This flag is turned \"on\" by default.",
          "type": "boolean"
        }
      },
      "id": "QueryInsightsInstanceConfig",
      "type": "object",
      "description": "QueryInsights Instance specific configuration."
    },
    "StorageDatabasecenterPartnerapiV1mainUserLabels": {
      "properties": {
        "labels": {
          "description": "Disable validation warnings",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "description": "Disable validation warnings",
      "type": "object",
      "id": "StorageDatabasecenterPartnerapiV1mainUserLabels"
    },
    "StorageDatabasecenterPartnerapiV1mainResourceFlags": {
      "properties": {
        "value": {
          "type": "string",
          "description": "Optional. Disable validation warnings"
        },
        "key": {
          "type": "string",
          "description": "Optional. Disable validation warnings"
        }
      },
      "type": "object",
      "description": "Disable validation warnings",
      "id": "StorageDatabasecenterPartnerapiV1mainResourceFlags"
    },
    "StorageDatabasecenterPartnerapiV1mainResourceMaintenanceInfo": {
      "type": "object",
      "properties": {
        "upcomingMaintenance": {
          "description": "Optional. Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainUpcomingMaintenance"
        },
        "currentVersionReleaseDate": {
          "$ref": "GoogleTypeDate",
          "description": "Optional. Disable validation warnings"
        },
        "isInstanceStopped": {
          "type": "boolean",
          "description": "Optional. Disable validation warnings"
        },
        "denyMaintenanceSchedules": {
          "items": {
            "$ref": "StorageDatabasecenterPartnerapiV1mainResourceMaintenanceDenySchedule"
          },
          "type": "array",
          "description": "Optional. Disable validation warnings"
        },
        "nextAvailableMaintenanceVersions": {
          "description": "Optional. Disable validation warnings",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "maintenanceSchedule": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainResourceMaintenanceSchedule",
          "description": "Optional. Disable validation warnings"
        },
        "maintenanceState": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "MAINTENANCE_STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "UPDATING",
            "REPAIRING",
            "DELETING",
            "ERROR"
          ],
          "enumDescriptions": [
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
[...]
