{
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "name": "analyticsadmin",
  "rootUrl": "https://analyticsadmin.googleapis.com/",
  "protocol": "rest",
  "ownerName": "Google",
  "mtlsRootUrl": "https://analyticsadmin.mtls.googleapis.com/",
  "batchPath": "batch",
  "documentationLink": "http://code.google.com/apis/analytics/docs/mgmt/home.html",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/analytics.edit": {
          "description": "Edit Google Analytics management entities"
        },
        "https://www.googleapis.com/auth/analytics.readonly": {
          "description": "See and download your Google Analytics data"
        }
      }
    }
  },
  "id": "analyticsadmin:v1beta",
  "description": "Manage properties in Google Analytics. Warning: Creating multiple Customer Applications, Accounts, or Projects to simulate or act as a single Customer Application, Account, or Project (respectively) or to circumvent Service-specific usage limits or quotas is a direct violation of Google Cloud Platform Terms of Service as well as Google APIs Terms of Service. These actions can result in immediate termination of your GCP project(s) without any warning.",
  "servicePath": "",
  "discoveryVersion": "v1",
  "schemas": {
    "GoogleAnalyticsAdminV1betaAccessFilterExpressionList": {
      "properties": {
        "expressions": {
          "description": "A list of filter expressions.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaAccessFilterExpression"
          }
        }
      },
      "id": "GoogleAnalyticsAdminV1betaAccessFilterExpressionList",
      "description": "A list of filter expressions.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1betaArchiveCustomDimensionRequest": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1betaArchiveCustomDimensionRequest",
      "description": "Request message for ArchiveCustomDimension RPC.",
      "properties": {}
    },
    "GoogleAnalyticsAdminV1betaListConversionEventsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "conversionEvents": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaConversionEvent"
          },
          "description": "The requested conversion events"
        }
      },
      "type": "object",
      "id": "GoogleAnalyticsAdminV1betaListConversionEventsResponse",
      "description": "Response message for ListConversionEvents RPC."
    },
    "GoogleAnalyticsAdminV1betaListMeasurementProtocolSecretsResponse": {
      "id": "GoogleAnalyticsAdminV1betaListMeasurementProtocolSecretsResponse",
      "description": "Response message for ListMeasurementProtocolSecret RPC",
      "type": "object",
      "properties": {
        "measurementProtocolSecrets": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaMeasurementProtocolSecret"
          },
          "description": "A list of secrets for the parent stream specified in the request."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1betaNumericValue": {
      "properties": {
        "int64Value": {
          "description": "Integer value",
          "type": "string",
          "format": "int64"
        },
        "doubleValue": {
          "description": "Double value",
          "type": "number",
          "format": "double"
        }
      },
      "type": "object",
      "id": "GoogleAnalyticsAdminV1betaNumericValue",
      "description": "To represent a number."
    },
    "GoogleAnalyticsAdminV1betaAcknowledgeUserDataCollectionResponse": {
      "properties": {},
      "type": "object",
      "id": "GoogleAnalyticsAdminV1betaAcknowledgeUserDataCollectionResponse",
      "description": "Response message for AcknowledgeUserDataCollection RPC."
    },
    "GoogleAnalyticsAdminV1betaDataStream": {
      "properties": {
        "iosAppStreamData": {
          "description": "Data specific to iOS app streams. Must be populated if type is IOS_APP_DATA_STREAM.",
          "$ref": "GoogleAnalyticsAdminV1betaDataStreamIosAppStreamData"
        },
        "updateTime": {
          "description": "Output only. Time when stream payload fields were last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "type": {
          "description": "Required. Immutable. The type of this DataStream resource.",
          "enum": [
            "DATA_STREAM_TYPE_UNSPECIFIED",
            "WEB_DATA_STREAM",
            "ANDROID_APP_DATA_STREAM",
            "IOS_APP_DATA_STREAM"
          ],
          "type": "string",
          "enumDescriptions": [
            "Type unknown or not specified.",
            "Web data stream.",
            "Android app data stream.",
            "iOS app data stream."
          ]
        },
        "androidAppStreamData": {
          "description": "Data specific to Android app streams. Must be populated if type is ANDROID_APP_DATA_STREAM.",
          "$ref": "GoogleAnalyticsAdminV1betaDataStreamAndroidAppStreamData"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Resource name of this Data Stream. Format: properties/{property_id}/dataStreams/{stream_id} Example: \"properties/1000/dataStreams/2000\""
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time when this stream was originally created."
        },
        "webStreamData": {
          "description": "Data specific to web streams. Must be populated if type is WEB_DATA_STREAM.",
          "$ref": "GoogleAnalyticsAdminV1betaDataStreamWebStreamData"
        },
        "displayName": {
          "description": "Human-readable display name for the Data Stream. Required for web data streams. The max allowed display name length is 255 UTF-16 code units.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleAnalyticsAdminV1betaDataStream",
      "description": "A resource message representing a data stream."
    },
    "GoogleAnalyticsAdminV1betaDataStreamAndroidAppStreamData": {
      "properties": {
        "firebaseAppId": {
          "description": "Output only. ID of the corresponding Android app in Firebase, if any. This ID can change if the Android app is deleted and recreated.",
          "readOnly": true,
          "type": "string"
        },
        "packageName": {
          "type": "string",
          "description": "Immutable. The package name for the app being measured. Example: \"com.example.myandroidapp\""
        }
      },
      "id": "GoogleAnalyticsAdminV1betaDataStreamAndroidAppStreamData",
      "description": "Data specific to Android app streams.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1betaKeyEvent": {
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Resource name of this key event. Format: properties/{property}/keyEvents/{key_event}"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time when this key event was created in the property."
        },
        "custom": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. If set to true, this key event refers to a custom event. If set to false, this key event refers to a default event in GA. Default events typically have special meaning in GA. Default events are usually created for you by the GA system, but in some cases can be created by property admins. Custom events count towards the maximum number of custom key events that may be created per property."
        },
        "defaultValue": {
          "description": "Optional. Defines a default value/currency for a key event.",
          "$ref": "GoogleAnalyticsAdminV1betaKeyEventDefaultValue"
        },
        "eventName": {
          "type": "string",
          "description": "Immutable. The event name for this key event. Examples: 'click', 'purchase'"
        },
        "countingMethod": {
          "description": "Required. The method by which Key Events will be counted across multiple events within a session.",
          "enum": [
            "COUNTING_METHOD_UNSPECIFIED",
            "ONCE_PER_EVENT",
            "ONCE_PER_SESSION"
          ],
          "type": "string",
          "enumDescriptions": [
            "Counting method not specified.",
            "Each Event instance is considered a Key Event.",
            "An Event instance is considered a Key Event at most once per session per user."
          ]
        },
        "deletable": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. If set to true, this event can be deleted."
        }
      },
      "id": "GoogleAnalyticsAdminV1betaKeyEvent",
      "description": "A key event in a Google Analytics property.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1betaAccessDimensionValue": {
      "properties": {
        "value": {
          "description": "The dimension value. For example, this value may be 'France' for the 'country' dimension.",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1betaAccessDimensionValue",
      "description": "The value of a dimension.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1betaRunAccessReportResponse": {
      "id": "GoogleAnalyticsAdminV1betaRunAccessReportResponse",
      "description": "The customized Data Access Record Report response.",
      "type": "object",
      "properties": {
        "quota": {
          "description": "The quota state for this Analytics property including this request. This field doesn't work with account-level requests.",
          "$ref": "GoogleAnalyticsAdminV1betaAccessQuota"
        },
        "dimensionHeaders": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaAccessDimensionHeader"
          },
          "description": "The header for a column in the report that corresponds to a specific dimension. The number of DimensionHeaders and ordering of DimensionHeaders matches the dimensions present in rows."
        },
        "metricHeaders": {
          "description": "The header for a column in the report that corresponds to a specific metric. The number of MetricHeaders and ordering of MetricHeaders matches the metrics present in rows.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaAccessMetricHeader"
          }
        },
        "rows": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaAccessRow"
          },
          "description": "Rows of dimension value combinations and metric values in the report."
        },
        "rowCount": {
          "format": "int32",
          "description": "The total number of rows in the query result. `rowCount` is independent of the number of rows returned in the response, the `limit` request parameter, and the `offset` request parameter. For example if a query returns 175 rows and includes `limit` of 50 in the API request, the response will contain `rowCount` of 175 but only 50 rows. To learn more about this pagination parameter, see [Pagination](https://developers.google.com/analytics/devguides/reporting/data/v1/basics#pagination).",
          "type": "integer"
        }
      }
    },
    "GoogleAnalyticsAdminV1betaCustomDimension": {
      "id": "GoogleAnalyticsAdminV1betaCustomDimension",
      "description": "A definition for a CustomDimension.",
      "type": "object",
      "properties": {
        "scope": {
          "enumDescriptions": [
            "Scope unknown or not specified.",
            "Dimension scoped to an event.",
            "Dimension scoped to a user.",
            "Dimension scoped to eCommerce items"
          ],
          "type": "string",
          "description": "Required. Immutable. The scope of this dimension.",
          "enum": [
            "DIMENSION_SCOPE_UNSPECIFIED",
            "EVENT",
            "USER",
            "ITEM"
          ]
        },
        "disallowAdsPersonalization": {
          "type": "boolean",
          "description": "Optional. If set to true, sets this dimension as NPA and excludes it from ads personalization. This is currently only supported by user-scoped custom dimensions."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description for this custom dimension. Max length of 150 characters."
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name for this custom dimension as shown in the Analytics UI. Max length of 82 characters, alphanumeric plus space and underscore starting with a letter. Legacy system-generated display names may contain square brackets, but updates to this field will never permit square brackets."
        },
        "name": {
          "type": "string",
          "description": "Identifier. Resource name for this CustomDimension resource. Format: properties/{property}/customDimensions/{customDimension}"
        },
        "parameterName": {
          "type": "string",
          "description": "Required. Immutable. Tagging parameter name for this custom dimension. If this is a user-scoped dimension, then this is the user property name. If this is an event-scoped dimension, then this is the event parameter name. If this is an item-scoped dimension, then this is the parameter name found in the eCommerce items array. May only contain alphanumeric and underscore characters, starting with a letter. Max length of 24 characters for user-scoped dimensions, 40 characters for event-scoped dimensions."
        }
      }
    },
    "GoogleAnalyticsAdminV1betaAccessOrderByDimensionOrderBy": {
      "properties": {
        "orderType": {
          "enumDescriptions": [
            "Unspecified.",
            "Alphanumeric sort by Unicode code point. For example, \"2\" < \"A\" < \"X\" < \"b\" < \"z\".",
            "Case insensitive alphanumeric sort by lower case Unicode code point. For example, \"2\" < \"A\" < \"b\" < \"X\" < \"z\".",
            "Dimension values are converted to numbers before sorting. For example in NUMERIC sort, \"25\" < \"100\", and in `ALPHANUMERIC` sort, \"100\" < \"25\". Non-numeric dimension values all have equal ordering value below all numeric values."
          ],
          "description": "Controls the rule for dimension value ordering.",
          "enum": [
            "ORDER_TYPE_UNSPECIFIED",
            "ALPHANUMERIC",
            "CASE_INSENSITIVE_ALPHANUMERIC",
            "NUMERIC"
          ],
          "type": "string"
        },
        "dimensionName": {
          "type": "string",
          "description": "A dimension name in the request to order by."
        }
      },
      "id": "GoogleAnalyticsAdminV1betaAccessOrderByDimensionOrderBy",
      "description": "Sorts by dimension values.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1betaListDataStreamsResponse": {
      "properties": {
        "dataStreams": {
          "description": "List of DataStreams.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaDataStream"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleAnalyticsAdminV1betaListDataStreamsResponse",
      "description": "Response message for ListDataStreams RPC."
    },
    "GoogleAnalyticsAdminV1betaFirebaseLink": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1betaFirebaseLink",
      "description": "A link between a Google Analytics property and a Firebase project.",
      "properties": {
        "project": {
          "description": "Immutable. Firebase project resource name. When creating a FirebaseLink, you may provide this resource name using either a project number or project ID. Once this resource has been created, returned FirebaseLinks will always have a project_name that contains a project number. Format: 'projects/{project number}' Example: 'projects/1234'",
          "type": "string"
        },
        "name": {
          "description": "Identifier. Example format: properties/1234/firebaseLinks/5678",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time when this FirebaseLink was originally created."
        }
      }
    },
    "GoogleAnalyticsAdminV1betaAccount": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1betaAccount",
      "description": "A resource message representing a Google Analytics account.",
      "properties": {
        "regionCode": {
          "type": "string",
          "description": "Country of business. Must be a Unicode CLDR region code."
        },
        "name": {
          "description": "Identifier. Resource name of this account. Format: accounts/{account} Example: \"accounts/100\"",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Time when this account was originally created.",
          "readOnly": true,
          "type": "string"
        },
        "deleted": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Indicates whether this Account is soft-deleted or not. Deleted accounts are excluded from List results unless specifically requested."
        },
        "displayName": {
          "type": "string",
          "description": "Required. Human-readable display name for this account."
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time when account payload fields were last updated."
        },
        "gmpOrganization": {
          "description": "Output only. The URI for a Google Marketing Platform organization resource. Only set when this account is connected to a GMP organization. Format: marketingplatformadmin.googleapis.com/organizations/{org_id}",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1betaAccessFilterExpression": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1betaAccessFilterExpression",
      "description": "Expresses dimension or metric filters. The fields in the same expression need to be either all dimensions or all metrics.",
      "properties": {
        "notExpression": {
          "description": "The FilterExpression is NOT of not_expression.",
          "$ref": "GoogleAnalyticsAdminV1betaAccessFilterExpression"
        },
        "accessFilter": {
          "description": "A primitive filter. In the same FilterExpression, all of the filter's field names need to be either all dimensions or all metrics.",
          "$ref": "GoogleAnalyticsAdminV1betaAccessFilter"
        },
        "andGroup": {
          "description": "Each of the FilterExpressions in the and_group has an AND relationship.",
          "$ref": "GoogleAnalyticsAdminV1betaAccessFilterExpressionList"
        },
        "orGroup": {
          "description": "Each of the FilterExpressions in the or_group has an OR relationship.",
          "$ref": "GoogleAnalyticsAdminV1betaAccessFilterExpressionList"
        }
      }
    },
    "GoogleAnalyticsAdminV1betaChangeHistoryChangeChangeHistoryResource": {
      "properties": {
        "firebaseLink": {
          "description": "A snapshot of a FirebaseLink resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1betaFirebaseLink"
        },
        "measurementProtocolSecret": {
          "description": "A snapshot of a MeasurementProtocolSecret resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1betaMeasurementProtocolSecret"
        },
        "dataRetentionSettings": {
          "description": "A snapshot of a data retention settings resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1betaDataRetentionSettings"
        },
        "account": {
          "description": "A snapshot of an Account resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1betaAccount"
        },
        "dataStream": {
          "description": "A snapshot of a DataStream resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1betaDataStream"
        },
        "conversionEvent": {
          "description": "A snapshot of a ConversionEvent resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1betaConversionEvent"
        },
        "property": {
          "description": "A snapshot of a Property resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1betaProperty"
        },
        "googleAdsLink": {
          "description": "A snapshot of a GoogleAdsLink resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1betaGoogleAdsLink"
        }
      },
      "id": "GoogleAnalyticsAdminV1betaChangeHistoryChangeChangeHistoryResource",
      "description": "A snapshot of a resource as before or after the result of a change in change history.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1betaPropertySummary": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1betaPropertySummary",
      "description": "A virtual resource representing metadata for a Google Analytics property.",
      "properties": {
        "property": {
          "type": "string",
          "description": "Resource name of property referred to by this property summary Format: properties/{property_id} Example: \"properties/1000\""
        },
        "parent": {
          "type": "string",
          "description": "Resource name of this property's logical parent. Note: The Property-Moving UI can be used to change the parent. Format: accounts/{account}, properties/{property} Example: \"accounts/100\", \"properties/200\""
        },
        "canEdit": {
          "type": "boolean",
          "description": "If true, then the user has a Google Analytics role that permits them to edit the property."
        },
        "displayName": {
          "type": "string",
          "description": "Display name for the property referred to in this property summary."
        },
        "propertyType": {
          "enumDescriptions": [
            "Unknown or unspecified property type",
            "Ordinary Google Analytics property",
            "Google Analytics subproperty",
            "Google Analytics rollup property"
          ],
          "type": "string",
          "description": "The property's property type.",
          "enum": [
            "PROPERTY_TYPE_UNSPECIFIED",
            "PROPERTY_TYPE_ORDINARY",
            "PROPERTY_TYPE_SUBPROPERTY",
            "PROPERTY_TYPE_ROLLUP"
          ]
        }
      }
    },
    "GoogleAnalyticsAdminV1betaAccessMetricHeader": {
      "properties": {
        "metricName": {
          "type": "string",
          "description": "The metric's name; for example 'accessCount'."
        }
      },
      "id": "GoogleAnalyticsAdminV1betaAccessMetricHeader",
      "description": "Describes a metric column in the report. Visible metrics requested in a report produce column entries within rows and MetricHeaders. However, metrics used exclusively within filters or expressions do not produce columns in a report; correspondingly, those metrics do not produce headers.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1betaDataStreamIosAppStreamData": {
      "properties": {
        "bundleId": {
          "description": "Required. Immutable. The Apple App Store Bundle ID for the app Example: \"com.example.myiosapp\"",
          "type": "string"
        },
        "firebaseAppId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. ID of the corresponding iOS app in Firebase, if any. This ID can change if the iOS app is deleted and recreated."
        }
      },
      "id": "GoogleAnalyticsAdminV1betaDataStreamIosAppStreamData",
      "description": "Data specific to iOS app streams.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1betaAccessQuota": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1betaAccessQuota",
      "description": "Current state of all quotas for this Analytics property. If any quota for a property is exhausted, all requests to that property will return Resource Exhausted errors.",
      "properties": {
        "tokensPerDay": {
          "description": "Properties can use 250,000 tokens per day. Most requests consume fewer than 10 tokens.",
          "$ref": "GoogleAnalyticsAdminV1betaAccessQuotaStatus"
        },
        "tokensPerHour": {
          "description": "Properties can use 50,000 tokens per hour. An API request consumes a single number of tokens, and that number is deducted from all of the hourly, daily, and per project hourly quotas.",
          "$ref": "GoogleAnalyticsAdminV1betaAccessQuotaStatus"
        },
        "concurrentRequests": {
          "description": "Properties can use up to 50 concurrent requests.",
          "$ref": "GoogleAnalyticsAdminV1betaAccessQuotaStatus"
        },
        "serverErrorsPerProjectPerHour": {
          "description": "Properties and cloud project pairs can have up to 50 server errors per hour.",
          "$ref": "GoogleAnalyticsAdminV1betaAccessQuotaStatus"
        },
        "tokensPerProjectPerHour": {
          "description": "Properties can use up to 25% of their tokens per project per hour. This amounts to Analytics 360 Properties can use 12,500 tokens per project per hour. An API request consumes a single number of tokens, and that number is deducted from all of the hourly, daily, and per project hourly quotas.",
          "$ref": "GoogleAnalyticsAdminV1betaAccessQuotaStatus"
        }
      }
    },
    "GoogleAnalyticsAdminV1betaListGoogleAdsLinksResponse": {
      "properties": {
        "googleAdsLinks": {
          "description": "List of GoogleAdsLinks.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaGoogleAdsLink"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "type": "object",
      "id": "GoogleAnalyticsAdminV1betaListGoogleAdsLinksResponse",
      "description": "Response message for ListGoogleAdsLinks RPC."
    },
    "GoogleAnalyticsAdminV1betaAccessDimensionHeader": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1betaAccessDimensionHeader",
      "description": "Describes a dimension column in the report. Dimensions requested in a report produce column entries within rows and DimensionHeaders. However, dimensions used exclusively within filters or expressions do not produce columns in a report; correspondingly, those dimensions do not produce headers.",
      "properties": {
        "dimensionName": {
          "type": "string",
          "description": "The dimension's name; for example 'userEmail'."
        }
      }
    },
    "GoogleAnalyticsAdminV1betaChangeHistoryEvent": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1betaChangeHistoryEvent",
      "description": "A set of changes within a Google Analytics account or its child properties that resulted from the same cause. Common causes would be updates made in the Google Analytics UI, changes from customer support, or automatic Google Analytics system changes.",
      "properties": {
        "changesFiltered": {
          "description": "If true, then the list of changes returned was filtered, and does not represent all changes that occurred in this event.",
          "type": "boolean"
        },
        "id": {
          "description": "ID of this change history event. This ID is unique across Google Analytics.",
          "type": "string"
        },
        "actorType": {
          "description": "The type of actor that made this change.",
          "enum": [
            "ACTOR_TYPE_UNSPECIFIED",
            "USER",
            "SYSTEM",
            "SUPPORT"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown or unspecified actor type.",
            "Changes made by the user specified in actor_email.",
            "Changes made by the Google Analytics system.",
            "Changes made by Google Analytics support team staff."
          ]
        },
        "userActorEmail": {
          "description": "Email address of the Google account that made the change. This will be a valid email address if the actor field is set to USER, and empty otherwise. Google accounts that have been deleted will cause an error.",
          "type": "string"
        },
        "changes": {
          "description": "A list of changes made in this change history event that fit the filters specified in SearchChangeHistoryEventsRequest.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaChangeHistoryChange"
          }
        },
        "changeTime": {
          "description": "Time when change was made.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleAnalyticsAdminV1betaMeasurementProtocolSecret": {
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Required. Human-readable display name for this secret."
        },
        "secretValue": {
          "description": "Output only. The measurement protocol secret value. Pass this value to the api_secret field of the Measurement Protocol API when sending hits to this secret's parent property.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Resource name of this secret. This secret may be a child of any type of stream. Format: properties/{property}/dataStreams/{dataStream}/measurementProtocolSecrets/{measurementProtocolSecret}"
        }
      },
      "id": "GoogleAnalyticsAdminV1betaMeasurementProtocolSecret",
      "description": "A secret value used for sending hits to Measurement Protocol.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1betaAccessRow": {
      "properties": {
        "metricValues": {
          "description": "List of metric values. These values are in the same order as specified in the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaAccessMetricValue"
          }
        },
        "dimensionValues": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaAccessDimensionValue"
          },
          "description": "List of dimension values. These values are in the same order as specified in the request."
        }
      },
      "id": "GoogleAnalyticsAdminV1betaAccessRow",
      "description": "Access report data for each row.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1betaAcknowledgeUserDataCollectionRequest": {
      "properties": {
        "acknowledgement": {
          "type": "string",
          "description": "Required. An acknowledgement that the caller of this method understands the terms of user data collection. This field must contain the exact value: \"I acknowledge that I have the necessary privacy disclosures and rights from my end users for the collection and processing of their data, including the association of such data with the visitation information Google Analytics collects from my site and/or app property.\""
        }
      },
      "type": "object",
      "id": "GoogleAnalyticsAdminV1betaAcknowledgeUserDataCollectionRequest",
      "description": "Request message for AcknowledgeUserDataCollection RPC."
    },
    "GoogleAnalyticsAdminV1betaAccessOrderByMetricOrderBy": {
      "properties": {
        "metricName": {
          "description": "A metric name in the request to order by.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleAnalyticsAdminV1betaAccessOrderByMetricOrderBy",
      "description": "Sorts by metric values."
    },
    "GoogleProtobufEmpty": {
      "properties": {},
      "type": "object",
      "id": "GoogleProtobufEmpty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "GoogleAnalyticsAdminV1betaAccessQuotaStatus": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1betaAccessQuotaStatus",
      "description": "Current state for a particular quota group.",
      "properties": {
        "consumed": {
          "format": "int32",
          "type": "integer",
          "description": "Quota consumed by this request."
        },
        "remaining": {
          "description": "Quota remaining after this request.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleAnalyticsAdminV1betaAccountSummary": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1betaAccountSummary",
      "description": "A virtual resource representing an overview of an account and all its child Google Analytics properties.",
      "properties": {
        "displayName": {
          "description": "Display name for the account referred to in this account summary.",
          "type": "string"
        },
        "account": {
          "type": "string",
          "description": "Resource name of account referred to by this account summary Format: accounts/{account_id} Example: \"accounts/1000\""
        },
        "name": {
          "description": "Identifier. Resource name for this account summary. Format: accountSummaries/{account_id} Example: \"accountSummaries/1000\"",
          "type": "string"
        },
        "propertySummaries": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaPropertySummary"
          },
          "description": "List of summaries for child accounts of this account."
        }
      }
    },
    "GoogleAnalyticsAdminV1betaListPropertiesResponse": {
      "properties": {
        "properties": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaProperty"
          },
          "description": "Results that matched the filter criteria and were accessible to the caller."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "GoogleAnalyticsAdminV1betaListPropertiesResponse",
      "description": "Response message for ListProperties RPC.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1betaSearchChangeHistoryEventsRequest": {
      "properties": {
        "latestChangeTime": {
          "description": "Optional. If set, only return changes made before this time (inclusive).",
          "type": "string",
          "format": "google-datetime"
        },
        "pageSize": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The maximum number of ChangeHistoryEvent items to return. If unspecified, at most 50 items will be returned. The maximum value is 200 (higher values will be coerced to the maximum). Note that the service may return a page with fewer items than this value specifies (potentially even zero), and that there still may be additional pages. If you want a particular number of items, you'll need to continue requesting additional pages using `page_token` until you get the needed number."
        },
        "action": {
          "type": "array",
          "items": {
            "enum": [
              "ACTION_TYPE_UNSPECIFIED",
              "CREATED",
              "UPDATED",
              "DELETED"
            ],
            "type": "string",
            "enumDescriptions": [
              "Action type unknown or not specified.",
              "Resource was created in this change.",
              "Resource was updated in this change.",
              "Resource was deleted in this change."
            ]
          },
          "description": "Optional. If set, only return changes that match one or more of these types of actions."
        },
        "pageToken": {
          "description": "Optional. A page token, received from a previous `SearchChangeHistoryEvents` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `SearchChangeHistoryEvents` must match the call that provided the page token.",
          "type": "string"
        },
        "actorEmail": {
          "description": "Optional. If set, only return changes if they are made by a user in this list.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "property": {
          "type": "string",
          "description": "Optional. Resource name for a child property. If set, only return changes made to this property or its child resources. Format: properties/{propertyId} Example: `properties/100`"
        },
        "resourceType": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Resource type unknown or not specified.",
              "Account resource",
              "Property resource",
              "FirebaseLink resource",
              "GoogleAdsLink resource",
              "GoogleSignalsSettings resource",
              "ConversionEvent resource",
              "MeasurementProtocolSecret resource",
              "CustomDimension resource",
              "CustomMetric resource",
              "DataRetentionSettings resource",
              "DisplayVideo360AdvertiserLink resource",
              "DisplayVideo360AdvertiserLinkProposal resource",
              "DataStream resource",
              "AttributionSettings resource"
            ],
            "enum": [
              "CHANGE_HISTORY_RESOURCE_TYPE_UNSPECIFIED",
              "ACCOUNT",
              "PROPERTY",
              "FIREBASE_LINK",
              "GOOGLE_ADS_LINK",
              "GOOGLE_SIGNALS_SETTINGS",
              "CONVERSION_EVENT",
              "MEASUREMENT_PROTOCOL_SECRET",
              "CUSTOM_DIMENSION",
              "CUSTOM_METRIC",
              "DATA_RETENTION_SETTINGS",
              "DISPLAY_VIDEO_360_ADVERTISER_LINK",
              "DISPLAY_VIDEO_360_ADVERTISER_LINK_PROPOSAL",
              "DATA_STREAM",
              "ATTRIBUTION_SETTINGS"
            ],
            "type": "string"
          },
          "description": "Optional. If set, only return changes if they are for a resource that matches at least one of these types."
        },
        "earliestChangeTime": {
          "description": "Optional. If set, only return changes made after this time (inclusive).",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "GoogleAnalyticsAdminV1betaSearchChangeHistoryEventsRequest",
      "description": "Request message for SearchChangeHistoryEvents RPC."
    },
    "GoogleAnalyticsAdminV1betaAccessDateRange": {
      "id": "GoogleAnalyticsAdminV1betaAccessDateRange",
      "description": "A contiguous range of days: startDate, startDate + 1, ..., endDate.",
      "type": "object",
      "properties": {
        "endDate": {
          "type": "string",
          "description": "The inclusive end date for the query in the format `YYYY-MM-DD`. Cannot be before `startDate`. The format `NdaysAgo`, `yesterday`, or `today` is also accepted, and in that case, the date is inferred based on the current time in the request's time zone."
        },
        "startDate": {
          "type": "string",
          "description": "The inclusive start date for the query in the format `YYYY-MM-DD`. Cannot be after `endDate`. The format `NdaysAgo`, `yesterday`, or `today` is also accepted, and in that case, the date is inferred based on the current time in the request's time zone."
        }
      }
    },
    "GoogleAnalyticsAdminV1betaListAccountSummariesResponse": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1betaListAccountSummariesResponse",
      "description": "Response message for ListAccountSummaries RPC.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "accountSummaries": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaAccountSummary"
          },
          "description": "Account summaries of all accounts the caller has access to."
        }
      }
    },
    "GoogleAnalyticsAdminV1betaAccessInListFilter": {
      "properties": {
        "values": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of string values. Must be non-empty."
        },
        "caseSensitive": {
          "type": "boolean",
          "description": "If true, the string value is case sensitive."
        }
      },
      "id": "GoogleAnalyticsAdminV1betaAccessInListFilter",
      "description": "The result needs to be in a list of string values.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1betaDataSharingSettings": {
      "properties": {
        "sharingWithGoogleProductsEnabled": {
          "description": "Allows Google to use the data to improve other Google products or services. This fields maps to the \"Google products & services\" field in the Google Analytics Admin UI.",
          "type": "boolean"
        },
        "sharingWithOthersEnabled": {
          "type": "boolean",
          "description": "Enable features like predictions, modeled data, and benchmarking that can provide you with richer business insights when you contribute aggregated measurement data. The data you share (including information about the property from which it is shared) is aggregated and de-identified before being used to generate business insights. This field maps to the \"Modeling contributions & business insights\" field in the Google Analytics Admin UI."
        },
        "sharingWithGoogleSupportEnabled": {
          "description": "Allows Google technical support representatives access to your Google Analytics data and account when necessary to provide service and find solutions to technical issues. This field maps to the \"Technical support\" field in the Google Analytics Admin UI.",
          "type": "boolean"
        },
        "name": {
          "description": "Identifier. Resource name. Format: accounts/{account}/dataSharingSettings Example: \"accounts/1000/dataSharingSettings\"",
          "type": "string"
        },
        "sharingWithGoogleAnySalesEnabled": {
          "deprecated": true,
          "type": "boolean",
          "description": "Deprecated. This field is no longer used and always returns false."
        },
        "sharingWithGoogleAssignedSalesEnabled": {
          "description": "Allows Google access to your Google Analytics account data, including account usage and configuration data, product spending, and users associated with your Google Analytics account, so that Google can help you make the most of Google products, providing you with insights, offers, recommendations, and optimization tips across Google Analytics and other Google products for business. This field maps to the \"Recommendations for your business\" field in the Google Analytics Admin UI.",
          "type": "boolean"
        }
      },
      "id": "GoogleAnalyticsAdminV1betaDataSharingSettings",
      "description": "A resource message representing data sharing settings of a Google Analytics account.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1betaArchiveCustomMetricRequest": {
      "properties": {},
      "id": "GoogleAnalyticsAdminV1betaArchiveCustomMetricRequest",
      "description": "Request message for ArchiveCustomMetric RPC.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1betaProvisionAccountTicketRequest": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1betaProvisionAccountTicketRequest",
      "description": "Request message for ProvisionAccountTicket RPC.",
      "properties": {
        "account": {
          "description": "The account to create.",
          "$ref": "GoogleAnalyticsAdminV1betaAccount"
        },
        "redirectUri": {
          "description": "Redirect URI where the user will be sent after accepting Terms of Service. Must be configured in Cloud Console as a Redirect URI.",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1betaConversionEventDefaultConversionValue": {
      "id": "GoogleAnalyticsAdminV1betaConversionEventDefaultConversionValue",
      "description": "Defines a default value/currency for a conversion event. Both value and currency must be provided.",
      "type": "object",
      "properties": {
        "currencyCode": {
          "description": "When a conversion event for this event_name has no set currency, this currency will be applied as the default. Must be in ISO 4217 currency code format. See https://en.wikipedia.org/wiki/ISO_4217 for more information.",
          "type": "string"
        },
        "value": {
          "description": "This value will be used to populate the value for all conversions of the specified event_name where the event \"value\" parameter is unset.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "GoogleAnalyticsAdminV1betaDataRetentionSettings": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1betaDataRetentionSettings",
      "description": "Settings values for data retention. This is a singleton resource.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. Resource name for this DataRetentionSetting resource. Format: properties/{property}/dataRetentionSettings"
        },
        "resetUserDataOnNewActivity": {
          "type": "boolean",
          "description": "If true, reset the retention period for the user identifier with every event from that user."
        },
        "userDataRetention": {
          "enumDescriptions": [
            "Data retention time duration is not specified.",
            "The data retention time duration is 2 months.",
            "The data retention time duration is 14 months.",
            "The data retention time duration is 26 months. Available to 360 properties only. Available for event data only.",
            "The data retention time duration is 38 months. Available to 360 properties only. Available for event data only.",
            "The data retention time duration is 50 months. Available to 360 properties only. Available for event data only."
          ],
          "description": "Required. The length of time that user-level data is retained.",
          "enum": [
            "RETENTION_DURATION_UNSPECIFIED",
            "TWO_MONTHS",
            "FOURTEEN_MONTHS",
            "TWENTY_SIX_MONTHS",
            "THIRTY_EIGHT_MONTHS",
            "FIFTY_MONTHS"
          ],
          "type": "string"
        },
        "eventDataRetention": {
          "type": "string",
          "description": "Required. The length of time that event-level data is retained.",
          "enum": [
            "RETENTION_DURATION_UNSPECIFIED",
            "TWO_MONTHS",
            "FOURTEEN_MONTHS",
            "TWENTY_SIX_MONTHS",
            "THIRTY_EIGHT_MONTHS",
            "FIFTY_MONTHS"
          ],
          "enumDescriptions": [
            "Data retention time duration is not specified.",
            "The data retention time duration is 2 months.",
            "The data retention time duration is 14 months.",
            "The data retention time duration is 26 months. Available to 360 properties only. Available for event data only.",
            "The data retention time duration is 38 months. Available to 360 properties only. Available for event data only.",
            "The data retention time duration is 50 months. Available to 360 properties only. Available for event data only."
          ]
        }
      }
    },
    "GoogleAnalyticsAdminV1betaListAccountsResponse": {
      "id": "GoogleAnalyticsAdminV1betaListAccountsResponse",
      "description": "Request message for ListAccounts RPC.",
      "type": "object",
      "properties": {
        "accounts": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaAccount"
          },
          "description": "Results that were accessible to the caller."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "GoogleAnalyticsAdminV1betaListFirebaseLinksResponse": {
      "id": "GoogleAnalyticsAdminV1betaListFirebaseLinksResponse",
      "description": "Response message for ListFirebaseLinks RPC",
      "type": "object",
      "properties": {
        "firebaseLinks": {
          "description": "List of FirebaseLinks. This will have at most one value.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaFirebaseLink"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages. Currently, Google Analytics supports only one FirebaseLink per property, so this will never be populated.",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1betaAccessBetweenFilter": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1betaAccessBetweenFilter",
      "description": "To express that the result needs to be between two numbers (inclusive).",
      "properties": {
        "toValue": {
          "description": "Ends with this number.",
          "$ref": "GoogleAnalyticsAdminV1betaNumericValue"
        },
        "fromValue": {
          "description": "Begins with this number.",
          "$ref": "GoogleAnalyticsAdminV1betaNumericValue"
        }
      }
    },
    "GoogleAnalyticsAdminV1betaKeyEventDefaultValue": {
      "id": "GoogleAnalyticsAdminV1betaKeyEventDefaultValue",
      "description": "Defines a default value/currency for a key event.",
      "type": "object",
      "properties": {
        "numericValue": {
          "format": "double",
          "type": "number",
          "description": "Required. This will be used to populate the \"value\" parameter for all occurrences of this Key Event (specified by event_name) where that parameter is unset."
        },
        "currencyCode": {
          "type": "string",
          "description": "Required. When an occurrence of this Key Event (specified by event_name) has no set currency this currency will be applied as the default. Must be in ISO 4217 currency code format. See https://en.wikipedia.org/wiki/ISO_4217 for more information."
        }
      }
    },
    "GoogleAnalyticsAdminV1betaAccessMetric": {
      "id": "GoogleAnalyticsAdminV1betaAccessMetric",
      "description": "The quantitative measurements of a report. For example, the metric `accessCount` is the total number of data access records.",
      "type": "object",
      "properties": {
        "metricName": {
          "type": "string",
          "description": "The API name of the metric. See [Data Access Schema](https://developers.google.com/analytics/devguides/config/admin/v1/access-api-schema) for the list of metrics supported in this API. Metrics are referenced by name in `metricFilter` & `orderBys`."
        }
      }
    },
    "GoogleAnalyticsAdminV1betaDataStreamWebStreamData": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1betaDataStreamWebStreamData",
      "description": "Data specific to web streams.",
      "properties": {
        "firebaseAppId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. ID of the corresponding web app in Firebase, if any. This ID can change if the web app is deleted and recreated."
        },
        "defaultUri": {
          "type": "string",
          "description": "Domain name of the web app being measured, or empty. Example: \"http://www.google.com\", \"https://www.google.com\""
        },
        "measurementId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Analytics Measurement ID. Example: \"G-1A2BCD345E\""
        }
      }
    },
    "GoogleAnalyticsAdminV1betaListKeyEventsResponse": {
      "properties": {
        "keyEvents": {
          "description": "The requested Key Events",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaKeyEvent"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleAnalyticsAdminV1betaListKeyEventsResponse",
      "description": "Response message for ListKeyEvents RPC."
    },
    "GoogleAnalyticsAdminV1betaAccessFilter": {
      "properties": {
        "stringFilter": {
          "description": "Strings related filter.",
          "$ref": "GoogleAnalyticsAdminV1betaAccessStringFilter"
        },
        "betweenFilter": {
          "description": "A filter for two values.",
          "$ref": "GoogleAnalyticsAdminV1betaAccessBetweenFilter"
        },
        "fieldName": {
          "description": "The dimension name or metric name.",
          "type": "string"
        },
        "inListFilter": {
          "description": "A filter for in list values.",
          "$ref": "GoogleAnalyticsAdminV1betaAccessInListFilter"
        },
        "numericFilter": {
          "description": "A filter for numeric or date values.",
          "$ref": "GoogleAnalyticsAdminV1betaAccessNumericFilter"
        }
      },
      "id": "GoogleAnalyticsAdminV1betaAccessFilter",
      "description": "An expression to filter dimension or metric values.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1betaGoogleAdsLink": {
      "properties": {
        "customerId": {
          "type": "string",
          "description": "Immutable. Google Ads customer ID."
        },
        "adsPersonalizationEnabled": {
          "description": "Enable personalized advertising features with this integration. Automatically publish my Google Analytics audience lists and Google Analytics remarketing events/parameters to the linked Google Ads account. If this field is not set on create/update, it will be defaulted to true.",
          "type": "boolean"
        },
        "creatorEmailAddress": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Email address of the user that created the link. An empty string will be returned if the email address can't be retrieved."
        },
        "canManageClients": {
          "description": "Output only. If true, this link is for a Google Ads manager account.",
          "readOnly": true,
          "type": "boolean"
        },
        "name": {
          "description": "Identifier. Format: properties/{propertyId}/googleAdsLinks/{googleAdsLinkId} Note: googleAdsLinkId is not the Google Ads customer ID.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Time when this link was originally created.",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time when this link was last updated."
        }
      },
      "id": "GoogleAnalyticsAdminV1betaGoogleAdsLink",
      "description": "A link between a Google Analytics property and a Google Ads account.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1betaAccessDimension": {
      "id": "GoogleAnalyticsAdminV1betaAccessDimension",
      "description": "Dimensions are attributes of your data. For example, the dimension `userEmail` indicates the email of the user that accessed reporting data. Dimension values in report responses are strings.",
      "type": "object",
      "properties": {
        "dimensionName": {
          "description": "The API name of the dimension. See [Data Access Schema](https://developers.google.com/analytics/devguides/config/admin/v1/access-api-schema) for the list of dimensions supported in this API. Dimensions are referenced by name in `dimensionFilter` and `orderBys`.",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1betaProperty": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. Resource name of this property. Format: properties/{property_id} Example: \"properties/1000\""
        },
        "deleteTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. If set, the time at which this property was trashed. If not set, then this property is not currently in the trash can."
        },
        "account": {
          "description": "Immutable. The resource name of the parent account Format: accounts/{account_id} Example: \"accounts/123\"",
          "type": "string"
        },
        "propertyType": {
          "description": "Immutable. The property type for this Property resource. When creating a property, if the type is \"PROPERTY_TYPE_UNSPECIFIED\", then \"ORDINARY_PROPERTY\" will be implied.",
          "enum": [
            "PROPERTY_TYPE_UNSPECIFIED",
            "PROPERTY_TYPE_ORDINARY",
            "PROPERTY_TYPE_SUBPROPERTY",
            "PROPERTY_TYPE_ROLLUP"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown or unspecified property type",
            "Ordinary Google Analytics property",
            "Google Analytics subproperty",
            "Google Analytics rollup property"
          ]
        },
        "serviceLevel": {
          "enum": [
            "SERVICE_LEVEL_UNSPECIFIED",
            "GOOGLE_ANALYTICS_STANDARD",
            "GOOGLE_ANALYTICS_360"
          ],
          "enumDescriptions": [
            "Service level not specified or invalid.",
            "The standard version of Google Analytics.",
            "The paid, premium version of Google Analytics."
          ],
          "description": "Output only. The Google Analytics service level that applies to this property.",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time when entity payload fields were last updated."
        },
        "industryCategory": {
          "description": "Industry associated with this property Example: AUTOMOTIVE, FOOD_AND_DRINK",
          "enum": [
            "INDUSTRY_CATEGORY_UNSPECIFIED",
            "AUTOMOTIVE",
            "BUSINESS_AND_INDUSTRIAL_MARKETS",
            "FINANCE",
            "HEALTHCARE",
            "TECHNOLOGY",
            "TRAVEL",
            "OTHER",
            "ARTS_AND_ENTERTAINMENT",
            "BEAUTY_AND_FITNESS",
            "BOOKS_AND_LITERATURE",
            "FOOD_AND_DRINK",
            "GAMES",
            "HOBBIES_AND_LEISURE",
            "HOME_AND_GARDEN",
            "INTERNET_AND_TELECOM",
            "LAW_AND_GOVERNMENT",
            "NEWS",
            "ONLINE_COMMUNITIES",
            "PEOPLE_AND_SOCIETY",
            "PETS_AND_ANIMALS",
            "REAL_ESTATE",
            "REFERENCE",
            "SCIENCE",
            "SPORTS",
            "JOBS_AND_EDUCATION",
            "SHOPPING"
          ],
          "type": "string",
          "enumDescriptions": [
            "Industry category unspecified",
            "Automotive",
            "Business and industrial markets",
            "Finance",
            "Healthcare",
            "Technology",
            "Travel",
            "Other",
            "Arts and entertainment",
            "Beauty and fitness",
            "Books and literature",
            "Food and drink",
            "Games",
            "Hobbies and leisure",
            "Home and garden",
            "Internet and telecom",
            "Law and government",
            "News",
            "Online communities",
            "People and society",
            "Pets and animals",
            "Real estate",
            "Reference",
            "Science",
            "Sports",
            "Jobs and education",
            "Shopping"
          ]
        },
        "createTime": {
          "description": "Output only. Time when the entity was originally created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "expireTime": {
          "description": "Output only. If set, the time at which this trashed property will be permanently deleted. If not set, then this property is not currently in the trash can and is not slated to be deleted.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "displayName": {
          "type": "string",
          "description": "Required. Human-readable display name for this property. The max allowed display name length is 100 UTF-16 code units."
        },
        "timeZone": {
          "description": "Required. Reporting Time Zone, used as the day boundary for reports, regardless of where the data originates. If the time zone honors DST, Analytics will automatically adjust for the changes. NOTE: Changing the time zone only affects data going forward, and is not applied retroactively. Format: https://www.iana.org/time-zones Example: \"America/Los_Angeles\"",
          "type": "string"
        },
        "parent": {
          "type": "string",
          "description": "Immutable. Resource name of this property's logical parent. Note: The Property-Moving UI can be used to change the parent. Format: accounts/{account}, properties/{property} Example: \"accounts/100\", \"properties/101\""
        },
        "currencyCode": {
          "type": "string",
          "description": "The currency type used in reports involving monetary values. Format: https://en.wikipedia.org/wiki/ISO_4217 Examples: \"USD\", \"EUR\", \"JPY\""
        }
      },
      "type": "object",
      "id": "GoogleAnalyticsAdminV1betaProperty",
      "description": "A resource message representing a Google Analytics property."
    },
    "GoogleAnalyticsAdminV1betaProvisionAccountTicketResponse": {
      "id": "GoogleAnalyticsAdminV1betaProvisionAccountTicketResponse",
      "description": "Response message for ProvisionAccountTicket RPC.",
      "type": "object",
      "properties": {
        "accountTicketId": {
          "type": "string",
          "description": "The param to be passed in the ToS link."
        }
      }
    },
    "GoogleAnalyticsAdminV1betaListCustomDimensionsResponse": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1betaListCustomDimensionsResponse",
      "description": "Response message for ListCustomDimensions RPC.",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "customDimensions": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaCustomDimension"
          },
          "description": "List of CustomDimensions."
        }
      }
    },
    "GoogleAnalyticsAdminV1betaRunAccessReportRequest": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1betaRunAccessReportRequest",
      "description": "The request for a Data Access Record Report.",
      "properties": {
        "offset": {
          "description": "The row count of the start row. The first row is counted as row 0. If offset is unspecified, it is treated as 0. If offset is zero, then this method will return the first page of results with `limit` entries. To learn more about this pagination parameter, see [Pagination](https://developers.google.com/analytics/devguides/reporting/data/v1/basics#pagination).",
          "type": "string",
          "format": "int64"
        },
        "dateRanges": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaAccessDateRange"
          },
          "description": "Date ranges of access records to read. If multiple date ranges are requested, each response row will contain a zero based date range index. If two date ranges overlap, the access records for the overlapping days is included in the response rows for both date ranges. Requests are allowed up to 2 date ranges."
        },
        "timeZone": {
          "description": "This request's time zone if specified. If unspecified, the property's time zone is used. The request's time zone is used to interpret the start & end dates of the report. Formatted as strings from the IANA Time Zone database (https://www.iana.org/time-zones); for example \"America/New_York\" or \"Asia/Tokyo\".",
          "type": "string"
        },
        "dimensions": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaAccessDimension"
          },
          "description": "The dimensions requested and displayed in the response. Requests are allowed up to 9 dimensions."
        },
        "limit": {
          "type": "string",
          "description": "The number of rows to return. If unspecified, 10,000 rows are returned. The API returns a maximum of 100,000 rows per request, no matter how many you ask for. `limit` must be positive. The API may return fewer rows than the requested `limit`, if there aren't as many remaining rows as the `limit`. For instance, there are fewer than 300 possible values for the dimension `country`, so when reporting on only `country`, you can't get more than 300 rows, even if you set `limit` to a higher value. To learn more about this pagination parameter, see [Pagination](https://developers.google.com/analytics/devguides/reporting/data/v1/basics#pagination).",
          "format": "int64"
        },
        "returnEntityQuota": {
          "description": "Toggles whether to return the current state of this Analytics Property's quota. Quota is returned in [AccessQuota](#AccessQuota). For account-level requests, this field must be false.",
          "type": "boolean"
        },
        "metricFilter": {
          "description": "Metric filters allow you to restrict report response to specific metric values which match the filter. Metric filters are applied after aggregating the report's rows, similar to SQL having-clause. Dimensions cannot be used in this filter.",
          "$ref": "GoogleAnalyticsAdminV1betaAccessFilterExpression"
        },
        "includeAllUsers": {
          "description": "Optional. Determines whether to include users who have never made an API call in the response. If true, all users with access to the specified property or account are included in the response, regardless of whether they have made an API call or not. If false, only the users who have made an API call will be included.",
          "type": "boolean"
        },
        "metrics": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaAccessMetric"
          },
          "description": "The metrics requested and displayed in the response. Requests are allowed up to 10 metrics."
        },
        "expandGroups": {
          "description": "Optional. Decides whether to return the users within user groups. This field works only when include_all_users is set to true. If true, it will return all users with access to the specified property or account. If false, only the users with direct access will be returned.",
          "type": "boolean"
        },
        "dimensionFilter": {
          "description": "Dimension filters let you restrict report response to specific dimension values which match the filter. For example, filtering on access records of a single user. To learn more, see [Fundamentals of Dimension Filters](https://developers.google.com/analytics/devguides/reporting/data/v1/basics#dimension_filters) for examples. Metrics cannot be used in this filter.",
          "$ref": "GoogleAnalyticsAdminV1betaAccessFilterExpression"
        },
        "orderBys": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaAccessOrderBy"
          },
          "description": "Specifies how rows are ordered in the response."
        }
      }
    },
    "GoogleAnalyticsAdminV1betaListCustomMetricsResponse": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1betaListCustomMetricsResponse",
      "description": "Response message for ListCustomMetrics RPC.",
      "properties": {
        "customMetrics": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaCustomMetric"
          },
          "description": "List of CustomMetrics."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "GoogleAnalyticsAdminV1betaAccessOrderBy": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1betaAccessOrderBy",
      "description": "Order bys define how rows will be sorted in the response. For example, ordering rows by descending access count is one ordering, and ordering rows by the country string is a different ordering.",
      "properties": {
        "desc": {
          "type": "boolean",
          "description": "If true, sorts by descending order. If false or unspecified, sorts in ascending order."
        },
        "metric": {
          "description": "Sorts results by a metric's values.",
          "$ref": "GoogleAnalyticsAdminV1betaAccessOrderByMetricOrderBy"
        },
        "dimension": {
          "description": "Sorts results by a dimension's values.",
          "$ref": "GoogleAnalyticsAdminV1betaAccessOrderByDimensionOrderBy"
        }
      }
    },
    "GoogleAnalyticsAdminV1betaAccessMetricValue": {
      "properties": {
        "value": {
          "description": "The measurement value. For example, this value may be '13'.",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1betaAccessMetricValue",
      "description": "The value of a metric.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1betaChangeHistoryChange": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1betaChangeHistoryChange",
      "description": "A description of a change to a single Google Analytics resource.",
      "properties": {
        "resource": {
          "type": "string",
          "description": "Resource name of the resource whose changes are described by this entry."
        },
        "resourceBeforeChange": {
          "description": "Resource contents from before the change was made. If this resource was created in this change, this field will be missing.",
          "$ref": "GoogleAnalyticsAdminV1betaChangeHistoryChangeChangeHistoryResource"
        },
        "action": {
          "description": "The type of action that changed this resource.",
          "enum": [
            "ACTION_TYPE_UNSPECIFIED",
            "CREATED",
            "UPDATED",
            "DELETED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Action type unknown or not specified.",
            "Resource was created in this change.",
            "Resource was updated in this change.",
            "Resource was deleted in this change."
          ]
        },
        "resourceAfterChange": {
          "description": "Resource contents from after the change was made. If this resource was deleted in this change, this field will be missing.",
          "$ref": "GoogleAnalyticsAdminV1betaChangeHistoryChangeChangeHistoryResource"
        }
      }
    },
    "GoogleAnalyticsAdminV1betaConversionEvent": {
      "id": "GoogleAnalyticsAdminV1betaConversionEvent",
      "description": "A conversion event in a Google Analytics property.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. Resource name of this conversion event. Format: properties/{property}/conversionEvents/{conversion_event}",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time when this conversion event was created in the property."
        },
        "custom": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. If set to true, this conversion event refers to a custom event. If set to false, this conversion event refers to a default event in GA. Default events typically have special meaning in GA. Default events are usually created for you by the GA system, but in some cases can be created by property admins. Custom events count towards the maximum number of custom conversion events that may be created per property."
        },
        "eventName": {
          "type": "string",
          "description": "Immutable. The event name for this conversion event. Examples: 'click', 'purchase'"
        },
        "deletable": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. If set, this event can currently be deleted with DeleteConversionEvent."
        },
        "defaultConversionValue": {
          "description": "Optional. Defines a default value/currency for a conversion event.",
          "$ref": "GoogleAnalyticsAdminV1betaConversionEventDefaultConversionValue"
        },
        "countingMethod": {
          "type": "string",
          "description": "Optional. The method by which conversions will be counted across multiple events within a session. If this value is not provided, it will be set to `ONCE_PER_EVENT`.",
          "enum": [
            "CONVERSION_COUNTING_METHOD_UNSPECIFIED",
            "ONCE_PER_EVENT",
            "ONCE_PER_SESSION"
          ],
          "enumDescriptions": [
            "Counting method not specified.",
            "Each Event instance is considered a Conversion.",
            "An Event instance is considered a Conversion at most once per session per user."
          ]
        }
      }
    },
    "GoogleAnalyticsAdminV1betaAccessNumericFilter": {
      "properties": {
        "operation": {
          "description": "The operation type for this filter.",
          "enum": [
            "OPERATION_UNSPECIFIED",
            "EQUAL",
            "LESS_THAN",
            "LESS_THAN_OR_EQUAL",
            "GREATER_THAN",
            "GREATER_THAN_OR_EQUAL"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Equal",
            "Less than",
            "Less than or equal",
            "Greater than",
            "Greater than or equal"
          ]
        },
        "value": {
          "description": "A numeric value or a date value.",
          "$ref": "GoogleAnalyticsAdminV1betaNumericValue"
        }
      },
      "type": "object",
      "id": "GoogleAnalyticsAdminV1betaAccessNumericFilter",
      "description": "Filters for numeric or date values."
    },
    "GoogleAnalyticsAdminV1betaSearchChangeHistoryEventsResponse": {
      "properties": {
        "changeHistoryEvents": {
          "description": "Results that were accessible to the caller.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaChangeHistoryEvent"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleAnalyticsAdminV1betaSearchChangeHistoryEventsResponse",
      "description": "Response message for SearchAccounts RPC."
    },
    "GoogleAnalyticsAdminV1betaCustomMetric": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1betaCustomMetric",
      "description": "A definition for a custom metric.",
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. Description for this custom dimension. Max length of 150 characters."
        },
        "measurementUnit": {
          "type": "string",
          "description": "Required. The type for the custom metric's value.",
          "enum": [
            "MEASUREMENT_UNIT_UNSPECIFIED",
            "STANDARD",
            "CURRENCY",
            "FEET",
            "METERS",
            "KILOMETERS",
            "MILES",
            "MILLISECONDS",
            "SECONDS",
            "MINUTES",
            "HOURS"
          ],
          "enumDescriptions": [
            "MeasurementUnit unspecified or missing.",
            "This metric uses default units.",
            "This metric measures a currency.",
            "This metric measures feet.",
            "This metric measures meters.",
            "This metric measures kilometers.",
            "This metric measures miles.",
            "This metric measures milliseconds.",
            "This metric measures seconds.",
            "This metric measures minutes.",
            "This metric measures hours."
          ]
        },
        "scope": {
          "description": "Required. Immutable. The scope of this custom metric.",
          "enum": [
            "METRIC_SCOPE_UNSPECIFIED",
            "EVENT"
          ],
          "type": "string",
          "enumDescriptions": [
            "Scope unknown or not specified.",
            "Metric scoped to an event."
          ]
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name for this custom metric as shown in the Analytics UI. Max length of 82 characters, alphanumeric plus space and underscore starting with a letter. Legacy system-generated display names may contain square brackets, but updates to this field will never permit square brackets."
        },
        "restrictedMetricType": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Type unknown or unspecified.",
              "Metric reports cost data.",
              "Metric reports revenue data."
            ],
            "enum": [
              "RESTRICTED_METRIC_TYPE_UNSPECIFIED",
              "COST_DATA",
              "REVENUE_DATA"
            ],
            "type": "string"
          },
          "description": "Optional. Types of restricted data that this metric may contain. Required for metrics with CURRENCY measurement unit. Must be empty for metrics with a non-CURRENCY measurement unit."
        },
        "name": {
          "description": "Identifier. Resource name for this CustomMetric resource. Format: properties/{property}/customMetrics/{customMetric}",
          "type": "string"
        },
        "parameterName": {
          "description": "Required. Immutable. Tagging name for this custom metric. If this is an event-scoped metric, then this is the event parameter name. May only contain alphanumeric and underscore charactes, starting with a letter. Max length of 40 characters for event-scoped metrics.",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1betaAccessStringFilter": {
      "properties": {
        "matchType": {
          "description": "The match type for this filter.",
          "enum": [
            "MATCH_TYPE_UNSPECIFIED",
            "EXACT",
            "BEGINS_WITH",
            "ENDS_WITH",
            "CONTAINS",
            "FULL_REGEXP",
            "PARTIAL_REGEXP"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified",
            "Exact match of the string value.",
            "Begins with the string value.",
            "Ends with the string value.",
            "Contains the string value.",
            "Full match for the regular expression with the string value.",
            "Partial match for the regular expression with the string value."
          ]
        },
        "value": {
          "description": "The string value used for the matching.",
          "type": "string"
        },
        "caseSensitive": {
          "type": "boolean",
          "description": "If true, the string value is case sensitive."
        }
      },
      "id": "GoogleAnalyticsAdminV1betaAccessStringFilter",
      "description": "The filter for strings.",
      "type": "object"
    }
  },
  "kind": "discovery#restDescription",
  "title": "Google Analytics Admin API",
  "fullyEncodeReservedExpansion": true,
  "version_module": true,
  "revision": "20260705",
  "basePath": "",
  "version": "v1beta",
  "resources": {
    "accounts": {
      "methods": {
        "searchChangeHistoryEvents": {
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "request": {
            "$ref": "GoogleAnalyticsAdminV1betaSearchChangeHistoryEventsRequest"
          },
          "parameterOrder": [
            "account"
          ],
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaSearchChangeHistoryEventsResponse"
          },
          "path": "v1beta/{+account}:searchChangeHistoryEvents",
          "id": "analyticsadmin.accounts.searchChangeHistoryEvents",
          "httpMethod": "POST",
          "description": "Searches through all changes to an account or its children given the specified set of filters. Only returns the subset of changes supported by the API. The UI may return additional changes.",
          "flatPath": "v1beta/accounts/{accountsId}:searchChangeHistoryEvents",
          "parameters": {
            "account": {
              "required": true,
              "location": "path",
              "pattern": "^accounts/[^/]+$",
              "type": "string",
              "description": "Required. The account resource for which to return change history resources. Format: accounts/{account} Example: `accounts/100`"
            }
          }
        },
        "list": {
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaListAccountsResponse"
          },
          "parameterOrder": [],
          "id": "analyticsadmin.accounts.list",
          "httpMethod": "GET",
          "description": "Returns all accounts accessible by the caller. Note that these accounts might not currently have GA properties. Soft-deleted (ie: \"trashed\") accounts are excluded by default. Returns an empty list if no relevant accounts are found. Note: The easiest way to retrieve a list of all properties you have access to is by using `ListAccountSummaries`.",
          "path": "v1beta/accounts",
          "flatPath": "v1beta/accounts",
          "parameters": {
            "pageToken": {
              "description": "Optional. A page token, received from a previous `ListAccounts` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAccounts` must match the call that provided the page token.",
              "location": "query",
              "type": "string"
            },
            "showDeleted": {
              "type": "boolean",
              "description": "Whether to include soft-deleted (ie: \"trashed\") Accounts in the results. Accounts can be inspected to determine whether they are deleted or not.",
              "location": "query"
            },
            "pageSize": {
              "format": "int32",
              "type": "integer",
              "description": "Optional. The maximum number of resources to return. The service may return fewer than this value, even if there are additional pages. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ]
        },
        "getDataSharingSettings": {
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaDataSharingSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1beta/accounts/{accountsId}/dataSharingSettings",
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "description": "Required. The name of the settings to lookup. Format: accounts/{account}/dataSharingSettings Example: `accounts/1000/dataSharingSettings`",
              "type": "string",
              "pattern": "^accounts/[^/]+/dataSharingSettings$"
            }
          },
          "id": "analyticsadmin.accounts.getDataSharingSettings",
          "httpMethod": "GET",
          "description": "Get data sharing settings on an account. Data sharing settings are singletons.",
          "path": "v1beta/{+name}"
        },
        "runAccessReport": {
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaRunAccessReportResponse"
          },
          "parameterOrder": [
            "entity"
          ],
          "flatPath": "v1beta/accounts/{accountsId}:runAccessReport",
          "parameters": {
            "entity": {
              "pattern": "^accounts/[^/]+$",
              "type": "string",
              "description": "The Data Access Report supports requesting at the property level or account level. If requested at the account level, Data Access Reports include all access for all properties under that account. To request at the property level, entity should be for example 'properties/123' if \"123\" is your Google Analytics property ID. To request at the account level, entity should be for example 'accounts/1234' if \"1234\" is your Google Analytics Account ID.",
              "required": true,
              "location": "path"
            }
          },
          "id": "analyticsadmin.accounts.runAccessReport",
          "httpMethod": "POST",
          "description": "Returns a customized report of data access records. The report provides records of each time a user reads Google Analytics reporting data. Access records are retained for up to 2 years. Data Access Reports can be requested for a property. Reports may be requested for any property, but dimensions that aren't related to quota can only be requested on Google Analytics 360 properties. This method is only available to Administrators. These data access records include GA UI Reporting, GA UI Explorations, GA Data API, and other products like Firebase & Admob that can retrieve data from Google Analytics through a linkage. These records don't include property configuration changes like adding a stream or changing a property's time zone. For configuration change history, see [searchChangeHistoryEvents](https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/accounts/searchChangeHistoryEvents). To give your feedback on this API, complete the [Google Analytics Access Reports feedback](https://docs.google.com/forms/d/e/1FAIpQLSdmEBUrMzAEdiEKk5TV5dEHvDUZDRlgWYdQdAeSdtR4hVjEhw/viewform) form.",
          "path": "v1beta/{+entity}:runAccessReport",
          "request": {
            "$ref": "GoogleAnalyticsAdminV1betaRunAccessReportRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ]
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "response": {
            "$ref": "GoogleProtobufEmpty"
          },
          "parameterOrder": [
            "name"
          ],
          "id": "analyticsadmin.accounts.delete",
          "httpMethod": "DELETE",
          "description": "Marks target Account as soft-deleted (ie: \"trashed\") and returns it. This API does not have a method to restore soft-deleted accounts. However, they can be restored using the Trash Can UI. If the accounts are not restored before the expiration time, the account and all child resources (eg: Properties, GoogleAdsLinks, Streams, AccessBindings) will be permanently purged. https://support.google.com/analytics/answer/6154772 Returns an error if the target is not found.",
          "path": "v1beta/{+name}",
          "flatPath": "v1beta/accounts/{accountsId}",
          "parameters": {
            "name": {
              "pattern": "^accounts/[^/]+$",
              "description": "Required. The name of the Account to soft-delete. Format: accounts/{account} Example: \"accounts/100\"",
              "type": "string",
              "required": true,
              "location": "path"
            }
          }
        },
        "patch": {
          "request": {
            "$ref": "GoogleAnalyticsAdminV1betaAccount"
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "flatPath": "v1beta/accounts/{accountsId}",
          "parameters": {
            "name": {
              "type": "string",
              "description": "Identifier. Resource name of this account. Format: accounts/{account} Example: \"accounts/100\"",
              "pattern": "^accounts/[^/]+$",
              "location": "path",
              "required": true
            },
            "updateMask": {
              "format": "google-fieldmask",
              "description": "Required. The list of fields to be updated. Field names must be in snake case (for example, \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "v1beta/{+name}",
          "id": "analyticsadmin.accounts.patch",
          "httpMethod": "PATCH",
          "description": "Updates an account.",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaAccount"
          }
        },
        "provisionAccountTicket": {
          "request": {
            "$ref": "GoogleAnalyticsAdminV1betaProvisionAccountTicketRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaProvisionAccountTicketResponse"
          },
          "parameterOrder": [],
          "flatPath": "v1beta/accounts:provisionAccountTicket",
          "parameters": {},
          "id": "analyticsadmin.accounts.provisionAccountTicket",
          "httpMethod": "POST",
          "description": "Requests a ticket for creating an account.",
          "path": "v1beta/accounts:provisionAccountTicket"
        },
        "get": {
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaAccount"
          },
          "parameterOrder": [
            "name"
          ],
          "id": "analyticsadmin.accounts.get",
          "httpMethod": "GET",
          "description": "Lookup for a single Account.",
          "path": "v1beta/{+name}",
          "flatPath": "v1beta/accounts/{accountsId}",
          "parameters": {
            "name": {
              "type": "string",
              "description": "Required. The name of the account to lookup. Format: accounts/{account} Example: \"accounts/100\"",
              "pattern": "^accounts/[^/]+$",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ]
        }
      }
    },
    "accountSummaries": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaListAccountSummariesResponse"
          },
          "parameterOrder": [],
          "flatPath": "v1beta/accountSummaries",
          "parameters": {
            "pageSize": {
              "description": "Optional. The maximum number of AccountSummary resources to return. The service may return fewer than this value, even if there are additional pages. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "pageToken": {
              "description": "Optional. A page token, received from a previous `ListAccountSummaries` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAccountSummaries` must match the call that provided the page token.",
              "location": "query",
              "type": "string"
            }
          },
          "id": "analyticsadmin.accountSummaries.list",
          "httpMethod": "GET",
          "description": "Returns summaries of all accounts accessible by the caller.",
          "path": "v1beta/accountSummaries"
        }
      }
    },
    "properties": {
      "methods": {
        "acknowledgeUserDataCollection": {
          "path": "v1beta/{+property}:acknowledgeUserDataCollection",
          "id": "analyticsadmin.properties.acknowledgeUserDataCollection",
          "httpMethod": "POST",
          "description": "Acknowledges the terms of user data collection for the specified property. This acknowledgement must be completed (either in the Google Analytics UI or through this API) before MeasurementProtocolSecret resources may be created.",
          "flatPath": "v1beta/properties/{propertiesId}:acknowledgeUserDataCollection",
          "parameters": {
            "property": {
              "description": "Required. The property for which to acknowledge user data collection.",
              "type": "string",
              "pattern": "^properties/[^/]+$",
              "location": "path",
              "required": true
            }
          },
          "parameterOrder": [
            "property"
          ],
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaAcknowledgeUserDataCollectionResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "request": {
            "$ref": "GoogleAnalyticsAdminV1betaAcknowledgeUserDataCollectionRequest"
          }
        },
        "delete": {
          "flatPath": "v1beta/properties/{propertiesId}",
          "parameters": {
            "name": {
              "required": true,
              "location": "path",
              "pattern": "^properties/[^/]+$",
              "description": "Required. The name of the Property to soft-delete. Format: properties/{property_id} Example: \"properties/1000\"",
              "type": "string"
            }
          },
          "id": "analyticsadmin.properties.delete",
          "httpMethod": "DELETE",
          "description": "Marks target Property as soft-deleted (ie: \"trashed\") and returns it. This API does not have a method to restore soft-deleted properties. However, they can be restored using the Trash Can UI. If the properties are not restored before the expiration time, the Property and all child resources (eg: GoogleAdsLinks, Streams, AccessBindings) will be permanently purged. https://support.google.com/analytics/answer/6154772 Returns an error if the target is not found.",
          "path": "v1beta/{+name}",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaProperty"
          },
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ]
        },
        "list": {
          "flatPath": "v1beta/properties",
          "parameters": {
            "pageSize": {
              "format": "int32",
              "description": "Optional. The maximum number of resources to return. The service may return fewer than this value, even if there are additional pages. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)",
              "location": "query",
              "type": "integer"
            },
            "filter": {
[...]
