{
  "fullyEncodeReservedExpansion": true,
  "revision": "20260812",
  "parameters": {
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true",
      "type": "boolean"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "default": "json",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "title": "Google Analytics Admin API",
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://analyticsadmin.mtls.googleapis.com/",
  "protocol": "rest",
  "batchPath": "batch",
  "ownerName": "Google",
  "servicePath": "",
  "rootUrl": "https://analyticsadmin.googleapis.com/",
  "version_module": true,
  "name": "analyticsadmin",
  "ownerDomain": "google.com",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/analytics.edit": {
          "description": "Edit Google Analytics management entities"
        },
        "https://www.googleapis.com/auth/analytics.readonly": {
          "description": "See and download your Google Analytics data"
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "id": "analyticsadmin:v1beta",
  "resources": {
    "accounts": {
      "methods": {
        "provisionAccountTicket": {
          "description": "Requests a ticket for creating an account.",
          "path": "v1beta/accounts:provisionAccountTicket",
          "parameterOrder": [],
          "httpMethod": "POST",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaProvisionAccountTicketResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "id": "analyticsadmin.accounts.provisionAccountTicket",
          "request": {
            "$ref": "GoogleAnalyticsAdminV1betaProvisionAccountTicketRequest"
          },
          "flatPath": "v1beta/accounts:provisionAccountTicket",
          "parameters": {}
        },
        "patch": {
          "path": "v1beta/{+name}",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "PATCH",
          "description": "Updates an account.",
          "flatPath": "v1beta/accounts/{accountsId}",
          "parameters": {
            "name": {
              "location": "path",
              "pattern": "^accounts/[^/]+$",
              "required": true,
              "type": "string",
              "description": "Identifier. Resource name of this account. Format: accounts/{account} Example: \"accounts/100\""
            },
            "updateMask": {
              "description": "Required. The list of fields to be updated. Field names must be in snake case (for example, \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
              "location": "query",
              "type": "string",
              "format": "google-fieldmask"
            }
          },
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaAccount"
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "id": "analyticsadmin.accounts.patch",
          "request": {
            "$ref": "GoogleAnalyticsAdminV1betaAccount"
          }
        },
        "searchChangeHistoryEvents": {
          "id": "analyticsadmin.accounts.searchChangeHistoryEvents",
          "request": {
            "$ref": "GoogleAnalyticsAdminV1betaSearchChangeHistoryEventsRequest"
          },
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaSearchChangeHistoryEventsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "flatPath": "v1beta/accounts/{accountsId}:searchChangeHistoryEvents",
          "parameters": {
            "account": {
              "location": "path",
              "pattern": "^accounts/[^/]+$",
              "required": true,
              "type": "string",
              "description": "Required. The account resource for which to return change history resources. Format: accounts/{account} Example: `accounts/100`"
            }
          },
          "description": "Searches through all changes to an account or its children given the specified set of filters. Only returns the subset of changes supported by the API. The UI may return additional changes.",
          "parameterOrder": [
            "account"
          ],
          "path": "v1beta/{+account}:searchChangeHistoryEvents",
          "httpMethod": "POST"
        },
        "runAccessReport": {
          "parameterOrder": [
            "entity"
          ],
          "path": "v1beta/{+entity}:runAccessReport",
          "httpMethod": "POST",
          "description": "Returns a customized report of data access records. The report provides records of each time a user reads Google Analytics reporting data. Access records are retained for up to 2 years. Data Access Reports can be requested for a property. Reports may be requested for any property, but dimensions that aren't related to quota can only be requested on Google Analytics 360 properties. This method is only available to Administrators. These data access records include GA UI Reporting, GA UI Explorations, GA Data API, and other products like Firebase & Admob that can retrieve data from Google Analytics through a linkage. These records don't include property configuration changes like adding a stream or changing a property's time zone. For configuration change history, see [searchChangeHistoryEvents](https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/accounts/searchChangeHistoryEvents). To give your feedback on this API, complete the [Google Analytics Access Reports feedback](https://docs.google.com/forms/d/e/1FAIpQLSdmEBUrMzAEdiEKk5TV5dEHvDUZDRlgWYdQdAeSdtR4hVjEhw/viewform) form.",
          "flatPath": "v1beta/accounts/{accountsId}:runAccessReport",
          "parameters": {
            "entity": {
              "type": "string",
              "pattern": "^accounts/[^/]+$",
              "required": true,
              "description": "The Data Access Report supports requesting at the property level or account level. If requested at the account level, Data Access Reports include all access for all properties under that account. To request at the property level, entity should be for example 'properties/123' if \"123\" is your Google Analytics property ID. To request at the account level, entity should be for example 'accounts/1234' if \"1234\" is your Google Analytics Account ID.",
              "location": "path"
            }
          },
          "id": "analyticsadmin.accounts.runAccessReport",
          "request": {
            "$ref": "GoogleAnalyticsAdminV1betaRunAccessReportRequest"
          },
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaRunAccessReportResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ]
        },
        "getDataSharingSettings": {
          "description": "Get data sharing settings on an account. Data sharing settings are singletons.",
          "path": "v1beta/{+name}",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaDataSharingSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "id": "analyticsadmin.accounts.getDataSharingSettings",
          "flatPath": "v1beta/accounts/{accountsId}/dataSharingSettings",
          "parameters": {
            "name": {
              "description": "Required. The name of the settings to lookup. Format: accounts/{account}/dataSharingSettings Example: `accounts/1000/dataSharingSettings`",
              "type": "string",
              "pattern": "^accounts/[^/]+/dataSharingSettings$",
              "required": true,
              "location": "path"
            }
          }
        },
        "get": {
          "httpMethod": "GET",
          "path": "v1beta/{+name}",
          "parameterOrder": [
            "name"
          ],
          "description": "Lookup for a single Account.",
          "flatPath": "v1beta/accounts/{accountsId}",
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "pattern": "^accounts/[^/]+$",
              "required": true,
              "description": "Required. The name of the account to lookup. Format: accounts/{account} Example: \"accounts/100\""
            }
          },
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaAccount"
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "id": "analyticsadmin.accounts.get"
        },
        "list": {
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaListAccountsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "id": "analyticsadmin.accounts.list",
          "flatPath": "v1beta/accounts",
          "parameters": {
            "showDeleted": {
              "description": "Whether to include soft-deleted (ie: \"trashed\") Accounts in the results. Accounts can be inspected to determine whether they are deleted or not.",
              "location": "query",
              "type": "boolean"
            },
            "pageToken": {
              "type": "string",
              "description": "Optional. A page token, received from a previous `ListAccounts` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAccounts` must match the call that provided the page token.",
              "location": "query"
            },
            "pageSize": {
              "description": "Optional. The maximum number of resources to return. The service may return fewer than this value, even if there are additional pages. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)",
              "location": "query",
              "type": "integer",
              "format": "int32"
            }
          },
          "description": "Returns all accounts accessible by the caller. Note that these accounts might not currently have GA properties. Soft-deleted (ie: \"trashed\") accounts are excluded by default. Returns an empty list if no relevant accounts are found. Note: The easiest way to retrieve a list of all properties you have access to is by using `ListAccountSummaries`.",
          "httpMethod": "GET",
          "path": "v1beta/accounts",
          "parameterOrder": []
        },
        "delete": {
          "flatPath": "v1beta/accounts/{accountsId}",
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^accounts/[^/]+$",
              "required": true,
              "description": "Required. The name of the Account to soft-delete. Format: accounts/{account} Example: \"accounts/100\"",
              "location": "path"
            }
          },
          "response": {
            "$ref": "GoogleProtobufEmpty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "id": "analyticsadmin.accounts.delete",
          "path": "v1beta/{+name}",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "DELETE",
          "description": "Marks target Account as soft-deleted (ie: \"trashed\") and returns it. This API does not have a method to restore soft-deleted accounts. However, they can be restored using the Trash Can UI. If the accounts are not restored before the expiration time, the account and all child resources (eg: Properties, GoogleAdsLinks, Streams, AccessBindings) will be permanently purged. https://support.google.com/analytics/answer/6154772 Returns an error if the target is not found."
        }
      }
    },
    "accountSummaries": {
      "methods": {
        "list": {
          "description": "Returns summaries of all accounts accessible by the caller.",
          "httpMethod": "GET",
          "path": "v1beta/accountSummaries",
          "parameterOrder": [],
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaListAccountSummariesResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "id": "analyticsadmin.accountSummaries.list",
          "flatPath": "v1beta/accountSummaries",
          "parameters": {
            "pageSize": {
              "type": "integer",
              "format": "int32",
              "description": "Optional. The maximum number of AccountSummary resources to return. The service may return fewer than this value, even if there are additional pages. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)",
              "location": "query"
            },
            "pageToken": {
              "description": "Optional. A page token, received from a previous `ListAccountSummaries` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAccountSummaries` must match the call that provided the page token.",
              "location": "query",
              "type": "string"
            }
          }
        }
      }
    },
    "properties": {
      "methods": {
        "delete": {
          "id": "analyticsadmin.properties.delete",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaProperty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "flatPath": "v1beta/properties/{propertiesId}",
          "parameters": {
            "name": {
              "description": "Required. The name of the Property to soft-delete. Format: properties/{property_id} Example: \"properties/1000\"",
              "type": "string",
              "pattern": "^properties/[^/]+$",
              "required": true,
              "location": "path"
            }
          },
          "description": "Marks target Property as soft-deleted (ie: \"trashed\") and returns it. This API does not have a method to restore soft-deleted properties. However, they can be restored using the Trash Can UI. If the properties are not restored before the expiration time, the Property and all child resources (eg: GoogleAdsLinks, Streams, AccessBindings) will be permanently purged. https://support.google.com/analytics/answer/6154772 Returns an error if the target is not found.",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "name"
          ],
          "path": "v1beta/{+name}"
        },
        "acknowledgeUserDataCollection": {
          "flatPath": "v1beta/properties/{propertiesId}:acknowledgeUserDataCollection",
          "parameters": {
            "property": {
              "description": "Required. The property for which to acknowledge user data collection.",
              "pattern": "^properties/[^/]+$",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "id": "analyticsadmin.properties.acknowledgeUserDataCollection",
          "request": {
            "$ref": "GoogleAnalyticsAdminV1betaAcknowledgeUserDataCollectionRequest"
          },
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaAcknowledgeUserDataCollectionResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "httpMethod": "POST",
          "parameterOrder": [
            "property"
          ],
          "path": "v1beta/{+property}:acknowledgeUserDataCollection",
          "description": "Acknowledges the terms of user data collection for the specified property. This acknowledgement must be completed (either in the Google Analytics UI or through this API) before MeasurementProtocolSecret resources may be created."
        },
        "patch": {
          "description": "Updates a property.",
          "httpMethod": "PATCH",
          "path": "v1beta/{+name}",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaProperty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "id": "analyticsadmin.properties.patch",
          "request": {
            "$ref": "GoogleAnalyticsAdminV1betaProperty"
          },
          "flatPath": "v1beta/properties/{propertiesId}",
          "parameters": {
            "name": {
              "location": "path",
              "description": "Identifier. Resource name of this property. Format: properties/{property_id} Example: \"properties/1000\"",
              "pattern": "^properties/[^/]+$",
              "required": true,
              "type": "string"
            },
            "updateMask": {
              "type": "string",
              "format": "google-fieldmask",
              "description": "Required. The list of fields to be updated. Field names must be in snake case (e.g., \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
              "location": "query"
            }
          }
        },
        "create": {
          "flatPath": "v1beta/properties",
          "parameters": {},
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaProperty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "id": "analyticsadmin.properties.create",
          "request": {
            "$ref": "GoogleAnalyticsAdminV1betaProperty"
          },
          "httpMethod": "POST",
          "path": "v1beta/properties",
          "parameterOrder": [],
          "description": "Creates a Google Analytics property with the specified location and attributes."
        },
        "get": {
          "flatPath": "v1beta/properties/{propertiesId}",
          "parameters": {
            "name": {
              "pattern": "^properties/[^/]+$",
              "required": true,
              "type": "string",
              "description": "Required. The name of the property to lookup. Format: properties/{property_id} Example: \"properties/1000\"",
              "location": "path"
            }
          },
          "id": "analyticsadmin.properties.get",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaProperty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "path": "v1beta/{+name}",
          "description": "Lookup for a single GA Property."
        },
        "list": {
          "id": "analyticsadmin.properties.list",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaListPropertiesResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "flatPath": "v1beta/properties",
          "parameters": {
            "pageSize": {
              "type": "integer",
              "format": "int32",
              "description": "Optional. The maximum number of resources to return. The service may return fewer than this value, even if there are additional pages. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "description": "Optional. A page token, received from a previous `ListProperties` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListProperties` must match the call that provided the page token.",
              "location": "query"
            },
            "filter": {
              "description": "Required. An expression for filtering the results of the request. Fields eligible for filtering are: `parent:`(The resource name of the parent account/property) or `ancestor:`(The resource name of the parent account) or `firebase_project:`(The id or number of the linked firebase project). Some examples of filters: ``` | Filter | Description | |-----------------------------|-------------------------------------------| | parent:accounts/123 | The account with account id: 123. | | parent:properties/123 | The property with property id: 123. | | ancestor:accounts/123 | The account with account id: 123. | | firebase_project:project-id | The firebase project with id: project-id. | | firebase_project:123 | The firebase project with number: 123. | ```",
              "location": "query",
              "type": "string"
            },
            "showDeleted": {
              "description": "Whether to include soft-deleted (ie: \"trashed\") Properties in the results. Properties can be inspected to determine whether they are deleted or not.",
              "location": "query",
              "type": "boolean"
            }
          },
          "description": "Returns child Properties under the specified parent Account. Properties will be excluded if the caller does not have access. Soft-deleted (ie: \"trashed\") properties are excluded by default. Returns an empty list if no relevant properties are found.",
          "httpMethod": "GET",
          "parameterOrder": [],
          "path": "v1beta/properties"
        },
        "runAccessReport": {
          "description": "Returns a customized report of data access records. The report provides records of each time a user reads Google Analytics reporting data. Access records are retained for up to 2 years. Data Access Reports can be requested for a property. Reports may be requested for any property, but dimensions that aren't related to quota can only be requested on Google Analytics 360 properties. This method is only available to Administrators. These data access records include GA UI Reporting, GA UI Explorations, GA Data API, and other products like Firebase & Admob that can retrieve data from Google Analytics through a linkage. These records don't include property configuration changes like adding a stream or changing a property's time zone. For configuration change history, see [searchChangeHistoryEvents](https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/accounts/searchChangeHistoryEvents). To give your feedback on this API, complete the [Google Analytics Access Reports feedback](https://docs.google.com/forms/d/e/1FAIpQLSdmEBUrMzAEdiEKk5TV5dEHvDUZDRlgWYdQdAeSdtR4hVjEhw/viewform) form.",
          "httpMethod": "POST",
          "path": "v1beta/{+entity}:runAccessReport",
          "parameterOrder": [
            "entity"
          ],
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaRunAccessReportResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "id": "analyticsadmin.properties.runAccessReport",
          "request": {
            "$ref": "GoogleAnalyticsAdminV1betaRunAccessReportRequest"
          },
          "flatPath": "v1beta/properties/{propertiesId}:runAccessReport",
          "parameters": {
            "entity": {
              "location": "path",
              "description": "The Data Access Report supports requesting at the property level or account level. If requested at the account level, Data Access Reports include all access for all properties under that account. To request at the property level, entity should be for example 'properties/123' if \"123\" is your Google Analytics property ID. To request at the account level, entity should be for example 'accounts/1234' if \"1234\" is your Google Analytics Account ID.",
              "pattern": "^properties/[^/]+$",
              "required": true,
              "type": "string"
            }
          }
        },
        "getDataRetentionSettings": {
          "httpMethod": "GET",
          "path": "v1beta/{+name}",
          "parameterOrder": [
            "name"
          ],
          "description": "Returns the singleton data retention settings for this property.",
          "flatPath": "v1beta/properties/{propertiesId}/dataRetentionSettings",
          "parameters": {
            "name": {
              "location": "path",
              "pattern": "^properties/[^/]+/dataRetentionSettings$",
              "required": true,
              "type": "string",
              "description": "Required. The name of the settings to lookup. Format: properties/{property}/dataRetentionSettings Example: \"properties/1000/dataRetentionSettings\""
            }
          },
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaDataRetentionSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "id": "analyticsadmin.properties.getDataRetentionSettings"
        },
        "updateDataRetentionSettings": {
          "path": "v1beta/{+name}",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "PATCH",
          "description": "Updates the singleton data retention settings for this property.",
          "flatPath": "v1beta/properties/{propertiesId}/dataRetentionSettings",
          "parameters": {
            "name": {
              "location": "path",
              "description": "Identifier. Resource name for this DataRetentionSetting resource. Format: properties/{property}/dataRetentionSettings",
              "pattern": "^properties/[^/]+/dataRetentionSettings$",
              "required": true,
              "type": "string"
            },
            "updateMask": {
              "description": "Required. The list of fields to be updated. Field names must be in snake case (e.g., \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
              "location": "query",
              "type": "string",
              "format": "google-fieldmask"
            }
          },
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaDataRetentionSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "id": "analyticsadmin.properties.updateDataRetentionSettings",
          "request": {
            "$ref": "GoogleAnalyticsAdminV1betaDataRetentionSettings"
          }
        }
      },
      "resources": {
        "googleAdsLinks": {
          "methods": {
            "list": {
              "path": "v1beta/{+parent}/googleAdsLinks",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "description": "Lists GoogleAdsLinks on a property.",
              "flatPath": "v1beta/properties/{propertiesId}/googleAdsLinks",
              "parameters": {
                "pageToken": {
                  "description": "Optional. A page token, received from a previous `ListGoogleAdsLinks` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListGoogleAdsLinks` must match the call that provided the page token.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Optional. The maximum number of resources to return. If unspecified, at most 50 resources will be returned. The maximum value is 200 (higher values will be coerced to the maximum).",
                  "location": "query"
                },
                "parent": {
                  "description": "Required. Example format: properties/1234",
                  "type": "string",
                  "pattern": "^properties/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaListGoogleAdsLinksResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "id": "analyticsadmin.properties.googleAdsLinks.list"
            },
            "create": {
              "description": "Creates a GoogleAdsLink.",
              "path": "v1beta/{+parent}/googleAdsLinks",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaGoogleAdsLink"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analyticsadmin.properties.googleAdsLinks.create",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1betaGoogleAdsLink"
              },
              "flatPath": "v1beta/properties/{propertiesId}/googleAdsLinks",
              "parameters": {
                "parent": {
                  "description": "Required. Example format: properties/1234",
                  "type": "string",
                  "pattern": "^properties/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              }
            },
            "patch": {
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaGoogleAdsLink"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analyticsadmin.properties.googleAdsLinks.patch",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1betaGoogleAdsLink"
              },
              "flatPath": "v1beta/properties/{propertiesId}/googleAdsLinks/{googleAdsLinksId}",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^properties/[^/]+/googleAdsLinks/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Identifier. Format: properties/{propertyId}/googleAdsLinks/{googleAdsLinkId} Note: googleAdsLinkId is not the Google Ads customer ID."
                },
                "updateMask": {
                  "description": "Required. The list of fields to be updated. Field names must be in snake case (e.g., \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                }
              },
              "description": "Updates a GoogleAdsLink on a property",
              "path": "v1beta/{+name}",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH"
            },
            "delete": {
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analyticsadmin.properties.googleAdsLinks.delete",
              "flatPath": "v1beta/properties/{propertiesId}/googleAdsLinks/{googleAdsLinksId}",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. Example format: properties/1234/googleAdsLinks/5678",
                  "type": "string",
                  "pattern": "^properties/[^/]+/googleAdsLinks/[^/]+$",
                  "required": true
                }
              },
              "description": "Deletes a GoogleAdsLink on a property",
              "httpMethod": "DELETE",
              "path": "v1beta/{+name}",
              "parameterOrder": [
                "name"
              ]
            }
          }
        },
        "conversionEvents": {
          "deprecated": true,
          "methods": {
            "get": {
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaConversionEvent"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "id": "analyticsadmin.properties.conversionEvents.get",
              "deprecated": true,
              "flatPath": "v1beta/properties/{propertiesId}/conversionEvents/{conversionEventsId}",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^properties/[^/]+/conversionEvents/[^/]+$",
                  "required": true,
                  "description": "Required. The resource name of the conversion event to retrieve. Format: properties/{property}/conversionEvents/{conversion_event} Example: \"properties/123/conversionEvents/456\"",
                  "location": "path"
                }
              },
              "description": "Deprecated: Use `GetKeyEvent` instead. Retrieve a single conversion event.",
              "httpMethod": "GET",
              "path": "v1beta/{+name}",
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "id": "analyticsadmin.properties.conversionEvents.list",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaListConversionEventsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "flatPath": "v1beta/properties/{propertiesId}/conversionEvents",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "Optional. A page token, received from a previous `ListConversionEvents` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListConversionEvents` must match the call that provided the page token.",
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Optional. The maximum number of resources to return. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "description": "Required. The resource name of the parent property. Example: 'properties/123'",
                  "pattern": "^properties/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "deprecated": true,
              "description": "Deprecated: Use `ListKeyEvents` instead. Returns a list of conversion events in the specified parent property. Returns an empty list if no conversion events are found.",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1beta/{+parent}/conversionEvents"
            },
            "delete": {
              "description": "Deprecated: Use `DeleteKeyEvent` instead. Deletes a conversion event in a property.",
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta/{+name}",
              "httpMethod": "DELETE",
              "id": "analyticsadmin.properties.conversionEvents.delete",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "flatPath": "v1beta/properties/{propertiesId}/conversionEvents/{conversionEventsId}",
              "parameters": {
                "name": {
                  "pattern": "^properties/[^/]+/conversionEvents/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. The resource name of the conversion event to delete. Format: properties/{property}/conversionEvents/{conversion_event} Example: \"properties/123/conversionEvents/456\"",
                  "location": "path"
                }
              },
              "deprecated": true
            },
            "create": {
              "description": "Deprecated: Use `CreateKeyEvent` instead. Creates a conversion event with the specified attributes.",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1beta/{+parent}/conversionEvents",
              "httpMethod": "POST",
              "id": "analyticsadmin.properties.conversionEvents.create",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1betaConversionEvent"
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaConversionEvent"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "flatPath": "v1beta/properties/{propertiesId}/conversionEvents",
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. The resource name of the parent property where this conversion event will be created. Format: properties/123",
                  "type": "string",
                  "pattern": "^properties/[^/]+$",
                  "required": true
                }
              },
              "deprecated": true
            },
            "patch": {
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaConversionEvent"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analyticsadmin.properties.conversionEvents.patch",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1betaConversionEvent"
              },
              "deprecated": true,
              "flatPath": "v1beta/properties/{propertiesId}/conversionEvents/{conversionEventsId}",
              "parameters": {
                "name": {
                  "description": "Identifier. Resource name of this conversion event. Format: properties/{property}/conversionEvents/{conversion_event}",
                  "pattern": "^properties/[^/]+/conversionEvents/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "updateMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "description": "Required. The list of fields to be updated. Field names must be in snake case (e.g., \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
                  "location": "query"
                }
              },
              "description": "Deprecated: Use `UpdateKeyEvent` instead. Updates a conversion event with the specified attributes.",
              "httpMethod": "PATCH",
              "path": "v1beta/{+name}",
              "parameterOrder": [
                "name"
              ]
            }
          }
        },
        "keyEvents": {
          "methods": {
            "patch": {
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta/{+name}",
              "httpMethod": "PATCH",
              "description": "Updates a Key Event.",
              "flatPath": "v1beta/properties/{propertiesId}/keyEvents/{keyEventsId}",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Output only. Resource name of this key event. Format: properties/{property}/keyEvents/{key_event}",
                  "pattern": "^properties/[^/]+/keyEvents/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "updateMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "description": "Required. The list of fields to be updated. Field names must be in snake case (e.g., \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
                  "location": "query"
                }
              },
              "id": "analyticsadmin.properties.keyEvents.patch",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1betaKeyEvent"
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaKeyEvent"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ]
            },
            "create": {
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaKeyEvent"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analyticsadmin.properties.keyEvents.create",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1betaKeyEvent"
              },
              "flatPath": "v1beta/properties/{propertiesId}/keyEvents",
              "parameters": {
                "parent": {
                  "description": "Required. The resource name of the parent property where this Key Event will be created. Format: properties/123",
                  "pattern": "^properties/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "description": "Creates a Key Event.",
              "path": "v1beta/{+parent}/keyEvents",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST"
            },
            "delete": {
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta/{+name}",
              "description": "Deletes a Key Event.",
              "flatPath": "v1beta/properties/{propertiesId}/keyEvents/{keyEventsId}",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^properties/[^/]+/keyEvents/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. The resource name of the Key Event to delete. Format: properties/{property}/keyEvents/{key_event} Example: \"properties/123/keyEvents/456\""
                }
              },
              "id": "analyticsadmin.properties.keyEvents.delete",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ]
            },
            "get": {
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta/{+name}",
              "description": "Retrieve a single Key Event.",
              "flatPath": "v1beta/properties/{propertiesId}/keyEvents/{keyEventsId}",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^properties/[^/]+/keyEvents/[^/]+$",
                  "required": true,
                  "description": "Required. The resource name of the Key Event to retrieve. Format: properties/{property}/keyEvents/{key_event} Example: \"properties/123/keyEvents/456\"",
                  "location": "path"
                }
              },
              "id": "analyticsadmin.properties.keyEvents.get",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaKeyEvent"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ]
            },
            "list": {
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1beta/{+parent}/keyEvents",
              "description": "Returns a list of Key Events in the specified parent property. Returns an empty list if no Key Events are found.",
              "flatPath": "v1beta/properties/{propertiesId}/keyEvents",
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. The resource name of the parent property. Example: 'properties/123'",
                  "pattern": "^properties/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "pageSize": {
                  "description": "Optional. The maximum number of resources to return. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Optional. A page token, received from a previous `ListKeyEvents` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListKeyEvents` must match the call that provided the page token.",
                  "location": "query"
                }
              },
              "id": "analyticsadmin.properties.keyEvents.list",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaListKeyEventsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ]
            }
          }
        },
        "customMetrics": {
          "methods": {
            "archive": {
              "id": "analyticsadmin.properties.customMetrics.archive",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1betaArchiveCustomMetricRequest"
              },
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "flatPath": "v1beta/properties/{propertiesId}/customMetrics/{customMetricsId}:archive",
              "parameters": {
                "name": {
                  "description": "Required. The name of the CustomMetric to archive. Example format: properties/1234/customMetrics/5678",
                  "pattern": "^properties/[^/]+/customMetrics/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "description": "Archives a CustomMetric on a property.",
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta/{+name}:archive",
              "httpMethod": "POST"
            },
            "list": {
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaListCustomMetricsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "id": "analyticsadmin.properties.customMetrics.list",
              "flatPath": "v1beta/properties/{propertiesId}/customMetrics",
              "parameters": {
                "pageSize": {
                  "description": "The maximum number of resources to return. If unspecified, at most 50 resources will be returned. The maximum value is 200 (higher values will be coerced to the maximum).",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "parent": {
                  "description": "Required. Example format: properties/1234",
                  "type": "string",
                  "pattern": "^properties/[^/]+$",
                  "required": true,
                  "location": "path"
                },
                "pageToken": {
                  "description": "A page token, received from a previous `ListCustomMetrics` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListCustomMetrics` must match the call that provided the page token.",
                  "location": "query",
                  "type": "string"
                }
              },
              "description": "Lists CustomMetrics on a property.",
              "path": "v1beta/{+parent}/customMetrics",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET"
            },
            "get": {
              "httpMethod": "GET",
              "path": "v1beta/{+name}",
              "parameterOrder": [
                "name"
              ],
              "description": "Lookup for a single CustomMetric.",
              "flatPath": "v1beta/properties/{propertiesId}/customMetrics/{customMetricsId}",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The name of the CustomMetric to get. Example format: properties/1234/customMetrics/5678",
                  "pattern": "^properties/[^/]+/customMetrics/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaCustomMetric"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "id": "analyticsadmin.properties.customMetrics.get"
            },
            "patch": {
              "flatPath": "v1beta/properties/{propertiesId}/customMetrics/{customMetricsId}",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^properties/[^/]+/customMetrics/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Identifier. Resource name for this CustomMetric resource. Format: properties/{property}/customMetrics/{customMetric}"
                },
                "updateMask": {
                  "description": "Required. The list of fields to be updated. Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                }
              },
              "id": "analyticsadmin.properties.customMetrics.patch",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1betaCustomMetric"
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaCustomMetric"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta/{+name}",
              "httpMethod": "PATCH",
              "description": "Updates a CustomMetric on a property."
            },
            "create": {
              "flatPath": "v1beta/properties/{propertiesId}/customMetrics",
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. Example format: properties/1234",
                  "pattern": "^properties/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaCustomMetric"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analyticsadmin.properties.customMetrics.create",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1betaCustomMetric"
              },
              "path": "v1beta/{+parent}/customMetrics",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "description": "Creates a CustomMetric."
            }
          }
        },
        "customDimensions": {
          "methods": {
            "patch": {
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaCustomDimension"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analyticsadmin.properties.customDimensions.patch",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1betaCustomDimension"
              },
              "flatPath": "v1beta/properties/{propertiesId}/customDimensions/{customDimensionsId}",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^properties/[^/]+/customDimensions/[^/]+$",
                  "required": true,
                  "description": "Identifier. Resource name for this CustomDimension resource. Format: properties/{property}/customDimensions/{customDimension}",
                  "location": "path"
                },
                "updateMask": {
                  "description": "Required. The list of fields to be updated. Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                }
              },
              "description": "Updates a CustomDimension on a property.",
              "httpMethod": "PATCH",
              "path": "v1beta/{+name}",
              "parameterOrder": [
                "name"
              ]
            },
            "create": {
              "httpMethod": "POST",
              "path": "v1beta/{+parent}/customDimensions",
              "parameterOrder": [
                "parent"
              ],
              "description": "Creates a CustomDimension. Warning: It's not permissible to use this method to collect data on individual users. In particular, sending user IDs in custom dimensions violates the [Google Analytics Terms of Service](https://www.google.com/analytics/terms/).",
              "flatPath": "v1beta/properties/{propertiesId}/customDimensions",
              "parameters": {
                "parent": {
                  "description": "Required. Example format: properties/1234",
                  "pattern": "^properties/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaCustomDimension"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analyticsadmin.properties.customDimensions.create",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1betaCustomDimension"
              }
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "path": "v1beta/{+parent}/customDimensions",
              "httpMethod": "GET",
              "description": "Lists CustomDimensions on a property.",
              "flatPath": "v1beta/properties/{propertiesId}/customDimensions",
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. Example format: properties/1234",
                  "type": "string",
                  "pattern": "^properties/[^/]+$",
                  "required": true
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Optional. The maximum number of resources to return. If unspecified, at most 50 resources will be returned. The maximum value is 200 (higher values will be coerced to the maximum).",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Optional. A page token, received from a previous `ListCustomDimensions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListCustomDimensions` must match the call that provided the page token.",
                  "location": "query"
                }
              },
              "id": "analyticsadmin.properties.customDimensions.list",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaListCustomDimensionsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ]
            },
            "get": {
              "httpMethod": "GET",
              "path": "v1beta/{+name}",
              "parameterOrder": [
                "name"
              ],
              "description": "Lookup for a single CustomDimension.",
              "flatPath": "v1beta/properties/{propertiesId}/customDimensions/{customDimensionsId}",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^properties/[^/]+/customDimensions/[^/]+$",
                  "required": true,
                  "description": "Required. The name of the CustomDimension to get. Example format: properties/1234/customDimensions/5678"
                }
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaCustomDimension"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "id": "analyticsadmin.properties.customDimensions.get"
            },
            "archive": {
              "description": "Archives a CustomDimension on a property.",
              "httpMethod": "POST",
              "path": "v1beta/{+name}:archive",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analyticsadmin.properties.customDimensions.archive",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1betaArchiveCustomDimensionRequest"
              },
              "flatPath": "v1beta/properties/{propertiesId}/customDimensions/{customDimensionsId}:archive",
              "parameters": {
                "name": {
                  "description": "Required. The name of the CustomDimension to archive. Example format: properties/1234/customDimensions/5678",
                  "type": "string",
                  "pattern": "^properties/[^/]+/customDimensions/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              }
            }
          }
        },
        "dataStreams": {
          "resources": {
            "measurementProtocolSecrets": {
              "methods": {
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta/{+name}",
                  "httpMethod": "GET",
                  "description": "Lookup for a single MeasurementProtocolSecret.",
                  "flatPath": "v1beta/properties/{propertiesId}/dataStreams/{dataStreamsId}/measurementProtocolSecrets/{measurementProtocolSecretsId}",
                  "parameters": {
                    "name": {
                      "pattern": "^properties/[^/]+/dataStreams/[^/]+/measurementProtocolSecrets/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. The name of the measurement protocol secret to lookup. Format: properties/{property}/dataStreams/{dataStream}/measurementProtocolSecrets/{measurementProtocolSecret}",
                      "location": "path"
                    }
                  },
                  "id": "analyticsadmin.properties.dataStreams.measurementProtocolSecrets.get",
                  "response": {
                    "$ref": "GoogleAnalyticsAdminV1betaMeasurementProtocolSecret"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/analytics.edit",
                    "https://www.googleapis.com/auth/analytics.readonly"
                  ]
                },
                "list": {
                  "id": "analyticsadmin.properties.dataStreams.measurementProtocolSecrets.list",
                  "response": {
                    "$ref": "GoogleAnalyticsAdminV1betaListMeasurementProtocolSecretsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/analytics.edit",
                    "https://www.googleapis.com/auth/analytics.readonly"
                  ],
                  "flatPath": "v1beta/properties/{propertiesId}/dataStreams/{dataStreamsId}/measurementProtocolSecrets",
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A page token, received from a previous `ListMeasurementProtocolSecrets` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListMeasurementProtocolSecrets` must match the call that provided the page token.",
                      "location": "query"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. The maximum number of resources to return. If unspecified, at most 10 resources will be returned. The maximum value is 10. Higher values will be coerced to the maximum.",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "description": "Required. The resource name of the parent stream. Format: properties/{property}/dataStreams/{dataStream}/measurementProtocolSecrets",
                      "type": "string",
                      "pattern": "^properties/[^/]+/dataStreams/[^/]+$",
                      "required": true
                    }
                  },
                  "description": "Returns child MeasurementProtocolSecrets under the specified parent Property.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1beta/{+parent}/measurementProtocolSecrets",
                  "httpMethod": "GET"
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta/{+name}",
                  "description": "Deletes target MeasurementProtocolSecret.",
                  "flatPath": "v1beta/properties/{propertiesId}/dataStreams/{dataStreamsId}/measurementProtocolSecrets/{measurementProtocolSecretsId}",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the MeasurementProtocolSecret to delete. Format: properties/{property}/dataStreams/{dataStream}/measurementProtocolSecrets/{measurementProtocolSecret}",
                      "pattern": "^properties/[^/]+/dataStreams/[^/]+/measurementProtocolSecrets/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "id": "analyticsadmin.properties.dataStreams.measurementProtocolSecrets.delete",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/analytics.edit"
                  ]
                },
                "create": {
                  "response": {
                    "$ref": "GoogleAnalyticsAdminV1betaMeasurementProtocolSecret"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/analytics.edit"
                  ],
                  "id": "analyticsadmin.properties.dataStreams.measurementProtocolSecrets.create",
                  "request": {
                    "$ref": "GoogleAnalyticsAdminV1betaMeasurementProtocolSecret"
                  },
                  "flatPath": "v1beta/properties/{propertiesId}/dataStreams/{dataStreamsId}/measurementProtocolSecrets",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource where this secret will be created. Format: properties/{property}/dataStreams/{dataStream}",
                      "type": "string",
                      "pattern": "^properties/[^/]+/dataStreams/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "description": "Creates a measurement protocol secret.",
                  "path": "v1beta/{+parent}/measurementProtocolSecrets",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST"
                },
                "patch": {
                  "flatPath": "v1beta/properties/{propertiesId}/dataStreams/{dataStreamsId}/measurementProtocolSecrets/{measurementProtocolSecretsId}",
                  "parameters": {
                    "name": {
                      "pattern": "^properties/[^/]+/dataStreams/[^/]+/measurementProtocolSecrets/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Identifier. Resource name of this secret. This secret may be a child of any type of stream. Format: properties/{property}/dataStreams/{dataStream}/measurementProtocolSecrets/{measurementProtocolSecret}",
                      "location": "path"
                    },
                    "updateMask": {
                      "description": "Required. The list of fields to be updated. Omitted fields will not be updated.",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    }
                  },
                  "id": "analyticsadmin.properties.dataStreams.measurementProtocolSecrets.patch",
                  "request": {
                    "$ref": "GoogleAnalyticsAdminV1betaMeasurementProtocolSecret"
                  },
                  "response": {
                    "$ref": "GoogleAnalyticsAdminV1betaMeasurementProtocolSecret"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/analytics.edit"
                  ],
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta/{+name}",
                  "description": "Updates a measurement protocol secret."
                }
              }
            }
          },
          "methods": {
            "delete": {
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analyticsadmin.properties.dataStreams.delete",
              "flatPath": "v1beta/properties/{propertiesId}/dataStreams/{dataStreamsId}",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The name of the DataStream to delete. Example format: properties/1234/dataStreams/5678",
                  "type": "string",
                  "pattern": "^properties/[^/]+/dataStreams/[^/]+$",
                  "required": true
                }
              },
              "description": "Deletes a DataStream on a property.",
              "httpMethod": "DELETE",
              "path": "v1beta/{+name}",
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaListDataStreamsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "id": "analyticsadmin.properties.dataStreams.list",
              "flatPath": "v1beta/properties/{propertiesId}/dataStreams",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "A page token, received from a previous `ListDataStreams` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListDataStreams` must match the call that provided the page token.",
                  "location": "query"
                },
                "pageSize": {
                  "description": "The maximum number of resources to return. If unspecified, at most 50 resources will be returned. The maximum value is 200 (higher values will be coerced to the maximum).",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "parent": {
                  "description": "Required. Example format: properties/1234",
                  "pattern": "^properties/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "description": "Lists DataStreams on a property.",
              "path": "v1beta/{+parent}/dataStreams",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET"
            },
            "get": {
              "description": "Lookup for a single DataStream.",
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta/{+name}",
              "httpMethod": "GET",
              "id": "analyticsadmin.properties.dataStreams.get",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaDataStream"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "flatPath": "v1beta/properties/{propertiesId}/dataStreams/{dataStreamsId}",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^properties/[^/]+/dataStreams/[^/]+$",
                  "required": true,
                  "description": "Required. The name of the DataStream to get. Example format: properties/1234/dataStreams/5678"
                }
              }
            },
            "patch": {
              "description": "Updates a DataStream on a property.",
              "httpMethod": "PATCH",
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta/{+name}",
              "id": "analyticsadmin.properties.dataStreams.patch",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1betaDataStream"
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaDataStream"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "flatPath": "v1beta/properties/{propertiesId}/dataStreams/{dataStreamsId}",
              "parameters": {
                "name": {
                  "description": "Identifier. Resource name of this Data Stream. Format: properties/{property_id}/dataStreams/{stream_id} Example: \"properties/1000/dataStreams/2000\"",
                  "type": "string",
                  "pattern": "^properties/[^/]+/dataStreams/[^/]+$",
                  "required": true,
                  "location": "path"
                },
                "updateMask": {
                  "description": "Required. The list of fields to be updated. Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                }
              }
            },
            "create": {
              "id": "analyticsadmin.properties.dataStreams.create",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1betaDataStream"
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaDataStream"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "flatPath": "v1beta/properties/{propertiesId}/dataStreams",
              "parameters": {
                "parent": {
                  "pattern": "^properties/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. Example format: properties/1234",
                  "location": "path"
                }
              },
              "description": "Creates a DataStream.",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1beta/{+parent}/dataStreams",
              "httpMethod": "POST"
            }
          }
        },
        "firebaseLinks": {
          "methods": {
            "delete": {
              "path": "v1beta/{+name}",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "description": "Deletes a FirebaseLink on a property",
              "flatPath": "v1beta/properties/{propertiesId}/firebaseLinks/{firebaseLinksId}",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. Format: properties/{property_id}/firebaseLinks/{firebase_link_id} Example: `properties/1234/firebaseLinks/5678`",
                  "type": "string",
                  "pattern": "^properties/[^/]+/firebaseLinks/[^/]+$",
                  "required": true
                }
              },
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analyticsadmin.properties.firebaseLinks.delete"
            },
            "list": {
              "description": "Lists FirebaseLinks on a property. Properties can have at most one FirebaseLink.",
              "path": "v1beta/{+parent}/firebaseLinks",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaListFirebaseLinksResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "id": "analyticsadmin.properties.firebaseLinks.list",
              "flatPath": "v1beta/properties/{propertiesId}/firebaseLinks",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "Optional. A page token, received from a previous `ListFirebaseLinks` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListFirebaseLinks` must match the call that provided the page token.",
                  "location": "query"
                },
                "pageSize": {
                  "description": "Optional. The maximum number of resources to return. The service may return fewer than this value, even if there are additional pages. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "parent": {
                  "description": "Required. Format: properties/{property_id} Example: `properties/1234`",
                  "type": "string",
                  "pattern": "^properties/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              }
            },
            "create": {
              "httpMethod": "POST",
              "path": "v1beta/{+parent}/firebaseLinks",
              "parameterOrder": [
                "parent"
              ],
              "description": "Creates a FirebaseLink. Properties can have at most one FirebaseLink.",
              "flatPath": "v1beta/properties/{propertiesId}/firebaseLinks",
              "parameters": {
                "parent": {
                  "description": "Required. Format: properties/{property_id} Example: `properties/1234`",
                  "pattern": "^properties/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaFirebaseLink"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analyticsadmin.properties.firebaseLinks.create",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1betaFirebaseLink"
              }
            }
          }
        }
      }
    }
  },
  "canonicalName": "Google Analytics Admin",
  "basePath": "",
  "version": "v1beta",
  "baseUrl": "https://analyticsadmin.googleapis.com/",
  "schemas": {
    "GoogleAnalyticsAdminV1betaAccessFilter": {
      "description": "An expression to filter dimension or metric values.",
      "properties": {
        "inListFilter": {
          "$ref": "GoogleAnalyticsAdminV1betaAccessInListFilter",
          "description": "A filter for in list values."
        },
        "fieldName": {
          "description": "The dimension name or metric name.",
          "type": "string"
        },
        "numericFilter": {
          "$ref": "GoogleAnalyticsAdminV1betaAccessNumericFilter",
          "description": "A filter for numeric or date values."
        },
        "stringFilter": {
          "$ref": "GoogleAnalyticsAdminV1betaAccessStringFilter",
          "description": "Strings related filter."
        },
        "betweenFilter": {
          "description": "A filter for two values.",
          "$ref": "GoogleAnalyticsAdminV1betaAccessBetweenFilter"
        }
      },
      "type": "object",
      "id": "GoogleAnalyticsAdminV1betaAccessFilter"
    },
    "GoogleAnalyticsAdminV1betaProperty": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1betaProperty",
      "description": "A resource message representing a Google Analytics property.",
      "properties": {
        "industryCategory": {
          "enum": [
            "INDUSTRY_CATEGORY_UNSPECIFIED",
            "AUTOMOTIVE",
            "BUSINESS_AND_INDUSTRIAL_MARKETS",
            "FINANCE",
            "HEALTHCARE",
            "TECHNOLOGY",
            "TRAVEL",
            "OTHER",
            "ARTS_AND_ENTERTAINMENT",
            "BEAUTY_AND_FITNESS",
            "BOOKS_AND_LITERATURE",
            "FOOD_AND_DRINK",
            "GAMES",
            "HOBBIES_AND_LEISURE",
            "HOME_AND_GARDEN",
            "INTERNET_AND_TELECOM",
            "LAW_AND_GOVERNMENT",
            "NEWS",
            "ONLINE_COMMUNITIES",
            "PEOPLE_AND_SOCIETY",
            "PETS_AND_ANIMALS",
            "REAL_ESTATE",
            "REFERENCE",
            "SCIENCE",
            "SPORTS",
            "JOBS_AND_EDUCATION",
            "SHOPPING"
          ],
          "description": "Industry associated with this property Example: AUTOMOTIVE, FOOD_AND_DRINK",
          "type": "string",
          "enumDescriptions": [
            "Industry category unspecified",
            "Automotive",
            "Business and industrial markets",
            "Finance",
            "Healthcare",
            "Technology",
            "Travel",
            "Other",
            "Arts and entertainment",
            "Beauty and fitness",
            "Books and literature",
            "Food and drink",
            "Games",
            "Hobbies and leisure",
            "Home and garden",
            "Internet and telecom",
            "Law and government",
            "News",
            "Online communities",
            "People and society",
            "Pets and animals",
            "Real estate",
            "Reference",
            "Science",
            "Sports",
            "Jobs and education",
            "Shopping"
          ]
        },
        "expireTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. If set, the time at which this trashed property will be permanently deleted. If not set, then this property is not currently in the trash can and is not slated to be deleted."
        },
        "account": {
          "description": "Immutable. The resource name of the parent account Format: accounts/{account_id} Example: \"accounts/123\"",
          "type": "string"
        },
        "timeZone": {
          "description": "Required. Reporting Time Zone, used as the day boundary for reports, regardless of where the data originates. If the time zone honors DST, Analytics will automatically adjust for the changes. NOTE: Changing the time zone only affects data going forward, and is not applied retroactively. Format: https://www.iana.org/time-zones Example: \"America/Los_Angeles\"",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Time when the entity was originally created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "parent": {
          "description": "Immutable. Resource name of this property's logical parent. Note: The Property-Moving UI can be used to change the parent. Format: accounts/{account}, properties/{property} Example: \"accounts/100\", \"properties/101\"",
          "type": "string"
        },
        "currencyCode": {
          "description": "The currency type used in reports involving monetary values. Format: https://en.wikipedia.org/wiki/ISO_4217 Examples: \"USD\", \"EUR\", \"JPY\"",
          "type": "string"
        },
        "name": {
          "description": "Identifier. Resource name of this property. Format: properties/{property_id} Example: \"properties/1000\"",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. Time when entity payload fields were last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "propertyType": {
          "type": "string",
          "enumDescriptions": [
            "Unknown or unspecified property type",
            "Ordinary Google Analytics property",
            "Google Analytics subproperty",
            "Google Analytics rollup property"
          ],
          "description": "Immutable. The property type for this Property resource. When creating a property, if the type is \"PROPERTY_TYPE_UNSPECIFIED\", then \"ORDINARY_PROPERTY\" will be implied.",
          "enum": [
            "PROPERTY_TYPE_UNSPECIFIED",
            "PROPERTY_TYPE_ORDINARY",
            "PROPERTY_TYPE_SUBPROPERTY",
            "PROPERTY_TYPE_ROLLUP"
          ]
        },
        "deleteTime": {
          "description": "Output only. If set, the time at which this property was trashed. If not set, then this property is not currently in the trash can.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "serviceLevel": {
          "enum": [
            "SERVICE_LEVEL_UNSPECIFIED",
            "GOOGLE_ANALYTICS_STANDARD",
            "GOOGLE_ANALYTICS_360"
          ],
          "description": "Output only. The Google Analytics service level that applies to this property.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Service level not specified or invalid.",
            "The standard version of Google Analytics.",
            "The paid, premium version of Google Analytics."
          ]
        },
        "displayName": {
          "description": "Required. Human-readable display name for this property. The max allowed display name length is 100 UTF-16 code units.",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1betaKeyEvent": {
      "description": "A key event in a Google Analytics property.",
      "properties": {
        "eventName": {
          "description": "Immutable. The event name for this key event. Examples: 'click', 'purchase'",
          "type": "string"
        },
        "deletable": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. If set to true, this event can be deleted."
        },
        "custom": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. If set to true, this key event refers to a custom event. If set to false, this key event refers to a default event in GA. Default events typically have special meaning in GA. Default events are usually created for you by the GA system, but in some cases can be created by property admins. Custom events count towards the maximum number of custom key events that may be created per property."
        },
        "defaultValue": {
          "$ref": "GoogleAnalyticsAdminV1betaKeyEventDefaultValue",
          "description": "Optional. Defines a default value/currency for a key event."
        },
        "createTime": {
          "description": "Output only. Time when this key event was created in the property.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "description": "Output only. Resource name of this key event. Format: properties/{property}/keyEvents/{key_event}",
          "readOnly": true,
          "type": "string"
        },
        "countingMethod": {
          "enum": [
            "COUNTING_METHOD_UNSPECIFIED",
            "ONCE_PER_EVENT",
            "ONCE_PER_SESSION"
          ],
          "description": "Required. The method by which Key Events will be counted across multiple events within a session.",
          "type": "string",
          "enumDescriptions": [
            "Counting method not specified.",
            "Each Event instance is considered a Key Event.",
            "An Event instance is considered a Key Event at most once per session per user."
          ]
        }
      },
      "type": "object",
      "id": "GoogleAnalyticsAdminV1betaKeyEvent"
    },
    "GoogleAnalyticsAdminV1betaArchiveCustomMetricRequest": {
      "properties": {},
      "description": "Request message for ArchiveCustomMetric RPC.",
      "id": "GoogleAnalyticsAdminV1betaArchiveCustomMetricRequest",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1betaCustomDimension": {
      "properties": {
        "name": {
          "description": "Identifier. Resource name for this CustomDimension resource. Format: properties/{property}/customDimensions/{customDimension}",
          "type": "string"
        },
        "parameterName": {
          "description": "Required. Immutable. Tagging parameter name for this custom dimension. If this is a user-scoped dimension, then this is the user property name. If this is an event-scoped dimension, then this is the event parameter name. If this is an item-scoped dimension, then this is the parameter name found in the eCommerce items array. May only contain alphanumeric and underscore characters, starting with a letter. Max length of 24 characters for user-scoped dimensions, 40 characters for event-scoped dimensions.",
          "type": "string"
        },
        "disallowAdsPersonalization": {
          "description": "Optional. If set to true, sets this dimension as NPA and excludes it from ads personalization. This is currently only supported by user-scoped custom dimensions.",
          "type": "boolean"
        },
        "displayName": {
          "description": "Required. Display name for this custom dimension as shown in the Analytics UI. Max length of 82 characters, alphanumeric plus space and underscore starting with a letter. Legacy system-generated display names may contain square brackets, but updates to this field will never permit square brackets.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description for this custom dimension. Max length of 150 characters.",
          "type": "string"
        },
        "scope": {
          "description": "Required. Immutable. The scope of this dimension.",
          "enum": [
            "DIMENSION_SCOPE_UNSPECIFIED",
            "EVENT",
            "USER",
            "ITEM"
          ],
          "type": "string",
          "enumDescriptions": [
            "Scope unknown or not specified.",
            "Dimension scoped to an event.",
            "Dimension scoped to a user.",
            "Dimension scoped to eCommerce items"
          ]
        }
      },
      "description": "A definition for a CustomDimension.",
      "id": "GoogleAnalyticsAdminV1betaCustomDimension",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1betaAccessOrderByMetricOrderBy": {
      "id": "GoogleAnalyticsAdminV1betaAccessOrderByMetricOrderBy",
      "type": "object",
      "properties": {
        "metricName": {
          "description": "A metric name in the request to order by.",
          "type": "string"
        }
      },
      "description": "Sorts by metric values."
    },
    "GoogleAnalyticsAdminV1betaListCustomDimensionsResponse": {
      "id": "GoogleAnalyticsAdminV1betaListCustomDimensionsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "customDimensions": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaCustomDimension"
          },
          "description": "List of CustomDimensions."
        }
      },
      "description": "Response message for ListCustomDimensions RPC."
    },
    "GoogleAnalyticsAdminV1betaAccessFilterExpression": {
      "description": "Expresses dimension or metric filters. The fields in the same expression need to be either all dimensions or all metrics.",
      "properties": {
        "orGroup": {
          "$ref": "GoogleAnalyticsAdminV1betaAccessFilterExpressionList",
          "description": "Each of the FilterExpressions in the or_group has an OR relationship."
        },
        "notExpression": {
          "$ref": "GoogleAnalyticsAdminV1betaAccessFilterExpression",
          "description": "The FilterExpression is NOT of not_expression."
        },
        "andGroup": {
          "description": "Each of the FilterExpressions in the and_group has an AND relationship.",
          "$ref": "GoogleAnalyticsAdminV1betaAccessFilterExpressionList"
        },
        "accessFilter": {
          "$ref": "GoogleAnalyticsAdminV1betaAccessFilter",
          "description": "A primitive filter. In the same FilterExpression, all of the filter's field names need to be either all dimensions or all metrics."
        }
      },
      "type": "object",
      "id": "GoogleAnalyticsAdminV1betaAccessFilterExpression"
    },
    "GoogleAnalyticsAdminV1betaNumericValue": {
      "properties": {
        "int64Value": {
          "description": "Integer value",
          "type": "string",
          "format": "int64"
        },
        "doubleValue": {
          "description": "Double value",
          "type": "number",
          "format": "double"
        }
      },
      "description": "To represent a number.",
      "id": "GoogleAnalyticsAdminV1betaNumericValue",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1betaDataSharingSettings": {
      "properties": {
        "sharingWithGoogleProductsEnabled": {
          "description": "Allows Google to use the data to improve other Google products or services. This fields maps to the \"Google products & services\" field in the Google Analytics Admin UI.",
          "type": "boolean"
        },
        "sharingWithGoogleSupportEnabled": {
          "description": "Allows Google technical support representatives access to your Google Analytics data and account when necessary to provide service and find solutions to technical issues. This field maps to the \"Technical support\" field in the Google Analytics Admin UI.",
          "type": "boolean"
        },
        "sharingWithOthersEnabled": {
          "description": "Enable features like predictions, modeled data, and benchmarking that can provide you with richer business insights when you contribute aggregated measurement data. The data you share (including information about the property from which it is shared) is aggregated and de-identified before being used to generate business insights. This field maps to the \"Modeling contributions & business insights\" field in the Google Analytics Admin UI.",
          "type": "boolean"
        },
        "name": {
          "description": "Identifier. Resource name. Format: accounts/{account}/dataSharingSettings Example: \"accounts/1000/dataSharingSettings\"",
          "type": "string"
        },
        "sharingWithGoogleAssignedSalesEnabled": {
          "description": "Allows Google access to your Google Analytics account data, including account usage and configuration data, product spending, and users associated with your Google Analytics account, so that Google can help you make the most of Google products, providing you with insights, offers, recommendations, and optimization tips across Google Analytics and other Google products for business. This field maps to the \"Recommendations for your business\" field in the Google Analytics Admin UI.",
          "type": "boolean"
        },
        "sharingWithGoogleAnySalesEnabled": {
          "deprecated": true,
          "type": "boolean",
          "description": "Deprecated. This field is no longer used and always returns false."
        }
      },
[...]
