{
  "name": "analyticsadmin",
  "parameters": {
    "alt": {
      "location": "query",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "default": "json"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    }
  },
  "documentationLink": "http://code.google.com/apis/analytics/docs/mgmt/home.html",
  "kind": "discovery#restDescription",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/analytics.edit": {
          "description": "Edit Google Analytics management entities"
        },
        "https://www.googleapis.com/auth/analytics.manage.users": {
          "description": "Manage Google Analytics Account users by email address"
        },
        "https://www.googleapis.com/auth/analytics.manage.users.readonly": {
          "description": "View Google Analytics user permissions"
        },
        "https://www.googleapis.com/auth/analytics.readonly": {
          "description": "See and download your Google Analytics data"
        }
      }
    }
  },
  "mtlsRootUrl": "https://analyticsadmin.mtls.googleapis.com/",
  "rootUrl": "https://analyticsadmin.googleapis.com/",
  "servicePath": "",
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "revision": "20260913",
  "id": "analyticsadmin:v1alpha",
  "ownerName": "Google",
  "version": "v1alpha",
  "ownerDomain": "google.com",
  "protocol": "rest",
  "baseUrl": "https://analyticsadmin.googleapis.com/",
  "basePath": "",
  "schemas": {
    "GoogleAnalyticsAdminV1alphaListAdSenseLinksResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "adsenseLinks": {
          "description": "List of AdSenseLinks.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAdSenseLink"
          }
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaListAdSenseLinksResponse",
      "description": "Response message for ListAdSenseLinks method.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterStringFilter": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterStringFilter",
      "properties": {
        "matchType": {
          "enum": [
            "MATCH_TYPE_UNSPECIFIED",
            "EXACT",
            "BEGINS_WITH",
            "ENDS_WITH",
            "CONTAINS",
            "FULL_REGEXP"
          ],
          "enumDescriptions": [
            "Unspecified",
            "Exact match of the string value.",
            "Begins with the string value.",
            "Ends with the string value.",
            "Contains the string value.",
            "Full regular expression matches with the string value."
          ],
          "description": "Required. The match type for the string filter.",
          "type": "string"
        },
        "caseSensitive": {
          "description": "Optional. If true, the match is case-sensitive. If false, the match is case-insensitive.",
          "type": "boolean"
        },
        "value": {
          "type": "string",
          "description": "Required. The string value to be matched against."
        }
      },
      "description": "A filter for a string-type dimension that matches a particular pattern."
    },
    "GoogleAnalyticsAdminV1alphaNumericValue": {
      "description": "To represent a number.",
      "id": "GoogleAnalyticsAdminV1alphaNumericValue",
      "properties": {
        "int64Value": {
          "type": "string",
          "description": "Integer value",
          "format": "int64"
        },
        "doubleValue": {
          "format": "double",
          "description": "Double value",
          "type": "number"
        }
      },
      "type": "object"
    },
    "GoogleProtobufEmpty": {
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "GoogleProtobufEmpty",
      "properties": {}
    },
    "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilter": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilter",
      "description": "A specific filter for a single dimension or metric.",
      "properties": {
        "numericFilter": {
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterNumericFilter",
          "description": "A filter for numeric or date values on a dimension or metric."
        },
        "betweenFilter": {
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterBetweenFilter",
          "description": "A filter for numeric or date values between certain values on a dimension or metric."
        },
        "stringFilter": {
          "description": "A filter for a string-type dimension that matches a particular pattern.",
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterStringFilter"
        },
        "atAnyPointInTime": {
          "type": "boolean",
          "description": "Optional. Indicates whether this filter needs dynamic evaluation or not. If set to true, users join the Audience if they ever met the condition (static evaluation). If unset or set to false, user evaluation for an Audience is dynamic; users are added to an Audience when they meet the conditions and then removed when they no longer meet them. This can only be set when Audience scope is ACROSS_ALL_SESSIONS."
        },
        "inAnyNDayPeriod": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. If set, specifies the time window for which to evaluate data in number of days. If not set, then audience data is evaluated against lifetime data (For example, infinite time window). For example, if set to 1 day, only the current day's data is evaluated. The reference point is the current day when at_any_point_in_time is unset or false. It can only be set when Audience scope is ACROSS_ALL_SESSIONS and cannot be greater than 60 days."
        },
        "fieldName": {
          "type": "string",
          "description": "Required. Immutable. The dimension name or metric name to filter. If the field name refers to a custom dimension or metric, a scope prefix will be added to the front of the custom dimensions or metric name. For more on scope prefixes or custom dimensions/metrics, reference the [Google Analytics Data API documentation] (https://developers.google.com/analytics/devguides/reporting/data/v1/api-schema#custom_dimensions)."
        },
        "inListFilter": {
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterInListFilter",
          "description": "A filter for a string dimension that matches a particular list of options."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaListExpandedDataSetsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "expandedDataSets": {
          "description": "List of ExpandedDataSet. These will be ordered stably, but in an arbitrary order.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaExpandedDataSet"
          }
        }
      },
      "type": "object",
      "description": "Response message for ListExpandedDataSets RPC.",
      "id": "GoogleAnalyticsAdminV1alphaListExpandedDataSetsResponse"
    },
    "GoogleAnalyticsAdminV1alphaDataSharingSettings": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaDataSharingSettings",
      "properties": {
        "sharingWithGoogleAnySalesEnabled": {
          "deprecated": true,
          "type": "boolean",
          "description": "Deprecated. This field is no longer used and always returns false."
        },
        "sharingWithGoogleAssignedSalesEnabled": {
          "description": "Allows Google access to your Google Analytics account data, including account usage and configuration data, product spending, and users associated with your Google Analytics account, so that Google can help you make the most of Google products, providing you with insights, offers, recommendations, and optimization tips across Google Analytics and other Google products for business. This field maps to the \"Recommendations for your business\" field in the Google Analytics Admin UI.",
          "type": "boolean"
        },
        "name": {
          "description": "Identifier. Resource name. Format: accounts/{account}/dataSharingSettings Example: \"accounts/1000/dataSharingSettings\"",
          "type": "string"
        },
        "sharingWithGoogleSupportEnabled": {
          "description": "Allows Google technical support representatives access to your Google Analytics data and account when necessary to provide service and find solutions to technical issues. This field maps to the \"Technical support\" field in the Google Analytics Admin UI.",
          "type": "boolean"
        },
        "sharingWithGoogleProductsEnabled": {
          "description": "Allows Google to use the data to improve other Google products or services. This fields maps to the \"Google products & services\" field in the Google Analytics Admin UI.",
          "type": "boolean"
        },
        "sharingWithOthersEnabled": {
          "description": "Enable features like predictions, modeled data, and benchmarking that can provide you with richer business insights when you contribute aggregated measurement data. The data you share (including information about the property from which it is shared) is aggregated and de-identified before being used to generate business insights. This field maps to the \"Modeling contributions & business insights\" field in the Google Analytics Admin UI.",
          "type": "boolean"
        }
      },
      "description": "A resource message representing data sharing settings of a Google Analytics account."
    },
    "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterExpressionList": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterExpressionList",
      "properties": {
        "filterExpressions": {
          "description": "Required. Unordered list. A list of Subproperty event filter expressions",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterExpression"
          },
          "type": "array"
        }
      },
      "description": "A list of Subproperty event filter expressions."
    },
    "GoogleAnalyticsAdminV1alphaAccessFilterExpressionList": {
      "type": "object",
      "description": "A list of filter expressions.",
      "properties": {
        "expressions": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccessFilterExpression"
          },
          "type": "array",
          "description": "A list of filter expressions."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaAccessFilterExpressionList"
    },
    "GoogleAnalyticsAdminV1alphaAudienceEventFilter": {
      "description": "A filter that matches events of a single event name. If an event parameter is specified, only the subset of events that match both the single event name and the parameter filter expressions match this event filter.",
      "id": "GoogleAnalyticsAdminV1alphaAudienceEventFilter",
      "type": "object",
      "properties": {
        "eventName": {
          "description": "Required. Immutable. The name of the event to match against.",
          "type": "string"
        },
        "eventParameterFilterExpression": {
          "description": "Optional. If specified, this filter matches events that match both the single event name and the parameter filter expressions. AudienceEventFilter inside the parameter filter expression cannot be set (For example, nested event filters are not supported). This should be a single and_group of dimension_or_metric_filter or not_expression; ANDs of ORs are not supported. Also, if it includes a filter for \"eventCount\", only that one will be considered; all the other filters will be ignored.",
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceFilterExpression"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaListEventEditRulesResponse": {
      "id": "GoogleAnalyticsAdminV1alphaListEventEditRulesResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "eventEditRules": {
          "description": "List of EventEditRules. These will be ordered stably, but in an arbitrary order.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaEventEditRule"
          },
          "type": "array"
        }
      },
      "description": "Response message for ListEventEditRules RPC.",
      "type": "object"
    },
    "GoogleTypeDate": {
      "type": "object",
      "properties": {
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "format": "int32",
          "type": "integer"
        },
        "year": {
          "format": "int32",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer"
        },
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleTypeDate",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
    },
    "GoogleAnalyticsAdminV1alphaAttributionSettings": {
      "id": "GoogleAnalyticsAdminV1alphaAttributionSettings",
      "description": "The attribution settings used for a given property. This is a singleton resource.",
      "type": "object",
      "properties": {
        "acquisitionConversionEventLookbackWindow": {
          "type": "string",
          "description": "Required. The lookback window configuration for acquisition conversion events. The default window size is 30 days.",
          "enum": [
            "ACQUISITION_CONVERSION_EVENT_LOOKBACK_WINDOW_UNSPECIFIED",
            "ACQUISITION_CONVERSION_EVENT_LOOKBACK_WINDOW_7_DAYS",
            "ACQUISITION_CONVERSION_EVENT_LOOKBACK_WINDOW_30_DAYS"
          ],
          "enumDescriptions": [
            "Lookback window size unspecified.",
            "7-day lookback window.",
            "30-day lookback window."
          ]
        },
        "otherConversionEventLookbackWindow": {
          "description": "Required. The lookback window for all other, non-acquisition conversion events. The default window size is 90 days.",
          "enum": [
            "OTHER_CONVERSION_EVENT_LOOKBACK_WINDOW_UNSPECIFIED",
            "OTHER_CONVERSION_EVENT_LOOKBACK_WINDOW_30_DAYS",
            "OTHER_CONVERSION_EVENT_LOOKBACK_WINDOW_60_DAYS",
            "OTHER_CONVERSION_EVENT_LOOKBACK_WINDOW_90_DAYS"
          ],
          "enumDescriptions": [
            "Lookback window size unspecified.",
            "30-day lookback window.",
            "60-day lookback window.",
            "90-day lookback window."
          ],
          "type": "string"
        },
        "adsWebConversionDataExportScope": {
          "enum": [
            "ADS_WEB_CONVERSION_DATA_EXPORT_SCOPE_UNSPECIFIED",
            "NOT_SELECTED_YET",
            "PAID_AND_ORGANIC_CHANNELS",
            "GOOGLE_PAID_CHANNELS"
          ],
          "description": "Required. The Conversion Export Scope for data exported to linked Ads Accounts.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "No data export scope selected yet. Export scope can never be changed back to this value.",
            "Paid and organic channels are eligible to receive conversion credit, but only credit assigned to Google Ads channels will appear in your Ads accounts. To learn more, see [Paid and Organic channels](https://support.google.com/analytics/answer/10632359).",
            "Only Google Ads paid channels are eligible to receive conversion credit. To learn more, see [Google Paid channels](https://support.google.com/analytics/answer/10632359)."
          ]
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Resource name of this attribution settings resource. Format: properties/{property_id}/attributionSettings Example: \"properties/1000/attributionSettings\""
        },
        "reportingAttributionModel": {
          "type": "string",
          "description": "Required. The reporting attribution model used to calculate conversion credit in this property's reports. Changing the attribution model will apply to both historical and future data. These changes will be reflected in reports with conversion and revenue data. User and session data will be unaffected.",
          "enum": [
            "REPORTING_ATTRIBUTION_MODEL_UNSPECIFIED",
            "PAID_AND_ORGANIC_CHANNELS_DATA_DRIVEN",
            "PAID_AND_ORGANIC_CHANNELS_LAST_CLICK",
            "GOOGLE_PAID_CHANNELS_LAST_CLICK"
          ],
          "enumDescriptions": [
            "Reporting attribution model unspecified.",
            "Data-driven attribution distributes credit for the conversion based on data for each conversion event. Each Data-driven model is specific to each advertiser and each conversion event. Previously CROSS_CHANNEL_DATA_DRIVEN",
            "Ignores direct traffic and attributes 100% of the conversion value to the last channel that the customer clicked through (or engaged view through for YouTube) before converting. Previously CROSS_CHANNEL_LAST_CLICK",
            "Attributes 100% of the conversion value to the last Google Paid channel that the customer clicked through before converting. Previously ADS_PREFERRED_LAST_CLICK"
          ]
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaAccessOrderBy": {
      "id": "GoogleAnalyticsAdminV1alphaAccessOrderBy",
      "properties": {
        "metric": {
          "description": "Sorts results by a metric's values.",
          "$ref": "GoogleAnalyticsAdminV1alphaAccessOrderByMetricOrderBy"
        },
        "desc": {
          "description": "If true, sorts by descending order. If false or unspecified, sorts in ascending order.",
          "type": "boolean"
        },
        "dimension": {
          "$ref": "GoogleAnalyticsAdminV1alphaAccessOrderByDimensionOrderBy",
          "description": "Sorts results by a dimension's values."
        }
      },
      "description": "Order bys define how rows will be sorted in the response. For example, ordering rows by descending access count is one ordering, and ordering rows by the country string is a different ordering.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaAudienceEventTrigger": {
      "type": "object",
      "properties": {
        "eventName": {
          "description": "Required. The event name that will be logged.",
          "type": "string"
        },
        "logCondition": {
          "type": "string",
          "enumDescriptions": [
            "Log condition is not specified.",
            "The event should be logged only when a user is joined.",
            "The event should be logged whenever the Audience condition is met, even if the user is already a member of the Audience."
          ],
          "description": "Required. When to log the event.",
          "enum": [
            "LOG_CONDITION_UNSPECIFIED",
            "AUDIENCE_JOINED",
            "AUDIENCE_MEMBERSHIP_RENEWED"
          ]
        }
      },
      "description": "Specifies an event to log when a user joins the Audience.",
      "id": "GoogleAnalyticsAdminV1alphaAudienceEventTrigger"
    },
    "GoogleAnalyticsAdminV1alphaCancelDisplayVideo360AdvertiserLinkProposalRequest": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaCancelDisplayVideo360AdvertiserLinkProposalRequest",
      "description": "Request message for CancelDisplayVideo360AdvertiserLinkProposal RPC.",
      "properties": {}
    },
    "GoogleAnalyticsAdminV1alphaDataStreamWebStreamData": {
      "id": "GoogleAnalyticsAdminV1alphaDataStreamWebStreamData",
      "description": "Data specific to web streams.",
      "type": "object",
      "properties": {
        "defaultUri": {
          "type": "string",
          "description": "Domain name of the web app being measured, or empty. Example: \"http://www.google.com\", \"https://www.google.com\""
        },
        "measurementId": {
          "description": "Output only. Analytics Measurement ID. Example: \"G-1A2BCD345E\"",
          "readOnly": true,
          "type": "string"
        },
        "firebaseAppId": {
          "description": "Output only. ID of the corresponding web app in Firebase, if any. This ID can change if the web app is deleted and recreated.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaBatchDeleteAccessBindingsRequest": {
      "properties": {
        "requests": {
          "description": "Required. The requests specifying the access bindings to delete. A maximum of 1000 access bindings can be deleted in a batch.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaDeleteAccessBindingRequest"
          },
          "type": "array"
        }
      },
      "description": "Request message for BatchDeleteAccessBindings RPC.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaBatchDeleteAccessBindingsRequest"
    },
    "GoogleAnalyticsAdminV1alphaAudienceFilterClause": {
      "properties": {
        "clauseType": {
          "type": "string",
          "description": "Required. Specifies whether this is an include or exclude filter clause.",
          "enumDescriptions": [
            "Unspecified clause type.",
            "Users will be included in the Audience if the filter clause is met.",
            "Users will be excluded from the Audience if the filter clause is met."
          ],
          "enum": [
            "AUDIENCE_CLAUSE_TYPE_UNSPECIFIED",
            "INCLUDE",
            "EXCLUDE"
          ]
        },
        "sequenceFilter": {
          "description": "Filters that must occur in a specific order for the user to be a member of the Audience.",
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceSequenceFilter"
        },
        "simpleFilter": {
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceSimpleFilter",
          "description": "A simple filter that a user must satisfy to be a member of the Audience."
        }
      },
      "description": "A clause for defining either a simple or sequence filter. A filter can be inclusive (For example, users satisfying the filter clause are included in the Audience) or exclusive (For example, users satisfying the filter clause are excluded from the Audience).",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaAudienceFilterClause"
    },
    "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterClause": {
      "id": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterClause",
      "type": "object",
      "description": "A clause for defining a filter. A filter may be inclusive (events satisfying the filter clause are included in the subproperty's data) or exclusive (events satisfying the filter clause are excluded from the subproperty's data).",
      "properties": {
        "filterClauseType": {
          "enum": [
            "FILTER_CLAUSE_TYPE_UNSPECIFIED",
            "INCLUDE",
            "EXCLUDE"
          ],
          "description": "Required. The type for the filter clause.",
          "type": "string",
          "enumDescriptions": [
            "Filter clause type unknown or not specified.",
            "Events will be included in the Sub property if the filter clause is met.",
            "Events will be excluded from the Sub property if the filter clause is met."
          ]
        },
        "filterExpression": {
          "description": "Required. The logical expression for what events are sent to the subproperty.",
          "$ref": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterExpression"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaAccessMetric": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaAccessMetric",
      "description": "The quantitative measurements of a report. For example, the metric `accessCount` is the total number of data access records.",
      "properties": {
        "metricName": {
          "description": "The API name of the metric. See [Data Access Schema](https://developers.google.com/analytics/devguides/config/admin/v1/access-api-schema) for the list of metrics supported in this API. Metrics are referenced by name in `metricFilter` & `orderBys`.",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaListDataStreamsResponse": {
      "description": "Response message for ListDataStreams RPC.",
      "id": "GoogleAnalyticsAdminV1alphaListDataStreamsResponse",
      "properties": {
        "dataStreams": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaDataStream"
          },
          "description": "List of DataStreams.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaAccountSummary": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaAccountSummary",
      "description": "A virtual resource representing an overview of an account and all its child Google Analytics properties.",
      "properties": {
        "displayName": {
          "description": "Display name for the account referred to in this account summary.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. Resource name for this account summary. Format: accountSummaries/{account_id} Example: \"accountSummaries/1000\"",
          "type": "string"
        },
        "account": {
          "type": "string",
          "description": "Resource name of account referred to by this account summary Format: accounts/{account_id} Example: \"accounts/1000\""
        },
        "propertySummaries": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaPropertySummary"
          },
          "type": "array",
          "description": "List of summaries for child accounts of this account."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaGoogleSignalsSettings": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaGoogleSignalsSettings",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. Resource name of this setting. Format: properties/{property_id}/googleSignalsSettings Example: \"properties/1000/googleSignalsSettings\"",
          "readOnly": true
        },
        "consent": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Terms of Service acceptance.",
          "enum": [
            "GOOGLE_SIGNALS_CONSENT_UNSPECIFIED",
            "GOOGLE_SIGNALS_CONSENT_CONSENTED",
            "GOOGLE_SIGNALS_CONSENT_NOT_CONSENTED"
          ],
          "enumDescriptions": [
            "Google Signals consent value defaults to GOOGLE_SIGNALS_CONSENT_UNSPECIFIED. This will be treated as GOOGLE_SIGNALS_CONSENT_NOT_CONSENTED.",
            "Terms of service have been accepted",
            "Terms of service have not been accepted"
          ]
        },
        "state": {
          "enum": [
            "GOOGLE_SIGNALS_STATE_UNSPECIFIED",
            "GOOGLE_SIGNALS_ENABLED",
            "GOOGLE_SIGNALS_DISABLED"
          ],
          "description": "Status of this setting.",
          "type": "string",
          "enumDescriptions": [
            "Google Signals status defaults to GOOGLE_SIGNALS_STATE_UNSPECIFIED to represent that the user has not made an explicit choice.",
            "Google Signals is enabled.",
            "Google Signals is disabled."
          ]
        }
      },
      "description": "Settings values for Google Signals. This is a singleton resource."
    },
    "GoogleAnalyticsAdminV1alphaSubmitUserDeletionResponse": {
      "properties": {
        "deletionRequestTime": {
          "description": "Marks the moment for which all visitor data before this point should be deleted. This is set to the time at which the deletion request was received.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "description": "Response message for SubmitUserDeletion RPC.",
      "id": "GoogleAnalyticsAdminV1alphaSubmitUserDeletionResponse"
    },
    "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterBetweenFilter": {
      "type": "object",
      "description": "A filter for numeric or date values between certain values on a dimension or metric.",
      "properties": {
        "fromValue": {
          "description": "Required. Begins with this number, inclusive.",
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterNumericValue"
        },
        "toValue": {
          "description": "Required. Ends with this number, inclusive.",
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterNumericValue"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterBetweenFilter"
    },
    "GoogleAnalyticsAdminV1alphaCustomDimension": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaCustomDimension",
      "description": "A definition for a CustomDimension.",
      "properties": {
        "parameterName": {
          "type": "string",
          "description": "Required. Immutable. Tagging parameter name for this custom dimension. If this is a user-scoped dimension, then this is the user property name. If this is an event-scoped dimension, then this is the event parameter name. If this is an item-scoped dimension, then this is the parameter name found in the eCommerce items array. May only contain alphanumeric and underscore characters, starting with a letter. Max length of 24 characters for user-scoped dimensions, 40 characters for event-scoped dimensions."
        },
        "displayName": {
          "description": "Required. Display name for this custom dimension as shown in the Analytics UI. Max length of 82 characters, alphanumeric plus space and underscore starting with a letter. Legacy system-generated display names may contain square brackets, but updates to this field will never permit square brackets.",
          "type": "string"
        },
        "scope": {
          "enum": [
            "DIMENSION_SCOPE_UNSPECIFIED",
            "EVENT",
            "USER",
            "ITEM"
          ],
          "description": "Required. Immutable. The scope of this dimension.",
          "type": "string",
          "enumDescriptions": [
            "Scope unknown or not specified.",
            "Dimension scoped to an event.",
            "Dimension scoped to a user.",
            "Dimension scoped to eCommerce items"
          ]
        },
        "name": {
          "description": "Identifier. Resource name for this CustomDimension resource. Format: properties/{property}/customDimensions/{customDimension}",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description for this custom dimension. Max length of 150 characters.",
          "type": "string"
        },
        "disallowAdsPersonalization": {
          "type": "boolean",
          "description": "Optional. If set to true, sets this dimension as NPA and excludes it from ads personalization. This is currently only supported by user-scoped custom dimensions."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaListCustomDimensionsResponse": {
      "properties": {
        "customDimensions": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaCustomDimension"
          },
          "type": "array",
          "description": "List of CustomDimensions."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for ListCustomDimensions RPC.",
      "id": "GoogleAnalyticsAdminV1alphaListCustomDimensionsResponse",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaAccessMetricHeader": {
      "properties": {
        "metricName": {
          "type": "string",
          "description": "The metric's name; for example 'accessCount'."
        }
      },
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaAccessMetricHeader",
      "description": "Describes a metric column in the report. Visible metrics requested in a report produce column entries within rows and MetricHeaders. However, metrics used exclusively within filters or expressions do not produce columns in a report; correspondingly, those metrics do not produce headers."
    },
    "GoogleAnalyticsAdminV1alphaProvisionAccountTicketResponse": {
      "description": "Response message for ProvisionAccountTicket RPC.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaProvisionAccountTicketResponse",
      "properties": {
        "accountTicketId": {
          "description": "The param to be passed in the ToS link.",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaProperty": {
      "description": "A resource message representing a Google Analytics property.",
      "id": "GoogleAnalyticsAdminV1alphaProperty",
      "type": "object",
      "properties": {
        "account": {
          "description": "Immutable. The resource name of the parent account Format: accounts/{account_id} Example: \"accounts/123\"",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. Time when entity payload fields were last updated.",
          "readOnly": true,
          "type": "string"
        },
        "propertyType": {
          "type": "string",
          "enumDescriptions": [
            "Unknown or unspecified property type",
            "Ordinary Google Analytics property",
            "Google Analytics subproperty",
            "Google Analytics rollup property"
          ],
          "description": "Immutable. The property type for this Property resource. When creating a property, if the type is \"PROPERTY_TYPE_UNSPECIFIED\", then \"ORDINARY_PROPERTY\" will be implied.",
          "enum": [
            "PROPERTY_TYPE_UNSPECIFIED",
            "PROPERTY_TYPE_ORDINARY",
            "PROPERTY_TYPE_SUBPROPERTY",
            "PROPERTY_TYPE_ROLLUP"
          ]
        },
        "name": {
          "type": "string",
          "description": "Identifier. Resource name of this property. Format: properties/{property_id} Example: \"properties/1000\""
        },
        "industryCategory": {
          "type": "string",
          "enumDescriptions": [
            "Industry category unspecified",
            "Automotive",
            "Business and industrial markets",
            "Finance",
            "Healthcare",
            "Technology",
            "Travel",
            "Other",
            "Arts and entertainment",
            "Beauty and fitness",
            "Books and literature",
            "Food and drink",
            "Games",
            "Hobbies and leisure",
            "Home and garden",
            "Internet and telecom",
            "Law and government",
            "News",
            "Online communities",
            "People and society",
            "Pets and animals",
            "Real estate",
            "Reference",
            "Science",
            "Sports",
            "Jobs and education",
            "Shopping"
          ],
          "enum": [
            "INDUSTRY_CATEGORY_UNSPECIFIED",
            "AUTOMOTIVE",
            "BUSINESS_AND_INDUSTRIAL_MARKETS",
            "FINANCE",
            "HEALTHCARE",
            "TECHNOLOGY",
            "TRAVEL",
            "OTHER",
            "ARTS_AND_ENTERTAINMENT",
            "BEAUTY_AND_FITNESS",
            "BOOKS_AND_LITERATURE",
            "FOOD_AND_DRINK",
            "GAMES",
            "HOBBIES_AND_LEISURE",
            "HOME_AND_GARDEN",
            "INTERNET_AND_TELECOM",
            "LAW_AND_GOVERNMENT",
            "NEWS",
            "ONLINE_COMMUNITIES",
            "PEOPLE_AND_SOCIETY",
            "PETS_AND_ANIMALS",
            "REAL_ESTATE",
            "REFERENCE",
            "SCIENCE",
            "SPORTS",
            "JOBS_AND_EDUCATION",
            "SHOPPING"
          ],
          "description": "Industry associated with this property Example: AUTOMOTIVE, FOOD_AND_DRINK"
        },
        "serviceLevel": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "SERVICE_LEVEL_UNSPECIFIED",
            "GOOGLE_ANALYTICS_STANDARD",
            "GOOGLE_ANALYTICS_360"
          ],
          "enumDescriptions": [
            "Service level not specified or invalid.",
            "The standard version of Google Analytics.",
            "The paid, premium version of Google Analytics."
          ],
          "description": "Output only. The Google Analytics service level that applies to this property."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time when the entity was originally created."
        },
        "deleteTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. If set, the time at which this property was trashed. If not set, then this property is not currently in the trash can.",
          "readOnly": true
        },
        "parent": {
          "description": "Immutable. Resource name of this property's logical parent. Note: The Property-Moving UI can be used to change the parent. Format: accounts/{account}, properties/{property} Example: \"accounts/100\", \"properties/101\"",
          "type": "string"
        },
        "currencyCode": {
          "description": "The currency type used in reports involving monetary values. Format: https://en.wikipedia.org/wiki/ISO_4217 Examples: \"USD\", \"EUR\", \"JPY\"",
          "type": "string"
        },
        "timeZone": {
          "type": "string",
          "description": "Required. Reporting Time Zone, used as the day boundary for reports, regardless of where the data originates. If the time zone honors DST, Analytics will automatically adjust for the changes. NOTE: Changing the time zone only affects data going forward, and is not applied retroactively. Format: https://www.iana.org/time-zones Example: \"America/Los_Angeles\""
        },
        "displayName": {
          "type": "string",
          "description": "Required. Human-readable display name for this property. The max allowed display name length is 100 UTF-16 code units."
        },
        "expireTime": {
          "readOnly": true,
          "description": "Output only. If set, the time at which this trashed property will be permanently deleted. If not set, then this property is not currently in the trash can and is not slated to be deleted.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaListAccountSummariesResponse": {
      "description": "Response message for ListAccountSummaries RPC.",
      "properties": {
        "accountSummaries": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccountSummary"
          },
          "type": "array",
          "description": "Account summaries of all accounts the caller has access to."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaListAccountSummariesResponse",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaDataStream": {
      "type": "object",
      "description": "A resource message representing a data stream.",
      "id": "GoogleAnalyticsAdminV1alphaDataStream",
      "properties": {
        "webStreamData": {
          "description": "Data specific to web streams. Must be populated if type is WEB_DATA_STREAM.",
          "$ref": "GoogleAnalyticsAdminV1alphaDataStreamWebStreamData"
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time when stream payload fields were last updated.",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Resource name of this Data Stream. Format: properties/{property_id}/dataStreams/{stream_id} Example: \"properties/1000/dataStreams/2000\""
        },
        "displayName": {
          "type": "string",
          "description": "Human-readable display name for the Data Stream. Required for web data streams. The max allowed display name length is 255 UTF-16 code units."
        },
        "androidAppStreamData": {
          "$ref": "GoogleAnalyticsAdminV1alphaDataStreamAndroidAppStreamData",
          "description": "Data specific to Android app streams. Must be populated if type is ANDROID_APP_DATA_STREAM."
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Time when this stream was originally created.",
          "type": "string",
          "format": "google-datetime"
        },
        "iosAppStreamData": {
          "description": "Data specific to iOS app streams. Must be populated if type is IOS_APP_DATA_STREAM.",
          "$ref": "GoogleAnalyticsAdminV1alphaDataStreamIosAppStreamData"
        },
        "type": {
          "type": "string",
          "description": "Required. Immutable. The type of this DataStream resource.",
          "enum": [
            "DATA_STREAM_TYPE_UNSPECIFIED",
            "WEB_DATA_STREAM",
            "ANDROID_APP_DATA_STREAM",
            "IOS_APP_DATA_STREAM"
          ],
          "enumDescriptions": [
            "Type unknown or not specified.",
            "Web data stream.",
            "Android app data stream.",
            "iOS app data stream."
          ]
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaAudienceSequenceFilterAudienceSequenceStep": {
      "id": "GoogleAnalyticsAdminV1alphaAudienceSequenceFilterAudienceSequenceStep",
      "description": "A condition that must occur in the specified step order for this user to match the sequence.",
      "properties": {
        "constraintDuration": {
          "format": "google-duration",
          "type": "string",
          "description": "Optional. When set, this step must be satisfied within the constraint_duration of the previous step (For example, t[i] - t[i-1] <= constraint_duration). If not set, there is no duration requirement (the duration is effectively unlimited). It is ignored for the first step."
        },
        "filterExpression": {
          "description": "Required. Immutable. A logical expression of Audience dimension, metric, or event filters in each step.",
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceFilterExpression"
        },
        "scope": {
          "enum": [
            "AUDIENCE_FILTER_SCOPE_UNSPECIFIED",
            "AUDIENCE_FILTER_SCOPE_WITHIN_SAME_EVENT",
            "AUDIENCE_FILTER_SCOPE_WITHIN_SAME_SESSION",
            "AUDIENCE_FILTER_SCOPE_ACROSS_ALL_SESSIONS"
          ],
          "enumDescriptions": [
            "Scope is not specified.",
            "User joins the Audience if the filter condition is met within one event.",
            "User joins the Audience if the filter condition is met within one session.",
            "User joins the Audience if the filter condition is met by any event across any session."
          ],
          "type": "string",
          "description": "Required. Immutable. Specifies the scope for this step."
        },
        "immediatelyFollows": {
          "description": "Optional. If true, the event satisfying this step must be the very next event after the event satisfying the last step. If unset or false, this step indirectly follows the prior step; for example, there may be events between the prior step and this step. It is ignored for the first step.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaAccessInListFilter": {
      "description": "The result needs to be in a list of string values.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaAccessInListFilter",
      "properties": {
        "values": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of string values. Must be non-empty."
        },
        "caseSensitive": {
          "type": "boolean",
          "description": "If true, the string value is case sensitive."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaListAudiencesResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "audiences": {
          "description": "List of Audiences.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAudience"
          }
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaListAudiencesResponse",
      "type": "object",
      "description": "Response message for ListAudiences RPC."
    },
    "GoogleAnalyticsAdminV1alphaBatchCreateAccessBindingsRequest": {
      "id": "GoogleAnalyticsAdminV1alphaBatchCreateAccessBindingsRequest",
      "properties": {
        "requests": {
          "type": "array",
          "description": "Required. The requests specifying the access bindings to create. A maximum of 1000 access bindings can be created in a batch.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaCreateAccessBindingRequest"
          }
        }
      },
      "description": "Request message for BatchCreateAccessBindings RPC.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaListAccountsResponse": {
      "id": "GoogleAnalyticsAdminV1alphaListAccountsResponse",
      "description": "Request message for ListAccounts RPC.",
      "type": "object",
      "properties": {
        "accounts": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccount"
          },
          "description": "Results that were accessible to the caller.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaListEventCreateRulesResponse": {
      "id": "GoogleAnalyticsAdminV1alphaListEventCreateRulesResponse",
      "type": "object",
      "properties": {
        "eventCreateRules": {
          "description": "List of EventCreateRules. These will be ordered stably, but in an arbitrary order.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaEventCreateRule"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for ListEventCreateRules RPC."
    },
    "GoogleAnalyticsAdminV1alphaListFirebaseLinksResponse": {
      "id": "GoogleAnalyticsAdminV1alphaListFirebaseLinksResponse",
      "properties": {
        "firebaseLinks": {
          "description": "List of FirebaseLinks. This will have at most one value.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaFirebaseLink"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages. Currently, Google Analytics supports only one FirebaseLink per property, so this will never be populated.",
          "type": "string"
        }
      },
      "description": "Response message for ListFirebaseLinks RPC",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaCreateRollupPropertyRequest": {
      "id": "GoogleAnalyticsAdminV1alphaCreateRollupPropertyRequest",
      "description": "Request message for CreateRollupProperty RPC.",
      "properties": {
        "rollupProperty": {
          "description": "Required. The roll-up property to create.",
          "$ref": "GoogleAnalyticsAdminV1alphaProperty"
        },
        "sourceProperties": {
          "description": "Optional. The resource names of properties that will be sources to the created roll-up property.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaListCustomMetricsResponse": {
      "description": "Response message for ListCustomMetrics RPC.",
      "id": "GoogleAnalyticsAdminV1alphaListCustomMetricsResponse",
      "properties": {
        "customMetrics": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaCustomMetric"
          },
          "type": "array",
          "description": "List of CustomMetrics."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterExpression": {
      "type": "object",
      "properties": {
        "notExpression": {
          "description": "A filter expression to be NOT'ed (inverted, complemented). It can only include a filter. This cannot be set on the top level SubpropertyEventFilterExpression.",
          "$ref": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterExpression"
        },
        "orGroup": {
          "$ref": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterExpressionList",
          "description": "A list of expressions to OR’ed together. Must only contain not_expression or filter_condition expressions."
        },
        "filterCondition": {
          "description": "Creates a filter that matches a specific event. This cannot be set on the top level SubpropertyEventFilterExpression.",
          "$ref": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterCondition"
        }
      },
      "description": "A logical expression of Subproperty event filters.",
      "id": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterExpression"
    },
    "GoogleAnalyticsAdminV1alphaListChannelGroupsResponse": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaListChannelGroupsResponse",
      "description": "Response message for ListChannelGroups RPC.",
      "properties": {
        "channelGroups": {
          "description": "List of ChannelGroup. These will be ordered stably, but in an arbitrary order.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaChannelGroup"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaChangeHistoryChange": {
      "properties": {
        "action": {
          "description": "The type of action that changed this resource.",
          "enumDescriptions": [
            "Action type unknown or not specified.",
            "Resource was created in this change.",
            "Resource was updated in this change.",
            "Resource was deleted in this change."
          ],
          "type": "string",
          "enum": [
            "ACTION_TYPE_UNSPECIFIED",
            "CREATED",
            "UPDATED",
            "DELETED"
          ]
        },
        "resourceBeforeChange": {
          "$ref": "GoogleAnalyticsAdminV1alphaChangeHistoryChangeChangeHistoryResource",
          "description": "Resource contents from before the change was made. If this resource was created in this change, this field will be missing."
        },
        "resourceAfterChange": {
          "description": "Resource contents from after the change was made. If this resource was deleted in this change, this field will be missing.",
          "$ref": "GoogleAnalyticsAdminV1alphaChangeHistoryChangeChangeHistoryResource"
        },
        "resource": {
          "description": "Resource name of the resource whose changes are described by this entry.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaChangeHistoryChange",
      "description": "A description of a change to a single Google Analytics resource."
    },
    "GoogleAnalyticsAdminV1alphaMatchingCondition": {
      "id": "GoogleAnalyticsAdminV1alphaMatchingCondition",
      "properties": {
        "comparisonType": {
          "description": "Required. The type of comparison to be applied to the value.",
          "enumDescriptions": [
            "Unknown",
            "Equals, case sensitive",
            "Equals, case insensitive",
            "Contains, case sensitive",
            "Contains, case insensitive",
            "Starts with, case sensitive",
            "Starts with, case insensitive",
            "Ends with, case sensitive",
            "Ends with, case insensitive",
            "Greater than",
            "Greater than or equal",
            "Less than",
            "Less than or equal",
            "regular expression. Only supported for web streams.",
            "regular expression, case insensitive. Only supported for web streams."
          ],
          "type": "string",
          "enum": [
            "COMPARISON_TYPE_UNSPECIFIED",
            "EQUALS",
            "EQUALS_CASE_INSENSITIVE",
            "CONTAINS",
            "CONTAINS_CASE_INSENSITIVE",
            "STARTS_WITH",
            "STARTS_WITH_CASE_INSENSITIVE",
            "ENDS_WITH",
            "ENDS_WITH_CASE_INSENSITIVE",
            "GREATER_THAN",
            "GREATER_THAN_OR_EQUAL",
            "LESS_THAN",
            "LESS_THAN_OR_EQUAL",
            "REGULAR_EXPRESSION",
            "REGULAR_EXPRESSION_CASE_INSENSITIVE"
          ]
        },
        "value": {
          "description": "Required. The value being compared against for this condition. The runtime implementation may perform type coercion of this value to evaluate this condition based on the type of the parameter value.",
          "type": "string"
        },
        "negated": {
          "description": "Whether or not the result of the comparison should be negated. For example, if `negated` is true, then 'equals' comparisons would function as 'not equals'.",
          "type": "boolean"
        },
        "field": {
          "type": "string",
          "description": "Required. The name of the field that is compared against for the condition. If 'event_name' is specified this condition will apply to the name of the event. Otherwise the condition will apply to a parameter with the specified name. This value cannot contain spaces."
        }
      },
      "description": "Defines a condition for when an Event Edit or Event Creation rule applies to an event.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaExpandedDataSetFilterExpression": {
      "properties": {
        "filter": {
          "description": "A filter on a single dimension. This cannot be set on the top level ExpandedDataSetFilterExpression.",
          "$ref": "GoogleAnalyticsAdminV1alphaExpandedDataSetFilter"
        },
        "notExpression": {
          "$ref": "GoogleAnalyticsAdminV1alphaExpandedDataSetFilterExpression",
          "description": "A filter expression to be NOT'ed (that is, inverted, complemented). It must include a dimension_filter. This cannot be set on the top level ExpandedDataSetFilterExpression."
        },
        "andGroup": {
          "description": "A list of expressions to be AND’ed together. It must contain a ExpandedDataSetFilterExpression with either not_expression or dimension_filter. This must be set for the top level ExpandedDataSetFilterExpression.",
          "$ref": "GoogleAnalyticsAdminV1alphaExpandedDataSetFilterExpressionList"
        }
      },
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaExpandedDataSetFilterExpression",
      "description": "A logical expression of EnhancedDataSet dimension filters."
    },
    "GoogleAnalyticsAdminV1alphaAccessBetweenFilter": {
      "id": "GoogleAnalyticsAdminV1alphaAccessBetweenFilter",
      "type": "object",
      "properties": {
        "fromValue": {
          "$ref": "GoogleAnalyticsAdminV1alphaNumericValue",
          "description": "Begins with this number."
        },
        "toValue": {
          "$ref": "GoogleAnalyticsAdminV1alphaNumericValue",
          "description": "Ends with this number."
        }
      },
      "description": "To express that the result needs to be between two numbers (inclusive)."
    },
    "GoogleAnalyticsAdminV1alphaAccessStringFilter": {
      "properties": {
        "caseSensitive": {
          "type": "boolean",
          "description": "If true, the string value is case sensitive."
        },
        "value": {
          "description": "The string value used for the matching.",
          "type": "string"
        },
        "matchType": {
          "enum": [
            "MATCH_TYPE_UNSPECIFIED",
            "EXACT",
            "BEGINS_WITH",
            "ENDS_WITH",
            "CONTAINS",
            "FULL_REGEXP",
            "PARTIAL_REGEXP"
          ],
          "description": "The match type for this filter.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified",
            "Exact match of the string value.",
            "Begins with the string value.",
            "Ends with the string value.",
            "Contains the string value.",
            "Full match for the regular expression with the string value.",
            "Partial match for the regular expression with the string value."
          ]
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaAccessStringFilter",
      "description": "The filter for strings.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaGroupingRule": {
      "properties": {
        "displayName": {
          "description": "Required. Customer defined display name for the channel.",
          "type": "string"
        },
        "expression": {
          "description": "Required. The Filter Expression that defines the Grouping Rule.",
          "$ref": "GoogleAnalyticsAdminV1alphaChannelGroupFilterExpression"
        }
      },
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaGroupingRule",
      "description": "The rules that govern how traffic is grouped into one channel."
    },
    "GoogleAnalyticsAdminV1alphaChannelGroupFilterExpressionList": {
      "description": "A list of Channel Group filter expressions.",
      "type": "object",
      "properties": {
        "filterExpressions": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaChannelGroupFilterExpression"
          },
          "description": "A list of Channel Group filter expressions.",
          "type": "array"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaChannelGroupFilterExpressionList"
    },
    "GoogleAnalyticsAdminV1alphaListSubpropertyEventFiltersResponse": {
      "description": "Response message for ListSubpropertyEventFilter RPC.",
      "properties": {
        "subpropertyEventFilters": {
          "description": "List of subproperty event filters.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilter"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaListSubpropertyEventFiltersResponse",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaSearchChangeHistoryEventsRequest": {
      "properties": {
        "action": {
          "type": "array",
          "items": {
            "enum": [
              "ACTION_TYPE_UNSPECIFIED",
              "CREATED",
              "UPDATED",
              "DELETED"
            ],
            "type": "string",
            "enumDescriptions": [
              "Action type unknown or not specified.",
              "Resource was created in this change.",
              "Resource was updated in this change.",
              "Resource was deleted in this change."
            ]
          },
          "description": "Optional. If set, only return changes that match one or more of these types of actions."
        },
        "pageSize": {
          "type": "integer",
          "description": "Optional. The maximum number of ChangeHistoryEvent items to return. If unspecified, at most 50 items will be returned. The maximum value is 200 (higher values will be coerced to the maximum). Note that the service may return a page with fewer items than this value specifies (potentially even zero), and that there still may be additional pages. If you want a particular number of items, you'll need to continue requesting additional pages using `page_token` until you get the needed number.",
          "format": "int32"
        },
        "property": {
          "type": "string",
          "description": "Optional. Resource name for a child property. If set, only return changes made to this property or its child resources. Format: properties/{propertyId} Example: `properties/100`"
        },
        "latestChangeTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. If set, only return changes made before this time (inclusive)."
        },
        "earliestChangeTime": {
          "description": "Optional. If set, only return changes made after this time (inclusive).",
          "format": "google-datetime",
          "type": "string"
        },
        "pageToken": {
          "description": "Optional. A page token, received from a previous `SearchChangeHistoryEvents` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `SearchChangeHistoryEvents` must match the call that provided the page token.",
          "type": "string"
        },
        "resourceType": {
          "items": {
            "enum": [
              "CHANGE_HISTORY_RESOURCE_TYPE_UNSPECIFIED",
              "ACCOUNT",
              "PROPERTY",
              "FIREBASE_LINK",
              "GOOGLE_ADS_LINK",
              "GOOGLE_SIGNALS_SETTINGS",
              "CONVERSION_EVENT",
              "MEASUREMENT_PROTOCOL_SECRET",
              "CUSTOM_DIMENSION",
              "CUSTOM_METRIC",
              "DATA_RETENTION_SETTINGS",
              "DISPLAY_VIDEO_360_ADVERTISER_LINK",
              "DISPLAY_VIDEO_360_ADVERTISER_LINK_PROPOSAL",
              "SEARCH_ADS_360_LINK",
              "DATA_STREAM",
              "ATTRIBUTION_SETTINGS",
              "EXPANDED_DATA_SET",
              "CHANNEL_GROUP",
              "BIGQUERY_LINK",
              "ENHANCED_MEASUREMENT_SETTINGS",
              "DATA_REDACTION_SETTINGS",
              "SKADNETWORK_CONVERSION_VALUE_SCHEMA",
              "ADSENSE_LINK",
              "AUDIENCE",
              "EVENT_CREATE_RULE",
              "KEY_EVENT",
              "CALCULATED_METRIC",
              "REPORTING_DATA_ANNOTATION",
              "SUBPROPERTY_SYNC_CONFIG",
              "REPORTING_IDENTITY_SETTINGS",
              "USER_PROVIDED_DATA_SETTINGS"
            ],
            "type": "string",
            "enumDescriptions": [
              "Resource type unknown or not specified.",
              "Account resource",
              "Property resource",
              "FirebaseLink resource",
              "GoogleAdsLink resource",
              "GoogleSignalsSettings resource",
              "ConversionEvent resource",
              "MeasurementProtocolSecret resource",
              "CustomDimension resource",
              "CustomMetric resource",
              "DataRetentionSettings resource",
              "DisplayVideo360AdvertiserLink resource",
              "DisplayVideo360AdvertiserLinkProposal resource",
              "SearchAds360Link resource",
              "DataStream resource",
              "AttributionSettings resource",
              "ExpandedDataSet resource",
              "ChannelGroup resource",
              "BigQuery link resource",
              "EnhancedMeasurementSettings resource",
              "DataRedactionSettings resource",
              "SKAdNetworkConversionValueSchema resource",
              "AdSenseLink resource",
              "Audience resource",
              "EventCreateRule resource",
              "KeyEvent resource",
              "CalculatedMetric resource",
              "ReportingDataAnnotation resource",
              "SubpropertySyncConfig resource",
              "ReportingIdentitySettings resource",
              "UserProvidedDataSettings resource"
            ]
          },
          "type": "array",
          "description": "Optional. If set, only return changes if they are for a resource that matches at least one of these types."
        },
        "actorEmail": {
          "description": "Optional. If set, only return changes if they are made by a user in this list.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaSearchChangeHistoryEventsRequest",
      "description": "Request message for SearchChangeHistoryEvents RPC.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaReportingDataAnnotation": {
      "description": "A Reporting Data Annotation is a comment connected to certain dates for reporting data.",
      "id": "GoogleAnalyticsAdminV1alphaReportingDataAnnotation",
      "properties": {
        "annotationDateRange": {
          "$ref": "GoogleAnalyticsAdminV1alphaReportingDataAnnotationDateRange",
          "description": "If set, the Reporting Data Annotation is for a range of dates represented by this field."
        },
        "color": {
          "enumDescriptions": [
            "Color unknown or not specified.",
            "Purple color.",
            "Brown color.",
            "Blue color.",
            "Green color.",
            "Red color.",
            "Cyan color.",
            "Orange color. (Only used for system-generated annotations)"
          ],
          "type": "string",
          "enum": [
            "COLOR_UNSPECIFIED",
            "PURPLE",
            "BROWN",
            "BLUE",
            "GREEN",
            "RED",
            "CYAN",
            "ORANGE"
          ],
          "description": "Required. The color used for display of this Reporting Data Annotation."
        },
        "name": {
          "type": "string",
          "description": "Required. Identifier. Resource name of this Reporting Data Annotation. Format: 'properties/{property_id}/reportingDataAnnotations/{reporting_data_annotation}' Format: 'properties/123/reportingDataAnnotations/456'"
        },
        "systemGenerated": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. If true, this annotation was generated by the Google Analytics system. System-generated annotations cannot be updated or deleted."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description for this Reporting Data Annotation."
        },
        "annotationDate": {
          "$ref": "GoogleTypeDate",
          "description": "If set, the Reporting Data Annotation is for a specific date represented by this field. The date must be a valid date with year, month and day set. The date may be in the past, present, or future."
        },
        "title": {
          "description": "Required. Human-readable title for this Reporting Data Annotation.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaListMeasurementProtocolSecretsResponse": {
      "id": "GoogleAnalyticsAdminV1alphaListMeasurementProtocolSecretsResponse",
      "properties": {
        "measurementProtocolSecrets": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaMeasurementProtocolSecret"
          },
          "type": "array",
          "description": "A list of secrets for the parent stream specified in the request."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "description": "Response message for ListMeasurementProtocolSecret RPC",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaChannelGroupFilterStringFilter": {
      "type": "object",
      "properties": {
        "matchType": {
          "type": "string",
          "description": "Required. The match type for the string filter.",
          "enum": [
            "MATCH_TYPE_UNSPECIFIED",
            "EXACT",
            "BEGINS_WITH",
            "ENDS_WITH",
            "CONTAINS",
            "FULL_REGEXP",
            "PARTIAL_REGEXP"
          ],
          "enumDescriptions": [
            "Default match type.",
            "Exact match of the string value.",
            "Begins with the string value.",
            "Ends with the string value.",
            "Contains the string value.",
            "Full regular expression match with the string value.",
            "Partial regular expression match with the string value."
          ]
        },
        "value": {
          "type": "string",
          "description": "Required. The string value to be matched against."
        }
      },
      "description": "Filter where the field value is a String. The match is case insensitive.",
      "id": "GoogleAnalyticsAdminV1alphaChannelGroupFilterStringFilter"
    },
    "GoogleAnalyticsAdminV1alphaSubpropertyEventFilter": {
      "properties": {
        "applyToProperty": {
          "type": "string",
          "description": "Immutable. Resource name of the Subproperty that uses this filter."
        },
        "name": {
          "description": "Output only. Format: properties/{ordinary_property_id}/subpropertyEventFilters/{sub_property_event_filter} Example: properties/1234/subpropertyEventFilters/5678",
          "type": "string",
          "readOnly": true
        },
        "filterClauses": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterClause"
          },
          "description": "Required. Unordered list. Filter clauses that define the SubpropertyEventFilter. All clauses are AND'ed together to determine what data is sent to the subproperty.",
          "type": "array"
        }
      },
      "description": "A resource message representing a Google Analytics subproperty event filter.",
      "id": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilter",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaConversionValues": {
      "properties": {
        "coarseValue": {
          "type": "string",
          "description": "Required. A coarse grained conversion value. This value is not guaranteed to be unique.",
          "enum": [
            "COARSE_VALUE_UNSPECIFIED",
            "COARSE_VALUE_LOW",
            "COARSE_VALUE_MEDIUM",
            "COARSE_VALUE_HIGH"
          ],
          "enumDescriptions": [
            "Coarse value not specified.",
            "Coarse value of low.",
            "Coarse value of medium.",
            "Coarse value of high."
          ]
        },
        "displayName": {
          "description": "Display name of the SKAdNetwork conversion value. The max allowed display name length is 50 UTF-16 code units.",
          "type": "string"
        },
        "lockEnabled": {
          "type": "boolean",
          "description": "If true, the SDK should lock to this conversion value for the current postback window."
        },
        "fineValue": {
          "type": "integer",
          "format": "int32",
          "description": "The fine-grained conversion value. This is applicable only to the first postback window. Its valid values are [0,63], both inclusive. It must be set for postback window 1, and must not be set for postback window 2 & 3. This value is not guaranteed to be unique. If the configuration for the first postback window is re-used for second or third postback windows this field has no effect."
        },
        "eventMappings": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaEventMapping"
          },
          "description": "Event conditions that must be met for this Conversion Value to be achieved. The conditions in this list are ANDed together. It must have minimum of 1 entry and maximum of 3 entries, if the postback window is enabled.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaConversionValues",
      "description": "Conversion value settings for a postback window for SKAdNetwork conversion value schema."
    },
    "GoogleAnalyticsAdminV1alphaChannelGroup": {
      "properties": {
        "description": {
          "description": "The description of the Channel Group. Max length of 256 characters.",
          "type": "string"
        },
        "systemDefined": {
          "description": "Output only. If true, then this channel group is the Default Channel Group predefined by Google Analytics. Display name and grouping rules cannot be updated for this channel group.",
          "type": "boolean",
          "readOnly": true
        },
        "name": {
          "description": "Output only. The resource name for this Channel Group resource. Format: properties/{property}/channelGroups/{channel_group}",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Required. The display name of the Channel Group. Max length of 80 characters."
        },
        "groupingRule": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaGroupingRule"
          },
          "description": "Required. The grouping rules of channels. Maximum number of rules is 50.",
          "type": "array"
        },
        "primary": {
          "type": "boolean",
          "description": "Optional. If true, this channel group will be used as the default channel group for reports. Only one channel group can be set as `primary` at any time. If the `primary` field gets set on a channel group, it will get unset on the previous primary channel group. The Google Analytics predefined channel group is the primary by default."
        }
      },
      "description": "A resource message representing a Channel Group.",
      "id": "GoogleAnalyticsAdminV1alphaChannelGroup",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaAudienceFilterExpression": {
      "id": "GoogleAnalyticsAdminV1alphaAudienceFilterExpression",
      "description": "A logical expression of Audience dimension, metric, or event filters.",
      "type": "object",
      "properties": {
        "eventFilter": {
          "description": "Creates a filter that matches a specific event. This cannot be set on the top level AudienceFilterExpression.",
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceEventFilter"
        },
        "dimensionOrMetricFilter": {
          "description": "A filter on a single dimension or metric. This cannot be set on the top level AudienceFilterExpression.",
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilter"
        },
        "orGroup": {
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceFilterExpressionList",
          "description": "A list of expressions to OR’ed together. It cannot contain AudienceFilterExpressions with and_group or or_group."
        },
        "andGroup": {
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceFilterExpressionList",
          "description": "A list of expressions to be AND’ed together. It can only contain AudienceFilterExpressions with or_group. This must be set for the top level AudienceFilterExpression."
        },
        "notExpression": {
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceFilterExpression",
          "description": "A filter expression to be NOT'ed (For example, inverted, complemented). It can only include a dimension_or_metric_filter. This cannot be set on the top level AudienceFilterExpression."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaRollupPropertySourceLink": {
      "type": "object",
      "description": "A link that references a source property under the parent rollup property.",
      "id": "GoogleAnalyticsAdminV1alphaRollupPropertySourceLink",
      "properties": {
        "sourceProperty": {
          "description": "Immutable. Resource name of the source property. Format: properties/{property_id} Example: \"properties/789\"",
          "type": "string"
        },
        "name": {
          "description": "Output only. Resource name of this RollupPropertySourceLink. Format: 'properties/{property_id}/rollupPropertySourceLinks/{rollup_property_source_link}' Format: 'properties/123/rollupPropertySourceLinks/456'",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaLinkProposalStatusDetails": {
      "properties": {
        "requestorEmail": {
          "description": "Output only. The email address of the user that proposed this linkage.",
          "type": "string",
          "readOnly": true
        },
        "linkProposalInitiatingProduct": {
          "enum": [
            "LINK_PROPOSAL_INITIATING_PRODUCT_UNSPECIFIED",
            "GOOGLE_ANALYTICS",
            "LINKED_PRODUCT"
          ],
          "enumDescriptions": [
            "Unspecified product.",
            "This proposal was created by a user from Google Analytics.",
            "This proposal was created by a user from a linked product (not Google Analytics)."
          ],
          "description": "Output only. The source of this proposal.",
          "type": "string",
          "readOnly": true
        },
        "linkProposalState": {
          "enum": [
            "LINK_PROPOSAL_STATE_UNSPECIFIED",
            "AWAITING_REVIEW_FROM_GOOGLE_ANALYTICS",
            "AWAITING_REVIEW_FROM_LINKED_PRODUCT",
            "WITHDRAWN",
            "DECLINED",
            "EXPIRED",
            "OBSOLETE"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified state",
            "This proposal is awaiting review from a Google Analytics user. This proposal will automatically expire after some time.",
            "This proposal is awaiting review from a user of a linked product. This proposal will automatically expire after some time.",
            "This proposal has been withdrawn by an admin on the initiating product. This proposal will be automatically deleted after some time.",
            "This proposal has been declined by an admin on the receiving product. This proposal will be automatically deleted after some time.",
            "This proposal expired due to lack of response from an admin on the receiving product. This proposal will be automatically deleted after some time.",
            "This proposal has become obsolete because a link was directly created to the same external product resource that this proposal specifies. This proposal will be automatically deleted after some time."
          ],
          "type": "string",
          "description": "Output only. The state of this proposal."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaLinkProposalStatusDetails",
      "type": "object",
      "description": "Status information for a link proposal."
    },
    "GoogleAnalyticsAdminV1alphaApproveDisplayVideo360AdvertiserLinkProposalResponse": {
      "id": "GoogleAnalyticsAdminV1alphaApproveDisplayVideo360AdvertiserLinkProposalResponse",
      "properties": {
        "displayVideo360AdvertiserLink": {
          "description": "The DisplayVideo360AdvertiserLink created as a result of approving the proposal.",
          "$ref": "GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLink"
        }
      },
      "description": "Response message for ApproveDisplayVideo360AdvertiserLinkProposal RPC.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaParameterMutation": {
      "description": "Defines an event parameter to mutate.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaParameterMutation",
      "properties": {
        "parameter": {
          "type": "string",
          "description": "Required. The name of the parameter to mutate. This value must: * be less than 40 characters. * be unique across across all mutations within the rule * consist only of letters, digits or _ (underscores) For event edit rules, the name may also be set to 'event_name' to modify the event_name in place."
        },
        "parameterValue": {
          "type": "string",
          "description": "Required. The value mutation to perform. * Must be less than 100 characters. * To specify a constant value for the param, use the value's string. * To copy value from another parameter, use syntax like \"[[other_parameter]]\" For more details, see this [help center article](https://support.google.com/analytics/answer/10085872#modify-an-event&zippy=%2Cin-this-article%2Cmodify-parameters)."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaRunAccessReportRequest": {
      "id": "GoogleAnalyticsAdminV1alphaRunAccessReportRequest",
      "properties": {
        "includeAllUsers": {
          "type": "boolean",
          "description": "Optional. Determines whether to include users who have never made an API call in the response. If true, all users with access to the specified property or account are included in the response, regardless of whether they have made an API call or not. If false, only the users who have made an API call will be included."
        },
        "dimensionFilter": {
          "description": "Dimension filters let you restrict report response to specific dimension values which match the filter. For example, filtering on access records of a single user. To learn more, see [Fundamentals of Dimension Filters](https://developers.google.com/analytics/devguides/reporting/data/v1/basics#dimension_filters) for examples. Metrics cannot be used in this filter.",
          "$ref": "GoogleAnalyticsAdminV1alphaAccessFilterExpression"
        },
        "expandGroups": {
          "description": "Optional. Decides whether to return the users within user groups. This field works only when include_all_users is set to true. If true, it will return all users with access to the specified property or account. If false, only the users with direct access will be returned.",
          "type": "boolean"
        },
        "offset": {
          "format": "int64",
          "description": "The row count of the start row. The first row is counted as row 0. If offset is unspecified, it is treated as 0. If offset is zero, then this method will return the first page of results with `limit` entries. To learn more about this pagination parameter, see [Pagination](https://developers.google.com/analytics/devguides/reporting/data/v1/basics#pagination).",
          "type": "string"
        },
        "dimensions": {
          "description": "The dimensions requested and displayed in the response. Requests are allowed up to 9 dimensions.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccessDimension"
          },
          "type": "array"
        },
        "metricFilter": {
          "description": "Metric filters allow you to restrict report response to specific metric values which match the filter. Metric filters are applied after aggregating the report's rows, similar to SQL having-clause. Dimensions cannot be used in this filter.",
          "$ref": "GoogleAnalyticsAdminV1alphaAccessFilterExpression"
        },
        "limit": {
          "description": "The number of rows to return. If unspecified, 10,000 rows are returned. The API returns a maximum of 100,000 rows per request, no matter how many you ask for. `limit` must be positive. The API may return fewer rows than the requested `limit`, if there aren't as many remaining rows as the `limit`. For instance, there are fewer than 300 possible values for the dimension `country`, so when reporting on only `country`, you can't get more than 300 rows, even if you set `limit` to a higher value. To learn more about this pagination parameter, see [Pagination](https://developers.google.com/analytics/devguides/reporting/data/v1/basics#pagination).",
          "format": "int64",
          "type": "string"
        },
        "returnEntityQuota": {
          "description": "Toggles whether to return the current state of this Analytics Property's quota. Quota is returned in [AccessQuota](#AccessQuota). For account-level requests, this field must be false.",
          "type": "boolean"
        },
        "orderBys": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccessOrderBy"
          },
          "description": "Specifies how rows are ordered in the response."
        },
        "dateRanges": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccessDateRange"
          },
          "type": "array",
          "description": "Date ranges of access records to read. If multiple date ranges are requested, each response row will contain a zero based date range index. If two date ranges overlap, the access records for the overlapping days is included in the response rows for both date ranges. Requests are allowed up to 2 date ranges."
        },
        "metrics": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccessMetric"
          },
          "description": "The metrics requested and displayed in the response. Requests are allowed up to 10 metrics.",
          "type": "array"
        },
        "timeZone": {
          "description": "This request's time zone if specified. If unspecified, the property's time zone is used. The request's time zone is used to interpret the start & end dates of the report. Formatted as strings from the IANA Time Zone database (https://www.iana.org/time-zones); for example \"America/New_York\" or \"Asia/Tokyo\".",
          "type": "string"
        }
      },
      "description": "The request for a Data Access Record Report.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaDataRetentionSettings": {
      "description": "Settings values for data retention. This is a singleton resource.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. Resource name for this DataRetentionSetting resource. Format: properties/{property}/dataRetentionSettings"
        },
        "resetUserDataOnNewActivity": {
          "type": "boolean",
          "description": "If true, reset the retention period for the user identifier with every event from that user."
        },
        "eventDataRetention": {
          "description": "Required. The length of time that event-level data is retained.",
          "enum": [
            "RETENTION_DURATION_UNSPECIFIED",
            "TWO_MONTHS",
            "FOURTEEN_MONTHS",
            "TWENTY_SIX_MONTHS",
            "THIRTY_EIGHT_MONTHS",
            "FIFTY_MONTHS"
          ],
          "enumDescriptions": [
            "Data retention time duration is not specified.",
            "The data retention time duration is 2 months.",
            "The data retention time duration is 14 months.",
            "The data retention time duration is 26 months. Available to 360 properties only. Available for event data only.",
            "The data retention time duration is 38 months. Available to 360 properties only. Available for event data only.",
            "The data retention time duration is 50 months. Available to 360 properties only. Available for event data only."
          ],
          "type": "string"
        },
        "userDataRetention": {
          "description": "Required. The length of time that user-level data is retained.",
          "type": "string",
          "enumDescriptions": [
            "Data retention time duration is not specified.",
            "The data retention time duration is 2 months.",
            "The data retention time duration is 14 months.",
            "The data retention time duration is 26 months. Available to 360 properties only. Available for event data only.",
            "The data retention time duration is 38 months. Available to 360 properties only. Available for event data only.",
            "The data retention time duration is 50 months. Available to 360 properties only. Available for event data only."
          ],
          "enum": [
            "RETENTION_DURATION_UNSPECIFIED",
            "TWO_MONTHS",
            "FOURTEEN_MONTHS",
            "TWENTY_SIX_MONTHS",
            "THIRTY_EIGHT_MONTHS",
            "FIFTY_MONTHS"
          ]
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaDataRetentionSettings",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaPropertySummary": {
      "description": "A virtual resource representing metadata for a Google Analytics property.",
      "type": "object",
      "properties": {
        "canEdit": {
          "description": "If true, then the user has a Google Analytics role that permits them to edit the property.",
          "type": "boolean"
        },
        "propertyType": {
          "type": "string",
          "enumDescriptions": [
            "Unknown or unspecified property type",
            "Ordinary Google Analytics property",
            "Google Analytics subproperty",
            "Google Analytics rollup property"
          ],
          "enum": [
            "PROPERTY_TYPE_UNSPECIFIED",
            "PROPERTY_TYPE_ORDINARY",
            "PROPERTY_TYPE_SUBPROPERTY",
            "PROPERTY_TYPE_ROLLUP"
          ],
          "description": "The property's property type."
        },
        "displayName": {
          "description": "Display name for the property referred to in this property summary.",
          "type": "string"
        },
        "property": {
          "type": "string",
          "description": "Resource name of property referred to by this property summary Format: properties/{property_id} Example: \"properties/1000\""
        },
        "parent": {
          "description": "Resource name of this property's logical parent. Note: The Property-Moving UI can be used to change the parent. Format: accounts/{account}, properties/{property} Example: \"accounts/100\", \"properties/200\"",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaPropertySummary"
    },
    "GoogleAnalyticsAdminV1alphaSKAdNetworkConversionValueSchema": {
      "id": "GoogleAnalyticsAdminV1alphaSKAdNetworkConversionValueSchema",
      "properties": {
        "applyConversionValues": {
          "type": "boolean",
          "description": "If enabled, the GA SDK will set conversion values using this schema definition, and schema will be exported to any Google Ads accounts linked to this property. If disabled, the GA SDK will not automatically set conversion values, and also the schema will not be exported to Ads."
        },
        "postbackWindowOne": {
          "description": "Required. The conversion value settings for the first postback window. These differ from values for postback window two and three in that they contain a \"Fine\" grained conversion value (a numeric value). Conversion values for this postback window must be set. The other windows are optional and may inherit this window's settings if unset or disabled.",
          "$ref": "GoogleAnalyticsAdminV1alphaPostbackWindow"
        },
        "postbackWindowTwo": {
          "$ref": "GoogleAnalyticsAdminV1alphaPostbackWindow",
          "description": "The conversion value settings for the second postback window. This field should only be configured if there is a need to define different conversion values for this postback window. If enable_postback_window_settings is set to false for this postback window, the values from postback_window_one will be used."
        },
        "postbackWindowThree": {
          "description": "The conversion value settings for the third postback window. This field should only be set if the user chose to define different conversion values for this postback window. It is allowed to configure window 3 without setting window 2. In case window 1 & 2 settings are set and enable_postback_window_settings for this postback window is set to false, the schema will inherit settings from postback_window_two.",
          "$ref": "GoogleAnalyticsAdminV1alphaPostbackWindow"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Resource name of the schema. This will be child of ONLY an iOS stream, and there can be at most one such child under an iOS stream. Format: properties/{property}/dataStreams/{dataStream}/sKAdNetworkConversionValueSchema"
        }
      },
      "type": "object",
      "description": "SKAdNetwork conversion value schema of an iOS stream."
    },
    "GoogleAnalyticsAdminV1alphaGlobalSiteTag": {
      "description": "Read-only resource with the tag for sending data from a website to a DataStream. Only present for web DataStream resources.",
      "id": "GoogleAnalyticsAdminV1alphaGlobalSiteTag",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. Resource name for this GlobalSiteTag resource. Format: properties/{property_id}/dataStreams/{stream_id}/globalSiteTag Example: \"properties/123/dataStreams/456/globalSiteTag\""
        },
        "snippet": {
          "type": "string",
          "description": "Immutable. JavaScript code snippet to be pasted as the first item into the head tag of every webpage to measure."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaAccessNumericFilter": {
      "properties": {
        "value": {
          "description": "A numeric value or a date value.",
          "$ref": "GoogleAnalyticsAdminV1alphaNumericValue"
        },
        "operation": {
          "type": "string",
          "description": "The operation type for this filter.",
          "enum": [
            "OPERATION_UNSPECIFIED",
            "EQUAL",
            "LESS_THAN",
            "LESS_THAN_OR_EQUAL",
            "GREATER_THAN",
            "GREATER_THAN_OR_EQUAL"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Equal",
            "Less than",
            "Less than or equal",
            "Greater than",
            "Greater than or equal"
          ]
        }
      },
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaAccessNumericFilter",
      "description": "Filters for numeric or date values."
    },
[...]
