{
  "canonicalName": "Google Analytics Admin",
  "baseUrl": "https://analyticsadmin.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "id": "analyticsadmin:v1beta",
  "mtlsRootUrl": "https://analyticsadmin.mtls.googleapis.com/",
  "parameters": {
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    }
  },
  "description": "Manage properties in Google Analytics. Warning: Creating multiple Customer Applications, Accounts, or Projects to simulate or act as a single Customer Application, Account, or Project (respectively) or to circumvent Service-specific usage limits or quotas is a direct violation of Google Cloud Platform Terms of Service as well as Google APIs Terms of Service. These actions can result in immediate termination of your GCP project(s) without any warning.",
  "fullyEncodeReservedExpansion": true,
  "revision": "20260616",
  "discoveryVersion": "v1",
  "rootUrl": "https://analyticsadmin.googleapis.com/",
  "documentationLink": "http://code.google.com/apis/analytics/docs/mgmt/home.html",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/analytics.edit": {
          "description": "Edit Google Analytics management entities"
        },
        "https://www.googleapis.com/auth/analytics.readonly": {
          "description": "See and download your Google Analytics data"
        }
      }
    }
  },
  "batchPath": "batch",
  "resources": {
    "accounts": {
      "methods": {
        "provisionAccountTicket": {
          "description": "Requests a ticket for creating an account.",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaProvisionAccountTicketResponse"
          },
          "flatPath": "v1beta/accounts:provisionAccountTicket",
          "httpMethod": "POST",
          "parameterOrder": [],
          "path": "v1beta/accounts:provisionAccountTicket",
          "id": "analyticsadmin.accounts.provisionAccountTicket",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "parameters": {},
          "request": {
            "$ref": "GoogleAnalyticsAdminV1betaProvisionAccountTicketRequest"
          }
        },
        "patch": {
          "parameters": {
            "updateMask": {
              "type": "string",
              "format": "google-fieldmask",
              "description": "Required. The list of fields to be updated. Field names must be in snake case (for example, \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
              "location": "query"
            },
            "name": {
              "pattern": "^accounts/[^/]+$",
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Identifier. Resource name of this account. Format: accounts/{account} Example: \"accounts/100\""
            }
          },
          "request": {
            "$ref": "GoogleAnalyticsAdminV1betaAccount"
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "id": "analyticsadmin.accounts.patch",
          "parameterOrder": [
            "name"
          ],
          "path": "v1beta/{+name}",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaAccount"
          },
          "flatPath": "v1beta/accounts/{accountsId}",
          "httpMethod": "PATCH",
          "description": "Updates an account."
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "parameters": {
            "name": {
              "description": "Required. The name of the account to lookup. Format: accounts/{account} Example: \"accounts/100\"",
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "^accounts/[^/]+$"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "path": "v1beta/{+name}",
          "id": "analyticsadmin.accounts.get",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaAccount"
          },
          "flatPath": "v1beta/accounts/{accountsId}",
          "httpMethod": "GET",
          "description": "Lookup for a single Account."
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "parameters": {
            "pageSize": {
              "description": "Optional. The maximum number of resources to return. The service may return fewer than this value, even if there are additional pages. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "pageToken": {
              "type": "string",
              "description": "Optional. A page token, received from a previous `ListAccounts` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAccounts` must match the call that provided the page token.",
              "location": "query"
            },
            "showDeleted": {
              "description": "Whether to include soft-deleted (ie: \"trashed\") Accounts in the results. Accounts can be inspected to determine whether they are deleted or not.",
              "location": "query",
              "type": "boolean"
            }
          },
          "path": "v1beta/accounts",
          "parameterOrder": [],
          "id": "analyticsadmin.accounts.list",
          "flatPath": "v1beta/accounts",
          "httpMethod": "GET",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaListAccountsResponse"
          },
          "description": "Returns all accounts accessible by the caller. Note that these accounts might not currently have GA properties. Soft-deleted (ie: \"trashed\") accounts are excluded by default. Returns an empty list if no relevant accounts are found."
        },
        "delete": {
          "id": "analyticsadmin.accounts.delete",
          "parameterOrder": [
            "name"
          ],
          "path": "v1beta/{+name}",
          "parameters": {
            "name": {
              "pattern": "^accounts/[^/]+$",
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Required. The name of the Account to soft-delete. Format: accounts/{account} Example: \"accounts/100\""
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "description": "Marks target Account as soft-deleted (ie: \"trashed\") and returns it. This API does not have a method to restore soft-deleted accounts. However, they can be restored using the Trash Can UI. If the accounts are not restored before the expiration time, the account and all child resources (eg: Properties, GoogleAdsLinks, Streams, AccessBindings) will be permanently purged. https://support.google.com/analytics/answer/6154772 Returns an error if the target is not found.",
          "response": {
            "$ref": "GoogleProtobufEmpty"
          },
          "flatPath": "v1beta/accounts/{accountsId}",
          "httpMethod": "DELETE"
        },
        "getDataSharingSettings": {
          "parameters": {
            "name": {
              "description": "Required. The name of the settings to lookup. Format: accounts/{account}/dataSharingSettings Example: `accounts/1000/dataSharingSettings`",
              "type": "string",
              "required": true,
              "location": "path",
              "pattern": "^accounts/[^/]+/dataSharingSettings$"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "id": "analyticsadmin.accounts.getDataSharingSettings",
          "parameterOrder": [
            "name"
          ],
          "path": "v1beta/{+name}",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaDataSharingSettings"
          },
          "flatPath": "v1beta/accounts/{accountsId}/dataSharingSettings",
          "httpMethod": "GET",
          "description": "Get data sharing settings on an account. Data sharing settings are singletons."
        },
        "searchChangeHistoryEvents": {
          "request": {
            "$ref": "GoogleAnalyticsAdminV1betaSearchChangeHistoryEventsRequest"
          },
          "parameters": {
            "account": {
              "pattern": "^accounts/[^/]+$",
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. The account resource for which to return change history resources. Format: accounts/{account} Example: `accounts/100`"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "id": "analyticsadmin.accounts.searchChangeHistoryEvents",
          "path": "v1beta/{+account}:searchChangeHistoryEvents",
          "parameterOrder": [
            "account"
          ],
          "flatPath": "v1beta/accounts/{accountsId}:searchChangeHistoryEvents",
          "httpMethod": "POST",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaSearchChangeHistoryEventsResponse"
          },
          "description": "Searches through all changes to an account or its children given the specified set of filters. Only returns the subset of changes supported by the API. The UI may return additional changes."
        },
        "runAccessReport": {
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaRunAccessReportResponse"
          },
          "flatPath": "v1beta/accounts/{accountsId}:runAccessReport",
          "httpMethod": "POST",
          "description": "Returns a customized report of data access records. The report provides records of each time a user reads Google Analytics reporting data. Access records are retained for up to 2 years. Data Access Reports can be requested for a property. Reports may be requested for any property, but dimensions that aren't related to quota can only be requested on Google Analytics 360 properties. This method is only available to Administrators. These data access records include GA UI Reporting, GA UI Explorations, GA Data API, and other products like Firebase & Admob that can retrieve data from Google Analytics through a linkage. These records don't include property configuration changes like adding a stream or changing a property's time zone. For configuration change history, see [searchChangeHistoryEvents](https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/accounts/searchChangeHistoryEvents). To give your feedback on this API, complete the [Google Analytics Access Reports feedback](https://docs.google.com/forms/d/e/1FAIpQLSdmEBUrMzAEdiEKk5TV5dEHvDUZDRlgWYdQdAeSdtR4hVjEhw/viewform) form.",
          "parameters": {
            "entity": {
              "required": true,
              "location": "path",
              "pattern": "^accounts/[^/]+$",
              "description": "The Data Access Report supports requesting at the property level or account level. If requested at the account level, Data Access Reports include all access for all properties under that account. To request at the property level, entity should be for example 'properties/123' if \"123\" is your Google Analytics property ID. To request at the account level, entity should be for example 'accounts/1234' if \"1234\" is your Google Analytics Account ID.",
              "type": "string"
            }
          },
          "request": {
            "$ref": "GoogleAnalyticsAdminV1betaRunAccessReportRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "id": "analyticsadmin.accounts.runAccessReport",
          "parameterOrder": [
            "entity"
          ],
          "path": "v1beta/{+entity}:runAccessReport"
        }
      }
    },
    "accountSummaries": {
      "methods": {
        "list": {
          "description": "Returns summaries of all accounts accessible by the caller.",
          "flatPath": "v1beta/accountSummaries",
          "httpMethod": "GET",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaListAccountSummariesResponse"
          },
          "id": "analyticsadmin.accountSummaries.list",
          "path": "v1beta/accountSummaries",
          "parameterOrder": [],
          "parameters": {
            "pageSize": {
              "description": "Optional. The maximum number of AccountSummary resources to return. The service may return fewer than this value, even if there are additional pages. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "pageToken": {
              "description": "Optional. A page token, received from a previous `ListAccountSummaries` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAccountSummaries` must match the call that provided the page token.",
              "location": "query",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ]
        }
      }
    },
    "properties": {
      "resources": {
        "customDimensions": {
          "methods": {
            "list": {
              "description": "Lists CustomDimensions on a property.",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaListCustomDimensionsResponse"
              },
              "flatPath": "v1beta/properties/{propertiesId}/customDimensions",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1beta/{+parent}/customDimensions",
              "id": "analyticsadmin.properties.customDimensions.list",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameters": {
                "parent": {
                  "description": "Required. Example format: properties/1234",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^properties/[^/]+$"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Optional. The maximum number of resources to return. If unspecified, at most 50 resources will be returned. The maximum value is 200 (higher values will be coerced to the maximum).",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Optional. A page token, received from a previous `ListCustomDimensions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListCustomDimensions` must match the call that provided the page token.",
                  "location": "query"
                }
              }
            },
            "archive": {
              "description": "Archives a CustomDimension on a property.",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "flatPath": "v1beta/properties/{propertiesId}/customDimensions/{customDimensionsId}:archive",
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta/{+name}:archive",
              "id": "analyticsadmin.properties.customDimensions.archive",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The name of the CustomDimension to archive. Example format: properties/1234/customDimensions/5678",
                  "pattern": "^properties/[^/]+/customDimensions/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "request": {
                "$ref": "GoogleAnalyticsAdminV1betaArchiveCustomDimensionRequest"
              }
            },
            "patch": {
              "description": "Updates a CustomDimension on a property.",
              "flatPath": "v1beta/properties/{propertiesId}/customDimensions/{customDimensionsId}",
              "httpMethod": "PATCH",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaCustomDimension"
              },
              "path": "v1beta/{+name}",
              "parameterOrder": [
                "name"
              ],
              "id": "analyticsadmin.properties.customDimensions.patch",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "request": {
                "$ref": "GoogleAnalyticsAdminV1betaCustomDimension"
              },
              "parameters": {
                "updateMask": {
                  "description": "Required. The list of fields to be updated. Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                },
                "name": {
                  "description": "Identifier. Resource name for this CustomDimension resource. Format: properties/{property}/customDimensions/{customDimension}",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^properties/[^/]+/customDimensions/[^/]+$"
                }
              }
            },
            "get": {
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaCustomDimension"
              },
              "flatPath": "v1beta/properties/{propertiesId}/customDimensions/{customDimensionsId}",
              "httpMethod": "GET",
              "description": "Lookup for a single CustomDimension.",
              "parameters": {
                "name": {
                  "description": "Required. The name of the CustomDimension to get. Example format: properties/1234/customDimensions/5678",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^properties/[^/]+/customDimensions/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "id": "analyticsadmin.properties.customDimensions.get",
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta/{+name}"
            },
            "create": {
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "pattern": "^properties/[^/]+$",
                  "description": "Required. Example format: properties/1234",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "GoogleAnalyticsAdminV1betaCustomDimension"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analyticsadmin.properties.customDimensions.create",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1beta/{+parent}/customDimensions",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaCustomDimension"
              },
              "flatPath": "v1beta/properties/{propertiesId}/customDimensions",
              "httpMethod": "POST",
              "description": "Creates a CustomDimension."
            }
          }
        },
        "firebaseLinks": {
          "methods": {
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameters": {
                "parent": {
                  "required": true,
                  "location": "path",
                  "pattern": "^properties/[^/]+$",
                  "description": "Required. Format: properties/{property_id} Example: `properties/1234`",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "GoogleAnalyticsAdminV1betaFirebaseLink"
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "v1beta/{+parent}/firebaseLinks",
              "id": "analyticsadmin.properties.firebaseLinks.create",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaFirebaseLink"
              },
              "flatPath": "v1beta/properties/{propertiesId}/firebaseLinks",
              "httpMethod": "POST",
              "description": "Creates a FirebaseLink. Properties can have at most one FirebaseLink."
            },
            "list": {
              "parameters": {
                "parent": {
                  "description": "Required. Format: properties/{property_id} Example: `properties/1234`",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^properties/[^/]+$"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Optional. The maximum number of resources to return. The service may return fewer than this value, even if there are additional pages. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Optional. A page token, received from a previous `ListFirebaseLinks` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListFirebaseLinks` must match the call that provided the page token.",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "id": "analyticsadmin.properties.firebaseLinks.list",
              "path": "v1beta/{+parent}/firebaseLinks",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1beta/properties/{propertiesId}/firebaseLinks",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaListFirebaseLinksResponse"
              },
              "description": "Lists FirebaseLinks on a property. Properties can have at most one FirebaseLink."
            },
            "delete": {
              "flatPath": "v1beta/properties/{propertiesId}/firebaseLinks/{firebaseLinksId}",
              "httpMethod": "DELETE",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "description": "Deletes a FirebaseLink on a property",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameters": {
                "name": {
                  "description": "Required. Format: properties/{property_id}/firebaseLinks/{firebase_link_id} Example: `properties/1234/firebaseLinks/5678`",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^properties/[^/]+/firebaseLinks/[^/]+$"
                }
              },
              "path": "v1beta/{+name}",
              "parameterOrder": [
                "name"
              ],
              "id": "analyticsadmin.properties.firebaseLinks.delete"
            }
          }
        },
        "googleAdsLinks": {
          "methods": {
            "delete": {
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "flatPath": "v1beta/properties/{propertiesId}/googleAdsLinks/{googleAdsLinksId}",
              "httpMethod": "DELETE",
              "description": "Deletes a GoogleAdsLink on a property",
              "parameters": {
                "name": {
                  "pattern": "^properties/[^/]+/googleAdsLinks/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. Example format: properties/1234/googleAdsLinks/5678"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analyticsadmin.properties.googleAdsLinks.delete",
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta/{+name}"
            },
            "create": {
              "flatPath": "v1beta/properties/{propertiesId}/googleAdsLinks",
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaGoogleAdsLink"
              },
              "description": "Creates a GoogleAdsLink.",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "request": {
                "$ref": "GoogleAnalyticsAdminV1betaGoogleAdsLink"
              },
              "parameters": {
                "parent": {
                  "pattern": "^properties/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. Example format: properties/1234"
                }
              },
              "path": "v1beta/{+parent}/googleAdsLinks",
              "parameterOrder": [
                "parent"
              ],
              "id": "analyticsadmin.properties.googleAdsLinks.create"
            },
            "list": {
              "id": "analyticsadmin.properties.googleAdsLinks.list",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1beta/{+parent}/googleAdsLinks",
              "parameters": {
                "parent": {
                  "required": true,
                  "location": "path",
                  "pattern": "^properties/[^/]+$",
                  "description": "Required. Example format: properties/1234",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Optional. The maximum number of resources to return. If unspecified, at most 50 resources will be returned. The maximum value is 200 (higher values will be coerced to the maximum).",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Optional. A page token, received from a previous `ListGoogleAdsLinks` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListGoogleAdsLinks` must match the call that provided the page token.",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "description": "Lists GoogleAdsLinks on a property.",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaListGoogleAdsLinksResponse"
              },
              "flatPath": "v1beta/properties/{propertiesId}/googleAdsLinks",
              "httpMethod": "GET"
            },
            "patch": {
              "id": "analyticsadmin.properties.googleAdsLinks.patch",
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta/{+name}",
              "parameters": {
                "name": {
                  "pattern": "^properties/[^/]+/googleAdsLinks/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Identifier. Format: properties/{propertyId}/googleAdsLinks/{googleAdsLinkId} Note: googleAdsLinkId is not the Google Ads customer ID."
                },
                "updateMask": {
                  "description": "Required. The list of fields to be updated. Field names must be in snake case (e.g., \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                }
              },
              "request": {
                "$ref": "GoogleAnalyticsAdminV1betaGoogleAdsLink"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "description": "Updates a GoogleAdsLink on a property",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaGoogleAdsLink"
              },
              "flatPath": "v1beta/properties/{propertiesId}/googleAdsLinks/{googleAdsLinksId}",
              "httpMethod": "PATCH"
            }
          }
        },
        "keyEvents": {
          "methods": {
            "create": {
              "id": "analyticsadmin.properties.keyEvents.create",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1beta/{+parent}/keyEvents",
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "pattern": "^properties/[^/]+$",
                  "description": "Required. The resource name of the parent property where this Key Event will be created. Format: properties/123",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "GoogleAnalyticsAdminV1betaKeyEvent"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "description": "Creates a Key Event.",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaKeyEvent"
              },
              "flatPath": "v1beta/properties/{propertiesId}/keyEvents",
              "httpMethod": "POST"
            },
            "patch": {
              "flatPath": "v1beta/properties/{propertiesId}/keyEvents/{keyEventsId}",
              "httpMethod": "PATCH",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaKeyEvent"
              },
              "description": "Updates a Key Event.",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1betaKeyEvent"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Output only. Resource name of this key event. Format: properties/{property}/keyEvents/{key_event}",
                  "pattern": "^properties/[^/]+/keyEvents/[^/]+$",
                  "location": "path",
                  "required": true
                },
                "updateMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "description": "Required. The list of fields to be updated. Field names must be in snake case (e.g., \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analyticsadmin.properties.keyEvents.patch",
              "path": "v1beta/{+name}",
              "parameterOrder": [
                "name"
              ]
            },
            "get": {
              "path": "v1beta/{+name}",
              "parameterOrder": [
                "name"
              ],
              "id": "analyticsadmin.properties.keyEvents.get",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameters": {
                "name": {
                  "pattern": "^properties/[^/]+/keyEvents/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. The resource name of the Key Event to retrieve. Format: properties/{property}/keyEvents/{key_event} Example: \"properties/123/keyEvents/456\""
                }
              },
              "description": "Retrieve a single Key Event.",
              "flatPath": "v1beta/properties/{propertiesId}/keyEvents/{keyEventsId}",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaKeyEvent"
              }
            },
            "list": {
              "flatPath": "v1beta/properties/{propertiesId}/keyEvents",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaListKeyEventsResponse"
              },
              "description": "Returns a list of Key Events in the specified parent property. Returns an empty list if no Key Events are found.",
              "parameters": {
                "parent": {
                  "pattern": "^properties/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The resource name of the parent property. Example: 'properties/123'"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Optional. The maximum number of resources to return. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)",
                  "location": "query"
                },
                "pageToken": {
                  "description": "Optional. A page token, received from a previous `ListKeyEvents` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListKeyEvents` must match the call that provided the page token.",
                  "location": "query",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "id": "analyticsadmin.properties.keyEvents.list",
              "path": "v1beta/{+parent}/keyEvents",
              "parameterOrder": [
                "parent"
              ]
            },
            "delete": {
              "parameters": {
                "name": {
                  "description": "Required. The resource name of the Key Event to delete. Format: properties/{property}/keyEvents/{key_event} Example: \"properties/123/keyEvents/456\"",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^properties/[^/]+/keyEvents/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analyticsadmin.properties.keyEvents.delete",
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta/{+name}",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "flatPath": "v1beta/properties/{propertiesId}/keyEvents/{keyEventsId}",
              "httpMethod": "DELETE",
              "description": "Deletes a Key Event."
            }
          }
        },
        "customMetrics": {
          "methods": {
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "pattern": "^properties/[^/]+/customMetrics/[^/]+$",
                  "description": "Required. The name of the CustomMetric to get. Example format: properties/1234/customMetrics/5678",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta/{+name}",
              "id": "analyticsadmin.properties.customMetrics.get",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaCustomMetric"
              },
              "flatPath": "v1beta/properties/{propertiesId}/customMetrics/{customMetricsId}",
              "httpMethod": "GET",
              "description": "Lookup for a single CustomMetric."
            },
            "patch": {
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta/{+name}",
              "id": "analyticsadmin.properties.customMetrics.patch",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Identifier. Resource name for this CustomMetric resource. Format: properties/{property}/customMetrics/{customMetric}",
                  "pattern": "^properties/[^/]+/customMetrics/[^/]+$",
                  "required": true,
                  "location": "path"
                },
                "updateMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "description": "Required. The list of fields to be updated. Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
                  "location": "query"
                }
              },
              "request": {
                "$ref": "GoogleAnalyticsAdminV1betaCustomMetric"
              },
              "description": "Updates a CustomMetric on a property.",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaCustomMetric"
              },
              "flatPath": "v1beta/properties/{propertiesId}/customMetrics/{customMetricsId}",
              "httpMethod": "PATCH"
            },
            "create": {
              "id": "analyticsadmin.properties.customMetrics.create",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1beta/{+parent}/customMetrics",
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "pattern": "^properties/[^/]+$",
                  "description": "Required. Example format: properties/1234",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "GoogleAnalyticsAdminV1betaCustomMetric"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "description": "Creates a CustomMetric.",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaCustomMetric"
              },
              "flatPath": "v1beta/properties/{propertiesId}/customMetrics",
              "httpMethod": "POST"
            },
            "list": {
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaListCustomMetricsResponse"
              },
              "flatPath": "v1beta/properties/{propertiesId}/customMetrics",
              "httpMethod": "GET",
              "description": "Lists CustomMetrics on a property.",
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "pattern": "^properties/[^/]+$",
                  "description": "Required. Example format: properties/1234",
                  "type": "string"
                },
                "pageSize": {
                  "description": "The maximum number of resources to return. If unspecified, at most 50 resources will be returned. The maximum value is 200 (higher values will be coerced to the maximum).",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "A page token, received from a previous `ListCustomMetrics` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListCustomMetrics` must match the call that provided the page token.",
                  "location": "query",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "id": "analyticsadmin.properties.customMetrics.list",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1beta/{+parent}/customMetrics"
            },
            "archive": {
              "id": "analyticsadmin.properties.customMetrics.archive",
              "path": "v1beta/{+name}:archive",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "GoogleAnalyticsAdminV1betaArchiveCustomMetricRequest"
              },
              "parameters": {
                "name": {
                  "pattern": "^properties/[^/]+/customMetrics/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the CustomMetric to archive. Example format: properties/1234/customMetrics/5678"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "description": "Archives a CustomMetric on a property.",
              "flatPath": "v1beta/properties/{propertiesId}/customMetrics/{customMetricsId}:archive",
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              }
            }
          }
        },
        "conversionEvents": {
          "methods": {
            "get": {
              "description": "Deprecated: Use `GetKeyEvent` instead. Retrieve a single conversion event.",
              "flatPath": "v1beta/properties/{propertiesId}/conversionEvents/{conversionEventsId}",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaConversionEvent"
              },
              "id": "analyticsadmin.properties.conversionEvents.get",
              "path": "v1beta/{+name}",
              "parameterOrder": [
                "name"
              ],
              "deprecated": true,
              "parameters": {
                "name": {
                  "pattern": "^properties/[^/]+/conversionEvents/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The resource name of the conversion event to retrieve. Format: properties/{property}/conversionEvents/{conversion_event} Example: \"properties/123/conversionEvents/456\""
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ]
            },
            "patch": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameters": {
                "name": {
                  "pattern": "^properties/[^/]+/conversionEvents/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Identifier. Resource name of this conversion event. Format: properties/{property}/conversionEvents/{conversion_event}"
                },
                "updateMask": {
                  "description": "Required. The list of fields to be updated. Field names must be in snake case (e.g., \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                }
              },
              "request": {
                "$ref": "GoogleAnalyticsAdminV1betaConversionEvent"
              },
              "deprecated": true,
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta/{+name}",
              "id": "analyticsadmin.properties.conversionEvents.patch",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaConversionEvent"
              },
              "flatPath": "v1beta/properties/{propertiesId}/conversionEvents/{conversionEventsId}",
              "httpMethod": "PATCH",
              "description": "Deprecated: Use `UpdateKeyEvent` instead. Updates a conversion event with the specified attributes."
            },
            "create": {
              "id": "analyticsadmin.properties.conversionEvents.create",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1beta/{+parent}/conversionEvents",
              "parameters": {
                "parent": {
                  "description": "Required. The resource name of the parent property where this conversion event will be created. Format: properties/123",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^properties/[^/]+$"
                }
              },
              "request": {
                "$ref": "GoogleAnalyticsAdminV1betaConversionEvent"
              },
              "deprecated": true,
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "description": "Deprecated: Use `CreateKeyEvent` instead. Creates a conversion event with the specified attributes.",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaConversionEvent"
              },
              "flatPath": "v1beta/properties/{propertiesId}/conversionEvents",
              "httpMethod": "POST"
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "deprecated": true,
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^properties/[^/]+/conversionEvents/[^/]+$",
                  "description": "Required. The resource name of the conversion event to delete. Format: properties/{property}/conversionEvents/{conversion_event} Example: \"properties/123/conversionEvents/456\"",
                  "type": "string"
                }
              },
              "path": "v1beta/{+name}",
              "parameterOrder": [
                "name"
              ],
              "id": "analyticsadmin.properties.conversionEvents.delete",
              "flatPath": "v1beta/properties/{propertiesId}/conversionEvents/{conversionEventsId}",
              "httpMethod": "DELETE",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "description": "Deprecated: Use `DeleteKeyEvent` instead. Deletes a conversion event in a property."
            },
            "list": {
              "path": "v1beta/{+parent}/conversionEvents",
              "parameterOrder": [
                "parent"
              ],
              "id": "analyticsadmin.properties.conversionEvents.list",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "deprecated": true,
              "parameters": {
                "parent": {
                  "type": "string",
                  "description": "Required. The resource name of the parent property. Example: 'properties/123'",
                  "pattern": "^properties/[^/]+$",
                  "location": "path",
                  "required": true
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Optional. The maximum number of resources to return. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)",
                  "location": "query"
                },
                "pageToken": {
                  "description": "Optional. A page token, received from a previous `ListConversionEvents` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListConversionEvents` must match the call that provided the page token.",
                  "location": "query",
                  "type": "string"
                }
              },
              "description": "Deprecated: Use `ListKeyEvents` instead. Returns a list of conversion events in the specified parent property. Returns an empty list if no conversion events are found.",
              "flatPath": "v1beta/properties/{propertiesId}/conversionEvents",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaListConversionEventsResponse"
              }
            }
          },
          "deprecated": true
        },
        "dataStreams": {
          "resources": {
            "measurementProtocolSecrets": {
              "methods": {
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/analytics.edit"
                  ],
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Required. The parent resource where this secret will be created. Format: properties/{property}/dataStreams/{dataStream}",
                      "pattern": "^properties/[^/]+/dataStreams/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "GoogleAnalyticsAdminV1betaMeasurementProtocolSecret"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1beta/{+parent}/measurementProtocolSecrets",
                  "id": "analyticsadmin.properties.dataStreams.measurementProtocolSecrets.create",
                  "response": {
                    "$ref": "GoogleAnalyticsAdminV1betaMeasurementProtocolSecret"
                  },
                  "flatPath": "v1beta/properties/{propertiesId}/dataStreams/{dataStreamsId}/measurementProtocolSecrets",
                  "httpMethod": "POST",
                  "description": "Creates a measurement protocol secret."
                },
                "patch": {
                  "scopes": [
                    "https://www.googleapis.com/auth/analytics.edit"
                  ],
                  "request": {
                    "$ref": "GoogleAnalyticsAdminV1betaMeasurementProtocolSecret"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "pattern": "^properties/[^/]+/dataStreams/[^/]+/measurementProtocolSecrets/[^/]+$",
                      "description": "Identifier. Resource name of this secret. This secret may be a child of any type of stream. Format: properties/{property}/dataStreams/{dataStream}/measurementProtocolSecrets/{measurementProtocolSecret}",
                      "type": "string"
                    },
                    "updateMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "description": "Required. The list of fields to be updated. Omitted fields will not be updated.",
                      "location": "query"
                    }
                  },
                  "path": "v1beta/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "analyticsadmin.properties.dataStreams.measurementProtocolSecrets.patch",
                  "flatPath": "v1beta/properties/{propertiesId}/dataStreams/{dataStreamsId}/measurementProtocolSecrets/{measurementProtocolSecretsId}",
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "GoogleAnalyticsAdminV1betaMeasurementProtocolSecret"
                  },
                  "description": "Updates a measurement protocol secret."
                },
                "get": {
                  "description": "Lookup for a single MeasurementProtocolSecret.",
                  "response": {
                    "$ref": "GoogleAnalyticsAdminV1betaMeasurementProtocolSecret"
                  },
                  "flatPath": "v1beta/properties/{propertiesId}/dataStreams/{dataStreamsId}/measurementProtocolSecrets/{measurementProtocolSecretsId}",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta/{+name}",
                  "id": "analyticsadmin.properties.dataStreams.measurementProtocolSecrets.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/analytics.edit",
                    "https://www.googleapis.com/auth/analytics.readonly"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "pattern": "^properties/[^/]+/dataStreams/[^/]+/measurementProtocolSecrets/[^/]+$",
                      "description": "Required. The name of the measurement protocol secret to lookup. Format: properties/{property}/dataStreams/{dataStream}/measurementProtocolSecrets/{measurementProtocolSecret}",
                      "type": "string"
                    }
                  }
                },
                "list": {
                  "flatPath": "v1beta/properties/{propertiesId}/dataStreams/{dataStreamsId}/measurementProtocolSecrets",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleAnalyticsAdminV1betaListMeasurementProtocolSecretsResponse"
                  },
                  "description": "Returns child MeasurementProtocolSecrets under the specified parent Property.",
                  "parameters": {
                    "parent": {
                      "description": "Required. The resource name of the parent stream. Format: properties/{property}/dataStreams/{dataStream}/measurementProtocolSecrets",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^properties/[^/]+/dataStreams/[^/]+$"
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of resources to return. If unspecified, at most 10 resources will be returned. The maximum value is 10. Higher values will be coerced to the maximum.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A page token, received from a previous `ListMeasurementProtocolSecrets` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListMeasurementProtocolSecrets` must match the call that provided the page token.",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/analytics.edit",
                    "https://www.googleapis.com/auth/analytics.readonly"
                  ],
                  "id": "analyticsadmin.properties.dataStreams.measurementProtocolSecrets.list",
                  "path": "v1beta/{+parent}/measurementProtocolSecrets",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "delete": {
                  "id": "analyticsadmin.properties.dataStreams.measurementProtocolSecrets.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta/{+name}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The name of the MeasurementProtocolSecret to delete. Format: properties/{property}/dataStreams/{dataStream}/measurementProtocolSecrets/{measurementProtocolSecret}",
                      "pattern": "^properties/[^/]+/dataStreams/[^/]+/measurementProtocolSecrets/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/analytics.edit"
                  ],
                  "description": "Deletes target MeasurementProtocolSecret.",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "flatPath": "v1beta/properties/{propertiesId}/dataStreams/{dataStreamsId}/measurementProtocolSecrets/{measurementProtocolSecretsId}",
                  "httpMethod": "DELETE"
                }
              }
            }
          },
          "methods": {
            "create": {
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaDataStream"
              },
              "flatPath": "v1beta/properties/{propertiesId}/dataStreams",
              "httpMethod": "POST",
              "description": "Creates a DataStream.",
              "parameters": {
                "parent": {
                  "description": "Required. Example format: properties/1234",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^properties/[^/]+$"
                }
              },
              "request": {
                "$ref": "GoogleAnalyticsAdminV1betaDataStream"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analyticsadmin.properties.dataStreams.create",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1beta/{+parent}/dataStreams"
            },
            "get": {
              "id": "analyticsadmin.properties.dataStreams.get",
              "path": "v1beta/{+name}",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^properties/[^/]+/dataStreams/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the DataStream to get. Example format: properties/1234/dataStreams/5678"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "description": "Lookup for a single DataStream.",
              "flatPath": "v1beta/properties/{propertiesId}/dataStreams/{dataStreamsId}",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaDataStream"
              }
            },
            "patch": {
              "request": {
                "$ref": "GoogleAnalyticsAdminV1betaDataStream"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Identifier. Resource name of this Data Stream. Format: properties/{property_id}/dataStreams/{stream_id} Example: \"properties/1000/dataStreams/2000\"",
                  "pattern": "^properties/[^/]+/dataStreams/[^/]+$",
                  "required": true,
                  "location": "path"
                },
                "updateMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "description": "Required. The list of fields to be updated. Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analyticsadmin.properties.dataStreams.patch",
              "path": "v1beta/{+name}",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta/properties/{propertiesId}/dataStreams/{dataStreamsId}",
              "httpMethod": "PATCH",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaDataStream"
              },
              "description": "Updates a DataStream on a property."
            },
            "delete": {
              "description": "Deletes a DataStream on a property.",
              "flatPath": "v1beta/properties/{propertiesId}/dataStreams/{dataStreamsId}",
              "httpMethod": "DELETE",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "path": "v1beta/{+name}",
              "parameterOrder": [
                "name"
              ],
              "id": "analyticsadmin.properties.dataStreams.delete",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The name of the DataStream to delete. Example format: properties/1234/dataStreams/5678",
                  "pattern": "^properties/[^/]+/dataStreams/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              }
            },
            "list": {
              "description": "Lists DataStreams on a property.",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaListDataStreamsResponse"
              },
              "flatPath": "v1beta/properties/{propertiesId}/dataStreams",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1beta/{+parent}/dataStreams",
              "id": "analyticsadmin.properties.dataStreams.list",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameters": {
                "parent": {
                  "pattern": "^properties/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. Example format: properties/1234"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum number of resources to return. If unspecified, at most 50 resources will be returned. The maximum value is 200 (higher values will be coerced to the maximum).",
                  "location": "query"
                },
                "pageToken": {
                  "description": "A page token, received from a previous `ListDataStreams` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListDataStreams` must match the call that provided the page token.",
                  "location": "query",
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "methods": {
        "create": {
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaProperty"
          },
          "flatPath": "v1beta/properties",
          "httpMethod": "POST",
          "description": "Creates a Google Analytics property with the specified location and attributes.",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "parameters": {},
          "request": {
            "$ref": "GoogleAnalyticsAdminV1betaProperty"
          },
          "parameterOrder": [],
          "path": "v1beta/properties",
          "id": "analyticsadmin.properties.create"
        },
        "acknowledgeUserDataCollection": {
          "path": "v1beta/{+property}:acknowledgeUserDataCollection",
          "parameterOrder": [
            "property"
          ],
          "id": "analyticsadmin.properties.acknowledgeUserDataCollection",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "request": {
            "$ref": "GoogleAnalyticsAdminV1betaAcknowledgeUserDataCollectionRequest"
          },
          "parameters": {
            "property": {
              "location": "path",
              "required": true,
              "pattern": "^properties/[^/]+$",
              "description": "Required. The property for which to acknowledge user data collection.",
              "type": "string"
            }
          },
          "description": "Acknowledges the terms of user data collection for the specified property. This acknowledgement must be completed (either in the Google Analytics UI or through this API) before MeasurementProtocolSecret resources may be created.",
          "flatPath": "v1beta/properties/{propertiesId}:acknowledgeUserDataCollection",
          "httpMethod": "POST",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaAcknowledgeUserDataCollectionResponse"
          }
        },
        "getDataRetentionSettings": {
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaDataRetentionSettings"
          },
          "flatPath": "v1beta/properties/{propertiesId}/dataRetentionSettings",
          "httpMethod": "GET",
          "description": "Returns the singleton data retention settings for this property.",
          "parameters": {
            "name": {
              "pattern": "^properties/[^/]+/dataRetentionSettings$",
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Required. The name of the settings to lookup. Format: properties/{property}/dataRetentionSettings Example: \"properties/1000/dataRetentionSettings\""
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "id": "analyticsadmin.properties.getDataRetentionSettings",
          "parameterOrder": [
            "name"
          ],
          "path": "v1beta/{+name}"
        },
        "list": {
          "description": "Returns child Properties under the specified parent Account. Properties will be excluded if the caller does not have access. Soft-deleted (ie: \"trashed\") properties are excluded by default. Returns an empty list if no relevant properties are found.",
          "flatPath": "v1beta/properties",
          "httpMethod": "GET",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaListPropertiesResponse"
          },
          "id": "analyticsadmin.properties.list",
          "path": "v1beta/properties",
          "parameterOrder": [],
          "parameters": {
            "pageSize": {
              "type": "integer",
              "format": "int32",
              "description": "Optional. The maximum number of resources to return. The service may return fewer than this value, even if there are additional pages. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "description": "Optional. A page token, received from a previous `ListProperties` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListProperties` must match the call that provided the page token.",
              "location": "query"
            },
            "showDeleted": {
              "type": "boolean",
              "description": "Whether to include soft-deleted (ie: \"trashed\") Properties in the results. Properties can be inspected to determine whether they are deleted or not.",
              "location": "query"
            },
            "filter": {
              "description": "Required. An expression for filtering the results of the request. Fields eligible for filtering are: `parent:`(The resource name of the parent account/property) or `ancestor:`(The resource name of the parent account) or `firebase_project:`(The id or number of the linked firebase project). Some examples of filters: ``` | Filter | Description | |-----------------------------|-------------------------------------------| | parent:accounts/123 | The account with account id: 123. | | parent:properties/123 | The property with property id: 123. | | ancestor:accounts/123 | The account with account id: 123. | | firebase_project:project-id | The firebase project with id: project-id. | | firebase_project:123 | The firebase project with number: 123. | ```",
              "location": "query",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ]
        },
        "delete": {
          "description": "Marks target Property as soft-deleted (ie: \"trashed\") and returns it. This API does not have a method to restore soft-deleted properties. However, they can be restored using the Trash Can UI. If the properties are not restored before the expiration time, the Property and all child resources (eg: GoogleAdsLinks, Streams, AccessBindings) will be permanently purged. https://support.google.com/analytics/answer/6154772 Returns an error if the target is not found.",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaProperty"
          },
          "flatPath": "v1beta/properties/{propertiesId}",
          "httpMethod": "DELETE",
          "id": "analyticsadmin.properties.delete",
          "parameterOrder": [
            "name"
          ],
          "path": "v1beta/{+name}",
          "parameters": {
            "name": {
              "pattern": "^properties/[^/]+$",
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Required. The name of the Property to soft-delete. Format: properties/{property_id} Example: \"properties/1000\""
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ]
        },
        "updateDataRetentionSettings": {
          "description": "Updates the singleton data retention settings for this property.",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaDataRetentionSettings"
          },
          "flatPath": "v1beta/properties/{propertiesId}/dataRetentionSettings",
          "httpMethod": "PATCH",
          "id": "analyticsadmin.properties.updateDataRetentionSettings",
          "parameterOrder": [
            "name"
          ],
          "path": "v1beta/{+name}",
          "parameters": {
            "name": {
              "description": "Identifier. Resource name for this DataRetentionSetting resource. Format: properties/{property}/dataRetentionSettings",
              "type": "string",
              "required": true,
              "location": "path",
              "pattern": "^properties/[^/]+/dataRetentionSettings$"
            },
            "updateMask": {
              "type": "string",
              "format": "google-fieldmask",
              "description": "Required. The list of fields to be updated. Field names must be in snake case (e.g., \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
              "location": "query"
            }
          },
          "request": {
            "$ref": "GoogleAnalyticsAdminV1betaDataRetentionSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ]
        },
        "runAccessReport": {
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "request": {
            "$ref": "GoogleAnalyticsAdminV1betaRunAccessReportRequest"
          },
          "parameters": {
            "entity": {
              "pattern": "^properties/[^/]+$",
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The Data Access Report supports requesting at the property level or account level. If requested at the account level, Data Access Reports include all access for all properties under that account. To request at the property level, entity should be for example 'properties/123' if \"123\" is your Google Analytics property ID. To request at the account level, entity should be for example 'accounts/1234' if \"1234\" is your Google Analytics Account ID."
            }
          },
          "path": "v1beta/{+entity}:runAccessReport",
          "parameterOrder": [
            "entity"
          ],
          "id": "analyticsadmin.properties.runAccessReport",
          "flatPath": "v1beta/properties/{propertiesId}:runAccessReport",
          "httpMethod": "POST",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaRunAccessReportResponse"
          },
          "description": "Returns a customized report of data access records. The report provides records of each time a user reads Google Analytics reporting data. Access records are retained for up to 2 years. Data Access Reports can be requested for a property. Reports may be requested for any property, but dimensions that aren't related to quota can only be requested on Google Analytics 360 properties. This method is only available to Administrators. These data access records include GA UI Reporting, GA UI Explorations, GA Data API, and other products like Firebase & Admob that can retrieve data from Google Analytics through a linkage. These records don't include property configuration changes like adding a stream or changing a property's time zone. For configuration change history, see [searchChangeHistoryEvents](https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/accounts/searchChangeHistoryEvents). To give your feedback on this API, complete the [Google Analytics Access Reports feedback](https://docs.google.com/forms/d/e/1FAIpQLSdmEBUrMzAEdiEKk5TV5dEHvDUZDRlgWYdQdAeSdtR4hVjEhw/viewform) form."
        },
        "patch": {
          "id": "analyticsadmin.properties.patch",
          "path": "v1beta/{+name}",
          "parameterOrder": [
            "name"
          ],
          "request": {
            "$ref": "GoogleAnalyticsAdminV1betaProperty"
          },
          "parameters": {
            "updateMask": {
              "type": "string",
              "format": "google-fieldmask",
              "description": "Required. The list of fields to be updated. Field names must be in snake case (e.g., \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
              "location": "query"
            },
            "name": {
              "location": "path",
              "required": true,
              "pattern": "^properties/[^/]+$",
              "description": "Identifier. Resource name of this property. Format: properties/{property_id} Example: \"properties/1000\"",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "description": "Updates a property.",
          "flatPath": "v1beta/properties/{propertiesId}",
          "httpMethod": "PATCH",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaProperty"
          }
        },
        "get": {
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaProperty"
          },
          "flatPath": "v1beta/properties/{propertiesId}",
          "httpMethod": "GET",
          "description": "Lookup for a single GA Property.",
          "parameters": {
            "name": {
              "type": "string",
              "description": "Required. The name of the property to lookup. Format: properties/{property_id} Example: \"properties/1000\"",
              "pattern": "^properties/[^/]+$",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "id": "analyticsadmin.properties.get",
          "parameterOrder": [
            "name"
          ],
          "path": "v1beta/{+name}"
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "servicePath": "",
  "ownerName": "Google",
  "name": "analyticsadmin",
  "protocol": "rest",
  "basePath": "",
  "version_module": true,
  "title": "Google Analytics Admin API",
  "version": "v1beta",
  "kind": "discovery#restDescription",
  "schemas": {
    "GoogleAnalyticsAdminV1betaAccessOrderByMetricOrderBy": {
      "description": "Sorts by metric values.",
      "type": "object",
      "properties": {
        "metricName": {
          "description": "A metric name in the request to order by.",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1betaAccessOrderByMetricOrderBy"
    },
    "GoogleAnalyticsAdminV1betaAccessNumericFilter": {
      "description": "Filters for numeric or date values.",
      "type": "object",
      "properties": {
        "operation": {
          "enum": [
            "OPERATION_UNSPECIFIED",
            "EQUAL",
            "LESS_THAN",
            "LESS_THAN_OR_EQUAL",
            "GREATER_THAN",
            "GREATER_THAN_OR_EQUAL"
          ],
          "description": "The operation type for this filter.",
          "enumDescriptions": [
            "Unspecified.",
            "Equal",
            "Less than",
            "Less than or equal",
            "Greater than",
            "Greater than or equal"
          ],
          "type": "string"
        },
        "value": {
          "description": "A numeric value or a date value.",
          "$ref": "GoogleAnalyticsAdminV1betaNumericValue"
        }
      },
      "id": "GoogleAnalyticsAdminV1betaAccessNumericFilter"
    },
    "GoogleAnalyticsAdminV1betaListDataStreamsResponse": {
      "description": "Response message for ListDataStreams RPC.",
      "type": "object",
      "properties": {
        "dataStreams": {
          "type": "array",
          "description": "List of DataStreams.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaDataStream"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1betaListDataStreamsResponse"
    },
    "GoogleAnalyticsAdminV1betaListCustomMetricsResponse": {
      "description": "Response message for ListCustomMetrics RPC.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "customMetrics": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaCustomMetric"
          },
          "description": "List of CustomMetrics."
        }
      },
      "id": "GoogleAnalyticsAdminV1betaListCustomMetricsResponse"
    },
    "GoogleAnalyticsAdminV1betaConversionEventDefaultConversionValue": {
      "description": "Defines a default value/currency for a conversion event. Both value and currency must be provided.",
      "id": "GoogleAnalyticsAdminV1betaConversionEventDefaultConversionValue",
      "type": "object",
      "properties": {
        "value": {
          "description": "This value will be used to populate the value for all conversions of the specified event_name where the event \"value\" parameter is unset.",
          "type": "number",
          "format": "double"
        },
        "currencyCode": {
          "description": "When a conversion event for this event_name has no set currency, this currency will be applied as the default. Must be in ISO 4217 currency code format. See https://en.wikipedia.org/wiki/ISO_4217 for more information.",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1betaAccessDateRange": {
      "id": "GoogleAnalyticsAdminV1betaAccessDateRange",
      "type": "object",
      "properties": {
        "endDate": {
          "description": "The inclusive end date for the query in the format `YYYY-MM-DD`. Cannot be before `startDate`. The format `NdaysAgo`, `yesterday`, or `today` is also accepted, and in that case, the date is inferred based on the current time in the request's time zone.",
          "type": "string"
        },
        "startDate": {
          "description": "The inclusive start date for the query in the format `YYYY-MM-DD`. Cannot be after `endDate`. The format `NdaysAgo`, `yesterday`, or `today` is also accepted, and in that case, the date is inferred based on the current time in the request's time zone.",
          "type": "string"
        }
      },
      "description": "A contiguous range of days: startDate, startDate + 1, ..., endDate."
    },
    "GoogleAnalyticsAdminV1betaNumericValue": {
      "id": "GoogleAnalyticsAdminV1betaNumericValue",
      "type": "object",
      "properties": {
        "int64Value": {
          "type": "string",
          "format": "int64",
          "description": "Integer value"
        },
        "doubleValue": {
          "description": "Double value",
          "type": "number",
          "format": "double"
        }
      },
      "description": "To represent a number."
    },
    "GoogleAnalyticsAdminV1betaDataStreamIosAppStreamData": {
      "description": "Data specific to iOS app streams.",
      "id": "GoogleAnalyticsAdminV1betaDataStreamIosAppStreamData",
      "type": "object",
      "properties": {
        "bundleId": {
          "description": "Required. Immutable. The Apple App Store Bundle ID for the app Example: \"com.example.myiosapp\"",
          "type": "string"
        },
        "firebaseAppId": {
          "description": "Output only. ID of the corresponding iOS app in Firebase, if any. This ID can change if the iOS app is deleted and recreated.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1betaDataSharingSettings": {
      "type": "object",
      "properties": {
        "sharingWithGoogleProductsEnabled": {
          "description": "Allows Google to use the data to improve other Google products or services. This fields maps to the \"Google products & services\" field in the Google Analytics Admin UI.",
          "type": "boolean"
        },
        "sharingWithGoogleSupportEnabled": {
          "description": "Allows Google technical support representatives access to your Google Analytics data and account when necessary to provide service and find solutions to technical issues. This field maps to the \"Technical support\" field in the Google Analytics Admin UI.",
          "type": "boolean"
        },
        "sharingWithOthersEnabled": {
          "description": "Enable features like predictions, modeled data, and benchmarking that can provide you with richer business insights when you contribute aggregated measurement data. The data you share (including information about the property from which it is shared) is aggregated and de-identified before being used to generate business insights. This field maps to the \"Modeling contributions & business insights\" field in the Google Analytics Admin UI.",
          "type": "boolean"
        },
        "sharingWithGoogleAnySalesEnabled": {
          "type": "boolean",
          "deprecated": true,
          "description": "Deprecated. This field is no longer used and always returns false."
        },
        "name": {
          "description": "Identifier. Resource name. Format: accounts/{account}/dataSharingSettings Example: \"accounts/1000/dataSharingSettings\"",
          "type": "string"
        },
        "sharingWithGoogleAssignedSalesEnabled": {
          "description": "Allows Google access to your Google Analytics account data, including account usage and configuration data, product spending, and users associated with your Google Analytics account, so that Google can help you make the most of Google products, providing you with insights, offers, recommendations, and optimization tips across Google Analytics and other Google products for business. This field maps to the \"Recommendations for your business\" field in the Google Analytics Admin UI.",
          "type": "boolean"
        }
      },
      "id": "GoogleAnalyticsAdminV1betaDataSharingSettings",
      "description": "A resource message representing data sharing settings of a Google Analytics account."
    },
    "GoogleAnalyticsAdminV1betaDataRetentionSettings": {
      "description": "Settings values for data retention. This is a singleton resource.",
      "type": "object",
      "properties": {
        "resetUserDataOnNewActivity": {
          "description": "If true, reset the retention period for the user identifier with every event from that user.",
          "type": "boolean"
        },
        "name": {
          "description": "Identifier. Resource name for this DataRetentionSetting resource. Format: properties/{property}/dataRetentionSettings",
          "type": "string"
        },
        "userDataRetention": {
          "enum": [
            "RETENTION_DURATION_UNSPECIFIED",
            "TWO_MONTHS",
            "FOURTEEN_MONTHS",
            "TWENTY_SIX_MONTHS",
            "THIRTY_EIGHT_MONTHS",
            "FIFTY_MONTHS"
          ],
          "description": "Required. The length of time that user-level data is retained.",
          "enumDescriptions": [
            "Data retention time duration is not specified.",
            "The data retention time duration is 2 months.",
            "The data retention time duration is 14 months.",
            "The data retention time duration is 26 months. Available to 360 properties only. Available for event data only.",
            "The data retention time duration is 38 months. Available to 360 properties only. Available for event data only.",
            "The data retention time duration is 50 months. Available to 360 properties only. Available for event data only."
          ],
          "type": "string"
        },
        "eventDataRetention": {
          "enumDescriptions": [
            "Data retention time duration is not specified.",
            "The data retention time duration is 2 months.",
            "The data retention time duration is 14 months.",
            "The data retention time duration is 26 months. Available to 360 properties only. Available for event data only.",
            "The data retention time duration is 38 months. Available to 360 properties only. Available for event data only.",
            "The data retention time duration is 50 months. Available to 360 properties only. Available for event data only."
          ],
          "type": "string",
          "enum": [
            "RETENTION_DURATION_UNSPECIFIED",
            "TWO_MONTHS",
            "FOURTEEN_MONTHS",
            "TWENTY_SIX_MONTHS",
            "THIRTY_EIGHT_MONTHS",
            "FIFTY_MONTHS"
          ],
          "description": "Required. The length of time that event-level data is retained."
        }
      },
      "id": "GoogleAnalyticsAdminV1betaDataRetentionSettings"
    },
    "GoogleAnalyticsAdminV1betaDataStreamWebStreamData": {
      "type": "object",
      "properties": {
        "measurementId": {
          "description": "Output only. Analytics Measurement ID. Example: \"G-1A2BCD345E\"",
          "readOnly": true,
          "type": "string"
        },
        "defaultUri": {
          "description": "Domain name of the web app being measured, or empty. Example: \"http://www.google.com\", \"https://www.google.com\"",
          "type": "string"
        },
        "firebaseAppId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. ID of the corresponding web app in Firebase, if any. This ID can change if the web app is deleted and recreated."
        }
      },
      "id": "GoogleAnalyticsAdminV1betaDataStreamWebStreamData",
      "description": "Data specific to web streams."
    },
    "GoogleAnalyticsAdminV1betaListAccountSummariesResponse": {
      "description": "Response message for ListAccountSummaries RPC.",
      "type": "object",
      "properties": {
        "accountSummaries": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaAccountSummary"
          },
          "description": "Account summaries of all accounts the caller has access to."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1betaListAccountSummariesResponse"
    },
    "GoogleAnalyticsAdminV1betaPropertySummary": {
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Display name for the property referred to in this property summary.",
          "type": "string"
        },
        "canEdit": {
          "description": "If true, then the user has a Google Analytics role that permits them to edit the property.",
          "type": "boolean"
        },
        "propertyType": {
          "description": "The property's property type.",
          "enum": [
            "PROPERTY_TYPE_UNSPECIFIED",
            "PROPERTY_TYPE_ORDINARY",
            "PROPERTY_TYPE_SUBPROPERTY",
            "PROPERTY_TYPE_ROLLUP"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown or unspecified property type",
            "Ordinary Google Analytics property",
            "Google Analytics subproperty",
            "Google Analytics rollup property"
          ]
        },
        "property": {
          "description": "Resource name of property referred to by this property summary Format: properties/{property_id} Example: \"properties/1000\"",
          "type": "string"
        },
        "parent": {
          "description": "Resource name of this property's logical parent. Note: The Property-Moving UI can be used to change the parent. Format: accounts/{account}, properties/{property} Example: \"accounts/100\", \"properties/200\"",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1betaPropertySummary",
      "description": "A virtual resource representing metadata for a Google Analytics property."
    },
    "GoogleAnalyticsAdminV1betaGoogleAdsLink": {
      "description": "A link between a Google Analytics property and a Google Ads account.",
      "id": "GoogleAnalyticsAdminV1betaGoogleAdsLink",
      "type": "object",
      "properties": {
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time when this link was originally created."
        },
        "canManageClients": {
          "description": "Output only. If true, this link is for a Google Ads manager account.",
          "readOnly": true,
          "type": "boolean"
        },
        "adsPersonalizationEnabled": {
          "description": "Enable personalized advertising features with this integration. Automatically publish my Google Analytics audience lists and Google Analytics remarketing events/parameters to the linked Google Ads account. If this field is not set on create/update, it will be defaulted to true.",
          "type": "boolean"
        },
        "updateTime": {
          "description": "Output only. Time when this link was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "customerId": {
          "description": "Immutable. Google Ads customer ID.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. Format: properties/{propertyId}/googleAdsLinks/{googleAdsLinkId} Note: googleAdsLinkId is not the Google Ads customer ID.",
          "type": "string"
        },
        "creatorEmailAddress": {
          "description": "Output only. Email address of the user that created the link. An empty string will be returned if the email address can't be retrieved.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1betaFirebaseLink": {
      "description": "A link between a Google Analytics property and a Firebase project.",
      "id": "GoogleAnalyticsAdminV1betaFirebaseLink",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. Example format: properties/1234/firebaseLinks/5678",
          "type": "string"
        },
        "project": {
[...]
