{
  "version_module": true,
  "revision": "20260901",
  "parameters": {
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "alt": {
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "description": "Data format for response.",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    }
  },
  "kind": "discovery#restDescription",
  "basePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/analytics.edit": {
          "description": "Edit Google Analytics management entities"
        },
        "https://www.googleapis.com/auth/analytics.manage.users": {
          "description": "Manage Google Analytics Account users by email address"
        },
        "https://www.googleapis.com/auth/analytics.readonly": {
          "description": "See and download your Google Analytics data"
        },
        "https://www.googleapis.com/auth/analytics.manage.users.readonly": {
          "description": "View Google Analytics user permissions"
        }
      }
    }
  },
  "mtlsRootUrl": "https://analyticsadmin.mtls.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "name": "analyticsadmin",
  "description": "Manage properties in Google Analytics. Warning: Creating multiple Customer Applications, Accounts, or Projects to simulate or act as a single Customer Application, Account, or Project (respectively) or to circumvent Service-specific usage limits or quotas is a direct violation of Google Cloud Platform Terms of Service as well as Google APIs Terms of Service. These actions can result in immediate termination of your GCP project(s) without any warning.",
  "id": "analyticsadmin:v1alpha",
  "fullyEncodeReservedExpansion": true,
  "rootUrl": "https://analyticsadmin.googleapis.com/",
  "baseUrl": "https://analyticsadmin.googleapis.com/",
  "version": "v1alpha",
  "ownerDomain": "google.com",
  "title": "Google Analytics Admin API",
  "ownerName": "Google",
  "canonicalName": "Google Analytics Admin",
  "documentationLink": "http://code.google.com/apis/analytics/docs/mgmt/home.html",
  "protocol": "rest",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "servicePath": "",
  "resources": {
    "properties": {
      "methods": {
        "delete": {
          "flatPath": "v1alpha/properties/{propertiesId}",
          "description": "Marks target Property as soft-deleted (ie: \"trashed\") and returns it. This API does not have a method to restore soft-deleted properties. However, they can be restored using the Trash Can UI. If the properties are not restored before the expiration time, the Property and all child resources (eg: GoogleAdsLinks, Streams, AccessBindings) will be permanently purged. https://support.google.com/analytics/answer/6154772 Returns an error if the target is not found.",
          "parameters": {
            "name": {
              "description": "Required. The name of the Property to soft-delete. Format: properties/{property_id} Example: \"properties/1000\"",
              "pattern": "^properties/[^/]+$",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "id": "analyticsadmin.properties.delete",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaProperty"
          },
          "path": "v1alpha/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "DELETE"
        },
        "updateAttributionSettings": {
          "httpMethod": "PATCH",
          "description": "Updates attribution settings on a property.",
          "path": "v1alpha/{+name}",
          "flatPath": "v1alpha/properties/{propertiesId}/attributionSettings",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "required": true,
              "pattern": "^properties/[^/]+/attributionSettings$",
              "location": "path",
              "description": "Output only. Resource name of this attribution settings resource. Format: properties/{property_id}/attributionSettings Example: \"properties/1000/attributionSettings\"",
              "type": "string"
            },
            "updateMask": {
              "location": "query",
              "format": "google-fieldmask",
              "type": "string",
              "description": "Required. The list of fields to be updated. Field names must be in snake case (e.g., \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields."
            }
          },
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaAttributionSettings"
          },
          "id": "analyticsadmin.properties.updateAttributionSettings",
          "request": {
            "$ref": "GoogleAnalyticsAdminV1alphaAttributionSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ]
        },
        "updateDataRetentionSettings": {
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "flatPath": "v1alpha/properties/{propertiesId}/dataRetentionSettings",
          "id": "analyticsadmin.properties.updateDataRetentionSettings",
          "description": "Updates the singleton data retention settings for this property.",
          "path": "v1alpha/{+name}",
          "parameters": {
            "updateMask": {
              "location": "query",
              "format": "google-fieldmask",
              "description": "Required. The list of fields to be updated. Field names must be in snake case (e.g., \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
              "type": "string"
            },
            "name": {
              "description": "Identifier. Resource name for this DataRetentionSetting resource. Format: properties/{property}/dataRetentionSettings",
              "type": "string",
              "required": true,
              "pattern": "^properties/[^/]+/dataRetentionSettings$",
              "location": "path"
            }
          },
          "request": {
            "$ref": "GoogleAnalyticsAdminV1alphaDataRetentionSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaDataRetentionSettings"
          }
        },
        "submitUserDeletion": {
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Required. The name of the property to submit user deletion for.",
              "pattern": "^properties/[^/]+$"
            }
          },
          "flatPath": "v1alpha/properties/{propertiesId}:submitUserDeletion",
          "path": "v1alpha/{+name}:submitUserDeletion",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaSubmitUserDeletionResponse"
          },
          "description": "Submits a request for user deletion for a property.",
          "httpMethod": "POST",
          "request": {
            "$ref": "GoogleAnalyticsAdminV1alphaSubmitUserDeletionRequest"
          },
          "id": "analyticsadmin.properties.submitUserDeletion",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ]
        },
        "runAccessReport": {
          "httpMethod": "POST",
          "request": {
            "$ref": "GoogleAnalyticsAdminV1alphaRunAccessReportRequest"
          },
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaRunAccessReportResponse"
          },
          "parameterOrder": [
            "entity"
          ],
          "path": "v1alpha/{+entity}:runAccessReport",
          "parameters": {
            "entity": {
              "description": "The Data Access Report supports requesting at the property level or account level. If requested at the account level, Data Access Reports include all access for all properties under that account. To request at the property level, entity should be for example 'properties/123' if \"123\" is your Google Analytics property ID. To request at the account level, entity should be for example 'accounts/1234' if \"1234\" is your Google Analytics Account ID.",
              "location": "path",
              "type": "string",
              "pattern": "^properties/[^/]+$",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "id": "analyticsadmin.properties.runAccessReport",
          "description": "Returns a customized report of data access records. The report provides records of each time a user reads Google Analytics reporting data. Access records are retained for up to 2 years. Data Access Reports can be requested for a property. Reports may be requested for any property, but dimensions that aren't related to quota can only be requested on Google Analytics 360 properties. This method is only available to Administrators. These data access records include GA UI Reporting, GA UI Explorations, GA Data API, and other products like Firebase & Admob that can retrieve data from Google Analytics through a linkage. These records don't include property configuration changes like adding a stream or changing a property's time zone. For configuration change history, see [searchChangeHistoryEvents](https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/accounts/searchChangeHistoryEvents). To give your feedback on this API, complete the [Google Analytics Access Reports feedback](https://docs.google.com/forms/d/e/1FAIpQLSdmEBUrMzAEdiEKk5TV5dEHvDUZDRlgWYdQdAeSdtR4hVjEhw/viewform) form.",
          "flatPath": "v1alpha/properties/{propertiesId}:runAccessReport"
        },
        "updateReportingIdentitySettings": {
          "request": {
            "$ref": "GoogleAnalyticsAdminV1alphaReportingIdentitySettings"
          },
          "path": "v1alpha/{+name}",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaReportingIdentitySettings"
          },
          "id": "analyticsadmin.properties.updateReportingIdentitySettings",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "description": "Output only. Identifier. Resource name for this reporting identity settings singleton resource. Format: properties/{property_id}/reportingIdentitySettings Example: \"properties/1234/reportingIdentitySettings\"",
              "pattern": "^properties/[^/]+/reportingIdentitySettings$",
              "required": true
            },
            "updateMask": {
              "format": "google-fieldmask",
              "type": "string",
              "location": "query",
              "description": "Optional. The list of fields to be updated. Field names must be in snake case (for example, \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields. If omitted, the service will treat it as an implied field mask equivalent to all fields that are populated."
            }
          },
          "description": "Updates the reporting identity settings for this property.",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "httpMethod": "PATCH",
          "flatPath": "v1alpha/properties/{propertiesId}/reportingIdentitySettings"
        },
        "get": {
          "flatPath": "v1alpha/properties/{propertiesId}",
          "description": "Lookup for a single GA Property.",
          "httpMethod": "GET",
          "path": "v1alpha/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "pattern": "^properties/[^/]+$",
              "location": "path",
              "description": "Required. The name of the property to lookup. Format: properties/{property_id} Example: \"properties/1000\""
            }
          },
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaProperty"
          },
          "id": "analyticsadmin.properties.get"
        },
        "getDataRetentionSettings": {
          "path": "v1alpha/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "parameters": {
            "name": {
              "required": true,
              "description": "Required. The name of the settings to lookup. Format: properties/{property}/dataRetentionSettings Example: \"properties/1000/dataRetentionSettings\"",
              "type": "string",
              "pattern": "^properties/[^/]+/dataRetentionSettings$",
              "location": "path"
            }
          },
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaDataRetentionSettings"
          },
          "id": "analyticsadmin.properties.getDataRetentionSettings",
          "description": "Returns the singleton data retention settings for this property.",
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1alpha/properties/{propertiesId}/dataRetentionSettings"
        },
        "getUserProvidedDataSettings": {
          "parameters": {
            "name": {
              "required": true,
              "description": "Required. The name of the user provided data settings to retrieve. Format: properties/{property}/userProvidedDataSettings",
              "pattern": "^properties/[^/]+/userProvidedDataSettings$",
              "type": "string",
              "location": "path"
            }
          },
          "description": "Looks up settings related to user-provided data for a property.",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaUserProvidedDataSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "flatPath": "v1alpha/properties/{propertiesId}/userProvidedDataSettings",
          "path": "v1alpha/{+name}",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "id": "analyticsadmin.properties.getUserProvidedDataSettings"
        },
        "getAttributionSettings": {
          "id": "analyticsadmin.properties.getAttributionSettings",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "location": "path",
              "pattern": "^properties/[^/]+/attributionSettings$",
              "type": "string",
              "required": true,
              "description": "Required. The name of the attribution settings to retrieve. Format: properties/{property}/attributionSettings"
            }
          },
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaAttributionSettings"
          },
          "description": "Lookup for a AttributionSettings singleton.",
          "path": "v1alpha/{+name}",
          "flatPath": "v1alpha/properties/{propertiesId}/attributionSettings",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "httpMethod": "GET"
        },
        "create": {
          "id": "analyticsadmin.properties.create",
          "path": "v1alpha/properties",
          "parameterOrder": [],
          "httpMethod": "POST",
          "flatPath": "v1alpha/properties",
          "request": {
            "$ref": "GoogleAnalyticsAdminV1alphaProperty"
          },
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaProperty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "description": "Creates a Google Analytics property with the specified location and attributes.",
          "parameters": {}
        },
        "acknowledgeUserDataCollection": {
          "parameterOrder": [
            "property"
          ],
          "path": "v1alpha/{+property}:acknowledgeUserDataCollection",
          "description": "Acknowledges the terms of user data collection for the specified property. This acknowledgement must be completed (either in the Google Analytics UI or through this API) before MeasurementProtocolSecret resources may be created.",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaAcknowledgeUserDataCollectionResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "request": {
            "$ref": "GoogleAnalyticsAdminV1alphaAcknowledgeUserDataCollectionRequest"
          },
          "parameters": {
            "property": {
              "location": "path",
              "type": "string",
              "description": "Required. The property for which to acknowledge user data collection.",
              "pattern": "^properties/[^/]+$",
              "required": true
            }
          },
          "flatPath": "v1alpha/properties/{propertiesId}:acknowledgeUserDataCollection",
          "id": "analyticsadmin.properties.acknowledgeUserDataCollection",
          "httpMethod": "POST"
        },
        "getGoogleSignalsSettings": {
          "description": "Lookup for Google Signals settings for a property.",
          "path": "v1alpha/{+name}",
          "parameters": {
            "name": {
              "required": true,
              "description": "Required. The name of the google signals settings to retrieve. Format: properties/{property}/googleSignalsSettings",
              "type": "string",
              "pattern": "^properties/[^/]+/googleSignalsSettings$",
              "location": "path"
            }
          },
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaGoogleSignalsSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1alpha/properties/{propertiesId}/googleSignalsSettings",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "id": "analyticsadmin.properties.getGoogleSignalsSettings",
          "httpMethod": "GET"
        },
        "list": {
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaListPropertiesResponse"
          },
          "parameters": {
            "pageSize": {
              "description": "Optional. The maximum number of resources to return. The service may return fewer than this value, even if there are additional pages. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "showDeleted": {
              "description": "Whether to include soft-deleted (ie: \"trashed\") Properties in the results. Properties can be inspected to determine whether they are deleted or not.",
              "location": "query",
              "type": "boolean"
            },
            "filter": {
              "description": "Required. An expression for filtering the results of the request. Fields eligible for filtering are: `parent:`(The resource name of the parent account/property) or `ancestor:`(The resource name of the parent account) or `firebase_project:`(The id or number of the linked firebase project). Some examples of filters: ``` | Filter | Description | |-----------------------------|-------------------------------------------| | parent:accounts/123 | The account with account id: 123. | | parent:properties/123 | The property with property id: 123. | | ancestor:accounts/123 | The account with account id: 123. | | firebase_project:project-id | The firebase project with id: project-id. | | firebase_project:123 | The firebase project with number: 123. | ```",
              "type": "string",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "description": "Optional. A page token, received from a previous `ListProperties` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListProperties` must match the call that provided the page token.",
              "type": "string"
            }
          },
          "description": "Returns child Properties under the specified parent Account. Properties will be excluded if the caller does not have access. Soft-deleted (ie: \"trashed\") properties are excluded by default. Returns an empty list if no relevant properties are found.",
          "parameterOrder": [],
          "path": "v1alpha/properties",
          "id": "analyticsadmin.properties.list",
          "flatPath": "v1alpha/properties",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ]
        },
        "patch": {
          "httpMethod": "PATCH",
          "path": "v1alpha/{+name}",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaProperty"
          },
          "description": "Updates a property.",
          "request": {
            "$ref": "GoogleAnalyticsAdminV1alphaProperty"
          },
          "flatPath": "v1alpha/properties/{propertiesId}",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "parameters": {
            "updateMask": {
              "format": "google-fieldmask",
              "type": "string",
              "location": "query",
              "description": "Required. The list of fields to be updated. Field names must be in snake case (e.g., \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields."
            },
            "name": {
              "type": "string",
              "description": "Identifier. Resource name of this property. Format: properties/{property_id} Example: \"properties/1000\"",
              "location": "path",
              "required": true,
              "pattern": "^properties/[^/]+$"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "id": "analyticsadmin.properties.patch"
        },
        "createRollupProperty": {
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "parameterOrder": [],
          "httpMethod": "POST",
          "flatPath": "v1alpha/properties:createRollupProperty",
          "request": {
            "$ref": "GoogleAnalyticsAdminV1alphaCreateRollupPropertyRequest"
          },
          "parameters": {},
          "path": "v1alpha/properties:createRollupProperty",
          "id": "analyticsadmin.properties.createRollupProperty",
          "description": "Create a roll-up property and all roll-up property source links.",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaCreateRollupPropertyResponse"
          }
        },
        "getReportingIdentitySettings": {
          "description": "Returns the reporting identity settings for this property.",
          "id": "analyticsadmin.properties.getReportingIdentitySettings",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaReportingIdentitySettings"
          },
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "description": "Required. The name of the settings to lookup. Format: properties/{property}/reportingIdentitySettings Example: \"properties/1000/reportingIdentitySettings\"",
              "pattern": "^properties/[^/]+/reportingIdentitySettings$",
              "location": "path"
            }
          },
          "flatPath": "v1alpha/properties/{propertiesId}/reportingIdentitySettings",
          "parameterOrder": [
            "name"
          ],
          "path": "v1alpha/{+name}",
          "httpMethod": "GET"
        },
        "updateGoogleSignalsSettings": {
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaGoogleSignalsSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "request": {
            "$ref": "GoogleAnalyticsAdminV1alphaGoogleSignalsSettings"
          },
          "httpMethod": "PATCH",
          "path": "v1alpha/{+name}",
          "description": "Updates Google Signals settings for a property.",
          "id": "analyticsadmin.properties.updateGoogleSignalsSettings",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "flatPath": "v1alpha/properties/{propertiesId}/googleSignalsSettings",
          "parameters": {
            "name": {
              "type": "string",
              "required": true,
              "pattern": "^properties/[^/]+/googleSignalsSettings$",
              "location": "path",
              "description": "Output only. Resource name of this setting. Format: properties/{property_id}/googleSignalsSettings Example: \"properties/1000/googleSignalsSettings\""
            },
            "updateMask": {
              "location": "query",
              "format": "google-fieldmask",
              "description": "Required. The list of fields to be updated. Field names must be in snake case (e.g., \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
              "type": "string"
            }
          }
        },
        "provisionSubproperty": {
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaProvisionSubpropertyResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "parameterOrder": [],
          "parameters": {},
          "description": "Create a subproperty and a subproperty event filter that applies to the created subproperty.",
          "flatPath": "v1alpha/properties:provisionSubproperty",
          "id": "analyticsadmin.properties.provisionSubproperty",
          "path": "v1alpha/properties:provisionSubproperty",
          "request": {
            "$ref": "GoogleAnalyticsAdminV1alphaProvisionSubpropertyRequest"
          },
          "httpMethod": "POST"
        }
      },
      "resources": {
        "displayVideo360AdvertiserLinks": {
          "methods": {
            "get": {
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLink"
              },
              "httpMethod": "GET",
              "id": "analyticsadmin.properties.displayVideo360AdvertiserLinks.get",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "path": "v1alpha/{+name}",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^properties/[^/]+/displayVideo360AdvertiserLinks/[^/]+$",
                  "description": "Required. The name of the DisplayVideo360AdvertiserLink to get. Example format: properties/1234/displayVideo360AdvertiserLink/5678",
                  "required": true
                }
              },
              "description": "Look up a single DisplayVideo360AdvertiserLink",
              "flatPath": "v1alpha/properties/{propertiesId}/displayVideo360AdvertiserLinks/{displayVideo360AdvertiserLinksId}"
            },
            "patch": {
              "httpMethod": "PATCH",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLink"
              },
              "path": "v1alpha/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLink"
              },
              "parameters": {
                "updateMask": {
                  "description": "Required. The list of fields to be updated. Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Identifier. The resource name for this DisplayVideo360AdvertiserLink resource. Format: properties/{propertyId}/displayVideo360AdvertiserLinks/{linkId} Note: linkId is not the Display & Video 360 Advertiser ID",
                  "pattern": "^properties/[^/]+/displayVideo360AdvertiserLinks/[^/]+$"
                }
              },
              "id": "analyticsadmin.properties.displayVideo360AdvertiserLinks.patch",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha/properties/{propertiesId}/displayVideo360AdvertiserLinks/{displayVideo360AdvertiserLinksId}",
              "description": "Updates a DisplayVideo360AdvertiserLink on a property."
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaListDisplayVideo360AdvertiserLinksResponse"
              },
              "parameters": {
                "pageToken": {
                  "description": "A page token, received from a previous `ListDisplayVideo360AdvertiserLinks` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListDisplayVideo360AdvertiserLinks` must match the call that provided the page token.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "type": "string",
                  "required": true,
                  "description": "Required. Example format: properties/1234",
                  "pattern": "^properties/[^/]+$",
                  "location": "path"
                },
                "pageSize": {
                  "format": "int32",
                  "description": "The maximum number of resources to return. If unspecified, at most 50 resources will be returned. The maximum value is 200 (higher values will be coerced to the maximum).",
                  "type": "integer",
                  "location": "query"
                }
              },
              "description": "Lists all DisplayVideo360AdvertiserLinks on a property.",
              "id": "analyticsadmin.properties.displayVideo360AdvertiserLinks.list",
              "path": "v1alpha/{+parent}/displayVideo360AdvertiserLinks",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "flatPath": "v1alpha/properties/{propertiesId}/displayVideo360AdvertiserLinks"
            },
            "create": {
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLink"
              },
              "parameters": {
                "parent": {
                  "description": "Required. Example format: properties/1234",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^properties/[^/]+$"
                }
              },
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLink"
              },
              "description": "Creates a DisplayVideo360AdvertiserLink. This can only be utilized by users who have proper authorization both on the Google Analytics property and on the Display & Video 360 advertiser. Users who do not have access to the Display & Video 360 advertiser should instead seek to create a DisplayVideo360LinkProposal.",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "path": "v1alpha/{+parent}/displayVideo360AdvertiserLinks",
              "flatPath": "v1alpha/properties/{propertiesId}/displayVideo360AdvertiserLinks",
              "id": "analyticsadmin.properties.displayVideo360AdvertiserLinks.create"
            },
            "delete": {
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the DisplayVideo360AdvertiserLink to delete. Example format: properties/1234/displayVideo360AdvertiserLinks/5678",
                  "pattern": "^properties/[^/]+/displayVideo360AdvertiserLinks/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analyticsadmin.properties.displayVideo360AdvertiserLinks.delete",
              "flatPath": "v1alpha/properties/{propertiesId}/displayVideo360AdvertiserLinks/{displayVideo360AdvertiserLinksId}",
              "path": "v1alpha/{+name}",
              "description": "Deletes a DisplayVideo360AdvertiserLink on a property."
            }
          }
        },
        "reportingDataAnnotations": {
          "methods": {
            "patch": {
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaReportingDataAnnotation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "description": "Updates a Reporting Data Annotation.",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^properties/[^/]+/reportingDataAnnotations/[^/]+$",
                  "required": true,
                  "description": "Required. Identifier. Resource name of this Reporting Data Annotation. Format: 'properties/{property_id}/reportingDataAnnotations/{reporting_data_annotation}' Format: 'properties/123/reportingDataAnnotations/456'"
                },
                "updateMask": {
                  "description": "Optional. The list of fields to update. Field names must be in snake case (for example, \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "id": "analyticsadmin.properties.reportingDataAnnotations.patch",
              "path": "v1alpha/{+name}",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaReportingDataAnnotation"
              },
              "flatPath": "v1alpha/properties/{propertiesId}/reportingDataAnnotations/{reportingDataAnnotationsId}",
              "httpMethod": "PATCH"
            },
            "get": {
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaReportingDataAnnotation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "description": "Lookup a single Reporting Data Annotation.",
              "httpMethod": "GET",
              "path": "v1alpha/{+name}",
              "id": "analyticsadmin.properties.reportingDataAnnotations.get",
              "flatPath": "v1alpha/properties/{propertiesId}/reportingDataAnnotations/{reportingDataAnnotationsId}",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. Resource name of the Reporting Data Annotation to lookup. Format: properties/property_id/reportingDataAnnotations/reportingDataAnnotation Example: properties/123/reportingDataAnnotations/456",
                  "pattern": "^properties/[^/]+/reportingDataAnnotations/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              }
            },
            "list": {
              "description": "List all Reporting Data Annotations on a property.",
              "parameters": {
                "filter": {
                  "type": "string",
                  "description": "Optional. Filter that restricts which reporting data annotations under the parent property are listed. Supported fields are: * 'name' * `title` * `description` * `annotation_date` * `annotation_date_range` * `color` Additionally, this API provides the following helper functions: * annotation_duration() : the duration that this annotation marks, [durations](https://github.com/protocolbuffers/protobuf/blob/main/src/google/protobuf/duration.proto). expect a numeric representation of seconds followed by an `s` suffix. * is_annotation_in_range(start_date, end_date) : if the annotation is in the range specified by the `start_date` and `end_date`. The dates are in ISO-8601 format, for example `2031-06-28`. Supported operations: * `=` : equals * `!=` : not equals * `<` : less than * `>` : greater than * `<=` : less than or equals * `>=` : greater than or equals * `:` : has operator * `=~` : [regular expression](https://github.com/google/re2/wiki/Syntax) match * `!~` : [regular expression](https://github.com/google/re2/wiki/Syntax) does not match * `NOT` : Logical not * `AND` : Logical and * `OR` : Logical or Examples: 1. `title=\"Holiday Sale\"` 2. `description=~\"[Bb]ig [Gg]ame.*[Ss]ale\"` 3. `is_annotation_in_range(\"2025-12-25\", \"2026-01-16\") = true` 4. `annotation_duration() >= 172800s AND title:BOGO`",
                  "location": "query"
                },
                "parent": {
                  "required": true,
                  "type": "string",
                  "pattern": "^properties/[^/]+$",
                  "description": "Required. Resource name of the property. Format: properties/property_id Example: properties/123",
                  "location": "path"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Optional. A page token, received from a previous `ListReportingDataAnnotations` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListReportingDataAnnotations` must match the call that provided the page token.",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "Optional. The maximum number of resources to return. The service may return fewer than this value, even if there are additional pages. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)",
                  "location": "query",
                  "format": "int32"
                }
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaListReportingDataAnnotationsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "v1alpha/{+parent}/reportingDataAnnotations",
              "id": "analyticsadmin.properties.reportingDataAnnotations.list",
              "flatPath": "v1alpha/properties/{propertiesId}/reportingDataAnnotations",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ]
            },
            "create": {
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaReportingDataAnnotation"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1alpha/{+parent}/reportingDataAnnotations",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaReportingDataAnnotation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameters": {
                "parent": {
                  "description": "Required. The property for which to create a Reporting Data Annotation. Format: properties/property_id Example: properties/123",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^properties/[^/]+$"
                }
              },
              "id": "analyticsadmin.properties.reportingDataAnnotations.create",
              "flatPath": "v1alpha/properties/{propertiesId}/reportingDataAnnotations",
              "description": "Creates a Reporting Data Annotation."
            },
            "delete": {
              "id": "analyticsadmin.properties.reportingDataAnnotations.delete",
              "flatPath": "v1alpha/properties/{propertiesId}/reportingDataAnnotations/{reportingDataAnnotationsId}",
              "httpMethod": "DELETE",
              "description": "Deletes a Reporting Data Annotation.",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "path": "v1alpha/{+name}",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. Resource name of the Reporting Data Annotation to delete. Format: properties/property_id/reportingDataAnnotations/reporting_data_annotation Example: properties/123/reportingDataAnnotations/456",
                  "type": "string",
                  "location": "path",
                  "pattern": "^properties/[^/]+/reportingDataAnnotations/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ]
            }
          }
        },
        "adSenseLinks": {
          "methods": {
            "list": {
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaListAdSenseLinksResponse"
              },
              "path": "v1alpha/{+parent}/adSenseLinks",
              "httpMethod": "GET",
              "id": "analyticsadmin.properties.adSenseLinks.list",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageSize": {
                  "description": "The maximum number of resources to return. If unspecified, at most 50 resources will be returned. The maximum value is 200 (higher values will be coerced to the maximum).",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "parent": {
                  "type": "string",
                  "required": true,
                  "pattern": "^properties/[^/]+$",
                  "description": "Required. Resource name of the parent property. Format: properties/{propertyId} Example: properties/1234",
                  "location": "path"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A page token received from a previous `ListAdSenseLinks` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAdSenseLinks` must match the call that provided the page token."
                }
              },
              "flatPath": "v1alpha/properties/{propertiesId}/adSenseLinks",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "description": "Lists AdSenseLinks on a property."
            },
            "delete": {
              "flatPath": "v1alpha/properties/{propertiesId}/adSenseLinks/{adSenseLinksId}",
              "httpMethod": "DELETE",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "path": "v1alpha/{+name}",
              "parameterOrder": [
                "name"
              ],
              "description": "Deletes an AdSenseLink.",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analyticsadmin.properties.adSenseLinks.delete",
              "parameters": {
                "name": {
                  "description": "Required. Unique identifier for the AdSense Link to be deleted. Format: properties/{propertyId}/adSenseLinks/{linkId} Example: properties/1234/adSenseLinks/5678",
                  "required": true,
                  "type": "string",
                  "pattern": "^properties/[^/]+/adSenseLinks/[^/]+$",
                  "location": "path"
                }
              }
            },
            "get": {
              "description": "Looks up a single AdSenseLink.",
              "path": "v1alpha/{+name}",
              "id": "analyticsadmin.properties.adSenseLinks.get",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^properties/[^/]+/adSenseLinks/[^/]+$",
                  "description": "Required. Unique identifier for the AdSense Link requested. Format: properties/{propertyId}/adSenseLinks/{linkId} Example: properties/1234/adSenseLinks/5678",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaAdSenseLink"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "flatPath": "v1alpha/properties/{propertiesId}/adSenseLinks/{adSenseLinksId}",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET"
            },
            "create": {
              "flatPath": "v1alpha/properties/{propertiesId}/adSenseLinks",
              "path": "v1alpha/{+parent}/adSenseLinks",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analyticsadmin.properties.adSenseLinks.create",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaAdSenseLink"
              },
              "description": "Creates an AdSenseLink.",
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^properties/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Required. The property for which to create an AdSense Link. Format: properties/{propertyId} Example: properties/1234"
                }
              },
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaAdSenseLink"
              }
            }
          }
        },
        "calculatedMetrics": {
          "methods": {
            "list": {
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "Optional. The maximum number of resources to return. If unspecified, at most 50 resources will be returned. The maximum value is 200 (higher values will be coerced to the maximum)."
                },
                "pageToken": {
                  "description": "Optional. A page token, received from a previous `ListCalculatedMetrics` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListCalculatedMetrics` must match the call that provided the page token.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^properties/[^/]+$",
                  "required": true,
                  "description": "Required. Example format: properties/1234"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaListCalculatedMetricsResponse"
              },
              "description": "Lists CalculatedMetrics on a property.",
              "parameterOrder": [
                "parent"
              ],
              "id": "analyticsadmin.properties.calculatedMetrics.list",
              "httpMethod": "GET",
              "flatPath": "v1alpha/properties/{propertiesId}/calculatedMetrics",
              "path": "v1alpha/{+parent}/calculatedMetrics"
            },
            "patch": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "httpMethod": "PATCH",
              "description": "Updates a CalculatedMetric on a property.",
              "flatPath": "v1alpha/properties/{propertiesId}/calculatedMetrics/{calculatedMetricsId}",
              "id": "analyticsadmin.properties.calculatedMetrics.patch",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaCalculatedMetric"
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha/{+name}",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaCalculatedMetric"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "description": "Identifier. Resource name for this CalculatedMetric. Format: 'properties/{property_id}/calculatedMetrics/{calculated_metric_id}'",
                  "location": "path",
                  "pattern": "^properties/[^/]+/calculatedMetrics/[^/]+$"
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "type": "string",
                  "location": "query",
                  "description": "Required. The list of fields to be updated. Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields."
                }
              }
            },
            "delete": {
              "path": "v1alpha/{+name}",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^properties/[^/]+/calculatedMetrics/[^/]+$",
                  "required": true,
                  "description": "Required. The name of the CalculatedMetric to delete. Format: properties/{property_id}/calculatedMetrics/{calculated_metric_id} Example: properties/1234/calculatedMetrics/Metric01",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Deletes a CalculatedMetric on a property.",
              "flatPath": "v1alpha/properties/{propertiesId}/calculatedMetrics/{calculatedMetricsId}",
              "httpMethod": "DELETE",
              "id": "analyticsadmin.properties.calculatedMetrics.delete",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ]
            },
            "create": {
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaCalculatedMetric"
              },
              "flatPath": "v1alpha/properties/{propertiesId}/calculatedMetrics",
              "description": "Creates a CalculatedMetric.",
              "id": "analyticsadmin.properties.calculatedMetrics.create",
              "httpMethod": "POST",
              "path": "v1alpha/{+parent}/calculatedMetrics",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameters": {
                "calculatedMetricId": {
                  "location": "query",
                  "description": "Required. The ID to use for the calculated metric which will become the final component of the calculated metric's resource name. This value should be 1-80 characters and valid characters are /[a-zA-Z0-9_]/, no spaces allowed. calculated_metric_id must be unique between all calculated metrics under a property. The calculated_metric_id is used when referencing this calculated metric from external APIs, for example, \"calcMetric:{calculated_metric_id}\".",
                  "type": "string"
                },
                "parent": {
                  "description": "Required. Format: properties/{property_id} Example: properties/1234",
                  "type": "string",
                  "location": "path",
                  "pattern": "^properties/[^/]+$",
                  "required": true
                }
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaCalculatedMetric"
              }
            },
            "get": {
              "httpMethod": "GET",
              "description": "Lookup for a single CalculatedMetric.",
              "flatPath": "v1alpha/properties/{propertiesId}/calculatedMetrics/{calculatedMetricsId}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "path": "v1alpha/{+name}",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaCalculatedMetric"
              },
              "parameters": {
                "name": {
                  "pattern": "^properties/[^/]+/calculatedMetrics/[^/]+$",
                  "required": true,
                  "description": "Required. The name of the CalculatedMetric to get. Format: properties/{property_id}/calculatedMetrics/{calculated_metric_id} Example: properties/1234/calculatedMetrics/Metric01",
                  "location": "path",
                  "type": "string"
                }
              },
              "id": "analyticsadmin.properties.calculatedMetrics.get",
              "parameterOrder": [
                "name"
              ]
            }
          }
        },
        "subpropertyEventFilters": {
          "methods": {
            "patch": {
              "flatPath": "v1alpha/properties/{propertiesId}/subpropertyEventFilters/{subpropertyEventFiltersId}",
              "httpMethod": "PATCH",
              "description": "Updates a subproperty Event Filter.",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "Output only. Format: properties/{ordinary_property_id}/subpropertyEventFilters/{sub_property_event_filter} Example: properties/1234/subpropertyEventFilters/5678",
                  "required": true,
                  "pattern": "^properties/[^/]+/subpropertyEventFilters/[^/]+$"
                },
                "updateMask": {
                  "description": "Required. The list of fields to update. Field names must be in snake case (for example, \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilter"
              },
              "path": "v1alpha/{+name}",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilter"
              },
              "id": "analyticsadmin.properties.subpropertyEventFilters.patch"
            },
            "get": {
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilter"
              },
              "description": "Lookup for a single subproperty Event Filter.",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. Resource name of the subproperty event filter to lookup. Format: properties/property_id/subpropertyEventFilters/subproperty_event_filter Example: properties/123/subpropertyEventFilters/456",
                  "pattern": "^properties/[^/]+/subpropertyEventFilters/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1alpha/{+name}",
              "id": "analyticsadmin.properties.subpropertyEventFilters.get",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "flatPath": "v1alpha/properties/{propertiesId}/subpropertyEventFilters/{subpropertyEventFiltersId}",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. A page token, received from a previous `ListSubpropertyEventFilters` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListSubpropertyEventFilters` must match the call that provided the page token."
                },
                "parent": {
                  "required": true,
                  "type": "string",
                  "description": "Required. Resource name of the ordinary property. Format: properties/property_id Example: properties/123",
                  "pattern": "^properties/[^/]+$",
                  "location": "path"
                },
                "pageSize": {
                  "format": "int32",
                  "description": "Optional. The maximum number of resources to return. The service may return fewer than this value, even if there are additional pages. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)",
                  "location": "query",
                  "type": "integer"
                }
              },
              "id": "analyticsadmin.properties.subpropertyEventFilters.list",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaListSubpropertyEventFiltersResponse"
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1alpha/{+parent}/subpropertyEventFilters",
              "flatPath": "v1alpha/properties/{propertiesId}/subpropertyEventFilters",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "description": "List all subproperty Event Filters on a property."
            },
            "create": {
              "path": "v1alpha/{+parent}/subpropertyEventFilters",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "flatPath": "v1alpha/properties/{propertiesId}/subpropertyEventFilters",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "Required. The ordinary property for which to create a subproperty event filter. Format: properties/property_id Example: properties/123",
                  "pattern": "^properties/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "description": "Creates a subproperty Event Filter.",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilter"
              },
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilter"
              },
              "id": "analyticsadmin.properties.subpropertyEventFilters.create",
              "httpMethod": "POST"
            },
            "delete": {
              "flatPath": "v1alpha/properties/{propertiesId}/subpropertyEventFilters/{subpropertyEventFiltersId}",
              "httpMethod": "DELETE",
              "id": "analyticsadmin.properties.subpropertyEventFilters.delete",
              "parameters": {
                "name": {
                  "pattern": "^properties/[^/]+/subpropertyEventFilters/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Required. Resource name of the subproperty event filter to delete. Format: properties/property_id/subpropertyEventFilters/subproperty_event_filter Example: properties/123/subpropertyEventFilters/456",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Deletes a subproperty event filter.",
              "path": "v1alpha/{+name}",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ]
            }
          }
        },
        "dataStreams": {
          "methods": {
            "updateEnhancedMeasurementSettings": {
              "description": "Updates the enhanced measurement settings for this data stream. Note that the stream must enable enhanced measurement for these settings to take effect.",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha/properties/{propertiesId}/dataStreams/{dataStreamsId}/enhancedMeasurementSettings",
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaEnhancedMeasurementSettings"
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaEnhancedMeasurementSettings"
              },
              "id": "analyticsadmin.properties.dataStreams.updateEnhancedMeasurementSettings",
              "path": "v1alpha/{+name}",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Output only. Resource name of the Enhanced Measurement Settings. Format: properties/{property_id}/dataStreams/{data_stream}/enhancedMeasurementSettings Example: \"properties/1000/dataStreams/2000/enhancedMeasurementSettings\"",
                  "pattern": "^properties/[^/]+/dataStreams/[^/]+/enhancedMeasurementSettings$"
                },
                "updateMask": {
                  "description": "Required. The list of fields to be updated. Field names must be in snake case (e.g., \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string"
                }
              }
            },
            "getEnhancedMeasurementSettings": {
              "httpMethod": "GET",
              "flatPath": "v1alpha/properties/{propertiesId}/dataStreams/{dataStreamsId}/enhancedMeasurementSettings",
              "description": "Returns the enhanced measurement settings for this data stream. Note that the stream must enable enhanced measurement for these settings to take effect.",
              "path": "v1alpha/{+name}",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaEnhancedMeasurementSettings"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^properties/[^/]+/dataStreams/[^/]+/enhancedMeasurementSettings$",
                  "description": "Required. The name of the settings to lookup. Format: properties/{property}/dataStreams/{data_stream}/enhancedMeasurementSettings Example: \"properties/1000/dataStreams/2000/enhancedMeasurementSettings\"",
                  "location": "path"
                }
              },
              "id": "analyticsadmin.properties.dataStreams.getEnhancedMeasurementSettings",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameterOrder": [
                "name"
              ]
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha/properties/{propertiesId}/dataStreams/{dataStreamsId}",
              "id": "analyticsadmin.properties.dataStreams.delete",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^properties/[^/]+/dataStreams/[^/]+$",
                  "required": true,
                  "description": "Required. The name of the DataStream to delete. Example format: properties/1234/dataStreams/5678",
                  "type": "string"
                }
              },
              "description": "Deletes a DataStream on a property.",
              "path": "v1alpha/{+name}",
              "httpMethod": "DELETE",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              }
            },
            "create": {
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaDataStream"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1alpha/properties/{propertiesId}/dataStreams",
              "description": "Creates a DataStream.",
              "path": "v1alpha/{+parent}/dataStreams",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaDataStream"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analyticsadmin.properties.dataStreams.create",
              "parameters": {
                "parent": {
                  "required": true,
                  "location": "path",
                  "pattern": "^properties/[^/]+$",
                  "type": "string",
                  "description": "Required. Example format: properties/1234"
                }
              }
            },
            "getGlobalSiteTag": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "flatPath": "v1alpha/properties/{propertiesId}/dataStreams/{dataStreamsId}/globalSiteTag",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^properties/[^/]+/dataStreams/[^/]+/globalSiteTag$",
                  "description": "Required. The name of the site tag to lookup. Note that site tags are singletons and do not have unique IDs. Format: properties/{property_id}/dataStreams/{stream_id}/globalSiteTag Example: `properties/123/dataStreams/456/globalSiteTag`",
                  "required": true,
                  "type": "string"
                }
              },
              "description": "Returns the Site Tag for the specified web stream. Site Tags are immutable singletons.",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "id": "analyticsadmin.properties.dataStreams.getGlobalSiteTag",
              "path": "v1alpha/{+name}",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaGlobalSiteTag"
              }
            },
            "get": {
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the DataStream to get. Example format: properties/1234/dataStreams/5678",
                  "pattern": "^properties/[^/]+/dataStreams/[^/]+$",
                  "location": "path"
                }
              },
              "path": "v1alpha/{+name}",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaDataStream"
              },
              "flatPath": "v1alpha/properties/{propertiesId}/dataStreams/{dataStreamsId}",
              "httpMethod": "GET",
              "description": "Lookup for a single DataStream.",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "id": "analyticsadmin.properties.dataStreams.get",
              "parameterOrder": [
                "name"
              ]
            },
            "updateDataRedactionSettings": {
              "httpMethod": "PATCH",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaDataRedactionSettings"
              },
              "path": "v1alpha/{+name}",
              "description": "Updates a DataRedactionSettings on a property.",
              "parameters": {
                "updateMask": {
                  "type": "string",
                  "location": "query",
                  "format": "google-fieldmask",
                  "description": "Required. The list of fields to be updated. Field names must be in snake case (e.g., \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields."
                },
                "name": {
                  "description": "Output only. Name of this Data Redaction Settings resource. Format: properties/{property_id}/dataStreams/{data_stream}/dataRedactionSettings Example: \"properties/1000/dataStreams/2000/dataRedactionSettings\"",
                  "location": "path",
                  "pattern": "^properties/[^/]+/dataStreams/[^/]+/dataRedactionSettings$",
                  "type": "string",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaDataRedactionSettings"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "analyticsadmin.properties.dataStreams.updateDataRedactionSettings",
              "flatPath": "v1alpha/properties/{propertiesId}/dataStreams/{dataStreamsId}/dataRedactionSettings"
            },
            "patch": {
              "description": "Updates a DataStream on a property.",
              "parameters": {
                "updateMask": {
                  "location": "query",
                  "description": "Required. The list of fields to be updated. Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
                  "type": "string",
                  "format": "google-fieldmask"
                },
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Identifier. Resource name of this Data Stream. Format: properties/{property_id}/dataStreams/{stream_id} Example: \"properties/1000/dataStreams/2000\"",
                  "pattern": "^properties/[^/]+/dataStreams/[^/]+$",
                  "type": "string"
                }
              },
              "id": "analyticsadmin.properties.dataStreams.patch",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaDataStream"
              },
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaDataStream"
              },
              "path": "v1alpha/{+name}",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "flatPath": "v1alpha/properties/{propertiesId}/dataStreams/{dataStreamsId}"
            },
            "getDataRedactionSettings": {
              "flatPath": "v1alpha/properties/{propertiesId}/dataStreams/{dataStreamsId}/dataRedactionSettings",
              "id": "analyticsadmin.properties.dataStreams.getDataRedactionSettings",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "path": "v1alpha/{+name}",
              "description": "Lookup for a single DataRedactionSettings.",
              "parameters": {
                "name": {
                  "pattern": "^properties/[^/]+/dataStreams/[^/]+/dataRedactionSettings$",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the settings to lookup. Format: properties/{property}/dataStreams/{data_stream}/dataRedactionSettings Example: \"properties/1000/dataStreams/2000/dataRedactionSettings\""
                }
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaDataRedactionSettings"
              },
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaListDataStreamsResponse"
              },
              "httpMethod": "GET",
              "id": "analyticsadmin.properties.dataStreams.list",
              "description": "Lists DataStreams on a property.",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "A page token, received from a previous `ListDataStreams` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListDataStreams` must match the call that provided the page token.",
                  "location": "query"
                },
                "pageSize": {
                  "description": "The maximum number of resources to return. If unspecified, at most 50 resources will be returned. The maximum value is 200 (higher values will be coerced to the maximum).",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "parent": {
                  "description": "Required. Example format: properties/1234",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^properties/[^/]+$"
                }
              },
              "flatPath": "v1alpha/properties/{propertiesId}/dataStreams",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "path": "v1alpha/{+parent}/dataStreams",
              "parameterOrder": [
                "parent"
              ]
            }
          },
          "resources": {
            "sKAdNetworkConversionValueSchema": {
              "methods": {
                "create": {
                  "request": {
                    "$ref": "GoogleAnalyticsAdminV1alphaSKAdNetworkConversionValueSchema"
                  },
                  "httpMethod": "POST",
                  "id": "analyticsadmin.properties.dataStreams.sKAdNetworkConversionValueSchema.create",
                  "flatPath": "v1alpha/properties/{propertiesId}/dataStreams/{dataStreamsId}/sKAdNetworkConversionValueSchema",
                  "description": "Creates a SKAdNetworkConversionValueSchema.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1alpha/{+parent}/sKAdNetworkConversionValueSchema",
                  "response": {
                    "$ref": "GoogleAnalyticsAdminV1alphaSKAdNetworkConversionValueSchema"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/analytics.edit"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource where this schema will be created. Format: properties/{property}/dataStreams/{dataStream}",
                      "location": "path",
                      "pattern": "^properties/[^/]+/dataStreams/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  }
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "id": "analyticsadmin.properties.dataStreams.sKAdNetworkConversionValueSchema.delete",
                  "flatPath": "v1alpha/properties/{propertiesId}/dataStreams/{dataStreamsId}/sKAdNetworkConversionValueSchema/{sKAdNetworkConversionValueSchemaId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1alpha/{+name}",
                  "description": "Deletes target SKAdNetworkConversionValueSchema.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The name of the SKAdNetworkConversionValueSchema to delete. Format: properties/{property}/dataStreams/{dataStream}/sKAdNetworkConversionValueSchema/{skadnetwork_conversion_value_schema}",
                      "required": true,
                      "pattern": "^properties/[^/]+/dataStreams/[^/]+/sKAdNetworkConversionValueSchema/[^/]+$",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/analytics.edit"
                  ]
                },
                "get": {
                  "path": "v1alpha/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name of SKAdNetwork conversion value schema to look up. Format: properties/{property}/dataStreams/{dataStream}/sKAdNetworkConversionValueSchema/{skadnetwork_conversion_value_schema}",
                      "type": "string",
                      "required": true,
                      "pattern": "^properties/[^/]+/dataStreams/[^/]+/sKAdNetworkConversionValueSchema/[^/]+$",
                      "location": "path"
                    }
                  },
                  "id": "analyticsadmin.properties.dataStreams.sKAdNetworkConversionValueSchema.get",
                  "flatPath": "v1alpha/properties/{propertiesId}/dataStreams/{dataStreamsId}/sKAdNetworkConversionValueSchema/{sKAdNetworkConversionValueSchemaId}",
                  "description": "Looks up a single SKAdNetworkConversionValueSchema.",
                  "response": {
                    "$ref": "GoogleAnalyticsAdminV1alphaSKAdNetworkConversionValueSchema"
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/analytics.edit",
                    "https://www.googleapis.com/auth/analytics.readonly"
                  ]
                },
                "patch": {
                  "flatPath": "v1alpha/properties/{propertiesId}/dataStreams/{dataStreamsId}/sKAdNetworkConversionValueSchema/{sKAdNetworkConversionValueSchemaId}",
                  "id": "analyticsadmin.properties.dataStreams.sKAdNetworkConversionValueSchema.patch",
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Updates a SKAdNetworkConversionValueSchema.",
                  "request": {
                    "$ref": "GoogleAnalyticsAdminV1alphaSKAdNetworkConversionValueSchema"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "description": "Identifier. Resource name of the schema. This will be child of ONLY an iOS stream, and there can be at most one such child under an iOS stream. Format: properties/{property}/dataStreams/{dataStream}/sKAdNetworkConversionValueSchema",
                      "pattern": "^properties/[^/]+/dataStreams/[^/]+/sKAdNetworkConversionValueSchema/[^/]+$",
                      "required": true
                    },
                    "updateMask": {
                      "type": "string",
                      "location": "query",
                      "format": "google-fieldmask",
                      "description": "Required. The list of fields to be updated. Omitted fields will not be updated."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/analytics.edit"
                  ],
                  "response": {
                    "$ref": "GoogleAnalyticsAdminV1alphaSKAdNetworkConversionValueSchema"
                  },
                  "path": "v1alpha/{+name}"
                },
                "list": {
                  "parameters": {
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous `ListSKAdNetworkConversionValueSchemas` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListSKAdNetworkConversionValueSchema` must match the call that provided the page token.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "location": "path",
                      "pattern": "^properties/[^/]+/dataStreams/[^/]+$",
                      "type": "string",
                      "description": "Required. The DataStream resource to list schemas for. Format: properties/{property_id}/dataStreams/{dataStream} Example: properties/1234/dataStreams/5678"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "Optional. The maximum number of resources to return. The service may return fewer than this value, even if there are additional pages. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)",
                      "type": "integer"
                    }
                  },
                  "flatPath": "v1alpha/properties/{propertiesId}/dataStreams/{dataStreamsId}/sKAdNetworkConversionValueSchema",
                  "scopes": [
                    "https://www.googleapis.com/auth/analytics.edit",
                    "https://www.googleapis.com/auth/analytics.readonly"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "analyticsadmin.properties.dataStreams.sKAdNetworkConversionValueSchema.list",
                  "httpMethod": "GET",
                  "description": "Lists SKAdNetworkConversionValueSchema on a stream. Properties can have at most one SKAdNetworkConversionValueSchema.",
                  "path": "v1alpha/{+parent}/sKAdNetworkConversionValueSchema",
                  "response": {
                    "$ref": "GoogleAnalyticsAdminV1alphaListSKAdNetworkConversionValueSchemasResponse"
                  }
                }
              }
            },
            "measurementProtocolSecrets": {
              "methods": {
                "get": {
                  "flatPath": "v1alpha/properties/{propertiesId}/dataStreams/{dataStreamsId}/measurementProtocolSecrets/{measurementProtocolSecretsId}",
                  "path": "v1alpha/{+name}",
                  "id": "analyticsadmin.properties.dataStreams.measurementProtocolSecrets.get",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleAnalyticsAdminV1alphaMeasurementProtocolSecret"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Lookup for a single MeasurementProtocolSecret.",
                  "parameters": {
                    "name": {
                      "pattern": "^properties/[^/]+/dataStreams/[^/]+/measurementProtocolSecrets/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. The name of the measurement protocol secret to lookup. Format: properties/{property}/dataStreams/{dataStream}/measurementProtocolSecrets/{measurementProtocolSecret}"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/analytics.edit",
                    "https://www.googleapis.com/auth/analytics.readonly"
                  ]
                },
                "create": {
                  "response": {
                    "$ref": "GoogleAnalyticsAdminV1alphaMeasurementProtocolSecret"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/analytics.edit"
                  ],
                  "description": "Creates a measurement protocol secret.",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^properties/[^/]+/dataStreams/[^/]+$",
                      "required": true,
                      "description": "Required. The parent resource where this secret will be created. Format: properties/{property}/dataStreams/{dataStream}"
                    }
                  },
                  "id": "analyticsadmin.properties.dataStreams.measurementProtocolSecrets.create",
                  "request": {
                    "$ref": "GoogleAnalyticsAdminV1alphaMeasurementProtocolSecret"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "flatPath": "v1alpha/properties/{propertiesId}/dataStreams/{dataStreamsId}/measurementProtocolSecrets",
                  "path": "v1alpha/{+parent}/measurementProtocolSecrets"
                },
                "delete": {
                  "id": "analyticsadmin.properties.dataStreams.measurementProtocolSecrets.delete",
                  "flatPath": "v1alpha/properties/{propertiesId}/dataStreams/{dataStreamsId}/measurementProtocolSecrets/{measurementProtocolSecretsId}",
                  "path": "v1alpha/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^properties/[^/]+/dataStreams/[^/]+/measurementProtocolSecrets/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The name of the MeasurementProtocolSecret to delete. Format: properties/{property}/dataStreams/{dataStream}/measurementProtocolSecrets/{measurementProtocolSecret}"
                    }
                  },
                  "description": "Deletes target MeasurementProtocolSecret.",
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/analytics.edit"
                  ]
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/analytics.edit",
                    "https://www.googleapis.com/auth/analytics.readonly"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1alpha/properties/{propertiesId}/dataStreams/{dataStreamsId}/measurementProtocolSecrets",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1alpha/{+parent}/measurementProtocolSecrets",
                  "description": "Returns child MeasurementProtocolSecrets under the specified parent Property.",
                  "id": "analyticsadmin.properties.dataStreams.measurementProtocolSecrets.list",
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. The maximum number of resources to return. If unspecified, at most 10 resources will be returned. The maximum value is 10. Higher values will be coerced to the maximum."
                    },
                    "parent": {
                      "type": "string",
                      "required": true,
                      "pattern": "^properties/[^/]+/dataStreams/[^/]+$",
                      "description": "Required. The resource name of the parent stream. Format: properties/{property}/dataStreams/{dataStream}/measurementProtocolSecrets",
                      "location": "path"
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous `ListMeasurementProtocolSecrets` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListMeasurementProtocolSecrets` must match the call that provided the page token.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleAnalyticsAdminV1alphaListMeasurementProtocolSecretsResponse"
                  }
                },
                "patch": {
                  "description": "Updates a measurement protocol secret.",
                  "parameters": {
                    "name": {
                      "pattern": "^properties/[^/]+/dataStreams/[^/]+/measurementProtocolSecrets/[^/]+$",
                      "description": "Identifier. Resource name of this secret. This secret may be a child of any type of stream. Format: properties/{property}/dataStreams/{dataStream}/measurementProtocolSecrets/{measurementProtocolSecret}",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "updateMask": {
                      "description": "Required. The list of fields to be updated. Omitted fields will not be updated.",
                      "type": "string",
                      "format": "google-fieldmask",
                      "location": "query"
                    }
                  },
                  "request": {
                    "$ref": "GoogleAnalyticsAdminV1alphaMeasurementProtocolSecret"
                  },
                  "flatPath": "v1alpha/properties/{propertiesId}/dataStreams/{dataStreamsId}/measurementProtocolSecrets/{measurementProtocolSecretsId}",
                  "response": {
                    "$ref": "GoogleAnalyticsAdminV1alphaMeasurementProtocolSecret"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/analytics.edit"
                  ],
                  "id": "analyticsadmin.properties.dataStreams.measurementProtocolSecrets.patch",
                  "path": "v1alpha/{+name}"
                }
              }
            },
            "eventEditRules": {
              "methods": {
                "get": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "pattern": "^properties/[^/]+/dataStreams/[^/]+/eventEditRules/[^/]+$",
                      "description": "Required. The name of the EventEditRule to get. Example format: properties/123/dataStreams/456/eventEditRules/789",
                      "type": "string"
                    }
                  },
                  "id": "analyticsadmin.properties.dataStreams.eventEditRules.get",
                  "response": {
                    "$ref": "GoogleAnalyticsAdminV1alphaEventEditRule"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1alpha/{+name}",
                  "description": "Lookup for a single EventEditRule.",
                  "flatPath": "v1alpha/properties/{propertiesId}/dataStreams/{dataStreamsId}/eventEditRules/{eventEditRulesId}",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/analytics.edit",
                    "https://www.googleapis.com/auth/analytics.readonly"
                  ]
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/analytics.edit"
                  ],
                  "path": "v1alpha/{+name}",
[...]
