{
  "baseUrl": "https://analyticsadmin.googleapis.com/",
  "version": "v1beta",
  "documentationLink": "http://code.google.com/apis/analytics/docs/mgmt/home.html",
  "id": "analyticsadmin:v1beta",
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "description": "Data format for response.",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    }
  },
  "servicePath": "",
  "schemas": {
    "GoogleAnalyticsAdminV1betaAccessMetricHeader": {
      "description": "Describes a metric column in the report. Visible metrics requested in a report produce column entries within rows and MetricHeaders. However, metrics used exclusively within filters or expressions do not produce columns in a report; correspondingly, those metrics do not produce headers.",
      "type": "object",
      "properties": {
        "metricName": {
          "description": "The metric's name; for example 'accessCount'.",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1betaAccessMetricHeader"
    },
    "GoogleAnalyticsAdminV1betaConversionEventDefaultConversionValue": {
      "description": "Defines a default value/currency for a conversion event. Both value and currency must be provided.",
      "type": "object",
      "properties": {
        "value": {
          "description": "This value will be used to populate the value for all conversions of the specified event_name where the event \"value\" parameter is unset.",
          "type": "number",
          "format": "double"
        },
        "currencyCode": {
          "description": "When a conversion event for this event_name has no set currency, this currency will be applied as the default. Must be in ISO 4217 currency code format. See https://en.wikipedia.org/wiki/ISO_4217 for more information.",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1betaConversionEventDefaultConversionValue"
    },
    "GoogleAnalyticsAdminV1betaFirebaseLink": {
      "id": "GoogleAnalyticsAdminV1betaFirebaseLink",
      "description": "A link between a Google Analytics property and a Firebase project.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. Example format: properties/1234/firebaseLinks/5678",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Time when this FirebaseLink was originally created.",
          "type": "string"
        },
        "project": {
          "description": "Immutable. Firebase project resource name. When creating a FirebaseLink, you may provide this resource name using either a project number or project ID. Once this resource has been created, returned FirebaseLinks will always have a project_name that contains a project number. Format: 'projects/{project number}' Example: 'projects/1234'",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1betaAccessOrderByMetricOrderBy": {
      "id": "GoogleAnalyticsAdminV1betaAccessOrderByMetricOrderBy",
      "description": "Sorts by metric values.",
      "type": "object",
      "properties": {
        "metricName": {
          "description": "A metric name in the request to order by.",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1betaKeyEvent": {
      "description": "A key event in a Google Analytics property.",
      "type": "object",
      "properties": {
        "custom": {
          "description": "Output only. If set to true, this key event refers to a custom event. If set to false, this key event refers to a default event in GA. Default events typically have special meaning in GA. Default events are usually created for you by the GA system, but in some cases can be created by property admins. Custom events count towards the maximum number of custom key events that may be created per property.",
          "type": "boolean",
          "readOnly": true
        },
        "eventName": {
          "description": "Immutable. The event name for this key event. Examples: 'click', 'purchase'",
          "type": "string"
        },
        "name": {
          "description": "Output only. Resource name of this key event. Format: properties/{property}/keyEvents/{key_event}",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Time when this key event was created in the property.",
          "type": "string",
          "format": "google-datetime"
        },
        "deletable": {
          "readOnly": true,
          "description": "Output only. If set to true, this event can be deleted.",
          "type": "boolean"
        },
        "countingMethod": {
          "description": "Required. The method by which Key Events will be counted across multiple events within a session.",
          "type": "string",
          "enumDescriptions": [
            "Counting method not specified.",
            "Each Event instance is considered a Key Event.",
            "An Event instance is considered a Key Event at most once per session per user."
          ],
          "enum": [
            "COUNTING_METHOD_UNSPECIFIED",
            "ONCE_PER_EVENT",
            "ONCE_PER_SESSION"
          ]
        },
        "defaultValue": {
          "description": "Optional. Defines a default value/currency for a key event.",
          "$ref": "GoogleAnalyticsAdminV1betaKeyEventDefaultValue"
        }
      },
      "id": "GoogleAnalyticsAdminV1betaKeyEvent"
    },
    "GoogleAnalyticsAdminV1betaAccessRow": {
      "description": "Access report data for each row.",
      "type": "object",
      "properties": {
        "dimensionValues": {
          "description": "List of dimension values. These values are in the same order as specified in the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaAccessDimensionValue"
          }
        },
        "metricValues": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaAccessMetricValue"
          },
          "description": "List of metric values. These values are in the same order as specified in the request.",
          "type": "array"
        }
      },
      "id": "GoogleAnalyticsAdminV1betaAccessRow"
    },
    "GoogleAnalyticsAdminV1betaListPropertiesResponse": {
      "id": "GoogleAnalyticsAdminV1betaListPropertiesResponse",
      "description": "Response message for ListProperties RPC.",
      "type": "object",
      "properties": {
        "properties": {
          "description": "Results that matched the filter criteria and were accessible to the caller.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaProperty"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1betaChangeHistoryEvent": {
      "description": "A set of changes within a Google Analytics account or its child properties that resulted from the same cause. Common causes would be updates made in the Google Analytics UI, changes from customer support, or automatic Google Analytics system changes.",
      "type": "object",
      "properties": {
        "actorType": {
          "description": "The type of actor that made this change.",
          "type": "string",
          "enumDescriptions": [
            "Unknown or unspecified actor type.",
            "Changes made by the user specified in actor_email.",
            "Changes made by the Google Analytics system.",
            "Changes made by Google Analytics support team staff."
          ],
          "enum": [
            "ACTOR_TYPE_UNSPECIFIED",
            "USER",
            "SYSTEM",
            "SUPPORT"
          ]
        },
        "changeTime": {
          "format": "google-datetime",
          "description": "Time when change was made.",
          "type": "string"
        },
        "changes": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaChangeHistoryChange"
          },
          "description": "A list of changes made in this change history event that fit the filters specified in SearchChangeHistoryEventsRequest.",
          "type": "array"
        },
        "id": {
          "description": "ID of this change history event. This ID is unique across Google Analytics.",
          "type": "string"
        },
        "userActorEmail": {
          "description": "Email address of the Google account that made the change. This will be a valid email address if the actor field is set to USER, and empty otherwise. Google accounts that have been deleted will cause an error.",
          "type": "string"
        },
        "changesFiltered": {
          "description": "If true, then the list of changes returned was filtered, and does not represent all changes that occurred in this event.",
          "type": "boolean"
        }
      },
      "id": "GoogleAnalyticsAdminV1betaChangeHistoryEvent"
    },
    "GoogleAnalyticsAdminV1betaCustomMetric": {
      "description": "A definition for a custom metric.",
      "type": "object",
      "properties": {
        "measurementUnit": {
          "enum": [
            "MEASUREMENT_UNIT_UNSPECIFIED",
            "STANDARD",
            "CURRENCY",
            "FEET",
            "METERS",
            "KILOMETERS",
            "MILES",
            "MILLISECONDS",
            "SECONDS",
            "MINUTES",
            "HOURS"
          ],
          "description": "Required. The type for the custom metric's value.",
          "type": "string",
          "enumDescriptions": [
            "MeasurementUnit unspecified or missing.",
            "This metric uses default units.",
            "This metric measures a currency.",
            "This metric measures feet.",
            "This metric measures meters.",
            "This metric measures kilometers.",
            "This metric measures miles.",
            "This metric measures milliseconds.",
            "This metric measures seconds.",
            "This metric measures minutes.",
            "This metric measures hours."
          ]
        },
        "parameterName": {
          "description": "Required. Immutable. Tagging name for this custom metric. If this is an event-scoped metric, then this is the event parameter name. May only contain alphanumeric and underscore charactes, starting with a letter. Max length of 40 characters for event-scoped metrics.",
          "type": "string"
        },
        "restrictedMetricType": {
          "description": "Optional. Types of restricted data that this metric may contain. Required for metrics with CURRENCY measurement unit. Must be empty for metrics with a non-CURRENCY measurement unit.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Type unknown or unspecified.",
              "Metric reports cost data.",
              "Metric reports revenue data."
            ],
            "enum": [
              "RESTRICTED_METRIC_TYPE_UNSPECIFIED",
              "COST_DATA",
              "REVENUE_DATA"
            ]
          }
        },
        "name": {
          "description": "Identifier. Resource name for this CustomMetric resource. Format: properties/{property}/customMetrics/{customMetric}",
          "type": "string"
        },
        "displayName": {
          "description": "Required. Display name for this custom metric as shown in the Analytics UI. Max length of 82 characters, alphanumeric plus space and underscore starting with a letter. Legacy system-generated display names may contain square brackets, but updates to this field will never permit square brackets.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description for this custom dimension. Max length of 150 characters.",
          "type": "string"
        },
        "scope": {
          "description": "Required. Immutable. The scope of this custom metric.",
          "type": "string",
          "enumDescriptions": [
            "Scope unknown or not specified.",
            "Metric scoped to an event."
          ],
          "enum": [
            "METRIC_SCOPE_UNSPECIFIED",
            "EVENT"
          ]
        }
      },
      "id": "GoogleAnalyticsAdminV1betaCustomMetric"
    },
    "GoogleAnalyticsAdminV1betaArchiveCustomDimensionRequest": {
      "description": "Request message for ArchiveCustomDimension RPC.",
      "type": "object",
      "properties": {},
      "id": "GoogleAnalyticsAdminV1betaArchiveCustomDimensionRequest"
    },
    "GoogleAnalyticsAdminV1betaRunAccessReportResponse": {
      "description": "The customized Data Access Record Report response.",
      "type": "object",
      "properties": {
        "dimensionHeaders": {
          "description": "The header for a column in the report that corresponds to a specific dimension. The number of DimensionHeaders and ordering of DimensionHeaders matches the dimensions present in rows.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaAccessDimensionHeader"
          }
        },
        "metricHeaders": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaAccessMetricHeader"
          },
          "description": "The header for a column in the report that corresponds to a specific metric. The number of MetricHeaders and ordering of MetricHeaders matches the metrics present in rows.",
          "type": "array"
        },
        "rows": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaAccessRow"
          },
          "description": "Rows of dimension value combinations and metric values in the report.",
          "type": "array"
        },
        "quota": {
          "$ref": "GoogleAnalyticsAdminV1betaAccessQuota",
          "description": "The quota state for this Analytics property including this request. This field doesn't work with account-level requests."
        },
        "rowCount": {
          "description": "The total number of rows in the query result. `rowCount` is independent of the number of rows returned in the response, the `limit` request parameter, and the `offset` request parameter. For example if a query returns 175 rows and includes `limit` of 50 in the API request, the response will contain `rowCount` of 175 but only 50 rows. To learn more about this pagination parameter, see [Pagination](https://developers.google.com/analytics/devguides/reporting/data/v1/basics#pagination).",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleAnalyticsAdminV1betaRunAccessReportResponse"
    },
    "GoogleAnalyticsAdminV1betaDataStream": {
      "id": "GoogleAnalyticsAdminV1betaDataStream",
      "description": "A resource message representing a data stream.",
      "type": "object",
      "properties": {
        "type": {
          "enum": [
            "DATA_STREAM_TYPE_UNSPECIFIED",
            "WEB_DATA_STREAM",
            "ANDROID_APP_DATA_STREAM",
            "IOS_APP_DATA_STREAM"
          ],
          "description": "Required. Immutable. The type of this DataStream resource.",
          "type": "string",
          "enumDescriptions": [
            "Type unknown or not specified.",
            "Web data stream.",
            "Android app data stream.",
            "iOS app data stream."
          ]
        },
        "webStreamData": {
          "description": "Data specific to web streams. Must be populated if type is WEB_DATA_STREAM.",
          "$ref": "GoogleAnalyticsAdminV1betaDataStreamWebStreamData"
        },
        "iosAppStreamData": {
          "description": "Data specific to iOS app streams. Must be populated if type is IOS_APP_DATA_STREAM.",
          "$ref": "GoogleAnalyticsAdminV1betaDataStreamIosAppStreamData"
        },
        "name": {
          "description": "Identifier. Resource name of this Data Stream. Format: properties/{property_id}/dataStreams/{stream_id} Example: \"properties/1000/dataStreams/2000\"",
          "type": "string"
        },
        "displayName": {
          "description": "Human-readable display name for the Data Stream. Required for web data streams. The max allowed display name length is 255 UTF-16 code units.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. Time when stream payload fields were last updated.",
          "type": "string",
          "readOnly": true
        },
        "androidAppStreamData": {
          "$ref": "GoogleAnalyticsAdminV1betaDataStreamAndroidAppStreamData",
          "description": "Data specific to Android app streams. Must be populated if type is ANDROID_APP_DATA_STREAM."
        },
        "createTime": {
          "description": "Output only. Time when this stream was originally created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        }
      }
    },
    "GoogleAnalyticsAdminV1betaAccessInListFilter": {
      "description": "The result needs to be in a list of string values.",
      "type": "object",
      "properties": {
        "values": {
          "items": {
            "type": "string"
          },
          "description": "The list of string values. Must be non-empty.",
          "type": "array"
        },
        "caseSensitive": {
          "description": "If true, the string value is case sensitive.",
          "type": "boolean"
        }
      },
      "id": "GoogleAnalyticsAdminV1betaAccessInListFilter"
    },
    "GoogleAnalyticsAdminV1betaListMeasurementProtocolSecretsResponse": {
      "description": "Response message for ListMeasurementProtocolSecret RPC",
      "type": "object",
      "properties": {
        "measurementProtocolSecrets": {
          "description": "A list of secrets for the parent stream specified in the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaMeasurementProtocolSecret"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1betaListMeasurementProtocolSecretsResponse"
    },
    "GoogleAnalyticsAdminV1betaAccessBetweenFilter": {
      "id": "GoogleAnalyticsAdminV1betaAccessBetweenFilter",
      "description": "To express that the result needs to be between two numbers (inclusive).",
      "type": "object",
      "properties": {
        "fromValue": {
          "description": "Begins with this number.",
          "$ref": "GoogleAnalyticsAdminV1betaNumericValue"
        },
        "toValue": {
          "description": "Ends with this number.",
          "$ref": "GoogleAnalyticsAdminV1betaNumericValue"
        }
      }
    },
    "GoogleAnalyticsAdminV1betaNumericValue": {
      "description": "To represent a number.",
      "type": "object",
      "properties": {
        "int64Value": {
          "format": "int64",
          "description": "Integer value",
          "type": "string"
        },
        "doubleValue": {
          "format": "double",
          "description": "Double value",
          "type": "number"
        }
      },
      "id": "GoogleAnalyticsAdminV1betaNumericValue"
    },
    "GoogleAnalyticsAdminV1betaAccessOrderByDimensionOrderBy": {
      "id": "GoogleAnalyticsAdminV1betaAccessOrderByDimensionOrderBy",
      "description": "Sorts by dimension values.",
      "type": "object",
      "properties": {
        "orderType": {
          "enum": [
            "ORDER_TYPE_UNSPECIFIED",
            "ALPHANUMERIC",
            "CASE_INSENSITIVE_ALPHANUMERIC",
            "NUMERIC"
          ],
          "description": "Controls the rule for dimension value ordering.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Alphanumeric sort by Unicode code point. For example, \"2\" < \"A\" < \"X\" < \"b\" < \"z\".",
            "Case insensitive alphanumeric sort by lower case Unicode code point. For example, \"2\" < \"A\" < \"b\" < \"X\" < \"z\".",
            "Dimension values are converted to numbers before sorting. For example in NUMERIC sort, \"25\" < \"100\", and in `ALPHANUMERIC` sort, \"100\" < \"25\". Non-numeric dimension values all have equal ordering value below all numeric values."
          ]
        },
        "dimensionName": {
          "description": "A dimension name in the request to order by.",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1betaListKeyEventsResponse": {
      "id": "GoogleAnalyticsAdminV1betaListKeyEventsResponse",
      "description": "Response message for ListKeyEvents RPC.",
      "type": "object",
      "properties": {
        "keyEvents": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaKeyEvent"
          },
          "description": "The requested Key Events",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1betaAccessDimensionValue": {
      "description": "The value of a dimension.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The dimension value. For example, this value may be 'France' for the 'country' dimension.",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1betaAccessDimensionValue"
    },
    "GoogleAnalyticsAdminV1betaProvisionAccountTicketRequest": {
      "description": "Request message for ProvisionAccountTicket RPC.",
      "type": "object",
      "properties": {
        "account": {
          "$ref": "GoogleAnalyticsAdminV1betaAccount",
          "description": "The account to create."
        },
        "redirectUri": {
          "description": "Redirect URI where the user will be sent after accepting Terms of Service. Must be configured in Cloud Console as a Redirect URI.",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1betaProvisionAccountTicketRequest"
    },
    "GoogleAnalyticsAdminV1betaDataStreamWebStreamData": {
      "description": "Data specific to web streams.",
      "type": "object",
      "properties": {
        "measurementId": {
          "readOnly": true,
          "description": "Output only. Analytics Measurement ID. Example: \"G-1A2BCD345E\"",
          "type": "string"
        },
        "firebaseAppId": {
          "description": "Output only. ID of the corresponding web app in Firebase, if any. This ID can change if the web app is deleted and recreated.",
          "type": "string",
          "readOnly": true
        },
        "defaultUri": {
          "description": "Domain name of the web app being measured, or empty. Example: \"http://www.google.com\", \"https://www.google.com\"",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1betaDataStreamWebStreamData"
    },
    "GoogleAnalyticsAdminV1betaListCustomDimensionsResponse": {
      "id": "GoogleAnalyticsAdminV1betaListCustomDimensionsResponse",
      "description": "Response message for ListCustomDimensions RPC.",
      "type": "object",
      "properties": {
        "customDimensions": {
          "description": "List of CustomDimensions.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaCustomDimension"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1betaAccessDimension": {
      "id": "GoogleAnalyticsAdminV1betaAccessDimension",
      "description": "Dimensions are attributes of your data. For example, the dimension `userEmail` indicates the email of the user that accessed reporting data. Dimension values in report responses are strings.",
      "type": "object",
      "properties": {
        "dimensionName": {
          "description": "The API name of the dimension. See [Data Access Schema](https://developers.google.com/analytics/devguides/config/admin/v1/access-api-schema) for the list of dimensions supported in this API. Dimensions are referenced by name in `dimensionFilter` and `orderBys`.",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1betaChangeHistoryChange": {
      "id": "GoogleAnalyticsAdminV1betaChangeHistoryChange",
      "description": "A description of a change to a single Google Analytics resource.",
      "type": "object",
      "properties": {
        "resource": {
          "description": "Resource name of the resource whose changes are described by this entry.",
          "type": "string"
        },
        "action": {
          "enum": [
            "ACTION_TYPE_UNSPECIFIED",
            "CREATED",
            "UPDATED",
            "DELETED"
          ],
          "description": "The type of action that changed this resource.",
          "type": "string",
          "enumDescriptions": [
            "Action type unknown or not specified.",
            "Resource was created in this change.",
            "Resource was updated in this change.",
            "Resource was deleted in this change."
          ]
        },
        "resourceBeforeChange": {
          "$ref": "GoogleAnalyticsAdminV1betaChangeHistoryChangeChangeHistoryResource",
          "description": "Resource contents from before the change was made. If this resource was created in this change, this field will be missing."
        },
        "resourceAfterChange": {
          "description": "Resource contents from after the change was made. If this resource was deleted in this change, this field will be missing.",
          "$ref": "GoogleAnalyticsAdminV1betaChangeHistoryChangeChangeHistoryResource"
        }
      }
    },
    "GoogleAnalyticsAdminV1betaAccessQuotaStatus": {
      "id": "GoogleAnalyticsAdminV1betaAccessQuotaStatus",
      "description": "Current state for a particular quota group.",
      "type": "object",
      "properties": {
        "consumed": {
          "format": "int32",
          "description": "Quota consumed by this request.",
          "type": "integer"
        },
        "remaining": {
          "description": "Quota remaining after this request.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleAnalyticsAdminV1betaAccessFilterExpression": {
      "id": "GoogleAnalyticsAdminV1betaAccessFilterExpression",
      "description": "Expresses dimension or metric filters. The fields in the same expression need to be either all dimensions or all metrics.",
      "type": "object",
      "properties": {
        "notExpression": {
          "description": "The FilterExpression is NOT of not_expression.",
          "$ref": "GoogleAnalyticsAdminV1betaAccessFilterExpression"
        },
        "andGroup": {
          "description": "Each of the FilterExpressions in the and_group has an AND relationship.",
          "$ref": "GoogleAnalyticsAdminV1betaAccessFilterExpressionList"
        },
        "orGroup": {
          "description": "Each of the FilterExpressions in the or_group has an OR relationship.",
          "$ref": "GoogleAnalyticsAdminV1betaAccessFilterExpressionList"
        },
        "accessFilter": {
          "description": "A primitive filter. In the same FilterExpression, all of the filter's field names need to be either all dimensions or all metrics.",
          "$ref": "GoogleAnalyticsAdminV1betaAccessFilter"
        }
      }
    },
    "GoogleAnalyticsAdminV1betaCustomDimension": {
      "id": "GoogleAnalyticsAdminV1betaCustomDimension",
      "description": "A definition for a CustomDimension.",
      "type": "object",
      "properties": {
        "parameterName": {
          "description": "Required. Immutable. Tagging parameter name for this custom dimension. If this is a user-scoped dimension, then this is the user property name. If this is an event-scoped dimension, then this is the event parameter name. If this is an item-scoped dimension, then this is the parameter name found in the eCommerce items array. May only contain alphanumeric and underscore characters, starting with a letter. Max length of 24 characters for user-scoped dimensions, 40 characters for event-scoped dimensions.",
          "type": "string"
        },
        "disallowAdsPersonalization": {
          "description": "Optional. If set to true, sets this dimension as NPA and excludes it from ads personalization. This is currently only supported by user-scoped custom dimensions.",
          "type": "boolean"
        },
        "description": {
          "description": "Optional. Description for this custom dimension. Max length of 150 characters.",
          "type": "string"
        },
        "scope": {
          "description": "Required. Immutable. The scope of this dimension.",
          "type": "string",
          "enumDescriptions": [
            "Scope unknown or not specified.",
            "Dimension scoped to an event.",
            "Dimension scoped to a user.",
            "Dimension scoped to eCommerce items"
          ],
          "enum": [
            "DIMENSION_SCOPE_UNSPECIFIED",
            "EVENT",
            "USER",
            "ITEM"
          ]
        },
        "name": {
          "description": "Identifier. Resource name for this CustomDimension resource. Format: properties/{property}/customDimensions/{customDimension}",
          "type": "string"
        },
        "displayName": {
          "description": "Required. Display name for this custom dimension as shown in the Analytics UI. Max length of 82 characters, alphanumeric plus space and underscore starting with a letter. Legacy system-generated display names may contain square brackets, but updates to this field will never permit square brackets.",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1betaAcknowledgeUserDataCollectionRequest": {
      "description": "Request message for AcknowledgeUserDataCollection RPC.",
      "type": "object",
      "properties": {
        "acknowledgement": {
          "description": "Required. An acknowledgement that the caller of this method understands the terms of user data collection. This field must contain the exact value: \"I acknowledge that I have the necessary privacy disclosures and rights from my end users for the collection and processing of their data, including the association of such data with the visitation information Google Analytics collects from my site and/or app property.\"",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1betaAcknowledgeUserDataCollectionRequest"
    },
    "GoogleAnalyticsAdminV1betaSearchChangeHistoryEventsRequest": {
      "id": "GoogleAnalyticsAdminV1betaSearchChangeHistoryEventsRequest",
      "description": "Request message for SearchChangeHistoryEvents RPC.",
      "type": "object",
      "properties": {
        "action": {
          "description": "Optional. If set, only return changes that match one or more of these types of actions.",
          "type": "array",
          "items": {
            "enum": [
              "ACTION_TYPE_UNSPECIFIED",
              "CREATED",
              "UPDATED",
              "DELETED"
            ],
            "type": "string",
            "enumDescriptions": [
              "Action type unknown or not specified.",
              "Resource was created in this change.",
              "Resource was updated in this change.",
              "Resource was deleted in this change."
            ]
          }
        },
        "resourceType": {
          "items": {
            "enum": [
              "CHANGE_HISTORY_RESOURCE_TYPE_UNSPECIFIED",
              "ACCOUNT",
              "PROPERTY",
              "FIREBASE_LINK",
              "GOOGLE_ADS_LINK",
              "GOOGLE_SIGNALS_SETTINGS",
              "CONVERSION_EVENT",
              "MEASUREMENT_PROTOCOL_SECRET",
              "CUSTOM_DIMENSION",
              "CUSTOM_METRIC",
              "DATA_RETENTION_SETTINGS",
              "DISPLAY_VIDEO_360_ADVERTISER_LINK",
              "DISPLAY_VIDEO_360_ADVERTISER_LINK_PROPOSAL",
              "DATA_STREAM",
              "ATTRIBUTION_SETTINGS"
            ],
            "type": "string",
            "enumDescriptions": [
              "Resource type unknown or not specified.",
              "Account resource",
              "Property resource",
              "FirebaseLink resource",
              "GoogleAdsLink resource",
              "GoogleSignalsSettings resource",
              "ConversionEvent resource",
              "MeasurementProtocolSecret resource",
              "CustomDimension resource",
              "CustomMetric resource",
              "DataRetentionSettings resource",
              "DisplayVideo360AdvertiserLink resource",
              "DisplayVideo360AdvertiserLinkProposal resource",
              "DataStream resource",
              "AttributionSettings resource"
            ]
          },
          "description": "Optional. If set, only return changes if they are for a resource that matches at least one of these types.",
          "type": "array"
        },
        "latestChangeTime": {
          "description": "Optional. If set, only return changes made before this time (inclusive).",
          "type": "string",
          "format": "google-datetime"
        },
        "property": {
          "description": "Optional. Resource name for a child property. If set, only return changes made to this property or its child resources. Format: properties/{propertyId} Example: `properties/100`",
          "type": "string"
        },
        "pageToken": {
          "description": "Optional. A page token, received from a previous `SearchChangeHistoryEvents` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `SearchChangeHistoryEvents` must match the call that provided the page token.",
          "type": "string"
        },
        "actorEmail": {
          "description": "Optional. If set, only return changes if they are made by a user in this list.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "pageSize": {
          "format": "int32",
          "description": "Optional. The maximum number of ChangeHistoryEvent items to return. If unspecified, at most 50 items will be returned. The maximum value is 200 (higher values will be coerced to the maximum). Note that the service may return a page with fewer items than this value specifies (potentially even zero), and that there still may be additional pages. If you want a particular number of items, you'll need to continue requesting additional pages using `page_token` until you get the needed number.",
          "type": "integer"
        },
        "earliestChangeTime": {
          "description": "Optional. If set, only return changes made after this time (inclusive).",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleAnalyticsAdminV1betaListConversionEventsResponse": {
      "id": "GoogleAnalyticsAdminV1betaListConversionEventsResponse",
      "description": "Response message for ListConversionEvents RPC.",
      "type": "object",
      "properties": {
        "conversionEvents": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaConversionEvent"
          },
          "description": "The requested conversion events",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1betaListGoogleAdsLinksResponse": {
      "description": "Response message for ListGoogleAdsLinks RPC.",
      "type": "object",
      "properties": {
        "googleAdsLinks": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaGoogleAdsLink"
          },
          "description": "List of GoogleAdsLinks.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1betaListGoogleAdsLinksResponse"
    },
    "GoogleAnalyticsAdminV1betaDataSharingSettings": {
      "description": "A resource message representing data sharing settings of a Google Analytics account.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. Resource name. Format: accounts/{account}/dataSharingSettings Example: \"accounts/1000/dataSharingSettings\"",
          "type": "string"
        },
        "sharingWithGoogleAnySalesEnabled": {
          "deprecated": true,
          "description": "Deprecated. This field is no longer used and always returns false.",
          "type": "boolean"
        },
        "sharingWithGoogleSupportEnabled": {
          "description": "Allows Google technical support representatives access to your Google Analytics data and account when necessary to provide service and find solutions to technical issues. This field maps to the \"Technical support\" field in the Google Analytics Admin UI.",
          "type": "boolean"
        },
        "sharingWithOthersEnabled": {
          "description": "Enable features like predictions, modeled data, and benchmarking that can provide you with richer business insights when you contribute aggregated measurement data. The data you share (including information about the property from which it is shared) is aggregated and de-identified before being used to generate business insights. This field maps to the \"Modeling contributions & business insights\" field in the Google Analytics Admin UI.",
          "type": "boolean"
        },
        "sharingWithGoogleAssignedSalesEnabled": {
          "description": "Allows Google access to your Google Analytics account data, including account usage and configuration data, product spending, and users associated with your Google Analytics account, so that Google can help you make the most of Google products, providing you with insights, offers, recommendations, and optimization tips across Google Analytics and other Google products for business. This field maps to the \"Recommendations for your business\" field in the Google Analytics Admin UI.",
          "type": "boolean"
        },
        "sharingWithGoogleProductsEnabled": {
          "description": "Allows Google to use the data to improve other Google products or services. This fields maps to the \"Google products & services\" field in the Google Analytics Admin UI.",
          "type": "boolean"
        }
      },
      "id": "GoogleAnalyticsAdminV1betaDataSharingSettings"
    },
    "GoogleAnalyticsAdminV1betaProvisionAccountTicketResponse": {
      "id": "GoogleAnalyticsAdminV1betaProvisionAccountTicketResponse",
      "description": "Response message for ProvisionAccountTicket RPC.",
      "type": "object",
      "properties": {
        "accountTicketId": {
          "description": "The param to be passed in the ToS link.",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1betaListAccountSummariesResponse": {
      "id": "GoogleAnalyticsAdminV1betaListAccountSummariesResponse",
      "description": "Response message for ListAccountSummaries RPC.",
      "type": "object",
      "properties": {
        "accountSummaries": {
          "description": "Account summaries of all accounts the caller has access to.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaAccountSummary"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GoogleProtobufEmpty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {},
      "id": "GoogleProtobufEmpty"
    },
    "GoogleAnalyticsAdminV1betaGoogleAdsLink": {
      "description": "A link between a Google Analytics property and a Google Ads account.",
      "type": "object",
      "properties": {
        "customerId": {
          "description": "Immutable. Google Ads customer ID.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. Format: properties/{propertyId}/googleAdsLinks/{googleAdsLinkId} Note: googleAdsLinkId is not the Google Ads customer ID.",
          "type": "string"
        },
        "canManageClients": {
          "readOnly": true,
          "description": "Output only. If true, this link is for a Google Ads manager account.",
          "type": "boolean"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Time when this link was last updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "adsPersonalizationEnabled": {
          "description": "Enable personalized advertising features with this integration. Automatically publish my Google Analytics audience lists and Google Analytics remarketing events/parameters to the linked Google Ads account. If this field is not set on create/update, it will be defaulted to true.",
          "type": "boolean"
        },
        "createTime": {
          "description": "Output only. Time when this link was originally created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "creatorEmailAddress": {
          "description": "Output only. Email address of the user that created the link. An empty string will be returned if the email address can't be retrieved.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "GoogleAnalyticsAdminV1betaGoogleAdsLink"
    },
    "GoogleAnalyticsAdminV1betaArchiveCustomMetricRequest": {
      "id": "GoogleAnalyticsAdminV1betaArchiveCustomMetricRequest",
      "description": "Request message for ArchiveCustomMetric RPC.",
      "type": "object",
      "properties": {}
    },
    "GoogleAnalyticsAdminV1betaAccessFilter": {
      "description": "An expression to filter dimension or metric values.",
      "type": "object",
      "properties": {
        "stringFilter": {
          "$ref": "GoogleAnalyticsAdminV1betaAccessStringFilter",
          "description": "Strings related filter."
        },
        "inListFilter": {
          "$ref": "GoogleAnalyticsAdminV1betaAccessInListFilter",
          "description": "A filter for in list values."
        },
        "fieldName": {
          "description": "The dimension name or metric name.",
          "type": "string"
        },
        "betweenFilter": {
          "description": "A filter for two values.",
          "$ref": "GoogleAnalyticsAdminV1betaAccessBetweenFilter"
        },
        "numericFilter": {
          "$ref": "GoogleAnalyticsAdminV1betaAccessNumericFilter",
          "description": "A filter for numeric or date values."
        }
      },
      "id": "GoogleAnalyticsAdminV1betaAccessFilter"
    },
    "GoogleAnalyticsAdminV1betaDataStreamAndroidAppStreamData": {
      "id": "GoogleAnalyticsAdminV1betaDataStreamAndroidAppStreamData",
      "description": "Data specific to Android app streams.",
      "type": "object",
      "properties": {
        "packageName": {
          "description": "Immutable. The package name for the app being measured. Example: \"com.example.myandroidapp\"",
          "type": "string"
        },
        "firebaseAppId": {
          "description": "Output only. ID of the corresponding Android app in Firebase, if any. This ID can change if the Android app is deleted and recreated.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "GoogleAnalyticsAdminV1betaMeasurementProtocolSecret": {
      "description": "A secret value used for sending hits to Measurement Protocol.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. Resource name of this secret. This secret may be a child of any type of stream. Format: properties/{property}/dataStreams/{dataStream}/measurementProtocolSecrets/{measurementProtocolSecret}",
          "type": "string"
        },
        "displayName": {
          "description": "Required. Human-readable display name for this secret.",
          "type": "string"
        },
        "secretValue": {
          "readOnly": true,
          "description": "Output only. The measurement protocol secret value. Pass this value to the api_secret field of the Measurement Protocol API when sending hits to this secret's parent property.",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1betaMeasurementProtocolSecret"
    },
    "GoogleAnalyticsAdminV1betaAccessMetricValue": {
      "description": "The value of a metric.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The measurement value. For example, this value may be '13'.",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1betaAccessMetricValue"
    },
    "GoogleAnalyticsAdminV1betaAccessQuota": {
      "id": "GoogleAnalyticsAdminV1betaAccessQuota",
      "description": "Current state of all quotas for this Analytics property. If any quota for a property is exhausted, all requests to that property will return Resource Exhausted errors.",
      "type": "object",
      "properties": {
        "tokensPerDay": {
          "$ref": "GoogleAnalyticsAdminV1betaAccessQuotaStatus",
          "description": "Properties can use 250,000 tokens per day. Most requests consume fewer than 10 tokens."
        },
        "tokensPerHour": {
          "$ref": "GoogleAnalyticsAdminV1betaAccessQuotaStatus",
          "description": "Properties can use 50,000 tokens per hour. An API request consumes a single number of tokens, and that number is deducted from all of the hourly, daily, and per project hourly quotas."
        },
        "concurrentRequests": {
          "$ref": "GoogleAnalyticsAdminV1betaAccessQuotaStatus",
          "description": "Properties can use up to 50 concurrent requests."
        },
        "serverErrorsPerProjectPerHour": {
          "description": "Properties and cloud project pairs can have up to 50 server errors per hour.",
          "$ref": "GoogleAnalyticsAdminV1betaAccessQuotaStatus"
        },
        "tokensPerProjectPerHour": {
          "description": "Properties can use up to 25% of their tokens per project per hour. This amounts to Analytics 360 Properties can use 12,500 tokens per project per hour. An API request consumes a single number of tokens, and that number is deducted from all of the hourly, daily, and per project hourly quotas.",
          "$ref": "GoogleAnalyticsAdminV1betaAccessQuotaStatus"
        }
      }
    },
    "GoogleAnalyticsAdminV1betaProperty": {
      "description": "A resource message representing a Google Analytics property.",
      "type": "object",
      "properties": {
        "serviceLevel": {
          "description": "Output only. The Google Analytics service level that applies to this property.",
          "type": "string",
          "enum": [
            "SERVICE_LEVEL_UNSPECIFIED",
            "GOOGLE_ANALYTICS_STANDARD",
            "GOOGLE_ANALYTICS_360"
          ],
          "enumDescriptions": [
            "Service level not specified or invalid.",
            "The standard version of Google Analytics.",
            "The paid, premium version of Google Analytics."
          ],
          "readOnly": true
        },
        "name": {
          "description": "Identifier. Resource name of this property. Format: properties/{property_id} Example: \"properties/1000\"",
          "type": "string"
        },
        "displayName": {
          "description": "Required. Human-readable display name for this property. The max allowed display name length is 100 UTF-16 code units.",
          "type": "string"
        },
        "industryCategory": {
          "enum": [
            "INDUSTRY_CATEGORY_UNSPECIFIED",
            "AUTOMOTIVE",
            "BUSINESS_AND_INDUSTRIAL_MARKETS",
            "FINANCE",
            "HEALTHCARE",
            "TECHNOLOGY",
            "TRAVEL",
            "OTHER",
            "ARTS_AND_ENTERTAINMENT",
            "BEAUTY_AND_FITNESS",
            "BOOKS_AND_LITERATURE",
            "FOOD_AND_DRINK",
            "GAMES",
            "HOBBIES_AND_LEISURE",
            "HOME_AND_GARDEN",
            "INTERNET_AND_TELECOM",
            "LAW_AND_GOVERNMENT",
            "NEWS",
            "ONLINE_COMMUNITIES",
            "PEOPLE_AND_SOCIETY",
            "PETS_AND_ANIMALS",
            "REAL_ESTATE",
            "REFERENCE",
            "SCIENCE",
            "SPORTS",
            "JOBS_AND_EDUCATION",
            "SHOPPING"
          ],
          "description": "Industry associated with this property Example: AUTOMOTIVE, FOOD_AND_DRINK",
          "type": "string",
          "enumDescriptions": [
            "Industry category unspecified",
            "Automotive",
            "Business and industrial markets",
            "Finance",
            "Healthcare",
            "Technology",
            "Travel",
            "Other",
            "Arts and entertainment",
            "Beauty and fitness",
            "Books and literature",
            "Food and drink",
            "Games",
            "Hobbies and leisure",
            "Home and garden",
            "Internet and telecom",
            "Law and government",
            "News",
            "Online communities",
            "People and society",
            "Pets and animals",
            "Real estate",
            "Reference",
            "Science",
            "Sports",
            "Jobs and education",
            "Shopping"
          ]
        },
        "createTime": {
          "description": "Output only. Time when the entity was originally created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "expireTime": {
          "format": "google-datetime",
          "description": "Output only. If set, the time at which this trashed property will be permanently deleted. If not set, then this property is not currently in the trash can and is not slated to be deleted.",
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. Time when entity payload fields were last updated.",
          "type": "string",
          "readOnly": true
        },
        "parent": {
          "description": "Immutable. Resource name of this property's logical parent. Note: The Property-Moving UI can be used to change the parent. Format: accounts/{account}, properties/{property} Example: \"accounts/100\", \"properties/101\"",
          "type": "string"
        },
        "currencyCode": {
          "description": "The currency type used in reports involving monetary values. Format: https://en.wikipedia.org/wiki/ISO_4217 Examples: \"USD\", \"EUR\", \"JPY\"",
          "type": "string"
        },
        "account": {
          "description": "Immutable. The resource name of the parent account Format: accounts/{account_id} Example: \"accounts/123\"",
          "type": "string"
        },
        "timeZone": {
          "description": "Required. Reporting Time Zone, used as the day boundary for reports, regardless of where the data originates. If the time zone honors DST, Analytics will automatically adjust for the changes. NOTE: Changing the time zone only affects data going forward, and is not applied retroactively. Format: https://www.iana.org/time-zones Example: \"America/Los_Angeles\"",
          "type": "string"
        },
        "propertyType": {
          "enum": [
            "PROPERTY_TYPE_UNSPECIFIED",
            "PROPERTY_TYPE_ORDINARY",
            "PROPERTY_TYPE_SUBPROPERTY",
            "PROPERTY_TYPE_ROLLUP"
          ],
          "description": "Immutable. The property type for this Property resource. When creating a property, if the type is \"PROPERTY_TYPE_UNSPECIFIED\", then \"ORDINARY_PROPERTY\" will be implied.",
          "type": "string",
          "enumDescriptions": [
            "Unknown or unspecified property type",
            "Ordinary Google Analytics property",
            "Google Analytics subproperty",
            "Google Analytics rollup property"
          ]
        },
        "deleteTime": {
          "description": "Output only. If set, the time at which this property was trashed. If not set, then this property is not currently in the trash can.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        }
      },
      "id": "GoogleAnalyticsAdminV1betaProperty"
    },
    "GoogleAnalyticsAdminV1betaKeyEventDefaultValue": {
      "description": "Defines a default value/currency for a key event.",
      "type": "object",
      "properties": {
        "numericValue": {
          "format": "double",
          "description": "Required. This will be used to populate the \"value\" parameter for all occurrences of this Key Event (specified by event_name) where that parameter is unset.",
          "type": "number"
        },
        "currencyCode": {
          "description": "Required. When an occurrence of this Key Event (specified by event_name) has no set currency this currency will be applied as the default. Must be in ISO 4217 currency code format. See https://en.wikipedia.org/wiki/ISO_4217 for more information.",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1betaKeyEventDefaultValue"
    },
    "GoogleAnalyticsAdminV1betaRunAccessReportRequest": {
      "description": "The request for a Data Access Record Report.",
      "type": "object",
      "properties": {
        "dateRanges": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaAccessDateRange"
          },
          "description": "Date ranges of access records to read. If multiple date ranges are requested, each response row will contain a zero based date range index. If two date ranges overlap, the access records for the overlapping days is included in the response rows for both date ranges. Requests are allowed up to 2 date ranges.",
          "type": "array"
        },
        "dimensionFilter": {
          "$ref": "GoogleAnalyticsAdminV1betaAccessFilterExpression",
          "description": "Dimension filters let you restrict report response to specific dimension values which match the filter. For example, filtering on access records of a single user. To learn more, see [Fundamentals of Dimension Filters](https://developers.google.com/analytics/devguides/reporting/data/v1/basics#dimension_filters) for examples. Metrics cannot be used in this filter."
        },
        "returnEntityQuota": {
          "description": "Toggles whether to return the current state of this Analytics Property's quota. Quota is returned in [AccessQuota](#AccessQuota). For account-level requests, this field must be false.",
          "type": "boolean"
        },
        "timeZone": {
          "description": "This request's time zone if specified. If unspecified, the property's time zone is used. The request's time zone is used to interpret the start & end dates of the report. Formatted as strings from the IANA Time Zone database (https://www.iana.org/time-zones); for example \"America/New_York\" or \"Asia/Tokyo\".",
          "type": "string"
        },
        "metrics": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaAccessMetric"
          },
          "description": "The metrics requested and displayed in the response. Requests are allowed up to 10 metrics.",
          "type": "array"
        },
        "metricFilter": {
          "$ref": "GoogleAnalyticsAdminV1betaAccessFilterExpression",
          "description": "Metric filters allow you to restrict report response to specific metric values which match the filter. Metric filters are applied after aggregating the report's rows, similar to SQL having-clause. Dimensions cannot be used in this filter."
        },
        "expandGroups": {
          "description": "Optional. Decides whether to return the users within user groups. This field works only when include_all_users is set to true. If true, it will return all users with access to the specified property or account. If false, only the users with direct access will be returned.",
          "type": "boolean"
        },
        "dimensions": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaAccessDimension"
          },
          "description": "The dimensions requested and displayed in the response. Requests are allowed up to 9 dimensions.",
          "type": "array"
        },
        "orderBys": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaAccessOrderBy"
          },
          "description": "Specifies how rows are ordered in the response.",
          "type": "array"
        },
        "limit": {
          "format": "int64",
          "description": "The number of rows to return. If unspecified, 10,000 rows are returned. The API returns a maximum of 100,000 rows per request, no matter how many you ask for. `limit` must be positive. The API may return fewer rows than the requested `limit`, if there aren't as many remaining rows as the `limit`. For instance, there are fewer than 300 possible values for the dimension `country`, so when reporting on only `country`, you can't get more than 300 rows, even if you set `limit` to a higher value. To learn more about this pagination parameter, see [Pagination](https://developers.google.com/analytics/devguides/reporting/data/v1/basics#pagination).",
          "type": "string"
        },
        "offset": {
          "format": "int64",
          "description": "The row count of the start row. The first row is counted as row 0. If offset is unspecified, it is treated as 0. If offset is zero, then this method will return the first page of results with `limit` entries. To learn more about this pagination parameter, see [Pagination](https://developers.google.com/analytics/devguides/reporting/data/v1/basics#pagination).",
          "type": "string"
        },
        "includeAllUsers": {
          "description": "Optional. Determines whether to include users who have never made an API call in the response. If true, all users with access to the specified property or account are included in the response, regardless of whether they have made an API call or not. If false, only the users who have made an API call will be included.",
          "type": "boolean"
        }
      },
      "id": "GoogleAnalyticsAdminV1betaRunAccessReportRequest"
    },
    "GoogleAnalyticsAdminV1betaAccount": {
      "description": "A resource message representing a Google Analytics account.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. Resource name of this account. Format: accounts/{account} Example: \"accounts/100\"",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Time when account payload fields were last updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "displayName": {
          "description": "Required. Human-readable display name for this account.",
          "type": "string"
        },
        "regionCode": {
          "description": "Country of business. Must be a Unicode CLDR region code.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Time when this account was originally created.",
          "type": "string",
          "format": "google-datetime"
        },
        "gmpOrganization": {
          "description": "Output only. The URI for a Google Marketing Platform organization resource. Only set when this account is connected to a GMP organization. Format: marketingplatformadmin.googleapis.com/organizations/{org_id}",
          "type": "string",
          "readOnly": true
        },
        "deleted": {
          "readOnly": true,
          "description": "Output only. Indicates whether this Account is soft-deleted or not. Deleted accounts are excluded from List results unless specifically requested.",
          "type": "boolean"
        }
      },
      "id": "GoogleAnalyticsAdminV1betaAccount"
    },
    "GoogleAnalyticsAdminV1betaAccessStringFilter": {
      "description": "The filter for strings.",
      "type": "object",
      "properties": {
        "matchType": {
          "description": "The match type for this filter.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified",
            "Exact match of the string value.",
            "Begins with the string value.",
            "Ends with the string value.",
            "Contains the string value.",
            "Full match for the regular expression with the string value.",
            "Partial match for the regular expression with the string value."
          ],
          "enum": [
            "MATCH_TYPE_UNSPECIFIED",
            "EXACT",
            "BEGINS_WITH",
            "ENDS_WITH",
            "CONTAINS",
            "FULL_REGEXP",
            "PARTIAL_REGEXP"
          ]
        },
        "value": {
          "description": "The string value used for the matching.",
          "type": "string"
        },
        "caseSensitive": {
          "description": "If true, the string value is case sensitive.",
          "type": "boolean"
        }
      },
      "id": "GoogleAnalyticsAdminV1betaAccessStringFilter"
    },
    "GoogleAnalyticsAdminV1betaListAccountsResponse": {
      "description": "Request message for ListAccounts RPC.",
      "type": "object",
      "properties": {
        "accounts": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaAccount"
          },
          "description": "Results that were accessible to the caller.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1betaListAccountsResponse"
    },
    "GoogleAnalyticsAdminV1betaListCustomMetricsResponse": {
      "description": "Response message for ListCustomMetrics RPC.",
      "type": "object",
      "properties": {
        "customMetrics": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaCustomMetric"
          },
          "description": "List of CustomMetrics.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1betaListCustomMetricsResponse"
    },
    "GoogleAnalyticsAdminV1betaAccessOrderBy": {
      "description": "Order bys define how rows will be sorted in the response. For example, ordering rows by descending access count is one ordering, and ordering rows by the country string is a different ordering.",
      "type": "object",
      "properties": {
        "desc": {
          "description": "If true, sorts by descending order. If false or unspecified, sorts in ascending order.",
          "type": "boolean"
        },
        "dimension": {
          "$ref": "GoogleAnalyticsAdminV1betaAccessOrderByDimensionOrderBy",
          "description": "Sorts results by a dimension's values."
        },
        "metric": {
          "$ref": "GoogleAnalyticsAdminV1betaAccessOrderByMetricOrderBy",
          "description": "Sorts results by a metric's values."
        }
      },
      "id": "GoogleAnalyticsAdminV1betaAccessOrderBy"
    },
    "GoogleAnalyticsAdminV1betaSearchChangeHistoryEventsResponse": {
      "description": "Response message for SearchAccounts RPC.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "changeHistoryEvents": {
          "description": "Results that were accessible to the caller.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaChangeHistoryEvent"
          }
        }
      },
      "id": "GoogleAnalyticsAdminV1betaSearchChangeHistoryEventsResponse"
    },
    "GoogleAnalyticsAdminV1betaAcknowledgeUserDataCollectionResponse": {
      "description": "Response message for AcknowledgeUserDataCollection RPC.",
      "type": "object",
      "properties": {},
      "id": "GoogleAnalyticsAdminV1betaAcknowledgeUserDataCollectionResponse"
    },
    "GoogleAnalyticsAdminV1betaAccessDimensionHeader": {
      "id": "GoogleAnalyticsAdminV1betaAccessDimensionHeader",
      "description": "Describes a dimension column in the report. Dimensions requested in a report produce column entries within rows and DimensionHeaders. However, dimensions used exclusively within filters or expressions do not produce columns in a report; correspondingly, those dimensions do not produce headers.",
      "type": "object",
      "properties": {
        "dimensionName": {
          "description": "The dimension's name; for example 'userEmail'.",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1betaAccessNumericFilter": {
      "id": "GoogleAnalyticsAdminV1betaAccessNumericFilter",
      "description": "Filters for numeric or date values.",
      "type": "object",
      "properties": {
        "operation": {
          "enum": [
            "OPERATION_UNSPECIFIED",
            "EQUAL",
            "LESS_THAN",
            "LESS_THAN_OR_EQUAL",
            "GREATER_THAN",
            "GREATER_THAN_OR_EQUAL"
          ],
          "description": "The operation type for this filter.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Equal",
            "Less than",
            "Less than or equal",
            "Greater than",
            "Greater than or equal"
          ]
        },
        "value": {
          "$ref": "GoogleAnalyticsAdminV1betaNumericValue",
          "description": "A numeric value or a date value."
        }
      }
    },
    "GoogleAnalyticsAdminV1betaPropertySummary": {
      "description": "A virtual resource representing metadata for a Google Analytics property.",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Display name for the property referred to in this property summary.",
          "type": "string"
        },
        "propertyType": {
          "description": "The property's property type.",
          "type": "string",
          "enumDescriptions": [
            "Unknown or unspecified property type",
            "Ordinary Google Analytics property",
            "Google Analytics subproperty",
            "Google Analytics rollup property"
          ],
          "enum": [
            "PROPERTY_TYPE_UNSPECIFIED",
            "PROPERTY_TYPE_ORDINARY",
            "PROPERTY_TYPE_SUBPROPERTY",
            "PROPERTY_TYPE_ROLLUP"
          ]
        },
        "property": {
          "description": "Resource name of property referred to by this property summary Format: properties/{property_id} Example: \"properties/1000\"",
          "type": "string"
        },
        "parent": {
          "description": "Resource name of this property's logical parent. Note: The Property-Moving UI can be used to change the parent. Format: accounts/{account}, properties/{property} Example: \"accounts/100\", \"properties/200\"",
          "type": "string"
        },
        "canEdit": {
          "description": "If true, then the user has a Google Analytics role that permits them to edit the property.",
          "type": "boolean"
        }
      },
      "id": "GoogleAnalyticsAdminV1betaPropertySummary"
    },
    "GoogleAnalyticsAdminV1betaConversionEvent": {
      "description": "A conversion event in a Google Analytics property.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. Resource name of this conversion event. Format: properties/{property}/conversionEvents/{conversion_event}",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Time when this conversion event was created in the property.",
          "type": "string",
          "readOnly": true
        },
        "deletable": {
          "description": "Output only. If set, this event can currently be deleted with DeleteConversionEvent.",
          "type": "boolean",
          "readOnly": true
        },
        "countingMethod": {
          "enum": [
            "CONVERSION_COUNTING_METHOD_UNSPECIFIED",
            "ONCE_PER_EVENT",
            "ONCE_PER_SESSION"
          ],
          "description": "Optional. The method by which conversions will be counted across multiple events within a session. If this value is not provided, it will be set to `ONCE_PER_EVENT`.",
          "type": "string",
          "enumDescriptions": [
            "Counting method not specified.",
            "Each Event instance is considered a Conversion.",
            "An Event instance is considered a Conversion at most once per session per user."
          ]
        },
        "defaultConversionValue": {
          "$ref": "GoogleAnalyticsAdminV1betaConversionEventDefaultConversionValue",
          "description": "Optional. Defines a default value/currency for a conversion event."
        },
        "custom": {
          "description": "Output only. If set to true, this conversion event refers to a custom event. If set to false, this conversion event refers to a default event in GA. Default events typically have special meaning in GA. Default events are usually created for you by the GA system, but in some cases can be created by property admins. Custom events count towards the maximum number of custom conversion events that may be created per property.",
          "type": "boolean",
          "readOnly": true
        },
        "eventName": {
          "description": "Immutable. The event name for this conversion event. Examples: 'click', 'purchase'",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1betaConversionEvent"
    },
    "GoogleAnalyticsAdminV1betaDataStreamIosAppStreamData": {
      "id": "GoogleAnalyticsAdminV1betaDataStreamIosAppStreamData",
      "description": "Data specific to iOS app streams.",
      "type": "object",
      "properties": {
        "bundleId": {
          "description": "Required. Immutable. The Apple App Store Bundle ID for the app Example: \"com.example.myiosapp\"",
          "type": "string"
        },
        "firebaseAppId": {
          "description": "Output only. ID of the corresponding iOS app in Firebase, if any. This ID can change if the iOS app is deleted and recreated.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "GoogleAnalyticsAdminV1betaAccessDateRange": {
      "id": "GoogleAnalyticsAdminV1betaAccessDateRange",
      "description": "A contiguous range of days: startDate, startDate + 1, ..., endDate.",
      "type": "object",
      "properties": {
        "endDate": {
          "description": "The inclusive end date for the query in the format `YYYY-MM-DD`. Cannot be before `startDate`. The format `NdaysAgo`, `yesterday`, or `today` is also accepted, and in that case, the date is inferred based on the current time in the request's time zone.",
          "type": "string"
        },
        "startDate": {
          "description": "The inclusive start date for the query in the format `YYYY-MM-DD`. Cannot be after `endDate`. The format `NdaysAgo`, `yesterday`, or `today` is also accepted, and in that case, the date is inferred based on the current time in the request's time zone.",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1betaDataRetentionSettings": {
      "description": "Settings values for data retention. This is a singleton resource.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. Resource name for this DataRetentionSetting resource. Format: properties/{property}/dataRetentionSettings",
          "type": "string"
        },
        "userDataRetention": {
          "description": "Required. The length of time that user-level data is retained.",
          "type": "string",
          "enumDescriptions": [
            "Data retention time duration is not specified.",
            "The data retention time duration is 2 months.",
            "The data retention time duration is 14 months.",
            "The data retention time duration is 26 months. Available to 360 properties only. Available for event data only.",
            "The data retention time duration is 38 months. Available to 360 properties only. Available for event data only.",
            "The data retention time duration is 50 months. Available to 360 properties only. Available for event data only."
          ],
          "enum": [
            "RETENTION_DURATION_UNSPECIFIED",
            "TWO_MONTHS",
            "FOURTEEN_MONTHS",
            "TWENTY_SIX_MONTHS",
            "THIRTY_EIGHT_MONTHS",
            "FIFTY_MONTHS"
          ]
        },
        "eventDataRetention": {
          "enum": [
            "RETENTION_DURATION_UNSPECIFIED",
            "TWO_MONTHS",
            "FOURTEEN_MONTHS",
            "TWENTY_SIX_MONTHS",
            "THIRTY_EIGHT_MONTHS",
            "FIFTY_MONTHS"
          ],
          "description": "Required. The length of time that event-level data is retained.",
          "type": "string",
          "enumDescriptions": [
            "Data retention time duration is not specified.",
            "The data retention time duration is 2 months.",
            "The data retention time duration is 14 months.",
            "The data retention time duration is 26 months. Available to 360 properties only. Available for event data only.",
            "The data retention time duration is 38 months. Available to 360 properties only. Available for event data only.",
            "The data retention time duration is 50 months. Available to 360 properties only. Available for event data only."
          ]
        },
        "resetUserDataOnNewActivity": {
          "description": "If true, reset the retention period for the user identifier with every event from that user.",
          "type": "boolean"
        }
      },
      "id": "GoogleAnalyticsAdminV1betaDataRetentionSettings"
    },
    "GoogleAnalyticsAdminV1betaListDataStreamsResponse": {
      "id": "GoogleAnalyticsAdminV1betaListDataStreamsResponse",
      "description": "Response message for ListDataStreams RPC.",
      "type": "object",
      "properties": {
        "dataStreams": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaDataStream"
          },
          "description": "List of DataStreams.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1betaChangeHistoryChangeChangeHistoryResource": {
      "description": "A snapshot of a resource as before or after the result of a change in change history.",
      "type": "object",
      "properties": {
        "property": {
          "description": "A snapshot of a Property resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1betaProperty"
        },
        "firebaseLink": {
          "$ref": "GoogleAnalyticsAdminV1betaFirebaseLink",
          "description": "A snapshot of a FirebaseLink resource in change history."
        },
        "account": {
          "description": "A snapshot of an Account resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1betaAccount"
        },
        "googleAdsLink": {
          "description": "A snapshot of a GoogleAdsLink resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1betaGoogleAdsLink"
        },
        "conversionEvent": {
          "description": "A snapshot of a ConversionEvent resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1betaConversionEvent"
        },
        "measurementProtocolSecret": {
          "description": "A snapshot of a MeasurementProtocolSecret resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1betaMeasurementProtocolSecret"
        },
        "dataRetentionSettings": {
          "description": "A snapshot of a data retention settings resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1betaDataRetentionSettings"
        },
        "dataStream": {
          "$ref": "GoogleAnalyticsAdminV1betaDataStream",
          "description": "A snapshot of a DataStream resource in change history."
        }
      },
      "id": "GoogleAnalyticsAdminV1betaChangeHistoryChangeChangeHistoryResource"
    },
    "GoogleAnalyticsAdminV1betaAccountSummary": {
      "id": "GoogleAnalyticsAdminV1betaAccountSummary",
      "description": "A virtual resource representing an overview of an account and all its child Google Analytics properties.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. Resource name for this account summary. Format: accountSummaries/{account_id} Example: \"accountSummaries/1000\"",
          "type": "string"
        },
        "account": {
          "description": "Resource name of account referred to by this account summary Format: accounts/{account_id} Example: \"accounts/1000\"",
          "type": "string"
        },
        "displayName": {
          "description": "Display name for the account referred to in this account summary.",
          "type": "string"
        },
        "propertySummaries": {
          "description": "List of summaries for child accounts of this account.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaPropertySummary"
          }
        }
      }
    },
    "GoogleAnalyticsAdminV1betaListFirebaseLinksResponse": {
      "id": "GoogleAnalyticsAdminV1betaListFirebaseLinksResponse",
      "description": "Response message for ListFirebaseLinks RPC",
      "type": "object",
      "properties": {
        "firebaseLinks": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaFirebaseLink"
          },
          "description": "List of FirebaseLinks. This will have at most one value.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages. Currently, Google Analytics supports only one FirebaseLink per property, so this will never be populated.",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1betaAccessMetric": {
      "id": "GoogleAnalyticsAdminV1betaAccessMetric",
      "description": "The quantitative measurements of a report. For example, the metric `accessCount` is the total number of data access records.",
      "type": "object",
      "properties": {
        "metricName": {
          "description": "The API name of the metric. See [Data Access Schema](https://developers.google.com/analytics/devguides/config/admin/v1/access-api-schema) for the list of metrics supported in this API. Metrics are referenced by name in `metricFilter` & `orderBys`.",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1betaAccessFilterExpressionList": {
      "description": "A list of filter expressions.",
      "type": "object",
      "properties": {
        "expressions": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaAccessFilterExpression"
          },
          "description": "A list of filter expressions.",
          "type": "array"
        }
      },
      "id": "GoogleAnalyticsAdminV1betaAccessFilterExpressionList"
    }
  },
  "version_module": true,
  "batchPath": "batch",
  "canonicalName": "Google Analytics Admin",
  "resources": {
    "accounts": {
      "methods": {
        "patch": {
          "description": "Updates an account.",
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "description": "Identifier. Resource name of this account. Format: accounts/{account} Example: \"accounts/100\"",
              "pattern": "^accounts/[^/]+$",
              "type": "string"
            },
            "updateMask": {
              "description": "Required. The list of fields to be updated. Field names must be in snake case (for example, \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
              "type": "string",
              "location": "query",
              "format": "google-fieldmask"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaAccount"
          },
          "flatPath": "v1beta/accounts/{accountsId}",
          "httpMethod": "PATCH",
          "request": {
            "$ref": "GoogleAnalyticsAdminV1betaAccount"
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "id": "analyticsadmin.accounts.patch",
          "path": "v1beta/{+name}"
        },
        "list": {
          "parameterOrder": [],
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaListAccountsResponse"
          },
          "flatPath": "v1beta/accounts",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "id": "analyticsadmin.accounts.list",
          "path": "v1beta/accounts",
          "description": "Returns all accounts accessible by the caller. Note that these accounts might not currently have GA properties. Soft-deleted (ie: \"trashed\") accounts are excluded by default. Returns an empty list if no relevant accounts are found. Note: The easiest way to retrieve a list of all properties you have access to is by using `ListAccountSummaries`.",
          "parameters": {
            "pageToken": {
              "location": "query",
              "description": "Optional. A page token, received from a previous `ListAccounts` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAccounts` must match the call that provided the page token.",
              "type": "string"
            },
            "showDeleted": {
              "description": "Whether to include soft-deleted (ie: \"trashed\") Accounts in the results. Accounts can be inspected to determine whether they are deleted or not.",
              "type": "boolean",
              "location": "query"
            },
            "pageSize": {
              "format": "int32",
              "location": "query",
              "description": "Optional. The maximum number of resources to return. The service may return fewer than this value, even if there are additional pages. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)",
              "type": "integer"
            }
          }
        },
        "searchChangeHistoryEvents": {
          "description": "Searches through all changes to an account or its children given the specified set of filters. Only returns the subset of changes supported by the API. The UI may return additional changes.",
          "parameters": {
            "account": {
              "required": true,
              "description": "Required. The account resource for which to return change history resources. Format: accounts/{account} Example: `accounts/100`",
              "pattern": "^accounts/[^/]+$",
              "type": "string",
              "location": "path"
            }
          },
          "flatPath": "v1beta/accounts/{accountsId}:searchChangeHistoryEvents",
          "httpMethod": "POST",
          "parameterOrder": [
            "account"
          ],
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaSearchChangeHistoryEventsResponse"
          },
          "id": "analyticsadmin.accounts.searchChangeHistoryEvents",
          "path": "v1beta/{+account}:searchChangeHistoryEvents",
          "request": {
            "$ref": "GoogleAnalyticsAdminV1betaSearchChangeHistoryEventsRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ]
        },
        "provisionAccountTicket": {
          "description": "Requests a ticket for creating an account.",
          "parameters": {},
          "flatPath": "v1beta/accounts:provisionAccountTicket",
          "httpMethod": "POST",
          "parameterOrder": [],
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaProvisionAccountTicketResponse"
          },
          "id": "analyticsadmin.accounts.provisionAccountTicket",
          "path": "v1beta/accounts:provisionAccountTicket",
          "request": {
            "$ref": "GoogleAnalyticsAdminV1betaProvisionAccountTicketRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ]
        },
        "getDataSharingSettings": {
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaDataSharingSettings"
          },
          "flatPath": "v1beta/accounts/{accountsId}/dataSharingSettings",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "id": "analyticsadmin.accounts.getDataSharingSettings",
          "path": "v1beta/{+name}",
          "description": "Get data sharing settings on an account. Data sharing settings are singletons.",
          "parameters": {
            "name": {
              "required": true,
              "description": "Required. The name of the settings to lookup. Format: accounts/{account}/dataSharingSettings Example: `accounts/1000/dataSharingSettings`",
              "pattern": "^accounts/[^/]+/dataSharingSettings$",
              "type": "string",
              "location": "path"
            }
          }
        },
        "runAccessReport": {
          "flatPath": "v1beta/accounts/{accountsId}:runAccessReport",
          "httpMethod": "POST",
          "parameterOrder": [
            "entity"
          ],
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaRunAccessReportResponse"
          },
          "id": "analyticsadmin.accounts.runAccessReport",
          "path": "v1beta/{+entity}:runAccessReport",
          "request": {
            "$ref": "GoogleAnalyticsAdminV1betaRunAccessReportRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "description": "Returns a customized report of data access records. The report provides records of each time a user reads Google Analytics reporting data. Access records are retained for up to 2 years. Data Access Reports can be requested for a property. Reports may be requested for any property, but dimensions that aren't related to quota can only be requested on Google Analytics 360 properties. This method is only available to Administrators. These data access records include GA UI Reporting, GA UI Explorations, GA Data API, and other products like Firebase & Admob that can retrieve data from Google Analytics through a linkage. These records don't include property configuration changes like adding a stream or changing a property's time zone. For configuration change history, see [searchChangeHistoryEvents](https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/accounts/searchChangeHistoryEvents). To give your feedback on this API, complete the [Google Analytics Access Reports feedback](https://docs.google.com/forms/d/e/1FAIpQLSdmEBUrMzAEdiEKk5TV5dEHvDUZDRlgWYdQdAeSdtR4hVjEhw/viewform) form.",
          "parameters": {
            "entity": {
              "location": "path",
              "required": true,
              "description": "The Data Access Report supports requesting at the property level or account level. If requested at the account level, Data Access Reports include all access for all properties under that account. To request at the property level, entity should be for example 'properties/123' if \"123\" is your Google Analytics property ID. To request at the account level, entity should be for example 'accounts/1234' if \"1234\" is your Google Analytics Account ID.",
              "pattern": "^accounts/[^/]+$",
              "type": "string"
            }
          }
        },
        "get": {
          "description": "Lookup for a single Account.",
          "parameters": {
            "name": {
              "description": "Required. The name of the account to lookup. Format: accounts/{account} Example: \"accounts/100\"",
              "pattern": "^accounts/[^/]+$",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "flatPath": "v1beta/accounts/{accountsId}",
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaAccount"
          },
          "id": "analyticsadmin.accounts.get",
          "path": "v1beta/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ]
        },
        "delete": {
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GoogleProtobufEmpty"
          },
          "flatPath": "v1beta/accounts/{accountsId}",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "id": "analyticsadmin.accounts.delete",
          "path": "v1beta/{+name}",
          "description": "Marks target Account as soft-deleted (ie: \"trashed\") and returns it. This API does not have a method to restore soft-deleted accounts. However, they can be restored using the Trash Can UI. If the accounts are not restored before the expiration time, the account and all child resources (eg: Properties, GoogleAdsLinks, Streams, AccessBindings) will be permanently purged. https://support.google.com/analytics/answer/6154772 Returns an error if the target is not found.",
          "parameters": {
            "name": {
              "description": "Required. The name of the Account to soft-delete. Format: accounts/{account} Example: \"accounts/100\"",
              "pattern": "^accounts/[^/]+$",
              "type": "string",
              "required": true,
              "location": "path"
            }
          }
        }
      }
    },
    "accountSummaries": {
      "methods": {
        "list": {
          "flatPath": "v1beta/accountSummaries",
          "httpMethod": "GET",
          "parameterOrder": [],
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaListAccountSummariesResponse"
          },
          "id": "analyticsadmin.accountSummaries.list",
          "path": "v1beta/accountSummaries",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "description": "Returns summaries of all accounts accessible by the caller.",
          "parameters": {
            "pageSize": {
              "description": "Optional. The maximum number of AccountSummary resources to return. The service may return fewer than this value, even if there are additional pages. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)",
              "type": "integer",
              "location": "query",
              "format": "int32"
            },
            "pageToken": {
              "description": "Optional. A page token, received from a previous `ListAccountSummaries` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAccountSummaries` must match the call that provided the page token.",
              "type": "string",
              "location": "query"
            }
          }
        }
      }
    },
    "properties": {
      "resources": {
        "customDimensions": {
          "methods": {
            "patch": {
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaCustomDimension"
              },
              "flatPath": "v1beta/properties/{propertiesId}/customDimensions/{customDimensionsId}",
              "httpMethod": "PATCH",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1betaCustomDimension"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analyticsadmin.properties.customDimensions.patch",
              "path": "v1beta/{+name}",
              "description": "Updates a CustomDimension on a property.",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Identifier. Resource name for this CustomDimension resource. Format: properties/{property}/customDimensions/{customDimension}",
                  "pattern": "^properties/[^/]+/customDimensions/[^/]+$",
                  "type": "string"
                },
                "updateMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "description": "Required. The list of fields to be updated. Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
                  "type": "string"
                }
              }
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "id": "analyticsadmin.properties.customDimensions.list",
              "path": "v1beta/{+parent}/customDimensions",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaListCustomDimensionsResponse"
              },
              "flatPath": "v1beta/properties/{propertiesId}/customDimensions",
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "Optional. A page token, received from a previous `ListCustomDimensions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListCustomDimensions` must match the call that provided the page token.",
                  "type": "string"
                },
                "pageSize": {
[...]
