{
  "name": "analyticsadmin",
  "revision": "20260916",
  "title": "Google Analytics Admin API",
  "fullyEncodeReservedExpansion": true,
  "mtlsRootUrl": "https://analyticsadmin.mtls.googleapis.com/",
  "kind": "discovery#restDescription",
  "documentationLink": "http://code.google.com/apis/analytics/docs/mgmt/home.html",
  "servicePath": "",
  "version": "v1alpha",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/analytics.manage.users": {
          "description": "Manage Google Analytics Account users by email address"
        },
        "https://www.googleapis.com/auth/analytics.readonly": {
          "description": "See and download your Google Analytics data"
        },
        "https://www.googleapis.com/auth/analytics.manage.users.readonly": {
          "description": "View Google Analytics user permissions"
        },
        "https://www.googleapis.com/auth/analytics.edit": {
          "description": "Edit Google Analytics management entities"
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "id": "analyticsadmin:v1alpha",
  "parameters": {
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "type": "string",
      "location": "query",
      "default": "json"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    }
  },
  "rootUrl": "https://analyticsadmin.googleapis.com/",
  "schemas": {
    "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterExpression": {
      "type": "object",
      "properties": {
        "filterCondition": {
          "$ref": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterCondition",
          "description": "Creates a filter that matches a specific event. This cannot be set on the top level SubpropertyEventFilterExpression."
        },
        "orGroup": {
          "description": "A list of expressions to OR’ed together. Must only contain not_expression or filter_condition expressions.",
          "$ref": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterExpressionList"
        },
        "notExpression": {
          "description": "A filter expression to be NOT'ed (inverted, complemented). It can only include a filter. This cannot be set on the top level SubpropertyEventFilterExpression.",
          "$ref": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterExpression"
        }
      },
      "description": "A logical expression of Subproperty event filters.",
      "id": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterExpression"
    },
    "GoogleAnalyticsAdminV1alphaSubpropertySyncConfig": {
      "id": "GoogleAnalyticsAdminV1alphaSubpropertySyncConfig",
      "type": "object",
      "properties": {
        "applyToProperty": {
          "description": "Output only. Immutable. Resource name of the subproperty that these settings apply to.",
          "readOnly": true,
          "type": "string"
        },
        "customDimensionAndMetricSyncMode": {
          "type": "string",
          "enum": [
            "SYNCHRONIZATION_MODE_UNSPECIFIED",
            "NONE",
            "ALL"
          ],
          "enumDescriptions": [
            "Synchronization mode unknown or not specified.",
            "Entities are not synchronized. Local edits are allowed on the subproperty.",
            "Entities are synchronized from parent property. Local mutations are not allowed on the subproperty (Create / Update / Delete)"
          ],
          "description": "Required. Specifies the Custom Dimension / Metric synchronization mode for the subproperty. If set to ALL, Custom Dimension / Metric synchronization will be immediately enabled. Local configuration of Custom Dimensions / Metrics will not be allowed on the subproperty so long as the synchronization mode is set to ALL. If set to NONE, Custom Dimensions / Metric synchronization is disabled. Custom Dimensions / Metrics must be configured explicitly on the Subproperty."
        },
        "name": {
          "type": "string",
          "description": "Output only. Identifier. Format: properties/{ordinary_property_id}/subpropertySyncConfigs/{subproperty_id} Example: properties/1234/subpropertySyncConfigs/5678",
          "readOnly": true
        }
      },
      "description": "Subproperty synchronization configuration controls how ordinary property configurations are synchronized to subproperties. This resource is provisioned automatically for each subproperty."
    },
    "GoogleAnalyticsAdminV1alphaKeyEventDefaultValue": {
      "id": "GoogleAnalyticsAdminV1alphaKeyEventDefaultValue",
      "description": "Defines a default value/currency for a key event.",
      "type": "object",
      "properties": {
        "numericValue": {
          "type": "number",
          "description": "Required. This will be used to populate the \"value\" parameter for all occurrences of this Key Event (specified by event_name) where that parameter is unset.",
          "format": "double"
        },
        "currencyCode": {
          "type": "string",
          "description": "Required. When an occurrence of this Key Event (specified by event_name) has no set currency this currency will be applied as the default. Must be in ISO 4217 currency code format. See https://en.wikipedia.org/wiki/ISO_4217 for more information."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterNumericFilter": {
      "id": "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterNumericFilter",
      "description": "A filter for numeric or date values on a dimension or metric.",
      "type": "object",
      "properties": {
        "operation": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Equal.",
            "Less than.",
            "Greater than."
          ],
          "description": "Required. The operation applied to a numeric filter.",
          "enum": [
            "OPERATION_UNSPECIFIED",
            "EQUAL",
            "LESS_THAN",
            "GREATER_THAN"
          ]
        },
        "value": {
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterNumericValue",
          "description": "Required. The numeric or date value to match against."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaAccessDimensionHeader": {
      "description": "Describes a dimension column in the report. Dimensions requested in a report produce column entries within rows and DimensionHeaders. However, dimensions used exclusively within filters or expressions do not produce columns in a report; correspondingly, those dimensions do not produce headers.",
      "properties": {
        "dimensionName": {
          "description": "The dimension's name; for example 'userEmail'.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaAccessDimensionHeader"
    },
    "GoogleAnalyticsAdminV1alphaReportingDataAnnotationDateRange": {
      "properties": {
        "startDate": {
          "description": "Required. The start date for this range. Must be a valid date with year, month, and day set. The date may be in the past, present, or future.",
          "$ref": "GoogleTypeDate"
        },
        "endDate": {
          "$ref": "GoogleTypeDate",
          "description": "Required. The end date for this range. Must be a valid date with year, month, and day set. This date must be greater than or equal to the start date."
        }
      },
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaReportingDataAnnotationDateRange",
      "description": "Represents a Reporting Data Annotation's date range, both start and end dates are inclusive. Time zones are based on the parent property."
    },
    "GoogleAnalyticsAdminV1alphaArchiveAudienceRequest": {
      "type": "object",
      "description": "Request message for ArchiveAudience RPC.",
      "properties": {},
      "id": "GoogleAnalyticsAdminV1alphaArchiveAudienceRequest"
    },
    "GoogleAnalyticsAdminV1alphaListExpandedDataSetsResponse": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaListExpandedDataSetsResponse",
      "description": "Response message for ListExpandedDataSets RPC.",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "expandedDataSets": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaExpandedDataSet"
          },
          "description": "List of ExpandedDataSet. These will be ordered stably, but in an arbitrary order.",
          "type": "array"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterCondition": {
      "properties": {
        "fieldName": {
          "description": "Required. The field that is being filtered.",
          "type": "string"
        },
        "nullFilter": {
          "type": "boolean",
          "description": "A filter for null values."
        },
        "stringFilter": {
          "description": "A filter for a string-type dimension that matches a particular pattern.",
          "$ref": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterConditionStringFilter"
        }
      },
      "type": "object",
      "description": "A specific filter expression",
      "id": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterCondition"
    },
    "GoogleAnalyticsAdminV1alphaListAccountsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "accounts": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccount"
          },
          "type": "array",
          "description": "Results that were accessible to the caller."
        }
      },
      "description": "Request message for ListAccounts RPC.",
      "id": "GoogleAnalyticsAdminV1alphaListAccountsResponse",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaChannelGroupFilterExpression": {
      "id": "GoogleAnalyticsAdminV1alphaChannelGroupFilterExpression",
      "description": "A logical expression of Channel Group dimension filters.",
      "type": "object",
      "properties": {
        "filter": {
          "description": "A filter on a single dimension. This cannot be set on the top level ChannelGroupFilterExpression.",
          "$ref": "GoogleAnalyticsAdminV1alphaChannelGroupFilter"
        },
        "orGroup": {
          "description": "A list of expressions to OR’ed together. It cannot contain ChannelGroupFilterExpressions with and_group or or_group.",
          "$ref": "GoogleAnalyticsAdminV1alphaChannelGroupFilterExpressionList"
        },
        "andGroup": {
          "description": "A list of expressions to be AND’ed together. It can only contain ChannelGroupFilterExpressions with or_group. This must be set for the top level ChannelGroupFilterExpression.",
          "$ref": "GoogleAnalyticsAdminV1alphaChannelGroupFilterExpressionList"
        },
        "notExpression": {
          "description": "A filter expression to be NOT'ed (that is inverted, complemented). It can only include a dimension_or_metric_filter. This cannot be set on the top level ChannelGroupFilterExpression.",
          "$ref": "GoogleAnalyticsAdminV1alphaChannelGroupFilterExpression"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaListAudiencesResponse": {
      "description": "Response message for ListAudiences RPC.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaListAudiencesResponse",
      "properties": {
        "audiences": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAudience"
          },
          "description": "List of Audiences."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaUpdateAccessBindingRequest": {
      "type": "object",
      "properties": {
        "accessBinding": {
          "$ref": "GoogleAnalyticsAdminV1alphaAccessBinding",
          "description": "Required. The access binding to update."
        }
      },
      "description": "Request message for UpdateAccessBinding RPC.",
      "id": "GoogleAnalyticsAdminV1alphaUpdateAccessBindingRequest"
    },
    "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilter": {
      "id": "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilter",
      "description": "A specific filter for a single dimension or metric.",
      "type": "object",
      "properties": {
        "numericFilter": {
          "description": "A filter for numeric or date values on a dimension or metric.",
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterNumericFilter"
        },
        "betweenFilter": {
          "description": "A filter for numeric or date values between certain values on a dimension or metric.",
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterBetweenFilter"
        },
        "stringFilter": {
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterStringFilter",
          "description": "A filter for a string-type dimension that matches a particular pattern."
        },
        "atAnyPointInTime": {
          "type": "boolean",
          "description": "Optional. Indicates whether this filter needs dynamic evaluation or not. If set to true, users join the Audience if they ever met the condition (static evaluation). If unset or set to false, user evaluation for an Audience is dynamic; users are added to an Audience when they meet the conditions and then removed when they no longer meet them. This can only be set when Audience scope is ACROSS_ALL_SESSIONS."
        },
        "inListFilter": {
          "description": "A filter for a string dimension that matches a particular list of options.",
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterInListFilter"
        },
        "inAnyNDayPeriod": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. If set, specifies the time window for which to evaluate data in number of days. If not set, then audience data is evaluated against lifetime data (For example, infinite time window). For example, if set to 1 day, only the current day's data is evaluated. The reference point is the current day when at_any_point_in_time is unset or false. It can only be set when Audience scope is ACROSS_ALL_SESSIONS and cannot be greater than 60 days."
        },
        "fieldName": {
          "description": "Required. Immutable. The dimension name or metric name to filter. If the field name refers to a custom dimension or metric, a scope prefix will be added to the front of the custom dimensions or metric name. For more on scope prefixes or custom dimensions/metrics, reference the [Google Analytics Data API documentation] (https://developers.google.com/analytics/devguides/reporting/data/v1/api-schema#custom_dimensions).",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaAcknowledgeUserDataCollectionRequest": {
      "type": "object",
      "description": "Request message for AcknowledgeUserDataCollection RPC.",
      "id": "GoogleAnalyticsAdminV1alphaAcknowledgeUserDataCollectionRequest",
      "properties": {
        "acknowledgement": {
          "type": "string",
          "description": "Required. An acknowledgement that the caller of this method understands the terms of user data collection. This field must contain the exact value: \"I acknowledge that I have the necessary privacy disclosures and rights from my end users for the collection and processing of their data, including the association of such data with the visitation information Google Analytics collects from my site and/or app property.\""
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaChangeHistoryEvent": {
      "description": "A set of changes within a Google Analytics account or its child properties that resulted from the same cause. Common causes would be updates made in the Google Analytics UI, changes from customer support, or automatic Google Analytics system changes.",
      "properties": {
        "id": {
          "type": "string",
          "description": "ID of this change history event. This ID is unique across Google Analytics."
        },
        "changesFiltered": {
          "description": "If true, then the list of changes returned was filtered, and does not represent all changes that occurred in this event.",
          "type": "boolean"
        },
        "actorType": {
          "description": "The type of actor that made this change.",
          "enumDescriptions": [
            "Unknown or unspecified actor type.",
            "Changes made by the user specified in actor_email.",
            "Changes made by the Google Analytics system.",
            "Changes made by Google Analytics support team staff."
          ],
          "enum": [
            "ACTOR_TYPE_UNSPECIFIED",
            "USER",
            "SYSTEM",
            "SUPPORT"
          ],
          "type": "string"
        },
        "userActorEmail": {
          "description": "Email address of the Google account that made the change. This will be a valid email address if the actor field is set to USER, and empty otherwise. Google accounts that have been deleted will cause an error.",
          "type": "string"
        },
        "changes": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaChangeHistoryChange"
          },
          "type": "array",
          "description": "A list of changes made in this change history event that fit the filters specified in SearchChangeHistoryEventsRequest."
        },
        "changeTime": {
          "description": "Time when change was made.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaChangeHistoryEvent",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterExpressionList": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterExpressionList",
      "description": "A list of Subproperty event filter expressions.",
      "properties": {
        "filterExpressions": {
          "description": "Required. Unordered list. A list of Subproperty event filter expressions",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterExpression"
          },
          "type": "array"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaListCustomMetricsResponse": {
      "description": "Response message for ListCustomMetrics RPC.",
      "properties": {
        "customMetrics": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaCustomMetric"
          },
          "description": "List of CustomMetrics."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaListCustomMetricsResponse"
    },
    "GoogleProtobufEmpty": {
      "type": "object",
      "id": "GoogleProtobufEmpty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "GoogleAnalyticsAdminV1alphaDataStream": {
      "properties": {
        "type": {
          "description": "Required. Immutable. The type of this DataStream resource.",
          "type": "string",
          "enumDescriptions": [
            "Type unknown or not specified.",
            "Web data stream.",
            "Android app data stream.",
            "iOS app data stream."
          ],
          "enum": [
            "DATA_STREAM_TYPE_UNSPECIFIED",
            "WEB_DATA_STREAM",
            "ANDROID_APP_DATA_STREAM",
            "IOS_APP_DATA_STREAM"
          ]
        },
        "createTime": {
          "description": "Output only. Time when this stream was originally created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Time when stream payload fields were last updated.",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. Resource name of this Data Stream. Format: properties/{property_id}/dataStreams/{stream_id} Example: \"properties/1000/dataStreams/2000\"",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Human-readable display name for the Data Stream. Required for web data streams. The max allowed display name length is 255 UTF-16 code units."
        },
        "iosAppStreamData": {
          "description": "Data specific to iOS app streams. Must be populated if type is IOS_APP_DATA_STREAM.",
          "$ref": "GoogleAnalyticsAdminV1alphaDataStreamIosAppStreamData"
        },
        "androidAppStreamData": {
          "description": "Data specific to Android app streams. Must be populated if type is ANDROID_APP_DATA_STREAM.",
          "$ref": "GoogleAnalyticsAdminV1alphaDataStreamAndroidAppStreamData"
        },
        "webStreamData": {
          "description": "Data specific to web streams. Must be populated if type is WEB_DATA_STREAM.",
          "$ref": "GoogleAnalyticsAdminV1alphaDataStreamWebStreamData"
        }
      },
      "type": "object",
      "description": "A resource message representing a data stream.",
      "id": "GoogleAnalyticsAdminV1alphaDataStream"
    },
    "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterNumericValue": {
      "type": "object",
      "description": "To represent a number.",
      "id": "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterNumericValue",
      "properties": {
        "int64Value": {
          "type": "string",
          "format": "int64",
          "description": "Integer value."
        },
        "doubleValue": {
          "description": "Double value.",
          "format": "double",
          "type": "number"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaAttributionSettings": {
      "description": "The attribution settings used for a given property. This is a singleton resource.",
      "type": "object",
      "properties": {
        "otherConversionEventLookbackWindow": {
          "enum": [
            "OTHER_CONVERSION_EVENT_LOOKBACK_WINDOW_UNSPECIFIED",
            "OTHER_CONVERSION_EVENT_LOOKBACK_WINDOW_30_DAYS",
            "OTHER_CONVERSION_EVENT_LOOKBACK_WINDOW_60_DAYS",
            "OTHER_CONVERSION_EVENT_LOOKBACK_WINDOW_90_DAYS"
          ],
          "enumDescriptions": [
            "Lookback window size unspecified.",
            "30-day lookback window.",
            "60-day lookback window.",
            "90-day lookback window."
          ],
          "type": "string",
          "description": "Required. The lookback window for all other, non-acquisition conversion events. The default window size is 90 days."
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Resource name of this attribution settings resource. Format: properties/{property_id}/attributionSettings Example: \"properties/1000/attributionSettings\"",
          "type": "string"
        },
        "acquisitionConversionEventLookbackWindow": {
          "enum": [
            "ACQUISITION_CONVERSION_EVENT_LOOKBACK_WINDOW_UNSPECIFIED",
            "ACQUISITION_CONVERSION_EVENT_LOOKBACK_WINDOW_7_DAYS",
            "ACQUISITION_CONVERSION_EVENT_LOOKBACK_WINDOW_30_DAYS"
          ],
          "description": "Required. The lookback window configuration for acquisition conversion events. The default window size is 30 days.",
          "type": "string",
          "enumDescriptions": [
            "Lookback window size unspecified.",
            "7-day lookback window.",
            "30-day lookback window."
          ]
        },
        "adsWebConversionDataExportScope": {
          "description": "Required. The Conversion Export Scope for data exported to linked Ads Accounts.",
          "enum": [
            "ADS_WEB_CONVERSION_DATA_EXPORT_SCOPE_UNSPECIFIED",
            "NOT_SELECTED_YET",
            "PAID_AND_ORGANIC_CHANNELS",
            "GOOGLE_PAID_CHANNELS"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "No data export scope selected yet. Export scope can never be changed back to this value.",
            "Paid and organic channels are eligible to receive conversion credit, but only credit assigned to Google Ads channels will appear in your Ads accounts. To learn more, see [Paid and Organic channels](https://support.google.com/analytics/answer/10632359).",
            "Only Google Ads paid channels are eligible to receive conversion credit. To learn more, see [Google Paid channels](https://support.google.com/analytics/answer/10632359)."
          ]
        },
        "reportingAttributionModel": {
          "enum": [
            "REPORTING_ATTRIBUTION_MODEL_UNSPECIFIED",
            "PAID_AND_ORGANIC_CHANNELS_DATA_DRIVEN",
            "PAID_AND_ORGANIC_CHANNELS_LAST_CLICK",
            "GOOGLE_PAID_CHANNELS_LAST_CLICK"
          ],
          "enumDescriptions": [
            "Reporting attribution model unspecified.",
            "Data-driven attribution distributes credit for the conversion based on data for each conversion event. Each Data-driven model is specific to each advertiser and each conversion event. Previously CROSS_CHANNEL_DATA_DRIVEN",
            "Ignores direct traffic and attributes 100% of the conversion value to the last channel that the customer clicked through (or engaged view through for YouTube) before converting. Previously CROSS_CHANNEL_LAST_CLICK",
            "Attributes 100% of the conversion value to the last Google Paid channel that the customer clicked through before converting. Previously ADS_PREFERRED_LAST_CLICK"
          ],
          "type": "string",
          "description": "Required. The reporting attribution model used to calculate conversion credit in this property's reports. Changing the attribution model will apply to both historical and future data. These changes will be reflected in reports with conversion and revenue data. User and session data will be unaffected."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaAttributionSettings"
    },
    "GoogleAnalyticsAdminV1alphaRunAccessReportResponse": {
      "properties": {
        "rowCount": {
          "format": "int32",
          "type": "integer",
          "description": "The total number of rows in the query result. `rowCount` is independent of the number of rows returned in the response, the `limit` request parameter, and the `offset` request parameter. For example if a query returns 175 rows and includes `limit` of 50 in the API request, the response will contain `rowCount` of 175 but only 50 rows. To learn more about this pagination parameter, see [Pagination](https://developers.google.com/analytics/devguides/reporting/data/v1/basics#pagination)."
        },
        "metricHeaders": {
          "description": "The header for a column in the report that corresponds to a specific metric. The number of MetricHeaders and ordering of MetricHeaders matches the metrics present in rows.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccessMetricHeader"
          },
          "type": "array"
        },
        "dimensionHeaders": {
          "description": "The header for a column in the report that corresponds to a specific dimension. The number of DimensionHeaders and ordering of DimensionHeaders matches the dimensions present in rows.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccessDimensionHeader"
          },
          "type": "array"
        },
        "quota": {
          "description": "The quota state for this Analytics property including this request. This field doesn't work with account-level requests.",
          "$ref": "GoogleAnalyticsAdminV1alphaAccessQuota"
        },
        "rows": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccessRow"
          },
          "description": "Rows of dimension value combinations and metric values in the report."
        }
      },
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaRunAccessReportResponse",
      "description": "The customized Data Access Record Report response."
    },
    "GoogleAnalyticsAdminV1alphaDataStreamIosAppStreamData": {
      "properties": {
        "bundleId": {
          "type": "string",
          "description": "Required. Immutable. The Apple App Store Bundle ID for the app Example: \"com.example.myiosapp\""
        },
        "firebaseAppId": {
          "type": "string",
          "description": "Output only. ID of the corresponding iOS app in Firebase, if any. This ID can change if the iOS app is deleted and recreated.",
          "readOnly": true
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaDataStreamIosAppStreamData",
      "type": "object",
      "description": "Data specific to iOS app streams."
    },
    "GoogleAnalyticsAdminV1alphaChannelGroup": {
      "properties": {
        "groupingRule": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaGroupingRule"
          },
          "description": "Required. The grouping rules of channels. Maximum number of rules is 50.",
          "type": "array"
        },
        "primary": {
          "type": "boolean",
          "description": "Optional. If true, this channel group will be used as the default channel group for reports. Only one channel group can be set as `primary` at any time. If the `primary` field gets set on a channel group, it will get unset on the previous primary channel group. The Google Analytics predefined channel group is the primary by default."
        },
        "displayName": {
          "description": "Required. The display name of the Channel Group. Max length of 80 characters.",
          "type": "string"
        },
        "systemDefined": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. If true, then this channel group is the Default Channel Group predefined by Google Analytics. Display name and grouping rules cannot be updated for this channel group."
        },
        "description": {
          "type": "string",
          "description": "The description of the Channel Group. Max length of 256 characters."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name for this Channel Group resource. Format: properties/{property}/channelGroups/{channel_group}"
        }
      },
      "type": "object",
      "description": "A resource message representing a Channel Group.",
      "id": "GoogleAnalyticsAdminV1alphaChannelGroup"
    },
    "GoogleAnalyticsAdminV1alphaGroupingRule": {
      "id": "GoogleAnalyticsAdminV1alphaGroupingRule",
      "properties": {
        "expression": {
          "$ref": "GoogleAnalyticsAdminV1alphaChannelGroupFilterExpression",
          "description": "Required. The Filter Expression that defines the Grouping Rule."
        },
        "displayName": {
          "description": "Required. Customer defined display name for the channel.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The rules that govern how traffic is grouped into one channel."
    },
    "GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLink": {
      "type": "object",
      "properties": {
        "advertiserDisplayName": {
          "type": "string",
          "description": "Output only. The display name of the Display & Video 360 Advertiser.",
          "readOnly": true
        },
        "adsPersonalizationEnabled": {
          "description": "Enables personalized advertising features with this integration. If this field is not set on create/update, it will be defaulted to true.",
          "type": "boolean"
        },
        "name": {
          "description": "Identifier. The resource name for this DisplayVideo360AdvertiserLink resource. Format: properties/{propertyId}/displayVideo360AdvertiserLinks/{linkId} Note: linkId is not the Display & Video 360 Advertiser ID",
          "type": "string"
        },
        "campaignDataSharingEnabled": {
          "type": "boolean",
          "description": "Immutable. Enables the import of campaign data from Display & Video 360 into the Google Analytics property. After link creation, this can only be updated from the Display & Video 360 product. If this field is not set on create, it will be defaulted to true."
        },
        "costDataSharingEnabled": {
          "description": "Immutable. Enables the import of cost data from Display & Video 360 into the Google Analytics property. This can only be enabled if `campaign_data_sharing_enabled` is true. After link creation, this can only be updated from the Display & Video 360 product. If this field is not set on create, it will be defaulted to true.",
          "type": "boolean"
        },
        "advertiserId": {
          "type": "string",
          "description": "Immutable. The Display & Video 360 Advertiser's advertiser ID."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLink",
      "description": "A link between a Google Analytics property and a Display & Video 360 advertiser."
    },
    "GoogleAnalyticsAdminV1alphaAudienceEventFilter": {
      "description": "A filter that matches events of a single event name. If an event parameter is specified, only the subset of events that match both the single event name and the parameter filter expressions match this event filter.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaAudienceEventFilter",
      "properties": {
        "eventName": {
          "type": "string",
          "description": "Required. Immutable. The name of the event to match against."
        },
        "eventParameterFilterExpression": {
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceFilterExpression",
          "description": "Optional. If specified, this filter matches events that match both the single event name and the parameter filter expressions. AudienceEventFilter inside the parameter filter expression cannot be set (For example, nested event filters are not supported). This should be a single and_group of dimension_or_metric_filter or not_expression; ANDs of ORs are not supported. Also, if it includes a filter for \"eventCount\", only that one will be considered; all the other filters will be ignored."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaAudienceSequenceFilter": {
      "description": "Defines filters that must occur in a specific order for the user to be a member of the Audience.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaAudienceSequenceFilter",
      "properties": {
        "sequenceSteps": {
          "type": "array",
          "description": "Required. An ordered sequence of steps. A user must complete each step in order to join the sequence filter.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAudienceSequenceFilterAudienceSequenceStep"
          }
        },
        "scope": {
          "type": "string",
          "enumDescriptions": [
            "Scope is not specified.",
            "User joins the Audience if the filter condition is met within one event.",
            "User joins the Audience if the filter condition is met within one session.",
            "User joins the Audience if the filter condition is met by any event across any session."
          ],
          "description": "Required. Immutable. Specifies the scope for this filter.",
          "enum": [
            "AUDIENCE_FILTER_SCOPE_UNSPECIFIED",
            "AUDIENCE_FILTER_SCOPE_WITHIN_SAME_EVENT",
            "AUDIENCE_FILTER_SCOPE_WITHIN_SAME_SESSION",
            "AUDIENCE_FILTER_SCOPE_ACROSS_ALL_SESSIONS"
          ]
        },
        "sequenceMaximumDuration": {
          "format": "google-duration",
          "description": "Optional. Defines the time period in which the whole sequence must occur.",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaAccessQuota": {
      "id": "GoogleAnalyticsAdminV1alphaAccessQuota",
      "description": "Current state of all quotas for this Analytics property. If any quota for a property is exhausted, all requests to that property will return Resource Exhausted errors.",
      "type": "object",
      "properties": {
        "tokensPerProjectPerHour": {
          "$ref": "GoogleAnalyticsAdminV1alphaAccessQuotaStatus",
          "description": "Properties can use up to 25% of their tokens per project per hour. This amounts to Analytics 360 Properties can use 12,500 tokens per project per hour. An API request consumes a single number of tokens, and that number is deducted from all of the hourly, daily, and per project hourly quotas."
        },
        "concurrentRequests": {
          "description": "Properties can use up to 50 concurrent requests.",
          "$ref": "GoogleAnalyticsAdminV1alphaAccessQuotaStatus"
        },
        "tokensPerDay": {
          "description": "Properties can use 250,000 tokens per day. Most requests consume fewer than 10 tokens.",
          "$ref": "GoogleAnalyticsAdminV1alphaAccessQuotaStatus"
        },
        "tokensPerHour": {
          "description": "Properties can use 50,000 tokens per hour. An API request consumes a single number of tokens, and that number is deducted from all of the hourly, daily, and per project hourly quotas.",
          "$ref": "GoogleAnalyticsAdminV1alphaAccessQuotaStatus"
        },
        "serverErrorsPerProjectPerHour": {
          "description": "Properties and cloud project pairs can have up to 50 server errors per hour.",
          "$ref": "GoogleAnalyticsAdminV1alphaAccessQuotaStatus"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaMeasurementProtocolSecret": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaMeasurementProtocolSecret",
      "description": "A secret value used for sending hits to Measurement Protocol.",
      "properties": {
        "displayName": {
          "description": "Required. Human-readable display name for this secret.",
          "type": "string"
        },
        "secretValue": {
          "description": "Output only. The measurement protocol secret value. Pass this value to the api_secret field of the Measurement Protocol API when sending hits to this secret's parent property.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. Resource name of this secret. This secret may be a child of any type of stream. Format: properties/{property}/dataStreams/{dataStream}/measurementProtocolSecrets/{measurementProtocolSecret}"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaDataStreamWebStreamData": {
      "type": "object",
      "properties": {
        "measurementId": {
          "type": "string",
          "description": "Output only. Analytics Measurement ID. Example: \"G-1A2BCD345E\"",
          "readOnly": true
        },
        "defaultUri": {
          "type": "string",
          "description": "Domain name of the web app being measured, or empty. Example: \"http://www.google.com\", \"https://www.google.com\""
        },
        "firebaseAppId": {
          "description": "Output only. ID of the corresponding web app in Firebase, if any. This ID can change if the web app is deleted and recreated.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Data specific to web streams.",
      "id": "GoogleAnalyticsAdminV1alphaDataStreamWebStreamData"
    },
    "GoogleAnalyticsAdminV1alphaEventCreateRule": {
      "properties": {
        "parameterMutations": {
          "type": "array",
          "description": "Parameter mutations define parameter behavior on the new event, and are applied in order. A maximum of 20 mutations can be applied.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaParameterMutation"
          }
        },
        "destinationEvent": {
          "description": "Required. The name of the new event to be created. This value must: * be less than 40 characters * consist only of letters, digits or _ (underscores) * start with a letter",
          "type": "string"
        },
        "sourceCopyParameters": {
          "description": "If true, the source parameters are copied to the new event. If false, or unset, all non-internal parameters are not copied from the source event. Parameter mutations are applied after the parameters have been copied.",
          "type": "boolean"
        },
        "name": {
          "description": "Output only. Resource name for this EventCreateRule resource. Format: properties/{property}/dataStreams/{data_stream}/eventCreateRules/{event_create_rule}",
          "readOnly": true,
          "type": "string"
        },
        "eventConditions": {
          "type": "array",
          "description": "Required. Must have at least one condition, and can have up to 10 max. Conditions on the source event must match for this rule to be applied.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaMatchingCondition"
          }
        }
      },
      "type": "object",
      "description": "An Event Create Rule defines conditions that will trigger the creation of an entirely new event based upon matched criteria of a source event. Additional mutations of the parameters from the source event can be defined. Unlike Event Edit rules, Event Creation Rules have no defined order. They will all be run independently. Event Edit and Event Create rules can't be used to modify an event created from an Event Create rule.",
      "id": "GoogleAnalyticsAdminV1alphaEventCreateRule"
    },
    "GoogleAnalyticsAdminV1alphaCustomMetric": {
      "description": "A definition for a custom metric.",
      "properties": {
        "displayName": {
          "description": "Required. Display name for this custom metric as shown in the Analytics UI. Max length of 82 characters, alphanumeric plus space and underscore starting with a letter. Legacy system-generated display names may contain square brackets, but updates to this field will never permit square brackets.",
          "type": "string"
        },
        "measurementUnit": {
          "type": "string",
          "enumDescriptions": [
            "MeasurementUnit unspecified or missing.",
            "This metric uses default units.",
            "This metric measures a currency.",
            "This metric measures feet.",
            "This metric measures meters.",
            "This metric measures kilometers.",
            "This metric measures miles.",
            "This metric measures milliseconds.",
            "This metric measures seconds.",
            "This metric measures minutes.",
            "This metric measures hours."
          ],
          "description": "Required. The type for the custom metric's value.",
          "enum": [
            "MEASUREMENT_UNIT_UNSPECIFIED",
            "STANDARD",
            "CURRENCY",
            "FEET",
            "METERS",
            "KILOMETERS",
            "MILES",
            "MILLISECONDS",
            "SECONDS",
            "MINUTES",
            "HOURS"
          ]
        },
        "parameterName": {
          "description": "Required. Immutable. Tagging name for this custom metric. If this is an event-scoped metric, then this is the event parameter name. May only contain alphanumeric and underscore charactes, starting with a letter. Max length of 40 characters for event-scoped metrics.",
          "type": "string"
        },
        "scope": {
          "description": "Required. Immutable. The scope of this custom metric.",
          "enum": [
            "METRIC_SCOPE_UNSPECIFIED",
            "EVENT"
          ],
          "type": "string",
          "enumDescriptions": [
            "Scope unknown or not specified.",
            "Metric scoped to an event."
          ]
        },
        "description": {
          "description": "Optional. Description for this custom dimension. Max length of 150 characters.",
          "type": "string"
        },
        "restrictedMetricType": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Type unknown or unspecified.",
              "Metric reports cost data.",
              "Metric reports revenue data."
            ],
            "enum": [
              "RESTRICTED_METRIC_TYPE_UNSPECIFIED",
              "COST_DATA",
              "REVENUE_DATA"
            ]
          },
          "description": "Optional. Types of restricted data that this metric may contain. Required for metrics with CURRENCY measurement unit. Must be empty for metrics with a non-CURRENCY measurement unit."
        },
        "name": {
          "type": "string",
          "description": "Identifier. Resource name for this CustomMetric resource. Format: properties/{property}/customMetrics/{customMetric}"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaCustomMetric",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaChangeHistoryChange": {
      "description": "A description of a change to a single Google Analytics resource.",
      "properties": {
        "resourceAfterChange": {
          "$ref": "GoogleAnalyticsAdminV1alphaChangeHistoryChangeChangeHistoryResource",
          "description": "Resource contents from after the change was made. If this resource was deleted in this change, this field will be missing."
        },
        "resource": {
          "description": "Resource name of the resource whose changes are described by this entry.",
          "type": "string"
        },
        "action": {
          "type": "string",
          "enumDescriptions": [
            "Action type unknown or not specified.",
            "Resource was created in this change.",
            "Resource was updated in this change.",
            "Resource was deleted in this change."
          ],
          "description": "The type of action that changed this resource.",
          "enum": [
            "ACTION_TYPE_UNSPECIFIED",
            "CREATED",
            "UPDATED",
            "DELETED"
          ]
        },
        "resourceBeforeChange": {
          "description": "Resource contents from before the change was made. If this resource was created in this change, this field will be missing.",
          "$ref": "GoogleAnalyticsAdminV1alphaChangeHistoryChangeChangeHistoryResource"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaChangeHistoryChange",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaAccessDimensionValue": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaAccessDimensionValue",
      "description": "The value of a dimension.",
      "properties": {
        "value": {
          "description": "The dimension value. For example, this value may be 'France' for the 'country' dimension.",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaAccessFilter": {
      "description": "An expression to filter dimension or metric values.",
      "type": "object",
      "properties": {
        "inListFilter": {
          "$ref": "GoogleAnalyticsAdminV1alphaAccessInListFilter",
          "description": "A filter for in list values."
        },
        "fieldName": {
          "description": "The dimension name or metric name.",
          "type": "string"
        },
        "numericFilter": {
          "description": "A filter for numeric or date values.",
          "$ref": "GoogleAnalyticsAdminV1alphaAccessNumericFilter"
        },
        "stringFilter": {
          "$ref": "GoogleAnalyticsAdminV1alphaAccessStringFilter",
          "description": "Strings related filter."
        },
        "betweenFilter": {
          "$ref": "GoogleAnalyticsAdminV1alphaAccessBetweenFilter",
          "description": "A filter for two values."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaAccessFilter"
    },
    "GoogleAnalyticsAdminV1alphaAccessQuotaStatus": {
      "properties": {
        "consumed": {
          "type": "integer",
          "description": "Quota consumed by this request.",
          "format": "int32"
        },
        "remaining": {
          "description": "Quota remaining after this request.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaAccessQuotaStatus",
      "type": "object",
      "description": "Current state for a particular quota group."
    },
    "GoogleAnalyticsAdminV1alphaAccessBetweenFilter": {
      "id": "GoogleAnalyticsAdminV1alphaAccessBetweenFilter",
      "type": "object",
      "properties": {
        "fromValue": {
          "$ref": "GoogleAnalyticsAdminV1alphaNumericValue",
          "description": "Begins with this number."
        },
        "toValue": {
          "description": "Ends with this number.",
          "$ref": "GoogleAnalyticsAdminV1alphaNumericValue"
        }
      },
      "description": "To express that the result needs to be between two numbers (inclusive)."
    },
    "GoogleAnalyticsAdminV1alphaUserProvidedDataSettings": {
      "properties": {
        "userProvidedDataCollectionEnabled": {
          "description": "Optional. Whether this property accepts user-provided data sent to it.",
          "type": "boolean"
        },
        "name": {
          "description": "Identifier. Resource name of this setting. Format: properties/{property}/userProvidedDataSettings Example: \"properties/1000/userProvidedDataSettings\"",
          "type": "string"
        },
        "automaticallyDetectedDataCollectionEnabled": {
          "type": "boolean",
          "description": "Optional. Whether this property allows a Google Tag to automatically collect user-provided data from your website. This setting only takes effect if `user_provided_data_collection_enabled` is also true."
        }
      },
      "description": "Configuration for user-provided data collection. This is a singleton resource for a Google Analytics property.",
      "id": "GoogleAnalyticsAdminV1alphaUserProvidedDataSettings",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaExpandedDataSetFilter": {
      "type": "object",
      "properties": {
        "inListFilter": {
          "$ref": "GoogleAnalyticsAdminV1alphaExpandedDataSetFilterInListFilter",
          "description": "A filter for a string dimension that matches a particular list of options."
        },
        "fieldName": {
          "type": "string",
          "description": "Required. The dimension name to filter."
        },
        "stringFilter": {
          "$ref": "GoogleAnalyticsAdminV1alphaExpandedDataSetFilterStringFilter",
          "description": "A filter for a string-type dimension that matches a particular pattern."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaExpandedDataSetFilter",
      "description": "A specific filter for a single dimension"
    },
    "GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLinkProposal": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The resource name for this DisplayVideo360AdvertiserLinkProposal resource. Format: properties/{propertyId}/displayVideo360AdvertiserLinkProposals/{proposalId} Note: proposalId is not the Display & Video 360 Advertiser ID"
        },
        "adsPersonalizationEnabled": {
          "description": "Immutable. Enables personalized advertising features with this integration. If this field is not set on create, it will be defaulted to true.",
          "type": "boolean"
        },
        "validationEmail": {
          "type": "string",
          "description": "Input only. On a proposal being sent to Display & Video 360, this field must be set to the email address of an admin on the target advertiser. This is used to verify that the Google Analytics admin is aware of at least one admin on the Display & Video 360 Advertiser. This does not restrict approval of the proposal to a single user. Any admin on the Display & Video 360 Advertiser may approve the proposal."
        },
        "campaignDataSharingEnabled": {
          "description": "Immutable. Enables the import of campaign data from Display & Video 360. If this field is not set on create, it will be defaulted to true.",
          "type": "boolean"
        },
        "advertiserId": {
          "type": "string",
          "description": "Immutable. The Display & Video 360 Advertiser's advertiser ID."
        },
        "costDataSharingEnabled": {
          "description": "Immutable. Enables the import of cost data from Display & Video 360. This can only be enabled if campaign_data_sharing_enabled is enabled. If this field is not set on create, it will be defaulted to true.",
          "type": "boolean"
        },
        "linkProposalStatusDetails": {
          "readOnly": true,
          "description": "Output only. The status information for this link proposal.",
          "$ref": "GoogleAnalyticsAdminV1alphaLinkProposalStatusDetails"
        },
        "advertiserDisplayName": {
          "type": "string",
          "description": "Output only. The display name of the Display & Video Advertiser. Only populated for proposals that originated from Display & Video 360.",
          "readOnly": true
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLinkProposal",
      "type": "object",
      "description": "A proposal for a link between a Google Analytics property and a Display & Video 360 advertiser. A proposal is converted to a DisplayVideo360AdvertiserLink once approved. Google Analytics admins approve inbound proposals while Display & Video 360 admins approve outbound proposals."
    },
    "GoogleAnalyticsAdminV1alphaDataRedactionSettings": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaDataRedactionSettings",
      "properties": {
        "queryParameterRedactionEnabled": {
          "description": "Query Parameter redaction removes the key and value portions of a query parameter if it is in the configured set of query parameters. If enabled, URL query replacement logic will be run for the Stream. Any query parameters defined in query_parameter_keys will be redacted.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of this Data Redaction Settings resource. Format: properties/{property_id}/dataStreams/{data_stream}/dataRedactionSettings Example: \"properties/1000/dataStreams/2000/dataRedactionSettings\""
        },
        "emailRedactionEnabled": {
          "type": "boolean",
          "description": "If enabled, any event parameter or user property values that look like an email will be redacted."
        },
        "queryParameterKeys": {
          "items": {
            "type": "string"
          },
          "description": "The query parameter keys to apply redaction logic to if present in the URL. Query parameter matching is case-insensitive. Must contain at least one element if query_parameter_replacement_enabled is true. Keys cannot contain commas.",
          "type": "array"
        }
      },
      "description": "Settings for client-side data redaction. Singleton resource under a Web Stream."
    },
    "GoogleAnalyticsAdminV1alphaConversionEvent": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaConversionEvent",
      "description": "A conversion event in a Google Analytics property.",
      "properties": {
        "defaultConversionValue": {
          "description": "Optional. Defines a default value/currency for a conversion event.",
          "$ref": "GoogleAnalyticsAdminV1alphaConversionEventDefaultConversionValue"
        },
        "countingMethod": {
          "type": "string",
          "description": "Optional. The method by which conversions will be counted across multiple events within a session. If this value is not provided, it will be set to `ONCE_PER_EVENT`.",
          "enumDescriptions": [
            "Counting method not specified.",
            "Each Event instance is considered a Conversion.",
            "An Event instance is considered a Conversion at most once per session per user."
          ],
          "enum": [
            "CONVERSION_COUNTING_METHOD_UNSPECIFIED",
            "ONCE_PER_EVENT",
            "ONCE_PER_SESSION"
          ]
        },
        "createTime": {
          "description": "Output only. Time when this conversion event was created in the property.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "deletable": {
          "readOnly": true,
          "description": "Output only. If set, this event can currently be deleted with DeleteConversionEvent.",
          "type": "boolean"
        },
        "custom": {
          "type": "boolean",
          "description": "Output only. If set to true, this conversion event refers to a custom event. If set to false, this conversion event refers to a default event in GA. Default events typically have special meaning in GA. Default events are usually created for you by the GA system, but in some cases can be created by property admins. Custom events count towards the maximum number of custom conversion events that may be created per property.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. Resource name of this conversion event. Format: properties/{property}/conversionEvents/{conversion_event}"
        },
        "eventName": {
          "type": "string",
          "description": "Immutable. The event name for this conversion event. Examples: 'click', 'purchase'"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaCreateRollupPropertyRequest": {
      "description": "Request message for CreateRollupProperty RPC.",
      "properties": {
        "rollupProperty": {
          "$ref": "GoogleAnalyticsAdminV1alphaProperty",
          "description": "Required. The roll-up property to create."
        },
        "sourceProperties": {
          "description": "Optional. The resource names of properties that will be sources to the created roll-up property.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaCreateRollupPropertyRequest"
    },
    "GoogleAnalyticsAdminV1alphaCreateRollupPropertyResponse": {
      "id": "GoogleAnalyticsAdminV1alphaCreateRollupPropertyResponse",
      "properties": {
        "rollupProperty": {
          "description": "The created roll-up property.",
          "$ref": "GoogleAnalyticsAdminV1alphaProperty"
        },
        "rollupPropertySourceLinks": {
          "type": "array",
          "description": "The created roll-up property source links.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaRollupPropertySourceLink"
          }
        }
      },
      "description": "Response message for CreateRollupProperty RPC.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaSearchAds360Link": {
      "type": "object",
      "properties": {
        "campaignDataSharingEnabled": {
          "type": "boolean",
          "description": "Immutable. Enables the import of campaign data from Search Ads 360 into the Google Analytics property. After link creation, this can only be updated from the Search Ads 360 product. If this field is not set on create, it will be defaulted to true."
        },
        "siteStatsSharingEnabled": {
          "description": "Enables export of site stats with this integration. If this field is not set on create, it will be defaulted to true.",
          "type": "boolean"
        },
        "adsPersonalizationEnabled": {
          "type": "boolean",
          "description": "Enables personalized advertising features with this integration. If this field is not set on create, it will be defaulted to true."
        },
        "advertiserId": {
          "description": "Immutable. This field represents the Advertiser ID of the Search Ads 360 Advertiser. that has been linked.",
          "type": "string"
        },
        "costDataSharingEnabled": {
          "type": "boolean",
          "description": "Immutable. Enables the import of cost data from Search Ads 360 to the Google Analytics property. This can only be enabled if campaign_data_sharing_enabled is enabled. After link creation, this can only be updated from the Search Ads 360 product. If this field is not set on create, it will be defaulted to true."
        },
        "advertiserDisplayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The display name of the Search Ads 360 Advertiser. Allows users to easily identify the linked resource."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name for this SearchAds360Link resource. Format: properties/{propertyId}/searchAds360Links/{linkId} Note: linkId is not the Search Ads 360 advertiser ID"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaSearchAds360Link",
      "description": "A link between a Google Analytics property and a Search Ads 360 entity."
    },
    "GoogleAnalyticsAdminV1alphaConversionEventDefaultConversionValue": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaConversionEventDefaultConversionValue",
      "description": "Defines a default value/currency for a conversion event. Both value and currency must be provided.",
      "properties": {
        "currencyCode": {
          "description": "When a conversion event for this event_name has no set currency, this currency will be applied as the default. Must be in ISO 4217 currency code format. See https://en.wikipedia.org/wiki/ISO_4217 for more information.",
          "type": "string"
        },
        "value": {
          "format": "double",
          "type": "number",
          "description": "This value will be used to populate the value for all conversions of the specified event_name where the event \"value\" parameter is unset."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaBigQueryLink": {
      "id": "GoogleAnalyticsAdminV1alphaBigQueryLink",
      "description": "A link between a Google Analytics property and BigQuery project.",
      "type": "object",
      "properties": {
        "exportStreams": {
          "description": "The list of streams under the parent property for which data will be exported. Format: properties/{property_id}/dataStreams/{stream_id} Example: ['properties/1000/dataStreams/2000']",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "project": {
          "description": "Immutable. The linked Google Cloud project. When creating a BigQueryLink, you may provide this resource name using either a project number or project ID. Once this resource has been created, the returned project will always have a project that contains a project number. Format: 'projects/{project number}' Example: 'projects/1234'",
          "type": "string"
        },
        "name": {
          "description": "Output only. Resource name of this BigQuery link. Format: 'properties/{property_id}/bigQueryLinks/{bigquery_link_id}' Format: 'properties/1234/bigQueryLinks/abc567'",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Time when the link was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "streamingExportEnabled": {
          "description": "If set true, enables streaming export to the linked Google Cloud project.",
          "type": "boolean"
        },
        "datasetLocation": {
          "description": "Required. Immutable. The geographic location where the created BigQuery dataset should reside. See https://cloud.google.com/bigquery/docs/locations for supported locations.",
          "type": "string"
        },
        "excludedEvents": {
          "items": {
            "type": "string"
          },
          "description": "The list of event names that will be excluded from exports.",
          "type": "array"
        },
        "dailyExportEnabled": {
          "description": "If set true, enables daily data export to the linked Google Cloud project.",
          "type": "boolean"
        },
        "freshDailyExportEnabled": {
          "type": "boolean",
          "description": "If set true, enables fresh daily export to the linked Google Cloud project."
        },
        "includeAdvertisingId": {
          "description": "If set true, exported data will include advertising identifiers for mobile app streams.",
          "type": "boolean"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaListFirebaseLinksResponse": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaListFirebaseLinksResponse",
      "description": "Response message for ListFirebaseLinks RPC",
      "properties": {
        "firebaseLinks": {
          "description": "List of FirebaseLinks. This will have at most one value.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaFirebaseLink"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages. Currently, Google Analytics supports only one FirebaseLink per property, so this will never be populated.",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaListSKAdNetworkConversionValueSchemasResponse": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaListSKAdNetworkConversionValueSchemasResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages. Currently, Google Analytics supports only one SKAdNetworkConversionValueSchema per dataStream, so this will never be populated.",
          "type": "string"
        },
        "skadnetworkConversionValueSchemas": {
          "description": "List of SKAdNetworkConversionValueSchemas. This will have at most one value.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaSKAdNetworkConversionValueSchema"
          },
          "type": "array"
        }
      },
      "description": "Response message for ListSKAdNetworkConversionValueSchemas RPC"
    },
    "GoogleAnalyticsAdminV1alphaParameterMutation": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaParameterMutation",
      "properties": {
        "parameterValue": {
          "description": "Required. The value mutation to perform. * Must be less than 100 characters. * To specify a constant value for the param, use the value's string. * To copy value from another parameter, use syntax like \"[[other_parameter]]\" For more details, see this [help center article](https://support.google.com/analytics/answer/10085872#modify-an-event&zippy=%2Cin-this-article%2Cmodify-parameters).",
          "type": "string"
        },
        "parameter": {
          "type": "string",
          "description": "Required. The name of the parameter to mutate. This value must: * be less than 40 characters. * be unique across across all mutations within the rule * consist only of letters, digits or _ (underscores) For event edit rules, the name may also be set to 'event_name' to modify the event_name in place."
        }
      },
      "description": "Defines an event parameter to mutate."
    },
    "GoogleAnalyticsAdminV1alphaAcknowledgeUserDataCollectionResponse": {
      "id": "GoogleAnalyticsAdminV1alphaAcknowledgeUserDataCollectionResponse",
      "type": "object",
      "properties": {},
      "description": "Response message for AcknowledgeUserDataCollection RPC."
    },
    "GoogleAnalyticsAdminV1alphaExpandedDataSet": {
      "description": "A resource message representing an `ExpandedDataSet`.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaExpandedDataSet",
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name for this ExpandedDataSet resource. Format: properties/{property_id}/expandedDataSets/{expanded_data_set}"
        },
        "displayName": {
          "type": "string",
          "description": "Required. The display name of the ExpandedDataSet. Max 200 chars."
        },
        "description": {
          "description": "Optional. The description of the ExpandedDataSet. Max 50 chars.",
          "type": "string"
        },
        "metricNames": {
          "description": "Immutable. The list of metrics included in the ExpandedDataSet. See the [API Metrics](https://developers.google.com/analytics/devguides/reporting/data/v1/api-schema#metrics) for the list of dimension names.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "dimensionNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Immutable. The list of dimensions included in the ExpandedDataSet. See the [API Dimensions](https://developers.google.com/analytics/devguides/reporting/data/v1/api-schema#dimensions) for the list of dimension names."
        },
        "dimensionFilterExpression": {
          "description": "Immutable. A logical expression of ExpandedDataSet filters applied to dimension included in the ExpandedDataSet. This filter is used to reduce the number of rows and thus the chance of encountering `other` row.",
          "$ref": "GoogleAnalyticsAdminV1alphaExpandedDataSetFilterExpression"
        },
        "dataCollectionStartTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time when expanded data set began (or will begin) collecing data.",
          "readOnly": true
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaAccessNumericFilter": {
      "description": "Filters for numeric or date values.",
      "type": "object",
      "properties": {
        "operation": {
          "enumDescriptions": [
            "Unspecified.",
            "Equal",
            "Less than",
            "Less than or equal",
            "Greater than",
            "Greater than or equal"
          ],
          "type": "string",
          "enum": [
            "OPERATION_UNSPECIFIED",
            "EQUAL",
            "LESS_THAN",
            "LESS_THAN_OR_EQUAL",
            "GREATER_THAN",
            "GREATER_THAN_OR_EQUAL"
          ],
          "description": "The operation type for this filter."
        },
        "value": {
          "description": "A numeric value or a date value.",
          "$ref": "GoogleAnalyticsAdminV1alphaNumericValue"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaAccessNumericFilter"
    },
    "GoogleAnalyticsAdminV1alphaDataStreamAndroidAppStreamData": {
      "properties": {
        "firebaseAppId": {
          "type": "string",
          "description": "Output only. ID of the corresponding Android app in Firebase, if any. This ID can change if the Android app is deleted and recreated.",
          "readOnly": true
        },
        "packageName": {
          "description": "Immutable. The package name for the app being measured. Example: \"com.example.myandroidapp\"",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaDataStreamAndroidAppStreamData",
      "description": "Data specific to Android app streams.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaAudienceSimpleFilter": {
      "properties": {
        "scope": {
          "enum": [
            "AUDIENCE_FILTER_SCOPE_UNSPECIFIED",
            "AUDIENCE_FILTER_SCOPE_WITHIN_SAME_EVENT",
            "AUDIENCE_FILTER_SCOPE_WITHIN_SAME_SESSION",
            "AUDIENCE_FILTER_SCOPE_ACROSS_ALL_SESSIONS"
          ],
          "type": "string",
          "description": "Required. Immutable. Specifies the scope for this filter.",
          "enumDescriptions": [
            "Scope is not specified.",
            "User joins the Audience if the filter condition is met within one event.",
            "User joins the Audience if the filter condition is met within one session.",
            "User joins the Audience if the filter condition is met by any event across any session."
          ]
        },
        "filterExpression": {
          "description": "Required. Immutable. A logical expression of Audience dimension, metric, or event filters.",
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceFilterExpression"
        }
      },
      "type": "object",
      "description": "Defines a simple filter that a user must satisfy to be a member of the Audience.",
      "id": "GoogleAnalyticsAdminV1alphaAudienceSimpleFilter"
    },
    "GoogleAnalyticsAdminV1alphaDataSharingSettings": {
      "type": "object",
      "properties": {
        "sharingWithOthersEnabled": {
          "type": "boolean",
          "description": "Enable features like predictions, modeled data, and benchmarking that can provide you with richer business insights when you contribute aggregated measurement data. The data you share (including information about the property from which it is shared) is aggregated and de-identified before being used to generate business insights. This field maps to the \"Modeling contributions & business insights\" field in the Google Analytics Admin UI."
        },
        "name": {
          "description": "Identifier. Resource name. Format: accounts/{account}/dataSharingSettings Example: \"accounts/1000/dataSharingSettings\"",
          "type": "string"
        },
        "sharingWithGoogleAnySalesEnabled": {
          "description": "Deprecated. This field is no longer used and always returns false.",
          "deprecated": true,
          "type": "boolean"
        },
        "sharingWithGoogleSupportEnabled": {
          "type": "boolean",
          "description": "Allows Google technical support representatives access to your Google Analytics data and account when necessary to provide service and find solutions to technical issues. This field maps to the \"Technical support\" field in the Google Analytics Admin UI."
        },
        "sharingWithGoogleProductsEnabled": {
          "description": "Allows Google to use the data to improve other Google products or services. This fields maps to the \"Google products & services\" field in the Google Analytics Admin UI.",
          "type": "boolean"
        },
        "sharingWithGoogleAssignedSalesEnabled": {
          "type": "boolean",
          "description": "Allows Google access to your Google Analytics account data, including account usage and configuration data, product spending, and users associated with your Google Analytics account, so that Google can help you make the most of Google products, providing you with insights, offers, recommendations, and optimization tips across Google Analytics and other Google products for business. This field maps to the \"Recommendations for your business\" field in the Google Analytics Admin UI."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaDataSharingSettings",
      "description": "A resource message representing data sharing settings of a Google Analytics account."
    },
    "GoogleAnalyticsAdminV1alphaCalculatedMetric": {
      "description": "A definition for a calculated metric.",
      "id": "GoogleAnalyticsAdminV1alphaCalculatedMetric",
      "type": "object",
      "properties": {
        "description": {
          "description": "Optional. Description for this calculated metric. Max length of 4096 characters.",
          "type": "string"
        },
        "restrictedMetricType": {
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Type unknown or unspecified.",
              "Metric reports cost data.",
              "Metric reports revenue data."
            ],
            "enum": [
              "RESTRICTED_METRIC_TYPE_UNSPECIFIED",
              "COST_DATA",
              "REVENUE_DATA"
            ]
          },
          "description": "Output only. Types of restricted data that this metric contains."
        },
        "formula": {
          "type": "string",
          "description": "Required. The calculated metric's definition. Maximum number of unique referenced custom metrics is 5. Formulas supports the following operations: + (addition), - (subtraction), - (negative), * (multiplication), / (division), () (parenthesis). Any valid real numbers are acceptable that fit in a Long (64bit integer) or a Double (64 bit floating point number). Example formula: \"( customEvent:parameter_name + cartPurchaseQuantity ) / 2.0\""
        },
        "metricUnit": {
          "description": "Required. The type for the calculated metric's value.",
          "enum": [
            "METRIC_UNIT_UNSPECIFIED",
            "STANDARD",
            "CURRENCY",
            "FEET",
            "MILES",
            "METERS",
            "KILOMETERS",
            "MILLISECONDS",
            "SECONDS",
            "MINUTES",
            "HOURS"
          ],
          "enumDescriptions": [
            "MetricUnit unspecified or missing.",
            "This metric uses default units.",
            "This metric measures a currency.",
            "This metric measures feet.",
            "This metric measures miles.",
            "This metric measures meters.",
            "This metric measures kilometers.",
            "This metric measures milliseconds.",
            "This metric measures seconds.",
            "This metric measures minutes.",
            "This metric measures hours."
          ],
          "type": "string"
        },
        "calculatedMetricId": {
          "readOnly": true,
          "description": "Output only. The ID to use for the calculated metric. In the UI, this is referred to as the \"API name.\" The calculated_metric_id is used when referencing this calculated metric from external APIs. For example, \"calcMetric:{calculated_metric_id}\".",
          "type": "string"
        },
        "name": {
          "description": "Identifier. Resource name for this CalculatedMetric. Format: 'properties/{property_id}/calculatedMetrics/{calculated_metric_id}'",
          "type": "string"
        },
        "invalidMetricReference": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. If true, this calculated metric has a invalid metric reference. Anything using a calculated metric with invalid_metric_reference set to true may fail, produce warnings, or produce unexpected results."
        },
        "displayName": {
          "description": "Required. Display name for this calculated metric as shown in the Google Analytics UI. Max length 82 characters.",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaAccessFilterExpression": {
      "properties": {
        "notExpression": {
          "description": "The FilterExpression is NOT of not_expression.",
          "$ref": "GoogleAnalyticsAdminV1alphaAccessFilterExpression"
        },
        "andGroup": {
          "description": "Each of the FilterExpressions in the and_group has an AND relationship.",
          "$ref": "GoogleAnalyticsAdminV1alphaAccessFilterExpressionList"
        },
        "orGroup": {
          "$ref": "GoogleAnalyticsAdminV1alphaAccessFilterExpressionList",
          "description": "Each of the FilterExpressions in the or_group has an OR relationship."
        },
        "accessFilter": {
          "$ref": "GoogleAnalyticsAdminV1alphaAccessFilter",
          "description": "A primitive filter. In the same FilterExpression, all of the filter's field names need to be either all dimensions or all metrics."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaAccessFilterExpression",
      "type": "object",
      "description": "Expresses dimension or metric filters. The fields in the same expression need to be either all dimensions or all metrics."
    },
    "GoogleAnalyticsAdminV1alphaDataRetentionSettings": {
      "id": "GoogleAnalyticsAdminV1alphaDataRetentionSettings",
      "properties": {
        "resetUserDataOnNewActivity": {
          "type": "boolean",
          "description": "If true, reset the retention period for the user identifier with every event from that user."
        },
        "userDataRetention": {
          "enumDescriptions": [
            "Data retention time duration is not specified.",
            "The data retention time duration is 2 months.",
            "The data retention time duration is 14 months.",
            "The data retention time duration is 26 months. Available to 360 properties only. Available for event data only.",
            "The data retention time duration is 38 months. Available to 360 properties only. Available for event data only.",
            "The data retention time duration is 50 months. Available to 360 properties only. Available for event data only."
          ],
          "type": "string",
          "enum": [
            "RETENTION_DURATION_UNSPECIFIED",
            "TWO_MONTHS",
            "FOURTEEN_MONTHS",
            "TWENTY_SIX_MONTHS",
            "THIRTY_EIGHT_MONTHS",
            "FIFTY_MONTHS"
          ],
          "description": "Required. The length of time that user-level data is retained."
        },
        "eventDataRetention": {
          "type": "string",
          "enumDescriptions": [
            "Data retention time duration is not specified.",
            "The data retention time duration is 2 months.",
            "The data retention time duration is 14 months.",
            "The data retention time duration is 26 months. Available to 360 properties only. Available for event data only.",
            "The data retention time duration is 38 months. Available to 360 properties only. Available for event data only.",
            "The data retention time duration is 50 months. Available to 360 properties only. Available for event data only."
          ],
          "description": "Required. The length of time that event-level data is retained.",
          "enum": [
            "RETENTION_DURATION_UNSPECIFIED",
            "TWO_MONTHS",
            "FOURTEEN_MONTHS",
            "TWENTY_SIX_MONTHS",
            "THIRTY_EIGHT_MONTHS",
            "FIFTY_MONTHS"
          ]
        },
        "name": {
          "description": "Identifier. Resource name for this DataRetentionSetting resource. Format: properties/{property}/dataRetentionSettings",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Settings values for data retention. This is a singleton resource."
    },
    "GoogleAnalyticsAdminV1alphaAccessOrderByMetricOrderBy": {
      "id": "GoogleAnalyticsAdminV1alphaAccessOrderByMetricOrderBy",
      "description": "Sorts by metric values.",
      "type": "object",
      "properties": {
        "metricName": {
          "type": "string",
          "description": "A metric name in the request to order by."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaApproveDisplayVideo360AdvertiserLinkProposalRequest": {
      "type": "object",
      "properties": {},
      "description": "Request message for ApproveDisplayVideo360AdvertiserLinkProposal RPC.",
      "id": "GoogleAnalyticsAdminV1alphaApproveDisplayVideo360AdvertiserLinkProposalRequest"
    },
    "GoogleAnalyticsAdminV1alphaSearchChangeHistoryEventsResponse": {
      "description": "Response message for SearchAccounts RPC.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "changeHistoryEvents": {
          "description": "Results that were accessible to the caller.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaChangeHistoryEvent"
          },
          "type": "array"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaSearchChangeHistoryEventsResponse"
    },
    "GoogleAnalyticsAdminV1alphaAudienceFilterExpression": {
      "properties": {
        "notExpression": {
          "description": "A filter expression to be NOT'ed (For example, inverted, complemented). It can only include a dimension_or_metric_filter. This cannot be set on the top level AudienceFilterExpression.",
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceFilterExpression"
        },
        "orGroup": {
          "description": "A list of expressions to OR’ed together. It cannot contain AudienceFilterExpressions with and_group or or_group.",
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceFilterExpressionList"
        },
        "eventFilter": {
          "description": "Creates a filter that matches a specific event. This cannot be set on the top level AudienceFilterExpression.",
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceEventFilter"
        },
        "andGroup": {
          "description": "A list of expressions to be AND’ed together. It can only contain AudienceFilterExpressions with or_group. This must be set for the top level AudienceFilterExpression.",
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceFilterExpressionList"
        },
        "dimensionOrMetricFilter": {
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilter",
          "description": "A filter on a single dimension or metric. This cannot be set on the top level AudienceFilterExpression."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaAudienceFilterExpression",
      "type": "object",
      "description": "A logical expression of Audience dimension, metric, or event filters."
    },
    "GoogleAnalyticsAdminV1alphaAdSenseLink": {
      "type": "object",
      "properties": {
        "adClientCode": {
          "description": "Immutable. The AdSense ad client code that the Google Analytics property is linked to. Example format: \"ca-pub-1234567890\"",
          "type": "string"
        },
        "name": {
          "description": "Output only. The resource name for this AdSense Link resource. Format: properties/{propertyId}/adSenseLinks/{linkId} Example: properties/1234/adSenseLinks/6789",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "A link between a Google Analytics property and an AdSense for Content ad client.",
      "id": "GoogleAnalyticsAdminV1alphaAdSenseLink"
    },
    "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterInListFilter": {
      "id": "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterInListFilter",
      "type": "object",
      "properties": {
        "caseSensitive": {
          "description": "Optional. If true, the match is case-sensitive. If false, the match is case-insensitive.",
          "type": "boolean"
        },
        "values": {
          "items": {
            "type": "string"
          },
          "description": "Required. The list of possible string values to match against. Must be non-empty.",
          "type": "array"
        }
      },
      "description": "A filter for a string dimension that matches a particular list of options."
    },
    "GoogleAnalyticsAdminV1alphaGlobalSiteTag": {
      "id": "GoogleAnalyticsAdminV1alphaGlobalSiteTag",
      "type": "object",
      "properties": {
        "snippet": {
          "type": "string",
          "description": "Immutable. JavaScript code snippet to be pasted as the first item into the head tag of every webpage to measure."
        },
        "name": {
          "type": "string",
          "description": "Identifier. Resource name for this GlobalSiteTag resource. Format: properties/{property_id}/dataStreams/{stream_id}/globalSiteTag Example: \"properties/123/dataStreams/456/globalSiteTag\""
        }
      },
      "description": "Read-only resource with the tag for sending data from a website to a DataStream. Only present for web DataStream resources."
    },
    "GoogleAnalyticsAdminV1alphaArchiveCustomDimensionRequest": {
      "description": "Request message for ArchiveCustomDimension RPC.",
      "id": "GoogleAnalyticsAdminV1alphaArchiveCustomDimensionRequest",
      "properties": {},
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaListSubpropertySyncConfigsResponse": {
      "properties": {
        "subpropertySyncConfigs": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaSubpropertySyncConfig"
          },
          "type": "array",
          "description": "List of `SubpropertySyncConfig` resources."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaListSubpropertySyncConfigsResponse",
      "description": "Response message for ListSubpropertySyncConfigs RPC."
    },
    "GoogleAnalyticsAdminV1alphaProvisionSubpropertyResponse": {
      "id": "GoogleAnalyticsAdminV1alphaProvisionSubpropertyResponse",
      "description": "Response message for ProvisionSubproperty RPC.",
      "properties": {
        "subproperty": {
          "$ref": "GoogleAnalyticsAdminV1alphaProperty",
          "description": "The created subproperty."
        },
        "subpropertyEventFilter": {
          "$ref": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilter",
          "description": "The created subproperty event filter."
        }
      },
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaListCalculatedMetricsResponse": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaListCalculatedMetricsResponse",
      "properties": {
        "calculatedMetrics": {
          "description": "List of CalculatedMetrics.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaCalculatedMetric"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "description": "Response message for ListCalculatedMetrics RPC."
    },
    "GoogleAnalyticsAdminV1alphaReportingIdentitySettings": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaReportingIdentitySettings",
      "properties": {
        "name": {
          "readOnly": true,
          "description": "Output only. Identifier. Resource name for this reporting identity settings singleton resource. Format: properties/{property_id}/reportingIdentitySettings Example: \"properties/1234/reportingIdentitySettings\"",
          "type": "string"
        },
        "reportingIdentity": {
          "type": "string",
          "enum": [
            "IDENTITY_BLENDING_STRATEGY_UNSPECIFIED",
            "BLENDED",
            "OBSERVED",
            "DEVICE_BASED"
          ],
          "description": "The strategy used for identifying user identities in reports.",
          "enumDescriptions": [
            "Unspecified blending strategy.",
            "Blended reporting identity strategy.",
            "Observed reporting identity strategy.",
            "Device-based reporting identity strategy."
          ]
        }
      },
      "description": "A resource containing settings related to reporting identity."
    },
    "GoogleAnalyticsAdminV1alphaAccessInListFilter": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaAccessInListFilter",
      "properties": {
        "values": {
          "description": "The list of string values. Must be non-empty.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "caseSensitive": {
          "type": "boolean",
          "description": "If true, the string value is case sensitive."
        }
      },
      "description": "The result needs to be in a list of string values."
    },
    "GoogleAnalyticsAdminV1alphaGoogleSignalsSettings": {
      "description": "Settings values for Google Signals. This is a singleton resource.",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Resource name of this setting. Format: properties/{property_id}/googleSignalsSettings Example: \"properties/1000/googleSignalsSettings\""
        },
        "consent": {
          "enum": [
            "GOOGLE_SIGNALS_CONSENT_UNSPECIFIED",
            "GOOGLE_SIGNALS_CONSENT_CONSENTED",
            "GOOGLE_SIGNALS_CONSENT_NOT_CONSENTED"
          ],
          "description": "Output only. Terms of Service acceptance.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Google Signals consent value defaults to GOOGLE_SIGNALS_CONSENT_UNSPECIFIED. This will be treated as GOOGLE_SIGNALS_CONSENT_NOT_CONSENTED.",
            "Terms of service have been accepted",
            "Terms of service have not been accepted"
          ]
        },
        "state": {
          "description": "Status of this setting.",
          "enum": [
            "GOOGLE_SIGNALS_STATE_UNSPECIFIED",
            "GOOGLE_SIGNALS_ENABLED",
            "GOOGLE_SIGNALS_DISABLED"
          ],
          "enumDescriptions": [
            "Google Signals status defaults to GOOGLE_SIGNALS_STATE_UNSPECIFIED to represent that the user has not made an explicit choice.",
            "Google Signals is enabled.",
            "Google Signals is disabled."
          ],
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaGoogleSignalsSettings",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaAudienceFilterExpressionList": {
      "description": "A list of Audience filter expressions.",
      "id": "GoogleAnalyticsAdminV1alphaAudienceFilterExpressionList",
      "type": "object",
      "properties": {
        "filterExpressions": {
          "description": "A list of Audience filter expressions.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAudienceFilterExpression"
          },
          "type": "array"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaListEventCreateRulesResponse": {
      "description": "Response message for ListEventCreateRules RPC.",
      "properties": {
        "eventCreateRules": {
          "description": "List of EventCreateRules. These will be ordered stably, but in an arbitrary order.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaEventCreateRule"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaListEventCreateRulesResponse"
    },
    "GoogleAnalyticsAdminV1alphaGoogleAdsLink": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaGoogleAdsLink",
      "properties": {
        "canManageClients": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. If true, this link is for a Google Ads manager account."
        },
        "creatorEmailAddress": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Email address of the user that created the link. An empty string will be returned if the email address can't be retrieved."
        },
        "customerId": {
          "type": "string",
          "description": "Immutable. Google Ads customer ID."
        },
        "adsPersonalizationEnabled": {
[...]
