{
  "fullyEncodeReservedExpansion": true,
  "revision": "20260812",
  "name": "analyticsadmin",
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerName": "Google",
  "title": "Google Analytics Admin API",
  "mtlsRootUrl": "https://analyticsadmin.mtls.googleapis.com/",
  "kind": "discovery#restDescription",
  "parameters": {
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "alt": {
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/analytics.manage.users.readonly": {
          "description": "View Google Analytics user permissions"
        },
        "https://www.googleapis.com/auth/analytics.edit": {
          "description": "Edit Google Analytics management entities"
        },
        "https://www.googleapis.com/auth/analytics.manage.users": {
          "description": "Manage Google Analytics Account users by email address"
        },
        "https://www.googleapis.com/auth/analytics.readonly": {
          "description": "See and download your Google Analytics data"
        }
      }
    }
  },
  "id": "analyticsadmin:v1alpha",
  "documentationLink": "http://code.google.com/apis/analytics/docs/mgmt/home.html",
  "rootUrl": "https://analyticsadmin.googleapis.com/",
  "version": "v1alpha",
  "schemas": {
    "GoogleAnalyticsAdminV1alphaChangeHistoryChange": {
      "description": "A description of a change to a single Google Analytics resource.",
      "type": "object",
      "properties": {
        "action": {
          "description": "The type of action that changed this resource.",
          "enum": [
            "ACTION_TYPE_UNSPECIFIED",
            "CREATED",
            "UPDATED",
            "DELETED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Action type unknown or not specified.",
            "Resource was created in this change.",
            "Resource was updated in this change.",
            "Resource was deleted in this change."
          ]
        },
        "resourceBeforeChange": {
          "description": "Resource contents from before the change was made. If this resource was created in this change, this field will be missing.",
          "$ref": "GoogleAnalyticsAdminV1alphaChangeHistoryChangeChangeHistoryResource"
        },
        "resourceAfterChange": {
          "description": "Resource contents from after the change was made. If this resource was deleted in this change, this field will be missing.",
          "$ref": "GoogleAnalyticsAdminV1alphaChangeHistoryChangeChangeHistoryResource"
        },
        "resource": {
          "type": "string",
          "description": "Resource name of the resource whose changes are described by this entry."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaChangeHistoryChange"
    },
    "GoogleAnalyticsAdminV1alphaLinkProposalStatusDetails": {
      "id": "GoogleAnalyticsAdminV1alphaLinkProposalStatusDetails",
      "properties": {
        "requestorEmail": {
          "type": "string",
          "description": "Output only. The email address of the user that proposed this linkage.",
          "readOnly": true
        },
        "linkProposalInitiatingProduct": {
          "enum": [
            "LINK_PROPOSAL_INITIATING_PRODUCT_UNSPECIFIED",
            "GOOGLE_ANALYTICS",
            "LINKED_PRODUCT"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified product.",
            "This proposal was created by a user from Google Analytics.",
            "This proposal was created by a user from a linked product (not Google Analytics)."
          ],
          "description": "Output only. The source of this proposal.",
          "readOnly": true
        },
        "linkProposalState": {
          "enum": [
            "LINK_PROPOSAL_STATE_UNSPECIFIED",
            "AWAITING_REVIEW_FROM_GOOGLE_ANALYTICS",
            "AWAITING_REVIEW_FROM_LINKED_PRODUCT",
            "WITHDRAWN",
            "DECLINED",
            "EXPIRED",
            "OBSOLETE"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unspecified state",
            "This proposal is awaiting review from a Google Analytics user. This proposal will automatically expire after some time.",
            "This proposal is awaiting review from a user of a linked product. This proposal will automatically expire after some time.",
            "This proposal has been withdrawn by an admin on the initiating product. This proposal will be automatically deleted after some time.",
            "This proposal has been declined by an admin on the receiving product. This proposal will be automatically deleted after some time.",
            "This proposal expired due to lack of response from an admin on the receiving product. This proposal will be automatically deleted after some time.",
            "This proposal has become obsolete because a link was directly created to the same external product resource that this proposal specifies. This proposal will be automatically deleted after some time."
          ],
          "description": "Output only. The state of this proposal."
        }
      },
      "type": "object",
      "description": "Status information for a link proposal."
    },
    "GoogleAnalyticsAdminV1alphaListSearchAds360LinksResponse": {
      "properties": {
        "searchAds360Links": {
          "description": "List of SearchAds360Links.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaSearchAds360Link"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaListSearchAds360LinksResponse",
      "description": "Response message for ListSearchAds360Links RPC.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaListGoogleAdsLinksResponse": {
      "type": "object",
      "description": "Response message for ListGoogleAdsLinks RPC.",
      "id": "GoogleAnalyticsAdminV1alphaListGoogleAdsLinksResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "googleAdsLinks": {
          "description": "List of GoogleAdsLinks.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaGoogleAdsLink"
          }
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaBatchGetAccessBindingsResponse": {
      "properties": {
        "accessBindings": {
          "description": "The requested access bindings.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccessBinding"
          }
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaBatchGetAccessBindingsResponse",
      "description": "Response message for BatchGetAccessBindings RPC.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaCustomDimension": {
      "description": "A definition for a CustomDimension.",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Required. Display name for this custom dimension as shown in the Analytics UI. Max length of 82 characters, alphanumeric plus space and underscore starting with a letter. Legacy system-generated display names may contain square brackets, but updates to this field will never permit square brackets."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description for this custom dimension. Max length of 150 characters."
        },
        "disallowAdsPersonalization": {
          "description": "Optional. If set to true, sets this dimension as NPA and excludes it from ads personalization. This is currently only supported by user-scoped custom dimensions.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Resource name for this CustomDimension resource. Format: properties/{property}/customDimensions/{customDimension}"
        },
        "scope": {
          "type": "string",
          "enumDescriptions": [
            "Scope unknown or not specified.",
            "Dimension scoped to an event.",
            "Dimension scoped to a user.",
            "Dimension scoped to eCommerce items"
          ],
          "description": "Required. Immutable. The scope of this dimension.",
          "enum": [
            "DIMENSION_SCOPE_UNSPECIFIED",
            "EVENT",
            "USER",
            "ITEM"
          ]
        },
        "parameterName": {
          "type": "string",
          "description": "Required. Immutable. Tagging parameter name for this custom dimension. If this is a user-scoped dimension, then this is the user property name. If this is an event-scoped dimension, then this is the event parameter name. If this is an item-scoped dimension, then this is the parameter name found in the eCommerce items array. May only contain alphanumeric and underscore characters, starting with a letter. Max length of 24 characters for user-scoped dimensions, 40 characters for event-scoped dimensions."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaCustomDimension"
    },
    "GoogleAnalyticsAdminV1alphaAccessOrderByMetricOrderBy": {
      "description": "Sorts by metric values.",
      "type": "object",
      "properties": {
        "metricName": {
          "description": "A metric name in the request to order by.",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaAccessOrderByMetricOrderBy"
    },
    "GoogleAnalyticsAdminV1alphaNumericValue": {
      "id": "GoogleAnalyticsAdminV1alphaNumericValue",
      "properties": {
        "int64Value": {
          "format": "int64",
          "description": "Integer value",
          "type": "string"
        },
        "doubleValue": {
          "description": "Double value",
          "type": "number",
          "format": "double"
        }
      },
      "type": "object",
      "description": "To represent a number."
    },
    "GoogleAnalyticsAdminV1alphaProvisionAccountTicketRequest": {
      "type": "object",
      "description": "Request message for ProvisionAccountTicket RPC.",
      "id": "GoogleAnalyticsAdminV1alphaProvisionAccountTicketRequest",
      "properties": {
        "account": {
          "$ref": "GoogleAnalyticsAdminV1alphaAccount",
          "description": "The account to create."
        },
        "redirectUri": {
          "type": "string",
          "description": "Redirect URI where the user will be sent after accepting Terms of Service. Must be configured in Cloud Console as a Redirect URI."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaListCalculatedMetricsResponse": {
      "description": "Response message for ListCalculatedMetrics RPC.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "calculatedMetrics": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaCalculatedMetric"
          },
          "description": "List of CalculatedMetrics."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaListCalculatedMetricsResponse"
    },
    "GoogleAnalyticsAdminV1alphaDataSharingSettings": {
      "type": "object",
      "description": "A resource message representing data sharing settings of a Google Analytics account.",
      "id": "GoogleAnalyticsAdminV1alphaDataSharingSettings",
      "properties": {
        "sharingWithGoogleProductsEnabled": {
          "type": "boolean",
          "description": "Allows Google to use the data to improve other Google products or services. This fields maps to the \"Google products & services\" field in the Google Analytics Admin UI."
        },
        "sharingWithGoogleAnySalesEnabled": {
          "type": "boolean",
          "description": "Deprecated. This field is no longer used and always returns false.",
          "deprecated": true
        },
        "sharingWithOthersEnabled": {
          "description": "Enable features like predictions, modeled data, and benchmarking that can provide you with richer business insights when you contribute aggregated measurement data. The data you share (including information about the property from which it is shared) is aggregated and de-identified before being used to generate business insights. This field maps to the \"Modeling contributions & business insights\" field in the Google Analytics Admin UI.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Resource name. Format: accounts/{account}/dataSharingSettings Example: \"accounts/1000/dataSharingSettings\""
        },
        "sharingWithGoogleAssignedSalesEnabled": {
          "type": "boolean",
          "description": "Allows Google access to your Google Analytics account data, including account usage and configuration data, product spending, and users associated with your Google Analytics account, so that Google can help you make the most of Google products, providing you with insights, offers, recommendations, and optimization tips across Google Analytics and other Google products for business. This field maps to the \"Recommendations for your business\" field in the Google Analytics Admin UI."
        },
        "sharingWithGoogleSupportEnabled": {
          "type": "boolean",
          "description": "Allows Google technical support representatives access to your Google Analytics data and account when necessary to provide service and find solutions to technical issues. This field maps to the \"Technical support\" field in the Google Analytics Admin UI."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaAttributionSettings": {
      "properties": {
        "otherConversionEventLookbackWindow": {
          "description": "Required. The lookback window for all other, non-acquisition conversion events. The default window size is 90 days.",
          "enum": [
            "OTHER_CONVERSION_EVENT_LOOKBACK_WINDOW_UNSPECIFIED",
            "OTHER_CONVERSION_EVENT_LOOKBACK_WINDOW_30_DAYS",
            "OTHER_CONVERSION_EVENT_LOOKBACK_WINDOW_60_DAYS",
            "OTHER_CONVERSION_EVENT_LOOKBACK_WINDOW_90_DAYS"
          ],
          "type": "string",
          "enumDescriptions": [
            "Lookback window size unspecified.",
            "30-day lookback window.",
            "60-day lookback window.",
            "90-day lookback window."
          ]
        },
        "adsWebConversionDataExportScope": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "No data export scope selected yet. Export scope can never be changed back to this value.",
            "Paid and organic channels are eligible to receive conversion credit, but only credit assigned to Google Ads channels will appear in your Ads accounts. To learn more, see [Paid and Organic channels](https://support.google.com/analytics/answer/10632359).",
            "Only Google Ads paid channels are eligible to receive conversion credit. To learn more, see [Google Paid channels](https://support.google.com/analytics/answer/10632359)."
          ],
          "description": "Required. The Conversion Export Scope for data exported to linked Ads Accounts.",
          "enum": [
            "ADS_WEB_CONVERSION_DATA_EXPORT_SCOPE_UNSPECIFIED",
            "NOT_SELECTED_YET",
            "PAID_AND_ORGANIC_CHANNELS",
            "GOOGLE_PAID_CHANNELS"
          ]
        },
        "acquisitionConversionEventLookbackWindow": {
          "type": "string",
          "enumDescriptions": [
            "Lookback window size unspecified.",
            "7-day lookback window.",
            "30-day lookback window."
          ],
          "description": "Required. The lookback window configuration for acquisition conversion events. The default window size is 30 days.",
          "enum": [
            "ACQUISITION_CONVERSION_EVENT_LOOKBACK_WINDOW_UNSPECIFIED",
            "ACQUISITION_CONVERSION_EVENT_LOOKBACK_WINDOW_7_DAYS",
            "ACQUISITION_CONVERSION_EVENT_LOOKBACK_WINDOW_30_DAYS"
          ]
        },
        "reportingAttributionModel": {
          "type": "string",
          "enumDescriptions": [
            "Reporting attribution model unspecified.",
            "Data-driven attribution distributes credit for the conversion based on data for each conversion event. Each Data-driven model is specific to each advertiser and each conversion event. Previously CROSS_CHANNEL_DATA_DRIVEN",
            "Ignores direct traffic and attributes 100% of the conversion value to the last channel that the customer clicked through (or engaged view through for YouTube) before converting. Previously CROSS_CHANNEL_LAST_CLICK",
            "Attributes 100% of the conversion value to the last Google Paid channel that the customer clicked through before converting. Previously ADS_PREFERRED_LAST_CLICK"
          ],
          "description": "Required. The reporting attribution model used to calculate conversion credit in this property's reports. Changing the attribution model will apply to both historical and future data. These changes will be reflected in reports with conversion and revenue data. User and session data will be unaffected.",
          "enum": [
            "REPORTING_ATTRIBUTION_MODEL_UNSPECIFIED",
            "PAID_AND_ORGANIC_CHANNELS_DATA_DRIVEN",
            "PAID_AND_ORGANIC_CHANNELS_LAST_CLICK",
            "GOOGLE_PAID_CHANNELS_LAST_CLICK"
          ]
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Resource name of this attribution settings resource. Format: properties/{property_id}/attributionSettings Example: \"properties/1000/attributionSettings\"",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaAttributionSettings",
      "description": "The attribution settings used for a given property. This is a singleton resource.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaDataStream": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. Resource name of this Data Stream. Format: properties/{property_id}/dataStreams/{stream_id} Example: \"properties/1000/dataStreams/2000\""
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Type unknown or not specified.",
            "Web data stream.",
            "Android app data stream.",
            "iOS app data stream."
          ],
          "description": "Required. Immutable. The type of this DataStream resource.",
          "enum": [
            "DATA_STREAM_TYPE_UNSPECIFIED",
            "WEB_DATA_STREAM",
            "ANDROID_APP_DATA_STREAM",
            "IOS_APP_DATA_STREAM"
          ]
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Time when this stream was originally created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "androidAppStreamData": {
          "$ref": "GoogleAnalyticsAdminV1alphaDataStreamAndroidAppStreamData",
          "description": "Data specific to Android app streams. Must be populated if type is ANDROID_APP_DATA_STREAM."
        },
        "displayName": {
          "type": "string",
          "description": "Human-readable display name for the Data Stream. Required for web data streams. The max allowed display name length is 255 UTF-16 code units."
        },
        "webStreamData": {
          "$ref": "GoogleAnalyticsAdminV1alphaDataStreamWebStreamData",
          "description": "Data specific to web streams. Must be populated if type is WEB_DATA_STREAM."
        },
        "iosAppStreamData": {
          "description": "Data specific to iOS app streams. Must be populated if type is IOS_APP_DATA_STREAM.",
          "$ref": "GoogleAnalyticsAdminV1alphaDataStreamIosAppStreamData"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. Time when stream payload fields were last updated.",
          "readOnly": true,
          "format": "google-datetime"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaDataStream",
      "description": "A resource message representing a data stream.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaChannelGroup": {
      "id": "GoogleAnalyticsAdminV1alphaChannelGroup",
      "properties": {
        "groupingRule": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaGroupingRule"
          },
          "description": "Required. The grouping rules of channels. Maximum number of rules is 50."
        },
        "systemDefined": {
          "type": "boolean",
          "description": "Output only. If true, then this channel group is the Default Channel Group predefined by Google Analytics. Display name and grouping rules cannot be updated for this channel group.",
          "readOnly": true
        },
        "description": {
          "description": "The description of the Channel Group. Max length of 256 characters.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name for this Channel Group resource. Format: properties/{property}/channelGroups/{channel_group}"
        },
        "primary": {
          "type": "boolean",
          "description": "Optional. If true, this channel group will be used as the default channel group for reports. Only one channel group can be set as `primary` at any time. If the `primary` field gets set on a channel group, it will get unset on the previous primary channel group. The Google Analytics predefined channel group is the primary by default."
        },
        "displayName": {
          "type": "string",
          "description": "Required. The display name of the Channel Group. Max length of 80 characters."
        }
      },
      "type": "object",
      "description": "A resource message representing a Channel Group."
    },
    "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterNumericFilter": {
      "id": "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterNumericFilter",
      "properties": {
        "operation": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Equal.",
            "Less than.",
            "Greater than."
          ],
          "description": "Required. The operation applied to a numeric filter.",
          "enum": [
            "OPERATION_UNSPECIFIED",
            "EQUAL",
            "LESS_THAN",
            "GREATER_THAN"
          ]
        },
        "value": {
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterNumericValue",
          "description": "Required. The numeric or date value to match against."
        }
      },
      "type": "object",
      "description": "A filter for numeric or date values on a dimension or metric."
    },
    "GoogleAnalyticsAdminV1alphaBatchUpdateAccessBindingsRequest": {
      "description": "Request message for BatchUpdateAccessBindings RPC.",
      "type": "object",
      "properties": {
        "requests": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaUpdateAccessBindingRequest"
          },
          "description": "Required. The requests specifying the access bindings to update. A maximum of 1000 access bindings can be updated in a batch."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaBatchUpdateAccessBindingsRequest"
    },
    "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterClause": {
      "id": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterClause",
      "properties": {
        "filterClauseType": {
          "description": "Required. The type for the filter clause.",
          "enum": [
            "FILTER_CLAUSE_TYPE_UNSPECIFIED",
            "INCLUDE",
            "EXCLUDE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Filter clause type unknown or not specified.",
            "Events will be included in the Sub property if the filter clause is met.",
            "Events will be excluded from the Sub property if the filter clause is met."
          ]
        },
        "filterExpression": {
          "$ref": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterExpression",
          "description": "Required. The logical expression for what events are sent to the subproperty."
        }
      },
      "type": "object",
      "description": "A clause for defining a filter. A filter may be inclusive (events satisfying the filter clause are included in the subproperty's data) or exclusive (events satisfying the filter clause are excluded from the subproperty's data)."
    },
    "GoogleAnalyticsAdminV1alphaSearchAds360Link": {
      "properties": {
        "adsPersonalizationEnabled": {
          "type": "boolean",
          "description": "Enables personalized advertising features with this integration. If this field is not set on create, it will be defaulted to true."
        },
        "campaignDataSharingEnabled": {
          "type": "boolean",
          "description": "Immutable. Enables the import of campaign data from Search Ads 360 into the Google Analytics property. After link creation, this can only be updated from the Search Ads 360 product. If this field is not set on create, it will be defaulted to true."
        },
        "advertiserId": {
          "description": "Immutable. This field represents the Advertiser ID of the Search Ads 360 Advertiser. that has been linked.",
          "type": "string"
        },
        "costDataSharingEnabled": {
          "description": "Immutable. Enables the import of cost data from Search Ads 360 to the Google Analytics property. This can only be enabled if campaign_data_sharing_enabled is enabled. After link creation, this can only be updated from the Search Ads 360 product. If this field is not set on create, it will be defaulted to true.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name for this SearchAds360Link resource. Format: properties/{propertyId}/searchAds360Links/{linkId} Note: linkId is not the Search Ads 360 advertiser ID"
        },
        "advertiserDisplayName": {
          "description": "Output only. The display name of the Search Ads 360 Advertiser. Allows users to easily identify the linked resource.",
          "type": "string",
          "readOnly": true
        },
        "siteStatsSharingEnabled": {
          "description": "Enables export of site stats with this integration. If this field is not set on create, it will be defaulted to true.",
          "type": "boolean"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaSearchAds360Link",
      "description": "A link between a Google Analytics property and a Search Ads 360 entity.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaAccessNumericFilter": {
      "description": "Filters for numeric or date values.",
      "type": "object",
      "properties": {
        "operation": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Equal",
            "Less than",
            "Less than or equal",
            "Greater than",
            "Greater than or equal"
          ],
          "description": "The operation type for this filter.",
          "enum": [
            "OPERATION_UNSPECIFIED",
            "EQUAL",
            "LESS_THAN",
            "LESS_THAN_OR_EQUAL",
            "GREATER_THAN",
            "GREATER_THAN_OR_EQUAL"
          ]
        },
        "value": {
          "description": "A numeric value or a date value.",
          "$ref": "GoogleAnalyticsAdminV1alphaNumericValue"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaAccessNumericFilter"
    },
    "GoogleAnalyticsAdminV1alphaListCustomMetricsResponse": {
      "description": "Response message for ListCustomMetrics RPC.",
      "type": "object",
      "properties": {
        "customMetrics": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaCustomMetric"
          },
          "description": "List of CustomMetrics."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaListCustomMetricsResponse"
    },
    "GoogleAnalyticsAdminV1alphaUpdateAccessBindingRequest": {
      "id": "GoogleAnalyticsAdminV1alphaUpdateAccessBindingRequest",
      "properties": {
        "accessBinding": {
          "description": "Required. The access binding to update.",
          "$ref": "GoogleAnalyticsAdminV1alphaAccessBinding"
        }
      },
      "type": "object",
      "description": "Request message for UpdateAccessBinding RPC."
    },
    "GoogleAnalyticsAdminV1alphaListEventCreateRulesResponse": {
      "properties": {
        "eventCreateRules": {
          "description": "List of EventCreateRules. These will be ordered stably, but in an arbitrary order.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaEventCreateRule"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaListEventCreateRulesResponse",
      "description": "Response message for ListEventCreateRules RPC.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaChannelGroupFilterExpression": {
      "properties": {
        "orGroup": {
          "description": "A list of expressions to OR’ed together. It cannot contain ChannelGroupFilterExpressions with and_group or or_group.",
          "$ref": "GoogleAnalyticsAdminV1alphaChannelGroupFilterExpressionList"
        },
        "filter": {
          "description": "A filter on a single dimension. This cannot be set on the top level ChannelGroupFilterExpression.",
          "$ref": "GoogleAnalyticsAdminV1alphaChannelGroupFilter"
        },
        "andGroup": {
          "$ref": "GoogleAnalyticsAdminV1alphaChannelGroupFilterExpressionList",
          "description": "A list of expressions to be AND’ed together. It can only contain ChannelGroupFilterExpressions with or_group. This must be set for the top level ChannelGroupFilterExpression."
        },
        "notExpression": {
          "description": "A filter expression to be NOT'ed (that is inverted, complemented). It can only include a dimension_or_metric_filter. This cannot be set on the top level ChannelGroupFilterExpression.",
          "$ref": "GoogleAnalyticsAdminV1alphaChannelGroupFilterExpression"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaChannelGroupFilterExpression",
      "description": "A logical expression of Channel Group dimension filters.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilter": {
      "id": "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilter",
      "properties": {
        "inListFilter": {
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterInListFilter",
          "description": "A filter for a string dimension that matches a particular list of options."
        },
        "numericFilter": {
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterNumericFilter",
          "description": "A filter for numeric or date values on a dimension or metric."
        },
        "stringFilter": {
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterStringFilter",
          "description": "A filter for a string-type dimension that matches a particular pattern."
        },
        "atAnyPointInTime": {
          "description": "Optional. Indicates whether this filter needs dynamic evaluation or not. If set to true, users join the Audience if they ever met the condition (static evaluation). If unset or set to false, user evaluation for an Audience is dynamic; users are added to an Audience when they meet the conditions and then removed when they no longer meet them. This can only be set when Audience scope is ACROSS_ALL_SESSIONS.",
          "type": "boolean"
        },
        "betweenFilter": {
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterBetweenFilter",
          "description": "A filter for numeric or date values between certain values on a dimension or metric."
        },
        "fieldName": {
          "description": "Required. Immutable. The dimension name or metric name to filter. If the field name refers to a custom dimension or metric, a scope prefix will be added to the front of the custom dimensions or metric name. For more on scope prefixes or custom dimensions/metrics, reference the [Google Analytics Data API documentation] (https://developers.google.com/analytics/devguides/reporting/data/v1/api-schema#custom_dimensions).",
          "type": "string"
        },
        "inAnyNDayPeriod": {
          "type": "integer",
          "description": "Optional. If set, specifies the time window for which to evaluate data in number of days. If not set, then audience data is evaluated against lifetime data (For example, infinite time window). For example, if set to 1 day, only the current day's data is evaluated. The reference point is the current day when at_any_point_in_time is unset or false. It can only be set when Audience scope is ACROSS_ALL_SESSIONS and cannot be greater than 60 days.",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "A specific filter for a single dimension or metric."
    },
    "GoogleAnalyticsAdminV1alphaAccessBinding": {
      "type": "object",
      "description": "A binding of a user to a set of roles.",
      "id": "GoogleAnalyticsAdminV1alphaAccessBinding",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Resource name of this binding. Format: accounts/{account}/accessBindings/{access_binding} or properties/{property}/accessBindings/{access_binding} Example: \"accounts/100/accessBindings/200\""
        },
        "user": {
          "type": "string",
          "description": "If set, the email address of the user to set roles for. Format: \"someuser@gmail.com\""
        },
        "roles": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of roles for to grant to the parent resource. Valid values: predefinedRoles/viewer predefinedRoles/analyst predefinedRoles/editor predefinedRoles/admin predefinedRoles/no-cost-data predefinedRoles/no-revenue-data For users, if an empty list of roles is set, this AccessBinding will be deleted."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaSubpropertyEventFilter": {
      "id": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilter",
      "properties": {
        "filterClauses": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterClause"
          },
          "description": "Required. Unordered list. Filter clauses that define the SubpropertyEventFilter. All clauses are AND'ed together to determine what data is sent to the subproperty."
        },
        "applyToProperty": {
          "type": "string",
          "description": "Immutable. Resource name of the Subproperty that uses this filter."
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Format: properties/{ordinary_property_id}/subpropertyEventFilters/{sub_property_event_filter} Example: properties/1234/subpropertyEventFilters/5678",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A resource message representing a Google Analytics subproperty event filter."
    },
    "GoogleAnalyticsAdminV1alphaRunAccessReportRequest": {
      "description": "The request for a Data Access Record Report.",
      "type": "object",
      "properties": {
        "dateRanges": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccessDateRange"
          },
          "description": "Date ranges of access records to read. If multiple date ranges are requested, each response row will contain a zero based date range index. If two date ranges overlap, the access records for the overlapping days is included in the response rows for both date ranges. Requests are allowed up to 2 date ranges."
        },
        "dimensions": {
          "description": "The dimensions requested and displayed in the response. Requests are allowed up to 9 dimensions.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccessDimension"
          }
        },
        "offset": {
          "format": "int64",
          "description": "The row count of the start row. The first row is counted as row 0. If offset is unspecified, it is treated as 0. If offset is zero, then this method will return the first page of results with `limit` entries. To learn more about this pagination parameter, see [Pagination](https://developers.google.com/analytics/devguides/reporting/data/v1/basics#pagination).",
          "type": "string"
        },
        "metrics": {
          "description": "The metrics requested and displayed in the response. Requests are allowed up to 10 metrics.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccessMetric"
          }
        },
        "orderBys": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccessOrderBy"
          },
          "description": "Specifies how rows are ordered in the response."
        },
        "limit": {
          "type": "string",
          "description": "The number of rows to return. If unspecified, 10,000 rows are returned. The API returns a maximum of 100,000 rows per request, no matter how many you ask for. `limit` must be positive. The API may return fewer rows than the requested `limit`, if there aren't as many remaining rows as the `limit`. For instance, there are fewer than 300 possible values for the dimension `country`, so when reporting on only `country`, you can't get more than 300 rows, even if you set `limit` to a higher value. To learn more about this pagination parameter, see [Pagination](https://developers.google.com/analytics/devguides/reporting/data/v1/basics#pagination).",
          "format": "int64"
        },
        "timeZone": {
          "type": "string",
          "description": "This request's time zone if specified. If unspecified, the property's time zone is used. The request's time zone is used to interpret the start & end dates of the report. Formatted as strings from the IANA Time Zone database (https://www.iana.org/time-zones); for example \"America/New_York\" or \"Asia/Tokyo\"."
        },
        "returnEntityQuota": {
          "description": "Toggles whether to return the current state of this Analytics Property's quota. Quota is returned in [AccessQuota](#AccessQuota). For account-level requests, this field must be false.",
          "type": "boolean"
        },
        "metricFilter": {
          "description": "Metric filters allow you to restrict report response to specific metric values which match the filter. Metric filters are applied after aggregating the report's rows, similar to SQL having-clause. Dimensions cannot be used in this filter.",
          "$ref": "GoogleAnalyticsAdminV1alphaAccessFilterExpression"
        },
        "expandGroups": {
          "type": "boolean",
          "description": "Optional. Decides whether to return the users within user groups. This field works only when include_all_users is set to true. If true, it will return all users with access to the specified property or account. If false, only the users with direct access will be returned."
        },
        "dimensionFilter": {
          "description": "Dimension filters let you restrict report response to specific dimension values which match the filter. For example, filtering on access records of a single user. To learn more, see [Fundamentals of Dimension Filters](https://developers.google.com/analytics/devguides/reporting/data/v1/basics#dimension_filters) for examples. Metrics cannot be used in this filter.",
          "$ref": "GoogleAnalyticsAdminV1alphaAccessFilterExpression"
        },
        "includeAllUsers": {
          "description": "Optional. Determines whether to include users who have never made an API call in the response. If true, all users with access to the specified property or account are included in the response, regardless of whether they have made an API call or not. If false, only the users who have made an API call will be included.",
          "type": "boolean"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaRunAccessReportRequest"
    },
    "GoogleAnalyticsAdminV1alphaAccessMetricHeader": {
      "description": "Describes a metric column in the report. Visible metrics requested in a report produce column entries within rows and MetricHeaders. However, metrics used exclusively within filters or expressions do not produce columns in a report; correspondingly, those metrics do not produce headers.",
      "type": "object",
      "properties": {
        "metricName": {
          "type": "string",
          "description": "The metric's name; for example 'accessCount'."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaAccessMetricHeader"
    },
    "GoogleAnalyticsAdminV1alphaDataStreamWebStreamData": {
      "description": "Data specific to web streams.",
      "type": "object",
      "properties": {
        "firebaseAppId": {
          "description": "Output only. ID of the corresponding web app in Firebase, if any. This ID can change if the web app is deleted and recreated.",
          "type": "string",
          "readOnly": true
        },
        "measurementId": {
          "description": "Output only. Analytics Measurement ID. Example: \"G-1A2BCD345E\"",
          "type": "string",
          "readOnly": true
        },
        "defaultUri": {
          "description": "Domain name of the web app being measured, or empty. Example: \"http://www.google.com\", \"https://www.google.com\"",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaDataStreamWebStreamData"
    },
    "GoogleAnalyticsAdminV1alphaListAccountSummariesResponse": {
      "type": "object",
      "description": "Response message for ListAccountSummaries RPC.",
      "id": "GoogleAnalyticsAdminV1alphaListAccountSummariesResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "accountSummaries": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccountSummary"
          },
          "description": "Account summaries of all accounts the caller has access to."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaCreateRollupPropertyResponse": {
      "properties": {
        "rollupProperty": {
          "description": "The created roll-up property.",
          "$ref": "GoogleAnalyticsAdminV1alphaProperty"
        },
        "rollupPropertySourceLinks": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaRollupPropertySourceLink"
          },
          "description": "The created roll-up property source links."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaCreateRollupPropertyResponse",
      "description": "Response message for CreateRollupProperty RPC.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaAccessDimension": {
      "description": "Dimensions are attributes of your data. For example, the dimension `userEmail` indicates the email of the user that accessed reporting data. Dimension values in report responses are strings.",
      "type": "object",
      "properties": {
        "dimensionName": {
          "type": "string",
          "description": "The API name of the dimension. See [Data Access Schema](https://developers.google.com/analytics/devguides/config/admin/v1/access-api-schema) for the list of dimensions supported in this API. Dimensions are referenced by name in `dimensionFilter` and `orderBys`."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaAccessDimension"
    },
    "GoogleAnalyticsAdminV1alphaExpandedDataSetFilter": {
      "properties": {
        "inListFilter": {
          "$ref": "GoogleAnalyticsAdminV1alphaExpandedDataSetFilterInListFilter",
          "description": "A filter for a string dimension that matches a particular list of options."
        },
        "fieldName": {
          "type": "string",
          "description": "Required. The dimension name to filter."
        },
        "stringFilter": {
          "$ref": "GoogleAnalyticsAdminV1alphaExpandedDataSetFilterStringFilter",
          "description": "A filter for a string-type dimension that matches a particular pattern."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaExpandedDataSetFilter",
      "description": "A specific filter for a single dimension",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaAcknowledgeUserDataCollectionResponse": {
      "properties": {},
      "id": "GoogleAnalyticsAdminV1alphaAcknowledgeUserDataCollectionResponse",
      "description": "Response message for AcknowledgeUserDataCollection RPC.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaListCustomDimensionsResponse": {
      "id": "GoogleAnalyticsAdminV1alphaListCustomDimensionsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "customDimensions": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaCustomDimension"
          },
          "description": "List of CustomDimensions."
        }
      },
      "type": "object",
      "description": "Response message for ListCustomDimensions RPC."
    },
    "GoogleAnalyticsAdminV1alphaListFirebaseLinksResponse": {
      "description": "Response message for ListFirebaseLinks RPC",
      "type": "object",
      "properties": {
        "firebaseLinks": {
          "description": "List of FirebaseLinks. This will have at most one value.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaFirebaseLink"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages. Currently, Google Analytics supports only one FirebaseLink per property, so this will never be populated."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaListFirebaseLinksResponse"
    },
    "GoogleAnalyticsAdminV1alphaDataRedactionSettings": {
      "properties": {
        "name": {
          "description": "Output only. Name of this Data Redaction Settings resource. Format: properties/{property_id}/dataStreams/{data_stream}/dataRedactionSettings Example: \"properties/1000/dataStreams/2000/dataRedactionSettings\"",
          "type": "string",
          "readOnly": true
        },
        "emailRedactionEnabled": {
          "type": "boolean",
          "description": "If enabled, any event parameter or user property values that look like an email will be redacted."
        },
        "queryParameterRedactionEnabled": {
          "type": "boolean",
          "description": "Query Parameter redaction removes the key and value portions of a query parameter if it is in the configured set of query parameters. If enabled, URL query replacement logic will be run for the Stream. Any query parameters defined in query_parameter_keys will be redacted."
        },
        "queryParameterKeys": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The query parameter keys to apply redaction logic to if present in the URL. Query parameter matching is case-insensitive. Must contain at least one element if query_parameter_replacement_enabled is true. Keys cannot contain commas."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaDataRedactionSettings",
      "description": "Settings for client-side data redaction. Singleton resource under a Web Stream.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaArchiveAudienceRequest": {
      "description": "Request message for ArchiveAudience RPC.",
      "type": "object",
      "properties": {},
      "id": "GoogleAnalyticsAdminV1alphaArchiveAudienceRequest"
    },
    "GoogleAnalyticsAdminV1alphaChangeHistoryChangeChangeHistoryResource": {
      "properties": {
        "adsenseLink": {
          "$ref": "GoogleAnalyticsAdminV1alphaAdSenseLink",
          "description": "A snapshot of an AdSenseLink resource in change history."
        },
        "searchAds360Link": {
          "description": "A snapshot of a SearchAds360Link resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaSearchAds360Link"
        },
        "dataRedactionSettings": {
          "description": "A snapshot of DataRedactionSettings resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaDataRedactionSettings"
        },
        "googleSignalsSettings": {
          "description": "A snapshot of a GoogleSignalsSettings resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaGoogleSignalsSettings"
        },
        "keyEvent": {
          "$ref": "GoogleAnalyticsAdminV1alphaKeyEvent",
          "description": "A snapshot of a KeyEvent resource in change history."
        },
        "reportingIdentitySettings": {
          "description": "A snapshot of a ReportingIdentitySettings resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaReportingIdentitySettings"
        },
        "displayVideo360AdvertiserLink": {
          "description": "A snapshot of a DisplayVideo360AdvertiserLink resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLink"
        },
        "googleAdsLink": {
          "description": "A snapshot of a GoogleAdsLink resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaGoogleAdsLink"
        },
        "eventCreateRule": {
          "description": "A snapshot of an EventCreateRule resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaEventCreateRule"
        },
        "displayVideo360AdvertiserLinkProposal": {
          "$ref": "GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLinkProposal",
          "description": "A snapshot of a DisplayVideo360AdvertiserLinkProposal resource in change history."
        },
        "measurementProtocolSecret": {
          "$ref": "GoogleAnalyticsAdminV1alphaMeasurementProtocolSecret",
          "description": "A snapshot of a MeasurementProtocolSecret resource in change history."
        },
        "account": {
          "$ref": "GoogleAnalyticsAdminV1alphaAccount",
          "description": "A snapshot of an Account resource in change history."
        },
        "property": {
          "description": "A snapshot of a Property resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaProperty"
        },
        "dataRetentionSettings": {
          "$ref": "GoogleAnalyticsAdminV1alphaDataRetentionSettings",
          "description": "A snapshot of a data retention settings resource in change history."
        },
        "firebaseLink": {
          "$ref": "GoogleAnalyticsAdminV1alphaFirebaseLink",
          "description": "A snapshot of a FirebaseLink resource in change history."
        },
        "calculatedMetric": {
          "$ref": "GoogleAnalyticsAdminV1alphaCalculatedMetric",
          "description": "A snapshot of a CalculatedMetric resource in change history."
        },
        "reportingDataAnnotation": {
          "description": "A snapshot of a ReportingDataAnnotation resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaReportingDataAnnotation"
        },
        "expandedDataSet": {
          "$ref": "GoogleAnalyticsAdminV1alphaExpandedDataSet",
          "description": "A snapshot of an ExpandedDataSet resource in change history."
        },
        "audience": {
          "$ref": "GoogleAnalyticsAdminV1alphaAudience",
          "description": "A snapshot of an Audience resource in change history."
        },
        "customMetric": {
          "$ref": "GoogleAnalyticsAdminV1alphaCustomMetric",
          "description": "A snapshot of a CustomMetric resource in change history."
        },
        "skadnetworkConversionValueSchema": {
          "description": "A snapshot of SKAdNetworkConversionValueSchema resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaSKAdNetworkConversionValueSchema"
        },
        "dataStream": {
          "$ref": "GoogleAnalyticsAdminV1alphaDataStream",
          "description": "A snapshot of a DataStream resource in change history."
        },
        "channelGroup": {
          "$ref": "GoogleAnalyticsAdminV1alphaChannelGroup",
          "description": "A snapshot of a ChannelGroup resource in change history."
        },
        "subpropertySyncConfig": {
          "$ref": "GoogleAnalyticsAdminV1alphaSubpropertySyncConfig",
          "description": "A snapshot of a SubpropertySyncConfig resource in change history."
        },
        "customDimension": {
          "$ref": "GoogleAnalyticsAdminV1alphaCustomDimension",
          "description": "A snapshot of a CustomDimension resource in change history."
        },
        "userProvidedDataSettings": {
          "description": "A snapshot of a UserProvidedDataSettings resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaUserProvidedDataSettings"
        },
        "attributionSettings": {
          "$ref": "GoogleAnalyticsAdminV1alphaAttributionSettings",
          "description": "A snapshot of AttributionSettings resource in change history."
        },
        "bigqueryLink": {
          "description": "A snapshot of a BigQuery link resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaBigQueryLink"
        },
        "conversionEvent": {
          "description": "A snapshot of a ConversionEvent resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaConversionEvent"
        },
        "enhancedMeasurementSettings": {
          "description": "A snapshot of EnhancedMeasurementSettings resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaEnhancedMeasurementSettings"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaChangeHistoryChangeChangeHistoryResource",
      "description": "A snapshot of a resource as before or after the result of a change in change history.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaProperty": {
      "properties": {
        "parent": {
          "type": "string",
          "description": "Immutable. Resource name of this property's logical parent. Note: The Property-Moving UI can be used to change the parent. Format: accounts/{account}, properties/{property} Example: \"accounts/100\", \"properties/101\""
        },
        "serviceLevel": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Service level not specified or invalid.",
            "The standard version of Google Analytics.",
            "The paid, premium version of Google Analytics."
          ],
          "description": "Output only. The Google Analytics service level that applies to this property.",
          "enum": [
            "SERVICE_LEVEL_UNSPECIFIED",
            "GOOGLE_ANALYTICS_STANDARD",
            "GOOGLE_ANALYTICS_360"
          ]
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. Time when entity payload fields were last updated.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "industryCategory": {
          "type": "string",
          "enumDescriptions": [
            "Industry category unspecified",
            "Automotive",
            "Business and industrial markets",
            "Finance",
            "Healthcare",
            "Technology",
            "Travel",
            "Other",
            "Arts and entertainment",
            "Beauty and fitness",
            "Books and literature",
            "Food and drink",
            "Games",
            "Hobbies and leisure",
            "Home and garden",
            "Internet and telecom",
            "Law and government",
            "News",
            "Online communities",
            "People and society",
            "Pets and animals",
            "Real estate",
            "Reference",
            "Science",
            "Sports",
            "Jobs and education",
            "Shopping"
          ],
          "description": "Industry associated with this property Example: AUTOMOTIVE, FOOD_AND_DRINK",
          "enum": [
            "INDUSTRY_CATEGORY_UNSPECIFIED",
            "AUTOMOTIVE",
            "BUSINESS_AND_INDUSTRIAL_MARKETS",
            "FINANCE",
            "HEALTHCARE",
            "TECHNOLOGY",
            "TRAVEL",
            "OTHER",
            "ARTS_AND_ENTERTAINMENT",
            "BEAUTY_AND_FITNESS",
            "BOOKS_AND_LITERATURE",
            "FOOD_AND_DRINK",
            "GAMES",
            "HOBBIES_AND_LEISURE",
            "HOME_AND_GARDEN",
            "INTERNET_AND_TELECOM",
            "LAW_AND_GOVERNMENT",
            "NEWS",
            "ONLINE_COMMUNITIES",
            "PEOPLE_AND_SOCIETY",
            "PETS_AND_ANIMALS",
            "REAL_ESTATE",
            "REFERENCE",
            "SCIENCE",
            "SPORTS",
            "JOBS_AND_EDUCATION",
            "SHOPPING"
          ]
        },
        "displayName": {
          "type": "string",
          "description": "Required. Human-readable display name for this property. The max allowed display name length is 100 UTF-16 code units."
        },
        "account": {
          "type": "string",
          "description": "Immutable. The resource name of the parent account Format: accounts/{account_id} Example: \"accounts/123\""
        },
        "deleteTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. If set, the time at which this property was trashed. If not set, then this property is not currently in the trash can.",
          "type": "string"
        },
        "expireTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. If set, the time at which this trashed property will be permanently deleted. If not set, then this property is not currently in the trash can and is not slated to be deleted."
        },
        "name": {
          "type": "string",
          "description": "Identifier. Resource name of this property. Format: properties/{property_id} Example: \"properties/1000\""
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Time when the entity was originally created."
        },
        "currencyCode": {
          "type": "string",
          "description": "The currency type used in reports involving monetary values. Format: https://en.wikipedia.org/wiki/ISO_4217 Examples: \"USD\", \"EUR\", \"JPY\""
        },
        "timeZone": {
          "type": "string",
          "description": "Required. Reporting Time Zone, used as the day boundary for reports, regardless of where the data originates. If the time zone honors DST, Analytics will automatically adjust for the changes. NOTE: Changing the time zone only affects data going forward, and is not applied retroactively. Format: https://www.iana.org/time-zones Example: \"America/Los_Angeles\""
        },
        "propertyType": {
          "description": "Immutable. The property type for this Property resource. When creating a property, if the type is \"PROPERTY_TYPE_UNSPECIFIED\", then \"ORDINARY_PROPERTY\" will be implied.",
          "enum": [
            "PROPERTY_TYPE_UNSPECIFIED",
            "PROPERTY_TYPE_ORDINARY",
            "PROPERTY_TYPE_SUBPROPERTY",
            "PROPERTY_TYPE_ROLLUP"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown or unspecified property type",
            "Ordinary Google Analytics property",
            "Google Analytics subproperty",
            "Google Analytics rollup property"
          ]
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaProperty",
      "description": "A resource message representing a Google Analytics property.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaAccessDateRange": {
      "type": "object",
      "description": "A contiguous range of days: startDate, startDate + 1, ..., endDate.",
      "id": "GoogleAnalyticsAdminV1alphaAccessDateRange",
      "properties": {
        "startDate": {
          "description": "The inclusive start date for the query in the format `YYYY-MM-DD`. Cannot be after `endDate`. The format `NdaysAgo`, `yesterday`, or `today` is also accepted, and in that case, the date is inferred based on the current time in the request's time zone.",
          "type": "string"
        },
        "endDate": {
          "description": "The inclusive end date for the query in the format `YYYY-MM-DD`. Cannot be before `startDate`. The format `NdaysAgo`, `yesterday`, or `today` is also accepted, and in that case, the date is inferred based on the current time in the request's time zone.",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterExpression": {
      "type": "object",
      "description": "A logical expression of Subproperty event filters.",
      "id": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterExpression",
      "properties": {
        "notExpression": {
          "$ref": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterExpression",
          "description": "A filter expression to be NOT'ed (inverted, complemented). It can only include a filter. This cannot be set on the top level SubpropertyEventFilterExpression."
        },
        "filterCondition": {
          "description": "Creates a filter that matches a specific event. This cannot be set on the top level SubpropertyEventFilterExpression.",
          "$ref": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterCondition"
        },
        "orGroup": {
          "description": "A list of expressions to OR’ed together. Must only contain not_expression or filter_condition expressions.",
          "$ref": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterExpressionList"
        }
      }
    },
    "GoogleProtobufEmpty": {
      "properties": {},
      "id": "GoogleProtobufEmpty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaAudienceFilterExpressionList": {
      "properties": {
        "filterExpressions": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAudienceFilterExpression"
          },
          "description": "A list of Audience filter expressions."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaAudienceFilterExpressionList",
      "description": "A list of Audience filter expressions.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaKeyEventDefaultValue": {
      "properties": {
        "numericValue": {
          "type": "number",
          "description": "Required. This will be used to populate the \"value\" parameter for all occurrences of this Key Event (specified by event_name) where that parameter is unset.",
          "format": "double"
        },
        "currencyCode": {
          "description": "Required. When an occurrence of this Key Event (specified by event_name) has no set currency this currency will be applied as the default. Must be in ISO 4217 currency code format. See https://en.wikipedia.org/wiki/ISO_4217 for more information.",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaKeyEventDefaultValue",
      "description": "Defines a default value/currency for a key event.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaAccessInListFilter": {
      "description": "The result needs to be in a list of string values.",
      "type": "object",
      "properties": {
        "values": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of string values. Must be non-empty."
        },
        "caseSensitive": {
          "type": "boolean",
          "description": "If true, the string value is case sensitive."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaAccessInListFilter"
    },
    "GoogleAnalyticsAdminV1alphaEventEditRule": {
      "properties": {
        "name": {
          "description": "Identifier. Resource name for this EventEditRule resource. Format: properties/{property}/dataStreams/{data_stream}/eventEditRules/{event_edit_rule}",
          "type": "string"
        },
        "displayName": {
          "description": "Required. The display name of this event edit rule. Maximum of 255 characters.",
          "type": "string"
        },
        "processingOrder": {
          "description": "Output only. The order for which this rule will be processed. Rules with an order value lower than this will be processed before this rule, rules with an order value higher than this will be processed after this rule. New event edit rules will be assigned an order value at the end of the order. This value does not apply to event create rules.",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        },
        "eventConditions": {
          "description": "Required. Conditions on the source event must match for this rule to be applied. Must have at least one condition, and can have up to 10 max.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaMatchingCondition"
          }
        },
        "parameterMutations": {
          "description": "Required. Parameter mutations define parameter behavior on the new event, and are applied in order. A maximum of 20 mutations can be applied.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaParameterMutation"
          }
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaEventEditRule",
      "description": "An Event Edit Rule defines conditions that will trigger the creation of an entirely new event based upon matched criteria of a source event. Additional mutations of the parameters from the source event can be defined. Unlike Event Create rules, Event Edit Rules are applied in their defined order. Event Edit rules can't be used to modify an event created from an Event Create rule.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaGoogleSignalsSettings": {
      "type": "object",
      "description": "Settings values for Google Signals. This is a singleton resource.",
      "id": "GoogleAnalyticsAdminV1alphaGoogleSignalsSettings",
      "properties": {
        "name": {
          "readOnly": true,
          "description": "Output only. Resource name of this setting. Format: properties/{property_id}/googleSignalsSettings Example: \"properties/1000/googleSignalsSettings\"",
          "type": "string"
        },
        "consent": {
          "enum": [
            "GOOGLE_SIGNALS_CONSENT_UNSPECIFIED",
            "GOOGLE_SIGNALS_CONSENT_CONSENTED",
            "GOOGLE_SIGNALS_CONSENT_NOT_CONSENTED"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Google Signals consent value defaults to GOOGLE_SIGNALS_CONSENT_UNSPECIFIED. This will be treated as GOOGLE_SIGNALS_CONSENT_NOT_CONSENTED.",
            "Terms of service have been accepted",
            "Terms of service have not been accepted"
          ],
          "description": "Output only. Terms of Service acceptance."
        },
        "state": {
          "description": "Status of this setting.",
          "enum": [
            "GOOGLE_SIGNALS_STATE_UNSPECIFIED",
            "GOOGLE_SIGNALS_ENABLED",
            "GOOGLE_SIGNALS_DISABLED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Google Signals status defaults to GOOGLE_SIGNALS_STATE_UNSPECIFIED to represent that the user has not made an explicit choice.",
            "Google Signals is enabled.",
            "Google Signals is disabled."
          ]
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaAccessFilter": {
      "type": "object",
      "description": "An expression to filter dimension or metric values.",
      "id": "GoogleAnalyticsAdminV1alphaAccessFilter",
      "properties": {
        "numericFilter": {
          "description": "A filter for numeric or date values.",
          "$ref": "GoogleAnalyticsAdminV1alphaAccessNumericFilter"
        },
        "inListFilter": {
          "description": "A filter for in list values.",
          "$ref": "GoogleAnalyticsAdminV1alphaAccessInListFilter"
        },
        "stringFilter": {
          "$ref": "GoogleAnalyticsAdminV1alphaAccessStringFilter",
          "description": "Strings related filter."
        },
        "betweenFilter": {
          "$ref": "GoogleAnalyticsAdminV1alphaAccessBetweenFilter",
          "description": "A filter for two values."
        },
        "fieldName": {
          "type": "string",
          "description": "The dimension name or metric name."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaSKAdNetworkConversionValueSchema": {
      "properties": {
        "postbackWindowOne": {
          "$ref": "GoogleAnalyticsAdminV1alphaPostbackWindow",
          "description": "Required. The conversion value settings for the first postback window. These differ from values for postback window two and three in that they contain a \"Fine\" grained conversion value (a numeric value). Conversion values for this postback window must be set. The other windows are optional and may inherit this window's settings if unset or disabled."
        },
        "name": {
          "type": "string",
          "description": "Identifier. Resource name of the schema. This will be child of ONLY an iOS stream, and there can be at most one such child under an iOS stream. Format: properties/{property}/dataStreams/{dataStream}/sKAdNetworkConversionValueSchema"
        },
        "applyConversionValues": {
          "description": "If enabled, the GA SDK will set conversion values using this schema definition, and schema will be exported to any Google Ads accounts linked to this property. If disabled, the GA SDK will not automatically set conversion values, and also the schema will not be exported to Ads.",
          "type": "boolean"
        },
        "postbackWindowTwo": {
          "$ref": "GoogleAnalyticsAdminV1alphaPostbackWindow",
          "description": "The conversion value settings for the second postback window. This field should only be configured if there is a need to define different conversion values for this postback window. If enable_postback_window_settings is set to false for this postback window, the values from postback_window_one will be used."
        },
        "postbackWindowThree": {
          "$ref": "GoogleAnalyticsAdminV1alphaPostbackWindow",
          "description": "The conversion value settings for the third postback window. This field should only be set if the user chose to define different conversion values for this postback window. It is allowed to configure window 3 without setting window 2. In case window 1 & 2 settings are set and enable_postback_window_settings for this postback window is set to false, the schema will inherit settings from postback_window_two."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaSKAdNetworkConversionValueSchema",
      "description": "SKAdNetwork conversion value schema of an iOS stream.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaExpandedDataSetFilterStringFilter": {
      "id": "GoogleAnalyticsAdminV1alphaExpandedDataSetFilterStringFilter",
      "properties": {
        "caseSensitive": {
          "type": "boolean",
          "description": "Optional. If true, the match is case-sensitive. If false, the match is case-insensitive. Must be true when match_type is EXACT. Must be false when match_type is CONTAINS."
        },
        "value": {
          "description": "Required. The string value to be matched against.",
          "type": "string"
        },
        "matchType": {
          "description": "Required. The match type for the string filter.",
          "enum": [
            "MATCH_TYPE_UNSPECIFIED",
            "EXACT",
            "CONTAINS"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified",
            "Exact match of the string value.",
            "Contains the string value."
          ]
        }
      },
      "type": "object",
      "description": "A filter for a string-type dimension that matches a particular pattern."
    },
    "GoogleAnalyticsAdminV1alphaListBigQueryLinksResponse": {
      "type": "object",
      "description": "Response message for ListBigQueryLinks RPC",
      "id": "GoogleAnalyticsAdminV1alphaListBigQueryLinksResponse",
      "properties": {
        "bigqueryLinks": {
          "description": "List of BigQueryLinks.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaBigQueryLink"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaBatchDeleteAccessBindingsRequest": {
      "type": "object",
      "description": "Request message for BatchDeleteAccessBindings RPC.",
      "id": "GoogleAnalyticsAdminV1alphaBatchDeleteAccessBindingsRequest",
      "properties": {
        "requests": {
          "description": "Required. The requests specifying the access bindings to delete. A maximum of 1000 access bindings can be deleted in a batch.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaDeleteAccessBindingRequest"
          }
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaListSubpropertyEventFiltersResponse": {
      "id": "GoogleAnalyticsAdminV1alphaListSubpropertyEventFiltersResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "subpropertyEventFilters": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilter"
          },
          "description": "List of subproperty event filters."
        }
      },
      "type": "object",
      "description": "Response message for ListSubpropertyEventFilter RPC."
    },
    "GoogleAnalyticsAdminV1alphaAudienceFilterExpression": {
      "id": "GoogleAnalyticsAdminV1alphaAudienceFilterExpression",
      "properties": {
        "andGroup": {
          "description": "A list of expressions to be AND’ed together. It can only contain AudienceFilterExpressions with or_group. This must be set for the top level AudienceFilterExpression.",
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceFilterExpressionList"
        },
        "notExpression": {
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceFilterExpression",
          "description": "A filter expression to be NOT'ed (For example, inverted, complemented). It can only include a dimension_or_metric_filter. This cannot be set on the top level AudienceFilterExpression."
        },
        "dimensionOrMetricFilter": {
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilter",
          "description": "A filter on a single dimension or metric. This cannot be set on the top level AudienceFilterExpression."
        },
        "eventFilter": {
          "description": "Creates a filter that matches a specific event. This cannot be set on the top level AudienceFilterExpression.",
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceEventFilter"
        },
        "orGroup": {
          "description": "A list of expressions to OR’ed together. It cannot contain AudienceFilterExpressions with and_group or or_group.",
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceFilterExpressionList"
        }
      },
      "type": "object",
      "description": "A logical expression of Audience dimension, metric, or event filters."
    },
    "GoogleAnalyticsAdminV1alphaAdSenseLink": {
      "id": "GoogleAnalyticsAdminV1alphaAdSenseLink",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. The resource name for this AdSense Link resource. Format: properties/{propertyId}/adSenseLinks/{linkId} Example: properties/1234/adSenseLinks/6789",
          "readOnly": true
        },
        "adClientCode": {
          "type": "string",
          "description": "Immutable. The AdSense ad client code that the Google Analytics property is linked to. Example format: \"ca-pub-1234567890\""
        }
      },
      "type": "object",
      "description": "A link between a Google Analytics property and an AdSense for Content ad client."
    },
    "GoogleAnalyticsAdminV1alphaAccessOrderByDimensionOrderBy": {
      "type": "object",
      "description": "Sorts by dimension values.",
      "id": "GoogleAnalyticsAdminV1alphaAccessOrderByDimensionOrderBy",
      "properties": {
        "orderType": {
          "description": "Controls the rule for dimension value ordering.",
          "enum": [
            "ORDER_TYPE_UNSPECIFIED",
            "ALPHANUMERIC",
            "CASE_INSENSITIVE_ALPHANUMERIC",
            "NUMERIC"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Alphanumeric sort by Unicode code point. For example, \"2\" < \"A\" < \"X\" < \"b\" < \"z\".",
            "Case insensitive alphanumeric sort by lower case Unicode code point. For example, \"2\" < \"A\" < \"b\" < \"X\" < \"z\".",
            "Dimension values are converted to numbers before sorting. For example in NUMERIC sort, \"25\" < \"100\", and in `ALPHANUMERIC` sort, \"100\" < \"25\". Non-numeric dimension values all have equal ordering value below all numeric values."
          ]
        },
        "dimensionName": {
          "type": "string",
          "description": "A dimension name in the request to order by."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaConversionEvent": {
      "properties": {
        "name": {
          "description": "Identifier. Resource name of this conversion event. Format: properties/{property}/conversionEvents/{conversion_event}",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time when this conversion event was created in the property.",
          "type": "string"
        },
        "defaultConversionValue": {
          "$ref": "GoogleAnalyticsAdminV1alphaConversionEventDefaultConversionValue",
          "description": "Optional. Defines a default value/currency for a conversion event."
        },
        "eventName": {
          "description": "Immutable. The event name for this conversion event. Examples: 'click', 'purchase'",
          "type": "string"
        },
        "deletable": {
          "description": "Output only. If set, this event can currently be deleted with DeleteConversionEvent.",
          "type": "boolean",
          "readOnly": true
        },
        "custom": {
          "type": "boolean",
          "description": "Output only. If set to true, this conversion event refers to a custom event. If set to false, this conversion event refers to a default event in GA. Default events typically have special meaning in GA. Default events are usually created for you by the GA system, but in some cases can be created by property admins. Custom events count towards the maximum number of custom conversion events that may be created per property.",
          "readOnly": true
        },
        "countingMethod": {
          "description": "Optional. The method by which conversions will be counted across multiple events within a session. If this value is not provided, it will be set to `ONCE_PER_EVENT`.",
          "enum": [
            "CONVERSION_COUNTING_METHOD_UNSPECIFIED",
            "ONCE_PER_EVENT",
            "ONCE_PER_SESSION"
          ],
          "type": "string",
          "enumDescriptions": [
            "Counting method not specified.",
            "Each Event instance is considered a Conversion.",
            "An Event instance is considered a Conversion at most once per session per user."
          ]
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaConversionEvent",
      "description": "A conversion event in a Google Analytics property.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaAccessStringFilter": {
      "type": "object",
      "description": "The filter for strings.",
      "id": "GoogleAnalyticsAdminV1alphaAccessStringFilter",
      "properties": {
        "matchType": {
          "description": "The match type for this filter.",
          "enum": [
            "MATCH_TYPE_UNSPECIFIED",
            "EXACT",
            "BEGINS_WITH",
            "ENDS_WITH",
            "CONTAINS",
            "FULL_REGEXP",
            "PARTIAL_REGEXP"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified",
            "Exact match of the string value.",
            "Begins with the string value.",
            "Ends with the string value.",
            "Contains the string value.",
            "Full match for the regular expression with the string value.",
            "Partial match for the regular expression with the string value."
          ]
        },
        "value": {
          "type": "string",
          "description": "The string value used for the matching."
        },
        "caseSensitive": {
          "description": "If true, the string value is case sensitive.",
          "type": "boolean"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaConversionValues": {
      "type": "object",
      "description": "Conversion value settings for a postback window for SKAdNetwork conversion value schema.",
      "id": "GoogleAnalyticsAdminV1alphaConversionValues",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Display name of the SKAdNetwork conversion value. The max allowed display name length is 50 UTF-16 code units."
        },
        "lockEnabled": {
          "type": "boolean",
          "description": "If true, the SDK should lock to this conversion value for the current postback window."
        },
        "coarseValue": {
          "type": "string",
          "enumDescriptions": [
            "Coarse value not specified.",
            "Coarse value of low.",
            "Coarse value of medium.",
            "Coarse value of high."
          ],
          "description": "Required. A coarse grained conversion value. This value is not guaranteed to be unique.",
          "enum": [
            "COARSE_VALUE_UNSPECIFIED",
            "COARSE_VALUE_LOW",
            "COARSE_VALUE_MEDIUM",
            "COARSE_VALUE_HIGH"
          ]
        },
        "fineValue": {
          "type": "integer",
          "description": "The fine-grained conversion value. This is applicable only to the first postback window. Its valid values are [0,63], both inclusive. It must be set for postback window 1, and must not be set for postback window 2 & 3. This value is not guaranteed to be unique. If the configuration for the first postback window is re-used for second or third postback windows this field has no effect.",
          "format": "int32"
        },
        "eventMappings": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaEventMapping"
          },
          "description": "Event conditions that must be met for this Conversion Value to be achieved. The conditions in this list are ANDed together. It must have minimum of 1 entry and maximum of 3 entries, if the postback window is enabled."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaDataRetentionSettings": {
      "id": "GoogleAnalyticsAdminV1alphaDataRetentionSettings",
      "properties": {
        "userDataRetention": {
          "type": "string",
          "enumDescriptions": [
            "Data retention time duration is not specified.",
            "The data retention time duration is 2 months.",
            "The data retention time duration is 14 months.",
            "The data retention time duration is 26 months. Available to 360 properties only. Available for event data only.",
            "The data retention time duration is 38 months. Available to 360 properties only. Available for event data only.",
            "The data retention time duration is 50 months. Available to 360 properties only. Available for event data only."
          ],
          "description": "Required. The length of time that user-level data is retained.",
          "enum": [
            "RETENTION_DURATION_UNSPECIFIED",
            "TWO_MONTHS",
            "FOURTEEN_MONTHS",
            "TWENTY_SIX_MONTHS",
            "THIRTY_EIGHT_MONTHS",
            "FIFTY_MONTHS"
          ]
        },
        "resetUserDataOnNewActivity": {
          "type": "boolean",
          "description": "If true, reset the retention period for the user identifier with every event from that user."
        },
        "name": {
          "description": "Identifier. Resource name for this DataRetentionSetting resource. Format: properties/{property}/dataRetentionSettings",
          "type": "string"
        },
        "eventDataRetention": {
          "type": "string",
          "enumDescriptions": [
            "Data retention time duration is not specified.",
            "The data retention time duration is 2 months.",
            "The data retention time duration is 14 months.",
            "The data retention time duration is 26 months. Available to 360 properties only. Available for event data only.",
            "The data retention time duration is 38 months. Available to 360 properties only. Available for event data only.",
            "The data retention time duration is 50 months. Available to 360 properties only. Available for event data only."
          ],
          "description": "Required. The length of time that event-level data is retained.",
          "enum": [
            "RETENTION_DURATION_UNSPECIFIED",
            "TWO_MONTHS",
            "FOURTEEN_MONTHS",
            "TWENTY_SIX_MONTHS",
            "THIRTY_EIGHT_MONTHS",
            "FIFTY_MONTHS"
          ]
        }
      },
      "type": "object",
      "description": "Settings values for data retention. This is a singleton resource."
    },
    "GoogleAnalyticsAdminV1alphaListConversionEventsResponse": {
      "id": "GoogleAnalyticsAdminV1alphaListConversionEventsResponse",
      "properties": {
        "conversionEvents": {
          "description": "The requested conversion events",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaConversionEvent"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "type": "object",
      "description": "Response message for ListConversionEvents RPC."
    },
    "GoogleAnalyticsAdminV1alphaMeasurementProtocolSecret": {
      "description": "A secret value used for sending hits to Measurement Protocol.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. Resource name of this secret. This secret may be a child of any type of stream. Format: properties/{property}/dataStreams/{dataStream}/measurementProtocolSecrets/{measurementProtocolSecret}",
          "type": "string"
        },
        "displayName": {
          "description": "Required. Human-readable display name for this secret.",
          "type": "string"
        },
        "secretValue": {
          "readOnly": true,
          "description": "Output only. The measurement protocol secret value. Pass this value to the api_secret field of the Measurement Protocol API when sending hits to this secret's parent property.",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaMeasurementProtocolSecret"
    },
    "GoogleAnalyticsAdminV1alphaListAccessBindingsResponse": {
      "description": "Response message for ListAccessBindings RPC.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "accessBindings": {
          "description": "List of AccessBindings. These will be ordered stably, but in an arbitrary order.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccessBinding"
          }
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaListAccessBindingsResponse"
    },
    "GoogleAnalyticsAdminV1alphaAccessOrderBy": {
      "properties": {
        "dimension": {
          "$ref": "GoogleAnalyticsAdminV1alphaAccessOrderByDimensionOrderBy",
          "description": "Sorts results by a dimension's values."
        },
        "metric": {
          "$ref": "GoogleAnalyticsAdminV1alphaAccessOrderByMetricOrderBy",
          "description": "Sorts results by a metric's values."
        },
        "desc": {
          "description": "If true, sorts by descending order. If false or unspecified, sorts in ascending order.",
          "type": "boolean"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaAccessOrderBy",
      "description": "Order bys define how rows will be sorted in the response. For example, ordering rows by descending access count is one ordering, and ordering rows by the country string is a different ordering.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaListMeasurementProtocolSecretsResponse": {
      "description": "Response message for ListMeasurementProtocolSecret RPC",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "measurementProtocolSecrets": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaMeasurementProtocolSecret"
          },
          "description": "A list of secrets for the parent stream specified in the request."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaListMeasurementProtocolSecretsResponse"
    },
    "GoogleAnalyticsAdminV1alphaChannelGroupFilter": {
      "id": "GoogleAnalyticsAdminV1alphaChannelGroupFilter",
      "properties": {
        "stringFilter": {
          "description": "A filter for a string-type dimension that matches a particular pattern.",
          "$ref": "GoogleAnalyticsAdminV1alphaChannelGroupFilterStringFilter"
        },
        "inListFilter": {
          "$ref": "GoogleAnalyticsAdminV1alphaChannelGroupFilterInListFilter",
          "description": "A filter for a string dimension that matches a particular list of options."
        },
        "fieldName": {
          "description": "Required. Immutable. The dimension name to filter.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A specific filter for a single dimension."
    },
    "GoogleAnalyticsAdminV1alphaCalculatedMetric": {
      "id": "GoogleAnalyticsAdminV1alphaCalculatedMetric",
      "properties": {
        "name": {
          "description": "Identifier. Resource name for this CalculatedMetric. Format: 'properties/{property_id}/calculatedMetrics/{calculated_metric_id}'",
          "type": "string"
        },
        "invalidMetricReference": {
          "type": "boolean",
          "description": "Output only. If true, this calculated metric has a invalid metric reference. Anything using a calculated metric with invalid_metric_reference set to true may fail, produce warnings, or produce unexpected results.",
          "readOnly": true
        },
        "description": {
          "description": "Optional. Description for this calculated metric. Max length of 4096 characters.",
          "type": "string"
        },
        "restrictedMetricType": {
          "description": "Output only. Types of restricted data that this metric contains.",
          "type": "array",
          "items": {
            "enum": [
              "RESTRICTED_METRIC_TYPE_UNSPECIFIED",
              "COST_DATA",
              "REVENUE_DATA"
            ],
            "type": "string",
            "enumDescriptions": [
              "Type unknown or unspecified.",
              "Metric reports cost data.",
              "Metric reports revenue data."
            ]
          },
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name for this calculated metric as shown in the Google Analytics UI. Max length 82 characters."
        },
        "formula": {
          "type": "string",
          "description": "Required. The calculated metric's definition. Maximum number of unique referenced custom metrics is 5. Formulas supports the following operations: + (addition), - (subtraction), - (negative), * (multiplication), / (division), () (parenthesis). Any valid real numbers are acceptable that fit in a Long (64bit integer) or a Double (64 bit floating point number). Example formula: \"( customEvent:parameter_name + cartPurchaseQuantity ) / 2.0\""
        },
        "metricUnit": {
          "type": "string",
          "enumDescriptions": [
            "MetricUnit unspecified or missing.",
            "This metric uses default units.",
            "This metric measures a currency.",
            "This metric measures feet.",
            "This metric measures miles.",
            "This metric measures meters.",
            "This metric measures kilometers.",
            "This metric measures milliseconds.",
            "This metric measures seconds.",
            "This metric measures minutes.",
            "This metric measures hours."
          ],
          "description": "Required. The type for the calculated metric's value.",
          "enum": [
            "METRIC_UNIT_UNSPECIFIED",
            "STANDARD",
            "CURRENCY",
            "FEET",
            "MILES",
            "METERS",
            "KILOMETERS",
[...]
