{
  "canonicalName": "Google Analytics Admin",
  "baseUrl": "https://analyticsadmin.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "title": "Google Analytics Admin API",
  "documentationLink": "http://code.google.com/apis/analytics/docs/mgmt/home.html",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "schemas": {
    "GoogleAnalyticsAdminV1alphaChangeHistoryChangeChangeHistoryResource": {
      "type": "object",
      "properties": {
        "skadnetworkConversionValueSchema": {
          "$ref": "GoogleAnalyticsAdminV1alphaSKAdNetworkConversionValueSchema",
          "description": "A snapshot of SKAdNetworkConversionValueSchema resource in change history."
        },
        "adsenseLink": {
          "description": "A snapshot of an AdSenseLink resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaAdSenseLink"
        },
        "measurementProtocolSecret": {
          "$ref": "GoogleAnalyticsAdminV1alphaMeasurementProtocolSecret",
          "description": "A snapshot of a MeasurementProtocolSecret resource in change history."
        },
        "keyEvent": {
          "description": "A snapshot of a KeyEvent resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaKeyEvent"
        },
        "calculatedMetric": {
          "$ref": "GoogleAnalyticsAdminV1alphaCalculatedMetric",
          "description": "A snapshot of a CalculatedMetric resource in change history."
        },
        "attributionSettings": {
          "description": "A snapshot of AttributionSettings resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaAttributionSettings"
        },
        "eventCreateRule": {
          "$ref": "GoogleAnalyticsAdminV1alphaEventCreateRule",
          "description": "A snapshot of an EventCreateRule resource in change history."
        },
        "displayVideo360AdvertiserLink": {
          "$ref": "GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLink",
          "description": "A snapshot of a DisplayVideo360AdvertiserLink resource in change history."
        },
        "channelGroup": {
          "description": "A snapshot of a ChannelGroup resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaChannelGroup"
        },
        "userProvidedDataSettings": {
          "$ref": "GoogleAnalyticsAdminV1alphaUserProvidedDataSettings",
          "description": "A snapshot of a UserProvidedDataSettings resource in change history."
        },
        "dataStream": {
          "description": "A snapshot of a DataStream resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaDataStream"
        },
        "firebaseLink": {
          "description": "A snapshot of a FirebaseLink resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaFirebaseLink"
        },
        "bigqueryLink": {
          "description": "A snapshot of a BigQuery link resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaBigQueryLink"
        },
        "conversionEvent": {
          "$ref": "GoogleAnalyticsAdminV1alphaConversionEvent",
          "description": "A snapshot of a ConversionEvent resource in change history."
        },
        "reportingIdentitySettings": {
          "description": "A snapshot of a ReportingIdentitySettings resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaReportingIdentitySettings"
        },
        "googleSignalsSettings": {
          "description": "A snapshot of a GoogleSignalsSettings resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaGoogleSignalsSettings"
        },
        "audience": {
          "description": "A snapshot of an Audience resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaAudience"
        },
        "enhancedMeasurementSettings": {
          "description": "A snapshot of EnhancedMeasurementSettings resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaEnhancedMeasurementSettings"
        },
        "searchAds360Link": {
          "description": "A snapshot of a SearchAds360Link resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaSearchAds360Link"
        },
        "displayVideo360AdvertiserLinkProposal": {
          "$ref": "GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLinkProposal",
          "description": "A snapshot of a DisplayVideo360AdvertiserLinkProposal resource in change history."
        },
        "dataRedactionSettings": {
          "description": "A snapshot of DataRedactionSettings resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaDataRedactionSettings"
        },
        "expandedDataSet": {
          "description": "A snapshot of an ExpandedDataSet resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaExpandedDataSet"
        },
        "customMetric": {
          "description": "A snapshot of a CustomMetric resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaCustomMetric"
        },
        "dataRetentionSettings": {
          "description": "A snapshot of a data retention settings resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaDataRetentionSettings"
        },
        "customDimension": {
          "description": "A snapshot of a CustomDimension resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaCustomDimension"
        },
        "googleAdsLink": {
          "description": "A snapshot of a GoogleAdsLink resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaGoogleAdsLink"
        },
        "account": {
          "$ref": "GoogleAnalyticsAdminV1alphaAccount",
          "description": "A snapshot of an Account resource in change history."
        },
        "property": {
          "description": "A snapshot of a Property resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaProperty"
        },
        "reportingDataAnnotation": {
          "$ref": "GoogleAnalyticsAdminV1alphaReportingDataAnnotation",
          "description": "A snapshot of a ReportingDataAnnotation resource in change history."
        },
        "subpropertySyncConfig": {
          "$ref": "GoogleAnalyticsAdminV1alphaSubpropertySyncConfig",
          "description": "A snapshot of a SubpropertySyncConfig resource in change history."
        }
      },
      "description": "A snapshot of a resource as before or after the result of a change in change history.",
      "id": "GoogleAnalyticsAdminV1alphaChangeHistoryChangeChangeHistoryResource"
    },
    "GoogleAnalyticsAdminV1alphaDataStreamAndroidAppStreamData": {
      "type": "object",
      "properties": {
        "packageName": {
          "description": "Immutable. The package name for the app being measured. Example: \"com.example.myandroidapp\"",
          "type": "string"
        },
        "firebaseAppId": {
          "readOnly": true,
          "description": "Output only. ID of the corresponding Android app in Firebase, if any. This ID can change if the Android app is deleted and recreated.",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaDataStreamAndroidAppStreamData",
      "description": "Data specific to Android app streams."
    },
    "GoogleAnalyticsAdminV1alphaCalculatedMetric": {
      "type": "object",
      "properties": {
        "metricUnit": {
          "type": "string",
          "enum": [
            "METRIC_UNIT_UNSPECIFIED",
            "STANDARD",
            "CURRENCY",
            "FEET",
            "MILES",
            "METERS",
            "KILOMETERS",
            "MILLISECONDS",
            "SECONDS",
            "MINUTES",
            "HOURS"
          ],
          "description": "Required. The type for the calculated metric's value.",
          "enumDescriptions": [
            "MetricUnit unspecified or missing.",
            "This metric uses default units.",
            "This metric measures a currency.",
            "This metric measures feet.",
            "This metric measures miles.",
            "This metric measures meters.",
            "This metric measures kilometers.",
            "This metric measures milliseconds.",
            "This metric measures seconds.",
            "This metric measures minutes.",
            "This metric measures hours."
          ]
        },
        "restrictedMetricType": {
          "description": "Output only. Types of restricted data that this metric contains.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "RESTRICTED_METRIC_TYPE_UNSPECIFIED",
              "COST_DATA",
              "REVENUE_DATA"
            ],
            "enumDescriptions": [
              "Type unknown or unspecified.",
              "Metric reports cost data.",
              "Metric reports revenue data."
            ]
          }
        },
        "name": {
          "description": "Identifier. Resource name for this CalculatedMetric. Format: 'properties/{property_id}/calculatedMetrics/{calculated_metric_id}'",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description for this calculated metric. Max length of 4096 characters.",
          "type": "string"
        },
        "formula": {
          "type": "string",
          "description": "Required. The calculated metric's definition. Maximum number of unique referenced custom metrics is 5. Formulas supports the following operations: + (addition), - (subtraction), - (negative), * (multiplication), / (division), () (parenthesis). Any valid real numbers are acceptable that fit in a Long (64bit integer) or a Double (64 bit floating point number). Example formula: \"( customEvent:parameter_name + cartPurchaseQuantity ) / 2.0\""
        },
        "calculatedMetricId": {
          "description": "Output only. The ID to use for the calculated metric. In the UI, this is referred to as the \"API name.\" The calculated_metric_id is used when referencing this calculated metric from external APIs. For example, \"calcMetric:{calculated_metric_id}\".",
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name for this calculated metric as shown in the Google Analytics UI. Max length 82 characters."
        },
        "invalidMetricReference": {
          "readOnly": true,
          "description": "Output only. If true, this calculated metric has a invalid metric reference. Anything using a calculated metric with invalid_metric_reference set to true may fail, produce warnings, or produce unexpected results.",
          "type": "boolean"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaCalculatedMetric",
      "description": "A definition for a calculated metric."
    },
    "GoogleAnalyticsAdminV1alphaListSubpropertyEventFiltersResponse": {
      "description": "Response message for ListSubpropertyEventFilter RPC.",
      "properties": {
        "subpropertyEventFilters": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilter"
          },
          "description": "List of subproperty event filters."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaListSubpropertyEventFiltersResponse",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaProvisionSubpropertyResponse": {
      "properties": {
        "subpropertyEventFilter": {
          "$ref": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilter",
          "description": "The created subproperty event filter."
        },
        "subproperty": {
          "description": "The created subproperty.",
          "$ref": "GoogleAnalyticsAdminV1alphaProperty"
        }
      },
      "type": "object",
      "description": "Response message for ProvisionSubproperty RPC.",
      "id": "GoogleAnalyticsAdminV1alphaProvisionSubpropertyResponse"
    },
    "GoogleAnalyticsAdminV1alphaChannelGroupFilterStringFilter": {
      "type": "object",
      "properties": {
        "value": {
          "description": "Required. The string value to be matched against.",
          "type": "string"
        },
        "matchType": {
          "enum": [
            "MATCH_TYPE_UNSPECIFIED",
            "EXACT",
            "BEGINS_WITH",
            "ENDS_WITH",
            "CONTAINS",
            "FULL_REGEXP",
            "PARTIAL_REGEXP"
          ],
          "description": "Required. The match type for the string filter.",
          "type": "string",
          "enumDescriptions": [
            "Default match type.",
            "Exact match of the string value.",
            "Begins with the string value.",
            "Ends with the string value.",
            "Contains the string value.",
            "Full regular expression match with the string value.",
            "Partial regular expression match with the string value."
          ]
        }
      },
      "description": "Filter where the field value is a String. The match is case insensitive.",
      "id": "GoogleAnalyticsAdminV1alphaChannelGroupFilterStringFilter"
    },
    "GoogleAnalyticsAdminV1alphaAccessDateRange": {
      "type": "object",
      "properties": {
        "endDate": {
          "description": "The inclusive end date for the query in the format `YYYY-MM-DD`. Cannot be before `startDate`. The format `NdaysAgo`, `yesterday`, or `today` is also accepted, and in that case, the date is inferred based on the current time in the request's time zone.",
          "type": "string"
        },
        "startDate": {
          "description": "The inclusive start date for the query in the format `YYYY-MM-DD`. Cannot be after `endDate`. The format `NdaysAgo`, `yesterday`, or `today` is also accepted, and in that case, the date is inferred based on the current time in the request's time zone.",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaAccessDateRange",
      "description": "A contiguous range of days: startDate, startDate + 1, ..., endDate."
    },
    "GoogleAnalyticsAdminV1alphaListSKAdNetworkConversionValueSchemasResponse": {
      "id": "GoogleAnalyticsAdminV1alphaListSKAdNetworkConversionValueSchemasResponse",
      "type": "object",
      "description": "Response message for ListSKAdNetworkConversionValueSchemas RPC",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages. Currently, Google Analytics supports only one SKAdNetworkConversionValueSchema per dataStream, so this will never be populated.",
          "type": "string"
        },
        "skadnetworkConversionValueSchemas": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaSKAdNetworkConversionValueSchema"
          },
          "description": "List of SKAdNetworkConversionValueSchemas. This will have at most one value."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaRunAccessReportResponse": {
      "properties": {
        "rows": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccessRow"
          },
          "description": "Rows of dimension value combinations and metric values in the report."
        },
        "metricHeaders": {
          "description": "The header for a column in the report that corresponds to a specific metric. The number of MetricHeaders and ordering of MetricHeaders matches the metrics present in rows.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccessMetricHeader"
          }
        },
        "dimensionHeaders": {
          "type": "array",
          "description": "The header for a column in the report that corresponds to a specific dimension. The number of DimensionHeaders and ordering of DimensionHeaders matches the dimensions present in rows.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccessDimensionHeader"
          }
        },
        "rowCount": {
          "description": "The total number of rows in the query result. `rowCount` is independent of the number of rows returned in the response, the `limit` request parameter, and the `offset` request parameter. For example if a query returns 175 rows and includes `limit` of 50 in the API request, the response will contain `rowCount` of 175 but only 50 rows. To learn more about this pagination parameter, see [Pagination](https://developers.google.com/analytics/devguides/reporting/data/v1/basics#pagination).",
          "format": "int32",
          "type": "integer"
        },
        "quota": {
          "description": "The quota state for this Analytics property including this request. This field doesn't work with account-level requests.",
          "$ref": "GoogleAnalyticsAdminV1alphaAccessQuota"
        }
      },
      "description": "The customized Data Access Record Report response.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaRunAccessReportResponse"
    },
    "GoogleAnalyticsAdminV1alphaArchiveCustomDimensionRequest": {
      "description": "Request message for ArchiveCustomDimension RPC.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaArchiveCustomDimensionRequest",
      "properties": {}
    },
    "GoogleAnalyticsAdminV1alphaRollupPropertySourceLink": {
      "id": "GoogleAnalyticsAdminV1alphaRollupPropertySourceLink",
      "properties": {
        "name": {
          "description": "Output only. Resource name of this RollupPropertySourceLink. Format: 'properties/{property_id}/rollupPropertySourceLinks/{rollup_property_source_link}' Format: 'properties/123/rollupPropertySourceLinks/456'",
          "type": "string",
          "readOnly": true
        },
        "sourceProperty": {
          "description": "Immutable. Resource name of the source property. Format: properties/{property_id} Example: \"properties/789\"",
          "type": "string"
        }
      },
      "description": "A link that references a source property under the parent rollup property.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaSubpropertyEventFilter": {
      "description": "A resource message representing a Google Analytics subproperty event filter.",
      "properties": {
        "applyToProperty": {
          "description": "Immutable. Resource name of the Subproperty that uses this filter.",
          "type": "string"
        },
        "name": {
          "description": "Output only. Format: properties/{ordinary_property_id}/subpropertyEventFilters/{sub_property_event_filter} Example: properties/1234/subpropertyEventFilters/5678",
          "readOnly": true,
          "type": "string"
        },
        "filterClauses": {
          "description": "Required. Unordered list. Filter clauses that define the SubpropertyEventFilter. All clauses are AND'ed together to determine what data is sent to the subproperty.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterClause"
          }
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilter",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaSubpropertySyncConfig": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. Identifier. Format: properties/{ordinary_property_id}/subpropertySyncConfigs/{subproperty_id} Example: properties/1234/subpropertySyncConfigs/5678",
          "readOnly": true
        },
        "customDimensionAndMetricSyncMode": {
          "enumDescriptions": [
            "Synchronization mode unknown or not specified.",
            "Entities are not synchronized. Local edits are allowed on the subproperty.",
            "Entities are synchronized from parent property. Local mutations are not allowed on the subproperty (Create / Update / Delete)"
          ],
          "description": "Required. Specifies the Custom Dimension / Metric synchronization mode for the subproperty. If set to ALL, Custom Dimension / Metric synchronization will be immediately enabled. Local configuration of Custom Dimensions / Metrics will not be allowed on the subproperty so long as the synchronization mode is set to ALL. If set to NONE, Custom Dimensions / Metric synchronization is disabled. Custom Dimensions / Metrics must be configured explicitly on the Subproperty.",
          "type": "string",
          "enum": [
            "SYNCHRONIZATION_MODE_UNSPECIFIED",
            "NONE",
            "ALL"
          ]
        },
        "applyToProperty": {
          "readOnly": true,
          "description": "Output only. Immutable. Resource name of the subproperty that these settings apply to.",
          "type": "string"
        }
      },
      "description": "Subproperty synchronization configuration controls how ordinary property configurations are synchronized to subproperties. This resource is provisioned automatically for each subproperty.",
      "id": "GoogleAnalyticsAdminV1alphaSubpropertySyncConfig",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaEventMapping": {
      "properties": {
        "minEventCount": {
          "type": "string",
          "description": "At least one of the following four min/max values must be set. The values set will be ANDed together to qualify an event. The minimum number of times the event occurred. If not set, minimum event count won't be checked.",
          "format": "int64"
        },
        "maxEventCount": {
          "type": "string",
          "description": "The maximum number of times the event occurred. If not set, maximum event count won't be checked.",
          "format": "int64"
        },
        "maxEventValue": {
          "description": "The maximum revenue generated due to the event. Revenue currency will be defined at the property level. If not set, maximum event value won't be checked.",
          "type": "number",
          "format": "double"
        },
        "minEventValue": {
          "format": "double",
          "type": "number",
          "description": "The minimum revenue generated due to the event. Revenue currency will be defined at the property level. If not set, minimum event value won't be checked."
        },
        "eventName": {
          "description": "Required. Name of the Google Analytics event. It must always be set. The max allowed display name length is 40 UTF-16 code units.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Event setting conditions to match an event.",
      "id": "GoogleAnalyticsAdminV1alphaEventMapping"
    },
    "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterConditionStringFilter": {
      "description": "A filter for a string-type dimension that matches a particular pattern.",
      "properties": {
        "caseSensitive": {
          "description": "Optional. If true, the string value is case sensitive. If false, the match is case-insensitive.",
          "type": "boolean"
        },
        "matchType": {
          "enumDescriptions": [
            "Match type unknown or not specified.",
            "Exact match of the string value.",
            "Begins with the string value.",
            "Ends with the string value.",
            "Contains the string value.",
            "Full regular expression matches with the string value.",
            "Partial regular expression matches with the string value."
          ],
          "description": "Required. The match type for the string filter.",
          "enum": [
            "MATCH_TYPE_UNSPECIFIED",
            "EXACT",
            "BEGINS_WITH",
            "ENDS_WITH",
            "CONTAINS",
            "FULL_REGEXP",
            "PARTIAL_REGEXP"
          ],
          "type": "string"
        },
        "value": {
          "description": "Required. The string value used for the matching.",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterConditionStringFilter",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaGlobalSiteTag": {
      "description": "Read-only resource with the tag for sending data from a website to a DataStream. Only present for web DataStream resources.",
      "properties": {
        "snippet": {
          "type": "string",
          "description": "Immutable. JavaScript code snippet to be pasted as the first item into the head tag of every webpage to measure."
        },
        "name": {
          "description": "Identifier. Resource name for this GlobalSiteTag resource. Format: properties/{property_id}/dataStreams/{stream_id}/globalSiteTag Example: \"properties/123/dataStreams/456/globalSiteTag\"",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaGlobalSiteTag"
    },
    "GoogleAnalyticsAdminV1alphaParameterMutation": {
      "description": "Defines an event parameter to mutate.",
      "id": "GoogleAnalyticsAdminV1alphaParameterMutation",
      "properties": {
        "parameterValue": {
          "description": "Required. The value mutation to perform. * Must be less than 100 characters. * To specify a constant value for the param, use the value's string. * To copy value from another parameter, use syntax like \"[[other_parameter]]\" For more details, see this [help center article](https://support.google.com/analytics/answer/10085872#modify-an-event&zippy=%2Cin-this-article%2Cmodify-parameters).",
          "type": "string"
        },
        "parameter": {
          "type": "string",
          "description": "Required. The name of the parameter to mutate. This value must: * be less than 40 characters. * be unique across across all mutations within the rule * consist only of letters, digits or _ (underscores) For event edit rules, the name may also be set to 'event_name' to modify the event_name in place."
        }
      },
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaAccessDimensionHeader": {
      "id": "GoogleAnalyticsAdminV1alphaAccessDimensionHeader",
      "properties": {
        "dimensionName": {
          "description": "The dimension's name; for example 'userEmail'.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Describes a dimension column in the report. Dimensions requested in a report produce column entries within rows and DimensionHeaders. However, dimensions used exclusively within filters or expressions do not produce columns in a report; correspondingly, those dimensions do not produce headers."
    },
    "GoogleAnalyticsAdminV1alphaListDataStreamsResponse": {
      "id": "GoogleAnalyticsAdminV1alphaListDataStreamsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "dataStreams": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaDataStream"
          },
          "description": "List of DataStreams."
        }
      },
      "description": "Response message for ListDataStreams RPC.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaPostbackWindow": {
      "properties": {
        "conversionValues": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaConversionValues"
          },
          "description": "Ordering of the repeated field will be used to prioritize the conversion value settings. Lower indexed entries are prioritized higher. The first conversion value setting that evaluates to true will be selected. It must have at least one entry if enable_postback_window_settings is set to true. It can have maximum of 128 entries."
        },
        "postbackWindowSettingsEnabled": {
          "description": "If enable_postback_window_settings is true, conversion_values must be populated and will be used for determining when and how to set the Conversion Value on a client device and exporting schema to linked Ads accounts. If false, the settings are not used, but are retained in case they may be used in the future. This must always be true for postback_window_one.",
          "type": "boolean"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaPostbackWindow",
      "description": "Settings for a SKAdNetwork conversion postback window.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaBatchUpdateAccessBindingsResponse": {
      "id": "GoogleAnalyticsAdminV1alphaBatchUpdateAccessBindingsResponse",
      "description": "Response message for BatchUpdateAccessBindings RPC.",
      "type": "object",
      "properties": {
        "accessBindings": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccessBinding"
          },
          "type": "array",
          "description": "The access bindings updated."
        }
      }
    },
    "GoogleProtobufEmpty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "GoogleProtobufEmpty",
      "properties": {},
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaArchiveCustomMetricRequest": {
      "properties": {},
      "description": "Request message for ArchiveCustomMetric RPC.",
      "id": "GoogleAnalyticsAdminV1alphaArchiveCustomMetricRequest",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaApproveDisplayVideo360AdvertiserLinkProposalResponse": {
      "description": "Response message for ApproveDisplayVideo360AdvertiserLinkProposal RPC.",
      "properties": {
        "displayVideo360AdvertiserLink": {
          "$ref": "GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLink",
          "description": "The DisplayVideo360AdvertiserLink created as a result of approving the proposal."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaApproveDisplayVideo360AdvertiserLinkProposalResponse",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaKeyEventDefaultValue": {
      "description": "Defines a default value/currency for a key event.",
      "properties": {
        "numericValue": {
          "description": "Required. This will be used to populate the \"value\" parameter for all occurrences of this Key Event (specified by event_name) where that parameter is unset.",
          "format": "double",
          "type": "number"
        },
        "currencyCode": {
          "description": "Required. When an occurrence of this Key Event (specified by event_name) has no set currency this currency will be applied as the default. Must be in ISO 4217 currency code format. See https://en.wikipedia.org/wiki/ISO_4217 for more information.",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaKeyEventDefaultValue",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaProvisionAccountTicketResponse": {
      "id": "GoogleAnalyticsAdminV1alphaProvisionAccountTicketResponse",
      "properties": {
        "accountTicketId": {
          "type": "string",
          "description": "The param to be passed in the ToS link."
        }
      },
      "type": "object",
      "description": "Response message for ProvisionAccountTicket RPC."
    },
    "GoogleAnalyticsAdminV1alphaChannelGroupFilterInListFilter": {
      "id": "GoogleAnalyticsAdminV1alphaChannelGroupFilterInListFilter",
      "description": "A filter for a string dimension that matches a particular list of options. The match is case insensitive.",
      "properties": {
        "values": {
          "type": "array",
          "description": "Required. The list of possible string values to match against. Must be non-empty.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaBatchCreateAccessBindingsRequest": {
      "description": "Request message for BatchCreateAccessBindings RPC.",
      "type": "object",
      "properties": {
        "requests": {
          "description": "Required. The requests specifying the access bindings to create. A maximum of 1000 access bindings can be created in a batch.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaCreateAccessBindingRequest"
          },
          "type": "array"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaBatchCreateAccessBindingsRequest"
    },
    "GoogleAnalyticsAdminV1alphaListAccountsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "accounts": {
          "type": "array",
          "description": "Results that were accessible to the caller.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccount"
          }
        }
      },
      "description": "Request message for ListAccounts RPC.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaListAccountsResponse"
    },
    "GoogleAnalyticsAdminV1alphaListSearchAds360LinksResponse": {
      "id": "GoogleAnalyticsAdminV1alphaListSearchAds360LinksResponse",
      "type": "object",
      "properties": {
        "searchAds360Links": {
          "type": "array",
          "description": "List of SearchAds360Links.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaSearchAds360Link"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for ListSearchAds360Links RPC."
    },
    "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterNumericValue": {
      "properties": {
        "int64Value": {
          "type": "string",
          "format": "int64",
          "description": "Integer value."
        },
        "doubleValue": {
          "format": "double",
          "description": "Double value.",
          "type": "number"
        }
      },
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterNumericValue",
      "description": "To represent a number."
    },
    "GoogleAnalyticsAdminV1alphaReorderEventEditRulesRequest": {
      "properties": {
        "eventEditRules": {
          "description": "Required. EventEditRule resource names for the specified data stream, in the needed processing order. All EventEditRules for the stream must be present in the list.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Request message for ReorderEventEditRules RPC.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaReorderEventEditRulesRequest"
    },
    "GoogleAnalyticsAdminV1alphaListCustomDimensionsResponse": {
      "description": "Response message for ListCustomDimensions RPC.",
      "id": "GoogleAnalyticsAdminV1alphaListCustomDimensionsResponse",
      "type": "object",
      "properties": {
        "customDimensions": {
          "description": "List of CustomDimensions.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaCustomDimension"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaEventCreateRule": {
      "properties": {
        "eventConditions": {
          "type": "array",
          "description": "Required. Must have at least one condition, and can have up to 10 max. Conditions on the source event must match for this rule to be applied.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaMatchingCondition"
          }
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Resource name for this EventCreateRule resource. Format: properties/{property}/dataStreams/{data_stream}/eventCreateRules/{event_create_rule}",
          "type": "string"
        },
        "sourceCopyParameters": {
          "description": "If true, the source parameters are copied to the new event. If false, or unset, all non-internal parameters are not copied from the source event. Parameter mutations are applied after the parameters have been copied.",
          "type": "boolean"
        },
        "parameterMutations": {
          "description": "Parameter mutations define parameter behavior on the new event, and are applied in order. A maximum of 20 mutations can be applied.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaParameterMutation"
          },
          "type": "array"
        },
        "destinationEvent": {
          "description": "Required. The name of the new event to be created. This value must: * be less than 40 characters * consist only of letters, digits or _ (underscores) * start with a letter",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaEventCreateRule",
      "type": "object",
      "description": "An Event Create Rule defines conditions that will trigger the creation of an entirely new event based upon matched criteria of a source event. Additional mutations of the parameters from the source event can be defined. Unlike Event Edit rules, Event Creation Rules have no defined order. They will all be run independently. Event Edit and Event Create rules can't be used to modify an event created from an Event Create rule."
    },
    "GoogleAnalyticsAdminV1alphaEventEditRule": {
      "description": "An Event Edit Rule defines conditions that will trigger the creation of an entirely new event based upon matched criteria of a source event. Additional mutations of the parameters from the source event can be defined. Unlike Event Create rules, Event Edit Rules are applied in their defined order. Event Edit rules can't be used to modify an event created from an Event Create rule.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaEventEditRule",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Required. The display name of this event edit rule. Maximum of 255 characters."
        },
        "name": {
          "description": "Identifier. Resource name for this EventEditRule resource. Format: properties/{property}/dataStreams/{data_stream}/eventEditRules/{event_edit_rule}",
          "type": "string"
        },
        "processingOrder": {
          "format": "int64",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The order for which this rule will be processed. Rules with an order value lower than this will be processed before this rule, rules with an order value higher than this will be processed after this rule. New event edit rules will be assigned an order value at the end of the order. This value does not apply to event create rules."
        },
        "eventConditions": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaMatchingCondition"
          },
          "type": "array",
          "description": "Required. Conditions on the source event must match for this rule to be applied. Must have at least one condition, and can have up to 10 max."
        },
        "parameterMutations": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaParameterMutation"
          },
          "description": "Required. Parameter mutations define parameter behavior on the new event, and are applied in order. A maximum of 20 mutations can be applied."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterNumericFilter": {
      "type": "object",
      "properties": {
        "operation": {
          "enum": [
            "OPERATION_UNSPECIFIED",
            "EQUAL",
            "LESS_THAN",
            "GREATER_THAN"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Equal.",
            "Less than.",
            "Greater than."
          ],
          "type": "string",
          "description": "Required. The operation applied to a numeric filter."
        },
        "value": {
          "description": "Required. The numeric or date value to match against.",
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterNumericValue"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterNumericFilter",
      "description": "A filter for numeric or date values on a dimension or metric."
    },
    "GoogleAnalyticsAdminV1alphaAudienceFilterExpressionList": {
      "description": "A list of Audience filter expressions.",
      "type": "object",
      "properties": {
        "filterExpressions": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAudienceFilterExpression"
          },
          "description": "A list of Audience filter expressions.",
          "type": "array"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaAudienceFilterExpressionList"
    },
    "GoogleAnalyticsAdminV1alphaUpdateAccessBindingRequest": {
      "id": "GoogleAnalyticsAdminV1alphaUpdateAccessBindingRequest",
      "properties": {
        "accessBinding": {
          "$ref": "GoogleAnalyticsAdminV1alphaAccessBinding",
          "description": "Required. The access binding to update."
        }
      },
      "type": "object",
      "description": "Request message for UpdateAccessBinding RPC."
    },
    "GoogleAnalyticsAdminV1alphaSearchChangeHistoryEventsRequest": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaSearchChangeHistoryEventsRequest",
      "description": "Request message for SearchChangeHistoryEvents RPC.",
      "properties": {
        "action": {
          "items": {
            "enumDescriptions": [
              "Action type unknown or not specified.",
              "Resource was created in this change.",
              "Resource was updated in this change.",
              "Resource was deleted in this change."
            ],
            "type": "string",
            "enum": [
              "ACTION_TYPE_UNSPECIFIED",
              "CREATED",
              "UPDATED",
              "DELETED"
            ]
          },
          "description": "Optional. If set, only return changes that match one or more of these types of actions.",
          "type": "array"
        },
        "pageToken": {
          "description": "Optional. A page token, received from a previous `SearchChangeHistoryEvents` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `SearchChangeHistoryEvents` must match the call that provided the page token.",
          "type": "string"
        },
        "latestChangeTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. If set, only return changes made before this time (inclusive)."
        },
        "earliestChangeTime": {
          "description": "Optional. If set, only return changes made after this time (inclusive).",
          "type": "string",
          "format": "google-datetime"
        },
        "resourceType": {
          "description": "Optional. If set, only return changes if they are for a resource that matches at least one of these types.",
          "items": {
            "enum": [
              "CHANGE_HISTORY_RESOURCE_TYPE_UNSPECIFIED",
              "ACCOUNT",
              "PROPERTY",
              "FIREBASE_LINK",
              "GOOGLE_ADS_LINK",
              "GOOGLE_SIGNALS_SETTINGS",
              "CONVERSION_EVENT",
              "MEASUREMENT_PROTOCOL_SECRET",
              "CUSTOM_DIMENSION",
              "CUSTOM_METRIC",
              "DATA_RETENTION_SETTINGS",
              "DISPLAY_VIDEO_360_ADVERTISER_LINK",
              "DISPLAY_VIDEO_360_ADVERTISER_LINK_PROPOSAL",
              "SEARCH_ADS_360_LINK",
              "DATA_STREAM",
              "ATTRIBUTION_SETTINGS",
              "EXPANDED_DATA_SET",
              "CHANNEL_GROUP",
              "BIGQUERY_LINK",
              "ENHANCED_MEASUREMENT_SETTINGS",
              "DATA_REDACTION_SETTINGS",
              "SKADNETWORK_CONVERSION_VALUE_SCHEMA",
              "ADSENSE_LINK",
              "AUDIENCE",
              "EVENT_CREATE_RULE",
              "KEY_EVENT",
              "CALCULATED_METRIC",
              "REPORTING_DATA_ANNOTATION",
              "SUBPROPERTY_SYNC_CONFIG",
              "REPORTING_IDENTITY_SETTINGS",
              "USER_PROVIDED_DATA_SETTINGS"
            ],
            "enumDescriptions": [
              "Resource type unknown or not specified.",
              "Account resource",
              "Property resource",
              "FirebaseLink resource",
              "GoogleAdsLink resource",
              "GoogleSignalsSettings resource",
              "ConversionEvent resource",
              "MeasurementProtocolSecret resource",
              "CustomDimension resource",
              "CustomMetric resource",
              "DataRetentionSettings resource",
              "DisplayVideo360AdvertiserLink resource",
              "DisplayVideo360AdvertiserLinkProposal resource",
              "SearchAds360Link resource",
              "DataStream resource",
              "AttributionSettings resource",
              "ExpandedDataSet resource",
              "ChannelGroup resource",
              "BigQuery link resource",
              "EnhancedMeasurementSettings resource",
              "DataRedactionSettings resource",
              "SKAdNetworkConversionValueSchema resource",
              "AdSenseLink resource",
              "Audience resource",
              "EventCreateRule resource",
              "KeyEvent resource",
              "CalculatedMetric resource",
              "ReportingDataAnnotation resource",
              "SubpropertySyncConfig resource",
              "ReportingIdentitySettings resource",
              "UserProvidedDataSettings resource"
            ],
            "type": "string"
          },
          "type": "array"
        },
        "pageSize": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The maximum number of ChangeHistoryEvent items to return. If unspecified, at most 50 items will be returned. The maximum value is 200 (higher values will be coerced to the maximum). Note that the service may return a page with fewer items than this value specifies (potentially even zero), and that there still may be additional pages. If you want a particular number of items, you'll need to continue requesting additional pages using `page_token` until you get the needed number."
        },
        "actorEmail": {
          "description": "Optional. If set, only return changes if they are made by a user in this list.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "property": {
          "type": "string",
          "description": "Optional. Resource name for a child property. If set, only return changes made to this property or its child resources. Format: properties/{propertyId} Example: `properties/100`"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaReportingDataAnnotation": {
      "description": "A Reporting Data Annotation is a comment connected to certain dates for reporting data.",
      "id": "GoogleAnalyticsAdminV1alphaReportingDataAnnotation",
      "properties": {
        "description": {
          "description": "Optional. Description for this Reporting Data Annotation.",
          "type": "string"
        },
        "annotationDate": {
          "$ref": "GoogleTypeDate",
          "description": "If set, the Reporting Data Annotation is for a specific date represented by this field. The date must be a valid date with year, month and day set. The date may be in the past, present, or future."
        },
        "systemGenerated": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. If true, this annotation was generated by the Google Analytics system. System-generated annotations cannot be updated or deleted."
        },
        "name": {
          "type": "string",
          "description": "Required. Identifier. Resource name of this Reporting Data Annotation. Format: 'properties/{property_id}/reportingDataAnnotations/{reporting_data_annotation}' Format: 'properties/123/reportingDataAnnotations/456'"
        },
        "annotationDateRange": {
          "description": "If set, the Reporting Data Annotation is for a range of dates represented by this field.",
          "$ref": "GoogleAnalyticsAdminV1alphaReportingDataAnnotationDateRange"
        },
        "color": {
          "enumDescriptions": [
            "Color unknown or not specified.",
            "Purple color.",
            "Brown color.",
            "Blue color.",
            "Green color.",
            "Red color.",
            "Cyan color.",
            "Orange color. (Only used for system-generated annotations)"
          ],
          "type": "string",
          "description": "Required. The color used for display of this Reporting Data Annotation.",
          "enum": [
            "COLOR_UNSPECIFIED",
            "PURPLE",
            "BROWN",
            "BLUE",
            "GREEN",
            "RED",
            "CYAN",
            "ORANGE"
          ]
        },
        "title": {
          "type": "string",
          "description": "Required. Human-readable title for this Reporting Data Annotation."
        }
      },
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaBatchGetAccessBindingsResponse": {
      "id": "GoogleAnalyticsAdminV1alphaBatchGetAccessBindingsResponse",
      "description": "Response message for BatchGetAccessBindings RPC.",
      "type": "object",
      "properties": {
        "accessBindings": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccessBinding"
          },
          "type": "array",
          "description": "The requested access bindings."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaListMeasurementProtocolSecretsResponse": {
      "id": "GoogleAnalyticsAdminV1alphaListMeasurementProtocolSecretsResponse",
      "description": "Response message for ListMeasurementProtocolSecret RPC",
      "properties": {
        "measurementProtocolSecrets": {
          "description": "A list of secrets for the parent stream specified in the request.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaMeasurementProtocolSecret"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaListFirebaseLinksResponse": {
      "description": "Response message for ListFirebaseLinks RPC",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaListFirebaseLinksResponse",
      "properties": {
        "firebaseLinks": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaFirebaseLink"
          },
          "description": "List of FirebaseLinks. This will have at most one value.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages. Currently, Google Analytics supports only one FirebaseLink per property, so this will never be populated."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaListSubpropertySyncConfigsResponse": {
      "properties": {
        "subpropertySyncConfigs": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaSubpropertySyncConfig"
          },
          "type": "array",
          "description": "List of `SubpropertySyncConfig` resources."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "description": "Response message for ListSubpropertySyncConfigs RPC.",
      "id": "GoogleAnalyticsAdminV1alphaListSubpropertySyncConfigsResponse",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaListGoogleAdsLinksResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "googleAdsLinks": {
          "type": "array",
          "description": "List of GoogleAdsLinks.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaGoogleAdsLink"
          }
        }
      },
      "description": "Response message for ListGoogleAdsLinks RPC.",
      "id": "GoogleAnalyticsAdminV1alphaListGoogleAdsLinksResponse",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaListEventCreateRulesResponse": {
      "description": "Response message for ListEventCreateRules RPC.",
      "type": "object",
      "properties": {
        "eventCreateRules": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaEventCreateRule"
          },
          "type": "array",
          "description": "List of EventCreateRules. These will be ordered stably, but in an arbitrary order."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaListEventCreateRulesResponse"
    },
    "GoogleAnalyticsAdminV1alphaAccessDimension": {
      "description": "Dimensions are attributes of your data. For example, the dimension `userEmail` indicates the email of the user that accessed reporting data. Dimension values in report responses are strings.",
      "properties": {
        "dimensionName": {
          "type": "string",
          "description": "The API name of the dimension. See [Data Access Schema](https://developers.google.com/analytics/devguides/config/admin/v1/access-api-schema) for the list of dimensions supported in this API. Dimensions are referenced by name in `dimensionFilter` and `orderBys`."
        }
      },
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaAccessDimension"
    },
    "GoogleAnalyticsAdminV1alphaDataStreamIosAppStreamData": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaDataStreamIosAppStreamData",
      "properties": {
        "firebaseAppId": {
          "description": "Output only. ID of the corresponding iOS app in Firebase, if any. This ID can change if the iOS app is deleted and recreated.",
          "type": "string",
          "readOnly": true
        },
        "bundleId": {
          "type": "string",
          "description": "Required. Immutable. The Apple App Store Bundle ID for the app Example: \"com.example.myiosapp\""
        }
      },
      "description": "Data specific to iOS app streams."
    },
    "GoogleAnalyticsAdminV1alphaAccessFilterExpressionList": {
      "properties": {
        "expressions": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccessFilterExpression"
          },
          "description": "A list of filter expressions."
        }
      },
      "type": "object",
      "description": "A list of filter expressions.",
      "id": "GoogleAnalyticsAdminV1alphaAccessFilterExpressionList"
    },
    "GoogleAnalyticsAdminV1alphaAccessStringFilter": {
      "id": "GoogleAnalyticsAdminV1alphaAccessStringFilter",
      "description": "The filter for strings.",
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "description": "The string value used for the matching."
        },
        "caseSensitive": {
          "type": "boolean",
          "description": "If true, the string value is case sensitive."
        },
        "matchType": {
          "description": "The match type for this filter.",
          "enumDescriptions": [
            "Unspecified",
            "Exact match of the string value.",
            "Begins with the string value.",
            "Ends with the string value.",
            "Contains the string value.",
            "Full match for the regular expression with the string value.",
            "Partial match for the regular expression with the string value."
          ],
          "enum": [
            "MATCH_TYPE_UNSPECIFIED",
            "EXACT",
            "BEGINS_WITH",
            "ENDS_WITH",
            "CONTAINS",
            "FULL_REGEXP",
            "PARTIAL_REGEXP"
          ],
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterExpression": {
      "description": "A logical expression of Subproperty event filters.",
      "properties": {
        "filterCondition": {
          "$ref": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterCondition",
          "description": "Creates a filter that matches a specific event. This cannot be set on the top level SubpropertyEventFilterExpression."
        },
        "notExpression": {
          "$ref": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterExpression",
          "description": "A filter expression to be NOT'ed (inverted, complemented). It can only include a filter. This cannot be set on the top level SubpropertyEventFilterExpression."
        },
        "orGroup": {
          "$ref": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterExpressionList",
          "description": "A list of expressions to OR’ed together. Must only contain not_expression or filter_condition expressions."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterExpression",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaLinkProposalStatusDetails": {
      "properties": {
        "requestorEmail": {
          "description": "Output only. The email address of the user that proposed this linkage.",
          "readOnly": true,
          "type": "string"
        },
        "linkProposalInitiatingProduct": {
          "enum": [
            "LINK_PROPOSAL_INITIATING_PRODUCT_UNSPECIFIED",
            "GOOGLE_ANALYTICS",
            "LINKED_PRODUCT"
          ],
          "description": "Output only. The source of this proposal.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified product.",
            "This proposal was created by a user from Google Analytics.",
            "This proposal was created by a user from a linked product (not Google Analytics)."
          ]
        },
        "linkProposalState": {
          "description": "Output only. The state of this proposal.",
          "enum": [
            "LINK_PROPOSAL_STATE_UNSPECIFIED",
            "AWAITING_REVIEW_FROM_GOOGLE_ANALYTICS",
            "AWAITING_REVIEW_FROM_LINKED_PRODUCT",
            "WITHDRAWN",
            "DECLINED",
            "EXPIRED",
            "OBSOLETE"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unspecified state",
            "This proposal is awaiting review from a Google Analytics user. This proposal will automatically expire after some time.",
            "This proposal is awaiting review from a user of a linked product. This proposal will automatically expire after some time.",
            "This proposal has been withdrawn by an admin on the initiating product. This proposal will be automatically deleted after some time.",
            "This proposal has been declined by an admin on the receiving product. This proposal will be automatically deleted after some time.",
            "This proposal expired due to lack of response from an admin on the receiving product. This proposal will be automatically deleted after some time.",
            "This proposal has become obsolete because a link was directly created to the same external product resource that this proposal specifies. This proposal will be automatically deleted after some time."
          ]
        }
      },
      "type": "object",
      "description": "Status information for a link proposal.",
      "id": "GoogleAnalyticsAdminV1alphaLinkProposalStatusDetails"
    },
    "GoogleAnalyticsAdminV1alphaDataSharingSettings": {
      "type": "object",
      "properties": {
        "sharingWithGoogleAssignedSalesEnabled": {
          "description": "Allows Google access to your Google Analytics account data, including account usage and configuration data, product spending, and users associated with your Google Analytics account, so that Google can help you make the most of Google products, providing you with insights, offers, recommendations, and optimization tips across Google Analytics and other Google products for business. This field maps to the \"Recommendations for your business\" field in the Google Analytics Admin UI.",
          "type": "boolean"
        },
        "sharingWithGoogleSupportEnabled": {
          "description": "Allows Google technical support representatives access to your Google Analytics data and account when necessary to provide service and find solutions to technical issues. This field maps to the \"Technical support\" field in the Google Analytics Admin UI.",
          "type": "boolean"
        },
        "sharingWithGoogleAnySalesEnabled": {
          "deprecated": true,
          "description": "Deprecated. This field is no longer used and always returns false.",
          "type": "boolean"
        },
        "name": {
          "description": "Identifier. Resource name. Format: accounts/{account}/dataSharingSettings Example: \"accounts/1000/dataSharingSettings\"",
          "type": "string"
        },
        "sharingWithOthersEnabled": {
          "description": "Enable features like predictions, modeled data, and benchmarking that can provide you with richer business insights when you contribute aggregated measurement data. The data you share (including information about the property from which it is shared) is aggregated and de-identified before being used to generate business insights. This field maps to the \"Modeling contributions & business insights\" field in the Google Analytics Admin UI.",
          "type": "boolean"
        },
        "sharingWithGoogleProductsEnabled": {
          "type": "boolean",
          "description": "Allows Google to use the data to improve other Google products or services. This fields maps to the \"Google products & services\" field in the Google Analytics Admin UI."
        }
      },
      "description": "A resource message representing data sharing settings of a Google Analytics account.",
      "id": "GoogleAnalyticsAdminV1alphaDataSharingSettings"
    },
    "GoogleAnalyticsAdminV1alphaMeasurementProtocolSecret": {
      "properties": {
        "secretValue": {
          "description": "Output only. The measurement protocol secret value. Pass this value to the api_secret field of the Measurement Protocol API when sending hits to this secret's parent property.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Resource name of this secret. This secret may be a child of any type of stream. Format: properties/{property}/dataStreams/{dataStream}/measurementProtocolSecrets/{measurementProtocolSecret}"
        },
        "displayName": {
          "description": "Required. Human-readable display name for this secret.",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaMeasurementProtocolSecret",
      "type": "object",
      "description": "A secret value used for sending hits to Measurement Protocol."
    },
    "GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLink": {
      "type": "object",
      "properties": {
        "campaignDataSharingEnabled": {
          "type": "boolean",
          "description": "Immutable. Enables the import of campaign data from Display & Video 360 into the Google Analytics property. After link creation, this can only be updated from the Display & Video 360 product. If this field is not set on create, it will be defaulted to true."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name for this DisplayVideo360AdvertiserLink resource. Format: properties/{propertyId}/displayVideo360AdvertiserLinks/{linkId} Note: linkId is not the Display & Video 360 Advertiser ID"
        },
        "costDataSharingEnabled": {
          "type": "boolean",
          "description": "Immutable. Enables the import of cost data from Display & Video 360 into the Google Analytics property. This can only be enabled if `campaign_data_sharing_enabled` is true. After link creation, this can only be updated from the Display & Video 360 product. If this field is not set on create, it will be defaulted to true."
        },
        "adsPersonalizationEnabled": {
          "type": "boolean",
          "description": "Enables personalized advertising features with this integration. If this field is not set on create/update, it will be defaulted to true."
        },
        "advertiserId": {
          "description": "Immutable. The Display & Video 360 Advertiser's advertiser ID.",
          "type": "string"
        },
        "advertiserDisplayName": {
          "description": "Output only. The display name of the Display & Video 360 Advertiser.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLink",
      "description": "A link between a Google Analytics property and a Display & Video 360 advertiser."
    },
    "GoogleAnalyticsAdminV1alphaAccessRow": {
      "description": "Access report data for each row.",
      "type": "object",
      "properties": {
        "dimensionValues": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccessDimensionValue"
          },
          "description": "List of dimension values. These values are in the same order as specified in the request.",
          "type": "array"
        },
        "metricValues": {
          "description": "List of metric values. These values are in the same order as specified in the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccessMetricValue"
          }
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaAccessRow"
    },
    "GoogleAnalyticsAdminV1alphaDataRetentionSettings": {
      "id": "GoogleAnalyticsAdminV1alphaDataRetentionSettings",
      "description": "Settings values for data retention. This is a singleton resource.",
      "properties": {
        "eventDataRetention": {
          "description": "Required. The length of time that event-level data is retained.",
          "enum": [
            "RETENTION_DURATION_UNSPECIFIED",
            "TWO_MONTHS",
            "FOURTEEN_MONTHS",
            "TWENTY_SIX_MONTHS",
            "THIRTY_EIGHT_MONTHS",
            "FIFTY_MONTHS"
          ],
          "enumDescriptions": [
            "Data retention time duration is not specified.",
            "The data retention time duration is 2 months.",
            "The data retention time duration is 14 months.",
            "The data retention time duration is 26 months. Available to 360 properties only. Available for event data only.",
            "The data retention time duration is 38 months. Available to 360 properties only. Available for event data only.",
            "The data retention time duration is 50 months. Available to 360 properties only. Available for event data only."
          ],
          "type": "string"
        },
        "userDataRetention": {
          "enumDescriptions": [
            "Data retention time duration is not specified.",
            "The data retention time duration is 2 months.",
            "The data retention time duration is 14 months.",
            "The data retention time duration is 26 months. Available to 360 properties only. Available for event data only.",
            "The data retention time duration is 38 months. Available to 360 properties only. Available for event data only.",
            "The data retention time duration is 50 months. Available to 360 properties only. Available for event data only."
          ],
          "type": "string",
          "description": "Required. The length of time that user-level data is retained.",
          "enum": [
            "RETENTION_DURATION_UNSPECIFIED",
            "TWO_MONTHS",
            "FOURTEEN_MONTHS",
            "TWENTY_SIX_MONTHS",
            "THIRTY_EIGHT_MONTHS",
            "FIFTY_MONTHS"
          ]
        },
        "name": {
          "type": "string",
          "description": "Identifier. Resource name for this DataRetentionSetting resource. Format: properties/{property}/dataRetentionSettings"
        },
        "resetUserDataOnNewActivity": {
          "description": "If true, reset the retention period for the user identifier with every event from that user.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaExpandedDataSetFilterExpression": {
      "description": "A logical expression of EnhancedDataSet dimension filters.",
      "properties": {
        "filter": {
          "description": "A filter on a single dimension. This cannot be set on the top level ExpandedDataSetFilterExpression.",
          "$ref": "GoogleAnalyticsAdminV1alphaExpandedDataSetFilter"
        },
        "andGroup": {
          "$ref": "GoogleAnalyticsAdminV1alphaExpandedDataSetFilterExpressionList",
          "description": "A list of expressions to be AND’ed together. It must contain a ExpandedDataSetFilterExpression with either not_expression or dimension_filter. This must be set for the top level ExpandedDataSetFilterExpression."
        },
        "notExpression": {
          "$ref": "GoogleAnalyticsAdminV1alphaExpandedDataSetFilterExpression",
          "description": "A filter expression to be NOT'ed (that is, inverted, complemented). It must include a dimension_filter. This cannot be set on the top level ExpandedDataSetFilterExpression."
        }
      },
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaExpandedDataSetFilterExpression"
    },
    "GoogleAnalyticsAdminV1alphaNumericValue": {
      "description": "To represent a number.",
      "id": "GoogleAnalyticsAdminV1alphaNumericValue",
      "type": "object",
      "properties": {
        "int64Value": {
          "format": "int64",
          "type": "string",
          "description": "Integer value"
        },
        "doubleValue": {
          "type": "number",
          "description": "Double value",
          "format": "double"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaAudienceEventTrigger": {
      "properties": {
        "logCondition": {
          "enumDescriptions": [
            "Log condition is not specified.",
            "The event should be logged only when a user is joined.",
            "The event should be logged whenever the Audience condition is met, even if the user is already a member of the Audience."
          ],
          "type": "string",
          "description": "Required. When to log the event.",
          "enum": [
            "LOG_CONDITION_UNSPECIFIED",
            "AUDIENCE_JOINED",
            "AUDIENCE_MEMBERSHIP_RENEWED"
          ]
        },
        "eventName": {
          "description": "Required. The event name that will be logged.",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaAudienceEventTrigger",
      "type": "object",
      "description": "Specifies an event to log when a user joins the Audience."
    },
    "GoogleAnalyticsAdminV1alphaBatchUpdateAccessBindingsRequest": {
      "properties": {
        "requests": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaUpdateAccessBindingRequest"
          },
          "type": "array",
          "description": "Required. The requests specifying the access bindings to update. A maximum of 1000 access bindings can be updated in a batch."
        }
      },
      "type": "object",
      "description": "Request message for BatchUpdateAccessBindings RPC.",
      "id": "GoogleAnalyticsAdminV1alphaBatchUpdateAccessBindingsRequest"
    },
    "GoogleAnalyticsAdminV1alphaGoogleAdsLink": {
      "description": "A link between a Google Analytics property and a Google Ads account.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaGoogleAdsLink",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Time when this link was originally created."
        },
        "customerId": {
          "type": "string",
          "description": "Immutable. Google Ads customer ID."
        },
        "name": {
          "description": "Identifier. Format: properties/{propertyId}/googleAdsLinks/{googleAdsLinkId} Note: googleAdsLinkId is not the Google Ads customer ID.",
          "type": "string"
        },
        "canManageClients": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. If true, this link is for a Google Ads manager account."
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time when this link was last updated."
        },
        "adsPersonalizationEnabled": {
          "description": "Enable personalized advertising features with this integration. Automatically publish my Google Analytics audience lists and Google Analytics remarketing events/parameters to the linked Google Ads account. If this field is not set on create/update, it will be defaulted to true.",
          "type": "boolean"
        },
        "creatorEmailAddress": {
          "description": "Output only. Email address of the user that created the link. An empty string will be returned if the email address can't be retrieved.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaAudienceFilterClause": {
      "type": "object",
      "properties": {
        "simpleFilter": {
          "description": "A simple filter that a user must satisfy to be a member of the Audience.",
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceSimpleFilter"
        },
        "sequenceFilter": {
          "description": "Filters that must occur in a specific order for the user to be a member of the Audience.",
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceSequenceFilter"
        },
        "clauseType": {
          "enum": [
            "AUDIENCE_CLAUSE_TYPE_UNSPECIFIED",
            "INCLUDE",
            "EXCLUDE"
          ],
          "description": "Required. Specifies whether this is an include or exclude filter clause.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified clause type.",
            "Users will be included in the Audience if the filter clause is met.",
            "Users will be excluded from the Audience if the filter clause is met."
          ]
        }
      },
      "description": "A clause for defining either a simple or sequence filter. A filter can be inclusive (For example, users satisfying the filter clause are included in the Audience) or exclusive (For example, users satisfying the filter clause are excluded from the Audience).",
      "id": "GoogleAnalyticsAdminV1alphaAudienceFilterClause"
    },
    "GoogleAnalyticsAdminV1alphaAudienceSequenceFilter": {
      "properties": {
        "sequenceMaximumDuration": {
          "type": "string",
          "description": "Optional. Defines the time period in which the whole sequence must occur.",
          "format": "google-duration"
        },
        "sequenceSteps": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAudienceSequenceFilterAudienceSequenceStep"
          },
          "description": "Required. An ordered sequence of steps. A user must complete each step in order to join the sequence filter."
        },
        "scope": {
          "type": "string",
          "enum": [
            "AUDIENCE_FILTER_SCOPE_UNSPECIFIED",
            "AUDIENCE_FILTER_SCOPE_WITHIN_SAME_EVENT",
            "AUDIENCE_FILTER_SCOPE_WITHIN_SAME_SESSION",
            "AUDIENCE_FILTER_SCOPE_ACROSS_ALL_SESSIONS"
          ],
          "enumDescriptions": [
            "Scope is not specified.",
            "User joins the Audience if the filter condition is met within one event.",
            "User joins the Audience if the filter condition is met within one session.",
            "User joins the Audience if the filter condition is met by any event across any session."
          ],
          "description": "Required. Immutable. Specifies the scope for this filter."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaAudienceSequenceFilter",
      "type": "object",
      "description": "Defines filters that must occur in a specific order for the user to be a member of the Audience."
    },
    "GoogleAnalyticsAdminV1alphaAccessFilterExpression": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaAccessFilterExpression",
      "properties": {
        "notExpression": {
          "$ref": "GoogleAnalyticsAdminV1alphaAccessFilterExpression",
          "description": "The FilterExpression is NOT of not_expression."
        },
        "accessFilter": {
          "$ref": "GoogleAnalyticsAdminV1alphaAccessFilter",
          "description": "A primitive filter. In the same FilterExpression, all of the filter's field names need to be either all dimensions or all metrics."
        },
        "andGroup": {
          "description": "Each of the FilterExpressions in the and_group has an AND relationship.",
          "$ref": "GoogleAnalyticsAdminV1alphaAccessFilterExpressionList"
        },
        "orGroup": {
          "description": "Each of the FilterExpressions in the or_group has an OR relationship.",
          "$ref": "GoogleAnalyticsAdminV1alphaAccessFilterExpressionList"
        }
      },
      "description": "Expresses dimension or metric filters. The fields in the same expression need to be either all dimensions or all metrics."
    },
    "GoogleAnalyticsAdminV1alphaListDisplayVideo360AdvertiserLinksResponse": {
      "id": "GoogleAnalyticsAdminV1alphaListDisplayVideo360AdvertiserLinksResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "displayVideo360AdvertiserLinks": {
          "type": "array",
          "description": "List of DisplayVideo360AdvertiserLinks.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLink"
          }
        }
      },
      "description": "Response message for ListDisplayVideo360AdvertiserLinks RPC.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaAccessOrderBy": {
      "description": "Order bys define how rows will be sorted in the response. For example, ordering rows by descending access count is one ordering, and ordering rows by the country string is a different ordering.",
      "type": "object",
      "properties": {
        "desc": {
          "description": "If true, sorts by descending order. If false or unspecified, sorts in ascending order.",
          "type": "boolean"
        },
        "metric": {
          "description": "Sorts results by a metric's values.",
          "$ref": "GoogleAnalyticsAdminV1alphaAccessOrderByMetricOrderBy"
        },
        "dimension": {
          "$ref": "GoogleAnalyticsAdminV1alphaAccessOrderByDimensionOrderBy",
          "description": "Sorts results by a dimension's values."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaAccessOrderBy"
    },
    "GoogleAnalyticsAdminV1alphaMatchingCondition": {
      "type": "object",
      "properties": {
        "comparisonType": {
          "description": "Required. The type of comparison to be applied to the value.",
          "enum": [
            "COMPARISON_TYPE_UNSPECIFIED",
            "EQUALS",
            "EQUALS_CASE_INSENSITIVE",
            "CONTAINS",
            "CONTAINS_CASE_INSENSITIVE",
            "STARTS_WITH",
            "STARTS_WITH_CASE_INSENSITIVE",
            "ENDS_WITH",
            "ENDS_WITH_CASE_INSENSITIVE",
            "GREATER_THAN",
            "GREATER_THAN_OR_EQUAL",
            "LESS_THAN",
            "LESS_THAN_OR_EQUAL",
            "REGULAR_EXPRESSION",
            "REGULAR_EXPRESSION_CASE_INSENSITIVE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown",
            "Equals, case sensitive",
            "Equals, case insensitive",
            "Contains, case sensitive",
            "Contains, case insensitive",
            "Starts with, case sensitive",
            "Starts with, case insensitive",
            "Ends with, case sensitive",
            "Ends with, case insensitive",
            "Greater than",
            "Greater than or equal",
            "Less than",
            "Less than or equal",
            "regular expression. Only supported for web streams.",
            "regular expression, case insensitive. Only supported for web streams."
          ]
        },
        "value": {
          "description": "Required. The value being compared against for this condition. The runtime implementation may perform type coercion of this value to evaluate this condition based on the type of the parameter value.",
          "type": "string"
        },
        "field": {
          "description": "Required. The name of the field that is compared against for the condition. If 'event_name' is specified this condition will apply to the name of the event. Otherwise the condition will apply to a parameter with the specified name. This value cannot contain spaces.",
          "type": "string"
        },
        "negated": {
          "description": "Whether or not the result of the comparison should be negated. For example, if `negated` is true, then 'equals' comparisons would function as 'not equals'.",
          "type": "boolean"
        }
      },
      "description": "Defines a condition for when an Event Edit or Event Creation rule applies to an event.",
      "id": "GoogleAnalyticsAdminV1alphaMatchingCondition"
    },
    "GoogleAnalyticsAdminV1alphaDataRedactionSettings": {
      "description": "Settings for client-side data redaction. Singleton resource under a Web Stream.",
      "type": "object",
      "properties": {
        "queryParameterKeys": {
          "type": "array",
          "description": "The query parameter keys to apply redaction logic to if present in the URL. Query parameter matching is case-insensitive. Must contain at least one element if query_parameter_replacement_enabled is true. Keys cannot contain commas.",
          "items": {
            "type": "string"
          }
        },
        "queryParameterRedactionEnabled": {
          "description": "Query Parameter redaction removes the key and value portions of a query parameter if it is in the configured set of query parameters. If enabled, URL query replacement logic will be run for the Stream. Any query parameters defined in query_parameter_keys will be redacted.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of this Data Redaction Settings resource. Format: properties/{property_id}/dataStreams/{data_stream}/dataRedactionSettings Example: \"properties/1000/dataStreams/2000/dataRedactionSettings\""
        },
        "emailRedactionEnabled": {
          "description": "If enabled, any event parameter or user property values that look like an email will be redacted.",
          "type": "boolean"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaDataRedactionSettings"
    },
    "GoogleAnalyticsAdminV1alphaGoogleSignalsSettings": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaGoogleSignalsSettings",
      "description": "Settings values for Google Signals. This is a singleton resource.",
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Resource name of this setting. Format: properties/{property_id}/googleSignalsSettings Example: \"properties/1000/googleSignalsSettings\""
        },
        "consent": {
          "enum": [
            "GOOGLE_SIGNALS_CONSENT_UNSPECIFIED",
            "GOOGLE_SIGNALS_CONSENT_CONSENTED",
            "GOOGLE_SIGNALS_CONSENT_NOT_CONSENTED"
          ],
          "enumDescriptions": [
            "Google Signals consent value defaults to GOOGLE_SIGNALS_CONSENT_UNSPECIFIED. This will be treated as GOOGLE_SIGNALS_CONSENT_NOT_CONSENTED.",
            "Terms of service have been accepted",
            "Terms of service have not been accepted"
          ],
          "readOnly": true,
          "description": "Output only. Terms of Service acceptance.",
          "type": "string"
        },
        "state": {
          "enum": [
            "GOOGLE_SIGNALS_STATE_UNSPECIFIED",
            "GOOGLE_SIGNALS_ENABLED",
            "GOOGLE_SIGNALS_DISABLED"
          ],
          "description": "Status of this setting.",
          "type": "string",
          "enumDescriptions": [
            "Google Signals status defaults to GOOGLE_SIGNALS_STATE_UNSPECIFIED to represent that the user has not made an explicit choice.",
            "Google Signals is enabled.",
            "Google Signals is disabled."
          ]
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaPropertySummary": {
      "properties": {
        "parent": {
          "description": "Resource name of this property's logical parent. Note: The Property-Moving UI can be used to change the parent. Format: accounts/{account}, properties/{property} Example: \"accounts/100\", \"properties/200\"",
          "type": "string"
        },
        "displayName": {
          "description": "Display name for the property referred to in this property summary.",
          "type": "string"
        },
        "canEdit": {
          "type": "boolean",
          "description": "If true, then the user has a Google Analytics role that permits them to edit the property."
        },
        "propertyType": {
          "enum": [
            "PROPERTY_TYPE_UNSPECIFIED",
            "PROPERTY_TYPE_ORDINARY",
            "PROPERTY_TYPE_SUBPROPERTY",
            "PROPERTY_TYPE_ROLLUP"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown or unspecified property type",
            "Ordinary Google Analytics property",
            "Google Analytics subproperty",
            "Google Analytics rollup property"
          ],
          "description": "The property's property type."
        },
        "property": {
          "description": "Resource name of property referred to by this property summary Format: properties/{property_id} Example: \"properties/1000\"",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaPropertySummary",
      "description": "A virtual resource representing metadata for a Google Analytics property.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaAccessInListFilter": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaAccessInListFilter",
      "properties": {
        "caseSensitive": {
          "type": "boolean",
          "description": "If true, the string value is case sensitive."
        },
        "values": {
          "type": "array",
          "description": "The list of string values. Must be non-empty.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "The result needs to be in a list of string values."
    },
    "GoogleAnalyticsAdminV1alphaBigQueryLink": {
      "description": "A link between a Google Analytics property and BigQuery project.",
      "properties": {
        "streamingExportEnabled": {
          "type": "boolean",
          "description": "If set true, enables streaming export to the linked Google Cloud project."
        },
        "excludedEvents": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The list of event names that will be excluded from exports."
        },
        "includeAdvertisingId": {
          "description": "If set true, exported data will include advertising identifiers for mobile app streams.",
          "type": "boolean"
        },
        "datasetLocation": {
          "type": "string",
          "description": "Required. Immutable. The geographic location where the created BigQuery dataset should reside. See https://cloud.google.com/bigquery/docs/locations for supported locations."
        },
        "dailyExportEnabled": {
          "description": "If set true, enables daily data export to the linked Google Cloud project.",
          "type": "boolean"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time when the link was created.",
          "format": "google-datetime"
        },
        "freshDailyExportEnabled": {
          "description": "If set true, enables fresh daily export to the linked Google Cloud project.",
          "type": "boolean"
        },
        "project": {
          "description": "Immutable. The linked Google Cloud project. When creating a BigQueryLink, you may provide this resource name using either a project number or project ID. Once this resource has been created, the returned project will always have a project that contains a project number. Format: 'projects/{project number}' Example: 'projects/1234'",
          "type": "string"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Resource name of this BigQuery link. Format: 'properties/{property_id}/bigQueryLinks/{bigquery_link_id}' Format: 'properties/1234/bigQueryLinks/abc567'"
        },
        "exportStreams": {
          "type": "array",
          "description": "The list of streams under the parent property for which data will be exported. Format: properties/{property_id}/dataStreams/{stream_id} Example: ['properties/1000/dataStreams/2000']",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaBigQueryLink",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaListAdSenseLinksResponse": {
      "description": "Response message for ListAdSenseLinks method.",
      "properties": {
        "adsenseLinks": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAdSenseLink"
          },
          "description": "List of AdSenseLinks."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaListAdSenseLinksResponse"
    },
    "GoogleAnalyticsAdminV1alphaSubmitUserDeletionRequest": {
      "properties": {
        "userId": {
          "description": "Google Analytics [user ID](https://firebase.google.com/docs/analytics/userid).",
          "type": "string"
        },
        "userProvidedData": {
          "description": "[User-provided data](https://support.google.com/analytics/answer/14077171). May contain either one email address or one phone number. Email addresses should be normalized as such: * lowercase * remove periods before @ for gmail.com/googlemail.com addresses * remove all spaces Phone numbers should be normalized as such: * remove all non digit characters * add + prefix",
          "type": "string"
        },
        "appInstanceId": {
          "type": "string",
          "description": "Firebase [application instance ID](https://firebase.google.com/docs/reference/android/com/google/firebase/analytics/FirebaseAnalytics.html#getAppInstanceId)."
        },
        "clientId": {
          "description": "Google Analytics [client ID](https://support.google.com/analytics/answer/11593727).",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaSubmitUserDeletionRequest",
      "description": "Request message for SubmitUserDeletion RPC.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaListCustomMetricsResponse": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaListCustomMetricsResponse",
      "properties": {
        "customMetrics": {
          "description": "List of CustomMetrics.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaCustomMetric"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for ListCustomMetrics RPC."
    },
    "GoogleAnalyticsAdminV1alphaCreateAccessBindingRequest": {
      "id": "GoogleAnalyticsAdminV1alphaCreateAccessBindingRequest",
      "type": "object",
      "properties": {
        "accessBinding": {
          "description": "Required. The access binding to create.",
          "$ref": "GoogleAnalyticsAdminV1alphaAccessBinding"
        },
        "parent": {
          "type": "string",
          "description": "Required. Formats: - accounts/{account} - properties/{property}"
        }
      },
      "description": "Request message for CreateAccessBinding RPC."
    },
    "GoogleAnalyticsAdminV1alphaChangeHistoryChange": {
      "properties": {
        "resource": {
          "description": "Resource name of the resource whose changes are described by this entry.",
          "type": "string"
        },
        "resourceAfterChange": {
          "description": "Resource contents from after the change was made. If this resource was deleted in this change, this field will be missing.",
          "$ref": "GoogleAnalyticsAdminV1alphaChangeHistoryChangeChangeHistoryResource"
        },
        "action": {
          "type": "string",
          "enumDescriptions": [
            "Action type unknown or not specified.",
            "Resource was created in this change.",
            "Resource was updated in this change.",
            "Resource was deleted in this change."
          ],
          "description": "The type of action that changed this resource.",
          "enum": [
            "ACTION_TYPE_UNSPECIFIED",
            "CREATED",
            "UPDATED",
            "DELETED"
          ]
        },
        "resourceBeforeChange": {
          "description": "Resource contents from before the change was made. If this resource was created in this change, this field will be missing.",
          "$ref": "GoogleAnalyticsAdminV1alphaChangeHistoryChangeChangeHistoryResource"
        }
      },
      "description": "A description of a change to a single Google Analytics resource.",
      "id": "GoogleAnalyticsAdminV1alphaChangeHistoryChange",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaSubmitUserDeletionResponse": {
      "properties": {
        "deletionRequestTime": {
          "format": "google-datetime",
          "description": "Marks the moment for which all visitor data before this point should be deleted. This is set to the time at which the deletion request was received.",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaSubmitUserDeletionResponse",
      "description": "Response message for SubmitUserDeletion RPC.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaAccessQuota": {
      "description": "Current state of all quotas for this Analytics property. If any quota for a property is exhausted, all requests to that property will return Resource Exhausted errors.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaAccessQuota",
      "properties": {
        "serverErrorsPerProjectPerHour": {
          "description": "Properties and cloud project pairs can have up to 50 server errors per hour.",
          "$ref": "GoogleAnalyticsAdminV1alphaAccessQuotaStatus"
        },
        "tokensPerHour": {
          "description": "Properties can use 50,000 tokens per hour. An API request consumes a single number of tokens, and that number is deducted from all of the hourly, daily, and per project hourly quotas.",
          "$ref": "GoogleAnalyticsAdminV1alphaAccessQuotaStatus"
        },
        "concurrentRequests": {
          "description": "Properties can use up to 50 concurrent requests.",
          "$ref": "GoogleAnalyticsAdminV1alphaAccessQuotaStatus"
        },
        "tokensPerDay": {
          "description": "Properties can use 250,000 tokens per day. Most requests consume fewer than 10 tokens.",
          "$ref": "GoogleAnalyticsAdminV1alphaAccessQuotaStatus"
        },
        "tokensPerProjectPerHour": {
          "$ref": "GoogleAnalyticsAdminV1alphaAccessQuotaStatus",
          "description": "Properties can use up to 25% of their tokens per project per hour. This amounts to Analytics 360 Properties can use 12,500 tokens per project per hour. An API request consumes a single number of tokens, and that number is deducted from all of the hourly, daily, and per project hourly quotas."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaSearchAds360Link": {
      "description": "A link between a Google Analytics property and a Search Ads 360 entity.",
      "properties": {
        "costDataSharingEnabled": {
[...]
