{
  "id": "analyticsadmin:v1alpha",
  "batchPath": "batch",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "mtlsRootUrl": "https://analyticsadmin.mtls.googleapis.com/",
  "kind": "discovery#restDescription",
  "baseUrl": "https://analyticsadmin.googleapis.com/",
  "basePath": "",
  "canonicalName": "Google Analytics Admin",
  "rootUrl": "https://analyticsadmin.googleapis.com/",
  "servicePath": "",
  "version": "v1alpha",
  "revision": "20260628",
  "version_module": true,
  "protocol": "rest",
  "ownerDomain": "google.com",
  "description": "Manage properties in Google Analytics. Warning: Creating multiple Customer Applications, Accounts, or Projects to simulate or act as a single Customer Application, Account, or Project (respectively) or to circumvent Service-specific usage limits or quotas is a direct violation of Google Cloud Platform Terms of Service as well as Google APIs Terms of Service. These actions can result in immediate termination of your GCP project(s) without any warning.",
  "title": "Google Analytics Admin API",
  "fullyEncodeReservedExpansion": true,
  "documentationLink": "http://code.google.com/apis/analytics/docs/mgmt/home.html",
  "name": "analyticsadmin",
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/analytics.readonly": {
          "description": "See and download your Google Analytics data"
        },
        "https://www.googleapis.com/auth/analytics.edit": {
          "description": "Edit Google Analytics management entities"
        },
        "https://www.googleapis.com/auth/analytics.manage.users": {
          "description": "Manage Google Analytics Account users by email address"
        },
        "https://www.googleapis.com/auth/analytics.manage.users.readonly": {
          "description": "View Google Analytics user permissions"
        }
      }
    }
  },
  "parameters": {
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "description": "Data format for response.",
      "location": "query",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true",
      "type": "boolean"
    }
  },
  "ownerName": "Google",
  "schemas": {
    "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterInListFilter": {
      "description": "A filter for a string dimension that matches a particular list of options.",
      "id": "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterInListFilter",
      "type": "object",
      "properties": {
        "values": {
          "description": "Required. The list of possible string values to match against. Must be non-empty.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "caseSensitive": {
          "description": "Optional. If true, the match is case-sensitive. If false, the match is case-insensitive.",
          "type": "boolean"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaAccessDimensionHeader": {
      "description": "Describes a dimension column in the report. Dimensions requested in a report produce column entries within rows and DimensionHeaders. However, dimensions used exclusively within filters or expressions do not produce columns in a report; correspondingly, those dimensions do not produce headers.",
      "id": "GoogleAnalyticsAdminV1alphaAccessDimensionHeader",
      "type": "object",
      "properties": {
        "dimensionName": {
          "type": "string",
          "description": "The dimension's name; for example 'userEmail'."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLinkProposal": {
      "id": "GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLinkProposal",
      "type": "object",
      "properties": {
        "advertiserId": {
          "type": "string",
          "description": "Immutable. The Display & Video 360 Advertiser's advertiser ID."
        },
        "validationEmail": {
          "type": "string",
          "description": "Input only. On a proposal being sent to Display & Video 360, this field must be set to the email address of an admin on the target advertiser. This is used to verify that the Google Analytics admin is aware of at least one admin on the Display & Video 360 Advertiser. This does not restrict approval of the proposal to a single user. Any admin on the Display & Video 360 Advertiser may approve the proposal."
        },
        "adsPersonalizationEnabled": {
          "description": "Immutable. Enables personalized advertising features with this integration. If this field is not set on create, it will be defaulted to true.",
          "type": "boolean"
        },
        "costDataSharingEnabled": {
          "description": "Immutable. Enables the import of cost data from Display & Video 360. This can only be enabled if campaign_data_sharing_enabled is enabled. If this field is not set on create, it will be defaulted to true.",
          "type": "boolean"
        },
        "name": {
          "description": "Identifier. The resource name for this DisplayVideo360AdvertiserLinkProposal resource. Format: properties/{propertyId}/displayVideo360AdvertiserLinkProposals/{proposalId} Note: proposalId is not the Display & Video 360 Advertiser ID",
          "type": "string"
        },
        "advertiserDisplayName": {
          "description": "Output only. The display name of the Display & Video Advertiser. Only populated for proposals that originated from Display & Video 360.",
          "readOnly": true,
          "type": "string"
        },
        "campaignDataSharingEnabled": {
          "type": "boolean",
          "description": "Immutable. Enables the import of campaign data from Display & Video 360. If this field is not set on create, it will be defaulted to true."
        },
        "linkProposalStatusDetails": {
          "description": "Output only. The status information for this link proposal.",
          "readOnly": true,
          "$ref": "GoogleAnalyticsAdminV1alphaLinkProposalStatusDetails"
        }
      },
      "description": "A proposal for a link between a Google Analytics property and a Display & Video 360 advertiser. A proposal is converted to a DisplayVideo360AdvertiserLink once approved. Google Analytics admins approve inbound proposals while Display & Video 360 admins approve outbound proposals."
    },
    "GoogleAnalyticsAdminV1alphaBigQueryLink": {
      "id": "GoogleAnalyticsAdminV1alphaBigQueryLink",
      "type": "object",
      "properties": {
        "exportStreams": {
          "items": {
            "type": "string"
          },
          "description": "The list of streams under the parent property for which data will be exported. Format: properties/{property_id}/dataStreams/{stream_id} Example: ['properties/1000/dataStreams/2000']",
          "type": "array"
        },
        "dailyExportEnabled": {
          "type": "boolean",
          "description": "If set true, enables daily data export to the linked Google Cloud project."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Resource name of this BigQuery link. Format: 'properties/{property_id}/bigQueryLinks/{bigquery_link_id}' Format: 'properties/1234/bigQueryLinks/abc567'"
        },
        "streamingExportEnabled": {
          "type": "boolean",
          "description": "If set true, enables streaming export to the linked Google Cloud project."
        },
        "datasetLocation": {
          "description": "Required. Immutable. The geographic location where the created BigQuery dataset should reside. See https://cloud.google.com/bigquery/docs/locations for supported locations.",
          "type": "string"
        },
        "excludedEvents": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of event names that will be excluded from exports."
        },
        "createTime": {
          "description": "Output only. Time when the link was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "freshDailyExportEnabled": {
          "description": "If set true, enables fresh daily export to the linked Google Cloud project.",
          "type": "boolean"
        },
        "project": {
          "description": "Immutable. The linked Google Cloud project. When creating a BigQueryLink, you may provide this resource name using either a project number or project ID. Once this resource has been created, the returned project will always have a project that contains a project number. Format: 'projects/{project number}' Example: 'projects/1234'",
          "type": "string"
        },
        "includeAdvertisingId": {
          "description": "If set true, exported data will include advertising identifiers for mobile app streams.",
          "type": "boolean"
        }
      },
      "description": "A link between a Google Analytics property and BigQuery project."
    },
    "GoogleAnalyticsAdminV1alphaAccessMetricValue": {
      "id": "GoogleAnalyticsAdminV1alphaAccessMetricValue",
      "type": "object",
      "properties": {
        "value": {
          "description": "The measurement value. For example, this value may be '13'.",
          "type": "string"
        }
      },
      "description": "The value of a metric."
    },
    "GoogleAnalyticsAdminV1alphaBatchGetAccessBindingsResponse": {
      "description": "Response message for BatchGetAccessBindings RPC.",
      "properties": {
        "accessBindings": {
          "type": "array",
          "description": "The requested access bindings.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccessBinding"
          }
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaBatchGetAccessBindingsResponse",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaGoogleSignalsSettings": {
      "properties": {
        "name": {
          "description": "Output only. Resource name of this setting. Format: properties/{property_id}/googleSignalsSettings Example: \"properties/1000/googleSignalsSettings\"",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "type": "string",
          "enum": [
            "GOOGLE_SIGNALS_STATE_UNSPECIFIED",
            "GOOGLE_SIGNALS_ENABLED",
            "GOOGLE_SIGNALS_DISABLED"
          ],
          "description": "Status of this setting.",
          "enumDescriptions": [
            "Google Signals status defaults to GOOGLE_SIGNALS_STATE_UNSPECIFIED to represent that the user has not made an explicit choice.",
            "Google Signals is enabled.",
            "Google Signals is disabled."
          ]
        },
        "consent": {
          "enumDescriptions": [
            "Google Signals consent value defaults to GOOGLE_SIGNALS_CONSENT_UNSPECIFIED. This will be treated as GOOGLE_SIGNALS_CONSENT_NOT_CONSENTED.",
            "Terms of service have been accepted",
            "Terms of service have not been accepted"
          ],
          "type": "string",
          "enum": [
            "GOOGLE_SIGNALS_CONSENT_UNSPECIFIED",
            "GOOGLE_SIGNALS_CONSENT_CONSENTED",
            "GOOGLE_SIGNALS_CONSENT_NOT_CONSENTED"
          ],
          "description": "Output only. Terms of Service acceptance.",
          "readOnly": true
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaGoogleSignalsSettings",
      "type": "object",
      "description": "Settings values for Google Signals. This is a singleton resource."
    },
    "GoogleAnalyticsAdminV1alphaListCalculatedMetricsResponse": {
      "description": "Response message for ListCalculatedMetrics RPC.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "calculatedMetrics": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaCalculatedMetric"
          },
          "description": "List of CalculatedMetrics.",
          "type": "array"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaListCalculatedMetricsResponse",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilter": {
      "description": "A specific filter for a single dimension or metric.",
      "properties": {
        "stringFilter": {
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterStringFilter",
          "description": "A filter for a string-type dimension that matches a particular pattern."
        },
        "inListFilter": {
          "description": "A filter for a string dimension that matches a particular list of options.",
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterInListFilter"
        },
        "numericFilter": {
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterNumericFilter",
          "description": "A filter for numeric or date values on a dimension or metric."
        },
        "betweenFilter": {
          "description": "A filter for numeric or date values between certain values on a dimension or metric.",
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterBetweenFilter"
        },
        "atAnyPointInTime": {
          "type": "boolean",
          "description": "Optional. Indicates whether this filter needs dynamic evaluation or not. If set to true, users join the Audience if they ever met the condition (static evaluation). If unset or set to false, user evaluation for an Audience is dynamic; users are added to an Audience when they meet the conditions and then removed when they no longer meet them. This can only be set when Audience scope is ACROSS_ALL_SESSIONS."
        },
        "inAnyNDayPeriod": {
          "description": "Optional. If set, specifies the time window for which to evaluate data in number of days. If not set, then audience data is evaluated against lifetime data (For example, infinite time window). For example, if set to 1 day, only the current day's data is evaluated. The reference point is the current day when at_any_point_in_time is unset or false. It can only be set when Audience scope is ACROSS_ALL_SESSIONS and cannot be greater than 60 days.",
          "format": "int32",
          "type": "integer"
        },
        "fieldName": {
          "description": "Required. Immutable. The dimension name or metric name to filter. If the field name refers to a custom dimension or metric, a scope prefix will be added to the front of the custom dimensions or metric name. For more on scope prefixes or custom dimensions/metrics, reference the [Google Analytics Data API documentation] (https://developers.google.com/analytics/devguides/reporting/data/v1/api-schema#custom_dimensions).",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilter",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaAccessStringFilter": {
      "description": "The filter for strings.",
      "id": "GoogleAnalyticsAdminV1alphaAccessStringFilter",
      "type": "object",
      "properties": {
        "matchType": {
          "type": "string",
          "enum": [
            "MATCH_TYPE_UNSPECIFIED",
            "EXACT",
            "BEGINS_WITH",
            "ENDS_WITH",
            "CONTAINS",
            "FULL_REGEXP",
            "PARTIAL_REGEXP"
          ],
          "description": "The match type for this filter.",
          "enumDescriptions": [
            "Unspecified",
            "Exact match of the string value.",
            "Begins with the string value.",
            "Ends with the string value.",
            "Contains the string value.",
            "Full match for the regular expression with the string value.",
            "Partial match for the regular expression with the string value."
          ]
        },
        "value": {
          "type": "string",
          "description": "The string value used for the matching."
        },
        "caseSensitive": {
          "description": "If true, the string value is case sensitive.",
          "type": "boolean"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaDataSharingSettings": {
      "id": "GoogleAnalyticsAdminV1alphaDataSharingSettings",
      "type": "object",
      "properties": {
        "sharingWithGoogleSupportEnabled": {
          "description": "Allows Google technical support representatives access to your Google Analytics data and account when necessary to provide service and find solutions to technical issues. This field maps to the \"Technical support\" field in the Google Analytics Admin UI.",
          "type": "boolean"
        },
        "sharingWithGoogleAnySalesEnabled": {
          "description": "Deprecated. This field is no longer used and always returns false.",
          "type": "boolean",
          "deprecated": true
        },
        "sharingWithGoogleProductsEnabled": {
          "description": "Allows Google to use the data to improve other Google products or services. This fields maps to the \"Google products & services\" field in the Google Analytics Admin UI.",
          "type": "boolean"
        },
        "sharingWithGoogleAssignedSalesEnabled": {
          "description": "Allows Google access to your Google Analytics account data, including account usage and configuration data, product spending, and users associated with your Google Analytics account, so that Google can help you make the most of Google products, providing you with insights, offers, recommendations, and optimization tips across Google Analytics and other Google products for business. This field maps to the \"Recommendations for your business\" field in the Google Analytics Admin UI.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Resource name. Format: accounts/{account}/dataSharingSettings Example: \"accounts/1000/dataSharingSettings\""
        },
        "sharingWithOthersEnabled": {
          "description": "Enable features like predictions, modeled data, and benchmarking that can provide you with richer business insights when you contribute aggregated measurement data. The data you share (including information about the property from which it is shared) is aggregated and de-identified before being used to generate business insights. This field maps to the \"Modeling contributions & business insights\" field in the Google Analytics Admin UI.",
          "type": "boolean"
        }
      },
      "description": "A resource message representing data sharing settings of a Google Analytics account."
    },
    "GoogleAnalyticsAdminV1alphaChangeHistoryEvent": {
      "id": "GoogleAnalyticsAdminV1alphaChangeHistoryEvent",
      "type": "object",
      "properties": {
        "changeTime": {
          "description": "Time when change was made.",
          "format": "google-datetime",
          "type": "string"
        },
        "actorType": {
          "description": "The type of actor that made this change.",
          "enumDescriptions": [
            "Unknown or unspecified actor type.",
            "Changes made by the user specified in actor_email.",
            "Changes made by the Google Analytics system.",
            "Changes made by Google Analytics support team staff."
          ],
          "type": "string",
          "enum": [
            "ACTOR_TYPE_UNSPECIFIED",
            "USER",
            "SYSTEM",
            "SUPPORT"
          ]
        },
        "changes": {
          "description": "A list of changes made in this change history event that fit the filters specified in SearchChangeHistoryEventsRequest.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaChangeHistoryChange"
          },
          "type": "array"
        },
        "id": {
          "type": "string",
          "description": "ID of this change history event. This ID is unique across Google Analytics."
        },
        "changesFiltered": {
          "type": "boolean",
          "description": "If true, then the list of changes returned was filtered, and does not represent all changes that occurred in this event."
        },
        "userActorEmail": {
          "type": "string",
          "description": "Email address of the Google account that made the change. This will be a valid email address if the actor field is set to USER, and empty otherwise. Google accounts that have been deleted will cause an error."
        }
      },
      "description": "A set of changes within a Google Analytics account or its child properties that resulted from the same cause. Common causes would be updates made in the Google Analytics UI, changes from customer support, or automatic Google Analytics system changes."
    },
    "GoogleAnalyticsAdminV1alphaAccessRow": {
      "description": "Access report data for each row.",
      "properties": {
        "dimensionValues": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccessDimensionValue"
          },
          "description": "List of dimension values. These values are in the same order as specified in the request."
        },
        "metricValues": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccessMetricValue"
          },
          "description": "List of metric values. These values are in the same order as specified in the request."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaAccessRow",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterExpression": {
      "description": "A logical expression of Subproperty event filters.",
      "properties": {
        "orGroup": {
          "description": "A list of expressions to OR’ed together. Must only contain not_expression or filter_condition expressions.",
          "$ref": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterExpressionList"
        },
        "notExpression": {
          "description": "A filter expression to be NOT'ed (inverted, complemented). It can only include a filter. This cannot be set on the top level SubpropertyEventFilterExpression.",
          "$ref": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterExpression"
        },
        "filterCondition": {
          "$ref": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterCondition",
          "description": "Creates a filter that matches a specific event. This cannot be set on the top level SubpropertyEventFilterExpression."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterExpression",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaRollupPropertySourceLink": {
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Resource name of this RollupPropertySourceLink. Format: 'properties/{property_id}/rollupPropertySourceLinks/{rollup_property_source_link}' Format: 'properties/123/rollupPropertySourceLinks/456'"
        },
        "sourceProperty": {
          "description": "Immutable. Resource name of the source property. Format: properties/{property_id} Example: \"properties/789\"",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaRollupPropertySourceLink",
      "type": "object",
      "description": "A link that references a source property under the parent rollup property."
    },
    "GoogleAnalyticsAdminV1alphaListAccessBindingsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "accessBindings": {
          "description": "List of AccessBindings. These will be ordered stably, but in an arbitrary order.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccessBinding"
          },
          "type": "array"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaListAccessBindingsResponse",
      "type": "object",
      "description": "Response message for ListAccessBindings RPC."
    },
    "GoogleAnalyticsAdminV1alphaBatchCreateAccessBindingsRequest": {
      "description": "Request message for BatchCreateAccessBindings RPC.",
      "id": "GoogleAnalyticsAdminV1alphaBatchCreateAccessBindingsRequest",
      "type": "object",
      "properties": {
        "requests": {
          "description": "Required. The requests specifying the access bindings to create. A maximum of 1000 access bindings can be created in a batch.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaCreateAccessBindingRequest"
          },
          "type": "array"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaAccessMetricHeader": {
      "description": "Describes a metric column in the report. Visible metrics requested in a report produce column entries within rows and MetricHeaders. However, metrics used exclusively within filters or expressions do not produce columns in a report; correspondingly, those metrics do not produce headers.",
      "properties": {
        "metricName": {
          "type": "string",
          "description": "The metric's name; for example 'accessCount'."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaAccessMetricHeader",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaAccessMetric": {
      "id": "GoogleAnalyticsAdminV1alphaAccessMetric",
      "type": "object",
      "properties": {
        "metricName": {
          "type": "string",
          "description": "The API name of the metric. See [Data Access Schema](https://developers.google.com/analytics/devguides/config/admin/v1/access-api-schema) for the list of metrics supported in this API. Metrics are referenced by name in `metricFilter` & `orderBys`."
        }
      },
      "description": "The quantitative measurements of a report. For example, the metric `accessCount` is the total number of data access records."
    },
    "GoogleAnalyticsAdminV1alphaListRollupPropertySourceLinksResponse": {
      "id": "GoogleAnalyticsAdminV1alphaListRollupPropertySourceLinksResponse",
      "type": "object",
      "properties": {
        "rollupPropertySourceLinks": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaRollupPropertySourceLink"
          },
          "description": "List of RollupPropertySourceLinks."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for ListRollupPropertySourceLinks RPC."
    },
    "GoogleAnalyticsAdminV1alphaAudienceSequenceFilterAudienceSequenceStep": {
      "description": "A condition that must occur in the specified step order for this user to match the sequence.",
      "id": "GoogleAnalyticsAdminV1alphaAudienceSequenceFilterAudienceSequenceStep",
      "type": "object",
      "properties": {
        "immediatelyFollows": {
          "description": "Optional. If true, the event satisfying this step must be the very next event after the event satisfying the last step. If unset or false, this step indirectly follows the prior step; for example, there may be events between the prior step and this step. It is ignored for the first step.",
          "type": "boolean"
        },
        "scope": {
          "type": "string",
          "enum": [
            "AUDIENCE_FILTER_SCOPE_UNSPECIFIED",
            "AUDIENCE_FILTER_SCOPE_WITHIN_SAME_EVENT",
            "AUDIENCE_FILTER_SCOPE_WITHIN_SAME_SESSION",
            "AUDIENCE_FILTER_SCOPE_ACROSS_ALL_SESSIONS"
          ],
          "description": "Required. Immutable. Specifies the scope for this step.",
          "enumDescriptions": [
            "Scope is not specified.",
            "User joins the Audience if the filter condition is met within one event.",
            "User joins the Audience if the filter condition is met within one session.",
            "User joins the Audience if the filter condition is met by any event across any session."
          ]
        },
        "constraintDuration": {
          "description": "Optional. When set, this step must be satisfied within the constraint_duration of the previous step (For example, t[i] - t[i-1] <= constraint_duration). If not set, there is no duration requirement (the duration is effectively unlimited). It is ignored for the first step.",
          "format": "google-duration",
          "type": "string"
        },
        "filterExpression": {
          "description": "Required. Immutable. A logical expression of Audience dimension, metric, or event filters in each step.",
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceFilterExpression"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaBatchUpdateAccessBindingsRequest": {
      "id": "GoogleAnalyticsAdminV1alphaBatchUpdateAccessBindingsRequest",
      "type": "object",
      "properties": {
        "requests": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaUpdateAccessBindingRequest"
          },
          "description": "Required. The requests specifying the access bindings to update. A maximum of 1000 access bindings can be updated in a batch.",
          "type": "array"
        }
      },
      "description": "Request message for BatchUpdateAccessBindings RPC."
    },
    "GoogleAnalyticsAdminV1alphaDataStreamIosAppStreamData": {
      "id": "GoogleAnalyticsAdminV1alphaDataStreamIosAppStreamData",
      "type": "object",
      "properties": {
        "firebaseAppId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. ID of the corresponding iOS app in Firebase, if any. This ID can change if the iOS app is deleted and recreated."
        },
        "bundleId": {
          "description": "Required. Immutable. The Apple App Store Bundle ID for the app Example: \"com.example.myiosapp\"",
          "type": "string"
        }
      },
      "description": "Data specific to iOS app streams."
    },
    "GoogleAnalyticsAdminV1alphaDataRetentionSettings": {
      "description": "Settings values for data retention. This is a singleton resource.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. Resource name for this DataRetentionSetting resource. Format: properties/{property}/dataRetentionSettings"
        },
        "userDataRetention": {
          "type": "string",
          "enum": [
            "RETENTION_DURATION_UNSPECIFIED",
            "TWO_MONTHS",
            "FOURTEEN_MONTHS",
            "TWENTY_SIX_MONTHS",
            "THIRTY_EIGHT_MONTHS",
            "FIFTY_MONTHS"
          ],
          "description": "Required. The length of time that user-level data is retained.",
          "enumDescriptions": [
            "Data retention time duration is not specified.",
            "The data retention time duration is 2 months.",
            "The data retention time duration is 14 months.",
            "The data retention time duration is 26 months. Available to 360 properties only. Available for event data only.",
            "The data retention time duration is 38 months. Available to 360 properties only. Available for event data only.",
            "The data retention time duration is 50 months. Available to 360 properties only. Available for event data only."
          ]
        },
        "resetUserDataOnNewActivity": {
          "type": "boolean",
          "description": "If true, reset the retention period for the user identifier with every event from that user."
        },
        "eventDataRetention": {
          "description": "Required. The length of time that event-level data is retained.",
          "enumDescriptions": [
            "Data retention time duration is not specified.",
            "The data retention time duration is 2 months.",
            "The data retention time duration is 14 months.",
            "The data retention time duration is 26 months. Available to 360 properties only. Available for event data only.",
            "The data retention time duration is 38 months. Available to 360 properties only. Available for event data only.",
            "The data retention time duration is 50 months. Available to 360 properties only. Available for event data only."
          ],
          "type": "string",
          "enum": [
            "RETENTION_DURATION_UNSPECIFIED",
            "TWO_MONTHS",
            "FOURTEEN_MONTHS",
            "TWENTY_SIX_MONTHS",
            "THIRTY_EIGHT_MONTHS",
            "FIFTY_MONTHS"
          ]
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaDataRetentionSettings",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaAudienceSimpleFilter": {
      "description": "Defines a simple filter that a user must satisfy to be a member of the Audience.",
      "properties": {
        "filterExpression": {
          "description": "Required. Immutable. A logical expression of Audience dimension, metric, or event filters.",
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceFilterExpression"
        },
        "scope": {
          "type": "string",
          "enum": [
            "AUDIENCE_FILTER_SCOPE_UNSPECIFIED",
            "AUDIENCE_FILTER_SCOPE_WITHIN_SAME_EVENT",
            "AUDIENCE_FILTER_SCOPE_WITHIN_SAME_SESSION",
            "AUDIENCE_FILTER_SCOPE_ACROSS_ALL_SESSIONS"
          ],
          "description": "Required. Immutable. Specifies the scope for this filter.",
          "enumDescriptions": [
            "Scope is not specified.",
            "User joins the Audience if the filter condition is met within one event.",
            "User joins the Audience if the filter condition is met within one session.",
            "User joins the Audience if the filter condition is met by any event across any session."
          ]
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaAudienceSimpleFilter",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaUserProvidedDataSettings": {
      "description": "Configuration for user-provided data collection. This is a singleton resource for a Google Analytics property.",
      "properties": {
        "userProvidedDataCollectionEnabled": {
          "type": "boolean",
          "description": "Optional. Whether this property accepts user-provided data sent to it."
        },
        "name": {
          "description": "Identifier. Resource name of this setting. Format: properties/{property}/userProvidedDataSettings Example: \"properties/1000/userProvidedDataSettings\"",
          "type": "string"
        },
        "automaticallyDetectedDataCollectionEnabled": {
          "description": "Optional. Whether this property allows a Google Tag to automatically collect user-provided data from your website. This setting only takes effect if `user_provided_data_collection_enabled` is also true.",
          "type": "boolean"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaUserProvidedDataSettings",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaListSKAdNetworkConversionValueSchemasResponse": {
      "id": "GoogleAnalyticsAdminV1alphaListSKAdNetworkConversionValueSchemasResponse",
      "type": "object",
      "properties": {
        "skadnetworkConversionValueSchemas": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaSKAdNetworkConversionValueSchema"
          },
          "description": "List of SKAdNetworkConversionValueSchemas. This will have at most one value."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages. Currently, Google Analytics supports only one SKAdNetworkConversionValueSchema per dataStream, so this will never be populated.",
          "type": "string"
        }
      },
      "description": "Response message for ListSKAdNetworkConversionValueSchemas RPC"
    },
    "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterNumericFilter": {
      "description": "A filter for numeric or date values on a dimension or metric.",
      "id": "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterNumericFilter",
      "type": "object",
      "properties": {
        "operation": {
          "type": "string",
          "enum": [
            "OPERATION_UNSPECIFIED",
            "EQUAL",
            "LESS_THAN",
            "GREATER_THAN"
          ],
          "description": "Required. The operation applied to a numeric filter.",
          "enumDescriptions": [
            "Unspecified.",
            "Equal.",
            "Less than.",
            "Greater than."
          ]
        },
        "value": {
          "description": "Required. The numeric or date value to match against.",
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterNumericValue"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaReportingDataAnnotationDateRange": {
      "id": "GoogleAnalyticsAdminV1alphaReportingDataAnnotationDateRange",
      "type": "object",
      "properties": {
        "startDate": {
          "description": "Required. The start date for this range. Must be a valid date with year, month, and day set. The date may be in the past, present, or future.",
          "$ref": "GoogleTypeDate"
        },
        "endDate": {
          "$ref": "GoogleTypeDate",
          "description": "Required. The end date for this range. Must be a valid date with year, month, and day set. This date must be greater than or equal to the start date."
        }
      },
      "description": "Represents a Reporting Data Annotation's date range, both start and end dates are inclusive. Time zones are based on the parent property."
    },
    "GoogleAnalyticsAdminV1alphaAccessFilter": {
      "description": "An expression to filter dimension or metric values.",
      "id": "GoogleAnalyticsAdminV1alphaAccessFilter",
      "type": "object",
      "properties": {
        "betweenFilter": {
          "$ref": "GoogleAnalyticsAdminV1alphaAccessBetweenFilter",
          "description": "A filter for two values."
        },
        "numericFilter": {
          "description": "A filter for numeric or date values.",
          "$ref": "GoogleAnalyticsAdminV1alphaAccessNumericFilter"
        },
        "inListFilter": {
          "$ref": "GoogleAnalyticsAdminV1alphaAccessInListFilter",
          "description": "A filter for in list values."
        },
        "stringFilter": {
          "$ref": "GoogleAnalyticsAdminV1alphaAccessStringFilter",
          "description": "Strings related filter."
        },
        "fieldName": {
          "description": "The dimension name or metric name.",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaAccessQuota": {
      "properties": {
        "serverErrorsPerProjectPerHour": {
          "$ref": "GoogleAnalyticsAdminV1alphaAccessQuotaStatus",
          "description": "Properties and cloud project pairs can have up to 50 server errors per hour."
        },
        "concurrentRequests": {
          "$ref": "GoogleAnalyticsAdminV1alphaAccessQuotaStatus",
          "description": "Properties can use up to 50 concurrent requests."
        },
        "tokensPerHour": {
          "$ref": "GoogleAnalyticsAdminV1alphaAccessQuotaStatus",
          "description": "Properties can use 50,000 tokens per hour. An API request consumes a single number of tokens, and that number is deducted from all of the hourly, daily, and per project hourly quotas."
        },
        "tokensPerDay": {
          "description": "Properties can use 250,000 tokens per day. Most requests consume fewer than 10 tokens.",
          "$ref": "GoogleAnalyticsAdminV1alphaAccessQuotaStatus"
        },
        "tokensPerProjectPerHour": {
          "$ref": "GoogleAnalyticsAdminV1alphaAccessQuotaStatus",
          "description": "Properties can use up to 25% of their tokens per project per hour. This amounts to Analytics 360 Properties can use 12,500 tokens per project per hour. An API request consumes a single number of tokens, and that number is deducted from all of the hourly, daily, and per project hourly quotas."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaAccessQuota",
      "type": "object",
      "description": "Current state of all quotas for this Analytics property. If any quota for a property is exhausted, all requests to that property will return Resource Exhausted errors."
    },
    "GoogleAnalyticsAdminV1alphaCustomDimension": {
      "description": "A definition for a CustomDimension.",
      "id": "GoogleAnalyticsAdminV1alphaCustomDimension",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. Resource name for this CustomDimension resource. Format: properties/{property}/customDimensions/{customDimension}"
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name for this custom dimension as shown in the Analytics UI. Max length of 82 characters, alphanumeric plus space and underscore starting with a letter. Legacy system-generated display names may contain square brackets, but updates to this field will never permit square brackets."
        },
        "scope": {
          "type": "string",
          "enum": [
            "DIMENSION_SCOPE_UNSPECIFIED",
            "EVENT",
            "USER",
            "ITEM"
          ],
          "description": "Required. Immutable. The scope of this dimension.",
          "enumDescriptions": [
            "Scope unknown or not specified.",
            "Dimension scoped to an event.",
            "Dimension scoped to a user.",
            "Dimension scoped to eCommerce items"
          ]
        },
        "parameterName": {
          "description": "Required. Immutable. Tagging parameter name for this custom dimension. If this is a user-scoped dimension, then this is the user property name. If this is an event-scoped dimension, then this is the event parameter name. If this is an item-scoped dimension, then this is the parameter name found in the eCommerce items array. May only contain alphanumeric and underscore characters, starting with a letter. Max length of 24 characters for user-scoped dimensions, 40 characters for event-scoped dimensions.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description for this custom dimension. Max length of 150 characters."
        },
        "disallowAdsPersonalization": {
          "description": "Optional. If set to true, sets this dimension as NPA and excludes it from ads personalization. This is currently only supported by user-scoped custom dimensions.",
          "type": "boolean"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaAudienceSequenceFilter": {
      "properties": {
        "sequenceMaximumDuration": {
          "type": "string",
          "description": "Optional. Defines the time period in which the whole sequence must occur.",
          "format": "google-duration"
        },
        "sequenceSteps": {
          "type": "array",
          "description": "Required. An ordered sequence of steps. A user must complete each step in order to join the sequence filter.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAudienceSequenceFilterAudienceSequenceStep"
          }
        },
        "scope": {
          "description": "Required. Immutable. Specifies the scope for this filter.",
          "enumDescriptions": [
            "Scope is not specified.",
            "User joins the Audience if the filter condition is met within one event.",
            "User joins the Audience if the filter condition is met within one session.",
            "User joins the Audience if the filter condition is met by any event across any session."
          ],
          "type": "string",
          "enum": [
            "AUDIENCE_FILTER_SCOPE_UNSPECIFIED",
            "AUDIENCE_FILTER_SCOPE_WITHIN_SAME_EVENT",
            "AUDIENCE_FILTER_SCOPE_WITHIN_SAME_SESSION",
            "AUDIENCE_FILTER_SCOPE_ACROSS_ALL_SESSIONS"
          ]
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaAudienceSequenceFilter",
      "type": "object",
      "description": "Defines filters that must occur in a specific order for the user to be a member of the Audience."
    },
    "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterClause": {
      "properties": {
        "filterClauseType": {
          "type": "string",
          "enum": [
            "FILTER_CLAUSE_TYPE_UNSPECIFIED",
            "INCLUDE",
            "EXCLUDE"
          ],
          "description": "Required. The type for the filter clause.",
          "enumDescriptions": [
            "Filter clause type unknown or not specified.",
            "Events will be included in the Sub property if the filter clause is met.",
            "Events will be excluded from the Sub property if the filter clause is met."
          ]
        },
        "filterExpression": {
          "$ref": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterExpression",
          "description": "Required. The logical expression for what events are sent to the subproperty."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterClause",
      "type": "object",
      "description": "A clause for defining a filter. A filter may be inclusive (events satisfying the filter clause are included in the subproperty's data) or exclusive (events satisfying the filter clause are excluded from the subproperty's data)."
    },
    "GoogleAnalyticsAdminV1alphaListGoogleAdsLinksResponse": {
      "id": "GoogleAnalyticsAdminV1alphaListGoogleAdsLinksResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "googleAdsLinks": {
          "description": "List of GoogleAdsLinks.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaGoogleAdsLink"
          },
          "type": "array"
        }
      },
      "description": "Response message for ListGoogleAdsLinks RPC."
    },
    "GoogleAnalyticsAdminV1alphaSKAdNetworkConversionValueSchema": {
      "id": "GoogleAnalyticsAdminV1alphaSKAdNetworkConversionValueSchema",
      "type": "object",
      "properties": {
        "applyConversionValues": {
          "description": "If enabled, the GA SDK will set conversion values using this schema definition, and schema will be exported to any Google Ads accounts linked to this property. If disabled, the GA SDK will not automatically set conversion values, and also the schema will not be exported to Ads.",
          "type": "boolean"
        },
        "postbackWindowThree": {
          "description": "The conversion value settings for the third postback window. This field should only be set if the user chose to define different conversion values for this postback window. It is allowed to configure window 3 without setting window 2. In case window 1 & 2 settings are set and enable_postback_window_settings for this postback window is set to false, the schema will inherit settings from postback_window_two.",
          "$ref": "GoogleAnalyticsAdminV1alphaPostbackWindow"
        },
        "postbackWindowOne": {
          "description": "Required. The conversion value settings for the first postback window. These differ from values for postback window two and three in that they contain a \"Fine\" grained conversion value (a numeric value). Conversion values for this postback window must be set. The other windows are optional and may inherit this window's settings if unset or disabled.",
          "$ref": "GoogleAnalyticsAdminV1alphaPostbackWindow"
        },
        "postbackWindowTwo": {
          "$ref": "GoogleAnalyticsAdminV1alphaPostbackWindow",
          "description": "The conversion value settings for the second postback window. This field should only be configured if there is a need to define different conversion values for this postback window. If enable_postback_window_settings is set to false for this postback window, the values from postback_window_one will be used."
        },
        "name": {
          "description": "Identifier. Resource name of the schema. This will be child of ONLY an iOS stream, and there can be at most one such child under an iOS stream. Format: properties/{property}/dataStreams/{dataStream}/sKAdNetworkConversionValueSchema",
          "type": "string"
        }
      },
      "description": "SKAdNetwork conversion value schema of an iOS stream."
    },
    "GoogleAnalyticsAdminV1alphaConversionEventDefaultConversionValue": {
      "description": "Defines a default value/currency for a conversion event. Both value and currency must be provided.",
      "id": "GoogleAnalyticsAdminV1alphaConversionEventDefaultConversionValue",
      "type": "object",
      "properties": {
        "value": {
          "description": "This value will be used to populate the value for all conversions of the specified event_name where the event \"value\" parameter is unset.",
          "format": "double",
          "type": "number"
        },
        "currencyCode": {
          "description": "When a conversion event for this event_name has no set currency, this currency will be applied as the default. Must be in ISO 4217 currency code format. See https://en.wikipedia.org/wiki/ISO_4217 for more information.",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaAccessQuotaStatus": {
      "description": "Current state for a particular quota group.",
      "properties": {
        "consumed": {
          "description": "Quota consumed by this request.",
          "format": "int32",
          "type": "integer"
        },
        "remaining": {
          "description": "Quota remaining after this request.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaAccessQuotaStatus",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaPostbackWindow": {
      "description": "Settings for a SKAdNetwork conversion postback window.",
      "id": "GoogleAnalyticsAdminV1alphaPostbackWindow",
      "type": "object",
      "properties": {
        "conversionValues": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaConversionValues"
          },
          "description": "Ordering of the repeated field will be used to prioritize the conversion value settings. Lower indexed entries are prioritized higher. The first conversion value setting that evaluates to true will be selected. It must have at least one entry if enable_postback_window_settings is set to true. It can have maximum of 128 entries."
        },
        "postbackWindowSettingsEnabled": {
          "description": "If enable_postback_window_settings is true, conversion_values must be populated and will be used for determining when and how to set the Conversion Value on a client device and exporting schema to linked Ads accounts. If false, the settings are not used, but are retained in case they may be used in the future. This must always be true for postback_window_one.",
          "type": "boolean"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaArchiveCustomDimensionRequest": {
      "properties": {},
      "id": "GoogleAnalyticsAdminV1alphaArchiveCustomDimensionRequest",
      "type": "object",
      "description": "Request message for ArchiveCustomDimension RPC."
    },
    "GoogleAnalyticsAdminV1alphaListFirebaseLinksResponse": {
      "description": "Response message for ListFirebaseLinks RPC",
      "properties": {
        "firebaseLinks": {
          "type": "array",
          "description": "List of FirebaseLinks. This will have at most one value.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaFirebaseLink"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages. Currently, Google Analytics supports only one FirebaseLink per property, so this will never be populated."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaListFirebaseLinksResponse",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaApproveDisplayVideo360AdvertiserLinkProposalResponse": {
      "properties": {
        "displayVideo360AdvertiserLink": {
          "description": "The DisplayVideo360AdvertiserLink created as a result of approving the proposal.",
          "$ref": "GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLink"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaApproveDisplayVideo360AdvertiserLinkProposalResponse",
      "type": "object",
      "description": "Response message for ApproveDisplayVideo360AdvertiserLinkProposal RPC."
    },
    "GoogleAnalyticsAdminV1alphaListCustomMetricsResponse": {
      "id": "GoogleAnalyticsAdminV1alphaListCustomMetricsResponse",
      "type": "object",
      "properties": {
        "customMetrics": {
          "type": "array",
          "description": "List of CustomMetrics.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaCustomMetric"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for ListCustomMetrics RPC."
    },
    "GoogleAnalyticsAdminV1alphaProvisionSubpropertyResponse": {
      "properties": {
        "subproperty": {
          "$ref": "GoogleAnalyticsAdminV1alphaProperty",
          "description": "The created subproperty."
        },
        "subpropertyEventFilter": {
          "description": "The created subproperty event filter.",
          "$ref": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilter"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaProvisionSubpropertyResponse",
      "type": "object",
      "description": "Response message for ProvisionSubproperty RPC."
    },
    "GoogleAnalyticsAdminV1alphaListAccountSummariesResponse": {
      "description": "Response message for ListAccountSummaries RPC.",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "accountSummaries": {
          "description": "Account summaries of all accounts the caller has access to.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccountSummary"
          },
          "type": "array"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaListAccountSummariesResponse",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaExpandedDataSetFilter": {
      "properties": {
        "stringFilter": {
          "description": "A filter for a string-type dimension that matches a particular pattern.",
          "$ref": "GoogleAnalyticsAdminV1alphaExpandedDataSetFilterStringFilter"
        },
        "inListFilter": {
          "description": "A filter for a string dimension that matches a particular list of options.",
          "$ref": "GoogleAnalyticsAdminV1alphaExpandedDataSetFilterInListFilter"
        },
        "fieldName": {
          "description": "Required. The dimension name to filter.",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaExpandedDataSetFilter",
      "type": "object",
      "description": "A specific filter for a single dimension"
    },
    "GoogleAnalyticsAdminV1alphaListSearchAds360LinksResponse": {
      "properties": {
        "searchAds360Links": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaSearchAds360Link"
          },
          "description": "List of SearchAds360Links."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaListSearchAds360LinksResponse",
      "type": "object",
      "description": "Response message for ListSearchAds360Links RPC."
    },
    "GoogleAnalyticsAdminV1alphaDeleteAccessBindingRequest": {
      "description": "Request message for DeleteAccessBinding RPC.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. Formats: - accounts/{account}/accessBindings/{accessBinding} - properties/{property}/accessBindings/{accessBinding}"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaDeleteAccessBindingRequest",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaConversionValues": {
      "description": "Conversion value settings for a postback window for SKAdNetwork conversion value schema.",
      "id": "GoogleAnalyticsAdminV1alphaConversionValues",
      "type": "object",
      "properties": {
        "coarseValue": {
          "type": "string",
          "enum": [
            "COARSE_VALUE_UNSPECIFIED",
            "COARSE_VALUE_LOW",
            "COARSE_VALUE_MEDIUM",
            "COARSE_VALUE_HIGH"
          ],
          "description": "Required. A coarse grained conversion value. This value is not guaranteed to be unique.",
          "enumDescriptions": [
            "Coarse value not specified.",
            "Coarse value of low.",
            "Coarse value of medium.",
            "Coarse value of high."
          ]
        },
        "eventMappings": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaEventMapping"
          },
          "description": "Event conditions that must be met for this Conversion Value to be achieved. The conditions in this list are ANDed together. It must have minimum of 1 entry and maximum of 3 entries, if the postback window is enabled.",
          "type": "array"
        },
        "displayName": {
          "type": "string",
          "description": "Display name of the SKAdNetwork conversion value. The max allowed display name length is 50 UTF-16 code units."
        },
        "fineValue": {
          "type": "integer",
          "description": "The fine-grained conversion value. This is applicable only to the first postback window. Its valid values are [0,63], both inclusive. It must be set for postback window 1, and must not be set for postback window 2 & 3. This value is not guaranteed to be unique. If the configuration for the first postback window is re-used for second or third postback windows this field has no effect.",
          "format": "int32"
        },
        "lockEnabled": {
          "description": "If true, the SDK should lock to this conversion value for the current postback window.",
          "type": "boolean"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaDataStreamWebStreamData": {
      "id": "GoogleAnalyticsAdminV1alphaDataStreamWebStreamData",
      "type": "object",
      "properties": {
        "measurementId": {
          "description": "Output only. Analytics Measurement ID. Example: \"G-1A2BCD345E\"",
          "readOnly": true,
          "type": "string"
        },
        "firebaseAppId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. ID of the corresponding web app in Firebase, if any. This ID can change if the web app is deleted and recreated."
        },
        "defaultUri": {
          "type": "string",
          "description": "Domain name of the web app being measured, or empty. Example: \"http://www.google.com\", \"https://www.google.com\""
        }
      },
      "description": "Data specific to web streams."
    },
    "GoogleAnalyticsAdminV1alphaListAccountsResponse": {
      "description": "Request message for ListAccounts RPC.",
      "id": "GoogleAnalyticsAdminV1alphaListAccountsResponse",
      "type": "object",
      "properties": {
        "accounts": {
          "type": "array",
          "description": "Results that were accessible to the caller.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccount"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaAccessNumericFilter": {
      "id": "GoogleAnalyticsAdminV1alphaAccessNumericFilter",
      "type": "object",
      "properties": {
        "operation": {
          "description": "The operation type for this filter.",
          "enumDescriptions": [
            "Unspecified.",
            "Equal",
            "Less than",
            "Less than or equal",
            "Greater than",
            "Greater than or equal"
          ],
          "type": "string",
          "enum": [
            "OPERATION_UNSPECIFIED",
            "EQUAL",
            "LESS_THAN",
            "LESS_THAN_OR_EQUAL",
            "GREATER_THAN",
            "GREATER_THAN_OR_EQUAL"
          ]
        },
        "value": {
          "description": "A numeric value or a date value.",
          "$ref": "GoogleAnalyticsAdminV1alphaNumericValue"
        }
      },
      "description": "Filters for numeric or date values."
    },
    "GoogleAnalyticsAdminV1alphaSearchChangeHistoryEventsRequest": {
      "description": "Request message for SearchChangeHistoryEvents RPC.",
      "properties": {
        "actorEmail": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. If set, only return changes if they are made by a user in this list."
        },
        "resourceType": {
          "items": {
            "type": "string",
            "enum": [
              "CHANGE_HISTORY_RESOURCE_TYPE_UNSPECIFIED",
              "ACCOUNT",
              "PROPERTY",
              "FIREBASE_LINK",
              "GOOGLE_ADS_LINK",
              "GOOGLE_SIGNALS_SETTINGS",
              "CONVERSION_EVENT",
              "MEASUREMENT_PROTOCOL_SECRET",
              "CUSTOM_DIMENSION",
              "CUSTOM_METRIC",
              "DATA_RETENTION_SETTINGS",
              "DISPLAY_VIDEO_360_ADVERTISER_LINK",
              "DISPLAY_VIDEO_360_ADVERTISER_LINK_PROPOSAL",
              "SEARCH_ADS_360_LINK",
              "DATA_STREAM",
              "ATTRIBUTION_SETTINGS",
              "EXPANDED_DATA_SET",
              "CHANNEL_GROUP",
              "BIGQUERY_LINK",
              "ENHANCED_MEASUREMENT_SETTINGS",
              "DATA_REDACTION_SETTINGS",
              "SKADNETWORK_CONVERSION_VALUE_SCHEMA",
              "ADSENSE_LINK",
              "AUDIENCE",
              "EVENT_CREATE_RULE",
              "KEY_EVENT",
              "CALCULATED_METRIC",
              "REPORTING_DATA_ANNOTATION",
              "SUBPROPERTY_SYNC_CONFIG",
              "REPORTING_IDENTITY_SETTINGS",
              "USER_PROVIDED_DATA_SETTINGS"
            ],
            "enumDescriptions": [
              "Resource type unknown or not specified.",
              "Account resource",
              "Property resource",
              "FirebaseLink resource",
              "GoogleAdsLink resource",
              "GoogleSignalsSettings resource",
              "ConversionEvent resource",
              "MeasurementProtocolSecret resource",
              "CustomDimension resource",
              "CustomMetric resource",
              "DataRetentionSettings resource",
              "DisplayVideo360AdvertiserLink resource",
              "DisplayVideo360AdvertiserLinkProposal resource",
              "SearchAds360Link resource",
              "DataStream resource",
              "AttributionSettings resource",
              "ExpandedDataSet resource",
              "ChannelGroup resource",
              "BigQuery link resource",
              "EnhancedMeasurementSettings resource",
              "DataRedactionSettings resource",
              "SKAdNetworkConversionValueSchema resource",
              "AdSenseLink resource",
              "Audience resource",
              "EventCreateRule resource",
              "KeyEvent resource",
              "CalculatedMetric resource",
              "ReportingDataAnnotation resource",
              "SubpropertySyncConfig resource",
              "ReportingIdentitySettings resource",
              "UserProvidedDataSettings resource"
            ]
          },
          "description": "Optional. If set, only return changes if they are for a resource that matches at least one of these types.",
          "type": "array"
        },
        "pageSize": {
          "type": "integer",
          "description": "Optional. The maximum number of ChangeHistoryEvent items to return. If unspecified, at most 50 items will be returned. The maximum value is 200 (higher values will be coerced to the maximum). Note that the service may return a page with fewer items than this value specifies (potentially even zero), and that there still may be additional pages. If you want a particular number of items, you'll need to continue requesting additional pages using `page_token` until you get the needed number.",
          "format": "int32"
        },
        "action": {
          "description": "Optional. If set, only return changes that match one or more of these types of actions.",
          "items": {
            "type": "string",
            "enum": [
              "ACTION_TYPE_UNSPECIFIED",
              "CREATED",
              "UPDATED",
              "DELETED"
            ],
            "enumDescriptions": [
              "Action type unknown or not specified.",
              "Resource was created in this change.",
              "Resource was updated in this change.",
              "Resource was deleted in this change."
            ]
          },
          "type": "array"
        },
        "pageToken": {
          "description": "Optional. A page token, received from a previous `SearchChangeHistoryEvents` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `SearchChangeHistoryEvents` must match the call that provided the page token.",
          "type": "string"
        },
        "latestChangeTime": {
          "type": "string",
          "description": "Optional. If set, only return changes made before this time (inclusive).",
          "format": "google-datetime"
        },
        "property": {
          "description": "Optional. Resource name for a child property. If set, only return changes made to this property or its child resources. Format: properties/{propertyId} Example: `properties/100`",
          "type": "string"
        },
        "earliestChangeTime": {
          "type": "string",
          "description": "Optional. If set, only return changes made after this time (inclusive).",
          "format": "google-datetime"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaSearchChangeHistoryEventsRequest",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaSubmitUserDeletionResponse": {
      "description": "Response message for SubmitUserDeletion RPC.",
      "properties": {
        "deletionRequestTime": {
          "description": "Marks the moment for which all visitor data before this point should be deleted. This is set to the time at which the deletion request was received.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaSubmitUserDeletionResponse",
      "type": "object"
    },
    "GoogleTypeDate": {
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "properties": {
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "format": "int32",
          "type": "integer"
        },
        "day": {
          "type": "integer",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32"
        },
        "month": {
          "type": "integer",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "format": "int32"
        }
      },
      "id": "GoogleTypeDate",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaListReportingDataAnnotationsResponse": {
      "description": "Response message for ListReportingDataAnnotation RPC.",
      "properties": {
        "reportingDataAnnotations": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaReportingDataAnnotation"
          },
          "description": "List of Reporting Data Annotations."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaListReportingDataAnnotationsResponse",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaListDataStreamsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "dataStreams": {
          "description": "List of DataStreams.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaDataStream"
          },
          "type": "array"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaListDataStreamsResponse",
      "type": "object",
      "description": "Response message for ListDataStreams RPC."
    },
    "GoogleAnalyticsAdminV1alphaApproveDisplayVideo360AdvertiserLinkProposalRequest": {
      "id": "GoogleAnalyticsAdminV1alphaApproveDisplayVideo360AdvertiserLinkProposalRequest",
      "type": "object",
      "properties": {},
      "description": "Request message for ApproveDisplayVideo360AdvertiserLinkProposal RPC."
    },
    "GoogleAnalyticsAdminV1alphaCreateRollupPropertyResponse": {
      "description": "Response message for CreateRollupProperty RPC.",
      "id": "GoogleAnalyticsAdminV1alphaCreateRollupPropertyResponse",
      "type": "object",
      "properties": {
        "rollupProperty": {
          "$ref": "GoogleAnalyticsAdminV1alphaProperty",
          "description": "The created roll-up property."
        },
        "rollupPropertySourceLinks": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaRollupPropertySourceLink"
          },
          "description": "The created roll-up property source links."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaAudienceFilterExpressionList": {
      "properties": {
        "filterExpressions": {
          "type": "array",
          "description": "A list of Audience filter expressions.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAudienceFilterExpression"
          }
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaAudienceFilterExpressionList",
      "type": "object",
      "description": "A list of Audience filter expressions."
    },
    "GoogleAnalyticsAdminV1alphaChannelGroup": {
      "properties": {
        "primary": {
          "description": "Optional. If true, this channel group will be used as the default channel group for reports. Only one channel group can be set as `primary` at any time. If the `primary` field gets set on a channel group, it will get unset on the previous primary channel group. The Google Analytics predefined channel group is the primary by default.",
          "type": "boolean"
        },
        "groupingRule": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaGroupingRule"
          },
          "description": "Required. The grouping rules of channels. Maximum number of rules is 50."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name for this Channel Group resource. Format: properties/{property}/channelGroups/{channel_group}"
        },
        "displayName": {
          "description": "Required. The display name of the Channel Group. Max length of 80 characters.",
          "type": "string"
        },
        "systemDefined": {
          "description": "Output only. If true, then this channel group is the Default Channel Group predefined by Google Analytics. Display name and grouping rules cannot be updated for this channel group.",
          "readOnly": true,
          "type": "boolean"
        },
        "description": {
          "description": "The description of the Channel Group. Max length of 256 characters.",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaChannelGroup",
      "type": "object",
      "description": "A resource message representing a Channel Group."
    },
    "GoogleAnalyticsAdminV1alphaCustomMetric": {
      "description": "A definition for a custom metric.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. Resource name for this CustomMetric resource. Format: properties/{property}/customMetrics/{customMetric}"
        },
        "scope": {
          "description": "Required. Immutable. The scope of this custom metric.",
          "enumDescriptions": [
            "Scope unknown or not specified.",
            "Metric scoped to an event."
          ],
          "type": "string",
          "enum": [
            "METRIC_SCOPE_UNSPECIFIED",
            "EVENT"
          ]
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name for this custom metric as shown in the Analytics UI. Max length of 82 characters, alphanumeric plus space and underscore starting with a letter. Legacy system-generated display names may contain square brackets, but updates to this field will never permit square brackets."
        },
        "description": {
          "description": "Optional. Description for this custom dimension. Max length of 150 characters.",
          "type": "string"
        },
        "restrictedMetricType": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Type unknown or unspecified.",
              "Metric reports cost data.",
              "Metric reports revenue data."
            ],
            "type": "string",
            "enum": [
              "RESTRICTED_METRIC_TYPE_UNSPECIFIED",
              "COST_DATA",
              "REVENUE_DATA"
            ]
          },
          "description": "Optional. Types of restricted data that this metric may contain. Required for metrics with CURRENCY measurement unit. Must be empty for metrics with a non-CURRENCY measurement unit."
        },
        "parameterName": {
          "description": "Required. Immutable. Tagging name for this custom metric. If this is an event-scoped metric, then this is the event parameter name. May only contain alphanumeric and underscore charactes, starting with a letter. Max length of 40 characters for event-scoped metrics.",
          "type": "string"
        },
        "measurementUnit": {
          "type": "string",
          "enum": [
            "MEASUREMENT_UNIT_UNSPECIFIED",
            "STANDARD",
            "CURRENCY",
            "FEET",
            "METERS",
            "KILOMETERS",
            "MILES",
            "MILLISECONDS",
            "SECONDS",
            "MINUTES",
            "HOURS"
          ],
          "description": "Required. The type for the custom metric's value.",
          "enumDescriptions": [
            "MeasurementUnit unspecified or missing.",
            "This metric uses default units.",
            "This metric measures a currency.",
            "This metric measures feet.",
            "This metric measures meters.",
            "This metric measures kilometers.",
            "This metric measures miles.",
            "This metric measures milliseconds.",
            "This metric measures seconds.",
            "This metric measures minutes.",
            "This metric measures hours."
          ]
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaCustomMetric",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaAccessBetweenFilter": {
      "description": "To express that the result needs to be between two numbers (inclusive).",
      "id": "GoogleAnalyticsAdminV1alphaAccessBetweenFilter",
      "type": "object",
      "properties": {
        "fromValue": {
          "description": "Begins with this number.",
          "$ref": "GoogleAnalyticsAdminV1alphaNumericValue"
        },
        "toValue": {
          "$ref": "GoogleAnalyticsAdminV1alphaNumericValue",
          "description": "Ends with this number."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaGoogleAdsLink": {
      "id": "GoogleAnalyticsAdminV1alphaGoogleAdsLink",
      "type": "object",
      "properties": {
        "customerId": {
          "type": "string",
          "description": "Immutable. Google Ads customer ID."
        },
        "canManageClients": {
          "description": "Output only. If true, this link is for a Google Ads manager account.",
          "readOnly": true,
          "type": "boolean"
        },
        "creatorEmailAddress": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Email address of the user that created the link. An empty string will be returned if the email address can't be retrieved."
        },
        "createTime": {
          "description": "Output only. Time when this link was originally created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Identifier. Format: properties/{propertyId}/googleAdsLinks/{googleAdsLinkId} Note: googleAdsLinkId is not the Google Ads customer ID.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. Time when this link was last updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "adsPersonalizationEnabled": {
          "type": "boolean",
          "description": "Enable personalized advertising features with this integration. Automatically publish my Google Analytics audience lists and Google Analytics remarketing events/parameters to the linked Google Ads account. If this field is not set on create/update, it will be defaulted to true."
        }
      },
      "description": "A link between a Google Analytics property and a Google Ads account."
    },
    "GoogleAnalyticsAdminV1alphaArchiveAudienceRequest": {
      "description": "Request message for ArchiveAudience RPC.",
      "properties": {},
      "id": "GoogleAnalyticsAdminV1alphaArchiveAudienceRequest",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaListEventEditRulesResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "eventEditRules": {
          "description": "List of EventEditRules. These will be ordered stably, but in an arbitrary order.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaEventEditRule"
          },
          "type": "array"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaListEventEditRulesResponse",
      "type": "object",
      "description": "Response message for ListEventEditRules RPC."
    },
    "GoogleAnalyticsAdminV1alphaExpandedDataSetFilterInListFilter": {
      "description": "A filter for a string dimension that matches a particular list of options.",
      "id": "GoogleAnalyticsAdminV1alphaExpandedDataSetFilterInListFilter",
      "type": "object",
      "properties": {
        "values": {
          "type": "array",
          "description": "Required. The list of possible string values to match against. Must be non-empty.",
          "items": {
            "type": "string"
          }
        },
        "caseSensitive": {
          "description": "Optional. If true, the match is case-sensitive. If false, the match is case-insensitive. Must be true.",
          "type": "boolean"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaEventEditRule": {
      "description": "An Event Edit Rule defines conditions that will trigger the creation of an entirely new event based upon matched criteria of a source event. Additional mutations of the parameters from the source event can be defined. Unlike Event Create rules, Event Edit Rules are applied in their defined order. Event Edit rules can't be used to modify an event created from an Event Create rule.",
      "id": "GoogleAnalyticsAdminV1alphaEventEditRule",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. Resource name for this EventEditRule resource. Format: properties/{property}/dataStreams/{data_stream}/eventEditRules/{event_edit_rule}",
          "type": "string"
        },
        "displayName": {
          "description": "Required. The display name of this event edit rule. Maximum of 255 characters.",
          "type": "string"
        },
        "processingOrder": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The order for which this rule will be processed. Rules with an order value lower than this will be processed before this rule, rules with an order value higher than this will be processed after this rule. New event edit rules will be assigned an order value at the end of the order. This value does not apply to event create rules.",
          "format": "int64"
        },
        "parameterMutations": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaParameterMutation"
          },
          "description": "Required. Parameter mutations define parameter behavior on the new event, and are applied in order. A maximum of 20 mutations can be applied."
        },
        "eventConditions": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaMatchingCondition"
          },
          "description": "Required. Conditions on the source event must match for this rule to be applied. Must have at least one condition, and can have up to 10 max."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaGlobalSiteTag": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. Resource name for this GlobalSiteTag resource. Format: properties/{property_id}/dataStreams/{stream_id}/globalSiteTag Example: \"properties/123/dataStreams/456/globalSiteTag\""
        },
        "snippet": {
          "type": "string",
          "description": "Immutable. JavaScript code snippet to be pasted as the first item into the head tag of every webpage to measure."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaGlobalSiteTag",
      "type": "object",
      "description": "Read-only resource with the tag for sending data from a website to a DataStream. Only present for web DataStream resources."
    },
    "GoogleAnalyticsAdminV1alphaKeyEventDefaultValue": {
      "description": "Defines a default value/currency for a key event.",
      "id": "GoogleAnalyticsAdminV1alphaKeyEventDefaultValue",
      "type": "object",
      "properties": {
        "numericValue": {
          "description": "Required. This will be used to populate the \"value\" parameter for all occurrences of this Key Event (specified by event_name) where that parameter is unset.",
          "format": "double",
          "type": "number"
        },
        "currencyCode": {
          "description": "Required. When an occurrence of this Key Event (specified by event_name) has no set currency this currency will be applied as the default. Must be in ISO 4217 currency code format. See https://en.wikipedia.org/wiki/ISO_4217 for more information.",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaPropertySummary": {
      "description": "A virtual resource representing metadata for a Google Analytics property.",
      "id": "GoogleAnalyticsAdminV1alphaPropertySummary",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Display name for the property referred to in this property summary."
        },
        "propertyType": {
          "type": "string",
          "enum": [
            "PROPERTY_TYPE_UNSPECIFIED",
            "PROPERTY_TYPE_ORDINARY",
            "PROPERTY_TYPE_SUBPROPERTY",
            "PROPERTY_TYPE_ROLLUP"
          ],
          "description": "The property's property type.",
          "enumDescriptions": [
            "Unknown or unspecified property type",
            "Ordinary Google Analytics property",
            "Google Analytics subproperty",
            "Google Analytics rollup property"
          ]
        },
        "property": {
          "type": "string",
          "description": "Resource name of property referred to by this property summary Format: properties/{property_id} Example: \"properties/1000\""
        },
        "canEdit": {
          "description": "If true, then the user has a Google Analytics role that permits them to edit the property.",
          "type": "boolean"
        },
        "parent": {
          "description": "Resource name of this property's logical parent. Note: The Property-Moving UI can be used to change the parent. Format: accounts/{account}, properties/{property} Example: \"accounts/100\", \"properties/200\"",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaAccessInListFilter": {
      "properties": {
        "values": {
          "items": {
            "type": "string"
          },
          "description": "The list of string values. Must be non-empty.",
          "type": "array"
        },
        "caseSensitive": {
          "type": "boolean",
          "description": "If true, the string value is case sensitive."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaAccessInListFilter",
      "type": "object",
      "description": "The result needs to be in a list of string values."
    },
    "GoogleAnalyticsAdminV1alphaListPropertiesResponse": {
      "description": "Response message for ListProperties RPC.",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "properties": {
          "description": "Results that matched the filter criteria and were accessible to the caller.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaProperty"
          },
          "type": "array"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaListPropertiesResponse",
      "type": "object"
    },
    "GoogleProtobufEmpty": {
      "properties": {},
      "id": "GoogleProtobufEmpty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "GoogleAnalyticsAdminV1alphaExpandedDataSetFilterExpression": {
      "description": "A logical expression of EnhancedDataSet dimension filters.",
      "id": "GoogleAnalyticsAdminV1alphaExpandedDataSetFilterExpression",
      "type": "object",
      "properties": {
        "notExpression": {
          "description": "A filter expression to be NOT'ed (that is, inverted, complemented). It must include a dimension_filter. This cannot be set on the top level ExpandedDataSetFilterExpression.",
          "$ref": "GoogleAnalyticsAdminV1alphaExpandedDataSetFilterExpression"
        },
        "filter": {
          "description": "A filter on a single dimension. This cannot be set on the top level ExpandedDataSetFilterExpression.",
          "$ref": "GoogleAnalyticsAdminV1alphaExpandedDataSetFilter"
        },
        "andGroup": {
          "$ref": "GoogleAnalyticsAdminV1alphaExpandedDataSetFilterExpressionList",
          "description": "A list of expressions to be AND’ed together. It must contain a ExpandedDataSetFilterExpression with either not_expression or dimension_filter. This must be set for the top level ExpandedDataSetFilterExpression."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaReorderEventEditRulesRequest": {
      "description": "Request message for ReorderEventEditRules RPC.",
      "properties": {
        "eventEditRules": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. EventEditRule resource names for the specified data stream, in the needed processing order. All EventEditRules for the stream must be present in the list."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaReorderEventEditRulesRequest",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaAccessDimensionValue": {
      "description": "The value of a dimension.",
      "properties": {
        "value": {
          "description": "The dimension value. For example, this value may be 'France' for the 'country' dimension.",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaAccessDimensionValue",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaChannelGroupFilterExpressionList": {
      "description": "A list of Channel Group filter expressions.",
      "properties": {
        "filterExpressions": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaChannelGroupFilterExpression"
          },
          "description": "A list of Channel Group filter expressions."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaChannelGroupFilterExpressionList",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaListConversionEventsResponse": {
      "description": "Response message for ListConversionEvents RPC.",
      "properties": {
        "conversionEvents": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaConversionEvent"
          },
          "description": "The requested conversion events",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaListConversionEventsResponse",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaSearchChangeHistoryEventsResponse": {
      "description": "Response message for SearchAccounts RPC.",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "changeHistoryEvents": {
          "type": "array",
          "description": "Results that were accessible to the caller.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaChangeHistoryEvent"
          }
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaSearchChangeHistoryEventsResponse",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaMeasurementProtocolSecret": {
      "description": "A secret value used for sending hits to Measurement Protocol.",
      "id": "GoogleAnalyticsAdminV1alphaMeasurementProtocolSecret",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Required. Human-readable display name for this secret."
        },
        "name": {
          "type": "string",
          "description": "Identifier. Resource name of this secret. This secret may be a child of any type of stream. Format: properties/{property}/dataStreams/{dataStream}/measurementProtocolSecrets/{measurementProtocolSecret}"
        },
        "secretValue": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The measurement protocol secret value. Pass this value to the api_secret field of the Measurement Protocol API when sending hits to this secret's parent property."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaSubpropertyEventFilter": {
      "properties": {
        "applyToProperty": {
          "description": "Immutable. Resource name of the Subproperty that uses this filter.",
          "type": "string"
        },
        "filterClauses": {
          "description": "Required. Unordered list. Filter clauses that define the SubpropertyEventFilter. All clauses are AND'ed together to determine what data is sent to the subproperty.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterClause"
          },
          "type": "array"
        },
        "name": {
          "description": "Output only. Format: properties/{ordinary_property_id}/subpropertyEventFilters/{sub_property_event_filter} Example: properties/1234/subpropertyEventFilters/5678",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilter",
      "type": "object",
      "description": "A resource message representing a Google Analytics subproperty event filter."
    },
    "GoogleAnalyticsAdminV1alphaKeyEvent": {
      "description": "A key event in a Google Analytics property.",
      "properties": {
        "countingMethod": {
          "description": "Required. The method by which Key Events will be counted across multiple events within a session.",
          "enumDescriptions": [
            "Counting method not specified.",
            "Each Event instance is considered a Key Event.",
            "An Event instance is considered a Key Event at most once per session per user."
          ],
          "type": "string",
          "enum": [
            "COUNTING_METHOD_UNSPECIFIED",
            "ONCE_PER_EVENT",
            "ONCE_PER_SESSION"
          ]
        },
        "defaultValue": {
          "$ref": "GoogleAnalyticsAdminV1alphaKeyEventDefaultValue",
          "description": "Optional. Defines a default value/currency for a key event."
        },
        "eventName": {
          "type": "string",
          "description": "Immutable. The event name for this key event. Examples: 'click', 'purchase'"
        },
        "deletable": {
          "description": "Output only. If set to true, this event can be deleted.",
          "readOnly": true,
          "type": "boolean"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time when this key event was created in the property.",
          "format": "google-datetime"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Resource name of this key event. Format: properties/{property}/keyEvents/{key_event}"
        },
        "custom": {
[...]
