{
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerDomain": "google.com",
  "fullyEncodeReservedExpansion": true,
  "canonicalName": "Google Analytics Admin",
  "resources": {
    "accounts": {
      "resources": {
        "accessBindings": {
          "methods": {
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "description": "Deletes an access binding on an account or property.",
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "description": "Required. Formats: - accounts/{account}/accessBindings/{accessBinding} - properties/{property}/accessBindings/{accessBinding}",
                  "required": true,
                  "pattern": "^accounts/[^/]+/accessBindings/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "flatPath": "v1alpha/accounts/{accountsId}/accessBindings/{accessBindingsId}",
              "id": "analyticsadmin.accounts.accessBindings.delete",
              "path": "v1alpha/{+name}"
            },
            "batchUpdate": {
              "flatPath": "v1alpha/accounts/{accountsId}/accessBindings:batchUpdate",
              "id": "analyticsadmin.accounts.accessBindings.batchUpdate",
              "path": "v1alpha/{+parent}/accessBindings:batchUpdate",
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The account or property that owns the access bindings. The parent of all provided AccessBinding in UpdateAccessBindingRequest messages must match this field. Formats: - accounts/{account} - properties/{property}"
                }
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaBatchUpdateAccessBindingsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "description": "Updates information about multiple access bindings to an account or property.",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaBatchUpdateAccessBindingsRequest"
              }
            },
            "get": {
              "flatPath": "v1alpha/accounts/{accountsId}/accessBindings/{accessBindingsId}",
              "id": "analyticsadmin.accounts.accessBindings.get",
              "path": "v1alpha/{+name}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The name of the access binding to retrieve. Formats: - accounts/{account}/accessBindings/{accessBinding} - properties/{property}/accessBindings/{accessBinding}",
                  "type": "string",
                  "pattern": "^accounts/[^/]+/accessBindings/[^/]+$",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaAccessBinding"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users",
                "https://www.googleapis.com/auth/analytics.manage.users.readonly"
              ],
              "description": "Gets information about an access binding."
            },
            "patch": {
              "flatPath": "v1alpha/accounts/{accountsId}/accessBindings/{accessBindingsId}",
              "id": "analyticsadmin.accounts.accessBindings.patch",
              "path": "v1alpha/{+name}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "description": "Updates an access binding on an account or property.",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaAccessBinding"
              },
              "httpMethod": "PATCH",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^accounts/[^/]+/accessBindings/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Output only. Resource name of this binding. Format: accounts/{account}/accessBindings/{access_binding} or properties/{property}/accessBindings/{access_binding} Example: \"accounts/100/accessBindings/200\""
                }
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaAccessBinding"
              }
            },
            "batchCreate": {
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "description": "Creates information about multiple access bindings to an account or property. This method is transactional. If any AccessBinding cannot be created, none of the AccessBindings will be created.",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaBatchCreateAccessBindingsRequest"
              },
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "description": "Required. The account or property that owns the access bindings. The parent field in the CreateAccessBindingRequest messages must either be empty or match this field. Formats: - accounts/{account} - properties/{property}",
                  "required": true,
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaBatchCreateAccessBindingsResponse"
              },
              "flatPath": "v1alpha/accounts/{accountsId}/accessBindings:batchCreate",
              "id": "analyticsadmin.accounts.accessBindings.batchCreate",
              "path": "v1alpha/{+parent}/accessBindings:batchCreate"
            },
            "batchDelete": {
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaBatchDeleteAccessBindingsRequest"
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "description": "Deletes information about multiple users' links to an account or property.",
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "description": "Required. The account or property that owns the access bindings. The parent of all provided values for the 'names' field in DeleteAccessBindingRequest messages must match this field. Formats: - accounts/{account} - properties/{property}",
                  "required": true,
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "path": "v1alpha/{+parent}/accessBindings:batchDelete",
              "flatPath": "v1alpha/accounts/{accountsId}/accessBindings:batchDelete",
              "id": "analyticsadmin.accounts.accessBindings.batchDelete"
            },
            "create": {
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "description": "Required. Formats: - accounts/{account} - properties/{property}",
                  "required": true,
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaAccessBinding"
              },
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaAccessBinding"
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "description": "Creates an access binding on an account or property.",
              "path": "v1alpha/{+parent}/accessBindings",
              "flatPath": "v1alpha/accounts/{accountsId}/accessBindings",
              "id": "analyticsadmin.accounts.accessBindings.create"
            },
            "batchGet": {
              "path": "v1alpha/{+parent}/accessBindings:batchGet",
              "flatPath": "v1alpha/accounts/{accountsId}/accessBindings:batchGet",
              "id": "analyticsadmin.accounts.accessBindings.batchGet",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users",
                "https://www.googleapis.com/auth/analytics.manage.users.readonly"
              ],
              "description": "Gets information about multiple access bindings to an account or property.",
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The account or property that owns the access bindings. The parent of all provided values for the 'names' field must match this field. Formats: - accounts/{account} - properties/{property}"
                },
                "names": {
                  "description": "Required. The names of the access bindings to retrieve. A maximum of 1000 access bindings can be retrieved in a batch. Formats: - accounts/{account}/accessBindings/{accessBinding} - properties/{property}/accessBindings/{accessBinding}",
                  "location": "query",
                  "repeated": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaBatchGetAccessBindingsResponse"
              }
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users",
                "https://www.googleapis.com/auth/analytics.manage.users.readonly"
              ],
              "description": "Lists all access bindings on an account or property.",
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "description": "A page token, received from a previous `ListAccessBindings` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAccessBindings` must match the call that provided the page token.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "type": "string",
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. Formats: - accounts/{account} - properties/{property}"
                },
                "pageSize": {
                  "description": "The maximum number of access bindings to return. The service may return fewer than this value. If unspecified, at most 200 access bindings will be returned. The maximum value is 500; values above 500 will be coerced to 500.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                }
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaListAccessBindingsResponse"
              },
              "path": "v1alpha/{+parent}/accessBindings",
              "id": "analyticsadmin.accounts.accessBindings.list",
              "flatPath": "v1alpha/accounts/{accountsId}/accessBindings"
            }
          }
        }
      },
      "methods": {
        "delete": {
          "path": "v1alpha/{+name}",
          "id": "analyticsadmin.accounts.delete",
          "flatPath": "v1alpha/accounts/{accountsId}",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "description": "Marks target Account as soft-deleted (ie: \"trashed\") and returns it. This API does not have a method to restore soft-deleted accounts. However, they can be restored using the Trash Can UI. If the accounts are not restored before the expiration time, the account and all child resources (eg: Properties, GoogleAdsLinks, Streams, AccessBindings) will be permanently purged. https://support.google.com/analytics/answer/6154772 Returns an error if the target is not found.",
          "httpMethod": "DELETE",
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^accounts/[^/]+$",
              "location": "path",
              "required": true,
              "description": "Required. The name of the Account to soft-delete. Format: accounts/{account} Example: \"accounts/100\""
            }
          },
          "response": {
            "$ref": "GoogleProtobufEmpty"
          }
        },
        "runAccessReport": {
          "httpMethod": "POST",
          "parameters": {
            "entity": {
              "pattern": "^accounts/[^/]+$",
              "location": "path",
              "type": "string",
              "description": "The Data Access Report supports requesting at the property level or account level. If requested at the account level, Data Access Reports include all access for all properties under that account. To request at the property level, entity should be for example 'properties/123' if \"123\" is your Google Analytics property ID. To request at the account level, entity should be for example 'accounts/1234' if \"1234\" is your Google Analytics Account ID.",
              "required": true
            }
          },
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaRunAccessReportResponse"
          },
          "request": {
            "$ref": "GoogleAnalyticsAdminV1alphaRunAccessReportRequest"
          },
          "parameterOrder": [
            "entity"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "description": "Returns a customized report of data access records. The report provides records of each time a user reads Google Analytics reporting data. Access records are retained for up to 2 years. Data Access Reports can be requested for a property. Reports may be requested for any property, but dimensions that aren't related to quota can only be requested on Google Analytics 360 properties. This method is only available to Administrators. These data access records include GA UI Reporting, GA UI Explorations, GA Data API, and other products like Firebase & Admob that can retrieve data from Google Analytics through a linkage. These records don't include property configuration changes like adding a stream or changing a property's time zone. For configuration change history, see [searchChangeHistoryEvents](https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/accounts/searchChangeHistoryEvents). To give your feedback on this API, complete the [Google Analytics Access Reports feedback](https://docs.google.com/forms/d/e/1FAIpQLSdmEBUrMzAEdiEKk5TV5dEHvDUZDRlgWYdQdAeSdtR4hVjEhw/viewform) form.",
          "path": "v1alpha/{+entity}:runAccessReport",
          "flatPath": "v1alpha/accounts/{accountsId}:runAccessReport",
          "id": "analyticsadmin.accounts.runAccessReport"
        },
        "provisionAccountTicket": {
          "flatPath": "v1alpha/accounts:provisionAccountTicket",
          "id": "analyticsadmin.accounts.provisionAccountTicket",
          "path": "v1alpha/accounts:provisionAccountTicket",
          "httpMethod": "POST",
          "parameters": {},
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaProvisionAccountTicketResponse"
          },
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "description": "Requests a ticket for creating an account.",
          "request": {
            "$ref": "GoogleAnalyticsAdminV1alphaProvisionAccountTicketRequest"
          }
        },
        "getDataSharingSettings": {
          "id": "analyticsadmin.accounts.getDataSharingSettings",
          "flatPath": "v1alpha/accounts/{accountsId}/dataSharingSettings",
          "path": "v1alpha/{+name}",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "description": "Get data sharing settings on an account. Data sharing settings are singletons.",
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "required": true,
              "description": "Required. The name of the settings to lookup. Format: accounts/{account}/dataSharingSettings Example: `accounts/1000/dataSharingSettings`",
              "type": "string",
              "pattern": "^accounts/[^/]+/dataSharingSettings$",
              "location": "path"
            }
          },
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaDataSharingSettings"
          }
        },
        "list": {
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "description": "Returns all accounts accessible by the caller. Note that these accounts might not currently have GA properties. Soft-deleted (ie: \"trashed\") accounts are excluded by default. Returns an empty list if no relevant accounts are found.",
          "httpMethod": "GET",
          "parameters": {
            "pageSize": {
              "description": "Optional. The maximum number of resources to return. The service may return fewer than this value, even if there are additional pages. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "pageToken": {
              "type": "string",
              "description": "Optional. A page token, received from a previous `ListAccounts` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAccounts` must match the call that provided the page token.",
              "location": "query"
            },
            "showDeleted": {
              "description": "Whether to include soft-deleted (ie: \"trashed\") Accounts in the results. Accounts can be inspected to determine whether they are deleted or not.",
              "location": "query",
              "type": "boolean"
            }
          },
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaListAccountsResponse"
          },
          "path": "v1alpha/accounts",
          "id": "analyticsadmin.accounts.list",
          "flatPath": "v1alpha/accounts"
        },
        "get": {
          "id": "analyticsadmin.accounts.get",
          "flatPath": "v1alpha/accounts/{accountsId}",
          "path": "v1alpha/{+name}",
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^accounts/[^/]+$",
              "location": "path",
              "required": true,
              "description": "Required. The name of the account to lookup. Format: accounts/{account} Example: \"accounts/100\""
            }
          },
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccount"
          },
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "description": "Lookup for a single Account."
        },
        "patch": {
          "httpMethod": "PATCH",
          "parameters": {
            "name": {
              "pattern": "^accounts/[^/]+$",
              "location": "path",
              "type": "string",
              "description": "Identifier. Resource name of this account. Format: accounts/{account} Example: \"accounts/100\"",
              "required": true
            },
            "updateMask": {
              "description": "Required. The list of fields to be updated. Field names must be in snake case (for example, \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
              "location": "query",
              "format": "google-fieldmask",
              "type": "string"
            }
          },
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccount"
          },
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "description": "Updates an account.",
          "request": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccount"
          },
          "flatPath": "v1alpha/accounts/{accountsId}",
          "id": "analyticsadmin.accounts.patch",
          "path": "v1alpha/{+name}"
        },
        "searchChangeHistoryEvents": {
          "httpMethod": "POST",
          "parameters": {
            "account": {
              "type": "string",
              "pattern": "^accounts/[^/]+$",
              "location": "path",
              "required": true,
              "description": "Required. The account resource for which to return change history resources. Format: accounts/{account} Example: `accounts/100`"
            }
          },
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaSearchChangeHistoryEventsResponse"
          },
          "request": {
            "$ref": "GoogleAnalyticsAdminV1alphaSearchChangeHistoryEventsRequest"
          },
          "parameterOrder": [
            "account"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "description": "Searches through all changes to an account or its children given the specified set of filters. Only returns the subset of changes supported by the API. The UI may return additional changes.",
          "path": "v1alpha/{+account}:searchChangeHistoryEvents",
          "id": "analyticsadmin.accounts.searchChangeHistoryEvents",
          "flatPath": "v1alpha/accounts/{accountsId}:searchChangeHistoryEvents"
        }
      }
    },
    "properties": {
      "resources": {
        "accessBindings": {
          "methods": {
            "create": {
              "id": "analyticsadmin.properties.accessBindings.create",
              "flatPath": "v1alpha/properties/{propertiesId}/accessBindings",
              "path": "v1alpha/{+parent}/accessBindings",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "description": "Creates an access binding on an account or property.",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaAccessBinding"
              },
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "description": "Required. Formats: - accounts/{account} - properties/{property}",
                  "required": true,
                  "pattern": "^properties/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaAccessBinding"
              }
            },
            "batchGet": {
              "flatPath": "v1alpha/properties/{propertiesId}/accessBindings:batchGet",
              "id": "analyticsadmin.properties.accessBindings.batchGet",
              "path": "v1alpha/{+parent}/accessBindings:batchGet",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users",
                "https://www.googleapis.com/auth/analytics.manage.users.readonly"
              ],
              "description": "Gets information about multiple access bindings to an account or property.",
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "description": "Required. The account or property that owns the access bindings. The parent of all provided values for the 'names' field must match this field. Formats: - accounts/{account} - properties/{property}",
                  "required": true,
                  "pattern": "^properties/[^/]+$",
                  "location": "path",
                  "type": "string"
                },
                "names": {
                  "description": "Required. The names of the access bindings to retrieve. A maximum of 1000 access bindings can be retrieved in a batch. Formats: - accounts/{account}/accessBindings/{accessBinding} - properties/{property}/accessBindings/{accessBinding}",
                  "location": "query",
                  "repeated": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaBatchGetAccessBindingsResponse"
              }
            },
            "list": {
              "path": "v1alpha/{+parent}/accessBindings",
              "id": "analyticsadmin.properties.accessBindings.list",
              "flatPath": "v1alpha/properties/{propertiesId}/accessBindings",
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "Required. Formats: - accounts/{account} - properties/{property}",
                  "type": "string",
                  "pattern": "^properties/[^/]+$",
                  "location": "path"
                },
                "pageSize": {
                  "description": "The maximum number of access bindings to return. The service may return fewer than this value. If unspecified, at most 200 access bindings will be returned. The maximum value is 500; values above 500 will be coerced to 500.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "pageToken": {
                  "type": "string",
                  "description": "A page token, received from a previous `ListAccessBindings` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAccessBindings` must match the call that provided the page token.",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaListAccessBindingsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users",
                "https://www.googleapis.com/auth/analytics.manage.users.readonly"
              ],
              "description": "Lists all access bindings on an account or property."
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "description": "Deletes an access binding on an account or property.",
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "description": "Required. Formats: - accounts/{account}/accessBindings/{accessBinding} - properties/{property}/accessBindings/{accessBinding}",
                  "required": true,
                  "pattern": "^properties/[^/]+/accessBindings/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "id": "analyticsadmin.properties.accessBindings.delete",
              "flatPath": "v1alpha/properties/{propertiesId}/accessBindings/{accessBindingsId}",
              "path": "v1alpha/{+name}"
            },
            "batchUpdate": {
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaBatchUpdateAccessBindingsRequest"
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "description": "Updates information about multiple access bindings to an account or property.",
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "pattern": "^properties/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The account or property that owns the access bindings. The parent of all provided AccessBinding in UpdateAccessBindingRequest messages must match this field. Formats: - accounts/{account} - properties/{property}",
                  "required": true
                }
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaBatchUpdateAccessBindingsResponse"
              },
              "path": "v1alpha/{+parent}/accessBindings:batchUpdate",
              "id": "analyticsadmin.properties.accessBindings.batchUpdate",
              "flatPath": "v1alpha/properties/{propertiesId}/accessBindings:batchUpdate"
            },
            "get": {
              "path": "v1alpha/{+name}",
              "id": "analyticsadmin.properties.accessBindings.get",
              "flatPath": "v1alpha/properties/{propertiesId}/accessBindings/{accessBindingsId}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The name of the access binding to retrieve. Formats: - accounts/{account}/accessBindings/{accessBinding} - properties/{property}/accessBindings/{accessBinding}",
                  "type": "string",
                  "pattern": "^properties/[^/]+/accessBindings/[^/]+$",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaAccessBinding"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users",
                "https://www.googleapis.com/auth/analytics.manage.users.readonly"
              ],
              "description": "Gets information about an access binding."
            },
            "patch": {
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "description": "Updates an access binding on an account or property.",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaAccessBinding"
              },
              "httpMethod": "PATCH",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^properties/[^/]+/accessBindings/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Output only. Resource name of this binding. Format: accounts/{account}/accessBindings/{access_binding} or properties/{property}/accessBindings/{access_binding} Example: \"accounts/100/accessBindings/200\""
                }
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaAccessBinding"
              },
              "id": "analyticsadmin.properties.accessBindings.patch",
              "flatPath": "v1alpha/properties/{propertiesId}/accessBindings/{accessBindingsId}",
              "path": "v1alpha/{+name}"
            },
            "batchCreate": {
              "path": "v1alpha/{+parent}/accessBindings:batchCreate",
              "flatPath": "v1alpha/properties/{propertiesId}/accessBindings:batchCreate",
              "id": "analyticsadmin.properties.accessBindings.batchCreate",
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "Required. The account or property that owns the access bindings. The parent field in the CreateAccessBindingRequest messages must either be empty or match this field. Formats: - accounts/{account} - properties/{property}",
                  "type": "string",
                  "pattern": "^properties/[^/]+$",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaBatchCreateAccessBindingsResponse"
              },
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaBatchCreateAccessBindingsRequest"
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "description": "Creates information about multiple access bindings to an account or property. This method is transactional. If any AccessBinding cannot be created, none of the AccessBindings will be created."
            },
            "batchDelete": {
              "id": "analyticsadmin.properties.accessBindings.batchDelete",
              "flatPath": "v1alpha/properties/{propertiesId}/accessBindings:batchDelete",
              "path": "v1alpha/{+parent}/accessBindings:batchDelete",
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "pattern": "^properties/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The account or property that owns the access bindings. The parent of all provided values for the 'names' field in DeleteAccessBindingRequest messages must match this field. Formats: - accounts/{account} - properties/{property}",
                  "required": true
                }
              },
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "description": "Deletes information about multiple users' links to an account or property.",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaBatchDeleteAccessBindingsRequest"
              }
            }
          }
        },
        "bigQueryLinks": {
          "methods": {
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "description": "Creates a BigQueryLink.",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaBigQueryLink"
              },
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "Required. Example format: properties/1234",
                  "type": "string",
                  "pattern": "^properties/[^/]+$",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaBigQueryLink"
              },
              "flatPath": "v1alpha/properties/{propertiesId}/bigQueryLinks",
              "id": "analyticsadmin.properties.bigQueryLinks.create",
              "path": "v1alpha/{+parent}/bigQueryLinks"
            },
            "delete": {
              "path": "v1alpha/{+name}",
              "id": "analyticsadmin.properties.bigQueryLinks.delete",
              "flatPath": "v1alpha/properties/{propertiesId}/bigQueryLinks/{bigQueryLinksId}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "description": "Deletes a BigQueryLink on a property.",
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^properties/[^/]+/bigQueryLinks/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The BigQueryLink to delete. Example format: properties/1234/bigQueryLinks/5678"
                }
              },
              "response": {
                "$ref": "GoogleProtobufEmpty"
              }
            },
            "list": {
              "id": "analyticsadmin.properties.bigQueryLinks.list",
              "flatPath": "v1alpha/properties/{propertiesId}/bigQueryLinks",
              "path": "v1alpha/{+parent}/bigQueryLinks",
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "A page token, received from a previous `ListBigQueryLinks` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListBigQueryLinks` must match the call that provided the page token.",
                  "location": "query"
                },
                "parent": {
                  "pattern": "^properties/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the property to list BigQuery links under. Format: properties/{property_id} Example: properties/1234",
                  "required": true
                },
                "pageSize": {
                  "description": "The maximum number of resources to return. The service may return fewer than this value, even if there are additional pages. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaListBigQueryLinksResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "description": "Lists BigQuery Links on a property."
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "description": "Lookup for a single BigQuery Link.",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "Required. The name of the BigQuery link to lookup. Format: properties/{property_id}/bigQueryLinks/{bigquery_link_id} Example: properties/123/bigQueryLinks/456",
                  "required": true,
                  "pattern": "^properties/[^/]+/bigQueryLinks/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaBigQueryLink"
              },
              "path": "v1alpha/{+name}",
              "id": "analyticsadmin.properties.bigQueryLinks.get",
              "flatPath": "v1alpha/properties/{propertiesId}/bigQueryLinks/{bigQueryLinksId}"
            },
            "patch": {
              "httpMethod": "PATCH",
              "parameters": {
                "updateMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "description": "Required. The list of fields to be updated. Field names must be in snake case (e.g., \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
                  "location": "query"
                },
                "name": {
                  "pattern": "^properties/[^/]+/bigQueryLinks/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Output only. Resource name of this BigQuery link. Format: 'properties/{property_id}/bigQueryLinks/{bigquery_link_id}' Format: 'properties/1234/bigQueryLinks/abc567'",
                  "required": true
                }
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaBigQueryLink"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "description": "Updates a BigQueryLink.",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaBigQueryLink"
              },
              "flatPath": "v1alpha/properties/{propertiesId}/bigQueryLinks/{bigQueryLinksId}",
              "id": "analyticsadmin.properties.bigQueryLinks.patch",
              "path": "v1alpha/{+name}"
            }
          }
        },
        "calculatedMetrics": {
          "methods": {
            "create": {
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "pattern": "^properties/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. Format: properties/{property_id} Example: properties/1234",
                  "required": true
                },
                "calculatedMetricId": {
                  "description": "Required. The ID to use for the calculated metric which will become the final component of the calculated metric's resource name. This value should be 1-80 characters and valid characters are /[a-zA-Z0-9_]/, no spaces allowed. calculated_metric_id must be unique between all calculated metrics under a property. The calculated_metric_id is used when referencing this calculated metric from external APIs, for example, \"calcMetric:{calculated_metric_id}\".",
                  "location": "query",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaCalculatedMetric"
              },
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaCalculatedMetric"
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "description": "Creates a CalculatedMetric.",
              "path": "v1alpha/{+parent}/calculatedMetrics",
              "flatPath": "v1alpha/properties/{propertiesId}/calculatedMetrics",
              "id": "analyticsadmin.properties.calculatedMetrics.create"
            },
            "delete": {
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The name of the CalculatedMetric to delete. Format: properties/{property_id}/calculatedMetrics/{calculated_metric_id} Example: properties/1234/calculatedMetrics/Metric01",
                  "type": "string",
                  "pattern": "^properties/[^/]+/calculatedMetrics/[^/]+$",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "description": "Deletes a CalculatedMetric on a property.",
              "path": "v1alpha/{+name}",
              "flatPath": "v1alpha/properties/{propertiesId}/calculatedMetrics/{calculatedMetricsId}",
              "id": "analyticsadmin.properties.calculatedMetrics.delete"
            },
            "list": {
              "httpMethod": "GET",
              "parameters": {
                "pageSize": {
                  "description": "Optional. The maximum number of resources to return. If unspecified, at most 50 resources will be returned. The maximum value is 200 (higher values will be coerced to the maximum).",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "parent": {
                  "type": "string",
                  "pattern": "^properties/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. Example format: properties/1234"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Optional. A page token, received from a previous `ListCalculatedMetrics` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListCalculatedMetrics` must match the call that provided the page token.",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaListCalculatedMetricsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "description": "Lists CalculatedMetrics on a property.",
              "flatPath": "v1alpha/properties/{propertiesId}/calculatedMetrics",
              "id": "analyticsadmin.properties.calculatedMetrics.list",
              "path": "v1alpha/{+parent}/calculatedMetrics"
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "description": "Lookup for a single CalculatedMetric.",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The name of the CalculatedMetric to get. Format: properties/{property_id}/calculatedMetrics/{calculated_metric_id} Example: properties/1234/calculatedMetrics/Metric01",
                  "type": "string",
                  "pattern": "^properties/[^/]+/calculatedMetrics/[^/]+$",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaCalculatedMetric"
              },
              "flatPath": "v1alpha/properties/{propertiesId}/calculatedMetrics/{calculatedMetricsId}",
              "id": "analyticsadmin.properties.calculatedMetrics.get",
              "path": "v1alpha/{+name}"
            },
            "patch": {
              "path": "v1alpha/{+name}",
              "flatPath": "v1alpha/properties/{propertiesId}/calculatedMetrics/{calculatedMetricsId}",
              "id": "analyticsadmin.properties.calculatedMetrics.patch",
              "httpMethod": "PATCH",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^properties/[^/]+/calculatedMetrics/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Identifier. Resource name for this CalculatedMetric. Format: 'properties/{property_id}/calculatedMetrics/{calculated_metric_id}'"
                },
                "updateMask": {
                  "description": "Required. The list of fields to be updated. Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaCalculatedMetric"
              },
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaCalculatedMetric"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "description": "Updates a CalculatedMetric on a property."
            }
          }
        },
        "expandedDataSets": {
          "methods": {
            "create": {
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^properties/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. Example format: properties/1234"
                }
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaExpandedDataSet"
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "description": "Creates a ExpandedDataSet.",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaExpandedDataSet"
              },
              "flatPath": "v1alpha/properties/{propertiesId}/expandedDataSets",
              "id": "analyticsadmin.properties.expandedDataSets.create",
              "path": "v1alpha/{+parent}/expandedDataSets"
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "description": "Deletes a ExpandedDataSet on a property.",
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "pattern": "^properties/[^/]+/expandedDataSets/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. Example format: properties/1234/expandedDataSets/5678",
                  "required": true
                }
              },
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "path": "v1alpha/{+name}",
              "id": "analyticsadmin.properties.expandedDataSets.delete",
              "flatPath": "v1alpha/properties/{propertiesId}/expandedDataSets/{expandedDataSetsId}"
            },
            "get": {
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The name of the ExpandedDataSet to get. Example format: properties/1234/expandedDataSets/5678",
                  "type": "string",
                  "pattern": "^properties/[^/]+/expandedDataSets/[^/]+$",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaExpandedDataSet"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "description": "Lookup for a single ExpandedDataSet.",
              "flatPath": "v1alpha/properties/{propertiesId}/expandedDataSets/{expandedDataSetsId}",
              "id": "analyticsadmin.properties.expandedDataSets.get",
              "path": "v1alpha/{+name}"
            },
            "patch": {
              "httpMethod": "PATCH",
              "parameters": {
                "name": {
                  "description": "Output only. The resource name for this ExpandedDataSet resource. Format: properties/{property_id}/expandedDataSets/{expanded_data_set}",
                  "required": true,
                  "pattern": "^properties/[^/]+/expandedDataSets/[^/]+$",
                  "location": "path",
                  "type": "string"
                },
                "updateMask": {
                  "description": "Required. The list of fields to be updated. Field names must be in snake case (e.g., \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaExpandedDataSet"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "description": "Updates a ExpandedDataSet on a property.",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaExpandedDataSet"
              },
              "id": "analyticsadmin.properties.expandedDataSets.patch",
              "flatPath": "v1alpha/properties/{propertiesId}/expandedDataSets/{expandedDataSetsId}",
              "path": "v1alpha/{+name}"
            },
            "list": {
              "id": "analyticsadmin.properties.expandedDataSets.list",
              "flatPath": "v1alpha/properties/{propertiesId}/expandedDataSets",
              "path": "v1alpha/{+parent}/expandedDataSets",
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "description": "A page token, received from a previous `ListExpandedDataSets` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListExpandedDataSet` must match the call that provided the page token.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum number of resources to return. If unspecified, at most 50 resources will be returned. The maximum value is 200 (higher values will be coerced to the maximum).",
                  "location": "query"
                },
                "parent": {
                  "type": "string",
                  "pattern": "^properties/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. Example format: properties/1234"
                }
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaListExpandedDataSetsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "description": "Lists ExpandedDataSets on a property."
            }
          }
        },
        "subpropertyEventFilters": {
          "methods": {
            "create": {
              "path": "v1alpha/{+parent}/subpropertyEventFilters",
              "id": "analyticsadmin.properties.subpropertyEventFilters.create",
              "flatPath": "v1alpha/properties/{propertiesId}/subpropertyEventFilters",
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "description": "Required. The ordinary property for which to create a subproperty event filter. Format: properties/property_id Example: properties/123",
                  "required": true,
                  "pattern": "^properties/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilter"
              },
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilter"
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "description": "Creates a subproperty Event Filter."
            },
            "delete": {
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "description": "Required. Resource name of the subproperty event filter to delete. Format: properties/property_id/subpropertyEventFilters/subproperty_event_filter Example: properties/123/subpropertyEventFilters/456",
                  "required": true,
                  "pattern": "^properties/[^/]+/subpropertyEventFilters/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "description": "Deletes a subproperty event filter.",
              "flatPath": "v1alpha/properties/{propertiesId}/subpropertyEventFilters/{subpropertyEventFiltersId}",
              "id": "analyticsadmin.properties.subpropertyEventFilters.delete",
              "path": "v1alpha/{+name}"
            },
            "list": {
              "path": "v1alpha/{+parent}/subpropertyEventFilters",
              "flatPath": "v1alpha/properties/{propertiesId}/subpropertyEventFilters",
              "id": "analyticsadmin.properties.subpropertyEventFilters.list",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "description": "List all subproperty Event Filters on a property.",
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "description": "Optional. A page token, received from a previous `ListSubpropertyEventFilters` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListSubpropertyEventFilters` must match the call that provided the page token.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "description": "Optional. The maximum number of resources to return. The service may return fewer than this value, even if there are additional pages. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)",
                  "location": "query"
                },
                "parent": {
                  "type": "string",
                  "pattern": "^properties/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. Resource name of the ordinary property. Format: properties/property_id Example: properties/123"
                }
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaListSubpropertyEventFiltersResponse"
              }
            },
            "get": {
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. Resource name of the subproperty event filter to lookup. Format: properties/property_id/subpropertyEventFilters/subproperty_event_filter Example: properties/123/subpropertyEventFilters/456",
                  "type": "string",
                  "pattern": "^properties/[^/]+/subpropertyEventFilters/[^/]+$",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilter"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "description": "Lookup for a single subproperty Event Filter.",
              "id": "analyticsadmin.properties.subpropertyEventFilters.get",
              "flatPath": "v1alpha/properties/{propertiesId}/subpropertyEventFilters/{subpropertyEventFiltersId}",
              "path": "v1alpha/{+name}"
            },
            "patch": {
              "path": "v1alpha/{+name}",
              "flatPath": "v1alpha/properties/{propertiesId}/subpropertyEventFilters/{subpropertyEventFiltersId}",
              "id": "analyticsadmin.properties.subpropertyEventFilters.patch",
              "httpMethod": "PATCH",
              "parameters": {
                "updateMask": {
                  "description": "Required. The list of fields to update. Field names must be in snake case (for example, \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                },
                "name": {
                  "pattern": "^properties/[^/]+/subpropertyEventFilters/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Output only. Format: properties/{ordinary_property_id}/subpropertyEventFilters/{sub_property_event_filter} Example: properties/1234/subpropertyEventFilters/5678",
                  "required": true
                }
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilter"
              },
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilter"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "description": "Updates a subproperty Event Filter."
            }
          }
        },
        "keyEvents": {
          "methods": {
            "create": {
              "id": "analyticsadmin.properties.keyEvents.create",
              "flatPath": "v1alpha/properties/{propertiesId}/keyEvents",
              "path": "v1alpha/{+parent}/keyEvents",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "description": "Creates a Key Event.",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaKeyEvent"
              },
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "Required. The resource name of the parent property where this Key Event will be created. Format: properties/123",
                  "type": "string",
                  "pattern": "^properties/[^/]+$",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaKeyEvent"
              }
            },
            "delete": {
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The resource name of the Key Event to delete. Format: properties/{property}/keyEvents/{key_event} Example: \"properties/123/keyEvents/456\"",
                  "type": "string",
                  "pattern": "^properties/[^/]+/keyEvents/[^/]+$",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "description": "Deletes a Key Event.",
              "id": "analyticsadmin.properties.keyEvents.delete",
              "flatPath": "v1alpha/properties/{propertiesId}/keyEvents/{keyEventsId}",
              "path": "v1alpha/{+name}"
            },
            "patch": {
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaKeyEvent"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "description": "Updates a Key Event.",
              "httpMethod": "PATCH",
              "parameters": {
                "name": {
                  "description": "Output only. Resource name of this key event. Format: properties/{property}/keyEvents/{key_event}",
                  "required": true,
                  "pattern": "^properties/[^/]+/keyEvents/[^/]+$",
                  "location": "path",
                  "type": "string"
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "type": "string",
                  "description": "Required. The list of fields to be updated. Field names must be in snake case (e.g., \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaKeyEvent"
              },
              "path": "v1alpha/{+name}",
              "id": "analyticsadmin.properties.keyEvents.patch",
              "flatPath": "v1alpha/properties/{propertiesId}/keyEvents/{keyEventsId}"
            },
            "get": {
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "pattern": "^properties/[^/]+/keyEvents/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The resource name of the Key Event to retrieve. Format: properties/{property}/keyEvents/{key_event} Example: \"properties/123/keyEvents/456\"",
                  "required": true
                }
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaKeyEvent"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "description": "Retrieve a single Key Event.",
              "flatPath": "v1alpha/properties/{propertiesId}/keyEvents/{keyEventsId}",
              "id": "analyticsadmin.properties.keyEvents.get",
              "path": "v1alpha/{+name}"
            },
            "list": {
              "id": "analyticsadmin.properties.keyEvents.list",
              "flatPath": "v1alpha/properties/{propertiesId}/keyEvents",
              "path": "v1alpha/{+parent}/keyEvents",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "description": "Returns a list of Key Events in the specified parent property. Returns an empty list if no Key Events are found.",
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "Optional. A page token, received from a previous `ListKeyEvents` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListKeyEvents` must match the call that provided the page token.",
                  "location": "query"
                },
                "parent": {
                  "required": true,
                  "description": "Required. The resource name of the parent property. Example: 'properties/123'",
                  "type": "string",
                  "pattern": "^properties/[^/]+$",
                  "location": "path"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Optional. The maximum number of resources to return. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaListKeyEventsResponse"
              }
            }
          }
        },
        "customDimensions": {
          "methods": {
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "description": "Lists CustomDimensions on a property.",
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "description": "Optional. A page token, received from a previous `ListCustomDimensions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListCustomDimensions` must match the call that provided the page token.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "description": "Optional. The maximum number of resources to return. If unspecified, at most 50 resources will be returned. The maximum value is 200 (higher values will be coerced to the maximum).",
                  "location": "query"
                },
                "parent": {
                  "required": true,
                  "description": "Required. Example format: properties/1234",
                  "type": "string",
                  "pattern": "^properties/[^/]+$",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaListCustomDimensionsResponse"
              },
              "path": "v1alpha/{+parent}/customDimensions",
              "id": "analyticsadmin.properties.customDimensions.list",
              "flatPath": "v1alpha/properties/{propertiesId}/customDimensions"
            },
            "patch": {
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "description": "Updates a CustomDimension on a property.",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaCustomDimension"
              },
              "httpMethod": "PATCH",
              "parameters": {
                "updateMask": {
                  "format": "google-fieldmask",
                  "type": "string",
                  "description": "Required. The list of fields to be updated. Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
                  "location": "query"
                },
                "name": {
                  "description": "Identifier. Resource name for this CustomDimension resource. Format: properties/{property}/customDimensions/{customDimension}",
                  "required": true,
                  "pattern": "^properties/[^/]+/customDimensions/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaCustomDimension"
              },
              "flatPath": "v1alpha/properties/{propertiesId}/customDimensions/{customDimensionsId}",
              "id": "analyticsadmin.properties.customDimensions.patch",
              "path": "v1alpha/{+name}"
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "description": "Lookup for a single CustomDimension.",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "pattern": "^properties/[^/]+/customDimensions/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the CustomDimension to get. Example format: properties/1234/customDimensions/5678",
                  "required": true
                }
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaCustomDimension"
              },
              "path": "v1alpha/{+name}",
              "flatPath": "v1alpha/properties/{propertiesId}/customDimensions/{customDimensionsId}",
              "id": "analyticsadmin.properties.customDimensions.get"
            },
            "archive": {
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaArchiveCustomDimensionRequest"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "description": "Archives a CustomDimension on a property.",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The name of the CustomDimension to archive. Example format: properties/1234/customDimensions/5678",
                  "type": "string",
                  "pattern": "^properties/[^/]+/customDimensions/[^/]+$",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "path": "v1alpha/{+name}:archive",
              "flatPath": "v1alpha/properties/{propertiesId}/customDimensions/{customDimensionsId}:archive",
              "id": "analyticsadmin.properties.customDimensions.archive"
            },
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "description": "Creates a CustomDimension.",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaCustomDimension"
              },
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "pattern": "^properties/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. Example format: properties/1234",
                  "required": true
                }
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaCustomDimension"
              },
              "flatPath": "v1alpha/properties/{propertiesId}/customDimensions",
              "id": "analyticsadmin.properties.customDimensions.create",
              "path": "v1alpha/{+parent}/customDimensions"
            }
          }
        },
        "rollupPropertySourceLinks": {
          "methods": {
            "get": {
              "flatPath": "v1alpha/properties/{propertiesId}/rollupPropertySourceLinks/{rollupPropertySourceLinksId}",
              "id": "analyticsadmin.properties.rollupPropertySourceLinks.get",
              "path": "v1alpha/{+name}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "Required. The name of the roll-up property source link to lookup. Format: properties/{property_id}/rollupPropertySourceLinks/{rollup_property_source_link_id} Example: properties/123/rollupPropertySourceLinks/456",
                  "required": true,
                  "pattern": "^properties/[^/]+/rollupPropertySourceLinks/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaRollupPropertySourceLink"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "description": "Lookup for a single roll-up property source Link. Only roll-up properties can have source links, so this method will throw an error if used on other types of properties."
            },
            "list": {
              "id": "analyticsadmin.properties.rollupPropertySourceLinks.list",
              "flatPath": "v1alpha/properties/{propertiesId}/rollupPropertySourceLinks",
              "path": "v1alpha/{+parent}/rollupPropertySourceLinks",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "description": "Lists roll-up property source Links on a property. Only roll-up properties can have source links, so this method will throw an error if used on other types of properties.",
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "description": "Required. The name of the roll-up property to list roll-up property source links under. Format: properties/{property_id} Example: properties/1234",
                  "required": true,
                  "pattern": "^properties/[^/]+$",
                  "location": "path",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Optional. The maximum number of resources to return. The service may return fewer than this value, even if there are additional pages. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)",
                  "location": "query"
                },
                "pageToken": {
                  "description": "Optional. A page token, received from a previous `ListRollupPropertySourceLinks` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListRollupPropertySourceLinks` must match the call that provided the page token.",
                  "location": "query",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaListRollupPropertySourceLinksResponse"
              }
            },
            "create": {
              "flatPath": "v1alpha/properties/{propertiesId}/rollupPropertySourceLinks",
              "id": "analyticsadmin.properties.rollupPropertySourceLinks.create",
              "path": "v1alpha/{+parent}/rollupPropertySourceLinks",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "description": "Creates a roll-up property source link. Only roll-up properties can have source links, so this method will throw an error if used on other types of properties.",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaRollupPropertySourceLink"
              },
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^properties/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. Format: properties/{property_id} Example: properties/1234"
                }
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaRollupPropertySourceLink"
              }
            },
            "delete": {
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "pattern": "^properties/[^/]+/rollupPropertySourceLinks/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. Format: properties/{property_id}/rollupPropertySourceLinks/{rollup_property_source_link_id} Example: properties/1234/rollupPropertySourceLinks/5678",
                  "required": true
                }
              },
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "description": "Deletes a roll-up property source link. Only roll-up properties can have source links, so this method will throw an error if used on other types of properties.",
              "id": "analyticsadmin.properties.rollupPropertySourceLinks.delete",
              "flatPath": "v1alpha/properties/{propertiesId}/rollupPropertySourceLinks/{rollupPropertySourceLinksId}",
              "path": "v1alpha/{+name}"
            }
          }
        },
        "firebaseLinks": {
          "methods": {
            "create": {
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^properties/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. Format: properties/{property_id} Example: `properties/1234`"
                }
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaFirebaseLink"
              },
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaFirebaseLink"
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "description": "Creates a FirebaseLink. Properties can have at most one FirebaseLink.",
              "path": "v1alpha/{+parent}/firebaseLinks",
              "id": "analyticsadmin.properties.firebaseLinks.create",
              "flatPath": "v1alpha/properties/{propertiesId}/firebaseLinks"
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "description": "Deletes a FirebaseLink on a property",
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. Format: properties/{property_id}/firebaseLinks/{firebase_link_id} Example: `properties/1234/firebaseLinks/5678`",
                  "type": "string",
                  "pattern": "^properties/[^/]+/firebaseLinks/[^/]+$",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "path": "v1alpha/{+name}",
              "flatPath": "v1alpha/properties/{propertiesId}/firebaseLinks/{firebaseLinksId}",
              "id": "analyticsadmin.properties.firebaseLinks.delete"
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "description": "Lists FirebaseLinks on a property. Properties can have at most one FirebaseLink.",
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "Required. Format: properties/{property_id} Example: `properties/1234`",
                  "type": "string",
                  "pattern": "^properties/[^/]+$",
                  "location": "path"
                },
                "pageSize": {
                  "description": "Optional. The maximum number of resources to return. The service may return fewer than this value, even if there are additional pages. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Optional. A page token, received from a previous `ListFirebaseLinks` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListFirebaseLinks` must match the call that provided the page token.",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaListFirebaseLinksResponse"
              },
              "path": "v1alpha/{+parent}/firebaseLinks",
              "id": "analyticsadmin.properties.firebaseLinks.list",
              "flatPath": "v1alpha/properties/{propertiesId}/firebaseLinks"
            }
          }
        },
        "channelGroups": {
          "methods": {
            "list": {
              "path": "v1alpha/{+parent}/channelGroups",
              "flatPath": "v1alpha/properties/{propertiesId}/channelGroups",
              "id": "analyticsadmin.properties.channelGroups.list",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "description": "Lists ChannelGroups on a property.",
              "httpMethod": "GET",
              "parameters": {
                "pageSize": {
                  "description": "The maximum number of resources to return. If unspecified, at most 50 resources will be returned. The maximum value is 200 (higher values will be coerced to the maximum).",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "parent": {
                  "type": "string",
                  "pattern": "^properties/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The property for which to list ChannelGroups. Example format: properties/1234"
                },
                "pageToken": {
                  "description": "A page token, received from a previous `ListChannelGroups` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListChannelGroups` must match the call that provided the page token.",
                  "location": "query",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaListChannelGroupsResponse"
              }
            },
            "get": {
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "Required. The ChannelGroup to get. Example format: properties/1234/channelGroups/5678",
                  "required": true,
                  "pattern": "^properties/[^/]+/channelGroups/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaChannelGroup"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "description": "Lookup for a single ChannelGroup.",
              "id": "analyticsadmin.properties.channelGroups.get",
              "flatPath": "v1alpha/properties/{propertiesId}/channelGroups/{channelGroupsId}",
              "path": "v1alpha/{+name}"
            },
            "patch": {
              "path": "v1alpha/{+name}",
              "flatPath": "v1alpha/properties/{propertiesId}/channelGroups/{channelGroupsId}",
              "id": "analyticsadmin.properties.channelGroups.patch",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaChannelGroup"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "description": "Updates a ChannelGroup.",
              "httpMethod": "PATCH",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^properties/[^/]+/channelGroups/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Output only. The resource name for this Channel Group resource. Format: properties/{property}/channelGroups/{channel_group}"
                },
                "updateMask": {
                  "description": "Required. The list of fields to be updated. Field names must be in snake case (e.g., \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                }
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaChannelGroup"
              }
            },
            "create": {
              "flatPath": "v1alpha/properties/{propertiesId}/channelGroups",
              "id": "analyticsadmin.properties.channelGroups.create",
              "path": "v1alpha/{+parent}/channelGroups",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "description": "Creates a ChannelGroup.",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaChannelGroup"
              },
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "Required. The property for which to create a ChannelGroup. Example format: properties/1234",
                  "type": "string",
                  "pattern": "^properties/[^/]+$",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaChannelGroup"
              }
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "description": "Deletes a ChannelGroup on a property.",
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "pattern": "^properties/[^/]+/channelGroups/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The ChannelGroup to delete. Example format: properties/1234/channelGroups/5678",
                  "required": true
                }
              },
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "id": "analyticsadmin.properties.channelGroups.delete",
              "flatPath": "v1alpha/properties/{propertiesId}/channelGroups/{channelGroupsId}",
              "path": "v1alpha/{+name}"
            }
          }
        },
        "adSenseLinks": {
          "methods": {
            "list": {
              "path": "v1alpha/{+parent}/adSenseLinks",
              "id": "analyticsadmin.properties.adSenseLinks.list",
              "flatPath": "v1alpha/properties/{propertiesId}/adSenseLinks",
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "A page token received from a previous `ListAdSenseLinks` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAdSenseLinks` must match the call that provided the page token.",
                  "location": "query"
                },
                "parent": {
                  "pattern": "^properties/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. Resource name of the parent property. Format: properties/{propertyId} Example: properties/1234",
                  "required": true
                },
                "pageSize": {
                  "description": "The maximum number of resources to return. If unspecified, at most 50 resources will be returned. The maximum value is 200 (higher values will be coerced to the maximum).",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaListAdSenseLinksResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "description": "Lists AdSenseLinks on a property."
            },
            "get": {
              "path": "v1alpha/{+name}",
              "flatPath": "v1alpha/properties/{propertiesId}/adSenseLinks/{adSenseLinksId}",
              "id": "analyticsadmin.properties.adSenseLinks.get",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "description": "Looks up a single AdSenseLink.",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^properties/[^/]+/adSenseLinks/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. Unique identifier for the AdSense Link requested. Format: properties/{propertyId}/adSenseLinks/{linkId} Example: properties/1234/adSenseLinks/5678"
                }
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaAdSenseLink"
              }
            },
            "create": {
              "httpMethod": "POST",
              "parameters": {
[...]
