{
  "parameters": {
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "description": "Data format for response.",
      "location": "query",
      "default": "json",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    }
  },
  "version": "v1alpha",
  "canonicalName": "Google Analytics Admin",
  "id": "analyticsadmin:v1alpha",
  "basePath": "",
  "version_module": true,
  "mtlsRootUrl": "https://analyticsadmin.mtls.googleapis.com/",
  "name": "analyticsadmin",
  "revision": "20260726",
  "discoveryVersion": "v1",
  "rootUrl": "https://analyticsadmin.googleapis.com/",
  "title": "Google Analytics Admin API",
  "resources": {
    "accounts": {
      "methods": {
        "patch": {
          "id": "analyticsadmin.accounts.patch",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "path": "v1alpha/{+name}",
          "description": "Updates an account.",
          "flatPath": "v1alpha/accounts/{accountsId}",
          "httpMethod": "PATCH",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "pattern": "^accounts/[^/]+$",
              "required": true,
              "description": "Identifier. Resource name of this account. Format: accounts/{account} Example: \"accounts/100\"",
              "location": "path",
              "type": "string"
            },
            "updateMask": {
              "type": "string",
              "description": "Required. The list of fields to be updated. Field names must be in snake case (for example, \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
              "location": "query",
              "format": "google-fieldmask"
            }
          },
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccount"
          },
          "request": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccount"
          }
        },
        "getDataSharingSettings": {
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1alpha/accounts/{accountsId}/dataSharingSettings",
          "httpMethod": "GET",
          "path": "v1alpha/{+name}",
          "id": "analyticsadmin.accounts.getDataSharingSettings",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "description": "Get data sharing settings on an account. Data sharing settings are singletons.",
          "parameters": {
            "name": {
              "pattern": "^accounts/[^/]+/dataSharingSettings$",
              "type": "string",
              "description": "Required. The name of the settings to lookup. Format: accounts/{account}/dataSharingSettings Example: `accounts/1000/dataSharingSettings`",
              "location": "path",
              "required": true
            }
          },
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaDataSharingSettings"
          }
        },
        "delete": {
          "parameters": {
            "name": {
              "pattern": "^accounts/[^/]+$",
              "type": "string",
              "description": "Required. The name of the Account to soft-delete. Format: accounts/{account} Example: \"accounts/100\"",
              "location": "path",
              "required": true
            }
          },
          "response": {
            "$ref": "GoogleProtobufEmpty"
          },
          "flatPath": "v1alpha/accounts/{accountsId}",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "name"
          ],
          "description": "Marks target Account as soft-deleted (ie: \"trashed\") and returns it. This API does not have a method to restore soft-deleted accounts. However, they can be restored using the Trash Can UI. If the accounts are not restored before the expiration time, the account and all child resources (eg: Properties, GoogleAdsLinks, Streams, AccessBindings) will be permanently purged. https://support.google.com/analytics/answer/6154772 Returns an error if the target is not found.",
          "id": "analyticsadmin.accounts.delete",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "path": "v1alpha/{+name}"
        },
        "runAccessReport": {
          "flatPath": "v1alpha/accounts/{accountsId}:runAccessReport",
          "httpMethod": "POST",
          "parameterOrder": [
            "entity"
          ],
          "id": "analyticsadmin.accounts.runAccessReport",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "path": "v1alpha/{+entity}:runAccessReport",
          "description": "Returns a customized report of data access records. The report provides records of each time a user reads Google Analytics reporting data. Access records are retained for up to 2 years. Data Access Reports can be requested for a property. Reports may be requested for any property, but dimensions that aren't related to quota can only be requested on Google Analytics 360 properties. This method is only available to Administrators. These data access records include GA UI Reporting, GA UI Explorations, GA Data API, and other products like Firebase & Admob that can retrieve data from Google Analytics through a linkage. These records don't include property configuration changes like adding a stream or changing a property's time zone. For configuration change history, see [searchChangeHistoryEvents](https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/accounts/searchChangeHistoryEvents). To give your feedback on this API, complete the [Google Analytics Access Reports feedback](https://docs.google.com/forms/d/e/1FAIpQLSdmEBUrMzAEdiEKk5TV5dEHvDUZDRlgWYdQdAeSdtR4hVjEhw/viewform) form.",
          "parameters": {
            "entity": {
              "type": "string",
              "description": "The Data Access Report supports requesting at the property level or account level. If requested at the account level, Data Access Reports include all access for all properties under that account. To request at the property level, entity should be for example 'properties/123' if \"123\" is your Google Analytics property ID. To request at the account level, entity should be for example 'accounts/1234' if \"1234\" is your Google Analytics Account ID.",
              "location": "path",
              "required": true,
              "pattern": "^accounts/[^/]+$"
            }
          },
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaRunAccessReportResponse"
          },
          "request": {
            "$ref": "GoogleAnalyticsAdminV1alphaRunAccessReportRequest"
          }
        },
        "searchChangeHistoryEvents": {
          "request": {
            "$ref": "GoogleAnalyticsAdminV1alphaSearchChangeHistoryEventsRequest"
          },
          "parameters": {
            "account": {
              "pattern": "^accounts/[^/]+$",
              "required": true,
              "description": "Required. The account resource for which to return change history resources. Format: accounts/{account} Example: `accounts/100`",
              "location": "path",
              "type": "string"
            }
          },
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaSearchChangeHistoryEventsResponse"
          },
          "description": "Searches through all changes to an account or its children given the specified set of filters. Only returns the subset of changes supported by the API. The UI may return additional changes.",
          "id": "analyticsadmin.accounts.searchChangeHistoryEvents",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "path": "v1alpha/{+account}:searchChangeHistoryEvents",
          "flatPath": "v1alpha/accounts/{accountsId}:searchChangeHistoryEvents",
          "httpMethod": "POST",
          "parameterOrder": [
            "account"
          ]
        },
        "get": {
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1alpha/accounts/{accountsId}",
          "httpMethod": "GET",
          "path": "v1alpha/{+name}",
          "id": "analyticsadmin.accounts.get",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "description": "Lookup for a single Account.",
          "parameters": {
            "name": {
              "description": "Required. The name of the account to lookup. Format: accounts/{account} Example: \"accounts/100\"",
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^accounts/[^/]+$"
            }
          },
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccount"
          }
        },
        "list": {
          "parameterOrder": [],
          "flatPath": "v1alpha/accounts",
          "httpMethod": "GET",
          "description": "Returns all accounts accessible by the caller. Note that these accounts might not currently have GA properties. Soft-deleted (ie: \"trashed\") accounts are excluded by default. Returns an empty list if no relevant accounts are found. Note: The easiest way to retrieve a list of all properties you have access to is by using `ListAccountSummaries`.",
          "path": "v1alpha/accounts",
          "id": "analyticsadmin.accounts.list",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "parameters": {
            "pageSize": {
              "description": "Optional. The maximum number of resources to return. The service may return fewer than this value, even if there are additional pages. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "pageToken": {
              "description": "Optional. A page token, received from a previous `ListAccounts` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAccounts` must match the call that provided the page token.",
              "location": "query",
              "type": "string"
            },
            "showDeleted": {
              "description": "Whether to include soft-deleted (ie: \"trashed\") Accounts in the results. Accounts can be inspected to determine whether they are deleted or not.",
              "location": "query",
              "type": "boolean"
            }
          },
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaListAccountsResponse"
          }
        },
        "provisionAccountTicket": {
          "id": "analyticsadmin.accounts.provisionAccountTicket",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "path": "v1alpha/accounts:provisionAccountTicket",
          "description": "Requests a ticket for creating an account.",
          "flatPath": "v1alpha/accounts:provisionAccountTicket",
          "httpMethod": "POST",
          "parameterOrder": [],
          "parameters": {},
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaProvisionAccountTicketResponse"
          },
          "request": {
            "$ref": "GoogleAnalyticsAdminV1alphaProvisionAccountTicketRequest"
          }
        }
      },
      "resources": {
        "accessBindings": {
          "methods": {
            "get": {
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the access binding to retrieve. Formats: - accounts/{account}/accessBindings/{accessBinding} - properties/{property}/accessBindings/{accessBinding}",
                  "location": "path",
                  "pattern": "^accounts/[^/]+/accessBindings/[^/]+$"
                }
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaAccessBinding"
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha/accounts/{accountsId}/accessBindings/{accessBindingsId}",
              "httpMethod": "GET",
              "path": "v1alpha/{+name}",
              "id": "analyticsadmin.accounts.accessBindings.get",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users",
                "https://www.googleapis.com/auth/analytics.manage.users.readonly"
              ],
              "description": "Gets information about an access binding."
            },
            "delete": {
              "parameters": {
                "name": {
                  "pattern": "^accounts/[^/]+/accessBindings/[^/]+$",
                  "type": "string",
                  "description": "Required. Formats: - accounts/{account}/accessBindings/{accessBinding} - properties/{property}/accessBindings/{accessBinding}",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "id": "analyticsadmin.accounts.accessBindings.delete",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "path": "v1alpha/{+name}",
              "description": "Deletes an access binding on an account or property.",
              "flatPath": "v1alpha/accounts/{accountsId}/accessBindings/{accessBindingsId}",
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ]
            },
            "create": {
              "description": "Creates an access binding on an account or property.",
              "path": "v1alpha/{+parent}/accessBindings",
              "id": "analyticsadmin.accounts.accessBindings.create",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1alpha/accounts/{accountsId}/accessBindings",
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaAccessBinding"
              },
              "parameters": {
                "parent": {
                  "pattern": "^accounts/[^/]+$",
                  "required": true,
                  "description": "Required. Formats: - accounts/{account} - properties/{property}",
                  "location": "path",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaAccessBinding"
              }
            },
            "patch": {
              "description": "Updates an access binding on an account or property.",
              "path": "v1alpha/{+name}",
              "id": "analyticsadmin.accounts.accessBindings.patch",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha/accounts/{accountsId}/accessBindings/{accessBindingsId}",
              "httpMethod": "PATCH",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaAccessBinding"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Output only. Resource name of this binding. Format: accounts/{account}/accessBindings/{access_binding} or properties/{property}/accessBindings/{access_binding} Example: \"accounts/100/accessBindings/200\"",
                  "location": "path",
                  "type": "string",
                  "pattern": "^accounts/[^/]+/accessBindings/[^/]+$"
                }
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaAccessBinding"
              }
            },
            "list": {
              "description": "Lists all access bindings on an account or property.",
              "path": "v1alpha/{+parent}/accessBindings",
              "id": "analyticsadmin.accounts.accessBindings.list",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users",
                "https://www.googleapis.com/auth/analytics.manage.users.readonly"
              ],
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1alpha/accounts/{accountsId}/accessBindings",
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "pattern": "^accounts/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. Formats: - accounts/{account} - properties/{property}",
                  "location": "path"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "The maximum number of access bindings to return. The service may return fewer than this value. If unspecified, at most 200 access bindings will be returned. The maximum value is 500; values above 500 will be coerced to 500.",
                  "location": "query",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "A page token, received from a previous `ListAccessBindings` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAccessBindings` must match the call that provided the page token.",
                  "location": "query",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaListAccessBindingsResponse"
              }
            },
            "batchGet": {
              "description": "Gets information about multiple access bindings to an account or property.",
              "id": "analyticsadmin.accounts.accessBindings.batchGet",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users",
                "https://www.googleapis.com/auth/analytics.manage.users.readonly"
              ],
              "path": "v1alpha/{+parent}/accessBindings:batchGet",
              "flatPath": "v1alpha/accounts/{accountsId}/accessBindings:batchGet",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "Required. The account or property that owns the access bindings. The parent of all provided values for the 'names' field must match this field. Formats: - accounts/{account} - properties/{property}",
                  "location": "path",
                  "type": "string",
                  "pattern": "^accounts/[^/]+$"
                },
                "names": {
                  "type": "string",
                  "repeated": true,
                  "description": "Required. The names of the access bindings to retrieve. A maximum of 1000 access bindings can be retrieved in a batch. Formats: - accounts/{account}/accessBindings/{accessBinding} - properties/{property}/accessBindings/{accessBinding}",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaBatchGetAccessBindingsResponse"
              }
            },
            "batchUpdate": {
              "flatPath": "v1alpha/accounts/{accountsId}/accessBindings:batchUpdate",
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "description": "Updates information about multiple access bindings to an account or property.",
              "id": "analyticsadmin.accounts.accessBindings.batchUpdate",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "path": "v1alpha/{+parent}/accessBindings:batchUpdate",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaBatchUpdateAccessBindingsRequest"
              },
              "parameters": {
                "parent": {
                  "pattern": "^accounts/[^/]+$",
                  "description": "Required. The account or property that owns the access bindings. The parent of all provided AccessBinding in UpdateAccessBindingRequest messages must match this field. Formats: - accounts/{account} - properties/{property}",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaBatchUpdateAccessBindingsResponse"
              }
            },
            "batchCreate": {
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaBatchCreateAccessBindingsRequest"
              },
              "parameters": {
                "parent": {
                  "type": "string",
                  "description": "Required. The account or property that owns the access bindings. The parent field in the CreateAccessBindingRequest messages must either be empty or match this field. Formats: - accounts/{account} - properties/{property}",
                  "location": "path",
                  "required": true,
                  "pattern": "^accounts/[^/]+$"
                }
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaBatchCreateAccessBindingsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1alpha/accounts/{accountsId}/accessBindings:batchCreate",
              "httpMethod": "POST",
              "description": "Creates information about multiple access bindings to an account or property. This method is transactional. If any AccessBinding cannot be created, none of the AccessBindings will be created.",
              "path": "v1alpha/{+parent}/accessBindings:batchCreate",
              "id": "analyticsadmin.accounts.accessBindings.batchCreate",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ]
            },
            "batchDelete": {
              "parameters": {
                "parent": {
                  "type": "string",
                  "required": true,
                  "description": "Required. The account or property that owns the access bindings. The parent of all provided values for the 'names' field in DeleteAccessBindingRequest messages must match this field. Formats: - accounts/{account} - properties/{property}",
                  "location": "path",
                  "pattern": "^accounts/[^/]+$"
                }
              },
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaBatchDeleteAccessBindingsRequest"
              },
              "flatPath": "v1alpha/accounts/{accountsId}/accessBindings:batchDelete",
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "id": "analyticsadmin.accounts.accessBindings.batchDelete",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "path": "v1alpha/{+parent}/accessBindings:batchDelete",
              "description": "Deletes information about multiple users' links to an account or property."
            }
          }
        }
      }
    },
    "accountSummaries": {
      "methods": {
        "list": {
          "flatPath": "v1alpha/accountSummaries",
          "httpMethod": "GET",
          "parameterOrder": [],
          "id": "analyticsadmin.accountSummaries.list",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "path": "v1alpha/accountSummaries",
          "description": "Returns summaries of all accounts accessible by the caller.",
          "parameters": {
            "pageSize": {
              "type": "integer",
              "description": "Optional. The maximum number of AccountSummary resources to return. The service may return fewer than this value, even if there are additional pages. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)",
              "location": "query",
              "format": "int32"
            },
            "pageToken": {
              "description": "Optional. A page token, received from a previous `ListAccountSummaries` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAccountSummaries` must match the call that provided the page token.",
              "location": "query",
              "type": "string"
            }
          },
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaListAccountSummariesResponse"
          }
        }
      }
    },
    "properties": {
      "methods": {
        "updateAttributionSettings": {
          "flatPath": "v1alpha/properties/{propertiesId}/attributionSettings",
          "httpMethod": "PATCH",
          "parameterOrder": [
            "name"
          ],
          "id": "analyticsadmin.properties.updateAttributionSettings",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "path": "v1alpha/{+name}",
          "description": "Updates attribution settings on a property.",
          "parameters": {
            "updateMask": {
              "description": "Required. The list of fields to be updated. Field names must be in snake case (e.g., \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
              "location": "query",
              "format": "google-fieldmask",
              "type": "string"
            },
            "name": {
              "required": true,
              "description": "Output only. Resource name of this attribution settings resource. Format: properties/{property_id}/attributionSettings Example: \"properties/1000/attributionSettings\"",
              "location": "path",
              "type": "string",
              "pattern": "^properties/[^/]+/attributionSettings$"
            }
          },
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaAttributionSettings"
          },
          "request": {
            "$ref": "GoogleAnalyticsAdminV1alphaAttributionSettings"
          }
        },
        "getGoogleSignalsSettings": {
          "parameters": {
            "name": {
              "pattern": "^properties/[^/]+/googleSignalsSettings$",
              "type": "string",
              "description": "Required. The name of the google signals settings to retrieve. Format: properties/{property}/googleSignalsSettings",
              "location": "path",
              "required": true
            }
          },
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaGoogleSignalsSettings"
          },
          "path": "v1alpha/{+name}",
          "id": "analyticsadmin.properties.getGoogleSignalsSettings",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "description": "Lookup for Google Signals settings for a property.",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1alpha/properties/{propertiesId}/googleSignalsSettings",
          "httpMethod": "GET"
        },
        "getUserProvidedDataSettings": {
          "flatPath": "v1alpha/properties/{propertiesId}/userProvidedDataSettings",
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "id": "analyticsadmin.properties.getUserProvidedDataSettings",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "path": "v1alpha/{+name}",
          "description": "Looks up settings related to user-provided data for a property.",
          "parameters": {
            "name": {
              "type": "string",
              "required": true,
              "description": "Required. The name of the user provided data settings to retrieve. Format: properties/{property}/userProvidedDataSettings",
              "location": "path",
              "pattern": "^properties/[^/]+/userProvidedDataSettings$"
            }
          },
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaUserProvidedDataSettings"
          }
        },
        "delete": {
          "flatPath": "v1alpha/properties/{propertiesId}",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "name"
          ],
          "description": "Marks target Property as soft-deleted (ie: \"trashed\") and returns it. This API does not have a method to restore soft-deleted properties. However, they can be restored using the Trash Can UI. If the properties are not restored before the expiration time, the Property and all child resources (eg: GoogleAdsLinks, Streams, AccessBindings) will be permanently purged. https://support.google.com/analytics/answer/6154772 Returns an error if the target is not found.",
          "id": "analyticsadmin.properties.delete",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "path": "v1alpha/{+name}",
          "parameters": {
            "name": {
              "pattern": "^properties/[^/]+$",
              "type": "string",
              "required": true,
              "description": "Required. The name of the Property to soft-delete. Format: properties/{property_id} Example: \"properties/1000\"",
              "location": "path"
            }
          },
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaProperty"
          }
        },
        "create": {
          "flatPath": "v1alpha/properties",
          "httpMethod": "POST",
          "parameterOrder": [],
          "description": "Creates a Google Analytics property with the specified location and attributes.",
          "id": "analyticsadmin.properties.create",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "path": "v1alpha/properties",
          "request": {
            "$ref": "GoogleAnalyticsAdminV1alphaProperty"
          },
          "parameters": {},
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaProperty"
          }
        },
        "patch": {
          "flatPath": "v1alpha/properties/{propertiesId}",
          "httpMethod": "PATCH",
          "parameterOrder": [
            "name"
          ],
          "id": "analyticsadmin.properties.patch",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "path": "v1alpha/{+name}",
          "description": "Updates a property.",
          "parameters": {
            "updateMask": {
              "description": "Required. The list of fields to be updated. Field names must be in snake case (e.g., \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
              "location": "query",
              "format": "google-fieldmask",
              "type": "string"
            },
            "name": {
              "pattern": "^properties/[^/]+$",
              "description": "Identifier. Resource name of this property. Format: properties/{property_id} Example: \"properties/1000\"",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaProperty"
          },
          "request": {
            "$ref": "GoogleAnalyticsAdminV1alphaProperty"
          }
        },
        "list": {
          "parameters": {
            "pageSize": {
              "type": "integer",
              "description": "Optional. The maximum number of resources to return. The service may return fewer than this value, even if there are additional pages. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)",
              "location": "query",
              "format": "int32"
            },
            "pageToken": {
              "type": "string",
              "description": "Optional. A page token, received from a previous `ListProperties` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListProperties` must match the call that provided the page token.",
              "location": "query"
            },
            "showDeleted": {
              "type": "boolean",
              "description": "Whether to include soft-deleted (ie: \"trashed\") Properties in the results. Properties can be inspected to determine whether they are deleted or not.",
              "location": "query"
            },
            "filter": {
              "description": "Required. An expression for filtering the results of the request. Fields eligible for filtering are: `parent:`(The resource name of the parent account/property) or `ancestor:`(The resource name of the parent account) or `firebase_project:`(The id or number of the linked firebase project). Some examples of filters: ``` | Filter | Description | |-----------------------------|-------------------------------------------| | parent:accounts/123 | The account with account id: 123. | | parent:properties/123 | The property with property id: 123. | | ancestor:accounts/123 | The account with account id: 123. | | firebase_project:project-id | The firebase project with id: project-id. | | firebase_project:123 | The firebase project with number: 123. | ```",
              "location": "query",
              "type": "string"
            }
          },
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaListPropertiesResponse"
          },
          "description": "Returns child Properties under the specified parent Account. Properties will be excluded if the caller does not have access. Soft-deleted (ie: \"trashed\") properties are excluded by default. Returns an empty list if no relevant properties are found.",
          "path": "v1alpha/properties",
          "id": "analyticsadmin.properties.list",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "parameterOrder": [],
          "flatPath": "v1alpha/properties",
          "httpMethod": "GET"
        },
        "updateDataRetentionSettings": {
          "flatPath": "v1alpha/properties/{propertiesId}/dataRetentionSettings",
          "httpMethod": "PATCH",
          "parameterOrder": [
            "name"
          ],
          "description": "Updates the singleton data retention settings for this property.",
          "id": "analyticsadmin.properties.updateDataRetentionSettings",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "path": "v1alpha/{+name}",
          "request": {
            "$ref": "GoogleAnalyticsAdminV1alphaDataRetentionSettings"
          },
          "parameters": {
            "updateMask": {
              "description": "Required. The list of fields to be updated. Field names must be in snake case (e.g., \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
              "location": "query",
              "format": "google-fieldmask",
              "type": "string"
            },
            "name": {
              "description": "Identifier. Resource name for this DataRetentionSetting resource. Format: properties/{property}/dataRetentionSettings",
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^properties/[^/]+/dataRetentionSettings$"
            }
          },
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaDataRetentionSettings"
          }
        },
        "updateGoogleSignalsSettings": {
          "parameters": {
            "updateMask": {
              "type": "string",
              "description": "Required. The list of fields to be updated. Field names must be in snake case (e.g., \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
              "location": "query",
              "format": "google-fieldmask"
            },
            "name": {
              "description": "Output only. Resource name of this setting. Format: properties/{property_id}/googleSignalsSettings Example: \"properties/1000/googleSignalsSettings\"",
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^properties/[^/]+/googleSignalsSettings$"
            }
          },
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaGoogleSignalsSettings"
          },
          "request": {
            "$ref": "GoogleAnalyticsAdminV1alphaGoogleSignalsSettings"
          },
          "flatPath": "v1alpha/properties/{propertiesId}/googleSignalsSettings",
          "httpMethod": "PATCH",
          "parameterOrder": [
            "name"
          ],
          "id": "analyticsadmin.properties.updateGoogleSignalsSettings",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "path": "v1alpha/{+name}",
          "description": "Updates Google Signals settings for a property."
        },
        "submitUserDeletion": {
          "path": "v1alpha/{+name}:submitUserDeletion",
          "id": "analyticsadmin.properties.submitUserDeletion",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "description": "Submits a request for user deletion for a property.",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1alpha/properties/{propertiesId}:submitUserDeletion",
          "httpMethod": "POST",
          "parameters": {
            "name": {
              "type": "string",
              "required": true,
              "description": "Required. The name of the property to submit user deletion for.",
              "location": "path",
              "pattern": "^properties/[^/]+$"
            }
          },
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaSubmitUserDeletionResponse"
          },
          "request": {
            "$ref": "GoogleAnalyticsAdminV1alphaSubmitUserDeletionRequest"
          }
        },
        "acknowledgeUserDataCollection": {
          "description": "Acknowledges the terms of user data collection for the specified property. This acknowledgement must be completed (either in the Google Analytics UI or through this API) before MeasurementProtocolSecret resources may be created.",
          "id": "analyticsadmin.properties.acknowledgeUserDataCollection",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "path": "v1alpha/{+property}:acknowledgeUserDataCollection",
          "flatPath": "v1alpha/properties/{propertiesId}:acknowledgeUserDataCollection",
          "httpMethod": "POST",
          "parameterOrder": [
            "property"
          ],
          "request": {
            "$ref": "GoogleAnalyticsAdminV1alphaAcknowledgeUserDataCollectionRequest"
          },
          "parameters": {
            "property": {
              "description": "Required. The property for which to acknowledge user data collection.",
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^properties/[^/]+$"
            }
          },
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaAcknowledgeUserDataCollectionResponse"
          }
        },
        "createRollupProperty": {
          "description": "Create a roll-up property and all roll-up property source links.",
          "id": "analyticsadmin.properties.createRollupProperty",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "path": "v1alpha/properties:createRollupProperty",
          "flatPath": "v1alpha/properties:createRollupProperty",
          "httpMethod": "POST",
          "parameterOrder": [],
          "request": {
            "$ref": "GoogleAnalyticsAdminV1alphaCreateRollupPropertyRequest"
          },
          "parameters": {},
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaCreateRollupPropertyResponse"
          }
        },
        "get": {
          "parameters": {
            "name": {
              "pattern": "^properties/[^/]+$",
              "type": "string",
              "description": "Required. The name of the property to lookup. Format: properties/{property_id} Example: \"properties/1000\"",
              "location": "path",
              "required": true
            }
          },
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaProperty"
          },
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1alpha/properties/{propertiesId}",
          "httpMethod": "GET",
          "description": "Lookup for a single GA Property.",
          "path": "v1alpha/{+name}",
          "id": "analyticsadmin.properties.get",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ]
        },
        "getDataRetentionSettings": {
          "parameters": {
            "name": {
              "pattern": "^properties/[^/]+/dataRetentionSettings$",
              "description": "Required. The name of the settings to lookup. Format: properties/{property}/dataRetentionSettings Example: \"properties/1000/dataRetentionSettings\"",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaDataRetentionSettings"
          },
          "path": "v1alpha/{+name}",
          "id": "analyticsadmin.properties.getDataRetentionSettings",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "description": "Returns the singleton data retention settings for this property.",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1alpha/properties/{propertiesId}/dataRetentionSettings",
          "httpMethod": "GET"
        },
        "runAccessReport": {
          "request": {
            "$ref": "GoogleAnalyticsAdminV1alphaRunAccessReportRequest"
          },
          "parameters": {
            "entity": {
              "pattern": "^properties/[^/]+$",
              "type": "string",
              "required": true,
              "description": "The Data Access Report supports requesting at the property level or account level. If requested at the account level, Data Access Reports include all access for all properties under that account. To request at the property level, entity should be for example 'properties/123' if \"123\" is your Google Analytics property ID. To request at the account level, entity should be for example 'accounts/1234' if \"1234\" is your Google Analytics Account ID.",
              "location": "path"
            }
          },
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaRunAccessReportResponse"
          },
          "parameterOrder": [
            "entity"
          ],
          "flatPath": "v1alpha/properties/{propertiesId}:runAccessReport",
          "httpMethod": "POST",
          "description": "Returns a customized report of data access records. The report provides records of each time a user reads Google Analytics reporting data. Access records are retained for up to 2 years. Data Access Reports can be requested for a property. Reports may be requested for any property, but dimensions that aren't related to quota can only be requested on Google Analytics 360 properties. This method is only available to Administrators. These data access records include GA UI Reporting, GA UI Explorations, GA Data API, and other products like Firebase & Admob that can retrieve data from Google Analytics through a linkage. These records don't include property configuration changes like adding a stream or changing a property's time zone. For configuration change history, see [searchChangeHistoryEvents](https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/accounts/searchChangeHistoryEvents). To give your feedback on this API, complete the [Google Analytics Access Reports feedback](https://docs.google.com/forms/d/e/1FAIpQLSdmEBUrMzAEdiEKk5TV5dEHvDUZDRlgWYdQdAeSdtR4hVjEhw/viewform) form.",
          "path": "v1alpha/{+entity}:runAccessReport",
          "id": "analyticsadmin.properties.runAccessReport",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ]
        },
        "getAttributionSettings": {
          "parameters": {
            "name": {
              "required": true,
              "description": "Required. The name of the attribution settings to retrieve. Format: properties/{property}/attributionSettings",
              "location": "path",
              "type": "string",
              "pattern": "^properties/[^/]+/attributionSettings$"
            }
          },
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaAttributionSettings"
          },
          "description": "Lookup for a AttributionSettings singleton.",
          "path": "v1alpha/{+name}",
          "id": "analyticsadmin.properties.getAttributionSettings",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1alpha/properties/{propertiesId}/attributionSettings",
          "httpMethod": "GET"
        },
        "getReportingIdentitySettings": {
          "path": "v1alpha/{+name}",
          "id": "analyticsadmin.properties.getReportingIdentitySettings",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "description": "Returns the reporting identity settings for this property.",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1alpha/properties/{propertiesId}/reportingIdentitySettings",
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "pattern": "^properties/[^/]+/reportingIdentitySettings$",
              "required": true,
              "description": "Required. The name of the settings to lookup. Format: properties/{property}/reportingIdentitySettings Example: \"properties/1000/reportingIdentitySettings\"",
              "location": "path",
              "type": "string"
            }
          },
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaReportingIdentitySettings"
          }
        },
        "provisionSubproperty": {
          "parameters": {},
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaProvisionSubpropertyResponse"
          },
          "request": {
            "$ref": "GoogleAnalyticsAdminV1alphaProvisionSubpropertyRequest"
          },
          "path": "v1alpha/properties:provisionSubproperty",
          "id": "analyticsadmin.properties.provisionSubproperty",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "description": "Create a subproperty and a subproperty event filter that applies to the created subproperty.",
          "parameterOrder": [],
          "flatPath": "v1alpha/properties:provisionSubproperty",
          "httpMethod": "POST"
        },
        "updateReportingIdentitySettings": {
          "path": "v1alpha/{+name}",
          "id": "analyticsadmin.properties.updateReportingIdentitySettings",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "description": "Updates the reporting identity settings for this property.",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1alpha/properties/{propertiesId}/reportingIdentitySettings",
          "httpMethod": "PATCH",
          "parameters": {
            "name": {
              "pattern": "^properties/[^/]+/reportingIdentitySettings$",
              "type": "string",
              "required": true,
              "description": "Output only. Identifier. Resource name for this reporting identity settings singleton resource. Format: properties/{property_id}/reportingIdentitySettings Example: \"properties/1234/reportingIdentitySettings\"",
              "location": "path"
            },
            "updateMask": {
              "description": "Optional. The list of fields to be updated. Field names must be in snake case (for example, \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields. If omitted, the service will treat it as an implied field mask equivalent to all fields that are populated.",
              "location": "query",
              "format": "google-fieldmask",
              "type": "string"
            }
          },
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaReportingIdentitySettings"
          },
          "request": {
            "$ref": "GoogleAnalyticsAdminV1alphaReportingIdentitySettings"
          }
        }
      },
      "resources": {
        "firebaseLinks": {
          "methods": {
            "create": {
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaFirebaseLink"
              },
              "parameters": {
                "parent": {
                  "pattern": "^properties/[^/]+$",
                  "required": true,
                  "description": "Required. Format: properties/{property_id} Example: `properties/1234`",
                  "location": "path",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaFirebaseLink"
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1alpha/properties/{propertiesId}/firebaseLinks",
              "httpMethod": "POST",
              "description": "Creates a FirebaseLink. Properties can have at most one FirebaseLink.",
              "path": "v1alpha/{+parent}/firebaseLinks",
              "id": "analyticsadmin.properties.firebaseLinks.create",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ]
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha/properties/{propertiesId}/firebaseLinks/{firebaseLinksId}",
              "httpMethod": "DELETE",
              "description": "Deletes a FirebaseLink on a property",
              "path": "v1alpha/{+name}",
              "id": "analyticsadmin.properties.firebaseLinks.delete",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameters": {
                "name": {
                  "pattern": "^properties/[^/]+/firebaseLinks/[^/]+$",
                  "type": "string",
                  "description": "Required. Format: properties/{property_id}/firebaseLinks/{firebase_link_id} Example: `properties/1234/firebaseLinks/5678`",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "GoogleProtobufEmpty"
              }
            },
            "list": {
              "parameters": {
                "parent": {
                  "pattern": "^properties/[^/]+$",
                  "required": true,
                  "description": "Required. Format: properties/{property_id} Example: `properties/1234`",
                  "location": "path",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "Optional. The maximum number of resources to return. The service may return fewer than this value, even if there are additional pages. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)",
                  "location": "query",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "Optional. A page token, received from a previous `ListFirebaseLinks` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListFirebaseLinks` must match the call that provided the page token.",
                  "location": "query",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaListFirebaseLinksResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1alpha/properties/{propertiesId}/firebaseLinks",
              "httpMethod": "GET",
              "path": "v1alpha/{+parent}/firebaseLinks",
              "id": "analyticsadmin.properties.firebaseLinks.list",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "description": "Lists FirebaseLinks on a property. Properties can have at most one FirebaseLink."
            }
          }
        },
        "dataStreams": {
          "methods": {
            "list": {
              "flatPath": "v1alpha/properties/{propertiesId}/dataStreams",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists DataStreams on a property.",
              "id": "analyticsadmin.properties.dataStreams.list",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "path": "v1alpha/{+parent}/dataStreams",
              "parameters": {
                "pageSize": {
                  "description": "The maximum number of resources to return. If unspecified, at most 50 resources will be returned. The maximum value is 200 (higher values will be coerced to the maximum).",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "A page token, received from a previous `ListDataStreams` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListDataStreams` must match the call that provided the page token.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "pattern": "^properties/[^/]+$",
                  "description": "Required. Example format: properties/1234",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaListDataStreamsResponse"
              }
            },
            "getDataRedactionSettings": {
              "parameters": {
                "name": {
                  "pattern": "^properties/[^/]+/dataStreams/[^/]+/dataRedactionSettings$",
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the settings to lookup. Format: properties/{property}/dataStreams/{data_stream}/dataRedactionSettings Example: \"properties/1000/dataStreams/2000/dataRedactionSettings\"",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaDataRedactionSettings"
              },
              "id": "analyticsadmin.properties.dataStreams.getDataRedactionSettings",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "path": "v1alpha/{+name}",
              "description": "Lookup for a single DataRedactionSettings.",
              "flatPath": "v1alpha/properties/{propertiesId}/dataStreams/{dataStreamsId}/dataRedactionSettings",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ]
            },
            "getGlobalSiteTag": {
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The name of the site tag to lookup. Note that site tags are singletons and do not have unique IDs. Format: properties/{property_id}/dataStreams/{stream_id}/globalSiteTag Example: `properties/123/dataStreams/456/globalSiteTag`",
                  "location": "path",
                  "required": true,
                  "pattern": "^properties/[^/]+/dataStreams/[^/]+/globalSiteTag$"
                }
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaGlobalSiteTag"
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha/properties/{propertiesId}/dataStreams/{dataStreamsId}/globalSiteTag",
              "httpMethod": "GET",
              "description": "Returns the Site Tag for the specified web stream. Site Tags are immutable singletons.",
              "path": "v1alpha/{+name}",
              "id": "analyticsadmin.properties.dataStreams.getGlobalSiteTag",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ]
            },
            "updateEnhancedMeasurementSettings": {
              "id": "analyticsadmin.properties.dataStreams.updateEnhancedMeasurementSettings",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "path": "v1alpha/{+name}",
              "description": "Updates the enhanced measurement settings for this data stream. Note that the stream must enable enhanced measurement for these settings to take effect.",
              "flatPath": "v1alpha/properties/{propertiesId}/dataStreams/{dataStreamsId}/enhancedMeasurementSettings",
              "httpMethod": "PATCH",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "updateMask": {
                  "description": "Required. The list of fields to be updated. Field names must be in snake case (e.g., \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string"
                },
                "name": {
                  "pattern": "^properties/[^/]+/dataStreams/[^/]+/enhancedMeasurementSettings$",
                  "type": "string",
                  "description": "Output only. Resource name of the Enhanced Measurement Settings. Format: properties/{property_id}/dataStreams/{data_stream}/enhancedMeasurementSettings Example: \"properties/1000/dataStreams/2000/enhancedMeasurementSettings\"",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaEnhancedMeasurementSettings"
              },
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaEnhancedMeasurementSettings"
              }
            },
            "get": {
              "path": "v1alpha/{+name}",
              "id": "analyticsadmin.properties.dataStreams.get",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "description": "Lookup for a single DataStream.",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha/properties/{propertiesId}/dataStreams/{dataStreamsId}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "Required. The name of the DataStream to get. Example format: properties/1234/dataStreams/5678",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^properties/[^/]+/dataStreams/[^/]+$"
                }
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaDataStream"
              }
            },
            "getEnhancedMeasurementSettings": {
              "id": "analyticsadmin.properties.dataStreams.getEnhancedMeasurementSettings",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "path": "v1alpha/{+name}",
              "description": "Returns the enhanced measurement settings for this data stream. Note that the stream must enable enhanced measurement for these settings to take effect.",
              "flatPath": "v1alpha/properties/{propertiesId}/dataStreams/{dataStreamsId}/enhancedMeasurementSettings",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^properties/[^/]+/dataStreams/[^/]+/enhancedMeasurementSettings$",
                  "required": true,
                  "description": "Required. The name of the settings to lookup. Format: properties/{property}/dataStreams/{data_stream}/enhancedMeasurementSettings Example: \"properties/1000/dataStreams/2000/enhancedMeasurementSettings\"",
                  "location": "path",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaEnhancedMeasurementSettings"
              }
            },
            "create": {
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaDataStream"
              },
              "parameters": {
                "parent": {
                  "type": "string",
                  "required": true,
                  "description": "Required. Example format: properties/1234",
                  "location": "path",
                  "pattern": "^properties/[^/]+$"
                }
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaDataStream"
              },
              "description": "Creates a DataStream.",
              "id": "analyticsadmin.properties.dataStreams.create",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "path": "v1alpha/{+parent}/dataStreams",
              "flatPath": "v1alpha/properties/{propertiesId}/dataStreams",
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ]
            },
            "patch": {
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha/properties/{propertiesId}/dataStreams/{dataStreamsId}",
              "httpMethod": "PATCH",
              "path": "v1alpha/{+name}",
              "id": "analyticsadmin.properties.dataStreams.patch",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "description": "Updates a DataStream on a property.",
              "parameters": {
                "updateMask": {
                  "description": "Required. The list of fields to be updated. Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string"
                },
                "name": {
                  "pattern": "^properties/[^/]+/dataStreams/[^/]+$",
                  "description": "Identifier. Resource name of this Data Stream. Format: properties/{property_id}/dataStreams/{stream_id} Example: \"properties/1000/dataStreams/2000\"",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaDataStream"
              },
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaDataStream"
              }
            },
            "delete": {
              "parameters": {
                "name": {
                  "description": "Required. The name of the DataStream to delete. Example format: properties/1234/dataStreams/5678",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^properties/[^/]+/dataStreams/[^/]+$"
                }
              },
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "description": "Deletes a DataStream on a property.",
              "id": "analyticsadmin.properties.dataStreams.delete",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "path": "v1alpha/{+name}",
              "flatPath": "v1alpha/properties/{propertiesId}/dataStreams/{dataStreamsId}",
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ]
            },
            "updateDataRedactionSettings": {
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaDataRedactionSettings"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Output only. Name of this Data Redaction Settings resource. Format: properties/{property_id}/dataStreams/{data_stream}/dataRedactionSettings Example: \"properties/1000/dataStreams/2000/dataRedactionSettings\"",
                  "location": "path",
                  "type": "string",
                  "pattern": "^properties/[^/]+/dataStreams/[^/]+/dataRedactionSettings$"
                },
                "updateMask": {
                  "description": "Required. The list of fields to be updated. Field names must be in snake case (e.g., \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaDataRedactionSettings"
              },
              "flatPath": "v1alpha/properties/{propertiesId}/dataStreams/{dataStreamsId}/dataRedactionSettings",
              "httpMethod": "PATCH",
              "parameterOrder": [
                "name"
              ],
              "description": "Updates a DataRedactionSettings on a property.",
              "id": "analyticsadmin.properties.dataStreams.updateDataRedactionSettings",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "path": "v1alpha/{+name}"
            }
          },
          "resources": {
            "eventEditRules": {
              "methods": {
                "get": {
                  "description": "Lookup for a single EventEditRule.",
                  "id": "analyticsadmin.properties.dataStreams.eventEditRules.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/analytics.edit",
                    "https://www.googleapis.com/auth/analytics.readonly"
                  ],
                  "path": "v1alpha/{+name}",
                  "flatPath": "v1alpha/properties/{propertiesId}/dataStreams/{dataStreamsId}/eventEditRules/{eventEditRulesId}",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^properties/[^/]+/dataStreams/[^/]+/eventEditRules/[^/]+$",
                      "description": "Required. The name of the EventEditRule to get. Example format: properties/123/dataStreams/456/eventEditRules/789",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleAnalyticsAdminV1alphaEventEditRule"
                  }
                },
                "list": {
                  "parameters": {
                    "pageSize": {
                      "description": "Optional. The maximum number of resources to return. If unspecified, at most 50 resources will be returned. The maximum value is 200 (higher values will be coerced to the maximum).",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous `ListEventEditRules` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListEventEditRules` must match the call that provided the page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "type": "string",
                      "required": true,
                      "description": "Required. Example format: properties/123/dataStreams/456",
                      "location": "path",
                      "pattern": "^properties/[^/]+/dataStreams/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "GoogleAnalyticsAdminV1alphaListEventEditRulesResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1alpha/properties/{propertiesId}/dataStreams/{dataStreamsId}/eventEditRules",
                  "httpMethod": "GET",
                  "description": "Lists EventEditRules on a web data stream.",
                  "path": "v1alpha/{+parent}/eventEditRules",
                  "id": "analyticsadmin.properties.dataStreams.eventEditRules.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/analytics.edit",
                    "https://www.googleapis.com/auth/analytics.readonly"
                  ]
                },
                "create": {
                  "flatPath": "v1alpha/properties/{propertiesId}/dataStreams/{dataStreamsId}/eventEditRules",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates an EventEditRule.",
                  "id": "analyticsadmin.properties.dataStreams.eventEditRules.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/analytics.edit"
                  ],
                  "path": "v1alpha/{+parent}/eventEditRules",
                  "request": {
                    "$ref": "GoogleAnalyticsAdminV1alphaEventEditRule"
                  },
                  "parameters": {
                    "parent": {
                      "description": "Required. Example format: properties/123/dataStreams/456",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^properties/[^/]+/dataStreams/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "GoogleAnalyticsAdminV1alphaEventEditRule"
                  }
                },
                "patch": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Identifier. Resource name for this EventEditRule resource. Format: properties/{property}/dataStreams/{data_stream}/eventEditRules/{event_edit_rule}",
                      "location": "path",
                      "type": "string",
                      "pattern": "^properties/[^/]+/dataStreams/[^/]+/eventEditRules/[^/]+$"
                    },
                    "updateMask": {
                      "type": "string",
                      "description": "Required. The list of fields to be updated. Field names must be in snake case (e.g., \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
                      "location": "query",
                      "format": "google-fieldmask"
                    }
                  },
                  "response": {
                    "$ref": "GoogleAnalyticsAdminV1alphaEventEditRule"
                  },
                  "request": {
                    "$ref": "GoogleAnalyticsAdminV1alphaEventEditRule"
                  },
                  "id": "analyticsadmin.properties.dataStreams.eventEditRules.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/analytics.edit"
                  ],
                  "path": "v1alpha/{+name}",
                  "description": "Updates an EventEditRule.",
                  "flatPath": "v1alpha/properties/{propertiesId}/dataStreams/{dataStreamsId}/eventEditRules/{eventEditRulesId}",
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "delete": {
                  "flatPath": "v1alpha/properties/{propertiesId}/dataStreams/{dataStreamsId}/eventEditRules/{eventEditRulesId}",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes an EventEditRule.",
                  "id": "analyticsadmin.properties.dataStreams.eventEditRules.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/analytics.edit"
                  ],
                  "path": "v1alpha/{+name}",
                  "parameters": {
                    "name": {
                      "pattern": "^properties/[^/]+/dataStreams/[^/]+/eventEditRules/[^/]+$",
                      "type": "string",
                      "description": "Required. Example format: properties/123/dataStreams/456/eventEditRules/789",
                      "location": "path",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  }
                },
                "reorder": {
                  "flatPath": "v1alpha/properties/{propertiesId}/dataStreams/{dataStreamsId}/eventEditRules:reorder",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "analyticsadmin.properties.dataStreams.eventEditRules.reorder",
                  "scopes": [
                    "https://www.googleapis.com/auth/analytics.edit"
                  ],
                  "path": "v1alpha/{+parent}/eventEditRules:reorder",
                  "description": "Changes the processing order of event edit rules on the specified stream.",
                  "parameters": {
                    "parent": {
                      "pattern": "^properties/[^/]+/dataStreams/[^/]+$",
                      "description": "Required. Example format: properties/123/dataStreams/456",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "request": {
                    "$ref": "GoogleAnalyticsAdminV1alphaReorderEventEditRulesRequest"
                  }
                }
              }
            },
            "measurementProtocolSecrets": {
              "methods": {
                "delete": {
                  "id": "analyticsadmin.properties.dataStreams.measurementProtocolSecrets.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/analytics.edit"
                  ],
                  "path": "v1alpha/{+name}",
                  "description": "Deletes target MeasurementProtocolSecret.",
                  "flatPath": "v1alpha/properties/{propertiesId}/dataStreams/{dataStreamsId}/measurementProtocolSecrets/{measurementProtocolSecretsId}",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^properties/[^/]+/dataStreams/[^/]+/measurementProtocolSecrets/[^/]+$",
                      "required": true,
                      "description": "Required. The name of the MeasurementProtocolSecret to delete. Format: properties/{property}/dataStreams/{dataStream}/measurementProtocolSecrets/{measurementProtocolSecret}",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  }
                },
                "create": {
                  "parameters": {
                    "parent": {
                      "pattern": "^properties/[^/]+/dataStreams/[^/]+$",
                      "required": true,
                      "description": "Required. The parent resource where this secret will be created. Format: properties/{property}/dataStreams/{dataStream}",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleAnalyticsAdminV1alphaMeasurementProtocolSecret"
                  },
                  "request": {
                    "$ref": "GoogleAnalyticsAdminV1alphaMeasurementProtocolSecret"
                  },
                  "id": "analyticsadmin.properties.dataStreams.measurementProtocolSecrets.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/analytics.edit"
                  ],
                  "path": "v1alpha/{+parent}/measurementProtocolSecrets",
                  "description": "Creates a measurement protocol secret.",
                  "flatPath": "v1alpha/properties/{propertiesId}/dataStreams/{dataStreamsId}/measurementProtocolSecrets",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "patch": {
                  "description": "Updates a measurement protocol secret.",
                  "id": "analyticsadmin.properties.dataStreams.measurementProtocolSecrets.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/analytics.edit"
                  ],
                  "path": "v1alpha/{+name}",
                  "flatPath": "v1alpha/properties/{propertiesId}/dataStreams/{dataStreamsId}/measurementProtocolSecrets/{measurementProtocolSecretsId}",
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "GoogleAnalyticsAdminV1alphaMeasurementProtocolSecret"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^properties/[^/]+/dataStreams/[^/]+/measurementProtocolSecrets/[^/]+$",
                      "required": true,
                      "description": "Identifier. Resource name of this secret. This secret may be a child of any type of stream. Format: properties/{property}/dataStreams/{dataStream}/measurementProtocolSecrets/{measurementProtocolSecret}",
                      "location": "path",
                      "type": "string"
                    },
                    "updateMask": {
                      "description": "Required. The list of fields to be updated. Omitted fields will not be updated.",
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleAnalyticsAdminV1alphaMeasurementProtocolSecret"
                  }
                },
                "get": {
                  "parameters": {
                    "name": {
                      "pattern": "^properties/[^/]+/dataStreams/[^/]+/measurementProtocolSecrets/[^/]+$",
                      "description": "Required. The name of the measurement protocol secret to lookup. Format: properties/{property}/dataStreams/{dataStream}/measurementProtocolSecrets/{measurementProtocolSecret}",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleAnalyticsAdminV1alphaMeasurementProtocolSecret"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1alpha/properties/{propertiesId}/dataStreams/{dataStreamsId}/measurementProtocolSecrets/{measurementProtocolSecretsId}",
                  "httpMethod": "GET",
                  "description": "Lookup for a single MeasurementProtocolSecret.",
                  "path": "v1alpha/{+name}",
                  "id": "analyticsadmin.properties.dataStreams.measurementProtocolSecrets.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/analytics.edit",
                    "https://www.googleapis.com/auth/analytics.readonly"
                  ]
                },
                "list": {
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Required. The resource name of the parent stream. Format: properties/{property}/dataStreams/{dataStream}/measurementProtocolSecrets",
                      "location": "path",
                      "required": true,
                      "pattern": "^properties/[^/]+/dataStreams/[^/]+$"
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of resources to return. If unspecified, at most 10 resources will be returned. The maximum value is 10. Higher values will be coerced to the maximum.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous `ListMeasurementProtocolSecrets` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListMeasurementProtocolSecrets` must match the call that provided the page token.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleAnalyticsAdminV1alphaListMeasurementProtocolSecretsResponse"
                  },
                  "description": "Returns child MeasurementProtocolSecrets under the specified parent Property.",
                  "id": "analyticsadmin.properties.dataStreams.measurementProtocolSecrets.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/analytics.edit",
                    "https://www.googleapis.com/auth/analytics.readonly"
                  ],
                  "path": "v1alpha/{+parent}/measurementProtocolSecrets",
                  "flatPath": "v1alpha/properties/{propertiesId}/dataStreams/{dataStreamsId}/measurementProtocolSecrets",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ]
                }
              }
            },
            "sKAdNetworkConversionValueSchema": {
              "methods": {
                "get": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The resource name of SKAdNetwork conversion value schema to look up. Format: properties/{property}/dataStreams/{dataStream}/sKAdNetworkConversionValueSchema/{skadnetwork_conversion_value_schema}",
                      "location": "path",
                      "required": true,
                      "pattern": "^properties/[^/]+/dataStreams/[^/]+/sKAdNetworkConversionValueSchema/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "GoogleAnalyticsAdminV1alphaSKAdNetworkConversionValueSchema"
                  },
                  "flatPath": "v1alpha/properties/{propertiesId}/dataStreams/{dataStreamsId}/sKAdNetworkConversionValueSchema/{sKAdNetworkConversionValueSchemaId}",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "analyticsadmin.properties.dataStreams.sKAdNetworkConversionValueSchema.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/analytics.edit",
                    "https://www.googleapis.com/auth/analytics.readonly"
                  ],
                  "path": "v1alpha/{+name}",
                  "description": "Looks up a single SKAdNetworkConversionValueSchema."
                },
                "list": {
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "description": "Optional. The maximum number of resources to return. The service may return fewer than this value, even if there are additional pages. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)",
                      "location": "query",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous `ListSKAdNetworkConversionValueSchemas` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListSKAdNetworkConversionValueSchema` must match the call that provided the page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^properties/[^/]+/dataStreams/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. The DataStream resource to list schemas for. Format: properties/{property_id}/dataStreams/{dataStream} Example: properties/1234/dataStreams/5678",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "GoogleAnalyticsAdminV1alphaListSKAdNetworkConversionValueSchemasResponse"
                  },
                  "flatPath": "v1alpha/properties/{propertiesId}/dataStreams/{dataStreamsId}/sKAdNetworkConversionValueSchema",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists SKAdNetworkConversionValueSchema on a stream. Properties can have at most one SKAdNetworkConversionValueSchema.",
                  "id": "analyticsadmin.properties.dataStreams.sKAdNetworkConversionValueSchema.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/analytics.edit",
                    "https://www.googleapis.com/auth/analytics.readonly"
                  ],
                  "path": "v1alpha/{+parent}/sKAdNetworkConversionValueSchema"
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1alpha/properties/{propertiesId}/dataStreams/{dataStreamsId}/sKAdNetworkConversionValueSchema/{sKAdNetworkConversionValueSchemaId}",
                  "httpMethod": "DELETE",
                  "description": "Deletes target SKAdNetworkConversionValueSchema.",
                  "path": "v1alpha/{+name}",
                  "id": "analyticsadmin.properties.dataStreams.sKAdNetworkConversionValueSchema.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/analytics.edit"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The name of the SKAdNetworkConversionValueSchema to delete. Format: properties/{property}/dataStreams/{dataStream}/sKAdNetworkConversionValueSchema/{skadnetwork_conversion_value_schema}",
                      "location": "path",
                      "required": true,
                      "pattern": "^properties/[^/]+/dataStreams/[^/]+/sKAdNetworkConversionValueSchema/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  }
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1alpha/properties/{propertiesId}/dataStreams/{dataStreamsId}/sKAdNetworkConversionValueSchema",
                  "httpMethod": "POST",
                  "path": "v1alpha/{+parent}/sKAdNetworkConversionValueSchema",
                  "id": "analyticsadmin.properties.dataStreams.sKAdNetworkConversionValueSchema.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/analytics.edit"
                  ],
                  "description": "Creates a SKAdNetworkConversionValueSchema.",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The parent resource where this schema will be created. Format: properties/{property}/dataStreams/{dataStream}",
                      "location": "path",
                      "pattern": "^properties/[^/]+/dataStreams/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "GoogleAnalyticsAdminV1alphaSKAdNetworkConversionValueSchema"
                  },
                  "request": {
                    "$ref": "GoogleAnalyticsAdminV1alphaSKAdNetworkConversionValueSchema"
                  }
                },
                "patch": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "Identifier. Resource name of the schema. This will be child of ONLY an iOS stream, and there can be at most one such child under an iOS stream. Format: properties/{property}/dataStreams/{dataStream}/sKAdNetworkConversionValueSchema",
                      "location": "path",
                      "pattern": "^properties/[^/]+/dataStreams/[^/]+/sKAdNetworkConversionValueSchema/[^/]+$"
                    },
                    "updateMask": {
                      "type": "string",
                      "description": "Required. The list of fields to be updated. Omitted fields will not be updated.",
                      "location": "query",
                      "format": "google-fieldmask"
                    }
                  },
                  "response": {
                    "$ref": "GoogleAnalyticsAdminV1alphaSKAdNetworkConversionValueSchema"
                  },
                  "request": {
                    "$ref": "GoogleAnalyticsAdminV1alphaSKAdNetworkConversionValueSchema"
                  },
                  "id": "analyticsadmin.properties.dataStreams.sKAdNetworkConversionValueSchema.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/analytics.edit"
                  ],
                  "path": "v1alpha/{+name}",
                  "description": "Updates a SKAdNetworkConversionValueSchema.",
                  "flatPath": "v1alpha/properties/{propertiesId}/dataStreams/{dataStreamsId}/sKAdNetworkConversionValueSchema/{sKAdNetworkConversionValueSchemaId}",
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            },
            "eventCreateRules": {
              "methods": {
                "get": {
                  "id": "analyticsadmin.properties.dataStreams.eventCreateRules.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/analytics.edit",
                    "https://www.googleapis.com/auth/analytics.readonly"
                  ],
                  "path": "v1alpha/{+name}",
                  "description": "Lookup for a single EventCreateRule.",
                  "flatPath": "v1alpha/properties/{propertiesId}/dataStreams/{dataStreamsId}/eventCreateRules/{eventCreateRulesId}",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^properties/[^/]+/dataStreams/[^/]+/eventCreateRules/[^/]+$",
                      "required": true,
                      "description": "Required. The name of the EventCreateRule to get. Example format: properties/123/dataStreams/456/eventCreateRules/789",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleAnalyticsAdminV1alphaEventCreateRule"
                  }
                },
                "list": {
                  "parameters": {
                    "parent": {
[...]
