{
  "mtlsRootUrl": "https://analyticsadmin.mtls.googleapis.com/",
  "kind": "discovery#restDescription",
  "fullyEncodeReservedExpansion": true,
  "ownerDomain": "google.com",
  "rootUrl": "https://analyticsadmin.googleapis.com/",
  "version_module": true,
  "version": "v1beta",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "resources": {
    "accountSummaries": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "parameters": {
            "pageSize": {
              "description": "Optional. The maximum number of AccountSummary resources to return. The service may return fewer than this value, even if there are additional pages. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "pageToken": {
              "description": "Optional. A page token, received from a previous `ListAccountSummaries` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAccountSummaries` must match the call that provided the page token.",
              "type": "string",
              "location": "query"
            }
          },
          "id": "analyticsadmin.accountSummaries.list",
          "description": "Returns summaries of all accounts accessible by the caller.",
          "flatPath": "v1beta/accountSummaries",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "path": "v1beta/accountSummaries",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaListAccountSummariesResponse"
          },
          "parameterOrder": []
        }
      }
    },
    "accounts": {
      "methods": {
        "get": {
          "path": "v1beta/{+name}",
          "flatPath": "v1beta/accounts/{accountsId}",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "id": "analyticsadmin.accounts.get",
          "description": "Lookup for a single Account.",
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "required": true,
              "location": "path",
              "pattern": "^accounts/[^/]+$",
              "description": "Required. The name of the account to lookup. Format: accounts/{account} Example: \"accounts/100\"",
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaAccount"
          }
        },
        "provisionAccountTicket": {
          "httpMethod": "POST",
          "parameters": {},
          "id": "analyticsadmin.accounts.provisionAccountTicket",
          "request": {
            "$ref": "GoogleAnalyticsAdminV1betaProvisionAccountTicketRequest"
          },
          "description": "Requests a ticket for creating an account.",
          "path": "v1beta/accounts:provisionAccountTicket",
          "flatPath": "v1beta/accounts:provisionAccountTicket",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaProvisionAccountTicketResponse"
          },
          "parameterOrder": []
        },
        "getDataSharingSettings": {
          "path": "v1beta/{+name}",
          "flatPath": "v1beta/accounts/{accountsId}/dataSharingSettings",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "id": "analyticsadmin.accounts.getDataSharingSettings",
          "description": "Get data sharing settings on an account. Data sharing settings are singletons.",
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "required": true,
              "location": "path",
              "pattern": "^accounts/[^/]+/dataSharingSettings$",
              "description": "Required. The name of the settings to lookup. Format: accounts/{account}/dataSharingSettings Example: `accounts/1000/dataSharingSettings`",
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaDataSharingSettings"
          }
        },
        "searchChangeHistoryEvents": {
          "parameterOrder": [
            "account"
          ],
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaSearchChangeHistoryEventsResponse"
          },
          "flatPath": "v1beta/accounts/{accountsId}:searchChangeHistoryEvents",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "path": "v1beta/{+account}:searchChangeHistoryEvents",
          "id": "analyticsadmin.accounts.searchChangeHistoryEvents",
          "request": {
            "$ref": "GoogleAnalyticsAdminV1betaSearchChangeHistoryEventsRequest"
          },
          "description": "Searches through all changes to an account or its children given the specified set of filters. Only returns the subset of changes supported by the API. The UI may return additional changes.",
          "httpMethod": "POST",
          "parameters": {
            "account": {
              "description": "Required. The account resource for which to return change history resources. Format: accounts/{account} Example: `accounts/100`",
              "type": "string",
              "location": "path",
              "pattern": "^accounts/[^/]+$",
              "required": true
            }
          }
        },
        "delete": {
          "response": {
            "$ref": "GoogleProtobufEmpty"
          },
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "DELETE",
          "parameters": {
            "name": {
              "required": true,
              "pattern": "^accounts/[^/]+$",
              "location": "path",
              "description": "Required. The name of the Account to soft-delete. Format: accounts/{account} Example: \"accounts/100\"",
              "type": "string"
            }
          },
          "id": "analyticsadmin.accounts.delete",
          "description": "Marks target Account as soft-deleted (ie: \"trashed\") and returns it. This API does not have a method to restore soft-deleted accounts. However, they can be restored using the Trash Can UI. If the accounts are not restored before the expiration time, the account and all child resources (eg: Properties, GoogleAdsLinks, Streams, AccessBindings) will be permanently purged. https://support.google.com/analytics/answer/6154772 Returns an error if the target is not found.",
          "path": "v1beta/{+name}",
          "flatPath": "v1beta/accounts/{accountsId}",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ]
        },
        "patch": {
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaAccount"
          },
          "id": "analyticsadmin.accounts.patch",
          "request": {
            "$ref": "GoogleAnalyticsAdminV1betaAccount"
          },
          "description": "Updates an account.",
          "path": "v1beta/{+name}",
          "flatPath": "v1beta/accounts/{accountsId}",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "httpMethod": "PATCH",
          "parameters": {
            "name": {
              "required": true,
              "pattern": "^accounts/[^/]+$",
              "location": "path",
              "description": "Identifier. Resource name of this account. Format: accounts/{account} Example: \"accounts/100\"",
              "type": "string"
            },
            "updateMask": {
              "description": "Required. The list of fields to be updated. Field names must be in snake case (for example, \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
              "type": "string",
              "location": "query",
              "format": "google-fieldmask"
            }
          }
        },
        "list": {
          "id": "analyticsadmin.accounts.list",
          "description": "Returns all accounts accessible by the caller. Note that these accounts might not currently have GA properties. Soft-deleted (ie: \"trashed\") accounts are excluded by default. Returns an empty list if no relevant accounts are found. Note: The easiest way to retrieve a list of all properties you have access to is by using `ListAccountSummaries`.",
          "flatPath": "v1beta/accounts",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "path": "v1beta/accounts",
          "httpMethod": "GET",
          "parameters": {
            "pageToken": {
              "description": "Optional. A page token, received from a previous `ListAccounts` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAccounts` must match the call that provided the page token.",
              "type": "string",
              "location": "query"
            },
            "showDeleted": {
              "location": "query",
              "description": "Whether to include soft-deleted (ie: \"trashed\") Accounts in the results. Accounts can be inspected to determine whether they are deleted or not.",
              "type": "boolean"
            },
            "pageSize": {
              "location": "query",
              "format": "int32",
              "description": "Optional. The maximum number of resources to return. The service may return fewer than this value, even if there are additional pages. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)",
              "type": "integer"
            }
          },
          "parameterOrder": [],
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaListAccountsResponse"
          }
        },
        "runAccessReport": {
          "parameterOrder": [
            "entity"
          ],
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaRunAccessReportResponse"
          },
          "flatPath": "v1beta/accounts/{accountsId}:runAccessReport",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "path": "v1beta/{+entity}:runAccessReport",
          "id": "analyticsadmin.accounts.runAccessReport",
          "request": {
            "$ref": "GoogleAnalyticsAdminV1betaRunAccessReportRequest"
          },
          "description": "Returns a customized report of data access records. The report provides records of each time a user reads Google Analytics reporting data. Access records are retained for up to 2 years. Data Access Reports can be requested for a property. Reports may be requested for any property, but dimensions that aren't related to quota can only be requested on Google Analytics 360 properties. This method is only available to Administrators. These data access records include GA UI Reporting, GA UI Explorations, GA Data API, and other products like Firebase & Admob that can retrieve data from Google Analytics through a linkage. These records don't include property configuration changes like adding a stream or changing a property's time zone. For configuration change history, see [searchChangeHistoryEvents](https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/accounts/searchChangeHistoryEvents). To give your feedback on this API, complete the [Google Analytics Access Reports feedback](https://docs.google.com/forms/d/e/1FAIpQLSdmEBUrMzAEdiEKk5TV5dEHvDUZDRlgWYdQdAeSdtR4hVjEhw/viewform) form.",
          "httpMethod": "POST",
          "parameters": {
            "entity": {
              "required": true,
              "pattern": "^accounts/[^/]+$",
              "location": "path",
              "description": "The Data Access Report supports requesting at the property level or account level. If requested at the account level, Data Access Reports include all access for all properties under that account. To request at the property level, entity should be for example 'properties/123' if \"123\" is your Google Analytics property ID. To request at the account level, entity should be for example 'accounts/1234' if \"1234\" is your Google Analytics Account ID.",
              "type": "string"
            }
          }
        }
      }
    },
    "properties": {
      "methods": {
        "acknowledgeUserDataCollection": {
          "path": "v1beta/{+property}:acknowledgeUserDataCollection",
          "flatPath": "v1beta/properties/{propertiesId}:acknowledgeUserDataCollection",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "id": "analyticsadmin.properties.acknowledgeUserDataCollection",
          "request": {
            "$ref": "GoogleAnalyticsAdminV1betaAcknowledgeUserDataCollectionRequest"
          },
          "description": "Acknowledges the terms of user data collection for the specified property. This acknowledgement must be completed (either in the Google Analytics UI or through this API) before MeasurementProtocolSecret resources may be created.",
          "httpMethod": "POST",
          "parameters": {
            "property": {
              "required": true,
              "pattern": "^properties/[^/]+$",
              "location": "path",
              "description": "Required. The property for which to acknowledge user data collection.",
              "type": "string"
            }
          },
          "parameterOrder": [
            "property"
          ],
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaAcknowledgeUserDataCollectionResponse"
          }
        },
        "get": {
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "pattern": "^properties/[^/]+$",
              "location": "path",
              "description": "Required. The name of the property to lookup. Format: properties/{property_id} Example: \"properties/1000\"",
              "type": "string",
              "required": true
            }
          },
          "id": "analyticsadmin.properties.get",
          "description": "Lookup for a single GA Property.",
          "path": "v1beta/{+name}",
          "flatPath": "v1beta/properties/{propertiesId}",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaProperty"
          },
          "parameterOrder": [
            "name"
          ]
        },
        "getDataRetentionSettings": {
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaDataRetentionSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "required": true,
              "description": "Required. The name of the settings to lookup. Format: properties/{property}/dataRetentionSettings Example: \"properties/1000/dataRetentionSettings\"",
              "type": "string",
              "location": "path",
              "pattern": "^properties/[^/]+/dataRetentionSettings$"
            }
          },
          "id": "analyticsadmin.properties.getDataRetentionSettings",
          "description": "Returns the singleton data retention settings for this property.",
          "path": "v1beta/{+name}",
          "flatPath": "v1beta/properties/{propertiesId}/dataRetentionSettings",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ]
        },
        "patch": {
          "httpMethod": "PATCH",
          "parameters": {
            "name": {
              "description": "Identifier. Resource name of this property. Format: properties/{property_id} Example: \"properties/1000\"",
              "type": "string",
              "pattern": "^properties/[^/]+$",
              "location": "path",
              "required": true
            },
            "updateMask": {
              "description": "Required. The list of fields to be updated. Field names must be in snake case (e.g., \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
              "type": "string",
              "location": "query",
              "format": "google-fieldmask"
            }
          },
          "path": "v1beta/{+name}",
          "flatPath": "v1beta/properties/{propertiesId}",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "id": "analyticsadmin.properties.patch",
          "request": {
            "$ref": "GoogleAnalyticsAdminV1betaProperty"
          },
          "description": "Updates a property.",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaProperty"
          },
          "parameterOrder": [
            "name"
          ]
        },
        "runAccessReport": {
          "httpMethod": "POST",
          "parameters": {
            "entity": {
              "location": "path",
              "pattern": "^properties/[^/]+$",
              "description": "The Data Access Report supports requesting at the property level or account level. If requested at the account level, Data Access Reports include all access for all properties under that account. To request at the property level, entity should be for example 'properties/123' if \"123\" is your Google Analytics property ID. To request at the account level, entity should be for example 'accounts/1234' if \"1234\" is your Google Analytics Account ID.",
              "type": "string",
              "required": true
            }
          },
          "id": "analyticsadmin.properties.runAccessReport",
          "request": {
            "$ref": "GoogleAnalyticsAdminV1betaRunAccessReportRequest"
          },
          "description": "Returns a customized report of data access records. The report provides records of each time a user reads Google Analytics reporting data. Access records are retained for up to 2 years. Data Access Reports can be requested for a property. Reports may be requested for any property, but dimensions that aren't related to quota can only be requested on Google Analytics 360 properties. This method is only available to Administrators. These data access records include GA UI Reporting, GA UI Explorations, GA Data API, and other products like Firebase & Admob that can retrieve data from Google Analytics through a linkage. These records don't include property configuration changes like adding a stream or changing a property's time zone. For configuration change history, see [searchChangeHistoryEvents](https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/accounts/searchChangeHistoryEvents). To give your feedback on this API, complete the [Google Analytics Access Reports feedback](https://docs.google.com/forms/d/e/1FAIpQLSdmEBUrMzAEdiEKk5TV5dEHvDUZDRlgWYdQdAeSdtR4hVjEhw/viewform) form.",
          "path": "v1beta/{+entity}:runAccessReport",
          "flatPath": "v1beta/properties/{propertiesId}:runAccessReport",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaRunAccessReportResponse"
          },
          "parameterOrder": [
            "entity"
          ]
        },
        "list": {
          "parameterOrder": [],
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaListPropertiesResponse"
          },
          "id": "analyticsadmin.properties.list",
          "description": "Returns child Properties under the specified parent Account. Properties will be excluded if the caller does not have access. Soft-deleted (ie: \"trashed\") properties are excluded by default. Returns an empty list if no relevant properties are found.",
          "flatPath": "v1beta/properties",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "path": "v1beta/properties",
          "httpMethod": "GET",
          "parameters": {
            "pageToken": {
              "description": "Optional. A page token, received from a previous `ListProperties` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListProperties` must match the call that provided the page token.",
              "type": "string",
              "location": "query"
            },
            "showDeleted": {
              "description": "Whether to include soft-deleted (ie: \"trashed\") Properties in the results. Properties can be inspected to determine whether they are deleted or not.",
              "type": "boolean",
              "location": "query"
            },
            "filter": {
              "description": "Required. An expression for filtering the results of the request. Fields eligible for filtering are: `parent:`(The resource name of the parent account/property) or `ancestor:`(The resource name of the parent account) or `firebase_project:`(The id or number of the linked firebase project). Some examples of filters: ``` | Filter | Description | |-----------------------------|-------------------------------------------| | parent:accounts/123 | The account with account id: 123. | | parent:properties/123 | The property with property id: 123. | | ancestor:accounts/123 | The account with account id: 123. | | firebase_project:project-id | The firebase project with id: project-id. | | firebase_project:123 | The firebase project with number: 123. | ```",
              "type": "string",
              "location": "query"
            },
            "pageSize": {
              "description": "Optional. The maximum number of resources to return. The service may return fewer than this value, even if there are additional pages. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)",
              "type": "integer",
              "location": "query",
              "format": "int32"
            }
          }
        },
        "updateDataRetentionSettings": {
          "httpMethod": "PATCH",
          "parameters": {
            "name": {
              "required": true,
              "pattern": "^properties/[^/]+/dataRetentionSettings$",
              "location": "path",
              "description": "Identifier. Resource name for this DataRetentionSetting resource. Format: properties/{property}/dataRetentionSettings",
              "type": "string"
            },
            "updateMask": {
              "location": "query",
              "format": "google-fieldmask",
              "description": "Required. The list of fields to be updated. Field names must be in snake case (e.g., \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
              "type": "string"
            }
          },
          "id": "analyticsadmin.properties.updateDataRetentionSettings",
          "request": {
            "$ref": "GoogleAnalyticsAdminV1betaDataRetentionSettings"
          },
          "description": "Updates the singleton data retention settings for this property.",
          "flatPath": "v1beta/properties/{propertiesId}/dataRetentionSettings",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "path": "v1beta/{+name}",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaDataRetentionSettings"
          },
          "parameterOrder": [
            "name"
          ]
        },
        "create": {
          "parameterOrder": [],
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaProperty"
          },
          "id": "analyticsadmin.properties.create",
          "request": {
            "$ref": "GoogleAnalyticsAdminV1betaProperty"
          },
          "description": "Creates a Google Analytics property with the specified location and attributes.",
          "path": "v1beta/properties",
          "flatPath": "v1beta/properties",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "httpMethod": "POST",
          "parameters": {}
        },
        "delete": {
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaProperty"
          },
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "DELETE",
          "parameters": {
            "name": {
              "description": "Required. The name of the Property to soft-delete. Format: properties/{property_id} Example: \"properties/1000\"",
              "type": "string",
              "location": "path",
              "pattern": "^properties/[^/]+$",
              "required": true
            }
          },
          "id": "analyticsadmin.properties.delete",
          "description": "Marks target Property as soft-deleted (ie: \"trashed\") and returns it. This API does not have a method to restore soft-deleted properties. However, they can be restored using the Trash Can UI. If the properties are not restored before the expiration time, the Property and all child resources (eg: GoogleAdsLinks, Streams, AccessBindings) will be permanently purged. https://support.google.com/analytics/answer/6154772 Returns an error if the target is not found.",
          "flatPath": "v1beta/properties/{propertiesId}",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "path": "v1beta/{+name}"
        }
      },
      "resources": {
        "customMetrics": {
          "methods": {
            "list": {
              "flatPath": "v1beta/properties/{propertiesId}/customMetrics",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "path": "v1beta/{+parent}/customMetrics",
              "id": "analyticsadmin.properties.customMetrics.list",
              "description": "Lists CustomMetrics on a property.",
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "Required. Example format: properties/1234",
                  "type": "string",
                  "pattern": "^properties/[^/]+$",
                  "location": "path"
                },
                "pageSize": {
                  "description": "The maximum number of resources to return. If unspecified, at most 50 resources will be returned. The maximum value is 200 (higher values will be coerced to the maximum).",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                },
                "pageToken": {
                  "location": "query",
                  "description": "A page token, received from a previous `ListCustomMetrics` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListCustomMetrics` must match the call that provided the page token.",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaListCustomMetricsResponse"
              }
            },
            "archive": {
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^properties/[^/]+/customMetrics/[^/]+$",
                  "description": "Required. The name of the CustomMetric to archive. Example format: properties/1234/customMetrics/5678",
                  "type": "string",
                  "required": true
                }
              },
              "flatPath": "v1beta/properties/{propertiesId}/customMetrics/{customMetricsId}:archive",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "path": "v1beta/{+name}:archive",
              "id": "analyticsadmin.properties.customMetrics.archive",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1betaArchiveCustomMetricRequest"
              },
              "description": "Archives a CustomMetric on a property."
            },
            "patch": {
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaCustomMetric"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Identifier. Resource name for this CustomMetric resource. Format: properties/{property}/customMetrics/{customMetric}",
                  "type": "string",
                  "pattern": "^properties/[^/]+/customMetrics/[^/]+$",
                  "location": "path"
                },
                "updateMask": {
                  "description": "Required. The list of fields to be updated. Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
                  "type": "string",
                  "location": "query",
                  "format": "google-fieldmask"
                }
              },
              "id": "analyticsadmin.properties.customMetrics.patch",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1betaCustomMetric"
              },
              "description": "Updates a CustomMetric on a property.",
              "path": "v1beta/{+name}",
              "flatPath": "v1beta/properties/{propertiesId}/customMetrics/{customMetricsId}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ]
            },
            "create": {
              "id": "analyticsadmin.properties.customMetrics.create",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1betaCustomMetric"
              },
              "description": "Creates a CustomMetric.",
              "path": "v1beta/{+parent}/customMetrics",
              "flatPath": "v1beta/properties/{propertiesId}/customMetrics",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "required": true,
                  "location": "path",
                  "pattern": "^properties/[^/]+$",
                  "description": "Required. Example format: properties/1234",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaCustomMetric"
              }
            },
            "get": {
              "path": "v1beta/{+name}",
              "flatPath": "v1beta/properties/{propertiesId}/customMetrics/{customMetricsId}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "id": "analyticsadmin.properties.customMetrics.get",
              "description": "Lookup for a single CustomMetric.",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^properties/[^/]+/customMetrics/[^/]+$",
                  "description": "Required. The name of the CustomMetric to get. Example format: properties/1234/customMetrics/5678",
                  "type": "string",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaCustomMetric"
              }
            }
          }
        },
        "firebaseLinks": {
          "methods": {
            "create": {
              "flatPath": "v1beta/properties/{propertiesId}/firebaseLinks",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "path": "v1beta/{+parent}/firebaseLinks",
              "id": "analyticsadmin.properties.firebaseLinks.create",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1betaFirebaseLink"
              },
              "description": "Creates a FirebaseLink. Properties can have at most one FirebaseLink.",
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "required": true,
                  "location": "path",
                  "pattern": "^properties/[^/]+$",
                  "description": "Required. Format: properties/{property_id} Example: `properties/1234`",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaFirebaseLink"
              }
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaListFirebaseLinksResponse"
              },
              "id": "analyticsadmin.properties.firebaseLinks.list",
              "description": "Lists FirebaseLinks on a property. Properties can have at most one FirebaseLink.",
              "path": "v1beta/{+parent}/firebaseLinks",
              "flatPath": "v1beta/properties/{propertiesId}/firebaseLinks",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "Optional. A page token, received from a previous `ListFirebaseLinks` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListFirebaseLinks` must match the call that provided the page token.",
                  "type": "string"
                },
                "parent": {
                  "location": "path",
                  "pattern": "^properties/[^/]+$",
                  "description": "Required. Format: properties/{property_id} Example: `properties/1234`",
                  "type": "string",
                  "required": true
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "Optional. The maximum number of resources to return. The service may return fewer than this value, even if there are additional pages. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)",
                  "type": "integer"
                }
              }
            },
            "delete": {
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "description": "Required. Format: properties/{property_id}/firebaseLinks/{firebase_link_id} Example: `properties/1234/firebaseLinks/5678`",
                  "type": "string",
                  "location": "path",
                  "pattern": "^properties/[^/]+/firebaseLinks/[^/]+$",
                  "required": true
                }
              },
              "id": "analyticsadmin.properties.firebaseLinks.delete",
              "description": "Deletes a FirebaseLink on a property",
              "flatPath": "v1beta/properties/{propertiesId}/firebaseLinks/{firebaseLinksId}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "path": "v1beta/{+name}"
            }
          }
        },
        "customDimensions": {
          "methods": {
            "create": {
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaCustomDimension"
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "pattern": "^properties/[^/]+$",
                  "location": "path",
                  "description": "Required. Example format: properties/1234",
                  "type": "string",
                  "required": true
                }
              },
              "id": "analyticsadmin.properties.customDimensions.create",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1betaCustomDimension"
              },
              "description": "Creates a CustomDimension.",
              "flatPath": "v1beta/properties/{propertiesId}/customDimensions",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "path": "v1beta/{+parent}/customDimensions"
            },
            "get": {
              "id": "analyticsadmin.properties.customDimensions.get",
              "description": "Lookup for a single CustomDimension.",
              "flatPath": "v1beta/properties/{propertiesId}/customDimensions/{customDimensionsId}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "path": "v1beta/{+name}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The name of the CustomDimension to get. Example format: properties/1234/customDimensions/5678",
                  "type": "string",
                  "location": "path",
                  "pattern": "^properties/[^/]+/customDimensions/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaCustomDimension"
              }
            },
            "list": {
              "id": "analyticsadmin.properties.customDimensions.list",
              "description": "Lists CustomDimensions on a property.",
              "path": "v1beta/{+parent}/customDimensions",
              "flatPath": "v1beta/properties/{propertiesId}/customDimensions",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "Optional. A page token, received from a previous `ListCustomDimensions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListCustomDimensions` must match the call that provided the page token.",
                  "type": "string"
                },
                "parent": {
                  "required": true,
                  "description": "Required. Example format: properties/1234",
                  "type": "string",
                  "pattern": "^properties/[^/]+$",
                  "location": "path"
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "Optional. The maximum number of resources to return. If unspecified, at most 50 resources will be returned. The maximum value is 200 (higher values will be coerced to the maximum).",
                  "type": "integer"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaListCustomDimensionsResponse"
              }
            },
            "archive": {
              "id": "analyticsadmin.properties.customDimensions.archive",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1betaArchiveCustomDimensionRequest"
              },
              "description": "Archives a CustomDimension on a property.",
              "flatPath": "v1beta/properties/{propertiesId}/customDimensions/{customDimensionsId}:archive",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "path": "v1beta/{+name}:archive",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "pattern": "^properties/[^/]+/customDimensions/[^/]+$",
                  "location": "path",
                  "description": "Required. The name of the CustomDimension to archive. Example format: properties/1234/customDimensions/5678",
                  "type": "string",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              }
            },
            "patch": {
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaCustomDimension"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Identifier. Resource name for this CustomDimension resource. Format: properties/{property}/customDimensions/{customDimension}",
                  "type": "string",
                  "pattern": "^properties/[^/]+/customDimensions/[^/]+$",
                  "location": "path"
                },
                "updateMask": {
                  "description": "Required. The list of fields to be updated. Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
                  "type": "string",
                  "location": "query",
                  "format": "google-fieldmask"
                }
              },
              "path": "v1beta/{+name}",
              "flatPath": "v1beta/properties/{propertiesId}/customDimensions/{customDimensionsId}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analyticsadmin.properties.customDimensions.patch",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1betaCustomDimension"
              },
              "description": "Updates a CustomDimension on a property."
            }
          }
        },
        "googleAdsLinks": {
          "methods": {
            "list": {
              "id": "analyticsadmin.properties.googleAdsLinks.list",
              "description": "Lists GoogleAdsLinks on a property.",
              "path": "v1beta/{+parent}/googleAdsLinks",
              "flatPath": "v1beta/properties/{propertiesId}/googleAdsLinks",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^properties/[^/]+$",
                  "description": "Required. Example format: properties/1234",
                  "type": "string",
                  "required": true
                },
                "pageSize": {
                  "description": "Optional. The maximum number of resources to return. If unspecified, at most 50 resources will be returned. The maximum value is 200 (higher values will be coerced to the maximum).",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Optional. A page token, received from a previous `ListGoogleAdsLinks` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListGoogleAdsLinks` must match the call that provided the page token.",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaListGoogleAdsLinksResponse"
              }
            },
            "create": {
              "flatPath": "v1beta/properties/{propertiesId}/googleAdsLinks",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "path": "v1beta/{+parent}/googleAdsLinks",
              "id": "analyticsadmin.properties.googleAdsLinks.create",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1betaGoogleAdsLink"
              },
              "description": "Creates a GoogleAdsLink.",
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "Required. Example format: properties/1234",
                  "type": "string",
                  "pattern": "^properties/[^/]+$",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaGoogleAdsLink"
              }
            },
            "patch": {
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaGoogleAdsLink"
              },
              "id": "analyticsadmin.properties.googleAdsLinks.patch",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1betaGoogleAdsLink"
              },
              "description": "Updates a GoogleAdsLink on a property",
              "path": "v1beta/{+name}",
              "flatPath": "v1beta/properties/{propertiesId}/googleAdsLinks/{googleAdsLinksId}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "httpMethod": "PATCH",
              "parameters": {
                "name": {
                  "pattern": "^properties/[^/]+/googleAdsLinks/[^/]+$",
                  "location": "path",
                  "description": "Identifier. Format: properties/{propertyId}/googleAdsLinks/{googleAdsLinkId} Note: googleAdsLinkId is not the Google Ads customer ID.",
                  "type": "string",
                  "required": true
                },
                "updateMask": {
                  "description": "Required. The list of fields to be updated. Field names must be in snake case (e.g., \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
                  "type": "string",
                  "location": "query",
                  "format": "google-fieldmask"
                }
              }
            },
            "delete": {
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "pattern": "^properties/[^/]+/googleAdsLinks/[^/]+$",
                  "location": "path",
                  "description": "Required. Example format: properties/1234/googleAdsLinks/5678",
                  "type": "string",
                  "required": true
                }
              },
              "id": "analyticsadmin.properties.googleAdsLinks.delete",
              "description": "Deletes a GoogleAdsLink on a property",
              "flatPath": "v1beta/properties/{propertiesId}/googleAdsLinks/{googleAdsLinksId}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "path": "v1beta/{+name}"
            }
          }
        },
        "conversionEvents": {
          "methods": {
            "list": {
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaListConversionEventsResponse"
              },
              "deprecated": true,
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "Required. The resource name of the parent property. Example: 'properties/123'",
                  "type": "string",
                  "location": "path",
                  "pattern": "^properties/[^/]+$"
                },
                "pageSize": {
                  "description": "Optional. The maximum number of resources to return. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Optional. A page token, received from a previous `ListConversionEvents` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListConversionEvents` must match the call that provided the page token.",
                  "type": "string"
                }
              },
              "id": "analyticsadmin.properties.conversionEvents.list",
              "description": "Deprecated: Use `ListKeyEvents` instead. Returns a list of conversion events in the specified parent property. Returns an empty list if no conversion events are found.",
              "path": "v1beta/{+parent}/conversionEvents",
              "flatPath": "v1beta/properties/{propertiesId}/conversionEvents",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ]
            },
            "patch": {
              "httpMethod": "PATCH",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^properties/[^/]+/conversionEvents/[^/]+$",
                  "location": "path",
                  "description": "Identifier. Resource name of this conversion event. Format: properties/{property}/conversionEvents/{conversion_event}",
                  "type": "string"
                },
                "updateMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "description": "Required. The list of fields to be updated. Field names must be in snake case (e.g., \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
                  "type": "string"
                }
              },
              "path": "v1beta/{+name}",
              "flatPath": "v1beta/properties/{propertiesId}/conversionEvents/{conversionEventsId}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analyticsadmin.properties.conversionEvents.patch",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1betaConversionEvent"
              },
              "description": "Deprecated: Use `UpdateKeyEvent` instead. Updates a conversion event with the specified attributes.",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaConversionEvent"
              },
              "parameterOrder": [
                "name"
              ],
              "deprecated": true
            },
            "delete": {
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The resource name of the conversion event to delete. Format: properties/{property}/conversionEvents/{conversion_event} Example: \"properties/123/conversionEvents/456\"",
                  "type": "string",
                  "pattern": "^properties/[^/]+/conversionEvents/[^/]+$",
                  "location": "path"
                }
              },
              "path": "v1beta/{+name}",
              "flatPath": "v1beta/properties/{propertiesId}/conversionEvents/{conversionEventsId}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analyticsadmin.properties.conversionEvents.delete",
              "description": "Deprecated: Use `DeleteKeyEvent` instead. Deletes a conversion event in a property.",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameterOrder": [
                "name"
              ],
              "deprecated": true
            },
            "create": {
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^properties/[^/]+$",
                  "description": "Required. The resource name of the parent property where this conversion event will be created. Format: properties/123",
                  "type": "string",
                  "required": true
                }
              },
              "flatPath": "v1beta/properties/{propertiesId}/conversionEvents",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "path": "v1beta/{+parent}/conversionEvents",
              "id": "analyticsadmin.properties.conversionEvents.create",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1betaConversionEvent"
              },
              "description": "Deprecated: Use `CreateKeyEvent` instead. Creates a conversion event with the specified attributes.",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaConversionEvent"
              },
              "parameterOrder": [
                "parent"
              ],
              "deprecated": true
            },
            "get": {
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaConversionEvent"
              },
              "deprecated": true,
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^properties/[^/]+/conversionEvents/[^/]+$",
                  "location": "path",
                  "description": "Required. The resource name of the conversion event to retrieve. Format: properties/{property}/conversionEvents/{conversion_event} Example: \"properties/123/conversionEvents/456\"",
                  "type": "string"
                }
              },
              "id": "analyticsadmin.properties.conversionEvents.get",
              "description": "Deprecated: Use `GetKeyEvent` instead. Retrieve a single conversion event.",
              "flatPath": "v1beta/properties/{propertiesId}/conversionEvents/{conversionEventsId}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "path": "v1beta/{+name}"
            }
          },
          "deprecated": true
        },
        "dataStreams": {
          "resources": {
            "measurementProtocolSecrets": {
              "methods": {
                "get": {
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the measurement protocol secret to lookup. Format: properties/{property}/dataStreams/{dataStream}/measurementProtocolSecrets/{measurementProtocolSecret}",
                      "type": "string",
                      "location": "path",
                      "pattern": "^properties/[^/]+/dataStreams/[^/]+/measurementProtocolSecrets/[^/]+$",
                      "required": true
                    }
                  },
                  "id": "analyticsadmin.properties.dataStreams.measurementProtocolSecrets.get",
                  "description": "Lookup for a single MeasurementProtocolSecret.",
                  "flatPath": "v1beta/properties/{propertiesId}/dataStreams/{dataStreamsId}/measurementProtocolSecrets/{measurementProtocolSecretsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/analytics.edit",
                    "https://www.googleapis.com/auth/analytics.readonly"
                  ],
                  "path": "v1beta/{+name}",
                  "response": {
                    "$ref": "GoogleAnalyticsAdminV1betaMeasurementProtocolSecret"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "create": {
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "pattern": "^properties/[^/]+/dataStreams/[^/]+$",
                      "description": "Required. The parent resource where this secret will be created. Format: properties/{property}/dataStreams/{dataStream}",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1beta/properties/{propertiesId}/dataStreams/{dataStreamsId}/measurementProtocolSecrets",
                  "scopes": [
                    "https://www.googleapis.com/auth/analytics.edit"
                  ],
                  "path": "v1beta/{+parent}/measurementProtocolSecrets",
                  "id": "analyticsadmin.properties.dataStreams.measurementProtocolSecrets.create",
                  "request": {
                    "$ref": "GoogleAnalyticsAdminV1betaMeasurementProtocolSecret"
                  },
                  "description": "Creates a measurement protocol secret.",
                  "response": {
                    "$ref": "GoogleAnalyticsAdminV1betaMeasurementProtocolSecret"
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "list": {
                  "httpMethod": "GET",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. A page token, received from a previous `ListMeasurementProtocolSecrets` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListMeasurementProtocolSecrets` must match the call that provided the page token.",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. The resource name of the parent stream. Format: properties/{property}/dataStreams/{dataStream}/measurementProtocolSecrets",
                      "type": "string",
                      "location": "path",
                      "pattern": "^properties/[^/]+/dataStreams/[^/]+$",
                      "required": true
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of resources to return. If unspecified, at most 10 resources will be returned. The maximum value is 10. Higher values will be coerced to the maximum.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    }
                  },
                  "id": "analyticsadmin.properties.dataStreams.measurementProtocolSecrets.list",
                  "description": "Returns child MeasurementProtocolSecrets under the specified parent Property.",
                  "flatPath": "v1beta/properties/{propertiesId}/dataStreams/{dataStreamsId}/measurementProtocolSecrets",
                  "scopes": [
                    "https://www.googleapis.com/auth/analytics.edit",
                    "https://www.googleapis.com/auth/analytics.readonly"
                  ],
                  "path": "v1beta/{+parent}/measurementProtocolSecrets",
                  "response": {
                    "$ref": "GoogleAnalyticsAdminV1betaListMeasurementProtocolSecretsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "id": "analyticsadmin.properties.dataStreams.measurementProtocolSecrets.delete",
                  "description": "Deletes target MeasurementProtocolSecret.",
                  "flatPath": "v1beta/properties/{propertiesId}/dataStreams/{dataStreamsId}/measurementProtocolSecrets/{measurementProtocolSecretsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/analytics.edit"
                  ],
                  "path": "v1beta/{+name}",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^properties/[^/]+/dataStreams/[^/]+/measurementProtocolSecrets/[^/]+$",
                      "description": "Required. The name of the MeasurementProtocolSecret to delete. Format: properties/{property}/dataStreams/{dataStream}/measurementProtocolSecrets/{measurementProtocolSecret}",
                      "type": "string",
                      "required": true
                    }
                  }
                },
                "patch": {
                  "id": "analyticsadmin.properties.dataStreams.measurementProtocolSecrets.patch",
                  "request": {
                    "$ref": "GoogleAnalyticsAdminV1betaMeasurementProtocolSecret"
                  },
                  "description": "Updates a measurement protocol secret.",
                  "path": "v1beta/{+name}",
                  "flatPath": "v1beta/properties/{propertiesId}/dataStreams/{dataStreamsId}/measurementProtocolSecrets/{measurementProtocolSecretsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/analytics.edit"
                  ],
                  "httpMethod": "PATCH",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "pattern": "^properties/[^/]+/dataStreams/[^/]+/measurementProtocolSecrets/[^/]+$",
                      "description": "Identifier. Resource name of this secret. This secret may be a child of any type of stream. Format: properties/{property}/dataStreams/{dataStream}/measurementProtocolSecrets/{measurementProtocolSecret}",
                      "type": "string"
                    },
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "description": "Required. The list of fields to be updated. Omitted fields will not be updated.",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleAnalyticsAdminV1betaMeasurementProtocolSecret"
                  }
                }
              }
            }
          },
          "methods": {
            "delete": {
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^properties/[^/]+/dataStreams/[^/]+$",
                  "description": "Required. The name of the DataStream to delete. Example format: properties/1234/dataStreams/5678",
                  "type": "string",
                  "required": true
                }
              },
              "flatPath": "v1beta/properties/{propertiesId}/dataStreams/{dataStreamsId}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "path": "v1beta/{+name}",
              "id": "analyticsadmin.properties.dataStreams.delete",
              "description": "Deletes a DataStream on a property."
            },
            "patch": {
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaDataStream"
              },
              "path": "v1beta/{+name}",
              "flatPath": "v1beta/properties/{propertiesId}/dataStreams/{dataStreamsId}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analyticsadmin.properties.dataStreams.patch",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1betaDataStream"
              },
              "description": "Updates a DataStream on a property.",
              "httpMethod": "PATCH",
              "parameters": {
                "name": {
                  "pattern": "^properties/[^/]+/dataStreams/[^/]+$",
                  "location": "path",
                  "description": "Identifier. Resource name of this Data Stream. Format: properties/{property_id}/dataStreams/{stream_id} Example: \"properties/1000/dataStreams/2000\"",
                  "type": "string",
                  "required": true
                },
                "updateMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "description": "Required. The list of fields to be updated. Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
                  "type": "string"
                }
              }
            },
            "list": {
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaListDataStreamsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "description": "A page token, received from a previous `ListDataStreams` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListDataStreams` must match the call that provided the page token.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "required": true,
                  "description": "Required. Example format: properties/1234",
                  "type": "string",
                  "pattern": "^properties/[^/]+$",
                  "location": "path"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "description": "The maximum number of resources to return. If unspecified, at most 50 resources will be returned. The maximum value is 200 (higher values will be coerced to the maximum).",
                  "type": "integer"
                }
              },
              "flatPath": "v1beta/properties/{propertiesId}/dataStreams",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "path": "v1beta/{+parent}/dataStreams",
              "id": "analyticsadmin.properties.dataStreams.list",
              "description": "Lists DataStreams on a property."
            },
            "create": {
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^properties/[^/]+$",
                  "description": "Required. Example format: properties/1234",
                  "type": "string",
                  "required": true
                }
              },
              "path": "v1beta/{+parent}/dataStreams",
              "flatPath": "v1beta/properties/{propertiesId}/dataStreams",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analyticsadmin.properties.dataStreams.create",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1betaDataStream"
              },
              "description": "Creates a DataStream.",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaDataStream"
              },
              "parameterOrder": [
                "parent"
              ]
            },
            "get": {
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "pattern": "^properties/[^/]+/dataStreams/[^/]+$",
                  "location": "path",
                  "description": "Required. The name of the DataStream to get. Example format: properties/1234/dataStreams/5678",
                  "type": "string",
                  "required": true
                }
              },
              "path": "v1beta/{+name}",
              "flatPath": "v1beta/properties/{propertiesId}/dataStreams/{dataStreamsId}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "id": "analyticsadmin.properties.dataStreams.get",
              "description": "Lookup for a single DataStream.",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaDataStream"
              },
              "parameterOrder": [
                "name"
              ]
            }
          }
        },
        "keyEvents": {
          "methods": {
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaKeyEvent"
              },
              "flatPath": "v1beta/properties/{propertiesId}/keyEvents",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "path": "v1beta/{+parent}/keyEvents",
              "id": "analyticsadmin.properties.keyEvents.create",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1betaKeyEvent"
              },
              "description": "Creates a Key Event.",
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "Required. The resource name of the parent property where this Key Event will be created. Format: properties/123",
                  "type": "string",
                  "pattern": "^properties/[^/]+$",
                  "location": "path"
                }
              }
            },
            "get": {
              "id": "analyticsadmin.properties.keyEvents.get",
              "description": "Retrieve a single Key Event.",
              "flatPath": "v1beta/properties/{propertiesId}/keyEvents/{keyEventsId}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "path": "v1beta/{+name}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "pattern": "^properties/[^/]+/keyEvents/[^/]+$",
                  "description": "Required. The resource name of the Key Event to retrieve. Format: properties/{property}/keyEvents/{key_event} Example: \"properties/123/keyEvents/456\"",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaKeyEvent"
              }
            },
            "list": {
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaListKeyEventsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^properties/[^/]+$",
                  "location": "path",
                  "description": "Required. The resource name of the parent property. Example: 'properties/123'",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Optional. The maximum number of resources to return. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Optional. A page token, received from a previous `ListKeyEvents` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListKeyEvents` must match the call that provided the page token.",
                  "type": "string"
                }
              },
              "id": "analyticsadmin.properties.keyEvents.list",
              "description": "Returns a list of Key Events in the specified parent property. Returns an empty list if no Key Events are found.",
              "flatPath": "v1beta/properties/{propertiesId}/keyEvents",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "path": "v1beta/{+parent}/keyEvents"
            },
            "patch": {
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaKeyEvent"
              },
              "id": "analyticsadmin.properties.keyEvents.patch",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1betaKeyEvent"
              },
              "description": "Updates a Key Event.",
              "flatPath": "v1beta/properties/{propertiesId}/keyEvents/{keyEventsId}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "path": "v1beta/{+name}",
              "httpMethod": "PATCH",
              "parameters": {
                "name": {
                  "description": "Output only. Resource name of this key event. Format: properties/{property}/keyEvents/{key_event}",
                  "type": "string",
                  "location": "path",
                  "pattern": "^properties/[^/]+/keyEvents/[^/]+$",
                  "required": true
                },
                "updateMask": {
                  "description": "Required. The list of fields to be updated. Field names must be in snake case (e.g., \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
                  "type": "string",
                  "location": "query",
                  "format": "google-fieldmask"
                }
              }
            },
            "delete": {
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "pattern": "^properties/[^/]+/keyEvents/[^/]+$",
                  "description": "Required. The resource name of the Key Event to delete. Format: properties/{property}/keyEvents/{key_event} Example: \"properties/123/keyEvents/456\"",
                  "type": "string"
                }
              },
              "flatPath": "v1beta/properties/{propertiesId}/keyEvents/{keyEventsId}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "path": "v1beta/{+name}",
              "id": "analyticsadmin.properties.keyEvents.delete",
              "description": "Deletes a Key Event."
            }
          }
        }
      }
    }
  },
  "title": "Google Analytics Admin API",
  "id": "analyticsadmin:v1beta",
  "revision": "20260708",
  "baseUrl": "https://analyticsadmin.googleapis.com/",
  "schemas": {
    "GoogleAnalyticsAdminV1betaAccessMetricValue": {
      "properties": {
        "value": {
          "description": "The measurement value. For example, this value may be '13'.",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1betaAccessMetricValue",
      "description": "The value of a metric.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1betaAccessDateRange": {
      "id": "GoogleAnalyticsAdminV1betaAccessDateRange",
      "description": "A contiguous range of days: startDate, startDate + 1, ..., endDate.",
      "type": "object",
      "properties": {
        "endDate": {
          "description": "The inclusive end date for the query in the format `YYYY-MM-DD`. Cannot be before `startDate`. The format `NdaysAgo`, `yesterday`, or `today` is also accepted, and in that case, the date is inferred based on the current time in the request's time zone.",
          "type": "string"
        },
        "startDate": {
          "description": "The inclusive start date for the query in the format `YYYY-MM-DD`. Cannot be after `endDate`. The format `NdaysAgo`, `yesterday`, or `today` is also accepted, and in that case, the date is inferred based on the current time in the request's time zone.",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1betaAccessFilterExpression": {
      "id": "GoogleAnalyticsAdminV1betaAccessFilterExpression",
      "description": "Expresses dimension or metric filters. The fields in the same expression need to be either all dimensions or all metrics.",
      "type": "object",
      "properties": {
        "notExpression": {
          "description": "The FilterExpression is NOT of not_expression.",
          "$ref": "GoogleAnalyticsAdminV1betaAccessFilterExpression"
        },
        "orGroup": {
          "description": "Each of the FilterExpressions in the or_group has an OR relationship.",
          "$ref": "GoogleAnalyticsAdminV1betaAccessFilterExpressionList"
        },
        "accessFilter": {
          "description": "A primitive filter. In the same FilterExpression, all of the filter's field names need to be either all dimensions or all metrics.",
          "$ref": "GoogleAnalyticsAdminV1betaAccessFilter"
        },
        "andGroup": {
          "description": "Each of the FilterExpressions in the and_group has an AND relationship.",
          "$ref": "GoogleAnalyticsAdminV1betaAccessFilterExpressionList"
        }
      }
    },
    "GoogleAnalyticsAdminV1betaListAccountSummariesResponse": {
      "id": "GoogleAnalyticsAdminV1betaListAccountSummariesResponse",
      "description": "Response message for ListAccountSummaries RPC.",
      "type": "object",
      "properties": {
        "accountSummaries": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaAccountSummary"
          },
          "description": "Account summaries of all accounts the caller has access to.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1betaGoogleAdsLink": {
      "properties": {
        "customerId": {
          "description": "Immutable. Google Ads customer ID.",
          "type": "string"
        },
        "canManageClients": {
          "readOnly": true,
          "description": "Output only. If true, this link is for a Google Ads manager account.",
          "type": "boolean"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time when this link was last updated.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. Format: properties/{propertyId}/googleAdsLinks/{googleAdsLinkId} Note: googleAdsLinkId is not the Google Ads customer ID.",
          "type": "string"
        },
        "adsPersonalizationEnabled": {
          "description": "Enable personalized advertising features with this integration. Automatically publish my Google Analytics audience lists and Google Analytics remarketing events/parameters to the linked Google Ads account. If this field is not set on create/update, it will be defaulted to true.",
          "type": "boolean"
        },
        "createTime": {
          "description": "Output only. Time when this link was originally created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "creatorEmailAddress": {
          "readOnly": true,
          "description": "Output only. Email address of the user that created the link. An empty string will be returned if the email address can't be retrieved.",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1betaGoogleAdsLink",
      "description": "A link between a Google Analytics property and a Google Ads account.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1betaChangeHistoryChange": {
      "properties": {
        "action": {
          "enumDescriptions": [
            "Action type unknown or not specified.",
            "Resource was created in this change.",
            "Resource was updated in this change.",
            "Resource was deleted in this change."
          ],
          "description": "The type of action that changed this resource.",
          "type": "string",
          "enum": [
            "ACTION_TYPE_UNSPECIFIED",
            "CREATED",
            "UPDATED",
            "DELETED"
          ]
        },
        "resourceBeforeChange": {
          "description": "Resource contents from before the change was made. If this resource was created in this change, this field will be missing.",
          "$ref": "GoogleAnalyticsAdminV1betaChangeHistoryChangeChangeHistoryResource"
        },
        "resource": {
          "description": "Resource name of the resource whose changes are described by this entry.",
          "type": "string"
        },
        "resourceAfterChange": {
          "description": "Resource contents from after the change was made. If this resource was deleted in this change, this field will be missing.",
          "$ref": "GoogleAnalyticsAdminV1betaChangeHistoryChangeChangeHistoryResource"
        }
      },
      "id": "GoogleAnalyticsAdminV1betaChangeHistoryChange",
      "description": "A description of a change to a single Google Analytics resource.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1betaDataStreamIosAppStreamData": {
      "id": "GoogleAnalyticsAdminV1betaDataStreamIosAppStreamData",
      "description": "Data specific to iOS app streams.",
      "type": "object",
      "properties": {
        "firebaseAppId": {
          "readOnly": true,
          "description": "Output only. ID of the corresponding iOS app in Firebase, if any. This ID can change if the iOS app is deleted and recreated.",
          "type": "string"
        },
        "bundleId": {
          "description": "Required. Immutable. The Apple App Store Bundle ID for the app Example: \"com.example.myiosapp\"",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1betaAcknowledgeUserDataCollectionRequest": {
      "id": "GoogleAnalyticsAdminV1betaAcknowledgeUserDataCollectionRequest",
      "description": "Request message for AcknowledgeUserDataCollection RPC.",
      "type": "object",
      "properties": {
        "acknowledgement": {
          "description": "Required. An acknowledgement that the caller of this method understands the terms of user data collection. This field must contain the exact value: \"I acknowledge that I have the necessary privacy disclosures and rights from my end users for the collection and processing of their data, including the association of such data with the visitation information Google Analytics collects from my site and/or app property.\"",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1betaAcknowledgeUserDataCollectionResponse": {
      "properties": {},
      "id": "GoogleAnalyticsAdminV1betaAcknowledgeUserDataCollectionResponse",
      "description": "Response message for AcknowledgeUserDataCollection RPC.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1betaProvisionAccountTicketRequest": {
      "id": "GoogleAnalyticsAdminV1betaProvisionAccountTicketRequest",
      "description": "Request message for ProvisionAccountTicket RPC.",
      "type": "object",
      "properties": {
        "account": {
          "description": "The account to create.",
          "$ref": "GoogleAnalyticsAdminV1betaAccount"
        },
        "redirectUri": {
          "description": "Redirect URI where the user will be sent after accepting Terms of Service. Must be configured in Cloud Console as a Redirect URI.",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1betaListCustomMetricsResponse": {
      "id": "GoogleAnalyticsAdminV1betaListCustomMetricsResponse",
      "description": "Response message for ListCustomMetrics RPC.",
      "type": "object",
      "properties": {
        "customMetrics": {
          "description": "List of CustomMetrics.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaCustomMetric"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1betaAccessStringFilter": {
      "properties": {
        "matchType": {
          "enumDescriptions": [
            "Unspecified",
            "Exact match of the string value.",
            "Begins with the string value.",
            "Ends with the string value.",
            "Contains the string value.",
            "Full match for the regular expression with the string value.",
            "Partial match for the regular expression with the string value."
          ],
          "description": "The match type for this filter.",
          "type": "string",
          "enum": [
            "MATCH_TYPE_UNSPECIFIED",
            "EXACT",
            "BEGINS_WITH",
            "ENDS_WITH",
            "CONTAINS",
            "FULL_REGEXP",
            "PARTIAL_REGEXP"
          ]
        },
        "caseSensitive": {
          "description": "If true, the string value is case sensitive.",
          "type": "boolean"
        },
        "value": {
          "description": "The string value used for the matching.",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1betaAccessStringFilter",
      "description": "The filter for strings.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1betaAccessInListFilter": {
      "properties": {
        "values": {
          "description": "The list of string values. Must be non-empty.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "caseSensitive": {
          "description": "If true, the string value is case sensitive.",
          "type": "boolean"
        }
      },
      "id": "GoogleAnalyticsAdminV1betaAccessInListFilter",
      "description": "The result needs to be in a list of string values.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1betaSearchChangeHistoryEventsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "changeHistoryEvents": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaChangeHistoryEvent"
          },
          "description": "Results that were accessible to the caller.",
          "type": "array"
        }
      },
      "id": "GoogleAnalyticsAdminV1betaSearchChangeHistoryEventsResponse",
      "description": "Response message for SearchAccounts RPC.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1betaMeasurementProtocolSecret": {
      "id": "GoogleAnalyticsAdminV1betaMeasurementProtocolSecret",
      "description": "A secret value used for sending hits to Measurement Protocol.",
      "type": "object",
      "properties": {
        "secretValue": {
          "description": "Output only. The measurement protocol secret value. Pass this value to the api_secret field of the Measurement Protocol API when sending hits to this secret's parent property.",
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "description": "Required. Human-readable display name for this secret.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. Resource name of this secret. This secret may be a child of any type of stream. Format: properties/{property}/dataStreams/{dataStream}/measurementProtocolSecrets/{measurementProtocolSecret}",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1betaAccessOrderByDimensionOrderBy": {
      "properties": {
        "dimensionName": {
          "description": "A dimension name in the request to order by.",
          "type": "string"
        },
        "orderType": {
          "enumDescriptions": [
            "Unspecified.",
            "Alphanumeric sort by Unicode code point. For example, \"2\" < \"A\" < \"X\" < \"b\" < \"z\".",
            "Case insensitive alphanumeric sort by lower case Unicode code point. For example, \"2\" < \"A\" < \"b\" < \"X\" < \"z\".",
            "Dimension values are converted to numbers before sorting. For example in NUMERIC sort, \"25\" < \"100\", and in `ALPHANUMERIC` sort, \"100\" < \"25\". Non-numeric dimension values all have equal ordering value below all numeric values."
          ],
          "description": "Controls the rule for dimension value ordering.",
          "type": "string",
          "enum": [
            "ORDER_TYPE_UNSPECIFIED",
            "ALPHANUMERIC",
            "CASE_INSENSITIVE_ALPHANUMERIC",
            "NUMERIC"
          ]
        }
      },
      "id": "GoogleAnalyticsAdminV1betaAccessOrderByDimensionOrderBy",
      "description": "Sorts by dimension values.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1betaListPropertiesResponse": {
      "id": "GoogleAnalyticsAdminV1betaListPropertiesResponse",
      "description": "Response message for ListProperties RPC.",
      "type": "object",
      "properties": {
        "properties": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaProperty"
          },
          "description": "Results that matched the filter criteria and were accessible to the caller.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1betaDataStream": {
      "properties": {
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time when stream payload fields were last updated.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. Resource name of this Data Stream. Format: properties/{property_id}/dataStreams/{stream_id} Example: \"properties/1000/dataStreams/2000\"",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "Type unknown or not specified.",
            "Web data stream.",
            "Android app data stream.",
            "iOS app data stream."
          ],
          "description": "Required. Immutable. The type of this DataStream resource.",
          "type": "string",
          "enum": [
            "DATA_STREAM_TYPE_UNSPECIFIED",
            "WEB_DATA_STREAM",
            "ANDROID_APP_DATA_STREAM",
            "IOS_APP_DATA_STREAM"
          ]
        },
        "androidAppStreamData": {
          "description": "Data specific to Android app streams. Must be populated if type is ANDROID_APP_DATA_STREAM.",
          "$ref": "GoogleAnalyticsAdminV1betaDataStreamAndroidAppStreamData"
        },
        "iosAppStreamData": {
          "description": "Data specific to iOS app streams. Must be populated if type is IOS_APP_DATA_STREAM.",
          "$ref": "GoogleAnalyticsAdminV1betaDataStreamIosAppStreamData"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time when this stream was originally created.",
          "type": "string"
        },
        "webStreamData": {
          "description": "Data specific to web streams. Must be populated if type is WEB_DATA_STREAM.",
          "$ref": "GoogleAnalyticsAdminV1betaDataStreamWebStreamData"
        },
        "displayName": {
          "description": "Human-readable display name for the Data Stream. Required for web data streams. The max allowed display name length is 255 UTF-16 code units.",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1betaDataStream",
      "description": "A resource message representing a data stream.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1betaAccessQuotaStatus": {
      "id": "GoogleAnalyticsAdminV1betaAccessQuotaStatus",
      "description": "Current state for a particular quota group.",
      "type": "object",
      "properties": {
        "consumed": {
          "description": "Quota consumed by this request.",
          "type": "integer",
          "format": "int32"
        },
        "remaining": {
          "description": "Quota remaining after this request.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleAnalyticsAdminV1betaAccessBetweenFilter": {
      "id": "GoogleAnalyticsAdminV1betaAccessBetweenFilter",
      "description": "To express that the result needs to be between two numbers (inclusive).",
      "type": "object",
      "properties": {
        "fromValue": {
          "description": "Begins with this number.",
          "$ref": "GoogleAnalyticsAdminV1betaNumericValue"
        },
        "toValue": {
          "description": "Ends with this number.",
          "$ref": "GoogleAnalyticsAdminV1betaNumericValue"
        }
      }
    },
    "GoogleAnalyticsAdminV1betaListKeyEventsResponse": {
      "id": "GoogleAnalyticsAdminV1betaListKeyEventsResponse",
      "description": "Response message for ListKeyEvents RPC.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "keyEvents": {
          "description": "The requested Key Events",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaKeyEvent"
          }
        }
      }
    },
    "GoogleAnalyticsAdminV1betaListGoogleAdsLinksResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "googleAdsLinks": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaGoogleAdsLink"
          },
          "description": "List of GoogleAdsLinks.",
          "type": "array"
        }
      },
      "id": "GoogleAnalyticsAdminV1betaListGoogleAdsLinksResponse",
      "description": "Response message for ListGoogleAdsLinks RPC.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1betaNumericValue": {
      "properties": {
        "int64Value": {
[...]
