{
  "title": "Google Analytics Admin API",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/analytics.manage.users.readonly": {
          "description": "View Google Analytics user permissions"
        },
        "https://www.googleapis.com/auth/analytics.edit": {
          "description": "Edit Google Analytics management entities"
        },
        "https://www.googleapis.com/auth/analytics.manage.users": {
          "description": "Manage Google Analytics Account users by email address"
        },
        "https://www.googleapis.com/auth/analytics.readonly": {
          "description": "See and download your Google Analytics data"
        }
      }
    }
  },
  "protocol": "rest",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "rootUrl": "https://analyticsadmin.googleapis.com/",
  "baseUrl": "https://analyticsadmin.googleapis.com/",
  "basePath": "",
  "batchPath": "batch",
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "version": "v1alpha",
  "revision": "20260805",
  "id": "analyticsadmin:v1alpha",
  "documentationLink": "http://code.google.com/apis/analytics/docs/mgmt/home.html",
  "parameters": {
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "alt": {
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "default": "json"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    }
  },
  "description": "Manage properties in Google Analytics. Warning: Creating multiple Customer Applications, Accounts, or Projects to simulate or act as a single Customer Application, Account, or Project (respectively) or to circumvent Service-specific usage limits or quotas is a direct violation of Google Cloud Platform Terms of Service as well as Google APIs Terms of Service. These actions can result in immediate termination of your GCP project(s) without any warning.",
  "servicePath": "",
  "mtlsRootUrl": "https://analyticsadmin.mtls.googleapis.com/",
  "resources": {
    "accounts": {
      "methods": {
        "list": {
          "flatPath": "v1alpha/accounts",
          "parameterOrder": [],
          "path": "v1alpha/accounts",
          "id": "analyticsadmin.accounts.list",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaListAccountsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "parameters": {
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Optional. A page token, received from a previous `ListAccounts` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAccounts` must match the call that provided the page token."
            },
            "showDeleted": {
              "description": "Whether to include soft-deleted (ie: \"trashed\") Accounts in the results. Accounts can be inspected to determine whether they are deleted or not.",
              "type": "boolean",
              "location": "query"
            },
            "pageSize": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "Optional. The maximum number of resources to return. The service may return fewer than this value, even if there are additional pages. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)"
            }
          },
          "description": "Returns all accounts accessible by the caller. Note that these accounts might not currently have GA properties. Soft-deleted (ie: \"trashed\") accounts are excluded by default. Returns an empty list if no relevant accounts are found. Note: The easiest way to retrieve a list of all properties you have access to is by using `ListAccountSummaries`.",
          "httpMethod": "GET"
        },
        "patch": {
          "flatPath": "v1alpha/accounts/{accountsId}",
          "parameterOrder": [
            "name"
          ],
          "request": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccount"
          },
          "path": "v1alpha/{+name}",
          "id": "analyticsadmin.accounts.patch",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccount"
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "parameters": {
            "updateMask": {
              "type": "string",
              "format": "google-fieldmask",
              "location": "query",
              "description": "Required. The list of fields to be updated. Field names must be in snake case (for example, \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields."
            },
            "name": {
              "pattern": "^accounts/[^/]+$",
              "required": true,
              "type": "string",
              "description": "Identifier. Resource name of this account. Format: accounts/{account} Example: \"accounts/100\"",
              "location": "path"
            }
          },
          "description": "Updates an account.",
          "httpMethod": "PATCH"
        },
        "runAccessReport": {
          "httpMethod": "POST",
          "parameters": {
            "entity": {
              "required": true,
              "type": "string",
              "pattern": "^accounts/[^/]+$",
              "location": "path",
              "description": "The Data Access Report supports requesting at the property level or account level. If requested at the account level, Data Access Reports include all access for all properties under that account. To request at the property level, entity should be for example 'properties/123' if \"123\" is your Google Analytics property ID. To request at the account level, entity should be for example 'accounts/1234' if \"1234\" is your Google Analytics Account ID."
            }
          },
          "description": "Returns a customized report of data access records. The report provides records of each time a user reads Google Analytics reporting data. Access records are retained for up to 2 years. Data Access Reports can be requested for a property. Reports may be requested for any property, but dimensions that aren't related to quota can only be requested on Google Analytics 360 properties. This method is only available to Administrators. These data access records include GA UI Reporting, GA UI Explorations, GA Data API, and other products like Firebase & Admob that can retrieve data from Google Analytics through a linkage. These records don't include property configuration changes like adding a stream or changing a property's time zone. For configuration change history, see [searchChangeHistoryEvents](https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/accounts/searchChangeHistoryEvents). To give your feedback on this API, complete the [Google Analytics Access Reports feedback](https://docs.google.com/forms/d/e/1FAIpQLSdmEBUrMzAEdiEKk5TV5dEHvDUZDRlgWYdQdAeSdtR4hVjEhw/viewform) form.",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaRunAccessReportResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "id": "analyticsadmin.accounts.runAccessReport",
          "path": "v1alpha/{+entity}:runAccessReport",
          "flatPath": "v1alpha/accounts/{accountsId}:runAccessReport",
          "parameterOrder": [
            "entity"
          ],
          "request": {
            "$ref": "GoogleAnalyticsAdminV1alphaRunAccessReportRequest"
          }
        },
        "provisionAccountTicket": {
          "httpMethod": "POST",
          "parameters": {},
          "description": "Requests a ticket for creating an account.",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaProvisionAccountTicketResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "id": "analyticsadmin.accounts.provisionAccountTicket",
          "path": "v1alpha/accounts:provisionAccountTicket",
          "flatPath": "v1alpha/accounts:provisionAccountTicket",
          "parameterOrder": [],
          "request": {
            "$ref": "GoogleAnalyticsAdminV1alphaProvisionAccountTicketRequest"
          }
        },
        "getDataSharingSettings": {
          "flatPath": "v1alpha/accounts/{accountsId}/dataSharingSettings",
          "parameterOrder": [
            "name"
          ],
          "path": "v1alpha/{+name}",
          "id": "analyticsadmin.accounts.getDataSharingSettings",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaDataSharingSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "pattern": "^accounts/[^/]+/dataSharingSettings$",
              "location": "path",
              "description": "Required. The name of the settings to lookup. Format: accounts/{account}/dataSharingSettings Example: `accounts/1000/dataSharingSettings`"
            }
          },
          "description": "Get data sharing settings on an account. Data sharing settings are singletons.",
          "httpMethod": "GET"
        },
        "searchChangeHistoryEvents": {
          "httpMethod": "POST",
          "parameters": {
            "account": {
              "pattern": "^accounts/[^/]+$",
              "required": true,
              "type": "string",
              "description": "Required. The account resource for which to return change history resources. Format: accounts/{account} Example: `accounts/100`",
              "location": "path"
            }
          },
          "description": "Searches through all changes to an account or its children given the specified set of filters. Only returns the subset of changes supported by the API. The UI may return additional changes.",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaSearchChangeHistoryEventsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "id": "analyticsadmin.accounts.searchChangeHistoryEvents",
          "path": "v1alpha/{+account}:searchChangeHistoryEvents",
          "flatPath": "v1alpha/accounts/{accountsId}:searchChangeHistoryEvents",
          "parameterOrder": [
            "account"
          ],
          "request": {
            "$ref": "GoogleAnalyticsAdminV1alphaSearchChangeHistoryEventsRequest"
          }
        },
        "delete": {
          "response": {
            "$ref": "GoogleProtobufEmpty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "httpMethod": "DELETE",
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "pattern": "^accounts/[^/]+$",
              "location": "path",
              "description": "Required. The name of the Account to soft-delete. Format: accounts/{account} Example: \"accounts/100\""
            }
          },
          "description": "Marks target Account as soft-deleted (ie: \"trashed\") and returns it. This API does not have a method to restore soft-deleted accounts. However, they can be restored using the Trash Can UI. If the accounts are not restored before the expiration time, the account and all child resources (eg: Properties, GoogleAdsLinks, Streams, AccessBindings) will be permanently purged. https://support.google.com/analytics/answer/6154772 Returns an error if the target is not found.",
          "path": "v1alpha/{+name}",
          "flatPath": "v1alpha/accounts/{accountsId}",
          "parameterOrder": [
            "name"
          ],
          "id": "analyticsadmin.accounts.delete"
        },
        "get": {
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "description": "Required. The name of the account to lookup. Format: accounts/{account} Example: \"accounts/100\"",
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^accounts/[^/]+$"
            }
          },
          "description": "Lookup for a single Account.",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccount"
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "id": "analyticsadmin.accounts.get",
          "path": "v1alpha/{+name}",
          "flatPath": "v1alpha/accounts/{accountsId}",
          "parameterOrder": [
            "name"
          ]
        }
      },
      "resources": {
        "accessBindings": {
          "methods": {
            "get": {
              "path": "v1alpha/{+name}",
              "flatPath": "v1alpha/accounts/{accountsId}/accessBindings/{accessBindingsId}",
              "parameterOrder": [
                "name"
              ],
              "id": "analyticsadmin.accounts.accessBindings.get",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaAccessBinding"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users",
                "https://www.googleapis.com/auth/analytics.manage.users.readonly"
              ],
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "pattern": "^accounts/[^/]+/accessBindings/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The name of the access binding to retrieve. Formats: - accounts/{account}/accessBindings/{accessBinding} - properties/{property}/accessBindings/{accessBinding}"
                }
              },
              "description": "Gets information about an access binding."
            },
            "batchDelete": {
              "path": "v1alpha/{+parent}/accessBindings:batchDelete",
              "flatPath": "v1alpha/accounts/{accountsId}/accessBindings:batchDelete",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaBatchDeleteAccessBindingsRequest"
              },
              "id": "analyticsadmin.accounts.accessBindings.batchDelete",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "description": "Required. The account or property that owns the access bindings. The parent of all provided values for the 'names' field in DeleteAccessBindingRequest messages must match this field. Formats: - accounts/{account} - properties/{property}",
                  "location": "path",
                  "pattern": "^accounts/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "description": "Deletes information about multiple users' links to an account or property."
            },
            "delete": {
              "id": "analyticsadmin.accounts.accessBindings.delete",
              "path": "v1alpha/{+name}",
              "flatPath": "v1alpha/accounts/{accountsId}/accessBindings/{accessBindingsId}",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^accounts/[^/]+/accessBindings/[^/]+$",
                  "description": "Required. Formats: - accounts/{account}/accessBindings/{accessBinding} - properties/{property}/accessBindings/{accessBinding}",
                  "location": "path"
                }
              },
              "description": "Deletes an access binding on an account or property.",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ]
            },
            "create": {
              "id": "analyticsadmin.accounts.accessBindings.create",
              "flatPath": "v1alpha/accounts/{accountsId}/accessBindings",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaAccessBinding"
              },
              "path": "v1alpha/{+parent}/accessBindings",
              "parameters": {
                "parent": {
                  "pattern": "^accounts/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. Formats: - accounts/{account} - properties/{property}",
                  "location": "path"
                }
              },
              "description": "Creates an access binding on an account or property.",
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaAccessBinding"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ]
            },
            "patch": {
              "id": "analyticsadmin.accounts.accessBindings.patch",
              "flatPath": "v1alpha/accounts/{accountsId}/accessBindings/{accessBindingsId}",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaAccessBinding"
              },
              "path": "v1alpha/{+name}",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Output only. Resource name of this binding. Format: accounts/{account}/accessBindings/{access_binding} or properties/{property}/accessBindings/{access_binding} Example: \"accounts/100/accessBindings/200\"",
                  "pattern": "^accounts/[^/]+/accessBindings/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "description": "Updates an access binding on an account or property.",
              "httpMethod": "PATCH",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaAccessBinding"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ]
            },
            "list": {
              "id": "analyticsadmin.accounts.accessBindings.list",
              "path": "v1alpha/{+parent}/accessBindings",
              "flatPath": "v1alpha/accounts/{accountsId}/accessBindings",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. Formats: - accounts/{account} - properties/{property}",
                  "pattern": "^accounts/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "pageSize": {
                  "description": "The maximum number of access bindings to return. The service may return fewer than this value. If unspecified, at most 200 access bindings will be returned. The maximum value is 500; values above 500 will be coerced to 500.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "pageToken": {
                  "description": "A page token, received from a previous `ListAccessBindings` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAccessBindings` must match the call that provided the page token.",
                  "type": "string",
                  "location": "query"
                }
              },
              "description": "Lists all access bindings on an account or property.",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaListAccessBindingsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users",
                "https://www.googleapis.com/auth/analytics.manage.users.readonly"
              ]
            },
            "batchUpdate": {
              "id": "analyticsadmin.accounts.accessBindings.batchUpdate",
              "flatPath": "v1alpha/accounts/{accountsId}/accessBindings:batchUpdate",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaBatchUpdateAccessBindingsRequest"
              },
              "path": "v1alpha/{+parent}/accessBindings:batchUpdate",
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "pattern": "^accounts/[^/]+$",
                  "description": "Required. The account or property that owns the access bindings. The parent of all provided AccessBinding in UpdateAccessBindingRequest messages must match this field. Formats: - accounts/{account} - properties/{property}",
                  "location": "path"
                }
              },
              "description": "Updates information about multiple access bindings to an account or property.",
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaBatchUpdateAccessBindingsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ]
            },
            "batchCreate": {
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaBatchCreateAccessBindingsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "parameters": {
                "parent": {
                  "description": "Required. The account or property that owns the access bindings. The parent field in the CreateAccessBindingRequest messages must either be empty or match this field. Formats: - accounts/{account} - properties/{property}",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^accounts/[^/]+$"
                }
              },
              "description": "Creates information about multiple access bindings to an account or property. This method is transactional. If any AccessBinding cannot be created, none of the AccessBindings will be created.",
              "httpMethod": "POST",
              "flatPath": "v1alpha/accounts/{accountsId}/accessBindings:batchCreate",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaBatchCreateAccessBindingsRequest"
              },
              "path": "v1alpha/{+parent}/accessBindings:batchCreate",
              "id": "analyticsadmin.accounts.accessBindings.batchCreate"
            },
            "batchGet": {
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaBatchGetAccessBindingsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users",
                "https://www.googleapis.com/auth/analytics.manage.users.readonly"
              ],
              "parameters": {
                "names": {
                  "location": "query",
                  "type": "string",
                  "repeated": true,
                  "description": "Required. The names of the access bindings to retrieve. A maximum of 1000 access bindings can be retrieved in a batch. Formats: - accounts/{account}/accessBindings/{accessBinding} - properties/{property}/accessBindings/{accessBinding}"
                },
                "parent": {
                  "location": "path",
                  "description": "Required. The account or property that owns the access bindings. The parent of all provided values for the 'names' field must match this field. Formats: - accounts/{account} - properties/{property}",
                  "required": true,
                  "type": "string",
                  "pattern": "^accounts/[^/]+$"
                }
              },
              "description": "Gets information about multiple access bindings to an account or property.",
              "httpMethod": "GET",
              "flatPath": "v1alpha/accounts/{accountsId}/accessBindings:batchGet",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1alpha/{+parent}/accessBindings:batchGet",
              "id": "analyticsadmin.accounts.accessBindings.batchGet"
            }
          }
        }
      }
    },
    "accountSummaries": {
      "methods": {
        "list": {
          "parameters": {
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Optional. A page token, received from a previous `ListAccountSummaries` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAccountSummaries` must match the call that provided the page token."
            },
            "pageSize": {
              "description": "Optional. The maximum number of AccountSummary resources to return. The service may return fewer than this value, even if there are additional pages. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)",
              "location": "query",
              "type": "integer",
              "format": "int32"
            }
          },
          "description": "Returns summaries of all accounts accessible by the caller.",
          "httpMethod": "GET",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaListAccountSummariesResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "id": "analyticsadmin.accountSummaries.list",
          "flatPath": "v1alpha/accountSummaries",
          "parameterOrder": [],
          "path": "v1alpha/accountSummaries"
        }
      }
    },
    "properties": {
      "methods": {
        "submitUserDeletion": {
          "httpMethod": "POST",
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "pattern": "^properties/[^/]+$",
              "location": "path",
              "description": "Required. The name of the property to submit user deletion for."
            }
          },
          "description": "Submits a request for user deletion for a property.",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaSubmitUserDeletionResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "id": "analyticsadmin.properties.submitUserDeletion",
          "path": "v1alpha/{+name}:submitUserDeletion",
          "flatPath": "v1alpha/properties/{propertiesId}:submitUserDeletion",
          "parameterOrder": [
            "name"
          ],
          "request": {
            "$ref": "GoogleAnalyticsAdminV1alphaSubmitUserDeletionRequest"
          }
        },
        "getGoogleSignalsSettings": {
          "parameters": {
            "name": {
              "description": "Required. The name of the google signals settings to retrieve. Format: properties/{property}/googleSignalsSettings",
              "location": "path",
              "pattern": "^properties/[^/]+/googleSignalsSettings$",
              "required": true,
              "type": "string"
            }
          },
          "description": "Lookup for Google Signals settings for a property.",
          "httpMethod": "GET",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaGoogleSignalsSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "id": "analyticsadmin.properties.getGoogleSignalsSettings",
          "flatPath": "v1alpha/properties/{propertiesId}/googleSignalsSettings",
          "parameterOrder": [
            "name"
          ],
          "path": "v1alpha/{+name}"
        },
        "getAttributionSettings": {
          "path": "v1alpha/{+name}",
          "flatPath": "v1alpha/properties/{propertiesId}/attributionSettings",
          "parameterOrder": [
            "name"
          ],
          "id": "analyticsadmin.properties.getAttributionSettings",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaAttributionSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "pattern": "^properties/[^/]+/attributionSettings$",
              "required": true,
              "type": "string",
              "description": "Required. The name of the attribution settings to retrieve. Format: properties/{property}/attributionSettings",
              "location": "path"
            }
          },
          "description": "Lookup for a AttributionSettings singleton."
        },
        "createRollupProperty": {
          "id": "analyticsadmin.properties.createRollupProperty",
          "path": "v1alpha/properties:createRollupProperty",
          "flatPath": "v1alpha/properties:createRollupProperty",
          "parameterOrder": [],
          "request": {
            "$ref": "GoogleAnalyticsAdminV1alphaCreateRollupPropertyRequest"
          },
          "httpMethod": "POST",
          "parameters": {},
          "description": "Create a roll-up property and all roll-up property source links.",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaCreateRollupPropertyResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ]
        },
        "patch": {
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaProperty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "httpMethod": "PATCH",
          "parameters": {
            "name": {
              "description": "Identifier. Resource name of this property. Format: properties/{property_id} Example: \"properties/1000\"",
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^properties/[^/]+$"
            },
            "updateMask": {
              "description": "Required. The list of fields to be updated. Field names must be in snake case (e.g., \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
              "type": "string",
              "format": "google-fieldmask",
              "location": "query"
            }
          },
          "description": "Updates a property.",
          "path": "v1alpha/{+name}",
          "flatPath": "v1alpha/properties/{propertiesId}",
          "parameterOrder": [
            "name"
          ],
          "request": {
            "$ref": "GoogleAnalyticsAdminV1alphaProperty"
          },
          "id": "analyticsadmin.properties.patch"
        },
        "runAccessReport": {
          "flatPath": "v1alpha/properties/{propertiesId}:runAccessReport",
          "parameterOrder": [
            "entity"
          ],
          "request": {
            "$ref": "GoogleAnalyticsAdminV1alphaRunAccessReportRequest"
          },
          "path": "v1alpha/{+entity}:runAccessReport",
          "id": "analyticsadmin.properties.runAccessReport",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaRunAccessReportResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "parameters": {
            "entity": {
              "description": "The Data Access Report supports requesting at the property level or account level. If requested at the account level, Data Access Reports include all access for all properties under that account. To request at the property level, entity should be for example 'properties/123' if \"123\" is your Google Analytics property ID. To request at the account level, entity should be for example 'accounts/1234' if \"1234\" is your Google Analytics Account ID.",
              "location": "path",
              "pattern": "^properties/[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "description": "Returns a customized report of data access records. The report provides records of each time a user reads Google Analytics reporting data. Access records are retained for up to 2 years. Data Access Reports can be requested for a property. Reports may be requested for any property, but dimensions that aren't related to quota can only be requested on Google Analytics 360 properties. This method is only available to Administrators. These data access records include GA UI Reporting, GA UI Explorations, GA Data API, and other products like Firebase & Admob that can retrieve data from Google Analytics through a linkage. These records don't include property configuration changes like adding a stream or changing a property's time zone. For configuration change history, see [searchChangeHistoryEvents](https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/accounts/searchChangeHistoryEvents). To give your feedback on this API, complete the [Google Analytics Access Reports feedback](https://docs.google.com/forms/d/e/1FAIpQLSdmEBUrMzAEdiEKk5TV5dEHvDUZDRlgWYdQdAeSdtR4hVjEhw/viewform) form.",
          "httpMethod": "POST"
        },
        "provisionSubproperty": {
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaProvisionSubpropertyResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "parameters": {},
          "description": "Create a subproperty and a subproperty event filter that applies to the created subproperty.",
          "httpMethod": "POST",
          "flatPath": "v1alpha/properties:provisionSubproperty",
          "parameterOrder": [],
          "request": {
            "$ref": "GoogleAnalyticsAdminV1alphaProvisionSubpropertyRequest"
          },
          "path": "v1alpha/properties:provisionSubproperty",
          "id": "analyticsadmin.properties.provisionSubproperty"
        },
        "getReportingIdentitySettings": {
          "path": "v1alpha/{+name}",
          "flatPath": "v1alpha/properties/{propertiesId}/reportingIdentitySettings",
          "parameterOrder": [
            "name"
          ],
          "id": "analyticsadmin.properties.getReportingIdentitySettings",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaReportingIdentitySettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "pattern": "^properties/[^/]+/reportingIdentitySettings$",
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Required. The name of the settings to lookup. Format: properties/{property}/reportingIdentitySettings Example: \"properties/1000/reportingIdentitySettings\""
            }
          },
          "description": "Returns the reporting identity settings for this property."
        },
        "getUserProvidedDataSettings": {
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "pattern": "^properties/[^/]+/userProvidedDataSettings$",
              "required": true,
              "type": "string",
              "description": "Required. The name of the user provided data settings to retrieve. Format: properties/{property}/userProvidedDataSettings",
              "location": "path"
            }
          },
          "description": "Looks up settings related to user-provided data for a property.",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaUserProvidedDataSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "id": "analyticsadmin.properties.getUserProvidedDataSettings",
          "path": "v1alpha/{+name}",
          "flatPath": "v1alpha/properties/{propertiesId}/userProvidedDataSettings",
          "parameterOrder": [
            "name"
          ]
        },
        "updateGoogleSignalsSettings": {
          "path": "v1alpha/{+name}",
          "flatPath": "v1alpha/properties/{propertiesId}/googleSignalsSettings",
          "parameterOrder": [
            "name"
          ],
          "request": {
            "$ref": "GoogleAnalyticsAdminV1alphaGoogleSignalsSettings"
          },
          "id": "analyticsadmin.properties.updateGoogleSignalsSettings",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaGoogleSignalsSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "httpMethod": "PATCH",
          "parameters": {
            "updateMask": {
              "description": "Required. The list of fields to be updated. Field names must be in snake case (e.g., \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
              "type": "string",
              "format": "google-fieldmask",
              "location": "query"
            },
            "name": {
              "required": true,
              "type": "string",
              "pattern": "^properties/[^/]+/googleSignalsSettings$",
              "location": "path",
              "description": "Output only. Resource name of this setting. Format: properties/{property_id}/googleSignalsSettings Example: \"properties/1000/googleSignalsSettings\""
            }
          },
          "description": "Updates Google Signals settings for a property."
        },
        "getDataRetentionSettings": {
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaDataRetentionSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "parameters": {
            "name": {
              "location": "path",
              "description": "Required. The name of the settings to lookup. Format: properties/{property}/dataRetentionSettings Example: \"properties/1000/dataRetentionSettings\"",
              "required": true,
              "type": "string",
              "pattern": "^properties/[^/]+/dataRetentionSettings$"
            }
          },
          "description": "Returns the singleton data retention settings for this property.",
          "httpMethod": "GET",
          "flatPath": "v1alpha/properties/{propertiesId}/dataRetentionSettings",
          "parameterOrder": [
            "name"
          ],
          "path": "v1alpha/{+name}",
          "id": "analyticsadmin.properties.getDataRetentionSettings"
        },
        "acknowledgeUserDataCollection": {
          "flatPath": "v1alpha/properties/{propertiesId}:acknowledgeUserDataCollection",
          "parameterOrder": [
            "property"
          ],
          "request": {
            "$ref": "GoogleAnalyticsAdminV1alphaAcknowledgeUserDataCollectionRequest"
          },
          "path": "v1alpha/{+property}:acknowledgeUserDataCollection",
          "id": "analyticsadmin.properties.acknowledgeUserDataCollection",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaAcknowledgeUserDataCollectionResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "parameters": {
            "property": {
              "location": "path",
              "description": "Required. The property for which to acknowledge user data collection.",
              "required": true,
              "type": "string",
              "pattern": "^properties/[^/]+$"
            }
          },
          "description": "Acknowledges the terms of user data collection for the specified property. This acknowledgement must be completed (either in the Google Analytics UI or through this API) before MeasurementProtocolSecret resources may be created.",
          "httpMethod": "POST"
        },
        "get": {
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "pattern": "^properties/[^/]+$",
              "required": true,
              "type": "string",
              "description": "Required. The name of the property to lookup. Format: properties/{property_id} Example: \"properties/1000\"",
              "location": "path"
            }
          },
          "description": "Lookup for a single GA Property.",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaProperty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "id": "analyticsadmin.properties.get",
          "path": "v1alpha/{+name}",
          "flatPath": "v1alpha/properties/{propertiesId}",
          "parameterOrder": [
            "name"
          ]
        },
        "delete": {
          "id": "analyticsadmin.properties.delete",
          "path": "v1alpha/{+name}",
          "flatPath": "v1alpha/properties/{propertiesId}",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "DELETE",
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "pattern": "^properties/[^/]+$",
              "location": "path",
              "description": "Required. The name of the Property to soft-delete. Format: properties/{property_id} Example: \"properties/1000\""
            }
          },
          "description": "Marks target Property as soft-deleted (ie: \"trashed\") and returns it. This API does not have a method to restore soft-deleted properties. However, they can be restored using the Trash Can UI. If the properties are not restored before the expiration time, the Property and all child resources (eg: GoogleAdsLinks, Streams, AccessBindings) will be permanently purged. https://support.google.com/analytics/answer/6154772 Returns an error if the target is not found.",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaProperty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ]
        },
        "updateReportingIdentitySettings": {
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaReportingIdentitySettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "httpMethod": "PATCH",
          "parameters": {
            "updateMask": {
              "location": "query",
              "type": "string",
              "format": "google-fieldmask",
              "description": "Optional. The list of fields to be updated. Field names must be in snake case (for example, \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields. If omitted, the service will treat it as an implied field mask equivalent to all fields that are populated."
            },
            "name": {
              "location": "path",
              "description": "Output only. Identifier. Resource name for this reporting identity settings singleton resource. Format: properties/{property_id}/reportingIdentitySettings Example: \"properties/1234/reportingIdentitySettings\"",
              "pattern": "^properties/[^/]+/reportingIdentitySettings$",
              "required": true,
              "type": "string"
            }
          },
          "description": "Updates the reporting identity settings for this property.",
          "path": "v1alpha/{+name}",
          "flatPath": "v1alpha/properties/{propertiesId}/reportingIdentitySettings",
          "parameterOrder": [
            "name"
          ],
          "request": {
            "$ref": "GoogleAnalyticsAdminV1alphaReportingIdentitySettings"
          },
          "id": "analyticsadmin.properties.updateReportingIdentitySettings"
        },
        "create": {
          "flatPath": "v1alpha/properties",
          "parameterOrder": [],
          "request": {
            "$ref": "GoogleAnalyticsAdminV1alphaProperty"
          },
          "path": "v1alpha/properties",
          "id": "analyticsadmin.properties.create",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaProperty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "parameters": {},
          "description": "Creates a Google Analytics property with the specified location and attributes.",
          "httpMethod": "POST"
        },
        "updateDataRetentionSettings": {
          "id": "analyticsadmin.properties.updateDataRetentionSettings",
          "path": "v1alpha/{+name}",
          "flatPath": "v1alpha/properties/{propertiesId}/dataRetentionSettings",
          "parameterOrder": [
            "name"
          ],
          "request": {
            "$ref": "GoogleAnalyticsAdminV1alphaDataRetentionSettings"
          },
          "httpMethod": "PATCH",
          "parameters": {
            "updateMask": {
              "description": "Required. The list of fields to be updated. Field names must be in snake case (e.g., \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
              "type": "string",
              "format": "google-fieldmask",
              "location": "query"
            },
            "name": {
              "required": true,
              "type": "string",
              "pattern": "^properties/[^/]+/dataRetentionSettings$",
              "location": "path",
              "description": "Identifier. Resource name for this DataRetentionSetting resource. Format: properties/{property}/dataRetentionSettings"
            }
          },
          "description": "Updates the singleton data retention settings for this property.",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaDataRetentionSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ]
        },
        "updateAttributionSettings": {
          "flatPath": "v1alpha/properties/{propertiesId}/attributionSettings",
          "parameterOrder": [
            "name"
          ],
          "request": {
            "$ref": "GoogleAnalyticsAdminV1alphaAttributionSettings"
          },
          "path": "v1alpha/{+name}",
          "id": "analyticsadmin.properties.updateAttributionSettings",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaAttributionSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "parameters": {
            "name": {
              "description": "Output only. Resource name of this attribution settings resource. Format: properties/{property_id}/attributionSettings Example: \"properties/1000/attributionSettings\"",
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^properties/[^/]+/attributionSettings$"
            },
            "updateMask": {
              "description": "Required. The list of fields to be updated. Field names must be in snake case (e.g., \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
              "location": "query",
              "type": "string",
              "format": "google-fieldmask"
            }
          },
          "description": "Updates attribution settings on a property.",
          "httpMethod": "PATCH"
        },
        "list": {
          "httpMethod": "GET",
          "parameters": {
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Optional. A page token, received from a previous `ListProperties` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListProperties` must match the call that provided the page token."
            },
            "showDeleted": {
              "description": "Whether to include soft-deleted (ie: \"trashed\") Properties in the results. Properties can be inspected to determine whether they are deleted or not.",
              "location": "query",
              "type": "boolean"
            },
            "pageSize": {
              "description": "Optional. The maximum number of resources to return. The service may return fewer than this value, even if there are additional pages. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "filter": {
              "location": "query",
              "type": "string",
              "description": "Required. An expression for filtering the results of the request. Fields eligible for filtering are: `parent:`(The resource name of the parent account/property) or `ancestor:`(The resource name of the parent account) or `firebase_project:`(The id or number of the linked firebase project). Some examples of filters: ``` | Filter | Description | |-----------------------------|-------------------------------------------| | parent:accounts/123 | The account with account id: 123. | | parent:properties/123 | The property with property id: 123. | | ancestor:accounts/123 | The account with account id: 123. | | firebase_project:project-id | The firebase project with id: project-id. | | firebase_project:123 | The firebase project with number: 123. | ```"
            }
          },
          "description": "Returns child Properties under the specified parent Account. Properties will be excluded if the caller does not have access. Soft-deleted (ie: \"trashed\") properties are excluded by default. Returns an empty list if no relevant properties are found.",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaListPropertiesResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "id": "analyticsadmin.properties.list",
          "path": "v1alpha/properties",
          "flatPath": "v1alpha/properties",
          "parameterOrder": []
        }
      },
      "resources": {
        "displayVideo360AdvertiserLinks": {
          "methods": {
            "list": {
              "id": "analyticsadmin.properties.displayVideo360AdvertiserLinks.list",
              "path": "v1alpha/{+parent}/displayVideo360AdvertiserLinks",
              "flatPath": "v1alpha/properties/{propertiesId}/displayVideo360AdvertiserLinks",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "pattern": "^properties/[^/]+$",
                  "location": "path",
                  "description": "Required. Example format: properties/1234"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "The maximum number of resources to return. If unspecified, at most 50 resources will be returned. The maximum value is 200 (higher values will be coerced to the maximum)."
                },
                "pageToken": {
                  "description": "A page token, received from a previous `ListDisplayVideo360AdvertiserLinks` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListDisplayVideo360AdvertiserLinks` must match the call that provided the page token.",
                  "type": "string",
                  "location": "query"
                }
              },
              "description": "Lists all DisplayVideo360AdvertiserLinks on a property.",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaListDisplayVideo360AdvertiserLinksResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ]
            },
            "patch": {
              "flatPath": "v1alpha/properties/{propertiesId}/displayVideo360AdvertiserLinks/{displayVideo360AdvertiserLinksId}",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLink"
              },
              "path": "v1alpha/{+name}",
              "id": "analyticsadmin.properties.displayVideo360AdvertiserLinks.patch",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLink"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^properties/[^/]+/displayVideo360AdvertiserLinks/[^/]+$",
                  "location": "path",
                  "description": "Identifier. The resource name for this DisplayVideo360AdvertiserLink resource. Format: properties/{propertyId}/displayVideo360AdvertiserLinks/{linkId} Note: linkId is not the Display & Video 360 Advertiser ID"
                },
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask",
                  "description": "Required. The list of fields to be updated. Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields."
                }
              },
              "description": "Updates a DisplayVideo360AdvertiserLink on a property.",
              "httpMethod": "PATCH"
            },
            "create": {
              "path": "v1alpha/{+parent}/displayVideo360AdvertiserLinks",
              "flatPath": "v1alpha/properties/{propertiesId}/displayVideo360AdvertiserLinks",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLink"
              },
              "id": "analyticsadmin.properties.displayVideo360AdvertiserLinks.create",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLink"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "pattern": "^properties/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. Example format: properties/1234",
                  "location": "path"
                }
              },
              "description": "Creates a DisplayVideo360AdvertiserLink. This can only be utilized by users who have proper authorization both on the Google Analytics property and on the Display & Video 360 advertiser. Users who do not have access to the Display & Video 360 advertiser should instead seek to create a DisplayVideo360LinkProposal."
            },
            "delete": {
              "id": "analyticsadmin.properties.displayVideo360AdvertiserLinks.delete",
              "flatPath": "v1alpha/properties/{propertiesId}/displayVideo360AdvertiserLinks/{displayVideo360AdvertiserLinksId}",
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha/{+name}",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^properties/[^/]+/displayVideo360AdvertiserLinks/[^/]+$",
                  "description": "Required. The name of the DisplayVideo360AdvertiserLink to delete. Example format: properties/1234/displayVideo360AdvertiserLinks/5678",
                  "location": "path"
                }
              },
              "description": "Deletes a DisplayVideo360AdvertiserLink on a property.",
              "httpMethod": "DELETE",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ]
            },
            "get": {
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLink"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "Required. The name of the DisplayVideo360AdvertiserLink to get. Example format: properties/1234/displayVideo360AdvertiserLink/5678",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^properties/[^/]+/displayVideo360AdvertiserLinks/[^/]+$"
                }
              },
              "description": "Look up a single DisplayVideo360AdvertiserLink",
              "path": "v1alpha/{+name}",
              "flatPath": "v1alpha/properties/{propertiesId}/displayVideo360AdvertiserLinks/{displayVideo360AdvertiserLinksId}",
              "parameterOrder": [
                "name"
              ],
              "id": "analyticsadmin.properties.displayVideo360AdvertiserLinks.get"
            }
          }
        },
        "expandedDataSets": {
          "methods": {
            "delete": {
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^properties/[^/]+/expandedDataSets/[^/]+$",
                  "description": "Required. Example format: properties/1234/expandedDataSets/5678",
                  "location": "path"
                }
              },
              "description": "Deletes a ExpandedDataSet on a property.",
              "path": "v1alpha/{+name}",
              "flatPath": "v1alpha/properties/{propertiesId}/expandedDataSets/{expandedDataSetsId}",
              "parameterOrder": [
                "name"
              ],
              "id": "analyticsadmin.properties.expandedDataSets.delete"
            },
            "get": {
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaExpandedDataSet"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "pattern": "^properties/[^/]+/expandedDataSets/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. The name of the ExpandedDataSet to get. Example format: properties/1234/expandedDataSets/5678",
                  "location": "path"
                }
              },
              "description": "Lookup for a single ExpandedDataSet.",
              "path": "v1alpha/{+name}",
              "flatPath": "v1alpha/properties/{propertiesId}/expandedDataSets/{expandedDataSetsId}",
              "parameterOrder": [
                "name"
              ],
              "id": "analyticsadmin.properties.expandedDataSets.get"
            },
            "patch": {
              "flatPath": "v1alpha/properties/{propertiesId}/expandedDataSets/{expandedDataSetsId}",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaExpandedDataSet"
              },
              "path": "v1alpha/{+name}",
              "id": "analyticsadmin.properties.expandedDataSets.patch",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaExpandedDataSet"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameters": {
                "updateMask": {
                  "description": "Required. The list of fields to be updated. Field names must be in snake case (e.g., \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                },
                "name": {
                  "location": "path",
                  "description": "Output only. The resource name for this ExpandedDataSet resource. Format: properties/{property_id}/expandedDataSets/{expanded_data_set}",
                  "pattern": "^properties/[^/]+/expandedDataSets/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "description": "Updates a ExpandedDataSet on a property.",
              "httpMethod": "PATCH"
            },
            "create": {
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaExpandedDataSet"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "pattern": "^properties/[^/]+$",
                  "location": "path",
                  "description": "Required. Example format: properties/1234"
                }
              },
              "description": "Creates a ExpandedDataSet.",
              "path": "v1alpha/{+parent}/expandedDataSets",
              "flatPath": "v1alpha/properties/{propertiesId}/expandedDataSets",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaExpandedDataSet"
              },
              "id": "analyticsadmin.properties.expandedDataSets.create"
            },
            "list": {
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A page token, received from a previous `ListExpandedDataSets` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListExpandedDataSet` must match the call that provided the page token."
                },
                "parent": {
                  "description": "Required. Example format: properties/1234",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^properties/[^/]+$"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum number of resources to return. If unspecified, at most 50 resources will be returned. The maximum value is 200 (higher values will be coerced to the maximum)."
                }
              },
              "description": "Lists ExpandedDataSets on a property.",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaListExpandedDataSetsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "id": "analyticsadmin.properties.expandedDataSets.list",
              "flatPath": "v1alpha/properties/{propertiesId}/expandedDataSets",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1alpha/{+parent}/expandedDataSets"
            }
          }
        },
        "reportingDataAnnotations": {
          "methods": {
            "patch": {
              "id": "analyticsadmin.properties.reportingDataAnnotations.patch",
              "flatPath": "v1alpha/properties/{propertiesId}/reportingDataAnnotations/{reportingDataAnnotationsId}",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaReportingDataAnnotation"
              },
              "path": "v1alpha/{+name}",
              "parameters": {
                "name": {
                  "description": "Required. Identifier. Resource name of this Reporting Data Annotation. Format: 'properties/{property_id}/reportingDataAnnotations/{reporting_data_annotation}' Format: 'properties/123/reportingDataAnnotations/456'",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^properties/[^/]+/reportingDataAnnotations/[^/]+$"
                },
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask",
                  "description": "Optional. The list of fields to update. Field names must be in snake case (for example, \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields."
                }
              },
              "description": "Updates a Reporting Data Annotation.",
              "httpMethod": "PATCH",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaReportingDataAnnotation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ]
            },
            "create": {
              "id": "analyticsadmin.properties.reportingDataAnnotations.create",
              "path": "v1alpha/{+parent}/reportingDataAnnotations",
              "flatPath": "v1alpha/properties/{propertiesId}/reportingDataAnnotations",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaReportingDataAnnotation"
              },
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "pattern": "^properties/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. The property for which to create a Reporting Data Annotation. Format: properties/property_id Example: properties/123",
                  "location": "path"
                }
              },
              "description": "Creates a Reporting Data Annotation.",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaReportingDataAnnotation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ]
            },
            "list": {
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaListReportingDataAnnotationsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "httpMethod": "GET",
              "parameters": {
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Filter that restricts which reporting data annotations under the parent property are listed. Supported fields are: * 'name' * `title` * `description` * `annotation_date` * `annotation_date_range` * `color` Additionally, this API provides the following helper functions: * annotation_duration() : the duration that this annotation marks, [durations](https://github.com/protocolbuffers/protobuf/blob/main/src/google/protobuf/duration.proto). expect a numeric representation of seconds followed by an `s` suffix. * is_annotation_in_range(start_date, end_date) : if the annotation is in the range specified by the `start_date` and `end_date`. The dates are in ISO-8601 format, for example `2031-06-28`. Supported operations: * `=` : equals * `!=` : not equals * `<` : less than * `>` : greater than * `<=` : less than or equals * `>=` : greater than or equals * `:` : has operator * `=~` : [regular expression](https://github.com/google/re2/wiki/Syntax) match * `!~` : [regular expression](https://github.com/google/re2/wiki/Syntax) does not match * `NOT` : Logical not * `AND` : Logical and * `OR` : Logical or Examples: 1. `title=\"Holiday Sale\"` 2. `description=~\"[Bb]ig [Gg]ame.*[Ss]ale\"` 3. `is_annotation_in_range(\"2025-12-25\", \"2026-01-16\") = true` 4. `annotation_duration() >= 172800s AND title:BOGO`"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. A page token, received from a previous `ListReportingDataAnnotations` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListReportingDataAnnotations` must match the call that provided the page token."
                },
                "parent": {
                  "location": "path",
                  "description": "Required. Resource name of the property. Format: properties/property_id Example: properties/123",
                  "pattern": "^properties/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "Optional. The maximum number of resources to return. The service may return fewer than this value, even if there are additional pages. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)"
                }
              },
              "description": "List all Reporting Data Annotations on a property.",
              "path": "v1alpha/{+parent}/reportingDataAnnotations",
              "flatPath": "v1alpha/properties/{propertiesId}/reportingDataAnnotations",
              "parameterOrder": [
                "parent"
              ],
              "id": "analyticsadmin.properties.reportingDataAnnotations.list"
            },
            "delete": {
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "description": "Required. Resource name of the Reporting Data Annotation to delete. Format: properties/property_id/reportingDataAnnotations/reporting_data_annotation Example: properties/123/reportingDataAnnotations/456",
                  "location": "path",
                  "pattern": "^properties/[^/]+/reportingDataAnnotations/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "description": "Deletes a Reporting Data Annotation.",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analyticsadmin.properties.reportingDataAnnotations.delete",
              "path": "v1alpha/{+name}",
              "flatPath": "v1alpha/properties/{propertiesId}/reportingDataAnnotations/{reportingDataAnnotationsId}",
              "parameterOrder": [
                "name"
              ]
            },
            "get": {
              "flatPath": "v1alpha/properties/{propertiesId}/reportingDataAnnotations/{reportingDataAnnotationsId}",
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha/{+name}",
              "id": "analyticsadmin.properties.reportingDataAnnotations.get",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaReportingDataAnnotation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameters": {
                "name": {
                  "pattern": "^properties/[^/]+/reportingDataAnnotations/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. Resource name of the Reporting Data Annotation to lookup. Format: properties/property_id/reportingDataAnnotations/reportingDataAnnotation Example: properties/123/reportingDataAnnotations/456"
                }
              },
              "description": "Lookup a single Reporting Data Annotation.",
              "httpMethod": "GET"
            }
          }
        },
        "keyEvents": {
          "methods": {
            "get": {
              "path": "v1alpha/{+name}",
              "flatPath": "v1alpha/properties/{propertiesId}/keyEvents/{keyEventsId}",
              "parameterOrder": [
                "name"
              ],
              "id": "analyticsadmin.properties.keyEvents.get",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaKeyEvent"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "pattern": "^properties/[^/]+/keyEvents/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The resource name of the Key Event to retrieve. Format: properties/{property}/keyEvents/{key_event} Example: \"properties/123/keyEvents/456\""
                }
              },
              "description": "Retrieve a single Key Event."
            },
            "delete": {
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The resource name of the Key Event to delete. Format: properties/{property}/keyEvents/{key_event} Example: \"properties/123/keyEvents/456\"",
                  "required": true,
                  "type": "string",
                  "pattern": "^properties/[^/]+/keyEvents/[^/]+$"
                }
              },
              "description": "Deletes a Key Event.",
              "httpMethod": "DELETE",
              "flatPath": "v1alpha/properties/{propertiesId}/keyEvents/{keyEventsId}",
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha/{+name}",
              "id": "analyticsadmin.properties.keyEvents.delete"
            },
            "create": {
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. The resource name of the parent property where this Key Event will be created. Format: properties/123",
                  "required": true,
                  "type": "string",
                  "pattern": "^properties/[^/]+$"
                }
              },
              "description": "Creates a Key Event.",
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaKeyEvent"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analyticsadmin.properties.keyEvents.create",
              "flatPath": "v1alpha/properties/{propertiesId}/keyEvents",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaKeyEvent"
              },
              "path": "v1alpha/{+parent}/keyEvents"
            },
            "patch": {
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaKeyEvent"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "httpMethod": "PATCH",
              "parameters": {
                "updateMask": {
                  "description": "Required. The list of fields to be updated. Field names must be in snake case (e.g., \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query"
                },
                "name": {
                  "pattern": "^properties/[^/]+/keyEvents/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Output only. Resource name of this key event. Format: properties/{property}/keyEvents/{key_event}"
                }
              },
              "description": "Updates a Key Event.",
              "path": "v1alpha/{+name}",
              "flatPath": "v1alpha/properties/{propertiesId}/keyEvents/{keyEventsId}",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaKeyEvent"
              },
              "id": "analyticsadmin.properties.keyEvents.patch"
            },
            "list": {
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "description": "Optional. A page token, received from a previous `ListKeyEvents` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListKeyEvents` must match the call that provided the page token.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "description": "Required. The resource name of the parent property. Example: 'properties/123'",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^properties/[^/]+$"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "Optional. The maximum number of resources to return. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)"
                }
              },
              "description": "Returns a list of Key Events in the specified parent property. Returns an empty list if no Key Events are found.",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaListKeyEventsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "id": "analyticsadmin.properties.keyEvents.list",
              "path": "v1alpha/{+parent}/keyEvents",
              "flatPath": "v1alpha/properties/{propertiesId}/keyEvents",
              "parameterOrder": [
                "parent"
              ]
            }
          }
        },
        "accessBindings": {
          "methods": {
            "get": {
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The name of the access binding to retrieve. Formats: - accounts/{account}/accessBindings/{accessBinding} - properties/{property}/accessBindings/{accessBinding}",
                  "pattern": "^properties/[^/]+/accessBindings/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "description": "Gets information about an access binding.",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaAccessBinding"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users",
                "https://www.googleapis.com/auth/analytics.manage.users.readonly"
              ],
              "id": "analyticsadmin.properties.accessBindings.get",
              "flatPath": "v1alpha/properties/{propertiesId}/accessBindings/{accessBindingsId}",
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha/{+name}"
            },
            "batchDelete": {
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. The account or property that owns the access bindings. The parent of all provided values for the 'names' field in DeleteAccessBindingRequest messages must match this field. Formats: - accounts/{account} - properties/{property}",
                  "pattern": "^properties/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "description": "Deletes information about multiple users' links to an account or property.",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "id": "analyticsadmin.properties.accessBindings.batchDelete",
              "path": "v1alpha/{+parent}/accessBindings:batchDelete",
              "flatPath": "v1alpha/properties/{propertiesId}/accessBindings:batchDelete",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaBatchDeleteAccessBindingsRequest"
              }
            },
            "delete": {
              "id": "analyticsadmin.properties.accessBindings.delete",
              "path": "v1alpha/{+name}",
              "flatPath": "v1alpha/properties/{propertiesId}/accessBindings/{accessBindingsId}",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. Formats: - accounts/{account}/accessBindings/{accessBinding} - properties/{property}/accessBindings/{accessBinding}",
                  "required": true,
                  "type": "string",
                  "pattern": "^properties/[^/]+/accessBindings/[^/]+$"
                }
              },
              "description": "Deletes an access binding on an account or property.",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ]
            },
            "create": {
              "parameters": {
                "parent": {
                  "description": "Required. Formats: - accounts/{account} - properties/{property}",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^properties/[^/]+$"
                }
              },
              "description": "Creates an access binding on an account or property.",
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaAccessBinding"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "id": "analyticsadmin.properties.accessBindings.create",
              "flatPath": "v1alpha/properties/{propertiesId}/accessBindings",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaAccessBinding"
              },
              "path": "v1alpha/{+parent}/accessBindings"
            },
            "patch": {
              "httpMethod": "PATCH",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^properties/[^/]+/accessBindings/[^/]+$",
                  "location": "path",
                  "description": "Output only. Resource name of this binding. Format: accounts/{account}/accessBindings/{access_binding} or properties/{property}/accessBindings/{access_binding} Example: \"accounts/100/accessBindings/200\""
                }
              },
              "description": "Updates an access binding on an account or property.",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaAccessBinding"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "id": "analyticsadmin.properties.accessBindings.patch",
              "path": "v1alpha/{+name}",
              "flatPath": "v1alpha/properties/{propertiesId}/accessBindings/{accessBindingsId}",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaAccessBinding"
              }
            },
            "list": {
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "description": "A page token, received from a previous `ListAccessBindings` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAccessBindings` must match the call that provided the page token.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "required": true,
                  "type": "string",
                  "pattern": "^properties/[^/]+$",
                  "location": "path",
                  "description": "Required. Formats: - accounts/{account} - properties/{property}"
                },
                "pageSize": {
                  "description": "The maximum number of access bindings to return. The service may return fewer than this value. If unspecified, at most 200 access bindings will be returned. The maximum value is 500; values above 500 will be coerced to 500.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "description": "Lists all access bindings on an account or property.",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaListAccessBindingsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users",
                "https://www.googleapis.com/auth/analytics.manage.users.readonly"
              ],
              "id": "analyticsadmin.properties.accessBindings.list",
              "path": "v1alpha/{+parent}/accessBindings",
              "flatPath": "v1alpha/properties/{propertiesId}/accessBindings",
              "parameterOrder": [
                "parent"
              ]
            },
            "batchUpdate": {
              "flatPath": "v1alpha/properties/{propertiesId}/accessBindings:batchUpdate",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaBatchUpdateAccessBindingsRequest"
              },
              "path": "v1alpha/{+parent}/accessBindings:batchUpdate",
              "id": "analyticsadmin.properties.accessBindings.batchUpdate",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaBatchUpdateAccessBindingsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "pattern": "^properties/[^/]+$",
                  "location": "path",
                  "description": "Required. The account or property that owns the access bindings. The parent of all provided AccessBinding in UpdateAccessBindingRequest messages must match this field. Formats: - accounts/{account} - properties/{property}"
                }
              },
              "description": "Updates information about multiple access bindings to an account or property.",
              "httpMethod": "POST"
            },
            "batchCreate": {
              "id": "analyticsadmin.properties.accessBindings.batchCreate",
              "flatPath": "v1alpha/properties/{propertiesId}/accessBindings:batchCreate",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaBatchCreateAccessBindingsRequest"
              },
              "path": "v1alpha/{+parent}/accessBindings:batchCreate",
              "parameters": {
                "parent": {
                  "pattern": "^properties/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. The account or property that owns the access bindings. The parent field in the CreateAccessBindingRequest messages must either be empty or match this field. Formats: - accounts/{account} - properties/{property}",
                  "location": "path"
                }
              },
              "description": "Creates information about multiple access bindings to an account or property. This method is transactional. If any AccessBinding cannot be created, none of the AccessBindings will be created.",
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaBatchCreateAccessBindingsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ]
            },
            "batchGet": {
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaBatchGetAccessBindingsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users",
                "https://www.googleapis.com/auth/analytics.manage.users.readonly"
              ],
              "parameters": {
                "names": {
                  "repeated": true,
                  "description": "Required. The names of the access bindings to retrieve. A maximum of 1000 access bindings can be retrieved in a batch. Formats: - accounts/{account}/accessBindings/{accessBinding} - properties/{property}/accessBindings/{accessBinding}",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "required": true,
                  "type": "string",
                  "pattern": "^properties/[^/]+$",
                  "location": "path",
                  "description": "Required. The account or property that owns the access bindings. The parent of all provided values for the 'names' field must match this field. Formats: - accounts/{account} - properties/{property}"
                }
              },
              "description": "Gets information about multiple access bindings to an account or property.",
              "httpMethod": "GET",
              "flatPath": "v1alpha/properties/{propertiesId}/accessBindings:batchGet",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1alpha/{+parent}/accessBindings:batchGet",
              "id": "analyticsadmin.properties.accessBindings.batchGet"
            }
          }
        },
        "bigQueryLinks": {
          "methods": {
            "delete": {
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^properties/[^/]+/bigQueryLinks/[^/]+$",
                  "description": "Required. The BigQueryLink to delete. Example format: properties/1234/bigQueryLinks/5678",
                  "location": "path"
                }
              },
              "description": "Deletes a BigQueryLink on a property.",
              "httpMethod": "DELETE",
              "flatPath": "v1alpha/properties/{propertiesId}/bigQueryLinks/{bigQueryLinksId}",
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha/{+name}",
              "id": "analyticsadmin.properties.bigQueryLinks.delete"
            },
            "get": {
              "path": "v1alpha/{+name}",
              "flatPath": "v1alpha/properties/{propertiesId}/bigQueryLinks/{bigQueryLinksId}",
              "parameterOrder": [
                "name"
              ],
              "id": "analyticsadmin.properties.bigQueryLinks.get",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaBigQueryLink"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "pattern": "^properties/[^/]+/bigQueryLinks/[^/]+$",
                  "required": true,
[...]
