{
  "canonicalName": "Android Publisher",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/androidpublisher": {
          "description": "View and manage your Google Play Developer account"
        }
      }
    }
  },
  "title": "Google Play Android Developer API",
  "mtlsRootUrl": "https://androidpublisher.mtls.googleapis.com/",
  "description": "Lets Android application developers access their Google Play accounts. At a high level, the expected workflow is to \"insert\" an Edit, make changes as necessary, and then \"commit\" it. ",
  "servicePath": "",
  "rootUrl": "https://androidpublisher.googleapis.com/",
  "baseUrl": "https://androidpublisher.googleapis.com/",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "basePath": "",
  "batchPath": "batch",
  "documentationLink": "https://developers.google.com/android-publisher",
  "resources": {
    "internalappsharingartifacts": {
      "methods": {
        "uploadapk": {
          "parameters": {
            "packageName": {
              "type": "string",
              "description": "Package name of the app.",
              "required": true,
              "location": "path"
            }
          },
          "parameterOrder": [
            "packageName"
          ],
          "path": "androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/apk",
          "description": "Uploads an APK to internal app sharing. If you are using the Google API client libraries, please increase the timeout of the http request before calling this endpoint (a timeout of 2 minutes is recommended). See [Timeouts and Errors](https://developers.google.com/api-client-library/java/google-api-java-client/errors) for an example in java.",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "httpMethod": "POST",
          "supportsMediaUpload": true,
          "response": {
            "$ref": "InternalAppSharingArtifact"
          },
          "id": "androidpublisher.internalappsharingartifacts.uploadapk",
          "mediaUpload": {
            "maxSize": "1073741824",
            "protocols": {
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/apk"
              },
              "simple": {
                "multipart": true,
                "path": "/upload/androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/apk"
              }
            },
            "accept": [
              "application/octet-stream",
              "application/vnd.android.package-archive"
            ]
          },
          "flatPath": "androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/apk"
        },
        "uploadbundle": {
          "id": "androidpublisher.internalappsharingartifacts.uploadbundle",
          "parameters": {
            "packageName": {
              "type": "string",
              "location": "path",
              "description": "Package name of the app.",
              "required": true
            }
          },
          "flatPath": "androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/bundle",
          "supportsMediaUpload": true,
          "path": "androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/bundle",
          "httpMethod": "POST",
          "response": {
            "$ref": "InternalAppSharingArtifact"
          },
          "mediaUpload": {
            "maxSize": "10737418240",
            "protocols": {
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/bundle"
              },
              "simple": {
                "path": "/upload/androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/bundle",
                "multipart": true
              }
            },
            "accept": [
              "application/octet-stream"
            ]
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameterOrder": [
            "packageName"
          ],
          "description": "Uploads an app bundle to internal app sharing. If you are using the Google API client libraries, please increase the timeout of the http request before calling this endpoint (a timeout of 2 minutes is recommended). See [Timeouts and Errors](https://developers.google.com/api-client-library/java/google-api-java-client/errors) for an example in java."
        }
      }
    },
    "purchases": {
      "resources": {
        "products": {
          "methods": {
            "acknowledge": {
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/products/{productId}/tokens/{token}:acknowledge",
              "httpMethod": "POST",
              "parameters": {
                "token": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The token provided to the user's device when the inapp product was purchased."
                },
                "packageName": {
                  "required": true,
                  "location": "path",
                  "description": "The package name of the application the inapp product was sold in (for example, 'com.some.thing').",
                  "type": "string"
                },
                "productId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The inapp product SKU (for example, 'com.some.thing.inapp1')."
                }
              },
              "id": "androidpublisher.purchases.products.acknowledge",
              "request": {
                "$ref": "ProductPurchasesAcknowledgeRequest"
              },
              "parameterOrder": [
                "packageName",
                "productId",
                "token"
              ],
              "description": "Acknowledges a purchase of an inapp item.",
              "path": "androidpublisher/v3/applications/{packageName}/purchases/products/{productId}/tokens/{token}:acknowledge"
            },
            "get": {
              "parameters": {
                "token": {
                  "type": "string",
                  "description": "The token provided to the user's device when the inapp product was purchased.",
                  "required": true,
                  "location": "path"
                },
                "packageName": {
                  "description": "The package name of the application the inapp product was sold in (for example, 'com.some.thing').",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "productId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "The inapp product SKU (for example, 'com.some.thing.inapp1')."
                }
              },
              "httpMethod": "GET",
              "description": "Checks the purchase and consumption status of an inapp item.",
              "path": "androidpublisher/v3/applications/{packageName}/purchases/products/{productId}/tokens/{token}",
              "response": {
                "$ref": "ProductPurchase"
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/products/{productId}/tokens/{token}",
              "id": "androidpublisher.purchases.products.get",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameterOrder": [
                "packageName",
                "productId",
                "token"
              ]
            },
            "consume": {
              "parameters": {
                "productId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The inapp product SKU (for example, 'com.some.thing.inapp1')."
                },
                "token": {
                  "description": "The token provided to the user's device when the inapp product was purchased.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "packageName": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The package name of the application the inapp product was sold in (for example, 'com.some.thing')."
                }
              },
              "id": "androidpublisher.purchases.products.consume",
              "parameterOrder": [
                "packageName",
                "productId",
                "token"
              ],
              "description": "Consumes a purchase for an inapp item.",
              "path": "androidpublisher/v3/applications/{packageName}/purchases/products/{productId}/tokens/{token}:consume",
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/products/{productId}/tokens/{token}:consume",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            }
          }
        },
        "voidedpurchases": {
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/voidedpurchases",
              "description": "Lists the purchases that were canceled, refunded or charged-back.",
              "id": "androidpublisher.purchases.voidedpurchases.list",
              "response": {
                "$ref": "VoidedPurchasesListResponse"
              },
              "parameterOrder": [
                "packageName"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/purchases/voidedpurchases",
              "httpMethod": "GET",
              "parameters": {
                "startTime": {
                  "type": "string",
                  "format": "int64",
                  "description": "The time, in milliseconds since the Epoch, of the oldest voided purchase that you want to see in the response. The value of this parameter cannot be older than 30 days and is ignored if a pagination token is set. Default value is current time minus 30 days. Note: This filter is applied on the time at which the record is seen as voided by our systems and not the actual voided time returned in the response.",
                  "location": "query"
                },
                "packageName": {
                  "description": "The package name of the application for which voided purchases need to be returned (for example, 'com.some.thing').",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "type": {
                  "format": "int32",
                  "type": "integer",
                  "location": "query",
                  "description": "The type of voided purchases that you want to see in the response. Possible values are: 0. Only voided in-app product purchases will be returned in the response. This is the default value. 1. Both voided in-app purchases and voided subscription purchases will be returned in the response. Note: Before requesting to receive voided subscription purchases, you must switch to use orderId in the response which uniquely identifies one-time purchases and subscriptions. Otherwise, you will receive multiple subscription orders with the same PurchaseToken, because subscription renewal orders share the same PurchaseToken."
                },
                "maxResults": {
                  "location": "query",
                  "format": "uint32",
                  "type": "integer",
                  "description": "Defines how many results the list operation should return. The default number depends on the resource collection."
                },
                "endTime": {
                  "format": "int64",
                  "location": "query",
                  "type": "string",
                  "description": "The time, in milliseconds since the Epoch, of the newest voided purchase that you want to see in the response. The value of this parameter cannot be greater than the current time and is ignored if a pagination token is set. Default value is current time. Note: This filter is applied on the time at which the record is seen as voided by our systems and not the actual voided time returned in the response."
                },
                "includeQuantityBasedPartialRefund": {
                  "location": "query",
                  "type": "boolean",
                  "description": "Optional. Whether to include voided purchases of quantity-based partial refunds, which are applicable only to multi-quantity purchases. If true, additional voided purchases may be returned with voidedQuantity that indicates the refund quantity of a quantity-based partial refund. The default value is false."
                },
                "token": {
                  "type": "string",
                  "location": "query",
                  "description": "Defines the token of the page to return, usually taken from TokenPagination. This can only be used if token paging is enabled."
                },
                "startIndex": {
                  "format": "uint32",
                  "type": "integer",
                  "location": "query",
                  "description": "Defines the index of the first element to return. This can only be used if indexed paging is enabled."
                }
              }
            }
          }
        },
        "subscriptions": {
          "methods": {
            "cancel": {
              "parameterOrder": [
                "packageName",
                "subscriptionId",
                "token"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "deprecated": true,
              "parameters": {
                "token": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "The token provided to the user's device when the subscription was purchased."
                },
                "subscriptionId": {
                  "description": "Note: Since May 21, 2025, subscription_id is not required, and not recommended for subscription with add-ons. The purchased subscription ID (for example, 'monthly001').",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "packageName": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The package name of the application for which this subscription was purchased (for example, 'com.some.thing')."
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:cancel",
              "id": "androidpublisher.purchases.subscriptions.cancel",
              "description": "Deprecated: Use purchases.subscriptionsv2.cancel instead. Cancels a user's subscription purchase. The subscription remains valid until its expiration time. Newer version is available at purchases.subscriptionsv2.cancel for better client library support.",
              "httpMethod": "POST",
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:cancel"
            },
            "defer": {
              "request": {
                "$ref": "SubscriptionPurchasesDeferRequest"
              },
              "deprecated": true,
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:defer",
              "response": {
                "$ref": "SubscriptionPurchasesDeferResponse"
              },
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:defer",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "httpMethod": "POST",
              "description": "Deprecated: Use purchases.subscriptionsv2.defer instead. Defers a user's subscription purchase until a specified future expiration time.",
              "parameterOrder": [
                "packageName",
                "subscriptionId",
                "token"
              ],
              "id": "androidpublisher.purchases.subscriptions.defer",
              "parameters": {
                "subscriptionId": {
                  "description": "The purchased subscription ID (for example, 'monthly001').",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "packageName": {
                  "description": "The package name of the application for which this subscription was purchased (for example, 'com.some.thing').",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "token": {
                  "description": "The token provided to the user's device when the subscription was purchased.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              }
            },
            "acknowledge": {
              "parameters": {
                "subscriptionId": {
                  "description": "Note: Since May 21, 2025, subscription_id is not required, and not recommended for subscription with add-ons. The purchased subscription ID (for example, 'monthly001').",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "packageName": {
                  "description": "The package name of the application for which this subscription was purchased (for example, 'com.some.thing').",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "token": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The token provided to the user's device when the subscription was purchased."
                }
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:acknowledge",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "httpMethod": "POST",
              "id": "androidpublisher.purchases.subscriptions.acknowledge",
              "parameterOrder": [
                "packageName",
                "subscriptionId",
                "token"
              ],
              "request": {
                "$ref": "SubscriptionPurchasesAcknowledgeRequest"
              },
              "description": "Acknowledges a subscription purchase.",
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:acknowledge"
            }
          }
        },
        "subscriptionsv2": {
          "methods": {
            "revoke": {
              "parameters": {
                "packageName": {
                  "type": "string",
                  "description": "Required. The package of the application for which this subscription was purchased (for example, 'com.some.thing').",
                  "location": "path",
                  "required": true
                },
                "token": {
                  "location": "path",
                  "description": "Required. The token provided to the user's device when the subscription was purchased.",
                  "type": "string",
                  "required": true
                }
              },
              "request": {
                "$ref": "RevokeSubscriptionPurchaseRequest"
              },
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptionsv2/tokens/{token}:revoke",
              "id": "androidpublisher.purchases.subscriptionsv2.revoke",
              "httpMethod": "POST",
              "parameterOrder": [
                "packageName",
                "token"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "description": "Revoke a subscription purchase for the user.",
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptionsv2/tokens/{token}:revoke",
              "response": {
                "$ref": "RevokeSubscriptionPurchaseResponse"
              }
            },
            "get": {
              "httpMethod": "GET",
              "description": "Get metadata about a subscription",
              "parameters": {
                "packageName": {
                  "required": true,
                  "location": "path",
                  "description": "The package of the application for which this subscription was purchased (for example, 'com.some.thing').",
                  "type": "string"
                },
                "token": {
                  "type": "string",
                  "description": "Required. The token provided to the user's device when the subscription was purchased.",
                  "required": true,
                  "location": "path"
                }
              },
              "response": {
                "$ref": "SubscriptionPurchaseV2"
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptionsv2/tokens/{token}",
              "id": "androidpublisher.purchases.subscriptionsv2.get",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameterOrder": [
                "packageName",
                "token"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptionsv2/tokens/{token}"
            },
            "cancel": {
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptionsv2/tokens/{token}:cancel",
              "parameters": {
                "packageName": {
                  "required": true,
                  "type": "string",
                  "description": "Required. The package of the application for which this subscription was purchased (for example, 'com.some.thing').",
                  "location": "path"
                },
                "token": {
                  "description": "Required. The token provided to the user's device when the subscription was purchased.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "parameterOrder": [
                "packageName",
                "token"
              ],
              "id": "androidpublisher.purchases.subscriptionsv2.cancel",
              "response": {
                "$ref": "CancelSubscriptionPurchaseResponse"
              },
              "httpMethod": "POST",
              "request": {
                "$ref": "CancelSubscriptionPurchaseRequest"
              },
              "description": "Cancel a subscription purchase for the user.",
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptionsv2/tokens/{token}:cancel",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "defer": {
              "id": "androidpublisher.purchases.subscriptionsv2.defer",
              "description": "Defers the renewal of a subscription.",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptionsv2/tokens/{token}:defer",
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptionsv2/tokens/{token}:defer",
              "response": {
                "$ref": "DeferSubscriptionPurchaseResponse"
              },
              "parameterOrder": [
                "packageName",
                "token"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "DeferSubscriptionPurchaseRequest"
              },
              "parameters": {
                "packageName": {
                  "description": "Required. The package of the application for which this subscription was purchased (for example, 'com.some.thing').",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "token": {
                  "description": "Required. The token provided to the user's device when the subscription was purchased.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              }
            }
          }
        },
        "productsv2": {
          "methods": {
            "getproductpurchasev2": {
              "httpMethod": "GET",
              "parameters": {
                "packageName": {
                  "description": "The package name of the application the inapp product was sold in (for example, 'com.some.thing').",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "token": {
                  "description": "The token provided to the user's device when the inapp product was purchased.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "description": "Checks the purchase and consumption status of an inapp item.",
              "response": {
                "$ref": "ProductPurchaseV2"
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/productsv2/tokens/{token}",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/purchases/productsv2/tokens/{token}",
              "id": "androidpublisher.purchases.productsv2.getproductpurchasev2",
              "parameterOrder": [
                "packageName",
                "token"
              ]
            }
          }
        }
      }
    },
    "appstoreappsreview": {
      "methods": {
        "createappstorehostedapp": {
          "request": {
            "$ref": "CreateAppStoreHostedAppRequest"
          },
          "id": "androidpublisher.appstoreappsreview.createappstorehostedapp",
          "parameterOrder": [
            "appStorePackageName"
          ],
          "flatPath": "androidpublisher/v3/appstore/{appStorePackageName}/apps:create",
          "response": {
            "$ref": "CreateAppStoreHostedAppResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "path": "androidpublisher/v3/appstore/{appStorePackageName}/apps:create",
          "parameters": {
            "appStorePackageName": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Required. Package name of the third-party app store."
            }
          },
          "httpMethod": "POST",
          "description": "Creates an app store hosted app. This must be called before any other RPCs for this hosted app."
        },
        "uploadappstoreapppolicydeclarationfile": {
          "supportsMediaUpload": true,
          "request": {
            "$ref": "UploadAppStoreAppPolicyDeclarationFileRequest"
          },
          "parameterOrder": [
            "appStorePackageName",
            "packageName"
          ],
          "parameters": {
            "appStorePackageName": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Required. Package name of the third-party app store."
            },
            "packageName": {
              "type": "string",
              "description": "Required. Package name of the app.",
              "required": true,
              "location": "path"
            }
          },
          "id": "androidpublisher.appstoreappsreview.uploadappstoreapppolicydeclarationfile",
          "mediaUpload": {
            "maxSize": "10485760",
            "protocols": {
              "simple": {
                "path": "/upload/androidpublisher/v3/appstore/{appStorePackageName}/apps/{packageName}/policyDeclarationFiles:upload",
                "multipart": true
              },
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/androidpublisher/v3/appstore/{appStorePackageName}/apps/{packageName}/policyDeclarationFiles:upload"
              }
            },
            "accept": [
              "application/pdf",
              "image/jpeg",
              "image/png"
            ]
          },
          "flatPath": "androidpublisher/v3/appstore/{appStorePackageName}/apps/{packageName}/policyDeclarationFiles:upload",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "description": "Upload a policy declaration file for the hosted app. Returns an ID to track the file.",
          "response": {
            "$ref": "UploadAppStoreAppPolicyDeclarationFileResponse"
          },
          "path": "androidpublisher/v3/appstore/{appStorePackageName}/apps/{packageName}/policyDeclarationFiles:upload"
        },
        "updateappstorehostedapp": {
          "id": "androidpublisher.appstoreappsreview.updateappstorehostedapp",
          "httpMethod": "POST",
          "path": "androidpublisher/v3/appstore/{appStorePackageName}/apps:update",
          "description": "Updates details for an app hosted on an app store. Use this to provide details for a new app, or to update details for an existing app. The update will be sent for review immediately after creation.",
          "parameters": {
            "appStorePackageName": {
              "type": "string",
              "location": "path",
              "description": "Required. Package name of the third-party app store.",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameterOrder": [
            "appStorePackageName"
          ],
          "request": {
            "$ref": "UpdateAppStoreHostedAppRequest"
          },
          "response": {
            "$ref": "UpdateAppStoreHostedAppResponse"
          },
          "flatPath": "androidpublisher/v3/appstore/{appStorePackageName}/apps:update"
        },
        "uploadapk": {
          "id": "androidpublisher.appstoreappsreview.uploadapk",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameterOrder": [
            "appStorePackageName",
            "packageName"
          ],
          "supportsMediaUpload": true,
          "description": "Upload an APK file for the hosted app. Returns an ID to track this APK.",
          "path": "androidpublisher/v3/appstore/{appStorePackageName}/apps/{packageName}/apks:upload",
          "httpMethod": "POST",
          "mediaUpload": {
            "maxSize": "10737418240",
            "accept": [
              "application/octet-stream",
              "application/vnd.android.package-archive"
            ],
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/androidpublisher/v3/appstore/{appStorePackageName}/apps/{packageName}/apks:upload"
              },
              "resumable": {
                "path": "/resumable/upload/androidpublisher/v3/appstore/{appStorePackageName}/apps/{packageName}/apks:upload",
                "multipart": true
              }
            }
          },
          "response": {
            "$ref": "UploadApkResponse"
          },
          "request": {
            "$ref": "UploadApkRequest"
          },
          "parameters": {
            "packageName": {
              "type": "string",
              "description": "Required. Package name of the app.",
              "required": true,
              "location": "path"
            },
            "appStorePackageName": {
              "type": "string",
              "description": "Required. Package name of the third-party app store.",
              "required": true,
              "location": "path"
            }
          },
          "flatPath": "androidpublisher/v3/appstore/{appStorePackageName}/apps/{packageName}/apks:upload"
        },
        "updateappstorehostedapppublishstatus": {
          "httpMethod": "POST",
          "parameters": {
            "appStorePackageName": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Required. Package name of the third-party app store."
            },
            "packageName": {
              "description": "Required. Package name of the app.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "request": {
            "$ref": "UpdateAppStoreHostedAppPublishStatusRequest"
          },
          "path": "androidpublisher/v3/appstore/{appStorePackageName}/apps/{packageName}:updateAppStoreHostedAppPublishStatus",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameterOrder": [
            "appStorePackageName",
            "packageName"
          ],
          "description": "Updates the publish status of an app store hosted app. The default state after calling UpdateAppStoreHostedApp is PUBLISHED. It is not necessary to call this RPC explicitly to set an app to PUBLISHED.",
          "response": {
            "$ref": "UpdateAppStoreHostedAppPublishStatusResponse"
          },
          "id": "androidpublisher.appstoreappsreview.updateappstorehostedapppublishstatus",
          "flatPath": "androidpublisher/v3/appstore/{appStorePackageName}/apps/{packageName}:updateAppStoreHostedAppPublishStatus"
        },
        "uploadimage": {
          "flatPath": "androidpublisher/v3/appstore/{appStorePackageName}/apps/{packageName}/images:upload",
          "httpMethod": "POST",
          "response": {
            "$ref": "UploadImageResponse"
          },
          "request": {
            "$ref": "UploadImageRequest"
          },
          "parameterOrder": [
            "appStorePackageName",
            "packageName"
          ],
          "parameters": {
            "appStorePackageName": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Required. Package name of the third-party app store."
            },
            "packageName": {
              "type": "string",
              "required": true,
              "description": "Required. Package name of the app.",
              "location": "path"
            }
          },
          "path": "androidpublisher/v3/appstore/{appStorePackageName}/apps/{packageName}/images:upload",
          "description": "Upload a screenshot or app icon for the hosted app. Returns an ID to track the image.",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "supportsMediaUpload": true,
          "mediaUpload": {
            "maxSize": "15728640",
            "accept": [
              "image/*"
            ],
            "protocols": {
              "simple": {
                "path": "/upload/androidpublisher/v3/appstore/{appStorePackageName}/apps/{packageName}/images:upload",
                "multipart": true
              },
              "resumable": {
                "path": "/resumable/upload/androidpublisher/v3/appstore/{appStorePackageName}/apps/{packageName}/images:upload",
                "multipart": true
              }
            }
          },
          "id": "androidpublisher.appstoreappsreview.uploadimage"
        }
      }
    },
    "inappproducts": {
      "methods": {
        "batchDelete": {
          "parameters": {
            "packageName": {
              "required": true,
              "description": "Package name of the app.",
              "type": "string",
              "location": "path"
            }
          },
          "id": "androidpublisher.inappproducts.batchDelete",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts:batchDelete",
          "parameterOrder": [
            "packageName"
          ],
          "httpMethod": "POST",
          "description": "Deletes in-app products (managed products or subscriptions). Set the latencyTolerance field on nested requests to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT to achieve maximum update throughput. This method should not be used to delete subscriptions. See [this article](https://android-developers.googleblog.com/2023/06/changes-to-google-play-developer-api-june-2023.html) for more information.",
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts:batchDelete",
          "request": {
            "$ref": "InappproductsBatchDeleteRequest"
          }
        },
        "update": {
          "description": "Updates an in-app product (a managed product or a subscription). This method should no longer be used to update subscriptions. See [this article](https://android-developers.googleblog.com/2023/06/changes-to-google-play-developer-api-june-2023.html) for more information.",
          "id": "androidpublisher.inappproducts.update",
          "response": {
            "$ref": "InAppProduct"
          },
          "parameterOrder": [
            "packageName",
            "sku"
          ],
          "request": {
            "$ref": "InAppProduct"
          },
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "parameters": {
            "latencyTolerance": {
              "description": "Optional. The latency tolerance for the propagation of this product update. Defaults to latency-sensitive.",
              "location": "query",
              "enumDescriptions": [
                "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
                "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
                "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
              ],
              "enum": [
                "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
                "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
                "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
              ],
              "type": "string"
            },
            "autoConvertMissingPrices": {
              "description": "If true the prices for all regions targeted by the parent app that don't have a price specified for this in-app product will be auto converted to the target currency based on the default price. Defaults to false.",
              "type": "boolean",
              "location": "query"
            },
            "packageName": {
              "location": "path",
              "type": "string",
              "description": "Package name of the app.",
              "required": true
            },
            "allowMissing": {
              "description": "If set to true, and the in-app product with the given package_name and sku doesn't exist, the in-app product will be created.",
              "type": "boolean",
              "location": "query"
            },
            "sku": {
              "type": "string",
              "required": true,
              "description": "Unique identifier for the in-app product.",
              "location": "path"
            }
          }
        },
        "batchUpdate": {
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts:batchUpdate",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "id": "androidpublisher.inappproducts.batchUpdate",
          "httpMethod": "POST",
          "request": {
            "$ref": "InappproductsBatchUpdateRequest"
          },
          "parameterOrder": [
            "packageName"
          ],
          "description": "Updates or inserts one or more in-app products (managed products or subscriptions). Set the latencyTolerance field on nested requests to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT to achieve maximum update throughput. This method should no longer be used to update subscriptions. See [this article](https://android-developers.googleblog.com/2023/06/changes-to-google-play-developer-api-june-2023.html) for more information.",
          "response": {
            "$ref": "InappproductsBatchUpdateResponse"
          },
          "parameters": {
            "packageName": {
              "required": true,
              "description": "Package name of the app.",
              "location": "path",
              "type": "string"
            }
          },
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts:batchUpdate"
        },
        "delete": {
          "id": "androidpublisher.inappproducts.delete",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "description": "Deletes an in-app product (a managed product or a subscription). This method should no longer be used to delete subscriptions. See [this article](https://android-developers.googleblog.com/2023/06/changes-to-google-play-developer-api-june-2023.html) for more information.",
          "parameters": {
            "packageName": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Package name of the app."
            },
            "latencyTolerance": {
              "enum": [
                "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
                "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
                "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
              ],
              "type": "string",
              "description": "Optional. The latency tolerance for the propagation of this product update. Defaults to latency-sensitive.",
              "enumDescriptions": [
                "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
                "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
                "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
              ],
              "location": "query"
            },
            "sku": {
              "required": true,
              "location": "path",
              "description": "Unique identifier for the in-app product.",
              "type": "string"
            }
          },
          "parameterOrder": [
            "packageName",
            "sku"
          ],
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "httpMethod": "DELETE"
        },
        "insert": {
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts",
          "request": {
            "$ref": "InAppProduct"
          },
          "httpMethod": "POST",
          "description": "Creates an in-app product (a managed product or a subscription). This method should no longer be used to create subscriptions. See [this article](https://android-developers.googleblog.com/2023/06/changes-to-google-play-developer-api-june-2023.html) for more information.",
          "id": "androidpublisher.inappproducts.insert",
          "parameters": {
            "autoConvertMissingPrices": {
              "description": "If true the prices for all regions targeted by the parent app that don't have a price specified for this in-app product will be auto converted to the target currency based on the default price. Defaults to false.",
              "location": "query",
              "type": "boolean"
            },
            "packageName": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Package name of the app."
            }
          },
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts",
          "response": {
            "$ref": "InAppProduct"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameterOrder": [
            "packageName"
          ]
        },
        "batchGet": {
          "description": "Reads multiple in-app products, which can be managed products or subscriptions. This method should not be used to retrieve subscriptions. See [this article](https://android-developers.googleblog.com/2023/06/changes-to-google-play-developer-api-june-2023.html) for more information.",
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts:batchGet",
          "response": {
            "$ref": "InappproductsBatchGetResponse"
          },
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts:batchGet",
          "parameters": {
            "packageName": {
              "description": "Package name of the app.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "sku": {
              "location": "query",
              "repeated": true,
              "type": "string",
              "description": "Unique identifier for the in-app products."
            }
          },
          "id": "androidpublisher.inappproducts.batchGet",
          "parameterOrder": [
            "packageName"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        },
        "list": {
          "parameterOrder": [
            "packageName"
          ],
          "id": "androidpublisher.inappproducts.list",
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts",
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts",
          "parameters": {
            "startIndex": {
              "type": "integer",
              "description": "Deprecated and ignored. Set the `token` parameter to retrieve the next page.",
              "format": "uint32",
              "deprecated": true,
              "location": "query"
            },
            "packageName": {
              "type": "string",
              "description": "Package name of the app.",
              "location": "path",
              "required": true
            },
            "token": {
              "location": "query",
              "description": "Pagination token. If empty, list starts at the first product.",
              "type": "string"
            },
            "maxResults": {
              "description": "Deprecated and ignored. The page size is determined by the server.",
              "deprecated": true,
              "type": "integer",
              "location": "query",
              "format": "uint32"
            }
          },
          "description": "Lists all in-app products - both managed products and subscriptions. If an app has a large number of in-app products, the response may be paginated. In this case the response field `tokenPagination.nextPageToken` will be set and the caller should provide its value as a `token` request parameter to retrieve the next page. This method should no longer be used to retrieve subscriptions. See [this article](https://android-developers.googleblog.com/2023/06/changes-to-google-play-developer-api-june-2023.html) for more information.",
          "response": {
            "$ref": "InappproductsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "httpMethod": "GET"
        },
        "patch": {
          "parameters": {
            "packageName": {
              "type": "string",
              "description": "Package name of the app.",
              "required": true,
              "location": "path"
            },
            "autoConvertMissingPrices": {
              "type": "boolean",
              "location": "query",
              "description": "If true the prices for all regions targeted by the parent app that don't have a price specified for this in-app product will be auto converted to the target currency based on the default price. Defaults to false."
            },
            "latencyTolerance": {
              "type": "string",
              "description": "Optional. The latency tolerance for the propagation of this product update. Defaults to latency-sensitive.",
              "location": "query",
              "enumDescriptions": [
                "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
                "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
                "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
              ],
              "enum": [
                "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
                "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
                "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
              ]
            },
            "sku": {
              "description": "Unique identifier for the in-app product.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "httpMethod": "PATCH",
          "request": {
            "$ref": "InAppProduct"
          },
          "response": {
            "$ref": "InAppProduct"
          },
          "description": "Patches an in-app product (a managed product or a subscription). This method should no longer be used to update subscriptions. See [this article](https://android-developers.googleblog.com/2023/06/changes-to-google-play-developer-api-june-2023.html) for more information.",
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "parameterOrder": [
            "packageName",
            "sku"
          ],
          "id": "androidpublisher.inappproducts.patch",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        },
        "get": {
          "id": "androidpublisher.inappproducts.get",
          "description": "Gets an in-app product, which can be a managed product or a subscription. This method should no longer be used to retrieve subscriptions. See [this article](https://android-developers.googleblog.com/2023/06/changes-to-google-play-developer-api-june-2023.html) for more information.",
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "response": {
            "$ref": "InAppProduct"
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "packageName",
            "sku"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameters": {
            "packageName": {
              "required": true,
              "description": "Package name of the app.",
              "type": "string",
              "location": "path"
            },
            "sku": {
              "type": "string",
              "required": true,
              "description": "Unique identifier for the in-app product.",
              "location": "path"
            }
          }
        }
      }
    },
    "grants": {
      "methods": {
        "delete": {
          "path": "androidpublisher/v3/{+name}",
          "httpMethod": "DELETE",
          "flatPath": "androidpublisher/v3/developers/{developersId}/users/{usersId}/grants/{grantsId}",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "pattern": "^developers/[^/]+/users/[^/]+/grants/[^/]+$",
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. The name of the grant to delete. Format: developers/{developer}/users/{email}/grants/{package_name}"
            }
          },
          "description": "Removes all access for the user to the given package or developer account.",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "id": "androidpublisher.grants.delete"
        },
        "create": {
          "parameters": {
            "parent": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. The user which needs permission. Format: developers/{developer}/users/{user}",
              "pattern": "^developers/[^/]+/users/[^/]+$"
            }
          },
          "request": {
            "$ref": "Grant"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "response": {
            "$ref": "Grant"
          },
          "flatPath": "androidpublisher/v3/developers/{developersId}/users/{usersId}/grants",
          "httpMethod": "POST",
          "path": "androidpublisher/v3/{+parent}/grants",
          "id": "androidpublisher.grants.create",
          "parameterOrder": [
            "parent"
          ],
          "description": "Grant access for a user to the given package."
        },
        "patch": {
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "description": "Updates access for the user to the given package.",
          "response": {
            "$ref": "Grant"
          },
          "parameters": {
            "name": {
              "required": true,
              "pattern": "^developers/[^/]+/users/[^/]+/grants/[^/]+$",
              "location": "path",
              "description": "Required. Resource name for this grant, following the pattern \"developers/{developer}/users/{email}/grants/{package_name}\". If this grant is for a draft app, the app ID will be used in this resource name instead of the package name.",
              "type": "string"
            },
            "updateMask": {
              "location": "query",
              "description": "Optional. The list of fields to be updated.",
              "format": "google-fieldmask",
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "path": "androidpublisher/v3/{+name}",
          "id": "androidpublisher.grants.patch",
          "request": {
            "$ref": "Grant"
          },
          "flatPath": "androidpublisher/v3/developers/{developersId}/users/{usersId}/grants/{grantsId}"
        }
      }
    },
    "applications": {
      "methods": {
        "dataSafety": {
          "parameters": {
            "packageName": {
              "description": "Required. Package name of the app.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "description": "Writes the Safety Labels declaration of an app.",
          "response": {
            "$ref": "SafetyLabelsUpdateResponse"
          },
          "parameterOrder": [
            "packageName"
          ],
          "id": "androidpublisher.applications.dataSafety",
          "flatPath": "androidpublisher/v3/applications/{packageName}/dataSafety",
          "httpMethod": "POST",
          "request": {
            "$ref": "SafetyLabelsUpdateRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "path": "androidpublisher/v3/applications/{packageName}/dataSafety"
        }
      },
      "resources": {
        "deviceTierConfigs": {
          "methods": {
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/deviceTierConfigs/{deviceTierConfigId}",
              "id": "androidpublisher.applications.deviceTierConfigs.get",
              "response": {
                "$ref": "DeviceTierConfig"
              },
              "httpMethod": "GET",
              "description": "Returns a particular device tier config.",
              "parameterOrder": [
                "packageName",
                "deviceTierConfigId"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/deviceTierConfigs/{deviceTierConfigId}",
              "parameters": {
                "deviceTierConfigId": {
                  "description": "Required. Id of an existing device tier config.",
                  "format": "int64",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "packageName": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Package name of the app."
                }
              }
            },
            "create": {
              "description": "Creates a new device tier config for an app.",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/deviceTierConfigs",
              "parameterOrder": [
                "packageName"
              ],
              "parameters": {
                "packageName": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Package name of the app."
                },
                "allowUnknownDevices": {
                  "location": "query",
                  "type": "boolean",
                  "description": "Whether the service should accept device IDs that are unknown to Play's device catalog."
                }
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/deviceTierConfigs",
              "response": {
                "$ref": "DeviceTierConfig"
              },
              "id": "androidpublisher.applications.deviceTierConfigs.create",
              "request": {
                "$ref": "DeviceTierConfig"
              }
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "id": "androidpublisher.applications.deviceTierConfigs.list",
              "path": "androidpublisher/v3/applications/{packageName}/deviceTierConfigs",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListDeviceTierConfigsResponse"
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/deviceTierConfigs",
              "description": "Returns created device tier configs, ordered by descending creation time.",
              "parameters": {
                "packageName": {
                  "type": "string",
                  "description": "Package name of the app.",
                  "location": "path",
                  "required": true
                },
                "pageSize": {
                  "description": "The maximum number of device tier configs to return. The service may return fewer than this value. If unspecified, at most 10 device tier configs will be returned. The maximum value for this field is 100; values above 100 will be coerced to 100. Device tier configs will be ordered by descending creation time.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "A page token, received from a previous `ListDeviceTierConfigs` call. Provide this to retrieve the subsequent page.",
                  "type": "string",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "packageName"
              ]
            }
          }
        },
        "tracks": {
          "resources": {
            "releases": {
              "methods": {
                "list": {
                  "response": {
                    "$ref": "ListReleaseSummariesResponse"
                  },
                  "flatPath": "androidpublisher/v3/applications/{applicationsId}/tracks/{tracksId}/releases",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "pattern": "^applications/[^/]+/tracks/[^/]+$",
                      "type": "string",
                      "description": "Required. The parent track, which owns this collection of releases. Format: applications/{package_name}/tracks/{track}"
                    }
                  },
                  "path": "androidpublisher/v3/{+parent}/releases",
                  "id": "androidpublisher.applications.tracks.releases.list",
                  "description": "Returns the list of all releases for a given track. This excludes any releases that are obsolete.",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/androidpublisher"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "externaltransactions": {
      "methods": {
        "createexternaltransaction": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameters": {
            "parent": {
              "pattern": "^applications/[^/]+$",
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. The parent resource where this external transaction will be created. Format: applications/{package_name}"
            },
            "externalTransactionId": {
              "description": "Required. The id to use for the external transaction. Must be unique across all other transactions for the app. This value should be 1-63 characters and valid characters are /a-zA-Z0-9_-/. Do not use this field to store any Personally Identifiable Information (PII) such as emails. Attempting to store PII in this field may result in requests being blocked.",
              "type": "string",
              "location": "query"
            }
          },
          "id": "androidpublisher.externaltransactions.createexternaltransaction",
          "httpMethod": "POST",
          "response": {
            "$ref": "ExternalTransaction"
          },
          "path": "androidpublisher/v3/{+parent}/externalTransactions",
          "flatPath": "androidpublisher/v3/applications/{applicationsId}/externalTransactions",
          "parameterOrder": [
            "parent"
          ],
          "request": {
            "$ref": "ExternalTransaction"
          },
          "description": "Creates a new external transaction."
        },
        "refundexternaltransaction": {
          "request": {
            "$ref": "RefundExternalTransactionRequest"
          },
          "path": "androidpublisher/v3/{+name}:refund",
          "flatPath": "androidpublisher/v3/applications/{applicationsId}/externalTransactions/{externalTransactionsId}:refund",
          "parameters": {
            "name": {
              "pattern": "^applications/[^/]+/externalTransactions/[^/]+$",
              "description": "Required. The name of the external transaction that will be refunded. Format: applications/{package_name}/externalTransactions/{external_transaction}",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "ExternalTransaction"
          },
          "httpMethod": "POST",
          "id": "androidpublisher.externaltransactions.refundexternaltransaction",
          "description": "Refunds or partially refunds an existing external transaction.",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        },
        "getexternaltransaction": {
          "parameterOrder": [
            "name"
          ],
          "id": "androidpublisher.externaltransactions.getexternaltransaction",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "response": {
            "$ref": "ExternalTransaction"
          },
          "flatPath": "androidpublisher/v3/applications/{applicationsId}/externalTransactions/{externalTransactionsId}",
          "httpMethod": "GET",
          "description": "Gets an existing external transaction.",
          "path": "androidpublisher/v3/{+name}",
          "parameters": {
            "name": {
              "type": "string",
              "required": true,
              "description": "Required. The name of the external transaction to retrieve. Format: applications/{package_name}/externalTransactions/{external_transaction}",
              "location": "path",
              "pattern": "^applications/[^/]+/externalTransactions/[^/]+$"
            }
          }
        }
      }
    },
    "generatedapks": {
      "methods": {
        "list": {
          "parameters": {
            "packageName": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Package name of the app."
            },
            "versionCode": {
              "type": "integer",
              "location": "path",
              "description": "Version code of the app bundle.",
              "format": "int32",
              "required": true
            }
          },
          "id": "androidpublisher.generatedapks.list",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "httpMethod": "GET",
          "path": "androidpublisher/v3/applications/{packageName}/generatedApks/{versionCode}",
          "flatPath": "androidpublisher/v3/applications/{packageName}/generatedApks/{versionCode}",
          "parameterOrder": [
            "packageName",
            "versionCode"
          ],
          "response": {
            "$ref": "GeneratedApksListResponse"
          },
          "description": "Returns download metadata for all APKs that were generated from a given app bundle."
        },
        "download": {
          "flatPath": "androidpublisher/v3/applications/{packageName}/generatedApks/{versionCode}/downloads/{downloadId}:download",
          "parameters": {
            "packageName": {
              "description": "Package name of the app.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "versionCode": {
              "location": "path",
              "format": "int32",
              "required": true,
              "type": "integer",
              "description": "Version code of the app bundle."
            },
            "downloadId": {
              "description": "Download ID, which uniquely identifies the APK to download. Can be obtained from the response of `generatedapks.list` method.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "supportsMediaDownload": true,
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "path": "androidpublisher/v3/applications/{packageName}/generatedApks/{versionCode}/downloads/{downloadId}:download",
          "id": "androidpublisher.generatedapks.download",
          "parameterOrder": [
            "packageName",
            "versionCode",
            "downloadId"
          ],
          "useMediaDownloadService": true,
          "description": "Downloads a single signed APK generated from an app bundle."
        }
      }
    },
    "appsigning": {
      "methods": {
        "enrollApp": {
          "response": {
            "$ref": "EnrollAppResponse"
          },
          "httpMethod": "POST",
          "path": "androidpublisher/v3/applications/{name}/appSigning:enrollApp",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "flatPath": "androidpublisher/v3/applications/{name}/appSigning:enrollApp",
          "parameters": {
            "name": {
              "description": "Required. Either package name or app ID of the app enrolling in Play Signing.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "request": {
            "$ref": "EnrollAppRequest"
          },
          "description": "Enrolls an app in Play App Signing using a self-hosted Google Cloud KMS key. Warning: Do not use this method for standard Play App Signing enrollment. * Standard enrollment with Google-generated or Google-managed keys cannot be done via API. * This advanced API is strictly for enterprise organizations with mandatory compliance, regulatory, or policy requirements to retain key custody in an external Google Cloud KMS instance. * Prerequisites: Requires an active, properly configured Google Cloud KMS key with appropriate IAM permissions granted to Google Play before calling this method. See Help Center: https://support.google.com/googleplay/android-developer/answer/9842756",
          "parameterOrder": [
            "name"
          ],
          "id": "androidpublisher.appsigning.enrollApp"
        },
        "rotateAppSigningKey": {
          "description": "Rotates an app's signing key to a new self-hosted Google Cloud KMS key. Warning: This method only applies to apps enrolled with self-hosted Cloud KMS keys. For apps using standard Google-managed Play App Signing, key rotation requests must be initiated through the Google Play Console UI. See Help Center: https://support.google.com/googleplay/android-developer/answer/9842756",
          "httpMethod": "POST",
          "request": {
            "$ref": "RotateAppSigningKeyRequest"
          },
          "parameters": {
            "name": {
              "description": "Required. Either package name or app ID of the app rotating the signing key.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "id": "androidpublisher.appsigning.rotateAppSigningKey",
          "path": "androidpublisher/v3/applications/{name}/appSigning:rotateAppSigningKey",
          "flatPath": "androidpublisher/v3/applications/{name}/appSigning:rotateAppSigningKey",
          "response": {
            "$ref": "RotateAppSigningKeyResponse"
          }
        }
      }
    },
    "apprecovery": {
      "methods": {
        "addTargeting": {
          "response": {
            "$ref": "AddTargetingResponse"
          },
          "flatPath": "androidpublisher/v3/applications/{packageName}/appRecoveries/{appRecoveryId}:addTargeting",
          "parameterOrder": [
            "packageName",
            "appRecoveryId"
          ],
          "request": {
            "$ref": "AddTargetingRequest"
          },
          "path": "androidpublisher/v3/applications/{packageName}/appRecoveries/{appRecoveryId}:addTargeting",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameters": {
            "appRecoveryId": {
              "format": "int64",
              "description": "Required. ID corresponding to the app recovery action.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "packageName": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Required. Package name of the app for which recovery action is to be updated."
            }
          },
          "id": "androidpublisher.apprecovery.addTargeting",
          "description": "Incrementally update targeting for a recovery action. Note that only the criteria selected during the creation of recovery action can be expanded.",
          "httpMethod": "POST"
        },
        "cancel": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "flatPath": "androidpublisher/v3/applications/{packageName}/appRecoveries/{appRecoveryId}:cancel",
          "httpMethod": "POST",
          "response": {
            "$ref": "CancelAppRecoveryResponse"
          },
          "description": "Cancel an already executing app recovery action. Note that this action changes status of the recovery action to CANCELED.",
          "parameters": {
            "packageName": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. Package name of the app for which recovery action cancellation is requested."
            },
            "appRecoveryId": {
              "format": "int64",
              "location": "path",
              "type": "string",
              "description": "Required. ID corresponding to the app recovery action.",
              "required": true
            }
          },
          "request": {
            "$ref": "CancelAppRecoveryRequest"
          },
          "parameterOrder": [
            "packageName",
            "appRecoveryId"
          ],
          "id": "androidpublisher.apprecovery.cancel",
          "path": "androidpublisher/v3/applications/{packageName}/appRecoveries/{appRecoveryId}:cancel"
        },
        "create": {
          "httpMethod": "POST",
          "flatPath": "androidpublisher/v3/applications/{packageName}/appRecoveries",
          "request": {
            "$ref": "CreateDraftAppRecoveryRequest"
          },
          "parameters": {
            "packageName": {
              "description": "Required. Package name of the app on which recovery action is performed.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "response": {
            "$ref": "AppRecoveryAction"
          },
          "description": "Create an app recovery action with recovery status as DRAFT. Note that this action does not execute the recovery action.",
          "parameterOrder": [
            "packageName"
          ],
          "id": "androidpublisher.apprecovery.create",
          "path": "androidpublisher/v3/applications/{packageName}/appRecoveries"
        },
        "deploy": {
          "id": "androidpublisher.apprecovery.deploy",
          "flatPath": "androidpublisher/v3/applications/{packageName}/appRecoveries/{appRecoveryId}:deploy",
          "parameters": {
            "appRecoveryId": {
              "type": "string",
              "description": "Required. ID corresponding to the app recovery action to deploy.",
              "format": "int64",
              "location": "path",
              "required": true
            },
            "packageName": {
              "description": "Required. Package name of the app for which recovery action is deployed.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "DeployAppRecoveryResponse"
          },
          "request": {
            "$ref": "DeployAppRecoveryRequest"
          },
          "parameterOrder": [
            "packageName",
            "appRecoveryId"
          ],
          "httpMethod": "POST",
          "description": "Deploy an already created app recovery action with recovery status DRAFT. Note that this action activates the recovery action for all targeted users and changes its status to ACTIVE.",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "path": "androidpublisher/v3/applications/{packageName}/appRecoveries/{appRecoveryId}:deploy"
        },
        "list": {
          "id": "androidpublisher.apprecovery.list",
          "description": "List all app recovery action resources associated with a particular package name and app version.",
          "path": "androidpublisher/v3/applications/{packageName}/appRecoveries",
          "response": {
            "$ref": "ListAppRecoveriesResponse"
          },
          "flatPath": "androidpublisher/v3/applications/{packageName}/appRecoveries",
          "parameters": {
            "packageName": {
              "description": "Required. Package name of the app for which list of recovery actions is requested.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "versionCode": {
              "type": "string",
              "description": "Required. Version code targeted by the list of recovery actions.",
              "format": "int64",
              "location": "query"
            }
          },
          "parameterOrder": [
            "packageName"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "httpMethod": "GET"
        }
      }
    },
    "monetization": {
      "resources": {
        "onetimeproducts": {
          "resources": {
            "purchaseOptions": {
              "methods": {
                "batchUpdateStates": {
                  "request": {
                    "$ref": "BatchUpdatePurchaseOptionStatesRequest"
                  },
                  "parameterOrder": [
                    "packageName",
                    "productId"
                  ],
                  "parameters": {
                    "productId": {
                      "type": "string",
                      "description": "Required. The product ID of the parent one-time product, if all updated purchase options belong to the same one-time product. If this batch update spans multiple one-time products, set this field to \"-\".",
                      "location": "path",
                      "required": true
                    },
                    "packageName": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. The parent app (package name) of the updated purchase options."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/androidpublisher"
                  ],
                  "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions:batchUpdateStates",
                  "description": "Activates or deactivates purchase options across one or multiple one-time products.",
                  "httpMethod": "POST",
                  "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions:batchUpdateStates",
                  "response": {
                    "$ref": "BatchUpdatePurchaseOptionStatesResponse"
                  },
                  "id": "androidpublisher.monetization.onetimeproducts.purchaseOptions.batchUpdateStates"
                },
                "batchDelete": {
                  "parameterOrder": [
                    "packageName",
                    "productId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/androidpublisher"
                  ],
                  "description": "Deletes purchase options across one or multiple one-time products. By default this operation will fail if there are any existing offers under the deleted purchase options. Use the force parameter to override the default behavior.",
                  "request": {
                    "$ref": "BatchDeletePurchaseOptionsRequest"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "productId": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. The product ID of the parent one-time product, if all purchase options to delete belong to the same one-time product. If this batch delete spans multiple one-time products, set this field to \"-\".",
                      "required": true
                    },
                    "packageName": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. The parent app (package name) of the purchase options to delete."
                    }
                  },
                  "id": "androidpublisher.monetization.onetimeproducts.purchaseOptions.batchDelete",
                  "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions:batchDelete",
                  "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions:batchDelete"
                }
              },
              "resources": {
                "offers": {
                  "methods": {
                    "batchUpdateStates": {
                      "parameters": {
                        "productId": {
                          "description": "Required. The product ID of the parent one-time product, if all updated offers belong to the same one-time product. If this batch update spans multiple one-time products, set this field to \"-\".",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "purchaseOptionId": {
                          "description": "Required. The purchase option ID of the parent purchase option, if all updated offers belong to the same purchase option. If this batch update spans multiple purchase options, set this field to \"-\".",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        },
                        "packageName": {
                          "location": "path",
                          "type": "string",
                          "description": "Required. The parent app (package name) of the updated one-time product offers.",
                          "required": true
                        }
                      },
                      "request": {
                        "$ref": "BatchUpdateOneTimeProductOfferStatesRequest"
                      },
                      "id": "androidpublisher.monetization.onetimeproducts.purchaseOptions.offers.batchUpdateStates",
                      "description": "Updates a batch of one-time product offer states.",
                      "httpMethod": "POST",
                      "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers:batchUpdateStates",
                      "response": {
                        "$ref": "BatchUpdateOneTimeProductOfferStatesResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                      ],
                      "parameterOrder": [
                        "packageName",
                        "productId",
                        "purchaseOptionId"
                      ],
                      "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers:batchUpdateStates"
                    },
                    "batchGet": {
                      "parameters": {
                        "purchaseOptionId": {
                          "description": "Required. The parent purchase option (ID) for which the offers should be updated. May be specified as '-' to update offers from multiple purchase options.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "productId": {
                          "location": "path",
                          "required": true,
                          "description": "Required. The product ID of the parent one-time product, if all updated offers belong to the same product. If this request spans multiple one-time products, set this field to \"-\".",
                          "type": "string"
                        },
                        "packageName": {
                          "type": "string",
                          "required": true,
                          "description": "Required. The parent app (package name) of the updated offers. Must be equal to the package_name field on all the updated OneTimeProductOffer resources.",
                          "location": "path"
                        }
                      },
                      "request": {
                        "$ref": "BatchGetOneTimeProductOffersRequest"
                      },
                      "httpMethod": "POST",
                      "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers:batchGet",
                      "response": {
                        "$ref": "BatchGetOneTimeProductOffersResponse"
                      },
                      "description": "Reads one or more one-time product offers.",
                      "id": "androidpublisher.monetization.onetimeproducts.purchaseOptions.offers.batchGet",
                      "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers:batchGet",
                      "parameterOrder": [
                        "packageName",
                        "productId",
                        "purchaseOptionId"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                      ]
                    },
                    "deactivate": {
                      "id": "androidpublisher.monetization.onetimeproducts.purchaseOptions.offers.deactivate",
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                      ],
                      "description": "Deactivates a one-time product offer.",
                      "parameters": {
                        "offerId": {
                          "description": "Required. The offer ID of the offer to deactivate.",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        },
                        "packageName": {
                          "description": "Required. The parent app (package name) of the offer to deactivate.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "purchaseOptionId": {
                          "type": "string",
                          "location": "path",
                          "description": "Required. The parent purchase option (ID) of the offer to deactivate.",
                          "required": true
                        },
                        "productId": {
                          "type": "string",
                          "description": "Required. The parent one-time product (ID) of the offer to deactivate.",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers/{offerId}:deactivate",
                      "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers/{offerId}:deactivate",
                      "response": {
                        "$ref": "OneTimeProductOffer"
                      },
                      "parameterOrder": [
                        "packageName",
                        "productId",
                        "purchaseOptionId",
                        "offerId"
                      ],
                      "request": {
                        "$ref": "DeactivateOneTimeProductOfferRequest"
                      }
                    },
                    "list": {
                      "httpMethod": "GET",
                      "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers",
                      "id": "androidpublisher.monetization.onetimeproducts.purchaseOptions.offers.list",
                      "description": "Lists all offers under a given app, product, or purchase option.",
                      "parameters": {
                        "productId": {
                          "description": "Required. The parent one-time product (ID) for which the offers should be read. May be specified as '-' to read all offers under an app.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "pageToken": {
                          "description": "Optional. A page token, received from a previous `ListOneTimeProductsOffers` call. Provide this to retrieve the subsequent page. When paginating, product_id, package_name and purchase_option_id provided to `ListOneTimeProductsOffersRequest` must match the call that provided the page token.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "format": "int32",
                          "description": "Optional. The maximum number of offers to return. The service may return fewer than this value. If unspecified, at most 50 offers will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
                        },
                        "packageName": {
                          "location": "path",
                          "type": "string",
                          "description": "Required. The parent app (package name) for which the offers should be read.",
                          "required": true
                        },
                        "purchaseOptionId": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. The parent purchase option (ID) for which the offers should be read. May be specified as '-' to read all offers under a one-time product or an app. Must be specified as '-' if product_id is specified as '-'."
                        }
                      },
                      "parameterOrder": [
                        "packageName",
                        "productId",
                        "purchaseOptionId"
                      ],
                      "response": {
                        "$ref": "ListOneTimeProductOffersResponse"
                      },
                      "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers",
                      "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                      ]
                    },
                    "activate": {
                      "id": "androidpublisher.monetization.onetimeproducts.purchaseOptions.offers.activate",
                      "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers/{offerId}:activate",
                      "parameters": {
                        "packageName": {
                          "description": "Required. The parent app (package name) of the offer to activate.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "productId": {
                          "type": "string",
                          "location": "path",
                          "description": "Required. The parent one-time product (ID) of the offer to activate.",
                          "required": true
                        },
                        "offerId": {
                          "required": true,
                          "location": "path",
                          "description": "Required. The offer ID of the offer to activate.",
                          "type": "string"
                        },
                        "purchaseOptionId": {
                          "description": "Required. The parent purchase option (ID) of the offer to activate.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "packageName",
                        "productId",
                        "purchaseOptionId",
                        "offerId"
                      ],
                      "description": "Activates a one-time product offer.",
                      "response": {
                        "$ref": "OneTimeProductOffer"
                      },
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "ActivateOneTimeProductOfferRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                      ],
                      "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers/{offerId}:activate"
                    },
                    "batchDelete": {
                      "parameters": {
                        "packageName": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "Required. The parent app (package name) of the offers to delete. Must be equal to the package_name field on all the OneTimeProductOffer resources."
                        },
                        "purchaseOptionId": {
                          "location": "path",
                          "description": "Required. The parent purchase option (ID) for which the offers should be deleted. May be specified as '-' to update offers from multiple purchase options.",
                          "required": true,
                          "type": "string"
                        },
                        "productId": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Required. The product ID of the parent one-time product, if all offers to delete belong to the same product. If this request spans multiple one-time products, set this field to \"-\"."
                        }
                      },
                      "parameterOrder": [
                        "packageName",
                        "productId",
[...]
