{
  "version": "v1",
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "baseUrl": "https://androiddeviceprovisioning.googleapis.com/",
  "mtlsRootUrl": "https://androiddeviceprovisioning.mtls.googleapis.com/",
  "id": "androiddeviceprovisioning:v1",
  "rootUrl": "https://androiddeviceprovisioning.googleapis.com/",
  "revision": "20260802",
  "basePath": "",
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "resources": {
    "partners": {
      "resources": {
        "customers": {
          "methods": {
            "list": {
              "path": "v1/partners/{+partnerId}/customers",
              "description": "Lists the customers that are enrolled to the reseller identified by the `partnerId` argument. This list includes customers that the reseller created and customers that enrolled themselves using the portal.",
              "response": {
                "$ref": "ListCustomersResponse"
              },
              "httpMethod": "GET",
              "id": "androiddeviceprovisioning.partners.customers.list",
              "flatPath": "v1/partners/{partnersId}/customers",
              "parameters": {
                "partnerId": {
                  "location": "path",
                  "required": true,
                  "format": "int64",
                  "type": "string",
                  "description": "Required. The ID of the reseller partner.",
                  "pattern": "^[^/]+$"
                },
                "pageToken": {
                  "description": "A token identifying a page of results returned by the server.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum number of results to be returned. If not specified or 0, all the records are returned."
                }
              },
              "parameterOrder": [
                "partnerId"
              ]
            },
            "create": {
              "flatPath": "v1/partners/{partnersId}/customers",
              "request": {
                "$ref": "CreateCustomerRequest"
              },
              "path": "v1/{+parent}/customers",
              "id": "androiddeviceprovisioning.partners.customers.create",
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The parent resource ID in the format `partners/[PARTNER_ID]` that identifies the reseller.",
                  "pattern": "^partners/[^/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "Company"
              },
              "description": "Creates a customer for zero-touch enrollment. After the method returns successfully, admin and owner roles can manage devices and EMM configs by calling API methods or using their zero-touch enrollment portal. The customer receives an email that welcomes them to zero-touch enrollment and explains how to sign into the portal."
            }
          }
        },
        "devices": {
          "methods": {
            "findByOwner": {
              "flatPath": "v1/partners/{partnersId}/devices:findByOwner",
              "request": {
                "$ref": "FindDevicesByOwnerRequest"
              },
              "path": "v1/partners/{+partnerId}/devices:findByOwner",
              "id": "androiddeviceprovisioning.partners.devices.findByOwner",
              "parameters": {
                "partnerId": {
                  "type": "string",
                  "description": "Required. The ID of the reseller partner.",
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "required": true,
                  "format": "int64"
                }
              },
              "parameterOrder": [
                "partnerId"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "FindDevicesByOwnerResponse"
              },
              "description": "Finds devices claimed for customers. The results only contain devices registered to the reseller that's identified by the `partnerId` argument. The customer's devices purchased from other resellers don't appear in the results."
            },
            "updateMetadataAsync": {
              "path": "v1/partners/{+partnerId}/devices:updateMetadataAsync",
              "flatPath": "v1/partners/{partnersId}/devices:updateMetadataAsync",
              "request": {
                "$ref": "UpdateDeviceMetadataInBatchRequest"
              },
              "response": {
                "$ref": "Operation"
              },
              "description": "Updates the reseller metadata attached to a batch of devices. This method updates devices asynchronously and returns an `Operation` that can be used to track progress. Read [Long‑running batch operations](/zero-touch/guides/how-it-works#operations). Android Devices only.",
              "id": "androiddeviceprovisioning.partners.devices.updateMetadataAsync",
              "parameters": {
                "partnerId": {
                  "type": "string",
                  "description": "Required. The reseller partner ID.",
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "required": true,
                  "format": "int64"
                }
              },
              "parameterOrder": [
                "partnerId"
              ],
              "httpMethod": "POST"
            },
            "findByIdentifier": {
              "httpMethod": "POST",
              "id": "androiddeviceprovisioning.partners.devices.findByIdentifier",
              "parameters": {
                "partnerId": {
                  "type": "string",
                  "description": "Required. The ID of the reseller partner.",
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "required": true,
                  "format": "int64"
                }
              },
              "parameterOrder": [
                "partnerId"
              ],
              "description": "Finds devices by hardware identifiers, such as IMEI.",
              "response": {
                "$ref": "FindDevicesByDeviceIdentifierResponse"
              },
              "flatPath": "v1/partners/{partnersId}/devices:findByIdentifier",
              "request": {
                "$ref": "FindDevicesByDeviceIdentifierRequest"
              },
              "path": "v1/partners/{+partnerId}/devices:findByIdentifier"
            },
            "get": {
              "response": {
                "$ref": "Device"
              },
              "path": "v1/{+name}",
              "description": "Gets a device.",
              "id": "androiddeviceprovisioning.partners.devices.get",
              "flatPath": "v1/partners/{partnersId}/devices/{devicesId}",
              "parameters": {
                "name": {
                  "description": "Required. The device API resource name in the format `partners/[PARTNER_ID]/devices/[DEVICE_ID]`.",
                  "pattern": "^partners/[^/]+/devices/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET"
            },
            "getSimLockState": {
              "request": {
                "$ref": "GetDeviceSimLockStateRequest"
              },
              "flatPath": "v1/partners/{partnersId}/devices:getSimLockState",
              "path": "v1/partners/{+partnerId}/devices:getSimLockState",
              "parameterOrder": [
                "partnerId"
              ],
              "id": "androiddeviceprovisioning.partners.devices.getSimLockState",
              "parameters": {
                "partnerId": {
                  "location": "path",
                  "required": true,
                  "format": "int64",
                  "type": "string",
                  "description": "Required. The ID of the partner.",
                  "pattern": "^[^/]+$"
                }
              },
              "httpMethod": "POST",
              "response": {
                "$ref": "GetDeviceSimLockStateResponse"
              },
              "description": "Gets a device's SIM lock state."
            },
            "metadata": {
              "httpMethod": "POST",
              "id": "androiddeviceprovisioning.partners.devices.metadata",
              "parameters": {
                "deviceId": {
                  "location": "path",
                  "required": true,
                  "format": "int64",
                  "type": "string",
                  "description": "Required. The ID of the device.",
                  "pattern": "^[^/]+$"
                },
                "metadataOwnerId": {
                  "type": "string",
                  "description": "Required. The owner of the newly set metadata. Set this to the partner ID.",
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "required": true,
                  "format": "int64"
                }
              },
              "parameterOrder": [
                "metadataOwnerId",
                "deviceId"
              ],
              "description": "Updates reseller metadata associated with the device. Android devices only.",
              "response": {
                "$ref": "DeviceMetadata"
              },
              "flatPath": "v1/partners/{partnersId}/devices/{devicesId}/metadata",
              "request": {
                "$ref": "UpdateDeviceMetadataRequest"
              },
              "path": "v1/partners/{+metadataOwnerId}/devices/{+deviceId}/metadata"
            },
            "claimAsync": {
              "path": "v1/partners/{+partnerId}/devices:claimAsync",
              "request": {
                "$ref": "ClaimDevicesRequest"
              },
              "flatPath": "v1/partners/{partnersId}/devices:claimAsync",
              "response": {
                "$ref": "Operation"
              },
              "description": "Claims a batch of devices for a customer asynchronously. Adds the devices to zero-touch enrollment. To learn more, read [Long‑running batch operations](/zero-touch/guides/how-it-works#operations).",
              "parameterOrder": [
                "partnerId"
              ],
              "id": "androiddeviceprovisioning.partners.devices.claimAsync",
              "parameters": {
                "partnerId": {
                  "type": "string",
                  "description": "Required. The ID of the reseller partner.",
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "required": true,
                  "format": "int64"
                }
              },
              "httpMethod": "POST"
            },
            "unclaimAsync": {
              "httpMethod": "POST",
              "parameterOrder": [
                "partnerId"
              ],
              "id": "androiddeviceprovisioning.partners.devices.unclaimAsync",
              "parameters": {
                "partnerId": {
                  "location": "path",
                  "required": true,
                  "format": "int64",
                  "description": "Required. The reseller partner ID.",
                  "pattern": "^[^/]+$",
                  "type": "string"
                }
              },
              "description": "Unclaims a batch of devices for a customer asynchronously. Removes the devices from zero-touch enrollment. To learn more, read [Long‑running batch operations](/zero-touch/guides/how-it-works#operations).",
              "response": {
                "$ref": "Operation"
              },
              "request": {
                "$ref": "UnclaimDevicesRequest"
              },
              "flatPath": "v1/partners/{partnersId}/devices:unclaimAsync",
              "path": "v1/partners/{+partnerId}/devices:unclaimAsync"
            },
            "unclaim": {
              "path": "v1/partners/{+partnerId}/devices:unclaim",
              "flatPath": "v1/partners/{partnersId}/devices:unclaim",
              "request": {
                "$ref": "UnclaimDeviceRequest"
              },
              "description": "Unclaims a device from a customer and removes it from zero-touch enrollment.",
              "response": {
                "$ref": "Empty"
              },
              "httpMethod": "POST",
              "id": "androiddeviceprovisioning.partners.devices.unclaim",
              "parameters": {
                "partnerId": {
                  "description": "Required. The ID of the reseller partner.",
                  "pattern": "^[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "format": "int64"
                }
              },
              "parameterOrder": [
                "partnerId"
              ]
            },
            "claim": {
              "httpMethod": "POST",
              "id": "androiddeviceprovisioning.partners.devices.claim",
              "parameters": {
                "partnerId": {
                  "type": "string",
                  "description": "Required. The ID of the reseller partner.",
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "required": true,
                  "format": "int64"
                }
              },
              "parameterOrder": [
                "partnerId"
              ],
              "description": "Claims a device for a customer and adds it to zero-touch enrollment. If the device is already claimed by another customer, the call returns an error.",
              "response": {
                "$ref": "ClaimDeviceResponse"
              },
              "flatPath": "v1/partners/{partnersId}/devices:claim",
              "request": {
                "$ref": "ClaimDeviceRequest"
              },
              "path": "v1/partners/{+partnerId}/devices:claim"
            }
          }
        },
        "vendors": {
          "resources": {
            "customers": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "androiddeviceprovisioning.partners.vendors.customers.list",
                  "flatPath": "v1/partners/{partnersId}/vendors/{vendorsId}/customers",
                  "parameters": {
                    "pageSize": {
                      "description": "The maximum number of results to be returned.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The resource name in the format `partners/[PARTNER_ID]/vendors/[VENDOR_ID]`.",
                      "pattern": "^partners/[^/]+/vendors/[^/]+$"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "A token identifying a page of results returned by the server."
                    }
                  },
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListVendorCustomersResponse"
                  },
                  "description": "Lists the customers of the vendor.",
                  "path": "v1/{+parent}/customers"
                }
              }
            }
          },
          "methods": {
            "list": {
              "httpMethod": "GET",
              "id": "androiddeviceprovisioning.partners.vendors.list",
              "flatPath": "v1/partners/{partnersId}/vendors",
              "parameters": {
                "parent": {
                  "description": "Required. The resource name in the format `partners/[PARTNER_ID]`.",
                  "pattern": "^partners/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A token identifying a page of results returned by the server."
                },
                "pageSize": {
                  "description": "The maximum number of results to be returned.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/vendors",
              "description": "Lists the vendors of the partner.",
              "response": {
                "$ref": "ListVendorsResponse"
              }
            }
          }
        }
      }
    },
    "customers": {
      "methods": {
        "list": {
          "response": {
            "$ref": "CustomerListCustomersResponse"
          },
          "path": "v1/customers",
          "description": "Lists the user's customer accounts.",
          "id": "androiddeviceprovisioning.customers.list",
          "flatPath": "v1/customers",
          "parameters": {
            "pageToken": {
              "description": "A token specifying which result page to return. This field has custom validations in ListCustomersRequestValidator",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "Required. The maximum number of customers to show in a page of results. A number between 1 and 100 (inclusive)."
            }
          },
          "parameterOrder": [],
          "httpMethod": "GET"
        }
      },
      "resources": {
        "configurations": {
          "methods": {
            "get": {
              "path": "v1/{+name}",
              "description": "Gets the details of a configuration.",
              "response": {
                "$ref": "Configuration"
              },
              "httpMethod": "GET",
              "id": "androiddeviceprovisioning.customers.configurations.get",
              "flatPath": "v1/customers/{customersId}/configurations/{configurationsId}",
              "parameters": {
                "name": {
                  "description": "Required. The configuration to get. An API resource name in the format `customers/[CUSTOMER_ID]/configurations/[CONFIGURATION_ID]`.",
                  "pattern": "^customers/[^/]+/configurations/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "id": "androiddeviceprovisioning.customers.configurations.list",
              "flatPath": "v1/customers/{customersId}/configurations",
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The customer that manages the listed configurations. An API resource name in the format `customers/[CUSTOMER_ID]`.",
                  "pattern": "^customers/[^/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "CustomerListConfigurationsResponse"
              },
              "path": "v1/{+parent}/configurations",
              "description": "Lists a customer's configurations."
            },
            "create": {
              "id": "androiddeviceprovisioning.customers.configurations.create",
              "parameters": {
                "parent": {
                  "description": "Required. The customer that manages the configuration. An API resource name in the format `customers/[CUSTOMER_ID]`. This field has custom validation in CreateConfigurationRequestValidator",
                  "pattern": "^customers/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "Configuration"
              },
              "description": "Creates a new configuration. Once created, a customer can apply the configuration to devices.",
              "flatPath": "v1/customers/{customersId}/configurations",
              "request": {
                "$ref": "Configuration"
              },
              "path": "v1/{+parent}/configurations"
            },
            "patch": {
              "httpMethod": "PATCH",
              "parameterOrder": [
                "name"
              ],
              "id": "androiddeviceprovisioning.customers.configurations.patch",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Output only. The API resource name in the format `customers/[CUSTOMER_ID]/configurations/[CONFIGURATION_ID]`. Assigned by the server.",
                  "pattern": "^customers/[^/]+/configurations/[^/]+$",
                  "location": "path",
                  "required": true
                },
                "updateMask": {
                  "description": "Required. The field mask applied to the target `Configuration` before updating the fields. To learn more about using field masks, read [FieldMask](/protocol-buffers/docs/reference/google.protobuf#fieldmask) in the Protocol Buffers documentation.",
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                }
              },
              "description": "Updates a configuration's field values.",
              "response": {
                "$ref": "Configuration"
              },
              "request": {
                "$ref": "Configuration"
              },
              "flatPath": "v1/customers/{customersId}/configurations/{configurationsId}",
              "path": "v1/{+name}"
            },
            "delete": {
              "path": "v1/{+name}",
              "description": "Deletes an unused configuration. The API call fails if the customer has devices with the configuration applied.",
              "response": {
                "$ref": "Empty"
              },
              "httpMethod": "DELETE",
              "id": "androiddeviceprovisioning.customers.configurations.delete",
              "flatPath": "v1/customers/{customersId}/configurations/{configurationsId}",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The configuration to delete. An API resource name in the format `customers/[CUSTOMER_ID]/configurations/[CONFIGURATION_ID]`. If the configuration is applied to any devices, the API call fails.",
                  "pattern": "^customers/[^/]+/configurations/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ]
            }
          }
        },
        "dpcs": {
          "methods": {
            "list": {
              "response": {
                "$ref": "CustomerListDpcsResponse"
              },
              "description": "Lists the DPCs (device policy controllers) that support zero-touch enrollment.",
              "path": "v1/{+parent}/dpcs",
              "parameterOrder": [
                "parent"
              ],
              "id": "androiddeviceprovisioning.customers.dpcs.list",
              "flatPath": "v1/customers/{customersId}/dpcs",
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The customer that can use the DPCs in configurations. An API resource name in the format `customers/[CUSTOMER_ID]`.",
                  "pattern": "^customers/[^/]+$"
                }
              },
              "httpMethod": "GET"
            }
          }
        },
        "devices": {
          "methods": {
            "list": {
              "response": {
                "$ref": "CustomerListDevicesResponse"
              },
              "description": "Lists a customer's devices.",
              "path": "v1/{+parent}/devices",
              "parameterOrder": [
                "parent"
              ],
              "id": "androiddeviceprovisioning.customers.devices.list",
              "flatPath": "v1/customers/{customersId}/devices",
              "parameters": {
                "pageSize": {
                  "description": "Optional. The maximum number of devices to show in a page of results. If unset or 0, defaults to 1000. If a value greater than 1000 is specified, it will be coerced to 1000.",
                  "location": "query",
                  "type": "string",
                  "format": "int64"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A token specifying which result page to return."
                },
                "parent": {
                  "description": "Required. The customer managing the devices. An API resource name in the format `customers/[CUSTOMER_ID]`.",
                  "pattern": "^customers/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "httpMethod": "GET"
            },
            "get": {
              "httpMethod": "GET",
              "id": "androiddeviceprovisioning.customers.devices.get",
              "flatPath": "v1/customers/{customersId}/devices/{devicesId}",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The device to get. An API resource name in the format `customers/[CUSTOMER_ID]/devices/[DEVICE_ID]`.",
                  "pattern": "^customers/[^/]+/devices/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "description": "Gets the details of a device.",
              "response": {
                "$ref": "Device"
              }
            },
            "applyConfiguration": {
              "id": "androiddeviceprovisioning.customers.devices.applyConfiguration",
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The customer managing the device. An API resource name in the format `customers/[CUSTOMER_ID]`.",
                  "pattern": "^customers/[^/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "Empty"
              },
              "description": "Applies a Configuration to the device to register the device for zero-touch enrollment. After applying a configuration to a device, the device automatically provisions itself on first boot, or next factory reset.",
              "flatPath": "v1/customers/{customersId}/devices:applyConfiguration",
              "request": {
                "$ref": "CustomerApplyConfigurationRequest"
              },
              "path": "v1/{+parent}/devices:applyConfiguration"
            },
            "unclaim": {
              "id": "androiddeviceprovisioning.customers.devices.unclaim",
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The customer managing the device. An API resource name in the format `customers/[CUSTOMER_ID]`.",
                  "pattern": "^customers/[^/]+$"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "Empty"
              },
              "description": "Unclaims a device from a customer and removes it from zero-touch enrollment. After removing a device, a customer must contact their reseller to register the device into zero-touch enrollment again.",
              "flatPath": "v1/customers/{customersId}/devices:unclaim",
              "request": {
                "$ref": "CustomerUnclaimDeviceRequest"
              },
              "path": "v1/{+parent}/devices:unclaim"
            },
            "removeConfiguration": {
              "flatPath": "v1/customers/{customersId}/devices:removeConfiguration",
              "request": {
                "$ref": "CustomerRemoveConfigurationRequest"
              },
              "path": "v1/{+parent}/devices:removeConfiguration",
              "id": "androiddeviceprovisioning.customers.devices.removeConfiguration",
              "parameters": {
                "parent": {
                  "description": "Required. The customer managing the device in the format `customers/[CUSTOMER_ID]`.",
                  "pattern": "^customers/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "Empty"
              },
              "description": "Removes a configuration from device."
            }
          }
        }
      }
    },
    "operations": {
      "methods": {
        "get": {
          "response": {
            "$ref": "Operation"
          },
          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
          "path": "v1/{+name}",
          "parameterOrder": [
            "name"
          ],
          "id": "androiddeviceprovisioning.operations.get",
          "flatPath": "v1/operations/{operationsId}",
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The name of the operation resource.",
              "pattern": "^operations/.*$"
            }
          },
          "httpMethod": "GET"
        }
      }
    }
  },
  "batchPath": "batch",
  "servicePath": "",
  "description": "Automates Android zero-touch enrollment for device resellers, customers, and EMMs.",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "canonicalName": "Android Provisioning Partner",
  "name": "androiddeviceprovisioning",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "title": "Android Device Provisioning Partner API",
  "documentationLink": "https://developers.google.com/zero-touch/",
  "schemas": {
    "UpdateDeviceMetadataRequest": {
      "description": "Request to set metadata for a device.",
      "type": "object",
      "id": "UpdateDeviceMetadataRequest",
      "properties": {
        "deviceMetadata": {
          "$ref": "DeviceMetadata",
          "description": "Required. The metadata to attach to the device."
        }
      }
    },
    "PartnerUnclaim": {
      "description": "Identifies one unclaim request.",
      "type": "object",
      "id": "PartnerUnclaim",
      "properties": {
        "sectionType": {
          "description": "Required. The section type of the device's provisioning record.",
          "enumDescriptions": [
            "Unspecified section type.",
            "SIM-lock section type.",
            "Zero-touch enrollment section type."
          ],
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "SECTION_TYPE_SIM_LOCK",
            "SECTION_TYPE_ZERO_TOUCH"
          ],
          "type": "string"
        },
        "deviceId": {
          "type": "string",
          "format": "int64",
          "description": "Required. Device ID of the device."
        },
        "vacationModeDays": {
          "description": "Optional. The duration of the vacation unlock starting from when the request is processed. (1 day is treated as 24 hours)",
          "type": "integer",
          "format": "int32"
        },
        "vacationModeExpireTime": {
          "description": "Optional. The expiration time of the vacation unlock.",
          "type": "string",
          "format": "google-datetime"
        },
        "deviceIdentifier": {
          "description": "Required. Device identifier of the device.",
          "$ref": "DeviceIdentifier"
        }
      }
    },
    "PartnerClaim": {
      "type": "object",
      "id": "PartnerClaim",
      "properties": {
        "deviceMetadata": {
          "description": "Required. The metadata to attach to the device at claim.",
          "$ref": "DeviceMetadata"
        },
        "configurationId": {
          "description": "Optional. The ID of the configuration applied to the device section.",
          "type": "string",
          "format": "int64"
        },
        "deviceIdentifier": {
          "$ref": "DeviceIdentifier",
          "description": "Required. Required. Device identifier of the device."
        },
        "googleWorkspaceCustomerId": {
          "description": "The Google Workspace customer ID.",
          "type": "string"
        },
        "simlockProfileId": {
          "description": "Optional. Must and can only be set when DeviceProvisioningSectionType is SECTION_TYPE_SIM_LOCK. The unique identifier of the SimLock profile.",
          "type": "string",
          "format": "int64"
        },
        "sectionType": {
          "description": "Required. The section type of the device's provisioning record.",
          "enumDescriptions": [
            "Unspecified section type.",
            "SIM-lock section type.",
            "Zero-touch enrollment section type."
          ],
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "SECTION_TYPE_SIM_LOCK",
            "SECTION_TYPE_ZERO_TOUCH"
          ],
          "type": "string"
        },
        "customerId": {
          "description": "The ID of the customer for whom the device is being claimed.",
          "type": "string",
          "format": "int64"
        },
        "preProvisioningToken": {
          "description": "Optional. Must and can only be set for Chrome OS devices.",
          "type": "string"
        }
      },
      "description": "Identifies one claim request."
    },
    "OperationPerDevice": {
      "description": "A task for each device in the operation. Corresponds to each device change in the request.",
      "id": "OperationPerDevice",
      "properties": {
        "updateMetadata": {
          "description": "A copy of the original metadata-update request received by the server.",
          "$ref": "UpdateMetadataArguments"
        },
        "unclaim": {
          "$ref": "PartnerUnclaim",
          "description": "A copy of the original device-unclaim request received by the server."
        },
        "claim": {
          "$ref": "PartnerClaim",
          "description": "A copy of the original device-claim request received by the server."
        },
        "result": {
          "$ref": "PerDeviceStatusInBatch",
          "description": "The processing result for each device."
        }
      },
      "type": "object"
    },
    "GoogleWorkspaceAccount": {
      "description": "A Google Workspace customer.",
      "type": "object",
      "id": "GoogleWorkspaceAccount",
      "properties": {
        "customerId": {
          "description": "Required. The customer ID.",
          "type": "string"
        },
        "preProvisioningTokens": {
          "description": "Output only. The pre-provisioning tokens previously used to claim devices.",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "FindDevicesByDeviceIdentifierResponse": {
      "type": "object",
      "id": "FindDevicesByDeviceIdentifierResponse",
      "properties": {
        "devices": {
          "type": "array",
          "items": {
            "$ref": "Device"
          },
          "description": "Found devices."
        },
        "nextPageToken": {
          "description": "A token used to access the next page of results. Omitted if no further results are available.",
          "type": "string"
        },
        "totalSize": {
          "description": "The total count of items in the list irrespective of pagination.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Response containing found devices."
    },
    "CustomerListCustomersResponse": {
      "description": "Response message for listing my customers.",
      "type": "object",
      "id": "CustomerListCustomersResponse",
      "properties": {
        "customers": {
          "description": "The customer accounts the calling user is a member of.",
          "items": {
            "$ref": "Company"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token used to access the next page of results. Omitted if no further results are available.",
          "type": "string"
        }
      }
    },
    "DeviceMetadata": {
      "description": "Metadata entries that can be attached to a `Device`. To learn more, read [Device metadata](https://developers.google.com/zero-touch/guides/metadata).",
      "id": "DeviceMetadata",
      "properties": {
        "entries": {
          "description": "Metadata entries recorded as key-value pairs.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "type": "object"
    },
    "DevicesLongRunningOperationResponse": {
      "id": "DevicesLongRunningOperationResponse",
      "properties": {
        "successCount": {
          "description": "A summary of how many items in the operation the server processed successfully. Updated as the operation progresses.",
          "type": "integer",
          "format": "int32"
        },
        "perDeviceStatus": {
          "items": {
            "$ref": "OperationPerDevice"
          },
          "type": "array",
          "description": "The processing status for each device in the operation. One `PerDeviceStatus` per device. The list order matches the items in the original request."
        }
      },
      "type": "object",
      "description": "Tracks the status of a long-running operation to claim, unclaim, or attach metadata to devices. To learn more, read [Long‑running batch operations](/zero-touch/guides/how-it-works#operations)."
    },
    "CustomerRemoveConfigurationRequest": {
      "description": "Request message for customer to remove the configuration from device.",
      "type": "object",
      "id": "CustomerRemoveConfigurationRequest",
      "properties": {
        "device": {
          "description": "Required. The device to remove the configuration from. There are custom validations in RemoveConfigurationRequestValidator",
          "$ref": "DeviceReference"
        }
      }
    },
    "ListVendorCustomersResponse": {
      "description": "Response message to list customers of the vendor.",
      "id": "ListVendorCustomersResponse",
      "properties": {
        "totalSize": {
          "type": "integer",
          "format": "int32",
          "description": "The total count of items in the list irrespective of pagination."
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Omitted if no further results are available.",
          "type": "string"
        },
        "customers": {
          "description": "List of customers of the vendor.",
          "items": {
            "$ref": "Company"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "DeviceIdentifier": {
      "description": "Encapsulates hardware and product IDs to identify a manufactured device. To understand requirements on identifier sets, read [Identifiers](https://developers.google.com/zero-touch/guides/identifiers).",
      "type": "object",
      "id": "DeviceIdentifier",
      "properties": {
        "deviceType": {
          "type": "string",
          "description": "The type of the device",
          "enumDescriptions": [
            "Device type is not specified.",
            "Android device",
            "Chrome OS device"
          ],
          "enum": [
            "DEVICE_TYPE_UNSPECIFIED",
            "DEVICE_TYPE_ANDROID",
            "DEVICE_TYPE_CHROME_OS"
          ]
        },
        "imei2": {
          "description": "The device’s second IMEI number.",
          "type": "string"
        },
        "meid": {
          "description": "The device’s MEID number.",
          "type": "string"
        },
        "model": {
          "description": "The device model's name. Allowed values are listed in [Android models](/zero-touch/resources/manufacturer-names#model-names) and [Chrome OS models](https://support.google.com/chrome/a/answer/10130175#identify_compatible).",
          "type": "string"
        },
        "meid2": {
          "description": "The device’s second MEID number.",
          "type": "string"
        },
        "manufacturer": {
          "description": "The device manufacturer’s name. Matches the device's built-in value returned from `android.os.Build.MANUFACTURER`. Allowed values are listed in [Android manufacturers](/zero-touch/resources/manufacturer-names#manufacturers-names).",
          "type": "string"
        },
        "chromeOsAttestedDeviceId": {
          "description": "An identifier provided by OEMs, carried through the production and sales process. Only applicable to Chrome OS devices.",
          "type": "string"
        },
        "serialNumber": {
          "description": "The manufacturer's serial number for the device. This value might not be unique across different device models.",
          "type": "string"
        },
        "imei": {
          "description": "The device’s IMEI number. Validated on input.",
          "type": "string"
        }
      }
    },
    "CreateCustomerRequest": {
      "id": "CreateCustomerRequest",
      "properties": {
        "customer": {
          "$ref": "Company",
          "description": "Required. The company data to populate the new customer. Must contain a value for `companyName` and at least one `owner_email` that's associated with a Google Account. The values for `companyId` and `name` must be empty."
        }
      },
      "type": "object",
      "description": "Request message to create a customer."
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "This field will contain a `DevicesLongRunningOperationResponse` object if the operation is created by `claimAsync`, `unclaimAsync`, or `updateMetadataAsync`."
        },
        "error": {
          "description": "This field will always be not set if the operation is created by `claimAsync`, `unclaimAsync`, or `updateMetadataAsync`. In this case, error information for each device is set in `response.perDeviceStatus.result.status`.",
          "$ref": "Status"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "This field will contain a `DevicesLongRunningOperationMetadata` object if the operation is created by `claimAsync`, `unclaimAsync`, or `updateMetadataAsync`."
        }
      },
      "type": "object"
    },
    "Status": {
      "type": "object",
      "id": "Status",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "CustomerListDpcsResponse": {
      "description": "Response message of customer's listing DPCs.",
      "type": "object",
      "id": "CustomerListDpcsResponse",
      "properties": {
        "dpcs": {
          "description": "The list of DPCs available to the customer that support zero-touch enrollment.",
          "type": "array",
          "items": {
            "$ref": "Dpc"
          }
        }
      }
    },
    "UpdateDeviceMetadataInBatchRequest": {
      "description": "Request to update device metadata in batch.",
      "id": "UpdateDeviceMetadataInBatchRequest",
      "properties": {
        "updates": {
          "type": "array",
          "items": {
            "$ref": "UpdateMetadataArguments"
          },
          "description": "Required. The list of metadata updates."
        }
      },
      "type": "object"
    },
    "PerDeviceStatusInBatch": {
      "description": "Captures the processing status for each device in the operation.",
      "type": "object",
      "id": "PerDeviceStatusInBatch",
      "properties": {
        "deviceId": {
          "description": "If processing succeeds, the device ID of the device.",
          "type": "string",
          "format": "int64"
        },
        "errorMessage": {
          "description": "If processing fails, a developer message explaining what went wrong.",
          "type": "string"
        },
        "status": {
          "description": "The result status of the device after processing.",
          "enumDescriptions": [
            "Invalid code. Shouldn't be used.",
            "Unknown error. We don't expect this error to occur here.",
            "Other error. We know/expect this error, but there's no defined error code for the error.",
            "Success.",
            "Permission denied.",
            "Invalid device identifier.",
            "Invalid section type.",
            "This section is claimed by another company.",
            "Invalid pre-provisioning token.",
            "Revoked pre-provisioning token.",
            "Status used to indicate a failure due to a device limit being exceeded"
          ],
          "enum": [
            "SINGLE_DEVICE_STATUS_UNSPECIFIED",
            "SINGLE_DEVICE_STATUS_UNKNOWN_ERROR",
            "SINGLE_DEVICE_STATUS_OTHER_ERROR",
            "SINGLE_DEVICE_STATUS_SUCCESS",
            "SINGLE_DEVICE_STATUS_PERMISSION_DENIED",
            "SINGLE_DEVICE_STATUS_INVALID_DEVICE_IDENTIFIER",
            "SINGLE_DEVICE_STATUS_INVALID_SECTION_TYPE",
            "SINGLE_DEVICE_STATUS_SECTION_NOT_YOURS",
            "SINGLE_DEVICE_STATUS_INVALID_TOKEN",
            "SINGLE_DEVICE_STATUS_REVOKED_TOKEN",
            "SINGLE_DEVICE_STATUS_DEVICE_LIMIT_EXCEEDED"
          ],
          "type": "string"
        },
        "errorIdentifier": {
          "description": "If processing fails, the error type.",
          "type": "string"
        }
      }
    },
    "UpdateMetadataArguments": {
      "description": "Identifies metadata updates to one device.",
      "id": "UpdateMetadataArguments",
      "properties": {
        "deviceIdentifier": {
          "$ref": "DeviceIdentifier",
          "description": "Required. Device identifier."
        },
        "deviceId": {
          "description": "Required. Device ID of the device.",
          "type": "string",
          "format": "int64"
        },
        "deviceMetadata": {
          "$ref": "DeviceMetadata",
          "description": "Required. The metadata to update."
        }
      },
      "type": "object"
    },
    "ClaimDevicesRequest": {
      "type": "object",
      "id": "ClaimDevicesRequest",
      "properties": {
        "claims": {
          "type": "array",
          "items": {
            "$ref": "PartnerClaim"
          },
          "description": "Required. A list of device claims."
        }
      },
      "description": "Request to claim devices asynchronously in batch. Claiming a device adds the device to zero-touch enrollment and shows the device in the customer's view of the portal."
    },
    "DeviceClaim": {
      "description": "A record of a device claimed by a reseller for a customer. Devices claimed for zero-touch enrollment have a claim with the type `SECTION_TYPE_ZERO_TOUCH`. To learn more, read [Claim devices for customers](/zero-touch/guides/how-it-works#claim).",
      "type": "object",
      "id": "DeviceClaim",
      "properties": {
        "sectionType": {
          "type": "string",
          "description": "Output only. The type of claim made on the device.",
          "enumDescriptions": [
            "Unspecified section type.",
            "SIM-lock section type.",
            "Zero-touch enrollment section type."
          ],
          "readOnly": true,
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "SECTION_TYPE_SIM_LOCK",
            "SECTION_TYPE_ZERO_TOUCH"
          ]
        },
        "ownerCompanyId": {
          "description": "The ID of the Customer that purchased the device.",
          "type": "string",
          "format": "int64"
        },
        "additionalService": {
          "type": "string",
          "description": "The Additional service registered for the device.",
          "enumDescriptions": [
            "No additional service.",
            "Device protection service, also known as Android Enterprise Essentials. To claim a device with the device protection service you must enroll with the partnership team."
          ],
          "enum": [
            "ADDITIONAL_SERVICE_UNSPECIFIED",
            "DEVICE_PROTECTION"
          ]
        },
        "resellerId": {
          "type": "string",
          "format": "int64",
          "description": "The ID of the reseller that claimed the device."
        },
        "vacationModeStartTime": {
          "description": "The timestamp when the device was put into ‘vacation mode’. This value is present iff the device is in 'vacation mode'.",
          "type": "string",
          "format": "google-datetime"
        },
        "vacationModeExpireTime": {
          "description": "The timestamp when the device will exit ‘vacation mode’. This value is present iff the device is in 'vacation mode'.",
          "type": "string",
          "format": "google-datetime"
        },
        "googleWorkspaceCustomerId": {
          "description": "The ID of the Google Workspace account that owns the Chrome OS device.",
          "type": "string"
        }
      }
    },
    "ClaimDeviceRequest": {
      "type": "object",
      "id": "ClaimDeviceRequest",
      "properties": {
        "deviceMetadata": {
          "description": "Optional. The metadata to attach to the device.",
          "$ref": "DeviceMetadata"
        },
        "deviceIdentifier": {
          "$ref": "DeviceIdentifier",
          "description": "Required. Required. The device identifier of the device to claim."
        },
        "googleWorkspaceCustomerId": {
          "description": "The Google Workspace customer ID.",
          "type": "string"
        },
        "simlockProfileId": {
          "description": "Optional. Must and can only be set when DeviceProvisioningSectionType is SECTION_TYPE_SIM_LOCK. The unique identifier of the SimLock profile.",
          "type": "string",
          "format": "int64"
        },
        "configurationId": {
          "description": "Optional. The ID of the configuration applied to the device section.",
          "type": "string",
          "format": "int64"
        },
        "sectionType": {
          "type": "string",
          "description": "Required. The section type of the device's provisioning record.",
          "enumDescriptions": [
            "Unspecified section type.",
            "SIM-lock section type.",
            "Zero-touch enrollment section type."
          ],
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "SECTION_TYPE_SIM_LOCK",
            "SECTION_TYPE_ZERO_TOUCH"
          ]
        },
        "customerId": {
          "type": "string",
          "format": "int64",
          "description": "The ID of the customer for whom the device is being claimed."
        },
        "preProvisioningToken": {
          "description": "Optional. Must and can only be set for Chrome OS devices.",
          "type": "string"
        }
      },
      "description": "Request message to claim a device on behalf of a customer."
    },
    "ListVendorsResponse": {
      "description": "Response message to list vendors of the partner.",
      "id": "ListVendorsResponse",
      "properties": {
        "vendors": {
          "items": {
            "$ref": "Company"
          },
          "type": "array",
          "description": "List of vendors of the reseller partner. Fields `name`, `companyId` and `companyName` are populated to the Company object."
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Omitted if no further results are available.",
          "type": "string"
        },
        "totalSize": {
          "type": "integer",
          "format": "int32",
          "description": "The total count of items in the list irrespective of pagination."
        }
      },
      "type": "object"
    },
    "CustomerListConfigurationsResponse": {
      "description": "Response message of customer's listing configuration.",
      "id": "CustomerListConfigurationsResponse",
      "properties": {
        "configurations": {
          "description": "The configurations.",
          "items": {
            "$ref": "Configuration"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "CustomerApplyConfigurationRequest": {
      "id": "CustomerApplyConfigurationRequest",
      "properties": {
        "device": {
          "description": "Required. The device the configuration is applied to. There are custom validations in ApplyConfigurationRequestValidator",
          "$ref": "DeviceReference"
        },
        "configuration": {
          "description": "Required. The configuration applied to the device in the format `customers/[CUSTOMER_ID]/configurations/[CONFIGURATION_ID]`.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Request message for customer to assign a configuration to device."
    },
    "Dpc": {
      "description": "An EMM's DPC ([device policy controller](http://developer.android.com/work/dpc/build-dpc.html)). Zero-touch enrollment installs a DPC (listed in the `Configuration`) on a device to maintain the customer's mobile policies. All the DPCs listed by the API support zero-touch enrollment and are available in Google Play.",
      "id": "Dpc",
      "properties": {
        "dpcName": {
          "description": "Output only. The title of the DPC app in Google Play. For example, _Google Apps Device Policy_. Useful in an application's user interface.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Output only. The API resource name in the format `customers/[CUSTOMER_ID]/dpcs/[DPC_ID]`. Assigned by the server. To maintain a reference to a DPC across customer accounts, persist and match the last path component (`DPC_ID`).",
          "type": "string",
          "readOnly": true
        },
        "packageName": {
          "description": "Output only. The DPC's Android application ID that looks like a Java package name. Zero-touch enrollment installs the DPC app onto a device using this identifier.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "GetDeviceSimLockStateResponse": {
      "description": "Response containing a device's SimLock state.",
      "type": "object",
      "id": "GetDeviceSimLockStateResponse",
      "properties": {
        "simLockState": {
          "enumDescriptions": [
            "Invalid code. Shouldn't be used.",
            "Device is not SIM locked.",
            "Device is SIM locked to the partner querying SIM lock state.",
            "Device is SIM locked to a different partner."
          ],
          "enum": [
            "SIM_LOCK_STATE_UNSPECIFIED",
            "UNLOCKED",
            "LOCKED_TO_PARTNER",
            "LOCKED_TO_OTHER_PARTNER"
          ],
          "type": "string"
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "properties": {},
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "FindDevicesByOwnerRequest": {
      "description": "Request to find devices by customers.",
      "type": "object",
      "id": "FindDevicesByOwnerRequest",
      "properties": {
        "googleWorkspaceCustomerId": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of IDs of Google Workspace accounts to search for."
        },
        "limit": {
          "description": "Required. The maximum number of devices to show in a page of results. Must be between 1 and 100 inclusive.",
          "type": "string",
          "format": "int64"
        },
        "customerId": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "The list of customer IDs to search for."
        },
        "pageToken": {
          "description": "A token specifying which result page to return.",
          "type": "string"
        },
        "sectionType": {
          "description": "Required. The section type of the device's provisioning record.",
          "enumDescriptions": [
            "Unspecified section type.",
            "SIM-lock section type.",
            "Zero-touch enrollment section type."
          ],
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "SECTION_TYPE_SIM_LOCK",
            "SECTION_TYPE_ZERO_TOUCH"
          ],
          "type": "string"
        }
      }
    },
    "DeviceReference": {
      "type": "object",
      "id": "DeviceReference",
      "properties": {
        "deviceIdentifier": {
          "$ref": "DeviceIdentifier",
          "description": "The hardware IDs of the device."
        },
        "deviceId": {
          "type": "string",
          "format": "int64",
          "description": "The ID of the device."
        }
      },
      "description": "A `DeviceReference` is an API abstraction that lets you supply a _device_ argument to a method using one of the following identifier types: * A numeric API resource ID. * Real-world hardware IDs, such as IMEI number, belonging to the manufactured device. Methods that operate on devices take a `DeviceReference` as a parameter type because it's more flexible for the caller. To learn more about device identifiers, read [Identifiers](https://developers.google.com/zero-touch/guides/identifiers)."
    },
    "CustomerListDevicesResponse": {
      "description": "Response message of customer's liting devices.",
      "id": "CustomerListDevicesResponse",
      "properties": {
        "devices": {
          "items": {
            "$ref": "Device"
          },
          "type": "array",
          "description": "The customer's devices."
        },
        "nextPageToken": {
          "description": "A token used to access the next page of results. Omitted if no further results are available.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "UnclaimDeviceRequest": {
      "description": "Request message to unclaim a device.",
      "type": "object",
      "id": "UnclaimDeviceRequest",
      "properties": {
        "deviceIdentifier": {
          "description": "Required. The device identifier you used when you claimed this device.",
          "$ref": "DeviceIdentifier"
        },
        "vacationModeDays": {
          "type": "integer",
          "format": "int32",
          "description": "The duration of the vacation unlock starting from when the request is processed. (1 day is treated as 24 hours)"
        },
        "vacationModeExpireTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The expiration time of the vacation unlock."
        },
        "sectionType": {
          "type": "string",
          "description": "Required. The section type of the device's provisioning record.",
          "enumDescriptions": [
            "Unspecified section type.",
            "SIM-lock section type.",
            "Zero-touch enrollment section type."
          ],
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "SECTION_TYPE_SIM_LOCK",
            "SECTION_TYPE_ZERO_TOUCH"
          ]
        },
        "deviceId": {
          "description": "Required. The device ID returned by `ClaimDevice`.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "DevicesLongRunningOperationMetadata": {
      "description": "Tracks the status of a long-running operation to asynchronously update a batch of reseller metadata attached to devices. To learn more, read [Long‑running batch operations](/zero-touch/guides/how-it-works#operations).",
      "id": "DevicesLongRunningOperationMetadata",
      "properties": {
        "processingStatus": {
          "description": "The processing status of the operation.",
          "enumDescriptions": [
            "Invalid code. Shouldn't be used.",
            "Pending.",
            "In progress.",
            "Processed. This doesn't mean all items were processed successfully, you should check the `response` field for the result of every item."
          ],
          "enum": [
            "BATCH_PROCESS_STATUS_UNSPECIFIED",
            "BATCH_PROCESS_PENDING",
            "BATCH_PROCESS_IN_PROGRESS",
            "BATCH_PROCESS_PROCESSED"
          ],
          "type": "string"
        },
        "devicesCount": {
          "description": "The number of metadata updates in the operation. This might be different from the number of updates in the request if the API can't parse some of the updates.",
          "type": "integer",
          "format": "int32"
        },
        "progress": {
          "type": "integer",
          "format": "int32",
          "description": "The processing progress of the operation. Measured as a number from 0 to 100. A value of 10O doesn't always mean the operation completed—check for the inclusion of a `done` field."
        }
      },
      "type": "object"
    },
    "ListCustomersResponse": {
      "description": "Response message of all customers related to this partner.",
      "type": "object",
      "id": "ListCustomersResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Omitted if no further results are available.",
          "type": "string"
        },
        "totalSize": {
          "description": "The total count of items in the list irrespective of pagination.",
          "type": "integer",
          "format": "int32"
        },
        "customers": {
          "description": "List of customers related to this reseller partner.",
          "type": "array",
          "items": {
            "$ref": "Company"
          }
        }
      }
    },
    "ClaimDeviceResponse": {
      "description": "Response message containing device id of the claim.",
      "type": "object",
      "id": "ClaimDeviceResponse",
      "properties": {
        "deviceId": {
          "type": "string",
          "format": "int64",
          "description": "The device ID of the claimed device."
        },
        "deviceName": {
          "description": "The resource name of the device in the format `partners/[PARTNER_ID]/devices/[DEVICE_ID]`.",
          "type": "string"
        }
      }
    },
    "CustomerUnclaimDeviceRequest": {
      "id": "CustomerUnclaimDeviceRequest",
      "properties": {
        "device": {
          "$ref": "DeviceReference",
          "description": "Required. The device to unclaim. There are custom validations in UnclaimDeviceRequestValidator."
        }
      },
      "type": "object",
      "description": "Request message for customer to unclaim a device."
    },
    "Configuration": {
      "description": "A configuration collects the provisioning options for Android devices. Each configuration combines the following: * The EMM device policy controller (DPC) installed on the devices. * EMM policies enforced on the devices. * Metadata displayed on the device to help users during setup. Customers can add as many configurations as they need. However, zero-touch enrollment works best when a customer sets a default configuration that's applied to any new devices the organization purchases.",
      "type": "object",
      "id": "Configuration",
      "properties": {
        "contactEmail": {
          "description": "Required. The email address that device users can contact to get help. Zero-touch enrollment shows this email address to device users before device provisioning. The value is validated on input.",
          "type": "string"
        },
        "customMessage": {
          "description": "A message, containing one or two sentences, to help device users get help or give them more details about what’s happening to their device. Zero-touch enrollment shows this message before the device is provisioned.",
          "type": "string"
        },
        "isDefault": {
          "description": "Required. Whether this is the default configuration that zero-touch enrollment applies to any new devices the organization purchases in the future. Only one customer configuration can be the default. Setting this value to `true`, changes the previous default configuration's `isDefault` value to `false`.",
          "type": "boolean"
        },
        "dpcResourcePath": {
          "description": "Required. The resource name of the selected DPC (device policy controller) in the format `customers/[CUSTOMER_ID]/dpcs/*`. To list the supported DPCs, call `customers.dpcs.list`.",
          "type": "string"
        },
        "name": {
          "description": "Output only. The API resource name in the format `customers/[CUSTOMER_ID]/configurations/[CONFIGURATION_ID]`. Assigned by the server.",
          "type": "string",
          "readOnly": true
        },
        "contactPhone": {
          "description": "Required. The telephone number that device users can call, using another device, to get help. Zero-touch enrollment shows this number to device users before device provisioning. Accepts numerals, spaces, the plus sign, hyphens, and parentheses.",
          "type": "string"
        },
        "configurationName": {
          "description": "Required. A short name that describes the configuration's purpose. For example, _Sales team_ or _Temporary employees_. The zero-touch enrollment portal displays this name to IT admins.",
          "type": "string"
        },
        "dpcExtras": {
          "description": "The JSON-formatted EMM provisioning extras that are passed to the DPC.",
          "type": "string"
        },
        "configurationId": {
          "description": "Output only. The ID of the configuration. Assigned by the server.",
          "type": "string",
          "format": "int64",
          "readOnly": true
        },
        "forcedResetTime": {
          "description": "Optional. The timeout before forcing factory reset the device if the device doesn't go through provisioning in the setup wizard, usually due to lack of network connectivity during setup wizard. Ranges from 0-6 hours, with 2 hours being the default if unset.",
          "type": "string",
          "format": "google-duration"
        },
        "companyName": {
          "description": "Required. The name of the organization. Zero-touch enrollment shows this organization name to device users during device provisioning.",
          "type": "string"
        }
      }
    },
    "Device": {
      "description": "An Android or Chrome OS device registered for zero-touch enrollment.",
      "id": "Device",
      "properties": {
        "deviceMetadata": {
          "description": "The metadata attached to the device. Structured as key-value pairs. To learn more, read [Device metadata](https://developers.google.com/zero-touch/guides/metadata).",
          "$ref": "DeviceMetadata"
        },
        "deviceIdentifier": {
          "description": "The hardware IDs that identify a manufactured device. To learn more, read [Identifiers](https://developers.google.com/zero-touch/guides/identifiers).",
          "$ref": "DeviceIdentifier"
        },
        "claims": {
          "description": "Output only. The provisioning claims for a device. Devices claimed for zero-touch enrollment have a claim with the type `SECTION_TYPE_ZERO_TOUCH`. Call `partners.devices.unclaim` or `partners.devices.unclaimAsync` to remove the device from zero-touch enrollment.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "DeviceClaim"
          }
        },
        "name": {
          "description": "Output only. The API resource name in the format `partners/[PARTNER_ID]/devices/[DEVICE_ID]`. Assigned by the server.",
          "type": "string",
          "readOnly": true
        },
        "deviceId": {
          "type": "string",
          "format": "int64",
          "readOnly": true,
          "description": "Output only. The ID of the device. Assigned by the server."
        },
        "configuration": {
          "description": "Not available to resellers.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "FindDevicesByDeviceIdentifierRequest": {
      "type": "object",
      "id": "FindDevicesByDeviceIdentifierRequest",
      "properties": {
        "limit": {
          "type": "string",
          "format": "int64",
          "description": "Required. The maximum number of devices to show in a page of results. Must be between 1 and 100 inclusive."
        },
        "pageToken": {
          "description": "A token specifying which result page to return.",
          "type": "string"
        },
        "deviceIdentifier": {
          "$ref": "DeviceIdentifier",
          "description": "Required. Required. The device identifier to search for. If serial number is provided then case insensitive serial number matches are allowed."
        }
      },
      "description": "Request to find devices."
    },
    "GetDeviceSimLockStateRequest": {
      "type": "object",
      "id": "GetDeviceSimLockStateRequest",
      "properties": {
        "deviceIdentifier": {
          "description": "Required. Required. The device identifier to search for.",
          "$ref": "DeviceIdentifier"
        }
      },
      "description": "Request to get a device's SIM lock status."
    },
    "UnclaimDevicesRequest": {
      "id": "UnclaimDevicesRequest",
      "properties": {
        "unclaims": {
          "description": "Required. The list of devices to unclaim.",
          "items": {
            "$ref": "PartnerUnclaim"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Request to unclaim devices asynchronously in batch."
    },
    "FindDevicesByOwnerResponse": {
      "type": "object",
      "id": "FindDevicesByOwnerResponse",
      "properties": {
        "devices": {
          "description": "The customer's devices.",
          "type": "array",
          "items": {
            "$ref": "Device"
          }
        },
        "nextPageToken": {
          "description": "A token used to access the next page of results. Omitted if no further results are available.",
          "type": "string"
        },
        "totalSize": {
          "description": "The total count of items in the list irrespective of pagination.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Response containing found devices."
    },
    "Company": {
      "type": "object",
      "id": "Company",
      "properties": {
        "ownerEmails": {
          "description": "Required. Input only. Email address of customer's users in the owner role. At least one `owner_email` is required. Owners share the same access as admins but can also add, delete, and edit your organization's portal users.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "googleWorkspaceAccount": {
          "description": "Output only. The Google Workspace account associated with this customer. Only used for customer Companies.",
          "readOnly": true,
          "$ref": "GoogleWorkspaceAccount"
        },
        "termsStatus": {
          "readOnly": true,
          "enum": [
            "TERMS_STATUS_UNSPECIFIED",
            "TERMS_STATUS_NOT_ACCEPTED",
            "TERMS_STATUS_ACCEPTED",
            "TERMS_STATUS_STALE"
          ],
          "type": "string",
          "description": "Output only. Whether any user from the company has accepted the latest Terms of Service (ToS). See TermsStatus.",
          "enumDescriptions": [
            "Default value. This value should never be set if the enum is present.",
            "None of the company's users have accepted the ToS.",
            "One (or more) of the company's users has accepted the ToS.",
            "None of the company's users has accepted the current ToS but at least one user accepted a previous ToS."
          ]
        },
        "companyName": {
          "description": "Required. The name of the company. For example _XYZ Corp_. Displayed to the company's employees in the zero-touch enrollment portal.",
          "type": "string"
        },
        "skipWelcomeEmail": {
          "description": "Input only. If set to true, welcome email will not be sent to the customer. It is recommended to skip the welcome email if devices will be claimed with additional DEVICE_PROTECTION service, as the customer will receive separate emails at device claim time. This field is ignored if this is not a Zero-touch customer.",
          "type": "boolean"
        },
        "languageCode": {
          "description": "Input only. The preferred locale of the customer represented as a BCP47 language code. This field is validated on input and requests containing unsupported language codes will be rejected. Supported language codes: Arabic (ar) Chinese (Hong Kong) (zh-HK) Chinese (Simplified) (zh-CN) Chinese (Traditional) (zh-TW) Czech (cs) Danish (da) Dutch (nl) English (UK) (en-GB) English (US) (en-US) Filipino (fil) Finnish (fi) French (fr) German (de) Hebrew (iw) Hindi (hi) Hungarian (hu) Indonesian (id) Italian (it) Japanese (ja) Korean (ko) Norwegian (Bokmal) (no) Polish (pl) Portuguese (Brazil) (pt-BR) Portuguese (Portugal) (pt-PT) Russian (ru) Spanish (es) Spanish (Latin America) (es-419) Swedish (sv) Thai (th) Turkish (tr) Ukrainian (uk) Vietnamese (vi)",
          "type": "string"
        },
        "companyId": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. The ID of the company. Assigned by the server."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The API resource name of the company. The resource name is one of the following formats: * `partners/[PARTNER_ID]/customers/[CUSTOMER_ID]` * `partners/[PARTNER_ID]/vendors/[VENDOR_ID]` * `partners/[PARTNER_ID]/vendors/[VENDOR_ID]/customers/[CUSTOMER_ID]` Assigned by the server."
        },
        "adminEmails": {
          "description": "Optional. Email address of customer's users in the admin role. Each email address must be associated with a Google Account.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "A reseller, vendor, or customer in the zero-touch reseller and customer APIs."
    }
  },
  "parameters": {
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "default": "json",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query",
      "default": "true"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    }
  }
}