{
  "servicePath": "",
  "parameters": {
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "alt": {
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "default": "json",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    }
  },
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "basePath": "",
  "baseUrl": "https://androidpublisher.googleapis.com/",
  "mtlsRootUrl": "https://androidpublisher.mtls.googleapis.com/",
  "revision": "20260806",
  "kind": "discovery#restDescription",
  "resources": {
    "grants": {
      "methods": {
        "patch": {
          "parameters": {
            "name": {
              "description": "Required. Resource name for this grant, following the pattern \"developers/{developer}/users/{email}/grants/{package_name}\". If this grant is for a draft app, the app ID will be used in this resource name instead of the package name.",
              "location": "path",
              "pattern": "^developers/[^/]+/users/[^/]+/grants/[^/]+$",
              "required": true,
              "type": "string"
            },
            "updateMask": {
              "location": "query",
              "type": "string",
              "description": "Optional. The list of fields to be updated.",
              "format": "google-fieldmask"
            }
          },
          "httpMethod": "PATCH",
          "parameterOrder": [
            "name"
          ],
          "request": {
            "$ref": "Grant"
          },
          "description": "Updates access for the user to the given package.",
          "path": "androidpublisher/v3/{+name}",
          "id": "androidpublisher.grants.patch",
          "response": {
            "$ref": "Grant"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "flatPath": "androidpublisher/v3/developers/{developersId}/users/{usersId}/grants/{grantsId}"
        },
        "create": {
          "response": {
            "$ref": "Grant"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "flatPath": "androidpublisher/v3/developers/{developersId}/users/{usersId}/grants",
          "id": "androidpublisher.grants.create",
          "path": "androidpublisher/v3/{+parent}/grants",
          "parameterOrder": [
            "parent"
          ],
          "request": {
            "$ref": "Grant"
          },
          "description": "Grant access for a user to the given package.",
          "httpMethod": "POST",
          "parameters": {
            "parent": {
              "location": "path",
              "description": "Required. The user which needs permission. Format: developers/{developer}/users/{user}",
              "type": "string",
              "pattern": "^developers/[^/]+/users/[^/]+$",
              "required": true
            }
          }
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "flatPath": "androidpublisher/v3/developers/{developersId}/users/{usersId}/grants/{grantsId}",
          "parameterOrder": [
            "name"
          ],
          "description": "Removes all access for the user to the given package or developer account.",
          "path": "androidpublisher/v3/{+name}",
          "id": "androidpublisher.grants.delete",
          "parameters": {
            "name": {
              "location": "path",
              "description": "Required. The name of the grant to delete. Format: developers/{developer}/users/{email}/grants/{package_name}",
              "type": "string",
              "pattern": "^developers/[^/]+/users/[^/]+/grants/[^/]+$",
              "required": true
            }
          },
          "httpMethod": "DELETE"
        }
      }
    },
    "purchases": {
      "resources": {
        "products": {
          "methods": {
            "consume": {
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/products/{productId}/tokens/{token}:consume",
              "parameterOrder": [
                "packageName",
                "productId",
                "token"
              ],
              "description": "Consumes a purchase for an inapp item.",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameters": {
                "token": {
                  "description": "The token provided to the user's device when the inapp product was purchased.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "packageName": {
                  "required": true,
                  "description": "The package name of the application the inapp product was sold in (for example, 'com.some.thing').",
                  "location": "path",
                  "type": "string"
                },
                "productId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "The inapp product SKU (for example, 'com.some.thing.inapp1')."
                }
              },
              "httpMethod": "POST",
              "path": "androidpublisher/v3/applications/{packageName}/purchases/products/{productId}/tokens/{token}:consume",
              "id": "androidpublisher.purchases.products.consume"
            },
            "get": {
              "id": "androidpublisher.purchases.products.get",
              "path": "androidpublisher/v3/applications/{packageName}/purchases/products/{productId}/tokens/{token}",
              "response": {
                "$ref": "ProductPurchase"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/products/{productId}/tokens/{token}",
              "httpMethod": "GET",
              "parameters": {
                "productId": {
                  "location": "path",
                  "type": "string",
                  "description": "The inapp product SKU (for example, 'com.some.thing.inapp1').",
                  "required": true
                },
                "packageName": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "The package name of the application the inapp product was sold in (for example, 'com.some.thing')."
                },
                "token": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "The token provided to the user's device when the inapp product was purchased."
                }
              },
              "parameterOrder": [
                "packageName",
                "productId",
                "token"
              ],
              "description": "Checks the purchase and consumption status of an inapp item."
            },
            "acknowledge": {
              "httpMethod": "POST",
              "parameters": {
                "token": {
                  "location": "path",
                  "type": "string",
                  "description": "The token provided to the user's device when the inapp product was purchased.",
                  "required": true
                },
                "productId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "The inapp product SKU (for example, 'com.some.thing.inapp1')."
                },
                "packageName": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "The package name of the application the inapp product was sold in (for example, 'com.some.thing')."
                }
              },
              "parameterOrder": [
                "packageName",
                "productId",
                "token"
              ],
              "request": {
                "$ref": "ProductPurchasesAcknowledgeRequest"
              },
              "description": "Acknowledges a purchase of an inapp item.",
              "id": "androidpublisher.purchases.products.acknowledge",
              "path": "androidpublisher/v3/applications/{packageName}/purchases/products/{productId}/tokens/{token}:acknowledge",
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/products/{productId}/tokens/{token}:acknowledge",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            }
          }
        },
        "subscriptionsv2": {
          "methods": {
            "defer": {
              "response": {
                "$ref": "DeferSubscriptionPurchaseResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptionsv2/tokens/{token}:defer",
              "id": "androidpublisher.purchases.subscriptionsv2.defer",
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptionsv2/tokens/{token}:defer",
              "parameterOrder": [
                "packageName",
                "token"
              ],
              "request": {
                "$ref": "DeferSubscriptionPurchaseRequest"
              },
              "description": "Defers the renewal of a subscription.",
              "httpMethod": "POST",
              "parameters": {
                "packageName": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. The package of the application for which this subscription was purchased (for example, 'com.some.thing').",
                  "required": true
                },
                "token": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. The token provided to the user's device when the subscription was purchased.",
                  "required": true
                }
              }
            },
            "get": {
              "id": "androidpublisher.purchases.subscriptionsv2.get",
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptionsv2/tokens/{token}",
              "response": {
                "$ref": "SubscriptionPurchaseV2"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptionsv2/tokens/{token}",
              "httpMethod": "GET",
              "parameters": {
                "packageName": {
                  "description": "The package of the application for which this subscription was purchased (for example, 'com.some.thing').",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "token": {
                  "description": "Required. The token provided to the user's device when the subscription was purchased.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "packageName",
                "token"
              ],
              "description": "Get metadata about a subscription"
            },
            "revoke": {
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptionsv2/tokens/{token}:revoke",
              "response": {
                "$ref": "RevokeSubscriptionPurchaseResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptionsv2/tokens/{token}:revoke",
              "id": "androidpublisher.purchases.subscriptionsv2.revoke",
              "parameterOrder": [
                "packageName",
                "token"
              ],
              "request": {
                "$ref": "RevokeSubscriptionPurchaseRequest"
              },
              "description": "Revoke a subscription purchase for the user.",
              "parameters": {
                "packageName": {
                  "required": true,
                  "description": "Required. The package of the application for which this subscription was purchased (for example, 'com.some.thing').",
                  "location": "path",
                  "type": "string"
                },
                "token": {
                  "required": true,
                  "description": "Required. The token provided to the user's device when the subscription was purchased.",
                  "location": "path",
                  "type": "string"
                }
              },
              "httpMethod": "POST"
            },
            "cancel": {
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptionsv2/tokens/{token}:cancel",
              "id": "androidpublisher.purchases.subscriptionsv2.cancel",
              "response": {
                "$ref": "CancelSubscriptionPurchaseResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptionsv2/tokens/{token}:cancel",
              "parameters": {
                "packageName": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. The package of the application for which this subscription was purchased (for example, 'com.some.thing').",
                  "required": true
                },
                "token": {
                  "description": "Required. The token provided to the user's device when the subscription was purchased.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "packageName",
                "token"
              ],
              "request": {
                "$ref": "CancelSubscriptionPurchaseRequest"
              },
              "description": "Cancel a subscription purchase for the user."
            }
          }
        },
        "voidedpurchases": {
          "methods": {
            "list": {
              "parameters": {
                "packageName": {
                  "location": "path",
                  "type": "string",
                  "description": "The package name of the application for which voided purchases need to be returned (for example, 'com.some.thing').",
                  "required": true
                },
                "endTime": {
                  "description": "The time, in milliseconds since the Epoch, of the newest voided purchase that you want to see in the response. The value of this parameter cannot be greater than the current time and is ignored if a pagination token is set. Default value is current time. Note: This filter is applied on the time at which the record is seen as voided by our systems and not the actual voided time returned in the response.",
                  "format": "int64",
                  "location": "query",
                  "type": "string"
                },
                "startTime": {
                  "location": "query",
                  "type": "string",
                  "format": "int64",
                  "description": "The time, in milliseconds since the Epoch, of the oldest voided purchase that you want to see in the response. The value of this parameter cannot be older than 30 days and is ignored if a pagination token is set. Default value is current time minus 30 days. Note: This filter is applied on the time at which the record is seen as voided by our systems and not the actual voided time returned in the response."
                },
                "type": {
                  "location": "query",
                  "type": "integer",
                  "description": "The type of voided purchases that you want to see in the response. Possible values are: 0. Only voided in-app product purchases will be returned in the response. This is the default value. 1. Both voided in-app purchases and voided subscription purchases will be returned in the response. Note: Before requesting to receive voided subscription purchases, you must switch to use orderId in the response which uniquely identifies one-time purchases and subscriptions. Otherwise, you will receive multiple subscription orders with the same PurchaseToken, because subscription renewal orders share the same PurchaseToken.",
                  "format": "int32"
                },
                "includeQuantityBasedPartialRefund": {
                  "description": "Optional. Whether to include voided purchases of quantity-based partial refunds, which are applicable only to multi-quantity purchases. If true, additional voided purchases may be returned with voidedQuantity that indicates the refund quantity of a quantity-based partial refund. The default value is false.",
                  "location": "query",
                  "type": "boolean"
                },
                "maxResults": {
                  "description": "Defines how many results the list operation should return. The default number depends on the resource collection.",
                  "format": "uint32",
                  "location": "query",
                  "type": "integer"
                },
                "startIndex": {
                  "description": "Defines the index of the first element to return. This can only be used if indexed paging is enabled.",
                  "format": "uint32",
                  "location": "query",
                  "type": "integer"
                },
                "token": {
                  "location": "query",
                  "type": "string",
                  "description": "Defines the token of the page to return, usually taken from TokenPagination. This can only be used if token paging is enabled."
                }
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "packageName"
              ],
              "description": "Lists the purchases that were canceled, refunded or charged-back.",
              "path": "androidpublisher/v3/applications/{packageName}/purchases/voidedpurchases",
              "id": "androidpublisher.purchases.voidedpurchases.list",
              "response": {
                "$ref": "VoidedPurchasesListResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/voidedpurchases"
            }
          }
        },
        "productsv2": {
          "methods": {
            "getproductpurchasev2": {
              "httpMethod": "GET",
              "parameters": {
                "packageName": {
                  "location": "path",
                  "type": "string",
                  "description": "The package name of the application the inapp product was sold in (for example, 'com.some.thing').",
                  "required": true
                },
                "token": {
                  "location": "path",
                  "type": "string",
                  "description": "The token provided to the user's device when the inapp product was purchased.",
                  "required": true
                }
              },
              "parameterOrder": [
                "packageName",
                "token"
              ],
              "description": "Checks the purchase and consumption status of an inapp item.",
              "id": "androidpublisher.purchases.productsv2.getproductpurchasev2",
              "path": "androidpublisher/v3/applications/{packageName}/purchases/productsv2/tokens/{token}",
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/productsv2/tokens/{token}",
              "response": {
                "$ref": "ProductPurchaseV2"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            }
          }
        },
        "subscriptions": {
          "methods": {
            "defer": {
              "parameters": {
                "subscriptionId": {
                  "location": "path",
                  "type": "string",
                  "description": "The purchased subscription ID (for example, 'monthly001').",
                  "required": true
                },
                "token": {
                  "required": true,
                  "description": "The token provided to the user's device when the subscription was purchased.",
                  "location": "path",
                  "type": "string"
                },
                "packageName": {
                  "required": true,
                  "description": "The package name of the application for which this subscription was purchased (for example, 'com.some.thing').",
                  "location": "path",
                  "type": "string"
                }
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "packageName",
                "subscriptionId",
                "token"
              ],
              "request": {
                "$ref": "SubscriptionPurchasesDeferRequest"
              },
              "deprecated": true,
              "description": "Deprecated: Use purchases.subscriptionsv2.defer instead. Defers a user's subscription purchase until a specified future expiration time.",
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:defer",
              "id": "androidpublisher.purchases.subscriptions.defer",
              "response": {
                "$ref": "SubscriptionPurchasesDeferResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:defer"
            },
            "cancel": {
              "httpMethod": "POST",
              "parameters": {
                "subscriptionId": {
                  "description": "Note: Since May 21, 2025, subscription_id is not required, and not recommended for subscription with add-ons. The purchased subscription ID (for example, 'monthly001').",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "token": {
                  "required": true,
                  "description": "The token provided to the user's device when the subscription was purchased.",
                  "location": "path",
                  "type": "string"
                },
                "packageName": {
                  "description": "The package name of the application for which this subscription was purchased (for example, 'com.some.thing').",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "packageName",
                "subscriptionId",
                "token"
              ],
              "deprecated": true,
              "description": "Deprecated: Use purchases.subscriptionsv2.cancel instead. Cancels a user's subscription purchase. The subscription remains valid until its expiration time. Newer version is available at purchases.subscriptionsv2.cancel for better client library support.",
              "id": "androidpublisher.purchases.subscriptions.cancel",
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:cancel",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:cancel"
            },
            "acknowledge": {
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:acknowledge",
              "id": "androidpublisher.purchases.subscriptions.acknowledge",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:acknowledge",
              "parameters": {
                "subscriptionId": {
                  "description": "Note: Since May 21, 2025, subscription_id is not required, and not recommended for subscription with add-ons. The purchased subscription ID (for example, 'monthly001').",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "token": {
                  "description": "The token provided to the user's device when the subscription was purchased.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "packageName": {
                  "required": true,
                  "description": "The package name of the application for which this subscription was purchased (for example, 'com.some.thing').",
                  "location": "path",
                  "type": "string"
                }
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "packageName",
                "subscriptionId",
                "token"
              ],
              "request": {
                "$ref": "SubscriptionPurchasesAcknowledgeRequest"
              },
              "description": "Acknowledges a subscription purchase."
            }
          }
        }
      }
    },
    "edits": {
      "resources": {
        "bundles": {
          "methods": {
            "list": {
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "description": "Lists all current Android App Bundles of the app and edit.",
              "httpMethod": "GET",
              "parameters": {
                "editId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Identifier of the edit."
                },
                "packageName": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Package name of the app."
                }
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/bundles",
              "response": {
                "$ref": "BundlesListResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "id": "androidpublisher.edits.bundles.list",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/bundles"
            },
            "upload": {
              "parameters": {
                "ackBundleInstallationWarning": {
                  "description": "Deprecated. The installation warning has been removed, it's not necessary to set this field anymore.",
                  "deprecated": true,
                  "location": "query",
                  "type": "boolean"
                },
                "deviceTierConfigId": {
                  "description": "Device tier config (DTC) to be used for generating deliverables (APKs). Contains id of the DTC or \"LATEST\" for last uploaded DTC.",
                  "location": "query",
                  "type": "string"
                },
                "packageName": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Package name of the app."
                },
                "editId": {
                  "location": "path",
                  "type": "string",
                  "description": "Identifier of the edit.",
                  "required": true
                }
              },
              "httpMethod": "POST",
              "supportsMediaUpload": true,
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "description": "Uploads a new Android App Bundle to this edit. If you are using the Google API client libraries, please increase the timeout of the http request before calling this endpoint (a timeout of 2 minutes is recommended). See [Timeouts and Errors](https://developers.google.com/api-client-library/java/google-api-java-client/errors) for an example in java.",
              "mediaUpload": {
                "protocols": {
                  "resumable": {
                    "path": "/resumable/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/bundles",
                    "multipart": true
                  },
                  "simple": {
                    "path": "/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/bundles",
                    "multipart": true
                  }
                },
                "maxSize": "53687091200",
                "accept": [
                  "application/octet-stream"
                ]
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/bundles",
              "id": "androidpublisher.edits.bundles.upload",
              "response": {
                "$ref": "Bundle"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/bundles"
            }
          }
        },
        "testers": {
          "methods": {
            "update": {
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/testers/{track}",
              "id": "androidpublisher.edits.testers.update",
              "response": {
                "$ref": "Testers"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/testers/{track}",
              "parameters": {
                "editId": {
                  "required": true,
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "type": "string"
                },
                "track": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "The track to update."
                },
                "packageName": {
                  "location": "path",
                  "type": "string",
                  "description": "Package name of the app.",
                  "required": true
                }
              },
              "httpMethod": "PUT",
              "parameterOrder": [
                "packageName",
                "editId",
                "track"
              ],
              "request": {
                "$ref": "Testers"
              },
              "description": "Updates testers. Note: Testers resource does not support email lists."
            },
            "get": {
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/testers/{track}",
              "response": {
                "$ref": "Testers"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "id": "androidpublisher.edits.testers.get",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/testers/{track}",
              "parameterOrder": [
                "packageName",
                "editId",
                "track"
              ],
              "description": "Gets testers. Note: Testers resource does not support email lists.",
              "httpMethod": "GET",
              "parameters": {
                "packageName": {
                  "description": "Package name of the app.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "editId": {
                  "description": "Identifier of the edit.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "track": {
                  "description": "The track to read from.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              }
            },
            "patch": {
              "response": {
                "$ref": "Testers"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/testers/{track}",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/testers/{track}",
              "id": "androidpublisher.edits.testers.patch",
              "parameterOrder": [
                "packageName",
                "editId",
                "track"
              ],
              "request": {
                "$ref": "Testers"
              },
              "description": "Patches testers. Note: Testers resource does not support email lists.",
              "parameters": {
                "packageName": {
                  "location": "path",
                  "type": "string",
                  "description": "Package name of the app.",
                  "required": true
                },
                "editId": {
                  "description": "Identifier of the edit.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "track": {
                  "location": "path",
                  "type": "string",
                  "description": "The track to update.",
                  "required": true
                }
              },
              "httpMethod": "PATCH"
            }
          }
        },
        "apks": {
          "methods": {
            "upload": {
              "response": {
                "$ref": "Apk"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks",
              "id": "androidpublisher.edits.apks.upload",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks",
              "mediaUpload": {
                "maxSize": "10737418240",
                "accept": [
                  "application/octet-stream",
                  "application/vnd.android.package-archive"
                ],
                "protocols": {
                  "simple": {
                    "path": "/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/apks",
                    "multipart": true
                  },
                  "resumable": {
                    "path": "/resumable/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/apks",
                    "multipart": true
                  }
                }
              },
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "description": "Uploads an APK and adds to the current edit.",
              "httpMethod": "POST",
              "supportsMediaUpload": true,
              "parameters": {
                "editId": {
                  "required": true,
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "type": "string"
                },
                "packageName": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Package name of the app."
                }
              }
            },
            "list": {
              "httpMethod": "GET",
              "parameters": {
                "packageName": {
                  "location": "path",
                  "type": "string",
                  "description": "Package name of the app.",
                  "required": true
                },
                "editId": {
                  "required": true,
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "description": "Lists all current APKs of the app and edit.",
              "id": "androidpublisher.edits.apks.list",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks",
              "response": {
                "$ref": "ApksListResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "addexternallyhosted": {
              "httpMethod": "POST",
              "parameters": {
                "packageName": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Package name of the app."
                },
                "editId": {
                  "location": "path",
                  "type": "string",
                  "description": "Identifier of the edit.",
                  "required": true
                }
              },
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "request": {
                "$ref": "ApksAddExternallyHostedRequest"
              },
              "description": "Creates a new APK without uploading the APK itself to Google Play, instead hosting the APK at a specified URL. This function is only available to organizations using Managed Play whose application is configured to restrict distribution to the organizations.",
              "id": "androidpublisher.edits.apks.addexternallyhosted",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/externallyHosted",
              "response": {
                "$ref": "ApksAddExternallyHostedResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/externallyHosted"
            }
          }
        },
        "details": {
          "methods": {
            "get": {
              "parameters": {
                "packageName": {
                  "location": "path",
                  "type": "string",
                  "description": "Package name of the app.",
                  "required": true
                },
                "editId": {
                  "location": "path",
                  "type": "string",
                  "description": "Identifier of the edit.",
                  "required": true
                }
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "description": "Gets details of an app.",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/details",
              "id": "androidpublisher.edits.details.get",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/details",
              "response": {
                "$ref": "AppDetails"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "patch": {
              "id": "androidpublisher.edits.details.patch",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/details",
              "response": {
                "$ref": "AppDetails"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/details",
              "httpMethod": "PATCH",
              "parameters": {
                "editId": {
                  "required": true,
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "type": "string"
                },
                "packageName": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Package name of the app."
                }
              },
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "request": {
                "$ref": "AppDetails"
              },
              "description": "Patches details of an app."
            },
            "update": {
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "request": {
                "$ref": "AppDetails"
              },
              "description": "Updates details of an app.",
              "httpMethod": "PUT",
              "parameters": {
                "editId": {
                  "required": true,
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "type": "string"
                },
                "packageName": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Package name of the app."
                }
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/details",
              "response": {
                "$ref": "AppDetails"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "id": "androidpublisher.edits.details.update",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/details"
            }
          }
        },
        "tracks": {
          "methods": {
            "create": {
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks",
              "id": "androidpublisher.edits.tracks.create",
              "response": {
                "$ref": "Track"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks",
              "parameters": {
                "editId": {
                  "required": true,
                  "description": "Required. Identifier of the edit.",
                  "location": "path",
                  "type": "string"
                },
                "packageName": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. Package name of the app.",
                  "required": true
                }
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "request": {
                "$ref": "TrackConfig"
              },
              "description": "Creates a new track."
            },
            "update": {
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks/{track}",
              "id": "androidpublisher.edits.tracks.update",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks/{track}",
              "response": {
                "$ref": "Track"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameters": {
                "packageName": {
                  "description": "Package name of the app.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "editId": {
                  "required": true,
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "type": "string"
                },
                "track": {
                  "description": "Identifier of the track. [More on track name](https://developers.google.com/android-publisher/tracks#ff-track-name)",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "httpMethod": "PUT",
              "parameterOrder": [
                "packageName",
                "editId",
                "track"
              ],
              "request": {
                "$ref": "Track"
              },
              "description": "Updates a track."
            },
            "get": {
              "httpMethod": "GET",
              "parameters": {
                "editId": {
                  "required": true,
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "type": "string"
                },
                "track": {
                  "required": true,
                  "description": "Identifier of the track. [More on track name](https://developers.google.com/android-publisher/tracks#ff-track-name)",
                  "location": "path",
                  "type": "string"
                },
                "packageName": {
                  "required": true,
                  "description": "Package name of the app.",
                  "location": "path",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "packageName",
                "editId",
                "track"
              ],
              "description": "Gets a track.",
              "id": "androidpublisher.edits.tracks.get",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks/{track}",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks/{track}",
              "response": {
                "$ref": "Track"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "list": {
              "parameters": {
                "packageName": {
                  "location": "path",
                  "type": "string",
                  "description": "Package name of the app.",
                  "required": true
                },
                "editId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Identifier of the edit."
                }
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "description": "Lists all tracks.",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks",
              "id": "androidpublisher.edits.tracks.list",
              "response": {
                "$ref": "TracksListResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks"
            },
            "patch": {
              "response": {
                "$ref": "Track"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks/{track}",
              "id": "androidpublisher.edits.tracks.patch",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks/{track}",
              "parameterOrder": [
                "packageName",
                "editId",
                "track"
              ],
              "request": {
                "$ref": "Track"
              },
              "description": "Patches a track.",
              "httpMethod": "PATCH",
              "parameters": {
                "packageName": {
                  "description": "Package name of the app.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "editId": {
                  "description": "Identifier of the edit.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "track": {
                  "required": true,
                  "description": "Identifier of the track. [More on track name](https://developers.google.com/android-publisher/tracks#ff-track-name)",
                  "location": "path",
                  "type": "string"
                }
              }
            }
          }
        },
        "images": {
          "methods": {
            "upload": {
              "parameterOrder": [
                "packageName",
                "editId",
                "language",
                "imageType"
              ],
              "description": "Uploads an image of the specified language and image type, and adds to the edit.",
              "mediaUpload": {
                "protocols": {
                  "resumable": {
                    "path": "/resumable/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}",
                    "multipart": true
                  },
                  "simple": {
                    "path": "/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}",
                    "multipart": true
                  }
                },
                "maxSize": "15728640",
                "accept": [
                  "image/*"
                ]
              },
              "parameters": {
                "editId": {
                  "required": true,
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "type": "string"
                },
                "packageName": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Package name of the app."
                },
                "language": {
                  "required": true,
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German). Providing a language that is not supported by the App is a no-op.",
                  "location": "path",
                  "type": "string"
                },
                "imageType": {
                  "location": "path",
                  "description": "Type of the Image.",
                  "enumDescriptions": [
                    "Unspecified type. Do not use.",
                    "Phone screenshot.",
                    "Seven inch screenshot.",
                    "Ten inch screenshot.",
                    "TV screenshot.",
                    "Wear screenshot.",
                    "Icon.",
                    "Feature graphic.",
                    "TV banner."
                  ],
                  "type": "string",
                  "enum": [
                    "appImageTypeUnspecified",
                    "phoneScreenshots",
                    "sevenInchScreenshots",
                    "tenInchScreenshots",
                    "tvScreenshots",
                    "wearScreenshots",
                    "icon",
                    "featureGraphic",
                    "tvBanner"
                  ],
                  "required": true
                },
                "aiGeneratedState": {
                  "type": "string",
                  "enum": [
                    "aiGeneratedStateUnspecified",
                    "aiGeneratedStateNotAiGenerated",
                    "aiGeneratedStateAiGeneratedDeveloperAttested"
                  ],
                  "enumDescriptions": [
                    "Catch-all for unrecognized enum values. See go/protodosdonts.",
                    "The content is not generated by AI.",
                    "The content is generated by AI and attested by the developer."
                  ],
                  "description": "Optional. Whether the image was generated by AI. Attested by the developer.",
                  "location": "query"
                }
              },
              "httpMethod": "POST",
              "supportsMediaUpload": true,
              "response": {
                "$ref": "ImagesUploadResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}",
              "id": "androidpublisher.edits.images.upload"
            },
            "delete": {
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}/{imageId}",
              "parameterOrder": [
                "packageName",
                "editId",
                "language",
                "imageType",
                "imageId"
              ],
              "description": "Deletes the image (specified by id) from the edit.",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "httpMethod": "DELETE",
              "parameters": {
                "language": {
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German).",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "imageType": {
                  "location": "path",
                  "enumDescriptions": [
                    "Unspecified type. Do not use.",
                    "Phone screenshot.",
                    "Seven inch screenshot.",
                    "Ten inch screenshot.",
                    "TV screenshot.",
                    "Wear screenshot.",
                    "Icon.",
                    "Feature graphic.",
                    "TV banner."
                  ],
                  "description": "Type of the Image.",
                  "type": "string",
                  "enum": [
                    "appImageTypeUnspecified",
                    "phoneScreenshots",
                    "sevenInchScreenshots",
                    "tenInchScreenshots",
                    "tvScreenshots",
                    "wearScreenshots",
                    "icon",
                    "featureGraphic",
                    "tvBanner"
                  ],
                  "required": true
                },
                "imageId": {
                  "description": "Unique identifier an image within the set of images attached to this edit.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "packageName": {
                  "required": true,
                  "description": "Package name of the app.",
                  "location": "path",
                  "type": "string"
                },
                "editId": {
                  "description": "Identifier of the edit.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "id": "androidpublisher.edits.images.delete",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}/{imageId}"
            },
            "deleteall": {
              "id": "androidpublisher.edits.images.deleteall",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}",
              "response": {
                "$ref": "ImagesDeleteAllResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "httpMethod": "DELETE",
              "parameters": {
                "packageName": {
                  "location": "path",
                  "type": "string",
                  "description": "Package name of the app.",
                  "required": true
                },
                "editId": {
                  "required": true,
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "type": "string"
                },
                "language": {
                  "location": "path",
                  "type": "string",
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German). Providing a language that is not supported by the App is a no-op.",
                  "required": true
                },
                "imageType": {
                  "type": "string",
                  "enum": [
                    "appImageTypeUnspecified",
                    "phoneScreenshots",
                    "sevenInchScreenshots",
                    "tenInchScreenshots",
                    "tvScreenshots",
                    "wearScreenshots",
                    "icon",
                    "featureGraphic",
                    "tvBanner"
                  ],
                  "required": true,
                  "location": "path",
                  "description": "Type of the Image. Providing an image type that refers to no images is a no-op.",
                  "enumDescriptions": [
                    "Unspecified type. Do not use.",
                    "Phone screenshot.",
                    "Seven inch screenshot.",
                    "Ten inch screenshot.",
                    "TV screenshot.",
                    "Wear screenshot.",
                    "Icon.",
                    "Feature graphic.",
                    "TV banner."
                  ]
                }
              },
              "parameterOrder": [
                "packageName",
                "editId",
                "language",
                "imageType"
              ],
              "description": "Deletes all images for the specified language and image type. Returns an empty response if no images are found."
            },
            "list": {
              "parameterOrder": [
                "packageName",
                "editId",
                "language",
                "imageType"
              ],
              "description": "Lists all images. The response may be empty.",
              "httpMethod": "GET",
              "parameters": {
                "editId": {
                  "required": true,
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "type": "string"
                },
                "language": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German). There must be a store listing for the specified language."
                },
                "imageType": {
                  "location": "path",
                  "description": "Type of the Image. Providing an image type that refers to no images will return an empty response.",
                  "enumDescriptions": [
                    "Unspecified type. Do not use.",
                    "Phone screenshot.",
                    "Seven inch screenshot.",
                    "Ten inch screenshot.",
                    "TV screenshot.",
                    "Wear screenshot.",
                    "Icon.",
                    "Feature graphic.",
                    "TV banner."
                  ],
                  "type": "string",
                  "enum": [
                    "appImageTypeUnspecified",
                    "phoneScreenshots",
                    "sevenInchScreenshots",
                    "tenInchScreenshots",
                    "tvScreenshots",
                    "wearScreenshots",
                    "icon",
                    "featureGraphic",
                    "tvBanner"
                  ],
                  "required": true
                },
                "packageName": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Package name of the app."
                }
              },
              "response": {
                "$ref": "ImagesListResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}",
              "id": "androidpublisher.edits.images.list",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}"
            }
          }
        },
        "deobfuscationfiles": {
          "methods": {
            "upload": {
              "parameters": {
                "packageName": {
                  "location": "path",
                  "type": "string",
                  "description": "Unique identifier for the Android app.",
                  "required": true
                },
                "deobfuscationFileType": {
                  "description": "The type of the deobfuscation file.",
                  "enumDescriptions": [
                    "Unspecified deobfuscation file type.",
                    "Proguard deobfuscation file type.",
                    "Native debugging symbols file type."
                  ],
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "enum": [
                    "deobfuscationFileTypeUnspecified",
                    "proguard",
                    "nativeCode"
                  ]
                },
                "editId": {
                  "description": "Unique identifier for this edit.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "apkVersionCode": {
                  "description": "The version code of the APK whose Deobfuscation File is being uploaded.",
                  "location": "path",
                  "required": true,
                  "format": "int32",
                  "type": "integer"
                }
              },
              "httpMethod": "POST",
              "supportsMediaUpload": true,
              "parameterOrder": [
                "packageName",
                "editId",
                "apkVersionCode",
                "deobfuscationFileType"
              ],
              "description": "Uploads a new deobfuscation file and attaches to the specified APK.",
              "mediaUpload": {
                "accept": [
                  "application/octet-stream"
                ],
                "maxSize": "1677721600",
                "protocols": {
                  "resumable": {
                    "multipart": true,
                    "path": "/resumable/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/deobfuscationFiles/{deobfuscationFileType}"
                  },
                  "simple": {
                    "multipart": true,
                    "path": "/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/deobfuscationFiles/{deobfuscationFileType}"
                  }
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/deobfuscationFiles/{deobfuscationFileType}",
              "id": "androidpublisher.edits.deobfuscationfiles.upload",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/deobfuscationFiles/{deobfuscationFileType}",
              "response": {
                "$ref": "DeobfuscationFilesUploadResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            }
          }
        },
        "countryavailability": {
          "methods": {
            "get": {
              "id": "androidpublisher.edits.countryavailability.get",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/countryAvailability/{track}",
              "response": {
                "$ref": "TrackCountryAvailability"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/countryAvailability/{track}",
              "httpMethod": "GET",
              "parameters": {
                "packageName": {
                  "location": "path",
                  "type": "string",
                  "description": "Package name of the app.",
                  "required": true
                },
                "editId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Identifier of the edit."
                },
                "track": {
                  "required": true,
                  "description": "The track to read from.",
                  "location": "path",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "packageName",
                "editId",
                "track"
              ],
              "description": "Gets country availability."
            }
          }
        },
        "expansionfiles": {
          "methods": {
            "get": {
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "response": {
                "$ref": "ExpansionFile"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "id": "androidpublisher.edits.expansionfiles.get",
              "parameterOrder": [
                "packageName",
                "editId",
                "apkVersionCode",
                "expansionFileType"
              ],
              "description": "Fetches the expansion file configuration for the specified APK.",
              "parameters": {
                "packageName": {
                  "required": true,
                  "description": "Package name of the app.",
                  "location": "path",
                  "type": "string"
                },
                "editId": {
                  "description": "Identifier of the edit.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "apkVersionCode": {
                  "description": "The version code of the APK whose expansion file configuration is being read or modified.",
                  "location": "path",
                  "required": true,
                  "format": "int32",
                  "type": "integer"
                },
                "expansionFileType": {
                  "location": "path",
                  "enumDescriptions": [
                    "Unspecified expansion file type.",
                    "Main expansion file.",
                    "Patch expansion file."
                  ],
                  "description": "The file type of the file configuration which is being read or modified.",
                  "type": "string",
                  "enum": [
                    "expansionFileTypeUnspecified",
                    "main",
                    "patch"
                  ],
                  "required": true
                }
              },
              "httpMethod": "GET"
            },
            "patch": {
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "id": "androidpublisher.edits.expansionfiles.patch",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "response": {
                "$ref": "ExpansionFile"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameters": {
                "apkVersionCode": {
                  "required": true,
                  "format": "int32",
                  "type": "integer",
                  "description": "The version code of the APK whose expansion file configuration is being read or modified.",
                  "location": "path"
                },
                "expansionFileType": {
                  "required": true,
                  "type": "string",
                  "enum": [
                    "expansionFileTypeUnspecified",
                    "main",
                    "patch"
                  ],
                  "description": "The file type of the expansion file configuration which is being updated.",
                  "enumDescriptions": [
                    "Unspecified expansion file type.",
                    "Main expansion file.",
                    "Patch expansion file."
                  ],
                  "location": "path"
                },
                "packageName": {
                  "description": "Package name of the app.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "editId": {
                  "location": "path",
                  "type": "string",
                  "description": "Identifier of the edit.",
                  "required": true
                }
              },
              "httpMethod": "PATCH",
              "parameterOrder": [
                "packageName",
                "editId",
                "apkVersionCode",
                "expansionFileType"
              ],
              "request": {
                "$ref": "ExpansionFile"
              },
              "description": "Patches the APK's expansion file configuration to reference another APK's expansion file. To add a new expansion file use the Upload method."
            },
            "update": {
              "parameters": {
                "editId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Identifier of the edit."
                },
                "packageName": {
                  "required": true,
                  "description": "Package name of the app.",
                  "location": "path",
                  "type": "string"
                },
                "apkVersionCode": {
                  "location": "path",
                  "description": "The version code of the APK whose expansion file configuration is being read or modified.",
                  "type": "integer",
                  "required": true,
                  "format": "int32"
                },
                "expansionFileType": {
                  "type": "string",
                  "enum": [
                    "expansionFileTypeUnspecified",
                    "main",
                    "patch"
                  ],
                  "required": true,
                  "location": "path",
                  "description": "The file type of the file configuration which is being read or modified.",
                  "enumDescriptions": [
                    "Unspecified expansion file type.",
                    "Main expansion file.",
                    "Patch expansion file."
                  ]
                }
              },
              "httpMethod": "PUT",
              "parameterOrder": [
                "packageName",
                "editId",
                "apkVersionCode",
                "expansionFileType"
              ],
              "request": {
                "$ref": "ExpansionFile"
              },
              "description": "Updates the APK's expansion file configuration to reference another APK's expansion file. To add a new expansion file use the Upload method.",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "id": "androidpublisher.edits.expansionfiles.update",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "response": {
                "$ref": "ExpansionFile"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "upload": {
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "response": {
                "$ref": "ExpansionFilesUploadResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "id": "androidpublisher.edits.expansionfiles.upload",
              "parameterOrder": [
                "packageName",
                "editId",
                "apkVersionCode",
                "expansionFileType"
              ],
              "description": "Uploads a new expansion file and attaches to the specified APK.",
              "mediaUpload": {
                "protocols": {
                  "resumable": {
                    "path": "/resumable/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
                    "multipart": true
                  },
                  "simple": {
                    "path": "/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
                    "multipart": true
                  }
                },
                "maxSize": "2147483648",
                "accept": [
                  "application/octet-stream"
                ]
              },
              "parameters": {
                "apkVersionCode": {
                  "type": "integer",
                  "required": true,
                  "format": "int32",
                  "location": "path",
                  "description": "The version code of the APK whose expansion file configuration is being read or modified."
                },
                "expansionFileType": {
                  "enumDescriptions": [
                    "Unspecified expansion file type.",
                    "Main expansion file.",
                    "Patch expansion file."
                  ],
                  "description": "The file type of the expansion file configuration which is being updated.",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "enum": [
                    "expansionFileTypeUnspecified",
                    "main",
                    "patch"
                  ]
                },
                "editId": {
                  "description": "Identifier of the edit.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "packageName": {
                  "required": true,
                  "description": "Package name of the app.",
                  "location": "path",
                  "type": "string"
                }
              },
              "httpMethod": "POST",
              "supportsMediaUpload": true
            }
          }
        },
        "listings": {
          "methods": {
            "update": {
              "httpMethod": "PUT",
              "parameters": {
                "packageName": {
                  "description": "Package name of the app.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "editId": {
                  "location": "path",
                  "type": "string",
                  "description": "Identifier of the edit.",
                  "required": true
                },
                "language": {
                  "required": true,
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German).",
                  "location": "path",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "packageName",
                "editId",
                "language"
              ],
              "request": {
                "$ref": "Listing"
              },
              "description": "Creates or updates a localized store listing.",
              "id": "androidpublisher.edits.listings.update",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}",
              "response": {
                "$ref": "Listing"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "delete": {
              "parameters": {
                "editId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Identifier of the edit."
                },
                "language": {
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German).",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "packageName": {
                  "required": true,
                  "description": "Package name of the app.",
                  "location": "path",
                  "type": "string"
                }
              },
              "httpMethod": "DELETE",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}",
              "id": "androidpublisher.edits.listings.delete",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}",
              "parameterOrder": [
                "packageName",
                "editId",
                "language"
              ],
              "description": "Deletes a localized store listing.",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "list": {
              "httpMethod": "GET",
              "parameters": {
                "packageName": {
                  "description": "Package name of the app.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "editId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Identifier of the edit."
                }
              },
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "description": "Lists all localized store listings.",
              "id": "androidpublisher.edits.listings.list",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings",
              "response": {
                "$ref": "ListingsListResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings"
            },
            "get": {
              "parameterOrder": [
                "packageName",
                "editId",
                "language"
              ],
              "description": "Gets a localized store listing.",
              "parameters": {
                "editId": {
                  "description": "Identifier of the edit.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "language": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German)."
                },
                "packageName": {
                  "description": "Package name of the app.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}",
              "response": {
                "$ref": "Listing"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}",
              "id": "androidpublisher.edits.listings.get"
            },
            "deleteall": {
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings",
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "description": "Deletes all store listings.",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "httpMethod": "DELETE",
              "parameters": {
                "editId": {
                  "description": "Identifier of the edit.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "packageName": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Package name of the app."
                }
              },
              "id": "androidpublisher.edits.listings.deleteall",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings"
            },
            "patch": {
              "parameterOrder": [
                "packageName",
                "editId",
                "language"
              ],
              "request": {
                "$ref": "Listing"
              },
              "description": "Patches a localized store listing.",
              "parameters": {
                "packageName": {
                  "description": "Package name of the app.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "editId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Identifier of the edit."
                },
                "language": {
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German).",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "httpMethod": "PATCH",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}",
              "response": {
                "$ref": "Listing"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}",
              "id": "androidpublisher.edits.listings.patch"
            }
          }
        }
      },
      "methods": {
        "commit": {
          "response": {
            "$ref": "AppEdit"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}:commit",
          "id": "androidpublisher.edits.commit",
          "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}:commit",
          "parameterOrder": [
            "packageName",
            "editId"
          ],
          "description": "Commits an app edit.",
          "httpMethod": "POST",
          "parameters": {
            "packageName": {
              "location": "path",
              "type": "string",
              "description": "Package name of the app.",
              "required": true
            },
            "editId": {
              "required": true,
              "description": "Identifier of the edit.",
              "location": "path",
              "type": "string"
            },
            "changesInReviewBehavior": {
              "type": "string",
              "enum": [
                "CHANGES_IN_REVIEW_BEHAVIOR_TYPE_UNSPECIFIED",
                "CANCEL_IN_REVIEW_AND_SUBMIT",
                "ERROR_IF_IN_REVIEW"
              ],
              "enumDescriptions": [
                "Defaults to CANCEL_IN_REVIEW_AND_SUBMIT.",
                "If there are changes already in review, then this will cancel that review first and then send all the changes for publishing.",
                "If there are changes in review, then this will return an error. Please refer to the error message sample that is returned when this happens. Note that this won't invalidate the edit. If there aren't any changes in review, then this will continue and send the new changes for publishing."
              ],
              "description": "Optional. Specify how the API should behave if there are changes currently in review. If this value is not set, it will default to \"CANCEL_IN_REVIEW_AND_SUBMIT\", which will cancel the changes in review and then send all the changes for publishing.",
              "location": "query"
            },
            "changesNotSentForReview": {
              "description": "When a rejection happens, the parameter will make sure that the changes in this edit won't be reviewed until they are explicitly sent for review from within the Google Play Console UI. These changes will be added to any other changes that are not yet sent for review.",
              "location": "query",
              "type": "boolean"
            }
          }
        },
        "delete": {
          "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}",
          "parameterOrder": [
            "packageName",
            "editId"
          ],
          "description": "Deletes an app edit.",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "httpMethod": "DELETE",
          "parameters": {
            "packageName": {
              "location": "path",
              "type": "string",
              "description": "Package name of the app.",
              "required": true
            },
            "editId": {
              "description": "Identifier of the edit.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "id": "androidpublisher.edits.delete",
          "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}"
        },
        "validate": {
          "httpMethod": "POST",
          "parameters": {
            "editId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Identifier of the edit."
            },
            "packageName": {
              "location": "path",
              "type": "string",
              "description": "Package name of the app.",
              "required": true
            }
          },
          "parameterOrder": [
            "packageName",
            "editId"
          ],
          "description": "Validates an app edit.",
          "id": "androidpublisher.edits.validate",
          "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}:validate",
          "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}:validate",
          "response": {
            "$ref": "AppEdit"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        },
        "insert": {
          "parameters": {
            "packageName": {
              "location": "path",
              "type": "string",
              "description": "Package name of the app.",
              "required": true
            }
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "packageName"
          ],
          "request": {
            "$ref": "AppEdit"
          },
          "description": "Creates a new edit for an app.",
          "path": "androidpublisher/v3/applications/{packageName}/edits",
          "id": "androidpublisher.edits.insert",
          "flatPath": "androidpublisher/v3/applications/{packageName}/edits",
          "response": {
            "$ref": "AppEdit"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        },
        "get": {
          "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}",
          "response": {
            "$ref": "AppEdit"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "id": "androidpublisher.edits.get",
          "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}",
          "parameterOrder": [
            "packageName",
            "editId"
          ],
          "description": "Gets an app edit.",
          "httpMethod": "GET",
          "parameters": {
            "editId": {
              "description": "Identifier of the edit.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "packageName": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Package name of the app."
            }
          }
        }
      }
    },
    "internalappsharingartifacts": {
      "methods": {
        "uploadbundle": {
          "parameters": {
            "packageName": {
              "description": "Package name of the app.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "httpMethod": "POST",
          "supportsMediaUpload": true,
          "parameterOrder": [
            "packageName"
          ],
          "description": "Uploads an app bundle to internal app sharing. If you are using the Google API client libraries, please increase the timeout of the http request before calling this endpoint (a timeout of 2 minutes is recommended). See [Timeouts and Errors](https://developers.google.com/api-client-library/java/google-api-java-client/errors) for an example in java.",
          "mediaUpload": {
            "maxSize": "10737418240",
            "accept": [
              "application/octet-stream"
            ],
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/bundle"
              },
              "resumable": {
                "path": "/resumable/upload/androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/bundle",
                "multipart": true
              }
            }
          },
          "path": "androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/bundle",
          "id": "androidpublisher.internalappsharingartifacts.uploadbundle",
          "flatPath": "androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/bundle",
          "response": {
            "$ref": "InternalAppSharingArtifact"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        },
        "uploadapk": {
          "parameters": {
            "packageName": {
              "required": true,
              "description": "Package name of the app.",
              "location": "path",
              "type": "string"
            }
          },
          "httpMethod": "POST",
          "supportsMediaUpload": true,
          "parameterOrder": [
            "packageName"
          ],
          "description": "Uploads an APK to internal app sharing. If you are using the Google API client libraries, please increase the timeout of the http request before calling this endpoint (a timeout of 2 minutes is recommended). See [Timeouts and Errors](https://developers.google.com/api-client-library/java/google-api-java-client/errors) for an example in java.",
          "mediaUpload": {
            "maxSize": "1073741824",
            "accept": [
              "application/octet-stream",
              "application/vnd.android.package-archive"
            ],
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/apk"
              },
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/apk"
              }
            }
          },
          "path": "androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/apk",
          "id": "androidpublisher.internalappsharingartifacts.uploadapk",
[...]
