{
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "basePath": "",
  "ownerDomain": "google.com",
  "name": "androidpublisher",
  "kind": "discovery#restDescription",
  "id": "androidpublisher:v3",
  "revision": "20260618",
  "parameters": {
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    }
  },
  "documentationLink": "https://developers.google.com/android-publisher",
  "ownerName": "Google",
  "batchPath": "batch",
  "protocol": "rest",
  "description": "Lets Android application developers access their Google Play accounts. At a high level, the expected workflow is to \"insert\" an Edit, make changes as necessary, and then \"commit\" it. ",
  "rootUrl": "https://androidpublisher.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/androidpublisher": {
          "description": "View and manage your Google Play Developer account"
        }
      }
    }
  },
  "baseUrl": "https://androidpublisher.googleapis.com/",
  "version": "v3",
  "servicePath": "",
  "schemas": {
    "TrackRelease": {
      "id": "TrackRelease",
      "description": "A release within a track.",
      "type": "object",
      "properties": {
        "status": {
          "enumDescriptions": [
            "Unspecified status.",
            "The release's APKs are not being served to users.",
            "The release's APKs are being served to a fraction of users, determined by 'user_fraction'.",
            "The release's APKs will no longer be served to users. Users who already have these APKs are unaffected.",
            "The release will have no further changes. Its APKs are being served to all users, unless they are eligible to APKs of a more recent release."
          ],
          "description": "The status of the release.",
          "type": "string",
          "enum": [
            "statusUnspecified",
            "draft",
            "inProgress",
            "halted",
            "completed"
          ]
        },
        "versionCodes": {
          "items": {
            "format": "int64",
            "type": "string"
          },
          "description": "Version codes of all APKs in the release. Must include version codes to retain from previous releases.",
          "type": "array"
        },
        "userFraction": {
          "format": "double",
          "description": "Fraction of users who are eligible for a staged release. 0 < fraction < 1. Can only be set when status is \"inProgress\" or \"halted\".",
          "type": "number"
        },
        "name": {
          "description": "The release name. Not required to be unique. If not set, the name is generated from the APK's version_name. If the release contains multiple APKs, the name is generated from the date.",
          "type": "string"
        },
        "releaseNotes": {
          "description": "A description of what is new in this release.",
          "type": "array",
          "items": {
            "$ref": "LocalizedText"
          }
        },
        "countryTargeting": {
          "description": "Restricts a release to a specific set of countries. Note this is only allowed to be set for inProgress releases in the production track.",
          "$ref": "CountryTargeting"
        },
        "inAppUpdatePriority": {
          "format": "int32",
          "description": "In-app update priority of the release. All newly added APKs in the release will be considered at this priority. Can take values in the range [0, 5], with 5 the highest priority. Defaults to 0. in_app_update_priority can not be updated once the release is rolled out. See https://developer.android.com/guide/playcore/in-app-updates.",
          "type": "integer"
        }
      }
    },
    "OnHoldStateContext": {
      "id": "OnHoldStateContext",
      "description": "Additional context around subscriptions in ON_HOLD state.",
      "type": "object",
      "properties": {
        "renewalDeclined": {
          "description": "Optional. The payment for the renewal was declined.",
          "$ref": "RenewalDeclinedContext"
        }
      }
    },
    "RevocationContextFullRefund": {
      "id": "RevocationContextFullRefund",
      "description": "Used to determine if the refund type in the RevocationContext is a full refund.",
      "type": "object",
      "properties": {}
    },
    "DeferralContext": {
      "description": "Deferral context of the purchases.subscriptionsv2.defer API.",
      "type": "object",
      "properties": {
        "deferDuration": {
          "format": "google-duration",
          "description": "Required. The duration by which all subscription items should be deferred.",
          "type": "string"
        },
        "etag": {
          "description": "Required. The API will fail if the etag does not match the latest etag for this subscription. The etag is retrieved from purchases.subscriptionsv2.get: https://developers.google.com/android-publisher/api-ref/rest/v3/purchases.subscriptionsv2/get",
          "type": "string"
        },
        "validateOnly": {
          "description": "If set to \"true\", the request is a dry run to validate the effect of Defer, the subscription would not be impacted.",
          "type": "boolean"
        }
      },
      "id": "DeferralContext"
    },
    "TargetingRuleScopeAnySubscriptionInApp": {
      "description": "Represents the targeting rule scope corresponding to any subscription in the parent app.",
      "type": "object",
      "properties": {},
      "id": "TargetingRuleScopeAnySubscriptionInApp"
    },
    "ProcessedEvent": {
      "description": "Details of when the order was processed.",
      "type": "object",
      "properties": {
        "eventTime": {
          "format": "google-datetime",
          "description": "The time when the order was processed.",
          "type": "string"
        }
      },
      "id": "ProcessedEvent"
    },
    "GetSubscriptionOfferRequest": {
      "id": "GetSubscriptionOfferRequest",
      "properties": {
        "packageName": {
          "description": "Required. The parent app (package name) of the offer to get.",
          "type": "string"
        },
        "productId": {
          "description": "Required. The parent subscription (ID) of the offer to get.",
          "type": "string"
        },
        "basePlanId": {
          "description": "Required. The parent base plan (ID) of the offer to get.",
          "type": "string"
        },
        "offerId": {
          "description": "Required. The unique offer ID of the offer to get.",
          "type": "string"
        }
      },
      "description": "Request message for GetSubscriptionOffer.",
      "type": "object"
    },
    "CountryTargeting": {
      "id": "CountryTargeting",
      "description": "Country targeting specification.",
      "type": "object",
      "properties": {
        "countries": {
          "items": {
            "type": "string"
          },
          "description": "Countries to target, specified as two letter [CLDR codes](https://unicode.org/cldr/charts/latest/supplemental/territory_containment_un_m_49.html).",
          "type": "array"
        },
        "includeRestOfWorld": {
          "description": "Include \"rest of world\" as well as explicitly targeted countries.",
          "type": "boolean"
        }
      }
    },
    "OneTimePurchaseDetails": {
      "id": "OneTimePurchaseDetails",
      "properties": {
        "offerId": {
          "description": "The offer ID of the one-time purchase offer.",
          "type": "string"
        },
        "rentalDetails": {
          "description": "The details of a rent purchase. Only set if it is a rent purchase.",
          "$ref": "RentalDetails"
        },
        "quantity": {
          "format": "int32",
          "description": "The number of items purchased (for multi-quantity item purchases).",
          "type": "integer"
        },
        "purchaseOptionId": {
          "description": "ID of the purchase option. This field is set for both purchase options and variant offers. For purchase options, this ID identifies the purchase option itself. For variant offers, this ID refers to the associated purchase option, and in conjunction with offer_id it identifies the variant offer.",
          "type": "string"
        },
        "preorderDetails": {
          "description": "The details of a pre-order purchase. Only set if it is a pre-order purchase. Note that this field will be set even after pre-order is fulfilled.",
          "$ref": "PreorderDetails"
        }
      },
      "description": "Details of a one-time purchase.",
      "type": "object"
    },
    "BatchUpdatePurchaseOptionStatesRequest": {
      "id": "BatchUpdatePurchaseOptionStatesRequest",
      "description": "Request message for BatchUpdatePurchaseOptionStates.",
      "type": "object",
      "properties": {
        "requests": {
          "description": "Required. The update request list of up to 100 elements. All requests must update different purchase options.",
          "type": "array",
          "items": {
            "$ref": "UpdatePurchaseOptionStateRequest"
          }
        }
      }
    },
    "MigrateBasePlanPricesRequest": {
      "id": "MigrateBasePlanPricesRequest",
      "properties": {
        "latencyTolerance": {
          "enumDescriptions": [
            "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
            "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
            "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
          ],
          "description": "Optional. The latency tolerance for the propagation of this product update. Defaults to latency-sensitive.",
          "type": "string",
          "enum": [
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
          ]
        },
        "packageName": {
          "description": "Required. Package name of the parent app. Must be equal to the package_name field on the Subscription resource.",
          "type": "string"
        },
        "regionsVersion": {
          "description": "Required. The version of the available regions being used for the regional_price_migrations.",
          "$ref": "RegionsVersion"
        },
        "basePlanId": {
          "description": "Required. The unique base plan ID of the base plan to update prices on.",
          "type": "string"
        },
        "regionalPriceMigrations": {
          "items": {
            "$ref": "RegionalPriceMigrationConfig"
          },
          "description": "Required. The regional prices to update.",
          "type": "array"
        },
        "productId": {
          "description": "Required. The ID of the subscription to update. Must be equal to the product_id field on the Subscription resource.",
          "type": "string"
        }
      },
      "description": "Request message for MigrateBasePlanPrices.",
      "type": "object"
    },
    "AssetSliceSet": {
      "id": "AssetSliceSet",
      "description": "Set of asset slices belonging to a single asset module.",
      "type": "object",
      "properties": {
        "apkDescription": {
          "items": {
            "$ref": "ApkDescription"
          },
          "description": "Asset slices.",
          "type": "array"
        },
        "assetModuleMetadata": {
          "description": "Module level metadata.",
          "$ref": "AssetModuleMetadata"
        }
      }
    },
    "BatchUpdateBasePlanStatesResponse": {
      "properties": {
        "subscriptions": {
          "items": {
            "$ref": "Subscription"
          },
          "description": "The list of updated subscriptions. This list will match the requests one to one, in the same order.",
          "type": "array"
        }
      },
      "description": "Response message for BatchUpdateBasePlanStates.",
      "type": "object",
      "id": "BatchUpdateBasePlanStatesResponse"
    },
    "SystemApkOptions": {
      "properties": {
        "uncompressedDexFiles": {
          "description": "Whether system APK was generated with uncompressed dex files.",
          "type": "boolean"
        },
        "rotated": {
          "description": "Whether to use the rotated key for signing the system APK.",
          "type": "boolean"
        },
        "uncompressedNativeLibraries": {
          "description": "Whether system APK was generated with uncompressed native libraries.",
          "type": "boolean"
        }
      },
      "description": "Options for system APKs.",
      "type": "object",
      "id": "SystemApkOptions"
    },
    "RecurringExternalTransaction": {
      "properties": {
        "initialExternalTransactionId": {
          "description": "The external transaction id of the first transaction of this recurring series of transactions. For example, for a subscription this would be the transaction id of the first payment. Required when creating recurring external transactions.",
          "type": "string"
        },
        "externalTransactionToken": {
          "description": "Input only. Provided during the call to Create. Retrieved from the client when the alternative billing flow is launched. Required only for the initial purchase.",
          "type": "string"
        },
        "otherRecurringProduct": {
          "description": "Details of a recurring external transaction product which doesn't belong to any other specific category.",
          "$ref": "OtherRecurringProduct"
        },
        "migratedTransactionProgram": {
          "enumDescriptions": [
            "Unspecified transaction program. Not used.",
            "User choice billing, where a user may choose between Google Play Billing developer-managed billing.",
            "Alternative billing only, where users may only use developer-manager billing."
          ],
          "description": "Input only. Provided during the call to Create. Must only be used when migrating a subscription from manual monthly reporting to automated reporting.",
          "type": "string",
          "enum": [
            "EXTERNAL_TRANSACTION_PROGRAM_UNSPECIFIED",
            "USER_CHOICE_BILLING",
            "ALTERNATIVE_BILLING_ONLY"
          ]
        },
        "externalSubscription": {
          "description": "Details of an external subscription.",
          "$ref": "ExternalSubscription"
        }
      },
      "description": "Represents a transaction that is part of a recurring series of payments. This can be a subscription or a one-time product with multiple payments (such as preorder).",
      "type": "object",
      "id": "RecurringExternalTransaction"
    },
    "ProrationPeriodDetails": {
      "properties": {
        "originalOfferPhase": {
          "enumDescriptions": [
            "Offer phase unspecified. This value is not used.",
            "The order funds a base price period.",
            "The order funds an introductory pricing period.",
            "The order funds a free trial period."
          ],
          "description": "Represent the original offer phase from the purchased the line item if the proration period contains any of them. For example, a proration period from CHARGE_FULL_PRICE plan change may merge the 1st offer phase of the subscription offer of the new product user purchased. In this case, the original offer phase will be set here.",
          "type": "string",
          "enum": [
            "OFFER_PHASE_UNSPECIFIED",
            "BASE",
            "INTRODUCTORY",
            "FREE_TRIAL"
          ]
        }
      },
      "description": "Details of a proration period. A proration period can be a period calculated during a plan change to cover existing entitlements (For more information, see [Allow users to upgrade, downgrade, or change their subscription](https://developer.android.com/google/play/billing/subscriptions#allow-users-change), or a prorated period to align add-on renewal dates with the base (For more information, see [Rules applicable for items in the purchase](https://developer.android.com/google/play/billing/subscription-with-addons#rules-base-addons)).",
      "type": "object",
      "id": "ProrationPeriodDetails"
    },
    "BatchGetSubscriptionOffersRequest": {
      "id": "BatchGetSubscriptionOffersRequest",
      "description": "Request message for BatchGetSubscriptionOffers endpoint.",
      "type": "object",
      "properties": {
        "requests": {
          "items": {
            "$ref": "GetSubscriptionOfferRequest"
          },
          "description": "Required. A list of update requests of up to 100 elements. All requests must update different subscriptions.",
          "type": "array"
        }
      }
    },
    "SubscriptionPurchaseV2": {
      "id": "SubscriptionPurchaseV2",
      "description": "Indicates the status of a user's subscription purchase.",
      "type": "object",
      "properties": {
        "latestOrderId": {
          "deprecated": true,
          "description": "Deprecated: Use line_items.latest_successful_order_id instead. The order id of the latest order associated with the purchase of the subscription. For autoRenewing subscription, this is the order id of signup order if it is not renewed yet, or the last recurring order id (success, pending, or declined order). For prepaid subscription, this is the order id associated with the queried purchase token.",
          "type": "string"
        },
        "startTime": {
          "description": "Time at which the subscription was granted. Not set for pending subscriptions (subscription was created but awaiting payment during signup).",
          "type": "string",
          "format": "google-datetime"
        },
        "regionCode": {
          "description": "ISO 3166-1 alpha-2 billing country/region code of the user at the time the subscription was granted.",
          "type": "string"
        },
        "acknowledgementState": {
          "description": "The acknowledgement state of the subscription.",
          "type": "string",
          "enum": [
            "ACKNOWLEDGEMENT_STATE_UNSPECIFIED",
            "ACKNOWLEDGEMENT_STATE_PENDING",
            "ACKNOWLEDGEMENT_STATE_ACKNOWLEDGED"
          ],
          "enumDescriptions": [
            "Unspecified acknowledgement state.",
            "The subscription is not acknowledged yet.",
            "The subscription is acknowledged."
          ]
        },
        "linkedPurchaseToken": {
          "description": "The purchase token of the old subscription if this subscription is one of the following: * Re-signup of a canceled but non-lapsed subscription * Upgrade/downgrade from a previous subscription. * Convert from prepaid to auto renewing subscription. * Convert from an auto renewing subscription to prepaid. * Topup a prepaid subscription.",
          "type": "string"
        },
        "testPurchase": {
          "description": "Only present if this subscription purchase is a test purchase.",
          "$ref": "TestPurchase"
        },
        "outOfAppPurchaseContext": {
          "description": "Additional context for out of app purchases. This information is only present for re-subscription purchases (subscription purchases made after the previous subscription of the same product has expired) made through the Google Play subscriptions center. This field will be removed after you acknowledge the subscription.",
          "$ref": "OutOfAppPurchaseContext"
        },
        "inGracePeriodStateContext": {
          "description": "Optional. Additional context around subscriptions in IN_GRACE_PERIOD state. Only present if the subscription currently has subscription_state SUBSCRIPTION_STATE_IN_GRACE_PERIOD.",
          "$ref": "InGracePeriodStateContext"
        },
        "pausedStateContext": {
          "description": "Additional context around paused subscriptions. Only present if the subscription currently has subscription_state SUBSCRIPTION_STATE_PAUSED.",
          "$ref": "PausedStateContext"
        },
        "canceledStateContext": {
          "description": "Additional context around canceled subscriptions. Only present if the subscription currently has subscription_state SUBSCRIPTION_STATE_CANCELED or SUBSCRIPTION_STATE_EXPIRED.",
          "$ref": "CanceledStateContext"
        },
        "subscriptionState": {
          "enumDescriptions": [
            "Unspecified subscription state.",
            "Subscription was created but awaiting payment during signup. In this state, all items are awaiting payment.",
            "Subscription is active. - (1) If the subscription is an auto renewing plan, at least one item is auto_renew_enabled and not expired. - (2) If the subscription is a prepaid plan, at least one item is not expired.",
            "Subscription is paused. The state is only available when the subscription is an auto renewing plan. In this state, all items are in paused state.",
            "Subscription is in grace period. The state is only available when the subscription is an auto renewing plan. In this state, all items are in grace period.",
            "Subscription is on hold (suspended). The state is only available when the subscription is an auto renewing plan. In this state, all items are on hold.",
            "Subscription is canceled but not expired yet. The state is only available when the subscription is an auto renewing plan. All items have auto_renew_enabled set to false.",
            "Subscription is expired. All items have expiry_time in the past.",
            "Pending transaction for subscription is canceled. If this pending purchase was for an existing subscription, use linked_purchase_token to get the current state of that subscription."
          ],
          "description": "The current state of the subscription.",
          "type": "string",
          "enum": [
            "SUBSCRIPTION_STATE_UNSPECIFIED",
            "SUBSCRIPTION_STATE_PENDING",
            "SUBSCRIPTION_STATE_ACTIVE",
            "SUBSCRIPTION_STATE_PAUSED",
            "SUBSCRIPTION_STATE_IN_GRACE_PERIOD",
            "SUBSCRIPTION_STATE_ON_HOLD",
            "SUBSCRIPTION_STATE_CANCELED",
            "SUBSCRIPTION_STATE_EXPIRED",
            "SUBSCRIPTION_STATE_PENDING_PURCHASE_CANCELED"
          ]
        },
        "externalAccountIdentifiers": {
          "description": "User account identifier in the third-party service.",
          "$ref": "ExternalAccountIdentifiers"
        },
        "subscribeWithGoogleInfo": {
          "description": "User profile associated with purchases made with 'Subscribe with Google'.",
          "$ref": "SubscribeWithGoogleInfo"
        },
        "onHoldStateContext": {
          "description": "Optional. Additional context around subscriptions in ON_HOLD state. Only present if the subscription currently has subscription_state SUBSCRIPTION_STATE_ON_HOLD.",
          "$ref": "OnHoldStateContext"
        },
        "lineItems": {
          "description": "Item-level info for a subscription purchase. The items in the same purchase should be either all with AutoRenewingPlan or all with PrepaidPlan.",
          "type": "array",
          "items": {
            "$ref": "SubscriptionPurchaseLineItem"
          }
        },
        "etag": {
          "description": "Entity tag representing the current state of the subscription. The developer will provide this etag for subscription actions. This etag is always present for auto-renewing and prepaid subscriptions.",
          "type": "string"
        },
        "kind": {
          "description": "This kind represents a SubscriptionPurchaseV2 object in the androidpublisher service.",
          "type": "string"
        }
      }
    },
    "BatchGetOneTimeProductOffersRequest": {
      "id": "BatchGetOneTimeProductOffersRequest",
      "description": "Request message for the BatchGetOneTimeProductOffers endpoint.",
      "type": "object",
      "properties": {
        "requests": {
          "description": "Required. A list of get requests of up to 100 elements. All requests must retrieve different offers.",
          "type": "array",
          "items": {
            "$ref": "GetOneTimeProductOfferRequest"
          }
        }
      }
    },
    "Order": {
      "description": "The Order resource encapsulates comprehensive information about a transaction made on Google Play. It includes a variety of attributes that provide details about the order itself, the products purchased, and the history of events related to the order. The Orders APIs provide real-time access to your order data within the Google Play ecosystem. You can retrieve detailed information and metadata for both one-time and recurring orders, including transaction details like charges, taxes, and refunds, as well as metadata such as pricing phases for subscriptions. The Orders APIs let you automate tasks related to order management, reducing the need for manual checks via the Play Developer Console. The following are some of the use cases for this API: + Real-time order data retrieval - Get order details and metadata immediately after a purchase using an order ID. + Order update synchronization - Periodically sync order updates to maintain an up-to-date record of order information. Note: + The Orders API calls count towards your Play Developer API quota, which defaults to 200K daily, and may be insufficient to sync extensive order histories. + A maximum of 1000 orders can be retrieved per call. Using larger page sizes is recommended to minimize quota usage. Check your quota in the Cloud Console and request more if required.",
      "type": "object",
      "properties": {
        "tax": {
          "description": "The total tax paid as a part of this order.",
          "$ref": "Money"
        },
        "orderHistory": {
          "description": "Details about events which modified the order.",
          "$ref": "OrderHistory"
        },
        "orderId": {
          "description": "The order ID.",
          "type": "string"
        },
        "lastEventTime": {
          "description": "The time of the last event that occurred on the order.",
          "type": "string",
          "format": "google-datetime"
        },
        "developerRevenueInBuyerCurrency": {
          "description": "Your revenue for this order in the buyer's currency, including deductions of partial refunds, taxes and fees. Google deducts standard transaction and third party fees from each sale, including VAT in some regions.",
          "$ref": "Money"
        },
        "buyerAddress": {
          "description": "Address information for the customer, for use in tax computation. When Google is the Merchant of Record for the order, only country is shown.",
          "$ref": "BuyerAddress"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "The time when the order was created.",
          "type": "string"
        },
        "pointsDetails": {
          "description": "Play points applied to the order, including offer information, discount rate and point values.",
          "$ref": "PointsDetails"
        },
        "lineItems": {
          "description": "The individual line items making up this order.",
          "type": "array",
          "items": {
            "$ref": "LineItem"
          }
        },
        "state": {
          "description": "The state of the order.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "PROCESSED",
            "CANCELED",
            "PENDING_REFUND",
            "PARTIALLY_REFUNDED",
            "REFUNDED"
          ],
          "enumDescriptions": [
            "State unspecified. This value is not used.",
            "Order has been created and is waiting to be processed.",
            "Order has been successfully processed.",
            "Order was canceled before being processed.",
            "Requested refund is waiting to be processed.",
            "Part of the order amount was refunded.",
            "The full order amount was refunded."
          ]
        },
        "total": {
          "description": "The final amount paid by the customer, taking into account discounts and taxes.",
          "$ref": "Money"
        },
        "purchaseToken": {
          "description": "The token provided to the user's device when the subscription or item was purchased.",
          "type": "string"
        },
        "orderDetails": {
          "description": "Detailed information about the order at creation time.",
          "$ref": "OrderDetails"
        },
        "salesChannel": {
          "enumDescriptions": [
            "Sales channel unspecified. This value is not used.",
            "Standard orders that initiated from in-app.",
            "Orders initiated from a PC emulator for in-app purchases.",
            "Orders initiated from a native PC app for in-app purchases.",
            "Orders initiated from the Google Play store.",
            "Orders initiated outside the Google Play store."
          ],
          "description": "The originating sales channel of the order.",
          "type": "string",
          "enum": [
            "SALES_CHANNEL_UNSPECIFIED",
            "IN_APP",
            "PC_EMULATOR",
            "NATIVE_PC",
            "PLAY_STORE",
            "OUTSIDE_PLAY_STORE"
          ]
        }
      },
      "id": "Order"
    },
    "ConvertRegionPricesRequest": {
      "id": "ConvertRegionPricesRequest",
      "description": "Request message for ConvertRegionPrices.",
      "type": "object",
      "properties": {
        "productTaxCategoryCode": {
          "description": "Optional. Product tax category code in context. Product tax category determines the transaction tax rates applied to the product that will be factored into the price calculation. If not set, tax rates for the default product tax category will be used. Refer to the [Help Center article](https://support.google.com/googleplay/android-developer/answer/16408159) for more information.",
          "type": "string"
        },
        "price": {
          "description": "The intital price to convert other regions from. Tax exclusive.",
          "$ref": "Money"
        }
      }
    },
    "OneTimeProductRentPurchaseOption": {
      "description": "A purchase option that can be rented.",
      "type": "object",
      "properties": {
        "rentalPeriod": {
          "description": "Required. The amount of time a user has the entitlement for. Starts at purchase flow completion. Specified in ISO 8601 format.",
          "type": "string"
        },
        "expirationPeriod": {
          "description": "Optional. The amount of time the user has after starting consuming the entitlement before it is revoked. Specified in ISO 8601 format.",
          "type": "string"
        }
      },
      "id": "OneTimeProductRentPurchaseOption"
    },
    "TestPurchase": {
      "properties": {},
      "description": "Whether this subscription purchase is a test purchase.",
      "type": "object",
      "id": "TestPurchase"
    },
    "DeployAppRecoveryRequest": {
      "properties": {},
      "description": "Request message for DeployAppRecovery.",
      "type": "object",
      "id": "DeployAppRecoveryRequest"
    },
    "InappproductsDeleteRequest": {
      "id": "InappproductsDeleteRequest",
      "description": "Request to delete an in-app product.",
      "type": "object",
      "properties": {
        "latencyTolerance": {
          "description": "Optional. The latency tolerance for the propagation of this product update. Defaults to latency-sensitive.",
          "type": "string",
          "enum": [
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
          ],
          "enumDescriptions": [
            "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
            "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
            "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
          ]
        },
        "packageName": {
          "description": "Package name of the app.",
          "type": "string"
        },
        "sku": {
          "description": "Unique identifier for the in-app product.",
          "type": "string"
        }
      }
    },
    "DeferredItemReplacement": {
      "id": "DeferredItemReplacement",
      "description": "Information related to deferred item replacement.",
      "type": "object",
      "properties": {
        "productId": {
          "description": "The product_id going to replace the existing product_id.",
          "type": "string"
        }
      }
    },
    "ModuleTargeting": {
      "description": "Targeting on the module level.",
      "type": "object",
      "properties": {
        "userCountriesTargeting": {
          "description": "Countries-level targeting",
          "$ref": "UserCountriesTargeting"
        },
        "deviceFeatureTargeting": {
          "description": "Targeting for device features.",
          "type": "array",
          "items": {
            "$ref": "DeviceFeatureTargeting"
          }
        },
        "sdkVersionTargeting": {
          "description": "The sdk version that the variant targets",
          "$ref": "SdkVersionTargeting"
        }
      },
      "id": "ModuleTargeting"
    },
    "DeveloperComment": {
      "id": "DeveloperComment",
      "properties": {
        "text": {
          "description": "The content of the comment, i.e. reply body.",
          "type": "string"
        },
        "lastModified": {
          "description": "The last time at which this comment was updated.",
          "$ref": "Timestamp"
        }
      },
      "description": "Developer entry from conversation between user and developer.",
      "type": "object"
    },
    "PurchaseOptionTaxAndComplianceSettings": {
      "properties": {
        "withdrawalRightType": {
          "description": "Optional. Digital content or service classification for products distributed to users in eligible regions. If unset, it defaults to `WITHDRAWAL_RIGHT_DIGITAL_CONTENT`. Refer to the [Help Center article](https://support.google.com/googleplay/android-developer/answer/10463498) for more information.",
          "type": "string",
          "enum": [
            "WITHDRAWAL_RIGHT_TYPE_UNSPECIFIED",
            "WITHDRAWAL_RIGHT_DIGITAL_CONTENT",
            "WITHDRAWAL_RIGHT_SERVICE"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      },
      "description": "Details about taxation, Google Play policy and legal compliance for one-time product purchase options.",
      "type": "object",
      "id": "PurchaseOptionTaxAndComplianceSettings"
    },
    "VanityCode": {
      "properties": {
        "promotionCode": {
          "description": "The promotion code.",
          "type": "string"
        }
      },
      "description": "A multiple use, predefined promotion code.",
      "type": "object",
      "id": "VanityCode"
    },
    "OtherRecurringProduct": {
      "properties": {},
      "description": "Details of a recurring external transaction product which doesn't belong to any other more specific category.",
      "type": "object",
      "id": "OtherRecurringProduct"
    },
    "DeviceFeature": {
      "properties": {
        "featureName": {
          "description": "Name of the feature.",
          "type": "string"
        },
        "featureVersion": {
          "format": "int32",
          "description": "The feature version specified by android:glEsVersion or android:version in in the AndroidManifest.",
          "type": "integer"
        }
      },
      "description": "Represents a device feature.",
      "type": "object",
      "id": "DeviceFeature"
    },
    "ReviewsListResponse": {
      "id": "ReviewsListResponse",
      "properties": {
        "reviews": {
          "items": {
            "$ref": "Review"
          },
          "description": "List of reviews.",
          "type": "array"
        },
        "tokenPagination": {
          "description": "Pagination token, to handle a number of products that is over one page.",
          "$ref": "TokenPagination"
        },
        "pageInfo": {
          "description": "Information about the current page.",
          "$ref": "PageInfo"
        }
      },
      "description": "Response listing reviews.",
      "type": "object"
    },
    "TrackConfig": {
      "properties": {
        "formFactor": {
          "enumDescriptions": [
            "Fallback value, do not use.",
            "Default track.",
            "Wear form factor track.",
            "Automotive form factor track."
          ],
          "description": "Required. Form factor of the new track. Defaults to the default track.",
          "type": "string",
          "enum": [
            "FORM_FACTOR_UNSPECIFIED",
            "DEFAULT",
            "WEAR",
            "AUTOMOTIVE"
          ]
        },
        "track": {
          "description": "Required. Identifier of the new track. For default tracks, this field consists of the track alias only. Form factor tracks have a special prefix as an identifier, for example `wear:production`, `automotive:production`. This prefix must match the value of the `form_factor` field, if it is not a default track. [More on track name](https://developers.google.com/android-publisher/tracks#ff-track-name)",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "Fallback value, do not use.",
            "Closed testing track."
          ],
          "description": "Required. Type of the new track. Currently, the only supported value is closedTesting.",
          "type": "string",
          "enum": [
            "TRACK_TYPE_UNSPECIFIED",
            "CLOSED_TESTING"
          ]
        }
      },
      "description": "Configurations of the new track.",
      "type": "object",
      "id": "TrackConfig"
    },
    "AppEdit": {
      "properties": {
        "id": {
          "readOnly": true,
          "description": "Output only. Identifier of the edit. Can be used in subsequent API calls.",
          "type": "string"
        },
        "expiryTimeSeconds": {
          "description": "Output only. The time (as seconds since Epoch) at which the edit will expire and will be no longer valid for use.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "An app edit. The resource for EditsService.",
      "type": "object",
      "id": "AppEdit"
    },
    "ExternalAccountIds": {
      "description": "User account identifier in your app.",
      "type": "object",
      "properties": {
        "obfuscatedAccountId": {
          "description": "Optional. Specifies an optional obfuscated string that is uniquely associated with the purchaser's user account in your app. If you pass this value, Google Play can use it to detect irregular activity. Do not use this field to store any Personally Identifiable Information (PII) such as emails in cleartext. Attempting to store PII in this field will result in purchases being blocked. Google Play recommends that you use either encryption or a one-way hash to generate an obfuscated identifier to send to Google Play. This identifier is limited to 64 characters. This field can only be set for resubscription purchases. See https://developer.android.com/reference/com/android/billingclient/api/BillingFlowParams.Builder#setobfuscatedaccountid to set this field for purchases made using the standard in-app billing flow.",
          "type": "string"
        },
        "obfuscatedProfileId": {
          "description": "Optional. Specifies an optional obfuscated string that is uniquely associated with the purchaser's user profile in your app. If you pass this value, Google Play can use it to detect irregular activity. Do not use this field to store any Personally Identifiable Information (PII) such as emails in cleartext. Attempting to store PII in this field will result in purchases being blocked. Google Play recommends that you use either encryption or a one-way hash to generate an obfuscated identifier to send to Google Play. This identifier is limited to 64 characters. This field can only be set for resubscription purchases. See https://developer.android.com/reference/com/android/billingclient/api/BillingFlowParams.Builder#setobfuscatedprofileid to set this field for purchases made using the standard in-app billing flow.",
          "type": "string"
        }
      },
      "id": "ExternalAccountIds"
    },
    "RemoteInAppUpdateData": {
      "properties": {
        "remoteAppUpdateDataPerBundle": {
          "description": "Data related to the recovery action at bundle level.",
          "type": "array",
          "items": {
            "$ref": "RemoteInAppUpdateDataPerBundle"
          }
        }
      },
      "description": "Data related to Remote In-App Update action such as recovered user count, affected user count etc.",
      "type": "object",
      "id": "RemoteInAppUpdateData"
    },
    "ProductPurchasesAcknowledgeRequest": {
      "id": "ProductPurchasesAcknowledgeRequest",
      "description": "Request for the product.purchases.acknowledge API.",
      "type": "object",
      "properties": {
        "developerPayload": {
          "description": "Payload to attach to the purchase.",
          "type": "string"
        }
      }
    },
    "ApksAddExternallyHostedRequest": {
      "properties": {
        "externallyHostedApk": {
          "description": "The definition of the externally-hosted APK and where it is located.",
          "$ref": "ExternallyHostedApk"
        }
      },
      "description": "Request to create a new externally hosted APK.",
      "type": "object",
      "id": "ApksAddExternallyHostedRequest"
    },
    "DeleteOneTimeProductRequest": {
      "properties": {
        "productId": {
          "description": "Required. The one-time product ID of the one-time product to delete.",
          "type": "string"
        },
        "latencyTolerance": {
          "description": "Optional. The latency tolerance for the propagation of this product update. Defaults to latency-sensitive.",
          "type": "string",
          "enum": [
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
          ],
          "enumDescriptions": [
            "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
            "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
            "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
          ]
        },
        "packageName": {
          "description": "Required. The parent app (package name) of the one-time product to delete.",
          "type": "string"
        }
      },
      "description": "Request message for deleting a one-time product.",
      "type": "object",
      "id": "DeleteOneTimeProductRequest"
    },
    "ListAppRecoveriesResponse": {
      "id": "ListAppRecoveriesResponse",
      "description": "Response message for ListAppRecoveries. -- api-linter: core::0158::response-next-page-token-field=disabled",
      "type": "object",
      "properties": {
        "recoveryActions": {
          "description": "List of recovery actions associated with the requested package name.",
          "type": "array",
          "items": {
            "$ref": "AppRecoveryAction"
          }
        }
      }
    },
    "BatchUpdateOneTimeProductsRequest": {
      "id": "BatchUpdateOneTimeProductsRequest",
      "description": "Request message for BatchUpdateOneTimeProduct.",
      "type": "object",
      "properties": {
        "requests": {
          "items": {
            "$ref": "UpdateOneTimeProductRequest"
          },
          "description": "Required. A list of update requests of up to 100 elements. All requests must update different one-time products.",
          "type": "array"
        }
      }
    },
    "GeneratedUniversalApk": {
      "properties": {
        "downloadId": {
          "description": "Download ID, which uniquely identifies the APK to download. Should be supplied to `generatedapks.download` method.",
          "type": "string"
        }
      },
      "description": "Download metadata for a universal APK.",
      "type": "object",
      "id": "GeneratedUniversalApk"
    },
    "OneTimeProductPurchaseOption": {
      "id": "OneTimeProductPurchaseOption",
      "description": "A single purchase option for a one-time product.",
      "type": "object",
      "properties": {
        "newRegionsConfig": {
          "description": "Pricing information for any new locations Play may launch in the future. If omitted, the purchase option will not be automatically available in any new locations Play may launch in the future.",
          "$ref": "OneTimeProductPurchaseOptionNewRegionsConfig"
        },
        "offerTags": {
          "description": "Optional. List of up to 20 custom tags specified for this purchase option, and returned to the app through the billing library. Offers for this purchase option will also receive these tags in the billing library.",
          "type": "array",
          "items": {
            "$ref": "OfferTag"
          }
        },
        "purchaseOptionId": {
          "description": "Required. Immutable. The unique identifier of this purchase option. Must be unique within the one-time product. It must start with a number or lower-case letter, and can only contain lower-case letters (a-z), numbers (0-9), and hyphens (-). The maximum length is 63 characters.",
          "type": "string"
        },
        "taxAndComplianceSettings": {
          "description": "Optional. Details about taxes and legal compliance.",
          "$ref": "PurchaseOptionTaxAndComplianceSettings"
        },
        "buyOption": {
          "description": "A purchase option that can be bought.",
          "$ref": "OneTimeProductBuyPurchaseOption"
        },
        "regionalPricingAndAvailabilityConfigs": {
          "description": "Regional pricing and availability information for this purchase option.",
          "type": "array",
          "items": {
            "$ref": "OneTimeProductPurchaseOptionRegionalPricingAndAvailabilityConfig"
          }
        },
        "rentOption": {
          "description": "A purchase option that can be rented.",
          "$ref": "OneTimeProductRentPurchaseOption"
        },
        "state": {
          "enumDescriptions": [
            "Default value, should never be used.",
            "The purchase option is not and has never been available to users.",
            "The purchase option is available to users.",
            "The purchase option is not available to users anymore.",
            "The purchase option is not available for purchase anymore, but we continue to expose its offer via the Play Billing Library for backwards compatibility. Only automatically migrated purchase options can be in this state."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "DRAFT",
            "ACTIVE",
            "INACTIVE",
            "INACTIVE_PUBLISHED"
          ],
          "readOnly": true,
          "description": "Output only. The state of the purchase option, i.e., whether it's active. This field cannot be changed by updating the resource. Use the dedicated endpoints instead.",
          "type": "string"
        }
      }
    },
    "OtherRegionsSubscriptionOfferConfig": {
      "id": "OtherRegionsSubscriptionOfferConfig",
      "properties": {
        "otherRegionsNewSubscriberAvailability": {
          "description": "Whether the subscription offer in any new locations Play may launch in the future. If not specified, this will default to false.",
          "type": "boolean"
        }
      },
      "description": "Configuration for any new locations Play may launch in specified on a subscription offer.",
      "type": "object"
    },
    "GeneratedRecoveryApk": {
      "properties": {
        "recoveryStatus": {
          "description": "The status of the recovery action corresponding to the recovery apk.",
          "type": "string",
          "enum": [
            "RECOVERY_STATUS_UNSPECIFIED",
            "RECOVERY_STATUS_ACTIVE",
            "RECOVERY_STATUS_CANCELED",
            "RECOVERY_STATUS_DRAFT",
            "RECOVERY_STATUS_GENERATION_IN_PROGRESS",
            "RECOVERY_STATUS_GENERATION_FAILED"
          ],
          "enumDescriptions": [
            "RecoveryStatus is unspecified.",
            "The app recovery action has not been canceled since it has been created.",
            "The recovery action has been canceled. The action cannot be resumed.",
            "The recovery action is in the draft state and has not yet been deployed to users.",
            "The recovery action is generating recovery apks.",
            "The app recovery action generation has failed."
          ]
        },
        "moduleName": {
          "description": "Name of the module which recovery apk belongs to.",
          "type": "string"
        },
        "downloadId": {
          "description": "Download ID, which uniquely identifies the APK to download. Should be supplied to `generatedapks.download` method.",
          "type": "string"
        },
        "recoveryId": {
          "description": "ID of the recovery action.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Download metadata for an app recovery module.",
      "type": "object",
      "id": "GeneratedRecoveryApk"
    },
    "MultiAbi": {
      "id": "MultiAbi",
      "properties": {
        "abi": {
          "description": "A list of targeted ABIs, as represented by the Android Platform",
          "type": "array",
          "items": {
            "$ref": "Abi"
          }
        }
      },
      "description": "Represents a list of ABIs.",
      "type": "object"
    },
    "PageInfo": {
      "description": "Information about the current page. List operations that supports paging return only one \"page\" of results. This protocol buffer message describes the page that has been returned.",
      "type": "object",
      "properties": {
        "totalResults": {
          "description": "Total number of results available on the backend ! The total number of results in the result set.",
          "type": "integer",
          "format": "int32"
        },
        "resultPerPage": {
          "description": "Maximum number of results returned in one page. ! The number of results included in the API response.",
          "type": "integer",
          "format": "int32"
        },
        "startIndex": {
          "description": "Index of the first result returned in the current page.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "PageInfo"
    },
    "UpdateOneTimeProductOfferStateRequest": {
      "description": "Request message to update the state of a one-time product offer.",
      "type": "object",
      "properties": {
        "cancelOneTimeProductOfferRequest": {
          "description": "Cancels an offer. Once cancelled, the offer is not available to users. Any pending orders related to this offer will be cancelled. This state transition is specific to pre-orders.",
          "$ref": "CancelOneTimeProductOfferRequest"
        },
        "deactivateOneTimeProductOfferRequest": {
          "description": "Deactivates an offer. Once deactivated, the offer is no longer available to users. This state transition is specific to discounted offers.",
          "$ref": "DeactivateOneTimeProductOfferRequest"
        },
        "activateOneTimeProductOfferRequest": {
          "description": "Activates an offer. Once activated, the offer is available to users, as long as its conditions are met.",
          "$ref": "ActivateOneTimeProductOfferRequest"
        }
      },
      "id": "UpdateOneTimeProductOfferStateRequest"
    },
    "LineItem": {
      "id": "LineItem",
      "properties": {
        "listingPrice": {
          "description": "Item's listed price on Play Store, this may or may not include tax. Excludes Google-funded discounts only.",
          "$ref": "Money"
        },
        "tax": {
          "description": "The tax paid for this line item.",
          "$ref": "Money"
        },
        "productTitle": {
          "description": "Developer-specified name of the product. Displayed in buyer's locale. Example: coins, monthly subscription, etc.",
          "type": "string"
        },
        "total": {
          "description": "The total amount paid by the user for this line item, taking into account discounts and tax.",
          "$ref": "Money"
        },
        "productId": {
          "description": "The purchased product ID or in-app SKU (for example, 'monthly001' or 'com.some.thing.inapp1').",
          "type": "string"
        },
        "subscriptionDetails": {
          "description": "Details of a subscription purchase.",
          "$ref": "SubscriptionDetails"
        },
        "paidAppDetails": {
          "description": "Details of a paid app purchase.",
          "$ref": "PaidAppDetails"
        },
        "oneTimePurchaseDetails": {
          "description": "Details of a one-time purchase.",
          "$ref": "OneTimePurchaseDetails"
        }
      },
      "description": "Details of a line item.",
      "type": "object"
    },
    "AbiTargeting": {
      "id": "AbiTargeting",
      "properties": {
        "alternatives": {
          "description": "Targeting of other sibling directories that were in the Bundle. For main splits this is targeting of other main splits.",
          "type": "array",
          "items": {
            "$ref": "Abi"
          }
        },
        "value": {
          "description": "Value of an abi.",
          "type": "array",
          "items": {
            "$ref": "Abi"
          }
        }
      },
      "description": "Targeting based on Abi.",
      "type": "object"
    },
    "SystemOnChip": {
      "description": "Representation of a System-on-Chip (SoC) of an Android device. Can be used to target S+ devices.",
      "type": "object",
      "properties": {
        "manufacturer": {
          "description": "Required. The designer of the SoC, eg. \"Google\" Value of build property \"ro.soc.manufacturer\" https://developer.android.com/reference/android/os/Build#SOC_MANUFACTURER Required.",
          "type": "string"
        },
        "model": {
          "description": "Required. The model of the SoC, eg. \"Tensor\" Value of build property \"ro.soc.model\" https://developer.android.com/reference/android/os/Build#SOC_MODEL Required.",
          "type": "string"
        }
      },
      "id": "SystemOnChip"
    },
    "RefundEvent": {
      "properties": {
        "refundReason": {
          "description": "The reason the order was refunded.",
          "type": "string",
          "enum": [
            "REFUND_REASON_UNSPECIFIED",
            "OTHER",
            "CHARGEBACK"
          ],
          "enumDescriptions": [
            "Refund reason unspecified. This value is not used.",
            "The order was refunded for a reason other than the listed reasons here.",
            "The order was charged back."
          ]
        },
        "eventTime": {
          "format": "google-datetime",
          "description": "The time when the order was fully refunded.",
          "type": "string"
        },
        "refundDetails": {
          "description": "Details for the full refund.",
          "$ref": "RefundDetails"
        }
      },
      "description": "Details of when the order was fully refunded.",
      "type": "object",
      "id": "RefundEvent"
    },
    "PriceStepUpConsentDetails": {
      "id": "PriceStepUpConsentDetails",
      "description": "Information related to a price step-up that requires user consent.",
      "type": "object",
      "properties": {
        "newPrice": {
          "description": "The new price which requires user consent.",
          "$ref": "Money"
        },
        "state": {
          "enum": [
            "CONSENT_STATE_UNSPECIFIED",
            "PENDING",
            "CONFIRMED",
            "COMPLETED"
          ],
          "enumDescriptions": [
            "Unspecified consent state.",
            "The user has not yet provided consent.",
            "The user has consented, and the new price is waiting to take effect.",
            "The user has consented, and the new price has taken effect."
          ],
          "description": "Output only. The state of the price step-up consent.",
          "type": "string",
          "readOnly": true
        },
        "consentDeadlineTime": {
          "format": "google-datetime",
          "description": "The deadline by which the user must provide consent. If consent is not provided by this time, the subscription will be canceled.",
          "type": "string"
        }
      }
    },
    "IntroductoryPriceOfferPhase": {
      "description": "Details about introductory price offer phase.",
      "type": "object",
      "properties": {},
      "id": "IntroductoryPriceOfferPhase"
    },
    "BatchUpdateSubscriptionsRequest": {
      "description": "Request message for BatchUpdateSubscription.",
      "type": "object",
      "properties": {
        "requests": {
          "items": {
            "$ref": "UpdateSubscriptionRequest"
          },
          "description": "Required. A list of update requests of up to 100 elements. All requests must update different subscriptions.",
          "type": "array"
        }
      },
      "id": "BatchUpdateSubscriptionsRequest"
    },
    "UserCountriesTargeting": {
      "description": "Describes an inclusive/exclusive list of country codes that module targets.",
      "type": "object",
      "properties": {
        "countryCodes": {
          "description": "List of country codes in the two-letter CLDR territory format.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "exclude": {
          "description": "Indicates if the list above is exclusive.",
          "type": "boolean"
        }
      },
      "id": "UserCountriesTargeting"
    },
    "StandaloneApkMetadata": {
      "id": "StandaloneApkMetadata",
      "properties": {
        "fusedModuleName": {
          "items": {
            "type": "string"
          },
          "description": "Names of the modules fused in this standalone APK.",
          "type": "array"
        }
      },
      "description": "Holds data specific to Standalone APKs.",
      "type": "object"
    },
    "BatchDeletePurchaseOptionsRequest": {
      "id": "BatchDeletePurchaseOptionsRequest",
      "properties": {
        "requests": {
          "items": {
            "$ref": "DeletePurchaseOptionRequest"
          },
          "description": "Required. A list of delete requests of up to 100 elements. All requests must delete purchase options from different one-time products.",
          "type": "array"
        }
      },
      "description": "Request message for BatchDeletePurchaseOption.",
      "type": "object"
    },
    "UpgradeTargetingRule": {
      "id": "UpgradeTargetingRule",
      "properties": {
        "oncePerUser": {
          "description": "Limit this offer to only once per user. If set to true, a user can never be eligible for this offer again if they ever subscribed to this offer.",
          "type": "boolean"
        },
        "scope": {
          "description": "Required. The scope of subscriptions this rule considers. Only allows \"this subscription\" and \"specific subscription in app\".",
          "$ref": "TargetingRuleScope"
        },
        "billingPeriodDuration": {
          "description": "The specific billing period duration, specified in ISO 8601 format, that a user must be currently subscribed to to be eligible for this rule. If not specified, users subscribed to any billing period are matched.",
          "type": "string"
        }
      },
      "description": "Represents a targeting rule of the form: User currently has {scope} [with billing period {billing_period}].",
      "type": "object"
    },
    "OrderDetails": {
      "id": "OrderDetails",
      "properties": {
        "taxInclusive": {
          "description": "Indicates whether the listed price was tax inclusive or not.",
          "type": "boolean"
        }
      },
      "description": "Detailed information about the order at creation time.",
      "type": "object"
    },
    "ScreenDensityTargeting": {
      "id": "ScreenDensityTargeting",
      "properties": {
        "value": {
          "description": "Value of a screen density.",
          "type": "array",
          "items": {
            "$ref": "ScreenDensity"
          }
        },
        "alternatives": {
          "items": {
            "$ref": "ScreenDensity"
          },
          "description": "Targeting of other sibling directories that were in the Bundle. For main splits this is targeting of other main splits.",
          "type": "array"
        }
      },
      "description": "Targeting based on screen density.",
      "type": "object"
    },
    "ReviewsReplyRequest": {
      "description": "Request to reply to review or update existing reply.",
      "type": "object",
      "properties": {
        "replyText": {
          "description": "The text to set as the reply. Replies of more than approximately 350 characters will be rejected. HTML tags will be stripped.",
          "type": "string"
        }
      },
      "id": "ReviewsReplyRequest"
    },
    "SubscriptionPurchase": {
      "deprecated": true,
      "properties": {
        "autoRenewing": {
          "description": "Whether the subscription will automatically be renewed when it reaches its current expiry time.",
          "type": "boolean"
        },
        "obfuscatedExternalProfileId": {
          "description": "An obfuscated version of the id that is uniquely associated with the user's profile in your app. Only present if specified using https://developer.android.com/reference/com/android/billingclient/api/BillingFlowParams.Builder#setobfuscatedprofileid when the purchase was made.",
          "type": "string"
        },
        "cancelReason": {
          "description": "The reason why a subscription was canceled or is not auto-renewing. Possible values are: 0. User canceled the subscription 1. Subscription was canceled by the system, for example because of a billing problem 2. Subscription was replaced with a new subscription 3. Subscription was canceled by the developer",
          "type": "integer",
          "format": "int32"
        },
        "purchaseType": {
          "description": "The type of purchase of the subscription. This field is only set if this purchase was not made using the standard in-app billing flow. Possible values are: 0. Test (i.e. purchased from a license testing account) 1. Promo (i.e. purchased using a promo code)",
          "type": "integer",
          "format": "int32"
        },
        "developerPayload": {
          "description": "A developer-specified string that contains supplemental information about an order.",
          "type": "string"
        },
        "givenName": {
          "description": "The given name of the user when the subscription was purchased. Only present for purchases made with 'Subscribe with Google'.",
          "type": "string"
        },
        "acknowledgementState": {
          "format": "int32",
          "description": "The acknowledgement state of the subscription product. Possible values are: 0. Yet to be acknowledged 1. Acknowledged",
          "type": "integer"
        },
        "emailAddress": {
          "description": "The email address of the user when the subscription was purchased. Only present for purchases made with 'Subscribe with Google'.",
          "type": "string"
        },
        "startTimeMillis": {
          "description": "Time at which the subscription was granted, in milliseconds since the Epoch.",
          "type": "string",
          "format": "int64"
        },
        "kind": {
          "description": "This kind represents a subscriptionPurchase object in the androidpublisher service.",
          "type": "string"
        },
        "cancelSurveyResult": {
          "description": "Information provided by the user when they complete the subscription cancellation flow (cancellation reason survey).",
          "$ref": "SubscriptionCancelSurveyResult"
        },
        "priceChange": {
          "description": "The latest price change information available. This is present only when there is an upcoming price change for the subscription yet to be applied. Once the subscription renews with the new price or the subscription is canceled, no price change information will be returned.",
          "$ref": "SubscriptionPriceChange"
        },
        "countryCode": {
          "description": "ISO 3166-1 alpha-2 billing country/region code of the user at the time the subscription was granted.",
          "type": "string"
        },
        "orderId": {
          "description": "The order id of the latest recurring order associated with the purchase of the subscription. If the subscription was canceled because payment was declined, this will be the order id from the payment declined order.",
          "type": "string"
        },
        "promotionType": {
          "description": "The type of promotion applied on this purchase. This field is only set if a promotion is applied when the subscription was purchased. Possible values are: 0. One time code 1. Vanity code",
          "type": "integer",
          "format": "int32"
        },
        "profileId": {
          "description": "The Google profile id of the user when the subscription was purchased. Only present for purchases made with 'Subscribe with Google'.",
          "type": "string"
        },
        "linkedPurchaseToken": {
          "description": "The purchase token of the originating purchase if this subscription is one of the following: 0. Re-signup of a canceled but non-lapsed subscription 1. Upgrade/downgrade from a previous subscription For example, suppose a user originally signs up and you receive purchase token X, then the user cancels and goes through the resignup flow (before their subscription lapses) and you receive purchase token Y, and finally the user upgrades their subscription and you receive purchase token Z. If you call this API with purchase token Z, this field will be set to Y. If you call this API with purchase token Y, this field will be set to X. If you call this API with purchase token X, this field will not be set.",
          "type": "string"
        },
        "paymentState": {
          "format": "int32",
          "description": "The payment state of the subscription. Possible values are: 0. Payment pending 1. Payment received 2. Free trial 3. Pending deferred upgrade/downgrade Not present for canceled, expired subscriptions.",
          "type": "integer"
        },
        "promotionCode": {
          "description": "The promotion code applied on this purchase. This field is only set if a vanity code promotion is applied when the subscription was purchased.",
          "type": "string"
        },
        "autoResumeTimeMillis": {
          "description": "Time at which the subscription will be automatically resumed, in milliseconds since the Epoch. Only present if the user has requested to pause the subscription.",
          "type": "string",
          "format": "int64"
        },
        "priceCurrencyCode": {
          "description": "ISO 4217 currency code for the subscription price. For example, if the price is specified in British pounds sterling, price_currency_code is \"GBP\".",
          "type": "string"
        },
        "priceAmountMicros": {
          "description": "Price of the subscription, For tax exclusive countries, the price doesn't include tax. For tax inclusive countries, the price includes tax. Price is expressed in micro-units, where 1,000,000 micro-units represents one unit of the currency. For example, if the subscription price is €1.99, price_amount_micros is 1990000.",
          "type": "string",
          "format": "int64"
        },
        "userCancellationTimeMillis": {
          "description": "The time at which the subscription was canceled by the user, in milliseconds since the epoch. Only present if cancelReason is 0.",
          "type": "string",
          "format": "int64"
        },
        "expiryTimeMillis": {
          "format": "int64",
          "description": "Time at which the subscription will expire, in milliseconds since the Epoch.",
          "type": "string"
        },
        "introductoryPriceInfo": {
          "description": "Introductory price information of the subscription. This is only present when the subscription was purchased with an introductory price. This field does not indicate the subscription is currently in introductory price period.",
          "$ref": "IntroductoryPriceInfo"
        },
        "externalAccountId": {
          "description": "User account identifier in the third-party service. Only present if account linking happened as part of the subscription purchase flow.",
          "type": "string"
        },
        "profileName": {
          "description": "The profile name of the user when the subscription was purchased. Only present for purchases made with 'Subscribe with Google'.",
          "type": "string"
        },
        "familyName": {
          "description": "The family name of the user when the subscription was purchased. Only present for purchases made with 'Subscribe with Google'.",
          "type": "string"
        },
        "obfuscatedExternalAccountId": {
          "description": "An obfuscated version of the id that is uniquely associated with the user's account in your app. Present for the following purchases: * If account linking happened as part of the subscription purchase flow. * It was specified using https://developer.android.com/reference/com/android/billingclient/api/BillingFlowParams.Builder#setobfuscatedaccountid when the purchase was made.",
          "type": "string"
        }
      },
      "description": "Deprecated: Use SubscriptionPurchaseV2 instead. A SubscriptionPurchase resource indicates the status of a user's subscription purchase.",
      "type": "object",
      "id": "SubscriptionPurchase"
    },
    "DeviceGroup": {
      "id": "DeviceGroup",
      "description": "A group of devices. A group is defined by a set of device selectors. A device belongs to the group if it matches any selector (logical OR).",
      "type": "object",
      "properties": {
        "deviceSelectors": {
          "items": {
            "$ref": "DeviceSelector"
          },
          "description": "Device selectors for this group. A device matching any of the selectors is included in this group.",
          "type": "array"
        },
        "name": {
          "description": "The name of the group.",
          "type": "string"
        }
      }
    },
    "GeneratedSplitApk": {
      "id": "GeneratedSplitApk",
      "properties": {
        "moduleName": {
          "description": "Name of the module that this APK belongs to.",
          "type": "string"
        },
        "downloadId": {
          "description": "Download ID, which uniquely identifies the APK to download. Should be supplied to `generatedapks.download` method.",
          "type": "string"
        },
        "variantId": {
          "format": "int32",
          "description": "ID of the generated variant.",
          "type": "integer"
        },
        "splitId": {
          "description": "Split ID. Empty for the main split of the base module.",
          "type": "string"
        }
      },
      "description": "Download metadata for a split APK.",
      "type": "object"
    },
    "DeviceSelector": {
      "description": "Selector for a device group. A selector consists of a set of conditions on the device that should all match (logical AND) to determine a device group eligibility. For instance, if a selector specifies RAM conditions, device model inclusion and device model exclusion, a device is considered to match if: device matches RAM conditions AND device matches one of the included device models AND device doesn't match excluded device models",
      "type": "object",
      "properties": {
        "systemOnChips": {
          "items": {
            "$ref": "SystemOnChip"
          },
          "description": "Optional. The SoCs included by this selector. Only works for Android S+ devices.",
          "type": "array"
        },
        "forbiddenSystemFeatures": {
          "items": {
            "$ref": "SystemFeature"
          },
          "description": "A device that has any of these system features is excluded by this selector, even if it matches all other conditions.",
          "type": "array"
        },
        "deviceRam": {
          "description": "Conditions on the device's RAM.",
          "$ref": "DeviceRam"
        },
        "requiredSystemFeatures": {
          "items": {
            "$ref": "SystemFeature"
          },
          "description": "A device needs to have all these system features to be included by the selector.",
          "type": "array"
        },
        "includedDeviceIds": {
          "items": {
            "$ref": "DeviceId"
          },
          "description": "Device models included by this selector.",
          "type": "array"
        },
        "excludedDeviceIds": {
          "items": {
            "$ref": "DeviceId"
          },
          "description": "Device models excluded by this selector, even if they match all other conditions.",
          "type": "array"
        }
      },
      "id": "DeviceSelector"
    },
    "DeviceSpec": {
      "properties": {
        "supportedAbis": {
          "items": {
            "type": "string"
          },
          "description": "Supported ABI architectures in the order of preference. The values should be the string as reported by the platform, e.g. \"armeabi-v7a\", \"x86_64\".",
          "type": "array"
        },
        "supportedLocales": {
          "description": "All installed locales represented as BCP-47 strings, e.g. \"en-US\".",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "screenDensity": {
          "format": "uint32",
          "description": "Screen dpi.",
          "type": "integer"
        }
      },
      "description": "The device spec used to generate a system APK.",
      "type": "object",
      "id": "DeviceSpec"
    },
    "RevocationContext": {
      "id": "RevocationContext",
      "description": "Revocation context of the purchases.subscriptionsv2.revoke API.",
      "type": "object",
      "properties": {
        "fullRefund": {
          "description": "Optional. Used when users should be refunded the full amount of latest charge on each item in the subscription.",
          "$ref": "RevocationContextFullRefund"
        },
        "itemBasedRefund": {
          "description": "Optional. Used when a specific item should be refunded in a subscription with add-on items.",
          "$ref": "RevocationContextItemBasedRefund"
        },
        "proratedRefund": {
          "description": "Optional. Used when users should be refunded a prorated amount they paid for their subscription based on the amount of time remaining in a subscription.",
          "$ref": "RevocationContextProratedRefund"
        }
      }
    },
    "RevocationContextProratedRefund": {
      "id": "RevocationContextProratedRefund",
      "description": "Used to determine if the refund type in the RevocationContext is a prorated refund.",
      "type": "object",
      "properties": {}
    },
    "BatchDeleteOneTimeProductsRequest": {
      "properties": {
        "requests": {
          "items": {
            "$ref": "DeleteOneTimeProductRequest"
          },
          "description": "Required. A list of delete requests of up to 100 elements. All requests must delete different one-time products.",
          "type": "array"
        }
      },
      "description": "Request message for BatchDeleteOneTimeProduct.",
      "type": "object",
      "id": "BatchDeleteOneTimeProductsRequest"
    },
    "BatchUpdateSubscriptionOffersResponse": {
      "id": "BatchUpdateSubscriptionOffersResponse",
      "properties": {
        "subscriptionOffers": {
          "items": {
            "$ref": "SubscriptionOffer"
          },
          "description": "The updated subscription offers list.",
          "type": "array"
        }
      },
      "description": "Response message for BatchUpdateSubscriptionOffers.",
      "type": "object"
    },
    "BundlesListResponse": {
      "id": "BundlesListResponse",
      "properties": {
        "kind": {
          "description": "The kind of this response (\"androidpublisher#bundlesListResponse\").",
          "type": "string"
        },
        "bundles": {
          "description": "All app bundles.",
          "type": "array",
          "items": {
            "$ref": "Bundle"
          }
        }
      },
      "description": "Response listing all app bundles.",
      "type": "object"
    },
    "DeactivatePurchaseOptionRequest": {
      "description": "Request message for UpdatePurchaseOptionState.",
      "type": "object",
      "properties": {
        "packageName": {
          "description": "Required. The parent app (package name) of the purchase option to deactivate.",
          "type": "string"
        },
        "productId": {
          "description": "Required. The parent one-time product (ID) of the purchase option to deactivate.",
          "type": "string"
        },
        "purchaseOptionId": {
          "description": "Required. The purchase option ID of the purchase option to deactivate.",
          "type": "string"
        },
        "latencyTolerance": {
          "enumDescriptions": [
            "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
            "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
            "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
          ],
          "description": "Optional. The latency tolerance for the propagation of this product update. Defaults to latency-sensitive.",
          "type": "string",
          "enum": [
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
          ]
        }
      },
      "id": "DeactivatePurchaseOptionRequest"
    },
    "SignupPromotion": {
      "id": "SignupPromotion",
      "properties": {
        "oneTimeCode": {
          "description": "A one-time code was applied.",
          "$ref": "OneTimeCode"
        },
        "vanityCode": {
          "description": "A vanity code was applied.",
          "$ref": "VanityCode"
        }
      },
      "description": "The promotion applied on this item when purchased.",
      "type": "object"
    },
    "DeviceTierSet": {
      "properties": {
        "deviceTiers": {
          "items": {
            "$ref": "DeviceTier"
          },
          "description": "Device tiers belonging to the set.",
          "type": "array"
        }
      },
      "description": "A set of device tiers. A tier set determines what variation of app content gets served to a specific device, for device-targeted content. You should assign a priority level to each tier, which determines the ordering by which they are evaluated by Play. See the documentation of DeviceTier.level for more details.",
      "type": "object",
      "id": "DeviceTierSet"
    },
    "PendingCancellation": {
      "properties": {},
      "description": "This is an indicator of whether there is a pending cancellation on the virtual installment plan. The cancellation will happen only after the user finished all committed payments.",
      "type": "object",
      "id": "PendingCancellation"
    },
    "DeactivateOneTimeProductOfferRequest": {
      "description": "Request message for DeactivateOneTimeProductOffer.",
      "type": "object",
      "properties": {
        "offerId": {
          "description": "Required. The offer ID of the offer to deactivate.",
          "type": "string"
        },
        "productId": {
          "description": "Required. The parent one-time product (ID) of the offer to deactivate.",
          "type": "string"
        },
        "purchaseOptionId": {
          "description": "Required. The parent purchase option (ID) of the offer to deactivate.",
          "type": "string"
        },
        "latencyTolerance": {
          "enumDescriptions": [
            "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
            "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
            "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
          ],
          "description": "Optional. The latency tolerance for the propagation of this update. Defaults to latency-sensitive.",
          "type": "string",
          "enum": [
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
          ]
        },
        "packageName": {
          "description": "Required. The parent app (package name) of the offer to deactivate.",
          "type": "string"
        }
      },
      "id": "DeactivateOneTimeProductOfferRequest"
    },
    "ProductPurchase": {
      "description": "A ProductPurchase resource indicates the status of a user's inapp product purchase.",
      "type": "object",
      "properties": {
        "acknowledgementState": {
          "format": "int32",
          "description": "The acknowledgement state of the inapp product. Possible values are: 0. Yet to be acknowledged 1. Acknowledged",
          "type": "integer"
        },
        "regionCode": {
          "description": "ISO 3166-1 alpha-2 billing region code of the user at the time the product was granted.",
          "type": "string"
        },
        "developerPayload": {
          "description": "A developer-specified string that contains supplemental information about an order.",
          "type": "string"
        },
        "purchaseType": {
          "format": "int32",
          "description": "The type of purchase of the inapp product. This field is only set if this purchase was not made using the standard in-app billing flow. Possible values are: 0. Test (i.e. purchased from a license testing account) 1. Promo (i.e. purchased using a promo code). Does not include Play Points purchases. 2. Rewarded (i.e. from watching a video ad instead of paying)",
          "type": "integer"
        },
        "consumptionState": {
          "format": "int32",
          "description": "The consumption state of the inapp product. Possible values are: 0. Yet to be consumed 1. Consumed",
          "type": "integer"
        },
        "purchaseState": {
          "description": "The purchase state of the order. Possible values are: 0. Purchased 1. Canceled 2. Pending",
          "type": "integer",
          "format": "int32"
        },
        "purchaseTimeMillis": {
          "format": "int64",
          "description": "The time the product was purchased, in milliseconds since the epoch (Jan 1, 1970).",
          "type": "string"
        },
        "productId": {
          "description": "The inapp product SKU. May not be present.",
          "type": "string"
        },
        "quantity": {
          "description": "The quantity associated with the purchase of the inapp product. If not present, the quantity is 1.",
          "type": "integer",
          "format": "int32"
        },
        "obfuscatedExternalProfileId": {
          "description": "An obfuscated version of the id that is uniquely associated with the user's profile in your app. Only present if specified using https://developer.android.com/reference/com/android/billingclient/api/BillingFlowParams.Builder#setobfuscatedprofileid when the purchase was made.",
          "type": "string"
        },
        "orderId": {
          "description": "The order id associated with the purchase of the inapp product.",
          "type": "string"
        },
        "purchaseToken": {
          "description": "The purchase token generated to identify this purchase. May not be present.",
          "type": "string"
        },
        "obfuscatedExternalAccountId": {
          "description": "An obfuscated version of the id that is uniquely associated with the user's account in your app. Only present if specified using https://developer.android.com/reference/com/android/billingclient/api/BillingFlowParams.Builder#setobfuscatedaccountid when the purchase was made.",
          "type": "string"
        },
        "kind": {
          "description": "This kind represents an inappPurchase object in the androidpublisher service.",
          "type": "string"
        },
        "refundableQuantity": {
          "description": "The quantity eligible for refund, i.e. quantity that hasn't been refunded. The value reflects quantity-based partial refunds and full refunds.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "ProductPurchase"
    },
    "RegionalSubscriptionOfferPhaseConfig": {
      "id": "RegionalSubscriptionOfferPhaseConfig",
      "properties": {
        "price": {
          "description": "The absolute price the user pays for this offer phase. The price must not be smaller than the minimum price allowed for this region.",
          "$ref": "Money"
        },
        "free": {
          "description": "Set to specify this offer is free to obtain.",
          "$ref": "RegionalSubscriptionOfferPhaseFreePriceOverride"
        },
        "regionCode": {
          "description": "Required. Immutable. The region to which this config applies.",
          "type": "string"
        },
        "absoluteDiscount": {
          "description": "The absolute amount of money subtracted from the base plan price prorated over the phase duration that the user pays for this offer phase. For example, if the base plan price for this region is $12 for a period of 1 year, then a $1 absolute discount for a phase of a duration of 3 months would correspond to a price of $2. The resulting price may not be smaller than the minimum price allowed for this region.",
          "$ref": "Money"
        },
        "relativeDiscount": {
          "description": "The fraction of the base plan price prorated over the phase duration that the user pays for this offer phase. For example, if the base plan price for this region is $12 for a period of 1 year, then a 50% discount for a phase of a duration of 3 months would correspond to a price of $1.50. The discount must be specified as a fraction strictly larger than 0 and strictly smaller than 1. The resulting price will be rounded to the nearest billable unit (e.g. cents for USD). The relative discount is considered invalid if the discounted price ends up being smaller than the minimum price allowed in this region.",
          "type": "number",
          "format": "double"
        }
      },
      "description": "Configuration for a single phase of a subscription offer in a single region.",
      "type": "object"
    },
    "InappproductsBatchUpdateResponse": {
      "id": "InappproductsBatchUpdateResponse",
      "description": "Response for a batch in-app product update.",
      "type": "object",
      "properties": {
        "inappproducts": {
          "items": {
            "$ref": "InAppProduct"
          },
          "description": "The updated or inserted in-app products.",
          "type": "array"
        }
      }
    },
    "InstallmentsBasePlanType": {
      "description": "Represents an installments base plan where a user commits to a specified number of payments.",
      "type": "object",
      "properties": {
        "prorationMode": {
          "enumDescriptions": [
            "Unspecified mode.",
            "Users will be charged for their new base plan at the end of their current billing period.",
            "Users will be charged for their new base plan immediately and in full. Any remaining period of their existing subscription will be used to extend the duration of the new billing plan."
          ],
          "description": "The proration mode for the base plan determines what happens when a user switches to this plan from another base plan. If unspecified, defaults to CHARGE_ON_NEXT_BILLING_DATE.",
          "type": "string",
          "enum": [
            "SUBSCRIPTION_PRORATION_MODE_UNSPECIFIED",
            "SUBSCRIPTION_PRORATION_MODE_CHARGE_ON_NEXT_BILLING_DATE",
            "SUBSCRIPTION_PRORATION_MODE_CHARGE_FULL_PRICE_IMMEDIATELY"
          ]
        },
        "billingPeriodDuration": {
          "description": "Required. Immutable. Subscription period, specified in ISO 8601 format. For a list of acceptable billing periods, refer to the help center. The duration is immutable after the base plan is created.",
          "type": "string"
        },
        "resubscribeState": {
          "enumDescriptions": [
            "Unspecified state.",
            "Resubscribe is active.",
            "Resubscribe is inactive."
          ],
          "description": "Whether users should be able to resubscribe to this base plan in Google Play surfaces. Defaults to RESUBSCRIBE_STATE_ACTIVE if not specified.",
          "type": "string",
          "enum": [
            "RESUBSCRIBE_STATE_UNSPECIFIED",
            "RESUBSCRIBE_STATE_ACTIVE",
            "RESUBSCRIBE_STATE_INACTIVE"
          ]
        },
        "gracePeriodDuration": {
          "description": "Grace period of the subscription, specified in ISO 8601 format. Acceptable values must be in days and between P0D and the lesser of 30D and base plan billing period. If not specified, a default value will be used based on the billing period. The sum of gracePeriodDuration and accountHoldDuration must be between P30D and P60D days, inclusive.",
          "type": "string"
        },
        "accountHoldDuration": {
          "description": "Optional. Custom account hold period of the subscription, specified in ISO 8601 format. Acceptable values must be in days and between P0D and P60D. An empty field represents a recommended account hold, calculated as 60 days minus grace period. The sum of gracePeriodDuration and accountHoldDuration must be between P30D and P60D days, inclusive.",
          "type": "string"
        },
        "committedPaymentsCount": {
          "description": "Required. Immutable. The number of payments the user is committed to. It is immutable after the base plan is created.",
          "type": "integer",
          "format": "int32"
        },
        "renewalType": {
          "enumDescriptions": [
            "Unspecified state.",
            "Renews periodically for the billing period duration without commitment.",
            "Renews with the commitment of the same duration as the initial one."
          ],
          "description": "Required. Immutable. Installments base plan renewal type. Determines the behavior at the end of the initial commitment. The renewal type is immutable after the base plan is created.",
          "type": "string",
          "enum": [
            "RENEWAL_TYPE_UNSPECIFIED",
            "RENEWAL_TYPE_RENEWS_WITHOUT_COMMITMENT",
            "RENEWAL_TYPE_RENEWS_WITH_COMMITMENT"
          ]
        }
      },
      "id": "InstallmentsBasePlanType"
    },
    "ApksListResponse": {
      "id": "ApksListResponse",
      "description": "Response listing all APKs.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "The kind of this response (\"androidpublisher#apksListResponse\").",
          "type": "string"
        },
        "apks": {
          "items": {
            "$ref": "Apk"
          },
          "description": "All APKs.",
          "type": "array"
        }
      }
    },
    "RentalDetails": {
      "properties": {},
      "description": "Details of a rental purchase.",
      "type": "object",
      "id": "RentalDetails"
    },
    "Abi": {
      "id": "Abi",
      "description": "Represents an Abi.",
      "type": "object",
      "properties": {
        "alias": {
          "description": "Alias for an abi.",
          "type": "string",
          "enum": [
            "UNSPECIFIED_CPU_ARCHITECTURE",
            "ARMEABI",
            "ARMEABI_V7A",
            "ARM64_V8A",
            "X86",
            "X86_64",
            "RISCV64"
          ],
          "enumDescriptions": [
            "Unspecified abi.",
            "ARMEABI abi.",
            "ARMEABI_V7A abi.",
            "ARM64_V8A abi.",
            "X86 abi.",
            "X86_64 abi.",
            "RISCV64 abi."
          ]
        }
      }
    },
    "OtherRegionsSubscriptionOfferPhaseFreePriceOverride": {
      "properties": {},
      "description": "Represents the free price override configuration for any new locations Play may launch for a single offer phase.",
      "type": "object",
      "id": "OtherRegionsSubscriptionOfferPhaseFreePriceOverride"
    },
    "CancelSurveyResult": {
      "id": "CancelSurveyResult",
      "properties": {
        "reason": {
          "description": "The reason the user selected in the cancel survey.",
          "type": "string",
          "enum": [
            "CANCEL_SURVEY_REASON_UNSPECIFIED",
            "CANCEL_SURVEY_REASON_NOT_ENOUGH_USAGE",
            "CANCEL_SURVEY_REASON_TECHNICAL_ISSUES",
            "CANCEL_SURVEY_REASON_COST_RELATED",
            "CANCEL_SURVEY_REASON_FOUND_BETTER_APP",
            "CANCEL_SURVEY_REASON_OTHERS"
          ],
          "enumDescriptions": [
            "Unspecified cancel survey reason.",
            "Not enough usage of the subscription.",
            "Technical issues while using the app.",
            "Cost related issues.",
            "The user found a better app.",
            "Other reasons."
          ]
        },
        "reasonUserInput": {
          "description": "Only set for CANCEL_SURVEY_REASON_OTHERS. This is the user's freeform response to the survey.",
          "type": "string"
        }
      },
      "description": "Result of the cancel survey when the subscription was canceled by the user.",
      "type": "object"
    },
    "RestrictedPaymentCountries": {
      "id": "RestrictedPaymentCountries",
      "properties": {
        "regionCodes": {
          "description": "Required. Region codes to impose payment restrictions on, as defined by ISO 3166-2, e.g. \"US\".",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Countries where the purchase of this product is restricted to payment methods registered in the same country. If empty, no payment location restrictions are imposed.",
      "type": "object"
    },
    "SubscriptionDetails": {
      "properties": {
        "offerPhaseDetails": {
          "description": "The pricing phase details for the entitlement period funded by this order.",
          "$ref": "OfferPhaseDetails"
        },
        "offerId": {
          "description": "The offer ID for the current subscription offer.",
          "type": "string"
        },
        "basePlanId": {
          "description": "The base plan ID of the subscription.",
          "type": "string"
        },
        "servicePeriodStartTime": {
          "format": "google-datetime",
          "description": "The start of the billing period funded by this order. This is a snapshot of the billing/service period start time at the moment the order was processed, and should be used only for accounting.",
          "type": "string"
        },
        "offerPhase": {
          "description": "Deprecated: Use offer_phase_details instead. The pricing phase for the billing period funded by this order.",
          "type": "string",
          "enumDescriptions": [
[...]
