{
  "batchPath": "batch",
  "kind": "discovery#restDescription",
  "title": "Android Device Provisioning Partner API",
  "discoveryVersion": "v1",
  "resources": {
    "partners": {
      "resources": {
        "vendors": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "description": "Lists the vendors of the partner.",
              "id": "androiddeviceprovisioning.partners.vendors.list",
              "path": "v1/{+parent}/vendors",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/partners/{partnersId}/vendors",
              "response": {
                "$ref": "ListVendorsResponse"
              },
              "parameters": {
                "parent": {
                  "description": "Required. The resource name in the format `partners/[PARTNER_ID]`.",
                  "required": true,
                  "pattern": "^partners/[^/]+$",
                  "location": "path",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "The maximum number of results to be returned."
                },
                "pageToken": {
                  "description": "A token identifying a page of results returned by the server.",
                  "type": "string",
                  "location": "query"
                }
              }
            }
          },
          "resources": {
            "customers": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "id": "androiddeviceprovisioning.partners.vendors.customers.list",
                  "path": "v1/{+parent}/customers",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists the customers of the vendor.",
                  "response": {
                    "$ref": "ListVendorCustomersResponse"
                  },
                  "flatPath": "v1/partners/{partnersId}/vendors/{vendorsId}/customers",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^partners/[^/]+/vendors/[^/]+$",
                      "description": "Required. The resource name in the format `partners/[PARTNER_ID]/vendors/[VENDOR_ID]`.",
                      "required": true
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer",
                      "description": "The maximum number of results to be returned."
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "A token identifying a page of results returned by the server."
                    }
                  }
                }
              }
            }
          }
        },
        "devices": {
          "methods": {
            "claimAsync": {
              "request": {
                "$ref": "ClaimDevicesRequest"
              },
              "httpMethod": "POST",
              "id": "androiddeviceprovisioning.partners.devices.claimAsync",
              "path": "v1/partners/{+partnerId}/devices:claimAsync",
              "response": {
                "$ref": "Operation"
              },
              "flatPath": "v1/partners/{partnersId}/devices:claimAsync",
              "parameters": {
                "partnerId": {
                  "location": "path",
                  "format": "int64",
                  "type": "string",
                  "description": "Required. The ID of the reseller partner.",
                  "required": true,
                  "pattern": "^[^/]+$"
                }
              },
              "parameterOrder": [
                "partnerId"
              ],
              "description": "Claims a batch of devices for a customer asynchronously. Adds the devices to zero-touch enrollment. To learn more, read [Long‑running batch operations](/zero-touch/guides/how-it-works#operations)."
            },
            "findByOwner": {
              "request": {
                "$ref": "FindDevicesByOwnerRequest"
              },
              "id": "androiddeviceprovisioning.partners.devices.findByOwner",
              "path": "v1/partners/{+partnerId}/devices:findByOwner",
              "httpMethod": "POST",
              "parameters": {
                "partnerId": {
                  "pattern": "^[^/]+$",
                  "required": true,
                  "description": "Required. The ID of the reseller partner.",
                  "type": "string",
                  "location": "path",
                  "format": "int64"
                }
              },
              "response": {
                "$ref": "FindDevicesByOwnerResponse"
              },
              "flatPath": "v1/partners/{partnersId}/devices:findByOwner",
              "parameterOrder": [
                "partnerId"
              ],
              "description": "Finds devices claimed for customers. The results only contain devices registered to the reseller that's identified by the `partnerId` argument. The customer's devices purchased from other resellers don't appear in the results."
            },
            "getSimLockState": {
              "httpMethod": "POST",
              "id": "androiddeviceprovisioning.partners.devices.getSimLockState",
              "path": "v1/partners/{+partnerId}/devices:getSimLockState",
              "request": {
                "$ref": "GetDeviceSimLockStateRequest"
              },
              "parameterOrder": [
                "partnerId"
              ],
              "description": "Gets a device's SIM lock state.",
              "response": {
                "$ref": "GetDeviceSimLockStateResponse"
              },
              "flatPath": "v1/partners/{partnersId}/devices:getSimLockState",
              "parameters": {
                "partnerId": {
                  "pattern": "^[^/]+$",
                  "required": true,
                  "description": "Required. The ID of the partner.",
                  "type": "string",
                  "location": "path",
                  "format": "int64"
                }
              }
            },
            "updateMetadataAsync": {
              "parameterOrder": [
                "partnerId"
              ],
              "description": "Updates the reseller metadata attached to a batch of devices. This method updates devices asynchronously and returns an `Operation` that can be used to track progress. Read [Long‑running batch operations](/zero-touch/guides/how-it-works#operations). Android Devices only.",
              "response": {
                "$ref": "Operation"
              },
              "flatPath": "v1/partners/{partnersId}/devices:updateMetadataAsync",
              "parameters": {
                "partnerId": {
                  "type": "string",
                  "location": "path",
                  "format": "int64",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "description": "Required. The reseller partner ID."
                }
              },
              "httpMethod": "POST",
              "id": "androiddeviceprovisioning.partners.devices.updateMetadataAsync",
              "path": "v1/partners/{+partnerId}/devices:updateMetadataAsync",
              "request": {
                "$ref": "UpdateDeviceMetadataInBatchRequest"
              }
            },
            "findByIdentifier": {
              "description": "Finds devices by hardware identifiers, such as IMEI.",
              "parameterOrder": [
                "partnerId"
              ],
              "flatPath": "v1/partners/{partnersId}/devices:findByIdentifier",
              "response": {
                "$ref": "FindDevicesByDeviceIdentifierResponse"
              },
              "parameters": {
                "partnerId": {
                  "location": "path",
                  "format": "int64",
                  "type": "string",
                  "pattern": "^[^/]+$",
                  "description": "Required. The ID of the reseller partner.",
                  "required": true
                }
              },
              "httpMethod": "POST",
              "id": "androiddeviceprovisioning.partners.devices.findByIdentifier",
              "path": "v1/partners/{+partnerId}/devices:findByIdentifier",
              "request": {
                "$ref": "FindDevicesByDeviceIdentifierRequest"
              }
            },
            "metadata": {
              "description": "Updates reseller metadata associated with the device. Android devices only.",
              "parameterOrder": [
                "metadataOwnerId",
                "deviceId"
              ],
              "flatPath": "v1/partners/{partnersId}/devices/{devicesId}/metadata",
              "response": {
                "$ref": "DeviceMetadata"
              },
              "parameters": {
                "metadataOwnerId": {
                  "required": true,
                  "description": "Required. The owner of the newly set metadata. Set this to the partner ID.",
                  "pattern": "^[^/]+$",
                  "type": "string",
                  "location": "path",
                  "format": "int64"
                },
                "deviceId": {
                  "type": "string",
                  "location": "path",
                  "format": "int64",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "description": "Required. The ID of the device."
                }
              },
              "httpMethod": "POST",
              "id": "androiddeviceprovisioning.partners.devices.metadata",
              "path": "v1/partners/{+metadataOwnerId}/devices/{+deviceId}/metadata",
              "request": {
                "$ref": "UpdateDeviceMetadataRequest"
              }
            },
            "unclaimAsync": {
              "id": "androiddeviceprovisioning.partners.devices.unclaimAsync",
              "path": "v1/partners/{+partnerId}/devices:unclaimAsync",
              "httpMethod": "POST",
              "request": {
                "$ref": "UnclaimDevicesRequest"
              },
              "description": "Unclaims a batch of devices for a customer asynchronously. Removes the devices from zero-touch enrollment. To learn more, read [Long‑running batch operations](/zero-touch/guides/how-it-works#operations).",
              "parameterOrder": [
                "partnerId"
              ],
              "parameters": {
                "partnerId": {
                  "type": "string",
                  "location": "path",
                  "format": "int64",
                  "required": true,
                  "description": "Required. The reseller partner ID.",
                  "pattern": "^[^/]+$"
                }
              },
              "flatPath": "v1/partners/{partnersId}/devices:unclaimAsync",
              "response": {
                "$ref": "Operation"
              }
            },
            "get": {
              "id": "androiddeviceprovisioning.partners.devices.get",
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "description": "Gets a device.",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The device API resource name in the format `partners/[PARTNER_ID]/devices/[DEVICE_ID]`.",
                  "pattern": "^partners/[^/]+/devices/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "Device"
              },
              "flatPath": "v1/partners/{partnersId}/devices/{devicesId}"
            },
            "unclaim": {
              "flatPath": "v1/partners/{partnersId}/devices:unclaim",
              "response": {
                "$ref": "Empty"
              },
              "parameters": {
                "partnerId": {
                  "pattern": "^[^/]+$",
                  "required": true,
                  "description": "Required. The ID of the reseller partner.",
                  "type": "string",
                  "location": "path",
                  "format": "int64"
                }
              },
              "description": "Unclaims a device from a customer and removes it from zero-touch enrollment.",
              "parameterOrder": [
                "partnerId"
              ],
              "request": {
                "$ref": "UnclaimDeviceRequest"
              },
              "httpMethod": "POST",
              "id": "androiddeviceprovisioning.partners.devices.unclaim",
              "path": "v1/partners/{+partnerId}/devices:unclaim"
            },
            "claim": {
              "flatPath": "v1/partners/{partnersId}/devices:claim",
              "response": {
                "$ref": "ClaimDeviceResponse"
              },
              "parameters": {
                "partnerId": {
                  "pattern": "^[^/]+$",
                  "required": true,
                  "description": "Required. The ID of the reseller partner.",
                  "type": "string",
                  "location": "path",
                  "format": "int64"
                }
              },
              "description": "Claims a device for a customer and adds it to zero-touch enrollment. If the device is already claimed by another customer, the call returns an error.",
              "parameterOrder": [
                "partnerId"
              ],
              "request": {
                "$ref": "ClaimDeviceRequest"
              },
              "httpMethod": "POST",
              "id": "androiddeviceprovisioning.partners.devices.claim",
              "path": "v1/partners/{+partnerId}/devices:claim"
            }
          }
        },
        "customers": {
          "methods": {
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "description": "Creates a customer for zero-touch enrollment. After the method returns successfully, admin and owner roles can manage devices and EMM configs by calling API methods or using their zero-touch enrollment portal. The customer receives an email that welcomes them to zero-touch enrollment and explains how to sign into the portal.",
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^partners/[^/]+$",
                  "description": "Required. The parent resource ID in the format `partners/[PARTNER_ID]` that identifies the reseller.",
                  "required": true
                }
              },
              "response": {
                "$ref": "Company"
              },
              "flatPath": "v1/partners/{partnersId}/customers",
              "id": "androiddeviceprovisioning.partners.customers.create",
              "path": "v1/{+parent}/customers",
              "httpMethod": "POST",
              "request": {
                "$ref": "CreateCustomerRequest"
              }
            },
            "list": {
              "httpMethod": "GET",
              "id": "androiddeviceprovisioning.partners.customers.list",
              "path": "v1/partners/{+partnerId}/customers",
              "parameterOrder": [
                "partnerId"
              ],
              "description": "Lists the customers that are enrolled to the reseller identified by the `partnerId` argument. This list includes customers that the reseller created and customers that enrolled themselves using the portal.",
              "response": {
                "$ref": "ListCustomersResponse"
              },
              "flatPath": "v1/partners/{partnersId}/customers",
              "parameters": {
                "partnerId": {
                  "pattern": "^[^/]+$",
                  "required": true,
                  "description": "Required. The ID of the reseller partner.",
                  "type": "string",
                  "location": "path",
                  "format": "int64"
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "The maximum number of results to be returned. If not specified or 0, all the records are returned."
                },
                "pageToken": {
                  "description": "A token identifying a page of results returned by the server.",
                  "location": "query",
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "operations": {
      "methods": {
        "get": {
          "parameters": {
            "name": {
              "pattern": "^operations/.*$",
              "description": "The name of the operation resource.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "flatPath": "v1/operations/{operationsId}",
          "response": {
            "$ref": "Operation"
          },
          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
          "id": "androiddeviceprovisioning.operations.get",
          "path": "v1/{+name}",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET"
        }
      }
    },
    "customers": {
      "methods": {
        "list": {
          "flatPath": "v1/customers",
          "response": {
            "$ref": "CustomerListCustomersResponse"
          },
          "parameters": {
            "pageSize": {
              "description": "Required. The maximum number of customers to show in a page of results. A number between 1 and 100 (inclusive).",
              "type": "integer",
              "location": "query",
              "format": "int32"
            },
            "pageToken": {
              "description": "A token specifying which result page to return. This field has custom validations in ListCustomersRequestValidator",
              "location": "query",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "description": "Lists the user's customer accounts.",
          "id": "androiddeviceprovisioning.customers.list",
          "path": "v1/customers",
          "parameterOrder": []
        }
      },
      "resources": {
        "dpcs": {
          "methods": {
            "list": {
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^customers/[^/]+$",
                  "description": "Required. The customer that can use the DPCs in configurations. An API resource name in the format `customers/[CUSTOMER_ID]`.",
                  "required": true
                }
              },
              "flatPath": "v1/customers/{customersId}/dpcs",
              "response": {
                "$ref": "CustomerListDpcsResponse"
              },
              "description": "Lists the DPCs (device policy controllers) that support zero-touch enrollment.",
              "id": "androiddeviceprovisioning.customers.dpcs.list",
              "path": "v1/{+parent}/dpcs",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET"
            }
          }
        },
        "configurations": {
          "methods": {
            "get": {
              "description": "Gets the details of a configuration.",
              "id": "androiddeviceprovisioning.customers.configurations.get",
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^customers/[^/]+/configurations/[^/]+$",
                  "description": "Required. The configuration to get. An API resource name in the format `customers/[CUSTOMER_ID]/configurations/[CONFIGURATION_ID]`.",
                  "required": true
                }
              },
              "flatPath": "v1/customers/{customersId}/configurations/{configurationsId}",
              "response": {
                "$ref": "Configuration"
              }
            },
            "patch": {
              "parameters": {
                "updateMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string",
                  "description": "Required. The field mask applied to the target `Configuration` before updating the fields. To learn more about using field masks, read [FieldMask](/protocol-buffers/docs/reference/google.protobuf#fieldmask) in the Protocol Buffers documentation."
                },
                "name": {
                  "pattern": "^customers/[^/]+/configurations/[^/]+$",
                  "required": true,
                  "description": "Output only. The API resource name in the format `customers/[CUSTOMER_ID]/configurations/[CONFIGURATION_ID]`. Assigned by the server.",
                  "type": "string",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "Configuration"
              },
              "flatPath": "v1/customers/{customersId}/configurations/{configurationsId}",
              "parameterOrder": [
                "name"
              ],
              "description": "Updates a configuration's field values.",
              "request": {
                "$ref": "Configuration"
              },
              "id": "androiddeviceprovisioning.customers.configurations.patch",
              "path": "v1/{+name}",
              "httpMethod": "PATCH"
            },
            "delete": {
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^customers/[^/]+/configurations/[^/]+$",
                  "description": "Required. The configuration to delete. An API resource name in the format `customers/[CUSTOMER_ID]/configurations/[CONFIGURATION_ID]`. If the configuration is applied to any devices, the API call fails.",
                  "required": true
                }
              },
              "response": {
                "$ref": "Empty"
              },
              "flatPath": "v1/customers/{customersId}/configurations/{configurationsId}",
              "id": "androiddeviceprovisioning.customers.configurations.delete",
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "description": "Deletes an unused configuration. The API call fails if the customer has devices with the configuration applied.",
              "httpMethod": "DELETE"
            },
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "description": "Creates a new configuration. Once created, a customer can apply the configuration to devices.",
              "response": {
                "$ref": "Configuration"
              },
              "flatPath": "v1/customers/{customersId}/configurations",
              "parameters": {
                "parent": {
                  "description": "Required. The customer that manages the configuration. An API resource name in the format `customers/[CUSTOMER_ID]`. This field has custom validation in CreateConfigurationRequestValidator",
                  "required": true,
                  "pattern": "^customers/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "httpMethod": "POST",
              "id": "androiddeviceprovisioning.customers.configurations.create",
              "path": "v1/{+parent}/configurations",
              "request": {
                "$ref": "Configuration"
              }
            },
            "list": {
              "httpMethod": "GET",
              "description": "Lists a customer's configurations.",
              "id": "androiddeviceprovisioning.customers.configurations.list",
              "path": "v1/{+parent}/configurations",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/customers/{customersId}/configurations",
              "response": {
                "$ref": "CustomerListConfigurationsResponse"
              },
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^customers/[^/]+$",
                  "required": true,
                  "description": "Required. The customer that manages the listed configurations. An API resource name in the format `customers/[CUSTOMER_ID]`."
                }
              }
            }
          }
        },
        "devices": {
          "methods": {
            "get": {
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The device to get. An API resource name in the format `customers/[CUSTOMER_ID]/devices/[DEVICE_ID]`.",
                  "pattern": "^customers/[^/]+/devices/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "Device"
              },
              "flatPath": "v1/customers/{customersId}/devices/{devicesId}",
              "id": "androiddeviceprovisioning.customers.devices.get",
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "description": "Gets the details of a device.",
              "httpMethod": "GET"
            },
            "applyConfiguration": {
              "flatPath": "v1/customers/{customersId}/devices:applyConfiguration",
              "response": {
                "$ref": "Empty"
              },
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. The customer managing the device. An API resource name in the format `customers/[CUSTOMER_ID]`.",
                  "required": true,
                  "pattern": "^customers/[^/]+$"
                }
              },
              "description": "Applies a Configuration to the device to register the device for zero-touch enrollment. After applying a configuration to a device, the device automatically provisions itself on first boot, or next factory reset.",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "CustomerApplyConfigurationRequest"
              },
              "httpMethod": "POST",
              "id": "androiddeviceprovisioning.customers.devices.applyConfiguration",
              "path": "v1/{+parent}/devices:applyConfiguration"
            },
            "removeConfiguration": {
              "request": {
                "$ref": "CustomerRemoveConfigurationRequest"
              },
              "id": "androiddeviceprovisioning.customers.devices.removeConfiguration",
              "path": "v1/{+parent}/devices:removeConfiguration",
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The customer managing the device in the format `customers/[CUSTOMER_ID]`.",
                  "pattern": "^customers/[^/]+$"
                }
              },
              "response": {
                "$ref": "Empty"
              },
              "flatPath": "v1/customers/{customersId}/devices:removeConfiguration",
              "parameterOrder": [
                "parent"
              ],
              "description": "Removes a configuration from device."
            },
            "list": {
              "httpMethod": "GET",
              "id": "androiddeviceprovisioning.customers.devices.list",
              "path": "v1/{+parent}/devices",
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists a customer's devices.",
              "response": {
                "$ref": "CustomerListDevicesResponse"
              },
              "flatPath": "v1/customers/{customersId}/devices",
              "parameters": {
                "parent": {
                  "description": "Required. The customer managing the devices. An API resource name in the format `customers/[CUSTOMER_ID]`.",
                  "required": true,
                  "pattern": "^customers/[^/]+$",
                  "location": "path",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Optional. The maximum number of devices to show in a page of results. If unset or 0, defaults to 1000. If a value greater than 1000 is specified, it will be coerced to 1000.",
                  "location": "query",
                  "format": "int64",
                  "type": "string"
                },
                "pageToken": {
                  "description": "A token specifying which result page to return.",
                  "location": "query",
                  "type": "string"
                }
              }
            },
            "unclaim": {
              "request": {
                "$ref": "CustomerUnclaimDeviceRequest"
              },
              "id": "androiddeviceprovisioning.customers.devices.unclaim",
              "path": "v1/{+parent}/devices:unclaim",
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "pattern": "^customers/[^/]+$",
                  "description": "Required. The customer managing the device. An API resource name in the format `customers/[CUSTOMER_ID]`.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "flatPath": "v1/customers/{customersId}/devices:unclaim",
              "response": {
                "$ref": "Empty"
              },
              "description": "Unclaims a device from a customer and removes it from zero-touch enrollment. After removing a device, a customer must contact their reseller to register the device into zero-touch enrollment again.",
              "parameterOrder": [
                "parent"
              ]
            }
          }
        }
      }
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "revision": "20260714",
  "documentationLink": "https://developers.google.com/zero-touch/",
  "name": "androiddeviceprovisioning",
  "version_module": true,
  "parameters": {
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "description": "Data format for response.",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    }
  },
  "ownerName": "Google",
  "protocol": "rest",
  "basePath": "",
  "canonicalName": "Android Provisioning Partner",
  "baseUrl": "https://androiddeviceprovisioning.googleapis.com/",
  "version": "v1",
  "rootUrl": "https://androiddeviceprovisioning.googleapis.com/",
  "ownerDomain": "google.com",
  "schemas": {
    "CreateCustomerRequest": {
      "type": "object",
      "id": "CreateCustomerRequest",
      "properties": {
        "customer": {
          "description": "Required. The company data to populate the new customer. Must contain a value for `companyName` and at least one `owner_email` that's associated with a Google Account. The values for `companyId` and `name` must be empty.",
          "$ref": "Company"
        }
      },
      "description": "Request message to create a customer."
    },
    "DeviceClaim": {
      "type": "object",
      "id": "DeviceClaim",
      "properties": {
        "vacationModeStartTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The timestamp when the device was put into ‘vacation mode’. This value is present iff the device is in 'vacation mode'."
        },
        "googleWorkspaceCustomerId": {
          "type": "string",
          "description": "The ID of the Google Workspace account that owns the Chrome OS device."
        },
        "vacationModeExpireTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The timestamp when the device will exit ‘vacation mode’. This value is present iff the device is in 'vacation mode'."
        },
        "additionalService": {
          "description": "The Additional service registered for the device.",
          "enum": [
            "ADDITIONAL_SERVICE_UNSPECIFIED",
            "DEVICE_PROTECTION"
          ],
          "type": "string",
          "enumDescriptions": [
            "No additional service.",
            "Device protection service, also known as Android Enterprise Essentials. To claim a device with the device protection service you must enroll with the partnership team."
          ]
        },
        "sectionType": {
          "enumDescriptions": [
            "Unspecified section type.",
            "SIM-lock section type.",
            "Zero-touch enrollment section type."
          ],
          "description": "Output only. The type of claim made on the device.",
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "SECTION_TYPE_SIM_LOCK",
            "SECTION_TYPE_ZERO_TOUCH"
          ],
          "readOnly": true,
          "type": "string"
        },
        "ownerCompanyId": {
          "type": "string",
          "format": "int64",
          "description": "The ID of the Customer that purchased the device."
        },
        "resellerId": {
          "format": "int64",
          "type": "string",
          "description": "The ID of the reseller that claimed the device."
        }
      },
      "description": "A record of a device claimed by a reseller for a customer. Devices claimed for zero-touch enrollment have a claim with the type `SECTION_TYPE_ZERO_TOUCH`. To learn more, read [Claim devices for customers](/zero-touch/guides/how-it-works#claim)."
    },
    "PartnerUnclaim": {
      "type": "object",
      "description": "Identifies one unclaim request.",
      "id": "PartnerUnclaim",
      "properties": {
        "deviceIdentifier": {
          "description": "Required. Device identifier of the device.",
          "$ref": "DeviceIdentifier"
        },
        "vacationModeDays": {
          "description": "Optional. The duration of the vacation unlock starting from when the request is processed. (1 day is treated as 24 hours)",
          "type": "integer",
          "format": "int32"
        },
        "vacationModeExpireTime": {
          "description": "Optional. The expiration time of the vacation unlock.",
          "type": "string",
          "format": "google-datetime"
        },
        "sectionType": {
          "description": "Required. The section type of the device's provisioning record.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified section type.",
            "SIM-lock section type.",
            "Zero-touch enrollment section type."
          ],
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "SECTION_TYPE_SIM_LOCK",
            "SECTION_TYPE_ZERO_TOUCH"
          ]
        },
        "deviceId": {
          "description": "Required. Device ID of the device.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "FindDevicesByDeviceIdentifierRequest": {
      "id": "FindDevicesByDeviceIdentifierRequest",
      "properties": {
        "pageToken": {
          "type": "string",
          "description": "A token specifying which result page to return."
        },
        "limit": {
          "description": "Required. The maximum number of devices to show in a page of results. Must be between 1 and 100 inclusive.",
          "type": "string",
          "format": "int64"
        },
        "deviceIdentifier": {
          "description": "Required. Required. The device identifier to search for. If serial number is provided then case insensitive serial number matches are allowed.",
          "$ref": "DeviceIdentifier"
        }
      },
      "description": "Request to find devices.",
      "type": "object"
    },
    "FindDevicesByDeviceIdentifierResponse": {
      "type": "object",
      "id": "FindDevicesByDeviceIdentifierResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token used to access the next page of results. Omitted if no further results are available.",
          "type": "string"
        },
        "totalSize": {
          "type": "integer",
          "format": "int32",
          "description": "The total count of items in the list irrespective of pagination."
        },
        "devices": {
          "type": "array",
          "items": {
            "$ref": "Device"
          },
          "description": "Found devices."
        }
      },
      "description": "Response containing found devices."
    },
    "UpdateMetadataArguments": {
      "id": "UpdateMetadataArguments",
      "properties": {
        "deviceId": {
          "format": "int64",
          "type": "string",
          "description": "Required. Device ID of the device."
        },
        "deviceMetadata": {
          "description": "Required. The metadata to update.",
          "$ref": "DeviceMetadata"
        },
        "deviceIdentifier": {
          "description": "Required. Device identifier.",
          "$ref": "DeviceIdentifier"
        }
      },
      "description": "Identifies metadata updates to one device.",
      "type": "object"
    },
    "DeviceReference": {
      "description": "A `DeviceReference` is an API abstraction that lets you supply a _device_ argument to a method using one of the following identifier types: * A numeric API resource ID. * Real-world hardware IDs, such as IMEI number, belonging to the manufactured device. Methods that operate on devices take a `DeviceReference` as a parameter type because it's more flexible for the caller. To learn more about device identifiers, read [Identifiers](https://developers.google.com/zero-touch/guides/identifiers).",
      "id": "DeviceReference",
      "properties": {
        "deviceId": {
          "description": "The ID of the device.",
          "format": "int64",
          "type": "string"
        },
        "deviceIdentifier": {
          "description": "The hardware IDs of the device.",
          "$ref": "DeviceIdentifier"
        }
      },
      "type": "object"
    },
    "Company": {
      "type": "object",
      "id": "Company",
      "properties": {
        "ownerEmails": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. Input only. Email address of customer's users in the owner role. At least one `owner_email` is required. Owners share the same access as admins but can also add, delete, and edit your organization's portal users."
        },
        "companyName": {
          "type": "string",
          "description": "Required. The name of the company. For example _XYZ Corp_. Displayed to the company's employees in the zero-touch enrollment portal."
        },
        "googleWorkspaceAccount": {
          "description": "Output only. The Google Workspace account associated with this customer. Only used for customer Companies.",
          "$ref": "GoogleWorkspaceAccount",
          "readOnly": true
        },
        "skipWelcomeEmail": {
          "description": "Input only. If set to true, welcome email will not be sent to the customer. It is recommended to skip the welcome email if devices will be claimed with additional DEVICE_PROTECTION service, as the customer will receive separate emails at device claim time. This field is ignored if this is not a Zero-touch customer.",
          "type": "boolean"
        },
        "name": {
          "description": "Output only. The API resource name of the company. The resource name is one of the following formats: * `partners/[PARTNER_ID]/customers/[CUSTOMER_ID]` * `partners/[PARTNER_ID]/vendors/[VENDOR_ID]` * `partners/[PARTNER_ID]/vendors/[VENDOR_ID]/customers/[CUSTOMER_ID]` Assigned by the server.",
          "readOnly": true,
          "type": "string"
        },
        "companyId": {
          "description": "Output only. The ID of the company. Assigned by the server.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "adminEmails": {
          "description": "Optional. Email address of customer's users in the admin role. Each email address must be associated with a Google Account.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "termsStatus": {
          "enum": [
            "TERMS_STATUS_UNSPECIFIED",
            "TERMS_STATUS_NOT_ACCEPTED",
            "TERMS_STATUS_ACCEPTED",
            "TERMS_STATUS_STALE"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. Whether any user from the company has accepted the latest Terms of Service (ToS). See TermsStatus.",
          "enumDescriptions": [
            "Default value. This value should never be set if the enum is present.",
            "None of the company's users have accepted the ToS.",
            "One (or more) of the company's users has accepted the ToS.",
            "None of the company's users has accepted the current ToS but at least one user accepted a previous ToS."
          ]
        },
        "languageCode": {
          "description": "Input only. The preferred locale of the customer represented as a BCP47 language code. This field is validated on input and requests containing unsupported language codes will be rejected. Supported language codes: Arabic (ar) Chinese (Hong Kong) (zh-HK) Chinese (Simplified) (zh-CN) Chinese (Traditional) (zh-TW) Czech (cs) Danish (da) Dutch (nl) English (UK) (en-GB) English (US) (en-US) Filipino (fil) Finnish (fi) French (fr) German (de) Hebrew (iw) Hindi (hi) Hungarian (hu) Indonesian (id) Italian (it) Japanese (ja) Korean (ko) Norwegian (Bokmal) (no) Polish (pl) Portuguese (Brazil) (pt-BR) Portuguese (Portugal) (pt-PT) Russian (ru) Spanish (es) Spanish (Latin America) (es-419) Swedish (sv) Thai (th) Turkish (tr) Ukrainian (uk) Vietnamese (vi)",
          "type": "string"
        }
      },
      "description": "A reseller, vendor, or customer in the zero-touch reseller and customer APIs."
    },
    "Operation": {
      "id": "Operation",
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "This field will contain a `DevicesLongRunningOperationMetadata` object if the operation is created by `claimAsync`, `unclaimAsync`, or `updateMetadataAsync`."
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "error": {
          "description": "This field will always be not set if the operation is created by `claimAsync`, `unclaimAsync`, or `updateMetadataAsync`. In this case, error information for each device is set in `response.perDeviceStatus.result.status`.",
          "$ref": "Status"
        },
        "response": {
          "type": "object",
          "description": "This field will contain a `DevicesLongRunningOperationResponse` object if the operation is created by `claimAsync`, `unclaimAsync`, or `updateMetadataAsync`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object"
    },
    "ListVendorCustomersResponse": {
      "id": "ListVendorCustomersResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Omitted if no further results are available."
        },
        "customers": {
          "type": "array",
          "items": {
            "$ref": "Company"
          },
          "description": "List of customers of the vendor."
        },
        "totalSize": {
          "format": "int32",
          "type": "integer",
          "description": "The total count of items in the list irrespective of pagination."
        }
      },
      "description": "Response message to list customers of the vendor.",
      "type": "object"
    },
    "ListCustomersResponse": {
      "description": "Response message of all customers related to this partner.",
      "id": "ListCustomersResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Omitted if no further results are available.",
          "type": "string"
        },
        "customers": {
          "type": "array",
          "items": {
            "$ref": "Company"
          },
          "description": "List of customers related to this reseller partner."
        },
        "totalSize": {
          "type": "integer",
          "format": "int32",
          "description": "The total count of items in the list irrespective of pagination."
        }
      },
      "type": "object"
    },
    "GetDeviceSimLockStateResponse": {
      "type": "object",
      "id": "GetDeviceSimLockStateResponse",
      "properties": {
        "simLockState": {
          "type": "string",
          "enumDescriptions": [
            "Invalid code. Shouldn't be used.",
            "Device is not SIM locked.",
            "Device is SIM locked to the partner querying SIM lock state.",
            "Device is SIM locked to a different partner."
          ],
          "enum": [
            "SIM_LOCK_STATE_UNSPECIFIED",
            "UNLOCKED",
            "LOCKED_TO_PARTNER",
            "LOCKED_TO_OTHER_PARTNER"
          ]
        }
      },
      "description": "Response containing a device's SimLock state."
    },
    "GetDeviceSimLockStateRequest": {
      "type": "object",
      "description": "Request to get a device's SIM lock status.",
      "id": "GetDeviceSimLockStateRequest",
      "properties": {
        "deviceIdentifier": {
          "description": "Required. Required. The device identifier to search for.",
          "$ref": "DeviceIdentifier"
        }
      }
    },
    "OperationPerDevice": {
      "type": "object",
      "description": "A task for each device in the operation. Corresponds to each device change in the request.",
      "id": "OperationPerDevice",
      "properties": {
        "claim": {
          "description": "A copy of the original device-claim request received by the server.",
          "$ref": "PartnerClaim"
        },
        "result": {
          "description": "The processing result for each device.",
          "$ref": "PerDeviceStatusInBatch"
        },
        "unclaim": {
          "description": "A copy of the original device-unclaim request received by the server.",
          "$ref": "PartnerUnclaim"
        },
        "updateMetadata": {
          "description": "A copy of the original metadata-update request received by the server.",
          "$ref": "UpdateMetadataArguments"
        }
      }
    },
    "GoogleWorkspaceAccount": {
      "type": "object",
      "description": "A Google Workspace customer.",
      "id": "GoogleWorkspaceAccount",
      "properties": {
        "customerId": {
          "type": "string",
          "description": "Required. The customer ID."
        },
        "preProvisioningTokens": {
          "description": "Output only. The pre-provisioning tokens previously used to claim devices.",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        }
      }
    },
    "CustomerRemoveConfigurationRequest": {
      "description": "Request message for customer to remove the configuration from device.",
      "id": "CustomerRemoveConfigurationRequest",
      "properties": {
        "device": {
          "description": "Required. The device to remove the configuration from. There are custom validations in RemoveConfigurationRequestValidator",
          "$ref": "DeviceReference"
        }
      },
      "type": "object"
    },
    "ListVendorsResponse": {
      "id": "ListVendorsResponse",
      "properties": {
        "vendors": {
          "type": "array",
          "items": {
            "$ref": "Company"
          },
          "description": "List of vendors of the reseller partner. Fields `name`, `companyId` and `companyName` are populated to the Company object."
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Omitted if no further results are available.",
          "type": "string"
        },
        "totalSize": {
          "type": "integer",
          "format": "int32",
          "description": "The total count of items in the list irrespective of pagination."
        }
      },
      "description": "Response message to list vendors of the partner.",
      "type": "object"
    },
    "ClaimDevicesRequest": {
      "id": "ClaimDevicesRequest",
      "properties": {
        "claims": {
          "items": {
            "$ref": "PartnerClaim"
          },
          "type": "array",
          "description": "Required. A list of device claims."
        }
      },
      "description": "Request to claim devices asynchronously in batch. Claiming a device adds the device to zero-touch enrollment and shows the device in the customer's view of the portal.",
      "type": "object"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "properties": {},
      "type": "object"
    },
    "Dpc": {
      "type": "object",
      "description": "An EMM's DPC ([device policy controller](http://developer.android.com/work/dpc/build-dpc.html)). Zero-touch enrollment installs a DPC (listed in the `Configuration`) on a device to maintain the customer's mobile policies. All the DPCs listed by the API support zero-touch enrollment and are available in Google Play.",
      "id": "Dpc",
      "properties": {
        "packageName": {
          "description": "Output only. The DPC's Android application ID that looks like a Java package name. Zero-touch enrollment installs the DPC app onto a device using this identifier.",
          "readOnly": true,
          "type": "string"
        },
        "dpcName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The title of the DPC app in Google Play. For example, _Google Apps Device Policy_. Useful in an application's user interface."
        },
        "name": {
          "description": "Output only. The API resource name in the format `customers/[CUSTOMER_ID]/dpcs/[DPC_ID]`. Assigned by the server. To maintain a reference to a DPC across customer accounts, persist and match the last path component (`DPC_ID`).",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "ClaimDeviceRequest": {
      "type": "object",
      "id": "ClaimDeviceRequest",
      "properties": {
        "customerId": {
          "description": "The ID of the customer for whom the device is being claimed.",
          "format": "int64",
          "type": "string"
        },
        "deviceIdentifier": {
          "description": "Required. Required. The device identifier of the device to claim.",
          "$ref": "DeviceIdentifier"
        },
        "preProvisioningToken": {
          "description": "Optional. Must and can only be set for Chrome OS devices.",
          "type": "string"
        },
        "configurationId": {
          "type": "string",
          "format": "int64",
          "description": "Optional. The ID of the configuration applied to the device section."
        },
        "deviceMetadata": {
          "description": "Optional. The metadata to attach to the device.",
          "$ref": "DeviceMetadata"
        },
        "googleWorkspaceCustomerId": {
          "description": "The Google Workspace customer ID.",
          "type": "string"
        },
        "sectionType": {
          "description": "Required. The section type of the device's provisioning record.",
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "SECTION_TYPE_SIM_LOCK",
            "SECTION_TYPE_ZERO_TOUCH"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified section type.",
            "SIM-lock section type.",
            "Zero-touch enrollment section type."
          ]
        },
        "simlockProfileId": {
          "description": "Optional. Must and can only be set when DeviceProvisioningSectionType is SECTION_TYPE_SIM_LOCK. The unique identifier of the SimLock profile.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Request message to claim a device on behalf of a customer."
    },
    "CustomerListDpcsResponse": {
      "type": "object",
      "id": "CustomerListDpcsResponse",
      "properties": {
        "dpcs": {
          "items": {
            "$ref": "Dpc"
          },
          "type": "array",
          "description": "The list of DPCs available to the customer that support zero-touch enrollment."
        }
      },
      "description": "Response message of customer's listing DPCs."
    },
    "UpdateDeviceMetadataInBatchRequest": {
      "type": "object",
      "description": "Request to update device metadata in batch.",
      "id": "UpdateDeviceMetadataInBatchRequest",
      "properties": {
        "updates": {
          "type": "array",
          "items": {
            "$ref": "UpdateMetadataArguments"
          },
          "description": "Required. The list of metadata updates."
        }
      }
    },
    "DeviceIdentifier": {
      "type": "object",
      "id": "DeviceIdentifier",
      "properties": {
        "chromeOsAttestedDeviceId": {
          "description": "An identifier provided by OEMs, carried through the production and sales process. Only applicable to Chrome OS devices.",
          "type": "string"
        },
        "imei2": {
          "description": "The device’s second IMEI number.",
          "type": "string"
        },
        "meid": {
          "type": "string",
          "description": "The device’s MEID number."
        },
        "imei": {
          "type": "string",
          "description": "The device’s IMEI number. Validated on input."
        },
        "manufacturer": {
          "type": "string",
          "description": "The device manufacturer’s name. Matches the device's built-in value returned from `android.os.Build.MANUFACTURER`. Allowed values are listed in [Android manufacturers](/zero-touch/resources/manufacturer-names#manufacturers-names)."
        },
        "serialNumber": {
          "type": "string",
          "description": "The manufacturer's serial number for the device. This value might not be unique across different device models."
        },
        "meid2": {
          "description": "The device’s second MEID number.",
          "type": "string"
        },
        "model": {
          "type": "string",
          "description": "The device model's name. Allowed values are listed in [Android models](/zero-touch/resources/manufacturer-names#model-names) and [Chrome OS models](https://support.google.com/chrome/a/answer/10130175#identify_compatible)."
        },
        "deviceType": {
          "description": "The type of the device",
          "type": "string",
          "enumDescriptions": [
            "Device type is not specified.",
            "Android device",
            "Chrome OS device"
          ],
          "enum": [
            "DEVICE_TYPE_UNSPECIFIED",
            "DEVICE_TYPE_ANDROID",
            "DEVICE_TYPE_CHROME_OS"
          ]
        }
      },
      "description": "Encapsulates hardware and product IDs to identify a manufactured device. To understand requirements on identifier sets, read [Identifiers](https://developers.google.com/zero-touch/guides/identifiers)."
    },
    "UnclaimDeviceRequest": {
      "type": "object",
      "id": "UnclaimDeviceRequest",
      "properties": {
        "deviceIdentifier": {
          "description": "Required. The device identifier you used when you claimed this device.",
          "$ref": "DeviceIdentifier"
        },
        "vacationModeDays": {
          "description": "The duration of the vacation unlock starting from when the request is processed. (1 day is treated as 24 hours)",
          "format": "int32",
          "type": "integer"
        },
        "vacationModeExpireTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The expiration time of the vacation unlock."
        },
        "sectionType": {
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "SECTION_TYPE_SIM_LOCK",
            "SECTION_TYPE_ZERO_TOUCH"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified section type.",
            "SIM-lock section type.",
            "Zero-touch enrollment section type."
          ],
          "description": "Required. The section type of the device's provisioning record."
        },
        "deviceId": {
          "description": "Required. The device ID returned by `ClaimDevice`.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "Request message to unclaim a device."
    },
    "UnclaimDevicesRequest": {
      "description": "Request to unclaim devices asynchronously in batch.",
      "id": "UnclaimDevicesRequest",
      "properties": {
        "unclaims": {
          "description": "Required. The list of devices to unclaim.",
          "items": {
            "$ref": "PartnerUnclaim"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "Configuration": {
      "description": "A configuration collects the provisioning options for Android devices. Each configuration combines the following: * The EMM device policy controller (DPC) installed on the devices. * EMM policies enforced on the devices. * Metadata displayed on the device to help users during setup. Customers can add as many configurations as they need. However, zero-touch enrollment works best when a customer sets a default configuration that's applied to any new devices the organization purchases.",
      "id": "Configuration",
      "properties": {
        "configurationId": {
          "format": "int64",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The ID of the configuration. Assigned by the server."
        },
        "isDefault": {
          "description": "Required. Whether this is the default configuration that zero-touch enrollment applies to any new devices the organization purchases in the future. Only one customer configuration can be the default. Setting this value to `true`, changes the previous default configuration's `isDefault` value to `false`.",
          "type": "boolean"
        },
        "dpcResourcePath": {
          "description": "Required. The resource name of the selected DPC (device policy controller) in the format `customers/[CUSTOMER_ID]/dpcs/*`. To list the supported DPCs, call `customers.dpcs.list`.",
          "type": "string"
        },
        "companyName": {
          "type": "string",
          "description": "Required. The name of the organization. Zero-touch enrollment shows this organization name to device users during device provisioning."
        },
        "dpcExtras": {
          "type": "string",
          "description": "The JSON-formatted EMM provisioning extras that are passed to the DPC."
        },
        "customMessage": {
          "type": "string",
          "description": "A message, containing one or two sentences, to help device users get help or give them more details about what’s happening to their device. Zero-touch enrollment shows this message before the device is provisioned."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The API resource name in the format `customers/[CUSTOMER_ID]/configurations/[CONFIGURATION_ID]`. Assigned by the server."
        },
        "contactPhone": {
          "type": "string",
          "description": "Required. The telephone number that device users can call, using another device, to get help. Zero-touch enrollment shows this number to device users before device provisioning. Accepts numerals, spaces, the plus sign, hyphens, and parentheses."
        },
        "forcedResetTime": {
          "description": "Optional. The timeout before forcing factory reset the device if the device doesn't go through provisioning in the setup wizard, usually due to lack of network connectivity during setup wizard. Ranges from 0-6 hours, with 2 hours being the default if unset.",
          "type": "string",
          "format": "google-duration"
        },
        "configurationName": {
          "description": "Required. A short name that describes the configuration's purpose. For example, _Sales team_ or _Temporary employees_. The zero-touch enrollment portal displays this name to IT admins.",
          "type": "string"
        },
        "contactEmail": {
          "type": "string",
          "description": "Required. The email address that device users can contact to get help. Zero-touch enrollment shows this email address to device users before device provisioning. The value is validated on input."
        }
      },
      "type": "object"
    },
    "CustomerListCustomersResponse": {
      "description": "Response message for listing my customers.",
      "id": "CustomerListCustomersResponse",
      "properties": {
        "customers": {
          "items": {
            "$ref": "Company"
          },
          "type": "array",
          "description": "The customer accounts the calling user is a member of."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token used to access the next page of results. Omitted if no further results are available."
        }
      },
      "type": "object"
    },
    "DeviceMetadata": {
      "id": "DeviceMetadata",
      "properties": {
        "entries": {
          "type": "object",
          "description": "Metadata entries recorded as key-value pairs.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "description": "Metadata entries that can be attached to a `Device`. To learn more, read [Device metadata](https://developers.google.com/zero-touch/guides/metadata).",
      "type": "object"
    },
    "CustomerListDevicesResponse": {
      "type": "object",
      "id": "CustomerListDevicesResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token used to access the next page of results. Omitted if no further results are available."
        },
        "devices": {
          "description": "The customer's devices.",
          "type": "array",
          "items": {
            "$ref": "Device"
          }
        }
      },
      "description": "Response message of customer's liting devices."
    },
    "FindDevicesByOwnerRequest": {
      "type": "object",
      "id": "FindDevicesByOwnerRequest",
      "properties": {
        "customerId": {
          "description": "The list of customer IDs to search for.",
          "items": {
            "format": "int64",
            "type": "string"
          },
          "type": "array"
        },
        "pageToken": {
          "type": "string",
          "description": "A token specifying which result page to return."
        },
        "googleWorkspaceCustomerId": {
          "description": "The list of IDs of Google Workspace accounts to search for.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "limit": {
          "description": "Required. The maximum number of devices to show in a page of results. Must be between 1 and 100 inclusive.",
          "format": "int64",
          "type": "string"
        },
        "sectionType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified section type.",
            "SIM-lock section type.",
            "Zero-touch enrollment section type."
          ],
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "SECTION_TYPE_SIM_LOCK",
            "SECTION_TYPE_ZERO_TOUCH"
          ],
          "description": "Required. The section type of the device's provisioning record."
        }
      },
      "description": "Request to find devices by customers."
    },
    "UpdateDeviceMetadataRequest": {
      "type": "object",
      "description": "Request to set metadata for a device.",
      "id": "UpdateDeviceMetadataRequest",
      "properties": {
        "deviceMetadata": {
          "description": "Required. The metadata to attach to the device.",
          "$ref": "DeviceMetadata"
        }
      }
    },
    "CustomerUnclaimDeviceRequest": {
      "type": "object",
      "id": "CustomerUnclaimDeviceRequest",
      "properties": {
        "device": {
          "description": "Required. The device to unclaim. There are custom validations in UnclaimDeviceRequestValidator.",
          "$ref": "DeviceReference"
        }
      },
      "description": "Request message for customer to unclaim a device."
    },
    "CustomerApplyConfigurationRequest": {
      "description": "Request message for customer to assign a configuration to device.",
      "id": "CustomerApplyConfigurationRequest",
      "properties": {
        "device": {
          "description": "Required. The device the configuration is applied to. There are custom validations in ApplyConfigurationRequestValidator",
          "$ref": "DeviceReference"
        },
        "configuration": {
          "type": "string",
          "description": "Required. The configuration applied to the device in the format `customers/[CUSTOMER_ID]/configurations/[CONFIGURATION_ID]`."
        }
      },
      "type": "object"
    },
    "PerDeviceStatusInBatch": {
      "id": "PerDeviceStatusInBatch",
      "properties": {
        "deviceId": {
          "format": "int64",
          "type": "string",
          "description": "If processing succeeds, the device ID of the device."
        },
        "status": {
          "description": "The result status of the device after processing.",
          "type": "string",
          "enumDescriptions": [
            "Invalid code. Shouldn't be used.",
            "Unknown error. We don't expect this error to occur here.",
            "Other error. We know/expect this error, but there's no defined error code for the error.",
            "Success.",
            "Permission denied.",
            "Invalid device identifier.",
            "Invalid section type.",
            "This section is claimed by another company.",
            "Invalid pre-provisioning token.",
            "Revoked pre-provisioning token.",
            "Status used to indicate a failure due to a device limit being exceeded"
          ],
          "enum": [
            "SINGLE_DEVICE_STATUS_UNSPECIFIED",
            "SINGLE_DEVICE_STATUS_UNKNOWN_ERROR",
            "SINGLE_DEVICE_STATUS_OTHER_ERROR",
            "SINGLE_DEVICE_STATUS_SUCCESS",
            "SINGLE_DEVICE_STATUS_PERMISSION_DENIED",
            "SINGLE_DEVICE_STATUS_INVALID_DEVICE_IDENTIFIER",
            "SINGLE_DEVICE_STATUS_INVALID_SECTION_TYPE",
            "SINGLE_DEVICE_STATUS_SECTION_NOT_YOURS",
            "SINGLE_DEVICE_STATUS_INVALID_TOKEN",
            "SINGLE_DEVICE_STATUS_REVOKED_TOKEN",
            "SINGLE_DEVICE_STATUS_DEVICE_LIMIT_EXCEEDED"
          ]
        },
        "errorIdentifier": {
          "description": "If processing fails, the error type.",
          "type": "string"
        },
        "errorMessage": {
          "type": "string",
          "description": "If processing fails, a developer message explaining what went wrong."
        }
      },
      "description": "Captures the processing status for each device in the operation.",
      "type": "object"
    },
    "DevicesLongRunningOperationResponse": {
      "id": "DevicesLongRunningOperationResponse",
      "properties": {
        "successCount": {
          "type": "integer",
          "format": "int32",
          "description": "A summary of how many items in the operation the server processed successfully. Updated as the operation progresses."
        },
        "perDeviceStatus": {
          "items": {
            "$ref": "OperationPerDevice"
          },
          "type": "array",
          "description": "The processing status for each device in the operation. One `PerDeviceStatus` per device. The list order matches the items in the original request."
        }
      },
      "description": "Tracks the status of a long-running operation to claim, unclaim, or attach metadata to devices. To learn more, read [Long‑running batch operations](/zero-touch/guides/how-it-works#operations).",
      "type": "object"
    },
    "ClaimDeviceResponse": {
      "description": "Response message containing device id of the claim.",
      "id": "ClaimDeviceResponse",
      "properties": {
        "deviceId": {
          "format": "int64",
          "type": "string",
          "description": "The device ID of the claimed device."
        },
        "deviceName": {
          "description": "The resource name of the device in the format `partners/[PARTNER_ID]/devices/[DEVICE_ID]`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Status": {
      "id": "Status",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object"
    },
    "CustomerListConfigurationsResponse": {
      "id": "CustomerListConfigurationsResponse",
      "properties": {
        "configurations": {
          "type": "array",
          "items": {
            "$ref": "Configuration"
          },
          "description": "The configurations."
        }
      },
      "description": "Response message of customer's listing configuration.",
      "type": "object"
    },
    "PartnerClaim": {
      "type": "object",
      "description": "Identifies one claim request.",
      "id": "PartnerClaim",
      "properties": {
        "deviceMetadata": {
          "description": "Required. The metadata to attach to the device at claim.",
          "$ref": "DeviceMetadata"
        },
        "googleWorkspaceCustomerId": {
          "type": "string",
          "description": "The Google Workspace customer ID."
        },
        "sectionType": {
          "description": "Required. The section type of the device's provisioning record.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified section type.",
            "SIM-lock section type.",
            "Zero-touch enrollment section type."
          ],
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "SECTION_TYPE_SIM_LOCK",
            "SECTION_TYPE_ZERO_TOUCH"
          ]
        },
        "simlockProfileId": {
          "description": "Optional. Must and can only be set when DeviceProvisioningSectionType is SECTION_TYPE_SIM_LOCK. The unique identifier of the SimLock profile.",
          "format": "int64",
          "type": "string"
        },
        "customerId": {
          "format": "int64",
          "type": "string",
          "description": "The ID of the customer for whom the device is being claimed."
        },
        "deviceIdentifier": {
          "description": "Required. Required. Device identifier of the device.",
          "$ref": "DeviceIdentifier"
        },
        "preProvisioningToken": {
          "type": "string",
          "description": "Optional. Must and can only be set for Chrome OS devices."
        },
        "configurationId": {
          "description": "Optional. The ID of the configuration applied to the device section.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "FindDevicesByOwnerResponse": {
      "description": "Response containing found devices.",
      "id": "FindDevicesByOwnerResponse",
      "properties": {
        "devices": {
          "description": "The customer's devices.",
          "items": {
            "$ref": "Device"
          },
          "type": "array"
        },
        "totalSize": {
          "format": "int32",
          "type": "integer",
          "description": "The total count of items in the list irrespective of pagination."
        },
        "nextPageToken": {
          "description": "A token used to access the next page of results. Omitted if no further results are available.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DevicesLongRunningOperationMetadata": {
      "type": "object",
      "id": "DevicesLongRunningOperationMetadata",
      "properties": {
        "processingStatus": {
          "description": "The processing status of the operation.",
          "type": "string",
          "enumDescriptions": [
            "Invalid code. Shouldn't be used.",
            "Pending.",
            "In progress.",
            "Processed. This doesn't mean all items were processed successfully, you should check the `response` field for the result of every item."
          ],
          "enum": [
            "BATCH_PROCESS_STATUS_UNSPECIFIED",
            "BATCH_PROCESS_PENDING",
            "BATCH_PROCESS_IN_PROGRESS",
            "BATCH_PROCESS_PROCESSED"
          ]
        },
        "devicesCount": {
          "description": "The number of metadata updates in the operation. This might be different from the number of updates in the request if the API can't parse some of the updates.",
          "format": "int32",
          "type": "integer"
        },
        "progress": {
          "description": "The processing progress of the operation. Measured as a number from 0 to 100. A value of 10O doesn't always mean the operation completed—check for the inclusion of a `done` field.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Tracks the status of a long-running operation to asynchronously update a batch of reseller metadata attached to devices. To learn more, read [Long‑running batch operations](/zero-touch/guides/how-it-works#operations)."
    },
    "Device": {
      "description": "An Android or Chrome OS device registered for zero-touch enrollment.",
      "id": "Device",
      "properties": {
        "deviceIdentifier": {
          "description": "The hardware IDs that identify a manufactured device. To learn more, read [Identifiers](https://developers.google.com/zero-touch/guides/identifiers).",
          "$ref": "DeviceIdentifier"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The API resource name in the format `partners/[PARTNER_ID]/devices/[DEVICE_ID]`. Assigned by the server."
        },
        "deviceId": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. The ID of the device. Assigned by the server."
        },
        "configuration": {
          "type": "string",
          "description": "Not available to resellers."
        },
        "claims": {
          "description": "Output only. The provisioning claims for a device. Devices claimed for zero-touch enrollment have a claim with the type `SECTION_TYPE_ZERO_TOUCH`. Call `partners.devices.unclaim` or `partners.devices.unclaimAsync` to remove the device from zero-touch enrollment.",
          "items": {
            "$ref": "DeviceClaim"
          },
          "readOnly": true,
          "type": "array"
        },
        "deviceMetadata": {
          "description": "The metadata attached to the device. Structured as key-value pairs. To learn more, read [Device metadata](https://developers.google.com/zero-touch/guides/metadata).",
          "$ref": "DeviceMetadata"
        }
      },
      "type": "object"
    }
  },
  "servicePath": "",
  "id": "androiddeviceprovisioning:v1",
  "fullyEncodeReservedExpansion": true,
  "description": "Automates Android zero-touch enrollment for device resellers, customers, and EMMs.",
  "mtlsRootUrl": "https://androiddeviceprovisioning.mtls.googleapis.com/"
}