{
  "title": "Android Device Provisioning Partner API",
  "protocol": "rest",
  "version_module": true,
  "name": "androiddeviceprovisioning",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "servicePath": "",
  "description": "Automates Android zero-touch enrollment for device resellers, customers, and EMMs.",
  "kind": "discovery#restDescription",
  "rootUrl": "https://androiddeviceprovisioning.googleapis.com/",
  "id": "androiddeviceprovisioning:v1",
  "baseUrl": "https://androiddeviceprovisioning.googleapis.com/",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "basePath": "",
  "resources": {
    "customers": {
      "methods": {
        "list": {
          "parameterOrder": [],
          "path": "v1/customers",
          "flatPath": "v1/customers",
          "parameters": {
            "pageSize": {
              "format": "int32",
              "description": "Required. The maximum number of customers to show in a page of results. A number between 1 and 100 (inclusive).",
              "location": "query",
              "type": "integer"
            },
            "pageToken": {
              "description": "A token specifying which result page to return. This field has custom validations in ListCustomersRequestValidator",
              "location": "query",
              "type": "string"
            }
          },
          "response": {
            "$ref": "CustomerListCustomersResponse"
          },
          "description": "Lists the user's customer accounts.",
          "id": "androiddeviceprovisioning.customers.list",
          "httpMethod": "GET"
        }
      },
      "resources": {
        "devices": {
          "methods": {
            "unclaim": {
              "request": {
                "$ref": "CustomerUnclaimDeviceRequest"
              },
              "id": "androiddeviceprovisioning.customers.devices.unclaim",
              "response": {
                "$ref": "Empty"
              },
              "flatPath": "v1/customers/{customersId}/devices:unclaim",
              "parameters": {
                "parent": {
                  "pattern": "^customers/[^/]+$",
                  "type": "string",
                  "description": "Required. The customer managing the device. An API resource name in the format `customers/[CUSTOMER_ID]`.",
                  "location": "path",
                  "required": true
                }
              },
              "description": "Unclaims a device from a customer and removes it from zero-touch enrollment. After removing a device, a customer must contact their reseller to register the device into zero-touch enrollment again.",
              "httpMethod": "POST",
              "path": "v1/{+parent}/devices:unclaim",
              "parameterOrder": [
                "parent"
              ]
            },
            "applyConfiguration": {
              "request": {
                "$ref": "CustomerApplyConfigurationRequest"
              },
              "flatPath": "v1/customers/{customersId}/devices:applyConfiguration",
              "response": {
                "$ref": "Empty"
              },
              "path": "v1/{+parent}/devices:applyConfiguration",
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^customers/[^/]+$",
                  "description": "Required. The customer managing the device. An API resource name in the format `customers/[CUSTOMER_ID]`."
                }
              },
              "httpMethod": "POST",
              "id": "androiddeviceprovisioning.customers.devices.applyConfiguration",
              "description": "Applies a Configuration to the device to register the device for zero-touch enrollment. After applying a configuration to a device, the device automatically provisions itself on first boot, or next factory reset.",
              "parameterOrder": [
                "parent"
              ]
            },
            "list": {
              "id": "androiddeviceprovisioning.customers.devices.list",
              "response": {
                "$ref": "CustomerListDevicesResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "flatPath": "v1/customers/{customersId}/devices",
              "description": "Lists a customer's devices.",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A token specifying which result page to return."
                },
                "parent": {
                  "description": "Required. The customer managing the devices. An API resource name in the format `customers/[CUSTOMER_ID]`.",
                  "location": "path",
                  "type": "string",
                  "pattern": "^customers/[^/]+$",
                  "required": true
                },
                "pageSize": {
                  "description": "Optional. The maximum number of devices to show in a page of results. If unset or `0`, defaults to `5000`. If a value greater than `10000` is specified, it will be coerced to `10000`.",
                  "type": "string",
                  "format": "int64",
                  "location": "query"
                }
              },
              "path": "v1/{+parent}/devices"
            },
            "get": {
              "description": "Gets the details of a device.",
              "flatPath": "v1/customers/{customersId}/devices/{devicesId}",
              "response": {
                "$ref": "Device"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "description": "Required. The device to get. An API resource name in the format `customers/[CUSTOMER_ID]/devices/[DEVICE_ID]`.",
                  "pattern": "^customers/[^/]+/devices/[^/]+$",
                  "type": "string"
                }
              },
              "id": "androiddeviceprovisioning.customers.devices.get",
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ]
            },
            "removeConfiguration": {
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^customers/[^/]+$",
                  "location": "path",
                  "description": "Required. The customer managing the device in the format `customers/[CUSTOMER_ID]`.",
                  "required": true
                }
              },
              "path": "v1/{+parent}/devices:removeConfiguration",
              "id": "androiddeviceprovisioning.customers.devices.removeConfiguration",
              "flatPath": "v1/customers/{customersId}/devices:removeConfiguration",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "CustomerRemoveConfigurationRequest"
              },
              "description": "Removes a configuration from device.",
              "response": {
                "$ref": "Empty"
              }
            }
          }
        },
        "dpcs": {
          "methods": {
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/dpcs",
              "response": {
                "$ref": "CustomerListDpcsResponse"
              },
              "flatPath": "v1/customers/{customersId}/dpcs",
              "httpMethod": "GET",
              "id": "androiddeviceprovisioning.customers.dpcs.list",
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. The customer that can use the DPCs in configurations. An API resource name in the format `customers/[CUSTOMER_ID]`.",
                  "pattern": "^customers/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "description": "Lists the DPCs (device policy controllers) that support zero-touch enrollment."
            }
          }
        },
        "configurations": {
          "methods": {
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/customers/{customersId}/configurations",
              "id": "androiddeviceprovisioning.customers.configurations.list",
              "description": "Lists a customer's configurations.",
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "description": "Required. The customer that manages the listed configurations. An API resource name in the format `customers/[CUSTOMER_ID]`.",
                  "pattern": "^customers/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "path": "v1/{+parent}/configurations",
              "response": {
                "$ref": "CustomerListConfigurationsResponse"
              }
            },
            "create": {
              "path": "v1/{+parent}/configurations",
              "response": {
                "$ref": "Configuration"
              },
              "id": "androiddeviceprovisioning.customers.configurations.create",
              "httpMethod": "POST",
              "description": "Creates a new configuration. Once created, a customer can apply the configuration to devices.",
              "flatPath": "v1/customers/{customersId}/configurations",
              "request": {
                "$ref": "Configuration"
              },
              "parameters": {
                "parent": {
                  "description": "Required. The customer that manages the configuration. An API resource name in the format `customers/[CUSTOMER_ID]`. This field has custom validation in CreateConfigurationRequestValidator",
                  "pattern": "^customers/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "parent"
              ]
            },
            "patch": {
              "httpMethod": "PATCH",
              "flatPath": "v1/customers/{customersId}/configurations/{configurationsId}",
              "parameters": {
                "updateMask": {
                  "format": "google-fieldmask",
                  "description": "Required. The field mask applied to the target `Configuration` before updating the fields. To learn more about using field masks, read [FieldMask](/protocol-buffers/docs/reference/google.protobuf#fieldmask) in the Protocol Buffers documentation.",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "pattern": "^customers/[^/]+/configurations/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Output only. The API resource name in the format `customers/[CUSTOMER_ID]/configurations/[CONFIGURATION_ID]`. Assigned by the server.",
                  "type": "string"
                }
              },
              "description": "Updates a configuration's field values.",
              "response": {
                "$ref": "Configuration"
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "Configuration"
              },
              "id": "androiddeviceprovisioning.customers.configurations.patch",
              "path": "v1/{+name}"
            },
            "get": {
              "flatPath": "v1/customers/{customersId}/configurations/{configurationsId}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^customers/[^/]+/configurations/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Required. The configuration to get. An API resource name in the format `customers/[CUSTOMER_ID]/configurations/[CONFIGURATION_ID]`."
                }
              },
              "path": "v1/{+name}",
              "description": "Gets the details of a configuration.",
              "id": "androiddeviceprovisioning.customers.configurations.get",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Configuration"
              }
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. The configuration to delete. An API resource name in the format `customers/[CUSTOMER_ID]/configurations/[CONFIGURATION_ID]`. If the configuration is applied to any devices, the API call fails.",
                  "required": true,
                  "pattern": "^customers/[^/]+/configurations/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "description": "Deletes an unused configuration. The API call fails if the customer has devices with the configuration applied.",
              "httpMethod": "DELETE",
              "response": {
                "$ref": "Empty"
              },
              "id": "androiddeviceprovisioning.customers.configurations.delete",
              "path": "v1/{+name}",
              "flatPath": "v1/customers/{customersId}/configurations/{configurationsId}"
            }
          }
        }
      }
    },
    "operations": {
      "methods": {
        "get": {
          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
          "id": "androiddeviceprovisioning.operations.get",
          "path": "v1/{+name}",
          "response": {
            "$ref": "Operation"
          },
          "flatPath": "v1/operations/{operationsId}",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "description": "The name of the operation resource.",
              "location": "path",
              "pattern": "^operations/.*$",
              "required": true,
              "type": "string"
            }
          },
          "httpMethod": "GET"
        }
      }
    },
    "partners": {
      "resources": {
        "vendors": {
          "methods": {
            "list": {
              "parameters": {
                "parent": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Required. The resource name in the format `partners/[PARTNER_ID]`.",
                  "pattern": "^partners/[^/]+$"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of results to be returned.",
                  "format": "int32"
                },
                "pageToken": {
                  "location": "query",
                  "description": "A token identifying a page of results returned by the server.",
                  "type": "string"
                }
              },
              "path": "v1/{+parent}/vendors",
              "flatPath": "v1/partners/{partnersId}/vendors",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListVendorsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists the vendors of the partner.",
              "id": "androiddeviceprovisioning.partners.vendors.list"
            }
          },
          "resources": {
            "customers": {
              "methods": {
                "list": {
                  "path": "v1/{+parent}/customers",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/partners/{partnersId}/vendors/{vendorsId}/customers",
                  "id": "androiddeviceprovisioning.partners.vendors.customers.list",
                  "response": {
                    "$ref": "ListVendorCustomersResponse"
                  },
                  "parameters": {
                    "parent": {
                      "description": "Required. The resource name in the format `partners/[PARTNER_ID]/vendors/[VENDOR_ID]`.",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^partners/[^/]+/vendors/[^/]+$"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "A token identifying a page of results returned by the server."
                    },
                    "pageSize": {
                      "description": "The maximum number of results to be returned.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    }
                  },
                  "description": "Lists the customers of the vendor.",
                  "httpMethod": "GET"
                }
              }
            }
          }
        },
        "devices": {
          "methods": {
            "unclaimAsync": {
              "path": "v1/partners/{+partnerId}/devices:unclaimAsync",
              "id": "androiddeviceprovisioning.partners.devices.unclaimAsync",
              "response": {
                "$ref": "Operation"
              },
              "flatPath": "v1/partners/{partnersId}/devices:unclaimAsync",
              "parameterOrder": [
                "partnerId"
              ],
              "request": {
                "$ref": "UnclaimDevicesRequest"
              },
              "parameters": {
                "partnerId": {
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "format": "int64",
                  "type": "string",
                  "description": "Required. The reseller partner ID."
                }
              },
              "description": "Unclaims a batch of devices for a customer asynchronously. Removes the devices from zero-touch enrollment. To learn more, read [Long‑running batch operations](/zero-touch/guides/how-it-works#operations).",
              "httpMethod": "POST"
            },
            "claim": {
              "parameters": {
                "partnerId": {
                  "description": "Required. The ID of the reseller partner.",
                  "pattern": "^[^/]+$",
                  "format": "int64",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "flatPath": "v1/partners/{partnersId}/devices:claim",
              "httpMethod": "POST",
              "description": "Claims a device for a customer and adds it to zero-touch enrollment. If the device is already claimed by another customer, the call returns an error.",
              "parameterOrder": [
                "partnerId"
              ],
              "path": "v1/partners/{+partnerId}/devices:claim",
              "response": {
                "$ref": "ClaimDeviceResponse"
              },
              "id": "androiddeviceprovisioning.partners.devices.claim",
              "request": {
                "$ref": "ClaimDeviceRequest"
              }
            },
            "findByOwner": {
              "id": "androiddeviceprovisioning.partners.devices.findByOwner",
              "description": "Finds devices claimed for customers. The results only contain devices registered to the reseller that's identified by the `partnerId` argument. The customer's devices purchased from other resellers don't appear in the results.",
              "httpMethod": "POST",
              "request": {
                "$ref": "FindDevicesByOwnerRequest"
              },
              "parameters": {
                "partnerId": {
                  "type": "string",
                  "description": "Required. The ID of the reseller partner.",
                  "format": "int64",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "required": true
                }
              },
              "path": "v1/partners/{+partnerId}/devices:findByOwner",
              "response": {
                "$ref": "FindDevicesByOwnerResponse"
              },
              "flatPath": "v1/partners/{partnersId}/devices:findByOwner",
              "parameterOrder": [
                "partnerId"
              ]
            },
            "unclaim": {
              "parameterOrder": [
                "partnerId"
              ],
              "id": "androiddeviceprovisioning.partners.devices.unclaim",
              "httpMethod": "POST",
              "description": "Unclaims a device from a customer and removes it from zero-touch enrollment.",
              "path": "v1/partners/{+partnerId}/devices:unclaim",
              "parameters": {
                "partnerId": {
                  "description": "Required. The ID of the reseller partner.",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "format": "int64",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Empty"
              },
              "request": {
                "$ref": "UnclaimDeviceRequest"
              },
              "flatPath": "v1/partners/{partnersId}/devices:unclaim"
            },
            "findByIdentifier": {
              "path": "v1/partners/{+partnerId}/devices:findByIdentifier",
              "description": "Finds devices by hardware identifiers, such as IMEI.",
              "httpMethod": "POST",
              "request": {
                "$ref": "FindDevicesByDeviceIdentifierRequest"
              },
              "parameters": {
                "partnerId": {
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "description": "Required. The ID of the reseller partner.",
                  "format": "int64",
                  "type": "string"
                }
              },
              "id": "androiddeviceprovisioning.partners.devices.findByIdentifier",
              "response": {
                "$ref": "FindDevicesByDeviceIdentifierResponse"
              },
              "parameterOrder": [
                "partnerId"
              ],
              "flatPath": "v1/partners/{partnersId}/devices:findByIdentifier"
            },
            "claimAsync": {
              "parameters": {
                "partnerId": {
                  "description": "Required. The ID of the reseller partner.",
                  "format": "int64",
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/partners/{+partnerId}/devices:claimAsync",
              "httpMethod": "POST",
              "response": {
                "$ref": "Operation"
              },
              "request": {
                "$ref": "ClaimDevicesRequest"
              },
              "id": "androiddeviceprovisioning.partners.devices.claimAsync",
              "flatPath": "v1/partners/{partnersId}/devices:claimAsync",
              "description": "Claims a batch of devices for a customer asynchronously. Adds the devices to zero-touch enrollment. To learn more, read [Long‑running batch operations](/zero-touch/guides/how-it-works#operations).",
              "parameterOrder": [
                "partnerId"
              ]
            },
            "updateMetadataAsync": {
              "parameterOrder": [
                "partnerId"
              ],
              "response": {
                "$ref": "Operation"
              },
              "request": {
                "$ref": "UpdateDeviceMetadataInBatchRequest"
              },
              "httpMethod": "POST",
              "flatPath": "v1/partners/{partnersId}/devices:updateMetadataAsync",
              "parameters": {
                "partnerId": {
                  "type": "string",
                  "required": true,
                  "pattern": "^[^/]+$",
                  "format": "int64",
                  "description": "Required. The reseller partner ID.",
                  "location": "path"
                }
              },
              "id": "androiddeviceprovisioning.partners.devices.updateMetadataAsync",
              "description": "Updates the reseller metadata attached to a batch of devices. This method updates devices asynchronously and returns an `Operation` that can be used to track progress. Read [Long‑running batch operations](/zero-touch/guides/how-it-works#operations). Android Devices only.",
              "path": "v1/partners/{+partnerId}/devices:updateMetadataAsync"
            },
            "get": {
              "id": "androiddeviceprovisioning.partners.devices.get",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "description": "Gets a device.",
              "parameters": {
                "name": {
                  "description": "Required. The device API resource name in the format `partners/[PARTNER_ID]/devices/[DEVICE_ID]`.",
                  "type": "string",
                  "pattern": "^partners/[^/]+/devices/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "flatPath": "v1/partners/{partnersId}/devices/{devicesId}",
              "path": "v1/{+name}",
              "response": {
                "$ref": "Device"
              }
            },
            "getSimLockState": {
              "description": "Gets a device's SIM lock state.",
              "id": "androiddeviceprovisioning.partners.devices.getSimLockState",
              "parameterOrder": [
                "partnerId"
              ],
              "flatPath": "v1/partners/{partnersId}/devices:getSimLockState",
              "path": "v1/partners/{+partnerId}/devices:getSimLockState",
              "request": {
                "$ref": "GetDeviceSimLockStateRequest"
              },
              "httpMethod": "POST",
              "response": {
                "$ref": "GetDeviceSimLockStateResponse"
              },
              "parameters": {
                "partnerId": {
                  "type": "string",
                  "description": "Required. The ID of the partner.",
                  "required": true,
                  "pattern": "^[^/]+$",
                  "format": "int64",
                  "location": "path"
                }
              }
            },
            "metadata": {
              "response": {
                "$ref": "DeviceMetadata"
              },
              "path": "v1/partners/{+metadataOwnerId}/devices/{+deviceId}/metadata",
              "parameterOrder": [
                "metadataOwnerId",
                "deviceId"
              ],
              "description": "Updates reseller metadata associated with the device. Android devices only.",
              "request": {
                "$ref": "UpdateDeviceMetadataRequest"
              },
              "flatPath": "v1/partners/{partnersId}/devices/{devicesId}/metadata",
              "parameters": {
                "deviceId": {
                  "location": "path",
                  "description": "Required. The ID of the device.",
                  "pattern": "^[^/]+$",
                  "format": "int64",
                  "required": true,
                  "type": "string"
                },
                "metadataOwnerId": {
                  "location": "path",
                  "format": "int64",
                  "required": true,
                  "type": "string",
                  "pattern": "^[^/]+$",
                  "description": "Required. The owner of the newly set metadata. Set this to the partner ID."
                }
              },
              "id": "androiddeviceprovisioning.partners.devices.metadata",
              "httpMethod": "POST"
            }
          }
        },
        "customers": {
          "methods": {
            "create": {
              "id": "androiddeviceprovisioning.partners.customers.create",
              "path": "v1/{+parent}/customers",
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/partners/{partnersId}/customers",
              "parameters": {
                "parent": {
                  "pattern": "^partners/[^/]+$",
                  "type": "string",
                  "description": "Required. The parent resource ID in the format `partners/[PARTNER_ID]` that identifies the reseller.",
                  "location": "path",
                  "required": true
                }
              },
              "request": {
                "$ref": "CreateCustomerRequest"
              },
              "description": "Creates a customer for zero-touch enrollment. After the method returns successfully, admin and owner roles can manage devices and EMM configs by calling API methods or using their zero-touch enrollment portal. The customer receives an email that welcomes them to zero-touch enrollment and explains how to sign into the portal.",
              "response": {
                "$ref": "Company"
              }
            },
            "list": {
              "httpMethod": "GET",
              "response": {
                "$ref": "ListCustomersResponse"
              },
              "id": "androiddeviceprovisioning.partners.customers.list",
              "path": "v1/partners/{+partnerId}/customers",
              "description": "Lists the customers that are enrolled to the reseller identified by the `partnerId` argument. This list includes customers that the reseller created and customers that enrolled themselves using the portal.",
              "parameters": {
                "partnerId": {
                  "location": "path",
                  "format": "int64",
                  "pattern": "^[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. The ID of the reseller partner."
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A token identifying a page of results returned by the server."
                },
                "pageSize": {
                  "description": "The maximum number of results to be returned. If not specified or 0, all the records are returned.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "partnerId"
              ],
              "flatPath": "v1/partners/{partnersId}/customers"
            }
          }
        }
      }
    }
  },
  "canonicalName": "Android Provisioning Partner",
  "mtlsRootUrl": "https://androiddeviceprovisioning.mtls.googleapis.com/",
  "ownerDomain": "google.com",
  "parameters": {
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true",
      "type": "boolean"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    }
  },
  "documentationLink": "https://developers.google.com/zero-touch/",
  "fullyEncodeReservedExpansion": true,
  "batchPath": "batch",
  "version": "v1",
  "schemas": {
    "FindDevicesByDeviceIdentifierRequest": {
      "properties": {
        "deviceIdentifier": {
          "description": "Required. Required. The device identifier to search for. If serial number is provided then case insensitive serial number matches are allowed.",
          "$ref": "DeviceIdentifier"
        },
        "limit": {
          "description": "Required. The maximum number of devices to show in a page of results. Must be between 1 and 100 inclusive.",
          "type": "string",
          "format": "int64"
        },
        "pageToken": {
          "description": "A token specifying which result page to return.",
          "type": "string"
        }
      },
      "description": "Request to find devices.",
      "id": "FindDevicesByDeviceIdentifierRequest",
      "type": "object"
    },
    "ListVendorsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Omitted if no further results are available."
        },
        "vendors": {
          "type": "array",
          "description": "List of vendors of the reseller partner. Fields `name`, `companyId` and `companyName` are populated to the Company object.",
          "items": {
            "$ref": "Company"
          }
        },
        "totalSize": {
          "description": "The total count of items in the list irrespective of pagination.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "ListVendorsResponse",
      "description": "Response message to list vendors of the partner.",
      "type": "object"
    },
    "DevicesLongRunningOperationMetadata": {
      "description": "Tracks the status of a long-running operation to asynchronously update a batch of reseller metadata attached to devices. To learn more, read [Long‑running batch operations](/zero-touch/guides/how-it-works#operations).",
      "id": "DevicesLongRunningOperationMetadata",
      "type": "object",
      "properties": {
        "processingStatus": {
          "description": "The processing status of the operation.",
          "type": "string",
          "enum": [
            "BATCH_PROCESS_STATUS_UNSPECIFIED",
            "BATCH_PROCESS_PENDING",
            "BATCH_PROCESS_IN_PROGRESS",
            "BATCH_PROCESS_PROCESSED"
          ],
          "enumDescriptions": [
            "Invalid code. Shouldn't be used.",
            "Pending.",
            "In progress.",
            "Processed. This doesn't mean all items were processed successfully, you should check the `response` field for the result of every item."
          ]
        },
        "devicesCount": {
          "type": "integer",
          "description": "The number of metadata updates in the operation. This might be different from the number of updates in the request if the API can't parse some of the updates.",
          "format": "int32"
        },
        "progress": {
          "type": "integer",
          "format": "int32",
          "description": "The processing progress of the operation. Measured as a number from 0 to 100. A value of 10O doesn't always mean the operation completed—check for the inclusion of a `done` field."
        }
      }
    },
    "CustomerListDevicesResponse": {
      "type": "object",
      "id": "CustomerListDevicesResponse",
      "description": "Response message of customer's liting devices.",
      "properties": {
        "devices": {
          "description": "The customer's devices.",
          "type": "array",
          "items": {
            "$ref": "Device"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token used to access the next page of results. Omitted if no further results are available."
        }
      }
    },
    "DevicesLongRunningOperationResponse": {
      "id": "DevicesLongRunningOperationResponse",
      "type": "object",
      "description": "Tracks the status of a long-running operation to claim, unclaim, or attach metadata to devices. To learn more, read [Long‑running batch operations](/zero-touch/guides/how-it-works#operations).",
      "properties": {
        "successCount": {
          "description": "A summary of how many items in the operation the server processed successfully. Updated as the operation progresses.",
          "format": "int32",
          "type": "integer"
        },
        "perDeviceStatus": {
          "items": {
            "$ref": "OperationPerDevice"
          },
          "description": "The processing status for each device in the operation. One `PerDeviceStatus` per device. The list order matches the items in the original request.",
          "type": "array"
        }
      }
    },
    "FindDevicesByOwnerResponse": {
      "type": "object",
      "properties": {
        "devices": {
          "description": "The customer's devices.",
          "items": {
            "$ref": "Device"
          },
          "type": "array"
        },
        "totalSize": {
          "format": "int32",
          "description": "The total count of items in the list irrespective of pagination.",
          "type": "integer"
        },
        "nextPageToken": {
          "description": "A token used to access the next page of results. Omitted if no further results are available.",
          "type": "string"
        }
      },
      "description": "Response containing found devices.",
      "id": "FindDevicesByOwnerResponse"
    },
    "CustomerApplyConfigurationRequest": {
      "description": "Request message for customer to assign a configuration to device.",
      "type": "object",
      "id": "CustomerApplyConfigurationRequest",
      "properties": {
        "configuration": {
          "description": "Required. The configuration applied to the device in the format `customers/[CUSTOMER_ID]/configurations/[CONFIGURATION_ID]`.",
          "type": "string"
        },
        "device": {
          "$ref": "DeviceReference",
          "description": "Required. The device the configuration is applied to. There are custom validations in ApplyConfigurationRequestValidator"
        }
      }
    },
    "Configuration": {
      "type": "object",
      "id": "Configuration",
      "description": "A configuration collects the provisioning options for Android devices. Each configuration combines the following: * The EMM device policy controller (DPC) installed on the devices. * EMM policies enforced on the devices. * Metadata displayed on the device to help users during setup. Customers can add as many configurations as they need. However, zero-touch enrollment works best when a customer sets a default configuration that's applied to any new devices the organization purchases.",
      "properties": {
        "contactPhone": {
          "description": "Required. The telephone number that device users can call, using another device, to get help. Zero-touch enrollment shows this number to device users before device provisioning. Accepts numerals, spaces, the plus sign, hyphens, and parentheses.",
          "type": "string"
        },
        "isDefault": {
          "description": "Required. Whether this is the default configuration that zero-touch enrollment applies to any new devices the organization purchases in the future. Only one customer configuration can be the default. Setting this value to `true`, changes the previous default configuration's `isDefault` value to `false`.",
          "type": "boolean"
        },
        "name": {
          "description": "Output only. The API resource name in the format `customers/[CUSTOMER_ID]/configurations/[CONFIGURATION_ID]`. Assigned by the server.",
          "readOnly": true,
          "type": "string"
        },
        "configurationId": {
          "description": "Output only. The ID of the configuration. Assigned by the server.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "forcedResetTime": {
          "description": "Optional. The timeout before forcing factory reset the device if the device doesn't go through provisioning in the setup wizard, usually due to lack of network connectivity during setup wizard. Ranges from 0-6 hours, with 2 hours being the default if unset.",
          "type": "string",
          "format": "google-duration"
        },
        "configurationName": {
          "description": "Required. A short name that describes the configuration's purpose. For example, _Sales team_ or _Temporary employees_. The zero-touch enrollment portal displays this name to IT admins.",
          "type": "string"
        },
        "contactEmail": {
          "description": "Required. The email address that device users can contact to get help. Zero-touch enrollment shows this email address to device users before device provisioning. The value is validated on input.",
          "type": "string"
        },
        "customMessage": {
          "type": "string",
          "description": "A message, containing one or two sentences, to help device users get help or give them more details about what’s happening to their device. Zero-touch enrollment shows this message before the device is provisioned."
        },
        "companyName": {
          "type": "string",
          "description": "Required. The name of the organization. Zero-touch enrollment shows this organization name to device users during device provisioning."
        },
        "dpcResourcePath": {
          "type": "string",
          "description": "Required. The resource name of the selected DPC (device policy controller) in the format `customers/[CUSTOMER_ID]/dpcs/*`. To list the supported DPCs, call `customers.dpcs.list`."
        },
        "dpcExtras": {
          "type": "string",
          "description": "The JSON-formatted EMM provisioning extras that are passed to the DPC."
        }
      }
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "Empty",
      "type": "object"
    },
    "FindDevicesByDeviceIdentifierResponse": {
      "properties": {
        "totalSize": {
          "format": "int32",
          "type": "integer",
          "description": "The total count of items in the list irrespective of pagination."
        },
        "devices": {
          "type": "array",
          "items": {
            "$ref": "Device"
          },
          "description": "Found devices."
        },
        "nextPageToken": {
          "description": "A token used to access the next page of results. Omitted if no further results are available.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response containing found devices.",
      "id": "FindDevicesByDeviceIdentifierResponse"
    },
    "ListVendorCustomersResponse": {
      "id": "ListVendorCustomersResponse",
      "type": "object",
      "description": "Response message to list customers of the vendor.",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Omitted if no further results are available.",
          "type": "string"
        },
        "customers": {
          "description": "List of customers of the vendor.",
          "type": "array",
          "items": {
            "$ref": "Company"
          }
        },
        "totalSize": {
          "description": "The total count of items in the list irrespective of pagination.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "UnclaimDevicesRequest": {
      "properties": {
        "unclaims": {
          "description": "Required. The list of devices to unclaim.",
          "type": "array",
          "items": {
            "$ref": "PartnerUnclaim"
          }
        }
      },
      "id": "UnclaimDevicesRequest",
      "type": "object",
      "description": "Request to unclaim devices asynchronously in batch."
    },
    "Dpc": {
      "id": "Dpc",
      "description": "An EMM's DPC ([device policy controller](http://developer.android.com/work/dpc/build-dpc.html)). Zero-touch enrollment installs a DPC (listed in the `Configuration`) on a device to maintain the customer's mobile policies. All the DPCs listed by the API support zero-touch enrollment and are available in Google Play.",
      "type": "object",
      "properties": {
        "dpcName": {
          "readOnly": true,
          "description": "Output only. The title of the DPC app in Google Play. For example, _Google Apps Device Policy_. Useful in an application's user interface.",
          "type": "string"
        },
        "packageName": {
          "description": "Output only. The DPC's Android application ID that looks like a Java package name. Zero-touch enrollment installs the DPC app onto a device using this identifier.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The API resource name in the format `customers/[CUSTOMER_ID]/dpcs/[DPC_ID]`. Assigned by the server. To maintain a reference to a DPC across customer accounts, persist and match the last path component (`DPC_ID`).",
          "type": "string"
        }
      }
    },
    "CustomerListDpcsResponse": {
      "description": "Response message of customer's listing DPCs.",
      "type": "object",
      "id": "CustomerListDpcsResponse",
      "properties": {
        "dpcs": {
          "description": "The list of DPCs available to the customer that support zero-touch enrollment.",
          "items": {
            "$ref": "Dpc"
          },
          "type": "array"
        }
      }
    },
    "CustomerListCustomersResponse": {
      "properties": {
        "customers": {
          "items": {
            "$ref": "Company"
          },
          "description": "The customer accounts the calling user is a member of.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token used to access the next page of results. Omitted if no further results are available."
        }
      },
      "description": "Response message for listing my customers.",
      "id": "CustomerListCustomersResponse",
      "type": "object"
    },
    "GoogleWorkspaceAccount": {
      "properties": {
        "preProvisioningTokens": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. The pre-provisioning tokens previously used to claim devices."
        },
        "customerId": {
          "description": "Required. The customer ID.",
          "type": "string"
        }
      },
      "id": "GoogleWorkspaceAccount",
      "description": "A Google Workspace customer.",
      "type": "object"
    },
    "ListCustomersResponse": {
      "id": "ListCustomersResponse",
      "type": "object",
      "description": "Response message of all customers related to this partner.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Omitted if no further results are available."
        },
        "totalSize": {
          "type": "integer",
          "description": "The total count of items in the list irrespective of pagination.",
          "format": "int32"
        },
        "customers": {
          "items": {
            "$ref": "Company"
          },
          "description": "List of customers related to this reseller partner.",
          "type": "array"
        }
      }
    },
    "Device": {
      "description": "An Android or Chrome OS device registered for zero-touch enrollment.",
      "id": "Device",
      "properties": {
        "claims": {
          "description": "Output only. The provisioning claims for a device. Devices claimed for zero-touch enrollment have a claim with the type `SECTION_TYPE_ZERO_TOUCH`. Call `partners.devices.unclaim` or `partners.devices.unclaimAsync` to remove the device from zero-touch enrollment.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "DeviceClaim"
          }
        },
        "configuration": {
          "description": "Not available to resellers.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The API resource name in the format `partners/[PARTNER_ID]/devices/[DEVICE_ID]`. Assigned by the server.",
          "type": "string"
        },
        "deviceIdentifier": {
          "description": "The hardware IDs that identify a manufactured device. To learn more, read [Identifiers](https://developers.google.com/zero-touch/guides/identifiers).",
          "$ref": "DeviceIdentifier"
        },
        "deviceId": {
          "readOnly": true,
          "description": "Output only. The ID of the device. Assigned by the server.",
          "type": "string",
          "format": "int64"
        },
        "deviceMetadata": {
          "description": "The metadata attached to the device. Structured as key-value pairs. To learn more, read [Device metadata](https://developers.google.com/zero-touch/guides/metadata).",
          "$ref": "DeviceMetadata"
        }
      },
      "type": "object"
    },
    "ClaimDeviceResponse": {
      "properties": {
        "deviceName": {
          "description": "The resource name of the device in the format `partners/[PARTNER_ID]/devices/[DEVICE_ID]`.",
          "type": "string"
        },
        "deviceId": {
          "type": "string",
          "description": "The device ID of the claimed device.",
          "format": "int64"
        }
      },
      "description": "Response message containing device id of the claim.",
      "id": "ClaimDeviceResponse",
      "type": "object"
    },
    "CustomerListConfigurationsResponse": {
      "type": "object",
      "id": "CustomerListConfigurationsResponse",
      "description": "Response message of customer's listing configuration.",
      "properties": {
        "configurations": {
          "items": {
            "$ref": "Configuration"
          },
          "type": "array",
          "description": "The configurations."
        }
      }
    },
    "DeviceMetadata": {
      "id": "DeviceMetadata",
      "properties": {
        "entries": {
          "type": "object",
          "description": "Metadata entries recorded as key-value pairs.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Metadata entries that can be attached to a `Device`. To learn more, read [Device metadata](https://developers.google.com/zero-touch/guides/metadata)."
    },
    "UpdateMetadataArguments": {
      "id": "UpdateMetadataArguments",
      "properties": {
        "deviceId": {
          "description": "Required. Device ID of the device.",
          "type": "string",
          "format": "int64"
        },
        "deviceIdentifier": {
          "$ref": "DeviceIdentifier",
          "description": "Required. Device identifier."
        },
        "deviceMetadata": {
          "$ref": "DeviceMetadata",
          "description": "Required. The metadata to update."
        }
      },
      "description": "Identifies metadata updates to one device.",
      "type": "object"
    },
    "CustomerUnclaimDeviceRequest": {
      "type": "object",
      "description": "Request message for customer to unclaim a device.",
      "properties": {
        "device": {
          "$ref": "DeviceReference",
          "description": "Required. The device to unclaim. There are custom validations in UnclaimDeviceRequestValidator."
        }
      },
      "id": "CustomerUnclaimDeviceRequest"
    },
    "PartnerUnclaim": {
      "id": "PartnerUnclaim",
      "properties": {
        "deviceId": {
          "description": "Required. Device ID of the device.",
          "format": "int64",
          "type": "string"
        },
        "deviceIdentifier": {
          "description": "Required. Device identifier of the device.",
          "$ref": "DeviceIdentifier"
        },
        "vacationModeExpireTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. The expiration time of the vacation unlock."
        },
        "sectionType": {
          "enumDescriptions": [
            "Unspecified section type.",
            "SIM-lock section type.",
            "Zero-touch enrollment section type."
          ],
          "type": "string",
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "SECTION_TYPE_SIM_LOCK",
            "SECTION_TYPE_ZERO_TOUCH"
          ],
          "description": "Required. The section type of the device's provisioning record."
        },
        "vacationModeDays": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The duration of the vacation unlock starting from when the request is processed. (1 day is treated as 24 hours)"
        }
      },
      "type": "object",
      "description": "Identifies one unclaim request."
    },
    "GetDeviceSimLockStateResponse": {
      "type": "object",
      "properties": {
        "simLockState": {
          "type": "string",
          "enum": [
            "SIM_LOCK_STATE_UNSPECIFIED",
            "UNLOCKED",
            "LOCKED_TO_PARTNER",
            "LOCKED_TO_OTHER_PARTNER"
          ],
          "enumDescriptions": [
            "Invalid code. Shouldn't be used.",
            "Device is not SIM locked.",
            "Device is SIM locked to the partner querying SIM lock state.",
            "Device is SIM locked to a different partner."
          ]
        }
      },
      "id": "GetDeviceSimLockStateResponse",
      "description": "Response containing a device's SimLock state."
    },
    "UpdateDeviceMetadataInBatchRequest": {
      "properties": {
        "updates": {
          "type": "array",
          "description": "Required. The list of metadata updates.",
          "items": {
            "$ref": "UpdateMetadataArguments"
          }
        }
      },
      "id": "UpdateDeviceMetadataInBatchRequest",
      "description": "Request to update device metadata in batch.",
      "type": "object"
    },
    "CustomerRemoveConfigurationRequest": {
      "description": "Request message for customer to remove the configuration from device.",
      "type": "object",
      "id": "CustomerRemoveConfigurationRequest",
      "properties": {
        "device": {
          "description": "Required. The device to remove the configuration from. There are custom validations in RemoveConfigurationRequestValidator",
          "$ref": "DeviceReference"
        }
      }
    },
    "DeviceReference": {
      "id": "DeviceReference",
      "properties": {
        "deviceId": {
          "format": "int64",
          "type": "string",
          "description": "The ID of the device."
        },
        "deviceIdentifier": {
          "$ref": "DeviceIdentifier",
          "description": "The hardware IDs of the device."
        }
      },
      "description": "A `DeviceReference` is an API abstraction that lets you supply a _device_ argument to a method using one of the following identifier types: * A numeric API resource ID. * Real-world hardware IDs, such as IMEI number, belonging to the manufactured device. Methods that operate on devices take a `DeviceReference` as a parameter type because it's more flexible for the caller. To learn more about device identifiers, read [Identifiers](https://developers.google.com/zero-touch/guides/identifiers).",
      "type": "object"
    },
    "UnclaimDeviceRequest": {
      "description": "Request message to unclaim a device.",
      "id": "UnclaimDeviceRequest",
      "type": "object",
      "properties": {
        "vacationModeExpireTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The expiration time of the vacation unlock."
        },
        "sectionType": {
          "type": "string",
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "SECTION_TYPE_SIM_LOCK",
            "SECTION_TYPE_ZERO_TOUCH"
          ],
          "description": "Required. The section type of the device's provisioning record.",
          "enumDescriptions": [
            "Unspecified section type.",
            "SIM-lock section type.",
            "Zero-touch enrollment section type."
          ]
        },
        "vacationModeDays": {
          "format": "int32",
          "description": "The duration of the vacation unlock starting from when the request is processed. (1 day is treated as 24 hours)",
          "type": "integer"
        },
        "deviceId": {
          "format": "int64",
          "description": "Required. The device ID returned by `ClaimDevice`.",
          "type": "string"
        },
        "deviceIdentifier": {
          "description": "Required. The device identifier you used when you claimed this device.",
          "$ref": "DeviceIdentifier"
        }
      }
    },
    "ClaimDevicesRequest": {
      "id": "ClaimDevicesRequest",
      "description": "Request to claim devices asynchronously in batch. Claiming a device adds the device to zero-touch enrollment and shows the device in the customer's view of the portal.",
      "type": "object",
      "properties": {
        "claims": {
          "type": "array",
          "items": {
            "$ref": "PartnerClaim"
          },
          "description": "Required. A list of device claims."
        }
      }
    },
    "DeviceIdentifier": {
      "properties": {
        "chromeOsAttestedDeviceId": {
          "description": "An identifier provided by OEMs, carried through the production and sales process. Only applicable to Chrome OS devices.",
          "type": "string"
        },
        "imei2": {
          "type": "string",
          "description": "The device’s second IMEI number."
        },
        "model": {
          "description": "The device model's name. Allowed values are listed in [Android models](/zero-touch/resources/manufacturer-names#model-names) and [Chrome OS models](https://support.google.com/chrome/a/answer/10130175#identify_compatible).",
          "type": "string"
        },
        "manufacturer": {
          "type": "string",
          "description": "The device manufacturer’s name. Matches the device's built-in value returned from `android.os.Build.MANUFACTURER`. Allowed values are listed in [Android manufacturers](/zero-touch/resources/manufacturer-names#manufacturers-names)."
        },
        "deviceType": {
          "type": "string",
          "enum": [
            "DEVICE_TYPE_UNSPECIFIED",
            "DEVICE_TYPE_ANDROID",
            "DEVICE_TYPE_CHROME_OS"
          ],
          "enumDescriptions": [
            "Device type is not specified.",
            "Android mobile and Desktop except Googlebooks and Chromebooks",
            "Chrome OS device"
          ],
          "description": "The type of the device"
        },
        "serialNumber": {
          "type": "string",
          "description": "The manufacturer's serial number for the device. This value might not be unique across different device models."
        },
        "imei": {
          "description": "The device’s IMEI number. Validated on input.",
          "type": "string"
        },
        "meid": {
          "description": "The device’s MEID number.",
          "type": "string"
        },
        "meid2": {
          "type": "string",
          "description": "The device’s second MEID number."
        }
      },
      "description": "Encapsulates hardware and product IDs to identify a manufactured device. To understand requirements on identifier sets, read [Identifiers](https://developers.google.com/zero-touch/guides/identifiers).",
      "id": "DeviceIdentifier",
      "type": "object"
    },
    "PerDeviceStatusInBatch": {
      "type": "object",
      "properties": {
        "status": {
          "description": "The result status of the device after processing.",
          "enumDescriptions": [
            "Invalid code. Shouldn't be used.",
            "Unknown error. We don't expect this error to occur here.",
            "Other error. We know/expect this error, but there's no defined error code for the error.",
            "Success.",
            "Permission denied.",
            "Invalid device identifier.",
            "Invalid section type.",
            "This section is claimed by another company.",
            "Invalid pre-provisioning token.",
            "Revoked pre-provisioning token.",
            "Status used to indicate a failure due to a device limit being exceeded"
          ],
          "type": "string",
          "enum": [
            "SINGLE_DEVICE_STATUS_UNSPECIFIED",
            "SINGLE_DEVICE_STATUS_UNKNOWN_ERROR",
            "SINGLE_DEVICE_STATUS_OTHER_ERROR",
            "SINGLE_DEVICE_STATUS_SUCCESS",
            "SINGLE_DEVICE_STATUS_PERMISSION_DENIED",
            "SINGLE_DEVICE_STATUS_INVALID_DEVICE_IDENTIFIER",
            "SINGLE_DEVICE_STATUS_INVALID_SECTION_TYPE",
            "SINGLE_DEVICE_STATUS_SECTION_NOT_YOURS",
            "SINGLE_DEVICE_STATUS_INVALID_TOKEN",
            "SINGLE_DEVICE_STATUS_REVOKED_TOKEN",
            "SINGLE_DEVICE_STATUS_DEVICE_LIMIT_EXCEEDED"
          ]
        },
        "errorMessage": {
          "type": "string",
          "description": "If processing fails, a developer message explaining what went wrong."
        },
        "errorIdentifier": {
          "description": "If processing fails, the error type.",
          "type": "string"
        },
        "deviceId": {
          "type": "string",
          "format": "int64",
          "description": "If processing succeeds, the device ID of the device."
        }
      },
      "id": "PerDeviceStatusInBatch",
      "description": "Captures the processing status for each device in the operation."
    },
    "Company": {
      "type": "object",
      "id": "Company",
      "properties": {
        "ownerEmails": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. Input only. Email address of customer's users in the owner role. At least one `owner_email` is required. Owners share the same access as admins but can also add, delete, and edit your organization's portal users."
        },
        "termsStatus": {
          "enumDescriptions": [
            "Default value. This value should never be set if the enum is present.",
            "None of the company's users have accepted the ToS.",
            "One (or more) of the company's users has accepted the ToS.",
            "None of the company's users has accepted the current ToS but at least one user accepted a previous ToS."
          ],
          "readOnly": true,
          "description": "Output only. Whether any user from the company has accepted the latest Terms of Service (ToS). See TermsStatus.",
          "enum": [
            "TERMS_STATUS_UNSPECIFIED",
            "TERMS_STATUS_NOT_ACCEPTED",
            "TERMS_STATUS_ACCEPTED",
            "TERMS_STATUS_STALE"
          ],
          "type": "string"
        },
        "skipWelcomeEmail": {
          "deprecated": true,
          "type": "boolean",
          "description": "Input only. Deprecated: This field is no longer supported and is ignored by the server."
        },
        "companyId": {
          "readOnly": true,
          "description": "Output only. The ID of the company. Assigned by the server.",
          "type": "string",
          "format": "int64"
        },
        "googleWorkspaceAccount": {
          "$ref": "GoogleWorkspaceAccount",
          "readOnly": true,
          "description": "Output only. The Google Workspace account associated with this customer. Only used for customer Companies."
        },
        "adminEmails": {
          "type": "array",
          "description": "Optional. Email address of customer's users in the admin role. Each email address must be associated with a Google Account.",
          "items": {
            "type": "string"
          }
        },
        "companyName": {
          "type": "string",
          "description": "Required. The name of the company. For example _XYZ Corp_. Displayed to the company's employees in the zero-touch enrollment portal."
        },
        "languageCode": {
          "description": "Input only. The preferred locale of the customer represented as a BCP47 language code. This field is validated on input and requests containing unsupported language codes will be rejected. Supported language codes: Arabic (ar) Chinese (Hong Kong) (zh-HK) Chinese (Simplified) (zh-CN) Chinese (Traditional) (zh-TW) Czech (cs) Danish (da) Dutch (nl) English (UK) (en-GB) English (US) (en-US) Filipino (fil) Finnish (fi) French (fr) German (de) Hebrew (iw) Hindi (hi) Hungarian (hu) Indonesian (id) Italian (it) Japanese (ja) Korean (ko) Norwegian (Bokmal) (no) Polish (pl) Portuguese (Brazil) (pt-BR) Portuguese (Portugal) (pt-PT) Russian (ru) Spanish (es) Spanish (Latin America) (es-419) Swedish (sv) Thai (th) Turkish (tr) Ukrainian (uk) Vietnamese (vi)",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only. The API resource name of the company. The resource name is one of the following formats: * `partners/[PARTNER_ID]/customers/[CUSTOMER_ID]` * `partners/[PARTNER_ID]/vendors/[VENDOR_ID]` * `partners/[PARTNER_ID]/vendors/[VENDOR_ID]/customers/[CUSTOMER_ID]` Assigned by the server.",
          "readOnly": true
        }
      },
      "description": "A reseller, vendor, or customer in the zero-touch reseller and customer APIs."
    },
    "Status": {
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          }
        }
      },
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object"
    },
    "OperationPerDevice": {
      "description": "A task for each device in the operation. Corresponds to each device change in the request.",
      "properties": {
        "claim": {
          "description": "A copy of the original device-claim request received by the server.",
          "$ref": "PartnerClaim"
        },
        "unclaim": {
          "description": "A copy of the original device-unclaim request received by the server.",
          "$ref": "PartnerUnclaim"
        },
        "updateMetadata": {
          "description": "A copy of the original metadata-update request received by the server.",
          "$ref": "UpdateMetadataArguments"
        },
        "result": {
          "$ref": "PerDeviceStatusInBatch",
          "description": "The processing result for each device."
        }
      },
      "type": "object",
      "id": "OperationPerDevice"
    },
    "FindDevicesByOwnerRequest": {
      "id": "FindDevicesByOwnerRequest",
      "properties": {
        "limit": {
          "type": "string",
          "format": "int64",
          "description": "Required. The maximum number of devices to show in a page of results. Must be between 1 and 100 inclusive."
        },
        "pageToken": {
          "description": "A token specifying which result page to return.",
          "type": "string"
        },
        "sectionType": {
          "type": "string",
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "SECTION_TYPE_SIM_LOCK",
            "SECTION_TYPE_ZERO_TOUCH"
          ],
          "enumDescriptions": [
            "Unspecified section type.",
            "SIM-lock section type.",
            "Zero-touch enrollment section type."
          ],
          "description": "Required. The section type of the device's provisioning record."
        },
        "googleWorkspaceCustomerId": {
          "description": "The list of IDs of Google Workspace accounts to search for.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "customerId": {
          "type": "array",
          "description": "The list of customer IDs to search for.",
          "items": {
            "format": "int64",
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Request to find devices by customers."
    },
    "UpdateDeviceMetadataRequest": {
      "type": "object",
      "description": "Request to set metadata for a device.",
      "properties": {
        "deviceMetadata": {
          "description": "Required. The metadata to attach to the device.",
          "$ref": "DeviceMetadata"
        }
      },
      "id": "UpdateDeviceMetadataRequest"
    },
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "metadata": {
          "description": "This field will contain a `DevicesLongRunningOperationMetadata` object if the operation is created by `claimAsync`, `unclaimAsync`, or `updateMetadataAsync`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "response": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "This field will contain a `DevicesLongRunningOperationResponse` object if the operation is created by `claimAsync`, `unclaimAsync`, or `updateMetadataAsync`."
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "error": {
          "description": "This field will always be not set if the operation is created by `claimAsync`, `unclaimAsync`, or `updateMetadataAsync`. In this case, error information for each device is set in `response.perDeviceStatus.result.status`.",
          "$ref": "Status"
        }
      }
    },
    "ClaimDeviceRequest": {
      "type": "object",
      "properties": {
        "customerId": {
          "description": "The ID of the customer for whom the device is being claimed.",
          "format": "int64",
          "type": "string"
        },
        "simlockProfileId": {
          "format": "int64",
          "description": "Optional. Must and can only be set when DeviceProvisioningSectionType is SECTION_TYPE_SIM_LOCK. The unique identifier of the SimLock profile.",
          "type": "string"
        },
        "preProvisioningToken": {
          "description": "Optional. Must and can only be set for Chrome OS devices.",
          "type": "string"
        },
        "deviceMetadata": {
          "description": "Optional. The metadata to attach to the device.",
          "$ref": "DeviceMetadata"
        },
        "deviceIdentifier": {
          "description": "Required. Required. The device identifier of the device to claim.",
          "$ref": "DeviceIdentifier"
        },
        "configurationId": {
          "description": "Optional. The ID of the configuration applied to the device section.",
          "type": "string",
          "format": "int64"
        },
        "sectionType": {
          "type": "string",
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "SECTION_TYPE_SIM_LOCK",
            "SECTION_TYPE_ZERO_TOUCH"
          ],
          "description": "Required. The section type of the device's provisioning record.",
          "enumDescriptions": [
            "Unspecified section type.",
            "SIM-lock section type.",
            "Zero-touch enrollment section type."
          ]
        },
        "googleWorkspaceCustomerId": {
          "description": "The Google Workspace customer ID.",
          "type": "string"
        }
      },
      "description": "Request message to claim a device on behalf of a customer.",
      "id": "ClaimDeviceRequest"
    },
    "DeviceClaim": {
      "properties": {
        "sectionType": {
          "enumDescriptions": [
            "Unspecified section type.",
            "SIM-lock section type.",
            "Zero-touch enrollment section type."
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "SECTION_TYPE_SIM_LOCK",
            "SECTION_TYPE_ZERO_TOUCH"
          ],
          "description": "Output only. The type of claim made on the device."
        },
        "additionalService": {
          "description": "The Additional service registered for the device.",
          "type": "string",
          "enum": [
            "ADDITIONAL_SERVICE_UNSPECIFIED",
            "DEVICE_PROTECTION"
          ],
          "enumDescriptions": [
            "No additional service.",
            "Device protection service, also known as Android Enterprise Essentials. To claim a device with the device protection service you must enroll with the partnership team."
          ]
        },
        "vacationModeExpireTime": {
          "description": "The timestamp when the device will exit ‘vacation mode’. This value is present iff the device is in 'vacation mode'.",
          "format": "google-datetime",
          "type": "string"
        },
        "googleWorkspaceCustomerId": {
          "description": "The ID of the Google Workspace account that owns the Chrome OS device.",
          "type": "string"
        },
        "vacationModeStartTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The timestamp when the device was put into ‘vacation mode’. This value is present iff the device is in 'vacation mode'."
        },
        "ownerCompanyId": {
          "type": "string",
          "description": "The ID of the Customer that purchased the device.",
          "format": "int64"
        },
        "resellerId": {
          "type": "string",
          "format": "int64",
          "description": "The ID of the reseller that claimed the device."
        }
      },
      "description": "A record of a device claimed by a reseller for a customer. Devices claimed for zero-touch enrollment have a claim with the type `SECTION_TYPE_ZERO_TOUCH`. To learn more, read [Claim devices for customers](/zero-touch/guides/how-it-works#claim).",
      "id": "DeviceClaim",
      "type": "object"
    },
    "CreateCustomerRequest": {
      "id": "CreateCustomerRequest",
      "properties": {
        "customer": {
          "description": "Required. The company data to populate the new customer. Must contain a value for `companyName` and at least one `owner_email` that's associated with a Google Account. The values for `companyId` and `name` must be empty.",
          "$ref": "Company"
        }
      },
      "description": "Request message to create a customer.",
      "type": "object"
    },
    "GetDeviceSimLockStateRequest": {
      "description": "Request to get a device's SIM lock status.",
      "id": "GetDeviceSimLockStateRequest",
      "properties": {
        "deviceIdentifier": {
          "$ref": "DeviceIdentifier",
          "description": "Required. Required. The device identifier to search for."
        }
      },
      "type": "object"
    },
    "PartnerClaim": {
      "type": "object",
      "properties": {
        "simlockProfileId": {
          "description": "Optional. Must and can only be set when DeviceProvisioningSectionType is SECTION_TYPE_SIM_LOCK. The unique identifier of the SimLock profile.",
          "type": "string",
          "format": "int64"
        },
        "preProvisioningToken": {
          "description": "Optional. Must and can only be set for Chrome OS devices.",
          "type": "string"
        },
        "deviceMetadata": {
          "description": "Required. The metadata to attach to the device at claim.",
          "$ref": "DeviceMetadata"
        },
        "googleWorkspaceCustomerId": {
          "description": "The Google Workspace customer ID.",
          "type": "string"
        },
        "sectionType": {
          "enumDescriptions": [
            "Unspecified section type.",
            "SIM-lock section type.",
            "Zero-touch enrollment section type."
          ],
          "type": "string",
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "SECTION_TYPE_SIM_LOCK",
            "SECTION_TYPE_ZERO_TOUCH"
          ],
          "description": "Required. The section type of the device's provisioning record."
        },
        "configurationId": {
          "format": "int64",
          "description": "Optional. The ID of the configuration applied to the device section.",
          "type": "string"
        },
        "customerId": {
          "format": "int64",
          "type": "string",
          "description": "The ID of the customer for whom the device is being claimed."
        },
        "deviceIdentifier": {
          "$ref": "DeviceIdentifier",
          "description": "Required. Required. Device identifier of the device."
        }
      },
      "description": "Identifies one claim request.",
      "id": "PartnerClaim"
    }
  },
  "revision": "20260819"
}