{
  "id": "androidpublisher:v3",
  "description": "Lets Android application developers access their Google Play accounts. At a high level, the expected workflow is to \"insert\" an Edit, make changes as necessary, and then \"commit\" it. ",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/androidpublisher": {
          "description": "View and manage your Google Play Developer account"
        }
      }
    }
  },
  "documentationLink": "https://developers.google.com/android-publisher",
  "discoveryVersion": "v1",
  "rootUrl": "https://androidpublisher.googleapis.com/",
  "servicePath": "",
  "revision": "20260914",
  "version": "v3",
  "title": "Google Play Android Developer API",
  "kind": "discovery#restDescription",
  "parameters": {
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "alt": {
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    }
  },
  "mtlsRootUrl": "https://androidpublisher.mtls.googleapis.com/",
  "resources": {
    "apprecovery": {
      "methods": {
        "deploy": {
          "path": "androidpublisher/v3/applications/{packageName}/appRecoveries/{appRecoveryId}:deploy",
          "description": "Deploy an already created app recovery action with recovery status DRAFT. Note that this action activates the recovery action for all targeted users and changes its status to ACTIVE.",
          "httpMethod": "POST",
          "request": {
            "$ref": "DeployAppRecoveryRequest"
          },
          "response": {
            "$ref": "DeployAppRecoveryResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "id": "androidpublisher.apprecovery.deploy",
          "parameters": {
            "packageName": {
              "location": "path",
              "required": true,
              "description": "Required. Package name of the app for which recovery action is deployed.",
              "type": "string"
            },
            "appRecoveryId": {
              "description": "Required. ID corresponding to the app recovery action to deploy.",
              "format": "int64",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "parameterOrder": [
            "packageName",
            "appRecoveryId"
          ],
          "flatPath": "androidpublisher/v3/applications/{packageName}/appRecoveries/{appRecoveryId}:deploy"
        },
        "addTargeting": {
          "description": "Incrementally update targeting for a recovery action. Note that only the criteria selected during the creation of recovery action can be expanded.",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "path": "androidpublisher/v3/applications/{packageName}/appRecoveries/{appRecoveryId}:addTargeting",
          "request": {
            "$ref": "AddTargetingRequest"
          },
          "flatPath": "androidpublisher/v3/applications/{packageName}/appRecoveries/{appRecoveryId}:addTargeting",
          "parameterOrder": [
            "packageName",
            "appRecoveryId"
          ],
          "parameters": {
            "packageName": {
              "required": true,
              "description": "Required. Package name of the app for which recovery action is to be updated.",
              "type": "string",
              "location": "path"
            },
            "appRecoveryId": {
              "required": true,
              "location": "path",
              "description": "Required. ID corresponding to the app recovery action.",
              "format": "int64",
              "type": "string"
            }
          },
          "id": "androidpublisher.apprecovery.addTargeting",
          "httpMethod": "POST",
          "response": {
            "$ref": "AddTargetingResponse"
          }
        },
        "cancel": {
          "path": "androidpublisher/v3/applications/{packageName}/appRecoveries/{appRecoveryId}:cancel",
          "parameters": {
            "packageName": {
              "location": "path",
              "description": "Required. Package name of the app for which recovery action cancellation is requested.",
              "required": true,
              "type": "string"
            },
            "appRecoveryId": {
              "description": "Required. ID corresponding to the app recovery action.",
              "format": "int64",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "description": "Cancel an already executing app recovery action. Note that this action changes status of the recovery action to CANCELED.",
          "parameterOrder": [
            "packageName",
            "appRecoveryId"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "CancelAppRecoveryRequest"
          },
          "id": "androidpublisher.apprecovery.cancel",
          "flatPath": "androidpublisher/v3/applications/{packageName}/appRecoveries/{appRecoveryId}:cancel",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "response": {
            "$ref": "CancelAppRecoveryResponse"
          }
        },
        "create": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "request": {
            "$ref": "CreateDraftAppRecoveryRequest"
          },
          "description": "Create an app recovery action with recovery status as DRAFT. Note that this action does not execute the recovery action.",
          "id": "androidpublisher.apprecovery.create",
          "flatPath": "androidpublisher/v3/applications/{packageName}/appRecoveries",
          "path": "androidpublisher/v3/applications/{packageName}/appRecoveries",
          "parameters": {
            "packageName": {
              "description": "Required. Package name of the app on which recovery action is performed.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "packageName"
          ],
          "response": {
            "$ref": "AppRecoveryAction"
          },
          "httpMethod": "POST"
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "description": "List all app recovery action resources associated with a particular package name and app version.",
          "parameterOrder": [
            "packageName"
          ],
          "path": "androidpublisher/v3/applications/{packageName}/appRecoveries",
          "response": {
            "$ref": "ListAppRecoveriesResponse"
          },
          "flatPath": "androidpublisher/v3/applications/{packageName}/appRecoveries",
          "httpMethod": "GET",
          "id": "androidpublisher.apprecovery.list",
          "parameters": {
            "packageName": {
              "required": true,
              "type": "string",
              "description": "Required. Package name of the app for which list of recovery actions is requested.",
              "location": "path"
            },
            "versionCode": {
              "description": "Required. Version code targeted by the list of recovery actions.",
              "type": "string",
              "location": "query",
              "format": "int64"
            }
          }
        }
      }
    },
    "grants": {
      "methods": {
        "delete": {
          "description": "Removes all access for the user to the given package or developer account.",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "path": "androidpublisher/v3/{+name}",
          "id": "androidpublisher.grants.delete",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "androidpublisher/v3/developers/{developersId}/users/{usersId}/grants/{grantsId}",
          "parameters": {
            "name": {
              "type": "string",
              "required": true,
              "pattern": "^developers/[^/]+/users/[^/]+/grants/[^/]+$",
              "location": "path",
              "description": "Required. The name of the grant to delete. Format: developers/{developer}/users/{email}/grants/{package_name}"
            }
          }
        },
        "patch": {
          "request": {
            "$ref": "Grant"
          },
          "path": "androidpublisher/v3/{+name}",
          "parameters": {
            "updateMask": {
              "description": "Optional. The list of fields to be updated.",
              "location": "query",
              "type": "string",
              "format": "google-fieldmask"
            },
            "name": {
              "description": "Required. Resource name for this grant, following the pattern \"developers/{developer}/users/{email}/grants/{package_name}\". If this grant is for a draft app, the app ID will be used in this resource name instead of the package name.",
              "location": "path",
              "pattern": "^developers/[^/]+/users/[^/]+/grants/[^/]+$",
              "type": "string",
              "required": true
            }
          },
          "httpMethod": "PATCH",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "androidpublisher/v3/developers/{developersId}/users/{usersId}/grants/{grantsId}",
          "response": {
            "$ref": "Grant"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "description": "Updates access for the user to the given package.",
          "id": "androidpublisher.grants.patch"
        },
        "create": {
          "path": "androidpublisher/v3/{+parent}/grants",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "Grant"
          },
          "description": "Grant access for a user to the given package.",
          "flatPath": "androidpublisher/v3/developers/{developersId}/users/{usersId}/grants",
          "parameters": {
            "parent": {
              "description": "Required. The user which needs permission. Format: developers/{developer}/users/{user}",
              "type": "string",
              "location": "path",
              "pattern": "^developers/[^/]+/users/[^/]+$",
              "required": true
            }
          },
          "response": {
            "$ref": "Grant"
          },
          "parameterOrder": [
            "parent"
          ],
          "id": "androidpublisher.grants.create"
        }
      }
    },
    "appstoreappsreview": {
      "methods": {
        "updateappstorehostedapppublishstatus": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "id": "androidpublisher.appstoreappsreview.updateappstorehostedapppublishstatus",
          "parameterOrder": [
            "appStorePackageName",
            "packageName"
          ],
          "httpMethod": "POST",
          "parameters": {
            "appStorePackageName": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Required. Package name of the third-party app store."
            },
            "packageName": {
              "description": "Required. Package name of the app.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "path": "androidpublisher/v3/appstore/{appStorePackageName}/apps/{packageName}:updateAppStoreHostedAppPublishStatus",
          "description": "Updates the publish status of an app store hosted app. The default state after calling UpdateAppStoreHostedApp is PUBLISHED. It is not necessary to call this RPC explicitly to set an app to PUBLISHED.",
          "request": {
            "$ref": "UpdateAppStoreHostedAppPublishStatusRequest"
          },
          "flatPath": "androidpublisher/v3/appstore/{appStorePackageName}/apps/{packageName}:updateAppStoreHostedAppPublishStatus",
          "response": {
            "$ref": "UpdateAppStoreHostedAppPublishStatusResponse"
          }
        },
        "uploadimage": {
          "flatPath": "androidpublisher/v3/appstore/{appStorePackageName}/apps/{packageName}/images:upload",
          "parameters": {
            "packageName": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Required. Package name of the app."
            },
            "appStorePackageName": {
              "required": true,
              "description": "Required. Package name of the third-party app store.",
              "location": "path",
              "type": "string"
            }
          },
          "description": "Upload a screenshot or app icon for the hosted app. Returns an ID to track the image.",
          "httpMethod": "POST",
          "parameterOrder": [
            "appStorePackageName",
            "packageName"
          ],
          "response": {
            "$ref": "UploadImageResponse"
          },
          "supportsMediaUpload": true,
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "id": "androidpublisher.appstoreappsreview.uploadimage",
          "mediaUpload": {
            "accept": [
              "image/*"
            ],
            "protocols": {
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/androidpublisher/v3/appstore/{appStorePackageName}/apps/{packageName}/images:upload"
              },
              "simple": {
                "multipart": true,
                "path": "/upload/androidpublisher/v3/appstore/{appStorePackageName}/apps/{packageName}/images:upload"
              }
            },
            "maxSize": "15728640"
          },
          "request": {
            "$ref": "UploadImageRequest"
          },
          "path": "androidpublisher/v3/appstore/{appStorePackageName}/apps/{packageName}/images:upload"
        },
        "updateappstorehostedapp": {
          "parameters": {
            "appStorePackageName": {
              "location": "path",
              "description": "Required. Package name of the third-party app store.",
              "type": "string",
              "required": true
            }
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "UpdateAppStoreHostedAppResponse"
          },
          "flatPath": "androidpublisher/v3/appstore/{appStorePackageName}/apps:update",
          "path": "androidpublisher/v3/appstore/{appStorePackageName}/apps:update",
          "parameterOrder": [
            "appStorePackageName"
          ],
          "request": {
            "$ref": "UpdateAppStoreHostedAppRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "id": "androidpublisher.appstoreappsreview.updateappstorehostedapp",
          "description": "Updates details for an app hosted on an app store. Use this to provide details for a new app, or to update details for an existing app. The update will be sent for review immediately after creation."
        },
        "createappstorehostedapp": {
          "parameterOrder": [
            "appStorePackageName"
          ],
          "flatPath": "androidpublisher/v3/appstore/{appStorePackageName}/apps:create",
          "parameters": {
            "appStorePackageName": {
              "required": true,
              "type": "string",
              "description": "Required. Package name of the third-party app store.",
              "location": "path"
            }
          },
          "description": "Creates an app store hosted app. This must be called before any other RPCs for this hosted app.",
          "id": "androidpublisher.appstoreappsreview.createappstorehostedapp",
          "response": {
            "$ref": "CreateAppStoreHostedAppResponse"
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "CreateAppStoreHostedAppRequest"
          },
          "path": "androidpublisher/v3/appstore/{appStorePackageName}/apps:create",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        },
        "uploadapk": {
          "description": "Upload an APK file for the hosted app. Returns an ID to track this APK.",
          "supportsMediaUpload": true,
          "path": "androidpublisher/v3/appstore/{appStorePackageName}/apps/{packageName}/apks:upload",
          "response": {
            "$ref": "UploadApkResponse"
          },
          "request": {
            "$ref": "UploadApkRequest"
          },
          "flatPath": "androidpublisher/v3/appstore/{appStorePackageName}/apps/{packageName}/apks:upload",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "id": "androidpublisher.appstoreappsreview.uploadapk",
          "httpMethod": "POST",
          "parameterOrder": [
            "appStorePackageName",
            "packageName"
          ],
          "mediaUpload": {
            "maxSize": "10737418240",
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/androidpublisher/v3/appstore/{appStorePackageName}/apps/{packageName}/apks:upload"
              },
              "resumable": {
                "path": "/resumable/upload/androidpublisher/v3/appstore/{appStorePackageName}/apps/{packageName}/apks:upload",
                "multipart": true
              }
            },
            "accept": [
              "application/octet-stream",
              "application/vnd.android.package-archive"
            ]
          },
          "parameters": {
            "appStorePackageName": {
              "location": "path",
              "type": "string",
              "description": "Required. Package name of the third-party app store.",
              "required": true
            },
            "packageName": {
              "description": "Required. Package name of the app.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          }
        },
        "uploadappstoreapppolicydeclarationfile": {
          "parameters": {
            "packageName": {
              "type": "string",
              "location": "path",
              "description": "Required. Package name of the app.",
              "required": true
            },
            "appStorePackageName": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Required. Package name of the third-party app store."
            }
          },
          "mediaUpload": {
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/androidpublisher/v3/appstore/{appStorePackageName}/apps/{packageName}/policyDeclarationFiles:upload"
              },
              "resumable": {
                "path": "/resumable/upload/androidpublisher/v3/appstore/{appStorePackageName}/apps/{packageName}/policyDeclarationFiles:upload",
                "multipart": true
              }
            },
            "accept": [
              "application/pdf",
              "image/jpeg",
              "image/png"
            ],
            "maxSize": "10485760"
          },
          "supportsMediaUpload": true,
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "flatPath": "androidpublisher/v3/appstore/{appStorePackageName}/apps/{packageName}/policyDeclarationFiles:upload",
          "path": "androidpublisher/v3/appstore/{appStorePackageName}/apps/{packageName}/policyDeclarationFiles:upload",
          "id": "androidpublisher.appstoreappsreview.uploadappstoreapppolicydeclarationfile",
          "parameterOrder": [
            "appStorePackageName",
            "packageName"
          ],
          "request": {
            "$ref": "UploadAppStoreAppPolicyDeclarationFileRequest"
          },
          "response": {
            "$ref": "UploadAppStoreAppPolicyDeclarationFileResponse"
          },
          "description": "Upload a policy declaration file for the hosted app. Returns an ID to track the file."
        }
      }
    },
    "appsigning": {
      "methods": {
        "rotateAppSigningKey": {
          "request": {
            "$ref": "RotateAppSigningKeyRequest"
          },
          "parameterOrder": [
            "name"
          ],
          "description": "Rotates an app's signing key to a new self-hosted Google Cloud KMS key. Warning: This method only applies to apps enrolled with self-hosted Cloud KMS keys. For apps using standard Google-managed Play App Signing, key rotation requests must be initiated through the Google Play Console UI. See Help Center: https://support.google.com/googleplay/android-developer/answer/9842756",
          "flatPath": "androidpublisher/v3/applications/{name}/appSigning:rotateAppSigningKey",
          "id": "androidpublisher.appsigning.rotateAppSigningKey",
          "response": {
            "$ref": "RotateAppSigningKeyResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameters": {
            "name": {
              "description": "Required. Either package name or app ID of the app rotating the signing key.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "path": "androidpublisher/v3/applications/{name}/appSigning:rotateAppSigningKey",
          "httpMethod": "POST"
        },
        "enrollApp": {
          "description": "Enrolls an app in Play App Signing using a self-hosted Google Cloud KMS key. Warning: Do not use this method for standard Play App Signing enrollment. * Standard enrollment with Google-generated or Google-managed keys cannot be done via API. * This advanced API is strictly for enterprise organizations with mandatory compliance, regulatory, or policy requirements to retain key custody in an external Google Cloud KMS instance. * Prerequisites: Requires an active, properly configured Google Cloud KMS key with appropriate IAM permissions granted to Google Play before calling this method. See Help Center: https://support.google.com/googleplay/android-developer/answer/9842756",
          "response": {
            "$ref": "EnrollAppResponse"
          },
          "parameterOrder": [
            "name"
          ],
          "flatPath": "androidpublisher/v3/applications/{name}/appSigning:enrollApp",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "id": "androidpublisher.appsigning.enrollApp",
          "path": "androidpublisher/v3/applications/{name}/appSigning:enrollApp",
          "httpMethod": "POST",
          "parameters": {
            "name": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Required. Either package name or app ID of the app enrolling in Play Signing."
            }
          },
          "request": {
            "$ref": "EnrollAppRequest"
          }
        }
      }
    },
    "systemapks": {
      "resources": {
        "variants": {
          "methods": {
            "get": {
              "flatPath": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants/{variantId}",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "response": {
                "$ref": "Variant"
              },
              "path": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants/{variantId}",
              "parameterOrder": [
                "packageName",
                "versionCode",
                "variantId"
              ],
              "id": "androidpublisher.systemapks.variants.get",
              "parameters": {
                "packageName": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Package name of the app."
                },
                "variantId": {
                  "type": "integer",
                  "required": true,
                  "location": "path",
                  "description": "The ID of a previously created system APK variant.",
                  "format": "uint32"
                },
                "versionCode": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "format": "int64",
                  "description": "The version code of the App Bundle."
                }
              },
              "description": "Returns a previously created system APK variant.",
              "httpMethod": "GET"
            },
            "create": {
              "description": "Creates an APK which is suitable for inclusion in a system image from an already uploaded Android App Bundle.",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameterOrder": [
                "packageName",
                "versionCode"
              ],
              "request": {
                "$ref": "Variant"
              },
              "path": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants",
              "flatPath": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants",
              "response": {
                "$ref": "Variant"
              },
              "httpMethod": "POST",
              "parameters": {
                "packageName": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Package name of the app."
                },
                "versionCode": {
                  "format": "int64",
                  "description": "The version code of the App Bundle.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "id": "androidpublisher.systemapks.variants.create"
            },
            "download": {
              "id": "androidpublisher.systemapks.variants.download",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "useMediaDownloadService": true,
              "parameterOrder": [
                "packageName",
                "versionCode",
                "variantId"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants/{variantId}:download",
              "parameters": {
                "versionCode": {
                  "description": "The version code of the App Bundle.",
                  "format": "int64",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "packageName": {
                  "description": "Package name of the app.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "variantId": {
                  "description": "The ID of a previously created system APK variant.",
                  "location": "path",
                  "type": "integer",
                  "format": "uint32",
                  "required": true
                }
              },
              "httpMethod": "GET",
              "supportsMediaDownload": true,
              "description": "Downloads a previously created system APK which is suitable for inclusion in a system image.",
              "flatPath": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants/{variantId}:download"
            },
            "list": {
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameters": {
                "packageName": {
                  "description": "Package name of the app.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "versionCode": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The version code of the App Bundle.",
                  "format": "int64"
                }
              },
              "id": "androidpublisher.systemapks.variants.list",
              "parameterOrder": [
                "packageName",
                "versionCode"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants",
              "description": "Returns the list of previously created system APK variants.",
              "response": {
                "$ref": "SystemApksListResponse"
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants"
            }
          }
        }
      }
    },
    "internalappsharingartifacts": {
      "methods": {
        "uploadbundle": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "httpMethod": "POST",
          "description": "Uploads an app bundle to internal app sharing. If you are using the Google API client libraries, please increase the timeout of the http request before calling this endpoint (a timeout of 2 minutes is recommended). See [Timeouts and Errors](https://developers.google.com/api-client-library/java/google-api-java-client/errors) for an example in java.",
          "supportsMediaUpload": true,
          "parameters": {
            "packageName": {
              "location": "path",
              "description": "Package name of the app.",
              "required": true,
              "type": "string"
            }
          },
          "path": "androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/bundle",
          "mediaUpload": {
            "protocols": {
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/bundle"
              },
              "simple": {
                "path": "/upload/androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/bundle",
                "multipart": true
              }
            },
            "maxSize": "10737418240",
            "accept": [
              "application/octet-stream"
            ]
          },
          "parameterOrder": [
            "packageName"
          ],
          "flatPath": "androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/bundle",
          "id": "androidpublisher.internalappsharingartifacts.uploadbundle",
          "response": {
            "$ref": "InternalAppSharingArtifact"
          }
        },
        "uploadapk": {
          "mediaUpload": {
            "accept": [
              "application/octet-stream",
              "application/vnd.android.package-archive"
            ],
            "maxSize": "1073741824",
            "protocols": {
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/apk"
              },
              "simple": {
                "multipart": true,
                "path": "/upload/androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/apk"
              }
            }
          },
          "path": "androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/apk",
          "id": "androidpublisher.internalappsharingartifacts.uploadapk",
          "parameters": {
            "packageName": {
              "description": "Package name of the app.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "packageName"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "httpMethod": "POST",
          "flatPath": "androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/apk",
          "response": {
            "$ref": "InternalAppSharingArtifact"
          },
          "supportsMediaUpload": true,
          "description": "Uploads an APK to internal app sharing. If you are using the Google API client libraries, please increase the timeout of the http request before calling this endpoint (a timeout of 2 minutes is recommended). See [Timeouts and Errors](https://developers.google.com/api-client-library/java/google-api-java-client/errors) for an example in java."
        }
      }
    },
    "appstorecatalog": {
      "resources": {
        "recentupdateevents": {
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameterOrder": [
                "appStorePackageName"
              ],
              "flatPath": "androidpublisher/v3/appstorecatalog/{appStorePackageName}/recentUpdateEvents",
              "id": "androidpublisher.appstorecatalog.recentupdateevents.list",
              "description": "Lists update events for eligible apps in the given time range.",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "Optional. The maximum number of update events to return. The service may return fewer than this value. If unspecified, at most 100 update events will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                  "type": "integer"
                },
                "appStorePackageName": {
                  "required": true,
                  "type": "string",
                  "description": "Required. The package name of the app store on behalf of which the request is made.",
                  "location": "path"
                },
                "endTime": {
                  "type": "string",
                  "description": "Required. The end time of the range (exclusive).",
                  "format": "google-datetime",
                  "location": "query"
                },
                "pageToken": {
                  "description": "Optional. A page token, received from a previous `ListRecentUpdateEvents` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListRecentUpdateEvents` must match the call that provided the page token.",
                  "location": "query",
                  "type": "string"
                },
                "startTime": {
                  "description": "Required. The start time of the range (inclusive).",
                  "location": "query",
                  "type": "string",
                  "format": "google-datetime"
                }
              },
              "path": "androidpublisher/v3/appstorecatalog/{appStorePackageName}/recentUpdateEvents",
              "response": {
                "$ref": "ListRecentUpdateEventsResponse"
              },
              "httpMethod": "GET"
            }
          }
        },
        "recentappviews": {
          "methods": {
            "get": {
              "parameterOrder": [
                "appStorePackageName",
                "playAppPackageName"
              ],
              "response": {
                "$ref": "RecentAppView"
              },
              "flatPath": "androidpublisher/v3/appstorecatalog/{appStorePackageName}/recentAppViews/{playAppPackageName}",
              "path": "androidpublisher/v3/appstorecatalog/{appStorePackageName}/recentAppViews/{playAppPackageName}",
              "parameters": {
                "appStorePackageName": {
                  "type": "string",
                  "required": true,
                  "description": "Required. The package name of the app store on behalf of which the request is made.",
                  "location": "path"
                },
                "playAppPackageName": {
                  "description": "Required. The package name of the requested Play app.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "description": "Returns metadata about a recently updated app.",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "httpMethod": "GET",
              "id": "androidpublisher.appstorecatalog.recentappviews.get"
            }
          }
        }
      }
    },
    "reviews": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameterOrder": [
            "packageName"
          ],
          "response": {
            "$ref": "ReviewsListResponse"
          },
          "parameters": {
            "packageName": {
              "description": "Package name of the app.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "token": {
              "type": "string",
              "description": "Pagination token. If empty, list starts at the first review.",
              "location": "query"
            },
            "maxResults": {
              "format": "uint32",
              "location": "query",
              "type": "integer",
              "description": "How many results the list operation should return."
            },
            "translationLanguage": {
              "type": "string",
              "location": "query",
              "description": "Language localization code."
            },
            "startIndex": {
              "description": "The index of the first element to return.",
              "location": "query",
              "type": "integer",
              "format": "uint32"
            }
          },
          "flatPath": "androidpublisher/v3/applications/{packageName}/reviews",
          "description": "Lists all reviews.",
          "path": "androidpublisher/v3/applications/{packageName}/reviews",
          "id": "androidpublisher.reviews.list"
        },
        "reply": {
          "httpMethod": "POST",
          "path": "androidpublisher/v3/applications/{packageName}/reviews/{reviewId}:reply",
          "parameters": {
            "packageName": {
              "description": "Package name of the app.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "reviewId": {
              "location": "path",
              "description": "Unique identifier for a review.",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "id": "androidpublisher.reviews.reply",
          "flatPath": "androidpublisher/v3/applications/{packageName}/reviews/{reviewId}:reply",
          "request": {
            "$ref": "ReviewsReplyRequest"
          },
          "description": "Replies to a single review, or updates an existing reply.",
          "response": {
            "$ref": "ReviewsReplyResponse"
          },
          "parameterOrder": [
            "packageName",
            "reviewId"
          ]
        },
        "get": {
          "parameters": {
            "reviewId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Unique identifier for a review."
            },
            "packageName": {
              "required": true,
              "type": "string",
              "description": "Package name of the app.",
              "location": "path"
            },
            "translationLanguage": {
              "type": "string",
              "location": "query",
              "description": "Language localization code."
            }
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "response": {
            "$ref": "Review"
          },
          "parameterOrder": [
            "packageName",
            "reviewId"
          ],
          "id": "androidpublisher.reviews.get",
          "path": "androidpublisher/v3/applications/{packageName}/reviews/{reviewId}",
          "flatPath": "androidpublisher/v3/applications/{packageName}/reviews/{reviewId}",
          "description": "Gets a single review."
        }
      }
    },
    "edits": {
      "resources": {
        "tracks": {
          "methods": {
            "list": {
              "id": "androidpublisher.edits.tracks.list",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks",
              "httpMethod": "GET",
              "description": "Lists all tracks.",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks",
              "parameters": {
                "packageName": {
                  "required": true,
                  "description": "Package name of the app.",
                  "type": "string",
                  "location": "path"
                },
                "editId": {
                  "required": true,
                  "description": "Identifier of the edit.",
                  "type": "string",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "TracksListResponse"
              }
            },
            "patch": {
              "request": {
                "$ref": "Track"
              },
              "parameterOrder": [
                "packageName",
                "editId",
                "track"
              ],
              "parameters": {
                "packageName": {
                  "location": "path",
                  "type": "string",
                  "description": "Package name of the app.",
                  "required": true
                },
                "editId": {
                  "location": "path",
                  "description": "Identifier of the edit.",
                  "required": true,
                  "type": "string"
                },
                "track": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Identifier of the track. [More on track name](https://developers.google.com/android-publisher/tracks#ff-track-name)"
                }
              },
              "description": "Patches a track.",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "httpMethod": "PATCH",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks/{track}",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks/{track}",
              "id": "androidpublisher.edits.tracks.patch",
              "response": {
                "$ref": "Track"
              }
            },
            "update": {
              "response": {
                "$ref": "Track"
              },
              "id": "androidpublisher.edits.tracks.update",
              "request": {
                "$ref": "Track"
              },
              "description": "Updates a track.",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks/{track}",
              "parameterOrder": [
                "packageName",
                "editId",
                "track"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks/{track}",
              "parameters": {
                "packageName": {
                  "type": "string",
                  "description": "Package name of the app.",
                  "location": "path",
                  "required": true
                },
                "editId": {
                  "type": "string",
                  "required": true,
                  "description": "Identifier of the edit.",
                  "location": "path"
                },
                "track": {
                  "location": "path",
                  "description": "Identifier of the track. [More on track name](https://developers.google.com/android-publisher/tracks#ff-track-name)",
                  "type": "string",
                  "required": true
                }
              },
              "httpMethod": "PUT"
            },
            "get": {
              "id": "androidpublisher.edits.tracks.get",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks/{track}",
              "description": "Gets a track.",
              "response": {
                "$ref": "Track"
              },
              "parameterOrder": [
                "packageName",
                "editId",
                "track"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameters": {
                "packageName": {
                  "required": true,
                  "description": "Package name of the app.",
                  "location": "path",
                  "type": "string"
                },
                "editId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Identifier of the edit."
                },
                "track": {
                  "type": "string",
                  "location": "path",
                  "description": "Identifier of the track. [More on track name](https://developers.google.com/android-publisher/tracks#ff-track-name)",
                  "required": true
                }
              },
              "httpMethod": "GET",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks/{track}"
            },
            "create": {
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks",
              "request": {
                "$ref": "TrackConfig"
              },
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "parameters": {
                "packageName": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. Package name of the app.",
                  "required": true
                },
                "editId": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. Identifier of the edit.",
                  "required": true
                }
              },
              "description": "Creates a new track.",
              "id": "androidpublisher.edits.tracks.create",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks",
              "response": {
                "$ref": "Track"
              }
            }
          }
        },
        "countryavailability": {
          "methods": {
            "get": {
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/countryAvailability/{track}",
              "id": "androidpublisher.edits.countryavailability.get",
              "httpMethod": "GET",
              "description": "Gets country availability.",
              "parameterOrder": [
                "packageName",
                "editId",
                "track"
              ],
              "parameters": {
                "track": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "The track to read from."
                },
                "packageName": {
                  "type": "string",
                  "location": "path",
                  "description": "Package name of the app.",
                  "required": true
                },
                "editId": {
                  "location": "path",
                  "required": true,
                  "description": "Identifier of the edit.",
                  "type": "string"
                }
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/countryAvailability/{track}",
              "response": {
                "$ref": "TrackCountryAvailability"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            }
          }
        },
        "testers": {
          "methods": {
            "update": {
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/testers/{track}",
              "id": "androidpublisher.edits.testers.update",
              "response": {
                "$ref": "Testers"
              },
              "description": "Updates testers. Note: Testers resource does not support email lists.",
              "parameterOrder": [
                "packageName",
                "editId",
                "track"
              ],
              "request": {
                "$ref": "Testers"
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/testers/{track}",
              "parameters": {
                "track": {
                  "location": "path",
                  "description": "The track to update.",
                  "required": true,
                  "type": "string"
                },
                "editId": {
                  "required": true,
                  "type": "string",
                  "description": "Identifier of the edit.",
                  "location": "path"
                },
                "packageName": {
                  "description": "Package name of the app.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "httpMethod": "PUT"
            },
            "patch": {
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/testers/{track}",
              "description": "Patches testers. Note: Testers resource does not support email lists.",
              "request": {
                "$ref": "Testers"
              },
              "response": {
                "$ref": "Testers"
              },
              "id": "androidpublisher.edits.testers.patch",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameters": {
                "editId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Identifier of the edit."
                },
                "packageName": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Package name of the app."
                },
                "track": {
                  "required": true,
                  "location": "path",
                  "description": "The track to update.",
                  "type": "string"
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/testers/{track}",
              "parameterOrder": [
                "packageName",
                "editId",
                "track"
              ],
              "httpMethod": "PATCH"
            },
            "get": {
              "id": "androidpublisher.edits.testers.get",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/testers/{track}",
              "description": "Gets testers. Note: Testers resource does not support email lists.",
              "httpMethod": "GET",
              "response": {
                "$ref": "Testers"
              },
              "parameterOrder": [
                "packageName",
                "editId",
                "track"
              ],
              "parameters": {
                "editId": {
                  "location": "path",
                  "description": "Identifier of the edit.",
                  "type": "string",
                  "required": true
                },
                "track": {
                  "location": "path",
                  "type": "string",
                  "description": "The track to read from.",
                  "required": true
                },
                "packageName": {
                  "required": true,
                  "description": "Package name of the app.",
                  "location": "path",
                  "type": "string"
                }
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/testers/{track}",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            }
          }
        },
        "listings": {
          "methods": {
            "delete": {
              "parameters": {
                "editId": {
                  "required": true,
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "type": "string"
                },
                "language": {
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German).",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "packageName": {
                  "required": true,
                  "description": "Package name of the app.",
                  "type": "string",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}",
              "httpMethod": "DELETE",
              "parameterOrder": [
                "packageName",
                "editId",
                "language"
              ],
              "id": "androidpublisher.edits.listings.delete",
              "description": "Deletes a localized store listing."
            },
            "list": {
              "response": {
                "$ref": "ListingsListResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "description": "Lists all localized store listings.",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings",
              "parameters": {
                "packageName": {
                  "description": "Package name of the app.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "editId": {
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "id": "androidpublisher.edits.listings.list",
              "httpMethod": "GET",
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings"
            },
            "patch": {
              "response": {
                "$ref": "Listing"
              },
              "description": "Patches a localized store listing.",
              "request": {
                "$ref": "Listing"
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}",
              "id": "androidpublisher.edits.listings.patch",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameterOrder": [
                "packageName",
                "editId",
                "language"
              ],
              "parameters": {
                "editId": {
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "language": {
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German).",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "packageName": {
                  "type": "string",
                  "location": "path",
                  "description": "Package name of the app.",
                  "required": true
                }
              },
              "httpMethod": "PATCH"
            },
            "deleteall": {
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings",
              "httpMethod": "DELETE",
              "parameters": {
                "packageName": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Package name of the app."
                },
                "editId": {
                  "required": true,
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "type": "string"
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "description": "Deletes all store listings.",
              "id": "androidpublisher.edits.listings.deleteall"
            },
            "update": {
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "httpMethod": "PUT",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}",
              "description": "Creates or updates a localized store listing.",
              "parameters": {
                "packageName": {
                  "type": "string",
                  "description": "Package name of the app.",
                  "location": "path",
                  "required": true
                },
                "language": {
                  "required": true,
                  "type": "string",
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German).",
                  "location": "path"
                },
                "editId": {
                  "description": "Identifier of the edit.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}",
              "response": {
                "$ref": "Listing"
              },
              "parameterOrder": [
                "packageName",
                "editId",
                "language"
              ],
              "request": {
                "$ref": "Listing"
              },
              "id": "androidpublisher.edits.listings.update"
            },
            "get": {
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "response": {
                "$ref": "Listing"
              },
              "description": "Gets a localized store listing.",
              "parameters": {
                "language": {
                  "type": "string",
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German).",
                  "required": true,
                  "location": "path"
                },
                "editId": {
                  "required": true,
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "type": "string"
                },
                "packageName": {
                  "type": "string",
                  "description": "Package name of the app.",
                  "location": "path",
                  "required": true
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}",
              "httpMethod": "GET",
              "parameterOrder": [
                "packageName",
                "editId",
                "language"
              ],
              "id": "androidpublisher.edits.listings.get"
            }
          }
        },
        "expansionfiles": {
          "methods": {
            "upload": {
              "parameterOrder": [
                "packageName",
                "editId",
                "apkVersionCode",
                "expansionFileType"
              ],
              "id": "androidpublisher.edits.expansionfiles.upload",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "mediaUpload": {
                "protocols": {
                  "simple": {
                    "path": "/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
                    "multipart": true
                  },
                  "resumable": {
                    "multipart": true,
                    "path": "/resumable/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}"
                  }
                },
                "maxSize": "2147483648",
                "accept": [
                  "application/octet-stream"
                ]
              },
              "supportsMediaUpload": true,
              "description": "Uploads a new expansion file and attaches to the specified APK.",
              "response": {
                "$ref": "ExpansionFilesUploadResponse"
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "httpMethod": "POST",
              "parameters": {
                "packageName": {
                  "required": true,
                  "description": "Package name of the app.",
                  "type": "string",
                  "location": "path"
                },
                "expansionFileType": {
                  "required": true,
                  "description": "The file type of the expansion file configuration which is being updated.",
                  "location": "path",
                  "enumDescriptions": [
                    "Unspecified expansion file type.",
                    "Main expansion file.",
                    "Patch expansion file."
                  ],
                  "type": "string",
                  "enum": [
                    "expansionFileTypeUnspecified",
                    "main",
                    "patch"
                  ]
                },
                "apkVersionCode": {
                  "format": "int32",
                  "description": "The version code of the APK whose expansion file configuration is being read or modified.",
                  "required": true,
                  "location": "path",
                  "type": "integer"
                },
                "editId": {
                  "required": true,
                  "type": "string",
                  "description": "Identifier of the edit.",
                  "location": "path"
                }
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}"
            },
            "get": {
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "httpMethod": "GET",
              "response": {
                "$ref": "ExpansionFile"
              },
              "parameters": {
                "apkVersionCode": {
                  "required": true,
                  "type": "integer",
                  "location": "path",
                  "format": "int32",
                  "description": "The version code of the APK whose expansion file configuration is being read or modified."
                },
                "expansionFileType": {
                  "type": "string",
                  "enum": [
                    "expansionFileTypeUnspecified",
                    "main",
                    "patch"
                  ],
                  "required": true,
                  "location": "path",
                  "enumDescriptions": [
                    "Unspecified expansion file type.",
                    "Main expansion file.",
                    "Patch expansion file."
                  ],
                  "description": "The file type of the file configuration which is being read or modified."
                },
                "packageName": {
                  "location": "path",
                  "required": true,
                  "description": "Package name of the app.",
                  "type": "string"
                },
                "editId": {
                  "required": true,
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "type": "string"
                }
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "description": "Fetches the expansion file configuration for the specified APK.",
              "parameterOrder": [
                "packageName",
                "editId",
                "apkVersionCode",
                "expansionFileType"
              ],
              "id": "androidpublisher.edits.expansionfiles.get"
            },
            "update": {
              "parameters": {
                "packageName": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Package name of the app."
                },
                "apkVersionCode": {
                  "format": "int32",
                  "required": true,
                  "description": "The version code of the APK whose expansion file configuration is being read or modified.",
                  "type": "integer",
                  "location": "path"
                },
                "editId": {
                  "required": true,
                  "type": "string",
                  "description": "Identifier of the edit.",
                  "location": "path"
                },
                "expansionFileType": {
                  "type": "string",
                  "enum": [
                    "expansionFileTypeUnspecified",
                    "main",
                    "patch"
                  ],
                  "description": "The file type of the file configuration which is being read or modified.",
                  "enumDescriptions": [
                    "Unspecified expansion file type.",
                    "Main expansion file.",
                    "Patch expansion file."
                  ],
                  "location": "path",
                  "required": true
                }
              },
              "id": "androidpublisher.edits.expansionfiles.update",
              "response": {
                "$ref": "ExpansionFile"
              },
              "httpMethod": "PUT",
              "description": "Updates the APK's expansion file configuration to reference another APK's expansion file. To add a new expansion file use the Upload method.",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "request": {
                "$ref": "ExpansionFile"
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "parameterOrder": [
                "packageName",
                "editId",
                "apkVersionCode",
                "expansionFileType"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "patch": {
              "parameterOrder": [
                "packageName",
                "editId",
                "apkVersionCode",
                "expansionFileType"
              ],
              "id": "androidpublisher.edits.expansionfiles.patch",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "description": "Patches the APK's expansion file configuration to reference another APK's expansion file. To add a new expansion file use the Upload method.",
              "parameters": {
                "expansionFileType": {
                  "type": "string",
                  "enum": [
                    "expansionFileTypeUnspecified",
                    "main",
                    "patch"
                  ],
                  "enumDescriptions": [
                    "Unspecified expansion file type.",
                    "Main expansion file.",
                    "Patch expansion file."
                  ],
                  "required": true,
                  "description": "The file type of the expansion file configuration which is being updated.",
                  "location": "path"
                },
                "apkVersionCode": {
                  "type": "integer",
                  "format": "int32",
                  "required": true,
                  "location": "path",
                  "description": "The version code of the APK whose expansion file configuration is being read or modified."
                },
                "editId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Identifier of the edit."
                },
                "packageName": {
                  "description": "Package name of the app.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "httpMethod": "PATCH",
              "response": {
                "$ref": "ExpansionFile"
              },
              "request": {
                "$ref": "ExpansionFile"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}"
            }
          }
        },
        "details": {
          "methods": {
            "update": {
              "parameters": {
                "packageName": {
                  "description": "Package name of the app.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "editId": {
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "httpMethod": "PUT",
              "id": "androidpublisher.edits.details.update",
              "request": {
                "$ref": "AppDetails"
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/details",
              "response": {
                "$ref": "AppDetails"
              },
              "description": "Updates details of an app.",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/details",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameterOrder": [
                "packageName",
                "editId"
              ]
            },
            "get": {
              "id": "androidpublisher.edits.details.get",
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "parameters": {
                "packageName": {
                  "location": "path",
                  "description": "Package name of the app.",
                  "type": "string",
                  "required": true
                },
                "editId": {
                  "required": true,
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "AppDetails"
              },
              "description": "Gets details of an app.",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/details",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/details"
            },
            "patch": {
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameters": {
                "editId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Identifier of the edit."
                },
                "packageName": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Package name of the app."
                }
              },
              "request": {
                "$ref": "AppDetails"
              },
              "description": "Patches details of an app.",
              "response": {
                "$ref": "AppDetails"
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/details",
              "id": "androidpublisher.edits.details.patch",
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/details"
            }
          }
        },
        "images": {
          "methods": {
            "deleteall": {
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}",
              "httpMethod": "DELETE",
              "description": "Deletes all images for the specified language and image type. Returns an empty response if no images are found.",
              "id": "androidpublisher.edits.images.deleteall",
              "parameters": {
                "packageName": {
                  "type": "string",
                  "required": true,
                  "description": "Package name of the app.",
                  "location": "path"
                },
                "language": {
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German). Providing a language that is not supported by the App is a no-op.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "imageType": {
                  "location": "path",
                  "enumDescriptions": [
                    "Unspecified type. Do not use.",
                    "Phone screenshot.",
                    "Seven inch screenshot.",
                    "Ten inch screenshot.",
                    "TV screenshot.",
                    "Wear screenshot.",
                    "Icon.",
                    "Feature graphic.",
                    "TV banner."
                  ],
                  "required": true,
                  "type": "string",
                  "enum": [
                    "appImageTypeUnspecified",
                    "phoneScreenshots",
                    "sevenInchScreenshots",
                    "tenInchScreenshots",
                    "tvScreenshots",
                    "wearScreenshots",
                    "icon",
                    "featureGraphic",
                    "tvBanner"
                  ],
                  "description": "Type of the Image. Providing an image type that refers to no images is a no-op."
                },
                "editId": {
                  "required": true,
                  "type": "string",
                  "description": "Identifier of the edit.",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "ImagesDeleteAllResponse"
              },
              "parameterOrder": [
                "packageName",
                "editId",
                "language",
                "imageType"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}"
            },
            "upload": {
              "response": {
                "$ref": "ImagesUploadResponse"
              },
              "id": "androidpublisher.edits.images.upload",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}",
              "mediaUpload": {
                "maxSize": "15728640",
                "accept": [
                  "image/*"
                ],
                "protocols": {
                  "simple": {
                    "multipart": true,
                    "path": "/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}"
                  },
                  "resumable": {
                    "path": "/resumable/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}",
                    "multipart": true
                  }
                }
              },
              "httpMethod": "POST",
              "description": "Uploads an image of the specified language and image type, and adds to the edit.",
              "parameters": {
                "packageName": {
                  "required": true,
                  "description": "Package name of the app.",
                  "type": "string",
                  "location": "path"
                },
                "imageType": {
                  "required": true,
                  "description": "Type of the Image.",
                  "type": "string",
                  "enum": [
                    "appImageTypeUnspecified",
                    "phoneScreenshots",
                    "sevenInchScreenshots",
                    "tenInchScreenshots",
                    "tvScreenshots",
                    "wearScreenshots",
                    "icon",
                    "featureGraphic",
                    "tvBanner"
                  ],
                  "location": "path",
                  "enumDescriptions": [
                    "Unspecified type. Do not use.",
                    "Phone screenshot.",
                    "Seven inch screenshot.",
                    "Ten inch screenshot.",
                    "TV screenshot.",
                    "Wear screenshot.",
                    "Icon.",
                    "Feature graphic.",
                    "TV banner."
                  ]
                },
                "editId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Identifier of the edit."
                },
                "language": {
                  "type": "string",
                  "required": true,
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German). Providing a language that is not supported by the App is a no-op.",
                  "location": "path"
                },
                "aiGeneratedState": {
                  "type": "string",
                  "enum": [
                    "aiGeneratedStateUnspecified",
                    "aiGeneratedStateNotAiGenerated",
                    "aiGeneratedStateAiGeneratedDeveloperAttested"
                  ],
                  "location": "query",
                  "description": "Optional. Whether the image was generated by AI. Attested by the developer.",
                  "enumDescriptions": [
                    "Catch-all for unrecognized enum values. See go/protodosdonts.",
                    "The content is not generated by AI.",
                    "The content is generated by AI and attested by the developer."
                  ]
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "supportsMediaUpload": true,
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}",
              "parameterOrder": [
                "packageName",
                "editId",
                "language",
                "imageType"
              ]
            },
            "list": {
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}",
              "response": {
                "$ref": "ImagesListResponse"
              },
              "description": "Lists all images. The response may be empty.",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameters": {
                "imageType": {
                  "location": "path",
                  "enumDescriptions": [
                    "Unspecified type. Do not use.",
                    "Phone screenshot.",
                    "Seven inch screenshot.",
                    "Ten inch screenshot.",
                    "TV screenshot.",
                    "Wear screenshot.",
                    "Icon.",
                    "Feature graphic.",
                    "TV banner."
                  ],
                  "required": true,
                  "description": "Type of the Image. Providing an image type that refers to no images will return an empty response.",
                  "type": "string",
                  "enum": [
                    "appImageTypeUnspecified",
                    "phoneScreenshots",
                    "sevenInchScreenshots",
                    "tenInchScreenshots",
                    "tvScreenshots",
                    "wearScreenshots",
                    "icon",
                    "featureGraphic",
                    "tvBanner"
                  ]
                },
                "packageName": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Package name of the app."
                },
                "editId": {
                  "type": "string",
                  "location": "path",
                  "description": "Identifier of the edit.",
                  "required": true
                },
                "language": {
                  "required": true,
                  "type": "string",
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German). There must be a store listing for the specified language.",
                  "location": "path"
                }
              },
              "id": "androidpublisher.edits.images.list",
              "parameterOrder": [
                "packageName",
                "editId",
                "language",
                "imageType"
              ]
            },
            "delete": {
              "description": "Deletes the image (specified by id) from the edit.",
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}/{imageId}",
              "parameterOrder": [
                "packageName",
                "editId",
                "language",
                "imageType",
                "imageId"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}/{imageId}",
              "id": "androidpublisher.edits.images.delete",
              "parameters": {
                "editId": {
                  "location": "path",
                  "required": true,
                  "description": "Identifier of the edit.",
                  "type": "string"
                },
                "language": {
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German).",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "packageName": {
                  "description": "Package name of the app.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "imageType": {
                  "description": "Type of the Image.",
                  "type": "string",
                  "enum": [
                    "appImageTypeUnspecified",
                    "phoneScreenshots",
                    "sevenInchScreenshots",
                    "tenInchScreenshots",
                    "tvScreenshots",
                    "wearScreenshots",
                    "icon",
                    "featureGraphic",
                    "tvBanner"
                  ],
                  "required": true,
                  "enumDescriptions": [
                    "Unspecified type. Do not use.",
                    "Phone screenshot.",
                    "Seven inch screenshot.",
                    "Ten inch screenshot.",
                    "TV screenshot.",
                    "Wear screenshot.",
                    "Icon.",
                    "Feature graphic.",
                    "TV banner."
                  ],
                  "location": "path"
                },
                "imageId": {
                  "type": "string",
                  "required": true,
                  "description": "Unique identifier an image within the set of images attached to this edit.",
                  "location": "path"
                }
              }
            }
          }
        },
        "bundles": {
          "methods": {
            "list": {
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/bundles",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/bundles",
              "response": {
                "$ref": "BundlesListResponse"
              },
              "id": "androidpublisher.edits.bundles.list",
              "parameters": {
                "packageName": {
                  "type": "string",
                  "required": true,
                  "description": "Package name of the app.",
                  "location": "path"
                },
                "editId": {
                  "description": "Identifier of the edit.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "description": "Lists all current Android App Bundles of the app and edit.",
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "httpMethod": "GET"
            },
            "upload": {
              "id": "androidpublisher.edits.bundles.upload",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "mediaUpload": {
                "maxSize": "53687091200",
                "protocols": {
                  "resumable": {
                    "multipart": true,
                    "path": "/resumable/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/bundles"
                  },
                  "simple": {
                    "multipart": true,
                    "path": "/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/bundles"
                  }
                },
                "accept": [
                  "application/octet-stream"
                ]
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/bundles",
              "httpMethod": "POST",
              "description": "Uploads a new Android App Bundle to this edit. If you are using the Google API client libraries, please increase the timeout of the http request before calling this endpoint (a timeout of 2 minutes is recommended). See [Timeouts and Errors](https://developers.google.com/api-client-library/java/google-api-java-client/errors) for an example in java.",
              "response": {
                "$ref": "Bundle"
              },
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "parameters": {
                "deviceTierConfigId": {
                  "type": "string",
                  "description": "Device tier config (DTC) to be used for generating deliverables (APKs). Contains id of the DTC or \"LATEST\" for last uploaded DTC.",
                  "location": "query"
                },
                "packageName": {
                  "location": "path",
                  "description": "Package name of the app.",
                  "required": true,
                  "type": "string"
                },
                "ackBundleInstallationWarning": {
                  "deprecated": true,
                  "type": "boolean",
                  "description": "Deprecated. The installation warning has been removed, it's not necessary to set this field anymore.",
                  "location": "query"
                },
                "editId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Identifier of the edit."
                }
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/bundles",
              "supportsMediaUpload": true
            }
          }
        },
        "apks": {
          "methods": {
            "upload": {
              "parameters": {
                "editId": {
                  "location": "path",
                  "required": true,
                  "description": "Identifier of the edit.",
                  "type": "string"
                },
                "packageName": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Package name of the app."
                }
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "id": "androidpublisher.edits.apks.upload",
              "httpMethod": "POST",
              "description": "Uploads an APK and adds to the current edit.",
              "response": {
                "$ref": "Apk"
              },
              "supportsMediaUpload": true,
              "mediaUpload": {
                "maxSize": "10737418240",
                "protocols": {
                  "resumable": {
                    "multipart": true,
                    "path": "/resumable/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/apks"
                  },
                  "simple": {
                    "path": "/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/apks",
                    "multipart": true
                  }
                },
                "accept": [
                  "application/octet-stream",
                  "application/vnd.android.package-archive"
                ]
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks",
              "parameterOrder": [
                "packageName",
                "editId"
              ]
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "parameters": {
                "packageName": {
                  "location": "path",
                  "description": "Package name of the app.",
                  "required": true,
                  "type": "string"
                },
                "editId": {
                  "location": "path",
                  "type": "string",
                  "description": "Identifier of the edit.",
                  "required": true
                }
              },
              "description": "Lists all current APKs of the app and edit.",
              "id": "androidpublisher.edits.apks.list",
              "httpMethod": "GET",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks",
              "response": {
                "$ref": "ApksListResponse"
              },
[...]
