{
  "revision": "20260913",
  "fullyEncodeReservedExpansion": true,
  "kind": "discovery#restDescription",
  "baseUrl": "https://androiddeviceprovisioning.googleapis.com/",
  "discoveryVersion": "v1",
  "canonicalName": "Android Provisioning Partner",
  "servicePath": "",
  "name": "androiddeviceprovisioning",
  "ownerDomain": "google.com",
  "parameters": {
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "description": "Data format for response."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    }
  },
  "mtlsRootUrl": "https://androiddeviceprovisioning.mtls.googleapis.com/",
  "description": "Automates Android zero-touch enrollment for device resellers, customers, and EMMs.",
  "resources": {
    "customers": {
      "methods": {
        "list": {
          "flatPath": "v1/customers",
          "id": "androiddeviceprovisioning.customers.list",
          "parameters": {
            "pageSize": {
              "description": "Required. The maximum number of customers to show in a page of results. A number between 1 and 100 (inclusive).",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "pageToken": {
              "description": "A token specifying which result page to return. This field has custom validations in ListCustomersRequestValidator",
              "type": "string",
              "location": "query"
            }
          },
          "response": {
            "$ref": "CustomerListCustomersResponse"
          },
          "path": "v1/customers",
          "httpMethod": "GET",
          "description": "Lists the user's customer accounts.",
          "parameterOrder": []
        }
      },
      "resources": {
        "dpcs": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "Required. The customer that can use the DPCs in configurations. An API resource name in the format `customers/[CUSTOMER_ID]`.",
                  "location": "path",
                  "pattern": "^customers/[^/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/dpcs",
              "flatPath": "v1/customers/{customersId}/dpcs",
              "description": "Lists the DPCs (device policy controllers) that support zero-touch enrollment.",
              "response": {
                "$ref": "CustomerListDpcsResponse"
              },
              "id": "androiddeviceprovisioning.customers.dpcs.list"
            }
          }
        },
        "devices": {
          "methods": {
            "list": {
              "path": "v1/{+parent}/devices",
              "response": {
                "$ref": "CustomerListDevicesResponse"
              },
              "flatPath": "v1/customers/{customersId}/devices",
              "description": "Lists a customer's devices.",
              "id": "androiddeviceprovisioning.customers.devices.list",
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "A token specifying which result page to return.",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "description": "Required. The customer managing the devices. An API resource name in the format `customers/[CUSTOMER_ID]`.",
                  "type": "string",
                  "required": true,
                  "pattern": "^customers/[^/]+$"
                },
                "pageSize": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. The maximum number of devices to show in a page of results. If unset or `0`, defaults to `5000`. If a value greater than `10000` is specified, it will be coerced to `10000`.",
                  "format": "int64"
                }
              },
              "parameterOrder": [
                "parent"
              ]
            },
            "get": {
              "path": "v1/{+name}",
              "flatPath": "v1/customers/{customersId}/devices/{devicesId}",
              "response": {
                "$ref": "Device"
              },
              "id": "androiddeviceprovisioning.customers.devices.get",
              "description": "Gets the details of a device.",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^customers/[^/]+/devices/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. The device to get. An API resource name in the format `customers/[CUSTOMER_ID]/devices/[DEVICE_ID]`.",
                  "required": true
                }
              },
              "httpMethod": "GET"
            },
            "removeConfiguration": {
              "request": {
                "$ref": "CustomerRemoveConfigurationRequest"
              },
              "path": "v1/{+parent}/devices:removeConfiguration",
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. The customer managing the device in the format `customers/[CUSTOMER_ID]`.",
                  "pattern": "^customers/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "id": "androiddeviceprovisioning.customers.devices.removeConfiguration",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "Empty"
              },
              "description": "Removes a configuration from device.",
              "flatPath": "v1/customers/{customersId}/devices:removeConfiguration"
            },
            "unclaim": {
              "response": {
                "$ref": "Empty"
              },
              "request": {
                "$ref": "CustomerUnclaimDeviceRequest"
              },
              "flatPath": "v1/customers/{customersId}/devices:unclaim",
              "parameterOrder": [
                "parent"
              ],
              "id": "androiddeviceprovisioning.customers.devices.unclaim",
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^customers/[^/]+$",
                  "location": "path",
                  "description": "Required. The customer managing the device. An API resource name in the format `customers/[CUSTOMER_ID]`.",
                  "required": true
                }
              },
              "description": "Unclaims a device from a customer and removes it from zero-touch enrollment. After removing a device, a customer must contact their reseller to register the device into zero-touch enrollment again.",
              "httpMethod": "POST",
              "path": "v1/{+parent}/devices:unclaim"
            },
            "applyConfiguration": {
              "flatPath": "v1/customers/{customersId}/devices:applyConfiguration",
              "request": {
                "$ref": "CustomerApplyConfigurationRequest"
              },
              "response": {
                "$ref": "Empty"
              },
              "path": "v1/{+parent}/devices:applyConfiguration",
              "id": "androiddeviceprovisioning.customers.devices.applyConfiguration",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "description": "Applies a Configuration to the device to register the device for zero-touch enrollment. After applying a configuration to a device, the device automatically provisions itself on first boot, or next factory reset.",
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. The customer managing the device. An API resource name in the format `customers/[CUSTOMER_ID]`.",
                  "type": "string",
                  "required": true,
                  "pattern": "^customers/[^/]+$"
                }
              }
            }
          }
        },
        "configurations": {
          "methods": {
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "id": "androiddeviceprovisioning.customers.configurations.create",
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "Required. The customer that manages the configuration. An API resource name in the format `customers/[CUSTOMER_ID]`. This field has custom validation in CreateConfigurationRequestValidator",
                  "pattern": "^customers/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "Configuration"
              },
              "httpMethod": "POST",
              "flatPath": "v1/customers/{customersId}/configurations",
              "response": {
                "$ref": "Configuration"
              },
              "path": "v1/{+parent}/configurations",
              "description": "Creates a new configuration. Once created, a customer can apply the configuration to devices."
            },
            "list": {
              "httpMethod": "GET",
              "description": "Lists a customer's configurations.",
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^customers/[^/]+$",
                  "required": true,
                  "description": "Required. The customer that manages the listed configurations. An API resource name in the format `customers/[CUSTOMER_ID]`."
                }
              },
              "path": "v1/{+parent}/configurations",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "CustomerListConfigurationsResponse"
              },
              "id": "androiddeviceprovisioning.customers.configurations.list",
              "flatPath": "v1/customers/{customersId}/configurations"
            },
            "patch": {
              "parameters": {
                "updateMask": {
                  "format": "google-fieldmask",
                  "type": "string",
                  "location": "query",
                  "description": "Required. The field mask applied to the target `Configuration` before updating the fields. To learn more about using field masks, read [FieldMask](/protocol-buffers/docs/reference/google.protobuf#fieldmask) in the Protocol Buffers documentation."
                },
                "name": {
                  "pattern": "^customers/[^/]+/configurations/[^/]+$",
                  "location": "path",
                  "description": "Output only. The API resource name in the format `customers/[CUSTOMER_ID]/configurations/[CONFIGURATION_ID]`. Assigned by the server.",
                  "type": "string",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/customers/{customersId}/configurations/{configurationsId}",
              "httpMethod": "PATCH",
              "response": {
                "$ref": "Configuration"
              },
              "id": "androiddeviceprovisioning.customers.configurations.patch",
              "description": "Updates a configuration's field values.",
              "path": "v1/{+name}",
              "request": {
                "$ref": "Configuration"
              }
            },
            "get": {
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The configuration to get. An API resource name in the format `customers/[CUSTOMER_ID]/configurations/[CONFIGURATION_ID]`.",
                  "pattern": "^customers/[^/]+/configurations/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "id": "androiddeviceprovisioning.customers.configurations.get",
              "description": "Gets the details of a configuration.",
              "httpMethod": "GET",
              "flatPath": "v1/customers/{customersId}/configurations/{configurationsId}",
              "response": {
                "$ref": "Configuration"
              },
              "parameterOrder": [
                "name"
              ]
            },
            "delete": {
              "id": "androiddeviceprovisioning.customers.configurations.delete",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Empty"
              },
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "description": "Required. The configuration to delete. An API resource name in the format `customers/[CUSTOMER_ID]/configurations/[CONFIGURATION_ID]`. If the configuration is applied to any devices, the API call fails.",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^customers/[^/]+/configurations/[^/]+$"
                }
              },
              "flatPath": "v1/customers/{customersId}/configurations/{configurationsId}",
              "description": "Deletes an unused configuration. The API call fails if the customer has devices with the configuration applied.",
              "path": "v1/{+name}"
            }
          }
        }
      }
    },
    "operations": {
      "methods": {
        "get": {
          "response": {
            "$ref": "Operation"
          },
          "path": "v1/{+name}",
          "flatPath": "v1/operations/{operationsId}",
          "parameters": {
            "name": {
              "location": "path",
              "description": "The name of the operation resource.",
              "required": true,
              "pattern": "^operations/.*$",
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
          "httpMethod": "GET",
          "id": "androiddeviceprovisioning.operations.get"
        }
      }
    },
    "partners": {
      "resources": {
        "customers": {
          "methods": {
            "list": {
              "response": {
                "$ref": "ListCustomersResponse"
              },
              "flatPath": "v1/partners/{partnersId}/customers",
              "description": "Lists the customers that are enrolled to the reseller identified by the `partnerId` argument. This list includes customers that the reseller created and customers that enrolled themselves using the portal.",
              "path": "v1/partners/{+partnerId}/customers",
              "id": "androiddeviceprovisioning.partners.customers.list",
              "parameterOrder": [
                "partnerId"
              ],
              "parameters": {
                "partnerId": {
                  "type": "string",
                  "required": true,
                  "description": "Required. The ID of the reseller partner.",
                  "pattern": "^[^/]+$",
                  "format": "int64",
                  "location": "path"
                },
                "pageToken": {
                  "description": "A token identifying a page of results returned by the server.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of results to be returned. If not specified or 0, all the records are returned.",
                  "format": "int32"
                }
              },
              "httpMethod": "GET"
            },
            "create": {
              "description": "Creates a customer for zero-touch enrollment. After the method returns successfully, admin and owner roles can manage devices and EMM configs by calling API methods or using their zero-touch enrollment portal. The customer receives an email that welcomes them to zero-touch enrollment and explains how to sign into the portal.",
              "request": {
                "$ref": "CreateCustomerRequest"
              },
              "parameters": {
                "parent": {
                  "type": "string",
                  "required": true,
                  "pattern": "^partners/[^/]+$",
                  "description": "Required. The parent resource ID in the format `partners/[PARTNER_ID]` that identifies the reseller.",
                  "location": "path"
                }
              },
              "id": "androiddeviceprovisioning.partners.customers.create",
              "httpMethod": "POST",
              "flatPath": "v1/partners/{partnersId}/customers",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "Company"
              },
              "path": "v1/{+parent}/customers"
            }
          }
        },
        "vendors": {
          "resources": {
            "customers": {
              "methods": {
                "list": {
                  "id": "androiddeviceprovisioning.partners.vendors.customers.list",
                  "httpMethod": "GET",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "A token identifying a page of results returned by the server."
                    },
                    "parent": {
                      "required": true,
                      "pattern": "^partners/[^/]+/vendors/[^/]+$",
                      "type": "string",
                      "description": "Required. The resource name in the format `partners/[PARTNER_ID]/vendors/[VENDOR_ID]`.",
                      "location": "path"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "The maximum number of results to be returned.",
                      "type": "integer",
                      "location": "query"
                    }
                  },
                  "path": "v1/{+parent}/customers",
                  "flatPath": "v1/partners/{partnersId}/vendors/{vendorsId}/customers",
                  "description": "Lists the customers of the vendor.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListVendorCustomersResponse"
                  }
                }
              }
            }
          },
          "methods": {
            "list": {
              "id": "androiddeviceprovisioning.partners.vendors.list",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListVendorsResponse"
              },
              "httpMethod": "GET",
              "path": "v1/{+parent}/vendors",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of results to be returned.",
                  "format": "int32"
                },
                "parent": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The resource name in the format `partners/[PARTNER_ID]`.",
                  "pattern": "^partners/[^/]+$"
                },
                "pageToken": {
                  "location": "query",
                  "description": "A token identifying a page of results returned by the server.",
                  "type": "string"
                }
              },
              "flatPath": "v1/partners/{partnersId}/vendors",
              "description": "Lists the vendors of the partner."
            }
          }
        },
        "devices": {
          "methods": {
            "findByIdentifier": {
              "parameters": {
                "partnerId": {
                  "required": true,
                  "type": "string",
                  "format": "int64",
                  "location": "path",
                  "description": "Required. The ID of the reseller partner.",
                  "pattern": "^[^/]+$"
                }
              },
              "flatPath": "v1/partners/{partnersId}/devices:findByIdentifier",
              "httpMethod": "POST",
              "response": {
                "$ref": "FindDevicesByDeviceIdentifierResponse"
              },
              "path": "v1/partners/{+partnerId}/devices:findByIdentifier",
              "description": "Finds devices by hardware identifiers, such as IMEI.",
              "request": {
                "$ref": "FindDevicesByDeviceIdentifierRequest"
              },
              "parameterOrder": [
                "partnerId"
              ],
              "id": "androiddeviceprovisioning.partners.devices.findByIdentifier"
            },
            "claim": {
              "httpMethod": "POST",
              "parameters": {
                "partnerId": {
                  "pattern": "^[^/]+$",
                  "type": "string",
                  "format": "int64",
                  "location": "path",
                  "description": "Required. The ID of the reseller partner.",
                  "required": true
                }
              },
              "request": {
                "$ref": "ClaimDeviceRequest"
              },
              "parameterOrder": [
                "partnerId"
              ],
              "response": {
                "$ref": "ClaimDeviceResponse"
              },
              "id": "androiddeviceprovisioning.partners.devices.claim",
              "description": "Claims a device for a customer and adds it to zero-touch enrollment. If the device is already claimed by another customer, the call returns an error.",
              "flatPath": "v1/partners/{partnersId}/devices:claim",
              "path": "v1/partners/{+partnerId}/devices:claim"
            },
            "claimAsync": {
              "request": {
                "$ref": "ClaimDevicesRequest"
              },
              "id": "androiddeviceprovisioning.partners.devices.claimAsync",
              "flatPath": "v1/partners/{partnersId}/devices:claimAsync",
              "description": "Claims a batch of devices for a customer asynchronously. Adds the devices to zero-touch enrollment. To learn more, read [Long‑running batch operations](/zero-touch/guides/how-it-works#operations).",
              "response": {
                "$ref": "Operation"
              },
              "path": "v1/partners/{+partnerId}/devices:claimAsync",
              "parameterOrder": [
                "partnerId"
              ],
              "parameters": {
                "partnerId": {
                  "required": true,
                  "pattern": "^[^/]+$",
                  "type": "string",
                  "format": "int64",
                  "location": "path",
                  "description": "Required. The ID of the reseller partner."
                }
              },
              "httpMethod": "POST"
            },
            "unclaim": {
              "flatPath": "v1/partners/{partnersId}/devices:unclaim",
              "httpMethod": "POST",
              "parameters": {
                "partnerId": {
                  "type": "string",
                  "required": true,
                  "pattern": "^[^/]+$",
                  "format": "int64",
                  "location": "path",
                  "description": "Required. The ID of the reseller partner."
                }
              },
              "parameterOrder": [
                "partnerId"
              ],
              "response": {
                "$ref": "Empty"
              },
              "path": "v1/partners/{+partnerId}/devices:unclaim",
              "id": "androiddeviceprovisioning.partners.devices.unclaim",
              "request": {
                "$ref": "UnclaimDeviceRequest"
              },
              "description": "Unclaims a device from a customer and removes it from zero-touch enrollment."
            },
            "findByOwner": {
              "description": "Finds devices claimed for customers. The results only contain devices registered to the reseller that's identified by the `partnerId` argument. The customer's devices purchased from other resellers don't appear in the results.",
              "path": "v1/partners/{+partnerId}/devices:findByOwner",
              "parameters": {
                "partnerId": {
                  "type": "string",
                  "description": "Required. The ID of the reseller partner.",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "format": "int64"
                }
              },
              "id": "androiddeviceprovisioning.partners.devices.findByOwner",
              "httpMethod": "POST",
              "flatPath": "v1/partners/{partnersId}/devices:findByOwner",
              "response": {
                "$ref": "FindDevicesByOwnerResponse"
              },
              "parameterOrder": [
                "partnerId"
              ],
              "request": {
                "$ref": "FindDevicesByOwnerRequest"
              }
            },
            "getSimLockState": {
              "parameters": {
                "partnerId": {
                  "required": true,
                  "location": "path",
                  "format": "int64",
                  "pattern": "^[^/]+$",
                  "description": "Required. The ID of the partner.",
                  "type": "string"
                }
              },
              "httpMethod": "POST",
              "request": {
                "$ref": "GetDeviceSimLockStateRequest"
              },
              "parameterOrder": [
                "partnerId"
              ],
              "id": "androiddeviceprovisioning.partners.devices.getSimLockState",
              "path": "v1/partners/{+partnerId}/devices:getSimLockState",
              "response": {
                "$ref": "GetDeviceSimLockStateResponse"
              },
              "flatPath": "v1/partners/{partnersId}/devices:getSimLockState",
              "description": "Gets a device's SIM lock state."
            },
            "unclaimAsync": {
              "parameters": {
                "partnerId": {
                  "type": "string",
                  "pattern": "^[^/]+$",
                  "description": "Required. The reseller partner ID.",
                  "format": "int64",
                  "required": true,
                  "location": "path"
                }
              },
              "parameterOrder": [
                "partnerId"
              ],
              "httpMethod": "POST",
              "path": "v1/partners/{+partnerId}/devices:unclaimAsync",
              "description": "Unclaims a batch of devices for a customer asynchronously. Removes the devices from zero-touch enrollment. To learn more, read [Long‑running batch operations](/zero-touch/guides/how-it-works#operations).",
              "flatPath": "v1/partners/{partnersId}/devices:unclaimAsync",
              "request": {
                "$ref": "UnclaimDevicesRequest"
              },
              "id": "androiddeviceprovisioning.partners.devices.unclaimAsync",
              "response": {
                "$ref": "Operation"
              }
            },
            "get": {
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^partners/[^/]+/devices/[^/]+$",
                  "description": "Required. The device API resource name in the format `partners/[PARTNER_ID]/devices/[DEVICE_ID]`.",
                  "location": "path"
                }
              },
              "description": "Gets a device.",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Device"
              },
              "id": "androiddeviceprovisioning.partners.devices.get",
              "flatPath": "v1/partners/{partnersId}/devices/{devicesId}",
              "path": "v1/{+name}"
            },
            "metadata": {
              "path": "v1/partners/{+metadataOwnerId}/devices/{+deviceId}/metadata",
              "request": {
                "$ref": "UpdateDeviceMetadataRequest"
              },
              "flatPath": "v1/partners/{partnersId}/devices/{devicesId}/metadata",
              "description": "Updates reseller metadata associated with the device. Android devices only.",
              "parameterOrder": [
                "metadataOwnerId",
                "deviceId"
              ],
              "response": {
                "$ref": "DeviceMetadata"
              },
              "id": "androiddeviceprovisioning.partners.devices.metadata",
              "httpMethod": "POST",
              "parameters": {
                "metadataOwnerId": {
                  "format": "int64",
                  "required": true,
                  "description": "Required. The owner of the newly set metadata. Set this to the partner ID.",
                  "pattern": "^[^/]+$",
                  "type": "string",
                  "location": "path"
                },
                "deviceId": {
                  "pattern": "^[^/]+$",
                  "description": "Required. The ID of the device.",
                  "required": true,
                  "format": "int64",
                  "type": "string",
                  "location": "path"
                }
              }
            },
            "updateMetadataAsync": {
              "request": {
                "$ref": "UpdateDeviceMetadataInBatchRequest"
              },
              "response": {
                "$ref": "Operation"
              },
              "flatPath": "v1/partners/{partnersId}/devices:updateMetadataAsync",
              "parameterOrder": [
                "partnerId"
              ],
              "id": "androiddeviceprovisioning.partners.devices.updateMetadataAsync",
              "path": "v1/partners/{+partnerId}/devices:updateMetadataAsync",
              "httpMethod": "POST",
              "parameters": {
                "partnerId": {
                  "location": "path",
                  "format": "int64",
                  "type": "string",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "description": "Required. The reseller partner ID."
                }
              },
              "description": "Updates the reseller metadata attached to a batch of devices. This method updates devices asynchronously and returns an `Operation` that can be used to track progress. Read [Long‑running batch operations](/zero-touch/guides/how-it-works#operations). Android Devices only."
            }
          }
        }
      }
    }
  },
  "id": "androiddeviceprovisioning:v1",
  "basePath": "",
  "version_module": true,
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "schemas": {
    "UnclaimDeviceRequest": {
      "id": "UnclaimDeviceRequest",
      "description": "Request message to unclaim a device.",
      "properties": {
        "deviceIdentifier": {
          "$ref": "DeviceIdentifier",
          "description": "Required. The device identifier you used when you claimed this device."
        },
        "deviceId": {
          "format": "int64",
          "description": "Required. The device ID returned by `ClaimDevice`.",
          "type": "string"
        },
        "vacationModeDays": {
          "format": "int32",
          "description": "The duration of the vacation unlock starting from when the request is processed. (1 day is treated as 24 hours)",
          "type": "integer"
        },
        "sectionType": {
          "enumDescriptions": [
            "Unspecified section type.",
            "SIM-lock section type.",
            "Zero-touch enrollment section type."
          ],
          "type": "string",
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "SECTION_TYPE_SIM_LOCK",
            "SECTION_TYPE_ZERO_TOUCH"
          ],
          "description": "Required. The section type of the device's provisioning record."
        },
        "vacationModeExpireTime": {
          "type": "string",
          "description": "The expiration time of the vacation unlock.",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "CustomerListDpcsResponse": {
      "properties": {
        "dpcs": {
          "type": "array",
          "items": {
            "$ref": "Dpc"
          },
          "description": "The list of DPCs available to the customer that support zero-touch enrollment."
        }
      },
      "id": "CustomerListDpcsResponse",
      "type": "object",
      "description": "Response message of customer's listing DPCs."
    },
    "ClaimDevicesRequest": {
      "description": "Request to claim devices asynchronously in batch. Claiming a device adds the device to zero-touch enrollment and shows the device in the customer's view of the portal.",
      "type": "object",
      "id": "ClaimDevicesRequest",
      "properties": {
        "claims": {
          "description": "Required. A list of device claims.",
          "type": "array",
          "items": {
            "$ref": "PartnerClaim"
          }
        }
      }
    },
    "DevicesLongRunningOperationResponse": {
      "id": "DevicesLongRunningOperationResponse",
      "type": "object",
      "properties": {
        "perDeviceStatus": {
          "description": "The processing status for each device in the operation. One `PerDeviceStatus` per device. The list order matches the items in the original request.",
          "items": {
            "$ref": "OperationPerDevice"
          },
          "type": "array"
        },
        "successCount": {
          "type": "integer",
          "description": "A summary of how many items in the operation the server processed successfully. Updated as the operation progresses.",
          "format": "int32"
        }
      },
      "description": "Tracks the status of a long-running operation to claim, unclaim, or attach metadata to devices. To learn more, read [Long‑running batch operations](/zero-touch/guides/how-it-works#operations)."
    },
    "FindDevicesByOwnerResponse": {
      "type": "object",
      "id": "FindDevicesByOwnerResponse",
      "description": "Response containing found devices.",
      "properties": {
        "totalSize": {
          "type": "integer",
          "description": "The total count of items in the list irrespective of pagination.",
          "format": "int32"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token used to access the next page of results. Omitted if no further results are available."
        },
        "devices": {
          "items": {
            "$ref": "Device"
          },
          "description": "The customer's devices.",
          "type": "array"
        }
      }
    },
    "CustomerListCustomersResponse": {
      "properties": {
        "customers": {
          "description": "The customer accounts the calling user is a member of.",
          "items": {
            "$ref": "Company"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token used to access the next page of results. Omitted if no further results are available.",
          "type": "string"
        }
      },
      "description": "Response message for listing my customers.",
      "id": "CustomerListCustomersResponse",
      "type": "object"
    },
    "CustomerListDevicesResponse": {
      "id": "CustomerListDevicesResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token used to access the next page of results. Omitted if no further results are available."
        },
        "devices": {
          "type": "array",
          "description": "The customer's devices.",
          "items": {
            "$ref": "Device"
          }
        }
      },
      "type": "object",
      "description": "Response message of customer's liting devices."
    },
    "GoogleWorkspaceAccount": {
      "type": "object",
      "id": "GoogleWorkspaceAccount",
      "properties": {
        "preProvisioningTokens": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. The pre-provisioning tokens previously used to claim devices."
        },
        "customerId": {
          "description": "Required. The customer ID.",
          "type": "string"
        }
      },
      "description": "A Google Workspace customer."
    },
    "FindDevicesByOwnerRequest": {
      "id": "FindDevicesByOwnerRequest",
      "properties": {
        "googleWorkspaceCustomerId": {
          "items": {
            "type": "string"
          },
          "description": "The list of IDs of Google Workspace accounts to search for.",
          "type": "array"
        },
        "sectionType": {
          "enumDescriptions": [
            "Unspecified section type.",
            "SIM-lock section type.",
            "Zero-touch enrollment section type."
          ],
          "type": "string",
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "SECTION_TYPE_SIM_LOCK",
            "SECTION_TYPE_ZERO_TOUCH"
          ],
          "description": "Required. The section type of the device's provisioning record."
        },
        "pageToken": {
          "description": "A token specifying which result page to return.",
          "type": "string"
        },
        "limit": {
          "format": "int64",
          "description": "Required. The maximum number of devices to show in a page of results. Must be between 1 and 100 inclusive.",
          "type": "string"
        },
        "customerId": {
          "items": {
            "format": "int64",
            "type": "string"
          },
          "description": "The list of customer IDs to search for.",
          "type": "array"
        }
      },
      "description": "Request to find devices by customers.",
      "type": "object"
    },
    "UpdateDeviceMetadataRequest": {
      "properties": {
        "deviceMetadata": {
          "$ref": "DeviceMetadata",
          "description": "Required. The metadata to attach to the device."
        }
      },
      "id": "UpdateDeviceMetadataRequest",
      "description": "Request to set metadata for a device.",
      "type": "object"
    },
    "CustomerListConfigurationsResponse": {
      "description": "Response message of customer's listing configuration.",
      "properties": {
        "configurations": {
          "description": "The configurations.",
          "type": "array",
          "items": {
            "$ref": "Configuration"
          }
        }
      },
      "type": "object",
      "id": "CustomerListConfigurationsResponse"
    },
    "FindDevicesByDeviceIdentifierRequest": {
      "description": "Request to find devices.",
      "properties": {
        "deviceIdentifier": {
          "$ref": "DeviceIdentifier",
          "description": "Required. Required. The device identifier to search for. If serial number is provided then case insensitive serial number matches are allowed."
        },
        "limit": {
          "description": "Required. The maximum number of devices to show in a page of results. Must be between 1 and 100 inclusive.",
          "type": "string",
          "format": "int64"
        },
        "pageToken": {
          "description": "A token specifying which result page to return.",
          "type": "string"
        }
      },
      "id": "FindDevicesByDeviceIdentifierRequest",
      "type": "object"
    },
    "OperationPerDevice": {
      "type": "object",
      "description": "A task for each device in the operation. Corresponds to each device change in the request.",
      "id": "OperationPerDevice",
      "properties": {
        "unclaim": {
          "description": "A copy of the original device-unclaim request received by the server.",
          "$ref": "PartnerUnclaim"
        },
        "updateMetadata": {
          "$ref": "UpdateMetadataArguments",
          "description": "A copy of the original metadata-update request received by the server."
        },
        "result": {
          "description": "The processing result for each device.",
          "$ref": "PerDeviceStatusInBatch"
        },
        "claim": {
          "description": "A copy of the original device-claim request received by the server.",
          "$ref": "PartnerClaim"
        }
      }
    },
    "DeviceMetadata": {
      "description": "Metadata entries that can be attached to a `Device`. To learn more, read [Device metadata](https://developers.google.com/zero-touch/guides/metadata).",
      "id": "DeviceMetadata",
      "properties": {
        "entries": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Metadata entries recorded as key-value pairs.",
          "type": "object"
        }
      },
      "type": "object"
    },
    "PartnerUnclaim": {
      "type": "object",
      "properties": {
        "vacationModeDays": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The duration of the vacation unlock starting from when the request is processed. (1 day is treated as 24 hours)"
        },
        "sectionType": {
          "description": "Required. The section type of the device's provisioning record.",
          "enumDescriptions": [
            "Unspecified section type.",
            "SIM-lock section type.",
            "Zero-touch enrollment section type."
          ],
          "type": "string",
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "SECTION_TYPE_SIM_LOCK",
            "SECTION_TYPE_ZERO_TOUCH"
          ]
        },
        "deviceId": {
          "type": "string",
          "description": "Required. Device ID of the device.",
          "format": "int64"
        },
        "vacationModeExpireTime": {
          "description": "Optional. The expiration time of the vacation unlock.",
          "type": "string",
          "format": "google-datetime"
        },
        "deviceIdentifier": {
          "$ref": "DeviceIdentifier",
          "description": "Required. Device identifier of the device."
        }
      },
      "description": "Identifies one unclaim request.",
      "id": "PartnerUnclaim"
    },
    "DeviceReference": {
      "id": "DeviceReference",
      "properties": {
        "deviceId": {
          "description": "The ID of the device.",
          "type": "string",
          "format": "int64"
        },
        "deviceIdentifier": {
          "description": "The hardware IDs of the device.",
          "$ref": "DeviceIdentifier"
        }
      },
      "description": "A `DeviceReference` is an API abstraction that lets you supply a _device_ argument to a method using one of the following identifier types: * A numeric API resource ID. * Real-world hardware IDs, such as IMEI number, belonging to the manufactured device. Methods that operate on devices take a `DeviceReference` as a parameter type because it's more flexible for the caller. To learn more about device identifiers, read [Identifiers](https://developers.google.com/zero-touch/guides/identifiers).",
      "type": "object"
    },
    "Configuration": {
      "id": "Configuration",
      "properties": {
        "isDefault": {
          "type": "boolean",
          "description": "Required. Whether this is the default configuration that zero-touch enrollment applies to any new devices the organization purchases in the future. Only one customer configuration can be the default. Setting this value to `true`, changes the previous default configuration's `isDefault` value to `false`."
        },
        "customMessage": {
          "description": "A message, containing one or two sentences, to help device users get help or give them more details about what’s happening to their device. Zero-touch enrollment shows this message before the device is provisioned.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only. The API resource name in the format `customers/[CUSTOMER_ID]/configurations/[CONFIGURATION_ID]`. Assigned by the server.",
          "readOnly": true
        },
        "configurationId": {
          "description": "Output only. The ID of the configuration. Assigned by the server.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "contactEmail": {
          "description": "Required. The email address that device users can contact to get help. Zero-touch enrollment shows this email address to device users before device provisioning. The value is validated on input.",
          "type": "string"
        },
        "contactPhone": {
          "description": "Required. The telephone number that device users can call, using another device, to get help. Zero-touch enrollment shows this number to device users before device provisioning. Accepts numerals, spaces, the plus sign, hyphens, and parentheses.",
          "type": "string"
        },
        "configurationName": {
          "description": "Required. A short name that describes the configuration's purpose. For example, _Sales team_ or _Temporary employees_. The zero-touch enrollment portal displays this name to IT admins.",
          "type": "string"
        },
        "companyName": {
          "description": "Required. The name of the organization. Zero-touch enrollment shows this organization name to device users during device provisioning.",
          "type": "string"
        },
        "dpcResourcePath": {
          "description": "Required. The resource name of the selected DPC (device policy controller) in the format `customers/[CUSTOMER_ID]/dpcs/*`. To list the supported DPCs, call `customers.dpcs.list`.",
          "type": "string"
        },
        "forcedResetTime": {
          "format": "google-duration",
          "type": "string",
          "description": "Optional. The timeout before forcing factory reset the device if the device doesn't go through provisioning in the setup wizard, usually due to lack of network connectivity during setup wizard. Ranges from 0-6 hours, with 2 hours being the default if unset."
        },
        "dpcExtras": {
          "type": "string",
          "description": "The JSON-formatted EMM provisioning extras that are passed to the DPC."
        }
      },
      "description": "A configuration collects the provisioning options for Android devices. Each configuration combines the following: * The EMM device policy controller (DPC) installed on the devices. * EMM policies enforced on the devices. * Metadata displayed on the device to help users during setup. Customers can add as many configurations as they need. However, zero-touch enrollment works best when a customer sets a default configuration that's applied to any new devices the organization purchases.",
      "type": "object"
    },
    "ListVendorsResponse": {
      "id": "ListVendorsResponse",
      "description": "Response message to list vendors of the partner.",
      "properties": {
        "totalSize": {
          "format": "int32",
          "description": "The total count of items in the list irrespective of pagination.",
          "type": "integer"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Omitted if no further results are available."
        },
        "vendors": {
          "type": "array",
          "items": {
            "$ref": "Company"
          },
          "description": "List of vendors of the reseller partner. Fields `name`, `companyId` and `companyName` are populated to the Company object."
        }
      },
      "type": "object"
    },
    "FindDevicesByDeviceIdentifierResponse": {
      "description": "Response containing found devices.",
      "id": "FindDevicesByDeviceIdentifierResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token used to access the next page of results. Omitted if no further results are available.",
          "type": "string"
        },
        "totalSize": {
          "format": "int32",
          "description": "The total count of items in the list irrespective of pagination.",
          "type": "integer"
        },
        "devices": {
          "description": "Found devices.",
          "items": {
            "$ref": "Device"
          },
          "type": "array"
        }
      }
    },
    "UpdateDeviceMetadataInBatchRequest": {
      "id": "UpdateDeviceMetadataInBatchRequest",
      "type": "object",
      "description": "Request to update device metadata in batch.",
      "properties": {
        "updates": {
          "items": {
            "$ref": "UpdateMetadataArguments"
          },
          "description": "Required. The list of metadata updates.",
          "type": "array"
        }
      }
    },
    "UnclaimDevicesRequest": {
      "id": "UnclaimDevicesRequest",
      "properties": {
        "unclaims": {
          "type": "array",
          "items": {
            "$ref": "PartnerUnclaim"
          },
          "description": "Required. The list of devices to unclaim."
        }
      },
      "description": "Request to unclaim devices asynchronously in batch.",
      "type": "object"
    },
    "ClaimDeviceResponse": {
      "id": "ClaimDeviceResponse",
      "description": "Response message containing device id of the claim.",
      "properties": {
        "deviceName": {
          "description": "The resource name of the device in the format `partners/[PARTNER_ID]/devices/[DEVICE_ID]`.",
          "type": "string"
        },
        "deviceId": {
          "format": "int64",
          "type": "string",
          "description": "The device ID of the claimed device."
        }
      },
      "type": "object"
    },
    "Dpc": {
      "properties": {
        "name": {
          "readOnly": true,
          "description": "Output only. The API resource name in the format `customers/[CUSTOMER_ID]/dpcs/[DPC_ID]`. Assigned by the server. To maintain a reference to a DPC across customer accounts, persist and match the last path component (`DPC_ID`).",
          "type": "string"
        },
        "packageName": {
          "readOnly": true,
          "description": "Output only. The DPC's Android application ID that looks like a Java package name. Zero-touch enrollment installs the DPC app onto a device using this identifier.",
          "type": "string"
        },
        "dpcName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The title of the DPC app in Google Play. For example, _Google Apps Device Policy_. Useful in an application's user interface."
        }
      },
      "type": "object",
      "description": "An EMM's DPC ([device policy controller](http://developer.android.com/work/dpc/build-dpc.html)). Zero-touch enrollment installs a DPC (listed in the `Configuration`) on a device to maintain the customer's mobile policies. All the DPCs listed by the API support zero-touch enrollment and are available in Google Play.",
      "id": "Dpc"
    },
    "DeviceIdentifier": {
      "properties": {
        "model": {
          "type": "string",
          "description": "The device model's name. Allowed values are listed in [Android models](/zero-touch/resources/manufacturer-names#model-names) and [Chrome OS models](https://support.google.com/chrome/a/answer/10130175#identify_compatible)."
        },
        "imei": {
          "description": "The device’s IMEI number. Validated on input.",
          "type": "string"
        },
        "manufacturer": {
          "description": "The device manufacturer’s name. Matches the device's built-in value returned from `android.os.Build.MANUFACTURER`. Allowed values are listed in [Android manufacturers](/zero-touch/resources/manufacturer-names#manufacturers-names).",
          "type": "string"
        },
        "imei2": {
          "type": "string",
          "description": "The device’s second IMEI number."
        },
        "meid2": {
          "description": "The device’s second MEID number.",
          "type": "string"
        },
        "serialNumber": {
          "description": "The manufacturer's serial number for the device. This value might not be unique across different device models.",
          "type": "string"
        },
        "chromeOsAttestedDeviceId": {
          "type": "string",
          "description": "An identifier provided by OEMs, carried through the production and sales process. Only applicable to Chrome OS devices."
        },
        "deviceType": {
          "type": "string",
          "enum": [
            "DEVICE_TYPE_UNSPECIFIED",
            "DEVICE_TYPE_ANDROID",
            "DEVICE_TYPE_CHROME_OS"
          ],
          "description": "The type of the device",
          "enumDescriptions": [
            "Device type is not specified.",
            "Android mobile and Desktop except Googlebooks and Chromebooks",
            "Chrome OS device"
          ]
        },
        "meid": {
          "description": "The device’s MEID number.",
          "type": "string"
        }
      },
      "id": "DeviceIdentifier",
      "description": "Encapsulates hardware and product IDs to identify a manufactured device. To understand requirements on identifier sets, read [Identifiers](https://developers.google.com/zero-touch/guides/identifiers).",
      "type": "object"
    },
    "PerDeviceStatusInBatch": {
      "type": "object",
      "properties": {
        "status": {
          "type": "string",
          "enum": [
            "SINGLE_DEVICE_STATUS_UNSPECIFIED",
            "SINGLE_DEVICE_STATUS_UNKNOWN_ERROR",
            "SINGLE_DEVICE_STATUS_OTHER_ERROR",
            "SINGLE_DEVICE_STATUS_SUCCESS",
            "SINGLE_DEVICE_STATUS_PERMISSION_DENIED",
            "SINGLE_DEVICE_STATUS_INVALID_DEVICE_IDENTIFIER",
            "SINGLE_DEVICE_STATUS_INVALID_SECTION_TYPE",
            "SINGLE_DEVICE_STATUS_SECTION_NOT_YOURS",
            "SINGLE_DEVICE_STATUS_INVALID_TOKEN",
            "SINGLE_DEVICE_STATUS_REVOKED_TOKEN",
            "SINGLE_DEVICE_STATUS_DEVICE_LIMIT_EXCEEDED"
          ],
          "description": "The result status of the device after processing.",
          "enumDescriptions": [
            "Invalid code. Shouldn't be used.",
            "Unknown error. We don't expect this error to occur here.",
            "Other error. We know/expect this error, but there's no defined error code for the error.",
            "Success.",
            "Permission denied.",
            "Invalid device identifier.",
            "Invalid section type.",
            "This section is claimed by another company.",
            "Invalid pre-provisioning token.",
            "Revoked pre-provisioning token.",
            "Status used to indicate a failure due to a device limit being exceeded"
          ]
        },
        "errorIdentifier": {
          "description": "If processing fails, the error type.",
          "type": "string"
        },
        "errorMessage": {
          "description": "If processing fails, a developer message explaining what went wrong.",
          "type": "string"
        },
        "deviceId": {
          "format": "int64",
          "type": "string",
          "description": "If processing succeeds, the device ID of the device."
        }
      },
      "id": "PerDeviceStatusInBatch",
      "description": "Captures the processing status for each device in the operation."
    },
    "Operation": {
      "type": "object",
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "error": {
          "$ref": "Status",
          "description": "This field will always be not set if the operation is created by `claimAsync`, `unclaimAsync`, or `updateMetadataAsync`. In this case, error information for each device is set in `response.perDeviceStatus.result.status`."
        },
        "response": {
          "description": "This field will contain a `DevicesLongRunningOperationResponse` object if the operation is created by `claimAsync`, `unclaimAsync`, or `updateMetadataAsync`.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "This field will contain a `DevicesLongRunningOperationMetadata` object if the operation is created by `claimAsync`, `unclaimAsync`, or `updateMetadataAsync`."
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        }
      }
    },
    "GetDeviceSimLockStateRequest": {
      "properties": {
        "deviceIdentifier": {
          "$ref": "DeviceIdentifier",
          "description": "Required. Required. The device identifier to search for."
        }
      },
      "id": "GetDeviceSimLockStateRequest",
      "type": "object",
      "description": "Request to get a device's SIM lock status."
    },
    "ListVendorCustomersResponse": {
      "type": "object",
      "description": "Response message to list customers of the vendor.",
      "id": "ListVendorCustomersResponse",
      "properties": {
        "totalSize": {
          "format": "int32",
          "description": "The total count of items in the list irrespective of pagination.",
          "type": "integer"
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Omitted if no further results are available.",
          "type": "string"
        },
        "customers": {
          "type": "array",
          "items": {
            "$ref": "Company"
          },
          "description": "List of customers of the vendor."
        }
      }
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array"
        },
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "ListCustomersResponse": {
      "id": "ListCustomersResponse",
      "type": "object",
      "description": "Response message of all customers related to this partner.",
      "properties": {
        "totalSize": {
          "type": "integer",
          "description": "The total count of items in the list irrespective of pagination.",
          "format": "int32"
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Omitted if no further results are available.",
          "type": "string"
        },
        "customers": {
          "description": "List of customers related to this reseller partner.",
          "type": "array",
          "items": {
            "$ref": "Company"
          }
        }
      }
    },
    "Device": {
      "id": "Device",
      "properties": {
        "deviceId": {
          "description": "Output only. The ID of the device. Assigned by the server.",
          "type": "string",
          "format": "int64",
          "readOnly": true
        },
        "configuration": {
          "description": "Not available to resellers.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only. The API resource name in the format `partners/[PARTNER_ID]/devices/[DEVICE_ID]`. Assigned by the server.",
          "readOnly": true
        },
        "deviceIdentifier": {
          "description": "The hardware IDs that identify a manufactured device. To learn more, read [Identifiers](https://developers.google.com/zero-touch/guides/identifiers).",
          "$ref": "DeviceIdentifier"
        },
        "deviceMetadata": {
          "$ref": "DeviceMetadata",
          "description": "The metadata attached to the device. Structured as key-value pairs. To learn more, read [Device metadata](https://developers.google.com/zero-touch/guides/metadata)."
        },
        "claims": {
          "type": "array",
          "items": {
            "$ref": "DeviceClaim"
          },
          "readOnly": true,
          "description": "Output only. The provisioning claims for a device. Devices claimed for zero-touch enrollment have a claim with the type `SECTION_TYPE_ZERO_TOUCH`. Call `partners.devices.unclaim` or `partners.devices.unclaimAsync` to remove the device from zero-touch enrollment."
        }
      },
      "description": "An Android or Chrome OS device registered for zero-touch enrollment.",
      "type": "object"
    },
    "UpdateMetadataArguments": {
      "description": "Identifies metadata updates to one device.",
      "properties": {
        "deviceId": {
          "description": "Required. Device ID of the device.",
          "format": "int64",
          "type": "string"
        },
        "deviceIdentifier": {
          "description": "Required. Device identifier.",
          "$ref": "DeviceIdentifier"
        },
        "deviceMetadata": {
          "$ref": "DeviceMetadata",
          "description": "Required. The metadata to update."
        }
      },
      "type": "object",
      "id": "UpdateMetadataArguments"
    },
    "ClaimDeviceRequest": {
      "type": "object",
      "properties": {
        "preProvisioningToken": {
          "description": "Optional. Must and can only be set for Chrome OS devices.",
          "type": "string"
        },
        "deviceIdentifier": {
          "$ref": "DeviceIdentifier",
          "description": "Required. Required. The device identifier of the device to claim."
        },
        "deviceMetadata": {
          "$ref": "DeviceMetadata",
          "description": "Optional. The metadata to attach to the device."
        },
        "googleWorkspaceCustomerId": {
          "description": "The Google Workspace customer ID.",
          "type": "string"
        },
        "configurationId": {
          "description": "Optional. The ID of the configuration applied to the device section.",
          "format": "int64",
          "type": "string"
        },
        "sectionType": {
          "type": "string",
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "SECTION_TYPE_SIM_LOCK",
            "SECTION_TYPE_ZERO_TOUCH"
          ],
          "description": "Required. The section type of the device's provisioning record.",
          "enumDescriptions": [
            "Unspecified section type.",
            "SIM-lock section type.",
            "Zero-touch enrollment section type."
          ]
        },
        "simlockProfileId": {
          "description": "Optional. Must and can only be set when DeviceProvisioningSectionType is SECTION_TYPE_SIM_LOCK. The unique identifier of the SimLock profile.",
          "type": "string",
          "format": "int64"
        },
        "customerId": {
          "type": "string",
          "format": "int64",
          "description": "The ID of the customer for whom the device is being claimed."
        }
      },
      "description": "Request message to claim a device on behalf of a customer.",
      "id": "ClaimDeviceRequest"
    },
    "CustomerRemoveConfigurationRequest": {
      "type": "object",
      "properties": {
        "device": {
          "description": "Required. The device to remove the configuration from. There are custom validations in RemoveConfigurationRequestValidator",
          "$ref": "DeviceReference"
        }
      },
      "id": "CustomerRemoveConfigurationRequest",
      "description": "Request message for customer to remove the configuration from device."
    },
    "CustomerApplyConfigurationRequest": {
      "type": "object",
      "id": "CustomerApplyConfigurationRequest",
      "description": "Request message for customer to assign a configuration to device.",
      "properties": {
        "device": {
          "description": "Required. The device the configuration is applied to. There are custom validations in ApplyConfigurationRequestValidator",
          "$ref": "DeviceReference"
        },
        "configuration": {
          "type": "string",
          "description": "Required. The configuration applied to the device in the format `customers/[CUSTOMER_ID]/configurations/[CONFIGURATION_ID]`."
        }
      }
    },
    "CustomerUnclaimDeviceRequest": {
      "description": "Request message for customer to unclaim a device.",
      "properties": {
        "device": {
          "description": "Required. The device to unclaim. There are custom validations in UnclaimDeviceRequestValidator.",
          "$ref": "DeviceReference"
        }
      },
      "type": "object",
      "id": "CustomerUnclaimDeviceRequest"
    },
    "DevicesLongRunningOperationMetadata": {
      "type": "object",
      "properties": {
        "processingStatus": {
          "type": "string",
          "enum": [
            "BATCH_PROCESS_STATUS_UNSPECIFIED",
            "BATCH_PROCESS_PENDING",
            "BATCH_PROCESS_IN_PROGRESS",
            "BATCH_PROCESS_PROCESSED"
          ],
          "enumDescriptions": [
            "Invalid code. Shouldn't be used.",
            "Pending.",
            "In progress.",
            "Processed. This doesn't mean all items were processed successfully, you should check the `response` field for the result of every item."
          ],
          "description": "The processing status of the operation."
        },
        "devicesCount": {
          "description": "The number of metadata updates in the operation. This might be different from the number of updates in the request if the API can't parse some of the updates.",
          "format": "int32",
          "type": "integer"
        },
        "progress": {
          "format": "int32",
          "description": "The processing progress of the operation. Measured as a number from 0 to 100. A value of 10O doesn't always mean the operation completed—check for the inclusion of a `done` field.",
          "type": "integer"
        }
      },
      "id": "DevicesLongRunningOperationMetadata",
      "description": "Tracks the status of a long-running operation to asynchronously update a batch of reseller metadata attached to devices. To learn more, read [Long‑running batch operations](/zero-touch/guides/how-it-works#operations)."
    },
    "Company": {
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The API resource name of the company. The resource name is one of the following formats: * `partners/[PARTNER_ID]/customers/[CUSTOMER_ID]` * `partners/[PARTNER_ID]/vendors/[VENDOR_ID]` * `partners/[PARTNER_ID]/vendors/[VENDOR_ID]/customers/[CUSTOMER_ID]` Assigned by the server."
        },
        "adminEmails": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Email address of customer's users in the admin role. Each email address must be associated with a Google Account."
        },
        "companyName": {
          "description": "Required. The name of the company. For example _XYZ Corp_. Displayed to the company's employees in the zero-touch enrollment portal.",
          "type": "string"
        },
        "ownerEmails": {
          "description": "Required. Input only. Email address of customer's users in the owner role. At least one `owner_email` is required. Owners share the same access as admins but can also add, delete, and edit your organization's portal users.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "skipWelcomeEmail": {
          "type": "boolean",
          "deprecated": true,
          "description": "Input only. Deprecated: This field is no longer supported and is ignored by the server."
        },
        "googleWorkspaceAccount": {
          "description": "Output only. The Google Workspace account associated with this customer. Only used for customer Companies.",
          "$ref": "GoogleWorkspaceAccount",
          "readOnly": true
        },
        "languageCode": {
          "type": "string",
          "description": "Input only. The preferred locale of the customer represented as a BCP47 language code. This field is validated on input and requests containing unsupported language codes will be rejected. Supported language codes: Arabic (ar) Chinese (Hong Kong) (zh-HK) Chinese (Simplified) (zh-CN) Chinese (Traditional) (zh-TW) Czech (cs) Danish (da) Dutch (nl) English (UK) (en-GB) English (US) (en-US) Filipino (fil) Finnish (fi) French (fr) German (de) Hebrew (iw) Hindi (hi) Hungarian (hu) Indonesian (id) Italian (it) Japanese (ja) Korean (ko) Norwegian (Bokmal) (no) Polish (pl) Portuguese (Brazil) (pt-BR) Portuguese (Portugal) (pt-PT) Russian (ru) Spanish (es) Spanish (Latin America) (es-419) Swedish (sv) Thai (th) Turkish (tr) Ukrainian (uk) Vietnamese (vi)"
        },
        "companyId": {
          "description": "Output only. The ID of the company. Assigned by the server.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "termsStatus": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Whether any user from the company has accepted the latest Terms of Service (ToS). See TermsStatus.",
          "enumDescriptions": [
            "Default value. This value should never be set if the enum is present.",
            "None of the company's users have accepted the ToS.",
            "One (or more) of the company's users has accepted the ToS.",
            "None of the company's users has accepted the current ToS but at least one user accepted a previous ToS."
          ],
          "enum": [
            "TERMS_STATUS_UNSPECIFIED",
            "TERMS_STATUS_NOT_ACCEPTED",
            "TERMS_STATUS_ACCEPTED",
            "TERMS_STATUS_STALE"
          ]
        }
      },
      "description": "A reseller, vendor, or customer in the zero-touch reseller and customer APIs.",
      "type": "object",
      "id": "Company"
    },
    "DeviceClaim": {
      "id": "DeviceClaim",
      "description": "A record of a device claimed by a reseller for a customer. Devices claimed for zero-touch enrollment have a claim with the type `SECTION_TYPE_ZERO_TOUCH`. To learn more, read [Claim devices for customers](/zero-touch/guides/how-it-works#claim).",
      "properties": {
        "vacationModeStartTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The timestamp when the device was put into ‘vacation mode’. This value is present iff the device is in 'vacation mode'."
        },
        "vacationModeExpireTime": {
          "format": "google-datetime",
          "description": "The timestamp when the device will exit ‘vacation mode’. This value is present iff the device is in 'vacation mode'.",
          "type": "string"
        },
        "resellerId": {
          "description": "The ID of the reseller that claimed the device.",
          "format": "int64",
          "type": "string"
        },
        "googleWorkspaceCustomerId": {
          "type": "string",
          "description": "The ID of the Google Workspace account that owns the Chrome OS device."
        },
        "ownerCompanyId": {
          "type": "string",
          "format": "int64",
          "description": "The ID of the Customer that purchased the device."
        },
        "sectionType": {
          "type": "string",
          "description": "Output only. The type of claim made on the device.",
          "enumDescriptions": [
            "Unspecified section type.",
            "SIM-lock section type.",
            "Zero-touch enrollment section type."
          ],
          "readOnly": true,
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "SECTION_TYPE_SIM_LOCK",
            "SECTION_TYPE_ZERO_TOUCH"
          ]
        },
        "additionalService": {
          "type": "string",
          "enum": [
            "ADDITIONAL_SERVICE_UNSPECIFIED",
            "DEVICE_PROTECTION"
          ],
          "description": "The Additional service registered for the device.",
          "enumDescriptions": [
            "No additional service.",
            "Device protection service, also known as Android Enterprise Essentials. To claim a device with the device protection service you must enroll with the partnership team."
          ]
        }
      },
      "type": "object"
    },
    "CreateCustomerRequest": {
      "description": "Request message to create a customer.",
      "id": "CreateCustomerRequest",
      "properties": {
        "customer": {
          "description": "Required. The company data to populate the new customer. Must contain a value for `companyName` and at least one `owner_email` that's associated with a Google Account. The values for `companyId` and `name` must be empty.",
          "$ref": "Company"
        }
      },
      "type": "object"
    },
    "PartnerClaim": {
      "id": "PartnerClaim",
      "properties": {
        "googleWorkspaceCustomerId": {
          "description": "The Google Workspace customer ID.",
          "type": "string"
        },
        "deviceMetadata": {
          "$ref": "DeviceMetadata",
          "description": "Required. The metadata to attach to the device at claim."
        },
        "preProvisioningToken": {
          "description": "Optional. Must and can only be set for Chrome OS devices.",
          "type": "string"
        },
        "deviceIdentifier": {
          "$ref": "DeviceIdentifier",
          "description": "Required. Required. Device identifier of the device."
        },
        "customerId": {
          "type": "string",
          "description": "The ID of the customer for whom the device is being claimed.",
          "format": "int64"
        },
        "simlockProfileId": {
          "type": "string",
          "description": "Optional. Must and can only be set when DeviceProvisioningSectionType is SECTION_TYPE_SIM_LOCK. The unique identifier of the SimLock profile.",
          "format": "int64"
        },
        "configurationId": {
          "format": "int64",
          "description": "Optional. The ID of the configuration applied to the device section.",
          "type": "string"
        },
        "sectionType": {
          "enumDescriptions": [
            "Unspecified section type.",
            "SIM-lock section type.",
            "Zero-touch enrollment section type."
          ],
          "type": "string",
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "SECTION_TYPE_SIM_LOCK",
            "SECTION_TYPE_ZERO_TOUCH"
          ],
          "description": "Required. The section type of the device's provisioning record."
        }
      },
      "type": "object",
      "description": "Identifies one claim request."
    },
    "Empty": {
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "properties": {}
    },
    "GetDeviceSimLockStateResponse": {
      "properties": {
        "simLockState": {
          "type": "string",
          "enum": [
            "SIM_LOCK_STATE_UNSPECIFIED",
            "UNLOCKED",
            "LOCKED_TO_PARTNER",
            "LOCKED_TO_OTHER_PARTNER"
          ],
          "enumDescriptions": [
            "Invalid code. Shouldn't be used.",
            "Device is not SIM locked.",
            "Device is SIM locked to the partner querying SIM lock state.",
            "Device is SIM locked to a different partner."
          ]
        }
      },
      "id": "GetDeviceSimLockStateResponse",
      "description": "Response containing a device's SimLock state.",
      "type": "object"
    }
  },
  "batchPath": "batch",
  "rootUrl": "https://androiddeviceprovisioning.googleapis.com/",
  "protocol": "rest",
  "title": "Android Device Provisioning Partner API",
  "version": "v1",
  "documentationLink": "https://developers.google.com/zero-touch/",
  "ownerName": "Google"
}