{
  "name": "androidpublisher",
  "discoveryVersion": "v1",
  "description": "Lets Android application developers access their Google Play accounts. At a high level, the expected workflow is to \"insert\" an Edit, make changes as necessary, and then \"commit\" it. ",
  "batchPath": "batch",
  "baseUrl": "https://androidpublisher.googleapis.com/",
  "schemas": {
    "VanityCode": {
      "id": "VanityCode",
      "properties": {
        "promotionCode": {
          "description": "The promotion code.",
          "type": "string"
        }
      },
      "description": "A multiple use, predefined promotion code.",
      "type": "object"
    },
    "ExpansionFile": {
      "id": "ExpansionFile",
      "properties": {
        "referencesVersion": {
          "description": "If set, this APK's expansion file references another APK's expansion file. The file_size field will not be set.",
          "type": "integer",
          "format": "int32"
        },
        "fileSize": {
          "description": "If set, this field indicates that this APK has an expansion file uploaded to it: this APK does not reference another APK's expansion file. The field's value is the size of the uploaded expansion file in bytes.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "An expansion file. The resource for ExpansionFilesService.",
      "type": "object"
    },
    "MigrateBasePlanPricesRequest": {
      "id": "MigrateBasePlanPricesRequest",
      "properties": {
        "productId": {
          "description": "Required. The ID of the subscription to update. Must be equal to the product_id field on the Subscription resource.",
          "type": "string"
        },
        "basePlanId": {
          "description": "Required. The unique base plan ID of the base plan to update prices on.",
          "type": "string"
        },
        "regionsVersion": {
          "description": "Required. The version of the available regions being used for the regional_price_migrations.",
          "$ref": "RegionsVersion"
        },
        "regionalPriceMigrations": {
          "description": "Required. The regional prices to update.",
          "type": "array",
          "items": {
            "$ref": "RegionalPriceMigrationConfig"
          }
        },
        "latencyTolerance": {
          "description": "Optional. The latency tolerance for the propagation of this product update. Defaults to latency-sensitive.",
          "type": "string",
          "enum": [
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
          ],
          "enumDescriptions": [
            "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
            "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
            "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
          ]
        },
        "packageName": {
          "description": "Required. Package name of the parent app. Must be equal to the package_name field on the Subscription resource.",
          "type": "string"
        }
      },
      "description": "Request message for MigrateBasePlanPrices.",
      "type": "object"
    },
    "UpdateAppStoreHostedAppResponse": {
      "id": "UpdateAppStoreHostedAppResponse",
      "properties": {},
      "description": "Response for updating an app record for an app store hosted app.",
      "type": "object"
    },
    "PriceStepUpConsentDetails": {
      "description": "Information related to a price step-up that requires user consent.",
      "type": "object",
      "id": "PriceStepUpConsentDetails",
      "properties": {
        "state": {
          "enum": [
            "CONSENT_STATE_UNSPECIFIED",
            "PENDING",
            "CONFIRMED",
            "COMPLETED"
          ],
          "readOnly": true,
          "description": "Output only. The state of the price step-up consent.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified consent state.",
            "The user has not yet provided consent.",
            "The user has consented, and the new price is waiting to take effect.",
            "The user has consented, and the new price has taken effect."
          ]
        },
        "consentDeadlineTime": {
          "description": "The deadline by which the user must provide consent. If consent is not provided by this time, the subscription will be canceled.",
          "type": "string",
          "format": "google-datetime"
        },
        "newPrice": {
          "description": "The new price which requires user consent.",
          "$ref": "Money"
        }
      }
    },
    "CoarseLocation": {
      "description": "Coarse Geographic location details for where the consumption happened.",
      "type": "object",
      "id": "CoarseLocation",
      "properties": {
        "regionCode": {
          "description": "Required. [CLDR region code](https://cldr.unicode.org/) of the country/region of the address. This value is never inferred and you must ensure the value is correct. Example: \"CH\" for Switzerland.",
          "type": "string"
        },
        "administrativeArea": {
          "description": "Optional. Highest administrative subdivision which is used for postal addresses of a country or region. For example, this can be a state, a province, an oblast, or a prefecture. For Spain, this is the province and not the autonomous community (for example, \"Barcelona\" and not \"Catalonia\"). Many countries don't use an administrative area in postal addresses. For example, in Switzerland, this should be left unpopulated.",
          "type": "string"
        },
        "locality": {
          "description": "Optional. Generally refers to the city or town portion of the address. Examples: US city, IT comune, UK post town. In regions of the world where localities are not well defined or do not fit into this structure well, leave `locality` empty.",
          "type": "string"
        },
        "sublocality": {
          "description": "Optional. Sublocality of the address. For example, this can be a neighborhood, borough, or district. For most addresses, you can omit this.",
          "type": "string"
        }
      }
    },
    "GeneratedAssetPackSlice": {
      "id": "GeneratedAssetPackSlice",
      "properties": {
        "version": {
          "description": "Asset module version.",
          "type": "string",
          "format": "int64"
        },
        "downloadId": {
          "description": "Download ID, which uniquely identifies the APK to download. Should be supplied to `generatedapks.download` method.",
          "type": "string"
        },
        "moduleName": {
          "description": "Name of the module that this asset slice belongs to.",
          "type": "string"
        },
        "sliceId": {
          "description": "Asset slice ID.",
          "type": "string"
        }
      },
      "description": "Download metadata for an asset pack slice.",
      "type": "object"
    },
    "BatchUpdateOneTimeProductOffersResponse": {
      "description": "Response message for BatchUpdateOneTimeProductOffers.",
      "type": "object",
      "id": "BatchUpdateOneTimeProductOffersResponse",
      "properties": {
        "oneTimeProductOffers": {
          "description": "The list of updated one-time product offers, in the same order as the request.",
          "type": "array",
          "items": {
            "$ref": "OneTimeProductOffer"
          }
        }
      }
    },
    "OnHoldStateContext": {
      "description": "Additional context around subscriptions in ON_HOLD state.",
      "type": "object",
      "id": "OnHoldStateContext",
      "properties": {
        "renewalDeclined": {
          "description": "Optional. The payment for the renewal was declined.",
          "$ref": "RenewalDeclinedContext"
        }
      }
    },
    "ProductPurchasesAcknowledgeRequest": {
      "id": "ProductPurchasesAcknowledgeRequest",
      "properties": {
        "developerPayload": {
          "description": "Payload to attach to the purchase.",
          "type": "string"
        }
      },
      "description": "Request for the product.purchases.acknowledge API.",
      "type": "object"
    },
    "DeviceGroup": {
      "description": "A group of devices. A group is defined by a set of device selectors. A device belongs to the group if it matches any selector (logical OR).",
      "type": "object",
      "id": "DeviceGroup",
      "properties": {
        "name": {
          "description": "The name of the group.",
          "type": "string"
        },
        "deviceSelectors": {
          "description": "Device selectors for this group. A device matching any of the selectors is included in this group.",
          "type": "array",
          "items": {
            "$ref": "DeviceSelector"
          }
        }
      }
    },
    "AppStoreAppDetails": {
      "description": "Details about the app.",
      "type": "object",
      "id": "AppStoreAppDetails",
      "properties": {
        "developerName": {
          "description": "Required. The app developer's name.",
          "type": "string"
        },
        "developerWebsite": {
          "description": "Optional. Website link for the developer or app.",
          "type": "string"
        },
        "contactEmail": {
          "description": "Required. The app developer's contact email address.",
          "type": "string"
        }
      }
    },
    "OfferDetails": {
      "id": "OfferDetails",
      "properties": {
        "basePlanId": {
          "description": "The base plan ID. Present for all base plan and offers.",
          "type": "string"
        },
        "offerId": {
          "description": "The offer ID. Only present for discounted offers.",
          "type": "string"
        },
        "offerTags": {
          "description": "The latest offer tags associated with the offer. It includes tags inherited from the base plan.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Offer details information related to a purchase line item.",
      "type": "object"
    },
    "PolicyGroupResponse": {
      "id": "PolicyGroupResponse",
      "properties": {
        "groups": {
          "description": "Optional. Groups of responses to questions.",
          "type": "array",
          "items": {
            "$ref": "Group"
          }
        }
      },
      "description": "A repeated group of responses.",
      "type": "object"
    },
    "UpdatePurchaseOptionStateRequest": {
      "id": "UpdatePurchaseOptionStateRequest",
      "properties": {
        "deactivatePurchaseOptionRequest": {
          "description": "Deactivates a purchase option. Once deactivated, the purchase option will become unavailable.",
          "$ref": "DeactivatePurchaseOptionRequest"
        },
        "activatePurchaseOptionRequest": {
          "description": "Activates a purchase option. Once activated, the purchase option will be available.",
          "$ref": "ActivatePurchaseOptionRequest"
        }
      },
      "description": "Request message to update the state of a one-time product purchase option.",
      "type": "object"
    },
    "UploadAppStoreAppPolicyDeclarationFileRequest": {
      "id": "UploadAppStoreAppPolicyDeclarationFileRequest",
      "properties": {
        "fileType": {
          "enumDescriptions": [
            "Unspecified file type.",
            "File type for PDF, JPEG, and PNG documents."
          ],
          "enum": [
            "DECLARATION_FILE_TYPE_UNSPECIFIED",
            "DECLARATION_FILE_TYPE_DOCUMENT"
          ],
          "description": "Required. Type of the policy declaration file.",
          "type": "string"
        }
      },
      "description": "Request to upload a policy declaration file.",
      "type": "object"
    },
    "ModuleTargeting": {
      "description": "Targeting on the module level.",
      "type": "object",
      "id": "ModuleTargeting",
      "properties": {
        "sdkVersionTargeting": {
          "description": "The sdk version that the variant targets",
          "$ref": "SdkVersionTargeting"
        },
        "deviceFeatureTargeting": {
          "description": "Targeting for device features.",
          "type": "array",
          "items": {
            "$ref": "DeviceFeatureTargeting"
          }
        },
        "userCountriesTargeting": {
          "description": "Countries-level targeting",
          "$ref": "UserCountriesTargeting"
        }
      }
    },
    "BatchMigrateBasePlanPricesResponse": {
      "description": "Response message for BatchMigrateBasePlanPrices.",
      "type": "object",
      "id": "BatchMigrateBasePlanPricesResponse",
      "properties": {
        "responses": {
          "description": "Contains one response per requested price migration, in the same order as the request.",
          "type": "array",
          "items": {
            "$ref": "MigrateBasePlanPricesResponse"
          }
        }
      }
    },
    "VariantTargeting": {
      "description": "Targeting on the level of variants.",
      "type": "object",
      "id": "VariantTargeting",
      "properties": {
        "screenDensityTargeting": {
          "description": "The screen densities that this variant supports",
          "$ref": "ScreenDensityTargeting"
        },
        "multiAbiTargeting": {
          "description": "Multi-api-level targeting",
          "$ref": "MultiAbiTargeting"
        },
        "sdkVersionTargeting": {
          "description": "The sdk version that the variant targets",
          "$ref": "SdkVersionTargeting"
        },
        "abiTargeting": {
          "description": "The abi that the variant targets",
          "$ref": "AbiTargeting"
        },
        "textureCompressionFormatTargeting": {
          "description": "Texture-compression-format-level targeting",
          "$ref": "TextureCompressionFormatTargeting"
        }
      }
    },
    "CancelAppRecoveryRequest": {
      "id": "CancelAppRecoveryRequest",
      "properties": {},
      "description": "Request message for CancelAppRecovery.",
      "type": "object"
    },
    "CatalogSdkVersion": {
      "description": "Defines a range of SDK versions. A device is considered compatible uf its\\ SDK version falls within the min_sdk_version and max_sdk_version range.",
      "type": "object",
      "id": "CatalogSdkVersion",
      "properties": {
        "targetSdkVersion": {
          "description": "The target SDK version for the app.",
          "type": "string",
          "format": "int64"
        },
        "maxSdkVersion": {
          "description": "The maximum SDK version required for the app (inclusive).",
          "type": "string",
          "format": "int64"
        },
        "minSdkVersion": {
          "description": "The minimum SDK version required for the app (inclusive).",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "DeviceFeatureTargeting": {
      "description": "Targeting for a device feature.",
      "type": "object",
      "id": "DeviceFeatureTargeting",
      "properties": {
        "requiredFeature": {
          "description": "Feature of the device.",
          "$ref": "DeviceFeature"
        }
      }
    },
    "DeployAppRecoveryRequest": {
      "description": "Request message for DeployAppRecovery.",
      "type": "object",
      "id": "DeployAppRecoveryRequest",
      "properties": {}
    },
    "ListAppRecoveriesResponse": {
      "id": "ListAppRecoveriesResponse",
      "properties": {
        "recoveryActions": {
          "description": "List of recovery actions associated with the requested package name.",
          "type": "array",
          "items": {
            "$ref": "AppRecoveryAction"
          }
        }
      },
      "description": "Response message for ListAppRecoveries. -- api-linter: core::0158::response-next-page-token-field=disabled",
      "type": "object"
    },
    "ApkDescription": {
      "id": "ApkDescription",
      "properties": {
        "targeting": {
          "description": "Apk-level targeting.",
          "$ref": "ApkTargeting"
        },
        "splitApkMetadata": {
          "description": "Set only for Split APKs.",
          "$ref": "SplitApkMetadata"
        },
        "instantApkMetadata": {
          "description": "Set only for Instant split APKs.",
          "$ref": "SplitApkMetadata"
        },
        "path": {
          "description": "Path of the Apk, will be in the following format: .apk where DownloadId is the ID used to download the apk using GeneratedApks.Download API.",
          "type": "string"
        },
        "assetSliceMetadata": {
          "description": "Set only for asset slices.",
          "$ref": "SplitApkMetadata"
        },
        "standaloneApkMetadata": {
          "description": "Set only for standalone APKs.",
          "$ref": "StandaloneApkMetadata"
        }
      },
      "description": "Description of the created apks.",
      "type": "object"
    },
    "InAppProduct": {
      "id": "InAppProduct",
      "properties": {
        "packageName": {
          "description": "Package name of the parent app.",
          "type": "string"
        },
        "defaultPrice": {
          "description": "Default price. Cannot be zero, as in-app products are never free. Always in the developer's Checkout merchant currency.",
          "$ref": "Price"
        },
        "trialPeriod": {
          "description": "Trial period, specified in ISO 8601 format. Acceptable values are anything between P7D (seven days) and P999D (999 days).",
          "type": "string"
        },
        "sku": {
          "description": "Stock-keeping-unit (SKU) of the product, unique within an app.",
          "type": "string"
        },
        "managedProductTaxesAndComplianceSettings": {
          "description": "Details about taxes and legal compliance. Only applicable to managed products.",
          "$ref": "ManagedProductTaxAndComplianceSettings"
        },
        "status": {
          "enum": [
            "statusUnspecified",
            "active",
            "inactive"
          ],
          "enumDescriptions": [
            "Unspecified status.",
            "The product is published and active in the store.",
            "The product is not published and therefore inactive in the store."
          ],
          "description": "The status of the product, e.g. whether it's active.",
          "type": "string"
        },
        "listings": {
          "description": "List of localized title and description data. Map key is the language of the localized data, as defined by BCP-47, e.g. \"en-US\".",
          "type": "object",
          "additionalProperties": {
            "$ref": "InAppProductListing"
          }
        },
        "prices": {
          "description": "Prices per buyer region. None of these can be zero, as in-app products are never free. Map key is region code, as defined by ISO 3166-2.",
          "type": "object",
          "additionalProperties": {
            "$ref": "Price"
          }
        },
        "gracePeriod": {
          "description": "Grace period of the subscription, specified in ISO 8601 format. Allows developers to give their subscribers a grace period when the payment for the new recurrence period is declined. Acceptable values are P0D (zero days), P3D (three days), P7D (seven days), P14D (14 days), and P30D (30 days).",
          "type": "string"
        },
        "subscriptionTaxesAndComplianceSettings": {
          "description": "Details about taxes and legal compliance. Only applicable to subscription products.",
          "$ref": "SubscriptionTaxAndComplianceSettings"
        },
        "purchaseType": {
          "description": "The type of the product, e.g. a recurring subscription.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified purchase type.",
            "The default product type - one time purchase.",
            "In-app product with a recurring period."
          ],
          "enum": [
            "purchaseTypeUnspecified",
            "managedUser",
            "subscription"
          ]
        },
        "defaultLanguage": {
          "description": "Default language of the localized data, as defined by BCP-47. e.g. \"en-US\".",
          "type": "string"
        },
        "subscriptionPeriod": {
          "description": "Subscription period, specified in ISO 8601 format. Acceptable values are P1W (one week), P1M (one month), P3M (three months), P6M (six months), and P1Y (one year).",
          "type": "string"
        }
      },
      "description": "An in-app product. The resource for InappproductsService.",
      "type": "object"
    },
    "ListOneTimeProductsResponse": {
      "description": "Response message for ListOneTimeProducts.",
      "type": "object",
      "id": "ListOneTimeProductsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "oneTimeProducts": {
          "description": "The one-time products from the specified app.",
          "type": "array",
          "items": {
            "$ref": "OneTimeProduct"
          }
        }
      }
    },
    "RecentUpdateEvent": {
      "id": "RecentUpdateEvent",
      "properties": {
        "updateType": {
          "enum": [
            "UPDATE_TYPE_UNSPECIFIED",
            "MODIFICATION",
            "DELETION"
          ],
          "enumDescriptions": [
            "Default value. This value is not used.",
            "The app was modified.",
            "The app stopped being eligible for catalog inclusion or was removed from the Play Store."
          ],
          "description": "The type of the update event.",
          "type": "string"
        },
        "playAppPackageName": {
          "description": "The package name of the app.",
          "type": "string"
        },
        "eventTime": {
          "description": "The timestamp of the update.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "A recent update event.",
      "type": "object"
    },
    "CreateDraftAppRecoveryRequest": {
      "id": "CreateDraftAppRecoveryRequest",
      "properties": {
        "targeting": {
          "description": "Specifies targeting criteria for the recovery action such as regions, android sdk versions, app versions etc.",
          "$ref": "Targeting"
        },
        "remoteInAppUpdate": {
          "description": "Action type is remote in-app update. As a consequence of this action, a downloadable recovery module is also created for testing purposes.",
          "$ref": "RemoteInAppUpdate"
        }
      },
      "description": "Request message for CreateDraftAppRecovery.",
      "type": "object"
    },
    "UpdateOneTimeProductRequest": {
      "id": "UpdateOneTimeProductRequest",
      "properties": {
        "updateMask": {
          "description": "Required. The list of fields to be updated.",
          "type": "string",
          "format": "google-fieldmask"
        },
        "oneTimeProduct": {
          "description": "Required. The one-time product to upsert.",
          "$ref": "OneTimeProduct"
        },
        "regionsVersion": {
          "description": "Required. The version of the available regions being used for the one-time product.",
          "$ref": "RegionsVersion"
        },
        "allowMissing": {
          "description": "Optional. If set to true, and the one-time product with the given package_name and product_id doesn't exist, the one-time product will be created. If a new one-time product is created, update_mask is ignored.",
          "type": "boolean"
        },
        "latencyTolerance": {
          "description": "Optional. The latency tolerance for the propagation of this product upsert. Defaults to latency-sensitive.",
          "type": "string",
          "enum": [
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
          ],
          "enumDescriptions": [
            "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
            "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
            "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
          ]
        }
      },
      "description": "Request message for UpdateOneTimeProduct.",
      "type": "object"
    },
    "DeviceIdentifier": {
      "description": "Defines a device identifier for a device.",
      "type": "object",
      "id": "DeviceIdentifier",
      "properties": {
        "deviceBrand": {
          "description": "The brand of the device.",
          "type": "string"
        },
        "deviceModel": {
          "description": "The model of the device.",
          "type": "string"
        }
      }
    },
    "PolicyStringResponse": {
      "description": "Any response best encoded as a string. Includes URLs and multiline text fields.",
      "type": "object",
      "id": "PolicyStringResponse",
      "properties": {
        "value": {
          "description": "Required. Provided string value.",
          "type": "string"
        }
      }
    },
    "MultiAbi": {
      "description": "Represents a list of ABIs.",
      "type": "object",
      "id": "MultiAbi",
      "properties": {
        "abi": {
          "description": "A list of targeted ABIs, as represented by the Android Platform",
          "type": "array",
          "items": {
            "$ref": "Abi"
          }
        }
      }
    },
    "BatchUpdateOneTimeProductOfferStatesResponse": {
      "description": "Response message for BatchUpdateOneTimeProductOfferStates.",
      "type": "object",
      "id": "BatchUpdateOneTimeProductOfferStatesResponse",
      "properties": {
        "oneTimeProductOffers": {
          "description": "The updated one-time product offers list, in the same order as the request.",
          "type": "array",
          "items": {
            "$ref": "OneTimeProductOffer"
          }
        }
      }
    },
    "DeactivateSubscriptionOfferRequest": {
      "id": "DeactivateSubscriptionOfferRequest",
      "properties": {
        "basePlanId": {
          "description": "Required. The parent base plan (ID) of the offer to deactivate.",
          "type": "string"
        },
        "offerId": {
          "description": "Required. The unique offer ID of the offer to deactivate.",
          "type": "string"
        },
        "latencyTolerance": {
          "enumDescriptions": [
            "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
            "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
            "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
          ],
          "enum": [
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
          ],
          "description": "Optional. The latency tolerance for the propagation of this product update. Defaults to latency-sensitive.",
          "type": "string"
        },
        "packageName": {
          "description": "Required. The parent app (package name) of the offer to deactivate.",
          "type": "string"
        },
        "productId": {
          "description": "Required. The parent subscription (ID) of the offer to deactivate.",
          "type": "string"
        }
      },
      "description": "Request message for DeactivateSubscriptionOffer.",
      "type": "object"
    },
    "LocalizedStoreListings": {
      "description": "The localized store listings of an app.",
      "type": "object",
      "id": "LocalizedStoreListings",
      "properties": {
        "localizedStoreListings": {
          "type": "array",
          "items": {
            "$ref": "LocalizedStoreListing"
          }
        },
        "defaultLanguageCode": {
          "description": "The default language code of the app. If a localized store listing is not available for a given language, assets from the default language are used instead.",
          "type": "string"
        }
      }
    },
    "TargetingRuleScopeAnySubscriptionInApp": {
      "id": "TargetingRuleScopeAnySubscriptionInApp",
      "properties": {},
      "description": "Represents the targeting rule scope corresponding to any subscription in the parent app.",
      "type": "object"
    },
    "CancellationEvent": {
      "description": "Details of when the order was canceled.",
      "type": "object",
      "id": "CancellationEvent",
      "properties": {
        "eventTime": {
          "description": "The time when the order was canceled.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "RefundExternalTransactionRequest": {
      "id": "RefundExternalTransactionRequest",
      "properties": {
        "refundTime": {
          "description": "Required. The time that the transaction was refunded.",
          "type": "string",
          "format": "google-datetime"
        },
        "partialRefund": {
          "description": "A partial refund.",
          "$ref": "PartialRefund"
        },
        "fullRefund": {
          "description": "A full-amount refund.",
          "$ref": "FullRefund"
        }
      },
      "description": "A request to refund an existing external transaction.",
      "type": "object"
    },
    "ListSubscriptionOffersResponse": {
      "description": "Response message for ListSubscriptionOffers.",
      "type": "object",
      "id": "ListSubscriptionOffersResponse",
      "properties": {
        "subscriptionOffers": {
          "description": "The subscription offers from the specified subscription.",
          "type": "array",
          "items": {
            "$ref": "SubscriptionOffer"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "CountryTargeting": {
      "id": "CountryTargeting",
      "properties": {
        "countries": {
          "description": "Countries to target, specified as two letter [CLDR codes](https://unicode.org/cldr/charts/latest/supplemental/territory_containment_un_m_49.html).",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "includeRestOfWorld": {
          "description": "Include \"rest of world\" as well as explicitly targeted countries.",
          "type": "boolean"
        }
      },
      "description": "Country targeting specification.",
      "type": "object"
    },
    "DeobfuscationFile": {
      "id": "DeobfuscationFile",
      "properties": {
        "symbolType": {
          "description": "The type of the deobfuscation file.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified deobfuscation file type.",
            "Proguard deobfuscation file type.",
            "Native debugging symbols file type."
          ],
          "enum": [
            "deobfuscationFileTypeUnspecified",
            "proguard",
            "nativeCode"
          ]
        }
      },
      "description": "Represents a deobfuscation file.",
      "type": "object"
    },
    "ConsumptionUsageEvent": {
      "description": "List of events, each representing an instance where the user consumed or used the purchased item or service.",
      "type": "object",
      "id": "ConsumptionUsageEvent",
      "properties": {
        "obfuscatedProfileId": {
          "description": "Optional. Obfuscated string that is uniquely associated with the purchaser's user profile in the app. https://developer.android.com/reference/com/android/billingclient/api/BillingFlowParams.Builder#setObfuscatedProfileId(java.lang.String)",
          "type": "string"
        },
        "ipAddress": {
          "description": "Optional. The IP address from which the consumption occurred.",
          "type": "string"
        },
        "consumptionItemDescription": {
          "description": "Optional. Free form text that allows developers to provide more info on the item consumed. Maximum length is 5000 characters.",
          "type": "string"
        },
        "location": {
          "description": "Optional. Geographic location where the consumption occurred.",
          "$ref": "CoarseLocation"
        },
        "obfuscatedAccountId": {
          "description": "Optional. Obfuscated string that is uniquely associated with the purchaser's user account in the app. https://developer.android.com/reference/com/android/billingclient/api/BillingFlowParams.Builder#setObfuscatedAccountId(java.lang.String)",
          "type": "string"
        },
        "consumptionTime": {
          "description": "Optional. Time when the user consumed, used, downloaded, opened, or streamed the content.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "RevocationContextFullRefund": {
      "id": "RevocationContextFullRefund",
      "properties": {},
      "description": "Used to determine if the refund type in the RevocationContext is a full refund.",
      "type": "object"
    },
    "SubscriptionDetails": {
      "description": "Details of a subscription purchase.",
      "type": "object",
      "id": "SubscriptionDetails",
      "properties": {
        "servicePeriodEndTime": {
          "description": "The end of the billing period funded by this order. This is a snapshot of the billing/service period end time at the moment the order was processed, and should be used only for accounting. To get the current end time of the subscription service period, use purchases.subscriptionsv2.get.",
          "type": "string",
          "format": "google-datetime"
        },
        "offerPhase": {
          "deprecated": true,
          "enumDescriptions": [
            "Offer phase unspecified. This value is not used.",
            "The order funds a base price period.",
            "The order funds an introductory pricing period.",
            "The order funds a free trial period."
          ],
          "description": "Deprecated: Use offer_phase_details instead. The pricing phase for the billing period funded by this order.",
          "type": "string",
          "enum": [
            "OFFER_PHASE_UNSPECIFIED",
            "BASE",
            "INTRODUCTORY",
            "FREE_TRIAL"
          ]
        },
        "basePlanId": {
          "description": "The base plan ID of the subscription.",
          "type": "string"
        },
        "offerId": {
          "description": "The offer ID for the current subscription offer.",
          "type": "string"
        },
        "offerPhaseDetails": {
          "description": "The pricing phase details for the entitlement period funded by this order.",
          "$ref": "OfferPhaseDetails"
        },
        "servicePeriodStartTime": {
          "description": "The start of the billing period funded by this order. This is a snapshot of the billing/service period start time at the moment the order was processed, and should be used only for accounting.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "Grant": {
      "id": "Grant",
      "properties": {
        "name": {
          "description": "Required. Resource name for this grant, following the pattern \"developers/{developer}/users/{email}/grants/{package_name}\". If this grant is for a draft app, the app ID will be used in this resource name instead of the package name.",
          "type": "string"
        },
        "packageName": {
          "description": "Immutable. The package name of the app. This will be empty for draft apps.",
          "type": "string"
        },
        "appLevelPermissions": {
          "description": "The permissions granted to the user for this app.",
          "type": "array",
          "items": {
            "enum": [
              "APP_LEVEL_PERMISSION_UNSPECIFIED",
              "CAN_ACCESS_APP",
              "CAN_VIEW_FINANCIAL_DATA",
              "CAN_MANAGE_PERMISSIONS",
              "CAN_REPLY_TO_REVIEWS",
              "CAN_MANAGE_PUBLIC_APKS",
              "CAN_MANAGE_TRACK_APKS",
              "CAN_MANAGE_TRACK_USERS",
              "CAN_MANAGE_PUBLIC_LISTING",
              "CAN_MANAGE_DRAFT_APPS",
              "CAN_MANAGE_ORDERS",
              "CAN_MANAGE_APP_CONTENT",
              "CAN_VIEW_NON_FINANCIAL_DATA",
              "CAN_VIEW_APP_QUALITY",
              "CAN_MANAGE_DEEPLINKS"
            ],
            "enumDescriptions": [
              "Unknown or unspecified permission.",
              "View app information (read-only). Deprecated: Try defining a more granular capability. Otherwise, check AppLevelPermission.CAN_VIEW_NON_FINANCIAL_DATA.",
              "View financial data.",
              "Admin (all permissions).",
              "Reply to reviews.",
              "Release to production, exclude devices, and use app signing by Google Play.",
              "Release to testing tracks.",
              "Manage testing tracks and edit tester lists.",
              "Manage store presence.",
              "Edit and delete draft apps.",
              "Manage orders and subscriptions.",
              "Manage policy related pages.",
              "View app information (read-only).",
              "View app quality data such as Vitals, Crashes etc.",
              "Manage the deep links setup of an app."
            ],
            "type": "string",
            "enumDeprecated": [
              false,
              true,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false
            ]
          }
        }
      },
      "description": "An access grant resource.",
      "type": "object"
    },
    "AssetSliceSet": {
      "description": "Set of asset slices belonging to a single asset module.",
      "type": "object",
      "id": "AssetSliceSet",
      "properties": {
        "apkDescription": {
          "description": "Asset slices.",
          "type": "array",
          "items": {
            "$ref": "ApkDescription"
          }
        },
        "assetModuleMetadata": {
          "description": "Module level metadata.",
          "$ref": "AssetModuleMetadata"
        }
      }
    },
    "SubscriptionPurchaseLineItem": {
      "description": "Item-level info for a subscription purchase.",
      "type": "object",
      "id": "SubscriptionPurchaseLineItem",
      "properties": {
        "autoRenewingPlan": {
          "description": "The item is auto renewing.",
          "$ref": "AutoRenewingPlan"
        },
        "latestSuccessfulOrderId": {
          "description": "The order id of the latest successful order associated with this item. Not present if the item is not owned by the user yet (e.g. the item being deferred replaced to).",
          "type": "string"
        },
        "prepaidPlan": {
          "description": "The item is prepaid.",
          "$ref": "PrepaidPlan"
        },
        "deferredItemRemoval": {
          "description": "Information for deferred item removal.",
          "$ref": "DeferredItemRemoval"
        },
        "offerPhase": {
          "description": "Current offer phase details for this item.",
          "$ref": "OfferPhase"
        },
        "signupPromotion": {
          "description": "Promotion details about this item. Only set if a promotion was applied during signup.",
          "$ref": "SignupPromotion"
        },
        "offerDetails": {
          "description": "The offer details for this item.",
          "$ref": "OfferDetails"
        },
        "expiryTime": {
          "description": "Time at which the subscription expired or will expire unless the access is extended (ex. renews).",
          "type": "string",
          "format": "google-datetime"
        },
        "deferredItemReplacement": {
          "description": "Information for deferred item replacement.",
          "$ref": "DeferredItemReplacement"
        },
        "productId": {
          "description": "The purchased product ID (for example, 'monthly001').",
          "type": "string"
        },
        "itemReplacement": {
          "description": "Details of the item being replaced. This field is only populated if this item replaced another item in a previous subscription and is only available for 60 days after the purchase time.",
          "$ref": "ItemReplacement"
        }
      }
    },
    "InstallmentPlan": {
      "description": "Information to a installment plan.",
      "type": "object",
      "id": "InstallmentPlan",
      "properties": {
        "remainingCommittedPaymentsCount": {
          "description": "Total number of committed payments remaining to be paid for in this renewal cycle.",
          "type": "integer",
          "format": "int32"
        },
        "initialCommittedPaymentsCount": {
          "description": "Total number of payments the user is initially committed for.",
          "type": "integer",
          "format": "int32"
        },
        "pendingCancellation": {
          "description": "If present, this installment plan is pending to be canceled. The cancellation will happen only after the user finished all committed payments.",
          "$ref": "PendingCancellation"
        },
        "subsequentCommittedPaymentsCount": {
          "description": "Total number of payments the user will be committed for after each commitment period. Empty means the installment plan will fall back to a normal auto-renew subscription after initial commitment.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "OrderDetails": {
      "description": "Detailed information about the order at creation time.",
      "type": "object",
      "id": "OrderDetails",
      "properties": {
        "taxInclusive": {
          "description": "Indicates whether the listed price was tax inclusive or not.",
          "type": "boolean"
        }
      }
    },
    "OneTimeProductPurchaseOptionRegionalPricingAndAvailabilityConfig": {
      "description": "Regional pricing and availability configuration for a purchase option.",
      "type": "object",
      "id": "OneTimeProductPurchaseOptionRegionalPricingAndAvailabilityConfig",
      "properties": {
        "regionCode": {
          "description": "Required. Region code this configuration applies to, as defined by ISO 3166-2, e.g., \"US\".",
          "type": "string"
        },
        "availability": {
          "description": "The availability of the purchase option.",
          "type": "string",
          "enum": [
            "AVAILABILITY_UNSPECIFIED",
            "AVAILABLE",
            "NO_LONGER_AVAILABLE",
            "AVAILABLE_IF_RELEASED",
            "AVAILABLE_FOR_OFFERS_ONLY"
          ],
          "enumDescriptions": [
            "Unspecified availability. Must not be used.",
            "The purchase option is available to users.",
            "The purchase option is no longer available to users. This value can only be used if the availability was previously set as AVAILABLE.",
            "The purchase option is initially unavailable, but made available via a released pre-order offer.",
            "The purchase option is unavailable but offers linked to it (i.e. Play Points offer) are available."
          ]
        },
        "price": {
          "description": "The price of the purchase option in the specified region. Must be set in the currency that is linked to the specified region.",
          "$ref": "Money"
        }
      }
    },
    "RevocationContext": {
      "description": "Revocation context of the purchases.subscriptionsv2.revoke API.",
      "type": "object",
      "id": "RevocationContext",
      "properties": {
        "fullRefund": {
          "description": "Optional. Used when users should be refunded the full amount of latest charge on each item in the subscription.",
          "$ref": "RevocationContextFullRefund"
        },
        "itemBasedRefund": {
          "description": "Optional. Used when a specific item should be refunded in a subscription with add-on items.",
          "$ref": "RevocationContextItemBasedRefund"
        },
        "proratedRefund": {
          "description": "Optional. Used when users should be refunded a prorated amount they paid for their subscription based on the amount of time remaining in a subscription.",
          "$ref": "RevocationContextProratedRefund"
        }
      }
    },
    "UpdateAppStoreHostedAppPublishStatusResponse": {
      "id": "UpdateAppStoreHostedAppPublishStatusResponse",
      "properties": {},
      "description": "Response for updating the publish status of an app store hosted app.",
      "type": "object"
    },
    "SdkVersion": {
      "id": "SdkVersion",
      "properties": {
        "min": {
          "description": "Inclusive minimum value of an sdk version.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Represents an sdk version.",
      "type": "object"
    },
    "ApkTargeting": {
      "description": "Represents a set of apk-level targetings.",
      "type": "object",
      "id": "ApkTargeting",
      "properties": {
        "abiTargeting": {
          "description": "The abi that the apk targets",
          "$ref": "AbiTargeting"
        },
        "textureCompressionFormatTargeting": {
          "description": "Texture-compression-format-level targeting",
          "$ref": "TextureCompressionFormatTargeting"
        },
        "sdkVersionTargeting": {
          "description": "The sdk version that the apk targets",
          "$ref": "SdkVersionTargeting"
        },
        "languageTargeting": {
          "description": "The language that the apk targets",
          "$ref": "LanguageTargeting"
        },
        "multiAbiTargeting": {
          "description": "Multi-api-level targeting.",
          "$ref": "MultiAbiTargeting"
        },
        "screenDensityTargeting": {
          "description": "The screen density that this apk supports.",
          "$ref": "ScreenDensityTargeting"
        }
      }
    },
    "ProductOfferDetails": {
      "description": "Offer details information related to a purchase line item.",
      "type": "object",
      "id": "ProductOfferDetails",
      "properties": {
        "consumptionState": {
          "enum": [
            "CONSUMPTION_STATE_UNSPECIFIED",
            "CONSUMPTION_STATE_YET_TO_BE_CONSUMED",
            "CONSUMPTION_STATE_CONSUMED"
          ],
          "readOnly": true,
          "description": "Output only. The consumption state of the purchase.",
          "type": "string",
          "enumDescriptions": [
            "Consumption state unspecified. This value should never be set.",
            "Yet to be consumed.",
            "Consumed already."
          ]
        },
        "offerToken": {
          "description": "The per-transaction offer token used to make this purchase line item.",
          "type": "string"
        },
        "offerId": {
          "description": "The offer ID. Only present for offers.",
          "type": "string"
        },
        "preorderOfferDetails": {
          "description": "Offer details for a preorder offer. This will only be set for preorders.",
          "$ref": "PreorderOfferDetails"
        },
        "purchaseOptionId": {
          "description": "The purchase option ID.",
          "type": "string"
        },
        "offerTags": {
          "description": "The latest offer tags associated with the offer. It includes tags inherited from the purchase option.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "rentOfferDetails": {
          "description": "Offer details about rent offers. This will only be set for rental line items.",
          "$ref": "RentOfferDetails"
        },
        "quantity": {
          "description": "The quantity associated with the purchase of the inapp product.",
          "type": "integer",
          "format": "int32"
        },
        "refundableQuantity": {
          "description": "The quantity eligible for refund, i.e. quantity that hasn't been refunded. The value reflects quantity-based partial refunds and full refunds.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "TrackRelease": {
      "id": "TrackRelease",
      "properties": {
        "versionCodes": {
          "description": "Version codes of all APKs in the release. Must include version codes to retain from previous releases.",
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "name": {
          "description": "The release name. Not required to be unique. If not set, the name is generated from the APK's version_name. If the release contains multiple APKs, the name is generated from the date.",
          "type": "string"
        },
        "releaseNotes": {
          "description": "A description of what is new in this release.",
          "type": "array",
          "items": {
            "$ref": "LocalizedText"
          }
        },
        "status": {
          "enum": [
            "statusUnspecified",
            "draft",
            "inProgress",
            "halted",
            "completed"
          ],
          "enumDescriptions": [
            "Unspecified status.",
            "The release's APKs are not being served to users.",
            "The release's APKs are being served to a fraction of users, determined by 'user_fraction'.",
            "The release's APKs will no longer be served to users. Users who already have these APKs are unaffected.",
            "The release will have no further changes. Its APKs are being served to all users, unless they are eligible to APKs of a more recent release."
          ],
          "description": "The status of the release.",
          "type": "string"
        },
        "countryTargeting": {
          "description": "Restricts a release to a specific set of countries. Note this is only allowed to be set for inProgress releases in the production track.",
          "$ref": "CountryTargeting"
        },
        "userFraction": {
          "description": "Fraction of users who are eligible for a staged release. 0 < fraction < 1. Can only be set when status is \"inProgress\" or \"halted\".",
          "type": "number",
          "format": "double"
        },
        "inAppUpdatePriority": {
          "description": "In-app update priority of the release. All newly added APKs in the release will be considered at this priority. Can take values in the range [0, 5], with 5 the highest priority. Defaults to 0. in_app_update_priority can not be updated once the release is rolled out. See https://developer.android.com/guide/playcore/in-app-updates.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "A release within a track.",
      "type": "object"
    },
    "UpdateSubscriptionOfferStateRequest": {
      "id": "UpdateSubscriptionOfferStateRequest",
      "properties": {
        "activateSubscriptionOfferRequest": {
          "description": "Activates an offer. Once activated, the offer will be available to new subscribers.",
          "$ref": "ActivateSubscriptionOfferRequest"
        },
        "deactivateSubscriptionOfferRequest": {
          "description": "Deactivates an offer. Once deactivated, the offer will become unavailable to new subscribers, but existing subscribers will maintain their subscription",
          "$ref": "DeactivateSubscriptionOfferRequest"
        }
      },
      "description": "Request message to update the state of a subscription offer.",
      "type": "object"
    },
    "OrderHistory": {
      "description": "Details about events which modified the order.",
      "type": "object",
      "id": "OrderHistory",
      "properties": {
        "partialRefundEvents": {
          "description": "Details of the partial refund events for this order.",
          "type": "array",
          "items": {
            "$ref": "PartialRefundEvent"
          }
        },
        "cancellationEvent": {
          "description": "Details of when the order was canceled.",
          "$ref": "CancellationEvent"
        },
        "processedEvent": {
          "description": "Details of when the order was processed.",
          "$ref": "ProcessedEvent"
        },
        "refundEvent": {
          "description": "Details of when the order was fully refunded.",
          "$ref": "RefundEvent"
        }
      }
    },
    "PolicySingleChoiceResponse": {
      "description": "Any response where a single option is chosen from several possibilities.",
      "type": "object",
      "id": "PolicySingleChoiceResponse",
      "properties": {
        "value": {
          "description": "Required. Provided value.",
          "type": "string"
        }
      }
    },
    "SubscriptionOffer": {
      "id": "SubscriptionOffer",
      "properties": {
        "state": {
          "enumDescriptions": [
            "Default value, should never be used.",
            "The subscription offer is not and has never been available to users.",
            "The subscription offer is available to new and existing users.",
            "The subscription offer is not available to new users. Existing users retain access."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "DRAFT",
            "ACTIVE",
            "INACTIVE"
          ],
          "readOnly": true,
          "description": "Output only. The current state of this offer. Can be changed using Activate and Deactivate actions. NB: the base plan state supersedes this state, so an active offer may not be available if the base plan is not active.",
          "type": "string"
        },
        "phases": {
          "description": "Required. The phases of this subscription offer. Must contain at least one and at most two entries. Users will always receive all these phases in the specified order.",
          "type": "array",
          "items": {
            "$ref": "SubscriptionOfferPhase"
          }
        },
        "regionalConfigs": {
          "description": "Required. The region-specific configuration of this offer. Must contain at least one entry.",
          "type": "array",
          "items": {
            "$ref": "RegionalSubscriptionOfferConfig"
          }
        },
        "otherRegionsConfig": {
          "description": "The configuration for any new locations Play may launch in the future.",
          "$ref": "OtherRegionsSubscriptionOfferConfig"
        },
        "basePlanId": {
          "description": "Required. Immutable. The ID of the base plan to which this offer is an extension.",
          "type": "string"
        },
        "offerId": {
          "description": "Required. Immutable. Unique ID of this subscription offer. Must be unique within the base plan.",
          "type": "string"
        },
        "productId": {
          "description": "Required. Immutable. The ID of the parent subscription this offer belongs to.",
          "type": "string"
        },
        "packageName": {
          "description": "Required. Immutable. The package name of the app the parent subscription belongs to.",
          "type": "string"
        },
        "targeting": {
          "description": "The requirements that users need to fulfil to be eligible for this offer. Represents the requirements that Play will evaluate to decide whether an offer should be returned. Developers may further filter these offers themselves.",
          "$ref": "SubscriptionOfferTargeting"
        },
        "offerTags": {
          "description": "List of up to 20 custom tags specified for this offer, and returned to the app through the billing library.",
          "type": "array",
          "items": {
            "$ref": "OfferTag"
          }
        }
      },
      "description": "A single, temporary offer",
      "type": "object"
    },
    "DeviceSpec": {
      "description": "The device spec used to generate a system APK.",
      "type": "object",
      "id": "DeviceSpec",
      "properties": {
        "supportedLocales": {
          "description": "All installed locales represented as BCP-47 strings, e.g. \"en-US\".",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "supportedAbis": {
          "description": "Supported ABI architectures in the order of preference. The values should be the string as reported by the platform, e.g. \"armeabi-v7a\", \"x86_64\".",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "screenDensity": {
          "description": "Screen dpi.",
          "type": "integer",
          "format": "uint32"
        }
      }
    },
    "ReplacementCancellation": {
      "description": "Information specific to cancellations caused by subscription replacement.",
      "type": "object",
      "id": "ReplacementCancellation",
      "properties": {}
    },
    "OtherRegionsSubscriptionOfferPhaseConfig": {
      "id": "OtherRegionsSubscriptionOfferPhaseConfig",
      "properties": {
        "otherRegionsPrices": {
          "description": "The absolute price the user pays for this offer phase. The price must not be smaller than the minimum price allowed for any new locations Play may launch in.",
          "$ref": "OtherRegionsSubscriptionOfferPhasePrices"
        },
        "absoluteDiscounts": {
          "description": "The absolute amount of money subtracted from the base plan price prorated over the phase duration that the user pays for this offer phase. For example, if the base plan price for this region is $12 for a period of 1 year, then a $1 absolute discount for a phase of a duration of 3 months would correspond to a price of $2. The resulting price may not be smaller than the minimum price allowed for any new locations Play may launch in.",
          "$ref": "OtherRegionsSubscriptionOfferPhasePrices"
        },
        "relativeDiscount": {
          "description": "The fraction of the base plan price prorated over the phase duration that the user pays for this offer phase. For example, if the base plan price for this region is $12 for a period of 1 year, then a 50% discount for a phase of a duration of 3 months would correspond to a price of $1.50. The discount must be specified as a fraction strictly larger than 0 and strictly smaller than 1. The resulting price will be rounded to the nearest billable unit (e.g. cents for USD). The relative discount is considered invalid if the discounted price ends up being smaller than the minimum price allowed in any new locations Play may launch in.",
          "type": "number",
          "format": "double"
        },
        "free": {
          "description": "Set to specify this offer is free to obtain.",
          "$ref": "OtherRegionsSubscriptionOfferPhaseFreePriceOverride"
        }
      },
      "description": "Configuration for any new locations Play may launch in for a single offer phase.",
      "type": "object"
    },
    "DeviceTier": {
      "id": "DeviceTier",
      "properties": {
        "deviceGroupNames": {
          "description": "Groups of devices included in this tier. These groups must be defined explicitly under device_groups in this configuration.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "level": {
          "description": "The priority level of the tier. Tiers are evaluated in descending order of level: the highest level tier has the highest priority. The highest tier matching a given device is selected for that device. You should use a contiguous range of levels for your tiers in a tier set; tier levels in a tier set must be unique. For instance, if your tier set has 4 tiers (including the global fallback), you should define tiers 1, 2 and 3 in this configuration. Note: tier 0 is implicitly defined as a global fallback and selected for devices that don't match any of the tiers explicitly defined here. You mustn't define level 0 explicitly in this configuration.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "A single device tier. Devices matching any of the device groups in device_group_names are considered to match the tier.",
      "type": "object"
    },
    "BatchGetOneTimeProductsResponse": {
      "description": "Response message for the BatchGetOneTimeProducts endpoint.",
      "type": "object",
      "id": "BatchGetOneTimeProductsResponse",
      "properties": {
        "oneTimeProducts": {
          "description": "The list of requested one-time products, in the same order as the request.",
          "type": "array",
          "items": {
            "$ref": "OneTimeProduct"
          }
        }
      }
    },
    "BatchGetSubscriptionOffersRequest": {
      "id": "BatchGetSubscriptionOffersRequest",
      "properties": {
        "requests": {
          "description": "Required. A list of update requests of up to 100 elements. All requests must update different subscriptions.",
          "type": "array",
          "items": {
            "$ref": "GetSubscriptionOfferRequest"
          }
        }
      },
      "description": "Request message for BatchGetSubscriptionOffers endpoint.",
      "type": "object"
    },
    "BatchUpdateSubscriptionOffersResponse": {
      "description": "Response message for BatchUpdateSubscriptionOffers.",
      "type": "object",
      "id": "BatchUpdateSubscriptionOffersResponse",
      "properties": {
        "subscriptionOffers": {
          "description": "The updated subscription offers list.",
          "type": "array",
          "items": {
            "$ref": "SubscriptionOffer"
          }
        }
      }
    },
    "IntroductoryPriceOfferPhase": {
      "id": "IntroductoryPriceOfferPhase",
      "properties": {},
      "description": "Details about introductory price offer phase.",
      "type": "object"
    },
    "OneTimeProduct": {
      "description": "A single one-time product for an app.",
      "type": "object",
      "id": "OneTimeProduct",
      "properties": {
        "offerTags": {
          "description": "Optional. List of up to 20 custom tags specified for this one-time product, and returned to the app through the billing library. Purchase options and offers for this product will also receive these tags in the billing library.",
          "type": "array",
          "items": {
            "$ref": "OfferTag"
          }
        },
        "regionsVersion": {
          "description": "Output only. The version of the regions configuration that was used to generate the one-time product.",
          "readOnly": true,
          "$ref": "RegionsVersion"
        },
        "restrictedPaymentCountries": {
          "description": "Optional. Countries where the purchase of this one-time product is restricted to payment methods registered in the same country. If empty, no payment location restrictions are imposed.",
          "$ref": "RestrictedPaymentCountries"
        },
        "packageName": {
          "description": "Required. Immutable. Package name of the parent app.",
          "type": "string"
        },
        "listings": {
          "description": "Required. Set of localized title and description data. Must not have duplicate entries with the same language_code.",
          "type": "array",
          "items": {
            "$ref": "OneTimeProductListing"
          }
        },
        "productId": {
          "description": "Required. Immutable. Unique product ID of the product. Unique within the parent app. Product IDs must start with a number or lowercase letter, and can contain numbers (0-9), lowercase letters (a-z), underscores (_), and periods (.).",
          "type": "string"
        },
        "purchaseOptions": {
          "description": "Required. The set of purchase options for this one-time product.",
          "type": "array",
          "items": {
            "$ref": "OneTimeProductPurchaseOption"
          }
        },
        "taxAndComplianceSettings": {
          "description": "Details about taxes and legal compliance.",
          "$ref": "OneTimeProductTaxAndComplianceSettings"
        }
      }
    },
    "UpdateSubscriptionRequest": {
      "description": "Request message for UpdateSubscription.",
      "type": "object",
      "id": "UpdateSubscriptionRequest",
      "properties": {
        "latencyTolerance": {
          "description": "Optional. The latency tolerance for the propagation of this product update. Defaults to latency-sensitive.",
          "type": "string",
          "enum": [
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
          ],
          "enumDescriptions": [
            "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
            "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
            "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
          ]
        },
        "subscription": {
          "description": "Required. The subscription to update.",
          "$ref": "Subscription"
        },
        "regionsVersion": {
          "description": "Required. The version of the available regions being used for the subscription.",
          "$ref": "RegionsVersion"
        },
        "allowMissing": {
          "description": "Optional. If set to true, and the subscription with the given package_name and product_id doesn't exist, the subscription will be created. If a new subscription is created, update_mask is ignored.",
          "type": "boolean"
        },
        "updateMask": {
          "description": "Required. The list of fields to be updated.",
          "type": "string",
          "format": "google-fieldmask"
        }
      }
    },
    "BatchMigrateBasePlanPricesRequest": {
      "id": "BatchMigrateBasePlanPricesRequest",
      "properties": {
        "requests": {
          "description": "Required. Up to 100 price migration requests. All requests must update different base plans.",
          "type": "array",
          "items": {
            "$ref": "MigrateBasePlanPricesRequest"
          }
        }
      },
      "description": "Request message for BatchMigrateBasePlanPrices.",
      "type": "object"
    },
    "GeneratedApksPerSigningKey": {
      "description": "Download metadata for split, standalone and universal APKs, as well as asset pack slices, signed with a given key.",
      "type": "object",
      "id": "GeneratedApksPerSigningKey",
      "properties": {
        "generatedAssetPackSlices": {
          "description": "List of asset pack slices which will be served for this app bundle, signed with a key corresponding to certificate_sha256_hash.",
          "type": "array",
          "items": {
            "$ref": "GeneratedAssetPackSlice"
          }
        },
        "certificateSha256Hash": {
          "description": "SHA256 hash of the APK signing public key certificate.",
          "type": "string"
        },
        "generatedRecoveryModules": {
          "description": "Generated recovery apks for recovery actions signed with a key corresponding to certificate_sha256_hash. This includes all generated recovery APKs, also those in draft or cancelled state. This field is not set if no recovery actions were created for this signing key.",
          "type": "array",
          "items": {
            "$ref": "GeneratedRecoveryApk"
          }
        },
        "generatedSplitApks": {
          "description": "List of generated split APKs, signed with a key corresponding to certificate_sha256_hash.",
          "type": "array",
          "items": {
            "$ref": "GeneratedSplitApk"
          }
        },
        "generatedStandaloneApks": {
          "description": "List of generated standalone APKs, signed with a key corresponding to certificate_sha256_hash.",
          "type": "array",
          "items": {
            "$ref": "GeneratedStandaloneApk"
          }
        },
        "unprotectedGeneratedSplitApks": {
          "description": "List of generated split APKs without automatic protection, signed with a key corresponding to certificate_sha256_hash. This field is only present if the app uses automatic protection. In this case, `generated_split_apks` contains APKs with automatic protection enabled, whereas this field contains APKs without automatic protection.",
          "type": "array",
          "items": {
            "$ref": "GeneratedSplitApk"
          }
        },
        "generatedUniversalApk": {
          "description": "Generated universal APK, signed with a key corresponding to certificate_sha256_hash. This field is not set if no universal APK was generated for this signing key.",
          "$ref": "GeneratedUniversalApk"
        },
        "unprotectedGeneratedStandaloneApks": {
          "description": "List of generated standalone APKs without automatic protection, signed with a key corresponding to certificate_sha256_hash. This field is only present if the app uses automatic protection. In this case, `generated_standalone_apks` contains APKs with automatic protection enabled, whereas this field contains APKs without automatic protection.",
          "type": "array",
          "items": {
            "$ref": "GeneratedStandaloneApk"
          }
        },
        "targetingInfo": {
          "description": "Contains targeting information about the generated apks.",
          "$ref": "TargetingInfo"
        }
      }
    },
    "SystemOnChip": {
      "description": "Representation of a System-on-Chip (SoC) of an Android device. Can be used to target S+ devices.",
      "type": "object",
      "id": "SystemOnChip",
      "properties": {
        "model": {
          "description": "Required. The model of the SoC, eg. \"Tensor\" Value of build property \"ro.soc.model\" https://developer.android.com/reference/android/os/Build#SOC_MODEL Required.",
          "type": "string"
        },
        "manufacturer": {
          "description": "Required. The designer of the SoC, eg. \"Google\" Value of build property \"ro.soc.manufacturer\" https://developer.android.com/reference/android/os/Build#SOC_MANUFACTURER Required.",
          "type": "string"
        }
      }
    },
    "AppStoreAppActiveApks": {
      "id": "AppStoreAppActiveApks",
      "properties": {
        "activeApkSets": {
          "description": "Required. List specifying which APK sets are distributed together. This list should contain all APKs that you're distributing for this app. Add an entry for each individual installable set of APKs.",
          "type": "array",
          "items": {
            "$ref": "AppStoreAppActiveApkSet"
          }
        }
      },
      "description": "Information about active APKs of an app store hosted app.",
      "type": "object"
    },
    "InappproductsUpdateRequest": {
      "id": "InappproductsUpdateRequest",
      "properties": {
        "allowMissing": {
          "description": "If set to true, and the in-app product with the given package_name and sku doesn't exist, the in-app product will be created.",
          "type": "boolean"
        },
        "inappproduct": {
          "description": "The new in-app product.",
          "$ref": "InAppProduct"
        },
        "packageName": {
          "description": "Package name of the app.",
          "type": "string"
        },
        "latencyTolerance": {
          "description": "Optional. The latency tolerance for the propagation of this product update. Defaults to latency-sensitive.",
          "type": "string",
          "enum": [
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
          ],
          "enumDescriptions": [
            "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
            "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
            "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
          ]
        },
        "sku": {
          "description": "Unique identifier for the in-app product.",
          "type": "string"
        },
        "autoConvertMissingPrices": {
          "description": "If true the prices for all regions targeted by the parent app that don't have a price specified for this in-app product will be auto converted to the target currency based on the default price. Defaults to false.",
          "type": "boolean"
        }
      },
      "description": "Request to update an in-app product.",
      "type": "object"
    },
    "ProrationPeriodOfferPhase": {
      "description": "Details about proration period offer phase.",
      "type": "object",
      "id": "ProrationPeriodOfferPhase",
      "properties": {
        "originalOfferPhaseType": {
          "description": "The original offer phase type before the proration period. Only set when the proration period is updated from an existing offer phase.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified original offer phase type.",
            "The subscription is in the base pricing phase (e.g. full price).",
            "The subscription is in an introductory pricing phase.",
            "The subscription is in a free trial."
          ],
          "enum": [
            "ORIGINAL_OFFER_PHASE_TYPE_UNSPECIFIED",
            "BASE",
            "INTRODUCTORY",
            "FREE_TRIAL"
          ]
        }
      }
    },
    "BatchUpdateSubscriptionOfferStatesResponse": {
      "id": "BatchUpdateSubscriptionOfferStatesResponse",
      "properties": {
        "subscriptionOffers": {
          "description": "The updated subscription offers list.",
          "type": "array",
          "items": {
            "$ref": "SubscriptionOffer"
          }
        }
      },
      "description": "Response message for BatchUpdateSubscriptionOfferStates.",
      "type": "object"
    },
    "Targeting": {
      "description": "Targeting details for a recovery action such as regions, android sdk levels, app versions etc.",
      "type": "object",
      "id": "Targeting",
      "properties": {
        "allUsers": {
          "description": "All users are targeted.",
          "$ref": "AllUsers"
        },
        "versionList": {
          "description": "Target version codes as a list.",
          "$ref": "AppVersionList"
        },
        "versionRange": {
          "description": "Target version codes as a range.",
          "$ref": "AppVersionRange"
        },
        "androidSdks": {
          "description": "Targeting is based on android api levels of devices.",
          "$ref": "AndroidSdks"
        },
        "regions": {
          "description": "Targeting is based on the user account region.",
          "$ref": "Regions"
        }
      }
    },
    "Subscription": {
      "id": "Subscription",
      "properties": {
        "basePlans": {
          "description": "The set of base plans for this subscription. Represents the prices and duration of the subscription if no other offers apply.",
          "type": "array",
          "items": {
            "$ref": "BasePlan"
          }
        },
        "productId": {
          "description": "Immutable. Unique product ID of the product. Unique within the parent app. Product IDs must be composed of lower-case letters (a-z), numbers (0-9), underscores (_) and dots (.). It must start with a lower-case letter or number, and be between 1 and 40 (inclusive) characters in length.",
          "type": "string"
        },
        "taxAndComplianceSettings": {
          "description": "Details about taxes and legal compliance.",
          "$ref": "SubscriptionTaxAndComplianceSettings"
        },
        "restrictedPaymentCountries": {
          "description": "Optional. Countries where the purchase of this subscription is restricted to payment methods registered in the same country. If empty, no payment location restrictions are imposed.",
          "$ref": "RestrictedPaymentCountries"
        },
        "packageName": {
          "description": "Immutable. Package name of the parent app.",
          "type": "string"
        },
        "listings": {
          "description": "Required. List of localized listings for this subscription. Must contain at least an entry for the default language of the parent app.",
          "type": "array",
          "items": {
            "$ref": "SubscriptionListing"
          }
        },
        "archived": {
          "readOnly": true,
          "deprecated": true,
          "description": "Output only. Deprecated: subscription archiving is not supported.",
          "type": "boolean"
        }
      },
      "description": "A single subscription for an app.",
      "type": "object"
    },
    "RefundDetails": {
      "id": "RefundDetails",
      "properties": {
        "total": {
          "description": "The total amount refunded, including tax.",
          "$ref": "Money"
        },
        "tax": {
          "description": "The amount of tax refunded.",
          "$ref": "Money"
        }
      },
      "description": "Details for a partial or full refund.",
      "type": "object"
    },
    "DeviceMetadata": {
      "description": "Characteristics of the user's device.",
      "type": "object",
      "id": "DeviceMetadata",
      "properties": {
        "manufacturer": {
          "description": "Device manufacturer (e.g. Motorola)",
          "type": "string"
        },
        "nativePlatform": {
          "description": "Comma separated list of native platforms (e.g. \"arm\", \"arm7\")",
          "type": "string"
        },
        "glEsVersion": {
          "description": "OpenGL version",
          "type": "integer",
          "format": "int32"
        },
        "cpuModel": {
          "description": "Device CPU model, e.g. \"MSM8974\"",
          "type": "string"
        },
        "screenWidthPx": {
          "description": "Screen width in pixels",
          "type": "integer",
          "format": "int32"
        },
        "cpuMake": {
          "description": "Device CPU make, e.g. \"Qualcomm\"",
          "type": "string"
        },
        "ramMb": {
          "description": "Device RAM in Megabytes, e.g. \"2048\"",
          "type": "integer",
          "format": "int32"
        },
        "deviceClass": {
          "description": "Device class (e.g. tablet)",
          "type": "string"
        },
        "screenHeightPx": {
          "description": "Screen height in pixels",
          "type": "integer",
          "format": "int32"
        },
        "screenDensityDpi": {
          "description": "Screen density in DPI",
          "type": "integer",
          "format": "int32"
        },
        "productName": {
          "description": "Device model name (e.g. Droid)",
          "type": "string"
        }
      }
    },
    "RecurringExternalTransaction": {
      "id": "RecurringExternalTransaction",
      "properties": {
        "initialExternalTransactionId": {
          "description": "The external transaction id of the first transaction of this recurring series of transactions. For example, for a subscription this would be the transaction id of the first payment. Required when creating recurring external transactions.",
          "type": "string"
        },
        "externalSubscription": {
          "description": "Details of an external subscription.",
          "$ref": "ExternalSubscription"
        },
        "otherRecurringProduct": {
          "description": "Details of a recurring external transaction product which doesn't belong to any other specific category.",
          "$ref": "OtherRecurringProduct"
        },
        "migratedTransactionProgram": {
          "enum": [
            "EXTERNAL_TRANSACTION_PROGRAM_UNSPECIFIED",
            "USER_CHOICE_BILLING",
            "ALTERNATIVE_BILLING_ONLY"
          ],
          "enumDescriptions": [
            "Unspecified transaction program. Not used.",
            "User choice billing, where a user may choose between Google Play Billing developer-managed billing.",
            "Alternative billing only, where users may only use developer-manager billing."
          ],
          "description": "Input only. Provided during the call to Create. Must only be used when migrating a subscription from manual monthly reporting to automated reporting.",
          "type": "string"
        },
        "externalTransactionToken": {
          "description": "Input only. Provided during the call to Create. Retrieved from the client when the alternative billing flow is launched. Required only for the initial purchase.",
          "type": "string"
        }
      },
      "description": "Represents a transaction that is part of a recurring series of payments. This can be a subscription or a one-time product with multiple payments (such as preorder).",
      "type": "object"
    },
    "DeviceFeature": {
      "description": "Represents a device feature.",
      "type": "object",
      "id": "DeviceFeature",
      "properties": {
        "featureName": {
          "description": "Name of the feature.",
          "type": "string"
        },
        "featureVersion": {
          "description": "The feature version specified by android:glEsVersion or android:version in in the AndroidManifest.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "OtherRegionsSubscriptionOfferConfig": {
      "description": "Configuration for any new locations Play may launch in specified on a subscription offer.",
      "type": "object",
      "id": "OtherRegionsSubscriptionOfferConfig",
      "properties": {
        "otherRegionsNewSubscriberAvailability": {
          "description": "Whether the subscription offer in any new locations Play may launch in the future. If not specified, this will default to false.",
          "type": "boolean"
        }
      }
    },
    "UpdateOneTimeProductOfferRequest": {
      "id": "UpdateOneTimeProductOfferRequest",
      "properties": {
        "updateMask": {
          "description": "Required. The list of fields to be updated.",
          "type": "string",
          "format": "google-fieldmask"
        },
        "regionsVersion": {
          "description": "Required. The version of the available regions being used for the offer.",
          "$ref": "RegionsVersion"
        },
        "allowMissing": {
          "description": "Optional. If set to true, and the offer with the given package_name, product_id, purchase_option_id and offer_id doesn't exist, an offer will be created. If a new offer is created, the update_mask is ignored.",
          "type": "boolean"
        },
        "oneTimeProductOffer": {
          "description": "Required. The one-time product offer to update.",
          "$ref": "OneTimeProductOffer"
        },
        "latencyTolerance": {
          "enum": [
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
          ],
          "enumDescriptions": [
            "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
            "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
            "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
          ],
          "description": "Optional. The latency tolerance for the propagation of this offer update. Defaults to latency-sensitive.",
          "type": "string"
        }
      },
      "description": "Request message for UpdateOneTimeProductOffer.",
      "type": "object"
    },
    "RevocationContextItemBasedRefund": {
      "description": "Used to determine what specific item to revoke in a subscription with multiple items.",
      "type": "object",
      "id": "RevocationContextItemBasedRefund",
      "properties": {
        "productId": {
          "description": "Required. If the subscription is a subscription with add-ons, the product id of the subscription item to revoke.",
          "type": "string"
        }
      }
    },
    "RemoteInAppUpdateData": {
      "description": "Data related to Remote In-App Update action such as recovered user count, affected user count etc.",
      "type": "object",
      "id": "RemoteInAppUpdateData",
      "properties": {
        "remoteAppUpdateDataPerBundle": {
          "description": "Data related to the recovery action at bundle level.",
          "type": "array",
          "items": {
            "$ref": "RemoteInAppUpdateDataPerBundle"
          }
        }
      }
    },
    "SubscriptionItemPriceChangeDetails": {
      "description": "Price change related information of a subscription item.",
      "type": "object",
      "id": "SubscriptionItemPriceChangeDetails",
      "properties": {
        "newPrice": {
          "description": "New recurring price for the subscription item.",
          "$ref": "Money"
        },
        "priceChangeMode": {
          "description": "Price change mode specifies how the subscription item price is changing.",
          "type": "string",
          "enumDescriptions": [
            "Price change mode unspecified. This value should never be set.",
            "If the subscription price is decreasing.",
            "If the subscription price is increasing and the user needs to accept it.",
            "If the subscription price is increasing with opt out mode."
          ],
          "enum": [
            "PRICE_CHANGE_MODE_UNSPECIFIED",
            "PRICE_DECREASE",
            "PRICE_INCREASE",
            "OPT_OUT_PRICE_INCREASE"
          ]
        },
        "expectedNewPriceChargeTime": {
          "description": "The renewal time at which the price change will become effective for the user. This is subject to change(to a future time) due to cases where the renewal time shifts like pause. This field is only populated if the price change has not taken effect.",
          "type": "string",
          "format": "google-datetime"
        },
        "priceChangeState": {
          "enumDescriptions": [
            "Price change state unspecified. This value should not be used.",
            "Waiting for the user to agree for the price change.",
            "The price change is confirmed to happen for the user.",
            "The price change is applied, i.e. the user has started being charged the new price.",
            "The price change was canceled."
          ],
          "enum": [
            "PRICE_CHANGE_STATE_UNSPECIFIED",
            "OUTSTANDING",
            "CONFIRMED",
            "APPLIED",
            "CANCELED"
          ],
          "description": "State the price change is currently in.",
          "type": "string"
        }
      }
    },
    "RenewalDeclinedContext": {
      "id": "RenewalDeclinedContext",
      "properties": {
        "pendingOrderId": {
          "description": "Required. The ID of the pending or failed order causing the state.",
          "type": "string"
        }
      },
      "description": "Context related to renewal declined scenario.",
      "type": "object"
    },
    "ImagesListResponse": {
      "description": "Response listing all images.",
      "type": "object",
      "id": "ImagesListResponse",
      "properties": {
        "images": {
          "description": "All listed Images.",
          "type": "array",
          "items": {
            "$ref": "Image"
          }
        }
      }
    },
    "Variant": {
      "description": "APK that is suitable for inclusion in a system image. The resource of SystemApksService.",
      "type": "object",
      "id": "Variant",
      "properties": {
        "variantId": {
          "readOnly": true,
          "description": "Output only. The ID of a previously created system APK variant.",
          "type": "integer",
          "format": "uint32"
        },
        "deviceSpec": {
          "description": "The device spec used to generate the APK.",
          "$ref": "DeviceSpec"
        },
        "options": {
          "description": "Optional. Options applied to the generated APK.",
          "$ref": "SystemApkOptions"
        }
      }
    },
    "InappproductsBatchDeleteRequest": {
      "id": "InappproductsBatchDeleteRequest",
      "properties": {
        "requests": {
          "description": "Individual delete requests. At least one request is required. Can contain up to 100 requests. All requests must correspond to different in-app products.",
          "type": "array",
          "items": {
            "$ref": "InappproductsDeleteRequest"
          }
        }
      },
      "description": "Request to delete multiple in-app products.",
      "type": "object"
    },
    "InternalAppSharingArtifact": {
      "id": "InternalAppSharingArtifact",
      "properties": {
        "certificateFingerprint": {
          "description": "The sha256 fingerprint of the certificate used to sign the generated artifact.",
          "type": "string"
        },
        "sha256": {
          "description": "The sha256 hash of the artifact represented as a lowercase hexadecimal number, matching the output of the sha256sum command.",
          "type": "string"
        },
        "downloadUrl": {
          "description": "The download URL generated for the uploaded artifact. Users that are authorized to download can follow the link to the Play Store app to install it.",
          "type": "string"
        }
      },
      "description": "An artifact resource which gets created when uploading an APK or Android App Bundle through internal app sharing.",
      "type": "object"
    },
    "AppContactInformation": {
      "id": "AppContactInformation",
      "properties": {
        "websiteUrl": {
          "description": "The contact website url for this app. Optionally provided by the developer.",
          "type": "string"
        },
        "contactEmail": {
          "description": "The contact email for this app. Always set.",
          "type": "string"
        },
        "phoneNumber": {
          "description": "The contact phone for this app. Optionally provided by the developer.",
          "type": "string"
        }
      },
      "description": "Contact information for the app.",
      "type": "object"
    },
    "BatchGetSubscriptionsResponse": {
      "id": "BatchGetSubscriptionsResponse",
      "properties": {
        "subscriptions": {
          "description": "The list of requested subscriptions, in the same order as the request.",
          "type": "array",
          "items": {
            "$ref": "Subscription"
          }
        }
      },
      "description": "Response message for BatchGetSubscriptions endpoint.",
      "type": "object"
    },
    "BatchDeleteOneTimeProductsRequest": {
      "description": "Request message for BatchDeleteOneTimeProduct.",
      "type": "object",
      "id": "BatchDeleteOneTimeProductsRequest",
      "properties": {
        "requests": {
          "description": "Required. A list of delete requests of up to 100 elements. All requests must delete different one-time products.",
          "type": "array",
          "items": {
            "$ref": "DeleteOneTimeProductRequest"
          }
        }
      }
    },
    "DeactivatePurchaseOptionRequest": {
      "id": "DeactivatePurchaseOptionRequest",
      "properties": {
        "productId": {
          "description": "Required. The parent one-time product (ID) of the purchase option to deactivate.",
          "type": "string"
        },
        "latencyTolerance": {
          "description": "Optional. The latency tolerance for the propagation of this product update. Defaults to latency-sensitive.",
          "type": "string",
          "enum": [
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
          ],
          "enumDescriptions": [
            "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
            "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
            "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
          ]
        },
        "packageName": {
          "description": "Required. The parent app (package name) of the purchase option to deactivate.",
          "type": "string"
        },
        "purchaseOptionId": {
          "description": "Required. The purchase option ID of the purchase option to deactivate.",
          "type": "string"
        }
      },
      "description": "Request message for UpdatePurchaseOptionState.",
      "type": "object"
    },
    "PartialRefund": {
      "description": "A partial refund of a transaction.",
      "type": "object",
      "id": "PartialRefund",
      "properties": {
        "refundId": {
          "description": "Required. A unique id distinguishing this partial refund. If the refund is successful, subsequent refunds with the same id will fail. Must be unique across refunds for one individual transaction.",
          "type": "string"
        },
        "refundPreTaxAmount": {
          "description": "Required. The pre-tax amount of the partial refund. Should be less than the remaining pre-tax amount of the transaction.",
          "$ref": "Price"
        }
      }
    },
    "ModuleMetadata": {
      "id": "ModuleMetadata",
      "properties": {
        "name": {
          "description": "Module name.",
          "type": "string"
        },
        "moduleType": {
          "enumDescriptions": [
            "Unknown feature module.",
            "Regular feature module."
          ],
          "enum": [
            "UNKNOWN_MODULE_TYPE",
            "FEATURE_MODULE"
          ],
          "description": "Indicates the type of this feature module.",
          "type": "string"
        },
        "targeting": {
          "description": "The targeting that makes a conditional module installed. Relevant only for Split APKs.",
          "$ref": "ModuleTargeting"
        },
        "deliveryType": {
          "enum": [
            "UNKNOWN_DELIVERY_TYPE",
            "INSTALL_TIME",
            "ON_DEMAND",
            "FAST_FOLLOW"
          ],
          "enumDescriptions": [
            "Unspecified delivery type.",
            "This module will always be downloaded as part of the initial install of the app.",
            "This module is requested on-demand, which means it will not be part of the initial install, and will only be sent when requested by the client.",
            "This module will be downloaded immediately after initial install finishes. The app can be opened before these modules are downloaded."
          ],
          "description": "Indicates the delivery type (e.g. on-demand) of the module.",
          "type": "string"
        },
        "dependencies": {
          "description": "Names of the modules that this module directly depends on. Each module implicitly depends on the base module.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Metadata of a module.",
      "type": "object"
    },
    "Apk": {
      "description": "Information about an APK. The resource for ApksService.",
      "type": "object",
      "id": "Apk",
      "properties": {
        "versionCode": {
          "description": "The version code of the APK, as specified in the manifest file.",
          "type": "integer",
          "format": "int32"
        },
        "binary": {
          "description": "Information about the binary payload of this APK.",
          "$ref": "ApkBinary"
        }
      }
    },
    "InAppProductListing": {
      "id": "InAppProductListing",
      "properties": {
        "title": {
          "description": "Title for the store listing.",
          "type": "string"
        },
        "benefits": {
          "description": "Localized entitlement benefits for a subscription.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "description": {
          "description": "Description for the store listing.",
          "type": "string"
        }
      },
      "description": "Store listing of a single in-app product.",
      "type": "object"
    },
    "CancelOneTimeProductOfferRequest": {
      "id": "CancelOneTimeProductOfferRequest",
      "properties": {
        "purchaseOptionId": {
          "description": "Required. The parent purchase option (ID) of the offer to cancel.",
          "type": "string"
        },
        "productId": {
          "description": "Required. The parent one-time product (ID) of the offer to cancel.",
          "type": "string"
        },
        "offerId": {
          "description": "Required. The offer ID of the offer to cancel.",
          "type": "string"
        },
        "packageName": {
          "description": "Required. The parent app (package name) of the offer to cancel.",
          "type": "string"
        },
        "latencyTolerance": {
          "description": "Optional. The latency tolerance for the propagation of this update. Defaults to latency-sensitive.",
          "type": "string",
          "enum": [
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
[...]
