{
  "version_module": true,
  "version": "v1",
  "documentationLink": "https://developers.google.com/zero-touch/",
  "revision": "20260803",
  "kind": "discovery#restDescription",
  "title": "Android Device Provisioning Partner API",
  "basePath": "",
  "discoveryVersion": "v1",
  "description": "Automates Android zero-touch enrollment for device resellers, customers, and EMMs.",
  "fullyEncodeReservedExpansion": true,
  "canonicalName": "Android Provisioning Partner",
  "schemas": {
    "DevicesLongRunningOperationResponse": {
      "description": "Tracks the status of a long-running operation to claim, unclaim, or attach metadata to devices. To learn more, read [Long‑running batch operations](/zero-touch/guides/how-it-works#operations).",
      "properties": {
        "successCount": {
          "type": "integer",
          "description": "A summary of how many items in the operation the server processed successfully. Updated as the operation progresses.",
          "format": "int32"
        },
        "perDeviceStatus": {
          "description": "The processing status for each device in the operation. One `PerDeviceStatus` per device. The list order matches the items in the original request.",
          "type": "array",
          "items": {
            "$ref": "OperationPerDevice"
          }
        }
      },
      "type": "object",
      "id": "DevicesLongRunningOperationResponse"
    },
    "Device": {
      "description": "An Android or Chrome OS device registered for zero-touch enrollment.",
      "properties": {
        "claims": {
          "type": "array",
          "items": {
            "$ref": "DeviceClaim"
          },
          "description": "Output only. The provisioning claims for a device. Devices claimed for zero-touch enrollment have a claim with the type `SECTION_TYPE_ZERO_TOUCH`. Call `partners.devices.unclaim` or `partners.devices.unclaimAsync` to remove the device from zero-touch enrollment.",
          "readOnly": true
        },
        "configuration": {
          "description": "Not available to resellers.",
          "type": "string"
        },
        "name": {
          "description": "Output only. The API resource name in the format `partners/[PARTNER_ID]/devices/[DEVICE_ID]`. Assigned by the server.",
          "readOnly": true,
          "type": "string"
        },
        "deviceId": {
          "description": "Output only. The ID of the device. Assigned by the server.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "deviceIdentifier": {
          "description": "The hardware IDs that identify a manufactured device. To learn more, read [Identifiers](https://developers.google.com/zero-touch/guides/identifiers).",
          "$ref": "DeviceIdentifier"
        },
        "deviceMetadata": {
          "description": "The metadata attached to the device. Structured as key-value pairs. To learn more, read [Device metadata](https://developers.google.com/zero-touch/guides/metadata).",
          "$ref": "DeviceMetadata"
        }
      },
      "type": "object",
      "id": "Device"
    },
    "CustomerListConfigurationsResponse": {
      "type": "object",
      "description": "Response message of customer's listing configuration.",
      "properties": {
        "configurations": {
          "description": "The configurations.",
          "type": "array",
          "items": {
            "$ref": "Configuration"
          }
        }
      },
      "id": "CustomerListConfigurationsResponse"
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          }
        }
      },
      "type": "object",
      "id": "Status"
    },
    "DeviceIdentifier": {
      "type": "object",
      "description": "Encapsulates hardware and product IDs to identify a manufactured device. To understand requirements on identifier sets, read [Identifiers](https://developers.google.com/zero-touch/guides/identifiers).",
      "properties": {
        "serialNumber": {
          "type": "string",
          "description": "The manufacturer's serial number for the device. This value might not be unique across different device models."
        },
        "manufacturer": {
          "type": "string",
          "description": "The device manufacturer’s name. Matches the device's built-in value returned from `android.os.Build.MANUFACTURER`. Allowed values are listed in [Android manufacturers](/zero-touch/resources/manufacturer-names#manufacturers-names)."
        },
        "imei": {
          "description": "The device’s IMEI number. Validated on input.",
          "type": "string"
        },
        "meid": {
          "description": "The device’s MEID number.",
          "type": "string"
        },
        "deviceType": {
          "type": "string",
          "enumDescriptions": [
            "Device type is not specified.",
            "Android device",
            "Chrome OS device"
          ],
          "enum": [
            "DEVICE_TYPE_UNSPECIFIED",
            "DEVICE_TYPE_ANDROID",
            "DEVICE_TYPE_CHROME_OS"
          ],
          "description": "The type of the device"
        },
        "meid2": {
          "type": "string",
          "description": "The device’s second MEID number."
        },
        "imei2": {
          "type": "string",
          "description": "The device’s second IMEI number."
        },
        "chromeOsAttestedDeviceId": {
          "type": "string",
          "description": "An identifier provided by OEMs, carried through the production and sales process. Only applicable to Chrome OS devices."
        },
        "model": {
          "description": "The device model's name. Allowed values are listed in [Android models](/zero-touch/resources/manufacturer-names#model-names) and [Chrome OS models](https://support.google.com/chrome/a/answer/10130175#identify_compatible).",
          "type": "string"
        }
      },
      "id": "DeviceIdentifier"
    },
    "CreateCustomerRequest": {
      "type": "object",
      "description": "Request message to create a customer.",
      "properties": {
        "customer": {
          "$ref": "Company",
          "description": "Required. The company data to populate the new customer. Must contain a value for `companyName` and at least one `owner_email` that's associated with a Google Account. The values for `companyId` and `name` must be empty."
        }
      },
      "id": "CreateCustomerRequest"
    },
    "OperationPerDevice": {
      "type": "object",
      "description": "A task for each device in the operation. Corresponds to each device change in the request.",
      "properties": {
        "claim": {
          "description": "A copy of the original device-claim request received by the server.",
          "$ref": "PartnerClaim"
        },
        "updateMetadata": {
          "$ref": "UpdateMetadataArguments",
          "description": "A copy of the original metadata-update request received by the server."
        },
        "unclaim": {
          "description": "A copy of the original device-unclaim request received by the server.",
          "$ref": "PartnerUnclaim"
        },
        "result": {
          "description": "The processing result for each device.",
          "$ref": "PerDeviceStatusInBatch"
        }
      },
      "id": "OperationPerDevice"
    },
    "DeviceMetadata": {
      "description": "Metadata entries that can be attached to a `Device`. To learn more, read [Device metadata](https://developers.google.com/zero-touch/guides/metadata).",
      "properties": {
        "entries": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Metadata entries recorded as key-value pairs."
        }
      },
      "type": "object",
      "id": "DeviceMetadata"
    },
    "PartnerClaim": {
      "description": "Identifies one claim request.",
      "properties": {
        "deviceIdentifier": {
          "$ref": "DeviceIdentifier",
          "description": "Required. Required. Device identifier of the device."
        },
        "deviceMetadata": {
          "$ref": "DeviceMetadata",
          "description": "Required. The metadata to attach to the device at claim."
        },
        "preProvisioningToken": {
          "type": "string",
          "description": "Optional. Must and can only be set for Chrome OS devices."
        },
        "customerId": {
          "type": "string",
          "description": "The ID of the customer for whom the device is being claimed.",
          "format": "int64"
        },
        "googleWorkspaceCustomerId": {
          "description": "The Google Workspace customer ID.",
          "type": "string"
        },
        "sectionType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified section type.",
            "SIM-lock section type.",
            "Zero-touch enrollment section type."
          ],
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "SECTION_TYPE_SIM_LOCK",
            "SECTION_TYPE_ZERO_TOUCH"
          ],
          "description": "Required. The section type of the device's provisioning record."
        },
        "configurationId": {
          "type": "string",
          "description": "Optional. The ID of the configuration applied to the device section.",
          "format": "int64"
        },
        "simlockProfileId": {
          "type": "string",
          "description": "Optional. Must and can only be set when DeviceProvisioningSectionType is SECTION_TYPE_SIM_LOCK. The unique identifier of the SimLock profile.",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "PartnerClaim"
    },
    "UpdateDeviceMetadataRequest": {
      "id": "UpdateDeviceMetadataRequest",
      "description": "Request to set metadata for a device.",
      "properties": {
        "deviceMetadata": {
          "$ref": "DeviceMetadata",
          "description": "Required. The metadata to attach to the device."
        }
      },
      "type": "object"
    },
    "GoogleWorkspaceAccount": {
      "description": "A Google Workspace customer.",
      "properties": {
        "customerId": {
          "type": "string",
          "description": "Required. The customer ID."
        },
        "preProvisioningTokens": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. The pre-provisioning tokens previously used to claim devices.",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "GoogleWorkspaceAccount"
    },
    "Empty": {
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "Empty"
    },
    "ClaimDeviceRequest": {
      "description": "Request message to claim a device on behalf of a customer.",
      "properties": {
        "customerId": {
          "type": "string",
          "description": "The ID of the customer for whom the device is being claimed.",
          "format": "int64"
        },
        "preProvisioningToken": {
          "description": "Optional. Must and can only be set for Chrome OS devices.",
          "type": "string"
        },
        "deviceIdentifier": {
          "$ref": "DeviceIdentifier",
          "description": "Required. Required. The device identifier of the device to claim."
        },
        "deviceMetadata": {
          "description": "Optional. The metadata to attach to the device.",
          "$ref": "DeviceMetadata"
        },
        "simlockProfileId": {
          "description": "Optional. Must and can only be set when DeviceProvisioningSectionType is SECTION_TYPE_SIM_LOCK. The unique identifier of the SimLock profile.",
          "format": "int64",
          "type": "string"
        },
        "configurationId": {
          "description": "Optional. The ID of the configuration applied to the device section.",
          "format": "int64",
          "type": "string"
        },
        "sectionType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified section type.",
            "SIM-lock section type.",
            "Zero-touch enrollment section type."
          ],
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "SECTION_TYPE_SIM_LOCK",
            "SECTION_TYPE_ZERO_TOUCH"
          ],
          "description": "Required. The section type of the device's provisioning record."
        },
        "googleWorkspaceCustomerId": {
          "description": "The Google Workspace customer ID.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ClaimDeviceRequest"
    },
    "DevicesLongRunningOperationMetadata": {
      "type": "object",
      "description": "Tracks the status of a long-running operation to asynchronously update a batch of reseller metadata attached to devices. To learn more, read [Long‑running batch operations](/zero-touch/guides/how-it-works#operations).",
      "properties": {
        "processingStatus": {
          "description": "The processing status of the operation.",
          "type": "string",
          "enumDescriptions": [
            "Invalid code. Shouldn't be used.",
            "Pending.",
            "In progress.",
            "Processed. This doesn't mean all items were processed successfully, you should check the `response` field for the result of every item."
          ],
          "enum": [
            "BATCH_PROCESS_STATUS_UNSPECIFIED",
            "BATCH_PROCESS_PENDING",
            "BATCH_PROCESS_IN_PROGRESS",
            "BATCH_PROCESS_PROCESSED"
          ]
        },
        "devicesCount": {
          "type": "integer",
          "description": "The number of metadata updates in the operation. This might be different from the number of updates in the request if the API can't parse some of the updates.",
          "format": "int32"
        },
        "progress": {
          "description": "The processing progress of the operation. Measured as a number from 0 to 100. A value of 10O doesn't always mean the operation completed—check for the inclusion of a `done` field.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "DevicesLongRunningOperationMetadata"
    },
    "CustomerListCustomersResponse": {
      "id": "CustomerListCustomersResponse",
      "description": "Response message for listing my customers.",
      "properties": {
        "nextPageToken": {
          "description": "A token used to access the next page of results. Omitted if no further results are available.",
          "type": "string"
        },
        "customers": {
          "description": "The customer accounts the calling user is a member of.",
          "type": "array",
          "items": {
            "$ref": "Company"
          }
        }
      },
      "type": "object"
    },
    "ListVendorsResponse": {
      "id": "ListVendorsResponse",
      "type": "object",
      "description": "Response message to list vendors of the partner.",
      "properties": {
        "vendors": {
          "description": "List of vendors of the reseller partner. Fields `name`, `companyId` and `companyName` are populated to the Company object.",
          "type": "array",
          "items": {
            "$ref": "Company"
          }
        },
        "totalSize": {
          "type": "integer",
          "description": "The total count of items in the list irrespective of pagination.",
          "format": "int32"
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Omitted if no further results are available.",
          "type": "string"
        }
      }
    },
    "ListCustomersResponse": {
      "id": "ListCustomersResponse",
      "description": "Response message of all customers related to this partner.",
      "properties": {
        "totalSize": {
          "description": "The total count of items in the list irrespective of pagination.",
          "format": "int32",
          "type": "integer"
        },
        "customers": {
          "type": "array",
          "items": {
            "$ref": "Company"
          },
          "description": "List of customers related to this reseller partner."
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Omitted if no further results are available.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "UpdateMetadataArguments": {
      "description": "Identifies metadata updates to one device.",
      "properties": {
        "deviceIdentifier": {
          "$ref": "DeviceIdentifier",
          "description": "Required. Device identifier."
        },
        "deviceId": {
          "type": "string",
          "description": "Required. Device ID of the device.",
          "format": "int64"
        },
        "deviceMetadata": {
          "description": "Required. The metadata to update.",
          "$ref": "DeviceMetadata"
        }
      },
      "type": "object",
      "id": "UpdateMetadataArguments"
    },
    "CustomerListDevicesResponse": {
      "id": "CustomerListDevicesResponse",
      "description": "Response message of customer's liting devices.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token used to access the next page of results. Omitted if no further results are available."
        },
        "devices": {
          "type": "array",
          "items": {
            "$ref": "Device"
          },
          "description": "The customer's devices."
        }
      },
      "type": "object"
    },
    "CustomerListDpcsResponse": {
      "id": "CustomerListDpcsResponse",
      "description": "Response message of customer's listing DPCs.",
      "properties": {
        "dpcs": {
          "description": "The list of DPCs available to the customer that support zero-touch enrollment.",
          "type": "array",
          "items": {
            "$ref": "Dpc"
          }
        }
      },
      "type": "object"
    },
    "CustomerApplyConfigurationRequest": {
      "description": "Request message for customer to assign a configuration to device.",
      "properties": {
        "device": {
          "$ref": "DeviceReference",
          "description": "Required. The device the configuration is applied to. There are custom validations in ApplyConfigurationRequestValidator"
        },
        "configuration": {
          "type": "string",
          "description": "Required. The configuration applied to the device in the format `customers/[CUSTOMER_ID]/configurations/[CONFIGURATION_ID]`."
        }
      },
      "type": "object",
      "id": "CustomerApplyConfigurationRequest"
    },
    "DeviceClaim": {
      "description": "A record of a device claimed by a reseller for a customer. Devices claimed for zero-touch enrollment have a claim with the type `SECTION_TYPE_ZERO_TOUCH`. To learn more, read [Claim devices for customers](/zero-touch/guides/how-it-works#claim).",
      "properties": {
        "ownerCompanyId": {
          "description": "The ID of the Customer that purchased the device.",
          "format": "int64",
          "type": "string"
        },
        "vacationModeExpireTime": {
          "description": "The timestamp when the device will exit ‘vacation mode’. This value is present iff the device is in 'vacation mode'.",
          "format": "google-datetime",
          "type": "string"
        },
        "resellerId": {
          "type": "string",
          "description": "The ID of the reseller that claimed the device.",
          "format": "int64"
        },
        "vacationModeStartTime": {
          "description": "The timestamp when the device was put into ‘vacation mode’. This value is present iff the device is in 'vacation mode'.",
          "format": "google-datetime",
          "type": "string"
        },
        "googleWorkspaceCustomerId": {
          "description": "The ID of the Google Workspace account that owns the Chrome OS device.",
          "type": "string"
        },
        "sectionType": {
          "description": "Output only. The type of claim made on the device.",
          "enumDescriptions": [
            "Unspecified section type.",
            "SIM-lock section type.",
            "Zero-touch enrollment section type."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "SECTION_TYPE_SIM_LOCK",
            "SECTION_TYPE_ZERO_TOUCH"
          ]
        },
        "additionalService": {
          "description": "The Additional service registered for the device.",
          "type": "string",
          "enumDescriptions": [
            "No additional service.",
            "Device protection service, also known as Android Enterprise Essentials. To claim a device with the device protection service you must enroll with the partnership team."
          ],
          "enum": [
            "ADDITIONAL_SERVICE_UNSPECIFIED",
            "DEVICE_PROTECTION"
          ]
        }
      },
      "type": "object",
      "id": "DeviceClaim"
    },
    "ListVendorCustomersResponse": {
      "type": "object",
      "description": "Response message to list customers of the vendor.",
      "properties": {
        "totalSize": {
          "type": "integer",
          "description": "The total count of items in the list irrespective of pagination.",
          "format": "int32"
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Omitted if no further results are available.",
          "type": "string"
        },
        "customers": {
          "description": "List of customers of the vendor.",
          "type": "array",
          "items": {
            "$ref": "Company"
          }
        }
      },
      "id": "ListVendorCustomersResponse"
    },
    "UnclaimDevicesRequest": {
      "description": "Request to unclaim devices asynchronously in batch.",
      "properties": {
        "unclaims": {
          "description": "Required. The list of devices to unclaim.",
          "type": "array",
          "items": {
            "$ref": "PartnerUnclaim"
          }
        }
      },
      "type": "object",
      "id": "UnclaimDevicesRequest"
    },
    "FindDevicesByDeviceIdentifierRequest": {
      "description": "Request to find devices.",
      "properties": {
        "pageToken": {
          "type": "string",
          "description": "A token specifying which result page to return."
        },
        "limit": {
          "type": "string",
          "description": "Required. The maximum number of devices to show in a page of results. Must be between 1 and 100 inclusive.",
          "format": "int64"
        },
        "deviceIdentifier": {
          "description": "Required. Required. The device identifier to search for. If serial number is provided then case insensitive serial number matches are allowed.",
          "$ref": "DeviceIdentifier"
        }
      },
      "type": "object",
      "id": "FindDevicesByDeviceIdentifierRequest"
    },
    "DeviceReference": {
      "description": "A `DeviceReference` is an API abstraction that lets you supply a _device_ argument to a method using one of the following identifier types: * A numeric API resource ID. * Real-world hardware IDs, such as IMEI number, belonging to the manufactured device. Methods that operate on devices take a `DeviceReference` as a parameter type because it's more flexible for the caller. To learn more about device identifiers, read [Identifiers](https://developers.google.com/zero-touch/guides/identifiers).",
      "properties": {
        "deviceId": {
          "description": "The ID of the device.",
          "format": "int64",
          "type": "string"
        },
        "deviceIdentifier": {
          "$ref": "DeviceIdentifier",
          "description": "The hardware IDs of the device."
        }
      },
      "type": "object",
      "id": "DeviceReference"
    },
    "Dpc": {
      "id": "Dpc",
      "description": "An EMM's DPC ([device policy controller](http://developer.android.com/work/dpc/build-dpc.html)). Zero-touch enrollment installs a DPC (listed in the `Configuration`) on a device to maintain the customer's mobile policies. All the DPCs listed by the API support zero-touch enrollment and are available in Google Play.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. The API resource name in the format `customers/[CUSTOMER_ID]/dpcs/[DPC_ID]`. Assigned by the server. To maintain a reference to a DPC across customer accounts, persist and match the last path component (`DPC_ID`).",
          "readOnly": true
        },
        "dpcName": {
          "type": "string",
          "description": "Output only. The title of the DPC app in Google Play. For example, _Google Apps Device Policy_. Useful in an application's user interface.",
          "readOnly": true
        },
        "packageName": {
          "description": "Output only. The DPC's Android application ID that looks like a Java package name. Zero-touch enrollment installs the DPC app onto a device using this identifier.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "PartnerUnclaim": {
      "description": "Identifies one unclaim request.",
      "properties": {
        "sectionType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified section type.",
            "SIM-lock section type.",
            "Zero-touch enrollment section type."
          ],
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "SECTION_TYPE_SIM_LOCK",
            "SECTION_TYPE_ZERO_TOUCH"
          ],
          "description": "Required. The section type of the device's provisioning record."
        },
        "vacationModeDays": {
          "type": "integer",
          "description": "Optional. The duration of the vacation unlock starting from when the request is processed. (1 day is treated as 24 hours)",
          "format": "int32"
        },
        "deviceIdentifier": {
          "$ref": "DeviceIdentifier",
          "description": "Required. Device identifier of the device."
        },
        "deviceId": {
          "description": "Required. Device ID of the device.",
          "format": "int64",
          "type": "string"
        },
        "vacationModeExpireTime": {
          "description": "Optional. The expiration time of the vacation unlock.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object",
      "id": "PartnerUnclaim"
    },
    "Configuration": {
      "id": "Configuration",
      "type": "object",
      "description": "A configuration collects the provisioning options for Android devices. Each configuration combines the following: * The EMM device policy controller (DPC) installed on the devices. * EMM policies enforced on the devices. * Metadata displayed on the device to help users during setup. Customers can add as many configurations as they need. However, zero-touch enrollment works best when a customer sets a default configuration that's applied to any new devices the organization purchases.",
      "properties": {
        "name": {
          "description": "Output only. The API resource name in the format `customers/[CUSTOMER_ID]/configurations/[CONFIGURATION_ID]`. Assigned by the server.",
          "readOnly": true,
          "type": "string"
        },
        "dpcResourcePath": {
          "type": "string",
          "description": "Required. The resource name of the selected DPC (device policy controller) in the format `customers/[CUSTOMER_ID]/dpcs/*`. To list the supported DPCs, call `customers.dpcs.list`."
        },
        "customMessage": {
          "type": "string",
          "description": "A message, containing one or two sentences, to help device users get help or give them more details about what’s happening to their device. Zero-touch enrollment shows this message before the device is provisioned."
        },
        "forcedResetTime": {
          "description": "Optional. The timeout before forcing factory reset the device if the device doesn't go through provisioning in the setup wizard, usually due to lack of network connectivity during setup wizard. Ranges from 0-6 hours, with 2 hours being the default if unset.",
          "format": "google-duration",
          "type": "string"
        },
        "contactEmail": {
          "description": "Required. The email address that device users can contact to get help. Zero-touch enrollment shows this email address to device users before device provisioning. The value is validated on input.",
          "type": "string"
        },
        "configurationName": {
          "type": "string",
          "description": "Required. A short name that describes the configuration's purpose. For example, _Sales team_ or _Temporary employees_. The zero-touch enrollment portal displays this name to IT admins."
        },
        "companyName": {
          "description": "Required. The name of the organization. Zero-touch enrollment shows this organization name to device users during device provisioning.",
          "type": "string"
        },
        "isDefault": {
          "type": "boolean",
          "description": "Required. Whether this is the default configuration that zero-touch enrollment applies to any new devices the organization purchases in the future. Only one customer configuration can be the default. Setting this value to `true`, changes the previous default configuration's `isDefault` value to `false`."
        },
        "configurationId": {
          "description": "Output only. The ID of the configuration. Assigned by the server.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "dpcExtras": {
          "type": "string",
          "description": "The JSON-formatted EMM provisioning extras that are passed to the DPC."
        },
        "contactPhone": {
          "type": "string",
          "description": "Required. The telephone number that device users can call, using another device, to get help. Zero-touch enrollment shows this number to device users before device provisioning. Accepts numerals, spaces, the plus sign, hyphens, and parentheses."
        }
      }
    },
    "ClaimDeviceResponse": {
      "description": "Response message containing device id of the claim.",
      "properties": {
        "deviceId": {
          "description": "The device ID of the claimed device.",
          "format": "int64",
          "type": "string"
        },
        "deviceName": {
          "type": "string",
          "description": "The resource name of the device in the format `partners/[PARTNER_ID]/devices/[DEVICE_ID]`."
        }
      },
      "type": "object",
      "id": "ClaimDeviceResponse"
    },
    "GetDeviceSimLockStateRequest": {
      "description": "Request to get a device's SIM lock status.",
      "properties": {
        "deviceIdentifier": {
          "$ref": "DeviceIdentifier",
          "description": "Required. Required. The device identifier to search for."
        }
      },
      "type": "object",
      "id": "GetDeviceSimLockStateRequest"
    },
    "UnclaimDeviceRequest": {
      "type": "object",
      "description": "Request message to unclaim a device.",
      "properties": {
        "sectionType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified section type.",
            "SIM-lock section type.",
            "Zero-touch enrollment section type."
          ],
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "SECTION_TYPE_SIM_LOCK",
            "SECTION_TYPE_ZERO_TOUCH"
          ],
          "description": "Required. The section type of the device's provisioning record."
        },
        "vacationModeDays": {
          "description": "The duration of the vacation unlock starting from when the request is processed. (1 day is treated as 24 hours)",
          "format": "int32",
          "type": "integer"
        },
        "deviceId": {
          "description": "Required. The device ID returned by `ClaimDevice`.",
          "format": "int64",
          "type": "string"
        },
        "deviceIdentifier": {
          "description": "Required. The device identifier you used when you claimed this device.",
          "$ref": "DeviceIdentifier"
        },
        "vacationModeExpireTime": {
          "type": "string",
          "description": "The expiration time of the vacation unlock.",
          "format": "google-datetime"
        }
      },
      "id": "UnclaimDeviceRequest"
    },
    "CustomerRemoveConfigurationRequest": {
      "id": "CustomerRemoveConfigurationRequest",
      "description": "Request message for customer to remove the configuration from device.",
      "properties": {
        "device": {
          "$ref": "DeviceReference",
          "description": "Required. The device to remove the configuration from. There are custom validations in RemoveConfigurationRequestValidator"
        }
      },
      "type": "object"
    },
    "UpdateDeviceMetadataInBatchRequest": {
      "description": "Request to update device metadata in batch.",
      "properties": {
        "updates": {
          "type": "array",
          "items": {
            "$ref": "UpdateMetadataArguments"
          },
          "description": "Required. The list of metadata updates."
        }
      },
      "type": "object",
      "id": "UpdateDeviceMetadataInBatchRequest"
    },
    "Company": {
      "description": "A reseller, vendor, or customer in the zero-touch reseller and customer APIs.",
      "properties": {
        "companyId": {
          "description": "Output only. The ID of the company. Assigned by the server.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "googleWorkspaceAccount": {
          "description": "Output only. The Google Workspace account associated with this customer. Only used for customer Companies.",
          "readOnly": true,
          "$ref": "GoogleWorkspaceAccount"
        },
        "companyName": {
          "description": "Required. The name of the company. For example _XYZ Corp_. Displayed to the company's employees in the zero-touch enrollment portal.",
          "type": "string"
        },
        "termsStatus": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "TERMS_STATUS_UNSPECIFIED",
            "TERMS_STATUS_NOT_ACCEPTED",
            "TERMS_STATUS_ACCEPTED",
            "TERMS_STATUS_STALE"
          ],
          "description": "Output only. Whether any user from the company has accepted the latest Terms of Service (ToS). See TermsStatus.",
          "enumDescriptions": [
            "Default value. This value should never be set if the enum is present.",
            "None of the company's users have accepted the ToS.",
            "One (or more) of the company's users has accepted the ToS.",
            "None of the company's users has accepted the current ToS but at least one user accepted a previous ToS."
          ]
        },
        "name": {
          "description": "Output only. The API resource name of the company. The resource name is one of the following formats: * `partners/[PARTNER_ID]/customers/[CUSTOMER_ID]` * `partners/[PARTNER_ID]/vendors/[VENDOR_ID]` * `partners/[PARTNER_ID]/vendors/[VENDOR_ID]/customers/[CUSTOMER_ID]` Assigned by the server.",
          "readOnly": true,
          "type": "string"
        },
        "languageCode": {
          "description": "Input only. The preferred locale of the customer represented as a BCP47 language code. This field is validated on input and requests containing unsupported language codes will be rejected. Supported language codes: Arabic (ar) Chinese (Hong Kong) (zh-HK) Chinese (Simplified) (zh-CN) Chinese (Traditional) (zh-TW) Czech (cs) Danish (da) Dutch (nl) English (UK) (en-GB) English (US) (en-US) Filipino (fil) Finnish (fi) French (fr) German (de) Hebrew (iw) Hindi (hi) Hungarian (hu) Indonesian (id) Italian (it) Japanese (ja) Korean (ko) Norwegian (Bokmal) (no) Polish (pl) Portuguese (Brazil) (pt-BR) Portuguese (Portugal) (pt-PT) Russian (ru) Spanish (es) Spanish (Latin America) (es-419) Swedish (sv) Thai (th) Turkish (tr) Ukrainian (uk) Vietnamese (vi)",
          "type": "string"
        },
        "ownerEmails": {
          "description": "Required. Input only. Email address of customer's users in the owner role. At least one `owner_email` is required. Owners share the same access as admins but can also add, delete, and edit your organization's portal users.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "adminEmails": {
          "description": "Optional. Email address of customer's users in the admin role. Each email address must be associated with a Google Account.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "skipWelcomeEmail": {
          "type": "boolean",
          "description": "Input only. If set to true, welcome email will not be sent to the customer. It is recommended to skip the welcome email if devices will be claimed with additional DEVICE_PROTECTION service, as the customer will receive separate emails at device claim time. This field is ignored if this is not a Zero-touch customer."
        }
      },
      "type": "object",
      "id": "Company"
    },
    "FindDevicesByDeviceIdentifierResponse": {
      "id": "FindDevicesByDeviceIdentifierResponse",
      "description": "Response containing found devices.",
      "properties": {
        "totalSize": {
          "description": "The total count of items in the list irrespective of pagination.",
          "format": "int32",
          "type": "integer"
        },
        "devices": {
          "type": "array",
          "items": {
            "$ref": "Device"
          },
          "description": "Found devices."
        },
        "nextPageToken": {
          "description": "A token used to access the next page of results. Omitted if no further results are available.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ClaimDevicesRequest": {
      "id": "ClaimDevicesRequest",
      "type": "object",
      "description": "Request to claim devices asynchronously in batch. Claiming a device adds the device to zero-touch enrollment and shows the device in the customer's view of the portal.",
      "properties": {
        "claims": {
          "description": "Required. A list of device claims.",
          "type": "array",
          "items": {
            "$ref": "PartnerClaim"
          }
        }
      }
    },
    "GetDeviceSimLockStateResponse": {
      "description": "Response containing a device's SimLock state.",
      "properties": {
        "simLockState": {
          "type": "string",
          "enumDescriptions": [
            "Invalid code. Shouldn't be used.",
            "Device is not SIM locked.",
            "Device is SIM locked to the partner querying SIM lock state.",
            "Device is SIM locked to a different partner."
          ],
          "enum": [
            "SIM_LOCK_STATE_UNSPECIFIED",
            "UNLOCKED",
            "LOCKED_TO_PARTNER",
            "LOCKED_TO_OTHER_PARTNER"
          ]
        }
      },
      "type": "object",
      "id": "GetDeviceSimLockStateResponse"
    },
    "PerDeviceStatusInBatch": {
      "type": "object",
      "description": "Captures the processing status for each device in the operation.",
      "properties": {
        "status": {
          "type": "string",
          "enumDescriptions": [
            "Invalid code. Shouldn't be used.",
            "Unknown error. We don't expect this error to occur here.",
            "Other error. We know/expect this error, but there's no defined error code for the error.",
            "Success.",
            "Permission denied.",
            "Invalid device identifier.",
            "Invalid section type.",
            "This section is claimed by another company.",
            "Invalid pre-provisioning token.",
            "Revoked pre-provisioning token.",
            "Status used to indicate a failure due to a device limit being exceeded"
          ],
          "enum": [
            "SINGLE_DEVICE_STATUS_UNSPECIFIED",
            "SINGLE_DEVICE_STATUS_UNKNOWN_ERROR",
            "SINGLE_DEVICE_STATUS_OTHER_ERROR",
            "SINGLE_DEVICE_STATUS_SUCCESS",
            "SINGLE_DEVICE_STATUS_PERMISSION_DENIED",
            "SINGLE_DEVICE_STATUS_INVALID_DEVICE_IDENTIFIER",
            "SINGLE_DEVICE_STATUS_INVALID_SECTION_TYPE",
            "SINGLE_DEVICE_STATUS_SECTION_NOT_YOURS",
            "SINGLE_DEVICE_STATUS_INVALID_TOKEN",
            "SINGLE_DEVICE_STATUS_REVOKED_TOKEN",
            "SINGLE_DEVICE_STATUS_DEVICE_LIMIT_EXCEEDED"
          ],
          "description": "The result status of the device after processing."
        },
        "errorIdentifier": {
          "description": "If processing fails, the error type.",
          "type": "string"
        },
        "errorMessage": {
          "type": "string",
          "description": "If processing fails, a developer message explaining what went wrong."
        },
        "deviceId": {
          "type": "string",
          "description": "If processing succeeds, the device ID of the device.",
          "format": "int64"
        }
      },
      "id": "PerDeviceStatusInBatch"
    },
    "Operation": {
      "id": "Operation",
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "error": {
          "$ref": "Status",
          "description": "This field will always be not set if the operation is created by `claimAsync`, `unclaimAsync`, or `updateMetadataAsync`. In this case, error information for each device is set in `response.perDeviceStatus.result.status`."
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "This field will contain a `DevicesLongRunningOperationResponse` object if the operation is created by `claimAsync`, `unclaimAsync`, or `updateMetadataAsync`."
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "This field will contain a `DevicesLongRunningOperationMetadata` object if the operation is created by `claimAsync`, `unclaimAsync`, or `updateMetadataAsync`.",
          "type": "object"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        }
      }
    },
    "FindDevicesByOwnerResponse": {
      "description": "Response containing found devices.",
      "properties": {
        "devices": {
          "type": "array",
          "items": {
            "$ref": "Device"
          },
          "description": "The customer's devices."
        },
        "nextPageToken": {
          "description": "A token used to access the next page of results. Omitted if no further results are available.",
          "type": "string"
        },
        "totalSize": {
          "description": "The total count of items in the list irrespective of pagination.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "FindDevicesByOwnerResponse"
    },
    "CustomerUnclaimDeviceRequest": {
      "type": "object",
      "description": "Request message for customer to unclaim a device.",
      "properties": {
        "device": {
          "description": "Required. The device to unclaim. There are custom validations in UnclaimDeviceRequestValidator.",
          "$ref": "DeviceReference"
        }
      },
      "id": "CustomerUnclaimDeviceRequest"
    },
    "FindDevicesByOwnerRequest": {
      "description": "Request to find devices by customers.",
      "properties": {
        "pageToken": {
          "description": "A token specifying which result page to return.",
          "type": "string"
        },
        "customerId": {
          "description": "The list of customer IDs to search for.",
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          }
        },
        "limit": {
          "description": "Required. The maximum number of devices to show in a page of results. Must be between 1 and 100 inclusive.",
          "format": "int64",
          "type": "string"
        },
        "googleWorkspaceCustomerId": {
          "description": "The list of IDs of Google Workspace accounts to search for.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "sectionType": {
          "description": "Required. The section type of the device's provisioning record.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified section type.",
            "SIM-lock section type.",
            "Zero-touch enrollment section type."
          ],
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "SECTION_TYPE_SIM_LOCK",
            "SECTION_TYPE_ZERO_TOUCH"
          ]
        }
      },
      "type": "object",
      "id": "FindDevicesByOwnerRequest"
    }
  },
  "batchPath": "batch",
  "ownerDomain": "google.com",
  "mtlsRootUrl": "https://androiddeviceprovisioning.mtls.googleapis.com/",
  "protocol": "rest",
  "resources": {
    "partners": {
      "resources": {
        "customers": {
          "methods": {
            "create": {
              "path": "v1/{+parent}/customers",
              "flatPath": "v1/partners/{partnersId}/customers",
              "id": "androiddeviceprovisioning.partners.customers.create",
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "Required. The parent resource ID in the format `partners/[PARTNER_ID]` that identifies the reseller.",
                  "location": "path",
                  "pattern": "^partners/[^/]+$",
                  "type": "string"
                }
              },
              "httpMethod": "POST",
              "response": {
                "$ref": "Company"
              },
              "description": "Creates a customer for zero-touch enrollment. After the method returns successfully, admin and owner roles can manage devices and EMM configs by calling API methods or using their zero-touch enrollment portal. The customer receives an email that welcomes them to zero-touch enrollment and explains how to sign into the portal.",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "CreateCustomerRequest"
              }
            },
            "list": {
              "description": "Lists the customers that are enrolled to the reseller identified by the `partnerId` argument. This list includes customers that the reseller created and customers that enrolled themselves using the portal.",
              "parameterOrder": [
                "partnerId"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "ListCustomersResponse"
              },
              "path": "v1/partners/{+partnerId}/customers",
              "parameters": {
                "partnerId": {
                  "required": true,
                  "location": "path",
                  "description": "Required. The ID of the reseller partner.",
                  "format": "int64",
                  "pattern": "^[^/]+$",
                  "type": "string"
                },
                "pageSize": {
                  "description": "The maximum number of results to be returned. If not specified or 0, all the records are returned.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "A token identifying a page of results returned by the server.",
                  "location": "query",
                  "type": "string"
                }
              },
              "flatPath": "v1/partners/{partnersId}/customers",
              "id": "androiddeviceprovisioning.partners.customers.list"
            }
          }
        },
        "devices": {
          "methods": {
            "unclaim": {
              "parameters": {
                "partnerId": {
                  "type": "string",
                  "pattern": "^[^/]+$",
                  "description": "Required. The ID of the reseller partner.",
                  "format": "int64",
                  "location": "path",
                  "required": true
                }
              },
              "id": "androiddeviceprovisioning.partners.devices.unclaim",
              "flatPath": "v1/partners/{partnersId}/devices:unclaim",
              "parameterOrder": [
                "partnerId"
              ],
              "request": {
                "$ref": "UnclaimDeviceRequest"
              },
              "description": "Unclaims a device from a customer and removes it from zero-touch enrollment.",
              "response": {
                "$ref": "Empty"
              },
              "httpMethod": "POST",
              "path": "v1/partners/{+partnerId}/devices:unclaim"
            },
            "updateMetadataAsync": {
              "path": "v1/partners/{+partnerId}/devices:updateMetadataAsync",
              "parameterOrder": [
                "partnerId"
              ],
              "request": {
                "$ref": "UpdateDeviceMetadataInBatchRequest"
              },
              "description": "Updates the reseller metadata attached to a batch of devices. This method updates devices asynchronously and returns an `Operation` that can be used to track progress. Read [Long‑running batch operations](/zero-touch/guides/how-it-works#operations). Android Devices only.",
              "response": {
                "$ref": "Operation"
              },
              "httpMethod": "POST",
              "parameters": {
                "partnerId": {
                  "type": "string",
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "description": "Required. The reseller partner ID.",
                  "format": "int64",
                  "required": true
                }
              },
              "id": "androiddeviceprovisioning.partners.devices.updateMetadataAsync",
              "flatPath": "v1/partners/{partnersId}/devices:updateMetadataAsync"
            },
            "findByIdentifier": {
              "path": "v1/partners/{+partnerId}/devices:findByIdentifier",
              "httpMethod": "POST",
              "response": {
                "$ref": "FindDevicesByDeviceIdentifierResponse"
              },
              "description": "Finds devices by hardware identifiers, such as IMEI.",
              "parameterOrder": [
                "partnerId"
              ],
              "request": {
                "$ref": "FindDevicesByDeviceIdentifierRequest"
              },
              "flatPath": "v1/partners/{partnersId}/devices:findByIdentifier",
              "id": "androiddeviceprovisioning.partners.devices.findByIdentifier",
              "parameters": {
                "partnerId": {
                  "type": "string",
                  "pattern": "^[^/]+$",
                  "description": "Required. The ID of the reseller partner.",
                  "format": "int64",
                  "location": "path",
                  "required": true
                }
              }
            },
            "findByOwner": {
              "parameters": {
                "partnerId": {
                  "description": "Required. The ID of the reseller partner.",
                  "format": "int64",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^[^/]+$"
                }
              },
              "flatPath": "v1/partners/{partnersId}/devices:findByOwner",
              "id": "androiddeviceprovisioning.partners.devices.findByOwner",
              "description": "Finds devices claimed for customers. The results only contain devices registered to the reseller that's identified by the `partnerId` argument. The customer's devices purchased from other resellers don't appear in the results.",
              "parameterOrder": [
                "partnerId"
              ],
              "request": {
                "$ref": "FindDevicesByOwnerRequest"
              },
              "httpMethod": "POST",
              "response": {
                "$ref": "FindDevicesByOwnerResponse"
              },
              "path": "v1/partners/{+partnerId}/devices:findByOwner"
            },
            "claimAsync": {
              "flatPath": "v1/partners/{partnersId}/devices:claimAsync",
              "id": "androiddeviceprovisioning.partners.devices.claimAsync",
              "parameters": {
                "partnerId": {
                  "pattern": "^[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. The ID of the reseller partner.",
                  "format": "int64",
                  "location": "path"
                }
              },
              "httpMethod": "POST",
              "response": {
                "$ref": "Operation"
              },
              "description": "Claims a batch of devices for a customer asynchronously. Adds the devices to zero-touch enrollment. To learn more, read [Long‑running batch operations](/zero-touch/guides/how-it-works#operations).",
              "parameterOrder": [
                "partnerId"
              ],
              "request": {
                "$ref": "ClaimDevicesRequest"
              },
              "path": "v1/partners/{+partnerId}/devices:claimAsync"
            },
            "unclaimAsync": {
              "path": "v1/partners/{+partnerId}/devices:unclaimAsync",
              "response": {
                "$ref": "Operation"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "partnerId"
              ],
              "request": {
                "$ref": "UnclaimDevicesRequest"
              },
              "description": "Unclaims a batch of devices for a customer asynchronously. Removes the devices from zero-touch enrollment. To learn more, read [Long‑running batch operations](/zero-touch/guides/how-it-works#operations).",
              "id": "androiddeviceprovisioning.partners.devices.unclaimAsync",
              "flatPath": "v1/partners/{partnersId}/devices:unclaimAsync",
              "parameters": {
                "partnerId": {
                  "required": true,
                  "location": "path",
                  "description": "Required. The reseller partner ID.",
                  "format": "int64",
                  "pattern": "^[^/]+$",
                  "type": "string"
                }
              }
            },
            "metadata": {
              "parameterOrder": [
                "metadataOwnerId",
                "deviceId"
              ],
              "request": {
                "$ref": "UpdateDeviceMetadataRequest"
              },
              "description": "Updates reseller metadata associated with the device. Android devices only.",
              "response": {
                "$ref": "DeviceMetadata"
              },
              "httpMethod": "POST",
              "parameters": {
                "deviceId": {
                  "required": true,
                  "location": "path",
                  "description": "Required. The ID of the device.",
                  "format": "int64",
                  "pattern": "^[^/]+$",
                  "type": "string"
                },
                "metadataOwnerId": {
                  "location": "path",
                  "description": "Required. The owner of the newly set metadata. Set this to the partner ID.",
                  "format": "int64",
                  "required": true,
                  "type": "string",
                  "pattern": "^[^/]+$"
                }
              },
              "id": "androiddeviceprovisioning.partners.devices.metadata",
              "flatPath": "v1/partners/{partnersId}/devices/{devicesId}/metadata",
              "path": "v1/partners/{+metadataOwnerId}/devices/{+deviceId}/metadata"
            },
            "claim": {
              "flatPath": "v1/partners/{partnersId}/devices:claim",
              "id": "androiddeviceprovisioning.partners.devices.claim",
              "parameters": {
                "partnerId": {
                  "required": true,
                  "description": "Required. The ID of the reseller partner.",
                  "format": "int64",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "type": "string"
                }
              },
              "httpMethod": "POST",
              "response": {
                "$ref": "ClaimDeviceResponse"
              },
              "description": "Claims a device for a customer and adds it to zero-touch enrollment. If the device is already claimed by another customer, the call returns an error.",
              "parameterOrder": [
                "partnerId"
              ],
              "request": {
                "$ref": "ClaimDeviceRequest"
              },
              "path": "v1/partners/{+partnerId}/devices:claim"
            },
            "getSimLockState": {
              "flatPath": "v1/partners/{partnersId}/devices:getSimLockState",
              "id": "androiddeviceprovisioning.partners.devices.getSimLockState",
              "parameters": {
                "partnerId": {
                  "pattern": "^[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Required. The ID of the partner.",
                  "format": "int64"
                }
              },
              "httpMethod": "POST",
              "response": {
                "$ref": "GetDeviceSimLockStateResponse"
              },
              "description": "Gets a device's SIM lock state.",
              "parameterOrder": [
                "partnerId"
              ],
              "request": {
                "$ref": "GetDeviceSimLockStateRequest"
              },
              "path": "v1/partners/{+partnerId}/devices:getSimLockState"
            },
            "get": {
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "pattern": "^partners/[^/]+/devices/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. The device API resource name in the format `partners/[PARTNER_ID]/devices/[DEVICE_ID]`.",
                  "location": "path"
                }
              },
              "id": "androiddeviceprovisioning.partners.devices.get",
              "flatPath": "v1/partners/{partnersId}/devices/{devicesId}",
              "parameterOrder": [
                "name"
              ],
              "description": "Gets a device.",
              "response": {
                "$ref": "Device"
              },
              "httpMethod": "GET"
            }
          }
        },
        "vendors": {
          "methods": {
            "list": {
              "flatPath": "v1/partners/{partnersId}/vendors",
              "id": "androiddeviceprovisioning.partners.vendors.list",
              "path": "v1/{+parent}/vendors",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of results to be returned.",
                  "format": "int32"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A token identifying a page of results returned by the server."
                },
                "parent": {
                  "type": "string",
                  "pattern": "^partners/[^/]+$",
                  "description": "Required. The resource name in the format `partners/[PARTNER_ID]`.",
                  "location": "path",
                  "required": true
                }
              },
              "httpMethod": "GET",
              "response": {
                "$ref": "ListVendorsResponse"
              },
              "description": "Lists the vendors of the partner.",
              "parameterOrder": [
                "parent"
              ]
            }
          },
          "resources": {
            "customers": {
              "methods": {
                "list": {
                  "flatPath": "v1/partners/{partnersId}/vendors/{vendorsId}/customers",
                  "id": "androiddeviceprovisioning.partners.vendors.customers.list",
                  "path": "v1/{+parent}/customers",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^partners/[^/]+/vendors/[^/]+$",
                      "location": "path",
                      "description": "Required. The resource name in the format `partners/[PARTNER_ID]/vendors/[VENDOR_ID]`.",
                      "required": true
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "The maximum number of results to be returned.",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "A token identifying a page of results returned by the server.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListVendorCustomersResponse"
                  },
                  "description": "Lists the customers of the vendor.",
                  "parameterOrder": [
                    "parent"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "customers": {
      "methods": {
        "list": {
          "path": "v1/customers",
          "parameters": {
            "pageSize": {
              "description": "Required. The maximum number of customers to show in a page of results. A number between 1 and 100 (inclusive).",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "pageToken": {
              "description": "A token specifying which result page to return. This field has custom validations in ListCustomersRequestValidator",
              "location": "query",
              "type": "string"
            }
          },
          "id": "androiddeviceprovisioning.customers.list",
          "flatPath": "v1/customers",
          "parameterOrder": [],
          "description": "Lists the user's customer accounts.",
          "response": {
            "$ref": "CustomerListCustomersResponse"
          },
          "httpMethod": "GET"
        }
      },
      "resources": {
        "configurations": {
          "methods": {
            "get": {
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "description": "Required. The configuration to get. An API resource name in the format `customers/[CUSTOMER_ID]/configurations/[CONFIGURATION_ID]`.",
                  "pattern": "^customers/[^/]+/configurations/[^/]+$",
                  "type": "string"
                }
              },
              "id": "androiddeviceprovisioning.customers.configurations.get",
              "flatPath": "v1/customers/{customersId}/configurations/{configurationsId}",
              "parameterOrder": [
                "name"
              ],
              "description": "Gets the details of a configuration.",
              "response": {
                "$ref": "Configuration"
              },
              "httpMethod": "GET"
            },
            "patch": {
              "id": "androiddeviceprovisioning.customers.configurations.patch",
              "flatPath": "v1/customers/{customersId}/configurations/{configurationsId}",
              "parameters": {
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "description": "Required. The field mask applied to the target `Configuration` before updating the fields. To learn more about using field masks, read [FieldMask](/protocol-buffers/docs/reference/google.protobuf#fieldmask) in the Protocol Buffers documentation.",
                  "format": "google-fieldmask"
                },
                "name": {
                  "type": "string",
                  "pattern": "^customers/[^/]+/configurations/[^/]+$",
                  "description": "Output only. The API resource name in the format `customers/[CUSTOMER_ID]/configurations/[CONFIGURATION_ID]`. Assigned by the server.",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "Configuration"
              },
              "httpMethod": "PATCH",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "Configuration"
              },
              "description": "Updates a configuration's field values.",
              "path": "v1/{+name}"
            },
            "create": {
              "path": "v1/{+parent}/configurations",
              "description": "Creates a new configuration. Once created, a customer can apply the configuration to devices.",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "Configuration"
              },
              "httpMethod": "POST",
              "response": {
                "$ref": "Configuration"
              },
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. The customer that manages the configuration. An API resource name in the format `customers/[CUSTOMER_ID]`. This field has custom validation in CreateConfigurationRequestValidator",
                  "required": true,
                  "type": "string",
                  "pattern": "^customers/[^/]+$"
                }
              },
              "flatPath": "v1/customers/{customersId}/configurations",
              "id": "androiddeviceprovisioning.customers.configurations.create"
            },
            "list": {
              "description": "Lists a customer's configurations.",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "CustomerListConfigurationsResponse"
              },
              "path": "v1/{+parent}/configurations",
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^customers/[^/]+$",
                  "location": "path",
                  "description": "Required. The customer that manages the listed configurations. An API resource name in the format `customers/[CUSTOMER_ID]`.",
                  "required": true
                }
              },
              "flatPath": "v1/customers/{customersId}/configurations",
              "id": "androiddeviceprovisioning.customers.configurations.list"
            },
            "delete": {
              "flatPath": "v1/customers/{customersId}/configurations/{configurationsId}",
              "id": "androiddeviceprovisioning.customers.configurations.delete",
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "description": "Required. The configuration to delete. An API resource name in the format `customers/[CUSTOMER_ID]/configurations/[CONFIGURATION_ID]`. If the configuration is applied to any devices, the API call fails.",
                  "pattern": "^customers/[^/]+/configurations/[^/]+$",
                  "type": "string"
                }
              },
              "httpMethod": "DELETE",
              "response": {
                "$ref": "Empty"
              },
              "description": "Deletes an unused configuration. The API call fails if the customer has devices with the configuration applied.",
              "parameterOrder": [
                "name"
              ]
            }
          }
        },
        "devices": {
          "methods": {
            "get": {
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^customers/[^/]+/devices/[^/]+$",
                  "description": "Required. The device to get. An API resource name in the format `customers/[CUSTOMER_ID]/devices/[DEVICE_ID]`.",
                  "location": "path",
                  "required": true
                }
              },
              "flatPath": "v1/customers/{customersId}/devices/{devicesId}",
              "id": "androiddeviceprovisioning.customers.devices.get",
              "description": "Gets the details of a device.",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "Device"
              }
            },
            "applyConfiguration": {
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^customers/[^/]+$",
                  "description": "Required. The customer managing the device. An API resource name in the format `customers/[CUSTOMER_ID]`.",
                  "location": "path",
                  "required": true
                }
              },
              "id": "androiddeviceprovisioning.customers.devices.applyConfiguration",
              "flatPath": "v1/customers/{customersId}/devices:applyConfiguration",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "CustomerApplyConfigurationRequest"
              },
              "description": "Applies a Configuration to the device to register the device for zero-touch enrollment. After applying a configuration to a device, the device automatically provisions itself on first boot, or next factory reset.",
              "response": {
                "$ref": "Empty"
              },
              "httpMethod": "POST",
              "path": "v1/{+parent}/devices:applyConfiguration"
            },
            "removeConfiguration": {
              "path": "v1/{+parent}/devices:removeConfiguration",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "CustomerRemoveConfigurationRequest"
              },
              "description": "Removes a configuration from device.",
              "response": {
                "$ref": "Empty"
              },
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "pattern": "^customers/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Required. The customer managing the device in the format `customers/[CUSTOMER_ID]`."
                }
              },
              "id": "androiddeviceprovisioning.customers.devices.removeConfiguration",
              "flatPath": "v1/customers/{customersId}/devices:removeConfiguration"
            },
            "list": {
              "httpMethod": "GET",
              "response": {
                "$ref": "CustomerListDevicesResponse"
              },
              "description": "Lists a customer's devices.",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/customers/{customersId}/devices",
              "id": "androiddeviceprovisioning.customers.devices.list",
              "path": "v1/{+parent}/devices",
              "parameters": {
                "parent": {
                  "required": true,
                  "location": "path",
                  "description": "Required. The customer managing the devices. An API resource name in the format `customers/[CUSTOMER_ID]`.",
                  "pattern": "^customers/[^/]+$",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. The maximum number of devices to show in a page of results. If unset or `0`, defaults to `5000`. If a value greater than `10000` is specified, it will be coerced to `10000`.",
                  "format": "int64"
                },
                "pageToken": {
                  "description": "A token specifying which result page to return.",
                  "location": "query",
                  "type": "string"
                }
              }
            },
            "unclaim": {
              "path": "v1/{+parent}/devices:unclaim",
              "id": "androiddeviceprovisioning.customers.devices.unclaim",
              "flatPath": "v1/customers/{customersId}/devices:unclaim",
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^customers/[^/]+$",
                  "description": "Required. The customer managing the device. An API resource name in the format `customers/[CUSTOMER_ID]`.",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "Empty"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "CustomerUnclaimDeviceRequest"
              },
              "description": "Unclaims a device from a customer and removes it from zero-touch enrollment. After removing a device, a customer must contact their reseller to register the device into zero-touch enrollment again."
            }
          }
        },
        "dpcs": {
          "methods": {
            "list": {
              "id": "androiddeviceprovisioning.customers.dpcs.list",
              "flatPath": "v1/customers/{customersId}/dpcs",
              "path": "v1/{+parent}/dpcs",
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "Required. The customer that can use the DPCs in configurations. An API resource name in the format `customers/[CUSTOMER_ID]`.",
                  "location": "path",
                  "pattern": "^customers/[^/]+$",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "CustomerListDpcsResponse"
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists the DPCs (device policy controllers) that support zero-touch enrollment."
            }
          }
        }
      }
    },
    "operations": {
      "methods": {
        "get": {
          "path": "v1/{+name}",
          "parameters": {
            "name": {
              "description": "The name of the operation resource.",
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^operations/.*$"
            }
          },
          "id": "androiddeviceprovisioning.operations.get",
          "flatPath": "v1/operations/{operationsId}",
          "parameterOrder": [
            "name"
          ],
          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "GET"
        }
      }
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "servicePath": "",
  "name": "androiddeviceprovisioning",
  "ownerName": "Google",
  "baseUrl": "https://androiddeviceprovisioning.googleapis.com/",
  "id": "androiddeviceprovisioning:v1",
  "parameters": {
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response.",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    }
  },
  "rootUrl": "https://androiddeviceprovisioning.googleapis.com/"
}