{
  "ownerDomain": "google.com",
  "mtlsRootUrl": "https://androidpublisher.mtls.googleapis.com/",
  "ownerName": "Google",
  "id": "androidpublisher:v3",
  "servicePath": "",
  "revision": "20260706",
  "discoveryVersion": "v1",
  "canonicalName": "Android Publisher",
  "parameters": {
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true",
      "type": "boolean"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    }
  },
  "documentationLink": "https://developers.google.com/android-publisher",
  "protocol": "rest",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version": "v3",
  "kind": "discovery#restDescription",
  "name": "androidpublisher",
  "batchPath": "batch",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/androidpublisher": {
          "description": "View and manage your Google Play Developer account"
        }
      }
    }
  },
  "baseUrl": "https://androidpublisher.googleapis.com/",
  "description": "Lets Android application developers access their Google Play accounts. At a high level, the expected workflow is to \"insert\" an Edit, make changes as necessary, and then \"commit\" it. ",
  "rootUrl": "https://androidpublisher.googleapis.com/",
  "title": "Google Play Android Developer API",
  "basePath": "",
  "resources": {
    "systemapks": {
      "resources": {
        "variants": {
          "methods": {
            "create": {
              "parameters": {
                "packageName": {
                  "description": "Package name of the app.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "versionCode": {
                  "description": "The version code of the App Bundle.",
                  "format": "int64",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "Variant"
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants",
              "path": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "id": "androidpublisher.systemapks.variants.create",
              "request": {
                "$ref": "Variant"
              },
              "description": "Creates an APK which is suitable for inclusion in a system image from an already uploaded Android App Bundle.",
              "parameterOrder": [
                "packageName",
                "versionCode"
              ]
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants",
              "httpMethod": "GET",
              "flatPath": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants",
              "response": {
                "$ref": "SystemApksListResponse"
              },
              "parameters": {
                "packageName": {
                  "type": "string",
                  "description": "Package name of the app.",
                  "location": "path",
                  "required": true
                },
                "versionCode": {
                  "format": "int64",
                  "description": "The version code of the App Bundle.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "packageName",
                "versionCode"
              ],
              "description": "Returns the list of previously created system APK variants.",
              "id": "androidpublisher.systemapks.variants.list"
            },
            "get": {
              "parameterOrder": [
                "packageName",
                "versionCode",
                "variantId"
              ],
              "description": "Returns a previously created system APK variant.",
              "id": "androidpublisher.systemapks.variants.get",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants/{variantId}",
              "httpMethod": "GET",
              "flatPath": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants/{variantId}",
              "response": {
                "$ref": "Variant"
              },
              "parameters": {
                "packageName": {
                  "description": "Package name of the app.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "variantId": {
                  "location": "path",
                  "required": true,
                  "type": "integer",
                  "format": "uint32",
                  "description": "The ID of a previously created system APK variant."
                },
                "versionCode": {
                  "format": "int64",
                  "description": "The version code of the App Bundle.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              }
            },
            "download": {
              "id": "androidpublisher.systemapks.variants.download",
              "supportsMediaDownload": true,
              "description": "Downloads a previously created system APK which is suitable for inclusion in a system image.",
              "parameterOrder": [
                "packageName",
                "versionCode",
                "variantId"
              ],
              "parameters": {
                "versionCode": {
                  "format": "int64",
                  "description": "The version code of the App Bundle.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "packageName": {
                  "description": "Package name of the app.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "variantId": {
                  "location": "path",
                  "required": true,
                  "type": "integer",
                  "description": "The ID of a previously created system APK variant.",
                  "format": "uint32"
                }
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants/{variantId}:download",
              "path": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants/{variantId}:download",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "useMediaDownloadService": true
            }
          }
        }
      }
    },
    "internalappsharingartifacts": {
      "methods": {
        "uploadbundle": {
          "parameterOrder": [
            "packageName"
          ],
          "description": "Uploads an app bundle to internal app sharing. If you are using the Google API client libraries, please increase the timeout of the http request before calling this endpoint (a timeout of 2 minutes is recommended). See [Timeouts and Errors](https://developers.google.com/api-client-library/java/google-api-java-client/errors) for an example in java.",
          "id": "androidpublisher.internalappsharingartifacts.uploadbundle",
          "supportsMediaUpload": true,
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "flatPath": "androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/bundle",
          "mediaUpload": {
            "accept": [
              "application/octet-stream"
            ],
            "maxSize": "10737418240",
            "protocols": {
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/bundle"
              },
              "simple": {
                "path": "/upload/androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/bundle",
                "multipart": true
              }
            }
          },
          "path": "androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/bundle",
          "httpMethod": "POST",
          "parameters": {
            "packageName": {
              "description": "Package name of the app.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "InternalAppSharingArtifact"
          }
        },
        "uploadapk": {
          "parameterOrder": [
            "packageName"
          ],
          "description": "Uploads an APK to internal app sharing. If you are using the Google API client libraries, please increase the timeout of the http request before calling this endpoint (a timeout of 2 minutes is recommended). See [Timeouts and Errors](https://developers.google.com/api-client-library/java/google-api-java-client/errors) for an example in java.",
          "id": "androidpublisher.internalappsharingartifacts.uploadapk",
          "supportsMediaUpload": true,
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "flatPath": "androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/apk",
          "mediaUpload": {
            "maxSize": "1073741824",
            "accept": [
              "application/octet-stream",
              "application/vnd.android.package-archive"
            ],
            "protocols": {
              "resumable": {
                "path": "/resumable/upload/androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/apk",
                "multipart": true
              },
              "simple": {
                "path": "/upload/androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/apk",
                "multipart": true
              }
            }
          },
          "path": "androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/apk",
          "httpMethod": "POST",
          "parameters": {
            "packageName": {
              "description": "Package name of the app.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "InternalAppSharingArtifact"
          }
        }
      }
    },
    "apprecovery": {
      "methods": {
        "cancel": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "response": {
            "$ref": "CancelAppRecoveryResponse"
          },
          "parameters": {
            "appRecoveryId": {
              "type": "string",
              "location": "path",
              "required": true,
              "format": "int64",
              "description": "Required. ID corresponding to the app recovery action."
            },
            "packageName": {
              "description": "Required. Package name of the app for which recovery action cancellation is requested.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "androidpublisher/v3/applications/{packageName}/appRecoveries/{appRecoveryId}:cancel",
          "httpMethod": "POST",
          "flatPath": "androidpublisher/v3/applications/{packageName}/appRecoveries/{appRecoveryId}:cancel",
          "request": {
            "$ref": "CancelAppRecoveryRequest"
          },
          "description": "Cancel an already executing app recovery action. Note that this action changes status of the recovery action to CANCELED.",
          "parameterOrder": [
            "packageName",
            "appRecoveryId"
          ],
          "id": "androidpublisher.apprecovery.cancel"
        },
        "create": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "path": "androidpublisher/v3/applications/{packageName}/appRecoveries",
          "httpMethod": "POST",
          "flatPath": "androidpublisher/v3/applications/{packageName}/appRecoveries",
          "response": {
            "$ref": "AppRecoveryAction"
          },
          "parameters": {
            "packageName": {
              "description": "Required. Package name of the app on which recovery action is performed.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "packageName"
          ],
          "request": {
            "$ref": "CreateDraftAppRecoveryRequest"
          },
          "description": "Create an app recovery action with recovery status as DRAFT. Note that this action does not execute the recovery action.",
          "id": "androidpublisher.apprecovery.create"
        },
        "deploy": {
          "parameters": {
            "packageName": {
              "description": "Required. Package name of the app for which recovery action is deployed.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "appRecoveryId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. ID corresponding to the app recovery action to deploy.",
              "format": "int64"
            }
          },
          "response": {
            "$ref": "DeployAppRecoveryResponse"
          },
          "flatPath": "androidpublisher/v3/applications/{packageName}/appRecoveries/{appRecoveryId}:deploy",
          "path": "androidpublisher/v3/applications/{packageName}/appRecoveries/{appRecoveryId}:deploy",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "id": "androidpublisher.apprecovery.deploy",
          "request": {
            "$ref": "DeployAppRecoveryRequest"
          },
          "description": "Deploy an already created app recovery action with recovery status DRAFT. Note that this action activates the recovery action for all targeted users and changes its status to ACTIVE.",
          "parameterOrder": [
            "packageName",
            "appRecoveryId"
          ]
        },
        "list": {
          "id": "androidpublisher.apprecovery.list",
          "description": "List all app recovery action resources associated with a particular package name and app version.",
          "parameterOrder": [
            "packageName"
          ],
          "response": {
            "$ref": "ListAppRecoveriesResponse"
          },
          "parameters": {
            "packageName": {
              "type": "string",
              "description": "Required. Package name of the app for which list of recovery actions is requested.",
              "location": "path",
              "required": true
            },
            "versionCode": {
              "description": "Required. Version code targeted by the list of recovery actions.",
              "location": "query",
              "format": "int64",
              "type": "string"
            }
          },
          "path": "androidpublisher/v3/applications/{packageName}/appRecoveries",
          "httpMethod": "GET",
          "flatPath": "androidpublisher/v3/applications/{packageName}/appRecoveries",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        },
        "addTargeting": {
          "parameterOrder": [
            "packageName",
            "appRecoveryId"
          ],
          "request": {
            "$ref": "AddTargetingRequest"
          },
          "description": "Incrementally update targeting for a recovery action. Note that only the criteria selected during the creation of recovery action can be expanded.",
          "id": "androidpublisher.apprecovery.addTargeting",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "flatPath": "androidpublisher/v3/applications/{packageName}/appRecoveries/{appRecoveryId}:addTargeting",
          "path": "androidpublisher/v3/applications/{packageName}/appRecoveries/{appRecoveryId}:addTargeting",
          "httpMethod": "POST",
          "parameters": {
            "packageName": {
              "type": "string",
              "description": "Required. Package name of the app for which recovery action is to be updated.",
              "location": "path",
              "required": true
            },
            "appRecoveryId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. ID corresponding to the app recovery action.",
              "format": "int64"
            }
          },
          "response": {
            "$ref": "AddTargetingResponse"
          }
        }
      }
    },
    "purchases": {
      "resources": {
        "subscriptionsv2": {
          "methods": {
            "cancel": {
              "parameterOrder": [
                "packageName",
                "token"
              ],
              "request": {
                "$ref": "CancelSubscriptionPurchaseRequest"
              },
              "description": "Cancel a subscription purchase for the user.",
              "id": "androidpublisher.purchases.subscriptionsv2.cancel",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptionsv2/tokens/{token}:cancel",
              "httpMethod": "POST",
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptionsv2/tokens/{token}:cancel",
              "response": {
                "$ref": "CancelSubscriptionPurchaseResponse"
              },
              "parameters": {
                "packageName": {
                  "description": "Required. The package of the application for which this subscription was purchased (for example, 'com.some.thing').",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "token": {
                  "description": "Required. The token provided to the user's device when the subscription was purchased.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              }
            },
            "defer": {
              "request": {
                "$ref": "DeferSubscriptionPurchaseRequest"
              },
              "description": "Defers the renewal of a subscription.",
              "parameterOrder": [
                "packageName",
                "token"
              ],
              "id": "androidpublisher.purchases.subscriptionsv2.defer",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "response": {
                "$ref": "DeferSubscriptionPurchaseResponse"
              },
              "parameters": {
                "packageName": {
                  "type": "string",
                  "description": "Required. The package of the application for which this subscription was purchased (for example, 'com.some.thing').",
                  "location": "path",
                  "required": true
                },
                "token": {
                  "type": "string",
                  "description": "Required. The token provided to the user's device when the subscription was purchased.",
                  "location": "path",
                  "required": true
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptionsv2/tokens/{token}:defer",
              "httpMethod": "POST",
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptionsv2/tokens/{token}:defer"
            },
            "revoke": {
              "id": "androidpublisher.purchases.subscriptionsv2.revoke",
              "request": {
                "$ref": "RevokeSubscriptionPurchaseRequest"
              },
              "description": "Revoke a subscription purchase for the user.",
              "parameterOrder": [
                "packageName",
                "token"
              ],
              "parameters": {
                "packageName": {
                  "type": "string",
                  "description": "Required. The package of the application for which this subscription was purchased (for example, 'com.some.thing').",
                  "location": "path",
                  "required": true
                },
                "token": {
                  "description": "Required. The token provided to the user's device when the subscription was purchased.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "RevokeSubscriptionPurchaseResponse"
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptionsv2/tokens/{token}:revoke",
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptionsv2/tokens/{token}:revoke",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "get": {
              "id": "androidpublisher.purchases.subscriptionsv2.get",
              "parameterOrder": [
                "packageName",
                "token"
              ],
              "description": "Get metadata about a subscription",
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptionsv2/tokens/{token}",
              "httpMethod": "GET",
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptionsv2/tokens/{token}",
              "response": {
                "$ref": "SubscriptionPurchaseV2"
              },
              "parameters": {
                "packageName": {
                  "description": "The package of the application for which this subscription was purchased (for example, 'com.some.thing').",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "token": {
                  "type": "string",
                  "description": "Required. The token provided to the user's device when the subscription was purchased.",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            }
          }
        },
        "products": {
          "methods": {
            "acknowledge": {
              "request": {
                "$ref": "ProductPurchasesAcknowledgeRequest"
              },
              "description": "Acknowledges a purchase of an inapp item.",
              "parameterOrder": [
                "packageName",
                "productId",
                "token"
              ],
              "id": "androidpublisher.purchases.products.acknowledge",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameters": {
                "token": {
                  "description": "The token provided to the user's device when the inapp product was purchased.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "packageName": {
                  "type": "string",
                  "description": "The package name of the application the inapp product was sold in (for example, 'com.some.thing').",
                  "location": "path",
                  "required": true
                },
                "productId": {
                  "type": "string",
                  "description": "The inapp product SKU (for example, 'com.some.thing.inapp1').",
                  "location": "path",
                  "required": true
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/purchases/products/{productId}/tokens/{token}:acknowledge",
              "httpMethod": "POST",
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/products/{productId}/tokens/{token}:acknowledge"
            },
            "consume": {
              "id": "androidpublisher.purchases.products.consume",
              "parameters": {
                "packageName": {
                  "type": "string",
                  "description": "The package name of the application the inapp product was sold in (for example, 'com.some.thing').",
                  "location": "path",
                  "required": true
                },
                "productId": {
                  "description": "The inapp product SKU (for example, 'com.some.thing.inapp1').",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "token": {
                  "type": "string",
                  "description": "The token provided to the user's device when the inapp product was purchased.",
                  "location": "path",
                  "required": true
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/purchases/products/{productId}/tokens/{token}:consume",
              "httpMethod": "POST",
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/products/{productId}/tokens/{token}:consume",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "description": "Consumes a purchase for an inapp item.",
              "parameterOrder": [
                "packageName",
                "productId",
                "token"
              ]
            },
            "get": {
              "response": {
                "$ref": "ProductPurchase"
              },
              "parameters": {
                "token": {
                  "type": "string",
                  "description": "The token provided to the user's device when the inapp product was purchased.",
                  "location": "path",
                  "required": true
                },
                "packageName": {
                  "type": "string",
                  "description": "The package name of the application the inapp product was sold in (for example, 'com.some.thing').",
                  "location": "path",
                  "required": true
                },
                "productId": {
                  "description": "The inapp product SKU (for example, 'com.some.thing.inapp1').",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/purchases/products/{productId}/tokens/{token}",
              "httpMethod": "GET",
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/products/{productId}/tokens/{token}",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "id": "androidpublisher.purchases.products.get",
              "description": "Checks the purchase and consumption status of an inapp item.",
              "parameterOrder": [
                "packageName",
                "productId",
                "token"
              ]
            }
          }
        },
        "subscriptions": {
          "methods": {
            "defer": {
              "request": {
                "$ref": "SubscriptionPurchasesDeferRequest"
              },
              "description": "Deprecated: Use purchases.subscriptionsv2.defer instead. Defers a user's subscription purchase until a specified future expiration time.",
              "parameterOrder": [
                "packageName",
                "subscriptionId",
                "token"
              ],
              "id": "androidpublisher.purchases.subscriptions.defer",
              "deprecated": true,
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "response": {
                "$ref": "SubscriptionPurchasesDeferResponse"
              },
              "parameters": {
                "token": {
                  "type": "string",
                  "description": "The token provided to the user's device when the subscription was purchased.",
                  "location": "path",
                  "required": true
                },
                "packageName": {
                  "description": "The package name of the application for which this subscription was purchased (for example, 'com.some.thing').",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "subscriptionId": {
                  "type": "string",
                  "description": "The purchased subscription ID (for example, 'monthly001').",
                  "location": "path",
                  "required": true
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:defer",
              "httpMethod": "POST",
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:defer"
            },
            "revoke": {
              "deprecated": true,
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:revoke",
              "httpMethod": "POST",
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:revoke",
              "parameters": {
                "token": {
                  "description": "The token provided to the user's device when the subscription was purchased.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "packageName": {
                  "type": "string",
                  "description": "The package name of the application for which this subscription was purchased (for example, 'com.some.thing').",
                  "location": "path",
                  "required": true
                },
                "subscriptionId": {
                  "description": "The purchased subscription ID (for example, 'monthly001').",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "packageName",
                "subscriptionId",
                "token"
              ],
              "description": "Deprecated: Use purchases.subscriptionsv2.revoke instead. Refunds and immediately revokes a user's subscription purchase. Access to the subscription will be terminated immediately and it will stop recurring.",
              "id": "androidpublisher.purchases.subscriptions.revoke"
            },
            "get": {
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}",
              "httpMethod": "GET",
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}",
              "response": {
                "$ref": "SubscriptionPurchase"
              },
              "parameters": {
                "packageName": {
                  "description": "The package name of the application for which this subscription was purchased (for example, 'com.some.thing').",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "subscriptionId": {
                  "description": "The purchased subscription ID (for example, 'monthly001').",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "token": {
                  "description": "The token provided to the user's device when the subscription was purchased.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "deprecated": true,
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "id": "androidpublisher.purchases.subscriptions.get",
              "parameterOrder": [
                "packageName",
                "subscriptionId",
                "token"
              ],
              "description": "Deprecated: Use purchases.subscriptionsv2.get instead. Checks whether a user's subscription purchase is valid and returns its expiry time."
            },
            "refund": {
              "parameters": {
                "token": {
                  "type": "string",
                  "description": "The token provided to the user's device when the subscription was purchased.",
                  "location": "path",
                  "required": true
                },
                "packageName": {
                  "description": "The package name of the application for which this subscription was purchased (for example, 'com.some.thing').",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "subscriptionId": {
                  "description": "\"The purchased subscription ID (for example, 'monthly001').",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:refund",
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:refund",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "deprecated": true,
              "id": "androidpublisher.purchases.subscriptions.refund",
              "description": "Deprecated: Use orders.refund instead. Refunds a user's subscription purchase, but the subscription remains valid until its expiration time and it will continue to recur.",
              "parameterOrder": [
                "packageName",
                "subscriptionId",
                "token"
              ]
            },
            "cancel": {
              "id": "androidpublisher.purchases.subscriptions.cancel",
              "description": "Deprecated: Use purchases.subscriptionsv2.cancel instead. Cancels a user's subscription purchase. The subscription remains valid until its expiration time. Newer version is available at purchases.subscriptionsv2.cancel for better client library support.",
              "parameterOrder": [
                "packageName",
                "subscriptionId",
                "token"
              ],
              "parameters": {
                "packageName": {
                  "type": "string",
                  "description": "The package name of the application for which this subscription was purchased (for example, 'com.some.thing').",
                  "location": "path",
                  "required": true
                },
                "subscriptionId": {
                  "type": "string",
                  "description": "Note: Since May 21, 2025, subscription_id is not required, and not recommended for subscription with add-ons. The purchased subscription ID (for example, 'monthly001').",
                  "location": "path",
                  "required": true
                },
                "token": {
                  "description": "The token provided to the user's device when the subscription was purchased.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:cancel",
              "httpMethod": "POST",
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:cancel",
              "deprecated": true,
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "acknowledge": {
              "id": "androidpublisher.purchases.subscriptions.acknowledge",
              "request": {
                "$ref": "SubscriptionPurchasesAcknowledgeRequest"
              },
              "description": "Acknowledges a subscription purchase.",
              "parameterOrder": [
                "packageName",
                "subscriptionId",
                "token"
              ],
              "parameters": {
                "packageName": {
                  "description": "The package name of the application for which this subscription was purchased (for example, 'com.some.thing').",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "subscriptionId": {
                  "type": "string",
                  "description": "Note: Since May 21, 2025, subscription_id is not required, and not recommended for subscription with add-ons. The purchased subscription ID (for example, 'monthly001').",
                  "location": "path",
                  "required": true
                },
                "token": {
                  "description": "The token provided to the user's device when the subscription was purchased.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:acknowledge",
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:acknowledge",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            }
          }
        },
        "productsv2": {
          "methods": {
            "getproductpurchasev2": {
              "parameterOrder": [
                "packageName",
                "token"
              ],
              "description": "Checks the purchase and consumption status of an inapp item.",
              "id": "androidpublisher.purchases.productsv2.getproductpurchasev2",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/purchases/productsv2/tokens/{token}",
              "httpMethod": "GET",
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/productsv2/tokens/{token}",
              "response": {
                "$ref": "ProductPurchaseV2"
              },
              "parameters": {
                "packageName": {
                  "description": "The package name of the application the inapp product was sold in (for example, 'com.some.thing').",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "token": {
                  "description": "The token provided to the user's device when the inapp product was purchased.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              }
            }
          }
        },
        "voidedpurchases": {
          "methods": {
            "list": {
              "parameters": {
                "endTime": {
                  "type": "string",
                  "description": "The time, in milliseconds since the Epoch, of the newest voided purchase that you want to see in the response. The value of this parameter cannot be greater than the current time and is ignored if a pagination token is set. Default value is current time. Note: This filter is applied on the time at which the record is seen as voided by our systems and not the actual voided time returned in the response.",
                  "location": "query",
                  "format": "int64"
                },
                "includeQuantityBasedPartialRefund": {
                  "description": "Optional. Whether to include voided purchases of quantity-based partial refunds, which are applicable only to multi-quantity purchases. If true, additional voided purchases may be returned with voidedQuantity that indicates the refund quantity of a quantity-based partial refund. The default value is false.",
                  "location": "query",
                  "type": "boolean"
                },
                "startTime": {
                  "description": "The time, in milliseconds since the Epoch, of the oldest voided purchase that you want to see in the response. The value of this parameter cannot be older than 30 days and is ignored if a pagination token is set. Default value is current time minus 30 days. Note: This filter is applied on the time at which the record is seen as voided by our systems and not the actual voided time returned in the response.",
                  "location": "query",
                  "format": "int64",
                  "type": "string"
                },
                "type": {
                  "type": "integer",
                  "description": "The type of voided purchases that you want to see in the response. Possible values are: 0. Only voided in-app product purchases will be returned in the response. This is the default value. 1. Both voided in-app purchases and voided subscription purchases will be returned in the response. Note: Before requesting to receive voided subscription purchases, you must switch to use orderId in the response which uniquely identifies one-time purchases and subscriptions. Otherwise, you will receive multiple subscription orders with the same PurchaseToken, because subscription renewal orders share the same PurchaseToken.",
                  "location": "query",
                  "format": "int32"
                },
                "token": {
                  "description": "Defines the token of the page to return, usually taken from TokenPagination. This can only be used if token paging is enabled.",
                  "location": "query",
                  "type": "string"
                },
                "packageName": {
                  "description": "The package name of the application for which voided purchases need to be returned (for example, 'com.some.thing').",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "maxResults": {
                  "description": "Defines how many results the list operation should return. The default number depends on the resource collection.",
                  "location": "query",
                  "format": "uint32",
                  "type": "integer"
                },
                "startIndex": {
                  "description": "Defines the index of the first element to return. This can only be used if indexed paging is enabled.",
                  "location": "query",
                  "format": "uint32",
                  "type": "integer"
                }
              },
              "response": {
                "$ref": "VoidedPurchasesListResponse"
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/voidedpurchases",
              "path": "androidpublisher/v3/applications/{packageName}/purchases/voidedpurchases",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "id": "androidpublisher.purchases.voidedpurchases.list",
              "description": "Lists the purchases that were canceled, refunded or charged-back.",
              "parameterOrder": [
                "packageName"
              ]
            }
          }
        }
      }
    },
    "orders": {
      "methods": {
        "reviewrefund": {
          "parameterOrder": [
            "packageName",
            "orderId"
          ],
          "request": {
            "$ref": "OrdersReviewRefundRequest"
          },
          "description": "Provide refund preference and purchase usage for a chargeback request",
          "id": "androidpublisher.orders.reviewrefund",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "path": "androidpublisher/v3/applications/{packageName}/orders/{orderId}:reviewrefund",
          "httpMethod": "POST",
          "flatPath": "androidpublisher/v3/applications/{packageName}/orders/{orderId}:reviewrefund",
          "parameters": {
            "packageName": {
              "description": "Required. The package name of the application for which this subscription or in-app item was purchased (for example, 'com.some.thing').",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "orderId": {
              "type": "string",
              "description": "Required. The order ID provided to the user when the subscription or in-app order was purchased.",
              "location": "path",
              "required": true
            }
          }
        },
        "batchget": {
          "parameterOrder": [
            "packageName"
          ],
          "description": "Get order details for a list of orders.",
          "id": "androidpublisher.orders.batchget",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "flatPath": "androidpublisher/v3/applications/{packageName}/orders:batchGet",
          "path": "androidpublisher/v3/applications/{packageName}/orders:batchGet",
          "httpMethod": "GET",
          "parameters": {
            "packageName": {
              "type": "string",
              "description": "Required. The package name of the application for which this subscription or in-app item was purchased (for example, 'com.some.thing').",
              "location": "path",
              "required": true
            },
            "orderIds": {
              "description": "Required. The list of order IDs to retrieve order details for. There must be between 1 and 1000 (inclusive) order IDs per request. If any order ID is not found or does not match the provided package, the entire request will fail with an error. The order IDs must be distinct.",
              "location": "query",
              "repeated": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "BatchGetOrdersResponse"
          }
        },
        "refund": {
          "flatPath": "androidpublisher/v3/applications/{packageName}/orders/{orderId}:refund",
          "path": "androidpublisher/v3/applications/{packageName}/orders/{orderId}:refund",
          "httpMethod": "POST",
          "id": "androidpublisher.orders.refund",
          "parameters": {
            "revoke": {
              "description": "Whether to revoke the purchased item. If set to true, access to the subscription or in-app item will be terminated immediately. If the item is a recurring subscription, all future payments will also be terminated. Consumed in-app items need to be handled by developer's app. (optional).",
              "location": "query",
              "type": "boolean"
            },
            "orderId": {
              "description": "The order ID provided to the user when the subscription or in-app order was purchased.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "packageName": {
              "type": "string",
              "description": "The package name of the application for which this subscription or in-app item was purchased (for example, 'com.some.thing').",
              "location": "path",
              "required": true
            }
          },
          "parameterOrder": [
            "packageName",
            "orderId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "description": "Refunds a user's subscription or in-app purchase order. Orders older than 3 years cannot be refunded."
        },
        "get": {
          "id": "androidpublisher.orders.get",
          "description": "Get order details for a single order.",
          "parameterOrder": [
            "packageName",
            "orderId"
          ],
          "parameters": {
            "packageName": {
              "description": "Required. The package name of the application for which this subscription or in-app item was purchased (for example, 'com.some.thing').",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "orderId": {
              "type": "string",
              "description": "Required. The order ID provided to the user when the subscription or in-app order was purchased.",
              "location": "path",
              "required": true
            }
          },
          "response": {
            "$ref": "Order"
          },
          "flatPath": "androidpublisher/v3/applications/{packageName}/orders/{orderId}",
          "path": "androidpublisher/v3/applications/{packageName}/orders/{orderId}",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        }
      }
    },
    "edits": {
      "methods": {
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "response": {
            "$ref": "AppEdit"
          },
          "parameters": {
            "packageName": {
              "type": "string",
              "description": "Package name of the app.",
              "location": "path",
              "required": true
            }
          },
          "path": "androidpublisher/v3/applications/{packageName}/edits",
          "httpMethod": "POST",
          "flatPath": "androidpublisher/v3/applications/{packageName}/edits",
          "request": {
            "$ref": "AppEdit"
          },
          "description": "Creates a new edit for an app.",
          "parameterOrder": [
            "packageName"
          ],
          "id": "androidpublisher.edits.insert"
        },
        "get": {
          "parameters": {
            "packageName": {
              "type": "string",
              "description": "Package name of the app.",
              "location": "path",
              "required": true
            },
            "editId": {
              "type": "string",
              "description": "Identifier of the edit.",
              "location": "path",
              "required": true
            }
          },
          "response": {
            "$ref": "AppEdit"
          },
          "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}",
          "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "id": "androidpublisher.edits.get",
          "description": "Gets an app edit.",
          "parameterOrder": [
            "packageName",
            "editId"
          ]
        },
        "validate": {
          "id": "androidpublisher.edits.validate",
          "description": "Validates an app edit.",
          "parameterOrder": [
            "packageName",
            "editId"
          ],
          "parameters": {
            "packageName": {
              "type": "string",
              "description": "Package name of the app.",
              "location": "path",
              "required": true
            },
            "editId": {
              "description": "Identifier of the edit.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "AppEdit"
          },
          "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}:validate",
          "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}:validate",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        },
        "commit": {
          "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}:commit",
          "httpMethod": "POST",
          "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}:commit",
          "response": {
            "$ref": "AppEdit"
          },
          "parameters": {
            "editId": {
              "type": "string",
              "description": "Identifier of the edit.",
              "location": "path",
              "required": true
            },
            "changesInReviewBehavior": {
              "enum": [
                "CHANGES_IN_REVIEW_BEHAVIOR_TYPE_UNSPECIFIED",
                "CANCEL_IN_REVIEW_AND_SUBMIT",
                "ERROR_IF_IN_REVIEW"
              ],
              "description": "Optional. Specify how the API should behave if there are changes currently in review. If this value is not set, it will default to \"CANCEL_IN_REVIEW_AND_SUBMIT\", which will cancel the changes in review and then send all the changes for publishing.",
              "type": "string",
              "location": "query",
              "enumDescriptions": [
                "Defaults to CANCEL_IN_REVIEW_AND_SUBMIT.",
                "If there are changes already in review, then this will cancel that review first and then send all the changes for publishing.",
                "If there are changes in review, then this will return an error. Please refer to the error message sample that is returned when this happens. Note that this won't invalidate the edit. If there aren't any changes in review, then this will continue and send the new changes for publishing."
              ]
            },
            "packageName": {
              "type": "string",
              "description": "Package name of the app.",
              "location": "path",
              "required": true
            },
            "changesNotSentForReview": {
              "description": "When a rejection happens, the parameter will make sure that the changes in this edit won't be reviewed until they are explicitly sent for review from within the Google Play Console UI. These changes will be added to any other changes that are not yet sent for review.",
              "location": "query",
              "type": "boolean"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "id": "androidpublisher.edits.commit",
          "parameterOrder": [
            "packageName",
            "editId"
          ],
          "description": "Commits an app edit."
        },
        "delete": {
          "id": "androidpublisher.edits.delete",
          "parameters": {
            "packageName": {
              "description": "Package name of the app.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "editId": {
              "description": "Identifier of the edit.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}",
          "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "description": "Deletes an app edit.",
          "parameterOrder": [
            "packageName",
            "editId"
          ]
        }
      },
      "resources": {
        "apks": {
          "methods": {
            "upload": {
              "description": "Uploads an APK and adds to the current edit.",
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "supportsMediaUpload": true,
              "id": "androidpublisher.edits.apks.upload",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "response": {
                "$ref": "Apk"
              },
              "parameters": {
                "packageName": {
                  "type": "string",
                  "description": "Package name of the app.",
                  "location": "path",
                  "required": true
                },
                "editId": {
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks",
              "httpMethod": "POST",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks",
              "mediaUpload": {
                "protocols": {
                  "resumable": {
                    "path": "/resumable/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/apks",
                    "multipart": true
                  },
                  "simple": {
                    "multipart": true,
                    "path": "/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/apks"
                  }
                },
                "maxSize": "10737418240",
                "accept": [
                  "application/octet-stream",
                  "application/vnd.android.package-archive"
                ]
              }
            },
            "addexternallyhosted": {
              "id": "androidpublisher.edits.apks.addexternallyhosted",
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "request": {
                "$ref": "ApksAddExternallyHostedRequest"
              },
              "description": "Creates a new APK without uploading the APK itself to Google Play, instead hosting the APK at a specified URL. This function is only available to organizations using Managed Play whose application is configured to restrict distribution to the organizations.",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/externallyHosted",
              "httpMethod": "POST",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/externallyHosted",
              "response": {
                "$ref": "ApksAddExternallyHostedResponse"
              },
              "parameters": {
                "packageName": {
                  "description": "Package name of the app.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "editId": {
                  "type": "string",
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "list": {
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "description": "Lists all current APKs of the app and edit.",
              "id": "androidpublisher.edits.apks.list",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks",
              "httpMethod": "GET",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks",
              "response": {
                "$ref": "ApksListResponse"
              },
              "parameters": {
                "packageName": {
                  "type": "string",
                  "description": "Package name of the app.",
                  "location": "path",
                  "required": true
                },
                "editId": {
                  "type": "string",
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "required": true
                }
              }
            }
          }
        },
        "images": {
          "methods": {
            "deleteall": {
              "parameters": {
                "language": {
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German). Providing a language that is not supported by the App is a no-op.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "packageName": {
                  "description": "Package name of the app.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "editId": {
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "imageType": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "enumDescriptions": [
                    "Unspecified type. Do not use.",
                    "Phone screenshot.",
                    "Seven inch screenshot.",
                    "Ten inch screenshot.",
                    "TV screenshot.",
                    "Wear screenshot.",
                    "Icon.",
                    "Feature graphic.",
                    "TV banner."
                  ],
                  "enum": [
                    "appImageTypeUnspecified",
                    "phoneScreenshots",
                    "sevenInchScreenshots",
                    "tenInchScreenshots",
                    "tvScreenshots",
                    "wearScreenshots",
                    "icon",
                    "featureGraphic",
                    "tvBanner"
                  ],
                  "description": "Type of the Image. Providing an image type that refers to no images is a no-op."
                }
              },
              "response": {
                "$ref": "ImagesDeleteAllResponse"
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}",
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "id": "androidpublisher.edits.images.deleteall",
              "description": "Deletes all images for the specified language and image type. Returns an empty response if no images are found.",
              "parameterOrder": [
                "packageName",
                "editId",
                "language",
                "imageType"
              ]
            },
            "upload": {
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}",
              "mediaUpload": {
                "accept": [
                  "image/*"
                ],
                "maxSize": "15728640",
                "protocols": {
                  "resumable": {
                    "path": "/resumable/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}",
                    "multipart": true
                  },
                  "simple": {
                    "path": "/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}",
                    "multipart": true
                  }
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}",
              "httpMethod": "POST",
              "parameters": {
                "language": {
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German). Providing a language that is not supported by the App is a no-op.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "aiGeneratedState": {
                  "description": "Optional. Whether the image was generated by AI. Attested by the developer.",
                  "enum": [
                    "aiGeneratedStateUnspecified",
                    "aiGeneratedStateNotAiGenerated",
                    "aiGeneratedStateAiGeneratedDeveloperAttested"
                  ],
                  "location": "query",
                  "enumDescriptions": [
                    "Catch-all for unrecognized enum values. See go/protodosdonts.",
                    "The content is not generated by AI.",
                    "The content is generated by AI and attested by the developer."
                  ],
                  "type": "string"
                },
                "editId": {
                  "type": "string",
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "required": true
                },
                "imageType": {
                  "description": "Type of the Image.",
                  "enum": [
                    "appImageTypeUnspecified",
                    "phoneScreenshots",
                    "sevenInchScreenshots",
                    "tenInchScreenshots",
                    "tvScreenshots",
                    "wearScreenshots",
                    "icon",
                    "featureGraphic",
                    "tvBanner"
                  ],
                  "location": "path",
                  "required": true,
                  "enumDescriptions": [
                    "Unspecified type. Do not use.",
                    "Phone screenshot.",
                    "Seven inch screenshot.",
                    "Ten inch screenshot.",
                    "TV screenshot.",
                    "Wear screenshot.",
                    "Icon.",
                    "Feature graphic.",
                    "TV banner."
                  ],
                  "type": "string"
                },
                "packageName": {
                  "description": "Package name of the app.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "ImagesUploadResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "id": "androidpublisher.edits.images.upload",
              "supportsMediaUpload": true,
              "parameterOrder": [
                "packageName",
                "editId",
                "language",
                "imageType"
              ],
              "description": "Uploads an image of the specified language and image type, and adds to the edit."
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "response": {
                "$ref": "ImagesListResponse"
              },
              "parameters": {
                "editId": {
                  "type": "string",
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "required": true
                },
                "imageType": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "enumDescriptions": [
                    "Unspecified type. Do not use.",
                    "Phone screenshot.",
                    "Seven inch screenshot.",
                    "Ten inch screenshot.",
                    "TV screenshot.",
                    "Wear screenshot.",
                    "Icon.",
                    "Feature graphic.",
                    "TV banner."
                  ],
                  "enum": [
                    "appImageTypeUnspecified",
                    "phoneScreenshots",
                    "sevenInchScreenshots",
                    "tenInchScreenshots",
                    "tvScreenshots",
                    "wearScreenshots",
                    "icon",
                    "featureGraphic",
                    "tvBanner"
                  ],
                  "description": "Type of the Image. Providing an image type that refers to no images will return an empty response."
                },
                "packageName": {
                  "description": "Package name of the app.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "language": {
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German). There must be a store listing for the specified language.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}",
              "httpMethod": "GET",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}",
              "description": "Lists all images. The response may be empty.",
              "parameterOrder": [
                "packageName",
                "editId",
                "language",
                "imageType"
              ],
              "id": "androidpublisher.edits.images.list"
            },
            "delete": {
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}/{imageId}",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}/{imageId}",
              "httpMethod": "DELETE",
              "id": "androidpublisher.edits.images.delete",
              "parameters": {
                "imageId": {
                  "type": "string",
                  "description": "Unique identifier an image within the set of images attached to this edit.",
                  "location": "path",
                  "required": true
                },
                "packageName": {
                  "description": "Package name of the app.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "editId": {
                  "type": "string",
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "required": true
                },
                "imageType": {
                  "description": "Type of the Image.",
                  "enum": [
                    "appImageTypeUnspecified",
                    "phoneScreenshots",
                    "sevenInchScreenshots",
                    "tenInchScreenshots",
                    "tvScreenshots",
                    "wearScreenshots",
                    "icon",
                    "featureGraphic",
                    "tvBanner"
                  ],
                  "location": "path",
                  "required": true,
                  "enumDescriptions": [
                    "Unspecified type. Do not use.",
                    "Phone screenshot.",
                    "Seven inch screenshot.",
                    "Ten inch screenshot.",
                    "TV screenshot.",
                    "Wear screenshot.",
                    "Icon.",
                    "Feature graphic.",
                    "TV banner."
                  ],
                  "type": "string"
                },
                "language": {
                  "type": "string",
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German).",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "packageName",
                "editId",
                "language",
                "imageType",
                "imageId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "description": "Deletes the image (specified by id) from the edit."
            }
          }
        },
        "countryavailability": {
          "methods": {
            "get": {
              "id": "androidpublisher.edits.countryavailability.get",
              "parameterOrder": [
                "packageName",
                "editId",
                "track"
              ],
              "description": "Gets country availability.",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/countryAvailability/{track}",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/countryAvailability/{track}",
              "httpMethod": "GET",
              "parameters": {
                "editId": {
                  "type": "string",
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "required": true
                },
                "track": {
                  "description": "The track to read from.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "packageName": {
                  "description": "Package name of the app.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "TrackCountryAvailability"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            }
          }
        },
        "details": {
          "methods": {
            "get": {
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/details",
              "httpMethod": "GET",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/details",
              "response": {
                "$ref": "AppDetails"
              },
              "parameters": {
                "packageName": {
                  "type": "string",
                  "description": "Package name of the app.",
                  "location": "path",
                  "required": true
                },
                "editId": {
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "id": "androidpublisher.edits.details.get",
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "description": "Gets details of an app."
            },
            "update": {
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameters": {
                "packageName": {
                  "description": "Package name of the app.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "editId": {
                  "type": "string",
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "AppDetails"
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/details",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/details",
              "httpMethod": "PUT",
              "request": {
                "$ref": "AppDetails"
              },
              "description": "Updates details of an app.",
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "id": "androidpublisher.edits.details.update"
            },
            "patch": {
              "id": "androidpublisher.edits.details.patch",
              "request": {
                "$ref": "AppDetails"
              },
              "description": "Patches details of an app.",
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "response": {
                "$ref": "AppDetails"
              },
              "parameters": {
                "packageName": {
                  "type": "string",
                  "description": "Package name of the app.",
                  "location": "path",
                  "required": true
                },
                "editId": {
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/details",
              "httpMethod": "PATCH",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/details",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            }
          }
        },
        "deobfuscationfiles": {
          "methods": {
            "upload": {
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "response": {
                "$ref": "DeobfuscationFilesUploadResponse"
              },
              "parameters": {
                "packageName": {
                  "type": "string",
                  "description": "Unique identifier for the Android app.",
                  "location": "path",
                  "required": true
                },
                "apkVersionCode": {
                  "location": "path",
                  "required": true,
                  "type": "integer",
                  "description": "The version code of the APK whose Deobfuscation File is being uploaded.",
                  "format": "int32"
                },
                "editId": {
                  "description": "Unique identifier for this edit.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "deobfuscationFileType": {
                  "location": "path",
                  "required": true,
                  "enumDescriptions": [
                    "Unspecified deobfuscation file type.",
                    "Proguard deobfuscation file type.",
                    "Native debugging symbols file type."
                  ],
                  "type": "string",
                  "description": "The type of the deobfuscation file.",
                  "enum": [
                    "deobfuscationFileTypeUnspecified",
                    "proguard",
                    "nativeCode"
                  ]
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/deobfuscationFiles/{deobfuscationFileType}",
              "httpMethod": "POST",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/deobfuscationFiles/{deobfuscationFileType}",
              "mediaUpload": {
                "protocols": {
                  "resumable": {
                    "multipart": true,
                    "path": "/resumable/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/deobfuscationFiles/{deobfuscationFileType}"
                  },
                  "simple": {
                    "path": "/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/deobfuscationFiles/{deobfuscationFileType}",
                    "multipart": true
                  }
                },
                "accept": [
                  "application/octet-stream"
                ],
                "maxSize": "1677721600"
              },
              "description": "Uploads a new deobfuscation file and attaches to the specified APK.",
              "parameterOrder": [
                "packageName",
                "editId",
                "apkVersionCode",
                "deobfuscationFileType"
              ],
              "supportsMediaUpload": true,
              "id": "androidpublisher.edits.deobfuscationfiles.upload"
            }
          }
        },
        "testers": {
          "methods": {
            "get": {
              "parameterOrder": [
                "packageName",
                "editId",
                "track"
              ],
              "description": "Gets testers. Note: Testers resource does not support email lists.",
              "id": "androidpublisher.edits.testers.get",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/testers/{track}",
              "httpMethod": "GET",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/testers/{track}",
              "response": {
                "$ref": "Testers"
              },
              "parameters": {
                "packageName": {
                  "description": "Package name of the app.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "track": {
                  "type": "string",
                  "description": "The track to read from.",
                  "location": "path",
                  "required": true
                },
                "editId": {
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              }
            },
            "update": {
              "id": "androidpublisher.edits.testers.update",
              "parameterOrder": [
                "packageName",
                "editId",
                "track"
              ],
              "request": {
                "$ref": "Testers"
              },
              "description": "Updates testers. Note: Testers resource does not support email lists.",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/testers/{track}",
              "httpMethod": "PUT",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/testers/{track}",
              "response": {
                "$ref": "Testers"
              },
              "parameters": {
                "editId": {
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "packageName": {
                  "description": "Package name of the app.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "track": {
                  "type": "string",
                  "description": "The track to update.",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "patch": {
              "request": {
                "$ref": "Testers"
              },
              "description": "Patches testers. Note: Testers resource does not support email lists.",
              "parameterOrder": [
                "packageName",
                "editId",
                "track"
              ],
              "id": "androidpublisher.edits.testers.patch",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "response": {
                "$ref": "Testers"
              },
              "parameters": {
                "packageName": {
                  "description": "Package name of the app.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "track": {
                  "description": "The track to update.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "editId": {
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/testers/{track}",
              "httpMethod": "PATCH",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/testers/{track}"
            }
          }
        },
        "tracks": {
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameters": {
                "packageName": {
                  "description": "Package name of the app.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "editId": {
                  "type": "string",
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "TracksListResponse"
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks",
              "httpMethod": "GET",
              "description": "Lists all tracks.",
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "id": "androidpublisher.edits.tracks.list"
            },
            "update": {
              "parameters": {
                "track": {
                  "description": "Identifier of the track. [More on track name](https://developers.google.com/android-publisher/tracks#ff-track-name)",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "packageName": {
                  "description": "Package name of the app.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "editId": {
                  "type": "string",
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "Track"
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks/{track}",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks/{track}",
              "httpMethod": "PUT",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "id": "androidpublisher.edits.tracks.update",
              "request": {
                "$ref": "Track"
              },
              "description": "Updates a track.",
              "parameterOrder": [
                "packageName",
                "editId",
                "track"
              ]
            },
            "get": {
              "parameterOrder": [
                "packageName",
                "editId",
                "track"
              ],
              "description": "Gets a track.",
              "id": "androidpublisher.edits.tracks.get",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks/{track}",
              "httpMethod": "GET",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks/{track}",
              "response": {
                "$ref": "Track"
              },
              "parameters": {
                "editId": {
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "packageName": {
                  "type": "string",
                  "description": "Package name of the app.",
                  "location": "path",
                  "required": true
                },
                "track": {
                  "description": "Identifier of the track. [More on track name](https://developers.google.com/android-publisher/tracks#ff-track-name)",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              }
            },
            "patch": {
              "parameterOrder": [
                "packageName",
                "editId",
                "track"
              ],
              "request": {
                "$ref": "Track"
              },
              "description": "Patches a track.",
              "id": "androidpublisher.edits.tracks.patch",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks/{track}",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks/{track}",
              "httpMethod": "PATCH",
              "parameters": {
                "track": {
                  "type": "string",
                  "description": "Identifier of the track. [More on track name](https://developers.google.com/android-publisher/tracks#ff-track-name)",
                  "location": "path",
                  "required": true
                },
                "packageName": {
                  "type": "string",
                  "description": "Package name of the app.",
                  "location": "path",
                  "required": true
                },
                "editId": {
                  "type": "string",
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "Track"
              }
            },
            "create": {
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "request": {
                "$ref": "TrackConfig"
              },
              "description": "Creates a new track.",
              "id": "androidpublisher.edits.tracks.create",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks",
              "httpMethod": "POST",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks",
              "response": {
                "$ref": "Track"
              },
              "parameters": {
                "packageName": {
                  "description": "Required. Package name of the app.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "editId": {
                  "type": "string",
                  "description": "Required. Identifier of the edit.",
                  "location": "path",
                  "required": true
                }
              }
            }
          }
        },
        "bundles": {
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "response": {
                "$ref": "BundlesListResponse"
              },
              "parameters": {
                "packageName": {
                  "description": "Package name of the app.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "editId": {
                  "type": "string",
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "required": true
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/bundles",
              "httpMethod": "GET",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/bundles",
              "description": "Lists all current Android App Bundles of the app and edit.",
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "id": "androidpublisher.edits.bundles.list"
            },
            "upload": {
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/bundles",
              "httpMethod": "POST",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/bundles",
              "mediaUpload": {
                "accept": [
                  "application/octet-stream"
[...]
