{
  "kind": "discovery#restDescription",
  "version": "v3",
  "mtlsRootUrl": "https://androidpublisher.mtls.googleapis.com/",
  "parameters": {
    "alt": {
      "default": "json",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    }
  },
  "documentationLink": "https://developers.google.com/android-publisher",
  "revision": "20260824",
  "discoveryVersion": "v1",
  "description": "Lets Android application developers access their Google Play accounts. At a high level, the expected workflow is to \"insert\" an Edit, make changes as necessary, and then \"commit\" it. ",
  "protocol": "rest",
  "resources": {
    "generatedapks": {
      "methods": {
        "download": {
          "description": "Downloads a single signed APK generated from an app bundle.",
          "path": "androidpublisher/v3/applications/{packageName}/generatedApks/{versionCode}/downloads/{downloadId}:download",
          "supportsMediaDownload": true,
          "httpMethod": "GET",
          "id": "androidpublisher.generatedapks.download",
          "useMediaDownloadService": true,
          "parameters": {
            "downloadId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Download ID, which uniquely identifies the APK to download. Can be obtained from the response of `generatedapks.list` method."
            },
            "packageName": {
              "description": "Package name of the app.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "versionCode": {
              "description": "Version code of the app bundle.",
              "format": "int32",
              "type": "integer",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "flatPath": "androidpublisher/v3/applications/{packageName}/generatedApks/{versionCode}/downloads/{downloadId}:download",
          "parameterOrder": [
            "packageName",
            "versionCode",
            "downloadId"
          ]
        },
        "list": {
          "path": "androidpublisher/v3/applications/{packageName}/generatedApks/{versionCode}",
          "id": "androidpublisher.generatedapks.list",
          "httpMethod": "GET",
          "description": "Returns download metadata for all APKs that were generated from a given app bundle.",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameterOrder": [
            "packageName",
            "versionCode"
          ],
          "parameters": {
            "packageName": {
              "description": "Package name of the app.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "versionCode": {
              "description": "Version code of the app bundle.",
              "required": true,
              "location": "path",
              "format": "int32",
              "type": "integer"
            }
          },
          "response": {
            "$ref": "GeneratedApksListResponse"
          },
          "flatPath": "androidpublisher/v3/applications/{packageName}/generatedApks/{versionCode}"
        }
      }
    },
    "internalappsharingartifacts": {
      "methods": {
        "uploadapk": {
          "response": {
            "$ref": "InternalAppSharingArtifact"
          },
          "description": "Uploads an APK to internal app sharing. If you are using the Google API client libraries, please increase the timeout of the http request before calling this endpoint (a timeout of 2 minutes is recommended). See [Timeouts and Errors](https://developers.google.com/api-client-library/java/google-api-java-client/errors) for an example in java.",
          "flatPath": "androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/apk",
          "httpMethod": "POST",
          "supportsMediaUpload": true,
          "path": "androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/apk",
          "parameters": {
            "packageName": {
              "description": "Package name of the app.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "mediaUpload": {
            "protocols": {
              "resumable": {
                "path": "/resumable/upload/androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/apk",
                "multipart": true
              },
              "simple": {
                "multipart": true,
                "path": "/upload/androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/apk"
              }
            },
            "accept": [
              "application/octet-stream",
              "application/vnd.android.package-archive"
            ],
            "maxSize": "1073741824"
          },
          "id": "androidpublisher.internalappsharingartifacts.uploadapk",
          "parameterOrder": [
            "packageName"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        },
        "uploadbundle": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "path": "androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/bundle",
          "description": "Uploads an app bundle to internal app sharing. If you are using the Google API client libraries, please increase the timeout of the http request before calling this endpoint (a timeout of 2 minutes is recommended). See [Timeouts and Errors](https://developers.google.com/api-client-library/java/google-api-java-client/errors) for an example in java.",
          "response": {
            "$ref": "InternalAppSharingArtifact"
          },
          "httpMethod": "POST",
          "flatPath": "androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/bundle",
          "mediaUpload": {
            "maxSize": "10737418240",
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/bundle"
              },
              "resumable": {
                "path": "/resumable/upload/androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/bundle",
                "multipart": true
              }
            },
            "accept": [
              "application/octet-stream"
            ]
          },
          "parameters": {
            "packageName": {
              "type": "string",
              "required": true,
              "description": "Package name of the app.",
              "location": "path"
            }
          },
          "id": "androidpublisher.internalappsharingartifacts.uploadbundle",
          "supportsMediaUpload": true,
          "parameterOrder": [
            "packageName"
          ]
        }
      }
    },
    "users": {
      "methods": {
        "list": {
          "flatPath": "androidpublisher/v3/developers/{developersId}/users",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameterOrder": [
            "parent"
          ],
          "path": "androidpublisher/v3/{+parent}/users",
          "response": {
            "$ref": "ListUsersResponse"
          },
          "description": "Lists all users with access to a developer account.",
          "httpMethod": "GET",
          "parameters": {
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "A token received from a previous call to this method, in order to retrieve further results."
            },
            "pageSize": {
              "type": "integer",
              "description": "The maximum number of results to return. This must be set to -1 to disable pagination.",
              "location": "query",
              "format": "int32"
            },
            "parent": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Required. The developer account to fetch users from. Format: developers/{developer}",
              "pattern": "^developers/[^/]+$"
            }
          },
          "id": "androidpublisher.users.list"
        },
        "patch": {
          "flatPath": "androidpublisher/v3/developers/{developersId}/users/{usersId}",
          "response": {
            "$ref": "User"
          },
          "description": "Updates access for the user to the developer account.",
          "parameters": {
            "updateMask": {
              "location": "query",
              "description": "Optional. The list of fields to be updated.",
              "type": "string",
              "format": "google-fieldmask"
            },
            "name": {
              "pattern": "^developers/[^/]+/users/[^/]+$",
              "description": "Required. Resource name for this user, following the pattern \"developers/{developer}/users/{email}\".",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "httpMethod": "PATCH",
          "id": "androidpublisher.users.patch",
          "request": {
            "$ref": "User"
          },
          "parameterOrder": [
            "name"
          ],
          "path": "androidpublisher/v3/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        },
        "create": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "flatPath": "androidpublisher/v3/developers/{developersId}/users",
          "path": "androidpublisher/v3/{+parent}/users",
          "response": {
            "$ref": "User"
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "User"
          },
          "id": "androidpublisher.users.create",
          "parameters": {
            "parent": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. The developer account to add the user to. Format: developers/{developer}",
              "pattern": "^developers/[^/]+$"
            }
          },
          "description": "Grant access for a user to the given developer account.",
          "parameterOrder": [
            "parent"
          ]
        },
        "delete": {
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "path": "androidpublisher/v3/{+name}",
          "parameters": {
            "name": {
              "description": "Required. The name of the user to delete. Format: developers/{developer}/users/{email}",
              "pattern": "^developers/[^/]+/users/[^/]+$",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "flatPath": "androidpublisher/v3/developers/{developersId}/users/{usersId}",
          "httpMethod": "DELETE",
          "id": "androidpublisher.users.delete",
          "description": "Removes all access for the user to the given developer account."
        }
      }
    },
    "orders": {
      "methods": {
        "get": {
          "response": {
            "$ref": "Order"
          },
          "id": "androidpublisher.orders.get",
          "flatPath": "androidpublisher/v3/applications/{packageName}/orders/{orderId}",
          "parameterOrder": [
            "packageName",
            "orderId"
          ],
          "parameters": {
            "orderId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. The order ID provided to the user when the subscription or in-app order was purchased."
            },
            "packageName": {
              "type": "string",
              "location": "path",
              "description": "Required. The package name of the application for which this subscription or in-app item was purchased (for example, 'com.some.thing').",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "path": "androidpublisher/v3/applications/{packageName}/orders/{orderId}",
          "httpMethod": "GET",
          "description": "Get order details for a single order."
        },
        "batchget": {
          "description": "Get order details for a list of orders.",
          "parameters": {
            "packageName": {
              "type": "string",
              "location": "path",
              "description": "Required. The package name of the application for which this subscription or in-app item was purchased (for example, 'com.some.thing').",
              "required": true
            },
            "orderIds": {
              "description": "Required. The list of order IDs to retrieve order details for. There must be between 1 and 1000 (inclusive) order IDs per request. If any order ID is not found or does not match the provided package, the entire request will fail with an error. The order IDs must be distinct.",
              "location": "query",
              "repeated": true,
              "type": "string"
            }
          },
          "path": "androidpublisher/v3/applications/{packageName}/orders:batchGet",
          "httpMethod": "GET",
          "parameterOrder": [
            "packageName"
          ],
          "response": {
            "$ref": "BatchGetOrdersResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "flatPath": "androidpublisher/v3/applications/{packageName}/orders:batchGet",
          "id": "androidpublisher.orders.batchget"
        },
        "refund": {
          "parameters": {
            "orderId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The order ID provided to the user when the subscription or in-app order was purchased."
            },
            "packageName": {
              "description": "The package name of the application for which this subscription or in-app item was purchased (for example, 'com.some.thing').",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "revoke": {
              "location": "query",
              "description": "Whether to revoke the purchased item. If set to true, access to the subscription or in-app item will be terminated immediately. If the item is a recurring subscription, all future payments will also be terminated. Consumed in-app items need to be handled by developer's app. (optional).",
              "type": "boolean"
            }
          },
          "path": "androidpublisher/v3/applications/{packageName}/orders/{orderId}:refund",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "id": "androidpublisher.orders.refund",
          "parameterOrder": [
            "packageName",
            "orderId"
          ],
          "description": "Refunds a user's subscription or in-app purchase order. Orders older than 3 years cannot be refunded.",
          "flatPath": "androidpublisher/v3/applications/{packageName}/orders/{orderId}:refund",
          "httpMethod": "POST"
        },
        "reviewrefund": {
          "httpMethod": "POST",
          "request": {
            "$ref": "OrdersReviewRefundRequest"
          },
          "description": "Provide refund preference and purchase usage for a chargeback request",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "id": "androidpublisher.orders.reviewrefund",
          "parameterOrder": [
            "packageName",
            "orderId"
          ],
          "path": "androidpublisher/v3/applications/{packageName}/orders/{orderId}:reviewrefund",
          "flatPath": "androidpublisher/v3/applications/{packageName}/orders/{orderId}:reviewrefund",
          "parameters": {
            "packageName": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. The package name of the application for which this subscription or in-app item was purchased (for example, 'com.some.thing')."
            },
            "orderId": {
              "required": true,
              "description": "Required. The order ID provided to the user when the subscription or in-app order was purchased.",
              "type": "string",
              "location": "path"
            }
          }
        }
      }
    },
    "purchases": {
      "resources": {
        "subscriptionsv2": {
          "methods": {
            "defer": {
              "id": "androidpublisher.purchases.subscriptionsv2.defer",
              "parameterOrder": [
                "packageName",
                "token"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptionsv2/tokens/{token}:defer",
              "request": {
                "$ref": "DeferSubscriptionPurchaseRequest"
              },
              "parameters": {
                "packageName": {
                  "location": "path",
                  "description": "Required. The package of the application for which this subscription was purchased (for example, 'com.some.thing').",
                  "required": true,
                  "type": "string"
                },
                "token": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The token provided to the user's device when the subscription was purchased."
                }
              },
              "description": "Defers the renewal of a subscription.",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "DeferSubscriptionPurchaseResponse"
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptionsv2/tokens/{token}:defer"
            },
            "revoke": {
              "parameters": {
                "packageName": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. The package of the application for which this subscription was purchased (for example, 'com.some.thing').",
                  "required": true
                },
                "token": {
                  "type": "string",
                  "description": "Required. The token provided to the user's device when the subscription was purchased.",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "packageName",
                "token"
              ],
              "description": "Revoke a subscription purchase for the user.",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptionsv2/tokens/{token}:revoke",
              "id": "androidpublisher.purchases.subscriptionsv2.revoke",
              "request": {
                "$ref": "RevokeSubscriptionPurchaseRequest"
              },
              "response": {
                "$ref": "RevokeSubscriptionPurchaseResponse"
              },
              "httpMethod": "POST",
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptionsv2/tokens/{token}:revoke"
            },
            "cancel": {
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameters": {
                "packageName": {
                  "description": "Required. The package of the application for which this subscription was purchased (for example, 'com.some.thing').",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "token": {
                  "description": "Required. The token provided to the user's device when the subscription was purchased.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "request": {
                "$ref": "CancelSubscriptionPurchaseRequest"
              },
              "id": "androidpublisher.purchases.subscriptionsv2.cancel",
              "description": "Cancel a subscription purchase for the user.",
              "parameterOrder": [
                "packageName",
                "token"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptionsv2/tokens/{token}:cancel",
              "response": {
                "$ref": "CancelSubscriptionPurchaseResponse"
              },
              "httpMethod": "POST",
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptionsv2/tokens/{token}:cancel"
            },
            "get": {
              "response": {
                "$ref": "SubscriptionPurchaseV2"
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptionsv2/tokens/{token}",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "description": "Get metadata about a subscription",
              "httpMethod": "GET",
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptionsv2/tokens/{token}",
              "parameters": {
                "packageName": {
                  "type": "string",
                  "description": "The package of the application for which this subscription was purchased (for example, 'com.some.thing').",
                  "location": "path",
                  "required": true
                },
                "token": {
                  "description": "Required. The token provided to the user's device when the subscription was purchased.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "id": "androidpublisher.purchases.subscriptionsv2.get",
              "parameterOrder": [
                "packageName",
                "token"
              ]
            }
          }
        },
        "voidedpurchases": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "id": "androidpublisher.purchases.voidedpurchases.list",
              "parameterOrder": [
                "packageName"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/voidedpurchases",
              "response": {
                "$ref": "VoidedPurchasesListResponse"
              },
              "path": "androidpublisher/v3/applications/{packageName}/purchases/voidedpurchases",
              "description": "Lists the purchases that were canceled, refunded or charged-back.",
              "parameters": {
                "includeQuantityBasedPartialRefund": {
                  "type": "boolean",
                  "description": "Optional. Whether to include voided purchases of quantity-based partial refunds, which are applicable only to multi-quantity purchases. If true, additional voided purchases may be returned with voidedQuantity that indicates the refund quantity of a quantity-based partial refund. The default value is false.",
                  "location": "query"
                },
                "token": {
                  "type": "string",
                  "location": "query",
                  "description": "Defines the token of the page to return, usually taken from TokenPagination. This can only be used if token paging is enabled."
                },
                "type": {
                  "location": "query",
                  "format": "int32",
                  "description": "The type of voided purchases that you want to see in the response. Possible values are: 0. Only voided in-app product purchases will be returned in the response. This is the default value. 1. Both voided in-app purchases and voided subscription purchases will be returned in the response. Note: Before requesting to receive voided subscription purchases, you must switch to use orderId in the response which uniquely identifies one-time purchases and subscriptions. Otherwise, you will receive multiple subscription orders with the same PurchaseToken, because subscription renewal orders share the same PurchaseToken.",
                  "type": "integer"
                },
                "maxResults": {
                  "location": "query",
                  "type": "integer",
                  "description": "Defines how many results the list operation should return. The default number depends on the resource collection.",
                  "format": "uint32"
                },
                "startTime": {
                  "format": "int64",
                  "location": "query",
                  "type": "string",
                  "description": "The time, in milliseconds since the Epoch, of the oldest voided purchase that you want to see in the response. The value of this parameter cannot be older than 30 days and is ignored if a pagination token is set. Default value is current time minus 30 days. Note: This filter is applied on the time at which the record is seen as voided by our systems and not the actual voided time returned in the response."
                },
                "packageName": {
                  "description": "The package name of the application for which voided purchases need to be returned (for example, 'com.some.thing').",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "startIndex": {
                  "location": "query",
                  "description": "Defines the index of the first element to return. This can only be used if indexed paging is enabled.",
                  "format": "uint32",
                  "type": "integer"
                },
                "endTime": {
                  "format": "int64",
                  "type": "string",
                  "location": "query",
                  "description": "The time, in milliseconds since the Epoch, of the newest voided purchase that you want to see in the response. The value of this parameter cannot be greater than the current time and is ignored if a pagination token is set. Default value is current time. Note: This filter is applied on the time at which the record is seen as voided by our systems and not the actual voided time returned in the response."
                }
              }
            }
          }
        },
        "subscriptions": {
          "methods": {
            "cancel": {
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:cancel",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "id": "androidpublisher.purchases.subscriptions.cancel",
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:cancel",
              "parameters": {
                "token": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The token provided to the user's device when the subscription was purchased."
                },
                "packageName": {
                  "location": "path",
                  "type": "string",
                  "description": "The package name of the application for which this subscription was purchased (for example, 'com.some.thing').",
                  "required": true
                },
                "subscriptionId": {
                  "required": true,
                  "type": "string",
                  "description": "Note: Since May 21, 2025, subscription_id is not required, and not recommended for subscription with add-ons. The purchased subscription ID (for example, 'monthly001').",
                  "location": "path"
                }
              },
              "httpMethod": "POST",
              "deprecated": true,
              "description": "Deprecated: Use purchases.subscriptionsv2.cancel instead. Cancels a user's subscription purchase. The subscription remains valid until its expiration time. Newer version is available at purchases.subscriptionsv2.cancel for better client library support.",
              "parameterOrder": [
                "packageName",
                "subscriptionId",
                "token"
              ]
            },
            "acknowledge": {
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:acknowledge",
              "parameterOrder": [
                "packageName",
                "subscriptionId",
                "token"
              ],
              "request": {
                "$ref": "SubscriptionPurchasesAcknowledgeRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "id": "androidpublisher.purchases.subscriptions.acknowledge",
              "httpMethod": "POST",
              "parameters": {
                "subscriptionId": {
                  "required": true,
                  "description": "Note: Since May 21, 2025, subscription_id is not required, and not recommended for subscription with add-ons. The purchased subscription ID (for example, 'monthly001').",
                  "location": "path",
                  "type": "string"
                },
                "token": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The token provided to the user's device when the subscription was purchased."
                },
                "packageName": {
                  "description": "The package name of the application for which this subscription was purchased (for example, 'com.some.thing').",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "description": "Acknowledges a subscription purchase.",
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:acknowledge"
            },
            "defer": {
              "deprecated": true,
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:defer",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "response": {
                "$ref": "SubscriptionPurchasesDeferResponse"
              },
              "request": {
                "$ref": "SubscriptionPurchasesDeferRequest"
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:defer",
              "description": "Deprecated: Use purchases.subscriptionsv2.defer instead. Defers a user's subscription purchase until a specified future expiration time.",
              "parameters": {
                "packageName": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The package name of the application for which this subscription was purchased (for example, 'com.some.thing')."
                },
                "token": {
                  "description": "The token provided to the user's device when the subscription was purchased.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "subscriptionId": {
                  "type": "string",
                  "description": "The purchased subscription ID (for example, 'monthly001').",
                  "required": true,
                  "location": "path"
                }
              },
              "parameterOrder": [
                "packageName",
                "subscriptionId",
                "token"
              ],
              "id": "androidpublisher.purchases.subscriptions.defer"
            }
          }
        },
        "products": {
          "methods": {
            "consume": {
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/products/{productId}/tokens/{token}:consume",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameters": {
                "productId": {
                  "type": "string",
                  "required": true,
                  "description": "The inapp product SKU (for example, 'com.some.thing.inapp1').",
                  "location": "path"
                },
                "token": {
                  "required": true,
                  "description": "The token provided to the user's device when the inapp product was purchased.",
                  "location": "path",
                  "type": "string"
                },
                "packageName": {
                  "description": "The package name of the application the inapp product was sold in (for example, 'com.some.thing').",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "httpMethod": "POST",
              "description": "Consumes a purchase for an inapp item.",
              "id": "androidpublisher.purchases.products.consume",
              "parameterOrder": [
                "packageName",
                "productId",
                "token"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/purchases/products/{productId}/tokens/{token}:consume"
            },
            "acknowledge": {
              "request": {
                "$ref": "ProductPurchasesAcknowledgeRequest"
              },
              "path": "androidpublisher/v3/applications/{packageName}/purchases/products/{productId}/tokens/{token}:acknowledge",
              "httpMethod": "POST",
              "id": "androidpublisher.purchases.products.acknowledge",
              "parameterOrder": [
                "packageName",
                "productId",
                "token"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/products/{productId}/tokens/{token}:acknowledge",
              "description": "Acknowledges a purchase of an inapp item.",
              "parameters": {
                "productId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The inapp product SKU (for example, 'com.some.thing.inapp1')."
                },
                "token": {
                  "description": "The token provided to the user's device when the inapp product was purchased.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "packageName": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The package name of the application the inapp product was sold in (for example, 'com.some.thing')."
                }
              }
            },
            "get": {
              "response": {
                "$ref": "ProductPurchase"
              },
              "path": "androidpublisher/v3/applications/{packageName}/purchases/products/{productId}/tokens/{token}",
              "id": "androidpublisher.purchases.products.get",
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/products/{productId}/tokens/{token}",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameters": {
                "token": {
                  "description": "The token provided to the user's device when the inapp product was purchased.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "productId": {
                  "required": true,
                  "description": "The inapp product SKU (for example, 'com.some.thing.inapp1').",
                  "type": "string",
                  "location": "path"
                },
                "packageName": {
                  "required": true,
                  "location": "path",
                  "description": "The package name of the application the inapp product was sold in (for example, 'com.some.thing').",
                  "type": "string"
                }
              },
              "description": "Checks the purchase and consumption status of an inapp item.",
              "httpMethod": "GET",
              "parameterOrder": [
                "packageName",
                "productId",
                "token"
              ]
            }
          }
        },
        "productsv2": {
          "methods": {
            "getproductpurchasev2": {
              "id": "androidpublisher.purchases.productsv2.getproductpurchasev2",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/productsv2/tokens/{token}",
              "response": {
                "$ref": "ProductPurchaseV2"
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "packageName",
                "token"
              ],
              "parameters": {
                "token": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The token provided to the user's device when the inapp product was purchased."
                },
                "packageName": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The package name of the application the inapp product was sold in (for example, 'com.some.thing')."
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/purchases/productsv2/tokens/{token}",
              "description": "Checks the purchase and consumption status of an inapp item."
            }
          }
        }
      }
    },
    "inappproducts": {
      "methods": {
        "get": {
          "id": "androidpublisher.inappproducts.get",
          "parameters": {
            "packageName": {
              "location": "path",
              "required": true,
              "description": "Package name of the app.",
              "type": "string"
            },
            "sku": {
              "required": true,
              "location": "path",
              "description": "Unique identifier for the in-app product.",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "packageName",
            "sku"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "description": "Gets an in-app product, which can be a managed product or a subscription. This method should no longer be used to retrieve subscriptions. See [this article](https://android-developers.googleblog.com/2023/06/changes-to-google-play-developer-api-june-2023.html) for more information.",
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "response": {
            "$ref": "InAppProduct"
          }
        },
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "description": "Creates an in-app product (a managed product or a subscription). This method should no longer be used to create subscriptions. See [this article](https://android-developers.googleblog.com/2023/06/changes-to-google-play-developer-api-june-2023.html) for more information.",
          "parameters": {
            "packageName": {
              "location": "path",
              "description": "Package name of the app.",
              "required": true,
              "type": "string"
            },
            "autoConvertMissingPrices": {
              "location": "query",
              "type": "boolean",
              "description": "If true the prices for all regions targeted by the parent app that don't have a price specified for this in-app product will be auto converted to the target currency based on the default price. Defaults to false."
            }
          },
          "parameterOrder": [
            "packageName"
          ],
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts",
          "httpMethod": "POST",
          "response": {
            "$ref": "InAppProduct"
          },
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts",
          "id": "androidpublisher.inappproducts.insert",
          "request": {
            "$ref": "InAppProduct"
          }
        },
        "batchUpdate": {
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts:batchUpdate",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts:batchUpdate",
          "parameters": {
            "packageName": {
              "description": "Package name of the app.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "request": {
            "$ref": "InappproductsBatchUpdateRequest"
          },
          "description": "Updates or inserts one or more in-app products (managed products or subscriptions). Set the latencyTolerance field on nested requests to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT to achieve maximum update throughput. This method should no longer be used to update subscriptions. See [this article](https://android-developers.googleblog.com/2023/06/changes-to-google-play-developer-api-june-2023.html) for more information.",
          "response": {
            "$ref": "InappproductsBatchUpdateResponse"
          },
          "parameterOrder": [
            "packageName"
          ],
          "id": "androidpublisher.inappproducts.batchUpdate",
          "httpMethod": "POST"
        },
        "batchGet": {
          "description": "Reads multiple in-app products, which can be managed products or subscriptions. This method should not be used to retrieve subscriptions. See [this article](https://android-developers.googleblog.com/2023/06/changes-to-google-play-developer-api-june-2023.html) for more information.",
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts:batchGet",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "httpMethod": "GET",
          "id": "androidpublisher.inappproducts.batchGet",
          "parameters": {
            "packageName": {
              "description": "Package name of the app.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "sku": {
              "repeated": true,
              "description": "Unique identifier for the in-app products.",
              "type": "string",
              "location": "query"
            }
          },
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts:batchGet",
          "parameterOrder": [
            "packageName"
          ],
          "response": {
            "$ref": "InappproductsBatchGetResponse"
          }
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "httpMethod": "PUT",
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "description": "Updates an in-app product (a managed product or a subscription). This method should no longer be used to update subscriptions. See [this article](https://android-developers.googleblog.com/2023/06/changes-to-google-play-developer-api-june-2023.html) for more information.",
          "parameterOrder": [
            "packageName",
            "sku"
          ],
          "response": {
            "$ref": "InAppProduct"
          },
          "parameters": {
            "allowMissing": {
              "type": "boolean",
              "description": "If set to true, and the in-app product with the given package_name and sku doesn't exist, the in-app product will be created.",
              "location": "query"
            },
            "latencyTolerance": {
              "description": "Optional. The latency tolerance for the propagation of this product update. Defaults to latency-sensitive.",
              "enumDescriptions": [
                "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
                "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
                "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
              ],
              "type": "string",
              "enum": [
                "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
                "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
                "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
              ],
              "location": "query"
            },
            "autoConvertMissingPrices": {
              "location": "query",
              "type": "boolean",
              "description": "If true the prices for all regions targeted by the parent app that don't have a price specified for this in-app product will be auto converted to the target currency based on the default price. Defaults to false."
            },
            "sku": {
              "type": "string",
              "description": "Unique identifier for the in-app product.",
              "location": "path",
              "required": true
            },
            "packageName": {
              "location": "path",
              "description": "Package name of the app.",
              "required": true,
              "type": "string"
            }
          },
          "id": "androidpublisher.inappproducts.update",
          "request": {
            "$ref": "InAppProduct"
          }
        },
        "delete": {
          "httpMethod": "DELETE",
          "parameterOrder": [
            "packageName",
            "sku"
          ],
          "description": "Deletes an in-app product (a managed product or a subscription). This method should no longer be used to delete subscriptions. See [this article](https://android-developers.googleblog.com/2023/06/changes-to-google-play-developer-api-june-2023.html) for more information.",
          "id": "androidpublisher.inappproducts.delete",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "parameters": {
            "sku": {
              "description": "Unique identifier for the in-app product.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "latencyTolerance": {
              "enumDescriptions": [
                "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
                "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
                "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
              ],
              "description": "Optional. The latency tolerance for the propagation of this product update. Defaults to latency-sensitive.",
              "type": "string",
              "enum": [
                "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
                "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
                "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
              ],
              "location": "query"
            },
            "packageName": {
              "description": "Package name of the app.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          }
        },
        "patch": {
          "response": {
            "$ref": "InAppProduct"
          },
          "description": "Patches an in-app product (a managed product or a subscription). This method should no longer be used to update subscriptions. See [this article](https://android-developers.googleblog.com/2023/06/changes-to-google-play-developer-api-june-2023.html) for more information.",
          "httpMethod": "PATCH",
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "parameterOrder": [
            "packageName",
            "sku"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "request": {
            "$ref": "InAppProduct"
          },
          "parameters": {
            "autoConvertMissingPrices": {
              "location": "query",
              "description": "If true the prices for all regions targeted by the parent app that don't have a price specified for this in-app product will be auto converted to the target currency based on the default price. Defaults to false.",
              "type": "boolean"
            },
            "sku": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Unique identifier for the in-app product."
            },
            "packageName": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Package name of the app."
            },
            "latencyTolerance": {
              "description": "Optional. The latency tolerance for the propagation of this product update. Defaults to latency-sensitive.",
              "enumDescriptions": [
                "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
                "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
                "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
              ],
              "type": "string",
              "enum": [
                "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
                "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
                "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
              ],
              "location": "query"
            }
          },
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "id": "androidpublisher.inappproducts.patch"
        },
        "batchDelete": {
          "id": "androidpublisher.inappproducts.batchDelete",
          "httpMethod": "POST",
          "description": "Deletes in-app products (managed products or subscriptions). Set the latencyTolerance field on nested requests to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT to achieve maximum update throughput. This method should not be used to delete subscriptions. See [this article](https://android-developers.googleblog.com/2023/06/changes-to-google-play-developer-api-june-2023.html) for more information.",
          "request": {
            "$ref": "InappproductsBatchDeleteRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameters": {
            "packageName": {
              "type": "string",
              "description": "Package name of the app.",
              "location": "path",
              "required": true
            }
          },
          "parameterOrder": [
            "packageName"
          ],
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts:batchDelete",
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts:batchDelete"
        },
        "list": {
          "description": "Lists all in-app products - both managed products and subscriptions. If an app has a large number of in-app products, the response may be paginated. In this case the response field `tokenPagination.nextPageToken` will be set and the caller should provide its value as a `token` request parameter to retrieve the next page. This method should no longer be used to retrieve subscriptions. See [this article](https://android-developers.googleblog.com/2023/06/changes-to-google-play-developer-api-june-2023.html) for more information.",
          "parameters": {
            "packageName": {
              "type": "string",
              "required": true,
              "description": "Package name of the app.",
              "location": "path"
            },
            "startIndex": {
              "deprecated": true,
              "description": "Deprecated and ignored. Set the `token` parameter to retrieve the next page.",
              "type": "integer",
              "location": "query",
              "format": "uint32"
            },
            "token": {
              "description": "Pagination token. If empty, list starts at the first product.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "format": "uint32",
              "type": "integer",
              "description": "Deprecated and ignored. The page size is determined by the server.",
              "location": "query",
              "deprecated": true
            }
          },
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts",
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts",
          "response": {
            "$ref": "InappproductsListResponse"
          },
          "parameterOrder": [
            "packageName"
          ],
          "id": "androidpublisher.inappproducts.list",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "httpMethod": "GET"
        }
      }
    },
    "apprecovery": {
      "methods": {
        "cancel": {
          "parameterOrder": [
            "packageName",
            "appRecoveryId"
          ],
          "parameters": {
            "packageName": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Required. Package name of the app for which recovery action cancellation is requested."
            },
            "appRecoveryId": {
              "format": "int64",
              "description": "Required. ID corresponding to the app recovery action.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "description": "Cancel an already executing app recovery action. Note that this action changes status of the recovery action to CANCELED.",
          "id": "androidpublisher.apprecovery.cancel",
          "flatPath": "androidpublisher/v3/applications/{packageName}/appRecoveries/{appRecoveryId}:cancel",
          "response": {
            "$ref": "CancelAppRecoveryResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "CancelAppRecoveryRequest"
          },
          "path": "androidpublisher/v3/applications/{packageName}/appRecoveries/{appRecoveryId}:cancel"
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameters": {
            "packageName": {
              "type": "string",
              "description": "Required. Package name of the app for which list of recovery actions is requested.",
              "location": "path",
              "required": true
            },
            "versionCode": {
              "location": "query",
              "type": "string",
              "description": "Required. Version code targeted by the list of recovery actions.",
              "format": "int64"
            }
          },
          "path": "androidpublisher/v3/applications/{packageName}/appRecoveries",
          "id": "androidpublisher.apprecovery.list",
          "parameterOrder": [
            "packageName"
          ],
          "flatPath": "androidpublisher/v3/applications/{packageName}/appRecoveries",
          "description": "List all app recovery action resources associated with a particular package name and app version.",
          "response": {
            "$ref": "ListAppRecoveriesResponse"
          },
          "httpMethod": "GET"
        },
        "addTargeting": {
          "request": {
            "$ref": "AddTargetingRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameters": {
            "packageName": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. Package name of the app for which recovery action is to be updated."
            },
            "appRecoveryId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Required. ID corresponding to the app recovery action.",
              "format": "int64"
            }
          },
          "httpMethod": "POST",
          "id": "androidpublisher.apprecovery.addTargeting",
          "parameterOrder": [
            "packageName",
            "appRecoveryId"
          ],
          "description": "Incrementally update targeting for a recovery action. Note that only the criteria selected during the creation of recovery action can be expanded.",
          "flatPath": "androidpublisher/v3/applications/{packageName}/appRecoveries/{appRecoveryId}:addTargeting",
          "response": {
            "$ref": "AddTargetingResponse"
          },
          "path": "androidpublisher/v3/applications/{packageName}/appRecoveries/{appRecoveryId}:addTargeting"
        },
        "deploy": {
          "response": {
            "$ref": "DeployAppRecoveryResponse"
          },
          "id": "androidpublisher.apprecovery.deploy",
          "flatPath": "androidpublisher/v3/applications/{packageName}/appRecoveries/{appRecoveryId}:deploy",
          "path": "androidpublisher/v3/applications/{packageName}/appRecoveries/{appRecoveryId}:deploy",
          "description": "Deploy an already created app recovery action with recovery status DRAFT. Note that this action activates the recovery action for all targeted users and changes its status to ACTIVE.",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameters": {
            "packageName": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Required. Package name of the app for which recovery action is deployed."
            },
            "appRecoveryId": {
              "format": "int64",
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. ID corresponding to the app recovery action to deploy."
            }
          },
          "parameterOrder": [
            "packageName",
            "appRecoveryId"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "DeployAppRecoveryRequest"
          }
        },
        "create": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "description": "Create an app recovery action with recovery status as DRAFT. Note that this action does not execute the recovery action.",
          "request": {
            "$ref": "CreateDraftAppRecoveryRequest"
          },
          "httpMethod": "POST",
          "parameters": {
            "packageName": {
              "type": "string",
              "description": "Required. Package name of the app on which recovery action is performed.",
              "location": "path",
              "required": true
            }
          },
          "parameterOrder": [
            "packageName"
          ],
          "id": "androidpublisher.apprecovery.create",
          "response": {
            "$ref": "AppRecoveryAction"
          },
          "flatPath": "androidpublisher/v3/applications/{packageName}/appRecoveries",
          "path": "androidpublisher/v3/applications/{packageName}/appRecoveries"
        }
      }
    },
    "systemapks": {
      "resources": {
        "variants": {
          "methods": {
            "list": {
              "parameters": {
                "packageName": {
                  "description": "Package name of the app.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "versionCode": {
                  "description": "The version code of the App Bundle.",
                  "type": "string",
                  "required": true,
                  "format": "int64",
                  "location": "path"
                }
              },
              "description": "Returns the list of previously created system APK variants.",
              "id": "androidpublisher.systemapks.variants.list",
              "parameterOrder": [
                "packageName",
                "versionCode"
              ],
              "response": {
                "$ref": "SystemApksListResponse"
              },
              "path": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants",
              "httpMethod": "GET",
              "flatPath": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "create": {
              "response": {
                "$ref": "Variant"
              },
              "parameters": {
                "packageName": {
                  "description": "Package name of the app.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "versionCode": {
                  "required": true,
                  "description": "The version code of the App Bundle.",
                  "location": "path",
                  "type": "string",
                  "format": "int64"
                }
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants",
              "parameterOrder": [
                "packageName",
                "versionCode"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "id": "androidpublisher.systemapks.variants.create",
              "description": "Creates an APK which is suitable for inclusion in a system image from an already uploaded Android App Bundle.",
              "path": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants",
              "request": {
                "$ref": "Variant"
              },
              "httpMethod": "POST"
            },
            "get": {
              "httpMethod": "GET",
              "path": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants/{variantId}",
              "description": "Returns a previously created system APK variant.",
              "response": {
                "$ref": "Variant"
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants/{variantId}",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "id": "androidpublisher.systemapks.variants.get",
              "parameters": {
                "packageName": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Package name of the app."
                },
                "versionCode": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "The version code of the App Bundle.",
                  "format": "int64"
                },
                "variantId": {
                  "type": "integer",
                  "description": "The ID of a previously created system APK variant.",
                  "required": true,
                  "location": "path",
                  "format": "uint32"
                }
              },
              "parameterOrder": [
                "packageName",
                "versionCode",
                "variantId"
              ]
            },
            "download": {
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameterOrder": [
                "packageName",
                "versionCode",
                "variantId"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants/{variantId}:download",
              "supportsMediaDownload": true,
              "id": "androidpublisher.systemapks.variants.download",
              "parameters": {
                "versionCode": {
                  "location": "path",
                  "format": "int64",
                  "required": true,
                  "type": "string",
                  "description": "The version code of the App Bundle."
                },
                "packageName": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Package name of the app."
                },
                "variantId": {
                  "format": "uint32",
                  "description": "The ID of a previously created system APK variant.",
                  "location": "path",
                  "type": "integer",
                  "required": true
                }
              },
              "httpMethod": "GET",
              "flatPath": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants/{variantId}:download",
              "useMediaDownloadService": true,
              "description": "Downloads a previously created system APK which is suitable for inclusion in a system image."
            }
          }
        }
      }
    },
    "appstoreappsreview": {
      "methods": {
        "uploadapk": {
          "supportsMediaUpload": true,
          "flatPath": "androidpublisher/v3/appstore/{appStorePackageName}/apps/{packageName}/apks:upload",
          "response": {
            "$ref": "UploadApkResponse"
          },
          "parameterOrder": [
            "appStorePackageName",
            "packageName"
          ],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "description": "Upload an APK file for the hosted app. Returns an ID to track this APK.",
          "id": "androidpublisher.appstoreappsreview.uploadapk",
          "mediaUpload": {
            "maxSize": "10737418240",
            "accept": [
              "application/octet-stream",
              "application/vnd.android.package-archive"
            ],
            "protocols": {
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/androidpublisher/v3/appstore/{appStorePackageName}/apps/{packageName}/apks:upload"
              },
              "simple": {
                "multipart": true,
                "path": "/upload/androidpublisher/v3/appstore/{appStorePackageName}/apps/{packageName}/apks:upload"
              }
            }
          },
          "path": "androidpublisher/v3/appstore/{appStorePackageName}/apps/{packageName}/apks:upload",
          "parameters": {
            "appStorePackageName": {
              "required": true,
              "description": "Required. Package name of the third-party app store.",
              "location": "path",
              "type": "string"
            },
            "packageName": {
              "description": "Required. Package name of the app.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "request": {
            "$ref": "UploadApkRequest"
          }
        },
        "createappstorehostedapp": {
          "parameters": {
            "appStorePackageName": {
              "description": "Required. Package name of the third-party app store.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "path": "androidpublisher/v3/appstore/{appStorePackageName}/apps:create",
          "description": "Creates an app store hosted app. This must be called before any other RPCs for this hosted app.",
          "id": "androidpublisher.appstoreappsreview.createappstorehostedapp",
          "response": {
            "$ref": "CreateAppStoreHostedAppResponse"
          },
          "request": {
            "$ref": "CreateAppStoreHostedAppRequest"
          },
          "flatPath": "androidpublisher/v3/appstore/{appStorePackageName}/apps:create",
          "parameterOrder": [
            "appStorePackageName"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "httpMethod": "POST"
        },
        "uploadappstoreapppolicydeclarationfile": {
          "parameters": {
            "appStorePackageName": {
              "type": "string",
              "description": "Required. Package name of the third-party app store.",
              "required": true,
              "location": "path"
            },
            "packageName": {
              "description": "Required. Package name of the app.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "flatPath": "androidpublisher/v3/appstore/{appStorePackageName}/apps/{packageName}/policyDeclarationFiles:upload",
          "supportsMediaUpload": true,
          "id": "androidpublisher.appstoreappsreview.uploadappstoreapppolicydeclarationfile",
          "response": {
            "$ref": "UploadAppStoreAppPolicyDeclarationFileResponse"
          },
          "parameterOrder": [
            "appStorePackageName",
            "packageName"
          ],
          "description": "Upload a policy declaration file for the hosted app. Returns an ID to track the file.",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "mediaUpload": {
            "accept": [
              "application/pdf",
              "image/jpeg",
              "image/png"
            ],
            "protocols": {
              "resumable": {
                "path": "/resumable/upload/androidpublisher/v3/appstore/{appStorePackageName}/apps/{packageName}/policyDeclarationFiles:upload",
                "multipart": true
              },
              "simple": {
                "multipart": true,
                "path": "/upload/androidpublisher/v3/appstore/{appStorePackageName}/apps/{packageName}/policyDeclarationFiles:upload"
              }
            },
            "maxSize": "10485760"
          },
          "request": {
            "$ref": "UploadAppStoreAppPolicyDeclarationFileRequest"
          },
          "path": "androidpublisher/v3/appstore/{appStorePackageName}/apps/{packageName}/policyDeclarationFiles:upload",
          "httpMethod": "POST"
        },
        "updateappstorehostedapppublishstatus": {
          "request": {
            "$ref": "UpdateAppStoreHostedAppPublishStatusRequest"
          },
          "response": {
            "$ref": "UpdateAppStoreHostedAppPublishStatusResponse"
          },
          "path": "androidpublisher/v3/appstore/{appStorePackageName}/apps/{packageName}:updateAppStoreHostedAppPublishStatus",
          "parameters": {
            "appStorePackageName": {
              "description": "Required. Package name of the third-party app store.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "packageName": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. Package name of the app."
            }
          },
          "flatPath": "androidpublisher/v3/appstore/{appStorePackageName}/apps/{packageName}:updateAppStoreHostedAppPublishStatus",
          "id": "androidpublisher.appstoreappsreview.updateappstorehostedapppublishstatus",
          "description": "Updates the publish status of an app store hosted app. The default state after calling UpdateAppStoreHostedApp is PUBLISHED. It is not necessary to call this RPC explicitly to set an app to PUBLISHED.",
          "parameterOrder": [
            "appStorePackageName",
            "packageName"
          ],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        },
        "uploadimage": {
          "request": {
            "$ref": "UploadImageRequest"
          },
          "parameterOrder": [
            "appStorePackageName",
            "packageName"
          ],
          "path": "androidpublisher/v3/appstore/{appStorePackageName}/apps/{packageName}/images:upload",
          "description": "Upload a screenshot or app icon for the hosted app. Returns an ID to track the image.",
          "httpMethod": "POST",
          "parameters": {
            "packageName": {
              "description": "Required. Package name of the app.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "appStorePackageName": {
              "description": "Required. Package name of the third-party app store.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "id": "androidpublisher.appstoreappsreview.uploadimage",
          "supportsMediaUpload": true,
          "response": {
            "$ref": "UploadImageResponse"
          },
          "mediaUpload": {
            "protocols": {
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/androidpublisher/v3/appstore/{appStorePackageName}/apps/{packageName}/images:upload"
              },
              "simple": {
                "multipart": true,
                "path": "/upload/androidpublisher/v3/appstore/{appStorePackageName}/apps/{packageName}/images:upload"
              }
            },
            "maxSize": "15728640",
            "accept": [
              "image/*"
            ]
          },
          "flatPath": "androidpublisher/v3/appstore/{appStorePackageName}/apps/{packageName}/images:upload",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        },
        "updateappstorehostedapp": {
          "id": "androidpublisher.appstoreappsreview.updateappstorehostedapp",
          "httpMethod": "POST",
          "response": {
            "$ref": "UpdateAppStoreHostedAppResponse"
          },
          "description": "Updates details for an app hosted on an app store. Use this to provide details for a new app, or to update details for an existing app. The update will be sent for review immediately after creation.",
          "flatPath": "androidpublisher/v3/appstore/{appStorePackageName}/apps:update",
          "path": "androidpublisher/v3/appstore/{appStorePackageName}/apps:update",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "request": {
            "$ref": "UpdateAppStoreHostedAppRequest"
          },
          "parameterOrder": [
            "appStorePackageName"
          ],
          "parameters": {
            "appStorePackageName": {
              "type": "string",
              "description": "Required. Package name of the third-party app store.",
              "location": "path",
              "required": true
            }
          }
        }
      }
    },
    "reviews": {
      "methods": {
        "list": {
          "parameterOrder": [
            "packageName"
          ],
          "parameters": {
            "token": {
              "description": "Pagination token. If empty, list starts at the first review.",
              "location": "query",
              "type": "string"
            },
            "packageName": {
              "required": true,
              "location": "path",
              "description": "Package name of the app.",
              "type": "string"
            },
            "startIndex": {
              "location": "query",
              "description": "The index of the first element to return.",
              "type": "integer",
              "format": "uint32"
            },
            "translationLanguage": {
              "description": "Language localization code.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "type": "integer",
              "description": "How many results the list operation should return.",
              "format": "uint32",
              "location": "query"
            }
          },
          "path": "androidpublisher/v3/applications/{packageName}/reviews",
          "response": {
            "$ref": "ReviewsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "description": "Lists all reviews.",
          "flatPath": "androidpublisher/v3/applications/{packageName}/reviews",
          "id": "androidpublisher.reviews.list",
          "httpMethod": "GET"
        },
        "get": {
          "response": {
            "$ref": "Review"
          },
          "flatPath": "androidpublisher/v3/applications/{packageName}/reviews/{reviewId}",
          "parameters": {
            "packageName": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Package name of the app."
            },
            "translationLanguage": {
              "description": "Language localization code.",
              "type": "string",
              "location": "query"
            },
            "reviewId": {
              "required": true,
              "description": "Unique identifier for a review.",
              "location": "path",
              "type": "string"
            }
          },
          "parameterOrder": [
            "packageName",
            "reviewId"
          ],
          "path": "androidpublisher/v3/applications/{packageName}/reviews/{reviewId}",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "httpMethod": "GET",
          "id": "androidpublisher.reviews.get",
          "description": "Gets a single review."
        },
        "reply": {
          "parameters": {
            "packageName": {
              "description": "Package name of the app.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "reviewId": {
              "type": "string",
              "description": "Unique identifier for a review.",
              "required": true,
              "location": "path"
            }
          },
          "request": {
            "$ref": "ReviewsReplyRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameterOrder": [
            "packageName",
            "reviewId"
          ],
          "httpMethod": "POST",
          "id": "androidpublisher.reviews.reply",
          "flatPath": "androidpublisher/v3/applications/{packageName}/reviews/{reviewId}:reply",
          "path": "androidpublisher/v3/applications/{packageName}/reviews/{reviewId}:reply",
          "description": "Replies to a single review, or updates an existing reply.",
          "response": {
            "$ref": "ReviewsReplyResponse"
          }
        }
      }
    },
    "grants": {
      "methods": {
        "patch": {
          "parameters": {
            "name": {
              "description": "Required. Resource name for this grant, following the pattern \"developers/{developer}/users/{email}/grants/{package_name}\". If this grant is for a draft app, the app ID will be used in this resource name instead of the package name.",
              "pattern": "^developers/[^/]+/users/[^/]+/grants/[^/]+$",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "updateMask": {
              "type": "string",
              "description": "Optional. The list of fields to be updated.",
              "location": "query",
              "format": "google-fieldmask"
            }
          },
          "path": "androidpublisher/v3/{+name}",
          "flatPath": "androidpublisher/v3/developers/{developersId}/users/{usersId}/grants/{grantsId}",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "response": {
            "$ref": "Grant"
          },
          "description": "Updates access for the user to the given package.",
          "request": {
            "$ref": "Grant"
          },
          "httpMethod": "PATCH",
          "id": "androidpublisher.grants.patch"
        },
        "create": {
          "flatPath": "androidpublisher/v3/developers/{developersId}/users/{usersId}/grants",
          "response": {
            "$ref": "Grant"
          },
          "parameters": {
            "parent": {
              "type": "string",
              "description": "Required. The user which needs permission. Format: developers/{developer}/users/{user}",
              "pattern": "^developers/[^/]+/users/[^/]+$",
              "required": true,
              "location": "path"
            }
          },
          "parameterOrder": [
            "parent"
          ],
          "id": "androidpublisher.grants.create",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "path": "androidpublisher/v3/{+parent}/grants",
          "description": "Grant access for a user to the given package.",
          "httpMethod": "POST",
          "request": {
            "$ref": "Grant"
          }
        },
        "delete": {
          "parameters": {
            "name": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Required. The name of the grant to delete. Format: developers/{developer}/users/{email}/grants/{package_name}",
              "pattern": "^developers/[^/]+/users/[^/]+/grants/[^/]+$"
            }
          },
          "description": "Removes all access for the user to the given package or developer account.",
          "parameterOrder": [
            "name"
          ],
          "path": "androidpublisher/v3/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "id": "androidpublisher.grants.delete",
          "flatPath": "androidpublisher/v3/developers/{developersId}/users/{usersId}/grants/{grantsId}",
          "httpMethod": "DELETE"
        }
      }
    },
    "appsigning": {
      "methods": {
        "enrollApp": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "id": "androidpublisher.appsigning.enrollApp",
          "httpMethod": "POST",
          "parameterOrder": [
            "name"
          ],
          "request": {
            "$ref": "EnrollAppRequest"
          },
          "flatPath": "androidpublisher/v3/applications/{name}/appSigning:enrollApp",
          "description": "Enrolls an app in Play App Signing using a self-hosted Google Cloud KMS key. Warning: Do not use this method for standard Play App Signing enrollment. * Standard enrollment with Google-generated or Google-managed keys cannot be done via API. * This advanced API is strictly for enterprise organizations with mandatory compliance, regulatory, or policy requirements to retain key custody in an external Google Cloud KMS instance. * Prerequisites: Requires an active, properly configured Google Cloud KMS key with appropriate IAM permissions granted to Google Play before calling this method. See Help Center: https://support.google.com/googleplay/android-developer/answer/9842756",
          "response": {
            "$ref": "EnrollAppResponse"
          },
          "path": "androidpublisher/v3/applications/{name}/appSigning:enrollApp",
          "parameters": {
            "name": {
              "type": "string",
              "description": "Required. Either package name or app ID of the app enrolling in Play Signing.",
              "required": true,
              "location": "path"
            }
          }
        },
        "rotateAppSigningKey": {
          "id": "androidpublisher.appsigning.rotateAppSigningKey",
          "flatPath": "androidpublisher/v3/applications/{name}/appSigning:rotateAppSigningKey",
          "response": {
            "$ref": "RotateAppSigningKeyResponse"
          },
          "httpMethod": "POST",
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. Either package name or app ID of the app rotating the signing key."
            }
          },
          "request": {
            "$ref": "RotateAppSigningKeyRequest"
          },
          "path": "androidpublisher/v3/applications/{name}/appSigning:rotateAppSigningKey",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "description": "Rotates an app's signing key to a new self-hosted Google Cloud KMS key. Warning: This method only applies to apps enrolled with self-hosted Cloud KMS keys. For apps using standard Google-managed Play App Signing, key rotation requests must be initiated through the Google Play Console UI. See Help Center: https://support.google.com/googleplay/android-developer/answer/9842756",
          "parameterOrder": [
            "name"
          ]
        }
      }
    },
    "edits": {
      "resources": {
        "details": {
          "methods": {
            "patch": {
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "httpMethod": "PATCH",
              "description": "Patches details of an app.",
              "id": "androidpublisher.edits.details.patch",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/details",
              "request": {
                "$ref": "AppDetails"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "response": {
                "$ref": "AppDetails"
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/details",
              "parameters": {
                "packageName": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Package name of the app."
                },
                "editId": {
                  "location": "path",
                  "required": true,
                  "description": "Identifier of the edit.",
                  "type": "string"
                }
              }
            },
            "update": {
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/details",
              "response": {
                "$ref": "AppDetails"
              },
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "parameters": {
                "packageName": {
                  "location": "path",
                  "description": "Package name of the app.",
                  "type": "string",
                  "required": true
                },
                "editId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Identifier of the edit."
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/details",
              "id": "androidpublisher.edits.details.update",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "httpMethod": "PUT",
              "request": {
                "$ref": "AppDetails"
              },
              "description": "Updates details of an app."
            },
            "get": {
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/details",
              "response": {
                "$ref": "AppDetails"
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/details",
              "id": "androidpublisher.edits.details.get",
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "parameters": {
                "editId": {
                  "description": "Identifier of the edit.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "packageName": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Package name of the app."
                }
              },
              "description": "Gets details of an app."
            }
          }
        },
        "testers": {
          "methods": {
            "get": {
              "parameterOrder": [
                "packageName",
                "editId",
                "track"
              ],
              "id": "androidpublisher.edits.testers.get",
              "parameters": {
                "packageName": {
                  "location": "path",
                  "description": "Package name of the app.",
                  "type": "string",
                  "required": true
                },
                "track": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The track to read from."
                },
                "editId": {
                  "description": "Identifier of the edit.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/testers/{track}",
              "httpMethod": "GET",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/testers/{track}",
              "response": {
                "$ref": "Testers"
              },
              "description": "Gets testers. Note: Testers resource does not support email lists.",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "patch": {
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/testers/{track}",
              "parameters": {
                "editId": {
                  "required": true,
                  "description": "Identifier of the edit.",
                  "type": "string",
                  "location": "path"
                },
                "track": {
                  "location": "path",
                  "required": true,
                  "description": "The track to update.",
                  "type": "string"
                },
                "packageName": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Package name of the app."
                }
              },
              "response": {
                "$ref": "Testers"
              },
              "request": {
                "$ref": "Testers"
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/testers/{track}",
              "parameterOrder": [
                "packageName",
                "editId",
                "track"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "id": "androidpublisher.edits.testers.patch",
              "description": "Patches testers. Note: Testers resource does not support email lists.",
              "httpMethod": "PATCH"
            },
            "update": {
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameters": {
                "track": {
                  "location": "path",
                  "description": "The track to update.",
                  "type": "string",
                  "required": true
                },
                "editId": {
                  "description": "Identifier of the edit.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "packageName": {
                  "type": "string",
                  "location": "path",
                  "description": "Package name of the app.",
                  "required": true
                }
              },
              "request": {
                "$ref": "Testers"
              },
[...]
