{
  "protocol": "rest",
  "discoveryVersion": "v1",
  "description": "Lets Android application developers access their Google Play accounts. At a high level, the expected workflow is to \"insert\" an Edit, make changes as necessary, and then \"commit\" it. ",
  "resources": {
    "internalappsharingartifacts": {
      "methods": {
        "uploadapk": {
          "description": "Uploads an APK to internal app sharing. If you are using the Google API client libraries, please increase the timeout of the http request before calling this endpoint (a timeout of 2 minutes is recommended). See [Timeouts and Errors](https://developers.google.com/api-client-library/java/google-api-java-client/errors) for an example in java.",
          "httpMethod": "POST",
          "parameterOrder": [
            "packageName"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "mediaUpload": {
            "protocols": {
              "resumable": {
                "path": "/resumable/upload/androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/apk",
                "multipart": true
              },
              "simple": {
                "multipart": true,
                "path": "/upload/androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/apk"
              }
            },
            "maxSize": "1073741824",
            "accept": [
              "application/octet-stream",
              "application/vnd.android.package-archive"
            ]
          },
          "parameters": {
            "packageName": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Package name of the app."
            }
          },
          "supportsMediaUpload": true,
          "id": "androidpublisher.internalappsharingartifacts.uploadapk",
          "flatPath": "androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/apk",
          "response": {
            "$ref": "InternalAppSharingArtifact"
          },
          "path": "androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/apk"
        },
        "uploadbundle": {
          "description": "Uploads an app bundle to internal app sharing. If you are using the Google API client libraries, please increase the timeout of the http request before calling this endpoint (a timeout of 2 minutes is recommended). See [Timeouts and Errors](https://developers.google.com/api-client-library/java/google-api-java-client/errors) for an example in java.",
          "httpMethod": "POST",
          "parameterOrder": [
            "packageName"
          ],
          "mediaUpload": {
            "maxSize": "10737418240",
            "accept": [
              "application/octet-stream"
            ],
            "protocols": {
              "resumable": {
                "path": "/resumable/upload/androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/bundle",
                "multipart": true
              },
              "simple": {
                "multipart": true,
                "path": "/upload/androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/bundle"
              }
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameters": {
            "packageName": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Package name of the app."
            }
          },
          "id": "androidpublisher.internalappsharingartifacts.uploadbundle",
          "supportsMediaUpload": true,
          "path": "androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/bundle",
          "flatPath": "androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/bundle",
          "response": {
            "$ref": "InternalAppSharingArtifact"
          }
        }
      }
    },
    "reviews": {
      "methods": {
        "list": {
          "description": "Lists all reviews.",
          "parameterOrder": [
            "packageName"
          ],
          "httpMethod": "GET",
          "parameters": {
            "translationLanguage": {
              "description": "Language localization code.",
              "type": "string",
              "location": "query"
            },
            "packageName": {
              "location": "path",
              "description": "Package name of the app.",
              "required": true,
              "type": "string"
            },
            "startIndex": {
              "location": "query",
              "type": "integer",
              "description": "The index of the first element to return.",
              "format": "uint32"
            },
            "maxResults": {
              "location": "query",
              "type": "integer",
              "description": "How many results the list operation should return.",
              "format": "uint32"
            },
            "token": {
              "location": "query",
              "type": "string",
              "description": "Pagination token. If empty, list starts at the first review."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "path": "androidpublisher/v3/applications/{packageName}/reviews",
          "flatPath": "androidpublisher/v3/applications/{packageName}/reviews",
          "response": {
            "$ref": "ReviewsListResponse"
          },
          "id": "androidpublisher.reviews.list"
        },
        "get": {
          "id": "androidpublisher.reviews.get",
          "flatPath": "androidpublisher/v3/applications/{packageName}/reviews/{reviewId}",
          "response": {
            "$ref": "Review"
          },
          "path": "androidpublisher/v3/applications/{packageName}/reviews/{reviewId}",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameters": {
            "packageName": {
              "location": "path",
              "description": "Package name of the app.",
              "required": true,
              "type": "string"
            },
            "translationLanguage": {
              "location": "query",
              "type": "string",
              "description": "Language localization code."
            },
            "reviewId": {
              "required": true,
              "type": "string",
              "description": "Unique identifier for a review.",
              "location": "path"
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "packageName",
            "reviewId"
          ],
          "description": "Gets a single review."
        },
        "reply": {
          "id": "androidpublisher.reviews.reply",
          "path": "androidpublisher/v3/applications/{packageName}/reviews/{reviewId}:reply",
          "flatPath": "androidpublisher/v3/applications/{packageName}/reviews/{reviewId}:reply",
          "response": {
            "$ref": "ReviewsReplyResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameters": {
            "reviewId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Unique identifier for a review."
            },
            "packageName": {
              "location": "path",
              "description": "Package name of the app.",
              "required": true,
              "type": "string"
            }
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "packageName",
            "reviewId"
          ],
          "request": {
            "$ref": "ReviewsReplyRequest"
          },
          "description": "Replies to a single review, or updates an existing reply."
        }
      }
    },
    "inappproducts": {
      "methods": {
        "get": {
          "description": "Gets an in-app product, which can be a managed product or a subscription. This method should no longer be used to retrieve subscriptions. See [this article](https://android-developers.googleblog.com/2023/06/changes-to-google-play-developer-api-june-2023.html) for more information.",
          "parameterOrder": [
            "packageName",
            "sku"
          ],
          "httpMethod": "GET",
          "parameters": {
            "packageName": {
              "description": "Package name of the app.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "sku": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Unique identifier for the in-app product."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "response": {
            "$ref": "InAppProduct"
          },
          "id": "androidpublisher.inappproducts.get"
        },
        "patch": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameters": {
            "sku": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Unique identifier for the in-app product."
            },
            "latencyTolerance": {
              "type": "string",
              "description": "Optional. The latency tolerance for the propagation of this product update. Defaults to latency-sensitive.",
              "enum": [
                "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
                "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
                "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
              ],
              "location": "query",
              "enumDescriptions": [
                "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
                "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
                "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
              ]
            },
            "autoConvertMissingPrices": {
              "location": "query",
              "type": "boolean",
              "description": "If true the prices for all regions targeted by the parent app that don't have a price specified for this in-app product will be auto converted to the target currency based on the default price. Defaults to false."
            },
            "packageName": {
              "description": "Package name of the app.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "id": "androidpublisher.inappproducts.patch",
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "response": {
            "$ref": "InAppProduct"
          },
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "description": "Patches an in-app product (a managed product or a subscription). This method should no longer be used to update subscriptions. See [this article](https://android-developers.googleblog.com/2023/06/changes-to-google-play-developer-api-june-2023.html) for more information.",
          "httpMethod": "PATCH",
          "parameterOrder": [
            "packageName",
            "sku"
          ],
          "request": {
            "$ref": "InAppProduct"
          }
        },
        "batchDelete": {
          "id": "androidpublisher.inappproducts.batchDelete",
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts:batchDelete",
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts:batchDelete",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameters": {
            "packageName": {
              "required": true,
              "type": "string",
              "description": "Package name of the app.",
              "location": "path"
            }
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "packageName"
          ],
          "request": {
            "$ref": "InappproductsBatchDeleteRequest"
          },
          "description": "Deletes in-app products (managed products or subscriptions). Set the latencyTolerance field on nested requests to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT to achieve maximum update throughput. This method should not be used to delete subscriptions. See [this article](https://android-developers.googleblog.com/2023/06/changes-to-google-play-developer-api-june-2023.html) for more information."
        },
        "batchUpdate": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameters": {
            "packageName": {
              "description": "Package name of the app.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "id": "androidpublisher.inappproducts.batchUpdate",
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts:batchUpdate",
          "response": {
            "$ref": "InappproductsBatchUpdateResponse"
          },
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts:batchUpdate",
          "description": "Updates or inserts one or more in-app products (managed products or subscriptions). Set the latencyTolerance field on nested requests to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT to achieve maximum update throughput. This method should no longer be used to update subscriptions. See [this article](https://android-developers.googleblog.com/2023/06/changes-to-google-play-developer-api-june-2023.html) for more information.",
          "httpMethod": "POST",
          "parameterOrder": [
            "packageName"
          ],
          "request": {
            "$ref": "InappproductsBatchUpdateRequest"
          }
        },
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameters": {
            "packageName": {
              "location": "path",
              "description": "Package name of the app.",
              "required": true,
              "type": "string"
            },
            "autoConvertMissingPrices": {
              "type": "boolean",
              "description": "If true the prices for all regions targeted by the parent app that don't have a price specified for this in-app product will be auto converted to the target currency based on the default price. Defaults to false.",
              "location": "query"
            }
          },
          "id": "androidpublisher.inappproducts.insert",
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts",
          "response": {
            "$ref": "InAppProduct"
          },
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts",
          "description": "Creates an in-app product (a managed product or a subscription). This method should no longer be used to create subscriptions. See [this article](https://android-developers.googleblog.com/2023/06/changes-to-google-play-developer-api-june-2023.html) for more information.",
          "httpMethod": "POST",
          "parameterOrder": [
            "packageName"
          ],
          "request": {
            "$ref": "InAppProduct"
          }
        },
        "batchGet": {
          "description": "Reads multiple in-app products, which can be managed products or subscriptions. This method should not be used to retrieve subscriptions. See [this article](https://android-developers.googleblog.com/2023/06/changes-to-google-play-developer-api-june-2023.html) for more information.",
          "parameterOrder": [
            "packageName"
          ],
          "httpMethod": "GET",
          "parameters": {
            "sku": {
              "location": "query",
              "description": "Unique identifier for the in-app products.",
              "repeated": true,
              "type": "string"
            },
            "packageName": {
              "location": "path",
              "description": "Package name of the app.",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts:batchGet",
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts:batchGet",
          "response": {
            "$ref": "InappproductsBatchGetResponse"
          },
          "id": "androidpublisher.inappproducts.batchGet"
        },
        "update": {
          "httpMethod": "PUT",
          "parameterOrder": [
            "packageName",
            "sku"
          ],
          "request": {
            "$ref": "InAppProduct"
          },
          "description": "Updates an in-app product (a managed product or a subscription). This method should no longer be used to update subscriptions. See [this article](https://android-developers.googleblog.com/2023/06/changes-to-google-play-developer-api-june-2023.html) for more information.",
          "id": "androidpublisher.inappproducts.update",
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "response": {
            "$ref": "InAppProduct"
          },
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameters": {
            "allowMissing": {
              "location": "query",
              "description": "If set to true, and the in-app product with the given package_name and sku doesn't exist, the in-app product will be created.",
              "type": "boolean"
            },
            "latencyTolerance": {
              "type": "string",
              "location": "query",
              "enumDescriptions": [
                "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
                "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
                "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
              ],
              "description": "Optional. The latency tolerance for the propagation of this product update. Defaults to latency-sensitive.",
              "enum": [
                "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
                "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
                "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
              ]
            },
            "autoConvertMissingPrices": {
              "location": "query",
              "description": "If true the prices for all regions targeted by the parent app that don't have a price specified for this in-app product will be auto converted to the target currency based on the default price. Defaults to false.",
              "type": "boolean"
            },
            "packageName": {
              "location": "path",
              "description": "Package name of the app.",
              "required": true,
              "type": "string"
            },
            "sku": {
              "location": "path",
              "description": "Unique identifier for the in-app product.",
              "required": true,
              "type": "string"
            }
          }
        },
        "delete": {
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "parameterOrder": [
            "packageName",
            "sku"
          ],
          "id": "androidpublisher.inappproducts.delete",
          "httpMethod": "DELETE",
          "parameters": {
            "packageName": {
              "required": true,
              "type": "string",
              "description": "Package name of the app.",
              "location": "path"
            },
            "sku": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Unique identifier for the in-app product."
            },
            "latencyTolerance": {
              "type": "string",
              "description": "Optional. The latency tolerance for the propagation of this product update. Defaults to latency-sensitive.",
              "enum": [
                "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
                "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
                "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
              ],
              "location": "query",
              "enumDescriptions": [
                "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
                "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
                "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
              ]
            }
          },
          "description": "Deletes an in-app product (a managed product or a subscription). This method should no longer be used to delete subscriptions. See [this article](https://android-developers.googleblog.com/2023/06/changes-to-google-play-developer-api-june-2023.html) for more information.",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameters": {
            "packageName": {
              "required": true,
              "type": "string",
              "description": "Package name of the app.",
              "location": "path"
            },
            "startIndex": {
              "description": "Deprecated and ignored. Set the `token` parameter to retrieve the next page.",
              "location": "query",
              "deprecated": true,
              "type": "integer",
              "format": "uint32"
            },
            "token": {
              "location": "query",
              "type": "string",
              "description": "Pagination token. If empty, list starts at the first product."
            },
            "maxResults": {
              "type": "integer",
              "format": "uint32",
              "description": "Deprecated and ignored. The page size is determined by the server.",
              "location": "query",
              "deprecated": true
            }
          },
          "id": "androidpublisher.inappproducts.list",
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts",
          "response": {
            "$ref": "InappproductsListResponse"
          },
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts",
          "description": "Lists all in-app products - both managed products and subscriptions. If an app has a large number of in-app products, the response may be paginated. In this case the response field `tokenPagination.nextPageToken` will be set and the caller should provide its value as a `token` request parameter to retrieve the next page. This method should no longer be used to retrieve subscriptions. See [this article](https://android-developers.googleblog.com/2023/06/changes-to-google-play-developer-api-june-2023.html) for more information.",
          "httpMethod": "GET",
          "parameterOrder": [
            "packageName"
          ]
        }
      }
    },
    "purchases": {
      "resources": {
        "voidedpurchases": {
          "methods": {
            "list": {
              "description": "Lists the purchases that were canceled, refunded or charged-back.",
              "httpMethod": "GET",
              "parameterOrder": [
                "packageName"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameters": {
                "packageName": {
                  "required": true,
                  "type": "string",
                  "description": "The package name of the application for which voided purchases need to be returned (for example, 'com.some.thing').",
                  "location": "path"
                },
                "startIndex": {
                  "type": "integer",
                  "description": "Defines the index of the first element to return. This can only be used if indexed paging is enabled.",
                  "format": "uint32",
                  "location": "query"
                },
                "token": {
                  "location": "query",
                  "description": "Defines the token of the page to return, usually taken from TokenPagination. This can only be used if token paging is enabled.",
                  "type": "string"
                },
                "includeQuantityBasedPartialRefund": {
                  "description": "Optional. Whether to include voided purchases of quantity-based partial refunds, which are applicable only to multi-quantity purchases. If true, additional voided purchases may be returned with voidedQuantity that indicates the refund quantity of a quantity-based partial refund. The default value is false.",
                  "type": "boolean",
                  "location": "query"
                },
                "maxResults": {
                  "location": "query",
                  "type": "integer",
                  "description": "Defines how many results the list operation should return. The default number depends on the resource collection.",
                  "format": "uint32"
                },
                "type": {
                  "description": "The type of voided purchases that you want to see in the response. Possible values are: 0. Only voided in-app product purchases will be returned in the response. This is the default value. 1. Both voided in-app purchases and voided subscription purchases will be returned in the response. Note: Before requesting to receive voided subscription purchases, you must switch to use orderId in the response which uniquely identifies one-time purchases and subscriptions. Otherwise, you will receive multiple subscription orders with the same PurchaseToken, because subscription renewal orders share the same PurchaseToken.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "endTime": {
                  "location": "query",
                  "type": "string",
                  "description": "The time, in milliseconds since the Epoch, of the newest voided purchase that you want to see in the response. The value of this parameter cannot be greater than the current time and is ignored if a pagination token is set. Default value is current time. Note: This filter is applied on the time at which the record is seen as voided by our systems and not the actual voided time returned in the response.",
                  "format": "int64"
                },
                "startTime": {
                  "location": "query",
                  "description": "The time, in milliseconds since the Epoch, of the oldest voided purchase that you want to see in the response. The value of this parameter cannot be older than 30 days and is ignored if a pagination token is set. Default value is current time minus 30 days. Note: This filter is applied on the time at which the record is seen as voided by our systems and not the actual voided time returned in the response.",
                  "format": "int64",
                  "type": "string"
                }
              },
              "id": "androidpublisher.purchases.voidedpurchases.list",
              "path": "androidpublisher/v3/applications/{packageName}/purchases/voidedpurchases",
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/voidedpurchases",
              "response": {
                "$ref": "VoidedPurchasesListResponse"
              }
            }
          }
        },
        "subscriptions": {
          "methods": {
            "get": {
              "httpMethod": "GET",
              "parameterOrder": [
                "packageName",
                "subscriptionId",
                "token"
              ],
              "description": "Deprecated: Use purchases.subscriptionsv2.get instead. Checks whether a user's subscription purchase is valid and returns its expiry time.",
              "deprecated": true,
              "id": "androidpublisher.purchases.subscriptions.get",
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}",
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}",
              "response": {
                "$ref": "SubscriptionPurchase"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameters": {
                "subscriptionId": {
                  "required": true,
                  "type": "string",
                  "description": "The purchased subscription ID (for example, 'monthly001').",
                  "location": "path"
                },
                "packageName": {
                  "description": "The package name of the application for which this subscription was purchased (for example, 'com.some.thing').",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "token": {
                  "location": "path",
                  "description": "The token provided to the user's device when the subscription was purchased.",
                  "required": true,
                  "type": "string"
                }
              }
            },
            "cancel": {
              "parameterOrder": [
                "packageName",
                "subscriptionId",
                "token"
              ],
              "httpMethod": "POST",
              "deprecated": true,
              "description": "Deprecated: Use purchases.subscriptionsv2.cancel instead. Cancels a user's subscription purchase. The subscription remains valid until its expiration time. Newer version is available at purchases.subscriptionsv2.cancel for better client library support.",
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:cancel",
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:cancel",
              "id": "androidpublisher.purchases.subscriptions.cancel",
              "parameters": {
                "token": {
                  "description": "The token provided to the user's device when the subscription was purchased.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "subscriptionId": {
                  "required": true,
                  "type": "string",
                  "description": "Note: Since May 21, 2025, subscription_id is not required, and not recommended for subscription with add-ons. The purchased subscription ID (for example, 'monthly001').",
                  "location": "path"
                },
                "packageName": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The package name of the application for which this subscription was purchased (for example, 'com.some.thing')."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "revoke": {
              "httpMethod": "POST",
              "parameterOrder": [
                "packageName",
                "subscriptionId",
                "token"
              ],
              "description": "Deprecated: Use purchases.subscriptionsv2.revoke instead. Refunds and immediately revokes a user's subscription purchase. Access to the subscription will be terminated immediately and it will stop recurring.",
              "deprecated": true,
              "id": "androidpublisher.purchases.subscriptions.revoke",
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:revoke",
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:revoke",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameters": {
                "packageName": {
                  "location": "path",
                  "description": "The package name of the application for which this subscription was purchased (for example, 'com.some.thing').",
                  "required": true,
                  "type": "string"
                },
                "subscriptionId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The purchased subscription ID (for example, 'monthly001')."
                },
                "token": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The token provided to the user's device when the subscription was purchased."
                }
              }
            },
            "acknowledge": {
              "description": "Acknowledges a subscription purchase.",
              "httpMethod": "POST",
              "parameterOrder": [
                "packageName",
                "subscriptionId",
                "token"
              ],
              "request": {
                "$ref": "SubscriptionPurchasesAcknowledgeRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameters": {
                "packageName": {
                  "location": "path",
                  "description": "The package name of the application for which this subscription was purchased (for example, 'com.some.thing').",
                  "required": true,
                  "type": "string"
                },
                "subscriptionId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Note: Since May 21, 2025, subscription_id is not required, and not recommended for subscription with add-ons. The purchased subscription ID (for example, 'monthly001')."
                },
                "token": {
                  "required": true,
                  "type": "string",
                  "description": "The token provided to the user's device when the subscription was purchased.",
                  "location": "path"
                }
              },
              "id": "androidpublisher.purchases.subscriptions.acknowledge",
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:acknowledge",
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:acknowledge"
            },
            "defer": {
              "id": "androidpublisher.purchases.subscriptions.defer",
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:defer",
              "response": {
                "$ref": "SubscriptionPurchasesDeferResponse"
              },
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:defer",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameters": {
                "subscriptionId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The purchased subscription ID (for example, 'monthly001')."
                },
                "packageName": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The package name of the application for which this subscription was purchased (for example, 'com.some.thing')."
                },
                "token": {
                  "location": "path",
                  "description": "The token provided to the user's device when the subscription was purchased.",
                  "required": true,
                  "type": "string"
                }
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "packageName",
                "subscriptionId",
                "token"
              ],
              "request": {
                "$ref": "SubscriptionPurchasesDeferRequest"
              },
              "description": "Deprecated: Use purchases.subscriptionsv2.defer instead. Defers a user's subscription purchase until a specified future expiration time.",
              "deprecated": true
            },
            "refund": {
              "httpMethod": "POST",
              "parameterOrder": [
                "packageName",
                "subscriptionId",
                "token"
              ],
              "description": "Deprecated: Use orders.refund instead. Refunds a user's subscription purchase, but the subscription remains valid until its expiration time and it will continue to recur.",
              "deprecated": true,
              "id": "androidpublisher.purchases.subscriptions.refund",
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:refund",
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:refund",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameters": {
                "token": {
                  "description": "The token provided to the user's device when the subscription was purchased.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "subscriptionId": {
                  "location": "path",
                  "description": "\"The purchased subscription ID (for example, 'monthly001').",
                  "required": true,
                  "type": "string"
                },
                "packageName": {
                  "description": "The package name of the application for which this subscription was purchased (for example, 'com.some.thing').",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              }
            }
          }
        },
        "subscriptionsv2": {
          "methods": {
            "revoke": {
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptionsv2/tokens/{token}:revoke",
              "response": {
                "$ref": "RevokeSubscriptionPurchaseResponse"
              },
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptionsv2/tokens/{token}:revoke",
              "id": "androidpublisher.purchases.subscriptionsv2.revoke",
              "parameters": {
                "packageName": {
                  "location": "path",
                  "description": "Required. The package of the application for which this subscription was purchased (for example, 'com.some.thing').",
                  "required": true,
                  "type": "string"
                },
                "token": {
                  "required": true,
                  "type": "string",
                  "description": "Required. The token provided to the user's device when the subscription was purchased.",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameterOrder": [
                "packageName",
                "token"
              ],
              "request": {
                "$ref": "RevokeSubscriptionPurchaseRequest"
              },
              "httpMethod": "POST",
              "description": "Revoke a subscription purchase for the user."
            },
            "get": {
              "httpMethod": "GET",
              "parameterOrder": [
                "packageName",
                "token"
              ],
              "description": "Get metadata about a subscription",
              "id": "androidpublisher.purchases.subscriptionsv2.get",
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptionsv2/tokens/{token}",
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptionsv2/tokens/{token}",
              "response": {
                "$ref": "SubscriptionPurchaseV2"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameters": {
                "packageName": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The package of the application for which this subscription was purchased (for example, 'com.some.thing')."
                },
                "token": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The token provided to the user's device when the subscription was purchased."
                }
              }
            },
            "cancel": {
              "parameters": {
                "packageName": {
                  "description": "Required. The package of the application for which this subscription was purchased (for example, 'com.some.thing').",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "token": {
                  "description": "Required. The token provided to the user's device when the subscription was purchased.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptionsv2/tokens/{token}:cancel",
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptionsv2/tokens/{token}:cancel",
              "response": {
                "$ref": "CancelSubscriptionPurchaseResponse"
              },
              "id": "androidpublisher.purchases.subscriptionsv2.cancel",
              "description": "Cancel a subscription purchase for the user.",
              "parameterOrder": [
                "packageName",
                "token"
              ],
              "request": {
                "$ref": "CancelSubscriptionPurchaseRequest"
              },
              "httpMethod": "POST"
            },
            "defer": {
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptionsv2/tokens/{token}:defer",
              "response": {
                "$ref": "DeferSubscriptionPurchaseResponse"
              },
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptionsv2/tokens/{token}:defer",
              "id": "androidpublisher.purchases.subscriptionsv2.defer",
              "parameters": {
                "packageName": {
                  "required": true,
                  "type": "string",
                  "description": "Required. The package of the application for which this subscription was purchased (for example, 'com.some.thing').",
                  "location": "path"
                },
                "token": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The token provided to the user's device when the subscription was purchased."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameterOrder": [
                "packageName",
                "token"
              ],
              "request": {
                "$ref": "DeferSubscriptionPurchaseRequest"
              },
              "httpMethod": "POST",
              "description": "Defers the renewal of a subscription."
            }
          }
        },
        "productsv2": {
          "methods": {
            "getproductpurchasev2": {
              "parameters": {
                "packageName": {
                  "required": true,
                  "type": "string",
                  "description": "The package name of the application the inapp product was sold in (for example, 'com.some.thing').",
                  "location": "path"
                },
                "token": {
                  "required": true,
                  "type": "string",
                  "description": "The token provided to the user's device when the inapp product was purchased.",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/purchases/productsv2/tokens/{token}",
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/productsv2/tokens/{token}",
              "response": {
                "$ref": "ProductPurchaseV2"
              },
              "id": "androidpublisher.purchases.productsv2.getproductpurchasev2",
              "description": "Checks the purchase and consumption status of an inapp item.",
              "parameterOrder": [
                "packageName",
                "token"
              ],
              "httpMethod": "GET"
            }
          }
        },
        "products": {
          "methods": {
            "get": {
              "id": "androidpublisher.purchases.products.get",
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/products/{productId}/tokens/{token}",
              "response": {
                "$ref": "ProductPurchase"
              },
              "path": "androidpublisher/v3/applications/{packageName}/purchases/products/{productId}/tokens/{token}",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameters": {
                "packageName": {
                  "description": "The package name of the application the inapp product was sold in (for example, 'com.some.thing').",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "productId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The inapp product SKU (for example, 'com.some.thing.inapp1')."
                },
                "token": {
                  "description": "The token provided to the user's device when the inapp product was purchased.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "packageName",
                "productId",
                "token"
              ],
              "description": "Checks the purchase and consumption status of an inapp item."
            },
            "acknowledge": {
              "parameterOrder": [
                "packageName",
                "productId",
                "token"
              ],
              "request": {
                "$ref": "ProductPurchasesAcknowledgeRequest"
              },
              "httpMethod": "POST",
              "description": "Acknowledges a purchase of an inapp item.",
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/products/{productId}/tokens/{token}:acknowledge",
              "path": "androidpublisher/v3/applications/{packageName}/purchases/products/{productId}/tokens/{token}:acknowledge",
              "id": "androidpublisher.purchases.products.acknowledge",
              "parameters": {
                "packageName": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The package name of the application the inapp product was sold in (for example, 'com.some.thing')."
                },
                "token": {
                  "required": true,
                  "type": "string",
                  "description": "The token provided to the user's device when the inapp product was purchased.",
                  "location": "path"
                },
                "productId": {
                  "required": true,
                  "type": "string",
                  "description": "The inapp product SKU (for example, 'com.some.thing.inapp1').",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "consume": {
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/products/{productId}/tokens/{token}:consume",
              "parameterOrder": [
                "packageName",
                "productId",
                "token"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/purchases/products/{productId}/tokens/{token}:consume",
              "id": "androidpublisher.purchases.products.consume",
              "httpMethod": "POST",
              "parameters": {
                "productId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The inapp product SKU (for example, 'com.some.thing.inapp1')."
                },
                "token": {
                  "location": "path",
                  "description": "The token provided to the user's device when the inapp product was purchased.",
                  "required": true,
                  "type": "string"
                },
                "packageName": {
                  "required": true,
                  "type": "string",
                  "description": "The package name of the application the inapp product was sold in (for example, 'com.some.thing').",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "description": "Consumes a purchase for an inapp item."
            }
          }
        }
      }
    },
    "externaltransactions": {
      "methods": {
        "refundexternaltransaction": {
          "parameterOrder": [
            "name"
          ],
          "request": {
            "$ref": "RefundExternalTransactionRequest"
          },
          "httpMethod": "POST",
          "description": "Refunds or partially refunds an existing external transaction.",
          "path": "androidpublisher/v3/{+name}:refund",
          "flatPath": "androidpublisher/v3/applications/{applicationsId}/externalTransactions/{externalTransactionsId}:refund",
          "response": {
            "$ref": "ExternalTransaction"
          },
          "id": "androidpublisher.externaltransactions.refundexternaltransaction",
          "parameters": {
            "name": {
              "type": "string",
              "location": "path",
              "description": "Required. The name of the external transaction that will be refunded. Format: applications/{package_name}/externalTransactions/{external_transaction}",
              "pattern": "^applications/[^/]+/externalTransactions/[^/]+$",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        },
        "createexternaltransaction": {
          "description": "Creates a new external transaction.",
          "parameterOrder": [
            "parent"
          ],
          "request": {
            "$ref": "ExternalTransaction"
          },
          "httpMethod": "POST",
          "parameters": {
            "parent": {
              "location": "path",
              "description": "Required. The parent resource where this external transaction will be created. Format: applications/{package_name}",
              "pattern": "^applications/[^/]+$",
              "required": true,
              "type": "string"
            },
            "externalTransactionId": {
              "location": "query",
              "type": "string",
              "description": "Required. The id to use for the external transaction. Must be unique across all other transactions for the app. This value should be 1-63 characters and valid characters are /a-zA-Z0-9_-/. Do not use this field to store any Personally Identifiable Information (PII) such as emails. Attempting to store PII in this field may result in requests being blocked."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "flatPath": "androidpublisher/v3/applications/{applicationsId}/externalTransactions",
          "response": {
            "$ref": "ExternalTransaction"
          },
          "path": "androidpublisher/v3/{+parent}/externalTransactions",
          "id": "androidpublisher.externaltransactions.createexternaltransaction"
        },
        "getexternaltransaction": {
          "id": "androidpublisher.externaltransactions.getexternaltransaction",
          "flatPath": "androidpublisher/v3/applications/{applicationsId}/externalTransactions/{externalTransactionsId}",
          "response": {
            "$ref": "ExternalTransaction"
          },
          "path": "androidpublisher/v3/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameters": {
            "name": {
              "location": "path",
              "description": "Required. The name of the external transaction to retrieve. Format: applications/{package_name}/externalTransactions/{external_transaction}",
              "pattern": "^applications/[^/]+/externalTransactions/[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "description": "Gets an existing external transaction."
        }
      }
    },
    "orders": {
      "methods": {
        "get": {
          "id": "androidpublisher.orders.get",
          "path": "androidpublisher/v3/applications/{packageName}/orders/{orderId}",
          "flatPath": "androidpublisher/v3/applications/{packageName}/orders/{orderId}",
          "response": {
            "$ref": "Order"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameters": {
            "orderId": {
              "description": "Required. The order ID provided to the user when the subscription or in-app order was purchased.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "packageName": {
              "location": "path",
              "description": "Required. The package name of the application for which this subscription or in-app item was purchased (for example, 'com.some.thing').",
              "required": true,
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "packageName",
            "orderId"
          ],
          "description": "Get order details for a single order."
        },
        "refund": {
          "parameters": {
            "orderId": {
              "required": true,
              "type": "string",
              "description": "The order ID provided to the user when the subscription or in-app order was purchased.",
              "location": "path"
            },
            "revoke": {
              "description": "Whether to revoke the purchased item. If set to true, access to the subscription or in-app item will be terminated immediately. If the item is a recurring subscription, all future payments will also be terminated. Consumed in-app items need to be handled by developer's app. (optional).",
              "type": "boolean",
              "location": "query"
            },
            "packageName": {
              "location": "path",
              "description": "The package name of the application for which this subscription or in-app item was purchased (for example, 'com.some.thing').",
              "required": true,
              "type": "string"
            }
          },
          "description": "Refunds a user's subscription or in-app purchase order. Orders older than 3 years cannot be refunded.",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "path": "androidpublisher/v3/applications/{packageName}/orders/{orderId}:refund",
          "flatPath": "androidpublisher/v3/applications/{packageName}/orders/{orderId}:refund",
          "parameterOrder": [
            "packageName",
            "orderId"
          ],
          "id": "androidpublisher.orders.refund",
          "httpMethod": "POST"
        },
        "batchget": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameters": {
            "packageName": {
              "required": true,
              "type": "string",
              "description": "Required. The package name of the application for which this subscription or in-app item was purchased (for example, 'com.some.thing').",
              "location": "path"
            },
            "orderIds": {
              "description": "Required. The list of order IDs to retrieve order details for. There must be between 1 and 1000 (inclusive) order IDs per request. If any order ID is not found or does not match the provided package, the entire request will fail with an error. The order IDs must be distinct.",
              "repeated": true,
              "type": "string",
              "location": "query"
            }
          },
          "id": "androidpublisher.orders.batchget",
          "path": "androidpublisher/v3/applications/{packageName}/orders:batchGet",
          "flatPath": "androidpublisher/v3/applications/{packageName}/orders:batchGet",
          "response": {
            "$ref": "BatchGetOrdersResponse"
          },
          "description": "Get order details for a list of orders.",
          "httpMethod": "GET",
          "parameterOrder": [
            "packageName"
          ]
        }
      }
    },
    "monetization": {
      "methods": {
        "convertRegionPrices": {
          "parameterOrder": [
            "packageName"
          ],
          "request": {
            "$ref": "ConvertRegionPricesRequest"
          },
          "httpMethod": "POST",
          "description": "Calculates the region prices, using today's exchange rate and country-specific pricing patterns, based on the price in the request for a set of regions.",
          "flatPath": "androidpublisher/v3/applications/{packageName}/pricing:convertRegionPrices",
          "response": {
            "$ref": "ConvertRegionPricesResponse"
          },
          "path": "androidpublisher/v3/applications/{packageName}/pricing:convertRegionPrices",
          "id": "androidpublisher.monetization.convertRegionPrices",
          "parameters": {
            "packageName": {
              "location": "path",
              "description": "Required. The app package name.",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        }
      },
      "resources": {
        "onetimeproducts": {
          "methods": {
            "get": {
              "description": "Reads a single one-time product.",
              "httpMethod": "GET",
              "parameterOrder": [
                "packageName",
                "productId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameters": {
                "packageName": {
                  "description": "Required. The parent app (package name) of the product to retrieve.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "productId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The product ID of the product to retrieve."
                }
              },
              "id": "androidpublisher.monetization.onetimeproducts.get",
              "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}",
              "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}",
              "response": {
                "$ref": "OneTimeProduct"
              }
            },
            "batchGet": {
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameters": {
                "packageName": {
                  "required": true,
                  "type": "string",
                  "description": "Required. The parent app (package name) for which the products should be retrieved. Must be equal to the package_name field on all requests.",
                  "location": "path"
                },
                "productIds": {
                  "type": "string",
                  "description": "Required. A list of up to 100 product IDs to retrieve. All IDs must be different.",
                  "repeated": true,
                  "location": "query"
                }
              },
              "id": "androidpublisher.monetization.onetimeproducts.batchGet",
              "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts:batchGet",
              "response": {
                "$ref": "BatchGetOneTimeProductsResponse"
              },
              "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts:batchGet",
              "description": "Reads one or more one-time products.",
              "httpMethod": "GET",
              "parameterOrder": [
                "packageName"
              ]
            },
            "delete": {
              "id": "androidpublisher.monetization.onetimeproducts.delete",
              "httpMethod": "DELETE",
              "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}",
              "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}",
              "parameterOrder": [
                "packageName",
                "productId"
              ],
              "description": "Deletes a one-time product.",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameters": {
                "packageName": {
                  "description": "Required. The parent app (package name) of the one-time product to delete.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "productId": {
                  "required": true,
                  "type": "string",
                  "description": "Required. The one-time product ID of the one-time product to delete.",
                  "location": "path"
                },
                "latencyTolerance": {
                  "type": "string",
                  "description": "Optional. The latency tolerance for the propagation of this product update. Defaults to latency-sensitive.",
                  "enum": [
                    "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
                    "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
                    "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
                  ],
                  "enumDescriptions": [
                    "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
                    "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
                    "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
                  ],
                  "location": "query"
                }
              }
            },
            "patch": {
              "httpMethod": "PATCH",
              "parameterOrder": [
                "packageName",
                "productId"
              ],
              "request": {
                "$ref": "OneTimeProduct"
              },
              "description": "Creates or updates a one-time product.",
              "id": "androidpublisher.monetization.onetimeproducts.patch",
              "flatPath": "androidpublisher/v3/applications/{packageName}/onetimeproducts/{productId}",
              "response": {
                "$ref": "OneTimeProduct"
              },
              "path": "androidpublisher/v3/applications/{packageName}/onetimeproducts/{productId}",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameters": {
                "packageName": {
                  "required": true,
                  "type": "string",
                  "description": "Required. Immutable. Package name of the parent app.",
                  "location": "path"
                },
                "updateMask": {
                  "description": "Required. The list of fields to be updated.",
                  "format": "google-fieldmask",
                  "type": "string",
                  "location": "query"
                },
                "allowMissing": {
                  "description": "Optional. If set to true, and the one-time product with the given package_name and product_id doesn't exist, the one-time product will be created. If a new one-time product is created, update_mask is ignored.",
                  "type": "boolean",
                  "location": "query"
                },
                "latencyTolerance": {
                  "type": "string",
                  "description": "Optional. The latency tolerance for the propagation of this product upsert. Defaults to latency-sensitive.",
                  "enum": [
                    "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
                    "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
                    "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
                  ],
                  "location": "query",
                  "enumDescriptions": [
                    "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
                    "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
                    "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
                  ]
                },
                "productId": {
                  "required": true,
                  "type": "string",
                  "description": "Required. Immutable. Unique product ID of the product. Unique within the parent app. Product IDs must start with a number or lowercase letter, and can contain numbers (0-9), lowercase letters (a-z), underscores (_), and periods (.).",
                  "location": "path"
                },
                "regionsVersion.version": {
                  "location": "query",
                  "description": "Required. A string representing the version of available regions being used for the specified resource. Regional prices and latest supported version for the resource have to be specified according to the information published in [this article](https://support.google.com/googleplay/android-developer/answer/10532353). Each time the supported locations substantially change, the version will be incremented. Using this field will ensure that creating and updating the resource with an older region's version and set of regional prices and currencies will succeed even though a new version is available.",
                  "type": "string"
                }
              }
            },
            "batchDelete": {
              "id": "androidpublisher.monetization.onetimeproducts.batchDelete",
              "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts:batchDelete",
              "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts:batchDelete",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameters": {
                "packageName": {
                  "required": true,
                  "type": "string",
                  "description": "Required. The parent app (package name) for which the one-time products should be deleted. Must be equal to the package_name field on all the OneTimeProduct resources.",
                  "location": "path"
                }
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "packageName"
              ],
              "request": {
                "$ref": "BatchDeleteOneTimeProductsRequest"
              },
              "description": "Deletes one or more one-time products."
            },
            "batchUpdate": {
              "parameterOrder": [
                "packageName"
              ],
              "request": {
                "$ref": "BatchUpdateOneTimeProductsRequest"
              },
              "httpMethod": "POST",
              "description": "Creates or updates one or more one-time products.",
              "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts:batchUpdate",
              "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts:batchUpdate",
              "response": {
                "$ref": "BatchUpdateOneTimeProductsResponse"
              },
              "id": "androidpublisher.monetization.onetimeproducts.batchUpdate",
              "parameters": {
                "packageName": {
                  "location": "path",
                  "description": "Required. The parent app (package name) for which the one-time products should be updated. Must be equal to the package_name field on all the OneTimeProduct resources.",
                  "required": true,
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "list": {
              "id": "androidpublisher.monetization.onetimeproducts.list",
              "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts",
              "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts",
              "response": {
                "$ref": "ListOneTimeProductsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameters": {
                "packageName": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The parent app (package name) for which the one-time product should be read."
                },
                "pageSize": {
                  "description": "Optional. The maximum number of one-time product to return. The service may return fewer than this value. If unspecified, at most 50 one-time products will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. A page token, received from a previous `ListOneTimeProducts` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListOneTimeProducts` must match the call that provided the page token."
                }
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "packageName"
              ],
              "description": "Lists all one-time products under a given app."
            }
          },
          "resources": {
            "purchaseOptions": {
              "resources": {
                "offers": {
                  "methods": {
                    "batchUpdate": {
                      "parameterOrder": [
                        "packageName",
                        "productId",
                        "purchaseOptionId"
                      ],
                      "request": {
                        "$ref": "BatchUpdateOneTimeProductOffersRequest"
                      },
                      "httpMethod": "POST",
                      "description": "Creates or updates one or more one-time product offers.",
                      "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers:batchUpdate",
                      "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers:batchUpdate",
                      "response": {
                        "$ref": "BatchUpdateOneTimeProductOffersResponse"
                      },
                      "id": "androidpublisher.monetization.onetimeproducts.purchaseOptions.offers.batchUpdate",
                      "parameters": {
                        "productId": {
                          "location": "path",
                          "description": "Required. The product ID of the parent one-time product, if all updated offers belong to the same product. If this request spans multiple one-time products, set this field to \"-\".",
                          "required": true,
                          "type": "string"
                        },
                        "packageName": {
                          "required": true,
                          "type": "string",
                          "description": "Required. The parent app (package name) of the updated offers. Must be equal to the package_name field on all the updated OneTimeProductOffer resources.",
                          "location": "path"
                        },
                        "purchaseOptionId": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. The parent purchase option (ID) for which the offers should be updated. May be specified as '-' to update offers from multiple purchase options."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                      ]
                    },
                    "deactivate": {
                      "parameters": {
                        "productId": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. The parent one-time product (ID) of the offer to deactivate."
                        },
                        "packageName": {
                          "description": "Required. The parent app (package name) of the offer to deactivate.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "purchaseOptionId": {
                          "required": true,
                          "type": "string",
                          "description": "Required. The parent purchase option (ID) of the offer to deactivate.",
                          "location": "path"
                        },
                        "offerId": {
                          "description": "Required. The offer ID of the offer to deactivate.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                      ],
                      "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers/{offerId}:deactivate",
                      "response": {
                        "$ref": "OneTimeProductOffer"
                      },
                      "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers/{offerId}:deactivate",
                      "id": "androidpublisher.monetization.onetimeproducts.purchaseOptions.offers.deactivate",
                      "description": "Deactivates a one-time product offer.",
                      "parameterOrder": [
                        "packageName",
                        "productId",
                        "purchaseOptionId",
                        "offerId"
                      ],
                      "request": {
                        "$ref": "DeactivateOneTimeProductOfferRequest"
                      },
                      "httpMethod": "POST"
                    },
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                      ],
                      "parameters": {
                        "packageName": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. The parent app (package name) for which the offers should be read."
                        },
                        "purchaseOptionId": {
                          "description": "Required. The parent purchase option (ID) for which the offers should be read. May be specified as '-' to read all offers under a one-time product or an app. Must be specified as '-' if product_id is specified as '-'.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "pageSize": {
                          "location": "query",
                          "description": "Optional. The maximum number of offers to return. The service may return fewer than this value. If unspecified, at most 50 offers will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                          "format": "int32",
                          "type": "integer"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "Optional. A page token, received from a previous `ListOneTimeProductsOffers` call. Provide this to retrieve the subsequent page. When paginating, product_id, package_name and purchase_option_id provided to `ListOneTimeProductsOffersRequest` must match the call that provided the page token.",
                          "type": "string"
                        },
                        "productId": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. The parent one-time product (ID) for which the offers should be read. May be specified as '-' to read all offers under an app."
                        }
                      },
                      "id": "androidpublisher.monetization.onetimeproducts.purchaseOptions.offers.list",
                      "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers",
                      "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers",
                      "response": {
                        "$ref": "ListOneTimeProductOffersResponse"
                      },
                      "description": "Lists all offers under a given app, product, or purchase option.",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "packageName",
                        "productId",
                        "purchaseOptionId"
                      ]
                    },
                    "batchUpdateStates": {
                      "id": "androidpublisher.monetization.onetimeproducts.purchaseOptions.offers.batchUpdateStates",
                      "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers:batchUpdateStates",
                      "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers:batchUpdateStates",
                      "response": {
                        "$ref": "BatchUpdateOneTimeProductOfferStatesResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                      ],
                      "parameters": {
                        "packageName": {
                          "required": true,
                          "type": "string",
                          "description": "Required. The parent app (package name) of the updated one-time product offers.",
                          "location": "path"
                        },
                        "purchaseOptionId": {
                          "location": "path",
                          "description": "Required. The purchase option ID of the parent purchase option, if all updated offers belong to the same purchase option. If this batch update spans multiple purchase options, set this field to \"-\".",
                          "required": true,
                          "type": "string"
                        },
                        "productId": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. The product ID of the parent one-time product, if all updated offers belong to the same one-time product. If this batch update spans multiple one-time products, set this field to \"-\"."
                        }
                      },
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "packageName",
                        "productId",
                        "purchaseOptionId"
                      ],
                      "request": {
                        "$ref": "BatchUpdateOneTimeProductOfferStatesRequest"
                      },
                      "description": "Updates a batch of one-time product offer states."
                    },
                    "activate": {
                      "parameterOrder": [
                        "packageName",
                        "productId",
                        "purchaseOptionId",
                        "offerId"
                      ],
                      "request": {
                        "$ref": "ActivateOneTimeProductOfferRequest"
                      },
                      "httpMethod": "POST",
                      "description": "Activates a one-time product offer.",
                      "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers/{offerId}:activate",
                      "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers/{offerId}:activate",
                      "response": {
                        "$ref": "OneTimeProductOffer"
                      },
                      "id": "androidpublisher.monetization.onetimeproducts.purchaseOptions.offers.activate",
                      "parameters": {
                        "packageName": {
                          "description": "Required. The parent app (package name) of the offer to activate.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "purchaseOptionId": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. The parent purchase option (ID) of the offer to activate."
                        },
                        "offerId": {
                          "description": "Required. The offer ID of the offer to activate.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "productId": {
                          "required": true,
                          "type": "string",
                          "description": "Required. The parent one-time product (ID) of the offer to activate.",
                          "location": "path"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                      ]
                    },
                    "cancel": {
                      "parameters": {
                        "packageName": {
                          "description": "Required. The parent app (package name) of the offer to cancel.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "purchaseOptionId": {
                          "location": "path",
                          "description": "Required. The parent purchase option (ID) of the offer to cancel.",
                          "required": true,
                          "type": "string"
                        },
                        "offerId": {
                          "description": "Required. The offer ID of the offer to cancel.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "productId": {
                          "required": true,
                          "type": "string",
                          "description": "Required. The parent one-time product (ID) of the offer to cancel.",
                          "location": "path"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                      ],
                      "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers/{offerId}:cancel",
                      "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers/{offerId}:cancel",
                      "response": {
                        "$ref": "OneTimeProductOffer"
                      },
                      "id": "androidpublisher.monetization.onetimeproducts.purchaseOptions.offers.cancel",
                      "description": "Cancels a one-time product offer.",
                      "parameterOrder": [
                        "packageName",
                        "productId",
                        "purchaseOptionId",
                        "offerId"
                      ],
                      "request": {
                        "$ref": "CancelOneTimeProductOfferRequest"
                      },
                      "httpMethod": "POST"
                    },
                    "batchGet": {
                      "parameters": {
                        "productId": {
                          "location": "path",
                          "description": "Required. The product ID of the parent one-time product, if all updated offers belong to the same product. If this request spans multiple one-time products, set this field to \"-\".",
                          "required": true,
                          "type": "string"
                        },
                        "packageName": {
                          "required": true,
                          "type": "string",
                          "description": "Required. The parent app (package name) of the updated offers. Must be equal to the package_name field on all the updated OneTimeProductOffer resources.",
                          "location": "path"
                        },
                        "purchaseOptionId": {
                          "description": "Required. The parent purchase option (ID) for which the offers should be updated. May be specified as '-' to update offers from multiple purchase options.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                      ],
                      "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers:batchGet",
                      "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers:batchGet",
                      "response": {
                        "$ref": "BatchGetOneTimeProductOffersResponse"
                      },
                      "id": "androidpublisher.monetization.onetimeproducts.purchaseOptions.offers.batchGet",
                      "description": "Reads one or more one-time product offers.",
                      "parameterOrder": [
                        "packageName",
                        "productId",
                        "purchaseOptionId"
                      ],
                      "request": {
                        "$ref": "BatchGetOneTimeProductOffersRequest"
                      },
                      "httpMethod": "POST"
                    },
                    "batchDelete": {
                      "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers:batchDelete",
                      "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers:batchDelete",
                      "id": "androidpublisher.monetization.onetimeproducts.purchaseOptions.offers.batchDelete",
                      "parameters": {
                        "productId": {
                          "location": "path",
                          "description": "Required. The product ID of the parent one-time product, if all offers to delete belong to the same product. If this request spans multiple one-time products, set this field to \"-\".",
                          "required": true,
                          "type": "string"
                        },
                        "packageName": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. The parent app (package name) of the offers to delete. Must be equal to the package_name field on all the OneTimeProductOffer resources."
                        },
                        "purchaseOptionId": {
                          "description": "Required. The parent purchase option (ID) for which the offers should be deleted. May be specified as '-' to update offers from multiple purchase options.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                      ],
                      "parameterOrder": [
                        "packageName",
                        "productId",
                        "purchaseOptionId"
                      ],
                      "request": {
                        "$ref": "BatchDeleteOneTimeProductOffersRequest"
                      },
                      "httpMethod": "POST",
                      "description": "Deletes one or more one-time product offers."
                    }
                  }
                }
              },
              "methods": {
                "batchUpdateStates": {
                  "description": "Activates or deactivates purchase options across one or multiple one-time products.",
                  "parameterOrder": [
                    "packageName",
                    "productId"
                  ],
                  "request": {
                    "$ref": "BatchUpdatePurchaseOptionStatesRequest"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "productId": {
                      "description": "Required. The product ID of the parent one-time product, if all updated purchase options belong to the same one-time product. If this batch update spans multiple one-time products, set this field to \"-\".",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "packageName": {
                      "description": "Required. The parent app (package name) of the updated purchase options.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/androidpublisher"
                  ],
                  "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions:batchUpdateStates",
                  "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions:batchUpdateStates",
                  "response": {
                    "$ref": "BatchUpdatePurchaseOptionStatesResponse"
                  },
                  "id": "androidpublisher.monetization.onetimeproducts.purchaseOptions.batchUpdateStates"
                },
                "batchDelete": {
                  "id": "androidpublisher.monetization.onetimeproducts.purchaseOptions.batchDelete",
                  "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions:batchDelete",
                  "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions:batchDelete",
                  "scopes": [
                    "https://www.googleapis.com/auth/androidpublisher"
                  ],
                  "parameters": {
                    "packageName": {
                      "description": "Required. The parent app (package name) of the purchase options to delete.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "productId": {
                      "location": "path",
                      "required": true,
                      "type": "string",
[...]
