{
  "ownerDomain": "google.com",
  "baseUrl": "https://androidpublisher.googleapis.com/",
  "kind": "discovery#restDescription",
  "description": "Lets Android application developers access their Google Play accounts. At a high level, the expected workflow is to \"insert\" an Edit, make changes as necessary, and then \"commit\" it. ",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/androidpublisher": {
          "description": "View and manage your Google Play Developer account"
        }
      }
    }
  },
  "parameters": {
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "alt": {
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    }
  },
  "discoveryVersion": "v1",
  "revision": "20260624",
  "version": "v3",
  "name": "androidpublisher",
  "documentationLink": "https://developers.google.com/android-publisher",
  "id": "androidpublisher:v3",
  "canonicalName": "Android Publisher",
  "batchPath": "batch",
  "schemas": {
    "DeviceSpec": {
      "type": "object",
      "properties": {
        "supportedAbis": {
          "type": "array",
          "description": "Supported ABI architectures in the order of preference. The values should be the string as reported by the platform, e.g. \"armeabi-v7a\", \"x86_64\".",
          "items": {
            "type": "string"
          }
        },
        "supportedLocales": {
          "type": "array",
          "description": "All installed locales represented as BCP-47 strings, e.g. \"en-US\".",
          "items": {
            "type": "string"
          }
        },
        "screenDensity": {
          "type": "integer",
          "format": "uint32",
          "description": "Screen dpi."
        }
      },
      "description": "The device spec used to generate a system APK.",
      "id": "DeviceSpec"
    },
    "SafetyLabelsUpdateResponse": {
      "type": "object",
      "properties": {},
      "id": "SafetyLabelsUpdateResponse",
      "description": "Response for SafetyLabelsUpdate rpc."
    },
    "OtherRegionsSubscriptionOfferPhasePrices": {
      "type": "object",
      "properties": {
        "usdPrice": {
          "description": "Required. Price in USD to use for any new locations Play may launch in.",
          "$ref": "Money"
        },
        "eurPrice": {
          "description": "Required. Price in EUR to use for any new locations Play may launch in.",
          "$ref": "Money"
        }
      },
      "id": "OtherRegionsSubscriptionOfferPhasePrices",
      "description": "Pricing information for any new locations Play may launch in."
    },
    "SdkVersion": {
      "type": "object",
      "properties": {
        "min": {
          "type": "integer",
          "description": "Inclusive minimum value of an sdk version.",
          "format": "int32"
        }
      },
      "description": "Represents an sdk version.",
      "id": "SdkVersion"
    },
    "BatchGetSubscriptionOffersRequest": {
      "type": "object",
      "properties": {
        "requests": {
          "description": "Required. A list of update requests of up to 100 elements. All requests must update different subscriptions.",
          "items": {
            "$ref": "GetSubscriptionOfferRequest"
          },
          "type": "array"
        }
      },
      "id": "BatchGetSubscriptionOffersRequest",
      "description": "Request message for BatchGetSubscriptionOffers endpoint."
    },
    "SystemApksListResponse": {
      "type": "object",
      "properties": {
        "variants": {
          "type": "array",
          "description": "All system APK variants created.",
          "items": {
            "$ref": "Variant"
          }
        }
      },
      "id": "SystemApksListResponse",
      "description": "Response to list previously created system APK variants."
    },
    "SubscriptionOffer": {
      "id": "SubscriptionOffer",
      "description": "A single, temporary offer",
      "type": "object",
      "properties": {
        "packageName": {
          "type": "string",
          "description": "Required. Immutable. The package name of the app the parent subscription belongs to."
        },
        "offerId": {
          "description": "Required. Immutable. Unique ID of this subscription offer. Must be unique within the base plan.",
          "type": "string"
        },
        "regionalConfigs": {
          "description": "Required. The region-specific configuration of this offer. Must contain at least one entry.",
          "items": {
            "$ref": "RegionalSubscriptionOfferConfig"
          },
          "type": "array"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Default value, should never be used.",
            "The subscription offer is not and has never been available to users.",
            "The subscription offer is available to new and existing users.",
            "The subscription offer is not available to new users. Existing users retain access."
          ],
          "readOnly": true,
          "description": "Output only. The current state of this offer. Can be changed using Activate and Deactivate actions. NB: the base plan state supersedes this state, so an active offer may not be available if the base plan is not active.",
          "enum": [
            "STATE_UNSPECIFIED",
            "DRAFT",
            "ACTIVE",
            "INACTIVE"
          ]
        },
        "basePlanId": {
          "type": "string",
          "description": "Required. Immutable. The ID of the base plan to which this offer is an extension."
        },
        "productId": {
          "description": "Required. Immutable. The ID of the parent subscription this offer belongs to.",
          "type": "string"
        },
        "phases": {
          "type": "array",
          "description": "Required. The phases of this subscription offer. Must contain at least one and at most two entries. Users will always receive all these phases in the specified order.",
          "items": {
            "$ref": "SubscriptionOfferPhase"
          }
        },
        "targeting": {
          "$ref": "SubscriptionOfferTargeting",
          "description": "The requirements that users need to fulfil to be eligible for this offer. Represents the requirements that Play will evaluate to decide whether an offer should be returned. Developers may further filter these offers themselves."
        },
        "otherRegionsConfig": {
          "$ref": "OtherRegionsSubscriptionOfferConfig",
          "description": "The configuration for any new locations Play may launch in the future."
        },
        "offerTags": {
          "type": "array",
          "description": "List of up to 20 custom tags specified for this offer, and returned to the app through the billing library.",
          "items": {
            "$ref": "OfferTag"
          }
        }
      }
    },
    "SystemFeature": {
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the feature.",
          "type": "string"
        }
      },
      "id": "SystemFeature",
      "description": "Representation of a system feature."
    },
    "Variant": {
      "type": "object",
      "properties": {
        "variantId": {
          "description": "Output only. The ID of a previously created system APK variant.",
          "readOnly": true,
          "format": "uint32",
          "type": "integer"
        },
        "options": {
          "description": "Optional. Options applied to the generated APK.",
          "$ref": "SystemApkOptions"
        },
        "deviceSpec": {
          "$ref": "DeviceSpec",
          "description": "The device spec used to generate the APK."
        }
      },
      "id": "Variant",
      "description": "APK that is suitable for inclusion in a system image. The resource of SystemApksService."
    },
    "ListOneTimeProductOffersResponse": {
      "type": "object",
      "properties": {
        "oneTimeProductOffers": {
          "type": "array",
          "description": "The one_time_product offers from the specified request.",
          "items": {
            "$ref": "OneTimeProductOffer"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "description": "Response message for ListOneTimeProductOffers.",
      "id": "ListOneTimeProductOffersResponse"
    },
    "InAppProduct": {
      "description": "An in-app product. The resource for InappproductsService.",
      "id": "InAppProduct",
      "type": "object",
      "properties": {
        "listings": {
          "description": "List of localized title and description data. Map key is the language of the localized data, as defined by BCP-47, e.g. \"en-US\".",
          "type": "object",
          "additionalProperties": {
            "$ref": "InAppProductListing"
          }
        },
        "gracePeriod": {
          "type": "string",
          "description": "Grace period of the subscription, specified in ISO 8601 format. Allows developers to give their subscribers a grace period when the payment for the new recurrence period is declined. Acceptable values are P0D (zero days), P3D (three days), P7D (seven days), P14D (14 days), and P30D (30 days)."
        },
        "trialPeriod": {
          "description": "Trial period, specified in ISO 8601 format. Acceptable values are anything between P7D (seven days) and P999D (999 days).",
          "type": "string"
        },
        "packageName": {
          "description": "Package name of the parent app.",
          "type": "string"
        },
        "purchaseType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified purchase type.",
            "The default product type - one time purchase.",
            "In-app product with a recurring period."
          ],
          "enum": [
            "purchaseTypeUnspecified",
            "managedUser",
            "subscription"
          ],
          "description": "The type of the product, e.g. a recurring subscription."
        },
        "status": {
          "description": "The status of the product, e.g. whether it's active.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified status.",
            "The product is published and active in the store.",
            "The product is not published and therefore inactive in the store."
          ],
          "enum": [
            "statusUnspecified",
            "active",
            "inactive"
          ]
        },
        "subscriptionTaxesAndComplianceSettings": {
          "description": "Details about taxes and legal compliance. Only applicable to subscription products.",
          "$ref": "SubscriptionTaxAndComplianceSettings"
        },
        "managedProductTaxesAndComplianceSettings": {
          "description": "Details about taxes and legal compliance. Only applicable to managed products.",
          "$ref": "ManagedProductTaxAndComplianceSettings"
        },
        "defaultLanguage": {
          "description": "Default language of the localized data, as defined by BCP-47. e.g. \"en-US\".",
          "type": "string"
        },
        "sku": {
          "description": "Stock-keeping-unit (SKU) of the product, unique within an app.",
          "type": "string"
        },
        "defaultPrice": {
          "$ref": "Price",
          "description": "Default price. Cannot be zero, as in-app products are never free. Always in the developer's Checkout merchant currency."
        },
        "prices": {
          "description": "Prices per buyer region. None of these can be zero, as in-app products are never free. Map key is region code, as defined by ISO 3166-2.",
          "type": "object",
          "additionalProperties": {
            "$ref": "Price"
          }
        },
        "subscriptionPeriod": {
          "type": "string",
          "description": "Subscription period, specified in ISO 8601 format. Acceptable values are P1W (one week), P1M (one month), P3M (three months), P6M (six months), and P1Y (one year)."
        }
      }
    },
    "SubscriptionCancelSurveyResult": {
      "type": "object",
      "properties": {
        "cancelSurveyReason": {
          "format": "int32",
          "description": "The cancellation reason the user chose in the survey. Possible values are: 0. Other 1. I don't use this service enough 2. Technical issues 3. Cost-related reasons 4. I found a better app",
          "type": "integer"
        },
        "userInputCancelReason": {
          "description": "The customized input cancel reason from the user. Only present when cancelReason is 0.",
          "type": "string"
        }
      },
      "id": "SubscriptionCancelSurveyResult",
      "description": "Information provided by the user when they complete the subscription cancellation flow (cancellation reason survey)."
    },
    "BatchUpdateOneTimeProductOfferStatesRequest": {
      "id": "BatchUpdateOneTimeProductOfferStatesRequest",
      "description": "Request message for BatchUpdateOneTimeProductOfferStates.",
      "type": "object",
      "properties": {
        "requests": {
          "description": "Required. The update request list of up to 100 elements. All requests must update different offers.",
          "items": {
            "$ref": "UpdateOneTimeProductOfferStateRequest"
          },
          "type": "array"
        }
      }
    },
    "ConvertedOtherRegionsPrice": {
      "description": "Converted other regions prices.",
      "id": "ConvertedOtherRegionsPrice",
      "type": "object",
      "properties": {
        "usdPrice": {
          "$ref": "Money",
          "description": "Price in USD to use for the \"Other regions\" location exclusive of taxes."
        },
        "eurPrice": {
          "$ref": "Money",
          "description": "Price in EUR to use for the \"Other regions\" location exclusive of taxes."
        }
      }
    },
    "TargetingRuleScope": {
      "type": "object",
      "properties": {
        "specificSubscriptionInApp": {
          "description": "The scope of the current targeting rule is the subscription with the specified subscription ID. Must be a subscription within the same parent app.",
          "type": "string"
        },
        "thisSubscription": {
          "$ref": "TargetingRuleScopeThisSubscription",
          "description": "The scope of the current targeting rule is the subscription in which this offer is defined."
        },
        "anySubscriptionInApp": {
          "description": "The scope of the current targeting rule is any subscription in the parent app.",
          "$ref": "TargetingRuleScopeAnySubscriptionInApp"
        }
      },
      "id": "TargetingRuleScope",
      "description": "Defines the scope of subscriptions which a targeting rule can match to target offers to users based on past or current entitlement."
    },
    "ImagesListResponse": {
      "id": "ImagesListResponse",
      "description": "Response listing all images.",
      "type": "object",
      "properties": {
        "images": {
          "type": "array",
          "description": "All listed Images.",
          "items": {
            "$ref": "Image"
          }
        }
      }
    },
    "RegionalSubscriptionOfferPhaseConfig": {
      "type": "object",
      "properties": {
        "regionCode": {
          "type": "string",
          "description": "Required. Immutable. The region to which this config applies."
        },
        "price": {
          "description": "The absolute price the user pays for this offer phase. The price must not be smaller than the minimum price allowed for this region.",
          "$ref": "Money"
        },
        "absoluteDiscount": {
          "description": "The absolute amount of money subtracted from the base plan price prorated over the phase duration that the user pays for this offer phase. For example, if the base plan price for this region is $12 for a period of 1 year, then a $1 absolute discount for a phase of a duration of 3 months would correspond to a price of $2. The resulting price may not be smaller than the minimum price allowed for this region.",
          "$ref": "Money"
        },
        "relativeDiscount": {
          "type": "number",
          "description": "The fraction of the base plan price prorated over the phase duration that the user pays for this offer phase. For example, if the base plan price for this region is $12 for a period of 1 year, then a 50% discount for a phase of a duration of 3 months would correspond to a price of $1.50. The discount must be specified as a fraction strictly larger than 0 and strictly smaller than 1. The resulting price will be rounded to the nearest billable unit (e.g. cents for USD). The relative discount is considered invalid if the discounted price ends up being smaller than the minimum price allowed in this region.",
          "format": "double"
        },
        "free": {
          "description": "Set to specify this offer is free to obtain.",
          "$ref": "RegionalSubscriptionOfferPhaseFreePriceOverride"
        }
      },
      "id": "RegionalSubscriptionOfferPhaseConfig",
      "description": "Configuration for a single phase of a subscription offer in a single region."
    },
    "BatchUpdateSubscriptionsResponse": {
      "id": "BatchUpdateSubscriptionsResponse",
      "description": "Response message for BatchUpdateSubscription.",
      "type": "object",
      "properties": {
        "subscriptions": {
          "type": "array",
          "description": "The updated subscriptions list.",
          "items": {
            "$ref": "Subscription"
          }
        }
      }
    },
    "RemoteInAppUpdateData": {
      "type": "object",
      "properties": {
        "remoteAppUpdateDataPerBundle": {
          "type": "array",
          "description": "Data related to the recovery action at bundle level.",
          "items": {
            "$ref": "RemoteInAppUpdateDataPerBundle"
          }
        }
      },
      "id": "RemoteInAppUpdateData",
      "description": "Data related to Remote In-App Update action such as recovered user count, affected user count etc."
    },
    "OneTimeProductDiscountedOffer": {
      "type": "object",
      "properties": {
        "redemptionLimit": {
          "type": "string",
          "format": "int64",
          "description": "Optional. The number of times this offer can be redeemed. If unset or set to 0, allows for unlimited offer redemptions. Otherwise must be a number between 1 and 50 inclusive."
        },
        "startTime": {
          "format": "google-datetime",
          "description": "Time when the offer will start being available.",
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Time when the offer will stop being available.",
          "type": "string"
        }
      },
      "id": "OneTimeProductDiscountedOffer",
      "description": "Configuration specific to discounted offers."
    },
    "SubscriptionPurchasesAcknowledgeRequest": {
      "id": "SubscriptionPurchasesAcknowledgeRequest",
      "description": "Request for the purchases.subscriptions.acknowledge API.",
      "type": "object",
      "properties": {
        "developerPayload": {
          "description": "Payload to attach to the purchase.",
          "type": "string"
        },
        "externalAccountIds": {
          "description": "Optional. User account identifier in your app.",
          "$ref": "ExternalAccountIds"
        }
      }
    },
    "OutOfAppPurchaseContext": {
      "type": "object",
      "properties": {
        "expiredExternalAccountIdentifiers": {
          "$ref": "ExternalAccountIdentifiers",
          "description": "User account identifier from the last expired subscription for this SKU."
        },
        "expiredPurchaseToken": {
          "type": "string",
          "description": "The purchase token of the last expired subscription. This purchase token must only be used to help identify the user if the link between the purchaseToken and user is stored in your database. This cannot be used to call the Google Developer API if it has been more than 60 days since expiry."
        }
      },
      "description": "Information specific to an out of app purchase.",
      "id": "OutOfAppPurchaseContext"
    },
    "UpdateBasePlanStateRequest": {
      "description": "Request message to update the state of a subscription base plan.",
      "id": "UpdateBasePlanStateRequest",
      "type": "object",
      "properties": {
        "activateBasePlanRequest": {
          "$ref": "ActivateBasePlanRequest",
          "description": "Activates a base plan. Once activated, base plans will be available to new subscribers."
        },
        "deactivateBasePlanRequest": {
          "$ref": "DeactivateBasePlanRequest",
          "description": "Deactivates a base plan. Once deactivated, the base plan will become unavailable to new subscribers, but existing subscribers will maintain their subscription"
        }
      }
    },
    "AssetModuleMetadata": {
      "id": "AssetModuleMetadata",
      "description": "Metadata of an asset module.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Module name.",
          "type": "string"
        },
        "deliveryType": {
          "description": "Indicates the delivery type for persistent install.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified delivery type.",
            "This module will always be downloaded as part of the initial install of the app.",
            "This module is requested on-demand, which means it will not be part of the initial install, and will only be sent when requested by the client.",
            "This module will be downloaded immediately after initial install finishes. The app can be opened before these modules are downloaded."
          ],
          "enum": [
            "UNKNOWN_DELIVERY_TYPE",
            "INSTALL_TIME",
            "ON_DEMAND",
            "FAST_FOLLOW"
          ]
        }
      }
    },
    "Image": {
      "type": "object",
      "properties": {
        "id": {
          "description": "A unique id representing this image.",
          "type": "string"
        },
        "url": {
          "type": "string",
          "description": "A URL that will serve a preview of the image."
        },
        "sha256": {
          "type": "string",
          "description": "A sha256 hash of the image."
        },
        "sha1": {
          "type": "string",
          "description": "A sha1 hash of the image."
        },
        "aiGeneratedState": {
          "description": "Optional. Whether the image was generated by AI. Attested by the developer.",
          "type": "string",
          "enumDescriptions": [
            "Catch-all for unrecognized enum values. See go/protodosdonts.",
            "The content is not generated by AI.",
            "The content is generated by AI and attested by the developer."
          ],
          "enum": [
            "aiGeneratedStateUnspecified",
            "aiGeneratedStateNotAiGenerated",
            "aiGeneratedStateAiGeneratedDeveloperAttested"
          ]
        }
      },
      "description": "An uploaded image. The resource for ImagesService.",
      "id": "Image"
    },
    "PartialRefundEvent": {
      "description": "Details of the partial refund events for this order.",
      "id": "PartialRefundEvent",
      "type": "object",
      "properties": {
        "refundDetails": {
          "description": "Details for the partial refund.",
          "$ref": "RefundDetails"
        },
        "createTime": {
          "type": "string",
          "description": "The time when the partial refund was created.",
          "format": "google-datetime"
        },
        "state": {
          "description": "The state of the partial refund.",
          "type": "string",
          "enumDescriptions": [
            "State unspecified. This value is not used.",
            "The partial refund has been created, but not yet processed.",
            "The partial refund was processed successfully."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "PROCESSED_SUCCESSFULLY"
          ]
        },
        "processTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time when the partial refund was processed."
        }
      }
    },
    "ProductPurchase": {
      "type": "object",
      "properties": {
        "purchaseType": {
          "type": "integer",
          "format": "int32",
          "description": "The type of purchase of the inapp product. This field is only set if this purchase was not made using the standard in-app billing flow. Possible values are: 0. Test (i.e. purchased from a license testing account) 1. Promo (i.e. purchased using a promo code). Does not include Play Points purchases. 2. Rewarded (i.e. from watching a video ad instead of paying)"
        },
        "obfuscatedExternalAccountId": {
          "description": "An obfuscated version of the id that is uniquely associated with the user's account in your app. Only present if specified using https://developer.android.com/reference/com/android/billingclient/api/BillingFlowParams.Builder#setobfuscatedaccountid when the purchase was made.",
          "type": "string"
        },
        "consumptionState": {
          "type": "integer",
          "description": "The consumption state of the inapp product. Possible values are: 0. Yet to be consumed 1. Consumed",
          "format": "int32"
        },
        "purchaseToken": {
          "type": "string",
          "description": "The purchase token generated to identify this purchase. May not be present."
        },
        "regionCode": {
          "description": "ISO 3166-1 alpha-2 billing region code of the user at the time the product was granted.",
          "type": "string"
        },
        "acknowledgementState": {
          "type": "integer",
          "description": "The acknowledgement state of the inapp product. Possible values are: 0. Yet to be acknowledged 1. Acknowledged",
          "format": "int32"
        },
        "purchaseState": {
          "description": "The purchase state of the order. Possible values are: 0. Purchased 1. Canceled 2. Pending",
          "format": "int32",
          "type": "integer"
        },
        "purchaseTimeMillis": {
          "format": "int64",
          "description": "The time the product was purchased, in milliseconds since the epoch (Jan 1, 1970).",
          "type": "string"
        },
        "quantity": {
          "type": "integer",
          "format": "int32",
          "description": "The quantity associated with the purchase of the inapp product. If not present, the quantity is 1."
        },
        "refundableQuantity": {
          "description": "The quantity eligible for refund, i.e. quantity that hasn't been refunded. The value reflects quantity-based partial refunds and full refunds.",
          "format": "int32",
          "type": "integer"
        },
        "kind": {
          "type": "string",
          "description": "This kind represents an inappPurchase object in the androidpublisher service."
        },
        "obfuscatedExternalProfileId": {
          "description": "An obfuscated version of the id that is uniquely associated with the user's profile in your app. Only present if specified using https://developer.android.com/reference/com/android/billingclient/api/BillingFlowParams.Builder#setobfuscatedprofileid when the purchase was made.",
          "type": "string"
        },
        "developerPayload": {
          "description": "A developer-specified string that contains supplemental information about an order.",
          "type": "string"
        },
        "orderId": {
          "type": "string",
          "description": "The order id associated with the purchase of the inapp product."
        },
        "productId": {
          "description": "The inapp product SKU. May not be present.",
          "type": "string"
        }
      },
      "id": "ProductPurchase",
      "description": "A ProductPurchase resource indicates the status of a user's inapp product purchase."
    },
    "BasePlan": {
      "type": "object",
      "properties": {
        "prepaidBasePlanType": {
          "description": "Set when the base plan does not automatically renew at the end of the billing period.",
          "$ref": "PrepaidBasePlanType"
        },
        "autoRenewingBasePlanType": {
          "description": "Set when the base plan automatically renews at a regular interval.",
          "$ref": "AutoRenewingBasePlanType"
        },
        "regionalConfigs": {
          "type": "array",
          "description": "Region-specific information for this base plan.",
          "items": {
            "$ref": "RegionalBasePlanConfig"
          }
        },
        "installmentsBasePlanType": {
          "$ref": "InstallmentsBasePlanType",
          "description": "Set for installments base plans where a user is committed to a specified number of payments."
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified state.",
            "The base plan is currently in a draft state, and hasn't been activated. It can be safely deleted at this point.",
            "The base plan is active and available for new subscribers.",
            "The base plan is inactive and only available for existing subscribers."
          ],
          "readOnly": true,
          "description": "Output only. The state of the base plan, i.e. whether it's active. Draft and inactive base plans can be activated or deleted. Active base plans can be made inactive. Inactive base plans can be canceled. This field cannot be changed by updating the resource. Use the dedicated endpoints instead.",
          "enum": [
            "STATE_UNSPECIFIED",
            "DRAFT",
            "ACTIVE",
            "INACTIVE"
          ]
        },
        "basePlanId": {
          "type": "string",
          "description": "Required. Immutable. The unique identifier of this base plan. Must be unique within the subscription, and conform with RFC-1034. That is, this ID can only contain lower-case letters (a-z), numbers (0-9), and hyphens (-), and be at most 63 characters."
        },
        "offerTags": {
          "description": "List of up to 20 custom tags specified for this base plan, and returned to the app through the billing library. Subscription offers for this base plan will also receive these offer tags in the billing library.",
          "items": {
            "$ref": "OfferTag"
          },
          "type": "array"
        },
        "otherRegionsConfig": {
          "$ref": "OtherRegionsBasePlanConfig",
          "description": "Pricing information for any new locations Play may launch in the future. If omitted, the BasePlan will not be automatically available any new locations Play may launch in the future."
        }
      },
      "id": "BasePlan",
      "description": "A single base plan for a subscription."
    },
    "PageInfo": {
      "id": "PageInfo",
      "description": "Information about the current page. List operations that supports paging return only one \"page\" of results. This protocol buffer message describes the page that has been returned.",
      "type": "object",
      "properties": {
        "totalResults": {
          "type": "integer",
          "format": "int32",
          "description": "Total number of results available on the backend ! The total number of results in the result set."
        },
        "resultPerPage": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum number of results returned in one page. ! The number of results included in the API response."
        },
        "startIndex": {
          "description": "Index of the first result returned in the current page.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "RegionalBasePlanConfig": {
      "id": "RegionalBasePlanConfig",
      "description": "Configuration for a base plan specific to a region.",
      "type": "object",
      "properties": {
        "newSubscriberAvailability": {
          "type": "boolean",
          "description": "Whether the base plan in the specified region is available for new subscribers. Existing subscribers will not have their subscription canceled if this value is set to false. If not specified, this will default to false."
        },
        "regionCode": {
          "description": "Required. Region code this configuration applies to, as defined by ISO 3166-2, e.g. \"US\".",
          "type": "string"
        },
        "price": {
          "$ref": "Money",
          "description": "The price of the base plan in the specified region. Must be set if the base plan is available to new subscribers. Must be set in the currency that is linked to the specified region."
        }
      }
    },
    "UserInitiatedCancellation": {
      "id": "UserInitiatedCancellation",
      "description": "Information specific to cancellations initiated by users.",
      "type": "object",
      "properties": {
        "cancelTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which the subscription was canceled by the user. The user might still have access to the subscription after this time. Use line_items.expiry_time to determine if a user still has access."
        },
        "cancelSurveyResult": {
          "$ref": "CancelSurveyResult",
          "description": "Information provided by the user when they complete the subscription cancellation flow (cancellation reason survey)."
        }
      }
    },
    "GeneratedUniversalApk": {
      "type": "object",
      "properties": {
        "downloadId": {
          "type": "string",
          "description": "Download ID, which uniquely identifies the APK to download. Should be supplied to `generatedapks.download` method."
        }
      },
      "description": "Download metadata for a universal APK.",
      "id": "GeneratedUniversalApk"
    },
    "PrepaidPlan": {
      "id": "PrepaidPlan",
      "description": "Information related to a prepaid plan.",
      "type": "object",
      "properties": {
        "allowExtendAfterTime": {
          "format": "google-datetime",
          "description": "If present, this is the time after which top up purchases are allowed for the prepaid plan. Will not be present for expired prepaid plans.",
          "type": "string"
        }
      }
    },
    "InstallmentPlan": {
      "type": "object",
      "properties": {
        "remainingCommittedPaymentsCount": {
          "type": "integer",
          "format": "int32",
          "description": "Total number of committed payments remaining to be paid for in this renewal cycle."
        },
        "initialCommittedPaymentsCount": {
          "description": "Total number of payments the user is initially committed for.",
          "format": "int32",
          "type": "integer"
        },
        "subsequentCommittedPaymentsCount": {
          "description": "Total number of payments the user will be committed for after each commitment period. Empty means the installment plan will fall back to a normal auto-renew subscription after initial commitment.",
          "format": "int32",
          "type": "integer"
        },
        "pendingCancellation": {
          "$ref": "PendingCancellation",
          "description": "If present, this installment plan is pending to be canceled. The cancellation will happen only after the user finished all committed payments."
        }
      },
      "description": "Information to a installment plan.",
      "id": "InstallmentPlan"
    },
    "DeveloperInitiatedCancellation": {
      "type": "object",
      "properties": {},
      "description": "Information specific to cancellations initiated by developers.",
      "id": "DeveloperInitiatedCancellation"
    },
    "GeneratedRecoveryApk": {
      "type": "object",
      "properties": {
        "recoveryId": {
          "type": "string",
          "description": "ID of the recovery action.",
          "format": "int64"
        },
        "downloadId": {
          "description": "Download ID, which uniquely identifies the APK to download. Should be supplied to `generatedapks.download` method.",
          "type": "string"
        },
        "recoveryStatus": {
          "description": "The status of the recovery action corresponding to the recovery apk.",
          "type": "string",
          "enumDescriptions": [
            "RecoveryStatus is unspecified.",
            "The app recovery action has not been canceled since it has been created.",
            "The recovery action has been canceled. The action cannot be resumed.",
            "The recovery action is in the draft state and has not yet been deployed to users.",
            "The recovery action is generating recovery apks.",
            "The app recovery action generation has failed."
          ],
          "enum": [
            "RECOVERY_STATUS_UNSPECIFIED",
            "RECOVERY_STATUS_ACTIVE",
            "RECOVERY_STATUS_CANCELED",
            "RECOVERY_STATUS_DRAFT",
            "RECOVERY_STATUS_GENERATION_IN_PROGRESS",
            "RECOVERY_STATUS_GENERATION_FAILED"
          ]
        },
        "moduleName": {
          "description": "Name of the module which recovery apk belongs to.",
          "type": "string"
        }
      },
      "id": "GeneratedRecoveryApk",
      "description": "Download metadata for an app recovery module."
    },
    "InappproductsUpdateRequest": {
      "type": "object",
      "properties": {
        "latencyTolerance": {
          "description": "Optional. The latency tolerance for the propagation of this product update. Defaults to latency-sensitive.",
          "type": "string",
          "enumDescriptions": [
            "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
            "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
            "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
          ],
          "enum": [
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
          ]
        },
        "packageName": {
          "type": "string",
          "description": "Package name of the app."
        },
        "autoConvertMissingPrices": {
          "description": "If true the prices for all regions targeted by the parent app that don't have a price specified for this in-app product will be auto converted to the target currency based on the default price. Defaults to false.",
          "type": "boolean"
        },
        "sku": {
          "type": "string",
          "description": "Unique identifier for the in-app product."
        },
        "inappproduct": {
          "description": "The new in-app product.",
          "$ref": "InAppProduct"
        },
        "allowMissing": {
          "description": "If set to true, and the in-app product with the given package_name and sku doesn't exist, the in-app product will be created.",
          "type": "boolean"
        }
      },
      "id": "InappproductsUpdateRequest",
      "description": "Request to update an in-app product."
    },
    "GeneratedAssetPackSlice": {
      "type": "object",
      "properties": {
        "sliceId": {
          "description": "Asset slice ID.",
          "type": "string"
        },
        "version": {
          "format": "int64",
          "description": "Asset module version.",
          "type": "string"
        },
        "moduleName": {
          "type": "string",
          "description": "Name of the module that this asset slice belongs to."
        },
        "downloadId": {
          "description": "Download ID, which uniquely identifies the APK to download. Should be supplied to `generatedapks.download` method.",
          "type": "string"
        }
      },
      "id": "GeneratedAssetPackSlice",
      "description": "Download metadata for an asset pack slice."
    },
    "TracksListResponse": {
      "type": "object",
      "properties": {
        "kind": {
          "description": "The kind of this response (\"androidpublisher#tracksListResponse\").",
          "type": "string"
        },
        "tracks": {
          "description": "All tracks (including tracks with no releases).",
          "items": {
            "$ref": "Track"
          },
          "type": "array"
        }
      },
      "description": "Response listing all tracks.",
      "id": "TracksListResponse"
    },
    "BundlesListResponse": {
      "id": "BundlesListResponse",
      "description": "Response listing all app bundles.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "The kind of this response (\"androidpublisher#bundlesListResponse\").",
          "type": "string"
        },
        "bundles": {
          "description": "All app bundles.",
          "items": {
            "$ref": "Bundle"
          },
          "type": "array"
        }
      }
    },
    "UpdateOneTimeProductRequest": {
      "type": "object",
      "properties": {
        "oneTimeProduct": {
          "$ref": "OneTimeProduct",
          "description": "Required. The one-time product to upsert."
        },
        "regionsVersion": {
          "$ref": "RegionsVersion",
          "description": "Required. The version of the available regions being used for the one-time product."
        },
        "latencyTolerance": {
          "type": "string",
          "enumDescriptions": [
            "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
            "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
            "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
          ],
          "enum": [
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
          ],
          "description": "Optional. The latency tolerance for the propagation of this product upsert. Defaults to latency-sensitive."
        },
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "Required. The list of fields to be updated."
        },
        "allowMissing": {
          "type": "boolean",
          "description": "Optional. If set to true, and the one-time product with the given package_name and product_id doesn't exist, the one-time product will be created. If a new one-time product is created, update_mask is ignored."
        }
      },
      "description": "Request message for UpdateOneTimeProduct.",
      "id": "UpdateOneTimeProductRequest"
    },
    "PendingCancellation": {
      "type": "object",
      "properties": {},
      "description": "This is an indicator of whether there is a pending cancellation on the virtual installment plan. The cancellation will happen only after the user finished all committed payments.",
      "id": "PendingCancellation"
    },
    "DeletePurchaseOptionRequest": {
      "type": "object",
      "properties": {
        "packageName": {
          "type": "string",
          "description": "Required. The parent app (package name) of the purchase option to delete."
        },
        "latencyTolerance": {
          "description": "Optional. The latency tolerance for the propagation of this product update. Defaults to latency-sensitive.",
          "type": "string",
          "enumDescriptions": [
            "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
            "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
            "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
          ],
          "enum": [
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
          ]
        },
        "force": {
          "description": "Optional. This field has no effect for purchase options with no offers under them. For purchase options with associated offers: * If `force` is set to false (default), an error will be returned. * If `force` is set to true, any associated offers under the purchase option will be deleted.",
          "type": "boolean"
        },
        "purchaseOptionId": {
          "type": "string",
          "description": "Required. The purchase option ID of the purchase option to delete."
        },
        "productId": {
          "type": "string",
          "description": "Required. The parent one-time product (ID) of the purchase option to delete."
        }
      },
      "description": "Request message for deleting a purchase option.",
      "id": "DeletePurchaseOptionRequest"
    },
    "ListSubscriptionsResponse": {
      "type": "object",
      "properties": {
        "subscriptions": {
          "description": "The subscriptions from the specified app.",
          "items": {
            "$ref": "Subscription"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for ListSubscriptions.",
      "id": "ListSubscriptionsResponse"
    },
    "ScreenDensity": {
      "type": "object",
      "properties": {
        "densityAlias": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified screen density.",
            "NODPI screen density.",
            "LDPI screen density.",
            "MDPI screen density.",
            "TVDPI screen density.",
            "HDPI screen density.",
            "XHDPI screen density.",
            "XXHDPI screen density.",
            "XXXHDPI screen density."
          ],
          "enum": [
            "DENSITY_UNSPECIFIED",
            "NODPI",
            "LDPI",
            "MDPI",
            "TVDPI",
            "HDPI",
            "XHDPI",
            "XXHDPI",
            "XXXHDPI"
          ],
          "description": "Alias for a screen density."
        },
        "densityDpi": {
          "type": "integer",
          "format": "int32",
          "description": "Value for density dpi."
        }
      },
      "description": "Represents a screen density.",
      "id": "ScreenDensity"
    },
    "TrackConfig": {
      "type": "object",
      "properties": {
        "track": {
          "type": "string",
          "description": "Required. Identifier of the new track. For default tracks, this field consists of the track alias only. Form factor tracks have a special prefix as an identifier, for example `wear:production`, `automotive:production`. This prefix must match the value of the `form_factor` field, if it is not a default track. [More on track name](https://developers.google.com/android-publisher/tracks#ff-track-name)"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Fallback value, do not use.",
            "Closed testing track."
          ],
          "enum": [
            "TRACK_TYPE_UNSPECIFIED",
            "CLOSED_TESTING"
          ],
          "description": "Required. Type of the new track. Currently, the only supported value is closedTesting."
        },
        "formFactor": {
          "description": "Required. Form factor of the new track. Defaults to the default track.",
          "type": "string",
          "enumDescriptions": [
            "Fallback value, do not use.",
            "Default track.",
            "Wear form factor track.",
            "Automotive form factor track."
          ],
          "enum": [
            "FORM_FACTOR_UNSPECIFIED",
            "DEFAULT",
            "WEAR",
            "AUTOMOTIVE"
          ]
        }
      },
      "id": "TrackConfig",
      "description": "Configurations of the new track."
    },
    "SystemOnChip": {
      "type": "object",
      "properties": {
        "manufacturer": {
          "type": "string",
          "description": "Required. The designer of the SoC, eg. \"Google\" Value of build property \"ro.soc.manufacturer\" https://developer.android.com/reference/android/os/Build#SOC_MANUFACTURER Required."
        },
        "model": {
          "description": "Required. The model of the SoC, eg. \"Tensor\" Value of build property \"ro.soc.model\" https://developer.android.com/reference/android/os/Build#SOC_MODEL Required.",
          "type": "string"
        }
      },
      "id": "SystemOnChip",
      "description": "Representation of a System-on-Chip (SoC) of an Android device. Can be used to target S+ devices."
    },
    "GetSubscriptionOfferRequest": {
      "type": "object",
      "properties": {
        "packageName": {
          "type": "string",
          "description": "Required. The parent app (package name) of the offer to get."
        },
        "productId": {
          "type": "string",
          "description": "Required. The parent subscription (ID) of the offer to get."
        },
        "basePlanId": {
          "description": "Required. The parent base plan (ID) of the offer to get.",
          "type": "string"
        },
        "offerId": {
          "type": "string",
          "description": "Required. The unique offer ID of the offer to get."
        }
      },
      "id": "GetSubscriptionOfferRequest",
      "description": "Request message for GetSubscriptionOffer."
    },
    "GeneratedApksPerSigningKey": {
      "type": "object",
      "properties": {
        "generatedStandaloneApks": {
          "type": "array",
          "description": "List of generated standalone APKs, signed with a key corresponding to certificate_sha256_hash.",
          "items": {
            "$ref": "GeneratedStandaloneApk"
          }
        },
        "generatedUniversalApk": {
          "$ref": "GeneratedUniversalApk",
          "description": "Generated universal APK, signed with a key corresponding to certificate_sha256_hash. This field is not set if no universal APK was generated for this signing key."
        },
        "generatedRecoveryModules": {
          "description": "Generated recovery apks for recovery actions signed with a key corresponding to certificate_sha256_hash. This includes all generated recovery APKs, also those in draft or cancelled state. This field is not set if no recovery actions were created for this signing key.",
          "items": {
            "$ref": "GeneratedRecoveryApk"
          },
          "type": "array"
        },
        "unprotectedGeneratedSplitApks": {
          "type": "array",
          "description": "List of generated split APKs without automatic protection, signed with a key corresponding to certificate_sha256_hash. This field is only present if the app uses automatic protection. In this case, `generated_split_apks` contains APKs with automatic protection enabled, whereas this field contains APKs without automatic protection.",
          "items": {
            "$ref": "GeneratedSplitApk"
          }
        },
        "unprotectedGeneratedStandaloneApks": {
          "description": "List of generated standalone APKs without automatic protection, signed with a key corresponding to certificate_sha256_hash. This field is only present if the app uses automatic protection. In this case, `generated_standalone_apks` contains APKs with automatic protection enabled, whereas this field contains APKs without automatic protection.",
          "items": {
            "$ref": "GeneratedStandaloneApk"
          },
          "type": "array"
        },
        "certificateSha256Hash": {
          "description": "SHA256 hash of the APK signing public key certificate.",
          "type": "string"
        },
        "generatedAssetPackSlices": {
          "description": "List of asset pack slices which will be served for this app bundle, signed with a key corresponding to certificate_sha256_hash.",
          "items": {
            "$ref": "GeneratedAssetPackSlice"
          },
          "type": "array"
        },
        "generatedSplitApks": {
          "type": "array",
          "description": "List of generated split APKs, signed with a key corresponding to certificate_sha256_hash.",
          "items": {
            "$ref": "GeneratedSplitApk"
          }
        },
        "targetingInfo": {
          "description": "Contains targeting information about the generated apks.",
          "$ref": "TargetingInfo"
        }
      },
      "id": "GeneratedApksPerSigningKey",
      "description": "Download metadata for split, standalone and universal APKs, as well as asset pack slices, signed with a given key."
    },
    "DeviceFeatureTargeting": {
      "id": "DeviceFeatureTargeting",
      "description": "Targeting for a device feature.",
      "type": "object",
      "properties": {
        "requiredFeature": {
          "description": "Feature of the device.",
          "$ref": "DeviceFeature"
        }
      }
    },
    "InappproductsBatchGetResponse": {
      "type": "object",
      "properties": {
        "inappproduct": {
          "type": "array",
          "description": "The list of requested in-app products, in the same order as the request.",
          "items": {
            "$ref": "InAppProduct"
          }
        }
      },
      "description": "Response message for BatchGetSubscriptions endpoint.",
      "id": "InappproductsBatchGetResponse"
    },
    "OneTimeProductListing": {
      "type": "object",
      "properties": {
        "title": {
          "description": "Required. The title of this product in the language of this listing. The maximum length is 55 characters.",
          "type": "string"
        },
        "description": {
          "description": "Required. The description of this product in the language of this listing. The maximum length is 200 characters.",
          "type": "string"
        },
        "languageCode": {
          "type": "string",
          "description": "Required. The language of this listing, as defined by BCP-47, e.g., \"en-US\"."
        }
      },
      "description": "Regional store listing for a one-time product.",
      "id": "OneTimeProductListing"
    },
    "UpdateSubscriptionRequest": {
      "type": "object",
      "properties": {
        "allowMissing": {
          "type": "boolean",
          "description": "Optional. If set to true, and the subscription with the given package_name and product_id doesn't exist, the subscription will be created. If a new subscription is created, update_mask is ignored."
        },
        "subscription": {
          "description": "Required. The subscription to update.",
          "$ref": "Subscription"
        },
        "updateMask": {
          "format": "google-fieldmask",
          "description": "Required. The list of fields to be updated.",
          "type": "string"
        },
        "latencyTolerance": {
          "type": "string",
          "enumDescriptions": [
            "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
            "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
            "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
          ],
          "enum": [
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
          ],
          "description": "Optional. The latency tolerance for the propagation of this product update. Defaults to latency-sensitive."
        },
        "regionsVersion": {
          "$ref": "RegionsVersion",
          "description": "Required. The version of the available regions being used for the subscription."
        }
      },
      "id": "UpdateSubscriptionRequest",
      "description": "Request message for UpdateSubscription."
    },
    "PartialRefund": {
      "type": "object",
      "properties": {
        "refundPreTaxAmount": {
          "$ref": "Price",
          "description": "Required. The pre-tax amount of the partial refund. Should be less than the remaining pre-tax amount of the transaction."
        },
        "refundId": {
          "type": "string",
          "description": "Required. A unique id distinguishing this partial refund. If the refund is successful, subsequent refunds with the same id will fail. Must be unique across refunds for one individual transaction."
        }
      },
      "id": "PartialRefund",
      "description": "A partial refund of a transaction."
    },
    "Timestamp": {
      "type": "object",
      "properties": {
        "seconds": {
          "description": "Represents seconds of UTC time since Unix epoch.",
          "format": "int64",
          "type": "string"
        },
        "nanos": {
          "type": "integer",
          "format": "int32",
          "description": "Non-negative fractions of a second at nanosecond resolution. Must be from 0 to 999,999,999 inclusive."
        }
      },
      "id": "Timestamp",
      "description": "A Timestamp represents a point in time independent of any time zone or local calendar, encoded as a count of seconds and fractions of seconds at nanosecond resolution. The count is relative to an epoch at UTC midnight on January 1, 1970."
    },
    "DeviceGroup": {
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the group.",
          "type": "string"
        },
        "deviceSelectors": {
          "description": "Device selectors for this group. A device matching any of the selectors is included in this group.",
          "items": {
            "$ref": "DeviceSelector"
          },
          "type": "array"
        }
      },
      "description": "A group of devices. A group is defined by a set of device selectors. A device belongs to the group if it matches any selector (logical OR).",
      "id": "DeviceGroup"
    },
    "RestrictedPaymentCountries": {
      "id": "RestrictedPaymentCountries",
      "description": "Countries where the purchase of this product is restricted to payment methods registered in the same country. If empty, no payment location restrictions are imposed.",
      "type": "object",
      "properties": {
        "regionCodes": {
          "type": "array",
          "description": "Required. Region codes to impose payment restrictions on, as defined by ISO 3166-2, e.g. \"US\".",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "TargetingRuleScopeThisSubscription": {
      "type": "object",
      "properties": {},
      "id": "TargetingRuleScopeThisSubscription",
      "description": "Represents the targeting rule scope corresponding to the subscriptions in which this offer is defined."
    },
    "SubscriptionPurchasesDeferResponse": {
      "type": "object",
      "properties": {
        "newExpiryTimeMillis": {
          "type": "string",
          "description": "The new expiry time for the subscription in milliseconds since the Epoch.",
          "format": "int64"
        }
      },
      "id": "SubscriptionPurchasesDeferResponse",
      "description": "Response for the purchases.subscriptions.defer API."
    },
    "RevokeSubscriptionPurchaseRequest": {
      "id": "RevokeSubscriptionPurchaseRequest",
      "description": "Request for the purchases.subscriptionsv2.revoke API.",
      "type": "object",
      "properties": {
        "revocationContext": {
          "description": "Required. Additional details around the subscription revocation.",
          "$ref": "RevocationContext"
        }
      }
    },
    "BatchUpdateSubscriptionOffersRequest": {
      "type": "object",
      "properties": {
        "requests": {
          "description": "Required. A list of update requests of up to 100 elements. All requests must update different subscription offers.",
          "items": {
            "$ref": "UpdateSubscriptionOfferRequest"
          },
          "type": "array"
        }
      },
      "id": "BatchUpdateSubscriptionOffersRequest",
      "description": "Request message for BatchUpdateSubscriptionOffers."
    },
    "AddTargetingRequest": {
      "type": "object",
      "properties": {
        "targetingUpdate": {
          "description": "Specifies targeting updates such as regions, android sdk versions etc.",
          "$ref": "TargetingUpdate"
        }
      },
      "description": "Request message for AddTargeting.",
      "id": "AddTargetingRequest"
    },
    "RefundExternalTransactionRequest": {
      "description": "A request to refund an existing external transaction.",
      "id": "RefundExternalTransactionRequest",
      "type": "object",
      "properties": {
        "fullRefund": {
          "$ref": "FullRefund",
          "description": "A full-amount refund."
        },
        "refundTime": {
          "description": "Required. The time that the transaction was refunded.",
          "format": "google-datetime",
          "type": "string"
        },
        "partialRefund": {
          "description": "A partial refund.",
          "$ref": "PartialRefund"
        }
      }
    },
    "TestPurchase": {
      "id": "TestPurchase",
      "description": "Whether this subscription purchase is a test purchase.",
      "type": "object",
      "properties": {}
    },
    "CancelAppRecoveryResponse": {
      "type": "object",
      "properties": {},
      "id": "CancelAppRecoveryResponse",
      "description": "Response message for CancelAppRecovery."
    },
    "RecurringExternalTransaction": {
      "description": "Represents a transaction that is part of a recurring series of payments. This can be a subscription or a one-time product with multiple payments (such as preorder).",
      "id": "RecurringExternalTransaction",
      "type": "object",
      "properties": {
        "externalSubscription": {
          "$ref": "ExternalSubscription",
          "description": "Details of an external subscription."
        },
        "otherRecurringProduct": {
          "description": "Details of a recurring external transaction product which doesn't belong to any other specific category.",
          "$ref": "OtherRecurringProduct"
        },
        "initialExternalTransactionId": {
          "description": "The external transaction id of the first transaction of this recurring series of transactions. For example, for a subscription this would be the transaction id of the first payment. Required when creating recurring external transactions.",
          "type": "string"
        },
        "externalTransactionToken": {
          "type": "string",
          "description": "Input only. Provided during the call to Create. Retrieved from the client when the alternative billing flow is launched. Required only for the initial purchase."
        },
        "migratedTransactionProgram": {
          "description": "Input only. Provided during the call to Create. Must only be used when migrating a subscription from manual monthly reporting to automated reporting.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified transaction program. Not used.",
            "User choice billing, where a user may choose between Google Play Billing developer-managed billing.",
            "Alternative billing only, where users may only use developer-manager billing."
          ],
          "enum": [
            "EXTERNAL_TRANSACTION_PROGRAM_UNSPECIFIED",
            "USER_CHOICE_BILLING",
            "ALTERNATIVE_BILLING_ONLY"
          ]
        }
      }
    },
    "OtherRegionsBasePlanConfig": {
      "type": "object",
      "properties": {
        "eurPrice": {
          "$ref": "Money",
          "description": "Required. Price in EUR to use for any new locations Play may launch in."
        },
        "usdPrice": {
          "description": "Required. Price in USD to use for any new locations Play may launch in.",
          "$ref": "Money"
        },
        "newSubscriberAvailability": {
          "description": "Whether the base plan is available for new subscribers in any new locations Play may launch in. If not specified, this will default to false.",
          "type": "boolean"
        }
      },
      "id": "OtherRegionsBasePlanConfig",
      "description": "Pricing information for any new locations Play may launch in."
    },
    "DeviceSelector": {
      "type": "object",
      "properties": {
        "requiredSystemFeatures": {
          "description": "A device needs to have all these system features to be included by the selector.",
          "items": {
            "$ref": "SystemFeature"
          },
          "type": "array"
        },
        "forbiddenSystemFeatures": {
          "type": "array",
          "description": "A device that has any of these system features is excluded by this selector, even if it matches all other conditions.",
          "items": {
            "$ref": "SystemFeature"
          }
        },
        "deviceRam": {
          "$ref": "DeviceRam",
          "description": "Conditions on the device's RAM."
        },
        "excludedDeviceIds": {
          "type": "array",
          "description": "Device models excluded by this selector, even if they match all other conditions.",
          "items": {
            "$ref": "DeviceId"
          }
        },
        "includedDeviceIds": {
          "type": "array",
          "description": "Device models included by this selector.",
          "items": {
            "$ref": "DeviceId"
          }
        },
        "systemOnChips": {
          "description": "Optional. The SoCs included by this selector. Only works for Android S+ devices.",
          "items": {
            "$ref": "SystemOnChip"
          },
          "type": "array"
        }
      },
      "id": "DeviceSelector",
      "description": "Selector for a device group. A selector consists of a set of conditions on the device that should all match (logical AND) to determine a device group eligibility. For instance, if a selector specifies RAM conditions, device model inclusion and device model exclusion, a device is considered to match if: device matches RAM conditions AND device matches one of the included device models AND device doesn't match excluded device models"
    },
    "SubscriptionPriceChange": {
      "type": "object",
      "properties": {
        "newPrice": {
          "$ref": "Price",
          "description": "The new price the subscription will renew with if the price change is accepted by the user."
        },
        "state": {
          "type": "integer",
          "format": "int32",
          "description": "The current state of the price change. Possible values are: 0. Outstanding: State for a pending price change waiting for the user to agree. In this state, you can optionally seek confirmation from the user using the In-App API. 1. Accepted: State for an accepted price change that the subscription will renew with unless it's canceled. The price change takes effect on a future date when the subscription renews. Note that the change might not occur when the subscription is renewed next."
        }
      },
      "description": "Contains the price change information for a subscription that can be used to control the user journey for the price change in the app. This can be in the form of seeking confirmation from the user or tailoring the experience for a successful conversion.",
      "id": "SubscriptionPriceChange"
    },
    "RevocationContextItemBasedRefund": {
      "type": "object",
      "properties": {
        "productId": {
          "type": "string",
          "description": "Required. If the subscription is a subscription with add-ons, the product id of the subscription item to revoke."
        }
      },
      "id": "RevocationContextItemBasedRefund",
      "description": "Used to determine what specific item to revoke in a subscription with multiple items."
    },
    "User": {
      "description": "A user resource.",
      "id": "User",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. Resource name for this user, following the pattern \"developers/{developer}/users/{email}\".",
          "type": "string"
        },
        "expirationTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which the user's access expires, if set. When setting this value, it must always be in the future."
        },
        "developerAccountPermissions": {
          "type": "array",
          "description": "Permissions for the user which apply across the developer account.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unknown or unspecified permission.",
              "View app information and download bulk reports (read-only). Deprecated: Check CAN_VIEW_NON_FINANCIAL_DATA_GLOBAL.",
              "View financial data, orders, and cancellation survey responses.",
              "Admin (all permissions).",
              "Edit Play Games Services projects.",
              "Publish Play Games Services projects.",
              "Reply to reviews.",
              "Release to production, exclude devices, and use app signing by Google Play.",
              "Release to testing tracks.",
              "Manage testing tracks and edit tester lists.",
              "Manage store presence.",
              "Create, edit, and delete draft apps.",
              "Create and publish private apps to your organization.",
              "Choose whether apps are public, or only available to your organization.",
              "Manage orders and subscriptions.",
              "Manage policy related pages on all apps for the developer.",
              "View app information and download bulk reports (read-only).",
              "View app quality information for all apps for the developer.",
              "Manage the deep links setup for all apps for the developer.",
              "Allows viewing connected apps in the Google Play Console.",
              "Allows editing connected apps in the Google Play Console."
            ],
            "enum": [
              "DEVELOPER_LEVEL_PERMISSION_UNSPECIFIED",
              "CAN_SEE_ALL_APPS",
              "CAN_VIEW_FINANCIAL_DATA_GLOBAL",
              "CAN_MANAGE_PERMISSIONS_GLOBAL",
              "CAN_EDIT_GAMES_GLOBAL",
              "CAN_PUBLISH_GAMES_GLOBAL",
              "CAN_REPLY_TO_REVIEWS_GLOBAL",
              "CAN_MANAGE_PUBLIC_APKS_GLOBAL",
              "CAN_MANAGE_TRACK_APKS_GLOBAL",
              "CAN_MANAGE_TRACK_USERS_GLOBAL",
              "CAN_MANAGE_PUBLIC_LISTING_GLOBAL",
              "CAN_MANAGE_DRAFT_APPS_GLOBAL",
              "CAN_CREATE_MANAGED_PLAY_APPS_GLOBAL",
              "CAN_CHANGE_MANAGED_PLAY_SETTING_GLOBAL",
              "CAN_MANAGE_ORDERS_GLOBAL",
              "CAN_MANAGE_APP_CONTENT_GLOBAL",
              "CAN_VIEW_NON_FINANCIAL_DATA_GLOBAL",
              "CAN_VIEW_APP_QUALITY_GLOBAL",
              "CAN_MANAGE_DEEPLINKS_GLOBAL",
              "CAN_VIEW_CONNECTED_APPS_GLOBAL",
              "CAN_EDIT_CONNECTED_APPS_GLOBAL"
            ],
            "enumDeprecated": [
              false,
              true,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false
            ]
          }
        },
        "email": {
          "description": "Immutable. The user's email address.",
          "type": "string"
        },
        "accessState": {
          "type": "string",
          "enumDescriptions": [
            "Unknown or unspecified access state.",
            "User is invited but has not yet accepted the invitation.",
            "Invitation has expired.",
            "User has accepted an invitation and has access to the Play Console.",
            "Account access has expired."
          ],
          "readOnly": true,
          "description": "Output only. The state of the user's access to the Play Console.",
          "enum": [
            "ACCESS_STATE_UNSPECIFIED",
            "INVITED",
            "INVITATION_EXPIRED",
            "ACCESS_GRANTED",
            "ACCESS_EXPIRED"
          ]
        },
        "grants": {
          "type": "array",
          "description": "Output only. Per-app permissions for the user.",
          "items": {
            "$ref": "Grant"
          },
          "readOnly": true
        },
        "partial": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether there are more permissions for the user that are not represented here. This can happen if the caller does not have permission to manage all apps in the account. This is also `true` if this user is the account owner. If this field is `true`, it should be taken as a signal that this user cannot be fully managed via the API. That is, the API caller is not be able to manage all of the permissions this user holds, either because it doesn't know about them or because the user is the account owner."
        }
      }
    },
    "DeviceFeature": {
      "type": "object",
      "properties": {
        "featureName": {
          "description": "Name of the feature.",
          "type": "string"
        },
        "featureVersion": {
          "description": "The feature version specified by android:glEsVersion or android:version in in the AndroidManifest.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "DeviceFeature",
      "description": "Represents a device feature."
    },
    "InappproductsBatchUpdateRequest": {
      "type": "object",
      "properties": {
        "requests": {
          "type": "array",
          "description": "Required. Individual update requests. At least one request is required. Can contain up to 100 requests. All requests must correspond to different in-app products.",
          "items": {
            "$ref": "InappproductsUpdateRequest"
          }
        }
      },
      "description": "Request to update or insert one or more in-app products.",
      "id": "InappproductsBatchUpdateRequest"
    },
    "BatchGetOneTimeProductOffersResponse": {
      "type": "object",
      "properties": {
        "oneTimeProductOffers": {
          "type": "array",
          "description": "The list of updated one-time product offers, in the same order as the request.",
          "items": {
            "$ref": "OneTimeProductOffer"
          }
        }
      },
      "description": "Response message for the BatchGetOneTimeProductOffers endpoint.",
      "id": "BatchGetOneTimeProductOffersResponse"
    },
    "PreorderDetails": {
      "id": "PreorderDetails",
      "description": "Details of a pre-order purchase.",
      "type": "object",
      "properties": {}
    },
    "RefundEvent": {
      "id": "RefundEvent",
      "description": "Details of when the order was fully refunded.",
      "type": "object",
      "properties": {
        "eventTime": {
          "description": "The time when the order was fully refunded.",
          "format": "google-datetime",
          "type": "string"
        },
        "refundDetails": {
          "description": "Details for the full refund.",
          "$ref": "RefundDetails"
        },
        "refundReason": {
          "type": "string",
          "enumDescriptions": [
            "Refund reason unspecified. This value is not used.",
            "The order was refunded for a reason other than the listed reasons here.",
            "The order was charged back."
          ],
          "enum": [
            "REFUND_REASON_UNSPECIFIED",
            "OTHER",
            "CHARGEBACK"
          ],
          "description": "The reason the order was refunded."
        }
      }
    },
    "ImagesUploadResponse": {
      "type": "object",
      "properties": {
        "image": {
          "$ref": "Image",
          "description": "The uploaded image."
        }
      },
      "id": "ImagesUploadResponse",
      "description": "Response for uploading an image."
    },
    "BatchUpdateOneTimeProductOfferStatesResponse": {
      "type": "object",
      "properties": {
        "oneTimeProductOffers": {
          "type": "array",
          "description": "The updated one-time product offers list, in the same order as the request.",
          "items": {
            "$ref": "OneTimeProductOffer"
          }
        }
      },
      "id": "BatchUpdateOneTimeProductOfferStatesResponse",
      "description": "Response message for BatchUpdateOneTimeProductOfferStates."
    },
    "BatchGetOneTimeProductOffersRequest": {
      "description": "Request message for the BatchGetOneTimeProductOffers endpoint.",
      "id": "BatchGetOneTimeProductOffersRequest",
      "type": "object",
      "properties": {
        "requests": {
          "type": "array",
          "description": "Required. A list of get requests of up to 100 elements. All requests must retrieve different offers.",
          "items": {
            "$ref": "GetOneTimeProductOfferRequest"
          }
        }
      }
    },
    "OneTimeProduct": {
      "type": "object",
      "properties": {
        "offerTags": {
          "type": "array",
          "description": "Optional. List of up to 20 custom tags specified for this one-time product, and returned to the app through the billing library. Purchase options and offers for this product will also receive these tags in the billing library.",
          "items": {
            "$ref": "OfferTag"
          }
        },
        "productId": {
          "type": "string",
          "description": "Required. Immutable. Unique product ID of the product. Unique within the parent app. Product IDs must start with a number or lowercase letter, and can contain numbers (0-9), lowercase letters (a-z), underscores (_), and periods (.)."
        },
        "taxAndComplianceSettings": {
          "description": "Details about taxes and legal compliance.",
          "$ref": "OneTimeProductTaxAndComplianceSettings"
        },
        "packageName": {
          "description": "Required. Immutable. Package name of the parent app.",
          "type": "string"
        },
        "restrictedPaymentCountries": {
          "$ref": "RestrictedPaymentCountries",
          "description": "Optional. Countries where the purchase of this one-time product is restricted to payment methods registered in the same country. If empty, no payment location restrictions are imposed."
        },
        "regionsVersion": {
          "readOnly": true,
          "description": "Output only. The version of the regions configuration that was used to generate the one-time product.",
          "$ref": "RegionsVersion"
        },
        "listings": {
          "description": "Required. Set of localized title and description data. Must not have duplicate entries with the same language_code.",
          "items": {
            "$ref": "OneTimeProductListing"
          },
          "type": "array"
        },
        "purchaseOptions": {
          "type": "array",
          "description": "Required. The set of purchase options for this one-time product.",
          "items": {
            "$ref": "OneTimeProductPurchaseOption"
          }
        }
      },
      "id": "OneTimeProduct",
      "description": "A single one-time product for an app."
    },
    "RegionsVersion": {
      "id": "RegionsVersion",
      "description": "The version of the available regions being used for the specified resource.",
      "type": "object",
      "properties": {
        "version": {
          "type": "string",
          "description": "Required. A string representing the version of available regions being used for the specified resource. Regional prices and latest supported version for the resource have to be specified according to the information published in [this article](https://support.google.com/googleplay/android-developer/answer/10532353). Each time the supported locations substantially change, the version will be incremented. Using this field will ensure that creating and updating the resource with an older region's version and set of regional prices and currencies will succeed even though a new version is available."
        }
      }
    },
    "RenewalDeclinedContext": {
      "type": "object",
      "properties": {
        "pendingOrderId": {
          "type": "string",
          "description": "Required. The ID of the pending or failed order causing the state."
        }
      },
      "description": "Context related to renewal declined scenario.",
      "id": "RenewalDeclinedContext"
    },
    "SignupPromotion": {
      "type": "object",
      "properties": {
        "oneTimeCode": {
          "description": "A one-time code was applied.",
          "$ref": "OneTimeCode"
        },
        "vanityCode": {
          "$ref": "VanityCode",
          "description": "A vanity code was applied."
        }
      },
      "description": "The promotion applied on this item when purchased.",
      "id": "SignupPromotion"
    },
    "AppDetails": {
      "type": "object",
      "properties": {
        "contactPhone": {
          "type": "string",
          "description": "The user-visible support telephone number for this app."
        },
        "contactWebsite": {
          "description": "The user-visible website for this app.",
          "type": "string"
        },
        "contactEmail": {
          "type": "string",
          "description": "The user-visible support email for this app."
        },
        "defaultLanguage": {
          "type": "string",
          "description": "Default language code, in BCP 47 format (eg \"en-US\")."
        }
      },
      "description": "The app details. The resource for DetailsService.",
      "id": "AppDetails"
    },
    "ExternalTransactionAddress": {
      "id": "ExternalTransactionAddress",
      "description": "User's address for the external transaction.",
      "type": "object",
      "properties": {
        "regionCode": {
          "description": "Required. Two letter region code based on ISO-3166-1 Alpha-2 (UN region codes).",
          "type": "string"
        },
        "administrativeArea": {
          "type": "string",
          "description": "Optional. Top-level administrative subdivision of the country/region. Only required for transactions in India. Valid values are \"ANDAMAN AND NICOBAR ISLANDS\", \"ANDHRA PRADESH\", \"ARUNACHAL PRADESH\", \"ASSAM\", \"BIHAR\", \"CHANDIGARH\", \"CHHATTISGARH\", \"DADRA AND NAGAR HAVELI\", \"DADRA AND NAGAR HAVELI AND DAMAN AND DIU\", \"DAMAN AND DIU\", \"DELHI\", \"GOA\", \"GUJARAT\", \"HARYANA\", \"HIMACHAL PRADESH\", \"JAMMU AND KASHMIR\", \"JHARKHAND\", \"KARNATAKA\", \"KERALA\", \"LADAKH\", \"LAKSHADWEEP\", \"MADHYA PRADESH\", \"MAHARASHTRA\", \"MANIPUR\", \"MEGHALAYA\", \"MIZORAM\", \"NAGALAND\", \"ODISHA\", \"PUDUCHERRY\", \"PUNJAB\", \"RAJASTHAN\", \"SIKKIM\", \"TAMIL NADU\", \"TELANGANA\", \"TRIPURA\", \"UTTAR PRADESH\", \"UTTARAKHAND\", and \"WEST BENGAL\"."
        }
      }
    },
    "DeleteOneTimeProductRequest": {
      "type": "object",
      "properties": {
        "productId": {
          "type": "string",
          "description": "Required. The one-time product ID of the one-time product to delete."
        },
        "latencyTolerance": {
          "description": "Optional. The latency tolerance for the propagation of this product update. Defaults to latency-sensitive.",
          "type": "string",
          "enumDescriptions": [
            "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
            "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
            "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
          ],
          "enum": [
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
          ]
        },
        "packageName": {
          "description": "Required. The parent app (package name) of the one-time product to delete.",
          "type": "string"
        }
      },
      "description": "Request message for deleting a one-time product.",
      "id": "DeleteOneTimeProductRequest"
    },
    "CancelAppRecoveryRequest": {
      "type": "object",
      "properties": {},
      "id": "CancelAppRecoveryRequest",
      "description": "Request message for CancelAppRecovery."
    },
    "Order": {
      "type": "object",
      "properties": {
        "buyerAddress": {
          "$ref": "BuyerAddress",
          "description": "Address information for the customer, for use in tax computation. When Google is the Merchant of Record for the order, only country is shown."
        },
        "orderHistory": {
          "$ref": "OrderHistory",
          "description": "Details about events which modified the order."
        },
        "total": {
          "description": "The final amount paid by the customer, taking into account discounts and taxes.",
          "$ref": "Money"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "The time when the order was created.",
          "type": "string"
        },
        "lineItems": {
          "type": "array",
          "description": "The individual line items making up this order.",
          "items": {
            "$ref": "LineItem"
          }
        },
        "tax": {
          "$ref": "Money",
          "description": "The total tax paid as a part of this order."
        },
        "purchaseToken": {
          "type": "string",
          "description": "The token provided to the user's device when the subscription or item was purchased."
        },
        "state": {
          "description": "The state of the order.",
          "type": "string",
          "enumDescriptions": [
            "State unspecified. This value is not used.",
            "Order has been created and is waiting to be processed.",
            "Order has been successfully processed.",
            "Order was canceled before being processed.",
            "Requested refund is waiting to be processed.",
            "Part of the order amount was refunded.",
            "The full order amount was refunded."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "PROCESSED",
            "CANCELED",
            "PENDING_REFUND",
            "PARTIALLY_REFUNDED",
            "REFUNDED"
          ]
        },
        "orderDetails": {
          "$ref": "OrderDetails",
          "description": "Detailed information about the order at creation time."
        },
        "salesChannel": {
          "description": "The originating sales channel of the order.",
          "type": "string",
          "enumDescriptions": [
            "Sales channel unspecified. This value is not used.",
            "Standard orders that initiated from in-app.",
            "Orders initiated from a PC emulator for in-app purchases.",
            "Orders initiated from a native PC app for in-app purchases.",
            "Orders initiated from the Google Play store.",
            "Orders initiated outside the Google Play store."
          ],
          "enum": [
            "SALES_CHANNEL_UNSPECIFIED",
            "IN_APP",
            "PC_EMULATOR",
            "NATIVE_PC",
            "PLAY_STORE",
            "OUTSIDE_PLAY_STORE"
          ]
        },
        "pointsDetails": {
          "description": "Play points applied to the order, including offer information, discount rate and point values.",
          "$ref": "PointsDetails"
        },
        "lastEventTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time of the last event that occurred on the order."
        },
        "orderId": {
          "type": "string",
          "description": "The order ID."
        },
        "developerRevenueInBuyerCurrency": {
          "$ref": "Money",
          "description": "Your revenue for this order in the buyer's currency, including deductions of partial refunds, taxes and fees. Google deducts standard transaction and third party fees from each sale, including VAT in some regions."
        }
      },
      "id": "Order",
      "description": "The Order resource encapsulates comprehensive information about a transaction made on Google Play. It includes a variety of attributes that provide details about the order itself, the products purchased, and the history of events related to the order. The Orders APIs provide real-time access to your order data within the Google Play ecosystem. You can retrieve detailed information and metadata for both one-time and recurring orders, including transaction details like charges, taxes, and refunds, as well as metadata such as pricing phases for subscriptions. The Orders APIs let you automate tasks related to order management, reducing the need for manual checks via the Play Developer Console. The following are some of the use cases for this API: + Real-time order data retrieval - Get order details and metadata immediately after a purchase using an order ID. + Order update synchronization - Periodically sync order updates to maintain an up-to-date record of order information. Note: + The Orders API calls count towards your Play Developer API quota, which defaults to 200K daily, and may be insufficient to sync extensive order histories. + A maximum of 1000 orders can be retrieved per call. Using larger page sizes is recommended to minimize quota usage. Check your quota in the Cloud Console and request more if required."
    },
    "DeviceRam": {
      "type": "object",
      "properties": {
        "maxBytes": {
          "description": "Maximum RAM in bytes (bound excluded).",
          "format": "int64",
          "type": "string"
        },
        "minBytes": {
          "description": "Minimum RAM in bytes (bound included).",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "DeviceRam",
      "description": "Conditions about a device's RAM capabilities."
    },
    "SubscriptionOfferPhase": {
      "id": "SubscriptionOfferPhase",
      "description": "A single phase of a subscription offer.",
      "type": "object",
      "properties": {
        "recurrenceCount": {
          "type": "integer",
          "format": "int32",
          "description": "Required. The number of times this phase repeats. If this offer phase is not free, each recurrence charges the user the price of this offer phase."
        },
        "duration": {
          "description": "Required. The duration of a single recurrence of this phase. Specified in ISO 8601 format.",
          "type": "string"
        },
        "regionalConfigs": {
          "type": "array",
          "description": "Required. The region-specific configuration of this offer phase. This list must contain exactly one entry for each region for which the subscription offer has a regional config.",
          "items": {
            "$ref": "RegionalSubscriptionOfferPhaseConfig"
          }
        },
        "otherRegionsConfig": {
          "$ref": "OtherRegionsSubscriptionOfferPhaseConfig",
          "description": "Pricing information for any new locations Play may launch in."
        }
      }
    },
    "ListSubscriptionOffersResponse": {
      "description": "Response message for ListSubscriptionOffers.",
      "id": "ListSubscriptionOffersResponse",
      "type": "object",
      "properties": {
        "subscriptionOffers": {
          "description": "The subscription offers from the specified subscription.",
          "items": {
            "$ref": "SubscriptionOffer"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "TargetingUpdate": {
      "type": "object",
      "properties": {
        "regions": {
          "description": "Additional regions are targeted by the recovery action.",
          "$ref": "Regions"
        },
        "allUsers": {
          "description": "All users are targeted.",
          "$ref": "AllUsers"
        },
        "androidSdks": {
          "$ref": "AndroidSdks",
          "description": "Additional android sdk levels are targeted by the recovery action."
        }
      },
      "description": "Update type for targeting. Note it is always a subset Targeting.",
      "id": "TargetingUpdate"
    },
    "TextureCompressionFormat": {
      "type": "object",
      "properties": {
        "alias": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified format.",
            "ETC1_RGB8 format.",
            "PALETTED format.",
            "THREE_DC format.",
            "ATC format.",
            "LATC format.",
            "DXT1 format.",
            "S3TC format.",
            "PVRTC format.",
            "ASTC format.",
            "ETC2 format."
          ],
          "enum": [
            "UNSPECIFIED_TEXTURE_COMPRESSION_FORMAT",
            "ETC1_RGB8",
            "PALETTED",
            "THREE_DC",
            "ATC",
            "LATC",
            "DXT1",
            "S3TC",
            "PVRTC",
            "ASTC",
            "ETC2"
          ],
          "description": "Alias for texture compression format."
        }
      },
      "description": "Represents texture compression format.",
      "id": "TextureCompressionFormat"
    },
    "InternalAppSharingArtifact": {
      "type": "object",
      "properties": {
        "downloadUrl": {
          "description": "The download URL generated for the uploaded artifact. Users that are authorized to download can follow the link to the Play Store app to install it.",
          "type": "string"
        },
        "certificateFingerprint": {
          "type": "string",
          "description": "The sha256 fingerprint of the certificate used to sign the generated artifact."
        },
        "sha256": {
          "type": "string",
          "description": "The sha256 hash of the artifact represented as a lowercase hexadecimal number, matching the output of the sha256sum command."
        }
      },
      "id": "InternalAppSharingArtifact",
      "description": "An artifact resource which gets created when uploading an APK or Android App Bundle through internal app sharing."
    },
    "VariantTargeting": {
      "type": "object",
      "properties": {
        "screenDensityTargeting": {
          "$ref": "ScreenDensityTargeting",
          "description": "The screen densities that this variant supports"
        },
        "abiTargeting": {
          "description": "The abi that the variant targets",
          "$ref": "AbiTargeting"
        },
        "multiAbiTargeting": {
          "description": "Multi-api-level targeting",
          "$ref": "MultiAbiTargeting"
        },
        "sdkVersionTargeting": {
          "description": "The sdk version that the variant targets",
          "$ref": "SdkVersionTargeting"
        },
        "textureCompressionFormatTargeting": {
          "description": "Texture-compression-format-level targeting",
          "$ref": "TextureCompressionFormatTargeting"
        }
      },
      "id": "VariantTargeting",
      "description": "Targeting on the level of variants."
    },
    "OneTimeProductPurchaseOptionRegionalPricingAndAvailabilityConfig": {
      "type": "object",
      "properties": {
        "availability": {
          "description": "The availability of the purchase option.",
          "type": "string",
          "enumDescriptions": [
[...]
