{
  "mtlsRootUrl": "https://androidpublisher.mtls.googleapis.com/",
  "rootUrl": "https://androidpublisher.googleapis.com/",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version": "v3",
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "basePath": "",
  "description": "Lets Android application developers access their Google Play accounts. At a high level, the expected workflow is to \"insert\" an Edit, make changes as necessary, and then \"commit\" it. ",
  "parameters": {
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    }
  },
  "schemas": {
    "ExternalSubscription": {
      "id": "ExternalSubscription",
      "properties": {
        "subscriptionType": {
          "enum": [
            "SUBSCRIPTION_TYPE_UNSPECIFIED",
            "RECURRING",
            "PREPAID"
          ],
          "description": "Required. The type of the external subscription.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified, do not use.",
            "This is a recurring subscription where the user is charged every billing cycle.",
            "This is a prepaid subscription where the user pays up front."
          ]
        }
      },
      "description": "Details of an external subscription.",
      "type": "object"
    },
    "SplitApkMetadata": {
      "id": "SplitApkMetadata",
      "properties": {
        "isMasterSplit": {
          "description": "Indicates whether this APK is the main split of the module.",
          "type": "boolean"
        },
        "splitId": {
          "description": "Id of the split.",
          "type": "string"
        }
      },
      "description": "Holds data specific to Split APKs.",
      "type": "object"
    },
    "DeferralContext": {
      "id": "DeferralContext",
      "properties": {
        "etag": {
          "description": "Required. The API will fail if the etag does not match the latest etag for this subscription. The etag is retrieved from purchases.subscriptionsv2.get: https://developers.google.com/android-publisher/api-ref/rest/v3/purchases.subscriptionsv2/get",
          "type": "string"
        },
        "deferDuration": {
          "description": "Required. The duration by which all subscription items should be deferred.",
          "type": "string",
          "format": "google-duration"
        },
        "validateOnly": {
          "description": "If set to \"true\", the request is a dry run to validate the effect of Defer, the subscription would not be impacted.",
          "type": "boolean"
        }
      },
      "description": "Deferral context of the purchases.subscriptionsv2.defer API.",
      "type": "object"
    },
    "DeletePurchaseOptionRequest": {
      "description": "Request message for deleting a purchase option.",
      "type": "object",
      "id": "DeletePurchaseOptionRequest",
      "properties": {
        "productId": {
          "description": "Required. The parent one-time product (ID) of the purchase option to delete.",
          "type": "string"
        },
        "purchaseOptionId": {
          "description": "Required. The purchase option ID of the purchase option to delete.",
          "type": "string"
        },
        "latencyTolerance": {
          "enum": [
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
          ],
          "description": "Optional. The latency tolerance for the propagation of this product update. Defaults to latency-sensitive.",
          "type": "string",
          "enumDescriptions": [
            "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
            "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
            "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
          ]
        },
        "force": {
          "description": "Optional. This field has no effect for purchase options with no offers under them. For purchase options with associated offers: * If `force` is set to false (default), an error will be returned. * If `force` is set to true, any associated offers under the purchase option will be deleted.",
          "type": "boolean"
        },
        "packageName": {
          "description": "Required. The parent app (package name) of the purchase option to delete.",
          "type": "string"
        }
      }
    },
    "PartialRefund": {
      "description": "A partial refund of a transaction.",
      "type": "object",
      "id": "PartialRefund",
      "properties": {
        "refundPreTaxAmount": {
          "description": "Required. The pre-tax amount of the partial refund. Should be less than the remaining pre-tax amount of the transaction.",
          "$ref": "Price"
        },
        "refundId": {
          "description": "Required. A unique id distinguishing this partial refund. If the refund is successful, subsequent refunds with the same id will fail. Must be unique across refunds for one individual transaction.",
          "type": "string"
        }
      }
    },
    "UpdateBasePlanStateRequest": {
      "id": "UpdateBasePlanStateRequest",
      "properties": {
        "activateBasePlanRequest": {
          "description": "Activates a base plan. Once activated, base plans will be available to new subscribers.",
          "$ref": "ActivateBasePlanRequest"
        },
        "deactivateBasePlanRequest": {
          "description": "Deactivates a base plan. Once deactivated, the base plan will become unavailable to new subscribers, but existing subscribers will maintain their subscription",
          "$ref": "DeactivateBasePlanRequest"
        }
      },
      "description": "Request message to update the state of a subscription base plan.",
      "type": "object"
    },
    "TextureCompressionFormat": {
      "id": "TextureCompressionFormat",
      "properties": {
        "alias": {
          "description": "Alias for texture compression format.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified format.",
            "ETC1_RGB8 format.",
            "PALETTED format.",
            "THREE_DC format.",
            "ATC format.",
            "LATC format.",
            "DXT1 format.",
            "S3TC format.",
            "PVRTC format.",
            "ASTC format.",
            "ETC2 format."
          ],
          "enum": [
            "UNSPECIFIED_TEXTURE_COMPRESSION_FORMAT",
            "ETC1_RGB8",
            "PALETTED",
            "THREE_DC",
            "ATC",
            "LATC",
            "DXT1",
            "S3TC",
            "PVRTC",
            "ASTC",
            "ETC2"
          ]
        }
      },
      "description": "Represents texture compression format.",
      "type": "object"
    },
    "SubscriptionPurchasesAcknowledgeRequest": {
      "id": "SubscriptionPurchasesAcknowledgeRequest",
      "properties": {
        "developerPayload": {
          "description": "Payload to attach to the purchase.",
          "type": "string"
        },
        "externalAccountIds": {
          "description": "Optional. User account identifier in your app.",
          "$ref": "ExternalAccountIds"
        }
      },
      "description": "Request for the purchases.subscriptions.acknowledge API.",
      "type": "object"
    },
    "TargetingRuleScopeThisSubscription": {
      "id": "TargetingRuleScopeThisSubscription",
      "properties": {},
      "description": "Represents the targeting rule scope corresponding to the subscriptions in which this offer is defined.",
      "type": "object"
    },
    "BatchGetSubscriptionOffersResponse": {
      "id": "BatchGetSubscriptionOffersResponse",
      "properties": {
        "subscriptionOffers": {
          "type": "array",
          "items": {
            "$ref": "SubscriptionOffer"
          }
        }
      },
      "description": "Response message for BatchGetSubscriptionOffers endpoint.",
      "type": "object"
    },
    "FreeTrialOfferPhase": {
      "description": "Details about free trial offer phase.",
      "type": "object",
      "id": "FreeTrialOfferPhase",
      "properties": {}
    },
    "CreateAppStoreHostedAppRequest": {
      "description": "Request to create a new app record for an app store hosted app.",
      "type": "object",
      "id": "CreateAppStoreHostedAppRequest",
      "properties": {
        "packageName": {
          "description": "Required. Package name of the app.",
          "type": "string"
        }
      }
    },
    "VariantTargeting": {
      "id": "VariantTargeting",
      "properties": {
        "abiTargeting": {
          "description": "The abi that the variant targets",
          "$ref": "AbiTargeting"
        },
        "multiAbiTargeting": {
          "description": "Multi-api-level targeting",
          "$ref": "MultiAbiTargeting"
        },
        "textureCompressionFormatTargeting": {
          "description": "Texture-compression-format-level targeting",
          "$ref": "TextureCompressionFormatTargeting"
        },
        "sdkVersionTargeting": {
          "description": "The sdk version that the variant targets",
          "$ref": "SdkVersionTargeting"
        },
        "screenDensityTargeting": {
          "description": "The screen densities that this variant supports",
          "$ref": "ScreenDensityTargeting"
        }
      },
      "description": "Targeting on the level of variants.",
      "type": "object"
    },
    "PolicySingleChoiceResponse": {
      "description": "Any response where a single option is chosen from several possibilities.",
      "type": "object",
      "id": "PolicySingleChoiceResponse",
      "properties": {
        "value": {
          "description": "Required. Provided value.",
          "type": "string"
        }
      }
    },
    "OneTimeProductDiscountedOffer": {
      "id": "OneTimeProductDiscountedOffer",
      "properties": {
        "redemptionLimit": {
          "description": "Optional. The number of times this offer can be redeemed. If unset or set to 0, allows for unlimited offer redemptions. Otherwise must be a number between 1 and 50 inclusive.",
          "type": "string",
          "format": "int64"
        },
        "startTime": {
          "description": "Time when the offer will start being available.",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "Time when the offer will stop being available.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "Configuration specific to discounted offers.",
      "type": "object"
    },
    "VanityCode": {
      "id": "VanityCode",
      "properties": {
        "promotionCode": {
          "description": "The promotion code.",
          "type": "string"
        }
      },
      "description": "A multiple use, predefined promotion code.",
      "type": "object"
    },
    "TrackRelease": {
      "description": "A release within a track.",
      "type": "object",
      "id": "TrackRelease",
      "properties": {
        "userFraction": {
          "description": "Fraction of users who are eligible for a staged release. 0 < fraction < 1. Can only be set when status is \"inProgress\" or \"halted\".",
          "type": "number",
          "format": "double"
        },
        "versionCodes": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "Version codes of all APKs in the release. Must include version codes to retain from previous releases.",
          "type": "array"
        },
        "countryTargeting": {
          "description": "Restricts a release to a specific set of countries. Note this is only allowed to be set for inProgress releases in the production track.",
          "$ref": "CountryTargeting"
        },
        "name": {
          "description": "The release name. Not required to be unique. If not set, the name is generated from the APK's version_name. If the release contains multiple APKs, the name is generated from the date.",
          "type": "string"
        },
        "status": {
          "description": "The status of the release.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified status.",
            "The release's APKs are not being served to users.",
            "The release's APKs are being served to a fraction of users, determined by 'user_fraction'.",
            "The release's APKs will no longer be served to users. Users who already have these APKs are unaffected.",
            "The release will have no further changes. Its APKs are being served to all users, unless they are eligible to APKs of a more recent release."
          ],
          "enum": [
            "statusUnspecified",
            "draft",
            "inProgress",
            "halted",
            "completed"
          ]
        },
        "inAppUpdatePriority": {
          "description": "In-app update priority of the release. All newly added APKs in the release will be considered at this priority. Can take values in the range [0, 5], with 5 the highest priority. Defaults to 0. in_app_update_priority can not be updated once the release is rolled out. See https://developer.android.com/guide/playcore/in-app-updates.",
          "type": "integer",
          "format": "int32"
        },
        "releaseNotes": {
          "items": {
            "$ref": "LocalizedText"
          },
          "description": "A description of what is new in this release.",
          "type": "array"
        }
      }
    },
    "RentOfferDetails": {
      "id": "RentOfferDetails",
      "properties": {},
      "description": "Offer details information related to a rental line item.",
      "type": "object"
    },
    "TestPurchase": {
      "id": "TestPurchase",
      "properties": {},
      "description": "Whether this subscription purchase is a test purchase.",
      "type": "object"
    },
    "KeyedGroup": {
      "id": "KeyedGroup",
      "properties": {
        "key": {
          "description": "Required. Key for this group.",
          "type": "string"
        },
        "responses": {
          "items": {
            "$ref": "NestedPolicyResponse"
          },
          "description": "Required. Responses in this group.",
          "type": "array"
        }
      },
      "description": "A group of responses, with a key.",
      "type": "object"
    },
    "DeviceSelector": {
      "id": "DeviceSelector",
      "properties": {
        "forbiddenSystemFeatures": {
          "description": "A device that has any of these system features is excluded by this selector, even if it matches all other conditions.",
          "type": "array",
          "items": {
            "$ref": "SystemFeature"
          }
        },
        "requiredSystemFeatures": {
          "description": "A device needs to have all these system features to be included by the selector.",
          "type": "array",
          "items": {
            "$ref": "SystemFeature"
          }
        },
        "excludedDeviceIds": {
          "items": {
            "$ref": "DeviceId"
          },
          "description": "Device models excluded by this selector, even if they match all other conditions.",
          "type": "array"
        },
        "systemOnChips": {
          "description": "Optional. The SoCs included by this selector. Only works for Android S+ devices.",
          "type": "array",
          "items": {
            "$ref": "SystemOnChip"
          }
        },
        "deviceRam": {
          "description": "Conditions on the device's RAM.",
          "$ref": "DeviceRam"
        },
        "includedDeviceIds": {
          "items": {
            "$ref": "DeviceId"
          },
          "description": "Device models included by this selector.",
          "type": "array"
        }
      },
      "description": "Selector for a device group. A selector consists of a set of conditions on the device that should all match (logical AND) to determine a device group eligibility. For instance, if a selector specifies RAM conditions, device model inclusion and device model exclusion, a device is considered to match if: device matches RAM conditions AND device matches one of the included device models AND device doesn't match excluded device models",
      "type": "object"
    },
    "PrepaidBasePlanType": {
      "description": "Represents a base plan that does not automatically renew at the end of the base plan, and must be manually renewed by the user.",
      "type": "object",
      "id": "PrepaidBasePlanType",
      "properties": {
        "billingPeriodDuration": {
          "description": "Required. Immutable. Subscription period, specified in ISO 8601 format. For a list of acceptable billing periods, refer to the help center. The duration is immutable after the base plan is created.",
          "type": "string"
        },
        "timeExtension": {
          "description": "Whether users should be able to extend this prepaid base plan in Google Play surfaces. Defaults to TIME_EXTENSION_ACTIVE if not specified.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified state.",
            "Time extension is active. Users are allowed to top-up or extend their prepaid plan.",
            "Time extension is inactive. Users cannot top-up or extend their prepaid plan."
          ],
          "enum": [
            "TIME_EXTENSION_UNSPECIFIED",
            "TIME_EXTENSION_ACTIVE",
            "TIME_EXTENSION_INACTIVE"
          ]
        }
      }
    },
    "ReleaseSummary": {
      "description": "Summary of a release.",
      "type": "object",
      "id": "ReleaseSummary",
      "properties": {
        "activeArtifacts": {
          "description": "List of active artifacts on this release",
          "type": "array",
          "items": {
            "$ref": "ArtifactSummary"
          }
        },
        "releaseName": {
          "description": "Name of the release.",
          "type": "string"
        },
        "track": {
          "description": "Identifier for the track. [Learn more about track names.](https://developers.google.com/android-publisher/tracks).",
          "type": "string"
        },
        "releaseLifecycleState": {
          "enum": [
            "RELEASE_LIFECYCLE_STATE_UNSPECIFIED",
            "RELEASE_LIFECYCLE_STATE_DRAFT",
            "RELEASE_LIFECYCLE_STATE_NOT_SENT_FOR_REVIEW",
            "RELEASE_LIFECYCLE_STATE_IN_REVIEW",
            "RELEASE_LIFECYCLE_STATE_APPROVED_NOT_PUBLISHED",
            "RELEASE_LIFECYCLE_STATE_NOT_APPROVED",
            "RELEASE_LIFECYCLE_STATE_PUBLISHED"
          ],
          "description": "The lifecycle state of a release.",
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "The release is not yet ready and can still be edited.",
            "The release is ready to be sent for review and an action is required from developer",
            "Submitted and in review",
            "Passed review and is ready to be published manually by developer",
            "App was rejected in review",
            "Available to users on the track. This includes fully- or partially-rolled out releases and any halted release that can be resumed."
          ]
        }
      }
    },
    "RevocationContext": {
      "description": "Revocation context of the purchases.subscriptionsv2.revoke API.",
      "type": "object",
      "id": "RevocationContext",
      "properties": {
        "fullRefund": {
          "description": "Optional. Used when users should be refunded the full amount of latest charge on each item in the subscription.",
          "$ref": "RevocationContextFullRefund"
        },
        "proratedRefund": {
          "description": "Optional. Used when users should be refunded a prorated amount they paid for their subscription based on the amount of time remaining in a subscription.",
          "$ref": "RevocationContextProratedRefund"
        },
        "itemBasedRefund": {
          "description": "Optional. Used when a specific item should be refunded in a subscription with add-on items.",
          "$ref": "RevocationContextItemBasedRefund"
        }
      }
    },
    "ApkBinary": {
      "id": "ApkBinary",
      "properties": {
        "sha1": {
          "description": "A sha1 hash of the APK payload, encoded as a hex string and matching the output of the sha1sum command.",
          "type": "string"
        },
        "sha256": {
          "description": "A sha256 hash of the APK payload, encoded as a hex string and matching the output of the sha256sum command.",
          "type": "string"
        }
      },
      "description": "Represents the binary payload of an APK.",
      "type": "object"
    },
    "SystemInitiatedCancellation": {
      "description": "Information specific to cancellations initiated by Google system.",
      "type": "object",
      "id": "SystemInitiatedCancellation",
      "properties": {}
    },
    "LocalizedText": {
      "description": "Localized text in given language.",
      "type": "object",
      "id": "LocalizedText",
      "properties": {
        "language": {
          "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German).",
          "type": "string"
        },
        "text": {
          "description": "The text in the given language.",
          "type": "string"
        }
      }
    },
    "ReplacementCancellation": {
      "id": "ReplacementCancellation",
      "properties": {},
      "description": "Information specific to cancellations caused by subscription replacement.",
      "type": "object"
    },
    "AppEdit": {
      "description": "An app edit. The resource for EditsService.",
      "type": "object",
      "id": "AppEdit",
      "properties": {
        "expiryTimeSeconds": {
          "description": "Output only. The time (as seconds since Epoch) at which the edit will expire and will be no longer valid for use.",
          "type": "string",
          "readOnly": true
        },
        "id": {
          "readOnly": true,
          "description": "Output only. Identifier of the edit. Can be used in subsequent API calls.",
          "type": "string"
        }
      }
    },
    "UpdateOneTimeProductOfferRequest": {
      "id": "UpdateOneTimeProductOfferRequest",
      "properties": {
        "updateMask": {
          "description": "Required. The list of fields to be updated.",
          "type": "string",
          "format": "google-fieldmask"
        },
        "latencyTolerance": {
          "description": "Optional. The latency tolerance for the propagation of this offer update. Defaults to latency-sensitive.",
          "type": "string",
          "enumDescriptions": [
            "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
            "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
            "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
          ],
          "enum": [
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
          ]
        },
        "regionsVersion": {
          "description": "Required. The version of the available regions being used for the offer.",
          "$ref": "RegionsVersion"
        },
        "allowMissing": {
          "description": "Optional. If set to true, and the offer with the given package_name, product_id, purchase_option_id and offer_id doesn't exist, an offer will be created. If a new offer is created, the update_mask is ignored.",
          "type": "boolean"
        },
        "oneTimeProductOffer": {
          "description": "Required. The one-time product offer to update.",
          "$ref": "OneTimeProductOffer"
        }
      },
      "description": "Request message for UpdateOneTimeProductOffer.",
      "type": "object"
    },
    "RemoteInAppUpdateData": {
      "description": "Data related to Remote In-App Update action such as recovered user count, affected user count etc.",
      "type": "object",
      "id": "RemoteInAppUpdateData",
      "properties": {
        "remoteAppUpdateDataPerBundle": {
          "items": {
            "$ref": "RemoteInAppUpdateDataPerBundle"
          },
          "description": "Data related to the recovery action at bundle level.",
          "type": "array"
        }
      }
    },
    "CanceledStateContext": {
      "description": "Information specific to a subscription in the SUBSCRIPTION_STATE_CANCELED or SUBSCRIPTION_STATE_EXPIRED state.",
      "type": "object",
      "id": "CanceledStateContext",
      "properties": {
        "userInitiatedCancellation": {
          "description": "Subscription was canceled by user.",
          "$ref": "UserInitiatedCancellation"
        },
        "developerInitiatedCancellation": {
          "description": "Subscription was canceled by the developer.",
          "$ref": "DeveloperInitiatedCancellation"
        },
        "replacementCancellation": {
          "description": "Subscription was replaced by a new subscription.",
          "$ref": "ReplacementCancellation"
        },
        "systemInitiatedCancellation": {
          "description": "Subscription was canceled by the system, for example because of a billing problem.",
          "$ref": "SystemInitiatedCancellation"
        }
      }
    },
    "AppDetails": {
      "id": "AppDetails",
      "properties": {
        "contactPhone": {
          "description": "The user-visible support telephone number for this app.",
          "type": "string"
        },
        "defaultLanguage": {
          "description": "Default language code, in BCP 47 format (eg \"en-US\").",
          "type": "string"
        },
        "contactEmail": {
          "description": "The user-visible support email for this app.",
          "type": "string"
        },
        "contactWebsite": {
          "description": "The user-visible website for this app.",
          "type": "string"
        }
      },
      "description": "The app details. The resource for DetailsService.",
      "type": "object"
    },
    "ExternalTransactionAddress": {
      "id": "ExternalTransactionAddress",
      "properties": {
        "regionCode": {
          "description": "Required. Two letter region code based on ISO-3166-1 Alpha-2 (UN region codes).",
          "type": "string"
        },
        "administrativeArea": {
          "description": "Optional. Top-level administrative subdivision of the country/region. Only required for transactions in India. Valid values are \"ANDAMAN AND NICOBAR ISLANDS\", \"ANDHRA PRADESH\", \"ARUNACHAL PRADESH\", \"ASSAM\", \"BIHAR\", \"CHANDIGARH\", \"CHHATTISGARH\", \"DADRA AND NAGAR HAVELI\", \"DADRA AND NAGAR HAVELI AND DAMAN AND DIU\", \"DAMAN AND DIU\", \"DELHI\", \"GOA\", \"GUJARAT\", \"HARYANA\", \"HIMACHAL PRADESH\", \"JAMMU AND KASHMIR\", \"JHARKHAND\", \"KARNATAKA\", \"KERALA\", \"LADAKH\", \"LAKSHADWEEP\", \"MADHYA PRADESH\", \"MAHARASHTRA\", \"MANIPUR\", \"MEGHALAYA\", \"MIZORAM\", \"NAGALAND\", \"ODISHA\", \"PUDUCHERRY\", \"PUNJAB\", \"RAJASTHAN\", \"SIKKIM\", \"TAMIL NADU\", \"TELANGANA\", \"TRIPURA\", \"UTTAR PRADESH\", \"UTTARAKHAND\", and \"WEST BENGAL\".",
          "type": "string"
        }
      },
      "description": "User's address for the external transaction.",
      "type": "object"
    },
    "AssetSliceSet": {
      "description": "Set of asset slices belonging to a single asset module.",
      "type": "object",
      "id": "AssetSliceSet",
      "properties": {
        "apkDescription": {
          "items": {
            "$ref": "ApkDescription"
          },
          "description": "Asset slices.",
          "type": "array"
        },
        "assetModuleMetadata": {
          "description": "Module level metadata.",
          "$ref": "AssetModuleMetadata"
        }
      }
    },
    "OfferTag": {
      "description": "Represents a custom tag specified for a product offer.",
      "type": "object",
      "id": "OfferTag",
      "properties": {
        "tag": {
          "description": "Must conform with RFC-1034. That is, this string can only contain lower-case letters (a-z), numbers (0-9), and hyphens (-), and be at most 20 characters.",
          "type": "string"
        }
      }
    },
    "DeveloperInitiatedCancellation": {
      "id": "DeveloperInitiatedCancellation",
      "properties": {},
      "description": "Information specific to cancellations initiated by developers.",
      "type": "object"
    },
    "OneTimeProduct": {
      "id": "OneTimeProduct",
      "properties": {
        "regionsVersion": {
          "description": "Output only. The version of the regions configuration that was used to generate the one-time product.",
          "readOnly": true,
          "$ref": "RegionsVersion"
        },
        "listings": {
          "description": "Required. Set of localized title and description data. Must not have duplicate entries with the same language_code.",
          "type": "array",
          "items": {
            "$ref": "OneTimeProductListing"
          }
        },
        "packageName": {
          "description": "Required. Immutable. Package name of the parent app.",
          "type": "string"
        },
        "purchaseOptions": {
          "description": "Required. The set of purchase options for this one-time product.",
          "type": "array",
          "items": {
            "$ref": "OneTimeProductPurchaseOption"
          }
        },
        "taxAndComplianceSettings": {
          "description": "Details about taxes and legal compliance.",
          "$ref": "OneTimeProductTaxAndComplianceSettings"
        },
        "offerTags": {
          "description": "Optional. List of up to 20 custom tags specified for this one-time product, and returned to the app through the billing library. Purchase options and offers for this product will also receive these tags in the billing library.",
          "type": "array",
          "items": {
            "$ref": "OfferTag"
          }
        },
        "productId": {
          "description": "Required. Immutable. Unique product ID of the product. Unique within the parent app. Product IDs must start with a number or lowercase letter, and can contain numbers (0-9), lowercase letters (a-z), underscores (_), and periods (.).",
          "type": "string"
        },
        "restrictedPaymentCountries": {
          "description": "Optional. Countries where the purchase of this one-time product is restricted to payment methods registered in the same country. If empty, no payment location restrictions are imposed.",
          "$ref": "RestrictedPaymentCountries"
        }
      },
      "description": "A single one-time product for an app.",
      "type": "object"
    },
    "SubscriptionTaxAndComplianceSettings": {
      "description": "Details about taxation, Google Play policy, and legal compliance for subscription products.",
      "type": "object",
      "id": "SubscriptionTaxAndComplianceSettings",
      "properties": {
        "taxRateInfoByRegionCode": {
          "description": "A mapping from region code to tax rate details. The keys are region codes as defined by Unicode's \"CLDR\".",
          "type": "object",
          "additionalProperties": {
            "$ref": "RegionalTaxRateInfo"
          }
        },
        "eeaWithdrawalRightType": {
          "enum": [
            "WITHDRAWAL_RIGHT_TYPE_UNSPECIFIED",
            "WITHDRAWAL_RIGHT_DIGITAL_CONTENT",
            "WITHDRAWAL_RIGHT_SERVICE"
          ],
          "description": "Digital content or service classification for products distributed to users in the European Economic Area (EEA). The withdrawal regime under EEA consumer laws depends on this classification. Refer to the [Help Center article](https://support.google.com/googleplay/android-developer/answer/10463498) for more information.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "productTaxCategoryCode": {
          "description": "Product tax category code to assign to the subscription. Product tax category determines the transaction tax rates applied to the subscription. Refer to the [Help Center article](https://support.google.com/googleplay/android-developer/answer/16408159) for more information.",
          "type": "string"
        },
        "regionalProductAgeRatingInfos": {
          "description": "Regional age rating information. Currently this field is only supported for region code `US`.",
          "type": "array",
          "items": {
            "$ref": "RegionalProductAgeRatingInfo"
          }
        },
        "isTokenizedDigitalAsset": {
          "description": "Whether this subscription is declared as a product representing a tokenized digital asset.",
          "type": "boolean"
        }
      }
    },
    "Group": {
      "id": "Group",
      "properties": {
        "responses": {
          "description": "Required. Responses within a group.",
          "type": "array",
          "items": {
            "$ref": "NestedPolicyResponse"
          }
        }
      },
      "description": "A group of responses.",
      "type": "object"
    },
    "InappproductsBatchUpdateRequest": {
      "description": "Request to update or insert one or more in-app products.",
      "type": "object",
      "id": "InappproductsBatchUpdateRequest",
      "properties": {
        "requests": {
          "description": "Required. Individual update requests. At least one request is required. Can contain up to 100 requests. All requests must correspond to different in-app products.",
          "type": "array",
          "items": {
            "$ref": "InappproductsUpdateRequest"
          }
        }
      }
    },
    "ListReleaseSummariesResponse": {
      "id": "ListReleaseSummariesResponse",
      "properties": {
        "releases": {
          "description": "List of releases for this track. A maximum of 20 releases can be returned.",
          "type": "array",
          "items": {
            "$ref": "ReleaseSummary"
          }
        }
      },
      "description": "Response listing all releases for a given track that are either ready to be sent for review, in review, approved, not approved or available.",
      "type": "object"
    },
    "SubscriptionPurchaseV2": {
      "id": "SubscriptionPurchaseV2",
      "properties": {
        "subscriptionState": {
          "enum": [
            "SUBSCRIPTION_STATE_UNSPECIFIED",
            "SUBSCRIPTION_STATE_PENDING",
            "SUBSCRIPTION_STATE_ACTIVE",
            "SUBSCRIPTION_STATE_PAUSED",
            "SUBSCRIPTION_STATE_IN_GRACE_PERIOD",
            "SUBSCRIPTION_STATE_ON_HOLD",
            "SUBSCRIPTION_STATE_CANCELED",
            "SUBSCRIPTION_STATE_EXPIRED",
            "SUBSCRIPTION_STATE_PENDING_PURCHASE_CANCELED"
          ],
          "description": "The current state of the subscription.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified subscription state.",
            "Subscription was created but awaiting payment during signup. In this state, all items are awaiting payment.",
            "Subscription is active. - (1) If the subscription is an auto renewing plan, at least one item is auto_renew_enabled and not expired. - (2) If the subscription is a prepaid plan, at least one item is not expired.",
            "Subscription is paused. The state is only available when the subscription is an auto renewing plan. In this state, all items are in paused state.",
            "Subscription is in grace period. The state is only available when the subscription is an auto renewing plan. In this state, all items are in grace period.",
            "Subscription is on hold (suspended). The state is only available when the subscription is an auto renewing plan. In this state, all items are on hold.",
            "Subscription is canceled but not expired yet. The state is only available when the subscription is an auto renewing plan. All items have auto_renew_enabled set to false.",
            "Subscription is expired. All items have expiry_time in the past.",
            "Pending transaction for subscription is canceled. If this pending purchase was for an existing subscription, use linked_purchase_token to get the current state of that subscription."
          ]
        },
        "externalAccountIdentifiers": {
          "description": "User account identifier in the third-party service.",
          "$ref": "ExternalAccountIdentifiers"
        },
        "regionCode": {
          "description": "ISO 3166-1 alpha-2 billing country/region code of the user at the time the subscription was granted.",
          "type": "string"
        },
        "kind": {
          "description": "This kind represents a SubscriptionPurchaseV2 object in the androidpublisher service.",
          "type": "string"
        },
        "onHoldStateContext": {
          "description": "Optional. Additional context around subscriptions in ON_HOLD state. Only present if the subscription currently has subscription_state SUBSCRIPTION_STATE_ON_HOLD.",
          "$ref": "OnHoldStateContext"
        },
        "subscribeWithGoogleInfo": {
          "description": "User profile associated with purchases made with 'Subscribe with Google'.",
          "$ref": "SubscribeWithGoogleInfo"
        },
        "testPurchase": {
          "description": "Only present if this subscription purchase is a test purchase.",
          "$ref": "TestPurchase"
        },
        "acknowledgementState": {
          "description": "The acknowledgement state of the subscription.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified acknowledgement state.",
            "The subscription is not acknowledged yet.",
            "The subscription is acknowledged."
          ],
          "enum": [
            "ACKNOWLEDGEMENT_STATE_UNSPECIFIED",
            "ACKNOWLEDGEMENT_STATE_PENDING",
            "ACKNOWLEDGEMENT_STATE_ACKNOWLEDGED"
          ]
        },
        "inGracePeriodStateContext": {
          "description": "Optional. Additional context around subscriptions in IN_GRACE_PERIOD state. Only present if the subscription currently has subscription_state SUBSCRIPTION_STATE_IN_GRACE_PERIOD.",
          "$ref": "InGracePeriodStateContext"
        },
        "etag": {
          "description": "Entity tag representing the current state of the subscription. The developer will provide this etag for subscription actions. This etag is always present for auto-renewing and prepaid subscriptions.",
          "type": "string"
        },
        "linkedPurchaseToken": {
          "description": "The purchase token of the old subscription if this subscription is one of the following: * Re-signup of a canceled but non-lapsed subscription * Upgrade/downgrade from a previous subscription. * Convert from prepaid to auto renewing subscription. * Convert from an auto renewing subscription to prepaid. * Topup a prepaid subscription.",
          "type": "string"
        },
        "outOfAppPurchaseContext": {
          "description": "Additional context for out of app purchases. This information is only present for re-subscription purchases (subscription purchases made after the previous subscription of the same product has expired) made through the Google Play subscriptions center. This field will be removed after you acknowledge the subscription.",
          "$ref": "OutOfAppPurchaseContext"
        },
        "startTime": {
          "description": "Time at which the subscription was granted. Not set for pending subscriptions (subscription was created but awaiting payment during signup).",
          "type": "string",
          "format": "google-datetime"
        },
        "canceledStateContext": {
          "description": "Additional context around canceled subscriptions. Only present if the subscription currently has subscription_state SUBSCRIPTION_STATE_CANCELED or SUBSCRIPTION_STATE_EXPIRED.",
          "$ref": "CanceledStateContext"
        },
        "lineItems": {
          "description": "Item-level info for a subscription purchase. The items in the same purchase should be either all with AutoRenewingPlan or all with PrepaidPlan.",
          "type": "array",
          "items": {
            "$ref": "SubscriptionPurchaseLineItem"
          }
        },
        "pausedStateContext": {
          "description": "Additional context around paused subscriptions. Only present if the subscription currently has subscription_state SUBSCRIPTION_STATE_PAUSED.",
          "$ref": "PausedStateContext"
        }
      },
      "description": "Indicates the status of a user's subscription purchase.",
      "type": "object"
    },
    "UploadApkResponse": {
      "description": "Response for uploading an APK.",
      "type": "object",
      "id": "UploadApkResponse",
      "properties": {
        "apkId": {
          "description": "The unique ID of the uploaded APK.",
          "type": "string"
        }
      }
    },
    "Image": {
      "id": "Image",
      "properties": {
        "sha1": {
          "description": "A sha1 hash of the image.",
          "type": "string"
        },
        "aiGeneratedState": {
          "enum": [
            "aiGeneratedStateUnspecified",
            "aiGeneratedStateNotAiGenerated",
            "aiGeneratedStateAiGeneratedDeveloperAttested"
          ],
          "description": "Optional. Whether the image was generated by AI. Attested by the developer.",
          "type": "string",
          "enumDescriptions": [
            "Catch-all for unrecognized enum values. See go/protodosdonts.",
            "The content is not generated by AI.",
            "The content is generated by AI and attested by the developer."
          ]
        },
        "id": {
          "description": "A unique id representing this image.",
          "type": "string"
        },
        "url": {
          "description": "A URL that will serve a preview of the image.",
          "type": "string"
        },
        "sha256": {
          "description": "A sha256 hash of the image.",
          "type": "string"
        }
      },
      "description": "An uploaded image. The resource for ImagesService.",
      "type": "object"
    },
    "ListAppRecoveriesResponse": {
      "description": "Response message for ListAppRecoveries. -- api-linter: core::0158::response-next-page-token-field=disabled",
      "type": "object",
      "id": "ListAppRecoveriesResponse",
      "properties": {
        "recoveryActions": {
          "items": {
            "$ref": "AppRecoveryAction"
          },
          "description": "List of recovery actions associated with the requested package name.",
          "type": "array"
        }
      }
    },
    "CompatibleScreen": {
      "description": "Compatible screens as listed in the `compatible-screens` Manifest tag.",
      "type": "object",
      "id": "CompatibleScreen",
      "properties": {
        "screenSize": {
          "enum": [
            "SCREEN_SIZE_UNSPECIFIED",
            "SCREEN_SIZE_SMALL",
            "SCREEN_SIZE_NORMAL",
            "SCREEN_SIZE_LARGE",
            "SCREEN_SIZE_EXTRA_LARGE"
          ],
          "description": "The screen size.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified screen size.",
            "Small screen size.",
            "Normal screen size.",
            "Large screen size.",
            "Extra large screen size."
          ]
        },
        "density": {
          "enum": [
            "DENSITY_UNSPECIFIED",
            "DENSITY_NODPI",
            "DENSITY_LDPI",
            "DENSITY_MDPI",
            "DENSITY_TVDPI",
            "DENSITY_HDPI",
            "DENSITY_280",
            "DENSITY_XHDPI",
            "DENSITY_360",
            "DENSITY_400",
            "DENSITY_420",
            "DENSITY_XXHDPI",
            "DENSITY_560",
            "DENSITY_XXXHDPI"
          ],
          "description": "Screen density.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified density.",
            "No density.",
            "Low density.",
            "Medium density.",
            "TV density.",
            "High density.",
            "280 dpi.",
            "Extra high density.",
            "360 dpi.",
            "400 dpi.",
            "420 dpi.",
            "Extra extra high density.",
            "560 dpi.",
            "Extra extra extra high density."
          ]
        }
      }
    },
    "CancelAppRecoveryResponse": {
      "id": "CancelAppRecoveryResponse",
      "properties": {},
      "description": "Response message for CancelAppRecovery.",
      "type": "object"
    },
    "ProcessedEvent": {
      "description": "Details of when the order was processed.",
      "type": "object",
      "id": "ProcessedEvent",
      "properties": {
        "eventTime": {
          "description": "The time when the order was processed.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "SubscriptionPurchaseLineItem": {
      "description": "Item-level info for a subscription purchase.",
      "type": "object",
      "id": "SubscriptionPurchaseLineItem",
      "properties": {
        "productId": {
          "description": "The purchased product ID (for example, 'monthly001').",
          "type": "string"
        },
        "offerPhase": {
          "description": "Current offer phase details for this item.",
          "$ref": "OfferPhase"
        },
        "expiryTime": {
          "description": "Time at which the subscription expired or will expire unless the access is extended (ex. renews).",
          "type": "string",
          "format": "google-datetime"
        },
        "deferredItemRemoval": {
          "description": "Information for deferred item removal.",
          "$ref": "DeferredItemRemoval"
        },
        "itemReplacement": {
          "description": "Details of the item being replaced. This field is only populated if this item replaced another item in a previous subscription and is only available for 60 days after the purchase time.",
          "$ref": "ItemReplacement"
        },
        "autoRenewingPlan": {
          "description": "The item is auto renewing.",
          "$ref": "AutoRenewingPlan"
        },
        "offerDetails": {
          "description": "The offer details for this item.",
          "$ref": "OfferDetails"
        },
        "deferredItemReplacement": {
          "description": "Information for deferred item replacement.",
          "$ref": "DeferredItemReplacement"
        },
        "signupPromotion": {
          "description": "Promotion details about this item. Only set if a promotion was applied during signup.",
          "$ref": "SignupPromotion"
        },
        "prepaidPlan": {
          "description": "The item is prepaid.",
          "$ref": "PrepaidPlan"
        },
        "latestSuccessfulOrderId": {
          "description": "The order id of the latest successful order associated with this item. Not present if the item is not owned by the user yet (e.g. the item being deferred replaced to).",
          "type": "string"
        }
      }
    },
    "BatchUpdateSubscriptionOfferStatesRequest": {
      "id": "BatchUpdateSubscriptionOfferStatesRequest",
      "properties": {
        "requests": {
          "description": "Required. The update request list of up to 100 elements. All requests must update different offers.",
          "type": "array",
          "items": {
            "$ref": "UpdateSubscriptionOfferStateRequest"
          }
        }
      },
      "description": "Request message for BatchUpdateSubscriptionOfferStates.",
      "type": "object"
    },
    "LanguageTargeting": {
      "id": "LanguageTargeting",
      "properties": {
        "alternatives": {
          "description": "Alternative languages.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "value": {
          "items": {
            "type": "string"
          },
          "description": "ISO-639: 2 or 3 letter language code.",
          "type": "array"
        }
      },
      "description": "Targeting based on language.",
      "type": "object"
    },
    "OneTimeProductTaxAndComplianceSettings": {
      "id": "OneTimeProductTaxAndComplianceSettings",
      "properties": {
        "regionalTaxConfigs": {
          "description": "Regional tax configuration.",
          "type": "array",
          "items": {
            "$ref": "RegionalTaxConfig"
          }
        },
        "isTokenizedDigitalAsset": {
          "description": "Whether this one-time product is declared as a product representing a tokenized digital asset.",
          "type": "boolean"
        },
        "productTaxCategoryCode": {
          "description": "Product tax category code to assign to the one-time product. Product tax category determines the transaction tax rates applied to the product. Refer to the [Help Center article](https://support.google.com/googleplay/android-developer/answer/16408159) for more information.",
          "type": "string"
        },
        "regionalProductAgeRatingInfos": {
          "description": "Regional age rating information. Currently this field is only supported for region code `US`.",
          "type": "array",
          "items": {
            "$ref": "RegionalProductAgeRatingInfo"
          }
        }
      },
      "description": "Details about taxation, Google Play policy and legal compliance for one-time products.",
      "type": "object"
    },
    "DeviceFeature": {
      "id": "DeviceFeature",
      "properties": {
        "featureVersion": {
          "description": "The feature version specified by android:glEsVersion or android:version in in the AndroidManifest.",
          "type": "integer",
          "format": "int32"
        },
        "featureName": {
          "description": "Name of the feature.",
          "type": "string"
        }
      },
      "description": "Represents a device feature.",
      "type": "object"
    },
    "DeployAppRecoveryResponse": {
      "description": "Response message for DeployAppRecovery.",
      "type": "object",
      "id": "DeployAppRecoveryResponse",
      "properties": {}
    },
    "ReviewsReplyResponse": {
      "id": "ReviewsReplyResponse",
      "properties": {
        "result": {
          "description": "The result of replying/updating a reply to review.",
          "$ref": "ReviewReplyResult"
        }
      },
      "description": "Response on status of replying to a review.",
      "type": "object"
    },
    "ModuleTargeting": {
      "id": "ModuleTargeting",
      "properties": {
        "sdkVersionTargeting": {
          "description": "The sdk version that the variant targets",
          "$ref": "SdkVersionTargeting"
        },
        "deviceFeatureTargeting": {
          "items": {
            "$ref": "DeviceFeatureTargeting"
          },
          "description": "Targeting for device features.",
          "type": "array"
        },
        "userCountriesTargeting": {
          "description": "Countries-level targeting",
          "$ref": "UserCountriesTargeting"
        }
      },
      "description": "Targeting on the module level.",
      "type": "object"
    },
    "UpdateOneTimeProductRequest": {
      "id": "UpdateOneTimeProductRequest",
      "properties": {
        "oneTimeProduct": {
          "description": "Required. The one-time product to upsert.",
          "$ref": "OneTimeProduct"
        },
        "latencyTolerance": {
          "description": "Optional. The latency tolerance for the propagation of this product upsert. Defaults to latency-sensitive.",
          "type": "string",
          "enumDescriptions": [
            "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
            "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
            "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
          ],
          "enum": [
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
          ]
        },
        "updateMask": {
          "description": "Required. The list of fields to be updated.",
          "type": "string",
          "format": "google-fieldmask"
        },
        "regionsVersion": {
          "description": "Required. The version of the available regions being used for the one-time product.",
          "$ref": "RegionsVersion"
        },
        "allowMissing": {
          "description": "Optional. If set to true, and the one-time product with the given package_name and product_id doesn't exist, the one-time product will be created. If a new one-time product is created, update_mask is ignored.",
          "type": "boolean"
        }
      },
      "description": "Request message for UpdateOneTimeProduct.",
      "type": "object"
    },
    "UploadAppStoreAppPolicyDeclarationFileResponse": {
      "description": "Response for uploading a policy declaration file.",
      "type": "object",
      "id": "UploadAppStoreAppPolicyDeclarationFileResponse",
      "properties": {
        "fileId": {
          "description": "The unique ID of the uploaded file.",
          "type": "string"
        }
      }
    },
    "ImagesListResponse": {
      "description": "Response listing all images.",
      "type": "object",
      "id": "ImagesListResponse",
      "properties": {
        "images": {
          "description": "All listed Images.",
          "type": "array",
          "items": {
            "$ref": "Image"
          }
        }
      }
    },
    "RecurringExternalTransaction": {
      "description": "Represents a transaction that is part of a recurring series of payments. This can be a subscription or a one-time product with multiple payments (such as preorder).",
      "type": "object",
      "id": "RecurringExternalTransaction",
      "properties": {
        "initialExternalTransactionId": {
          "description": "The external transaction id of the first transaction of this recurring series of transactions. For example, for a subscription this would be the transaction id of the first payment. Required when creating recurring external transactions.",
          "type": "string"
        },
        "externalSubscription": {
          "description": "Details of an external subscription.",
          "$ref": "ExternalSubscription"
        },
        "otherRecurringProduct": {
          "description": "Details of a recurring external transaction product which doesn't belong to any other specific category.",
          "$ref": "OtherRecurringProduct"
        },
        "externalTransactionToken": {
          "description": "Input only. Provided during the call to Create. Retrieved from the client when the alternative billing flow is launched. Required only for the initial purchase.",
          "type": "string"
        },
        "migratedTransactionProgram": {
          "description": "Input only. Provided during the call to Create. Must only be used when migrating a subscription from manual monthly reporting to automated reporting.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified transaction program. Not used.",
            "User choice billing, where a user may choose between Google Play Billing developer-managed billing.",
            "Alternative billing only, where users may only use developer-manager billing."
          ],
          "enum": [
            "EXTERNAL_TRANSACTION_PROGRAM_UNSPECIFIED",
            "USER_CHOICE_BILLING",
            "ALTERNATIVE_BILLING_ONLY"
          ]
        }
      }
    },
    "SystemFeature": {
      "description": "Representation of a system feature.",
      "type": "object",
      "id": "SystemFeature",
      "properties": {
        "name": {
          "description": "The name of the feature.",
          "type": "string"
        }
      }
    },
    "ProductPurchase": {
      "description": "A ProductPurchase resource indicates the status of a user's inapp product purchase.",
      "type": "object",
      "id": "ProductPurchase",
      "properties": {
        "orderId": {
          "description": "The order id associated with the purchase of the inapp product.",
          "type": "string"
        },
        "obfuscatedExternalAccountId": {
          "description": "An obfuscated version of the id that is uniquely associated with the user's account in your app. Only present if specified using https://developer.android.com/reference/com/android/billingclient/api/BillingFlowParams.Builder#setobfuscatedaccountid when the purchase was made.",
          "type": "string"
        },
        "purchaseTimeMillis": {
          "description": "The time the product was purchased, in milliseconds since the epoch (Jan 1, 1970).",
          "type": "string",
          "format": "int64"
        },
        "regionCode": {
          "description": "ISO 3166-1 alpha-2 billing region code of the user at the time the product was granted.",
          "type": "string"
        },
        "kind": {
          "description": "This kind represents an inappPurchase object in the androidpublisher service.",
          "type": "string"
        },
        "obfuscatedExternalProfileId": {
          "description": "An obfuscated version of the id that is uniquely associated with the user's profile in your app. Only present if specified using https://developer.android.com/reference/com/android/billingclient/api/BillingFlowParams.Builder#setobfuscatedprofileid when the purchase was made.",
          "type": "string"
        },
        "acknowledgementState": {
          "description": "The acknowledgement state of the inapp product. Possible values are: 0. Yet to be acknowledged 1. Acknowledged",
          "type": "integer",
          "format": "int32"
        },
        "purchaseToken": {
          "description": "The purchase token generated to identify this purchase. May not be present.",
          "type": "string"
        },
        "productId": {
          "description": "The inapp product SKU. May not be present.",
          "type": "string"
        },
        "consumptionState": {
          "description": "The consumption state of the inapp product. Possible values are: 0. Yet to be consumed 1. Consumed",
          "type": "integer",
          "format": "int32"
        },
        "quantity": {
          "description": "The quantity associated with the purchase of the inapp product. If not present, the quantity is 1.",
          "type": "integer",
          "format": "int32"
        },
        "developerPayload": {
          "description": "A developer-specified string that contains supplemental information about an order.",
          "type": "string"
        },
        "purchaseType": {
          "description": "The type of purchase of the inapp product. This field is only set if this purchase was not made using the standard in-app billing flow. Possible values are: 0. Test (i.e. purchased from a license testing account) 1. Promo (i.e. purchased using a promo code). Does not include Play Points purchases. 2. Rewarded (i.e. from watching a video ad instead of paying)",
          "type": "integer",
          "format": "int32"
        },
        "refundableQuantity": {
          "description": "The quantity eligible for refund, i.e. quantity that hasn't been refunded. The value reflects quantity-based partial refunds and full refunds.",
          "type": "integer",
          "format": "int32"
        },
        "purchaseState": {
          "description": "The purchase state of the order. Possible values are: 0. Purchased 1. Canceled 2. Pending",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "UploadImageResponse": {
      "description": "Response for uploading an image.",
      "type": "object",
      "id": "UploadImageResponse",
      "properties": {
        "imageId": {
          "description": "The unique ID of the uploaded image.",
          "type": "string"
        }
      }
    },
    "UpdatePurchaseOptionStateRequest": {
      "description": "Request message to update the state of a one-time product purchase option.",
      "type": "object",
      "id": "UpdatePurchaseOptionStateRequest",
      "properties": {
        "activatePurchaseOptionRequest": {
          "description": "Activates a purchase option. Once activated, the purchase option will be available.",
          "$ref": "ActivatePurchaseOptionRequest"
        },
        "deactivatePurchaseOptionRequest": {
          "description": "Deactivates a purchase option. Once deactivated, the purchase option will become unavailable.",
          "$ref": "DeactivatePurchaseOptionRequest"
        }
      }
    },
    "ApksListResponse": {
      "description": "Response listing all APKs.",
      "type": "object",
      "id": "ApksListResponse",
      "properties": {
        "kind": {
          "description": "The kind of this response (\"androidpublisher#apksListResponse\").",
          "type": "string"
        },
        "apks": {
          "description": "All APKs.",
          "type": "array",
          "items": {
            "$ref": "Apk"
          }
        }
      }
    },
    "MultiAbi": {
      "description": "Represents a list of ABIs.",
      "type": "object",
      "id": "MultiAbi",
      "properties": {
        "abi": {
          "items": {
            "$ref": "Abi"
          },
          "description": "A list of targeted ABIs, as represented by the Android Platform",
          "type": "array"
        }
      }
    },
    "DeviceTierConfig": {
      "id": "DeviceTierConfig",
      "properties": {
        "deviceTierSet": {
          "description": "Definition of the set of device tiers for the app.",
          "$ref": "DeviceTierSet"
        },
        "deviceTierConfigId": {
          "description": "Output only. The device tier config ID.",
          "type": "string",
          "format": "int64",
          "readOnly": true
        },
        "userCountrySets": {
          "items": {
            "$ref": "UserCountrySet"
          },
          "description": "Definition of user country sets for the app.",
          "type": "array"
        },
        "deviceGroups": {
          "items": {
            "$ref": "DeviceGroup"
          },
          "description": "Definition of device groups for the app.",
          "type": "array"
        }
      },
      "description": "Configuration describing device targeting criteria for the content of an app.",
      "type": "object"
    },
    "AppStoreAppPolicyDeclaration": {
      "id": "AppStoreAppPolicyDeclaration",
      "properties": {
        "declarationId": {
          "description": "Required. ID of the policy declaration.",
          "type": "string"
        },
        "responses": {
          "items": {
            "$ref": "PolicyResponse"
          },
          "description": "Required. Responses provided for this declaration.",
          "type": "array"
        }
      },
      "description": "A policy declaration with its responses.",
      "type": "object"
    },
    "SafetyLabelsUpdateRequest": {
      "description": "Request to update Safety Labels of an app.",
      "type": "object",
      "id": "SafetyLabelsUpdateRequest",
      "properties": {
        "safetyLabels": {
          "description": "Required. Contents of the CSV file containing Data Safety responses. For the format of this file, see the Help Center documentation at https://support.google.com/googleplay/android-developer/answer/10787469?#zippy=%2Cunderstand-the-csv-format To download an up to date template, follow the steps at https://support.google.com/googleplay/android-developer/answer/10787469?#zippy=%2Cexport-to-a-csv-file",
          "type": "string"
        }
      }
    },
    "InAppProduct": {
      "description": "An in-app product. The resource for InappproductsService.",
      "type": "object",
      "id": "InAppProduct",
      "properties": {
        "packageName": {
          "description": "Package name of the parent app.",
          "type": "string"
        },
        "trialPeriod": {
          "description": "Trial period, specified in ISO 8601 format. Acceptable values are anything between P7D (seven days) and P999D (999 days).",
          "type": "string"
        },
        "status": {
          "enum": [
            "statusUnspecified",
            "active",
            "inactive"
          ],
          "description": "The status of the product, e.g. whether it's active.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified status.",
            "The product is published and active in the store.",
            "The product is not published and therefore inactive in the store."
          ]
        },
        "subscriptionTaxesAndComplianceSettings": {
          "description": "Details about taxes and legal compliance. Only applicable to subscription products.",
          "$ref": "SubscriptionTaxAndComplianceSettings"
        },
        "prices": {
          "description": "Prices per buyer region. None of these can be zero, as in-app products are never free. Map key is region code, as defined by ISO 3166-2.",
          "type": "object",
          "additionalProperties": {
            "$ref": "Price"
          }
        },
        "listings": {
          "description": "List of localized title and description data. Map key is the language of the localized data, as defined by BCP-47, e.g. \"en-US\".",
          "type": "object",
          "additionalProperties": {
            "$ref": "InAppProductListing"
          }
        },
        "purchaseType": {
          "description": "The type of the product, e.g. a recurring subscription.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified purchase type.",
            "The default product type - one time purchase.",
            "In-app product with a recurring period."
          ],
          "enum": [
            "purchaseTypeUnspecified",
            "managedUser",
            "subscription"
          ]
        },
        "subscriptionPeriod": {
          "description": "Subscription period, specified in ISO 8601 format. Acceptable values are P1W (one week), P1M (one month), P3M (three months), P6M (six months), and P1Y (one year).",
          "type": "string"
        },
        "managedProductTaxesAndComplianceSettings": {
          "description": "Details about taxes and legal compliance. Only applicable to managed products.",
          "$ref": "ManagedProductTaxAndComplianceSettings"
        },
        "sku": {
          "description": "Stock-keeping-unit (SKU) of the product, unique within an app.",
          "type": "string"
        },
        "defaultPrice": {
          "description": "Default price. Cannot be zero, as in-app products are never free. Always in the developer's Checkout merchant currency.",
          "$ref": "Price"
        },
        "defaultLanguage": {
          "description": "Default language of the localized data, as defined by BCP-47. e.g. \"en-US\".",
          "type": "string"
        },
        "gracePeriod": {
          "description": "Grace period of the subscription, specified in ISO 8601 format. Allows developers to give their subscribers a grace period when the payment for the new recurrence period is declined. Acceptable values are P0D (zero days), P3D (three days), P7D (seven days), P14D (14 days), and P30D (30 days).",
          "type": "string"
        }
      }
    },
    "SubscriptionOfferPhase": {
      "id": "SubscriptionOfferPhase",
      "properties": {
        "duration": {
          "description": "Required. The duration of a single recurrence of this phase. Specified in ISO 8601 format.",
          "type": "string"
        },
        "regionalConfigs": {
          "items": {
            "$ref": "RegionalSubscriptionOfferPhaseConfig"
          },
          "description": "Required. The region-specific configuration of this offer phase. This list must contain exactly one entry for each region for which the subscription offer has a regional config.",
          "type": "array"
        },
        "otherRegionsConfig": {
          "description": "Pricing information for any new locations Play may launch in.",
          "$ref": "OtherRegionsSubscriptionOfferPhaseConfig"
        },
        "recurrenceCount": {
          "description": "Required. The number of times this phase repeats. If this offer phase is not free, each recurrence charges the user the price of this offer phase.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "A single phase of a subscription offer.",
      "type": "object"
    },
    "OfferDetails": {
      "description": "Offer details information related to a purchase line item.",
      "type": "object",
      "id": "OfferDetails",
      "properties": {
        "basePlanId": {
          "description": "The base plan ID. Present for all base plan and offers.",
          "type": "string"
        },
        "offerId": {
          "description": "The offer ID. Only present for discounted offers.",
          "type": "string"
        },
        "offerTags": {
          "description": "The latest offer tags associated with the offer. It includes tags inherited from the base plan.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "InappproductsListResponse": {
      "description": "Response listing all in-app products.",
      "type": "object",
      "id": "InappproductsListResponse",
      "properties": {
        "kind": {
          "description": "The kind of this response (\"androidpublisher#inappproductsListResponse\").",
          "type": "string"
        },
        "inappproduct": {
          "description": "All in-app products.",
          "type": "array",
          "items": {
            "$ref": "InAppProduct"
          }
        },
        "tokenPagination": {
          "description": "Pagination token, to handle a number of products that is over one page.",
          "$ref": "TokenPagination"
        },
        "pageInfo": {
          "$ref": "PageInfo",
          "deprecated": true,
          "description": "Deprecated and unset."
        }
      }
    },
    "DeployAppRecoveryRequest": {
      "id": "DeployAppRecoveryRequest",
      "properties": {},
      "description": "Request message for DeployAppRecovery.",
      "type": "object"
    },
    "InstallmentPlan": {
      "description": "Information to a installment plan.",
      "type": "object",
      "id": "InstallmentPlan",
      "properties": {
        "subsequentCommittedPaymentsCount": {
          "description": "Total number of payments the user will be committed for after each commitment period. Empty means the installment plan will fall back to a normal auto-renew subscription after initial commitment.",
          "type": "integer",
          "format": "int32"
        },
        "pendingCancellation": {
          "description": "If present, this installment plan is pending to be canceled. The cancellation will happen only after the user finished all committed payments.",
          "$ref": "PendingCancellation"
        },
        "remainingCommittedPaymentsCount": {
          "description": "Total number of committed payments remaining to be paid for in this renewal cycle.",
          "type": "integer",
          "format": "int32"
        },
        "initialCommittedPaymentsCount": {
          "description": "Total number of payments the user is initially committed for.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "DeveloperDetails": {
      "id": "DeveloperDetails",
      "properties": {
        "website": {
          "description": "The website of the developer.",
          "type": "string"
        },
        "address": {
          "description": "The physical address of the developer.",
          "type": "string"
        },
        "developerName": {
          "description": "The developer name of the app.",
          "type": "string"
        },
        "contactEmail": {
          "description": "The contact email of the developer.",
          "type": "string"
        },
        "phoneNumber": {
          "description": "The phone number of the developer.",
          "type": "string"
        }
      },
      "description": "The developer details of a Google Play app.",
      "type": "object"
    },
    "BatchGetOneTimeProductOffersResponse": {
      "id": "BatchGetOneTimeProductOffersResponse",
      "properties": {
        "oneTimeProductOffers": {
          "description": "The list of updated one-time product offers, in the same order as the request.",
          "type": "array",
          "items": {
            "$ref": "OneTimeProductOffer"
          }
        }
      },
      "description": "Response message for the BatchGetOneTimeProductOffers endpoint.",
      "type": "object"
    },
    "SplitApkVariant": {
      "description": "Variant is a group of APKs that covers a part of the device configuration space. APKs from multiple variants are never combined on one device.",
      "type": "object",
      "id": "SplitApkVariant",
      "properties": {
        "targeting": {
          "description": "Variant-level targeting.",
          "$ref": "VariantTargeting"
        },
        "apkSet": {
          "items": {
            "$ref": "ApkSet"
          },
          "description": "Set of APKs, one set per module.",
          "type": "array"
        },
        "variantNumber": {
          "description": "Number of the variant, starting at 0 (unless overridden). A device will receive APKs from the first variant that matches the device configuration, with higher variant numbers having priority over lower variant numbers.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "NestedPolicyResponse": {
      "id": "NestedPolicyResponse",
      "properties": {
        "singleChoiceResponse": {
          "description": "Optional. A single choice response.",
          "$ref": "PolicySingleChoiceResponse"
        },
        "booleanResponse": {
          "description": "Optional. A boolean response.",
          "$ref": "PolicyBooleanResponse"
        },
        "questionId": {
          "description": "Required. ID of the question being answered.",
          "type": "string"
        },
        "stringResponse": {
          "description": "Optional. A string response.",
          "$ref": "PolicyStringResponse"
        },
        "multipleChoiceResponse": {
          "description": "Optional. A multiple choice response.",
          "$ref": "PolicyMultipleChoiceResponse"
        },
        "documentResponse": {
          "description": "Optional. A document response.",
          "$ref": "PolicyDocumentResponse"
        }
      },
      "description": "An individual nested response to a policy question about an app. Nested responses are like regular responses but without groups.",
      "type": "object"
    },
    "ListDeviceTierConfigsResponse": {
      "id": "ListDeviceTierConfigsResponse",
      "properties": {
        "deviceTierConfigs": {
          "items": {
            "$ref": "DeviceTierConfig"
          },
          "description": "Device tier configs created by the developer.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response listing existing device tier configs.",
      "type": "object"
    },
    "PendingCancellation": {
      "id": "PendingCancellation",
      "properties": {},
      "description": "This is an indicator of whether there is a pending cancellation on the virtual installment plan. The cancellation will happen only after the user finished all committed payments.",
      "type": "object"
    },
    "ExternalAccountIds": {
      "id": "ExternalAccountIds",
      "properties": {
        "obfuscatedAccountId": {
          "description": "Optional. Specifies an optional obfuscated string that is uniquely associated with the purchaser's user account in your app. If you pass this value, Google Play can use it to detect irregular activity. Do not use this field to store any Personally Identifiable Information (PII) such as emails in cleartext. Attempting to store PII in this field will result in purchases being blocked. Google Play recommends that you use either encryption or a one-way hash to generate an obfuscated identifier to send to Google Play. This identifier is limited to 64 characters. This field can only be set for resubscription purchases. See https://developer.android.com/reference/com/android/billingclient/api/BillingFlowParams.Builder#setobfuscatedaccountid to set this field for purchases made using the standard in-app billing flow.",
          "type": "string"
        },
        "obfuscatedProfileId": {
          "description": "Optional. Specifies an optional obfuscated string that is uniquely associated with the purchaser's user profile in your app. If you pass this value, Google Play can use it to detect irregular activity. Do not use this field to store any Personally Identifiable Information (PII) such as emails in cleartext. Attempting to store PII in this field will result in purchases being blocked. Google Play recommends that you use either encryption or a one-way hash to generate an obfuscated identifier to send to Google Play. This identifier is limited to 64 characters. This field can only be set for resubscription purchases. See https://developer.android.com/reference/com/android/billingclient/api/BillingFlowParams.Builder#setobfuscatedprofileid to set this field for purchases made using the standard in-app billing flow.",
          "type": "string"
        }
      },
      "description": "User account identifier in your app.",
      "type": "object"
    },
    "LocalizedStoreListing": {
      "description": "A localized store listings of the app.",
      "type": "object",
      "id": "LocalizedStoreListing",
      "properties": {
        "phoneScreenshots": {
          "description": "The phone screenshots of the app.",
          "$ref": "ScreenshotSet"
        },
        "appName": {
          "description": "The name of the app in this localization.",
          "type": "string"
        },
        "shortDescription": {
          "description": "A short description of the app in this localization.",
          "type": "string"
        },
        "tabletRegularScreenshots": {
          "description": "The regular tablet screenshots of the app.",
          "$ref": "ScreenshotSet"
        },
        "video": {
          "description": "The video of the app.",
          "$ref": "VideoAsset"
        },
        "featureGraphic": {
          "description": "The feature graphic of the app.",
          "$ref": "ImageAsset"
        },
        "tabletSmallScreenshots": {
          "description": "The small tablet screenshots of the app.",
          "$ref": "ScreenshotSet"
        },
        "fullDescription": {
          "description": "A longer description of the app in this localization.",
          "type": "string"
        },
        "languageCode": {
          "description": "The BCP-47 language code for this localization.",
          "type": "string"
        },
        "icon": {
          "description": "The icon of the app.",
          "$ref": "ImageAsset"
        }
      }
    },
    "TargetingInfo": {
      "id": "TargetingInfo",
      "properties": {
        "packageName": {
          "description": "The package name of this app.",
          "type": "string"
        },
        "variant": {
          "items": {
            "$ref": "SplitApkVariant"
          },
          "description": "List of the created variants.",
          "type": "array"
        },
        "assetSliceSet": {
          "items": {
            "$ref": "AssetSliceSet"
          },
          "description": "List of created asset slices.",
          "type": "array"
        }
      },
      "description": "Targeting information about the generated apks.",
      "type": "object"
    },
    "RegionalTaxRateInfo": {
      "id": "RegionalTaxRateInfo",
      "properties": {
        "eligibleForStreamingServiceTaxRate": {
          "description": "You must tell us if your app contains streaming products to correctly charge US state and local sales tax. Field only supported in the United States.",
          "type": "boolean"
        },
        "streamingTaxType": {
          "description": "To collect communications or amusement taxes in the United States, choose the appropriate tax category. [Learn more](https://support.google.com/googleplay/android-developer/answer/10463498#streaming_tax).",
          "type": "string",
          "enumDescriptions": [
            "No telecommunications tax collected.",
            "US-specific telecommunications tax tier for video streaming, on demand, rentals / subscriptions / pay-per-view.",
            "US-specific telecommunications tax tier for video streaming of pre-recorded content like movies, tv shows.",
            "US-specific telecommunications tax tier for video streaming of multi-channel programming.",
            "US-specific telecommunications tax tier for audio streaming, rental / subscription.",
            "US-specific telecommunications tax tier for audio streaming, sale / permanent download.",
            "US-specific telecommunications tax tier for multi channel audio streaming like radio."
          ],
          "enum": [
            "STREAMING_TAX_TYPE_UNSPECIFIED",
            "STREAMING_TAX_TYPE_TELCO_VIDEO_RENTAL",
            "STREAMING_TAX_TYPE_TELCO_VIDEO_SALES",
            "STREAMING_TAX_TYPE_TELCO_VIDEO_MULTI_CHANNEL",
            "STREAMING_TAX_TYPE_TELCO_AUDIO_RENTAL",
            "STREAMING_TAX_TYPE_TELCO_AUDIO_SALES",
            "STREAMING_TAX_TYPE_TELCO_AUDIO_MULTI_CHANNEL"
          ]
        },
        "taxTier": {
          "description": "Tax tier to specify reduced tax rate. Developers who sell digital news, magazines, newspapers, books, or audiobooks in various regions may be eligible for reduced tax rates. [Learn more](https://support.google.com/googleplay/android-developer/answer/10463498).",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "TAX_TIER_UNSPECIFIED",
            "TAX_TIER_BOOKS_1",
            "TAX_TIER_NEWS_1",
            "TAX_TIER_NEWS_2",
            "TAX_TIER_MUSIC_OR_AUDIO_1",
            "TAX_TIER_LIVE_OR_BROADCAST_1"
          ]
        }
      },
      "description": "Specified details about taxation in a given geographical region.",
      "type": "object"
    },
    "DeviceId": {
      "description": "Identifier of a device.",
      "type": "object",
      "id": "DeviceId",
      "properties": {
        "buildBrand": {
          "description": "Value of Build.BRAND.",
          "type": "string"
        },
        "buildDevice": {
          "description": "Value of Build.DEVICE.",
          "type": "string"
        }
      }
    },
    "Comment": {
      "id": "Comment",
      "properties": {
        "userComment": {
          "description": "A comment from a user.",
          "$ref": "UserComment"
        },
        "developerComment": {
          "description": "A comment from a developer.",
          "$ref": "DeveloperComment"
        }
      },
      "description": "An entry of conversation between user and developer.",
      "type": "object"
    },
    "TextureCompressionFormatTargeting": {
      "description": "Targeting by a texture compression format.",
      "type": "object",
      "id": "TextureCompressionFormatTargeting",
      "properties": {
        "value": {
          "description": "The list of targeted TCFs. Should not be empty.",
          "type": "array",
          "items": {
            "$ref": "TextureCompressionFormat"
          }
        },
        "alternatives": {
          "items": {
            "$ref": "TextureCompressionFormat"
          },
          "description": "List of alternative TCFs (TCFs targeted by the sibling splits).",
          "type": "array"
        }
      }
    },
    "OrderDetails": {
      "id": "OrderDetails",
      "properties": {
        "taxInclusive": {
          "description": "Indicates whether the listed price was tax inclusive or not.",
          "type": "boolean"
        }
      },
      "description": "Detailed information about the order at creation time.",
      "type": "object"
    },
    "BatchMigrateBasePlanPricesResponse": {
      "description": "Response message for BatchMigrateBasePlanPrices.",
      "type": "object",
      "id": "BatchMigrateBasePlanPricesResponse",
      "properties": {
        "responses": {
          "items": {
            "$ref": "MigrateBasePlanPricesResponse"
          },
          "description": "Contains one response per requested price migration, in the same order as the request.",
          "type": "array"
        }
      }
    },
    "OneTimeExternalTransaction": {
      "id": "OneTimeExternalTransaction",
      "properties": {
        "externalTransactionToken": {
          "description": "Input only. Provided during the call to Create. Retrieved from the client when the alternative billing flow is launched.",
          "type": "string"
        }
      },
      "description": "Represents a one-time transaction.",
      "type": "object"
    },
    "OneTimeProductOfferRegionalPricingAndAvailabilityConfig": {
      "description": "Regional pricing and availability configuration for a one-time product offer.",
      "type": "object",
      "id": "OneTimeProductOfferRegionalPricingAndAvailabilityConfig",
      "properties": {
        "noOverride": {
          "description": "The price defined in the purchase option for this region will be used.",
          "$ref": "OneTimeProductOfferNoPriceOverrideOptions"
        },
        "availability": {
          "enum": [
            "AVAILABILITY_UNSPECIFIED",
            "AVAILABLE",
            "NO_LONGER_AVAILABLE"
          ],
          "description": "Required. The availability for this region.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified availability. Must not be used.",
            "The offer is available to users.",
            "The offer is no longer available to users. This value can only be used if the availability was previously set as AVAILABLE."
          ]
        },
        "regionCode": {
          "description": "Required. Region code this configuration applies to, as defined by ISO 3166-2, e.g., \"US\".",
          "type": "string"
        },
        "relativeDiscount": {
          "description": "The fraction of the purchase option price that the user pays for this offer. For example, if the purchase option price for this region is $12, then a 50% discount would correspond to a price of $6. The discount must be specified as a fraction strictly larger than 0 and strictly smaller than 1. The resulting price will be rounded to the nearest billable unit (e.g. cents for USD). The relative discount is considered invalid if the discounted price ends up being smaller than the minimum price allowed in this region.",
          "type": "number",
          "format": "double"
        },
        "absoluteDiscount": {
          "description": "The absolute value of the discount that is subtracted from the purchase option price. It should be between 0 and the purchase option price.",
          "$ref": "Money"
        }
      }
    },
    "UpdateAppStoreHostedAppPublishStatusResponse": {
      "id": "UpdateAppStoreHostedAppPublishStatusResponse",
      "properties": {},
      "description": "Response for updating the publish status of an app store hosted app.",
      "type": "object"
    },
    "CatalogDeviceSelector": {
      "id": "CatalogDeviceSelector",
      "properties": {
        "socSelectors": {
          "description": "The SOC selectors. A device matches the device selector if it matches any of the SOC selectors.",
          "type": "array",
          "items": {
            "$ref": "SocSelector"
          }
        },
        "ramSelector": {
          "description": "Defines a RAM selector for a device.",
          "$ref": "RamSelector"
        },
        "deviceTypeSelector": {
          "enum": [
            "DEVICE_TYPE_SELECTOR_UNSPECIFIED",
            "ANDROID_GO"
          ],
          "description": "The device type selector.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified device type selector.",
            "Android Go device type."
          ]
        }
      },
      "description": "Defines a device selector for a device. A device is considered matched if it matches any of given the selectors.",
      "type": "object"
    },
    "OfferPhaseDetails": {
      "id": "OfferPhaseDetails",
      "properties": {
        "prorationPeriodDetails": {
          "description": "The order funds a proration period.",
          "$ref": "ProrationPeriodDetails"
        },
        "freeTrialDetails": {
          "description": "The order funds a free trial period.",
          "$ref": "FreeTrialDetails"
        },
        "baseDetails": {
          "description": "The order funds a base price period.",
          "$ref": "BaseDetails"
        },
        "introductoryPriceDetails": {
          "description": "The order funds an introductory pricing period.",
          "$ref": "IntroductoryPriceDetails"
        }
      },
      "description": "Details of a pricing phase for the entitlement period funded by this order.",
      "type": "object"
    },
    "AppVersionList": {
      "id": "AppVersionList",
      "properties": {
        "versionCodes": {
          "description": "List of app version codes.",
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          }
        }
      },
      "description": "Data format for a list of app versions.",
      "type": "object"
    },
    "VideoAsset": {
      "description": "A video asset.",
      "type": "object",
      "id": "VideoAsset",
      "properties": {
        "videoUrl": {
          "description": "The URL of the video asset.",
          "type": "string"
        }
      }
    },
    "RevocationContextProratedRefund": {
      "id": "RevocationContextProratedRefund",
      "properties": {},
      "description": "Used to determine if the refund type in the RevocationContext is a prorated refund.",
      "type": "object"
    },
    "BatchUpdateOneTimeProductOffersRequest": {
      "description": "Request message for BatchUpdateOneTimeProductOffers.",
      "type": "object",
      "id": "BatchUpdateOneTimeProductOffersRequest",
      "properties": {
        "requests": {
          "items": {
            "$ref": "UpdateOneTimeProductOfferRequest"
          },
          "description": "Required. A list of update requests of up to 100 elements. All requests must update different offers.",
          "type": "array"
        }
      }
    },
    "VoidedPurchase": {
      "description": "A VoidedPurchase resource indicates a purchase that was either canceled/refunded/charged-back.",
      "type": "object",
      "id": "VoidedPurchase",
      "properties": {
        "purchaseToken": {
          "description": "The token which uniquely identifies a one-time purchase or subscription. To uniquely identify subscription renewals use order_id (available starting from version 3 of the API).",
          "type": "string"
        },
        "purchaseTimeMillis": {
          "description": "The time at which the purchase was made, in milliseconds since the epoch (Jan 1, 1970).",
          "type": "string",
          "format": "int64"
        },
        "voidedSource": {
          "description": "The initiator of voided purchase, possible values are: 0. User 1. Developer 2. Google",
          "type": "integer",
          "format": "int32"
        },
        "voidedReason": {
          "description": "The reason why the purchase was voided, possible values are: 0. Other 1. Remorse 2. Not_received 3. Defective 4. Accidental_purchase 5. Fraud 6. Friendly_fraud 7. Chargeback 8. Unacknowledged_purchase",
          "type": "integer",
          "format": "int32"
        },
        "orderId": {
          "description": "The order id which uniquely identifies a one-time purchase, subscription purchase, or subscription renewal.",
          "type": "string"
        },
        "voidedQuantity": {
          "description": "The voided quantity as the result of a quantity-based partial refund. Voided purchases of quantity-based partial refunds may only be returned when includeQuantityBasedPartialRefund is set to true.",
          "type": "integer",
          "format": "int32"
        },
        "kind": {
          "description": "This kind represents a voided purchase object in the androidpublisher service.",
          "type": "string"
        },
        "voidedTimeMillis": {
          "description": "The time at which the purchase was canceled/refunded/charged-back, in milliseconds since the epoch (Jan 1, 1970).",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "RevokeSubscriptionPurchaseRequest": {
      "description": "Request for the purchases.subscriptionsv2.revoke API.",
      "type": "object",
      "id": "RevokeSubscriptionPurchaseRequest",
      "properties": {
        "revocationContext": {
          "description": "Required. Additional details around the subscription revocation.",
          "$ref": "RevocationContext"
        }
      }
    },
    "GeneratedApksListResponse": {
      "id": "GeneratedApksListResponse",
      "properties": {
        "generatedApks": {
          "description": "All generated APKs, grouped by the APK signing key.",
          "type": "array",
          "items": {
            "$ref": "GeneratedApksPerSigningKey"
          }
        }
      },
      "description": "Response to list generated APKs.",
      "type": "object"
    },
    "ApkTargeting": {
      "description": "Represents a set of apk-level targetings.",
      "type": "object",
      "id": "ApkTargeting",
      "properties": {
        "textureCompressionFormatTargeting": {
          "description": "Texture-compression-format-level targeting",
          "$ref": "TextureCompressionFormatTargeting"
        },
        "abiTargeting": {
          "description": "The abi that the apk targets",
          "$ref": "AbiTargeting"
        },
        "multiAbiTargeting": {
          "description": "Multi-api-level targeting.",
          "$ref": "MultiAbiTargeting"
        },
        "screenDensityTargeting": {
          "description": "The screen density that this apk supports.",
          "$ref": "ScreenDensityTargeting"
        },
        "sdkVersionTargeting": {
          "description": "The sdk version that the apk targets",
          "$ref": "SdkVersionTargeting"
        },
        "languageTargeting": {
          "description": "The language that the apk targets",
          "$ref": "LanguageTargeting"
        }
      }
    },
    "RevocationContextItemBasedRefund": {
      "description": "Used to determine what specific item to revoke in a subscription with multiple items.",
      "type": "object",
      "id": "RevocationContextItemBasedRefund",
      "properties": {
        "productId": {
          "description": "Required. If the subscription is a subscription with add-ons, the product id of the subscription item to revoke.",
          "type": "string"
        }
      }
    },
    "RegionsVersion": {
      "description": "The version of the available regions being used for the specified resource.",
      "type": "object",
      "id": "RegionsVersion",
      "properties": {
        "version": {
[...]
