{
  "kind": "discovery#restDescription",
  "parameters": {
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "description": "Data format for response.",
      "default": "json",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    }
  },
  "name": "androidpublisher",
  "id": "androidpublisher:v3",
  "version": "v3",
  "description": "Lets Android application developers access their Google Play accounts. At a high level, the expected workflow is to \"insert\" an Edit, make changes as necessary, and then \"commit\" it. ",
  "servicePath": "",
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerName": "Google",
  "title": "Google Play Android Developer API",
  "rootUrl": "https://androidpublisher.googleapis.com/",
  "ownerDomain": "google.com",
  "schemas": {
    "BatchGetOneTimeProductsResponse": {
      "type": "object",
      "properties": {
        "oneTimeProducts": {
          "description": "The list of requested one-time products, in the same order as the request.",
          "items": {
            "$ref": "OneTimeProduct"
          },
          "type": "array"
        }
      },
      "id": "BatchGetOneTimeProductsResponse",
      "description": "Response message for the BatchGetOneTimeProducts endpoint."
    },
    "ProrationPeriodOfferPhase": {
      "type": "object",
      "properties": {
        "originalOfferPhaseType": {
          "enumDescriptions": [
            "Unspecified original offer phase type.",
            "The subscription is in the base pricing phase (e.g. full price).",
            "The subscription is in an introductory pricing phase.",
            "The subscription is in a free trial."
          ],
          "type": "string",
          "enum": [
            "ORIGINAL_OFFER_PHASE_TYPE_UNSPECIFIED",
            "BASE",
            "INTRODUCTORY",
            "FREE_TRIAL"
          ],
          "description": "The original offer phase type before the proration period. Only set when the proration period is updated from an existing offer phase."
        }
      },
      "id": "ProrationPeriodOfferPhase",
      "description": "Details about proration period offer phase."
    },
    "AppStoreAppStoreListing": {
      "id": "AppStoreAppStoreListing",
      "description": "A localized store listing. These are the details about the app as shown in your app store.",
      "type": "object",
      "properties": {
        "languageCode": {
          "description": "Required. Language code (e.g., \"en-US\") of the listing.",
          "type": "string"
        },
        "appName": {
          "description": "Required. The title of the app.",
          "type": "string"
        },
        "shortDescription": {
          "description": "Optional. Quick summary about the app.",
          "type": "string"
        },
        "fullDescription": {
          "description": "Required. Comprehensive description text about the app.",
          "type": "string"
        },
        "screenshotId": {
          "description": "Required. Multiple image IDs for screenshot galleries.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "appIconId": {
          "description": "Required. Image ID generated from UploadImage for the main app icon.",
          "type": "string"
        },
        "videoLink": {
          "description": "Optional. Link to a video about the app.",
          "type": "string"
        }
      }
    },
    "PolicySingleChoiceResponse": {
      "id": "PolicySingleChoiceResponse",
      "description": "Any response where a single option is chosen from several possibilities.",
      "type": "object",
      "properties": {
        "value": {
          "description": "Required. Provided value.",
          "type": "string"
        }
      }
    },
    "Date": {
      "type": "object",
      "properties": {
        "year": {
          "type": "integer",
          "format": "int32",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
        },
        "day": {
          "type": "integer",
          "format": "int32",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
        },
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "Date",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
    },
    "PolicyDocumentResponse": {
      "type": "object",
      "properties": {
        "expiryDate": {
          "description": "Optional. Expiry date for the document.",
          "$ref": "Date"
        },
        "documentId": {
          "description": "Required. ID of the uploaded document.",
          "type": "string"
        },
        "nonExpiring": {
          "description": "Optional. True if confirmed that the document does not have an expiry date.",
          "type": "boolean"
        }
      },
      "id": "PolicyDocumentResponse",
      "description": "An uploaded document. Must be a single logical document (e.g. a financial license)."
    },
    "OneTimeExternalTransaction": {
      "id": "OneTimeExternalTransaction",
      "description": "Represents a one-time transaction.",
      "type": "object",
      "properties": {
        "externalTransactionToken": {
          "description": "Input only. Provided during the call to Create. Retrieved from the client when the alternative billing flow is launched.",
          "type": "string"
        }
      }
    },
    "VariantTargeting": {
      "type": "object",
      "properties": {
        "sdkVersionTargeting": {
          "description": "The sdk version that the variant targets",
          "$ref": "SdkVersionTargeting"
        },
        "textureCompressionFormatTargeting": {
          "description": "Texture-compression-format-level targeting",
          "$ref": "TextureCompressionFormatTargeting"
        },
        "abiTargeting": {
          "description": "The abi that the variant targets",
          "$ref": "AbiTargeting"
        },
        "screenDensityTargeting": {
          "description": "The screen densities that this variant supports",
          "$ref": "ScreenDensityTargeting"
        },
        "multiAbiTargeting": {
          "description": "Multi-api-level targeting",
          "$ref": "MultiAbiTargeting"
        }
      },
      "id": "VariantTargeting",
      "description": "Targeting on the level of variants."
    },
    "DeveloperComment": {
      "id": "DeveloperComment",
      "description": "Developer entry from conversation between user and developer.",
      "type": "object",
      "properties": {
        "text": {
          "description": "The content of the comment, i.e. reply body.",
          "type": "string"
        },
        "lastModified": {
          "description": "The last time at which this comment was updated.",
          "$ref": "Timestamp"
        }
      }
    },
    "UploadImageResponse": {
      "id": "UploadImageResponse",
      "description": "Response for uploading an image.",
      "type": "object",
      "properties": {
        "imageId": {
          "description": "The unique ID of the uploaded image.",
          "type": "string"
        }
      }
    },
    "RegionalSubscriptionOfferPhaseFreePriceOverride": {
      "id": "RegionalSubscriptionOfferPhaseFreePriceOverride",
      "description": "Represents the free price override configuration for a single phase of a subscription offer",
      "type": "object",
      "properties": {}
    },
    "GeneratedApksListResponse": {
      "id": "GeneratedApksListResponse",
      "description": "Response to list generated APKs.",
      "type": "object",
      "properties": {
        "generatedApks": {
          "description": "All generated APKs, grouped by the APK signing key.",
          "type": "array",
          "items": {
            "$ref": "GeneratedApksPerSigningKey"
          }
        }
      }
    },
    "AppStoreAppActiveApkSet": {
      "id": "AppStoreAppActiveApkSet",
      "description": "An installable set of active APKs. A set of APKs might only contain 1 APK if the app in question publishes using APKs. If the app uses app bundles (or a similar technology), this set should contain all APKs (even optional ones) that might be installed for this app. A set of APKs should be installable together. If certain APKs are exclusive to one another and cannot be installed together, then a separate AppStoreAppActiveApkSet should be created.",
      "type": "object",
      "properties": {
        "baseApkId": {
          "description": "Required. The ID for the main base application module. Example: base.apk or app.apk.",
          "type": "string"
        },
        "splitApkId": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. IDs for split modules that might be installed in combination with the base APK. Can be empty if app bundles (or a similar technology) are not used. Example: config.en.apk."
        }
      }
    },
    "BatchDeleteOneTimeProductsRequest": {
      "type": "object",
      "properties": {
        "requests": {
          "type": "array",
          "items": {
            "$ref": "DeleteOneTimeProductRequest"
          },
          "description": "Required. A list of delete requests of up to 100 elements. All requests must delete different one-time products."
        }
      },
      "id": "BatchDeleteOneTimeProductsRequest",
      "description": "Request message for BatchDeleteOneTimeProduct."
    },
    "DeferSubscriptionPurchaseResponse": {
      "id": "DeferSubscriptionPurchaseResponse",
      "description": "Response for the v2 purchases.subscriptions.defer API.",
      "type": "object",
      "properties": {
        "itemExpiryTimeDetails": {
          "type": "array",
          "items": {
            "$ref": "ItemExpiryTimeDetails"
          },
          "description": "The new expiry time for each subscription items."
        }
      }
    },
    "UploadImageRequest": {
      "id": "UploadImageRequest",
      "description": "Request to upload an image.",
      "type": "object",
      "properties": {}
    },
    "GeneratedStandaloneApk": {
      "id": "GeneratedStandaloneApk",
      "description": "Download metadata for a standalone APK.",
      "type": "object",
      "properties": {
        "downloadId": {
          "description": "Download ID, which uniquely identifies the APK to download. Should be supplied to `generatedapks.download` method.",
          "type": "string"
        },
        "variantId": {
          "format": "int32",
          "type": "integer",
          "description": "ID of the generated variant."
        }
      }
    },
    "ScreenDensityTargeting": {
      "id": "ScreenDensityTargeting",
      "description": "Targeting based on screen density.",
      "type": "object",
      "properties": {
        "alternatives": {
          "items": {
            "$ref": "ScreenDensity"
          },
          "type": "array",
          "description": "Targeting of other sibling directories that were in the Bundle. For main splits this is targeting of other main splits."
        },
        "value": {
          "description": "Value of a screen density.",
          "items": {
            "$ref": "ScreenDensity"
          },
          "type": "array"
        }
      }
    },
    "OtherRecurringProduct": {
      "id": "OtherRecurringProduct",
      "description": "Details of a recurring external transaction product which doesn't belong to any other more specific category.",
      "type": "object",
      "properties": {}
    },
    "PreorderDetails": {
      "id": "PreorderDetails",
      "description": "Details of a pre-order purchase.",
      "type": "object",
      "properties": {}
    },
    "BatchUpdateSubscriptionOffersRequest": {
      "type": "object",
      "properties": {
        "requests": {
          "description": "Required. A list of update requests of up to 100 elements. All requests must update different subscription offers.",
          "type": "array",
          "items": {
            "$ref": "UpdateSubscriptionOfferRequest"
          }
        }
      },
      "id": "BatchUpdateSubscriptionOffersRequest",
      "description": "Request message for BatchUpdateSubscriptionOffers."
    },
    "Testers": {
      "id": "Testers",
      "description": "The testers of an app. The resource for TestersService. Note: while it is possible in the Play Console UI to add testers via email lists, email lists are not supported by this resource.",
      "type": "object",
      "properties": {
        "googleGroups": {
          "description": "All testing Google Groups, as email addresses.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "DeviceTierSet": {
      "id": "DeviceTierSet",
      "description": "A set of device tiers. A tier set determines what variation of app content gets served to a specific device, for device-targeted content. You should assign a priority level to each tier, which determines the ordering by which they are evaluated by Play. See the documentation of DeviceTier.level for more details.",
      "type": "object",
      "properties": {
        "deviceTiers": {
          "type": "array",
          "items": {
            "$ref": "DeviceTier"
          },
          "description": "Device tiers belonging to the set."
        }
      }
    },
    "CancelAppRecoveryResponse": {
      "type": "object",
      "properties": {},
      "id": "CancelAppRecoveryResponse",
      "description": "Response message for CancelAppRecovery."
    },
    "TargetingRuleScopeAnySubscriptionInApp": {
      "id": "TargetingRuleScopeAnySubscriptionInApp",
      "description": "Represents the targeting rule scope corresponding to any subscription in the parent app.",
      "type": "object",
      "properties": {}
    },
    "RentOfferDetails": {
      "id": "RentOfferDetails",
      "description": "Offer details information related to a rental line item.",
      "type": "object",
      "properties": {}
    },
    "PartialRefund": {
      "type": "object",
      "properties": {
        "refundId": {
          "description": "Required. A unique id distinguishing this partial refund. If the refund is successful, subsequent refunds with the same id will fail. Must be unique across refunds for one individual transaction.",
          "type": "string"
        },
        "refundPreTaxAmount": {
          "description": "Required. The pre-tax amount of the partial refund. Should be less than the remaining pre-tax amount of the transaction.",
          "$ref": "Price"
        }
      },
      "id": "PartialRefund",
      "description": "A partial refund of a transaction."
    },
    "TextureCompressionFormat": {
      "id": "TextureCompressionFormat",
      "description": "Represents texture compression format.",
      "type": "object",
      "properties": {
        "alias": {
          "enum": [
            "UNSPECIFIED_TEXTURE_COMPRESSION_FORMAT",
            "ETC1_RGB8",
            "PALETTED",
            "THREE_DC",
            "ATC",
            "LATC",
            "DXT1",
            "S3TC",
            "PVRTC",
            "ASTC",
            "ETC2"
          ],
          "description": "Alias for texture compression format.",
          "enumDescriptions": [
            "Unspecified format.",
            "ETC1_RGB8 format.",
            "PALETTED format.",
            "THREE_DC format.",
            "ATC format.",
            "LATC format.",
            "DXT1 format.",
            "S3TC format.",
            "PVRTC format.",
            "ASTC format.",
            "ETC2 format."
          ],
          "type": "string"
        }
      }
    },
    "InappproductsBatchUpdateRequest": {
      "id": "InappproductsBatchUpdateRequest",
      "description": "Request to update or insert one or more in-app products.",
      "type": "object",
      "properties": {
        "requests": {
          "type": "array",
          "items": {
            "$ref": "InappproductsUpdateRequest"
          },
          "description": "Required. Individual update requests. At least one request is required. Can contain up to 100 requests. All requests must correspond to different in-app products."
        }
      }
    },
    "BatchUpdateSubscriptionsResponse": {
      "id": "BatchUpdateSubscriptionsResponse",
      "description": "Response message for BatchUpdateSubscription.",
      "type": "object",
      "properties": {
        "subscriptions": {
          "type": "array",
          "items": {
            "$ref": "Subscription"
          },
          "description": "The updated subscriptions list."
        }
      }
    },
    "Apk": {
      "type": "object",
      "properties": {
        "binary": {
          "description": "Information about the binary payload of this APK.",
          "$ref": "ApkBinary"
        },
        "versionCode": {
          "description": "The version code of the APK, as specified in the manifest file.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "Apk",
      "description": "Information about an APK. The resource for ApksService."
    },
    "CoarseLocation": {
      "id": "CoarseLocation",
      "description": "Coarse Geographic location details for where the consumption happened.",
      "type": "object",
      "properties": {
        "sublocality": {
          "description": "Optional. Sublocality of the address. For example, this can be a neighborhood, borough, or district. For most addresses, you can omit this.",
          "type": "string"
        },
        "regionCode": {
          "description": "Required. [CLDR region code](https://cldr.unicode.org/) of the country/region of the address. This value is never inferred and you must ensure the value is correct. Example: \"CH\" for Switzerland.",
          "type": "string"
        },
        "administrativeArea": {
          "description": "Optional. Highest administrative subdivision which is used for postal addresses of a country or region. For example, this can be a state, a province, an oblast, or a prefecture. For Spain, this is the province and not the autonomous community (for example, \"Barcelona\" and not \"Catalonia\"). Many countries don't use an administrative area in postal addresses. For example, in Switzerland, this should be left unpopulated.",
          "type": "string"
        },
        "locality": {
          "description": "Optional. Generally refers to the city or town portion of the address. Examples: US city, IT comune, UK post town. In regions of the world where localities are not well defined or do not fit into this structure well, leave `locality` empty.",
          "type": "string"
        }
      }
    },
    "RegionalPriceMigrationConfig": {
      "id": "RegionalPriceMigrationConfig",
      "description": "Configuration for migration of a legacy price cohort.",
      "type": "object",
      "properties": {
        "priceIncreaseType": {
          "enumDescriptions": [
            "Unspecified state.",
            "Subscribers must accept the price increase or their subscription is canceled.",
            "Subscribers are notified but do not have to accept the price increase. Opt-out price increases not meeting regional, frequency, and amount limits will proceed as opt-in price increase. The first opt-out price increase for each app must be initiated in the Google Play Console."
          ],
          "type": "string",
          "enum": [
            "PRICE_INCREASE_TYPE_UNSPECIFIED",
            "PRICE_INCREASE_TYPE_OPT_IN",
            "PRICE_INCREASE_TYPE_OPT_OUT"
          ],
          "description": "Optional. The requested type of price increase"
        },
        "oldestAllowedPriceVersionTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. Subscribers in all legacy price cohorts before this time will be migrated to the current price. Subscribers in any newer price cohorts are unaffected. Affected subscribers will receive one or more notifications from Google Play about the price change. Price decreases occur at the subscriber's next billing date. Price increases occur at the subscriber's next billing date following a notification period that varies by region and price increase type."
        },
        "regionCode": {
          "description": "Required. Region code this configuration applies to, as defined by ISO 3166-2, e.g. \"US\".",
          "type": "string"
        }
      }
    },
    "SystemInitiatedCancellation": {
      "id": "SystemInitiatedCancellation",
      "description": "Information specific to cancellations initiated by Google system.",
      "type": "object",
      "properties": {}
    },
    "MultiAbiTargeting": {
      "id": "MultiAbiTargeting",
      "description": "Targeting based on multiple abis.",
      "type": "object",
      "properties": {
        "alternatives": {
          "items": {
            "$ref": "MultiAbi"
          },
          "type": "array",
          "description": "Targeting of other sibling directories that were in the Bundle. For main splits this is targeting of other main splits."
        },
        "value": {
          "items": {
            "$ref": "MultiAbi"
          },
          "type": "array",
          "description": "Value of a multi abi."
        }
      }
    },
    "RegionalSubscriptionOfferConfig": {
      "id": "RegionalSubscriptionOfferConfig",
      "description": "Configuration for a subscription offer in a single region.",
      "type": "object",
      "properties": {
        "regionCode": {
          "description": "Required. Immutable. Region code this configuration applies to, as defined by ISO 3166-2, e.g. \"US\".",
          "type": "string"
        },
        "newSubscriberAvailability": {
          "description": "Whether the subscription offer in the specified region is available for new subscribers. Existing subscribers will not have their subscription cancelled if this value is set to false. If not specified, this will default to false.",
          "type": "boolean"
        }
      }
    },
    "ExternalOfferDetails": {
      "type": "object",
      "properties": {
        "appDownloadEventExternalTransactionId": {
          "description": "Optional. The external transaction id associated with the app download event through an external link. Required when reporting transactions made in externally installed apps.",
          "type": "string"
        },
        "linkType": {
          "description": "Optional. The type of content being reported by this transaction. Required when reporting app downloads or purchased digital content offers made in app installed through Google Play.",
          "enum": [
            "EXTERNAL_OFFER_LINK_TYPE_UNSPECIFIED",
            "LINK_TO_DIGITAL_CONTENT_OFFER",
            "LINK_TO_APP_DOWNLOAD"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified, do not use.",
            "An offer to purchase digital content.",
            "An app install."
          ]
        },
        "installedAppPackage": {
          "description": "Optional. The package name of the app downloaded through this transaction. Required when link_type is LINK_TO_APP_DOWNLOAD.",
          "type": "string"
        },
        "installedAppCategory": {
          "enum": [
            "EXTERNAL_OFFER_APP_CATEGORY_UNSPECIFIED",
            "APP",
            "GAME"
          ],
          "description": "Optional. The category of the downloaded app though this transaction. This must match the category provided in Play Console during the external app verification process. Only required for app downloads.",
          "enumDescriptions": [
            "Unspecified, do not use.",
            "The app is classified under the app category.",
            "The app is classified under the game category."
          ],
          "type": "string"
        }
      },
      "id": "ExternalOfferDetails",
      "description": "Reporting details unique to the external offers program."
    },
    "BatchUpdateOneTimeProductOfferStatesResponse": {
      "id": "BatchUpdateOneTimeProductOfferStatesResponse",
      "description": "Response message for BatchUpdateOneTimeProductOfferStates.",
      "type": "object",
      "properties": {
        "oneTimeProductOffers": {
          "description": "The updated one-time product offers list, in the same order as the request.",
          "items": {
            "$ref": "OneTimeProductOffer"
          },
          "type": "array"
        }
      }
    },
    "ListOneTimeProductsResponse": {
      "type": "object",
      "properties": {
        "oneTimeProducts": {
          "type": "array",
          "items": {
            "$ref": "OneTimeProduct"
          },
          "description": "The one-time products from the specified app."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListOneTimeProductsResponse",
      "description": "Response message for ListOneTimeProducts."
    },
    "Group": {
      "id": "Group",
      "description": "A group of responses.",
      "type": "object",
      "properties": {
        "responses": {
          "description": "Required. Responses within a group.",
          "type": "array",
          "items": {
            "$ref": "NestedPolicyResponse"
          }
        }
      }
    },
    "OneTimeProductPurchaseOptionNewRegionsConfig": {
      "type": "object",
      "properties": {
        "usdPrice": {
          "description": "Required. Price in USD to use for any new regions Play may launch in.",
          "$ref": "Money"
        },
        "availability": {
          "enumDescriptions": [
            "Unspecified availability. Must not be used.",
            "The config will be used for any new regions Play may launch in the future.",
            "The config is not available anymore and will not be used for any new regions Play may launch in the future. This value can only be used if the availability was previously set as AVAILABLE."
          ],
          "type": "string",
          "enum": [
            "AVAILABILITY_UNSPECIFIED",
            "AVAILABLE",
            "NO_LONGER_AVAILABLE"
          ],
          "description": "Required. The regional availability for the new regions config. When set to AVAILABLE, the pricing information will be used for any new regions Play may launch in the future."
        },
        "eurPrice": {
          "description": "Required. Price in EUR to use for any new regions Play may launch in.",
          "$ref": "Money"
        }
      },
      "id": "OneTimeProductPurchaseOptionNewRegionsConfig",
      "description": "Pricing information for any new regions Play may launch in the future."
    },
    "BatchMigrateBasePlanPricesResponse": {
      "id": "BatchMigrateBasePlanPricesResponse",
      "description": "Response message for BatchMigrateBasePlanPrices.",
      "type": "object",
      "properties": {
        "responses": {
          "description": "Contains one response per requested price migration, in the same order as the request.",
          "items": {
            "$ref": "MigrateBasePlanPricesResponse"
          },
          "type": "array"
        }
      }
    },
    "SafetyLabelsUpdateResponse": {
      "type": "object",
      "properties": {},
      "id": "SafetyLabelsUpdateResponse",
      "description": "Response for SafetyLabelsUpdate rpc."
    },
    "CatalogPermission": {
      "type": "object",
      "properties": {
        "name": {
          "description": "The `name` attribute indicating the permission name.",
          "type": "string"
        },
        "maxSdkVersion": {
          "description": "The `maxSdkVersion` attribute indicating up to which Android SDK version the permission is requested.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "CatalogPermission",
      "description": "A permission declared by an app."
    },
    "StandaloneApkMetadata": {
      "id": "StandaloneApkMetadata",
      "description": "Holds data specific to Standalone APKs.",
      "type": "object",
      "properties": {
        "fusedModuleName": {
          "description": "Names of the modules fused in this standalone APK.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "DeviceFeature": {
      "id": "DeviceFeature",
      "description": "Represents a device feature.",
      "type": "object",
      "properties": {
        "featureName": {
          "description": "Name of the feature.",
          "type": "string"
        },
        "featureVersion": {
          "description": "The feature version specified by android:glEsVersion or android:version in in the AndroidManifest.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "DeferralContext": {
      "id": "DeferralContext",
      "description": "Deferral context of the purchases.subscriptionsv2.defer API.",
      "type": "object",
      "properties": {
        "etag": {
          "description": "Required. The API will fail if the etag does not match the latest etag for this subscription. The etag is retrieved from purchases.subscriptionsv2.get: https://developers.google.com/android-publisher/api-ref/rest/v3/purchases.subscriptionsv2/get",
          "type": "string"
        },
        "deferDuration": {
          "description": "Required. The duration by which all subscription items should be deferred.",
          "type": "string",
          "format": "google-duration"
        },
        "validateOnly": {
          "description": "If set to \"true\", the request is a dry run to validate the effect of Defer, the subscription would not be impacted.",
          "type": "boolean"
        }
      }
    },
    "BatchGetSubscriptionsResponse": {
      "id": "BatchGetSubscriptionsResponse",
      "description": "Response message for BatchGetSubscriptions endpoint.",
      "type": "object",
      "properties": {
        "subscriptions": {
          "description": "The list of requested subscriptions, in the same order as the request.",
          "items": {
            "$ref": "Subscription"
          },
          "type": "array"
        }
      }
    },
    "RegionalProductAgeRatingInfo": {
      "type": "object",
      "properties": {
        "regionCode": {
          "description": "Region code this configuration applies to, as defined by ISO 3166-2, e.g. \"US\".",
          "type": "string"
        },
        "productAgeRatingTier": {
          "type": "string",
          "enumDescriptions": [
            "Unknown age rating tier.",
            "Age rating tier for products that are appropriate for all ages.",
            "Age rating tier for products that are appropriate for 13 years and above.",
            "Age rating tier for products that are appropriate for 16 years and above.",
            "Age rating tier for products that are appropriate for 18 years and above."
          ],
          "description": "The age rating tier of a product for the given region.",
          "enum": [
            "PRODUCT_AGE_RATING_TIER_UNKNOWN",
            "PRODUCT_AGE_RATING_TIER_EVERYONE",
            "PRODUCT_AGE_RATING_TIER_THIRTEEN_AND_ABOVE",
            "PRODUCT_AGE_RATING_TIER_SIXTEEN_AND_ABOVE",
            "PRODUCT_AGE_RATING_TIER_EIGHTEEN_AND_ABOVE"
          ]
        }
      },
      "id": "RegionalProductAgeRatingInfo",
      "description": "Details about the age rating for a specific geographic region."
    },
    "BatchGetOneTimeProductOffersRequest": {
      "id": "BatchGetOneTimeProductOffersRequest",
      "description": "Request message for the BatchGetOneTimeProductOffers endpoint.",
      "type": "object",
      "properties": {
        "requests": {
          "description": "Required. A list of get requests of up to 100 elements. All requests must retrieve different offers.",
          "items": {
            "$ref": "GetOneTimeProductOfferRequest"
          },
          "type": "array"
        }
      }
    },
    "DeployAppRecoveryResponse": {
      "type": "object",
      "properties": {},
      "id": "DeployAppRecoveryResponse",
      "description": "Response message for DeployAppRecovery."
    },
    "UpdateOneTimeProductRequest": {
      "type": "object",
      "properties": {
        "oneTimeProduct": {
          "description": "Required. The one-time product to upsert.",
          "$ref": "OneTimeProduct"
        },
        "regionsVersion": {
          "description": "Required. The version of the available regions being used for the one-time product.",
          "$ref": "RegionsVersion"
        },
        "latencyTolerance": {
          "type": "string",
          "enumDescriptions": [
            "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
            "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
            "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
          ],
          "description": "Optional. The latency tolerance for the propagation of this product upsert. Defaults to latency-sensitive.",
          "enum": [
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
          ]
        },
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "Required. The list of fields to be updated."
        },
        "allowMissing": {
          "description": "Optional. If set to true, and the one-time product with the given package_name and product_id doesn't exist, the one-time product will be created. If a new one-time product is created, update_mask is ignored.",
          "type": "boolean"
        }
      },
      "id": "UpdateOneTimeProductRequest",
      "description": "Request message for UpdateOneTimeProduct."
    },
    "BatchGetSubscriptionOffersResponse": {
      "type": "object",
      "properties": {
        "subscriptionOffers": {
          "items": {
            "$ref": "SubscriptionOffer"
          },
          "type": "array"
        }
      },
      "id": "BatchGetSubscriptionOffersResponse",
      "description": "Response message for BatchGetSubscriptionOffers endpoint."
    },
    "RefundEvent": {
      "type": "object",
      "properties": {
        "refundDetails": {
          "description": "Details for the full refund.",
          "$ref": "RefundDetails"
        },
        "eventTime": {
          "description": "The time when the order was fully refunded.",
          "type": "string",
          "format": "google-datetime"
        },
        "refundReason": {
          "description": "The reason the order was refunded.",
          "enum": [
            "REFUND_REASON_UNSPECIFIED",
            "OTHER",
            "CHARGEBACK"
          ],
          "type": "string",
          "enumDescriptions": [
            "Refund reason unspecified. This value is not used.",
            "The order was refunded for a reason other than the listed reasons here.",
            "The order was charged back."
          ]
        }
      },
      "id": "RefundEvent",
      "description": "Details of when the order was fully refunded."
    },
    "SubscriptionPurchasesDeferRequest": {
      "id": "SubscriptionPurchasesDeferRequest",
      "description": "Request for the purchases.subscriptions.defer API.",
      "type": "object",
      "properties": {
        "deferralInfo": {
          "description": "The information about the new desired expiry time for the subscription.",
          "$ref": "SubscriptionDeferralInfo"
        }
      }
    },
    "InappproductsUpdateRequest": {
      "id": "InappproductsUpdateRequest",
      "description": "Request to update an in-app product.",
      "type": "object",
      "properties": {
        "autoConvertMissingPrices": {
          "description": "If true the prices for all regions targeted by the parent app that don't have a price specified for this in-app product will be auto converted to the target currency based on the default price. Defaults to false.",
          "type": "boolean"
        },
        "sku": {
          "description": "Unique identifier for the in-app product.",
          "type": "string"
        },
        "latencyTolerance": {
          "enumDescriptions": [
            "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
            "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
            "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
          ],
          "type": "string",
          "enum": [
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
          ],
          "description": "Optional. The latency tolerance for the propagation of this product update. Defaults to latency-sensitive."
        },
        "packageName": {
          "description": "Package name of the app.",
          "type": "string"
        },
        "allowMissing": {
          "description": "If set to true, and the in-app product with the given package_name and sku doesn't exist, the in-app product will be created.",
          "type": "boolean"
        },
        "inappproduct": {
          "description": "The new in-app product.",
          "$ref": "InAppProduct"
        }
      }
    },
    "ExpansionFile": {
      "type": "object",
      "properties": {
        "referencesVersion": {
          "description": "If set, this APK's expansion file references another APK's expansion file. The file_size field will not be set.",
          "type": "integer",
          "format": "int32"
        },
        "fileSize": {
          "type": "string",
          "format": "int64",
          "description": "If set, this field indicates that this APK has an expansion file uploaded to it: this APK does not reference another APK's expansion file. The field's value is the size of the uploaded expansion file in bytes."
        }
      },
      "id": "ExpansionFile",
      "description": "An expansion file. The resource for ExpansionFilesService."
    },
    "InappproductsListResponse": {
      "type": "object",
      "properties": {
        "kind": {
          "description": "The kind of this response (\"androidpublisher#inappproductsListResponse\").",
          "type": "string"
        },
        "tokenPagination": {
          "description": "Pagination token, to handle a number of products that is over one page.",
          "$ref": "TokenPagination"
        },
        "inappproduct": {
          "items": {
            "$ref": "InAppProduct"
          },
          "type": "array",
          "description": "All in-app products."
        },
        "pageInfo": {
          "description": "Deprecated and unset.",
          "deprecated": true,
          "$ref": "PageInfo"
        }
      },
      "id": "InappproductsListResponse",
      "description": "Response listing all in-app products."
    },
    "UpdatePurchaseOptionStateRequest": {
      "id": "UpdatePurchaseOptionStateRequest",
      "description": "Request message to update the state of a one-time product purchase option.",
      "type": "object",
      "properties": {
        "activatePurchaseOptionRequest": {
          "description": "Activates a purchase option. Once activated, the purchase option will be available.",
          "$ref": "ActivatePurchaseOptionRequest"
        },
        "deactivatePurchaseOptionRequest": {
          "description": "Deactivates a purchase option. Once deactivated, the purchase option will become unavailable.",
          "$ref": "DeactivatePurchaseOptionRequest"
        }
      }
    },
    "SubscriptionDeferralInfo": {
      "type": "object",
      "properties": {
        "expectedExpiryTimeMillis": {
          "description": "The expected expiry time for the subscription. If the current expiry time for the subscription is not the value specified here, the deferral will not occur.",
          "format": "int64",
          "type": "string"
        },
        "desiredExpiryTimeMillis": {
          "format": "int64",
          "type": "string",
          "description": "The desired next expiry time to assign to the subscription, in milliseconds since the Epoch. The given time must be later/greater than the current expiry time for the subscription."
        }
      },
      "id": "SubscriptionDeferralInfo",
      "description": "A SubscriptionDeferralInfo contains the data needed to defer a subscription purchase to a future expiry time."
    },
    "RegionalTaxConfig": {
      "id": "RegionalTaxConfig",
      "description": "Details about taxation in a given geographical region.",
      "type": "object",
      "properties": {
        "regionCode": {
          "description": "Required. Region code this configuration applies to, as defined by ISO 3166-2, e.g. \"US\".",
          "type": "string"
        },
        "eligibleForStreamingServiceTaxRate": {
          "description": "You must tell us if your app contains streaming products to correctly charge US state and local sales tax. Field only supported in the United States.",
          "type": "boolean"
        },
        "taxTier": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "TAX_TIER_UNSPECIFIED",
            "TAX_TIER_BOOKS_1",
            "TAX_TIER_NEWS_1",
            "TAX_TIER_NEWS_2",
            "TAX_TIER_MUSIC_OR_AUDIO_1",
            "TAX_TIER_LIVE_OR_BROADCAST_1"
          ],
          "description": "Tax tier to specify reduced tax rate. Developers who sell digital news, magazines, newspapers, books, or audiobooks in various regions may be eligible for reduced tax rates. [Learn more](https://support.google.com/googleplay/android-developer/answer/10463498)."
        },
        "streamingTaxType": {
          "type": "string",
          "enumDescriptions": [
            "No telecommunications tax collected.",
            "US-specific telecommunications tax tier for video streaming, on demand, rentals / subscriptions / pay-per-view.",
            "US-specific telecommunications tax tier for video streaming of pre-recorded content like movies, tv shows.",
            "US-specific telecommunications tax tier for video streaming of multi-channel programming.",
            "US-specific telecommunications tax tier for audio streaming, rental / subscription.",
            "US-specific telecommunications tax tier for audio streaming, sale / permanent download.",
            "US-specific telecommunications tax tier for multi channel audio streaming like radio."
          ],
          "description": "To collect communications or amusement taxes in the United States, choose the appropriate tax category. [Learn more](https://support.google.com/googleplay/android-developer/answer/10463498#streaming_tax).",
          "enum": [
            "STREAMING_TAX_TYPE_UNSPECIFIED",
            "STREAMING_TAX_TYPE_TELCO_VIDEO_RENTAL",
            "STREAMING_TAX_TYPE_TELCO_VIDEO_SALES",
            "STREAMING_TAX_TYPE_TELCO_VIDEO_MULTI_CHANNEL",
            "STREAMING_TAX_TYPE_TELCO_AUDIO_RENTAL",
            "STREAMING_TAX_TYPE_TELCO_AUDIO_SALES",
            "STREAMING_TAX_TYPE_TELCO_AUDIO_MULTI_CHANNEL"
          ]
        }
      }
    },
    "OutOfAppPurchaseContext": {
      "id": "OutOfAppPurchaseContext",
      "description": "Information specific to an out of app purchase.",
      "type": "object",
      "properties": {
        "expiredExternalAccountIdentifiers": {
          "description": "User account identifier from the last expired subscription for this SKU.",
          "$ref": "ExternalAccountIdentifiers"
        },
        "expiredPurchaseToken": {
          "description": "The purchase token of the last expired subscription. This purchase token must only be used to help identify the user if the link between the purchaseToken and user is stored in your database. This cannot be used to call the Google Developer API if it has been more than 60 days since expiry.",
          "type": "string"
        }
      }
    },
    "OtherRegionsSubscriptionOfferConfig": {
      "id": "OtherRegionsSubscriptionOfferConfig",
      "description": "Configuration for any new locations Play may launch in specified on a subscription offer.",
      "type": "object",
      "properties": {
        "otherRegionsNewSubscriberAvailability": {
          "description": "Whether the subscription offer in any new locations Play may launch in the future. If not specified, this will default to false.",
          "type": "boolean"
        }
      }
    },
    "TracksListResponse": {
      "id": "TracksListResponse",
      "description": "Response listing all tracks.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "The kind of this response (\"androidpublisher#tracksListResponse\").",
          "type": "string"
        },
        "tracks": {
          "description": "All tracks (including tracks with no releases).",
          "type": "array",
          "items": {
            "$ref": "Track"
          }
        }
      }
    },
    "PolicyResponse": {
      "type": "object",
      "properties": {
        "multipleChoiceResponse": {
          "description": "Optional. A multiple choice response.",
          "$ref": "PolicyMultipleChoiceResponse"
        },
        "singleChoiceResponse": {
          "description": "Optional. A single choice response.",
          "$ref": "PolicySingleChoiceResponse"
        },
        "keyedGroupResponse": {
          "description": "Optional. A keyed group response.",
          "$ref": "PolicyKeyedGroupResponse"
        },
        "documentResponse": {
          "description": "Optional. A document response.",
          "$ref": "PolicyDocumentResponse"
        },
        "questionId": {
          "description": "Required. ID of the question being answered.",
          "type": "string"
        },
        "groupResponse": {
          "description": "Optional. A group response.",
          "$ref": "PolicyGroupResponse"
        },
        "booleanResponse": {
          "description": "Optional. A boolean response.",
          "$ref": "PolicyBooleanResponse"
        },
        "stringResponse": {
          "description": "Optional. A string response.",
          "$ref": "PolicyStringResponse"
        }
      },
      "id": "PolicyResponse",
      "description": "An individual response to a policy question about an app."
    },
    "CreateDraftAppRecoveryRequest": {
      "id": "CreateDraftAppRecoveryRequest",
      "description": "Request message for CreateDraftAppRecovery.",
      "type": "object",
      "properties": {
        "targeting": {
          "description": "Specifies targeting criteria for the recovery action such as regions, android sdk versions, app versions etc.",
          "$ref": "Targeting"
        },
        "remoteInAppUpdate": {
          "description": "Action type is remote in-app update. As a consequence of this action, a downloadable recovery module is also created for testing purposes.",
          "$ref": "RemoteInAppUpdate"
        }
      }
    },
    "ImagesDeleteAllResponse": {
      "id": "ImagesDeleteAllResponse",
      "description": "Response for deleting all images.",
      "type": "object",
      "properties": {
        "deleted": {
          "type": "array",
          "items": {
            "$ref": "Image"
          },
          "description": "The deleted images."
        }
      }
    },
    "DeviceTierConfig": {
      "id": "DeviceTierConfig",
      "description": "Configuration describing device targeting criteria for the content of an app.",
      "type": "object",
      "properties": {
        "deviceTierSet": {
          "description": "Definition of the set of device tiers for the app.",
          "$ref": "DeviceTierSet"
        },
        "deviceTierConfigId": {
          "format": "int64",
          "type": "string",
          "description": "Output only. The device tier config ID.",
          "readOnly": true
        },
        "deviceGroups": {
          "type": "array",
          "items": {
            "$ref": "DeviceGroup"
          },
          "description": "Definition of device groups for the app."
        },
        "userCountrySets": {
          "items": {
            "$ref": "UserCountrySet"
          },
          "type": "array",
          "description": "Definition of user country sets for the app."
        }
      }
    },
    "InGracePeriodStateContext": {
      "id": "InGracePeriodStateContext",
      "description": "Additional context around subscriptions in IN_GRACE_PERIOD state.",
      "type": "object",
      "properties": {
        "renewalDeclined": {
          "description": "Optional. The payment for the renewal was declined.",
          "$ref": "RenewalDeclinedContext"
        }
      }
    },
    "SystemApksListResponse": {
      "id": "SystemApksListResponse",
      "description": "Response to list previously created system APK variants.",
      "type": "object",
      "properties": {
        "variants": {
          "type": "array",
          "items": {
            "$ref": "Variant"
          },
          "description": "All system APK variants created."
        }
      }
    },
    "TargetingRuleScopeThisSubscription": {
      "type": "object",
      "properties": {},
      "id": "TargetingRuleScopeThisSubscription",
      "description": "Represents the targeting rule scope corresponding to the subscriptions in which this offer is defined."
    },
    "ReviewsReplyRequest": {
      "type": "object",
      "properties": {
        "replyText": {
          "description": "The text to set as the reply. Replies of more than approximately 350 characters will be rejected. HTML tags will be stripped.",
          "type": "string"
        }
      },
      "id": "ReviewsReplyRequest",
      "description": "Request to reply to review or update existing reply."
    },
    "ProductPurchasesAcknowledgeRequest": {
      "type": "object",
      "properties": {
        "developerPayload": {
          "description": "Payload to attach to the purchase.",
          "type": "string"
        }
      },
      "id": "ProductPurchasesAcknowledgeRequest",
      "description": "Request for the product.purchases.acknowledge API."
    },
    "GetSubscriptionOfferRequest": {
      "type": "object",
      "properties": {
        "basePlanId": {
          "description": "Required. The parent base plan (ID) of the offer to get.",
          "type": "string"
        },
        "offerId": {
          "description": "Required. The unique offer ID of the offer to get.",
          "type": "string"
        },
        "productId": {
          "description": "Required. The parent subscription (ID) of the offer to get.",
          "type": "string"
        },
        "packageName": {
          "description": "Required. The parent app (package name) of the offer to get.",
          "type": "string"
        }
      },
      "id": "GetSubscriptionOfferRequest",
      "description": "Request message for GetSubscriptionOffer."
    },
    "BatchGetOneTimeProductOffersResponse": {
      "type": "object",
      "properties": {
        "oneTimeProductOffers": {
          "type": "array",
          "items": {
            "$ref": "OneTimeProductOffer"
          },
          "description": "The list of updated one-time product offers, in the same order as the request."
        }
      },
      "id": "BatchGetOneTimeProductOffersResponse",
      "description": "Response message for the BatchGetOneTimeProductOffers endpoint."
    },
    "OneTimePurchaseDetails": {
      "id": "OneTimePurchaseDetails",
      "description": "Details of a one-time purchase.",
      "type": "object",
      "properties": {
        "quantity": {
          "description": "The number of items purchased (for multi-quantity item purchases).",
          "type": "integer",
          "format": "int32"
        },
        "purchaseOptionId": {
          "description": "ID of the purchase option. This field is set for both purchase options and variant offers. For purchase options, this ID identifies the purchase option itself. For variant offers, this ID refers to the associated purchase option, and in conjunction with offer_id it identifies the variant offer.",
          "type": "string"
        },
        "rentalDetails": {
          "description": "The details of a rent purchase. Only set if it is a rent purchase.",
          "$ref": "RentalDetails"
        },
        "offerId": {
          "description": "The offer ID of the one-time purchase offer.",
          "type": "string"
        },
        "preorderDetails": {
          "description": "The details of a pre-order purchase. Only set if it is a pre-order purchase. Note that this field will be set even after pre-order is fulfilled.",
          "$ref": "PreorderDetails"
        }
      }
    },
    "UsesPermission": {
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the permission requested.",
          "type": "string"
        },
        "maxSdkVersion": {
          "type": "integer",
          "format": "int32",
          "description": "Optionally, the maximum SDK version for which the permission is required."
        }
      },
      "id": "UsesPermission",
      "description": "A permission used by this APK."
    },
    "ApkDescription": {
      "id": "ApkDescription",
      "description": "Description of the created apks.",
      "type": "object",
      "properties": {
        "path": {
          "description": "Path of the Apk, will be in the following format: .apk where DownloadId is the ID used to download the apk using GeneratedApks.Download API.",
          "type": "string"
        },
        "splitApkMetadata": {
          "description": "Set only for Split APKs.",
          "$ref": "SplitApkMetadata"
        },
        "standaloneApkMetadata": {
          "description": "Set only for standalone APKs.",
          "$ref": "StandaloneApkMetadata"
        },
        "targeting": {
          "description": "Apk-level targeting.",
          "$ref": "ApkTargeting"
        },
        "instantApkMetadata": {
          "description": "Set only for Instant split APKs.",
          "$ref": "SplitApkMetadata"
        },
        "assetSliceMetadata": {
          "description": "Set only for asset slices.",
          "$ref": "SplitApkMetadata"
        }
      }
    },
    "GetOneTimeProductOfferRequest": {
      "id": "GetOneTimeProductOfferRequest",
      "description": "Request message for GetOneTimeProductOffers.",
      "type": "object",
      "properties": {
        "offerId": {
          "description": "Required. The unique offer ID of the offer to get.",
          "type": "string"
        },
        "productId": {
          "description": "Required. The parent one-time product (ID) of the offer to get.",
          "type": "string"
        },
        "packageName": {
          "description": "Required. The parent app (package name) of the offer to get.",
          "type": "string"
        },
        "purchaseOptionId": {
          "description": "Required. The parent purchase option (ID) of the offer to get.",
          "type": "string"
        }
      }
    },
    "UpdateSubscriptionOfferRequest": {
      "id": "UpdateSubscriptionOfferRequest",
      "description": "Request message for UpdateSubscriptionOffer.",
      "type": "object",
      "properties": {
        "regionsVersion": {
          "description": "Required. The version of the available regions being used for the subscription_offer.",
          "$ref": "RegionsVersion"
        },
        "latencyTolerance": {
          "description": "Optional. The latency tolerance for the propagation of this product update. Defaults to latency-sensitive.",
          "enum": [
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
          ],
          "type": "string",
          "enumDescriptions": [
            "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
            "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
            "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
          ]
        },
        "updateMask": {
          "description": "Required. The list of fields to be updated.",
          "format": "google-fieldmask",
          "type": "string"
        },
        "allowMissing": {
          "description": "Optional. If set to true, and the subscription offer with the given package_name, product_id, base_plan_id and offer_id doesn't exist, an offer will be created. If a new offer is created, update_mask is ignored.",
          "type": "boolean"
        },
        "subscriptionOffer": {
          "description": "Required. The subscription offer to update.",
          "$ref": "SubscriptionOffer"
        }
      }
    },
    "OrdersReviewRefundRequest": {
      "id": "OrdersReviewRefundRequest",
      "description": "Request for the orders.reviewrefund API.",
      "type": "object",
      "properties": {
        "consumptionUsageEvents": {
          "description": "Optional. List of events, each representing an instance where the user consumed or used the purchased item or service. Lists with over 1000 items will be rejected.",
          "type": "array",
          "items": {
            "$ref": "ConsumptionUsageEvent"
          }
        },
        "consumptionPercentageMilliunits": {
          "description": "Optional. Percentage of the In-App purchase the customer consumed, in milliunits. Minimum: 0 Maximum: 100,000. For paid apps, this can be omitted. Example : 45200 represents 45.2%.",
          "format": "int32",
          "type": "integer"
        },
        "refundPreference": {
          "description": "Required. Indicates your preference, based on your operational logic, as to whether the Play Store should grant the refund.",
          "enum": [
            "REFUND_PREFERENCE_UNSPECIFIED",
            "DECLINE",
            "APPROVE",
            "NEUTRAL"
          ],
          "type": "string",
          "enumDescriptions": [
            "Refund preference unspecified. This value is not used.",
            "Developer prefers that Play declines the refund.",
            "Developer prefers that Play grants the refund in full.",
            "Developer has no preference about Google Play's decision to issue a refund"
          ]
        },
        "sampleContentProvided": {
          "description": "Required. Indicates whether you provided a free sample, trial, or information about the functionality prior to the purchase.",
          "type": "boolean"
        },
        "pendingRefundToken": {
          "description": "Required. The pending refund token included in the pending refund review notification.",
          "type": "string"
        }
      }
    },
    "RevocationContext": {
      "id": "RevocationContext",
      "description": "Revocation context of the purchases.subscriptionsv2.revoke API.",
      "type": "object",
      "properties": {
        "itemBasedRefund": {
          "description": "Optional. Used when a specific item should be refunded in a subscription with add-on items.",
          "$ref": "RevocationContextItemBasedRefund"
        },
        "fullRefund": {
          "description": "Optional. Used when users should be refunded the full amount of latest charge on each item in the subscription.",
          "$ref": "RevocationContextFullRefund"
        },
        "proratedRefund": {
          "description": "Optional. Used when users should be refunded a prorated amount they paid for their subscription based on the amount of time remaining in a subscription.",
          "$ref": "RevocationContextProratedRefund"
        }
      }
    },
    "BuyerAddress": {
      "type": "object",
      "properties": {
        "buyerState": {
          "description": "Top-level administrative subdivision of the buyer address country. When Google is the Merchant of Record for the order, this information is not included.",
          "type": "string"
        },
        "buyerCountry": {
          "description": "Two letter country code based on ISO-3166-1 Alpha-2 (UN country codes).",
          "type": "string"
        },
        "buyerPostcode": {
          "description": "Postal code of an address. When Google is the Merchant of Record for the order, this information is not included.",
          "type": "string"
        }
      },
      "id": "BuyerAddress",
      "description": "Address information for the customer, for use in tax computation."
    },
    "Track": {
      "type": "object",
      "properties": {
        "track": {
          "description": "Identifier of the track. Form factor tracks have a special prefix as an identifier, for example `wear:production`, `automotive:production`. [More on track name](https://developers.google.com/android-publisher/tracks#ff-track-name)",
          "type": "string"
        },
        "releases": {
          "type": "array",
          "items": {
            "$ref": "TrackRelease"
          },
          "description": "In a read request, represents all active releases in the track. In an update request, represents desired changes."
        }
      },
      "id": "Track",
      "description": "A track configuration. The resource for TracksService."
    },
    "ItemReplacement": {
      "type": "object",
      "properties": {
        "replacementMode": {
          "enum": [
            "REPLACEMENT_MODE_UNSPECIFIED",
            "WITH_TIME_PRORATION",
            "CHARGE_PRORATED_PRICE",
            "WITHOUT_PRORATION",
            "CHARGE_FULL_PRICE",
            "DEFERRED",
            "KEEP_EXISTING"
          ],
          "description": "The replacement mode applied during the purchase.",
          "enumDescriptions": [
            "Unspecified replacement mode.",
            "The new plan will be prorated and credited from the old plan.",
            "The user will be charged a prorated price for the new plan.",
            "The new plan will replace the old one without prorating the time.",
            "The user will be charged the full price for the new plan.",
            "The old plan will be cancelled and the new plan will be effective after the old one expires.",
            "The plan will remain unchanged with this replacement."
          ],
          "type": "string"
        },
        "productId": {
          "description": "The product ID of the subscription line item being replaced.",
          "type": "string"
        },
        "basePlanId": {
          "description": "The base plan ID of the subscription line item being replaced.",
          "type": "string"
        },
        "offerId": {
          "description": "The offer ID of the subscription line item being replaced, if applicable.",
          "type": "string"
        }
      },
      "id": "ItemReplacement",
      "description": "Details about a subscription line item that is being replaced."
    },
    "LocalizedText": {
      "type": "object",
      "properties": {
        "language": {
          "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German).",
          "type": "string"
        },
        "text": {
          "description": "The text in the given language.",
          "type": "string"
        }
      },
      "id": "LocalizedText",
      "description": "Localized text in given language."
    },
    "SubscriptionOffer": {
      "id": "SubscriptionOffer",
      "description": "A single, temporary offer",
      "type": "object",
      "properties": {
        "regionalConfigs": {
          "description": "Required. The region-specific configuration of this offer. Must contain at least one entry.",
          "type": "array",
          "items": {
            "$ref": "RegionalSubscriptionOfferConfig"
          }
        },
        "phases": {
          "description": "Required. The phases of this subscription offer. Must contain at least one and at most two entries. Users will always receive all these phases in the specified order.",
          "items": {
            "$ref": "SubscriptionOfferPhase"
          },
          "type": "array"
        },
        "basePlanId": {
          "description": "Required. Immutable. The ID of the base plan to which this offer is an extension.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "DRAFT",
            "ACTIVE",
            "INACTIVE"
          ],
          "description": "Output only. The current state of this offer. Can be changed using Activate and Deactivate actions. NB: the base plan state supersedes this state, so an active offer may not be available if the base plan is not active.",
          "readOnly": true,
          "enumDescriptions": [
            "Default value, should never be used.",
            "The subscription offer is not and has never been available to users.",
            "The subscription offer is available to new and existing users.",
            "The subscription offer is not available to new users. Existing users retain access."
          ]
        },
        "offerTags": {
          "type": "array",
          "items": {
            "$ref": "OfferTag"
          },
          "description": "List of up to 20 custom tags specified for this offer, and returned to the app through the billing library."
        },
        "targeting": {
          "description": "The requirements that users need to fulfil to be eligible for this offer. Represents the requirements that Play will evaluate to decide whether an offer should be returned. Developers may further filter these offers themselves.",
          "$ref": "SubscriptionOfferTargeting"
        },
        "productId": {
          "description": "Required. Immutable. The ID of the parent subscription this offer belongs to.",
          "type": "string"
        },
        "offerId": {
          "description": "Required. Immutable. Unique ID of this subscription offer. Must be unique within the base plan.",
          "type": "string"
        },
        "packageName": {
          "description": "Required. Immutable. The package name of the app the parent subscription belongs to.",
          "type": "string"
        },
        "otherRegionsConfig": {
          "description": "The configuration for any new locations Play may launch in the future.",
          "$ref": "OtherRegionsSubscriptionOfferConfig"
        }
      }
    },
    "CatalogSdkVersion": {
      "type": "object",
      "properties": {
        "maxSdkVersion": {
          "format": "int64",
          "type": "string",
          "description": "The maximum SDK version required for the app (inclusive)."
        },
        "minSdkVersion": {
          "format": "int64",
          "type": "string",
          "description": "The minimum SDK version required for the app (inclusive)."
        },
        "targetSdkVersion": {
          "description": "The target SDK version for the app.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "CatalogSdkVersion",
      "description": "Defines a range of SDK versions. A device is considered compatible uf its\\ SDK version falls within the min_sdk_version and max_sdk_version range."
    },
    "DeferSubscriptionPurchaseRequest": {
      "id": "DeferSubscriptionPurchaseRequest",
      "description": "Request for the v2 purchases.subscriptions.defer API.",
      "type": "object",
      "properties": {
        "deferralContext": {
          "description": "Required. Details about the subscription deferral.",
          "$ref": "DeferralContext"
        }
      }
    },
    "VoidedPurchasesListResponse": {
      "type": "object",
      "properties": {
        "pageInfo": {
          "description": "General pagination information.",
          "$ref": "PageInfo"
        },
        "voidedPurchases": {
          "type": "array",
          "items": {
            "$ref": "VoidedPurchase"
          }
        },
        "tokenPagination": {
          "description": "Pagination information for token pagination.",
          "$ref": "TokenPagination"
        }
      },
      "id": "VoidedPurchasesListResponse",
      "description": "Response for the voidedpurchases.list API."
    },
    "UploadAppStoreAppPolicyDeclarationFileResponse": {
      "type": "object",
      "properties": {
        "fileId": {
          "description": "The unique ID of the uploaded file.",
          "type": "string"
        }
      },
      "id": "UploadAppStoreAppPolicyDeclarationFileResponse",
      "description": "Response for uploading a policy declaration file."
    },
    "ApksListResponse": {
      "id": "ApksListResponse",
      "description": "Response listing all APKs.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "The kind of this response (\"androidpublisher#apksListResponse\").",
          "type": "string"
        },
        "apks": {
          "items": {
            "$ref": "Apk"
          },
          "type": "array",
          "description": "All APKs."
        }
      }
    },
    "SubscriptionItemPriceChangeDetails": {
      "id": "SubscriptionItemPriceChangeDetails",
      "description": "Price change related information of a subscription item.",
      "type": "object",
      "properties": {
        "priceChangeMode": {
          "type": "string",
          "enumDescriptions": [
            "Price change mode unspecified. This value should never be set.",
            "If the subscription price is decreasing.",
            "If the subscription price is increasing and the user needs to accept it.",
            "If the subscription price is increasing with opt out mode."
          ],
          "description": "Price change mode specifies how the subscription item price is changing.",
          "enum": [
            "PRICE_CHANGE_MODE_UNSPECIFIED",
            "PRICE_DECREASE",
            "PRICE_INCREASE",
            "OPT_OUT_PRICE_INCREASE"
          ]
        },
        "expectedNewPriceChargeTime": {
          "description": "The renewal time at which the price change will become effective for the user. This is subject to change(to a future time) due to cases where the renewal time shifts like pause. This field is only populated if the price change has not taken effect.",
          "type": "string",
          "format": "google-datetime"
        },
        "newPrice": {
          "description": "New recurring price for the subscription item.",
          "$ref": "Money"
        },
        "priceChangeState": {
          "enumDescriptions": [
            "Price change state unspecified. This value should not be used.",
            "Waiting for the user to agree for the price change.",
            "The price change is confirmed to happen for the user.",
            "The price change is applied, i.e. the user has started being charged the new price.",
            "The price change was canceled."
          ],
          "type": "string",
          "enum": [
            "PRICE_CHANGE_STATE_UNSPECIFIED",
            "OUTSTANDING",
            "CONFIRMED",
            "APPLIED",
            "CANCELED"
          ],
          "description": "State the price change is currently in."
        }
      }
    },
    "TargetingUpdate": {
      "type": "object",
      "properties": {
        "allUsers": {
          "description": "All users are targeted.",
          "$ref": "AllUsers"
        },
        "regions": {
          "description": "Additional regions are targeted by the recovery action.",
          "$ref": "Regions"
        },
        "androidSdks": {
          "description": "Additional android sdk levels are targeted by the recovery action.",
          "$ref": "AndroidSdks"
        }
      },
      "id": "TargetingUpdate",
      "description": "Update type for targeting. Note it is always a subset Targeting."
    },
    "TrackCountryAvailability": {
      "type": "object",
      "properties": {
        "countries": {
          "description": "A list of one or more countries where artifacts in this track are available. This list includes all countries that are targeted by the track, even if only specific carriers are targeted in that country.",
          "type": "array",
          "items": {
            "$ref": "TrackTargetedCountry"
          }
        },
        "restOfWorld": {
          "description": "Whether artifacts in this track are available to \"rest of the world\" countries.",
          "type": "boolean"
        },
        "syncWithProduction": {
          "description": "Whether this track's availability is synced with the default production track. See https://support.google.com/googleplay/android-developer/answer/7550024 for more information on syncing country availability with production. Note that if this is true, the returned \"countries\" and \"rest_of_world\" fields will reflect the values for the default production track.",
          "type": "boolean"
        }
      },
      "id": "TrackCountryAvailability",
      "description": "Resource for per-track country availability information."
    },
    "AddTargetingResponse": {
      "type": "object",
      "properties": {},
      "id": "AddTargetingResponse",
      "description": "Response message for AddTargeting."
    },
    "AcquisitionTargetingRule": {
      "id": "AcquisitionTargetingRule",
      "description": "Represents a targeting rule of the form: User never had {scope} before.",
      "type": "object",
      "properties": {
        "scope": {
          "description": "Required. The scope of subscriptions this rule considers. Only allows \"this subscription\" and \"any subscription in app\".",
          "$ref": "TargetingRuleScope"
        }
      }
    },
    "DeviceGroup": {
      "type": "object",
      "properties": {
        "deviceSelectors": {
          "items": {
            "$ref": "DeviceSelector"
          },
          "type": "array",
          "description": "Device selectors for this group. A device matching any of the selectors is included in this group."
        },
        "name": {
          "description": "The name of the group.",
          "type": "string"
        }
      },
      "id": "DeviceGroup",
      "description": "A group of devices. A group is defined by a set of device selectors. A device belongs to the group if it matches any selector (logical OR)."
    },
    "UpdateSubscriptionOfferStateRequest": {
      "id": "UpdateSubscriptionOfferStateRequest",
      "description": "Request message to update the state of a subscription offer.",
      "type": "object",
      "properties": {
        "deactivateSubscriptionOfferRequest": {
          "description": "Deactivates an offer. Once deactivated, the offer will become unavailable to new subscribers, but existing subscribers will maintain their subscription",
          "$ref": "DeactivateSubscriptionOfferRequest"
        },
        "activateSubscriptionOfferRequest": {
          "description": "Activates an offer. Once activated, the offer will be available to new subscribers.",
          "$ref": "ActivateSubscriptionOfferRequest"
        }
      }
    },
    "ListAppRecoveriesResponse": {
      "type": "object",
      "properties": {
        "recoveryActions": {
          "description": "List of recovery actions associated with the requested package name.",
          "type": "array",
          "items": {
            "$ref": "AppRecoveryAction"
          }
        }
      },
      "id": "ListAppRecoveriesResponse",
      "description": "Response message for ListAppRecoveries. -- api-linter: core::0158::response-next-page-token-field=disabled"
    },
    "CancelAppRecoveryRequest": {
      "type": "object",
      "properties": {},
      "id": "CancelAppRecoveryRequest",
      "description": "Request message for CancelAppRecovery."
    },
    "OneTimeProductOfferNoPriceOverrideOptions": {
      "id": "OneTimeProductOfferNoPriceOverrideOptions",
      "description": "Options for one-time product offers without a regional price override.",
      "type": "object",
      "properties": {}
    },
    "PurchaseStateContext": {
      "type": "object",
      "properties": {
        "purchaseState": {
          "description": "Output only. The purchase state of the purchase.",
          "readOnly": true,
          "enum": [
            "PURCHASE_STATE_UNSPECIFIED",
            "PURCHASED",
            "CANCELLED",
            "PENDING"
          ],
          "type": "string",
          "enumDescriptions": [
            "Purchase state unspecified. This value should never be set.",
            "Purchased successfully.",
            "Purchase canceled.",
            "The purchase is in a pending state and has not yet been completed. For more information on handling pending purchases, see https://developer.android.com/google/play/billing/integrate#pending."
          ]
        }
      },
      "id": "PurchaseStateContext",
      "description": "Context about the purchase state."
    },
    "CancellationContext": {
      "type": "object",
      "properties": {
        "cancellationType": {
          "description": "Required. The type of cancellation for the purchased subscription.",
          "enum": [
            "CANCELLATION_TYPE_UNSPECIFIED",
            "USER_REQUESTED_STOP_RENEWALS",
            "DEVELOPER_REQUESTED_STOP_PAYMENTS"
          ],
          "type": "string",
          "enumDescriptions": [
            "Cancellation type unspecified.",
            "Cancellation requested by the user, and the subscription can be restored. It only stops the subscription's next renewal. For an installment subscription, users still need to finish the commitment period. For more details on renewals and payments, see https://developer.android.com/google/play/billing/subscriptions#installments",
            "Cancellation requested by the developer, and the subscription cannot be restored. It stops the subscription's next payment. For an installment subscription, users will not need to pay the next payment and finish the commitment period. For more details on renewals and payments, see https://developer.android.com/google/play/billing/subscriptions#installments"
          ]
        }
      },
      "id": "CancellationContext",
      "description": "Cancellation context of the purchases.subscriptionsv2.cancel API."
    },
    "ApksAddExternallyHostedResponse": {
      "type": "object",
      "properties": {
        "externallyHostedApk": {
          "description": "The definition of the externally-hosted APK and where it is located.",
          "$ref": "ExternallyHostedApk"
        }
      },
      "id": "ApksAddExternallyHostedResponse",
      "description": "Response for creating a new externally hosted APK."
    },
    "Money": {
      "id": "Money",
      "description": "Represents an amount of money with its currency type.",
      "type": "object",
      "properties": {
        "currencyCode": {
          "description": "The three-letter currency code defined in ISO 4217.",
          "type": "string"
        },
        "nanos": {
          "type": "integer",
          "format": "int32",
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000."
        },
        "units": {
          "type": "string",
          "format": "int64",
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar."
        }
      }
    },
    "RegionalTaxRateInfo": {
      "type": "object",
      "properties": {
        "eligibleForStreamingServiceTaxRate": {
          "description": "You must tell us if your app contains streaming products to correctly charge US state and local sales tax. Field only supported in the United States.",
          "type": "boolean"
        },
        "taxTier": {
          "description": "Tax tier to specify reduced tax rate. Developers who sell digital news, magazines, newspapers, books, or audiobooks in various regions may be eligible for reduced tax rates. [Learn more](https://support.google.com/googleplay/android-developer/answer/10463498).",
          "enum": [
            "TAX_TIER_UNSPECIFIED",
            "TAX_TIER_BOOKS_1",
            "TAX_TIER_NEWS_1",
            "TAX_TIER_NEWS_2",
            "TAX_TIER_MUSIC_OR_AUDIO_1",
            "TAX_TIER_LIVE_OR_BROADCAST_1"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "streamingTaxType": {
          "description": "To collect communications or amusement taxes in the United States, choose the appropriate tax category. [Learn more](https://support.google.com/googleplay/android-developer/answer/10463498#streaming_tax).",
          "enum": [
            "STREAMING_TAX_TYPE_UNSPECIFIED",
            "STREAMING_TAX_TYPE_TELCO_VIDEO_RENTAL",
            "STREAMING_TAX_TYPE_TELCO_VIDEO_SALES",
            "STREAMING_TAX_TYPE_TELCO_VIDEO_MULTI_CHANNEL",
            "STREAMING_TAX_TYPE_TELCO_AUDIO_RENTAL",
            "STREAMING_TAX_TYPE_TELCO_AUDIO_SALES",
            "STREAMING_TAX_TYPE_TELCO_AUDIO_MULTI_CHANNEL"
          ],
          "type": "string",
          "enumDescriptions": [
            "No telecommunications tax collected.",
            "US-specific telecommunications tax tier for video streaming, on demand, rentals / subscriptions / pay-per-view.",
            "US-specific telecommunications tax tier for video streaming of pre-recorded content like movies, tv shows.",
            "US-specific telecommunications tax tier for video streaming of multi-channel programming.",
            "US-specific telecommunications tax tier for audio streaming, rental / subscription.",
            "US-specific telecommunications tax tier for audio streaming, sale / permanent download.",
            "US-specific telecommunications tax tier for multi channel audio streaming like radio."
          ]
        }
      },
      "id": "RegionalTaxRateInfo",
      "description": "Specified details about taxation in a given geographical region."
    },
    "ExternalSubscription": {
      "type": "object",
      "properties": {
        "subscriptionType": {
          "enumDescriptions": [
            "Unspecified, do not use.",
            "This is a recurring subscription where the user is charged every billing cycle.",
            "This is a prepaid subscription where the user pays up front."
          ],
          "type": "string",
          "enum": [
            "SUBSCRIPTION_TYPE_UNSPECIFIED",
            "RECURRING",
            "PREPAID"
          ],
          "description": "Required. The type of the external subscription."
        }
      },
      "id": "ExternalSubscription",
      "description": "Details of an external subscription."
    },
    "BatchUpdateBasePlanStatesRequest": {
      "type": "object",
      "properties": {
        "requests": {
          "items": {
            "$ref": "UpdateBasePlanStateRequest"
          },
          "type": "array",
          "description": "Required. The update request list of up to 100 elements. All requests must update different base plans."
        }
      },
      "id": "BatchUpdateBasePlanStatesRequest",
      "description": "Request message for BatchUpdateBasePlanStates."
    },
    "ExternalTransactionTestPurchase": {
      "id": "ExternalTransactionTestPurchase",
      "description": "Represents a transaction performed using a test account. These transactions will not be charged by Google.",
      "type": "object",
      "properties": {}
    },
    "BatchUpdateOneTimeProductsRequest": {
      "type": "object",
      "properties": {
        "requests": {
          "type": "array",
          "items": {
            "$ref": "UpdateOneTimeProductRequest"
          },
          "description": "Required. A list of update requests of up to 100 elements. All requests must update different one-time products."
        }
      },
      "id": "BatchUpdateOneTimeProductsRequest",
      "description": "Request message for BatchUpdateOneTimeProduct."
    },
    "SubscriptionDetails": {
      "type": "object",
      "properties": {
        "offerPhaseDetails": {
          "description": "The pricing phase details for the entitlement period funded by this order.",
          "$ref": "OfferPhaseDetails"
        },
        "basePlanId": {
          "description": "The base plan ID of the subscription.",
          "type": "string"
        },
        "offerId": {
          "description": "The offer ID for the current subscription offer.",
          "type": "string"
        },
        "offerPhase": {
          "deprecated": true,
          "enumDescriptions": [
            "Offer phase unspecified. This value is not used.",
            "The order funds a base price period.",
            "The order funds an introductory pricing period.",
            "The order funds a free trial period."
          ],
          "description": "Deprecated: Use offer_phase_details instead. The pricing phase for the billing period funded by this order.",
          "enum": [
            "OFFER_PHASE_UNSPECIFIED",
            "BASE",
            "INTRODUCTORY",
            "FREE_TRIAL"
          ],
          "type": "string"
        },
        "servicePeriodStartTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The start of the billing period funded by this order. This is a snapshot of the billing/service period start time at the moment the order was processed, and should be used only for accounting."
        },
        "servicePeriodEndTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The end of the billing period funded by this order. This is a snapshot of the billing/service period end time at the moment the order was processed, and should be used only for accounting. To get the current end time of the subscription service period, use purchases.subscriptionsv2.get."
        }
      },
      "id": "SubscriptionDetails",
      "description": "Details of a subscription purchase."
    },
    "UserCountriesTargeting": {
      "id": "UserCountriesTargeting",
      "description": "Describes an inclusive/exclusive list of country codes that module targets.",
      "type": "object",
      "properties": {
        "countryCodes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of country codes in the two-letter CLDR territory format."
        },
        "exclude": {
          "description": "Indicates if the list above is exclusive.",
          "type": "boolean"
        }
      }
    },
    "PrepaidBasePlanType": {
      "id": "PrepaidBasePlanType",
      "description": "Represents a base plan that does not automatically renew at the end of the base plan, and must be manually renewed by the user.",
      "type": "object",
      "properties": {
        "billingPeriodDuration": {
          "description": "Required. Immutable. Subscription period, specified in ISO 8601 format. For a list of acceptable billing periods, refer to the help center. The duration is immutable after the base plan is created.",
          "type": "string"
        },
        "timeExtension": {
          "enum": [
            "TIME_EXTENSION_UNSPECIFIED",
            "TIME_EXTENSION_ACTIVE",
            "TIME_EXTENSION_INACTIVE"
          ],
          "description": "Whether users should be able to extend this prepaid base plan in Google Play surfaces. Defaults to TIME_EXTENSION_ACTIVE if not specified.",
          "enumDescriptions": [
            "Unspecified state.",
            "Time extension is active. Users are allowed to top-up or extend their prepaid plan.",
            "Time extension is inactive. Users cannot top-up or extend their prepaid plan."
          ],
          "type": "string"
        }
      }
    },
    "ApkSet": {
      "id": "ApkSet",
      "description": "A set of apks representing a module.",
      "type": "object",
      "properties": {
        "apkDescription": {
          "description": "Description of the generated apks.",
          "type": "array",
          "items": {
            "$ref": "ApkDescription"
          }
        },
        "moduleMetadata": {
          "description": "Metadata about the module represented by this ApkSet",
          "$ref": "ModuleMetadata"
        }
      }
    },
    "GeneratedAssetPackSlice": {
      "type": "object",
      "properties": {
        "moduleName": {
          "description": "Name of the module that this asset slice belongs to.",
          "type": "string"
        },
        "version": {
          "description": "Asset module version.",
          "format": "int64",
          "type": "string"
        },
        "downloadId": {
          "description": "Download ID, which uniquely identifies the APK to download. Should be supplied to `generatedapks.download` method.",
          "type": "string"
        },
        "sliceId": {
          "description": "Asset slice ID.",
          "type": "string"
        }
      },
      "id": "GeneratedAssetPackSlice",
      "description": "Download metadata for an asset pack slice."
    },
    "ConvertedOtherRegionsPrice": {
      "type": "object",
      "properties": {
        "usdPrice": {
          "description": "Price in USD to use for the \"Other regions\" location exclusive of taxes.",
          "$ref": "Money"
        },
        "eurPrice": {
          "description": "Price in EUR to use for the \"Other regions\" location exclusive of taxes.",
          "$ref": "Money"
        }
      },
      "id": "ConvertedOtherRegionsPrice",
      "description": "Converted other regions prices."
    },
    "ReviewsListResponse": {
      "id": "ReviewsListResponse",
      "description": "Response listing reviews.",
      "type": "object",
      "properties": {
        "pageInfo": {
          "description": "Information about the current page.",
          "$ref": "PageInfo"
        },
        "tokenPagination": {
          "description": "Pagination token, to handle a number of products that is over one page.",
          "$ref": "TokenPagination"
        },
        "reviews": {
          "items": {
            "$ref": "Review"
          },
          "type": "array",
          "description": "List of reviews."
        }
      }
    },
    "ProrationPeriodDetails": {
      "id": "ProrationPeriodDetails",
      "description": "Details of a proration period. A proration period can be a period calculated during a plan change to cover existing entitlements (For more information, see [Allow users to upgrade, downgrade, or change their subscription](https://developer.android.com/google/play/billing/subscriptions#allow-users-change), or a prorated period to align add-on renewal dates with the base (For more information, see [Rules applicable for items in the purchase](https://developer.android.com/google/play/billing/subscription-with-addons#rules-base-addons)).",
      "type": "object",
      "properties": {
        "originalOfferPhase": {
          "type": "string",
          "enumDescriptions": [
            "Offer phase unspecified. This value is not used.",
            "The order funds a base price period.",
            "The order funds an introductory pricing period.",
            "The order funds a free trial period."
          ],
          "description": "Represent the original offer phase from the purchased the line item if the proration period contains any of them. For example, a proration period from CHARGE_FULL_PRICE plan change may merge the 1st offer phase of the subscription offer of the new product user purchased. In this case, the original offer phase will be set here.",
          "enum": [
            "OFFER_PHASE_UNSPECIFIED",
            "BASE",
            "INTRODUCTORY",
            "FREE_TRIAL"
          ]
        }
      }
    },
    "GeneratedRecoveryApk": {
      "type": "object",
      "properties": {
        "recoveryStatus": {
          "enumDescriptions": [
            "RecoveryStatus is unspecified.",
            "The app recovery action has not been canceled since it has been created.",
            "The recovery action has been canceled. The action cannot be resumed.",
            "The recovery action is in the draft state and has not yet been deployed to users.",
            "The recovery action is generating recovery apks.",
            "The app recovery action generation has failed."
          ],
          "type": "string",
          "enum": [
            "RECOVERY_STATUS_UNSPECIFIED",
            "RECOVERY_STATUS_ACTIVE",
            "RECOVERY_STATUS_CANCELED",
            "RECOVERY_STATUS_DRAFT",
            "RECOVERY_STATUS_GENERATION_IN_PROGRESS",
            "RECOVERY_STATUS_GENERATION_FAILED"
          ],
          "description": "The status of the recovery action corresponding to the recovery apk."
        },
        "moduleName": {
          "description": "Name of the module which recovery apk belongs to.",
          "type": "string"
        },
        "downloadId": {
          "description": "Download ID, which uniquely identifies the APK to download. Should be supplied to `generatedapks.download` method.",
          "type": "string"
        },
        "recoveryId": {
          "description": "ID of the recovery action.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "GeneratedRecoveryApk",
      "description": "Download metadata for an app recovery module."
    },
    "CancelOneTimeProductOfferRequest": {
      "id": "CancelOneTimeProductOfferRequest",
      "description": "Request message for CancelOneTimeProductOffer.",
      "type": "object",
      "properties": {
        "offerId": {
          "description": "Required. The offer ID of the offer to cancel.",
          "type": "string"
        },
        "latencyTolerance": {
          "description": "Optional. The latency tolerance for the propagation of this update. Defaults to latency-sensitive.",
          "enum": [
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
          ],
          "type": "string",
          "enumDescriptions": [
            "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
            "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
            "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
          ]
        },
        "packageName": {
          "description": "Required. The parent app (package name) of the offer to cancel.",
          "type": "string"
        },
        "productId": {
          "description": "Required. The parent one-time product (ID) of the offer to cancel.",
          "type": "string"
        },
        "purchaseOptionId": {
          "description": "Required. The parent purchase option (ID) of the offer to cancel.",
          "type": "string"
[...]
