{
  "basePath": "",
  "id": "androidpublisher:v3",
  "kind": "discovery#restDescription",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/androidpublisher": {
          "description": "View and manage your Google Play Developer account"
        }
      }
    }
  },
  "name": "androidpublisher",
  "parameters": {
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "location": "query",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    }
  },
  "mtlsRootUrl": "https://androidpublisher.mtls.googleapis.com/",
  "version": "v3",
  "discoveryVersion": "v1",
  "description": "Lets Android application developers access their Google Play accounts. At a high level, the expected workflow is to \"insert\" an Edit, make changes as necessary, and then \"commit\" it. ",
  "resources": {
    "applications": {
      "methods": {
        "dataSafety": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "response": {
            "$ref": "SafetyLabelsUpdateResponse"
          },
          "description": "Writes the Safety Labels declaration of an app.",
          "parameters": {
            "packageName": {
              "description": "Required. Package name of the app.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "request": {
            "$ref": "SafetyLabelsUpdateRequest"
          },
          "flatPath": "androidpublisher/v3/applications/{packageName}/dataSafety",
          "id": "androidpublisher.applications.dataSafety",
          "parameterOrder": [
            "packageName"
          ],
          "path": "androidpublisher/v3/applications/{packageName}/dataSafety",
          "httpMethod": "POST"
        }
      },
      "resources": {
        "deviceTierConfigs": {
          "methods": {
            "create": {
              "flatPath": "androidpublisher/v3/applications/{packageName}/deviceTierConfigs",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "response": {
                "$ref": "DeviceTierConfig"
              },
              "httpMethod": "POST",
              "path": "androidpublisher/v3/applications/{packageName}/deviceTierConfigs",
              "description": "Creates a new device tier config for an app.",
              "parameterOrder": [
                "packageName"
              ],
              "parameters": {
                "packageName": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Package name of the app."
                },
                "allowUnknownDevices": {
                  "location": "query",
                  "type": "boolean",
                  "description": "Whether the service should accept device IDs that are unknown to Play's device catalog."
                }
              },
              "id": "androidpublisher.applications.deviceTierConfigs.create",
              "request": {
                "$ref": "DeviceTierConfig"
              }
            },
            "list": {
              "description": "Returns created device tier configs, ordered by descending creation time.",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameters": {
                "pageSize": {
                  "description": "The maximum number of device tier configs to return. The service may return fewer than this value. If unspecified, at most 10 device tier configs will be returned. The maximum value for this field is 100; values above 100 will be coerced to 100. Device tier configs will be ordered by descending creation time.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                },
                "packageName": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Package name of the app."
                },
                "pageToken": {
                  "type": "string",
                  "description": "A page token, received from a previous `ListDeviceTierConfigs` call. Provide this to retrieve the subsequent page.",
                  "location": "query"
                }
              },
              "id": "androidpublisher.applications.deviceTierConfigs.list",
              "response": {
                "$ref": "ListDeviceTierConfigsResponse"
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/deviceTierConfigs",
              "parameterOrder": [
                "packageName"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/deviceTierConfigs"
            },
            "get": {
              "parameterOrder": [
                "packageName",
                "deviceTierConfigId"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/deviceTierConfigs/{deviceTierConfigId}",
              "flatPath": "androidpublisher/v3/applications/{packageName}/deviceTierConfigs/{deviceTierConfigId}",
              "response": {
                "$ref": "DeviceTierConfig"
              },
              "description": "Returns a particular device tier config.",
              "parameters": {
                "deviceTierConfigId": {
                  "location": "path",
                  "format": "int64",
                  "type": "string",
                  "required": true,
                  "description": "Required. Id of an existing device tier config."
                },
                "packageName": {
                  "location": "path",
                  "required": true,
                  "description": "Package name of the app.",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "httpMethod": "GET",
              "id": "androidpublisher.applications.deviceTierConfigs.get"
            }
          }
        },
        "tracks": {
          "resources": {
            "releases": {
              "methods": {
                "list": {
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^applications/[^/]+/tracks/[^/]+$",
                      "type": "string",
                      "description": "Required. The parent track, which owns this collection of releases. Format: applications/{package_name}/tracks/{track}",
                      "location": "path"
                    }
                  },
                  "id": "androidpublisher.applications.tracks.releases.list",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListReleaseSummariesResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/androidpublisher"
                  ],
                  "description": "Returns the list of all releases for a given track. This excludes any releases that are obsolete.",
                  "path": "androidpublisher/v3/{+parent}/releases",
                  "flatPath": "androidpublisher/v3/applications/{applicationsId}/tracks/{tracksId}/releases"
                }
              }
            }
          }
        }
      }
    },
    "appsigning": {
      "methods": {
        "rotateAppSigningKey": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "description": "Rotates an app's signing key to a new self-hosted Google Cloud KMS key. Warning: This method only applies to apps enrolled with self-hosted Cloud KMS keys. For apps using standard Google-managed Play App Signing, key rotation requests must be initiated through the Google Play Console UI. See Help Center: https://support.google.com/googleplay/android-developer/answer/9842756",
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "description": "Required. Either package name or app ID of the app rotating the signing key.",
              "type": "string"
            }
          },
          "flatPath": "androidpublisher/v3/applications/{name}/appSigning:rotateAppSigningKey",
          "httpMethod": "POST",
          "id": "androidpublisher.appsigning.rotateAppSigningKey",
          "path": "androidpublisher/v3/applications/{name}/appSigning:rotateAppSigningKey",
          "request": {
            "$ref": "RotateAppSigningKeyRequest"
          },
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "RotateAppSigningKeyResponse"
          }
        },
        "enrollApp": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "path": "androidpublisher/v3/applications/{name}/appSigning:enrollApp",
          "id": "androidpublisher.appsigning.enrollApp",
          "parameters": {
            "name": {
              "description": "Required. Either package name or app ID of the app enrolling in Play Signing.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "flatPath": "androidpublisher/v3/applications/{name}/appSigning:enrollApp",
          "httpMethod": "POST",
          "request": {
            "$ref": "EnrollAppRequest"
          },
          "response": {
            "$ref": "EnrollAppResponse"
          },
          "description": "Enrolls an app in Play App Signing using a self-hosted Google Cloud KMS key. Warning: Do not use this method for standard Play App Signing enrollment. * Standard enrollment with Google-generated or Google-managed keys cannot be done via API. * This advanced API is strictly for enterprise organizations with mandatory compliance, regulatory, or policy requirements to retain key custody in an external Google Cloud KMS instance. * Prerequisites: Requires an active, properly configured Google Cloud KMS key with appropriate IAM permissions granted to Google Play before calling this method. See Help Center: https://support.google.com/googleplay/android-developer/answer/9842756"
        }
      }
    },
    "internalappsharingartifacts": {
      "methods": {
        "uploadbundle": {
          "httpMethod": "POST",
          "description": "Uploads an app bundle to internal app sharing. If you are using the Google API client libraries, please increase the timeout of the http request before calling this endpoint (a timeout of 2 minutes is recommended). See [Timeouts and Errors](https://developers.google.com/api-client-library/java/google-api-java-client/errors) for an example in java.",
          "id": "androidpublisher.internalappsharingartifacts.uploadbundle",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "mediaUpload": {
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/bundle"
              },
              "resumable": {
                "path": "/resumable/upload/androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/bundle",
                "multipart": true
              }
            },
            "accept": [
              "application/octet-stream"
            ],
            "maxSize": "10737418240"
          },
          "parameterOrder": [
            "packageName"
          ],
          "response": {
            "$ref": "InternalAppSharingArtifact"
          },
          "parameters": {
            "packageName": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Package name of the app."
            }
          },
          "flatPath": "androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/bundle",
          "path": "androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/bundle",
          "supportsMediaUpload": true
        },
        "uploadapk": {
          "description": "Uploads an APK to internal app sharing. If you are using the Google API client libraries, please increase the timeout of the http request before calling this endpoint (a timeout of 2 minutes is recommended). See [Timeouts and Errors](https://developers.google.com/api-client-library/java/google-api-java-client/errors) for an example in java.",
          "parameterOrder": [
            "packageName"
          ],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "mediaUpload": {
            "protocols": {
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/apk"
              },
              "simple": {
                "multipart": true,
                "path": "/upload/androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/apk"
              }
            },
            "accept": [
              "application/octet-stream",
              "application/vnd.android.package-archive"
            ],
            "maxSize": "1073741824"
          },
          "path": "androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/apk",
          "parameters": {
            "packageName": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Package name of the app."
            }
          },
          "id": "androidpublisher.internalappsharingartifacts.uploadapk",
          "response": {
            "$ref": "InternalAppSharingArtifact"
          },
          "flatPath": "androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/apk",
          "supportsMediaUpload": true
        }
      }
    },
    "users": {
      "methods": {
        "create": {
          "parameters": {
            "parent": {
              "location": "path",
              "description": "Required. The developer account to add the user to. Format: developers/{developer}",
              "type": "string",
              "pattern": "^developers/[^/]+$",
              "required": true
            }
          },
          "description": "Grant access for a user to the given developer account.",
          "id": "androidpublisher.users.create",
          "path": "androidpublisher/v3/{+parent}/users",
          "flatPath": "androidpublisher/v3/developers/{developersId}/users",
          "request": {
            "$ref": "User"
          },
          "parameterOrder": [
            "parent"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "User"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "flatPath": "androidpublisher/v3/developers/{developersId}/users/{usersId}",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "pattern": "^developers/[^/]+/users/[^/]+$",
              "type": "string",
              "location": "path",
              "description": "Required. The name of the user to delete. Format: developers/{developer}/users/{email}",
              "required": true
            }
          },
          "description": "Removes all access for the user to the given developer account.",
          "path": "androidpublisher/v3/{+name}",
          "id": "androidpublisher.users.delete",
          "httpMethod": "DELETE"
        },
        "list": {
          "parameters": {
            "pageToken": {
              "description": "A token received from a previous call to this method, in order to retrieve further results.",
              "type": "string",
              "location": "query"
            },
            "parent": {
              "location": "path",
              "description": "Required. The developer account to fetch users from. Format: developers/{developer}",
              "required": true,
              "type": "string",
              "pattern": "^developers/[^/]+$"
            },
            "pageSize": {
              "location": "query",
              "format": "int32",
              "description": "The maximum number of results to return. This must be set to -1 to disable pagination.",
              "type": "integer"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "id": "androidpublisher.users.list",
          "path": "androidpublisher/v3/{+parent}/users",
          "flatPath": "androidpublisher/v3/developers/{developersId}/users",
          "response": {
            "$ref": "ListUsersResponse"
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "parent"
          ],
          "description": "Lists all users with access to a developer account."
        },
        "patch": {
          "path": "androidpublisher/v3/{+name}",
          "request": {
            "$ref": "User"
          },
          "id": "androidpublisher.users.patch",
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "response": {
            "$ref": "User"
          },
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "description": "Required. Resource name for this user, following the pattern \"developers/{developer}/users/{email}\".",
              "pattern": "^developers/[^/]+/users/[^/]+$",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "updateMask": {
              "format": "google-fieldmask",
              "type": "string",
              "description": "Optional. The list of fields to be updated.",
              "location": "query"
            }
          },
          "flatPath": "androidpublisher/v3/developers/{developersId}/users/{usersId}",
          "description": "Updates access for the user to the developer account."
        }
      }
    },
    "inappproducts": {
      "methods": {
        "get": {
          "parameterOrder": [
            "packageName",
            "sku"
          ],
          "description": "Gets an in-app product, which can be a managed product or a subscription. This method should no longer be used to retrieve subscriptions. See [this article](https://android-developers.googleblog.com/2023/06/changes-to-google-play-developer-api-june-2023.html) for more information.",
          "id": "androidpublisher.inappproducts.get",
          "httpMethod": "GET",
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "response": {
            "$ref": "InAppProduct"
          },
          "parameters": {
            "packageName": {
              "location": "path",
              "required": true,
              "description": "Package name of the app.",
              "type": "string"
            },
            "sku": {
              "location": "path",
              "required": true,
              "description": "Unique identifier for the in-app product.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}"
        },
        "list": {
          "httpMethod": "GET",
          "id": "androidpublisher.inappproducts.list",
          "parameterOrder": [
            "packageName"
          ],
          "description": "Lists all in-app products - both managed products and subscriptions. If an app has a large number of in-app products, the response may be paginated. In this case the response field `tokenPagination.nextPageToken` will be set and the caller should provide its value as a `token` request parameter to retrieve the next page. This method should no longer be used to retrieve subscriptions. See [this article](https://android-developers.googleblog.com/2023/06/changes-to-google-play-developer-api-june-2023.html) for more information.",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts",
          "response": {
            "$ref": "InappproductsListResponse"
          },
          "parameters": {
            "startIndex": {
              "location": "query",
              "description": "Deprecated and ignored. Set the `token` parameter to retrieve the next page.",
              "deprecated": true,
              "format": "uint32",
              "type": "integer"
            },
            "token": {
              "description": "Pagination token. If empty, list starts at the first product.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "deprecated": true,
              "description": "Deprecated and ignored. The page size is determined by the server.",
              "type": "integer",
              "location": "query",
              "format": "uint32"
            },
            "packageName": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Package name of the app."
            }
          },
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts"
        },
        "batchGet": {
          "parameters": {
            "packageName": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Package name of the app."
            },
            "sku": {
              "location": "query",
              "type": "string",
              "description": "Unique identifier for the in-app products.",
              "repeated": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "description": "Reads multiple in-app products, which can be managed products or subscriptions. This method should not be used to retrieve subscriptions. See [this article](https://android-developers.googleblog.com/2023/06/changes-to-google-play-developer-api-june-2023.html) for more information.",
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts:batchGet",
          "id": "androidpublisher.inappproducts.batchGet",
          "response": {
            "$ref": "InappproductsBatchGetResponse"
          },
          "parameterOrder": [
            "packageName"
          ],
          "httpMethod": "GET",
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts:batchGet"
        },
        "insert": {
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts",
          "response": {
            "$ref": "InAppProduct"
          },
          "description": "Creates an in-app product (a managed product or a subscription). This method should no longer be used to create subscriptions. See [this article](https://android-developers.googleblog.com/2023/06/changes-to-google-play-developer-api-june-2023.html) for more information.",
          "parameters": {
            "autoConvertMissingPrices": {
              "description": "If true the prices for all regions targeted by the parent app that don't have a price specified for this in-app product will be auto converted to the target currency based on the default price. Defaults to false.",
              "type": "boolean",
              "location": "query"
            },
            "packageName": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Package name of the app."
            }
          },
          "id": "androidpublisher.inappproducts.insert",
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts",
          "request": {
            "$ref": "InAppProduct"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "httpMethod": "POST",
          "parameterOrder": [
            "packageName"
          ]
        },
        "batchUpdate": {
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts:batchUpdate",
          "parameters": {
            "packageName": {
              "description": "Package name of the app.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "response": {
            "$ref": "InappproductsBatchUpdateResponse"
          },
          "request": {
            "$ref": "InappproductsBatchUpdateRequest"
          },
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts:batchUpdate",
          "parameterOrder": [
            "packageName"
          ],
          "description": "Updates or inserts one or more in-app products (managed products or subscriptions). Set the latencyTolerance field on nested requests to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT to achieve maximum update throughput. This method should no longer be used to update subscriptions. See [this article](https://android-developers.googleblog.com/2023/06/changes-to-google-play-developer-api-june-2023.html) for more information.",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "httpMethod": "POST",
          "id": "androidpublisher.inappproducts.batchUpdate"
        },
        "update": {
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "parameters": {
            "latencyTolerance": {
              "type": "string",
              "enumDescriptions": [
                "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
                "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
                "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
              ],
              "enum": [
                "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
                "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
                "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
              ],
              "description": "Optional. The latency tolerance for the propagation of this product update. Defaults to latency-sensitive.",
              "location": "query"
            },
            "sku": {
              "description": "Unique identifier for the in-app product.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "packageName": {
              "type": "string",
              "description": "Package name of the app.",
              "location": "path",
              "required": true
            },
            "allowMissing": {
              "location": "query",
              "description": "If set to true, and the in-app product with the given package_name and sku doesn't exist, the in-app product will be created.",
              "type": "boolean"
            },
            "autoConvertMissingPrices": {
              "description": "If true the prices for all regions targeted by the parent app that don't have a price specified for this in-app product will be auto converted to the target currency based on the default price. Defaults to false.",
              "location": "query",
              "type": "boolean"
            }
          },
          "description": "Updates an in-app product (a managed product or a subscription). This method should no longer be used to update subscriptions. See [this article](https://android-developers.googleblog.com/2023/06/changes-to-google-play-developer-api-june-2023.html) for more information.",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "id": "androidpublisher.inappproducts.update",
          "parameterOrder": [
            "packageName",
            "sku"
          ],
          "response": {
            "$ref": "InAppProduct"
          },
          "request": {
            "$ref": "InAppProduct"
          },
          "httpMethod": "PUT",
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}"
        },
        "batchDelete": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts:batchDelete",
          "parameterOrder": [
            "packageName"
          ],
          "httpMethod": "POST",
          "parameters": {
            "packageName": {
              "description": "Package name of the app.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "description": "Deletes in-app products (managed products or subscriptions). Set the latencyTolerance field on nested requests to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT to achieve maximum update throughput. This method should not be used to delete subscriptions. See [this article](https://android-developers.googleblog.com/2023/06/changes-to-google-play-developer-api-june-2023.html) for more information.",
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts:batchDelete",
          "request": {
            "$ref": "InappproductsBatchDeleteRequest"
          },
          "id": "androidpublisher.inappproducts.batchDelete"
        },
        "delete": {
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "parameters": {
            "packageName": {
              "description": "Package name of the app.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "sku": {
              "description": "Unique identifier for the in-app product.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "latencyTolerance": {
              "description": "Optional. The latency tolerance for the propagation of this product update. Defaults to latency-sensitive.",
              "location": "query",
              "enumDescriptions": [
                "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
                "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
                "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
              ],
              "type": "string",
              "enum": [
                "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
                "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
                "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
              ]
            }
          },
          "parameterOrder": [
            "packageName",
            "sku"
          ],
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "id": "androidpublisher.inappproducts.delete",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "description": "Deletes an in-app product (a managed product or a subscription). This method should no longer be used to delete subscriptions. See [this article](https://android-developers.googleblog.com/2023/06/changes-to-google-play-developer-api-june-2023.html) for more information."
        },
        "patch": {
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "parameterOrder": [
            "packageName",
            "sku"
          ],
          "httpMethod": "PATCH",
          "response": {
            "$ref": "InAppProduct"
          },
          "parameters": {
            "latencyTolerance": {
              "enumDescriptions": [
                "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
                "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
                "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
              ],
              "description": "Optional. The latency tolerance for the propagation of this product update. Defaults to latency-sensitive.",
              "location": "query",
              "enum": [
                "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
                "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
                "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
              ],
              "type": "string"
            },
            "packageName": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Package name of the app."
            },
            "sku": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Unique identifier for the in-app product."
            },
            "autoConvertMissingPrices": {
              "type": "boolean",
              "location": "query",
              "description": "If true the prices for all regions targeted by the parent app that don't have a price specified for this in-app product will be auto converted to the target currency based on the default price. Defaults to false."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "description": "Patches an in-app product (a managed product or a subscription). This method should no longer be used to update subscriptions. See [this article](https://android-developers.googleblog.com/2023/06/changes-to-google-play-developer-api-june-2023.html) for more information.",
          "request": {
            "$ref": "InAppProduct"
          },
          "id": "androidpublisher.inappproducts.patch"
        }
      }
    },
    "generatedapks": {
      "methods": {
        "download": {
          "httpMethod": "GET",
          "flatPath": "androidpublisher/v3/applications/{packageName}/generatedApks/{versionCode}/downloads/{downloadId}:download",
          "id": "androidpublisher.generatedapks.download",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "path": "androidpublisher/v3/applications/{packageName}/generatedApks/{versionCode}/downloads/{downloadId}:download",
          "supportsMediaDownload": true,
          "useMediaDownloadService": true,
          "description": "Downloads a single signed APK generated from an app bundle.",
          "parameters": {
            "packageName": {
              "description": "Package name of the app.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "versionCode": {
              "required": true,
              "format": "int32",
              "type": "integer",
              "location": "path",
              "description": "Version code of the app bundle."
            },
            "downloadId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Download ID, which uniquely identifies the APK to download. Can be obtained from the response of `generatedapks.list` method."
            }
          },
          "parameterOrder": [
            "packageName",
            "versionCode",
            "downloadId"
          ]
        },
        "list": {
          "description": "Returns download metadata for all APKs that were generated from a given app bundle.",
          "httpMethod": "GET",
          "response": {
            "$ref": "GeneratedApksListResponse"
          },
          "path": "androidpublisher/v3/applications/{packageName}/generatedApks/{versionCode}",
          "flatPath": "androidpublisher/v3/applications/{packageName}/generatedApks/{versionCode}",
          "parameterOrder": [
            "packageName",
            "versionCode"
          ],
          "id": "androidpublisher.generatedapks.list",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameters": {
            "packageName": {
              "location": "path",
              "required": true,
              "description": "Package name of the app.",
              "type": "string"
            },
            "versionCode": {
              "format": "int32",
              "location": "path",
              "description": "Version code of the app bundle.",
              "type": "integer",
              "required": true
            }
          }
        }
      }
    },
    "grants": {
      "methods": {
        "patch": {
          "path": "androidpublisher/v3/{+name}",
          "id": "androidpublisher.grants.patch",
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameters": {
            "name": {
              "required": true,
              "description": "Required. Resource name for this grant, following the pattern \"developers/{developer}/users/{email}/grants/{package_name}\". If this grant is for a draft app, the app ID will be used in this resource name instead of the package name.",
              "pattern": "^developers/[^/]+/users/[^/]+/grants/[^/]+$",
              "location": "path",
              "type": "string"
            },
            "updateMask": {
              "format": "google-fieldmask",
              "description": "Optional. The list of fields to be updated.",
              "type": "string",
              "location": "query"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Grant"
          },
          "flatPath": "androidpublisher/v3/developers/{developersId}/users/{usersId}/grants/{grantsId}",
          "request": {
            "$ref": "Grant"
          },
          "description": "Updates access for the user to the given package."
        },
        "create": {
          "response": {
            "$ref": "Grant"
          },
          "id": "androidpublisher.grants.create",
          "parameters": {
            "parent": {
              "pattern": "^developers/[^/]+/users/[^/]+$",
              "required": true,
              "type": "string",
              "description": "Required. The user which needs permission. Format: developers/{developer}/users/{user}",
              "location": "path"
            }
          },
          "flatPath": "androidpublisher/v3/developers/{developersId}/users/{usersId}/grants",
          "path": "androidpublisher/v3/{+parent}/grants",
          "httpMethod": "POST",
          "request": {
            "$ref": "Grant"
          },
          "description": "Grant access for a user to the given package.",
          "parameterOrder": [
            "parent"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        },
        "delete": {
          "parameters": {
            "name": {
              "pattern": "^developers/[^/]+/users/[^/]+/grants/[^/]+$",
              "description": "Required. The name of the grant to delete. Format: developers/{developer}/users/{email}/grants/{package_name}",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "flatPath": "androidpublisher/v3/developers/{developersId}/users/{usersId}/grants/{grantsId}",
          "parameterOrder": [
            "name"
          ],
          "description": "Removes all access for the user to the given package or developer account.",
          "path": "androidpublisher/v3/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "id": "androidpublisher.grants.delete",
          "httpMethod": "DELETE"
        }
      }
    },
    "systemapks": {
      "resources": {
        "variants": {
          "methods": {
            "create": {
              "description": "Creates an APK which is suitable for inclusion in a system image from an already uploaded Android App Bundle.",
              "path": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "response": {
                "$ref": "Variant"
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants",
              "parameters": {
                "packageName": {
                  "description": "Package name of the app.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "versionCode": {
                  "format": "int64",
                  "required": true,
                  "description": "The version code of the App Bundle.",
                  "type": "string",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "Variant"
              },
              "parameterOrder": [
                "packageName",
                "versionCode"
              ],
              "httpMethod": "POST",
              "id": "androidpublisher.systemapks.variants.create"
            },
            "list": {
              "description": "Returns the list of previously created system APK variants.",
              "response": {
                "$ref": "SystemApksListResponse"
              },
              "httpMethod": "GET",
              "id": "androidpublisher.systemapks.variants.list",
              "path": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants",
              "parameterOrder": [
                "packageName",
                "versionCode"
              ],
              "parameters": {
                "packageName": {
                  "type": "string",
                  "description": "Package name of the app.",
                  "location": "path",
                  "required": true
                },
                "versionCode": {
                  "format": "int64",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "The version code of the App Bundle."
                }
              }
            },
            "get": {
              "httpMethod": "GET",
              "id": "androidpublisher.systemapks.variants.get",
              "description": "Returns a previously created system APK variant.",
              "path": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants/{variantId}",
              "parameterOrder": [
                "packageName",
                "versionCode",
                "variantId"
              ],
              "response": {
                "$ref": "Variant"
              },
              "parameters": {
                "variantId": {
                  "location": "path",
                  "format": "uint32",
                  "description": "The ID of a previously created system APK variant.",
                  "required": true,
                  "type": "integer"
                },
                "versionCode": {
                  "required": true,
                  "type": "string",
                  "description": "The version code of the App Bundle.",
                  "location": "path",
                  "format": "int64"
                },
                "packageName": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Package name of the app."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants/{variantId}"
            },
            "download": {
              "useMediaDownloadService": true,
              "path": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants/{variantId}:download",
              "parameterOrder": [
                "packageName",
                "versionCode",
                "variantId"
              ],
              "supportsMediaDownload": true,
              "httpMethod": "GET",
              "id": "androidpublisher.systemapks.variants.download",
              "description": "Downloads a previously created system APK which is suitable for inclusion in a system image.",
              "flatPath": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants/{variantId}:download",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameters": {
                "packageName": {
                  "description": "Package name of the app.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "variantId": {
                  "location": "path",
                  "type": "integer",
                  "format": "uint32",
                  "description": "The ID of a previously created system APK variant.",
                  "required": true
                },
                "versionCode": {
                  "location": "path",
                  "format": "int64",
                  "required": true,
                  "description": "The version code of the App Bundle.",
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "appstorecatalog": {
      "resources": {
        "recentupdateevents": {
          "methods": {
            "list": {
              "parameterOrder": [
                "appStorePackageName"
              ],
              "flatPath": "androidpublisher/v3/appstorecatalog/{appStorePackageName}/recentUpdateEvents",
              "parameters": {
                "appStorePackageName": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The package name of the app store on behalf of which the request is made."
                },
                "startTime": {
                  "type": "string",
                  "format": "google-datetime",
                  "location": "query",
                  "description": "Required. The start time of the range (inclusive)."
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "Optional. The maximum number of update events to return. The service may return fewer than this value. If unspecified, at most 100 update events will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
                },
                "pageToken": {
                  "location": "query",
                  "description": "Optional. A page token, received from a previous `ListRecentUpdateEvents` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListRecentUpdateEvents` must match the call that provided the page token.",
                  "type": "string"
                },
                "endTime": {
                  "format": "google-datetime",
                  "type": "string",
                  "description": "Required. The end time of the range (exclusive).",
                  "location": "query"
                }
              },
              "id": "androidpublisher.appstorecatalog.recentupdateevents.list",
              "path": "androidpublisher/v3/appstorecatalog/{appStorePackageName}/recentUpdateEvents",
              "description": "Lists update events for eligible apps in the given time range.",
              "response": {
                "$ref": "ListRecentUpdateEventsResponse"
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            }
          }
        },
        "recentappviews": {
          "methods": {
            "get": {
              "path": "androidpublisher/v3/appstorecatalog/{appStorePackageName}/recentAppViews/{playAppPackageName}",
              "parameters": {
                "appStorePackageName": {
                  "description": "Required. The package name of the app store on behalf of which the request is made.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "playAppPackageName": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The package name of the requested Play app."
                }
              },
              "parameterOrder": [
                "appStorePackageName",
                "playAppPackageName"
              ],
              "description": "Returns metadata about a recently updated app.",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/appstorecatalog/{appStorePackageName}/recentAppViews/{playAppPackageName}",
              "response": {
                "$ref": "RecentAppView"
              },
              "httpMethod": "GET",
              "id": "androidpublisher.appstorecatalog.recentappviews.get"
            }
          }
        }
      }
    },
    "apprecovery": {
      "methods": {
        "cancel": {
          "parameterOrder": [
            "packageName",
            "appRecoveryId"
          ],
          "parameters": {
            "packageName": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. Package name of the app for which recovery action cancellation is requested."
            },
            "appRecoveryId": {
              "location": "path",
              "description": "Required. ID corresponding to the app recovery action.",
              "required": true,
              "format": "int64",
              "type": "string"
            }
          },
          "request": {
            "$ref": "CancelAppRecoveryRequest"
          },
          "description": "Cancel an already executing app recovery action. Note that this action changes status of the recovery action to CANCELED.",
          "id": "androidpublisher.apprecovery.cancel",
          "response": {
            "$ref": "CancelAppRecoveryResponse"
          },
          "path": "androidpublisher/v3/applications/{packageName}/appRecoveries/{appRecoveryId}:cancel",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "flatPath": "androidpublisher/v3/applications/{packageName}/appRecoveries/{appRecoveryId}:cancel"
        },
        "list": {
          "httpMethod": "GET",
          "description": "List all app recovery action resources associated with a particular package name and app version.",
          "path": "androidpublisher/v3/applications/{packageName}/appRecoveries",
          "parameterOrder": [
            "packageName"
          ],
          "flatPath": "androidpublisher/v3/applications/{packageName}/appRecoveries",
          "parameters": {
            "packageName": {
              "description": "Required. Package name of the app for which list of recovery actions is requested.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "versionCode": {
              "type": "string",
              "location": "query",
              "description": "Required. Version code targeted by the list of recovery actions.",
              "format": "int64"
            }
          },
          "id": "androidpublisher.apprecovery.list",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "response": {
            "$ref": "ListAppRecoveriesResponse"
          }
        },
        "addTargeting": {
          "id": "androidpublisher.apprecovery.addTargeting",
          "description": "Incrementally update targeting for a recovery action. Note that only the criteria selected during the creation of recovery action can be expanded.",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameters": {
            "packageName": {
              "description": "Required. Package name of the app for which recovery action is to be updated.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "appRecoveryId": {
              "description": "Required. ID corresponding to the app recovery action.",
              "type": "string",
              "location": "path",
              "format": "int64",
              "required": true
            }
          },
          "flatPath": "androidpublisher/v3/applications/{packageName}/appRecoveries/{appRecoveryId}:addTargeting",
          "path": "androidpublisher/v3/applications/{packageName}/appRecoveries/{appRecoveryId}:addTargeting",
          "httpMethod": "POST",
          "request": {
            "$ref": "AddTargetingRequest"
          },
          "response": {
            "$ref": "AddTargetingResponse"
          },
          "parameterOrder": [
            "packageName",
            "appRecoveryId"
          ]
        },
        "create": {
          "path": "androidpublisher/v3/applications/{packageName}/appRecoveries",
          "flatPath": "androidpublisher/v3/applications/{packageName}/appRecoveries",
          "httpMethod": "POST",
          "response": {
            "$ref": "AppRecoveryAction"
          },
          "description": "Create an app recovery action with recovery status as DRAFT. Note that this action does not execute the recovery action.",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameters": {
            "packageName": {
              "description": "Required. Package name of the app on which recovery action is performed.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "request": {
            "$ref": "CreateDraftAppRecoveryRequest"
          },
          "parameterOrder": [
            "packageName"
          ],
          "id": "androidpublisher.apprecovery.create"
        },
        "deploy": {
          "parameters": {
            "packageName": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. Package name of the app for which recovery action is deployed."
            },
            "appRecoveryId": {
              "location": "path",
              "format": "int64",
              "required": true,
              "description": "Required. ID corresponding to the app recovery action to deploy.",
              "type": "string"
            }
          },
          "request": {
            "$ref": "DeployAppRecoveryRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "id": "androidpublisher.apprecovery.deploy",
          "path": "androidpublisher/v3/applications/{packageName}/appRecoveries/{appRecoveryId}:deploy",
          "description": "Deploy an already created app recovery action with recovery status DRAFT. Note that this action activates the recovery action for all targeted users and changes its status to ACTIVE.",
          "parameterOrder": [
            "packageName",
            "appRecoveryId"
          ],
          "response": {
            "$ref": "DeployAppRecoveryResponse"
          },
          "httpMethod": "POST",
          "flatPath": "androidpublisher/v3/applications/{packageName}/appRecoveries/{appRecoveryId}:deploy"
        }
      }
    },
    "orders": {
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "path": "androidpublisher/v3/applications/{packageName}/orders/{orderId}",
          "description": "Get order details for a single order.",
          "parameterOrder": [
            "packageName",
            "orderId"
          ],
          "parameters": {
            "orderId": {
              "type": "string",
              "description": "Required. The order ID provided to the user when the subscription or in-app order was purchased.",
              "location": "path",
              "required": true
            },
            "packageName": {
              "location": "path",
              "required": true,
              "description": "Required. The package name of the application for which this subscription or in-app item was purchased (for example, 'com.some.thing').",
              "type": "string"
            }
          },
          "id": "androidpublisher.orders.get",
          "httpMethod": "GET",
          "response": {
            "$ref": "Order"
          },
          "flatPath": "androidpublisher/v3/applications/{packageName}/orders/{orderId}"
        },
        "batchget": {
          "flatPath": "androidpublisher/v3/applications/{packageName}/orders:batchGet",
          "id": "androidpublisher.orders.batchget",
          "parameters": {
            "orderIds": {
              "location": "query",
              "type": "string",
              "repeated": true,
              "description": "Required. The list of order IDs to retrieve order details for. There must be between 1 and 1000 (inclusive) order IDs per request. If any order ID is not found or does not match the provided package, the entire request will fail with an error. The order IDs must be distinct."
            },
            "packageName": {
              "description": "Required. The package name of the application for which this subscription or in-app item was purchased (for example, 'com.some.thing').",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "BatchGetOrdersResponse"
          },
          "path": "androidpublisher/v3/applications/{packageName}/orders:batchGet",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "httpMethod": "GET",
          "description": "Get order details for a list of orders.",
          "parameterOrder": [
            "packageName"
          ]
        },
        "refund": {
          "id": "androidpublisher.orders.refund",
          "flatPath": "androidpublisher/v3/applications/{packageName}/orders/{orderId}:refund",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "description": "Refunds a user's subscription or in-app purchase order. Orders older than 3 years cannot be refunded.",
          "parameterOrder": [
            "packageName",
            "orderId"
          ],
          "path": "androidpublisher/v3/applications/{packageName}/orders/{orderId}:refund",
          "parameters": {
            "orderId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The order ID provided to the user when the subscription or in-app order was purchased."
            },
            "packageName": {
              "location": "path",
              "required": true,
              "description": "The package name of the application for which this subscription or in-app item was purchased (for example, 'com.some.thing').",
              "type": "string"
            },
            "revoke": {
              "location": "query",
              "description": "Whether to revoke the purchased item. If set to true, access to the subscription or in-app item will be terminated immediately. If the item is a recurring subscription, all future payments will also be terminated. Consumed in-app items need to be handled by developer's app. (optional).",
              "type": "boolean"
            }
          }
        },
        "reviewrefund": {
          "path": "androidpublisher/v3/applications/{packageName}/orders/{orderId}:reviewrefund",
          "httpMethod": "POST",
          "request": {
            "$ref": "OrdersReviewRefundRequest"
          },
          "parameterOrder": [
            "packageName",
            "orderId"
          ],
          "id": "androidpublisher.orders.reviewrefund",
          "description": "Provide refund preference and purchase usage for a chargeback request",
          "flatPath": "androidpublisher/v3/applications/{packageName}/orders/{orderId}:reviewrefund",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameters": {
            "orderId": {
              "description": "Required. The order ID provided to the user when the subscription or in-app order was purchased.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "packageName": {
              "location": "path",
              "required": true,
              "description": "Required. The package name of the application for which this subscription or in-app item was purchased (for example, 'com.some.thing').",
              "type": "string"
            }
          }
        }
      }
    },
    "appstoreappsreview": {
      "methods": {
        "uploadapk": {
          "path": "androidpublisher/v3/appstore/{appStorePackageName}/apps/{packageName}/apks:upload",
          "httpMethod": "POST",
          "supportsMediaUpload": true,
          "flatPath": "androidpublisher/v3/appstore/{appStorePackageName}/apps/{packageName}/apks:upload",
          "description": "Upload an APK file for the hosted app. Returns an ID to track this APK.",
          "request": {
            "$ref": "UploadApkRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "id": "androidpublisher.appstoreappsreview.uploadapk",
          "parameters": {
            "appStorePackageName": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. Package name of the third-party app store."
            },
            "packageName": {
              "type": "string",
              "description": "Required. Package name of the app.",
              "location": "path",
              "required": true
            }
          },
          "mediaUpload": {
            "protocols": {
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/androidpublisher/v3/appstore/{appStorePackageName}/apps/{packageName}/apks:upload"
              },
              "simple": {
                "multipart": true,
                "path": "/upload/androidpublisher/v3/appstore/{appStorePackageName}/apps/{packageName}/apks:upload"
              }
            },
            "maxSize": "10737418240",
            "accept": [
              "application/octet-stream",
              "application/vnd.android.package-archive"
            ]
          },
          "response": {
            "$ref": "UploadApkResponse"
          },
          "parameterOrder": [
            "appStorePackageName",
            "packageName"
          ]
        },
        "uploadappstoreapppolicydeclarationfile": {
          "description": "Upload a policy declaration file for the hosted app. Returns an ID to track the file.",
          "mediaUpload": {
            "accept": [
              "application/pdf",
              "image/jpeg",
              "image/png"
            ],
            "protocols": {
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/androidpublisher/v3/appstore/{appStorePackageName}/apps/{packageName}/policyDeclarationFiles:upload"
              },
              "simple": {
                "multipart": true,
                "path": "/upload/androidpublisher/v3/appstore/{appStorePackageName}/apps/{packageName}/policyDeclarationFiles:upload"
              }
            },
            "maxSize": "10485760"
          },
          "parameterOrder": [
            "appStorePackageName",
            "packageName"
          ],
          "path": "androidpublisher/v3/appstore/{appStorePackageName}/apps/{packageName}/policyDeclarationFiles:upload",
          "id": "androidpublisher.appstoreappsreview.uploadappstoreapppolicydeclarationfile",
          "httpMethod": "POST",
          "flatPath": "androidpublisher/v3/appstore/{appStorePackageName}/apps/{packageName}/policyDeclarationFiles:upload",
          "supportsMediaUpload": true,
          "parameters": {
            "packageName": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. Package name of the app."
            },
            "appStorePackageName": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. Package name of the third-party app store."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "request": {
            "$ref": "UploadAppStoreAppPolicyDeclarationFileRequest"
          },
          "response": {
            "$ref": "UploadAppStoreAppPolicyDeclarationFileResponse"
          }
        },
        "updateappstorehostedapp": {
          "parameters": {
            "appStorePackageName": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. Package name of the third-party app store."
            }
          },
          "id": "androidpublisher.appstoreappsreview.updateappstorehostedapp",
          "parameterOrder": [
            "appStorePackageName"
          ],
          "description": "Updates details for an app hosted on an app store. Use this to provide details for a new app, or to update details for an existing app. The update will be sent for review immediately after creation.",
          "flatPath": "androidpublisher/v3/appstore/{appStorePackageName}/apps:update",
          "request": {
            "$ref": "UpdateAppStoreHostedAppRequest"
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "UpdateAppStoreHostedAppResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "path": "androidpublisher/v3/appstore/{appStorePackageName}/apps:update"
        },
        "updateappstorehostedapppublishstatus": {
          "parameterOrder": [
            "appStorePackageName",
            "packageName"
          ],
          "flatPath": "androidpublisher/v3/appstore/{appStorePackageName}/apps/{packageName}:updateAppStoreHostedAppPublishStatus",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "path": "androidpublisher/v3/appstore/{appStorePackageName}/apps/{packageName}:updateAppStoreHostedAppPublishStatus",
          "httpMethod": "POST",
          "response": {
            "$ref": "UpdateAppStoreHostedAppPublishStatusResponse"
          },
          "parameters": {
            "packageName": {
              "description": "Required. Package name of the app.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "appStorePackageName": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. Package name of the third-party app store."
            }
          },
          "description": "Updates the publish status of an app store hosted app. The default state after calling UpdateAppStoreHostedApp is PUBLISHED. It is not necessary to call this RPC explicitly to set an app to PUBLISHED.",
          "request": {
            "$ref": "UpdateAppStoreHostedAppPublishStatusRequest"
          },
          "id": "androidpublisher.appstoreappsreview.updateappstorehostedapppublishstatus"
        },
        "uploadimage": {
          "parameters": {
            "appStorePackageName": {
              "description": "Required. Package name of the third-party app store.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "packageName": {
              "description": "Required. Package name of the app.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "androidpublisher/v3/appstore/{appStorePackageName}/apps/{packageName}/images:upload",
          "request": {
            "$ref": "UploadImageRequest"
          },
          "response": {
            "$ref": "UploadImageResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "mediaUpload": {
            "maxSize": "15728640",
            "accept": [
              "image/*"
            ],
            "protocols": {
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/androidpublisher/v3/appstore/{appStorePackageName}/apps/{packageName}/images:upload"
              },
              "simple": {
                "multipart": true,
                "path": "/upload/androidpublisher/v3/appstore/{appStorePackageName}/apps/{packageName}/images:upload"
              }
            }
          },
          "id": "androidpublisher.appstoreappsreview.uploadimage",
          "parameterOrder": [
            "appStorePackageName",
            "packageName"
          ],
          "httpMethod": "POST",
          "description": "Upload a screenshot or app icon for the hosted app. Returns an ID to track the image.",
          "supportsMediaUpload": true,
          "flatPath": "androidpublisher/v3/appstore/{appStorePackageName}/apps/{packageName}/images:upload"
        },
        "createappstorehostedapp": {
          "id": "androidpublisher.appstoreappsreview.createappstorehostedapp",
          "httpMethod": "POST",
          "description": "Creates an app store hosted app. This must be called before any other RPCs for this hosted app.",
          "parameters": {
            "appStorePackageName": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. Package name of the third-party app store."
            }
          },
          "response": {
            "$ref": "CreateAppStoreHostedAppResponse"
          },
          "parameterOrder": [
            "appStorePackageName"
          ],
          "request": {
            "$ref": "CreateAppStoreHostedAppRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "flatPath": "androidpublisher/v3/appstore/{appStorePackageName}/apps:create",
          "path": "androidpublisher/v3/appstore/{appStorePackageName}/apps:create"
        }
      }
    },
    "reviews": {
      "methods": {
        "get": {
          "id": "androidpublisher.reviews.get",
          "response": {
            "$ref": "Review"
          },
          "description": "Gets a single review.",
          "parameters": {
            "translationLanguage": {
              "type": "string",
              "description": "Language localization code.",
              "location": "query"
            },
            "reviewId": {
              "location": "path",
              "required": true,
              "description": "Unique identifier for a review.",
              "type": "string"
            },
            "packageName": {
              "description": "Package name of the app.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "flatPath": "androidpublisher/v3/applications/{packageName}/reviews/{reviewId}",
          "parameterOrder": [
            "packageName",
            "reviewId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "httpMethod": "GET",
          "path": "androidpublisher/v3/applications/{packageName}/reviews/{reviewId}"
        },
        "list": {
          "path": "androidpublisher/v3/applications/{packageName}/reviews",
          "description": "Lists all reviews.",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "flatPath": "androidpublisher/v3/applications/{packageName}/reviews",
          "parameterOrder": [
            "packageName"
          ],
          "parameters": {
            "token": {
              "location": "query",
              "description": "Pagination token. If empty, list starts at the first review.",
              "type": "string"
            },
            "packageName": {
              "description": "Package name of the app.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "translationLanguage": {
              "description": "Language localization code.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "type": "integer",
              "description": "How many results the list operation should return.",
              "location": "query",
              "format": "uint32"
            },
            "startIndex": {
              "format": "uint32",
              "description": "The index of the first element to return.",
              "location": "query",
              "type": "integer"
            }
          },
          "response": {
            "$ref": "ReviewsListResponse"
          },
          "id": "androidpublisher.reviews.list"
        },
        "reply": {
          "path": "androidpublisher/v3/applications/{packageName}/reviews/{reviewId}:reply",
          "response": {
            "$ref": "ReviewsReplyResponse"
          },
          "description": "Replies to a single review, or updates an existing reply.",
          "request": {
            "$ref": "ReviewsReplyRequest"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "flatPath": "androidpublisher/v3/applications/{packageName}/reviews/{reviewId}:reply",
          "id": "androidpublisher.reviews.reply",
          "parameters": {
            "reviewId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Unique identifier for a review."
            },
            "packageName": {
              "description": "Package name of the app.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "packageName",
            "reviewId"
          ]
        }
      }
    },
    "externaltransactions": {
      "methods": {
        "getexternaltransaction": {
          "path": "androidpublisher/v3/{+name}",
          "response": {
            "$ref": "ExternalTransaction"
          },
          "httpMethod": "GET",
          "description": "Gets an existing external transaction.",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "flatPath": "androidpublisher/v3/applications/{applicationsId}/externalTransactions/{externalTransactionsId}",
          "parameterOrder": [
            "name"
          ],
          "id": "androidpublisher.externaltransactions.getexternaltransaction",
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "pattern": "^applications/[^/]+/externalTransactions/[^/]+$",
              "description": "Required. The name of the external transaction to retrieve. Format: applications/{package_name}/externalTransactions/{external_transaction}",
              "type": "string"
            }
          }
        },
        "createexternaltransaction": {
          "description": "Creates a new external transaction.",
          "httpMethod": "POST",
          "request": {
            "$ref": "ExternalTransaction"
          },
          "id": "androidpublisher.externaltransactions.createexternaltransaction",
          "parameters": {
            "parent": {
              "required": true,
              "location": "path",
              "description": "Required. The parent resource where this external transaction will be created. Format: applications/{package_name}",
              "pattern": "^applications/[^/]+$",
              "type": "string"
            },
            "externalTransactionId": {
              "description": "Required. The id to use for the external transaction. Must be unique across all other transactions for the app. This value should be 1-63 characters and valid characters are /a-zA-Z0-9_-/. Do not use this field to store any Personally Identifiable Information (PII) such as emails. Attempting to store PII in this field may result in requests being blocked.",
              "location": "query",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "path": "androidpublisher/v3/{+parent}/externalTransactions",
          "response": {
            "$ref": "ExternalTransaction"
          },
          "parameterOrder": [
            "parent"
          ],
          "flatPath": "androidpublisher/v3/applications/{applicationsId}/externalTransactions"
        },
        "refundexternaltransaction": {
          "request": {
            "$ref": "RefundExternalTransactionRequest"
          },
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "id": "androidpublisher.externaltransactions.refundexternaltransaction",
          "path": "androidpublisher/v3/{+name}:refund",
          "parameters": {
            "name": {
              "description": "Required. The name of the external transaction that will be refunded. Format: applications/{package_name}/externalTransactions/{external_transaction}",
              "pattern": "^applications/[^/]+/externalTransactions/[^/]+$",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "response": {
            "$ref": "ExternalTransaction"
          },
          "description": "Refunds or partially refunds an existing external transaction.",
          "httpMethod": "POST",
          "flatPath": "androidpublisher/v3/applications/{applicationsId}/externalTransactions/{externalTransactionsId}:refund"
        }
      }
    },
    "monetization": {
      "methods": {
        "convertRegionPrices": {
          "httpMethod": "POST",
          "response": {
            "$ref": "ConvertRegionPricesResponse"
          },
          "flatPath": "androidpublisher/v3/applications/{packageName}/pricing:convertRegionPrices",
          "request": {
            "$ref": "ConvertRegionPricesRequest"
          },
          "path": "androidpublisher/v3/applications/{packageName}/pricing:convertRegionPrices",
          "parameterOrder": [
            "packageName"
          ],
          "description": "Calculates the region prices, using today's exchange rate and country-specific pricing patterns, based on the price in the request for a set of regions.",
          "parameters": {
            "packageName": {
              "description": "Required. The app package name.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "id": "androidpublisher.monetization.convertRegionPrices",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        }
      },
      "resources": {
        "onetimeproducts": {
          "resources": {
            "purchaseOptions": {
              "methods": {
                "batchUpdateStates": {
                  "description": "Activates or deactivates purchase options across one or multiple one-time products.",
                  "scopes": [
                    "https://www.googleapis.com/auth/androidpublisher"
                  ],
                  "parameterOrder": [
                    "packageName",
                    "productId"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "productId": {
                      "description": "Required. The product ID of the parent one-time product, if all updated purchase options belong to the same one-time product. If this batch update spans multiple one-time products, set this field to \"-\".",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "packageName": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The parent app (package name) of the updated purchase options.",
                      "type": "string"
                    }
                  },
                  "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions:batchUpdateStates",
                  "id": "androidpublisher.monetization.onetimeproducts.purchaseOptions.batchUpdateStates",
                  "request": {
                    "$ref": "BatchUpdatePurchaseOptionStatesRequest"
                  },
                  "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions:batchUpdateStates",
                  "response": {
                    "$ref": "BatchUpdatePurchaseOptionStatesResponse"
                  }
                },
                "batchDelete": {
                  "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions:batchDelete",
                  "description": "Deletes purchase options across one or multiple one-time products. By default this operation will fail if there are any existing offers under the deleted purchase options. Use the force parameter to override the default behavior.",
                  "id": "androidpublisher.monetization.onetimeproducts.purchaseOptions.batchDelete",
                  "scopes": [
                    "https://www.googleapis.com/auth/androidpublisher"
                  ],
                  "httpMethod": "POST",
                  "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions:batchDelete",
                  "request": {
                    "$ref": "BatchDeletePurchaseOptionsRequest"
                  },
                  "parameters": {
                    "packageName": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The parent app (package name) of the purchase options to delete."
                    },
                    "productId": {
                      "description": "Required. The product ID of the parent one-time product, if all purchase options to delete belong to the same one-time product. If this batch delete spans multiple one-time products, set this field to \"-\".",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "packageName",
                    "productId"
                  ]
                }
              },
              "resources": {
                "offers": {
                  "methods": {
                    "cancel": {
                      "id": "androidpublisher.monetization.onetimeproducts.purchaseOptions.offers.cancel",
                      "parameters": {
                        "productId": {
                          "description": "Required. The parent one-time product (ID) of the offer to cancel.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "packageName": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Required. The parent app (package name) of the offer to cancel."
                        },
                        "purchaseOptionId": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. The parent purchase option (ID) of the offer to cancel."
                        },
                        "offerId": {
                          "location": "path",
                          "required": true,
                          "description": "Required. The offer ID of the offer to cancel.",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "packageName",
                        "productId",
                        "purchaseOptionId",
                        "offerId"
                      ],
                      "description": "Cancels a one-time product offer.",
                      "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                      ],
                      "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers/{offerId}:cancel",
                      "request": {
                        "$ref": "CancelOneTimeProductOfferRequest"
                      },
                      "response": {
                        "$ref": "OneTimeProductOffer"
                      },
                      "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers/{offerId}:cancel",
                      "httpMethod": "POST"
                    },
                    "batchGet": {
                      "response": {
                        "$ref": "BatchGetOneTimeProductOffersResponse"
                      },
                      "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers:batchGet",
                      "httpMethod": "POST",
                      "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers:batchGet",
                      "parameters": {
                        "packageName": {
                          "location": "path",
                          "required": true,
                          "description": "Required. The parent app (package name) of the updated offers. Must be equal to the package_name field on all the updated OneTimeProductOffer resources.",
                          "type": "string"
                        },
                        "purchaseOptionId": {
                          "description": "Required. The parent purchase option (ID) for which the offers should be updated. May be specified as '-' to update offers from multiple purchase options.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "productId": {
                          "description": "Required. The product ID of the parent one-time product, if all updated offers belong to the same product. If this request spans multiple one-time products, set this field to \"-\".",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "request": {
                        "$ref": "BatchGetOneTimeProductOffersRequest"
                      },
                      "description": "Reads one or more one-time product offers.",
                      "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                      ],
                      "id": "androidpublisher.monetization.onetimeproducts.purchaseOptions.offers.batchGet",
                      "parameterOrder": [
                        "packageName",
                        "productId",
                        "purchaseOptionId"
                      ]
                    },
                    "batchUpdate": {
                      "parameterOrder": [
                        "packageName",
                        "productId",
                        "purchaseOptionId"
                      ],
                      "httpMethod": "POST",
                      "id": "androidpublisher.monetization.onetimeproducts.purchaseOptions.offers.batchUpdate",
                      "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers:batchUpdate",
                      "description": "Creates or updates one or more one-time product offers.",
                      "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                      ],
                      "request": {
                        "$ref": "BatchUpdateOneTimeProductOffersRequest"
                      },
                      "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers:batchUpdate",
                      "parameters": {
                        "purchaseOptionId": {
                          "description": "Required. The parent purchase option (ID) for which the offers should be updated. May be specified as '-' to update offers from multiple purchase options.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "productId": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Required. The product ID of the parent one-time product, if all updated offers belong to the same product. If this request spans multiple one-time products, set this field to \"-\"."
                        },
                        "packageName": {
                          "description": "Required. The parent app (package name) of the updated offers. Must be equal to the package_name field on all the updated OneTimeProductOffer resources.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "BatchUpdateOneTimeProductOffersResponse"
                      }
                    },
                    "activate": {
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "ActivateOneTimeProductOfferRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                      ],
                      "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers/{offerId}:activate",
                      "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers/{offerId}:activate",
                      "parameters": {
                        "packageName": {
                          "location": "path",
                          "required": true,
                          "description": "Required. The parent app (package name) of the offer to activate.",
                          "type": "string"
                        },
                        "productId": {
                          "description": "Required. The parent one-time product (ID) of the offer to activate.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "purchaseOptionId": {
                          "description": "Required. The parent purchase option (ID) of the offer to activate.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "offerId": {
                          "description": "Required. The offer ID of the offer to activate.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "packageName",
                        "productId",
                        "purchaseOptionId",
                        "offerId"
                      ],
                      "description": "Activates a one-time product offer.",
                      "id": "androidpublisher.monetization.onetimeproducts.purchaseOptions.offers.activate",
                      "response": {
                        "$ref": "OneTimeProductOffer"
                      }
                    },
                    "batchDelete": {
                      "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers:batchDelete",
                      "id": "androidpublisher.monetization.onetimeproducts.purchaseOptions.offers.batchDelete",
                      "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                      ],
[...]
