{
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "basePath": "",
  "canonicalName": "Android Publisher",
  "id": "androidpublisher:v3",
  "version": "v3",
  "description": "Lets Android application developers access their Google Play accounts. At a high level, the expected workflow is to \"insert\" an Edit, make changes as necessary, and then \"commit\" it. ",
  "name": "androidpublisher",
  "rootUrl": "https://androidpublisher.googleapis.com/",
  "ownerDomain": "google.com",
  "baseUrl": "https://androidpublisher.googleapis.com/",
  "protocol": "rest",
  "mtlsRootUrl": "https://androidpublisher.mtls.googleapis.com/",
  "kind": "discovery#restDescription",
  "batchPath": "batch",
  "resources": {
    "reviews": {
      "methods": {
        "reply": {
          "parameterOrder": [
            "packageName",
            "reviewId"
          ],
          "request": {
            "$ref": "ReviewsReplyRequest"
          },
          "flatPath": "androidpublisher/v3/applications/{packageName}/reviews/{reviewId}:reply",
          "httpMethod": "POST",
          "path": "androidpublisher/v3/applications/{packageName}/reviews/{reviewId}:reply",
          "id": "androidpublisher.reviews.reply",
          "parameters": {
            "packageName": {
              "description": "Package name of the app.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "reviewId": {
              "description": "Unique identifier for a review.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "response": {
            "$ref": "ReviewsReplyResponse"
          },
          "description": "Replies to a single review, or updates an existing reply.",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        },
        "list": {
          "path": "androidpublisher/v3/applications/{packageName}/reviews",
          "flatPath": "androidpublisher/v3/applications/{packageName}/reviews",
          "id": "androidpublisher.reviews.list",
          "description": "Lists all reviews.",
          "httpMethod": "GET",
          "parameterOrder": [
            "packageName"
          ],
          "parameters": {
            "startIndex": {
              "location": "query",
              "description": "The index of the first element to return.",
              "format": "uint32",
              "type": "integer"
            },
            "token": {
              "type": "string",
              "location": "query",
              "description": "Pagination token. If empty, list starts at the first review."
            },
            "maxResults": {
              "format": "uint32",
              "type": "integer",
              "location": "query",
              "description": "How many results the list operation should return."
            },
            "packageName": {
              "location": "path",
              "type": "string",
              "description": "Package name of the app.",
              "required": true
            },
            "translationLanguage": {
              "type": "string",
              "description": "Language localization code.",
              "location": "query"
            }
          },
          "response": {
            "$ref": "ReviewsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        },
        "get": {
          "response": {
            "$ref": "Review"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameters": {
            "translationLanguage": {
              "location": "query",
              "description": "Language localization code.",
              "type": "string"
            },
            "reviewId": {
              "required": true,
              "type": "string",
              "description": "Unique identifier for a review.",
              "location": "path"
            },
            "packageName": {
              "required": true,
              "type": "string",
              "description": "Package name of the app.",
              "location": "path"
            }
          },
          "path": "androidpublisher/v3/applications/{packageName}/reviews/{reviewId}",
          "id": "androidpublisher.reviews.get",
          "httpMethod": "GET",
          "description": "Gets a single review.",
          "parameterOrder": [
            "packageName",
            "reviewId"
          ],
          "flatPath": "androidpublisher/v3/applications/{packageName}/reviews/{reviewId}"
        }
      }
    },
    "apprecovery": {
      "methods": {
        "deploy": {
          "id": "androidpublisher.apprecovery.deploy",
          "parameters": {
            "packageName": {
              "location": "path",
              "type": "string",
              "description": "Required. Package name of the app for which recovery action is deployed.",
              "required": true
            },
            "appRecoveryId": {
              "required": true,
              "format": "int64",
              "location": "path",
              "description": "Required. ID corresponding to the app recovery action to deploy.",
              "type": "string"
            }
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "DeployAppRecoveryRequest"
          },
          "flatPath": "androidpublisher/v3/applications/{packageName}/appRecoveries/{appRecoveryId}:deploy",
          "parameterOrder": [
            "packageName",
            "appRecoveryId"
          ],
          "description": "Deploy an already created app recovery action with recovery status DRAFT. Note that this action activates the recovery action for all targeted users and changes its status to ACTIVE.",
          "response": {
            "$ref": "DeployAppRecoveryResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "path": "androidpublisher/v3/applications/{packageName}/appRecoveries/{appRecoveryId}:deploy"
        },
        "create": {
          "flatPath": "androidpublisher/v3/applications/{packageName}/appRecoveries",
          "request": {
            "$ref": "CreateDraftAppRecoveryRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "id": "androidpublisher.apprecovery.create",
          "description": "Create an app recovery action with recovery status as DRAFT. Note that this action does not execute the recovery action.",
          "parameters": {
            "packageName": {
              "required": true,
              "description": "Required. Package name of the app on which recovery action is performed.",
              "type": "string",
              "location": "path"
            }
          },
          "parameterOrder": [
            "packageName"
          ],
          "path": "androidpublisher/v3/applications/{packageName}/appRecoveries",
          "response": {
            "$ref": "AppRecoveryAction"
          },
          "httpMethod": "POST"
        },
        "cancel": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "request": {
            "$ref": "CancelAppRecoveryRequest"
          },
          "description": "Cancel an already executing app recovery action. Note that this action changes status of the recovery action to CANCELED.",
          "flatPath": "androidpublisher/v3/applications/{packageName}/appRecoveries/{appRecoveryId}:cancel",
          "id": "androidpublisher.apprecovery.cancel",
          "response": {
            "$ref": "CancelAppRecoveryResponse"
          },
          "httpMethod": "POST",
          "path": "androidpublisher/v3/applications/{packageName}/appRecoveries/{appRecoveryId}:cancel",
          "parameters": {
            "packageName": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Required. Package name of the app for which recovery action cancellation is requested."
            },
            "appRecoveryId": {
              "type": "string",
              "required": true,
              "description": "Required. ID corresponding to the app recovery action.",
              "format": "int64",
              "location": "path"
            }
          },
          "parameterOrder": [
            "packageName",
            "appRecoveryId"
          ]
        },
        "addTargeting": {
          "flatPath": "androidpublisher/v3/applications/{packageName}/appRecoveries/{appRecoveryId}:addTargeting",
          "request": {
            "$ref": "AddTargetingRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "path": "androidpublisher/v3/applications/{packageName}/appRecoveries/{appRecoveryId}:addTargeting",
          "httpMethod": "POST",
          "parameters": {
            "packageName": {
              "required": true,
              "type": "string",
              "description": "Required. Package name of the app for which recovery action is to be updated.",
              "location": "path"
            },
            "appRecoveryId": {
              "type": "string",
              "format": "int64",
              "description": "Required. ID corresponding to the app recovery action.",
              "location": "path",
              "required": true
            }
          },
          "parameterOrder": [
            "packageName",
            "appRecoveryId"
          ],
          "description": "Incrementally update targeting for a recovery action. Note that only the criteria selected during the creation of recovery action can be expanded.",
          "response": {
            "$ref": "AddTargetingResponse"
          },
          "id": "androidpublisher.apprecovery.addTargeting"
        },
        "list": {
          "parameterOrder": [
            "packageName"
          ],
          "path": "androidpublisher/v3/applications/{packageName}/appRecoveries",
          "id": "androidpublisher.apprecovery.list",
          "flatPath": "androidpublisher/v3/applications/{packageName}/appRecoveries",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameters": {
            "packageName": {
              "location": "path",
              "description": "Required. Package name of the app for which list of recovery actions is requested.",
              "required": true,
              "type": "string"
            },
            "versionCode": {
              "description": "Required. Version code targeted by the list of recovery actions.",
              "format": "int64",
              "location": "query",
              "type": "string"
            }
          },
          "response": {
            "$ref": "ListAppRecoveriesResponse"
          },
          "description": "List all app recovery action resources associated with a particular package name and app version.",
          "httpMethod": "GET"
        }
      }
    },
    "appsigning": {
      "methods": {
        "enrollApp": {
          "description": "Enrolls an app in Play App Signing using a self-hosted Google Cloud KMS key. Warning: Do not use this method for standard Play App Signing enrollment. * Standard enrollment with Google-generated or Google-managed keys cannot be done via API. * This advanced API is strictly for enterprise organizations with mandatory compliance, regulatory, or policy requirements to retain key custody in an external Google Cloud KMS instance. * Prerequisites: Requires an active, properly configured Google Cloud KMS key with appropriate IAM permissions granted to Google Play before calling this method. See Help Center: https://support.google.com/googleplay/android-developer/answer/9842756",
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Required. Either package name or app ID of the app enrolling in Play Signing."
            }
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "id": "androidpublisher.appsigning.enrollApp",
          "flatPath": "androidpublisher/v3/applications/{name}/appSigning:enrollApp",
          "request": {
            "$ref": "EnrollAppRequest"
          },
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "EnrollAppResponse"
          },
          "path": "androidpublisher/v3/applications/{name}/appSigning:enrollApp"
        },
        "rotateAppSigningKey": {
          "request": {
            "$ref": "RotateAppSigningKeyRequest"
          },
          "id": "androidpublisher.appsigning.rotateAppSigningKey",
          "path": "androidpublisher/v3/applications/{name}/appSigning:rotateAppSigningKey",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "androidpublisher/v3/applications/{name}/appSigning:rotateAppSigningKey",
          "httpMethod": "POST",
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "description": "Required. Either package name or app ID of the app rotating the signing key.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "RotateAppSigningKeyResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "description": "Rotates an app's signing key to a new self-hosted Google Cloud KMS key. Warning: This method only applies to apps enrolled with self-hosted Cloud KMS keys. For apps using standard Google-managed Play App Signing, key rotation requests must be initiated through the Google Play Console UI. See Help Center: https://support.google.com/googleplay/android-developer/answer/9842756"
        }
      }
    },
    "edits": {
      "methods": {
        "get": {
          "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}",
          "parameters": {
            "packageName": {
              "required": true,
              "description": "Package name of the app.",
              "type": "string",
              "location": "path"
            },
            "editId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Identifier of the edit."
            }
          },
          "httpMethod": "GET",
          "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}",
          "description": "Gets an app edit.",
          "id": "androidpublisher.edits.get",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "response": {
            "$ref": "AppEdit"
          },
          "parameterOrder": [
            "packageName",
            "editId"
          ]
        },
        "insert": {
          "id": "androidpublisher.edits.insert",
          "response": {
            "$ref": "AppEdit"
          },
          "description": "Creates a new edit for an app.",
          "request": {
            "$ref": "AppEdit"
          },
          "parameterOrder": [
            "packageName"
          ],
          "flatPath": "androidpublisher/v3/applications/{packageName}/edits",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameters": {
            "packageName": {
              "location": "path",
              "required": true,
              "description": "Package name of the app.",
              "type": "string"
            }
          },
          "httpMethod": "POST",
          "path": "androidpublisher/v3/applications/{packageName}/edits"
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "description": "Deletes an app edit.",
          "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}",
          "parameterOrder": [
            "packageName",
            "editId"
          ],
          "parameters": {
            "packageName": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Package name of the app."
            },
            "editId": {
              "location": "path",
              "description": "Identifier of the edit.",
              "type": "string",
              "required": true
            }
          },
          "id": "androidpublisher.edits.delete",
          "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}",
          "httpMethod": "DELETE"
        },
        "validate": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}:validate",
          "parameters": {
            "packageName": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Package name of the app."
            },
            "editId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Identifier of the edit."
            }
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "packageName",
            "editId"
          ],
          "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}:validate",
          "description": "Validates an app edit.",
          "response": {
            "$ref": "AppEdit"
          },
          "id": "androidpublisher.edits.validate"
        },
        "commit": {
          "parameterOrder": [
            "packageName",
            "editId"
          ],
          "id": "androidpublisher.edits.commit",
          "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}:commit",
          "response": {
            "$ref": "AppEdit"
          },
          "description": "Commits an app edit.",
          "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}:commit",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameters": {
            "changesInReviewBehavior": {
              "type": "string",
              "enumDescriptions": [
                "Defaults to CANCEL_IN_REVIEW_AND_SUBMIT.",
                "If there are changes already in review, then this will cancel that review first and then send all the changes for publishing.",
                "If there are changes in review, then this will return an error. Please refer to the error message sample that is returned when this happens. Note that this won't invalidate the edit. If there aren't any changes in review, then this will continue and send the new changes for publishing."
              ],
              "location": "query",
              "description": "Optional. Specify how the API should behave if there are changes currently in review. If this value is not set, it will default to \"CANCEL_IN_REVIEW_AND_SUBMIT\", which will cancel the changes in review and then send all the changes for publishing.",
              "enum": [
                "CHANGES_IN_REVIEW_BEHAVIOR_TYPE_UNSPECIFIED",
                "CANCEL_IN_REVIEW_AND_SUBMIT",
                "ERROR_IF_IN_REVIEW"
              ]
            },
            "editId": {
              "location": "path",
              "description": "Identifier of the edit.",
              "required": true,
              "type": "string"
            },
            "packageName": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Package name of the app."
            },
            "changesNotSentForReview": {
              "location": "query",
              "description": "When a rejection happens, the parameter will make sure that the changes in this edit won't be reviewed until they are explicitly sent for review from within the Google Play Console UI. These changes will be added to any other changes that are not yet sent for review.",
              "type": "boolean"
            }
          },
          "httpMethod": "POST"
        }
      },
      "resources": {
        "deobfuscationfiles": {
          "methods": {
            "upload": {
              "id": "androidpublisher.edits.deobfuscationfiles.upload",
              "response": {
                "$ref": "DeobfuscationFilesUploadResponse"
              },
              "parameterOrder": [
                "packageName",
                "editId",
                "apkVersionCode",
                "deobfuscationFileType"
              ],
              "mediaUpload": {
                "accept": [
                  "application/octet-stream"
                ],
                "protocols": {
                  "resumable": {
                    "multipart": true,
                    "path": "/resumable/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/deobfuscationFiles/{deobfuscationFileType}"
                  },
                  "simple": {
                    "multipart": true,
                    "path": "/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/deobfuscationFiles/{deobfuscationFileType}"
                  }
                },
                "maxSize": "2097152000"
              },
              "description": "Uploads a new deobfuscation file and attaches to the specified APK.",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/deobfuscationFiles/{deobfuscationFileType}",
              "parameters": {
                "apkVersionCode": {
                  "required": true,
                  "description": "The version code of the APK whose Deobfuscation File is being uploaded.",
                  "location": "path",
                  "type": "integer",
                  "format": "int32"
                },
                "editId": {
                  "description": "Unique identifier for this edit.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "packageName": {
                  "description": "Unique identifier for the Android app.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "deobfuscationFileType": {
                  "type": "string",
                  "required": true,
                  "enumDescriptions": [
                    "Unspecified deobfuscation file type.",
                    "Proguard deobfuscation file type.",
                    "Native debugging symbols file type."
                  ],
                  "location": "path",
                  "description": "The type of the deobfuscation file.",
                  "enum": [
                    "deobfuscationFileTypeUnspecified",
                    "proguard",
                    "nativeCode"
                  ]
                }
              },
              "httpMethod": "POST",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/deobfuscationFiles/{deobfuscationFileType}",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "supportsMediaUpload": true
            }
          }
        },
        "tracks": {
          "methods": {
            "patch": {
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks/{track}",
              "id": "androidpublisher.edits.tracks.patch",
              "description": "Patches a track.",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameterOrder": [
                "packageName",
                "editId",
                "track"
              ],
              "parameters": {
                "track": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Identifier of the track. [More on track name](https://developers.google.com/android-publisher/tracks#ff-track-name)"
                },
                "editId": {
                  "location": "path",
                  "description": "Identifier of the edit.",
                  "type": "string",
                  "required": true
                },
                "packageName": {
                  "description": "Package name of the app.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "response": {
                "$ref": "Track"
              },
              "request": {
                "$ref": "Track"
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks/{track}",
              "httpMethod": "PATCH"
            },
            "create": {
              "parameters": {
                "packageName": {
                  "description": "Required. Package name of the app.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "editId": {
                  "type": "string",
                  "description": "Required. Identifier of the edit.",
                  "location": "path",
                  "required": true
                }
              },
              "description": "Creates a new track.",
              "httpMethod": "POST",
              "request": {
                "$ref": "TrackConfig"
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks",
              "id": "androidpublisher.edits.tracks.create",
              "response": {
                "$ref": "Track"
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameterOrder": [
                "packageName",
                "editId"
              ]
            },
            "update": {
              "parameters": {
                "packageName": {
                  "required": true,
                  "location": "path",
                  "description": "Package name of the app.",
                  "type": "string"
                },
                "track": {
                  "location": "path",
                  "description": "Identifier of the track. [More on track name](https://developers.google.com/android-publisher/tracks#ff-track-name)",
                  "required": true,
                  "type": "string"
                },
                "editId": {
                  "location": "path",
                  "type": "string",
                  "description": "Identifier of the edit.",
                  "required": true
                }
              },
              "id": "androidpublisher.edits.tracks.update",
              "httpMethod": "PUT",
              "parameterOrder": [
                "packageName",
                "editId",
                "track"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks/{track}",
              "response": {
                "$ref": "Track"
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks/{track}",
              "request": {
                "$ref": "Track"
              },
              "description": "Updates a track.",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameters": {
                "editId": {
                  "location": "path",
                  "description": "Identifier of the edit.",
                  "required": true,
                  "type": "string"
                },
                "packageName": {
                  "required": true,
                  "description": "Package name of the app.",
                  "type": "string",
                  "location": "path"
                },
                "track": {
                  "type": "string",
                  "location": "path",
                  "description": "Identifier of the track. [More on track name](https://developers.google.com/android-publisher/tracks#ff-track-name)",
                  "required": true
                }
              },
              "description": "Gets a track.",
              "response": {
                "$ref": "Track"
              },
              "parameterOrder": [
                "packageName",
                "editId",
                "track"
              ],
              "httpMethod": "GET",
              "id": "androidpublisher.edits.tracks.get",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks/{track}",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks/{track}"
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "id": "androidpublisher.edits.tracks.list",
              "httpMethod": "GET",
              "response": {
                "$ref": "TracksListResponse"
              },
              "description": "Lists all tracks.",
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "parameters": {
                "editId": {
                  "location": "path",
                  "type": "string",
                  "description": "Identifier of the edit.",
                  "required": true
                },
                "packageName": {
                  "required": true,
                  "type": "string",
                  "description": "Package name of the app.",
                  "location": "path"
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks"
            }
          }
        },
        "expansionfiles": {
          "methods": {
            "update": {
              "response": {
                "$ref": "ExpansionFile"
              },
              "parameters": {
                "apkVersionCode": {
                  "required": true,
                  "location": "path",
                  "type": "integer",
                  "format": "int32",
                  "description": "The version code of the APK whose expansion file configuration is being read or modified."
                },
                "packageName": {
                  "location": "path",
                  "type": "string",
                  "description": "Package name of the app.",
                  "required": true
                },
                "expansionFileType": {
                  "enum": [
                    "expansionFileTypeUnspecified",
                    "main",
                    "patch"
                  ],
                  "enumDescriptions": [
                    "Unspecified expansion file type.",
                    "Main expansion file.",
                    "Patch expansion file."
                  ],
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "The file type of the file configuration which is being read or modified."
                },
                "editId": {
                  "required": true,
                  "description": "Identifier of the edit.",
                  "type": "string",
                  "location": "path"
                }
              },
              "httpMethod": "PUT",
              "id": "androidpublisher.edits.expansionfiles.update",
              "request": {
                "$ref": "ExpansionFile"
              },
              "description": "Updates the APK's expansion file configuration to reference another APK's expansion file. To add a new expansion file use the Upload method.",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "parameterOrder": [
                "packageName",
                "editId",
                "apkVersionCode",
                "expansionFileType"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "get": {
              "httpMethod": "GET",
              "parameters": {
                "packageName": {
                  "required": true,
                  "description": "Package name of the app.",
                  "location": "path",
                  "type": "string"
                },
                "apkVersionCode": {
                  "description": "The version code of the APK whose expansion file configuration is being read or modified.",
                  "required": true,
                  "location": "path",
                  "format": "int32",
                  "type": "integer"
                },
                "expansionFileType": {
                  "description": "The file type of the file configuration which is being read or modified.",
                  "enumDescriptions": [
                    "Unspecified expansion file type.",
                    "Main expansion file.",
                    "Patch expansion file."
                  ],
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "enum": [
                    "expansionFileTypeUnspecified",
                    "main",
                    "patch"
                  ]
                },
                "editId": {
                  "type": "string",
                  "description": "Identifier of the edit.",
                  "required": true,
                  "location": "path"
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "response": {
                "$ref": "ExpansionFile"
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "id": "androidpublisher.edits.expansionfiles.get",
              "description": "Fetches the expansion file configuration for the specified APK.",
              "parameterOrder": [
                "packageName",
                "editId",
                "apkVersionCode",
                "expansionFileType"
              ]
            },
            "upload": {
              "supportsMediaUpload": true,
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "response": {
                "$ref": "ExpansionFilesUploadResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameterOrder": [
                "packageName",
                "editId",
                "apkVersionCode",
                "expansionFileType"
              ],
              "id": "androidpublisher.edits.expansionfiles.upload",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "httpMethod": "POST",
              "parameters": {
                "editId": {
                  "location": "path",
                  "description": "Identifier of the edit.",
                  "type": "string",
                  "required": true
                },
                "apkVersionCode": {
                  "format": "int32",
                  "location": "path",
                  "type": "integer",
                  "required": true,
                  "description": "The version code of the APK whose expansion file configuration is being read or modified."
                },
                "expansionFileType": {
                  "description": "The file type of the expansion file configuration which is being updated.",
                  "location": "path",
                  "required": true,
                  "enumDescriptions": [
                    "Unspecified expansion file type.",
                    "Main expansion file.",
                    "Patch expansion file."
                  ],
                  "type": "string",
                  "enum": [
                    "expansionFileTypeUnspecified",
                    "main",
                    "patch"
                  ]
                },
                "packageName": {
                  "description": "Package name of the app.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "mediaUpload": {
                "accept": [
                  "application/octet-stream"
                ],
                "protocols": {
                  "resumable": {
                    "path": "/resumable/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
                    "multipart": true
                  },
                  "simple": {
                    "path": "/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
                    "multipart": true
                  }
                },
                "maxSize": "2147483648"
              },
              "description": "Uploads a new expansion file and attaches to the specified APK."
            },
            "patch": {
              "id": "androidpublisher.edits.expansionfiles.patch",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameters": {
                "apkVersionCode": {
                  "location": "path",
                  "required": true,
                  "type": "integer",
                  "format": "int32",
                  "description": "The version code of the APK whose expansion file configuration is being read or modified."
                },
                "packageName": {
                  "type": "string",
                  "required": true,
                  "description": "Package name of the app.",
                  "location": "path"
                },
                "expansionFileType": {
                  "enumDescriptions": [
                    "Unspecified expansion file type.",
                    "Main expansion file.",
                    "Patch expansion file."
                  ],
                  "type": "string",
                  "description": "The file type of the expansion file configuration which is being updated.",
                  "location": "path",
                  "enum": [
                    "expansionFileTypeUnspecified",
                    "main",
                    "patch"
                  ],
                  "required": true
                },
                "editId": {
                  "location": "path",
                  "type": "string",
                  "description": "Identifier of the edit.",
                  "required": true
                }
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "httpMethod": "PATCH",
              "request": {
                "$ref": "ExpansionFile"
              },
              "response": {
                "$ref": "ExpansionFile"
              },
              "parameterOrder": [
                "packageName",
                "editId",
                "apkVersionCode",
                "expansionFileType"
              ],
              "description": "Patches the APK's expansion file configuration to reference another APK's expansion file. To add a new expansion file use the Upload method.",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}"
            }
          }
        },
        "details": {
          "methods": {
            "get": {
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/details",
              "description": "Gets details of an app.",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/details",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "AppDetails"
              },
              "parameters": {
                "packageName": {
                  "type": "string",
                  "location": "path",
                  "description": "Package name of the app.",
                  "required": true
                },
                "editId": {
                  "required": true,
                  "type": "string",
                  "description": "Identifier of the edit.",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "id": "androidpublisher.edits.details.get"
            },
            "patch": {
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "description": "Patches details of an app.",
              "parameters": {
                "editId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Identifier of the edit."
                },
                "packageName": {
                  "location": "path",
                  "type": "string",
                  "description": "Package name of the app.",
                  "required": true
                }
              },
              "request": {
                "$ref": "AppDetails"
              },
              "httpMethod": "PATCH",
              "response": {
                "$ref": "AppDetails"
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/details",
              "id": "androidpublisher.edits.details.patch",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/details",
              "parameterOrder": [
                "packageName",
                "editId"
              ]
            },
            "update": {
              "response": {
                "$ref": "AppDetails"
              },
              "id": "androidpublisher.edits.details.update",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/details",
              "description": "Updates details of an app.",
              "parameters": {
                "editId": {
                  "required": true,
                  "description": "Identifier of the edit.",
                  "type": "string",
                  "location": "path"
                },
                "packageName": {
                  "location": "path",
                  "description": "Package name of the app.",
                  "type": "string",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "request": {
                "$ref": "AppDetails"
              },
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/details",
              "httpMethod": "PUT"
            }
          }
        },
        "countryavailability": {
          "methods": {
            "get": {
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/countryAvailability/{track}",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/countryAvailability/{track}",
              "id": "androidpublisher.edits.countryavailability.get",
              "description": "Gets country availability.",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "httpMethod": "GET",
              "parameters": {
                "track": {
                  "description": "The track to read from.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "editId": {
                  "location": "path",
                  "description": "Identifier of the edit.",
                  "required": true,
                  "type": "string"
                },
                "packageName": {
                  "description": "Package name of the app.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "TrackCountryAvailability"
              },
              "parameterOrder": [
                "packageName",
                "editId",
                "track"
              ]
            }
          }
        },
        "listings": {
          "methods": {
            "patch": {
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}",
              "id": "androidpublisher.edits.listings.patch",
              "parameters": {
                "language": {
                  "required": true,
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German).",
                  "type": "string",
                  "location": "path"
                },
                "packageName": {
                  "location": "path",
                  "type": "string",
                  "description": "Package name of the app.",
                  "required": true
                },
                "editId": {
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "httpMethod": "PATCH",
              "request": {
                "$ref": "Listing"
              },
              "parameterOrder": [
                "packageName",
                "editId",
                "language"
              ],
              "description": "Patches a localized store listing.",
              "response": {
                "$ref": "Listing"
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}"
            },
            "list": {
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "id": "androidpublisher.edits.listings.list",
              "response": {
                "$ref": "ListingsListResponse"
              },
              "description": "Lists all localized store listings.",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings",
              "parameters": {
                "packageName": {
                  "required": true,
                  "description": "Package name of the app.",
                  "location": "path",
                  "type": "string"
                },
                "editId": {
                  "required": true,
                  "location": "path",
                  "description": "Identifier of the edit.",
                  "type": "string"
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "httpMethod": "GET"
            },
            "deleteall": {
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings",
              "id": "androidpublisher.edits.listings.deleteall",
              "description": "Deletes all store listings.",
              "httpMethod": "DELETE",
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings",
              "parameters": {
                "packageName": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Package name of the app."
                },
                "editId": {
                  "location": "path",
                  "description": "Identifier of the edit.",
                  "type": "string",
                  "required": true
                }
              }
            },
            "get": {
              "parameterOrder": [
                "packageName",
                "editId",
                "language"
              ],
              "id": "androidpublisher.edits.listings.get",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}",
              "description": "Gets a localized store listing.",
              "response": {
                "$ref": "Listing"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameters": {
                "packageName": {
                  "required": true,
                  "type": "string",
                  "description": "Package name of the app.",
                  "location": "path"
                },
                "editId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Identifier of the edit."
                },
                "language": {
                  "location": "path",
                  "type": "string",
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German).",
                  "required": true
                }
              },
              "httpMethod": "GET",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}"
            },
            "update": {
              "id": "androidpublisher.edits.listings.update",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "description": "Creates or updates a localized store listing.",
              "parameterOrder": [
                "packageName",
                "editId",
                "language"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}",
              "request": {
                "$ref": "Listing"
              },
              "response": {
                "$ref": "Listing"
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}",
              "httpMethod": "PUT",
              "parameters": {
                "packageName": {
                  "type": "string",
                  "description": "Package name of the app.",
                  "location": "path",
                  "required": true
                },
                "editId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Identifier of the edit."
                },
                "language": {
                  "type": "string",
                  "location": "path",
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German).",
                  "required": true
                }
              }
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}",
              "id": "androidpublisher.edits.listings.delete",
              "parameterOrder": [
                "packageName",
                "editId",
                "language"
              ],
              "parameters": {
                "packageName": {
                  "required": true,
                  "description": "Package name of the app.",
                  "type": "string",
                  "location": "path"
                },
                "language": {
                  "type": "string",
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German).",
                  "required": true,
                  "location": "path"
                },
                "editId": {
                  "location": "path",
                  "required": true,
                  "description": "Identifier of the edit.",
                  "type": "string"
                }
              },
              "httpMethod": "DELETE",
              "description": "Deletes a localized store listing."
            }
          }
        },
        "bundles": {
          "methods": {
            "list": {
              "id": "androidpublisher.edits.bundles.list",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/bundles",
              "parameters": {
                "editId": {
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "packageName": {
                  "type": "string",
                  "description": "Package name of the app.",
                  "location": "path",
                  "required": true
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/bundles",
              "response": {
                "$ref": "BundlesListResponse"
              },
              "httpMethod": "GET",
              "description": "Lists all current Android App Bundles of the app and edit.",
              "parameterOrder": [
                "packageName",
                "editId"
              ]
            },
            "upload": {
              "id": "androidpublisher.edits.bundles.upload",
              "httpMethod": "POST",
              "parameters": {
                "packageName": {
                  "description": "Package name of the app.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "deviceTierConfigId": {
                  "description": "Device tier config (DTC) to be used for generating deliverables (APKs). Contains id of the DTC or \"LATEST\" for last uploaded DTC.",
                  "type": "string",
                  "location": "query"
                },
                "editId": {
                  "location": "path",
                  "description": "Identifier of the edit.",
                  "type": "string",
                  "required": true
                },
                "ackBundleInstallationWarning": {
                  "type": "boolean",
                  "deprecated": true,
                  "location": "query",
                  "description": "Deprecated. The installation warning has been removed, it's not necessary to set this field anymore."
                }
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/bundles",
              "response": {
                "$ref": "Bundle"
              },
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/bundles",
              "supportsMediaUpload": true,
              "mediaUpload": {
                "accept": [
                  "application/octet-stream"
                ],
                "protocols": {
                  "simple": {
                    "path": "/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/bundles",
                    "multipart": true
                  },
                  "resumable": {
                    "path": "/resumable/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/bundles",
                    "multipart": true
                  }
                },
                "maxSize": "53687091200"
              },
              "description": "Uploads a new Android App Bundle to this edit. If you are using the Google API client libraries, please increase the timeout of the http request before calling this endpoint (a timeout of 2 minutes is recommended). See [Timeouts and Errors](https://developers.google.com/api-client-library/java/google-api-java-client/errors) for an example in java."
            }
          }
        },
        "images": {
          "methods": {
            "upload": {
              "supportsMediaUpload": true,
              "parameterOrder": [
                "packageName",
                "editId",
                "language",
                "imageType"
              ],
              "parameters": {
                "aiGeneratedState": {
                  "enum": [
                    "aiGeneratedStateUnspecified",
                    "aiGeneratedStateNotAiGenerated",
                    "aiGeneratedStateAiGeneratedDeveloperAttested"
                  ],
                  "description": "Optional. Whether the image was generated by AI. Attested by the developer.",
                  "enumDescriptions": [
                    "Catch-all for unrecognized enum values. See go/protodosdonts.",
                    "The content is not generated by AI.",
                    "The content is generated by AI and attested by the developer."
                  ],
                  "location": "query",
                  "type": "string"
                },
                "language": {
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German). Providing a language that is not supported by the App is a no-op.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "imageType": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "enumDescriptions": [
                    "Unspecified type. Do not use.",
                    "Phone screenshot.",
                    "Seven inch screenshot.",
                    "Ten inch screenshot.",
                    "TV screenshot.",
                    "Wear screenshot.",
                    "Icon.",
                    "Feature graphic.",
                    "TV banner."
                  ],
                  "enum": [
                    "appImageTypeUnspecified",
                    "phoneScreenshots",
                    "sevenInchScreenshots",
                    "tenInchScreenshots",
                    "tvScreenshots",
                    "wearScreenshots",
                    "icon",
                    "featureGraphic",
                    "tvBanner"
                  ],
                  "description": "Type of the Image."
                },
                "packageName": {
                  "location": "path",
                  "description": "Package name of the app.",
                  "required": true,
                  "type": "string"
                },
                "editId": {
                  "description": "Identifier of the edit.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "httpMethod": "POST",
              "response": {
                "$ref": "ImagesUploadResponse"
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}",
              "id": "androidpublisher.edits.images.upload",
              "mediaUpload": {
                "protocols": {
                  "simple": {
                    "path": "/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}",
                    "multipart": true
                  },
                  "resumable": {
                    "path": "/resumable/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}",
                    "multipart": true
                  }
                },
                "accept": [
                  "image/*"
                ],
                "maxSize": "15728640"
              },
              "description": "Uploads an image of the specified language and image type, and adds to the edit.",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "list": {
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}",
              "parameterOrder": [
                "packageName",
                "editId",
                "language",
                "imageType"
              ],
              "description": "Lists all images. The response may be empty.",
              "httpMethod": "GET",
              "id": "androidpublisher.edits.images.list",
              "parameters": {
                "language": {
                  "type": "string",
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German). There must be a store listing for the specified language.",
                  "required": true,
                  "location": "path"
                },
                "imageType": {
                  "required": true,
                  "type": "string",
                  "description": "Type of the Image. Providing an image type that refers to no images will return an empty response.",
                  "location": "path",
                  "enumDescriptions": [
                    "Unspecified type. Do not use.",
                    "Phone screenshot.",
                    "Seven inch screenshot.",
                    "Ten inch screenshot.",
                    "TV screenshot.",
                    "Wear screenshot.",
                    "Icon.",
                    "Feature graphic.",
                    "TV banner."
                  ],
                  "enum": [
                    "appImageTypeUnspecified",
                    "phoneScreenshots",
                    "sevenInchScreenshots",
                    "tenInchScreenshots",
                    "tvScreenshots",
                    "wearScreenshots",
                    "icon",
                    "featureGraphic",
                    "tvBanner"
                  ]
                },
                "packageName": {
                  "location": "path",
                  "description": "Package name of the app.",
                  "required": true,
                  "type": "string"
                },
                "editId": {
                  "description": "Identifier of the edit.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "response": {
                "$ref": "ImagesListResponse"
              }
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "description": "Deletes the image (specified by id) from the edit.",
              "id": "androidpublisher.edits.images.delete",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}/{imageId}",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}/{imageId}",
              "parameters": {
                "editId": {
                  "description": "Identifier of the edit.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "imageId": {
                  "type": "string",
                  "required": true,
                  "description": "Unique identifier an image within the set of images attached to this edit.",
                  "location": "path"
                },
                "imageType": {
                  "location": "path",
                  "enum": [
                    "appImageTypeUnspecified",
                    "phoneScreenshots",
                    "sevenInchScreenshots",
                    "tenInchScreenshots",
                    "tvScreenshots",
                    "wearScreenshots",
                    "icon",
                    "featureGraphic",
                    "tvBanner"
                  ],
                  "required": true,
                  "description": "Type of the Image.",
                  "enumDescriptions": [
                    "Unspecified type. Do not use.",
                    "Phone screenshot.",
                    "Seven inch screenshot.",
                    "Ten inch screenshot.",
                    "TV screenshot.",
                    "Wear screenshot.",
                    "Icon.",
                    "Feature graphic.",
                    "TV banner."
                  ],
                  "type": "string"
                },
                "packageName": {
                  "description": "Package name of the app.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "language": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German)."
                }
              },
              "parameterOrder": [
                "packageName",
                "editId",
                "language",
                "imageType",
                "imageId"
              ],
              "httpMethod": "DELETE"
            },
            "deleteall": {
              "response": {
                "$ref": "ImagesDeleteAllResponse"
              },
              "httpMethod": "DELETE",
              "parameters": {
                "editId": {
                  "type": "string",
                  "required": true,
                  "description": "Identifier of the edit.",
                  "location": "path"
                },
                "language": {
                  "location": "path",
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German). Providing a language that is not supported by the App is a no-op.",
                  "type": "string",
                  "required": true
                },
                "imageType": {
                  "enum": [
                    "appImageTypeUnspecified",
                    "phoneScreenshots",
                    "sevenInchScreenshots",
                    "tenInchScreenshots",
                    "tvScreenshots",
                    "wearScreenshots",
                    "icon",
                    "featureGraphic",
                    "tvBanner"
                  ],
                  "description": "Type of the Image. Providing an image type that refers to no images is a no-op.",
                  "required": true,
                  "enumDescriptions": [
                    "Unspecified type. Do not use.",
                    "Phone screenshot.",
                    "Seven inch screenshot.",
                    "Ten inch screenshot.",
                    "TV screenshot.",
                    "Wear screenshot.",
                    "Icon.",
                    "Feature graphic.",
                    "TV banner."
                  ],
                  "type": "string",
                  "location": "path"
                },
                "packageName": {
                  "type": "string",
                  "required": true,
                  "description": "Package name of the app.",
                  "location": "path"
                }
              },
              "description": "Deletes all images for the specified language and image type. Returns an empty response if no images are found.",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}",
              "parameterOrder": [
                "packageName",
                "editId",
                "language",
                "imageType"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}",
              "id": "androidpublisher.edits.images.deleteall"
            }
          }
        },
        "apks": {
          "methods": {
            "list": {
              "id": "androidpublisher.edits.apks.list",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameters": {
                "editId": {
                  "required": true,
                  "description": "Identifier of the edit.",
                  "type": "string",
                  "location": "path"
                },
                "packageName": {
                  "required": true,
                  "type": "string",
                  "description": "Package name of the app.",
                  "location": "path"
                }
              },
              "httpMethod": "GET",
              "description": "Lists all current APKs of the app and edit.",
              "response": {
                "$ref": "ApksListResponse"
              },
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks"
            },
            "addexternallyhosted": {
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/externallyHosted",
              "description": "Creates a new APK without uploading the APK itself to Google Play, instead hosting the APK at a specified URL. This function is only available to organizations using Managed Play whose application is configured to restrict distribution to the organizations.",
              "parameters": {
                "editId": {
                  "required": true,
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "type": "string"
                },
                "packageName": {
                  "required": true,
                  "description": "Package name of the app.",
                  "type": "string",
                  "location": "path"
                }
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/externallyHosted",
              "response": {
                "$ref": "ApksAddExternallyHostedResponse"
              },
              "request": {
                "$ref": "ApksAddExternallyHostedRequest"
              },
              "id": "androidpublisher.edits.apks.addexternallyhosted"
            },
            "upload": {
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks",
              "mediaUpload": {
                "accept": [
                  "application/octet-stream",
                  "application/vnd.android.package-archive"
                ],
                "protocols": {
                  "simple": {
                    "path": "/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/apks",
                    "multipart": true
                  },
                  "resumable": {
                    "path": "/resumable/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/apks",
                    "multipart": true
                  }
                },
                "maxSize": "10737418240"
              },
              "description": "Uploads an APK and adds to the current edit.",
              "id": "androidpublisher.edits.apks.upload",
              "parameters": {
                "editId": {
                  "location": "path",
                  "description": "Identifier of the edit.",
                  "type": "string",
                  "required": true
                },
                "packageName": {
                  "location": "path",
                  "description": "Package name of the app.",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "httpMethod": "POST",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks",
              "supportsMediaUpload": true,
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "response": {
                "$ref": "Apk"
              }
            }
          }
        },
        "testers": {
          "methods": {
            "update": {
              "request": {
                "$ref": "Testers"
              },
              "httpMethod": "PUT",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/testers/{track}",
              "parameters": {
                "track": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "The track to update."
                },
                "editId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Identifier of the edit."
                },
                "packageName": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Package name of the app."
                }
              },
              "description": "Updates testers. Note: Testers resource does not support email lists.",
              "response": {
                "$ref": "Testers"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/testers/{track}",
              "parameterOrder": [
                "packageName",
                "editId",
                "track"
              ],
              "id": "androidpublisher.edits.testers.update"
            },
            "get": {
              "parameters": {
                "track": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The track to read from."
                },
                "editId": {
                  "location": "path",
                  "type": "string",
                  "description": "Identifier of the edit.",
                  "required": true
                },
                "packageName": {
                  "location": "path",
                  "type": "string",
                  "description": "Package name of the app.",
                  "required": true
                }
              },
              "description": "Gets testers. Note: Testers resource does not support email lists.",
              "parameterOrder": [
                "packageName",
                "editId",
                "track"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/testers/{track}",
              "response": {
                "$ref": "Testers"
              },
              "id": "androidpublisher.edits.testers.get",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/testers/{track}"
            },
            "patch": {
              "id": "androidpublisher.edits.testers.patch",
              "request": {
                "$ref": "Testers"
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/testers/{track}",
              "parameters": {
                "packageName": {
                  "required": true,
                  "type": "string",
                  "description": "Package name of the app.",
                  "location": "path"
                },
                "track": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "The track to update."
                },
                "editId": {
                  "description": "Identifier of the edit.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "parameterOrder": [
                "packageName",
                "editId",
                "track"
              ],
              "httpMethod": "PATCH",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/testers/{track}",
              "description": "Patches testers. Note: Testers resource does not support email lists.",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "response": {
                "$ref": "Testers"
              }
            }
          }
        }
      }
    },
    "orders": {
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "description": "Get order details for a single order.",
          "flatPath": "androidpublisher/v3/applications/{packageName}/orders/{orderId}",
          "httpMethod": "GET",
          "id": "androidpublisher.orders.get",
          "parameters": {
            "packageName": {
              "type": "string",
              "required": true,
              "description": "Required. The package name of the application for which this subscription or in-app item was purchased (for example, 'com.some.thing').",
              "location": "path"
            },
            "orderId": {
              "required": true,
              "location": "path",
              "description": "Required. The order ID provided to the user when the subscription or in-app order was purchased.",
              "type": "string"
            }
          },
          "path": "androidpublisher/v3/applications/{packageName}/orders/{orderId}",
          "parameterOrder": [
            "packageName",
            "orderId"
          ],
          "response": {
            "$ref": "Order"
          }
        },
        "batchget": {
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "path": "androidpublisher/v3/applications/{packageName}/orders:batchGet",
          "parameters": {
            "packageName": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Required. The package name of the application for which this subscription or in-app item was purchased (for example, 'com.some.thing')."
            },
            "orderIds": {
              "location": "query",
              "description": "Required. The list of order IDs to retrieve order details for. There must be between 1 and 1000 (inclusive) order IDs per request. If any order ID is not found or does not match the provided package, the entire request will fail with an error. The order IDs must be distinct.",
              "repeated": true,
              "type": "string"
            }
          },
          "flatPath": "androidpublisher/v3/applications/{packageName}/orders:batchGet",
          "id": "androidpublisher.orders.batchget",
          "description": "Get order details for a list of orders.",
          "response": {
            "$ref": "BatchGetOrdersResponse"
          },
          "parameterOrder": [
            "packageName"
          ]
        },
        "refund": {
          "id": "androidpublisher.orders.refund",
          "parameters": {
            "revoke": {
              "location": "query",
              "type": "boolean",
              "description": "Whether to revoke the purchased item. If set to true, access to the subscription or in-app item will be terminated immediately. If the item is a recurring subscription, all future payments will also be terminated. Consumed in-app items need to be handled by developer's app. (optional)."
            },
            "packageName": {
              "location": "path",
              "type": "string",
              "description": "The package name of the application for which this subscription or in-app item was purchased (for example, 'com.some.thing').",
              "required": true
            },
            "orderId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The order ID provided to the user when the subscription or in-app order was purchased."
            }
          },
          "description": "Refunds a user's subscription or in-app purchase order. Orders older than 3 years cannot be refunded.",
          "httpMethod": "POST",
          "path": "androidpublisher/v3/applications/{packageName}/orders/{orderId}:refund",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "flatPath": "androidpublisher/v3/applications/{packageName}/orders/{orderId}:refund",
          "parameterOrder": [
            "packageName",
            "orderId"
          ]
        },
        "reviewrefund": {
          "id": "androidpublisher.orders.reviewrefund",
          "request": {
            "$ref": "OrdersReviewRefundRequest"
          },
          "flatPath": "androidpublisher/v3/applications/{packageName}/orders/{orderId}:reviewrefund",
          "description": "Provide refund preference and purchase usage for a chargeback request",
          "path": "androidpublisher/v3/applications/{packageName}/orders/{orderId}:reviewrefund",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "httpMethod": "POST",
          "parameters": {
            "packageName": {
              "location": "path",
              "description": "Required. The package name of the application for which this subscription or in-app item was purchased (for example, 'com.some.thing').",
              "type": "string",
              "required": true
            },
            "orderId": {
              "required": true,
              "description": "Required. The order ID provided to the user when the subscription or in-app order was purchased.",
              "type": "string",
              "location": "path"
            }
          },
          "parameterOrder": [
            "packageName",
            "orderId"
          ]
        }
      }
    },
    "monetization": {
      "resources": {
        "onetimeproducts": {
          "resources": {
            "purchaseOptions": {
              "resources": {
                "offers": {
                  "methods": {
                    "batchGet": {
                      "id": "androidpublisher.monetization.onetimeproducts.purchaseOptions.offers.batchGet",
                      "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers:batchGet",
                      "parameters": {
                        "packageName": {
                          "type": "string",
                          "required": true,
                          "description": "Required. The parent app (package name) of the updated offers. Must be equal to the package_name field on all the updated OneTimeProductOffer resources.",
                          "location": "path"
                        },
                        "purchaseOptionId": {
                          "location": "path",
                          "description": "Required. The parent purchase option (ID) for which the offers should be updated. May be specified as '-' to update offers from multiple purchase options.",
                          "required": true,
                          "type": "string"
                        },
                        "productId": {
                          "location": "path",
                          "type": "string",
                          "description": "Required. The product ID of the parent one-time product, if all updated offers belong to the same product. If this request spans multiple one-time products, set this field to \"-\".",
                          "required": true
                        }
                      },
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "BatchGetOneTimeProductOffersResponse"
                      },
                      "description": "Reads one or more one-time product offers.",
                      "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                      ],
                      "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers:batchGet",
                      "parameterOrder": [
                        "packageName",
                        "productId",
                        "purchaseOptionId"
                      ],
                      "request": {
                        "$ref": "BatchGetOneTimeProductOffersRequest"
                      }
                    },
                    "batchDelete": {
                      "parameters": {
                        "productId": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. The product ID of the parent one-time product, if all offers to delete belong to the same product. If this request spans multiple one-time products, set this field to \"-\"."
                        },
                        "packageName": {
                          "location": "path",
                          "description": "Required. The parent app (package name) of the offers to delete. Must be equal to the package_name field on all the OneTimeProductOffer resources.",
                          "type": "string",
                          "required": true
                        },
                        "purchaseOptionId": {
                          "location": "path",
                          "required": true,
                          "description": "Required. The parent purchase option (ID) for which the offers should be deleted. May be specified as '-' to update offers from multiple purchase options.",
                          "type": "string"
                        }
                      },
                      "httpMethod": "POST",
                      "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers:batchDelete",
                      "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                      ],
                      "id": "androidpublisher.monetization.onetimeproducts.purchaseOptions.offers.batchDelete",
                      "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers:batchDelete",
                      "description": "Deletes one or more one-time product offers.",
                      "parameterOrder": [
                        "packageName",
                        "productId",
                        "purchaseOptionId"
                      ],
                      "request": {
                        "$ref": "BatchDeleteOneTimeProductOffersRequest"
                      }
                    },
                    "batchUpdateStates": {
                      "request": {
                        "$ref": "BatchUpdateOneTimeProductOfferStatesRequest"
                      },
                      "id": "androidpublisher.monetization.onetimeproducts.purchaseOptions.offers.batchUpdateStates",
                      "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers:batchUpdateStates",
                      "parameters": {
                        "packageName": {
                          "description": "Required. The parent app (package name) of the updated one-time product offers.",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        },
                        "productId": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Required. The product ID of the parent one-time product, if all updated offers belong to the same one-time product. If this batch update spans multiple one-time products, set this field to \"-\"."
                        },
                        "purchaseOptionId": {
                          "description": "Required. The purchase option ID of the parent purchase option, if all updated offers belong to the same purchase option. If this batch update spans multiple purchase options, set this field to \"-\".",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "response": {
                        "$ref": "BatchUpdateOneTimeProductOfferStatesResponse"
                      },
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "packageName",
                        "productId",
                        "purchaseOptionId"
                      ],
                      "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers:batchUpdateStates",
                      "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                      ],
                      "description": "Updates a batch of one-time product offer states."
                    },
                    "cancel": {
                      "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                      ],
                      "httpMethod": "POST",
                      "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers/{offerId}:cancel",
                      "id": "androidpublisher.monetization.onetimeproducts.purchaseOptions.offers.cancel",
                      "parameters": {
                        "packageName": {
                          "description": "Required. The parent app (package name) of the offer to cancel.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "purchaseOptionId": {
                          "description": "Required. The parent purchase option (ID) of the offer to cancel.",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        },
                        "offerId": {
                          "location": "path",
                          "description": "Required. The offer ID of the offer to cancel.",
                          "type": "string",
                          "required": true
                        },
                        "productId": {
                          "type": "string",
                          "location": "path",
                          "description": "Required. The parent one-time product (ID) of the offer to cancel.",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "packageName",
                        "productId",
                        "purchaseOptionId",
                        "offerId"
                      ],
                      "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers/{offerId}:cancel",
                      "description": "Cancels a one-time product offer.",
                      "response": {
                        "$ref": "OneTimeProductOffer"
                      },
                      "request": {
                        "$ref": "CancelOneTimeProductOfferRequest"
                      }
                    },
                    "activate": {
                      "parameterOrder": [
                        "packageName",
                        "productId",
                        "purchaseOptionId",
                        "offerId"
                      ],
                      "id": "androidpublisher.monetization.onetimeproducts.purchaseOptions.offers.activate",
                      "response": {
                        "$ref": "OneTimeProductOffer"
                      },
                      "request": {
                        "$ref": "ActivateOneTimeProductOfferRequest"
                      },
                      "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers/{offerId}:activate",
                      "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers/{offerId}:activate",
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                      ],
                      "parameters": {
                        "productId": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Required. The parent one-time product (ID) of the offer to activate."
                        },
                        "offerId": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "Required. The offer ID of the offer to activate."
                        },
                        "packageName": {
                          "required": true,
                          "description": "Required. The parent app (package name) of the offer to activate.",
                          "type": "string",
                          "location": "path"
                        },
                        "purchaseOptionId": {
                          "required": true,
                          "description": "Required. The parent purchase option (ID) of the offer to activate.",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "description": "Activates a one-time product offer."
[...]
