{
  "ownerName": "Google",
  "servicePath": "",
  "name": "androiddeviceprovisioning",
  "canonicalName": "Android Provisioning Partner",
  "discoveryVersion": "v1",
  "resources": {
    "customers": {
      "resources": {
        "configurations": {
          "methods": {
            "get": {
              "parameters": {
                "name": {
                  "description": "Required. The configuration to get. An API resource name in the format `customers/[CUSTOMER_ID]/configurations/[CONFIGURATION_ID]`.",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^customers/[^/]+/configurations/[^/]+$"
                }
              },
              "response": {
                "$ref": "Configuration"
              },
              "id": "androiddeviceprovisioning.customers.configurations.get",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/customers/{customersId}/configurations/{configurationsId}",
              "httpMethod": "GET",
              "path": "v1/{+name}",
              "description": "Gets the details of a configuration."
            },
            "create": {
              "id": "androiddeviceprovisioning.customers.configurations.create",
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "pattern": "^customers/[^/]+$",
                  "description": "Required. The customer that manages the configuration. An API resource name in the format `customers/[CUSTOMER_ID]`. This field has custom validation in CreateConfigurationRequestValidator",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "Configuration"
              },
              "path": "v1/{+parent}/configurations",
              "description": "Creates a new configuration. Once created, a customer can apply the configuration to devices.",
              "flatPath": "v1/customers/{customersId}/configurations",
              "request": {
                "$ref": "Configuration"
              }
            },
            "patch": {
              "httpMethod": "PATCH",
              "id": "androiddeviceprovisioning.customers.configurations.patch",
              "flatPath": "v1/customers/{customersId}/configurations/{configurationsId}",
              "request": {
                "$ref": "Configuration"
              },
              "path": "v1/{+name}",
              "description": "Updates a configuration's field values.",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Output only. The API resource name in the format `customers/[CUSTOMER_ID]/configurations/[CONFIGURATION_ID]`. Assigned by the server.",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^customers/[^/]+/configurations/[^/]+$"
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "description": "Required. The field mask applied to the target `Configuration` before updating the fields. To learn more about using field masks, read [FieldMask](/protocol-buffers/docs/reference/google.protobuf#fieldmask) in the Protocol Buffers documentation.",
                  "location": "query",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Configuration"
              }
            },
            "list": {
              "id": "androiddeviceprovisioning.customers.configurations.list",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "pattern": "^customers/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. The customer that manages the listed configurations. An API resource name in the format `customers/[CUSTOMER_ID]`.",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "CustomerListConfigurationsResponse"
              },
              "path": "v1/{+parent}/configurations",
              "description": "Lists a customer's configurations.",
              "flatPath": "v1/customers/{customersId}/configurations",
              "httpMethod": "GET"
            },
            "delete": {
              "id": "androiddeviceprovisioning.customers.configurations.delete",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. The configuration to delete. An API resource name in the format `customers/[CUSTOMER_ID]/configurations/[CONFIGURATION_ID]`. If the configuration is applied to any devices, the API call fails.",
                  "location": "path",
                  "pattern": "^customers/[^/]+/configurations/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "response": {
                "$ref": "Empty"
              },
              "path": "v1/{+name}",
              "description": "Deletes an unused configuration. The API call fails if the customer has devices with the configuration applied.",
              "flatPath": "v1/customers/{customersId}/configurations/{configurationsId}",
              "httpMethod": "DELETE"
            }
          }
        },
        "devices": {
          "methods": {
            "list": {
              "flatPath": "v1/customers/{customersId}/devices",
              "httpMethod": "GET",
              "path": "v1/{+parent}/devices",
              "description": "Lists a customer's devices.",
              "parameters": {
                "parent": {
                  "description": "Required. The customer managing the devices. An API resource name in the format `customers/[CUSTOMER_ID]`.",
                  "location": "path",
                  "type": "string",
                  "pattern": "^customers/[^/]+$",
                  "required": true
                },
                "pageSize": {
                  "format": "int64",
                  "description": "Optional. The maximum number of devices to show in a page of results. If unset or 0, defaults to 1000. If a value greater than 1000 is specified, it will be coerced to 1000.",
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "description": "A token specifying which result page to return.",
                  "location": "query",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "CustomerListDevicesResponse"
              },
              "id": "androiddeviceprovisioning.customers.devices.list",
              "parameterOrder": [
                "parent"
              ]
            },
            "unclaim": {
              "flatPath": "v1/customers/{customersId}/devices:unclaim",
              "request": {
                "$ref": "CustomerUnclaimDeviceRequest"
              },
              "path": "v1/{+parent}/devices:unclaim",
              "description": "Unclaims a device from a customer and removes it from zero-touch enrollment. After removing a device, a customer must contact their reseller to register the device into zero-touch enrollment again.",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "description": "Required. The customer managing the device. An API resource name in the format `customers/[CUSTOMER_ID]`.",
                  "location": "path",
                  "required": true,
                  "pattern": "^customers/[^/]+$",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Empty"
              },
              "httpMethod": "POST",
              "id": "androiddeviceprovisioning.customers.devices.unclaim"
            },
            "removeConfiguration": {
              "flatPath": "v1/customers/{customersId}/devices:removeConfiguration",
              "request": {
                "$ref": "CustomerRemoveConfigurationRequest"
              },
              "path": "v1/{+parent}/devices:removeConfiguration",
              "description": "Removes a configuration from device.",
              "parameters": {
                "parent": {
                  "pattern": "^customers/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. The customer managing the device in the format `customers/[CUSTOMER_ID]`.",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "Empty"
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "id": "androiddeviceprovisioning.customers.devices.removeConfiguration"
            },
            "get": {
              "parameters": {
                "name": {
                  "description": "Required. The device to get. An API resource name in the format `customers/[CUSTOMER_ID]/devices/[DEVICE_ID]`.",
                  "location": "path",
                  "type": "string",
                  "pattern": "^customers/[^/]+/devices/[^/]+$",
                  "required": true
                }
              },
              "response": {
                "$ref": "Device"
              },
              "id": "androiddeviceprovisioning.customers.devices.get",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/customers/{customersId}/devices/{devicesId}",
              "httpMethod": "GET",
              "path": "v1/{+name}",
              "description": "Gets the details of a device."
            },
            "applyConfiguration": {
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^customers/[^/]+$",
                  "type": "string",
                  "description": "Required. The customer managing the device. An API resource name in the format `customers/[CUSTOMER_ID]`.",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "Empty"
              },
              "flatPath": "v1/customers/{customersId}/devices:applyConfiguration",
              "request": {
                "$ref": "CustomerApplyConfigurationRequest"
              },
              "path": "v1/{+parent}/devices:applyConfiguration",
              "description": "Applies a Configuration to the device to register the device for zero-touch enrollment. After applying a configuration to a device, the device automatically provisions itself on first boot, or next factory reset.",
              "id": "androiddeviceprovisioning.customers.devices.applyConfiguration",
              "httpMethod": "POST"
            }
          }
        },
        "dpcs": {
          "methods": {
            "list": {
              "parameters": {
                "parent": {
                  "description": "Required. The customer that can use the DPCs in configurations. An API resource name in the format `customers/[CUSTOMER_ID]`.",
                  "location": "path",
                  "type": "string",
                  "pattern": "^customers/[^/]+$",
                  "required": true
                }
              },
              "response": {
                "$ref": "CustomerListDpcsResponse"
              },
              "id": "androiddeviceprovisioning.customers.dpcs.list",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/dpcs",
              "description": "Lists the DPCs (device policy controllers) that support zero-touch enrollment.",
              "flatPath": "v1/customers/{customersId}/dpcs",
              "httpMethod": "GET"
            }
          }
        }
      },
      "methods": {
        "list": {
          "id": "androiddeviceprovisioning.customers.list",
          "parameterOrder": [],
          "parameters": {
            "pageSize": {
              "format": "int32",
              "description": "Required. The maximum number of customers to show in a page of results. A number between 1 and 100 (inclusive).",
              "location": "query",
              "type": "integer"
            },
            "pageToken": {
              "type": "string",
              "description": "A token specifying which result page to return. This field has custom validations in ListCustomersRequestValidator",
              "location": "query"
            }
          },
          "response": {
            "$ref": "CustomerListCustomersResponse"
          },
          "flatPath": "v1/customers",
          "httpMethod": "GET",
          "path": "v1/customers",
          "description": "Lists the user's customer accounts."
        }
      }
    },
    "operations": {
      "methods": {
        "get": {
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^operations/.*$",
              "required": true,
              "description": "The name of the operation resource.",
              "location": "path"
            }
          },
          "response": {
            "$ref": "Operation"
          },
          "id": "androiddeviceprovisioning.operations.get",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1/operations/{operationsId}",
          "httpMethod": "GET",
          "path": "v1/{+name}",
          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
        }
      }
    },
    "partners": {
      "resources": {
        "vendors": {
          "methods": {
            "list": {
              "flatPath": "v1/partners/{partnersId}/vendors",
              "httpMethod": "GET",
              "path": "v1/{+parent}/vendors",
              "description": "Lists the vendors of the partner.",
              "id": "androiddeviceprovisioning.partners.vendors.list",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "description": "Required. The resource name in the format `partners/[PARTNER_ID]`.",
                  "location": "path",
                  "pattern": "^partners/[^/]+$",
                  "type": "string",
                  "required": true
                },
                "pageSize": {
                  "description": "The maximum number of results to be returned.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "A token identifying a page of results returned by the server.",
                  "location": "query",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "ListVendorsResponse"
              }
            }
          },
          "resources": {
            "customers": {
              "methods": {
                "list": {
                  "path": "v1/{+parent}/customers",
                  "description": "Lists the customers of the vendor.",
                  "flatPath": "v1/partners/{partnersId}/vendors/{vendorsId}/customers",
                  "httpMethod": "GET",
                  "id": "androiddeviceprovisioning.partners.vendors.customers.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "pattern": "^partners/[^/]+/vendors/[^/]+$",
                      "description": "Required. The resource name in the format `partners/[PARTNER_ID]/vendors/[VENDOR_ID]`.",
                      "location": "path"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "The maximum number of results to be returned.",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "A token identifying a page of results returned by the server.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "ListVendorCustomersResponse"
                  }
                }
              }
            }
          }
        },
        "devices": {
          "methods": {
            "metadata": {
              "httpMethod": "POST",
              "id": "androiddeviceprovisioning.partners.devices.metadata",
              "path": "v1/partners/{+metadataOwnerId}/devices/{+deviceId}/metadata",
              "description": "Updates reseller metadata associated with the device. Android devices only.",
              "flatPath": "v1/partners/{partnersId}/devices/{devicesId}/metadata",
              "request": {
                "$ref": "UpdateDeviceMetadataRequest"
              },
              "parameters": {
                "metadataOwnerId": {
                  "type": "string",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "description": "Required. The owner of the newly set metadata. Set this to the partner ID.",
                  "location": "path",
                  "format": "int64"
                },
                "deviceId": {
                  "description": "Required. The ID of the device.",
                  "location": "path",
                  "format": "int64",
                  "pattern": "^[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "response": {
                "$ref": "DeviceMetadata"
              },
              "parameterOrder": [
                "metadataOwnerId",
                "deviceId"
              ]
            },
            "updateMetadataAsync": {
              "parameterOrder": [
                "partnerId"
              ],
              "parameters": {
                "partnerId": {
                  "type": "string",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "description": "Required. The reseller partner ID.",
                  "location": "path",
                  "format": "int64"
                }
              },
              "response": {
                "$ref": "Operation"
              },
              "flatPath": "v1/partners/{partnersId}/devices:updateMetadataAsync",
              "request": {
                "$ref": "UpdateDeviceMetadataInBatchRequest"
              },
              "path": "v1/partners/{+partnerId}/devices:updateMetadataAsync",
              "description": "Updates the reseller metadata attached to a batch of devices. This method updates devices asynchronously and returns an `Operation` that can be used to track progress. Read [Long‑running batch operations](/zero-touch/guides/how-it-works#operations). Android Devices only.",
              "id": "androiddeviceprovisioning.partners.devices.updateMetadataAsync",
              "httpMethod": "POST"
            },
            "claim": {
              "path": "v1/partners/{+partnerId}/devices:claim",
              "description": "Claims a device for a customer and adds it to zero-touch enrollment. If the device is already claimed by another customer, the call returns an error.",
              "flatPath": "v1/partners/{partnersId}/devices:claim",
              "request": {
                "$ref": "ClaimDeviceRequest"
              },
              "parameterOrder": [
                "partnerId"
              ],
              "parameters": {
                "partnerId": {
                  "required": true,
                  "pattern": "^[^/]+$",
                  "type": "string",
                  "format": "int64",
                  "description": "Required. The ID of the reseller partner.",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "ClaimDeviceResponse"
              },
              "httpMethod": "POST",
              "id": "androiddeviceprovisioning.partners.devices.claim"
            },
            "getSimLockState": {
              "parameters": {
                "partnerId": {
                  "type": "string",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "description": "Required. The ID of the partner.",
                  "location": "path",
                  "format": "int64"
                }
              },
              "response": {
                "$ref": "GetDeviceSimLockStateResponse"
              },
              "parameterOrder": [
                "partnerId"
              ],
              "flatPath": "v1/partners/{partnersId}/devices:getSimLockState",
              "request": {
                "$ref": "GetDeviceSimLockStateRequest"
              },
              "path": "v1/partners/{+partnerId}/devices:getSimLockState",
              "description": "Gets a device's SIM lock state.",
              "id": "androiddeviceprovisioning.partners.devices.getSimLockState",
              "httpMethod": "POST"
            },
            "claimAsync": {
              "flatPath": "v1/partners/{partnersId}/devices:claimAsync",
              "request": {
                "$ref": "ClaimDevicesRequest"
              },
              "path": "v1/partners/{+partnerId}/devices:claimAsync",
              "description": "Claims a batch of devices for a customer asynchronously. Adds the devices to zero-touch enrollment. To learn more, read [Long‑running batch operations](/zero-touch/guides/how-it-works#operations).",
              "parameters": {
                "partnerId": {
                  "format": "int64",
                  "description": "Required. The ID of the reseller partner.",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^[^/]+$"
                }
              },
              "response": {
                "$ref": "Operation"
              },
              "parameterOrder": [
                "partnerId"
              ],
              "httpMethod": "POST",
              "id": "androiddeviceprovisioning.partners.devices.claimAsync"
            },
            "findByOwner": {
              "id": "androiddeviceprovisioning.partners.devices.findByOwner",
              "httpMethod": "POST",
              "parameterOrder": [
                "partnerId"
              ],
              "parameters": {
                "partnerId": {
                  "type": "string",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "description": "Required. The ID of the reseller partner.",
                  "location": "path",
                  "format": "int64"
                }
              },
              "response": {
                "$ref": "FindDevicesByOwnerResponse"
              },
              "path": "v1/partners/{+partnerId}/devices:findByOwner",
              "description": "Finds devices claimed for customers. The results only contain devices registered to the reseller that's identified by the `partnerId` argument. The customer's devices purchased from other resellers don't appear in the results.",
              "flatPath": "v1/partners/{partnersId}/devices:findByOwner",
              "request": {
                "$ref": "FindDevicesByOwnerRequest"
              }
            },
            "findByIdentifier": {
              "httpMethod": "POST",
              "id": "androiddeviceprovisioning.partners.devices.findByIdentifier",
              "path": "v1/partners/{+partnerId}/devices:findByIdentifier",
              "description": "Finds devices by hardware identifiers, such as IMEI.",
              "flatPath": "v1/partners/{partnersId}/devices:findByIdentifier",
              "request": {
                "$ref": "FindDevicesByDeviceIdentifierRequest"
              },
              "parameters": {
                "partnerId": {
                  "format": "int64",
                  "description": "Required. The ID of the reseller partner.",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^[^/]+$"
                }
              },
              "response": {
                "$ref": "FindDevicesByDeviceIdentifierResponse"
              },
              "parameterOrder": [
                "partnerId"
              ]
            },
            "get": {
              "path": "v1/{+name}",
              "description": "Gets a device.",
              "flatPath": "v1/partners/{partnersId}/devices/{devicesId}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "Required. The device API resource name in the format `partners/[PARTNER_ID]/devices/[DEVICE_ID]`.",
                  "location": "path",
                  "required": true,
                  "pattern": "^partners/[^/]+/devices/[^/]+$",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Device"
              },
              "id": "androiddeviceprovisioning.partners.devices.get",
              "parameterOrder": [
                "name"
              ]
            },
            "unclaim": {
              "id": "androiddeviceprovisioning.partners.devices.unclaim",
              "httpMethod": "POST",
              "parameterOrder": [
                "partnerId"
              ],
              "parameters": {
                "partnerId": {
                  "type": "string",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "description": "Required. The ID of the reseller partner.",
                  "location": "path",
                  "format": "int64"
                }
              },
              "response": {
                "$ref": "Empty"
              },
              "flatPath": "v1/partners/{partnersId}/devices:unclaim",
              "request": {
                "$ref": "UnclaimDeviceRequest"
              },
              "path": "v1/partners/{+partnerId}/devices:unclaim",
              "description": "Unclaims a device from a customer and removes it from zero-touch enrollment."
            },
            "unclaimAsync": {
              "parameterOrder": [
                "partnerId"
              ],
              "parameters": {
                "partnerId": {
                  "description": "Required. The reseller partner ID.",
                  "location": "path",
                  "format": "int64",
                  "type": "string",
                  "pattern": "^[^/]+$",
                  "required": true
                }
              },
              "response": {
                "$ref": "Operation"
              },
              "path": "v1/partners/{+partnerId}/devices:unclaimAsync",
              "description": "Unclaims a batch of devices for a customer asynchronously. Removes the devices from zero-touch enrollment. To learn more, read [Long‑running batch operations](/zero-touch/guides/how-it-works#operations).",
              "flatPath": "v1/partners/{partnersId}/devices:unclaimAsync",
              "request": {
                "$ref": "UnclaimDevicesRequest"
              },
              "id": "androiddeviceprovisioning.partners.devices.unclaimAsync",
              "httpMethod": "POST"
            }
          }
        },
        "customers": {
          "methods": {
            "create": {
              "httpMethod": "POST",
              "id": "androiddeviceprovisioning.partners.customers.create",
              "path": "v1/{+parent}/customers",
              "description": "Creates a customer for zero-touch enrollment. After the method returns successfully, admin and owner roles can manage devices and EMM configs by calling API methods or using their zero-touch enrollment portal. The customer receives an email that welcomes them to zero-touch enrollment and explains how to sign into the portal.",
              "flatPath": "v1/partners/{partnersId}/customers",
              "request": {
                "$ref": "CreateCustomerRequest"
              },
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "pattern": "^partners/[^/]+$",
                  "description": "Required. The parent resource ID in the format `partners/[PARTNER_ID]` that identifies the reseller.",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "Company"
              },
              "parameterOrder": [
                "parent"
              ]
            },
            "list": {
              "id": "androiddeviceprovisioning.partners.customers.list",
              "parameterOrder": [
                "partnerId"
              ],
              "parameters": {
                "pageSize": {
                  "description": "The maximum number of results to be returned. If not specified or 0, all the records are returned.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "A token identifying a page of results returned by the server.",
                  "location": "query",
                  "type": "string"
                },
                "partnerId": {
                  "description": "Required. The ID of the reseller partner.",
                  "location": "path",
                  "format": "int64",
                  "pattern": "^[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "response": {
                "$ref": "ListCustomersResponse"
              },
              "path": "v1/partners/{+partnerId}/customers",
              "description": "Lists the customers that are enrolled to the reseller identified by the `partnerId` argument. This list includes customers that the reseller created and customers that enrolled themselves using the portal.",
              "flatPath": "v1/partners/{partnersId}/customers",
              "httpMethod": "GET"
            }
          }
        }
      }
    }
  },
  "revision": "20260721",
  "ownerDomain": "google.com",
  "parameters": {
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    }
  },
  "basePath": "",
  "description": "Automates Android zero-touch enrollment for device resellers, customers, and EMMs.",
  "title": "Android Device Provisioning Partner API",
  "fullyEncodeReservedExpansion": true,
  "protocol": "rest",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "mtlsRootUrl": "https://androiddeviceprovisioning.mtls.googleapis.com/",
  "kind": "discovery#restDescription",
  "version_module": true,
  "schemas": {
    "GetDeviceSimLockStateRequest": {
      "type": "object",
      "properties": {
        "deviceIdentifier": {
          "description": "Required. Required. The device identifier to search for.",
          "$ref": "DeviceIdentifier"
        }
      },
      "description": "Request to get a device's SIM lock status.",
      "id": "GetDeviceSimLockStateRequest"
    },
    "Configuration": {
      "id": "Configuration",
      "description": "A configuration collects the provisioning options for Android devices. Each configuration combines the following: * The EMM device policy controller (DPC) installed on the devices. * EMM policies enforced on the devices. * Metadata displayed on the device to help users during setup. Customers can add as many configurations as they need. However, zero-touch enrollment works best when a customer sets a default configuration that's applied to any new devices the organization purchases.",
      "type": "object",
      "properties": {
        "customMessage": {
          "description": "A message, containing one or two sentences, to help device users get help or give them more details about what’s happening to their device. Zero-touch enrollment shows this message before the device is provisioned.",
          "type": "string"
        },
        "forcedResetTime": {
          "format": "google-duration",
          "type": "string",
          "description": "Optional. The timeout before forcing factory reset the device if the device doesn't go through provisioning in the setup wizard, usually due to lack of network connectivity during setup wizard. Ranges from 0-6 hours, with 2 hours being the default if unset."
        },
        "configurationName": {
          "description": "Required. A short name that describes the configuration's purpose. For example, _Sales team_ or _Temporary employees_. The zero-touch enrollment portal displays this name to IT admins.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The API resource name in the format `customers/[CUSTOMER_ID]/configurations/[CONFIGURATION_ID]`. Assigned by the server."
        },
        "companyName": {
          "description": "Required. The name of the organization. Zero-touch enrollment shows this organization name to device users during device provisioning.",
          "type": "string"
        },
        "configurationId": {
          "format": "int64",
          "description": "Output only. The ID of the configuration. Assigned by the server.",
          "readOnly": true,
          "type": "string"
        },
        "dpcExtras": {
          "type": "string",
          "description": "The JSON-formatted EMM provisioning extras that are passed to the DPC."
        },
        "contactPhone": {
          "type": "string",
          "description": "Required. The telephone number that device users can call, using another device, to get help. Zero-touch enrollment shows this number to device users before device provisioning. Accepts numerals, spaces, the plus sign, hyphens, and parentheses."
        },
        "contactEmail": {
          "description": "Required. The email address that device users can contact to get help. Zero-touch enrollment shows this email address to device users before device provisioning. The value is validated on input.",
          "type": "string"
        },
        "isDefault": {
          "description": "Required. Whether this is the default configuration that zero-touch enrollment applies to any new devices the organization purchases in the future. Only one customer configuration can be the default. Setting this value to `true`, changes the previous default configuration's `isDefault` value to `false`.",
          "type": "boolean"
        },
        "dpcResourcePath": {
          "type": "string",
          "description": "Required. The resource name of the selected DPC (device policy controller) in the format `customers/[CUSTOMER_ID]/dpcs/*`. To list the supported DPCs, call `customers.dpcs.list`."
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {}
    },
    "CustomerApplyConfigurationRequest": {
      "description": "Request message for customer to assign a configuration to device.",
      "type": "object",
      "properties": {
        "configuration": {
          "type": "string",
          "description": "Required. The configuration applied to the device in the format `customers/[CUSTOMER_ID]/configurations/[CONFIGURATION_ID]`."
        },
        "device": {
          "$ref": "DeviceReference",
          "description": "Required. The device the configuration is applied to. There are custom validations in ApplyConfigurationRequestValidator"
        }
      },
      "id": "CustomerApplyConfigurationRequest"
    },
    "ListVendorCustomersResponse": {
      "type": "object",
      "properties": {
        "customers": {
          "items": {
            "$ref": "Company"
          },
          "type": "array",
          "description": "List of customers of the vendor."
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Omitted if no further results are available.",
          "type": "string"
        },
        "totalSize": {
          "type": "integer",
          "description": "The total count of items in the list irrespective of pagination.",
          "format": "int32"
        }
      },
      "description": "Response message to list customers of the vendor.",
      "id": "ListVendorCustomersResponse"
    },
    "DeviceClaim": {
      "description": "A record of a device claimed by a reseller for a customer. Devices claimed for zero-touch enrollment have a claim with the type `SECTION_TYPE_ZERO_TOUCH`. To learn more, read [Claim devices for customers](/zero-touch/guides/how-it-works#claim).",
      "type": "object",
      "properties": {
        "vacationModeExpireTime": {
          "type": "string",
          "description": "The timestamp when the device will exit ‘vacation mode’. This value is present iff the device is in 'vacation mode'.",
          "format": "google-datetime"
        },
        "additionalService": {
          "description": "The Additional service registered for the device.",
          "enum": [
            "ADDITIONAL_SERVICE_UNSPECIFIED",
            "DEVICE_PROTECTION"
          ],
          "type": "string",
          "enumDescriptions": [
            "No additional service.",
            "Device protection service, also known as Android Enterprise Essentials. To claim a device with the device protection service you must enroll with the partnership team."
          ]
        },
        "googleWorkspaceCustomerId": {
          "description": "The ID of the Google Workspace account that owns the Chrome OS device.",
          "type": "string"
        },
        "ownerCompanyId": {
          "description": "The ID of the Customer that purchased the device.",
          "type": "string",
          "format": "int64"
        },
        "vacationModeStartTime": {
          "description": "The timestamp when the device was put into ‘vacation mode’. This value is present iff the device is in 'vacation mode'.",
          "type": "string",
          "format": "google-datetime"
        },
        "sectionType": {
          "description": "Output only. The type of claim made on the device.",
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "SECTION_TYPE_SIM_LOCK",
            "SECTION_TYPE_ZERO_TOUCH"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unspecified section type.",
            "SIM-lock section type.",
            "Zero-touch enrollment section type."
          ]
        },
        "resellerId": {
          "type": "string",
          "description": "The ID of the reseller that claimed the device.",
          "format": "int64"
        }
      },
      "id": "DeviceClaim"
    },
    "ListCustomersResponse": {
      "id": "ListCustomersResponse",
      "description": "Response message of all customers related to this partner.",
      "type": "object",
      "properties": {
        "customers": {
          "type": "array",
          "description": "List of customers related to this reseller partner.",
          "items": {
            "$ref": "Company"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Omitted if no further results are available."
        },
        "totalSize": {
          "description": "The total count of items in the list irrespective of pagination.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "UpdateMetadataArguments": {
      "id": "UpdateMetadataArguments",
      "description": "Identifies metadata updates to one device.",
      "type": "object",
      "properties": {
        "deviceMetadata": {
          "description": "Required. The metadata to update.",
          "$ref": "DeviceMetadata"
        },
        "deviceIdentifier": {
          "description": "Required. Device identifier.",
          "$ref": "DeviceIdentifier"
        },
        "deviceId": {
          "type": "string",
          "description": "Required. Device ID of the device.",
          "format": "int64"
        }
      }
    },
    "CustomerListDevicesResponse": {
      "description": "Response message of customer's liting devices.",
      "type": "object",
      "properties": {
        "devices": {
          "items": {
            "$ref": "Device"
          },
          "type": "array",
          "description": "The customer's devices."
        },
        "nextPageToken": {
          "description": "A token used to access the next page of results. Omitted if no further results are available.",
          "type": "string"
        }
      },
      "id": "CustomerListDevicesResponse"
    },
    "FindDevicesByDeviceIdentifierRequest": {
      "id": "FindDevicesByDeviceIdentifierRequest",
      "description": "Request to find devices.",
      "type": "object",
      "properties": {
        "pageToken": {
          "type": "string",
          "description": "A token specifying which result page to return."
        },
        "deviceIdentifier": {
          "$ref": "DeviceIdentifier",
          "description": "Required. Required. The device identifier to search for. If serial number is provided then case insensitive serial number matches are allowed."
        },
        "limit": {
          "type": "string",
          "description": "Required. The maximum number of devices to show in a page of results. Must be between 1 and 100 inclusive.",
          "format": "int64"
        }
      }
    },
    "CustomerListDpcsResponse": {
      "type": "object",
      "properties": {
        "dpcs": {
          "items": {
            "$ref": "Dpc"
          },
          "type": "array",
          "description": "The list of DPCs available to the customer that support zero-touch enrollment."
        }
      },
      "description": "Response message of customer's listing DPCs.",
      "id": "CustomerListDpcsResponse"
    },
    "CustomerUnclaimDeviceRequest": {
      "id": "CustomerUnclaimDeviceRequest",
      "description": "Request message for customer to unclaim a device.",
      "type": "object",
      "properties": {
        "device": {
          "description": "Required. The device to unclaim. There are custom validations in UnclaimDeviceRequestValidator.",
          "$ref": "DeviceReference"
        }
      }
    },
    "UnclaimDeviceRequest": {
      "id": "UnclaimDeviceRequest",
      "description": "Request message to unclaim a device.",
      "type": "object",
      "properties": {
        "vacationModeDays": {
          "format": "int32",
          "type": "integer",
          "description": "The duration of the vacation unlock starting from when the request is processed. (1 day is treated as 24 hours)"
        },
        "sectionType": {
          "description": "Required. The section type of the device's provisioning record.",
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "SECTION_TYPE_SIM_LOCK",
            "SECTION_TYPE_ZERO_TOUCH"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified section type.",
            "SIM-lock section type.",
            "Zero-touch enrollment section type."
          ]
        },
        "deviceIdentifier": {
          "$ref": "DeviceIdentifier",
          "description": "Required. The device identifier you used when you claimed this device."
        },
        "vacationModeExpireTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The expiration time of the vacation unlock."
        },
        "deviceId": {
          "format": "int64",
          "description": "Required. The device ID returned by `ClaimDevice`.",
          "type": "string"
        }
      }
    },
    "PartnerClaim": {
      "type": "object",
      "properties": {
        "preProvisioningToken": {
          "description": "Optional. Must and can only be set for Chrome OS devices.",
          "type": "string"
        },
        "simlockProfileId": {
          "format": "int64",
          "type": "string",
          "description": "Optional. Must and can only be set when DeviceProvisioningSectionType is SECTION_TYPE_SIM_LOCK. The unique identifier of the SimLock profile."
        },
        "googleWorkspaceCustomerId": {
          "type": "string",
          "description": "The Google Workspace customer ID."
        },
        "configurationId": {
          "format": "int64",
          "description": "Optional. The ID of the configuration applied to the device section.",
          "type": "string"
        },
        "sectionType": {
          "description": "Required. The section type of the device's provisioning record.",
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "SECTION_TYPE_SIM_LOCK",
            "SECTION_TYPE_ZERO_TOUCH"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified section type.",
            "SIM-lock section type.",
            "Zero-touch enrollment section type."
          ]
        },
        "customerId": {
          "description": "The ID of the customer for whom the device is being claimed.",
          "type": "string",
          "format": "int64"
        },
        "deviceMetadata": {
          "description": "Required. The metadata to attach to the device at claim.",
          "$ref": "DeviceMetadata"
        },
        "deviceIdentifier": {
          "description": "Required. Required. Device identifier of the device.",
          "$ref": "DeviceIdentifier"
        }
      },
      "description": "Identifies one claim request.",
      "id": "PartnerClaim"
    },
    "UnclaimDevicesRequest": {
      "type": "object",
      "properties": {
        "unclaims": {
          "type": "array",
          "description": "Required. The list of devices to unclaim.",
          "items": {
            "$ref": "PartnerUnclaim"
          }
        }
      },
      "description": "Request to unclaim devices asynchronously in batch.",
      "id": "UnclaimDevicesRequest"
    },
    "CreateCustomerRequest": {
      "type": "object",
      "properties": {
        "customer": {
          "description": "Required. The company data to populate the new customer. Must contain a value for `companyName` and at least one `owner_email` that's associated with a Google Account. The values for `companyId` and `name` must be empty.",
          "$ref": "Company"
        }
      },
      "description": "Request message to create a customer.",
      "id": "CreateCustomerRequest"
    },
    "DeviceIdentifier": {
      "id": "DeviceIdentifier",
      "type": "object",
      "properties": {
        "imei": {
          "description": "The device’s IMEI number. Validated on input.",
          "type": "string"
        },
        "serialNumber": {
          "type": "string",
          "description": "The manufacturer's serial number for the device. This value might not be unique across different device models."
        },
        "model": {
          "type": "string",
          "description": "The device model's name. Allowed values are listed in [Android models](/zero-touch/resources/manufacturer-names#model-names) and [Chrome OS models](https://support.google.com/chrome/a/answer/10130175#identify_compatible)."
        },
        "chromeOsAttestedDeviceId": {
          "type": "string",
          "description": "An identifier provided by OEMs, carried through the production and sales process. Only applicable to Chrome OS devices."
        },
        "meid2": {
          "type": "string",
          "description": "The device’s second MEID number."
        },
        "meid": {
          "description": "The device’s MEID number.",
          "type": "string"
        },
        "manufacturer": {
          "description": "The device manufacturer’s name. Matches the device's built-in value returned from `android.os.Build.MANUFACTURER`. Allowed values are listed in [Android manufacturers](/zero-touch/resources/manufacturer-names#manufacturers-names).",
          "type": "string"
        },
        "deviceType": {
          "type": "string",
          "enumDescriptions": [
            "Device type is not specified.",
            "Android device",
            "Chrome OS device"
          ],
          "description": "The type of the device",
          "enum": [
            "DEVICE_TYPE_UNSPECIFIED",
            "DEVICE_TYPE_ANDROID",
            "DEVICE_TYPE_CHROME_OS"
          ]
        },
        "imei2": {
          "description": "The device’s second IMEI number.",
          "type": "string"
        }
      },
      "description": "Encapsulates hardware and product IDs to identify a manufactured device. To understand requirements on identifier sets, read [Identifiers](https://developers.google.com/zero-touch/guides/identifiers)."
    },
    "UpdateDeviceMetadataInBatchRequest": {
      "type": "object",
      "properties": {
        "updates": {
          "description": "Required. The list of metadata updates.",
          "type": "array",
          "items": {
            "$ref": "UpdateMetadataArguments"
          }
        }
      },
      "description": "Request to update device metadata in batch.",
      "id": "UpdateDeviceMetadataInBatchRequest"
    },
    "Company": {
      "id": "Company",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The API resource name of the company. The resource name is one of the following formats: * `partners/[PARTNER_ID]/customers/[CUSTOMER_ID]` * `partners/[PARTNER_ID]/vendors/[VENDOR_ID]` * `partners/[PARTNER_ID]/vendors/[VENDOR_ID]/customers/[CUSTOMER_ID]` Assigned by the server.",
          "readOnly": true,
          "type": "string"
        },
        "googleWorkspaceAccount": {
          "description": "Output only. The Google Workspace account associated with this customer. Only used for customer Companies.",
          "readOnly": true,
          "$ref": "GoogleWorkspaceAccount"
        },
        "languageCode": {
          "description": "Input only. The preferred locale of the customer represented as a BCP47 language code. This field is validated on input and requests containing unsupported language codes will be rejected. Supported language codes: Arabic (ar) Chinese (Hong Kong) (zh-HK) Chinese (Simplified) (zh-CN) Chinese (Traditional) (zh-TW) Czech (cs) Danish (da) Dutch (nl) English (UK) (en-GB) English (US) (en-US) Filipino (fil) Finnish (fi) French (fr) German (de) Hebrew (iw) Hindi (hi) Hungarian (hu) Indonesian (id) Italian (it) Japanese (ja) Korean (ko) Norwegian (Bokmal) (no) Polish (pl) Portuguese (Brazil) (pt-BR) Portuguese (Portugal) (pt-PT) Russian (ru) Spanish (es) Spanish (Latin America) (es-419) Swedish (sv) Thai (th) Turkish (tr) Ukrainian (uk) Vietnamese (vi)",
          "type": "string"
        },
        "adminEmails": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Email address of customer's users in the admin role. Each email address must be associated with a Google Account.",
          "type": "array"
        },
        "ownerEmails": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. Input only. Email address of customer's users in the owner role. At least one `owner_email` is required. Owners share the same access as admins but can also add, delete, and edit your organization's portal users."
        },
        "companyId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The ID of the company. Assigned by the server.",
          "format": "int64"
        },
        "termsStatus": {
          "description": "Output only. Whether any user from the company has accepted the latest Terms of Service (ToS). See TermsStatus.",
          "enum": [
            "TERMS_STATUS_UNSPECIFIED",
            "TERMS_STATUS_NOT_ACCEPTED",
            "TERMS_STATUS_ACCEPTED",
            "TERMS_STATUS_STALE"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default value. This value should never be set if the enum is present.",
            "None of the company's users have accepted the ToS.",
            "One (or more) of the company's users has accepted the ToS.",
            "None of the company's users has accepted the current ToS but at least one user accepted a previous ToS."
          ]
        },
        "skipWelcomeEmail": {
          "description": "Input only. If set to true, welcome email will not be sent to the customer. It is recommended to skip the welcome email if devices will be claimed with additional DEVICE_PROTECTION service, as the customer will receive separate emails at device claim time. This field is ignored if this is not a Zero-touch customer.",
          "type": "boolean"
        },
        "companyName": {
          "description": "Required. The name of the company. For example _XYZ Corp_. Displayed to the company's employees in the zero-touch enrollment portal.",
          "type": "string"
        }
      },
      "description": "A reseller, vendor, or customer in the zero-touch reseller and customer APIs."
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "error": {
          "description": "This field will always be not set if the operation is created by `claimAsync`, `unclaimAsync`, or `updateMetadataAsync`. In this case, error information for each device is set in `response.perDeviceStatus.result.status`.",
          "$ref": "Status"
        },
        "response": {
          "type": "object",
          "description": "This field will contain a `DevicesLongRunningOperationResponse` object if the operation is created by `claimAsync`, `unclaimAsync`, or `updateMetadataAsync`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "metadata": {
          "description": "This field will contain a `DevicesLongRunningOperationMetadata` object if the operation is created by `claimAsync`, `unclaimAsync`, or `updateMetadataAsync`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        }
      },
      "id": "Operation"
    },
    "UpdateDeviceMetadataRequest": {
      "id": "UpdateDeviceMetadataRequest",
      "type": "object",
      "properties": {
        "deviceMetadata": {
          "description": "Required. The metadata to attach to the device.",
          "$ref": "DeviceMetadata"
        }
      },
      "description": "Request to set metadata for a device."
    },
    "OperationPerDevice": {
      "description": "A task for each device in the operation. Corresponds to each device change in the request.",
      "type": "object",
      "properties": {
        "claim": {
          "$ref": "PartnerClaim",
          "description": "A copy of the original device-claim request received by the server."
        },
        "result": {
          "description": "The processing result for each device.",
          "$ref": "PerDeviceStatusInBatch"
        },
        "updateMetadata": {
          "$ref": "UpdateMetadataArguments",
          "description": "A copy of the original metadata-update request received by the server."
        },
        "unclaim": {
          "$ref": "PartnerUnclaim",
          "description": "A copy of the original device-unclaim request received by the server."
        }
      },
      "id": "OperationPerDevice"
    },
    "GoogleWorkspaceAccount": {
      "description": "A Google Workspace customer.",
      "type": "object",
      "properties": {
        "customerId": {
          "description": "Required. The customer ID.",
          "type": "string"
        },
        "preProvisioningTokens": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. The pre-provisioning tokens previously used to claim devices."
        }
      },
      "id": "GoogleWorkspaceAccount"
    },
    "ClaimDeviceResponse": {
      "description": "Response message containing device id of the claim.",
      "type": "object",
      "properties": {
        "deviceId": {
          "format": "int64",
          "description": "The device ID of the claimed device.",
          "type": "string"
        },
        "deviceName": {
          "type": "string",
          "description": "The resource name of the device in the format `partners/[PARTNER_ID]/devices/[DEVICE_ID]`."
        }
      },
      "id": "ClaimDeviceResponse"
    },
    "FindDevicesByOwnerResponse": {
      "id": "FindDevicesByOwnerResponse",
      "type": "object",
      "properties": {
        "devices": {
          "type": "array",
          "description": "The customer's devices.",
          "items": {
            "$ref": "Device"
          }
        },
        "nextPageToken": {
          "description": "A token used to access the next page of results. Omitted if no further results are available.",
          "type": "string"
        },
        "totalSize": {
          "description": "The total count of items in the list irrespective of pagination.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Response containing found devices."
    },
    "ListVendorsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Omitted if no further results are available.",
          "type": "string"
        },
        "totalSize": {
          "format": "int32",
          "type": "integer",
          "description": "The total count of items in the list irrespective of pagination."
        },
        "vendors": {
          "items": {
            "$ref": "Company"
          },
          "description": "List of vendors of the reseller partner. Fields `name`, `companyId` and `companyName` are populated to the Company object.",
          "type": "array"
        }
      },
      "description": "Response message to list vendors of the partner.",
      "id": "ListVendorsResponse"
    },
    "PerDeviceStatusInBatch": {
      "id": "PerDeviceStatusInBatch",
      "description": "Captures the processing status for each device in the operation.",
      "type": "object",
      "properties": {
        "status": {
          "description": "The result status of the device after processing.",
          "enum": [
            "SINGLE_DEVICE_STATUS_UNSPECIFIED",
            "SINGLE_DEVICE_STATUS_UNKNOWN_ERROR",
            "SINGLE_DEVICE_STATUS_OTHER_ERROR",
            "SINGLE_DEVICE_STATUS_SUCCESS",
            "SINGLE_DEVICE_STATUS_PERMISSION_DENIED",
            "SINGLE_DEVICE_STATUS_INVALID_DEVICE_IDENTIFIER",
            "SINGLE_DEVICE_STATUS_INVALID_SECTION_TYPE",
            "SINGLE_DEVICE_STATUS_SECTION_NOT_YOURS",
            "SINGLE_DEVICE_STATUS_INVALID_TOKEN",
            "SINGLE_DEVICE_STATUS_REVOKED_TOKEN",
            "SINGLE_DEVICE_STATUS_DEVICE_LIMIT_EXCEEDED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Invalid code. Shouldn't be used.",
            "Unknown error. We don't expect this error to occur here.",
            "Other error. We know/expect this error, but there's no defined error code for the error.",
            "Success.",
            "Permission denied.",
            "Invalid device identifier.",
            "Invalid section type.",
            "This section is claimed by another company.",
            "Invalid pre-provisioning token.",
            "Revoked pre-provisioning token.",
            "Status used to indicate a failure due to a device limit being exceeded"
          ]
        },
        "deviceId": {
          "description": "If processing succeeds, the device ID of the device.",
          "type": "string",
          "format": "int64"
        },
        "errorMessage": {
          "type": "string",
          "description": "If processing fails, a developer message explaining what went wrong."
        },
        "errorIdentifier": {
          "description": "If processing fails, the error type.",
          "type": "string"
        }
      }
    },
    "CustomerRemoveConfigurationRequest": {
      "id": "CustomerRemoveConfigurationRequest",
      "description": "Request message for customer to remove the configuration from device.",
      "type": "object",
      "properties": {
        "device": {
          "$ref": "DeviceReference",
          "description": "Required. The device to remove the configuration from. There are custom validations in RemoveConfigurationRequestValidator"
        }
      }
    },
    "CustomerListConfigurationsResponse": {
      "id": "CustomerListConfigurationsResponse",
      "type": "object",
      "properties": {
        "configurations": {
          "description": "The configurations.",
          "type": "array",
          "items": {
            "$ref": "Configuration"
          }
        }
      },
      "description": "Response message of customer's listing configuration."
    },
    "ClaimDeviceRequest": {
      "description": "Request message to claim a device on behalf of a customer.",
      "type": "object",
      "properties": {
        "simlockProfileId": {
          "format": "int64",
          "type": "string",
          "description": "Optional. Must and can only be set when DeviceProvisioningSectionType is SECTION_TYPE_SIM_LOCK. The unique identifier of the SimLock profile."
        },
        "googleWorkspaceCustomerId": {
          "description": "The Google Workspace customer ID.",
          "type": "string"
        },
        "configurationId": {
          "format": "int64",
          "description": "Optional. The ID of the configuration applied to the device section.",
          "type": "string"
        },
        "preProvisioningToken": {
          "type": "string",
          "description": "Optional. Must and can only be set for Chrome OS devices."
        },
        "sectionType": {
          "description": "Required. The section type of the device's provisioning record.",
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "SECTION_TYPE_SIM_LOCK",
            "SECTION_TYPE_ZERO_TOUCH"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified section type.",
            "SIM-lock section type.",
            "Zero-touch enrollment section type."
          ]
        },
        "customerId": {
          "description": "The ID of the customer for whom the device is being claimed.",
          "type": "string",
          "format": "int64"
        },
        "deviceMetadata": {
          "description": "Optional. The metadata to attach to the device.",
          "$ref": "DeviceMetadata"
        },
        "deviceIdentifier": {
          "description": "Required. Required. The device identifier of the device to claim.",
          "$ref": "DeviceIdentifier"
        }
      },
      "id": "ClaimDeviceRequest"
    },
    "FindDevicesByDeviceIdentifierResponse": {
      "id": "FindDevicesByDeviceIdentifierResponse",
      "type": "object",
      "properties": {
        "devices": {
          "items": {
            "$ref": "Device"
          },
          "type": "array",
          "description": "Found devices."
        },
        "nextPageToken": {
          "description": "A token used to access the next page of results. Omitted if no further results are available.",
          "type": "string"
        },
        "totalSize": {
          "type": "integer",
          "description": "The total count of items in the list irrespective of pagination.",
          "format": "int32"
        }
      },
      "description": "Response containing found devices."
    },
    "FindDevicesByOwnerRequest": {
      "description": "Request to find devices by customers.",
      "type": "object",
      "properties": {
        "googleWorkspaceCustomerId": {
          "items": {
            "type": "string"
          },
          "description": "The list of IDs of Google Workspace accounts to search for.",
          "type": "array"
        },
        "limit": {
          "description": "Required. The maximum number of devices to show in a page of results. Must be between 1 and 100 inclusive.",
          "type": "string",
          "format": "int64"
        },
        "sectionType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified section type.",
            "SIM-lock section type.",
            "Zero-touch enrollment section type."
          ],
          "description": "Required. The section type of the device's provisioning record.",
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "SECTION_TYPE_SIM_LOCK",
            "SECTION_TYPE_ZERO_TOUCH"
          ]
        },
        "customerId": {
          "description": "The list of customer IDs to search for.",
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "pageToken": {
          "description": "A token specifying which result page to return.",
          "type": "string"
        }
      },
      "id": "FindDevicesByOwnerRequest"
    },
    "CustomerListCustomersResponse": {
      "description": "Response message for listing my customers.",
      "type": "object",
      "properties": {
        "customers": {
          "items": {
            "$ref": "Company"
          },
          "type": "array",
          "description": "The customer accounts the calling user is a member of."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token used to access the next page of results. Omitted if no further results are available."
        }
      },
      "id": "CustomerListCustomersResponse"
    },
    "DevicesLongRunningOperationMetadata": {
      "id": "DevicesLongRunningOperationMetadata",
      "description": "Tracks the status of a long-running operation to asynchronously update a batch of reseller metadata attached to devices. To learn more, read [Long‑running batch operations](/zero-touch/guides/how-it-works#operations).",
      "type": "object",
      "properties": {
        "processingStatus": {
          "type": "string",
          "enumDescriptions": [
            "Invalid code. Shouldn't be used.",
            "Pending.",
            "In progress.",
            "Processed. This doesn't mean all items were processed successfully, you should check the `response` field for the result of every item."
          ],
          "description": "The processing status of the operation.",
          "enum": [
            "BATCH_PROCESS_STATUS_UNSPECIFIED",
            "BATCH_PROCESS_PENDING",
            "BATCH_PROCESS_IN_PROGRESS",
            "BATCH_PROCESS_PROCESSED"
          ]
        },
        "progress": {
          "format": "int32",
          "description": "The processing progress of the operation. Measured as a number from 0 to 100. A value of 10O doesn't always mean the operation completed—check for the inclusion of a `done` field.",
          "type": "integer"
        },
        "devicesCount": {
          "format": "int32",
          "type": "integer",
          "description": "The number of metadata updates in the operation. This might be different from the number of updates in the request if the API can't parse some of the updates."
        }
      }
    },
    "DevicesLongRunningOperationResponse": {
      "id": "DevicesLongRunningOperationResponse",
      "type": "object",
      "properties": {
        "successCount": {
          "format": "int32",
          "type": "integer",
          "description": "A summary of how many items in the operation the server processed successfully. Updated as the operation progresses."
        },
        "perDeviceStatus": {
          "description": "The processing status for each device in the operation. One `PerDeviceStatus` per device. The list order matches the items in the original request.",
          "type": "array",
          "items": {
            "$ref": "OperationPerDevice"
          }
        }
      },
      "description": "Tracks the status of a long-running operation to claim, unclaim, or attach metadata to devices. To learn more, read [Long‑running batch operations](/zero-touch/guides/how-it-works#operations)."
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      },
      "id": "Status"
    },
    "PartnerUnclaim": {
      "description": "Identifies one unclaim request.",
      "type": "object",
      "properties": {
        "sectionType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified section type.",
            "SIM-lock section type.",
            "Zero-touch enrollment section type."
          ],
          "description": "Required. The section type of the device's provisioning record.",
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "SECTION_TYPE_SIM_LOCK",
            "SECTION_TYPE_ZERO_TOUCH"
          ]
        },
        "deviceIdentifier": {
          "$ref": "DeviceIdentifier",
          "description": "Required. Device identifier of the device."
        },
        "vacationModeDays": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The duration of the vacation unlock starting from when the request is processed. (1 day is treated as 24 hours)"
        },
        "vacationModeExpireTime": {
          "format": "google-datetime",
          "description": "Optional. The expiration time of the vacation unlock.",
          "type": "string"
        },
        "deviceId": {
          "format": "int64",
          "description": "Required. Device ID of the device.",
          "type": "string"
        }
      },
      "id": "PartnerUnclaim"
    },
    "ClaimDevicesRequest": {
      "type": "object",
      "properties": {
        "claims": {
          "items": {
            "$ref": "PartnerClaim"
          },
          "description": "Required. A list of device claims.",
          "type": "array"
        }
      },
      "description": "Request to claim devices asynchronously in batch. Claiming a device adds the device to zero-touch enrollment and shows the device in the customer's view of the portal.",
      "id": "ClaimDevicesRequest"
    },
    "Dpc": {
      "description": "An EMM's DPC ([device policy controller](http://developer.android.com/work/dpc/build-dpc.html)). Zero-touch enrollment installs a DPC (listed in the `Configuration`) on a device to maintain the customer's mobile policies. All the DPCs listed by the API support zero-touch enrollment and are available in Google Play.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The API resource name in the format `customers/[CUSTOMER_ID]/dpcs/[DPC_ID]`. Assigned by the server. To maintain a reference to a DPC across customer accounts, persist and match the last path component (`DPC_ID`).",
          "readOnly": true,
          "type": "string"
        },
        "dpcName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The title of the DPC app in Google Play. For example, _Google Apps Device Policy_. Useful in an application's user interface."
        },
        "packageName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The DPC's Android application ID that looks like a Java package name. Zero-touch enrollment installs the DPC app onto a device using this identifier."
        }
      },
      "id": "Dpc"
    },
    "GetDeviceSimLockStateResponse": {
      "description": "Response containing a device's SimLock state.",
      "type": "object",
      "properties": {
        "simLockState": {
          "type": "string",
          "enumDescriptions": [
            "Invalid code. Shouldn't be used.",
            "Device is not SIM locked.",
            "Device is SIM locked to the partner querying SIM lock state.",
            "Device is SIM locked to a different partner."
          ],
          "enum": [
            "SIM_LOCK_STATE_UNSPECIFIED",
            "UNLOCKED",
            "LOCKED_TO_PARTNER",
            "LOCKED_TO_OTHER_PARTNER"
          ]
        }
      },
      "id": "GetDeviceSimLockStateResponse"
    },
    "DeviceReference": {
      "type": "object",
      "properties": {
        "deviceId": {
          "type": "string",
          "description": "The ID of the device.",
          "format": "int64"
        },
        "deviceIdentifier": {
          "description": "The hardware IDs of the device.",
          "$ref": "DeviceIdentifier"
        }
      },
      "description": "A `DeviceReference` is an API abstraction that lets you supply a _device_ argument to a method using one of the following identifier types: * A numeric API resource ID. * Real-world hardware IDs, such as IMEI number, belonging to the manufactured device. Methods that operate on devices take a `DeviceReference` as a parameter type because it's more flexible for the caller. To learn more about device identifiers, read [Identifiers](https://developers.google.com/zero-touch/guides/identifiers).",
      "id": "DeviceReference"
    },
    "DeviceMetadata": {
      "id": "DeviceMetadata",
      "description": "Metadata entries that can be attached to a `Device`. To learn more, read [Device metadata](https://developers.google.com/zero-touch/guides/metadata).",
      "type": "object",
      "properties": {
        "entries": {
          "description": "Metadata entries recorded as key-value pairs.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      }
    },
    "Device": {
      "description": "An Android or Chrome OS device registered for zero-touch enrollment.",
      "type": "object",
      "properties": {
        "deviceMetadata": {
          "description": "The metadata attached to the device. Structured as key-value pairs. To learn more, read [Device metadata](https://developers.google.com/zero-touch/guides/metadata).",
          "$ref": "DeviceMetadata"
        },
        "deviceIdentifier": {
          "description": "The hardware IDs that identify a manufactured device. To learn more, read [Identifiers](https://developers.google.com/zero-touch/guides/identifiers).",
          "$ref": "DeviceIdentifier"
        },
        "name": {
          "description": "Output only. The API resource name in the format `partners/[PARTNER_ID]/devices/[DEVICE_ID]`. Assigned by the server.",
          "readOnly": true,
          "type": "string"
        },
        "claims": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The provisioning claims for a device. Devices claimed for zero-touch enrollment have a claim with the type `SECTION_TYPE_ZERO_TOUCH`. Call `partners.devices.unclaim` or `partners.devices.unclaimAsync` to remove the device from zero-touch enrollment.",
          "items": {
            "$ref": "DeviceClaim"
          }
        },
        "deviceId": {
          "format": "int64",
          "description": "Output only. The ID of the device. Assigned by the server.",
          "readOnly": true,
          "type": "string"
        },
        "configuration": {
          "type": "string",
          "description": "Not available to resellers."
        }
      },
      "id": "Device"
    }
  },
  "documentationLink": "https://developers.google.com/zero-touch/",
  "baseUrl": "https://androiddeviceprovisioning.googleapis.com/",
  "batchPath": "batch",
  "id": "androiddeviceprovisioning:v1",
  "version": "v1",
  "rootUrl": "https://androiddeviceprovisioning.googleapis.com/"
}