{
  "basePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "discoveryVersion": "v1",
  "description": "Lets Android application developers access their Google Play accounts. At a high level, the expected workflow is to \"insert\" an Edit, make changes as necessary, and then \"commit\" it. ",
  "title": "Google Play Android Developer API",
  "id": "androidpublisher:v3",
  "mtlsRootUrl": "https://androidpublisher.mtls.googleapis.com/",
  "schemas": {
    "AppEdit": {
      "description": "An app edit. The resource for EditsService.",
      "properties": {
        "expiryTimeSeconds": {
          "type": "string",
          "description": "Output only. The time (as seconds since Epoch) at which the edit will expire and will be no longer valid for use.",
          "readOnly": true
        },
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Identifier of the edit. Can be used in subsequent API calls."
        }
      },
      "id": "AppEdit",
      "type": "object"
    },
    "RenewalDeclinedContext": {
      "type": "object",
      "properties": {
        "pendingOrderId": {
          "description": "Required. The ID of the pending or failed order causing the state.",
          "type": "string"
        }
      },
      "description": "Context related to renewal declined scenario.",
      "id": "RenewalDeclinedContext"
    },
    "ArchiveSubscriptionRequest": {
      "properties": {},
      "description": "Deprecated: subscription archiving is not supported.",
      "type": "object",
      "id": "ArchiveSubscriptionRequest",
      "deprecated": true
    },
    "UpdateAppStoreHostedAppResponse": {
      "description": "Response for updating an app record for an app store hosted app.",
      "type": "object",
      "properties": {
        "updateId": {
          "description": "Unique identifier for the specific version of the hosted app submitted in this update. This identifier can be used to correlate publishing signals (such as those returned by ListHostedAppsPublishingSignals) with this specific app update.",
          "type": "string"
        }
      },
      "id": "UpdateAppStoreHostedAppResponse"
    },
    "DeviceId": {
      "id": "DeviceId",
      "description": "Identifier of a device.",
      "type": "object",
      "properties": {
        "buildDevice": {
          "type": "string",
          "description": "Value of Build.DEVICE."
        },
        "buildBrand": {
          "type": "string",
          "description": "Value of Build.BRAND."
        }
      }
    },
    "DeactivateSubscriptionOfferRequest": {
      "type": "object",
      "properties": {
        "productId": {
          "description": "Required. The parent subscription (ID) of the offer to deactivate.",
          "type": "string"
        },
        "basePlanId": {
          "description": "Required. The parent base plan (ID) of the offer to deactivate.",
          "type": "string"
        },
        "packageName": {
          "type": "string",
          "description": "Required. The parent app (package name) of the offer to deactivate."
        },
        "offerId": {
          "type": "string",
          "description": "Required. The unique offer ID of the offer to deactivate."
        },
        "latencyTolerance": {
          "type": "string",
          "enum": [
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
          ],
          "enumDescriptions": [
            "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
            "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
            "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
          ],
          "description": "Optional. The latency tolerance for the propagation of this product update. Defaults to latency-sensitive."
        }
      },
      "description": "Request message for DeactivateSubscriptionOffer.",
      "id": "DeactivateSubscriptionOfferRequest"
    },
    "SignupPromotion": {
      "id": "SignupPromotion",
      "properties": {
        "oneTimeCode": {
          "$ref": "OneTimeCode",
          "description": "A one-time code was applied."
        },
        "vanityCode": {
          "$ref": "VanityCode",
          "description": "A vanity code was applied."
        }
      },
      "description": "The promotion applied on this item when purchased.",
      "type": "object"
    },
    "BatchGetOrdersResponse": {
      "id": "BatchGetOrdersResponse",
      "properties": {
        "orders": {
          "items": {
            "$ref": "Order"
          },
          "description": "Details for the requested order IDs.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Response for the orders.batchGet API."
    },
    "GeneratedRecoveryApk": {
      "id": "GeneratedRecoveryApk",
      "properties": {
        "downloadId": {
          "description": "Download ID, which uniquely identifies the APK to download. Should be supplied to `generatedapks.download` method.",
          "type": "string"
        },
        "recoveryId": {
          "description": "ID of the recovery action.",
          "format": "int64",
          "type": "string"
        },
        "recoveryStatus": {
          "enumDescriptions": [
            "RecoveryStatus is unspecified.",
            "The app recovery action has not been canceled since it has been created.",
            "The recovery action has been canceled. The action cannot be resumed.",
            "The recovery action is in the draft state and has not yet been deployed to users.",
            "The recovery action is generating recovery apks.",
            "The app recovery action generation has failed."
          ],
          "description": "The status of the recovery action corresponding to the recovery apk.",
          "type": "string",
          "enum": [
            "RECOVERY_STATUS_UNSPECIFIED",
            "RECOVERY_STATUS_ACTIVE",
            "RECOVERY_STATUS_CANCELED",
            "RECOVERY_STATUS_DRAFT",
            "RECOVERY_STATUS_GENERATION_IN_PROGRESS",
            "RECOVERY_STATUS_GENERATION_FAILED"
          ]
        },
        "moduleName": {
          "description": "Name of the module which recovery apk belongs to.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Download metadata for an app recovery module."
    },
    "ExternalTransactionAddress": {
      "type": "object",
      "description": "User's address for the external transaction.",
      "id": "ExternalTransactionAddress",
      "properties": {
        "regionCode": {
          "description": "Required. Two letter region code based on ISO-3166-1 Alpha-2 (UN region codes).",
          "type": "string"
        },
        "administrativeArea": {
          "description": "Optional. Top-level administrative subdivision of the country/region. Only required for transactions in India. Valid values are \"ANDAMAN AND NICOBAR ISLANDS\", \"ANDHRA PRADESH\", \"ARUNACHAL PRADESH\", \"ASSAM\", \"BIHAR\", \"CHANDIGARH\", \"CHHATTISGARH\", \"DADRA AND NAGAR HAVELI\", \"DADRA AND NAGAR HAVELI AND DAMAN AND DIU\", \"DAMAN AND DIU\", \"DELHI\", \"GOA\", \"GUJARAT\", \"HARYANA\", \"HIMACHAL PRADESH\", \"JAMMU AND KASHMIR\", \"JHARKHAND\", \"KARNATAKA\", \"KERALA\", \"LADAKH\", \"LAKSHADWEEP\", \"MADHYA PRADESH\", \"MAHARASHTRA\", \"MANIPUR\", \"MEGHALAYA\", \"MIZORAM\", \"NAGALAND\", \"ODISHA\", \"PUDUCHERRY\", \"PUNJAB\", \"RAJASTHAN\", \"SIKKIM\", \"TAMIL NADU\", \"TELANGANA\", \"TRIPURA\", \"UTTAR PRADESH\", \"UTTARAKHAND\", and \"WEST BENGAL\".",
          "type": "string"
        }
      }
    },
    "PausedStateContext": {
      "id": "PausedStateContext",
      "properties": {
        "autoResumeTime": {
          "description": "Time at which the subscription will be automatically resumed.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "Information specific to a subscription in paused state.",
      "type": "object"
    },
    "ProductPurchase": {
      "type": "object",
      "description": "A ProductPurchase resource indicates the status of a user's inapp product purchase.",
      "id": "ProductPurchase",
      "properties": {
        "purchaseToken": {
          "type": "string",
          "description": "The purchase token generated to identify this purchase. May not be present."
        },
        "obfuscatedExternalProfileId": {
          "type": "string",
          "description": "An obfuscated version of the id that is uniquely associated with the user's profile in your app. Only present if specified using https://developer.android.com/reference/com/android/billingclient/api/BillingFlowParams.Builder#setobfuscatedprofileid when the purchase was made."
        },
        "refundableQuantity": {
          "description": "The quantity eligible for refund, i.e. quantity that hasn't been refunded. The value reflects quantity-based partial refunds and full refunds.",
          "type": "integer",
          "format": "int32"
        },
        "purchaseTimeMillis": {
          "format": "int64",
          "type": "string",
          "description": "The time the product was purchased, in milliseconds since the epoch (Jan 1, 1970)."
        },
        "obfuscatedExternalAccountId": {
          "type": "string",
          "description": "An obfuscated version of the id that is uniquely associated with the user's account in your app. Only present if specified using https://developer.android.com/reference/com/android/billingclient/api/BillingFlowParams.Builder#setobfuscatedaccountid when the purchase was made."
        },
        "quantity": {
          "format": "int32",
          "description": "The quantity associated with the purchase of the inapp product. If not present, the quantity is 1.",
          "type": "integer"
        },
        "productId": {
          "description": "The inapp product SKU. May not be present.",
          "type": "string"
        },
        "consumptionState": {
          "format": "int32",
          "type": "integer",
          "description": "The consumption state of the inapp product. Possible values are: 0. Yet to be consumed 1. Consumed"
        },
        "purchaseType": {
          "type": "integer",
          "description": "The type of purchase of the inapp product. This field is only set if this purchase was not made using the standard in-app billing flow. Possible values are: 0. Test (i.e. purchased from a license testing account) 1. Promo (i.e. purchased using a promo code). Does not include Play Points purchases. 2. Rewarded (i.e. from watching a video ad instead of paying)",
          "format": "int32"
        },
        "kind": {
          "description": "This kind represents an inappPurchase object in the androidpublisher service.",
          "type": "string"
        },
        "acknowledgementState": {
          "type": "integer",
          "description": "The acknowledgement state of the inapp product. Possible values are: 0. Yet to be acknowledged 1. Acknowledged",
          "format": "int32"
        },
        "developerPayload": {
          "type": "string",
          "description": "A developer-specified string that contains supplemental information about an order."
        },
        "purchaseState": {
          "description": "The purchase state of the order. Possible values are: 0. Purchased 1. Canceled 2. Pending",
          "format": "int32",
          "type": "integer"
        },
        "regionCode": {
          "description": "ISO 3166-1 alpha-2 billing region code of the user at the time the product was granted.",
          "type": "string"
        },
        "orderId": {
          "type": "string",
          "description": "The order id associated with the purchase of the inapp product."
        }
      }
    },
    "NestedPolicyResponse": {
      "id": "NestedPolicyResponse",
      "type": "object",
      "properties": {
        "stringResponse": {
          "description": "Optional. A string response.",
          "$ref": "PolicyStringResponse"
        },
        "documentResponse": {
          "$ref": "PolicyDocumentResponse",
          "description": "Optional. A document response."
        },
        "questionId": {
          "type": "string",
          "description": "Required. ID of the question being answered."
        },
        "singleChoiceResponse": {
          "$ref": "PolicySingleChoiceResponse",
          "description": "Optional. A single choice response."
        },
        "multipleChoiceResponse": {
          "$ref": "PolicyMultipleChoiceResponse",
          "description": "Optional. A multiple choice response."
        },
        "booleanResponse": {
          "description": "Optional. A boolean response.",
          "$ref": "PolicyBooleanResponse"
        }
      },
      "description": "An individual nested response to a policy question about an app. Nested responses are like regular responses but without groups."
    },
    "InstallmentPlan": {
      "id": "InstallmentPlan",
      "properties": {
        "remainingCommittedPaymentsCount": {
          "type": "integer",
          "format": "int32",
          "description": "Total number of committed payments remaining to be paid for in this renewal cycle."
        },
        "pendingCancellation": {
          "description": "If present, this installment plan is pending to be canceled. The cancellation will happen only after the user finished all committed payments.",
          "$ref": "PendingCancellation"
        },
        "initialCommittedPaymentsCount": {
          "format": "int32",
          "type": "integer",
          "description": "Total number of payments the user is initially committed for."
        },
        "subsequentCommittedPaymentsCount": {
          "type": "integer",
          "description": "Total number of payments the user will be committed for after each commitment period. Empty means the installment plan will fall back to a normal auto-renew subscription after initial commitment.",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "Information to a installment plan."
    },
    "EnrollAppRequest": {
      "description": "Request to enroll an app into Play App Signing using a self-hosted Cloud KMS key.",
      "properties": {
        "enrollExistingApp": {
          "description": "Enrolls an existing app into Play signing using an external Cloud KMS key.",
          "$ref": "EnrollExistingApp"
        },
        "enrollNewApp": {
          "$ref": "EnrollNewApp",
          "description": "Changes the signing key of a new app to an external Cloud KMS key. The app must not have published to Open testing or Production tracks."
        },
        "pemUploadCertificate": {
          "format": "byte",
          "description": "The certificate associated with the upload key, in PEM format.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "EnrollAppRequest"
    },
    "CreateDraftAppRecoveryRequest": {
      "type": "object",
      "description": "Request message for CreateDraftAppRecovery.",
      "id": "CreateDraftAppRecoveryRequest",
      "properties": {
        "remoteInAppUpdate": {
          "$ref": "RemoteInAppUpdate",
          "description": "Action type is remote in-app update. As a consequence of this action, a downloadable recovery module is also created for testing purposes."
        },
        "targeting": {
          "description": "Specifies targeting criteria for the recovery action such as regions, android sdk versions, app versions etc.",
          "$ref": "Targeting"
        }
      }
    },
    "DeployAppRecoveryRequest": {
      "type": "object",
      "properties": {},
      "description": "Request message for DeployAppRecovery.",
      "id": "DeployAppRecoveryRequest"
    },
    "Variant": {
      "type": "object",
      "id": "Variant",
      "description": "APK that is suitable for inclusion in a system image. The resource of SystemApksService.",
      "properties": {
        "variantId": {
          "readOnly": true,
          "description": "Output only. The ID of a previously created system APK variant.",
          "type": "integer",
          "format": "uint32"
        },
        "options": {
          "description": "Optional. Options applied to the generated APK.",
          "$ref": "SystemApkOptions"
        },
        "deviceSpec": {
          "description": "The device spec used to generate the APK.",
          "$ref": "DeviceSpec"
        }
      }
    },
    "ProductPurchaseV2": {
      "description": "A ProductPurchaseV2 resource indicates the status of a user's inapp product purchase.",
      "properties": {
        "orderId": {
          "type": "string",
          "description": "The order id associated with the purchase of the inapp product. May not be set if there is no order associated with the purchase."
        },
        "kind": {
          "description": "This kind represents a ProductPurchaseV2 object in the androidpublisher service.",
          "type": "string"
        },
        "purchaseCompletionTime": {
          "type": "string",
          "description": "The time when the purchase was successful, i.e., when the PurchaseState has changed to PURCHASED. This field will not be present until the payment is complete. For example, if the user initiated a pending transaction (https://developer.android.com/google/play/billing/integrate#pending), this field will not be populated until the user successfully completes the steps required to complete the transaction.",
          "format": "google-datetime"
        },
        "productLineItem": {
          "items": {
            "$ref": "ProductLineItem"
          },
          "description": "Contains item-level info for a ProductPurchaseV2.",
          "type": "array"
        },
        "obfuscatedExternalAccountId": {
          "description": "An obfuscated version of the id that is uniquely associated with the user's account in your app. Only present if specified using https://developer.android.com/reference/com/android/billingclient/api/BillingFlowParams.Builder#setobfuscatedaccountid when the purchase was made.",
          "type": "string"
        },
        "purchaseStateContext": {
          "description": "Information about the purchase state of the purchase.",
          "$ref": "PurchaseStateContext"
        },
        "testPurchaseContext": {
          "$ref": "TestPurchaseContext",
          "description": "Information related to test purchases. This will only be set for test purchases."
        },
        "acknowledgementState": {
          "description": "Output only. The acknowledgement state of the purchase.",
          "readOnly": true,
          "enum": [
            "ACKNOWLEDGEMENT_STATE_UNSPECIFIED",
            "ACKNOWLEDGEMENT_STATE_PENDING",
            "ACKNOWLEDGEMENT_STATE_ACKNOWLEDGED"
          ],
          "enumDescriptions": [
            "Unspecified acknowledgement state.",
            "The purchase is not acknowledged yet.",
            "The purchase is acknowledged."
          ],
          "type": "string"
        },
        "obfuscatedExternalProfileId": {
          "type": "string",
          "description": "An obfuscated version of the id that is uniquely associated with the user's profile in your app. Only present if specified using https://developer.android.com/reference/com/android/billingclient/api/BillingFlowParams.Builder#setobfuscatedprofileid when the purchase was made."
        },
        "regionCode": {
          "type": "string",
          "description": "ISO 3166-1 alpha-2 billing region code of the user at the time the product was granted."
        }
      },
      "type": "object",
      "id": "ProductPurchaseV2"
    },
    "Money": {
      "properties": {
        "currencyCode": {
          "description": "The three-letter currency code defined in ISO 4217.",
          "type": "string"
        },
        "nanos": {
          "type": "integer",
          "format": "int32",
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000."
        },
        "units": {
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "Represents an amount of money with its currency type.",
      "type": "object",
      "id": "Money"
    },
    "AssetModuleMetadata": {
      "id": "AssetModuleMetadata",
      "type": "object",
      "description": "Metadata of an asset module.",
      "properties": {
        "deliveryType": {
          "enumDescriptions": [
            "Unspecified delivery type.",
            "This module will always be downloaded as part of the initial install of the app.",
            "This module is requested on-demand, which means it will not be part of the initial install, and will only be sent when requested by the client.",
            "This module will be downloaded immediately after initial install finishes. The app can be opened before these modules are downloaded."
          ],
          "description": "Indicates the delivery type for persistent install.",
          "type": "string",
          "enum": [
            "UNKNOWN_DELIVERY_TYPE",
            "INSTALL_TIME",
            "ON_DEMAND",
            "FAST_FOLLOW"
          ]
        },
        "name": {
          "description": "Module name.",
          "type": "string"
        }
      }
    },
    "DeployAppRecoveryResponse": {
      "id": "DeployAppRecoveryResponse",
      "properties": {},
      "type": "object",
      "description": "Response message for DeployAppRecovery."
    },
    "BatchUpdateOneTimeProductOffersResponse": {
      "description": "Response message for BatchUpdateOneTimeProductOffers.",
      "properties": {
        "oneTimeProductOffers": {
          "items": {
            "$ref": "OneTimeProductOffer"
          },
          "type": "array",
          "description": "The list of updated one-time product offers, in the same order as the request."
        }
      },
      "type": "object",
      "id": "BatchUpdateOneTimeProductOffersResponse"
    },
    "PrepaidBasePlanType": {
      "description": "Represents a base plan that does not automatically renew at the end of the base plan, and must be manually renewed by the user.",
      "properties": {
        "timeExtension": {
          "enumDescriptions": [
            "Unspecified state.",
            "Time extension is active. Users are allowed to top-up or extend their prepaid plan.",
            "Time extension is inactive. Users cannot top-up or extend their prepaid plan."
          ],
          "type": "string",
          "enum": [
            "TIME_EXTENSION_UNSPECIFIED",
            "TIME_EXTENSION_ACTIVE",
            "TIME_EXTENSION_INACTIVE"
          ],
          "description": "Whether users should be able to extend this prepaid base plan in Google Play surfaces. Defaults to TIME_EXTENSION_ACTIVE if not specified."
        },
        "billingPeriodDuration": {
          "type": "string",
          "description": "Required. Immutable. Subscription period, specified in ISO 8601 format. For a list of acceptable billing periods, refer to the help center. The duration is immutable after the base plan is created."
        }
      },
      "id": "PrepaidBasePlanType",
      "type": "object"
    },
    "BuyerAddress": {
      "properties": {
        "buyerState": {
          "type": "string",
          "description": "Top-level administrative subdivision of the buyer address country. When Google is the Merchant of Record for the order, this information is not included."
        },
        "buyerCountry": {
          "description": "Two letter country code based on ISO-3166-1 Alpha-2 (UN country codes).",
          "type": "string"
        },
        "buyerPostcode": {
          "description": "Postal code of an address. When Google is the Merchant of Record for the order, this information is not included.",
          "type": "string"
        }
      },
      "id": "BuyerAddress",
      "description": "Address information for the customer, for use in tax computation.",
      "type": "object"
    },
    "OtherRegionsBasePlanConfig": {
      "properties": {
        "newSubscriberAvailability": {
          "type": "boolean",
          "description": "Whether the base plan is available for new subscribers in any new locations Play may launch in. If not specified, this will default to false."
        },
        "usdPrice": {
          "$ref": "Money",
          "description": "Required. Price in USD to use for any new locations Play may launch in."
        },
        "eurPrice": {
          "description": "Required. Price in EUR to use for any new locations Play may launch in.",
          "$ref": "Money"
        }
      },
      "description": "Pricing information for any new locations Play may launch in.",
      "id": "OtherRegionsBasePlanConfig",
      "type": "object"
    },
    "KeyedGroup": {
      "id": "KeyedGroup",
      "type": "object",
      "properties": {
        "responses": {
          "type": "array",
          "items": {
            "$ref": "NestedPolicyResponse"
          },
          "description": "Required. Responses in this group."
        },
        "key": {
          "description": "Required. Key for this group.",
          "type": "string"
        }
      },
      "description": "A group of responses, with a key."
    },
    "TrackTargetedCountry": {
      "description": "Representation of a single country where the contents of a track can be made available.",
      "properties": {
        "countryCode": {
          "description": "The country that can be targeted, as a two-letter CLDR code.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "TrackTargetedCountry"
    },
    "RemoteInAppUpdate": {
      "properties": {
        "isRemoteInAppUpdateRequested": {
          "description": "Required. Set to true if Remote In-App Update action type is needed.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "RemoteInAppUpdate",
      "description": "Object representation for Remote in-app update action type."
    },
    "BatchUpdateBasePlanStatesResponse": {
      "id": "BatchUpdateBasePlanStatesResponse",
      "description": "Response message for BatchUpdateBasePlanStates.",
      "properties": {
        "subscriptions": {
          "description": "The list of updated subscriptions. This list will match the requests one to one, in the same order.",
          "items": {
            "$ref": "Subscription"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "BatchUpdateOneTimeProductsResponse": {
      "description": "Response message for BatchUpdateOneTimeProduct.",
      "id": "BatchUpdateOneTimeProductsResponse",
      "type": "object",
      "properties": {
        "oneTimeProducts": {
          "description": "The list of updated one-time products list, in the same order as the request.",
          "items": {
            "$ref": "OneTimeProduct"
          },
          "type": "array"
        }
      }
    },
    "ModuleMetadata": {
      "description": "Metadata of a module.",
      "type": "object",
      "properties": {
        "deliveryType": {
          "type": "string",
          "enum": [
            "UNKNOWN_DELIVERY_TYPE",
            "INSTALL_TIME",
            "ON_DEMAND",
            "FAST_FOLLOW"
          ],
          "enumDescriptions": [
            "Unspecified delivery type.",
            "This module will always be downloaded as part of the initial install of the app.",
            "This module is requested on-demand, which means it will not be part of the initial install, and will only be sent when requested by the client.",
            "This module will be downloaded immediately after initial install finishes. The app can be opened before these modules are downloaded."
          ],
          "description": "Indicates the delivery type (e.g. on-demand) of the module."
        },
        "targeting": {
          "$ref": "ModuleTargeting",
          "description": "The targeting that makes a conditional module installed. Relevant only for Split APKs."
        },
        "dependencies": {
          "description": "Names of the modules that this module directly depends on. Each module implicitly depends on the base module.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "name": {
          "description": "Module name.",
          "type": "string"
        },
        "moduleType": {
          "description": "Indicates the type of this feature module.",
          "enumDescriptions": [
            "Unknown feature module.",
            "Regular feature module."
          ],
          "type": "string",
          "enum": [
            "UNKNOWN_MODULE_TYPE",
            "FEATURE_MODULE"
          ]
        }
      },
      "id": "ModuleMetadata"
    },
    "LocalizedStoreListings": {
      "description": "The localized store listings of an app.",
      "type": "object",
      "id": "LocalizedStoreListings",
      "properties": {
        "defaultLanguageCode": {
          "description": "The default language code of the app. If a localized store listing is not available for a given language, assets from the default language are used instead.",
          "type": "string"
        },
        "localizedStoreListings": {
          "items": {
            "$ref": "LocalizedStoreListing"
          },
          "type": "array"
        }
      }
    },
    "RegionalPriceMigrationConfig": {
      "type": "object",
      "description": "Configuration for migration of a legacy price cohort.",
      "properties": {
        "oldestAllowedPriceVersionTime": {
          "type": "string",
          "description": "Required. Subscribers in all legacy price cohorts before this time will be migrated to the current price. Subscribers in any newer price cohorts are unaffected. Affected subscribers will receive one or more notifications from Google Play about the price change. Price decreases occur at the subscriber's next billing date. Price increases occur at the subscriber's next billing date following a notification period that varies by region and price increase type.",
          "format": "google-datetime"
        },
        "priceIncreaseType": {
          "enumDescriptions": [
            "Unspecified state.",
            "Subscribers must accept the price increase or their subscription is canceled.",
            "Subscribers are notified but do not have to accept the price increase. Opt-out price increases not meeting regional, frequency, and amount limits will proceed as opt-in price increase. The first opt-out price increase for each app must be initiated in the Google Play Console."
          ],
          "description": "Optional. The requested type of price increase",
          "type": "string",
          "enum": [
            "PRICE_INCREASE_TYPE_UNSPECIFIED",
            "PRICE_INCREASE_TYPE_OPT_IN",
            "PRICE_INCREASE_TYPE_OPT_OUT"
          ]
        },
        "regionCode": {
          "type": "string",
          "description": "Required. Region code this configuration applies to, as defined by ISO 3166-2, e.g. \"US\"."
        }
      },
      "id": "RegionalPriceMigrationConfig"
    },
    "ListOneTimeProductsResponse": {
      "description": "Response message for ListOneTimeProducts.",
      "properties": {
        "oneTimeProducts": {
          "type": "array",
          "items": {
            "$ref": "OneTimeProduct"
          },
          "description": "The one-time products from the specified app."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "type": "object",
      "id": "ListOneTimeProductsResponse"
    },
    "RevokeSubscriptionPurchaseRequest": {
      "type": "object",
      "properties": {
        "revocationContext": {
          "description": "Required. Additional details around the subscription revocation.",
          "$ref": "RevocationContext"
        }
      },
      "description": "Request for the purchases.subscriptionsv2.revoke API.",
      "id": "RevokeSubscriptionPurchaseRequest"
    },
    "RemoteInAppUpdateDataPerBundle": {
      "properties": {
        "totalDeviceCount": {
          "format": "int64",
          "description": "Total number of devices affected by this recovery action associated with bundle of the app.",
          "type": "string"
        },
        "versionCode": {
          "type": "string",
          "format": "int64",
          "description": "Version Code corresponding to the target bundle."
        },
        "recoveredDeviceCount": {
          "type": "string",
          "format": "int64",
          "description": "Total number of devices which have been rescued."
        }
      },
      "id": "RemoteInAppUpdateDataPerBundle",
      "type": "object",
      "description": "Data related to the recovery action at bundle level."
    },
    "UserCountriesTargeting": {
      "description": "Describes an inclusive/exclusive list of country codes that module targets.",
      "properties": {
        "countryCodes": {
          "type": "array",
          "description": "List of country codes in the two-letter CLDR territory format.",
          "items": {
            "type": "string"
          }
        },
        "exclude": {
          "type": "boolean",
          "description": "Indicates if the list above is exclusive."
        }
      },
      "type": "object",
      "id": "UserCountriesTargeting"
    },
    "AppStoreAppPolicyDeclaration": {
      "type": "object",
      "description": "A policy declaration with its responses.",
      "properties": {
        "declarationId": {
          "description": "Required. ID of the policy declaration.",
          "type": "string"
        },
        "responses": {
          "type": "array",
          "description": "Required. Responses provided for this declaration.",
          "items": {
            "$ref": "PolicyResponse"
          }
        }
      },
      "id": "AppStoreAppPolicyDeclaration"
    },
    "PartialRefundEvent": {
      "properties": {
        "processTime": {
          "description": "The time when the partial refund was processed.",
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "PROCESSED_SUCCESSFULLY"
          ],
          "description": "The state of the partial refund.",
          "enumDescriptions": [
            "State unspecified. This value is not used.",
            "The partial refund has been created, but not yet processed.",
            "The partial refund was processed successfully."
          ]
        },
        "createTime": {
          "description": "The time when the partial refund was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "refundDetails": {
          "description": "Details for the partial refund.",
          "$ref": "RefundDetails"
        }
      },
      "id": "PartialRefundEvent",
      "description": "Details of the partial refund events for this order.",
      "type": "object"
    },
    "AppStoreAppStoreListing": {
      "description": "A localized store listing. These are the details about the app as shown in your app store.",
      "properties": {
        "videoLink": {
          "type": "string",
          "description": "Optional. Link to a video about the app."
        },
        "appName": {
          "type": "string",
          "description": "Required. The title of the app."
        },
        "fullDescription": {
          "type": "string",
          "description": "Required. Comprehensive description text about the app."
        },
        "shortDescription": {
          "type": "string",
          "description": "Optional. Quick summary about the app."
        },
        "screenshotId": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. Multiple image IDs for screenshot galleries."
        },
        "appIconId": {
          "description": "Required. Image ID generated from UploadImage for the main app icon.",
          "type": "string"
        },
        "languageCode": {
          "type": "string",
          "description": "Required. Language code (e.g., \"en-US\") of the listing."
        }
      },
      "id": "AppStoreAppStoreListing",
      "type": "object"
    },
    "ReviewsReplyRequest": {
      "type": "object",
      "id": "ReviewsReplyRequest",
      "properties": {
        "replyText": {
          "type": "string",
          "description": "The text to set as the reply. Replies of more than approximately 350 characters will be rejected. HTML tags will be stripped."
        }
      },
      "description": "Request to reply to review or update existing reply."
    },
    "CountryTargeting": {
      "id": "CountryTargeting",
      "description": "Country targeting specification.",
      "properties": {
        "countries": {
          "type": "array",
          "description": "Countries to target, specified as two letter [CLDR codes](https://unicode.org/cldr/charts/latest/supplemental/territory_containment_un_m_49.html).",
          "items": {
            "type": "string"
          }
        },
        "includeRestOfWorld": {
          "type": "boolean",
          "description": "Include \"rest of world\" as well as explicitly targeted countries."
        }
      },
      "type": "object"
    },
    "OrderHistory": {
      "id": "OrderHistory",
      "description": "Details about events which modified the order.",
      "properties": {
        "processedEvent": {
          "$ref": "ProcessedEvent",
          "description": "Details of when the order was processed."
        },
        "partialRefundEvents": {
          "items": {
            "$ref": "PartialRefundEvent"
          },
          "type": "array",
          "description": "Details of the partial refund events for this order."
        },
        "cancellationEvent": {
          "description": "Details of when the order was canceled.",
          "$ref": "CancellationEvent"
        },
        "refundEvent": {
          "$ref": "RefundEvent",
          "description": "Details of when the order was fully refunded."
        }
      },
      "type": "object"
    },
    "SocSelector": {
      "type": "object",
      "description": "Defines a SOC selector for a device. This will match any device whose SoC (System on Chip) matches all fields in the selector.",
      "id": "SocSelector",
      "properties": {
        "socMake": {
          "description": "The manufacturer of the SoC.",
          "type": "string"
        },
        "socModel": {
          "description": "The model of the SoC.",
          "type": "string"
        }
      }
    },
    "InappproductsDeleteRequest": {
      "description": "Request to delete an in-app product.",
      "id": "InappproductsDeleteRequest",
      "type": "object",
      "properties": {
        "packageName": {
          "description": "Package name of the app.",
          "type": "string"
        },
        "sku": {
          "description": "Unique identifier for the in-app product.",
          "type": "string"
        },
        "latencyTolerance": {
          "enumDescriptions": [
            "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
            "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
            "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
          ],
          "type": "string",
          "enum": [
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
          ],
          "description": "Optional. The latency tolerance for the propagation of this product update. Defaults to latency-sensitive."
        }
      }
    },
    "RevocationContextItemBasedRefund": {
      "properties": {
        "productId": {
          "description": "Required. If the subscription is a subscription with add-ons, the product id of the subscription item to revoke.",
          "type": "string"
        }
      },
      "description": "Used to determine what specific item to revoke in a subscription with multiple items.",
      "type": "object",
      "id": "RevocationContextItemBasedRefund"
    },
    "BatchUpdateOneTimeProductOfferStatesRequest": {
      "type": "object",
      "id": "BatchUpdateOneTimeProductOfferStatesRequest",
      "description": "Request message for BatchUpdateOneTimeProductOfferStates.",
      "properties": {
        "requests": {
          "type": "array",
          "items": {
            "$ref": "UpdateOneTimeProductOfferStateRequest"
          },
          "description": "Required. The update request list of up to 100 elements. All requests must update different offers."
        }
      }
    },
    "SubscriptionOfferPhase": {
      "id": "SubscriptionOfferPhase",
      "properties": {
        "regionalConfigs": {
          "items": {
            "$ref": "RegionalSubscriptionOfferPhaseConfig"
          },
          "type": "array",
          "description": "Required. The region-specific configuration of this offer phase. This list must contain exactly one entry for each region for which the subscription offer has a regional config."
        },
        "otherRegionsConfig": {
          "$ref": "OtherRegionsSubscriptionOfferPhaseConfig",
          "description": "Pricing information for any new locations Play may launch in."
        },
        "recurrenceCount": {
          "format": "int32",
          "type": "integer",
          "description": "Required. The number of times this phase repeats. If this offer phase is not free, each recurrence charges the user the price of this offer phase."
        },
        "duration": {
          "type": "string",
          "description": "Required. The duration of a single recurrence of this phase. Specified in ISO 8601 format."
        }
      },
      "type": "object",
      "description": "A single phase of a subscription offer."
    },
    "BatchDeleteOneTimeProductOffersRequest": {
      "type": "object",
      "description": "Request message for BatchDeleteOneTimeProductOffers.",
      "properties": {
        "requests": {
          "items": {
            "$ref": "DeleteOneTimeProductOfferRequest"
          },
          "description": "Required. A list of update requests of up to 100 elements. All requests must correspond to different offers.",
          "type": "array"
        }
      },
      "id": "BatchDeleteOneTimeProductOffersRequest"
    },
    "UpdateAppStoreHostedAppPublishStatusResponse": {
      "description": "Response for updating the publish status of an app store hosted app.",
      "id": "UpdateAppStoreHostedAppPublishStatusResponse",
      "properties": {},
      "type": "object"
    },
    "GeneratedSplitApk": {
      "description": "Download metadata for a split APK.",
      "id": "GeneratedSplitApk",
      "properties": {
        "splitId": {
          "description": "Split ID. Empty for the main split of the base module.",
          "type": "string"
        },
        "downloadId": {
          "description": "Download ID, which uniquely identifies the APK to download. Should be supplied to `generatedapks.download` method.",
          "type": "string"
        },
        "variantId": {
          "format": "int32",
          "description": "ID of the generated variant.",
          "type": "integer"
        },
        "moduleName": {
          "description": "Name of the module that this APK belongs to.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "PolicyDocumentResponse": {
      "description": "An uploaded document. Must be a single logical document (e.g. a financial license).",
      "type": "object",
      "id": "PolicyDocumentResponse",
      "properties": {
        "nonExpiring": {
          "type": "boolean",
          "description": "Optional. True if confirmed that the document does not have an expiry date."
        },
        "documentId": {
          "description": "Required. ID of the uploaded document.",
          "type": "string"
        },
        "expiryDate": {
          "description": "Optional. Expiry date for the document.",
          "$ref": "Date"
        }
      }
    },
    "CancelSurveyResult": {
      "type": "object",
      "id": "CancelSurveyResult",
      "description": "Result of the cancel survey when the subscription was canceled by the user.",
      "properties": {
        "reason": {
          "enumDescriptions": [
            "Unspecified cancel survey reason.",
            "Not enough usage of the subscription.",
            "Technical issues while using the app.",
            "Cost related issues.",
            "The user found a better app.",
            "Other reasons."
          ],
          "description": "The reason the user selected in the cancel survey.",
          "type": "string",
          "enum": [
            "CANCEL_SURVEY_REASON_UNSPECIFIED",
            "CANCEL_SURVEY_REASON_NOT_ENOUGH_USAGE",
            "CANCEL_SURVEY_REASON_TECHNICAL_ISSUES",
            "CANCEL_SURVEY_REASON_COST_RELATED",
            "CANCEL_SURVEY_REASON_FOUND_BETTER_APP",
            "CANCEL_SURVEY_REASON_OTHERS"
          ]
        },
        "reasonUserInput": {
          "type": "string",
          "description": "Only set for CANCEL_SURVEY_REASON_OTHERS. This is the user's freeform response to the survey."
        }
      }
    },
    "InappproductsBatchUpdateResponse": {
      "type": "object",
      "id": "InappproductsBatchUpdateResponse",
      "properties": {
        "inappproducts": {
          "type": "array",
          "description": "The updated or inserted in-app products.",
          "items": {
            "$ref": "InAppProduct"
          }
        }
      },
      "description": "Response for a batch in-app product update."
    },
    "AppVersionList": {
      "properties": {
        "versionCodes": {
          "items": {
            "format": "int64",
            "type": "string"
          },
          "description": "List of app version codes.",
          "type": "array"
        }
      },
      "description": "Data format for a list of app versions.",
      "id": "AppVersionList",
      "type": "object"
    },
    "BatchUpdatePurchaseOptionStatesResponse": {
      "properties": {
        "oneTimeProducts": {
          "items": {
            "$ref": "OneTimeProduct"
          },
          "type": "array",
          "description": "The list of updated one-time products. This list will match the requests one to one, in the same order."
        }
      },
      "id": "BatchUpdatePurchaseOptionStatesResponse",
      "description": "Response message for BatchUpdatePurchaseOptionStates.",
      "type": "object"
    },
    "TextureCompressionFormatTargeting": {
      "properties": {
        "alternatives": {
          "type": "array",
          "items": {
            "$ref": "TextureCompressionFormat"
          },
          "description": "List of alternative TCFs (TCFs targeted by the sibling splits)."
        },
        "value": {
          "description": "The list of targeted TCFs. Should not be empty.",
          "type": "array",
          "items": {
            "$ref": "TextureCompressionFormat"
          }
        }
      },
      "id": "TextureCompressionFormatTargeting",
      "description": "Targeting by a texture compression format.",
      "type": "object"
    },
    "OfferPhaseDetails": {
      "description": "Details of a pricing phase for the entitlement period funded by this order.",
      "properties": {
        "baseDetails": {
          "description": "The order funds a base price period.",
          "$ref": "BaseDetails"
        },
        "prorationPeriodDetails": {
          "$ref": "ProrationPeriodDetails",
          "description": "The order funds a proration period."
        },
        "introductoryPriceDetails": {
          "description": "The order funds an introductory pricing period.",
          "$ref": "IntroductoryPriceDetails"
        },
        "freeTrialDetails": {
          "$ref": "FreeTrialDetails",
          "description": "The order funds a free trial period."
        }
      },
      "id": "OfferPhaseDetails",
      "type": "object"
    },
    "VideoAsset": {
      "type": "object",
      "properties": {
        "videoUrl": {
          "description": "The URL of the video asset.",
          "type": "string"
        }
      },
      "description": "A video asset.",
      "id": "VideoAsset"
    },
    "BatchUpdateBasePlanStatesRequest": {
      "properties": {
        "requests": {
          "items": {
            "$ref": "UpdateBasePlanStateRequest"
          },
          "type": "array",
          "description": "Required. The update request list of up to 100 elements. All requests must update different base plans."
        }
      },
      "description": "Request message for BatchUpdateBasePlanStates.",
      "type": "object",
      "id": "BatchUpdateBasePlanStatesRequest"
    },
    "PriceStepUpConsentDetails": {
      "properties": {
        "newPrice": {
          "description": "The new price which requires user consent.",
          "$ref": "Money"
        },
        "consentDeadlineTime": {
          "format": "google-datetime",
          "description": "The deadline by which the user must provide consent. If consent is not provided by this time, the subscription will be canceled.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified consent state.",
            "The user has not yet provided consent.",
            "The user has consented, and the new price is waiting to take effect.",
            "The user has consented, and the new price has taken effect."
          ],
          "description": "Output only. The state of the price step-up consent.",
          "enum": [
            "CONSENT_STATE_UNSPECIFIED",
            "PENDING",
            "CONFIRMED",
            "COMPLETED"
          ],
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Information related to a price step-up that requires user consent.",
      "id": "PriceStepUpConsentDetails"
    },
    "DeviceMetadata": {
      "type": "object",
      "properties": {
        "productName": {
          "description": "Device model name (e.g. Droid)",
          "type": "string"
        },
        "cpuMake": {
          "type": "string",
          "description": "Device CPU make, e.g. \"Qualcomm\""
        },
        "screenDensityDpi": {
          "format": "int32",
          "type": "integer",
          "description": "Screen density in DPI"
        },
        "screenHeightPx": {
          "description": "Screen height in pixels",
          "format": "int32",
          "type": "integer"
        },
        "deviceClass": {
          "type": "string",
          "description": "Device class (e.g. tablet)"
        },
        "ramMb": {
          "type": "integer",
          "description": "Device RAM in Megabytes, e.g. \"2048\"",
          "format": "int32"
        },
        "manufacturer": {
          "description": "Device manufacturer (e.g. Motorola)",
          "type": "string"
        },
        "screenWidthPx": {
          "format": "int32",
          "type": "integer",
          "description": "Screen width in pixels"
        },
        "nativePlatform": {
          "description": "Comma separated list of native platforms (e.g. \"arm\", \"arm7\")",
          "type": "string"
        },
        "cpuModel": {
          "description": "Device CPU model, e.g. \"MSM8974\"",
          "type": "string"
        },
        "glEsVersion": {
          "format": "int32",
          "type": "integer",
          "description": "OpenGL version"
        }
      },
      "description": "Characteristics of the user's device.",
      "id": "DeviceMetadata"
    },
    "ExternalOfferDetails": {
      "type": "object",
      "properties": {
        "appDownloadEventExternalTransactionId": {
          "description": "Optional. The external transaction id associated with the app download event through an external link. Required when reporting transactions made in externally installed apps.",
          "type": "string"
        },
        "installedAppCategory": {
          "type": "string",
          "enum": [
            "EXTERNAL_OFFER_APP_CATEGORY_UNSPECIFIED",
            "APP",
            "GAME"
          ],
          "enumDescriptions": [
            "Unspecified, do not use.",
            "The app is classified under the app category.",
            "The app is classified under the game category."
          ],
          "description": "Optional. The category of the downloaded app though this transaction. This must match the category provided in Play Console during the external app verification process. Only required for app downloads."
        },
        "installedAppPackage": {
          "type": "string",
          "description": "Optional. The package name of the app downloaded through this transaction. Required when link_type is LINK_TO_APP_DOWNLOAD."
        },
        "linkType": {
          "type": "string",
          "enum": [
            "EXTERNAL_OFFER_LINK_TYPE_UNSPECIFIED",
            "LINK_TO_DIGITAL_CONTENT_OFFER",
            "LINK_TO_APP_DOWNLOAD"
          ],
          "description": "Optional. The type of content being reported by this transaction. Required when reporting app downloads or purchased digital content offers made in app installed through Google Play.",
          "enumDescriptions": [
            "Unspecified, do not use.",
            "An offer to purchase digital content.",
            "An app install."
          ]
        }
      },
      "id": "ExternalOfferDetails",
      "description": "Reporting details unique to the external offers program."
    },
    "CancelAppRecoveryRequest": {
      "type": "object",
      "id": "CancelAppRecoveryRequest",
      "properties": {},
      "description": "Request message for CancelAppRecovery."
    },
    "ApksAddExternallyHostedResponse": {
      "type": "object",
      "properties": {
        "externallyHostedApk": {
          "description": "The definition of the externally-hosted APK and where it is located.",
          "$ref": "ExternallyHostedApk"
        }
      },
      "id": "ApksAddExternallyHostedResponse",
      "description": "Response for creating a new externally hosted APK."
    },
    "AssetSliceSet": {
      "id": "AssetSliceSet",
      "properties": {
        "assetModuleMetadata": {
          "description": "Module level metadata.",
          "$ref": "AssetModuleMetadata"
        },
        "apkDescription": {
          "items": {
            "$ref": "ApkDescription"
          },
          "description": "Asset slices.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Set of asset slices belonging to a single asset module."
    },
    "ApkTargeting": {
      "type": "object",
      "description": "Represents a set of apk-level targetings.",
      "id": "ApkTargeting",
      "properties": {
        "screenDensityTargeting": {
          "$ref": "ScreenDensityTargeting",
          "description": "The screen density that this apk supports."
        },
        "sdkVersionTargeting": {
          "$ref": "SdkVersionTargeting",
          "description": "The sdk version that the apk targets"
        },
        "languageTargeting": {
          "description": "The language that the apk targets",
          "$ref": "LanguageTargeting"
        },
        "abiTargeting": {
          "description": "The abi that the apk targets",
          "$ref": "AbiTargeting"
        },
        "textureCompressionFormatTargeting": {
          "description": "Texture-compression-format-level targeting",
          "$ref": "TextureCompressionFormatTargeting"
        },
        "multiAbiTargeting": {
          "description": "Multi-api-level targeting.",
          "$ref": "MultiAbiTargeting"
        }
      }
    },
    "SdkVersion": {
      "description": "Represents an sdk version.",
      "properties": {
        "min": {
          "type": "integer",
          "format": "int32",
          "description": "Inclusive minimum value of an sdk version."
        }
      },
      "id": "SdkVersion",
      "type": "object"
    },
    "DeactivatePurchaseOptionRequest": {
      "description": "Request message for UpdatePurchaseOptionState.",
      "type": "object",
      "properties": {
        "packageName": {
          "description": "Required. The parent app (package name) of the purchase option to deactivate.",
          "type": "string"
        },
        "productId": {
          "type": "string",
          "description": "Required. The parent one-time product (ID) of the purchase option to deactivate."
        },
        "purchaseOptionId": {
          "type": "string",
          "description": "Required. The purchase option ID of the purchase option to deactivate."
        },
        "latencyTolerance": {
          "description": "Optional. The latency tolerance for the propagation of this product update. Defaults to latency-sensitive.",
          "type": "string",
          "enum": [
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
          ],
          "enumDescriptions": [
            "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
            "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
            "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
          ]
        }
      },
      "id": "DeactivatePurchaseOptionRequest"
    },
    "SdkVersionTargeting": {
      "id": "SdkVersionTargeting",
      "properties": {
        "value": {
          "type": "array",
          "description": "Value of an sdk version.",
          "items": {
            "$ref": "SdkVersion"
          }
        },
        "alternatives": {
          "description": "Targeting of other sibling directories that were in the Bundle. For main splits this is targeting of other main splits.",
          "type": "array",
          "items": {
            "$ref": "SdkVersion"
          }
        }
      },
      "type": "object",
      "description": "Targeting based on sdk version."
    },
    "TestPurchase": {
      "properties": {},
      "id": "TestPurchase",
      "description": "Whether this subscription purchase is a test purchase.",
      "type": "object"
    },
    "ImagesDeleteAllResponse": {
      "type": "object",
      "id": "ImagesDeleteAllResponse",
      "properties": {
        "deleted": {
          "description": "The deleted images.",
          "items": {
            "$ref": "Image"
          },
          "type": "array"
        }
      },
      "description": "Response for deleting all images."
    },
    "UpdateSubscriptionOfferRequest": {
      "type": "object",
      "id": "UpdateSubscriptionOfferRequest",
      "properties": {
        "subscriptionOffer": {
          "description": "Required. The subscription offer to update.",
          "$ref": "SubscriptionOffer"
        },
        "regionsVersion": {
          "description": "Required. The version of the available regions being used for the subscription_offer.",
          "$ref": "RegionsVersion"
        },
        "updateMask": {
          "format": "google-fieldmask",
          "description": "Required. The list of fields to be updated.",
          "type": "string"
        },
        "allowMissing": {
          "description": "Optional. If set to true, and the subscription offer with the given package_name, product_id, base_plan_id and offer_id doesn't exist, an offer will be created. If a new offer is created, update_mask is ignored.",
          "type": "boolean"
        },
        "latencyTolerance": {
          "enumDescriptions": [
            "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
            "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
            "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
          ],
          "description": "Optional. The latency tolerance for the propagation of this product update. Defaults to latency-sensitive.",
          "type": "string",
          "enum": [
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
          ]
        }
      },
      "description": "Request message for UpdateSubscriptionOffer."
    },
    "BatchUpdatePurchaseOptionStatesRequest": {
      "properties": {
        "requests": {
          "description": "Required. The update request list of up to 100 elements. All requests must update different purchase options.",
          "type": "array",
          "items": {
            "$ref": "UpdatePurchaseOptionStateRequest"
          }
        }
      },
      "type": "object",
      "description": "Request message for BatchUpdatePurchaseOptionStates.",
      "id": "BatchUpdatePurchaseOptionStatesRequest"
    },
    "SubscriptionPurchaseLineItem": {
      "type": "object",
      "id": "SubscriptionPurchaseLineItem",
      "description": "Item-level info for a subscription purchase.",
      "properties": {
        "offerDetails": {
          "description": "The offer details for this item.",
          "$ref": "OfferDetails"
        },
        "latestSuccessfulOrderId": {
          "type": "string",
          "description": "The order id of the latest successful order associated with this item. Not present if the item is not owned by the user yet (e.g. the item being deferred replaced to)."
        },
        "deferredItemReplacement": {
          "description": "Information for deferred item replacement.",
          "$ref": "DeferredItemReplacement"
        },
        "deferredItemRemoval": {
          "description": "Information for deferred item removal.",
          "$ref": "DeferredItemRemoval"
        },
        "offerPhase": {
          "description": "Current offer phase details for this item.",
          "$ref": "OfferPhase"
        },
        "prepaidPlan": {
          "description": "The item is prepaid.",
          "$ref": "PrepaidPlan"
        },
        "itemReplacement": {
          "description": "Details of the item being replaced. This field is only populated if this item replaced another item in a previous subscription and is only available for 60 days after the purchase time.",
          "$ref": "ItemReplacement"
        },
        "signupPromotion": {
          "$ref": "SignupPromotion",
          "description": "Promotion details about this item. Only set if a promotion was applied during signup."
        },
        "expiryTime": {
          "description": "Time at which the subscription expired or will expire unless the access is extended (ex. renews).",
          "format": "google-datetime",
          "type": "string"
        },
        "autoRenewingPlan": {
          "description": "The item is auto renewing.",
          "$ref": "AutoRenewingPlan"
        },
        "productId": {
          "type": "string",
          "description": "The purchased product ID (for example, 'monthly001')."
        }
      }
    },
    "PolicyStringResponse": {
      "type": "object",
      "properties": {
        "value": {
          "description": "Required. Provided string value.",
          "type": "string"
        }
      },
      "description": "Any response best encoded as a string. Includes URLs and multiline text fields.",
      "id": "PolicyStringResponse"
    },
    "ExternalContentLinkDetails": {
      "description": "Reporting details unique to the external content link program.",
      "properties": {
        "externalAppCategory": {
          "enumDescriptions": [
            "Unspecified, do not use.",
            "The app is classified under the app category.",
            "The app is classified under the game category."
          ],
          "description": "Optional. The category of the downlaoded app. This must match the category provided in Play Console during the external app verification process. Only required for app installs.",
          "type": "string",
          "enum": [
            "EXTERNAL_CONTENT_APP_CATEGORY_UNSPECIFIED",
            "APP",
            "GAME"
          ]
        },
        "installedAppPackage": {
          "description": "Optional. The package name of the app downloaded through this transaction. Only required for app installs.",
          "type": "string"
        },
        "linkType": {
          "type": "string",
          "enum": [
            "EXTERNAL_CONTENT_LINK_TYPE_UNSPECIFIED",
            "LINK_TO_DIGITAL_CONTENT_OFFER",
            "LINK_TO_APP_DOWNLOAD"
          ],
          "description": "Required. The type content being reported by this transaction.",
          "enumDescriptions": [
            "Unspecified, do not use.",
            "An offer to purchase digital content.",
            "An app install."
          ]
        }
      },
      "id": "ExternalContentLinkDetails",
      "type": "object"
    },
    "EnrollExistingApp": {
      "properties": {
        "cloudKmsKey": {
          "description": "Required. Self-hosted key. Once enrolled, this key will be used to sign your app.",
          "$ref": "CloudKmsKey"
        }
      },
      "id": "EnrollExistingApp",
      "description": "Enroll an existing app into Play signing.",
      "type": "object"
    },
    "CancelSubscriptionPurchaseRequest": {
      "id": "CancelSubscriptionPurchaseRequest",
      "properties": {
        "cancellationContext": {
          "description": "Required. Additional details around the subscription revocation.",
          "$ref": "CancellationContext"
        }
      },
      "description": "Request for the purchases.subscriptionsv2.cancel API.",
      "type": "object"
    },
    "LocalizedStoreListing": {
      "description": "A localized store listings of the app.",
      "id": "LocalizedStoreListing",
      "properties": {
        "languageCode": {
          "type": "string",
          "description": "The BCP-47 language code for this localization."
        },
        "shortDescription": {
          "type": "string",
          "description": "A short description of the app in this localization."
        },
        "appName": {
          "type": "string",
          "description": "The name of the app in this localization."
        },
        "phoneScreenshots": {
          "$ref": "ScreenshotSet",
          "description": "The phone screenshots of the app."
        },
        "video": {
          "description": "The video of the app.",
          "$ref": "VideoAsset"
        },
        "tabletRegularScreenshots": {
          "$ref": "ScreenshotSet",
          "description": "The regular tablet screenshots of the app."
        },
        "icon": {
          "$ref": "ImageAsset",
          "description": "The icon of the app."
        },
        "tabletSmallScreenshots": {
          "description": "The small tablet screenshots of the app.",
          "$ref": "ScreenshotSet"
        },
        "featureGraphic": {
          "$ref": "ImageAsset",
          "description": "The feature graphic of the app."
        },
        "fullDescription": {
          "type": "string",
          "description": "A longer description of the app in this localization."
        }
      },
      "type": "object"
    },
    "Group": {
      "type": "object",
      "id": "Group",
      "properties": {
        "responses": {
          "description": "Required. Responses within a group.",
          "items": {
            "$ref": "NestedPolicyResponse"
          },
          "type": "array"
        }
      },
      "description": "A group of responses."
    },
    "ExternalTransactionTestPurchase": {
      "id": "ExternalTransactionTestPurchase",
      "properties": {},
      "type": "object",
      "description": "Represents a transaction performed using a test account. These transactions will not be charged by Google."
    },
    "BatchGetSubscriptionOffersResponse": {
      "type": "object",
      "id": "BatchGetSubscriptionOffersResponse",
      "properties": {
        "subscriptionOffers": {
          "type": "array",
          "items": {
            "$ref": "SubscriptionOffer"
          }
        }
      },
      "description": "Response message for BatchGetSubscriptionOffers endpoint."
    },
    "DeobfuscationFile": {
      "id": "DeobfuscationFile",
      "properties": {
        "symbolType": {
          "enumDescriptions": [
            "Unspecified deobfuscation file type.",
            "Proguard deobfuscation file type.",
            "Native debugging symbols file type."
          ],
          "description": "The type of the deobfuscation file.",
          "type": "string",
          "enum": [
            "deobfuscationFileTypeUnspecified",
            "proguard",
            "nativeCode"
          ]
        }
      },
      "description": "Represents a deobfuscation file.",
      "type": "object"
    },
    "FullRefund": {
      "type": "object",
      "id": "FullRefund",
      "properties": {},
      "description": "A full refund of the remaining amount of a transaction."
    },
    "RegionalBasePlanConfig": {
      "properties": {
        "regionCode": {
          "type": "string",
          "description": "Required. Region code this configuration applies to, as defined by ISO 3166-2, e.g. \"US\"."
        },
        "price": {
          "$ref": "Money",
          "description": "The price of the base plan in the specified region. Must be set if the base plan is available to new subscribers. Must be set in the currency that is linked to the specified region."
        },
        "newSubscriberAvailability": {
          "type": "boolean",
          "description": "Whether the base plan in the specified region is available for new subscribers. Existing subscribers will not have their subscription canceled if this value is set to false. If not specified, this will default to false."
        }
      },
      "id": "RegionalBasePlanConfig",
      "description": "Configuration for a base plan specific to a region.",
      "type": "object"
    },
    "OneTimeProductListing": {
      "type": "object",
      "properties": {
        "languageCode": {
          "description": "Required. The language of this listing, as defined by BCP-47, e.g., \"en-US\".",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Required. The description of this product in the language of this listing. The maximum length is 200 characters."
        },
        "title": {
          "description": "Required. The title of this product in the language of this listing. The maximum length is 55 characters.",
          "type": "string"
        }
      },
      "id": "OneTimeProductListing",
      "description": "Regional store listing for a one-time product."
    },
    "InternalAppSharingArtifact": {
      "description": "An artifact resource which gets created when uploading an APK or Android App Bundle through internal app sharing.",
      "type": "object",
      "properties": {
        "sha256": {
          "description": "The sha256 hash of the artifact represented as a lowercase hexadecimal number, matching the output of the sha256sum command.",
          "type": "string"
        },
        "downloadUrl": {
          "type": "string",
          "description": "The download URL generated for the uploaded artifact. Users that are authorized to download can follow the link to the Play Store app to install it."
        },
        "certificateFingerprint": {
          "type": "string",
          "description": "The sha256 fingerprint of the certificate used to sign the generated artifact."
        }
      },
      "id": "InternalAppSharingArtifact"
    },
    "InAppProductListing": {
      "properties": {
        "benefits": {
          "description": "Localized entitlement benefits for a subscription.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "description": {
          "type": "string",
          "description": "Description for the store listing."
        },
        "title": {
          "description": "Title for the store listing.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "InAppProductListing",
      "description": "Store listing of a single in-app product."
    },
    "ModuleTargeting": {
      "description": "Targeting on the module level.",
      "type": "object",
      "properties": {
        "sdkVersionTargeting": {
          "description": "The sdk version that the variant targets",
          "$ref": "SdkVersionTargeting"
        },
        "deviceFeatureTargeting": {
          "type": "array",
          "description": "Targeting for device features.",
          "items": {
            "$ref": "DeviceFeatureTargeting"
          }
        },
        "userCountriesTargeting": {
          "$ref": "UserCountriesTargeting",
          "description": "Countries-level targeting"
        }
      },
      "id": "ModuleTargeting"
    },
    "BatchUpdateSubscriptionsRequest": {
      "description": "Request message for BatchUpdateSubscription.",
      "type": "object",
      "properties": {
        "requests": {
          "items": {
            "$ref": "UpdateSubscriptionRequest"
          },
          "description": "Required. A list of update requests of up to 100 elements. All requests must update different subscriptions.",
          "type": "array"
        }
      },
      "id": "BatchUpdateSubscriptionsRequest"
    },
    "Comment": {
      "description": "An entry of conversation between user and developer.",
      "properties": {
        "userComment": {
          "$ref": "UserComment",
          "description": "A comment from a user."
        },
        "developerComment": {
          "description": "A comment from a developer.",
          "$ref": "DeveloperComment"
        }
      },
      "id": "Comment",
      "type": "object"
    },
    "RestrictedPaymentCountries": {
      "id": "RestrictedPaymentCountries",
      "type": "object",
      "description": "Countries where the purchase of this product is restricted to payment methods registered in the same country. If empty, no payment location restrictions are imposed.",
      "properties": {
        "regionCodes": {
          "description": "Required. Region codes to impose payment restrictions on, as defined by ISO 3166-2, e.g. \"US\".",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "BatchGetOneTimeProductsResponse": {
      "properties": {
        "oneTimeProducts": {
          "items": {
            "$ref": "OneTimeProduct"
          },
          "description": "The list of requested one-time products, in the same order as the request.",
          "type": "array"
        }
      },
      "description": "Response message for the BatchGetOneTimeProducts endpoint.",
      "id": "BatchGetOneTimeProductsResponse",
      "type": "object"
    },
    "RecurringExternalTransaction": {
      "type": "object",
      "description": "Represents a transaction that is part of a recurring series of payments. This can be a subscription or a one-time product with multiple payments (such as preorder).",
      "properties": {
        "externalSubscription": {
          "$ref": "ExternalSubscription",
          "description": "Details of an external subscription."
        },
        "otherRecurringProduct": {
          "description": "Details of a recurring external transaction product which doesn't belong to any other specific category.",
          "$ref": "OtherRecurringProduct"
        },
        "externalTransactionToken": {
          "type": "string",
          "description": "Input only. Provided during the call to Create. Retrieved from the client when the alternative billing flow is launched. Required only for the initial purchase."
        },
        "migratedTransactionProgram": {
          "description": "Input only. Provided during the call to Create. Must only be used when migrating a subscription from manual monthly reporting to automated reporting.",
          "enumDescriptions": [
            "Unspecified transaction program. Not used.",
            "User choice billing, where a user may choose between Google Play Billing developer-managed billing.",
            "Alternative billing only, where users may only use developer-manager billing."
          ],
          "type": "string",
          "enum": [
            "EXTERNAL_TRANSACTION_PROGRAM_UNSPECIFIED",
            "USER_CHOICE_BILLING",
            "ALTERNATIVE_BILLING_ONLY"
          ]
        },
        "initialExternalTransactionId": {
          "description": "The external transaction id of the first transaction of this recurring series of transactions. For example, for a subscription this would be the transaction id of the first payment. Required when creating recurring external transactions.",
          "type": "string"
        }
      },
      "id": "RecurringExternalTransaction"
    },
    "SubscriptionListing": {
      "type": "object",
      "id": "SubscriptionListing",
      "description": "The consumer-visible metadata of a subscription.",
      "properties": {
        "languageCode": {
          "description": "Required. The language of this listing, as defined by BCP-47, e.g. \"en-US\".",
          "type": "string"
        },
        "benefits": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of benefits shown to the user on platforms such as the Play Store and in restoration flows in the language of this listing. Plain text. Ordered list of at most four benefits."
        },
        "title": {
          "description": "Required. The title of this subscription in the language of this listing. Plain text.",
          "type": "string"
        },
        "description": {
          "description": "The description of this subscription in the language of this listing. Maximum length - 200 characters. Plain text.",
          "type": "string"
        }
      }
    },
    "BundlesListResponse": {
      "description": "Response listing all app bundles.",
      "properties": {
        "kind": {
          "description": "The kind of this response (\"androidpublisher#bundlesListResponse\").",
          "type": "string"
        },
        "bundles": {
          "description": "All app bundles.",
          "items": {
            "$ref": "Bundle"
          },
          "type": "array"
        }
      },
      "id": "BundlesListResponse",
      "type": "object"
    },
    "PreorderDetails": {
      "properties": {},
      "type": "object",
      "id": "PreorderDetails",
      "description": "Details of a pre-order purchase."
    },
    "OtherRecurringProduct": {
      "id": "OtherRecurringProduct",
      "properties": {},
      "description": "Details of a recurring external transaction product which doesn't belong to any other more specific category.",
      "type": "object"
    },
    "RefundExternalTransactionRequest": {
      "properties": {
        "refundTime": {
          "description": "Required. The time that the transaction was refunded.",
          "type": "string",
          "format": "google-datetime"
        },
        "partialRefund": {
          "$ref": "PartialRefund",
          "description": "A partial refund."
        },
        "fullRefund": {
          "description": "A full-amount refund.",
          "$ref": "FullRefund"
        }
      },
      "id": "RefundExternalTransactionRequest",
      "type": "object",
      "description": "A request to refund an existing external transaction."
    },
    "RegionalSubscriptionOfferConfig": {
      "properties": {
        "newSubscriberAvailability": {
          "description": "Whether the subscription offer in the specified region is available for new subscribers. Existing subscribers will not have their subscription cancelled if this value is set to false. If not specified, this will default to false.",
          "type": "boolean"
        },
        "regionCode": {
          "type": "string",
          "description": "Required. Immutable. Region code this configuration applies to, as defined by ISO 3166-2, e.g. \"US\"."
        }
      },
      "description": "Configuration for a subscription offer in a single region.",
      "id": "RegionalSubscriptionOfferConfig",
      "type": "object"
    },
    "UpdateSubscriptionRequest": {
      "properties": {
        "subscription": {
          "description": "Required. The subscription to update.",
          "$ref": "Subscription"
        },
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "Required. The list of fields to be updated."
        },
        "allowMissing": {
          "type": "boolean",
          "description": "Optional. If set to true, and the subscription with the given package_name and product_id doesn't exist, the subscription will be created. If a new subscription is created, update_mask is ignored."
        },
        "regionsVersion": {
          "description": "Required. The version of the available regions being used for the subscription.",
          "$ref": "RegionsVersion"
        },
        "latencyTolerance": {
          "type": "string",
          "enum": [
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
          ],
          "enumDescriptions": [
            "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
            "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
            "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
          ],
          "description": "Optional. The latency tolerance for the propagation of this product update. Defaults to latency-sensitive."
        }
      },
      "description": "Request message for UpdateSubscription.",
      "id": "UpdateSubscriptionRequest",
      "type": "object"
    },
    "ItemExpiryTimeDetails": {
      "description": "Expiry time details of a subscription item.",
      "type": "object",
      "properties": {
        "expiryTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The new expiry time for this subscription item."
        },
        "productId": {
          "type": "string",
          "description": "The product ID of the subscription item (for example, 'premium_plan')."
        }
      },
      "id": "ItemExpiryTimeDetails"
    },
    "BatchUpdateSubscriptionOffersRequest": {
      "properties": {
        "requests": {
          "type": "array",
          "items": {
            "$ref": "UpdateSubscriptionOfferRequest"
          },
          "description": "Required. A list of update requests of up to 100 elements. All requests must update different subscription offers."
        }
      },
      "type": "object",
      "description": "Request message for BatchUpdateSubscriptionOffers.",
      "id": "BatchUpdateSubscriptionOffersRequest"
    },
    "CloudKmsKey": {
      "description": "Reference to a private key hosted in developer-managed Google Cloud KMS.",
      "type": "object",
      "id": "CloudKmsKey",
      "properties": {
        "cryptoKeyVersionResource": {
          "type": "string",
          "description": "Required. Resource identifier of the private key hosted in Google Cloud KMS. The Google Play service account must be granted Decrypt and Sign permissions on this resource. Format: projects//locations//keyRings//cryptoKeys//cryptoKeyVersions/"
        }
      }
    },
    "DeviceGroup": {
      "id": "DeviceGroup",
      "properties": {
        "deviceSelectors": {
          "items": {
            "$ref": "DeviceSelector"
          },
          "description": "Device selectors for this group. A device matching any of the selectors is included in this group.",
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "The name of the group."
        }
      },
      "description": "A group of devices. A group is defined by a set of device selectors. A device belongs to the group if it matches any selector (logical OR).",
      "type": "object"
    },
    "UsesConfiguration": {
      "description": "Represents all configurations marked as required by use of the uses-configuration manifest tag.",
      "properties": {
        "requiredNavigationType": {
          "enumDescriptions": [
            "Unspecified navigation type.",
            "Undefined navigation type.",
            "No navigation.",
            "Dpad navigation.",
            "Trackball navigation.",
            "Wheel navigation."
          ],
          "description": "The navigation device required.",
          "type": "string",
          "enum": [
            "NAVIGATION_TYPE_UNSPECIFIED",
            "NAVIGATION_TYPE_UNDEFINED",
            "NAVIGATION_TYPE_NO_NAVIGATION",
            "NAVIGATION_TYPE_DPAD",
            "NAVIGATION_TYPE_TRACKBALL",
            "NAVIGATION_TYPE_WHEEL"
          ]
        },
        "requiredKeyboardType": {
          "type": "string",
          "enum": [
            "KEYBOARD_TYPE_UNSPECIFIED",
            "KEYBOARD_TYPE_UNDEFINED",
            "KEYBOARD_TYPE_NO_KEYS",
            "KEYBOARD_TYPE_QWERTY",
            "KEYBOARD_TYPE_TWELVE_KEY"
          ],
          "enumDescriptions": [
            "Unspecified keyboard type.",
            "Undefined keyboard type.",
            "No keys keyboard.",
            "Qwerty keyboard.",
            "Twelve key keyboard."
          ],
          "description": "The type of keyboard required."
        },
        "requiresFiveWayNavigation": {
          "description": "Whether or not the application requires a five-way navigation control.",
          "type": "boolean"
        },
        "requiredTouchscreenType": {
          "enumDescriptions": [
            "Unspecified touchscreen type.",
            "Undefined touchscreen type.",
            "No touchscreen.",
            "Stylus touchscreen.",
            "Finger touchscreen."
          ],
          "type": "string",
          "enum": [
            "TOUCHSCREEN_TYPE_UNSPECIFIED",
            "TOUCHSCREEN_TYPE_UNDEFINED",
            "TOUCHSCREEN_TYPE_NO_TOUCHSCREEN",
            "TOUCHSCREEN_TYPE_STYLUS",
            "TOUCHSCREEN_TYPE_FINGER"
          ],
          "description": "The type of touchscreen required."
        },
        "requiresHardwareKeyboard": {
          "type": "boolean",
          "description": "Whether or not the application requires a hardware keyboard."
        }
      },
      "id": "UsesConfiguration",
      "type": "object"
    },
    "UpgradeTargetingRule": {
      "description": "Represents a targeting rule of the form: User currently has {scope} [with billing period {billing_period}].",
      "id": "UpgradeTargetingRule",
      "type": "object",
      "properties": {
        "scope": {
          "description": "Required. The scope of subscriptions this rule considers. Only allows \"this subscription\" and \"specific subscription in app\".",
          "$ref": "TargetingRuleScope"
        },
        "oncePerUser": {
          "type": "boolean",
          "description": "Limit this offer to only once per user. If set to true, a user can never be eligible for this offer again if they ever subscribed to this offer."
        },
        "billingPeriodDuration": {
          "description": "The specific billing period duration, specified in ISO 8601 format, that a user must be currently subscribed to to be eligible for this rule. If not specified, users subscribed to any billing period are matched.",
          "type": "string"
        }
      }
    },
    "BatchDeletePurchaseOptionsRequest": {
      "properties": {
        "requests": {
          "type": "array",
          "description": "Required. A list of delete requests of up to 100 elements. All requests must delete purchase options from different one-time products.",
          "items": {
            "$ref": "DeletePurchaseOptionRequest"
          }
        }
      },
      "id": "BatchDeletePurchaseOptionsRequest",
      "type": "object",
      "description": "Request message for BatchDeletePurchaseOption."
    },
    "UploadImageResponse": {
      "description": "Response for uploading an image.",
      "type": "object",
      "id": "UploadImageResponse",
      "properties": {
        "imageId": {
          "description": "The unique ID of the uploaded image.",
          "type": "string"
        }
      }
    },
    "ReviewsListResponse": {
      "type": "object",
      "id": "ReviewsListResponse",
      "description": "Response listing reviews.",
      "properties": {
        "pageInfo": {
          "description": "Information about the current page.",
          "$ref": "PageInfo"
        },
        "reviews": {
          "items": {
            "$ref": "Review"
          },
          "description": "List of reviews.",
          "type": "array"
        },
        "tokenPagination": {
          "description": "Pagination token, to handle a number of products that is over one page.",
          "$ref": "TokenPagination"
        }
      }
    },
    "UpdateAppStoreHostedAppPublishStatusRequest": {
      "type": "object",
      "description": "Request to update the publish status of an app store hosted app. The default state for any app with an update is PUBLISHED. It is not necessary to call this RPC explicitly to set an app to PUBLISHED.",
      "properties": {
        "publishState": {
          "enumDescriptions": [
            "Unspecified publish state. Do not use.",
            "The app is published and available on the third-party app store.",
            "The app is unpublished and no longer available on the third-party app store."
          ],
          "description": "Required. The new publish state for the hosted app.",
          "type": "string",
          "enum": [
            "APP_STORE_APP_PUBLISH_STATE_UNSPECIFIED",
            "APP_STORE_APP_PUBLISH_STATE_PUBLISHED",
            "APP_STORE_APP_PUBLISH_STATE_UNPUBLISHED"
          ]
        }
      },
      "id": "UpdateAppStoreHostedAppPublishStatusRequest"
    },
    "BatchMigrateBasePlanPricesRequest": {
      "properties": {
        "requests": {
          "type": "array",
          "description": "Required. Up to 100 price migration requests. All requests must update different base plans.",
          "items": {
            "$ref": "MigrateBasePlanPricesRequest"
          }
        }
      },
      "type": "object",
      "description": "Request message for BatchMigrateBasePlanPrices.",
      "id": "BatchMigrateBasePlanPricesRequest"
    },
    "DeferredItemReplacement": {
      "properties": {
        "productId": {
          "type": "string",
          "description": "The product_id going to replace the existing product_id."
        }
      },
      "type": "object",
      "description": "Information related to deferred item replacement.",
      "id": "DeferredItemReplacement"
    },
    "PreorderOfferDetails": {
      "type": "object",
      "id": "PreorderOfferDetails",
      "properties": {
        "preorderReleaseTime": {
          "format": "google-datetime",
          "description": "The time when a preordered item is released for a preorder purchase.",
          "type": "string"
        }
      },
      "description": "Offer details information related to a preorder line item."
    },
    "OneTimeProductPurchaseOption": {
      "properties": {
        "newRegionsConfig": {
          "description": "Pricing information for any new locations Play may launch in the future. If omitted, the purchase option will not be automatically available in any new locations Play may launch in the future.",
          "$ref": "OneTimeProductPurchaseOptionNewRegionsConfig"
        },
        "purchaseOptionId": {
          "type": "string",
          "description": "Required. Immutable. The unique identifier of this purchase option. Must be unique within the one-time product. It must start with a number or lower-case letter, and can only contain lower-case letters (a-z), numbers (0-9), and hyphens (-). The maximum length is 63 characters."
        },
        "offerTags": {
          "type": "array",
          "description": "Optional. List of up to 20 custom tags specified for this purchase option, and returned to the app through the billing library. Offers for this purchase option will also receive these tags in the billing library.",
          "items": {
            "$ref": "OfferTag"
          }
        },
        "buyOption": {
          "description": "A purchase option that can be bought.",
          "$ref": "OneTimeProductBuyPurchaseOption"
        },
        "taxAndComplianceSettings": {
          "$ref": "PurchaseOptionTaxAndComplianceSettings",
          "description": "Optional. Details about taxes and legal compliance."
        },
        "regionalPricingAndAvailabilityConfigs": {
          "items": {
            "$ref": "OneTimeProductPurchaseOptionRegionalPricingAndAvailabilityConfig"
          },
          "description": "Regional pricing and availability information for this purchase option.",
          "type": "array"
        },
        "rentOption": {
          "$ref": "OneTimeProductRentPurchaseOption",
          "description": "A purchase option that can be rented."
        },
        "state": {
          "type": "string",
          "description": "Output only. The state of the purchase option, i.e., whether it's active. This field cannot be changed by updating the resource. Use the dedicated endpoints instead.",
          "readOnly": true,
          "enumDescriptions": [
            "Default value, should never be used.",
            "The purchase option is not and has never been available to users.",
            "The purchase option is available to users.",
            "The purchase option is not available to users anymore.",
            "The purchase option is not available for purchase anymore, but we continue to expose its offer via the Play Billing Library for backwards compatibility. Only automatically migrated purchase options can be in this state."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "DRAFT",
            "ACTIVE",
            "INACTIVE",
            "INACTIVE_PUBLISHED"
          ]
        }
      },
      "id": "OneTimeProductPurchaseOption",
      "description": "A single purchase option for a one-time product.",
      "type": "object"
    },
    "RamSelector": {
      "id": "RamSelector",
      "type": "object",
      "properties": {
        "ramMbLessThanOrEqual": {
          "format": "int64",
          "description": "This will match any device that has less than or equal ram_mb_less_than_or_equal mb of RAM.",
          "type": "string"
        }
      },
      "description": "Defines a RAM selector for a device."
    },
    "DeviceSelector": {
      "description": "Selector for a device group. A selector consists of a set of conditions on the device that should all match (logical AND) to determine a device group eligibility. For instance, if a selector specifies RAM conditions, device model inclusion and device model exclusion, a device is considered to match if: device matches RAM conditions AND device matches one of the included device models AND device doesn't match excluded device models",
      "id": "DeviceSelector",
      "properties": {
        "forbiddenSystemFeatures": {
          "description": "A device that has any of these system features is excluded by this selector, even if it matches all other conditions.",
          "type": "array",
          "items": {
            "$ref": "SystemFeature"
          }
        },
        "deviceRam": {
          "$ref": "DeviceRam",
          "description": "Conditions on the device's RAM."
        },
        "includedDeviceIds": {
          "type": "array",
          "items": {
            "$ref": "DeviceId"
          },
          "description": "Device models included by this selector."
        },
        "excludedDeviceIds": {
          "description": "Device models excluded by this selector, even if they match all other conditions.",
          "items": {
            "$ref": "DeviceId"
          },
          "type": "array"
        },
        "systemOnChips": {
          "type": "array",
          "description": "Optional. The SoCs included by this selector. Only works for Android S+ devices.",
          "items": {
            "$ref": "SystemOnChip"
          }
        },
        "requiredSystemFeatures": {
          "description": "A device needs to have all these system features to be included by the selector.",
          "type": "array",
          "items": {
            "$ref": "SystemFeature"
          }
        }
      },
      "type": "object"
    },
    "BatchGetSubscriptionsResponse": {
      "type": "object",
      "properties": {
        "subscriptions": {
          "description": "The list of requested subscriptions, in the same order as the request.",
          "items": {
            "$ref": "Subscription"
          },
          "type": "array"
        }
      },
      "id": "BatchGetSubscriptionsResponse",
[...]
