{
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "servicePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "baseUrl": "https://apigee.googleapis.com/",
  "mtlsRootUrl": "https://apigee.mtls.googleapis.com/",
  "batchPath": "batch",
  "basePath": "",
  "title": "Apigee API",
  "name": "apigee",
  "id": "apigee:v1",
  "endpoints": [
    {
      "description": "Regional Endpoint",
      "location": "us",
      "endpointUrl": "https://apigee.us.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://apigee.eu.rep.googleapis.com/",
      "location": "eu",
      "description": "Regional Endpoint"
    },
    {
      "location": "in",
      "endpointUrl": "https://apigee.in.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "sa",
      "endpointUrl": "https://apigee.sa.rep.googleapis.com/"
    },
    {
      "location": "ch",
      "description": "Regional Endpoint",
      "endpointUrl": "https://apigee.ch.rep.googleapis.com/"
    }
  ],
  "fullyEncodeReservedExpansion": true,
  "description": "Use the Apigee API to programmatically develop and manage APIs with a set of RESTful operations. Develop and secure API proxies, deploy and undeploy API proxy revisions, monitor APIs, configure environments, manage users, and more. Note: This product is available as a free trial for a time period of 60 days.",
  "rootUrl": "https://apigee.googleapis.com/",
  "ownerDomain": "google.com",
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "documentationLink": "https://cloud.google.com/apigee-api-management/",
  "canonicalName": "Apigee",
  "version_module": true,
  "protocol": "rest",
  "revision": "20260905",
  "version": "v1",
  "discoveryVersion": "v1",
  "schemas": {
    "GoogleCloudApigeeV1APIProductAssociation": {
      "id": "GoogleCloudApigeeV1APIProductAssociation",
      "type": "object",
      "description": "APIProductAssociation has the API product and its administrative state association.",
      "properties": {
        "apiproduct": {
          "description": "API product to be associated with the credential.",
          "type": "string"
        },
        "status": {
          "type": "string",
          "description": "The API product credential associated status. Valid values are `approved` or `revoked`."
        }
      }
    },
    "GoogleCloudApigeeV1SecurityReportResultView": {
      "properties": {
        "code": {
          "description": "Error code when there is a failure.",
          "format": "int32",
          "type": "integer"
        },
        "state": {
          "type": "string",
          "description": "State of retrieving ResultView."
        },
        "metadata": {
          "$ref": "GoogleCloudApigeeV1SecurityReportMetadata",
          "description": "Metadata contains information like metrics, dimenstions etc of the security report."
        },
        "error": {
          "type": "string",
          "description": "Error message when there is a failure."
        },
        "rows": {
          "description": "Rows of security report result. Each row is a JSON object. Example: {sum(message_count): 1, developer_app: \"(not set)\",…}",
          "type": "array",
          "items": {
            "type": "any"
          }
        }
      },
      "id": "GoogleCloudApigeeV1SecurityReportResultView",
      "description": "The response for security report result view APIs.",
      "type": "object"
    },
    "GoogleCloudApigeeV1ArchiveDeployment": {
      "type": "object",
      "description": "Archive Deployment information.",
      "id": "GoogleCloudApigeeV1ArchiveDeployment",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "User-supplied key-value pairs used to organize ArchiveDeployments. Label keys must be between 1 and 63 characters long, have a UTF-8 encoding of maximum 128 bytes, and must conform to the following PCRE regular expression: \\p{Ll}\\p{Lo}{0,62} Label values must be between 1 and 63 characters long, have a UTF-8 encoding of maximum 128 bytes, and must conform to the following PCRE regular expression: [\\p{Ll}\\p{Lo}\\p{N}_-]{0,63} No more than 64 labels can be associated with a given store.",
          "type": "object"
        },
        "updatedAt": {
          "description": "Output only. The time at which the Archive Deployment was updated in milliseconds since the epoch.",
          "type": "string",
          "format": "int64",
          "readOnly": true
        },
        "createdAt": {
          "type": "string",
          "description": "Output only. The time at which the Archive Deployment was created in milliseconds since the epoch.",
          "readOnly": true,
          "format": "int64"
        },
        "gcsUri": {
          "description": "Input only. The Google Cloud Storage signed URL returned from GenerateUploadUrl and used to upload the Archive zip file.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Name of the Archive Deployment in the following format: `organizations/{org}/environments/{env}/archiveDeployments/{id}`."
        },
        "operation": {
          "readOnly": true,
          "description": "Output only. A reference to the LRO that created this Archive Deployment in the following format: `organizations/{org}/operations/{id}`",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1SharedFlow": {
      "description": "The metadata describing a shared flow",
      "properties": {
        "latestRevisionId": {
          "type": "string",
          "description": "The id of the most recently created revision for this shared flow."
        },
        "revision": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of revisions of this shared flow."
        },
        "space": {
          "type": "string",
          "description": "Optional. The ID of the space associated with this shared flow. Any IAM policies applied to the space will control access to this shared flow. To learn how Spaces can be used to manage resources, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview)."
        },
        "name": {
          "type": "string",
          "description": "The ID of the shared flow."
        },
        "metaData": {
          "description": "Metadata describing the shared flow.",
          "$ref": "GoogleCloudApigeeV1EntityMetadata"
        }
      },
      "id": "GoogleCloudApigeeV1SharedFlow",
      "type": "object"
    },
    "GoogleCloudApigeeV1AccessSet": {
      "id": "GoogleCloudApigeeV1AccessSet",
      "description": "Set action. For example, \"Set\" : { \"name\" : \"target.name\", \"success\" : true, \"value\" : \"default\" }",
      "properties": {
        "value": {
          "type": "string"
        },
        "success": {
          "type": "boolean"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1SetAddonEnablementRequest": {
      "id": "GoogleCloudApigeeV1SetAddonEnablementRequest",
      "type": "object",
      "description": "Request for SetAddonEnablement.",
      "properties": {
        "apiSecurityEnabled": {
          "description": "If the API Security should be enabled in the environment.",
          "type": "boolean"
        },
        "analyticsEnabled": {
          "type": "boolean",
          "description": "If the Analytics should be enabled in the environment."
        }
      }
    },
    "GoogleCloudApigeeV1Keystore": {
      "type": "object",
      "id": "GoogleCloudApigeeV1Keystore",
      "properties": {
        "aliases": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. Aliases in this keystore."
        },
        "name": {
          "type": "string",
          "description": "Required. Resource ID for this keystore. Values must match the regular expression `[\\w[:space:].-]{1,255}`."
        }
      },
      "description": "Datastore for Certificates and Aliases."
    },
    "GoogleCloudApigeeV1OperationMetadata": {
      "description": "Metadata describing an Operation.",
      "properties": {
        "progress": {
          "description": "Progress of the operation.",
          "$ref": "GoogleCloudApigeeV1OperationMetadataProgress"
        },
        "targetResourceName": {
          "type": "string",
          "description": "Name of the resource for which the operation is operating on."
        },
        "operationType": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "INSERT",
            "DELETE",
            "UPDATE"
          ]
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "NOT_STARTED",
            "IN_PROGRESS",
            "FINISHED"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "warnings": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Warnings encountered while executing the operation."
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1OperationMetadata"
    },
    "GoogleCloudApigeeV1SecurityProfileV2ProfileAssessmentConfig": {
      "id": "GoogleCloudApigeeV1SecurityProfileV2ProfileAssessmentConfig",
      "description": "The configuration definition for a specific assessment.",
      "type": "object",
      "properties": {
        "weight": {
          "description": "The weight of the assessment.",
          "enum": [
            "WEIGHT_UNSPECIFIED",
            "MINOR",
            "MODERATE",
            "MAJOR"
          ],
          "enumDescriptions": [
            "The weight is unspecified.",
            "The weight is minor.",
            "The weight is moderate.",
            "The weight is major."
          ],
          "type": "string"
        },
        "include": {
          "$ref": "GoogleCloudApigeeV1SecurityProfileV2ProfileAssessmentConfigApiHubGatewayTypeArray",
          "description": "Include only these Gateway Types."
        }
      }
    },
    "GoogleCloudApigeeV1TraceConfig": {
      "id": "GoogleCloudApigeeV1TraceConfig",
      "type": "object",
      "properties": {
        "otelCollectorSecurityScheme": {
          "enumDescriptions": [
            "Unspecified. Behavior is identical to NONE.",
            "Default. Unauthenticated OTLP/HTTP export. Preserves today's behavior byte-for-byte for existing configurations.",
            "Mutual TLS via customer PKI. Cert material is stored in Apigee Keystores/Truststores and referenced by resource ID in `mtls_config` (same mechanism as TargetServer.tls_info)."
          ],
          "enum": [
            "OTEL_COLLECTOR_SECURITY_SCHEME_UNSPECIFIED",
            "NONE",
            "MTLS"
          ],
          "type": "string",
          "description": "Optional. The security scheme for the OTel Collector endpoint. Defaults to NONE (unauthenticated OTLP/HTTP), preserving today's behavior for existing configurations. Only applicable when `exporter` == OPEN_TELEMETRY_COLLECTOR."
        },
        "mtlsConfig": {
          "description": "Optional. mTLS configuration for the OTel Collector endpoint. Required when `otel_collector_security_scheme` == MTLS; must not be set otherwise.",
          "$ref": "GoogleCloudApigeeV1TraceConfigOtelMtlsConfig"
        },
        "traceProtocol": {
          "enumDescriptions": [
            "Protocol unspecified. Defaults to OPEN_CENSUS.",
            "Uses OpenCensus protocol.",
            "Uses OpenTelemetry Protocol (OTLP)."
          ],
          "type": "string",
          "enum": [
            "TRACE_PROTOCOL_UNSPECIFIED",
            "OPEN_CENSUS",
            "OTLP"
          ],
          "description": "Optional. The trace protocol to use. Configuration Requirements (if trace_protocol is OTLP): - Allowed Exporters: CLOUD_TRACE or OPEN_TELEMETRY_COLLECTOR. - If Exporter is OPEN_TELEMETRY_COLLECTOR: - endpoint refers to a valid OTLP collector URL. - If Exporter is CLOUD_TRACE: - endpoint refers to a valid project ID."
        },
        "exporter": {
          "enumDescriptions": [
            "Exporter unspecified",
            "Exports events to Jaeger. Compatible with OpenCensus protocol.",
            "Exports events to Cloud Trace. Compatible with OpenCensus protocol.",
            "OpenTelemetry Collector. Compatible with OpenTelemetry protocol.",
            "Exports events to Cloud Trace. Compatible with OpenTelemetry protocol."
          ],
          "description": "Required. Exporter that is used to view the distributed trace captured using the chosen trace protocol. An exporter sends traces to any backend that is capable of consuming them. Recorded spans can be exported by registered exporters.",
          "type": "string",
          "enum": [
            "EXPORTER_UNSPECIFIED",
            "JAEGER",
            "CLOUD_TRACE",
            "OPEN_TELEMETRY_COLLECTOR",
            "OPEN_TELEMETRY_CLOUD_TRACE"
          ]
        },
        "endpoint": {
          "description": "Required. Endpoint of the exporter.",
          "type": "string"
        },
        "samplingConfig": {
          "description": "Distributed trace configuration for all API proxies in an environment. You can also override the configuration for a specific API proxy using the distributed trace configuration overrides API.",
          "$ref": "GoogleCloudApigeeV1TraceSamplingConfig"
        },
        "spanSemantics": {
          "enumDescriptions": [
            "Semantics unspecified. Defaults to LEGACY.",
            "Uses Apigee legacy span and attribute names.",
            "Uses OpenTelemetry semantic-convention-aligned span and attribute names."
          ],
          "type": "string",
          "description": "Optional. The span semantics to use. Configuration Requirements (if span_semantics is OTEL): - trace_protocol must be OTLP.",
          "enum": [
            "SPAN_SEMANTICS_UNSPECIFIED",
            "LEGACY",
            "OTEL"
          ]
        }
      },
      "description": "TraceConfig defines the configurations in an environment of distributed trace."
    },
    "GoogleCloudApigeeV1ScoreComponentRecommendation": {
      "id": "GoogleCloudApigeeV1ScoreComponentRecommendation",
      "properties": {
        "impact": {
          "type": "integer",
          "format": "int32",
          "description": "Potential impact of this recommendation on the overall score. This denotes how important this recommendation is to improve the score."
        },
        "title": {
          "description": "Title represents recommendation title.",
          "type": "string"
        },
        "actions": {
          "description": "Actions for the recommendation to improve the security score.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1ScoreComponentRecommendationAction"
          }
        },
        "description": {
          "type": "string",
          "description": "Description of the recommendation."
        }
      },
      "description": "Recommendation based on security concerns and score.",
      "type": "object"
    },
    "GoogleCloudApigeeV1SecurityAssessmentResult": {
      "id": "GoogleCloudApigeeV1SecurityAssessmentResult",
      "description": "The security assessment result for one resource.",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time of the assessment of this resource. This could lag behind `assessment_time` due to caching within the backend."
        },
        "resource": {
          "$ref": "GoogleCloudApigeeV1SecurityAssessmentResultResource",
          "description": "The assessed resource."
        },
        "scoringResult": {
          "description": "The result of the assessment.",
          "$ref": "GoogleCloudApigeeV1SecurityAssessmentResultScoringResult"
        },
        "error": {
          "$ref": "GoogleRpcStatus",
          "description": "The error status if scoring fails."
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1GenerateDownloadUrlRequest": {
      "id": "GoogleCloudApigeeV1GenerateDownloadUrlRequest",
      "properties": {},
      "description": "Request for GenerateDownloadUrl method.",
      "type": "object"
    },
    "GoogleCloudApigeeV1AliasRevisionConfig": {
      "properties": {
        "location": {
          "type": "string",
          "description": "Location of the alias file. For example, a Google Cloud Storage URI."
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Alias type is not specified.",
            "Certificate.",
            "Key/certificate pair."
          ],
          "enum": [
            "ALIAS_TYPE_UNSPECIFIED",
            "CERT",
            "KEY_CERT"
          ]
        },
        "name": {
          "description": "Name of the alias revision included in the keystore in the following format: `organizations/{org}/environments/{env}/keystores/{keystore}/aliases/{alias}/revisions/{rev}`",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1AliasRevisionConfig",
      "type": "object"
    },
    "GoogleCloudApigeeV1AnalyticsConfig": {
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether the Analytics add-on is enabled."
        },
        "expireTimeMillis": {
          "readOnly": true,
          "description": "Output only. Time at which the Analytics add-on expires in milliseconds since epoch. If unspecified, the add-on will never expire.",
          "type": "string",
          "format": "int64"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The latest update time.",
          "readOnly": true
        },
        "state": {
          "description": "Output only. The state of the Analytics add-on.",
          "type": "string",
          "enum": [
            "ADDON_STATE_UNSPECIFIED",
            "ENABLING",
            "ENABLED",
            "DISABLING",
            "DISABLED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Default value.",
            "Add-on is in progress of enabling.",
            "Add-on is fully enabled and ready to use.",
            "Add-on is in progress of disabling.",
            "Add-on is fully disabled."
          ]
        }
      },
      "id": "GoogleCloudApigeeV1AnalyticsConfig",
      "type": "object",
      "description": "Configuration for the Analytics add-on."
    },
    "GoogleCloudApigeeV1ApiCategoryResponse": {
      "properties": {
        "status": {
          "type": "string",
          "description": "Status of the operation."
        },
        "errorCode": {
          "description": "Unique error code for the request, if any.",
          "type": "string"
        },
        "requestId": {
          "description": "Unique ID of the request.",
          "type": "string"
        },
        "message": {
          "type": "string",
          "description": "Description of the operation."
        },
        "data": {
          "description": "The API category resource.",
          "$ref": "GoogleCloudApigeeV1ApiCategory"
        }
      },
      "id": "GoogleCloudApigeeV1ApiCategoryResponse",
      "description": "The API category resource wrapped with response status, error_code, etc.",
      "type": "object"
    },
    "GoogleCloudApigeeV1LlmOperationGroup": {
      "type": "object",
      "id": "GoogleCloudApigeeV1LlmOperationGroup",
      "properties": {
        "operationConfigs": {
          "description": "Required. List of LLM operation configurations for either Apigee API proxies that are associated with this API product.",
          "items": {
            "$ref": "GoogleCloudApigeeV1LlmOperationConfig"
          },
          "type": "array"
        }
      },
      "description": "List of LLM operation configuration details associated with Apigee API proxies."
    },
    "GoogleCloudApigeeV1InstanceDeploymentStatusDeployedRevision": {
      "type": "object",
      "id": "GoogleCloudApigeeV1InstanceDeploymentStatusDeployedRevision",
      "description": "Revisions deployed in the MPs.",
      "properties": {
        "percentage": {
          "type": "integer",
          "format": "int32",
          "description": "Percentage of MP replicas reporting this revision."
        },
        "revision": {
          "description": "API proxy revision reported as deployed.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1GenerateDownloadUrlResponse": {
      "id": "GoogleCloudApigeeV1GenerateDownloadUrlResponse",
      "properties": {
        "downloadUri": {
          "type": "string",
          "description": "The Google Cloud Storage signed URL that can be used to download the Archive zip file."
        }
      },
      "description": "Response for GenerateDownloadUrl method.",
      "type": "object"
    },
    "GoogleCloudApigeeV1BatchComputeSecurityAssessmentResultsRequest": {
      "description": "Request for BatchComputeSecurityAssessmentResults.",
      "type": "object",
      "id": "GoogleCloudApigeeV1BatchComputeSecurityAssessmentResultsRequest",
      "properties": {
        "apiHubApis": {
          "$ref": "GoogleCloudApigeeV1BatchComputeSecurityAssessmentResultsRequestApiHubApiArray",
          "description": "An array of API Hub APIs to assess. A maximum of 1 API can be assessed."
        },
        "include": {
          "$ref": "GoogleCloudApigeeV1BatchComputeSecurityAssessmentResultsRequestResourceArray",
          "description": "Include only these resources."
        },
        "pageSize": {
          "format": "int32",
          "description": "Optional. The maximum number of results to return. The service may return fewer than this value. If unspecified, at most 50 results will be returned.",
          "type": "integer"
        },
        "pageToken": {
          "type": "string",
          "description": "Optional. A page token, received from a previous `BatchComputeSecurityAssessmentResults` call. Provide this to retrieve the subsequent page."
        },
        "apiHubGateways": {
          "description": "An array of API Hub Gateways to assess. A maximum of 3 gateways can be assessed.",
          "$ref": "GoogleCloudApigeeV1BatchComputeSecurityAssessmentResultsRequestApiHubGatewayArray"
        },
        "profile": {
          "type": "string",
          "description": "Required. Name of the profile that is used for computation."
        },
        "scope": {
          "type": "string",
          "description": "Optional. Scope of the resources for the computation. When computing scores for Apigee proxies, the scope should be set to the environment of the resources. When computing scores for API Hub deployments, api_hub_scope should be set instead."
        },
        "includeAllResources": {
          "description": "Include all resources under the scope.",
          "$ref": "GoogleCloudApigeeV1BatchComputeSecurityAssessmentResultsRequestIncludeAll"
        }
      }
    },
    "GoogleCloudApigeeV1ProfileConfigThreat": {
      "properties": {},
      "type": "object",
      "description": "By default, following policies will be included: - XMLThreatProtection - JSONThreatProtection",
      "id": "GoogleCloudApigeeV1ProfileConfigThreat"
    },
    "GoogleCloudApigeeV1ListDeveloperAppsResponse": {
      "id": "GoogleCloudApigeeV1ListDeveloperAppsResponse",
      "type": "object",
      "properties": {
        "app": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1DeveloperApp"
          },
          "description": "List of developer apps and their credentials."
        }
      }
    },
    "GoogleCloudApigeeV1IngressConfig": {
      "type": "object",
      "properties": {
        "revisionCreateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time at which the IngressConfig revision was created."
        },
        "name": {
          "description": "Name of the resource in the following format: `organizations/{org}/deployedIngressConfig`.",
          "type": "string"
        },
        "environmentGroups": {
          "description": "List of environment groups in the organization.",
          "items": {
            "$ref": "GoogleCloudApigeeV1EnvironmentGroupConfig"
          },
          "type": "array"
        },
        "revisionId": {
          "type": "string",
          "description": "Revision id that defines the ordering on IngressConfig resources. The higher the revision, the more recently the configuration was deployed.",
          "format": "int64"
        },
        "uid": {
          "type": "string",
          "description": "A unique id for the ingress config that will only change if the organization is deleted and recreated."
        }
      },
      "id": "GoogleCloudApigeeV1IngressConfig"
    },
    "GoogleCloudApigeeV1ProfileConfigMediation": {
      "properties": {},
      "description": "By default, following policies will be included: - OASValidation - SOAPMessageValidation",
      "id": "GoogleCloudApigeeV1ProfileConfigMediation",
      "type": "object"
    },
    "GoogleCloudApigeeV1GenerateUploadUrlRequest": {
      "properties": {},
      "description": "Request for GenerateUploadUrl method.",
      "id": "GoogleCloudApigeeV1GenerateUploadUrlRequest",
      "type": "object"
    },
    "GoogleCloudApigeeV1DatastoreConfig": {
      "description": "Configuration detail for datastore",
      "type": "object",
      "id": "GoogleCloudApigeeV1DatastoreConfig",
      "properties": {
        "path": {
          "description": "Path of Cloud Storage bucket Required for `gcs` target_type.",
          "type": "string"
        },
        "projectId": {
          "type": "string",
          "description": "Required. Google Cloud project in which the datastore exists"
        },
        "bucketName": {
          "description": "Name of the Cloud Storage bucket. Required for `gcs` target_type.",
          "type": "string"
        },
        "datasetName": {
          "description": "BigQuery dataset name Required for `bigquery` target_type.",
          "type": "string"
        },
        "tablePrefix": {
          "description": "Prefix of BigQuery table Required for `bigquery` target_type.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1ReportProperty": {
      "type": "object",
      "id": "GoogleCloudApigeeV1ReportProperty",
      "properties": {
        "property": {
          "type": "string",
          "description": "name of the property"
        },
        "value": {
          "items": {
            "$ref": "GoogleCloudApigeeV1Attribute"
          },
          "type": "array",
          "description": "property values"
        }
      }
    },
    "GoogleCloudApigeeV1EntityMetadata": {
      "type": "object",
      "id": "GoogleCloudApigeeV1EntityMetadata",
      "properties": {
        "createdAt": {
          "format": "int64",
          "type": "string",
          "description": "Time at which the API proxy was created, in milliseconds since epoch."
        },
        "lastModifiedAt": {
          "format": "int64",
          "type": "string",
          "description": "Time at which the API proxy was most recently modified, in milliseconds since epoch."
        },
        "subType": {
          "description": "The type of entity described",
          "type": "string"
        }
      },
      "description": "Metadata common to many entities in this API."
    },
    "GoogleCloudApigeeV1ConfigVersion": {
      "properties": {
        "majorVersion": {
          "description": "Major version of the API proxy configuration schema.",
          "type": "integer",
          "format": "int32"
        },
        "minorVersion": {
          "format": "int32",
          "type": "integer",
          "description": "Minor version of the API proxy configuration schema."
        }
      },
      "description": "Version of the API proxy configuration schema. Currently, only 4.0 is supported.",
      "id": "GoogleCloudApigeeV1ConfigVersion",
      "type": "object"
    },
    "GoogleCloudApigeeV1UpdateAppGroupAppKeyRequest": {
      "type": "object",
      "properties": {
        "appGroupAppKey": {
          "description": "Note that only Scopes and Attributes of the AppGroupAppKey can be amended. Scopes and Attributes mentioned in the request will be inserted and the existing scopes and attributes will be removed.",
          "$ref": "GoogleCloudApigeeV1AppGroupAppKey"
        },
        "apiProducts": {
          "description": "The list of API products that will be associated with the credential. This list will be appended to the existing list of associated API Products for this App Key. Duplicates will be ignored.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "action": {
          "type": "string",
          "description": "Approve or revoke the consumer key by setting this value to `approve` or `revoke` respectively. The `Content-Type` header, if set, must be set to `application/octet-stream`, with empty body."
        }
      },
      "id": "GoogleCloudApigeeV1UpdateAppGroupAppKeyRequest",
      "description": "Request for UpdateAppGroupAppKey"
    },
    "GoogleCloudApigeeV1RatePlan": {
      "id": "GoogleCloudApigeeV1RatePlan",
      "properties": {
        "currencyCode": {
          "type": "string",
          "description": "Currency to be used for billing. Consists of a three-letter code as defined by the [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) standard."
        },
        "startTime": {
          "description": "Time when the rate plan becomes active in milliseconds since epoch.",
          "format": "int64",
          "type": "string"
        },
        "revenueShareType": {
          "enum": [
            "REVENUE_SHARE_TYPE_UNSPECIFIED",
            "FIXED",
            "VOLUME_BANDED"
          ],
          "enumDescriptions": [
            "Revenue share type is not specified.",
            "Fixed percentage of the total revenue will be shared. The percentage to be shared can be configured by the API provider.",
            "Amount of revenue shared depends on the number of API calls. The API call volume ranges and the revenue share percentage for each volume can be configured by the API provider. **Note**: Not supported by Apigee at this time."
          ],
          "description": "Method used to calculate the revenue that is shared with developers.",
          "type": "string"
        },
        "consumptionPricingType": {
          "enumDescriptions": [
            "Pricing model not specified. This is the default.",
            "Fixed rate charged for each API call.",
            "Variable rate charged for each API call based on price tiers. Example: * 1-100 calls cost $2 per call * 101-200 calls cost $1.50 per call * 201-300 calls cost $1 per call * Total price for 50 calls: 50 x $2 = $100 * Total price for 150 calls: 100 x $2 + 50 x $1.5 = $275 * Total price for 250 calls: 100 x $2 + 100 x $1.5 + 50 x $1 = $400.",
            "**Note**: Not supported by Apigee at this time.",
            "**Note**: Not supported by Apigee at this time."
          ],
          "type": "string",
          "description": "Pricing model used for consumption-based charges.",
          "enum": [
            "CONSUMPTION_PRICING_TYPE_UNSPECIFIED",
            "FIXED_PER_UNIT",
            "BANDED",
            "TIERED",
            "STAIRSTEP"
          ]
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "DRAFT",
            "PUBLISHED"
          ],
          "description": "Current state of the rate plan (draft or published).",
          "type": "string",
          "enumDescriptions": [
            "State of the rate plan is not specified.",
            "Rate plan is in draft mode and only visible to API providers.",
            "Rate plan is published and will become visible to developers for the configured duration (between `startTime` and `endTime`)."
          ]
        },
        "fixedRecurringFee": {
          "description": "Fixed amount that is charged at a defined interval and billed in advance of use of the API product. The fee will be prorated for the first billing period.",
          "$ref": "GoogleTypeMoney"
        },
        "description": {
          "description": "Description of the rate plan.",
          "type": "string"
        },
        "displayName": {
          "description": "Display name of the rate plan.",
          "type": "string"
        },
        "createdAt": {
          "description": "Output only. Time that the rate plan was created in milliseconds since epoch.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "billingPeriod": {
          "description": "Frequency at which the customer will be billed.",
          "enumDescriptions": [
            "Billing period not specified.",
            "Weekly billing period. **Note**: Not supported by Apigee at this time.",
            "Monthly billing period."
          ],
          "enum": [
            "BILLING_PERIOD_UNSPECIFIED",
            "WEEKLY",
            "MONTHLY"
          ],
          "type": "string"
        },
        "lastModifiedAt": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. Time the rate plan was last modified in milliseconds since epoch."
        },
        "endTime": {
          "description": "Time when the rate plan will expire in milliseconds since epoch. Set to 0 or `null` to indicate that the rate plan should never expire.",
          "format": "int64",
          "type": "string"
        },
        "revenueShareRates": {
          "type": "array",
          "description": "Details of the revenue sharing model.",
          "items": {
            "$ref": "GoogleCloudApigeeV1RevenueShareRange"
          }
        },
        "setupFee": {
          "description": "Initial, one-time fee paid when purchasing the API product.",
          "$ref": "GoogleTypeMoney"
        },
        "fixedFeeFrequency": {
          "description": "Frequency at which the fixed fee is charged.",
          "type": "integer",
          "format": "int32"
        },
        "consumptionPricingRates": {
          "items": {
            "$ref": "GoogleCloudApigeeV1RateRange"
          },
          "description": "API call volume ranges and the fees charged when the total number of API calls is within a given range. The method used to calculate the final fee depends on the selected pricing model. For example, if the pricing model is `BANDED` and the ranges are defined as follows: ``` { \"start\": 1, \"end\": 100, \"fee\": 2 }, { \"start\": 101, \"end\": 200, \"fee\": 1.50 }, { \"start\": 201, \"end\": 0, \"fee\": 1 }, } ``` Then the following fees would be charged based on the total number of API calls (assuming the currency selected is `USD`): * 50 calls cost 50 x $2 = $100 * 150 calls cost 100 x $2 + 50 x $1.5 = $275 * 250 calls cost 100 x $2 + 100 x $1.5 + 50 x $1 = $400 * 500 calls cost 100 x $2 + 100 x $1.5 + 300 x $1 = $650",
          "type": "array"
        },
        "name": {
          "description": "Output only. Name of the rate plan.",
          "type": "string",
          "readOnly": true
        },
        "paymentFundingModel": {
          "description": "DEPRECATED: This field is no longer supported and will eventually be removed when Apigee Hybrid 1.5/1.6 is no longer supported. Instead, use the `billingType` field inside `DeveloperMonetizationConfig` resource. Flag that specifies the billing account type, prepaid or postpaid.",
          "enumDescriptions": [
            "Billing account type not specified.",
            "Prepaid billing account type. Developer pays in advance for the use of your API products. Funds are deducted from their prepaid account balance. **Note**: Not supported by Apigee at this time.",
            "Postpaid billing account type. Developer is billed through an invoice after using your API products."
          ],
          "enum": [
            "PAYMENT_FUNDING_MODEL_UNSPECIFIED",
            "PREPAID",
            "POSTPAID"
          ],
          "deprecated": true,
          "type": "string"
        },
        "apiproduct": {
          "type": "string",
          "description": "Name of the API product that the rate plan is associated with."
        }
      },
      "type": "object",
      "description": "Rate plan details."
    },
    "GoogleCloudApigeeV1ListSpacesResponse": {
      "description": "A response to a ListSpaces request containing the list of organization spaces and a page token for the next page.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "spaces": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1Space"
          },
          "description": "List of Apigee organization spaces."
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1ListSpacesResponse"
    },
    "GoogleCloudApigeeV1MaintenanceUpdatePolicyMaintenanceWindow": {
      "description": "MaintenanceWindow specifies the preferred day of the week and time of day to perform maintenance.",
      "type": "object",
      "id": "GoogleCloudApigeeV1MaintenanceUpdatePolicyMaintenanceWindow",
      "properties": {
        "day": {
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "type": "string",
          "description": "Required. Preferred day of the week for maintenance, e.g. MONDAY, TUESDAY, etc."
        },
        "startTime": {
          "$ref": "GoogleTypeTimeOfDay",
          "description": "Required. The start time (UTC) of the maintenance window."
        }
      }
    },
    "GoogleCloudApigeeV1SecurityFeedback": {
      "description": "Represents a feedback report from an Advanced API Security customer.",
      "id": "GoogleCloudApigeeV1SecurityFeedback",
      "properties": {
        "comment": {
          "type": "string",
          "description": "Optional. Optional text the user can provide for additional, unstructured context."
        },
        "feedbackContexts": {
          "items": {
            "$ref": "GoogleCloudApigeeV1SecurityFeedbackFeedbackContext"
          },
          "description": "Required. One or more attribute/value pairs for constraining the feedback.",
          "type": "array"
        },
        "feedbackType": {
          "description": "Required. The type of feedback being submitted.",
          "enumDescriptions": [
            "Unspecified feedback type.",
            "Feedback identifying attributes to be excluded from detections."
          ],
          "enum": [
            "FEEDBACK_TYPE_UNSPECIFIED",
            "EXCLUDED_DETECTION"
          ],
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time when this specific feedback id was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "description": "Output only. Identifier. The feedback name is intended to be a system-generated uuid.",
          "readOnly": true,
          "type": "string"
        },
        "reason": {
          "enumDescriptions": [
            "Unspecified reason.",
            "The feedback is created for an internal system.",
            "The feedback is created for a non-risk client.",
            "The feedback is created for to label NAT.",
            "The feedback is created for a penetration test.",
            "The feedback is created for other reasons."
          ],
          "type": "string",
          "enum": [
            "REASON_UNSPECIFIED",
            "INTERNAL_SYSTEM",
            "NON_RISK_CLIENT",
            "NAT",
            "PENETRATION_TEST",
            "OTHER"
          ],
          "description": "Optional. The reason for the feedback."
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time when this specific feedback id was updated.",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "Optional. The display name of the feedback."
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1BatchUpdateSecurityIncidentsResponse": {
      "description": "Response for BatchUpdateSecurityIncident.",
      "type": "object",
      "properties": {
        "securityIncidents": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudApigeeV1SecurityIncident"
          },
          "type": "array",
          "description": "Output only. Updated security incidents"
        }
      },
      "id": "GoogleCloudApigeeV1BatchUpdateSecurityIncidentsResponse"
    },
    "GoogleCloudApigeeV1DeveloperMonetizationConfig": {
      "type": "object",
      "id": "GoogleCloudApigeeV1DeveloperMonetizationConfig",
      "description": "Monetization configuration for the developer.",
      "properties": {
        "billingType": {
          "enumDescriptions": [
            "The default/unset value.",
            "Developer pays in advance for the use of APIs and the charged amount is deducted from their account balance.",
            "Developer does not maintain an account balance. The API provider bills the developer for API usage."
          ],
          "enum": [
            "BILLING_TYPE_UNSPECIFIED",
            "PREPAID",
            "POSTPAID"
          ],
          "type": "string",
          "description": "Billing type."
        }
      }
    },
    "GoogleCloudApigeeV1ListSecurityReportsResponse": {
      "id": "GoogleCloudApigeeV1ListSecurityReportsResponse",
      "type": "object",
      "description": "The response for SecurityReports.",
      "properties": {
        "nextPageToken": {
          "description": "If the number of security reports exceeded the page size requested, the token can be used to fetch the next page in a subsequent call. If the response is the last page and there are no more reports to return this field is left empty.",
          "type": "string"
        },
        "securityReports": {
          "description": "The security reports belong to requested resource name.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1SecurityReport"
          }
        }
      }
    },
    "GoogleCloudApigeeV1SecurityProfileEnvironment": {
      "type": "object",
      "properties": {
        "attachTime": {
          "readOnly": true,
          "description": "Output only. Time at which environment was attached to the security profile.",
          "format": "google-datetime",
          "type": "string"
        },
        "environment": {
          "description": "Output only. Name of the environment.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Environment information of attached environments. Scoring an environment is enabled only if it is attached to a security profile.",
      "id": "GoogleCloudApigeeV1SecurityProfileEnvironment"
    },
    "GoogleCloudApigeeV1ListAsyncQueriesResponse": {
      "type": "object",
      "description": "The response for ListAsyncQueries.",
      "properties": {
        "queries": {
          "type": "array",
          "description": "The asynchronous queries belong to requested resource name.",
          "items": {
            "$ref": "GoogleCloudApigeeV1AsyncQuery"
          }
        }
      },
      "id": "GoogleCloudApigeeV1ListAsyncQueriesResponse"
    },
    "GoogleCloudApigeeV1BatchUpdateSecurityIncidentsRequest": {
      "properties": {
        "requests": {
          "description": "Optional. Required. The request message specifying the resources to update. A maximum of 1000 can be modified in a batch.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1UpdateSecurityIncidentRequest"
          }
        }
      },
      "id": "GoogleCloudApigeeV1BatchUpdateSecurityIncidentsRequest",
      "type": "object",
      "description": "Request for BatchUpdateSecurityIncident."
    },
    "GoogleCloudApigeeV1AppGroupSubscription": {
      "id": "GoogleCloudApigeeV1AppGroupSubscription",
      "description": "AppGroup Subscription details.",
      "type": "object",
      "properties": {
        "createdAt": {
          "format": "int64",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time when the API product subscription was created in milliseconds since epoch."
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Name of the API product subscription.",
          "type": "string"
        },
        "lastModifiedAt": {
          "readOnly": true,
          "description": "Output only. Time when the API product subscription was last modified in milliseconds since epoch.",
          "format": "int64",
          "type": "string"
        },
        "apiproduct": {
          "description": "Required. Name of the API product for which the appgroup is purchasing a subscription.",
          "type": "string"
        },
        "startTime": {
          "format": "int64",
          "type": "string",
          "description": "Output only. Time when the API product subscription starts in milliseconds since epoch.",
          "readOnly": true
        },
        "endTime": {
          "description": "Output only. Time when the API product subscription ends in milliseconds since epoch.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GoogleCloudApigeeV1ConnectorsPlatformConfig": {
      "type": "object",
      "description": "Configuration for the Connectors Platform add-on.",
      "properties": {
        "expiresAt": {
          "description": "Output only. Time at which the Connectors Platform add-on expires in milliseconds since epoch. If unspecified, the add-on will never expire.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "enabled": {
          "type": "boolean",
          "description": "Flag that specifies whether the Connectors Platform add-on is enabled."
        }
      },
      "id": "GoogleCloudApigeeV1ConnectorsPlatformConfig"
    },
    "GoogleCloudApigeeV1TlsInfoConfig": {
      "id": "GoogleCloudApigeeV1TlsInfoConfig",
      "properties": {
        "enforce": {
          "description": "Flag that enforces TLS settings",
          "type": "boolean"
        },
        "keyAliasReference": {
          "description": "Reference name and alias pair to use for client-side authentication.",
          "$ref": "GoogleCloudApigeeV1KeyAliasReference"
        },
        "ciphers": {
          "type": "array",
          "description": "List of ciphers that are granted access.",
          "items": {
            "type": "string"
          }
        },
        "clientAuthEnabled": {
          "type": "boolean",
          "description": "Flag that specifies whether client-side authentication is enabled for the target server. Enables two-way TLS."
        },
        "trustStore": {
          "description": "Name of the keystore or keystore reference containing trusted certificates for the server in the following format: `organizations/{org}/environments/{env}/keystores/{keystore}` or `organizations/{org}/environments/{env}/references/{reference}`",
          "type": "string"
        },
        "keyAlias": {
          "description": "Name of the alias used for client-side authentication in the following format: `organizations/{org}/environments/{env}/keystores/{keystore}/aliases/{alias}`",
          "type": "string"
        },
        "commonName": {
          "$ref": "GoogleCloudApigeeV1CommonNameConfig",
          "description": "Common name to validate the target server against."
        },
        "ignoreValidationErrors": {
          "description": "Flag that specifies whether to ignore TLS certificate validation errors. Set to `true` to ignore errors.",
          "type": "boolean"
        },
        "protocols": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of TLS protocols that are granted access."
        },
        "enabled": {
          "type": "boolean",
          "description": "Flag that specifies whether one-way TLS is enabled. Set to `true` to enable one-way TLS."
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1Organization": {
      "type": "object",
      "properties": {
        "controlPlaneEncryptionKeyName": {
          "description": "Optional. Cloud KMS key name used for encrypting control plane data that is stored in a multi region. Only used for the data residency region \"US\" or \"EU\". If not specified or [BillingType](#BillingType) is `EVALUATION`, a Google-Managed encryption key will be used. Format: `projects/*/locations/*/keyRings/*/cryptoKeys/*`",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the Apigee organization."
        },
        "type": {
          "enumDescriptions": [
            "Subscription type not specified.",
            "Subscription to Apigee is free, limited, and used for evaluation purposes only.",
            "Full subscription to Apigee has been purchased. See [Apigee pricing](https://cloud.google.com/apigee/pricing/).",
            "For internal users only."
          ],
          "description": "Not used by Apigee.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_TRIAL",
            "TYPE_PAID",
            "TYPE_INTERNAL"
          ]
        },
        "expiresAt": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. Time that the Apigee organization is scheduled for deletion."
        },
        "billingType": {
          "enum": [
            "BILLING_TYPE_UNSPECIFIED",
            "SUBSCRIPTION",
            "EVALUATION",
            "PAYG"
          ],
          "enumDescriptions": [
            "Billing type not specified.",
            "A pre-paid subscription to Apigee.",
            "Free and limited access to Apigee for evaluation purposes only.",
            "Access to Apigee using a Pay-As-You-Go plan."
          ],
          "type": "string",
          "description": "Optional. Billing type of the Apigee organization. See [Apigee pricing](https://cloud.google.com/apigee/pricing)."
        },
        "projectId": {
          "description": "Output only. Project ID associated with the Apigee organization.",
          "readOnly": true,
          "type": "string"
        },
        "caCertificate": {
          "format": "byte",
          "readOnly": true,
          "description": "Output only. Deprecated: Use `ca_certificates` instead. Base64-encoded public certificate for the root CA of the Apigee organization. Valid only when [RuntimeType](#RuntimeType) is `CLOUD`.",
          "deprecated": true,
          "type": "string"
        },
        "environments": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. List of environments in the Apigee organization.",
          "readOnly": true
        },
        "addonsConfig": {
          "$ref": "GoogleCloudApigeeV1AddonsConfig",
          "description": "Optional. Addon configurations of the Apigee organization."
        },
        "createdAt": {
          "type": "string",
          "description": "Output only. Time that the Apigee organization was created in milliseconds since epoch.",
          "readOnly": true,
          "format": "int64"
        },
        "apiConsumerDataLocation": {
          "description": "Optional. This field is needed only for customers using non-default data residency regions. Apigee stores some control plane data only in single region. This field determines which single region Apigee should use. For example: \"us-west1\" when control plane is in US or \"europe-west2\" when control plane is in EU.",
          "type": "string"
        },
        "attributes": {
          "type": "array",
          "description": "Not used by Apigee.",
          "items": {
            "type": "string"
          }
        },
        "subscriptionType": {
          "enumDescriptions": [
            "Subscription type not specified.",
            "Full subscription to Apigee has been purchased.",
            "Subscription to Apigee is free, limited, and used for evaluation purposes only."
          ],
          "deprecated": true,
          "readOnly": true,
          "type": "string",
          "description": "Output only. DEPRECATED: This will eventually be replaced by BillingType. Subscription type of the Apigee organization. Valid values include trial (free, limited, and for evaluation purposes only) or paid (full subscription has been purchased). See [Apigee pricing](https://cloud.google.com/apigee/pricing/).",
          "enum": [
            "SUBSCRIPTION_TYPE_UNSPECIFIED",
            "PAID",
            "TRIAL"
          ]
        },
        "portalDisabled": {
          "description": "Optional. Configuration for the Portals settings.",
          "type": "boolean"
        },
        "displayName": {
          "type": "string",
          "description": "Optional. Display name for the Apigee organization. Unused, but reserved for future use."
        },
        "lastModifiedAt": {
          "description": "Output only. Time that the Apigee organization was last modified in milliseconds since epoch.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "caCertificates": {
          "items": {
            "type": "string",
            "format": "byte"
          },
          "description": "Output only. Base64-encoded public certificates for the root CA of the Apigee organization. Valid only when [RuntimeType](#RuntimeType) is `CLOUD`. Multiple certificates are used to support certificate rotation.",
          "type": "array",
          "readOnly": true
        },
        "subscriptionPlan": {
          "description": "Output only. Subscription plan that the customer has purchased. Output only.",
          "enum": [
            "SUBSCRIPTION_PLAN_UNSPECIFIED",
            "SUBSCRIPTION_2021",
            "SUBSCRIPTION_2024"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Subscription plan not specified.",
            "Traditional subscription plan.",
            "New subscription plan that provides standard proxy and scaled proxy implementation."
          ]
        },
        "networkEgressRestricted": {
          "description": "Optional. Flag that specifies if internet egress is restricted for VPC Service Controls. Valid only when runtime_type is `CLOUD` and disable_vpc_peering is `true`.",
          "type": "boolean"
        },
        "apiConsumerDataEncryptionKeyName": {
          "description": "Optional. Cloud KMS key name used for encrypting API consumer data. If not specified or [BillingType](#BillingType) is `EVALUATION`, a Google-Managed encryption key will be used. Format: `projects/*/locations/*/keyRings/*/cryptoKeys/*`",
          "type": "string"
        },
        "apigeeProjectId": {
          "description": "Output only. Apigee Project ID associated with the organization. Use this project to allowlist Apigee in the Service Attachment when using private service connect with Apigee.",
          "readOnly": true,
          "type": "string"
        },
        "disableVpcPeering": {
          "description": "Optional. Flag that specifies whether the VPC Peering through Private Google Access should be disabled between the consumer network and Apigee. Valid only when RuntimeType is set to CLOUD. Required if an authorizedNetwork on the consumer project is not provided, in which case the flag should be set to true. The value must be set before the creation of any Apigee runtime instance and can be updated only when there are no runtime instances. **Note:** Apigee will be deprecating the vpc peering model that requires you to provide 'authorizedNetwork', by making the non-peering model as the default way of provisioning Apigee organization in future. So, this will be a temporary flag to enable the transition. Not supported for Apigee hybrid.",
          "type": "boolean"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the Apigee organization."
        },
        "runtimeType": {
          "enumDescriptions": [
            "Runtime type not specified.",
            "Google-managed Apigee runtime.",
            "User-managed Apigee hybrid runtime."
          ],
          "type": "string",
          "enum": [
            "RUNTIME_TYPE_UNSPECIFIED",
            "CLOUD",
            "HYBRID"
          ],
          "description": "Required. Runtime type of the Apigee organization based on the Apigee subscription purchased."
        },
        "authorizedNetwork": {
          "description": "Optional. Compute Engine network used for Service Networking to be peered with Apigee runtime instances. See [Getting started with the Service Networking API](https://cloud.google.com/service-infrastructure/docs/service-networking/getting-started). Valid only when [RuntimeType](#RuntimeType) is set to `CLOUD`. The value must be set before the creation of a runtime instance and can be updated only when there are no runtime instances. For example: `default`. When changing authorizedNetwork, you must reconfigure VPC peering. After VPC peering with previous network is deleted, [run the following command](https://cloud.google.com/sdk/gcloud/reference/services/vpc-peerings/delete): `gcloud services vpc-peerings delete --network=NETWORK`, where `NETWORK` is the name of the previous network. This will delete the previous Service Networking. Otherwise, you will get the following error: `The resource 'projects/...-tp' is already linked to another shared VPC host 'projects/...-tp`. Apigee also supports shared VPC (that is, the host network project is not the same as the one that is peering with Apigee). See [Shared VPC overview](https://cloud.google.com/vpc/docs/shared-vpc). To use a shared VPC network, use the following format: `projects/{host-project-id}/{region}/networks/{network-name}`. For example: `projects/my-sharedvpc-host/global/networks/mynetwork` **Note:** Not supported for Apigee hybrid.",
          "type": "string"
        },
        "customerName": {
          "description": "Not used by Apigee.",
          "type": "string"
        },
        "properties": {
          "$ref": "GoogleCloudApigeeV1Properties",
          "description": "Optional. Properties defined in the Apigee organization profile."
        },
        "analyticsRegion": {
          "description": "Required. DEPRECATED: This field will eventually be deprecated and replaced with a differently-named field. Primary Google Cloud region for analytics data storage. For valid values, see [Create an Apigee organization](https://cloud.google.com/apigee/docs/api-platform/get-started/create-org).",
          "deprecated": true,
          "type": "string"
        },
        "runtimeDatabaseEncryptionKeyName": {
          "type": "string",
          "description": "Optional. Cloud KMS key name used for encrypting the data that is stored and replicated across runtime instances. Update is not allowed after the organization is created. If not specified or [RuntimeType](#RuntimeType) is `TRIAL`, a Google-Managed encryption key will be used. For example: \"projects/foo/locations/us/keyRings/bar/cryptoKeys/baz\". **Note:** Not supported for Apigee hybrid."
        },
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "UPDATING"
          ],
          "type": "string",
          "enumDescriptions": [
            "Resource is in an unspecified state.",
            "Resource is being created.",
            "Resource is provisioned and ready to use.",
            "The resource is being deleted.",
            "The resource is being updated."
          ],
          "description": "Output only. State of the organization. Values other than ACTIVE means the resource is not ready to use."
        }
      },
      "id": "GoogleCloudApigeeV1Organization"
    },
    "GoogleCloudApigeeV1MoveSharedFlowRequest": {
      "properties": {
        "space": {
          "description": "Optional. Resource ID of the space to move the shared flow to. If unspecified, the shared flow will be moved to the organization level.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1MoveSharedFlowRequest",
      "description": "Moves a Shared Flow to a different space."
    },
    "GoogleCloudApigeeV1MaintenanceUpdatePolicy": {
      "properties": {
        "maintenanceWindows": {
          "type": "array",
          "description": "Optional. Preferred windows to perform maintenance. Currently limited to 1.",
          "items": {
            "$ref": "GoogleCloudApigeeV1MaintenanceUpdatePolicyMaintenanceWindow"
          }
        },
        "maintenanceChannel": {
          "enumDescriptions": [
            "Unspecified maintenance channel.",
            "Receive 1 weeks notice before maintenance occurs",
            "Receive 2 weeks notice before maintenance occurs"
          ],
          "enum": [
            "MAINTENANCE_CHANNEL_UNSPECIFIED",
            "WEEK1",
            "WEEK2"
          ],
          "type": "string",
          "description": "Optional. Maintenance channel to specify relative scheduling for maintenance."
        }
      },
      "description": "MaintenanceUpdatePolicy specifies the preferred window to perform maintenance on the instance (day of the week and time of day).",
      "type": "object",
      "id": "GoogleCloudApigeeV1MaintenanceUpdatePolicy"
    },
    "GoogleCloudApigeeV1QueryTimeSeriesStatsResponse": {
      "id": "GoogleCloudApigeeV1QueryTimeSeriesStatsResponse",
      "type": "object",
      "properties": {
        "values": {
          "description": "Results of the query returned as a JSON array.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1QueryTimeSeriesStatsResponseSequence"
          }
        },
        "columns": {
          "items": {
            "type": "string"
          },
          "description": "Column names corresponding to the same order as the inner values in the stats field.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Next page token."
        }
      },
      "description": "Represents security stats result as a collection of time series sequences."
    },
    "GoogleCloudApigeeV1SecurityProfile": {
      "type": "object",
      "description": "Represents a SecurityProfile resource.",
      "id": "GoogleCloudApigeeV1SecurityProfile",
      "properties": {
        "name": {
          "type": "string",
          "description": "Immutable. Name of the security profile resource. Format: organizations/{org}/securityProfiles/{profile}"
        },
        "scoringConfigs": {
          "type": "array",
          "description": "List of profile scoring configs in this revision.",
          "items": {
            "$ref": "GoogleCloudApigeeV1SecurityProfileScoringConfig"
          }
        },
        "environments": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1SecurityProfileEnvironment"
          },
          "description": "List of environments attached to security profile."
        },
        "profileConfig": {
          "description": "Required. Customized profile configuration that computes the security score.",
          "$ref": "GoogleCloudApigeeV1ProfileConfig"
        },
        "maxScore": {
          "description": "Output only. Maximum security score that can be generated by this profile.",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        },
        "revisionId": {
          "format": "int64",
          "description": "Output only. Revision ID of the security profile.",
          "readOnly": true,
          "type": "string"
        },
        "revisionCreateTime": {
          "description": "Output only. The time when revision was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "minScore": {
          "format": "int32",
          "readOnly": true,
          "type": "integer",
          "description": "Output only. Minimum security score that can be generated by this profile."
        },
        "revisionPublishTime": {
          "description": "Output only. DEPRECATED: DO NOT USE The time when revision was published. Once published, the security profile revision cannot be updated further and can be attached to environments.",
          "type": "string",
          "deprecated": true,
          "format": "google-datetime",
          "readOnly": true
        },
        "revisionUpdateTime": {
          "description": "Output only. The time when revision was updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "description": "Description of the security profile.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "deprecated": true,
          "description": "DEPRECATED: DO NOT USE Display name of the security profile."
        }
      }
    },
    "GoogleCloudApigeeV1Score": {
      "type": "object",
      "properties": {
        "subcomponents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1ScoreComponent"
          },
          "description": "List of all the drilldown score components."
        },
        "timeRange": {
          "$ref": "GoogleTypeInterval",
          "description": "Start and end time for the score."
        },
        "component": {
          "description": "Component containing score, recommendations and actions.",
          "$ref": "GoogleCloudApigeeV1ScoreComponent"
        }
      },
      "description": "Represents Security Score.",
      "id": "GoogleCloudApigeeV1Score"
    },
    "GoogleCloudApigeeV1PodStatus": {
      "id": "GoogleCloudApigeeV1PodStatus",
      "type": "object",
      "properties": {
        "deploymentStatus": {
          "type": "string",
          "description": "Status of the deployment. Valid values include: - `deployed`: Successful. - `error` : Failed. - `pending` : Pod has not yet reported on the deployment."
        },
        "appVersion": {
          "type": "string",
          "description": "Version of the application running in the pod."
        },
        "deploymentTime": {
          "type": "string",
          "format": "int64",
          "description": "Time the proxy was deployed in milliseconds since epoch."
        },
        "podStatusTime": {
          "format": "int64",
          "type": "string",
          "description": "Time the pod status was reported in milliseconds since epoch."
        },
        "statusCode": {
          "type": "string",
          "description": "Code associated with the deployment status."
        },
        "statusCodeDetails": {
          "description": "Human-readable message associated with the status code.",
          "type": "string"
        },
        "podStatus": {
          "description": "Overall status of the pod (not this specific deployment). Valid values include: - `active`: Up to date. - `stale` : Recently out of date. Pods that have not reported status in a long time are excluded from the output.",
          "type": "string"
        },
        "deploymentStatusTime": {
          "type": "string",
          "description": "Time the deployment status was reported in milliseconds since epoch.",
          "format": "int64"
        },
        "podName": {
          "type": "string",
          "description": "Name of the pod which is reporting the status."
        }
      }
    },
    "GoogleRpcPreconditionFailure": {
      "properties": {
        "violations": {
          "description": "Describes all precondition violations.",
          "type": "array",
          "items": {
            "$ref": "GoogleRpcPreconditionFailureViolation"
          }
        }
      },
      "description": "Describes what preconditions have failed. For example, if an RPC failed because it required the Terms of Service to be acknowledged, it could list the terms of service violation in the PreconditionFailure message.",
      "id": "GoogleRpcPreconditionFailure",
      "type": "object"
    },
    "GoogleCloudApigeeV1DeveloperSubscription": {
      "type": "object",
      "properties": {
        "apiproduct": {
          "description": "Name of the API product for which the developer is purchasing a subscription.",
          "type": "string"
        },
        "endTime": {
          "description": "Time when the API product subscription ends in milliseconds since epoch.",
          "type": "string",
          "format": "int64"
        },
        "startTime": {
          "description": "Time when the API product subscription starts in milliseconds since epoch.",
          "type": "string",
          "format": "int64"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Name of the API product subscription.",
          "type": "string"
        },
        "lastModifiedAt": {
          "description": "Output only. Time when the API product subscription was last modified in milliseconds since epoch.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "createdAt": {
          "type": "string",
          "format": "int64",
          "description": "Output only. Time when the API product subscription was created in milliseconds since epoch.",
          "readOnly": true
        }
      },
      "description": "Structure of a DeveloperSubscription.",
      "id": "GoogleCloudApigeeV1DeveloperSubscription"
    },
    "GoogleIamV1AuditConfig": {
      "type": "object",
      "properties": {
        "service": {
          "type": "string",
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services."
        },
        "auditLogConfigs": {
          "items": {
            "$ref": "GoogleIamV1AuditLogConfig"
          },
          "type": "array",
          "description": "The configuration for logging of each type of permission."
        }
      },
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "id": "GoogleIamV1AuditConfig"
    },
    "GoogleCloudApigeeV1SecurityActionFlag": {
      "type": "object",
      "id": "GoogleCloudApigeeV1SecurityActionFlag",
      "description": "The message that should be set in the case of a Flag action.",
      "properties": {
        "headers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1SecurityActionHttpHeader"
          },
          "description": "Optional. A list of HTTP headers to be sent to the target in case of a FLAG SecurityAction. Limit 5 headers per SecurityAction. At least one is mandatory."
        }
      }
    },
    "GoogleCloudApigeeV1FlowHook": {
      "id": "GoogleCloudApigeeV1FlowHook",
      "type": "object",
      "properties": {
        "flowHookPoint": {
          "description": "Output only. Where in the API call flow the flow hook is invoked. Must be one of `PreProxyFlowHook`, `PostProxyFlowHook`, `PreTargetFlowHook`, or `PostTargetFlowHook`.",
          "type": "string",
          "readOnly": true
        },
        "continueOnError": {
          "description": "Optional. Flag that specifies whether execution should continue if the flow hook throws an exception. Set to `true` to continue execution. Set to `false` to stop execution if the flow hook throws an exception. Defaults to `true`.",
          "type": "boolean"
        },
        "description": {
          "description": "Description of the flow hook.",
          "type": "string"
        },
        "sharedFlow": {
          "description": "Shared flow attached to this flow hook, or empty if there is none attached.",
          "type": "string"
        }
      }
    },
    "GoogleProtobufEmpty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {},
      "id": "GoogleProtobufEmpty"
    },
    "GoogleCloudApigeeV1ListAppGroupAppsResponse": {
      "id": "GoogleCloudApigeeV1ListAppGroupAppsResponse",
      "description": "Response for ListAppGroupApps",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token that can be sent as `next_page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "appGroupApps": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1AppGroupApp"
          },
          "description": "List of AppGroup apps and their credentials."
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1SecurityMonitoringCondition": {
      "type": "object",
      "description": "Security monitoring condition for risk assessment version 2.",
      "properties": {
        "include": {
          "description": "Include only these resources.",
          "$ref": "GoogleCloudApigeeV1BatchComputeSecurityAssessmentResultsRequestResourceArray"
        },
        "name": {
          "description": "Identifier. Name of the security monitoring condition resource. Format: organizations/{org}/securityMonitoringConditions/{security_monitoring_condition}",
          "type": "string"
        },
        "riskAssessmentType": {
          "type": "string",
          "enum": [
            "RISK_ASSESSMENT_TYPE_UNSPECIFIED",
            "APIGEE",
            "API_HUB"
          ],
          "enumDescriptions": [
            "Risk assessment type is not specified.",
            "Risk assessment type is Apigee.",
            "Risk assessment type is API Hub."
          ],
          "description": "Optional. The risk assessment type of the security monitoring condition. Defaults to ADVANCED_API_SECURITY."
        },
        "profile": {
          "type": "string",
          "description": "Required. ID of security profile of the security monitoring condition."
        },
        "apiHubGateway": {
          "type": "string",
          "description": "Optional. The API Hub gateway monitored by the security monitoring condition. This should only be set if risk_assessment_type is API_HUB. Format: `projects/{project}/locations/{location}/plugins/{plugin}/instances/{instance}`"
        },
        "scope": {
          "type": "string",
          "description": "Optional. Scope of the security monitoring condition. When RiskAssessmentType is APIGEE, the scope should be set to the environment of the resources. When RiskAssessmentType is API_HUB, the scope should not be set."
        },
        "totalDeployedResources": {
          "description": "Output only. Total number of deployed resources within scope.",
          "format": "int32",
          "type": "integer",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time of the security monitoring condition creation.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "totalMonitoredResources": {
          "readOnly": true,
          "description": "Output only. Total number of monitored resources within this condition.",
          "type": "integer",
          "format": "int32"
        },
        "includeAllResources": {
          "description": "Include all resources under the scope.",
          "$ref": "GoogleCloudApigeeV1BatchComputeSecurityAssessmentResultsRequestIncludeAll"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time of the security monitoring condition update."
        }
      },
      "id": "GoogleCloudApigeeV1SecurityMonitoringCondition"
    },
    "GoogleCloudApigeeV1OperationGroup": {
      "properties": {
        "operationConfigType": {
          "description": "Flag that specifes whether the configuration is for Apigee API proxy or a remote service. Valid values include `proxy` or `remoteservice`. Defaults to `proxy`. Set to `proxy` when Apigee API proxies are associated with the API product. Set to `remoteservice` when non-Apigee proxies like Istio-Envoy are associated with the API product.",
          "type": "string"
        },
        "operationConfigs": {
          "type": "array",
          "description": "Required. List of operation configurations for either Apigee API proxies or other remote services that are associated with this API product.",
          "items": {
            "$ref": "GoogleCloudApigeeV1OperationConfig"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1OperationGroup",
      "description": "List of operation configuration details associated with Apigee API proxies or remote services. Remote services are non-Apigee proxies, such as Istio-Envoy."
    },
    "GoogleCloudApigeeV1ReportInstanceStatusResponse": {
      "type": "object",
      "id": "GoogleCloudApigeeV1ReportInstanceStatusResponse",
      "description": "Placeholder for future enhancements to status reporting protocol",
      "properties": {}
    },
    "GoogleCloudApigeeV1BatchComputeSecurityAssessmentResultsRequestIncludeAll": {
      "description": "Message for include_all_resources option.",
      "properties": {},
      "type": "object",
      "id": "GoogleCloudApigeeV1BatchComputeSecurityAssessmentResultsRequestIncludeAll"
    },
    "GoogleCloudApigeeV1SetAddonsRequest": {
      "properties": {
        "addonsConfig": {
          "$ref": "GoogleCloudApigeeV1AddonsConfig",
          "description": "Required. Add-on configurations."
        }
      },
      "type": "object",
      "description": "Request for SetAddons.",
      "id": "GoogleCloudApigeeV1SetAddonsRequest"
    },
    "GoogleCloudApigeeV1CreditAppGroupBalanceRequest": {
      "description": "Request for CreditAppGroupBalance.",
      "type": "object",
      "properties": {
        "transactionId": {
          "type": "string",
          "description": "Required. Each transaction_id uniquely identifies a credit balance request. If multiple requests are received with the same transaction_id, only one of them will be considered."
        },
        "transactionAmount": {
          "$ref": "GoogleTypeMoney",
          "description": "Required. The amount of money to be credited. The wallet corresponding to the currency specified within `transaction_amount` will be updated. For example, if you specified `currency_code` within `transaction_amount` as \"USD\", then the amount would be added to the wallet which has the \"USD\" currency or if no such wallet exists, a new wallet will be created with the \"USD\" currency."
        }
      },
      "id": "GoogleCloudApigeeV1CreditAppGroupBalanceRequest"
    },
    "GoogleCloudApigeeV1Alias": {
      "properties": {
        "certsInfo": {
          "$ref": "GoogleCloudApigeeV1Certificate",
          "description": "Chain of certificates under this alias."
        },
        "alias": {
          "type": "string",
          "description": "Resource ID for this alias. Values must match the regular expression `[^/]{1,255}`."
        },
        "type": {
          "type": "string",
          "description": "Type of alias.",
          "enum": [
            "ALIAS_TYPE_UNSPECIFIED",
            "CERT",
            "KEY_CERT"
          ],
          "enumDescriptions": [
            "Alias type is not specified.",
            "Certificate.",
            "Key/certificate pair."
          ]
        }
      },
      "id": "GoogleCloudApigeeV1Alias",
      "description": "Reference to a certificate or key/certificate pair.",
      "type": "object"
    },
    "GoogleCloudApigeeV1Certificate": {
      "properties": {
        "certInfo": {
          "items": {
            "$ref": "GoogleCloudApigeeV1CertInfo"
          },
          "description": "Chain of certificates under this name.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1Certificate"
    },
    "GoogleCloudApigeeV1EnvironmentGroupAttachment": {
      "type": "object",
      "id": "GoogleCloudApigeeV1EnvironmentGroupAttachment",
      "properties": {
        "environment": {
          "type": "string",
          "description": "Required. ID of the attached environment."
        },
        "createdAt": {
          "format": "int64",
          "description": "Output only. The time at which the environment group attachment was created as milliseconds since epoch.",
          "type": "string",
          "readOnly": true
        },
        "environmentGroupId": {
          "type": "string",
          "description": "Output only. ID of the environment group.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "ID of the environment group attachment."
        }
      },
      "description": "EnvironmentGroupAttachment is a resource which defines an attachment of an environment to an environment group."
    },
    "GoogleCloudApigeeV1SecuritySettings": {
      "description": "SecuritySettings reflects the current state of the SecuritySettings feature.",
      "id": "GoogleCloudApigeeV1SecuritySettings",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. Full resource name is always `organizations/{org}/securitySettings`.",
          "type": "string"
        },
        "mlRetrainingFeedbackEnabled": {
          "description": "Optional. If true the user consents to the use of ML models for Abuse detection.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudApigeeV1RevenueShareRange": {
      "type": "object",
      "id": "GoogleCloudApigeeV1RevenueShareRange",
      "properties": {
        "start": {
          "description": "Starting value of the range. Set to 0 or `null` for the initial range of values.",
          "format": "int64",
          "type": "string"
        },
        "end": {
          "format": "int64",
          "type": "string",
          "description": "Ending value of the range. Set to 0 or `null` for the last range of values."
        },
        "sharePercentage": {
          "description": "Percentage of the revenue to be shared with the developer. For example, to share 21 percent of the total revenue with the developer, set this value to 21. Specify a decimal number with a maximum of two digits following the decimal point.",
          "type": "number",
          "format": "double"
        }
      },
      "description": "API call volume range and the percentage of revenue to share with the developer when the total number of API calls is within the range."
    },
    "GoogleCloudApigeeV1Stats": {
      "properties": {
        "hosts": {
          "items": {
            "$ref": "GoogleCloudApigeeV1StatsHostStats"
          },
          "description": "List of query results grouped by host.",
          "type": "array"
        },
        "environments": {
          "items": {
            "$ref": "GoogleCloudApigeeV1StatsEnvironmentStats"
          },
          "type": "array",
          "description": "List of query results on the environment level."
        },
        "metaData": {
          "$ref": "GoogleCloudApigeeV1Metadata",
          "description": "Metadata information."
        }
      },
      "type": "object",
      "description": "Encapsulates a `stats` response.",
      "id": "GoogleCloudApigeeV1Stats"
    },
    "GoogleCloudApigeeV1ServiceIssuersMapping": {
      "id": "GoogleCloudApigeeV1ServiceIssuersMapping",
      "properties": {
        "emailIds": {
          "items": {
            "type": "string"
          },
          "description": "List of trusted issuer email ids.",
          "type": "array"
        },
        "service": {
          "description": "String indicating the Apigee service name.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1RuntimeTraceSamplingConfig": {
      "id": "GoogleCloudApigeeV1RuntimeTraceSamplingConfig",
      "properties": {
        "sampler": {
          "type": "string",
          "description": "Sampler of distributed tracing. OFF is the default value.",
          "enum": [
            "SAMPLER_UNSPECIFIED",
            "OFF",
            "PROBABILITY"
          ],
          "enumDescriptions": [
            "Sampler unspecified.",
            "OFF means distributed trace is disabled, or the sampling probability is 0.",
            "PROBABILITY means traces are captured on a probability that defined by sampling_rate. The sampling rate is limited to 0 to 0.5 when this is set."
          ]
        },
        "samplingRate": {
          "type": "number",
          "format": "float",
          "description": "Field sampling rate. This value is only applicable when using the PROBABILITY sampler. The supported values are > 0 and <= 0.5."
        }
      },
      "description": "NEXT ID: 3 RuntimeTraceSamplingConfig represents the detail settings of distributed tracing. Only the fields that are defined in the distributed trace configuration can be overridden using the distribute trace configuration override APIs.",
      "type": "object"
    },
    "GoogleCloudApigeeV1DeveloperBalanceWallet": {
      "description": "Wallet used to manage an account balance for a particular currency.",
      "id": "GoogleCloudApigeeV1DeveloperBalanceWallet",
      "properties": {
        "balance": {
          "$ref": "GoogleTypeMoney",
          "description": "Current remaining balance of the developer for a particular currency."
        },
        "lastCreditTime": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. Time at which the developer last added credit to the account in milliseconds since epoch."
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1AppGroupApp": {
      "id": "GoogleCloudApigeeV1AppGroupApp",
      "properties": {
        "name": {
          "type": "string",
          "description": "Immutable. Name of the AppGroup app whose resource name format is of syntax (organizations/*/appgroups/*/apps/*)."
        },
        "appGroup": {
          "type": "string",
          "description": "Immutable. Name of the parent AppGroup whose resource name format is of syntax (organizations/*/appgroups/*)."
        },
        "lastModifiedAt": {
          "format": "int64",
          "readOnly": true,
          "description": "Output only. Time the AppGroup app was modified in milliseconds since epoch.",
          "type": "string"
        },
        "status": {
          "type": "string",
          "description": "Status of the App. Valid values include `approved` or `revoked`."
        },
        "scopes": {
          "items": {
            "type": "string"
          },
          "description": "Scopes to apply to the AppGroup app. The specified scopes must already exist for the API product that you associate with the AppGroup app.",
          "type": "array"
        },
        "credentials": {
          "items": {
            "$ref": "GoogleCloudApigeeV1Credential"
          },
          "type": "array",
          "description": "Output only. Set of credentials for the AppGroup app consisting of the consumer key/secret pairs associated with the API products.",
          "readOnly": true
        },
        "apiProducts": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of API products associated with the AppGroup app."
        },
        "keyExpiresIn": {
          "description": "Immutable. Expiration time, in seconds, for the consumer key that is generated for the AppGroup app. If not set or left to the default value of `-1`, the API key never expires. The expiration time can't be updated after it is set.",
          "type": "string",
          "format": "int64"
        },
        "createdAt": {
          "format": "int64",
          "type": "string",
          "description": "Output only. Time the AppGroup app was created in milliseconds since epoch.",
          "readOnly": true
        },
        "callbackUrl": {
          "description": "Callback URL used by OAuth 2.0 authorization servers to communicate authorization codes back to AppGroup apps.",
          "type": "string"
        },
        "attributes": {
          "items": {
            "$ref": "GoogleCloudApigeeV1Attribute"
          },
          "type": "array",
          "description": "List of attributes for the AppGroup app."
        },
        "appId": {
          "description": "Immutable. ID of the AppGroup app.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response for [GetAppGroupApp].[AppGroupApps.GetAppGroupApp], [CreateAppGroupAppRequest].[AppGroupApp.CreateAppGroupAppRequest] and [DeleteAppGroupApp].[AppGroupApp.DeleteAppGroupApp]"
    },
    "GoogleCloudApigeeV1AppGroupBalanceWallet": {
      "type": "object",
      "properties": {
        "lastCreditTime": {
          "readOnly": true,
          "format": "int64",
          "type": "string",
          "description": "Output only. Time at which the AppGroup last added credit to the account in milliseconds since epoch."
        },
        "balance": {
          "description": "Current remaining balance of the AppGroup for a particular currency.",
          "$ref": "GoogleTypeMoney"
        }
      },
      "id": "GoogleCloudApigeeV1AppGroupBalanceWallet",
      "description": "Wallet used to manage an account balance for a particular currency."
    },
    "GoogleCloudApigeeV1CreditDeveloperBalanceRequest": {
      "description": "Request for CreditDeveloperBalance.",
      "properties": {
        "transactionId": {
          "type": "string",
          "description": "Each transaction_id uniquely identifies a credit balance request. If multiple requests are received with the same transaction_id, only one of them will be considered."
        },
        "transactionAmount": {
          "description": "The amount of money to be credited. The wallet corresponding to the currency specified within `transaction_amount` will be updated. For example, if you specified `currency_code` within `transaction_amount` as \"USD\", then the amount would be added to the wallet which has the \"USD\" currency or if no such wallet exists, a new wallet will be created with the \"USD\" currency.",
          "$ref": "GoogleTypeMoney"
        }
      },
      "id": "GoogleCloudApigeeV1CreditDeveloperBalanceRequest",
      "type": "object"
    },
    "GoogleCloudApigeeV1DateRange": {
      "properties": {
        "start": {
          "description": "Required. Start date of the data to export in the format `yyyy-mm-dd`. The date range begins at 00:00:00 UTC on the start date.",
          "type": "string"
        },
        "end": {
          "type": "string",
          "description": "Required. End date (exclusive) of the data to export in the format `yyyy-mm-dd`. The date range ends at 00:00:00 UTC on the end date- which will not be in the output."
        }
      },
      "type": "object",
      "description": "Date range of the data to export.",
      "id": "GoogleCloudApigeeV1DateRange"
    },
    "GoogleCloudApigeeV1ListDnsZonesResponse": {
      "type": "object",
      "properties": {
        "dnsZones": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1DnsZone"
          },
          "description": "DNS zones in a given organization."
        },
        "nextPageToken": {
          "description": "Page token that you can include in an `ListDnsZones` request to retrieve the next page. If omitted, no subsequent pages exist.",
          "type": "string"
        }
      },
      "description": "Response for list DNS zones.",
      "id": "GoogleCloudApigeeV1ListDnsZonesResponse"
    },
    "GoogleCloudApigeeV1ApiSecurityConfig": {
      "id": "GoogleCloudApigeeV1ApiSecurityConfig",
      "description": "Configurations of the API Security add-on.",
      "type": "object",
      "properties": {
        "expiresAt": {
          "format": "int64",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time at which the API Security add-on expires in milliseconds since epoch. If unspecified, the add-on will never expire."
        },
        "enabled": {
          "description": "Flag that specifies whether the API security add-on is enabled.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudApigeeV1GenerateUploadUrlResponse": {
      "id": "GoogleCloudApigeeV1GenerateUploadUrlResponse",
      "properties": {
        "uploadUri": {
          "type": "string",
          "description": "The Google Cloud Storage signed URL that can be used to upload a new Archive zip file."
        }
      },
      "type": "object",
      "description": "Response for GenerateUploadUrl method."
    },
    "GoogleCloudApigeeV1SecurityFeedbackFeedbackContext": {
      "properties": {
        "attribute": {
          "description": "Required. The attribute the user is providing feedback about.",
          "enum": [
            "ATTRIBUTE_UNSPECIFIED",
            "ATTRIBUTE_ENVIRONMENTS",
            "ATTRIBUTE_IP_ADDRESS_RANGES"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified attribute.",
            "Values will be a list of environments.",
            "Values will be a list of IP addresses. This could be either IPv4 or IPv6."
          ]
        },
        "values": {
          "description": "Required. The values of the attribute the user is providing feedback about.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "FeedbackContext captures the intent of the submitted feedback.",
      "id": "GoogleCloudApigeeV1SecurityFeedbackFeedbackContext",
      "type": "object"
    },
    "GoogleCloudApigeeV1ListAppsResponse": {
      "id": "GoogleCloudApigeeV1ListAppsResponse",
      "properties": {
        "app": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1App"
          }
        },
        "nextPageToken": {
          "description": "Token that can be sent as `next_page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "totalSize": {
          "type": "integer",
          "description": "Total count of Apps.",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1ApiDebugSession": {
      "id": "GoogleCloudApigeeV1ApiDebugSession",
      "type": "object",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The first transaction creation timestamp in millisecond, recorded by UAP."
        },
        "environmentId": {
          "type": "string",
          "description": "The environment ID of the deployed API proxy."
        },
        "id": {
          "type": "string",
          "description": "The debug session ID."
        },
        "apiProxyRevisionId": {
          "description": "The revision ID of the deployed API proxy.",
          "type": "string"
        }
      },
      "description": "Session carries the debug session id and its creation time."
    },
    "GoogleCloudApigeeV1SecurityReportQuery": {
      "type": "object",
[...]
