{
  "revision": "20260612",
  "documentationLink": "https://cloud.google.com/apigee-api-management/",
  "version": "v1",
  "ownerName": "Google",
  "id": "apigee:v1",
  "basePath": "",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "rootUrl": "https://apigee.googleapis.com/",
  "servicePath": "",
  "description": "Use the Apigee API to programmatically develop and manage APIs with a set of RESTful operations. Develop and secure API proxies, deploy and undeploy API proxy revisions, monitor APIs, configure environments, manage users, and more. Note: This product is available as a free trial for a time period of 60 days.",
  "resources": {
    "hybrid": {
      "resources": {
        "issuers": {
          "methods": {
            "list": {
              "flatPath": "v1/hybrid/issuers",
              "httpMethod": "GET",
              "description": "Lists hybrid services and its trusted issuers service account ids. This api is authenticated and unauthorized(allow all the users) and used by runtime authn-authz service to query control plane's issuer service account ids.",
              "id": "apigee.hybrid.issuers.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^hybrid/issuers$",
                  "required": true,
                  "type": "string",
                  "description": "Required. Must be of the form `hybrid/issuers`."
                }
              },
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudApigeeV1ListHybridIssuersResponse"
              }
            }
          }
        }
      }
    },
    "organizations": {
      "methods": {
        "setAddons": {
          "parameters": {
            "org": {
              "description": "Required. Name of the organization. Use the following structure in your request: `organizations/{org}`",
              "type": "string",
              "location": "path",
              "pattern": "^organizations/[^/]+$",
              "required": true
            }
          },
          "request": {
            "$ref": "GoogleCloudApigeeV1SetAddonsRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "apigee.organizations.setAddons",
          "flatPath": "v1/organizations/{organizationsId}:setAddons",
          "httpMethod": "POST",
          "description": "Configures the add-ons for the Apigee organization. The existing add-on configuration will be fully replaced.",
          "parameterOrder": [
            "org"
          ],
          "response": {
            "$ref": "GoogleLongrunningOperation"
          },
          "path": "v1/{+org}:setAddons"
        },
        "list": {
          "flatPath": "v1/organizations",
          "httpMethod": "GET",
          "description": "Lists the Apigee organizations and associated Google Cloud projects that you have permission to access. See [Understanding organizations](https://cloud.google.com/apigee/docs/api-platform/fundamentals/organization-structure).",
          "id": "apigee.organizations.list",
          "parameters": {
            "parent": {
              "type": "string",
              "description": "Required. Use the following structure in your request: `organizations`",
              "pattern": "^organizations$",
              "required": true,
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1/{+parent}",
          "parameterOrder": [
            "parent"
          ],
          "response": {
            "$ref": "GoogleCloudApigeeV1ListOrganizationsResponse"
          }
        },
        "getSyncAuthorization": {
          "path": "v1/{+name}:getSyncAuthorization",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GoogleCloudApigeeV1SyncAuthorization"
          },
          "id": "apigee.organizations.getSyncAuthorization",
          "flatPath": "v1/organizations/{organizationsId}:getSyncAuthorization",
          "httpMethod": "POST",
          "description": "Lists the service accounts with the permissions required to allow the Synchronizer to download environment data from the control plane. An ETag is returned in the response to `getSyncAuthorization`. Pass that ETag when calling [setSyncAuthorization](setSyncAuthorization) to ensure that you are updating the correct version. If you don't pass the ETag in the call to `setSyncAuthorization`, then the existing authorization is overwritten indiscriminately. For more information, see [Configure the Synchronizer](https://cloud.google.com/apigee/docs/hybrid/latest/synchronizer-access). **Note**: Available to Apigee hybrid only.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "name": {
              "location": "path",
              "pattern": "^organizations/[^/]+$",
              "required": true,
              "type": "string",
              "description": "Required. Name of the Apigee organization. Use the following structure in your request: `organizations/{org}`"
            }
          },
          "request": {
            "$ref": "GoogleCloudApigeeV1GetSyncAuthorizationRequest"
          }
        },
        "getProjectMapping": {
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GoogleCloudApigeeV1OrganizationProjectMapping"
          },
          "path": "v1/{+name}:getProjectMapping",
          "parameters": {
            "name": {
              "description": "Required. Apigee organization name in the following format: `organizations/{org}`",
              "type": "string",
              "pattern": "^organizations/[^/]+$",
              "required": true,
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "apigee.organizations.getProjectMapping",
          "flatPath": "v1/organizations/{organizationsId}:getProjectMapping",
          "httpMethod": "GET",
          "description": "Gets the project ID and region for an Apigee organization."
        },
        "delete": {
          "path": "v1/{+name}",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GoogleLongrunningOperation"
          },
          "flatPath": "v1/organizations/{organizationsId}",
          "httpMethod": "DELETE",
          "description": "Delete an Apigee organization. For organizations with BillingType EVALUATION, an immediate deletion is performed. For paid organizations (Subscription or Pay-as-you-go), a soft-deletion is performed. The organization can be restored within the soft-deletion period, which is specified using the `retention` field in the request or by filing a support ticket with Apigee. During the data retention period specified in the request, the Apigee organization cannot be recreated in the same Google Cloud project. **IMPORTANT: The default data retention setting for this operation is 7 days. To permanently delete the organization in 24 hours, set the retention parameter to `MINIMUM`.**",
          "id": "apigee.organizations.delete",
          "parameters": {
            "name": {
              "pattern": "^organizations/[^/]+$",
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Required. Name of the organization. Use the following structure in your request: `organizations/{org}`"
            },
            "retention": {
              "location": "query",
              "description": "Optional. This setting is applicable only for organizations that are soft-deleted (i.e., BillingType is not EVALUATION). It controls how long Organization data will be retained after the initial delete operation completes. During this period, the Organization may be restored to its last known state. After this period, the Organization will no longer be able to be restored. **Note: During the data retention period specified using this field, the Apigee organization cannot be recreated in the same Google Cloud project.**",
              "enum": [
                "DELETION_RETENTION_UNSPECIFIED",
                "MINIMUM"
              ],
              "type": "string",
              "enumDescriptions": [
                "Default data retention setting of seven days will be applied.",
                "Organization data will be retained for the minimum period of 24 hours."
              ]
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "getSecuritySettings": {
          "parameters": {
            "name": {
              "type": "string",
              "description": "Required. The name of the SecuritySettings to retrieve. This will always be: 'organizations/{org}/securitySettings'.",
              "pattern": "^organizations/[^/]+/securitySettings$",
              "required": true,
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1/organizations/{organizationsId}/securitySettings",
          "httpMethod": "GET",
          "description": "GetSecuritySettings gets the security settings for API Security.",
          "id": "apigee.organizations.getSecuritySettings",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GoogleCloudApigeeV1SecuritySettings"
          },
          "path": "v1/{+name}"
        },
        "get": {
          "path": "v1/{+name}",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GoogleCloudApigeeV1Organization"
          },
          "flatPath": "v1/organizations/{organizationsId}",
          "httpMethod": "GET",
          "description": "Gets the profile for an Apigee organization. See [Understanding organizations](https://cloud.google.com/apigee/docs/api-platform/fundamentals/organization-structure).",
          "id": "apigee.organizations.get",
          "parameters": {
            "name": {
              "location": "path",
              "pattern": "^organizations/[^/]+$",
              "required": true,
              "description": "Required. Apigee organization name in the following format: `organizations/{org}`",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "updateControlPlaneAccess": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "name": {
              "pattern": "^organizations/[^/]+/controlPlaneAccess$",
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Identifier. The resource name of the ControlPlaneAccess. Format: \"organizations/{org}/controlPlaneAccess\""
            },
            "updateMask": {
              "location": "query",
              "type": "string",
              "description": "List of fields to be updated. Fields that can be updated: synchronizer_identities, publisher_identities.",
              "format": "google-fieldmask"
            }
          },
          "request": {
            "$ref": "GoogleCloudApigeeV1ControlPlaneAccess"
          },
          "id": "apigee.organizations.updateControlPlaneAccess",
          "flatPath": "v1/organizations/{organizationsId}/controlPlaneAccess",
          "httpMethod": "PATCH",
          "description": "Updates the permissions required to allow Apigee runtime-plane components access to the control plane. Currently, the permissions required are to: 1. Allow runtime components to publish analytics data to the control plane. **Note**: Available to Apigee hybrid only.",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GoogleLongrunningOperation"
          },
          "path": "v1/{+name}"
        },
        "getControlPlaneAccess": {
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GoogleCloudApigeeV1ControlPlaneAccess"
          },
          "path": "v1/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "name": {
              "location": "path",
              "pattern": "^organizations/[^/]+/controlPlaneAccess$",
              "required": true,
              "type": "string",
              "description": "Required. Resource name of the Control Plane Access. Use the following structure in your request: `organizations/{org}/controlPlaneAccess`"
            }
          },
          "id": "apigee.organizations.getControlPlaneAccess",
          "flatPath": "v1/organizations/{organizationsId}/controlPlaneAccess",
          "httpMethod": "GET",
          "description": "Lists the service accounts allowed to access Apigee control plane directly for limited functionality. **Note**: Available to Apigee hybrid only."
        },
        "updateSecuritySettings": {
          "flatPath": "v1/organizations/{organizationsId}/securitySettings",
          "httpMethod": "PATCH",
          "description": "UpdateSecuritySettings updates the current security settings for API Security.",
          "id": "apigee.organizations.updateSecuritySettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "name": {
              "description": "Identifier. Full resource name is always `organizations/{org}/securitySettings`.",
              "type": "string",
              "location": "path",
              "pattern": "^organizations/[^/]+/securitySettings$",
              "required": true
            },
            "updateMask": {
              "description": "Optional. The list of fields to update. Allowed fields are: - ml_retraining_feedback_enabled",
              "location": "query",
              "type": "string",
              "format": "google-fieldmask"
            }
          },
          "request": {
            "$ref": "GoogleCloudApigeeV1SecuritySettings"
          },
          "path": "v1/{+name}",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GoogleCloudApigeeV1SecuritySettings"
          }
        },
        "create": {
          "parameterOrder": [],
          "response": {
            "$ref": "GoogleLongrunningOperation"
          },
          "path": "v1/organizations",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "parent": {
              "location": "query",
              "type": "string",
              "description": "Required. Name of the Google Cloud project in which to associate the Apigee organization. Pass the information as a query parameter using the following structure in your request: `projects/`"
            }
          },
          "request": {
            "$ref": "GoogleCloudApigeeV1Organization"
          },
          "id": "apigee.organizations.create",
          "flatPath": "v1/organizations",
          "httpMethod": "POST",
          "description": "Creates an Apigee organization. See [Create an Apigee organization](https://cloud.google.com/apigee/docs/api-platform/get-started/create-org)."
        },
        "setSyncAuthorization": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "name": {
              "location": "path",
              "pattern": "^organizations/[^/]+$",
              "required": true,
              "description": "Required. Name of the Apigee organization. Use the following structure in your request: `organizations/{org}`",
              "type": "string"
            }
          },
          "request": {
            "$ref": "GoogleCloudApigeeV1SyncAuthorization"
          },
          "id": "apigee.organizations.setSyncAuthorization",
          "flatPath": "v1/organizations/{organizationsId}:setSyncAuthorization",
          "httpMethod": "POST",
          "description": "Sets the permissions required to allow the Synchronizer to download environment data from the control plane. You must call this API to enable proper functioning of hybrid. Pass the ETag when calling `setSyncAuthorization` to ensure that you are updating the correct version. To get an ETag, call [getSyncAuthorization](getSyncAuthorization). If you don't pass the ETag in the call to `setSyncAuthorization`, then the existing authorization is overwritten indiscriminately. For more information, see [Configure the Synchronizer](https://cloud.google.com/apigee/docs/hybrid/latest/synchronizer-access). **Note**: Available to Apigee hybrid only.",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GoogleCloudApigeeV1SyncAuthorization"
          },
          "path": "v1/{+name}:setSyncAuthorization"
        },
        "update": {
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GoogleCloudApigeeV1Organization"
          },
          "path": "v1/{+name}",
          "parameters": {
            "name": {
              "description": "Required. Apigee organization name in the following format: `organizations/{org}`",
              "type": "string",
              "pattern": "^organizations/[^/]+$",
              "required": true,
              "location": "path"
            }
          },
          "request": {
            "$ref": "GoogleCloudApigeeV1Organization"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1/organizations/{organizationsId}",
          "httpMethod": "PUT",
          "description": "Updates the properties for an Apigee organization. No other fields in the organization profile will be updated.",
          "id": "apigee.organizations.update"
        },
        "getDeployedIngressConfig": {
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GoogleCloudApigeeV1IngressConfig"
          },
          "path": "v1/{+name}",
          "parameters": {
            "name": {
              "location": "path",
              "pattern": "^organizations/[^/]+/deployedIngressConfig$",
              "required": true,
              "type": "string",
              "description": "Required. Name of the deployed configuration for the organization in the following format: 'organizations/{org}/deployedIngressConfig'."
            },
            "view": {
              "description": "When set to FULL, additional details about the specific deployments receiving traffic will be included in the IngressConfig response's RoutingRules.",
              "enum": [
                "INGRESS_CONFIG_VIEW_UNSPECIFIED",
                "BASIC",
                "FULL"
              ],
              "type": "string",
              "enumDescriptions": [
                "The default/unset value. The API will default to the BASIC view.",
                "Include all ingress config data necessary for the runtime to configure ingress, but no more. Routing rules will include only basepath and destination environment. This the default value.",
                "Include all ingress config data, including internal debug info for each routing rule such as the proxy claiming a particular basepath and when the routing rule first appeared in the env group."
              ],
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "apigee.organizations.getDeployedIngressConfig",
          "flatPath": "v1/organizations/{organizationsId}/deployedIngressConfig",
          "httpMethod": "GET",
          "description": "Gets the deployed ingress configuration for an organization."
        },
        "getRuntimeConfig": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "name": {
              "type": "string",
              "description": "Required. Name of the runtime config for the organization in the following format: 'organizations/{org}/runtimeConfig'.",
              "pattern": "^organizations/[^/]+/runtimeConfig$",
              "required": true,
              "location": "path"
            }
          },
          "id": "apigee.organizations.getRuntimeConfig",
          "flatPath": "v1/organizations/{organizationsId}/runtimeConfig",
          "httpMethod": "GET",
          "description": "Get runtime config for an organization.",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GoogleCloudApigeeV1RuntimeConfig"
          },
          "path": "v1/{+name}"
        }
      },
      "resources": {
        "developers": {
          "methods": {
            "get": {
              "id": "apigee.organizations.developers.get",
              "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}",
              "httpMethod": "GET",
              "description": "Returns the developer details, including the developer's name, email address, apps, and other information. **Note**: The response includes only the first 100 developer apps.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. Email address of the developer. Use the following structure in your request: `organizations/{org}/developers/{developer_email}`",
                  "location": "path",
                  "pattern": "^organizations/[^/]+/developers/[^/]+$",
                  "required": true
                },
                "action": {
                  "description": "Status of the developer. Valid values are `active` or `inactive`.",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudApigeeV1Developer"
              }
            },
            "getMonetizationConfig": {
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. Monetization configuration for the developer. Use the following structure in your request: `organizations/{org}/developers/{developer}/monetizationConfig`",
                  "location": "path",
                  "pattern": "^organizations/[^/]+/developers/[^/]+/monetizationConfig$",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/monetizationConfig",
              "httpMethod": "GET",
              "description": "Gets the monetization configuration for the developer.",
              "id": "apigee.organizations.developers.getMonetizationConfig",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudApigeeV1DeveloperMonetizationConfig"
              },
              "path": "v1/{+name}"
            },
            "getBalance": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/developers/[^/]+/balance$",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. Account balance for the developer. Use the following structure in your request: `organizations/{org}/developers/{developer}/balance`"
                }
              },
              "id": "apigee.organizations.developers.getBalance",
              "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/balance",
              "httpMethod": "GET",
              "description": "Gets the account balance for the developer.",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudApigeeV1DeveloperBalance"
              },
              "path": "v1/{+name}"
            },
            "setDeveloperStatus": {
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}",
              "httpMethod": "POST",
              "description": "Sets the status of a developer. A developer is `active` by default. If you set a developer's status to `inactive`, the API keys assigned to the developer apps are no longer valid even though the API keys are set to `approved`. Inactive developers can still sign in to the developer portal and create apps; however, any new API keys generated during app creation won't work. To set the status of a developer, set the `action` query parameter to `active` or `inactive`, and the `Content-Type` header to `application/octet-stream`. If successful, the API call returns the following HTTP status code: `204 No Content`",
              "id": "apigee.organizations.developers.setDeveloperStatus",
              "parameters": {
                "name": {
                  "description": "Required. Name of the developer. Use the following structure in your request: `organizations/{org}/developers/{developer_id}`",
                  "type": "string",
                  "location": "path",
                  "pattern": "^organizations/[^/]+/developers/[^/]+$",
                  "required": true
                },
                "action": {
                  "description": "Status of the developer. Valid values are `active` and `inactive`.",
                  "location": "query",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "attributes": {
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudApigeeV1Attributes"
              },
              "path": "v1/{+parent}/attributes",
              "parameters": {
                "parent": {
                  "type": "string",
                  "description": "Required. Email address of the developer for which attributes are being updated. Use the following structure in your request: `organizations/{org}/developers/{developer_email}`",
                  "pattern": "^organizations/[^/]+/developers/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "request": {
                "$ref": "GoogleCloudApigeeV1Attributes"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "apigee.organizations.developers.attributes",
              "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/attributes",
              "httpMethod": "POST",
              "description": "Updates developer attributes. This API replaces the existing attributes with those specified in the request. Add new attributes, and include or exclude any existing attributes that you want to retain or remove, respectively. The custom attribute limit is 18. **Note**: OAuth access tokens and Key Management Service (KMS) entities (apps, developers, and API products) are cached for 180 seconds (default). Any custom attributes associated with these entities are cached for at least 180 seconds after the entity is accessed at runtime. Therefore, an `ExpiresIn` element on the OAuthV2 policy won't be able to expire an access token in less than 180 seconds."
            },
            "delete": {
              "id": "apigee.organizations.developers.delete",
              "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}",
              "httpMethod": "DELETE",
              "description": "Deletes a developer. All apps and API keys associated with the developer are also removed. **Warning**: This API will permanently delete the developer and related artifacts. To avoid permanently deleting developers and their artifacts, set the developer status to `inactive` using the SetDeveloperStatus API. **Note**: The delete operation is asynchronous. The developer is deleted immediately, but its associated resources, such as apps and API keys, may take anywhere from a few seconds to a few minutes to be deleted.",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^organizations/[^/]+/developers/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. Email address of the developer. Use the following structure in your request: `organizations/{org}/developers/{developer_email}`"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudApigeeV1Developer"
              }
            },
            "create": {
              "id": "apigee.organizations.developers.create",
              "flatPath": "v1/organizations/{organizationsId}/developers",
              "httpMethod": "POST",
              "description": "Creates a developer. Once created, the developer can register an app and obtain an API key. At creation time, a developer is set as `active`. To change the developer status, use the SetDeveloperStatus API.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "parent": {
                  "pattern": "^organizations/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. Name of the Apigee organization in which the developer is created. Use the following structure in your request: `organizations/{org}`."
                }
              },
              "request": {
                "$ref": "GoogleCloudApigeeV1Developer"
              },
              "path": "v1/{+parent}/developers",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudApigeeV1Developer"
              }
            },
            "update": {
              "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}",
              "httpMethod": "PUT",
              "description": "Updates a developer. This API replaces the existing developer details with those specified in the request. Include or exclude any existing details that you want to retain or delete, respectively. The custom attribute limit is 18. **Note**: OAuth access tokens and Key Management Service (KMS) entities (apps, developers, and API products) are cached for 180 seconds (current default). Any custom attributes associated with these entities are cached for at least 180 seconds after the entity is accessed at runtime. Therefore, an `ExpiresIn` element on the OAuthV2 policy won't be able to expire an access token in less than 180 seconds. **Note:** We recommend that you avoid making concurrent update requests for the same resource. Near-simultaneous writes to the same entity can result in conflicts and unexpected behavior. Ensure operations are sequential when modifying a single resource.",
              "id": "apigee.organizations.developers.update",
              "parameters": {
                "name": {
                  "description": "Required. Email address of the developer. Use the following structure in your request: `organizations/{org}/developers/{developer_email}`",
                  "type": "string",
                  "pattern": "^organizations/[^/]+/developers/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "request": {
                "$ref": "GoogleCloudApigeeV1Developer"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudApigeeV1Developer"
              }
            },
            "updateMonetizationConfig": {
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudApigeeV1DeveloperMonetizationConfig"
              },
              "id": "apigee.organizations.developers.updateMonetizationConfig",
              "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/monetizationConfig",
              "httpMethod": "PUT",
              "description": "Updates the monetization configuration for the developer.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^organizations/[^/]+/developers/[^/]+/monetizationConfig$",
                  "required": true,
                  "description": "Required. Monetization configuration for the developer. Use the following structure in your request: `organizations/{org}/developers/{developer}/monetizationConfig`",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "GoogleCloudApigeeV1DeveloperMonetizationConfig"
              }
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudApigeeV1ListOfDevelopersResponse"
              },
              "path": "v1/{+parent}/developers",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "parent": {
                  "pattern": "^organizations/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. Name of the Apigee organization. Use the following structure in your request: `organizations/{org}`."
                },
                "count": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Number of developers to return in the API call. Use with the `startKey` parameter to provide more targeted filtering. The limit is 1000.",
                  "format": "int64"
                },
                "startKey": {
                  "description": "**Note**: Must be used in conjunction with the `count` parameter. Email address of the developer from which to start displaying the list of developers. For example, if the an unfiltered list returns: ``` westley@example.com fezzik@example.com buttercup@example.com ``` and your `startKey` is `fezzik@example.com`, the list returned will be ``` fezzik@example.com buttercup@example.com ```",
                  "location": "query",
                  "type": "string"
                },
                "ids": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. List of IDs to include, separated by commas."
                },
                "app": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. List only Developers that are associated with the app. Note that start_key, count are not applicable for this filter criteria."
                },
                "includeCompany": {
                  "description": "Flag that specifies whether to include company details in the response.",
                  "location": "query",
                  "type": "boolean"
                },
                "expand": {
                  "location": "query",
                  "type": "boolean",
                  "description": "Specifies whether to expand the results. Set to `true` to expand the results. This query parameter is not valid if you use the `count` or `startKey` query parameters."
                }
              },
              "flatPath": "v1/organizations/{organizationsId}/developers",
              "httpMethod": "GET",
              "description": "Lists all developers in an organization by email address. By default, the response does not include company developers. Set the `includeCompany` query parameter to `true` to include company developers. **Note**: A maximum of 1000 developers are returned in the response. You paginate the list of developers returned using the `startKey` and `count` query parameters.",
              "id": "apigee.organizations.developers.list"
            }
          },
          "resources": {
            "balance": {
              "methods": {
                "credit": {
                  "path": "v1/{+name}:credit",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApigeeV1DeveloperBalance"
                  },
                  "id": "apigee.organizations.developers.balance.credit",
                  "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/balance:credit",
                  "httpMethod": "POST",
                  "description": "Credits the account balance for the developer.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. Account balance for the developer. Use the following structure in your request: `organizations/{org}/developers/{developer}/balance`",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/developers/[^/]+/balance$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudApigeeV1CreditDeveloperBalanceRequest"
                  }
                },
                "adjust": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^organizations/[^/]+/developers/[^/]+/balance$",
                      "required": true,
                      "type": "string",
                      "description": "Required. Account balance for the developer. Use the following structure in your request: `organizations/{org}/developers/{developer}/balance`"
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudApigeeV1AdjustDeveloperBalanceRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/balance:adjust",
                  "httpMethod": "POST",
                  "description": "Adjust the prepaid balance for the developer. This API will be used in scenarios where the developer has been under-charged or over-charged.",
                  "id": "apigee.organizations.developers.balance.adjust",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApigeeV1DeveloperBalance"
                  },
                  "path": "v1/{+name}:adjust"
                }
              }
            },
            "subscriptions": {
              "methods": {
                "get": {
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApigeeV1DeveloperSubscription"
                  },
                  "id": "apigee.organizations.developers.subscriptions.get",
                  "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/subscriptions/{subscriptionsId}",
                  "httpMethod": "GET",
                  "description": "Gets details for an API product subscription.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^organizations/[^/]+/developers/[^/]+/subscriptions/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. Name of the API product subscription. Use the following structure in your request: `organizations/{org}/developers/{developer_email}/subscriptions/{subscription}`"
                    }
                  }
                },
                "create": {
                  "id": "apigee.organizations.developers.subscriptions.create",
                  "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/subscriptions",
                  "httpMethod": "POST",
                  "description": "Creates a subscription to an API product. ",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "pattern": "^organizations/[^/]+/developers/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Required. Email address of the developer that is purchasing a subscription to the API product. Use the following structure in your request: `organizations/{org}/developers/{developer_email}`",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudApigeeV1DeveloperSubscription"
                  },
                  "path": "v1/{+parent}/subscriptions",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApigeeV1DeveloperSubscription"
                  }
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "startKey": {
                      "location": "query",
                      "type": "string",
                      "description": "Name of the API product subscription from which to start displaying the list of subscriptions. If omitted, the list starts from the first item. For example, to view the API product subscriptions from 51-150, set the value of `startKey` to the name of the 51st subscription and set the value of `count` to 100."
                    },
                    "parent": {
                      "location": "path",
                      "pattern": "^organizations/[^/]+/developers/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. Email address of the developer. Use the following structure in your request: `organizations/{org}/developers/{developer_email}`"
                    },
                    "count": {
                      "format": "int32",
                      "description": "Number of API product subscriptions to return in the API call. Use with `startKey` to provide more targeted filtering. Defaults to 100. The maximum limit is 1000.",
                      "location": "query",
                      "type": "integer"
                    }
                  },
                  "id": "apigee.organizations.developers.subscriptions.list",
                  "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/subscriptions",
                  "httpMethod": "GET",
                  "description": "Lists all API product subscriptions for a developer.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ListDeveloperSubscriptionsResponse"
                  },
                  "path": "v1/{+parent}/subscriptions"
                },
                "expire": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the API product subscription. Use the following structure in your request: `organizations/{org}/developers/{developer_email}/subscriptions/{subscription}`",
                      "type": "string",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/developers/[^/]+/subscriptions/[^/]+$",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudApigeeV1ExpireDeveloperSubscriptionRequest"
                  },
                  "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/subscriptions/{subscriptionsId}:expire",
                  "httpMethod": "POST",
                  "description": "Expires an API product subscription immediately.",
                  "id": "apigee.organizations.developers.subscriptions.expire",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApigeeV1DeveloperSubscription"
                  },
                  "path": "v1/{+name}:expire"
                }
              }
            },
            "apps": {
              "methods": {
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApigeeV1DeveloperApp"
                  },
                  "path": "v1/{+parent}/apps",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "pattern": "^organizations/[^/]+/developers/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. Name of the developer. Use the following structure in your request: `organizations/{org}/developers/{developer_email}`"
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudApigeeV1DeveloperApp"
                  },
                  "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps",
                  "httpMethod": "POST",
                  "description": "Creates an app associated with a developer. This API associates the developer app with the specified API product and auto-generates an API key for the app to use in calls to API proxies inside that API product. The `name` is the unique ID of the app that you can use in API calls. The `DisplayName` (set as an attribute) appears in the UI. If you don't set the `DisplayName` attribute, the `name` appears in the UI.",
                  "id": "apigee.organizations.developers.apps.create"
                },
                "generateKeyPairOrUpdateDeveloperAppStatus": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApigeeV1DeveloperApp"
                  },
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the developer app. Use the following structure in your request: `organizations/{org}/developers/{developer_email}/apps/{app}`",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+$",
                      "required": true,
                      "location": "path"
                    },
                    "action": {
                      "description": "Action. Valid values are `approve` or `revoke`.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudApigeeV1DeveloperApp"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "apigee.organizations.developers.apps.generateKeyPairOrUpdateDeveloperAppStatus",
                  "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}",
                  "httpMethod": "POST",
                  "description": "Manages access to a developer app by enabling you to: * Approve or revoke a developer app * Generate a new consumer key and secret for a developer app To approve or revoke a developer app, set the `action` query parameter to `approve` or `revoke`, respectively, and the `Content-Type` header to `application/octet-stream`. If a developer app is revoked, none of its API keys are valid for API calls even though the keys are still approved. If successful, the API call returns the following HTTP status code: `204 No Content` To generate a new consumer key and secret for a developer app, pass the new key/secret details. Rather than replace an existing key, this API generates a new key. In this case, multiple key pairs may be associated with a single developer app. Each key pair has an independent status (`approve` or `revoke`) and expiration time. Any approved, non-expired key can be used in an API call. For example, if you're using API key rotation, you can generate new keys with expiration times that overlap keys that are going to expire. You might also generate a new consumer key/secret if the security of the original key/secret is compromised. The `keyExpiresIn` property defines the expiration time for the API key in milliseconds. If you don't set this property or set it to `-1`, the API key never expires. **Notes**: * When generating a new key/secret, this API replaces the existing attributes, notes, and callback URLs with those specified in the request. Include or exclude any existing information that you want to retain or delete, respectively. * To migrate existing consumer keys and secrets to hybrid from another system, see the CreateDeveloperAppKey API."
                },
                "get": {
                  "id": "apigee.organizations.developers.apps.get",
                  "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}",
                  "httpMethod": "GET",
                  "description": "Returns the details for a developer app.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "entity": {
                      "location": "query",
                      "type": "string",
                      "description": "**Note**: Must be used in conjunction with the `query` parameter. Set to `apiresources` to return the number of API resources that have been approved for access by a developer app in the specified Apigee organization."
                    },
                    "name": {
                      "type": "string",
                      "description": "Required. Name of the developer app. Use the following structure in your request: `organizations/{org}/developers/{developer_email}/apps/{app}`",
                      "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+$",
                      "required": true,
                      "location": "path"
                    },
                    "query": {
                      "description": "**Note**: Must be used in conjunction with the `entity` parameter. Set to `count` to return the number of API resources that have been approved for access by a developer app in the specified Apigee organization.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApigeeV1DeveloperApp"
                  }
                },
                "update": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApigeeV1DeveloperApp"
                  },
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the developer app. Use the following structure in your request: `organizations/{org}/developers/{developer_email}/apps/{app}`",
                      "type": "string",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+$",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudApigeeV1DeveloperApp"
                  },
                  "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}",
                  "httpMethod": "PUT",
                  "description": "Updates the details for a developer app. In addition, you can add an API product to a developer app and automatically generate an API key for the app to use when calling APIs in the API product. If you want to use an existing API key for the API product, add the API product to the API key using the UpdateDeveloperAppKey API. Using this API, you cannot update the following: * App name as it is the primary key used to identify the app and cannot be changed. * Scopes associated with the app. Instead, use the ReplaceDeveloperAppKey API. This API replaces the existing attributes with those specified in the request. Include or exclude any existing attributes that you want to retain or delete, respectively. **Note:** We recommend that you avoid making concurrent update requests for the same resource. Near-simultaneous writes to the same entity can result in conflicts and unexpected behavior. Ensure operations are sequential when modifying a single resource.",
                  "id": "apigee.organizations.developers.apps.update"
                },
                "attributes": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApigeeV1Attributes"
                  },
                  "path": "v1/{+name}/attributes",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+$",
                      "required": true,
                      "description": "Required. Name of the developer app. Use the following structure in your request: `organizations/{org}/developers/{developer_email}/apps/{app}`",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudApigeeV1Attributes"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}/attributes",
                  "httpMethod": "POST",
                  "description": "Updates attributes for a developer app. This API replaces the current attributes with those specified in the request.",
                  "id": "apigee.organizations.developers.apps.attributes"
                },
                "delete": {
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApigeeV1DeveloperApp"
                  },
                  "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}",
                  "httpMethod": "DELETE",
                  "description": "Deletes a developer app. **Note**: The delete operation is asynchronous. The developer app is deleted immediately, but its associated resources, such as app keys or access tokens, may take anywhere from a few seconds to a few minutes to be deleted.",
                  "id": "apigee.organizations.developers.apps.delete",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+$",
                      "required": true,
                      "description": "Required. Name of the developer app. Use the following structure in your request: `organizations/{org}/developers/{developer_email}/apps/{app}`",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "id": "apigee.organizations.developers.apps.list",
                  "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps",
                  "httpMethod": "GET",
                  "description": "Lists all apps created by a developer in an Apigee organization. Optionally, you can request an expanded view of the developer apps. A maximum of 100 developer apps are returned per API call. You can paginate the list of deveoper apps returned using the `startKey` and `count` query parameters.",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Required. Name of the developer. Use the following structure in your request: `organizations/{org}/developers/{developer_email}`",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/developers/[^/]+$",
                      "required": true
                    },
                    "count": {
                      "description": "Number of developer apps to return in the API call. Use with the `startKey` parameter to provide more targeted filtering. The limit is 1000.",
                      "location": "query",
                      "type": "string",
                      "format": "int64"
                    },
                    "startKey": {
                      "description": "**Note**: Must be used in conjunction with the `count` parameter. Name of the developer app from which to start displaying the list of developer apps. For example, if you're returning 50 developer apps at a time (using the `count` query parameter), you can view developer apps 50-99 by entering the name of the 50th developer app. The developer app name is case sensitive.",
                      "location": "query",
                      "type": "string"
                    },
                    "expand": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Optional. Specifies whether to expand the results. Set to `true` to expand the results. This query parameter is not valid if you use the `count` or `startKey` query parameters. **Note**: If set to `true`, the `apigee.developerapps.get` permission is required."
                    },
                    "shallowExpand": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Optional. Specifies whether to expand the results in shallow mode. Set to `true` to expand the results in shallow mode. **Note**: If set to `true`, the `apigee.developerapps.get` permission is required."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/apps",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ListDeveloperAppsResponse"
                  }
                }
              },
              "resources": {
                "keys": {
                  "methods": {
                    "replaceDeveloperAppKey": {
                      "id": "apigee.organizations.developers.apps.keys.replaceDeveloperAppKey",
                      "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}/keys/{keysId}",
                      "httpMethod": "PUT",
                      "description": "Updates the scope of an app. This API replaces the existing scopes with those specified in the request. Include or exclude any existing scopes that you want to retain or delete, respectively. The specified scopes must already be defined for the API products associated with the app. This API sets the `scopes` element under the `apiProducts` element in the attributes of the app.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+/keys/[^/]+$",
                          "required": true,
                          "location": "path",
                          "description": "Name of the developer app key. Use the following structure in your request: `organizations/{org}/developers/{developer_email}/apps/{app}/keys/{key}`",
                          "type": "string"
                        }
                      },
                      "request": {
                        "$ref": "GoogleCloudApigeeV1DeveloperAppKey"
                      },
                      "path": "v1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleCloudApigeeV1DeveloperAppKey"
                      }
                    },
                    "delete": {
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleCloudApigeeV1DeveloperAppKey"
                      },
                      "path": "v1/{+name}",
                      "parameters": {
                        "name": {
                          "description": "Name of the developer app key. Use the following structure in your request: `organizations/{org}/developers/{developer_email}/apps/{app}/keys/{key}`",
                          "type": "string",
                          "location": "path",
                          "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+/keys/[^/]+$",
                          "required": true
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "apigee.organizations.developers.apps.keys.delete",
                      "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}/keys/{keysId}",
                      "httpMethod": "DELETE",
                      "description": "Deletes an app's consumer key and removes all API products associated with the app. After the consumer key is deleted, it cannot be used to access any APIs. **Note**: After you delete a consumer key, you may want to: 1. Create a new consumer key and secret for the developer app using the CreateDeveloperAppKey API, and subsequently add an API product to the key using the UpdateDeveloperAppKey API. 2. Delete the developer app, if it is no longer required."
                    },
                    "updateDeveloperAppKey": {
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleCloudApigeeV1DeveloperAppKey"
                      },
                      "path": "v1/{+name}",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "description": "Name of the developer app key. Use the following structure in your request: `organizations/{org}/developers/{developer_email}/apps/{app}/keys/{key}`",
                          "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+/keys/[^/]+$",
                          "required": true,
                          "location": "path"
                        },
                        "action": {
                          "description": "Approve or revoke the consumer key by setting this value to `approve` or `revoke`, respectively. The `Content-Type` header must be set to `application/octet-stream`.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "request": {
                        "$ref": "GoogleCloudApigeeV1DeveloperAppKey"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}/keys/{keysId}",
                      "httpMethod": "POST",
                      "description": "Adds an API product to a developer app key, enabling the app that holds the key to access the API resources bundled in the API product. In addition, you can add attributes and scopes associated with the API product to the developer app key. The status of the key can be updated via \"action\" Query Parameter. None of the other fields can be updated via this API. This API replaces the existing attributes with those specified in the request. Include or exclude any existing attributes that you want to retain or delete, respectively. None of the other fields can be updated. You can use the same key to access all API products associated with the app.",
                      "id": "apigee.organizations.developers.apps.keys.updateDeveloperAppKey"
                    },
                    "create": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "parent": {
                          "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+$",
                          "required": true,
                          "location": "path",
                          "description": "Parent of the developer app key. Use the following structure in your request: 'organizations/{org}/developers/{developerEmail}/apps/{appName}'",
                          "type": "string"
                        }
                      },
                      "request": {
                        "$ref": "GoogleCloudApigeeV1DeveloperAppKey"
                      },
                      "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}/keys",
                      "httpMethod": "POST",
                      "description": "Creates a custom consumer key and secret for a developer app. This is particularly useful if you want to migrate existing consumer keys and secrets to Apigee from another system. Consumer keys and secrets can contain letters, numbers, underscores, and hyphens. No other special characters are allowed. To avoid service disruptions, a consumer key and secret should not exceed 2 KBs each. **Note**: When creating the consumer key and secret, an association to API products will not be made. Therefore, you should not specify the associated API products in your request. Instead, use the UpdateDeveloperAppKey API to make the association after the consumer key and secret are created. If a consumer key and secret already exist, you can keep them or delete them using the DeleteDeveloperAppKey API. **Note**: All keys start out with status=approved, even if status=revoked is passed when the key is created. To revoke a key, use the UpdateDeveloperAppKey API.",
                      "id": "apigee.organizations.developers.apps.keys.create",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleCloudApigeeV1DeveloperAppKey"
                      },
                      "path": "v1/{+parent}/keys"
                    },
                    "get": {
                      "id": "apigee.organizations.developers.apps.keys.get",
                      "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}/keys/{keysId}",
                      "httpMethod": "GET",
                      "description": "Gets details for a consumer key for a developer app, including the key and secret value, associated API products, and other information.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+/keys/[^/]+$",
                          "required": true,
                          "type": "string",
                          "description": "Name of the developer app key. Use the following structure in your request: `organizations/{org}/developers/{developer_email}/apps/{app}/keys/{key}`"
                        }
                      },
                      "path": "v1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleCloudApigeeV1DeveloperAppKey"
                      }
                    }
                  },
                  "resources": {
                    "create": {
                      "methods": {
                        "create": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameters": {
                            "parent": {
                              "type": "string",
                              "description": "Parent of the developer app key. Use the following structure in your request: 'organizations/{org}/developers/{developerEmail}/apps/{appName}'",
                              "location": "path",
                              "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+$",
                              "required": true
                            }
                          },
                          "request": {
                            "$ref": "GoogleCloudApigeeV1DeveloperAppKey"
                          },
                          "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}/keys/create",
                          "httpMethod": "POST",
                          "description": "Creates a custom consumer key and secret for a developer app. This is particularly useful if you want to migrate existing consumer keys and secrets to Apigee from another system. Consumer keys and secrets can contain letters, numbers, underscores, and hyphens. No other special characters are allowed. To avoid service disruptions, a consumer key and secret should not exceed 2 KBs each. **Note**: When creating the consumer key and secret, an association to API products will not be made. Therefore, you should not specify the associated API products in your request. Instead, use the UpdateDeveloperAppKey API to make the association after the consumer key and secret are created. If a consumer key and secret already exist, you can keep them or delete them using the DeleteDeveloperAppKey API. **Note**: All keys start out with status=approved, even if status=revoked is passed when the key is created. To revoke a key, use the UpdateDeveloperAppKey API.",
                          "id": "apigee.organizations.developers.apps.keys.create.create",
                          "parameterOrder": [
                            "parent"
                          ],
                          "response": {
                            "$ref": "GoogleCloudApigeeV1DeveloperAppKey"
                          },
                          "path": "v1/{+parent}/keys/create"
                        }
                      }
                    },
                    "apiproducts": {
                      "methods": {
                        "delete": {
                          "parameterOrder": [
                            "name"
                          ],
                          "response": {
                            "$ref": "GoogleCloudApigeeV1DeveloperAppKey"
                          },
                          "path": "v1/{+name}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameters": {
                            "name": {
                              "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+/keys/[^/]+/apiproducts/[^/]+$",
                              "required": true,
                              "location": "path",
                              "description": "Name of the API product in the developer app key in the following format: `organizations/{org}/developers/{developer_email}/apps/{app}/keys/{key}/apiproducts/{apiproduct}`",
                              "type": "string"
                            }
                          },
                          "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}/keys/{keysId}/apiproducts/{apiproductsId}",
                          "httpMethod": "DELETE",
                          "description": "Removes an API product from an app's consumer key. After the API product is removed, the app cannot access the API resources defined in that API product. **Note**: The consumer key is not removed, only its association with the API product.",
                          "id": "apigee.organizations.developers.apps.keys.apiproducts.delete"
                        },
                        "updateDeveloperAppKeyApiProduct": {
                          "parameterOrder": [
                            "name"
                          ],
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          },
                          "path": "v1/{+name}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameters": {
                            "name": {
                              "location": "path",
                              "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+/keys/[^/]+/apiproducts/[^/]+$",
                              "required": true,
                              "type": "string",
                              "description": "Name of the API product in the developer app key in the following format: `organizations/{org}/developers/{developer_email}/apps/{app}/keys/{key}/apiproducts/{apiproduct}`"
                            },
                            "action": {
                              "description": "Approve or revoke the consumer key by setting this value to `approve` or `revoke`, respectively.",
                              "location": "query",
                              "type": "string"
                            }
                          },
                          "id": "apigee.organizations.developers.apps.keys.apiproducts.updateDeveloperAppKeyApiProduct",
                          "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}/keys/{keysId}/apiproducts/{apiproductsId}",
                          "httpMethod": "POST",
                          "description": "Approves or revokes the consumer key for an API product. After a consumer key is approved, the app can use it to access APIs. A consumer key that is revoked or pending cannot be used to access an API. Any access tokens associated with a revoked consumer key will remain active. However, Apigee checks the status of the consumer key and if set to `revoked` will not allow access to the API."
                        }
                      }
                    }
                  }
                },
                "attributes": {
                  "methods": {
                    "delete": {
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleCloudApigeeV1Attribute"
                      },
                      "path": "v1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+/attributes/[^/]+$",
                          "required": true,
                          "type": "string",
                          "description": "Required. Name of the developer app attribute. Use the following structure in your request: `organizations/{org}/developers/{developer_email}/apps/{app}/attributes/{attribute}`"
                        }
                      },
                      "id": "apigee.organizations.developers.apps.attributes.delete",
                      "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}/attributes/{attributesId}",
                      "httpMethod": "DELETE",
                      "description": "Deletes a developer app attribute."
                    },
                    "get": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+/attributes/[^/]+$",
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "Required. Name of the developer app attribute. Use the following structure in your request: `organizations/{org}/developers/{developer_email}/apps/{app}/attributes/{attribute}`"
                        }
                      },
                      "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}/attributes/{attributesId}",
                      "httpMethod": "GET",
                      "description": "Returns a developer app attribute.",
                      "id": "apigee.organizations.developers.apps.attributes.get",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleCloudApigeeV1Attribute"
                      },
                      "path": "v1/{+name}"
                    },
                    "updateDeveloperAppAttribute": {
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleCloudApigeeV1Attribute"
                      },
                      "path": "v1/{+name}",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "description": "Required. Name of the developer app attribute. Use the following structure in your request: `organizations/{org}/developers/{developer_email}/apps/{app}/attributes/{attribute}`",
                          "location": "path",
                          "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+/attributes/[^/]+$",
                          "required": true
                        }
                      },
                      "request": {
                        "$ref": "GoogleCloudApigeeV1Attribute"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "apigee.organizations.developers.apps.attributes.updateDeveloperAppAttribute",
                      "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}/attributes/{attributesId}",
                      "httpMethod": "POST",
                      "description": "Updates a developer app attribute. **Note**: OAuth access tokens and Key Management Service (KMS) entities (apps, developers, and API products) are cached for 180 seconds (current default). Any custom attributes associated with these entities are cached for at least 180 seconds after the entity is accessed at runtime. Therefore, an `ExpiresIn` element on the OAuthV2 policy won't be able to expire an access token in less than 180 seconds."
                    },
                    "list": {
                      "id": "apigee.organizations.developers.apps.attributes.list",
                      "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}/attributes",
                      "httpMethod": "GET",
                      "description": "Returns a list of all developer app attributes.",
                      "parameters": {
                        "parent": {
                          "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+$",
                          "required": true,
                          "location": "path",
                          "description": "Required. Name of the developer app. Use the following structure in your request: `organizations/{org}/developers/{developer_email}/apps/{app}`",
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+parent}/attributes",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleCloudApigeeV1Attributes"
                      }
                    }
                  }
                }
              }
            },
            "attributes": {
              "methods": {
                "get": {
                  "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/attributes/{attributesId}",
                  "httpMethod": "GET",
                  "description": "Returns the value of the specified developer attribute.",
                  "id": "apigee.organizations.developers.attributes.get",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^organizations/[^/]+/developers/[^/]+/attributes/[^/]+$",
                      "required": true,
                      "description": "Required. Name of the developer attribute. Use the following structure in your request: `organizations/{org}/developers/{developer_email}/attributes/{attribute}`",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApigeeV1Attribute"
                  }
                },
                "updateDeveloperAttribute": {
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/developers/[^/]+/attributes/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. Name of the developer attribute. Use the following structure in your request: `organizations/{org}/developers/{developer_email}/attributes/{attribute}`"
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudApigeeV1Attribute"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/attributes/{attributesId}",
                  "httpMethod": "POST",
                  "description": "Updates a developer attribute. **Note**: OAuth access tokens and Key Management Service (KMS) entities (apps, developers, and API products) are cached for 180 seconds (default). Any custom attributes associated with these entities are cached for at least 180 seconds after the entity is accessed at runtime. Therefore, an `ExpiresIn` element on the OAuthV2 policy won't be able to expire an access token in less than 180 seconds.",
                  "id": "apigee.organizations.developers.attributes.updateDeveloperAttribute",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApigeeV1Attribute"
                  },
                  "path": "v1/{+name}"
                },
                "delete": {
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApigeeV1Attribute"
                  },
                  "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/attributes/{attributesId}",
                  "httpMethod": "DELETE",
                  "description": "Deletes a developer attribute.",
                  "id": "apigee.organizations.developers.attributes.delete",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^organizations/[^/]+/developers/[^/]+/attributes/[^/]+$",
                      "required": true,
                      "description": "Required. Name of the developer attribute. Use the following structure in your request: `organizations/{org}/developers/{developer_email}/attributes/{attribute}`",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^organizations/[^/]+/developers/[^/]+$",
                      "required": true,
                      "description": "Required. Email address of the developer for which attributes are being listed. Use the following structure in your request: `organizations/{org}/developers/{developer_email}`",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/attributes",
                  "httpMethod": "GET",
                  "description": "Returns a list of all developer attributes.",
                  "id": "apigee.organizations.developers.attributes.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApigeeV1Attributes"
                  },
                  "path": "v1/{+parent}/attributes"
                }
              }
            }
          }
        },
        "reports": {
          "methods": {
            "create": {
              "id": "apigee.organizations.reports.create",
              "flatPath": "v1/organizations/{organizationsId}/reports",
              "httpMethod": "POST",
              "description": "Creates a Custom Report for an Organization. A Custom Report provides Apigee Customers to create custom dashboards in addition to the standard dashboards which are provided. The Custom Report in its simplest form contains specifications about metrics, dimensions and filters. It is important to note that the custom report by itself does not provide an executable entity. The Edge UI converts the custom report definition into an analytics query and displays the result in a chart.",
              "parameters": {
                "parent": {
                  "pattern": "^organizations/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Required. The parent organization name under which the Custom Report will be created. Must be of the form: `organizations/{organization_id}/reports`",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "GoogleCloudApigeeV1CustomReport"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+parent}/reports",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudApigeeV1CustomReport"
              }
            },
            "get": {
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^organizations/[^/]+/reports/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. Custom Report name of the form: `organizations/{organization_id}/reports/{report_name}`"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "apigee.organizations.reports.get",
              "flatPath": "v1/organizations/{organizationsId}/reports/{reportsId}",
              "httpMethod": "GET",
              "description": "Retrieve a custom report definition.",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudApigeeV1CustomReport"
              },
              "path": "v1/{+name}"
            },
            "update": {
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudApigeeV1CustomReport"
              },
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^organizations/[^/]+/reports/[^/]+$",
                  "required": true,
                  "description": "Required. Custom Report name of the form: `organizations/{organization_id}/reports/{report_name}`",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "GoogleCloudApigeeV1CustomReport"
              },
              "flatPath": "v1/organizations/{organizationsId}/reports/{reportsId}",
              "httpMethod": "PUT",
              "description": "Update an existing custom report definition",
              "id": "apigee.organizations.reports.update"
            },
            "delete": {
              "flatPath": "v1/organizations/{organizationsId}/reports/{reportsId}",
              "httpMethod": "DELETE",
              "description": "Deletes an existing custom report definition",
              "id": "apigee.organizations.reports.delete",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/reports/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. Custom Report name of the form: `organizations/{organization_id}/reports/{report_name}`"
                }
              },
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudApigeeV1DeleteCustomReportResponse"
              }
            },
            "list": {
              "path": "v1/{+parent}/reports",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudApigeeV1ListCustomReportsResponse"
              },
              "id": "apigee.organizations.reports.list",
              "flatPath": "v1/organizations/{organizationsId}/reports",
              "httpMethod": "GET",
              "description": "Return a list of Custom Reports",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "parent": {
                  "pattern": "^organizations/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. The parent organization name under which the API product will be listed `organizations/{organization_id}/reports`"
                },
                "expand": {
                  "description": "Set to 'true' to get expanded details about each custom report.",
                  "location": "query",
                  "type": "boolean"
                }
              }
            }
          }
        },
        "operations": {
          "methods": {
            "list": {
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "path": "v1/{+name}/operations",
              "parameters": {
                "filter": {
                  "description": "The standard list filter.",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "type": "string",
                  "description": "The name of the operation's parent resource.",
                  "pattern": "^organizations/[^/]+$",
                  "required": true,
                  "location": "path"
                },
                "pageToken": {
                  "description": "The standard list page token.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "The standard list page size.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "returnPartialSuccess": {
                  "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                  "location": "query",
                  "type": "boolean"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/organizations/{organizationsId}/operations",
              "httpMethod": "GET",
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
              "id": "apigee.organizations.operations.list"
            },
            "get": {
[...]
