{
  "endpoints": [
    {
      "location": "us",
      "description": "Regional Endpoint",
      "endpointUrl": "https://apigee.us.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://apigee.eu.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "eu"
    },
    {
      "endpointUrl": "https://apigee.in.rep.googleapis.com/",
      "location": "in",
      "description": "Regional Endpoint"
    },
    {
      "location": "sa",
      "description": "Regional Endpoint",
      "endpointUrl": "https://apigee.sa.rep.googleapis.com/"
    }
  ],
  "version": "v1",
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "kind": "discovery#restDescription",
  "parameters": {
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "default": "json",
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    }
  },
  "id": "apigee:v1",
  "description": "Use the Apigee API to programmatically develop and manage APIs with a set of RESTful operations. Develop and secure API proxies, deploy and undeploy API proxy revisions, monitor APIs, configure environments, manage users, and more. Note: This product is available as a free trial for a time period of 60 days.",
  "baseUrl": "https://apigee.googleapis.com/",
  "rootUrl": "https://apigee.googleapis.com/",
  "servicePath": "",
  "title": "Apigee API",
  "canonicalName": "Apigee",
  "basePath": "",
  "revision": "20260626",
  "resources": {
    "organizations": {
      "methods": {
        "updateControlPlaneAccess": {
          "request": {
            "$ref": "GoogleCloudApigeeV1ControlPlaneAccess"
          },
          "description": "Updates the permissions required to allow Apigee runtime-plane components access to the control plane. Currently, the permissions required are to: 1. Allow runtime components to publish analytics data to the control plane. **Note**: Available to Apigee hybrid only.",
          "flatPath": "v1/organizations/{organizationsId}/controlPlaneAccess",
          "path": "v1/{+name}",
          "parameters": {
            "name": {
              "description": "Identifier. The resource name of the ControlPlaneAccess. Format: \"organizations/{org}/controlPlaneAccess\"",
              "pattern": "^organizations/[^/]+/controlPlaneAccess$",
              "type": "string",
              "location": "path",
              "required": true
            },
            "updateMask": {
              "location": "query",
              "format": "google-fieldmask",
              "description": "List of fields to be updated. Fields that can be updated: synchronizer_identities, publisher_identities.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "GoogleLongrunningOperation"
          },
          "httpMethod": "PATCH",
          "id": "apigee.organizations.updateControlPlaneAccess",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "get": {
          "description": "Gets the profile for an Apigee organization. See [Understanding organizations](https://cloud.google.com/apigee/docs/api-platform/fundamentals/organization-structure).",
          "flatPath": "v1/organizations/{organizationsId}",
          "id": "apigee.organizations.get",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "name": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. Apigee organization name in the following format: `organizations/{org}`",
              "pattern": "^organizations/[^/]+$"
            }
          },
          "response": {
            "$ref": "GoogleCloudApigeeV1Organization"
          },
          "httpMethod": "GET",
          "path": "v1/{+name}"
        },
        "setSyncAuthorization": {
          "id": "apigee.organizations.setSyncAuthorization",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^organizations/[^/]+$",
              "description": "Required. Name of the Apigee organization. Use the following structure in your request: `organizations/{org}`"
            }
          },
          "response": {
            "$ref": "GoogleCloudApigeeV1SyncAuthorization"
          },
          "httpMethod": "POST",
          "path": "v1/{+name}:setSyncAuthorization",
          "request": {
            "$ref": "GoogleCloudApigeeV1SyncAuthorization"
          },
          "description": "Sets the permissions required to allow the Synchronizer to download environment data from the control plane. You must call this API to enable proper functioning of hybrid. Pass the ETag when calling `setSyncAuthorization` to ensure that you are updating the correct version. To get an ETag, call [getSyncAuthorization](getSyncAuthorization). If you don't pass the ETag in the call to `setSyncAuthorization`, then the existing authorization is overwritten indiscriminately. For more information, see [Configure the Synchronizer](https://cloud.google.com/apigee/docs/hybrid/latest/synchronizer-access). **Note**: Available to Apigee hybrid only.",
          "flatPath": "v1/organizations/{organizationsId}:setSyncAuthorization"
        },
        "getRuntimeConfig": {
          "id": "apigee.organizations.getRuntimeConfig",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. Name of the runtime config for the organization in the following format: 'organizations/{org}/runtimeConfig'.",
              "pattern": "^organizations/[^/]+/runtimeConfig$"
            }
          },
          "response": {
            "$ref": "GoogleCloudApigeeV1RuntimeConfig"
          },
          "path": "v1/{+name}",
          "flatPath": "v1/organizations/{organizationsId}/runtimeConfig",
          "description": "Get runtime config for an organization."
        },
        "updateSecuritySettings": {
          "id": "apigee.organizations.updateSecuritySettings",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1/{+name}",
          "httpMethod": "PATCH",
          "parameters": {
            "name": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Identifier. Full resource name is always `organizations/{org}/securitySettings`.",
              "pattern": "^organizations/[^/]+/securitySettings$"
            },
            "updateMask": {
              "location": "query",
              "format": "google-fieldmask",
              "description": "Optional. The list of fields to update. Allowed fields are: - ml_retraining_feedback_enabled",
              "type": "string"
            }
          },
          "response": {
            "$ref": "GoogleCloudApigeeV1SecuritySettings"
          },
          "flatPath": "v1/organizations/{organizationsId}/securitySettings",
          "request": {
            "$ref": "GoogleCloudApigeeV1SecuritySettings"
          },
          "description": "UpdateSecuritySettings updates the current security settings for API Security."
        },
        "delete": {
          "description": "Delete an Apigee organization. For organizations with BillingType EVALUATION, an immediate deletion is performed. For paid organizations (Subscription or Pay-as-you-go), a soft-deletion is performed. The organization can be restored within the soft-deletion period, which is specified using the `retention` field in the request or by filing a support ticket with Apigee. During the data retention period specified in the request, the Apigee organization cannot be recreated in the same Google Cloud project. **IMPORTANT: The default data retention setting for this operation is 7 days. To permanently delete the organization in 24 hours, set the retention parameter to `MINIMUM`.**",
          "flatPath": "v1/organizations/{organizationsId}",
          "path": "v1/{+name}",
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^organizations/[^/]+$",
              "description": "Required. Name of the organization. Use the following structure in your request: `organizations/{org}`"
            },
            "retention": {
              "enum": [
                "DELETION_RETENTION_UNSPECIFIED",
                "MINIMUM"
              ],
              "description": "Optional. This setting is applicable only for organizations that are soft-deleted (i.e., BillingType is not EVALUATION). It controls how long Organization data will be retained after the initial delete operation completes. During this period, the Organization may be restored to its last known state. After this period, the Organization will no longer be able to be restored. **Note: During the data retention period specified using this field, the Apigee organization cannot be recreated in the same Google Cloud project.**",
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                "Default data retention setting of seven days will be applied.",
                "Organization data will be retained for the minimum period of 24 hours."
              ]
            }
          },
          "response": {
            "$ref": "GoogleLongrunningOperation"
          },
          "httpMethod": "DELETE",
          "id": "apigee.organizations.delete",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "setAddons": {
          "flatPath": "v1/organizations/{organizationsId}:setAddons",
          "request": {
            "$ref": "GoogleCloudApigeeV1SetAddonsRequest"
          },
          "description": "Configures the add-ons for the Apigee organization. The existing add-on configuration will be fully replaced.",
          "id": "apigee.organizations.setAddons",
          "parameterOrder": [
            "org"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1/{+org}:setAddons",
          "httpMethod": "POST",
          "parameters": {
            "org": {
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^organizations/[^/]+$",
              "description": "Required. Name of the organization. Use the following structure in your request: `organizations/{org}`"
            }
          },
          "response": {
            "$ref": "GoogleLongrunningOperation"
          }
        },
        "create": {
          "flatPath": "v1/organizations",
          "request": {
            "$ref": "GoogleCloudApigeeV1Organization"
          },
          "description": "Creates an Apigee organization. See [Create an Apigee organization](https://cloud.google.com/apigee/docs/api-platform/get-started/create-org).",
          "httpMethod": "POST",
          "parameters": {
            "parent": {
              "location": "query",
              "description": "Required. Name of the Google Cloud project in which to associate the Apigee organization. Pass the information as a query parameter using the following structure in your request: `projects/`",
              "type": "string"
            }
          },
          "response": {
            "$ref": "GoogleLongrunningOperation"
          },
          "path": "v1/organizations",
          "id": "apigee.organizations.create",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "getDeployedIngressConfig": {
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "pattern": "^organizations/[^/]+/deployedIngressConfig$",
              "description": "Required. Name of the deployed configuration for the organization in the following format: 'organizations/{org}/deployedIngressConfig'.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "view": {
              "type": "string",
              "enumDescriptions": [
                "The default/unset value. The API will default to the BASIC view.",
                "Include all ingress config data necessary for the runtime to configure ingress, but no more. Routing rules will include only basepath and destination environment. This the default value.",
                "Include all ingress config data, including internal debug info for each routing rule such as the proxy claiming a particular basepath and when the routing rule first appeared in the env group."
              ],
              "location": "query",
              "enum": [
                "INGRESS_CONFIG_VIEW_UNSPECIFIED",
                "BASIC",
                "FULL"
              ],
              "description": "When set to FULL, additional details about the specific deployments receiving traffic will be included in the IngressConfig response's RoutingRules."
            }
          },
          "response": {
            "$ref": "GoogleCloudApigeeV1IngressConfig"
          },
          "path": "v1/{+name}",
          "id": "apigee.organizations.getDeployedIngressConfig",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1/organizations/{organizationsId}/deployedIngressConfig",
          "description": "Gets the deployed ingress configuration for an organization."
        },
        "list": {
          "path": "v1/{+parent}",
          "httpMethod": "GET",
          "parameters": {
            "parent": {
              "pattern": "^organizations$",
              "description": "Required. Use the following structure in your request: `organizations`",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "GoogleCloudApigeeV1ListOrganizationsResponse"
          },
          "id": "apigee.organizations.list",
          "parameterOrder": [
            "parent"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1/organizations",
          "description": "Lists the Apigee organizations and associated Google Cloud projects that you have permission to access. See [Understanding organizations](https://cloud.google.com/apigee/docs/api-platform/fundamentals/organization-structure)."
        },
        "update": {
          "request": {
            "$ref": "GoogleCloudApigeeV1Organization"
          },
          "description": "Updates the properties for an Apigee organization. No other fields in the organization profile will be updated.",
          "flatPath": "v1/organizations/{organizationsId}",
          "parameters": {
            "name": {
              "pattern": "^organizations/[^/]+$",
              "description": "Required. Apigee organization name in the following format: `organizations/{org}`",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "GoogleCloudApigeeV1Organization"
          },
          "httpMethod": "PUT",
          "path": "v1/{+name}",
          "id": "apigee.organizations.update",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "getControlPlaneAccess": {
          "description": "Lists the service accounts allowed to access Apigee control plane directly for limited functionality. **Note**: Available to Apigee hybrid only.",
          "flatPath": "v1/organizations/{organizationsId}/controlPlaneAccess",
          "path": "v1/{+name}",
          "parameters": {
            "name": {
              "pattern": "^organizations/[^/]+/controlPlaneAccess$",
              "description": "Required. Resource name of the Control Plane Access. Use the following structure in your request: `organizations/{org}/controlPlaneAccess`",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "GoogleCloudApigeeV1ControlPlaneAccess"
          },
          "httpMethod": "GET",
          "id": "apigee.organizations.getControlPlaneAccess",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "getProjectMapping": {
          "path": "v1/{+name}:getProjectMapping",
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "pattern": "^organizations/[^/]+$",
              "description": "Required. Apigee organization name in the following format: `organizations/{org}`",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "GoogleCloudApigeeV1OrganizationProjectMapping"
          },
          "id": "apigee.organizations.getProjectMapping",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1/organizations/{organizationsId}:getProjectMapping",
          "description": "Gets the project ID and region for an Apigee organization."
        },
        "getSyncAuthorization": {
          "httpMethod": "POST",
          "parameters": {
            "name": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. Name of the Apigee organization. Use the following structure in your request: `organizations/{org}`",
              "pattern": "^organizations/[^/]+$"
            }
          },
          "response": {
            "$ref": "GoogleCloudApigeeV1SyncAuthorization"
          },
          "path": "v1/{+name}:getSyncAuthorization",
          "id": "apigee.organizations.getSyncAuthorization",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1/organizations/{organizationsId}:getSyncAuthorization",
          "request": {
            "$ref": "GoogleCloudApigeeV1GetSyncAuthorizationRequest"
          },
          "description": "Lists the service accounts with the permissions required to allow the Synchronizer to download environment data from the control plane. An ETag is returned in the response to `getSyncAuthorization`. Pass that ETag when calling [setSyncAuthorization](setSyncAuthorization) to ensure that you are updating the correct version. If you don't pass the ETag in the call to `setSyncAuthorization`, then the existing authorization is overwritten indiscriminately. For more information, see [Configure the Synchronizer](https://cloud.google.com/apigee/docs/hybrid/latest/synchronizer-access). **Note**: Available to Apigee hybrid only."
        },
        "getSecuritySettings": {
          "flatPath": "v1/organizations/{organizationsId}/securitySettings",
          "description": "GetSecuritySettings gets the security settings for API Security.",
          "path": "v1/{+name}",
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. The name of the SecuritySettings to retrieve. This will always be: 'organizations/{org}/securitySettings'.",
              "pattern": "^organizations/[^/]+/securitySettings$"
            }
          },
          "response": {
            "$ref": "GoogleCloudApigeeV1SecuritySettings"
          },
          "id": "apigee.organizations.getSecuritySettings",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        }
      },
      "resources": {
        "endpointAttachments": {
          "methods": {
            "list": {
              "description": "Lists the endpoint attachments in an organization.",
              "flatPath": "v1/organizations/{organizationsId}/endpointAttachments",
              "id": "apigee.organizations.endpointAttachments.list",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "Optional. Page token, returned from a previous `ListEndpointAttachments` call, that you can use to retrieve the next page.",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "Optional. Maximum number of endpoint attachments to return. If unspecified, at most 25 attachments will be returned.",
                  "type": "integer"
                },
                "parent": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. Name of the organization for which to list endpoint attachments. Use the following structure in your request: `organizations/{org}`",
                  "pattern": "^organizations/[^/]+$"
                }
              },
              "response": {
                "$ref": "GoogleCloudApigeeV1ListEndpointAttachmentsResponse"
              },
              "httpMethod": "GET",
              "path": "v1/{+parent}/endpointAttachments"
            },
            "get": {
              "flatPath": "v1/organizations/{organizationsId}/endpointAttachments/{endpointAttachmentsId}",
              "description": "Gets the endpoint attachment.",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^organizations/[^/]+/endpointAttachments/[^/]+$",
                  "description": "Required. Name of the endpoint attachment. Use the following structure in your request: `organizations/{org}/endpointAttachments/{endpoint_attachment}`"
                }
              },
              "response": {
                "$ref": "GoogleCloudApigeeV1EndpointAttachment"
              },
              "path": "v1/{+name}",
              "id": "apigee.organizations.endpointAttachments.get",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "delete": {
              "description": "Deletes an endpoint attachment.",
              "flatPath": "v1/organizations/{organizationsId}/endpointAttachments/{endpointAttachmentsId}",
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "description": "Required. Name of the endpoint attachment. Use the following structure in your request: `organizations/{org}/endpointAttachments/{endpoint_attachment}`",
                  "pattern": "^organizations/[^/]+/endpointAttachments/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "httpMethod": "DELETE",
              "id": "apigee.organizations.endpointAttachments.delete",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "create": {
              "path": "v1/{+parent}/endpointAttachments",
              "parameters": {
                "parent": {
                  "description": "Required. Organization the endpoint attachment will be created in.",
                  "pattern": "^organizations/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "endpointAttachmentId": {
                  "description": "ID to use for the endpoint attachment. ID must start with a lowercase letter followed by up to 31 lowercase letters, numbers, or hyphens, and cannot end with a hyphen. The minimum length is 2.",
                  "type": "string",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "httpMethod": "POST",
              "id": "apigee.organizations.endpointAttachments.create",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "GoogleCloudApigeeV1EndpointAttachment"
              },
              "description": "Creates an endpoint attachment. **Note:** Not supported for Apigee hybrid.",
              "flatPath": "v1/organizations/{organizationsId}/endpointAttachments"
            }
          }
        },
        "hostStats": {
          "methods": {
            "get": {
              "description": "Retrieve metrics grouped by dimensions in host level. The types of metrics you can retrieve include traffic, message counts, API call latency, response size, and cache hits and counts. Dimensions let you view metrics in meaningful groups. You can optionally pass dimensions as path parameters to the `stats` API. If dimensions are not specified, the metrics are computed on the entire set of data for the given time range.",
              "flatPath": "v1/organizations/{organizationsId}/hostStats/{hostStatsId}",
              "id": "apigee.organizations.hostStats.get",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}",
              "parameters": {
                "timeUnit": {
                  "location": "query",
                  "description": "Granularity of metrics returned. Valid values include: `second`, `minute`, `hour`, `day`, `week`, or `month`.",
                  "type": "string"
                },
                "realtime": {
                  "description": "No longer used by Apigee. Supported for backwards compatibility.",
                  "type": "boolean",
                  "location": "query"
                },
                "envgroupHostname": {
                  "description": "Required. Hostname for which the interactive query will be executed.",
                  "type": "string",
                  "location": "query"
                },
                "filter": {
                  "description": "Flag that enables drill-down on specific dimension values.",
                  "type": "string",
                  "location": "query"
                },
                "tzo": {
                  "description": "Timezone offset value.",
                  "type": "string",
                  "location": "query"
                },
                "sortby": {
                  "description": "Comma-separated list of metrics to sort the final result.",
                  "type": "string",
                  "location": "query"
                },
                "offset": {
                  "description": "Offset value. Use `offset` with `limit` to enable pagination of results. For example, to display results 11-20, set limit to `10` and offset to `10`.",
                  "type": "string",
                  "location": "query"
                },
                "sort": {
                  "description": "Flag that specifies if the sort order should be ascending or descending. Valid values are `DESC` and `ASC`.",
                  "type": "string",
                  "location": "query"
                },
                "accuracy": {
                  "location": "query",
                  "description": "No longer used by Apigee. Supported for backwards compatibility.",
                  "type": "string"
                },
                "tsAscending": {
                  "location": "query",
                  "description": "Flag that specifies whether to list timestamps in ascending (`true`) or descending (`false`) order. Apigee recommends that you set this value to `true` if you are using `sortby` with `sort=DESC`.",
                  "type": "boolean"
                },
                "name": {
                  "description": "Required. Resource name for which the interactive query will be executed. Use the following format in your request: `organizations/{org}/hostStats/{dimensions}` Dimensions let you view metrics in meaningful groupings, such as `apiproxy`, `target_host`. The value of dimensions should be a comma-separated list as shown below `organizations/{org}/hostStats/apiproxy,request_verb`",
                  "pattern": "^organizations/[^/]+/hostStats/.*$",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "select": {
                  "description": "Comma-separated list of metrics. For example: `sum(message_count),sum(error_count)`",
                  "type": "string",
                  "location": "query"
                },
                "limit": {
                  "description": "Maximum number of result items to return.",
                  "type": "string",
                  "location": "query"
                },
                "timeRange": {
                  "location": "query",
                  "description": "Time interval for the interactive query. Time range is specified in GMT as `start~end`. For example: `04/15/2017 00:00~05/15/2017 23:59`",
                  "type": "string"
                },
                "topk": {
                  "location": "query",
                  "description": "Top number of results to return. For example, to return the top 5 results, set `topk=5`.",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleCloudApigeeV1Stats"
              },
              "httpMethod": "GET"
            }
          }
        },
        "sharedflows": {
          "methods": {
            "create": {
              "flatPath": "v1/organizations/{organizationsId}/sharedflows",
              "request": {
                "$ref": "GoogleApiHttpBody"
              },
              "description": "Uploads a ZIP-formatted shared flow configuration bundle to an organization. If the shared flow already exists, this creates a new revision of it. If the shared flow does not exist, this creates it. Once imported, the shared flow revision must be deployed before it can be accessed at runtime. The size limit of a shared flow bundle is 15 MB.",
              "path": "v1/{+parent}/sharedflows",
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the parent organization under which to create the shared flow. Must be of the form: `organizations/{organization_id}` If the resource has the `space` attribute set, IAM permissions are checked against the Space resource path. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                  "pattern": "^organizations/[^/]+$"
                },
                "action": {
                  "description": "Required. Must be set to either `import` or `validate`.",
                  "type": "string",
                  "location": "query"
                },
                "name": {
                  "description": "Required. The name to give the shared flow",
                  "type": "string",
                  "location": "query"
                },
                "space": {
                  "description": "Optional. The ID of the space to associated with this shared flow. Any IAM policies applied to the space will affect access to this shared flow. Note that this field is only respected when creating a new shared flow. It has no effect when creating a new revision for an existing shared flow.",
                  "type": "string",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "GoogleCloudApigeeV1SharedFlowRevision"
              },
              "id": "apigee.organizations.sharedflows.create",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "get": {
              "id": "apigee.organizations.sharedflows.get",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the shared flow to get. Must be of the form: `organizations/{organization_id}/sharedflows/{shared_flow_id}` If the resource has the `space` attribute set, IAM permissions are checked against the Space resource path. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                  "pattern": "^organizations/[^/]+/sharedflows/[^/]+$"
                }
              },
              "response": {
                "$ref": "GoogleCloudApigeeV1SharedFlow"
              },
              "httpMethod": "GET",
              "path": "v1/{+name}",
              "description": "Gets a shared flow by name, including a list of its revisions.",
              "flatPath": "v1/organizations/{organizationsId}/sharedflows/{sharedflowsId}"
            },
            "delete": {
              "id": "apigee.organizations.sharedflows.delete",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "description": "Required. shared flow name of the form: `organizations/{organization_id}/sharedflows/{shared_flow_id}` If the resource has the `space` attribute set, IAM permissions are checked against the Space resource path. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                  "pattern": "^organizations/[^/]+/sharedflows/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "GoogleCloudApigeeV1SharedFlow"
              },
              "httpMethod": "DELETE",
              "path": "v1/{+name}",
              "description": "Deletes a shared flow and all it's revisions. The shared flow must be undeployed before you can delete it.",
              "flatPath": "v1/organizations/{organizationsId}/sharedflows/{sharedflowsId}"
            },
            "move": {
              "flatPath": "v1/organizations/{organizationsId}/sharedflows/{sharedflowsId}:move",
              "request": {
                "$ref": "GoogleCloudApigeeV1MoveSharedFlowRequest"
              },
              "description": "Moves an shared flow to a different space.",
              "id": "apigee.organizations.sharedflows.move",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}:move",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "description": "Required. Shared Flow to move in the following format: `organizations/{org}/sharedflows/{shared_flow}`",
                  "pattern": "^organizations/[^/]+/sharedflows/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "GoogleCloudApigeeV1SharedFlow"
              }
            },
            "list": {
              "description": "Lists all shared flows in the organization. If the resource has the `space` attribute set, the response may not return all resources. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
              "flatPath": "v1/organizations/{organizationsId}/sharedflows",
              "id": "apigee.organizations.sharedflows.list",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "includeMetaData": {
                  "location": "query",
                  "description": "Indicates whether to include shared flow metadata in the response.",
                  "type": "boolean"
                },
                "includeRevisions": {
                  "description": "Indicates whether to include a list of revisions in the response.",
                  "type": "boolean",
                  "location": "query"
                },
                "space": {
                  "location": "query",
                  "description": "Optional. The space ID used to filter the list of shared flows (optional). If unspecified, all shared flows in the organization will be listed. To learn how Spaces can be used to manage resources, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                  "type": "string"
                },
                "parent": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the parent organization under which to get shared flows. Must be of the form: `organizations/{organization_id}` If the resource has the `space` attribute set, IAM permissions are checked against the Space resource path. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                  "pattern": "^organizations/[^/]+$"
                }
              },
              "response": {
                "$ref": "GoogleCloudApigeeV1ListSharedFlowsResponse"
              },
              "httpMethod": "GET",
              "path": "v1/{+parent}/sharedflows"
            }
          },
          "resources": {
            "deployments": {
              "methods": {
                "list": {
                  "id": "apigee.organizations.sharedflows.deployments.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/deployments",
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "description": "Required. Name of the shared flow for which to return deployment information in the following format: `organizations/{org}/sharedflows/{sharedflow}` If the shared flow resource has the `space` attribute set, IAM permissions are checked differently . To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                      "pattern": "^organizations/[^/]+/sharedflows/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ListDeploymentsResponse"
                  },
                  "flatPath": "v1/organizations/{organizationsId}/sharedflows/{sharedflowsId}/deployments",
                  "description": "Lists all deployments of a shared flow."
                }
              }
            },
            "revisions": {
              "methods": {
                "get": {
                  "description": "Gets a revision of a shared flow. To download the shared flow configuration bundle for the specified revision as a zip file, set the `format` query parameter to `bundle`. If you are using curl, specify `-o filename.zip` to save the output to a file; otherwise, it displays to `stdout`. Then, develop the shared flow configuration locally and upload the updated sharedFlow configuration revision, as described in [updateSharedFlowRevision](updateSharedFlowRevision).",
                  "flatPath": "v1/organizations/{organizationsId}/sharedflows/{sharedflowsId}/revisions/{revisionsId}",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the shared flow revision to get. Must be of the form: `organizations/{organization_id}/sharedflows/{shared_flow_id}/revisions/{revision_id}` If the Shared Flow resource has the `space` attribute set, IAM permissions are checked against the Space resource path. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                      "pattern": "^organizations/[^/]+/sharedflows/[^/]+/revisions/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "format": {
                      "description": "Specify `bundle` to export the contents of the shared flow bundle. Otherwise, the bundle metadata is returned.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "GoogleApiHttpBody"
                  },
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "id": "apigee.organizations.sharedflows.revisions.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "flatPath": "v1/organizations/{organizationsId}/sharedflows/{sharedflowsId}/revisions/{revisionsId}",
                  "description": "Deletes a shared flow and all associated policies, resources, and revisions. You must undeploy the shared flow before deleting it.",
                  "path": "v1/{+name}",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The name of the shared flow revision to delete. Must be of the form: `organizations/{organization_id}/sharedflows/{shared_flow_id}/revisions/{revision_id}` If the Shared Flow resource has the `space` attribute set, IAM permissions are checked against the Space resource path. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                      "pattern": "^organizations/[^/]+/sharedflows/[^/]+/revisions/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudApigeeV1SharedFlowRevision"
                  },
                  "id": "apigee.organizations.sharedflows.revisions.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "updateSharedFlowRevision": {
                  "id": "apigee.organizations.sharedflows.revisions.updateSharedFlowRevision",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "parameters": {
                    "validate": {
                      "description": "Ignored. All uploads are validated regardless of the value of this field. It is kept for compatibility with existing APIs. Must be `true` or `false` if provided.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "name": {
                      "pattern": "^organizations/[^/]+/sharedflows/[^/]+/revisions/[^/]+$",
                      "description": "Required. The name of the shared flow revision to update. Must be of the form: `organizations/{organization_id}/sharedflows/{shared_flow_id}/revisions/{revision_id}` If the resource has the `space` attribute set, IAM permissions are checked against the Space resource path. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudApigeeV1SharedFlowRevision"
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleApiHttpBody"
                  },
                  "description": "Updates a shared flow revision. This operation is only allowed on revisions which have never been deployed. After deployment a revision becomes immutable, even if it becomes undeployed. The payload is a ZIP-formatted shared flow. Content type must be either multipart/form-data or application/octet-stream.",
                  "flatPath": "v1/organizations/{organizationsId}/sharedflows/{sharedflowsId}/revisions/{revisionsId}"
                }
              },
              "resources": {
                "deployments": {
                  "methods": {
                    "list": {
                      "flatPath": "v1/organizations/{organizationsId}/sharedflows/{sharedflowsId}/revisions/{revisionsId}/deployments",
                      "description": "Lists all deployments of a shared flow revision.",
                      "httpMethod": "GET",
                      "parameters": {
                        "parent": {
                          "description": "Required. Name of the API proxy revision for which to return deployment information in the following format: `organizations/{org}/sharedflows/{sharedflow}/revisions/{rev}`. If the shared flow resource has the `space` attribute set, IAM permissions are checked differently . To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                          "pattern": "^organizations/[^/]+/sharedflows/[^/]+/revisions/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudApigeeV1ListDeploymentsResponse"
                      },
                      "path": "v1/{+parent}/deployments",
                      "id": "apigee.organizations.sharedflows.revisions.deployments.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "securityMonitoringConditions": {
          "methods": {
            "list": {
              "description": "List security monitoring conditions.",
              "flatPath": "v1/organizations/{organizationsId}/securityMonitoringConditions",
              "parameters": {
                "filter": {
                  "location": "query",
                  "description": "Optional. Filter for the monitoring conditions. When RiskAssessmentType is APIGEE, monitoring conditions can be filtered by profile and scope. For example: `profile=profile1 AND scope=env1` When RiskAssessmentType is API_HUB, monitoring conditions can be filtered by profile and api_hub_gateway. For example: `profile=profile1 AND api_hub_gateway=gateway1`",
                  "type": "string"
                },
                "riskAssessmentType": {
                  "description": "Optional. The risk assessment type of the security monitoring condition. Defaults to ADVANCED_API_SECURITY.",
                  "enum": [
                    "RISK_ASSESSMENT_TYPE_UNSPECIFIED",
                    "APIGEE",
                    "API_HUB"
                  ],
                  "location": "query",
                  "type": "string",
                  "enumDescriptions": [
                    "Risk assessment type is not specified.",
                    "Risk assessment type is Apigee.",
                    "Risk assessment type is API Hub."
                  ]
                },
                "pageToken": {
                  "location": "query",
                  "description": "Optional. A page token, received from a previous `ListSecurityMonitoringConditions` call. Provide this to retrieve the subsequent page.",
                  "type": "string"
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^organizations/[^/]+$",
                  "description": "Required. For a specific organization, list all the security monitoring conditions. Format: `organizations/{org}`"
                },
                "pageSize": {
                  "description": "Optional. The maximum number of monitoring conditions to return.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                }
              },
              "response": {
                "$ref": "GoogleCloudApigeeV1ListSecurityMonitoringConditionsResponse"
              },
              "httpMethod": "GET",
              "path": "v1/{+parent}/securityMonitoringConditions",
              "id": "apigee.organizations.securityMonitoringConditions.list",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "patch": {
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Identifier. Name of the security monitoring condition resource. Format: organizations/{org}/securityMonitoringConditions/{security_monitoring_condition}",
                  "pattern": "^organizations/[^/]+/securityMonitoringConditions/[^/]+$"
                },
                "updateMask": {
                  "description": "Optional. The list of fields to update. Valid fields to update are `include_all_resources` and `include`.",
                  "type": "string",
                  "location": "query",
                  "format": "google-fieldmask"
                }
              },
              "response": {
                "$ref": "GoogleCloudApigeeV1SecurityMonitoringCondition"
              },
              "httpMethod": "PATCH",
              "id": "apigee.organizations.securityMonitoringConditions.patch",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "GoogleCloudApigeeV1SecurityMonitoringCondition"
              },
              "description": "Update a security monitoring condition.",
              "flatPath": "v1/organizations/{organizationsId}/securityMonitoringConditions/{securityMonitoringConditionsId}"
            },
            "get": {
              "id": "apigee.organizations.securityMonitoringConditions.get",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the security monitoring condition to get. Format: `organizations/{org}/securityMonitoringConditions/{security_monitoring_condition}`",
                  "pattern": "^organizations/[^/]+/securityMonitoringConditions/[^/]+$"
                },
                "riskAssessmentType": {
                  "enum": [
                    "RISK_ASSESSMENT_TYPE_UNSPECIFIED",
                    "APIGEE",
                    "API_HUB"
                  ],
                  "description": "Optional. The risk assessment type of the security monitoring condition. Defaults to ADVANCED_API_SECURITY.",
                  "type": "string",
                  "enumDescriptions": [
                    "Risk assessment type is not specified.",
                    "Risk assessment type is Apigee.",
                    "Risk assessment type is API Hub."
                  ],
                  "location": "query"
                }
              },
              "response": {
                "$ref": "GoogleCloudApigeeV1SecurityMonitoringCondition"
              },
              "path": "v1/{+name}",
              "flatPath": "v1/organizations/{organizationsId}/securityMonitoringConditions/{securityMonitoringConditionsId}",
              "description": "Get a security monitoring condition."
            },
            "delete": {
              "id": "apigee.organizations.securityMonitoringConditions.delete",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "riskAssessmentType": {
                  "enum": [
                    "RISK_ASSESSMENT_TYPE_UNSPECIFIED",
                    "APIGEE",
                    "API_HUB"
                  ],
                  "description": "Optional. The risk assessment type of the security monitoring condition. Defaults to ADVANCED_API_SECURITY.",
                  "location": "query",
                  "type": "string",
                  "enumDescriptions": [
                    "Risk assessment type is not specified.",
                    "Risk assessment type is Apigee.",
                    "Risk assessment type is API Hub."
                  ]
                },
                "name": {
                  "pattern": "^organizations/[^/]+/securityMonitoringConditions/[^/]+$",
                  "description": "Required. The name of the security monitoring condition to delete. Format: `organizations/{org}/securityMonitoringConditions/{security_monitoring_condition}`",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "httpMethod": "DELETE",
              "path": "v1/{+name}",
              "description": "Delete a security monitoring condition.",
              "flatPath": "v1/organizations/{organizationsId}/securityMonitoringConditions/{securityMonitoringConditionsId}"
            },
            "create": {
              "path": "v1/{+parent}/securityMonitoringConditions",
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "pattern": "^organizations/[^/]+$",
                  "description": "Required. The parent resource name. Format: `organizations/{org}`",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "securityMonitoringConditionId": {
                  "location": "query",
                  "description": "Optional. Optional: The security monitoring condition id. If not specified, a monitoring condition uuid will be generated by the backend. This value should be 4-63 characters, and valid characters are /a-z-/.",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleCloudApigeeV1SecurityMonitoringCondition"
              },
              "id": "apigee.organizations.securityMonitoringConditions.create",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/organizations/{organizationsId}/securityMonitoringConditions",
              "request": {
                "$ref": "GoogleCloudApigeeV1SecurityMonitoringCondition"
              },
              "description": "Create a security monitoring condition."
            }
          }
        },
        "apis": {
          "methods": {
            "patch": {
              "flatPath": "v1/organizations/{organizationsId}/apis/{apisId}",
              "request": {
                "$ref": "GoogleCloudApigeeV1ApiProxy"
              },
              "description": "Updates an existing API proxy.",
              "id": "apigee.organizations.apis.patch",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "PATCH",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^organizations/[^/]+/apis/[^/]+$",
                  "description": "Required. API proxy to update in the following format: `organizations/{org}/apis/{api}` If the resource has the `space` attribute set, IAM permissions are checked against the Space resource path. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview)."
                },
                "updateMask": {
                  "description": "Required. The list of fields to update.",
                  "type": "string",
                  "location": "query",
                  "format": "google-fieldmask"
                }
              },
              "response": {
                "$ref": "GoogleCloudApigeeV1ApiProxy"
              },
              "path": "v1/{+name}"
            },
            "move": {
              "request": {
                "$ref": "GoogleCloudApigeeV1MoveApiProxyRequest"
              },
              "description": "Moves an API proxy to a different space.",
              "flatPath": "v1/organizations/{organizationsId}/apis/{apisId}:move",
              "path": "v1/{+name}:move",
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/apis/[^/]+$",
                  "description": "Required. API proxy to move in the following format: `organizations/{org}/apis/{api}`",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleCloudApigeeV1ApiProxy"
              },
              "httpMethod": "POST",
              "id": "apigee.organizations.apis.move",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "description": "Lists the names of all API proxies in an organization. The names returned correspond to the names defined in the configuration files for each API proxy. If the resource has the `space` attribute set, the response may not return all resources. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
              "flatPath": "v1/organizations/{organizationsId}/apis",
              "parameters": {
                "includeMetaData": {
                  "description": "Flag that specifies whether to include API proxy metadata in the response.",
                  "type": "boolean",
                  "location": "query"
                },
                "includeRevisions": {
                  "description": "Flag that specifies whether to include a list of revisions in the response.",
                  "type": "boolean",
                  "location": "query"
                },
                "space": {
                  "location": "query",
                  "description": "Optional. The space ID to filter the list of proxies (optional). If unspecified, all proxies in the organization will be listed.",
                  "type": "string"
                },
                "parent": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. Name of the organization in the following format: `organizations/{org}` If the resource has the `space` attribute set, IAM permissions are checked against the Space resource path. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                  "pattern": "^organizations/[^/]+$"
                }
              },
              "response": {
                "$ref": "GoogleCloudApigeeV1ListApiProxiesResponse"
              },
              "httpMethod": "GET",
              "path": "v1/{+parent}/apis",
              "id": "apigee.organizations.apis.list",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "create": {
              "id": "apigee.organizations.apis.create",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "pattern": "^organizations/[^/]+$",
                  "description": "Required. Name of the organization in the following format: `organizations/{org}` If the API Proxy resource has the `space` attribute set, IAM permissions are checked against the Space resource path. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "action": {
                  "location": "query",
                  "description": "Action to perform when importing an API proxy configuration bundle. Set this parameter to one of the following values: * `import` to import the API proxy configuration bundle. * `validate` to validate the API proxy configuration bundle without importing it.",
                  "type": "string"
                },
                "validate": {
                  "location": "query",
                  "description": "Ignored. All uploads are validated regardless of the value of this field. Maintained for compatibility with Apigee Edge API.",
                  "type": "boolean"
                },
                "space": {
                  "location": "query",
                  "description": "Optional. The ID of the space associated with this proxy. Any IAM policies applied to the space will affect access to this proxy. Note that this field is only respected when creating a new proxy. It has no effect when creating a new revision for an existing proxy.",
                  "type": "string"
                },
                "name": {
                  "description": "Name of the API proxy. Restrict the characters used to: A-Za-z0-9._-",
                  "type": "string",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "GoogleCloudApigeeV1ApiProxyRevision"
              },
              "path": "v1/{+parent}/apis",
              "flatPath": "v1/organizations/{organizationsId}/apis",
              "request": {
                "$ref": "GoogleApiHttpBody"
              },
              "description": "Creates an API proxy. The API proxy created will not be accessible at runtime until it is deployed to an environment. Create a new API proxy by setting the `name` query parameter to the name of the API proxy. Import an API proxy configuration bundle stored in zip format on your local machine to your organization by doing the following: * Set the `name` query parameter to the name of the API proxy. * Set the `action` query parameter to `import`. * Set the `Content-Type` header to `multipart/form-data`. * Pass as a file the name of API proxy configuration bundle stored in zip format on your local machine using the `file` form field. **Note**: To validate the API proxy configuration bundle only without importing it, set the `action` query parameter to `validate`. When importing an API proxy configuration bundle, if the API proxy does not exist, it will be created. If the API proxy exists, then a new revision is created. Invalid API proxy configurations are rejected, and a list of validation errors is returned to the client."
            },
            "get": {
              "flatPath": "v1/organizations/{organizationsId}/apis/{apisId}",
              "description": "Gets an API proxy including a list of existing revisions.",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "Required. Name of the API proxy in the following format: `organizations/{org}/apis/{api}` If the API Proxy resource has the `space` attribute set, IAM permissions are checked against the Space resource path. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                  "pattern": "^organizations/[^/]+/apis/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "GoogleCloudApigeeV1ApiProxy"
              },
              "path": "v1/{+name}",
              "id": "apigee.organizations.apis.get",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "delete": {
              "id": "apigee.organizations.apis.delete",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/apis/[^/]+$",
                  "description": "Required. Name of the API proxy in the following format: `organizations/{org}/apis/{api}` If the API Proxy resource has the `space` attribute set, IAM permissions are checked against the Space resource path. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleCloudApigeeV1ApiProxy"
              },
              "httpMethod": "DELETE",
              "description": "Deletes an API proxy and all associated endpoints, policies, resources, and revisions. The API proxy must be undeployed before you can delete it.",
              "flatPath": "v1/organizations/{organizationsId}/apis/{apisId}"
            }
          },
          "resources": {
            "keyvaluemaps": {
              "methods": {
                "update": {
                  "httpMethod": "PUT",
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/apis/[^/]+/keyvaluemaps/[^/]+$",
                      "description": "Required. Scope as indicated by the URI in which to fetch the key value map. Use **one** of the following structures in your request: * `organizations/{organization}/apis/{api}/keyvaluemaps/{keyvaluemap}`. * `organizations/{organization}/environments/{environment}/keyvaluemaps/{keyvaluemap}` * `organizations/{organization}/keyvaluemaps/{keyvaluemap}`. If the KeyValueMap is under an API Proxy resource that has the `space` attribute set, IAM permissions are checked against the Space resource path. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudApigeeV1KeyValueMap"
                  },
                  "path": "v1/{+name}",
                  "id": "apigee.organizations.apis.keyvaluemaps.update",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/apis/{apisId}/keyvaluemaps/{keyvaluemapsId}",
                  "request": {
                    "$ref": "GoogleCloudApigeeV1KeyValueMap"
                  },
                  "description": "Update the key value map scoped to an organization, environment, or API proxy."
                },
                "create": {
                  "flatPath": "v1/organizations/{organizationsId}/apis/{apisId}/keyvaluemaps",
                  "request": {
                    "$ref": "GoogleCloudApigeeV1KeyValueMap"
                  },
                  "description": "Creates a key value map in an API proxy.",
                  "path": "v1/{+parent}/keyvaluemaps",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. Name of the environment in which to create the key value map. Use the following structure in your request: `organizations/{org}/apis/{api}` If the API Proxy resource has the `space` attribute set, IAM permissions are checked against the Space resource path. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                      "pattern": "^organizations/[^/]+/apis/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudApigeeV1KeyValueMap"
                  },
                  "id": "apigee.organizations.apis.keyvaluemaps.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "id": "apigee.organizations.apis.keyvaluemaps.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/apis/[^/]+/keyvaluemaps/[^/]+$",
                      "description": "Required. Scope as indicated by the URI in which to fetch the key value map. Use **one** of the following structures in your request: * `organizations/{organization}/apis/{api}/keyvaluemaps/{keyvaluemap}`. * `organizations/{organization}/environments/{environment}/keyvaluemaps/{keyvaluemap}` * `organizations/{organization}/keyvaluemaps/{keyvaluemap}`. If the KeyValueMap is under an API Proxy resource that has the `space` attribute set, IAM permissions are checked against the Space resource path. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudApigeeV1KeyValueMap"
                  },
                  "path": "v1/{+name}",
                  "flatPath": "v1/organizations/{organizationsId}/apis/{apisId}/keyvaluemaps/{keyvaluemapsId}",
                  "description": "Get the key value map scoped to an organization, environment, or API proxy."
                },
                "delete": {
                  "description": "Deletes a key value map from an API proxy.",
                  "flatPath": "v1/organizations/{organizationsId}/apis/{apisId}/keyvaluemaps/{keyvaluemapsId}",
                  "id": "apigee.organizations.apis.keyvaluemaps.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^organizations/[^/]+/apis/[^/]+/keyvaluemaps/[^/]+$",
                      "description": "Required. Name of the key value map. Use the following structure in your request: `organizations/{org}/apis/{api}/keyvaluemaps/{keyvaluemap}` If the API Proxy resource has the `space` attribute set, IAM permissions are checked against the Space resource path. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview)."
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudApigeeV1KeyValueMap"
                  },
                  "httpMethod": "DELETE"
                }
              },
              "resources": {
                "entries": {
                  "methods": {
                    "create": {
                      "flatPath": "v1/organizations/{organizationsId}/apis/{apisId}/keyvaluemaps/{keyvaluemapsId}/entries",
                      "request": {
                        "$ref": "GoogleCloudApigeeV1KeyValueEntry"
                      },
                      "description": "Creates key value entries in a key value map scoped to an organization, environment, or API proxy. **Note**: Supported for Apigee hybrid 1.8.x and higher.",
                      "id": "apigee.organizations.apis.keyvaluemaps.entries.create",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+parent}/entries",
                      "httpMethod": "POST",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^organizations/[^/]+/apis/[^/]+/keyvaluemaps/[^/]+$",
                          "description": "Required. Scope as indicated by the URI in which to create the key value map entry. Use **one** of the following structures in your request: * `organizations/{organization}/apis/{api}/keyvaluemaps/{keyvaluemap}`. * `organizations/{organization}/environments/{environment}/keyvaluemaps/{keyvaluemap}` * `organizations/{organization}/keyvaluemaps/{keyvaluemap}`. If the KeyValueMap is under an API Proxy resource that has the `space` attribute set, IAM permissions are checked against the Space resource path. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview)."
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudApigeeV1KeyValueEntry"
                      }
                    },
                    "get": {
                      "description": "Get the key value entry value for a key value map scoped to an organization, environment, or API proxy. **Note**: Supported for Apigee hybrid 1.8.x and higher.",
                      "flatPath": "v1/organizations/{organizationsId}/apis/{apisId}/keyvaluemaps/{keyvaluemapsId}/entries/{entriesId}",
                      "id": "apigee.organizations.apis.keyvaluemaps.entries.get",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Required. Scope as indicated by the URI in which to fetch the key value map entry/value. Use **one** of the following structures in your request: * `organizations/{organization}/apis/{api}/keyvaluemaps/{keyvaluemap}/entries/{entry}`. * `organizations/{organization}/environments/{environment}/keyvaluemaps/{keyvaluemap}/entries/{entry}` * `organizations/{organization}/keyvaluemaps/{keyvaluemap}/entries/{entry}`. If the KeyValueMap is under an API Proxy resource that has the `space` attribute set, IAM permissions are checked against the Space resource path. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                          "pattern": "^organizations/[^/]+/apis/[^/]+/keyvaluemaps/[^/]+/entries/[^/]+$"
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudApigeeV1KeyValueEntry"
                      },
                      "httpMethod": "GET",
                      "path": "v1/{+name}"
                    },
                    "delete": {
                      "description": "Deletes a key value entry from a key value map scoped to an organization, environment, or API proxy. **Notes:** * After you delete the key value entry, the policy consuming the entry will continue to function with its cached values for a few minutes. This is expected behavior. * Supported for Apigee hybrid 1.8.x and higher.",
                      "flatPath": "v1/organizations/{organizationsId}/apis/{apisId}/keyvaluemaps/{keyvaluemapsId}/entries/{entriesId}",
                      "path": "v1/{+name}",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^organizations/[^/]+/apis/[^/]+/keyvaluemaps/[^/]+/entries/[^/]+$",
                          "description": "Required. Scope as indicated by the URI in which to delete the key value map entry. Use **one** of the following structures in your request: * `organizations/{organization}/apis/{api}/keyvaluemaps/{keyvaluemap}/entries/{entry}`. * `organizations/{organization}/environments/{environment}/keyvaluemaps/{keyvaluemap}/entries/{entry}` * `organizations/{organization}/keyvaluemaps/{keyvaluemap}/entries/{entry}`. If the KeyValueMap is under an API Proxy resource that has the `space` attribute set, IAM permissions are checked against the Space resource path. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview)."
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudApigeeV1KeyValueEntry"
                      },
                      "httpMethod": "DELETE",
                      "id": "apigee.organizations.apis.keyvaluemaps.entries.delete",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "update": {
                      "path": "v1/{+name}",
                      "httpMethod": "PUT",
                      "parameters": {
                        "name": {
                          "pattern": "^organizations/[^/]+/apis/[^/]+/keyvaluemaps/[^/]+/entries/[^/]+$",
                          "description": "Required. Scope as indicated by the URI in which to create the key value map entry. Use **one** of the following structures in your request: * `organizations/{organization}/apis/{api}/keyvaluemaps/{keyvaluemap}`. * `organizations/{organization}/environments/{environment}/keyvaluemaps/{keyvaluemap}` * `organizations/{organization}/keyvaluemaps/{keyvaluemap}`. If the KeyValueMap is under an API Proxy resource that has the `space` attribute set, IAM permissions are checked against the Space resource path. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudApigeeV1KeyValueEntry"
                      },
                      "id": "apigee.organizations.apis.keyvaluemaps.entries.update",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/organizations/{organizationsId}/apis/{apisId}/keyvaluemaps/{keyvaluemapsId}/entries/{entriesId}",
                      "request": {
                        "$ref": "GoogleCloudApigeeV1KeyValueEntry"
                      },
                      "description": "Update key value entry scoped to an organization, environment, or API proxy for an existing key."
                    },
                    "list": {
                      "description": "Lists key value entries for key values maps scoped to an organization, environment, or API proxy. **Note**: Supported for Apigee hybrid 1.8.x and higher.",
                      "flatPath": "v1/organizations/{organizationsId}/apis/{apisId}/keyvaluemaps/{keyvaluemapsId}/entries",
                      "id": "apigee.organizations.apis.keyvaluemaps.entries.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+parent}/entries",
                      "parameters": {
                        "pageSize": {
                          "location": "query",
                          "format": "int32",
                          "description": "Optional. Maximum number of key value entries to return. If unspecified, at most 100 entries will be returned.",
                          "type": "integer"
                        },
                        "parent": {
                          "pattern": "^organizations/[^/]+/apis/[^/]+/keyvaluemaps/[^/]+$",
                          "description": "Required. Scope as indicated by the URI in which to list key value maps. Use **one** of the following structures in your request: * `organizations/{organization}/apis/{api}/keyvaluemaps/{keyvaluemap}`. * `organizations/{organization}/environments/{environment}/keyvaluemaps/{keyvaluemap}` * `organizations/{organization}/keyvaluemaps/{keyvaluemap}`. If the KeyValueMap is under an API Proxy resource that has the `space` attribute set, IAM permissions are checked against the Space resource path. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "Optional. Page token. If provides, must be a valid key value entry returned from a previous call that can be used to retrieve the next page.",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudApigeeV1ListKeyValueEntriesResponse"
                      },
                      "httpMethod": "GET"
                    }
                  }
                }
              }
            },
            "debugsessions": {
              "methods": {
                "list": {
                  "description": "Lists debug sessions that are currently active in the given API Proxy.",
                  "flatPath": "v1/organizations/{organizationsId}/apis/{apisId}/debugsessions",
                  "id": "apigee.organizations.apis.debugsessions.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. The name of the API Proxy for which to list debug sessions. Must be of the form: `organizations/{organization}/apis/{api}`.",
                      "pattern": "^organizations/[^/]+/apis/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "pageSize": {
                      "description": "Optional. Maximum number of debug sessions to return. The page size defaults to 25.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "Optional. Page token, returned from a previous ListApiDebugSessions call, that you can use to retrieve the next page.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ListApiDebugSessionsResponse"
                  },
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/debugsessions"
                }
              }
            },
            "revisions": {
              "methods": {
                "updateApiProxyRevision": {
                  "request": {
                    "$ref": "GoogleApiHttpBody"
                  },
                  "description": "Updates an existing API proxy revision by uploading the API proxy configuration bundle as a zip file from your local machine. You can update only API proxy revisions that have never been deployed. After deployment, an API proxy revision becomes immutable, even if it is undeployed. Set the `Content-Type` header to either `multipart/form-data` or `application/octet-stream`.",
                  "flatPath": "v1/organizations/{organizationsId}/apis/{apisId}/revisions/{revisionsId}",
                  "id": "apigee.organizations.apis.revisions.updateApiProxyRevision",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "parameters": {
                    "validate": {
                      "description": "Ignored. All uploads are validated regardless of the value of this field. Maintained for compatibility with Apigee Edge API.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "name": {
                      "description": "Required. API proxy revision to update in the following format: `organizations/{org}/apis/{api}/revisions/{rev}` If the API Proxy resource has the `space` attribute set, IAM permissions are checked against the Space resource path. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                      "pattern": "^organizations/[^/]+/apis/[^/]+/revisions/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ApiProxyRevision"
                  },
                  "httpMethod": "POST"
                },
                "get": {
                  "flatPath": "v1/organizations/{organizationsId}/apis/{apisId}/revisions/{revisionsId}",
                  "description": "Gets an API proxy revision. To download the API proxy configuration bundle for the specified revision as a zip file, set the `format` query parameter to `bundle`. If you are using curl, specify `-o filename.zip` to save the output to a file; otherwise, it displays to `stdout`. Then, develop the API proxy configuration locally and upload the updated API proxy configuration revision, as described in [updateApiProxyRevision](updateApiProxyRevision).",
                  "id": "apigee.organizations.apis.revisions.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "Required. API proxy revision in the following format: `organizations/{org}/apis/{api}/revisions/{rev}` If the API Proxy resource has the `space` attribute set, IAM permissions are checked against the Space resource path. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                      "pattern": "^organizations/[^/]+/apis/[^/]+/revisions/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "format": {
                      "location": "query",
                      "description": "Format used when downloading the API proxy configuration revision. Set to `bundle` to download the API proxy configuration revision as a zip file.",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleApiHttpBody"
                  }
                },
                "delete": {
                  "id": "apigee.organizations.apis.revisions.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "description": "Required. API proxy revision in the following format: `organizations/{org}/apis/{api}/revisions/{rev}` If the API Proxy resource has the `space` attribute set, IAM permissions are checked against the Space resource path. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                      "pattern": "^organizations/[^/]+/apis/[^/]+/revisions/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ApiProxyRevision"
                  },
                  "httpMethod": "DELETE",
                  "description": "Deletes an API proxy revision and all policies, resources, endpoints, and revisions associated with it. The API proxy revision must be undeployed before you can delete it.",
                  "flatPath": "v1/organizations/{organizationsId}/apis/{apisId}/revisions/{revisionsId}"
                }
              },
              "resources": {
                "deployments": {
                  "methods": {
                    "list": {
                      "description": "Lists all deployments of an API proxy revision.",
[...]
