{
  "parameters": {
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    }
  },
  "endpoints": [
    {
      "location": "us",
      "description": "Regional Endpoint",
      "endpointUrl": "https://apigee.us.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://apigee.eu.rep.googleapis.com/",
      "location": "eu",
      "description": "Regional Endpoint"
    },
    {
      "location": "in",
      "description": "Regional Endpoint",
      "endpointUrl": "https://apigee.in.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://apigee.sa.rep.googleapis.com/",
      "location": "sa",
      "description": "Regional Endpoint"
    }
  ],
  "revision": "20260626",
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "documentationLink": "https://cloud.google.com/apigee-api-management/",
  "servicePath": "",
  "title": "Apigee API",
  "baseUrl": "https://apigee.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "basePath": "",
  "ownerName": "Google",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "rootUrl": "https://apigee.googleapis.com/",
  "batchPath": "batch",
  "description": "Use the Apigee API to programmatically develop and manage APIs with a set of RESTful operations. Develop and secure API proxies, deploy and undeploy API proxy revisions, monitor APIs, configure environments, manage users, and more. Note: This product is available as a free trial for a time period of 60 days.",
  "protocol": "rest",
  "version": "v1",
  "schemas": {
    "GoogleCloudApigeeV1SecurityActionFlag": {
      "properties": {
        "headers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1SecurityActionHttpHeader"
          },
          "description": "Optional. A list of HTTP headers to be sent to the target in case of a FLAG SecurityAction. Limit 5 headers per SecurityAction. At least one is mandatory."
        }
      },
      "description": "The message that should be set in the case of a Flag action.",
      "id": "GoogleCloudApigeeV1SecurityActionFlag",
      "type": "object"
    },
    "GoogleCloudApigeeV1CommonNameConfig": {
      "id": "GoogleCloudApigeeV1CommonNameConfig",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "matchWildCards": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudApigeeV1ProfileConfigAbuse": {
      "properties": {},
      "id": "GoogleCloudApigeeV1ProfileConfigAbuse",
      "type": "object",
      "description": "Checks for abuse, which includes any requests sent to the API for purposes other than what it is intended for, such as high volumes of requests, data scraping, and abuse related to authorization."
    },
    "GoogleCloudApigeeV1BatchComputeSecurityAssessmentResultsRequestApiHubGatewayArray": {
      "id": "GoogleCloudApigeeV1BatchComputeSecurityAssessmentResultsRequestApiHubGatewayArray",
      "type": "object",
      "description": "Message for the array of API Hub Gateways.",
      "properties": {
        "gateways": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The array of API Hub Gateway IDs. Format: `projects/{project}/locations/{location}/plugins/{plugin}/instances/{instance}`"
        }
      }
    },
    "GoogleCloudApigeeV1ApiDocDocumentationResponse": {
      "description": "The catalog item documentation wrapped with response status, error_code, etc.",
      "id": "GoogleCloudApigeeV1ApiDocDocumentationResponse",
      "type": "object",
      "properties": {
        "message": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Description of the operation."
        },
        "errorCode": {
          "description": "Output only. Unique error code for the request, if any.",
          "readOnly": true,
          "type": "string"
        },
        "requestId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Unique ID of the request."
        },
        "status": {
          "description": "Output only. Status of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "data": {
          "readOnly": true,
          "description": "Output only. The documentation resource.",
          "$ref": "GoogleCloudApigeeV1ApiDocDocumentation"
        }
      }
    },
    "GoogleCloudApigeeV1AccessGet": {
      "properties": {
        "name": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      },
      "description": "Get action. For example, \"Get\" : { \"name\" : \"target.name\", \"value\" : \"default\" }",
      "id": "GoogleCloudApigeeV1AccessGet",
      "type": "object"
    },
    "GoogleCloudApigeeV1Attributes": {
      "id": "GoogleCloudApigeeV1Attributes",
      "type": "object",
      "properties": {
        "attribute": {
          "description": "List of attributes.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1Attribute"
          }
        }
      }
    },
    "GoogleCloudApigeeV1CustomReportMetric": {
      "description": "This encapsulates a metric property of the form sum(message_count) where name is message_count and function is sum",
      "id": "GoogleCloudApigeeV1CustomReportMetric",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "name of the metric"
        },
        "function": {
          "description": "aggregate function",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1SecurityReport": {
      "properties": {
        "state": {
          "type": "string",
          "description": "Query state could be \"enqueued\", \"running\", \"completed\", \"expired\" and \"failed\"."
        },
        "result": {
          "description": "Result is available only after the query is completed.",
          "$ref": "GoogleCloudApigeeV1SecurityReportResultMetadata"
        },
        "displayName": {
          "type": "string",
          "description": "Display Name specified by the user."
        },
        "error": {
          "description": "Error is set when query fails.",
          "type": "string"
        },
        "queryParams": {
          "description": "Contains information like metrics, dimenstions etc of the Security Report.",
          "$ref": "GoogleCloudApigeeV1SecurityReportMetadata"
        },
        "resultFileSize": {
          "description": "ResultFileSize is available only after the query is completed.",
          "type": "string"
        },
        "updated": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Last updated timestamp for the query."
        },
        "envgroupHostname": {
          "description": "Hostname is available only when query is executed at host level.",
          "type": "string"
        },
        "created": {
          "type": "string",
          "description": "Creation time of the query."
        },
        "resultRows": {
          "type": "string",
          "description": "ResultRows is available only after the query is completed.",
          "format": "int64"
        },
        "self": {
          "type": "string",
          "description": "Self link of the query. Example: `/organizations/myorg/environments/myenv/securityReports/9cfc0d85-0f30-46d6-ae6f-318d0cb961bd` or following format if query is running at host level: `/organizations/myorg/hostSecurityReports/9cfc0d85-0f30-46d6-ae6f-318d0cb961bd`"
        },
        "executionTime": {
          "type": "string",
          "description": "ExecutionTime is available only after the query is completed."
        },
        "reportDefinitionId": {
          "description": "Report Definition ID.",
          "type": "string"
        }
      },
      "description": "SecurityReport saves all the information about the created security report.",
      "id": "GoogleCloudApigeeV1SecurityReport",
      "type": "object"
    },
    "GoogleCloudApigeeV1QueryTabularStatsRequest": {
      "id": "GoogleCloudApigeeV1QueryTabularStatsRequest",
      "type": "object",
      "description": "Request payload representing the query to be run for fetching security statistics as rows.",
      "properties": {
        "dimensions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. List of dimension names to group the aggregations by."
        },
        "metrics": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1MetricAggregation"
          },
          "description": "Required. List of metrics and their aggregations."
        },
        "timeRange": {
          "description": "Time range for the stats.",
          "$ref": "GoogleTypeInterval"
        },
        "filter": {
          "type": "string",
          "description": "Filter further on specific dimension values. Follows the same grammar as custom report's filter expressions. Example, apiproxy eq 'foobar'. https://cloud.google.com/apigee/docs/api-platform/analytics/analytics-reference#filters"
        },
        "pageSize": {
          "type": "integer",
          "description": "Page size represents the number of rows.",
          "format": "int32"
        },
        "pageToken": {
          "description": "Identifies a sequence of rows.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1DebugSessionTransaction": {
      "properties": {
        "completed": {
          "description": "Flag indicating whether a transaction is completed or not",
          "type": "boolean"
        },
        "point": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1Point"
          },
          "description": "List of debug data collected by runtime plane at various defined points in the flow."
        }
      },
      "id": "GoogleCloudApigeeV1DebugSessionTransaction",
      "type": "object",
      "description": "A transaction contains all of the debug information of the entire message flow of an API call processed by the runtime plane. The information is collected and recorded at critical points of the message flow in the runtime apiproxy."
    },
    "GoogleCloudApigeeV1NodeConfig": {
      "description": "NodeConfig for setting the min/max number of nodes associated with the environment.",
      "id": "GoogleCloudApigeeV1NodeConfig",
      "type": "object",
      "properties": {
        "minNodeCount": {
          "format": "int64",
          "type": "string",
          "description": "Optional. The minimum total number of gateway nodes that the is reserved for all instances that has the specified environment. If not specified, the default is determined by the recommended minimum number of nodes for that gateway."
        },
        "maxNodeCount": {
          "format": "int64",
          "description": "Optional. The maximum total number of gateway nodes that the is reserved for all instances that has the specified environment. If not specified, the default is determined by the recommended maximum number of nodes for that gateway.",
          "type": "string"
        },
        "currentAggregateNodeCount": {
          "format": "int64",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The current total number of gateway nodes that each environment currently has across all instances."
        }
      }
    },
    "GoogleCloudApigeeV1SharedFlow": {
      "properties": {
        "metaData": {
          "description": "Metadata describing the shared flow.",
          "$ref": "GoogleCloudApigeeV1EntityMetadata"
        },
        "latestRevisionId": {
          "description": "The id of the most recently created revision for this shared flow.",
          "type": "string"
        },
        "space": {
          "description": "Optional. The ID of the space associated with this shared flow. Any IAM policies applied to the space will control access to this shared flow. To learn how Spaces can be used to manage resources, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
          "type": "string"
        },
        "revision": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of revisions of this shared flow."
        },
        "name": {
          "description": "The ID of the shared flow.",
          "type": "string"
        }
      },
      "description": "The metadata describing a shared flow",
      "id": "GoogleCloudApigeeV1SharedFlow",
      "type": "object"
    },
    "GoogleCloudApigeeV1LlmOperation": {
      "properties": {
        "model": {
          "description": "Required. LLM model name associated with the API proxy",
          "type": "string"
        },
        "methods": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. methods refers to the REST verbs as in https://httpwg.org/specs/rfc9110.html For example: GET, POST, PUT, DELETE, etc. They need to be in uppercase. When none specified, all verb types are allowed."
        },
        "resource": {
          "type": "string",
          "description": "Required. REST resource path associated with the API proxy or remote service."
        }
      },
      "id": "GoogleCloudApigeeV1LlmOperation",
      "type": "object",
      "description": "Represents the pairing of REST resource path, model and the actions (verbs) allowed on the resource path."
    },
    "GoogleCloudApigeeV1ListDataCollectorsResponse": {
      "id": "GoogleCloudApigeeV1ListDataCollectorsResponse",
      "type": "object",
      "description": "Response for ListDataCollectors.",
      "properties": {
        "dataCollectors": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1DataCollector"
          },
          "description": "Data collectors in the specified organization."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Page token that you can include in a ListDataCollectors request to retrieve the next page. If omitted, no subsequent pages exist."
        }
      }
    },
    "GoogleCloudApigeeV1ComputeEnvironmentScoresResponse": {
      "description": "Response for ComputeEnvironmentScores.",
      "id": "GoogleCloudApigeeV1ComputeEnvironmentScoresResponse",
      "type": "object",
      "properties": {
        "scores": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1Score"
          },
          "description": "List of scores. One score per day."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A page token, received from a previous `ComputeScore` call. Provide this to retrieve the subsequent page."
        }
      }
    },
    "GoogleCloudApigeeV1EntityMetadata": {
      "properties": {
        "lastModifiedAt": {
          "type": "string",
          "description": "Time at which the API proxy was most recently modified, in milliseconds since epoch.",
          "format": "int64"
        },
        "subType": {
          "type": "string",
          "description": "The type of entity described"
        },
        "createdAt": {
          "type": "string",
          "description": "Time at which the API proxy was created, in milliseconds since epoch.",
          "format": "int64"
        }
      },
      "description": "Metadata common to many entities in this API.",
      "id": "GoogleCloudApigeeV1EntityMetadata",
      "type": "object"
    },
    "GoogleCloudApigeeV1ListDebugSessionsResponse": {
      "properties": {
        "sessions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1Session"
          },
          "description": "Session info that includes debug session ID and the first transaction creation timestamp."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Page token that you can include in a ListDebugSessionsRequest to retrieve the next page. If omitted, no subsequent pages exist."
        }
      },
      "id": "GoogleCloudApigeeV1ListDebugSessionsResponse",
      "type": "object"
    },
    "GoogleCloudApigeeV1Space": {
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Identifier. Id of the space. This field is used as the resource name, and must follow [AIP-122](https://google.aip.dev/122) guidelines."
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. Last modified timestamp of the space.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Optional. Display name of the space."
        },
        "createTime": {
          "description": "Output only. Create timestamp of the space.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "Organization space resource.",
      "id": "GoogleCloudApigeeV1Space",
      "type": "object"
    },
    "GoogleCloudApigeeV1App": {
      "id": "GoogleCloudApigeeV1App",
      "type": "object",
      "properties": {
        "attributes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1Attribute"
          },
          "description": "List of attributes."
        },
        "status": {
          "description": "Status of the credential.",
          "type": "string"
        },
        "lastModifiedAt": {
          "description": "Output only. Last modified time as milliseconds since epoch.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "name": {
          "type": "string",
          "description": "Name of the app."
        },
        "companyName": {
          "type": "string",
          "description": "Name of the company that owns the app."
        },
        "developerId": {
          "description": "ID of the developer.",
          "type": "string"
        },
        "scopes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Scopes to apply to the app. The specified scope names must already exist on the API product that you associate with the app."
        },
        "createdAt": {
          "description": "Output only. Unix time when the app was created.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "keyExpiresIn": {
          "description": "Duration, in milliseconds, of the consumer key that will be generated for the app. The default value, -1, indicates an infinite validity period. Once set, the expiration can't be updated. json key: keyExpiresIn",
          "type": "string",
          "format": "int64"
        },
        "callbackUrl": {
          "description": "Callback URL used by OAuth 2.0 authorization servers to communicate authorization codes back to apps.",
          "type": "string"
        },
        "appId": {
          "type": "string",
          "description": "ID of the app."
        },
        "credentials": {
          "description": "Output only. Set of credentials for the app. Credentials are API key/secret pairs associated with API products.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1Credential"
          }
        },
        "apiProducts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1ApiProductRef"
          },
          "description": "List of API products associated with the app."
        },
        "appGroup": {
          "description": "Name of the AppGroup",
          "type": "string"
        },
        "developerEmail": {
          "type": "string",
          "description": "Email of the developer."
        }
      }
    },
    "GoogleCloudApigeeV1ListKeyValueEntriesResponse": {
      "properties": {
        "keyValueEntries": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1KeyValueEntry"
          },
          "description": "One or more key value map keys and values."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token that can be sent as `next_page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "description": "The request structure for listing key value map keys and its corresponding values.",
      "id": "GoogleCloudApigeeV1ListKeyValueEntriesResponse",
      "type": "object"
    },
    "GoogleCloudApigeeV1DeveloperSubscription": {
      "id": "GoogleCloudApigeeV1DeveloperSubscription",
      "type": "object",
      "description": "Structure of a DeveloperSubscription.",
      "properties": {
        "startTime": {
          "type": "string",
          "description": "Time when the API product subscription starts in milliseconds since epoch.",
          "format": "int64"
        },
        "lastModifiedAt": {
          "description": "Output only. Time when the API product subscription was last modified in milliseconds since epoch.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "apiproduct": {
          "type": "string",
          "description": "Name of the API product for which the developer is purchasing a subscription."
        },
        "name": {
          "description": "Output only. Name of the API product subscription.",
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "description": "Time when the API product subscription ends in milliseconds since epoch.",
          "format": "int64"
        },
        "createdAt": {
          "format": "int64",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time when the API product subscription was created in milliseconds since epoch."
        }
      }
    },
    "GoogleCloudApigeeV1DeploymentChangeReportRoutingDeployment": {
      "properties": {
        "environment": {
          "description": "Name of the environment in which the proxy is deployed.",
          "type": "string"
        },
        "basepath": {
          "description": "Base path receiving traffic.",
          "type": "string"
        },
        "apiProxy": {
          "type": "string",
          "description": "Name of the deployed API proxy revision containing the base path."
        },
        "revision": {
          "type": "string",
          "description": "Name of the deployed API proxy revision containing the base path."
        }
      },
      "id": "GoogleCloudApigeeV1DeploymentChangeReportRoutingDeployment",
      "type": "object",
      "description": "Tuple representing a base path and the deployment containing it."
    },
    "GoogleCloudApigeeV1RuntimeTraceConfig": {
      "id": "GoogleCloudApigeeV1RuntimeTraceConfig",
      "type": "object",
      "description": "NEXT ID: 11 RuntimeTraceConfig defines the configurations for distributed trace in an environment.",
      "properties": {
        "openTelemetryProtocolEnabled": {
          "deprecated": true,
          "description": "Optional. If `true`, the runtime uses OpenTelemetry Protocol (OTLP) to send trace data. Configuration Requirements (if `open_telemetry_protocol_enabled` is `true`): - Allowed `Exporter`s: `CLOUD_TRACE` or `OPEN_TELEMETRY_COLLECTOR`. - If `Exporter` is `OPEN_TELEMETRY_COLLECTOR`: - `endpoint` refers to a valid OTLP collector URL. - If `Exporter` is `CLOUD_TRACE`: - `endpoint` refers to a valid project ID Deprecated: Use trace_protocol instead.",
          "type": "boolean"
        },
        "spanSemantics": {
          "description": "Optional. The span semantics to use. Configuration Requirements (if `span_semantics` is `OTEL`): - `trace_protocol` must be `OTLP`.",
          "type": "string",
          "enumDescriptions": [
            "Semantics unspecified. Defaults to LEGACY.",
            "Uses Apigee legacy span and attribute names.",
            "Uses OpenTelemetry semantic-convention-aligned span and attribute names."
          ],
          "enum": [
            "SPAN_SEMANTICS_UNSPECIFIED",
            "LEGACY",
            "OTEL"
          ]
        },
        "name": {
          "type": "string",
          "description": "Name of the trace config in the following format: `organizations/{org}/environment/{env}/traceConfig`"
        },
        "endpoint": {
          "description": "Endpoint of the exporter.",
          "type": "string"
        },
        "samplingConfig": {
          "description": "Trace configuration for all API proxies in an environment.",
          "$ref": "GoogleCloudApigeeV1RuntimeTraceSamplingConfig"
        },
        "revisionCreateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The timestamp that the revision was created or updated."
        },
        "overrides": {
          "description": "List of trace configuration overrides for spicific API proxies.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1RuntimeTraceConfigOverride"
          }
        },
        "revisionId": {
          "type": "string",
          "description": "Revision number which can be used by the runtime to detect if the trace config has changed between two versions."
        },
        "exporter": {
          "type": "string",
          "enumDescriptions": [
            "Exporter unspecified",
            "Exports events to Jaeger. Compatible with OpenCensus protocol.",
            "Exports events to Cloud Trace. Compatible with OpenCensus protocol.",
            "OpenTelemetry Collector. Compatible with OpenTelemetry protocol.",
            "Exports events to Cloud Trace. Compatible with OpenTelemetry protocol."
          ],
          "enum": [
            "EXPORTER_UNSPECIFIED",
            "JAEGER",
            "CLOUD_TRACE",
            "OPEN_TELEMETRY_COLLECTOR",
            "OPEN_TELEMETRY_CLOUD_TRACE"
          ],
          "description": "Exporter that is used to view the distributed trace captured using OpenCensus. An exporter sends traces to any backend that is capable of consuming them. Recorded spans can be exported by registered exporters."
        },
        "traceProtocol": {
          "description": "Optional. The trace protocol to use.",
          "type": "string",
          "enumDescriptions": [
            "Protocol unspecified. Defaults to OPEN_CENSUS.",
            "Uses OpenCensus protocol.",
            "Uses OpenTelemetry Protocol (OTLP)."
          ],
          "enum": [
            "TRACE_PROTOCOL_UNSPECIFIED",
            "OPEN_CENSUS",
            "OTLP"
          ]
        }
      }
    },
    "GoogleCloudApigeeV1ExpireAppGroupSubscriptionRequest": {
      "description": "Request for ExpireAppGroupSubscription.",
      "id": "GoogleCloudApigeeV1ExpireAppGroupSubscriptionRequest",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudApigeeV1PodStatus": {
      "id": "GoogleCloudApigeeV1PodStatus",
      "type": "object",
      "properties": {
        "deploymentStatus": {
          "type": "string",
          "description": "Status of the deployment. Valid values include: - `deployed`: Successful. - `error` : Failed. - `pending` : Pod has not yet reported on the deployment."
        },
        "podName": {
          "type": "string",
          "description": "Name of the pod which is reporting the status."
        },
        "statusCodeDetails": {
          "type": "string",
          "description": "Human-readable message associated with the status code."
        },
        "deploymentTime": {
          "type": "string",
          "description": "Time the proxy was deployed in milliseconds since epoch.",
          "format": "int64"
        },
        "podStatus": {
          "type": "string",
          "description": "Overall status of the pod (not this specific deployment). Valid values include: - `active`: Up to date. - `stale` : Recently out of date. Pods that have not reported status in a long time are excluded from the output."
        },
        "appVersion": {
          "description": "Version of the application running in the pod.",
          "type": "string"
        },
        "statusCode": {
          "description": "Code associated with the deployment status.",
          "type": "string"
        },
        "podStatusTime": {
          "description": "Time the pod status was reported in milliseconds since epoch.",
          "type": "string",
          "format": "int64"
        },
        "deploymentStatusTime": {
          "format": "int64",
          "description": "Time the deployment status was reported in milliseconds since epoch.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1DnsZone": {
      "description": "A DNS zone is a resource under an Apigee organization that is used to create a DNS peering with Apigee's network. DNS peering will let Apigee instances resolve the hostnames created in a peered network.",
      "id": "GoogleCloudApigeeV1DnsZone",
      "type": "object",
      "properties": {
        "peeringConfig": {
          "description": "DNS PEERING zone configuration.",
          "$ref": "GoogleCloudApigeeV1DnsZonePeeringConfig"
        },
        "domain": {
          "description": "Required. The domain name for hosts in this private zone, for instance \"example.com.\".",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time that this resource was created on the server.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "description": {
          "description": "Required. Description of the resource. String of at most 1024 characters associated with this resource for the user's convenience.",
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "description": "Output only. State of the DNS Peering. Values other than `ACTIVE` mean the resource is not ready to use.",
          "type": "string",
          "enumDescriptions": [
            "Resource is in an unspecified state.",
            "Resource is being created.",
            "Resource is provisioned and ready to use.",
            "The resource is being deleted.",
            "The resource is being updated."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "UPDATING"
          ]
        },
        "name": {
          "description": "Identifier. Unique name for the resource. Defined by the server Format: \"organizations/{organization}/dnsZones/{dns_zone}\".",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time that this resource was updated on the server.",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudApigeeV1SecurityActionAllow": {
      "id": "GoogleCloudApigeeV1SecurityActionAllow",
      "type": "object",
      "description": "Message that should be set in case of an Allow Action. This does not have any fields.",
      "properties": {}
    },
    "GoogleCloudApigeeV1SecurityActionConditionConfig": {
      "description": "The following are a list of conditions. A valid SecurityAction must contain at least one condition. Within a condition, each element is ORed. Across conditions elements are ANDed. For example if a SecurityAction has the following: ip_address_ranges: [\"ip1\", \"ip2\"] and bot_reasons: [\"Flooder\", \"Robot Abuser\"] then this is interpreted as: enforce the action if the incoming request has ((ip_address_ranges = \"ip1\" OR ip_address_ranges = \"ip2\") AND (bot_reasons=\"Flooder\" OR bot_reasons=\"Robot Abuser\")). Conditions other than ip_address_ranges and bot_reasons cannot be ANDed.",
      "id": "GoogleCloudApigeeV1SecurityActionConditionConfig",
      "type": "object",
      "properties": {
        "asns": {
          "description": "Optional. A list of ASN numbers to act on, e.g. 23. https://en.wikipedia.org/wiki/Autonomous_system_(Internet) This uses int64 instead of uint32 because of https://linter.aip.dev/141/forbidden-types.",
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          }
        },
        "regionCodes": {
          "description": "Optional. A list of countries/region codes to act on, e.g. US. This follows https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "httpMethods": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Act only on particular HTTP methods. E.g. A read-only API can block POST/PUT/DELETE methods. Accepted values are: GET, HEAD, POST, PUT, DELETE, CONNECT, OPTIONS, TRACE and PATCH."
        },
        "developers": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of developers. Limit 1000 per action."
        },
        "userAgents": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of user agents to deny. We look for exact matches. Limit 50 per action."
        },
        "apiKeys": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of API keys. Limit 1000 per action."
        },
        "ipAddressRanges": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of IP addresses. This could be either IPv4 or IPv6. Limited to 100 per action."
        },
        "botReasons": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of Bot Reasons. Current options: Flooder, Brute Guessor, Static Content Scraper, OAuth Abuser, Robot Abuser, TorListRule, Advanced Anomaly Detection, Advanced API Scraper, Search Engine Crawlers, Public Clouds, Public Cloud AWS, Public Cloud Azure, and Public Cloud Google."
        },
        "apiProducts": {
          "description": "Optional. A list of API Products. Limit 1000 per action.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "developerApps": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of developer apps. Limit 1000 per action."
        },
        "accessTokens": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of access_tokens. Limit 1000 per action."
        }
      }
    },
    "GoogleCloudApigeeV1SecurityProfileV2ProfileAssessmentConfig": {
      "properties": {
        "weight": {
          "type": "string",
          "enumDescriptions": [
            "The weight is unspecified.",
            "The weight is minor.",
            "The weight is moderate.",
            "The weight is major."
          ],
          "enum": [
            "WEIGHT_UNSPECIFIED",
            "MINOR",
            "MODERATE",
            "MAJOR"
          ],
          "description": "The weight of the assessment."
        },
        "include": {
          "description": "Include only these Gateway Types.",
          "$ref": "GoogleCloudApigeeV1SecurityProfileV2ProfileAssessmentConfigApiHubGatewayTypeArray"
        }
      },
      "description": "The configuration definition for a specific assessment.",
      "id": "GoogleCloudApigeeV1SecurityProfileV2ProfileAssessmentConfig",
      "type": "object"
    },
    "GoogleCloudApigeeV1Datastore": {
      "id": "GoogleCloudApigeeV1Datastore",
      "type": "object",
      "description": "The data store defines the connection to export data repository (Cloud Storage, BigQuery), including the credentials used to access the data repository.",
      "properties": {
        "datastoreConfig": {
          "description": "Datastore Configurations.",
          "$ref": "GoogleCloudApigeeV1DatastoreConfig"
        },
        "lastUpdateTime": {
          "format": "int64",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Datastore last update time, in milliseconds since the epoch of 1970-01-01T00:00:00Z"
        },
        "displayName": {
          "description": "Required. Display name in UI",
          "type": "string"
        },
        "targetType": {
          "type": "string",
          "description": "Destination storage type. Supported types `gcs` or `bigquery`."
        },
        "createTime": {
          "description": "Output only. Datastore create time, in milliseconds since the epoch of 1970-01-01T00:00:00Z",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "self": {
          "description": "Output only. Resource link of Datastore. Example: `/organizations/{org}/analytics/datastores/{uuid}`",
          "readOnly": true,
          "type": "string"
        },
        "org": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Organization that the datastore belongs to"
        }
      }
    },
    "GoogleCloudApigeeV1DimensionMetric": {
      "description": "Encapsulates a metric grouped by dimension.",
      "id": "GoogleCloudApigeeV1DimensionMetric",
      "type": "object",
      "properties": {
        "metrics": {
          "description": "List of metrics.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1Metric"
          }
        },
        "name": {
          "deprecated": true,
          "type": "string",
          "description": "Comma joined dimension names. E.g. \"dim1_name,dim2_name\". Deprecated. If name already has comma before join, we may get wrong splits. Please use individual_names."
        },
        "individualNames": {
          "description": "Individual dimension names. E.g. [\"dim1_name\", \"dim2_name\"].",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudApigeeV1SecurityReportQueryMetric": {
      "properties": {
        "value": {
          "type": "string",
          "description": "Operand value should be provided when operator is set."
        },
        "operator": {
          "type": "string",
          "description": "One of `+`, `-`, `/`, `%`, `*`."
        },
        "aggregationFunction": {
          "description": "Aggregation function: avg, min, max, or sum.",
          "type": "string"
        },
        "alias": {
          "type": "string",
          "description": "Alias for the metric. Alias will be used to replace metric name in query results."
        },
        "name": {
          "description": "Required. Metric name.",
          "type": "string"
        }
      },
      "description": "Metric of the Query",
      "id": "GoogleCloudApigeeV1SecurityReportQueryMetric",
      "type": "object"
    },
    "GoogleCloudApigeeV1ListCustomReportsResponse": {
      "properties": {
        "qualifier": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1CustomReport"
          }
        }
      },
      "description": "This message encapsulates a list of custom report definitions",
      "id": "GoogleCloudApigeeV1ListCustomReportsResponse",
      "type": "object"
    },
    "GoogleCloudApigeeV1ListSecurityProfileRevisionsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "securityProfiles": {
          "description": "List of security profile revisions. The revisions may be attached or unattached to any environment.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1SecurityProfile"
          }
        }
      },
      "id": "GoogleCloudApigeeV1ListSecurityProfileRevisionsResponse",
      "type": "object",
      "description": "Response for ListSecurityProfileRevisions."
    },
    "GoogleCloudApigeeV1SecurityProfileV2ProfileAssessmentConfigApiHubGatewayTypeArray": {
      "properties": {
        "gatewayTypes": {
          "description": "Required. The array of API Hub Gateway Types.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Gateway type is not specified.",
              "Gateway is Apigee X for API Hub.",
              "Gateway is Apigee Hybrid for API Hub.",
              "Gateway is Apigee Edge for API Hub.",
              "Gateway is Apigee OPDK for API Hub."
            ],
            "enum": [
              "API_HUB_GATEWAY_TYPE_UNSPECIFIED",
              "APIGEE_X",
              "APIGEE_HYBRID",
              "APIGEE_EDGE",
              "APIGEE_OPDK"
            ]
          }
        }
      },
      "id": "GoogleCloudApigeeV1SecurityProfileV2ProfileAssessmentConfigApiHubGatewayTypeArray",
      "type": "object",
      "description": "Message for the array of API Hub Gateway Types."
    },
    "GoogleCloudApigeeV1Point": {
      "properties": {
        "results": {
          "description": "List of results extracted from a given debug point.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1Result"
          }
        },
        "id": {
          "description": "Name of a step in the transaction.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1Point",
      "type": "object",
      "description": "Point is a group of information collected by runtime plane at critical points of the message flow of the processed API request. This is a list of supported point IDs, categorized to three major buckets. For each category, debug points that we are currently supporting are listed below: - Flow status debug points: StateChange FlowInfo Condition Execution DebugMask Error - Flow control debug points: FlowCallout Paused Resumed FlowReturn BreakFlow Error - Runtime debug points: ScriptExecutor FlowCalloutStepDefinition CustomTarget StepDefinition Oauth2ServicePoint RaiseFault NodeJS The detail information of the given debug point is stored in a list of results."
    },
    "GoogleCloudApigeeV1Attribute": {
      "properties": {
        "name": {
          "description": "API key of the attribute.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "Value of the attribute."
        }
      },
      "id": "GoogleCloudApigeeV1Attribute",
      "type": "object",
      "description": "Key-value pair to store extra metadata."
    },
    "GoogleCloudApigeeV1AliasRevisionConfig": {
      "id": "GoogleCloudApigeeV1AliasRevisionConfig",
      "type": "object",
      "properties": {
        "location": {
          "type": "string",
          "description": "Location of the alias file. For example, a Google Cloud Storage URI."
        },
        "name": {
          "description": "Name of the alias revision included in the keystore in the following format: `organizations/{org}/environments/{env}/keystores/{keystore}/aliases/{alias}/revisions/{rev}`",
          "type": "string"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Alias type is not specified.",
            "Certificate.",
            "Key/certificate pair."
          ],
          "enum": [
            "ALIAS_TYPE_UNSPECIFIED",
            "CERT",
            "KEY_CERT"
          ]
        }
      }
    },
    "GoogleCloudApigeeV1IngressConfig": {
      "id": "GoogleCloudApigeeV1IngressConfig",
      "type": "object",
      "properties": {
        "uid": {
          "type": "string",
          "description": "A unique id for the ingress config that will only change if the organization is deleted and recreated."
        },
        "revisionId": {
          "format": "int64",
          "type": "string",
          "description": "Revision id that defines the ordering on IngressConfig resources. The higher the revision, the more recently the configuration was deployed."
        },
        "revisionCreateTime": {
          "format": "google-datetime",
          "description": "Time at which the IngressConfig revision was created.",
          "type": "string"
        },
        "environmentGroups": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1EnvironmentGroupConfig"
          },
          "description": "List of environment groups in the organization."
        },
        "name": {
          "description": "Name of the resource in the following format: `organizations/{org}/deployedIngressConfig`.",
          "type": "string"
        }
      }
    },
    "GoogleLongrunningOperation": {
      "id": "GoogleLongrunningOperation",
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "GoogleRpcStatus"
        }
      }
    },
    "GoogleCloudApigeeV1DateRange": {
      "properties": {
        "start": {
          "type": "string",
          "description": "Required. Start date of the data to export in the format `yyyy-mm-dd`. The date range begins at 00:00:00 UTC on the start date."
        },
        "end": {
          "type": "string",
          "description": "Required. End date (exclusive) of the data to export in the format `yyyy-mm-dd`. The date range ends at 00:00:00 UTC on the end date- which will not be in the output."
        }
      },
      "description": "Date range of the data to export.",
      "id": "GoogleCloudApigeeV1DateRange",
      "type": "object"
    },
    "GoogleCloudApigeeV1Result": {
      "properties": {
        "statusCode": {
          "type": "string",
          "description": "HTTP response code"
        },
        "content": {
          "description": "Error message content. for example, \"content\" : \"{\\\"fault\\\":{\\\"faultstring\\\":\\\"API timed out\\\",\\\"detail\\\":{\\\"errorcode\\\":\\\"flow.APITimedOut\\\"}}}\"",
          "type": "string"
        },
        "properties": {
          "description": "Name value pairs used for DebugInfo ActionResult.",
          "$ref": "GoogleCloudApigeeV1Properties"
        },
        "uRI": {
          "type": "string",
          "description": "The relative path of the api proxy. for example, `\"uRI\" : \"/iloveapis\"`"
        },
        "accessList": {
          "description": "A list of variable access actions agaist the api proxy. Supported values: Get, Set, Remove.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1Access"
          }
        },
        "timestamp": {
          "type": "string",
          "description": "Timestamp of when the result is recorded. Its format is dd-mm-yy hh:mm:ss:xxx. For example, `\"timestamp\" : \"12-08-19 00:31:59:960\"`"
        },
        "headers": {
          "description": "A list of HTTP headers. for example, '\"headers\" : [ { \"name\" : \"Content-Length\", \"value\" : \"83\" }, { \"name\" : \"Content-Type\", \"value\" : \"application/json\" } ]'",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1Property"
          }
        },
        "verb": {
          "type": "string",
          "description": "HTTP method verb"
        },
        "ActionResult": {
          "type": "string",
          "description": "Type of the action result. Can be one of the five: DebugInfo, RequestMessage, ResponseMessage, ErrorMessage, VariableAccess"
        },
        "reasonPhrase": {
          "type": "string",
          "description": "HTTP response phrase"
        }
      },
      "id": "GoogleCloudApigeeV1Result",
      "type": "object",
      "description": "Result is short for \"action result\", could be different types identified by \"action_result\" field. Supported types: 1. DebugInfo : generic debug info collected by runtime recorded as a list of properties. For example, the contents could be virtual host info, state change result, or execution metadata. Required fields : properties, timestamp 2. RequestMessage: information of a http request. Contains headers, request URI and http methods type.Required fields : headers, uri, verb 3. ResponseMessage: information of a http response. Contains headers, reason phrase and http status code. Required fields : headers, reasonPhrase, statusCode 4. ErrorMessage: information of a http error message. Contains detail error message, reason phrase and status code. Required fields : content, headers, reasonPhrase, statusCode 5. VariableAccess: a list of variable access actions, can be Get, Set and Remove. Required fields : accessList"
    },
    "GoogleCloudApigeeV1LlmOperationGroup": {
      "properties": {
        "operationConfigs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1LlmOperationConfig"
          },
          "description": "Required. List of LLM operation configurations for either Apigee API proxies that are associated with this API product."
        }
      },
      "description": "List of LLM operation configuration details associated with Apigee API proxies.",
      "id": "GoogleCloudApigeeV1LlmOperationGroup",
      "type": "object"
    },
    "GoogleCloudApigeeV1AsyncQueryResultView": {
      "id": "GoogleCloudApigeeV1AsyncQueryResultView",
      "type": "object",
      "properties": {
        "state": {
          "description": "State of retrieving ResultView.",
          "type": "string"
        },
        "code": {
          "format": "int32",
          "description": "Error code when there is a failure.",
          "type": "integer"
        },
        "metadata": {
          "description": "Metadata contains information like metrics, dimenstions etc of the AsyncQuery.",
          "$ref": "GoogleCloudApigeeV1QueryMetadata"
        },
        "error": {
          "type": "string",
          "description": "Error message when there is a failure."
        },
        "rows": {
          "description": "Rows of query result. Each row is a JSON object. Example: {sum(message_count): 1, developer_app: \"(not set)\",…}",
          "type": "array",
          "items": {
            "type": "any"
          }
        }
      }
    },
    "GoogleCloudApigeeV1GetSyncAuthorizationRequest": {
      "description": "Request for GetSyncAuthorization.",
      "id": "GoogleCloudApigeeV1GetSyncAuthorizationRequest",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudApigeeV1SecurityActionDeny": {
      "properties": {
        "responseCode": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The HTTP response code if the Action = DENY."
        }
      },
      "id": "GoogleCloudApigeeV1SecurityActionDeny",
      "type": "object",
      "description": "Message that should be set in case of a Deny Action."
    },
    "GoogleCloudApigeeV1RuntimeAddonsConfig": {
      "id": "GoogleCloudApigeeV1RuntimeAddonsConfig",
      "type": "object",
      "description": "RuntimeAddonsConfig defines the runtime configurations for add-ons in an environment.",
      "properties": {
        "analyticsConfig": {
          "description": "Runtime configuration for Analytics add-on.",
          "$ref": "GoogleCloudApigeeV1RuntimeAnalyticsConfig"
        },
        "name": {
          "type": "string",
          "description": "Name of the addons config in the format: `organizations/{org}/environments/{env}/addonsConfig`"
        },
        "revisionId": {
          "type": "string",
          "description": "Revision number used by the runtime to detect config changes."
        },
        "uid": {
          "type": "string",
          "description": "UID is to detect if config is recreated after deletion. The add-on config will only be deleted when the environment itself gets deleted, thus it will always be the same as the UID of EnvironmentConfig."
        },
        "apiSecurityConfig": {
          "description": "Runtime configuration for API Security add-on.",
          "$ref": "GoogleCloudApigeeV1RuntimeApiSecurityConfig"
        }
      }
    },
    "GoogleCloudApigeeV1SchemaSchemaElement": {
      "properties": {
        "name": {
          "description": "Name of the field.",
          "type": "string"
        },
        "properties": {
          "description": "Properties for the schema field. For example: { \"createTime\": \"2016-02-26T10:23:09.592Z\", \"custom\": \"false\", \"type\": \"string\" }",
          "$ref": "GoogleCloudApigeeV1SchemaSchemaProperty"
        }
      },
      "id": "GoogleCloudApigeeV1SchemaSchemaElement",
      "type": "object",
      "description": "Message type for the schema element"
    },
    "GoogleCloudApigeeV1MoveApiProductRequest": {
      "description": "Moves API product to a different space.",
      "id": "GoogleCloudApigeeV1MoveApiProductRequest",
      "type": "object",
      "properties": {
        "space": {
          "type": "string",
          "description": "Optional. Resource ID of the space to move the API product to. If unspecified, the API product will be moved to the organization level."
        }
      }
    },
    "GoogleCloudApigeeV1AnalyticsConfig": {
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether the Analytics add-on is enabled."
        },
        "state": {
          "readOnly": true,
          "description": "Output only. The state of the Analytics add-on.",
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Add-on is in progress of enabling.",
            "Add-on is fully enabled and ready to use.",
            "Add-on is in progress of disabling.",
            "Add-on is fully disabled."
          ],
          "enum": [
            "ADDON_STATE_UNSPECIFIED",
            "ENABLING",
            "ENABLED",
            "DISABLING",
            "DISABLED"
          ]
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The latest update time.",
          "format": "google-datetime"
        },
        "expireTimeMillis": {
          "format": "int64",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time at which the Analytics add-on expires in milliseconds since epoch. If unspecified, the add-on will never expire."
        }
      },
      "description": "Configuration for the Analytics add-on.",
      "id": "GoogleCloudApigeeV1AnalyticsConfig",
      "type": "object"
    },
    "GoogleCloudApigeeV1GrpcOperationGroup": {
      "id": "GoogleCloudApigeeV1GrpcOperationGroup",
      "type": "object",
      "description": "List of gRPC operation configuration details associated with Apigee API proxies.",
      "properties": {
        "operationConfigs": {
          "description": "Required. List of operation configurations for either Apigee API proxies that are associated with this API product.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1GrpcOperationConfig"
          }
        }
      }
    },
    "GoogleCloudApigeeV1CreditDeveloperBalanceRequest": {
      "properties": {
        "transactionAmount": {
          "description": "The amount of money to be credited. The wallet corresponding to the currency specified within `transaction_amount` will be updated. For example, if you specified `currency_code` within `transaction_amount` as \"USD\", then the amount would be added to the wallet which has the \"USD\" currency or if no such wallet exists, a new wallet will be created with the \"USD\" currency.",
          "$ref": "GoogleTypeMoney"
        },
        "transactionId": {
          "description": "Each transaction_id uniquely identifies a credit balance request. If multiple requests are received with the same transaction_id, only one of them will be considered.",
          "type": "string"
        }
      },
      "description": "Request for CreditDeveloperBalance.",
      "id": "GoogleCloudApigeeV1CreditDeveloperBalanceRequest",
      "type": "object"
    },
    "GoogleCloudApigeeV1UpdateAppGroupAppKeyRequest": {
      "description": "Request for UpdateAppGroupAppKey",
      "id": "GoogleCloudApigeeV1UpdateAppGroupAppKeyRequest",
      "type": "object",
      "properties": {
        "appGroupAppKey": {
          "description": "Note that only Scopes and Attributes of the AppGroupAppKey can be amended. Scopes and Attributes mentioned in the request will be inserted and the existing scopes and attributes will be removed.",
          "$ref": "GoogleCloudApigeeV1AppGroupAppKey"
        },
        "action": {
          "type": "string",
          "description": "Approve or revoke the consumer key by setting this value to `approve` or `revoke` respectively. The `Content-Type` header, if set, must be set to `application/octet-stream`, with empty body."
        },
        "apiProducts": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of API products that will be associated with the credential. This list will be appended to the existing list of associated API Products for this App Key. Duplicates will be ignored."
        }
      }
    },
    "GoogleCloudApigeeV1ListSecurityIncidentsResponse": {
      "description": "Response for ListSecurityIncidents.",
      "id": "GoogleCloudApigeeV1ListSecurityIncidentsResponse",
      "type": "object",
      "properties": {
        "securityIncidents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1SecurityIncident"
          },
          "description": "List of security incidents in the organization"
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1GraphQLOperation": {
      "description": "Represents the pairing of GraphQL operation types and the GraphQL operation name.",
      "id": "GoogleCloudApigeeV1GraphQLOperation",
      "type": "object",
      "properties": {
        "operationTypes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. GraphQL operation types. Valid values include `query` or `mutation`. **Note**: Apigee does not currently support `subscription` types."
        },
        "operation": {
          "type": "string",
          "description": "GraphQL operation name. The name and operation type will be used to apply quotas. If no name is specified, the quota will be applied to all GraphQL operations irrespective of their operation names in the payload."
        }
      }
    },
    "GoogleCloudApigeeV1ConnectorsPlatformConfig": {
      "id": "GoogleCloudApigeeV1ConnectorsPlatformConfig",
      "type": "object",
      "description": "Configuration for the Connectors Platform add-on.",
      "properties": {
        "enabled": {
          "description": "Flag that specifies whether the Connectors Platform add-on is enabled.",
          "type": "boolean"
        },
        "expiresAt": {
          "format": "int64",
          "description": "Output only. Time at which the Connectors Platform add-on expires in milliseconds since epoch. If unspecified, the add-on will never expire.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1Stats": {
      "id": "GoogleCloudApigeeV1Stats",
      "type": "object",
      "description": "Encapsulates a `stats` response.",
      "properties": {
        "environments": {
          "description": "List of query results on the environment level.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1StatsEnvironmentStats"
          }
        },
        "metaData": {
          "description": "Metadata information.",
          "$ref": "GoogleCloudApigeeV1Metadata"
        },
        "hosts": {
          "description": "List of query results grouped by host.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1StatsHostStats"
          }
        }
      }
    },
    "GoogleCloudApigeeV1KeyValueEntry": {
      "properties": {
        "value": {
          "type": "string",
          "description": "Required. Data or payload that is being retrieved and associated with the unique key."
        },
        "name": {
          "description": "Resource URI that can be used to identify the scope of the key value map entries.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1KeyValueEntry",
      "type": "object",
      "description": "Key value map pair where the value represents the data associated with the corresponding key. **Note**: Supported for Apigee hybrid 1.8.x and higher."
    },
    "GoogleCloudApigeeV1Subscription": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Full name of the Pub/Sub subcription. Use the following structure in your request: `subscription \"projects/foo/subscription/bar\"`"
        }
      },
      "description": "Pub/Sub subscription of an environment.",
      "id": "GoogleCloudApigeeV1Subscription",
      "type": "object"
    },
    "GoogleCloudApigeeV1OptimizedStatsNode": {
      "properties": {
        "data": {
          "description": "List of data values.",
          "type": "array",
          "items": {
            "type": "any"
          }
        }
      },
      "description": "Encapsulates a data node as represented below: ``` { \"identifier\": { \"names\": [ \"apiproxy\" ], \"values\": [ \"sirjee\" ] }, \"metric\": [ { \"env\": \"prod\", \"name\": \"sum(message_count)\", \"values\": [ 36.0 ] } ] }``` or ``` { \"env\": \"prod\", \"name\": \"sum(message_count)\", \"values\": [ 36.0 ] }``` Depending on whether a dimension is present in the query or not the data node type can be a simple metric value or dimension identifier with list of metrics.",
      "id": "GoogleCloudApigeeV1OptimizedStatsNode",
      "type": "object"
    },
    "GoogleCloudApigeeV1SecurityAssessmentResultResourceApiHubDeploymentDetails": {
      "description": "Additional details if the resource is an API Hub deployment.",
      "id": "GoogleCloudApigeeV1SecurityAssessmentResultResourceApiHubDeploymentDetails",
      "type": "object",
      "properties": {
        "sourceProject": {
          "type": "string",
          "description": "The source project for the API Hub deployment."
        },
        "resourceUri": {
          "description": "The resource uri for the API Hub deployment.",
          "type": "string"
        },
        "gatewayType": {
          "description": "The gateway type for the API Hub deployment.",
          "type": "string",
          "enumDescriptions": [
            "Gateway type is not specified.",
            "Gateway is Apigee X for API Hub.",
            "Gateway is Apigee Hybrid for API Hub.",
            "Gateway is Apigee Edge for API Hub.",
            "Gateway is Apigee OPDK for API Hub."
          ],
          "enum": [
            "API_HUB_GATEWAY_TYPE_UNSPECIFIED",
            "APIGEE_X",
            "APIGEE_HYBRID",
            "APIGEE_EDGE",
            "APIGEE_OPDK"
          ]
        },
        "gateway": {
          "description": "The gateway for the API Hub deployment. Format: `projects/{project}/locations/{location}/plugins/{plugin}/instances/{instance}`",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the API Hub deployment."
        }
      }
    },
    "GoogleCloudApigeeV1ListNatAddressesResponse": {
      "description": "Response for ListNatAddresses.",
      "id": "GoogleCloudApigeeV1ListNatAddressesResponse",
      "type": "object",
      "properties": {
        "natAddresses": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1NatAddress"
          },
          "description": "List of NAT Addresses for the instance."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Page token that you can include in a ListNatAddresses request to retrieve the next page of content. If omitted, no subsequent pages exist."
        }
      }
    },
    "GoogleCloudApigeeV1CanaryEvaluationMetricLabels": {
      "id": "GoogleCloudApigeeV1CanaryEvaluationMetricLabels",
      "type": "object",
      "description": "Labels that can be used to filter Apigee metrics.",
      "properties": {
        "location": {
          "description": "Required. The location associated with the metrics.",
          "type": "string"
        },
        "env": {
          "type": "string",
          "description": "The environment ID associated with the metrics."
        },
        "instance_id": {
          "type": "string",
          "description": "Required. The instance ID associated with the metrics. In Apigee Hybrid, the value is configured during installation."
        }
      }
    },
    "GoogleCloudApigeeV1KeystoreConfig": {
      "id": "GoogleCloudApigeeV1KeystoreConfig",
      "type": "object",
      "properties": {
        "name": {
          "description": "Resource name in the following format: `organizations/{org}/environments/{env}/keystores/{keystore}`",
          "type": "string"
        },
        "aliases": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1AliasRevisionConfig"
          },
          "description": "Aliases in the keystore."
        }
      }
    },
    "GoogleCloudApigeeV1CreditAppGroupBalanceRequest": {
      "description": "Request for CreditAppGroupBalance.",
      "id": "GoogleCloudApigeeV1CreditAppGroupBalanceRequest",
      "type": "object",
      "properties": {
        "transactionAmount": {
          "description": "Required. The amount of money to be credited. The wallet corresponding to the currency specified within `transaction_amount` will be updated. For example, if you specified `currency_code` within `transaction_amount` as \"USD\", then the amount would be added to the wallet which has the \"USD\" currency or if no such wallet exists, a new wallet will be created with the \"USD\" currency.",
          "$ref": "GoogleTypeMoney"
        },
        "transactionId": {
          "type": "string",
          "description": "Required. Each transaction_id uniquely identifies a credit balance request. If multiple requests are received with the same transaction_id, only one of them will be considered."
        }
      }
    },
    "GoogleCloudApigeeV1SecurityActionsConfig": {
      "description": "SecurityActionsConfig reflects the current state of the SecurityActions feature. This is a singleton resource: https://google.aip.dev/156",
      "id": "GoogleCloudApigeeV1SecurityActionsConfig",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "This is a singleton resource, the name will always be set by SecurityActions and any user input will be ignored. The name is always: `organizations/{org}/environments/{env}/security_actions_config`"
        },
        "updateTime": {
          "description": "Output only. The update time for configuration.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "enabled": {
          "type": "boolean",
          "description": "The flag that controls whether this feature is enabled. This is `unset` by default. When this flag is `false`, even if individual rules are enabled, no SecurityActions will be enforced."
        }
      }
    },
    "GoogleCloudApigeeV1SchemaSchemaProperty": {
      "properties": {
        "type": {
          "type": "string",
          "description": "Data type of the field."
        },
        "custom": {
          "description": "Flag that specifies whether the field is standard in the dataset or a custom field created by the customer. `true` indicates that it is a custom field.",
          "type": "string"
        },
        "createTime": {
          "description": "Time the field was created in RFC3339 string form. For example: `2016-02-26T10:23:09.592Z`.",
          "type": "string"
        }
      },
      "description": "Properties for the schema field.",
      "id": "GoogleCloudApigeeV1SchemaSchemaProperty",
      "type": "object"
    },
    "GoogleCloudApigeeV1SecurityAction": {
      "id": "GoogleCloudApigeeV1SecurityAction",
      "type": "object",
      "description": "A SecurityAction is rule that can be enforced at an environment level. The result is one of: - A denied API call - An explicitly allowed API call - A flagged API call (HTTP headers added before the target receives it) At least one condition is required to create a SecurityAction.",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The update time for this SecurityAction. This reflects when this SecurityAction changed states."
        },
        "description": {
          "description": "Optional. An optional user provided description of the SecurityAction.",
          "type": "string"
        },
        "expireTime": {
          "type": "string",
          "description": "The expiration for this SecurityAction.",
          "format": "google-datetime"
        },
        "allow": {
          "description": "Allow a request through if it matches this SecurityAction.",
          "$ref": "GoogleCloudApigeeV1SecurityActionAllow"
        },
        "ttl": {
          "format": "google-duration",
          "description": "Input only. The TTL for this SecurityAction.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Immutable. This field is ignored during creation as per AIP-133. Please set the `security_action_id` field in the CreateSecurityActionRequest when creating a new SecurityAction. Format: organizations/{org}/environments/{env}/securityActions/{security_action}"
        },
        "apiProxies": {
          "description": "Optional. If unset, this would apply to all proxies in the environment. If set, this action is enforced only if at least one proxy in the repeated list is deployed at the time of enforcement. If set, several restrictions are enforced on SecurityActions. There can be at most 100 enabled actions with proxies set in an env. Several other restrictions apply on conditions and are detailed later.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "state": {
          "description": "Required. Only an ENABLED SecurityAction is enforced. An ENABLED SecurityAction past its expiration time will not be enforced.",
          "type": "string",
          "enumDescriptions": [
            "The default value. This only exists for forward compatibility. A create request with this value will be rejected.",
            "An ENABLED SecurityAction is actively enforced if the `expiration_time` is in the future.",
            "A disabled SecurityAction is never enforced."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED"
          ]
        },
        "deny": {
          "description": "Deny a request through if it matches this SecurityAction.",
          "$ref": "GoogleCloudApigeeV1SecurityActionDeny"
        },
        "flag": {
          "description": "Flag a request through if it matches this SecurityAction.",
          "$ref": "GoogleCloudApigeeV1SecurityActionFlag"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The create time for this SecurityAction.",
          "format": "google-datetime"
        },
        "conditionConfig": {
          "description": "Required. A valid SecurityAction must contain at least one condition.",
          "$ref": "GoogleCloudApigeeV1SecurityActionConditionConfig"
        }
      }
    },
    "GoogleCloudApigeeV1BatchUpdateSecurityIncidentsRequest": {
      "properties": {
        "requests": {
          "description": "Optional. Required. The request message specifying the resources to update. A maximum of 1000 can be modified in a batch.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1UpdateSecurityIncidentRequest"
          }
        }
      },
      "id": "GoogleCloudApigeeV1BatchUpdateSecurityIncidentsRequest",
      "type": "object",
      "description": "Request for BatchUpdateSecurityIncident."
    },
    "GoogleCloudApigeeV1BatchComputeSecurityAssessmentResultsRequestResourceArrayResource": {
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "ResourceType not specified.",
            "Resource is an Apigee Proxy.",
            "Resource is an API Hub deployment."
          ],
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "API_PROXY",
            "API_HUB_DEPLOYMENT"
          ],
          "description": "Required. Type of this resource."
        },
        "name": {
          "type": "string",
          "description": "Required. Name of this resource. For an Apigee API Proxy, this should be the id of the API proxy. For an API Hub Deployment, this should be the id of the deployment."
        }
      },
      "id": "GoogleCloudApigeeV1BatchComputeSecurityAssessmentResultsRequestResourceArrayResource",
      "type": "object",
      "description": "Resource for which we are computing security assessment."
    },
    "GoogleCloudApigeeV1AsyncApiDocumentation": {
      "properties": {
        "spec": {
          "description": "Required. The documentation file contents for the AsyncAPI Specification. JSON and YAML file formats are supported.",
          "$ref": "GoogleCloudApigeeV1DocumentationFile"
        }
      },
      "id": "GoogleCloudApigeeV1AsyncApiDocumentation",
      "type": "object",
      "description": "AsyncAPI Specification documentation for a catalog item."
    },
    "GoogleCloudApigeeV1CanaryEvaluation": {
      "description": "CanaryEvaluation represents the canary analysis between two versions of the runtime that is serving requests.",
      "id": "GoogleCloudApigeeV1CanaryEvaluation",
      "type": "object",
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "description": "Required. End time for the evaluation's analysis.",
          "type": "string"
        },
        "control": {
          "type": "string",
          "description": "Required. The stable version that is serving requests."
        },
        "startTime": {
          "type": "string",
          "description": "Required. Start time for the canary evaluation's analysis.",
          "format": "google-datetime"
        },
        "name": {
          "description": "Output only. Name of the canary evalution.",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "No state has been specified.",
            "The canary evaluation is still in progress.",
            "The canary evaluation has finished."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "SUCCEEDED"
          ],
          "description": "Output only. The current state of the canary evaluation.",
          "readOnly": true
        },
        "verdict": {
          "readOnly": true,
          "description": "Output only. The resulting verdict of the canary evaluations: NONE, PASS, or FAIL.",
          "type": "string",
          "enumDescriptions": [
            "Verdict is not available yet.",
            "No verdict reached.",
            "Evaluation is not good.",
            "Evaluation is good."
          ],
          "enum": [
            "VERDICT_UNSPECIFIED",
            "NONE",
            "FAIL",
            "PASS"
          ]
        },
        "metricLabels": {
          "description": "Required. Labels used to filter the metrics used for a canary evaluation.",
          "$ref": "GoogleCloudApigeeV1CanaryEvaluationMetricLabels"
        },
        "treatment": {
          "type": "string",
          "description": "Required. The newer version that is serving requests."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Create time of the canary evaluation.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1ArchiveDeployment": {
      "description": "Archive Deployment information.",
      "id": "GoogleCloudApigeeV1ArchiveDeployment",
      "type": "object",
      "properties": {
        "labels": {
          "description": "User-supplied key-value pairs used to organize ArchiveDeployments. Label keys must be between 1 and 63 characters long, have a UTF-8 encoding of maximum 128 bytes, and must conform to the following PCRE regular expression: \\p{Ll}\\p{Lo}{0,62} Label values must be between 1 and 63 characters long, have a UTF-8 encoding of maximum 128 bytes, and must conform to the following PCRE regular expression: [\\p{Ll}\\p{Lo}\\p{N}_-]{0,63} No more than 64 labels can be associated with a given store.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "gcsUri": {
          "description": "Input only. The Google Cloud Storage signed URL returned from GenerateUploadUrl and used to upload the Archive zip file.",
          "type": "string"
        },
        "name": {
          "description": "Name of the Archive Deployment in the following format: `organizations/{org}/environments/{env}/archiveDeployments/{id}`.",
          "type": "string"
        },
        "createdAt": {
          "format": "int64",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time at which the Archive Deployment was created in milliseconds since the epoch."
        },
        "updatedAt": {
          "description": "Output only. The time at which the Archive Deployment was updated in milliseconds since the epoch.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "operation": {
          "description": "Output only. A reference to the LRO that created this Archive Deployment in the following format: `organizations/{org}/operations/{id}`",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1SecurityIncident": {
      "description": "Represents an SecurityIncident resource.",
      "id": "GoogleCloudApigeeV1SecurityIncident",
      "type": "object",
      "properties": {
        "observability": {
          "type": "string",
          "enumDescriptions": [
            "The incident observability is unspecified.",
            "The incident is currently active. Can change to this status from archived.",
            "The incident is currently archived and was archived by the customer."
          ],
          "enum": [
            "OBSERVABILITY_UNSPECIFIED",
            "ACTIVE",
            "ARCHIVED"
          ],
          "description": "Optional. Indicates if the user archived this incident."
        },
        "lastObservabilityChangeTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time when the incident observability was last changed.",
          "format": "google-datetime"
        },
        "detectionTypes": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. Detection types which are part of the incident. Examples: Flooder, OAuth Abuser, Static Content Scraper, Anomaly Detection."
        },
        "firstDetectedTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time when events associated with the incident were first detected.",
          "format": "google-datetime"
        },
        "lastDetectedTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time when events associated with the incident were last detected."
        },
        "riskLevel": {
          "type": "string",
          "enumDescriptions": [
            "Risk Level Unspecified.",
            "Risk level of the incident is low.",
            "Risk level of the incident is moderate.",
            "Risk level of the incident is severe."
          ],
          "enum": [
            "RISK_LEVEL_UNSPECIFIED",
            "LOW",
            "MODERATE",
            "SEVERE"
          ],
          "readOnly": true,
          "description": "Output only. Risk level of the incident."
        },
        "name": {
          "type": "string",
          "description": "Immutable. Name of the security incident resource. Format: organizations/{org}/environments/{environment}/securityIncidents/{incident} Example: organizations/apigee-org/environments/dev/securityIncidents/1234-5678-9101-1111"
        },
        "trafficCount": {
          "type": "string",
          "description": "Total traffic detected as part of the incident.",
          "format": "int64"
        },
        "displayName": {
          "description": "Optional. Display name of the security incident.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1ScoreComponentRecommendationAction": {
      "id": "GoogleCloudApigeeV1ScoreComponentRecommendationAction",
      "type": "object",
      "description": "Action to improve security score.",
      "properties": {
        "description": {
          "type": "string",
          "description": "Description of the action."
        },
        "actionContext": {
          "description": "Action context for the action.",
          "$ref": "GoogleCloudApigeeV1ScoreComponentRecommendationActionActionContext"
        }
      }
    },
    "GoogleCloudApigeeV1ProfileConfigMediation": {
      "properties": {},
      "id": "GoogleCloudApigeeV1ProfileConfigMediation",
      "type": "object",
      "description": "By default, following policies will be included: - OASValidation - SOAPMessageValidation"
    },
    "GoogleCloudApigeeV1UpdateSecurityIncidentRequest": {
      "id": "GoogleCloudApigeeV1UpdateSecurityIncidentRequest",
      "type": "object",
      "description": "Request for UpdateSecurityIncident.",
      "properties": {
        "securityIncident": {
          "description": "Required. The security incident to update. Must contain all existing populated fields of the current incident.",
          "$ref": "GoogleCloudApigeeV1SecurityIncident"
        },
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "Required. The list of fields to update. Allowed fields are: LINT.IfChange(allowed_update_fields_comment) - observability LINT.ThenChange()"
        }
      }
    },
    "GoogleCloudApigeeV1ReportInstanceStatusRequest": {
      "description": "Request for ReportInstanceStatus.",
      "id": "GoogleCloudApigeeV1ReportInstanceStatusRequest",
      "type": "object",
      "properties": {
        "instanceUid": {
          "description": "A unique ID for the instance which is guaranteed to be unique in case the user installs multiple hybrid runtimes with the same instance ID.",
          "type": "string"
        },
        "resources": {
          "description": "Status for config resources",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1ResourceStatus"
          }
        },
        "reportTime": {
          "description": "The time the report was generated in the runtime. Used to prevent an old status from overwriting a newer one. An instance should space out it's status reports so that clock skew does not play a factor.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudApigeeV1SharedFlowRevision": {
      "properties": {
        "type": {
          "type": "string",
          "description": "The string \"Application\""
        },
        "name": {
          "type": "string",
          "description": "The resource ID of the parent shared flow."
        },
        "displayName": {
          "description": "The human readable name of this shared flow.",
          "type": "string"
        },
        "lastModifiedAt": {
          "format": "int64",
          "type": "string",
          "description": "Time at which this shared flow revision was most recently modified, in milliseconds since epoch."
        },
        "policies": {
          "description": "A list of policy names included in this shared flow revision.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "resourceFiles": {
          "description": "The resource files included in this shared flow revision.",
          "$ref": "GoogleCloudApigeeV1ResourceFiles"
        },
        "contextInfo": {
          "type": "string",
          "description": "A textual description of the shared flow revision."
        },
        "sharedFlows": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of the shared flow names included in this shared flow revision."
        },
        "entityMetaDataAsProperties": {
          "description": "A Key-Value map of metadata about this shared flow revision.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "resources": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of the resources included in this shared flow revision formatted as \"{type}://{name}\"."
        },
        "configurationVersion": {
          "description": "The version of the configuration schema to which this shared flow conforms. The only supported value currently is majorVersion 4 and minorVersion 0. This setting may be used in the future to enable evolution of the shared flow format.",
          "$ref": "GoogleCloudApigeeV1ConfigVersion"
        },
        "createdAt": {
          "description": "Time at which this shared flow revision was created, in milliseconds since epoch.",
          "type": "string",
          "format": "int64"
        },
        "description": {
          "description": "Description of the shared flow revision.",
          "type": "string"
        },
        "revision": {
          "description": "The resource ID of this revision.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1SharedFlowRevision",
      "type": "object",
      "description": "The metadata describing a shared flow revision."
    },
    "GoogleCloudApigeeV1PayloadOperationGroup": {
      "properties": {
        "operationConfigs": {
          "description": "Required. List of payload operation configurations for Apigee API proxies that are associated with this API product.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1PayloadOperationConfig"
          }
        }
      },
      "id": "GoogleCloudApigeeV1PayloadOperationGroup",
      "type": "object",
      "description": "List of payload operation configuration details associated with Apigee API proxies. Payload operations enable governance of protocols where operations are embedded in the request body (such as JSON-RPC) rather than defined by the URL path."
    },
    "GoogleCloudApigeeV1EnvironmentConfigClientIPResolutionConfigHeaderIndexAlgorithm": {
      "id": "GoogleCloudApigeeV1EnvironmentConfigClientIPResolutionConfigHeaderIndexAlgorithm",
      "type": "object",
      "description": "Resolves the client ip based on a custom header.",
      "properties": {
        "ipHeaderName": {
          "type": "string",
          "description": "The name of the header to extract the client ip from."
        },
        "ipHeaderIndex": {
          "description": "The index of the ip in the header. (By default, value is 0 if missing)",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudApigeeV1LlmOperationConfig": {
      "description": "Binds the resources in an API proxy or remote service with the allowed REST methods and associated quota enforcement.",
      "id": "GoogleCloudApigeeV1LlmOperationConfig",
      "type": "object",
      "properties": {
        "llmOperations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1LlmOperation"
          },
          "description": "Required. List of resource/method/model for the API proxy to which quota will applied. **Note**: Currently, you can specify only a single resource/method/model mapping. The call will fail if more than one resource/method/model mappings are provided."
        },
        "apiSource": {
          "description": "Required. Name of the API proxy or remote service with which the resources, methods, and quota are associated.",
          "type": "string"
        },
        "attributes": {
          "description": "Optional. Custom attributes associated with the operation.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1Attribute"
          }
        },
        "llmTokenQuota": {
          "description": "Required. LLM token Quota parameters to be enforced for the resources, methods, and API source & LLM model combination. If none are specified, quota enforcement will not be done.",
          "$ref": "GoogleCloudApigeeV1LlmTokenQuota"
        }
      }
    },
    "GoogleCloudApigeeV1OperationGroup": {
      "description": "List of operation configuration details associated with Apigee API proxies or remote services. Remote services are non-Apigee proxies, such as Istio-Envoy.",
      "id": "GoogleCloudApigeeV1OperationGroup",
      "type": "object",
      "properties": {
        "operationConfigs": {
          "description": "Required. List of operation configurations for either Apigee API proxies or other remote services that are associated with this API product.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1OperationConfig"
          }
        },
        "operationConfigType": {
          "description": "Flag that specifes whether the configuration is for Apigee API proxy or a remote service. Valid values include `proxy` or `remoteservice`. Defaults to `proxy`. Set to `proxy` when Apigee API proxies are associated with the API product. Set to `remoteservice` when non-Apigee proxies like Istio-Envoy are associated with the API product.",
          "type": "string"
        }
      }
    },
    "GoogleLongrunningListOperationsResponse": {
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "type": "array",
          "items": {
            "$ref": "GoogleLongrunningOperation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        }
      },
      "id": "GoogleLongrunningListOperationsResponse",
      "type": "object",
      "description": "The response message for Operations.ListOperations."
    },
    "GoogleCloudApigeeV1OperationMetadata": {
      "description": "Metadata describing an Operation.",
      "id": "GoogleCloudApigeeV1OperationMetadata",
      "type": "object",
      "properties": {
        "warnings": {
          "description": "Warnings encountered while executing the operation.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "targetResourceName": {
          "description": "Name of the resource for which the operation is operating on.",
          "type": "string"
        },
        "progress": {
          "description": "Progress of the operation.",
          "$ref": "GoogleCloudApigeeV1OperationMetadataProgress"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "NOT_STARTED",
            "IN_PROGRESS",
            "FINISHED"
          ]
        },
        "operationType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "INSERT",
            "DELETE",
            "UPDATE"
          ]
        }
      }
    },
    "GoogleCloudApigeeV1ListOfDevelopersResponse": {
      "properties": {
        "developer": {
          "description": "List of developers.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1Developer"
          }
        }
      },
      "id": "GoogleCloudApigeeV1ListOfDevelopersResponse",
      "type": "object"
    },
    "GoogleCloudApigeeV1GraphQLOperationGroup": {
      "id": "GoogleCloudApigeeV1GraphQLOperationGroup",
      "type": "object",
      "description": "List of graphQL operation configuration details associated with Apigee API proxies or remote services. Remote services are non-Apigee proxies, such as Istio-Envoy.",
[...]
