{
  "documentationLink": "https://cloud.google.com/apigee-api-management/",
  "ownerName": "Google",
  "fullyEncodeReservedExpansion": true,
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "description": "Use the Apigee API to programmatically develop and manage APIs with a set of RESTful operations. Develop and secure API proxies, deploy and undeploy API proxy revisions, monitor APIs, configure environments, manage users, and more. Note: This product is available as a free trial for a time period of 60 days.",
  "mtlsRootUrl": "https://apigee.mtls.googleapis.com/",
  "parameters": {
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    }
  },
  "servicePath": "",
  "revision": "20260612",
  "baseUrl": "https://apigee.googleapis.com/",
  "protocol": "rest",
  "version": "v1",
  "canonicalName": "Apigee",
  "name": "apigee",
  "rootUrl": "https://apigee.googleapis.com/",
  "version_module": true,
  "endpoints": [
    {
      "location": "us",
      "endpointUrl": "https://apigee.us.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://apigee.eu.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "eu"
    },
    {
      "endpointUrl": "https://apigee.in.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "in"
    },
    {
      "endpointUrl": "https://apigee.sa.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "sa"
    }
  ],
  "basePath": "",
  "title": "Apigee API",
  "id": "apigee:v1",
  "resources": {
    "projects": {
      "methods": {
        "provisionOrganization": {
          "parameters": {
            "project": {
              "description": "Required. Name of the GCP project with which to associate the Apigee organization.",
              "required": true,
              "pattern": "^projects/[^/]+$",
              "location": "path",
              "type": "string"
            }
          },
          "id": "apigee.projects.provisionOrganization",
          "path": "v1/{+project}:provisionOrganization",
          "description": "Provisions a new Apigee organization with a functioning runtime. This is the standard way to create trial organizations for a free Apigee trial.",
          "parameterOrder": [
            "project"
          ],
          "flatPath": "v1/projects/{projectsId}:provisionOrganization",
          "httpMethod": "POST",
          "request": {
            "$ref": "GoogleCloudApigeeV1ProvisionOrganizationRequest"
          },
          "response": {
            "$ref": "GoogleLongrunningOperation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        }
      }
    },
    "organizations": {
      "methods": {
        "getDeployedIngressConfig": {
          "description": "Gets the deployed ingress configuration for an organization.",
          "parameters": {
            "name": {
              "pattern": "^organizations/[^/]+/deployedIngressConfig$",
              "description": "Required. Name of the deployed configuration for the organization in the following format: 'organizations/{org}/deployedIngressConfig'.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "view": {
              "description": "When set to FULL, additional details about the specific deployments receiving traffic will be included in the IngressConfig response's RoutingRules.",
              "enumDescriptions": [
                "The default/unset value. The API will default to the BASIC view.",
                "Include all ingress config data necessary for the runtime to configure ingress, but no more. Routing rules will include only basepath and destination environment. This the default value.",
                "Include all ingress config data, including internal debug info for each routing rule such as the proxy claiming a particular basepath and when the routing rule first appeared in the env group."
              ],
              "location": "query",
              "type": "string",
              "enum": [
                "INGRESS_CONFIG_VIEW_UNSPECIFIED",
                "BASIC",
                "FULL"
              ]
            }
          },
          "id": "apigee.organizations.getDeployedIngressConfig",
          "path": "v1/{+name}",
          "flatPath": "v1/organizations/{organizationsId}/deployedIngressConfig",
          "httpMethod": "GET",
          "response": {
            "$ref": "GoogleCloudApigeeV1IngressConfig"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "name"
          ]
        },
        "getSecuritySettings": {
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "flatPath": "v1/organizations/{organizationsId}/securitySettings",
          "response": {
            "$ref": "GoogleCloudApigeeV1SecuritySettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "pattern": "^organizations/[^/]+/securitySettings$",
              "description": "Required. The name of the SecuritySettings to retrieve. This will always be: 'organizations/{org}/securitySettings'.",
              "required": true
            }
          },
          "path": "v1/{+name}",
          "id": "apigee.organizations.getSecuritySettings",
          "description": "GetSecuritySettings gets the security settings for API Security."
        },
        "get": {
          "parameters": {
            "name": {
              "description": "Required. Apigee organization name in the following format: `organizations/{org}`",
              "required": true,
              "pattern": "^organizations/[^/]+$",
              "location": "path",
              "type": "string"
            }
          },
          "path": "v1/{+name}",
          "id": "apigee.organizations.get",
          "description": "Gets the profile for an Apigee organization. See [Understanding organizations](https://cloud.google.com/apigee/docs/api-platform/fundamentals/organization-structure).",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "flatPath": "v1/organizations/{organizationsId}",
          "response": {
            "$ref": "GoogleCloudApigeeV1Organization"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "create": {
          "parameterOrder": [],
          "response": {
            "$ref": "GoogleLongrunningOperation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1/organizations",
          "httpMethod": "POST",
          "request": {
            "$ref": "GoogleCloudApigeeV1Organization"
          },
          "id": "apigee.organizations.create",
          "path": "v1/organizations",
          "parameters": {
            "parent": {
              "location": "query",
              "description": "Required. Name of the Google Cloud project in which to associate the Apigee organization. Pass the information as a query parameter using the following structure in your request: `projects/`",
              "type": "string"
            }
          },
          "description": "Creates an Apigee organization. See [Create an Apigee organization](https://cloud.google.com/apigee/docs/api-platform/get-started/create-org)."
        },
        "getSyncAuthorization": {
          "response": {
            "$ref": "GoogleCloudApigeeV1SyncAuthorization"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "GoogleCloudApigeeV1GetSyncAuthorizationRequest"
          },
          "flatPath": "v1/organizations/{organizationsId}:getSyncAuthorization",
          "parameterOrder": [
            "name"
          ],
          "description": "Lists the service accounts with the permissions required to allow the Synchronizer to download environment data from the control plane. An ETag is returned in the response to `getSyncAuthorization`. Pass that ETag when calling [setSyncAuthorization](setSyncAuthorization) to ensure that you are updating the correct version. If you don't pass the ETag in the call to `setSyncAuthorization`, then the existing authorization is overwritten indiscriminately. For more information, see [Configure the Synchronizer](https://cloud.google.com/apigee/docs/hybrid/latest/synchronizer-access). **Note**: Available to Apigee hybrid only.",
          "path": "v1/{+name}:getSyncAuthorization",
          "id": "apigee.organizations.getSyncAuthorization",
          "parameters": {
            "name": {
              "pattern": "^organizations/[^/]+$",
              "description": "Required. Name of the Apigee organization. Use the following structure in your request: `organizations/{org}`",
              "required": true,
              "type": "string",
              "location": "path"
            }
          }
        },
        "getProjectMapping": {
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "pattern": "^organizations/[^/]+$",
              "description": "Required. Apigee organization name in the following format: `organizations/{org}`",
              "required": true
            }
          },
          "path": "v1/{+name}:getProjectMapping",
          "id": "apigee.organizations.getProjectMapping",
          "description": "Gets the project ID and region for an Apigee organization.",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "flatPath": "v1/organizations/{organizationsId}:getProjectMapping",
          "response": {
            "$ref": "GoogleCloudApigeeV1OrganizationProjectMapping"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "update": {
          "id": "apigee.organizations.update",
          "path": "v1/{+name}",
          "parameters": {
            "name": {
              "description": "Required. Apigee organization name in the following format: `organizations/{org}`",
              "required": true,
              "pattern": "^organizations/[^/]+$",
              "location": "path",
              "type": "string"
            }
          },
          "description": "Updates the properties for an Apigee organization. No other fields in the organization profile will be updated.",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GoogleCloudApigeeV1Organization"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1/organizations/{organizationsId}",
          "httpMethod": "PUT",
          "request": {
            "$ref": "GoogleCloudApigeeV1Organization"
          }
        },
        "delete": {
          "path": "v1/{+name}",
          "id": "apigee.organizations.delete",
          "parameters": {
            "name": {
              "description": "Required. Name of the organization. Use the following structure in your request: `organizations/{org}`",
              "required": true,
              "pattern": "^organizations/[^/]+$",
              "type": "string",
              "location": "path"
            },
            "retention": {
              "location": "query",
              "type": "string",
              "enum": [
                "DELETION_RETENTION_UNSPECIFIED",
                "MINIMUM"
              ],
              "description": "Optional. This setting is applicable only for organizations that are soft-deleted (i.e., BillingType is not EVALUATION). It controls how long Organization data will be retained after the initial delete operation completes. During this period, the Organization may be restored to its last known state. After this period, the Organization will no longer be able to be restored. **Note: During the data retention period specified using this field, the Apigee organization cannot be recreated in the same Google Cloud project.**",
              "enumDescriptions": [
                "Default data retention setting of seven days will be applied.",
                "Organization data will be retained for the minimum period of 24 hours."
              ]
            }
          },
          "description": "Delete an Apigee organization. For organizations with BillingType EVALUATION, an immediate deletion is performed. For paid organizations (Subscription or Pay-as-you-go), a soft-deletion is performed. The organization can be restored within the soft-deletion period, which is specified using the `retention` field in the request or by filing a support ticket with Apigee. During the data retention period specified in the request, the Apigee organization cannot be recreated in the same Google Cloud project. **IMPORTANT: The default data retention setting for this operation is 7 days. To permanently delete the organization in 24 hours, set the retention parameter to `MINIMUM`.**",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GoogleLongrunningOperation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "DELETE",
          "flatPath": "v1/organizations/{organizationsId}"
        },
        "list": {
          "id": "apigee.organizations.list",
          "path": "v1/{+parent}",
          "parameters": {
            "parent": {
              "type": "string",
              "location": "path",
              "pattern": "^organizations$",
              "description": "Required. Use the following structure in your request: `organizations`",
              "required": true
            }
          },
          "description": "Lists the Apigee organizations and associated Google Cloud projects that you have permission to access. See [Understanding organizations](https://cloud.google.com/apigee/docs/api-platform/fundamentals/organization-structure).",
          "parameterOrder": [
            "parent"
          ],
          "response": {
            "$ref": "GoogleCloudApigeeV1ListOrganizationsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1/organizations",
          "httpMethod": "GET"
        },
        "setAddons": {
          "description": "Configures the add-ons for the Apigee organization. The existing add-on configuration will be fully replaced.",
          "parameters": {
            "org": {
              "pattern": "^organizations/[^/]+$",
              "description": "Required. Name of the organization. Use the following structure in your request: `organizations/{org}`",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "id": "apigee.organizations.setAddons",
          "path": "v1/{+org}:setAddons",
          "flatPath": "v1/organizations/{organizationsId}:setAddons",
          "httpMethod": "POST",
          "request": {
            "$ref": "GoogleCloudApigeeV1SetAddonsRequest"
          },
          "response": {
            "$ref": "GoogleLongrunningOperation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "org"
          ]
        },
        "getControlPlaneAccess": {
          "response": {
            "$ref": "GoogleCloudApigeeV1ControlPlaneAccess"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "GET",
          "flatPath": "v1/organizations/{organizationsId}/controlPlaneAccess",
          "parameterOrder": [
            "name"
          ],
          "description": "Lists the service accounts allowed to access Apigee control plane directly for limited functionality. **Note**: Available to Apigee hybrid only.",
          "path": "v1/{+name}",
          "id": "apigee.organizations.getControlPlaneAccess",
          "parameters": {
            "name": {
              "type": "string",
              "location": "path",
              "pattern": "^organizations/[^/]+/controlPlaneAccess$",
              "description": "Required. Resource name of the Control Plane Access. Use the following structure in your request: `organizations/{org}/controlPlaneAccess`",
              "required": true
            }
          }
        },
        "getRuntimeConfig": {
          "description": "Get runtime config for an organization.",
          "id": "apigee.organizations.getRuntimeConfig",
          "path": "v1/{+name}",
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "description": "Required. Name of the runtime config for the organization in the following format: 'organizations/{org}/runtimeConfig'.",
              "required": true,
              "pattern": "^organizations/[^/]+/runtimeConfig$"
            }
          },
          "response": {
            "$ref": "GoogleCloudApigeeV1RuntimeConfig"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1/organizations/{organizationsId}/runtimeConfig",
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ]
        },
        "updateSecuritySettings": {
          "parameters": {
            "name": {
              "type": "string",
              "location": "path",
              "pattern": "^organizations/[^/]+/securitySettings$",
              "description": "Identifier. Full resource name is always `organizations/{org}/securitySettings`.",
              "required": true
            },
            "updateMask": {
              "type": "string",
              "description": "Optional. The list of fields to update. Allowed fields are: - ml_retraining_feedback_enabled",
              "location": "query",
              "format": "google-fieldmask"
            }
          },
          "id": "apigee.organizations.updateSecuritySettings",
          "path": "v1/{+name}",
          "description": "UpdateSecuritySettings updates the current security settings for API Security.",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1/organizations/{organizationsId}/securitySettings",
          "httpMethod": "PATCH",
          "request": {
            "$ref": "GoogleCloudApigeeV1SecuritySettings"
          },
          "response": {
            "$ref": "GoogleCloudApigeeV1SecuritySettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "setSyncAuthorization": {
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "pattern": "^organizations/[^/]+$",
              "description": "Required. Name of the Apigee organization. Use the following structure in your request: `organizations/{org}`",
              "required": true
            }
          },
          "id": "apigee.organizations.setSyncAuthorization",
          "path": "v1/{+name}:setSyncAuthorization",
          "description": "Sets the permissions required to allow the Synchronizer to download environment data from the control plane. You must call this API to enable proper functioning of hybrid. Pass the ETag when calling `setSyncAuthorization` to ensure that you are updating the correct version. To get an ETag, call [getSyncAuthorization](getSyncAuthorization). If you don't pass the ETag in the call to `setSyncAuthorization`, then the existing authorization is overwritten indiscriminately. For more information, see [Configure the Synchronizer](https://cloud.google.com/apigee/docs/hybrid/latest/synchronizer-access). **Note**: Available to Apigee hybrid only.",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1/organizations/{organizationsId}:setSyncAuthorization",
          "httpMethod": "POST",
          "request": {
            "$ref": "GoogleCloudApigeeV1SyncAuthorization"
          },
          "response": {
            "$ref": "GoogleCloudApigeeV1SyncAuthorization"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "updateControlPlaneAccess": {
          "flatPath": "v1/organizations/{organizationsId}/controlPlaneAccess",
          "httpMethod": "PATCH",
          "request": {
            "$ref": "GoogleCloudApigeeV1ControlPlaneAccess"
          },
          "response": {
            "$ref": "GoogleLongrunningOperation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "name"
          ],
          "description": "Updates the permissions required to allow Apigee runtime-plane components access to the control plane. Currently, the permissions required are to: 1. Allow runtime components to publish analytics data to the control plane. **Note**: Available to Apigee hybrid only.",
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "pattern": "^organizations/[^/]+/controlPlaneAccess$",
              "description": "Identifier. The resource name of the ControlPlaneAccess. Format: \"organizations/{org}/controlPlaneAccess\"",
              "required": true
            },
            "updateMask": {
              "description": "List of fields to be updated. Fields that can be updated: synchronizer_identities, publisher_identities.",
              "location": "query",
              "format": "google-fieldmask",
              "type": "string"
            }
          },
          "id": "apigee.organizations.updateControlPlaneAccess",
          "path": "v1/{+name}"
        }
      },
      "resources": {
        "sites": {
          "resources": {
            "apidocs": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "flatPath": "v1/organizations/{organizationsId}/sites/{sitesId}/apidocs",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ListApiDocsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Returns the catalog items associated with a portal.",
                  "parameters": {
                    "parent": {
                      "description": "Required. Name of the portal. Use the following structure in your request: `organizations/{org}/sites/{site}`",
                      "required": true,
                      "pattern": "^organizations/[^/]+/sites/[^/]+$",
                      "type": "string",
                      "location": "path"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "Optional. The maximum number of items to return. The service may return fewer than this value. If unspecified, at most 25 books will be returned. The maximum value is 100; values above 100 will be coerced to 100.",
                      "type": "integer"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A page token, received from a previous `ListApiDocs` call. Provide this to retrieve the subsequent page.",
                      "location": "query"
                    }
                  },
                  "path": "v1/{+parent}/apidocs",
                  "id": "apigee.organizations.sites.apidocs.list"
                },
                "update": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ApiDocResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "PUT",
                  "request": {
                    "$ref": "GoogleCloudApigeeV1ApiDoc"
                  },
                  "flatPath": "v1/organizations/{organizationsId}/sites/{sitesId}/apidocs/{apidocsId}",
                  "path": "v1/{+name}",
                  "id": "apigee.organizations.sites.apidocs.update",
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/sites/[^/]+/apidocs/[^/]+$",
                      "description": "Required. Name of the catalog item. Use the following structure in your request: `organizations/{org}/sites/{site}/apidocs/{apidoc}`",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "description": "Updates a catalog item."
                },
                "delete": {
                  "description": "Deletes a catalog item.",
                  "id": "apigee.organizations.sites.apidocs.delete",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. Name of the catalog item. Use the following structure in your request: `organizations/{org}/sites/{site}/apidocs/{apidoc}`",
                      "required": true,
                      "pattern": "^organizations/[^/]+/sites/[^/]+/apidocs/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudApigeeV1DeleteResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/sites/{sitesId}/apidocs/{apidocsId}",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "create": {
                  "id": "apigee.organizations.sites.apidocs.create",
                  "path": "v1/{+parent}/apidocs",
                  "parameters": {
                    "parent": {
                      "pattern": "^organizations/[^/]+/sites/[^/]+$",
                      "description": "Required. Name of the portal. Use the following structure in your request: `organizations/{org}/sites/{site}`",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "description": "Creates a new catalog item.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ApiDocResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/sites/{sitesId}/apidocs",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudApigeeV1ApiDoc"
                  }
                },
                "getDocumentation": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ApiDocDocumentationResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1/organizations/{organizationsId}/sites/{sitesId}/apidocs/{apidocsId}/documentation",
                  "path": "v1/{+name}",
                  "id": "apigee.organizations.sites.apidocs.getDocumentation",
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/sites/[^/]+/apidocs/[^/]+/documentation$",
                      "description": "Required. Resource name of the catalog item documentation. Use the following structure in your request: `organizations/{org}/sites/{site}/apidocs/{apidoc}/documentation`",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "description": "Gets the documentation for the specified catalog item."
                },
                "get": {
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ApiDocResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1/organizations/{organizationsId}/sites/{sitesId}/apidocs/{apidocsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets a catalog item.",
                  "path": "v1/{+name}",
                  "id": "apigee.organizations.sites.apidocs.get",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. Name of the catalog item. Use the following structure in your request: `organizations/{org}/sites/{site}/apidocs/{apidoc}`",
                      "required": true,
                      "pattern": "^organizations/[^/]+/sites/[^/]+/apidocs/[^/]+$"
                    }
                  }
                },
                "updateDocumentation": {
                  "description": "Updates the documentation for the specified catalog item. Note that the documentation file contents will not be populated in the return message.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/sites/[^/]+/apidocs/[^/]+/documentation$",
                      "description": "Required. Resource name of the catalog item documentation. Use the following structure in your request: `organizations/{org}/sites/{site}/apidocs/{apidoc}/documentation`",
                      "required": true
                    }
                  },
                  "path": "v1/{+name}",
                  "id": "apigee.organizations.sites.apidocs.updateDocumentation",
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "GoogleCloudApigeeV1ApiDocDocumentation"
                  },
                  "flatPath": "v1/organizations/{organizationsId}/sites/{sitesId}/apidocs/{apidocsId}/documentation",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ApiDocDocumentationResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            },
            "apicategories": {
              "methods": {
                "get": {
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ApiCategoryResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1/organizations/{organizationsId}/sites/{sitesId}/apicategories/{apicategoriesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets an API category.",
                  "path": "v1/{+name}",
                  "id": "apigee.organizations.sites.apicategories.get",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/sites/[^/]+/apicategories/[^/]+$",
                      "description": "Required. Name of the category. Use the following structure in your request: `organizations/{org}/sites/{site}/apicategories/{apicategory}`",
                      "required": true
                    }
                  }
                },
                "create": {
                  "parameters": {
                    "parent": {
                      "pattern": "^organizations/[^/]+/sites/[^/]+$",
                      "description": "Required. Name of the portal. Use the following structure in your request: `organizations/{org}/sites/{site}`",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+parent}/apicategories",
                  "id": "apigee.organizations.sites.apicategories.create",
                  "description": "Creates a new API category.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudApigeeV1ApiCategory"
                  },
                  "flatPath": "v1/organizations/{organizationsId}/sites/{sitesId}/apicategories",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ApiCategoryResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "patch": {
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "GoogleCloudApigeeV1ApiCategory"
                  },
                  "flatPath": "v1/organizations/{organizationsId}/sites/{sitesId}/apicategories/{apicategoriesId}",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ApiCategoryResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Updates an API category.",
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/sites/[^/]+/apicategories/[^/]+$",
                      "description": "Required. Name of the category. Use the following structure in your request: `organizations/{org}/sites/{site}/apicategories/{apicategory}`",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "id": "apigee.organizations.sites.apicategories.patch"
                },
                "list": {
                  "flatPath": "v1/organizations/{organizationsId}/sites/{sitesId}/apicategories",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ListApiCategoriesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Returns the API categories associated with a portal.",
                  "parameters": {
                    "parent": {
                      "description": "Required. Name of the portal. Use the following structure in your request: `organizations/{org}/sites/{site}`",
                      "required": true,
                      "pattern": "^organizations/[^/]+/sites/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "id": "apigee.organizations.sites.apicategories.list",
                  "path": "v1/{+parent}/apicategories"
                },
                "delete": {
                  "description": "Deletes an API category.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/sites/[^/]+/apicategories/[^/]+$",
                      "description": "Required. Name of the category. Use the following structure in your request: `organizations/{org}/sites/{site}/apicategories/{apicategory}`",
                      "required": true
                    }
                  },
                  "path": "v1/{+name}",
                  "id": "apigee.organizations.sites.apicategories.delete",
                  "httpMethod": "DELETE",
                  "flatPath": "v1/organizations/{organizationsId}/sites/{sitesId}/apicategories/{apicategoriesId}",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1DeleteResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            }
          }
        },
        "operations": {
          "methods": {
            "list": {
              "id": "apigee.organizations.operations.list",
              "path": "v1/{+name}/operations",
              "parameters": {
                "name": {
                  "description": "The name of the operation's parent resource.",
                  "required": true,
                  "pattern": "^organizations/[^/]+$",
                  "location": "path",
                  "type": "string"
                },
                "filter": {
                  "type": "string",
                  "description": "The standard list filter.",
                  "location": "query"
                },
                "pageSize": {
                  "description": "The standard list page size.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "The standard list page token."
                },
                "returnPartialSuccess": {
                  "location": "query",
                  "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                  "type": "boolean"
                }
              },
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/organizations/{organizationsId}/operations",
              "httpMethod": "GET"
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "flatPath": "v1/organizations/{organizationsId}/operations/{operationsId}",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "description": "The name of the operation resource.",
                  "required": true,
                  "pattern": "^organizations/[^/]+/operations/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "path": "v1/{+name}",
              "id": "apigee.organizations.operations.get",
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
            }
          }
        },
        "deployments": {
          "methods": {
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudApigeeV1ListDeploymentsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/organizations/{organizationsId}/deployments",
              "httpMethod": "GET",
              "id": "apigee.organizations.deployments.list",
              "path": "v1/{+parent}/deployments",
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. Name of the organization for which to return deployment information in the following format: `organizations/{org}`",
                  "required": true,
                  "pattern": "^organizations/[^/]+$"
                },
                "sharedFlows": {
                  "type": "boolean",
                  "description": "Optional. Flag that specifies whether to return shared flow or API proxy deployments. Set to `true` to return shared flow deployments; set to `false` to return API proxy deployments. Defaults to `false`.",
                  "location": "query"
                }
              },
              "description": "Lists all deployments of API proxies or shared flows."
            }
          }
        },
        "hostQueries": {
          "methods": {
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudApigeeV1AsyncQuery"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudApigeeV1Query"
              },
              "flatPath": "v1/organizations/{organizationsId}/hostQueries",
              "path": "v1/{+parent}/hostQueries",
              "id": "apigee.organizations.hostQueries.create",
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^organizations/[^/]+$",
                  "description": "Required. The parent resource name. Must be of the form `organizations/{org}`.",
                  "required": true
                }
              },
              "description": "Submit a query at host level to be processed in the background. If the submission of the query succeeds, the API returns a 201 status and an ID that refer to the query. In addition to the HTTP status 201, the `state` of \"enqueued\" means that the request succeeded."
            },
            "getResult": {
              "httpMethod": "GET",
              "flatPath": "v1/organizations/{organizationsId}/hostQueries/{hostQueriesId}/result",
              "response": {
                "$ref": "GoogleApiHttpBody"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "description": "After the query is completed, use this API to retrieve the results. If the request succeeds, and there is a non-zero result set, the result is downloaded to the client as a zipped JSON file. The name of the downloaded file will be: OfflineQueryResult-.zip Example: `OfflineQueryResult-9cfc0d85-0f30-46d6-ae6f-318d0cb961bd.zip`",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^organizations/[^/]+/hostQueries/[^/]+/result$",
                  "description": "Required. Name of the asynchronous query result to get. Must be of the form `organizations/{org}/queries/{queryId}/result`.",
                  "required": true
                }
              },
              "path": "v1/{+name}",
              "id": "apigee.organizations.hostQueries.getResult"
            },
            "list": {
              "description": "Return a list of Asynchronous Queries at host level.",
              "path": "v1/{+parent}/hostQueries",
              "id": "apigee.organizations.hostQueries.list",
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^organizations/[^/]+$",
                  "description": "Required. The parent resource name. Must be of the form `organizations/{org}`.",
                  "required": true
                },
                "from": {
                  "location": "query",
                  "description": "Filter response list by returning asynchronous queries that created after this date time. Time must be in ISO date-time format like '2011-12-03T10:15:30Z'.",
                  "type": "string"
                },
                "to": {
                  "description": "Filter response list by returning asynchronous queries that created before this date time. Time must be in ISO date-time format like '2011-12-03T10:16:30Z'.",
                  "location": "query",
                  "type": "string"
                },
                "submittedBy": {
                  "type": "string",
                  "description": "Filter response list by user who submitted queries.",
                  "location": "query"
                },
                "dataset": {
                  "type": "string",
                  "location": "query",
                  "description": "Filter response list by dataset. Example: `api`, `mint`"
                },
                "inclQueriesWithoutReport": {
                  "description": "Flag to include asynchronous queries that don't have a report denifition.",
                  "location": "query",
                  "type": "string"
                },
                "status": {
                  "type": "string",
                  "location": "query",
                  "description": "Filter response list by asynchronous query status."
                },
                "envgroupHostname": {
                  "location": "query",
                  "description": "Required. Filter response list by hostname.",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleCloudApigeeV1ListAsyncQueriesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "flatPath": "v1/organizations/{organizationsId}/hostQueries",
              "parameterOrder": [
                "parent"
              ]
            },
            "getResultView": {
              "description": "",
              "id": "apigee.organizations.hostQueries.getResultView",
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. Name of the asynchronous query result view to get. Must be of the form `organizations/{org}/queries/{queryId}/resultView`.",
                  "required": true,
                  "pattern": "^organizations/[^/]+/hostQueries/[^/]+/resultView$"
                }
              },
              "response": {
                "$ref": "GoogleCloudApigeeV1AsyncQueryResultView"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/organizations/{organizationsId}/hostQueries/{hostQueriesId}/resultView",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ]
            },
            "get": {
              "response": {
                "$ref": "GoogleCloudApigeeV1AsyncQuery"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/organizations/{organizationsId}/hostQueries/{hostQueriesId}",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "description": "Get status of a query submitted at host level. If the query is still in progress, the `state` is set to \"running\" After the query has completed successfully, `state` is set to \"completed\"",
              "id": "apigee.organizations.hostQueries.get",
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. Name of the asynchronous query to get. Must be of the form `organizations/{org}/queries/{queryId}`.",
                  "required": true,
                  "pattern": "^organizations/[^/]+/hostQueries/[^/]+$"
                }
              }
            }
          }
        },
        "securityMonitoringConditions": {
          "methods": {
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudApigeeV1SecurityMonitoringCondition"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/organizations/{organizationsId}/securityMonitoringConditions",
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudApigeeV1SecurityMonitoringCondition"
              },
              "id": "apigee.organizations.securityMonitoringConditions.create",
              "path": "v1/{+parent}/securityMonitoringConditions",
              "parameters": {
                "parent": {
                  "pattern": "^organizations/[^/]+$",
                  "description": "Required. The parent resource name. Format: `organizations/{org}`",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "securityMonitoringConditionId": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Optional: The security monitoring condition id. If not specified, a monitoring condition uuid will be generated by the backend. This value should be 4-63 characters, and valid characters are /a-z-/."
                }
              },
              "description": "Create a security monitoring condition."
            },
            "delete": {
              "description": "Delete a security monitoring condition.",
              "id": "apigee.organizations.securityMonitoringConditions.delete",
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "description": "Required. The name of the security monitoring condition to delete. Format: `organizations/{org}/securityMonitoringConditions/{security_monitoring_condition}`",
                  "required": true,
                  "pattern": "^organizations/[^/]+/securityMonitoringConditions/[^/]+$",
                  "type": "string",
                  "location": "path"
                },
                "riskAssessmentType": {
                  "enumDescriptions": [
                    "Risk assessment type is not specified.",
                    "Risk assessment type is Apigee.",
                    "Risk assessment type is API Hub."
                  ],
                  "description": "Optional. The risk assessment type of the security monitoring condition. Defaults to ADVANCED_API_SECURITY.",
                  "location": "query",
                  "enum": [
                    "RISK_ASSESSMENT_TYPE_UNSPECIFIED",
                    "APIGEE",
                    "API_HUB"
                  ],
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/organizations/{organizationsId}/securityMonitoringConditions/{securityMonitoringConditionsId}",
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "response": {
                "$ref": "GoogleCloudApigeeV1ListSecurityMonitoringConditionsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/organizations/{organizationsId}/securityMonitoringConditions",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "description": "List security monitoring conditions.",
              "id": "apigee.organizations.securityMonitoringConditions.list",
              "path": "v1/{+parent}/securityMonitoringConditions",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "Optional. The maximum number of monitoring conditions to return.",
                  "type": "integer"
                },
                "filter": {
                  "description": "Optional. Filter for the monitoring conditions. When RiskAssessmentType is APIGEE, monitoring conditions can be filtered by profile and scope. For example: `profile=profile1 AND scope=env1` When RiskAssessmentType is API_HUB, monitoring conditions can be filtered by profile and api_hub_gateway. For example: `profile=profile1 AND api_hub_gateway=gateway1`",
                  "location": "query",
                  "type": "string"
                },
                "riskAssessmentType": {
                  "description": "Optional. The risk assessment type of the security monitoring condition. Defaults to ADVANCED_API_SECURITY.",
                  "enumDescriptions": [
                    "Risk assessment type is not specified.",
                    "Risk assessment type is Apigee.",
                    "Risk assessment type is API Hub."
                  ],
                  "type": "string",
                  "enum": [
                    "RISK_ASSESSMENT_TYPE_UNSPECIFIED",
                    "APIGEE",
                    "API_HUB"
                  ],
                  "location": "query"
                },
                "pageToken": {
                  "description": "Optional. A page token, received from a previous `ListSecurityMonitoringConditions` call. Provide this to retrieve the subsequent page.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "description": "Required. For a specific organization, list all the security monitoring conditions. Format: `organizations/{org}`",
                  "required": true,
                  "pattern": "^organizations/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              }
            },
            "patch": {
              "flatPath": "v1/organizations/{organizationsId}/securityMonitoringConditions/{securityMonitoringConditionsId}",
              "httpMethod": "PATCH",
              "request": {
                "$ref": "GoogleCloudApigeeV1SecurityMonitoringCondition"
              },
              "response": {
                "$ref": "GoogleCloudApigeeV1SecurityMonitoringCondition"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "description": "Update a security monitoring condition.",
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/securityMonitoringConditions/[^/]+$",
                  "description": "Identifier. Name of the security monitoring condition resource. Format: organizations/{org}/securityMonitoringConditions/{security_monitoring_condition}",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "updateMask": {
                  "type": "string",
                  "location": "query",
                  "format": "google-fieldmask",
                  "description": "Optional. The list of fields to update. Valid fields to update are `include_all_resources` and `include`."
                }
              },
              "id": "apigee.organizations.securityMonitoringConditions.patch",
              "path": "v1/{+name}"
            },
            "get": {
              "response": {
                "$ref": "GoogleCloudApigeeV1SecurityMonitoringCondition"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "flatPath": "v1/organizations/{organizationsId}/securityMonitoringConditions/{securityMonitoringConditionsId}",
              "parameterOrder": [
                "name"
              ],
              "description": "Get a security monitoring condition.",
              "path": "v1/{+name}",
              "id": "apigee.organizations.securityMonitoringConditions.get",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^organizations/[^/]+/securityMonitoringConditions/[^/]+$",
                  "description": "Required. The name of the security monitoring condition to get. Format: `organizations/{org}/securityMonitoringConditions/{security_monitoring_condition}`",
                  "required": true
                },
                "riskAssessmentType": {
                  "location": "query",
                  "enum": [
                    "RISK_ASSESSMENT_TYPE_UNSPECIFIED",
                    "APIGEE",
                    "API_HUB"
                  ],
                  "type": "string",
                  "enumDescriptions": [
                    "Risk assessment type is not specified.",
                    "Risk assessment type is Apigee.",
                    "Risk assessment type is API Hub."
                  ],
                  "description": "Optional. The risk assessment type of the security monitoring condition. Defaults to ADVANCED_API_SECURITY."
                }
              }
            }
          }
        },
        "apiproducts": {
          "methods": {
            "delete": {
              "httpMethod": "DELETE",
              "flatPath": "v1/organizations/{organizationsId}/apiproducts/{apiproductsId}",
              "response": {
                "$ref": "GoogleCloudApigeeV1ApiProduct"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "description": "Deletes an API product from an organization. Deleting an API product causes app requests to the resource URIs defined in the API product to fail. Ensure that you create a new API product to serve existing apps, unless your intention is to disable access to the resources defined in the API product. The API product name required in the request URL is the internal name of the product, not the display name. While they may be the same, it depends on whether the API product was created via the UI or the API. View the list of API products to verify the internal name.",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. Name of the API product. Use the following structure in your request: `organizations/{org}/apiproducts/{apiproduct}` If the resource has the `space` attribute set, IAM permissions are checked against the Space resource path. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                  "required": true,
                  "pattern": "^organizations/[^/]+/apiproducts/[^/]+$"
                }
              },
              "path": "v1/{+name}",
              "id": "apigee.organizations.apiproducts.delete"
            },
            "update": {
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PUT",
              "request": {
                "$ref": "GoogleCloudApigeeV1ApiProduct"
              },
              "flatPath": "v1/organizations/{organizationsId}/apiproducts/{apiproductsId}",
              "response": {
                "$ref": "GoogleCloudApigeeV1ApiProduct"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "description": "Required. Name of the API product. Use the following structure in your request: `organizations/{org}/apiproducts/{apiproduct}` If the resource has the `space` attribute set, IAM permissions are checked against the Space resource path.To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                  "required": true,
                  "pattern": "^organizations/[^/]+/apiproducts/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "path": "v1/{+name}",
              "id": "apigee.organizations.apiproducts.update",
              "description": "Updates an existing API product. You must include all required values, whether or not you are updating them, as well as any optional values that you are updating. The API product name required in the request URL is the internal name of the product, not the display name. While they may be the same, it depends on whether the API product was created via UI or API. View the list of API products to identify their internal names. **Note:** We recommend that you avoid making concurrent update requests for the same resource. Near-simultaneous writes to the same entity can result in conflicts and unexpected behavior. Ensure operations are sequential when modifying a single resource."
            },
            "list": {
              "description": "Lists all API product names for an organization. Filter the list by passing an `attributename` and `attibutevalue`. The maximum number of API products returned is 1000. You can paginate the list of API products returned using the `startKey` and `count` query parameters. If the resource has the `space` attribute set, the response may not return all resources. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
              "id": "apigee.organizations.apiproducts.list",
              "path": "v1/{+parent}/apiproducts",
              "parameters": {
                "attributevalue": {
                  "location": "query",
                  "description": "Value of the attribute used to filter the search.",
                  "type": "string"
                },
                "attributename": {
                  "type": "string",
                  "description": "Name of the attribute used to filter the search.",
                  "location": "query"
                },
                "space": {
                  "type": "string",
                  "description": "Optional. The Space to list API products for. When none provided, all the spaces the user has list access, will be used implicitly, and the same following rules will apply. Can be used in conjunction with start_key, expand and count for paginated response. Composite queries with attributename and attributevalue are not supported yet.",
                  "location": "query"
                },
                "expand": {
                  "description": "Flag that specifies whether to expand the results. Set to `true` to get expanded details about each API.",
                  "location": "query",
                  "type": "boolean"
                },
                "count": {
                  "type": "string",
                  "location": "query",
                  "format": "int64",
                  "description": "Enter the number of API products you want returned in the API call. The limit is 1000."
                },
                "startKey": {
                  "type": "string",
                  "description": "Gets a list of API products starting with a specific API product in the list. For example, if you're returning 50 API products at a time (using the `count` query parameter), you can view products 50-99 by entering the name of the 50th API product in the first API (without using `startKey`). Product name is case sensitive.",
                  "location": "query"
                },
                "parent": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^organizations/[^/]+$",
                  "description": "Required. Name of the organization. Use the following structure in your request: `organizations/{org}` If the resource has the `space` attribute set, IAM permissions are checked against the Space resource path. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                  "required": true
                }
              },
              "response": {
                "$ref": "GoogleCloudApigeeV1ListApiProductsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/organizations/{organizationsId}/apiproducts",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ]
            },
            "create": {
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudApigeeV1ApiProduct"
              },
              "flatPath": "v1/organizations/{organizationsId}/apiproducts",
              "response": {
                "$ref": "GoogleCloudApigeeV1ApiProduct"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "description": "Creates an API product in an organization. You create API products after you have proxied backend services using API proxies. An API product is a collection of API resources combined with quota settings and metadata that you can use to deliver customized and productized API bundles to your developer community. This metadata can include: - Scope - Environments - API proxies - Extensible profile API products enable you repackage APIs on the fly, without having to do any additional coding or configuration. Apigee recommends that you start with a simple API product including only required elements. You then provision credentials to apps to enable them to start testing your APIs. After you have authentication and authorization working against a simple API product, you can iterate to create finer-grained API products, defining different sets of API resources for each API product. **WARNING:** - If you don't specify an API proxy in the request body, *any* app associated with the product can make calls to *any* API in your entire organization. - If you don't specify an environment in the request body, the product allows access to all environments. For more information, see What is an API product?",
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. Name of the organization in which the API product will be created. Use the following structure in your request: `organizations/{org}` If the resource has the `space` attribute set, IAM permissions are checked against the Space resource path. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                  "required": true,
                  "pattern": "^organizations/[^/]+$"
                }
              },
              "path": "v1/{+parent}/apiproducts",
              "id": "apigee.organizations.apiproducts.create"
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudApigeeV1ApiProduct"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "flatPath": "v1/organizations/{organizationsId}/apiproducts/{apiproductsId}",
              "path": "v1/{+name}",
              "id": "apigee.organizations.apiproducts.get",
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/apiproducts/[^/]+$",
                  "description": "Required. Name of the API product. Use the following structure in your request: `organizations/{org}/apiproducts/{apiproduct}` If the resource has the `space` attribute set, IAM permissions are checked against the Space resource path. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "description": "Gets configuration details for an API product. The API product name required in the request URL is the internal name of the product, not the display name. While they may be the same, it depends on whether the API product was created via the UI or the API. View the list of API products to verify the internal name."
            },
            "move": {
              "flatPath": "v1/organizations/{organizationsId}/apiproducts/{apiproductsId}:move",
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudApigeeV1MoveApiProductRequest"
              },
              "response": {
                "$ref": "GoogleCloudApigeeV1ApiProduct"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "description": "Moves an API product to a different space.",
              "parameters": {
                "name": {
                  "description": "Required. API product to move in the following format: `organizations/{org}/apiproducts/{apiproduct}",
                  "required": true,
                  "pattern": "^organizations/[^/]+/apiproducts/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "id": "apigee.organizations.apiproducts.move",
              "path": "v1/{+name}:move"
            },
            "attributes": {
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudApigeeV1Attributes"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/organizations/{organizationsId}/apiproducts/{apiproductsId}/attributes",
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudApigeeV1Attributes"
              },
              "id": "apigee.organizations.apiproducts.attributes",
              "path": "v1/{+name}/attributes",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. Name of the API product. Use the following structure in your request: `organizations/{org}/apiproducts/{apiproduct}` If the API Product resource has the `space` attribute set, IAM permissions are checked against the Space resource path. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                  "required": true,
                  "pattern": "^organizations/[^/]+/apiproducts/[^/]+$"
                }
              },
              "description": "Updates or creates API product attributes. This API **replaces** the current list of attributes with the attributes specified in the request body. In this way, you can update existing attributes, add new attributes, or delete existing attributes by omitting them from the request body. **Note**: OAuth access tokens and Key Management Service (KMS) entities (apps, developers, and API products) are cached for 180 seconds (current default). Any custom attributes associated with entities also get cached for at least 180 seconds after entity is accessed during runtime. In this case, the `ExpiresIn` element on the OAuthV2 policy won't be able to expire an access token in less than 180 seconds."
            }
          },
          "resources": {
            "attributes": {
              "methods": {
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1/organizations/{organizationsId}/apiproducts/{apiproductsId}/attributes/{attributesId}",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1Attribute"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/apiproducts/[^/]+/attributes/[^/]+$",
                      "description": "Required. Name of the API product attribute. Use the following structure in your request: `organizations/{org}/apiproducts/{apiproduct}/attributes/{attribute}` If the API Product resource has the `space` attribute set, IAM permissions are checked against the Space resource path. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "id": "apigee.organizations.apiproducts.attributes.get",
                  "description": "Gets the value of an API product attribute."
                },
                "delete": {
                  "id": "apigee.organizations.apiproducts.attributes.delete",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/apiproducts/[^/]+/attributes/[^/]+$",
                      "description": "Required. Name of the API product attribute. Use the following structure in your request: `organizations/{org}/apiproducts/{apiproduct}/attributes/{attribute}` If the API Product resource has the `space` attribute set, IAM permissions are checked against the Space resource path. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                      "required": true
                    }
                  },
                  "description": "Deletes an API product attribute.",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApigeeV1Attribute"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/apiproducts/{apiproductsId}/attributes/{attributesId}",
                  "httpMethod": "DELETE"
                },
                "updateApiProductAttribute": {
                  "description": "Updates the value of an API product attribute. **Note**: OAuth access tokens and Key Management Service (KMS) entities (apps, developers, and API products) are cached for 180 seconds (current default). Any custom attributes associated with entities also get cached for at least 180 seconds after entity is accessed during runtime. In this case, the `ExpiresIn` element on the OAuthV2 policy won't be able to expire an access token in less than 180 seconds.",
                  "id": "apigee.organizations.apiproducts.attributes.updateApiProductAttribute",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/apiproducts/[^/]+/attributes/[^/]+$",
                      "description": "Required. Name of the API product. Use the following structure in your request: `organizations/{org}/apiproducts/{apiproduct}` If the API Product resource has the `space` attribute set, IAM permissions are checked against the Space resource path. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudApigeeV1Attribute"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/apiproducts/{apiproductsId}/attributes/{attributesId}",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudApigeeV1Attribute"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "parameters": {
                    "parent": {
                      "description": "Required. Name of the API product. Use the following structure in your request: `organizations/{org}/apiproducts/{apiproduct}` If the API Product resource has the `space` attribute set, IAM permissions are checked against the Space resource path. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                      "required": true,
                      "pattern": "^organizations/[^/]+/apiproducts/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "path": "v1/{+parent}/attributes",
                  "id": "apigee.organizations.apiproducts.attributes.list",
                  "description": "Lists all API product attributes.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1/organizations/{organizationsId}/apiproducts/{apiproductsId}/attributes",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1Attributes"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "rateplans": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ListRatePlansResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1/organizations/{organizationsId}/apiproducts/{apiproductsId}/rateplans",
                  "path": "v1/{+parent}/rateplans",
                  "id": "apigee.organizations.apiproducts.rateplans.list",
                  "parameters": {
                    "state": {
                      "enum": [
                        "STATE_UNSPECIFIED",
                        "DRAFT",
                        "PUBLISHED"
                      ],
                      "type": "string",
                      "location": "query",
                      "enumDescriptions": [
                        "State of the rate plan is not specified.",
                        "Rate plan is in draft mode and only visible to API providers.",
                        "Rate plan is published and will become visible to developers for the configured duration (between `startTime` and `endTime`)."
                      ],
                      "description": "State of the rate plans (`DRAFT`, `PUBLISHED`) that you want to display."
                    },
                    "orderBy": {
                      "type": "string",
                      "location": "query",
                      "description": "Name of the attribute used for sorting. Valid values include: * `name`: Name of the rate plan. * `state`: State of the rate plan (`DRAFT`, `PUBLISHED`). * `startTime`: Time when the rate plan becomes active. * `endTime`: Time when the rate plan expires. **Note**: Not supported by Apigee at this time."
                    },
                    "expand": {
                      "location": "query",
                      "description": "Flag that specifies whether to expand the results. Set to `true` to get expanded details about each API. Defaults to `false`.",
                      "type": "boolean"
                    },
                    "startKey": {
                      "description": "Name of the rate plan from which to start displaying the list of rate plans. If omitted, the list starts from the first item. For example, to view the rate plans from 51-150, set the value of `startKey` to the name of the 51st rate plan and set the value of `count` to 100.",
                      "location": "query",
                      "type": "string"
                    },
                    "count": {
                      "description": "Number of rate plans to return in the API call. Use with the `startKey` parameter to provide more targeted filtering. The maximum limit is 1000. Defaults to 100.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "parent": {
                      "description": "Required. Name of the API product. Use the following structure in your request: `organizations/{org}/apiproducts/{apiproduct}` Use `organizations/{org}/apiproducts/-` to return rate plans for all API products within the organization. If the API Product resource has the `space` attribute set, IAM permissions are checked against the Space resource path. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                      "required": true,
                      "pattern": "^organizations/[^/]+/apiproducts/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "description": "Lists all the rate plans for an API product."
                },
                "update": {
                  "id": "apigee.organizations.apiproducts.rateplans.update",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the rate plan. Use the following structure in your request: `organizations/{org}/apiproducts/{apiproduct}/rateplans/{rateplan}` If the API Product resource has the `space` attribute set, IAM permissions are checked against the Space resource path. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                      "required": true,
                      "pattern": "^organizations/[^/]+/apiproducts/[^/]+/rateplans/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "description": "Updates an existing rate plan.",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApigeeV1RatePlan"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/apiproducts/{apiproductsId}/rateplans/{rateplansId}",
                  "httpMethod": "PUT",
                  "request": {
                    "$ref": "GoogleCloudApigeeV1RatePlan"
                  }
                },
                "delete": {
                  "description": "Deletes a rate plan.",
                  "id": "apigee.organizations.apiproducts.rateplans.delete",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. ID of the rate plan. Use the following structure in your request: `organizations/{org}/apiproducts/{apiproduct}/rateplans/{rateplan}` If the API Product resource has the `space` attribute set, IAM permissions are checked against the Space resource path. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                      "required": true,
                      "pattern": "^organizations/[^/]+/apiproducts/[^/]+/rateplans/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudApigeeV1RatePlan"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/apiproducts/{apiproductsId}/rateplans/{rateplansId}",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "create": {
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. Name of the API product that is associated with the rate plan. Use the following structure in your request: `organizations/{org}/apiproducts/{apiproduct}` If the API Product resource has the `space` attribute set, IAM permissions are checked against the Space resource path. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                      "required": true,
                      "pattern": "^organizations/[^/]+/apiproducts/[^/]+$"
                    }
                  },
                  "id": "apigee.organizations.apiproducts.rateplans.create",
                  "path": "v1/{+parent}/rateplans",
                  "description": "Create a rate plan that is associated with an API product in an organization. Using rate plans, API product owners can monetize their API products by configuring one or more of the following: - Billing frequency - Initial setup fees for using an API product - Payment funding model (postpaid only) - Fixed recurring or consumption-based charges for using an API product - Revenue sharing with developer partners An API product can have multiple rate plans associated with it but *only one* rate plan can be active at any point of time. **Note: From the developer's perspective, they purchase API products not rate plans.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/apiproducts/{apiproductsId}/rateplans",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudApigeeV1RatePlan"
                  },
                  "response": {
                    "$ref": "GoogleCloudApigeeV1RatePlan"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "description": "Gets the details of a rate plan.",
                  "path": "v1/{+name}",
                  "id": "apigee.organizations.apiproducts.rateplans.get",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/apiproducts/[^/]+/rateplans/[^/]+$",
                      "description": "Required. Name of the rate plan. Use the following structure in your request: `organizations/{org}/apiproducts/{apiproduct}/rateplans/{rateplan}` If the API Product resource has the `space` attribute set, IAM permissions are checked against the Space resource path. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudApigeeV1RatePlan"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1/organizations/{organizationsId}/apiproducts/{apiproductsId}/rateplans/{rateplansId}",
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            }
          }
        },
        "dnsZones": {
          "methods": {
            "create": {
              "description": "Creates a new DNS zone.",
              "id": "apigee.organizations.dnsZones.create",
              "path": "v1/{+parent}/dnsZones",
              "parameters": {
                "parent": {
                  "pattern": "^organizations/[^/]+$",
                  "description": "Required. Organization where the DNS zone will be created.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "dnsZoneId": {
                  "type": "string",
                  "description": "Required. User assigned ID for this resource. Must be unique within the organization. The name must be 1-63 characters long, must begin with a letter, end with a letter or digit, and only contain lowercase letters, digits or dashes.",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/organizations/{organizationsId}/dnsZones",
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudApigeeV1DnsZone"
              },
              "parameterOrder": [
                "parent"
              ]
            },
            "get": {
              "path": "v1/{+name}",
              "id": "apigee.organizations.dnsZones.get",
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/dnsZones/[^/]+$",
                  "description": "Required. Name of the DNS zone to fetch. Use the following structure in your request: `organizations/{org}/dnsZones/{dns_zone}`.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "description": "Fetches the representation of an existing DNS zone.",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudApigeeV1DnsZone"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "flatPath": "v1/organizations/{organizationsId}/dnsZones/{dnsZonesId}"
            },
            "delete": {
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^organizations/[^/]+/dnsZones/[^/]+$",
                  "description": "Required. Name of the DNS zone to delete. Use the following structure in your request: `organizations/{org}/dnsZones/{dns_zone}`.",
                  "required": true
                }
              },
              "path": "v1/{+name}",
              "id": "apigee.organizations.dnsZones.delete",
              "description": "Deletes a previously created DNS zone.",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "flatPath": "v1/organizations/{organizationsId}/dnsZones/{dnsZonesId}",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "description": "Enumerates DNS zones that have been created but not yet deleted.",
              "parameters": {
                "parent": {
                  "description": "Required. Name of the organization for which to list the DNS zones. Use the following structure in your request: `organizations/{org}`",
                  "required": true,
                  "pattern": "^organizations/[^/]+$",
                  "type": "string",
[...]
