{
  "ownerName": "Google",
  "baseUrl": "https://apihub.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "mtlsRootUrl": "https://apihub.mtls.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/apihub.readonly": {
          "description": "See your Google Cloud API hub data and the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/apihub.readwrite": {
          "description": "See, edit, configure, and delete your Google Cloud API hub data and see the email address for your Google Account"
        }
      }
    }
  },
  "description": "",
  "servicePath": "",
  "version": "v1",
  "canonicalName": "API hub",
  "version_module": true,
  "endpoints": [
    {
      "endpointUrl": "https://apihub.asia-east1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-east1"
    },
    {
      "location": "asia-south1",
      "endpointUrl": "https://apihub.asia-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-southeast1",
      "endpointUrl": "https://apihub.asia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-north1",
      "endpointUrl": "https://apihub.europe-north1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west1",
      "endpointUrl": "https://apihub.europe-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://apihub.europe-west9.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west9"
    },
    {
      "location": "us-central1",
      "endpointUrl": "https://apihub.us-central1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://apihub.us-east1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east1"
    },
    {
      "location": "us-west1",
      "endpointUrl": "https://apihub.us-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    }
  ],
  "protocol": "rest",
  "documentationLink": "https://cloud.google.com/apigee/docs/api-hub/what-is-api-hub",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "rootUrl": "https://apihub.googleapis.com/",
  "discoveryVersion": "v1",
  "name": "apihub",
  "basePath": "",
  "title": "API hub API",
  "parameters": {
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    }
  },
  "ownerDomain": "google.com",
  "id": "apihub:v1",
  "revision": "20260622",
  "schemas": {
    "GoogleCloudApihubV1ListRuntimeProjectAttachmentsResponse": {
      "properties": {
        "runtimeProjectAttachments": {
          "type": "array",
          "description": "List of runtime project attachments.",
          "items": {
            "$ref": "GoogleCloudApihubV1RuntimeProjectAttachment"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "GoogleCloudApihubV1ListRuntimeProjectAttachmentsResponse",
      "description": "The ListRuntimeProjectAttachments method's response.",
      "type": "object"
    },
    "GoogleCloudApihubV1FetchAdditionalSpecContentResponse": {
      "properties": {
        "additionalSpecContent": {
          "description": "The additional spec content.",
          "$ref": "GoogleCloudApihubV1AdditionalSpecContent"
        }
      },
      "id": "GoogleCloudApihubV1FetchAdditionalSpecContentResponse",
      "description": "The FetchAdditionalSpecContent method's response.",
      "type": "object"
    },
    "GoogleCloudApihubV1AttributeValues": {
      "description": "The attribute values associated with resource.",
      "type": "object",
      "properties": {
        "attribute": {
          "description": "Output only. The name of the attribute. Format: projects/{project}/locations/{location}/attributes/{attribute}",
          "readOnly": true,
          "type": "string"
        },
        "jsonValues": {
          "$ref": "GoogleCloudApihubV1StringAttributeValues",
          "description": "The attribute values associated with a resource in case attribute data type is JSON."
        },
        "enumValues": {
          "$ref": "GoogleCloudApihubV1EnumAttributeValues",
          "description": "The attribute values associated with a resource in case attribute data type is enum."
        },
        "stringValues": {
          "description": "The attribute values associated with a resource in case attribute data type is string.",
          "$ref": "GoogleCloudApihubV1StringAttributeValues"
        },
        "uriValues": {
          "$ref": "GoogleCloudApihubV1StringAttributeValues",
          "description": "The attribute values associated with a resource in case attribute data type is URL, URI or IP, like gs://bucket-name/object-name."
        }
      },
      "id": "GoogleCloudApihubV1AttributeValues"
    },
    "GoogleCloudApihubV1GatewayPluginConfig": {
      "description": "Configuration for a gateway plugin. This is used to specify configs for different gateways.",
      "type": "object",
      "properties": {
        "apigeeOpdkConfig": {
          "description": "Configuration for Apigee OPDK gateways.",
          "$ref": "GoogleCloudApihubV1ApigeeOPDKConfig"
        },
        "apigeeXHybridConfig": {
          "description": "Configuration for Apigee X and Apigee Hybrid gateways.",
          "$ref": "GoogleCloudApihubV1ApigeeXHybridConfig"
        },
        "pluginInstance": {
          "description": "Required. The name of the gateway plugin instance for which the config is to be specified. Format: projects/{project}/locations/{location}/plugins/{plugin}/pluginInstances/{plugin_instance}",
          "type": "string"
        },
        "apigeeEdgeConfig": {
          "$ref": "GoogleCloudApihubV1ApigeeEdgeConfig",
          "description": "Configuration for Apigee Edge gateways."
        }
      },
      "id": "GoogleCloudApihubV1GatewayPluginConfig"
    },
    "GoogleCloudApihubV1ApigeeXHybridConfig": {
      "id": "GoogleCloudApihubV1ApigeeXHybridConfig",
      "properties": {
        "environmentFilter": {
          "$ref": "GoogleCloudApihubV1EnvironmentFilter",
          "description": "Optional. The filter to apply on the resources managed by the gateway plugin instance. If provided this filter applies environment specific filtering."
        }
      },
      "type": "object",
      "description": "Configuration for Apigee X and Apigee Hybrid gateways. Applicability of a filter is determined by the filter being provided. If none of the filters are provided the addon will be enabled for all data brought in by the gateway plugin instance."
    },
    "GoogleCloudApihubV1DiscoveredApiObservation": {
      "id": "GoogleCloudApihubV1DiscoveredApiObservation",
      "properties": {
        "apiOperationCount": {
          "type": "string",
          "description": "Optional. The number of observed API Operations.",
          "format": "int64"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the discovered API Observation. Format: `projects/{project}/locations/{location}/discoveredApiObservations/{discovered_api_observation}`"
        },
        "sourceTypes": {
          "items": {
            "type": "string",
            "enum": [
              "SOURCE_TYPE_UNSPECIFIED",
              "GCP_XLB",
              "GCP_ILB"
            ],
            "enumDescriptions": [
              "Source type not specified.",
              "Google Cloud external load balancer.",
              "Google Cloud internal load balancer."
            ]
          },
          "type": "array",
          "description": "Optional. The type of the source from which the observation was collected."
        },
        "updateTime": {
          "description": "Output only. Update time stamp of the observation in API Hub.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "sourceLocations": {
          "type": "array",
          "description": "Optional. The location of the observation source.",
          "items": {
            "type": "string"
          }
        },
        "serverIps": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The IP address (IPv4 or IPv6) of the origin server that the request was sent to. This field can include port information. Examples: `\"192.168.1.1\"`, `\"10.0.0.1:80\"`, `\"FE80::0202:B3FF:FE1E:8329\"`."
        },
        "unknownOperationsCount": {
          "format": "int64",
          "description": "Output only. The number of unknown API Operations.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Create time stamp of the observation in API Hub.",
          "readOnly": true,
          "type": "string"
        },
        "style": {
          "type": "string",
          "enum": [
            "STYLE_UNSPECIFIED",
            "REST",
            "GRPC",
            "GRAPHQL"
          ],
          "description": "Optional. Style of ApiObservation",
          "enumDescriptions": [
            "Unknown style",
            "Style is Rest API",
            "Style is Grpc API",
            "Style is GraphQL API"
          ]
        },
        "origin": {
          "description": "Optional. For an observation pushed from a Google Cloud resource, this would be the Google Cloud project id.",
          "type": "string"
        },
        "knownOperationsCount": {
          "format": "int64",
          "type": "string",
          "description": "Output only. The number of known API Operations.",
          "readOnly": true
        },
        "hostname": {
          "description": "Optional. The hostname of requests processed for this Observation.",
          "type": "string"
        },
        "sourceMetadata": {
          "$ref": "GoogleCloudApihubV1SourceMetadata",
          "description": "Output only. The metadata of the source from which the observation was collected.",
          "readOnly": true
        },
        "lastEventDetectedTime": {
          "format": "google-datetime",
          "description": "Optional. Last event detected time stamp",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Respresents an API Observation observed in one of the sources."
    },
    "GoogleCloudApihubV1FlattenedApiVersionOperationDeploymentView": {
      "type": "object",
      "description": "A flattened view of an API, its version, one of its operations and one of the linked deployments. If there are no deployments linked to the operation then the result will be empty.",
      "id": "GoogleCloudApihubV1FlattenedApiVersionOperationDeploymentView",
      "properties": {
        "api": {
          "description": "Optional. The API.",
          "$ref": "GoogleCloudApihubV1Api"
        },
        "version": {
          "$ref": "GoogleCloudApihubV1Version",
          "description": "Optional. The version."
        },
        "apiOperation": {
          "$ref": "GoogleCloudApihubV1ApiOperation",
          "description": "Optional. The API operation."
        },
        "deployment": {
          "description": "Optional. The deployment.",
          "$ref": "GoogleCloudApihubV1Deployment"
        }
      }
    },
    "GoogleCloudApihubV1Config": {
      "id": "GoogleCloudApihubV1Config",
      "properties": {
        "encryptionType": {
          "type": "string",
          "enum": [
            "ENCRYPTION_TYPE_UNSPECIFIED",
            "GMEK",
            "CMEK"
          ],
          "description": "Optional. Encryption type for the region. If the encryption type is CMEK, the cmek_key_name must be provided. If no encryption type is provided, GMEK will be used.",
          "enumDescriptions": [
            "Encryption type unspecified.",
            "Default encryption using Google managed encryption key.",
            "Encryption using customer managed encryption key."
          ]
        },
        "agentRegistrySyncConfig": {
          "$ref": "GoogleCloudApihubV1AgentRegistrySyncConfig",
          "description": "Optional. The configuration for syncing MCP data in the API Hub instance to the Agent Registry."
        },
        "cmekKeyName": {
          "description": "Optional. The Customer Managed Encryption Key (CMEK) used for data encryption. The CMEK name should follow the format of `projects/([^/]+)/locations/([^/]+)/keyRings/([^/]+)/cryptoKeys/([^/]+)`, where the location must match the instance location. If the CMEK is not provided, a GMEK will be created for the instance.",
          "type": "string"
        },
        "disableSearch": {
          "type": "boolean",
          "description": "Optional. If true, the search will be disabled for the instance. The default value is false."
        },
        "vertexLocation": {
          "type": "string",
          "description": "Optional. The name of the Vertex AI location where the data store is stored."
        }
      },
      "type": "object",
      "description": "Available configurations to provision an ApiHub Instance."
    },
    "GoogleCloudApihubV1ApplicationIntegrationEndpointDetails": {
      "properties": {
        "uri": {
          "description": "Required. The endpoint URI should be a valid REST URI for triggering an Application Integration. Format: `https://integrations.googleapis.com/v1/{name=projects/*/locations/*/integrations/*}:execute` or `https://{location}-integrations.googleapis.com/v1/{name=projects/*/locations/*/integrations/*}:execute`",
          "type": "string"
        },
        "triggerId": {
          "type": "string",
          "description": "Required. The API trigger ID of the Application Integration workflow."
        }
      },
      "id": "GoogleCloudApihubV1ApplicationIntegrationEndpointDetails",
      "description": "The details of the Application Integration endpoint to be triggered for curation.",
      "type": "object"
    },
    "GoogleCloudLocationLocation": {
      "type": "object",
      "description": "A resource that represents a Google Cloud location.",
      "id": "GoogleCloudLocationLocation",
      "properties": {
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata. For example the available capacity at the given location."
        }
      }
    },
    "GoogleCloudApihubV1Attribute": {
      "description": "An attribute in the API Hub. An attribute is a name value pair which can be attached to different resources in the API hub based on the scope of the attribute. Attributes can either be pre-defined by the API Hub or created by users.",
      "type": "object",
      "properties": {
        "definitionType": {
          "type": "string",
          "enum": [
            "DEFINITION_TYPE_UNSPECIFIED",
            "SYSTEM_DEFINED",
            "USER_DEFINED"
          ],
          "description": "Output only. The definition type of the attribute.",
          "readOnly": true,
          "enumDescriptions": [
            "Attribute definition type unspecified.",
            "The attribute is predefined by the API Hub. Note that only the list of allowed values can be updated in this case via UpdateAttribute method.",
            "The attribute is defined by the user."
          ]
        },
        "dataType": {
          "enumDescriptions": [
            "Attribute data type unspecified.",
            "Attribute's value is of type enum.",
            "Attribute's value is of type json.",
            "Attribute's value is of type string.",
            "Attribute's value is of type uri."
          ],
          "type": "string",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "ENUM",
            "JSON",
            "STRING",
            "URI"
          ],
          "description": "Required. The type of the data of the attribute."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the attribute in the API Hub. Format: `projects/{project}/locations/{location}/attributes/{attribute}`"
        },
        "scope": {
          "description": "Required. The scope of the attribute. It represents the resource in the API Hub to which the attribute can be linked.",
          "type": "string",
          "enum": [
            "SCOPE_UNSPECIFIED",
            "API",
            "VERSION",
            "SPEC",
            "API_OPERATION",
            "DEPLOYMENT",
            "DEPENDENCY",
            "DEFINITION",
            "EXTERNAL_API",
            "PLUGIN"
          ],
          "enumDescriptions": [
            "Scope Unspecified.",
            "Attribute can be linked to an API.",
            "Attribute can be linked to an API version.",
            "Attribute can be linked to a Spec.",
            "Attribute can be linked to an API Operation.",
            "Attribute can be linked to a Deployment.",
            "Attribute can be linked to a Dependency.",
            "Attribute can be linked to a definition.",
            "Attribute can be linked to a ExternalAPI.",
            "Attribute can be linked to a Plugin."
          ]
        },
        "cardinality": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The maximum number of values that the attribute can have when associated with an API Hub resource. Cardinality 1 would represent a single-valued attribute. It must not be less than 1 or greater than 20. If not specified, the cardinality would be set to 1 by default and represent a single-valued attribute."
        },
        "displayName": {
          "description": "Required. The display name of the attribute.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The time at which the attribute was last updated.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "mandatory": {
          "type": "boolean",
          "description": "Output only. When mandatory is true, the attribute is mandatory for the resource specified in the scope. Only System defined attributes can be mandatory.",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time at which the attribute was created.",
          "readOnly": true
        },
        "description": {
          "description": "Optional. The description of the attribute.",
          "type": "string"
        },
        "allowedValues": {
          "type": "array",
          "description": "Optional. The list of allowed values when the attribute value is of type enum. This is required when the data_type of the attribute is ENUM. The maximum number of allowed values of an attribute will be 1000.",
          "items": {
            "$ref": "GoogleCloudApihubV1AllowedValue"
          }
        }
      },
      "id": "GoogleCloudApihubV1Attribute"
    },
    "GoogleCloudApihubV1ExternalApi": {
      "properties": {
        "name": {
          "description": "Identifier. Format: `projects/{project}/locations/{location}/externalApi/{externalApi}`.",
          "type": "string"
        },
        "attributes": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudApihubV1AttributeValues"
          },
          "description": "Optional. The list of user defined attributes associated with the Version resource. The key is the attribute name. It will be of the format: `projects/{project}/locations/{location}/attributes/{attribute}`. The value is the attribute values associated with the resource."
        },
        "createTime": {
          "description": "Output only. Creation timestamp.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name of the external API. Max length is 63 characters (Unicode Code Points)."
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. Last update timestamp.",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the external API. Max length is 2000 characters (Unicode Code Points)."
        },
        "documentation": {
          "description": "Optional. Documentation of the external API.",
          "$ref": "GoogleCloudApihubV1Documentation"
        },
        "paths": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. List of paths served by this API."
        },
        "endpoints": {
          "description": "Optional. List of endpoints on which this API is accessible.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudApihubV1ExternalApi",
      "description": "An external API represents an API being provided by external sources. This can be used to model third-party APIs and can be used to define dependencies.",
      "type": "object"
    },
    "GoogleCloudApihubV1Oauth2ClientCredentialsConfig": {
      "type": "object",
      "description": "Parameters to support Oauth 2.0 client credentials grant authentication. See https://tools.ietf.org/html/rfc6749#section-1.3.4 for more details.",
      "id": "GoogleCloudApihubV1Oauth2ClientCredentialsConfig",
      "properties": {
        "clientId": {
          "type": "string",
          "description": "Required. The client identifier."
        },
        "clientSecret": {
          "$ref": "GoogleCloudApihubV1Secret",
          "description": "Required. Secret version reference containing the client secret. The `secretmanager.versions.access` permission should be granted to the service account accessing the secret."
        }
      }
    },
    "GoogleCloudApihubV1SummaryEntry": {
      "description": "Count of issues with a given severity.",
      "type": "object",
      "properties": {
        "severity": {
          "enumDescriptions": [
            "Severity unspecified.",
            "Severity error.",
            "Severity warning.",
            "Severity info.",
            "Severity hint."
          ],
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "SEVERITY_ERROR",
            "SEVERITY_WARNING",
            "SEVERITY_INFO",
            "SEVERITY_HINT"
          ],
          "description": "Required. Severity of the issue."
        },
        "count": {
          "format": "int32",
          "type": "integer",
          "description": "Required. Count of issues with the given severity."
        }
      },
      "id": "GoogleCloudApihubV1SummaryEntry"
    },
    "GoogleCloudApihubV1SearchResult": {
      "description": "Represents the search results.",
      "type": "object",
      "properties": {
        "resource": {
          "$ref": "GoogleCloudApihubV1ApiHubResource",
          "description": "This represents the ApiHubResource. Note: Only selected fields of the resources are populated in response."
        }
      },
      "id": "GoogleCloudApihubV1SearchResult"
    },
    "GoogleCloudApihubV1AgentRegistrySyncConfig": {
      "type": "object",
      "description": "The configuration for Agent Registry sync.",
      "id": "GoogleCloudApihubV1AgentRegistrySyncConfig",
      "properties": {
        "disabled": {
          "description": "Optional. If true, the MCP data sync to the Agent Registry will be disabled. The default value is false.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudApihubV1LintResponse": {
      "type": "object",
      "description": "LintResponse contains the response from the linter.",
      "id": "GoogleCloudApihubV1LintResponse",
      "properties": {
        "source": {
          "type": "string",
          "description": "Required. Name of the linting application."
        },
        "linter": {
          "type": "string",
          "enum": [
            "LINTER_UNSPECIFIED",
            "SPECTRAL",
            "OTHER"
          ],
          "description": "Required. Name of the linter used.",
          "enumDescriptions": [
            "Linter type unspecified.",
            "Linter type spectral.",
            "Linter type other."
          ]
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Required. Timestamp when the linting response was generated."
        },
        "issues": {
          "items": {
            "$ref": "GoogleCloudApihubV1Issue"
          },
          "description": "Optional. Array of issues found in the analyzed document.",
          "type": "array"
        },
        "summary": {
          "description": "Optional. Summary of all issue types and counts for each severity level.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApihubV1SummaryEntry"
          }
        },
        "state": {
          "enumDescriptions": [
            "Lint state unspecified.",
            "Linting was completed successfully.",
            "Linting encountered errors."
          ],
          "description": "Required. Lint state represents success or failure for linting.",
          "type": "string",
          "enum": [
            "LINT_STATE_UNSPECIFIED",
            "LINT_STATE_SUCCESS",
            "LINT_STATE_ERROR"
          ]
        }
      }
    },
    "GoogleCloudApihubV1ResourceConfig": {
      "description": "The configuration of resources created for a given plugin instance action.",
      "type": "object",
      "properties": {
        "actionType": {
          "type": "string",
          "enum": [
            "ACTION_TYPE_UNSPECIFIED",
            "SYNC_METADATA",
            "SYNC_RUNTIME_DATA"
          ],
          "description": "Output only. The type of the action.",
          "readOnly": true,
          "enumDescriptions": [
            "Default unspecified action type.",
            "Action type for sync metadata.",
            "Action type for sync runtime data."
          ]
        },
        "pubsubTopic": {
          "description": "Output only. The pubsub topic to publish the data to. Format is projects/{project}/topics/{topic}",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleCloudApihubV1ResourceConfig"
    },
    "GoogleCloudApihubV1DeploymentMetadata": {
      "id": "GoogleCloudApihubV1DeploymentMetadata",
      "properties": {
        "originalId": {
          "type": "string",
          "description": "Optional. The unique identifier of the deployment in the system where it was originally created."
        },
        "deployment": {
          "$ref": "GoogleCloudApihubV1Deployment",
          "description": "Required. The deployment resource to be pushed to Hub's collect layer. The ID of the deployment will be generated by Hub."
        },
        "originalUpdateTime": {
          "format": "google-datetime",
          "description": "Required. Timestamp indicating when the deployment was last updated at the source.",
          "type": "string"
        },
        "originalCreateTime": {
          "type": "string",
          "description": "Optional. Timestamp indicating when the deployment was created at the source.",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "description": "The metadata associated with a deployment."
    },
    "GoogleCloudApihubV1CustomCuration": {
      "properties": {
        "curation": {
          "type": "string",
          "description": "Required. The unique name of the curation resource. This will be the name of the curation resource in the format: `projects/{project}/locations/{location}/curations/{curation}`"
        }
      },
      "id": "GoogleCloudApihubV1CustomCuration",
      "description": "Custom curation information for this plugin instance.",
      "type": "object"
    },
    "GoogleCloudApihubV1ActionExecutionDetail": {
      "description": "The details for the action to execute.",
      "type": "object",
      "properties": {
        "actionId": {
          "type": "string",
          "description": "Required. The action id of the plugin to execute."
        }
      },
      "id": "GoogleCloudApihubV1ActionExecutionDetail"
    },
    "GoogleCloudApihubV1FlattenedApiVersionDeploymentView": {
      "id": "GoogleCloudApihubV1FlattenedApiVersionDeploymentView",
      "properties": {
        "api": {
          "$ref": "GoogleCloudApihubV1Api",
          "description": "Optional. The API."
        },
        "version": {
          "description": "Optional. The version.",
          "$ref": "GoogleCloudApihubV1Version"
        },
        "deployment": {
          "$ref": "GoogleCloudApihubV1Deployment",
          "description": "Optional. The deployment."
        }
      },
      "type": "object",
      "description": "A flattened view of an API, its version and one of the linked deployments."
    },
    "GoogleCloudApihubV1ListSpecsResponse": {
      "description": "The ListSpecs method's response.",
      "type": "object",
      "properties": {
        "specs": {
          "items": {
            "$ref": "GoogleCloudApihubV1Spec"
          },
          "description": "The specs corresponding to an API Version.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "GoogleCloudApihubV1ListSpecsResponse"
    },
    "GoogleCloudApihubV1ListAttributesResponse": {
      "description": "The ListAttributes method's response.",
      "type": "object",
      "properties": {
        "attributes": {
          "items": {
            "$ref": "GoogleCloudApihubV1Attribute"
          },
          "description": "The list of all attributes.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApihubV1ListAttributesResponse"
    },
    "GoogleCloudApihubV1ApiOperation": {
      "type": "object",
      "description": "Represents an operation contained in an API version in the API Hub. An operation is added/updated/deleted in an API version when a new spec is added or an existing spec is updated/deleted in a version. Currently, an operation will be created only corresponding to OpenAPI spec as parsing is supported for OpenAPI spec. Alternatively operations can be managed via create,update and delete APIs, creation of apiOperation can be possible only for version with no parsed operations and update/delete can be possible only for operations created via create API.",
      "id": "GoogleCloudApihubV1ApiOperation",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The name of the operation. Format: `projects/{project}/locations/{location}/apis/{api}/versions/{version}/operations/{operation}`"
        },
        "spec": {
          "description": "Output only. The name of the spec will be of the format: `projects/{project}/locations/{location}/apis/{api}/versions/{version}/specs/{spec}` Note:The name of the spec will be empty if the operation is created via CreateApiOperation API.",
          "readOnly": true,
          "type": "string"
        },
        "attributes": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudApihubV1AttributeValues"
          },
          "description": "Optional. The list of user defined attributes associated with the API operation resource. The key is the attribute name. It will be of the format: `projects/{project}/locations/{location}/attributes/{attribute}`. The value is the attribute values associated with the resource."
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time at which the operation was last updated.",
          "readOnly": true
        },
        "details": {
          "$ref": "GoogleCloudApihubV1OperationDetails",
          "description": "Optional. Operation details. Note: Even though this field is optional, it is required for CreateApiOperation API and we will fail the request if not provided."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time at which the operation was created.",
          "readOnly": true,
          "type": "string"
        },
        "sourceMetadata": {
          "type": "array",
          "description": "Output only. The list of sources and metadata from the sources of the API operation.",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudApihubV1SourceMetadata"
          }
        }
      }
    },
    "GoogleRpcStatus": {
      "id": "GoogleRpcStatus",
      "properties": {
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "GoogleCloudApihubV1Definition": {
      "properties": {
        "updateTime": {
          "description": "Output only. The time at which the definition was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time at which the definition was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "schema": {
          "$ref": "GoogleCloudApihubV1Schema",
          "description": "Output only. The value of a schema definition.",
          "readOnly": true
        },
        "attributes": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudApihubV1AttributeValues"
          },
          "description": "Optional. The list of user defined attributes associated with the definition resource. The key is the attribute name. It will be of the format: `projects/{project}/locations/{location}/attributes/{attribute}`. The value is the attribute values associated with the resource."
        },
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "SCHEMA"
          ],
          "enumDescriptions": [
            "Definition type unspecified.",
            "Definition type schema."
          ],
          "description": "Output only. The type of the definition.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the definition. Format: `projects/{project}/locations/{location}/apis/{api}/versions/{version}/definitions/{definition}`"
        },
        "spec": {
          "type": "string",
          "description": "Output only. The name of the spec from where the definition was parsed. Format is `projects/{project}/locations/{location}/apis/{api}/versions/{version}/specs/{spec}`",
          "readOnly": true
        }
      },
      "id": "GoogleCloudApihubV1Definition",
      "description": "Represents a definition for example schema, request, response definitions contained in an API version. A definition is added/updated/deleted in an API version when a new spec is added or an existing spec is updated/deleted in a version. Currently, definition will be created only corresponding to OpenAPI spec as parsing is supported for OpenAPI spec. Also, within OpenAPI spec, only `schema` object is supported.",
      "type": "object"
    },
    "GoogleLongrunningListOperationsResponse": {
      "type": "object",
      "description": "The response message for Operations.ListOperations.",
      "id": "GoogleLongrunningListOperationsResponse",
      "properties": {
        "operations": {
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "GoogleLongrunningOperation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array"
        }
      }
    },
    "GoogleCloudApihubV1GoogleServiceAccountConfig": {
      "type": "object",
      "description": "Config for Google service account authentication.",
      "id": "GoogleCloudApihubV1GoogleServiceAccountConfig",
      "properties": {
        "serviceAccount": {
          "description": "Required. The service account to be used for authenticating request. The `iam.serviceAccounts.getAccessToken` permission should be granted on this service account to the impersonator service account.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApihubV1AuthConfig": {
      "id": "GoogleCloudApihubV1AuthConfig",
      "properties": {
        "googleServiceAccountConfig": {
          "description": "Google Service Account.",
          "$ref": "GoogleCloudApihubV1GoogleServiceAccountConfig"
        },
        "oauth2ClientCredentialsConfig": {
          "description": "Oauth2.0 Client Credentials.",
          "$ref": "GoogleCloudApihubV1Oauth2ClientCredentialsConfig"
        },
        "authType": {
          "type": "string",
          "enum": [
            "AUTH_TYPE_UNSPECIFIED",
            "NO_AUTH",
            "GOOGLE_SERVICE_ACCOUNT",
            "USER_PASSWORD",
            "API_KEY",
            "OAUTH2_CLIENT_CREDENTIALS"
          ],
          "description": "Required. The authentication type.",
          "enumDescriptions": [
            "Authentication type not specified.",
            "No authentication.",
            "Google service account authentication.",
            "Username and password authentication.",
            "API Key authentication.",
            "Oauth 2.0 client credentials grant authentication."
          ]
        },
        "userPasswordConfig": {
          "description": "User Password.",
          "$ref": "GoogleCloudApihubV1UserPasswordConfig"
        },
        "apiKeyConfig": {
          "description": "Api Key Config.",
          "$ref": "GoogleCloudApihubV1ApiKeyConfig"
        }
      },
      "type": "object",
      "description": "AuthConfig represents the authentication information."
    },
    "GoogleCloudApihubV1PluginInstanceActionID": {
      "id": "GoogleCloudApihubV1PluginInstanceActionID",
      "properties": {
        "pluginInstance": {
          "type": "string",
          "description": "Output only. Plugin instance that is using the curation. Format is `projects/{project}/locations/{location}/plugins/{plugin}/instances/{instance}`",
          "readOnly": true
        },
        "actionId": {
          "description": "Output only. The action ID that is using the curation. This should map to one of the action IDs specified in action configs in the plugin.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "description": "The plugin instance and associated action that is using the curation."
    },
    "GoogleCloudApihubV1AdditionalSpecContent": {
      "properties": {
        "specContentType": {
          "enumDescriptions": [
            "Unspecified spec content type. Defaults to spec content uploaded by the user.",
            "The spec content type for boosted spec.",
            "The spec content type for OpenAPI spec. This enum is used for OpenAPI specs ingested via APIGEE X Gateway."
          ],
          "type": "string",
          "enum": [
            "SPEC_CONTENT_TYPE_UNSPECIFIED",
            "BOOSTED_SPEC_CONTENT",
            "GATEWAY_OPEN_API_SPEC"
          ],
          "description": "Required. The type of the spec content."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time at which the spec content was created.",
          "readOnly": true,
          "type": "string"
        },
        "specContents": {
          "$ref": "GoogleCloudApihubV1SpecContents",
          "description": "Optional. The additional spec contents."
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The time at which the spec content was last updated.",
          "readOnly": true,
          "type": "string"
        },
        "labels": {
          "description": "Optional. The labels of the spec content e.g. specboost addon version.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudApihubV1AdditionalSpecContent",
      "description": "The additional spec content for the spec. This contains the metadata and the last update time for the additional spec content.",
      "type": "object"
    },
    "GoogleCloudApihubV1HostingService": {
      "properties": {
        "serviceUri": {
          "type": "string",
          "description": "Optional. The URI of the service implemented by the plugin developer, used to invoke the plugin's functionality. This information is only required for user defined plugins."
        }
      },
      "id": "GoogleCloudApihubV1HostingService",
      "description": "The information related to the service implemented by the plugin developer, used to invoke the plugin's functionality.",
      "type": "object"
    },
    "GoogleCloudApihubV1ListHostProjectRegistrationsResponse": {
      "description": "The ListHostProjectRegistrations method's response.",
      "type": "object",
      "properties": {
        "hostProjectRegistrations": {
          "type": "array",
          "description": "The list of host project registrations.",
          "items": {
            "$ref": "GoogleCloudApihubV1HostProjectRegistration"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "GoogleCloudApihubV1ListHostProjectRegistrationsResponse"
    },
    "GoogleCloudApihubV1EnablePluginRequest": {
      "id": "GoogleCloudApihubV1EnablePluginRequest",
      "properties": {},
      "type": "object",
      "description": "The EnablePlugin method's request."
    },
    "GoogleCloudApihubV1Documentation": {
      "description": "Documentation details.",
      "type": "object",
      "properties": {
        "externalUri": {
          "type": "string",
          "description": "Optional. The uri of the externally hosted documentation."
        }
      },
      "id": "GoogleCloudApihubV1Documentation"
    },
    "GoogleCloudApihubV1Range": {
      "type": "object",
      "description": "Object describing where in the file the issue was found.",
      "id": "GoogleCloudApihubV1Range",
      "properties": {
        "start": {
          "$ref": "GoogleCloudApihubV1Point",
          "description": "Required. Start of the issue."
        },
        "end": {
          "$ref": "GoogleCloudApihubV1Point",
          "description": "Required. End of the issue."
        }
      }
    },
    "GoogleCloudApihubV1UserPasswordConfig": {
      "properties": {
        "password": {
          "$ref": "GoogleCloudApihubV1Secret",
          "description": "Required. Secret version reference containing the password. The `secretmanager.versions.access` permission should be granted to the service account accessing the secret."
        },
        "username": {
          "description": "Required. Username.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApihubV1UserPasswordConfig",
      "description": "Parameters to support Username and Password Authentication.",
      "type": "object"
    },
    "GoogleCloudApihubV1PathParam": {
      "description": "HTTP Path parameter.",
      "type": "object",
      "properties": {
        "position": {
          "format": "int32",
          "description": "Optional. Segment location in the path, 1-indexed",
          "type": "integer"
        },
        "dataType": {
          "enumDescriptions": [
            "Unspecified data type",
            "Boolean data type",
            "Integer data type",
            "Float data type",
            "String data type",
            "UUID data type"
          ],
          "type": "string",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "BOOL",
            "INTEGER",
            "FLOAT",
            "STRING",
            "UUID"
          ],
          "description": "Optional. Data type of path param"
        }
      },
      "id": "GoogleCloudApihubV1PathParam"
    },
    "GoogleCloudApihubV1ToolAnnotations": {
      "id": "GoogleCloudApihubV1ToolAnnotations",
      "properties": {
        "openWorldHint": {
          "description": "Optional. Hint indicating if the tool interacts with the open world (e.g., internet).",
          "type": "boolean"
        },
        "destructiveHint": {
          "description": "Optional. Hint indicating if the tool may have destructive side effects.",
          "type": "boolean"
        },
        "readOnlyHint": {
          "description": "Optional. Hint indicating if the tool is read-only.",
          "type": "boolean"
        },
        "idempotentHint": {
          "description": "Optional. Hint indicating if the tool is idempotent.",
          "type": "boolean"
        },
        "title": {
          "type": "string",
          "description": "Optional. A human-readable title for the tool (if different from Tool.title)."
        },
        "additionalHints": {
          "description": "Optional. Additional hints which may help tools and not covered in defaults.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Annotations for a Tool."
    },
    "GoogleCloudApihubV1ListPluginInstancesResponse": {
      "type": "object",
      "description": "The ListPluginInstances method's response.",
      "id": "GoogleCloudApihubV1ListPluginInstancesResponse",
      "properties": {
        "pluginInstances": {
          "items": {
            "$ref": "GoogleCloudApihubV1PluginInstance"
          },
          "description": "The plugin instances from the specified parent resource.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApihubV1APIMetadata": {
      "type": "object",
      "description": "The API metadata.",
      "id": "GoogleCloudApihubV1APIMetadata",
      "properties": {
        "originalId": {
          "type": "string",
          "description": "Optional. The unique identifier of the API in the system where it was originally created."
        },
        "originalUpdateTime": {
          "description": "Required. Timestamp indicating when the API was last updated at the source.",
          "type": "string",
          "format": "google-datetime"
        },
        "versions": {
          "type": "array",
          "description": "Optional. The list of versions present in an API resource.",
          "items": {
            "$ref": "GoogleCloudApihubV1VersionMetadata"
          }
        },
        "originalCreateTime": {
          "description": "Optional. Timestamp indicating when the API was created at the source.",
          "type": "string",
          "format": "google-datetime"
        },
        "api": {
          "$ref": "GoogleCloudApihubV1Api",
          "description": "Required. The API resource to be pushed to Hub's collect layer. The ID of the API resource will be generated by Hub to ensure uniqueness across all APIs across systems."
        }
      }
    },
    "GoogleCloudApihubV1Endpoint": {
      "properties": {
        "applicationIntegrationEndpointDetails": {
          "$ref": "GoogleCloudApihubV1ApplicationIntegrationEndpointDetails",
          "description": "Required. The details of the Application Integration endpoint to be triggered for curation."
        }
      },
      "id": "GoogleCloudApihubV1Endpoint",
      "description": "The endpoint to be triggered for curation. The endpoint will be invoked with a request payload containing ApiMetadata. Response should contain curated data in the form of ApiMetadata.",
      "type": "object"
    },
    "GoogleCloudApihubV1HostProjectRegistration": {
      "properties": {
        "gcpProject": {
          "type": "string",
          "description": "Required. Immutable. Google cloud project name in the format: \"projects/abc\" or \"projects/123\". As input, project name with either project id or number are accepted. As output, this field will contain project number."
        },
        "createTime": {
          "description": "Output only. The time at which the host project registration was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "description": "Identifier. The name of the host project registration. Format: \"projects/{project}/locations/{location}/hostProjectRegistrations/{host_project_registration}\".",
          "type": "string"
        }
      },
      "id": "GoogleCloudApihubV1HostProjectRegistration",
      "description": "Host project registration refers to the registration of a Google cloud project with Api Hub as a host project. This is the project where Api Hub is provisioned. It acts as the consumer project for the Api Hub instance provisioned. Multiple runtime projects can be attached to the host project and these attachments define the scope of Api Hub.",
      "type": "object"
    },
    "GoogleCloudApihubV1MultiSelectValues": {
      "id": "GoogleCloudApihubV1MultiSelectValues",
      "properties": {
        "values": {
          "items": {
            "$ref": "GoogleCloudApihubV1ConfigValueOption"
          },
          "description": "Optional. The config variable value of data type multi select.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "The config variable value of data type multi select."
    },
    "GoogleCloudApihubV1ManagePluginInstanceSourceDataResponse": {
      "description": "The ManagePluginInstanceSourceData method's response.",
      "type": "object",
      "properties": {},
      "id": "GoogleCloudApihubV1ManagePluginInstanceSourceDataResponse"
    },
    "GoogleCloudApihubV1SpecMetadata": {
      "type": "object",
      "description": "The metadata associated with a spec of the API version.",
      "id": "GoogleCloudApihubV1SpecMetadata",
      "properties": {
        "originalUpdateTime": {
          "description": "Required. Timestamp indicating when the spec was last updated at the source.",
          "type": "string",
          "format": "google-datetime"
        },
        "originalId": {
          "type": "string",
          "description": "Optional. The unique identifier of the spec in the system where it was originally created."
        },
        "spec": {
          "$ref": "GoogleCloudApihubV1Spec",
          "description": "Required. The spec resource to be pushed to Hub's collect layer. The ID of the spec will be generated by Hub."
        },
        "originalCreateTime": {
          "type": "string",
          "description": "Optional. Timestamp indicating when the spec was created at the source.",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudApihubV1StyleGuide": {
      "description": "Represents a singleton style guide resource to be used for linting Open API specs.",
      "type": "object",
      "properties": {
        "linter": {
          "type": "string",
          "enum": [
            "LINTER_UNSPECIFIED",
            "SPECTRAL",
            "OTHER"
          ],
          "description": "Required. Target linter for the style guide.",
          "enumDescriptions": [
            "Linter type unspecified.",
            "Linter type spectral.",
            "Linter type other."
          ]
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the style guide. Format: `projects/{project}/locations/{location}/plugins/{plugin}/styleGuide`"
        },
        "contents": {
          "description": "Required. Input only. The contents of the uploaded style guide.",
          "$ref": "GoogleCloudApihubV1StyleGuideContents"
        }
      },
      "id": "GoogleCloudApihubV1StyleGuide"
    },
    "GoogleCloudApihubV1ApiView": {
      "properties": {
        "mcpServerView": {
          "$ref": "GoogleCloudApihubV1FlattenedApiVersionDeploymentView",
          "description": "MCP server view."
        },
        "mcpToolView": {
          "description": "MCP tools view.",
          "$ref": "GoogleCloudApihubV1FlattenedApiVersionOperationDeploymentView"
        }
      },
      "id": "GoogleCloudApihubV1ApiView",
      "description": "The view of an API.",
      "type": "object"
    },
    "GoogleCloudApihubV1Path": {
      "properties": {
        "path": {
          "description": "Optional. Complete path relative to server endpoint. Note: Even though this field is optional, it is required for CreateApiOperation API and we will fail the request if not provided.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. A short description for the path applicable to all operations."
        }
      },
      "id": "GoogleCloudApihubV1Path",
      "description": "The path details derived from the spec.",
      "type": "object"
    },
    "GoogleCloudApihubV1VersionMetadata": {
      "type": "object",
      "description": "The metadata associated with a version of the API resource.",
      "id": "GoogleCloudApihubV1VersionMetadata",
      "properties": {
        "specs": {
          "items": {
            "$ref": "GoogleCloudApihubV1SpecMetadata"
          },
          "type": "array",
          "description": "Optional. The specs associated with this version. Note that an API version can be associated with multiple specs."
        },
        "originalCreateTime": {
          "type": "string",
          "description": "Optional. Timestamp indicating when the version was created at the source.",
          "format": "google-datetime"
        },
        "version": {
          "$ref": "GoogleCloudApihubV1Version",
          "description": "Required. Represents a version of the API resource in API hub. The ID of the version will be generated by Hub."
        },
        "deployments": {
          "items": {
            "$ref": "GoogleCloudApihubV1DeploymentMetadata"
          },
          "description": "Optional. The deployments linked to this API version. Note: A particular API version could be deployed to multiple deployments (for dev deployment, UAT deployment, etc.)",
          "type": "array"
        },
        "originalUpdateTime": {
          "format": "google-datetime",
          "description": "Required. Timestamp indicating when the version was last updated at the source.",
          "type": "string"
        },
        "originalId": {
          "type": "string",
          "description": "Optional. The unique identifier of the version in the system where it was originally created."
        }
      }
    },
    "GoogleCloudApihubV1HttpOperationDetails": {
      "type": "object",
      "description": "An HTTP-based API Operation, sometimes called a \"REST\" Operation.",
      "id": "GoogleCloudApihubV1HttpOperationDetails",
      "properties": {
        "pathParams": {
          "description": "Optional. Path params of HttpOperation",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApihubV1PathParam"
          }
        },
        "queryParams": {
          "description": "Optional. Query params of HttpOperation",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudApihubV1QueryParam"
          }
        },
        "response": {
          "description": "Optional. Response metadata.",
          "$ref": "GoogleCloudApihubV1HttpResponse"
        },
        "httpOperation": {
          "description": "Required. An HTTP Operation.",
          "$ref": "GoogleCloudApihubV1HttpOperation"
        },
        "request": {
          "description": "Optional. Request metadata.",
          "$ref": "GoogleCloudApihubV1HttpRequest"
        }
      }
    },
    "GoogleCloudApihubV1OperationMetadata": {
      "description": "Represents the metadata of the long-running operation.",
      "type": "object",
      "properties": {
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true,
          "type": "string"
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "apiVersion": {
          "type": "string",
          "description": "Output only. API version used to start the operation.",
          "readOnly": true
        }
      },
      "id": "GoogleCloudApihubV1OperationMetadata"
    },
    "GoogleCloudApihubV1Curation": {
      "properties": {
        "lastExecutionErrorCode": {
          "type": "string",
          "enum": [
            "ERROR_CODE_UNSPECIFIED",
            "INTERNAL_ERROR",
            "UNAUTHORIZED"
          ],
          "enumDescriptions": [
            "Default unspecified error code.",
            "The execution failed due to an internal error.",
            "The curation is not authorized to trigger the endpoint uri."
          ],
          "description": "Output only. The error code of the last execution of the curation. The error code is populated only when the last execution state is failed.",
          "readOnly": true
        },
        "lastExecutionState": {
          "enumDescriptions": [
            "Default unspecified state.",
            "The last curation execution was successful.",
            "The last curation execution failed."
          ],
          "description": "Output only. The last execution state of the curation.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "LAST_EXECUTION_STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED"
          ]
        },
        "lastExecutionErrorMessage": {
          "type": "string",
          "description": "Output only. Error message describing the failure, if any, during the last execution of the curation.",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The time at which the curation was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "displayName": {
          "type": "string",
          "description": "Required. The display name of the curation."
        },
        "updateTime": {
          "description": "Output only. The time at which the curation was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "description": {
          "description": "Optional. The description of the curation.",
          "type": "string"
        },
        "pluginInstanceActions": {
          "type": "array",
          "description": "Output only. The plugin instances and associated actions that are using the curation. Note: A particular curation could be used by multiple plugin instances or multiple actions in a plugin instance.",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudApihubV1PluginInstanceActionID"
          }
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the curation. Format: `projects/{project}/locations/{location}/curations/{curation}`"
        },
        "endpoint": {
          "description": "Required. The endpoint to be triggered for curation.",
          "$ref": "GoogleCloudApihubV1Endpoint"
        }
      },
      "id": "GoogleCloudApihubV1Curation",
      "description": "A curation resource in the API Hub.",
      "type": "object"
    },
    "GoogleCloudApihubV1McpTool": {
      "description": "Details describing an MCP Tool.",
      "type": "object",
      "properties": {
        "outputSchema": {
          "description": "Optional. Output schema for the operation. This can be parsed only from MCP schema type.",
          "$ref": "GoogleCloudApihubV1OperationSchema"
        },
        "annotations": {
          "description": "Optional. Optional annotations for the tool.",
          "$ref": "GoogleCloudApihubV1ToolAnnotations"
        },
        "inputSchema": {
          "description": "Optional. Input schema for the operation. This can be parsed only from MCP schema type.",
          "$ref": "GoogleCloudApihubV1OperationSchema"
        },
        "title": {
          "description": "Optional. Optional title for the tool.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of what the tool does."
        },
        "name": {
          "description": "Required. The name of the tool, unique within its parent scope (version).",
          "type": "string"
        }
      },
      "id": "GoogleCloudApihubV1McpTool"
    },
    "GoogleCloudApihubV1Issue": {
      "properties": {
        "message": {
          "type": "string",
          "description": "Required. Human-readable message describing the issue found by the linter."
        },
        "path": {
          "items": {
            "type": "string"
          },
          "description": "Required. An array of strings indicating the location in the analyzed document where the rule was triggered.",
          "type": "array"
        },
        "range": {
          "$ref": "GoogleCloudApihubV1Range",
          "description": "Required. Object describing where in the file the issue was found."
        },
        "severity": {
          "enumDescriptions": [
            "Severity unspecified.",
            "Severity error.",
            "Severity warning.",
            "Severity info.",
            "Severity hint."
          ],
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "SEVERITY_ERROR",
            "SEVERITY_WARNING",
            "SEVERITY_INFO",
            "SEVERITY_HINT"
          ],
          "description": "Required. Severity level of the rule violation."
        },
        "code": {
          "description": "Required. Rule code unique to each rule defined in linter.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApihubV1Issue",
      "description": "Issue contains the details of a single issue found by the linter.",
      "type": "object"
    },
    "GoogleCloudApihubV1AllowedValue": {
      "id": "GoogleCloudApihubV1AllowedValue",
      "properties": {
        "description": {
          "description": "Optional. The detailed description of the allowed value.",
          "type": "string"
        },
        "displayName": {
          "description": "Required. The display name of the allowed value.",
          "type": "string"
        },
        "id": {
          "description": "Required. The ID of the allowed value. * If provided, the same will be used. The service will throw an error if the specified id is already used by another allowed value in the same attribute resource. * If not provided, a system generated id derived from the display name will be used. In this case, the service will handle conflict resolution by adding a system generated suffix in case of duplicates. This value should be 4-63 characters, and valid characters are /a-z-/.",
          "type": "string"
        },
        "immutable": {
          "description": "Optional. When set to true, the allowed value cannot be updated or deleted by the user. It can only be true for System defined attributes.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "The value that can be assigned to the attribute when the data type is enum."
    },
    "GoogleCloudApihubV1PluginActionConfig": {
      "type": "object",
      "description": "PluginActionConfig represents the configuration of an action supported by a plugin.",
      "id": "GoogleCloudApihubV1PluginActionConfig",
      "properties": {
        "triggerMode": {
          "enumDescriptions": [
            "Default unspecified mode.",
            "This action can be executed by invoking ExecutePluginInstanceAction API with the given action id. To support this, the plugin hosting service should handle this action id as part of execute call.",
            "This action will be executed on schedule by invoking ExecutePluginInstanceAction API with the given action id. To set the schedule, the user can provide the cron expression in the PluginAction field for a given plugin instance. To support this, the plugin hosting service should handle this action id as part of execute call. Note, on demand execution will be supported by default in this trigger mode.",
            "The execution of this plugin is not handled by API hub. In this case, the plugin hosting service need not handle this action id as part of the execute call."
          ],
          "description": "Required. The trigger mode supported by the action.",
          "type": "string",
          "enum": [
            "TRIGGER_MODE_UNSPECIFIED",
            "API_HUB_ON_DEMAND_TRIGGER",
            "API_HUB_SCHEDULE_TRIGGER",
            "NON_API_HUB_MANAGED"
          ]
        },
        "description": {
          "type": "string",
          "description": "Required. The description of the operation performed by the action."
        },
        "id": {
          "description": "Required. The id of the action.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Required. The display name of the action."
        }
      }
    },
    "GoogleCloudApihubV1OperationDetails": {
      "properties": {
        "mcpTool": {
          "description": "The MCP Tool Operation.",
          "$ref": "GoogleCloudApihubV1McpTool"
        },
        "description": {
          "description": "Optional. Description of the operation behavior. For OpenAPI spec, this will map to `operation.description` in the spec, in case description is empty, `operation.summary` will be used.",
          "type": "string"
        },
        "documentation": {
          "description": "Optional. Additional external documentation for this operation. For OpenAPI spec, this will map to `operation.documentation` in the spec.",
          "$ref": "GoogleCloudApihubV1Documentation"
        },
        "deprecated": {
          "description": "Optional. For OpenAPI spec, this will be set if `operation.deprecated`is marked as `true` in the spec.",
          "type": "boolean"
        },
        "httpOperation": {
          "description": "The HTTP Operation.",
          "$ref": "GoogleCloudApihubV1HttpOperation"
        }
      },
      "id": "GoogleCloudApihubV1OperationDetails",
      "description": "The operation details parsed from the spec.",
      "type": "object"
    },
    "GoogleCloudApihubV1Dependency": {
      "properties": {
        "state": {
          "description": "Output only. State of the dependency.",
          "readOnly": true,
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Dependency will be in a proposed state when it is newly identified by the API hub on its own.",
            "Dependency will be in a validated state when it is validated by the admin or manually created in the API hub."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PROPOSED",
            "VALIDATED"
          ]
        },
        "consumer": {
          "$ref": "GoogleCloudApihubV1DependencyEntityReference",
          "description": "Required. Immutable. The entity acting as the consumer in the dependency."
        },
        "errorDetail": {
          "description": "Output only. Error details of a dependency if the system has detected it internally.",
          "readOnly": true,
          "$ref": "GoogleCloudApihubV1DependencyErrorDetail"
        },
        "attributes": {
          "description": "Optional. The list of user defined attributes associated with the dependency resource. The key is the attribute name. It will be of the format: `projects/{project}/locations/{location}/attributes/{attribute}`. The value is the attribute values associated with the resource.",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudApihubV1AttributeValues"
          }
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the dependency in the API Hub. Format: `projects/{project}/locations/{location}/dependencies/{dependency}`"
        },
        "description": {
          "description": "Optional. Human readable description corresponding of the dependency.",
          "type": "string"
        },
        "discoveryMode": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Manual mode of discovery when the dependency is defined by the user."
          ],
          "description": "Output only. Discovery mode of the dependency.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "DISCOVERY_MODE_UNSPECIFIED",
            "MANUAL"
          ]
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time at which the dependency was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "supplier": {
          "description": "Required. Immutable. The entity acting as the supplier in the dependency.",
          "$ref": "GoogleCloudApihubV1DependencyEntityReference"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The time at which the dependency was last updated.",
          "readOnly": true,
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudApihubV1Dependency",
      "description": "A dependency resource defined in the API hub describes a dependency directed from a consumer to a supplier entity. A dependency can be defined between two Operations or between an Operation and External API.",
      "type": "object"
    },
    "GoogleCloudApihubV1GatewayPluginAddonConfig": {
      "properties": {
        "gatewayPluginConfigs": {
          "type": "array",
          "description": "Required. The list of gateway plugin configs for which the addon is enabled. Each gateway plugin config should have a unique plugin instance.",
          "items": {
            "$ref": "GoogleCloudApihubV1GatewayPluginConfig"
          }
        }
      },
      "id": "GoogleCloudApihubV1GatewayPluginAddonConfig",
      "description": "Configuration for gateway plugin addons. This is used to specify the list of gateway plugin configs for which the addon is enabled.",
      "type": "object"
    },
    "GoogleCloudApihubV1PluginInstance": {
      "id": "GoogleCloudApihubV1PluginInstance",
      "properties": {
        "state": {
          "description": "Output only. The current state of the plugin instance (e.g., enabled, disabled, provisioning).",
          "readOnly": true,
          "enumDescriptions": [
            "Default unspecified state.",
            "The plugin instance is being created.",
            "The plugin instance is active and ready for executions. This is the only state where executions can run on the plugin instance.",
            "The updated config that contains additional_config and auth_config is being applied.",
            "The ERROR state can come while applying config. Users can retrigger ApplyPluginInstanceConfig to restore the plugin instance back to active state. Note, In case the ERROR state happens while applying config (auth_config, additional_config), the plugin instance will reflect the config which was trying to be applied while error happened. In order to overwrite, trigger ApplyConfig with a new config.",
            "The plugin instance is in a failed state. This indicates that an unrecoverable error occurred during a previous operation (Create, Delete).",
            "The plugin instance is being deleted. Delete is only possible if there is no other operation running on the plugin instance and plugin instance action."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "APPLYING_CONFIG",
            "ERROR",
            "FAILED",
            "DELETING"
          ]
        },
        "sourceEnvironmentsConfig": {
          "description": "Optional. The source environment's config present in the gateway instance linked to the plugin instance. The key is the `source_environment` name from the SourceEnvironment message.",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudApihubV1SourceEnvironment"
          }
        },
        "additionalConfig": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudApihubV1ConfigVariable"
          },
          "description": "Optional. The additional information for this plugin instance corresponding to the additional config template of the plugin. This information will be sent to plugin hosting service on each call to plugin hosted service. The key will be the config_variable_template.display_name to uniquely identify the config variable."
        },
        "errorMessage": {
          "type": "string",
          "description": "Output only. Error message describing the failure, if any, during Create, Delete or ApplyConfig operation corresponding to the plugin instance.This field will only be populated if the plugin instance is in the ERROR or FAILED state.",
          "readOnly": true
        },
        "sourceProjectId": {
          "type": "string",
          "description": "Optional. The source project id of the plugin instance. This will be the id of runtime project in case of Google Cloud based plugins and org id in case of non-Google Cloud based plugins. This field will be a required field for Google provided on-ramp plugins."
        },
        "authConfig": {
          "description": "Optional. The authentication information for this plugin instance.",
          "$ref": "GoogleCloudApihubV1AuthConfig"
        },
        "name": {
          "description": "Identifier. The unique name of the plugin instance resource. Format: `projects/{project}/locations/{location}/plugins/{plugin}/instances/{instance}`",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Timestamp indicating when the plugin instance was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "displayName": {
          "description": "Required. The display name for this plugin instance. Max length is 255 characters.",
          "type": "string"
        },
        "actions": {
          "type": "array",
          "description": "Required. The action status for the plugin instance.",
          "items": {
            "$ref": "GoogleCloudApihubV1PluginInstanceAction"
          }
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp indicating when the plugin instance was last updated.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "description": "Represents a plugin instance resource in the API Hub. A PluginInstance is a specific instance of a hub plugin with its own configuration, state, and execution details."
    },
    "GoogleCloudApihubV1ApiHubResource": {
      "type": "object",
      "description": "ApiHubResource is one of the resources such as Api, Operation, Deployment, Definition, Spec and Version resources stored in API-Hub.",
      "id": "GoogleCloudApihubV1ApiHubResource",
      "properties": {
        "deployment": {
          "description": "This represents Deployment resource in search results. Only name, display_name, description, deployment_type and api_versions fields are populated in search results.",
          "$ref": "GoogleCloudApihubV1Deployment"
        },
        "definition": {
          "$ref": "GoogleCloudApihubV1Definition",
          "description": "This represents Definition resource in search results. Only name field is populated in search results."
        },
        "operation": {
          "$ref": "GoogleCloudApihubV1ApiOperation",
          "description": "This represents ApiOperation resource in search results. Only name, description, spec and details fields are populated in search results."
        },
        "spec": {
          "$ref": "GoogleCloudApihubV1Spec",
          "description": "This represents Spec resource in search results. Only name, display_name, description, spec_type and documentation fields are populated in search results."
        },
        "api": {
          "description": "This represents Api resource in search results. Only name, display_name, description and owner fields are populated in search results.",
          "$ref": "GoogleCloudApihubV1Api"
        },
        "version": {
          "$ref": "GoogleCloudApihubV1Version",
          "description": "This represents Version resource in search results. Only name, display_name, description, lifecycle, compliance and accreditation fields are populated in search results."
        }
      }
    },
    "GoogleCloudApihubV1HttpResponse": {
      "description": "An aggregation of HTTP responses.",
      "type": "object",
      "properties": {
        "headers": {
          "description": "Optional. Unordered map from header name to header metadata",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudApihubV1Header"
          }
        },
        "responseCodes": {
          "description": "Optional. Map of status code to observed count",
          "type": "object",
          "additionalProperties": {
            "type": "string",
            "format": "int64"
          }
        }
      },
      "id": "GoogleCloudApihubV1HttpResponse"
    },
    "GoogleCloudApihubV1RuntimeProjectAttachment": {
      "id": "GoogleCloudApihubV1RuntimeProjectAttachment",
      "properties": {
        "createTime": {
          "description": "Output only. Create time.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of a runtime project attachment. Format: \"projects/{project}/locations/{location}/runtimeProjectAttachments/{runtime_project_attachment}\"."
        },
        "runtimeProject": {
          "description": "Required. Immutable. Google cloud project name in the format: \"projects/abc\" or \"projects/123\". As input, project name with either project id or number are accepted. As output, this field will contain project number.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Runtime project attachment represents an attachment from the runtime project to the host project. Api Hub looks for deployments in the attached runtime projects and creates corresponding resources in Api Hub for the discovered deployments."
    },
    "GoogleCloudApihubV1SearchResourcesResponse": {
      "properties": {
        "searchResults": {
          "type": "array",
          "description": "List of search results according to the filter and search query specified. The order of search results represents the ranking.",
          "items": {
            "$ref": "GoogleCloudApihubV1SearchResult"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Pass this token in the SearchResourcesRequest to continue to list results. If all results have been returned, this field is an empty string or not present in the response."
        }
      },
      "id": "GoogleCloudApihubV1SearchResourcesResponse",
      "description": "Response for the SearchResources method.",
      "type": "object"
    },
    "GoogleCloudApihubV1AuthConfigTemplate": {
      "id": "GoogleCloudApihubV1AuthConfigTemplate",
      "properties": {
        "supportedAuthTypes": {
          "type": "array",
          "description": "Required. The list of authentication types supported by the plugin.",
          "items": {
            "enumDescriptions": [
              "Authentication type not specified.",
              "No authentication.",
              "Google service account authentication.",
              "Username and password authentication.",
              "API Key authentication.",
              "Oauth 2.0 client credentials grant authentication."
            ],
            "type": "string",
            "enum": [
              "AUTH_TYPE_UNSPECIFIED",
              "NO_AUTH",
              "GOOGLE_SERVICE_ACCOUNT",
              "USER_PASSWORD",
              "API_KEY",
              "OAUTH2_CLIENT_CREDENTIALS"
            ]
          }
        },
        "serviceAccount": {
          "description": "Optional. The service account of the plugin hosting service. This service account should be granted the required permissions on the Auth Config parameters provided while creating the plugin instances corresponding to this plugin. For example, if the plugin instance auth config requires a secret manager secret, the service account should be granted the secretmanager.versions.access permission on the corresponding secret, if the plugin instance auth config contains a service account, the service account should be granted the iam.serviceAccounts.getAccessToken permission on the corresponding service account.",
          "$ref": "GoogleCloudApihubV1GoogleServiceAccountConfig"
        }
      },
      "type": "object",
      "description": "AuthConfigTemplate represents the authentication template for a plugin."
    },
    "GoogleCloudApihubV1LastExecution": {
      "id": "GoogleCloudApihubV1LastExecution",
      "properties": {
        "resultMetadata": {
          "description": "Output only. The result metadata of the last execution of the plugin instance. This will be a string representation of a JSON object and will be available on successful execution.",
          "readOnly": true,
          "type": "string"
        },
        "result": {
          "type": "string",
          "enum": [
            "RESULT_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED"
          ],
          "description": "Output only. The result of the last execution of the plugin instance.",
          "readOnly": true,
          "enumDescriptions": [
            "Default unspecified execution result.",
            "The plugin instance executed successfully.",
            "The plugin instance execution failed."
          ]
        },
        "errorMessage": {
          "type": "string",
          "description": "Output only. Error message describing the failure, if any, during the last execution.",
          "readOnly": true
        },
        "startTime": {
          "format": "google-datetime",
          "description": "Output only. The last execution start time of the plugin instance.",
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "description": "Output only. The last execution end time of the plugin instance.",
          "readOnly": true,
          "format": "google-datetime"
        }
      },
      "type": "object",
      "description": "The result of the last execution of the plugin instance."
    },
    "GoogleCloudApihubV1SearchResourcesRequest": {
      "type": "object",
      "description": "The SearchResources method's request.",
      "id": "GoogleCloudApihubV1SearchResourcesRequest",
      "properties": {
        "filter": {
          "type": "string",
          "description": "Optional. An expression that filters the list of search results. A filter expression consists of a field name, a comparison operator, and a value for filtering. The value must be a string, a number, or a boolean. The comparison operator must be `=`. Filters are not case sensitive. The following field names are eligible for filtering: * `resource_type` - The type of resource in the search results. Must be one of the following: `Api`, `ApiOperation`, `Deployment`, `Definition`, `Spec` or `Version`. This field can only be specified once in the filter. Here are is an example: * `resource_type = Api` - The resource_type is _Api_."
        },
        "query": {
          "type": "string",
          "description": "Required. The free text search query. This query can contain keywords which could be related to any detail of the API-Hub resources such display names, descriptions, attributes etc."
        },
        "pageSize": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The maximum number of search results to return. The service may return fewer than this value. If unspecified at most 10 search results will be returned. If value is negative then `INVALID_ARGUMENT` error is returned. The maximum value is 25; values above 25 will be coerced to 25. While paginating, you can specify a new page size parameter for each page of search results to be listed."
        },
        "pageToken": {
          "description": "Optional. A page token, received from a previous SearchResources call. Specify this parameter to retrieve the next page of transactions. When paginating, you must specify the `page_token` parameter and all the other parameters except page_size should be specified with the same value which was used in the previous call. If the other fields are set with a different value than the previous call then `INVALID_ARGUMENT` error is returned.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApihubV1QueryParam": {
      "description": "An aggregation of HTTP query parameter occurrences.",
      "type": "object",
      "properties": {
        "count": {
          "format": "int64",
          "description": "Optional. The number of occurrences of this query parameter across transactions.",
          "type": "string"
        },
        "dataType": {
          "enumDescriptions": [
            "Unspecified data type",
            "Boolean data type",
            "Integer data type",
            "Float data type",
            "String data type",
            "UUID data type"
          ],
          "description": "Optional. Data type of path param",
          "type": "string",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "BOOL",
            "INTEGER",
            "FLOAT",
            "STRING",
            "UUID"
          ]
        },
        "name": {
          "type": "string",
          "description": "Required. Name of query param"
        }
      },
      "id": "GoogleCloudApihubV1QueryParam"
    },
    "GoogleCloudApihubV1SpecDetails": {
      "properties": {
        "description": {
          "type": "string",
          "description": "Output only. The description of the spec.",
          "readOnly": true
        },
        "openApiSpecDetails": {
          "description": "Output only. Additional details apart from `OperationDetails` parsed from an OpenAPI spec. The OperationDetails parsed from the spec can be obtained by using ListAPIOperations method.",
          "readOnly": true,
          "$ref": "GoogleCloudApihubV1OpenApiSpecDetails"
        }
      },
      "id": "GoogleCloudApihubV1SpecDetails",
      "description": "SpecDetails contains the details parsed from supported spec types.",
      "type": "object"
    },
    "GoogleCloudApihubV1ListApiOperationsResponse": {
      "id": "GoogleCloudApihubV1ListApiOperationsResponse",
      "properties": {
        "apiOperations": {
          "type": "array",
          "description": "The operations corresponding to an API version.",
          "items": {
            "$ref": "GoogleCloudApihubV1ApiOperation"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "type": "object",
      "description": "The ListApiOperations method's response."
    },
    "GoogleCloudApihubV1ApigeeEdgeConfig": {
      "description": "Configuration for Apigee Edge gateways. Applicability of a filter is determined by the filter being provided. If none of the filters are provided the addon will be enabled for all data brought in by the gateway plugin instance.",
      "type": "object",
      "properties": {
        "environmentFilter": {
          "$ref": "GoogleCloudApihubV1EnvironmentFilter",
          "description": "Optional. The filter to apply on the resources managed by the gateway plugin instance. If provided this filter applies environment specific filtering."
        }
      },
      "id": "GoogleCloudApihubV1ApigeeEdgeConfig"
    },
    "GoogleCloudApihubV1ApiHubInstance": {
      "type": "object",
      "description": "An ApiHubInstance represents the instance resources of the API Hub. Currently, only one ApiHub instance is allowed for each project.",
      "id": "GoogleCloudApihubV1ApiHubInstance",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. Format: `projects/{project}/locations/{location}/apiHubInstances/{apiHubInstance}`."
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "INACTIVE",
            "CREATING",
            "ACTIVE",
            "UPDATING",
            "DELETING",
            "FAILED"
          ],
          "description": "Output only. The current state of the ApiHub instance.",
          "readOnly": true,
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "The ApiHub instance has not been initialized or has been deleted.",
            "The ApiHub instance is being created.",
            "The ApiHub instance has been created and is ready for use.",
            "The ApiHub instance is being updated.",
            "The ApiHub instance is being deleted.",
            "The ApiHub instance encountered an error during a state change."
          ]
        },
        "stateMessage": {
          "description": "Output only. Extra information about ApiHub instance state. Currently the message would be populated when state is `FAILED`.",
          "readOnly": true,
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Instance labels to represent user-provided metadata. Refer to cloud documentation on labels for more details. https://cloud.google.com/compute/docs/labeling-resources"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the ApiHub instance."
        },
        "config": {
          "description": "Required. Config of the ApiHub instance.",
          "$ref": "GoogleCloudApihubV1Config"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. Last update timestamp.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Creation timestamp.",
          "readOnly": true,
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudApihubV1PluginInstanceAction": {
      "description": "PluginInstanceAction represents an action which can be executed in the plugin instance.",
      "type": "object",
      "properties": {
        "state": {
          "enumDescriptions": [
            "Default unspecified state.",
            "The action is enabled in the plugin instance i.e., executions can be triggered for this action.",
[...]
