{
  "version": "v2",
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "name": "apikeys",
  "revision": "20260731",
  "version_module": true,
  "schemas": {
    "V2AndroidApplication": {
      "properties": {
        "packageName": {
          "type": "string",
          "description": "The package name of the application."
        },
        "sha1Fingerprint": {
          "description": "The SHA1 fingerprint of the application. For example, both sha1 formats are acceptable : DA:39:A3:EE:5E:6B:4B:0D:32:55:BF:EF:95:60:18:90:AF:D8:07:09 or DA39A3EE5E6B4B0D3255BFEF95601890AFD80709. Output format is the latter.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Identifier of an Android application for key use.",
      "id": "V2AndroidApplication"
    },
    "V2LookupKeyResponse": {
      "id": "V2LookupKeyResponse",
      "description": "Response message for `LookupKey` method.",
      "type": "object",
      "properties": {
        "parent": {
          "description": "The project that owns the key with the value specified in the request.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The resource name of the API key. If the API key has been purged, resource name is empty."
        }
      }
    },
    "Status": {
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        }
      },
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status"
    },
    "V2ListKeysResponse": {
      "type": "object",
      "properties": {
        "keys": {
          "items": {
            "$ref": "V2Key"
          },
          "type": "array",
          "description": "A list of API keys."
        },
        "nextPageToken": {
          "description": "The pagination token for the next page of results.",
          "type": "string"
        }
      },
      "id": "V2ListKeysResponse",
      "description": "Response message for `ListKeys` method."
    },
    "V2UndeleteKeyRequest": {
      "description": "Request message for `UndeleteKey` method.",
      "id": "V2UndeleteKeyRequest",
      "properties": {},
      "type": "object"
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation",
      "properties": {
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        }
      },
      "type": "object"
    },
    "V2ServerKeyRestrictions": {
      "properties": {
        "allowedIps": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of the caller IP addresses that are allowed to make API calls with this key."
        }
      },
      "type": "object",
      "description": "The IP addresses of callers that are allowed to use the key.",
      "id": "V2ServerKeyRestrictions"
    },
    "V2BrowserKeyRestrictions": {
      "description": "The HTTP referrers (websites) that are allowed to use the key.",
      "id": "V2BrowserKeyRestrictions",
      "properties": {
        "allowedReferrers": {
          "description": "A list of regular expressions for the referrer URLs that are allowed to make API calls with this key.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "V2GetKeyStringResponse": {
      "description": "Response message for `GetKeyString` method.",
      "id": "V2GetKeyStringResponse",
      "properties": {
        "keyString": {
          "description": "An encrypted and signed value of the key.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "V2Key": {
      "properties": {
        "restrictions": {
          "description": "Key restrictions.",
          "$ref": "V2Restrictions"
        },
        "annotations": {
          "description": "Annotations is an unstructured key-value map stored with a policy that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "deleteTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. A timestamp when this key was deleted. If the resource is not deleted, this must be empty."
        },
        "name": {
          "description": "Identifier. The resource name of the key. The `name` has the form: `projects//locations/global/keys/`. For example: `projects/123456867718/locations/global/keys/b7ff1f9f-8275-410a-94dd-3855ee9b5dd2` NOTE: Key is a global resource; hence the only supported value for location is `global`.",
          "type": "string"
        },
        "keyString": {
          "description": "Output only. An encrypted and signed value held by this key. This field can be accessed only through the `GetKeyString` method.",
          "readOnly": true,
          "type": "string"
        },
        "serviceAccountEmail": {
          "type": "string",
          "description": "Optional. The email address of [the service account](https://cloud.google.com/iam/docs/service-accounts) the key is bound to."
        },
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Unique id in UUID4 format."
        },
        "updateTime": {
          "description": "Output only. A timestamp identifying the time this key was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "displayName": {
          "description": "Human-readable display name of this key that you can modify. The maximum length is 63 characters.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. A timestamp identifying the time this key was originally created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "etag": {
          "description": "A checksum computed by the server based on the current value of the Key resource. This may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding. See https://google.aip.dev/154.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The representation of a key managed by the API Keys API.",
      "id": "V2Key"
    },
    "V2AndroidKeyRestrictions": {
      "id": "V2AndroidKeyRestrictions",
      "description": "The Android apps that are allowed to use the key.",
      "type": "object",
      "properties": {
        "allowedApplications": {
          "type": "array",
          "items": {
            "$ref": "V2AndroidApplication"
          },
          "description": "A list of Android applications that are allowed to make API calls with this key."
        }
      }
    },
    "V2Restrictions": {
      "description": "Describes the restrictions on the key.",
      "id": "V2Restrictions",
      "properties": {
        "serverKeyRestrictions": {
          "description": "The IP addresses of callers that are allowed to use the key.",
          "$ref": "V2ServerKeyRestrictions"
        },
        "androidKeyRestrictions": {
          "description": "The Android apps that are allowed to use the key.",
          "$ref": "V2AndroidKeyRestrictions"
        },
        "apiTargets": {
          "items": {
            "$ref": "V2ApiTarget"
          },
          "type": "array",
          "description": "A restriction for a specific service and optionally one or more specific methods. Requests are allowed if they match any of these restrictions. If no restrictions are specified, all targets are allowed."
        },
        "iosKeyRestrictions": {
          "description": "The iOS apps that are allowed to use the key.",
          "$ref": "V2IosKeyRestrictions"
        },
        "browserKeyRestrictions": {
          "description": "The HTTP referrers (websites) that are allowed to use the key.",
          "$ref": "V2BrowserKeyRestrictions"
        }
      },
      "type": "object"
    },
    "V2ApiTarget": {
      "description": "A restriction for a specific service and optionally one or multiple specific methods. Both fields are case insensitive.",
      "id": "V2ApiTarget",
      "properties": {
        "methods": {
          "description": "Optional. List of one or more methods that can be called. If empty, all methods for the service are allowed. A wildcard (*) can be used as the last symbol. Valid examples: `google.cloud.translate.v2.TranslateService.GetSupportedLanguage` `TranslateText` `Get*` `translate.googleapis.com.Get*`",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "service": {
          "description": "The service for this restriction. It should be the canonical service name, for example: `translate.googleapis.com`. You can use [`gcloud services list`](https://cloud.google.com/sdk/gcloud/reference/services/list) to get a list of services that are enabled in the project.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "V2IosKeyRestrictions": {
      "type": "object",
      "properties": {
        "allowedBundleIds": {
          "description": "A list of bundle IDs that are allowed when making API calls with this key.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "V2IosKeyRestrictions",
      "description": "The iOS apps that are allowed to use the key."
    }
  },
  "canonicalName": "Api Keys Service",
  "resources": {
    "operations": {
      "methods": {
        "get": {
          "response": {
            "$ref": "Operation"
          },
          "id": "apikeys.operations.get",
          "path": "v2/{+name}",
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "type": "string",
              "description": "The name of the operation resource.",
              "pattern": "^operations/[^/]+$",
              "location": "path",
              "required": true
            }
          },
          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "flatPath": "v2/operations/{operationsId}"
        }
      }
    },
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "keys": {
              "methods": {
                "list": {
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/keys",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "description": "Lists the API keys owned by a project. The key string of the API key isn't included in the response. NOTE: Key is a global resource; hence the only supported value for location is `global`.",
                  "parameters": {
                    "showDeleted": {
                      "description": "Optional. Indicate that keys deleted in the past 30 days should also be returned.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "pageSize": {
                      "description": "Optional. Specifies the maximum number of results to be returned at a time.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. Requests a specific page of results.",
                      "location": "query"
                    },
                    "parent": {
                      "type": "string",
                      "description": "Required. Lists all API keys associated with this project. The parent field must be in format of \"projects//locations/global\".",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "path": "v2/{+parent}/keys",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "apikeys.projects.locations.keys.list",
                  "response": {
                    "$ref": "V2ListKeysResponse"
                  }
                },
                "get": {
                  "path": "v2/{+name}",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name of the API key to get.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/keys/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "V2Key"
                  },
                  "id": "apikeys.projects.locations.keys.get",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/keys/{keysId}",
                  "description": "Gets the metadata for an API key. The key string of the API key isn't included in the response. NOTE: Key is a global resource; hence the only supported value for location is `global`.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ]
                },
                "create": {
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/keys",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "V2Key"
                  },
                  "description": "Creates a new API key. NOTE: Key is a global resource; hence the only supported value for location is `global`.",
                  "path": "v2/{+parent}/keys",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. The project in which the API key is created. The parent field must be in format of \"projects//locations/global\".",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "keyId": {
                      "type": "string",
                      "description": "User specified key id (optional). If specified, it will become the final component of the key resource name. The id must be unique within the project, must conform with RFC-1034, is restricted to lower-cased letters, and has a maximum length of 63 characters. In another word, the id must match the regular expression: `[a-z]([a-z0-9-]{0,61}[a-z0-9])?`. The id must NOT be a UUID-like string.",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "apikeys.projects.locations.keys.create"
                },
                "patch": {
                  "parameters": {
                    "updateMask": {
                      "description": "The field mask specifies which fields to be updated as part of this request. All other fields are ignored. Mutable fields are: `display_name`, `restrictions`, and `annotations`. If an update mask is not provided, the service treats it as an implied mask equivalent to all allowed fields that are set on the wire. If the field mask has a special value \"*\", the service treats it equivalent to replace all allowed mutable fields.",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "type": "string",
                      "description": "Identifier. The resource name of the key. The `name` has the form: `projects//locations/global/keys/`. For example: `projects/123456867718/locations/global/keys/b7ff1f9f-8275-410a-94dd-3855ee9b5dd2` NOTE: Key is a global resource; hence the only supported value for location is `global`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/keys/[^/]+$",
                      "location": "path",
                      "required": true
                    },
                    "checkExistingUsage": {
                      "enumDescriptions": [
                        "When unset, the default behavior is used, which is SKIP.",
                        "If set, skip checking existing usage when updating a key.",
                        "If set, existing usage is checked when updating the key. If the key has usage in the last 7 days, the request returns a FAILED_PRECONDITION error."
                      ],
                      "type": "string",
                      "enum": [
                        "CHECK_EXISTING_USAGE_UNSPECIFIED",
                        "SKIP",
                        "CHECK"
                      ],
                      "description": "Optional. Defines the behavior for checking existing usage when updating a key.",
                      "location": "query"
                    }
                  },
                  "path": "v2/{+name}",
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "apikeys.projects.locations.keys.patch",
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/keys/{keysId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "V2Key"
                  },
                  "description": "Patches the modifiable fields of an API key. The key string of the API key isn't included in the response. NOTE: Key is a global resource; hence the only supported value for location is `global`."
                },
                "undelete": {
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/keys/{keysId}:undelete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "V2UndeleteKeyRequest"
                  },
                  "description": "Undeletes an API key which was deleted within 30 days. NOTE: Key is a global resource; hence the only supported value for location is `global`.",
                  "path": "v2/{+name}:undelete",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The resource name of the API key to be undeleted.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/keys/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "apikeys.projects.locations.keys.undelete"
                },
                "getKeyString": {
                  "id": "apikeys.projects.locations.keys.getKeyString",
                  "response": {
                    "$ref": "V2GetKeyStringResponse"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The resource name of the API key to be retrieved.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/keys/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "path": "v2/{+name}/keyString",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Get the key string for an API key. NOTE: Key is a global resource; hence the only supported value for location is `global`.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/keys/{keysId}/keyString"
                },
                "delete": {
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/keys/{keysId}",
                  "description": "Deletes an API key. Deleted key can be retrieved within 30 days of deletion. Afterward, key will be purged from the project. NOTE: Key is a global resource; hence the only supported value for location is `global`.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "etag": {
                      "type": "string",
                      "description": "Optional. The etag known to the client for the expected state of the key. This is to be used for optimistic concurrency.",
                      "location": "query"
                    },
                    "name": {
                      "type": "string",
                      "description": "Required. The resource name of the API key to be deleted.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/keys/[^/]+$",
                      "location": "path",
                      "required": true
                    },
                    "checkExistingUsage": {
                      "type": "string",
                      "enumDescriptions": [
                        "When unset, the default behavior is used, which is SKIP.",
                        "If set, skip checking existing usage when deleting a key.",
                        "If set, existing usage is checked when deleting the key. If the key has usage in the last 7 days, the request returns a FAILED_PRECONDITION error."
                      ],
                      "enum": [
                        "CHECK_EXISTING_USAGE_UNSPECIFIED",
                        "SKIP",
                        "CHECK"
                      ],
                      "description": "Optional. Defines the behavior for checking existing usage when deleting a key.",
                      "location": "query"
                    }
                  },
                  "path": "v2/{+name}",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "apikeys.projects.locations.keys.delete",
                  "response": {
                    "$ref": "Operation"
                  }
                }
              }
            }
          }
        }
      }
    },
    "keys": {
      "methods": {
        "lookupKey": {
          "description": "Find the parent project and resource name of the API key that matches the key string in the request. If the API key has been purged, resource name will not be set. The service account must have the `apikeys.keys.lookup` permission on the parent project.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "flatPath": "v2/keys:lookupKey",
          "response": {
            "$ref": "V2LookupKeyResponse"
          },
          "id": "apikeys.keys.lookupKey",
          "path": "v2/keys:lookupKey",
          "httpMethod": "GET",
          "parameterOrder": [],
          "parameters": {
            "keyString": {
              "description": "Required. Finds the project that owns the key string value.",
              "location": "query",
              "type": "string"
            }
          }
        }
      }
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "basePath": "",
  "servicePath": "",
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "default": "json",
      "description": "Data format for response.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    }
  },
  "id": "apikeys:v2",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        }
      }
    }
  },
  "description": "Manages the API keys associated with developer projects.",
  "title": "API Keys API",
  "protocol": "rest",
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://apikeys.mtls.googleapis.com/",
  "batchPath": "batch",
  "rootUrl": "https://apikeys.googleapis.com/",
  "documentationLink": "https://cloud.google.com/api-keys/docs",
  "baseUrl": "https://apikeys.googleapis.com/"
}