{
  "version_module": true,
  "mtlsRootUrl": "https://apim.mtls.googleapis.com/",
  "ownerDomain": "google.com",
  "servicePath": "",
  "baseUrl": "https://apim.googleapis.com/",
  "protocol": "rest",
  "basePath": "",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "parameters": {
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query",
      "default": "true"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response."
    }
  },
  "ownerName": "Google",
  "rootUrl": "https://apim.googleapis.com/",
  "canonicalName": "API Management",
  "title": "API Management API",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "name": "apim",
  "version": "v1alpha",
  "revision": "20260909",
  "description": "Enables users to discover shadow APIs in existing Google Cloud infrastructure.",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "id": "apim:v1alpha",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "get": {
              "path": "v1alpha/{+name}",
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}",
              "id": "apim.projects.locations.get",
              "httpMethod": "GET",
              "description": "Gets information about a location.",
              "parameters": {
                "name": {
                  "description": "Resource name for the location.",
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Location"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "getEntitlement": {
              "response": {
                "$ref": "Entitlement"
              },
              "id": "apim.projects.locations.getEntitlement",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/locations/[^/]+/entitlement$",
                  "type": "string",
                  "description": "Required. The entitlement resource name Format: projects/{project}/locations/{location}/entitlement",
                  "location": "path",
                  "required": true
                }
              },
              "httpMethod": "GET",
              "description": "GetEntitlement returns the entitlement for the provided project.",
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/entitlement",
              "path": "v1alpha/{+name}",
              "parameterOrder": [
                "name"
              ]
            },
            "listApiObservationTags": {
              "parameters": {
                "parent": {
                  "description": "Required. The parent, which owns this collection of tags. Format: projects/{project}/locations/{location}",
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string"
                },
                "pageToken": {
                  "description": "Optional. A page token, received from a previous `ListApiObservationTags` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListApiObservationTags` must match the call that provided the page token.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "Optional. The maximum number of tags to return. The service may return fewer than this value. If unspecified, at most 10 tags will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                  "location": "query",
                  "format": "int32"
                }
              },
              "description": "ListApiObservationTags lists all extant tags on any observation in the given project.",
              "response": {
                "$ref": "ListApiObservationTagsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "apim.projects.locations.listApiObservationTags",
              "path": "v1alpha/{+parent}:listApiObservationTags",
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}:listApiObservationTags",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET"
            },
            "list": {
              "id": "apim.projects.locations.list",
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha/{+name}/locations",
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "parameters": {
                "extraLocationTypes": {
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "location": "query",
                  "repeated": true,
                  "type": "string"
                },
                "pageToken": {
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "type": "string",
                  "location": "query"
                },
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "location": "path"
                },
                "filter": {
                  "location": "query",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "The maximum number of results to return. If not set, the service selects a default."
                }
              },
              "flatPath": "v1alpha/projects/{projectsId}/locations",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          },
          "resources": {
            "observationSources": {
              "methods": {
                "get": {
                  "path": "v1alpha/{+name}",
                  "description": "GetObservationSource retrieves a single ObservationSource by name.",
                  "httpMethod": "GET",
                  "id": "apim.projects.locations.observationSources.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "ObservationSource"
                  },
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the ObservationSource to retrieve. Format: projects/{project}/locations/{location}/observationSources/{source}",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/observationSources/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationSources/{observationSourcesId}"
                },
                "create": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "CreateObservationSource creates a new ObservationSource but does not affect any deployed infrastructure. It is a configuration that can be used in an Observation Job to collect data about APIs running in user's dataplane.",
                  "httpMethod": "POST",
                  "path": "v1alpha/{+parent}/observationSources",
                  "request": {
                    "$ref": "ObservationSource"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationSources",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "apim.projects.locations.observationSources.create",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. Value for parent."
                    },
                    "observationSourceId": {
                      "description": "Required. The ID to use for the Observation Source. This value should be 4-63 characters, and valid characters are /a-z-/.",
                      "type": "string",
                      "location": "query"
                    },
                    "requestId": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    }
                  }
                },
                "list": {
                  "httpMethod": "GET",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationSources",
                  "id": "apim.projects.locations.observationSources.list",
                  "description": "ListObservationSources gets all ObservationSources for a given project and location.",
                  "response": {
                    "$ref": "ListObservationSourcesResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1alpha/{+parent}/observationSources",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent, which owns this collection of ObservationSources. Format: projects/{project}/locations/{location}",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "Optional. The maximum number of ObservationSources to return. The service may return fewer than this value. If unspecified, at most 10 ObservationSources will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "type": "integer"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A page token, received from a previous `ListObservationSources` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListObservationSources` must match the call that provided the page token."
                    }
                  }
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "apim.projects.locations.observationSources.delete",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/observationSources/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. Name of the resource Format: projects/{project}/locations/{location}/observationSources/{source}"
                    }
                  },
                  "httpMethod": "DELETE",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationSources/{observationSourcesId}",
                  "description": "DeleteObservationSource deletes an observation source. This method will fail if the observation source is currently being used by any ObservationJob, even if not enabled.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1alpha/{+name}"
                }
              }
            },
            "observationJobs": {
              "methods": {
                "list": {
                  "response": {
                    "$ref": "ListObservationJobsResponse"
                  },
                  "parameters": {
                    "pageSize": {
                      "description": "Optional. The maximum number of ObservationJobs to return. The service may return fewer than this value. If unspecified, at most 10 ObservationJobs will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "parent": {
                      "description": "Required. The parent, which owns this collection of ObservationJobs. Format: projects/{project}/locations/{location}",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A page token, received from a previous `ListObservationJobs` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListObservationJobs` must match the call that provided the page token.",
                      "location": "query"
                    }
                  },
                  "id": "apim.projects.locations.observationJobs.list",
                  "path": "v1alpha/{+parent}/observationJobs",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationJobs",
                  "description": "ListObservationJobs gets all ObservationJobs for a given project and location.",
                  "httpMethod": "GET"
                },
                "get": {
                  "id": "apim.projects.locations.observationJobs.get",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationJobs/{observationJobsId}",
                  "path": "v1alpha/{+name}",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ObservationJob"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/observationJobs/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. The name of the ObservationJob to retrieve. Format: projects/{project}/locations/{location}/observationJobs/{job}"
                    }
                  },
                  "description": "GetObservationJob retrieves a single ObservationJob by name."
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationJobs/{observationJobsId}",
                  "description": "DeleteObservationJob deletes an ObservationJob. This method will fail if the observation job is currently being used by any ObservationSource, even if not enabled.",
                  "id": "apim.projects.locations.observationJobs.delete",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Required. Name of the resource Format: projects/{project}/locations/{location}/observationJobs/{observation_job}",
                      "pattern": "^projects/[^/]+/locations/[^/]+/observationJobs/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1alpha/{+name}"
                },
                "disable": {
                  "description": "Disables the given ObservationJob.",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the ObservationJob to disable. Format: projects/{project}/locations/{location}/observationJobs/{job}",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/observationJobs/[^/]+$"
                    }
                  },
                  "id": "apim.projects.locations.observationJobs.disable",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationJobs/{observationJobsId}:disable",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1alpha/{+name}:disable",
                  "request": {
                    "$ref": "DisableObservationJobRequest"
                  }
                },
                "enable": {
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationJobs/{observationJobsId}:enable",
                  "id": "apim.projects.locations.observationJobs.enable",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The name of the ObservationJob to enable. Format: projects/{project}/locations/{location}/observationJobs/{job}",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/observationJobs/[^/]+$",
                      "required": true
                    }
                  },
                  "path": "v1alpha/{+name}:enable",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Enables the given ObservationJob.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "EnableObservationJobRequest"
                  }
                },
                "create": {
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationJobs",
                  "id": "apim.projects.locations.observationJobs.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "observationJobId": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. The ID to use for the Observation Job. This value should be 4-63 characters, and valid characters are /a-z-/."
                    },
                    "parent": {
                      "description": "Required. The parent resource where this ObservationJob will be created. Format: projects/{project}/locations/{location}",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query"
                    }
                  },
                  "path": "v1alpha/{+parent}/observationJobs",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "ObservationJob"
                  },
                  "description": "CreateObservationJob creates a new ObservationJob but does not have any effecton its own. It is a configuration that can be used in an Observation Job to collect data about existing APIs."
                }
              },
              "resources": {
                "apiObservations": {
                  "resources": {
                    "apiOperations": {
                      "methods": {
                        "list": {
                          "parameters": {
                            "pageSize": {
                              "description": "Optional. The maximum number of ApiOperations to return. The service may return fewer than this value. If unspecified, at most 10 ApiOperations will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                              "type": "integer",
                              "format": "int32",
                              "location": "query"
                            },
                            "pageToken": {
                              "location": "query",
                              "type": "string",
                              "description": "Optional. A page token, received from a previous `ListApiApiOperations` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListApiApiOperations` must match the call that provided the page token."
                            },
                            "parent": {
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/observationJobs/[^/]+/apiObservations/[^/]+$",
                              "type": "string",
                              "location": "path",
                              "description": "Required. The parent, which owns this collection of ApiOperations. Format: projects/{project}/locations/{location}/observationJobs/{observation_job}/apiObservations/{api_observation}"
                            }
                          },
                          "path": "v1alpha/{+parent}/apiOperations",
                          "parameterOrder": [
                            "parent"
                          ],
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationJobs/{observationJobsId}/apiObservations/{apiObservationsId}/apiOperations",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "ListApiOperations gets all ApiOperations for a given project and location and ObservationJob and ApiObservation.",
                          "httpMethod": "GET",
                          "id": "apim.projects.locations.observationJobs.apiObservations.apiOperations.list",
                          "response": {
                            "$ref": "ListApiOperationsResponse"
                          }
                        },
                        "get": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationJobs/{observationJobsId}/apiObservations/{apiObservationsId}/apiOperations/{apiOperationsId}",
                          "httpMethod": "GET",
                          "path": "v1alpha/{+name}",
                          "description": "GetApiOperation retrieves a single ApiOperation by name.",
                          "parameterOrder": [
                            "name"
                          ],
                          "response": {
                            "$ref": "ApiOperation"
                          },
                          "parameters": {
                            "name": {
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/observationJobs/[^/]+/apiObservations/[^/]+/apiOperations/[^/]+$",
                              "required": true,
                              "type": "string",
                              "description": "Required. The name of the ApiOperation to retrieve. Format: projects/{project}/locations/{location}/observationJobs/{observation_job}/apiObservations/{api_observation}/apiOperation/{api_operation}"
                            }
                          },
                          "id": "apim.projects.locations.observationJobs.apiObservations.apiOperations.get"
                        }
                      }
                    }
                  },
                  "methods": {
                    "batchEditTags": {
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationJobs/{observationJobsId}/apiObservations:batchEditTags",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "parent": {
                          "required": true,
                          "description": "Required. The parent resource shared by all ApiObservations being edited. Format: projects/{project}/locations/{location}/observationJobs/{observation_job}",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/observationJobs/[^/]+$",
                          "location": "path"
                        }
                      },
                      "path": "v1alpha/{+parent}/apiObservations:batchEditTags",
                      "response": {
                        "$ref": "BatchEditTagsApiObservationsResponse"
                      },
                      "description": "BatchEditTagsApiObservations adds or removes Tags for ApiObservations.",
                      "id": "apim.projects.locations.observationJobs.apiObservations.batchEditTags",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "BatchEditTagsApiObservationsRequest"
                      }
                    },
                    "get": {
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Required. The name of the ApiObservation to retrieve. Format: projects/{project}/locations/{location}/observationJobs/{observation_job}/apiObservations/{api_observation}",
                          "pattern": "^projects/[^/]+/locations/[^/]+/observationJobs/[^/]+/apiObservations/[^/]+$"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "ApiObservation"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationJobs/{observationJobsId}/apiObservations/{apiObservationsId}",
                      "description": "GetApiObservation retrieves a single ApiObservation by name.",
                      "httpMethod": "GET",
                      "path": "v1alpha/{+name}",
                      "id": "apim.projects.locations.observationJobs.apiObservations.get"
                    },
                    "list": {
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "ListApiObservations gets all ApiObservations for a given project and location and ObservationJob.",
                      "response": {
                        "$ref": "ListApiObservationsResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1alpha/{+parent}/apiObservations",
                      "id": "apim.projects.locations.observationJobs.apiObservations.list",
                      "parameters": {
                        "parent": {
                          "description": "Required. The parent, which owns this collection of ApiObservations. Format: projects/{project}/locations/{location}/observationJobs/{observation_job}",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/observationJobs/[^/]+$",
                          "type": "string"
                        },
                        "pageSize": {
                          "format": "int32",
                          "type": "integer",
                          "location": "query",
                          "description": "Optional. The maximum number of ApiObservations to return. The service may return fewer than this value. If unspecified, at most 10 ApiObservations will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. A page token, received from a previous `ListApiObservations` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListApiObservations` must match the call that provided the page token."
                        }
                      },
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationJobs/{observationJobsId}/apiObservations"
                    }
                  }
                }
              }
            },
            "operations": {
              "methods": {
                "cancel": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "The name of the operation resource to be cancelled.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "path": "v1alpha/{+name}:cancel",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "apim.projects.locations.operations.cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Empty"
                  }
                },
                "list": {
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "pageToken": {
                      "description": "The standard list page token.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "The standard list page size.",
                      "location": "query",
                      "type": "integer"
                    },
                    "filter": {
                      "location": "query",
                      "description": "The standard list filter.",
                      "type": "string"
                    },
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "The name of the operation's parent resource.",
                      "location": "path"
                    },
                    "returnPartialSuccess": {
                      "type": "boolean",
                      "location": "query",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "path": "v1alpha/{+name}/operations",
                  "httpMethod": "GET",
                  "id": "apim.projects.locations.operations.list"
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "id": "apim.projects.locations.operations.get",
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "path": "v1alpha/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  }
                },
                "delete": {
                  "response": {
                    "$ref": "Empty"
                  },
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The name of the operation resource to be deleted.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "id": "apim.projects.locations.operations.delete",
                  "path": "v1alpha/{+name}"
                }
              }
            }
          }
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "kind": "discovery#restDescription",
  "schemas": {
    "Entitlement": {
      "description": "Entitlement stores data related to API Observation entitlement for a given project",
      "id": "Entitlement",
      "type": "object",
      "properties": {
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time of the entitlement update.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The entitlement resource name `projects/{project}/locations/{location}/entitlement`",
          "type": "string"
        },
        "apiObservationEntitled": {
          "type": "boolean",
          "description": "Whether API Observation is entitled."
        },
        "billingProjectNumber": {
          "description": "Project number of associated billing project that has Apigee and Advanced API Security entitled.",
          "format": "int64",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time of the entitlement creation.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "DisableObservationJobRequest": {
      "properties": {},
      "type": "object",
      "id": "DisableObservationJobRequest",
      "description": "Message for disabling an ObservationJob"
    },
    "Location": {
      "id": "Location",
      "description": "A resource that represents a Google Cloud location.",
      "type": "object",
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata. For example the available capacity at the given location."
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        }
      }
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "type": "object",
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      }
    },
    "OperationMetadata": {
      "description": "Represents the metadata of the long-running operation.",
      "type": "object",
      "id": "OperationMetadata",
      "properties": {
        "statusMessage": {
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true
        },
        "verb": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation was created.",
          "readOnly": true
        },
        "requestedCancellation": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running.",
          "type": "string",
          "readOnly": true
        },
        "target": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation."
        },
        "apiVersion": {
          "readOnly": true,
          "description": "Output only. API version used to start the operation.",
          "type": "string"
        }
      }
    },
    "TagAction": {
      "description": "Message for edit tag action",
      "id": "TagAction",
      "type": "object",
      "properties": {
        "action": {
          "type": "string",
          "enum": [
            "ACTION_UNSPECIFIED",
            "ADD",
            "REMOVE"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Addition of a Tag.",
            "Removal of a Tag."
          ],
          "description": "Required. Action to be applied"
        },
        "tag": {
          "type": "string",
          "description": "Required. Tag to be added or removed"
        }
      }
    },
    "ListObservationJobsResponse": {
      "id": "ListObservationJobsResponse",
      "properties": {
        "observationJobs": {
          "type": "array",
          "items": {
            "$ref": "ObservationJob"
          },
          "description": "The ObservationJob from the specified project and location."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Message for response to listing ObservationJobs",
      "type": "object"
    },
    "ListApiObservationTagsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "apiObservationTags": {
          "type": "array",
          "description": "The tags from the specified project",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Message for response to listing tags",
      "id": "ListApiObservationTagsResponse",
      "type": "object"
    },
    "ObservationJob": {
      "id": "ObservationJob",
      "description": "Message describing ObservationJob object",
      "type": "object",
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ENABLING",
            "ENABLED",
            "DISABLING",
            "DISABLED",
            "DELETING",
            "ERROR"
          ],
          "description": "Output only. The observation job state",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified state",
            "Job is in the creating state",
            "Job is in the enabling state",
            "Job is enabled",
            "Job is in the disabling state",
            "Job is disabled",
            "Job is being deleted",
            "Job is in an error state"
          ]
        },
        "name": {
          "type": "string",
          "description": "Identifier. name of resource Format: projects/{project}/locations/{location}/observationJobs/{observation_job}"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. [Output only] Update time stamp"
        },
        "sources": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. These should be of the same kind of source."
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. [Output only] Create time stamp"
        }
      }
    },
    "EditTagsApiObservationsRequest": {
      "type": "object",
      "description": "Message for requesting edit tags for ApiObservation",
      "id": "EditTagsApiObservationsRequest",
      "properties": {
        "tagActions": {
          "type": "array",
          "items": {
            "$ref": "TagAction"
          },
          "description": "Required. Tag actions to be applied"
        },
        "apiObservationId": {
          "description": "Required. Identifier of ApiObservation need to be edit tags Format example: \"apigee.googleapis.com|us-west1|443\"",
          "type": "string"
        }
      }
    },
    "ListObservationSourcesResponse": {
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "observationSources": {
          "type": "array",
          "items": {
            "$ref": "ObservationSource"
          },
          "description": "The ObservationSource from the specified project and location."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "type": "object",
      "id": "ListObservationSourcesResponse",
      "description": "Message for response to listing ObservationSources"
    },
    "HttpOperationHeader": {
      "type": "object",
      "description": "An aggregation of HTTP header occurrences.",
      "id": "HttpOperationHeader",
      "properties": {
        "count": {
          "format": "int64",
          "type": "string",
          "description": "The number of occurrences of this Header across transactions."
        },
        "name": {
          "type": "string",
          "description": "Header name."
        },
        "dataType": {
          "enumDescriptions": [
            "Unspecified data type",
            "Boolean data type",
            "Integer data type",
            "Float data type",
            "String data type",
            "UUID data type"
          ],
          "description": "Data type of header",
          "type": "string",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "BOOL",
            "INTEGER",
            "FLOAT",
            "STRING",
            "UUID"
          ]
        }
      }
    },
    "ListApiOperationsResponse": {
      "id": "ListApiOperationsResponse",
      "description": "Message for response to listing ApiOperations",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "apiOperations": {
          "type": "array",
          "description": "The ApiOperations from the specified project and location and ObservationJob and ApiObservation.",
          "items": {
            "$ref": "ApiOperation"
          }
        }
      }
    },
    "HttpOperationPathParam": {
      "type": "object",
      "description": "HTTP Path parameter.",
      "id": "HttpOperationPathParam",
      "properties": {
        "position": {
          "description": "Segment location in the path, 1-indexed",
          "format": "int32",
          "type": "integer"
        },
        "dataType": {
          "description": "Data type of path param",
          "type": "string",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "BOOL",
            "INTEGER",
            "FLOAT",
            "STRING",
            "UUID"
          ],
          "enumDescriptions": [
            "Unspecified data type",
            "Boolean data type",
            "Integer data type",
            "Float data type",
            "String data type",
            "UUID data type"
          ]
        }
      }
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          }
        },
        "operations": {
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          }
        }
      },
      "description": "The response message for Operations.ListOperations."
    },
    "GclbObservationSource": {
      "properties": {
        "pscNetworkConfigs": {
          "items": {
            "$ref": "GclbObservationSourcePscNetworkConfig"
          },
          "type": "array",
          "description": "Required. The VPC networks where traffic will be observed. All load balancers within this network will be observed. Currently, this is limited to only one network."
        }
      },
      "type": "object",
      "description": "The GCLB observation source.",
      "id": "GclbObservationSource"
    },
    "HttpOperationQueryParam": {
      "description": "An aggregation of HTTP query parameter occurrences.",
      "properties": {
        "count": {
          "type": "string",
          "format": "int64",
          "description": "The number of occurrences of this query parameter across transactions."
        },
        "name": {
          "description": "Name of query param",
          "type": "string"
        },
        "dataType": {
          "enumDescriptions": [
            "Unspecified data type",
            "Boolean data type",
            "Integer data type",
            "Float data type",
            "String data type",
            "UUID data type"
          ],
          "type": "string",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "BOOL",
            "INTEGER",
            "FLOAT",
            "STRING",
            "UUID"
          ],
          "description": "Data type of path param"
        }
      },
      "id": "HttpOperationQueryParam",
      "type": "object"
    },
    "BatchEditTagsApiObservationsRequest": {
      "type": "object",
      "properties": {
        "requests": {
          "items": {
            "$ref": "EditTagsApiObservationsRequest"
          },
          "type": "array",
          "description": "Required. The request message specifying the resources to update. A maximum of 1000 apiObservations can be modified in a batch."
        }
      },
      "id": "BatchEditTagsApiObservationsRequest",
      "description": "Message for requesting batch edit tags for ApiObservations"
    },
    "ApiOperation": {
      "description": "Message describing ApiOperation object",
      "type": "object",
      "properties": {
        "lastSeenTime": {
          "description": "Last seen time stamp",
          "type": "string",
          "format": "google-datetime"
        },
        "httpOperation": {
          "$ref": "HttpOperation",
          "description": "An HTTP Operation."
        },
        "name": {
          "type": "string",
          "description": "Identifier. Name of resource"
        },
        "count": {
          "format": "int64",
          "description": "The number of occurrences of this API Operation.",
          "type": "string"
        },
        "firstSeenTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "First seen time stamp"
        }
      },
      "id": "ApiOperation"
    },
    "BatchEditTagsApiObservationsResponse": {
      "id": "BatchEditTagsApiObservationsResponse",
      "properties": {
        "apiObservations": {
          "type": "array",
          "description": "ApiObservations that were changed",
          "items": {
            "$ref": "ApiObservation"
          }
        }
      },
      "type": "object",
      "description": "Message for response to edit Tags for ApiObservations"
    },
    "EnableObservationJobRequest": {
      "properties": {},
      "description": "Message for enabling an ObservationJob",
      "id": "EnableObservationJobRequest",
      "type": "object"
    },
    "ObservationSource": {
      "properties": {
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. [Output only] Update time stamp"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "CREATED",
            "DELETING",
            "ERROR"
          ],
          "readOnly": true,
          "description": "Output only. The observation source state",
          "enumDescriptions": [
            "Unspecified state",
            "Source is in the creating state",
            "Source has been created and is ready to use",
            "Source is being deleted",
            "Source is in an error state"
          ],
          "type": "string"
        },
        "gclbObservationSource": {
          "$ref": "GclbObservationSource",
          "description": "The GCLB observation source"
        },
        "name": {
          "description": "Identifier. name of resource For MVP, each region can only have 1 source.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. [Output only] Create time stamp"
        }
      },
      "id": "ObservationSource",
      "type": "object",
      "description": "Observation source configuration types"
    },
    "Empty": {
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty"
    },
    "GclbObservationSourcePscNetworkConfig": {
      "type": "object",
      "description": "Network information for setting up a PSC connection.",
      "id": "GclbObservationSourcePscNetworkConfig",
      "properties": {
        "network": {
          "type": "string",
          "description": "Required. The VPC network. Format: `projects/{project_id}/global/networks/{network}`"
        },
        "subnetwork": {
          "description": "Required. The subnetwork in the source region that will be used to connect to the Cloud Load Balancers via PSC NEGs. Must belong to `network`. Format: projects/{project_id}/regions/{region}/subnetworks/{subnet}",
          "type": "string"
        }
      }
    },
    "HttpOperation": {
      "type": "object",
      "id": "HttpOperation",
      "properties": {
        "response": {
          "$ref": "HttpOperationHttpResponse",
          "description": "Response metadata."
        },
        "request": {
          "$ref": "HttpOperationHttpRequest",
          "description": "Request metadata."
        },
        "method": {
          "enumDescriptions": [
            "Unspecified HTTP method",
            "GET HTTP method",
            "HEAD HTTP method",
            "POST HTTP method",
            "PUT HTTP method",
            "PATCH HTTP method",
            "DELETE HTTP method",
            "TRACE HTTP method",
            "OPTIONS HTTP method",
            "CONNECT HTTP method"
          ],
          "enum": [
            "HTTP_METHOD_UNSPECIFIED",
            "GET",
            "HEAD",
            "POST",
            "PUT",
            "PATCH",
            "DELETE",
            "TRACE",
            "OPTIONS",
            "CONNECT"
          ],
          "type": "string",
          "description": "HTTP Method."
        },
        "path": {
          "type": "string",
          "description": "Path of the HTTP request."
        },
        "pathParams": {
          "items": {
            "$ref": "HttpOperationPathParam"
          },
          "type": "array",
          "description": "Path params of HttpOperation"
        },
        "queryParams": {
          "type": "object",
          "additionalProperties": {
            "$ref": "HttpOperationQueryParam"
          },
          "description": "Query params of HttpOperation"
        }
      },
      "description": "An HTTP-based API Operation, sometimes called a \"REST\" Operation."
    },
    "HttpOperationHttpResponse": {
      "id": "HttpOperationHttpResponse",
      "type": "object",
      "properties": {
        "headers": {
          "description": "Unordered map from header name to header metadata",
          "additionalProperties": {
            "$ref": "HttpOperationHeader"
          },
          "type": "object"
        },
        "responseCodes": {
          "additionalProperties": {
            "format": "int64",
            "type": "string"
          },
          "description": "Map of status code to observed count",
          "type": "object"
        }
      },
      "description": "An aggregation of HTTP responses."
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation",
      "type": "object",
      "properties": {
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        }
      }
    },
    "Status": {
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "ApiObservation": {
      "properties": {
        "apiOperationCount": {
          "format": "int64",
          "description": "The number of observed API Operations.",
          "type": "string"
        },
        "serverIps": {
          "description": "The IP address (IPv4 or IPv6) of the origin server that the request was sent to. This field can include port information. Examples: `\"192.168.1.1\"`, `\"10.0.0.1:80\"`, `\"FE80::0202:B3FF:FE1E:8329\"`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "sourceLocations": {
          "items": {
            "type": "string"
          },
          "description": "Location of the Observation Source, for example \"us-central1\" or \"europe-west1.\"",
          "type": "array"
        },
        "createTime": {
          "description": "Create time stamp",
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "description": "Identifier. Name of resource",
          "type": "string"
        },
        "style": {
          "enum": [
            "STYLE_UNSPECIFIED",
            "REST",
            "GRPC",
            "GRAPHQL"
          ],
          "type": "string",
          "description": "Style of ApiObservation",
          "enumDescriptions": [
            "Unknown style",
            "Style is Rest API",
            "Style is Grpc API",
            "Style is GraphQL API"
          ]
        },
        "tags": {
          "description": "User-defined tags to organize and sort",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "hostname": {
          "description": "The hostname of requests processed for this Observation.",
          "type": "string"
        },
        "updateTime": {
          "description": "Update time stamp",
          "format": "google-datetime",
          "type": "string"
        },
        "lastEventDetectedTime": {
          "description": "Last event detected time stamp",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "Message describing ApiObservation object",
      "type": "object",
      "id": "ApiObservation"
    },
    "HttpOperationHttpRequest": {
      "description": "An aggregation of HTTP requests.",
      "type": "object",
      "properties": {
        "headers": {
          "type": "object",
          "additionalProperties": {
            "$ref": "HttpOperationHeader"
          },
          "description": "Unordered map from header name to header metadata"
        }
      },
      "id": "HttpOperationHttpRequest"
    },
    "ListApiObservationsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "apiObservations": {
          "items": {
            "$ref": "ApiObservation"
          },
          "type": "array",
          "description": "The ApiObservation from the specified project and location and ObservationJobs."
        }
      },
      "type": "object",
      "description": "Message for response to listing ApiObservations",
      "id": "ListApiObservationsResponse"
    },
    "CancelOperationRequest": {
      "properties": {},
      "id": "CancelOperationRequest",
      "type": "object",
      "description": "The request message for Operations.CancelOperation."
    }
  },
  "documentationLink": "https://cloud.google.com/apigee/"
}