{
  "id": "apim:v1alpha",
  "canonicalName": "API Management",
  "rootUrl": "https://apim.googleapis.com/",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "documentationLink": "https://cloud.google.com/apigee/",
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "version": "v1alpha",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "name": "apim",
  "parameters": {
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response."
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    }
  },
  "kind": "discovery#restDescription",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "id": "apim.projects.locations.list",
              "path": "v1alpha/{+name}/locations",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "flatPath": "v1alpha/projects/{projectsId}/locations",
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "parameters": {
                "extraLocationTypes": {
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "location": "query",
                  "repeated": true,
                  "type": "string"
                },
                "name": {
                  "description": "The resource that owns the locations collection, if applicable.",
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET"
            },
            "get": {
              "id": "apim.projects.locations.get",
              "response": {
                "$ref": "Location"
              },
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}",
              "path": "v1alpha/{+name}",
              "description": "Gets information about a location.",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "Resource name for the location.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "listApiObservationTags": {
              "description": "ListApiObservationTags lists all extant tags on any observation in the given project.",
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The parent, which owns this collection of tags. Format: projects/{project}/locations/{location}"
                },
                "pageSize": {
                  "description": "Optional. The maximum number of tags to return. The service may return fewer than this value. If unspecified, at most 10 tags will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "Optional. A page token, received from a previous `ListApiObservationTags` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListApiObservationTags` must match the call that provided the page token.",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "id": "apim.projects.locations.listApiObservationTags",
              "path": "v1alpha/{+parent}:listApiObservationTags",
              "response": {
                "$ref": "ListApiObservationTagsResponse"
              },
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}:listApiObservationTags"
            },
            "getEntitlement": {
              "description": "GetEntitlement returns the entitlement for the provided project.",
              "parameters": {
                "name": {
                  "description": "Required. The entitlement resource name Format: projects/{project}/locations/{location}/entitlement",
                  "pattern": "^projects/[^/]+/locations/[^/]+/entitlement$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "id": "apim.projects.locations.getEntitlement",
              "path": "v1alpha/{+name}",
              "response": {
                "$ref": "Entitlement"
              },
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/entitlement"
            }
          },
          "resources": {
            "observationSources": {
              "methods": {
                "create": {
                  "path": "v1alpha/{+parent}/observationSources",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationSources",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "apim.projects.locations.observationSources.create",
                  "parameters": {
                    "parent": {
                      "description": "Required. Value for parent.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "observationSourceId": {
                      "type": "string",
                      "description": "Required. The ID to use for the Observation Source. This value should be 4-63 characters, and valid characters are /a-z-/.",
                      "location": "query"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "ObservationSource"
                  },
                  "httpMethod": "POST",
                  "description": "CreateObservationSource creates a new ObservationSource but does not affect any deployed infrastructure. It is a configuration that can be used in an Observation Job to collect data about APIs running in user's dataplane."
                },
                "get": {
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/observationSources/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The name of the ObservationSource to retrieve. Format: projects/{project}/locations/{location}/observationSources/{source}"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "description": "GetObservationSource retrieves a single ObservationSource by name.",
                  "path": "v1alpha/{+name}",
                  "response": {
                    "$ref": "ObservationSource"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationSources/{observationSourcesId}",
                  "id": "apim.projects.locations.observationSources.get"
                },
                "list": {
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent, which owns this collection of ObservationSources. Format: projects/{project}/locations/{location}",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of ObservationSources to return. The service may return fewer than this value. If unspecified, at most 10 ObservationSources will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A page token, received from a previous `ListObservationSources` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListObservationSources` must match the call that provided the page token.",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "description": "ListObservationSources gets all ObservationSources for a given project and location.",
                  "path": "v1alpha/{+parent}/observationSources",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationSources",
                  "response": {
                    "$ref": "ListObservationSourcesResponse"
                  },
                  "id": "apim.projects.locations.observationSources.list"
                },
                "delete": {
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationSources/{observationSourcesId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1alpha/{+name}",
                  "id": "apim.projects.locations.observationSources.delete",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/observationSources/[^/]+$",
                      "location": "path",
                      "description": "Required. Name of the resource Format: projects/{project}/locations/{location}/observationSources/{source}"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "DeleteObservationSource deletes an observation source. This method will fail if the observation source is currently being used by any ObservationJob, even if not enabled."
                }
              }
            },
            "operations": {
              "methods": {
                "list": {
                  "id": "apim.projects.locations.operations.list",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations",
                  "path": "v1alpha/{+name}/operations",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "httpMethod": "GET",
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The standard list page size.",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "returnPartialSuccess": {
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "The name of the operation's parent resource."
                    },
                    "filter": {
                      "type": "string",
                      "description": "The standard list filter.",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "id": "apim.projects.locations.operations.get",
                  "path": "v1alpha/{+name}",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "description": "The name of the operation resource."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET"
                },
                "delete": {
                  "id": "apim.projects.locations.operations.delete",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "path": "v1alpha/{+name}",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be deleted.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "cancel": {
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be cancelled.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "path": "v1alpha/{+name}:cancel",
                  "response": {
                    "$ref": "Empty"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "id": "apim.projects.locations.operations.cancel"
                }
              }
            },
            "observationJobs": {
              "methods": {
                "get": {
                  "id": "apim.projects.locations.observationJobs.get",
                  "response": {
                    "$ref": "ObservationJob"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationJobs/{observationJobsId}",
                  "path": "v1alpha/{+name}",
                  "description": "GetObservationJob retrieves a single ObservationJob by name.",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/observationJobs/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The name of the ObservationJob to retrieve. Format: projects/{project}/locations/{location}/observationJobs/{job}"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "enable": {
                  "id": "apim.projects.locations.observationJobs.enable",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationJobs/{observationJobsId}:enable",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1alpha/{+name}:enable",
                  "description": "Enables the given ObservationJob.",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/observationJobs/[^/]+$",
                      "location": "path",
                      "description": "Required. The name of the ObservationJob to enable. Format: projects/{project}/locations/{location}/observationJobs/{job}"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "EnableObservationJobRequest"
                  }
                },
                "disable": {
                  "description": "Disables the given ObservationJob.",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the ObservationJob to disable. Format: projects/{project}/locations/{location}/observationJobs/{job}",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/observationJobs/[^/]+$",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "DisableObservationJobRequest"
                  },
                  "id": "apim.projects.locations.observationJobs.disable",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationJobs/{observationJobsId}:disable",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1alpha/{+name}:disable"
                },
                "list": {
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationJobs",
                  "response": {
                    "$ref": "ListObservationJobsResponse"
                  },
                  "path": "v1alpha/{+parent}/observationJobs",
                  "id": "apim.projects.locations.observationJobs.list",
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The parent, which owns this collection of ObservationJobs. Format: projects/{project}/locations/{location}"
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of ObservationJobs to return. The service may return fewer than this value. If unspecified, at most 10 ObservationJobs will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A page token, received from a previous `ListObservationJobs` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListObservationJobs` must match the call that provided the page token.",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "ListObservationJobs gets all ObservationJobs for a given project and location."
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the resource Format: projects/{project}/locations/{location}/observationJobs/{observation_job}",
                      "pattern": "^projects/[^/]+/locations/[^/]+/observationJobs/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE",
                  "description": "DeleteObservationJob deletes an ObservationJob. This method will fail if the observation job is currently being used by any ObservationSource, even if not enabled.",
                  "path": "v1alpha/{+name}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationJobs/{observationJobsId}",
                  "id": "apim.projects.locations.observationJobs.delete"
                },
                "create": {
                  "description": "CreateObservationJob creates a new ObservationJob but does not have any effecton its own. It is a configuration that can be used in an Observation Job to collect data about existing APIs.",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "ObservationJob"
                  },
                  "parameters": {
                    "observationJobId": {
                      "type": "string",
                      "description": "Required. The ID to use for the Observation Job. This value should be 4-63 characters, and valid characters are /a-z-/.",
                      "location": "query"
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The parent resource where this ObservationJob will be created. Format: projects/{project}/locations/{location}"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "apim.projects.locations.observationJobs.create",
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationJobs",
                  "path": "v1alpha/{+parent}/observationJobs"
                }
              },
              "resources": {
                "apiObservations": {
                  "methods": {
                    "batchEditTags": {
                      "parameters": {
                        "parent": {
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/observationJobs/[^/]+$",
                          "location": "path",
                          "description": "Required. The parent resource shared by all ApiObservations being edited. Format: projects/{project}/locations/{location}/observationJobs/{observation_job}"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "BatchEditTagsApiObservationsRequest"
                      },
                      "httpMethod": "POST",
                      "description": "BatchEditTagsApiObservations adds or removes Tags for ApiObservations.",
                      "path": "v1alpha/{+parent}/apiObservations:batchEditTags",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationJobs/{observationJobsId}/apiObservations:batchEditTags",
                      "response": {
                        "$ref": "BatchEditTagsApiObservationsResponse"
                      },
                      "id": "apim.projects.locations.observationJobs.apiObservations.batchEditTags"
                    },
                    "get": {
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationJobs/{observationJobsId}/apiObservations/{apiObservationsId}",
                      "response": {
                        "$ref": "ApiObservation"
                      },
                      "path": "v1alpha/{+name}",
                      "id": "apim.projects.locations.observationJobs.apiObservations.get",
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/observationJobs/[^/]+/apiObservations/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. The name of the ApiObservation to retrieve. Format: projects/{project}/locations/{location}/observationJobs/{observation_job}/apiObservations/{api_observation}"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "GetApiObservation retrieves a single ApiObservation by name."
                    },
                    "list": {
                      "description": "ListApiObservations gets all ApiObservations for a given project and location and ObservationJob.",
                      "parameters": {
                        "parent": {
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/observationJobs/[^/]+$",
                          "location": "path",
                          "description": "Required. The parent, which owns this collection of ApiObservations. Format: projects/{project}/locations/{location}/observationJobs/{observation_job}"
                        },
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Optional. The maximum number of ApiObservations to return. The service may return fewer than this value. If unspecified, at most 10 ApiObservations will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                          "location": "query"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "Optional. A page token, received from a previous `ListApiObservations` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListApiObservations` must match the call that provided the page token.",
                          "location": "query"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "id": "apim.projects.locations.observationJobs.apiObservations.list",
                      "path": "v1alpha/{+parent}/apiObservations",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationJobs/{observationJobsId}/apiObservations",
                      "response": {
                        "$ref": "ListApiObservationsResponse"
                      }
                    }
                  },
                  "resources": {
                    "apiOperations": {
                      "methods": {
                        "get": {
                          "id": "apim.projects.locations.observationJobs.apiObservations.apiOperations.get",
                          "response": {
                            "$ref": "ApiOperation"
                          },
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationJobs/{observationJobsId}/apiObservations/{apiObservationsId}/apiOperations/{apiOperationsId}",
                          "path": "v1alpha/{+name}",
                          "description": "GetApiOperation retrieves a single ApiOperation by name.",
                          "httpMethod": "GET",
                          "parameters": {
                            "name": {
                              "description": "Required. The name of the ApiOperation to retrieve. Format: projects/{project}/locations/{location}/observationJobs/{observation_job}/apiObservations/{api_observation}/apiOperation/{api_operation}",
                              "pattern": "^projects/[^/]+/locations/[^/]+/observationJobs/[^/]+/apiObservations/[^/]+/apiOperations/[^/]+$",
                              "location": "path",
                              "required": true,
                              "type": "string"
                            }
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        },
                        "list": {
                          "id": "apim.projects.locations.observationJobs.apiObservations.apiOperations.list",
                          "path": "v1alpha/{+parent}/apiOperations",
                          "response": {
                            "$ref": "ListApiOperationsResponse"
                          },
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationJobs/{observationJobsId}/apiObservations/{apiObservationsId}/apiOperations",
                          "description": "ListApiOperations gets all ApiOperations for a given project and location and ObservationJob and ApiObservation.",
                          "parameters": {
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/observationJobs/[^/]+/apiObservations/[^/]+$",
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "description": "Required. The parent, which owns this collection of ApiOperations. Format: projects/{project}/locations/{location}/observationJobs/{observation_job}/apiObservations/{api_observation}"
                            },
                            "pageSize": {
                              "type": "integer",
                              "format": "int32",
                              "description": "Optional. The maximum number of ApiOperations to return. The service may return fewer than this value. If unspecified, at most 10 ApiOperations will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                              "location": "query"
                            },
                            "pageToken": {
                              "description": "Optional. A page token, received from a previous `ListApiApiOperations` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListApiApiOperations` must match the call that provided the page token.",
                              "location": "query",
                              "type": "string"
                            }
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "GET"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "protocol": "rest",
  "title": "API Management API",
  "batchPath": "batch",
  "description": "Enables users to discover shadow APIs in existing Google Cloud infrastructure.",
  "revision": "20260715",
  "baseUrl": "https://apim.googleapis.com/",
  "basePath": "",
  "servicePath": "",
  "mtlsRootUrl": "https://apim.mtls.googleapis.com/",
  "schemas": {
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "type": "object",
      "properties": {},
      "description": "The request message for Operations.CancelOperation."
    },
    "HttpOperationHttpResponse": {
      "description": "An aggregation of HTTP responses.",
      "type": "object",
      "properties": {
        "headers": {
          "description": "Unordered map from header name to header metadata",
          "additionalProperties": {
            "$ref": "HttpOperationHeader"
          },
          "type": "object"
        },
        "responseCodes": {
          "description": "Map of status code to observed count",
          "additionalProperties": {
            "type": "string",
            "format": "int64"
          },
          "type": "object"
        }
      },
      "id": "HttpOperationHttpResponse"
    },
    "Operation": {
      "id": "Operation",
      "type": "object",
      "properties": {
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "ApiObservation": {
      "type": "object",
      "properties": {
        "apiOperationCount": {
          "description": "The number of observed API Operations.",
          "type": "string",
          "format": "int64"
        },
        "lastEventDetectedTime": {
          "description": "Last event detected time stamp",
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Name of resource"
        },
        "tags": {
          "description": "User-defined tags to organize and sort",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "sourceLocations": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Location of the Observation Source, for example \"us-central1\" or \"europe-west1.\""
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Create time stamp"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Update time stamp"
        },
        "style": {
          "type": "string",
          "enum": [
            "STYLE_UNSPECIFIED",
            "REST",
            "GRPC",
            "GRAPHQL"
          ],
          "description": "Style of ApiObservation",
          "enumDescriptions": [
            "Unknown style",
            "Style is Rest API",
            "Style is Grpc API",
            "Style is GraphQL API"
          ]
        },
        "hostname": {
          "type": "string",
          "description": "The hostname of requests processed for this Observation."
        },
        "serverIps": {
          "description": "The IP address (IPv4 or IPv6) of the origin server that the request was sent to. This field can include port information. Examples: `\"192.168.1.1\"`, `\"10.0.0.1:80\"`, `\"FE80::0202:B3FF:FE1E:8329\"`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Message describing ApiObservation object",
      "id": "ApiObservation"
    },
    "ListApiObservationTagsResponse": {
      "description": "Message for response to listing tags",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "apiObservationTags": {
          "items": {
            "type": "string"
          },
          "description": "The tags from the specified project",
          "type": "array"
        }
      },
      "id": "ListApiObservationTagsResponse"
    },
    "DisableObservationJobRequest": {
      "id": "DisableObservationJobRequest",
      "description": "Message for disabling an ObservationJob",
      "type": "object",
      "properties": {}
    },
    "Status": {
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status"
    },
    "HttpOperationQueryParam": {
      "description": "An aggregation of HTTP query parameter occurrences.",
      "type": "object",
      "properties": {
        "count": {
          "type": "string",
          "format": "int64",
          "description": "The number of occurrences of this query parameter across transactions."
        },
        "name": {
          "description": "Name of query param",
          "type": "string"
        },
        "dataType": {
          "description": "Data type of path param",
          "enumDescriptions": [
            "Unspecified data type",
            "Boolean data type",
            "Integer data type",
            "Float data type",
            "String data type",
            "UUID data type"
          ],
          "type": "string",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "BOOL",
            "INTEGER",
            "FLOAT",
            "STRING",
            "UUID"
          ]
        }
      },
      "id": "HttpOperationQueryParam"
    },
    "EditTagsApiObservationsRequest": {
      "id": "EditTagsApiObservationsRequest",
      "type": "object",
      "properties": {
        "apiObservationId": {
          "description": "Required. Identifier of ApiObservation need to be edit tags Format example: \"apigee.googleapis.com|us-west1|443\"",
          "type": "string"
        },
        "tagActions": {
          "items": {
            "$ref": "TagAction"
          },
          "type": "array",
          "description": "Required. Tag actions to be applied"
        }
      },
      "description": "Message for requesting edit tags for ApiObservation"
    },
    "ListOperationsResponse": {
      "type": "object",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array"
        },
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "description": "The response message for Operations.ListOperations.",
      "id": "ListOperationsResponse"
    },
    "ApiOperation": {
      "type": "object",
      "properties": {
        "count": {
          "description": "The number of occurrences of this API Operation.",
          "type": "string",
          "format": "int64"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Name of resource"
        },
        "httpOperation": {
          "description": "An HTTP Operation.",
          "$ref": "HttpOperation"
        },
        "firstSeenTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "First seen time stamp"
        },
        "lastSeenTime": {
          "description": "Last seen time stamp",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "Message describing ApiOperation object",
      "id": "ApiOperation"
    },
    "ListApiObservationsResponse": {
      "description": "Message for response to listing ApiObservations",
      "type": "object",
      "properties": {
        "apiObservations": {
          "items": {
            "$ref": "ApiObservation"
          },
          "description": "The ApiObservation from the specified project and location and ObservationJobs.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "ListApiObservationsResponse"
    },
    "TagAction": {
      "id": "TagAction",
      "type": "object",
      "properties": {
        "tag": {
          "description": "Required. Tag to be added or removed",
          "type": "string"
        },
        "action": {
          "description": "Required. Action to be applied",
          "enumDescriptions": [
            "Unspecified.",
            "Addition of a Tag.",
            "Removal of a Tag."
          ],
          "type": "string",
          "enum": [
            "ACTION_UNSPECIFIED",
            "ADD",
            "REMOVE"
          ]
        }
      },
      "description": "Message for edit tag action"
    },
    "GclbObservationSource": {
      "id": "GclbObservationSource",
      "description": "The GCLB observation source.",
      "type": "object",
      "properties": {
        "pscNetworkConfigs": {
          "items": {
            "$ref": "GclbObservationSourcePscNetworkConfig"
          },
          "description": "Required. The VPC networks where traffic will be observed. All load balancers within this network will be observed. Currently, this is limited to only one network.",
          "type": "array"
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {}
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "type": "object",
      "properties": {
        "locations": {
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      }
    },
    "HttpOperationHttpRequest": {
      "description": "An aggregation of HTTP requests.",
      "type": "object",
      "properties": {
        "headers": {
          "description": "Unordered map from header name to header metadata",
          "additionalProperties": {
            "$ref": "HttpOperationHeader"
          },
          "type": "object"
        }
      },
      "id": "HttpOperationHttpRequest"
    },
    "BatchEditTagsApiObservationsRequest": {
      "id": "BatchEditTagsApiObservationsRequest",
      "type": "object",
      "properties": {
        "requests": {
          "items": {
            "$ref": "EditTagsApiObservationsRequest"
          },
          "description": "Required. The request message specifying the resources to update. A maximum of 1000 apiObservations can be modified in a batch.",
          "type": "array"
        }
      },
      "description": "Message for requesting batch edit tags for ApiObservations"
    },
    "EnableObservationJobRequest": {
      "type": "object",
      "properties": {},
      "description": "Message for enabling an ObservationJob",
      "id": "EnableObservationJobRequest"
    },
    "HttpOperation": {
      "type": "object",
      "properties": {
        "pathParams": {
          "items": {
            "$ref": "HttpOperationPathParam"
          },
          "type": "array",
          "description": "Path params of HttpOperation"
        },
        "queryParams": {
          "type": "object",
          "description": "Query params of HttpOperation",
          "additionalProperties": {
            "$ref": "HttpOperationQueryParam"
          }
        },
        "response": {
          "description": "Response metadata.",
          "$ref": "HttpOperationHttpResponse"
        },
        "path": {
          "description": "Path of the HTTP request.",
          "type": "string"
        },
        "method": {
          "description": "HTTP Method.",
          "enumDescriptions": [
            "Unspecified HTTP method",
            "GET HTTP method",
            "HEAD HTTP method",
            "POST HTTP method",
            "PUT HTTP method",
            "PATCH HTTP method",
            "DELETE HTTP method",
            "TRACE HTTP method",
            "OPTIONS HTTP method",
            "CONNECT HTTP method"
          ],
          "type": "string",
          "enum": [
            "HTTP_METHOD_UNSPECIFIED",
            "GET",
            "HEAD",
            "POST",
            "PUT",
            "PATCH",
            "DELETE",
            "TRACE",
            "OPTIONS",
            "CONNECT"
          ]
        },
        "request": {
          "description": "Request metadata.",
          "$ref": "HttpOperationHttpRequest"
        }
      },
      "description": "An HTTP-based API Operation, sometimes called a \"REST\" Operation.",
      "id": "HttpOperation"
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "type": "object",
      "properties": {
        "apiVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. API version used to start the operation."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation was created.",
          "readOnly": true
        },
        "target": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation."
        },
        "requestedCancellation": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        },
        "verb": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation."
        },
        "statusMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "description": "Represents the metadata of the long-running operation."
    },
    "BatchEditTagsApiObservationsResponse": {
      "type": "object",
      "properties": {
        "apiObservations": {
          "type": "array",
          "description": "ApiObservations that were changed",
          "items": {
            "$ref": "ApiObservation"
          }
        }
      },
      "description": "Message for response to edit Tags for ApiObservations",
      "id": "BatchEditTagsApiObservationsResponse"
    },
    "GclbObservationSourcePscNetworkConfig": {
      "id": "GclbObservationSourcePscNetworkConfig",
      "description": "Network information for setting up a PSC connection.",
      "type": "object",
      "properties": {
        "network": {
          "description": "Required. The VPC network. Format: `projects/{project_id}/global/networks/{network}`",
          "type": "string"
        },
        "subnetwork": {
          "description": "Required. The subnetwork in the source region that will be used to connect to the Cloud Load Balancers via PSC NEGs. Must belong to `network`. Format: projects/{project_id}/regions/{region}/subnetworks/{subnet}",
          "type": "string"
        }
      }
    },
    "HttpOperationPathParam": {
      "id": "HttpOperationPathParam",
      "description": "HTTP Path parameter.",
      "type": "object",
      "properties": {
        "position": {
          "description": "Segment location in the path, 1-indexed",
          "type": "integer",
          "format": "int32"
        },
        "dataType": {
          "type": "string",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "BOOL",
            "INTEGER",
            "FLOAT",
            "STRING",
            "UUID"
          ],
          "description": "Data type of path param",
          "enumDescriptions": [
            "Unspecified data type",
            "Boolean data type",
            "Integer data type",
            "Float data type",
            "String data type",
            "UUID data type"
          ]
        }
      }
    },
    "ListApiOperationsResponse": {
      "description": "Message for response to listing ApiOperations",
      "type": "object",
      "properties": {
        "apiOperations": {
          "items": {
            "$ref": "ApiOperation"
          },
          "description": "The ApiOperations from the specified project and location and ObservationJob and ApiObservation.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListApiOperationsResponse"
    },
    "Entitlement": {
      "id": "Entitlement",
      "description": "Entitlement stores data related to API Observation entitlement for a given project",
      "type": "object",
      "properties": {
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time of the entitlement update.",
          "readOnly": true
        },
        "billingProjectNumber": {
          "description": "Project number of associated billing project that has Apigee and Advanced API Security entitled.",
          "type": "string",
          "format": "int64"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time of the entitlement creation.",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. The entitlement resource name `projects/{project}/locations/{location}/entitlement`",
          "type": "string"
        },
        "apiObservationEntitled": {
          "type": "boolean",
          "description": "Whether API Observation is entitled."
        }
      }
    },
    "ObservationSource": {
      "type": "object",
      "properties": {
        "gclbObservationSource": {
          "description": "The GCLB observation source",
          "$ref": "GclbObservationSource"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. [Output only] Create time stamp",
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. [Output only] Update time stamp",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. name of resource For MVP, each region can only have 1 source.",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Unspecified state",
            "Source is in the creating state",
            "Source has been created and is ready to use",
            "Source is being deleted",
            "Source is in an error state"
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. The observation source state",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "CREATED",
            "DELETING",
            "ERROR"
          ]
        }
      },
      "description": "Observation source configuration types",
      "id": "ObservationSource"
    },
    "Location": {
      "id": "Location",
      "description": "A resource that represents a Google Cloud location.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        }
      }
    },
    "ObservationJob": {
      "id": "ObservationJob",
      "type": "object",
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ENABLING",
            "ENABLED",
            "DISABLING",
            "DISABLED",
            "DELETING",
            "ERROR"
          ],
          "description": "Output only. The observation job state",
          "type": "string",
          "enumDescriptions": [
            "Unspecified state",
            "Job is in the creating state",
            "Job is in the enabling state",
            "Job is enabled",
            "Job is in the disabling state",
            "Job is disabled",
            "Job is being deleted",
            "Job is in an error state"
          ],
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. [Output only] Create time stamp"
        },
        "sources": {
          "items": {
            "type": "string"
          },
          "description": "Optional. These should be of the same kind of source.",
          "type": "array"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. [Output only] Update time stamp"
        },
        "name": {
          "type": "string",
          "description": "Identifier. name of resource Format: projects/{project}/locations/{location}/observationJobs/{observation_job}"
        }
      },
      "description": "Message describing ObservationJob object"
    },
    "ListObservationSourcesResponse": {
      "id": "ListObservationSourcesResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "observationSources": {
          "description": "The ObservationSource from the specified project and location.",
          "type": "array",
          "items": {
            "$ref": "ObservationSource"
          }
        }
      },
      "description": "Message for response to listing ObservationSources"
    },
    "HttpOperationHeader": {
      "id": "HttpOperationHeader",
      "type": "object",
      "properties": {
        "name": {
          "description": "Header name.",
          "type": "string"
        },
        "dataType": {
          "description": "Data type of header",
          "enumDescriptions": [
            "Unspecified data type",
            "Boolean data type",
            "Integer data type",
            "Float data type",
            "String data type",
            "UUID data type"
          ],
          "type": "string",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "BOOL",
            "INTEGER",
            "FLOAT",
            "STRING",
            "UUID"
          ]
        },
        "count": {
          "description": "The number of occurrences of this Header across transactions.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "An aggregation of HTTP header occurrences."
    },
    "ListObservationJobsResponse": {
      "description": "Message for response to listing ObservationJobs",
      "type": "object",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "observationJobs": {
          "items": {
            "$ref": "ObservationJob"
          },
          "type": "array",
          "description": "The ObservationJob from the specified project and location."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListObservationJobsResponse"
    }
  }
}