{
  "batchPath": "batch",
  "parameters": {
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "default": "json"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    }
  },
  "description": "Provisions and manages developers' App Engine applications.",
  "version": "v1beta",
  "name": "appengine",
  "baseUrl": "https://appengine.googleapis.com/",
  "kind": "discovery#restDescription",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/appengine.admin": {
          "description": "View and manage your applications deployed on Google App Engine"
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "documentationLink": "https://cloud.google.com/appengine/docs/admin-api/",
  "protocol": "rest",
  "basePath": "",
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "rootUrl": "https://appengine.googleapis.com/",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "path": "v1beta/projects/{projectsId}/locations",
              "flatPath": "v1beta/projects/{projectsId}/locations",
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "description": "Lists information about the supported locations for this service.This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: Global locations: If name is empty, the method lists the public locations available to all projects. Project-specific locations: If name follows the format projects/{project}, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project.For gRPC and client library implementations, the resource name is passed as the name field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "parameterOrder": [
                "projectsId"
              ],
              "parameters": {
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like \"displayName=tokyo\", and is documented in more detail in AIP-160 (https://google.aip.dev/160)."
                },
                "extraLocationTypes": {
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "repeated": true,
                  "type": "string",
                  "location": "query"
                },
                "pageToken": {
                  "description": "A page token received from the next_page_token field in the response. Send that page token to receive the subsequent page.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "projectsId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Part of `name`. The resource that owns the locations collection, if applicable."
                }
              },
              "httpMethod": "GET",
              "id": "appengine.projects.locations.list"
            },
            "get": {
              "response": {
                "$ref": "Location"
              },
              "path": "v1beta/projects/{projectsId}/locations/{locationsId}",
              "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}",
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "parameters": {
                "locationsId": {
                  "required": true,
                  "description": "Part of `name`. See documentation of `projectsId`.",
                  "type": "string",
                  "location": "path"
                },
                "projectsId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Part of `name`. Resource name for the location."
                }
              },
              "description": "Gets information about a location.",
              "parameterOrder": [
                "projectsId",
                "locationsId"
              ],
              "id": "appengine.projects.locations.get",
              "httpMethod": "GET"
            }
          },
          "resources": {
            "operations": {
              "methods": {
                "list": {
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "path": "v1beta/projects/{projectsId}/locations/{locationsId}/operations",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/operations",
                  "scopes": [
                    "https://www.googleapis.com/auth/appengine.admin",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "parameters": {
                    "locationsId": {
                      "required": true,
                      "description": "Part of `name`. See documentation of `projectsId`.",
                      "type": "string",
                      "location": "path"
                    },
                    "pageSize": {
                      "description": "The standard list page size.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "projectsId": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Part of `name`. The name of the operation's parent resource."
                    },
                    "returnPartialSuccess": {
                      "location": "query",
                      "type": "boolean",
                      "description": "When set to true, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field.This can only be true when reading across collections. For example, when parent is set to \"projects/example/locations/-\".This field is not supported by default and will result in an UNIMPLEMENTED error if set unless explicitly documented otherwise in service or product specific documentation."
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "The standard list filter."
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "The standard list page token."
                    }
                  },
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns UNIMPLEMENTED.",
                  "parameterOrder": [
                    "projectsId",
                    "locationsId"
                  ],
                  "id": "appengine.projects.locations.operations.list",
                  "httpMethod": "GET"
                },
                "get": {
                  "httpMethod": "GET",
                  "id": "appengine.projects.locations.operations.get",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1beta/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/appengine.admin",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "parameterOrder": [
                    "projectsId",
                    "locationsId",
                    "operationsId"
                  ],
                  "parameters": {
                    "projectsId": {
                      "location": "path",
                      "type": "string",
                      "description": "Part of `name`. The name of the operation resource.",
                      "required": true
                    },
                    "operationsId": {
                      "description": "Part of `name`. See documentation of `projectsId`.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "locationsId": {
                      "required": true,
                      "description": "Part of `name`. See documentation of `projectsId`.",
                      "type": "string",
                      "location": "path"
                    }
                  }
                }
              }
            },
            "applications": {
              "methods": {
                "patch": {
                  "httpMethod": "PATCH",
                  "id": "appengine.projects.locations.applications.patch",
                  "parameterOrder": [
                    "projectsId",
                    "locationsId",
                    "applicationsId"
                  ],
                  "description": "Updates the specified Application resource. You can update the following fields: auth_domain - Google authentication domain for controlling user access to the application. default_cookie_expiration - Cookie expiration policy for the application. iap - Identity-Aware Proxy properties for the application.",
                  "request": {
                    "$ref": "Application"
                  },
                  "parameters": {
                    "applicationsId": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Part of `name`. See documentation of `projectsId`."
                    },
                    "locationsId": {
                      "location": "path",
                      "type": "string",
                      "description": "Part of `name`. See documentation of `projectsId`.",
                      "required": true
                    },
                    "projectsId": {
                      "location": "path",
                      "type": "string",
                      "description": "Part of `name`. Required. Name of the Application resource to update. Example: apps/myapp.",
                      "required": true
                    },
                    "updateMask": {
                      "description": "Required. Standard field mask for the set of fields to be updated.",
                      "type": "string",
                      "location": "query",
                      "format": "google-fieldmask"
                    }
                  },
                  "path": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  }
                }
              },
              "resources": {
                "authorizedCertificates": {
                  "methods": {
                    "get": {
                      "httpMethod": "GET",
                      "id": "appengine.projects.locations.applications.authorizedCertificates.get",
                      "path": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/authorizedCertificates/{authorizedCertificatesId}",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/authorizedCertificates/{authorizedCertificatesId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/appengine.admin",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "response": {
                        "$ref": "AuthorizedCertificate"
                      },
                      "parameterOrder": [
                        "projectsId",
                        "locationsId",
                        "applicationsId",
                        "authorizedCertificatesId"
                      ],
                      "description": "Gets the specified SSL certificate.",
                      "parameters": {
                        "view": {
                          "location": "query",
                          "type": "string",
                          "enumDescriptions": [
                            "Basic certificate information, including applicable domains and expiration date.",
                            "The information from BASIC_CERTIFICATE, plus detailed information on the domain mappings that have this certificate mapped."
                          ],
                          "enum": [
                            "BASIC_CERTIFICATE",
                            "FULL_CERTIFICATE"
                          ],
                          "description": "Controls the set of fields returned in the GET response."
                        },
                        "projectsId": {
                          "required": true,
                          "description": "Part of `name`. Required. Name of the resource requested. Example: apps/myapp/authorizedCertificates/12345.",
                          "type": "string",
                          "location": "path"
                        },
                        "locationsId": {
                          "location": "path",
                          "type": "string",
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "required": true
                        },
                        "applicationsId": {
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        },
                        "authorizedCertificatesId": {
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        }
                      }
                    },
                    "delete": {
                      "id": "appengine.projects.locations.applications.authorizedCertificates.delete",
                      "httpMethod": "DELETE",
                      "parameters": {
                        "applicationsId": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Part of `name`. See documentation of `projectsId`."
                        },
                        "authorizedCertificatesId": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Part of `name`. See documentation of `projectsId`."
                        },
                        "locationsId": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Part of `name`. See documentation of `projectsId`."
                        },
                        "projectsId": {
                          "location": "path",
                          "type": "string",
                          "description": "Part of `name`. Required. Name of the resource to delete. Example: apps/myapp/authorizedCertificates/12345.",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "projectsId",
                        "locationsId",
                        "applicationsId",
                        "authorizedCertificatesId"
                      ],
                      "description": "Deletes the specified SSL certificate.",
                      "path": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/authorizedCertificates/{authorizedCertificatesId}",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/authorizedCertificates/{authorizedCertificatesId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Empty"
                      }
                    },
                    "patch": {
                      "path": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/authorizedCertificates/{authorizedCertificatesId}",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/authorizedCertificates/{authorizedCertificatesId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "AuthorizedCertificate"
                      },
                      "request": {
                        "$ref": "AuthorizedCertificate"
                      },
                      "parameters": {
                        "locationsId": {
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        },
                        "projectsId": {
                          "required": true,
                          "description": "Part of `name`. Required. Name of the resource to update. Example: apps/myapp/authorizedCertificates/12345.",
                          "type": "string",
                          "location": "path"
                        },
                        "updateMask": {
                          "description": "Standard field mask for the set of fields to be updated. Updates are only supported on the certificate_raw_data and display_name fields.",
                          "type": "string",
                          "location": "query",
                          "format": "google-fieldmask"
                        },
                        "applicationsId": {
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        },
                        "authorizedCertificatesId": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Part of `name`. See documentation of `projectsId`."
                        }
                      },
                      "parameterOrder": [
                        "projectsId",
                        "locationsId",
                        "applicationsId",
                        "authorizedCertificatesId"
                      ],
                      "description": "Updates the specified SSL certificate. To renew a certificate and maintain its existing domain mappings, update certificate_data with a new certificate. The new certificate must be applicable to the same domains as the original certificate. The certificate display_name may also be updated.",
                      "id": "appengine.projects.locations.applications.authorizedCertificates.patch",
                      "httpMethod": "PATCH"
                    },
                    "list": {
                      "parameters": {
                        "projectsId": {
                          "description": "Part of `parent`. Required. Name of the parent Application resource. Example: apps/myapp.",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        },
                        "locationsId": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Part of `parent`. See documentation of `projectsId`."
                        },
                        "pageSize": {
                          "location": "query",
                          "format": "int32",
                          "type": "integer",
                          "description": "Maximum results to return per page."
                        },
                        "applicationsId": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Part of `parent`. See documentation of `projectsId`."
                        },
                        "view": {
                          "description": "Controls the set of fields returned in the LIST response.",
                          "enumDescriptions": [
                            "Basic certificate information, including applicable domains and expiration date.",
                            "The information from BASIC_CERTIFICATE, plus detailed information on the domain mappings that have this certificate mapped."
                          ],
                          "enum": [
                            "BASIC_CERTIFICATE",
                            "FULL_CERTIFICATE"
                          ],
                          "type": "string",
                          "location": "query"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Continuation token for fetching the next page of results."
                        }
                      },
                      "parameterOrder": [
                        "projectsId",
                        "locationsId",
                        "applicationsId"
                      ],
                      "description": "Lists all SSL certificates the user is authorized to administer.",
                      "path": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/authorizedCertificates",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/authorizedCertificates",
                      "scopes": [
                        "https://www.googleapis.com/auth/appengine.admin",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "response": {
                        "$ref": "ListAuthorizedCertificatesResponse"
                      },
                      "id": "appengine.projects.locations.applications.authorizedCertificates.list",
                      "httpMethod": "GET"
                    },
                    "create": {
                      "httpMethod": "POST",
                      "id": "appengine.projects.locations.applications.authorizedCertificates.create",
                      "description": "Uploads the specified SSL certificate.",
                      "parameterOrder": [
                        "projectsId",
                        "locationsId",
                        "applicationsId"
                      ],
                      "parameters": {
                        "applicationsId": {
                          "location": "path",
                          "type": "string",
                          "description": "Part of `parent`. See documentation of `projectsId`.",
                          "required": true
                        },
                        "projectsId": {
                          "description": "Part of `parent`. Required. Name of the parent Application resource. Example: apps/myapp.",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        },
                        "locationsId": {
                          "description": "Part of `parent`. See documentation of `projectsId`.",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "request": {
                        "$ref": "AuthorizedCertificate"
                      },
                      "response": {
                        "$ref": "AuthorizedCertificate"
                      },
                      "path": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/authorizedCertificates",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/authorizedCertificates",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                },
                "domainMappings": {
                  "methods": {
                    "get": {
                      "path": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/domainMappings/{domainMappingsId}",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/domainMappings/{domainMappingsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/appengine.admin",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "response": {
                        "$ref": "DomainMapping"
                      },
                      "parameterOrder": [
                        "projectsId",
                        "locationsId",
                        "applicationsId",
                        "domainMappingsId"
                      ],
                      "description": "Gets the specified domain mapping.",
                      "parameters": {
                        "domainMappingsId": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Part of `name`. See documentation of `projectsId`."
                        },
                        "applicationsId": {
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        },
                        "locationsId": {
                          "location": "path",
                          "type": "string",
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "required": true
                        },
                        "projectsId": {
                          "required": true,
                          "description": "Part of `name`. Required. Name of the resource requested. Example: apps/myapp/domainMappings/example.com.",
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "httpMethod": "GET",
                      "id": "appengine.projects.locations.applications.domainMappings.get"
                    },
                    "delete": {
                      "description": "Deletes the specified domain mapping. A user must be authorized to administer the associated domain in order to delete a DomainMapping resource.",
                      "parameterOrder": [
                        "projectsId",
                        "locationsId",
                        "applicationsId",
                        "domainMappingsId"
                      ],
                      "parameters": {
                        "applicationsId": {
                          "location": "path",
                          "type": "string",
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "required": true
                        },
                        "domainMappingsId": {
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        },
                        "projectsId": {
                          "description": "Part of `name`. Required. Name of the resource to delete. Example: apps/myapp/domainMappings/example.com.",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        },
                        "locationsId": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Part of `name`. See documentation of `projectsId`."
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "path": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/domainMappings/{domainMappingsId}",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/domainMappings/{domainMappingsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "DELETE",
                      "id": "appengine.projects.locations.applications.domainMappings.delete"
                    },
                    "patch": {
                      "parameterOrder": [
                        "projectsId",
                        "locationsId",
                        "applicationsId",
                        "domainMappingsId"
                      ],
                      "description": "Updates the specified domain mapping. To map an SSL certificate to a domain mapping, update certificate_id to point to an AuthorizedCertificate resource. A user must be authorized to administer the associated domain in order to update a DomainMapping resource.",
                      "request": {
                        "$ref": "DomainMapping"
                      },
                      "parameters": {
                        "domainMappingsId": {
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        },
                        "applicationsId": {
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        },
                        "projectsId": {
                          "location": "path",
                          "type": "string",
                          "description": "Part of `name`. Required. Name of the resource to update. Example: apps/myapp/domainMappings/example.com.",
                          "required": true
                        },
                        "updateMask": {
                          "type": "string",
                          "location": "query",
                          "format": "google-fieldmask",
                          "description": "Required. Standard field mask for the set of fields to be updated."
                        },
                        "locationsId": {
                          "location": "path",
                          "type": "string",
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "required": true
                        }
                      },
                      "path": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/domainMappings/{domainMappingsId}",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/domainMappings/{domainMappingsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "httpMethod": "PATCH",
                      "id": "appengine.projects.locations.applications.domainMappings.patch"
                    },
                    "list": {
                      "httpMethod": "GET",
                      "id": "appengine.projects.locations.applications.domainMappings.list",
                      "path": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/domainMappings",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/domainMappings",
                      "scopes": [
                        "https://www.googleapis.com/auth/appengine.admin",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "response": {
                        "$ref": "ListDomainMappingsResponse"
                      },
                      "parameterOrder": [
                        "projectsId",
                        "locationsId",
                        "applicationsId"
                      ],
                      "description": "Lists the domain mappings on an application.",
                      "parameters": {
                        "applicationsId": {
                          "description": "Part of `parent`. See documentation of `projectsId`.",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        },
                        "projectsId": {
                          "required": true,
                          "description": "Part of `parent`. Required. Name of the parent Application resource. Example: apps/myapp.",
                          "type": "string",
                          "location": "path"
                        },
                        "locationsId": {
                          "location": "path",
                          "type": "string",
                          "description": "Part of `parent`. See documentation of `projectsId`.",
                          "required": true
                        },
                        "pageSize": {
                          "location": "query",
                          "format": "int32",
                          "type": "integer",
                          "description": "Maximum results to return per page."
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Continuation token for fetching the next page of results."
                        }
                      }
                    },
                    "create": {
                      "httpMethod": "POST",
                      "id": "appengine.projects.locations.applications.domainMappings.create",
                      "description": "Maps a domain to an application. A user must be authorized to administer a domain in order to map it to an application. For a list of available authorized domains, see AuthorizedDomains.ListAuthorizedDomains.",
                      "parameterOrder": [
                        "projectsId",
                        "locationsId",
                        "applicationsId"
                      ],
                      "parameters": {
                        "projectsId": {
                          "description": "Part of `parent`. Required. Name of the parent Application resource. Example: apps/myapp.",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        },
                        "locationsId": {
                          "location": "path",
                          "type": "string",
                          "description": "Part of `parent`. See documentation of `projectsId`.",
                          "required": true
                        },
                        "overrideStrategy": {
                          "location": "query",
                          "type": "string",
                          "enumDescriptions": [
                            "Strategy unspecified. Defaults to STRICT.",
                            "Overrides not allowed. If a mapping already exists for the specified domain, the request will return an ALREADY_EXISTS (409).",
                            "Overrides allowed. If a mapping already exists for the specified domain, the request will overwrite it. Note that this might stop another Google product from serving. For example, if the domain is mapped to another App Engine application, that app will no longer serve from that domain."
                          ],
                          "enum": [
                            "UNSPECIFIED_DOMAIN_OVERRIDE_STRATEGY",
                            "STRICT",
                            "OVERRIDE"
                          ],
                          "description": "Whether the domain creation should override any existing mappings for this domain. By default, overrides are rejected."
                        },
                        "applicationsId": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Part of `parent`. See documentation of `projectsId`."
                        }
                      },
                      "request": {
                        "$ref": "DomainMapping"
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "path": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/domainMappings",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/domainMappings",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                },
                "services": {
                  "methods": {
                    "patch": {
                      "request": {
                        "$ref": "Service"
                      },
                      "parameters": {
                        "projectsId": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Part of `name`. Required. Name of the resource to update. Example: apps/myapp/services/default."
                        },
                        "updateMask": {
                          "location": "query",
                          "format": "google-fieldmask",
                          "type": "string",
                          "description": "Required. Standard field mask for the set of fields to be updated."
                        },
                        "locationsId": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Part of `name`. See documentation of `projectsId`."
                        },
                        "applicationsId": {
                          "location": "path",
                          "type": "string",
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "required": true
                        },
                        "servicesId": {
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        },
                        "migrateTraffic": {
                          "location": "query",
                          "type": "boolean",
                          "description": "Set to true to gradually shift traffic to one or more versions that you specify. By default, traffic is shifted immediately. For gradual traffic migration, the target versions must be located within instances that are configured for both warmup requests (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#InboundServiceType) and automatic scaling (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#AutomaticScaling). You must specify the shardBy (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services#ShardBy) field in the Service resource. Gradual traffic migration is not supported in the App Engine flexible environment. For examples, see Migrating and Splitting Traffic (https://cloud.google.com/appengine/docs/admin-api/migrating-splitting-traffic)."
                        }
                      },
                      "parameterOrder": [
                        "projectsId",
                        "locationsId",
                        "applicationsId",
                        "servicesId"
                      ],
                      "description": "Updates the configuration of the specified service.",
                      "path": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/services/{servicesId}",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/services/{servicesId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "id": "appengine.projects.locations.applications.services.patch",
                      "httpMethod": "PATCH"
                    },
                    "delete": {
                      "path": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/services/{servicesId}",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/services/{servicesId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameters": {
                        "servicesId": {
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        },
                        "applicationsId": {
                          "required": true,
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "type": "string",
                          "location": "path"
                        },
                        "locationsId": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Part of `name`. See documentation of `projectsId`."
                        },
                        "projectsId": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Part of `name`. Required. Name of the resource requested. Example: apps/myapp/services/default."
                        }
                      },
                      "parameterOrder": [
                        "projectsId",
                        "locationsId",
                        "applicationsId",
                        "servicesId"
                      ],
                      "description": "Deletes the specified service and all enclosed versions.",
                      "id": "appengine.projects.locations.applications.services.delete",
                      "httpMethod": "DELETE"
                    }
                  },
                  "resources": {
                    "versions": {
                      "methods": {
                        "patch": {
                          "path": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/services/{servicesId}/versions/{versionsId}",
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/services/{servicesId}/versions/{versionsId}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "response": {
                            "$ref": "Operation"
                          },
                          "request": {
                            "$ref": "Version"
                          },
                          "parameters": {
                            "projectsId": {
                              "location": "path",
                              "type": "string",
                              "description": "Part of `name`. Required. Name of the resource to update. Example: apps/myapp/services/default/versions/1.",
                              "required": true
                            },
                            "versionsId": {
                              "description": "Part of `name`. See documentation of `projectsId`.",
                              "required": true,
                              "location": "path",
                              "type": "string"
                            },
                            "updateMask": {
                              "description": "Standard field mask for the set of fields to be updated.",
                              "location": "query",
                              "format": "google-fieldmask",
                              "type": "string"
                            },
                            "locationsId": {
                              "description": "Part of `name`. See documentation of `projectsId`.",
                              "required": true,
                              "location": "path",
                              "type": "string"
                            },
                            "applicationsId": {
                              "type": "string",
                              "location": "path",
                              "required": true,
                              "description": "Part of `name`. See documentation of `projectsId`."
                            },
                            "servicesId": {
                              "required": true,
                              "description": "Part of `name`. See documentation of `projectsId`.",
                              "type": "string",
                              "location": "path"
                            }
                          },
                          "parameterOrder": [
                            "projectsId",
                            "locationsId",
                            "applicationsId",
                            "servicesId",
                            "versionsId"
                          ],
                          "description": "Updates the specified Version resource. You can specify the following fields depending on the App Engine environment and type of scaling that the version resource uses:Standard environment instance_class (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#Version.FIELDS.instance_class)automatic scaling in the standard environment: automatic_scaling.min_idle_instances (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#Version.FIELDS.automatic_scaling) automatic_scaling.max_idle_instances (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#Version.FIELDS.automatic_scaling) automaticScaling.standard_scheduler_settings.max_instances (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#StandardSchedulerSettings) automaticScaling.standard_scheduler_settings.min_instances (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#StandardSchedulerSettings) automaticScaling.standard_scheduler_settings.target_cpu_utilization (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#StandardSchedulerSettings) automaticScaling.standard_scheduler_settings.target_throughput_utilization (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#StandardSchedulerSettings)basic scaling or manual scaling in the standard environment: serving_status (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#Version.FIELDS.serving_status) manual_scaling.instances (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#manualscaling)Flexible environment serving_status (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#Version.FIELDS.serving_status)automatic scaling in the flexible environment: automatic_scaling.min_total_instances (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#Version.FIELDS.automatic_scaling) automatic_scaling.max_total_instances (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#Version.FIELDS.automatic_scaling) automatic_scaling.cool_down_period_sec (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#Version.FIELDS.automatic_scaling) automatic_scaling.cpu_utilization.target_utilization (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#Version.FIELDS.automatic_scaling)manual scaling in the flexible environment: manual_scaling.instances (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#manualscaling)",
                          "id": "appengine.projects.locations.applications.services.versions.patch",
                          "httpMethod": "PATCH"
                        },
                        "exportAppImage": {
                          "id": "appengine.projects.locations.applications.services.versions.exportAppImage",
                          "httpMethod": "POST",
                          "response": {
                            "$ref": "Operation"
                          },
                          "path": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/services/{servicesId}/versions/{versionsId}:exportAppImage",
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/services/{servicesId}/versions/{versionsId}:exportAppImage",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameters": {
                            "locationsId": {
                              "type": "string",
                              "location": "path",
                              "required": true,
                              "description": "Part of `name`. See documentation of `projectsId`."
                            },
                            "projectsId": {
                              "description": "Part of `name`. Required. Name of the App Engine version resource. Format: apps/{app}/services/{service}/versions/{version}",
                              "required": true,
                              "location": "path",
                              "type": "string"
                            },
                            "versionsId": {
                              "location": "path",
                              "type": "string",
                              "description": "Part of `name`. See documentation of `projectsId`.",
                              "required": true
                            },
                            "servicesId": {
                              "required": true,
                              "description": "Part of `name`. See documentation of `projectsId`.",
                              "type": "string",
                              "location": "path"
                            },
                            "applicationsId": {
                              "required": true,
                              "description": "Part of `name`. See documentation of `projectsId`.",
                              "type": "string",
                              "location": "path"
                            }
                          },
                          "request": {
                            "$ref": "ExportAppImageRequest"
                          },
                          "description": "Exports a user image to Artifact Registry.",
                          "parameterOrder": [
                            "projectsId",
                            "locationsId",
                            "applicationsId",
                            "servicesId",
                            "versionsId"
                          ]
                        },
                        "delete": {
                          "id": "appengine.projects.locations.applications.services.versions.delete",
                          "httpMethod": "DELETE",
                          "parameters": {
                            "projectsId": {
                              "location": "path",
                              "type": "string",
                              "description": "Part of `name`. Required. Name of the resource requested. Example: apps/myapp/services/default/versions/v1.",
                              "required": true
                            },
                            "versionsId": {
                              "location": "path",
                              "type": "string",
                              "description": "Part of `name`. See documentation of `projectsId`.",
                              "required": true
                            },
                            "locationsId": {
                              "location": "path",
                              "type": "string",
                              "description": "Part of `name`. See documentation of `projectsId`.",
                              "required": true
                            },
                            "applicationsId": {
                              "type": "string",
                              "location": "path",
                              "required": true,
                              "description": "Part of `name`. See documentation of `projectsId`."
                            },
                            "servicesId": {
                              "required": true,
                              "description": "Part of `name`. See documentation of `projectsId`.",
                              "type": "string",
                              "location": "path"
                            }
                          },
                          "description": "Deletes an existing Version resource.",
                          "parameterOrder": [
                            "projectsId",
                            "locationsId",
                            "applicationsId",
                            "servicesId",
                            "versionsId"
                          ],
                          "response": {
                            "$ref": "Operation"
                          },
                          "path": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/services/{servicesId}/versions/{versionsId}",
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/services/{servicesId}/versions/{versionsId}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        }
                      },
                      "resources": {
                        "instances": {
                          "methods": {
                            "delete": {
                              "response": {
                                "$ref": "Operation"
                              },
                              "path": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/services/{servicesId}/versions/{versionsId}/instances/{instancesId}",
                              "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/services/{servicesId}/versions/{versionsId}/instances/{instancesId}",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "parameters": {
                                "instancesId": {
                                  "type": "string",
                                  "location": "path",
                                  "required": true,
                                  "description": "Part of `name`. See documentation of `projectsId`."
                                },
                                "locationsId": {
                                  "type": "string",
                                  "location": "path",
                                  "required": true,
                                  "description": "Part of `name`. See documentation of `projectsId`."
                                },
                                "projectsId": {
                                  "description": "Part of `name`. Required. Name of the resource requested. Example: apps/myapp/services/default/versions/v1/instances/instance-1.",
                                  "required": true,
                                  "location": "path",
                                  "type": "string"
                                },
                                "versionsId": {
                                  "location": "path",
                                  "type": "string",
                                  "description": "Part of `name`. See documentation of `projectsId`.",
                                  "required": true
                                },
                                "servicesId": {
                                  "type": "string",
                                  "location": "path",
                                  "required": true,
                                  "description": "Part of `name`. See documentation of `projectsId`."
                                },
                                "applicationsId": {
                                  "type": "string",
                                  "location": "path",
                                  "required": true,
                                  "description": "Part of `name`. See documentation of `projectsId`."
                                }
                              },
                              "description": "Stops a running instance.The instance might be automatically recreated based on the scaling settings of the version. For more information, see \"How Instances are Managed\" (standard environment (https://cloud.google.com/appengine/docs/standard/python/how-instances-are-managed) | flexible environment (https://cloud.google.com/appengine/docs/flexible/python/how-instances-are-managed)).To ensure that instances are not re-created and avoid getting billed, you can stop all instances within the target version by changing the serving status of the version to STOPPED with the apps.services.versions.patch (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1/apps.services.versions/patch) method.",
                              "parameterOrder": [
                                "projectsId",
                                "locationsId",
                                "applicationsId",
                                "servicesId",
                                "versionsId",
                                "instancesId"
                              ],
                              "id": "appengine.projects.locations.applications.services.versions.instances.delete",
                              "httpMethod": "DELETE"
                            },
                            "debug": {
                              "id": "appengine.projects.locations.applications.services.versions.instances.debug",
                              "httpMethod": "POST",
                              "request": {
                                "$ref": "DebugInstanceRequest"
                              },
                              "parameters": {
                                "instancesId": {
                                  "description": "Part of `name`. See documentation of `projectsId`.",
                                  "required": true,
                                  "location": "path",
                                  "type": "string"
                                },
                                "applicationsId": {
                                  "type": "string",
                                  "location": "path",
                                  "required": true,
                                  "description": "Part of `name`. See documentation of `projectsId`."
                                },
                                "servicesId": {
                                  "description": "Part of `name`. See documentation of `projectsId`.",
                                  "required": true,
                                  "location": "path",
                                  "type": "string"
                                },
                                "projectsId": {
                                  "location": "path",
                                  "type": "string",
                                  "description": "Part of `name`. Required. Name of the resource requested. Example: apps/myapp/services/default/versions/v1/instances/instance-1.",
                                  "required": true
                                },
                                "versionsId": {
                                  "type": "string",
                                  "location": "path",
                                  "required": true,
                                  "description": "Part of `name`. See documentation of `projectsId`."
                                },
                                "locationsId": {
                                  "type": "string",
                                  "location": "path",
                                  "required": true,
                                  "description": "Part of `name`. See documentation of `projectsId`."
                                }
                              },
                              "parameterOrder": [
                                "projectsId",
                                "locationsId",
                                "applicationsId",
                                "servicesId",
                                "versionsId",
                                "instancesId"
                              ],
                              "description": "Enables debugging on a VM instance. This allows you to use the SSH command to connect to the virtual machine where the instance lives. While in \"debug mode\", the instance continues to serve live traffic. You should delete the instance when you are done debugging and then allow the system to take over and determine if another instance should be started.Only applicable for instances in App Engine flexible environment.",
                              "path": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/services/{servicesId}/versions/{versionsId}/instances/{instancesId}:debug",
                              "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/services/{servicesId}/versions/{versionsId}/instances/{instancesId}:debug",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "response": {
                                "$ref": "Operation"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "authorizedDomains": {
                  "methods": {
                    "list": {
                      "id": "appengine.projects.locations.applications.authorizedDomains.list",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "ListAuthorizedDomainsResponse"
                      },
                      "path": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/authorizedDomains",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/authorizedDomains",
                      "scopes": [
                        "https://www.googleapis.com/auth/appengine.admin",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "parameters": {
                        "locationsId": {
                          "location": "path",
                          "type": "string",
                          "description": "Part of `parent`. See documentation of `projectsId`.",
                          "required": true
                        },
                        "pageSize": {
                          "type": "integer",
                          "location": "query",
                          "format": "int32",
                          "description": "Maximum results to return per page."
                        },
                        "projectsId": {
                          "required": true,
                          "description": "Part of `parent`. Required. Name of the parent Application resource. Example: apps/myapp.",
                          "type": "string",
                          "location": "path"
                        },
                        "applicationsId": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Part of `parent`. See documentation of `projectsId`."
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Continuation token for fetching the next page of results."
                        }
                      },
                      "description": "Lists all domains the user is authorized to administer.",
                      "parameterOrder": [
                        "projectsId",
                        "locationsId",
                        "applicationsId"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "apps": {
      "methods": {
        "create": {
          "parameterOrder": [],
          "description": "Creates an App Engine application for a Google Cloud Platform project. Required fields: id - The ID of the target Cloud Platform project. location - The region (https://cloud.google.com/appengine/docs/locations) where you want the App Engine application located.For more information about App Engine applications, see Managing Projects, Applications, and Billing (https://cloud.google.com/appengine/docs/standard/python/console/).",
          "request": {
            "$ref": "Application"
          },
          "parameters": {},
          "path": "v1beta/apps",
          "flatPath": "v1beta/apps",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "POST",
          "id": "appengine.apps.create"
        },
        "repair": {
          "response": {
            "$ref": "Operation"
          },
          "path": "v1beta/apps/{appsId}:repair",
          "flatPath": "v1beta/apps/{appsId}:repair",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Recreates the required App Engine features for the specified App Engine application, for example a Cloud Storage bucket or App Engine service account. Use this method if you receive an error message about a missing feature, for example, Error retrieving the App Engine service account. If you have deleted your App Engine service account, this will not be able to recreate it. Instead, you should attempt to use the IAM undelete API if possible at https://cloud.google.com/iam/reference/rest/v1/projects.serviceAccounts/undelete?apix_params=%7B\"name\"%3A\"projects%2F-%2FserviceAccounts%2Funique_id\"%2C\"resource\"%3A%7B%7D%7D . If the deletion was recent, the numeric ID can be found in the Cloud Console Activity Log.",
          "parameterOrder": [
            "appsId"
          ],
          "parameters": {
            "appsId": {
              "required": true,
              "description": "Part of `name`. Required. Name of the application to repair. Example: apps/myapp",
              "type": "string",
              "location": "path"
            }
          },
          "request": {
            "$ref": "RepairApplicationRequest"
          },
          "httpMethod": "POST",
          "id": "appengine.apps.repair"
        },
        "get": {
          "id": "appengine.apps.get",
          "httpMethod": "GET",
          "path": "v1beta/apps/{appsId}",
          "flatPath": "v1beta/apps/{appsId}",
          "scopes": [
            "https://www.googleapis.com/auth/appengine.admin",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "response": {
            "$ref": "Application"
          },
          "parameters": {
            "appsId": {
              "description": "Part of `name`. Required. Name of the Application resource to get. Example: apps/myapp.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "includeExtraData": {
              "type": "string",
              "enumDescriptions": [
                "Unspecified: No extra data will be returned",
                "Do not return any extra data",
                "Return GGCM associated with the resources"
              ],
              "enum": [
                "INCLUDE_EXTRA_DATA_UNSPECIFIED",
                "INCLUDE_EXTRA_DATA_NONE",
                "INCLUDE_GOOGLE_GENERATED_METADATA"
              ],
              "description": "Optional. Options to include extra data",
              "location": "query"
            }
          },
          "parameterOrder": [
            "appsId"
          ],
          "description": "Gets information about an application."
        },
        "patch": {
          "description": "Updates the specified Application resource. You can update the following fields: auth_domain - Google authentication domain for controlling user access to the application. default_cookie_expiration - Cookie expiration policy for the application. iap - Identity-Aware Proxy properties for the application.",
          "parameterOrder": [
            "appsId"
          ],
          "parameters": {
            "appsId": {
              "location": "path",
              "type": "string",
              "description": "Part of `name`. Required. Name of the Application resource to update. Example: apps/myapp.",
              "required": true
            },
            "updateMask": {
              "description": "Required. Standard field mask for the set of fields to be updated.",
              "type": "string",
              "location": "query",
              "format": "google-fieldmask"
            }
          },
          "request": {
            "$ref": "Application"
          },
          "response": {
            "$ref": "Operation"
          },
          "path": "v1beta/apps/{appsId}",
          "flatPath": "v1beta/apps/{appsId}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "PATCH",
          "id": "appengine.apps.patch"
        },
        "listRuntimes": {
          "response": {
            "$ref": "ListRuntimesResponse"
          },
          "path": "v1beta/apps/{appsId}:listRuntimes",
          "flatPath": "v1beta/apps/{appsId}:listRuntimes",
          "scopes": [
            "https://www.googleapis.com/auth/appengine.admin",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "appsId": {
              "required": true,
              "description": "Part of `parent`. Required. Name of the parent Application resource. Example: apps/myapp.",
              "type": "string",
              "location": "path"
            },
            "environment": {
              "type": "string",
              "enumDescriptions": [
                "Default value.",
                "App Engine Standard.",
                "App Engine Flexible"
              ],
              "enum": [
                "ENVIRONMENT_UNSPECIFIED",
                "STANDARD",
                "FLEXIBLE"
              ],
              "description": "Optional. The environment of the Application.",
              "location": "query"
            }
          },
          "description": "Lists all the available runtimes for the application.",
          "parameterOrder": [
            "appsId"
          ],
          "id": "appengine.apps.listRuntimes",
          "httpMethod": "GET"
        }
      },
      "resources": {
        "firewall": {
          "resources": {
            "ingressRules": {
              "methods": {
                "patch": {
                  "path": "v1beta/apps/{appsId}/firewall/ingressRules/{ingressRulesId}",
                  "flatPath": "v1beta/apps/{appsId}/firewall/ingressRules/{ingressRulesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "FirewallRule"
                  },
                  "request": {
                    "$ref": "FirewallRule"
                  },
                  "parameters": {
                    "appsId": {
                      "description": "Part of `name`. Name of the Firewall resource to update. Example: apps/myapp/firewall/ingressRules/100.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "ingressRulesId": {
                      "location": "path",
                      "type": "string",
                      "description": "Part of `name`. See documentation of `appsId`.",
                      "required": true
                    },
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string",
                      "description": "Standard field mask for the set of fields to be updated."
                    }
                  },
                  "parameterOrder": [
                    "appsId",
                    "ingressRulesId"
                  ],
                  "description": "Updates the specified firewall rule.",
                  "id": "appengine.apps.firewall.ingressRules.patch",
                  "httpMethod": "PATCH"
                },
                "get": {
                  "httpMethod": "GET",
                  "id": "appengine.apps.firewall.ingressRules.get",
                  "path": "v1beta/apps/{appsId}/firewall/ingressRules/{ingressRulesId}",
                  "flatPath": "v1beta/apps/{appsId}/firewall/ingressRules/{ingressRulesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/appengine.admin",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "response": {
                    "$ref": "FirewallRule"
                  },
                  "parameterOrder": [
                    "appsId",
                    "ingressRulesId"
                  ],
                  "description": "Gets the specified firewall rule.",
                  "parameters": {
                    "appsId": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Part of `name`. Name of the Firewall resource to retrieve. Example: apps/myapp/firewall/ingressRules/100."
                    },
                    "ingressRulesId": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Part of `name`. See documentation of `appsId`."
                    }
                  }
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "id": "appengine.apps.firewall.ingressRules.delete",
                  "path": "v1beta/apps/{appsId}/firewall/ingressRules/{ingressRulesId}",
                  "flatPath": "v1beta/apps/{appsId}/firewall/ingressRules/{ingressRulesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameterOrder": [
                    "appsId",
                    "ingressRulesId"
                  ],
                  "description": "Deletes the specified firewall rule.",
                  "parameters": {
                    "appsId": {
                      "required": true,
                      "description": "Part of `name`. Name of the Firewall resource to delete. Example: apps/myapp/firewall/ingressRules/100.",
                      "type": "string",
                      "location": "path"
                    },
                    "ingressRulesId": {
                      "required": true,
                      "description": "Part of `name`. See documentation of `appsId`.",
                      "type": "string",
                      "location": "path"
                    }
                  }
                },
                "batchUpdate": {
                  "response": {
                    "$ref": "BatchUpdateIngressRulesResponse"
                  },
                  "path": "v1beta/apps/{appsId}/firewall/ingressRules:batchUpdate",
                  "flatPath": "v1beta/apps/{appsId}/firewall/ingressRules:batchUpdate",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "appsId": {
                      "location": "path",
                      "type": "string",
                      "description": "Part of `name`. Name of the Firewall collection to set. Example: apps/myapp/firewall/ingressRules.",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "BatchUpdateIngressRulesRequest"
                  },
                  "description": "Replaces the entire firewall ruleset in one bulk operation. This overrides and replaces the rules of an existing firewall with the new rules.If the final rule does not match traffic with the '*' wildcard IP range, then an \"allow all\" rule is explicitly added to the end of the list.",
                  "parameterOrder": [
                    "appsId"
                  ],
                  "id": "appengine.apps.firewall.ingressRules.batchUpdate",
                  "httpMethod": "POST"
                },
                "list": {
                  "httpMethod": "GET",
                  "id": "appengine.apps.firewall.ingressRules.list",
                  "description": "Lists the firewall rules of an application.",
                  "parameterOrder": [
                    "appsId"
                  ],
                  "parameters": {
                    "matchingAddress": {
                      "type": "string",
                      "location": "query",
                      "description": "A valid IP Address. If set, only rules matching this address will be returned. The first returned rule will be the rule that fires on requests from this IP."
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer",
                      "description": "Maximum results to return per page."
                    },
                    "appsId": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Part of `parent`. Name of the Firewall collection to retrieve. Example: apps/myapp/firewall/ingressRules."
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Continuation token for fetching the next page of results."
                    }
                  },
                  "response": {
                    "$ref": "ListIngressRulesResponse"
                  },
                  "path": "v1beta/apps/{appsId}/firewall/ingressRules",
                  "flatPath": "v1beta/apps/{appsId}/firewall/ingressRules",
                  "scopes": [
                    "https://www.googleapis.com/auth/appengine.admin",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ]
                },
                "create": {
                  "id": "appengine.apps.firewall.ingressRules.create",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "FirewallRule"
                  },
                  "parameters": {
                    "appsId": {
                      "location": "path",
                      "type": "string",
                      "description": "Part of `parent`. Required. Name of the parent Firewall collection in which to create a new rule. Example: apps/myapp/firewall/ingressRules.",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "appsId"
                  ],
                  "description": "Creates a firewall rule for the application.",
                  "path": "v1beta/apps/{appsId}/firewall/ingressRules",
                  "flatPath": "v1beta/apps/{appsId}/firewall/ingressRules",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "FirewallRule"
                  }
                }
              }
            }
          }
        },
        "operations": {
          "methods": {
            "list": {
              "path": "v1beta/apps/{appsId}/operations",
              "flatPath": "v1beta/apps/{appsId}/operations",
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "response": {
                "$ref": "ListOperationsResponse"
              },
              "parameterOrder": [
                "appsId"
              ],
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns UNIMPLEMENTED.",
              "parameters": {
                "appsId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Part of `name`. The name of the operation's parent resource."
                },
                "pageSize": {
                  "description": "The standard list page size.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                },
                "returnPartialSuccess": {
                  "description": "When set to true, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field.This can only be true when reading across collections. For example, when parent is set to \"projects/example/locations/-\".This field is not supported by default and will result in an UNIMPLEMENTED error if set unless explicitly documented otherwise in service or product specific documentation.",
                  "location": "query",
                  "type": "boolean"
                },
                "pageToken": {
                  "description": "The standard list page token.",
                  "location": "query",
                  "type": "string"
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "The standard list filter."
                }
              },
              "httpMethod": "GET",
              "id": "appengine.apps.operations.list"
            },
            "get": {
              "path": "v1beta/apps/{appsId}/operations/{operationsId}",
              "flatPath": "v1beta/apps/{appsId}/operations/{operationsId}",
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "response": {
                "$ref": "Operation"
              },
              "parameters": {
                "appsId": {
                  "location": "path",
                  "type": "string",
                  "description": "Part of `name`. The name of the operation resource.",
                  "required": true
                },
                "operationsId": {
                  "location": "path",
                  "type": "string",
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "required": true
                }
              },
              "parameterOrder": [
                "appsId",
                "operationsId"
              ],
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "id": "appengine.apps.operations.get",
              "httpMethod": "GET"
            }
          }
        },
        "authorizedDomains": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "id": "appengine.apps.authorizedDomains.list",
              "parameterOrder": [
                "appsId"
              ],
              "description": "Lists all domains the user is authorized to administer.",
              "parameters": {
                "appsId": {
                  "description": "Part of `parent`. Required. Name of the parent Application resource. Example: apps/myapp.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Continuation token for fetching the next page of results."
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32",
                  "description": "Maximum results to return per page."
                }
              },
              "path": "v1beta/apps/{appsId}/authorizedDomains",
              "flatPath": "v1beta/apps/{appsId}/authorizedDomains",
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "response": {
                "$ref": "ListAuthorizedDomainsResponse"
              }
            }
          }
        },
        "authorizedCertificates": {
          "methods": {
            "get": {
              "parameterOrder": [
                "appsId",
                "authorizedCertificatesId"
              ],
              "description": "Gets the specified SSL certificate.",
              "parameters": {
                "appsId": {
                  "description": "Part of `name`. Required. Name of the resource requested. Example: apps/myapp/authorizedCertificates/12345.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "authorizedCertificatesId": {
                  "location": "path",
                  "type": "string",
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "required": true
                },
                "view": {
                  "location": "query",
                  "type": "string",
                  "description": "Controls the set of fields returned in the GET response.",
                  "enumDescriptions": [
                    "Basic certificate information, including applicable domains and expiration date.",
                    "The information from BASIC_CERTIFICATE, plus detailed information on the domain mappings that have this certificate mapped."
                  ],
                  "enum": [
                    "BASIC_CERTIFICATE",
                    "FULL_CERTIFICATE"
                  ]
                }
              },
              "path": "v1beta/apps/{appsId}/authorizedCertificates/{authorizedCertificatesId}",
              "flatPath": "v1beta/apps/{appsId}/authorizedCertificates/{authorizedCertificatesId}",
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "response": {
                "$ref": "AuthorizedCertificate"
              },
              "httpMethod": "GET",
              "id": "appengine.apps.authorizedCertificates.get"
            },
            "delete": {
              "id": "appengine.apps.authorizedCertificates.delete",
              "httpMethod": "DELETE",
              "parameters": {
                "appsId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Part of `name`. Required. Name of the resource to delete. Example: apps/myapp/authorizedCertificates/12345."
                },
                "authorizedCertificatesId": {
                  "required": true,
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "type": "string",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "appsId",
                "authorizedCertificatesId"
              ],
              "description": "Deletes the specified SSL certificate.",
              "path": "v1beta/apps/{appsId}/authorizedCertificates/{authorizedCertificatesId}",
              "flatPath": "v1beta/apps/{appsId}/authorizedCertificates/{authorizedCertificatesId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Empty"
              }
            },
            "patch": {
              "request": {
                "$ref": "AuthorizedCertificate"
              },
              "parameters": {
                "updateMask": {
[...]
