{
  "batchPath": "batch",
  "version": "v1beta",
  "kind": "discovery#restDescription",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/appengine.admin": {
          "description": "View and manage your applications deployed on Google App Engine"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        }
      }
    }
  },
  "servicePath": "",
  "protocol": "rest",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "baseUrl": "https://appengine.googleapis.com/",
  "parameters": {
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    }
  },
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "title": "App Engine Admin API",
  "revision": "20260919",
  "ownerDomain": "google.com",
  "documentationLink": "https://cloud.google.com/appengine/docs/admin-api/",
  "description": "Provisions and manages developers' App Engine applications.",
  "fullyEncodeReservedExpansion": true,
  "basePath": "",
  "schemas": {
    "ListLocationsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          },
          "type": "array"
        }
      },
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations."
    },
    "OperationMetadataV1Alpha": {
      "type": "object",
      "properties": {
        "target": {
          "type": "string",
          "description": "Name of the resource that this operation is acting on. Example: apps/myapp/services/default.@OutputOnly"
        },
        "user": {
          "type": "string",
          "description": "User who requested this operation.@OutputOnly"
        },
        "warning": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Durable messages that persist on every operation poll. @OutputOnly"
        },
        "method": {
          "description": "API method that initiated this operation. Example: google.appengine.v1alpha.Versions.CreateVersion.@OutputOnly",
          "type": "string"
        },
        "ephemeralMessage": {
          "type": "string",
          "description": "Ephemeral message that may change every time the operation is polled. @OutputOnly"
        },
        "insertTime": {
          "description": "Time that this operation was created.@OutputOnly",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "type": "string",
          "description": "Time that this operation completed.@OutputOnly",
          "format": "google-datetime"
        },
        "createVersionMetadata": {
          "$ref": "CreateVersionMetadataV1Alpha"
        }
      },
      "id": "OperationMetadataV1Alpha",
      "description": "Metadata for the given google.longrunning.Operation."
    },
    "SslSettings": {
      "type": "object",
      "description": "SSL configuration for a DomainMapping resource.",
      "id": "SslSettings",
      "properties": {
        "sslManagementType": {
          "type": "string",
          "enum": [
            "AUTOMATIC",
            "MANUAL"
          ],
          "enumDescriptions": [
            "SSL support for this domain is configured automatically. The mapped SSL certificate will be automatically renewed.",
            "SSL support for this domain is configured manually by the user. Either the domain has no SSL support or a user-obtained SSL certificate has been explicitly mapped to this domain."
          ],
          "description": "SSL management type for this domain. If AUTOMATIC, a managed certificate is automatically provisioned. If MANUAL, certificate_id must be manually specified in order to configure SSL for this domain."
        },
        "certificateId": {
          "description": "ID of the AuthorizedCertificate resource configuring SSL for the application. Clearing this field will remove SSL support.By default, a managed certificate is automatically created for every domain mapping. To omit SSL support or to configure SSL manually, specify SslManagementType.MANUAL on a CREATE or UPDATE request. You must be authorized to administer the AuthorizedCertificate resource to manually map it to a DomainMapping resource. Example: 12345.",
          "type": "string"
        },
        "pendingManagedCertificateId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. ID of the managed AuthorizedCertificate resource currently being provisioned, if applicable. Until the new managed certificate has been successfully provisioned, the previous SSL state will be preserved. Once the provisioning process completes, the certificate_id field will reflect the new managed certificate and this field will be left empty. To remove SSL support while there is still a pending managed certificate, clear the certificate_id field with an UpdateDomainMappingRequest.@OutputOnly"
        }
      }
    },
    "AuthorizedDomain": {
      "id": "AuthorizedDomain",
      "type": "object",
      "properties": {
        "id": {
          "description": "Fully qualified domain name of the domain authorized for use. Example: example.com.",
          "type": "string"
        },
        "name": {
          "description": "Full path to the AuthorizedDomain resource in the API. Example: apps/myapp/authorizedDomains/example.com.@OutputOnly",
          "type": "string"
        }
      },
      "description": "A domain that a user has been authorized to administer. To authorize use of a domain, verify ownership via Search Console (https://search.google.com/search-console/welcome)."
    },
    "Application": {
      "properties": {
        "defaultHostname": {
          "type": "string",
          "description": "Output only. Hostname used to reach this application, as resolved by App Engine.@OutputOnly",
          "readOnly": true
        },
        "codeBucket": {
          "description": "Output only. Google Cloud Storage bucket that can be used for storing files associated with this application. This bucket is associated with the application and can be used by the gcloud deployment commands.@OutputOnly",
          "readOnly": true,
          "type": "string"
        },
        "authDomain": {
          "type": "string",
          "description": "Google Apps authentication domain that controls which users can access this application.Defaults to open access for any Google Account."
        },
        "serviceAccount": {
          "description": "The service account associated with the application. This is the app-level default identity. If no identity provided during create version, Admin API will fallback to this one.",
          "type": "string"
        },
        "defaultBucket": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Google Cloud Storage bucket that can be used by this application to store content.@OutputOnly"
        },
        "featureSettings": {
          "$ref": "FeatureSettings",
          "description": "The feature specific settings to be used in the application."
        },
        "gcrDomain": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The Google Container Registry domain used for storing managed build docker images for this application."
        },
        "generatedCustomerMetadata": {
          "type": "object",
          "description": "Additional Google Generated Customer Metadata, this field won't be provided by default and can be requested by setting the IncludeExtraData field in GetApplicationRequest",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "defaultCookieExpiration": {
          "format": "google-duration",
          "description": "Cookie expiration policy for this application.",
          "type": "string"
        },
        "dispatchRules": {
          "items": {
            "$ref": "UrlDispatchRule"
          },
          "type": "array",
          "description": "HTTP path dispatch rules for requests to the application that do not explicitly target a service or version. Rules are order-dependent. Up to 20 dispatch rules can be supported."
        },
        "servingStatus": {
          "enumDescriptions": [
            "Serving status is unspecified.",
            "Application is serving.",
            "Application has been disabled by the user.",
            "Application has been disabled by the system."
          ],
          "description": "Serving status of this application.",
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "SERVING",
            "USER_DISABLED",
            "SYSTEM_DISABLED"
          ]
        },
        "iap": {
          "$ref": "IdentityAwareProxy"
        },
        "databaseType": {
          "enumDescriptions": [
            "Database type is unspecified.",
            "Cloud Datastore",
            "Cloud Firestore Native",
            "Cloud Firestore in Datastore Mode"
          ],
          "description": "The type of the Cloud Firestore or Cloud Datastore database associated with this application.",
          "type": "string",
          "enum": [
            "DATABASE_TYPE_UNSPECIFIED",
            "CLOUD_DATASTORE",
            "CLOUD_FIRESTORE",
            "CLOUD_DATASTORE_COMPATIBILITY"
          ]
        },
        "name": {
          "readOnly": true,
          "type": "string"
        },
        "id": {
          "description": "Identifier of the Application resource. This identifier is equivalent to the project ID of the Google Cloud Platform project where you want to deploy your application. Example: myapp.",
          "type": "string"
        },
        "locationId": {
          "type": "string",
          "description": "Location from which this application runs. Application instances run out of the data centers in the specified location, which is also where all of the application's end user content is stored.Defaults to us-central.View the list of supported locations (https://cloud.google.com/appengine/docs/locations)."
        },
        "sslPolicy": {
          "type": "string",
          "enum": [
            "SSL_POLICY_UNSPECIFIED",
            "DEFAULT",
            "MODERN"
          ],
          "description": "The SSL policy that will be applied to the application. If set to Modern it will restrict traffic with TLS < 1.2 and allow only Modern Ciphers suite",
          "enumDescriptions": [
            "Required by linter. Will work same as DEFAULT",
            "DEFAULT is to allow all TLS versions and cipher suites supported by App Engine",
            "MODERN is to allow only TLS 1.2 and TLS 1.3 along with Modern cipher suites only"
          ]
        }
      },
      "type": "object",
      "id": "Application",
      "description": "An Application resource contains the top-level configuration of an App Engine application."
    },
    "Entrypoint": {
      "type": "object",
      "properties": {
        "shell": {
          "type": "string",
          "description": "The format should be a shell command that can be fed to bash -c."
        }
      },
      "id": "Entrypoint",
      "description": "The entrypoint for the application."
    },
    "Network": {
      "type": "object",
      "id": "Network",
      "description": "Extra network settings. Only applicable in the App Engine flexible environment.",
      "properties": {
        "forwardedPorts": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of ports, or port pairs, to forward from the virtual machine to the application container. Only applicable in the App Engine flexible environment."
        },
        "instanceIpMode": {
          "description": "The IP mode for instances. Only applicable in the App Engine flexible environment.",
          "type": "string",
          "enum": [
            "INSTANCE_IP_MODE_UNSPECIFIED",
            "EXTERNAL",
            "INTERNAL"
          ],
          "enumDescriptions": [
            "Unspecified is treated as EXTERNAL.",
            "Instances are created with both internal and external IP addresses.",
            "Instances are created with internal IP addresses only."
          ]
        },
        "instanceTag": {
          "type": "string",
          "description": "Tag to apply to the instance during creation. Only applicable in the App Engine flexible environment."
        },
        "name": {
          "description": "Google Compute Engine network where the virtual machines are created. Specify the short name, not the resource path.Defaults to default.",
          "type": "string"
        },
        "sessionAffinity": {
          "description": "Enable session affinity. Only applicable in the App Engine flexible environment.",
          "type": "boolean"
        },
        "subnetworkName": {
          "description": "Google Cloud Platform sub-network where the virtual machines are created. Specify the short name, not the resource path.If a subnetwork name is specified, a network name will also be required unless it is for the default network. If the network that the instance is being created in is a Legacy network, then the IP address is allocated from the IPv4Range. If the network that the instance is being created in is an auto Subnet Mode Network, then only network name should be specified (not the subnetwork_name) and the IP address is created from the IPCidrRange of the subnetwork that exists in that zone for that network. If the network that the instance is being created in is a custom Subnet Mode Network, then the subnetwork_name must be specified and the IP address is created from the IPCidrRange of the subnetwork.If specified, the subnetwork must exist in the same region as the App Engine flexible environment application.",
          "type": "string"
        }
      }
    },
    "FlexibleRuntimeSettings": {
      "type": "object",
      "description": "Runtime settings for the App Engine flexible environment.",
      "id": "FlexibleRuntimeSettings",
      "properties": {
        "operatingSystem": {
          "description": "The operating system of the application runtime.",
          "type": "string"
        },
        "runtimeVersion": {
          "type": "string",
          "description": "The runtime version of an App Engine flexible application."
        }
      }
    },
    "CloudBuildOptions": {
      "description": "Options for the build operations performed as a part of the version deployment. Only applicable for App Engine flexible environment when creating a version using source code directly.",
      "properties": {
        "cloudBuildTimeout": {
          "description": "The Cloud Build timeout used as part of any dependent builds performed by version creation. Defaults to 10 minutes.",
          "format": "google-duration",
          "type": "string"
        },
        "appYamlPath": {
          "description": "Path to the yaml file used in deployment, used to determine runtime configuration details.Required for flexible environment builds.See https://cloud.google.com/appengine/docs/standard/python/config/appref for more details.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "CloudBuildOptions"
    },
    "IdentityAwareProxy": {
      "description": "Identity-Aware Proxy",
      "type": "object",
      "id": "IdentityAwareProxy",
      "properties": {
        "oauth2ClientSecret": {
          "type": "string",
          "description": "OAuth2 client secret to use for the authentication flow.For security reasons, this value cannot be retrieved via the API. Instead, the SHA-256 hash of the value is returned in the oauth2_client_secret_sha256 field.@InputOnly"
        },
        "oauth2ClientSecretSha256": {
          "description": "Output only. Hex-encoded SHA-256 hash of the client secret.@OutputOnly",
          "readOnly": true,
          "type": "string"
        },
        "enabled": {
          "type": "boolean",
          "description": "Whether the serving infrastructure will authenticate and authorize all incoming requests.If true, the oauth2_client_id and oauth2_client_secret fields must be non-empty."
        },
        "oauth2ClientId": {
          "description": "OAuth2 client ID to use for the authentication flow.",
          "type": "string"
        }
      }
    },
    "DebugInstanceRequest": {
      "description": "Request message for Instances.DebugInstance.",
      "type": "object",
      "id": "DebugInstanceRequest",
      "properties": {
        "sshKey": {
          "description": "Public SSH key to add to the instance. Examples: [USERNAME]:ssh-rsa [KEY_VALUE] [USERNAME] [USERNAME]:ssh-rsa [KEY_VALUE] google-ssh {\"userName\":\"[USERNAME]\",\"expireOn\":\"[EXPIRE_TIME]\"}For more information, see Adding and Removing SSH Keys (https://cloud.google.com/compute/docs/instances/adding-removing-ssh-keys).",
          "type": "string"
        }
      }
    },
    "ListDomainMappingsResponse": {
      "id": "ListDomainMappingsResponse",
      "type": "object",
      "description": "Response message for DomainMappings.ListDomainMappings.",
      "properties": {
        "domainMappings": {
          "items": {
            "$ref": "DomainMapping"
          },
          "type": "array",
          "description": "The domain mappings for the application."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token for fetching the next page of results."
        }
      }
    },
    "Library": {
      "id": "Library",
      "description": "Third-party Python runtime library that is required by the application.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the library. Example: \"django\".",
          "type": "string"
        },
        "version": {
          "description": "Version of the library to select, or \"latest\".",
          "type": "string"
        }
      }
    },
    "Date": {
      "id": "Date",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: A full date, with non-zero year, month, and day values. A month and day, with a zero year (for example, an anniversary). A year on its own, with a zero month and a zero day. A year and month, with a zero day (for example, a credit card expiration date).Related types: google.type.TimeOfDay google.type.DateTime google.protobuf.Timestamp",
      "properties": {
        "day": {
          "type": "integer",
          "format": "int32",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
        },
        "year": {
          "format": "int32",
          "type": "integer",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
        },
        "month": {
          "format": "int32",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets ListOperationsRequest.return_partial_success and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request."
        }
      },
      "type": "object",
      "description": "The response message for Operations.ListOperations."
    },
    "HealthCheck": {
      "description": "Health checking configuration for VM instances. Unhealthy instances are killed and replaced with new instances. Only applicable for instances in App Engine flexible environment.",
      "type": "object",
      "id": "HealthCheck",
      "properties": {
        "healthyThreshold": {
          "description": "Number of consecutive successful health checks required before receiving traffic.",
          "format": "uint32",
          "type": "integer"
        },
        "restartThreshold": {
          "type": "integer",
          "description": "Number of consecutive failed health checks required before an instance is restarted.",
          "format": "uint32"
        },
        "timeout": {
          "format": "google-duration",
          "type": "string",
          "description": "Time before the health check is considered failed."
        },
        "disableHealthCheck": {
          "type": "boolean",
          "description": "Whether to explicitly disable health checks for this instance."
        },
        "host": {
          "type": "string",
          "description": "Host header to send when performing an HTTP health check. Example: \"myapp.appspot.com\""
        },
        "unhealthyThreshold": {
          "format": "uint32",
          "description": "Number of consecutive failed health checks required before removing traffic.",
          "type": "integer"
        },
        "checkInterval": {
          "format": "google-duration",
          "type": "string",
          "description": "Interval between health checks."
        }
      }
    },
    "ListInstancesResponse": {
      "description": "Response message for Instances.ListInstances.",
      "type": "object",
      "id": "ListInstancesResponse",
      "properties": {
        "instances": {
          "type": "array",
          "items": {
            "$ref": "Instance"
          },
          "description": "The instances belonging to the requested version."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token for fetching the next page of results."
        }
      }
    },
    "StaticFilesHandler": {
      "id": "StaticFilesHandler",
      "type": "object",
      "description": "Files served directly to the user for a given URL, such as images, CSS stylesheets, or JavaScript source files. Static file handlers describe which files in the application directory are static files, and which URLs serve them.",
      "properties": {
        "mimeType": {
          "description": "MIME type used to serve all files served by this handler.Defaults to file-specific MIME types, which are derived from each file's filename extension.",
          "type": "string"
        },
        "httpHeaders": {
          "description": "HTTP headers to use for all responses from these URLs.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "path": {
          "description": "Path to the static files matched by the URL pattern, from the application root directory. The path can refer to text matched in groupings in the URL pattern.",
          "type": "string"
        },
        "applicationReadable": {
          "type": "boolean",
          "description": "Whether files should also be uploaded as code data. By default, files declared in static file handlers are uploaded as static data and are only served to end users; they cannot be read by the application. If enabled, uploads are charged against both your code and static data storage resource quotas."
        },
        "uploadPathRegex": {
          "type": "string",
          "description": "Regular expression that matches the file paths for all files that should be referenced by this handler."
        },
        "requireMatchingFile": {
          "description": "Whether this handler should match the request if the file referenced by the handler does not exist.",
          "type": "boolean"
        },
        "expiration": {
          "description": "Time a static file served by this handler should be cached by web proxies and browsers.",
          "format": "google-duration",
          "type": "string"
        }
      }
    },
    "ManualScaling": {
      "type": "object",
      "description": "A service with manual scaling runs continuously, allowing you to perform complex initialization and rely on the state of its memory over time.",
      "properties": {
        "instances": {
          "type": "integer",
          "format": "int32",
          "description": "Number of instances to assign to the service at the start. This number can later be altered by using the Modules API (https://cloud.google.com/appengine/docs/python/modules/functions) set_num_instances() function."
        }
      },
      "id": "ManualScaling"
    },
    "ListServicesResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        },
        "services": {
          "type": "array",
          "description": "The services belonging to the requested application.",
          "items": {
            "$ref": "Service"
          }
        }
      },
      "description": "Response message for Services.ListServices.",
      "type": "object",
      "id": "ListServicesResponse"
    },
    "CpuUtilization": {
      "type": "object",
      "description": "Target scaling by CPU usage.",
      "id": "CpuUtilization",
      "properties": {
        "targetUtilization": {
          "format": "double",
          "description": "Target CPU utilization ratio to maintain when scaling. Must be between 0 and 1.",
          "type": "number"
        },
        "aggregationWindowLength": {
          "type": "string",
          "description": "Period of time over which CPU utilization is calculated.",
          "format": "google-duration"
        }
      }
    },
    "ResourceRecord": {
      "properties": {
        "type": {
          "description": "Resource record type. Example: AAAA.",
          "enumDescriptions": [
            "An A resource record. Data is an IPv4 address.",
            "An AAAA resource record. Data is an IPv6 address.",
            "A CNAME resource record. Data is a domain name to be aliased."
          ],
          "type": "string",
          "enum": [
            "A",
            "AAAA",
            "CNAME"
          ]
        },
        "rrdata": {
          "description": "Data for this record. Values vary by record type, as defined in RFC 1035 (section 5) and RFC 1034 (section 3.6.1).",
          "type": "string"
        },
        "name": {
          "description": "Relative name of the object affected by this record. Only applicable for CNAME records. Example: 'www'.",
          "type": "string"
        }
      },
      "id": "ResourceRecord",
      "description": "A DNS resource record.",
      "type": "object"
    },
    "ErrorHandler": {
      "id": "ErrorHandler",
      "properties": {
        "mimeType": {
          "description": "MIME type of file. Defaults to text/html.",
          "type": "string"
        },
        "staticFile": {
          "type": "string",
          "description": "Static file content to be served for this error."
        },
        "errorCode": {
          "type": "string",
          "enum": [
            "ERROR_CODE_UNSPECIFIED",
            "ERROR_CODE_DEFAULT",
            "ERROR_CODE_OVER_QUOTA",
            "ERROR_CODE_DOS_API_DENIAL",
            "ERROR_CODE_TIMEOUT"
          ],
          "enumDescriptions": [
            "Not specified. ERROR_CODE_DEFAULT is assumed.",
            "All other error types.",
            "Application has exceeded a resource quota.",
            "Client blocked by the application's Denial of Service protection configuration.",
            "Deadline reached before the application responds."
          ],
          "description": "Error condition this handler applies to."
        }
      },
      "description": "Custom static error page to be served when an error occurs.",
      "type": "object"
    },
    "RepairApplicationRequest": {
      "id": "RepairApplicationRequest",
      "properties": {},
      "type": "object",
      "description": "Request message for 'Applications.RepairApplication'."
    },
    "DomainMapping": {
      "description": "A domain serving an App Engine application.",
      "type": "object",
      "id": "DomainMapping",
      "properties": {
        "resourceRecords": {
          "description": "Output only. The resource records required to configure this domain mapping. These records must be added to the domain's DNS configuration in order to serve the application via this domain mapping.@OutputOnly",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "ResourceRecord"
          }
        },
        "id": {
          "description": "Relative name of the domain serving the application. Example: example.com.",
          "type": "string"
        },
        "sslSettings": {
          "description": "SSL configuration for this domain. If unconfigured, this domain will not serve with SSL.",
          "$ref": "SslSettings"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Full path to the DomainMapping resource in the API. Example: apps/myapp/domainMapping/example.com.@OutputOnly"
        }
      }
    },
    "ReadinessCheck": {
      "description": "Readiness checking configuration for VM instances. Unhealthy instances are removed from traffic rotation.",
      "type": "object",
      "id": "ReadinessCheck",
      "properties": {
        "path": {
          "description": "The request path.",
          "type": "string"
        },
        "host": {
          "type": "string",
          "description": "Host header to send when performing a HTTP Readiness check. Example: \"myapp.appspot.com\""
        },
        "appStartTimeout": {
          "description": "A maximum time limit on application initialization, measured from moment the application successfully replies to a healthcheck until it is ready to serve traffic.",
          "type": "string",
          "format": "google-duration"
        },
        "timeout": {
          "description": "Time before the check is considered failed.",
          "type": "string",
          "format": "google-duration"
        },
        "checkInterval": {
          "description": "Interval between health checks.",
          "format": "google-duration",
          "type": "string"
        },
        "failureThreshold": {
          "description": "Number of consecutive failed checks required before removing traffic.",
          "format": "uint32",
          "type": "integer"
        },
        "successThreshold": {
          "description": "Number of consecutive successful checks required before receiving traffic.",
          "type": "integer",
          "format": "uint32"
        }
      }
    },
    "CreateVersionMetadataV1Alpha": {
      "type": "object",
      "id": "CreateVersionMetadataV1Alpha",
      "properties": {
        "cloudBuildId": {
          "type": "string",
          "description": "The Cloud Build ID if one was created as part of the version create. @OutputOnly"
        }
      },
      "description": "Metadata for the given google.longrunning.Operation during a google.appengine.v1alpha.CreateVersionRequest."
    },
    "Deployment": {
      "type": "object",
      "id": "Deployment",
      "description": "Code and application artifacts used to deploy a version to App Engine.",
      "properties": {
        "build": {
          "$ref": "BuildInfo",
          "description": "Google Cloud Build build information. Only applicable for instances running in the App Engine flexible environment."
        },
        "container": {
          "$ref": "ContainerInfo",
          "description": "The Docker image for the container that runs the version. Only applicable for instances running in the App Engine flexible environment."
        },
        "cloudBuildOptions": {
          "$ref": "CloudBuildOptions",
          "description": "Options for any Google Cloud Build builds created as a part of this deployment.These options will only be used if a new build is created, such as when deploying to the App Engine flexible environment using files or zip."
        },
        "files": {
          "type": "object",
          "description": "Manifest of the files stored in Google Cloud Storage that are included as part of this version. All files must be readable using the credentials supplied with this call.",
          "additionalProperties": {
            "$ref": "FileInfo"
          }
        },
        "zip": {
          "$ref": "ZipInfo",
          "description": "The zip file for this deployment, if this is a zip deployment."
        }
      }
    },
    "ListAuthorizedDomainsResponse": {
      "description": "Response message for AuthorizedDomains.ListAuthorizedDomains.",
      "type": "object",
      "id": "ListAuthorizedDomainsResponse",
      "properties": {
        "domains": {
          "type": "array",
          "description": "The authorized domains belonging to the user.",
          "items": {
            "$ref": "AuthorizedDomain"
          }
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        }
      }
    },
    "FirewallRule": {
      "properties": {
        "sourceRange": {
          "type": "string",
          "description": "IP address or range, defined using CIDR notation, of requests that this rule applies to. You can use the wildcard character \"*\" to match all IPs equivalent to \"0/0\" and \"::/0\" together. Examples: 192.168.1.1 or 192.168.0.0/16 or 2001:db8::/32 or 2001:0db8:0000:0042:0000:8a2e:0370:7334. Truncation will be silently performed on addresses which are not properly truncated. For example, 1.2.3.4/24 is accepted as the same address as 1.2.3.0/24. Similarly, for IPv6, 2001:db8::1/32 is accepted as the same address as 2001:db8::/32."
        },
        "description": {
          "type": "string",
          "description": "An optional string description of this rule. This field has a maximum length of 400 characters."
        },
        "action": {
          "description": "The action to take on matched requests.",
          "enumDescriptions": [
            "",
            "Matching requests are allowed.",
            "Matching requests are denied."
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED_ACTION",
            "ALLOW",
            "DENY"
          ]
        },
        "priority": {
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "FirewallRule",
      "description": "A single firewall rule that is evaluated against incoming traffic and provides an action to take on matched requests. A positive integer between 1, Int32.MaxValue-1 that defines the order of rule evaluation. Rules with the lowest priority are evaluated first.A default rule at priority Int32.MaxValue matches all IPv4 and IPv6 traffic when no previous rule matches. Only the action of this rule can be modified by the user."
    },
    "OperationMetadataV1": {
      "properties": {
        "target": {
          "type": "string",
          "description": "Name of the resource that this operation is acting on. Example: apps/myapp/services/default.@OutputOnly"
        },
        "user": {
          "description": "User who requested this operation.@OutputOnly",
          "type": "string"
        },
        "insertTime": {
          "format": "google-datetime",
          "description": "Time that this operation was created.@OutputOnly",
          "type": "string"
        },
        "ephemeralMessage": {
          "description": "Ephemeral message that may change every time the operation is polled. @OutputOnly",
          "type": "string"
        },
        "createVersionMetadata": {
          "$ref": "CreateVersionMetadataV1"
        },
        "method": {
          "description": "API method that initiated this operation. Example: google.appengine.v1.Versions.CreateVersion.@OutputOnly",
          "type": "string"
        },
        "warning": {
          "description": "Durable messages that persist on every operation poll. @OutputOnly",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "endTime": {
          "type": "string",
          "description": "Time that this operation completed.@OutputOnly",
          "format": "google-datetime"
        }
      },
      "id": "OperationMetadataV1",
      "type": "object",
      "description": "Metadata for the given google.longrunning.Operation."
    },
    "DiskUtilization": {
      "properties": {
        "targetReadOpsPerSecond": {
          "type": "integer",
          "format": "int32",
          "description": "Target ops read per seconds."
        },
        "targetReadBytesPerSecond": {
          "format": "int32",
          "type": "integer",
          "description": "Target bytes read per second."
        },
        "targetWriteBytesPerSecond": {
          "type": "integer",
          "format": "int32",
          "description": "Target bytes written per second."
        },
        "targetWriteOpsPerSecond": {
          "format": "int32",
          "description": "Target ops written per second.",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "DiskUtilization",
      "description": "Target scaling by disk usage. Only applicable in the App Engine flexible environment."
    },
    "ZipInfo": {
      "type": "object",
      "description": "The zip file information for a zip deployment.",
      "id": "ZipInfo",
      "properties": {
        "sourceUrl": {
          "type": "string",
          "description": "URL of the zip file to deploy from. Must be a URL to a resource in Google Cloud Storage in the form 'http(s)://storage.googleapis.com//'."
        },
        "filesCount": {
          "type": "integer",
          "format": "int32",
          "description": "An estimate of the number of files in a zip for a zip deployment. If set, must be greater than or equal to the actual number of files. Used for optimizing performance; if not provided, deployment may be slow."
        }
      }
    },
    "ListRuntimesResponse": {
      "type": "object",
      "properties": {
        "runtimes": {
          "description": "The runtimes available to the requested application.",
          "items": {
            "$ref": "Runtime"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        }
      },
      "description": "Response message for Applications.ListRuntimes.",
      "id": "ListRuntimesResponse"
    },
    "EndpointsApiService": {
      "id": "EndpointsApiService",
      "description": "Google Cloud Endpoints (https://cloud.google.com/endpoints) configuration. The Endpoints API Service provides tooling for serving Open API and gRPC endpoints via an NGINX proxy. Only valid for App Engine Flexible environment deployments.The fields here refer to the name and configuration ID of a \"service\" resource in the Service Management API (https://cloud.google.com/service-management/overview).",
      "type": "object",
      "properties": {
        "disableTraceSampling": {
          "description": "Enable or disable trace sampling. By default, this is set to false for enabled.",
          "type": "boolean"
        },
        "rolloutStrategy": {
          "type": "string",
          "enum": [
            "UNSPECIFIED_ROLLOUT_STRATEGY",
            "FIXED",
            "MANAGED"
          ],
          "description": "Endpoints rollout strategy. If FIXED, config_id must be specified. If MANAGED, config_id must be omitted.",
          "enumDescriptions": [
            "Not specified. Defaults to FIXED.",
            "Endpoints service configuration ID will be fixed to the configuration ID specified by config_id.",
            "Endpoints service configuration ID will be updated with each rollout."
          ]
        },
        "configId": {
          "description": "Endpoints service configuration ID as specified by the Service Management API. For example \"2016-09-19r1\".By default, the rollout strategy for Endpoints is RolloutStrategy.FIXED. This means that Endpoints starts up with a particular configuration ID. When a new configuration is rolled out, Endpoints must be given the new configuration ID. The config_id field is used to give the configuration ID and is required in this case.Endpoints also has a rollout strategy called RolloutStrategy.MANAGED. When using this, Endpoints fetches the latest configuration and does not need the configuration ID. In this case, config_id must be omitted.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Endpoints service name which is the name of the \"service\" resource in the Service Management API. For example \"myapi.endpoints.myproject.cloud.goog\""
        }
      }
    },
    "Operation": {
      "id": "Operation",
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as Delete, the response is google.protobuf.Empty. If the original method is standard Get/Create/Update, the response should be the resource. For other methods, the response should have the type XxxResponse, where Xxx is the original method name. For example, if the original method name is TakeSnapshot(), the inferred response type is TakeSnapshotResponse.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the name should be a resource name ending with operations/{unique_id}.",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "type": "boolean",
          "description": "If the value is false, it means the operation is still in progress. If true, the operation is completed, and either error or response is available."
        }
      }
    },
    "BuildInfo": {
      "id": "BuildInfo",
      "properties": {
        "cloudBuildId": {
          "description": "The Google Cloud Build id. Example: \"f966068f-08b2-42c8-bdfe-74137dff2bf9\"",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Google Cloud Build information."
    },
    "Status": {
      "id": "Status",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      },
      "description": "The Status type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by gRPC (https://github.com/grpc). Each Status message contains three pieces of data: error code, error message, and error details.You can find out more about this error model and how to work with it in the API Design Guide (https://cloud.google.com/apis/design/errors).",
      "type": "object"
    },
    "ListIngressRulesResponse": {
      "type": "object",
      "id": "ListIngressRulesResponse",
      "properties": {
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        },
        "ingressRules": {
          "type": "array",
          "items": {
            "$ref": "FirewallRule"
          },
          "description": "The ingress FirewallRules for this application."
        }
      },
      "description": "Response message for Firewall.ListIngressRules."
    },
    "Resources": {
      "properties": {
        "cpu": {
          "type": "number",
          "description": "Number of CPU cores needed.",
          "format": "double"
        },
        "volumes": {
          "type": "array",
          "items": {
            "$ref": "Volume"
          },
          "description": "User specified volumes."
        },
        "diskGb": {
          "format": "double",
          "type": "number",
          "description": "Disk size (GB) needed."
        },
        "memoryGb": {
          "format": "double",
          "type": "number",
          "description": "Memory (GB) needed."
        },
        "kmsKeyReference": {
          "type": "string",
          "description": "The name of the encryption key that is stored in Google Cloud KMS. Only should be used by Cloud Composer to encrypt the vm disk"
        }
      },
      "id": "Resources",
      "description": "Machine resources for a version.",
      "type": "object"
    },
    "Reasons": {
      "description": "Containers transition between and within states based on reasons sent from various systems. CCFE will provide the CLH with reasons for the current state per system.The current systems that CCFE supports are: Service Management (Inception) Data Governance (Wipeout) Abuse (Ares) Billing (Internal Cloud Billing API) Service Activation (Service Controller)",
      "properties": {
        "dataGovernance": {
          "type": "string",
          "enum": [
            "DATA_GOVERNANCE_UNKNOWN_REASON",
            "DATA_GOVERNANCE_CONTROL_PLANE_SYNC",
            "HIDE",
            "UNHIDE",
            "PURGE"
          ],
          "enumDescriptions": [
            "An unknown reason indicates that data governance has not sent a signal for this container.",
            "Due to various reasons CCFE might proactively restate a container state to a CLH to ensure that the CLH and CCFE are both aware of the container state. This reason can be tied to any of the states.",
            "When a container is deleted we retain some data for a period of time to allow the consumer to change their mind. Data governance sends a signal to hide the data when this occurs. Hide is a reason to put the container in an INTERNAL_OFF state.",
            "The decision to un-delete a container can be made. When this happens data governance tells us to unhide any hidden data. Unhide is a reason to put the container in an ON state.",
            "After a period of time data must be completely removed from our systems. When data governance sends a purge signal we need to remove data. Purge is a reason to put the container in a DELETED state. Purge is the only event that triggers a delete mutation. All other events have update semantics."
          ]
        },
        "serviceManagement": {
          "enumDeprecated": [
            false,
            false,
            true,
            true,
            true,
            true
          ],
          "enumDescriptions": [
            "An unknown reason indicates that we have not received a signal from service management about this container. Since containers are created by request of service management, this reason should never be set.",
            "Due to various reasons CCFE might proactively restate a container state to a CLH to ensure that the CLH and CCFE are both aware of the container state. This reason can be tied to any of the states.",
            "When a customer activates an API CCFE notifies the CLH and sets the container to the ON state.",
            "When a customer deactivates and API service management starts a two-step process to perform the deactivation. The first step is to prepare. Prepare is a reason to put the container in a EXTERNAL_OFF state.",
            "If the deactivation is cancelled, service managed needs to abort the deactivation. Abort is a reason to put the container in an ON state.",
            "If the deactivation is followed through with, service management needs to finish deactivation. Commit is a reason to put the container in a DELETED state."
          ],
          "type": "string",
          "enum": [
            "SERVICE_MANAGEMENT_UNKNOWN_REASON",
            "SERVICE_MANAGEMENT_CONTROL_PLANE_SYNC",
            "ACTIVATION",
            "PREPARE_DEACTIVATION",
            "ABORT_DEACTIVATION",
            "COMMIT_DEACTIVATION"
          ]
        },
        "abuse": {
          "enumDescriptions": [
            "An unknown reason indicates that the abuse system has not sent a signal for this container.",
            "Due to various reasons CCFE might proactively restate a container state to a CLH to ensure that the CLH and CCFE are both aware of the container state. This reason can be tied to any of the states.",
            "If a container is deemed abusive we receive a suspend signal. Suspend is a reason to put the container into an INTERNAL_OFF state.",
            "Containers that were once considered abusive can later be deemed non-abusive. When this happens we must reinstate the container. Reinstate is a reason to put the container into an ON state."
          ],
          "type": "string",
          "enum": [
            "ABUSE_UNKNOWN_REASON",
            "ABUSE_CONTROL_PLANE_SYNC",
            "SUSPEND",
            "REINSTATE"
          ]
        },
        "serviceActivation": {
          "description": "Consumer Container denotes if the service is active within a project or not. This information could be used to clean up resources in case service in DISABLED_FULL i.e. Service is inactive > 30 days.",
          "enumDescriptions": [
            "Default Unspecified status",
            "Service is active in the project.",
            "Service is disabled in the project recently i.e., within last 24 hours.",
            "Service has been disabled for configured grace_period (default 30 days).",
            "Happens when PSM cannot determine the status of service in a project Could happen due to variety of reasons like PERMISSION_DENIED or Project got deleted etc."
          ],
          "type": "string",
          "enum": [
            "SERVICE_ACTIVATION_STATUS_UNSPECIFIED",
            "SERVICE_ACTIVATION_ENABLED",
            "SERVICE_ACTIVATION_DISABLED",
            "SERVICE_ACTIVATION_DISABLED_FULL",
            "SERVICE_ACTIVATION_UNKNOWN_REASON"
          ]
        },
        "billing": {
          "type": "string",
          "enum": [
            "BILLING_UNKNOWN_REASON",
            "BILLING_CONTROL_PLANE_SYNC",
            "PROBATION",
            "CLOSE",
            "OPEN"
          ],
          "enumDescriptions": [
            "An unknown reason indicates that the billing system has not sent a signal for this container.",
            "Due to various reasons CCFE might proactively restate a container state to a CLH to ensure that the CLH and CCFE are both aware of the container state. This reason can be tied to any of the states.",
            "Minor infractions cause a probation signal to be sent. Probation is a reason to put the container into a ON state even though it is a negative signal. CCFE will block mutations for this container while it is on billing probation, but the CLH is expected to serve non-mutation requests.",
            "When a billing account is closed, it is a stronger signal about non-payment. Close is a reason to put the container into an INTERNAL_OFF state.",
            "Consumers can re-open billing accounts and update accounts to pull them out of probation. When this happens, we get a signal that the account is open. Open is a reason to put the container into an ON state."
          ]
        }
      },
      "id": "Reasons",
      "type": "object"
    },
    "NetworkSettings": {
      "type": "object",
      "description": "A NetworkSettings resource is a container for ingress settings for a version or service.",
      "properties": {
        "ingressTrafficAllowed": {
          "type": "string",
          "enum": [
            "INGRESS_TRAFFIC_ALLOWED_UNSPECIFIED",
            "INGRESS_TRAFFIC_ALLOWED_ALL",
            "INGRESS_TRAFFIC_ALLOWED_INTERNAL_ONLY",
            "INGRESS_TRAFFIC_ALLOWED_INTERNAL_AND_LB"
          ],
          "description": "The ingress settings for version or service.",
          "enumDescriptions": [
            "Unspecified",
            "Allow HTTP traffic from public and private sources.",
            "Allow HTTP traffic from only private VPC sources.",
            "Allow HTTP traffic from private VPC sources and through load balancers."
          ]
        }
      },
      "id": "NetworkSettings"
    },
    "ExportAppImageRequest": {
      "description": "Request message for Versions.ExportAppImage.",
      "id": "ExportAppImageRequest",
      "properties": {
        "destinationRepository": {
          "type": "string",
          "description": "Optional. The full resource name of the AR repository to export to. Format: projects/{project}/locations/{location}/repositories/{repository} If not specified, defaults to projects/{project}/locations/{location}/repositories/gae-standard in the same region as the app. The default repository will be created if it does not exist."
        }
      },
      "type": "object"
    },
    "ContainerState": {
      "properties": {
        "previousReasons": {
          "description": "The previous and current reasons for a container state will be sent for a container event. CLHs that need to know the signal that caused the container event to trigger (edges) as opposed to just knowing the state can act upon differences in the previous and current reasons.Reasons will be provided for every system: service management, data governance, abuse, and billing.If this is a CCFE-triggered event used for reconciliation then the current reasons will be set to their *_CONTROL_PLANE_SYNC state. The previous reasons will contain the last known set of non-unknown non-control_plane_sync reasons for the state.",
          "$ref": "Reasons"
        },
        "state": {
          "enumDescriptions": [
            "A container should never be in an unknown state. Receipt of a container with this state is an error.",
            "CCFE considers the container to be serving or transitioning into serving.",
            "CCFE considers the container to be in an OFF state. This could occur due to various factors. The state could be triggered by Google-internal audits (ex. abuse suspension, billing closed) or cleanups trigged by compliance systems (ex. data governance hide). User-initiated events such as service management deactivation trigger a container to an OFF state.CLHs might choose to do nothing in this case or to turn off costly resources. CLHs need to consider the customer experience if an ON/OFF/ON sequence of state transitions occurs vs. the cost of deleting resources, keeping metadata about resources, or even keeping resources live for a period of time.CCFE will not send any new customer requests to the CLH when the container is in an OFF state. However, CCFE will allow all previous customer requests relayed to CLH to complete.",
            "This state indicates that the container has been (or is being) completely removed. This is often due to a data governance purge request and therefore resources should be deleted when this state is reached."
          ],
          "description": "The current state of the container. This state is the culmination of all of the opinions from external systems that CCFE knows about of the container.",
          "type": "string",
          "enum": [
            "UNKNOWN_STATE",
            "ON",
            "OFF",
            "DELETED"
          ]
        },
        "currentReasons": {
          "$ref": "Reasons"
        }
      },
      "type": "object",
      "id": "ContainerState",
      "description": "ContainerState contains the externally-visible container state that is used to communicate the state and reasoning for that state to the CLH. This data is not persisted by CCFE, but is instead derived from CCFE's internal representation of the container state."
    },
    "OperationMetadataV1Beta": {
      "id": "OperationMetadataV1Beta",
      "type": "object",
      "description": "Metadata for the given google.longrunning.Operation.",
      "properties": {
        "target": {
          "type": "string",
          "description": "Name of the resource that this operation is acting on. Example: apps/myapp/services/default.@OutputOnly"
        },
        "ephemeralMessage": {
          "type": "string",
          "description": "Ephemeral message that may change every time the operation is polled. @OutputOnly"
        },
        "createVersionMetadata": {
          "$ref": "CreateVersionMetadataV1Beta"
        },
        "endTime": {
          "description": "Time that this operation completed.@OutputOnly",
          "format": "google-datetime",
          "type": "string"
        },
        "method": {
          "description": "API method that initiated this operation. Example: google.appengine.v1beta.Versions.CreateVersion.@OutputOnly",
          "type": "string"
        },
        "user": {
          "description": "User who requested this operation.@OutputOnly",
          "type": "string"
        },
        "warning": {
          "type": "array",
          "description": "Durable messages that persist on every operation poll. @OutputOnly",
          "items": {
            "type": "string"
          }
        },
        "insertTime": {
          "description": "Time that this operation was created.@OutputOnly",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "VpcNetworkInterface": {
      "properties": {
        "subnet": {
          "description": "Optional. The VPC subnetwork that the App Engine resource will get IPs from. At least one of network or subnetwork must be specified. If both network and subnetwork are specified, the given VPC subnetwork must belong to the given VPC network. If subnetwork is not specified, the subnetwork with the same name with the network will be used. Could be either a short name or a full path. e.g. {SUBNET_NAME} or projects/{HOST_PROJECT_ID}/regions/{REGION}/subnetworks/{SUBNET_NAME}",
          "type": "string"
        },
        "tags": {
          "description": "Optional. The network tags that will be applied to this App Engine resource.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "network": {
          "description": "Optional. The VPC network that the App Engine resource will be able to send traffic to. At least one of network or subnetwork must be specified. If both network and subnetwork are specified, the given VPC subnetwork must belong to the given VPC network. If network is not specified, it will be looked up from the subnetwork. Could be either a short name or a full path. e.g. {VPC_NETWORK} or projects/{HOST_PROJECT_ID}/global/networks/{VPC_NETWORK}",
          "type": "string"
        }
      },
      "id": "VpcNetworkInterface",
      "description": "Network interface key message.",
      "type": "object"
    },
    "FileInfo": {
      "id": "FileInfo",
      "description": "Single source file that is part of the version to be deployed. Each source file that is deployed must be specified separately.",
      "type": "object",
      "properties": {
        "sha1Sum": {
          "type": "string",
          "description": "The SHA1 hash of the file, in hex."
        },
        "sourceUrl": {
          "description": "URL source to use to fetch this file. Must be a URL to a resource in Google Cloud Storage in the form 'http(s)://storage.googleapis.com//'.",
          "type": "string"
        },
        "mimeType": {
          "description": "The MIME type of the file.Defaults to the value from Google Cloud Storage.",
          "type": "string"
        }
      }
    },
    "CustomMetric": {
      "id": "CustomMetric",
      "type": "object",
      "description": "Allows autoscaling based on Stackdriver metrics.",
      "properties": {
        "metricName": {
          "description": "The name of the metric.",
          "type": "string"
        },
        "singleInstanceAssignment": {
          "description": "May be used instead of target_utilization when an instance can handle a specific amount of work/resources and the metric value is equal to the current amount of work remaining. The autoscaler will try to keep the number of instances equal to the metric value divided by single_instance_assignment.",
          "type": "number",
          "format": "double"
        },
        "targetType": {
          "description": "The type of the metric. Must be a string representing a Stackdriver metric type e.g. GAGUE, DELTA_PER_SECOND, etc.",
          "type": "string"
        },
        "filter": {
          "description": "Allows filtering on the metric's fields.",
          "type": "string"
        },
        "targetUtilization": {
          "format": "double",
          "type": "number",
          "description": "The target value for the metric."
        }
      }
    },
    "Version": {
      "id": "Version",
      "type": "object",
      "description": "A Version resource is a specific set of source code and configuration files that are deployed into a service.",
      "properties": {
        "betaSettings": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Metadata settings that are supplied to this version to enable beta runtime features.",
          "type": "object"
        },
        "readinessCheck": {
          "$ref": "ReadinessCheck",
          "description": "Configures readiness health checking for instances. Unhealthy instances are not put into the backend traffic rotation."
        },
        "handlers": {
          "type": "array",
          "items": {
            "$ref": "UrlMap"
          },
          "description": "An ordered list of URL-matching patterns that should be applied to incoming requests. The first matching URL handles the request and other request handlers are not attempted.Only returned in GET requests if view=FULL is set."
        },
        "zones": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The Google Compute Engine zones that are supported by this version in the App Engine flexible environment. Deprecated."
        },
        "inboundServices": {
          "type": "array",
          "description": "Before an application can receive email or XMPP messages, the application must be configured to enable the service.",
          "items": {
            "type": "string",
            "enum": [
              "INBOUND_SERVICE_UNSPECIFIED",
              "INBOUND_SERVICE_MAIL",
              "INBOUND_SERVICE_MAIL_BOUNCE",
              "INBOUND_SERVICE_XMPP_ERROR",
              "INBOUND_SERVICE_XMPP_MESSAGE",
              "INBOUND_SERVICE_XMPP_SUBSCRIBE",
              "INBOUND_SERVICE_XMPP_PRESENCE",
              "INBOUND_SERVICE_CHANNEL_PRESENCE",
              "INBOUND_SERVICE_WARMUP"
            ],
            "enumDescriptions": [
              "Not specified.",
              "Allows an application to receive mail.",
              "Allows an application to receive email-bound notifications.",
              "Allows an application to receive error stanzas.",
              "Allows an application to receive instant messages.",
              "Allows an application to receive user subscription POSTs.",
              "Allows an application to receive a user's chat presence.",
              "Registers an application for notifications when a client connects or disconnects from a channel.",
              "Enables warmup requests."
            ]
          }
        },
        "runtimeMainExecutablePath": {
          "description": "The path or name of the app's main executable.",
          "type": "string"
        },
        "flexibleRuntimeSettings": {
          "description": "Settings for App Engine flexible runtimes.",
          "$ref": "FlexibleRuntimeSettings"
        },
        "diskUsageBytes": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. Total size in bytes of all the files that are included in this version and currently hosted on the App Engine disk.@OutputOnly"
        },
        "buildEnvVariables": {
          "description": "Environment variables available to the build environment.Only returned in GET requests if view=FULL is set.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "defaultExpiration": {
          "format": "google-duration",
          "description": "Duration that static files should be cached by web proxies and browsers. Only applicable if the corresponding StaticFilesHandler (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#StaticFilesHandler) does not specify its own expiration time.Only returned in GET requests if view=FULL is set.",
          "type": "string"
        },
        "env": {
          "description": "App Engine execution environment for this version.Defaults to standard.",
          "type": "string"
        },
        "apiConfig": {
          "$ref": "ApiConfigHandler",
          "description": "Serving configuration for Google Cloud Endpoints (https://cloud.google.com/endpoints).Only returned in GET requests if view=FULL is set.",
          "deprecated": true
        },
        "appEngineApis": {
          "description": "Allows App Engine second generation runtimes to access the legacy bundled services.",
          "type": "boolean"
        },
        "servingStatus": {
          "description": "Current serving status of this version. Only the versions with a SERVING status create instances and can be billed.SERVING_STATUS_UNSPECIFIED is an invalid value. Defaults to SERVING.",
          "type": "string",
          "enum": [
            "SERVING_STATUS_UNSPECIFIED",
            "SERVING",
            "STOPPED"
          ],
          "enumDescriptions": [
            "Not specified.",
            "Currently serving. Instances are created according to the scaling settings of the version.",
            "Disabled. No instances will be created and the scaling settings are ignored until the state of the version changes to SERVING."
          ]
        },
        "entrypoint": {
          "description": "The entrypoint for the application.",
          "$ref": "Entrypoint"
        },
        "errorHandlers": {
          "description": "Custom static error pages. Limited to 10KB per page.Only returned in GET requests if view=FULL is set.",
          "items": {
            "$ref": "ErrorHandler"
          },
          "type": "array"
        },
        "livenessCheck": {
          "$ref": "LivenessCheck",
          "description": "Configures liveness health checking for instances. Unhealthy instances are stopped and replaced with new instances"
        },
        "libraries": {
          "description": "Configuration for third-party Python runtime libraries that are required by the application.Only returned in GET requests if view=FULL is set.",
          "type": "array",
          "items": {
            "$ref": "Library"
          }
        },
        "nobuildFilesRegex": {
          "description": "Files that match this pattern will not be built into this version. Only applicable for Go runtimes.Only returned in GET requests if view=FULL is set.",
          "type": "string"
        },
        "generatedCustomerMetadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "Additional Google Generated Customer Metadata, this field won't be provided by default and can be requested by setting the IncludeExtraData field in GetVersionRequest"
        },
        "healthCheck": {
          "$ref": "HealthCheck",
          "description": "Configures health checking for instances. Unhealthy instances are stopped and replaced with new instances. Only applicable in the App Engine flexible environment."
        },
        "id": {
          "description": "Relative name of the version within the service. Example: v1. Version names can contain only lowercase letters, numbers, or hyphens. Reserved names: \"default\", \"latest\", and any name with the prefix \"ah-\".",
          "type": "string"
        },
        "vpcAccess": {
          "$ref": "VpcAccess",
          "description": "Enables VPC access connectivity for standard apps."
        },
        "createTime": {
          "type": "string",
          "description": "Time that this version was created.@OutputOnly",
          "format": "google-datetime"
        },
        "endpointsApiService": {
          "$ref": "EndpointsApiService",
          "description": "Cloud Endpoints configuration.If endpoints_api_service is set, the Cloud Endpoints Extensible Service Proxy will be provided to serve the API implemented by the app."
        },
        "serviceAccount": {
          "type": "string",
          "description": "The identity that the deployed version will run as. Admin API will use the App Engine Appspot service account as default if this field is neither provided in app.yaml file nor through CLI flag."
        },
        "deployment": {
          "description": "Code and application artifacts that make up this version.Only returned in GET requests if view=FULL is set.",
          "$ref": "Deployment"
        },
        "vm": {
          "description": "Whether to deploy this version in a container on a virtual machine.",
          "type": "boolean"
        },
        "runtime": {
          "type": "string",
          "description": "Desired runtime. Example: python27."
        },
        "basicScaling": {
          "$ref": "BasicScaling",
          "description": "A service with basic scaling will create an instance when the application receives a request. The instance will be turned down when the app becomes idle. Basic scaling is ideal for work that is intermittent or driven by user activity."
        },
        "createdBy": {
          "type": "string",
          "description": "Output only. Email address of the user who created this version.@OutputOnly",
          "readOnly": true
        },
        "instanceClass": {
          "description": "Instance class that is used to run this version. Valid values are: AutomaticScaling: F1, F2, F4, F4_1G ManualScaling or BasicScaling: B1, B2, B4, B8, B4_1GDefaults to F1 for AutomaticScaling and B1 for ManualScaling or BasicScaling.",
          "type": "string"
        },
        "appEngineBundledServices": {
          "description": "List of specific App Engine Bundled Services that are enabled for this Version.",
          "items": {
            "type": "string",
            "enum": [
              "BUNDLED_SERVICE_TYPE_UNSPECIFIED",
              "BUNDLED_SERVICE_TYPE_APP_IDENTITY_SERVICE",
              "BUNDLED_SERVICE_TYPE_BLOBSTORE",
              "BUNDLED_SERVICE_TYPE_CAPABILITY_SERVICE",
              "BUNDLED_SERVICE_TYPE_DATASTORE_V3",
              "BUNDLED_SERVICE_TYPE_DEFERRED",
              "BUNDLED_SERVICE_TYPE_IMAGES",
              "BUNDLED_SERVICE_TYPE_MAIL",
              "BUNDLED_SERVICE_TYPE_MEMCACHE",
              "BUNDLED_SERVICE_TYPE_MODULES",
              "BUNDLED_SERVICE_TYPE_NAMESPACES",
              "BUNDLED_SERVICE_TYPE_NDB",
              "BUNDLED_SERVICE_TYPE_SEARCH",
              "BUNDLED_SERVICE_TYPE_TASKQUEUES",
              "BUNDLED_SERVICE_TYPE_URLFETCH",
              "BUNDLED_SERVICE_TYPE_USERS"
            ],
            "enumDescriptions": [
              "Default, invalid value",
              "App Identity Service",
              "Blobstore",
              "Capability Service",
              "Datastore V3",
              "Deferred",
              "Images",
              "Mail",
              "Memcache",
              "Modules",
              "Namespaces",
              "NDB",
              "Search",
              "Task Queues",
              "URL Fetch",
              "Users"
            ]
          },
          "type": "array"
        },
        "threadsafe": {
          "description": "Whether multiple requests can be dispatched to this version at once.",
          "type": "boolean"
        },
        "resources": {
          "description": "Machine resources for this version. Only applicable in the App Engine flexible environment.",
          "$ref": "Resources"
        },
        "manualScaling": {
          "description": "A service with manual scaling runs continuously, allowing you to perform complex initialization and rely on the state of its memory over time. Manually scaled versions are sometimes referred to as \"backends\".",
          "$ref": "ManualScaling"
        },
        "automaticScaling": {
          "$ref": "AutomaticScaling",
          "description": "Automatic scaling is based on request rate, response latencies, and other application metrics. Instances are dynamically created and destroyed as needed in order to handle traffic."
        },
        "runtimeApiVersion": {
          "type": "string",
          "description": "The version of the API in the given runtime environment. Please see the app.yaml reference for valid values at https://cloud.google.com/appengine/docs/standard//config/appref"
        },
        "vpcAccessConnector": {
          "description": "Enables VPC connectivity for standard apps.",
          "$ref": "VpcAccessConnector"
        },
        "network": {
          "description": "Extra network settings. Only applicable in the App Engine flexible environment.",
          "$ref": "Network"
        },
        "versionUrl": {
          "description": "Output only. Serving URL for this version. Example: \"https://myversion-dot-myservice-dot-myapp.appspot.com\"@OutputOnly",
          "readOnly": true,
          "type": "string"
        },
        "runtimeChannel": {
          "type": "string",
          "description": "The channel of the runtime to use. Only available for some runtimes. Defaults to the default channel."
        },
        "envVariables": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Environment variables available to the application.Only returned in GET requests if view=FULL is set."
        },
        "name": {
          "description": "Output only. Full path to the Version resource in the API. Example: apps/myapp/services/default/versions/v1.@OutputOnly",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "LivenessCheck": {
      "description": "Health checking configuration for VM instances. Unhealthy instances are killed and replaced with new instances.",
      "type": "object",
      "properties": {
        "timeout": {
          "format": "google-duration",
          "description": "Time before the check is considered failed.",
          "type": "string"
        },
        "path": {
          "description": "The request path.",
          "type": "string"
        },
        "host": {
          "description": "Host header to send when performing a HTTP Liveness check. Example: \"myapp.appspot.com\"",
          "type": "string"
        },
        "checkInterval": {
          "format": "google-duration",
          "type": "string",
          "description": "Interval between health checks."
        },
        "initialDelay": {
          "description": "The initial delay before starting to execute the checks.",
          "type": "string",
          "format": "google-duration"
        },
        "successThreshold": {
          "type": "integer",
          "description": "Number of consecutive successful checks required before considering the VM healthy.",
          "format": "uint32"
        },
        "failureThreshold": {
          "format": "uint32",
          "description": "Number of consecutive failed checks required before considering the VM unhealthy.",
          "type": "integer"
        }
      },
      "id": "LivenessCheck"
    },
    "CreateVersionMetadataV1": {
      "id": "CreateVersionMetadataV1",
      "description": "Metadata for the given google.longrunning.Operation during a google.appengine.v1.CreateVersionRequest.",
      "properties": {
        "cloudBuildId": {
          "type": "string",
          "description": "The Cloud Build ID if one was created as part of the version create. @OutputOnly"
        }
      },
      "type": "object"
    },
    "Volume": {
      "type": "object",
      "id": "Volume",
      "description": "Volumes mounted within the app container. Only applicable in the App Engine flexible environment.",
      "properties": {
        "volumeType": {
          "description": "Underlying volume type, e.g. 'tmpfs'.",
          "type": "string"
        },
        "sizeGb": {
          "format": "double",
          "description": "Volume size in gigabytes.",
          "type": "number"
        },
        "name": {
          "type": "string",
          "description": "Unique name for the volume."
        }
      }
    },
    "Service": {
      "id": "Service",
      "properties": {
        "networkSettings": {
          "$ref": "NetworkSettings",
          "description": "Ingress settings for this service. Will apply to all versions."
        },
        "generatedCustomerMetadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Additional Google Generated Customer Metadata, this field won't be provided by default and can be requested by setting the IncludeExtraData field in GetServiceRequest"
        },
        "split": {
          "description": "Mapping that defines fractional HTTP traffic diversion to different versions within the service.",
          "$ref": "TrafficSplit"
        },
        "id": {
          "description": "Output only. Relative name of the service within the application. Example: default.@OutputOnly",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Full path to the Service resource in the API. Example: apps/myapp/services/default.@OutputOnly",
          "type": "string"
        },
        "labels": {
          "description": "A set of labels to apply to this service. Labels are key/value pairs that describe the service and all resources that belong to it (e.g., versions). The labels can be used to search and group resources, and are propagated to the usage and billing reports, enabling fine-grain analysis of costs. An example of using labels is to tag resources belonging to different environments (e.g., \"env=prod\", \"env=qa\"). Label keys and values can be no longer than 63 characters and can only contain lowercase letters, numeric characters, underscores, dashes, and international characters. Label keys must start with a lowercase letter or an international character. Each service can have at most 32 labels.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "description": "A Service resource is a logical component of an application that can share state and communicate in a secure fashion with other services. For example, an application that handles customer requests might include separate services to handle tasks such as backend data analysis or API requests from mobile devices. Each service has a collection of versions that define a specific set of code used to implement the functionality of that service.",
      "type": "object"
    },
    "ProjectEvent": {
      "id": "ProjectEvent",
      "description": "The request sent to CLHs during project events.",
      "type": "object",
      "properties": {
        "eventId": {
          "description": "The unique ID for this project event. CLHs can use this value to dedup repeated calls. required",
          "type": "string"
        },
        "projectMetadata": {
          "description": "The projects metadata for this project. required",
          "$ref": "ProjectsMetadata"
        },
        "phase": {
          "type": "string",
          "enum": [
            "CONTAINER_EVENT_PHASE_UNSPECIFIED",
            "BEFORE_RESOURCE_HANDLING",
            "AFTER_RESOURCE_HANDLING"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "description": "Phase indicates when in the container event propagation this event is being communicated. Events are sent before and after the per-resource events are propagated. required"
        },
        "state": {
          "$ref": "ContainerState",
          "description": "The state of the organization that led to this event."
        }
      }
    },
    "AuthorizedCertificate": {
      "type": "object",
      "description": "An SSL certificate that a user has been authorized to administer. A user is authorized to administer any certificate that applies to one of their authorized domains.",
      "id": "AuthorizedCertificate",
      "properties": {
        "domainNames": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. Topmost applicable domains of this certificate. This certificate applies to these domains and their subdomains. Example: example.com.@OutputOnly"
        },
        "managedCertificate": {
          "description": "Only applicable if this certificate is managed by App Engine. Managed certificates are tied to the lifecycle of a DomainMapping and cannot be updated or deleted via the AuthorizedCertificates API. If this certificate is manually administered by the user, this field will be empty.@OutputOnly",
          "$ref": "ManagedCertificate"
        },
        "visibleDomainMappings": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. The full paths to user visible Domain Mapping resources that have this certificate mapped. Example: apps/myapp/domainMappings/example.com.This may not represent the full list of mapped domain mappings if the user does not have VIEWER permissions on all of the applications that have this certificate mapped. See domain_mappings_count for a complete count.Only returned by GET or LIST requests when specifically requested by the view=FULL_CERTIFICATE option.@OutputOnly"
        },
        "certificateRawData": {
          "description": "The SSL certificate serving the AuthorizedCertificate resource. This must be obtained independently from a certificate authority.",
          "$ref": "CertificateRawData"
        },
        "displayName": {
          "description": "The user-specified display name of the certificate. This is not guaranteed to be unique. Example: My Certificate.",
          "type": "string"
        },
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Relative name of the certificate. This is a unique value autogenerated on AuthorizedCertificate resource creation. Example: 12345.@OutputOnly"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Full path to the AuthorizedCertificate resource in the API. Example: apps/myapp/authorizedCertificates/12345.@OutputOnly"
        },
        "domainMappingsCount": {
          "format": "int32",
          "description": "Aggregate count of the domain mappings with this certificate mapped. This count includes domain mappings on applications for which the user does not have VIEWER permissions.Only returned by GET or LIST requests when specifically requested by the view=FULL_CERTIFICATE option.@OutputOnly",
          "type": "integer"
        },
        "expireTime": {
          "type": "string",
          "description": "The time when this certificate expires. To update the renewal time on this certificate, upload an SSL certificate with a different expiration time using AuthorizedCertificates.UpdateAuthorizedCertificate.@OutputOnly",
          "format": "google-datetime"
        }
      }
    },
    "ListVersionsResponse": {
      "id": "ListVersionsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        },
        "versions": {
          "items": {
            "$ref": "Version"
          },
          "type": "array",
          "description": "The versions belonging to the requested service."
        }
      },
      "description": "Response message for Versions.ListVersions."
    },
    "ListAuthorizedCertificatesResponse": {
      "description": "Response message for AuthorizedCertificates.ListAuthorizedCertificates.",
      "type": "object",
      "id": "ListAuthorizedCertificatesResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token for fetching the next page of results."
        },
        "certificates": {
          "type": "array",
          "items": {
            "$ref": "AuthorizedCertificate"
          },
          "description": "The SSL certificates the user is authorized to administer."
        }
      }
    },
    "ResourceEvent": {
      "id": "ResourceEvent",
      "description": "The request that is passed to CLH during per-resource events. The request will be sent with update semantics in all cases except for data governance purge events. These events will be sent with delete semantics and the CLH is expected to delete the resource receiving this event.",
      "properties": {
        "state": {
          "description": "The state of the project that led to this event.",
          "$ref": "ContainerState"
        },
        "eventId": {
          "type": "string",
          "description": "The unique ID for this per-resource event. CLHs can use this value to dedup repeated calls. required"
        },
        "name": {
          "type": "string",
          "description": "The name of the resource for which this event is. required"
        }
      },
      "type": "object"
    },
    "NetworkUtilization": {
      "description": "Target scaling by network usage. Only applicable in the App Engine flexible environment.",
      "properties": {
        "targetReceivedBytesPerSecond": {
          "type": "integer",
          "format": "int32",
          "description": "Target bytes received per second."
        },
        "targetSentPacketsPerSecond": {
          "description": "Target packets sent per second.",
          "format": "int32",
          "type": "integer"
        },
        "targetSentBytesPerSecond": {
          "type": "integer",
          "format": "int32",
          "description": "Target bytes sent per second."
        },
        "targetReceivedPacketsPerSecond": {
          "description": "Target packets received per second.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "NetworkUtilization"
    },
    "AutomaticScaling": {
      "id": "AutomaticScaling",
      "description": "Automatic scaling is based on request rate, response latencies, and other application metrics.",
      "properties": {
        "customMetrics": {
          "items": {
            "$ref": "CustomMetric"
          },
          "type": "array",
          "description": "Target scaling by user-provided metrics. Only applicable in the App Engine flexible environment."
        },
        "maxTotalInstances": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum number of instances that should be started to handle requests for this version."
        },
        "requestUtilization": {
          "description": "Target scaling by request utilization.",
          "$ref": "RequestUtilization"
        },
        "networkUtilization": {
          "description": "Target scaling by network usage.",
          "$ref": "NetworkUtilization"
        },
        "standardSchedulerSettings": {
          "$ref": "StandardSchedulerSettings",
          "description": "Scheduler settings for standard environment."
        },
        "maxConcurrentRequests": {
          "format": "int32",
          "type": "integer",
          "description": "Number of concurrent requests an automatic scaling instance can accept before the scheduler spawns a new instance.Defaults to a runtime-specific value."
        },
        "minPendingLatency": {
          "description": "Minimum amount of time a request should wait in the pending queue before starting a new instance to handle it.",
          "format": "google-duration",
          "type": "string"
        },
        "coolDownPeriod": {
          "description": "The time period that the Autoscaler (https://cloud.google.com/compute/docs/autoscaler/) should wait before it starts collecting information from a new instance. This prevents the autoscaler from collecting information when the instance is initializing, during which the collected usage would not be reliable. Only applicable in the App Engine flexible environment.",
          "type": "string",
          "format": "google-duration"
        },
        "minTotalInstances": {
          "format": "int32",
          "description": "Minimum number of running instances that should be maintained for this version.",
          "type": "integer"
        },
        "diskUtilization": {
          "description": "Target scaling by disk usage.",
          "$ref": "DiskUtilization"
        },
        "cpuUtilization": {
          "$ref": "CpuUtilization",
          "description": "Target scaling by CPU usage."
        },
        "maxPendingLatency": {
          "format": "google-duration",
          "description": "Maximum amount of time that a request should wait in the pending queue before starting a new instance to handle it.",
          "type": "string"
        },
        "maxIdleInstances": {
          "type": "integer",
          "description": "Maximum number of idle instances that should be maintained for this version.",
          "format": "int32"
        },
        "minIdleInstances": {
          "description": "Minimum number of idle instances that should be maintained for this version. Only applicable for the default version of a service.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "ApiEndpointHandler": {
      "type": "object",
      "id": "ApiEndpointHandler",
      "properties": {
        "scriptPath": {
          "description": "Path to the script from the application root directory.",
          "type": "string"
        }
      },
      "description": "Uses Google Cloud Endpoints to handle requests."
    },
    "CreateVersionMetadataV1Beta": {
      "id": "CreateVersionMetadataV1Beta",
      "type": "object",
      "properties": {
        "cloudBuildId": {
          "description": "The Cloud Build ID if one was created as part of the version create. @OutputOnly",
          "type": "string"
        }
      },
      "description": "Metadata for the given google.longrunning.Operation during a google.appengine.v1beta.CreateVersionRequest."
    },
    "VpcAccess": {
      "type": "object",
      "description": "VPC Access settings",
      "id": "VpcAccess",
      "properties": {
        "networkInterfaces": {
          "type": "array",
          "items": {
            "$ref": "VpcNetworkInterface"
          },
          "description": "The Direct VPC configuration. Currently only single network interface is supported."
        },
        "vpcEgress": {
          "type": "string",
          "enum": [
            "VPC_EGRESS_UNSPECIFIED",
            "ALL_TRAFFIC",
            "PRIVATE_IP_RANGES"
          ],
          "description": "The traffic egress setting for the VPC network interface, controlling what traffic is diverted through it.",
          "enumDescriptions": [
            "No value set; apply default behavior",
            "Force all traffic to egress through the NetworkInterface (and configured VPC Network)",
            "Force all Private IP Space traffic to egress through NetworkInterface (and configured VPC Network)"
          ]
        }
      }
    },
    "Empty": {
      "properties": {},
      "id": "Empty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } "
    },
    "Instance": {
      "type": "object",
      "id": "Instance",
      "description": "An Instance resource is the computing unit that App Engine uses to automatically scale an application.",
      "properties": {
        "averageLatency": {
          "description": "Output only. Average latency (ms) over the last minute.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "vmLiveness": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "There is no liveness health check for the instance. Only applicable for instances in App Engine standard environment.",
            "The health checking system is aware of the instance but its health is not known at the moment.",
            "The instance is reachable i.e. a connection to the application health checking endpoint can be established, and conforms to the requirements defined by the health check.",
            "The instance is reachable, but does not conform to the requirements defined by the health check.",
            "The instance is being drained. The existing connections to the instance have time to complete, but the new ones are being refused.",
            "The instance is unreachable i.e. a connection to the application health checking endpoint cannot be established, or the server does not respond within the specified timeout."
          ],
[...]
