{
  "basePath": "",
  "documentationLink": "https://cloud.google.com/appengine/docs/admin-api/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/appengine.admin": {
          "description": "View and manage your applications deployed on Google App Engine"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "title": "App Engine Admin API",
  "mtlsRootUrl": "https://appengine.mtls.googleapis.com/",
  "servicePath": "",
  "parameters": {
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response."
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true",
      "type": "boolean"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    }
  },
  "batchPath": "batch",
  "ownerName": "Google",
  "ownerDomain": "google.com",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "name": "appengine",
  "baseUrl": "https://appengine.googleapis.com/",
  "description": "Provisions and manages developers' App Engine applications.",
  "id": "appengine:v1alpha",
  "resources": {
    "apps": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "description": "Lists information about the supported locations for this service.This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: Global locations: If name is empty, the method lists the public locations available to all projects. Project-specific locations: If name follows the format projects/{project}, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project.For gRPC and client library implementations, the resource name is passed as the name field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "path": "v1alpha/apps/{appsId}/locations",
              "id": "appengine.apps.locations.list",
              "httpMethod": "GET",
              "flatPath": "v1alpha/apps/{appsId}/locations",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "location": "query",
                  "description": "The maximum number of results to return. If not set, the service selects a default."
                },
                "pageToken": {
                  "location": "query",
                  "description": "A page token received from the next_page_token field in the response. Send that page token to receive the subsequent page.",
                  "type": "string"
                },
                "appsId": {
                  "description": "Part of `name`. The resource that owns the locations collection, if applicable.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "extraLocationTypes": {
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "repeated": true,
                  "location": "query",
                  "type": "string"
                },
                "filter": {
                  "location": "query",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like \"displayName=tokyo\", and is documented in more detail in AIP-160 (https://google.aip.dev/160).",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "parameterOrder": [
                "appsId"
              ]
            },
            "get": {
              "flatPath": "v1alpha/apps/{appsId}/locations/{locationsId}",
              "response": {
                "$ref": "Location"
              },
              "path": "v1alpha/apps/{appsId}/locations/{locationsId}",
              "parameters": {
                "appsId": {
                  "type": "string",
                  "description": "Part of `name`. Resource name for the location.",
                  "location": "path",
                  "required": true
                },
                "locationsId": {
                  "type": "string",
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "appsId",
                "locationsId"
              ],
              "description": "Gets information about a location.",
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "httpMethod": "GET",
              "id": "appengine.apps.locations.get"
            }
          }
        },
        "operations": {
          "methods": {
            "get": {
              "flatPath": "v1alpha/apps/{appsId}/operations/{operationsId}",
              "response": {
                "$ref": "Operation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "parameterOrder": [
                "appsId",
                "operationsId"
              ],
              "parameters": {
                "operationsId": {
                  "location": "path",
                  "required": true,
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "type": "string"
                },
                "appsId": {
                  "description": "Part of `name`. The name of the operation resource.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1alpha/apps/{appsId}/operations/{operationsId}",
              "id": "appengine.apps.operations.get",
              "httpMethod": "GET"
            },
            "list": {
              "flatPath": "v1alpha/apps/{appsId}/operations",
              "response": {
                "$ref": "ListOperationsResponse"
              },
              "httpMethod": "GET",
              "id": "appengine.apps.operations.list",
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns UNIMPLEMENTED.",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "The standard list page size.",
                  "type": "integer"
                },
                "filter": {
                  "description": "The standard list filter.",
                  "type": "string",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "description": "The standard list page token.",
                  "type": "string"
                },
                "returnPartialSuccess": {
                  "description": "When set to true, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field.This can only be true when reading across collections. For example, when parent is set to \"projects/example/locations/-\".This field is not supported by default and will result in an UNIMPLEMENTED error if set unless explicitly documented otherwise in service or product specific documentation.",
                  "type": "boolean",
                  "location": "query"
                },
                "appsId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Part of `name`. The name of the operation's parent resource."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "parameterOrder": [
                "appsId"
              ],
              "path": "v1alpha/apps/{appsId}/operations"
            }
          }
        },
        "domainMappings": {
          "methods": {
            "create": {
              "httpMethod": "POST",
              "description": "Maps a domain to an application. A user must be authorized to administer a domain in order to map it to an application. For a list of available authorized domains, see AuthorizedDomains.ListAuthorizedDomains.",
              "parameterOrder": [
                "appsId"
              ],
              "id": "appengine.apps.domainMappings.create",
              "request": {
                "$ref": "DomainMapping"
              },
              "flatPath": "v1alpha/apps/{appsId}/domainMappings",
              "response": {
                "$ref": "Operation"
              },
              "parameters": {
                "noManagedCertificate": {
                  "description": "Whether a managed certificate should be provided by App Engine. If true, a certificate ID must be manaually set in the DomainMapping resource to configure SSL for this domain. If false, a managed certificate will be provisioned and a certificate ID will be automatically populated.",
                  "type": "boolean",
                  "location": "query"
                },
                "appsId": {
                  "description": "Part of `parent`. Required. Name of the parent Application resource. Example: apps/myapp.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "overrideStrategy": {
                  "location": "query",
                  "enum": [
                    "UNSPECIFIED_DOMAIN_OVERRIDE_STRATEGY",
                    "STRICT",
                    "OVERRIDE"
                  ],
                  "enumDescriptions": [
                    "Strategy unspecified. Defaults to STRICT.",
                    "Overrides not allowed. If a mapping already exists for the specified domain, the request will return an ALREADY_EXISTS (409).",
                    "Overrides allowed. If a mapping already exists for the specified domain, the request will overwrite it. Note that this might stop another Google product from serving. For example, if the domain is mapped to another App Engine application, that app will no longer serve from that domain."
                  ],
                  "type": "string",
                  "description": "Whether the domain creation should override any existing mappings for this domain. By default, overrides are rejected."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1alpha/apps/{appsId}/domainMappings"
            },
            "patch": {
              "httpMethod": "PATCH",
              "request": {
                "$ref": "DomainMapping"
              },
              "flatPath": "v1alpha/apps/{appsId}/domainMappings/{domainMappingsId}",
              "response": {
                "$ref": "Operation"
              },
              "parameterOrder": [
                "appsId",
                "domainMappingsId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Updates the specified domain mapping. To map an SSL certificate to a domain mapping, update certificate_id to point to an AuthorizedCertificate resource. A user must be authorized to administer the associated domain in order to update a DomainMapping resource.",
              "id": "appengine.apps.domainMappings.patch",
              "path": "v1alpha/apps/{appsId}/domainMappings/{domainMappingsId}",
              "parameters": {
                "noManagedCertificate": {
                  "description": "Whether a managed certificate should be provided by App Engine. If true, a certificate ID must be manually set in the DomainMapping resource to configure SSL for this domain. If false, a managed certificate will be provisioned and a certificate ID will be automatically populated. Only applicable if ssl_settings.certificate_id is specified in the update mask.",
                  "location": "query",
                  "type": "boolean"
                },
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "description": "Required. Standard field mask for the set of fields to be updated.",
                  "format": "google-fieldmask"
                },
                "domainMappingsId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Part of `name`. See documentation of `appsId`."
                },
                "appsId": {
                  "description": "Part of `name`. Required. Name of the resource to update. Example: apps/myapp/domainMappings/example.com.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              }
            },
            "delete": {
              "parameterOrder": [
                "appsId",
                "domainMappingsId"
              ],
              "parameters": {
                "appsId": {
                  "location": "path",
                  "required": true,
                  "description": "Part of `name`. Required. Name of the resource to delete. Example: apps/myapp/domainMappings/example.com.",
                  "type": "string"
                },
                "domainMappingsId": {
                  "type": "string",
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "location": "path",
                  "required": true
                }
              },
              "description": "Deletes the specified domain mapping. A user must be authorized to administer the associated domain in order to delete a DomainMapping resource.",
              "flatPath": "v1alpha/apps/{appsId}/domainMappings/{domainMappingsId}",
              "response": {
                "$ref": "Operation"
              },
              "id": "appengine.apps.domainMappings.delete",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "DELETE",
              "path": "v1alpha/apps/{appsId}/domainMappings/{domainMappingsId}"
            },
            "list": {
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "Maximum results to return per page."
                },
                "appsId": {
                  "description": "Part of `parent`. Required. Name of the parent Application resource. Example: apps/myapp.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "pageToken": {
                  "description": "Continuation token for fetching the next page of results.",
                  "type": "string",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "id": "appengine.apps.domainMappings.list",
              "description": "Lists the domain mappings on an application.",
              "parameterOrder": [
                "appsId"
              ],
              "path": "v1alpha/apps/{appsId}/domainMappings",
              "httpMethod": "GET",
              "flatPath": "v1alpha/apps/{appsId}/domainMappings",
              "response": {
                "$ref": "ListDomainMappingsResponse"
              }
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "path": "v1alpha/apps/{appsId}/domainMappings/{domainMappingsId}",
              "parameterOrder": [
                "appsId",
                "domainMappingsId"
              ],
              "httpMethod": "GET",
              "parameters": {
                "domainMappingsId": {
                  "type": "string",
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "location": "path",
                  "required": true
                },
                "appsId": {
                  "description": "Part of `name`. Required. Name of the resource requested. Example: apps/myapp/domainMappings/example.com.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "id": "appengine.apps.domainMappings.get",
              "flatPath": "v1alpha/apps/{appsId}/domainMappings/{domainMappingsId}",
              "response": {
                "$ref": "DomainMapping"
              },
              "description": "Gets the specified domain mapping."
            }
          }
        },
        "authorizedCertificates": {
          "methods": {
            "patch": {
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1alpha/apps/{appsId}/authorizedCertificates/{authorizedCertificatesId}",
              "response": {
                "$ref": "AuthorizedCertificate"
              },
              "parameters": {
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "description": "Standard field mask for the set of fields to be updated. Updates are only supported on the certificate_raw_data and display_name fields.",
                  "format": "google-fieldmask"
                },
                "authorizedCertificatesId": {
                  "location": "path",
                  "required": true,
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "type": "string"
                },
                "appsId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Part of `name`. Required. Name of the resource to update. Example: apps/myapp/authorizedCertificates/12345."
                }
              },
              "request": {
                "$ref": "AuthorizedCertificate"
              },
              "id": "appengine.apps.authorizedCertificates.patch",
              "parameterOrder": [
                "appsId",
                "authorizedCertificatesId"
              ],
              "description": "Updates the specified SSL certificate. To renew a certificate and maintain its existing domain mappings, update certificate_data with a new certificate. The new certificate must be applicable to the same domains as the original certificate. The certificate display_name may also be updated.",
              "path": "v1alpha/apps/{appsId}/authorizedCertificates/{authorizedCertificatesId}"
            },
            "list": {
              "parameters": {
                "appsId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Part of `parent`. Required. Name of the parent Application resource. Example: apps/myapp."
                },
                "view": {
                  "enumDescriptions": [
                    "Basic certificate information, including applicable domains and expiration date.",
                    "The information from BASIC_CERTIFICATE, plus detailed information on the domain mappings that have this certificate mapped."
                  ],
                  "location": "query",
                  "description": "Controls the set of fields returned in the LIST response.",
                  "type": "string",
                  "enum": [
                    "BASIC_CERTIFICATE",
                    "FULL_CERTIFICATE"
                  ]
                },
                "pageSize": {
                  "format": "int32",
                  "description": "Maximum results to return per page.",
                  "type": "integer",
                  "location": "query"
                },
                "pageToken": {
                  "description": "Continuation token for fetching the next page of results.",
                  "location": "query",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "flatPath": "v1alpha/apps/{appsId}/authorizedCertificates",
              "response": {
                "$ref": "ListAuthorizedCertificatesResponse"
              },
              "path": "v1alpha/apps/{appsId}/authorizedCertificates",
              "parameterOrder": [
                "appsId"
              ],
              "id": "appengine.apps.authorizedCertificates.list",
              "httpMethod": "GET",
              "description": "Lists all SSL certificates the user is authorized to administer."
            },
            "get": {
              "parameters": {
                "view": {
                  "location": "query",
                  "description": "Controls the set of fields returned in the GET response.",
                  "enum": [
                    "BASIC_CERTIFICATE",
                    "FULL_CERTIFICATE"
                  ],
                  "type": "string",
                  "enumDescriptions": [
                    "Basic certificate information, including applicable domains and expiration date.",
                    "The information from BASIC_CERTIFICATE, plus detailed information on the domain mappings that have this certificate mapped."
                  ]
                },
                "authorizedCertificatesId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Part of `name`. See documentation of `appsId`."
                },
                "appsId": {
                  "type": "string",
                  "description": "Part of `name`. Required. Name of the resource requested. Example: apps/myapp/authorizedCertificates/12345.",
                  "location": "path",
                  "required": true
                }
              },
              "flatPath": "v1alpha/apps/{appsId}/authorizedCertificates/{authorizedCertificatesId}",
              "response": {
                "$ref": "AuthorizedCertificate"
              },
              "path": "v1alpha/apps/{appsId}/authorizedCertificates/{authorizedCertificatesId}",
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "parameterOrder": [
                "appsId",
                "authorizedCertificatesId"
              ],
              "description": "Gets the specified SSL certificate.",
              "id": "appengine.apps.authorizedCertificates.get",
              "httpMethod": "GET"
            },
            "create": {
              "description": "Uploads the specified SSL certificate.",
              "flatPath": "v1alpha/apps/{appsId}/authorizedCertificates",
              "response": {
                "$ref": "AuthorizedCertificate"
              },
              "parameters": {
                "appsId": {
                  "description": "Part of `parent`. Required. Name of the parent Application resource. Example: apps/myapp.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "id": "appengine.apps.authorizedCertificates.create",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "AuthorizedCertificate"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "appsId"
              ],
              "path": "v1alpha/apps/{appsId}/authorizedCertificates"
            },
            "delete": {
              "description": "Deletes the specified SSL certificate.",
              "id": "appengine.apps.authorizedCertificates.delete",
              "parameterOrder": [
                "appsId",
                "authorizedCertificatesId"
              ],
              "httpMethod": "DELETE",
              "flatPath": "v1alpha/apps/{appsId}/authorizedCertificates/{authorizedCertificatesId}",
              "response": {
                "$ref": "Empty"
              },
              "path": "v1alpha/apps/{appsId}/authorizedCertificates/{authorizedCertificatesId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "authorizedCertificatesId": {
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "appsId": {
                  "description": "Part of `name`. Required. Name of the resource to delete. Example: apps/myapp/authorizedCertificates/12345.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              }
            }
          }
        },
        "authorizedDomains": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "parameterOrder": [
                "appsId"
              ],
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "Maximum results to return per page."
                },
                "appsId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Part of `parent`. Required. Name of the parent Application resource. Example: apps/myapp."
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Continuation token for fetching the next page of results."
                }
              },
              "path": "v1alpha/apps/{appsId}/authorizedDomains",
              "description": "Lists all domains the user is authorized to administer.",
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "flatPath": "v1alpha/apps/{appsId}/authorizedDomains",
              "response": {
                "$ref": "ListAuthorizedDomainsResponse"
              },
              "id": "appengine.apps.authorizedDomains.list"
            }
          }
        }
      }
    },
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "applications": {
              "resources": {
                "domainMappings": {
                  "methods": {
                    "get": {
                      "description": "Gets the specified domain mapping.",
                      "parameters": {
                        "applicationsId": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Part of `name`. See documentation of `projectsId`."
                        },
                        "domainMappingsId": {
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "projectsId": {
                          "description": "Part of `name`. Required. Name of the resource requested. Example: apps/myapp/domainMappings/example.com.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "locationsId": {
                          "location": "path",
                          "required": true,
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "projectsId",
                        "locationsId",
                        "applicationsId",
                        "domainMappingsId"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/appengine.admin",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "httpMethod": "GET",
                      "path": "v1alpha/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/domainMappings/{domainMappingsId}",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/domainMappings/{domainMappingsId}",
                      "response": {
                        "$ref": "DomainMapping"
                      },
                      "id": "appengine.projects.locations.applications.domainMappings.get"
                    },
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/appengine.admin",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "parameters": {
                        "applicationsId": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Part of `parent`. See documentation of `projectsId`."
                        },
                        "locationsId": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Part of `parent`. See documentation of `projectsId`."
                        },
                        "pageSize": {
                          "type": "integer",
                          "location": "query",
                          "description": "Maximum results to return per page.",
                          "format": "int32"
                        },
                        "pageToken": {
                          "description": "Continuation token for fetching the next page of results.",
                          "location": "query",
                          "type": "string"
                        },
                        "projectsId": {
                          "type": "string",
                          "description": "Part of `parent`. Required. Name of the parent Application resource. Example: apps/myapp.",
                          "location": "path",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "projectsId",
                        "locationsId",
                        "applicationsId"
                      ],
                      "id": "appengine.projects.locations.applications.domainMappings.list",
                      "description": "Lists the domain mappings on an application.",
                      "path": "v1alpha/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/domainMappings",
                      "httpMethod": "GET",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/domainMappings",
                      "response": {
                        "$ref": "ListDomainMappingsResponse"
                      }
                    },
                    "delete": {
                      "httpMethod": "DELETE",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/domainMappings/{domainMappingsId}",
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameterOrder": [
                        "projectsId",
                        "locationsId",
                        "applicationsId",
                        "domainMappingsId"
                      ],
                      "path": "v1alpha/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/domainMappings/{domainMappingsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "appengine.projects.locations.applications.domainMappings.delete",
                      "parameters": {
                        "projectsId": {
                          "location": "path",
                          "required": true,
                          "description": "Part of `name`. Required. Name of the resource to delete. Example: apps/myapp/domainMappings/example.com.",
                          "type": "string"
                        },
                        "locationsId": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Part of `name`. See documentation of `projectsId`."
                        },
                        "domainMappingsId": {
                          "type": "string",
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "location": "path",
                          "required": true
                        },
                        "applicationsId": {
                          "location": "path",
                          "required": true,
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "type": "string"
                        }
                      },
                      "description": "Deletes the specified domain mapping. A user must be authorized to administer the associated domain in order to delete a DomainMapping resource."
                    },
                    "create": {
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "projectsId",
                        "locationsId",
                        "applicationsId"
                      ],
                      "path": "v1alpha/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/domainMappings",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/domainMappings",
                      "response": {
                        "$ref": "Operation"
                      },
                      "id": "appengine.projects.locations.applications.domainMappings.create",
                      "description": "Maps a domain to an application. A user must be authorized to administer a domain in order to map it to an application. For a list of available authorized domains, see AuthorizedDomains.ListAuthorizedDomains.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "DomainMapping"
                      },
                      "parameters": {
                        "locationsId": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Part of `parent`. See documentation of `projectsId`."
                        },
                        "noManagedCertificate": {
                          "description": "Whether a managed certificate should be provided by App Engine. If true, a certificate ID must be manaually set in the DomainMapping resource to configure SSL for this domain. If false, a managed certificate will be provisioned and a certificate ID will be automatically populated.",
                          "type": "boolean",
                          "location": "query"
                        },
                        "applicationsId": {
                          "description": "Part of `parent`. See documentation of `projectsId`.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "overrideStrategy": {
                          "enum": [
                            "UNSPECIFIED_DOMAIN_OVERRIDE_STRATEGY",
                            "STRICT",
                            "OVERRIDE"
                          ],
                          "location": "query",
                          "type": "string",
                          "description": "Whether the domain creation should override any existing mappings for this domain. By default, overrides are rejected.",
                          "enumDescriptions": [
                            "Strategy unspecified. Defaults to STRICT.",
                            "Overrides not allowed. If a mapping already exists for the specified domain, the request will return an ALREADY_EXISTS (409).",
                            "Overrides allowed. If a mapping already exists for the specified domain, the request will overwrite it. Note that this might stop another Google product from serving. For example, if the domain is mapped to another App Engine application, that app will no longer serve from that domain."
                          ]
                        },
                        "projectsId": {
                          "description": "Part of `parent`. Required. Name of the parent Application resource. Example: apps/myapp.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      }
                    },
                    "patch": {
                      "parameterOrder": [
                        "projectsId",
                        "locationsId",
                        "applicationsId",
                        "domainMappingsId"
                      ],
                      "request": {
                        "$ref": "DomainMapping"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "appengine.projects.locations.applications.domainMappings.patch",
                      "httpMethod": "PATCH",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/domainMappings/{domainMappingsId}",
                      "response": {
                        "$ref": "Operation"
                      },
                      "description": "Updates the specified domain mapping. To map an SSL certificate to a domain mapping, update certificate_id to point to an AuthorizedCertificate resource. A user must be authorized to administer the associated domain in order to update a DomainMapping resource.",
                      "path": "v1alpha/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/domainMappings/{domainMappingsId}",
                      "parameters": {
                        "applicationsId": {
                          "location": "path",
                          "required": true,
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "type": "string"
                        },
                        "projectsId": {
                          "description": "Part of `name`. Required. Name of the resource to update. Example: apps/myapp/domainMappings/example.com.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "noManagedCertificate": {
                          "description": "Whether a managed certificate should be provided by App Engine. If true, a certificate ID must be manually set in the DomainMapping resource to configure SSL for this domain. If false, a managed certificate will be provisioned and a certificate ID will be automatically populated. Only applicable if ssl_settings.certificate_id is specified in the update mask.",
                          "type": "boolean",
                          "location": "query"
                        },
                        "domainMappingsId": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Part of `name`. See documentation of `projectsId`."
                        },
                        "updateMask": {
                          "description": "Required. Standard field mask for the set of fields to be updated.",
                          "format": "google-fieldmask",
                          "type": "string",
                          "location": "query"
                        },
                        "locationsId": {
                          "type": "string",
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "location": "path",
                          "required": true
                        }
                      }
                    }
                  }
                },
                "authorizedCertificates": {
                  "methods": {
                    "create": {
                      "request": {
                        "$ref": "AuthorizedCertificate"
                      },
                      "path": "v1alpha/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/authorizedCertificates",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Uploads the specified SSL certificate.",
                      "httpMethod": "POST",
                      "id": "appengine.projects.locations.applications.authorizedCertificates.create",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/authorizedCertificates",
                      "response": {
                        "$ref": "AuthorizedCertificate"
                      },
                      "parameterOrder": [
                        "projectsId",
                        "locationsId",
                        "applicationsId"
                      ],
                      "parameters": {
                        "projectsId": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Part of `parent`. Required. Name of the parent Application resource. Example: apps/myapp."
                        },
                        "locationsId": {
                          "location": "path",
                          "required": true,
                          "description": "Part of `parent`. See documentation of `projectsId`.",
                          "type": "string"
                        },
                        "applicationsId": {
                          "description": "Part of `parent`. See documentation of `projectsId`.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      }
                    },
                    "delete": {
                      "httpMethod": "DELETE",
                      "parameterOrder": [
                        "projectsId",
                        "locationsId",
                        "applicationsId",
                        "authorizedCertificatesId"
                      ],
                      "description": "Deletes the specified SSL certificate.",
                      "parameters": {
                        "applicationsId": {
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "projectsId": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Part of `name`. Required. Name of the resource to delete. Example: apps/myapp/authorizedCertificates/12345."
                        },
                        "authorizedCertificatesId": {
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "locationsId": {
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "path": "v1alpha/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/authorizedCertificates/{authorizedCertificatesId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "appengine.projects.locations.applications.authorizedCertificates.delete",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/authorizedCertificates/{authorizedCertificatesId}",
                      "response": {
                        "$ref": "Empty"
                      }
                    },
                    "get": {
                      "path": "v1alpha/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/authorizedCertificates/{authorizedCertificatesId}",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/authorizedCertificates/{authorizedCertificatesId}",
                      "response": {
                        "$ref": "AuthorizedCertificate"
                      },
                      "id": "appengine.projects.locations.applications.authorizedCertificates.get",
                      "scopes": [
                        "https://www.googleapis.com/auth/appengine.admin",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "parameters": {
                        "projectsId": {
                          "type": "string",
                          "description": "Part of `name`. Required. Name of the resource requested. Example: apps/myapp/authorizedCertificates/12345.",
                          "location": "path",
                          "required": true
                        },
                        "locationsId": {
                          "location": "path",
                          "required": true,
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "type": "string"
                        },
                        "authorizedCertificatesId": {
                          "location": "path",
                          "required": true,
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "type": "string"
                        },
                        "applicationsId": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Part of `name`. See documentation of `projectsId`."
                        },
                        "view": {
                          "type": "string",
                          "enum": [
                            "BASIC_CERTIFICATE",
                            "FULL_CERTIFICATE"
                          ],
                          "enumDescriptions": [
                            "Basic certificate information, including applicable domains and expiration date.",
                            "The information from BASIC_CERTIFICATE, plus detailed information on the domain mappings that have this certificate mapped."
                          ],
                          "location": "query",
                          "description": "Controls the set of fields returned in the GET response."
                        }
                      },
                      "description": "Gets the specified SSL certificate.",
                      "parameterOrder": [
                        "projectsId",
                        "locationsId",
                        "applicationsId",
                        "authorizedCertificatesId"
                      ],
                      "httpMethod": "GET"
                    },
                    "list": {
                      "parameterOrder": [
                        "projectsId",
                        "locationsId",
                        "applicationsId"
                      ],
                      "path": "v1alpha/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/authorizedCertificates",
                      "parameters": {
                        "projectsId": {
                          "location": "path",
                          "required": true,
                          "description": "Part of `parent`. Required. Name of the parent Application resource. Example: apps/myapp.",
                          "type": "string"
                        },
                        "pageSize": {
                          "format": "int32",
                          "description": "Maximum results to return per page.",
                          "location": "query",
                          "type": "integer"
                        },
                        "view": {
                          "description": "Controls the set of fields returned in the LIST response.",
                          "type": "string",
                          "enum": [
                            "BASIC_CERTIFICATE",
                            "FULL_CERTIFICATE"
                          ],
                          "enumDescriptions": [
                            "Basic certificate information, including applicable domains and expiration date.",
                            "The information from BASIC_CERTIFICATE, plus detailed information on the domain mappings that have this certificate mapped."
                          ],
                          "location": "query"
                        },
                        "locationsId": {
                          "description": "Part of `parent`. See documentation of `projectsId`.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "Continuation token for fetching the next page of results.",
                          "type": "string"
                        },
                        "applicationsId": {
                          "location": "path",
                          "required": true,
                          "description": "Part of `parent`. See documentation of `projectsId`.",
                          "type": "string"
                        }
                      },
                      "description": "Lists all SSL certificates the user is authorized to administer.",
                      "id": "appengine.projects.locations.applications.authorizedCertificates.list",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/authorizedCertificates",
                      "response": {
                        "$ref": "ListAuthorizedCertificatesResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/appengine.admin",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "httpMethod": "GET"
                    },
                    "patch": {
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/authorizedCertificates/{authorizedCertificatesId}",
                      "response": {
                        "$ref": "AuthorizedCertificate"
                      },
                      "request": {
                        "$ref": "AuthorizedCertificate"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1alpha/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/authorizedCertificates/{authorizedCertificatesId}",
                      "parameterOrder": [
                        "projectsId",
                        "locationsId",
                        "applicationsId",
                        "authorizedCertificatesId"
                      ],
                      "httpMethod": "PATCH",
                      "id": "appengine.projects.locations.applications.authorizedCertificates.patch",
                      "parameters": {
                        "authorizedCertificatesId": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Part of `name`. See documentation of `projectsId`."
                        },
                        "updateMask": {
                          "type": "string",
                          "format": "google-fieldmask",
                          "location": "query",
                          "description": "Standard field mask for the set of fields to be updated. Updates are only supported on the certificate_raw_data and display_name fields."
                        },
                        "projectsId": {
                          "description": "Part of `name`. Required. Name of the resource to update. Example: apps/myapp/authorizedCertificates/12345.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "applicationsId": {
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "locationsId": {
                          "location": "path",
                          "required": true,
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "type": "string"
                        }
                      },
                      "description": "Updates the specified SSL certificate. To renew a certificate and maintain its existing domain mappings, update certificate_data with a new certificate. The new certificate must be applicable to the same domains as the original certificate. The certificate display_name may also be updated."
                    }
                  }
                },
                "authorizedDomains": {
                  "methods": {
                    "list": {
                      "description": "Lists all domains the user is authorized to administer.",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/appengine.admin",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "parameterOrder": [
                        "projectsId",
                        "locationsId",
                        "applicationsId"
                      ],
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/authorizedDomains",
                      "response": {
                        "$ref": "ListAuthorizedDomainsResponse"
                      },
                      "path": "v1alpha/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/authorizedDomains",
                      "id": "appengine.projects.locations.applications.authorizedDomains.list",
                      "parameters": {
                        "applicationsId": {
                          "location": "path",
                          "required": true,
                          "description": "Part of `parent`. See documentation of `projectsId`.",
                          "type": "string"
                        },
                        "projectsId": {
                          "location": "path",
                          "required": true,
                          "description": "Part of `parent`. Required. Name of the parent Application resource. Example: apps/myapp.",
                          "type": "string"
                        },
                        "pageSize": {
                          "format": "int32",
                          "location": "query",
                          "type": "integer",
                          "description": "Maximum results to return per page."
                        },
                        "pageToken": {
                          "description": "Continuation token for fetching the next page of results.",
                          "type": "string",
                          "location": "query"
                        },
                        "locationsId": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Part of `parent`. See documentation of `projectsId`."
                        }
                      }
                    }
                  }
                }
              }
            },
            "operations": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "projectsId",
                    "locationsId"
                  ],
                  "path": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns UNIMPLEMENTED.",
                  "id": "appengine.projects.locations.operations.list",
                  "parameters": {
                    "filter": {
                      "description": "The standard list filter.",
                      "location": "query",
                      "type": "string"
                    },
                    "locationsId": {
                      "description": "Part of `name`. See documentation of `projectsId`.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "returnPartialSuccess": {
                      "type": "boolean",
                      "location": "query",
                      "description": "When set to true, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field.This can only be true when reading across collections. For example, when parent is set to \"projects/example/locations/-\".This field is not supported by default and will result in an UNIMPLEMENTED error if set unless explicitly documented otherwise in service or product specific documentation."
                    },
                    "projectsId": {
                      "description": "Part of `name`. The name of the operation's parent resource.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "The standard list page size.",
                      "type": "integer"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The standard list page token."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/appengine.admin",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ]
                },
                "get": {
                  "path": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameterOrder": [
                    "projectsId",
                    "locationsId",
                    "operationsId"
                  ],
                  "parameters": {
                    "projectsId": {
                      "type": "string",
                      "description": "Part of `name`. The name of the operation resource.",
                      "location": "path",
                      "required": true
                    },
                    "operationsId": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Part of `name`. See documentation of `projectsId`."
                    },
                    "locationsId": {
                      "description": "Part of `name`. See documentation of `projectsId`.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/appengine.admin",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "id": "appengine.projects.locations.operations.get",
                  "httpMethod": "GET",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
                }
              }
            }
          },
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "parameters": {
                "extraLocationTypes": {
                  "location": "query",
                  "repeated": true,
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "type": "string"
                },
                "projectsId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Part of `name`. The resource that owns the locations collection, if applicable."
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A page token received from the next_page_token field in the response. Send that page token to receive the subsequent page."
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like \"displayName=tokyo\", and is documented in more detail in AIP-160 (https://google.aip.dev/160)."
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "format": "int32"
                }
              },
              "flatPath": "v1alpha/projects/{projectsId}/locations",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "id": "appengine.projects.locations.list",
              "parameterOrder": [
                "projectsId"
              ],
              "path": "v1alpha/projects/{projectsId}/locations",
              "description": "Lists information about the supported locations for this service.This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: Global locations: If name is empty, the method lists the public locations available to all projects. Project-specific locations: If name follows the format projects/{project}, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project.For gRPC and client library implementations, the resource name is passed as the name field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "httpMethod": "GET"
            },
            "get": {
              "path": "v1alpha/projects/{projectsId}/locations/{locationsId}",
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}",
              "response": {
                "$ref": "Location"
              },
              "parameterOrder": [
                "projectsId",
                "locationsId"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "description": "Gets information about a location.",
              "parameters": {
                "locationsId": {
                  "location": "path",
                  "required": true,
                  "description": "Part of `name`. See documentation of `projectsId`.",
                  "type": "string"
                },
                "projectsId": {
                  "location": "path",
                  "required": true,
                  "description": "Part of `name`. Resource name for the location.",
                  "type": "string"
                }
              },
              "id": "appengine.projects.locations.get"
            }
          }
        }
      }
    }
  },
  "protocol": "rest",
  "version": "v1alpha",
  "revision": "20260914",
  "rootUrl": "https://appengine.googleapis.com/",
  "kind": "discovery#restDescription",
  "schemas": {
    "SslSettings": {
      "description": "SSL configuration for a DomainMapping resource.",
      "properties": {
        "certificateId": {
          "description": "ID of the AuthorizedCertificate resource configuring SSL for the application. Clearing this field will remove SSL support.By default, a managed certificate is automatically created for every domain mapping. To omit SSL support or to configure SSL manually, specify no_managed_certificate on a CREATE or UPDATE request. You must be authorized to administer the AuthorizedCertificate resource to manually map it to a DomainMapping resource. Example: 12345.",
          "type": "string"
        },
        "isManagedCertificate": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether the mapped certificate is an App Engine managed certificate. Managed certificates are created by default with a domain mapping. To opt out, specify no_managed_certificate on a CREATE or UPDATE request.@OutputOnly"
        }
      },
      "type": "object",
      "id": "SslSettings"
    },
    "Empty": {
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } ",
      "id": "Empty",
      "properties": {}
    },
    "DomainMapping": {
      "id": "DomainMapping",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. Full path to the DomainMapping resource in the API. Example: apps/myapp/domainMapping/example.com.@OutputOnly",
          "readOnly": true,
          "type": "string"
        },
        "resourceRecords": {
          "description": "Output only. The resource records required to configure this domain mapping. These records must be added to the domain's DNS configuration in order to serve the application via this domain mapping.@OutputOnly",
          "items": {
            "$ref": "ResourceRecord"
          },
          "readOnly": true,
          "type": "array"
        },
        "id": {
          "description": "Relative name of the domain serving the application. Example: example.com.",
          "type": "string"
        },
        "sslSettings": {
          "description": "SSL configuration for this domain. If unconfigured, this domain will not serve with SSL.",
          "$ref": "SslSettings"
        }
      },
      "description": "A domain serving an App Engine application."
    },
    "ListAuthorizedCertificatesResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        },
        "certificates": {
          "description": "The SSL certificates the user is authorized to administer.",
          "type": "array",
          "items": {
            "$ref": "AuthorizedCertificate"
          }
        }
      },
      "description": "Response message for AuthorizedCertificates.ListAuthorizedCertificates.",
      "type": "object",
      "id": "ListAuthorizedCertificatesResponse"
    },
    "ManagedCertificate": {
      "properties": {
        "status": {
          "enumDescriptions": [
            "",
            "Certificate was successfully obtained and inserted into the serving system.",
            "Certificate is under active attempts to acquire or renew.",
            "Most recent renewal failed due to a system failure and will be retried. System failure is likely transient, and subsequent renewal attempts may succeed. The last successfully provisioned certificate may still be serving.",
            "Most recent renewal failed due to an invalid DNS setup and will be retried. Renewal attempts will continue to fail until the certificate domain's DNS configuration is fixed. The last successfully provisioned certificate may still be serving.",
            "All renewal attempts have been exhausted. Most recent renewal failed due to an invalid DNS setup and will not be retried. The last successfully provisioned certificate may still be serving.",
            "Most recent renewal failed due to an explicit CAA record that does not include one of the in-use CAs (Google CA and Let's Encrypt). Renewals will continue to fail until the CAA is reconfigured. The last successfully provisioned certificate may still be serving.",
            "Most recent renewal failed due to a CAA retrieval failure. This means that the domain's DNS provider does not properly handle CAA records, failing requests for CAA records when no CAA records are defined. Renewals will continue to fail until the DNS provider is changed or a CAA record is added for the given domain. The last successfully provisioned certificate may still be serving."
          ],
          "enum": [
            "UNSPECIFIED_STATUS",
            "OK",
            "PENDING",
            "FAILED_RETRYING_INTERNAL",
            "FAILED_RETRYING_NOT_VISIBLE",
            "FAILED_PERMANENTLY_NOT_VISIBLE",
            "FAILED_RETRYING_CAA_FORBIDDEN",
            "FAILED_RETRYING_CAA_CHECKING"
          ],
          "type": "string",
          "description": "Status of certificate management. Refers to the most recent certificate acquisition or renewal attempt.@OutputOnly"
        },
        "lastRenewalTime": {
          "description": "Time at which the certificate was last renewed. The renewal process is fully managed. Certificate renewal will automatically occur before the certificate expires. Renewal errors can be tracked via ManagementStatus.@OutputOnly",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "ManagedCertificate",
      "description": "A certificate managed by App Engine.",
      "type": "object"
    },
    "CertificateRawData": {
      "description": "An SSL certificate obtained from a certificate authority.",
      "type": "object",
      "properties": {
        "publicCertificate": {
          "description": "PEM encoded x.509 public key certificate. This field is set once on certificate creation. Must include the header and footer. Example: -----BEGIN CERTIFICATE----- -----END CERTIFICATE----- ",
          "type": "string"
        },
        "privateKey": {
          "description": "Unencrypted PEM encoded RSA private key. This field is set once on certificate creation and then encrypted. The key size must be 2048 bits or fewer. Must include the header and footer. Example: -----BEGIN RSA PRIVATE KEY----- -----END RSA PRIVATE KEY----- @InputOnly",
          "type": "string"
        }
      },
      "id": "CertificateRawData"
    },
    "ListAuthorizedDomainsResponse": {
      "properties": {
        "domains": {
          "items": {
            "$ref": "AuthorizedDomain"
          },
          "type": "array",
          "description": "The authorized domains belonging to the user."
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        }
      },
      "id": "ListAuthorizedDomainsResponse",
      "description": "Response message for AuthorizedDomains.ListAuthorizedDomains.",
      "type": "object"
    },
    "GoogleAppengineV1betaLocationMetadata": {
      "properties": {
        "flexibleEnvironmentAvailable": {
          "description": "App Engine flexible environment is available in the given location.@OutputOnly",
          "type": "boolean"
        },
        "standardEnvironmentAvailable": {
          "type": "boolean",
          "description": "App Engine standard environment is available in the given location.@OutputOnly"
        },
        "searchApiAvailable": {
          "readOnly": true,
          "description": "Output only. Search API (https://cloud.google.com/appengine/docs/standard/python/search) is available in the given location.",
          "type": "boolean"
        }
      },
      "description": "Metadata for the given google.cloud.location.Location.",
      "id": "GoogleAppengineV1betaLocationMetadata",
      "type": "object"
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets ListOperationsRequest.return_partial_success and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ResourceEvent": {
      "id": "ResourceEvent",
      "properties": {
        "eventId": {
          "description": "The unique ID for this per-resource event. CLHs can use this value to dedup repeated calls. required",
          "type": "string"
        },
        "state": {
          "$ref": "ContainerState",
          "description": "The state of the project that led to this event."
        },
        "name": {
          "description": "The name of the resource for which this event is. required",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The request that is passed to CLH during per-resource events. The request will be sent with update semantics in all cases except for data governance purge events. These events will be sent with delete semantics and the CLH is expected to delete the resource receiving this event."
    },
    "GceTag": {
      "id": "GceTag",
      "type": "object",
      "description": "For use only by GCE. GceTag is a wrapper around the GCE administrative tag with parent info.",
      "properties": {
        "tag": {
          "type": "string",
          "description": "The administrative_tag name."
        },
        "parent": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The parents(s) of the tag. Eg. projects/123, folders/456 It usually contains only one parent. But, in some corner cases, it can contain multiple parents. Currently, organizations are not supported."
        }
      }
    },
    "AuthorizedDomain": {
      "id": "AuthorizedDomain",
      "properties": {
        "name": {
          "description": "Full path to the AuthorizedDomain resource in the API. Example: apps/myapp/authorizedDomains/example.com.@OutputOnly",
          "type": "string"
        },
        "id": {
          "description": "Fully qualified domain name of the domain authorized for use. Example: example.com.",
          "type": "string"
        }
      },
      "description": "A domain that a user has been authorized to administer. To authorize use of a domain, verify ownership via Search Console (https://search.google.com/search-console/welcome).",
      "type": "object"
    },
    "ListLocationsResponse": {
      "type": "object",
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "id": "ListLocationsResponse"
    },
    "Location": {
      "id": "Location",
      "properties": {
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: \"projects/example-project/locations/us-east1\""
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata. For example the available capacity at the given location."
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"} ",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: \"us-east1\".",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A resource that represents a Google Cloud location."
    },
    "OperationMetadataV1Alpha": {
      "description": "Metadata for the given google.longrunning.Operation.",
      "id": "OperationMetadataV1Alpha",
      "type": "object",
      "properties": {
        "method": {
          "description": "API method that initiated this operation. Example: google.appengine.v1alpha.Versions.CreateVersion.@OutputOnly",
          "type": "string"
        },
        "ephemeralMessage": {
          "type": "string",
          "description": "Ephemeral message that may change every time the operation is polled. @OutputOnly"
        },
        "insertTime": {
          "type": "string",
          "description": "Time that this operation was created.@OutputOnly",
          "format": "google-datetime"
        },
        "target": {
          "description": "Name of the resource that this operation is acting on. Example: apps/myapp/services/default.@OutputOnly",
          "type": "string"
        },
        "warning": {
          "type": "array",
          "description": "Durable messages that persist on every operation poll. @OutputOnly",
          "items": {
            "type": "string"
          }
        },
        "createVersionMetadata": {
          "$ref": "CreateVersionMetadataV1Alpha"
        },
        "user": {
          "type": "string",
          "description": "User who requested this operation.@OutputOnly"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Time that this operation completed.@OutputOnly",
          "type": "string"
        }
      }
    },
    "OperationMetadataV1Beta": {
      "properties": {
        "ephemeralMessage": {
          "description": "Ephemeral message that may change every time the operation is polled. @OutputOnly",
          "type": "string"
        },
        "target": {
          "description": "Name of the resource that this operation is acting on. Example: apps/myapp/services/default.@OutputOnly",
          "type": "string"
        },
        "method": {
          "description": "API method that initiated this operation. Example: google.appengine.v1beta.Versions.CreateVersion.@OutputOnly",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "description": "Time that this operation completed.@OutputOnly",
          "format": "google-datetime"
        },
        "user": {
          "type": "string",
          "description": "User who requested this operation.@OutputOnly"
        },
        "insertTime": {
          "type": "string",
          "description": "Time that this operation was created.@OutputOnly",
          "format": "google-datetime"
        },
        "warning": {
          "description": "Durable messages that persist on every operation poll. @OutputOnly",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "createVersionMetadata": {
          "$ref": "CreateVersionMetadataV1Beta"
        }
      },
      "type": "object",
      "description": "Metadata for the given google.longrunning.Operation.",
      "id": "OperationMetadataV1Beta"
    },
    "Operation": {
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the name should be a resource name ending with operations/{unique_id}.",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as Delete, the response is google.protobuf.Empty. If the original method is standard Get/Create/Update, the response should be the resource. For other methods, the response should have the type XxxResponse, where Xxx is the original method name. For example, if the original method name is TakeSnapshot(), the inferred response type is TakeSnapshotResponse."
        },
        "done": {
          "type": "boolean",
          "description": "If the value is false, it means the operation is still in progress. If true, the operation is completed, and either error or response is available."
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation",
      "type": "object"
    },
    "OperationMetadataV1": {
      "properties": {
        "target": {
          "description": "Name of the resource that this operation is acting on. Example: apps/myapp/services/default.@OutputOnly",
          "type": "string"
        },
        "insertTime": {
          "description": "Time that this operation was created.@OutputOnly",
          "format": "google-datetime",
          "type": "string"
        },
        "method": {
          "type": "string",
          "description": "API method that initiated this operation. Example: google.appengine.v1.Versions.CreateVersion.@OutputOnly"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Time that this operation completed.@OutputOnly",
          "type": "string"
        },
        "createVersionMetadata": {
          "$ref": "CreateVersionMetadataV1"
        },
        "ephemeralMessage": {
          "description": "Ephemeral message that may change every time the operation is polled. @OutputOnly",
          "type": "string"
        },
        "user": {
          "description": "User who requested this operation.@OutputOnly",
          "type": "string"
        },
        "warning": {
          "description": "Durable messages that persist on every operation poll. @OutputOnly",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Metadata for the given google.longrunning.Operation.",
      "id": "OperationMetadataV1",
      "type": "object"
    },
    "ProjectsMetadata": {
      "description": "ProjectsMetadata is the metadata CCFE stores about the all the relevant projects (tenant, consumer, producer).",
      "type": "object",
      "properties": {
        "producerProjectNumber": {
          "format": "int64",
          "description": "The producer project number.",
          "type": "string"
        },
        "consumerProjectNumber": {
          "description": "The consumer project number.",
          "type": "string",
          "format": "int64"
        },
        "p4ServiceAccount": {
          "type": "string",
          "description": "The service account authorized to operate on the consumer project. Note: CCFE only propagates P4SA with default tag to CLH."
        },
        "producerProjectId": {
          "type": "string",
          "description": "The producer project id."
        },
        "consumerProjectId": {
          "description": "The consumer project id.",
          "type": "string"
        },
        "tenantProjectNumber": {
          "format": "int64",
          "type": "string",
          "description": "The tenant project number."
        },
        "consumerProjectState": {
          "enum": [
            "UNKNOWN_STATE",
            "ON",
            "OFF",
            "DELETED"
          ],
          "description": "The CCFE state of the consumer project. It is the same state that is communicated to the CLH during project events. Notice that this field is not set in the DB, it is only set in this proto when communicated to CLH in the side channel.",
          "enumDescriptions": [
            "A container should never be in an unknown state. Receipt of a container with this state is an error.",
            "CCFE considers the container to be serving or transitioning into serving.",
            "CCFE considers the container to be in an OFF state. This could occur due to various factors. The state could be triggered by Google-internal audits (ex. abuse suspension, billing closed) or cleanups trigged by compliance systems (ex. data governance hide). User-initiated events such as service management deactivation trigger a container to an OFF state.CLHs might choose to do nothing in this case or to turn off costly resources. CLHs need to consider the customer experience if an ON/OFF/ON sequence of state transitions occurs vs. the cost of deleting resources, keeping metadata about resources, or even keeping resources live for a period of time.CCFE will not send any new customer requests to the CLH when the container is in an OFF state. However, CCFE will allow all previous customer requests relayed to CLH to complete.",
            "This state indicates that the container has been (or is being) completely removed. This is often due to a data governance purge request and therefore resources should be deleted when this state is reached."
          ],
          "type": "string"
        },
        "isGceProjectDeprovisioning": {
          "description": "DEPRECATED: Indicates whether the GCE project is in the DEPROVISIONING state. This field is a temporary workaround (see b/475310865) to allow GCE extensions to bypass certain checks during deprovisioning. It will be replaced by a permanent solution in the future.",
          "type": "boolean",
          "deprecated": true
        },
        "gceTag": {
          "type": "array",
          "items": {
            "$ref": "GceTag"
          },
          "description": "The GCE tags associated with the consumer project and those inherited due to their ancestry, if any. Not supported by CCFE."
        },
        "tenantProjectId": {
          "description": "The tenant project id.",
          "type": "string"
        }
      },
      "id": "ProjectsMetadata"
    },
    "ProjectEvent": {
      "type": "object",
      "description": "The request sent to CLHs during project events.",
      "id": "ProjectEvent",
      "properties": {
        "eventId": {
          "description": "The unique ID for this project event. CLHs can use this value to dedup repeated calls. required",
          "type": "string"
        },
        "phase": {
          "description": "Phase indicates when in the container event propagation this event is being communicated. Events are sent before and after the per-resource events are propagated. required",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "CONTAINER_EVENT_PHASE_UNSPECIFIED",
            "BEFORE_RESOURCE_HANDLING",
            "AFTER_RESOURCE_HANDLING"
          ],
          "type": "string"
        },
        "state": {
          "description": "The state of the organization that led to this event.",
          "$ref": "ContainerState"
        },
        "projectMetadata": {
          "description": "The projects metadata for this project. required",
          "$ref": "ProjectsMetadata"
        }
      }
    },
    "Reasons": {
      "type": "object",
      "properties": {
        "serviceManagement": {
          "enumDeprecated": [
            false,
            false,
            true,
            true,
            true,
            true
          ],
          "enum": [
            "SERVICE_MANAGEMENT_UNKNOWN_REASON",
            "SERVICE_MANAGEMENT_CONTROL_PLANE_SYNC",
            "ACTIVATION",
            "PREPARE_DEACTIVATION",
            "ABORT_DEACTIVATION",
            "COMMIT_DEACTIVATION"
          ],
          "type": "string",
          "enumDescriptions": [
[...]
