{
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/appengine.admin": {
          "description": "View and manage your applications deployed on Google App Engine"
        }
      }
    }
  },
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "operations": {
              "methods": {
                "list": {
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns UNIMPLEMENTED.",
                  "id": "appengine.projects.locations.operations.list",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/operations",
                  "httpMethod": "GET",
                  "path": "v1beta/projects/{projectsId}/locations/{locationsId}/operations",
                  "parameters": {
                    "projectsId": {
                      "type": "string",
                      "description": "Part of `name`. The name of the operation's parent resource.",
                      "location": "path",
                      "required": true
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query",
                      "description": "The standard list page size."
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "The standard list page token.",
                      "location": "query"
                    },
                    "filter": {
                      "description": "The standard list filter.",
                      "location": "query",
                      "type": "string"
                    },
                    "returnPartialSuccess": {
                      "type": "boolean",
                      "description": "When set to true, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field.This can only be true when reading across collections. For example, when parent is set to \"projects/example/locations/-\".This field is not supported by default and will result in an UNIMPLEMENTED error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query"
                    },
                    "locationsId": {
                      "description": "Part of `name`. See documentation of `projectsId`.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/appengine.admin",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "parameterOrder": [
                    "projectsId",
                    "locationsId"
                  ]
                },
                "get": {
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "path": "v1beta/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameters": {
                    "operationsId": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Part of `name`. See documentation of `projectsId`."
                    },
                    "projectsId": {
                      "required": true,
                      "description": "Part of `name`. The name of the operation resource.",
                      "location": "path",
                      "type": "string"
                    },
                    "locationsId": {
                      "type": "string",
                      "required": true,
                      "description": "Part of `name`. See documentation of `projectsId`.",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/appengine.admin",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "id": "appengine.projects.locations.operations.get",
                  "parameterOrder": [
                    "projectsId",
                    "locationsId",
                    "operationsId"
                  ],
                  "httpMethod": "GET"
                }
              }
            },
            "applications": {
              "resources": {
                "services": {
                  "resources": {
                    "versions": {
                      "methods": {
                        "patch": {
                          "parameters": {
                            "locationsId": {
                              "required": true,
                              "location": "path",
                              "description": "Part of `name`. See documentation of `projectsId`.",
                              "type": "string"
                            },
                            "versionsId": {
                              "location": "path",
                              "type": "string",
                              "description": "Part of `name`. See documentation of `projectsId`.",
                              "required": true
                            },
                            "updateMask": {
                              "type": "string",
                              "description": "Standard field mask for the set of fields to be updated.",
                              "format": "google-fieldmask",
                              "location": "query"
                            },
                            "projectsId": {
                              "required": true,
                              "type": "string",
                              "location": "path",
                              "description": "Part of `name`. Required. Name of the resource to update. Example: apps/myapp/services/default/versions/1."
                            },
                            "servicesId": {
                              "location": "path",
                              "type": "string",
                              "required": true,
                              "description": "Part of `name`. See documentation of `projectsId`."
                            },
                            "applicationsId": {
                              "required": true,
                              "type": "string",
                              "location": "path",
                              "description": "Part of `name`. See documentation of `projectsId`."
                            }
                          },
                          "description": "Updates the specified Version resource. You can specify the following fields depending on the App Engine environment and type of scaling that the version resource uses:Standard environment instance_class (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#Version.FIELDS.instance_class)automatic scaling in the standard environment: automatic_scaling.min_idle_instances (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#Version.FIELDS.automatic_scaling) automatic_scaling.max_idle_instances (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#Version.FIELDS.automatic_scaling) automaticScaling.standard_scheduler_settings.max_instances (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#StandardSchedulerSettings) automaticScaling.standard_scheduler_settings.min_instances (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#StandardSchedulerSettings) automaticScaling.standard_scheduler_settings.target_cpu_utilization (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#StandardSchedulerSettings) automaticScaling.standard_scheduler_settings.target_throughput_utilization (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#StandardSchedulerSettings)basic scaling or manual scaling in the standard environment: serving_status (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#Version.FIELDS.serving_status) manual_scaling.instances (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#manualscaling)Flexible environment serving_status (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#Version.FIELDS.serving_status)automatic scaling in the flexible environment: automatic_scaling.min_total_instances (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#Version.FIELDS.automatic_scaling) automatic_scaling.max_total_instances (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#Version.FIELDS.automatic_scaling) automatic_scaling.cool_down_period_sec (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#Version.FIELDS.automatic_scaling) automatic_scaling.cpu_utilization.target_utilization (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#Version.FIELDS.automatic_scaling)manual scaling in the flexible environment: manual_scaling.instances (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#manualscaling)",
                          "path": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/services/{servicesId}/versions/{versionsId}",
                          "response": {
                            "$ref": "Operation"
                          },
                          "id": "appengine.projects.locations.applications.services.versions.patch",
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/services/{servicesId}/versions/{versionsId}",
                          "httpMethod": "PATCH",
                          "parameterOrder": [
                            "projectsId",
                            "locationsId",
                            "applicationsId",
                            "servicesId",
                            "versionsId"
                          ],
                          "request": {
                            "$ref": "Version"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        },
                        "delete": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameters": {
                            "versionsId": {
                              "location": "path",
                              "type": "string",
                              "required": true,
                              "description": "Part of `name`. See documentation of `projectsId`."
                            },
                            "applicationsId": {
                              "location": "path",
                              "description": "Part of `name`. See documentation of `projectsId`.",
                              "type": "string",
                              "required": true
                            },
                            "locationsId": {
                              "description": "Part of `name`. See documentation of `projectsId`.",
                              "location": "path",
                              "type": "string",
                              "required": true
                            },
                            "projectsId": {
                              "required": true,
                              "description": "Part of `name`. Required. Name of the resource requested. Example: apps/myapp/services/default/versions/v1.",
                              "type": "string",
                              "location": "path"
                            },
                            "servicesId": {
                              "required": true,
                              "description": "Part of `name`. See documentation of `projectsId`.",
                              "type": "string",
                              "location": "path"
                            }
                          },
                          "id": "appengine.projects.locations.applications.services.versions.delete",
                          "parameterOrder": [
                            "projectsId",
                            "locationsId",
                            "applicationsId",
                            "servicesId",
                            "versionsId"
                          ],
                          "description": "Deletes an existing Version resource.",
                          "path": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/services/{servicesId}/versions/{versionsId}",
                          "response": {
                            "$ref": "Operation"
                          },
                          "httpMethod": "DELETE",
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/services/{servicesId}/versions/{versionsId}"
                        },
                        "exportAppImage": {
                          "id": "appengine.projects.locations.applications.services.versions.exportAppImage",
                          "parameterOrder": [
                            "projectsId",
                            "locationsId",
                            "applicationsId",
                            "servicesId",
                            "versionsId"
                          ],
                          "httpMethod": "POST",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "response": {
                            "$ref": "Operation"
                          },
                          "path": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/services/{servicesId}/versions/{versionsId}:exportAppImage",
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/services/{servicesId}/versions/{versionsId}:exportAppImage",
                          "description": "Exports a user image to Artifact Registry.",
                          "request": {
                            "$ref": "ExportAppImageRequest"
                          },
                          "parameters": {
                            "versionsId": {
                              "description": "Part of `name`. See documentation of `projectsId`.",
                              "type": "string",
                              "required": true,
                              "location": "path"
                            },
                            "applicationsId": {
                              "location": "path",
                              "description": "Part of `name`. See documentation of `projectsId`.",
                              "required": true,
                              "type": "string"
                            },
                            "locationsId": {
                              "type": "string",
                              "location": "path",
                              "description": "Part of `name`. See documentation of `projectsId`.",
                              "required": true
                            },
                            "projectsId": {
                              "type": "string",
                              "required": true,
                              "description": "Part of `name`. Required. Name of the App Engine version resource. Format: apps/{app}/services/{service}/versions/{version}",
                              "location": "path"
                            },
                            "servicesId": {
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "description": "Part of `name`. See documentation of `projectsId`."
                            }
                          }
                        }
                      },
                      "resources": {
                        "instances": {
                          "methods": {
                            "debug": {
                              "httpMethod": "POST",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "description": "Enables debugging on a VM instance. This allows you to use the SSH command to connect to the virtual machine where the instance lives. While in \"debug mode\", the instance continues to serve live traffic. You should delete the instance when you are done debugging and then allow the system to take over and determine if another instance should be started.Only applicable for instances in App Engine flexible environment.",
                              "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/services/{servicesId}/versions/{versionsId}/instances/{instancesId}:debug",
                              "request": {
                                "$ref": "DebugInstanceRequest"
                              },
                              "parameters": {
                                "versionsId": {
                                  "type": "string",
                                  "description": "Part of `name`. See documentation of `projectsId`.",
                                  "location": "path",
                                  "required": true
                                },
                                "instancesId": {
                                  "required": true,
                                  "description": "Part of `name`. See documentation of `projectsId`.",
                                  "type": "string",
                                  "location": "path"
                                },
                                "locationsId": {
                                  "required": true,
                                  "location": "path",
                                  "description": "Part of `name`. See documentation of `projectsId`.",
                                  "type": "string"
                                },
                                "projectsId": {
                                  "location": "path",
                                  "description": "Part of `name`. Required. Name of the resource requested. Example: apps/myapp/services/default/versions/v1/instances/instance-1.",
                                  "type": "string",
                                  "required": true
                                },
                                "servicesId": {
                                  "required": true,
                                  "location": "path",
                                  "type": "string",
                                  "description": "Part of `name`. See documentation of `projectsId`."
                                },
                                "applicationsId": {
                                  "required": true,
                                  "location": "path",
                                  "type": "string",
                                  "description": "Part of `name`. See documentation of `projectsId`."
                                }
                              },
                              "response": {
                                "$ref": "Operation"
                              },
                              "parameterOrder": [
                                "projectsId",
                                "locationsId",
                                "applicationsId",
                                "servicesId",
                                "versionsId",
                                "instancesId"
                              ],
                              "id": "appengine.projects.locations.applications.services.versions.instances.debug",
                              "path": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/services/{servicesId}/versions/{versionsId}/instances/{instancesId}:debug"
                            },
                            "delete": {
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "httpMethod": "DELETE",
                              "parameterOrder": [
                                "projectsId",
                                "locationsId",
                                "applicationsId",
                                "servicesId",
                                "versionsId",
                                "instancesId"
                              ],
                              "response": {
                                "$ref": "Operation"
                              },
                              "id": "appengine.projects.locations.applications.services.versions.instances.delete",
                              "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/services/{servicesId}/versions/{versionsId}/instances/{instancesId}",
                              "parameters": {
                                "locationsId": {
                                  "description": "Part of `name`. See documentation of `projectsId`.",
                                  "type": "string",
                                  "location": "path",
                                  "required": true
                                },
                                "applicationsId": {
                                  "required": true,
                                  "type": "string",
                                  "description": "Part of `name`. See documentation of `projectsId`.",
                                  "location": "path"
                                },
                                "versionsId": {
                                  "location": "path",
                                  "type": "string",
                                  "description": "Part of `name`. See documentation of `projectsId`.",
                                  "required": true
                                },
                                "instancesId": {
                                  "required": true,
                                  "type": "string",
                                  "location": "path",
                                  "description": "Part of `name`. See documentation of `projectsId`."
                                },
                                "projectsId": {
                                  "required": true,
                                  "type": "string",
                                  "description": "Part of `name`. Required. Name of the resource requested. Example: apps/myapp/services/default/versions/v1/instances/instance-1.",
                                  "location": "path"
                                },
                                "servicesId": {
                                  "required": true,
                                  "type": "string",
                                  "description": "Part of `name`. See documentation of `projectsId`.",
                                  "location": "path"
                                }
                              },
                              "description": "Stops a running instance.The instance might be automatically recreated based on the scaling settings of the version. For more information, see \"How Instances are Managed\" (standard environment (https://cloud.google.com/appengine/docs/standard/python/how-instances-are-managed) | flexible environment (https://cloud.google.com/appengine/docs/flexible/python/how-instances-are-managed)).To ensure that instances are not re-created and avoid getting billed, you can stop all instances within the target version by changing the serving status of the version to STOPPED with the apps.services.versions.patch (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1/apps.services.versions/patch) method.",
                              "path": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/services/{servicesId}/versions/{versionsId}/instances/{instancesId}"
                            }
                          }
                        }
                      }
                    }
                  },
                  "methods": {
                    "patch": {
                      "parameters": {
                        "updateMask": {
                          "type": "string",
                          "format": "google-fieldmask",
                          "location": "query",
                          "description": "Required. Standard field mask for the set of fields to be updated."
                        },
                        "migrateTraffic": {
                          "type": "boolean",
                          "location": "query",
                          "description": "Set to true to gradually shift traffic to one or more versions that you specify. By default, traffic is shifted immediately. For gradual traffic migration, the target versions must be located within instances that are configured for both warmup requests (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#InboundServiceType) and automatic scaling (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#AutomaticScaling). You must specify the shardBy (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services#ShardBy) field in the Service resource. Gradual traffic migration is not supported in the App Engine flexible environment. For examples, see Migrating and Splitting Traffic (https://cloud.google.com/appengine/docs/admin-api/migrating-splitting-traffic)."
                        },
                        "locationsId": {
                          "required": true,
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "type": "string",
                          "location": "path"
                        },
                        "applicationsId": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Part of `name`. See documentation of `projectsId`."
                        },
                        "projectsId": {
                          "description": "Part of `name`. Required. Name of the resource to update. Example: apps/myapp/services/default.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "servicesId": {
                          "type": "string",
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameterOrder": [
                        "projectsId",
                        "locationsId",
                        "applicationsId",
                        "servicesId"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/services/{servicesId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "PATCH",
                      "path": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/services/{servicesId}",
                      "description": "Updates the configuration of the specified service.",
                      "request": {
                        "$ref": "Service"
                      },
                      "id": "appengine.projects.locations.applications.services.patch"
                    },
                    "delete": {
                      "httpMethod": "DELETE",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/services/{servicesId}",
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameters": {
                        "locationsId": {
                          "required": true,
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "type": "string",
                          "location": "path"
                        },
                        "projectsId": {
                          "required": true,
                          "description": "Part of `name`. Required. Name of the resource requested. Example: apps/myapp/services/default.",
                          "type": "string",
                          "location": "path"
                        },
                        "servicesId": {
                          "location": "path",
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "required": true,
                          "type": "string"
                        },
                        "applicationsId": {
                          "type": "string",
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "projectsId",
                        "locationsId",
                        "applicationsId",
                        "servicesId"
                      ],
                      "description": "Deletes the specified service and all enclosed versions.",
                      "path": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/services/{servicesId}",
                      "id": "appengine.projects.locations.applications.services.delete"
                    }
                  }
                },
                "authorizedDomains": {
                  "methods": {
                    "list": {
                      "response": {
                        "$ref": "ListAuthorizedDomainsResponse"
                      },
                      "id": "appengine.projects.locations.applications.authorizedDomains.list",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/authorizedDomains",
                      "path": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/authorizedDomains",
                      "scopes": [
                        "https://www.googleapis.com/auth/appengine.admin",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "parameters": {
                        "projectsId": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Part of `parent`. Required. Name of the parent Application resource. Example: apps/myapp."
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "Continuation token for fetching the next page of results."
                        },
                        "locationsId": {
                          "required": true,
                          "description": "Part of `parent`. See documentation of `projectsId`.",
                          "location": "path",
                          "type": "string"
                        },
                        "applicationsId": {
                          "description": "Part of `parent`. See documentation of `projectsId`.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "pageSize": {
                          "format": "int32",
                          "type": "integer",
                          "description": "Maximum results to return per page.",
                          "location": "query"
                        }
                      },
                      "description": "Lists all domains the user is authorized to administer.",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "projectsId",
                        "locationsId",
                        "applicationsId"
                      ]
                    }
                  }
                },
                "domainMappings": {
                  "methods": {
                    "patch": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "PATCH",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/domainMappings/{domainMappingsId}",
                      "parameterOrder": [
                        "projectsId",
                        "locationsId",
                        "applicationsId",
                        "domainMappingsId"
                      ],
                      "path": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/domainMappings/{domainMappingsId}",
                      "id": "appengine.projects.locations.applications.domainMappings.patch",
                      "response": {
                        "$ref": "Operation"
                      },
                      "description": "Updates the specified domain mapping. To map an SSL certificate to a domain mapping, update certificate_id to point to an AuthorizedCertificate resource. A user must be authorized to administer the associated domain in order to update a DomainMapping resource.",
                      "request": {
                        "$ref": "DomainMapping"
                      },
                      "parameters": {
                        "locationsId": {
                          "location": "path",
                          "type": "string",
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "required": true
                        },
                        "updateMask": {
                          "description": "Required. Standard field mask for the set of fields to be updated.",
                          "location": "query",
                          "type": "string",
                          "format": "google-fieldmask"
                        },
                        "domainMappingsId": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "Part of `name`. See documentation of `projectsId`."
                        },
                        "projectsId": {
                          "location": "path",
                          "description": "Part of `name`. Required. Name of the resource to update. Example: apps/myapp/domainMappings/example.com.",
                          "required": true,
                          "type": "string"
                        },
                        "applicationsId": {
                          "location": "path",
                          "required": true,
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "type": "string"
                        }
                      }
                    },
                    "create": {
                      "parameters": {
                        "overrideStrategy": {
                          "type": "string",
                          "enumDescriptions": [
                            "Strategy unspecified. Defaults to STRICT.",
                            "Overrides not allowed. If a mapping already exists for the specified domain, the request will return an ALREADY_EXISTS (409).",
                            "Overrides allowed. If a mapping already exists for the specified domain, the request will overwrite it. Note that this might stop another Google product from serving. For example, if the domain is mapped to another App Engine application, that app will no longer serve from that domain."
                          ],
                          "enum": [
                            "UNSPECIFIED_DOMAIN_OVERRIDE_STRATEGY",
                            "STRICT",
                            "OVERRIDE"
                          ],
                          "description": "Whether the domain creation should override any existing mappings for this domain. By default, overrides are rejected.",
                          "location": "query"
                        },
                        "projectsId": {
                          "type": "string",
                          "description": "Part of `parent`. Required. Name of the parent Application resource. Example: apps/myapp.",
                          "location": "path",
                          "required": true
                        },
                        "locationsId": {
                          "location": "path",
                          "type": "string",
                          "description": "Part of `parent`. See documentation of `projectsId`.",
                          "required": true
                        },
                        "applicationsId": {
                          "required": true,
                          "description": "Part of `parent`. See documentation of `projectsId`.",
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "description": "Maps a domain to an application. A user must be authorized to administer a domain in order to map it to an application. For a list of available authorized domains, see AuthorizedDomains.ListAuthorizedDomains.",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/domainMappings",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "projectsId",
                        "locationsId",
                        "applicationsId"
                      ],
                      "path": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/domainMappings",
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "DomainMapping"
                      },
                      "id": "appengine.projects.locations.applications.domainMappings.create"
                    },
                    "delete": {
                      "path": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/domainMappings/{domainMappingsId}",
                      "parameters": {
                        "locationsId": {
                          "location": "path",
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "type": "string",
                          "required": true
                        },
                        "projectsId": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Part of `name`. Required. Name of the resource to delete. Example: apps/myapp/domainMappings/example.com."
                        },
                        "domainMappingsId": {
                          "location": "path",
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "required": true,
                          "type": "string"
                        },
                        "applicationsId": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Part of `name`. See documentation of `projectsId`."
                        }
                      },
                      "id": "appengine.projects.locations.applications.domainMappings.delete",
                      "parameterOrder": [
                        "projectsId",
                        "locationsId",
                        "applicationsId",
                        "domainMappingsId"
                      ],
                      "httpMethod": "DELETE",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Deletes the specified domain mapping. A user must be authorized to administer the associated domain in order to delete a DomainMapping resource.",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/domainMappings/{domainMappingsId}",
                      "response": {
                        "$ref": "Operation"
                      }
                    },
                    "list": {
                      "path": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/domainMappings",
                      "httpMethod": "GET",
                      "id": "appengine.projects.locations.applications.domainMappings.list",
                      "parameterOrder": [
                        "projectsId",
                        "locationsId",
                        "applicationsId"
                      ],
                      "parameters": {
                        "locationsId": {
                          "description": "Part of `parent`. See documentation of `projectsId`.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Continuation token for fetching the next page of results."
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "Maximum results to return per page.",
                          "format": "int32",
                          "location": "query"
                        },
                        "projectsId": {
                          "type": "string",
                          "required": true,
                          "description": "Part of `parent`. Required. Name of the parent Application resource. Example: apps/myapp.",
                          "location": "path"
                        },
                        "applicationsId": {
                          "description": "Part of `parent`. See documentation of `projectsId`.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "description": "Lists the domain mappings on an application.",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/domainMappings",
                      "scopes": [
                        "https://www.googleapis.com/auth/appengine.admin",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "response": {
                        "$ref": "ListDomainMappingsResponse"
                      }
                    },
                    "get": {
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/domainMappings/{domainMappingsId}",
                      "response": {
                        "$ref": "DomainMapping"
                      },
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "projectsId",
                        "locationsId",
                        "applicationsId",
                        "domainMappingsId"
                      ],
                      "description": "Gets the specified domain mapping.",
                      "parameters": {
                        "locationsId": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "Part of `name`. See documentation of `projectsId`."
                        },
                        "applicationsId": {
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "domainMappingsId": {
                          "type": "string",
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "location": "path",
                          "required": true
                        },
                        "projectsId": {
                          "location": "path",
                          "required": true,
                          "description": "Part of `name`. Required. Name of the resource requested. Example: apps/myapp/domainMappings/example.com.",
                          "type": "string"
                        }
                      },
                      "path": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/domainMappings/{domainMappingsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/appengine.admin",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "id": "appengine.projects.locations.applications.domainMappings.get"
                    }
                  }
                },
                "authorizedCertificates": {
                  "methods": {
                    "list": {
                      "description": "Lists all SSL certificates the user is authorized to administer.",
                      "parameters": {
                        "projectsId": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Part of `parent`. Required. Name of the parent Application resource. Example: apps/myapp."
                        },
                        "applicationsId": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Part of `parent`. See documentation of `projectsId`."
                        },
                        "locationsId": {
                          "type": "string",
                          "required": true,
                          "description": "Part of `parent`. See documentation of `projectsId`.",
                          "location": "path"
                        },
                        "pageSize": {
                          "description": "Maximum results to return per page.",
                          "format": "int32",
                          "location": "query",
                          "type": "integer"
                        },
                        "view": {
                          "type": "string",
                          "enumDescriptions": [
                            "Basic certificate information, including applicable domains and expiration date.",
                            "The information from BASIC_CERTIFICATE, plus detailed information on the domain mappings that have this certificate mapped."
                          ],
                          "location": "query",
                          "enum": [
                            "BASIC_CERTIFICATE",
                            "FULL_CERTIFICATE"
                          ],
                          "description": "Controls the set of fields returned in the LIST response."
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "Continuation token for fetching the next page of results.",
                          "location": "query"
                        }
                      },
                      "id": "appengine.projects.locations.applications.authorizedCertificates.list",
                      "response": {
                        "$ref": "ListAuthorizedCertificatesResponse"
                      },
                      "parameterOrder": [
                        "projectsId",
                        "locationsId",
                        "applicationsId"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/authorizedCertificates",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/appengine.admin",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "path": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/authorizedCertificates"
                    },
                    "get": {
                      "parameters": {
                        "authorizedCertificatesId": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "description": "Part of `name`. See documentation of `projectsId`."
                        },
                        "locationsId": {
                          "type": "string",
                          "required": true,
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "location": "path"
                        },
                        "projectsId": {
                          "type": "string",
                          "description": "Part of `name`. Required. Name of the resource requested. Example: apps/myapp/authorizedCertificates/12345.",
                          "required": true,
                          "location": "path"
                        },
                        "applicationsId": {
                          "type": "string",
                          "required": true,
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "location": "path"
                        },
                        "view": {
                          "type": "string",
                          "description": "Controls the set of fields returned in the GET response.",
                          "enum": [
                            "BASIC_CERTIFICATE",
                            "FULL_CERTIFICATE"
                          ],
                          "enumDescriptions": [
                            "Basic certificate information, including applicable domains and expiration date.",
                            "The information from BASIC_CERTIFICATE, plus detailed information on the domain mappings that have this certificate mapped."
                          ],
                          "location": "query"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/appengine.admin",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "description": "Gets the specified SSL certificate.",
                      "id": "appengine.projects.locations.applications.authorizedCertificates.get",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "projectsId",
                        "locationsId",
                        "applicationsId",
                        "authorizedCertificatesId"
                      ],
                      "path": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/authorizedCertificates/{authorizedCertificatesId}",
                      "response": {
                        "$ref": "AuthorizedCertificate"
                      },
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/authorizedCertificates/{authorizedCertificatesId}"
                    },
                    "patch": {
                      "path": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/authorizedCertificates/{authorizedCertificatesId}",
                      "id": "appengine.projects.locations.applications.authorizedCertificates.patch",
                      "request": {
                        "$ref": "AuthorizedCertificate"
                      },
                      "response": {
                        "$ref": "AuthorizedCertificate"
                      },
                      "description": "Updates the specified SSL certificate. To renew a certificate and maintain its existing domain mappings, update certificate_data with a new certificate. The new certificate must be applicable to the same domains as the original certificate. The certificate display_name may also be updated.",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/authorizedCertificates/{authorizedCertificatesId}",
                      "parameters": {
                        "projectsId": {
                          "location": "path",
                          "description": "Part of `name`. Required. Name of the resource to update. Example: apps/myapp/authorizedCertificates/12345.",
                          "type": "string",
                          "required": true
                        },
                        "locationsId": {
                          "type": "string",
                          "location": "path",
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "required": true
                        },
                        "applicationsId": {
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "updateMask": {
                          "type": "string",
                          "format": "google-fieldmask",
                          "description": "Standard field mask for the set of fields to be updated. Updates are only supported on the certificate_raw_data and display_name fields.",
                          "location": "query"
                        },
                        "authorizedCertificatesId": {
                          "type": "string",
                          "location": "path",
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "projectsId",
                        "locationsId",
                        "applicationsId",
                        "authorizedCertificatesId"
                      ],
                      "httpMethod": "PATCH",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "create": {
                      "path": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/authorizedCertificates",
                      "parameters": {
                        "applicationsId": {
                          "type": "string",
                          "required": true,
                          "description": "Part of `parent`. See documentation of `projectsId`.",
                          "location": "path"
                        },
                        "locationsId": {
                          "required": true,
                          "description": "Part of `parent`. See documentation of `projectsId`.",
                          "type": "string",
                          "location": "path"
                        },
                        "projectsId": {
                          "description": "Part of `parent`. Required. Name of the parent Application resource. Example: apps/myapp.",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "id": "appengine.projects.locations.applications.authorizedCertificates.create",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/authorizedCertificates",
                      "request": {
                        "$ref": "AuthorizedCertificate"
                      },
                      "description": "Uploads the specified SSL certificate.",
                      "response": {
                        "$ref": "AuthorizedCertificate"
                      },
                      "parameterOrder": [
                        "projectsId",
                        "locationsId",
                        "applicationsId"
                      ],
                      "httpMethod": "POST"
                    },
                    "delete": {
                      "id": "appengine.projects.locations.applications.authorizedCertificates.delete",
                      "httpMethod": "DELETE",
                      "description": "Deletes the specified SSL certificate.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/authorizedCertificates/{authorizedCertificatesId}",
                      "path": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/authorizedCertificates/{authorizedCertificatesId}",
                      "parameters": {
                        "authorizedCertificatesId": {
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "projectsId": {
                          "type": "string",
                          "description": "Part of `name`. Required. Name of the resource to delete. Example: apps/myapp/authorizedCertificates/12345.",
                          "required": true,
                          "location": "path"
                        },
                        "locationsId": {
                          "type": "string",
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "required": true,
                          "location": "path"
                        },
                        "applicationsId": {
                          "type": "string",
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "location": "path",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "Empty"
                      },
                      "parameterOrder": [
                        "projectsId",
                        "locationsId",
                        "applicationsId",
                        "authorizedCertificatesId"
                      ]
                    }
                  }
                }
              },
              "methods": {
                "patch": {
                  "parameters": {
                    "projectsId": {
                      "type": "string",
                      "description": "Part of `name`. Required. Name of the Application resource to update. Example: apps/myapp.",
                      "location": "path",
                      "required": true
                    },
                    "applicationsId": {
                      "location": "path",
                      "description": "Part of `name`. See documentation of `projectsId`.",
                      "type": "string",
                      "required": true
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "type": "string",
                      "location": "query",
                      "description": "Required. Standard field mask for the set of fields to be updated."
                    },
                    "locationsId": {
                      "location": "path",
                      "description": "Part of `name`. See documentation of `projectsId`.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "id": "appengine.projects.locations.applications.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}",
                  "description": "Updates the specified Application resource. You can update the following fields: auth_domain - Google authentication domain for controlling user access to the application. default_cookie_expiration - Cookie expiration policy for the application. iap - Identity-Aware Proxy properties for the application.",
                  "request": {
                    "$ref": "Application"
                  },
                  "parameterOrder": [
                    "projectsId",
                    "locationsId",
                    "applicationsId"
                  ],
                  "httpMethod": "PATCH",
                  "path": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}"
                }
              }
            }
          },
          "methods": {
            "get": {
              "httpMethod": "GET",
              "parameterOrder": [
                "projectsId",
                "locationsId"
              ],
              "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}",
              "response": {
                "$ref": "Location"
              },
              "id": "appengine.projects.locations.get",
              "parameters": {
                "projectsId": {
                  "description": "Part of `name`. Resource name for the location.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "locationsId": {
                  "description": "Part of `name`. See documentation of `projectsId`.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "description": "Gets information about a location.",
              "path": "v1beta/projects/{projectsId}/locations/{locationsId}"
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "path": "v1beta/projects/{projectsId}/locations",
              "flatPath": "v1beta/projects/{projectsId}/locations",
              "parameters": {
                "extraLocationTypes": {
                  "type": "string",
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "repeated": true,
                  "location": "query"
                },
                "pageToken": {
                  "description": "A page token received from the next_page_token field in the response. Send that page token to receive the subsequent page.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "location": "query"
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like \"displayName=tokyo\", and is documented in more detail in AIP-160 (https://google.aip.dev/160)."
                },
                "projectsId": {
                  "type": "string",
                  "description": "Part of `name`. The resource that owns the locations collection, if applicable.",
                  "required": true,
                  "location": "path"
                }
              },
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "id": "appengine.projects.locations.list",
              "description": "Lists information about the supported locations for this service.This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: Global locations: If name is empty, the method lists the public locations available to all projects. Project-specific locations: If name follows the format projects/{project}, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project.For gRPC and client library implementations, the resource name is passed as the name field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "parameterOrder": [
                "projectsId"
              ],
              "httpMethod": "GET"
            }
          }
        }
      }
    },
    "apps": {
      "resources": {
        "domainMappings": {
          "methods": {
            "get": {
              "description": "Gets the specified domain mapping.",
              "parameters": {
                "domainMappingsId": {
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "appsId": {
                  "description": "Part of `name`. Required. Name of the resource requested. Example: apps/myapp/domainMappings/example.com.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "path": "v1beta/apps/{appsId}/domainMappings/{domainMappingsId}",
              "id": "appengine.apps.domainMappings.get",
              "parameterOrder": [
                "appsId",
                "domainMappingsId"
              ],
              "response": {
                "$ref": "DomainMapping"
              },
              "httpMethod": "GET",
              "flatPath": "v1beta/apps/{appsId}/domainMappings/{domainMappingsId}"
            },
            "create": {
              "path": "v1beta/apps/{appsId}/domainMappings",
              "parameters": {
                "appsId": {
                  "type": "string",
                  "description": "Part of `parent`. Required. Name of the parent Application resource. Example: apps/myapp.",
                  "required": true,
                  "location": "path"
                },
                "overrideStrategy": {
                  "enum": [
                    "UNSPECIFIED_DOMAIN_OVERRIDE_STRATEGY",
                    "STRICT",
                    "OVERRIDE"
                  ],
                  "description": "Whether the domain creation should override any existing mappings for this domain. By default, overrides are rejected.",
                  "enumDescriptions": [
                    "Strategy unspecified. Defaults to STRICT.",
                    "Overrides not allowed. If a mapping already exists for the specified domain, the request will return an ALREADY_EXISTS (409).",
                    "Overrides allowed. If a mapping already exists for the specified domain, the request will overwrite it. Note that this might stop another Google product from serving. For example, if the domain is mapped to another App Engine application, that app will no longer serve from that domain."
                  ],
                  "type": "string",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "Operation"
              },
              "flatPath": "v1beta/apps/{appsId}/domainMappings",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "appengine.apps.domainMappings.create",
              "description": "Maps a domain to an application. A user must be authorized to administer a domain in order to map it to an application. For a list of available authorized domains, see AuthorizedDomains.ListAuthorizedDomains.",
              "request": {
                "$ref": "DomainMapping"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "appsId"
              ]
            },
            "list": {
              "id": "appengine.apps.domainMappings.list",
              "description": "Lists the domain mappings on an application.",
              "parameters": {
                "appsId": {
                  "required": true,
                  "type": "string",
                  "description": "Part of `parent`. Required. Name of the parent Application resource. Example: apps/myapp.",
                  "location": "path"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "Maximum results to return per page."
                },
                "pageToken": {
                  "description": "Continuation token for fetching the next page of results.",
                  "location": "query",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "ListDomainMappingsResponse"
              },
              "path": "v1beta/apps/{appsId}/domainMappings",
              "flatPath": "v1beta/apps/{appsId}/domainMappings",
              "parameterOrder": [
                "appsId"
              ]
            },
            "delete": {
              "httpMethod": "DELETE",
              "flatPath": "v1beta/apps/{appsId}/domainMappings/{domainMappingsId}",
              "id": "appengine.apps.domainMappings.delete",
              "path": "v1beta/apps/{appsId}/domainMappings/{domainMappingsId}",
              "response": {
                "$ref": "Operation"
              },
              "description": "Deletes the specified domain mapping. A user must be authorized to administer the associated domain in order to delete a DomainMapping resource.",
              "parameterOrder": [
                "appsId",
                "domainMappingsId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "appsId": {
                  "type": "string",
                  "description": "Part of `name`. Required. Name of the resource to delete. Example: apps/myapp/domainMappings/example.com.",
                  "required": true,
                  "location": "path"
                },
                "domainMappingsId": {
                  "required": true,
                  "type": "string",
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "location": "path"
                }
              }
            },
            "patch": {
              "httpMethod": "PATCH",
              "flatPath": "v1beta/apps/{appsId}/domainMappings/{domainMappingsId}",
              "path": "v1beta/apps/{appsId}/domainMappings/{domainMappingsId}",
              "response": {
                "$ref": "Operation"
              },
              "description": "Updates the specified domain mapping. To map an SSL certificate to a domain mapping, update certificate_id to point to an AuthorizedCertificate resource. A user must be authorized to administer the associated domain in order to update a DomainMapping resource.",
              "request": {
                "$ref": "DomainMapping"
              },
              "parameters": {
                "domainMappingsId": {
                  "required": true,
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "type": "string",
                  "location": "path"
                },
                "appsId": {
                  "required": true,
                  "description": "Part of `name`. Required. Name of the resource to update. Example: apps/myapp/domainMappings/example.com.",
                  "type": "string",
                  "location": "path"
                },
                "updateMask": {
                  "description": "Required. Standard field mask for the set of fields to be updated.",
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                }
              },
              "id": "appengine.apps.domainMappings.patch",
              "parameterOrder": [
                "appsId",
                "domainMappingsId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        },
        "firewall": {
          "resources": {
            "ingressRules": {
              "methods": {
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/appengine.admin",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "path": "v1beta/apps/{appsId}/firewall/ingressRules/{ingressRulesId}",
                  "parameterOrder": [
                    "appsId",
                    "ingressRulesId"
                  ],
                  "httpMethod": "GET",
                  "description": "Gets the specified firewall rule.",
                  "id": "appengine.apps.firewall.ingressRules.get",
                  "parameters": {
                    "appsId": {
                      "required": true,
                      "description": "Part of `name`. Name of the Firewall resource to retrieve. Example: apps/myapp/firewall/ingressRules/100.",
                      "location": "path",
                      "type": "string"
                    },
                    "ingressRulesId": {
                      "type": "string",
                      "required": true,
                      "description": "Part of `name`. See documentation of `appsId`.",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1beta/apps/{appsId}/firewall/ingressRules/{ingressRulesId}",
                  "response": {
                    "$ref": "FirewallRule"
                  }
                },
                "list": {
                  "path": "v1beta/apps/{appsId}/firewall/ingressRules",
                  "id": "appengine.apps.firewall.ingressRules.list",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/appengine.admin",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "parameterOrder": [
                    "appsId"
                  ],
                  "description": "Lists the firewall rules of an application.",
                  "parameters": {
                    "matchingAddress": {
                      "type": "string",
                      "location": "query",
                      "description": "A valid IP Address. If set, only rules matching this address will be returned. The first returned rule will be the rule that fires on requests from this IP."
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "description": "Maximum results to return per page.",
                      "format": "int32"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Continuation token for fetching the next page of results."
                    },
                    "appsId": {
                      "location": "path",
                      "description": "Part of `parent`. Name of the Firewall collection to retrieve. Example: apps/myapp/firewall/ingressRules.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "flatPath": "v1beta/apps/{appsId}/firewall/ingressRules",
                  "response": {
                    "$ref": "ListIngressRulesResponse"
                  }
                },
                "batchUpdate": {
                  "description": "Replaces the entire firewall ruleset in one bulk operation. This overrides and replaces the rules of an existing firewall with the new rules.If the final rule does not match traffic with the '*' wildcard IP range, then an \"allow all\" rule is explicitly added to the end of the list.",
                  "response": {
                    "$ref": "BatchUpdateIngressRulesResponse"
                  },
                  "path": "v1beta/apps/{appsId}/firewall/ingressRules:batchUpdate",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "appengine.apps.firewall.ingressRules.batchUpdate",
                  "flatPath": "v1beta/apps/{appsId}/firewall/ingressRules:batchUpdate",
                  "parameterOrder": [
                    "appsId"
                  ],
                  "parameters": {
                    "appsId": {
                      "description": "Part of `name`. Name of the Firewall collection to set. Example: apps/myapp/firewall/ingressRules.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "BatchUpdateIngressRulesRequest"
                  },
                  "httpMethod": "POST"
                },
                "delete": {
                  "parameters": {
                    "appsId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Part of `name`. Name of the Firewall resource to delete. Example: apps/myapp/firewall/ingressRules/100."
                    },
                    "ingressRulesId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Part of `name`. See documentation of `appsId`."
                    }
                  },
                  "parameterOrder": [
                    "appsId",
                    "ingressRulesId"
                  ],
                  "description": "Deletes the specified firewall rule.",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta/apps/{appsId}/firewall/ingressRules/{ingressRulesId}",
                  "path": "v1beta/apps/{appsId}/firewall/ingressRules/{ingressRulesId}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "id": "appengine.apps.firewall.ingressRules.delete"
                },
                "create": {
                  "id": "appengine.apps.firewall.ingressRules.create",
                  "parameters": {
                    "appsId": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Part of `parent`. Required. Name of the parent Firewall collection in which to create a new rule. Example: apps/myapp/firewall/ingressRules."
                    }
                  },
                  "request": {
                    "$ref": "FirewallRule"
                  },
                  "description": "Creates a firewall rule for the application.",
                  "flatPath": "v1beta/apps/{appsId}/firewall/ingressRules",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "appsId"
                  ],
                  "response": {
                    "$ref": "FirewallRule"
                  },
                  "path": "v1beta/apps/{appsId}/firewall/ingressRules",
                  "httpMethod": "POST"
                },
                "patch": {
                  "flatPath": "v1beta/apps/{appsId}/firewall/ingressRules/{ingressRulesId}",
                  "parameters": {
                    "updateMask": {
                      "description": "Standard field mask for the set of fields to be updated.",
                      "type": "string",
                      "location": "query",
                      "format": "google-fieldmask"
                    },
                    "appsId": {
                      "description": "Part of `name`. Name of the Firewall resource to update. Example: apps/myapp/firewall/ingressRules/100.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "ingressRulesId": {
                      "location": "path",
                      "description": "Part of `name`. See documentation of `appsId`.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "FirewallRule"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "FirewallRule"
                  },
                  "description": "Updates the specified firewall rule.",
                  "id": "appengine.apps.firewall.ingressRules.patch",
                  "httpMethod": "PATCH",
                  "path": "v1beta/apps/{appsId}/firewall/ingressRules/{ingressRulesId}",
                  "parameterOrder": [
                    "appsId",
                    "ingressRulesId"
                  ]
                }
              }
            }
          }
        },
        "authorizedCertificates": {
          "methods": {
            "list": {
              "parameters": {
                "view": {
                  "enumDescriptions": [
                    "Basic certificate information, including applicable domains and expiration date.",
                    "The information from BASIC_CERTIFICATE, plus detailed information on the domain mappings that have this certificate mapped."
                  ],
                  "location": "query",
                  "enum": [
                    "BASIC_CERTIFICATE",
                    "FULL_CERTIFICATE"
                  ],
                  "description": "Controls the set of fields returned in the LIST response.",
                  "type": "string"
                },
                "appsId": {
                  "description": "Part of `parent`. Required. Name of the parent Application resource. Example: apps/myapp.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "Maximum results to return per page."
                },
                "pageToken": {
                  "location": "query",
                  "description": "Continuation token for fetching the next page of results.",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "appsId"
              ],
              "description": "Lists all SSL certificates the user is authorized to administer.",
              "id": "appengine.apps.authorizedCertificates.list",
              "path": "v1beta/apps/{appsId}/authorizedCertificates",
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "ListAuthorizedCertificatesResponse"
              },
              "flatPath": "v1beta/apps/{appsId}/authorizedCertificates"
            },
            "delete": {
              "flatPath": "v1beta/apps/{appsId}/authorizedCertificates/{authorizedCertificatesId}",
              "description": "Deletes the specified SSL certificate.",
              "parameterOrder": [
                "appsId",
                "authorizedCertificatesId"
              ],
              "response": {
                "$ref": "Empty"
              },
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta/apps/{appsId}/authorizedCertificates/{authorizedCertificatesId}",
              "parameters": {
                "appsId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Part of `name`. Required. Name of the resource to delete. Example: apps/myapp/authorizedCertificates/12345."
                },
                "authorizedCertificatesId": {
                  "type": "string",
                  "required": true,
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "location": "path"
                }
              },
              "id": "appengine.apps.authorizedCertificates.delete"
            },
            "get": {
              "id": "appengine.apps.authorizedCertificates.get",
              "httpMethod": "GET",
              "description": "Gets the specified SSL certificate.",
              "path": "v1beta/apps/{appsId}/authorizedCertificates/{authorizedCertificatesId}",
              "response": {
                "$ref": "AuthorizedCertificate"
              },
              "parameters": {
                "appsId": {
                  "required": true,
                  "description": "Part of `name`. Required. Name of the resource requested. Example: apps/myapp/authorizedCertificates/12345.",
                  "type": "string",
                  "location": "path"
                },
                "authorizedCertificatesId": {
                  "type": "string",
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "location": "path",
                  "required": true
                },
                "view": {
                  "enum": [
                    "BASIC_CERTIFICATE",
                    "FULL_CERTIFICATE"
                  ],
                  "type": "string",
                  "description": "Controls the set of fields returned in the GET response.",
                  "enumDescriptions": [
                    "Basic certificate information, including applicable domains and expiration date.",
                    "The information from BASIC_CERTIFICATE, plus detailed information on the domain mappings that have this certificate mapped."
                  ],
                  "location": "query"
                }
              },
              "flatPath": "v1beta/apps/{appsId}/authorizedCertificates/{authorizedCertificatesId}",
              "parameterOrder": [
                "appsId",
                "authorizedCertificatesId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ]
            },
            "create": {
              "httpMethod": "POST",
              "path": "v1beta/apps/{appsId}/authorizedCertificates",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "AuthorizedCertificate"
              },
              "flatPath": "v1beta/apps/{appsId}/authorizedCertificates",
              "parameters": {
                "appsId": {
                  "type": "string",
                  "description": "Part of `parent`. Required. Name of the parent Application resource. Example: apps/myapp.",
                  "required": true,
                  "location": "path"
                }
              },
              "id": "appengine.apps.authorizedCertificates.create",
              "description": "Uploads the specified SSL certificate.",
              "request": {
                "$ref": "AuthorizedCertificate"
              },
              "parameterOrder": [
                "appsId"
              ]
            },
            "patch": {
              "response": {
                "$ref": "AuthorizedCertificate"
              },
              "parameters": {
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask",
                  "description": "Standard field mask for the set of fields to be updated. Updates are only supported on the certificate_raw_data and display_name fields."
                },
                "appsId": {
                  "location": "path",
                  "description": "Part of `name`. Required. Name of the resource to update. Example: apps/myapp/authorizedCertificates/12345.",
                  "required": true,
                  "type": "string"
                },
                "authorizedCertificatesId": {
                  "location": "path",
                  "required": true,
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "type": "string"
                }
              },
              "id": "appengine.apps.authorizedCertificates.patch",
              "flatPath": "v1beta/apps/{appsId}/authorizedCertificates/{authorizedCertificatesId}",
              "parameterOrder": [
                "appsId",
                "authorizedCertificatesId"
              ],
              "request": {
                "$ref": "AuthorizedCertificate"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta/apps/{appsId}/authorizedCertificates/{authorizedCertificatesId}",
              "description": "Updates the specified SSL certificate. To renew a certificate and maintain its existing domain mappings, update certificate_data with a new certificate. The new certificate must be applicable to the same domains as the original certificate. The certificate display_name may also be updated.",
              "httpMethod": "PATCH"
            }
          }
        },
        "locations": {
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "httpMethod": "GET",
              "id": "appengine.apps.locations.list",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "type": "integer",
                  "format": "int32"
                },
                "extraLocationTypes": {
                  "type": "string",
                  "repeated": true,
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "location": "query"
                },
                "appsId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Part of `name`. The resource that owns the locations collection, if applicable."
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A page token received from the next_page_token field in the response. Send that page token to receive the subsequent page."
                },
                "filter": {
[...]
