{
  "documentationLink": "https://cloud.google.com/appengine/docs/admin-api/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerName": "Google",
  "servicePath": "",
  "discoveryVersion": "v1",
  "name": "appengine",
  "mtlsRootUrl": "https://appengine.mtls.googleapis.com/",
  "description": "Provisions and manages developers' App Engine applications.",
  "version_module": true,
  "revision": "20260801",
  "batchPath": "batch",
  "protocol": "rest",
  "id": "appengine:v1",
  "basePath": "",
  "version": "v1",
  "title": "App Engine Admin API",
  "schemas": {
    "OperationMetadataV1Alpha": {
      "type": "object",
      "id": "OperationMetadataV1Alpha",
      "description": "Metadata for the given google.longrunning.Operation.",
      "properties": {
        "insertTime": {
          "description": "Time that this operation was created.@OutputOnly",
          "format": "google-datetime",
          "type": "string"
        },
        "ephemeralMessage": {
          "description": "Ephemeral message that may change every time the operation is polled. @OutputOnly",
          "type": "string"
        },
        "warning": {
          "description": "Durable messages that persist on every operation poll. @OutputOnly",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "endTime": {
          "description": "Time that this operation completed.@OutputOnly",
          "type": "string",
          "format": "google-datetime"
        },
        "method": {
          "type": "string",
          "description": "API method that initiated this operation. Example: google.appengine.v1alpha.Versions.CreateVersion.@OutputOnly"
        },
        "user": {
          "type": "string",
          "description": "User who requested this operation.@OutputOnly"
        },
        "createVersionMetadata": {
          "$ref": "CreateVersionMetadataV1Alpha"
        },
        "target": {
          "description": "Name of the resource that this operation is acting on. Example: apps/myapp/services/default.@OutputOnly",
          "type": "string"
        }
      }
    },
    "ExportAppImageRequest": {
      "id": "ExportAppImageRequest",
      "description": "Request message for Versions.ExportAppImage.",
      "properties": {
        "destinationRepository": {
          "type": "string",
          "description": "Optional. The full resource name of the AR repository to export to. Format: projects/{project}/locations/{location}/repositories/{repository} If not specified, defaults to projects/{project}/locations/{location}/repositories/gae-standard in the same region as the app. The default repository will be created if it does not exist."
        }
      },
      "type": "object"
    },
    "Instance": {
      "type": "object",
      "id": "Instance",
      "description": "An Instance resource is the computing unit that App Engine uses to automatically scale an application.",
      "properties": {
        "availability": {
          "readOnly": true,
          "description": "Output only. Availability of the instance.",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "RESIDENT",
            "DYNAMIC"
          ]
        },
        "averageLatency": {
          "readOnly": true,
          "description": "Output only. Average latency (ms) over the last minute.",
          "type": "integer",
          "format": "int32"
        },
        "vmLiveness": {
          "description": "Output only. The liveness health check of this instance. Only applicable for instances in App Engine flexible environment.",
          "enumDescriptions": [
            "There is no liveness health check for the instance. Only applicable for instances in App Engine standard environment.",
            "The health checking system is aware of the instance but its health is not known at the moment.",
            "The instance is reachable i.e. a connection to the application health checking endpoint can be established, and conforms to the requirements defined by the health check.",
            "The instance is reachable, but does not conform to the requirements defined by the health check.",
            "The instance is being drained. The existing connections to the instance have time to complete, but the new ones are being refused.",
            "The instance is unreachable i.e. a connection to the application health checking endpoint cannot be established, or the server does not respond within the specified timeout."
          ],
          "type": "string",
          "enum": [
            "LIVENESS_STATE_UNSPECIFIED",
            "UNKNOWN",
            "HEALTHY",
            "UNHEALTHY",
            "DRAINING",
            "TIMEOUT"
          ],
          "readOnly": true
        },
        "vmDebugEnabled": {
          "description": "Output only. Whether this instance is in debug mode. Only applicable for instances in App Engine flexible environment.",
          "readOnly": true,
          "type": "boolean"
        },
        "qps": {
          "format": "float",
          "type": "number",
          "description": "Output only. Average queries per second (QPS) over the last minute.",
          "readOnly": true
        },
        "requests": {
          "description": "Output only. Number of requests since this instance was started.",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        },
        "vmZoneName": {
          "type": "string",
          "description": "Output only. Zone where the virtual machine is located. Only applicable for instances in App Engine flexible environment.",
          "readOnly": true
        },
        "errors": {
          "format": "int32",
          "type": "integer",
          "description": "Output only. Number of errors since this instance was started.",
          "readOnly": true
        },
        "vmIp": {
          "type": "string",
          "description": "Output only. The IP address of this instance. Only applicable for instances in App Engine flexible environment.",
          "readOnly": true
        },
        "id": {
          "type": "string",
          "description": "Output only. Relative name of the instance within the version. Example: instance-1.",
          "readOnly": true
        },
        "memoryUsage": {
          "description": "Output only. Total memory in use (bytes).",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "appEngineRelease": {
          "readOnly": true,
          "description": "Output only. App Engine release this instance is running on.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Full path to the Instance resource in the API. Example: apps/myapp/services/default/versions/v1/instances/instance-1.",
          "type": "string"
        },
        "vmName": {
          "readOnly": true,
          "description": "Output only. Name of the virtual machine where this instance lives. Only applicable for instances in App Engine flexible environment.",
          "type": "string"
        },
        "vmId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Virtual machine ID of this instance. Only applicable for instances in App Engine flexible environment."
        },
        "vmStatus": {
          "readOnly": true,
          "description": "Output only. Status of the virtual machine where this instance lives. Only applicable for instances in App Engine flexible environment.",
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Time that this instance was started.@OutputOnly"
        }
      }
    },
    "CreateVersionMetadataV1": {
      "type": "object",
      "id": "CreateVersionMetadataV1",
      "description": "Metadata for the given google.longrunning.Operation during a google.appengine.v1.CreateVersionRequest.",
      "properties": {
        "cloudBuildId": {
          "description": "The Cloud Build ID if one was created as part of the version create. @OutputOnly",
          "type": "string"
        }
      }
    },
    "ApiEndpointHandler": {
      "id": "ApiEndpointHandler",
      "description": "Uses Google Cloud Endpoints to handle requests.",
      "properties": {
        "scriptPath": {
          "type": "string",
          "description": "Path to the script from the application root directory."
        }
      },
      "type": "object"
    },
    "Volume": {
      "id": "Volume",
      "description": "Volumes mounted within the app container. Only applicable in the App Engine flexible environment.",
      "properties": {
        "sizeGb": {
          "description": "Volume size in gigabytes.",
          "format": "double",
          "type": "number"
        },
        "name": {
          "description": "Unique name for the volume.",
          "type": "string"
        },
        "volumeType": {
          "description": "Underlying volume type, e.g. 'tmpfs'.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "LivenessCheck": {
      "type": "object",
      "id": "LivenessCheck",
      "description": "Health checking configuration for VM instances. Unhealthy instances are killed and replaced with new instances.",
      "properties": {
        "host": {
          "type": "string",
          "description": "Host header to send when performing a HTTP Liveness check. Example: \"myapp.appspot.com\""
        },
        "initialDelay": {
          "description": "The initial delay before starting to execute the checks.",
          "type": "string",
          "format": "google-duration"
        },
        "failureThreshold": {
          "type": "integer",
          "format": "uint32",
          "description": "Number of consecutive failed checks required before considering the VM unhealthy."
        },
        "timeout": {
          "format": "google-duration",
          "type": "string",
          "description": "Time before the check is considered failed."
        },
        "path": {
          "description": "The request path.",
          "type": "string"
        },
        "successThreshold": {
          "description": "Number of consecutive successful checks required before considering the VM healthy.",
          "type": "integer",
          "format": "uint32"
        },
        "checkInterval": {
          "type": "string",
          "format": "google-duration",
          "description": "Interval between health checks."
        }
      }
    },
    "SslSettings": {
      "id": "SslSettings",
      "description": "SSL configuration for a DomainMapping resource.",
      "properties": {
        "pendingManagedCertificateId": {
          "readOnly": true,
          "description": "Output only. ID of the managed AuthorizedCertificate resource currently being provisioned, if applicable. Until the new managed certificate has been successfully provisioned, the previous SSL state will be preserved. Once the provisioning process completes, the certificate_id field will reflect the new managed certificate and this field will be left empty. To remove SSL support while there is still a pending managed certificate, clear the certificate_id field with an UpdateDomainMappingRequest.@OutputOnly",
          "type": "string"
        },
        "sslManagementType": {
          "enumDescriptions": [
            "Defaults to AUTOMATIC.",
            "SSL support for this domain is configured automatically. The mapped SSL certificate will be automatically renewed.",
            "SSL support for this domain is configured manually by the user. Either the domain has no SSL support or a user-obtained SSL certificate has been explicitly mapped to this domain."
          ],
          "type": "string",
          "enum": [
            "SSL_MANAGEMENT_TYPE_UNSPECIFIED",
            "AUTOMATIC",
            "MANUAL"
          ],
          "description": "SSL management type for this domain. If AUTOMATIC, a managed certificate is automatically provisioned. If MANUAL, certificate_id must be manually specified in order to configure SSL for this domain."
        },
        "certificateId": {
          "description": "ID of the AuthorizedCertificate resource configuring SSL for the application. Clearing this field will remove SSL support.By default, a managed certificate is automatically created for every domain mapping. To omit SSL support or to configure SSL manually, specify SslManagementType.MANUAL on a CREATE or UPDATE request. You must be authorized to administer the AuthorizedCertificate resource to manually map it to a DomainMapping resource. Example: 12345.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AuthorizedDomain": {
      "id": "AuthorizedDomain",
      "description": "A domain that a user has been authorized to administer. To authorize use of a domain, verify ownership via Search Console (https://search.google.com/search-console/welcome).",
      "properties": {
        "name": {
          "type": "string",
          "description": "Full path to the AuthorizedDomain resource in the API. Example: apps/myapp/authorizedDomains/example.com.@OutputOnly"
        },
        "id": {
          "description": "Fully qualified domain name of the domain authorized for use. Example: example.com.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Service": {
      "id": "Service",
      "description": "A Service resource is a logical component of an application that can share state and communicate in a secure fashion with other services. For example, an application that handles customer requests might include separate services to handle tasks such as backend data analysis or API requests from mobile devices. Each service has a collection of versions that define a specific set of code used to implement the functionality of that service.",
      "properties": {
        "split": {
          "description": "Mapping that defines fractional HTTP traffic diversion to different versions within the service.",
          "$ref": "TrafficSplit"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "A set of labels to apply to this service. Labels are key/value pairs that describe the service and all resources that belong to it (e.g., versions). The labels can be used to search and group resources, and are propagated to the usage and billing reports, enabling fine-grain analysis of costs. An example of using labels is to tag resources belonging to different environments (e.g., \"env=prod\", \"env=qa\"). Label keys and values can be no longer than 63 characters and can only contain lowercase letters, numeric characters, underscores, dashes, and international characters. Label keys must start with a lowercase letter or an international character. Each service can have at most 32 labels."
        },
        "networkSettings": {
          "description": "Ingress settings for this service. Will apply to all versions.",
          "$ref": "NetworkSettings"
        },
        "generatedCustomerMetadata": {
          "description": "Additional Google Generated Customer Metadata, this field won't be provided by default and can be requested by setting the IncludeExtraData field in GetServiceRequest",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "name": {
          "type": "string",
          "description": "Output only. Full path to the Service resource in the API. Example: apps/myapp/services/default.@OutputOnly",
          "readOnly": true
        },
        "id": {
          "description": "Output only. Relative name of the service within the application. Example: default.@OutputOnly",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "BatchUpdateIngressRulesRequest": {
      "type": "object",
      "id": "BatchUpdateIngressRulesRequest",
      "description": "Request message for Firewall.BatchUpdateIngressRules.",
      "properties": {
        "ingressRules": {
          "description": "A list of FirewallRules to replace the existing set.",
          "type": "array",
          "items": {
            "$ref": "FirewallRule"
          }
        }
      }
    },
    "Deployment": {
      "type": "object",
      "id": "Deployment",
      "description": "Code and application artifacts used to deploy a version to App Engine.",
      "properties": {
        "zip": {
          "description": "The zip file for this deployment, if this is a zip deployment.",
          "$ref": "ZipInfo"
        },
        "files": {
          "description": "Manifest of the files stored in Google Cloud Storage that are included as part of this version. All files must be readable using the credentials supplied with this call.",
          "type": "object",
          "additionalProperties": {
            "$ref": "FileInfo"
          }
        },
        "cloudBuildOptions": {
          "description": "Options for any Google Cloud Build builds created as a part of this deployment.These options will only be used if a new build is created, such as when deploying to the App Engine flexible environment using files or zip.",
          "$ref": "CloudBuildOptions"
        },
        "container": {
          "description": "The Docker image for the container that runs the version. Only applicable for instances running in the App Engine flexible environment.",
          "$ref": "ContainerInfo"
        }
      }
    },
    "CloudBuildOptions": {
      "type": "object",
      "id": "CloudBuildOptions",
      "description": "Options for the build operations performed as a part of the version deployment. Only applicable for App Engine flexible environment when creating a version using source code directly.",
      "properties": {
        "appYamlPath": {
          "description": "Path to the yaml file used in deployment, used to determine runtime configuration details.Required for flexible environment builds.See https://cloud.google.com/appengine/docs/standard/python/config/appref for more details.",
          "type": "string"
        },
        "cloudBuildTimeout": {
          "description": "The Cloud Build timeout used as part of any dependent builds performed by version creation. Defaults to 10 minutes.",
          "type": "string",
          "format": "google-duration"
        }
      }
    },
    "VpcAccessConnector": {
      "id": "VpcAccessConnector",
      "description": "VPC access connector specification.",
      "properties": {
        "egressSetting": {
          "description": "The egress setting for the connector, controlling what traffic is diverted through it.",
          "enumDescriptions": [
            "",
            "Force the use of VPC Access for all egress traffic from the function.",
            "Use the VPC Access Connector for private IP space from RFC1918."
          ],
          "type": "string",
          "enum": [
            "EGRESS_SETTING_UNSPECIFIED",
            "ALL_TRAFFIC",
            "PRIVATE_IP_RANGES"
          ]
        },
        "name": {
          "type": "string",
          "description": "Full Serverless VPC Access Connector name e.g. projects/my-project/locations/us-central1/connectors/c1."
        }
      },
      "type": "object"
    },
    "ReadinessCheck": {
      "id": "ReadinessCheck",
      "description": "Readiness checking configuration for VM instances. Unhealthy instances are removed from traffic rotation.",
      "properties": {
        "checkInterval": {
          "description": "Interval between health checks.",
          "format": "google-duration",
          "type": "string"
        },
        "path": {
          "description": "The request path.",
          "type": "string"
        },
        "successThreshold": {
          "description": "Number of consecutive successful checks required before receiving traffic.",
          "type": "integer",
          "format": "uint32"
        },
        "failureThreshold": {
          "description": "Number of consecutive failed checks required before removing traffic.",
          "format": "uint32",
          "type": "integer"
        },
        "timeout": {
          "description": "Time before the check is considered failed.",
          "format": "google-duration",
          "type": "string"
        },
        "host": {
          "type": "string",
          "description": "Host header to send when performing a HTTP Readiness check. Example: \"myapp.appspot.com\""
        },
        "appStartTimeout": {
          "format": "google-duration",
          "type": "string",
          "description": "A maximum time limit on application initialization, measured from moment the application successfully replies to a healthcheck until it is ready to serve traffic."
        }
      },
      "type": "object"
    },
    "Date": {
      "type": "object",
      "id": "Date",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: A full date, with non-zero year, month, and day values. A month and day, with a zero year (for example, an anniversary). A year on its own, with a zero month and a zero day. A year and month, with a zero day (for example, a credit card expiration date).Related types: google.type.TimeOfDay google.type.DateTime google.protobuf.Timestamp",
      "properties": {
        "month": {
          "format": "int32",
          "type": "integer",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
        },
        "year": {
          "format": "int32",
          "type": "integer",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
        },
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ScriptHandler": {
      "id": "ScriptHandler",
      "description": "Executes a script to handle the request that matches the URL pattern.",
      "properties": {
        "scriptPath": {
          "description": "Path to the script from the application root directory.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "HealthCheck": {
      "type": "object",
      "id": "HealthCheck",
      "description": "Health checking configuration for VM instances. Unhealthy instances are killed and replaced with new instances. Only applicable for instances in App Engine flexible environment.",
      "properties": {
        "host": {
          "type": "string",
          "description": "Host header to send when performing an HTTP health check. Example: \"myapp.appspot.com\""
        },
        "timeout": {
          "format": "google-duration",
          "type": "string",
          "description": "Time before the health check is considered failed."
        },
        "disableHealthCheck": {
          "type": "boolean",
          "description": "Whether to explicitly disable health checks for this instance."
        },
        "healthyThreshold": {
          "description": "Number of consecutive successful health checks required before receiving traffic.",
          "format": "uint32",
          "type": "integer"
        },
        "unhealthyThreshold": {
          "type": "integer",
          "format": "uint32",
          "description": "Number of consecutive failed health checks required before removing traffic."
        },
        "checkInterval": {
          "format": "google-duration",
          "type": "string",
          "description": "Interval between health checks."
        },
        "restartThreshold": {
          "description": "Number of consecutive failed health checks required before an instance is restarted.",
          "type": "integer",
          "format": "uint32"
        }
      }
    },
    "GoogleAppengineV1betaLocationMetadata": {
      "type": "object",
      "id": "GoogleAppengineV1betaLocationMetadata",
      "description": "Metadata for the given google.cloud.location.Location.",
      "properties": {
        "standardEnvironmentAvailable": {
          "type": "boolean",
          "description": "App Engine standard environment is available in the given location.@OutputOnly"
        },
        "flexibleEnvironmentAvailable": {
          "type": "boolean",
          "description": "App Engine flexible environment is available in the given location.@OutputOnly"
        },
        "searchApiAvailable": {
          "type": "boolean",
          "description": "Output only. Search API (https://cloud.google.com/appengine/docs/standard/python/search) is available in the given location.",
          "readOnly": true
        }
      }
    },
    "ListVersionsResponse": {
      "id": "ListVersionsResponse",
      "description": "Response message for Versions.ListVersions.",
      "properties": {
        "versions": {
          "items": {
            "$ref": "Version"
          },
          "type": "array",
          "description": "The versions belonging to the requested service."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token for fetching the next page of results."
        }
      },
      "type": "object"
    },
    "UrlDispatchRule": {
      "id": "UrlDispatchRule",
      "description": "Rules to match an HTTP request and dispatch that request to a service.",
      "properties": {
        "service": {
          "description": "Resource ID of a service in this application that should serve the matched request. The service must already exist. Example: default.",
          "type": "string"
        },
        "domain": {
          "type": "string",
          "description": "Domain name to match against. The wildcard \"*\" is supported if specified before a period: \"*.\".Defaults to matching all domains: \"*\"."
        },
        "path": {
          "type": "string",
          "description": "Pathname within the host. Must start with a \"/\". A single \"*\" can be included at the end of the path.The sum of the lengths of the domain and path may not exceed 100 characters."
        }
      },
      "type": "object"
    },
    "Resources": {
      "id": "Resources",
      "description": "Machine resources for a version.",
      "properties": {
        "volumes": {
          "description": "User specified volumes.",
          "items": {
            "$ref": "Volume"
          },
          "type": "array"
        },
        "kmsKeyReference": {
          "description": "The name of the encryption key that is stored in Google Cloud KMS. Only should be used by Cloud Composer to encrypt the vm disk",
          "type": "string"
        },
        "memoryGb": {
          "description": "Memory (GB) needed.",
          "type": "number",
          "format": "double"
        },
        "cpu": {
          "description": "Number of CPU cores needed.",
          "format": "double",
          "type": "number"
        },
        "diskGb": {
          "type": "number",
          "format": "double",
          "description": "Disk size (GB) needed."
        }
      },
      "type": "object"
    },
    "RepairApplicationRequest": {
      "id": "RepairApplicationRequest",
      "description": "Request message for 'Applications.RepairApplication'.",
      "properties": {},
      "type": "object"
    },
    "ZipInfo": {
      "id": "ZipInfo",
      "description": "The zip file information for a zip deployment.",
      "properties": {
        "sourceUrl": {
          "type": "string",
          "description": "URL of the zip file to deploy from. Must be a URL to a resource in Google Cloud Storage in the form 'http(s)://storage.googleapis.com//'."
        },
        "filesCount": {
          "description": "An estimate of the number of files in a zip for a zip deployment. If set, must be greater than or equal to the actual number of files. Used for optimizing performance; if not provided, deployment may be slow.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "FirewallRule": {
      "type": "object",
      "id": "FirewallRule",
      "description": "A single firewall rule that is evaluated against incoming traffic and provides an action to take on matched requests. A positive integer between 1, Int32.MaxValue-1 that defines the order of rule evaluation. Rules with the lowest priority are evaluated first.A default rule at priority Int32.MaxValue matches all IPv4 and IPv6 traffic when no previous rule matches. Only the action of this rule can be modified by the user.",
      "properties": {
        "priority": {
          "type": "integer",
          "format": "int32"
        },
        "sourceRange": {
          "type": "string",
          "description": "IP address or range, defined using CIDR notation, of requests that this rule applies to. You can use the wildcard character \"*\" to match all IPs equivalent to \"0/0\" and \"::/0\" together. Examples: 192.168.1.1 or 192.168.0.0/16 or 2001:db8::/32 or 2001:0db8:0000:0042:0000:8a2e:0370:7334. Truncation will be silently performed on addresses which are not properly truncated. For example, 1.2.3.4/24 is accepted as the same address as 1.2.3.0/24. Similarly, for IPv6, 2001:db8::1/32 is accepted as the same address as 2001:db8::/32."
        },
        "action": {
          "type": "string",
          "enum": [
            "UNSPECIFIED_ACTION",
            "ALLOW",
            "DENY"
          ],
          "enumDescriptions": [
            "",
            "Matching requests are allowed.",
            "Matching requests are denied."
          ],
          "description": "The action to take on matched requests."
        },
        "description": {
          "description": "An optional string description of this rule. This field has a maximum length of 400 characters.",
          "type": "string"
        }
      }
    },
    "Location": {
      "type": "object",
      "id": "Location",
      "description": "A resource that represents a Google Cloud location.",
      "properties": {
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"} ",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "locationId": {
          "description": "The canonical id for this location. For example: \"us-east1\".",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata. For example the available capacity at the given location."
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: \"projects/example-project/locations/us-east1\"",
          "type": "string"
        }
      }
    },
    "ManualScaling": {
      "id": "ManualScaling",
      "description": "A service with manual scaling runs continuously, allowing you to perform complex initialization and rely on the state of its memory over time.",
      "properties": {
        "instances": {
          "description": "Number of instances to assign to the service at the start. This number can later be altered by using the Modules API (https://cloud.google.com/appengine/docs/python/modules/functions) set_num_instances() function.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Runtime": {
      "type": "object",
      "id": "Runtime",
      "description": "Runtime versions for App Engine.",
      "properties": {
        "warnings": {
          "description": "Warning messages, e.g., a deprecation warning.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "displayName": {
          "type": "string",
          "description": "User-friendly display name, e.g. 'Node.js 12', etc."
        },
        "endOfSupportDate": {
          "description": "Date when Runtime is end of support.",
          "$ref": "Date"
        },
        "deprecationDate": {
          "description": "Date when Runtime is deprecated.",
          "$ref": "Date"
        },
        "name": {
          "type": "string",
          "description": "The name of the runtime, e.g., 'go113', 'nodejs12', etc."
        },
        "decommissionedDate": {
          "description": "Date when Runtime is decommissioned.",
          "$ref": "Date"
        },
        "supportedOperatingSystems": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Supported operating systems for the runtime, e.g., 'ubuntu22', etc."
        },
        "environment": {
          "description": "The environment of the runtime.",
          "type": "string",
          "enum": [
            "ENVIRONMENT_UNSPECIFIED",
            "STANDARD",
            "FLEXIBLE"
          ],
          "enumDescriptions": [
            "Default value.",
            "App Engine Standard.",
            "App Engine Flexible"
          ]
        },
        "stage": {
          "enumDescriptions": [
            "Not specified.",
            "The runtime is in development.",
            "The runtime is in the Alpha stage.",
            "The runtime is in the Beta stage.",
            "The runtime is generally available.",
            "The runtime is deprecated.",
            "The runtime is no longer supported.",
            "The runtime is end of support."
          ],
          "type": "string",
          "enum": [
            "RUNTIME_STAGE_UNSPECIFIED",
            "DEVELOPMENT",
            "ALPHA",
            "BETA",
            "GA",
            "DEPRECATED",
            "DECOMMISSIONED",
            "END_OF_SUPPORT"
          ],
          "description": "The stage of life this runtime is in, e.g., BETA, GA, etc."
        }
      }
    },
    "UrlMap": {
      "id": "UrlMap",
      "description": "URL pattern and description of how the URL should be handled. App Engine can handle URLs by executing application code or by serving static files uploaded with the version, such as images, CSS, or JavaScript.",
      "properties": {
        "apiEndpoint": {
          "description": "Uses API Endpoints to handle requests.",
          "$ref": "ApiEndpointHandler"
        },
        "authFailAction": {
          "description": "Action to take when users access resources that require authentication. Defaults to redirect.",
          "enumDescriptions": [
            "Not specified. AUTH_FAIL_ACTION_REDIRECT is assumed.",
            "Redirects user to \"accounts.google.com\". The user is redirected back to the application URL after signing in or creating an account.",
            "Rejects request with a 401 HTTP status code and an error message."
          ],
          "type": "string",
          "enum": [
            "AUTH_FAIL_ACTION_UNSPECIFIED",
            "AUTH_FAIL_ACTION_REDIRECT",
            "AUTH_FAIL_ACTION_UNAUTHORIZED"
          ]
        },
        "redirectHttpResponseCode": {
          "enumDescriptions": [
            "Not specified. 302 is assumed.",
            "301 Moved Permanently code.",
            "302 Moved Temporarily code.",
            "303 See Other code.",
            "307 Temporary Redirect code."
          ],
          "type": "string",
          "enum": [
            "REDIRECT_HTTP_RESPONSE_CODE_UNSPECIFIED",
            "REDIRECT_HTTP_RESPONSE_CODE_301",
            "REDIRECT_HTTP_RESPONSE_CODE_302",
            "REDIRECT_HTTP_RESPONSE_CODE_303",
            "REDIRECT_HTTP_RESPONSE_CODE_307"
          ],
          "description": "30x code to use when performing redirects for the secure field. Defaults to 302."
        },
        "staticFiles": {
          "description": "Returns the contents of a file, such as an image, as the response.",
          "$ref": "StaticFilesHandler"
        },
        "login": {
          "type": "string",
          "enum": [
            "LOGIN_UNSPECIFIED",
            "LOGIN_OPTIONAL",
            "LOGIN_ADMIN",
            "LOGIN_REQUIRED"
          ],
          "enumDescriptions": [
            "Not specified. LOGIN_OPTIONAL is assumed.",
            "Does not require that the user is signed in.",
            "If the user is not signed in, the auth_fail_action is taken. In addition, if the user is not an administrator for the application, they are given an error message regardless of auth_fail_action. If the user is an administrator, the handler proceeds.",
            "If the user has signed in, the handler proceeds normally. Otherwise, the auth_fail_action is taken."
          ],
          "description": "Level of login required to access this resource. Not supported for Node.js in the App Engine standard environment."
        },
        "securityLevel": {
          "enumDescriptions": [
            "Not specified.",
            "Both HTTP and HTTPS requests with URLs that match the handler succeed without redirects. The application can examine the request to determine which protocol was used, and respond accordingly.",
            "Requests for a URL that match this handler that use HTTPS are automatically redirected to the HTTP equivalent URL.",
            "Both HTTP and HTTPS requests with URLs that match the handler succeed without redirects. The application can examine the request to determine which protocol was used and respond accordingly.",
            "Requests for a URL that match this handler that do not use HTTPS are automatically redirected to the HTTPS URL with the same path. Query parameters are reserved for the redirect."
          ],
          "type": "string",
          "enum": [
            "SECURE_UNSPECIFIED",
            "SECURE_DEFAULT",
            "SECURE_NEVER",
            "SECURE_OPTIONAL",
            "SECURE_ALWAYS"
          ],
          "description": "Security (HTTPS) enforcement for this URL."
        },
        "urlRegex": {
          "type": "string",
          "description": "URL prefix. Uses regular expression syntax, which means regexp special characters must be escaped, but should not contain groupings. All URLs that begin with this prefix are handled by this handler, using the portion of the URL after the prefix as part of the file path."
        },
        "script": {
          "description": "Executes a script to handle the requests that match this URL pattern. Only the auto value is supported for Node.js in the App Engine standard environment, for example \"script\": \"auto\".",
          "$ref": "ScriptHandler"
        }
      },
      "type": "object"
    },
    "OperationMetadataV1": {
      "id": "OperationMetadataV1",
      "description": "Metadata for the given google.longrunning.Operation.",
      "properties": {
        "method": {
          "type": "string",
          "description": "API method that initiated this operation. Example: google.appengine.v1.Versions.CreateVersion.@OutputOnly"
        },
        "user": {
          "type": "string",
          "description": "User who requested this operation.@OutputOnly"
        },
        "createVersionMetadata": {
          "$ref": "CreateVersionMetadataV1"
        },
        "insertTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time that this operation was created.@OutputOnly"
        },
        "ephemeralMessage": {
          "type": "string",
          "description": "Ephemeral message that may change every time the operation is polled. @OutputOnly"
        },
        "warning": {
          "description": "Durable messages that persist on every operation poll. @OutputOnly",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time that this operation completed.@OutputOnly"
        },
        "target": {
          "type": "string",
          "description": "Name of the resource that this operation is acting on. Example: apps/myapp/services/default.@OutputOnly"
        }
      },
      "type": "object"
    },
    "AutomaticScaling": {
      "type": "object",
      "id": "AutomaticScaling",
      "description": "Automatic scaling is based on request rate, response latencies, and other application metrics.",
      "properties": {
        "cpuUtilization": {
          "description": "Target scaling by CPU usage.",
          "$ref": "CpuUtilization"
        },
        "minPendingLatency": {
          "description": "Minimum amount of time a request should wait in the pending queue before starting a new instance to handle it.",
          "format": "google-duration",
          "type": "string"
        },
        "minTotalInstances": {
          "description": "Minimum number of running instances that should be maintained for this version.",
          "type": "integer",
          "format": "int32"
        },
        "maxIdleInstances": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum number of idle instances that should be maintained for this version."
        },
        "minIdleInstances": {
          "type": "integer",
          "format": "int32",
          "description": "Minimum number of idle instances that should be maintained for this version. Only applicable for the default version of a service."
        },
        "networkUtilization": {
          "description": "Target scaling by network usage.",
          "$ref": "NetworkUtilization"
        },
        "coolDownPeriod": {
          "type": "string",
          "format": "google-duration",
          "description": "The time period that the Autoscaler (https://cloud.google.com/compute/docs/autoscaler/) should wait before it starts collecting information from a new instance. This prevents the autoscaler from collecting information when the instance is initializing, during which the collected usage would not be reliable. Only applicable in the App Engine flexible environment."
        },
        "maxTotalInstances": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum number of instances that should be started to handle requests for this version."
        },
        "maxPendingLatency": {
          "description": "Maximum amount of time that a request should wait in the pending queue before starting a new instance to handle it.",
          "format": "google-duration",
          "type": "string"
        },
        "requestUtilization": {
          "description": "Target scaling by request utilization.",
          "$ref": "RequestUtilization"
        },
        "diskUtilization": {
          "description": "Target scaling by disk usage.",
          "$ref": "DiskUtilization"
        },
        "maxConcurrentRequests": {
          "format": "int32",
          "type": "integer",
          "description": "Number of concurrent requests an automatic scaling instance can accept before the scheduler spawns a new instance.Defaults to a runtime-specific value."
        },
        "standardSchedulerSettings": {
          "description": "Scheduler settings for standard environment.",
          "$ref": "StandardSchedulerSettings"
        }
      }
    },
    "LocationMetadata": {
      "id": "LocationMetadata",
      "description": "Metadata for the given google.cloud.location.Location.",
      "properties": {
        "standardEnvironmentAvailable": {
          "type": "boolean",
          "description": "App Engine standard environment is available in the given location.@OutputOnly"
        },
        "flexibleEnvironmentAvailable": {
          "description": "App Engine flexible environment is available in the given location.@OutputOnly",
          "type": "boolean"
        },
        "searchApiAvailable": {
          "description": "Output only. Search API (https://cloud.google.com/appengine/docs/standard/python/search) is available in the given location.",
          "readOnly": true,
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "ListAuthorizedCertificatesResponse": {
      "id": "ListAuthorizedCertificatesResponse",
      "description": "Response message for AuthorizedCertificates.ListAuthorizedCertificates.",
      "properties": {
        "certificates": {
          "items": {
            "$ref": "AuthorizedCertificate"
          },
          "type": "array",
          "description": "The SSL certificates the user is authorized to administer."
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Status": {
      "id": "Status",
      "description": "The Status type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by gRPC (https://github.com/grpc). Each Status message contains three pieces of data: error code, error message, and error details.You can find out more about this error model and how to work with it in the API Design Guide (https://cloud.google.com/apis/design/errors).",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          }
        },
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        }
      },
      "type": "object"
    },
    "IdentityAwareProxy": {
      "id": "IdentityAwareProxy",
      "description": "Identity-Aware Proxy",
      "properties": {
        "oauth2ClientSecret": {
          "type": "string",
          "description": "OAuth2 client secret to use for the authentication flow.For security reasons, this value cannot be retrieved via the API. Instead, the SHA-256 hash of the value is returned in the oauth2_client_secret_sha256 field.@InputOnly"
        },
        "oauth2ClientSecretSha256": {
          "description": "Output only. Hex-encoded SHA-256 hash of the client secret.@OutputOnly",
          "readOnly": true,
          "type": "string"
        },
        "oauth2ClientId": {
          "description": "OAuth2 client ID to use for the authentication flow.",
          "type": "string"
        },
        "enabled": {
          "type": "boolean",
          "description": "Whether the serving infrastructure will authenticate and authorize all incoming requests.If true, the oauth2_client_id and oauth2_client_secret fields must be non-empty."
        }
      },
      "type": "object"
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } ",
      "properties": {},
      "type": "object"
    },
    "ContainerState": {
      "type": "object",
      "id": "ContainerState",
      "description": "ContainerState contains the externally-visible container state that is used to communicate the state and reasoning for that state to the CLH. This data is not persisted by CCFE, but is instead derived from CCFE's internal representation of the container state.",
      "properties": {
        "previousReasons": {
          "description": "The previous and current reasons for a container state will be sent for a container event. CLHs that need to know the signal that caused the container event to trigger (edges) as opposed to just knowing the state can act upon differences in the previous and current reasons.Reasons will be provided for every system: service management, data governance, abuse, and billing.If this is a CCFE-triggered event used for reconciliation then the current reasons will be set to their *_CONTROL_PLANE_SYNC state. The previous reasons will contain the last known set of non-unknown non-control_plane_sync reasons for the state.",
          "$ref": "Reasons"
        },
        "currentReasons": {
          "$ref": "Reasons"
        },
        "state": {
          "enumDescriptions": [
            "A container should never be in an unknown state. Receipt of a container with this state is an error.",
            "CCFE considers the container to be serving or transitioning into serving.",
            "CCFE considers the container to be in an OFF state. This could occur due to various factors. The state could be triggered by Google-internal audits (ex. abuse suspension, billing closed) or cleanups trigged by compliance systems (ex. data governance hide). User-initiated events such as service management deactivation trigger a container to an OFF state.CLHs might choose to do nothing in this case or to turn off costly resources. CLHs need to consider the customer experience if an ON/OFF/ON sequence of state transitions occurs vs. the cost of deleting resources, keeping metadata about resources, or even keeping resources live for a period of time.CCFE will not send any new customer requests to the CLH when the container is in an OFF state. However, CCFE will allow all previous customer requests relayed to CLH to complete.",
            "This state indicates that the container has been (or is being) completely removed. This is often due to a data governance purge request and therefore resources should be deleted when this state is reached."
          ],
          "type": "string",
          "enum": [
            "UNKNOWN_STATE",
            "ON",
            "OFF",
            "DELETED"
          ],
          "description": "The current state of the container. This state is the culmination of all of the opinions from external systems that CCFE knows about of the container."
        }
      }
    },
    "ProjectsMetadata": {
      "type": "object",
      "id": "ProjectsMetadata",
      "description": "ProjectsMetadata is the metadata CCFE stores about the all the relevant projects (tenant, consumer, producer).",
      "properties": {
        "producerProjectId": {
          "description": "The producer project id.",
          "type": "string"
        },
        "consumerProjectNumber": {
          "description": "The consumer project number.",
          "type": "string",
          "format": "int64"
        },
        "producerProjectNumber": {
          "description": "The producer project number.",
          "type": "string",
          "format": "int64"
        },
        "consumerProjectId": {
          "type": "string",
          "description": "The consumer project id."
        },
        "tenantProjectId": {
          "description": "The tenant project id.",
          "type": "string"
        },
        "gceTag": {
          "description": "The GCE tags associated with the consumer project and those inherited due to their ancestry, if any. Not supported by CCFE.",
          "items": {
            "$ref": "GceTag"
          },
          "type": "array"
        },
        "p4ServiceAccount": {
          "type": "string",
          "description": "The service account authorized to operate on the consumer project. Note: CCFE only propagates P4SA with default tag to CLH."
        },
        "tenantProjectNumber": {
          "description": "The tenant project number.",
          "type": "string",
          "format": "int64"
        },
        "consumerProjectState": {
          "description": "The CCFE state of the consumer project. It is the same state that is communicated to the CLH during project events. Notice that this field is not set in the DB, it is only set in this proto when communicated to CLH in the side channel.",
          "type": "string",
          "enum": [
            "UNKNOWN_STATE",
            "ON",
            "OFF",
            "DELETED"
          ],
          "enumDescriptions": [
            "A container should never be in an unknown state. Receipt of a container with this state is an error.",
            "CCFE considers the container to be serving or transitioning into serving.",
            "CCFE considers the container to be in an OFF state. This could occur due to various factors. The state could be triggered by Google-internal audits (ex. abuse suspension, billing closed) or cleanups trigged by compliance systems (ex. data governance hide). User-initiated events such as service management deactivation trigger a container to an OFF state.CLHs might choose to do nothing in this case or to turn off costly resources. CLHs need to consider the customer experience if an ON/OFF/ON sequence of state transitions occurs vs. the cost of deleting resources, keeping metadata about resources, or even keeping resources live for a period of time.CCFE will not send any new customer requests to the CLH when the container is in an OFF state. However, CCFE will allow all previous customer requests relayed to CLH to complete.",
            "This state indicates that the container has been (or is being) completely removed. This is often due to a data governance purge request and therefore resources should be deleted when this state is reached."
          ]
        },
        "isGceProjectDeprovisioning": {
          "type": "boolean",
          "description": "DEPRECATED: Indicates whether the GCE project is in the DEPROVISIONING state. This field is a temporary workaround (see b/475310865) to allow GCE extensions to bypass certain checks during deprovisioning. It will be replaced by a permanent solution in the future.",
          "deprecated": true
        }
      }
    },
    "ContainerInfo": {
      "id": "ContainerInfo",
      "description": "Docker image that is used to create a container and start a VM instance for the version that you deploy. Only applicable for instances running in the App Engine flexible environment.",
      "properties": {
        "image": {
          "type": "string",
          "description": "URI to the hosted container image in Google Container Registry. The URI must be fully qualified and include a tag or digest. Examples: \"gcr.io/my-project/image:tag\" or \"gcr.io/my-project/image@digest\""
        }
      },
      "type": "object"
    },
    "NetworkUtilization": {
      "type": "object",
      "id": "NetworkUtilization",
      "description": "Target scaling by network usage. Only applicable in the App Engine flexible environment.",
      "properties": {
        "targetSentBytesPerSecond": {
          "description": "Target bytes sent per second.",
          "type": "integer",
          "format": "int32"
        },
        "targetReceivedBytesPerSecond": {
          "type": "integer",
          "format": "int32",
          "description": "Target bytes received per second."
        },
        "targetSentPacketsPerSecond": {
          "type": "integer",
          "format": "int32",
          "description": "Target packets sent per second."
        },
        "targetReceivedPacketsPerSecond": {
          "format": "int32",
          "type": "integer",
          "description": "Target packets received per second."
        }
      }
    },
    "RequestUtilization": {
      "id": "RequestUtilization",
      "description": "Target scaling by request utilization. Only applicable in the App Engine flexible environment.",
      "properties": {
        "targetRequestCountPerSecond": {
          "description": "Target requests per second.",
          "format": "int32",
          "type": "integer"
        },
        "targetConcurrentRequests": {
          "type": "integer",
          "format": "int32",
          "description": "Target number of concurrent requests."
        }
      },
      "type": "object"
    },
    "BatchUpdateIngressRulesResponse": {
      "type": "object",
      "id": "BatchUpdateIngressRulesResponse",
      "description": "Response message for Firewall.UpdateAllIngressRules.",
      "properties": {
        "ingressRules": {
          "description": "The full list of ingress FirewallRules for this application.",
          "items": {
            "$ref": "FirewallRule"
          },
          "type": "array"
        }
      }
    },
    "ListDomainMappingsResponse": {
      "type": "object",
      "id": "ListDomainMappingsResponse",
      "description": "Response message for DomainMappings.ListDomainMappings.",
      "properties": {
        "domainMappings": {
          "description": "The domain mappings for the application.",
          "type": "array",
          "items": {
            "$ref": "DomainMapping"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token for fetching the next page of results."
        }
      }
    },
    "NetworkSettings": {
      "type": "object",
      "id": "NetworkSettings",
      "description": "A NetworkSettings resource is a container for ingress settings for a version or service.",
      "properties": {
        "ingressTrafficAllowed": {
          "description": "The ingress settings for version or service.",
          "type": "string",
          "enum": [
            "INGRESS_TRAFFIC_ALLOWED_UNSPECIFIED",
            "INGRESS_TRAFFIC_ALLOWED_ALL",
            "INGRESS_TRAFFIC_ALLOWED_INTERNAL_ONLY",
            "INGRESS_TRAFFIC_ALLOWED_INTERNAL_AND_LB"
          ],
          "enumDescriptions": [
            "Unspecified",
            "Allow HTTP traffic from public and private sources.",
            "Allow HTTP traffic from only private VPC sources.",
            "Allow HTTP traffic from private VPC sources and through load balancers."
          ]
        }
      }
    },
    "BasicScaling": {
      "id": "BasicScaling",
      "description": "A service with basic scaling will create an instance when the application receives a request. The instance will be turned down when the app becomes idle. Basic scaling is ideal for work that is intermittent or driven by user activity.",
      "properties": {
        "idleTimeout": {
          "format": "google-duration",
          "type": "string",
          "description": "Duration of time after the last request that an instance must wait before the instance is shut down."
        },
        "maxInstances": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum number of instances to create for this version."
        }
      },
      "type": "object"
    },
    "ErrorHandler": {
      "type": "object",
      "id": "ErrorHandler",
      "description": "Custom static error page to be served when an error occurs.",
      "properties": {
        "errorCode": {
          "description": "Error condition this handler applies to.",
          "type": "string",
          "enum": [
            "ERROR_CODE_UNSPECIFIED",
            "ERROR_CODE_DEFAULT",
            "ERROR_CODE_OVER_QUOTA",
            "ERROR_CODE_DOS_API_DENIAL",
            "ERROR_CODE_TIMEOUT"
          ],
          "enumDescriptions": [
            "Not specified. ERROR_CODE_DEFAULT is assumed.",
            "All other error types.",
            "Application has exceeded a resource quota.",
            "Client blocked by the application's Denial of Service protection configuration.",
            "Deadline reached before the application responds."
          ]
        },
        "staticFile": {
          "type": "string",
          "description": "Static file content to be served for this error."
        },
        "mimeType": {
          "description": "MIME type of file. Defaults to text/html.",
          "type": "string"
        }
      }
    },
    "AuthorizedCertificate": {
      "id": "AuthorizedCertificate",
      "description": "An SSL certificate that a user has been authorized to administer. A user is authorized to administer any certificate that applies to one of their authorized domains.",
      "properties": {
        "certificateRawData": {
          "description": "The SSL certificate serving the AuthorizedCertificate resource. This must be obtained independently from a certificate authority.",
          "$ref": "CertificateRawData"
        },
        "id": {
          "description": "Output only. Relative name of the certificate. This is a unique value autogenerated on AuthorizedCertificate resource creation. Example: 12345.@OutputOnly",
          "readOnly": true,
          "type": "string"
        },
        "visibleDomainMappings": {
          "readOnly": true,
          "description": "Output only. The full paths to user visible Domain Mapping resources that have this certificate mapped. Example: apps/myapp/domainMappings/example.com.This may not represent the full list of mapped domain mappings if the user does not have VIEWER permissions on all of the applications that have this certificate mapped. See domain_mappings_count for a complete count.Only returned by GET or LIST requests when specifically requested by the view=FULL_CERTIFICATE option.@OutputOnly",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "domainMappingsCount": {
          "type": "integer",
          "format": "int32",
          "description": "Aggregate count of the domain mappings with this certificate mapped. This count includes domain mappings on applications for which the user does not have VIEWER permissions.Only returned by GET or LIST requests when specifically requested by the view=FULL_CERTIFICATE option.@OutputOnly"
        },
        "displayName": {
          "description": "The user-specified display name of the certificate. This is not guaranteed to be unique. Example: My Certificate.",
          "type": "string"
        },
        "managedCertificate": {
          "description": "Only applicable if this certificate is managed by App Engine. Managed certificates are tied to the lifecycle of a DomainMapping and cannot be updated or deleted via the AuthorizedCertificates API. If this certificate is manually administered by the user, this field will be empty.@OutputOnly",
          "$ref": "ManagedCertificate"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Full path to the AuthorizedCertificate resource in the API. Example: apps/myapp/authorizedCertificates/12345.@OutputOnly"
        },
        "expireTime": {
          "description": "The time when this certificate expires. To update the renewal time on this certificate, upload an SSL certificate with a different expiration time using AuthorizedCertificates.UpdateAuthorizedCertificate.@OutputOnly",
          "format": "google-datetime",
          "type": "string"
        },
        "domainNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. Topmost applicable domains of this certificate. This certificate applies to these domains and their subdomains. Example: example.com.@OutputOnly"
        }
      },
      "type": "object"
    },
    "DiskUtilization": {
      "id": "DiskUtilization",
      "description": "Target scaling by disk usage. Only applicable in the App Engine flexible environment.",
      "properties": {
        "targetWriteOpsPerSecond": {
          "type": "integer",
          "format": "int32",
          "description": "Target ops written per second."
        },
        "targetReadOpsPerSecond": {
          "format": "int32",
          "type": "integer",
          "description": "Target ops read per seconds."
        },
        "targetWriteBytesPerSecond": {
          "type": "integer",
          "format": "int32",
          "description": "Target bytes written per second."
        },
        "targetReadBytesPerSecond": {
          "format": "int32",
          "type": "integer",
          "description": "Target bytes read per second."
        }
      },
      "type": "object"
    },
    "FileInfo": {
      "type": "object",
      "id": "FileInfo",
      "description": "Single source file that is part of the version to be deployed. Each source file that is deployed must be specified separately.",
      "properties": {
        "mimeType": {
          "type": "string",
          "description": "The MIME type of the file.Defaults to the value from Google Cloud Storage."
        },
        "sourceUrl": {
          "description": "URL source to use to fetch this file. Must be a URL to a resource in Google Cloud Storage in the form 'http(s)://storage.googleapis.com//'.",
          "type": "string"
        },
        "sha1Sum": {
          "description": "The SHA1 hash of the file, in hex.",
          "type": "string"
        }
      }
    },
    "Reasons": {
      "type": "object",
      "id": "Reasons",
      "description": "Containers transition between and within states based on reasons sent from various systems. CCFE will provide the CLH with reasons for the current state per system.The current systems that CCFE supports are: Service Management (Inception) Data Governance (Wipeout) Abuse (Ares) Billing (Internal Cloud Billing API) Service Activation (Service Controller)",
      "properties": {
        "serviceManagement": {
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            true,
            true,
            true,
            true
          ],
          "enum": [
            "SERVICE_MANAGEMENT_UNKNOWN_REASON",
            "SERVICE_MANAGEMENT_CONTROL_PLANE_SYNC",
            "ACTIVATION",
            "PREPARE_DEACTIVATION",
            "ABORT_DEACTIVATION",
            "COMMIT_DEACTIVATION"
          ],
          "enumDescriptions": [
            "An unknown reason indicates that we have not received a signal from service management about this container. Since containers are created by request of service management, this reason should never be set.",
            "Due to various reasons CCFE might proactively restate a container state to a CLH to ensure that the CLH and CCFE are both aware of the container state. This reason can be tied to any of the states.",
            "When a customer activates an API CCFE notifies the CLH and sets the container to the ON state.",
            "When a customer deactivates and API service management starts a two-step process to perform the deactivation. The first step is to prepare. Prepare is a reason to put the container in a EXTERNAL_OFF state.",
            "If the deactivation is cancelled, service managed needs to abort the deactivation. Abort is a reason to put the container in an ON state.",
            "If the deactivation is followed through with, service management needs to finish deactivation. Commit is a reason to put the container in a DELETED state."
          ]
        },
        "abuse": {
          "type": "string",
          "enum": [
            "ABUSE_UNKNOWN_REASON",
            "ABUSE_CONTROL_PLANE_SYNC",
            "SUSPEND",
            "REINSTATE"
          ],
          "enumDescriptions": [
            "An unknown reason indicates that the abuse system has not sent a signal for this container.",
            "Due to various reasons CCFE might proactively restate a container state to a CLH to ensure that the CLH and CCFE are both aware of the container state. This reason can be tied to any of the states.",
            "If a container is deemed abusive we receive a suspend signal. Suspend is a reason to put the container into an INTERNAL_OFF state.",
            "Containers that were once considered abusive can later be deemed non-abusive. When this happens we must reinstate the container. Reinstate is a reason to put the container into an ON state."
          ]
        },
        "billing": {
          "type": "string",
          "enum": [
            "BILLING_UNKNOWN_REASON",
            "BILLING_CONTROL_PLANE_SYNC",
            "PROBATION",
            "CLOSE",
            "OPEN"
          ],
          "enumDescriptions": [
            "An unknown reason indicates that the billing system has not sent a signal for this container.",
            "Due to various reasons CCFE might proactively restate a container state to a CLH to ensure that the CLH and CCFE are both aware of the container state. This reason can be tied to any of the states.",
            "Minor infractions cause a probation signal to be sent. Probation is a reason to put the container into a ON state even though it is a negative signal. CCFE will block mutations for this container while it is on billing probation, but the CLH is expected to serve non-mutation requests.",
            "When a billing account is closed, it is a stronger signal about non-payment. Close is a reason to put the container into an INTERNAL_OFF state.",
            "Consumers can re-open billing accounts and update accounts to pull them out of probation. When this happens, we get a signal that the account is open. Open is a reason to put the container into an ON state."
          ]
        },
        "dataGovernance": {
          "enumDescriptions": [
            "An unknown reason indicates that data governance has not sent a signal for this container.",
            "Due to various reasons CCFE might proactively restate a container state to a CLH to ensure that the CLH and CCFE are both aware of the container state. This reason can be tied to any of the states.",
            "When a container is deleted we retain some data for a period of time to allow the consumer to change their mind. Data governance sends a signal to hide the data when this occurs. Hide is a reason to put the container in an INTERNAL_OFF state.",
            "The decision to un-delete a container can be made. When this happens data governance tells us to unhide any hidden data. Unhide is a reason to put the container in an ON state.",
            "After a period of time data must be completely removed from our systems. When data governance sends a purge signal we need to remove data. Purge is a reason to put the container in a DELETED state. Purge is the only event that triggers a delete mutation. All other events have update semantics."
          ],
          "type": "string",
          "enum": [
            "DATA_GOVERNANCE_UNKNOWN_REASON",
            "DATA_GOVERNANCE_CONTROL_PLANE_SYNC",
            "HIDE",
            "UNHIDE",
            "PURGE"
          ]
        },
        "serviceActivation": {
          "type": "string",
          "enum": [
            "SERVICE_ACTIVATION_STATUS_UNSPECIFIED",
            "SERVICE_ACTIVATION_ENABLED",
            "SERVICE_ACTIVATION_DISABLED",
            "SERVICE_ACTIVATION_DISABLED_FULL",
            "SERVICE_ACTIVATION_UNKNOWN_REASON"
          ],
          "enumDescriptions": [
            "Default Unspecified status",
            "Service is active in the project.",
            "Service is disabled in the project recently i.e., within last 24 hours.",
            "Service has been disabled for configured grace_period (default 30 days).",
            "Happens when PSM cannot determine the status of service in a project Could happen due to variety of reasons like PERMISSION_DENIED or Project got deleted etc."
          ],
          "description": "Consumer Container denotes if the service is active within a project or not. This information could be used to clean up resources in case service in DISABLED_FULL i.e. Service is inactive > 30 days."
        }
      }
    },
    "FlexibleRuntimeSettings": {
      "type": "object",
      "id": "FlexibleRuntimeSettings",
      "description": "Runtime settings for the App Engine flexible environment.",
      "properties": {
        "operatingSystem": {
          "type": "string",
          "description": "The operating system of the application runtime."
        },
        "runtimeVersion": {
          "type": "string",
          "description": "The runtime version of an App Engine flexible application."
        }
      }
    },
    "CertificateRawData": {
      "type": "object",
      "id": "CertificateRawData",
      "description": "An SSL certificate obtained from a certificate authority.",
      "properties": {
        "publicCertificate": {
          "type": "string",
          "description": "PEM encoded x.509 public key certificate. This field is set once on certificate creation. Must include the header and footer. Example: -----BEGIN CERTIFICATE----- -----END CERTIFICATE----- "
        },
        "privateKey": {
          "description": "Unencrypted PEM encoded RSA private key. This field is set once on certificate creation and then encrypted. The key size must be 2048 bits or fewer. Must include the header and footer. Example: -----BEGIN RSA PRIVATE KEY----- -----END RSA PRIVATE KEY----- @InputOnly",
          "type": "string"
        }
      }
    },
    "Library": {
      "id": "Library",
      "description": "Third-party Python runtime library that is required by the application.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the library. Example: \"django\"."
        },
        "version": {
          "type": "string",
          "description": "Version of the library to select, or \"latest\"."
        }
      },
      "type": "object"
    },
    "ManagedCertificate": {
      "type": "object",
      "id": "ManagedCertificate",
      "description": "A certificate managed by App Engine.",
      "properties": {
        "lastRenewalTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time at which the certificate was last renewed. The renewal process is fully managed. Certificate renewal will automatically occur before the certificate expires. Renewal errors can be tracked via ManagementStatus.@OutputOnly"
        },
        "status": {
          "description": "Status of certificate management. Refers to the most recent certificate acquisition or renewal attempt.@OutputOnly",
          "type": "string",
          "enum": [
            "MANAGEMENT_STATUS_UNSPECIFIED",
            "OK",
            "PENDING",
            "FAILED_RETRYING_NOT_VISIBLE",
            "FAILED_PERMANENT",
            "FAILED_RETRYING_CAA_FORBIDDEN",
            "FAILED_RETRYING_CAA_CHECKING"
          ],
          "enumDescriptions": [
            "",
            "Certificate was successfully obtained and inserted into the serving system.",
            "Certificate is under active attempts to acquire or renew.",
            "Most recent renewal failed due to an invalid DNS setup and will be retried. Renewal attempts will continue to fail until the certificate domain's DNS configuration is fixed. The last successfully provisioned certificate may still be serving.",
            "All renewal attempts have been exhausted, likely due to an invalid DNS setup.",
            "Most recent renewal failed due to an explicit CAA record that does not include one of the in-use CAs (Google CA and Let's Encrypt). Renewals will continue to fail until the CAA is reconfigured. The last successfully provisioned certificate may still be serving.",
            "Most recent renewal failed due to a CAA retrieval failure. This means that the domain's DNS provider does not properly handle CAA records, failing requests for CAA records when no CAA records are defined. Renewals will continue to fail until the DNS provider is changed or a CAA record is added for the given domain. The last successfully provisioned certificate may still be serving."
          ]
        }
      }
    },
    "OperationMetadataV1Beta": {
      "id": "OperationMetadataV1Beta",
      "description": "Metadata for the given google.longrunning.Operation.",
      "properties": {
        "target": {
          "description": "Name of the resource that this operation is acting on. Example: apps/myapp/services/default.@OutputOnly",
          "type": "string"
        },
        "endTime": {
          "description": "Time that this operation completed.@OutputOnly",
          "format": "google-datetime",
          "type": "string"
        },
        "insertTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time that this operation was created.@OutputOnly"
        },
        "ephemeralMessage": {
          "description": "Ephemeral message that may change every time the operation is polled. @OutputOnly",
          "type": "string"
        },
        "warning": {
          "description": "Durable messages that persist on every operation poll. @OutputOnly",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "createVersionMetadata": {
          "$ref": "CreateVersionMetadataV1Beta"
        },
        "method": {
          "description": "API method that initiated this operation. Example: google.appengine.v1beta.Versions.CreateVersion.@OutputOnly",
          "type": "string"
        },
        "user": {
          "description": "User who requested this operation.@OutputOnly",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ProjectEvent": {
      "type": "object",
      "id": "ProjectEvent",
      "description": "The request sent to CLHs during project events.",
      "properties": {
        "state": {
          "description": "The state of the organization that led to this event.",
          "$ref": "ContainerState"
        },
        "eventId": {
          "type": "string",
          "description": "The unique ID for this project event. CLHs can use this value to dedup repeated calls. required"
        },
        "projectMetadata": {
          "description": "The projects metadata for this project. required",
          "$ref": "ProjectsMetadata"
        },
        "phase": {
          "description": "Phase indicates when in the container event propagation this event is being communicated. Events are sent before and after the per-resource events are propagated. required",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "CONTAINER_EVENT_PHASE_UNSPECIFIED",
            "BEFORE_RESOURCE_HANDLING",
            "AFTER_RESOURCE_HANDLING"
          ]
        }
      }
    },
    "FeatureSettings": {
      "type": "object",
      "id": "FeatureSettings",
      "description": "The feature specific settings to be used in the application. These define behaviors that are user configurable.",
      "properties": {
        "splitHealthChecks": {
          "description": "Boolean value indicating if split health checks should be used instead of the legacy health checks. At an app.yaml level, this means defaulting to 'readiness_check' and 'liveness_check' values instead of 'health_check' ones. Once the legacy 'health_check' behavior is deprecated, and this value is always true, this setting can be removed.",
          "type": "boolean"
        },
        "useContainerOptimizedOs": {
          "description": "If true, use Container-Optimized OS (https://cloud.google.com/container-optimized-os/) base image for VMs, rather than a base Debian image.",
          "type": "boolean"
        }
      }
    },
    "ListIngressRulesResponse": {
      "id": "ListIngressRulesResponse",
      "description": "Response message for Firewall.ListIngressRules.",
      "properties": {
        "ingressRules": {
          "description": "The ingress FirewallRules for this application.",
          "items": {
            "$ref": "FirewallRule"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token for fetching the next page of results."
        }
      },
      "type": "object"
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets ListOperationsRequest.return_partial_success and reads across collections. For example, when attempting to list all resources across all supported locations."
        }
      },
      "type": "object"
    },
    "DomainMapping": {
      "id": "DomainMapping",
      "description": "A domain serving an App Engine application.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. Full path to the DomainMapping resource in the API. Example: apps/myapp/domainMapping/example.com.@OutputOnly",
          "readOnly": true
        },
        "id": {
          "type": "string",
          "description": "Relative name of the domain serving the application. Example: example.com."
        },
        "sslSettings": {
          "description": "SSL configuration for this domain. If unconfigured, this domain will not serve with SSL.",
          "$ref": "SslSettings"
        },
        "resourceRecords": {
          "items": {
            "$ref": "ResourceRecord"
          },
          "type": "array",
          "description": "Output only. The resource records required to configure this domain mapping. These records must be added to the domain's DNS configuration in order to serve the application via this domain mapping.@OutputOnly",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "Application": {
      "id": "Application",
      "description": "An Application resource contains the top-level configuration of an App Engine application.",
      "properties": {
        "generatedCustomerMetadata": {
          "description": "Additional Google Generated Customer Metadata, this field won't be provided by default and can be requested by setting the IncludeExtraData field in GetApplicationRequest",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "defaultBucket": {
          "description": "Output only. Google Cloud Storage bucket that can be used by this application to store content.@OutputOnly",
          "readOnly": true,
          "type": "string"
        },
        "codeBucket": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Google Cloud Storage bucket that can be used for storing files associated with this application. This bucket is associated with the application and can be used by the gcloud deployment commands.@OutputOnly"
        },
        "dispatchRules": {
          "type": "array",
          "items": {
            "$ref": "UrlDispatchRule"
          },
          "description": "HTTP path dispatch rules for requests to the application that do not explicitly target a service or version. Rules are order-dependent. Up to 20 dispatch rules can be supported."
        },
        "iap": {
          "$ref": "IdentityAwareProxy"
        },
        "databaseType": {
          "description": "The type of the Cloud Firestore or Cloud Datastore database associated with this application.",
          "type": "string",
          "enum": [
            "DATABASE_TYPE_UNSPECIFIED",
            "CLOUD_DATASTORE",
            "CLOUD_FIRESTORE",
            "CLOUD_DATASTORE_COMPATIBILITY"
          ],
          "enumDescriptions": [
            "Database type is unspecified.",
            "Cloud Datastore",
            "Cloud Firestore Native",
            "Cloud Firestore in Datastore Mode"
          ]
        },
        "gcrDomain": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The Google Container Registry domain used for storing managed build docker images for this application."
        },
        "defaultCookieExpiration": {
          "description": "Cookie expiration policy for this application.",
          "format": "google-duration",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string"
        },
        "locationId": {
          "type": "string",
          "description": "Location from which this application runs. Application instances run out of the data centers in the specified location, which is also where all of the application's end user content is stored.Defaults to us-central.View the list of supported locations (https://cloud.google.com/appengine/docs/locations)."
        },
        "defaultHostname": {
          "description": "Output only. Hostname used to reach this application, as resolved by App Engine.@OutputOnly",
          "readOnly": true,
          "type": "string"
        },
        "featureSettings": {
          "description": "The feature specific settings to be used in the application.",
          "$ref": "FeatureSettings"
        },
        "id": {
          "type": "string",
          "description": "Identifier of the Application resource. This identifier is equivalent to the project ID of the Google Cloud Platform project where you want to deploy your application. Example: myapp."
        },
        "authDomain": {
          "description": "Google Apps authentication domain that controls which users can access this application.Defaults to open access for any Google Account.",
          "type": "string"
        },
        "servingStatus": {
          "enumDescriptions": [
            "Serving status is unspecified.",
            "Application is serving.",
            "Application has been disabled by the user.",
            "Application has been disabled by the system."
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "SERVING",
            "USER_DISABLED",
            "SYSTEM_DISABLED"
          ],
          "description": "Serving status of this application."
        },
        "sslPolicy": {
          "description": "The SSL policy that will be applied to the application. If set to Modern it will restrict traffic with TLS < 1.2 and allow only Modern Ciphers suite",
          "enumDescriptions": [
            "Required by linter. Will work same as DEFAULT",
            "DEFAULT is to allow all TLS versions and cipher suites supported by App Engine",
            "MODERN is to allow only TLS 1.2 and TLS 1.3 along with Modern cipher suites only"
          ],
          "type": "string",
          "enum": [
            "SSL_POLICY_UNSPECIFIED",
            "DEFAULT",
            "MODERN"
          ]
        },
        "serviceAccount": {
          "type": "string",
          "description": "The service account associated with the application. This is the app-level default identity. If no identity provided during create version, Admin API will fallback to this one."
        }
      },
      "type": "object"
    },
    "EndpointsApiService": {
      "type": "object",
      "id": "EndpointsApiService",
      "description": "Google Cloud Endpoints (https://cloud.google.com/endpoints) configuration. The Endpoints API Service provides tooling for serving Open API and gRPC endpoints via an NGINX proxy. Only valid for App Engine Flexible environment deployments.The fields here refer to the name and configuration ID of a \"service\" resource in the Service Management API (https://cloud.google.com/service-management/overview).",
      "properties": {
        "configId": {
          "description": "Endpoints service configuration ID as specified by the Service Management API. For example \"2016-09-19r1\".By default, the rollout strategy for Endpoints is RolloutStrategy.FIXED. This means that Endpoints starts up with a particular configuration ID. When a new configuration is rolled out, Endpoints must be given the new configuration ID. The config_id field is used to give the configuration ID and is required in this case.Endpoints also has a rollout strategy called RolloutStrategy.MANAGED. When using this, Endpoints fetches the latest configuration and does not need the configuration ID. In this case, config_id must be omitted.",
          "type": "string"
        },
        "disableTraceSampling": {
          "description": "Enable or disable trace sampling. By default, this is set to false for enabled.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "Endpoints service name which is the name of the \"service\" resource in the Service Management API. For example \"myapi.endpoints.myproject.cloud.goog\""
        },
        "rolloutStrategy": {
          "description": "Endpoints rollout strategy. If FIXED, config_id must be specified. If MANAGED, config_id must be omitted.",
          "type": "string",
          "enum": [
            "UNSPECIFIED_ROLLOUT_STRATEGY",
            "FIXED",
            "MANAGED"
          ],
          "enumDescriptions": [
            "Not specified. Defaults to FIXED.",
            "Endpoints service configuration ID will be fixed to the configuration ID specified by config_id.",
            "Endpoints service configuration ID will be updated with each rollout."
          ]
        }
      }
    },
    "ListAuthorizedDomainsResponse": {
      "type": "object",
      "id": "ListAuthorizedDomainsResponse",
      "description": "Response message for AuthorizedDomains.ListAuthorizedDomains.",
      "properties": {
        "domains": {
          "description": "The authorized domains belonging to the user.",
          "type": "array",
          "items": {
            "$ref": "AuthorizedDomain"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token for fetching the next page of results."
        }
      }
    },
    "StandardSchedulerSettings": {
      "type": "object",
      "id": "StandardSchedulerSettings",
      "description": "Scheduler settings for standard environment.",
      "properties": {
        "targetCpuUtilization": {
          "type": "number",
          "format": "double",
          "description": "Target CPU utilization ratio to maintain when scaling."
        },
        "minInstances": {
          "description": "Minimum number of instances to run for this version. Set to zero to disable min_instances configuration.",
          "format": "int32",
          "type": "integer"
        },
        "maxInstances": {
          "description": "Maximum number of instances to run for this version. Set to 2147483647 to disable max_instances configuration.",
          "type": "integer",
          "format": "int32"
        },
        "targetThroughputUtilization": {
          "type": "number",
          "format": "double",
          "description": "Target throughput utilization ratio to maintain when scaling"
        }
      }
    },
    "StaticFilesHandler": {
      "type": "object",
      "id": "StaticFilesHandler",
      "description": "Files served directly to the user for a given URL, such as images, CSS stylesheets, or JavaScript source files. Static file handlers describe which files in the application directory are static files, and which URLs serve them.",
      "properties": {
        "uploadPathRegex": {
          "type": "string",
          "description": "Regular expression that matches the file paths for all files that should be referenced by this handler."
        },
        "expiration": {
          "description": "Time a static file served by this handler should be cached by web proxies and browsers.",
          "type": "string",
          "format": "google-duration"
        },
        "applicationReadable": {
          "type": "boolean",
          "description": "Whether files should also be uploaded as code data. By default, files declared in static file handlers are uploaded as static data and are only served to end users; they cannot be read by the application. If enabled, uploads are charged against both your code and static data storage resource quotas."
        },
        "httpHeaders": {
          "description": "HTTP headers to use for all responses from these URLs.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "path": {
          "type": "string",
          "description": "Path to the static files matched by the URL pattern, from the application root directory. The path can refer to text matched in groupings in the URL pattern."
        },
        "mimeType": {
          "type": "string",
          "description": "MIME type used to serve all files served by this handler.Defaults to file-specific MIME types, which are derived from each file's filename extension."
        },
        "requireMatchingFile": {
          "type": "boolean",
          "description": "Whether this handler should match the request if the file referenced by the handler does not exist."
        }
      }
    },
    "ApiConfigHandler": {
      "type": "object",
      "id": "ApiConfigHandler",
      "description": "Google Cloud Endpoints (https://cloud.google.com/endpoints) configuration for API handlers.",
      "properties": {
        "script": {
          "description": "Path to the script from the application root directory.",
          "type": "string"
        },
        "securityLevel": {
          "description": "Security (HTTPS) enforcement for this URL.",
          "type": "string",
          "enum": [
            "SECURE_UNSPECIFIED",
            "SECURE_DEFAULT",
            "SECURE_NEVER",
            "SECURE_OPTIONAL",
            "SECURE_ALWAYS"
          ],
          "enumDescriptions": [
            "Not specified.",
            "Both HTTP and HTTPS requests with URLs that match the handler succeed without redirects. The application can examine the request to determine which protocol was used, and respond accordingly.",
            "Requests for a URL that match this handler that use HTTPS are automatically redirected to the HTTP equivalent URL.",
            "Both HTTP and HTTPS requests with URLs that match the handler succeed without redirects. The application can examine the request to determine which protocol was used and respond accordingly.",
            "Requests for a URL that match this handler that do not use HTTPS are automatically redirected to the HTTPS URL with the same path. Query parameters are reserved for the redirect."
          ]
        },
        "login": {
          "description": "Level of login required to access this resource. Defaults to optional.",
          "type": "string",
          "enum": [
            "LOGIN_UNSPECIFIED",
            "LOGIN_OPTIONAL",
            "LOGIN_ADMIN",
            "LOGIN_REQUIRED"
          ],
          "enumDescriptions": [
            "Not specified. LOGIN_OPTIONAL is assumed.",
            "Does not require that the user is signed in.",
            "If the user is not signed in, the auth_fail_action is taken. In addition, if the user is not an administrator for the application, they are given an error message regardless of auth_fail_action. If the user is an administrator, the handler proceeds.",
            "If the user has signed in, the handler proceeds normally. Otherwise, the auth_fail_action is taken."
          ]
        },
        "url": {
          "type": "string",
          "description": "URL to serve the endpoint at."
        },
        "authFailAction": {
          "description": "Action to take when users access resources that require authentication. Defaults to redirect.",
          "type": "string",
          "enum": [
            "AUTH_FAIL_ACTION_UNSPECIFIED",
            "AUTH_FAIL_ACTION_REDIRECT",
            "AUTH_FAIL_ACTION_UNAUTHORIZED"
          ],
          "enumDescriptions": [
            "Not specified. AUTH_FAIL_ACTION_REDIRECT is assumed.",
            "Redirects user to \"accounts.google.com\". The user is redirected back to the application URL after signing in or creating an account.",
            "Rejects request with a 401 HTTP status code and an error message."
          ]
        }
      }
    },
    "CreateVersionMetadataV1Alpha": {
      "type": "object",
      "id": "CreateVersionMetadataV1Alpha",
      "description": "Metadata for the given google.longrunning.Operation during a google.appengine.v1alpha.CreateVersionRequest.",
      "properties": {
        "cloudBuildId": {
          "type": "string",
          "description": "The Cloud Build ID if one was created as part of the version create. @OutputOnly"
        }
      }
    },
    "CreateVersionMetadataV1Beta": {
      "id": "CreateVersionMetadataV1Beta",
      "description": "Metadata for the given google.longrunning.Operation during a google.appengine.v1beta.CreateVersionRequest.",
      "properties": {
        "cloudBuildId": {
          "type": "string",
          "description": "The Cloud Build ID if one was created as part of the version create. @OutputOnly"
        }
      },
[...]
