{
  "rootUrl": "https://apphub.googleapis.com/",
  "documentationLink": "https://cloud.google.com/app-hub/docs/",
  "name": "apphub",
  "basePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "description": "App Hub lets you build, operate, and manage applications on Google Cloud.",
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "location": "query",
      "type": "string",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    }
  },
  "discoveryVersion": "v1",
  "canonicalName": "App Hub",
  "kind": "discovery#restDescription",
  "title": "App Hub API",
  "schemas": {
    "ListOperationsResponse": {
      "properties": {
        "operations": {
          "type": "array",
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations."
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      },
      "type": "object"
    },
    "WorkloadReference": {
      "id": "WorkloadReference",
      "type": "object",
      "description": "Reference of an underlying compute resource represented by the Workload.",
      "properties": {
        "uri": {
          "readOnly": true,
          "description": "Output only. The underlying compute resource uri.",
          "type": "string"
        }
      }
    },
    "DiscoveredService": {
      "id": "DiscoveredService",
      "properties": {
        "serviceProperties": {
          "readOnly": true,
          "description": "Output only. Properties of an underlying compute resource that can comprise a Service. These are immutable.",
          "$ref": "ServiceProperties"
        },
        "serviceReference": {
          "$ref": "ServiceReference",
          "description": "Output only. Reference to an underlying networking resource that can comprise a Service. These are immutable.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the discovered service. Format: `\"projects/{host-project-id}/locations/{location}/discoveredServices/{uuid}\"`"
        }
      },
      "description": "DiscoveredService is a network or API interface that exposes some functionality to clients for consumption over the network. A discovered service can be registered to a App Hub service.",
      "type": "object"
    },
    "LookupServiceProjectAttachmentResponse": {
      "id": "LookupServiceProjectAttachmentResponse",
      "properties": {
        "serviceProjectAttachment": {
          "$ref": "ServiceProjectAttachment",
          "description": "Service project attachment for a project if exists, empty otherwise."
        }
      },
      "type": "object",
      "description": "Response for LookupServiceProjectAttachment."
    },
    "Environment": {
      "type": "object",
      "description": "Environment of the Application, Service, or Workload",
      "properties": {
        "environment": {
          "deprecated": true,
          "description": "Optional. Environment name. Can contain only lowercase letters, numeric characters, underscores, and dashes. Can have a maximum length of 63 characters. Deprecated: Please refer to type instead.",
          "type": "string"
        },
        "type": {
          "description": "Required. Environment Type.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified type.",
            "Production environment.",
            "Staging environment.",
            "Test environment.",
            "Development environment."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "PRODUCTION",
            "STAGING",
            "TEST",
            "DEVELOPMENT"
          ]
        }
      },
      "id": "Environment"
    },
    "ListDiscoveredServicesResponse": {
      "properties": {
        "discoveredServices": {
          "type": "array",
          "items": {
            "$ref": "DiscoveredService"
          },
          "description": "List of Discovered Services."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "ListDiscoveredServicesResponse",
      "description": "Response for ListDiscoveredServices."
    },
    "DetachServiceProjectAttachmentRequest": {
      "properties": {},
      "description": "Request for DetachServiceProjectAttachment.",
      "id": "DetachServiceProjectAttachmentRequest",
      "type": "object"
    },
    "FindUnregisteredServicesResponse": {
      "description": "Response for FindUnregisteredServices.",
      "type": "object",
      "id": "FindUnregisteredServicesResponse",
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "discoveredServices": {
          "description": "List of Discovered Services.",
          "type": "array",
          "items": {
            "$ref": "DiscoveredService"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      }
    },
    "TestIamPermissionsRequest": {
      "properties": {
        "permissions": {
          "type": "array",
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Request message for `TestIamPermissions` method.",
      "id": "TestIamPermissionsRequest",
      "type": "object"
    },
    "TestIamPermissionsResponse": {
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
        }
      },
      "type": "object",
      "id": "TestIamPermissionsResponse",
      "description": "Response message for `TestIamPermissions` method."
    },
    "ListServiceProjectAttachmentsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "serviceProjectAttachments": {
          "description": "List of service project attachments.",
          "items": {
            "$ref": "ServiceProjectAttachment"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Response for ListServiceProjectAttachments.",
      "id": "ListServiceProjectAttachmentsResponse"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "id": "Empty",
      "properties": {}
    },
    "ListServicesResponse": {
      "description": "Response for ListServices.",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "services": {
          "description": "List of Services.",
          "items": {
            "$ref": "Service"
          },
          "type": "array"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "ListServicesResponse"
    },
    "OperationMetadata": {
      "type": "object",
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "type": "string",
          "readOnly": true
        },
        "target": {
          "readOnly": true,
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running.",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the operation was created.",
          "type": "string"
        },
        "statusMessage": {
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true
        },
        "verb": {
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string"
        }
      }
    },
    "DetachServiceProjectAttachmentResponse": {
      "description": "Response for DetachServiceProjectAttachment.",
      "type": "object",
      "id": "DetachServiceProjectAttachmentResponse",
      "properties": {}
    },
    "Channel": {
      "description": "Separate message to accommodate custom formats across IRC and Slack.",
      "type": "object",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Required. URI of the channel."
        }
      },
      "id": "Channel"
    },
    "AuditLogConfig": {
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "type": "object",
      "properties": {
        "logType": {
          "type": "string",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "description": "The log type that this config enables.",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ]
        },
        "exemptedMembers": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members."
        }
      },
      "id": "AuditLogConfig"
    },
    "ListLocationsResponse": {
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "description": "The response message for Locations.ListLocations.",
      "id": "ListLocationsResponse",
      "type": "object"
    },
    "Expr": {
      "type": "object",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "properties": {
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        }
      },
      "id": "Expr"
    },
    "ServiceProperties": {
      "properties": {
        "registrationType": {
          "description": "Output only. The registration type of the service.",
          "$ref": "RegistrationType",
          "readOnly": true
        },
        "location": {
          "description": "Output only. The location that the underlying resource resides in, for example, us-west1.",
          "readOnly": true,
          "type": "string"
        },
        "identity": {
          "$ref": "Identity",
          "readOnly": true,
          "description": "Output only. The identity associated with the service."
        },
        "extendedMetadata": {
          "additionalProperties": {
            "$ref": "ExtendedMetadata"
          },
          "description": "Output only. Additional metadata specific to the resource type. The key is a string that identifies the type of metadata and the value is the metadata contents specific to that type. Key format: `apphub.googleapis.com/{metadataType}`",
          "readOnly": true,
          "type": "object"
        },
        "functionalType": {
          "description": "Output only. The type of the service.",
          "$ref": "FunctionalType",
          "readOnly": true
        },
        "gcpProject": {
          "description": "Output only. The service project identifier that the underlying cloud resource resides in.",
          "readOnly": true,
          "type": "string"
        },
        "zone": {
          "description": "Output only. The location that the underlying resource resides in if it is zonal, for example, us-west1-a).",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "ServiceProperties",
      "type": "object",
      "description": "Properties of an underlying cloud resource that can comprise a Service."
    },
    "ListWorkloadsResponse": {
      "id": "ListWorkloadsResponse",
      "description": "Response for ListWorkloads.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "workloads": {
          "type": "array",
          "description": "List of Workloads.",
          "items": {
            "$ref": "Workload"
          }
        }
      }
    },
    "Binding": {
      "description": "Associates `members`, or principals, with a `role`.",
      "type": "object",
      "id": "Binding",
      "properties": {
        "members": {
          "type": "array",
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`.",
          "items": {
            "type": "string"
          }
        },
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles).",
          "type": "string"
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        }
      }
    },
    "RegistrationType": {
      "properties": {
        "type": {
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified registration type. Defaults to EXCLUSIVE.",
            "The service can only be registered to one application.",
            "The service can be registered to multiple applications."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "EXCLUSIVE",
            "SHARED"
          ],
          "type": "string",
          "description": "Output only. The registration type of a service."
        }
      },
      "id": "RegistrationType",
      "description": "The registration type of a service.",
      "type": "object"
    },
    "LookupDiscoveredWorkloadResponse": {
      "type": "object",
      "id": "LookupDiscoveredWorkloadResponse",
      "description": "Response for LookupDiscoveredWorkload.",
      "properties": {
        "discoveredWorkload": {
          "description": "Discovered Workload if exists, empty otherwise.",
          "$ref": "DiscoveredWorkload"
        }
      }
    },
    "Workload": {
      "properties": {
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Create time.",
          "format": "google-datetime"
        },
        "name": {
          "description": "Identifier. The resource name of the Workload. Format: `\"projects/{host-project-id}/locations/{location}/applications/{application-id}/workloads/{workload-id}\"`",
          "type": "string"
        },
        "workloadProperties": {
          "description": "Output only. Properties of an underlying compute resource represented by the Workload. These are immutable.",
          "$ref": "WorkloadProperties",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "Optional. User-defined name for the Workload. Can have a maximum length of 63 characters."
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Update time.",
          "type": "string",
          "format": "google-datetime"
        },
        "workloadReference": {
          "readOnly": true,
          "$ref": "WorkloadReference",
          "description": "Output only. Reference of an underlying compute resource represented by the Workload. These are immutable."
        },
        "description": {
          "description": "Optional. User-defined description of a Workload. Can have a maximum length of 2048 characters.",
          "type": "string"
        },
        "attributes": {
          "description": "Optional. Consumer provided attributes.",
          "$ref": "Attributes"
        },
        "discoveredWorkload": {
          "description": "Required. Immutable. The resource name of the original discovered workload.",
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Workload state.",
          "enumDescriptions": [
            "Unspecified state.",
            "The Workload is being created.",
            "The Workload is ready.",
            "The Workload is being deleted.",
            "The underlying compute resources have been deleted."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "DETACHED"
          ]
        },
        "uid": {
          "description": "Output only. A universally unique identifier (UUID) for the `Workload` in the UUID4 format.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "Workload",
      "type": "object",
      "description": "Workload is an App Hub data model that contains a discovered workload, which represents a binary deployment (such as managed instance groups (MIGs) and GKE deployments) that performs the smallest logical subset of business functionality."
    },
    "Identity": {
      "type": "object",
      "description": "The identity associated with a service or workload.",
      "id": "Identity",
      "properties": {
        "principal": {
          "description": "Output only. The principal of the identity. Supported formats: * `sa://my-sa@PROJECT_ID.iam.gserviceaccount.com` for GCP Service Account * `principal://POOL_ID.global.PROJECT_NUMBER.workload.id.goog/ns/NAMESPACE_ID/sa/MANAGED_IDENTITY_ID` for Managed Workload Identity",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "Criticality": {
      "properties": {
        "missionCritical": {
          "deprecated": true,
          "type": "boolean",
          "description": "Optional. Indicates mission-critical Application, Service, or Workload. Deprecated: Please refer to type instead."
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "MISSION_CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "enumDescriptions": [
            "Unspecified type.",
            "Mission critical service, application or workload.",
            "High impact.",
            "Medium impact.",
            "Low impact."
          ],
          "description": "Required. Criticality Type.",
          "type": "string"
        },
        "level": {
          "deprecated": true,
          "type": "string",
          "description": "Optional. Criticality level. Can contain only lowercase letters, numeric characters, underscores, and dashes. Can have a maximum length of 63 characters. Deprecated: Please refer to type instead."
        }
      },
      "type": "object",
      "description": "Criticality of the Application, Service, or Workload",
      "id": "Criticality"
    },
    "Scope": {
      "description": "Scope of an application.",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Unspecified type.",
            "Regional type.",
            "Global type."
          ],
          "type": "string",
          "description": "Required. Scope Type.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "REGIONAL",
            "GLOBAL"
          ]
        }
      },
      "type": "object",
      "id": "Scope"
    },
    "LookupDiscoveredServiceResponse": {
      "properties": {
        "discoveredService": {
          "$ref": "DiscoveredService",
          "description": "Discovered Service if exists, empty otherwise."
        }
      },
      "description": "Response for LookupDiscoveredService.",
      "id": "LookupDiscoveredServiceResponse",
      "type": "object"
    },
    "ContactInfo": {
      "id": "ContactInfo",
      "description": "Contact information of stakeholders.",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Optional. Contact's name. Can have a maximum length of 63 characters."
        },
        "channel": {
          "$ref": "Channel",
          "description": "Optional. Communication channel of the contacts."
        },
        "email": {
          "type": "string",
          "description": "Required. Email address of the contacts."
        }
      }
    },
    "CancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "id": "CancelOperationRequest",
      "properties": {},
      "type": "object"
    },
    "FindUnregisteredWorkloadsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "discoveredWorkloads": {
          "description": "List of Discovered Workloads.",
          "items": {
            "$ref": "DiscoveredWorkload"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "FindUnregisteredWorkloadsResponse",
      "description": "Response for FindUnregisteredWorkloads."
    },
    "SetIamPolicyRequest": {
      "description": "Request message for `SetIamPolicy` method.",
      "type": "object",
      "id": "SetIamPolicyRequest",
      "properties": {
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`"
        },
        "policy": {
          "$ref": "Policy",
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
        }
      }
    },
    "Attributes": {
      "type": "object",
      "description": "Consumer provided attributes.",
      "id": "Attributes",
      "properties": {
        "developerOwners": {
          "type": "array",
          "description": "Optional. Developer team that owns development and coding.",
          "items": {
            "$ref": "ContactInfo"
          }
        },
        "criticality": {
          "$ref": "Criticality",
          "description": "Optional. User-defined criticality information."
        },
        "environment": {
          "description": "Optional. User-defined environment information.",
          "$ref": "Environment"
        },
        "operatorOwners": {
          "items": {
            "$ref": "ContactInfo"
          },
          "description": "Optional. Operator team that ensures runtime and operations.",
          "type": "array"
        },
        "businessOwners": {
          "type": "array",
          "items": {
            "$ref": "ContactInfo"
          },
          "description": "Optional. Business team that ensures user needs are met and value is delivered"
        }
      }
    },
    "AuditConfig": {
      "type": "object",
      "properties": {
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        },
        "auditLogConfigs": {
          "items": {
            "$ref": "AuditLogConfig"
          },
          "type": "array",
          "description": "The configuration for logging of each type of permission."
        }
      },
      "id": "AuditConfig",
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging."
    },
    "ListDiscoveredWorkloadsResponse": {
      "id": "ListDiscoveredWorkloadsResponse",
      "type": "object",
      "properties": {
        "discoveredWorkloads": {
          "description": "List of Discovered Workloads.",
          "items": {
            "$ref": "DiscoveredWorkload"
          },
          "type": "array"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      },
      "description": "Response for ListDiscoveredWorkloads."
    },
    "WorkloadProperties": {
      "type": "object",
      "properties": {
        "gcpProject": {
          "description": "Output only. The service project identifier that the underlying cloud resource resides in. Empty for non-cloud resources.",
          "readOnly": true,
          "type": "string"
        },
        "extendedMetadata": {
          "additionalProperties": {
            "$ref": "ExtendedMetadata"
          },
          "readOnly": true,
          "description": "Output only. Additional metadata specific to the resource type. The key is a string that identifies the type of metadata and the value is the metadata contents specific to that type. Key format: `apphub.googleapis.com/{metadataType}`",
          "type": "object"
        },
        "functionalType": {
          "$ref": "FunctionalType",
          "description": "Output only. The type of the workload.",
          "readOnly": true
        },
        "zone": {
          "description": "Output only. The location that the underlying compute resource resides in if it is zonal (for example, us-west1-a).",
          "type": "string",
          "readOnly": true
        },
        "location": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The location that the underlying compute resource resides in (for example, us-west1)."
        },
        "identity": {
          "description": "Output only. The identity associated with the workload.",
          "readOnly": true,
          "$ref": "Identity"
        }
      },
      "id": "WorkloadProperties",
      "description": "Properties of an underlying compute resource represented by the Workload."
    },
    "ListApplicationsResponse": {
      "description": "Response for ListApplications.",
      "id": "ListApplicationsResponse",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "applications": {
          "type": "array",
          "description": "List of Applications.",
          "items": {
            "$ref": "Application"
          }
        }
      },
      "type": "object"
    },
    "ExtendedMetadata": {
      "id": "ExtendedMetadata",
      "properties": {
        "metadataStruct": {
          "type": "object",
          "readOnly": true,
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Output only. The metadata contents."
        }
      },
      "type": "object",
      "description": "Additional metadata for a Service or Workload."
    },
    "ServiceProjectAttachment": {
      "id": "ServiceProjectAttachment",
      "description": "ServiceProjectAttachment represents an attachment from a service project to a host project. Service projects contain the underlying cloud infrastructure resources, and expose these resources to the host project through a ServiceProjectAttachment. With the attachments, the host project can provide an aggregated view of resources across all service projects.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of a ServiceProjectAttachment. Format: `\"projects/{host-project-id}/locations/global/serviceProjectAttachments/{service-project-id}.\"`"
        },
        "serviceProject": {
          "description": "Required. Immutable. Service project name in the format: `\"projects/abc\"` or `\"projects/123\"`. As input, project name with either project id or number are accepted. As output, this field will contain project number.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Create time."
        },
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A globally unique identifier (in UUID4 format) for the `ServiceProjectAttachment`."
        },
        "state": {
          "enumDescriptions": [
            "Unspecified state.",
            "The ServiceProjectAttachment is being created.",
            "The ServiceProjectAttachment is ready. This means Services and Workloads under the corresponding ServiceProjectAttachment is ready for registration.",
            "The ServiceProjectAttachment is being deleted."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING"
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. ServiceProjectAttachment state."
        }
      }
    },
    "Application": {
      "description": "Application defines the governance boundary for App Hub entities that perform a logical end-to-end business function. App Hub supports application level IAM permission to align with governance requirements.",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Optional. User-defined name for the Application. Can have a maximum length of 63 characters.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of an Application. Format: `\"projects/{host-project-id}/locations/{location}/applications/{application-id}\"`",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Create time.",
          "format": "google-datetime"
        },
        "scope": {
          "$ref": "Scope",
          "description": "Required. Immutable. Defines what data can be included into this Application. Limits which Services and Workloads can be registered."
        },
        "uid": {
          "readOnly": true,
          "description": "Output only. A universally unique identifier (in UUID4 format) for the `Application`.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified state.",
            "The Application is being created.",
            "The Application is ready to register Services and Workloads.",
            "The Application is being deleted."
          ],
          "description": "Output only. Application state.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING"
          ]
        },
        "attributes": {
          "description": "Optional. Consumer provided attributes.",
          "$ref": "Attributes"
        },
        "description": {
          "description": "Optional. User-defined description of an Application. Can have a maximum length of 2048 characters.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. Update time.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "id": "Application"
    },
    "Location": {
      "id": "Location",
      "properties": {
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        }
      },
      "description": "A resource that represents a Google Cloud location.",
      "type": "object"
    },
    "Service": {
      "description": "Service is an App Hub data model that contains a discovered service, which represents a network or API interface that exposes some functionality to clients for consumption over the network.",
      "id": "Service",
      "properties": {
        "discoveredService": {
          "type": "string",
          "description": "Required. Immutable. The resource name of the original discovered service."
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. Update time.",
          "readOnly": true,
          "type": "string"
        },
        "serviceReference": {
          "description": "Output only. Reference to an underlying networking resource that can comprise a Service. These are immutable.",
          "readOnly": true,
          "$ref": "ServiceReference"
        },
        "name": {
          "description": "Identifier. The resource name of a Service. Format: `\"projects/{host-project-id}/locations/{location}/applications/{application-id}/services/{service-id}\"`",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. User-defined description of a Service. Can have a maximum length of 2048 characters."
        },
        "attributes": {
          "description": "Optional. Consumer provided attributes.",
          "$ref": "Attributes"
        },
        "displayName": {
          "description": "Optional. User-defined name for the Service. Can have a maximum length of 63 characters.",
          "type": "string"
        },
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A universally unique identifier (UUID) for the `Service` in the UUID4 format."
        },
        "serviceProperties": {
          "readOnly": true,
          "description": "Output only. Properties of an underlying compute resource that can comprise a Service. These are immutable.",
          "$ref": "ServiceProperties"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Create time.",
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "DETACHED"
          ],
          "type": "string",
          "description": "Output only. Service state.",
          "enumDescriptions": [
            "Unspecified state.",
            "The service is being created.",
            "The service is ready.",
            "The service is being deleted.",
            "The underlying networking resources have been deleted."
          ]
        }
      },
      "type": "object"
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation",
      "properties": {
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Boundary": {
      "id": "Boundary",
      "type": "object",
      "properties": {
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "AUTOMATIC",
            "MANUAL",
            "MANAGED_AUTOMATIC"
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. Boundary type.",
          "enumDescriptions": [
            "Unspecified type.",
            "The Boundary automatically includes all descendants of the CRM node.",
            "The list of projects within the Boundary is managed by the user.",
            "The Boundary automatically includes all descendants of the CRM node, which is set via App Management folder capability."
          ]
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. Update time.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Create time.",
          "readOnly": true,
          "type": "string"
        },
        "crmNode": {
          "type": "string",
          "description": "Optional. The resource name of the CRM node being attached to the boundary. Format: `projects/{project-number}` or `projects/{project-id}`"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the boundary. Format: \"projects/{project}/locations/{location}/boundary\""
        }
      },
      "description": "Application management boundary."
    },
    "ExtendedMetadataSchema": {
      "type": "object",
      "id": "ExtendedMetadataSchema",
      "description": "ExtendedMetadataSchema represents a schema for extended metadata of a service or workload.",
      "properties": {
        "schemaVersion": {
          "format": "int64",
          "description": "Output only. The version of the schema. New versions are required to be backwards compatible.",
          "readOnly": true,
          "type": "string"
        },
        "jsonSchema": {
          "type": "string",
          "description": "Output only. The JSON schema as a string.",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. Resource name of the schema. Format: projects//locations//extendedMetadataSchemas/",
          "type": "string"
        }
      }
    },
    "ListExtendedMetadataSchemasResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "extendedMetadataSchemas": {
          "type": "array",
          "items": {
            "$ref": "ExtendedMetadataSchema"
          },
          "description": "List of Extended Metadata Schemas."
        }
      },
      "id": "ListExtendedMetadataSchemasResponse",
      "description": "Response for ListExtendedMetadataSchemas."
    },
    "ServiceReference": {
      "id": "ServiceReference",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Output only. The underlying resource URI. For example, URI of Forwarding Rule, URL Map, and Backend Service.",
          "readOnly": true
        },
        "path": {
          "description": "Output only. Additional path under the resource URI (demultiplexing one resource URI into multiple entries). Smallest unit a policy can be attached to. Examples: URL Map path entry.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Reference to an underlying networking resource that can comprise a Service.",
      "type": "object"
    },
    "DiscoveredWorkload": {
      "description": "DiscoveredWorkload is a binary deployment (such as managed instance groups (MIGs) and GKE deployments) that performs the smallest logical subset of business functionality. A discovered workload can be registered to an App Hub Workload.",
      "id": "DiscoveredWorkload",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the discovered workload. Format: `\"projects/{host-project-id}/locations/{location}/discoveredWorkloads/{uuid}\"`",
          "type": "string"
        },
        "workloadReference": {
          "readOnly": true,
          "description": "Output only. Reference of an underlying compute resource represented by the Workload. These are immutable.",
          "$ref": "WorkloadReference"
        },
        "workloadProperties": {
          "description": "Output only. Properties of an underlying compute resource represented by the Workload. These are immutable.",
          "readOnly": true,
          "$ref": "WorkloadProperties"
        }
      }
    },
    "FunctionalType": {
      "properties": {
        "type": {
          "description": "Output only. The functional type of a service or workload.",
          "enumDescriptions": [
            "Unspecified type.",
            "Agent type.",
            "MCP Server type.",
            "Endpoint type."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "AGENT",
            "MCP_SERVER",
            "ENDPOINT"
          ]
        }
      },
      "description": "The functional type of a service or workload.",
      "id": "FunctionalType",
      "type": "object"
    },
    "Policy": {
      "properties": {
        "bindings": {
          "type": "array",
          "items": {
            "$ref": "Binding"
          },
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
        },
        "version": {
          "format": "int32",
          "type": "integer",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "etag": {
          "format": "byte",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "type": "string"
        },
        "auditConfigs": {
          "items": {
            "$ref": "AuditConfig"
          },
          "description": "Specifies cloud audit logging configuration for this policy.",
          "type": "array"
        }
      },
      "id": "Policy",
      "type": "object",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
    }
  },
  "id": "apphub:v1alpha",
  "baseUrl": "https://apphub.googleapis.com/",
  "revision": "20260904",
  "version": "v1alpha",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "getBoundary": {
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/boundary",
              "path": "v1alpha/{+name}",
              "description": "Gets a Boundary.",
              "response": {
                "$ref": "Boundary"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+/boundary$",
                  "description": "Required. The name of the boundary to retrieve. Format: `projects/{project}/locations/{location}/boundary`.",
                  "location": "path"
                }
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "apphub.projects.locations.getBoundary"
            },
            "detachServiceProjectAttachment": {
              "description": "Detaches a service project from a host project. You can call this API from any service project without needing access to the host project that it is attached to.",
              "path": "v1alpha/{+name}:detachServiceProjectAttachment",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "DetachServiceProjectAttachmentResponse"
              },
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}:detachServiceProjectAttachment",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "description": "Required. Service project id and location to detach from a host project. Only global location is supported. Expected format: `projects/{project}/locations/{location}`.",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$"
                }
              },
              "request": {
                "$ref": "DetachServiceProjectAttachmentRequest"
              },
              "id": "apphub.projects.locations.detachServiceProjectAttachment",
              "parameterOrder": [
                "name"
              ]
            },
            "updateBoundary": {
              "parameterOrder": [
                "name"
              ],
              "id": "apphub.projects.locations.updateBoundary",
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/boundary",
              "response": {
                "$ref": "Operation"
              },
              "request": {
                "$ref": "Boundary"
              },
              "description": "Updates a Boundary.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1alpha/{+name}",
              "parameters": {
                "updateMask": {
                  "description": "Optional. Field mask is used to specify the fields to be overwritten in the Boundary resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten.",
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                },
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+/boundary$",
                  "description": "Identifier. The resource name of the boundary. Format: \"projects/{project}/locations/{location}/boundary\"",
                  "location": "path"
                },
                "requestId": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                }
              },
              "httpMethod": "PATCH"
            },
            "get": {
              "id": "apphub.projects.locations.get",
              "httpMethod": "GET",
              "path": "v1alpha/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Resource name for the location.",
                  "location": "path"
                }
              },
              "description": "Gets information about a location.",
              "response": {
                "$ref": "Location"
              },
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}"
            },
            "list": {
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "path": "v1alpha/{+name}/locations",
              "httpMethod": "GET",
              "parameters": {
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160)."
                },
                "name": {
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "required": true,
                  "location": "path"
                },
                "pageSize": {
                  "format": "int32",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "location": "query",
                  "type": "integer"
                },
                "extraLocationTypes": {
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "location": "query",
                  "repeated": true,
                  "type": "string"
                },
                "pageToken": {
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query",
                  "type": "string"
                }
              },
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "flatPath": "v1alpha/projects/{projectsId}/locations",
              "id": "apphub.projects.locations.list",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "lookupServiceProjectAttachment": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists a service project attachment for a given service project. You can call this API from any project to find if it is attached to a host project.",
              "parameterOrder": [
                "name"
              ],
              "id": "apphub.projects.locations.lookupServiceProjectAttachment",
              "response": {
                "$ref": "LookupServiceProjectAttachmentResponse"
              },
              "path": "v1alpha/{+name}:lookupServiceProjectAttachment",
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}:lookupServiceProjectAttachment",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. Service project ID and location to lookup service project attachment for. Only global location is supported. Expected format: `projects/{project}/locations/{location}`.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true
                }
              }
            }
          },
          "resources": {
            "extendedMetadataSchemas": {
              "methods": {
                "get": {
                  "id": "apphub.projects.locations.extendedMetadataSchemas.get",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/extendedMetadataSchemas/{extendedMetadataSchemasId}",
                  "response": {
                    "$ref": "ExtendedMetadataSchema"
                  },
                  "path": "v1alpha/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/extendedMetadataSchemas/.*$",
                      "description": "Required. Schema resource name. Format: `projects/{project}/locations/{location}/extendedMetadataSchemas/{extended_metadata_schema}`. `{extended_metadata_schema}` has the format `\"apphub.googleapis.com/{SchemaName}\"`.",
                      "location": "path"
                    }
                  },
                  "description": "Gets an Extended Metadata Schema.",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET"
                },
                "list": {
                  "parameters": {
                    "pageSize": {
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A token identifying a page of results the server should return."
                    },
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. Project and location to list Extended Metadata Schemas on. Expected format: `projects/{project}/locations/{location}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "httpMethod": "GET",
                  "description": "Lists Extended Metadata Schemas available in a host project and location.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1alpha/{+parent}/extendedMetadataSchemas",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/extendedMetadataSchemas",
                  "id": "apphub.projects.locations.extendedMetadataSchemas.list",
                  "response": {
                    "$ref": "ListExtendedMetadataSchemasResponse"
                  }
                }
              }
            },
            "serviceProjectAttachments": {
              "methods": {
                "delete": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/serviceProjectAttachments/[^/]+$",
                      "location": "path",
                      "description": "Required. Fully qualified name of the service project attachment to delete. Expected format: `projects/{project}/locations/{location}/serviceProjectAttachments/{serviceProjectAttachment}`."
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "httpMethod": "DELETE",
                  "path": "v1alpha/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a service project attachment.",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/serviceProjectAttachments/{serviceProjectAttachmentsId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "apphub.projects.locations.serviceProjectAttachments.delete"
                },
                "create": {
                  "parameters": {
                    "serviceProjectAttachmentId": {
                      "type": "string",
                      "description": "Required. The service project attachment identifier must contain the project id of the service project specified in the service_project_attachment.service_project field.",
                      "location": "query"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query"
                    },
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. Host project ID and location to which service project is being attached. Only global location is supported. Expected format: `projects/{project}/locations/{location}`."
                    }
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "ServiceProjectAttachment"
                  },
                  "id": "apphub.projects.locations.serviceProjectAttachments.create",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/serviceProjectAttachments",
                  "path": "v1alpha/{+parent}/serviceProjectAttachments",
                  "description": "Attaches a service project to the host project.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "filter": {
                      "location": "query",
                      "description": "Optional. Filtering results.",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "format": "int32"
                    },
                    "orderBy": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Hint for how to order the results."
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. Host project ID and location to list service project attachments. Only global location is supported. Expected format: `projects/{project}/locations/{location}`.",
                      "type": "string",
                      "location": "path"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A token identifying a page of results the server should return."
                    }
                  },
                  "path": "v1alpha/{+parent}/serviceProjectAttachments",
                  "id": "apphub.projects.locations.serviceProjectAttachments.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/serviceProjectAttachments",
                  "description": "Lists service projects attached to the host project.",
                  "response": {
                    "$ref": "ListServiceProjectAttachmentsResponse"
                  }
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "apphub.projects.locations.serviceProjectAttachments.get",
                  "path": "v1alpha/{+name}",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/serviceProjectAttachments/{serviceProjectAttachmentsId}",
                  "description": "Gets a service project attachment.",
                  "response": {
                    "$ref": "ServiceProjectAttachment"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. Fully qualified name of the service project attachment to retrieve. Expected format: `projects/{project}/locations/{location}/serviceProjectAttachments/{serviceProjectAttachment}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/serviceProjectAttachments/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "httpMethod": "GET"
                }
              }
            },
            "discoveredWorkloads": {
              "methods": {
                "findUnregistered": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1alpha/{+parent}/discoveredWorkloads:findUnregistered",
                  "description": "Finds unregistered workloads in a host project and location.",
                  "id": "apphub.projects.locations.discoveredWorkloads.findUnregistered",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/discoveredWorkloads:findUnregistered",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. Project and location to find unregistered Discovered Workloads on. Expected format: `projects/{project}/locations/{location}`.",
                      "type": "string",
                      "location": "path"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A token identifying a page of results the server should return.",
                      "location": "query"
                    },
                    "orderBy": {
                      "type": "string",
                      "description": "Optional. Hint for how to order the results.",
                      "location": "query"
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query",
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default."
                    },
                    "filter": {
                      "description": "Optional. Filtering results.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "FindUnregisteredWorkloadsResponse"
                  }
                },
                "lookup": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists a Discovered Workload in a host project and location, with a given resource URI.",
                  "id": "apphub.projects.locations.discoveredWorkloads.lookup",
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. Host project ID and location to lookup Discovered Workload in. Expected format: `projects/{project}/locations/{location}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    },
                    "uri": {
                      "description": "Required. Resource URI to find Discovered Workload for. Accepts both project number and project ID and does translation when needed.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "LookupDiscoveredWorkloadResponse"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/discoveredWorkloads:lookup",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1alpha/{+parent}/discoveredWorkloads:lookup"
                },
                "get": {
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/discoveredWorkloads/{discoveredWorkloadsId}",
                  "id": "apphub.projects.locations.discoveredWorkloads.get",
                  "response": {
                    "$ref": "DiscoveredWorkload"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets a Discovered Workload in a host project and location.",
                  "path": "v1alpha/{+name}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/discoveredWorkloads/[^/]+$",
                      "description": "Required. Fully qualified name of the Discovered Workload to fetch. Expected format: `projects/{project}/locations/{location}/discoveredWorkloads/{discoveredWorkload}`.",
                      "location": "path"
                    }
                  },
                  "httpMethod": "GET"
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1alpha/{+parent}/discoveredWorkloads",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. A token identifying a page of results the server should return.",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "type": "integer"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Filtering results."
                    },
                    "orderBy": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Hint for how to order the results."
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. Project and location to list Discovered Workloads on. Expected format: `projects/{project}/locations/{location}`.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "description": "Lists Discovered Workloads that can be added to an Application in a host project and location.",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/discoveredWorkloads",
                  "response": {
                    "$ref": "ListDiscoveredWorkloadsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "apphub.projects.locations.discoveredWorkloads.list"
                }
              }
            },
            "applications": {
              "resources": {
                "services": {
                  "methods": {
                    "delete": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Deletes a Service from an Application.",
                      "id": "apphub.projects.locations.applications.services.delete",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "requestId": {
                          "location": "query",
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "type": "string"
                        },
                        "name": {
                          "location": "path",
                          "description": "Required. Fully qualified name of the Service to delete from an Application. Expected format: `projects/{project}/locations/{location}/applications/{application}/services/{service}`.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/applications/[^/]+/services/[^/]+$",
                          "type": "string"
                        }
                      },
                      "httpMethod": "DELETE",
                      "path": "v1alpha/{+name}",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/services/{servicesId}",
                      "response": {
                        "$ref": "Operation"
                      }
                    },
                    "patch": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "apphub.projects.locations.applications.services.patch",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/services/{servicesId}",
                      "path": "v1alpha/{+name}",
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "PATCH",
                      "description": "Updates a Service in an Application.",
                      "request": {
                        "$ref": "Service"
                      },
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/applications/[^/]+/services/[^/]+$",
                          "type": "string",
                          "description": "Identifier. The resource name of a Service. Format: `\"projects/{host-project-id}/locations/{location}/applications/{application-id}/services/{service-id}\"`",
                          "location": "path"
                        },
                        "updateMask": {
                          "type": "string",
                          "format": "google-fieldmask",
                          "location": "query",
                          "description": "Optional. Field mask is used to specify the fields to be overwritten in the Service resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. The API changes the values of the fields as specified in the update_mask. The API ignores the values of all fields not covered by the update_mask. You can also unset a field by not specifying it in the updated message, but adding the field to the mask. This clears whatever value the field previously had."
                        },
                        "requestId": {
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "type": "string",
                          "location": "query"
                        }
                      }
                    },
                    "get": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "required": true,
[...]
