{
  "servicePath": "",
  "version_module": true,
  "parameters": {
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "alt": {
      "location": "query",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    }
  },
  "baseUrl": "https://apphub.googleapis.com/",
  "batchPath": "batch",
  "version": "v1",
  "documentationLink": "https://cloud.google.com/app-hub/docs/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "mtlsRootUrl": "https://apphub.mtls.googleapis.com/",
  "id": "apphub:v1",
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "schemas": {
    "Boundary": {
      "description": "Application management boundary.",
      "type": "object",
      "properties": {
        "crmNode": {
          "description": "Optional. The resource name of the CRM node being attached to the boundary. Format: `projects/{project-number}` or `projects/{project-id}`",
          "type": "string"
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified type.",
            "The Boundary automatically includes all descendants of the CRM node.",
            "The list of projects within the Boundary is managed by the user.",
            "The Boundary automatically includes all descendants of the CRM node, which is set via App Management folder capability."
          ],
          "description": "Output only. Boundary type.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "AUTOMATIC",
            "MANUAL",
            "MANAGED_AUTOMATIC"
          ]
        },
        "createTime": {
          "description": "Output only. Create time.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. Update time.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "description": "Identifier. The resource name of the boundary. Format: \"projects/{project}/locations/{location}/boundary\"",
          "type": "string"
        }
      },
      "id": "Boundary"
    },
    "ListDiscoveredServicesResponse": {
      "description": "Response for ListDiscoveredServices.",
      "id": "ListDiscoveredServicesResponse",
      "properties": {
        "discoveredServices": {
          "description": "List of Discovered Services.",
          "type": "array",
          "items": {
            "$ref": "DiscoveredService"
          }
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      },
      "type": "object"
    },
    "Attributes": {
      "properties": {
        "criticality": {
          "description": "Optional. User-defined criticality information.",
          "$ref": "Criticality"
        },
        "developerOwners": {
          "type": "array",
          "description": "Optional. Developer team that owns development and coding.",
          "items": {
            "$ref": "ContactInfo"
          }
        },
        "operatorOwners": {
          "type": "array",
          "description": "Optional. Operator team that ensures runtime and operations.",
          "items": {
            "$ref": "ContactInfo"
          }
        },
        "businessOwners": {
          "description": "Optional. Business team that ensures user needs are met and value is delivered",
          "type": "array",
          "items": {
            "$ref": "ContactInfo"
          }
        },
        "environment": {
          "$ref": "Environment",
          "description": "Optional. User-defined environment information."
        }
      },
      "description": "Consumer provided attributes.",
      "type": "object",
      "id": "Attributes"
    },
    "Policy": {
      "properties": {
        "etag": {
          "format": "byte",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "type": "string"
        },
        "bindings": {
          "type": "array",
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "items": {
            "$ref": "Binding"
          }
        },
        "auditConfigs": {
          "items": {
            "$ref": "AuditConfig"
          },
          "description": "Specifies cloud audit logging configuration for this policy.",
          "type": "array"
        },
        "version": {
          "format": "int32",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "Policy",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
    },
    "TestIamPermissionsResponse": {
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "TestIamPermissionsResponse",
      "type": "object",
      "description": "Response message for `TestIamPermissions` method."
    },
    "DiscoveredService": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the discovered service. Format: `\"projects/{host-project-id}/locations/{location}/discoveredServices/{uuid}\"`"
        },
        "serviceProperties": {
          "description": "Output only. Properties of an underlying compute resource that can comprise a Service. These are immutable.",
          "readOnly": true,
          "$ref": "ServiceProperties"
        },
        "serviceReference": {
          "description": "Output only. Reference to an underlying networking resource that can comprise a Service. These are immutable.",
          "readOnly": true,
          "$ref": "ServiceReference"
        }
      },
      "id": "DiscoveredService",
      "description": "DiscoveredService is a network or API interface that exposes some functionality to clients for consumption over the network. A discovered service can be registered to a App Hub service.",
      "type": "object"
    },
    "Workload": {
      "description": "Workload is an App Hub data model that contains a discovered workload, which represents a binary deployment (such as managed instance groups (MIGs) and GKE deployments) that performs the smallest logical subset of business functionality.",
      "id": "Workload",
      "type": "object",
      "properties": {
        "workloadProperties": {
          "readOnly": true,
          "description": "Output only. Properties of an underlying compute resource represented by the Workload. These are immutable.",
          "$ref": "WorkloadProperties"
        },
        "workloadReference": {
          "readOnly": true,
          "$ref": "WorkloadReference",
          "description": "Output only. Reference of an underlying compute resource represented by the Workload. These are immutable."
        },
        "discoveredWorkload": {
          "description": "Required. Immutable. The resource name of the original discovered workload.",
          "type": "string"
        },
        "attributes": {
          "$ref": "Attributes",
          "description": "Optional. Consumer provided attributes."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "DETACHED"
          ],
          "enumDescriptions": [
            "Unspecified state.",
            "The Workload is being created.",
            "The Workload is ready.",
            "The Workload is being deleted.",
            "The underlying compute resources have been deleted."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. Workload state."
        },
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A universally unique identifier (UUID) for the `Workload` in the UUID4 format."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the Workload. Format: `\"projects/{host-project-id}/locations/{location}/applications/{application-id}/workloads/{workload-id}\"`"
        },
        "description": {
          "description": "Optional. User-defined description of a Workload. Can have a maximum length of 2048 characters.",
          "type": "string"
        },
        "displayName": {
          "description": "Optional. User-defined name for the Workload. Can have a maximum length of 63 characters.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Update time."
        },
        "createTime": {
          "description": "Output only. Create time.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "ExtendedMetadata": {
      "type": "object",
      "properties": {
        "metadataStruct": {
          "readOnly": true,
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Output only. The metadata contents.",
          "type": "object"
        }
      },
      "id": "ExtendedMetadata",
      "description": "Additional metadata for a Service or Workload."
    },
    "DetachServiceProjectAttachmentRequest": {
      "properties": {},
      "description": "Request for DetachServiceProjectAttachment.",
      "type": "object",
      "id": "DetachServiceProjectAttachmentRequest"
    },
    "WorkloadReference": {
      "description": "Reference of an underlying compute resource represented by the Workload.",
      "properties": {
        "uri": {
          "readOnly": true,
          "description": "Output only. The underlying compute resource uri.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "WorkloadReference"
    },
    "OperationMetadata": {
      "properties": {
        "apiVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. API version used to start the operation."
        },
        "endTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime"
        },
        "target": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Server-defined resource path for the target of the operation."
        },
        "statusMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "boolean",
          "readOnly": true
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Represents the metadata of the long-running operation.",
      "type": "object",
      "id": "OperationMetadata"
    },
    "LookupDiscoveredWorkloadResponse": {
      "properties": {
        "discoveredWorkload": {
          "description": "Discovered Workload if exists, empty otherwise.",
          "$ref": "DiscoveredWorkload"
        }
      },
      "type": "object",
      "description": "Response for LookupDiscoveredWorkload.",
      "id": "LookupDiscoveredWorkloadResponse"
    },
    "ServiceReference": {
      "type": "object",
      "properties": {
        "uri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The underlying resource URI. For example, URI of Forwarding Rule, URL Map, and Backend Service."
        }
      },
      "description": "Reference to an underlying networking resource that can comprise a Service.",
      "id": "ServiceReference"
    },
    "Criticality": {
      "properties": {
        "type": {
          "enumDescriptions": [
            "Unspecified type.",
            "Mission critical service, application or workload.",
            "High impact.",
            "Medium impact.",
            "Low impact."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "MISSION_CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "description": "Required. Criticality Type."
        }
      },
      "description": "Criticality of the Application, Service, or Workload",
      "id": "Criticality",
      "type": "object"
    },
    "WorkloadProperties": {
      "properties": {
        "gcpProject": {
          "readOnly": true,
          "description": "Output only. The service project identifier that the underlying cloud resource resides in. Empty for non-cloud resources.",
          "type": "string"
        },
        "location": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The location that the underlying compute resource resides in (for example, us-west1)."
        },
        "zone": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The location that the underlying compute resource resides in if it is zonal (for example, us-west1-a)."
        },
        "identity": {
          "readOnly": true,
          "description": "Output only. The identity associated with the workload.",
          "$ref": "Identity"
        },
        "extendedMetadata": {
          "additionalProperties": {
            "$ref": "ExtendedMetadata"
          },
          "description": "Output only. Additional metadata specific to the resource type. The key is a string that identifies the type of metadata and the value is the metadata contents specific to that type. Key format: `apphub.googleapis.com/{metadataType}`",
          "readOnly": true,
          "type": "object"
        },
        "functionalType": {
          "readOnly": true,
          "description": "Output only. The type of the workload.",
          "$ref": "FunctionalType"
        }
      },
      "id": "WorkloadProperties",
      "type": "object",
      "description": "Properties of an underlying compute resource represented by the Workload."
    },
    "Operation": {
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "Scope": {
      "id": "Scope",
      "description": "Scope of an application.",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "REGIONAL",
            "GLOBAL"
          ],
          "enumDescriptions": [
            "Unspecified type.",
            "Regional type.",
            "Global type."
          ],
          "description": "Required. Scope Type."
        }
      }
    },
    "ListDiscoveredWorkloadsResponse": {
      "type": "object",
      "id": "ListDiscoveredWorkloadsResponse",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "discoveredWorkloads": {
          "type": "array",
          "items": {
            "$ref": "DiscoveredWorkload"
          },
          "description": "List of Discovered Workloads."
        }
      },
      "description": "Response for ListDiscoveredWorkloads."
    },
    "Service": {
      "description": "Service is an App Hub data model that contains a discovered service, which represents a network or API interface that exposes some functionality to clients for consumption over the network.",
      "type": "object",
      "id": "Service",
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. User-defined description of a Service. Can have a maximum length of 2048 characters."
        },
        "state": {
          "description": "Output only. Service state.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "DETACHED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified state.",
            "The service is being created.",
            "The service is ready.",
            "The service is being deleted.",
            "The underlying networking resources have been deleted."
          ],
          "type": "string"
        },
        "serviceReference": {
          "description": "Output only. Reference to an underlying networking resource that can comprise a Service. These are immutable.",
          "readOnly": true,
          "$ref": "ServiceReference"
        },
        "attributes": {
          "description": "Optional. Consumer provided attributes.",
          "$ref": "Attributes"
        },
        "discoveredService": {
          "description": "Required. Immutable. The resource name of the original discovered service.",
          "type": "string"
        },
        "serviceProperties": {
          "$ref": "ServiceProperties",
          "description": "Output only. Properties of an underlying compute resource that can comprise a Service. These are immutable.",
          "readOnly": true
        },
        "uid": {
          "description": "Output only. A universally unique identifier (UUID) for the `Service` in the UUID4 format.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Create time."
        },
        "updateTime": {
          "description": "Output only. Update time.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Optional. User-defined name for the Service. Can have a maximum length of 63 characters."
        },
        "name": {
          "description": "Identifier. The resource name of a Service. Format: `\"projects/{host-project-id}/locations/{location}/applications/{application-id}/services/{service-id}\"`",
          "type": "string"
        }
      }
    },
    "ServiceProperties": {
      "description": "Properties of an underlying cloud resource that can comprise a Service.",
      "id": "ServiceProperties",
      "properties": {
        "extendedMetadata": {
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "$ref": "ExtendedMetadata"
          },
          "description": "Output only. Additional metadata specific to the resource type. The key is a string that identifies the type of metadata and the value is the metadata contents specific to that type. Key format: `apphub.googleapis.com/{metadataType}`"
        },
        "identity": {
          "$ref": "Identity",
          "readOnly": true,
          "description": "Output only. The identity associated with the service."
        },
        "functionalType": {
          "description": "Output only. The type of the service.",
          "readOnly": true,
          "$ref": "FunctionalType"
        },
        "registrationType": {
          "readOnly": true,
          "$ref": "RegistrationType",
          "description": "Output only. The registration type of the service."
        },
        "gcpProject": {
          "type": "string",
          "description": "Output only. The service project identifier that the underlying cloud resource resides in.",
          "readOnly": true
        },
        "location": {
          "readOnly": true,
          "description": "Output only. The location that the underlying resource resides in, for example, us-west1.",
          "type": "string"
        },
        "zone": {
          "description": "Output only. The location that the underlying resource resides in if it is zonal, for example, us-west1-a).",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListApplicationsResponse": {
      "type": "object",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "applications": {
          "type": "array",
          "items": {
            "$ref": "Application"
          },
          "description": "List of Applications."
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "description": "Response for ListApplications.",
      "id": "ListApplicationsResponse"
    },
    "CancelOperationRequest": {
      "properties": {},
      "description": "The request message for Operations.CancelOperation.",
      "id": "CancelOperationRequest",
      "type": "object"
    },
    "Identity": {
      "id": "Identity",
      "properties": {
        "principal": {
          "description": "Output only. The principal of the identity. Supported formats: * `sa://my-sa@PROJECT_ID.iam.gserviceaccount.com` for GCP Service Account * `principal://POOL_ID.global.PROJECT_NUMBER.workload.id.goog/ns/NAMESPACE_ID/sa/MANAGED_IDENTITY_ID` for Managed Workload Identity",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "description": "The identity associated with a service or workload."
    },
    "LookupDiscoveredServiceResponse": {
      "id": "LookupDiscoveredServiceResponse",
      "properties": {
        "discoveredService": {
          "description": "Discovered Service if exists, empty otherwise.",
          "$ref": "DiscoveredService"
        }
      },
      "type": "object",
      "description": "Response for LookupDiscoveredService."
    },
    "ListServiceProjectAttachmentsResponse": {
      "properties": {
        "serviceProjectAttachments": {
          "type": "array",
          "items": {
            "$ref": "ServiceProjectAttachment"
          },
          "description": "List of service project attachments."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      },
      "type": "object",
      "description": "Response for ListServiceProjectAttachments.",
      "id": "ListServiceProjectAttachmentsResponse"
    },
    "ServiceProjectAttachment": {
      "properties": {
        "uid": {
          "readOnly": true,
          "description": "Output only. A globally unique identifier (in UUID4 format) for the `ServiceProjectAttachment`.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Create time.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of a ServiceProjectAttachment. Format: `\"projects/{host-project-id}/locations/global/serviceProjectAttachments/{service-project-id}.\"`"
        },
        "serviceProject": {
          "description": "Required. Immutable. Service project name in the format: `\"projects/abc\"` or `\"projects/123\"`. As input, project name with either project id or number are accepted. As output, this field will contain project number.",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING"
          ],
          "description": "Output only. ServiceProjectAttachment state.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified state.",
            "The ServiceProjectAttachment is being created.",
            "The ServiceProjectAttachment is ready. This means Services and Workloads under the corresponding ServiceProjectAttachment is ready for registration.",
            "The ServiceProjectAttachment is being deleted."
          ]
        }
      },
      "type": "object",
      "id": "ServiceProjectAttachment",
      "description": "ServiceProjectAttachment represents an attachment from a service project to a host project. Service projects contain the underlying cloud infrastructure resources, and expose these resources to the host project through a ServiceProjectAttachment. With the attachments, the host project can provide an aggregated view of resources across all service projects."
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "type": "object",
      "id": "Empty"
    },
    "DetachServiceProjectAttachmentResponse": {
      "properties": {},
      "description": "Response for DetachServiceProjectAttachment.",
      "id": "DetachServiceProjectAttachmentResponse",
      "type": "object"
    },
    "AuditLogConfig": {
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "type": "object",
      "id": "AuditLogConfig",
      "properties": {
        "exemptedMembers": {
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "logType": {
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "description": "The log type that this config enables.",
          "type": "string",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ]
        }
      }
    },
    "RegistrationType": {
      "properties": {
        "type": {
          "description": "Output only. The registration type of a service.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "TYPE_UNSPECIFIED",
            "EXCLUSIVE",
            "SHARED"
          ],
          "enumDescriptions": [
            "Unspecified registration type. Defaults to EXCLUSIVE.",
            "The service can only be registered to one application.",
            "The service can be registered to multiple applications."
          ]
        }
      },
      "id": "RegistrationType",
      "description": "The registration type of a service.",
      "type": "object"
    },
    "AuditConfig": {
      "id": "AuditConfig",
      "type": "object",
      "properties": {
        "auditLogConfigs": {
          "description": "The configuration for logging of each type of permission.",
          "items": {
            "$ref": "AuditLogConfig"
          },
          "type": "array"
        },
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        }
      },
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging."
    },
    "TestIamPermissionsRequest": {
      "id": "TestIamPermissionsRequest",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "type": "array"
        }
      },
      "description": "Request message for `TestIamPermissions` method.",
      "type": "object"
    },
    "DiscoveredWorkload": {
      "description": "DiscoveredWorkload is a binary deployment (such as managed instance groups (MIGs) and GKE deployments) that performs the smallest logical subset of business functionality. A discovered workload can be registered to an App Hub Workload.",
      "properties": {
        "workloadReference": {
          "description": "Output only. Reference of an underlying compute resource represented by the Workload. These are immutable.",
          "readOnly": true,
          "$ref": "WorkloadReference"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the discovered workload. Format: `\"projects/{host-project-id}/locations/{location}/discoveredWorkloads/{uuid}\"`"
        },
        "workloadProperties": {
          "description": "Output only. Properties of an underlying compute resource represented by the Workload. These are immutable.",
          "readOnly": true,
          "$ref": "WorkloadProperties"
        }
      },
      "type": "object",
      "id": "DiscoveredWorkload"
    },
    "ListWorkloadsResponse": {
      "type": "object",
      "properties": {
        "workloads": {
          "items": {
            "$ref": "Workload"
          },
          "description": "List of Workloads.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      },
      "description": "Response for ListWorkloads.",
      "id": "ListWorkloadsResponse"
    },
    "ContactInfo": {
      "type": "object",
      "description": "Contact information of stakeholders.",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Optional. Contact's name. Can have a maximum length of 63 characters."
        },
        "email": {
          "type": "string",
          "description": "Required. Email address of the contacts."
        }
      },
      "id": "ContactInfo"
    },
    "LookupServiceProjectAttachmentResponse": {
      "id": "LookupServiceProjectAttachmentResponse",
      "properties": {
        "serviceProjectAttachment": {
          "description": "Service project attachment for a project if exists, empty otherwise.",
          "$ref": "ServiceProjectAttachment"
        }
      },
      "description": "Response for LookupServiceProjectAttachment.",
      "type": "object"
    },
    "ListServicesResponse": {
      "description": "Response for ListServices.",
      "id": "ListServicesResponse",
      "type": "object",
      "properties": {
        "services": {
          "type": "array",
          "description": "List of Services.",
          "items": {
            "$ref": "Service"
          }
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      }
    },
    "ReconciliationOperationMetadata": {
      "properties": {
        "deleteResource": {
          "description": "DEPRECATED. Use exclusive_action instead.",
          "deprecated": true,
          "type": "boolean"
        },
        "exclusiveAction": {
          "type": "string",
          "enumDeprecated": [
            false,
            true,
            false
          ],
          "description": "Excluisive action returned by the CLH.",
          "enum": [
            "UNKNOWN_REPAIR_ACTION",
            "DELETE",
            "RETRY"
          ],
          "enumDescriptions": [
            "Unknown repair action.",
            "The resource has to be deleted. When using this bit, the CLH should fail the operation. DEPRECATED. Instead use DELETE_RESOURCE OperationSignal in SideChannel.",
            "This resource could not be repaired but the repair should be tried again at a later time. This can happen if there is a dependency that needs to be resolved first- e.g. if a parent resource must be repaired before a child resource."
          ]
        }
      },
      "id": "ReconciliationOperationMetadata",
      "type": "object",
      "description": "Operation metadata returned by the CLH during resource state reconciliation."
    },
    "ExtendedMetadataSchema": {
      "id": "ExtendedMetadataSchema",
      "type": "object",
      "properties": {
        "schemaVersion": {
          "type": "string",
          "description": "Output only. The version of the schema. New versions are required to be backwards compatible.",
          "format": "int64",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. Resource name of the schema. Format: projects//locations//extendedMetadataSchemas/"
        },
        "jsonSchema": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The JSON schema as a string."
        }
      },
      "description": "ExtendedMetadataSchema represents a schema for extended metadata of a service or workload."
    },
    "Application": {
      "description": "Application defines the governance boundary for App Hub entities that perform a logical end-to-end business function. App Hub supports application level IAM permission to align with governance requirements.",
      "id": "Application",
      "type": "object",
      "properties": {
        "updateTime": {
          "type": "string",
          "description": "Output only. Update time.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "createTime": {
          "description": "Output only. Create time.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "scope": {
          "description": "Required. Immutable. Defines what data can be included into this Application. Limits which Services and Workloads can be registered.",
          "$ref": "Scope"
        },
        "uid": {
          "description": "Output only. A universally unique identifier (in UUID4 format) for the `Application`.",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "description": "Optional. User-defined description of an Application. Can have a maximum length of 2048 characters.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Optional. User-defined name for the Application. Can have a maximum length of 63 characters."
        },
        "state": {
          "enumDescriptions": [
            "Unspecified state.",
            "The Application is being created.",
            "The Application is ready to register Services and Workloads.",
            "The Application is being deleted."
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. Application state.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING"
          ]
        },
        "attributes": {
          "description": "Optional. Consumer provided attributes.",
          "$ref": "Attributes"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of an Application. Format: `\"projects/{host-project-id}/locations/{location}/applications/{application-id}\"`"
        }
      }
    },
    "Expr": {
      "id": "Expr",
      "properties": {
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        }
      },
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "type": "object"
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array"
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "type": "object",
      "id": "ListOperationsResponse"
    },
    "Location": {
      "id": "Location",
      "description": "A resource that represents a Google Cloud location.",
      "type": "object",
      "properties": {
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location."
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        }
      }
    },
    "Environment": {
      "properties": {
        "type": {
          "enumDescriptions": [
            "Unspecified type.",
            "Production environment.",
            "Staging environment.",
            "Test environment.",
            "Development environment."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "PRODUCTION",
            "STAGING",
            "TEST",
            "DEVELOPMENT"
          ],
          "description": "Required. Environment Type."
        }
      },
      "type": "object",
      "id": "Environment",
      "description": "Environment of the Application, Service, or Workload"
    },
    "ListExtendedMetadataSchemasResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "extendedMetadataSchemas": {
          "items": {
            "$ref": "ExtendedMetadataSchema"
          },
          "description": "List of Extended Metadata Schemas.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Response for ListExtendedMetadataSchemas.",
      "id": "ListExtendedMetadataSchemasResponse"
    },
    "SetIamPolicyRequest": {
      "description": "Request message for `SetIamPolicy` method.",
      "type": "object",
      "id": "SetIamPolicyRequest",
      "properties": {
        "policy": {
          "$ref": "Policy",
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
        },
        "updateMask": {
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "format": "google-fieldmask",
          "type": "string"
        }
      }
    },
    "ListLocationsResponse": {
      "type": "object",
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "FunctionalType": {
      "id": "FunctionalType",
      "properties": {
        "type": {
          "readOnly": true,
          "description": "Output only. The functional type of a service or workload.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "AGENT",
            "MCP_SERVER",
            "ENDPOINT"
          ],
          "enumDescriptions": [
            "Unspecified type.",
            "Agent type.",
            "MCP Server type.",
            "Endpoint type."
          ],
          "type": "string"
        }
      },
      "type": "object",
      "description": "The functional type of a service or workload."
    },
    "Binding": {
      "id": "Binding",
      "type": "object",
      "properties": {
        "role": {
          "type": "string",
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
        },
        "members": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`."
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        }
      },
      "description": "Associates `members`, or principals, with a `role`."
    },
    "Status": {
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    }
  },
  "description": "App Hub lets you build, operate, and manage applications on Google Cloud.",
  "ownerName": "Google",
  "rootUrl": "https://apphub.googleapis.com/",
  "basePath": "",
  "ownerDomain": "google.com",
  "title": "App Hub API",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "get": {
              "path": "v1/{+name}",
              "response": {
                "$ref": "Location"
              },
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Resource name for the location.",
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true
                }
              },
              "id": "apphub.projects.locations.get",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets information about a location.",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}"
            },
            "updateBoundary": {
              "response": {
                "$ref": "Operation"
              },
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Identifier. The resource name of the boundary. Format: \"projects/{project}/locations/{location}/boundary\"",
                  "pattern": "^projects/[^/]+/locations/[^/]+/boundary$",
                  "required": true,
                  "type": "string"
                },
                "requestId": {
                  "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                  "location": "query",
                  "type": "string"
                },
                "updateMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "description": "Optional. Field mask is used to specify the fields to be overwritten in the Boundary resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten.",
                  "type": "string"
                }
              },
              "id": "apphub.projects.locations.updateBoundary",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/boundary",
              "parameterOrder": [
                "name"
              ],
              "description": "Updates a Boundary.",
              "request": {
                "$ref": "Boundary"
              },
              "path": "v1/{+name}"
            },
            "getBoundary": {
              "response": {
                "$ref": "Boundary"
              },
              "description": "Gets a Boundary.",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "apphub.projects.locations.getBoundary",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "Required. The name of the boundary to retrieve. Format: `projects/{project}/locations/{location}/boundary`.",
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+/boundary$",
                  "location": "path",
                  "type": "string"
                }
              },
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/boundary"
            },
            "detachServiceProjectAttachment": {
              "description": "Detaches a service project from a host project. You can call this API from any service project without needing access to the host project that it is attached to.",
              "response": {
                "$ref": "DetachServiceProjectAttachmentResponse"
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:detachServiceProjectAttachment",
              "request": {
                "$ref": "DetachServiceProjectAttachmentRequest"
              },
              "id": "apphub.projects.locations.detachServiceProjectAttachment",
              "path": "v1/{+name}:detachServiceProjectAttachment",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "description": "Required. Service project id and location to detach from a host project. Only global location is supported. Expected format: `projects/{project}/locations/{location}`.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$"
                }
              },
              "httpMethod": "POST"
            },
            "lookupServiceProjectAttachment": {
              "parameterOrder": [
                "name"
              ],
              "description": "Lists a service project attachment for a given service project. You can call this API from any project to find if it is attached to a host project.",
              "id": "apphub.projects.locations.lookupServiceProjectAttachment",
              "response": {
                "$ref": "LookupServiceProjectAttachmentResponse"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. Service project ID and location to lookup service project attachment for. Only global location is supported. Expected format: `projects/{project}/locations/{location}`.",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+$"
                }
              },
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:lookupServiceProjectAttachment",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}:lookupServiceProjectAttachment"
            },
            "list": {
              "httpMethod": "GET",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "parameters": {
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "type": "string",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "location": "query",
                  "format": "int32"
                },
                "extraLocationTypes": {
                  "repeated": true,
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "type": "string",
                  "location": "query"
                },
                "name": {
                  "location": "path",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "id": "apphub.projects.locations.list",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}/locations",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectsId}/locations"
            }
          },
          "resources": {
            "extendedMetadataSchemas": {
              "methods": {
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. Schema resource name. Format: `projects/{project}/locations/{location}/extendedMetadataSchemas/{extended_metadata_schema}`. `{extended_metadata_schema}` has the format `\"apphub.googleapis.com/{SchemaName}\"`.",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/extendedMetadataSchemas/.*$"
                    }
                  },
                  "httpMethod": "GET",
                  "id": "apphub.projects.locations.extendedMetadataSchemas.get",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/extendedMetadataSchemas/{extendedMetadataSchemasId}",
                  "response": {
                    "$ref": "ExtendedMetadataSchema"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "description": "Gets an Extended Metadata Schema."
                },
                "list": {
                  "response": {
                    "$ref": "ListExtendedMetadataSchemasResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. Project and location to list Extended Metadata Schemas on. Expected format: `projects/{project}/locations/{location}`.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A token identifying a page of results the server should return."
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "format": "int32"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "apphub.projects.locations.extendedMetadataSchemas.list",
                  "path": "v1/{+parent}/extendedMetadataSchemas",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/extendedMetadataSchemas",
                  "description": "Lists Extended Metadata Schemas available in a host project and location."
                }
              }
            },
            "serviceProjectAttachments": {
              "methods": {
                "delete": {
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "description": "Required. Fully qualified name of the service project attachment to delete. Expected format: `projects/{project}/locations/{location}/serviceProjectAttachments/{serviceProjectAttachment}`.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/serviceProjectAttachments/[^/]+$",
                      "location": "path"
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "id": "apphub.projects.locations.serviceProjectAttachments.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a service project attachment.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/serviceProjectAttachments/{serviceProjectAttachmentsId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "create": {
                  "description": "Attaches a service project to the host project.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/serviceProjectAttachments",
                  "path": "v1/{+parent}/serviceProjectAttachments",
                  "request": {
                    "$ref": "ServiceProjectAttachment"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "apphub.projects.locations.serviceProjectAttachments.create",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. Host project ID and location to which service project is being attached. Only global location is supported. Expected format: `projects/{project}/locations/{location}`."
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string",
                      "location": "query"
                    },
                    "serviceProjectAttachmentId": {
                      "description": "Required. The service project attachment identifier must contain the project id of the service project specified in the service_project_attachment.service_project field.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "filter": {
                      "location": "query",
                      "description": "Optional. Filtering results.",
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "Optional. A token identifying a page of results the server should return.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. Host project ID and location to list service project attachments. Only global location is supported. Expected format: `projects/{project}/locations/{location}`.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "format": "int32"
                    },
                    "orderBy": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Hint for how to order the results."
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/serviceProjectAttachments",
                  "response": {
                    "$ref": "ListServiceProjectAttachmentsResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/serviceProjectAttachments",
                  "id": "apphub.projects.locations.serviceProjectAttachments.list",
                  "description": "Lists service projects attached to the host project."
                },
                "get": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/serviceProjectAttachments/{serviceProjectAttachmentsId}",
                  "description": "Gets a service project attachment.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "Required. Fully qualified name of the service project attachment to retrieve. Expected format: `projects/{project}/locations/{location}/serviceProjectAttachments/{serviceProjectAttachment}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/serviceProjectAttachments/[^/]+$",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "apphub.projects.locations.serviceProjectAttachments.get",
                  "response": {
                    "$ref": "ServiceProjectAttachment"
                  }
                }
              }
            },
            "applications": {
              "resources": {
                "workloads": {
                  "methods": {
                    "create": {
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "apphub.projects.locations.applications.workloads.create",
                      "description": "Creates a Workload in an Application.",
                      "httpMethod": "POST",
                      "parameters": {
                        "workloadId": {
                          "description": "Required. The Workload identifier. Must contain only lowercase letters, numbers or hyphens, with the first character a letter, the last a letter or a number, and a 63 character maximum.",
                          "type": "string",
                          "location": "query"
                        },
                        "requestId": {
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "location": "path",
                          "type": "string",
                          "description": "Required. Fully qualified name of the Application to create Workload in. Expected format: `projects/{project}/locations/{location}/applications/{application}`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/applications/[^/]+$",
                          "required": true
                        }
                      },
                      "request": {
                        "$ref": "Workload"
                      },
                      "path": "v1/{+parent}/workloads",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/workloads",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "list": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/workloads",
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1/{+parent}/workloads",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "pageToken": {
                          "type": "string",
                          "description": "Optional. A token identifying a page of results the server should return.",
                          "location": "query"
                        },
                        "parent": {
                          "description": "Required. Fully qualified name of the parent Application to list Workloads for. Expected format: `projects/{project}/locations/{location}/applications/{application}`.",
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/applications/[^/]+$",
                          "required": true
                        },
                        "filter": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. Filtering results."
                        },
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                          "location": "query"
                        },
                        "orderBy": {
                          "description": "Optional. Hint for how to order the results.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "httpMethod": "GET",
                      "description": "Lists Workloads in an Application.",
                      "id": "apphub.projects.locations.applications.workloads.list",
                      "response": {
                        "$ref": "ListWorkloadsResponse"
                      }
                    },
                    "get": {
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/workloads/{workloadsId}",
                      "parameters": {
                        "name": {
                          "description": "Required. Fully qualified name of the Workload to fetch. Expected format: `projects/{project}/locations/{location}/applications/{application}/workloads/{workload}`.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/applications/[^/]+/workloads/[^/]+$",
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "description": "Gets a Workload in an Application.",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "apphub.projects.locations.applications.workloads.get",
                      "path": "v1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Workload"
                      }
                    },
                    "delete": {
                      "response": {
                        "$ref": "Operation"
                      },
                      "path": "v1/{+name}",
                      "id": "apphub.projects.locations.applications.workloads.delete",
                      "httpMethod": "DELETE",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/applications/[^/]+/workloads/[^/]+$",
                          "description": "Required. Fully qualified name of the Workload to delete from an Application. Expected format: `projects/{project}/locations/{location}/applications/{application}/workloads/{workload}`.",
                          "required": true,
                          "type": "string"
                        },
                        "requestId": {
                          "location": "query",
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "type": "string"
                        }
                      },
                      "description": "Deletes a Workload from an Application.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/workloads/{workloadsId}",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "patch": {
                      "httpMethod": "PATCH",
                      "parameters": {
                        "requestId": {
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "location": "query",
                          "type": "string"
                        },
                        "name": {
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/applications/[^/]+/workloads/[^/]+$",
                          "location": "path",
                          "description": "Identifier. The resource name of the Workload. Format: `\"projects/{host-project-id}/locations/{location}/applications/{application-id}/workloads/{workload-id}\"`"
                        },
                        "updateMask": {
                          "type": "string",
                          "format": "google-fieldmask",
                          "location": "query",
                          "description": "Optional. Field mask is used to specify the fields to be overwritten in the Workload resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. The API changes the values of the fields as specified in the update_mask. The API ignores the values of all fields not covered by the update_mask. You can also unset a field by not specifying it in the updated message, but adding the field to the mask. This clears whatever value the field previously had."
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/workloads/{workloadsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Updates a Workload in an Application.",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}",
                      "response": {
                        "$ref": "Operation"
                      },
                      "id": "apphub.projects.locations.applications.workloads.patch",
                      "request": {
                        "$ref": "Workload"
                      }
                    }
                  }
                },
                "services": {
                  "methods": {
                    "get": {
                      "id": "apphub.projects.locations.applications.services.get",
                      "response": {
                        "$ref": "Service"
                      },
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/applications/[^/]+/services/[^/]+$",
                          "required": true,
                          "type": "string",
                          "description": "Required. Fully qualified name of the Service to fetch. Expected format: `projects/{project}/locations/{location}/applications/{application}/services/{service}`."
                        }
                      },
                      "path": "v1/{+name}",
                      "httpMethod": "GET",
                      "description": "Gets a Service in an Application.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/services/{servicesId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "delete": {
                      "description": "Deletes a Service from an Application.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/services/{servicesId}",
                      "id": "apphub.projects.locations.applications.services.delete",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}",
                      "parameters": {
                        "requestId": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/applications/[^/]+/services/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Required. Fully qualified name of the Service to delete from an Application. Expected format: `projects/{project}/locations/{location}/applications/{application}/services/{service}`."
[...]
