{
  "parameters": {
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "description": "Data format for response.",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    }
  },
  "description": "App Hub lets you build, operate, and manage applications on Google Cloud.",
  "ownerDomain": "google.com",
  "mtlsRootUrl": "https://apphub.mtls.googleapis.com/",
  "rootUrl": "https://apphub.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "version_module": true,
  "canonicalName": "App Hub",
  "protocol": "rest",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "schemas": {
    "Attributes": {
      "id": "Attributes",
      "description": "Consumer provided attributes.",
      "properties": {
        "businessOwners": {
          "type": "array",
          "items": {
            "$ref": "ContactInfo"
          },
          "description": "Optional. Business team that ensures user needs are met and value is delivered"
        },
        "operatorOwners": {
          "type": "array",
          "items": {
            "$ref": "ContactInfo"
          },
          "description": "Optional. Operator team that ensures runtime and operations."
        },
        "criticality": {
          "description": "Optional. User-defined criticality information.",
          "$ref": "Criticality"
        },
        "developerOwners": {
          "items": {
            "$ref": "ContactInfo"
          },
          "description": "Optional. Developer team that owns development and coding.",
          "type": "array"
        },
        "environment": {
          "$ref": "Environment",
          "description": "Optional. User-defined environment information."
        }
      },
      "type": "object"
    },
    "FunctionalType": {
      "type": "object",
      "description": "The functional type of a service or workload.",
      "properties": {
        "type": {
          "description": "Output only. The functional type of a service or workload.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "TYPE_UNSPECIFIED",
            "AGENT",
            "MCP_SERVER",
            "ENDPOINT"
          ],
          "enumDescriptions": [
            "Unspecified type.",
            "Agent type.",
            "MCP Server type.",
            "Endpoint type."
          ]
        }
      },
      "id": "FunctionalType"
    },
    "LookupDiscoveredWorkloadResponse": {
      "description": "Response for LookupDiscoveredWorkload.",
      "properties": {
        "discoveredWorkload": {
          "$ref": "DiscoveredWorkload",
          "description": "Discovered Workload if exists, empty otherwise."
        }
      },
      "id": "LookupDiscoveredWorkloadResponse",
      "type": "object"
    },
    "ExtendedMetadataSchema": {
      "type": "object",
      "description": "ExtendedMetadataSchema represents a schema for extended metadata of a service or workload.",
      "properties": {
        "name": {
          "description": "Identifier. Resource name of the schema. Format: projects//locations//extendedMetadataSchemas/",
          "type": "string"
        },
        "schemaVersion": {
          "description": "Output only. The version of the schema. New versions are required to be backwards compatible.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "jsonSchema": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The JSON schema as a string."
        }
      },
      "id": "ExtendedMetadataSchema"
    },
    "SetIamPolicyRequest": {
      "description": "Request message for `SetIamPolicy` method.",
      "properties": {
        "updateMask": {
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "format": "google-fieldmask",
          "type": "string"
        },
        "policy": {
          "$ref": "Policy",
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
        }
      },
      "id": "SetIamPolicyRequest",
      "type": "object"
    },
    "Binding": {
      "type": "object",
      "id": "Binding",
      "description": "Associates `members`, or principals, with a `role`.",
      "properties": {
        "members": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`."
        },
        "condition": {
          "$ref": "Expr",
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles).",
          "type": "string"
        }
      }
    },
    "DetachServiceProjectAttachmentResponse": {
      "description": "Response for DetachServiceProjectAttachment.",
      "properties": {},
      "id": "DetachServiceProjectAttachmentResponse",
      "type": "object"
    },
    "FindUnregisteredServicesResponse": {
      "type": "object",
      "description": "Response for FindUnregisteredServices.",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "discoveredServices": {
          "type": "array",
          "description": "List of Discovered Services.",
          "items": {
            "$ref": "DiscoveredService"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "id": "FindUnregisteredServicesResponse"
    },
    "ListDiscoveredWorkloadsResponse": {
      "type": "object",
      "id": "ListDiscoveredWorkloadsResponse",
      "description": "Response for ListDiscoveredWorkloads.",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "discoveredWorkloads": {
          "description": "List of Discovered Workloads.",
          "items": {
            "$ref": "DiscoveredWorkload"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      }
    },
    "Channel": {
      "description": "Separate message to accommodate custom formats across IRC and Slack.",
      "properties": {
        "uri": {
          "description": "Required. URI of the channel.",
          "type": "string"
        }
      },
      "id": "Channel",
      "type": "object"
    },
    "ListServicesResponse": {
      "id": "ListServicesResponse",
      "description": "Response for ListServices.",
      "properties": {
        "services": {
          "items": {
            "$ref": "Service"
          },
          "description": "List of Services.",
          "type": "array"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Scope": {
      "type": "object",
      "description": "Scope of an application.",
      "properties": {
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "REGIONAL",
            "GLOBAL"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified type.",
            "Regional type.",
            "Global type."
          ],
          "description": "Required. Scope Type."
        }
      },
      "id": "Scope"
    },
    "Identity": {
      "id": "Identity",
      "description": "The identity associated with a service or workload.",
      "properties": {
        "principal": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The principal of the identity. Supported formats: * `sa://my-sa@PROJECT_ID.iam.gserviceaccount.com` for GCP Service Account * `principal://POOL_ID.global.PROJECT_NUMBER.workload.id.goog/ns/NAMESPACE_ID/sa/MANAGED_IDENTITY_ID` for Managed Workload Identity"
        }
      },
      "type": "object"
    },
    "FindUnregisteredWorkloadsResponse": {
      "id": "FindUnregisteredWorkloadsResponse",
      "description": "Response for FindUnregisteredWorkloads.",
      "properties": {
        "discoveredWorkloads": {
          "type": "array",
          "description": "List of Discovered Workloads.",
          "items": {
            "$ref": "DiscoveredWorkload"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "DiscoveredWorkload": {
      "id": "DiscoveredWorkload",
      "description": "DiscoveredWorkload is a binary deployment (such as managed instance groups (MIGs) and GKE deployments) that performs the smallest logical subset of business functionality. A discovered workload can be registered to an App Hub Workload.",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the discovered workload. Format: `\"projects/{host-project-id}/locations/{location}/discoveredWorkloads/{uuid}\"`",
          "type": "string"
        },
        "workloadProperties": {
          "$ref": "WorkloadProperties",
          "description": "Output only. Properties of an underlying compute resource represented by the Workload. These are immutable.",
          "readOnly": true
        },
        "workloadReference": {
          "readOnly": true,
          "description": "Output only. Reference of an underlying compute resource represented by the Workload. These are immutable.",
          "$ref": "WorkloadReference"
        }
      },
      "type": "object"
    },
    "Service": {
      "id": "Service",
      "description": "Service is an App Hub data model that contains a discovered service, which represents a network or API interface that exposes some functionality to clients for consumption over the network.",
      "properties": {
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A universally unique identifier (UUID) for the `Service` in the UUID4 format."
        },
        "name": {
          "description": "Identifier. The resource name of a Service. Format: `\"projects/{host-project-id}/locations/{location}/applications/{application-id}/services/{service-id}\"`",
          "type": "string"
        },
        "displayName": {
          "description": "Optional. User-defined name for the Service. Can have a maximum length of 63 characters.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Create time.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "description": "Optional. User-defined description of a Service. Can have a maximum length of 2048 characters.",
          "type": "string"
        },
        "attributes": {
          "$ref": "Attributes",
          "description": "Optional. Consumer provided attributes."
        },
        "serviceReference": {
          "description": "Output only. Reference to an underlying networking resource that can comprise a Service. These are immutable.",
          "$ref": "ServiceReference",
          "readOnly": true
        },
        "serviceProperties": {
          "readOnly": true,
          "description": "Output only. Properties of an underlying compute resource that can comprise a Service. These are immutable.",
          "$ref": "ServiceProperties"
        },
        "discoveredService": {
          "description": "Required. Immutable. The resource name of the original discovered service.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Update time.",
          "format": "google-datetime"
        },
        "state": {
          "enumDescriptions": [
            "Unspecified state.",
            "The service is being created.",
            "The service is ready.",
            "The service is being deleted.",
            "The underlying networking resources have been deleted."
          ],
          "description": "Output only. Service state.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "DETACHED"
          ]
        }
      },
      "type": "object"
    },
    "DiscoveredService": {
      "id": "DiscoveredService",
      "description": "DiscoveredService is a network or API interface that exposes some functionality to clients for consumption over the network. A discovered service can be registered to a App Hub service.",
      "properties": {
        "serviceProperties": {
          "readOnly": true,
          "$ref": "ServiceProperties",
          "description": "Output only. Properties of an underlying compute resource that can comprise a Service. These are immutable."
        },
        "name": {
          "description": "Identifier. The resource name of the discovered service. Format: `\"projects/{host-project-id}/locations/{location}/discoveredServices/{uuid}\"`",
          "type": "string"
        },
        "serviceReference": {
          "description": "Output only. Reference to an underlying networking resource that can comprise a Service. These are immutable.",
          "$ref": "ServiceReference",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "ContactInfo": {
      "description": "Contact information of stakeholders.",
      "properties": {
        "channel": {
          "description": "Optional. Communication channel of the contacts.",
          "$ref": "Channel"
        },
        "email": {
          "description": "Required. Email address of the contacts.",
          "type": "string"
        },
        "displayName": {
          "description": "Optional. Contact's name. Can have a maximum length of 63 characters.",
          "type": "string"
        }
      },
      "id": "ContactInfo",
      "type": "object"
    },
    "Boundary": {
      "type": "object",
      "description": "Application management boundary.",
      "properties": {
        "crmNode": {
          "description": "Optional. The resource name of the CRM node being attached to the boundary. Format: `projects/{project-number}` or `projects/{project-id}`",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the boundary. Format: \"projects/{project}/locations/{location}/boundary\"",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Create time.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "Unspecified type.",
            "The Boundary automatically includes all descendants of the CRM node.",
            "The list of projects within the Boundary is managed by the user.",
            "The Boundary automatically includes all descendants of the CRM node, which is set via App Management folder capability."
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "TYPE_UNSPECIFIED",
            "AUTOMATIC",
            "MANUAL",
            "MANAGED_AUTOMATIC"
          ],
          "description": "Output only. Boundary type."
        },
        "updateTime": {
          "description": "Output only. Update time.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "Boundary"
    },
    "ListOperationsResponse": {
      "type": "object",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "type": "array",
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        },
        "unreachable": {
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListOperationsResponse"
    },
    "WorkloadProperties": {
      "type": "object",
      "description": "Properties of an underlying compute resource represented by the Workload.",
      "properties": {
        "identity": {
          "readOnly": true,
          "description": "Output only. The identity associated with the workload.",
          "$ref": "Identity"
        },
        "gcpProject": {
          "description": "Output only. The service project identifier that the underlying cloud resource resides in. Empty for non-cloud resources.",
          "readOnly": true,
          "type": "string"
        },
        "location": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The location that the underlying compute resource resides in (for example, us-west1)."
        },
        "zone": {
          "description": "Output only. The location that the underlying compute resource resides in if it is zonal (for example, us-west1-a).",
          "readOnly": true,
          "type": "string"
        },
        "functionalType": {
          "readOnly": true,
          "$ref": "FunctionalType",
          "description": "Output only. The type of the workload."
        },
        "extendedMetadata": {
          "readOnly": true,
          "additionalProperties": {
            "$ref": "ExtendedMetadata"
          },
          "type": "object",
          "description": "Output only. Additional metadata specific to the resource type. The key is a string that identifies the type of metadata and the value is the metadata contents specific to that type. Key format: `apphub.googleapis.com/{metadataType}`"
        }
      },
      "id": "WorkloadProperties"
    },
    "Application": {
      "type": "object",
      "id": "Application",
      "description": "Application defines the governance boundary for App Hub entities that perform a logical end-to-end business function. App Hub supports application level IAM permission to align with governance requirements.",
      "properties": {
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Update time.",
          "format": "google-datetime"
        },
        "state": {
          "enumDescriptions": [
            "Unspecified state.",
            "The Application is being created.",
            "The Application is ready to register Services and Workloads.",
            "The Application is being deleted."
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING"
          ],
          "type": "string",
          "description": "Output only. Application state."
        },
        "attributes": {
          "description": "Optional. Consumer provided attributes.",
          "$ref": "Attributes"
        },
        "scope": {
          "description": "Required. Immutable. Defines what data can be included into this Application. Limits which Services and Workloads can be registered.",
          "$ref": "Scope"
        },
        "description": {
          "description": "Optional. User-defined description of an Application. Can have a maximum length of 2048 characters.",
          "type": "string"
        },
        "displayName": {
          "description": "Optional. User-defined name for the Application. Can have a maximum length of 63 characters.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Create time.",
          "format": "google-datetime"
        },
        "name": {
          "description": "Identifier. The resource name of an Application. Format: `\"projects/{host-project-id}/locations/{location}/applications/{application-id}\"`",
          "type": "string"
        },
        "uid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A universally unique identifier (in UUID4 format) for the `Application`."
        }
      }
    },
    "RegistrationType": {
      "type": "object",
      "description": "The registration type of a service.",
      "properties": {
        "type": {
          "description": "Output only. The registration type of a service.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "TYPE_UNSPECIFIED",
            "EXCLUSIVE",
            "SHARED"
          ],
          "enumDescriptions": [
            "Unspecified registration type. Defaults to EXCLUSIVE.",
            "The service can only be registered to one application.",
            "The service can be registered to multiple applications."
          ]
        }
      },
      "id": "RegistrationType"
    },
    "ListApplicationsResponse": {
      "type": "object",
      "description": "Response for ListApplications.",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "applications": {
          "type": "array",
          "description": "List of Applications.",
          "items": {
            "$ref": "Application"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "id": "ListApplicationsResponse"
    },
    "LookupDiscoveredServiceResponse": {
      "type": "object",
      "description": "Response for LookupDiscoveredService.",
      "properties": {
        "discoveredService": {
          "description": "Discovered Service if exists, empty otherwise.",
          "$ref": "DiscoveredService"
        }
      },
      "id": "LookupDiscoveredServiceResponse"
    },
    "ListWorkloadsResponse": {
      "type": "object",
      "description": "Response for ListWorkloads.",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "workloads": {
          "type": "array",
          "items": {
            "$ref": "Workload"
          },
          "description": "List of Workloads."
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListWorkloadsResponse"
    },
    "Criticality": {
      "id": "Criticality",
      "description": "Criticality of the Application, Service, or Workload",
      "properties": {
        "missionCritical": {
          "type": "boolean",
          "deprecated": true,
          "description": "Optional. Indicates mission-critical Application, Service, or Workload. Deprecated: Please refer to type instead."
        },
        "type": {
          "description": "Required. Criticality Type.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified type.",
            "Mission critical service, application or workload.",
            "High impact.",
            "Medium impact.",
            "Low impact."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "MISSION_CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ]
        },
        "level": {
          "deprecated": true,
          "description": "Optional. Criticality level. Can contain only lowercase letters, numeric characters, underscores, and dashes. Can have a maximum length of 63 characters. Deprecated: Please refer to type instead.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CancelOperationRequest": {
      "type": "object",
      "description": "The request message for Operations.CancelOperation.",
      "properties": {},
      "id": "CancelOperationRequest"
    },
    "ServiceProjectAttachment": {
      "type": "object",
      "id": "ServiceProjectAttachment",
      "description": "ServiceProjectAttachment represents an attachment from a service project to a host project. Service projects contain the underlying cloud infrastructure resources, and expose these resources to the host project through a ServiceProjectAttachment. With the attachments, the host project can provide an aggregated view of resources across all service projects.",
      "properties": {
        "state": {
          "enumDescriptions": [
            "Unspecified state.",
            "The ServiceProjectAttachment is being created.",
            "The ServiceProjectAttachment is ready. This means Services and Workloads under the corresponding ServiceProjectAttachment is ready for registration.",
            "The ServiceProjectAttachment is being deleted."
          ],
          "description": "Output only. ServiceProjectAttachment state.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING"
          ]
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Create time.",
          "format": "google-datetime"
        },
        "name": {
          "description": "Identifier. The resource name of a ServiceProjectAttachment. Format: `\"projects/{host-project-id}/locations/global/serviceProjectAttachments/{service-project-id}.\"`",
          "type": "string"
        },
        "serviceProject": {
          "description": "Required. Immutable. Service project name in the format: `\"projects/abc\"` or `\"projects/123\"`. As input, project name with either project id or number are accepted. As output, this field will contain project number.",
          "type": "string"
        },
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A globally unique identifier (in UUID4 format) for the `ServiceProjectAttachment`."
        }
      }
    },
    "Workload": {
      "type": "object",
      "description": "Workload is an App Hub data model that contains a discovered workload, which represents a binary deployment (such as managed instance groups (MIGs) and GKE deployments) that performs the smallest logical subset of business functionality.",
      "properties": {
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A universally unique identifier (UUID) for the `Workload` in the UUID4 format."
        },
        "workloadProperties": {
          "description": "Output only. Properties of an underlying compute resource represented by the Workload. These are immutable.",
          "$ref": "WorkloadProperties",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. The resource name of the Workload. Format: `\"projects/{host-project-id}/locations/{location}/applications/{application-id}/workloads/{workload-id}\"`",
          "type": "string"
        },
        "displayName": {
          "description": "Optional. User-defined name for the Workload. Can have a maximum length of 63 characters.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Create time.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "description": {
          "description": "Optional. User-defined description of a Workload. Can have a maximum length of 2048 characters.",
          "type": "string"
        },
        "workloadReference": {
          "readOnly": true,
          "description": "Output only. Reference of an underlying compute resource represented by the Workload. These are immutable.",
          "$ref": "WorkloadReference"
        },
        "attributes": {
          "$ref": "Attributes",
          "description": "Optional. Consumer provided attributes."
        },
        "discoveredWorkload": {
          "description": "Required. Immutable. The resource name of the original discovered workload.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Update time.",
          "format": "google-datetime"
        },
        "state": {
          "description": "Output only. Workload state.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "DETACHED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified state.",
            "The Workload is being created.",
            "The Workload is ready.",
            "The Workload is being deleted.",
            "The underlying compute resources have been deleted."
          ]
        }
      },
      "id": "Workload"
    },
    "ListDiscoveredServicesResponse": {
      "description": "Response for ListDiscoveredServices.",
      "properties": {
        "discoveredServices": {
          "items": {
            "$ref": "DiscoveredService"
          },
          "description": "List of Discovered Services.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      },
      "id": "ListDiscoveredServicesResponse",
      "type": "object"
    },
    "TestIamPermissionsResponse": {
      "description": "Response message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "type": "array"
        }
      },
      "id": "TestIamPermissionsResponse",
      "type": "object"
    },
    "ServiceProperties": {
      "description": "Properties of an underlying cloud resource that can comprise a Service.",
      "properties": {
        "identity": {
          "$ref": "Identity",
          "description": "Output only. The identity associated with the service.",
          "readOnly": true
        },
        "gcpProject": {
          "description": "Output only. The service project identifier that the underlying cloud resource resides in.",
          "readOnly": true,
          "type": "string"
        },
        "location": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The location that the underlying resource resides in, for example, us-west1."
        },
        "zone": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The location that the underlying resource resides in if it is zonal, for example, us-west1-a)."
        },
        "functionalType": {
          "description": "Output only. The type of the service.",
          "$ref": "FunctionalType",
          "readOnly": true
        },
        "registrationType": {
          "description": "Output only. The registration type of the service.",
          "$ref": "RegistrationType",
          "readOnly": true
        },
        "extendedMetadata": {
          "type": "object",
          "readOnly": true,
          "additionalProperties": {
            "$ref": "ExtendedMetadata"
          },
          "description": "Output only. Additional metadata specific to the resource type. The key is a string that identifies the type of metadata and the value is the metadata contents specific to that type. Key format: `apphub.googleapis.com/{metadataType}`"
        }
      },
      "id": "ServiceProperties",
      "type": "object"
    },
    "DetachServiceProjectAttachmentRequest": {
      "type": "object",
      "description": "Request for DetachServiceProjectAttachment.",
      "properties": {},
      "id": "DetachServiceProjectAttachmentRequest"
    },
    "Policy": {
      "type": "object",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "properties": {
        "auditConfigs": {
          "description": "Specifies cloud audit logging configuration for this policy.",
          "items": {
            "$ref": "AuditConfig"
          },
          "type": "array"
        },
        "version": {
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32",
          "type": "integer"
        },
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "format": "byte",
          "type": "string"
        },
        "bindings": {
          "type": "array",
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "items": {
            "$ref": "Binding"
          }
        }
      },
      "id": "Policy"
    },
    "OperationMetadata": {
      "type": "object",
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime"
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string",
          "readOnly": true
        },
        "target": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Server-defined resource path for the target of the operation."
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "statusMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "OperationMetadata"
    },
    "AuditConfig": {
      "type": "object",
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "properties": {
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        },
        "auditLogConfigs": {
          "description": "The configuration for logging of each type of permission.",
          "items": {
            "$ref": "AuditLogConfig"
          },
          "type": "array"
        }
      },
      "id": "AuditConfig"
    },
    "TestIamPermissionsRequest": {
      "id": "TestIamPermissionsRequest",
      "description": "Request message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "type": "object"
    },
    "Location": {
      "type": "object",
      "description": "A resource that represents a Google Cloud location.",
      "properties": {
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location."
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        }
      },
      "id": "Location"
    },
    "ExtendedMetadata": {
      "id": "ExtendedMetadata",
      "description": "Additional metadata for a Service or Workload.",
      "properties": {
        "metadataStruct": {
          "type": "object",
          "readOnly": true,
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Output only. The metadata contents."
        }
      },
      "type": "object"
    },
    "WorkloadReference": {
      "type": "object",
      "description": "Reference of an underlying compute resource represented by the Workload.",
      "properties": {
        "uri": {
          "description": "Output only. The underlying compute resource uri.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "WorkloadReference"
    },
    "AuditLogConfig": {
      "type": "object",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "properties": {
        "logType": {
          "description": "The log type that this config enables.",
          "type": "string",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ]
        },
        "exemptedMembers": {
          "items": {
            "type": "string"
          },
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "type": "array"
        }
      },
      "id": "AuditLogConfig"
    },
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        }
      },
      "type": "object"
    },
    "Environment": {
      "type": "object",
      "id": "Environment",
      "description": "Environment of the Application, Service, or Workload",
      "properties": {
        "environment": {
          "description": "Optional. Environment name. Can contain only lowercase letters, numeric characters, underscores, and dashes. Can have a maximum length of 63 characters. Deprecated: Please refer to type instead.",
          "deprecated": true,
          "type": "string"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified type.",
            "Production environment.",
            "Staging environment.",
            "Test environment.",
            "Development environment."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "PRODUCTION",
            "STAGING",
            "TEST",
            "DEVELOPMENT"
          ],
          "description": "Required. Environment Type."
        }
      }
    },
    "LookupServiceProjectAttachmentResponse": {
      "id": "LookupServiceProjectAttachmentResponse",
      "description": "Response for LookupServiceProjectAttachment.",
      "properties": {
        "serviceProjectAttachment": {
          "$ref": "ServiceProjectAttachment",
          "description": "Service project attachment for a project if exists, empty otherwise."
        }
      },
      "type": "object"
    },
    "Expr": {
      "id": "Expr",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "properties": {
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "locations": {
          "type": "array",
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "id": "ListLocationsResponse",
      "type": "object"
    },
    "Status": {
      "type": "object",
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      }
    },
    "ListExtendedMetadataSchemasResponse": {
      "type": "object",
      "id": "ListExtendedMetadataSchemasResponse",
      "description": "Response for ListExtendedMetadataSchemas.",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "extendedMetadataSchemas": {
          "type": "array",
          "items": {
            "$ref": "ExtendedMetadataSchema"
          },
          "description": "List of Extended Metadata Schemas."
        }
      }
    },
    "ListServiceProjectAttachmentsResponse": {
      "type": "object",
      "id": "ListServiceProjectAttachmentsResponse",
      "description": "Response for ListServiceProjectAttachments.",
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "serviceProjectAttachments": {
          "items": {
            "$ref": "ServiceProjectAttachment"
          },
          "description": "List of service project attachments.",
          "type": "array"
        }
      }
    },
    "ServiceReference": {
      "type": "object",
      "description": "Reference to an underlying networking resource that can comprise a Service.",
      "properties": {
        "uri": {
          "description": "Output only. The underlying resource URI. For example, URI of Forwarding Rule, URL Map, and Backend Service.",
          "readOnly": true,
          "type": "string"
        },
        "path": {
          "description": "Output only. Additional path under the resource URI (demultiplexing one resource URI into multiple entries). Smallest unit a policy can be attached to. Examples: URL Map path entry.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "ServiceReference"
    }
  },
  "version": "v1alpha",
  "documentationLink": "https://cloud.google.com/app-hub/docs/",
  "name": "apphub",
  "baseUrl": "https://apphub.googleapis.com/",
  "title": "App Hub API",
  "batchPath": "batch",
  "id": "apphub:v1alpha",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "lookupServiceProjectAttachment": {
              "response": {
                "$ref": "LookupServiceProjectAttachmentResponse"
              },
              "path": "v1alpha/{+name}:lookupServiceProjectAttachment",
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}:lookupServiceProjectAttachment",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "description": "Lists a service project attachment for a given service project. You can call this API from any project to find if it is attached to a host project.",
              "id": "apphub.projects.locations.lookupServiceProjectAttachment",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "description": "Required. Service project ID and location to lookup service project attachment for. Only global location is supported. Expected format: `projects/{project}/locations/{location}`.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ]
            },
            "detachServiceProjectAttachment": {
              "parameters": {
                "name": {
                  "description": "Required. Service project id and location to detach from a host project. Only global location is supported. Expected format: `projects/{project}/locations/{location}`.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "apphub.projects.locations.detachServiceProjectAttachment",
              "description": "Detaches a service project from a host project. You can call this API from any service project without needing access to the host project that it is attached to.",
              "path": "v1alpha/{+name}:detachServiceProjectAttachment",
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}:detachServiceProjectAttachment",
              "request": {
                "$ref": "DetachServiceProjectAttachmentRequest"
              },
              "response": {
                "$ref": "DetachServiceProjectAttachmentResponse"
              }
            },
            "updateBoundary": {
              "response": {
                "$ref": "Operation"
              },
              "path": "v1alpha/{+name}",
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/boundary",
              "request": {
                "$ref": "Boundary"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "PATCH",
              "description": "Updates a Boundary.",
              "id": "apphub.projects.locations.updateBoundary",
              "parameters": {
                "updateMask": {
                  "type": "string",
                  "description": "Optional. Field mask is used to specify the fields to be overwritten in the Boundary resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten.",
                  "format": "google-fieldmask",
                  "location": "query"
                },
                "name": {
                  "type": "string",
                  "description": "Identifier. The resource name of the boundary. Format: \"projects/{project}/locations/{location}/boundary\"",
                  "pattern": "^projects/[^/]+/locations/[^/]+/boundary$",
                  "required": true,
                  "location": "path"
                },
                "requestId": {
                  "location": "query",
                  "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ]
            },
            "getBoundary": {
              "id": "apphub.projects.locations.getBoundary",
              "description": "Gets a Boundary.",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+/boundary$",
                  "description": "Required. The name of the boundary to retrieve. Format: `projects/{project}/locations/{location}/boundary`.",
                  "required": true,
                  "location": "path"
                }
              },
              "response": {
                "$ref": "Boundary"
              },
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/boundary",
              "path": "v1alpha/{+name}"
            },
            "list": {
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "extraLocationTypes": {
                  "repeated": true,
                  "type": "string",
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "location": "query"
                },
                "name": {
                  "type": "string",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "location": "path"
                },
                "filter": {
                  "type": "string",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "format": "int32",
                  "location": "query"
                },
                "pageToken": {
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query",
                  "type": "string"
                }
              },
              "id": "apphub.projects.locations.list",
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1alpha/projects/{projectsId}/locations",
              "path": "v1alpha/{+name}/locations",
              "response": {
                "$ref": "ListLocationsResponse"
              }
            },
            "get": {
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "description": "Resource name for the location.",
                  "required": true,
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "description": "Gets information about a location.",
              "id": "apphub.projects.locations.get",
              "path": "v1alpha/{+name}",
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}",
              "response": {
                "$ref": "Location"
              }
            }
          },
          "resources": {
            "discoveredServices": {
              "methods": {
                "lookup": {
                  "response": {
                    "$ref": "LookupDiscoveredServiceResponse"
                  },
                  "path": "v1alpha/{+parent}/discoveredServices:lookup",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/discoveredServices:lookup",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "description": "Lists a Discovered Service in a host project and location, with a given resource URI.",
                  "id": "apphub.projects.locations.discoveredServices.lookup",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Required. Host project ID and location to lookup Discovered Service in. Expected format: `projects/{project}/locations/{location}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path"
                    },
                    "uri": {
                      "type": "string",
                      "description": "Required. Resource URI to find DiscoveredService for. Accepts both project number and project ID and does translation when needed.",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "list": {
                  "response": {
                    "$ref": "ListDiscoveredServicesResponse"
                  },
                  "path": "v1alpha/{+parent}/discoveredServices",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/discoveredServices",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "apphub.projects.locations.discoveredServices.list",
                  "description": "Lists Discovered Services that can be added to an Application in a host project and location.",
                  "parameters": {
                    "pageSize": {
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. A token identifying a page of results the server should return.",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. Project and location to list Discovered Services on. Expected format: `projects/{project}/locations/{location}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Filtering results."
                    },
                    "orderBy": {
                      "type": "string",
                      "description": "Optional. Hint for how to order the results.",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "findUnregistered": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "description": "Finds unregistered services in a host project and location.",
                  "id": "apphub.projects.locations.discoveredServices.findUnregistered",
                  "parameters": {
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Filtering results."
                    },
                    "orderBy": {
                      "type": "string",
                      "description": "Optional. Hint for how to order the results.",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "required": true,
                      "description": "Required. Project and location to find unregistered Discovered Services on. Expected format: `projects/{project}/locations/{location}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "format": "int32",
                      "type": "integer"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A token identifying a page of results the server should return.",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "FindUnregisteredServicesResponse"
                  },
                  "path": "v1alpha/{+parent}/discoveredServices:findUnregistered",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/discoveredServices:findUnregistered"
                },
                "get": {
                  "path": "v1alpha/{+name}",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/discoveredServices/{discoveredServicesId}",
                  "response": {
                    "$ref": "DiscoveredService"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/discoveredServices/[^/]+$",
                      "description": "Required. Fully qualified name of the Discovered Service to fetch. Expected format: `projects/{project}/locations/{location}/discoveredServices/{discoveredService}`.",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "apphub.projects.locations.discoveredServices.get",
                  "description": "Gets a Discovered Service in a host project and location."
                }
              }
            },
            "applications": {
              "methods": {
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "description": "Creates an Application in a host project and location.",
                  "id": "apphub.projects.locations.applications.create",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. Project and location to create Application in. Expected format: `projects/{project}/locations/{location}`.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "applicationId": {
                      "type": "string",
                      "description": "Required. The Application identifier. Must contain only lowercase letters, numbers or hyphens, with the first character a letter, the last a letter or a number, and a 63 character maximum.",
                      "location": "query"
                    },
                    "requestId": {
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1alpha/{+parent}/applications",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/applications",
                  "request": {
                    "$ref": "Application"
                  }
                },
                "delete": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}",
                  "path": "v1alpha/{+name}",
                  "description": "Deletes an Application in a host project and location.",
                  "id": "apphub.projects.locations.applications.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/applications/[^/]+$",
                      "description": "Required. Fully qualified name of the Application to delete. Expected format: `projects/{project}/locations/{location}/applications/{application}`.",
                      "required": true,
                      "location": "path"
                    },
                    "requestId": {
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string"
                    }
                  }
                },
                "getIamPolicy": {
                  "path": "v1alpha/{+resource}:getIamPolicy",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}:getIamPolicy",
                  "response": {
                    "$ref": "Policy"
                  },
                  "parameters": {
                    "resource": {
                      "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/applications/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "options.requestedPolicyVersion": {
                      "type": "integer",
                      "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
                      "format": "int32",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "resource"
                  ],
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "apphub.projects.locations.applications.getIamPolicy",
                  "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set."
                },
                "get": {
                  "id": "apphub.projects.locations.applications.get",
                  "description": "Gets an Application in a host project and location.",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/applications/[^/]+$",
                      "description": "Required. Fully qualified name of the Application to fetch. Expected format: `projects/{project}/locations/{location}/applications/{application}`.",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "Application"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}",
                  "path": "v1alpha/{+name}"
                },
                "testIamPermissions": {
                  "parameterOrder": [
                    "resource"
                  ],
                  "parameters": {
                    "resource": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/applications/[^/]+$"
                    }
                  },
                  "id": "apphub.projects.locations.applications.testIamPermissions",
                  "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}:testIamPermissions",
                  "request": {
                    "$ref": "TestIamPermissionsRequest"
                  },
                  "path": "v1alpha/{+resource}:testIamPermissions",
                  "response": {
                    "$ref": "TestIamPermissionsResponse"
                  }
                },
                "list": {
                  "response": {
                    "$ref": "ListApplicationsResponse"
                  },
                  "path": "v1alpha/{+parent}/applications",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/applications",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "apphub.projects.locations.applications.list",
                  "description": "Lists Applications in a host project and location.",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. Project and location to list Applications on. Expected format: `projects/{project}/locations/{location}`.",
                      "type": "string"
                    },
                    "filter": {
                      "location": "query",
                      "description": "Optional. Filtering results.",
                      "type": "string"
                    },
                    "orderBy": {
                      "description": "Optional. Hint for how to order the results.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "format": "int32"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A token identifying a page of results the server should return."
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "patch": {
                  "parameters": {
                    "updateMask": {
                      "type": "string",
                      "description": "Optional. Field mask is used to specify the fields to be overwritten in the Application resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. The API changes the values of the fields as specified in the update_mask. The API ignores the values of all fields not covered by the update_mask. You can also unset a field by not specifying it in the updated message, but adding the field to the mask. This clears whatever value the field previously had.",
                      "format": "google-fieldmask",
                      "location": "query"
                    },
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/applications/[^/]+$",
                      "description": "Identifier. The resource name of an Application. Format: `\"projects/{host-project-id}/locations/{location}/applications/{application-id}\"`",
                      "required": true,
                      "location": "path"
                    },
                    "requestId": {
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "PATCH",
                  "description": "Updates an Application in a host project and location.",
                  "id": "apphub.projects.locations.applications.patch",
                  "path": "v1alpha/{+name}",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}",
                  "request": {
                    "$ref": "Application"
                  },
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "setIamPolicy": {
                  "response": {
                    "$ref": "Policy"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}:setIamPolicy",
                  "request": {
                    "$ref": "SetIamPolicyRequest"
                  },
                  "path": "v1alpha/{+resource}:setIamPolicy",
                  "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
                  "id": "apphub.projects.locations.applications.setIamPolicy",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "resource"
                  ],
                  "parameters": {
                    "resource": {
                      "type": "string",
                      "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/applications/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  }
                }
              },
              "resources": {
                "workloads": {
                  "methods": {
                    "create": {
                      "response": {
                        "$ref": "Operation"
                      },
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/workloads",
                      "request": {
                        "$ref": "Workload"
                      },
                      "path": "v1alpha/{+parent}/workloads",
                      "description": "Creates a Workload in an Application.",
                      "id": "apphub.projects.locations.applications.workloads.create",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/applications/[^/]+$",
[...]
