{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "baseUrl": "https://apphub.googleapis.com/",
  "mtlsRootUrl": "https://apphub.mtls.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerName": "Google",
  "description": "App Hub lets you build, operate, and manage applications on Google Cloud.",
  "title": "App Hub API",
  "name": "apphub",
  "batchPath": "batch",
  "basePath": "",
  "protocol": "rest",
  "canonicalName": "App Hub",
  "rootUrl": "https://apphub.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "version_module": true,
  "schemas": {
    "DetachServiceProjectAttachmentRequest": {
      "type": "object",
      "id": "DetachServiceProjectAttachmentRequest",
      "description": "Request for DetachServiceProjectAttachment.",
      "properties": {}
    },
    "TestIamPermissionsRequest": {
      "id": "TestIamPermissionsRequest",
      "description": "Request message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "CancelOperationRequest": {
      "type": "object",
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "properties": {}
    },
    "Application": {
      "type": "object",
      "id": "Application",
      "description": "Application defines the governance boundary for App Hub entities that perform a logical end-to-end business function. App Hub supports application level IAM permission to align with governance requirements.",
      "properties": {
        "attributes": {
          "$ref": "Attributes",
          "description": "Optional. Consumer provided attributes."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING"
          ],
          "type": "string",
          "description": "Output only. Application state.",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified state.",
            "The Application is being created.",
            "The Application is ready to register Services and Workloads.",
            "The Application is being deleted."
          ]
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of an Application. Format: `\"projects/{host-project-id}/locations/{location}/applications/{application-id}\"`"
        },
        "displayName": {
          "description": "Optional. User-defined name for the Application. Can have a maximum length of 63 characters.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Update time.",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. Create time.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "description": {
          "description": "Optional. User-defined description of an Application. Can have a maximum length of 2048 characters.",
          "type": "string"
        },
        "scope": {
          "$ref": "Scope",
          "description": "Required. Immutable. Defines what data can be included into this Application. Limits which Services and Workloads can be registered."
        },
        "uid": {
          "description": "Output only. A universally unique identifier (in UUID4 format) for the `Application`.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "TestIamPermissionsResponse": {
      "id": "TestIamPermissionsResponse",
      "description": "Response message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "FunctionalType": {
      "type": "object",
      "id": "FunctionalType",
      "description": "The functional type of a service or workload.",
      "properties": {
        "type": {
          "description": "Output only. The functional type of a service or workload.",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified type.",
            "Agent type.",
            "MCP Server type.",
            "Endpoint type."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "AGENT",
            "MCP_SERVER",
            "ENDPOINT"
          ]
        }
      }
    },
    "LookupDiscoveredWorkloadResponse": {
      "type": "object",
      "id": "LookupDiscoveredWorkloadResponse",
      "description": "Response for LookupDiscoveredWorkload.",
      "properties": {
        "discoveredWorkload": {
          "$ref": "DiscoveredWorkload",
          "description": "Discovered Workload if exists, empty otherwise."
        }
      }
    },
    "Channel": {
      "type": "object",
      "id": "Channel",
      "description": "Separate message to accommodate custom formats across IRC and Slack.",
      "properties": {
        "uri": {
          "description": "Required. URI of the channel.",
          "type": "string"
        }
      }
    },
    "ExtendedMetadataSchema": {
      "type": "object",
      "id": "ExtendedMetadataSchema",
      "description": "ExtendedMetadataSchema represents a schema for extended metadata of a service or workload.",
      "properties": {
        "jsonSchema": {
          "description": "Output only. The JSON schema as a string.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Resource name of the schema. Format: projects//locations//extendedMetadataSchemas/"
        },
        "schemaVersion": {
          "format": "int64",
          "description": "Output only. The version of the schema. New versions are required to be backwards compatible.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "Expr": {
      "id": "Expr",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "properties": {
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "type": "array"
        },
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        }
      },
      "type": "object"
    },
    "SetIamPolicyRequest": {
      "type": "object",
      "id": "SetIamPolicyRequest",
      "description": "Request message for `SetIamPolicy` method.",
      "properties": {
        "updateMask": {
          "type": "string",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "format": "google-fieldmask"
        },
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "Policy"
        }
      }
    },
    "ListApplicationsResponse": {
      "id": "ListApplicationsResponse",
      "description": "Response for ListApplications.",
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "applications": {
          "description": "List of Applications.",
          "items": {
            "$ref": "Application"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      },
      "type": "object"
    },
    "ListDiscoveredServicesResponse": {
      "id": "ListDiscoveredServicesResponse",
      "description": "Response for ListDiscoveredServices.",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "discoveredServices": {
          "type": "array",
          "description": "List of Discovered Services.",
          "items": {
            "$ref": "DiscoveredService"
          }
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "Policy": {
      "id": "Policy",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "properties": {
        "auditConfigs": {
          "description": "Specifies cloud audit logging configuration for this policy.",
          "items": {
            "$ref": "AuditConfig"
          },
          "type": "array"
        },
        "etag": {
          "format": "byte",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "type": "string"
        },
        "bindings": {
          "type": "array",
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "items": {
            "$ref": "Binding"
          }
        },
        "version": {
          "type": "integer",
          "format": "int32",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        }
      },
      "type": "object"
    },
    "Binding": {
      "id": "Binding",
      "description": "Associates `members`, or principals, with a `role`.",
      "properties": {
        "members": {
          "type": "array",
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`.",
          "items": {
            "type": "string"
          }
        },
        "condition": {
          "$ref": "Expr",
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles).",
          "type": "string"
        }
      },
      "type": "object"
    },
    "RegistrationType": {
      "type": "object",
      "id": "RegistrationType",
      "description": "The registration type of a service.",
      "properties": {
        "type": {
          "description": "Output only. The registration type of a service.",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified registration type. Defaults to EXCLUSIVE.",
            "The service can only be registered to one application.",
            "The service can be registered to multiple applications."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "EXCLUSIVE",
            "SHARED"
          ]
        }
      }
    },
    "DiscoveredWorkload": {
      "type": "object",
      "id": "DiscoveredWorkload",
      "description": "DiscoveredWorkload is a binary deployment (such as managed instance groups (MIGs) and GKE deployments) that performs the smallest logical subset of business functionality. A discovered workload can be registered to an App Hub Workload.",
      "properties": {
        "workloadReference": {
          "$ref": "WorkloadReference",
          "description": "Output only. Reference of an underlying compute resource represented by the Workload. These are immutable.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the discovered workload. Format: `\"projects/{host-project-id}/locations/{location}/discoveredWorkloads/{uuid}\"`"
        },
        "workloadProperties": {
          "$ref": "WorkloadProperties",
          "description": "Output only. Properties of an underlying compute resource represented by the Workload. These are immutable.",
          "readOnly": true
        }
      }
    },
    "Operation": {
      "type": "object",
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        }
      }
    },
    "DiscoveredService": {
      "type": "object",
      "id": "DiscoveredService",
      "description": "DiscoveredService is a network or API interface that exposes some functionality to clients for consumption over the network. A discovered service can be registered to a App Hub service.",
      "properties": {
        "serviceProperties": {
          "description": "Output only. Properties of an underlying compute resource that can comprise a Service. These are immutable.",
          "readOnly": true,
          "$ref": "ServiceProperties"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the discovered service. Format: `\"projects/{host-project-id}/locations/{location}/discoveredServices/{uuid}\"`"
        },
        "serviceReference": {
          "description": "Output only. Reference to an underlying networking resource that can comprise a Service. These are immutable.",
          "readOnly": true,
          "$ref": "ServiceReference"
        }
      }
    },
    "Service": {
      "type": "object",
      "id": "Service",
      "description": "Service is an App Hub data model that contains a discovered service, which represents a network or API interface that exposes some functionality to clients for consumption over the network.",
      "properties": {
        "discoveredService": {
          "type": "string",
          "description": "Required. Immutable. The resource name of the original discovered service."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "DETACHED"
          ],
          "description": "Output only. Service state.",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified state.",
            "The service is being created.",
            "The service is ready.",
            "The service is being deleted.",
            "The underlying networking resources have been deleted."
          ],
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of a Service. Format: `\"projects/{host-project-id}/locations/{location}/applications/{application-id}/services/{service-id}\"`",
          "type": "string"
        },
        "attributes": {
          "description": "Optional. Consumer provided attributes.",
          "$ref": "Attributes"
        },
        "serviceProperties": {
          "$ref": "ServiceProperties",
          "description": "Output only. Properties of an underlying compute resource that can comprise a Service. These are immutable.",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "Optional. User-defined name for the Service. Can have a maximum length of 63 characters."
        },
        "serviceReference": {
          "$ref": "ServiceReference",
          "description": "Output only. Reference to an underlying networking resource that can comprise a Service. These are immutable.",
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Update time.",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. Create time.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. User-defined description of a Service. Can have a maximum length of 2048 characters."
        },
        "uid": {
          "type": "string",
          "description": "Output only. A universally unique identifier (UUID) for the `Service` in the UUID4 format.",
          "readOnly": true
        }
      }
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "operations": {
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          }
        },
        "unreachable": {
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "type": "object"
    },
    "Scope": {
      "type": "object",
      "id": "Scope",
      "description": "Scope of an application.",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "REGIONAL",
            "GLOBAL"
          ],
          "description": "Required. Scope Type.",
          "enumDescriptions": [
            "Unspecified type.",
            "Regional type.",
            "Global type."
          ]
        }
      }
    },
    "ContactInfo": {
      "id": "ContactInfo",
      "description": "Contact information of stakeholders.",
      "properties": {
        "email": {
          "description": "Required. Email address of the contacts.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Optional. Contact's name. Can have a maximum length of 63 characters."
        },
        "channel": {
          "$ref": "Channel",
          "description": "Optional. Communication channel of the contacts."
        }
      },
      "type": "object"
    },
    "ExtendedMetadata": {
      "id": "ExtendedMetadata",
      "description": "Additional metadata for a Service or Workload.",
      "properties": {
        "metadataStruct": {
          "type": "object",
          "description": "Output only. The metadata contents.",
          "readOnly": true,
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "type": "object"
    },
    "ListLocationsResponse": {
      "type": "object",
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "locations": {
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      }
    },
    "ServiceProperties": {
      "type": "object",
      "id": "ServiceProperties",
      "description": "Properties of an underlying cloud resource that can comprise a Service.",
      "properties": {
        "identity": {
          "$ref": "Identity",
          "description": "Output only. The identity associated with the service.",
          "readOnly": true
        },
        "location": {
          "description": "Output only. The location that the underlying resource resides in, for example, us-west1.",
          "readOnly": true,
          "type": "string"
        },
        "zone": {
          "description": "Output only. The location that the underlying resource resides in if it is zonal, for example, us-west1-a).",
          "readOnly": true,
          "type": "string"
        },
        "functionalType": {
          "description": "Output only. The type of the service.",
          "readOnly": true,
          "$ref": "FunctionalType"
        },
        "registrationType": {
          "description": "Output only. The registration type of the service.",
          "readOnly": true,
          "$ref": "RegistrationType"
        },
        "extendedMetadata": {
          "type": "object",
          "description": "Output only. Additional metadata specific to the resource type. The key is a string that identifies the type of metadata and the value is the metadata contents specific to that type. Key format: `apphub.googleapis.com/{metadataType}`",
          "readOnly": true,
          "additionalProperties": {
            "$ref": "ExtendedMetadata"
          }
        },
        "gcpProject": {
          "description": "Output only. The service project identifier that the underlying cloud resource resides in.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "ListDiscoveredWorkloadsResponse": {
      "type": "object",
      "id": "ListDiscoveredWorkloadsResponse",
      "description": "Response for ListDiscoveredWorkloads.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "discoveredWorkloads": {
          "type": "array",
          "description": "List of Discovered Workloads.",
          "items": {
            "$ref": "DiscoveredWorkload"
          }
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "AuditConfig": {
      "type": "object",
      "id": "AuditConfig",
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "properties": {
        "service": {
          "type": "string",
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services."
        },
        "auditLogConfigs": {
          "description": "The configuration for logging of each type of permission.",
          "items": {
            "$ref": "AuditLogConfig"
          },
          "type": "array"
        }
      }
    },
    "Empty": {
      "type": "object",
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "Attributes": {
      "id": "Attributes",
      "description": "Consumer provided attributes.",
      "properties": {
        "environment": {
          "description": "Optional. User-defined environment information.",
          "$ref": "Environment"
        },
        "operatorOwners": {
          "type": "array",
          "description": "Optional. Operator team that ensures runtime and operations.",
          "items": {
            "$ref": "ContactInfo"
          }
        },
        "developerOwners": {
          "description": "Optional. Developer team that owns development and coding.",
          "items": {
            "$ref": "ContactInfo"
          },
          "type": "array"
        },
        "criticality": {
          "description": "Optional. User-defined criticality information.",
          "$ref": "Criticality"
        },
        "businessOwners": {
          "description": "Optional. Business team that ensures user needs are met and value is delivered",
          "items": {
            "$ref": "ContactInfo"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "Identity": {
      "id": "Identity",
      "description": "The identity associated with a service or workload.",
      "properties": {
        "principal": {
          "type": "string",
          "description": "Output only. The principal of the identity. Supported formats: * `sa://my-sa@PROJECT_ID.iam.gserviceaccount.com` for GCP Service Account * `principal://POOL_ID.global.PROJECT_NUMBER.workload.id.goog/ns/NAMESPACE_ID/sa/MANAGED_IDENTITY_ID` for Managed Workload Identity",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "FindUnregisteredWorkloadsResponse": {
      "type": "object",
      "id": "FindUnregisteredWorkloadsResponse",
      "description": "Response for FindUnregisteredWorkloads.",
      "properties": {
        "discoveredWorkloads": {
          "description": "List of Discovered Workloads.",
          "items": {
            "$ref": "DiscoveredWorkload"
          },
          "type": "array"
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      }
    },
    "Boundary": {
      "type": "object",
      "id": "Boundary",
      "description": "Application management boundary.",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the boundary. Format: \"projects/{project}/locations/{location}/boundary\"",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Create time.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "type": {
          "description": "Output only. Boundary type.",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified type.",
            "The Boundary automatically includes all descendants of the CRM node.",
            "The list of projects within the Boundary is managed by the user.",
            "The Boundary automatically includes all descendants of the CRM node, which is set via App Management folder capability."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "AUTOMATIC",
            "MANUAL",
            "MANAGED_AUTOMATIC"
          ]
        },
        "crmNode": {
          "description": "Optional. The resource name of the CRM node being attached to the boundary. Format: `projects/{project-number}` or `projects/{project-id}`",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. Update time.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "Environment": {
      "id": "Environment",
      "description": "Environment of the Application, Service, or Workload",
      "properties": {
        "environment": {
          "description": "Optional. Environment name. Can contain only lowercase letters, numeric characters, underscores, and dashes. Can have a maximum length of 63 characters. Deprecated: Please refer to type instead.",
          "deprecated": true,
          "type": "string"
        },
        "type": {
          "description": "Required. Environment Type.",
          "enumDescriptions": [
            "Unspecified type.",
            "Production environment.",
            "Staging environment.",
            "Test environment.",
            "Development environment."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "PRODUCTION",
            "STAGING",
            "TEST",
            "DEVELOPMENT"
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "Workload": {
      "id": "Workload",
      "description": "Workload is an App Hub data model that contains a discovered workload, which represents a binary deployment (such as managed instance groups (MIGs) and GKE deployments) that performs the smallest logical subset of business functionality.",
      "properties": {
        "attributes": {
          "description": "Optional. Consumer provided attributes.",
          "$ref": "Attributes"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the Workload. Format: `\"projects/{host-project-id}/locations/{location}/applications/{application-id}/workloads/{workload-id}\"`"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "DETACHED"
          ],
          "description": "Output only. Workload state.",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified state.",
            "The Workload is being created.",
            "The Workload is ready.",
            "The Workload is being deleted.",
            "The underlying compute resources have been deleted."
          ],
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Optional. User-defined name for the Workload. Can have a maximum length of 63 characters."
        },
        "workloadReference": {
          "description": "Output only. Reference of an underlying compute resource represented by the Workload. These are immutable.",
          "readOnly": true,
          "$ref": "WorkloadReference"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Update time.",
          "readOnly": true
        },
        "workloadProperties": {
          "description": "Output only. Properties of an underlying compute resource represented by the Workload. These are immutable.",
          "readOnly": true,
          "$ref": "WorkloadProperties"
        },
        "discoveredWorkload": {
          "type": "string",
          "description": "Required. Immutable. The resource name of the original discovered workload."
        },
        "createTime": {
          "description": "Output only. Create time.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "uid": {
          "description": "Output only. A universally unique identifier (UUID) for the `Workload` in the UUID4 format.",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "description": "Optional. User-defined description of a Workload. Can have a maximum length of 2048 characters.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "WorkloadProperties": {
      "type": "object",
      "id": "WorkloadProperties",
      "description": "Properties of an underlying compute resource represented by the Workload.",
      "properties": {
        "identity": {
          "$ref": "Identity",
          "description": "Output only. The identity associated with the workload.",
          "readOnly": true
        },
        "zone": {
          "type": "string",
          "description": "Output only. The location that the underlying compute resource resides in if it is zonal (for example, us-west1-a).",
          "readOnly": true
        },
        "location": {
          "type": "string",
          "description": "Output only. The location that the underlying compute resource resides in (for example, us-west1).",
          "readOnly": true
        },
        "extendedMetadata": {
          "description": "Output only. Additional metadata specific to the resource type. The key is a string that identifies the type of metadata and the value is the metadata contents specific to that type. Key format: `apphub.googleapis.com/{metadataType}`",
          "readOnly": true,
          "additionalProperties": {
            "$ref": "ExtendedMetadata"
          },
          "type": "object"
        },
        "functionalType": {
          "$ref": "FunctionalType",
          "description": "Output only. The type of the workload.",
          "readOnly": true
        },
        "gcpProject": {
          "description": "Output only. The service project identifier that the underlying cloud resource resides in. Empty for non-cloud resources.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "Location": {
      "type": "object",
      "id": "Location",
      "description": "A resource that represents a Google Cloud location.",
      "properties": {
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "labels": {
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          }
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        }
      }
    },
    "LookupDiscoveredServiceResponse": {
      "id": "LookupDiscoveredServiceResponse",
      "description": "Response for LookupDiscoveredService.",
      "properties": {
        "discoveredService": {
          "$ref": "DiscoveredService",
          "description": "Discovered Service if exists, empty otherwise."
        }
      },
      "type": "object"
    },
    "ListServicesResponse": {
      "type": "object",
      "id": "ListServicesResponse",
      "description": "Response for ListServices.",
      "properties": {
        "services": {
          "type": "array",
          "description": "List of Services.",
          "items": {
            "$ref": "Service"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "WorkloadReference": {
      "id": "WorkloadReference",
      "description": "Reference of an underlying compute resource represented by the Workload.",
      "properties": {
        "uri": {
          "description": "Output only. The underlying compute resource uri.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "AuditLogConfig": {
      "id": "AuditLogConfig",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "properties": {
        "logType": {
          "description": "The log type that this config enables.",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "type": "string"
        },
        "exemptedMembers": {
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "ServiceReference": {
      "id": "ServiceReference",
      "description": "Reference to an underlying networking resource that can comprise a Service.",
      "properties": {
        "uri": {
          "description": "Output only. The underlying resource URI. For example, URI of Forwarding Rule, URL Map, and Backend Service.",
          "readOnly": true,
          "type": "string"
        },
        "path": {
          "description": "Output only. Additional path under the resource URI (demultiplexing one resource URI into multiple entries). Smallest unit a policy can be attached to. Examples: URL Map path entry.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "Criticality": {
      "id": "Criticality",
      "description": "Criticality of the Application, Service, or Workload",
      "properties": {
        "level": {
          "description": "Optional. Criticality level. Can contain only lowercase letters, numeric characters, underscores, and dashes. Can have a maximum length of 63 characters. Deprecated: Please refer to type instead.",
          "deprecated": true,
          "type": "string"
        },
        "missionCritical": {
          "description": "Optional. Indicates mission-critical Application, Service, or Workload. Deprecated: Please refer to type instead.",
          "deprecated": true,
          "type": "boolean"
        },
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "MISSION_CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "description": "Required. Criticality Type.",
          "enumDescriptions": [
            "Unspecified type.",
            "Mission critical service, application or workload.",
            "High impact.",
            "Medium impact.",
            "Low impact."
          ]
        }
      },
      "type": "object"
    },
    "ListWorkloadsResponse": {
      "id": "ListWorkloadsResponse",
      "description": "Response for ListWorkloads.",
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "workloads": {
          "type": "array",
          "description": "List of Workloads.",
          "items": {
            "$ref": "Workload"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      },
      "type": "object"
    },
    "LookupServiceProjectAttachmentResponse": {
      "type": "object",
      "id": "LookupServiceProjectAttachmentResponse",
      "description": "Response for LookupServiceProjectAttachment.",
      "properties": {
        "serviceProjectAttachment": {
          "$ref": "ServiceProjectAttachment",
          "description": "Service project attachment for a project if exists, empty otherwise."
        }
      }
    },
    "OperationMetadata": {
      "type": "object",
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "verb": {
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true
        },
        "statusMessage": {
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true
        },
        "target": {
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "type": "string"
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "apiVersion": {
          "type": "string",
          "description": "Output only. API version used to start the operation.",
          "readOnly": true
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running.",
          "readOnly": true
        }
      }
    },
    "ListExtendedMetadataSchemasResponse": {
      "id": "ListExtendedMetadataSchemasResponse",
      "description": "Response for ListExtendedMetadataSchemas.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "extendedMetadataSchemas": {
          "description": "List of Extended Metadata Schemas.",
          "items": {
            "$ref": "ExtendedMetadataSchema"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "FindUnregisteredServicesResponse": {
      "id": "FindUnregisteredServicesResponse",
      "description": "Response for FindUnregisteredServices.",
      "properties": {
        "discoveredServices": {
          "description": "List of Discovered Services.",
          "items": {
            "$ref": "DiscoveredService"
          },
          "type": "array"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      },
      "type": "object"
    },
    "ListServiceProjectAttachmentsResponse": {
      "type": "object",
      "id": "ListServiceProjectAttachmentsResponse",
      "description": "Response for ListServiceProjectAttachments.",
      "properties": {
        "serviceProjectAttachments": {
          "type": "array",
          "description": "List of service project attachments.",
          "items": {
            "$ref": "ServiceProjectAttachment"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "DetachServiceProjectAttachmentResponse": {
      "id": "DetachServiceProjectAttachmentResponse",
      "description": "Response for DetachServiceProjectAttachment.",
      "properties": {},
      "type": "object"
    },
    "ServiceProjectAttachment": {
      "type": "object",
      "id": "ServiceProjectAttachment",
      "description": "ServiceProjectAttachment represents an attachment from a service project to a host project. Service projects contain the underlying cloud infrastructure resources, and expose these resources to the host project through a ServiceProjectAttachment. With the attachments, the host project can provide an aggregated view of resources across all service projects.",
      "properties": {
        "serviceProject": {
          "description": "Required. Immutable. Service project name in the format: `\"projects/abc\"` or `\"projects/123\"`. As input, project name with either project id or number are accepted. As output, this field will contain project number.",
          "type": "string"
        },
        "uid": {
          "type": "string",
          "description": "Output only. A globally unique identifier (in UUID4 format) for the `ServiceProjectAttachment`.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of a ServiceProjectAttachment. Format: `\"projects/{host-project-id}/locations/global/serviceProjectAttachments/{service-project-id}.\"`"
        },
        "createTime": {
          "description": "Output only. Create time.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "state": {
          "description": "Output only. ServiceProjectAttachment state.",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified state.",
            "The ServiceProjectAttachment is being created.",
            "The ServiceProjectAttachment is ready. This means Services and Workloads under the corresponding ServiceProjectAttachment is ready for registration.",
            "The ServiceProjectAttachment is being deleted."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING"
          ]
        }
      }
    }
  },
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "getBoundary": {
              "httpMethod": "GET",
              "id": "apphub.projects.locations.getBoundary",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/locations/[^/]+/boundary$",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the boundary to retrieve. Format: `projects/{project}/locations/{location}/boundary`."
                }
              },
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/boundary",
              "path": "v1alpha/{+name}",
              "description": "Gets a Boundary.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Boundary"
              }
            },
            "detachServiceProjectAttachment": {
              "httpMethod": "POST",
              "request": {
                "$ref": "DetachServiceProjectAttachmentRequest"
              },
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. Service project id and location to detach from a host project. Only global location is supported. Expected format: `projects/{project}/locations/{location}`.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true
                }
              },
              "id": "apphub.projects.locations.detachServiceProjectAttachment",
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}:detachServiceProjectAttachment",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "DetachServiceProjectAttachmentResponse"
              },
              "path": "v1alpha/{+name}:detachServiceProjectAttachment",
              "description": "Detaches a service project from a host project. You can call this API from any service project without needing access to the host project that it is attached to."
            },
            "list": {
              "flatPath": "v1alpha/projects/{projectsId}/locations",
              "path": "v1alpha/{+name}/locations",
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "httpMethod": "GET",
              "id": "apphub.projects.locations.list",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "pattern": "^projects/[^/]+$",
                  "required": true
                },
                "extraLocationTypes": {
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "repeated": true,
                  "location": "query",
                  "type": "string"
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160)."
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query",
                  "type": "string"
                }
              }
            },
            "get": {
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}",
              "path": "v1alpha/{+name}",
              "description": "Gets information about a location.",
              "response": {
                "$ref": "Location"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "id": "apphub.projects.locations.get",
              "parameters": {
                "name": {
                  "description": "Resource name for the location.",
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ]
            },
            "lookupServiceProjectAttachment": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "LookupServiceProjectAttachmentResponse"
              },
              "path": "v1alpha/{+name}:lookupServiceProjectAttachment",
              "description": "Lists a service project attachment for a given service project. You can call this API from any project to find if it is attached to a host project.",
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}:lookupServiceProjectAttachment",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. Service project ID and location to lookup service project attachment for. Only global location is supported. Expected format: `projects/{project}/locations/{location}`."
                }
              },
              "id": "apphub.projects.locations.lookupServiceProjectAttachment",
              "httpMethod": "GET"
            },
            "updateBoundary": {
              "httpMethod": "PATCH",
              "request": {
                "$ref": "Boundary"
              },
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "Identifier. The resource name of the boundary. Format: \"projects/{project}/locations/{location}/boundary\"",
                  "pattern": "^projects/[^/]+/locations/[^/]+/boundary$",
                  "required": true
                },
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask",
                  "description": "Optional. Field mask is used to specify the fields to be overwritten in the Boundary resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten."
                },
                "requestId": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                }
              },
              "id": "apphub.projects.locations.updateBoundary",
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/boundary",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Operation"
              },
              "path": "v1alpha/{+name}",
              "description": "Updates a Boundary."
            }
          },
          "resources": {
            "applications": {
              "methods": {
                "get": {
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Application"
                  },
                  "path": "v1alpha/{+name}",
                  "description": "Gets an Application in a host project and location.",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. Fully qualified name of the Application to fetch. Expected format: `projects/{project}/locations/{location}/applications/{application}`.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/applications/[^/]+$",
                      "required": true
                    }
                  },
                  "id": "apphub.projects.locations.applications.get"
                },
                "setIamPolicy": {
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}:setIamPolicy",
                  "path": "v1alpha/{+resource}:setIamPolicy",
                  "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Policy"
                  },
                  "request": {
                    "$ref": "SetIamPolicyRequest"
                  },
                  "httpMethod": "POST",
                  "id": "apphub.projects.locations.applications.setIamPolicy",
                  "parameterOrder": [
                    "resource"
                  ],
                  "parameters": {
                    "resource": {
                      "location": "path",
                      "type": "string",
                      "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/applications/[^/]+$",
                      "required": true
                    }
                  }
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/applications/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. Fully qualified name of the Application to delete. Expected format: `projects/{project}/locations/{location}/applications/{application}`."
                    }
                  },
                  "id": "apphub.projects.locations.applications.delete",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1alpha/{+name}",
                  "description": "Deletes an Application in a host project and location.",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}"
                },
                "patch": {
                  "request": {
                    "$ref": "Application"
                  },
                  "httpMethod": "PATCH",
                  "id": "apphub.projects.locations.applications.patch",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/applications/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Identifier. The resource name of an Application. Format: `\"projects/{host-project-id}/locations/{location}/applications/{application-id}\"`"
                    },
                    "updateMask": {
                      "description": "Optional. Field mask is used to specify the fields to be overwritten in the Application resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. The API changes the values of the fields as specified in the update_mask. The API ignores the values of all fields not covered by the update_mask. You can also unset a field by not specifying it in the updated message, but adding the field to the mask. This clears whatever value the field previously had.",
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string"
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}",
                  "path": "v1alpha/{+name}",
                  "description": "Updates an Application in a host project and location.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/applications",
                  "path": "v1alpha/{+parent}/applications",
                  "description": "Lists Applications in a host project and location.",
                  "response": {
                    "$ref": "ListApplicationsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "id": "apphub.projects.locations.applications.list",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A token identifying a page of results the server should return."
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "format": "int32"
                    },
                    "orderBy": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Hint for how to order the results."
                    },
                    "filter": {
                      "description": "Optional. Filtering results.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. Project and location to list Applications on. Expected format: `projects/{project}/locations/{location}`."
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "testIamPermissions": {
                  "path": "v1alpha/{+resource}:testIamPermissions",
                  "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "TestIamPermissionsResponse"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}:testIamPermissions",
                  "id": "apphub.projects.locations.applications.testIamPermissions",
                  "parameterOrder": [
                    "resource"
                  ],
                  "parameters": {
                    "resource": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/applications/[^/]+$",
                      "required": true,
                      "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "TestIamPermissionsRequest"
                  },
                  "httpMethod": "POST"
                },
                "create": {
                  "id": "apphub.projects.locations.applications.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. Project and location to create Application in. Expected format: `projects/{project}/locations/{location}`."
                    },
                    "applicationId": {
                      "description": "Required. The Application identifier. Must contain only lowercase letters, numbers or hyphens, with the first character a letter, the last a letter or a number, and a 63 character maximum.",
                      "location": "query",
                      "type": "string"
                    },
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    }
                  },
                  "request": {
                    "$ref": "Application"
                  },
                  "httpMethod": "POST",
                  "path": "v1alpha/{+parent}/applications",
                  "description": "Creates an Application in a host project and location.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/applications"
                },
                "getIamPolicy": {
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}:getIamPolicy",
                  "path": "v1alpha/{+resource}:getIamPolicy",
                  "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Policy"
                  },
                  "httpMethod": "GET",
                  "id": "apphub.projects.locations.applications.getIamPolicy",
                  "parameterOrder": [
                    "resource"
                  ],
                  "parameters": {
                    "resource": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/applications/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
                    },
                    "options.requestedPolicyVersion": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
                    }
                  }
                }
              },
              "resources": {
                "services": {
                  "methods": {
                    "list": {
                      "httpMethod": "GET",
                      "id": "apphub.projects.locations.applications.services.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/applications/[^/]+$",
                          "required": true,
                          "description": "Required. Fully qualified name of the parent Application to list Services for. Expected format: `projects/{project}/locations/{location}/applications/{application}`.",
                          "location": "path",
                          "type": "string"
                        },
                        "filter": {
                          "description": "Optional. Filtering results",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "format": "int32",
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                          "location": "query",
                          "type": "integer"
                        },
                        "orderBy": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. Hint for how to order the results"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. A token identifying a page of results the server should return."
                        }
                      },
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/services",
                      "path": "v1alpha/{+parent}/services",
                      "description": "Lists Services in an Application.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "ListServicesResponse"
                      }
                    },
                    "patch": {
                      "response": {
                        "$ref": "Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1alpha/{+name}",
                      "description": "Updates a Service in an Application.",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/services/{servicesId}",
                      "parameters": {
                        "requestId": {
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "location": "query",
                          "type": "string"
                        },
                        "name": {
                          "description": "Identifier. The resource name of a Service. Format: `\"projects/{host-project-id}/locations/{location}/applications/{application-id}/services/{service-id}\"`",
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/applications/[^/]+/services/[^/]+$",
                          "required": true
                        },
                        "updateMask": {
                          "location": "query",
                          "type": "string",
                          "format": "google-fieldmask",
                          "description": "Optional. Field mask is used to specify the fields to be overwritten in the Service resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. The API changes the values of the fields as specified in the update_mask. The API ignores the values of all fields not covered by the update_mask. You can also unset a field by not specifying it in the updated message, but adding the field to the mask. This clears whatever value the field previously had."
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "apphub.projects.locations.applications.services.patch",
                      "httpMethod": "PATCH",
                      "request": {
                        "$ref": "Service"
                      }
                    },
                    "delete": {
                      "response": {
                        "$ref": "Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1alpha/{+name}",
                      "description": "Deletes a Service from an Application.",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/services/{servicesId}",
                      "parameters": {
                        "requestId": {
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "location": "query",
                          "type": "string"
                        },
                        "name": {
                          "location": "path",
                          "type": "string",
                          "description": "Required. Fully qualified name of the Service to delete from an Application. Expected format: `projects/{project}/locations/{location}/applications/{application}/services/{service}`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/applications/[^/]+/services/[^/]+$",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "apphub.projects.locations.applications.services.delete",
                      "httpMethod": "DELETE"
                    },
                    "get": {
                      "httpMethod": "GET",
                      "id": "apphub.projects.locations.applications.services.get",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "description": "Required. Fully qualified name of the Service to fetch. Expected format: `projects/{project}/locations/{location}/applications/{application}/services/{service}`.",
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/applications/[^/]+/services/[^/]+$",
                          "required": true
                        }
                      },
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/services/{servicesId}",
                      "path": "v1alpha/{+name}",
                      "description": "Gets a Service in an Application.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Service"
                      }
                    },
                    "create": {
                      "parameters": {
                        "serviceId": {
                          "description": "Required. The Service identifier. Must contain only lowercase letters, numbers or hyphens, with the first character a letter, the last a letter or a number, and a 63 character maximum.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "description": "Required. Fully qualified name of the parent Application to create the Service in. Expected format: `projects/{project}/locations/{location}/applications/{application}`.",
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/applications/[^/]+$",
                          "required": true
                        },
                        "requestId": {
                          "location": "query",
                          "type": "string",
[...]
