{
  "resources": {
    "customerLicense": {
      "methods": {
        "get": {
          "parameterOrder": [
            "applicationId",
            "customerId"
          ],
          "response": {
            "$ref": "CustomerLicense"
          },
          "flatPath": "appsmarket/v2/customerLicense/{applicationId}/{customerId}",
          "scopes": [
            "https://www.googleapis.com/auth/appsmarketplace.license"
          ],
          "path": "appsmarket/v2/customerLicense/{applicationId}/{customerId}",
          "id": "appsmarket.customerLicense.get",
          "description": "Gets the customer's licensing status to determine if they have access to a given app. For more information, see [Getting app installation and licensing details](https://developers.google.com/workspace/marketplace/example-calls-marketplace-api).",
          "httpMethod": "GET",
          "parameters": {
            "customerId": {
              "location": "path",
              "description": "The ID of the customer.",
              "type": "string",
              "required": true
            },
            "applicationId": {
              "type": "string",
              "location": "path",
              "description": "The ID of the application.",
              "required": true
            }
          }
        }
      }
    },
    "userLicense": {
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/appsmarketplace.license"
          ],
          "flatPath": "appsmarket/v2/userLicense/{applicationId}/{userId}",
          "parameterOrder": [
            "applicationId",
            "userId"
          ],
          "response": {
            "$ref": "UserLicense"
          },
          "description": "Gets the user's licensing status to determine if they have permission to use a given app. For more information, see [Getting app installation and licensing details](https://developers.google.com/workspace/marketplace/example-calls-marketplace-api).",
          "path": "appsmarket/v2/userLicense/{applicationId}/{userId}",
          "httpMethod": "GET",
          "parameters": {
            "userId": {
              "description": "The ID of the user.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "applicationId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The ID of the application."
            }
          },
          "id": "appsmarket.userLicense.get"
        }
      }
    }
  },
  "ownerName": "Google",
  "title": "Google Workspace Marketplace API",
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "version_module": true,
  "description": "Lets your Google Workspace Marketplace applications integrate with Google's installtion and licensing services. ",
  "version": "v2",
  "canonicalName": "G Suite Marketplace API",
  "ownerDomain": "google.com",
  "name": "appsmarket",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "servicePath": "",
  "revision": "20260914",
  "rootUrl": "https://appsmarket.googleapis.com/",
  "protocol": "rest",
  "mtlsRootUrl": "https://appsmarket.mtls.googleapis.com/",
  "documentationLink": "https://developers.google.com/workspace/marketplace",
  "id": "appsmarket:v2",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/appsmarketplace.license": {
          "description": "View your installed application's licensing information"
        }
      }
    }
  },
  "parameters": {
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format.",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "type": "string",
      "description": "Data format for response."
    }
  },
  "schemas": {
    "Editions": {
      "id": "Editions",
      "properties": {
        "editionId": {
          "deprecated": true,
          "type": "string",
          "description": "(Deprecated)"
        },
        "assignedSeats": {
          "format": "int32",
          "type": "integer",
          "description": "(Deprecated)",
          "deprecated": true
        },
        "seatCount": {
          "type": "integer",
          "description": "(Deprecated)",
          "format": "int32",
          "deprecated": true
        }
      },
      "type": "object"
    },
    "UserLicense": {
      "id": "UserLicense",
      "properties": {
        "applicationId": {
          "description": "The ID of the application corresponding to the license query.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The ID of the user license."
        },
        "customerId": {
          "description": "The domain name of the user.",
          "type": "string"
        },
        "enabled": {
          "description": "The domain administrator has activated the application for this domain.",
          "type": "boolean"
        },
        "kind": {
          "description": "The type of API resource. This is always `appsmarket#userLicense`.",
          "type": "string"
        },
        "userId": {
          "description": "The email address of the user.",
          "type": "string"
        },
        "editionId": {
          "type": "string",
          "description": "(Deprecated)",
          "deprecated": true
        },
        "state": {
          "description": "The user's licensing status. One of: - `ACTIVE`: The user has a valid license and should be permitted to use the application. - `UNLICENSED`: The administrator of this user's domain never assigned a seat for the application to this user. - `EXPIRED`: The administrator assigned a seat to this user, but the license is expired.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CustomerLicense": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "The type of API resource. This is always `appsmarket#customerLicense`."
        },
        "customerId": {
          "type": "string",
          "description": "The domain name of the customer."
        },
        "id": {
          "description": "The ID of the customer license.",
          "type": "string"
        },
        "editions": {
          "deprecated": true,
          "type": "array",
          "items": {
            "$ref": "Editions"
          },
          "description": "(Deprecated)"
        },
        "applicationId": {
          "description": "The ID of the application corresponding to this license query.",
          "type": "string"
        },
        "state": {
          "description": "The customer's license status. One of: - `ACTIVE`: The customer has a valid license. - `UNLICENSED`: There is no license. Either this customer has never installed your application or has deleted it.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "CustomerLicense"
    }
  },
  "kind": "discovery#restDescription",
  "basePath": "",
  "baseUrl": "https://appsmarket.googleapis.com/",
  "fullyEncodeReservedExpansion": true
}