{
  "documentationLink": "https://cloud.google.com/artifacts/docs/",
  "basePath": "",
  "title": "Artifact Registry API",
  "revision": "20260822",
  "fullyEncodeReservedExpansion": true,
  "name": "artifactregistry",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "version_module": true,
  "servicePath": "",
  "discoveryVersion": "v1",
  "description": "Store and manage build artifacts in a scalable and integrated service built on Google infrastructure.",
  "parameters": {
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "location": "query",
      "type": "string"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    }
  },
  "mtlsRootUrl": "https://artifactregistry.mtls.googleapis.com/",
  "schemas": {
    "UploadGoModuleMediaResponse": {
      "id": "UploadGoModuleMediaResponse",
      "properties": {
        "operation": {
          "$ref": "Operation",
          "description": "Operation to be returned to the user."
        }
      },
      "type": "object",
      "description": "The response to upload a Go module."
    },
    "PrewarmArtifactResponse": {
      "properties": {
        "prewarmedArtifact": {
          "$ref": "PrewarmedArtifact",
          "description": "The prewarmed artifact that was prewarmed."
        }
      },
      "id": "PrewarmArtifactResponse",
      "type": "object",
      "description": "The response for prewarming an artifact for streaming."
    },
    "ImportAptArtifactsGcsSource": {
      "properties": {
        "uris": {
          "items": {
            "type": "string"
          },
          "description": "Cloud Storage paths URI (e.g., gs://my_bucket//my_object).",
          "type": "array"
        },
        "useWildcards": {
          "description": "Supports URI wildcards for matching multiple objects from a single URI.",
          "type": "boolean"
        }
      },
      "id": "ImportAptArtifactsGcsSource",
      "type": "object",
      "description": "Google Cloud Storage location where the artifacts currently reside."
    },
    "ImportGoogetArtifactsErrorInfo": {
      "properties": {
        "error": {
          "description": "The detailed error status.",
          "$ref": "Status"
        },
        "gcsSource": {
          "description": "Google Cloud Storage location requested.",
          "$ref": "ImportGoogetArtifactsGcsSource"
        }
      },
      "id": "ImportGoogetArtifactsErrorInfo",
      "type": "object",
      "description": "Error information explaining why a package was not imported."
    },
    "GoogleDevtoolsArtifactregistryV1File": {
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Output only. The time when the File was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time when the File was last updated.",
          "readOnly": true
        },
        "name": {
          "description": "The name of the file, for example: `projects/p1/locations/us-central1/repositories/repo1/files/a%2Fb%2Fc.txt`. If the file ID part contains slashes, they are escaped.",
          "type": "string"
        },
        "fetchTime": {
          "description": "Output only. The time when the last attempt to refresh the file's data was made. Only set when the repository is remote.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "hashes": {
          "items": {
            "$ref": "Hash"
          },
          "description": "The hashes of the file content.",
          "type": "array"
        },
        "owner": {
          "description": "The name of the Package or Version that owns this file, if any.",
          "type": "string"
        },
        "sizeBytes": {
          "description": "The size of the File in bytes.",
          "format": "int64",
          "type": "string"
        },
        "annotations": {
          "type": "object",
          "description": "Optional. Client specified annotations.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Files store content that is potentially associated with Packages or Versions.",
      "id": "GoogleDevtoolsArtifactregistryV1File"
    },
    "CheckPrewarmedArtifactResponse": {
      "properties": {
        "prewarmedArtifact": {
          "description": "The prewarmed artifact that was checked.",
          "$ref": "PrewarmedArtifact"
        }
      },
      "id": "CheckPrewarmedArtifactResponse",
      "type": "object",
      "description": "The response for checking an artifact for streaming."
    },
    "ImportGoogetArtifactsRequest": {
      "description": "The request to import new googet artifacts.",
      "properties": {
        "gcsSource": {
          "$ref": "ImportGoogetArtifactsGcsSource",
          "description": "Google Cloud Storage location where input content is located."
        }
      },
      "id": "ImportGoogetArtifactsRequest",
      "type": "object"
    },
    "ImportGoogetArtifactsResponse": {
      "type": "object",
      "id": "ImportGoogetArtifactsResponse",
      "properties": {
        "errors": {
          "type": "array",
          "items": {
            "$ref": "ImportGoogetArtifactsErrorInfo"
          },
          "description": "Detailed error info for packages that were not imported."
        },
        "googetArtifacts": {
          "type": "array",
          "description": "The GooGet artifacts updated.",
          "items": {
            "$ref": "GoogetArtifact"
          }
        }
      },
      "description": "The response message from importing artifacts."
    },
    "BatchDeleteVersionsRequest": {
      "description": "The request to delete multiple versions across a repository.",
      "properties": {
        "names": {
          "items": {
            "type": "string"
          },
          "description": "Required. The names of the versions to delete. The maximum number of versions deleted per batch is determined by the service and is dependent on the available resources in the region.",
          "type": "array"
        },
        "validateOnly": {
          "description": "If true, the request is performed without deleting data, following AIP-163.",
          "type": "boolean"
        }
      },
      "id": "BatchDeleteVersionsRequest",
      "type": "object"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "id": "Empty",
      "properties": {}
    },
    "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigAptRepositoryPublicRepository": {
      "properties": {
        "repositoryBase": {
          "description": "A common public repository base for Apt.",
          "type": "string",
          "enum": [
            "REPOSITORY_BASE_UNSPECIFIED",
            "DEBIAN",
            "UBUNTU",
            "DEBIAN_SNAPSHOT"
          ],
          "enumDescriptions": [
            "Unspecified repository base.",
            "Debian.",
            "Ubuntu LTS/Pro.",
            "Archived Debian."
          ]
        },
        "repositoryPath": {
          "type": "string",
          "description": "A custom field to define a path to a specific repository from the base."
        }
      },
      "type": "object",
      "description": "Publicly available Apt repositories constructed from a common repository base and a custom repository path.",
      "id": "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigAptRepositoryPublicRepository"
    },
    "ImportYumArtifactsResponse": {
      "properties": {
        "yumArtifacts": {
          "items": {
            "$ref": "YumArtifact"
          },
          "type": "array",
          "description": "The yum artifacts imported."
        },
        "errors": {
          "type": "array",
          "items": {
            "$ref": "ImportYumArtifactsErrorInfo"
          },
          "description": "Detailed error info for packages that were not imported."
        }
      },
      "type": "object",
      "id": "ImportYumArtifactsResponse",
      "description": "The response message from importing YUM artifacts."
    },
    "ExportedFile": {
      "properties": {
        "hashes": {
          "type": "array",
          "items": {
            "$ref": "Hash"
          },
          "description": "The hashes of the file content."
        },
        "name": {
          "description": "Name of the exported artifact file. Format: `projects/p1/locations/us/repositories/repo1/files/file1`",
          "type": "string"
        },
        "gcsObjectPath": {
          "type": "string",
          "description": "Cloud Storage Object path of the exported file. Examples: `dst_bucket/file1`, `dst_bucket/sub_dir/file1`"
        }
      },
      "type": "object",
      "id": "ExportedFile",
      "description": "The exported artifact file."
    },
    "RemovePrewarmedArtifactRequest": {
      "description": "The request for removing an artifact from streaming.",
      "properties": {
        "tag": {
          "description": "Optional. The artifact tag Format:projects/{project}/locations/{location}/repositories/{repository}/packages/{package}/tags/{tag}",
          "type": "string"
        },
        "version": {
          "type": "string",
          "description": "Optional. The artifact version Format: projects/{project}/locations/{location}/repositories/{repository}/packages/{package}/versions/{version}"
        },
        "streamLocation": {
          "type": "string",
          "description": "Optional. The location of the prewarmed artifact. multi-region is not supported for this field."
        }
      },
      "type": "object",
      "id": "RemovePrewarmedArtifactRequest"
    },
    "ListPackagesResponse": {
      "type": "object",
      "id": "ListPackagesResponse",
      "description": "The response from listing packages.",
      "properties": {
        "packages": {
          "description": "The packages returned.",
          "items": {
            "$ref": "Package"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token to retrieve the next page of packages, or empty if there are no more packages to return."
        }
      }
    },
    "GenericArtifact": {
      "id": "GenericArtifact",
      "properties": {
        "name": {
          "description": "Resource name of the generic artifact. project, location, repository, package_id and version_id create a unique generic artifact. i.e. \"projects/test-project/locations/us-west4/repositories/test-repo/ genericArtifacts/package_id:version_id\"",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time when the Generic module is updated.",
          "format": "google-datetime"
        },
        "version": {
          "description": "The version of the generic artifact.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time when the Generic module is created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "description": "GenericArtifact represents a generic artifact"
    },
    "MavenArtifact": {
      "id": "MavenArtifact",
      "properties": {
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time the artifact was updated."
        },
        "version": {
          "description": "Version of this artifact.",
          "type": "string"
        },
        "name": {
          "description": "Required. registry_location, project_id, repository_name and maven_artifact forms a unique artifact For example, \"projects/test-project/locations/us-west4/repositories/test-repo/mavenArtifacts/ com.google.guava:guava:31.0-jre\", where \"us-west4\" is the registry_location, \"test-project\" is the project_id, \"test-repo\" is the repository_name and \"com.google.guava:guava:31.0-jre\" is the maven artifact.",
          "type": "string"
        },
        "groupId": {
          "type": "string",
          "description": "Group ID for the artifact. Example: com.google.guava"
        },
        "createTime": {
          "description": "Output only. Time the artifact was created.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "pomUri": {
          "type": "string",
          "description": "Required. URL to access the pom file of the artifact. Example: us-west4-maven.pkg.dev/test-project/test-repo/com/google/guava/guava/31.0/guava-31.0.pom"
        },
        "artifactId": {
          "description": "Artifact ID for the artifact.",
          "type": "string"
        }
      },
      "description": "MavenArtifact represents a maven artifact.",
      "type": "object"
    },
    "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigDockerRepositoryCustomRepository": {
      "id": "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigDockerRepositoryCustomRepository",
      "properties": {
        "uri": {
          "type": "string",
          "description": "An http/https uri reference to the custom remote repository, for ex: \"https://registry-1.docker.io\"."
        }
      },
      "type": "object",
      "description": "Customer-specified publicly available remote repository."
    },
    "DownloadFileResponse": {
      "type": "object",
      "id": "DownloadFileResponse",
      "description": "The response to download a file.",
      "properties": {}
    },
    "ImportYumArtifactsGcsSource": {
      "description": "Google Cloud Storage location where the artifacts currently reside.",
      "type": "object",
      "properties": {
        "useWildcards": {
          "type": "boolean",
          "description": "Supports URI wildcards for matching multiple objects from a single URI."
        },
        "uris": {
          "description": "Cloud Storage paths URI (e.g., gs://my_bucket//my_object).",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ImportYumArtifactsGcsSource"
    },
    "SetIamPolicyRequest": {
      "description": "Request message for `SetIamPolicy` method.",
      "type": "object",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "Policy"
        }
      },
      "id": "SetIamPolicyRequest"
    },
    "ImportAptArtifactsMetadata": {
      "type": "object",
      "properties": {},
      "description": "The operation metadata for importing artifacts.",
      "id": "ImportAptArtifactsMetadata"
    },
    "Expr": {
      "properties": {
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        }
      },
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "id": "Expr",
      "type": "object"
    },
    "Operation": {
      "type": "object",
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "response": {
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        }
      }
    },
    "CleanupPolicy": {
      "id": "CleanupPolicy",
      "type": "object",
      "description": "Artifact policy configuration for repository cleanup policies.",
      "properties": {
        "condition": {
          "$ref": "CleanupPolicyCondition",
          "description": "Policy condition for matching versions."
        },
        "mostRecentVersions": {
          "$ref": "CleanupPolicyMostRecentVersions",
          "description": "Policy condition for retaining a minimum number of versions. May only be specified with a Keep action."
        },
        "id": {
          "type": "string",
          "description": "The user-provided ID of the cleanup policy."
        },
        "action": {
          "type": "string",
          "enumDescriptions": [
            "Action not specified.",
            "Delete action.",
            "Keep action."
          ],
          "description": "Policy action.",
          "enum": [
            "ACTION_UNSPECIFIED",
            "DELETE",
            "KEEP"
          ]
        }
      }
    },
    "ImportAptArtifactsErrorInfo": {
      "id": "ImportAptArtifactsErrorInfo",
      "properties": {
        "error": {
          "description": "The detailed error status.",
          "$ref": "Status"
        },
        "gcsSource": {
          "description": "Google Cloud Storage location requested.",
          "$ref": "ImportAptArtifactsGcsSource"
        }
      },
      "type": "object",
      "description": "Error information explaining why a package was not imported."
    },
    "UploadFileMediaResponse": {
      "type": "object",
      "id": "UploadFileMediaResponse",
      "description": "The response to upload a generic artifact.",
      "properties": {
        "operation": {
          "description": "Operation that will be returned to the user.",
          "$ref": "Operation"
        }
      }
    },
    "GoModule": {
      "properties": {
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time when the Go module is created."
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time when the Go module is updated."
        },
        "version": {
          "type": "string",
          "description": "The version of the Go module. Must be a valid canonical version as defined in https://go.dev/ref/mod#glos-canonical-version."
        },
        "name": {
          "type": "string",
          "description": "The resource name of a Go module."
        }
      },
      "description": "GoModule represents a Go module.",
      "type": "object",
      "id": "GoModule"
    },
    "ListLocationsResponse": {
      "properties": {
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "id": "ListLocationsResponse",
      "type": "object",
      "description": "The response message for Locations.ListLocations."
    },
    "Binding": {
      "id": "Binding",
      "type": "object",
      "description": "Associates `members`, or principals, with a `role`.",
      "properties": {
        "members": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`."
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        },
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles).",
          "type": "string"
        }
      }
    },
    "PythonPackage": {
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time the package was updated."
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Time the package was created.",
          "type": "string"
        },
        "version": {
          "description": "Version of this package.",
          "type": "string"
        },
        "uri": {
          "description": "Required. URL to access the package. Example: us-west4-python.pkg.dev/test-project/test-repo/python_package/file-name-1.0.0.tar.gz",
          "type": "string"
        },
        "packageName": {
          "type": "string",
          "description": "Package for the artifact."
        },
        "name": {
          "type": "string",
          "description": "Required. registry_location, project_id, repository_name and python_package forms a unique package name:`projects//locations//repository//pythonPackages/`. For example, \"projects/test-project/locations/us-west4/repositories/test-repo/pythonPackages/ python_package:1.0.0\", where \"us-west4\" is the registry_location, \"test-project\" is the project_id, \"test-repo\" is the repository_name and python_package:1.0.0\" is the python package."
        }
      },
      "id": "PythonPackage",
      "type": "object",
      "description": "PythonPackage represents a python artifact."
    },
    "DockerImage": {
      "type": "object",
      "description": "DockerImage represents a docker artifact. The following fields are returned as untyped metadata in the Version resource, using camelcase keys (i.e. metadata.imageSizeBytes): * imageSizeBytes * mediaType * buildTime",
      "properties": {
        "mediaType": {
          "description": "Media type of this image, e.g. \"application/vnd.docker.distribution.manifest.v2+json\". This field is returned as the 'metadata.mediaType' field in the Version resource.",
          "type": "string"
        },
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Tags attached to this image."
        },
        "imageSizeBytes": {
          "description": "Calculated size of the image. This field is returned as the 'metadata.imageSizeBytes' field in the Version resource.",
          "type": "string",
          "format": "int64"
        },
        "artifactType": {
          "description": "ArtifactType of this image, e.g. \"application/vnd.example+type\". If the `subject_digest` is set and no `artifact_type` is given, the `media_type` will be considered as the `artifact_type`. This field is returned as the `metadata.artifactType` field in the Version resource.",
          "type": "string"
        },
        "uploadTime": {
          "format": "google-datetime",
          "description": "Time the image was uploaded.",
          "type": "string"
        },
        "name": {
          "description": "Required. registry_location, project_id, repository_name and image id forms a unique image name:`projects//locations//repositories//dockerImages/`. For example, \"projects/test-project/locations/us-west4/repositories/test-repo/dockerImages/ nginx@sha256:e9954c1fc875017be1c3e36eca16be2d9e9bccc4bf072163515467d6a823c7cf\", where \"us-west4\" is the registry_location, \"test-project\" is the project_id, \"test-repo\" is the repository_name and \"nginx@sha256:e9954c1fc875017be1c3e36eca16be2d9e9bccc4bf072163515467d6a823c7cf\" is the image's digest.",
          "type": "string"
        },
        "imageManifests": {
          "items": {
            "$ref": "ImageManifest"
          },
          "description": "Optional. For multi-arch images (manifest lists), this field contains the list of image manifests.",
          "type": "array"
        },
        "updateTime": {
          "description": "Output only. The time when the docker image was last updated.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "uri": {
          "type": "string",
          "description": "Required. URL to access the image. Example: us-west4-docker.pkg.dev/test-project/test-repo/nginx@sha256:e9954c1fc875017be1c3e36eca16be2d9e9bccc4bf072163515467d6a823c7cf"
        },
        "buildTime": {
          "format": "google-datetime",
          "description": "The time this image was built. This field is returned as the 'metadata.buildTime' field in the Version resource. The build time is returned to the client as an RFC 3339 string, which can be easily used with the JavaScript Date constructor.",
          "type": "string"
        }
      },
      "id": "DockerImage"
    },
    "UploadGenericArtifactMetadata": {
      "description": "The operation metadata for uploading generic artifacts.",
      "properties": {},
      "type": "object",
      "id": "UploadGenericArtifactMetadata"
    },
    "Repository": {
      "description": "A Repository for storing artifacts with a specific format.",
      "id": "Repository",
      "type": "object",
      "properties": {
        "description": {
          "description": "The user-provided description of the repository.",
          "type": "string"
        },
        "sizeBytes": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The size, in bytes, of all artifact storage in this repository. Repositories that are generally available or in public preview use this to calculate storage costs.",
          "format": "int64"
        },
        "platformLogsConfig": {
          "$ref": "PlatformLogsConfig",
          "description": "Optional. Configuration for platform logs."
        },
        "labels": {
          "description": "Labels with user-defined metadata. This field may contain up to 64 entries. Label keys and values may be no longer than 63 characters. Label keys must begin with a lowercase letter and may only contain lowercase letters, numeric characters, underscores, and dashes.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "virtualRepositoryConfig": {
          "description": "Configuration specific for a Virtual Repository.",
          "$ref": "VirtualRepositoryConfig"
        },
        "name": {
          "type": "string",
          "description": "The name of the repository, for example: `projects/p1/locations/us-central1/repositories/repo1`. For each location in a project, repository names must be unique."
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time when the repository was last updated."
        },
        "cleanupPolicies": {
          "type": "object",
          "description": "Optional. Cleanup policies for this repository. Cleanup policies indicate when certain package versions can be automatically deleted. Map keys are policy IDs supplied by users during policy creation. They must unique within a repository and be under 128 characters in length.",
          "additionalProperties": {
            "$ref": "CleanupPolicy"
          }
        },
        "registryUri": {
          "readOnly": true,
          "description": "Output only. The repository endpoint, for example: `us-docker.pkg.dev/my-proj/my-repo`.",
          "type": "string"
        },
        "mode": {
          "enum": [
            "MODE_UNSPECIFIED",
            "STANDARD_REPOSITORY",
            "VIRTUAL_REPOSITORY",
            "REMOTE_REPOSITORY",
            "AOSS_REPOSITORY",
            "ASSURED_OSS_REPOSITORY"
          ],
          "type": "string",
          "description": "Optional. The mode of the repository.",
          "enumDescriptions": [
            "Unspecified mode.",
            "A standard repository storing artifacts.",
            "A virtual repository to serve artifacts from one or more sources.",
            "A remote repository to serve artifacts from a remote source.",
            "An AOSS repository provides artifacts from AOSS upstreams.",
            "Replacement of AOSS_REPOSITORY."
          ]
        },
        "cleanupPolicyDryRun": {
          "description": "Optional. If true, the cleanup pipeline is prevented from deleting versions in this repository.",
          "type": "boolean"
        },
        "disallowUnspecifiedMode": {
          "type": "boolean",
          "description": "Optional. If this is true, an unspecified repo type will be treated as error rather than defaulting to standard."
        },
        "format": {
          "type": "string",
          "description": "Optional. The format of packages that are stored in the repository.",
          "enumDescriptions": [
            "Unspecified package format.",
            "Docker package format.",
            "Maven package format.",
            "NPM package format.",
            "APT package format.",
            "YUM package format.",
            "GooGet package format.",
            "Python package format.",
            "Kubeflow Pipelines package format.",
            "Go package format.",
            "Generic package format.",
            "Ruby package format.",
            "Conda package format."
          ],
          "enum": [
            "FORMAT_UNSPECIFIED",
            "DOCKER",
            "MAVEN",
            "NPM",
            "APT",
            "YUM",
            "GOOGET",
            "PYTHON",
            "KFP",
            "GO",
            "GENERIC",
            "RUBY",
            "CONDA"
          ]
        },
        "createTime": {
          "description": "Output only. The time when the repository was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "satisfiesPzs": {
          "description": "Output only. Whether or not this repository satisfies PZS.",
          "readOnly": true,
          "type": "boolean"
        },
        "satisfiesPzi": {
          "type": "boolean",
          "description": "Output only. Whether or not this repository satisfies PZI.",
          "readOnly": true
        },
        "remoteRepositoryConfig": {
          "description": "Configuration specific for a Remote Repository.",
          "$ref": "RemoteRepositoryConfig"
        },
        "vulnerabilityScanningConfig": {
          "description": "Optional. Config and state for vulnerability scanning of resources within this Repository.",
          "$ref": "VulnerabilityScanningConfig"
        },
        "dockerConfig": {
          "description": "Docker repository config contains repository level configuration for the repositories of docker type.",
          "$ref": "DockerRepositoryConfig"
        },
        "mavenConfig": {
          "description": "Maven repository config contains repository level configuration for the repositories of maven type.",
          "$ref": "MavenRepositoryConfig"
        },
        "kmsKeyName": {
          "description": "The Cloud KMS resource name of the customer managed encryption key that's used to encrypt the contents of the Repository. Has the form: `projects/my-project/locations/my-region/keyRings/my-kr/cryptoKeys/my-key`. This value may not be changed after the Repository has been created.",
          "type": "string"
        }
      }
    },
    "UploadKfpArtifactMetadata": {
      "description": "The operation metadata for uploading KFP artifacts.",
      "properties": {},
      "type": "object",
      "id": "UploadKfpArtifactMetadata"
    },
    "PrewarmArtifactRequest": {
      "type": "object",
      "description": "The request for prewarming an artifact for streaming.",
      "id": "PrewarmArtifactRequest",
      "properties": {
        "tag": {
          "description": "Optional. The artifact tag Format:projects/{project}/locations/{location}/repositories/{repository}/packages/{package}/tags/{tag}",
          "type": "string"
        },
        "version": {
          "description": "Optional. The artifact version Format: projects/{project}/locations/{location}/repositories/{repository}/packages/{package}/versions/{version}",
          "type": "string"
        },
        "streamLocation": {
          "type": "string",
          "description": "Optional. The location to cache the artifact in. If not specified, the artifact will be cached in the same location as the artifact. multi-region is not supported for this field."
        },
        "platform": {
          "description": "Optional. The platform (architecture and OS) of the image or tag.",
          "$ref": "PrewarmPlatform"
        },
        "retentionDays": {
          "format": "int64",
          "description": "Optional. The retention days of the prewarmed artifact. If not specified, the artifact will be cached for 3 days.",
          "type": "string"
        },
        "force": {
          "description": "Optional. If true, old artifact will be evicted to make room for the new artifact.",
          "type": "boolean"
        }
      }
    },
    "UploadKfpArtifactMediaResponse": {
      "properties": {
        "operation": {
          "description": "Operation that will be returned to the user.",
          "$ref": "Operation"
        }
      },
      "id": "UploadKfpArtifactMediaResponse",
      "description": "The response to upload an artifact.",
      "type": "object"
    },
    "Version": {
      "properties": {
        "metadata": {
          "description": "Output only. Repository-specific Metadata stored against this version. The fields returned are defined by the underlying repository-specific resource. Currently, the resources could be: DockerImage MavenArtifact",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object",
          "readOnly": true
        },
        "annotations": {
          "type": "object",
          "description": "Optional. Client specified annotations.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "updateTime": {
          "type": "string",
          "description": "The time when the version was last updated.",
          "format": "google-datetime"
        },
        "name": {
          "description": "The name of the version, for example: `projects/p1/locations/us-central1/repositories/repo1/packages/pkg1/versions/art1`. If the package or version ID parts contain slashes, the slashes are escaped.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "The time when the version was created.",
          "format": "google-datetime"
        },
        "fingerprints": {
          "items": {
            "$ref": "Hash"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. Immutable reference for the version, calculated based on the version's content. Currently we only support dirsum_sha256 hash algorithm. Additional hash algorithms may be added in the future."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the version, as specified in its metadata."
        },
        "relatedTags": {
          "description": "Output only. A list of related tags. Will contain up to 100 tags that reference this version.",
          "items": {
            "$ref": "Tag"
          },
          "type": "array"
        }
      },
      "id": "Version",
      "description": "The body of a version resource. A version resource represents a collection of components, such as files and other data. This may correspond to a version in many package management schemes.",
      "type": "object"
    },
    "RemovePrewarmedArtifactResponse": {
      "type": "object",
      "properties": {
        "prewarmedArtifact": {
          "$ref": "PrewarmedArtifact",
          "description": "The prewarmed artifact that was removed."
        }
      },
      "description": "The response for removing an artifact from streaming.",
      "id": "RemovePrewarmedArtifactResponse"
    },
    "VulnerabilityScanningConfig": {
      "type": "object",
      "description": "Config on whether to perform vulnerability scanning for resources in this repository, as well as output fields describing current state.",
      "id": "VulnerabilityScanningConfig",
      "properties": {
        "enablementState": {
          "description": "Output only. State of feature enablement, combining repository enablement config and API enablement state.",
          "enumDescriptions": [
            "Enablement state is unclear.",
            "Repository does not support vulnerability scanning.",
            "Vulnerability scanning is disabled for this repository.",
            "Vulnerability scanning is active for this repository."
          ],
          "type": "string",
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "SCANNING_UNSUPPORTED",
            "SCANNING_DISABLED",
            "SCANNING_ACTIVE"
          ],
          "readOnly": true
        },
        "enablementStateReason": {
          "description": "Output only. Reason for the repository state.",
          "readOnly": true,
          "type": "string"
        },
        "enablementConfig": {
          "type": "string",
          "description": "Optional. Config for whether this repository has vulnerability scanning disabled. When unset (ENABLEMENT_CONFIG_UNSPECIFIED), this is treated as INHERITED for Docker repositories and DISABLED for non-Docker repositories.",
          "enum": [
            "ENABLEMENT_CONFIG_UNSPECIFIED",
            "INHERITED",
            "DISABLED"
          ],
          "enumDescriptions": [
            "Unspecified enablement configuration.",
            "Enables the feature, but is dependent on parent API enablement.",
            "Disables the feature for this repository."
          ]
        },
        "lastEnableTime": {
          "description": "Output only. The last time this repository config was enabled.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        }
      }
    },
    "ListRepositoriesResponse": {
      "id": "ListRepositoriesResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The token to retrieve the next page of repositories, or empty if there are no more repositories to return.",
          "type": "string"
        },
        "repositories": {
          "items": {
            "$ref": "Repository"
          },
          "description": "The repositories returned.",
          "type": "array"
        }
      },
      "description": "The response from listing repositories."
    },
    "NpmPackage": {
      "properties": {
        "packageName": {
          "description": "Package for the artifact.",
          "type": "string"
        },
        "name": {
          "description": "Required. registry_location, project_id, repository_name and npm_package forms a unique package For example, \"projects/test-project/locations/us-west4/repositories/test-repo/npmPackages/ npm_test:1.0.0\", where \"us-west4\" is the registry_location, \"test-project\" is the project_id, \"test-repo\" is the repository_name and npm_test:1.0.0\" is the npm package.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. Time the package was updated.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "version": {
          "type": "string",
          "description": "Version of this package."
        },
        "tags": {
          "description": "Tags attached to this package.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time the package was created.",
          "format": "google-datetime"
        }
      },
      "id": "NpmPackage",
      "type": "object",
      "description": "NpmPackage represents an npm artifact."
    },
    "CheckPrewarmedArtifactRequest": {
      "description": "The request for checking an artifact for streaming.",
      "id": "CheckPrewarmedArtifactRequest",
      "type": "object",
      "properties": {
        "streamLocation": {
          "description": "Optional. The location of the prewarmed artifact. multi-region is not supported for this field.",
          "type": "string"
        },
        "version": {
          "type": "string",
          "description": "Optional. The artifact version Format: projects/{project}/locations/{location}/repositories/{repository}/packages/{package}/versions/{version}"
        },
        "tag": {
          "type": "string",
          "description": "Optional. The artifact tag Format:projects/{project}/locations/{location}/repositories/{repository}/packages/{package}/tags/{tag}"
        }
      }
    },
    "UploadYumArtifactMediaResponse": {
      "properties": {
        "operation": {
          "$ref": "Operation",
          "description": "Operation to be returned to the user."
        }
      },
      "id": "UploadYumArtifactMediaResponse",
      "type": "object",
      "description": "The response to upload an artifact."
    },
    "AptRepository": {
      "id": "AptRepository",
      "type": "object",
      "description": "Configuration for an Apt remote repository.",
      "properties": {
        "customRepository": {
          "$ref": "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigAptRepositoryCustomRepository",
          "description": "Customer-specified remote repository."
        },
        "publicRepository": {
          "description": "One of the publicly available Apt repositories supported by Artifact Registry.",
          "$ref": "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigAptRepositoryPublicRepository"
        }
      }
    },
    "NoCacheFetching": {
      "properties": {},
      "description": "The configuration for the no-cache fetching mode, which acts as a non-caching proxy.",
      "id": "NoCacheFetching",
      "type": "object"
    },
    "UpstreamPolicy": {
      "properties": {
        "id": {
          "description": "The user-provided ID of the upstream policy.",
          "type": "string"
        },
        "priority": {
          "type": "integer",
          "format": "int32",
          "description": "Entries with a greater priority value take precedence in the pull order."
        },
        "repository": {
          "type": "string",
          "description": "A reference to the repository resource, for example: `projects/p1/locations/us-central1/repositories/repo1`."
        }
      },
      "type": "object",
      "description": "Artifact policy configuration for the repository contents.",
      "id": "UpstreamPolicy"
    },
    "PrewarmedArtifact": {
      "type": "object",
      "id": "PrewarmedArtifact",
      "description": "PrewarmedArtifact represents a streamed artifact. This is not a request message, so field_behavior annotations are not required.",
      "properties": {
        "location": {
          "type": "string",
          "description": "The location of the prewarmed artifact."
        },
        "expirationTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The expiration time of the prewarmed artifact."
        },
        "uri": {
          "description": "URL to access the image. Example: us-west4-docker.pkg.dev/test-project/test-repo/nginx@sha256:e9954c1fc875017be1c3e36eca16be2d9e9bccc4bf072163515467d6a823c7cf",
          "type": "string"
        }
      }
    },
    "ImportGoogetArtifactsGcsSource": {
      "properties": {
        "uris": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Cloud Storage paths URI (e.g., `gs://my_bucket/my_object`)."
        },
        "useWildcards": {
          "type": "boolean",
          "description": "Supports URI wildcards for matching multiple objects from a single URI."
        }
      },
      "description": "Google Cloud Storage location where the artifacts currently reside.",
      "type": "object",
      "id": "ImportGoogetArtifactsGcsSource"
    },
    "CleanupPolicyMostRecentVersions": {
      "id": "CleanupPolicyMostRecentVersions",
      "type": "object",
      "description": "CleanupPolicyMostRecentVersions is an alternate condition of a CleanupPolicy for retaining a minimum number of versions.",
      "properties": {
        "keepCount": {
          "type": "integer",
          "description": "Minimum number of versions to keep.",
          "format": "int32"
        },
        "packageNamePrefixes": {
          "description": "List of package name prefixes that will apply this rule.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "UploadGoModuleMetadata": {
      "id": "UploadGoModuleMetadata",
      "type": "object",
      "properties": {},
      "description": "The operation metadata for uploading go modules."
    },
    "CleanupPolicyCondition": {
      "properties": {
        "olderThan": {
          "description": "Match versions older than a duration.",
          "format": "google-duration",
          "type": "string"
        },
        "tagPrefixes": {
          "description": "Match versions by tag prefix. Applied on any prefix match.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "versionNamePrefixes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Match versions by version name prefix. Applied on any prefix match."
        },
        "newerThan": {
          "description": "Match versions newer than a duration.",
          "format": "google-duration",
          "type": "string"
        },
        "tagState": {
          "enum": [
            "TAG_STATE_UNSPECIFIED",
            "TAGGED",
            "UNTAGGED",
            "ANY"
          ],
          "description": "Match versions by tag status.",
          "type": "string",
          "enumDescriptions": [
            "Tag status not specified.",
            "Applies to tagged versions only.",
            "Applies to untagged versions only.",
            "Applies to all versions."
          ]
        },
        "packageNamePrefixes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Match versions by package prefix. Applied on any prefix match."
        }
      },
      "type": "object",
      "id": "CleanupPolicyCondition",
      "description": "CleanupPolicyCondition is a set of conditions attached to a CleanupPolicy. If multiple entries are set, all must be satisfied for the condition to be satisfied."
    },
    "ListPythonPackagesResponse": {
      "type": "object",
      "properties": {
        "pythonPackages": {
          "description": "The python packages returned.",
          "type": "array",
          "items": {
            "$ref": "PythonPackage"
          }
        },
        "nextPageToken": {
          "description": "The token to retrieve the next page of artifacts, or empty if there are no more artifacts to return.",
          "type": "string"
        }
      },
      "id": "ListPythonPackagesResponse",
      "description": "The response from listing python packages."
    },
    "ListVersionsResponse": {
      "properties": {
        "versions": {
          "description": "The versions returned.",
          "type": "array",
          "items": {
            "$ref": "Version"
          }
        },
        "nextPageToken": {
          "description": "The token to retrieve the next page of versions, or empty if there are no more versions to return.",
          "type": "string"
        }
      },
      "id": "ListVersionsResponse",
      "description": "The response from listing versions.",
      "type": "object"
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Status"
    },
    "ListNpmPackagesResponse": {
      "description": "The response from listing npm packages.",
      "properties": {
        "npmPackages": {
          "type": "array",
          "items": {
            "$ref": "NpmPackage"
          },
          "description": "The npm packages returned."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token to retrieve the next page of artifacts, or empty if there are no more artifacts to return."
        }
      },
      "type": "object",
      "id": "ListNpmPackagesResponse"
    },
    "PlatformLogsConfig": {
      "description": "The platform logs config for a project or a repository.",
      "id": "PlatformLogsConfig",
      "properties": {
        "severityLevel": {
          "enumDescriptions": [
            "No severity level specified, meaning everything is being logged.",
            "Debug or trace information.",
            "Routine information, such as ongoing status or performance.",
            "Normal but significant events, such as start up, shut down, or a configuration change.",
            "Warning events that might cause problems.",
            "Error events that are likely to cause problems.",
            "Critical events that cause more severe problems or outages.",
            "Alert events that require a person must take an action immediately.",
            "One or more systems are unusable."
          ],
          "description": "Optional. The severity level for the logs. Logs will be generated if their severity level is >= than the value of the severity level mentioned here.",
          "type": "string",
          "enum": [
            "SEVERITY_LEVEL_UNSPECIFIED",
            "DEBUG",
            "INFO",
            "NOTICE",
            "WARNING",
            "ERROR",
            "CRITICAL",
            "ALERT",
            "EMERGENCY"
          ]
        },
        "loggingState": {
          "enumDescriptions": [
            "Platform logs settings for the parent resource haven't been set. This is the default state or when the user clears the settings for the parent.",
            "Platform logs are enabled.",
            "Platform logs are disabled."
          ],
          "type": "string",
          "enum": [
            "LOGGING_STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED"
          ],
          "description": "Optional. The state of the platform logs: enabled or disabled."
        }
      },
      "type": "object"
    },
    "GoogetArtifact": {
      "description": "A detailed representation of a GooGet artifact.",
      "properties": {
        "architecture": {
          "type": "string",
          "description": "Output only. Operating system architecture of the artifact.",
          "readOnly": true
        },
        "packageName": {
          "type": "string",
          "description": "Output only. The GooGet package name of the artifact.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The Artifact Registry resource name of the artifact."
        }
      },
      "type": "object",
      "id": "GoogetArtifact"
    },
    "ListPrewarmedArtifactsResponse": {
      "properties": {
        "prewarmedArtifacts": {
          "items": {
            "$ref": "PrewarmedArtifact"
          },
          "description": "The prewarmed artifacts.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token to retrieve the next page of prewarmed artifacts, or empty if there are no more streamings to return."
        }
      },
      "id": "ListPrewarmedArtifactsResponse",
      "type": "object",
      "description": "The response for listing artifacts for streaming."
    },
    "CancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "type": "object",
      "id": "CancelOperationRequest",
      "properties": {}
    },
    "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigMavenRepositoryCustomRepository": {
      "properties": {
        "uri": {
          "type": "string",
          "description": "An http/https uri reference to the upstream remote repository, for ex: \"https://my.maven.registry/\"."
        }
      },
      "description": "Customer-specified publicly available remote repository.",
      "id": "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigMavenRepositoryCustomRepository",
      "type": "object"
    },
    "MavenRepositoryConfig": {
      "properties": {
        "versionPolicy": {
          "type": "string",
          "enumDescriptions": [
            "VERSION_POLICY_UNSPECIFIED - the version policy is not defined. When the version policy is not defined, no validation is performed for the versions.",
            "RELEASE - repository will accept only Release versions.",
            "SNAPSHOT - repository will accept only Snapshot versions."
          ],
          "description": "Version policy defines the versions that the registry will accept.",
          "enum": [
            "VERSION_POLICY_UNSPECIFIED",
            "RELEASE",
            "SNAPSHOT"
          ]
        },
        "allowSnapshotOverwrites": {
          "description": "The repository with this flag will allow publishing the same snapshot versions.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "MavenRepositoryConfig is maven related repository details. Provides additional configuration details for repositories of the maven format type.",
      "id": "MavenRepositoryConfig"
    },
    "ListAttachmentsResponse": {
      "properties": {
        "attachments": {
          "type": "array",
          "description": "The attachments returned.",
          "items": {
            "$ref": "Attachment"
          }
        },
        "nextPageToken": {
          "description": "The token to retrieve the next page of attachments, or empty if there are no more attachments to return.",
          "type": "string"
        }
      },
      "id": "ListAttachmentsResponse",
      "description": "The response from listing attachments.",
      "type": "object"
    },
    "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigNpmRepositoryCustomRepository": {
      "id": "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigNpmRepositoryCustomRepository",
      "properties": {
        "uri": {
          "type": "string",
          "description": "An http/https uri reference to the upstream remote repository, for ex: \"https://my.npm.registry/\"."
        }
      },
      "description": "Customer-specified publicly available remote repository.",
      "type": "object"
    },
    "UsernamePasswordCredentials": {
      "id": "UsernamePasswordCredentials",
      "description": "Username and password credentials.",
      "type": "object",
      "properties": {
        "username": {
          "type": "string",
          "description": "The username to access the remote repository."
        },
        "passwordSecretVersion": {
          "type": "string",
          "description": "The Secret Manager key version that holds the password to access the remote repository. Must be in the format of `projects/{project}/secrets/{secret}/versions/{version}`."
        }
      }
    },
    "ProjectSettings": {
      "properties": {
        "pullPercent": {
          "description": "The percentage of pull traffic to redirect from GCR to AR when using partial redirection.",
          "format": "int32",
          "type": "integer"
        },
        "name": {
          "description": "The name of the project's settings. Always of the form: projects/{project-id}/projectSettings In update request: never set In response: always set",
          "type": "string"
        },
        "legacyRedirectionState": {
          "type": "string",
          "enumDescriptions": [
            "No redirection status has been set.",
            "Redirection is disabled.",
            "Redirection is enabled.",
            "Redirection is enabled, and has been finalized so cannot be reverted.",
            "Redirection is enabled and missing images are copied from GCR",
            "Redirection is partially enabled and missing images are copied from GCR"
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            false,
            false
          ],
          "enum": [
            "REDIRECTION_STATE_UNSPECIFIED",
            "REDIRECTION_FROM_GCR_IO_DISABLED",
            "REDIRECTION_FROM_GCR_IO_ENABLED",
            "REDIRECTION_FROM_GCR_IO_FINALIZED",
            "REDIRECTION_FROM_GCR_IO_ENABLED_AND_COPYING",
            "REDIRECTION_FROM_GCR_IO_PARTIAL_AND_COPYING"
          ],
          "description": "The redirection state of the legacy repositories in this project."
        }
      },
      "description": "The Artifact Registry settings that apply to a Project.",
      "type": "object",
      "id": "ProjectSettings"
    },
    "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigPythonRepositoryCustomRepository": {
      "type": "object",
      "properties": {
        "uri": {
          "type": "string",
          "description": "An http/https uri reference to the upstream remote repository, for ex: \"https://my.python.registry/\"."
        }
      },
      "id": "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigPythonRepositoryCustomRepository",
      "description": "Customer-specified publicly available remote repository."
    },
    "TestIamPermissionsResponse": {
      "type": "object",
      "id": "TestIamPermissionsResponse",
      "description": "Response message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "PrewarmPlatform": {
      "properties": {
        "os": {
          "description": "Optional. The OS of the image or tag. For example, \"linux\" or \"windows\".",
          "type": "string"
        },
        "architecture": {
          "description": "Optional. The architecture of the image or tag. For example, \"arm64\" or \"amd64\".",
          "type": "string"
        }
      },
      "id": "PrewarmPlatform",
      "description": "The platform (architecture and OS) of the image. This is a sub-message.",
      "type": "object"
    },
    "UploadKfpArtifactRequest": {
      "type": "object",
      "description": "The request to upload an artifact.",
      "properties": {
        "tags": {
          "items": {
            "type": "string"
          },
          "description": "Tags to be created with the version.",
          "type": "array"
        },
        "description": {
          "type": "string",
          "description": "Description of the package version."
        }
      },
      "id": "UploadKfpArtifactRequest"
    },
    "UploadGenericArtifactRequest": {
      "properties": {
        "versionAnnotations": {
          "type": "object",
          "description": "Optional. Client specified annotations to attach to the version upon creation. This field is only applied if the Version is created during this upload. If the Version already exists and this field is set, the request will fail.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "filename": {
          "description": "The name of the file of the generic artifact to be uploaded. E.g. `example-file.zip` The filename is limited to letters, numbers, and url safe characters, i.e. [a-zA-Z0-9-_.~@].",
          "type": "string"
        },
        "packageId": {
          "type": "string",
          "description": "The ID of the package of the generic artifact. If the package does not exist, a new package will be created. The `package_id` should start and end with a letter or number, only contain letters, numbers, hyphens, underscores, and periods, and not exceed 256 characters."
        },
        "versionId": {
          "description": "The ID of the version of the generic artifact. If the version does not exist, a new version will be created. The version_id must start and end with a letter or number, can only contain lowercase letters, numbers, the following characters [-.+~:], i.e.[a-z0-9-.+~:] and cannot exceed a total of 128 characters. Creating a version called `latest` is not allowed.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "UploadGenericArtifactRequest",
      "description": "The request to upload a generic artifact. The created GenericArtifact will have the resource name {parent}/genericArtifacts/package_id:version_id. The created file will have the resource name {parent}/files/package_id:version_id:filename."
    },
    "ImportGoogetArtifactsMetadata": {
      "description": "The operation metadata for importing artifacts.",
      "properties": {},
      "type": "object",
      "id": "ImportGoogetArtifactsMetadata"
    },
    "YumRepository": {
      "type": "object",
      "properties": {
        "publicRepository": {
          "$ref": "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigYumRepositoryPublicRepository",
          "description": "One of the publicly available Yum repositories supported by Artifact Registry."
        },
        "customRepository": {
          "$ref": "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigYumRepositoryCustomRepository",
          "description": "Customer-specified remote repository."
        }
      },
      "description": "Configuration for a Yum remote repository.",
      "id": "YumRepository"
    },
    "DockerRepository": {
      "description": "Configuration for a Docker remote repository.",
      "properties": {
        "publicRepository": {
          "type": "string",
          "description": "One of the publicly available Docker repositories supported by Artifact Registry.",
          "enum": [
            "PUBLIC_REPOSITORY_UNSPECIFIED",
            "DOCKER_HUB"
          ],
          "enumDescriptions": [
            "Unspecified repository.",
            "Docker Hub."
          ]
        },
        "customRepository": {
          "$ref": "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigDockerRepositoryCustomRepository",
          "description": "Customer-specified remote repository."
        }
      },
      "type": "object",
      "id": "DockerRepository"
    },
    "YumArtifact": {
      "properties": {
        "name": {
          "description": "Output only. The Artifact Registry resource name of the artifact.",
          "readOnly": true,
          "type": "string"
        },
        "packageType": {
          "enumDescriptions": [
            "Package type is not specified.",
            "Binary package (.rpm).",
            "Source package (.srpm)."
          ],
          "description": "Output only. An artifact is a binary or source package.",
          "readOnly": true,
          "enum": [
            "PACKAGE_TYPE_UNSPECIFIED",
            "BINARY",
            "SOURCE"
          ],
          "type": "string"
        },
        "packageName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The yum package name of the artifact."
        },
        "architecture": {
          "readOnly": true,
          "description": "Output only. Operating system architecture of the artifact.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "YumArtifact",
      "description": "A detailed representation of a Yum artifact."
    },
    "ExportArtifactRequest": {
      "type": "object",
      "properties": {
        "sourceTag": {
          "type": "string",
          "description": "The artifact tag to export. Format:projects/{project}/locations/{location}/repositories/{repository}/packages/{package}/tags/{tag}"
        },
        "gcsPath": {
          "type": "string",
          "description": "The Cloud Storage path to export the artifact to. Should start with the bucket name, and optionally have a directory path. Examples: `dst_bucket`, `dst_bucket/sub_dir`. Existing objects with the same path will be overwritten."
        },
        "sourceVersion": {
          "type": "string",
          "description": "The artifact version to export. Format: projects/{project}/locations/{location}/repositories/{repository}/packages/{package}/versions/{version}"
        }
      },
      "id": "ExportArtifactRequest",
      "description": "The request for exporting an artifact to a destination."
    },
    "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigYumRepositoryPublicRepository": {
      "id": "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigYumRepositoryPublicRepository",
      "description": "Publicly available Yum repositories constructed from a common repository base and a custom repository path.",
      "type": "object",
      "properties": {
        "repositoryPath": {
          "type": "string",
          "description": "A custom field to define a path to a specific repository from the base."
        },
        "repositoryBase": {
          "enum": [
            "REPOSITORY_BASE_UNSPECIFIED",
            "CENTOS",
            "CENTOS_DEBUG",
            "CENTOS_VAULT",
            "CENTOS_STREAM",
            "ROCKY",
            "EPEL"
          ],
          "type": "string",
          "description": "A common public repository base for Yum.",
          "enumDescriptions": [
            "Unspecified repository base.",
            "CentOS.",
            "CentOS Debug.",
            "CentOS Vault.",
            "CentOS Stream.",
            "Rocky.",
            "Fedora Extra Packages for Enterprise Linux (EPEL)."
          ]
        }
      }
    },
    "Package": {
      "properties": {
        "displayName": {
          "description": "The display name of the package.",
          "type": "string"
        },
        "name": {
          "description": "The name of the package, for example: `projects/p1/locations/us-central1/repositories/repo1/packages/pkg1`. If the package ID part contains slashes, the slashes are escaped.",
          "type": "string"
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Client specified annotations.",
          "type": "object"
        },
        "createTime": {
          "type": "string",
          "description": "The time when the package was created.",
          "format": "google-datetime"
        },
        "updateTime": {
          "type": "string",
          "description": "The time when the package was last updated. This includes publishing a new version of the package.",
          "format": "google-datetime"
        }
      },
      "id": "Package",
      "type": "object",
      "description": "Packages are named collections of versions."
    },
    "ImportYumArtifactsErrorInfo": {
      "id": "ImportYumArtifactsErrorInfo",
      "description": "Error information explaining why a package was not imported.",
      "type": "object",
      "properties": {
        "gcsSource": {
          "description": "Google Cloud Storage location requested.",
          "$ref": "ImportYumArtifactsGcsSource"
        },
        "error": {
          "$ref": "Status",
          "description": "The detailed error status."
        }
      }
    },
    "ExportArtifactMetadata": {
      "type": "object",
      "id": "ExportArtifactMetadata",
      "description": "The LRO metadata for exporting an artifact.",
      "properties": {
        "exportedFiles": {
          "description": "The exported artifact files.",
          "type": "array",
          "items": {
            "$ref": "ExportedFile"
          }
        }
      }
    },
    "ImportYumArtifactsMetadata": {
      "type": "object",
      "description": "The operation metadata for importing artifacts.",
      "id": "ImportYumArtifactsMetadata",
      "properties": {}
    },
    "UploadYumArtifactResponse": {
      "type": "object",
      "description": "The response of the completed artifact upload operation. This response is contained in the Operation and available to users.",
      "properties": {
        "yumArtifacts": {
          "type": "array",
          "description": "The Yum artifacts updated.",
          "items": {
            "$ref": "YumArtifact"
          }
        }
      },
      "id": "UploadYumArtifactResponse"
    },
    "CommonRemoteRepository": {
      "description": "Common remote repository settings type.",
      "id": "CommonRemoteRepository",
      "type": "object",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Required. A common public repository base for remote repository."
        }
      }
    },
    "AptArtifact": {
      "id": "AptArtifact",
      "description": "A detailed representation of an Apt artifact. Information in the record is derived from the archive's control file. See https://www.debian.org/doc/debian-policy/ch-controlfields.html",
      "properties": {
        "packageType": {
          "enumDescriptions": [
            "Package type is not specified.",
            "Binary package.",
            "Source package."
          ],
          "readOnly": true,
          "enum": [
            "PACKAGE_TYPE_UNSPECIFIED",
            "BINARY",
            "SOURCE"
          ],
          "description": "Output only. An artifact is a binary or source package.",
          "type": "string"
        },
        "architecture": {
          "description": "Output only. Operating system architecture of the artifact.",
          "type": "string",
          "readOnly": true
        },
        "component": {
          "description": "Output only. Repository component of the artifact.",
          "type": "string",
          "readOnly": true
        },
        "packageName": {
          "readOnly": true,
          "description": "Output only. The Apt package name of the artifact.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only. The Artifact Registry resource name of the artifact.",
          "readOnly": true
        },
        "controlFile": {
          "type": "string",
          "format": "byte",
          "readOnly": true,
          "description": "Output only. Contents of the artifact's control metadata file."
        }
      },
      "type": "object"
    },
    "UploadGoogetArtifactMediaResponse": {
      "id": "UploadGoogetArtifactMediaResponse",
      "properties": {
        "operation": {
          "$ref": "Operation",
          "description": "Operation to be returned to the user."
        }
      },
      "description": "The response to upload an artifact.",
      "type": "object"
    },
    "UploadGoModuleRequest": {
      "properties": {},
      "type": "object",
      "description": "The request to upload a Go module.",
      "id": "UploadGoModuleRequest"
    },
    "UploadAptArtifactRequest": {
      "type": "object",
      "properties": {},
      "description": "The request to upload an artifact.",
      "id": "UploadAptArtifactRequest"
    },
    "GoogleDevtoolsArtifactregistryV1Rule": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the rule, for example: `projects/p1/locations/us-central1/repositories/repo1/rules/rule1`."
        },
        "action": {
          "description": "The action this rule takes.",
          "type": "string",
          "enum": [
            "ACTION_UNSPECIFIED",
            "ALLOW",
            "DENY"
          ],
          "enumDescriptions": [
            "Action not specified.",
            "Allow the operation.",
            "Deny the operation."
          ]
        },
        "packageId": {
          "type": "string",
          "description": "The package ID the rule applies to. If empty, this rule applies to all packages inside the repository."
        },
        "operation": {
          "type": "string",
          "enumDescriptions": [
            "Operation not specified.",
            "Download operation."
          ],
          "enum": [
            "OPERATION_UNSPECIFIED",
            "DOWNLOAD"
          ]
        },
        "condition": {
          "$ref": "Expr",
          "description": "Optional. A CEL expression for conditions that must be met in order for the rule to apply. If not provided, the rule matches all objects."
        }
      },
      "type": "object",
      "description": "A rule defines the deny or allow action of the operation it applies to and the conditions required for the rule to apply. You can set one rule for an entire repository and one rule for each package within.",
      "id": "GoogleDevtoolsArtifactregistryV1Rule"
    },
    "VPCSCConfig": {
      "type": "object",
      "description": "The Artifact Registry VPC SC config that apply to a Project.",
      "properties": {
        "name": {
          "description": "The name of the project's VPC SC Config. Always of the form: projects/{projectID}/locations/{location}/vpcscConfig In update request: never set In response: always set",
          "type": "string"
        },
        "vpcscPolicy": {
          "enum": [
            "VPCSC_POLICY_UNSPECIFIED",
            "DENY",
            "ALLOW"
          ],
          "description": "The project per location VPC SC policy that defines the VPC SC behavior for the Remote Repository (Allow/Deny).",
          "enumDescriptions": [
            "VPCSC_POLICY_UNSPECIFIED - the VPS SC policy is not defined. When VPS SC policy is not defined - the Service will use the default behavior (VPCSC_DENY).",
            "VPCSC_DENY - repository will block the requests to the Upstreams for the Remote Repositories if the resource is in the perimeter.",
            "VPCSC_ALLOW - repository will allow the requests to the Upstreams for the Remote Repositories if the resource is in the perimeter."
          ],
          "type": "string"
        }
      },
      "id": "VPCSCConfig"
    },
    "ImageManifest": {
      "id": "ImageManifest",
      "type": "object",
      "description": "Details of a single image manifest within a multi-arch image.",
      "properties": {
        "os": {
          "type": "string",
          "description": "Optional. The operating system of the image. Values are provided by the Docker client and are not validated by Artifact Registry. Example values include \"linux\", \"windows\", \"darwin\", \"aix\", etc."
        },
        "digest": {
          "description": "Optional. The manifest digest, in the format \"sha256:\".",
          "type": "string"
        },
        "variant": {
          "description": "Optional. The variant of the CPU in the image, for example `v7` to specify ARMv7 when architecture is `arm`.",
          "type": "string"
        },
        "osFeatures": {
          "description": "Optional. The required OS features for the image, for example on Windows `win32k`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "architecture": {
          "type": "string",
          "description": "Optional. The CPU architecture of the image. Values are provided by the Docker client and are not validated by Artifact Registry. Example values include \"amd64\", \"arm64\", \"ppc64le\", \"s390x\", \"riscv64\", \"mips64le\", etc."
        },
        "mediaType": {
          "description": "Optional. The media type of the manifest, e.g., \"application/vnd.docker.distribution.manifest.v2+json\"",
          "type": "string"
        },
        "osVersion": {
          "type": "string",
          "description": "Optional. The OS version of the image, for example on Windows `10.0.14393.1066`."
        }
      }
    },
    "ListTagsResponse": {
      "description": "The response from listing tags.",
      "type": "object",
      "properties": {
        "tags": {
          "type": "array",
          "items": {
            "$ref": "Tag"
          },
          "description": "The tags returned."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token to retrieve the next page of tags, or empty if there are no more tags to return."
        }
      },
      "id": "ListTagsResponse"
    },
    "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigYumRepositoryCustomRepository": {
      "id": "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigYumRepositoryCustomRepository",
      "type": "object",
      "description": "Customer-specified publicly available remote repository.",
      "properties": {
        "uri": {
          "type": "string",
          "description": "An http/https uri reference to the upstream remote repository, for ex: \"https://my.yum.registry/\"."
        }
      }
    },
    "ExportArtifactResponse": {
      "description": "The response for exporting an artifact to a destination.",
      "id": "ExportArtifactResponse",
      "properties": {
        "exportedVersion": {
          "description": "The exported version. Should be the same as the request version with fingerprint resource name.",
          "$ref": "Version"
        }
      },
      "type": "object"
    },
    "UploadAptArtifactMetadata": {
      "id": "UploadAptArtifactMetadata",
      "description": "The operation metadata for uploading artifacts.",
      "type": "object",
      "properties": {}
    },
    "Tag": {
      "description": "Tags point to a version and represent an alternative name that can be used to access the version.",
      "id": "Tag",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the tag, for example: \"projects/p1/locations/us-central1/repositories/repo1/packages/pkg1/tags/tag1\". If the package part contains slashes, the slashes are escaped. The tag part can only have characters in [a-zA-Z0-9\\-._~:@], anything else must be URL encoded.",
          "type": "string"
        },
        "version": {
          "type": "string",
          "description": "The name of the version the tag refers to, for example: `projects/p1/locations/us-central1/repositories/repo1/packages/pkg1/versions/sha256:5243811` If the package or version ID parts contain slashes, the slashes are escaped."
        }
      }
    },
    "Policy": {
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "id": "Policy",
      "type": "object",
      "properties": {
        "bindings": {
          "items": {
            "$ref": "Binding"
          },
          "type": "array",
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
        },
        "etag": {
          "format": "byte",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "type": "string"
        },
        "version": {
          "type": "integer",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32"
        }
      }
    },
    "UploadGoogetArtifactMetadata": {
      "type": "object",
      "id": "UploadGoogetArtifactMetadata",
      "description": "The operation metadata for uploading artifacts.",
      "properties": {}
    },
    "KfpArtifact": {
      "id": "KfpArtifact",
      "type": "object",
      "description": "A detailed representation of a KFP artifact.",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Resource name of the KFP artifact. Since users don't directly interact with this resource, the name will be derived from the associated version. For example, when version = \".../versions/sha256:abcdef...\", the name will be \".../kfpArtifacts/sha256:abcdef...\"."
        },
        "version": {
          "type": "string",
          "description": "The version associated with the KFP artifact. Must follow the Semantic Versioning standard."
        }
      }
    },
    "UploadYumArtifactMetadata": {
      "id": "UploadYumArtifactMetadata",
      "properties": {},
      "type": "object",
      "description": "The operation metadata for uploading artifacts."
    },
    "ImportAptArtifactsRequest": {
      "type": "object",
      "description": "The request to import new apt artifacts.",
      "id": "ImportAptArtifactsRequest",
      "properties": {
        "gcsSource": {
          "description": "Google Cloud Storage location where input content is located.",
          "$ref": "ImportAptArtifactsGcsSource"
        }
      }
    },
    "UploadYumArtifactRequest": {
      "description": "The request to upload an artifact.",
      "id": "UploadYumArtifactRequest",
      "type": "object",
      "properties": {}
    },
    "Hash": {
      "id": "Hash",
      "description": "A hash of file content.",
      "properties": {
        "type": {
          "type": "string",
          "description": "The algorithm used to compute the hash value.",
          "enum": [
            "HASH_TYPE_UNSPECIFIED",
            "SHA256",
            "MD5",
            "DIRSUM_SHA256"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "SHA256 hash.",
            "MD5 hash.",
            "Dirsum SHA256 hash."
          ]
        },
        "value": {
          "format": "byte",
          "description": "The hash value.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ImportYumArtifactsRequest": {
      "id": "ImportYumArtifactsRequest",
      "properties": {
        "gcsSource": {
          "$ref": "ImportYumArtifactsGcsSource",
          "description": "Google Cloud Storage location where input content is located."
        }
      },
      "description": "The request to import new yum artifacts.",
      "type": "object"
    },
    "ListDockerImagesResponse": {
      "properties": {
        "dockerImages": {
          "type": "array",
          "items": {
            "$ref": "DockerImage"
          },
          "description": "The docker images returned."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token to retrieve the next page of artifacts, or empty if there are no more artifacts to return."
        }
      },
      "id": "ListDockerImagesResponse",
      "description": "The response from listing docker images.",
      "type": "object"
    },
    "ListRulesResponse": {
      "type": "object",
      "description": "The response from listing rules.",
      "id": "ListRulesResponse",
      "properties": {
        "rules": {
          "description": "The rules returned.",
          "items": {
            "$ref": "GoogleDevtoolsArtifactregistryV1Rule"
          },
          "type": "array"
        },
[...]
