{
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "schemas": {
    "CleanupPolicyMostRecentVersions": {
      "type": "object",
      "description": "CleanupPolicyMostRecentVersions is an alternate condition of a CleanupPolicy for retaining a minimum number of versions.",
      "properties": {
        "packageNamePrefixes": {
          "description": "List of package name prefixes that will apply this rule.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "keepCount": {
          "description": "Minimum number of versions to keep.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "CleanupPolicyMostRecentVersions"
    },
    "GoogleDevtoolsArtifactregistryV1File": {
      "type": "object",
      "description": "Files store content that is potentially associated with Packages or Versions.",
      "properties": {
        "name": {
          "description": "The name of the file, for example: `projects/p1/locations/us-central1/repositories/repo1/files/a%2Fb%2Fc.txt`. If the file ID part contains slashes, they are escaped.",
          "type": "string"
        },
        "owner": {
          "description": "The name of the Package or Version that owns this file, if any.",
          "type": "string"
        },
        "fetchTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time when the last attempt to refresh the file's data was made. Only set when the repository is remote.",
          "readOnly": true
        },
        "annotations": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Client specified annotations."
        },
        "updateTime": {
          "description": "Output only. The time when the File was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "sizeBytes": {
          "format": "int64",
          "description": "The size of the File in bytes.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time when the File was created.",
          "readOnly": true
        },
        "hashes": {
          "items": {
            "$ref": "Hash"
          },
          "description": "The hashes of the file content.",
          "type": "array"
        }
      },
      "id": "GoogleDevtoolsArtifactregistryV1File"
    },
    "ListFilesResponse": {
      "properties": {
        "files": {
          "items": {
            "$ref": "GoogleDevtoolsArtifactregistryV1File"
          },
          "type": "array",
          "description": "The files returned."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token to retrieve the next page of files, or empty if there are no more files to return."
        }
      },
      "id": "ListFilesResponse",
      "type": "object",
      "description": "The response from listing files."
    },
    "BatchDeleteVersionsRequest": {
      "type": "object",
      "description": "The request to delete multiple versions across a repository.",
      "properties": {
        "names": {
          "description": "Required. The names of the versions to delete. The maximum number of versions deleted per batch is determined by the service and is dependent on the available resources in the region.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "validateOnly": {
          "description": "If true, the request is performed without deleting data, following AIP-163.",
          "type": "boolean"
        }
      },
      "id": "BatchDeleteVersionsRequest"
    },
    "UploadAptArtifactResponse": {
      "id": "UploadAptArtifactResponse",
      "properties": {
        "aptArtifacts": {
          "description": "The Apt artifacts updated.",
          "type": "array",
          "items": {
            "$ref": "AptArtifact"
          }
        }
      },
      "description": "The response of the completed artifact upload operation. This response is contained in the Operation and available to users.",
      "type": "object"
    },
    "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigAptRepositoryCustomRepository": {
      "id": "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigAptRepositoryCustomRepository",
      "properties": {
        "uri": {
          "description": "An http/https uri reference to the upstream remote repository, for ex: \"https://my.apt.registry/\".",
          "type": "string"
        }
      },
      "description": "Customer-specified publicly available remote repository.",
      "type": "object"
    },
    "CancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "type": "object",
      "id": "CancelOperationRequest",
      "properties": {}
    },
    "ImportYumArtifactsErrorInfo": {
      "type": "object",
      "description": "Error information explaining why a package was not imported.",
      "properties": {
        "gcsSource": {
          "description": "Google Cloud Storage location requested.",
          "$ref": "ImportYumArtifactsGcsSource"
        },
        "error": {
          "description": "The detailed error status.",
          "$ref": "Status"
        }
      },
      "id": "ImportYumArtifactsErrorInfo"
    },
    "UploadFileRequest": {
      "properties": {
        "fileId": {
          "type": "string",
          "description": "Optional. The ID of the file. If left empty will default to sha256 digest of the content uploaded."
        }
      },
      "id": "UploadFileRequest",
      "type": "object",
      "description": "The request to upload a file."
    },
    "GenericArtifact": {
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Output only. The time when the Generic module is created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "name": {
          "description": "Resource name of the generic artifact. project, location, repository, package_id and version_id create a unique generic artifact. i.e. \"projects/test-project/locations/us-west4/repositories/test-repo/ genericArtifacts/package_id:version_id\"",
          "type": "string"
        },
        "version": {
          "type": "string",
          "description": "The version of the generic artifact."
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time when the Generic module is updated.",
          "readOnly": true
        }
      },
      "id": "GenericArtifact",
      "type": "object",
      "description": "GenericArtifact represents a generic artifact"
    },
    "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigMavenRepositoryCustomRepository": {
      "properties": {
        "uri": {
          "description": "An http/https uri reference to the upstream remote repository, for ex: \"https://my.maven.registry/\".",
          "type": "string"
        }
      },
      "id": "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigMavenRepositoryCustomRepository",
      "type": "object",
      "description": "Customer-specified publicly available remote repository."
    },
    "AptRepository": {
      "properties": {
        "publicRepository": {
          "description": "One of the publicly available Apt repositories supported by Artifact Registry.",
          "$ref": "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigAptRepositoryPublicRepository"
        },
        "customRepository": {
          "description": "Customer-specified remote repository.",
          "$ref": "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigAptRepositoryCustomRepository"
        }
      },
      "id": "AptRepository",
      "type": "object",
      "description": "Configuration for an Apt remote repository."
    },
    "CleanupPolicyCondition": {
      "properties": {
        "packageNamePrefixes": {
          "items": {
            "type": "string"
          },
          "description": "Match versions by package prefix. Applied on any prefix match.",
          "type": "array"
        },
        "tagState": {
          "description": "Match versions by tag status.",
          "enumDescriptions": [
            "Tag status not specified.",
            "Applies to tagged versions only.",
            "Applies to untagged versions only.",
            "Applies to all versions."
          ],
          "enum": [
            "TAG_STATE_UNSPECIFIED",
            "TAGGED",
            "UNTAGGED",
            "ANY"
          ],
          "type": "string"
        },
        "tagPrefixes": {
          "type": "array",
          "description": "Match versions by tag prefix. Applied on any prefix match.",
          "items": {
            "type": "string"
          }
        },
        "olderThan": {
          "format": "google-duration",
          "type": "string",
          "description": "Match versions older than a duration."
        },
        "newerThan": {
          "format": "google-duration",
          "type": "string",
          "description": "Match versions newer than a duration."
        },
        "versionNamePrefixes": {
          "type": "array",
          "description": "Match versions by version name prefix. Applied on any prefix match.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "CleanupPolicyCondition",
      "type": "object",
      "description": "CleanupPolicyCondition is a set of conditions attached to a CleanupPolicy. If multiple entries are set, all must be satisfied for the condition to be satisfied."
    },
    "UploadGenericArtifactMediaResponse": {
      "type": "object",
      "description": "The response to upload a generic artifact.",
      "properties": {
        "operation": {
          "description": "Operation that will be returned to the user.",
          "$ref": "Operation"
        }
      },
      "id": "UploadGenericArtifactMediaResponse"
    },
    "GoogetArtifact": {
      "properties": {
        "name": {
          "description": "Output only. The Artifact Registry resource name of the artifact.",
          "readOnly": true,
          "type": "string"
        },
        "architecture": {
          "type": "string",
          "description": "Output only. Operating system architecture of the artifact.",
          "readOnly": true
        },
        "packageName": {
          "description": "Output only. The GooGet package name of the artifact.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogetArtifact",
      "type": "object",
      "description": "A detailed representation of a GooGet artifact."
    },
    "ImageManifest": {
      "properties": {
        "osFeatures": {
          "type": "array",
          "description": "Optional. The required OS features for the image, for example on Windows `win32k`.",
          "items": {
            "type": "string"
          }
        },
        "digest": {
          "type": "string",
          "description": "Optional. The manifest digest, in the format \"sha256:\"."
        },
        "variant": {
          "type": "string",
          "description": "Optional. The variant of the CPU in the image, for example `v7` to specify ARMv7 when architecture is `arm`."
        },
        "architecture": {
          "type": "string",
          "description": "Optional. The CPU architecture of the image. Values are provided by the Docker client and are not validated by Artifact Registry. Example values include \"amd64\", \"arm64\", \"ppc64le\", \"s390x\", \"riscv64\", \"mips64le\", etc."
        },
        "os": {
          "description": "Optional. The operating system of the image. Values are provided by the Docker client and are not validated by Artifact Registry. Example values include \"linux\", \"windows\", \"darwin\", \"aix\", etc.",
          "type": "string"
        },
        "osVersion": {
          "description": "Optional. The OS version of the image, for example on Windows `10.0.14393.1066`.",
          "type": "string"
        },
        "mediaType": {
          "type": "string",
          "description": "Optional. The media type of the manifest, e.g., \"application/vnd.docker.distribution.manifest.v2+json\""
        }
      },
      "id": "ImageManifest",
      "type": "object",
      "description": "Details of a single image manifest within a multi-arch image."
    },
    "ListAttachmentsResponse": {
      "type": "object",
      "description": "The response from listing attachments.",
      "properties": {
        "nextPageToken": {
          "description": "The token to retrieve the next page of attachments, or empty if there are no more attachments to return.",
          "type": "string"
        },
        "attachments": {
          "description": "The attachments returned.",
          "type": "array",
          "items": {
            "$ref": "Attachment"
          }
        }
      },
      "id": "ListAttachmentsResponse"
    },
    "ListLocationsResponse": {
      "properties": {
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "id": "ListLocationsResponse",
      "type": "object",
      "description": "The response message for Locations.ListLocations."
    },
    "Location": {
      "description": "A resource that represents a Google Cloud location.",
      "type": "object",
      "id": "Location",
      "properties": {
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata. For example the available capacity at the given location."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        }
      }
    },
    "UploadYumArtifactResponse": {
      "properties": {
        "yumArtifacts": {
          "description": "The Yum artifacts updated.",
          "type": "array",
          "items": {
            "$ref": "YumArtifact"
          }
        }
      },
      "id": "UploadYumArtifactResponse",
      "type": "object",
      "description": "The response of the completed artifact upload operation. This response is contained in the Operation and available to users."
    },
    "ListNpmPackagesResponse": {
      "description": "The response from listing npm packages.",
      "type": "object",
      "id": "ListNpmPackagesResponse",
      "properties": {
        "npmPackages": {
          "items": {
            "$ref": "NpmPackage"
          },
          "description": "The npm packages returned.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token to retrieve the next page of artifacts, or empty if there are no more artifacts to return."
        }
      }
    },
    "TestIamPermissionsRequest": {
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "TestIamPermissionsRequest",
      "type": "object",
      "description": "Request message for `TestIamPermissions` method."
    },
    "UploadGoModuleMetadata": {
      "properties": {},
      "id": "UploadGoModuleMetadata",
      "type": "object",
      "description": "The operation metadata for uploading go modules."
    },
    "Version": {
      "description": "The body of a version resource. A version resource represents a collection of components, such as files and other data. This may correspond to a version in many package management schemes.",
      "type": "object",
      "id": "Version",
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. Description of the version, as specified in its metadata."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "The time when the version was created.",
          "type": "string"
        },
        "annotations": {
          "description": "Optional. Client specified annotations.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "updateTime": {
          "type": "string",
          "description": "The time when the version was last updated.",
          "format": "google-datetime"
        },
        "relatedTags": {
          "description": "Output only. A list of related tags. Will contain up to 100 tags that reference this version.",
          "type": "array",
          "items": {
            "$ref": "Tag"
          }
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Output only. Repository-specific Metadata stored against this version. The fields returned are defined by the underlying repository-specific resource. Currently, the resources could be: DockerImage MavenArtifact",
          "readOnly": true
        },
        "fingerprints": {
          "items": {
            "$ref": "Hash"
          },
          "description": "Output only. Immutable reference for the version, calculated based on the version's content. Currently we only support dirsum_sha256 hash algorithm. Additional hash algorithms may be added in the future.",
          "readOnly": true,
          "type": "array"
        },
        "name": {
          "description": "The name of the version, for example: `projects/p1/locations/us-central1/repositories/repo1/packages/pkg1/versions/art1`. If the package or version ID parts contain slashes, the slashes are escaped.",
          "type": "string"
        }
      }
    },
    "Binding": {
      "properties": {
        "role": {
          "type": "string",
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        },
        "members": {
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "Binding",
      "type": "object",
      "description": "Associates `members`, or principals, with a `role`."
    },
    "UploadGenericArtifactMetadata": {
      "properties": {},
      "id": "UploadGenericArtifactMetadata",
      "type": "object",
      "description": "The operation metadata for uploading generic artifacts."
    },
    "RemovePrewarmedArtifactRequest": {
      "properties": {
        "version": {
          "description": "Optional. The artifact version Format: projects/{project}/locations/{location}/repositories/{repository}/packages/{package}/versions/{version}",
          "type": "string"
        },
        "streamLocation": {
          "description": "Optional. The location of the prewarmed artifact. multi-region is not supported for this field.",
          "type": "string"
        },
        "tag": {
          "description": "Optional. The artifact tag Format:projects/{project}/locations/{location}/repositories/{repository}/packages/{package}/tags/{tag}",
          "type": "string"
        }
      },
      "id": "RemovePrewarmedArtifactRequest",
      "type": "object",
      "description": "The request for removing an artifact from streaming."
    },
    "UpstreamCredentials": {
      "description": "The credentials to access the remote repository.",
      "type": "object",
      "id": "UpstreamCredentials",
      "properties": {
        "usernamePasswordCredentials": {
          "description": "Use username and password to access the remote repository.",
          "$ref": "UsernamePasswordCredentials"
        }
      }
    },
    "MavenRepositoryConfig": {
      "id": "MavenRepositoryConfig",
      "properties": {
        "allowSnapshotOverwrites": {
          "description": "The repository with this flag will allow publishing the same snapshot versions.",
          "type": "boolean"
        },
        "versionPolicy": {
          "type": "string",
          "description": "Version policy defines the versions that the registry will accept.",
          "enumDescriptions": [
            "VERSION_POLICY_UNSPECIFIED - the version policy is not defined. When the version policy is not defined, no validation is performed for the versions.",
            "RELEASE - repository will accept only Release versions.",
            "SNAPSHOT - repository will accept only Snapshot versions."
          ],
          "enum": [
            "VERSION_POLICY_UNSPECIFIED",
            "RELEASE",
            "SNAPSHOT"
          ]
        }
      },
      "description": "MavenRepositoryConfig is maven related repository details. Provides additional configuration details for repositories of the maven format type.",
      "type": "object"
    },
    "ProjectConfig": {
      "id": "ProjectConfig",
      "properties": {
        "name": {
          "description": "Identifier. The name of the project's configuration. Always of the form: projects/{project}/locations/{location}/projectConfig",
          "type": "string"
        },
        "platformLogsConfig": {
          "description": "Optional. Configuration for platform logs.",
          "$ref": "PlatformLogsConfig"
        }
      },
      "description": "The Artifact Registry logging configurations that apply to a Project.",
      "type": "object"
    },
    "ImportGoogetArtifactsErrorInfo": {
      "type": "object",
      "description": "Error information explaining why a package was not imported.",
      "properties": {
        "gcsSource": {
          "description": "Google Cloud Storage location requested.",
          "$ref": "ImportGoogetArtifactsGcsSource"
        },
        "error": {
          "description": "The detailed error status.",
          "$ref": "Status"
        }
      },
      "id": "ImportGoogetArtifactsErrorInfo"
    },
    "ImportGoogetArtifactsResponse": {
      "id": "ImportGoogetArtifactsResponse",
      "properties": {
        "errors": {
          "items": {
            "$ref": "ImportGoogetArtifactsErrorInfo"
          },
          "description": "Detailed error info for packages that were not imported.",
          "type": "array"
        },
        "googetArtifacts": {
          "items": {
            "$ref": "GoogetArtifact"
          },
          "type": "array",
          "description": "The GooGet artifacts updated."
        }
      },
      "description": "The response message from importing artifacts.",
      "type": "object"
    },
    "Status": {
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          }
        }
      },
      "id": "Status",
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "UploadGoogetArtifactMetadata": {
      "type": "object",
      "description": "The operation metadata for uploading artifacts.",
      "properties": {},
      "id": "UploadGoogetArtifactMetadata"
    },
    "UploadGoogetArtifactResponse": {
      "type": "object",
      "description": "The response of the completed artifact upload operation. This response is contained in the Operation and available to users.",
      "properties": {
        "googetArtifacts": {
          "description": "The GooGet artifacts updated.",
          "type": "array",
          "items": {
            "$ref": "GoogetArtifact"
          }
        }
      },
      "id": "UploadGoogetArtifactResponse"
    },
    "TestIamPermissionsResponse": {
      "id": "TestIamPermissionsResponse",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "type": "array"
        }
      },
      "description": "Response message for `TestIamPermissions` method.",
      "type": "object"
    },
    "ImportGoogetArtifactsRequest": {
      "description": "The request to import new googet artifacts.",
      "type": "object",
      "id": "ImportGoogetArtifactsRequest",
      "properties": {
        "gcsSource": {
          "description": "Google Cloud Storage location where input content is located.",
          "$ref": "ImportGoogetArtifactsGcsSource"
        }
      }
    },
    "SetIamPolicyRequest": {
      "description": "Request message for `SetIamPolicy` method.",
      "type": "object",
      "id": "SetIamPolicyRequest",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "Policy"
        }
      }
    },
    "ImportAptArtifactsResponse": {
      "id": "ImportAptArtifactsResponse",
      "properties": {
        "aptArtifacts": {
          "items": {
            "$ref": "AptArtifact"
          },
          "type": "array",
          "description": "The Apt artifacts imported."
        },
        "errors": {
          "items": {
            "$ref": "ImportAptArtifactsErrorInfo"
          },
          "type": "array",
          "description": "Detailed error info for packages that were not imported."
        }
      },
      "description": "The response message from importing APT artifacts.",
      "type": "object"
    },
    "UploadGenericArtifactRequest": {
      "properties": {
        "versionId": {
          "type": "string",
          "description": "The ID of the version of the generic artifact. If the version does not exist, a new version will be created. The version_id must start and end with a letter or number, can only contain lowercase letters, numbers, the following characters [-.+~:], i.e.[a-z0-9-.+~:] and cannot exceed a total of 128 characters. Creating a version called `latest` is not allowed."
        },
        "filename": {
          "description": "The name of the file of the generic artifact to be uploaded. E.g. `example-file.zip` The filename is limited to letters, numbers, and url safe characters, i.e. [a-zA-Z0-9-_.~@].",
          "type": "string"
        },
        "packageId": {
          "description": "The ID of the package of the generic artifact. If the package does not exist, a new package will be created. The `package_id` should start and end with a letter or number, only contain letters, numbers, hyphens, underscores, and periods, and not exceed 256 characters.",
          "type": "string"
        }
      },
      "id": "UploadGenericArtifactRequest",
      "type": "object",
      "description": "The request to upload a generic artifact. The created GenericArtifact will have the resource name {parent}/genericArtifacts/package_id:version_id. The created file will have the resource name {parent}/files/package_id:version_id:filename."
    },
    "Tag": {
      "id": "Tag",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the tag, for example: \"projects/p1/locations/us-central1/repositories/repo1/packages/pkg1/tags/tag1\". If the package part contains slashes, the slashes are escaped. The tag part can only have characters in [a-zA-Z0-9\\-._~:@], anything else must be URL encoded."
        },
        "version": {
          "description": "The name of the version the tag refers to, for example: `projects/p1/locations/us-central1/repositories/repo1/packages/pkg1/versions/sha256:5243811` If the package or version ID parts contain slashes, the slashes are escaped.",
          "type": "string"
        }
      },
      "description": "Tags point to a version and represent an alternative name that can be used to access the version.",
      "type": "object"
    },
    "ImportYumArtifactsMetadata": {
      "type": "object",
      "description": "The operation metadata for importing artifacts.",
      "properties": {},
      "id": "ImportYumArtifactsMetadata"
    },
    "ListPrewarmedArtifactsResponse": {
      "properties": {
        "prewarmedArtifacts": {
          "description": "The prewarmed artifacts.",
          "type": "array",
          "items": {
            "$ref": "PrewarmedArtifact"
          }
        },
        "nextPageToken": {
          "description": "The token to retrieve the next page of prewarmed artifacts, or empty if there are no more streamings to return.",
          "type": "string"
        }
      },
      "id": "ListPrewarmedArtifactsResponse",
      "type": "object",
      "description": "The response for listing artifacts for streaming."
    },
    "ListVersionsResponse": {
      "type": "object",
      "description": "The response from listing versions.",
      "properties": {
        "versions": {
          "items": {
            "$ref": "Version"
          },
          "description": "The versions returned.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The token to retrieve the next page of versions, or empty if there are no more versions to return.",
          "type": "string"
        }
      },
      "id": "ListVersionsResponse"
    },
    "UploadAptArtifactMediaResponse": {
      "id": "UploadAptArtifactMediaResponse",
      "properties": {
        "operation": {
          "description": "Operation to be returned to the user.",
          "$ref": "Operation"
        }
      },
      "description": "The response to upload an artifact.",
      "type": "object"
    },
    "UploadAptArtifactRequest": {
      "properties": {},
      "id": "UploadAptArtifactRequest",
      "type": "object",
      "description": "The request to upload an artifact."
    },
    "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigAptRepositoryPublicRepository": {
      "id": "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigAptRepositoryPublicRepository",
      "properties": {
        "repositoryPath": {
          "description": "A custom field to define a path to a specific repository from the base.",
          "type": "string"
        },
        "repositoryBase": {
          "type": "string",
          "description": "A common public repository base for Apt.",
          "enumDescriptions": [
            "Unspecified repository base.",
            "Debian.",
            "Ubuntu LTS/Pro.",
            "Archived Debian."
          ],
          "enum": [
            "REPOSITORY_BASE_UNSPECIFIED",
            "DEBIAN",
            "UBUNTU",
            "DEBIAN_SNAPSHOT"
          ]
        }
      },
      "description": "Publicly available Apt repositories constructed from a common repository base and a custom repository path.",
      "type": "object"
    },
    "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigPythonRepositoryCustomRepository": {
      "description": "Customer-specified publicly available remote repository.",
      "type": "object",
      "id": "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigPythonRepositoryCustomRepository",
      "properties": {
        "uri": {
          "type": "string",
          "description": "An http/https uri reference to the upstream remote repository, for ex: \"https://my.python.registry/\"."
        }
      }
    },
    "PrewarmArtifactResponse": {
      "type": "object",
      "description": "The response for prewarming an artifact for streaming.",
      "properties": {
        "prewarmedArtifact": {
          "description": "The prewarmed artifact that was prewarmed.",
          "$ref": "PrewarmedArtifact"
        }
      },
      "id": "PrewarmArtifactResponse"
    },
    "ImportAptArtifactsErrorInfo": {
      "properties": {
        "gcsSource": {
          "description": "Google Cloud Storage location requested.",
          "$ref": "ImportAptArtifactsGcsSource"
        },
        "error": {
          "description": "The detailed error status.",
          "$ref": "Status"
        }
      },
      "id": "ImportAptArtifactsErrorInfo",
      "type": "object",
      "description": "Error information explaining why a package was not imported."
    },
    "GoModule": {
      "properties": {
        "name": {
          "description": "The resource name of a Go module.",
          "type": "string"
        },
        "version": {
          "description": "The version of the Go module. Must be a valid canonical version as defined in https://go.dev/ref/mod#glos-canonical-version.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The time when the Go module is updated.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time when the Go module is created.",
          "readOnly": true,
          "format": "google-datetime"
        }
      },
      "id": "GoModule",
      "type": "object",
      "description": "GoModule represents a Go module."
    },
    "UploadYumArtifactRequest": {
      "id": "UploadYumArtifactRequest",
      "properties": {},
      "description": "The request to upload an artifact.",
      "type": "object"
    },
    "Expr": {
      "properties": {
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        }
      },
      "id": "Expr",
      "type": "object",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
    },
    "VPCSCConfig": {
      "type": "object",
      "description": "The Artifact Registry VPC SC config that apply to a Project.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the project's VPC SC Config. Always of the form: projects/{projectID}/locations/{location}/vpcscConfig In update request: never set In response: always set"
        },
        "vpcscPolicy": {
          "description": "The project per location VPC SC policy that defines the VPC SC behavior for the Remote Repository (Allow/Deny).",
          "enumDescriptions": [
            "VPCSC_POLICY_UNSPECIFIED - the VPS SC policy is not defined. When VPS SC policy is not defined - the Service will use the default behavior (VPCSC_DENY).",
            "VPCSC_DENY - repository will block the requests to the Upstreams for the Remote Repositories if the resource is in the perimeter.",
            "VPCSC_ALLOW - repository will allow the requests to the Upstreams for the Remote Repositories if the resource is in the perimeter."
          ],
          "enum": [
            "VPCSC_POLICY_UNSPECIFIED",
            "DENY",
            "ALLOW"
          ],
          "type": "string"
        }
      },
      "id": "VPCSCConfig"
    },
    "UploadYumArtifactMediaResponse": {
      "type": "object",
      "description": "The response to upload an artifact.",
      "properties": {
        "operation": {
          "description": "Operation to be returned to the user.",
          "$ref": "Operation"
        }
      },
      "id": "UploadYumArtifactMediaResponse"
    },
    "KfpArtifact": {
      "description": "A detailed representation of a KFP artifact.",
      "type": "object",
      "id": "KfpArtifact",
      "properties": {
        "name": {
          "description": "Output only. Resource name of the KFP artifact. Since users don't directly interact with this resource, the name will be derived from the associated version. For example, when version = \".../versions/sha256:abcdef...\", the name will be \".../kfpArtifacts/sha256:abcdef...\".",
          "readOnly": true,
          "type": "string"
        },
        "version": {
          "type": "string",
          "description": "The version associated with the KFP artifact. Must follow the Semantic Versioning standard."
        }
      }
    },
    "ImportAptArtifactsRequest": {
      "id": "ImportAptArtifactsRequest",
      "properties": {
        "gcsSource": {
          "description": "Google Cloud Storage location where input content is located.",
          "$ref": "ImportAptArtifactsGcsSource"
        }
      },
      "description": "The request to import new apt artifacts.",
      "type": "object"
    },
    "Repository": {
      "type": "object",
      "description": "A Repository for storing artifacts with a specific format.",
      "properties": {
        "disallowUnspecifiedMode": {
          "type": "boolean",
          "description": "Optional. If this is true, an unspecified repo type will be treated as error rather than defaulting to standard."
        },
        "format": {
          "description": "Optional. The format of packages that are stored in the repository.",
          "enumDescriptions": [
            "Unspecified package format.",
            "Docker package format.",
            "Maven package format.",
            "NPM package format.",
            "APT package format.",
            "YUM package format.",
            "GooGet package format.",
            "Python package format.",
            "Kubeflow Pipelines package format.",
            "Go package format.",
            "Generic package format.",
            "Ruby package format."
          ],
          "enum": [
            "FORMAT_UNSPECIFIED",
            "DOCKER",
            "MAVEN",
            "NPM",
            "APT",
            "YUM",
            "GOOGET",
            "PYTHON",
            "KFP",
            "GO",
            "GENERIC",
            "RUBY"
          ],
          "type": "string"
        },
        "name": {
          "description": "The name of the repository, for example: `projects/p1/locations/us-central1/repositories/repo1`. For each location in a project, repository names must be unique.",
          "type": "string"
        },
        "cleanupPolicies": {
          "type": "object",
          "additionalProperties": {
            "$ref": "CleanupPolicy"
          },
          "description": "Optional. Cleanup policies for this repository. Cleanup policies indicate when certain package versions can be automatically deleted. Map keys are policy IDs supplied by users during policy creation. They must unique within a repository and be under 128 characters in length."
        },
        "mavenConfig": {
          "description": "Maven repository config contains repository level configuration for the repositories of maven type.",
          "$ref": "MavenRepositoryConfig"
        },
        "dockerConfig": {
          "description": "Docker repository config contains repository level configuration for the repositories of docker type.",
          "$ref": "DockerRepositoryConfig"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The time when the repository was last updated.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "labels": {
          "description": "Labels with user-defined metadata. This field may contain up to 64 entries. Label keys and values may be no longer than 63 characters. Label keys must begin with a lowercase letter and may only contain lowercase letters, numeric characters, underscores, and dashes.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "virtualRepositoryConfig": {
          "description": "Configuration specific for a Virtual Repository.",
          "$ref": "VirtualRepositoryConfig"
        },
        "mode": {
          "type": "string",
          "description": "Optional. The mode of the repository.",
          "enumDescriptions": [
            "Unspecified mode.",
            "A standard repository storing artifacts.",
            "A virtual repository to serve artifacts from one or more sources.",
            "A remote repository to serve artifacts from a remote source.",
            "An AOSS repository provides artifacts from AOSS upstreams.",
            "Replacement of AOSS_REPOSITORY."
          ],
          "enum": [
            "MODE_UNSPECIFIED",
            "STANDARD_REPOSITORY",
            "VIRTUAL_REPOSITORY",
            "REMOTE_REPOSITORY",
            "AOSS_REPOSITORY",
            "ASSURED_OSS_REPOSITORY"
          ]
        },
        "registryUri": {
          "type": "string",
          "description": "Output only. The repository endpoint, for example: `us-docker.pkg.dev/my-proj/my-repo`.",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "The user-provided description of the repository."
        },
        "remoteRepositoryConfig": {
          "description": "Configuration specific for a Remote Repository.",
          "$ref": "RemoteRepositoryConfig"
        },
        "cleanupPolicyDryRun": {
          "description": "Optional. If true, the cleanup pipeline is prevented from deleting versions in this repository.",
          "type": "boolean"
        },
        "vulnerabilityScanningConfig": {
          "description": "Optional. Config and state for vulnerability scanning of resources within this Repository.",
          "$ref": "VulnerabilityScanningConfig"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time when the repository was created.",
          "readOnly": true,
          "type": "string"
        },
        "kmsKeyName": {
          "type": "string",
          "description": "The Cloud KMS resource name of the customer managed encryption key that's used to encrypt the contents of the Repository. Has the form: `projects/my-project/locations/my-region/keyRings/my-kr/cryptoKeys/my-key`. This value may not be changed after the Repository has been created."
        },
        "sizeBytes": {
          "format": "int64",
          "description": "Output only. The size, in bytes, of all artifact storage in this repository. Repositories that are generally available or in public preview use this to calculate storage costs.",
          "readOnly": true,
          "type": "string"
        },
        "satisfiesPzs": {
          "description": "Output only. Whether or not this repository satisfies PZS.",
          "readOnly": true,
          "type": "boolean"
        },
        "satisfiesPzi": {
          "type": "boolean",
          "description": "Output only. Whether or not this repository satisfies PZI.",
          "readOnly": true
        },
        "platformLogsConfig": {
          "description": "Optional. Configuration for platform logs.",
          "$ref": "PlatformLogsConfig"
        }
      },
      "id": "Repository"
    },
    "YumRepository": {
      "description": "Configuration for a Yum remote repository.",
      "type": "object",
      "id": "YumRepository",
      "properties": {
        "publicRepository": {
          "description": "One of the publicly available Yum repositories supported by Artifact Registry.",
          "$ref": "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigYumRepositoryPublicRepository"
        },
        "customRepository": {
          "description": "Customer-specified remote repository.",
          "$ref": "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigYumRepositoryCustomRepository"
        }
      }
    },
    "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigYumRepositoryPublicRepository": {
      "type": "object",
      "description": "Publicly available Yum repositories constructed from a common repository base and a custom repository path.",
      "properties": {
        "repositoryPath": {
          "description": "A custom field to define a path to a specific repository from the base.",
          "type": "string"
        },
        "repositoryBase": {
          "description": "A common public repository base for Yum.",
          "enumDescriptions": [
            "Unspecified repository base.",
            "CentOS.",
            "CentOS Debug.",
            "CentOS Vault.",
            "CentOS Stream.",
            "Rocky.",
            "Fedora Extra Packages for Enterprise Linux (EPEL)."
          ],
          "enum": [
            "REPOSITORY_BASE_UNSPECIFIED",
            "CENTOS",
            "CENTOS_DEBUG",
            "CENTOS_VAULT",
            "CENTOS_STREAM",
            "ROCKY",
            "EPEL"
          ],
          "type": "string"
        }
      },
      "id": "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigYumRepositoryPublicRepository"
    },
    "Package": {
      "properties": {
        "name": {
          "description": "The name of the package, for example: `projects/p1/locations/us-central1/repositories/repo1/packages/pkg1`. If the package ID part contains slashes, the slashes are escaped.",
          "type": "string"
        },
        "displayName": {
          "description": "The display name of the package.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "The time when the package was last updated. This includes publishing a new version of the package.",
          "type": "string"
        },
        "annotations": {
          "description": "Optional. Client specified annotations.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "createTime": {
          "description": "The time when the package was created.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "Package",
      "type": "object",
      "description": "Packages are named collections of versions."
    },
    "BatchDeleteVersionsMetadata": {
      "description": "The metadata of an LRO from deleting multiple versions.",
      "type": "object",
      "id": "BatchDeleteVersionsMetadata",
      "properties": {
        "failedVersions": {
          "description": "The versions the operation failed to delete.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "UploadGoogetArtifactMediaResponse": {
      "description": "The response to upload an artifact.",
      "type": "object",
      "id": "UploadGoogetArtifactMediaResponse",
      "properties": {
        "operation": {
          "description": "Operation to be returned to the user.",
          "$ref": "Operation"
        }
      }
    },
    "YumArtifact": {
      "description": "A detailed representation of a Yum artifact.",
      "type": "object",
      "id": "YumArtifact",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. The Artifact Registry resource name of the artifact.",
          "readOnly": true
        },
        "architecture": {
          "type": "string",
          "description": "Output only. Operating system architecture of the artifact.",
          "readOnly": true
        },
        "packageName": {
          "type": "string",
          "description": "Output only. The yum package name of the artifact.",
          "readOnly": true
        },
        "packageType": {
          "description": "Output only. An artifact is a binary or source package.",
          "readOnly": true,
          "enum": [
            "PACKAGE_TYPE_UNSPECIFIED",
            "BINARY",
            "SOURCE"
          ],
          "enumDescriptions": [
            "Package type is not specified.",
            "Binary package (.rpm).",
            "Source package (.srpm)."
          ],
          "type": "string"
        }
      }
    },
    "ExportArtifactMetadata": {
      "id": "ExportArtifactMetadata",
      "properties": {
        "exportedFiles": {
          "description": "The exported artifact files.",
          "type": "array",
          "items": {
            "$ref": "ExportedFile"
          }
        }
      },
      "description": "The LRO metadata for exporting an artifact.",
      "type": "object"
    },
    "CheckPrewarmedArtifactResponse": {
      "description": "The response for checking an artifact for streaming.",
      "type": "object",
      "id": "CheckPrewarmedArtifactResponse",
      "properties": {
        "prewarmedArtifact": {
          "description": "The prewarmed artifact that was checked.",
          "$ref": "PrewarmedArtifact"
        }
      }
    },
    "MavenRepository": {
      "id": "MavenRepository",
      "properties": {
        "publicRepository": {
          "description": "One of the publicly available Maven repositories supported by Artifact Registry.",
          "enumDescriptions": [
            "Unspecified repository.",
            "Maven Central."
          ],
          "enum": [
            "PUBLIC_REPOSITORY_UNSPECIFIED",
            "MAVEN_CENTRAL"
          ],
          "type": "string"
        },
        "customRepository": {
          "description": "Customer-specified remote repository.",
          "$ref": "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigMavenRepositoryCustomRepository"
        }
      },
      "description": "Configuration for a Maven remote repository.",
      "type": "object"
    },
    "DownloadFileResponse": {
      "type": "object",
      "description": "The response to download a file.",
      "properties": {},
      "id": "DownloadFileResponse"
    },
    "ListPythonPackagesResponse": {
      "id": "ListPythonPackagesResponse",
      "properties": {
        "pythonPackages": {
          "description": "The python packages returned.",
          "type": "array",
          "items": {
            "$ref": "PythonPackage"
          }
        },
        "nextPageToken": {
          "description": "The token to retrieve the next page of artifacts, or empty if there are no more artifacts to return.",
          "type": "string"
        }
      },
      "description": "The response from listing python packages.",
      "type": "object"
    },
    "ImportYumArtifactsGcsSource": {
      "description": "Google Cloud Storage location where the artifacts currently reside.",
      "type": "object",
      "id": "ImportYumArtifactsGcsSource",
      "properties": {
        "uris": {
          "type": "array",
          "description": "Cloud Storage paths URI (e.g., gs://my_bucket//my_object).",
          "items": {
            "type": "string"
          }
        },
        "useWildcards": {
          "type": "boolean",
          "description": "Supports URI wildcards for matching multiple objects from a single URI."
        }
      }
    },
    "CommonRemoteRepository": {
      "properties": {
        "uri": {
          "description": "Required. A common public repository base for remote repository.",
          "type": "string"
        }
      },
      "id": "CommonRemoteRepository",
      "type": "object",
      "description": "Common remote repository settings type."
    },
    "CleanupPolicy": {
      "properties": {
        "condition": {
          "description": "Policy condition for matching versions.",
          "$ref": "CleanupPolicyCondition"
        },
        "id": {
          "type": "string",
          "description": "The user-provided ID of the cleanup policy."
        },
        "mostRecentVersions": {
          "description": "Policy condition for retaining a minimum number of versions. May only be specified with a Keep action.",
          "$ref": "CleanupPolicyMostRecentVersions"
        },
        "action": {
          "type": "string",
          "description": "Policy action.",
          "enumDescriptions": [
            "Action not specified.",
            "Delete action.",
            "Keep action."
          ],
          "enum": [
            "ACTION_UNSPECIFIED",
            "DELETE",
            "KEEP"
          ]
        }
      },
      "id": "CleanupPolicy",
      "type": "object",
      "description": "Artifact policy configuration for repository cleanup policies."
    },
    "Policy": {
      "type": "object",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "properties": {
        "version": {
          "format": "int32",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer"
        },
        "bindings": {
          "items": {
            "$ref": "Binding"
          },
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "type": "array"
        },
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "type": "string",
          "format": "byte"
        }
      },
      "id": "Policy"
    },
    "UploadKfpArtifactRequest": {
      "description": "The request to upload an artifact.",
      "type": "object",
      "id": "UploadKfpArtifactRequest",
      "properties": {
        "tags": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Tags to be created with the version."
        },
        "description": {
          "description": "Description of the package version.",
          "type": "string"
        }
      }
    },
    "ExportArtifactResponse": {
      "id": "ExportArtifactResponse",
      "properties": {
        "exportedVersion": {
          "description": "The exported version. Should be the same as the request version with fingerprint resource name.",
          "$ref": "Version"
        }
      },
      "description": "The response for exporting an artifact to a destination.",
      "type": "object"
    },
    "UploadKfpArtifactMediaResponse": {
      "properties": {
        "operation": {
          "description": "Operation that will be returned to the user.",
          "$ref": "Operation"
        }
      },
      "id": "UploadKfpArtifactMediaResponse",
      "type": "object",
      "description": "The response to upload an artifact."
    },
    "ListTagsResponse": {
      "description": "The response from listing tags.",
      "type": "object",
      "id": "ListTagsResponse",
      "properties": {
        "tags": {
          "items": {
            "$ref": "Tag"
          },
          "type": "array",
          "description": "The tags returned."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token to retrieve the next page of tags, or empty if there are no more tags to return."
        }
      }
    },
    "ListDockerImagesResponse": {
      "properties": {
        "dockerImages": {
          "description": "The docker images returned.",
          "type": "array",
          "items": {
            "$ref": "DockerImage"
          }
        },
        "nextPageToken": {
          "description": "The token to retrieve the next page of artifacts, or empty if there are no more artifacts to return.",
          "type": "string"
        }
      },
      "id": "ListDockerImagesResponse",
      "type": "object",
      "description": "The response from listing docker images."
    },
    "CheckPrewarmedArtifactRequest": {
      "type": "object",
      "description": "The request for checking an artifact for streaming.",
      "properties": {
        "version": {
          "description": "Optional. The artifact version Format: projects/{project}/locations/{location}/repositories/{repository}/packages/{package}/versions/{version}",
          "type": "string"
        },
        "tag": {
          "type": "string",
          "description": "Optional. The artifact tag Format:projects/{project}/locations/{location}/repositories/{repository}/packages/{package}/tags/{tag}"
        },
        "streamLocation": {
          "type": "string",
          "description": "Optional. The location of the prewarmed artifact. multi-region is not supported for this field."
        }
      },
      "id": "CheckPrewarmedArtifactRequest"
    },
    "Empty": {
      "properties": {},
      "id": "Empty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "ListRulesResponse": {
      "type": "object",
      "description": "The response from listing rules.",
      "properties": {
        "rules": {
          "items": {
            "$ref": "GoogleDevtoolsArtifactregistryV1Rule"
          },
          "type": "array",
          "description": "The rules returned."
        },
        "nextPageToken": {
          "description": "The token to retrieve the next page of rules, or empty if there are no more rules to return.",
          "type": "string"
        }
      },
      "id": "ListRulesResponse"
    },
    "OperationMetadata": {
      "description": "Metadata type for longrunning-operations, currently empty.",
      "type": "object",
      "id": "OperationMetadata",
      "properties": {}
    },
    "MavenArtifact": {
      "properties": {
        "groupId": {
          "description": "Group ID for the artifact. Example: com.google.guava",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Time the artifact was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Time the artifact was updated.",
          "readOnly": true
        },
        "version": {
          "description": "Version of this artifact.",
          "type": "string"
        },
        "artifactId": {
          "type": "string",
          "description": "Artifact ID for the artifact."
        },
        "pomUri": {
          "type": "string",
          "description": "Required. URL to access the pom file of the artifact. Example: us-west4-maven.pkg.dev/test-project/test-repo/com/google/guava/guava/31.0/guava-31.0.pom"
        },
        "name": {
          "type": "string",
          "description": "Required. registry_location, project_id, repository_name and maven_artifact forms a unique artifact For example, \"projects/test-project/locations/us-west4/repositories/test-repo/mavenArtifacts/ com.google.guava:guava:31.0-jre\", where \"us-west4\" is the registry_location, \"test-project\" is the project_id, \"test-repo\" is the repository_name and \"com.google.guava:guava:31.0-jre\" is the maven artifact."
        }
      },
      "id": "MavenArtifact",
      "type": "object",
      "description": "MavenArtifact represents a maven artifact."
    },
    "PythonRepository": {
      "type": "object",
      "description": "Configuration for a Python remote repository.",
      "properties": {
        "publicRepository": {
          "type": "string",
          "description": "One of the publicly available Python repositories supported by Artifact Registry.",
          "enumDescriptions": [
            "Unspecified repository.",
            "PyPI."
          ],
          "enum": [
            "PUBLIC_REPOSITORY_UNSPECIFIED",
            "PYPI"
          ]
        },
        "customRepository": {
          "description": "Customer-specified remote repository.",
          "$ref": "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigPythonRepositoryCustomRepository"
        }
      },
      "id": "PythonRepository"
    },
    "ImportYumArtifactsResponse": {
      "id": "ImportYumArtifactsResponse",
      "properties": {
        "errors": {
          "type": "array",
          "description": "Detailed error info for packages that were not imported.",
          "items": {
            "$ref": "ImportYumArtifactsErrorInfo"
          }
        },
        "yumArtifacts": {
          "description": "The yum artifacts imported.",
          "type": "array",
          "items": {
            "$ref": "YumArtifact"
          }
        }
      },
      "description": "The response message from importing YUM artifacts.",
      "type": "object"
    },
    "Hash": {
      "description": "A hash of file content.",
      "type": "object",
      "id": "Hash",
      "properties": {
        "value": {
          "format": "byte",
          "description": "The hash value.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "The algorithm used to compute the hash value.",
          "enumDescriptions": [
            "Unspecified.",
            "SHA256 hash.",
            "MD5 hash.",
            "Dirsum SHA256 hash."
          ],
          "enum": [
            "HASH_TYPE_UNSPECIFIED",
            "SHA256",
            "MD5",
            "DIRSUM_SHA256"
          ]
        }
      }
    },
    "RemovePrewarmedArtifactResponse": {
      "description": "The response for removing an artifact from streaming.",
      "type": "object",
      "id": "RemovePrewarmedArtifactResponse",
      "properties": {
        "prewarmedArtifact": {
          "description": "The prewarmed artifact that was removed.",
          "$ref": "PrewarmedArtifact"
        }
      }
    },
    "UploadGoModuleRequest": {
      "id": "UploadGoModuleRequest",
      "properties": {},
      "description": "The request to upload a Go module.",
      "type": "object"
    },
    "PrewarmedArtifact": {
      "id": "PrewarmedArtifact",
      "properties": {
        "uri": {
          "type": "string",
          "description": "URL to access the image. Example: us-west4-docker.pkg.dev/test-project/test-repo/nginx@sha256:e9954c1fc875017be1c3e36eca16be2d9e9bccc4bf072163515467d6a823c7cf"
        },
        "location": {
          "description": "The location of the prewarmed artifact.",
          "type": "string"
        },
        "expirationTime": {
          "description": "The expiration time of the prewarmed artifact.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "PrewarmedArtifact represents a streamed artifact. This is not a request message, so field_behavior annotations are not required.",
      "type": "object"
    },
    "VulnerabilityScanningConfig": {
      "description": "Config on whether to perform vulnerability scanning for resources in this repository, as well as output fields describing current state.",
      "type": "object",
      "id": "VulnerabilityScanningConfig",
      "properties": {
        "enablementConfig": {
          "type": "string",
          "description": "Optional. Config for whether this repository has vulnerability scanning disabled.",
          "enumDescriptions": [
            "Not set. This will be treated as INHERITED for Docker repositories and DISABLED for non-Docker repositories.",
            "Scanning is Enabled, but dependent on API enablement.",
            "No automatic vulnerability scanning will be performed for this repository."
          ],
          "enum": [
            "ENABLEMENT_CONFIG_UNSPECIFIED",
            "INHERITED",
            "DISABLED"
          ]
        },
        "lastEnableTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The last time this repository config was enabled.",
          "readOnly": true
        },
        "enablementState": {
          "enumDescriptions": [
            "Enablement state is unclear.",
            "Repository does not support vulnerability scanning.",
            "Vulnerability scanning is disabled for this repository.",
            "Vulnerability scanning is active for this repository."
          ],
          "type": "string",
          "description": "Output only. State of feature enablement, combining repository enablement config and API enablement state.",
          "readOnly": true,
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "SCANNING_UNSUPPORTED",
            "SCANNING_DISABLED",
            "SCANNING_ACTIVE"
          ]
        },
        "enablementStateReason": {
          "type": "string",
          "description": "Output only. Reason for the repository state.",
          "readOnly": true
        }
      }
    },
    "ListPackagesResponse": {
      "id": "ListPackagesResponse",
      "properties": {
        "packages": {
          "type": "array",
          "description": "The packages returned.",
          "items": {
            "$ref": "Package"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token to retrieve the next page of packages, or empty if there are no more packages to return."
        }
      },
      "description": "The response from listing packages.",
      "type": "object"
    },
    "UploadYumArtifactMetadata": {
      "description": "The operation metadata for uploading artifacts.",
      "type": "object",
      "id": "UploadYumArtifactMetadata",
      "properties": {}
    },
    "ListRepositoriesResponse": {
      "id": "ListRepositoriesResponse",
      "properties": {
        "repositories": {
          "description": "The repositories returned.",
          "type": "array",
          "items": {
            "$ref": "Repository"
          }
        },
        "nextPageToken": {
          "description": "The token to retrieve the next page of repositories, or empty if there are no more repositories to return.",
          "type": "string"
        }
      },
      "description": "The response from listing repositories.",
      "type": "object"
    },
    "ExportArtifactRequest": {
      "description": "The request for exporting an artifact to a destination.",
      "type": "object",
      "id": "ExportArtifactRequest",
      "properties": {
        "sourceVersion": {
          "description": "The artifact version to export. Format: projects/{project}/locations/{location}/repositories/{repository}/packages/{package}/versions/{version}",
          "type": "string"
        },
        "gcsPath": {
          "type": "string",
          "description": "The Cloud Storage path to export the artifact to. Should start with the bucket name, and optionally have a directory path. Examples: `dst_bucket`, `dst_bucket/sub_dir`. Existing objects with the same path will be overwritten."
        },
        "sourceTag": {
          "type": "string",
          "description": "The artifact tag to export. Format:projects/{project}/locations/{location}/repositories/{repository}/packages/{package}/tags/{tag}"
        }
      }
    },
    "Operation": {
      "properties": {
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        }
      },
      "id": "Operation",
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "ListMavenArtifactsResponse": {
      "properties": {
        "mavenArtifacts": {
          "description": "The maven artifacts returned.",
          "type": "array",
          "items": {
            "$ref": "MavenArtifact"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token to retrieve the next page of artifacts, or empty if there are no more artifacts to return."
        }
      },
      "id": "ListMavenArtifactsResponse",
      "type": "object",
      "description": "The response from listing maven artifacts."
    },
    "PrewarmPlatform": {
      "properties": {
        "os": {
          "description": "Optional. The OS of the image or tag. For example, \"linux\" or \"windows\".",
          "type": "string"
        },
        "architecture": {
          "type": "string",
          "description": "Optional. The architecture of the image or tag. For example, \"arm64\" or \"amd64\"."
        }
      },
      "id": "PrewarmPlatform",
      "type": "object",
      "description": "The platform (architecture and OS) of the image. This is a sub-message."
    },
    "UploadGoogetArtifactRequest": {
      "type": "object",
      "description": "The request to upload an artifact.",
      "properties": {},
      "id": "UploadGoogetArtifactRequest"
    },
    "PlatformLogsConfig": {
      "type": "object",
      "description": "The platform logs config for a project or a repository.",
      "properties": {
        "severityLevel": {
          "description": "Optional. The severity level for the logs. Logs will be generated if their severity level is >= than the value of the severity level mentioned here.",
          "enumDescriptions": [
            "No severity level specified, meaning everything is being logged.",
            "Debug or trace information.",
            "Routine information, such as ongoing status or performance.",
            "Normal but significant events, such as start up, shut down, or a configuration change.",
            "Warning events that might cause problems.",
            "Error events that are likely to cause problems.",
            "Critical events that cause more severe problems or outages.",
            "Alert events that require a person must take an action immediately.",
            "One or more systems are unusable."
          ],
          "enum": [
            "SEVERITY_LEVEL_UNSPECIFIED",
            "DEBUG",
            "INFO",
            "NOTICE",
            "WARNING",
            "ERROR",
            "CRITICAL",
            "ALERT",
            "EMERGENCY"
          ],
          "type": "string"
        },
        "loggingState": {
          "description": "Optional. The state of the platform logs: enabled or disabled.",
          "enumDescriptions": [
            "Platform logs settings for the parent resource haven't been set. This is the default state or when the user clears the settings for the parent.",
            "Platform logs are enabled.",
            "Platform logs are disabled."
          ],
          "enum": [
            "LOGGING_STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED"
          ],
          "type": "string"
        }
      },
      "id": "PlatformLogsConfig"
    },
    "NpmPackage": {
      "type": "object",
      "description": "NpmPackage represents an npm artifact.",
      "properties": {
        "updateTime": {
          "description": "Output only. Time the package was updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "version": {
          "description": "Version of this package.",
          "type": "string"
        },
        "tags": {
          "items": {
            "type": "string"
          },
          "description": "Tags attached to this package.",
          "type": "array"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Time the package was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "packageName": {
          "type": "string",
          "description": "Package for the artifact."
        },
        "name": {
          "type": "string",
          "description": "Required. registry_location, project_id, repository_name and npm_package forms a unique package For example, \"projects/test-project/locations/us-west4/repositories/test-repo/npmPackages/ npm_test:1.0.0\", where \"us-west4\" is the registry_location, \"test-project\" is the project_id, \"test-repo\" is the repository_name and npm_test:1.0.0\" is the npm package."
        }
      },
      "id": "NpmPackage"
    },
    "RemoteRepositoryConfig": {
      "properties": {
        "yumRepository": {
          "description": "Specific settings for a Yum remote repository.",
          "$ref": "YumRepository"
        },
        "disableUpstreamValidation": {
          "description": "Input only. A create/update remote repo option to avoid making a HEAD/GET request to validate a remote repo and any supplied upstream credentials.",
          "type": "boolean"
        },
        "npmRepository": {
          "description": "Specific settings for an Npm remote repository.",
          "$ref": "NpmRepository"
        },
        "mavenRepository": {
          "description": "Specific settings for a Maven remote repository.",
          "$ref": "MavenRepository"
        },
        "commonRepository": {
          "description": "Common remote repository settings. Used as the remote repository upstream URL.",
          "$ref": "CommonRemoteRepository"
        },
        "dockerRepository": {
          "description": "Specific settings for a Docker remote repository.",
          "$ref": "DockerRepository"
        },
        "pythonRepository": {
          "description": "Specific settings for a Python remote repository.",
          "$ref": "PythonRepository"
        },
        "aptRepository": {
          "description": "Specific settings for an Apt remote repository.",
          "$ref": "AptRepository"
        },
        "description": {
          "description": "The description of the remote source.",
          "type": "string"
        },
        "upstreamCredentials": {
          "description": "Optional. The credentials used to access the remote repository.",
          "$ref": "UpstreamCredentials"
        }
      },
      "id": "RemoteRepositoryConfig",
      "type": "object",
      "description": "Remote repository configuration."
    },
    "PrewarmArtifactRequest": {
      "type": "object",
      "description": "The request for prewarming an artifact for streaming.",
      "properties": {
        "version": {
          "description": "Optional. The artifact version Format: projects/{project}/locations/{location}/repositories/{repository}/packages/{package}/versions/{version}",
          "type": "string"
        },
        "streamLocation": {
          "type": "string",
          "description": "Optional. The location to cache the artifact in. If not specified, the artifact will be cached in the same location as the artifact. multi-region is not supported for this field."
        },
        "force": {
          "type": "boolean",
          "description": "Optional. If true, old artifact will be evicted to make room for the new artifact."
        },
        "tag": {
          "description": "Optional. The artifact tag Format:projects/{project}/locations/{location}/repositories/{repository}/packages/{package}/tags/{tag}",
          "type": "string"
        },
        "platform": {
          "description": "Optional. The platform (architecture and OS) of the image or tag.",
          "$ref": "PrewarmPlatform"
        },
        "retentionDays": {
          "description": "Optional. The retention days of the prewarmed artifact. If not specified, the artifact will be cached for 3 days.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "PrewarmArtifactRequest"
    },
    "ImportGoogetArtifactsGcsSource": {
      "description": "Google Cloud Storage location where the artifacts currently reside.",
      "type": "object",
      "id": "ImportGoogetArtifactsGcsSource",
      "properties": {
        "useWildcards": {
          "type": "boolean",
          "description": "Supports URI wildcards for matching multiple objects from a single URI."
        },
        "uris": {
          "type": "array",
          "description": "Cloud Storage paths URI (e.g., `gs://my_bucket/my_object`).",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "DockerRepositoryConfig": {
      "id": "DockerRepositoryConfig",
      "properties": {
        "immutableTags": {
          "type": "boolean",
          "description": "The repository which enabled this flag prevents all tags from being modified, moved or deleted. This does not prevent tags from being created."
        }
      },
      "description": "DockerRepositoryConfig is docker related repository details. Provides additional configuration details for repositories of the docker format type.",
      "type": "object"
    },
    "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigYumRepositoryCustomRepository": {
      "type": "object",
      "description": "Customer-specified publicly available remote repository.",
      "properties": {
        "uri": {
          "description": "An http/https uri reference to the upstream remote repository, for ex: \"https://my.yum.registry/\".",
          "type": "string"
        }
      },
      "id": "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigYumRepositoryCustomRepository"
    },
    "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigNpmRepositoryCustomRepository": {
      "id": "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigNpmRepositoryCustomRepository",
      "properties": {
        "uri": {
          "type": "string",
          "description": "An http/https uri reference to the upstream remote repository, for ex: \"https://my.npm.registry/\"."
        }
      },
      "description": "Customer-specified publicly available remote repository.",
      "type": "object"
    },
    "ExportedFile": {
      "type": "object",
      "description": "The exported artifact file.",
      "properties": {
        "gcsObjectPath": {
          "type": "string",
          "description": "Cloud Storage Object path of the exported file. Examples: `dst_bucket/file1`, `dst_bucket/sub_dir/file1`"
        },
        "hashes": {
          "items": {
            "$ref": "Hash"
          },
          "type": "array",
          "description": "The hashes of the file content."
        },
        "name": {
          "description": "Name of the exported artifact file. Format: `projects/p1/locations/us/repositories/repo1/files/file1`",
          "type": "string"
        }
      },
      "id": "ExportedFile"
    },
    "AptArtifact": {
      "id": "AptArtifact",
      "properties": {
        "architecture": {
          "description": "Output only. Operating system architecture of the artifact.",
          "readOnly": true,
          "type": "string"
        },
        "packageType": {
          "type": "string",
          "enumDescriptions": [
            "Package type is not specified.",
            "Binary package.",
            "Source package."
          ],
          "description": "Output only. An artifact is a binary or source package.",
          "readOnly": true,
          "enum": [
            "PACKAGE_TYPE_UNSPECIFIED",
            "BINARY",
            "SOURCE"
          ]
        },
        "packageName": {
          "description": "Output only. The Apt package name of the artifact.",
          "readOnly": true,
          "type": "string"
        },
        "component": {
          "type": "string",
          "description": "Output only. Repository component of the artifact.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Output only. The Artifact Registry resource name of the artifact.",
          "readOnly": true
        },
        "controlFile": {
          "format": "byte",
          "description": "Output only. Contents of the artifact's control metadata file.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "A detailed representation of an Apt artifact. Information in the record is derived from the archive's control file. See https://www.debian.org/doc/debian-policy/ch-controlfields.html",
      "type": "object"
    },
    "UsernamePasswordCredentials": {
      "type": "object",
      "description": "Username and password credentials.",
      "properties": {
        "passwordSecretVersion": {
          "description": "The Secret Manager key version that holds the password to access the remote repository. Must be in the format of `projects/{project}/secrets/{secret}/versions/{version}`.",
          "type": "string"
        },
        "username": {
          "type": "string",
          "description": "The username to access the remote repository."
        }
      },
      "id": "UsernamePasswordCredentials"
    },
    "DockerImage": {
      "properties": {
        "imageManifests": {
          "items": {
            "$ref": "ImageManifest"
          },
          "description": "Optional. For multi-arch images (manifest lists), this field contains the list of image manifests.",
          "type": "array"
        },
        "mediaType": {
          "type": "string",
          "description": "Media type of this image, e.g. \"application/vnd.docker.distribution.manifest.v2+json\". This field is returned as the 'metadata.mediaType' field in the Version resource."
        },
        "buildTime": {
          "format": "google-datetime",
          "description": "The time this image was built. This field is returned as the 'metadata.buildTime' field in the Version resource. The build time is returned to the client as an RFC 3339 string, which can be easily used with the JavaScript Date constructor.",
          "type": "string"
        },
        "tags": {
          "description": "Tags attached to this image.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The time when the docker image was last updated.",
          "readOnly": true,
          "type": "string"
        },
        "artifactType": {
          "description": "ArtifactType of this image, e.g. \"application/vnd.example+type\". If the `subject_digest` is set and no `artifact_type` is given, the `media_type` will be considered as the `artifact_type`. This field is returned as the `metadata.artifactType` field in the Version resource.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Required. registry_location, project_id, repository_name and image id forms a unique image name:`projects//locations//repositories//dockerImages/`. For example, \"projects/test-project/locations/us-west4/repositories/test-repo/dockerImages/ nginx@sha256:e9954c1fc875017be1c3e36eca16be2d9e9bccc4bf072163515467d6a823c7cf\", where \"us-west4\" is the registry_location, \"test-project\" is the project_id, \"test-repo\" is the repository_name and \"nginx@sha256:e9954c1fc875017be1c3e36eca16be2d9e9bccc4bf072163515467d6a823c7cf\" is the image's digest."
        },
        "uri": {
          "description": "Required. URL to access the image. Example: us-west4-docker.pkg.dev/test-project/test-repo/nginx@sha256:e9954c1fc875017be1c3e36eca16be2d9e9bccc4bf072163515467d6a823c7cf",
          "type": "string"
        },
        "uploadTime": {
          "description": "Time the image was uploaded.",
          "type": "string",
          "format": "google-datetime"
        },
        "imageSizeBytes": {
          "format": "int64",
          "type": "string",
          "description": "Calculated size of the image. This field is returned as the 'metadata.imageSizeBytes' field in the Version resource."
        }
      },
      "id": "DockerImage",
      "type": "object",
      "description": "DockerImage represents a docker artifact. The following fields are returned as untyped metadata in the Version resource, using camelcase keys (i.e. metadata.imageSizeBytes): * imageSizeBytes * mediaType * buildTime"
    },
    "UploadFileMediaResponse": {
      "id": "UploadFileMediaResponse",
      "properties": {
        "operation": {
          "description": "Operation that will be returned to the user.",
          "$ref": "Operation"
        }
      },
      "description": "The response to upload a generic artifact.",
      "type": "object"
    },
    "Attachment": {
      "properties": {
        "createTime": {
          "description": "Output only. The time when the attachment was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "target": {
          "type": "string",
          "description": "Required. The target the attachment is for, can be a Version, Package or Repository. E.g. `projects/p1/locations/us-central1/repositories/repo1/packages/p1/versions/v1`."
        },
        "ociVersionName": {
          "description": "Output only. The name of the OCI version that this attachment created. Only populated for Docker attachments. E.g. `projects/p1/locations/us-central1/repositories/repo1/packages/p1/versions/v1`.",
[...]
