{
  "canonicalName": "Artifact Registry",
  "title": "Artifact Registry API",
  "rootUrl": "https://artifactregistry.googleapis.com/",
  "discoveryVersion": "v1",
  "servicePath": "",
  "version": "v1",
  "parameters": {
    "alt": {
      "type": "string",
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    }
  },
  "mtlsRootUrl": "https://artifactregistry.mtls.googleapis.com/",
  "endpoints": [
    {
      "location": "africa-south1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://artifactregistry.africa-south1.rep.googleapis.com/"
    },
    {
      "location": "asia-east1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://artifactregistry.asia-east1.rep.googleapis.com/"
    },
    {
      "location": "asia-east2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://artifactregistry.asia-east2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://artifactregistry.asia-northeast1.rep.googleapis.com/",
      "location": "asia-northeast1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://artifactregistry.asia-northeast2.rep.googleapis.com/",
      "location": "asia-northeast2",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-northeast3",
      "description": "Regional Endpoint",
      "endpointUrl": "https://artifactregistry.asia-northeast3.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://artifactregistry.asia-south1.rep.googleapis.com/",
      "location": "asia-south1",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-south2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://artifactregistry.asia-south2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://artifactregistry.asia-southeast1.rep.googleapis.com/",
      "location": "asia-southeast1",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-southeast2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://artifactregistry.asia-southeast2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://artifactregistry.australia-southeast1.rep.googleapis.com/",
      "location": "australia-southeast1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://artifactregistry.australia-southeast2.rep.googleapis.com/",
      "location": "australia-southeast2",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-central2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://artifactregistry.europe-central2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://artifactregistry.europe-north1.rep.googleapis.com/",
      "location": "europe-north1",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-north2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://artifactregistry.europe-north2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://artifactregistry.europe-southwest1.rep.googleapis.com/",
      "location": "europe-southwest1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://artifactregistry.europe-west1.rep.googleapis.com/",
      "location": "europe-west1",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west10",
      "description": "Regional Endpoint",
      "endpointUrl": "https://artifactregistry.europe-west10.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://artifactregistry.europe-west12.rep.googleapis.com/",
      "location": "europe-west12",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://artifactregistry.europe-west2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://artifactregistry.europe-west3.rep.googleapis.com/",
      "location": "europe-west3",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west4",
      "description": "Regional Endpoint",
      "endpointUrl": "https://artifactregistry.europe-west4.rep.googleapis.com/"
    },
    {
      "location": "europe-west6",
      "description": "Regional Endpoint",
      "endpointUrl": "https://artifactregistry.europe-west6.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://artifactregistry.europe-west8.rep.googleapis.com/",
      "location": "europe-west8",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west9",
      "description": "Regional Endpoint",
      "endpointUrl": "https://artifactregistry.europe-west9.rep.googleapis.com/"
    },
    {
      "location": "me-central1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://artifactregistry.me-central1.rep.googleapis.com/"
    },
    {
      "location": "me-west1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://artifactregistry.me-west1.rep.googleapis.com/"
    },
    {
      "location": "northamerica-northeast1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://artifactregistry.northamerica-northeast1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://artifactregistry.northamerica-northeast2.rep.googleapis.com/",
      "location": "northamerica-northeast2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://artifactregistry.northamerica-south1.rep.googleapis.com/",
      "location": "northamerica-south1",
      "description": "Regional Endpoint"
    },
    {
      "location": "southamerica-east1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://artifactregistry.southamerica-east1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://artifactregistry.southamerica-west1.rep.googleapis.com/",
      "location": "southamerica-west1",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-central1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://artifactregistry.us-central1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://artifactregistry.us-central2.rep.googleapis.com/",
      "location": "us-central2",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://artifactregistry.us-east1.rep.googleapis.com/"
    },
    {
      "location": "us-east4",
      "description": "Regional Endpoint",
      "endpointUrl": "https://artifactregistry.us-east4.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://artifactregistry.us-east5.rep.googleapis.com/",
      "location": "us-east5",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://artifactregistry.us-south1.rep.googleapis.com/",
      "location": "us-south1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://artifactregistry.us-west1.rep.googleapis.com/",
      "location": "us-west1",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://artifactregistry.us-west2.rep.googleapis.com/"
    },
    {
      "location": "us-west3",
      "description": "Regional Endpoint",
      "endpointUrl": "https://artifactregistry.us-west3.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://artifactregistry.us-west4.rep.googleapis.com/",
      "location": "us-west4",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west8",
      "description": "Regional Endpoint",
      "endpointUrl": "https://artifactregistry.us-west8.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://artifactregistry.me-central2.rep.googleapis.com/",
      "location": "me-central2",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east7",
      "description": "Regional Endpoint",
      "endpointUrl": "https://artifactregistry.us-east7.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://artifactregistry.us.rep.googleapis.com/",
      "location": "us",
      "description": "Regional Endpoint"
    },
    {
      "location": "eu",
      "description": "Regional Endpoint",
      "endpointUrl": "https://artifactregistry.eu.rep.googleapis.com/"
    }
  ],
  "name": "artifactregistry",
  "schemas": {
    "PlatformLogsConfig": {
      "properties": {
        "loggingState": {
          "type": "string",
          "enumDescriptions": [
            "Platform logs settings for the parent resource haven't been set. This is the default state or when the user clears the settings for the parent.",
            "Platform logs are enabled.",
            "Platform logs are disabled."
          ],
          "description": "Optional. The state of the platform logs: enabled or disabled.",
          "enum": [
            "LOGGING_STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED"
          ]
        },
        "severityLevel": {
          "enumDescriptions": [
            "No severity level specified, meaning everything is being logged.",
            "Debug or trace information.",
            "Routine information, such as ongoing status or performance.",
            "Normal but significant events, such as start up, shut down, or a configuration change.",
            "Warning events that might cause problems.",
            "Error events that are likely to cause problems.",
            "Critical events that cause more severe problems or outages.",
            "Alert events that require a person must take an action immediately.",
            "One or more systems are unusable."
          ],
          "type": "string",
          "description": "Optional. The severity level for the logs. Logs will be generated if their severity level is >= than the value of the severity level mentioned here.",
          "enum": [
            "SEVERITY_LEVEL_UNSPECIFIED",
            "DEBUG",
            "INFO",
            "NOTICE",
            "WARNING",
            "ERROR",
            "CRITICAL",
            "ALERT",
            "EMERGENCY"
          ]
        }
      },
      "description": "The platform logs config for a project or a repository.",
      "id": "PlatformLogsConfig",
      "type": "object"
    },
    "ListVersionsResponse": {
      "type": "object",
      "id": "ListVersionsResponse",
      "description": "The response from listing versions.",
      "properties": {
        "versions": {
          "type": "array",
          "description": "The versions returned.",
          "items": {
            "$ref": "Version"
          }
        },
        "nextPageToken": {
          "description": "The token to retrieve the next page of versions, or empty if there are no more versions to return.",
          "type": "string"
        }
      }
    },
    "UpstreamPolicy": {
      "description": "Artifact policy configuration for the repository contents.",
      "properties": {
        "id": {
          "description": "The user-provided ID of the upstream policy.",
          "type": "string"
        },
        "repository": {
          "description": "A reference to the repository resource, for example: `projects/p1/locations/us-central1/repositories/repo1`.",
          "type": "string"
        },
        "priority": {
          "format": "int32",
          "description": "Entries with a greater priority value take precedence in the pull order.",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "UpstreamPolicy"
    },
    "UploadGenericArtifactRequest": {
      "properties": {
        "packageId": {
          "description": "The ID of the package of the generic artifact. If the package does not exist, a new package will be created. The `package_id` should start and end with a letter or number, only contain letters, numbers, hyphens, underscores, and periods, and not exceed 256 characters.",
          "type": "string"
        },
        "versionId": {
          "description": "The ID of the version of the generic artifact. If the version does not exist, a new version will be created. The version_id must start and end with a letter or number, can only contain lowercase letters, numbers, the following characters [-.+~:], i.e.[a-z0-9-.+~:] and cannot exceed a total of 128 characters. Creating a version called `latest` is not allowed.",
          "type": "string"
        },
        "filename": {
          "description": "The name of the file of the generic artifact to be uploaded. E.g. `example-file.zip` The filename is limited to letters, numbers, and url safe characters, i.e. [a-zA-Z0-9-_.~@].",
          "type": "string"
        }
      },
      "description": "The request to upload a generic artifact. The created GenericArtifact will have the resource name {parent}/genericArtifacts/package_id:version_id. The created file will have the resource name {parent}/files/package_id:version_id:filename.",
      "id": "UploadGenericArtifactRequest",
      "type": "object"
    },
    "ExportArtifactRequest": {
      "description": "The request for exporting an artifact to a destination.",
      "properties": {
        "sourceVersion": {
          "description": "The artifact version to export. Format: projects/{project}/locations/{location}/repositories/{repository}/packages/{package}/versions/{version}",
          "type": "string"
        },
        "sourceTag": {
          "description": "The artifact tag to export. Format:projects/{project}/locations/{location}/repositories/{repository}/packages/{package}/tags/{tag}",
          "type": "string"
        },
        "gcsPath": {
          "description": "The Cloud Storage path to export the artifact to. Should start with the bucket name, and optionally have a directory path. Examples: `dst_bucket`, `dst_bucket/sub_dir`. Existing objects with the same path will be overwritten.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ExportArtifactRequest"
    },
    "DockerImage": {
      "description": "DockerImage represents a docker artifact. The following fields are returned as untyped metadata in the Version resource, using camelcase keys (i.e. metadata.imageSizeBytes): * imageSizeBytes * mediaType * buildTime",
      "properties": {
        "uri": {
          "description": "Required. URL to access the image. Example: us-west4-docker.pkg.dev/test-project/test-repo/nginx@sha256:e9954c1fc875017be1c3e36eca16be2d9e9bccc4bf072163515467d6a823c7cf",
          "type": "string"
        },
        "uploadTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time the image was uploaded."
        },
        "artifactType": {
          "description": "ArtifactType of this image, e.g. \"application/vnd.example+type\". If the `subject_digest` is set and no `artifact_type` is given, the `media_type` will be considered as the `artifact_type`. This field is returned as the `metadata.artifactType` field in the Version resource.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time when the docker image was last updated.",
          "format": "google-datetime"
        },
        "tags": {
          "description": "Tags attached to this image.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "imageSizeBytes": {
          "format": "int64",
          "description": "Calculated size of the image. This field is returned as the 'metadata.imageSizeBytes' field in the Version resource.",
          "type": "string"
        },
        "imageManifests": {
          "description": "Optional. For multi-arch images (manifest lists), this field contains the list of image manifests.",
          "items": {
            "$ref": "ImageManifest"
          },
          "type": "array"
        },
        "name": {
          "description": "Required. registry_location, project_id, repository_name and image id forms a unique image name:`projects//locations//repositories//dockerImages/`. For example, \"projects/test-project/locations/us-west4/repositories/test-repo/dockerImages/ nginx@sha256:e9954c1fc875017be1c3e36eca16be2d9e9bccc4bf072163515467d6a823c7cf\", where \"us-west4\" is the registry_location, \"test-project\" is the project_id, \"test-repo\" is the repository_name and \"nginx@sha256:e9954c1fc875017be1c3e36eca16be2d9e9bccc4bf072163515467d6a823c7cf\" is the image's digest.",
          "type": "string"
        },
        "mediaType": {
          "description": "Media type of this image, e.g. \"application/vnd.docker.distribution.manifest.v2+json\". This field is returned as the 'metadata.mediaType' field in the Version resource.",
          "type": "string"
        },
        "buildTime": {
          "description": "The time this image was built. This field is returned as the 'metadata.buildTime' field in the Version resource. The build time is returned to the client as an RFC 3339 string, which can be easily used with the JavaScript Date constructor.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object",
      "id": "DockerImage"
    },
    "PrewarmPlatform": {
      "type": "object",
      "id": "PrewarmPlatform",
      "description": "The platform (architecture and OS) of the image. This is a sub-message.",
      "properties": {
        "architecture": {
          "description": "Optional. The architecture of the image or tag. For example, \"arm64\" or \"amd64\".",
          "type": "string"
        },
        "os": {
          "description": "Optional. The OS of the image or tag. For example, \"linux\" or \"windows\".",
          "type": "string"
        }
      }
    },
    "KfpArtifact": {
      "id": "KfpArtifact",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. Resource name of the KFP artifact. Since users don't directly interact with this resource, the name will be derived from the associated version. For example, when version = \".../versions/sha256:abcdef...\", the name will be \".../kfpArtifacts/sha256:abcdef...\".",
          "readOnly": true,
          "type": "string"
        },
        "version": {
          "description": "The version associated with the KFP artifact. Must follow the Semantic Versioning standard.",
          "type": "string"
        }
      },
      "description": "A detailed representation of a KFP artifact."
    },
    "GenericArtifact": {
      "id": "GenericArtifact",
      "type": "object",
      "properties": {
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time when the Generic module is created."
        },
        "name": {
          "description": "Resource name of the generic artifact. project, location, repository, package_id and version_id create a unique generic artifact. i.e. \"projects/test-project/locations/us-west4/repositories/test-repo/ genericArtifacts/package_id:version_id\"",
          "type": "string"
        },
        "version": {
          "description": "The version of the generic artifact.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time when the Generic module is updated."
        }
      },
      "description": "GenericArtifact represents a generic artifact"
    },
    "UploadFileRequest": {
      "properties": {
        "fileId": {
          "description": "Optional. The ID of the file. If left empty will default to sha256 digest of the content uploaded.",
          "type": "string"
        }
      },
      "description": "The request to upload a file.",
      "id": "UploadFileRequest",
      "type": "object"
    },
    "ProjectConfig": {
      "description": "The Artifact Registry logging configurations that apply to a Project.",
      "properties": {
        "name": {
          "description": "Identifier. The name of the project's configuration. Always of the form: projects/{project}/locations/{location}/projectConfig",
          "type": "string"
        },
        "platformLogsConfig": {
          "description": "Optional. Configuration for platform logs.",
          "$ref": "PlatformLogsConfig"
        }
      },
      "type": "object",
      "id": "ProjectConfig"
    },
    "UploadGenericArtifactMetadata": {
      "description": "The operation metadata for uploading generic artifacts.",
      "properties": {},
      "type": "object",
      "id": "UploadGenericArtifactMetadata"
    },
    "CommonRemoteRepository": {
      "type": "object",
      "id": "CommonRemoteRepository",
      "description": "Common remote repository settings type.",
      "properties": {
        "uri": {
          "description": "Required. A common public repository base for remote repository.",
          "type": "string"
        }
      }
    },
    "UploadAptArtifactMediaResponse": {
      "id": "UploadAptArtifactMediaResponse",
      "type": "object",
      "properties": {
        "operation": {
          "description": "Operation to be returned to the user.",
          "$ref": "Operation"
        }
      },
      "description": "The response to upload an artifact."
    },
    "ImportYumArtifactsGcsSource": {
      "id": "ImportYumArtifactsGcsSource",
      "type": "object",
      "properties": {
        "uris": {
          "type": "array",
          "description": "Cloud Storage paths URI (e.g., gs://my_bucket//my_object).",
          "items": {
            "type": "string"
          }
        },
        "useWildcards": {
          "description": "Supports URI wildcards for matching multiple objects from a single URI.",
          "type": "boolean"
        }
      },
      "description": "Google Cloud Storage location where the artifacts currently reside."
    },
    "UploadGoogetArtifactMediaResponse": {
      "description": "The response to upload an artifact.",
      "properties": {
        "operation": {
          "description": "Operation to be returned to the user.",
          "$ref": "Operation"
        }
      },
      "type": "object",
      "id": "UploadGoogetArtifactMediaResponse"
    },
    "DockerRepository": {
      "description": "Configuration for a Docker remote repository.",
      "properties": {
        "publicRepository": {
          "description": "One of the publicly available Docker repositories supported by Artifact Registry.",
          "enum": [
            "PUBLIC_REPOSITORY_UNSPECIFIED",
            "DOCKER_HUB"
          ],
          "enumDescriptions": [
            "Unspecified repository.",
            "Docker Hub."
          ],
          "type": "string"
        },
        "customRepository": {
          "description": "Customer-specified remote repository.",
          "$ref": "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigDockerRepositoryCustomRepository"
        }
      },
      "type": "object",
      "id": "DockerRepository"
    },
    "UploadYumArtifactMetadata": {
      "properties": {},
      "description": "The operation metadata for uploading artifacts.",
      "id": "UploadYumArtifactMetadata",
      "type": "object"
    },
    "ImportAptArtifactsErrorInfo": {
      "type": "object",
      "id": "ImportAptArtifactsErrorInfo",
      "description": "Error information explaining why a package was not imported.",
      "properties": {
        "error": {
          "description": "The detailed error status.",
          "$ref": "Status"
        },
        "gcsSource": {
          "description": "Google Cloud Storage location requested.",
          "$ref": "ImportAptArtifactsGcsSource"
        }
      }
    },
    "UploadGoogetArtifactResponse": {
      "type": "object",
      "id": "UploadGoogetArtifactResponse",
      "description": "The response of the completed artifact upload operation. This response is contained in the Operation and available to users.",
      "properties": {
        "googetArtifacts": {
          "type": "array",
          "description": "The GooGet artifacts updated.",
          "items": {
            "$ref": "GoogetArtifact"
          }
        }
      }
    },
    "ImportGoogetArtifactsRequest": {
      "properties": {
        "gcsSource": {
          "description": "Google Cloud Storage location where input content is located.",
          "$ref": "ImportGoogetArtifactsGcsSource"
        }
      },
      "description": "The request to import new googet artifacts.",
      "id": "ImportGoogetArtifactsRequest",
      "type": "object"
    },
    "ImportYumArtifactsMetadata": {
      "type": "object",
      "id": "ImportYumArtifactsMetadata",
      "description": "The operation metadata for importing artifacts.",
      "properties": {}
    },
    "UploadYumArtifactRequest": {
      "properties": {},
      "description": "The request to upload an artifact.",
      "id": "UploadYumArtifactRequest",
      "type": "object"
    },
    "ListPrewarmedArtifactsResponse": {
      "id": "ListPrewarmedArtifactsResponse",
      "type": "object",
      "properties": {
        "prewarmedArtifacts": {
          "type": "array",
          "description": "The prewarmed artifacts.",
          "items": {
            "$ref": "PrewarmedArtifact"
          }
        },
        "nextPageToken": {
          "description": "The token to retrieve the next page of prewarmed artifacts, or empty if there are no more streamings to return.",
          "type": "string"
        }
      },
      "description": "The response for listing artifacts for streaming."
    },
    "ListMavenArtifactsResponse": {
      "id": "ListMavenArtifactsResponse",
      "type": "object",
      "properties": {
        "mavenArtifacts": {
          "type": "array",
          "description": "The maven artifacts returned.",
          "items": {
            "$ref": "MavenArtifact"
          }
        },
        "nextPageToken": {
          "description": "The token to retrieve the next page of artifacts, or empty if there are no more artifacts to return.",
          "type": "string"
        }
      },
      "description": "The response from listing maven artifacts."
    },
    "Tag": {
      "properties": {
        "name": {
          "description": "The name of the tag, for example: \"projects/p1/locations/us-central1/repositories/repo1/packages/pkg1/tags/tag1\". If the package part contains slashes, the slashes are escaped. The tag part can only have characters in [a-zA-Z0-9\\-._~:@], anything else must be URL encoded.",
          "type": "string"
        },
        "version": {
          "description": "The name of the version the tag refers to, for example: `projects/p1/locations/us-central1/repositories/repo1/packages/pkg1/versions/sha256:5243811` If the package or version ID parts contain slashes, the slashes are escaped.",
          "type": "string"
        }
      },
      "description": "Tags point to a version and represent an alternative name that can be used to access the version.",
      "id": "Tag",
      "type": "object"
    },
    "Policy": {
      "id": "Policy",
      "type": "object",
      "properties": {
        "version": {
          "type": "integer",
          "format": "int32",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "bindings": {
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "items": {
            "$ref": "Binding"
          },
          "type": "array"
        },
        "etag": {
          "type": "string",
          "format": "byte",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
        }
      },
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
    },
    "UploadAptArtifactResponse": {
      "type": "object",
      "id": "UploadAptArtifactResponse",
      "description": "The response of the completed artifact upload operation. This response is contained in the Operation and available to users.",
      "properties": {
        "aptArtifacts": {
          "type": "array",
          "description": "The Apt artifacts updated.",
          "items": {
            "$ref": "AptArtifact"
          }
        }
      }
    },
    "ImportAptArtifactsMetadata": {
      "id": "ImportAptArtifactsMetadata",
      "type": "object",
      "properties": {},
      "description": "The operation metadata for importing artifacts."
    },
    "UploadGoModuleMediaResponse": {
      "description": "The response to upload a Go module.",
      "properties": {
        "operation": {
          "description": "Operation to be returned to the user.",
          "$ref": "Operation"
        }
      },
      "type": "object",
      "id": "UploadGoModuleMediaResponse"
    },
    "ExportArtifactResponse": {
      "type": "object",
      "id": "ExportArtifactResponse",
      "description": "The response for exporting an artifact to a destination.",
      "properties": {
        "exportedVersion": {
          "description": "The exported version. Should be the same as the request version with fingerprint resource name.",
          "$ref": "Version"
        }
      }
    },
    "VirtualRepositoryConfig": {
      "type": "object",
      "id": "VirtualRepositoryConfig",
      "description": "Virtual repository configuration.",
      "properties": {
        "upstreamPolicies": {
          "type": "array",
          "description": "Policies that configure the upstream artifacts distributed by the Virtual Repository. Upstream policies cannot be set on a standard repository.",
          "items": {
            "$ref": "UpstreamPolicy"
          }
        }
      }
    },
    "UpstreamCredentials": {
      "description": "The credentials to access the remote repository.",
      "properties": {
        "usernamePasswordCredentials": {
          "description": "Use username and password to access the remote repository.",
          "$ref": "UsernamePasswordCredentials"
        }
      },
      "type": "object",
      "id": "UpstreamCredentials"
    },
    "ProjectSettings": {
      "type": "object",
      "id": "ProjectSettings",
      "description": "The Artifact Registry settings that apply to a Project.",
      "properties": {
        "name": {
          "description": "The name of the project's settings. Always of the form: projects/{project-id}/projectSettings In update request: never set In response: always set",
          "type": "string"
        },
        "pullPercent": {
          "type": "integer",
          "description": "The percentage of pull traffic to redirect from GCR to AR when using partial redirection.",
          "format": "int32"
        },
        "legacyRedirectionState": {
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            false,
            false
          ],
          "description": "The redirection state of the legacy repositories in this project.",
          "enum": [
            "REDIRECTION_STATE_UNSPECIFIED",
            "REDIRECTION_FROM_GCR_IO_DISABLED",
            "REDIRECTION_FROM_GCR_IO_ENABLED",
            "REDIRECTION_FROM_GCR_IO_FINALIZED",
            "REDIRECTION_FROM_GCR_IO_ENABLED_AND_COPYING",
            "REDIRECTION_FROM_GCR_IO_PARTIAL_AND_COPYING"
          ],
          "enumDescriptions": [
            "No redirection status has been set.",
            "Redirection is disabled.",
            "Redirection is enabled.",
            "Redirection is enabled, and has been finalized so cannot be reverted.",
            "Redirection is enabled and missing images are copied from GCR",
            "Redirection is partially enabled and missing images are copied from GCR"
          ]
        }
      }
    },
    "ListAttachmentsResponse": {
      "type": "object",
      "id": "ListAttachmentsResponse",
      "description": "The response from listing attachments.",
      "properties": {
        "attachments": {
          "description": "The attachments returned.",
          "items": {
            "$ref": "Attachment"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The token to retrieve the next page of attachments, or empty if there are no more attachments to return.",
          "type": "string"
        }
      }
    },
    "PrewarmArtifactRequest": {
      "properties": {
        "retentionDays": {
          "format": "int64",
          "description": "Optional. The retention days of the prewarmed artifact. If not specified, the artifact will be cached for 3 days.",
          "type": "string"
        },
        "streamLocation": {
          "description": "Optional. The location to cache the artifact in. If not specified, the artifact will be cached in the same location as the artifact. multi-region is not supported for this field.",
          "type": "string"
        },
        "platform": {
          "description": "Optional. The platform (architecture and OS) of the image or tag.",
          "$ref": "PrewarmPlatform"
        },
        "version": {
          "description": "Optional. The artifact version Format: projects/{project}/locations/{location}/repositories/{repository}/packages/{package}/versions/{version}",
          "type": "string"
        },
        "tag": {
          "description": "Optional. The artifact tag Format:projects/{project}/locations/{location}/repositories/{repository}/packages/{package}/tags/{tag}",
          "type": "string"
        },
        "force": {
          "description": "Optional. If true, old artifact will be evicted to make room for the new artifact.",
          "type": "boolean"
        }
      },
      "description": "The request for prewarming an artifact for streaming.",
      "id": "PrewarmArtifactRequest",
      "type": "object"
    },
    "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigDockerRepositoryCustomRepository": {
      "description": "Customer-specified publicly available remote repository.",
      "properties": {
        "uri": {
          "description": "An http/https uri reference to the custom remote repository, for ex: \"https://registry-1.docker.io\".",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigDockerRepositoryCustomRepository"
    },
    "TestIamPermissionsResponse": {
      "id": "TestIamPermissionsResponse",
      "type": "object",
      "properties": {
        "permissions": {
          "type": "array",
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Response message for `TestIamPermissions` method."
    },
    "ImportGoogetArtifactsMetadata": {
      "id": "ImportGoogetArtifactsMetadata",
      "type": "object",
      "properties": {},
      "description": "The operation metadata for importing artifacts."
    },
    "DownloadFileResponse": {
      "id": "DownloadFileResponse",
      "type": "object",
      "properties": {},
      "description": "The response to download a file."
    },
    "Repository": {
      "type": "object",
      "id": "Repository",
      "description": "A Repository for storing artifacts with a specific format.",
      "properties": {
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time when the repository was last updated.",
          "format": "google-datetime"
        },
        "satisfiesPzs": {
          "description": "Output only. Whether or not this repository satisfies PZS.",
          "readOnly": true,
          "type": "boolean"
        },
        "satisfiesPzi": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether or not this repository satisfies PZI."
        },
        "name": {
          "description": "The name of the repository, for example: `projects/p1/locations/us-central1/repositories/repo1`. For each location in a project, repository names must be unique.",
          "type": "string"
        },
        "remoteRepositoryConfig": {
          "description": "Configuration specific for a Remote Repository.",
          "$ref": "RemoteRepositoryConfig"
        },
        "disallowUnspecifiedMode": {
          "description": "Optional. If this is true, an unspecified repo type will be treated as error rather than defaulting to standard.",
          "type": "boolean"
        },
        "mavenConfig": {
          "description": "Maven repository config contains repository level configuration for the repositories of maven type.",
          "$ref": "MavenRepositoryConfig"
        },
        "platformLogsConfig": {
          "description": "Optional. Configuration for platform logs.",
          "$ref": "PlatformLogsConfig"
        },
        "vulnerabilityScanningConfig": {
          "description": "Optional. Config and state for vulnerability scanning of resources within this Repository.",
          "$ref": "VulnerabilityScanningConfig"
        },
        "kmsKeyName": {
          "description": "The Cloud KMS resource name of the customer managed encryption key that's used to encrypt the contents of the Repository. Has the form: `projects/my-project/locations/my-region/keyRings/my-kr/cryptoKeys/my-key`. This value may not be changed after the Repository has been created.",
          "type": "string"
        },
        "sizeBytes": {
          "format": "int64",
          "description": "Output only. The size, in bytes, of all artifact storage in this repository. Repositories that are generally available or in public preview use this to calculate storage costs.",
          "readOnly": true,
          "type": "string"
        },
        "registryUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The repository endpoint, for example: `us-docker.pkg.dev/my-proj/my-repo`."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels with user-defined metadata. This field may contain up to 64 entries. Label keys and values may be no longer than 63 characters. Label keys must begin with a lowercase letter and may only contain lowercase letters, numeric characters, underscores, and dashes.",
          "type": "object"
        },
        "dockerConfig": {
          "description": "Docker repository config contains repository level configuration for the repositories of docker type.",
          "$ref": "DockerRepositoryConfig"
        },
        "cleanupPolicies": {
          "type": "object",
          "additionalProperties": {
            "$ref": "CleanupPolicy"
          },
          "description": "Optional. Cleanup policies for this repository. Cleanup policies indicate when certain package versions can be automatically deleted. Map keys are policy IDs supplied by users during policy creation. They must unique within a repository and be under 128 characters in length."
        },
        "virtualRepositoryConfig": {
          "description": "Configuration specific for a Virtual Repository.",
          "$ref": "VirtualRepositoryConfig"
        },
        "createTime": {
          "description": "Output only. The time when the repository was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "description": "The user-provided description of the repository.",
          "type": "string"
        },
        "mode": {
          "description": "Optional. The mode of the repository.",
          "enum": [
            "MODE_UNSPECIFIED",
            "STANDARD_REPOSITORY",
            "VIRTUAL_REPOSITORY",
            "REMOTE_REPOSITORY",
            "AOSS_REPOSITORY",
            "ASSURED_OSS_REPOSITORY"
          ],
          "enumDescriptions": [
            "Unspecified mode.",
            "A standard repository storing artifacts.",
            "A virtual repository to serve artifacts from one or more sources.",
            "A remote repository to serve artifacts from a remote source.",
            "An AOSS repository provides artifacts from AOSS upstreams.",
            "Replacement of AOSS_REPOSITORY."
          ],
          "type": "string"
        },
        "cleanupPolicyDryRun": {
          "description": "Optional. If true, the cleanup pipeline is prevented from deleting versions in this repository.",
          "type": "boolean"
        },
        "format": {
          "description": "Optional. The format of packages that are stored in the repository.",
          "enum": [
            "FORMAT_UNSPECIFIED",
            "DOCKER",
            "MAVEN",
            "NPM",
            "APT",
            "YUM",
            "GOOGET",
            "PYTHON",
            "KFP",
            "GO",
            "GENERIC",
            "RUBY"
          ],
          "enumDescriptions": [
            "Unspecified package format.",
            "Docker package format.",
            "Maven package format.",
            "NPM package format.",
            "APT package format.",
            "YUM package format.",
            "GooGet package format.",
            "Python package format.",
            "Kubeflow Pipelines package format.",
            "Go package format.",
            "Generic package format.",
            "Ruby package format."
          ],
          "type": "string"
        }
      }
    },
    "RemovePrewarmedArtifactRequest": {
      "description": "The request for removing an artifact from streaming.",
      "properties": {
        "version": {
          "description": "Optional. The artifact version Format: projects/{project}/locations/{location}/repositories/{repository}/packages/{package}/versions/{version}",
          "type": "string"
        },
        "streamLocation": {
          "description": "Optional. The location of the prewarmed artifact. multi-region is not supported for this field.",
          "type": "string"
        },
        "tag": {
          "description": "Optional. The artifact tag Format:projects/{project}/locations/{location}/repositories/{repository}/packages/{package}/tags/{tag}",
          "type": "string"
        }
      },
      "type": "object",
      "id": "RemovePrewarmedArtifactRequest"
    },
    "PythonRepository": {
      "id": "PythonRepository",
      "type": "object",
      "properties": {
        "publicRepository": {
          "description": "One of the publicly available Python repositories supported by Artifact Registry.",
          "enum": [
            "PUBLIC_REPOSITORY_UNSPECIFIED",
            "PYPI"
          ],
          "enumDescriptions": [
            "Unspecified repository.",
            "PyPI."
          ],
          "type": "string"
        },
        "customRepository": {
          "description": "Customer-specified remote repository.",
          "$ref": "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigPythonRepositoryCustomRepository"
        }
      },
      "description": "Configuration for a Python remote repository."
    },
    "VPCSCConfig": {
      "type": "object",
      "id": "VPCSCConfig",
      "description": "The Artifact Registry VPC SC config that apply to a Project.",
      "properties": {
        "name": {
          "description": "The name of the project's VPC SC Config. Always of the form: projects/{projectID}/locations/{location}/vpcscConfig In update request: never set In response: always set",
          "type": "string"
        },
        "vpcscPolicy": {
          "type": "string",
          "enumDescriptions": [
            "VPCSC_POLICY_UNSPECIFIED - the VPS SC policy is not defined. When VPS SC policy is not defined - the Service will use the default behavior (VPCSC_DENY).",
            "VPCSC_DENY - repository will block the requests to the Upstreams for the Remote Repositories if the resource is in the perimeter.",
            "VPCSC_ALLOW - repository will allow the requests to the Upstreams for the Remote Repositories if the resource is in the perimeter."
          ],
          "description": "The project per location VPC SC policy that defines the VPC SC behavior for the Remote Repository (Allow/Deny).",
          "enum": [
            "VPCSC_POLICY_UNSPECIFIED",
            "DENY",
            "ALLOW"
          ]
        }
      }
    },
    "AptArtifact": {
      "type": "object",
      "id": "AptArtifact",
      "description": "A detailed representation of an Apt artifact. Information in the record is derived from the archive's control file. See https://www.debian.org/doc/debian-policy/ch-controlfields.html",
      "properties": {
        "name": {
          "description": "Output only. The Artifact Registry resource name of the artifact.",
          "readOnly": true,
          "type": "string"
        },
        "packageType": {
          "enumDescriptions": [
            "Package type is not specified.",
            "Binary package.",
            "Source package."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. An artifact is a binary or source package.",
          "enum": [
            "PACKAGE_TYPE_UNSPECIFIED",
            "BINARY",
            "SOURCE"
          ]
        },
        "component": {
          "description": "Output only. Repository component of the artifact.",
          "readOnly": true,
          "type": "string"
        },
        "architecture": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Operating system architecture of the artifact."
        },
        "packageName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The Apt package name of the artifact."
        },
        "controlFile": {
          "description": "Output only. Contents of the artifact's control metadata file.",
          "format": "byte",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "type": "object",
      "properties": {},
      "description": "The request message for Operations.CancelOperation."
    },
    "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigPythonRepositoryCustomRepository": {
      "type": "object",
      "id": "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigPythonRepositoryCustomRepository",
      "description": "Customer-specified publicly available remote repository.",
      "properties": {
        "uri": {
          "description": "An http/https uri reference to the upstream remote repository, for ex: \"https://my.python.registry/\".",
          "type": "string"
        }
      }
    },
    "Operation": {
      "properties": {
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation",
      "type": "object"
    },
    "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigYumRepositoryCustomRepository": {
      "type": "object",
      "id": "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigYumRepositoryCustomRepository",
      "description": "Customer-specified publicly available remote repository.",
      "properties": {
        "uri": {
          "description": "An http/https uri reference to the upstream remote repository, for ex: \"https://my.yum.registry/\".",
          "type": "string"
        }
      }
    },
    "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigMavenRepositoryCustomRepository": {
      "id": "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigMavenRepositoryCustomRepository",
      "type": "object",
      "properties": {
        "uri": {
          "description": "An http/https uri reference to the upstream remote repository, for ex: \"https://my.maven.registry/\".",
          "type": "string"
        }
      },
      "description": "Customer-specified publicly available remote repository."
    },
    "DockerRepositoryConfig": {
      "description": "DockerRepositoryConfig is docker related repository details. Provides additional configuration details for repositories of the docker format type.",
      "properties": {
        "immutableTags": {
          "description": "The repository which enabled this flag prevents all tags from being modified, moved or deleted. This does not prevent tags from being created.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "DockerRepositoryConfig"
    },
    "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigNpmRepositoryCustomRepository": {
      "id": "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigNpmRepositoryCustomRepository",
      "type": "object",
      "properties": {
        "uri": {
          "description": "An http/https uri reference to the upstream remote repository, for ex: \"https://my.npm.registry/\".",
          "type": "string"
        }
      },
      "description": "Customer-specified publicly available remote repository."
    },
    "ImageManifest": {
      "properties": {
        "architecture": {
          "description": "Optional. The CPU architecture of the image. Values are provided by the Docker client and are not validated by Artifact Registry. Example values include \"amd64\", \"arm64\", \"ppc64le\", \"s390x\", \"riscv64\", \"mips64le\", etc.",
          "type": "string"
        },
        "os": {
          "description": "Optional. The operating system of the image. Values are provided by the Docker client and are not validated by Artifact Registry. Example values include \"linux\", \"windows\", \"darwin\", \"aix\", etc.",
          "type": "string"
        },
        "osVersion": {
          "description": "Optional. The OS version of the image, for example on Windows `10.0.14393.1066`.",
          "type": "string"
        },
        "osFeatures": {
          "type": "array",
          "description": "Optional. The required OS features for the image, for example on Windows `win32k`.",
          "items": {
            "type": "string"
          }
        },
        "mediaType": {
          "description": "Optional. The media type of the manifest, e.g., \"application/vnd.docker.distribution.manifest.v2+json\"",
          "type": "string"
        },
        "variant": {
          "description": "Optional. The variant of the CPU in the image, for example `v7` to specify ARMv7 when architecture is `arm`.",
          "type": "string"
        },
        "digest": {
          "description": "Optional. The manifest digest, in the format \"sha256:\".",
          "type": "string"
        }
      },
      "description": "Details of a single image manifest within a multi-arch image.",
      "id": "ImageManifest",
      "type": "object"
    },
    "ListTagsResponse": {
      "type": "object",
      "id": "ListTagsResponse",
      "description": "The response from listing tags.",
      "properties": {
        "tags": {
          "description": "The tags returned.",
          "items": {
            "$ref": "Tag"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The token to retrieve the next page of tags, or empty if there are no more tags to return.",
          "type": "string"
        }
      }
    },
    "CleanupPolicyCondition": {
      "properties": {
        "olderThan": {
          "format": "google-duration",
          "description": "Match versions older than a duration.",
          "type": "string"
        },
        "tagState": {
          "enumDescriptions": [
            "Tag status not specified.",
            "Applies to tagged versions only.",
            "Applies to untagged versions only.",
            "Applies to all versions."
          ],
          "type": "string",
          "description": "Match versions by tag status.",
          "enum": [
            "TAG_STATE_UNSPECIFIED",
            "TAGGED",
            "UNTAGGED",
            "ANY"
          ]
        },
        "tagPrefixes": {
          "description": "Match versions by tag prefix. Applied on any prefix match.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "versionNamePrefixes": {
          "description": "Match versions by version name prefix. Applied on any prefix match.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "packageNamePrefixes": {
          "description": "Match versions by package prefix. Applied on any prefix match.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "newerThan": {
          "description": "Match versions newer than a duration.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "description": "CleanupPolicyCondition is a set of conditions attached to a CleanupPolicy. If multiple entries are set, all must be satisfied for the condition to be satisfied.",
      "id": "CleanupPolicyCondition",
      "type": "object"
    },
    "Binding": {
      "properties": {
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        },
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles).",
          "type": "string"
        },
        "members": {
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Associates `members`, or principals, with a `role`.",
      "id": "Binding",
      "type": "object"
    },
    "UploadGoModuleRequest": {
      "id": "UploadGoModuleRequest",
      "type": "object",
      "properties": {},
      "description": "The request to upload a Go module."
    },
    "BatchDeleteVersionsRequest": {
      "type": "object",
      "id": "BatchDeleteVersionsRequest",
      "description": "The request to delete multiple versions across a repository.",
      "properties": {
        "names": {
          "type": "array",
          "description": "Required. The names of the versions to delete. The maximum number of versions deleted per batch is determined by the service and is dependent on the available resources in the region.",
          "items": {
            "type": "string"
          }
        },
        "validateOnly": {
          "description": "If true, the request is performed without deleting data, following AIP-163.",
          "type": "boolean"
        }
      }
    },
    "NpmPackage": {
      "id": "NpmPackage",
      "type": "object",
      "properties": {
        "tags": {
          "type": "array",
          "description": "Tags attached to this package.",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "Required. registry_location, project_id, repository_name and npm_package forms a unique package For example, \"projects/test-project/locations/us-west4/repositories/test-repo/npmPackages/ npm_test:1.0.0\", where \"us-west4\" is the registry_location, \"test-project\" is the project_id, \"test-repo\" is the repository_name and npm_test:1.0.0\" is the npm package.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time the package was created.",
          "format": "google-datetime"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time the package was updated.",
          "format": "google-datetime"
        },
        "packageName": {
          "description": "Package for the artifact.",
          "type": "string"
        },
        "version": {
          "description": "Version of this package.",
          "type": "string"
        }
      },
      "description": "NpmPackage represents an npm artifact."
    },
    "ListDockerImagesResponse": {
      "description": "The response from listing docker images.",
      "properties": {
        "dockerImages": {
          "type": "array",
          "description": "The docker images returned.",
          "items": {
            "$ref": "DockerImage"
          }
        },
        "nextPageToken": {
          "description": "The token to retrieve the next page of artifacts, or empty if there are no more artifacts to return.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListDockerImagesResponse"
    },
    "UploadGenericArtifactMediaResponse": {
      "id": "UploadGenericArtifactMediaResponse",
      "type": "object",
      "properties": {
        "operation": {
          "description": "Operation that will be returned to the user.",
          "$ref": "Operation"
        }
      },
      "description": "The response to upload a generic artifact."
    },
    "UploadGoModuleMetadata": {
      "description": "The operation metadata for uploading go modules.",
      "properties": {},
      "type": "object",
      "id": "UploadGoModuleMetadata"
    },
    "YumRepository": {
      "description": "Configuration for a Yum remote repository.",
      "properties": {
        "publicRepository": {
          "description": "One of the publicly available Yum repositories supported by Artifact Registry.",
          "$ref": "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigYumRepositoryPublicRepository"
        },
        "customRepository": {
          "description": "Customer-specified remote repository.",
          "$ref": "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigYumRepositoryCustomRepository"
        }
      },
      "type": "object",
      "id": "YumRepository"
    },
    "CleanupPolicy": {
      "id": "CleanupPolicy",
      "type": "object",
      "properties": {
        "id": {
          "description": "The user-provided ID of the cleanup policy.",
          "type": "string"
        },
        "condition": {
          "description": "Policy condition for matching versions.",
          "$ref": "CleanupPolicyCondition"
        },
        "mostRecentVersions": {
          "description": "Policy condition for retaining a minimum number of versions. May only be specified with a Keep action.",
          "$ref": "CleanupPolicyMostRecentVersions"
        },
        "action": {
          "description": "Policy action.",
          "enum": [
            "ACTION_UNSPECIFIED",
            "DELETE",
            "KEEP"
          ],
          "type": "string",
          "enumDescriptions": [
            "Action not specified.",
            "Delete action.",
            "Keep action."
          ]
        }
      },
      "description": "Artifact policy configuration for repository cleanup policies."
    },
    "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigAptRepositoryPublicRepository": {
      "description": "Publicly available Apt repositories constructed from a common repository base and a custom repository path.",
      "properties": {
        "repositoryPath": {
          "description": "A custom field to define a path to a specific repository from the base.",
          "type": "string"
        },
        "repositoryBase": {
          "description": "A common public repository base for Apt.",
          "enum": [
            "REPOSITORY_BASE_UNSPECIFIED",
            "DEBIAN",
            "UBUNTU",
            "DEBIAN_SNAPSHOT"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified repository base.",
            "Debian.",
            "Ubuntu LTS/Pro.",
            "Archived Debian."
          ]
        }
      },
      "type": "object",
      "id": "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigAptRepositoryPublicRepository"
    },
    "Version": {
      "type": "object",
      "id": "Version",
      "description": "The body of a version resource. A version resource represents a collection of components, such as files and other data. This may correspond to a version in many package management schemes.",
      "properties": {
        "createTime": {
          "type": "string",
          "description": "The time when the version was created.",
          "format": "google-datetime"
        },
        "description": {
          "description": "Optional. Description of the version, as specified in its metadata.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "The time when the version was last updated.",
          "format": "google-datetime"
        },
        "metadata": {
          "description": "Output only. Repository-specific Metadata stored against this version. The fields returned are defined by the underlying repository-specific resource. Currently, the resources could be: DockerImage MavenArtifact",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "readOnly": true,
          "type": "object"
        },
        "annotations": {
          "description": "Optional. Client specified annotations.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "relatedTags": {
          "type": "array",
          "description": "Output only. A list of related tags. Will contain up to 100 tags that reference this version.",
          "items": {
            "$ref": "Tag"
          }
        },
        "fingerprints": {
          "description": "Output only. Immutable reference for the version, calculated based on the version's content. Currently we only support dirsum_sha256 hash algorithm. Additional hash algorithms may be added in the future.",
          "items": {
            "$ref": "Hash"
          },
          "readOnly": true,
          "type": "array"
        },
        "name": {
          "description": "The name of the version, for example: `projects/p1/locations/us-central1/repositories/repo1/packages/pkg1/versions/art1`. If the package or version ID parts contain slashes, the slashes are escaped.",
          "type": "string"
        }
      }
    },
    "PrewarmedArtifact": {
      "description": "PrewarmedArtifact represents a streamed artifact. This is not a request message, so field_behavior annotations are not required.",
      "properties": {
        "uri": {
          "description": "URL to access the image. Example: us-west4-docker.pkg.dev/test-project/test-repo/nginx@sha256:e9954c1fc875017be1c3e36eca16be2d9e9bccc4bf072163515467d6a823c7cf",
          "type": "string"
        },
        "location": {
          "description": "The location of the prewarmed artifact.",
          "type": "string"
        },
        "expirationTime": {
          "description": "The expiration time of the prewarmed artifact.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object",
      "id": "PrewarmedArtifact"
    },
    "UploadKfpArtifactMediaResponse": {
      "properties": {
        "operation": {
          "description": "Operation that will be returned to the user.",
          "$ref": "Operation"
        }
      },
      "description": "The response to upload an artifact.",
      "id": "UploadKfpArtifactMediaResponse",
      "type": "object"
    },
    "MavenRepositoryConfig": {
      "description": "MavenRepositoryConfig is maven related repository details. Provides additional configuration details for repositories of the maven format type.",
      "properties": {
        "versionPolicy": {
          "type": "string",
          "enumDescriptions": [
            "VERSION_POLICY_UNSPECIFIED - the version policy is not defined. When the version policy is not defined, no validation is performed for the versions.",
            "RELEASE - repository will accept only Release versions.",
            "SNAPSHOT - repository will accept only Snapshot versions."
          ],
          "description": "Version policy defines the versions that the registry will accept.",
          "enum": [
            "VERSION_POLICY_UNSPECIFIED",
            "RELEASE",
            "SNAPSHOT"
          ]
        },
        "allowSnapshotOverwrites": {
          "description": "The repository with this flag will allow publishing the same snapshot versions.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "MavenRepositoryConfig"
    },
    "TestIamPermissionsRequest": {
      "type": "object",
      "id": "TestIamPermissionsRequest",
      "description": "Request message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "type": "array",
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "UploadYumArtifactResponse": {
      "id": "UploadYumArtifactResponse",
      "type": "object",
      "properties": {
        "yumArtifacts": {
          "description": "The Yum artifacts updated.",
          "items": {
            "$ref": "YumArtifact"
          },
          "type": "array"
        }
      },
      "description": "The response of the completed artifact upload operation. This response is contained in the Operation and available to users."
    },
    "ImportYumArtifactsErrorInfo": {
      "properties": {
        "gcsSource": {
          "description": "Google Cloud Storage location requested.",
          "$ref": "ImportYumArtifactsGcsSource"
        },
        "error": {
          "description": "The detailed error status.",
          "$ref": "Status"
        }
      },
      "description": "Error information explaining why a package was not imported.",
      "id": "ImportYumArtifactsErrorInfo",
      "type": "object"
    },
    "CleanupPolicyMostRecentVersions": {
      "id": "CleanupPolicyMostRecentVersions",
      "type": "object",
      "properties": {
        "keepCount": {
          "type": "integer",
          "description": "Minimum number of versions to keep.",
          "format": "int32"
        },
        "packageNamePrefixes": {
          "type": "array",
          "description": "List of package name prefixes that will apply this rule.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "CleanupPolicyMostRecentVersions is an alternate condition of a CleanupPolicy for retaining a minimum number of versions."
    },
    "GoModule": {
      "id": "GoModule",
      "type": "object",
      "properties": {
        "createTime": {
          "description": "Output only. The time when the Go module is created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time when the Go module is updated."
        },
        "name": {
          "description": "The resource name of a Go module.",
          "type": "string"
        },
        "version": {
          "description": "The version of the Go module. Must be a valid canonical version as defined in https://go.dev/ref/mod#glos-canonical-version.",
          "type": "string"
        }
      },
      "description": "GoModule represents a Go module."
    },
    "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigYumRepositoryPublicRepository": {
      "type": "object",
      "id": "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigYumRepositoryPublicRepository",
      "description": "Publicly available Yum repositories constructed from a common repository base and a custom repository path.",
      "properties": {
        "repositoryPath": {
          "description": "A custom field to define a path to a specific repository from the base.",
          "type": "string"
        },
        "repositoryBase": {
          "description": "A common public repository base for Yum.",
          "enum": [
            "REPOSITORY_BASE_UNSPECIFIED",
            "CENTOS",
            "CENTOS_DEBUG",
            "CENTOS_VAULT",
            "CENTOS_STREAM",
            "ROCKY",
            "EPEL"
          ],
          "enumDescriptions": [
            "Unspecified repository base.",
            "CentOS.",
            "CentOS Debug.",
            "CentOS Vault.",
            "CentOS Stream.",
            "Rocky.",
            "Fedora Extra Packages for Enterprise Linux (EPEL)."
          ],
          "type": "string"
        }
      }
    },
    "Location": {
      "properties": {
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        }
      },
      "description": "A resource that represents a Google Cloud location.",
      "id": "Location",
      "type": "object"
    },
    "Empty": {
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "type": "object"
    },
    "UploadAptArtifactRequest": {
      "id": "UploadAptArtifactRequest",
      "type": "object",
      "properties": {},
      "description": "The request to upload an artifact."
    },
    "UploadFileMediaResponse": {
      "properties": {
        "operation": {
          "description": "Operation that will be returned to the user.",
          "$ref": "Operation"
        }
      },
      "description": "The response to upload a generic artifact.",
      "id": "UploadFileMediaResponse",
      "type": "object"
    },
    "PrewarmArtifactResponse": {
      "properties": {
        "prewarmedArtifact": {
          "description": "The prewarmed artifact that was prewarmed.",
          "$ref": "PrewarmedArtifact"
        }
      },
      "description": "The response for prewarming an artifact for streaming.",
      "id": "PrewarmArtifactResponse",
      "type": "object"
    },
    "UploadKfpArtifactMetadata": {
      "type": "object",
      "id": "UploadKfpArtifactMetadata",
      "description": "The operation metadata for uploading KFP artifacts.",
      "properties": {}
    },
    "PythonPackage": {
      "properties": {
        "name": {
          "description": "Required. registry_location, project_id, repository_name and python_package forms a unique package name:`projects//locations//repository//pythonPackages/`. For example, \"projects/test-project/locations/us-west4/repositories/test-repo/pythonPackages/ python_package:1.0.0\", where \"us-west4\" is the registry_location, \"test-project\" is the project_id, \"test-repo\" is the repository_name and python_package:1.0.0\" is the python package.",
          "type": "string"
        },
        "uri": {
          "description": "Required. URL to access the package. Example: us-west4-python.pkg.dev/test-project/test-repo/python_package/file-name-1.0.0.tar.gz",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time the package was created."
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time the package was updated."
        },
        "packageName": {
          "description": "Package for the artifact.",
          "type": "string"
        },
        "version": {
          "description": "Version of this package.",
          "type": "string"
        }
      },
      "description": "PythonPackage represents a python artifact.",
      "id": "PythonPackage",
      "type": "object"
    },
    "UploadYumArtifactMediaResponse": {
      "properties": {
        "operation": {
          "description": "Operation to be returned to the user.",
          "$ref": "Operation"
        }
      },
      "description": "The response to upload an artifact.",
      "id": "UploadYumArtifactMediaResponse",
      "type": "object"
    },
    "GoogleDevtoolsArtifactregistryV1Rule": {
      "id": "GoogleDevtoolsArtifactregistryV1Rule",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the rule, for example: `projects/p1/locations/us-central1/repositories/repo1/rules/rule1`.",
          "type": "string"
        },
        "condition": {
          "description": "Optional. A CEL expression for conditions that must be met in order for the rule to apply. If not provided, the rule matches all objects.",
          "$ref": "Expr"
        },
        "action": {
          "description": "The action this rule takes.",
          "enum": [
            "ACTION_UNSPECIFIED",
            "ALLOW",
            "DENY"
          ],
          "enumDescriptions": [
            "Action not specified.",
            "Allow the operation.",
            "Deny the operation."
          ],
          "type": "string"
        },
        "operation": {
          "enum": [
            "OPERATION_UNSPECIFIED",
            "DOWNLOAD"
          ],
          "enumDescriptions": [
            "Operation not specified.",
            "Download operation."
          ],
          "type": "string"
        },
        "packageId": {
          "description": "The package ID the rule applies to. If empty, this rule applies to all packages inside the repository.",
          "type": "string"
        }
      },
      "description": "A rule defines the deny or allow action of the operation it applies to and the conditions required for the rule to apply. You can set one rule for an entire repository and one rule for each package within."
    },
    "Status": {
      "id": "Status",
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          }
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "NoCacheFetching": {
      "properties": {},
      "description": "The configuration for the no-cache fetching mode, which acts as a non-caching proxy.",
      "id": "NoCacheFetching",
      "type": "object"
    },
    "SetIamPolicyRequest": {
      "id": "SetIamPolicyRequest",
      "type": "object",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "Policy"
        }
      },
      "description": "Request message for `SetIamPolicy` method."
    },
    "RemoteRepositoryConfig": {
      "properties": {
        "dockerRepository": {
          "description": "Specific settings for a Docker remote repository.",
          "$ref": "DockerRepository"
        },
        "pythonRepository": {
          "description": "Specific settings for a Python remote repository.",
          "$ref": "PythonRepository"
        },
        "mavenRepository": {
          "description": "Specific settings for a Maven remote repository.",
          "$ref": "MavenRepository"
        },
        "description": {
          "description": "The description of the remote source.",
          "type": "string"
        },
        "aptRepository": {
          "description": "Specific settings for an Apt remote repository.",
          "$ref": "AptRepository"
        },
        "yumRepository": {
          "description": "Specific settings for a Yum remote repository.",
          "$ref": "YumRepository"
        },
        "upstreamCredentials": {
          "description": "Optional. The credentials used to access the remote repository.",
          "$ref": "UpstreamCredentials"
        },
        "disableUpstreamValidation": {
          "description": "Input only. A create/update remote repo option to avoid making a HEAD/GET request to validate a remote repo and any supplied upstream credentials.",
          "type": "boolean"
        },
        "noCache": {
          "description": "The remote repository will act as a non-caching proxy.",
          "$ref": "NoCacheFetching"
        },
        "commonRepository": {
          "description": "Common remote repository settings. Used as the remote repository upstream URL.",
          "$ref": "CommonRemoteRepository"
        },
        "npmRepository": {
          "description": "Specific settings for an Npm remote repository.",
          "$ref": "NpmRepository"
        }
      },
      "description": "Remote repository configuration.",
      "id": "RemoteRepositoryConfig",
      "type": "object"
    },
    "CheckPrewarmedArtifactRequest": {
      "description": "The request for checking an artifact for streaming.",
      "properties": {
        "streamLocation": {
          "description": "Optional. The location of the prewarmed artifact. multi-region is not supported for this field.",
          "type": "string"
        },
        "tag": {
          "description": "Optional. The artifact tag Format:projects/{project}/locations/{location}/repositories/{repository}/packages/{package}/tags/{tag}",
          "type": "string"
        },
        "version": {
          "description": "Optional. The artifact version Format: projects/{project}/locations/{location}/repositories/{repository}/packages/{package}/versions/{version}",
          "type": "string"
        }
      },
      "type": "object",
      "id": "CheckPrewarmedArtifactRequest"
    },
    "ImportAptArtifactsResponse": {
      "type": "object",
      "id": "ImportAptArtifactsResponse",
      "description": "The response message from importing APT artifacts.",
      "properties": {
        "errors": {
          "type": "array",
          "description": "Detailed error info for packages that were not imported.",
          "items": {
            "$ref": "ImportAptArtifactsErrorInfo"
          }
        },
        "aptArtifacts": {
          "description": "The Apt artifacts imported.",
          "items": {
            "$ref": "AptArtifact"
          },
          "type": "array"
        }
      }
    },
    "Expr": {
      "id": "Expr",
      "type": "object",
      "properties": {
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        }
      },
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
    },
    "Package": {
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "The time when the package was created.",
          "type": "string"
        },
        "displayName": {
          "description": "The display name of the package.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time when the package was last updated. This includes publishing a new version of the package."
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Client specified annotations.",
          "type": "object"
        },
        "name": {
          "description": "The name of the package, for example: `projects/p1/locations/us-central1/repositories/repo1/packages/pkg1`. If the package ID part contains slashes, the slashes are escaped.",
          "type": "string"
        }
      },
      "description": "Packages are named collections of versions.",
      "id": "Package",
      "type": "object"
    },
    "ImportYumArtifactsRequest": {
      "id": "ImportYumArtifactsRequest",
      "type": "object",
      "properties": {
        "gcsSource": {
          "description": "Google Cloud Storage location where input content is located.",
          "$ref": "ImportYumArtifactsGcsSource"
        }
      },
      "description": "The request to import new yum artifacts."
    },
    "ListNpmPackagesResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The token to retrieve the next page of artifacts, or empty if there are no more artifacts to return.",
          "type": "string"
        },
        "npmPackages": {
          "description": "The npm packages returned.",
          "items": {
            "$ref": "NpmPackage"
          },
          "type": "array"
        }
      },
      "description": "The response from listing npm packages.",
      "id": "ListNpmPackagesResponse",
      "type": "object"
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "type": "object",
      "properties": {},
      "description": "Metadata type for longrunning-operations, currently empty."
    },
    "ImportGoogetArtifactsResponse": {
      "properties": {
        "googetArtifacts": {
          "description": "The GooGet artifacts updated.",
          "items": {
            "$ref": "GoogetArtifact"
          },
          "type": "array"
        },
        "errors": {
          "type": "array",
          "description": "Detailed error info for packages that were not imported.",
          "items": {
            "$ref": "ImportGoogetArtifactsErrorInfo"
          }
        }
      },
      "description": "The response message from importing artifacts.",
      "id": "ImportGoogetArtifactsResponse",
      "type": "object"
    },
    "BatchDeleteVersionsMetadata": {
      "description": "The metadata of an LRO from deleting multiple versions.",
      "properties": {
        "failedVersions": {
          "description": "The versions the operation failed to delete.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "BatchDeleteVersionsMetadata"
    },
    "UsernamePasswordCredentials": {
      "id": "UsernamePasswordCredentials",
      "type": "object",
      "properties": {
[...]
