{
  "fullyEncodeReservedExpansion": true,
  "name": "artifactregistry",
  "revision": "20260727",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "basePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "rootUrl": "https://artifactregistry.googleapis.com/",
  "protocol": "rest",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "id": "artifactregistry:v1",
  "mtlsRootUrl": "https://artifactregistry.mtls.googleapis.com/",
  "ownerName": "Google",
  "servicePath": "",
  "title": "Artifact Registry API",
  "endpoints": [
    {
      "location": "africa-south1",
      "endpointUrl": "https://artifactregistry.africa-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://artifactregistry.asia-east1.rep.googleapis.com/",
      "location": "asia-east1",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-east2",
      "endpointUrl": "https://artifactregistry.asia-east2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://artifactregistry.asia-northeast1.rep.googleapis.com/",
      "location": "asia-northeast1"
    },
    {
      "location": "asia-northeast2",
      "endpointUrl": "https://artifactregistry.asia-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-northeast3",
      "endpointUrl": "https://artifactregistry.asia-northeast3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-south1",
      "endpointUrl": "https://artifactregistry.asia-south1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://artifactregistry.asia-south2.rep.googleapis.com/",
      "location": "asia-south2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://artifactregistry.asia-southeast1.rep.googleapis.com/",
      "location": "asia-southeast1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-southeast2",
      "endpointUrl": "https://artifactregistry.asia-southeast2.rep.googleapis.com/"
    },
    {
      "location": "australia-southeast1",
      "endpointUrl": "https://artifactregistry.australia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "australia-southeast2",
      "endpointUrl": "https://artifactregistry.australia-southeast2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-central2",
      "endpointUrl": "https://artifactregistry.europe-central2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://artifactregistry.europe-north1.rep.googleapis.com/",
      "location": "europe-north1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://artifactregistry.europe-north2.rep.googleapis.com/",
      "location": "europe-north2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-southwest1",
      "endpointUrl": "https://artifactregistry.europe-southwest1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://artifactregistry.europe-west1.rep.googleapis.com/",
      "location": "europe-west1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://artifactregistry.europe-west10.rep.googleapis.com/",
      "location": "europe-west10",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west12",
      "endpointUrl": "https://artifactregistry.europe-west12.rep.googleapis.com/"
    },
    {
      "location": "europe-west2",
      "endpointUrl": "https://artifactregistry.europe-west2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west3",
      "endpointUrl": "https://artifactregistry.europe-west3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://artifactregistry.europe-west4.rep.googleapis.com/",
      "location": "europe-west4"
    },
    {
      "location": "europe-west6",
      "endpointUrl": "https://artifactregistry.europe-west6.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west8",
      "endpointUrl": "https://artifactregistry.europe-west8.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://artifactregistry.europe-west9.rep.googleapis.com/",
      "location": "europe-west9"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://artifactregistry.me-central1.rep.googleapis.com/",
      "location": "me-central1"
    },
    {
      "endpointUrl": "https://artifactregistry.me-west1.rep.googleapis.com/",
      "location": "me-west1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://artifactregistry.northamerica-northeast1.rep.googleapis.com/",
      "location": "northamerica-northeast1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://artifactregistry.northamerica-northeast2.rep.googleapis.com/",
      "location": "northamerica-northeast2"
    },
    {
      "endpointUrl": "https://artifactregistry.northamerica-south1.rep.googleapis.com/",
      "location": "northamerica-south1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "southamerica-east1",
      "endpointUrl": "https://artifactregistry.southamerica-east1.rep.googleapis.com/"
    },
    {
      "location": "southamerica-west1",
      "endpointUrl": "https://artifactregistry.southamerica-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-central1",
      "endpointUrl": "https://artifactregistry.us-central1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://artifactregistry.us-central2.rep.googleapis.com/",
      "location": "us-central2"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-east1",
      "endpointUrl": "https://artifactregistry.us-east1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://artifactregistry.us-east4.rep.googleapis.com/",
      "location": "us-east4",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://artifactregistry.us-east5.rep.googleapis.com/",
      "location": "us-east5"
    },
    {
      "location": "us-south1",
      "endpointUrl": "https://artifactregistry.us-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-west1",
      "endpointUrl": "https://artifactregistry.us-west1.rep.googleapis.com/"
    },
    {
      "location": "us-west2",
      "endpointUrl": "https://artifactregistry.us-west2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://artifactregistry.us-west3.rep.googleapis.com/",
      "location": "us-west3",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://artifactregistry.us-west4.rep.googleapis.com/",
      "location": "us-west4",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west8",
      "endpointUrl": "https://artifactregistry.us-west8.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://artifactregistry.me-central2.rep.googleapis.com/",
      "location": "me-central2"
    },
    {
      "endpointUrl": "https://artifactregistry.us-east7.rep.googleapis.com/",
      "location": "us-east7",
      "description": "Regional Endpoint"
    },
    {
      "location": "us",
      "endpointUrl": "https://artifactregistry.us.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://artifactregistry.eu.rep.googleapis.com/",
      "location": "eu",
      "description": "Regional Endpoint"
    }
  ],
  "documentationLink": "https://cloud.google.com/artifacts/docs/",
  "ownerDomain": "google.com",
  "baseUrl": "https://artifactregistry.googleapis.com/",
  "parameters": {
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "description": "Data format for response.",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    }
  },
  "version_module": true,
  "kind": "discovery#restDescription",
  "schemas": {
    "ListVersionsResponse": {
      "id": "ListVersionsResponse",
      "type": "object",
      "properties": {
        "versions": {
          "type": "array",
          "items": {
            "$ref": "Version"
          },
          "description": "The versions returned."
        },
        "nextPageToken": {
          "description": "The token to retrieve the next page of versions, or empty if there are no more versions to return.",
          "type": "string"
        }
      },
      "description": "The response from listing versions."
    },
    "AptRepository": {
      "description": "Configuration for an Apt remote repository.",
      "id": "AptRepository",
      "type": "object",
      "properties": {
        "publicRepository": {
          "description": "One of the publicly available Apt repositories supported by Artifact Registry.",
          "$ref": "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigAptRepositoryPublicRepository"
        },
        "customRepository": {
          "$ref": "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigAptRepositoryCustomRepository",
          "description": "Customer-specified remote repository."
        }
      }
    },
    "ListMavenArtifactsResponse": {
      "description": "The response from listing maven artifacts.",
      "id": "ListMavenArtifactsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The token to retrieve the next page of artifacts, or empty if there are no more artifacts to return.",
          "type": "string"
        },
        "mavenArtifacts": {
          "description": "The maven artifacts returned.",
          "items": {
            "$ref": "MavenArtifact"
          },
          "type": "array"
        }
      }
    },
    "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigAptRepositoryCustomRepository": {
      "description": "Customer-specified publicly available remote repository.",
      "id": "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigAptRepositoryCustomRepository",
      "type": "object",
      "properties": {
        "uri": {
          "description": "An http/https uri reference to the upstream remote repository, for ex: \"https://my.apt.registry/\".",
          "type": "string"
        }
      }
    },
    "ListTagsResponse": {
      "description": "The response from listing tags.",
      "id": "ListTagsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The token to retrieve the next page of tags, or empty if there are no more tags to return.",
          "type": "string"
        },
        "tags": {
          "type": "array",
          "items": {
            "$ref": "Tag"
          },
          "description": "The tags returned."
        }
      }
    },
    "UploadGoogetArtifactResponse": {
      "id": "UploadGoogetArtifactResponse",
      "type": "object",
      "properties": {
        "googetArtifacts": {
          "description": "The GooGet artifacts updated.",
          "items": {
            "$ref": "GoogetArtifact"
          },
          "type": "array"
        }
      },
      "description": "The response of the completed artifact upload operation. This response is contained in the Operation and available to users."
    },
    "UploadGoogetArtifactMetadata": {
      "id": "UploadGoogetArtifactMetadata",
      "type": "object",
      "properties": {},
      "description": "The operation metadata for uploading artifacts."
    },
    "ListPythonPackagesResponse": {
      "description": "The response from listing python packages.",
      "id": "ListPythonPackagesResponse",
      "type": "object",
      "properties": {
        "pythonPackages": {
          "items": {
            "$ref": "PythonPackage"
          },
          "type": "array",
          "description": "The python packages returned."
        },
        "nextPageToken": {
          "description": "The token to retrieve the next page of artifacts, or empty if there are no more artifacts to return.",
          "type": "string"
        }
      }
    },
    "ImportGoogetArtifactsResponse": {
      "description": "The response message from importing artifacts.",
      "id": "ImportGoogetArtifactsResponse",
      "type": "object",
      "properties": {
        "googetArtifacts": {
          "description": "The GooGet artifacts updated.",
          "items": {
            "$ref": "GoogetArtifact"
          },
          "type": "array"
        },
        "errors": {
          "description": "Detailed error info for packages that were not imported.",
          "type": "array",
          "items": {
            "$ref": "ImportGoogetArtifactsErrorInfo"
          }
        }
      }
    },
    "RemovePrewarmedArtifactRequest": {
      "description": "The request for removing an artifact from streaming.",
      "id": "RemovePrewarmedArtifactRequest",
      "type": "object",
      "properties": {
        "tag": {
          "description": "Optional. The artifact tag Format:projects/{project}/locations/{location}/repositories/{repository}/packages/{package}/tags/{tag}",
          "type": "string"
        },
        "streamLocation": {
          "description": "Optional. The location of the prewarmed artifact. multi-region is not supported for this field.",
          "type": "string"
        },
        "version": {
          "description": "Optional. The artifact version Format: projects/{project}/locations/{location}/repositories/{repository}/packages/{package}/versions/{version}",
          "type": "string"
        }
      }
    },
    "ExportArtifactResponse": {
      "id": "ExportArtifactResponse",
      "type": "object",
      "properties": {
        "exportedVersion": {
          "description": "The exported version. Should be the same as the request version with fingerprint resource name.",
          "$ref": "Version"
        }
      },
      "description": "The response for exporting an artifact to a destination."
    },
    "TestIamPermissionsRequest": {
      "id": "TestIamPermissionsRequest",
      "type": "object",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
        }
      },
      "description": "Request message for `TestIamPermissions` method."
    },
    "CommonRemoteRepository": {
      "id": "CommonRemoteRepository",
      "type": "object",
      "properties": {
        "uri": {
          "description": "Required. A common public repository base for remote repository.",
          "type": "string"
        }
      },
      "description": "Common remote repository settings type."
    },
    "VulnerabilityScanningConfig": {
      "id": "VulnerabilityScanningConfig",
      "type": "object",
      "properties": {
        "enablementState": {
          "enumDescriptions": [
            "Enablement state is unclear.",
            "Repository does not support vulnerability scanning.",
            "Vulnerability scanning is disabled for this repository.",
            "Vulnerability scanning is active for this repository."
          ],
          "type": "string",
          "description": "Output only. State of feature enablement, combining repository enablement config and API enablement state.",
          "readOnly": true,
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "SCANNING_UNSUPPORTED",
            "SCANNING_DISABLED",
            "SCANNING_ACTIVE"
          ]
        },
        "enablementConfig": {
          "description": "Optional. Config for whether this repository has vulnerability scanning disabled.",
          "enumDescriptions": [
            "Not set. This will be treated as INHERITED for Docker repositories and DISABLED for non-Docker repositories.",
            "Scanning is Enabled, but dependent on API enablement.",
            "No automatic vulnerability scanning will be performed for this repository."
          ],
          "type": "string",
          "enum": [
            "ENABLEMENT_CONFIG_UNSPECIFIED",
            "INHERITED",
            "DISABLED"
          ]
        },
        "lastEnableTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The last time this repository config was enabled."
        },
        "enablementStateReason": {
          "description": "Output only. Reason for the repository state.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Config on whether to perform vulnerability scanning for resources in this repository, as well as output fields describing current state."
    },
    "Policy": {
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "id": "Policy",
      "type": "object",
      "properties": {
        "bindings": {
          "type": "array",
          "items": {
            "$ref": "Binding"
          },
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
        },
        "etag": {
          "type": "string",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "format": "byte"
        },
        "version": {
          "type": "integer",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32"
        }
      }
    },
    "ImportGoogetArtifactsGcsSource": {
      "description": "Google Cloud Storage location where the artifacts currently reside.",
      "id": "ImportGoogetArtifactsGcsSource",
      "type": "object",
      "properties": {
        "useWildcards": {
          "description": "Supports URI wildcards for matching multiple objects from a single URI.",
          "type": "boolean"
        },
        "uris": {
          "description": "Cloud Storage paths URI (e.g., `gs://my_bucket/my_object`).",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "DockerImage": {
      "id": "DockerImage",
      "type": "object",
      "properties": {
        "artifactType": {
          "description": "ArtifactType of this image, e.g. \"application/vnd.example+type\". If the `subject_digest` is set and no `artifact_type` is given, the `media_type` will be considered as the `artifact_type`. This field is returned as the `metadata.artifactType` field in the Version resource.",
          "type": "string"
        },
        "imageManifests": {
          "description": "Optional. For multi-arch images (manifest lists), this field contains the list of image manifests.",
          "items": {
            "$ref": "ImageManifest"
          },
          "type": "array"
        },
        "uri": {
          "description": "Required. URL to access the image. Example: us-west4-docker.pkg.dev/test-project/test-repo/nginx@sha256:e9954c1fc875017be1c3e36eca16be2d9e9bccc4bf072163515467d6a823c7cf",
          "type": "string"
        },
        "buildTime": {
          "type": "string",
          "description": "The time this image was built. This field is returned as the 'metadata.buildTime' field in the Version resource. The build time is returned to the client as an RFC 3339 string, which can be easily used with the JavaScript Date constructor.",
          "format": "google-datetime"
        },
        "uploadTime": {
          "format": "google-datetime",
          "description": "Time the image was uploaded.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The time when the docker image was last updated.",
          "readOnly": true,
          "type": "string"
        },
        "mediaType": {
          "description": "Media type of this image, e.g. \"application/vnd.docker.distribution.manifest.v2+json\". This field is returned as the 'metadata.mediaType' field in the Version resource.",
          "type": "string"
        },
        "name": {
          "description": "Required. registry_location, project_id, repository_name and image id forms a unique image name:`projects//locations//repositories//dockerImages/`. For example, \"projects/test-project/locations/us-west4/repositories/test-repo/dockerImages/ nginx@sha256:e9954c1fc875017be1c3e36eca16be2d9e9bccc4bf072163515467d6a823c7cf\", where \"us-west4\" is the registry_location, \"test-project\" is the project_id, \"test-repo\" is the repository_name and \"nginx@sha256:e9954c1fc875017be1c3e36eca16be2d9e9bccc4bf072163515467d6a823c7cf\" is the image's digest.",
          "type": "string"
        },
        "imageSizeBytes": {
          "type": "string",
          "description": "Calculated size of the image. This field is returned as the 'metadata.imageSizeBytes' field in the Version resource.",
          "format": "int64"
        },
        "tags": {
          "description": "Tags attached to this image.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "DockerImage represents a docker artifact. The following fields are returned as untyped metadata in the Version resource, using camelcase keys (i.e. metadata.imageSizeBytes): * imageSizeBytes * mediaType * buildTime"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "type": "object",
      "properties": {}
    },
    "UploadGenericArtifactMediaResponse": {
      "id": "UploadGenericArtifactMediaResponse",
      "type": "object",
      "properties": {
        "operation": {
          "$ref": "Operation",
          "description": "Operation that will be returned to the user."
        }
      },
      "description": "The response to upload a generic artifact."
    },
    "ImportYumArtifactsMetadata": {
      "id": "ImportYumArtifactsMetadata",
      "type": "object",
      "properties": {},
      "description": "The operation metadata for importing artifacts."
    },
    "ProjectConfig": {
      "description": "The Artifact Registry logging configurations that apply to a Project.",
      "id": "ProjectConfig",
      "type": "object",
      "properties": {
        "platformLogsConfig": {
          "description": "Optional. Configuration for platform logs.",
          "$ref": "PlatformLogsConfig"
        },
        "name": {
          "description": "Identifier. The name of the project's configuration. Always of the form: projects/{project}/locations/{location}/projectConfig",
          "type": "string"
        }
      }
    },
    "Repository": {
      "id": "Repository",
      "type": "object",
      "properties": {
        "dockerConfig": {
          "$ref": "DockerRepositoryConfig",
          "description": "Docker repository config contains repository level configuration for the repositories of docker type."
        },
        "labels": {
          "type": "object",
          "description": "Labels with user-defined metadata. This field may contain up to 64 entries. Label keys and values may be no longer than 63 characters. Label keys must begin with a lowercase letter and may only contain lowercase letters, numeric characters, underscores, and dashes.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "mode": {
          "description": "Optional. The mode of the repository.",
          "enumDescriptions": [
            "Unspecified mode.",
            "A standard repository storing artifacts.",
            "A virtual repository to serve artifacts from one or more sources.",
            "A remote repository to serve artifacts from a remote source.",
            "An AOSS repository provides artifacts from AOSS upstreams.",
            "Replacement of AOSS_REPOSITORY."
          ],
          "type": "string",
          "enum": [
            "MODE_UNSPECIFIED",
            "STANDARD_REPOSITORY",
            "VIRTUAL_REPOSITORY",
            "REMOTE_REPOSITORY",
            "AOSS_REPOSITORY",
            "ASSURED_OSS_REPOSITORY"
          ]
        },
        "remoteRepositoryConfig": {
          "$ref": "RemoteRepositoryConfig",
          "description": "Configuration specific for a Remote Repository."
        },
        "mavenConfig": {
          "description": "Maven repository config contains repository level configuration for the repositories of maven type.",
          "$ref": "MavenRepositoryConfig"
        },
        "name": {
          "description": "The name of the repository, for example: `projects/p1/locations/us-central1/repositories/repo1`. For each location in a project, repository names must be unique.",
          "type": "string"
        },
        "vulnerabilityScanningConfig": {
          "$ref": "VulnerabilityScanningConfig",
          "description": "Optional. Config and state for vulnerability scanning of resources within this Repository."
        },
        "virtualRepositoryConfig": {
          "description": "Configuration specific for a Virtual Repository.",
          "$ref": "VirtualRepositoryConfig"
        },
        "satisfiesPzi": {
          "description": "Output only. Whether or not this repository satisfies PZI.",
          "readOnly": true,
          "type": "boolean"
        },
        "registryUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The repository endpoint, for example: `us-docker.pkg.dev/my-proj/my-repo`."
        },
        "sizeBytes": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. The size, in bytes, of all artifact storage in this repository. Repositories that are generally available or in public preview use this to calculate storage costs."
        },
        "satisfiesPzs": {
          "description": "Output only. Whether or not this repository satisfies PZS.",
          "type": "boolean",
          "readOnly": true
        },
        "platformLogsConfig": {
          "description": "Optional. Configuration for platform logs.",
          "$ref": "PlatformLogsConfig"
        },
        "disallowUnspecifiedMode": {
          "description": "Optional. If this is true, an unspecified repo type will be treated as error rather than defaulting to standard.",
          "type": "boolean"
        },
        "cleanupPolicies": {
          "description": "Optional. Cleanup policies for this repository. Cleanup policies indicate when certain package versions can be automatically deleted. Map keys are policy IDs supplied by users during policy creation. They must unique within a repository and be under 128 characters in length.",
          "additionalProperties": {
            "$ref": "CleanupPolicy"
          },
          "type": "object"
        },
        "cleanupPolicyDryRun": {
          "description": "Optional. If true, the cleanup pipeline is prevented from deleting versions in this repository.",
          "type": "boolean"
        },
        "kmsKeyName": {
          "description": "The Cloud KMS resource name of the customer managed encryption key that's used to encrypt the contents of the Repository. Has the form: `projects/my-project/locations/my-region/keyRings/my-kr/cryptoKeys/my-key`. This value may not be changed after the Repository has been created.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time when the repository was created.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The time when the repository was last updated.",
          "readOnly": true,
          "type": "string"
        },
        "format": {
          "description": "Optional. The format of packages that are stored in the repository.",
          "type": "string",
          "enum": [
            "FORMAT_UNSPECIFIED",
            "DOCKER",
            "MAVEN",
            "NPM",
            "APT",
            "YUM",
            "GOOGET",
            "PYTHON",
            "KFP",
            "GO",
            "GENERIC",
            "RUBY"
          ],
          "enumDescriptions": [
            "Unspecified package format.",
            "Docker package format.",
            "Maven package format.",
            "NPM package format.",
            "APT package format.",
            "YUM package format.",
            "GooGet package format.",
            "Python package format.",
            "Kubeflow Pipelines package format.",
            "Go package format.",
            "Generic package format.",
            "Ruby package format."
          ]
        },
        "description": {
          "description": "The user-provided description of the repository.",
          "type": "string"
        }
      },
      "description": "A Repository for storing artifacts with a specific format."
    },
    "ProjectSettings": {
      "id": "ProjectSettings",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the project's settings. Always of the form: projects/{project-id}/projectSettings In update request: never set In response: always set",
          "type": "string"
        },
        "legacyRedirectionState": {
          "type": "string",
          "enumDescriptions": [
            "No redirection status has been set.",
            "Redirection is disabled.",
            "Redirection is enabled.",
            "Redirection is enabled, and has been finalized so cannot be reverted.",
            "Redirection is enabled and missing images are copied from GCR",
            "Redirection is partially enabled and missing images are copied from GCR"
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            false,
            false
          ],
          "description": "The redirection state of the legacy repositories in this project.",
          "enum": [
            "REDIRECTION_STATE_UNSPECIFIED",
            "REDIRECTION_FROM_GCR_IO_DISABLED",
            "REDIRECTION_FROM_GCR_IO_ENABLED",
            "REDIRECTION_FROM_GCR_IO_FINALIZED",
            "REDIRECTION_FROM_GCR_IO_ENABLED_AND_COPYING",
            "REDIRECTION_FROM_GCR_IO_PARTIAL_AND_COPYING"
          ]
        },
        "pullPercent": {
          "format": "int32",
          "description": "The percentage of pull traffic to redirect from GCR to AR when using partial redirection.",
          "type": "integer"
        }
      },
      "description": "The Artifact Registry settings that apply to a Project."
    },
    "UploadFileRequest": {
      "description": "The request to upload a file.",
      "id": "UploadFileRequest",
      "type": "object",
      "properties": {
        "fileId": {
          "description": "Optional. The ID of the file. If left empty will default to sha256 digest of the content uploaded.",
          "type": "string"
        }
      }
    },
    "PrewarmArtifactRequest": {
      "description": "The request for prewarming an artifact for streaming.",
      "id": "PrewarmArtifactRequest",
      "type": "object",
      "properties": {
        "retentionDays": {
          "format": "int64",
          "description": "Optional. The retention days of the prewarmed artifact. If not specified, the artifact will be cached for 3 days.",
          "type": "string"
        },
        "tag": {
          "description": "Optional. The artifact tag Format:projects/{project}/locations/{location}/repositories/{repository}/packages/{package}/tags/{tag}",
          "type": "string"
        },
        "version": {
          "description": "Optional. The artifact version Format: projects/{project}/locations/{location}/repositories/{repository}/packages/{package}/versions/{version}",
          "type": "string"
        },
        "force": {
          "description": "Optional. If true, old artifact will be evicted to make room for the new artifact.",
          "type": "boolean"
        },
        "streamLocation": {
          "description": "Optional. The location to cache the artifact in. If not specified, the artifact will be cached in the same location as the artifact. multi-region is not supported for this field.",
          "type": "string"
        },
        "platform": {
          "$ref": "PrewarmPlatform",
          "description": "Optional. The platform (architecture and OS) of the image or tag."
        }
      }
    },
    "UploadAptArtifactRequest": {
      "description": "The request to upload an artifact.",
      "id": "UploadAptArtifactRequest",
      "type": "object",
      "properties": {}
    },
    "CheckPrewarmedArtifactRequest": {
      "id": "CheckPrewarmedArtifactRequest",
      "type": "object",
      "properties": {
        "streamLocation": {
          "description": "Optional. The location of the prewarmed artifact. multi-region is not supported for this field.",
          "type": "string"
        },
        "version": {
          "description": "Optional. The artifact version Format: projects/{project}/locations/{location}/repositories/{repository}/packages/{package}/versions/{version}",
          "type": "string"
        },
        "tag": {
          "description": "Optional. The artifact tag Format:projects/{project}/locations/{location}/repositories/{repository}/packages/{package}/tags/{tag}",
          "type": "string"
        }
      },
      "description": "The request for checking an artifact for streaming."
    },
    "UpstreamPolicy": {
      "id": "UpstreamPolicy",
      "type": "object",
      "properties": {
        "id": {
          "description": "The user-provided ID of the upstream policy.",
          "type": "string"
        },
        "repository": {
          "description": "A reference to the repository resource, for example: `projects/p1/locations/us-central1/repositories/repo1`.",
          "type": "string"
        },
        "priority": {
          "format": "int32",
          "description": "Entries with a greater priority value take precedence in the pull order.",
          "type": "integer"
        }
      },
      "description": "Artifact policy configuration for the repository contents."
    },
    "UploadGoogetArtifactMediaResponse": {
      "id": "UploadGoogetArtifactMediaResponse",
      "type": "object",
      "properties": {
        "operation": {
          "description": "Operation to be returned to the user.",
          "$ref": "Operation"
        }
      },
      "description": "The response to upload an artifact."
    },
    "UploadYumArtifactResponse": {
      "description": "The response of the completed artifact upload operation. This response is contained in the Operation and available to users.",
      "id": "UploadYumArtifactResponse",
      "type": "object",
      "properties": {
        "yumArtifacts": {
          "description": "The Yum artifacts updated.",
          "type": "array",
          "items": {
            "$ref": "YumArtifact"
          }
        }
      }
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      }
    },
    "GoogleDevtoolsArtifactregistryV1Rule": {
      "description": "A rule defines the deny or allow action of the operation it applies to and the conditions required for the rule to apply. You can set one rule for an entire repository and one rule for each package within.",
      "id": "GoogleDevtoolsArtifactregistryV1Rule",
      "type": "object",
      "properties": {
        "action": {
          "enumDescriptions": [
            "Action not specified.",
            "Allow the operation.",
            "Deny the operation."
          ],
          "type": "string",
          "enum": [
            "ACTION_UNSPECIFIED",
            "ALLOW",
            "DENY"
          ],
          "description": "The action this rule takes."
        },
        "condition": {
          "description": "Optional. A CEL expression for conditions that must be met in order for the rule to apply. If not provided, the rule matches all objects.",
          "$ref": "Expr"
        },
        "name": {
          "description": "The name of the rule, for example: `projects/p1/locations/us-central1/repositories/repo1/rules/rule1`.",
          "type": "string"
        },
        "operation": {
          "type": "string",
          "enum": [
            "OPERATION_UNSPECIFIED",
            "DOWNLOAD"
          ],
          "enumDescriptions": [
            "Operation not specified.",
            "Download operation."
          ]
        },
        "packageId": {
          "description": "The package ID the rule applies to. If empty, this rule applies to all packages inside the repository.",
          "type": "string"
        }
      }
    },
    "BatchDeleteVersionsMetadata": {
      "description": "The metadata of an LRO from deleting multiple versions.",
      "id": "BatchDeleteVersionsMetadata",
      "type": "object",
      "properties": {
        "failedVersions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The versions the operation failed to delete."
        }
      }
    },
    "GenericArtifact": {
      "id": "GenericArtifact",
      "type": "object",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time when the Generic module is created.",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The time when the Generic module is updated.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Resource name of the generic artifact. project, location, repository, package_id and version_id create a unique generic artifact. i.e. \"projects/test-project/locations/us-west4/repositories/test-repo/ genericArtifacts/package_id:version_id\"",
          "type": "string"
        },
        "version": {
          "description": "The version of the generic artifact.",
          "type": "string"
        }
      },
      "description": "GenericArtifact represents a generic artifact"
    },
    "ListDockerImagesResponse": {
      "id": "ListDockerImagesResponse",
      "type": "object",
      "properties": {
        "dockerImages": {
          "description": "The docker images returned.",
          "type": "array",
          "items": {
            "$ref": "DockerImage"
          }
        },
        "nextPageToken": {
          "description": "The token to retrieve the next page of artifacts, or empty if there are no more artifacts to return.",
          "type": "string"
        }
      },
      "description": "The response from listing docker images."
    },
    "UploadGenericArtifactRequest": {
      "id": "UploadGenericArtifactRequest",
      "type": "object",
      "properties": {
        "packageId": {
          "description": "The ID of the package of the generic artifact. If the package does not exist, a new package will be created. The `package_id` should start and end with a letter or number, only contain letters, numbers, hyphens, underscores, and periods, and not exceed 256 characters.",
          "type": "string"
        },
        "filename": {
          "description": "The name of the file of the generic artifact to be uploaded. E.g. `example-file.zip` The filename is limited to letters, numbers, and url safe characters, i.e. [a-zA-Z0-9-_.~@].",
          "type": "string"
        },
        "versionId": {
          "description": "The ID of the version of the generic artifact. If the version does not exist, a new version will be created. The version_id must start and end with a letter or number, can only contain lowercase letters, numbers, the following characters [-.+~:], i.e.[a-z0-9-.+~:] and cannot exceed a total of 128 characters. Creating a version called `latest` is not allowed.",
          "type": "string"
        }
      },
      "description": "The request to upload a generic artifact. The created GenericArtifact will have the resource name {parent}/genericArtifacts/package_id:version_id. The created file will have the resource name {parent}/files/package_id:version_id:filename."
    },
    "UploadKfpArtifactMediaResponse": {
      "id": "UploadKfpArtifactMediaResponse",
      "type": "object",
      "properties": {
        "operation": {
          "$ref": "Operation",
          "description": "Operation that will be returned to the user."
        }
      },
      "description": "The response to upload an artifact."
    },
    "ImportAptArtifactsGcsSource": {
      "id": "ImportAptArtifactsGcsSource",
      "type": "object",
      "properties": {
        "uris": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Cloud Storage paths URI (e.g., gs://my_bucket//my_object)."
        },
        "useWildcards": {
          "description": "Supports URI wildcards for matching multiple objects from a single URI.",
          "type": "boolean"
        }
      },
      "description": "Google Cloud Storage location where the artifacts currently reside."
    },
    "ImageManifest": {
      "description": "Details of a single image manifest within a multi-arch image.",
      "id": "ImageManifest",
      "type": "object",
      "properties": {
        "architecture": {
          "description": "Optional. The CPU architecture of the image. Values are provided by the Docker client and are not validated by Artifact Registry. Example values include \"amd64\", \"arm64\", \"ppc64le\", \"s390x\", \"riscv64\", \"mips64le\", etc.",
          "type": "string"
        },
        "variant": {
          "description": "Optional. The variant of the CPU in the image, for example `v7` to specify ARMv7 when architecture is `arm`.",
          "type": "string"
        },
        "mediaType": {
          "description": "Optional. The media type of the manifest, e.g., \"application/vnd.docker.distribution.manifest.v2+json\"",
          "type": "string"
        },
        "digest": {
          "description": "Optional. The manifest digest, in the format \"sha256:\".",
          "type": "string"
        },
        "osVersion": {
          "description": "Optional. The OS version of the image, for example on Windows `10.0.14393.1066`.",
          "type": "string"
        },
        "os": {
          "description": "Optional. The operating system of the image. Values are provided by the Docker client and are not validated by Artifact Registry. Example values include \"linux\", \"windows\", \"darwin\", \"aix\", etc.",
          "type": "string"
        },
        "osFeatures": {
          "description": "Optional. The required OS features for the image, for example on Windows `win32k`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Tag": {
      "id": "Tag",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the tag, for example: \"projects/p1/locations/us-central1/repositories/repo1/packages/pkg1/tags/tag1\". If the package part contains slashes, the slashes are escaped. The tag part can only have characters in [a-zA-Z0-9\\-._~:@], anything else must be URL encoded.",
          "type": "string"
        },
        "version": {
          "description": "The name of the version the tag refers to, for example: `projects/p1/locations/us-central1/repositories/repo1/packages/pkg1/versions/sha256:5243811` If the package or version ID parts contain slashes, the slashes are escaped.",
          "type": "string"
        }
      },
      "description": "Tags point to a version and represent an alternative name that can be used to access the version."
    },
    "NpmRepository": {
      "id": "NpmRepository",
      "type": "object",
      "properties": {
        "customRepository": {
          "description": "Customer-specified remote repository.",
          "$ref": "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigNpmRepositoryCustomRepository"
        },
        "publicRepository": {
          "description": "One of the publicly available Npm repositories supported by Artifact Registry.",
          "enumDescriptions": [
            "Unspecified repository.",
            "npmjs."
          ],
          "type": "string",
          "enum": [
            "PUBLIC_REPOSITORY_UNSPECIFIED",
            "NPMJS"
          ]
        }
      },
      "description": "Configuration for a Npm remote repository."
    },
    "ListPackagesResponse": {
      "description": "The response from listing packages.",
      "id": "ListPackagesResponse",
      "type": "object",
      "properties": {
        "packages": {
          "description": "The packages returned.",
          "type": "array",
          "items": {
            "$ref": "Package"
          }
        },
        "nextPageToken": {
          "description": "The token to retrieve the next page of packages, or empty if there are no more packages to return.",
          "type": "string"
        }
      }
    },
    "VirtualRepositoryConfig": {
      "description": "Virtual repository configuration.",
      "id": "VirtualRepositoryConfig",
      "type": "object",
      "properties": {
        "upstreamPolicies": {
          "items": {
            "$ref": "UpstreamPolicy"
          },
          "type": "array",
          "description": "Policies that configure the upstream artifacts distributed by the Virtual Repository. Upstream policies cannot be set on a standard repository."
        }
      }
    },
    "TestIamPermissionsResponse": {
      "description": "Response message for `TestIamPermissions` method.",
      "id": "TestIamPermissionsResponse",
      "type": "object",
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "Location": {
      "id": "Location",
      "type": "object",
      "properties": {
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        }
      },
      "description": "A resource that represents a Google Cloud location."
    },
    "DockerRepository": {
      "id": "DockerRepository",
      "type": "object",
      "properties": {
        "customRepository": {
          "description": "Customer-specified remote repository.",
          "$ref": "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigDockerRepositoryCustomRepository"
        },
        "publicRepository": {
          "enumDescriptions": [
            "Unspecified repository.",
            "Docker Hub."
          ],
          "type": "string",
          "enum": [
            "PUBLIC_REPOSITORY_UNSPECIFIED",
            "DOCKER_HUB"
          ],
          "description": "One of the publicly available Docker repositories supported by Artifact Registry."
        }
      },
      "description": "Configuration for a Docker remote repository."
    },
    "UploadYumArtifactMetadata": {
      "description": "The operation metadata for uploading artifacts.",
      "id": "UploadYumArtifactMetadata",
      "type": "object",
      "properties": {}
    },
    "PythonPackage": {
      "id": "PythonPackage",
      "type": "object",
      "properties": {
        "packageName": {
          "description": "Package for the artifact.",
          "type": "string"
        },
        "name": {
          "description": "Required. registry_location, project_id, repository_name and python_package forms a unique package name:`projects//locations//repository//pythonPackages/`. For example, \"projects/test-project/locations/us-west4/repositories/test-repo/pythonPackages/ python_package:1.0.0\", where \"us-west4\" is the registry_location, \"test-project\" is the project_id, \"test-repo\" is the repository_name and python_package:1.0.0\" is the python package.",
          "type": "string"
        },
        "uri": {
          "description": "Required. URL to access the package. Example: us-west4-python.pkg.dev/test-project/test-repo/python_package/file-name-1.0.0.tar.gz",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time the package was created.",
          "format": "google-datetime"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. Time the package was updated.",
          "readOnly": true,
          "type": "string"
        },
        "version": {
          "description": "Version of this package.",
          "type": "string"
        }
      },
      "description": "PythonPackage represents a python artifact."
    },
    "ImportAptArtifactsErrorInfo": {
      "description": "Error information explaining why a package was not imported.",
      "id": "ImportAptArtifactsErrorInfo",
      "type": "object",
      "properties": {
        "gcsSource": {
          "description": "Google Cloud Storage location requested.",
          "$ref": "ImportAptArtifactsGcsSource"
        },
        "error": {
          "$ref": "Status",
          "description": "The detailed error status."
        }
      }
    },
    "ImportGoogetArtifactsRequest": {
      "id": "ImportGoogetArtifactsRequest",
      "type": "object",
      "properties": {
        "gcsSource": {
          "description": "Google Cloud Storage location where input content is located.",
          "$ref": "ImportGoogetArtifactsGcsSource"
        }
      },
      "description": "The request to import new googet artifacts."
    },
    "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigNpmRepositoryCustomRepository": {
      "description": "Customer-specified publicly available remote repository.",
      "id": "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigNpmRepositoryCustomRepository",
      "type": "object",
      "properties": {
        "uri": {
          "description": "An http/https uri reference to the upstream remote repository, for ex: \"https://my.npm.registry/\".",
          "type": "string"
        }
      }
    },
    "Package": {
      "description": "Packages are named collections of versions.",
      "id": "Package",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the package, for example: `projects/p1/locations/us-central1/repositories/repo1/packages/pkg1`. If the package ID part contains slashes, the slashes are escaped.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "The time when the package was created.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "The time when the package was last updated. This includes publishing a new version of the package.",
          "type": "string"
        },
        "annotations": {
          "description": "Optional. Client specified annotations.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "displayName": {
          "description": "The display name of the package.",
          "type": "string"
        }
      }
    },
    "NoCacheFetching": {
      "description": "The configuration for the no-cache fetching mode, which acts as a non-caching proxy.",
      "id": "NoCacheFetching",
      "type": "object",
      "properties": {}
    },
    "ExportArtifactMetadata": {
      "description": "The LRO metadata for exporting an artifact.",
      "id": "ExportArtifactMetadata",
      "type": "object",
      "properties": {
        "exportedFiles": {
          "items": {
            "$ref": "ExportedFile"
          },
          "type": "array",
          "description": "The exported artifact files."
        }
      }
    },
    "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigDockerRepositoryCustomRepository": {
      "id": "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigDockerRepositoryCustomRepository",
      "type": "object",
      "properties": {
        "uri": {
          "description": "An http/https uri reference to the custom remote repository, for ex: \"https://registry-1.docker.io\".",
          "type": "string"
        }
      },
      "description": "Customer-specified publicly available remote repository."
    },
    "UploadKfpArtifactRequest": {
      "id": "UploadKfpArtifactRequest",
      "type": "object",
      "properties": {
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Tags to be created with the version."
        },
        "description": {
          "description": "Description of the package version.",
          "type": "string"
        }
      },
      "description": "The request to upload an artifact."
    },
    "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigYumRepositoryCustomRepository": {
      "description": "Customer-specified publicly available remote repository.",
      "id": "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigYumRepositoryCustomRepository",
      "type": "object",
      "properties": {
        "uri": {
          "description": "An http/https uri reference to the upstream remote repository, for ex: \"https://my.yum.registry/\".",
          "type": "string"
        }
      }
    },
    "Version": {
      "description": "The body of a version resource. A version resource represents a collection of components, such as files and other data. This may correspond to a version in many package management schemes.",
      "id": "Version",
      "type": "object",
      "properties": {
        "createTime": {
          "type": "string",
          "description": "The time when the version was created.",
          "format": "google-datetime"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time when the version was last updated."
        },
        "annotations": {
          "description": "Optional. Client specified annotations.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "fingerprints": {
          "readOnly": true,
          "items": {
            "$ref": "Hash"
          },
          "type": "array",
          "description": "Output only. Immutable reference for the version, calculated based on the version's content. Currently we only support dirsum_sha256 hash algorithm. Additional hash algorithms may be added in the future."
        },
        "relatedTags": {
          "description": "Output only. A list of related tags. Will contain up to 100 tags that reference this version.",
          "items": {
            "$ref": "Tag"
          },
          "type": "array"
        },
        "name": {
          "description": "The name of the version, for example: `projects/p1/locations/us-central1/repositories/repo1/packages/pkg1/versions/art1`. If the package or version ID parts contain slashes, the slashes are escaped.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the version, as specified in its metadata.",
          "type": "string"
        },
        "metadata": {
          "description": "Output only. Repository-specific Metadata stored against this version. The fields returned are defined by the underlying repository-specific resource. Currently, the resources could be: DockerImage MavenArtifact",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "readOnly": true
        }
      }
    },
    "ListFilesResponse": {
      "id": "ListFilesResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The token to retrieve the next page of files, or empty if there are no more files to return.",
          "type": "string"
        },
        "files": {
          "type": "array",
          "items": {
            "$ref": "GoogleDevtoolsArtifactregistryV1File"
          },
          "description": "The files returned."
        }
      },
      "description": "The response from listing files."
    },
    "UploadFileMediaResponse": {
      "description": "The response to upload a generic artifact.",
      "id": "UploadFileMediaResponse",
      "type": "object",
      "properties": {
        "operation": {
          "$ref": "Operation",
          "description": "Operation that will be returned to the user."
        }
      }
    },
    "YumRepository": {
      "id": "YumRepository",
      "type": "object",
      "properties": {
        "customRepository": {
          "description": "Customer-specified remote repository.",
          "$ref": "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigYumRepositoryCustomRepository"
        },
        "publicRepository": {
          "$ref": "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigYumRepositoryPublicRepository",
          "description": "One of the publicly available Yum repositories supported by Artifact Registry."
        }
      },
      "description": "Configuration for a Yum remote repository."
    },
    "GoogetArtifact": {
      "id": "GoogetArtifact",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The Artifact Registry resource name of the artifact.",
          "readOnly": true,
          "type": "string"
        },
        "packageName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The GooGet package name of the artifact."
        },
        "architecture": {
          "description": "Output only. Operating system architecture of the artifact.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "A detailed representation of a GooGet artifact."
    },
    "UpstreamCredentials": {
      "id": "UpstreamCredentials",
      "type": "object",
      "properties": {
        "usernamePasswordCredentials": {
          "description": "Use username and password to access the remote repository.",
          "$ref": "UsernamePasswordCredentials"
        }
      },
      "description": "The credentials to access the remote repository."
    },
    "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigMavenRepositoryCustomRepository": {
      "description": "Customer-specified publicly available remote repository.",
      "id": "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigMavenRepositoryCustomRepository",
      "type": "object",
      "properties": {
        "uri": {
          "description": "An http/https uri reference to the upstream remote repository, for ex: \"https://my.maven.registry/\".",
          "type": "string"
        }
      }
    },
    "ImportGoogetArtifactsErrorInfo": {
      "description": "Error information explaining why a package was not imported.",
      "id": "ImportGoogetArtifactsErrorInfo",
      "type": "object",
      "properties": {
        "gcsSource": {
          "$ref": "ImportGoogetArtifactsGcsSource",
          "description": "Google Cloud Storage location requested."
        },
        "error": {
          "$ref": "Status",
          "description": "The detailed error status."
        }
      }
    },
    "ListRulesResponse": {
      "id": "ListRulesResponse",
      "type": "object",
      "properties": {
        "rules": {
          "description": "The rules returned.",
          "type": "array",
          "items": {
            "$ref": "GoogleDevtoolsArtifactregistryV1Rule"
          }
        },
        "nextPageToken": {
          "description": "The token to retrieve the next page of rules, or empty if there are no more rules to return.",
          "type": "string"
        }
      },
      "description": "The response from listing rules."
    },
    "CleanupPolicy": {
      "id": "CleanupPolicy",
      "type": "object",
      "properties": {
        "id": {
          "description": "The user-provided ID of the cleanup policy.",
          "type": "string"
        },
        "condition": {
          "description": "Policy condition for matching versions.",
          "$ref": "CleanupPolicyCondition"
        },
        "action": {
          "description": "Policy action.",
          "enumDescriptions": [
            "Action not specified.",
            "Delete action.",
            "Keep action."
          ],
          "type": "string",
          "enum": [
            "ACTION_UNSPECIFIED",
            "DELETE",
            "KEEP"
          ]
        },
        "mostRecentVersions": {
          "description": "Policy condition for retaining a minimum number of versions. May only be specified with a Keep action.",
          "$ref": "CleanupPolicyMostRecentVersions"
        }
      },
      "description": "Artifact policy configuration for repository cleanup policies."
    },
    "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigPythonRepositoryCustomRepository": {
      "description": "Customer-specified publicly available remote repository.",
      "id": "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigPythonRepositoryCustomRepository",
      "type": "object",
      "properties": {
        "uri": {
          "description": "An http/https uri reference to the upstream remote repository, for ex: \"https://my.python.registry/\".",
          "type": "string"
        }
      }
    },
    "Hash": {
      "id": "Hash",
      "type": "object",
      "properties": {
        "type": {
          "description": "The algorithm used to compute the hash value.",
          "enumDescriptions": [
            "Unspecified.",
            "SHA256 hash.",
            "MD5 hash.",
            "Dirsum SHA256 hash."
          ],
          "type": "string",
          "enum": [
            "HASH_TYPE_UNSPECIFIED",
            "SHA256",
            "MD5",
            "DIRSUM_SHA256"
          ]
        },
        "value": {
          "format": "byte",
          "description": "The hash value.",
          "type": "string"
        }
      },
      "description": "A hash of file content."
    },
    "BatchDeleteVersionsRequest": {
      "id": "BatchDeleteVersionsRequest",
      "type": "object",
      "properties": {
        "validateOnly": {
          "description": "If true, the request is performed without deleting data, following AIP-163.",
          "type": "boolean"
        },
        "names": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. The names of the versions to delete. The maximum number of versions deleted per batch is determined by the service and is dependent on the available resources in the region."
        }
      },
      "description": "The request to delete multiple versions across a repository."
    },
    "UploadGoModuleMetadata": {
      "id": "UploadGoModuleMetadata",
      "type": "object",
      "properties": {},
      "description": "The operation metadata for uploading go modules."
    },
    "ImportAptArtifactsRequest": {
      "id": "ImportAptArtifactsRequest",
      "type": "object",
      "properties": {
        "gcsSource": {
          "description": "Google Cloud Storage location where input content is located.",
          "$ref": "ImportAptArtifactsGcsSource"
        }
      },
      "description": "The request to import new apt artifacts."
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "id": "ListLocationsResponse",
      "type": "object",
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "PrewarmedArtifact": {
      "id": "PrewarmedArtifact",
      "type": "object",
      "properties": {
        "expirationTime": {
          "description": "The expiration time of the prewarmed artifact.",
          "format": "google-datetime",
          "type": "string"
        },
        "uri": {
          "description": "URL to access the image. Example: us-west4-docker.pkg.dev/test-project/test-repo/nginx@sha256:e9954c1fc875017be1c3e36eca16be2d9e9bccc4bf072163515467d6a823c7cf",
          "type": "string"
        },
        "location": {
          "description": "The location of the prewarmed artifact.",
          "type": "string"
        }
      },
      "description": "PrewarmedArtifact represents a streamed artifact. This is not a request message, so field_behavior annotations are not required."
    },
    "Expr": {
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "id": "Expr",
      "type": "object",
      "properties": {
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        }
      }
    },
    "UploadYumArtifactMediaResponse": {
      "id": "UploadYumArtifactMediaResponse",
      "type": "object",
      "properties": {
        "operation": {
          "description": "Operation to be returned to the user.",
          "$ref": "Operation"
        }
      },
      "description": "The response to upload an artifact."
    },
    "AptArtifact": {
      "id": "AptArtifact",
      "type": "object",
      "properties": {
        "packageName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The Apt package name of the artifact."
        },
        "architecture": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Operating system architecture of the artifact."
        },
        "controlFile": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Contents of the artifact's control metadata file.",
          "format": "byte"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The Artifact Registry resource name of the artifact."
        },
        "component": {
          "description": "Output only. Repository component of the artifact.",
          "type": "string",
          "readOnly": true
        },
        "packageType": {
          "enumDescriptions": [
            "Package type is not specified.",
            "Binary package.",
            "Source package."
          ],
          "type": "string",
          "description": "Output only. An artifact is a binary or source package.",
          "readOnly": true,
          "enum": [
            "PACKAGE_TYPE_UNSPECIFIED",
            "BINARY",
            "SOURCE"
          ]
        }
      },
      "description": "A detailed representation of an Apt artifact. Information in the record is derived from the archive's control file. See https://www.debian.org/doc/debian-policy/ch-controlfields.html"
    },
    "DockerRepositoryConfig": {
      "id": "DockerRepositoryConfig",
      "type": "object",
      "properties": {
        "immutableTags": {
          "description": "The repository which enabled this flag prevents all tags from being modified, moved or deleted. This does not prevent tags from being created.",
          "type": "boolean"
        }
      },
      "description": "DockerRepositoryConfig is docker related repository details. Provides additional configuration details for repositories of the docker format type."
    },
    "PlatformLogsConfig": {
      "description": "The platform logs config for a project or a repository.",
      "id": "PlatformLogsConfig",
      "type": "object",
      "properties": {
        "loggingState": {
          "enumDescriptions": [
            "Platform logs settings for the parent resource haven't been set. This is the default state or when the user clears the settings for the parent.",
            "Platform logs are enabled.",
            "Platform logs are disabled."
          ],
          "type": "string",
          "enum": [
            "LOGGING_STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED"
          ],
          "description": "Optional. The state of the platform logs: enabled or disabled."
        },
        "severityLevel": {
          "description": "Optional. The severity level for the logs. Logs will be generated if their severity level is >= than the value of the severity level mentioned here.",
          "enumDescriptions": [
            "No severity level specified, meaning everything is being logged.",
            "Debug or trace information.",
            "Routine information, such as ongoing status or performance.",
            "Normal but significant events, such as start up, shut down, or a configuration change.",
            "Warning events that might cause problems.",
            "Error events that are likely to cause problems.",
            "Critical events that cause more severe problems or outages.",
            "Alert events that require a person must take an action immediately.",
            "One or more systems are unusable."
          ],
          "type": "string",
          "enum": [
            "SEVERITY_LEVEL_UNSPECIFIED",
            "DEBUG",
            "INFO",
            "NOTICE",
            "WARNING",
            "ERROR",
            "CRITICAL",
            "ALERT",
            "EMERGENCY"
          ]
        }
      }
    },
    "ImportGoogetArtifactsMetadata": {
      "description": "The operation metadata for importing artifacts.",
      "id": "ImportGoogetArtifactsMetadata",
      "type": "object",
      "properties": {}
    },
    "UploadAptArtifactMetadata": {
      "description": "The operation metadata for uploading artifacts.",
      "id": "UploadAptArtifactMetadata",
      "type": "object",
      "properties": {}
    },
    "UploadKfpArtifactMetadata": {
      "description": "The operation metadata for uploading KFP artifacts.",
      "id": "UploadKfpArtifactMetadata",
      "type": "object",
      "properties": {}
    },
    "ImportYumArtifactsErrorInfo": {
      "description": "Error information explaining why a package was not imported.",
      "id": "ImportYumArtifactsErrorInfo",
      "type": "object",
      "properties": {
        "gcsSource": {
          "description": "Google Cloud Storage location requested.",
          "$ref": "ImportYumArtifactsGcsSource"
        },
        "error": {
          "$ref": "Status",
          "description": "The detailed error status."
        }
      }
    },
    "ImportYumArtifactsGcsSource": {
      "id": "ImportYumArtifactsGcsSource",
      "type": "object",
      "properties": {
        "useWildcards": {
          "description": "Supports URI wildcards for matching multiple objects from a single URI.",
          "type": "boolean"
        },
        "uris": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Cloud Storage paths URI (e.g., gs://my_bucket//my_object)."
        }
      },
      "description": "Google Cloud Storage location where the artifacts currently reside."
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "type": "object",
      "properties": {},
      "description": "The request message for Operations.CancelOperation."
    },
    "CleanupPolicyMostRecentVersions": {
      "id": "CleanupPolicyMostRecentVersions",
      "type": "object",
      "properties": {
        "packageNamePrefixes": {
          "description": "List of package name prefixes that will apply this rule.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "keepCount": {
          "type": "integer",
          "description": "Minimum number of versions to keep.",
          "format": "int32"
        }
      },
      "description": "CleanupPolicyMostRecentVersions is an alternate condition of a CleanupPolicy for retaining a minimum number of versions."
    },
    "ExportedFile": {
      "description": "The exported artifact file.",
      "id": "ExportedFile",
      "type": "object",
      "properties": {
        "gcsObjectPath": {
          "description": "Cloud Storage Object path of the exported file. Examples: `dst_bucket/file1`, `dst_bucket/sub_dir/file1`",
          "type": "string"
        },
        "hashes": {
          "items": {
            "$ref": "Hash"
          },
          "type": "array",
          "description": "The hashes of the file content."
        },
        "name": {
          "description": "Name of the exported artifact file. Format: `projects/p1/locations/us/repositories/repo1/files/file1`",
          "type": "string"
        }
      }
    },
    "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigAptRepositoryPublicRepository": {
      "description": "Publicly available Apt repositories constructed from a common repository base and a custom repository path.",
      "id": "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigAptRepositoryPublicRepository",
      "type": "object",
      "properties": {
        "repositoryBase": {
          "description": "A common public repository base for Apt.",
          "enumDescriptions": [
            "Unspecified repository base.",
            "Debian.",
            "Ubuntu LTS/Pro.",
            "Archived Debian."
          ],
          "type": "string",
          "enum": [
            "REPOSITORY_BASE_UNSPECIFIED",
            "DEBIAN",
            "UBUNTU",
            "DEBIAN_SNAPSHOT"
          ]
        },
        "repositoryPath": {
          "description": "A custom field to define a path to a specific repository from the base.",
          "type": "string"
        }
      }
    },
    "RemoteRepositoryConfig": {
      "id": "RemoteRepositoryConfig",
      "type": "object",
      "properties": {
        "mavenRepository": {
          "$ref": "MavenRepository",
          "description": "Specific settings for a Maven remote repository."
        },
        "dockerRepository": {
          "description": "Specific settings for a Docker remote repository.",
          "$ref": "DockerRepository"
        },
        "pythonRepository": {
          "$ref": "PythonRepository",
          "description": "Specific settings for a Python remote repository."
        },
        "yumRepository": {
          "description": "Specific settings for a Yum remote repository.",
          "$ref": "YumRepository"
        },
        "npmRepository": {
          "$ref": "NpmRepository",
          "description": "Specific settings for an Npm remote repository."
        },
        "upstreamCredentials": {
          "description": "Optional. The credentials used to access the remote repository.",
          "$ref": "UpstreamCredentials"
        },
        "disableUpstreamValidation": {
          "description": "Input only. A create/update remote repo option to avoid making a HEAD/GET request to validate a remote repo and any supplied upstream credentials.",
          "type": "boolean"
        },
        "noCache": {
          "$ref": "NoCacheFetching",
          "description": "The remote repository will act as a non-caching proxy."
        },
        "aptRepository": {
          "$ref": "AptRepository",
          "description": "Specific settings for an Apt remote repository."
        },
        "commonRepository": {
          "description": "Common remote repository settings. Used as the remote repository upstream URL.",
          "$ref": "CommonRemoteRepository"
        },
        "description": {
          "description": "The description of the remote source.",
          "type": "string"
        }
      },
      "description": "Remote repository configuration."
    },
    "CheckPrewarmedArtifactResponse": {
      "id": "CheckPrewarmedArtifactResponse",
      "type": "object",
      "properties": {
        "prewarmedArtifact": {
          "description": "The prewarmed artifact that was checked.",
          "$ref": "PrewarmedArtifact"
        }
      },
      "description": "The response for checking an artifact for streaming."
    },
    "ListRepositoriesResponse": {
      "description": "The response from listing repositories.",
      "id": "ListRepositoriesResponse",
      "type": "object",
      "properties": {
        "repositories": {
          "type": "array",
          "items": {
            "$ref": "Repository"
          },
          "description": "The repositories returned."
        },
        "nextPageToken": {
          "description": "The token to retrieve the next page of repositories, or empty if there are no more repositories to return.",
          "type": "string"
        }
      }
    },
    "GoModule": {
      "id": "GoModule",
      "type": "object",
      "properties": {
        "name": {
          "description": "The resource name of a Go module.",
          "type": "string"
        },
        "version": {
          "description": "The version of the Go module. Must be a valid canonical version as defined in https://go.dev/ref/mod#glos-canonical-version.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time when the Go module is created.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time when the Go module is updated."
        }
      },
      "description": "GoModule represents a Go module."
    },
    "RemovePrewarmedArtifactResponse": {
      "id": "RemovePrewarmedArtifactResponse",
      "type": "object",
      "properties": {
        "prewarmedArtifact": {
          "$ref": "PrewarmedArtifact",
          "description": "The prewarmed artifact that was removed."
        }
      },
      "description": "The response for removing an artifact from streaming."
    },
    "NpmPackage": {
      "description": "NpmPackage represents an npm artifact.",
      "id": "NpmPackage",
      "type": "object",
      "properties": {
        "version": {
          "description": "Version of this package.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time the package was created.",
          "format": "google-datetime"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time the package was updated."
        },
        "name": {
          "description": "Required. registry_location, project_id, repository_name and npm_package forms a unique package For example, \"projects/test-project/locations/us-west4/repositories/test-repo/npmPackages/ npm_test:1.0.0\", where \"us-west4\" is the registry_location, \"test-project\" is the project_id, \"test-repo\" is the repository_name and npm_test:1.0.0\" is the npm package.",
          "type": "string"
        },
        "packageName": {
          "description": "Package for the artifact.",
          "type": "string"
        },
        "tags": {
          "description": "Tags attached to this package.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "UsernamePasswordCredentials": {
      "id": "UsernamePasswordCredentials",
      "type": "object",
      "properties": {
        "username": {
          "description": "The username to access the remote repository.",
          "type": "string"
        },
        "passwordSecretVersion": {
          "description": "The Secret Manager key version that holds the password to access the remote repository. Must be in the format of `projects/{project}/secrets/{secret}/versions/{version}`.",
          "type": "string"
        }
      },
      "description": "Username and password credentials."
    },
    "ListPrewarmedArtifactsResponse": {
      "id": "ListPrewarmedArtifactsResponse",
      "type": "object",
      "properties": {
        "prewarmedArtifacts": {
          "type": "array",
          "items": {
            "$ref": "PrewarmedArtifact"
          },
          "description": "The prewarmed artifacts."
        },
        "nextPageToken": {
          "description": "The token to retrieve the next page of prewarmed artifacts, or empty if there are no more streamings to return.",
          "type": "string"
        }
      },
      "description": "The response for listing artifacts for streaming."
    },
    "DownloadFileResponse": {
      "id": "DownloadFileResponse",
      "type": "object",
      "properties": {},
      "description": "The response to download a file."
    },
    "UploadGenericArtifactMetadata": {
      "description": "The operation metadata for uploading generic artifacts.",
      "id": "UploadGenericArtifactMetadata",
      "type": "object",
      "properties": {}
    },
    "UploadAptArtifactMediaResponse": {
      "id": "UploadAptArtifactMediaResponse",
      "type": "object",
      "properties": {
        "operation": {
          "description": "Operation to be returned to the user.",
          "$ref": "Operation"
        }
      },
      "description": "The response to upload an artifact."
    },
    "UploadGoModuleMediaResponse": {
      "description": "The response to upload a Go module.",
      "id": "UploadGoModuleMediaResponse",
      "type": "object",
      "properties": {
        "operation": {
          "description": "Operation to be returned to the user.",
          "$ref": "Operation"
        }
      }
    },
    "ImportYumArtifactsResponse": {
      "description": "The response message from importing YUM artifacts.",
      "id": "ImportYumArtifactsResponse",
      "type": "object",
      "properties": {
        "yumArtifacts": {
          "items": {
            "$ref": "YumArtifact"
          },
          "type": "array",
          "description": "The yum artifacts imported."
        },
        "errors": {
          "items": {
            "$ref": "ImportYumArtifactsErrorInfo"
          },
          "type": "array",
          "description": "Detailed error info for packages that were not imported."
        }
      }
    },
    "YumArtifact": {
      "id": "YumArtifact",
      "type": "object",
      "properties": {
        "packageType": {
          "enumDescriptions": [
            "Package type is not specified.",
            "Binary package (.rpm).",
            "Source package (.srpm)."
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "PACKAGE_TYPE_UNSPECIFIED",
            "BINARY",
            "SOURCE"
          ],
          "description": "Output only. An artifact is a binary or source package."
        },
        "packageName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The yum package name of the artifact."
        },
        "architecture": {
          "description": "Output only. Operating system architecture of the artifact.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Output only. The Artifact Registry resource name of the artifact.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "A detailed representation of a Yum artifact."
    },
    "PythonRepository": {
      "id": "PythonRepository",
      "type": "object",
      "properties": {
        "publicRepository": {
          "type": "string",
          "enum": [
            "PUBLIC_REPOSITORY_UNSPECIFIED",
            "PYPI"
          ],
          "enumDescriptions": [
            "Unspecified repository.",
            "PyPI."
          ],
          "description": "One of the publicly available Python repositories supported by Artifact Registry."
        },
        "customRepository": {
          "$ref": "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigPythonRepositoryCustomRepository",
          "description": "Customer-specified remote repository."
        }
      },
      "description": "Configuration for a Python remote repository."
    },
    "CleanupPolicyCondition": {
      "description": "CleanupPolicyCondition is a set of conditions attached to a CleanupPolicy. If multiple entries are set, all must be satisfied for the condition to be satisfied.",
      "id": "CleanupPolicyCondition",
      "type": "object",
      "properties": {
        "tagState": {
          "enumDescriptions": [
            "Tag status not specified.",
            "Applies to tagged versions only.",
            "Applies to untagged versions only.",
            "Applies to all versions."
          ],
          "type": "string",
          "enum": [
            "TAG_STATE_UNSPECIFIED",
            "TAGGED",
            "UNTAGGED",
            "ANY"
          ],
          "description": "Match versions by tag status."
        },
        "versionNamePrefixes": {
          "description": "Match versions by version name prefix. Applied on any prefix match.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "tagPrefixes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Match versions by tag prefix. Applied on any prefix match."
        },
        "newerThan": {
          "type": "string",
          "description": "Match versions newer than a duration.",
          "format": "google-duration"
        },
        "packageNamePrefixes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Match versions by package prefix. Applied on any prefix match."
        },
        "olderThan": {
          "type": "string",
          "format": "google-duration",
          "description": "Match versions older than a duration."
        }
      }
    },
    "UploadGoModuleRequest": {
      "description": "The request to upload a Go module.",
      "id": "UploadGoModuleRequest",
      "type": "object",
      "properties": {}
    },
    "KfpArtifact": {
      "id": "KfpArtifact",
      "type": "object",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Resource name of the KFP artifact. Since users don't directly interact with this resource, the name will be derived from the associated version. For example, when version = \".../versions/sha256:abcdef...\", the name will be \".../kfpArtifacts/sha256:abcdef...\"."
        },
        "version": {
[...]
