{
  "rootUrl": "https://artifactregistry.googleapis.com/",
  "name": "artifactregistry",
  "description": "Store and manage build artifacts in a scalable and integrated service built on Google infrastructure.",
  "discoveryVersion": "v1",
  "id": "artifactregistry:v1",
  "ownerDomain": "google.com",
  "mtlsRootUrl": "https://artifactregistry.mtls.googleapis.com/",
  "kind": "discovery#restDescription",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "protocol": "rest",
  "basePath": "",
  "documentationLink": "https://cloud.google.com/artifacts/docs/",
  "resources": {
    "projects": {
      "methods": {
        "getProjectSettings": {
          "id": "artifactregistry.projects.getProjectSettings",
          "parameterOrder": [
            "name"
          ],
          "description": "Retrieves the Settings for the Project.",
          "parameters": {
            "name": {
              "type": "string",
              "location": "path",
              "pattern": "^projects/[^/]+/projectSettings$",
              "required": true,
              "description": "Required. The name of the projectSettings resource."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "path": "v1/{+name}",
          "httpMethod": "GET",
          "flatPath": "v1/projects/{projectsId}/projectSettings",
          "response": {
            "$ref": "ProjectSettings"
          }
        },
        "updateProjectSettings": {
          "parameters": {
            "name": {
              "pattern": "^projects/[^/]+/projectSettings$",
              "location": "path",
              "description": "The name of the project's settings. Always of the form: projects/{project-id}/projectSettings In update request: never set In response: always set",
              "required": true,
              "type": "string"
            },
            "updateMask": {
              "description": "Field mask to support partial updates.",
              "format": "google-fieldmask",
              "type": "string",
              "location": "query"
            }
          },
          "id": "artifactregistry.projects.updateProjectSettings",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Updates the Settings for the Project.",
          "path": "v1/{+name}",
          "request": {
            "$ref": "ProjectSettings"
          },
          "flatPath": "v1/projects/{projectsId}/projectSettings",
          "httpMethod": "PATCH",
          "response": {
            "$ref": "ProjectSettings"
          }
        }
      },
      "resources": {
        "locations": {
          "resources": {
            "operations": {
              "methods": {
                "get": {
                  "id": "artifactregistry.projects.locations.operations.get",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource."
                    }
                  },
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}"
                },
                "cancel": {
                  "id": "artifactregistry.projects.locations.operations.cancel",
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "The name of the operation resource to be cancelled.",
                      "location": "path"
                    }
                  },
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "path": "v1/{+name}:cancel"
                }
              }
            },
            "repositories": {
              "methods": {
                "setIamPolicy": {
                  "parameters": {
                    "resource": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                      "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "Policy"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+resource}:setIamPolicy",
                  "request": {
                    "$ref": "SetIamPolicyRequest"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}:setIamPolicy",
                  "description": "Updates the IAM policy for a given resource.",
                  "httpMethod": "POST",
                  "id": "artifactregistry.projects.locations.repositories.setIamPolicy",
                  "parameterOrder": [
                    "resource"
                  ]
                },
                "getIamPolicy": {
                  "id": "artifactregistry.projects.locations.repositories.getIamPolicy",
                  "parameters": {
                    "resource": {
                      "location": "path",
                      "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$"
                    },
                    "options.requestedPolicyVersion": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
                    }
                  },
                  "description": "Gets the IAM policy for a given resource.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}:getIamPolicy",
                  "parameterOrder": [
                    "resource"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Policy"
                  },
                  "path": "v1/{+resource}:getIamPolicy",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ]
                },
                "prewarmArtifact": {
                  "path": "v1/{+repository}:prewarmArtifact",
                  "parameters": {
                    "repository": {
                      "type": "string",
                      "description": "Required. The repository name, for example: `projects/p1/locations/us-central1/repositories/repo1`. If the package or version ID parts contain slashes, the slashes are escaped.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}:prewarmArtifact",
                  "request": {
                    "$ref": "PrewarmArtifactRequest"
                  },
                  "parameterOrder": [
                    "repository"
                  ],
                  "description": "Prewarms an artifact for streaming.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "id": "artifactregistry.projects.locations.repositories.prewarmArtifact",
                  "httpMethod": "POST"
                },
                "get": {
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "description": "Gets a repository.",
                  "id": "artifactregistry.projects.locations.repositories.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                      "description": "Required. The name of the repository to retrieve.",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "Repository"
                  }
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories",
                  "description": "Creates a repository. The returned Operation will finish once the repository has been created. Its response will be the created Repository.",
                  "request": {
                    "$ref": "Repository"
                  },
                  "path": "v1/{+parent}/repositories",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "artifactregistry.projects.locations.repositories.create",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The name of the parent resource where the repository will be created.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "repositoryId": {
                      "type": "string",
                      "description": "Required. The repository id to use for this repository.",
                      "location": "query"
                    }
                  }
                },
                "removePrewarmedArtifact": {
                  "id": "artifactregistry.projects.locations.repositories.removePrewarmedArtifact",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "description": "Removes an artifact from streaming.",
                  "response": {
                    "$ref": "RemovePrewarmedArtifactResponse"
                  },
                  "path": "v1/{+repository}:removePrewarmedArtifact",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}:removePrewarmedArtifact",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "repository"
                  ],
                  "parameters": {
                    "repository": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                      "required": true,
                      "description": "Required. The repository name, for example: `projects/p1/locations/us-central1/repositories/repo1`.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "RemovePrewarmedArtifactRequest"
                  }
                },
                "exportArtifact": {
                  "id": "artifactregistry.projects.locations.repositories.exportArtifact",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+repository}:exportArtifact",
                  "httpMethod": "POST",
                  "parameters": {
                    "repository": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The repository of the artifact to export. Format: projects/{project}/locations/{location}/repositories/{repository}",
                      "required": true
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}:exportArtifact",
                  "parameterOrder": [
                    "repository"
                  ],
                  "request": {
                    "$ref": "ExportArtifactRequest"
                  },
                  "description": "Exports an artifact to a Cloud Storage bucket.",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "testIamPermissions": {
                  "httpMethod": "POST",
                  "path": "v1/{+resource}:testIamPermissions",
                  "parameterOrder": [
                    "resource"
                  ],
                  "response": {
                    "$ref": "TestIamPermissionsResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}:testIamPermissions",
                  "id": "artifactregistry.projects.locations.repositories.testIamPermissions",
                  "description": "Tests if the caller has a list of permissions on a resource.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "request": {
                    "$ref": "TestIamPermissionsRequest"
                  },
                  "parameters": {
                    "resource": {
                      "type": "string",
                      "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$"
                    }
                  }
                },
                "checkPrewarmedArtifact": {
                  "id": "artifactregistry.projects.locations.repositories.checkPrewarmedArtifact",
                  "parameters": {
                    "repository": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The name of the repository, for example: `projects/p1/locations/us-central1/repositories/repo1`. If the package or version ID parts contain slashes, the slashes are escaped.",
                      "type": "string"
                    }
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "repository"
                  ],
                  "path": "v1/{+repository}:checkPrewarmedArtifact",
                  "request": {
                    "$ref": "CheckPrewarmedArtifactRequest"
                  },
                  "description": "Checks an artifact streaming.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}:checkPrewarmedArtifact",
                  "response": {
                    "$ref": "CheckPrewarmedArtifactResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ]
                },
                "patch": {
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                      "description": "The name of the repository, for example: `projects/p1/locations/us-central1/repositories/repo1`. For each location in a project, repository names must be unique."
                    },
                    "updateMask": {
                      "description": "The update mask applies to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask",
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "Repository"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}",
                  "description": "Updates a repository.",
                  "id": "artifactregistry.projects.locations.repositories.patch",
                  "response": {
                    "$ref": "Repository"
                  },
                  "httpMethod": "PATCH"
                },
                "delete": {
                  "id": "artifactregistry.projects.locations.repositories.delete",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "description": "Deletes a repository and all of its contents. The returned Operation will finish once the repository has been deleted. It will not have any Operation metadata and will return a google.protobuf.Empty response.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The name of the repository to delete.",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$"
                    }
                  }
                },
                "list": {
                  "response": {
                    "$ref": "ListRepositoriesResponse"
                  },
                  "id": "artifactregistry.projects.locations.repositories.list",
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists repositories.",
                  "parameters": {
                    "filter": {
                      "location": "query",
                      "description": "Optional. An expression for filtering the results of the request. Filter rules are case insensitive. The fields eligible for filtering are: * `name` Examples of using a filter: To filter the results of your request to repositories with the name `my-repo` in project `my-project` in the `us-central` region, append the following filter expression to your request: * `name=\"projects/my-project/locations/us-central1/repositories/my-repo\"` You can also use wildcards to match any number of characters before or after the value: * `name=\"projects/my-project/locations/us-central1/repositories/my-*\"` * `name=\"projects/my-project/locations/us-central1/repositories/*repo\"` * `name=\"projects/my-project/locations/us-central1/repositories/*repo*\"`",
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "The next_page_token value returned from a previous list request, if any.",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "The maximum number of repositories to return. Maximum page size is 1,000.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. The name of the parent resource whose repositories will be listed.",
                      "type": "string"
                    },
                    "orderBy": {
                      "description": "Optional. The field to order the results by.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+parent}/repositories"
                }
              },
              "resources": {
                "pythonPackages": {
                  "methods": {
                    "list": {
                      "response": {
                        "$ref": "ListPythonPackagesResponse"
                      },
                      "description": "Lists python packages.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/pythonPackages",
                      "id": "artifactregistry.projects.locations.repositories.pythonPackages.list",
                      "parameters": {
                        "pageSize": {
                          "format": "int32",
                          "type": "integer",
                          "description": "The maximum number of artifacts to return. Maximum page size is 1,000.",
                          "location": "query"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Required. The name of the parent resource whose python packages will be listed."
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "The next_page_token value returned from a previous list request, if any.",
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "path": "v1/{+parent}/pythonPackages",
                      "httpMethod": "GET"
                    },
                    "get": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/pythonPackages/{pythonPackagesId}",
                      "path": "v1/{+name}",
                      "id": "artifactregistry.projects.locations.repositories.pythonPackages.get",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "description": "Required. The name of the python package.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/pythonPackages/[^/]+$"
                        }
                      },
                      "response": {
                        "$ref": "PythonPackage"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET",
                      "description": "Gets a python package.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ]
                    }
                  }
                },
                "files": {
                  "methods": {
                    "get": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "httpMethod": "GET",
                      "id": "artifactregistry.projects.locations.repositories.files.get",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/files/{filesId}",
                      "path": "v1/{+name}",
                      "description": "Gets a file.",
                      "response": {
                        "$ref": "GoogleDevtoolsArtifactregistryV1File"
                      },
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/files/.*$",
                          "description": "Required. The name of the file to retrieve.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      }
                    },
                    "delete": {
                      "id": "artifactregistry.projects.locations.repositories.files.delete",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/files/{filesId}",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/files/[^/]+$",
                          "required": true,
                          "description": "Required. The name of the file to delete."
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Deletes a file and all of its content. It is only allowed on generic repositories. The returned operation will complete once the file has been deleted.",
                      "path": "v1/{+name}",
                      "httpMethod": "DELETE"
                    },
                    "download": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "response": {
                        "$ref": "DownloadFileResponse"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "supportsMediaDownload": true,
                      "useMediaDownloadService": true,
                      "httpMethod": "GET",
                      "path": "v1/{+name}:download",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/files/{filesId}:download",
                      "id": "artifactregistry.projects.locations.repositories.files.download",
                      "description": "Download a file.",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/files/[^/]+$",
                          "type": "string",
                          "description": "Required. The name of the file to download.",
                          "required": true,
                          "location": "path"
                        }
                      }
                    },
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/files",
                      "parameters": {
                        "pageToken": {
                          "description": "The next_page_token value returned from a previous list request, if any.",
                          "type": "string",
                          "location": "query"
                        },
                        "parent": {
                          "location": "path",
                          "description": "Required. The name of the repository whose files will be listed. For example: \"projects/p1/locations/us-central1/repositories/repo1",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                          "type": "string",
                          "required": true
                        },
                        "pageSize": {
                          "format": "int32",
                          "type": "integer",
                          "description": "The maximum number of files to return. Maximum page size is 1,000.",
                          "location": "query"
                        },
                        "orderBy": {
                          "type": "string",
                          "description": "The field to order the results by.",
                          "location": "query"
                        },
                        "filter": {
                          "location": "query",
                          "description": "An expression for filtering the results of the request. Filter rules are case insensitive. The fields eligible for filtering are: * `name` * `owner` * `annotations` Examples of using a filter: To filter the results of your request to files with the name `my_file.txt` in project `my-project` in the `us-central` region, in repository `my-repo`, append the following filter expression to your request: * `name=\"projects/my-project/locations/us-central1/repositories/my-repo/files/my-file.txt\"` You can also use wildcards to match any number of characters before or after the value: * `name=\"projects/my-project/locations/us-central1/repositories/my-repo/files/my-*\"` * `name=\"projects/my-project/locations/us-central1/repositories/my-repo/files/*file.txt\"` * `name=\"projects/my-project/locations/us-central1/repositories/my-repo/files/*file*\"` To filter the results of your request to files owned by the version `1.0` in package `pkg1`, append the following filter expression to your request: * `owner=\"projects/my-project/locations/us-central1/repositories/my-repo/packages/my-package/versions/1.0\"` To filter the results of your request to files with the annotation key-value pair [`external_link`: `external_link_value`], append the following filter expression to your request: * `\"annotations.external_link:external_link_value\"` To filter just for a specific annotation key `external_link`, append the following filter expression to your request: * `\"annotations.external_link\"` If the annotation key or value contains special characters, you can escape them by surrounding the value with backticks. For example, to filter the results of your request to files with the annotation key-value pair [`external.link`:`https://example.com/my-file`], append the following filter expression to your request: * `` \"annotations.`external.link`:`https://example.com/my-file`\" `` You can also filter with annotations with a wildcard to match any number of characters before or after the value: * `` \"annotations.*_link:`*example.com*`\" ``",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "ListFilesResponse"
                      },
                      "path": "v1/{+parent}/files",
                      "description": "Lists files.",
                      "httpMethod": "GET",
                      "id": "artifactregistry.projects.locations.repositories.files.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ]
                    },
                    "patch": {
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "artifactregistry.projects.locations.repositories.files.patch",
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/files/{filesId}",
                      "response": {
                        "$ref": "GoogleDevtoolsArtifactregistryV1File"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "PATCH",
                      "parameters": {
                        "updateMask": {
                          "location": "query",
                          "description": "Required. The update mask applies to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask",
                          "type": "string",
                          "format": "google-fieldmask"
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/files/[^/]+$",
                          "required": true,
                          "type": "string",
                          "description": "The name of the file, for example: `projects/p1/locations/us-central1/repositories/repo1/files/a%2Fb%2Fc.txt`. If the file ID part contains slashes, they are escaped.",
                          "location": "path"
                        }
                      },
                      "request": {
                        "$ref": "GoogleDevtoolsArtifactregistryV1File"
                      },
                      "description": "Updates a file."
                    },
                    "upload": {
                      "id": "artifactregistry.projects.locations.repositories.files.upload",
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "UploadFileRequest"
                      },
                      "mediaUpload": {
                        "protocols": {
                          "resumable": {
                            "multipart": true,
                            "path": "/resumable/upload/v1/{+parent}/files:upload"
                          },
                          "simple": {
                            "multipart": true,
                            "path": "/upload/v1/{+parent}/files:upload"
                          }
                        },
                        "accept": [
                          "*/*"
                        ]
                      },
                      "supportsMediaUpload": true,
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/files:upload",
                      "parameters": {
                        "parent": {
                          "description": "Required. The resource name of the repository where the file will be uploaded.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "response": {
                        "$ref": "UploadFileMediaResponse"
                      },
                      "description": "Directly uploads a file to a repository. The returned Operation will complete once the resources are uploaded.",
                      "path": "v1/{+parent}/files:upload"
                    }
                  }
                },
                "aptArtifacts": {
                  "methods": {
                    "import": {
                      "httpMethod": "POST",
                      "id": "artifactregistry.projects.locations.repositories.aptArtifacts.import",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Imports Apt artifacts. The returned Operation will complete once the resources are imported. Package, Version, and File resources are created based on the imported artifacts. Imported artifacts that conflict with existing resources are ignored.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/aptArtifacts:import",
                      "path": "v1/{+parent}/aptArtifacts:import",
                      "response": {
                        "$ref": "Operation"
                      },
                      "request": {
                        "$ref": "ImportAptArtifactsRequest"
                      },
                      "parameters": {
                        "parent": {
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                          "description": "The name of the parent resource where the artifacts will be imported.",
                          "location": "path"
                        }
                      }
                    },
                    "upload": {
                      "path": "v1/{+parent}/aptArtifacts:create",
                      "mediaUpload": {
                        "protocols": {
                          "simple": {
                            "multipart": true,
                            "path": "/upload/v1/{+parent}/aptArtifacts:create"
                          }
                        },
                        "accept": [
                          "*/*"
                        ]
                      },
                      "httpMethod": "POST",
                      "id": "artifactregistry.projects.locations.repositories.aptArtifacts.upload",
                      "request": {
                        "$ref": "UploadAptArtifactRequest"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "location": "path",
                          "description": "The name of the parent resource where the artifacts will be uploaded.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$"
                        }
                      },
                      "supportsMediaUpload": true,
                      "response": {
                        "$ref": "UploadAptArtifactMediaResponse"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/aptArtifacts:create",
                      "description": "Directly uploads an Apt artifact. The returned Operation will complete once the resources are uploaded. Package, Version, and File resources are created based on the imported artifact. Imported artifacts that conflict with existing resources are ignored.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                },
                "yumArtifacts": {
                  "methods": {
                    "import": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "ImportYumArtifactsRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "artifactregistry.projects.locations.repositories.yumArtifacts.import",
                      "parameters": {
                        "parent": {
                          "description": "The name of the parent resource where the artifacts will be imported.",
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$"
                        }
                      },
                      "description": "Imports Yum (RPM) artifacts. The returned Operation will complete once the resources are imported. Package, Version, and File resources are created based on the imported artifacts. Imported artifacts that conflict with existing resources are ignored.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/yumArtifacts:import",
                      "path": "v1/{+parent}/yumArtifacts:import",
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "Operation"
                      }
                    },
                    "upload": {
                      "httpMethod": "POST",
                      "path": "v1/{+parent}/yumArtifacts:create",
                      "mediaUpload": {
                        "accept": [
                          "*/*"
                        ],
                        "protocols": {
                          "simple": {
                            "multipart": true,
                            "path": "/upload/v1/{+parent}/yumArtifacts:create"
                          }
                        }
                      },
                      "request": {
                        "$ref": "UploadYumArtifactRequest"
                      },
                      "id": "artifactregistry.projects.locations.repositories.yumArtifacts.upload",
                      "description": "Directly uploads a Yum artifact. The returned Operation will complete once the resources are uploaded. Package, Version, and File resources are created based on the imported artifact. Imported artifacts that conflict with existing resources are ignored.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/yumArtifacts:create",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "UploadYumArtifactMediaResponse"
                      },
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "description": "The name of the parent resource where the artifacts will be uploaded.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                          "location": "path",
                          "required": true
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "supportsMediaUpload": true
                    }
                  }
                },
                "attachments": {
                  "methods": {
                    "delete": {
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/attachments/[^/]+$",
                          "required": true,
                          "description": "Required. The name of the attachment to delete.",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "id": "artifactregistry.projects.locations.repositories.attachments.delete",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/attachments/{attachmentsId}",
                      "path": "v1/{+name}",
                      "description": "Deletes an attachment. The returned Operation will finish once the attachments has been deleted. It will not have any Operation metadata and will return a `google.protobuf.Empty` response.",
                      "httpMethod": "DELETE",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "list": {
                      "path": "v1/{+parent}/attachments",
                      "response": {
                        "$ref": "ListAttachmentsResponse"
                      },
                      "parameters": {
                        "parent": {
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                          "description": "Required. The name of the parent resource whose attachments will be listed.",
                          "location": "path"
                        },
                        "pageToken": {
                          "description": "The next_page_token value returned from a previous list request, if any.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "location": "query",
                          "format": "int32",
                          "description": "The maximum number of attachments to return. Maximum page size is 1,000.",
                          "type": "integer"
                        },
                        "filter": {
                          "description": "Optional. An expression for filtering the results of the request. Filter rules are case insensitive. The fields eligible for filtering are: * `target` * `type` * `attachment_namespace`",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "id": "artifactregistry.projects.locations.repositories.attachments.list",
                      "description": "Lists attachments.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/attachments",
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ]
                    },
                    "create": {
                      "parameters": {
                        "attachmentId": {
                          "type": "string",
                          "location": "query",
                          "description": "Required. The attachment id to use for this attachment."
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "Required. The name of the parent resource where the attachment will be created."
                        }
                      },
                      "id": "artifactregistry.projects.locations.repositories.attachments.create",
                      "path": "v1/{+parent}/attachments",
                      "response": {
                        "$ref": "Operation"
                      },
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/attachments",
                      "request": {
                        "$ref": "Attachment"
                      },
                      "description": "Creates an attachment. The returned Operation will finish once the attachment has been created. Its response will be the created attachment."
                    },
                    "get": {
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "artifactregistry.projects.locations.repositories.attachments.get",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/attachments/{attachmentsId}",
                      "response": {
                        "$ref": "Attachment"
                      },
                      "description": "Gets an attachment.",
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the attachment to retrieve.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/attachments/[^/]+$",
                          "type": "string",
                          "required": true
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "httpMethod": "GET",
                      "path": "v1/{+name}"
                    }
                  }
                },
                "kfpArtifacts": {
                  "methods": {
                    "upload": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/kfpArtifacts:create",
                      "response": {
                        "$ref": "UploadKfpArtifactMediaResponse"
                      },
                      "description": "Directly uploads a KFP artifact. The returned Operation will complete once the resource is uploaded. Package, Version, and File resources will be created based on the uploaded artifact. Uploaded artifacts that conflict with existing resources will be overwritten.",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "The resource name of the repository where the KFP artifact will be uploaded."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "UploadKfpArtifactRequest"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "artifactregistry.projects.locations.repositories.kfpArtifacts.upload",
                      "httpMethod": "POST",
                      "supportsMediaUpload": true,
                      "path": "v1/{+parent}/kfpArtifacts:create",
                      "mediaUpload": {
                        "accept": [
                          "*/*"
                        ],
                        "protocols": {
                          "simple": {
                            "multipart": true,
                            "path": "/upload/v1/{+parent}/kfpArtifacts:create"
                          }
                        }
                      }
                    }
                  }
                },
                "genericArtifacts": {
                  "methods": {
                    "upload": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/genericArtifacts:create",
                      "httpMethod": "POST",
                      "path": "v1/{+parent}/genericArtifacts:create",
                      "mediaUpload": {
                        "protocols": {
                          "simple": {
                            "multipart": true,
                            "path": "/upload/v1/{+parent}/genericArtifacts:create"
                          },
                          "resumable": {
                            "multipart": true,
                            "path": "/resumable/upload/v1/{+parent}/genericArtifacts:create"
                          }
                        },
                        "accept": [
                          "*/*"
                        ]
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "supportsMediaUpload": true,
                      "request": {
                        "$ref": "UploadGenericArtifactRequest"
                      },
                      "response": {
                        "$ref": "UploadGenericArtifactMediaResponse"
                      },
                      "id": "artifactregistry.projects.locations.repositories.genericArtifacts.upload",
                      "description": "Directly uploads a Generic artifact. The returned operation will complete once the resources are uploaded. Package, version, and file resources are created based on the uploaded artifact. Uploaded artifacts that conflict with existing resources will raise an `ALREADY_EXISTS` error.",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                          "description": "The resource name of the repository where the generic artifact will be uploaded.",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ]
                    }
                  }
                },
                "mavenArtifacts": {
                  "methods": {
                    "get": {
                      "description": "Gets a maven artifact.",
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the maven artifact.",
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/mavenArtifacts/[^/]+$",
                          "required": true
                        }
                      },
                      "id": "artifactregistry.projects.locations.repositories.mavenArtifacts.get",
                      "path": "v1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/mavenArtifacts/{mavenArtifactsId}",
                      "response": {
                        "$ref": "MavenArtifact"
                      },
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ]
                    },
                    "list": {
                      "id": "artifactregistry.projects.locations.repositories.mavenArtifacts.list",
                      "parameters": {
                        "pageSize": {
                          "type": "integer",
                          "location": "query",
                          "description": "The maximum number of artifacts to return. Maximum page size is 1,000.",
                          "format": "int32"
                        },
                        "pageToken": {
                          "description": "The next_page_token value returned from a previous list request, if any.",
                          "type": "string",
                          "location": "query"
                        },
                        "parent": {
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                          "type": "string",
                          "description": "Required. The name of the parent resource whose maven artifacts will be listed."
                        }
                      },
                      "description": "Lists maven artifacts.",
                      "path": "v1/{+parent}/mavenArtifacts",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/mavenArtifacts",
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "ListMavenArtifactsResponse"
                      }
                    }
                  }
                },
                "dockerImages": {
                  "methods": {
                    "list": {
                      "response": {
                        "$ref": "ListDockerImagesResponse"
                      },
                      "httpMethod": "GET",
                      "description": "Lists docker images.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/dockerImages",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "orderBy": {
                          "type": "string",
                          "location": "query",
                          "description": "The field to order the results by."
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "The next_page_token value returned from a previous list request, if any."
                        },
                        "parent": {
                          "type": "string",
                          "required": true,
                          "description": "Required. The name of the parent resource whose docker images will be listed.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$"
                        },
                        "pageSize": {
                          "format": "int32",
                          "type": "integer",
                          "description": "The maximum number of artifacts to return. Maximum page size is 1,000.",
                          "location": "query"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "id": "artifactregistry.projects.locations.repositories.dockerImages.list",
                      "path": "v1/{+parent}/dockerImages"
                    },
                    "get": {
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/dockerImages/[^/]+$",
                          "description": "Required. The name of the docker images.",
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "path": "v1/{+name}",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "DockerImage"
                      },
                      "id": "artifactregistry.projects.locations.repositories.dockerImages.get",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/dockerImages/{dockerImagesId}",
                      "description": "Gets a docker image.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ]
                    }
                  }
                },
                "googetArtifacts": {
                  "methods": {
                    "import": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Imports GooGet artifacts. The returned Operation will complete once the resources are imported. Package, Version, and File resources are created based on the imported artifacts. Imported artifacts that conflict with existing resources are ignored.",
                      "httpMethod": "POST",
                      "path": "v1/{+parent}/googetArtifacts:import",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "The name of the parent resource where the artifacts will be imported."
                        }
                      },
                      "request": {
                        "$ref": "ImportGoogetArtifactsRequest"
                      },
                      "id": "artifactregistry.projects.locations.repositories.googetArtifacts.import",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/googetArtifacts:import"
                    },
                    "upload": {
                      "id": "artifactregistry.projects.locations.repositories.googetArtifacts.upload",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/googetArtifacts:create",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                          "required": true,
                          "location": "path",
                          "description": "The name of the parent resource where the artifacts will be uploaded."
                        }
                      },
                      "mediaUpload": {
                        "protocols": {
                          "simple": {
                            "path": "/upload/v1/{+parent}/googetArtifacts:create",
                            "multipart": true
                          }
                        },
                        "accept": [
                          "*/*"
                        ]
                      },
                      "response": {
                        "$ref": "UploadGoogetArtifactMediaResponse"
                      },
                      "path": "v1/{+parent}/googetArtifacts:create",
                      "supportsMediaUpload": true,
                      "request": {
                        "$ref": "UploadGoogetArtifactRequest"
                      },
                      "description": "Directly uploads a GooGet artifact. The returned Operation will complete once the resources are uploaded. Package, Version, and File resources are created based on the imported artifact. Imported artifacts that conflict with existing resources are ignored.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                },
                "rules": {
                  "methods": {
                    "delete": {
                      "path": "v1/{+name}",
                      "response": {
                        "$ref": "Empty"
                      },
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the rule to delete.",
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/rules/[^/]+$"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/rules/{rulesId}",
                      "httpMethod": "DELETE",
                      "id": "artifactregistry.projects.locations.repositories.rules.delete",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Deletes a rule."
                    },
                    "list": {
                      "description": "Lists rules.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "ListRulesResponse"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/rules",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "required": true,
                          "description": "Required. The name of the parent repository whose rules will be listed. For example: `projects/p1/locations/us-central1/repositories/repo1`.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$"
                        },
                        "pageSize": {
                          "description": "The maximum number of rules to return. Maximum page size is 1,000.",
                          "type": "integer",
                          "location": "query",
                          "format": "int32"
                        },
                        "pageToken": {
                          "description": "The next_page_token value returned from a previous list request, if any.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "httpMethod": "GET",
                      "path": "v1/{+parent}/rules",
                      "id": "artifactregistry.projects.locations.repositories.rules.list"
                    },
                    "patch": {
                      "httpMethod": "PATCH",
                      "path": "v1/{+name}",
                      "description": "Updates a rule.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/rules/{rulesId}",
                      "id": "artifactregistry.projects.locations.repositories.rules.patch",
                      "request": {
                        "$ref": "GoogleDevtoolsArtifactregistryV1Rule"
                      },
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/rules/[^/]+$",
                          "description": "The name of the rule, for example: `projects/p1/locations/us-central1/repositories/repo1/rules/rule1`.",
                          "location": "path"
                        },
                        "updateMask": {
                          "description": "The update mask applies to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask",
                          "type": "string",
                          "format": "google-fieldmask",
                          "location": "query"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleDevtoolsArtifactregistryV1Rule"
                      }
                    },
                    "get": {
                      "id": "artifactregistry.projects.locations.repositories.rules.get",
                      "httpMethod": "GET",
                      "description": "Gets a rule.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/rules/{rulesId}",
                      "path": "v1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleDevtoolsArtifactregistryV1Rule"
                      },
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/rules/[^/]+$",
                          "required": true,
                          "description": "Required. The name of the rule to retrieve.",
                          "type": "string",
                          "location": "path"
                        }
                      }
                    },
                    "create": {
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                          "location": "path",
                          "required": true,
                          "description": "Required. The name of the parent resource where the rule will be created."
                        },
                        "ruleId": {
                          "location": "query",
                          "type": "string",
                          "description": "The rule id to use for this repository."
                        }
                      },
                      "id": "artifactregistry.projects.locations.repositories.rules.create",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "GoogleDevtoolsArtifactregistryV1Rule"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/rules",
                      "response": {
                        "$ref": "GoogleDevtoolsArtifactregistryV1Rule"
                      },
                      "httpMethod": "POST",
                      "description": "Creates a rule.",
                      "path": "v1/{+parent}/rules",
                      "parameterOrder": [
                        "parent"
                      ]
                    }
                  }
                },
                "goModules": {
                  "methods": {
                    "upload": {
                      "request": {
                        "$ref": "UploadGoModuleRequest"
                      },
                      "id": "artifactregistry.projects.locations.repositories.goModules.upload",
                      "mediaUpload": {
                        "protocols": {
                          "simple": {
                            "path": "/upload/v1/{+parent}/goModules:create",
                            "multipart": true
                          }
                        },
                        "accept": [
                          "*/*"
                        ]
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "POST",
                      "description": "Directly uploads a Go module. The returned Operation will complete once the Go module is uploaded. Package, Version, and File resources are created based on the uploaded Go module.",
                      "parameters": {
                        "parent": {
                          "description": "The resource name of the repository where the Go module will be uploaded.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/goModules:create",
                      "response": {
                        "$ref": "UploadGoModuleMediaResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "supportsMediaUpload": true,
                      "path": "v1/{+parent}/goModules:create"
                    }
                  }
                },
                "npmPackages": {
                  "methods": {
                    "get": {
                      "path": "v1/{+name}",
                      "httpMethod": "GET",
                      "description": "Gets a npm package.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "response": {
                        "$ref": "NpmPackage"
                      },
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "description": "Required. The name of the npm package.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/npmPackages/[^/]+$",
                          "required": true
                        }
                      },
                      "id": "artifactregistry.projects.locations.repositories.npmPackages.get",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/npmPackages/{npmPackagesId}"
                    },
                    "list": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/npmPackages",
                      "parameters": {
                        "parent": {
                          "required": true,
                          "description": "Required. The name of the parent resource whose npm packages will be listed.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                          "type": "string",
                          "location": "path"
                        },
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "location": "query",
                          "description": "The maximum number of artifacts to return. Maximum page size is 1,000."
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "The next_page_token value returned from a previous list request, if any.",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "ListNpmPackagesResponse"
                      },
                      "id": "artifactregistry.projects.locations.repositories.npmPackages.list",
                      "path": "v1/{+parent}/npmPackages",
                      "description": "Lists npm packages.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET"
                    }
                  }
                },
                "packages": {
                  "methods": {
                    "patch": {
                      "id": "artifactregistry.projects.locations.repositories.packages.patch",
                      "description": "Updates a package.",
                      "httpMethod": "PATCH",
                      "path": "v1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/packages/[^/]+$",
                          "description": "The name of the package, for example: `projects/p1/locations/us-central1/repositories/repo1/packages/pkg1`. If the package ID part contains slashes, the slashes are escaped."
                        },
                        "updateMask": {
                          "location": "query",
                          "description": "The update mask applies to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask",
                          "format": "google-fieldmask",
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/packages/{packagesId}",
                      "request": {
                        "$ref": "Package"
                      },
                      "response": {
                        "$ref": "Package"
                      }
                    },
                    "delete": {
                      "httpMethod": "DELETE",
                      "response": {
                        "$ref": "Operation"
                      },
                      "description": "Deletes a package and all of its versions and tags. The returned operation will complete once the package has been deleted.",
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/packages/{packagesId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "artifactregistry.projects.locations.repositories.packages.delete",
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the package to delete.",
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/packages/[^/]+$",
                          "required": true
                        }
                      }
                    },
                    "list": {
                      "parameters": {
                        "pageSize": {
                          "description": "The maximum number of packages to return. Maximum page size is 1,000.",
                          "type": "integer",
                          "location": "query",
                          "format": "int32"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "The next_page_token value returned from a previous list request, if any.",
                          "type": "string"
                        },
                        "parent": {
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                          "description": "Required. The name of the parent resource whose packages will be listed.",
                          "required": true
                        },
                        "filter": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. An expression for filtering the results of the request. Filter rules are case insensitive. The fields eligible for filtering are: * `name` * `annotations` Examples of using a filter: To filter the results of your request to packages with the name `my-package` in project `my-project` in the `us-central` region, in repository `my-repo`, append the following filter expression to your request: * `name=\"projects/my-project/locations/us-central1/repositories/my-repo/packages/my-package\"` You can also use wildcards to match any number of characters before or after the value: * `name=\"projects/my-project/locations/us-central1/repositories/my-repo/packages/my-*\"` * `name=\"projects/my-project/locations/us-central1/repositories/my-repo/packages/*package\"` * `name=\"projects/my-project/locations/us-central1/repositories/my-repo/packages/*pack*\"` To filter the results of your request to packages with the annotation key-value pair [`external_link`: `external_link_value`], append the following filter expression to your request\": * `\"annotations.external_link:external_link_value\"` To filter the results just for a specific annotation key `external_link`, append the following filter expression to your request: * `\"annotations.external_link\"` If the annotation key or value contains special characters, you can escape them by surrounding the value with backticks. For example, to filter the results of your request to packages with the annotation key-value pair [`external.link`:`https://example.com/my-package`], append the following filter expression to your request: * `` \"annotations.`external.link`:`https://example.com/my-package`\" `` You can also filter with annotations with a wildcard to match any number of characters before or after the value: * `` \"annotations.*_link:`*example.com*`\" ``"
                        },
                        "orderBy": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. The field to order the results by."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "description": "Lists packages.",
                      "response": {
                        "$ref": "ListPackagesResponse"
                      },
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1/{+parent}/packages",
                      "id": "artifactregistry.projects.locations.repositories.packages.list",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/packages"
                    },
                    "get": {
                      "description": "Gets a package.",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}",
                      "id": "artifactregistry.projects.locations.repositories.packages.get",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/packages/{packagesId}",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/packages/[^/]+$",
                          "location": "path",
                          "description": "Required. The name of the package to retrieve."
                        }
                      },
                      "response": {
                        "$ref": "Package"
                      }
                    }
                  },
                  "resources": {
                    "versions": {
                      "methods": {
                        "batchDelete": {
                          "id": "artifactregistry.projects.locations.repositories.packages.versions.batchDelete",
                          "response": {
                            "$ref": "Operation"
                          },
                          "request": {
                            "$ref": "BatchDeleteVersionsRequest"
                          },
                          "parameters": {
                            "parent": {
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/packages/[^/]+$",
                              "description": "The name of the repository holding all requested versions.",
                              "type": "string",
                              "location": "path"
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1/{+parent}/versions:batchDelete",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/packages/{packagesId}/versions:batchDelete",
                          "description": "Deletes multiple versions across a repository. The returned operation will complete once the versions have been deleted.",
                          "httpMethod": "POST",
                          "parameterOrder": [
                            "parent"
                          ]
                        },
                        "get": {
                          "httpMethod": "GET",
                          "parameterOrder": [
                            "name"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/cloud-platform.read-only"
                          ],
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/packages/{packagesId}/versions/{versionsId}",
                          "description": "Gets a version",
                          "id": "artifactregistry.projects.locations.repositories.packages.versions.get",
                          "parameters": {
                            "name": {
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/packages/[^/]+/versions/[^/]+$",
                              "required": true,
                              "description": "The name of the version to retrieve.",
                              "type": "string"
                            },
                            "view": {
                              "enumDescriptions": [
                                "The default / unset value. The API will default to the BASIC view.",
                                "Includes basic information about the version, but not any related tags.",
                                "Include everything."
                              ],
                              "location": "query",
                              "description": "The view that should be returned in the response.",
                              "type": "string",
                              "enum": [
                                "VERSION_VIEW_UNSPECIFIED",
                                "BASIC",
                                "FULL"
                              ]
                            }
                          },
                          "path": "v1/{+name}",
                          "response": {
                            "$ref": "Version"
                          }
                        },
                        "patch": {
                          "request": {
                            "$ref": "Version"
                          },
                          "httpMethod": "PATCH",
                          "path": "v1/{+name}",
                          "response": {
                            "$ref": "Version"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameters": {
                            "name": {
                              "description": "The name of the version, for example: `projects/p1/locations/us-central1/repositories/repo1/packages/pkg1/versions/art1`. If the package or version ID parts contain slashes, the slashes are escaped.",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/packages/[^/]+/versions/[^/]+$",
                              "location": "path",
                              "type": "string"
                            },
                            "updateMask": {
                              "description": "The update mask applies to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask",
                              "location": "query",
                              "type": "string",
                              "format": "google-fieldmask"
                            }
                          },
                          "id": "artifactregistry.projects.locations.repositories.packages.versions.patch",
                          "parameterOrder": [
                            "name"
                          ],
[...]
