{
  "name": "artifactregistry",
  "basePath": "",
  "parameters": {
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response.",
      "default": "json"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    }
  },
  "discoveryVersion": "v1",
  "servicePath": "",
  "rootUrl": "https://artifactregistry.googleapis.com/",
  "endpoints": [
    {
      "endpointUrl": "https://artifactregistry.africa-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "africa-south1"
    },
    {
      "location": "asia-east1",
      "endpointUrl": "https://artifactregistry.asia-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-east2",
      "endpointUrl": "https://artifactregistry.asia-east2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-northeast1",
      "endpointUrl": "https://artifactregistry.asia-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://artifactregistry.asia-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-northeast2"
    },
    {
      "location": "asia-northeast3",
      "endpointUrl": "https://artifactregistry.asia-northeast3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-south1",
      "endpointUrl": "https://artifactregistry.asia-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://artifactregistry.asia-south2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-south2"
    },
    {
      "location": "asia-southeast1",
      "endpointUrl": "https://artifactregistry.asia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://artifactregistry.asia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-southeast2"
    },
    {
      "endpointUrl": "https://artifactregistry.australia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "australia-southeast1"
    },
    {
      "location": "australia-southeast2",
      "endpointUrl": "https://artifactregistry.australia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-central2",
      "endpointUrl": "https://artifactregistry.europe-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://artifactregistry.europe-north1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-north1"
    },
    {
      "location": "europe-north2",
      "endpointUrl": "https://artifactregistry.europe-north2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://artifactregistry.europe-southwest1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-southwest1"
    },
    {
      "location": "europe-west1",
      "endpointUrl": "https://artifactregistry.europe-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://artifactregistry.europe-west10.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west10"
    },
    {
      "endpointUrl": "https://artifactregistry.europe-west12.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west12"
    },
    {
      "location": "europe-west2",
      "endpointUrl": "https://artifactregistry.europe-west2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west3",
      "endpointUrl": "https://artifactregistry.europe-west3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west4",
      "endpointUrl": "https://artifactregistry.europe-west4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://artifactregistry.europe-west6.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west6"
    },
    {
      "endpointUrl": "https://artifactregistry.europe-west8.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west8"
    },
    {
      "location": "europe-west9",
      "endpointUrl": "https://artifactregistry.europe-west9.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://artifactregistry.me-central1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "me-central1"
    },
    {
      "endpointUrl": "https://artifactregistry.me-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "me-west1"
    },
    {
      "location": "northamerica-northeast1",
      "endpointUrl": "https://artifactregistry.northamerica-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "northamerica-northeast2",
      "endpointUrl": "https://artifactregistry.northamerica-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "northamerica-south1",
      "endpointUrl": "https://artifactregistry.northamerica-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://artifactregistry.southamerica-east1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "southamerica-east1"
    },
    {
      "location": "southamerica-west1",
      "endpointUrl": "https://artifactregistry.southamerica-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-central1",
      "endpointUrl": "https://artifactregistry.us-central1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-central2",
      "endpointUrl": "https://artifactregistry.us-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://artifactregistry.us-east1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east1"
    },
    {
      "location": "us-east4",
      "endpointUrl": "https://artifactregistry.us-east4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east5",
      "endpointUrl": "https://artifactregistry.us-east5.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-south1",
      "endpointUrl": "https://artifactregistry.us-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west1",
      "endpointUrl": "https://artifactregistry.us-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://artifactregistry.us-west2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west2"
    },
    {
      "endpointUrl": "https://artifactregistry.us-west3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west3"
    },
    {
      "location": "us-west4",
      "endpointUrl": "https://artifactregistry.us-west4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://artifactregistry.us-west8.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west8"
    },
    {
      "location": "me-central2",
      "endpointUrl": "https://artifactregistry.me-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://artifactregistry.us-east7.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east7"
    },
    {
      "location": "us",
      "endpointUrl": "https://artifactregistry.us.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://artifactregistry.eu.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "eu"
    }
  ],
  "id": "artifactregistry:v1",
  "schemas": {
    "KfpArtifact": {
      "description": "A detailed representation of a KFP artifact.",
      "type": "object",
      "id": "KfpArtifact",
      "properties": {
        "version": {
          "description": "The version associated with the KFP artifact. Must follow the Semantic Versioning standard.",
          "type": "string"
        },
        "name": {
          "description": "Output only. Resource name of the KFP artifact. Since users don't directly interact with this resource, the name will be derived from the associated version. For example, when version = \".../versions/sha256:abcdef...\", the name will be \".../kfpArtifacts/sha256:abcdef...\".",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "VPCSCConfig": {
      "description": "The Artifact Registry VPC SC config that apply to a Project.",
      "type": "object",
      "id": "VPCSCConfig",
      "properties": {
        "name": {
          "description": "The name of the project's VPC SC Config. Always of the form: projects/{projectID}/locations/{location}/vpcscConfig In update request: never set In response: always set",
          "type": "string"
        },
        "vpcscPolicy": {
          "type": "string",
          "enumDescriptions": [
            "VPCSC_POLICY_UNSPECIFIED - the VPS SC policy is not defined. When VPS SC policy is not defined - the Service will use the default behavior (VPCSC_DENY).",
            "VPCSC_DENY - repository will block the requests to the Upstreams for the Remote Repositories if the resource is in the perimeter.",
            "VPCSC_ALLOW - repository will allow the requests to the Upstreams for the Remote Repositories if the resource is in the perimeter."
          ],
          "enum": [
            "VPCSC_POLICY_UNSPECIFIED",
            "DENY",
            "ALLOW"
          ],
          "description": "The project per location VPC SC policy that defines the VPC SC behavior for the Remote Repository (Allow/Deny)."
        }
      }
    },
    "ImportAptArtifactsMetadata": {
      "type": "object",
      "id": "ImportAptArtifactsMetadata",
      "properties": {},
      "description": "The operation metadata for importing artifacts."
    },
    "ImportYumArtifactsErrorInfo": {
      "id": "ImportYumArtifactsErrorInfo",
      "properties": {
        "gcsSource": {
          "$ref": "ImportYumArtifactsGcsSource",
          "description": "Google Cloud Storage location requested."
        },
        "error": {
          "$ref": "Status",
          "description": "The detailed error status."
        }
      },
      "type": "object",
      "description": "Error information explaining why a package was not imported."
    },
    "UsernamePasswordCredentials": {
      "description": "Username and password credentials.",
      "id": "UsernamePasswordCredentials",
      "properties": {
        "username": {
          "description": "The username to access the remote repository.",
          "type": "string"
        },
        "passwordSecretVersion": {
          "description": "The Secret Manager key version that holds the password to access the remote repository. Must be in the format of `projects/{project}/secrets/{secret}/versions/{version}`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigDockerRepositoryCustomRepository": {
      "id": "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigDockerRepositoryCustomRepository",
      "properties": {
        "uri": {
          "description": "An http/https uri reference to the custom remote repository, for ex: \"https://registry-1.docker.io\".",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Customer-specified publicly available remote repository."
    },
    "VulnerabilityScanningConfig": {
      "id": "VulnerabilityScanningConfig",
      "properties": {
        "lastEnableTime": {
          "description": "Output only. The last time this repository config was enabled.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "enablementState": {
          "description": "Output only. State of feature enablement, combining repository enablement config and API enablement state.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Enablement state is unclear.",
            "Repository does not support vulnerability scanning.",
            "Vulnerability scanning is disabled for this repository.",
            "Vulnerability scanning is active for this repository."
          ],
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "SCANNING_UNSUPPORTED",
            "SCANNING_DISABLED",
            "SCANNING_ACTIVE"
          ]
        },
        "enablementStateReason": {
          "description": "Output only. Reason for the repository state.",
          "readOnly": true,
          "type": "string"
        },
        "enablementConfig": {
          "description": "Optional. Config for whether this repository has vulnerability scanning disabled.",
          "enum": [
            "ENABLEMENT_CONFIG_UNSPECIFIED",
            "INHERITED",
            "DISABLED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Not set. This will be treated as INHERITED for Docker repositories and DISABLED for non-Docker repositories.",
            "Scanning is Enabled, but dependent on API enablement.",
            "No automatic vulnerability scanning will be performed for this repository."
          ]
        }
      },
      "type": "object",
      "description": "Config on whether to perform vulnerability scanning for resources in this repository, as well as output fields describing current state."
    },
    "ListPackagesResponse": {
      "description": "The response from listing packages.",
      "type": "object",
      "id": "ListPackagesResponse",
      "properties": {
        "packages": {
          "description": "The packages returned.",
          "items": {
            "$ref": "Package"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The token to retrieve the next page of packages, or empty if there are no more packages to return.",
          "type": "string"
        }
      }
    },
    "ListAttachmentsResponse": {
      "type": "object",
      "id": "ListAttachmentsResponse",
      "properties": {
        "attachments": {
          "type": "array",
          "description": "The attachments returned.",
          "items": {
            "$ref": "Attachment"
          }
        },
        "nextPageToken": {
          "description": "The token to retrieve the next page of attachments, or empty if there are no more attachments to return.",
          "type": "string"
        }
      },
      "description": "The response from listing attachments."
    },
    "Repository": {
      "description": "A Repository for storing artifacts with a specific format.",
      "id": "Repository",
      "properties": {
        "cleanupPolicyDryRun": {
          "description": "Optional. If true, the cleanup pipeline is prevented from deleting versions in this repository.",
          "type": "boolean"
        },
        "remoteRepositoryConfig": {
          "description": "Configuration specific for a Remote Repository.",
          "$ref": "RemoteRepositoryConfig"
        },
        "sizeBytes": {
          "description": "Output only. The size, in bytes, of all artifact storage in this repository. Repositories that are generally available or in public preview use this to calculate storage costs.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "satisfiesPzs": {
          "type": "boolean",
          "description": "Output only. Whether or not this repository satisfies PZS.",
          "readOnly": true
        },
        "platformLogsConfig": {
          "description": "Optional. Configuration for platform logs.",
          "$ref": "PlatformLogsConfig"
        },
        "registryUri": {
          "type": "string",
          "description": "Output only. The repository endpoint, for example: `us-docker.pkg.dev/my-proj/my-repo`.",
          "readOnly": true
        },
        "name": {
          "description": "The name of the repository, for example: `projects/p1/locations/us-central1/repositories/repo1`. For each location in a project, repository names must be unique.",
          "type": "string"
        },
        "format": {
          "description": "Optional. The format of packages that are stored in the repository.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified package format.",
            "Docker package format.",
            "Maven package format.",
            "NPM package format.",
            "APT package format.",
            "YUM package format.",
            "GooGet package format.",
            "Python package format.",
            "Kubeflow Pipelines package format.",
            "Go package format.",
            "Generic package format.",
            "Ruby package format."
          ],
          "enum": [
            "FORMAT_UNSPECIFIED",
            "DOCKER",
            "MAVEN",
            "NPM",
            "APT",
            "YUM",
            "GOOGET",
            "PYTHON",
            "KFP",
            "GO",
            "GENERIC",
            "RUBY"
          ]
        },
        "description": {
          "description": "The user-provided description of the repository.",
          "type": "string"
        },
        "mavenConfig": {
          "$ref": "MavenRepositoryConfig",
          "description": "Maven repository config contains repository level configuration for the repositories of maven type."
        },
        "dockerConfig": {
          "$ref": "DockerRepositoryConfig",
          "description": "Docker repository config contains repository level configuration for the repositories of docker type."
        },
        "satisfiesPzi": {
          "type": "boolean",
          "description": "Output only. Whether or not this repository satisfies PZI.",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The time when the repository was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "mode": {
          "enum": [
            "MODE_UNSPECIFIED",
            "STANDARD_REPOSITORY",
            "VIRTUAL_REPOSITORY",
            "REMOTE_REPOSITORY",
            "AOSS_REPOSITORY",
            "ASSURED_OSS_REPOSITORY"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified mode.",
            "A standard repository storing artifacts.",
            "A virtual repository to serve artifacts from one or more sources.",
            "A remote repository to serve artifacts from a remote source.",
            "An AOSS repository provides artifacts from AOSS upstreams.",
            "Replacement of AOSS_REPOSITORY."
          ],
          "description": "Optional. The mode of the repository."
        },
        "virtualRepositoryConfig": {
          "$ref": "VirtualRepositoryConfig",
          "description": "Configuration specific for a Virtual Repository."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels with user-defined metadata. This field may contain up to 64 entries. Label keys and values may be no longer than 63 characters. Label keys must begin with a lowercase letter and may only contain lowercase letters, numeric characters, underscores, and dashes."
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The time when the repository was last updated.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "vulnerabilityScanningConfig": {
          "description": "Optional. Config and state for vulnerability scanning of resources within this Repository.",
          "$ref": "VulnerabilityScanningConfig"
        },
        "cleanupPolicies": {
          "description": "Optional. Cleanup policies for this repository. Cleanup policies indicate when certain package versions can be automatically deleted. Map keys are policy IDs supplied by users during policy creation. They must unique within a repository and be under 128 characters in length.",
          "type": "object",
          "additionalProperties": {
            "$ref": "CleanupPolicy"
          }
        },
        "kmsKeyName": {
          "description": "The Cloud KMS resource name of the customer managed encryption key that's used to encrypt the contents of the Repository. Has the form: `projects/my-project/locations/my-region/keyRings/my-kr/cryptoKeys/my-key`. This value may not be changed after the Repository has been created.",
          "type": "string"
        },
        "disallowUnspecifiedMode": {
          "description": "Optional. If this is true, an unspecified repo type will be treated as error rather than defaulting to standard.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "UpstreamCredentials": {
      "type": "object",
      "id": "UpstreamCredentials",
      "properties": {
        "usernamePasswordCredentials": {
          "$ref": "UsernamePasswordCredentials",
          "description": "Use username and password to access the remote repository."
        }
      },
      "description": "The credentials to access the remote repository."
    },
    "UploadGoogetArtifactMetadata": {
      "id": "UploadGoogetArtifactMetadata",
      "properties": {},
      "type": "object",
      "description": "The operation metadata for uploading artifacts."
    },
    "UploadFileRequest": {
      "id": "UploadFileRequest",
      "properties": {
        "fileId": {
          "description": "Optional. The ID of the file. If left empty will default to sha256 digest of the content uploaded.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The request to upload a file."
    },
    "ListNpmPackagesResponse": {
      "description": "The response from listing npm packages.",
      "type": "object",
      "id": "ListNpmPackagesResponse",
      "properties": {
        "npmPackages": {
          "description": "The npm packages returned.",
          "items": {
            "$ref": "NpmPackage"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The token to retrieve the next page of artifacts, or empty if there are no more artifacts to return.",
          "type": "string"
        }
      }
    },
    "UploadYumArtifactMetadata": {
      "id": "UploadYumArtifactMetadata",
      "properties": {},
      "type": "object",
      "description": "The operation metadata for uploading artifacts."
    },
    "ExportArtifactResponse": {
      "description": "The response for exporting an artifact to a destination.",
      "type": "object",
      "id": "ExportArtifactResponse",
      "properties": {
        "exportedVersion": {
          "description": "The exported version. Should be the same as the request version with fingerprint resource name.",
          "$ref": "Version"
        }
      }
    },
    "Status": {
      "id": "Status",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        },
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "Binding": {
      "description": "Associates `members`, or principals, with a `role`.",
      "type": "object",
      "id": "Binding",
      "properties": {
        "members": {
          "type": "array",
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`.",
          "items": {
            "type": "string"
          }
        },
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles).",
          "type": "string"
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        }
      }
    },
    "UploadGoModuleRequest": {
      "type": "object",
      "id": "UploadGoModuleRequest",
      "properties": {},
      "description": "The request to upload a Go module."
    },
    "DownloadFileResponse": {
      "type": "object",
      "id": "DownloadFileResponse",
      "properties": {},
      "description": "The response to download a file."
    },
    "Operation": {
      "type": "object",
      "id": "Operation",
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "ListMavenArtifactsResponse": {
      "id": "ListMavenArtifactsResponse",
      "properties": {
        "mavenArtifacts": {
          "type": "array",
          "description": "The maven artifacts returned.",
          "items": {
            "$ref": "MavenArtifact"
          }
        },
        "nextPageToken": {
          "description": "The token to retrieve the next page of artifacts, or empty if there are no more artifacts to return.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The response from listing maven artifacts."
    },
    "Hash": {
      "description": "A hash of file content.",
      "id": "Hash",
      "properties": {
        "type": {
          "enum": [
            "HASH_TYPE_UNSPECIFIED",
            "SHA256",
            "MD5",
            "DIRSUM_SHA256"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "SHA256 hash.",
            "MD5 hash.",
            "Dirsum SHA256 hash."
          ],
          "description": "The algorithm used to compute the hash value."
        },
        "value": {
          "type": "string",
          "description": "The hash value.",
          "format": "byte"
        }
      },
      "type": "object"
    },
    "MavenArtifact": {
      "description": "MavenArtifact represents a maven artifact.",
      "id": "MavenArtifact",
      "properties": {
        "name": {
          "description": "Required. registry_location, project_id, repository_name and maven_artifact forms a unique artifact For example, \"projects/test-project/locations/us-west4/repositories/test-repo/mavenArtifacts/ com.google.guava:guava:31.0-jre\", where \"us-west4\" is the registry_location, \"test-project\" is the project_id, \"test-repo\" is the repository_name and \"com.google.guava:guava:31.0-jre\" is the maven artifact.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Time the artifact was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "pomUri": {
          "description": "Required. URL to access the pom file of the artifact. Example: us-west4-maven.pkg.dev/test-project/test-repo/com/google/guava/guava/31.0/guava-31.0.pom",
          "type": "string"
        },
        "version": {
          "description": "Version of this artifact.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. Time the artifact was updated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "groupId": {
          "description": "Group ID for the artifact. Example: com.google.guava",
          "type": "string"
        },
        "artifactId": {
          "description": "Artifact ID for the artifact.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListTagsResponse": {
      "id": "ListTagsResponse",
      "properties": {
        "tags": {
          "description": "The tags returned.",
          "items": {
            "$ref": "Tag"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The token to retrieve the next page of tags, or empty if there are no more tags to return.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The response from listing tags."
    },
    "Location": {
      "description": "A resource that represents a Google Cloud location.",
      "id": "Location",
      "properties": {
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        }
      },
      "type": "object"
    },
    "UploadGoModuleMediaResponse": {
      "type": "object",
      "id": "UploadGoModuleMediaResponse",
      "properties": {
        "operation": {
          "$ref": "Operation",
          "description": "Operation to be returned to the user."
        }
      },
      "description": "The response to upload a Go module."
    },
    "MavenRepository": {
      "id": "MavenRepository",
      "properties": {
        "customRepository": {
          "$ref": "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigMavenRepositoryCustomRepository",
          "description": "Customer-specified remote repository."
        },
        "publicRepository": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified repository.",
            "Maven Central."
          ],
          "enum": [
            "PUBLIC_REPOSITORY_UNSPECIFIED",
            "MAVEN_CENTRAL"
          ],
          "description": "One of the publicly available Maven repositories supported by Artifact Registry."
        }
      },
      "type": "object",
      "description": "Configuration for a Maven remote repository."
    },
    "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigAptRepositoryCustomRepository": {
      "id": "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigAptRepositoryCustomRepository",
      "properties": {
        "uri": {
          "description": "An http/https uri reference to the upstream remote repository, for ex: \"https://my.apt.registry/\".",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Customer-specified publicly available remote repository."
    },
    "ImportGoogetArtifactsGcsSource": {
      "id": "ImportGoogetArtifactsGcsSource",
      "properties": {
        "uris": {
          "type": "array",
          "description": "Cloud Storage paths URI (e.g., `gs://my_bucket/my_object`).",
          "items": {
            "type": "string"
          }
        },
        "useWildcards": {
          "description": "Supports URI wildcards for matching multiple objects from a single URI.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Google Cloud Storage location where the artifacts currently reside."
    },
    "Policy": {
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "type": "object",
      "id": "Policy",
      "properties": {
        "version": {
          "type": "integer",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32"
        },
        "bindings": {
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "items": {
            "$ref": "Binding"
          },
          "type": "array"
        },
        "etag": {
          "type": "string",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "format": "byte"
        }
      }
    },
    "ImportGoogetArtifactsRequest": {
      "description": "The request to import new googet artifacts.",
      "id": "ImportGoogetArtifactsRequest",
      "properties": {
        "gcsSource": {
          "description": "Google Cloud Storage location where input content is located.",
          "$ref": "ImportGoogetArtifactsGcsSource"
        }
      },
      "type": "object"
    },
    "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigNpmRepositoryCustomRepository": {
      "id": "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigNpmRepositoryCustomRepository",
      "properties": {
        "uri": {
          "description": "An http/https uri reference to the upstream remote repository, for ex: \"https://my.npm.registry/\".",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Customer-specified publicly available remote repository."
    },
    "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigYumRepositoryCustomRepository": {
      "type": "object",
      "id": "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigYumRepositoryCustomRepository",
      "properties": {
        "uri": {
          "description": "An http/https uri reference to the upstream remote repository, for ex: \"https://my.yum.registry/\".",
          "type": "string"
        }
      },
      "description": "Customer-specified publicly available remote repository."
    },
    "CheckPrewarmedArtifactResponse": {
      "description": "The response for checking an artifact for streaming.",
      "id": "CheckPrewarmedArtifactResponse",
      "properties": {
        "prewarmedArtifact": {
          "description": "The prewarmed artifact that was checked.",
          "$ref": "PrewarmedArtifact"
        }
      },
      "type": "object"
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "The response message for Locations.ListLocations."
    },
    "NpmRepository": {
      "description": "Configuration for a Npm remote repository.",
      "type": "object",
      "id": "NpmRepository",
      "properties": {
        "customRepository": {
          "description": "Customer-specified remote repository.",
          "$ref": "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigNpmRepositoryCustomRepository"
        },
        "publicRepository": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified repository.",
            "npmjs."
          ],
          "enum": [
            "PUBLIC_REPOSITORY_UNSPECIFIED",
            "NPMJS"
          ],
          "description": "One of the publicly available Npm repositories supported by Artifact Registry."
        }
      }
    },
    "UploadGoogetArtifactResponse": {
      "description": "The response of the completed artifact upload operation. This response is contained in the Operation and available to users.",
      "type": "object",
      "id": "UploadGoogetArtifactResponse",
      "properties": {
        "googetArtifacts": {
          "description": "The GooGet artifacts updated.",
          "items": {
            "$ref": "GoogetArtifact"
          },
          "type": "array"
        }
      }
    },
    "ImportAptArtifactsResponse": {
      "description": "The response message from importing APT artifacts.",
      "type": "object",
      "id": "ImportAptArtifactsResponse",
      "properties": {
        "aptArtifacts": {
          "description": "The Apt artifacts imported.",
          "items": {
            "$ref": "AptArtifact"
          },
          "type": "array"
        },
        "errors": {
          "description": "Detailed error info for packages that were not imported.",
          "items": {
            "$ref": "ImportAptArtifactsErrorInfo"
          },
          "type": "array"
        }
      }
    },
    "UploadYumArtifactMediaResponse": {
      "description": "The response to upload an artifact.",
      "type": "object",
      "id": "UploadYumArtifactMediaResponse",
      "properties": {
        "operation": {
          "$ref": "Operation",
          "description": "Operation to be returned to the user."
        }
      }
    },
    "ImageManifest": {
      "description": "Details of a single image manifest within a multi-arch image.",
      "type": "object",
      "id": "ImageManifest",
      "properties": {
        "digest": {
          "description": "Optional. The manifest digest, in the format \"sha256:\".",
          "type": "string"
        },
        "osVersion": {
          "description": "Optional. The OS version of the image, for example on Windows `10.0.14393.1066`.",
          "type": "string"
        },
        "osFeatures": {
          "type": "array",
          "description": "Optional. The required OS features for the image, for example on Windows `win32k`.",
          "items": {
            "type": "string"
          }
        },
        "mediaType": {
          "description": "Optional. The media type of the manifest, e.g., \"application/vnd.docker.distribution.manifest.v2+json\"",
          "type": "string"
        },
        "os": {
          "description": "Optional. The operating system of the image. Values are provided by the Docker client and are not validated by Artifact Registry. Example values include \"linux\", \"windows\", \"darwin\", \"aix\", etc.",
          "type": "string"
        },
        "variant": {
          "description": "Optional. The variant of the CPU in the image, for example `v7` to specify ARMv7 when architecture is `arm`.",
          "type": "string"
        },
        "architecture": {
          "description": "Optional. The CPU architecture of the image. Values are provided by the Docker client and are not validated by Artifact Registry. Example values include \"amd64\", \"arm64\", \"ppc64le\", \"s390x\", \"riscv64\", \"mips64le\", etc.",
          "type": "string"
        }
      }
    },
    "UploadAptArtifactResponse": {
      "description": "The response of the completed artifact upload operation. This response is contained in the Operation and available to users.",
      "id": "UploadAptArtifactResponse",
      "properties": {
        "aptArtifacts": {
          "type": "array",
          "description": "The Apt artifacts updated.",
          "items": {
            "$ref": "AptArtifact"
          }
        }
      },
      "type": "object"
    },
    "ExportArtifactRequest": {
      "id": "ExportArtifactRequest",
      "properties": {
        "gcsPath": {
          "description": "The Cloud Storage path to export the artifact to. Should start with the bucket name, and optionally have a directory path. Examples: `dst_bucket`, `dst_bucket/sub_dir`. Existing objects with the same path will be overwritten.",
          "type": "string"
        },
        "sourceVersion": {
          "description": "The artifact version to export. Format: projects/{project}/locations/{location}/repositories/{repository}/packages/{package}/versions/{version}",
          "type": "string"
        },
        "sourceTag": {
          "description": "The artifact tag to export. Format:projects/{project}/locations/{location}/repositories/{repository}/packages/{package}/tags/{tag}",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The request for exporting an artifact to a destination."
    },
    "CancelOperationRequest": {
      "type": "object",
      "id": "CancelOperationRequest",
      "properties": {},
      "description": "The request message for Operations.CancelOperation."
    },
    "UploadGenericArtifactMetadata": {
      "description": "The operation metadata for uploading generic artifacts.",
      "type": "object",
      "id": "UploadGenericArtifactMetadata",
      "properties": {}
    },
    "UploadKfpArtifactMediaResponse": {
      "type": "object",
      "id": "UploadKfpArtifactMediaResponse",
      "properties": {
        "operation": {
          "$ref": "Operation",
          "description": "Operation that will be returned to the user."
        }
      },
      "description": "The response to upload an artifact."
    },
    "ListFilesResponse": {
      "type": "object",
      "id": "ListFilesResponse",
      "properties": {
        "files": {
          "description": "The files returned.",
          "items": {
            "$ref": "GoogleDevtoolsArtifactregistryV1File"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The token to retrieve the next page of files, or empty if there are no more files to return.",
          "type": "string"
        }
      },
      "description": "The response from listing files."
    },
    "ImportYumArtifactsMetadata": {
      "type": "object",
      "id": "ImportYumArtifactsMetadata",
      "properties": {},
      "description": "The operation metadata for importing artifacts."
    },
    "ImportYumArtifactsGcsSource": {
      "description": "Google Cloud Storage location where the artifacts currently reside.",
      "id": "ImportYumArtifactsGcsSource",
      "properties": {
        "uris": {
          "description": "Cloud Storage paths URI (e.g., gs://my_bucket//my_object).",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "useWildcards": {
          "description": "Supports URI wildcards for matching multiple objects from a single URI.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "PlatformLogsConfig": {
      "id": "PlatformLogsConfig",
      "properties": {
        "loggingState": {
          "enum": [
            "LOGGING_STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Platform logs settings for the parent resource haven't been set. This is the default state or when the user clears the settings for the parent.",
            "Platform logs are enabled.",
            "Platform logs are disabled."
          ],
          "description": "Optional. The state of the platform logs: enabled or disabled."
        },
        "severityLevel": {
          "description": "Optional. The severity level for the logs. Logs will be generated if their severity level is >= than the value of the severity level mentioned here.",
          "enum": [
            "SEVERITY_LEVEL_UNSPECIFIED",
            "DEBUG",
            "INFO",
            "NOTICE",
            "WARNING",
            "ERROR",
            "CRITICAL",
            "ALERT",
            "EMERGENCY"
          ],
          "type": "string",
          "enumDescriptions": [
            "No severity level specified, meaning everything is being logged.",
            "Debug or trace information.",
            "Routine information, such as ongoing status or performance.",
            "Normal but significant events, such as start up, shut down, or a configuration change.",
            "Warning events that might cause problems.",
            "Error events that are likely to cause problems.",
            "Critical events that cause more severe problems or outages.",
            "Alert events that require a person must take an action immediately.",
            "One or more systems are unusable."
          ]
        }
      },
      "type": "object",
      "description": "The platform logs config for a project or a repository."
    },
    "NoCacheFetching": {
      "type": "object",
      "id": "NoCacheFetching",
      "properties": {},
      "description": "The configuration for the no-cache fetching mode, which acts as a non-caching proxy."
    },
    "NpmPackage": {
      "id": "NpmPackage",
      "properties": {
        "version": {
          "description": "Version of this package.",
          "type": "string"
        },
        "name": {
          "description": "Required. registry_location, project_id, repository_name and npm_package forms a unique package For example, \"projects/test-project/locations/us-west4/repositories/test-repo/npmPackages/ npm_test:1.0.0\", where \"us-west4\" is the registry_location, \"test-project\" is the project_id, \"test-repo\" is the repository_name and npm_test:1.0.0\" is the npm package.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Time the package was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "tags": {
          "type": "array",
          "description": "Tags attached to this package.",
          "items": {
            "type": "string"
          }
        },
        "packageName": {
          "description": "Package for the artifact.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. Time the package was updated.",
          "readOnly": true,
          "format": "google-datetime"
        }
      },
      "type": "object",
      "description": "NpmPackage represents an npm artifact."
    },
    "DockerRepositoryConfig": {
      "description": "DockerRepositoryConfig is docker related repository details. Provides additional configuration details for repositories of the docker format type.",
      "id": "DockerRepositoryConfig",
      "properties": {
        "immutableTags": {
          "description": "The repository which enabled this flag prevents all tags from being modified, moved or deleted. This does not prevent tags from being created.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "CommonRemoteRepository": {
      "id": "CommonRemoteRepository",
      "properties": {
        "uri": {
          "description": "Required. A common public repository base for remote repository.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Common remote repository settings type."
    },
    "GoogetArtifact": {
      "description": "A detailed representation of a GooGet artifact.",
      "id": "GoogetArtifact",
      "properties": {
        "packageName": {
          "type": "string",
          "description": "Output only. The GooGet package name of the artifact.",
          "readOnly": true
        },
        "architecture": {
          "type": "string",
          "description": "Output only. Operating system architecture of the artifact.",
          "readOnly": true
        },
        "name": {
          "description": "Output only. The Artifact Registry resource name of the artifact.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "PrewarmArtifactRequest": {
      "description": "The request for prewarming an artifact for streaming.",
      "id": "PrewarmArtifactRequest",
      "properties": {
        "version": {
          "description": "Optional. The artifact version Format: projects/{project}/locations/{location}/repositories/{repository}/packages/{package}/versions/{version}",
          "type": "string"
        },
        "tag": {
          "description": "Optional. The artifact tag Format:projects/{project}/locations/{location}/repositories/{repository}/packages/{package}/tags/{tag}",
          "type": "string"
        },
        "retentionDays": {
          "description": "Optional. The retention days of the prewarmed artifact. If not specified, the artifact will be cached for 3 days.",
          "format": "int64",
          "type": "string"
        },
        "streamLocation": {
          "description": "Optional. The location to cache the artifact in. If not specified, the artifact will be cached in the same location as the artifact. multi-region is not supported for this field.",
          "type": "string"
        },
        "platform": {
          "$ref": "PrewarmPlatform",
          "description": "Optional. The platform (architecture and OS) of the image or tag."
        },
        "force": {
          "description": "Optional. If true, old artifact will be evicted to make room for the new artifact.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigMavenRepositoryCustomRepository": {
      "description": "Customer-specified publicly available remote repository.",
      "id": "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigMavenRepositoryCustomRepository",
      "properties": {
        "uri": {
          "description": "An http/https uri reference to the upstream remote repository, for ex: \"https://my.maven.registry/\".",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleDevtoolsArtifactregistryV1Rule": {
      "description": "A rule defines the deny or allow action of the operation it applies to and the conditions required for the rule to apply. You can set one rule for an entire repository and one rule for each package within.",
      "type": "object",
      "id": "GoogleDevtoolsArtifactregistryV1Rule",
      "properties": {
        "name": {
          "description": "The name of the rule, for example: `projects/p1/locations/us-central1/repositories/repo1/rules/rule1`.",
          "type": "string"
        },
        "operation": {
          "enum": [
            "OPERATION_UNSPECIFIED",
            "DOWNLOAD"
          ],
          "type": "string",
          "enumDescriptions": [
            "Operation not specified.",
            "Download operation."
          ]
        },
        "condition": {
          "$ref": "Expr",
          "description": "Optional. A CEL expression for conditions that must be met in order for the rule to apply. If not provided, the rule matches all objects."
        },
        "packageId": {
          "description": "The package ID the rule applies to. If empty, this rule applies to all packages inside the repository.",
          "type": "string"
        },
        "action": {
          "description": "The action this rule takes.",
          "type": "string",
          "enumDescriptions": [
            "Action not specified.",
            "Allow the operation.",
            "Deny the operation."
          ],
          "enum": [
            "ACTION_UNSPECIFIED",
            "ALLOW",
            "DENY"
          ]
        }
      }
    },
    "ImportYumArtifactsRequest": {
      "id": "ImportYumArtifactsRequest",
      "properties": {
        "gcsSource": {
          "$ref": "ImportYumArtifactsGcsSource",
          "description": "Google Cloud Storage location where input content is located."
        }
      },
      "type": "object",
      "description": "The request to import new yum artifacts."
    },
    "ImportGoogetArtifactsMetadata": {
      "id": "ImportGoogetArtifactsMetadata",
      "properties": {},
      "type": "object",
      "description": "The operation metadata for importing artifacts."
    },
    "ImportAptArtifactsErrorInfo": {
      "type": "object",
      "id": "ImportAptArtifactsErrorInfo",
      "properties": {
        "error": {
          "$ref": "Status",
          "description": "The detailed error status."
        },
        "gcsSource": {
          "description": "Google Cloud Storage location requested.",
          "$ref": "ImportAptArtifactsGcsSource"
        }
      },
      "description": "Error information explaining why a package was not imported."
    },
    "UpstreamPolicy": {
      "description": "Artifact policy configuration for the repository contents.",
      "id": "UpstreamPolicy",
      "properties": {
        "priority": {
          "description": "Entries with a greater priority value take precedence in the pull order.",
          "format": "int32",
          "type": "integer"
        },
        "id": {
          "description": "The user-provided ID of the upstream policy.",
          "type": "string"
        },
        "repository": {
          "description": "A reference to the repository resource, for example: `projects/p1/locations/us-central1/repositories/repo1`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "YumRepository": {
      "type": "object",
      "id": "YumRepository",
      "properties": {
        "publicRepository": {
          "$ref": "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigYumRepositoryPublicRepository",
          "description": "One of the publicly available Yum repositories supported by Artifact Registry."
        },
        "customRepository": {
          "$ref": "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigYumRepositoryCustomRepository",
          "description": "Customer-specified remote repository."
        }
      },
      "description": "Configuration for a Yum remote repository."
    },
    "Package": {
      "description": "Packages are named collections of versions.",
      "type": "object",
      "id": "Package",
      "properties": {
        "updateTime": {
          "type": "string",
          "description": "The time when the package was last updated. This includes publishing a new version of the package.",
          "format": "google-datetime"
        },
        "displayName": {
          "description": "The display name of the package.",
          "type": "string"
        },
        "annotations": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Client specified annotations."
        },
        "name": {
          "description": "The name of the package, for example: `projects/p1/locations/us-central1/repositories/repo1/packages/pkg1`. If the package ID part contains slashes, the slashes are escaped.",
          "type": "string"
        },
        "createTime": {
          "description": "The time when the package was created.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "GoogleDevtoolsArtifactregistryV1File": {
      "type": "object",
      "id": "GoogleDevtoolsArtifactregistryV1File",
      "properties": {
        "name": {
          "description": "The name of the file, for example: `projects/p1/locations/us-central1/repositories/repo1/files/a%2Fb%2Fc.txt`. If the file ID part contains slashes, they are escaped.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time when the File was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "owner": {
          "description": "The name of the Package or Version that owns this file, if any.",
          "type": "string"
        },
        "sizeBytes": {
          "type": "string",
          "description": "The size of the File in bytes.",
          "format": "int64"
        },
        "hashes": {
          "description": "The hashes of the file content.",
          "items": {
            "$ref": "Hash"
          },
          "type": "array"
        },
        "updateTime": {
          "description": "Output only. The time when the File was last updated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "fetchTime": {
          "type": "string",
          "description": "Output only. The time when the last attempt to refresh the file's data was made. Only set when the repository is remote.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "annotations": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Client specified annotations."
        }
      },
      "description": "Files store content that is potentially associated with Packages or Versions."
    },
    "UploadFileMediaResponse": {
      "type": "object",
      "id": "UploadFileMediaResponse",
      "properties": {
        "operation": {
          "description": "Operation that will be returned to the user.",
          "$ref": "Operation"
        }
      },
      "description": "The response to upload a generic artifact."
    },
    "ProjectConfig": {
      "type": "object",
      "id": "ProjectConfig",
      "properties": {
        "name": {
          "description": "Identifier. The name of the project's configuration. Always of the form: projects/{project}/locations/{location}/projectConfig",
          "type": "string"
        },
        "platformLogsConfig": {
          "description": "Optional. Configuration for platform logs.",
          "$ref": "PlatformLogsConfig"
        }
      },
      "description": "The Artifact Registry logging configurations that apply to a Project."
    },
    "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigPythonRepositoryCustomRepository": {
      "type": "object",
      "id": "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigPythonRepositoryCustomRepository",
      "properties": {
        "uri": {
          "description": "An http/https uri reference to the upstream remote repository, for ex: \"https://my.python.registry/\".",
          "type": "string"
        }
      },
      "description": "Customer-specified publicly available remote repository."
    },
    "UploadKfpArtifactMetadata": {
      "description": "The operation metadata for uploading KFP artifacts.",
      "id": "UploadKfpArtifactMetadata",
      "properties": {},
      "type": "object"
    },
    "SetIamPolicyRequest": {
      "description": "Request message for `SetIamPolicy` method.",
      "type": "object",
      "id": "SetIamPolicyRequest",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "Policy"
        }
      }
    },
    "ExportArtifactMetadata": {
      "description": "The LRO metadata for exporting an artifact.",
      "id": "ExportArtifactMetadata",
      "properties": {
        "exportedFiles": {
          "description": "The exported artifact files.",
          "items": {
            "$ref": "ExportedFile"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "AptRepository": {
      "id": "AptRepository",
      "properties": {
        "publicRepository": {
          "$ref": "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigAptRepositoryPublicRepository",
          "description": "One of the publicly available Apt repositories supported by Artifact Registry."
        },
        "customRepository": {
          "description": "Customer-specified remote repository.",
          "$ref": "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigAptRepositoryCustomRepository"
        }
      },
      "type": "object",
      "description": "Configuration for an Apt remote repository."
    },
    "VirtualRepositoryConfig": {
      "type": "object",
      "id": "VirtualRepositoryConfig",
      "properties": {
        "upstreamPolicies": {
          "description": "Policies that configure the upstream artifacts distributed by the Virtual Repository. Upstream policies cannot be set on a standard repository.",
          "items": {
            "$ref": "UpstreamPolicy"
          },
          "type": "array"
        }
      },
      "description": "Virtual repository configuration."
    },
    "UploadGenericArtifactRequest": {
      "type": "object",
      "id": "UploadGenericArtifactRequest",
      "properties": {
        "filename": {
          "description": "The name of the file of the generic artifact to be uploaded. E.g. `example-file.zip` The filename is limited to letters, numbers, and url safe characters, i.e. [a-zA-Z0-9-_.~@].",
          "type": "string"
        },
        "versionId": {
          "description": "The ID of the version of the generic artifact. If the version does not exist, a new version will be created. The version_id must start and end with a letter or number, can only contain lowercase letters, numbers, the following characters [-.+~:], i.e.[a-z0-9-.+~:] and cannot exceed a total of 128 characters. Creating a version called `latest` is not allowed.",
          "type": "string"
        },
        "packageId": {
          "description": "The ID of the package of the generic artifact. If the package does not exist, a new package will be created. The `package_id` should start and end with a letter or number, only contain letters, numbers, hyphens, underscores, and periods, and not exceed 256 characters.",
          "type": "string"
        }
      },
      "description": "The request to upload a generic artifact. The created GenericArtifact will have the resource name {parent}/genericArtifacts/package_id:version_id. The created file will have the resource name {parent}/files/package_id:version_id:filename."
    },
    "ProjectSettings": {
      "id": "ProjectSettings",
      "properties": {
        "name": {
          "description": "The name of the project's settings. Always of the form: projects/{project-id}/projectSettings In update request: never set In response: always set",
          "type": "string"
        },
        "legacyRedirectionState": {
          "description": "The redirection state of the legacy repositories in this project.",
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            false,
            false
          ],
          "enum": [
            "REDIRECTION_STATE_UNSPECIFIED",
            "REDIRECTION_FROM_GCR_IO_DISABLED",
            "REDIRECTION_FROM_GCR_IO_ENABLED",
            "REDIRECTION_FROM_GCR_IO_FINALIZED",
            "REDIRECTION_FROM_GCR_IO_ENABLED_AND_COPYING",
            "REDIRECTION_FROM_GCR_IO_PARTIAL_AND_COPYING"
          ],
          "type": "string",
          "enumDescriptions": [
            "No redirection status has been set.",
            "Redirection is disabled.",
            "Redirection is enabled.",
            "Redirection is enabled, and has been finalized so cannot be reverted.",
            "Redirection is enabled and missing images are copied from GCR",
            "Redirection is partially enabled and missing images are copied from GCR"
          ]
        },
        "pullPercent": {
          "type": "integer",
          "description": "The percentage of pull traffic to redirect from GCR to AR when using partial redirection.",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "The Artifact Registry settings that apply to a Project."
    },
    "UploadGoModuleMetadata": {
      "description": "The operation metadata for uploading go modules.",
      "id": "UploadGoModuleMetadata",
      "properties": {},
      "type": "object"
    },
    "UploadGoogetArtifactMediaResponse": {
      "type": "object",
      "id": "UploadGoogetArtifactMediaResponse",
      "properties": {
        "operation": {
          "$ref": "Operation",
          "description": "Operation to be returned to the user."
        }
      },
      "description": "The response to upload an artifact."
    },
    "UploadYumArtifactRequest": {
      "id": "UploadYumArtifactRequest",
      "properties": {},
      "type": "object",
      "description": "The request to upload an artifact."
    },
    "CleanupPolicyMostRecentVersions": {
      "type": "object",
      "id": "CleanupPolicyMostRecentVersions",
      "properties": {
        "keepCount": {
          "description": "Minimum number of versions to keep.",
          "format": "int32",
          "type": "integer"
        },
        "packageNamePrefixes": {
          "type": "array",
          "description": "List of package name prefixes that will apply this rule.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "CleanupPolicyMostRecentVersions is an alternate condition of a CleanupPolicy for retaining a minimum number of versions."
    },
    "ImportGoogetArtifactsErrorInfo": {
      "type": "object",
      "id": "ImportGoogetArtifactsErrorInfo",
      "properties": {
        "gcsSource": {
          "description": "Google Cloud Storage location requested.",
          "$ref": "ImportGoogetArtifactsGcsSource"
        },
        "error": {
          "description": "The detailed error status.",
          "$ref": "Status"
        }
      },
      "description": "Error information explaining why a package was not imported."
    },
    "ListPythonPackagesResponse": {
      "type": "object",
      "id": "ListPythonPackagesResponse",
      "properties": {
        "pythonPackages": {
          "type": "array",
          "description": "The python packages returned.",
          "items": {
            "$ref": "PythonPackage"
          }
        },
        "nextPageToken": {
          "description": "The token to retrieve the next page of artifacts, or empty if there are no more artifacts to return.",
          "type": "string"
        }
      },
      "description": "The response from listing python packages."
    },
    "UploadYumArtifactResponse": {
      "id": "UploadYumArtifactResponse",
      "properties": {
        "yumArtifacts": {
          "description": "The Yum artifacts updated.",
          "items": {
            "$ref": "YumArtifact"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "The response of the completed artifact upload operation. This response is contained in the Operation and available to users."
    },
    "ImportGoogetArtifactsResponse": {
      "id": "ImportGoogetArtifactsResponse",
      "properties": {
        "googetArtifacts": {
          "type": "array",
          "description": "The GooGet artifacts updated.",
          "items": {
            "$ref": "GoogetArtifact"
          }
        },
        "errors": {
          "type": "array",
          "description": "Detailed error info for packages that were not imported.",
          "items": {
            "$ref": "ImportGoogetArtifactsErrorInfo"
          }
        }
      },
      "type": "object",
      "description": "The response message from importing artifacts."
    },
    "TestIamPermissionsResponse": {
      "description": "Response message for `TestIamPermissions` method.",
      "id": "TestIamPermissionsResponse",
      "properties": {
        "permissions": {
          "type": "array",
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "YumArtifact": {
      "type": "object",
      "id": "YumArtifact",
      "properties": {
        "architecture": {
          "type": "string",
          "description": "Output only. Operating system architecture of the artifact.",
          "readOnly": true
        },
        "packageName": {
          "description": "Output only. The yum package name of the artifact.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Output only. The Artifact Registry resource name of the artifact.",
          "readOnly": true,
          "type": "string"
        },
        "packageType": {
          "description": "Output only. An artifact is a binary or source package.",
          "readOnly": true,
          "enum": [
            "PACKAGE_TYPE_UNSPECIFIED",
            "BINARY",
            "SOURCE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Package type is not specified.",
            "Binary package (.rpm).",
            "Source package (.srpm)."
          ]
        }
      },
      "description": "A detailed representation of a Yum artifact."
    },
    "BatchDeleteVersionsRequest": {
      "type": "object",
      "id": "BatchDeleteVersionsRequest",
      "properties": {
        "validateOnly": {
          "description": "If true, the request is performed without deleting data, following AIP-163.",
          "type": "boolean"
        },
        "names": {
          "type": "array",
          "description": "Required. The names of the versions to delete. The maximum number of versions deleted per batch is determined by the service and is dependent on the available resources in the region.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "The request to delete multiple versions across a repository."
    },
    "UploadAptArtifactRequest": {
      "id": "UploadAptArtifactRequest",
      "properties": {},
      "type": "object",
      "description": "The request to upload an artifact."
    },
    "RemoteRepositoryConfig": {
      "id": "RemoteRepositoryConfig",
      "properties": {
        "commonRepository": {
          "description": "Common remote repository settings. Used as the remote repository upstream URL.",
          "$ref": "CommonRemoteRepository"
        },
        "yumRepository": {
          "description": "Specific settings for a Yum remote repository.",
          "$ref": "YumRepository"
        },
        "upstreamCredentials": {
          "description": "Optional. The credentials used to access the remote repository.",
          "$ref": "UpstreamCredentials"
        },
        "npmRepository": {
          "description": "Specific settings for an Npm remote repository.",
          "$ref": "NpmRepository"
        },
        "mavenRepository": {
          "$ref": "MavenRepository",
          "description": "Specific settings for a Maven remote repository."
        },
        "dockerRepository": {
          "$ref": "DockerRepository",
          "description": "Specific settings for a Docker remote repository."
        },
        "disableUpstreamValidation": {
          "description": "Input only. A create/update remote repo option to avoid making a HEAD/GET request to validate a remote repo and any supplied upstream credentials.",
          "type": "boolean"
        },
        "pythonRepository": {
          "description": "Specific settings for a Python remote repository.",
          "$ref": "PythonRepository"
        },
        "aptRepository": {
          "$ref": "AptRepository",
          "description": "Specific settings for an Apt remote repository."
        },
        "description": {
          "description": "The description of the remote source.",
          "type": "string"
        },
        "noCache": {
          "$ref": "NoCacheFetching",
          "description": "The remote repository will act as a non-caching proxy."
        }
      },
      "type": "object",
      "description": "Remote repository configuration."
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "id": "Empty",
      "properties": {}
    },
    "PrewarmPlatform": {
      "type": "object",
      "id": "PrewarmPlatform",
      "properties": {
        "os": {
          "description": "Optional. The OS of the image or tag. For example, \"linux\" or \"windows\".",
          "type": "string"
        },
        "architecture": {
          "description": "Optional. The architecture of the image or tag. For example, \"arm64\" or \"amd64\".",
          "type": "string"
        }
      },
      "description": "The platform (architecture and OS) of the image. This is a sub-message."
    },
    "UploadAptArtifactMetadata": {
      "type": "object",
      "id": "UploadAptArtifactMetadata",
      "properties": {},
      "description": "The operation metadata for uploading artifacts."
    },
    "PrewarmedArtifact": {
      "id": "PrewarmedArtifact",
      "properties": {
        "expirationTime": {
          "description": "The expiration time of the prewarmed artifact.",
          "format": "google-datetime",
          "type": "string"
        },
        "location": {
          "description": "The location of the prewarmed artifact.",
          "type": "string"
        },
        "uri": {
          "description": "URL to access the image. Example: us-west4-docker.pkg.dev/test-project/test-repo/nginx@sha256:e9954c1fc875017be1c3e36eca16be2d9e9bccc4bf072163515467d6a823c7cf",
          "type": "string"
        }
      },
      "type": "object",
      "description": "PrewarmedArtifact represents a streamed artifact. This is not a request message, so field_behavior annotations are not required."
    },
    "Expr": {
      "id": "Expr",
      "properties": {
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
    },
    "PythonPackage": {
      "description": "PythonPackage represents a python artifact.",
      "type": "object",
      "id": "PythonPackage",
      "properties": {
        "uri": {
          "description": "Required. URL to access the package. Example: us-west4-python.pkg.dev/test-project/test-repo/python_package/file-name-1.0.0.tar.gz",
          "type": "string"
        },
        "name": {
          "description": "Required. registry_location, project_id, repository_name and python_package forms a unique package name:`projects//locations//repository//pythonPackages/`. For example, \"projects/test-project/locations/us-west4/repositories/test-repo/pythonPackages/ python_package:1.0.0\", where \"us-west4\" is the registry_location, \"test-project\" is the project_id, \"test-repo\" is the repository_name and python_package:1.0.0\" is the python package.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Time the package was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "version": {
          "description": "Version of this package.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. Time the package was updated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "packageName": {
          "description": "Package for the artifact.",
          "type": "string"
        }
      }
    },
    "UploadGoogetArtifactRequest": {
      "description": "The request to upload an artifact.",
      "id": "UploadGoogetArtifactRequest",
      "properties": {},
      "type": "object"
    },
    "PythonRepository": {
      "type": "object",
      "id": "PythonRepository",
      "properties": {
        "publicRepository": {
          "enum": [
            "PUBLIC_REPOSITORY_UNSPECIFIED",
            "PYPI"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified repository.",
            "PyPI."
          ],
          "description": "One of the publicly available Python repositories supported by Artifact Registry."
        },
        "customRepository": {
          "description": "Customer-specified remote repository.",
          "$ref": "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigPythonRepositoryCustomRepository"
        }
      },
      "description": "Configuration for a Python remote repository."
    },
    "RemovePrewarmedArtifactRequest": {
      "id": "RemovePrewarmedArtifactRequest",
      "properties": {
        "version": {
          "description": "Optional. The artifact version Format: projects/{project}/locations/{location}/repositories/{repository}/packages/{package}/versions/{version}",
          "type": "string"
        },
        "streamLocation": {
          "description": "Optional. The location of the prewarmed artifact. multi-region is not supported for this field.",
          "type": "string"
        },
        "tag": {
          "description": "Optional. The artifact tag Format:projects/{project}/locations/{location}/repositories/{repository}/packages/{package}/tags/{tag}",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The request for removing an artifact from streaming."
    },
    "CleanupPolicyCondition": {
      "description": "CleanupPolicyCondition is a set of conditions attached to a CleanupPolicy. If multiple entries are set, all must be satisfied for the condition to be satisfied.",
      "type": "object",
      "id": "CleanupPolicyCondition",
      "properties": {
        "tagPrefixes": {
          "description": "Match versions by tag prefix. Applied on any prefix match.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "olderThan": {
          "description": "Match versions older than a duration.",
          "format": "google-duration",
          "type": "string"
        },
        "newerThan": {
          "type": "string",
          "description": "Match versions newer than a duration.",
          "format": "google-duration"
        },
        "tagState": {
          "type": "string",
          "enumDescriptions": [
            "Tag status not specified.",
            "Applies to tagged versions only.",
            "Applies to untagged versions only.",
            "Applies to all versions."
          ],
          "enum": [
            "TAG_STATE_UNSPECIFIED",
            "TAGGED",
            "UNTAGGED",
            "ANY"
          ],
          "description": "Match versions by tag status."
        },
        "versionNamePrefixes": {
          "description": "Match versions by version name prefix. Applied on any prefix match.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "packageNamePrefixes": {
          "type": "array",
          "description": "Match versions by package prefix. Applied on any prefix match.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ListDockerImagesResponse": {
      "description": "The response from listing docker images.",
      "id": "ListDockerImagesResponse",
      "properties": {
        "dockerImages": {
          "description": "The docker images returned.",
          "items": {
            "$ref": "DockerImage"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The token to retrieve the next page of artifacts, or empty if there are no more artifacts to return.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CleanupPolicy": {
      "id": "CleanupPolicy",
      "properties": {
        "condition": {
          "description": "Policy condition for matching versions.",
          "$ref": "CleanupPolicyCondition"
        },
        "action": {
          "description": "Policy action.",
          "enum": [
            "ACTION_UNSPECIFIED",
            "DELETE",
            "KEEP"
          ],
          "type": "string",
          "enumDescriptions": [
            "Action not specified.",
            "Delete action.",
            "Keep action."
          ]
        },
        "id": {
          "description": "The user-provided ID of the cleanup policy.",
          "type": "string"
        },
        "mostRecentVersions": {
          "description": "Policy condition for retaining a minimum number of versions. May only be specified with a Keep action.",
          "$ref": "CleanupPolicyMostRecentVersions"
        }
      },
      "type": "object",
      "description": "Artifact policy configuration for repository cleanup policies."
    },
    "TestIamPermissionsRequest": {
      "description": "Request message for `TestIamPermissions` method.",
      "id": "TestIamPermissionsRequest",
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "OperationMetadata": {
      "type": "object",
      "id": "OperationMetadata",
      "properties": {},
      "description": "Metadata type for longrunning-operations, currently empty."
    },
    "BatchDeleteVersionsMetadata": {
      "type": "object",
      "id": "BatchDeleteVersionsMetadata",
      "properties": {
        "failedVersions": {
          "description": "The versions the operation failed to delete.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "The metadata of an LRO from deleting multiple versions."
    },
    "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigAptRepositoryPublicRepository": {
      "description": "Publicly available Apt repositories constructed from a common repository base and a custom repository path.",
      "id": "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigAptRepositoryPublicRepository",
      "properties": {
        "repositoryBase": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified repository base.",
            "Debian.",
            "Ubuntu LTS/Pro.",
            "Archived Debian."
          ],
          "enum": [
            "REPOSITORY_BASE_UNSPECIFIED",
            "DEBIAN",
            "UBUNTU",
            "DEBIAN_SNAPSHOT"
          ],
          "description": "A common public repository base for Apt."
        },
        "repositoryPath": {
          "description": "A custom field to define a path to a specific repository from the base.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListVersionsResponse": {
      "description": "The response from listing versions.",
      "type": "object",
      "id": "ListVersionsResponse",
      "properties": {
        "nextPageToken": {
          "description": "The token to retrieve the next page of versions, or empty if there are no more versions to return.",
          "type": "string"
        },
        "versions": {
[...]
