{
  "version": "v1beta1",
  "name": "assuredworkloads",
  "basePath": "",
  "title": "Assured Workloads API",
  "baseUrl": "https://assuredworkloads.googleapis.com/",
  "mtlsRootUrl": "https://assuredworkloads.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "resources": {
    "assuredworkloads": {
      "methods": {
        "archiveResourceEvents": {
          "parameterOrder": [],
          "flatPath": "v1beta1/assuredworkloads:archiveResourceEvents",
          "response": {
            "$ref": "GoogleCloudAssuredworkloadsV1beta1ArchiveResourceEventsResponse"
          },
          "request": {
            "$ref": "GoogleCloudAssuredworkloadsV1beta1ArchiveResourceEventsRequest"
          },
          "httpMethod": "POST",
          "parameters": {},
          "path": "v1beta1/assuredworkloads:archiveResourceEvents",
          "description": "Finds orphan ResourceEvents matching the criteria and moves them to the ArchivedResourceEvents table.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "assuredworkloads.assuredworkloads.archiveResourceEvents"
        },
        "revertArchivedResourceEvents": {
          "flatPath": "v1beta1/assuredworkloads:revertArchivedResourceEvents",
          "id": "assuredworkloads.assuredworkloads.revertArchivedResourceEvents",
          "path": "v1beta1/assuredworkloads:revertArchivedResourceEvents",
          "response": {
            "$ref": "GoogleCloudAssuredworkloadsV1beta1RevertArchivedResourceEventsResponse"
          },
          "request": {
            "$ref": "GoogleCloudAssuredworkloadsV1beta1RevertArchivedResourceEventsRequest"
          },
          "description": "Finds matching ArchivedResourceEvents and moves them back to the ResourceEvents table.",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST",
          "parameters": {}
        }
      }
    },
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "dbFindingSummaries": {
              "methods": {
                "list": {
                  "path": "v1beta1/{+parent}/dbFindingSummaries",
                  "id": "assuredworkloads.projects.locations.dbFindingSummaries.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. The parent scope for the framework overview page. Formats: - projects/{project}/locations/{location} - folders/{folder}/locations/{location} - organizations/{organization}/locations/{location}",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A token that identifies the page of results that the server should return.",
                      "location": "query"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "Optional. The requested page size. The server might return fewer items than requested. If unspecified, the server picks an appropriate default.",
                      "type": "integer"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. The filtering results.",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1beta1ListDbFindingSummariesResponse"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/dbFindingSummaries",
                  "description": "Lists the finding summary by category for a given scope."
                }
              }
            },
            "dbFrameworkComplianceReports": {
              "methods": {
                "aggregate": {
                  "httpMethod": "GET",
                  "parameters": {
                    "interval.endTime": {
                      "format": "google-datetime",
                      "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end.",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "description": "Required. The name of the aggregated compliance report over time to retrieve. Format: `organizations/{organization_id}/locations/{location}/dbFrameworkComplianceReports/{db_framework_compliance_report}`",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/dbFrameworkComplianceReports/[^/]+$"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. The filtering results.",
                      "location": "query"
                    },
                    "interval.startTime": {
                      "location": "query",
                      "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start.",
                      "format": "google-datetime",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/dbFrameworkComplianceReports/{dbFrameworkComplianceReportsId}:aggregate",
                  "id": "assuredworkloads.projects.locations.dbFrameworkComplianceReports.aggregate",
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1beta1AggregateDbFrameworkComplianceReportResponse"
                  },
                  "path": "v1beta1/{+name}:aggregate",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets the aggregated compliance report over time for a given scope.",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "fetch": {
                  "id": "assuredworkloads.projects.locations.dbFrameworkComplianceReports.fetch",
                  "description": "Fetches the framework compliance report for a given scope.",
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1beta1FetchDbFrameworkComplianceReportResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta1/{+name}:fetch",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/dbFrameworkComplianceReports/{dbFrameworkComplianceReportsId}:fetch",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/dbFrameworkComplianceReports/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The name of the framework compliance report to retrieve."
                    },
                    "endTime": {
                      "description": "Optional. The end time of the report.",
                      "format": "google-datetime",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. The filtering results.",
                      "location": "query"
                    }
                  },
                  "httpMethod": "GET"
                }
              },
              "resources": {
                "dbControlComplianceSummaries": {
                  "methods": {
                    "list": {
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "required": true,
                          "description": "Required. The parent scope for the framework overview page. Format: organizations/{organization}/locations/{location}/dbFrameworkComplianceReports/{db_framework_compliance_report} folders/{folder}/locations/{location}/dbFrameworkComplianceReports/{db_framework_compliance_report} projects/{project}/locations/{location}/dbFrameworkComplianceReports/{db_framework_compliance_report}",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/dbFrameworkComplianceReports/[^/]+$"
                        },
                        "pageToken": {
                          "description": "Optional. A token that identifies the page of results that the server should return.",
                          "location": "query",
                          "type": "string"
                        },
                        "filter": {
                          "location": "query",
                          "description": "Optional. The filtering results.",
                          "type": "string"
                        },
                        "pageSize": {
                          "location": "query",
                          "description": "Optional. The requested page size. The server might return fewer items than requested. If unspecified, the default page size is 50. The maximum value is 1000.",
                          "format": "int32",
                          "type": "integer"
                        }
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/dbFrameworkComplianceReports/{dbFrameworkComplianceReportsId}/dbControlComplianceSummaries",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "GoogleCloudAssuredworkloadsV1beta1ListDbControlComplianceSummariesResponse"
                      },
                      "path": "v1beta1/{+parent}/dbControlComplianceSummaries",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Lists the control compliance summary for a given scope.",
                      "id": "assuredworkloads.projects.locations.dbFrameworkComplianceReports.dbControlComplianceSummaries.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                }
              }
            },
            "dbFrameworkComplianceSummaries": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "view": {
                      "enumDescriptions": [
                        "The default / unset value. The API will default to the BASIC view.",
                        "Includes basic compliance metadata, but omits trend data.",
                        "Includes all information, including finding_count and controls_passing_trend. Trend data is provided for the last 30 days."
                      ],
                      "type": "string",
                      "description": "Optional. Specifies the level of detail to return in the response.",
                      "location": "query",
                      "enum": [
                        "FRAMEWORK_COMPLIANCE_SUMMARY_VIEW_UNSPECIFIED",
                        "FRAMEWORK_COMPLIANCE_SUMMARY_VIEW_BASIC",
                        "FRAMEWORK_COMPLIANCE_SUMMARY_VIEW_FULL"
                      ]
                    },
                    "filter": {
                      "description": "Optional. The filtering results.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent scope for the framework compliance summary. Format: organizations/{organization}/locations/{location} folders/{folder}/locations/{location} projects/{project}/locations/{location}"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "Optional. The requested page size. The server might return fewer items than requested. If unspecified, the default page size is 50. The maximum value is 1000."
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A token that identifies the page of results that the server should return. Pass the next_page_token value from a previous result."
                    }
                  },
                  "id": "assuredworkloads.projects.locations.dbFrameworkComplianceSummaries.list",
                  "path": "v1beta1/{+parent}/dbFrameworkComplianceSummaries",
                  "description": "Lists the framework compliance summary for a given scope.",
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1beta1ListDbFrameworkComplianceSummariesResponse"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/dbFrameworkComplianceSummaries",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "organizations": {
      "resources": {
        "locations": {
          "resources": {
            "operations": {
              "methods": {
                "list": {
                  "path": "v1beta1/{+name}/operations",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "id": "assuredworkloads.organizations.locations.operations.list",
                  "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/operations",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The standard list page token."
                    },
                    "returnPartialSuccess": {
                      "location": "query",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "type": "boolean"
                    },
                    "filter": {
                      "location": "query",
                      "description": "The standard list filter.",
                      "type": "string"
                    },
                    "name": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "The name of the operation's parent resource.",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "The standard list page size.",
                      "location": "query",
                      "format": "int32"
                    }
                  }
                },
                "get": {
                  "path": "v1beta1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/operations/{operationsId}",
                  "id": "assuredworkloads.organizations.locations.operations.get",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            },
            "workloads": {
              "methods": {
                "patch": {
                  "request": {
                    "$ref": "GoogleCloudAssuredworkloadsV1beta1Workload"
                  },
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1beta1Workload"
                  },
                  "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}",
                  "description": "Updates an existing workload. Currently allows updating of workload display_name and labels. For force updates don't set etag field in the Workload. Only one update operation per workload can be in progress.",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "assuredworkloads.organizations.locations.workloads.patch",
                  "path": "v1beta1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "PATCH",
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "description": "Required. The list of fields to be updated.",
                      "type": "string",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "location": "path",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$",
                      "type": "string",
                      "description": "Optional. The resource name of the workload. Format: organizations/{organization}/locations/{location}/workloads/{workload} Read-only.",
                      "required": true
                    }
                  }
                },
                "enableResourceMonitoring": {
                  "parameters": {
                    "name": {
                      "description": "Required. The `name` field is used to identify the workload. Format: organizations/{org_id}/locations/{location_id}/workloads/{workload_id}",
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "httpMethod": "POST",
                  "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}:enableResourceMonitoring",
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1beta1EnableResourceMonitoringResponse"
                  },
                  "id": "assuredworkloads.organizations.locations.workloads.enableResourceMonitoring",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Enable resource violation monitoring for a workload.",
                  "path": "v1beta1/{+name}:enableResourceMonitoring"
                },
                "analyzeWorkloadMove": {
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. The page token from the previous response. It needs to be passed in the second and following requests."
                    },
                    "assetTypes": {
                      "location": "query",
                      "repeated": true,
                      "description": "Optional. List of asset types to be analyzed, including and under the source resource. If empty, all assets are analyzed. The complete list of asset types is available [here](https://cloud.google.com/asset-inventory/docs/supported-asset-types).",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "Optional. Page size. If a value is not specified, the default value of 10 is used. The maximum value is 50.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "target": {
                      "type": "string",
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$",
                      "description": "Required. The resource ID of the folder-based destination workload. This workload is where the source resource will hypothetically be moved to. Specify the workload's relative resource name, formatted as: \"organizations/{ORGANIZATION_ID}/locations/{LOCATION_ID}/workloads/{WORKLOAD_ID}\" For example: \"organizations/123/locations/us-east1/workloads/assured-workload-2\"",
                      "location": "path"
                    },
                    "project": {
                      "type": "string",
                      "description": "The source type is a project. Specify the project's relative resource name, formatted as either a project number or a project ID: \"projects/{PROJECT_NUMBER}\" or \"projects/{PROJECT_ID}\" For example: \"projects/951040570662\" when specifying a project number, or \"projects/my-project-123\" when specifying a project ID.",
                      "location": "query"
                    }
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "target"
                  ],
                  "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}:analyzeWorkloadMove",
                  "description": "Analyzes a hypothetical move of a source resource to a target workload to surface compliance risks. The analysis is best effort and is not guaranteed to be exhaustive.",
                  "id": "assuredworkloads.organizations.locations.workloads.analyzeWorkloadMove",
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1beta1AnalyzeWorkloadMoveResponse"
                  },
                  "path": "v1beta1/{+target}:analyzeWorkloadMove",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "path": "v1beta1/{+name}",
                  "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$",
                      "description": "Required. The resource name of the Workload to fetch. This is the workloads's relative path in the API, formatted as \"organizations/{organization_id}/locations/{location_id}/workloads/{workload_id}\". For example, \"organizations/123/locations/us-east1/workloads/assured-workload-1\"."
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1beta1Workload"
                  },
                  "httpMethod": "GET",
                  "id": "assuredworkloads.organizations.locations.workloads.get",
                  "description": "Gets Assured Workload associated with a CRM Node",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                },
                "enableComplianceUpdates": {
                  "path": "v1beta1/{+name}:enableComplianceUpdates",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PUT",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. The `name` field is used to identify the workload. Format: organizations/{org_id}/locations/{location_id}/workloads/{workload_id}",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1beta1EnableComplianceUpdatesResponse"
                  },
                  "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}:enableComplianceUpdates",
                  "description": "This endpoint enables Assured Workloads service to offer compliance updates for the folder based assured workload. It sets up an Assured Workloads Service Agent, having permissions to read compliance controls (for example: Org Policies) applied on the workload. The caller must have `resourcemanager.folders.getIamPolicy` and `resourcemanager.folders.setIamPolicy` permissions on the assured workload folder.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "assuredworkloads.organizations.locations.workloads.enableComplianceUpdates"
                },
                "list": {
                  "path": "v1beta1/{+parent}/workloads",
                  "id": "assuredworkloads.organizations.locations.workloads.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. Parent Resource to list workloads from. Must be of the form `organizations/{org_id}/locations/{location}`.",
                      "location": "path"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "A custom filter for filtering by properties of a workload. At this time, only filtering by labels is supported."
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "Page size."
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Page token returned from previous request. Page token contains context from previous request. Page token needs to be passed in the second and following requests."
                    }
                  },
                  "httpMethod": "GET",
                  "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/workloads",
                  "description": "Lists Assured Workloads under a CRM Node.",
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1beta1ListWorkloadsResponse"
                  }
                },
                "delete": {
                  "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes the workload. Make sure that workload's direct children are already in a deleted state, otherwise the request will fail with a FAILED_PRECONDITION error. In addition to assuredworkloads.workload.delete permission, the user should also have orgpolicy.policy.set permission on the deleted folder to remove Assured Workloads OrgPolicies.",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The `name` field is used to identify the workload. Format: organizations/{org_id}/locations/{location_id}/workloads/{workload_id}",
                      "type": "string"
                    },
                    "etag": {
                      "location": "query",
                      "description": "Optional. The etag of the workload. If this is provided, it must match the server's etag.",
                      "type": "string"
                    }
                  },
                  "httpMethod": "DELETE",
                  "path": "v1beta1/{+name}",
                  "id": "assuredworkloads.organizations.locations.workloads.delete"
                },
                "restrictAllowedResources": {
                  "path": "v1beta1/{+name}:restrictAllowedResources",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "GoogleCloudAssuredworkloadsV1beta1RestrictAllowedResourcesRequest"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$",
                      "location": "path",
                      "description": "Required. The resource name of the Workload. This is the workloads's relative path in the API, formatted as \"organizations/{organization_id}/locations/{location_id}/workloads/{workload_id}\". For example, \"organizations/123/locations/us-east1/workloads/assured-workload-1\"."
                    }
                  },
                  "id": "assuredworkloads.organizations.locations.workloads.restrictAllowedResources",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1beta1RestrictAllowedResourcesResponse"
                  },
                  "description": "Restrict the list of resources allowed in the Workload environment. The current list of allowed products can be found at https://cloud.google.com/assured-workloads/docs/supported-products In addition to assuredworkloads.workload.update permission, the user should also have orgpolicy.policy.set permission on the folder resource to use this functionality.",
                  "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}:restrictAllowedResources",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "create": {
                  "httpMethod": "POST",
                  "description": "Creates Assured Workload.",
                  "parameters": {
                    "externalId": {
                      "description": "Optional. A identifier associated with the workload and underlying projects which allows for the break down of billing costs for a workload. The value provided for the identifier will add a label to the workload and contained projects with the identifier as the value.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "description": "Required. The resource name of the new Workload's parent. Must be of the form `organizations/{org_id}/locations/{location_id}`.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "path": "v1beta1/{+parent}/workloads",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "assuredworkloads.organizations.locations.workloads.create",
                  "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/workloads",
                  "request": {
                    "$ref": "GoogleCloudAssuredworkloadsV1beta1Workload"
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  }
                }
              },
              "resources": {
                "violations": {
                  "methods": {
                    "acknowledge": {
                      "description": "Acknowledges an existing violation. By acknowledging a violation, users acknowledge the existence of a compliance violation in their workload and decide to ignore it due to a valid business justification. Acknowledgement is a permanent operation and it cannot be reverted.",
                      "httpMethod": "POST",
                      "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}/violations/{violationsId}:acknowledge",
                      "parameters": {
                        "name": {
                          "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+/violations/[^/]+$",
                          "description": "Required. The resource name of the Violation to acknowledge. Format: organizations/{organization}/locations/{location}/workloads/{workload}/violations/{violation}",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudAssuredworkloadsV1beta1AcknowledgeViolationResponse"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "assuredworkloads.organizations.locations.workloads.violations.acknowledge",
                      "path": "v1beta1/{+name}:acknowledge",
                      "request": {
                        "$ref": "GoogleCloudAssuredworkloadsV1beta1AcknowledgeViolationRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "get": {
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Retrieves Assured Workload Violation based on ID.",
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "description": "Required. The resource name of the Violation to fetch (ie. Violation.name). Format: organizations/{organization}/locations/{location}/workloads/{workload}/violations/{violation}",
                          "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+/violations/[^/]+$"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}/violations/{violationsId}",
                      "path": "v1beta1/{+name}",
                      "response": {
                        "$ref": "GoogleCloudAssuredworkloadsV1beta1Violation"
                      },
                      "id": "assuredworkloads.organizations.locations.workloads.violations.get"
                    },
                    "list": {
                      "path": "v1beta1/{+parent}/violations",
                      "id": "assuredworkloads.organizations.locations.workloads.violations.list",
                      "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}/violations",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "GoogleCloudAssuredworkloadsV1beta1ListViolationsResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "interval.startTime": {
                          "format": "google-datetime",
                          "location": "query",
                          "description": "The start of the time window.",
                          "type": "string"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "Optional. Page token returned from previous request.",
                          "location": "query"
                        },
                        "pageSize": {
                          "description": "Optional. Page size.",
                          "type": "integer",
                          "format": "int32",
                          "location": "query"
                        },
                        "filter": {
                          "description": "Optional. A custom filter for filtering by the Violations properties.",
                          "type": "string",
                          "location": "query"
                        },
                        "interval.endTime": {
                          "format": "google-datetime",
                          "location": "query",
                          "type": "string",
                          "description": "The end of the time window."
                        },
                        "parent": {
                          "location": "path",
                          "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$",
                          "required": true,
                          "description": "Required. The Workload name. Format `organizations/{org_id}/locations/{location}/workloads/{workload}`.",
                          "type": "string"
                        },
                        "orderBy": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. Actionable sorting delegation."
                        }
                      },
                      "description": "Lists the Violations in the AssuredWorkload Environment. Callers may also choose to read across multiple Workloads as per [AIP-159](https://google.aip.dev/159) by using '-' (the hyphen or dash character) as a wildcard character instead of workload-id in the parent. Format `organizations/{org_id}/locations/{location}/workloads/-`"
                    }
                  }
                },
                "updates": {
                  "methods": {
                    "list": {
                      "parameters": {
                        "parent": {
                          "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$",
                          "location": "path",
                          "description": "Required. organizations/{org_id}/locations/{location_id}/workloads/{workload_id}",
                          "required": true,
                          "type": "string"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "Page token returned from previous request.",
                          "type": "string"
                        },
                        "pageSize": {
                          "type": "integer",
                          "location": "query",
                          "format": "int32",
                          "description": "Page size. The default value is 20 and the max allowed value is 100."
                        }
                      },
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "This endpoint lists all updates for the given workload.",
                      "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}/updates",
                      "response": {
                        "$ref": "GoogleCloudAssuredworkloadsV1beta1ListWorkloadUpdatesResponse"
                      },
                      "id": "assuredworkloads.organizations.locations.workloads.updates.list",
                      "path": "v1beta1/{+parent}/updates"
                    },
                    "apply": {
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "GoogleCloudAssuredworkloadsV1beta1ApplyWorkloadUpdateRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "description": "This endpoint creates a new operation to apply the given update.",
                      "parameters": {
                        "name": {
                          "description": "Required. The resource name of the update. Format: organizations/{org_id}/locations/{location_id}/workloads/{workload_id}/updates/{update_id}",
                          "type": "string",
                          "required": true,
                          "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+/updates/[^/]+$",
                          "location": "path"
                        }
                      },
                      "path": "v1beta1/{+name}:apply",
                      "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}/updates/{updatesId}:apply",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "id": "assuredworkloads.organizations.locations.workloads.updates.apply"
                    }
                  }
                }
              }
            },
            "dbFrameworkComplianceSummaries": {
              "methods": {
                "list": {
                  "id": "assuredworkloads.organizations.locations.dbFrameworkComplianceSummaries.list",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists the framework compliance summary for a given scope.",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. A token that identifies the page of results that the server should return. Pass the next_page_token value from a previous result.",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer",
                      "description": "Optional. The requested page size. The server might return fewer items than requested. If unspecified, the default page size is 50. The maximum value is 1000."
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The filtering results."
                    },
                    "parent": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The parent scope for the framework compliance summary. Format: organizations/{organization}/locations/{location} folders/{folder}/locations/{location} projects/{project}/locations/{location}"
                    },
                    "view": {
                      "enumDescriptions": [
                        "The default / unset value. The API will default to the BASIC view.",
                        "Includes basic compliance metadata, but omits trend data.",
                        "Includes all information, including finding_count and controls_passing_trend. Trend data is provided for the last 30 days."
                      ],
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Specifies the level of detail to return in the response.",
                      "enum": [
                        "FRAMEWORK_COMPLIANCE_SUMMARY_VIEW_UNSPECIFIED",
                        "FRAMEWORK_COMPLIANCE_SUMMARY_VIEW_BASIC",
                        "FRAMEWORK_COMPLIANCE_SUMMARY_VIEW_FULL"
                      ]
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1beta1ListDbFrameworkComplianceSummariesResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/dbFrameworkComplianceSummaries",
                  "path": "v1beta1/{+parent}/dbFrameworkComplianceSummaries"
                }
              }
            },
            "dbFrameworkComplianceReports": {
              "methods": {
                "aggregate": {
                  "id": "assuredworkloads.organizations.locations.dbFrameworkComplianceReports.aggregate",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "description": "Gets the aggregated compliance report over time for a given scope.",
                  "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/dbFrameworkComplianceReports/{dbFrameworkComplianceReportsId}:aggregate",
                  "parameters": {
                    "interval.startTime": {
                      "format": "google-datetime",
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start."
                    },
                    "name": {
                      "required": true,
                      "description": "Required. The name of the aggregated compliance report over time to retrieve. Format: `organizations/{organization_id}/locations/{location}/dbFrameworkComplianceReports/{db_framework_compliance_report}`",
                      "location": "path",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/dbFrameworkComplianceReports/[^/]+$"
                    },
                    "interval.endTime": {
                      "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end.",
                      "type": "string",
                      "location": "query",
                      "format": "google-datetime"
                    },
                    "filter": {
                      "description": "Optional. The filtering results.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1beta1AggregateDbFrameworkComplianceReportResponse"
                  },
                  "path": "v1beta1/{+name}:aggregate",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "fetch": {
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta1/{+name}:fetch",
                  "description": "Fetches the framework compliance report for a given scope.",
                  "parameters": {
                    "filter": {
                      "description": "Optional. The filtering results.",
                      "type": "string",
                      "location": "query"
                    },
                    "endTime": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The end time of the report.",
                      "format": "google-datetime"
                    },
                    "name": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/dbFrameworkComplianceReports/[^/]+$",
                      "description": "Required. The name of the framework compliance report to retrieve.",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "id": "assuredworkloads.organizations.locations.dbFrameworkComplianceReports.fetch",
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1beta1FetchDbFrameworkComplianceReportResponse"
                  },
                  "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/dbFrameworkComplianceReports/{dbFrameworkComplianceReportsId}:fetch"
                }
              },
              "resources": {
                "dbControlComplianceSummaries": {
                  "methods": {
                    "list": {
                      "id": "assuredworkloads.organizations.locations.dbFrameworkComplianceReports.dbControlComplianceSummaries.list",
                      "description": "Lists the control compliance summary for a given scope.",
                      "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/dbFrameworkComplianceReports/{dbFrameworkComplianceReportsId}/dbControlComplianceSummaries",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleCloudAssuredworkloadsV1beta1ListDbControlComplianceSummariesResponse"
                      },
                      "path": "v1beta1/{+parent}/dbControlComplianceSummaries",
                      "parameters": {
                        "pageSize": {
                          "description": "Optional. The requested page size. The server might return fewer items than requested. If unspecified, the default page size is 50. The maximum value is 1000.",
                          "location": "query",
                          "format": "int32",
                          "type": "integer"
                        },
                        "filter": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. The filtering results."
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "Optional. A token that identifies the page of results that the server should return.",
                          "type": "string"
                        },
                        "parent": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "description": "Required. The parent scope for the framework overview page. Format: organizations/{organization}/locations/{location}/dbFrameworkComplianceReports/{db_framework_compliance_report} folders/{folder}/locations/{location}/dbFrameworkComplianceReports/{db_framework_compliance_report} projects/{project}/locations/{location}/dbFrameworkComplianceReports/{db_framework_compliance_report}",
                          "pattern": "^organizations/[^/]+/locations/[^/]+/dbFrameworkComplianceReports/[^/]+$"
                        }
                      },
                      "httpMethod": "GET"
                    }
                  }
                }
              }
            },
            "dbFindingSummaries": {
              "methods": {
                "list": {
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1beta1ListDbFindingSummariesResponse"
                  },
                  "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/dbFindingSummaries",
                  "description": "Lists the finding summary by category for a given scope.",
                  "path": "v1beta1/{+parent}/dbFindingSummaries",
                  "id": "assuredworkloads.organizations.locations.dbFindingSummaries.list",
                  "parameters": {
                    "pageToken": {
                      "description": "Optional. A token that identifies the page of results that the server should return.",
                      "type": "string",
                      "location": "query"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. The filtering results.",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The parent scope for the framework overview page. Formats: - projects/{project}/locations/{location} - folders/{folder}/locations/{location} - organizations/{organization}/locations/{location}",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. The requested page size. The server might return fewer items than requested. If unspecified, the server picks an appropriate default.",
                      "location": "query"
                    }
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "folders": {
      "resources": {
        "locations": {
          "resources": {
            "dbFrameworkComplianceReports": {
              "resources": {
                "dbControlComplianceSummaries": {
                  "methods": {
                    "list": {
                      "id": "assuredworkloads.folders.locations.dbFrameworkComplianceReports.dbControlComplianceSummaries.list",
                      "description": "Lists the control compliance summary for a given scope.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleCloudAssuredworkloadsV1beta1ListDbControlComplianceSummariesResponse"
                      },
                      "flatPath": "v1beta1/folders/{foldersId}/locations/{locationsId}/dbFrameworkComplianceReports/{dbFrameworkComplianceReportsId}/dbControlComplianceSummaries",
                      "path": "v1beta1/{+parent}/dbControlComplianceSummaries",
                      "parameters": {
                        "filter": {
                          "description": "Optional. The filtering results.",
                          "type": "string",
                          "location": "query"
                        },
                        "parent": {
                          "pattern": "^folders/[^/]+/locations/[^/]+/dbFrameworkComplianceReports/[^/]+$",
                          "type": "string",
                          "description": "Required. The parent scope for the framework overview page. Format: organizations/{organization}/locations/{location}/dbFrameworkComplianceReports/{db_framework_compliance_report} folders/{folder}/locations/{location}/dbFrameworkComplianceReports/{db_framework_compliance_report} projects/{project}/locations/{location}/dbFrameworkComplianceReports/{db_framework_compliance_report}",
                          "location": "path",
                          "required": true
                        },
                        "pageSize": {
                          "format": "int32",
                          "description": "Optional. The requested page size. The server might return fewer items than requested. If unspecified, the default page size is 50. The maximum value is 1000.",
                          "location": "query",
                          "type": "integer"
                        },
                        "pageToken": {
                          "description": "Optional. A token that identifies the page of results that the server should return.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET"
                    }
                  }
                }
              },
              "methods": {
                "aggregate": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta1/{+name}:aggregate",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets the aggregated compliance report over time for a given scope.",
                  "flatPath": "v1beta1/folders/{foldersId}/locations/{locationsId}/dbFrameworkComplianceReports/{dbFrameworkComplianceReportsId}:aggregate",
                  "id": "assuredworkloads.folders.locations.dbFrameworkComplianceReports.aggregate",
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1beta1AggregateDbFrameworkComplianceReportResponse"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "description": "Required. The name of the aggregated compliance report over time to retrieve. Format: `organizations/{organization_id}/locations/{location}/dbFrameworkComplianceReports/{db_framework_compliance_report}`",
                      "type": "string",
                      "pattern": "^folders/[^/]+/locations/[^/]+/dbFrameworkComplianceReports/[^/]+$"
                    },
                    "filter": {
                      "location": "query",
                      "description": "Optional. The filtering results.",
                      "type": "string"
                    },
                    "interval.startTime": {
                      "location": "query",
                      "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start.",
                      "type": "string",
                      "format": "google-datetime"
                    },
                    "interval.endTime": {
                      "format": "google-datetime",
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end."
                    }
                  },
                  "httpMethod": "GET"
                },
                "fetch": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. The name of the framework compliance report to retrieve.",
                      "pattern": "^folders/[^/]+/locations/[^/]+/dbFrameworkComplianceReports/[^/]+$"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The filtering results."
                    },
                    "endTime": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. The end time of the report.",
                      "format": "google-datetime"
                    }
                  },
                  "id": "assuredworkloads.folders.locations.dbFrameworkComplianceReports.fetch",
                  "httpMethod": "GET",
                  "path": "v1beta1/{+name}:fetch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta1/folders/{foldersId}/locations/{locationsId}/dbFrameworkComplianceReports/{dbFrameworkComplianceReportsId}:fetch",
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1beta1FetchDbFrameworkComplianceReportResponse"
                  },
                  "description": "Fetches the framework compliance report for a given scope.",
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            },
            "dbFindingSummaries": {
              "methods": {
                "list": {
                  "description": "Lists the finding summary by category for a given scope.",
                  "parameters": {
                    "filter": {
                      "description": "Optional. The filtering results.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Optional. The requested page size. The server might return fewer items than requested. If unspecified, the server picks an appropriate default.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A token that identifies the page of results that the server should return."
                    },
                    "parent": {
                      "location": "path",
                      "description": "Required. The parent scope for the framework overview page. Formats: - projects/{project}/locations/{location} - folders/{folder}/locations/{location} - organizations/{organization}/locations/{location}",
                      "pattern": "^folders/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1beta1/folders/{foldersId}/locations/{locationsId}/dbFindingSummaries",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta1/{+parent}/dbFindingSummaries",
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1beta1ListDbFindingSummariesResponse"
                  },
                  "id": "assuredworkloads.folders.locations.dbFindingSummaries.list"
                }
              }
            },
            "dbFrameworkComplianceSummaries": {
              "methods": {
                "list": {
                  "description": "Lists the framework compliance summary for a given scope.",
                  "httpMethod": "GET",
                  "path": "v1beta1/{+parent}/dbFrameworkComplianceSummaries",
                  "parameters": {
                    "view": {
                      "enum": [
                        "FRAMEWORK_COMPLIANCE_SUMMARY_VIEW_UNSPECIFIED",
                        "FRAMEWORK_COMPLIANCE_SUMMARY_VIEW_BASIC",
                        "FRAMEWORK_COMPLIANCE_SUMMARY_VIEW_FULL"
                      ],
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Specifies the level of detail to return in the response.",
                      "enumDescriptions": [
                        "The default / unset value. The API will default to the BASIC view.",
                        "Includes basic compliance metadata, but omits trend data.",
                        "Includes all information, including finding_count and controls_passing_trend. Trend data is provided for the last 30 days."
                      ]
                    },
                    "parent": {
                      "pattern": "^folders/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The parent scope for the framework compliance summary. Format: organizations/{organization}/locations/{location} folders/{folder}/locations/{location} projects/{project}/locations/{location}"
                    },
                    "filter": {
                      "description": "Optional. The filtering results.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query",
                      "description": "Optional. The requested page size. The server might return fewer items than requested. If unspecified, the default page size is 50. The maximum value is 1000."
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. A token that identifies the page of results that the server should return. Pass the next_page_token value from a previous result.",
                      "type": "string"
                    }
                  },
                  "id": "assuredworkloads.folders.locations.dbFrameworkComplianceSummaries.list",
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1beta1ListDbFrameworkComplianceSummariesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1beta1/folders/{foldersId}/locations/{locationsId}/dbFrameworkComplianceSummaries"
                }
              }
            }
          }
        }
      }
    }
  },
  "revision": "20260904",
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "canonicalName": "Assuredworkloads",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "version_module": true,
  "rootUrl": "https://assuredworkloads.googleapis.com/",
  "ownerName": "Google",
  "documentationLink": "https://cloud.google.com/learnmoreurl",
  "description": "",
  "schemas": {
    "GoogleCloudAssuredworkloadsV1beta1RevertArchivedResourceEventsRequest": {
      "description": "Request for reverting archived resource events.",
      "properties": {
        "maxEventsMove": {
          "type": "integer",
          "format": "int32",
          "description": "Required. The maximum total number of events to move in this request."
        },
        "region": {
          "description": "Required. The region of the workload(s) whose events should be reverted. This is used to filter workloads based on AssurantWorkloadData.region.",
          "type": "string"
        },
        "archiveStartTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Required. Only events within this time range will be reverted. This helps prevent reverting everything when something goes wrong."
        },
        "organizationId": {
          "type": "string",
          "description": "Required. The organization ID for which to revert events.",
          "format": "int64"
        },
        "batchSize": {
          "format": "int32",
          "type": "integer",
          "description": "Required. The number of events to process in a single transaction batch."
        },
        "archiveEndTime": {
          "description": "Required. Only events within this time range will be reverted. This helps prevent reverting everything when something goes wrong.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1beta1RevertArchivedResourceEventsRequest"
    },
    "GoogleCloudAssuredworkloadsV1beta1Trend": {
      "properties": {
        "duration": {
          "type": "string",
          "readOnly": true,
          "format": "google-duration",
          "description": "Output only. The duration for the trend."
        },
        "valuePercent": {
          "readOnly": true,
          "format": "double",
          "description": "Output only. The trend value as a percentage. The value can be positive or negative.",
          "type": "number"
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1beta1Trend",
      "description": "The trend of a compliance metric.",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1beta1ControlAssessmentDetails": {
      "id": "GoogleCloudAssuredworkloadsV1beta1ControlAssessmentDetails",
      "properties": {
        "notAssessedControlIds": {
          "type": "array",
          "description": "The list of controls that aren't assessed because they require manual review.",
          "items": {
            "type": "string"
          }
        },
        "assessedPassingControls": {
          "type": "integer",
          "description": "The number of controls that were assessed and are passing.",
          "format": "int32"
        },
        "notAssessedControls": {
          "description": "The number of controls that aren't assessed because they require manual review.",
          "format": "int32",
          "type": "integer"
        },
        "assessedPassingControlIds": {
          "description": "The list of controls that were assessed and are passing.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "passingControls": {
          "format": "int32",
          "description": "The number of controls that are passing or not assessed.",
          "type": "integer"
        },
        "passingControlIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The list of controls that are passing or not assessed."
        },
        "failingControls": {
          "description": "The number of controls that are failing.",
          "format": "int32",
          "type": "integer"
        },
        "failingControlIds": {
          "description": "The list of controls that are failing.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "The details for a control assessment."
    },
    "GoogleCloudAssuredworkloadsV1beta1ApplyWorkloadUpdateResponse": {
      "id": "GoogleCloudAssuredworkloadsV1beta1ApplyWorkloadUpdateResponse",
      "properties": {
        "appliedUpdate": {
          "description": "The update that was applied.",
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadUpdate"
        }
      },
      "description": "Response for ApplyWorkloadUpdate endpoint.",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1beta1OrgPolicy": {
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1beta1OrgPolicy",
      "properties": {
        "resource": {
          "description": "Resource that the OrgPolicy attaches to. Format: folders/123\" projects/123\".",
          "type": "string"
        },
        "inherit": {
          "type": "boolean",
          "description": "If `inherit` is true, policy rules of the lowest ancestor in the resource hierarchy chain are inherited. If it is false, policy rules are not inherited."
        },
        "constraint": {
          "type": "string",
          "description": "The constraint name of the OrgPolicy. e.g. \"constraints/gcp.resourceLocations\"."
        },
        "rule": {
          "description": "The rule of the OrgPolicy.",
          "$ref": "GoogleCloudAssuredworkloadsV1beta1OrgPolicyPolicyRule"
        },
        "reset": {
          "description": "Ignores policies set above this resource and restores to the `constraint_default` value. `reset` can only be true when `rules` is empty and `inherit` is false.",
          "type": "boolean"
        }
      },
      "description": "This assured workload service object is used to represent the org policy attached to a resource. It servces the same purpose as the orgpolicy.v2.Policy object but with functionality that is limited to what is supported by Assured Workloads(e.g. only one rule under one OrgPolicy object, no conditions, etc)."
    },
    "GoogleCloudAssuredworkloadsV1beta1WorkloadFedrampModerateSettings": {
      "deprecated": true,
      "properties": {
        "kmsSettings": {
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadKMSSettings",
          "description": "Input only. Immutable. Settings used to create a CMEK crypto key."
        }
      },
      "description": "Settings specific to resources needed for FedRAMP Moderate.",
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1beta1WorkloadFedrampModerateSettings"
    },
    "GoogleCloudAssuredworkloadsV1beta1ListDbFindingSummariesResponse": {
      "type": "object",
      "description": "The response message for ListDbFindingSummaries.",
      "properties": {
        "dbFindingSummaries": {
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1beta1DbFindingSummary"
          },
          "description": "List of finding summary by category.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Output only. The token to retrieve the next page of results.",
          "readOnly": true
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1beta1ListDbFindingSummariesResponse"
    },
    "GoogleCloudAssuredworkloadsV1beta1WorkloadUpdate": {
      "description": "A workload update is a change to the workload's compliance configuration.",
      "properties": {
        "createTime": {
          "type": "string",
          "description": "The time the update was created.",
          "format": "google-datetime"
        },
        "name": {
          "description": "Output only. Immutable. Identifier. Resource name of the WorkloadUpdate. Format: organizations/{organization}/locations/{location}/workloads/{workload}/updates/{update}",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "description": "The time the update was last updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "details": {
          "description": "The details of the update.",
          "$ref": "GoogleCloudAssuredworkloadsV1beta1UpdateDetails"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "The update is available to be applied.",
            "The update has been applied.",
            "The update has been withdrawn by the service."
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "AVAILABLE",
            "APPLIED",
            "WITHDRAWN"
          ],
          "description": "Output only. The state of the update."
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1beta1WorkloadUpdate",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1beta1OrgPolicyPolicyRuleStringValues": {
      "id": "GoogleCloudAssuredworkloadsV1beta1OrgPolicyPolicyRuleStringValues",
      "properties": {
        "allowedValues": {
          "description": "List of values allowed at this resource.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "deniedValues": {
          "items": {
            "type": "string"
          },
          "description": "List of values denied at this resource.",
          "type": "array"
        }
      },
      "description": "The values allowed for a ListPolicy.",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1beta1AssetMoveAnalysis": {
      "properties": {
        "analysisGroups": {
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1beta1MoveAnalysisGroup"
          },
          "description": "List of eligible analyses performed for the asset.",
          "type": "array"
        },
        "assetType": {
          "type": "string",
          "description": "Type of the asset being analyzed. Possible values will be among the ones listed [here](https://cloud.google.com/asset-inventory/docs/supported-asset-types)."
        },
        "asset": {
          "type": "string",
          "description": "The full resource name of the asset being analyzed. Example: //compute.googleapis.com/projects/my_project_123/zones/zone1/instances/instance1"
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1beta1AssetMoveAnalysis",
      "description": "Represents move analysis results for an asset.",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1beta1AcknowledgeViolationResponse": {
      "description": "Response for violation acknowledgement",
      "type": "object",
      "properties": {},
      "id": "GoogleCloudAssuredworkloadsV1beta1AcknowledgeViolationResponse"
    },
    "GoogleCloudAssuredworkloadsV1beta1MoveAnalysisResult": {
      "description": "Represents the successful move analysis results for a group.",
      "properties": {
        "warnings": {
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1beta1MoveImpact"
          },
          "type": "array",
          "description": "List of warnings. These are risks that may or may not result in compliance violations."
        },
        "blockers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1beta1MoveImpact"
          },
          "description": "List of blockers. If not resolved, these will result in compliance violations in the target."
        }
      },
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1beta1MoveAnalysisResult"
    },
    "GoogleCloudAssuredworkloadsV1beta1MoveImpact": {
      "properties": {
        "detail": {
          "type": "string",
          "description": "Explanation of the impact."
        }
      },
      "description": "Represents the impact of moving the asset to the target.",
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1beta1MoveImpact"
    },
    "GoogleCloudAssuredworkloadsV1beta1TargetResourceDetails": {
      "properties": {
        "minorRevisionId": {
          "type": "string",
          "description": "The minor revision ID of the framework for the target resource.",
          "format": "int64"
        },
        "targetResource": {
          "description": "The target resource. For example, `organizations/1234567890`, `projects/1234567890`, or `folders/1234567890`.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The update time of the target resource."
        },
        "majorRevisionId": {
          "description": "The major revision ID of the framework for the target resource.",
          "format": "int64",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "The create time of the target resource.",
          "format": "google-datetime"
        },
        "frameworkDeployment": {
          "type": "string",
          "description": "The framework deployment name for the target resource. For example, `organizations/{organization_id}/locations/{location}/frameworkDeployments/{framework_deployment_id}`"
        },
        "targetResourceDisplayName": {
          "type": "string",
          "description": "The display name of the target resource. For example, `google.com`, `staging-project`, or `development-folder`."
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1beta1TargetResourceDetails",
      "type": "object",
      "description": "The details for a target resource."
    },
    "GoogleCloudAssuredworkloadsV1beta1MoveAnalysisGroup": {
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Name of the analysis group.",
          "type": "string"
        },
        "error": {
          "$ref": "GoogleRpcStatus",
          "description": "Error details for a failed analysis."
        },
        "analysisResult": {
          "$ref": "GoogleCloudAssuredworkloadsV1beta1MoveAnalysisResult",
          "description": "Result of a successful analysis."
        }
      },
      "description": "Represents a logical group of checks performed for an asset. If successful, the group contains the analysis result, otherwise it contains an error with the failure reason.",
      "id": "GoogleCloudAssuredworkloadsV1beta1MoveAnalysisGroup"
    },
    "GoogleCloudAssuredworkloadsV1beta1ApplyWorkloadUpdateRequest": {
      "id": "GoogleCloudAssuredworkloadsV1beta1ApplyWorkloadUpdateRequest",
      "description": "Request to apply update to a workload.",
      "type": "object",
      "properties": {
        "action": {
          "enum": [
            "WORKLOAD_UPDATE_ACTION_UNSPECIFIED",
            "APPLY"
          ],
          "enumDescriptions": [
            "Unspecified value.",
            "The update is applied."
          ],
          "description": "The action to be performed on the update.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1beta1WorkloadResourceSettings": {
      "id": "GoogleCloudAssuredworkloadsV1beta1WorkloadResourceSettings",
      "description": "Represent the custom settings for the resources to be created.",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "User-assigned resource display name. If not empty it will be used to create a resource with the specified name."
        },
        "resourceType": {
          "description": "Indicates the type of resource. This field should be specified to correspond the id to the right project type (CONSUMER_PROJECT or ENCRYPTION_KEYS_PROJECT)",
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "CONSUMER_PROJECT",
            "CONSUMER_FOLDER",
            "ENCRYPTION_KEYS_PROJECT",
            "KEYRING"
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown resource type.",
            "Deprecated. Existing workloads will continue to support this, but new CreateWorkloadRequests should not specify this as an input value.",
            "Consumer Folder.",
            "Consumer project containing encryption keys.",
            "Keyring resource that hosts encryption keys."
          ]
        },
        "resourceId": {
          "description": "Resource identifier. For a project this represents project_id. If the project is already taken, the workload creation will fail. For KeyRing, this represents the keyring_id. For a folder, don't set this value as folder_id is assigned by Google.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleRpcStatus": {
      "properties": {
        "details": {
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        }
      },
      "id": "GoogleRpcStatus",
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "GoogleCloudAssuredworkloadsV1beta1ListDbFrameworkComplianceSummariesResponse": {
      "description": "The response message for ListDbFrameworkComplianceSummariesResponse.",
      "id": "GoogleCloudAssuredworkloadsV1beta1ListDbFrameworkComplianceSummariesResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "readOnly": true,
          "description": "Output only. The token to retrieve the next page of results.",
          "type": "string"
        },
        "dbFrameworkComplianceSummaries": {
          "description": "The list of framework compliance summaries.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1beta1DbFrameworkComplianceSummary"
          }
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1beta1ArchiveResourceEventsResponse": {
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1beta1ArchiveResourceEventsResponse",
      "description": "Response for archiving resource events.",
      "properties": {
        "movedEventsCount": {
          "type": "integer",
          "description": "The total number of events successfully moved to the archive table.",
          "format": "int32"
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1beta1WorkloadWorkloadOptions": {
      "description": "Options to be set for the given created workload.",
      "properties": {
        "kajEnrollmentType": {
          "type": "string",
          "enumDescriptions": [
            "KAJ Enrollment type is unspecified",
            "KAT sets External, Hardware, and Software key feature logging only to TRUE."
          ],
          "description": "Optional. Specifies type of KAJ Enrollment if provided.",
          "enum": [
            "KAJ_ENROLLMENT_TYPE_UNSPECIFIED",
            "KEY_ACCESS_TRANSPARENCY_OFF"
          ]
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1beta1WorkloadWorkloadOptions",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1beta1WorkloadEkmProvisioningResponse": {
      "description": "External key management systems(EKM) Provisioning response",
      "id": "GoogleCloudAssuredworkloadsV1beta1WorkloadEkmProvisioningResponse",
      "properties": {
        "ekmProvisioningErrorMapping": {
          "description": "Detailed error message if Ekm provisioning fails",
          "type": "string",
          "enumDescriptions": [
            "Error is unspecified.",
            "Service account is used is invalid.",
            "Iam permission monitoring.MetricsScopeAdmin wasn't applied.",
            "Iam permission cloudkms.ekmConnectionsAdmin wasn't applied."
          ],
          "enum": [
            "EKM_PROVISIONING_ERROR_MAPPING_UNSPECIFIED",
            "INVALID_SERVICE_ACCOUNT",
            "MISSING_METRICS_SCOPE_ADMIN_PERMISSION",
            "MISSING_EKM_CONNECTION_ADMIN_PERMISSION"
          ]
        },
        "ekmProvisioningState": {
          "enum": [
            "EKM_PROVISIONING_STATE_UNSPECIFIED",
            "EKM_PROVISIONING_STATE_PENDING",
            "EKM_PROVISIONING_STATE_FAILED",
            "EKM_PROVISIONING_STATE_COMPLETED"
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. Indicates Ekm enrollment Provisioning of a given workload.",
          "enumDescriptions": [
            "Default State for Ekm Provisioning",
            "Pending State for Ekm Provisioning",
            "Failed State for Ekm Provisioning",
            "Completed State for Ekm Provisioning"
          ]
        },
        "ekmProvisioningErrorDomain": {
          "enum": [
            "EKM_PROVISIONING_ERROR_DOMAIN_UNSPECIFIED",
            "UNSPECIFIED_ERROR",
            "GOOGLE_SERVER_ERROR",
            "EXTERNAL_USER_ERROR",
            "EXTERNAL_PARTNER_ERROR",
            "TIMEOUT_ERROR"
          ],
          "enumDescriptions": [
            "No error domain",
            "Error but domain is unspecified.",
            "Internal logic breaks within provisioning code.",
            "Error occurred with the customer not granting permission/creating resource.",
            "Error occurred within the partner's provisioning cluster.",
            "Resource wasn't provisioned in the required 7 day time period"
          ],
          "type": "string",
          "description": "Indicates Ekm provisioning error if any."
        }
      },
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1beta1CreateWorkloadOperationMetadata": {
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Optional. The display name of the workload."
        },
        "resourceSettings": {
          "type": "array",
          "description": "Optional. Resource properties in the input that are used for creating/customizing workload resources.",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadResourceSettings"
          }
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. Time when the operation was created."
        },
        "complianceRegime": {
          "type": "string",
          "description": "Optional. Compliance controls that should be applied to the resources managed by the workload.",
          "enumDescriptions": [
            "The default value. This value is used if the control package is omitted or unknown.",
            "Specifies a [Sovereign Controls by Partners](https://cloud.google.com/sovereign-controls-by-partners/docs/overview) control package. To use this control package, you must also specify the partner field from the list of Sovereign Controls by Partners.",
            "Australia Data Boundary and Support",
            "Canada Data Boundary and Support",
            "Data Boundary for Canada Controlled Goods",
            "Data Boundary for Canada Protected B",
            "Data Boundary for Criminal Justice Information Systems (CJIS)",
            "Data Boundary for FedRAMP High",
            "Data Boundary for FedRAMP Moderate",
            "Data Boundary for Impact Level 2 (IL2)",
            "Data Boundary for Impact Level 4 (IL4)",
            "Data Boundary for Impact Level 5 (IL5)",
            "Data Boundary for IRS Publication 1075",
            "Data Boundary for International Traffic in Arms Regulations (ITAR)",
            "European Union (EU) Data Boundary and Support",
            "Israel Data Boundary and Support",
            "Japan Data Boundary",
            "Switzerland Data Boundary with Access Justifications",
            "Kingdom of Saudi Arabia (KSA) Data Boundary with Access Justifications",
            "Data boundary for one of Assured Workloads' *Free tier* control packages. Determines the region by specifying the data location during workload creation.",
            "United States (US) Data Boundary and Support",
            "United States (US) Data Boundary for Healthcare and Life Sciences",
            "United States (US) Data Boundary for Healthcare and Life Sciences with Support",
            "Use the AUSTRALIA_DATA_BOUNDARY_AND_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_CANADA_PROTECTED_B enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the CANADA_DATA_BOUNDARY_AND_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_CANADA_CONTROLLED_GOODS enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_CJIS enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the EU_DATA_BOUNDARY_AND_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_FEDRAMP_HIGH enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_FEDRAMP_MODERATE enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the US_DATA_BOUNDARY_FOR_HEALTHCARE_AND_LIFE_SCIENCES enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the US_DATA_BOUNDARY_FOR_HEALTHCARE_AND_LIFE_SCIENCES_WITH_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Deprecated: Consider using the Data Boundary for US Healthcare and Life Sciences control package instead.",
[...]
