{
  "documentationLink": "https://cloud.google.com/learnmoreurl",
  "id": "assuredworkloads:v1",
  "batchPath": "batch",
  "kind": "discovery#restDescription",
  "revision": "20260719",
  "rootUrl": "https://assuredworkloads.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "protocol": "rest",
  "ownerDomain": "google.com",
  "basePath": "",
  "mtlsRootUrl": "https://assuredworkloads.mtls.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "description": "",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "baseUrl": "https://assuredworkloads.googleapis.com/",
  "servicePath": "",
  "name": "assuredworkloads",
  "parameters": {
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string",
      "description": "Data format for response.",
      "default": "json"
    }
  },
  "schemas": {
    "GoogleCloudAssuredworkloadsV1ListViolationsResponse": {
      "id": "GoogleCloudAssuredworkloadsV1ListViolationsResponse",
      "properties": {
        "totalSize": {
          "description": "The total number of violations.",
          "type": "integer",
          "format": "int32"
        },
        "violations": {
          "description": "List of Violations under a Workload.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1Violation"
          }
        },
        "nextPageToken": {
          "description": "The next page token. Returns empty if reached the last page.",
          "type": "string"
        }
      },
      "description": "Response of ListViolations endpoint.",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1BatchAcknowledgeViolationsResponse": {
      "id": "GoogleCloudAssuredworkloadsV1BatchAcknowledgeViolationsResponse",
      "description": "Response for batch violation acknowledgement",
      "type": "object",
      "properties": {
        "acknowledgedViolationsCount": {
          "format": "int32",
          "description": "Count of acknowledged violations.",
          "type": "integer"
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1ApplyWorkloadUpdateRequest": {
      "properties": {
        "action": {
          "description": "The action to be performed on the update.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified value.",
            "The update is applied."
          ],
          "enum": [
            "WORKLOAD_UPDATE_ACTION_UNSPECIFIED",
            "APPLY"
          ]
        }
      },
      "description": "Request to apply update to a workload.",
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1ApplyWorkloadUpdateRequest"
    },
    "GoogleCloudAssuredworkloadsV1WorkloadEkmProvisioningResponse": {
      "properties": {
        "ekmProvisioningState": {
          "enumDescriptions": [
            "Default State for Ekm Provisioning",
            "Pending State for Ekm Provisioning",
            "Failed State for Ekm Provisioning",
            "Completed State for Ekm Provisioning"
          ],
          "readOnly": true,
          "enum": [
            "EKM_PROVISIONING_STATE_UNSPECIFIED",
            "EKM_PROVISIONING_STATE_PENDING",
            "EKM_PROVISIONING_STATE_FAILED",
            "EKM_PROVISIONING_STATE_COMPLETED"
          ],
          "description": "Output only. Indicates Ekm enrollment Provisioning of a given workload.",
          "type": "string"
        },
        "ekmProvisioningErrorMapping": {
          "description": "Detailed error message if Ekm provisioning fails",
          "type": "string",
          "enumDescriptions": [
            "Error is unspecified.",
            "Service account is used is invalid.",
            "Iam permission monitoring.MetricsScopeAdmin wasn't applied.",
            "Iam permission cloudkms.ekmConnectionsAdmin wasn't applied."
          ],
          "enum": [
            "EKM_PROVISIONING_ERROR_MAPPING_UNSPECIFIED",
            "INVALID_SERVICE_ACCOUNT",
            "MISSING_METRICS_SCOPE_ADMIN_PERMISSION",
            "MISSING_EKM_CONNECTION_ADMIN_PERMISSION"
          ]
        },
        "ekmProvisioningErrorDomain": {
          "enum": [
            "EKM_PROVISIONING_ERROR_DOMAIN_UNSPECIFIED",
            "UNSPECIFIED_ERROR",
            "GOOGLE_SERVER_ERROR",
            "EXTERNAL_USER_ERROR",
            "EXTERNAL_PARTNER_ERROR",
            "TIMEOUT_ERROR"
          ],
          "description": "Indicates Ekm provisioning error if any.",
          "type": "string",
          "enumDescriptions": [
            "No error domain",
            "Error but domain is unspecified.",
            "Internal logic breaks within provisioning code.",
            "Error occurred with the customer not granting permission/creating resource.",
            "Error occurred within the partner's provisioning cluster.",
            "Resource wasn't provisioned in the required 7 day time period"
          ]
        }
      },
      "description": "External key management systems(EKM) Provisioning response",
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1WorkloadEkmProvisioningResponse"
    },
    "GoogleCloudAssuredworkloadsV1WorkloadUpdate": {
      "id": "GoogleCloudAssuredworkloadsV1WorkloadUpdate",
      "description": "A workload update is a change to the workload's compliance configuration.",
      "type": "object",
      "properties": {
        "state": {
          "description": "Output only. The state of the update.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "AVAILABLE",
            "APPLIED",
            "WITHDRAWN"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "The update is available to be applied.",
            "The update has been applied.",
            "The update has been withdrawn by the service."
          ]
        },
        "createTime": {
          "description": "The time the update was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "The time the update was last updated.",
          "type": "string"
        },
        "details": {
          "description": "The details of the update.",
          "$ref": "GoogleCloudAssuredworkloadsV1UpdateDetails"
        },
        "name": {
          "description": "Output only. Immutable. Identifier. Resource name of the WorkloadUpdate. Format: organizations/{organization}/locations/{location}/workloads/{workload}/updates/{update}",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1OrgPolicy": {
      "id": "GoogleCloudAssuredworkloadsV1OrgPolicy",
      "properties": {
        "reset": {
          "description": "Ignores policies set above this resource and restores to the `constraint_default` value. `reset` can only be true when `rules` is empty and `inherit` is false.",
          "type": "boolean"
        },
        "constraint": {
          "description": "The constraint name of the OrgPolicy. e.g. \"constraints/gcp.resourceLocations\".",
          "type": "string"
        },
        "inherit": {
          "description": "If `inherit` is true, policy rules of the lowest ancestor in the resource hierarchy chain are inherited. If it is false, policy rules are not inherited.",
          "type": "boolean"
        },
        "rule": {
          "description": "The rule of the OrgPolicy.",
          "$ref": "GoogleCloudAssuredworkloadsV1OrgPolicyPolicyRule"
        },
        "resource": {
          "description": "Resource that the OrgPolicy attaches to. Format: folders/123\" projects/123\".",
          "type": "string"
        }
      },
      "description": "This assured workload service object is used to represent the org policy attached to a resource. It servces the same purpose as the orgpolicy.v2.Policy object but with functionality that is limited to what is supported by Assured Workloads(e.g. only one rule under one OrgPolicy object, no conditions, etc).",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1BatchAcknowledgeViolationsRequest": {
      "id": "GoogleCloudAssuredworkloadsV1BatchAcknowledgeViolationsRequest",
      "properties": {
        "names": {
          "description": "Required. The resource names of the Violations to acknowledge. Format for each name: organizations/{organization}/locations/{location}/workloads/{workload}/violations/{violation}",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "acknowledgeType": {
          "enum": [
            "ACKNOWLEDGE_TYPE_UNSPECIFIED",
            "SINGLE_VIOLATION",
            "EXISTING_CHILD_RESOURCE_VIOLATIONS"
          ],
          "description": "Optional. Acknowledge type of specified violations.",
          "type": "string",
          "enumDescriptions": [
            "Acknowledge type unspecified.",
            "Acknowledge only the specific violation.",
            "Acknowledge specified orgPolicy violation and also associated resource violations."
          ]
        },
        "comment": {
          "description": "Required. Business justification explaining the need for violations acknowledgement",
          "type": "string"
        }
      },
      "description": "Request for acknowledging the violations in a batch",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1EnableComplianceUpdatesResponse": {
      "properties": {},
      "description": "Response for EnableComplianceUpdates endpoint.",
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1EnableComplianceUpdatesResponse"
    },
    "GoogleLongrunningListOperationsResponse": {
      "id": "GoogleLongrunningListOperationsResponse",
      "properties": {
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "items": {
            "$ref": "GoogleLongrunningOperation"
          },
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array"
        }
      },
      "description": "The response message for Operations.ListOperations.",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1RestrictAllowedResourcesRequest": {
      "id": "GoogleCloudAssuredworkloadsV1RestrictAllowedResourcesRequest",
      "description": "Request for restricting list of available resources in Workload environment.",
      "type": "object",
      "properties": {
        "restrictionType": {
          "description": "Required. The type of restriction for using gcp products in the Workload environment.",
          "type": "string",
          "enumDescriptions": [
            "Unknown restriction type.",
            "Allow the use all of all gcp products, irrespective of the compliance posture. This effectively removes gcp.restrictServiceUsage OrgPolicy on the AssuredWorkloads Folder.",
            "Based on Workload's compliance regime, allowed list changes. See - https://cloud.google.com/assured-workloads/docs/supported-products for the list of supported resources.",
            "Similar to ALLOW_COMPLIANT_RESOURCES but adds the list of compliant resources to the existing list of compliant resources. Effective org-policy of the Folder is considered to ensure there is no disruption to the existing customer workflows."
          ],
          "enum": [
            "RESTRICTION_TYPE_UNSPECIFIED",
            "ALLOW_ALL_GCP_RESOURCES",
            "ALLOW_COMPLIANT_RESOURCES",
            "APPEND_COMPLIANT_RESOURCES"
          ]
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1ViolationRemediationInstructions": {
      "description": "Instructions to remediate violation",
      "type": "object",
      "properties": {
        "gcloudInstructions": {
          "description": "Remediation instructions to resolve violation via gcloud cli",
          "$ref": "GoogleCloudAssuredworkloadsV1ViolationRemediationInstructionsGcloud"
        },
        "consoleInstructions": {
          "description": "Remediation instructions to resolve violation via cloud console",
          "$ref": "GoogleCloudAssuredworkloadsV1ViolationRemediationInstructionsConsole"
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1ViolationRemediationInstructions"
    },
    "GoogleCloudAssuredworkloadsV1WorkloadKMSSettings": {
      "id": "GoogleCloudAssuredworkloadsV1WorkloadKMSSettings",
      "description": "Settings specific to the Key Management Service.",
      "type": "object",
      "properties": {
        "nextRotationTime": {
          "format": "google-datetime",
          "description": "Required. Input only. Immutable. The time at which the Key Management Service will automatically create a new version of the crypto key and mark it as the primary.",
          "type": "string"
        },
        "rotationPeriod": {
          "format": "google-duration",
          "description": "Required. Input only. Immutable. [next_rotation_time] will be advanced by this period when the Key Management Service automatically rotates a key. Must be at least 24 hours and at most 876,000 hours.",
          "type": "string"
        }
      },
      "deprecated": true
    },
    "GoogleCloudAssuredworkloadsV1DbFrameworkComplianceSummary": {
      "id": "GoogleCloudAssuredworkloadsV1DbFrameworkComplianceSummary",
      "properties": {
        "name": {
          "description": "Identifier. The name of the framework compliance summary.",
          "type": "string"
        },
        "controlAssessmentDetails": {
          "description": "The control assessment details of the framework.",
          "$ref": "GoogleCloudAssuredworkloadsV1ControlAssessmentDetails"
        },
        "framework": {
          "description": "The name of the framework.",
          "type": "string"
        },
        "controlsPassingTrend": {
          "description": "Output only. The trend of controls that are passing for the given duration.",
          "$ref": "GoogleCloudAssuredworkloadsV1Trend",
          "readOnly": true
        },
        "supportedCloudProviders": {
          "items": {
            "enum": [
              "CLOUD_PROVIDER_UNSPECIFIED",
              "AWS",
              "AZURE",
              "GCP"
            ],
            "type": "string",
            "enumDescriptions": [
              "Default value. This value is unused.",
              "Amazon Web Services (AWS).",
              "Microsoft Azure.",
              "Google Cloud."
            ]
          },
          "description": "The list of cloud providers supported by the framework.",
          "type": "array"
        },
        "frameworkCategories": {
          "items": {
            "enum": [
              "FRAMEWORK_CATEGORY_UNSPECIFIED",
              "INDUSTRY_DEFINED_STANDARD",
              "ASSURED_WORKLOADS",
              "DATA_SECURITY",
              "GOOGLE_BEST_PRACTICES",
              "CUSTOM_FRAMEWORK"
            ],
            "type": "string",
            "enumDescriptions": [
              "Default value. This value is unused.",
              "An industry-defined framework.",
              "An Assured Workloads framework.",
              "A data security posture framework.",
              "A Google's best practices framework.",
              "A user-created framework."
            ]
          },
          "description": "The list of framework categories supported by the framework.",
          "type": "array"
        },
        "majorRevisionId": {
          "format": "int64",
          "description": "The major revision ID of the framework.",
          "type": "string"
        },
        "targetResourceDetails": {
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1TargetResourceDetails"
          },
          "description": "The target resource details for the framework.",
          "type": "array"
        },
        "findingCount": {
          "format": "int64",
          "readOnly": true,
          "description": "Output only. The count of the findings generated against the framework.",
          "type": "string"
        },
        "frameworkDisplayName": {
          "description": "Optional. The display name for the framework.",
          "type": "string"
        },
        "minorRevisionId": {
          "description": "The minor revision ID of the framework.",
          "type": "string",
          "format": "int64"
        },
        "frameworkType": {
          "enum": [
            "FRAMEWORK_TYPE_UNSPECIFIED",
            "BUILT_IN",
            "CUSTOM"
          ],
          "description": "The type of framework.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "A framework that's provided and managed by Google.",
            "A framework that's created and managed by you."
          ]
        }
      },
      "description": "The details for a framework compliance summary.",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1Trend": {
      "description": "The trend of a compliance metric.",
      "type": "object",
      "properties": {
        "duration": {
          "readOnly": true,
          "description": "Output only. The duration for the trend.",
          "type": "string",
          "format": "google-duration"
        },
        "valuePercent": {
          "format": "double",
          "description": "Output only. The trend value as a percentage. The value can be positive or negative.",
          "type": "number",
          "readOnly": true
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1Trend"
    },
    "GoogleCloudAssuredworkloadsV1DbFindingSummary": {
      "description": "The details for a finding.",
      "type": "object",
      "properties": {
        "relatedFrameworks": {
          "description": "Optional. The list of compliance frameworks that the finding belongs to.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "findingClass": {
          "description": "Output only. The class of the finding.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The activity is unwanted or malicious.",
            "A potential weakness in software that increases risk to confidentiality, integrity, and availability.",
            "A potential weakness in a cloud resource or asset configuration that increases risk.",
            "A security observation that is for informational purposes.",
            "An error that prevents Security Command Center from functioning properly.",
            "A potential security risk that's due to a change in the security posture.",
            "A combination of security issues that represent a more severe security problem when taken together.",
            "A potential security risk to data assets that contain sensitive data.",
            "A resource or resource group where high risk attack paths converge, based on attack path simulations (APS)."
          ],
          "readOnly": true,
          "enum": [
            "FINDING_CLASS_UNSPECIFIED",
            "THREAT",
            "VULNERABILITY",
            "MISCONFIGURATION",
            "OBSERVATION",
            "SCC_ERROR",
            "POSTURE_VIOLATION",
            "TOXIC_COMBINATION",
            "SENSITIVE_DATA_RISK",
            "CHOKEPOINT"
          ]
        },
        "findingCategory": {
          "description": "Output only. The category of the finding.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. The name of the finding summary.",
          "type": "string"
        },
        "severity": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "A critical vulnerability is easily discoverable by an external actor, exploitable, and results in the direct ability to execute arbitrary code, exfiltrate data, and otherwise gain additional access and privileges to cloud resources and workloads. Examples include publicly accessible unprotected user data and public SSH access with weak or no passwords. A critical threat is a threat that can access, modify, or delete data or execute unauthorized code within existing resources.",
            "A high-risk vulnerability can be easily discovered and exploited in combination with other vulnerabilities to gain direct access and the ability to execute arbitrary code, exfiltrate data, and otherwise gain additional access and privileges to cloud resources and workloads. An example is a database with weak or no passwords that is only accessible internally. This database could easily be compromised by an actor that had access to the internal network. A high-risk threat is a threat that can create new computational resources in an environment but can't access data or execute code in existing resources.",
            "A medium-risk vulnerability can be used by an actor to gain access to resources or privileges that enable them to eventually (through multiple steps or a complex exploit) gain access and the ability to execute arbitrary code or exfiltrate data. An example is a service account with access to more projects than it should have. If an actor gains access to the service account, they could potentially use that access to manipulate a project the service account was not intended to. A medium-risk threat can cause operational impact but might not access data or execute unauthorized code.",
            "A low-risk vulnerability hampers a security organization's ability to detect vulnerabilities or active threats in their deployment, or prevents the root cause investigation of security issues. An example is monitoring and logs being disabled for resource configurations and access. A low-risk threat is a threat that has obtained minimal access to an environment but can't access data, execute code, or create resources."
          ],
          "readOnly": true,
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "description": "Output only. The severity of the finding.",
          "type": "string"
        },
        "findingCount": {
          "description": "Output only. The count of the finding.",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        },
        "updateTime": {
          "description": "Output only. The last updated time of the finding.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1DbFindingSummary"
    },
    "GoogleCloudAssuredworkloadsV1CloudControlReport": {
      "id": "GoogleCloudAssuredworkloadsV1CloudControlReport",
      "properties": {
        "findingSeverity": {
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "description": "The severity of the finding.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "A critical vulnerability is easily discoverable by an external actor, exploitable, and results in the direct ability to execute arbitrary code, exfiltrate data, and otherwise gain additional access and privileges to cloud resources and workloads. Examples include publicly accessible unprotected user data and public SSH access with weak or no passwords. A critical threat is a threat that can access, modify, or delete data or execute unauthorized code within existing resources.",
            "A high-risk vulnerability can be easily discovered and exploited in combination with other vulnerabilities to gain direct access and the ability to execute arbitrary code, exfiltrate data, and otherwise gain additional access and privileges to cloud resources and workloads. An example is a database with weak or no passwords that is only accessible internally. This database could easily be compromised by an actor that had access to the internal network. A high-risk threat is a threat that can create new computational resources in an environment but can't access data or execute code in existing resources.",
            "A medium-risk vulnerability can be used by an actor to gain access to resources or privileges that enable them to eventually (through multiple steps or a complex exploit) gain access and the ability to execute arbitrary code or exfiltrate data. An example is a service account with access to more projects than it should have. If an actor gains access to the service account, they could potentially use that access to manipulate a project the service account was not intended to. A medium-risk threat can cause operational impact but might not access data or execute unauthorized code.",
            "A low-risk vulnerability hampers a security organization's ability to detect vulnerabilities or active threats in their deployment, or prevents the root cause investigation of security issues. An example is monitoring and logs being disabled for resource configurations and access. A low-risk threat is a threat that has obtained minimal access to an environment but can't access data, execute code, or create resources."
          ]
        },
        "enforcementMode": {
          "description": "The enforcement mode of the cloud control.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The cloud control is enforced to prevent non-compliance.",
            "The cloud control is enforced to detect non-compliance.",
            "The cloud control is enforced to audit for non-compliance."
          ],
          "enum": [
            "ENFORCEMENT_MODE_UNSPECIFIED",
            "PREVENTIVE",
            "DETECTIVE",
            "AUDIT"
          ]
        },
        "findingCategory": {
          "description": "The category of the finding.",
          "type": "string"
        },
        "cloudControlAssessmentDetails": {
          "description": "The details of a cloud control assessment.",
          "$ref": "GoogleCloudAssuredworkloadsV1CloudControlAssessmentDetails"
        },
        "cloudControlDeployment": {
          "description": "The name of the cloud control deployment.",
          "type": "string"
        },
        "categories": {
          "items": {
            "type": "string"
          },
          "description": "The list of categories for the cloud control.",
          "type": "array"
        },
        "frameworkMajorRevisionIds": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "The major revision IDs of the frameworks that the cloud control belongs to.",
          "type": "array"
        },
        "minorRevisionId": {
          "description": "The minor revision ID of the cloud control.",
          "type": "string",
          "format": "int64"
        },
        "majorRevisionId": {
          "description": "The major revision ID of the cloud control.",
          "type": "string",
          "format": "int64"
        },
        "similarControls": {
          "description": "The list of similar controls.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1SimilarControls"
          }
        },
        "manualCloudControlAssessmentDetails": {
          "description": "The details of a manual cloud control assessment.",
          "$ref": "GoogleCloudAssuredworkloadsV1ManualCloudControlAssessmentDetails"
        },
        "rules": {
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1Rule"
          },
          "description": "The list of rules that correspond to the cloud control.",
          "type": "array"
        },
        "cloudControl": {
          "description": "The name of the cloud control.",
          "type": "string"
        },
        "displayName": {
          "description": "The display name of the cloud control.",
          "type": "string"
        },
        "description": {
          "description": "The description of the cloud control.",
          "type": "string"
        },
        "cloudControlType": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "CUSTOM",
            "BUILT_IN"
          ],
          "description": "The type of the cloud control.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "A cloud control that's created and managed by you.",
            "A cloud control that's provided and managed by Google."
          ]
        }
      },
      "description": "The cloud control report.",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1ApplyWorkloadUpdateOperationMetadata": {
      "description": "Operation metadata to give request details of ApplyWorkloadUpdate.",
      "type": "object",
      "properties": {
        "updateName": {
          "description": "Required. The resource name of the update",
          "type": "string"
        },
        "action": {
          "enum": [
            "WORKLOAD_UPDATE_ACTION_UNSPECIFIED",
            "APPLY"
          ],
          "description": "Optional. The time the operation was created.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified value.",
            "The update is applied."
          ]
        },
        "createTime": {
          "readOnly": true,
          "description": "Optional. Output only. The time the operation was created.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1ApplyWorkloadUpdateOperationMetadata"
    },
    "GoogleCloudAssuredworkloadsV1MoveImpact": {
      "description": "Represents the impact of moving the asset to the target.",
      "type": "object",
      "properties": {
        "detail": {
          "description": "Explanation of the impact.",
          "type": "string"
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1MoveImpact"
    },
    "GoogleCloudAssuredworkloadsV1WorkloadResourceInfo": {
      "id": "GoogleCloudAssuredworkloadsV1WorkloadResourceInfo",
      "properties": {
        "resourceId": {
          "format": "int64",
          "description": "Output only. Resource identifier. For a project this represents project_number.",
          "type": "string",
          "readOnly": true
        },
        "resourceType": {
          "enumDescriptions": [
            "Unknown resource type.",
            "Deprecated. Existing workloads will continue to support this, but new CreateWorkloadRequests should not specify this as an input value.",
            "Consumer Folder.",
            "Consumer project containing encryption keys.",
            "Keyring resource that hosts encryption keys."
          ],
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "CONSUMER_PROJECT",
            "CONSUMER_FOLDER",
            "ENCRYPTION_KEYS_PROJECT",
            "KEYRING"
          ],
          "description": "Indicates the type of resource.",
          "type": "string",
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false
          ]
        }
      },
      "description": "Represent the resources that are children of this Workload.",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1Violation": {
      "properties": {
        "name": {
          "description": "Output only. Immutable. Name of the Violation. Format: organizations/{organization}/locations/{location}/workloads/{workload_id}/violations/{violations_id}",
          "type": "string",
          "readOnly": true
        },
        "exceptionContexts": {
          "description": "Output only. List of all the exception detail added for the violation.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1ViolationExceptionContext"
          }
        },
        "category": {
          "readOnly": true,
          "description": "Output only. Category under which this violation is mapped. e.g. Location, Service Usage, Access, Encryption, etc.",
          "type": "string"
        },
        "state": {
          "description": "Output only. State of the violation",
          "type": "string",
          "enumDescriptions": [
            "Unspecified state.",
            "Violation is resolved.",
            "Violation is Unresolved",
            "Violation is Exception"
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "RESOLVED",
            "UNRESOLVED",
            "EXCEPTION"
          ]
        },
        "beginTime": {
          "readOnly": true,
          "description": "Output only. Time of the event which triggered the Violation.",
          "type": "string",
          "format": "google-datetime"
        },
        "acknowledged": {
          "description": "A boolean that indicates if the violation is acknowledged",
          "type": "boolean"
        },
        "resourceName": {
          "readOnly": true,
          "description": "Optional. Output only. Name of the resource like //storage.googleapis.com/myprojectxyz-testbucket. Empty for org-policy violations.",
          "type": "string"
        },
        "description": {
          "description": "Output only. Description for the Violation. e.g. OrgPolicy gcp.resourceLocations has non compliant value.",
          "type": "string",
          "readOnly": true
        },
        "auditLogLink": {
          "description": "Output only. Immutable. Audit Log Link for violated resource Format: https://console.cloud.google.com/logs/query;query={logName}{protoPayload.resourceName}{timeRange}{folder}",
          "type": "string",
          "readOnly": true
        },
        "remediation": {
          "description": "Output only. Compliance violation remediation",
          "$ref": "GoogleCloudAssuredworkloadsV1ViolationRemediation",
          "readOnly": true
        },
        "acknowledgementTime": {
          "format": "google-datetime",
          "description": "Optional. Timestamp when this violation was acknowledged first. Check exception_contexts to find the last time the violation was acknowledged when there are more than one violations. This field will be absent when acknowledged field is marked as false.",
          "type": "string"
        },
        "violationType": {
          "readOnly": true,
          "enum": [
            "VIOLATION_TYPE_UNSPECIFIED",
            "ORG_POLICY",
            "RESOURCE"
          ],
          "enumDescriptions": [
            "Unspecified type.",
            "Org Policy Violation.",
            "Resource Violation."
          ],
          "description": "Output only. Type of the violation",
          "type": "string"
        },
        "associatedOrgPolicyViolationId": {
          "readOnly": true,
          "description": "Optional. Output only. Violation Id of the org-policy violation due to which the resource violation is caused. Empty for org-policy violations.",
          "type": "string"
        },
        "resolveTime": {
          "description": "Output only. Time of the event which fixed the Violation. If the violation is ACTIVE this will be empty.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "exceptionAuditLogLink": {
          "readOnly": true,
          "description": "Output only. Immutable. Audit Log link to find business justification provided for violation exception. Format: https://console.cloud.google.com/logs/query;query={logName}{protoPayload.resourceName}{protoPayload.methodName}{timeRange}{organization}",
          "type": "string"
        },
        "resourceType": {
          "description": "Optional. Output only. Type of the resource like compute.googleapis.com/Disk, etc. Empty for org-policy violations.",
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The last time when the Violation record was updated.",
          "type": "string"
        },
        "nonCompliantOrgPolicy": {
          "description": "Output only. Immutable. Name of the OrgPolicy which was modified with non-compliant change and resulted this violation. Format: projects/{project_number}/policies/{constraint_name} folders/{folder_id}/policies/{constraint_name} organizations/{organization_id}/policies/{constraint_name}",
          "type": "string",
          "readOnly": true
        },
        "parentProjectNumber": {
          "description": "Optional. Output only. Parent project number where resource is present. Empty for org-policy violations.",
          "type": "string",
          "readOnly": true
        },
        "orgPolicyConstraint": {
          "description": "Output only. Immutable. The org-policy-constraint that was incorrectly changed, which resulted in this violation.",
          "deprecated": true,
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Workload monitoring Violation.",
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1Violation"
    },
    "GoogleCloudAssuredworkloadsV1ControlAssessmentDetails": {
      "id": "GoogleCloudAssuredworkloadsV1ControlAssessmentDetails",
      "description": "The details for a control assessment.",
      "type": "object",
      "properties": {
        "passingControls": {
          "format": "int32",
          "description": "The number of controls that are passing or not assessed.",
          "type": "integer"
        },
        "passingControlIds": {
          "items": {
            "type": "string"
          },
          "description": "The list of controls that are passing or not assessed.",
          "type": "array"
        },
        "notAssessedControlIds": {
          "items": {
            "type": "string"
          },
          "description": "The list of controls that aren't assessed because they require manual review.",
          "type": "array"
        },
        "assessedPassingControls": {
          "format": "int32",
          "description": "The number of controls that were assessed and are passing.",
          "type": "integer"
        },
        "failingControls": {
          "format": "int32",
          "description": "The number of controls that are failing.",
          "type": "integer"
        },
        "notAssessedControls": {
          "format": "int32",
          "description": "The number of controls that aren't assessed because they require manual review.",
          "type": "integer"
        },
        "failingControlIds": {
          "items": {
            "type": "string"
          },
          "description": "The list of controls that are failing.",
          "type": "array"
        },
        "assessedPassingControlIds": {
          "items": {
            "type": "string"
          },
          "description": "The list of controls that were assessed and are passing.",
          "type": "array"
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1AcknowledgeViolationRequest": {
      "id": "GoogleCloudAssuredworkloadsV1AcknowledgeViolationRequest",
      "description": "Request for acknowledging the violation",
      "type": "object",
      "properties": {
        "acknowledgeType": {
          "description": "Optional. Acknowledge type of specified violation.",
          "type": "string",
          "enumDescriptions": [
            "Acknowledge type unspecified.",
            "Acknowledge only the specific violation.",
            "Acknowledge specified orgPolicy violation and also associated resource violations."
          ],
          "enum": [
            "ACKNOWLEDGE_TYPE_UNSPECIFIED",
            "SINGLE_VIOLATION",
            "EXISTING_CHILD_RESOURCE_VIOLATIONS"
          ]
        },
        "comment": {
          "description": "Required. Business justification explaining the need for violation acknowledgement",
          "type": "string"
        },
        "nonCompliantOrgPolicy": {
          "description": "Optional. This field is deprecated and will be removed in future version of the API. Name of the OrgPolicy which was modified with non-compliant change and resulted in this violation. Format: projects/{project_number}/policies/{constraint_name} folders/{folder_id}/policies/{constraint_name} organizations/{organization_id}/policies/{constraint_name}",
          "deprecated": true,
          "type": "string"
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1CELExpression": {
      "id": "GoogleCloudAssuredworkloadsV1CELExpression",
      "properties": {
        "resourceTypesValues": {
          "description": "The resource instance types on which this expression is defined. The format is `/`. For example: `compute.googleapis.com/Instance`",
          "$ref": "GoogleCloudAssuredworkloadsV1StringList"
        },
        "expression": {
          "description": "Required. The logical expression in CEL. The maximum length of the condition is 1000 characters. For more information, see [CEL expression](https://cloud.google.com/security-command-center/docs/compliance-manager-write-cel-expressions).",
          "type": "string"
        }
      },
      "description": "A Common Expression Language (CEL) expression that's used to create a rule.",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1MoveAnalysisGroup": {
      "description": "Represents a logical group of checks performed for an asset. If successful, the group contains the analysis result, otherwise it contains an error with the failure reason.",
      "type": "object",
      "properties": {
        "error": {
          "description": "Error details for a failed analysis.",
          "$ref": "GoogleRpcStatus"
        },
        "displayName": {
          "description": "Name of the analysis group.",
          "type": "string"
        },
        "analysisResult": {
          "description": "Result of a successful analysis.",
          "$ref": "GoogleCloudAssuredworkloadsV1MoveAnalysisResult"
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1MoveAnalysisGroup"
    },
    "GoogleCloudAssuredworkloadsV1AggregateDbFrameworkComplianceReportResponse": {
      "id": "GoogleCloudAssuredworkloadsV1AggregateDbFrameworkComplianceReportResponse",
      "description": "The response message for AggregateDbFrameworkComplianceReport.",
      "type": "object",
      "properties": {
        "aggregatedComplianceReports": {
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1AggregatedComplianceReport"
          },
          "description": "The list of aggregated compliance reports.",
          "type": "array"
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1Workload": {
      "id": "GoogleCloudAssuredworkloadsV1Workload",
      "properties": {
        "partner": {
          "enum": [
            "PARTNER_UNSPECIFIED",
            "LOCAL_CONTROLS_BY_S3NS",
            "SOVEREIGN_CONTROLS_BY_T_SYSTEMS",
            "SOVEREIGN_CONTROLS_BY_SIA_MINSAIT",
            "SOVEREIGN_CONTROLS_BY_PSN",
            "SOVEREIGN_CONTROLS_BY_CNTXT",
            "SOVEREIGN_CONTROLS_BY_CNTXT_NO_EKM",
            "SPAIN_DATA_BOUNDARY_BY_TELEFONICA"
          ],
          "description": "Optional. Partner regime associated with this workload.",
          "type": "string",
          "enumDescriptions": [
            "",
            "Enum representing S3NS (Thales) partner.",
            "Enum representing T_SYSTEM (TSI) partner.",
            "Enum representing SIA_MINSAIT (Indra) partner.",
            "Enum representing PSN (TIM) partner.",
            "Enum representing CNTXT (Kingdom of Saudi Arabia) partner.",
            "Enum representing CNTXT (Kingdom of Saudi Arabia) partner offering without EKM.",
            "Enum representing Telefonica (Spain) partner."
          ]
        },
        "resources": {
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1WorkloadResourceInfo"
          },
          "description": "Output only. The resources associated with this workload. These resources will be created when creating the workload. If any of the projects already exist, the workload creation will fail. Always read only.",
          "type": "array",
          "readOnly": true
        },
        "complianceRegime": {
          "enum": [
            "COMPLIANCE_REGIME_UNSPECIFIED",
            "ASSURED_WORKLOADS_FOR_PARTNERS",
            "AUSTRALIA_DATA_BOUNDARY_AND_SUPPORT",
            "CANADA_DATA_BOUNDARY_AND_SUPPORT",
            "DATA_BOUNDARY_FOR_CANADA_CONTROLLED_GOODS",
            "DATA_BOUNDARY_FOR_CANADA_PROTECTED_B",
            "DATA_BOUNDARY_FOR_CJIS",
            "DATA_BOUNDARY_FOR_FEDRAMP_HIGH",
            "DATA_BOUNDARY_FOR_FEDRAMP_MODERATE",
            "DATA_BOUNDARY_FOR_IL2",
            "DATA_BOUNDARY_FOR_IL4",
            "DATA_BOUNDARY_FOR_IL5",
            "DATA_BOUNDARY_FOR_IRS_PUBLICATION_1075",
            "DATA_BOUNDARY_FOR_ITAR",
            "EU_DATA_BOUNDARY_AND_SUPPORT",
            "ISRAEL_DATA_BOUNDARY_AND_SUPPORT",
            "JAPAN_DATA_BOUNDARY",
            "SWITZERLAND_DATA_BOUNDARY_WITH_ACCESS_JUSTIFICATIONS",
            "KSA_DATA_BOUNDARY_WITH_ACCESS_JUSTIFICATIONS",
            "REGIONAL_DATA_BOUNDARY",
            "US_DATA_BOUNDARY_AND_SUPPORT",
            "US_DATA_BOUNDARY_FOR_HEALTHCARE_AND_LIFE_SCIENCES",
            "US_DATA_BOUNDARY_FOR_HEALTHCARE_AND_LIFE_SCIENCES_WITH_SUPPORT",
            "AU_REGIONS_AND_US_SUPPORT",
            "CA_PROTECTED_B",
            "CA_REGIONS_AND_SUPPORT",
            "CANADA_CONTROLLED_GOODS",
            "CJIS",
            "EU_REGIONS_AND_SUPPORT",
            "FEDRAMP_HIGH",
            "FEDRAMP_MODERATE",
            "HEALTHCARE_AND_LIFE_SCIENCES_CONTROLS",
            "HEALTHCARE_AND_LIFE_SCIENCES_CONTROLS_US_SUPPORT",
            "HIPAA",
            "HITRUST",
            "IL2",
            "IL4",
            "IL5",
            "IRS_1075",
            "ISR_REGIONS",
            "ISR_REGIONS_AND_SUPPORT",
            "ITAR",
            "JP_REGIONS_AND_SUPPORT",
            "KSA_REGIONS_AND_SUPPORT_WITH_SOVEREIGNTY_CONTROLS",
            "REGIONAL_CONTROLS",
            "US_REGIONAL_ACCESS"
          ],
          "enumDescriptions": [
            "The default value. This value is used if the control package is omitted or unknown.",
            "Specifies a [Sovereign Controls by Partners](https://cloud.google.com/sovereign-controls-by-partners/docs/overview) control package. To use this control package, you must also specify the partner field from the list of Sovereign Controls by Partners.",
            "Australia Data Boundary and Support",
            "Canada Data Boundary and Support",
            "Data Boundary for Canada Controlled Goods",
            "Data Boundary for Canada Protected B",
            "Data Boundary for Criminal Justice Information Systems (CJIS)",
            "Data Boundary for FedRAMP High",
            "Data Boundary for FedRAMP Moderate",
            "Data Boundary for Impact Level 2 (IL2)",
            "Data Boundary for Impact Level 4 (IL4)",
            "Data Boundary for Impact Level 5 (IL5)",
            "Data Boundary for IRS Publication 1075",
            "Data Boundary for International Traffic in Arms Regulations (ITAR)",
            "European Union (EU) Data Boundary and Support",
            "Israel Data Boundary and Support",
            "Japan Data Boundary",
            "Switzerland Data Boundary with Access Justifications",
            "Kingdom of Saudi Arabia (KSA) Data Boundary with Access Justifications",
            "Data boundary for one of Assured Workloads' *Free tier* control packages. Determines the region by specifying the data location during workload creation.",
            "United States (US) Data Boundary and Support",
            "United States (US) Data Boundary for Healthcare and Life Sciences",
            "United States (US) Data Boundary for Healthcare and Life Sciences with Support",
            "Use the AUSTRALIA_DATA_BOUNDARY_AND_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_CANADA_PROTECTED_B enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the CANADA_DATA_BOUNDARY_AND_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_CANADA_CONTROLLED_GOODS enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_CJIS enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the EU_DATA_BOUNDARY_AND_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_FEDRAMP_HIGH enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_FEDRAMP_MODERATE enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the US_DATA_BOUNDARY_FOR_HEALTHCARE_AND_LIFE_SCIENCES enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the US_DATA_BOUNDARY_FOR_HEALTHCARE_AND_LIFE_SCIENCES_WITH_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Deprecated: Consider using the Data Boundary for US Healthcare and Life Sciences control package instead.",
            "Deprecated: Consider using the Data Boundary for US Healthcare and Life Sciences control package instead.",
            "Use the DATA_BOUNDARY_FOR_IL2 enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_IL4 enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_IL5 enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_IRS_PUBLICATION_1075 enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the ISRAEL_DATA_BOUNDARY_AND_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the ISRAEL_DATA_BOUNDARY_AND_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_ITAR enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the JAPAN_DATA_BOUNDARY enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the KSA_DATA_BOUNDARY_WITH_ACCESS_JUSTIFICATIONS enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the REGIONAL_DATA_BOUNDARY enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the US_DATA_BOUNDARY_AND_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed."
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "description": "Required. Immutable. Compliance Regime associated with this workload.",
          "type": "string"
        },
        "saaEnrollmentResponse": {
          "description": "Output only. Represents the SAA enrollment response of the given workload. SAA enrollment response is queried during GetWorkload call. In failure cases, user friendly error message is shown in SAA details page.",
          "$ref": "GoogleCloudAssuredworkloadsV1WorkloadSaaEnrollmentResponse",
          "readOnly": true
        },
        "compliantButDisallowedServices": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. Urls for services which are compliant for this Assured Workload, but which are currently disallowed by the ResourceUsageRestriction org policy. Invoke RestrictAllowedResources endpoint to allow your project developers to use these services in their environment.",
          "type": "array"
        },
        "billingAccount": {
          "description": "Optional. The billing account used for the resources which are direct children of workload. This billing account is initially associated with the resources created as part of Workload creation. After the initial creation of these resources, the customer can change the assigned billing account. The resource name has the form `billingAccounts/{billing_account_id}`. For example, `billingAccounts/012345-567890-ABCDEF`.",
          "type": "string"
        },
        "labels": {
          "description": "Optional. Labels applied to the workload.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "provisionedResourcesParent": {
          "description": "Input only. The parent resource for the resources managed by this Assured Workload. May be either empty or a folder resource which is a child of the Workload parent. If not specified all resources are created under the parent organization. Format: folders/{folder_id}",
          "type": "string"
        },
        "violationNotificationsEnabled": {
          "description": "Optional. Indicates whether the e-mail notification for a violation is enabled for a workload. This value will be by default True, and if not present will be considered as true. This should only be updated via updateWorkload call. Any Changes to this field during the createWorkload call will not be honored. This will always be true while creating the workload.",
          "type": "boolean"
        },
        "createTime": {
          "description": "Output only. Immutable. The Workload creation timestamp.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "kajEnrollmentState": {
          "readOnly": true,
          "enum": [
            "KAJ_ENROLLMENT_STATE_UNSPECIFIED",
            "KAJ_ENROLLMENT_STATE_PENDING",
            "KAJ_ENROLLMENT_STATE_COMPLETE"
          ],
          "enumDescriptions": [
            "Default State for KAJ Enrollment.",
            "Pending State for KAJ Enrollment.",
            "Complete State for KAJ Enrollment."
          ],
          "description": "Output only. Represents the KAJ enrollment state of the given workload.",
          "type": "string"
        },
        "etag": {
          "description": "Optional. ETag of the workload, it is calculated on the basis of the Workload contents. It will be used in Update & Delete operations.",
          "type": "string"
        },
        "complianceStatus": {
          "description": "Output only. Count of active Violations in the Workload.",
          "$ref": "GoogleCloudAssuredworkloadsV1WorkloadComplianceStatus",
          "readOnly": true
        },
        "partnerServicesBillingAccount": {
          "description": "Optional. Billing account necessary for purchasing services from Sovereign Partners. This field is required for creating SIA/PSN/CNTXT/Telefonica partner workloads. The caller should have 'billing.resourceAssociations.create' IAM permission on this billing-account. The format of this string is billingAccounts/AAAAAA-BBBBBB-CCCCCC",
          "type": "string"
        },
        "name": {
          "description": "Optional. The resource name of the workload. Format: organizations/{organization}/locations/{location}/workloads/{workload} Read-only.",
          "type": "string"
        },
        "ekmProvisioningResponse": {
          "description": "Output only. Represents the Ekm Provisioning State of the given workload.",
          "$ref": "GoogleCloudAssuredworkloadsV1WorkloadEkmProvisioningResponse",
          "readOnly": true
        },
        "kmsSettings": {
          "description": "Input only. Settings used to create a CMEK crypto key. When set, a project with a KMS CMEK key is provisioned. This field is deprecated as of Feb 28, 2022. In order to create a Keyring, callers should specify, ENCRYPTION_KEYS_PROJECT or KEYRING in ResourceSettings.resource_type field.",
          "deprecated": true,
          "$ref": "GoogleCloudAssuredworkloadsV1WorkloadKMSSettings"
        },
        "resourceMonitoringEnabled": {
          "description": "Output only. Indicates whether resource monitoring is enabled for workload or not. It is true when Resource feed is subscribed to AWM topic and AWM Service Agent Role is binded to AW Service Account for resource Assured workload.",
          "type": "boolean",
          "readOnly": true
        },
        "resourceSettings": {
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1WorkloadResourceSettings"
          },
          "description": "Input only. Resource properties that are used to customize workload resources. These properties (such as custom project id) will be used to create workload resources if possible. This field is optional.",
          "type": "array"
        },
        "partnerPermissions": {
          "description": "Optional. Permissions granted to the AW Partner SA account for the customer workload",
          "$ref": "GoogleCloudAssuredworkloadsV1WorkloadPartnerPermissions"
        },
        "enableSovereignControls": {
          "description": "Optional. Indicates the sovereignty status of the given workload. Currently meant to be used by Europe/Canada customers.",
          "type": "boolean"
        },
        "workloadOptions": {
          "description": "Optional. Options to be set for the given created workload.",
          "$ref": "GoogleCloudAssuredworkloadsV1WorkloadWorkloadOptions"
        },
        "displayName": {
          "description": "Required. The user-assigned display name of the Workload. When present it must be between 4 to 30 characters. Allowed characters are: lowercase and uppercase letters, numbers, hyphen, and spaces. Example: My Workload",
          "type": "string"
        }
      },
      "description": "A Workload object for managing highly regulated workloads of cloud customers.",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1OrgPolicyPolicyRule": {
      "id": "GoogleCloudAssuredworkloadsV1OrgPolicyPolicyRule",
      "description": "A rule used to express this policy.",
      "type": "object",
      "properties": {
        "denyAll": {
          "description": "ListPolicy only when all values are denied.",
          "type": "boolean"
        },
        "enforce": {
          "description": "BooleanPolicy only.",
          "type": "boolean"
        },
        "values": {
          "description": "ListPolicy only when custom values are specified.",
          "$ref": "GoogleCloudAssuredworkloadsV1OrgPolicyPolicyRuleStringValues"
        },
        "allowAll": {
          "description": "ListPolicy only when all values are allowed.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1ListDbFindingSummariesResponse": {
      "id": "GoogleCloudAssuredworkloadsV1ListDbFindingSummariesResponse",
      "description": "The response message for ListDbFindingSummaries.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Output only. The token to retrieve the next page of results.",
          "type": "string",
          "readOnly": true
        },
        "dbFindingSummaries": {
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1DbFindingSummary"
          },
          "description": "List of finding summary by category.",
          "type": "array"
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1ArchiveResourceEventsResponse": {
      "properties": {
        "movedEventsCount": {
          "description": "The total number of events successfully moved to the archive table.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Response for archiving resource events.",
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1ArchiveResourceEventsResponse"
    },
    "GoogleCloudAssuredworkloadsV1RevertArchivedResourceEventsResponse": {
      "id": "GoogleCloudAssuredworkloadsV1RevertArchivedResourceEventsResponse",
      "properties": {
        "movedEventsCount": {
          "format": "int32",
          "description": "The total number of events successfully moved to the original table.",
          "type": "integer"
        }
      },
      "description": "Response for reverting archived resource events.",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1ViolationRemediation": {
      "id": "GoogleCloudAssuredworkloadsV1ViolationRemediation",
      "description": "Represents remediation guidance to resolve compliance violation for AssuredWorkload",
      "type": "object",
      "properties": {
        "compliantValues": {
          "items": {
            "type": "string"
          },
          "description": "Values that can resolve the violation For example: for list org policy violations, this will either be the list of allowed or denied values",
          "type": "array"
        },
        "instructions": {
          "description": "Required. Remediation instructions to resolve violations",
          "$ref": "GoogleCloudAssuredworkloadsV1ViolationRemediationInstructions"
        },
        "remediationType": {
          "description": "Output only. Reemediation type based on the type of org policy values violated",
          "type": "string",
          "readOnly": true,
          "enum": [
            "REMEDIATION_TYPE_UNSPECIFIED",
            "REMEDIATION_BOOLEAN_ORG_POLICY_VIOLATION",
            "REMEDIATION_LIST_ALLOWED_VALUES_ORG_POLICY_VIOLATION",
            "REMEDIATION_LIST_DENIED_VALUES_ORG_POLICY_VIOLATION",
            "REMEDIATION_RESTRICT_CMEK_CRYPTO_KEY_PROJECTS_ORG_POLICY_VIOLATION",
            "REMEDIATION_RESOURCE_VIOLATION",
            "REMEDIATION_RESOURCE_VIOLATION_NON_CMEK_SERVICES"
          ],
          "enumDescriptions": [
            "Unspecified remediation type",
            "Remediation type for boolean org policy",
            "Remediation type for list org policy which have allowed values in the monitoring rule",
            "Remediation type for list org policy which have denied values in the monitoring rule",
            "Remediation type for gcp.restrictCmekCryptoKeyProjects",
            "Remediation type for resource violation.",
            "Remediation type for resource violation due to gcp.restrictNonCmekServices"
          ]
        }
      }
    },
    "GoogleLongrunningOperation": {
      "id": "GoogleLongrunningOperation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "GoogleRpcStatus"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        }
      }
    },
    "GoogleProtobufEmpty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {},
      "id": "GoogleProtobufEmpty"
    },
    "GoogleCloudAssuredworkloadsV1WorkloadResourceSettings": {
      "id": "GoogleCloudAssuredworkloadsV1WorkloadResourceSettings",
      "description": "Represent the custom settings for the resources to be created.",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "User-assigned resource display name. If not empty it will be used to create a resource with the specified name.",
          "type": "string"
        },
        "resourceId": {
          "description": "Resource identifier. For a project this represents project_id. If the project is already taken, the workload creation will fail. For KeyRing, this represents the keyring_id. For a folder, don't set this value as folder_id is assigned by Google.",
          "type": "string"
        },
        "resourceType": {
          "enumDescriptions": [
            "Unknown resource type.",
            "Deprecated. Existing workloads will continue to support this, but new CreateWorkloadRequests should not specify this as an input value.",
            "Consumer Folder.",
            "Consumer project containing encryption keys.",
            "Keyring resource that hosts encryption keys."
          ],
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "CONSUMER_PROJECT",
            "CONSUMER_FOLDER",
            "ENCRYPTION_KEYS_PROJECT",
            "KEYRING"
          ],
          "description": "Indicates the type of resource. This field should be specified to correspond the id to the right project type (CONSUMER_PROJECT or ENCRYPTION_KEYS_PROJECT)",
          "type": "string",
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false
          ]
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1ApplyWorkloadUpdateResponse": {
      "properties": {
        "appliedUpdate": {
          "description": "The update that was applied.",
          "$ref": "GoogleCloudAssuredworkloadsV1WorkloadUpdate"
        }
      },
      "description": "Response for ApplyWorkloadUpdate endpoint.",
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1ApplyWorkloadUpdateResponse"
    },
    "GoogleCloudAssuredworkloadsV1AnalyzeWorkloadMoveResponse": {
      "properties": {
        "assetMoveAnalyses": {
          "description": "List of analysis results for each asset in scope.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1AssetMoveAnalysis"
          }
        },
        "nextPageToken": {
          "description": "The next page token. Is empty if the last page is reached.",
          "type": "string"
        }
      },
      "description": "Response containing the analysis results for the hypothetical resource move.",
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1AnalyzeWorkloadMoveResponse"
    },
    "GoogleCloudAssuredworkloadsV1EnableResourceMonitoringResponse": {
      "properties": {},
      "description": "Response for EnableResourceMonitoring endpoint.",
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1EnableResourceMonitoringResponse"
    },
    "GoogleCloudAssuredworkloadsV1ViolationRemediationInstructionsGcloud": {
      "id": "GoogleCloudAssuredworkloadsV1ViolationRemediationInstructionsGcloud",
      "description": "Remediation instructions to resolve violation via gcloud cli",
      "type": "object",
      "properties": {
        "gcloudCommands": {
          "items": {
            "type": "string"
          },
          "description": "Gcloud command to resolve violation",
          "type": "array"
        },
        "steps": {
          "description": "Steps to resolve violation via gcloud cli",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "additionalLinks": {
          "items": {
            "type": "string"
          },
          "description": "Additional urls for more information about steps",
          "type": "array"
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1MoveAnalysisResult": {
      "description": "Represents the successful move analysis results for a group.",
      "type": "object",
      "properties": {
        "warnings": {
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1MoveImpact"
          },
          "description": "List of warnings. These are risks that may or may not result in compliance violations.",
          "type": "array"
        },
        "blockers": {
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1MoveImpact"
          },
          "description": "List of blockers. If not resolved, these will result in compliance violations in the target.",
          "type": "array"
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1MoveAnalysisResult"
    },
    "GoogleCloudAssuredworkloadsV1CreateWorkloadOperationMetadata": {
      "id": "GoogleCloudAssuredworkloadsV1CreateWorkloadOperationMetadata",
      "description": "Operation metadata to give request details of CreateWorkload.",
      "type": "object",
      "properties": {
        "createTime": {
          "description": "Optional. Time when the operation was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "displayName": {
          "description": "Optional. The display name of the workload.",
          "type": "string"
        },
        "complianceRegime": {
          "enum": [
            "COMPLIANCE_REGIME_UNSPECIFIED",
            "ASSURED_WORKLOADS_FOR_PARTNERS",
            "AUSTRALIA_DATA_BOUNDARY_AND_SUPPORT",
            "CANADA_DATA_BOUNDARY_AND_SUPPORT",
            "DATA_BOUNDARY_FOR_CANADA_CONTROLLED_GOODS",
            "DATA_BOUNDARY_FOR_CANADA_PROTECTED_B",
            "DATA_BOUNDARY_FOR_CJIS",
            "DATA_BOUNDARY_FOR_FEDRAMP_HIGH",
            "DATA_BOUNDARY_FOR_FEDRAMP_MODERATE",
            "DATA_BOUNDARY_FOR_IL2",
            "DATA_BOUNDARY_FOR_IL4",
            "DATA_BOUNDARY_FOR_IL5",
            "DATA_BOUNDARY_FOR_IRS_PUBLICATION_1075",
            "DATA_BOUNDARY_FOR_ITAR",
            "EU_DATA_BOUNDARY_AND_SUPPORT",
            "ISRAEL_DATA_BOUNDARY_AND_SUPPORT",
            "JAPAN_DATA_BOUNDARY",
            "SWITZERLAND_DATA_BOUNDARY_WITH_ACCESS_JUSTIFICATIONS",
            "KSA_DATA_BOUNDARY_WITH_ACCESS_JUSTIFICATIONS",
            "REGIONAL_DATA_BOUNDARY",
            "US_DATA_BOUNDARY_AND_SUPPORT",
            "US_DATA_BOUNDARY_FOR_HEALTHCARE_AND_LIFE_SCIENCES",
            "US_DATA_BOUNDARY_FOR_HEALTHCARE_AND_LIFE_SCIENCES_WITH_SUPPORT",
            "AU_REGIONS_AND_US_SUPPORT",
            "CA_PROTECTED_B",
            "CA_REGIONS_AND_SUPPORT",
            "CANADA_CONTROLLED_GOODS",
            "CJIS",
            "EU_REGIONS_AND_SUPPORT",
            "FEDRAMP_HIGH",
            "FEDRAMP_MODERATE",
            "HEALTHCARE_AND_LIFE_SCIENCES_CONTROLS",
            "HEALTHCARE_AND_LIFE_SCIENCES_CONTROLS_US_SUPPORT",
            "HIPAA",
            "HITRUST",
            "IL2",
            "IL4",
            "IL5",
            "IRS_1075",
            "ISR_REGIONS",
            "ISR_REGIONS_AND_SUPPORT",
            "ITAR",
            "JP_REGIONS_AND_SUPPORT",
            "KSA_REGIONS_AND_SUPPORT_WITH_SOVEREIGNTY_CONTROLS",
            "REGIONAL_CONTROLS",
            "US_REGIONAL_ACCESS"
          ],
          "enumDescriptions": [
            "The default value. This value is used if the control package is omitted or unknown.",
            "Specifies a [Sovereign Controls by Partners](https://cloud.google.com/sovereign-controls-by-partners/docs/overview) control package. To use this control package, you must also specify the partner field from the list of Sovereign Controls by Partners.",
            "Australia Data Boundary and Support",
            "Canada Data Boundary and Support",
            "Data Boundary for Canada Controlled Goods",
            "Data Boundary for Canada Protected B",
            "Data Boundary for Criminal Justice Information Systems (CJIS)",
            "Data Boundary for FedRAMP High",
            "Data Boundary for FedRAMP Moderate",
            "Data Boundary for Impact Level 2 (IL2)",
            "Data Boundary for Impact Level 4 (IL4)",
            "Data Boundary for Impact Level 5 (IL5)",
            "Data Boundary for IRS Publication 1075",
            "Data Boundary for International Traffic in Arms Regulations (ITAR)",
            "European Union (EU) Data Boundary and Support",
            "Israel Data Boundary and Support",
            "Japan Data Boundary",
            "Switzerland Data Boundary with Access Justifications",
            "Kingdom of Saudi Arabia (KSA) Data Boundary with Access Justifications",
            "Data boundary for one of Assured Workloads' *Free tier* control packages. Determines the region by specifying the data location during workload creation.",
            "United States (US) Data Boundary and Support",
            "United States (US) Data Boundary for Healthcare and Life Sciences",
            "United States (US) Data Boundary for Healthcare and Life Sciences with Support",
            "Use the AUSTRALIA_DATA_BOUNDARY_AND_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_CANADA_PROTECTED_B enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the CANADA_DATA_BOUNDARY_AND_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_CANADA_CONTROLLED_GOODS enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_CJIS enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the EU_DATA_BOUNDARY_AND_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_FEDRAMP_HIGH enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_FEDRAMP_MODERATE enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the US_DATA_BOUNDARY_FOR_HEALTHCARE_AND_LIFE_SCIENCES enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the US_DATA_BOUNDARY_FOR_HEALTHCARE_AND_LIFE_SCIENCES_WITH_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Deprecated: Consider using the Data Boundary for US Healthcare and Life Sciences control package instead.",
            "Deprecated: Consider using the Data Boundary for US Healthcare and Life Sciences control package instead.",
            "Use the DATA_BOUNDARY_FOR_IL2 enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_IL4 enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_IL5 enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_IRS_PUBLICATION_1075 enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the ISRAEL_DATA_BOUNDARY_AND_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the ISRAEL_DATA_BOUNDARY_AND_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_ITAR enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the JAPAN_DATA_BOUNDARY enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the KSA_DATA_BOUNDARY_WITH_ACCESS_JUSTIFICATIONS enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the REGIONAL_DATA_BOUNDARY enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the US_DATA_BOUNDARY_AND_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed."
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "description": "Optional. Compliance controls that should be applied to the resources managed by the workload.",
          "type": "string"
        },
        "parent": {
          "description": "Optional. The parent of the workload.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1ManualCloudControlAssessmentDetails": {
      "description": "The details for a manual cloud control assessment.",
      "type": "object",
      "properties": {
        "manualCloudControlGuide": {
          "description": "The guide for assessing a cloud control manually.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1ManualCloudControlAssessmentDetails"
    },
    "GoogleCloudAssuredworkloadsV1ListDbFrameworkComplianceSummariesResponse": {
      "id": "GoogleCloudAssuredworkloadsV1ListDbFrameworkComplianceSummariesResponse",
      "description": "The response message for ListDbFrameworkComplianceSummariesResponse.",
      "type": "object",
      "properties": {
        "dbFrameworkComplianceSummaries": {
          "description": "The list of framework compliance summaries.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1DbFrameworkComplianceSummary"
          }
        },
        "nextPageToken": {
          "description": "Output only. The token to retrieve the next page of results.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1FetchDbFrameworkComplianceReportResponse": {
      "properties": {
        "supportedCloudProviders": {
          "description": "The list of cloud providers that are supported by the framework.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Default value. This value is unused.",
              "Amazon Web Services (AWS).",
              "Microsoft Azure.",
              "Google Cloud."
            ],
            "enum": [
              "CLOUD_PROVIDER_UNSPECIFIED",
              "AWS",
              "AZURE",
              "GCP"
            ]
          }
        },
        "frameworkCategories": {
          "items": {
            "enum": [
              "FRAMEWORK_CATEGORY_UNSPECIFIED",
              "INDUSTRY_DEFINED_STANDARD",
              "ASSURED_WORKLOADS",
              "DATA_SECURITY",
              "GOOGLE_BEST_PRACTICES",
              "CUSTOM_FRAMEWORK"
            ],
            "type": "string",
            "enumDescriptions": [
              "Default value. This value is unused.",
              "An industry-defined framework.",
              "An Assured Workloads framework.",
              "A data security posture framework.",
              "A Google's best practices framework.",
              "A user-created framework."
            ]
          },
          "description": "The list of framework categories supported.",
          "type": "array"
        },
        "controlAssessmentDetails": {
          "description": "The control assessment details of the framework.",
          "$ref": "GoogleCloudAssuredworkloadsV1ControlAssessmentDetails"
        },
        "name": {
          "description": "The name of the framework compliance report.",
          "type": "string"
        },
        "framework": {
          "description": "The name of the framework.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The last updated time of the report.",
          "type": "string",
          "format": "google-datetime"
        },
        "frameworkType": {
          "enum": [
            "FRAMEWORK_TYPE_UNSPECIFIED",
            "BUILT_IN",
            "CUSTOM"
          ],
          "description": "The type of the framework.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "A framework that's provided and managed by Google.",
            "A framework that's created and managed by you."
          ]
        },
        "frameworkDescription": {
          "description": "The description of the framework.",
          "type": "string"
        },
        "targetResourceDetails": {
          "description": "The target resource details of the framework.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1TargetResourceDetails"
          }
        },
        "majorRevisionId": {
          "description": "The latest major revision ID of the framework.",
          "type": "string",
          "format": "int64"
        },
        "frameworkDisplayName": {
          "description": "Optional. The display name for the framework.",
          "type": "string"
        },
        "minorRevisionId": {
          "description": "The latest minor revision ID of the latest major revision of the framework.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "The response message for FetchDbFrameworkComplianceReport.",
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1FetchDbFrameworkComplianceReportResponse"
    },
    "GoogleCloudAssuredworkloadsV1DbControlComplianceSummary": {
      "properties": {
        "control": {
          "description": "The name of the control.",
          "type": "string"
        },
        "cloudControlReports": {
          "description": "The list of cloud control reports.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1CloudControlReport"
          }
        },
        "complianceFrameworks": {
          "description": "The list of compliance frameworks that the control belongs to.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "isFakeControl": {
          "description": "Whether the control is a fake control. Fake controls are created and mapped to cloud controls that don't belong to a control group.",
          "type": "boolean"
        },
        "displayName": {
          "description": "The display name of the control.",
          "type": "string"
        },
        "description": {
          "description": "The description of the control.",
          "type": "string"
        },
        "overallEvaluationState": {
          "description": "Output only. The overall evaluation status of the control.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The control is passing.",
            "The control is failing.",
            "The control is not assessed."
          ],
          "readOnly": true,
          "enum": [
            "EVALUATION_STATE_UNSPECIFIED",
            "EVALUATION_STATE_PASSED",
            "EVALUATION_STATE_FAILED",
            "EVALUATION_STATE_NOT_ASSESSED"
          ]
        },
        "controlResponsibilityType": {
          "description": "The responsibility type for the control.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Google's responsibility.",
            "Your responsibility.",
            "Shared responsibility."
          ],
          "enum": [
            "REGULATORY_CONTROL_RESPONSIBILITY_TYPE_UNSPECIFIED",
            "GOOGLE",
            "CUSTOMER",
            "SHARED"
          ]
        },
        "name": {
          "description": "Identifier. The name of the control compliance summary.",
          "type": "string"
        },
        "totalFindingsCount": {
          "format": "int32",
          "description": "The total number of findings for the control.",
          "type": "integer"
        },
        "similarControls": {
          "description": "The list of similar controls.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1SimilarControls"
          }
        }
      },
      "description": "The details for control compliance.",
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1DbControlComplianceSummary"
    },
    "GoogleCloudAssuredworkloadsV1AggregatedComplianceReport": {
      "id": "GoogleCloudAssuredworkloadsV1AggregatedComplianceReport",
      "properties": {
        "controlAssessmentDetails": {
          "description": "The control assessment details of the framework.",
          "$ref": "GoogleCloudAssuredworkloadsV1ControlAssessmentDetails"
        },
        "reportTime": {
          "description": "The report time of the aggregated compliance report.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "The aggregated compliance report.",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1ListWorkloadUpdatesResponse": {
      "description": "Response of listing the compliance updates per workload with pagination.",
      "type": "object",
      "properties": {
        "workloadUpdates": {
          "description": "The list of workload updates for a given workload.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1WorkloadUpdate"
          }
        },
        "nextPageToken": {
          "description": "The next page token. Return empty if reached the last page.",
          "type": "string"
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1ListWorkloadUpdatesResponse"
    },
    "GoogleCloudAssuredworkloadsV1CloudControlAssessmentDetails": {
      "id": "GoogleCloudAssuredworkloadsV1CloudControlAssessmentDetails",
      "properties": {
        "findingsCount": {
          "description": "The number of findings for the cloud control.",
          "type": "integer",
          "format": "int32"
        },
        "evaluationState": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The control is passing.",
            "The control is failing.",
            "The control is not assessed."
          ],
          "readOnly": true,
          "enum": [
            "EVALUATION_STATE_UNSPECIFIED",
            "EVALUATION_STATE_PASSED",
            "EVALUATION_STATE_FAILED",
            "EVALUATION_STATE_NOT_ASSESSED"
          ],
          "description": "Output only. The evaluation status of the cloud control.",
          "type": "string"
        }
      },
      "description": "The cloud control assessment details for non-manual cloud controls.",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1RevertArchivedResourceEventsRequest": {
      "id": "GoogleCloudAssuredworkloadsV1RevertArchivedResourceEventsRequest",
      "description": "Request for reverting archived resource events.",
      "type": "object",
      "properties": {
        "organizationId": {
          "format": "int64",
          "description": "Required. The organization ID for which to revert events.",
          "type": "string"
        },
        "archiveStartTime": {
          "description": "Required. Only events within this time range will be reverted. This helps prevent reverting everything when something goes wrong.",
          "type": "string",
          "format": "google-datetime"
        },
        "region": {
          "description": "Required. The region of the workload(s) whose events should be reverted. This is used to filter workloads based on AssurantWorkloadData.region.",
          "type": "string"
        },
        "maxEventsMove": {
          "description": "Required. The maximum total number of events to move in this request.",
          "type": "integer",
          "format": "int32"
        },
        "archiveEndTime": {
          "format": "google-datetime",
          "description": "Required. Only events within this time range will be reverted. This helps prevent reverting everything when something goes wrong.",
          "type": "string"
        },
        "batchSize": {
          "description": "Required. The number of events to process in a single transaction batch.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1Rule": {
      "description": "A rule in the cloud control.",
      "type": "object",
      "properties": {
        "celExpression": {
          "description": "The rule's logic expression in Common Expression Language (CEL).",
          "$ref": "GoogleCloudAssuredworkloadsV1CELExpression"
        },
        "ruleActionTypes": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Default value. This value is unused.",
              "The rule is intended to prevent non-compliance.",
              "The rule is intended to detect non-compliance.",
              "The rule is intended to audit non-compliance."
            ],
            "enum": [
              "RULE_ACTION_TYPE_UNSPECIFIED",
              "RULE_ACTION_TYPE_PREVENTIVE",
              "RULE_ACTION_TYPE_DETECTIVE",
              "RULE_ACTION_TYPE_AUDIT"
            ]
          },
          "description": "Required. The functionality that's enabled by the rule.",
          "type": "array"
        },
        "description": {
          "description": "Optional. The rule description. The maximum length is 2000 characters.",
          "type": "string"
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1Rule"
    },
    "GoogleCloudAssuredworkloadsV1AssetMoveAnalysis": {
      "id": "GoogleCloudAssuredworkloadsV1AssetMoveAnalysis",
      "description": "Represents move analysis results for an asset.",
      "type": "object",
      "properties": {
        "assetType": {
          "description": "Type of the asset being analyzed. Possible values will be among the ones listed [here](https://cloud.google.com/asset-inventory/docs/supported-asset-types).",
          "type": "string"
        },
        "analysisGroups": {
          "description": "List of eligible analyses performed for the asset.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1MoveAnalysisGroup"
          }
        },
        "asset": {
          "description": "The full resource name of the asset being analyzed. Example: //compute.googleapis.com/projects/my_project_123/zones/zone1/instances/instance1",
          "type": "string"
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1TargetResourceDetails": {
      "properties": {
        "targetResourceDisplayName": {
          "description": "The display name of the target resource. For example, `google.com`, `staging-project`, or `development-folder`.",
          "type": "string"
        },
        "majorRevisionId": {
          "format": "int64",
          "description": "The major revision ID of the framework for the target resource.",
          "type": "string"
        },
        "frameworkDeployment": {
          "description": "The framework deployment name for the target resource. For example, `organizations/{organization_id}/locations/{location}/frameworkDeployments/{framework_deployment_id}`",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "The create time of the target resource.",
          "type": "string"
        },
        "minorRevisionId": {
          "format": "int64",
[...]
