{
  "rootUrl": "https://assuredworkloads.googleapis.com/",
  "servicePath": "",
  "id": "assuredworkloads:v1",
  "description": "",
  "protocol": "rest",
  "title": "Assured Workloads API",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "revision": "20260914",
  "name": "assuredworkloads",
  "basePath": "",
  "baseUrl": "https://assuredworkloads.googleapis.com/",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "documentationLink": "https://cloud.google.com/learnmoreurl",
  "batchPath": "batch",
  "ownerName": "Google",
  "fullyEncodeReservedExpansion": true,
  "version_module": true,
  "kind": "discovery#restDescription",
  "canonicalName": "Assuredworkloads",
  "version": "v1",
  "schemas": {
    "GoogleCloudAssuredworkloadsV1FetchDbFrameworkComplianceReportResponse": {
      "properties": {
        "frameworkDescription": {
          "type": "string",
          "description": "The description of the framework."
        },
        "frameworkCategories": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Default value. This value is unused.",
              "An industry-defined framework.",
              "An Assured Workloads framework.",
              "A data security posture framework.",
              "A Google's best practices framework.",
              "A user-created framework."
            ],
            "enum": [
              "FRAMEWORK_CATEGORY_UNSPECIFIED",
              "INDUSTRY_DEFINED_STANDARD",
              "ASSURED_WORKLOADS",
              "DATA_SECURITY",
              "GOOGLE_BEST_PRACTICES",
              "CUSTOM_FRAMEWORK"
            ]
          },
          "description": "The list of framework categories supported."
        },
        "majorRevisionId": {
          "format": "int64",
          "type": "string",
          "description": "The latest major revision ID of the framework."
        },
        "controlAssessmentDetails": {
          "description": "The control assessment details of the framework.",
          "$ref": "GoogleCloudAssuredworkloadsV1ControlAssessmentDetails"
        },
        "supportedCloudProviders": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Default value. This value is unused.",
              "Amazon Web Services (AWS).",
              "Microsoft Azure.",
              "Google Cloud."
            ],
            "enum": [
              "CLOUD_PROVIDER_UNSPECIFIED",
              "AWS",
              "AZURE",
              "GCP"
            ],
            "type": "string"
          },
          "description": "The list of cloud providers that are supported by the framework."
        },
        "frameworkDisplayName": {
          "description": "Optional. The display name for the framework.",
          "type": "string"
        },
        "targetResourceDetails": {
          "description": "The target resource details of the framework.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1TargetResourceDetails"
          }
        },
        "frameworkType": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "A framework that's provided and managed by Google.",
            "A framework that's created and managed by you."
          ],
          "description": "The type of the framework.",
          "enum": [
            "FRAMEWORK_TYPE_UNSPECIFIED",
            "BUILT_IN",
            "CUSTOM"
          ]
        },
        "name": {
          "type": "string",
          "description": "The name of the framework compliance report."
        },
        "minorRevisionId": {
          "description": "The latest minor revision ID of the latest major revision of the framework.",
          "format": "int64",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The last updated time of the report.",
          "type": "string"
        },
        "framework": {
          "description": "The name of the framework.",
          "type": "string"
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1FetchDbFrameworkComplianceReportResponse",
      "description": "The response message for FetchDbFrameworkComplianceReport.",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1RevertArchivedResourceEventsResponse": {
      "properties": {
        "movedEventsCount": {
          "format": "int32",
          "type": "integer",
          "description": "The total number of events successfully moved to the original table."
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1RevertArchivedResourceEventsResponse",
      "type": "object",
      "description": "Response for reverting archived resource events."
    },
    "GoogleRpcStatus": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      },
      "id": "GoogleRpcStatus",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "GoogleCloudAssuredworkloadsV1Workload": {
      "properties": {
        "workloadOptions": {
          "description": "Optional. Options to be set for the given created workload.",
          "$ref": "GoogleCloudAssuredworkloadsV1WorkloadWorkloadOptions"
        },
        "complianceStatus": {
          "$ref": "GoogleCloudAssuredworkloadsV1WorkloadComplianceStatus",
          "readOnly": true,
          "description": "Output only. Count of active Violations in the Workload."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels applied to the workload."
        },
        "kajEnrollmentState": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "KAJ_ENROLLMENT_STATE_UNSPECIFIED",
            "KAJ_ENROLLMENT_STATE_PENDING",
            "KAJ_ENROLLMENT_STATE_COMPLETE"
          ],
          "description": "Output only. Represents the KAJ enrollment state of the given workload.",
          "enumDescriptions": [
            "Default State for KAJ Enrollment.",
            "Pending State for KAJ Enrollment.",
            "Complete State for KAJ Enrollment."
          ]
        },
        "compliantButDisallowedServices": {
          "readOnly": true,
          "description": "Output only. Urls for services which are compliant for this Assured Workload, but which are currently disallowed by the ResourceUsageRestriction org policy. Invoke RestrictAllowedResources endpoint to allow your project developers to use these services in their environment.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "resourceSettings": {
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1WorkloadResourceSettings"
          },
          "description": "Input only. Resource properties that are used to customize workload resources. These properties (such as custom project id) will be used to create workload resources if possible. This field is optional.",
          "type": "array"
        },
        "ekmProvisioningResponse": {
          "description": "Output only. Represents the Ekm Provisioning State of the given workload.",
          "$ref": "GoogleCloudAssuredworkloadsV1WorkloadEkmProvisioningResponse",
          "readOnly": true
        },
        "billingAccount": {
          "type": "string",
          "description": "Optional. The billing account used for the resources which are direct children of workload. This billing account is initially associated with the resources created as part of Workload creation. After the initial creation of these resources, the customer can change the assigned billing account. The resource name has the form `billingAccounts/{billing_account_id}`. For example, `billingAccounts/012345-567890-ABCDEF`."
        },
        "etag": {
          "description": "Optional. ETag of the workload, it is calculated on the basis of the Workload contents. It will be used in Update & Delete operations.",
          "type": "string"
        },
        "partner": {
          "type": "string",
          "enumDescriptions": [
            "",
            "Enum representing S3NS (Thales) partner.",
            "Enum representing T_SYSTEM (TSI) partner.",
            "Enum representing SIA_MINSAIT (Indra) partner.",
            "Enum representing PSN (TIM) partner.",
            "Enum representing CNTXT (Kingdom of Saudi Arabia) partner.",
            "Enum representing CNTXT (Kingdom of Saudi Arabia) partner offering without EKM.",
            "Enum representing Telefonica (Spain) partner."
          ],
          "description": "Optional. Partner regime associated with this workload.",
          "enum": [
            "PARTNER_UNSPECIFIED",
            "LOCAL_CONTROLS_BY_S3NS",
            "SOVEREIGN_CONTROLS_BY_T_SYSTEMS",
            "SOVEREIGN_CONTROLS_BY_SIA_MINSAIT",
            "SOVEREIGN_CONTROLS_BY_PSN",
            "SOVEREIGN_CONTROLS_BY_CNTXT",
            "SOVEREIGN_CONTROLS_BY_CNTXT_NO_EKM",
            "SPAIN_DATA_BOUNDARY_BY_TELEFONICA"
          ]
        },
        "displayName": {
          "description": "Required. The user-assigned display name of the Workload. When present it must be between 4 to 30 characters. Allowed characters are: lowercase and uppercase letters, numbers, hyphen, and spaces. Example: My Workload",
          "type": "string"
        },
        "partnerServicesBillingAccount": {
          "description": "Optional. Billing account necessary for purchasing services from Sovereign Partners. This field is required for creating SIA/PSN/CNTXT/Telefonica partner workloads. The caller should have 'billing.resourceAssociations.create' IAM permission on this billing-account. The format of this string is billingAccounts/AAAAAA-BBBBBB-CCCCCC",
          "type": "string"
        },
        "resources": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The resources associated with this workload. These resources will be created when creating the workload. If any of the projects already exist, the workload creation will fail. Always read only.",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1WorkloadResourceInfo"
          }
        },
        "name": {
          "type": "string",
          "description": "Optional. The resource name of the workload. Format: organizations/{organization}/locations/{location}/workloads/{workload} Read-only."
        },
        "provisionedResourcesParent": {
          "type": "string",
          "description": "Input only. The parent resource for the resources managed by this Assured Workload. May be either empty or a folder resource which is a child of the Workload parent. If not specified all resources are created under the parent organization. Format: folders/{folder_id}"
        },
        "saaEnrollmentResponse": {
          "$ref": "GoogleCloudAssuredworkloadsV1WorkloadSaaEnrollmentResponse",
          "readOnly": true,
          "description": "Output only. Represents the SAA enrollment response of the given workload. SAA enrollment response is queried during GetWorkload call. In failure cases, user friendly error message is shown in SAA details page."
        },
        "resourceMonitoringEnabled": {
          "readOnly": true,
          "description": "Output only. Indicates whether resource monitoring is enabled for workload or not. It is true when Resource feed is subscribed to AWM topic and AWM Service Agent Role is binded to AW Service Account for resource Assured workload.",
          "type": "boolean"
        },
        "complianceRegime": {
          "type": "string",
          "description": "Required. Immutable. Compliance Regime associated with this workload.",
          "enum": [
            "COMPLIANCE_REGIME_UNSPECIFIED",
            "ASSURED_WORKLOADS_FOR_PARTNERS",
            "AUSTRALIA_DATA_BOUNDARY_AND_SUPPORT",
            "CANADA_DATA_BOUNDARY_AND_SUPPORT",
            "DATA_BOUNDARY_FOR_CANADA_CONTROLLED_GOODS",
            "DATA_BOUNDARY_FOR_CANADA_PROTECTED_B",
            "DATA_BOUNDARY_FOR_CJIS",
            "DATA_BOUNDARY_FOR_FEDRAMP_HIGH",
            "DATA_BOUNDARY_FOR_FEDRAMP_MODERATE",
            "DATA_BOUNDARY_FOR_IL2",
            "DATA_BOUNDARY_FOR_IL4",
            "DATA_BOUNDARY_FOR_IL5",
            "DATA_BOUNDARY_FOR_IRS_PUBLICATION_1075",
            "DATA_BOUNDARY_FOR_ITAR",
            "EU_DATA_BOUNDARY_AND_SUPPORT",
            "ISRAEL_DATA_BOUNDARY_AND_SUPPORT",
            "JAPAN_DATA_BOUNDARY",
            "SWITZERLAND_DATA_BOUNDARY_WITH_ACCESS_JUSTIFICATIONS",
            "KSA_DATA_BOUNDARY_WITH_ACCESS_JUSTIFICATIONS",
            "REGIONAL_DATA_BOUNDARY",
            "US_DATA_BOUNDARY_AND_SUPPORT",
            "US_DATA_BOUNDARY_FOR_HEALTHCARE_AND_LIFE_SCIENCES",
            "US_DATA_BOUNDARY_FOR_HEALTHCARE_AND_LIFE_SCIENCES_WITH_SUPPORT",
            "AU_REGIONS_AND_US_SUPPORT",
            "CA_PROTECTED_B",
            "CA_REGIONS_AND_SUPPORT",
            "CANADA_CONTROLLED_GOODS",
            "CJIS",
            "EU_REGIONS_AND_SUPPORT",
            "FEDRAMP_HIGH",
            "FEDRAMP_MODERATE",
            "HEALTHCARE_AND_LIFE_SCIENCES_CONTROLS",
            "HEALTHCARE_AND_LIFE_SCIENCES_CONTROLS_US_SUPPORT",
            "HIPAA",
            "HITRUST",
            "IL2",
            "IL4",
            "IL5",
            "IRS_1075",
            "ISR_REGIONS",
            "ISR_REGIONS_AND_SUPPORT",
            "ITAR",
            "JP_REGIONS_AND_SUPPORT",
            "KSA_REGIONS_AND_SUPPORT_WITH_SOVEREIGNTY_CONTROLS",
            "REGIONAL_CONTROLS",
            "US_REGIONAL_ACCESS"
          ],
          "enumDescriptions": [
            "The default value. This value is used if the control package is omitted or unknown.",
            "Specifies a [Sovereign Controls by Partners](https://cloud.google.com/sovereign-controls-by-partners/docs/overview) control package. To use this control package, you must also specify the partner field from the list of Sovereign Controls by Partners.",
            "Australia Data Boundary and Support",
            "Canada Data Boundary and Support",
            "Data Boundary for Canada Controlled Goods",
            "Data Boundary for Canada Protected B",
            "Data Boundary for Criminal Justice Information Systems (CJIS)",
            "Data Boundary for FedRAMP High",
            "Data Boundary for FedRAMP Moderate",
            "Data Boundary for Impact Level 2 (IL2)",
            "Data Boundary for Impact Level 4 (IL4)",
            "Data Boundary for Impact Level 5 (IL5)",
            "Data Boundary for IRS Publication 1075",
            "Data Boundary for International Traffic in Arms Regulations (ITAR)",
            "European Union (EU) Data Boundary and Support",
            "Israel Data Boundary and Support",
            "Japan Data Boundary",
            "Switzerland Data Boundary with Access Justifications",
            "Kingdom of Saudi Arabia (KSA) Data Boundary with Access Justifications",
            "Data boundary for one of Assured Workloads' *Free tier* control packages. Determines the region by specifying the data location during workload creation.",
            "United States (US) Data Boundary and Support",
            "United States (US) Data Boundary for Healthcare and Life Sciences",
            "United States (US) Data Boundary for Healthcare and Life Sciences with Support",
            "Use the AUSTRALIA_DATA_BOUNDARY_AND_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_CANADA_PROTECTED_B enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the CANADA_DATA_BOUNDARY_AND_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_CANADA_CONTROLLED_GOODS enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_CJIS enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the EU_DATA_BOUNDARY_AND_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_FEDRAMP_HIGH enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_FEDRAMP_MODERATE enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the US_DATA_BOUNDARY_FOR_HEALTHCARE_AND_LIFE_SCIENCES enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the US_DATA_BOUNDARY_FOR_HEALTHCARE_AND_LIFE_SCIENCES_WITH_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Deprecated: Consider using the Data Boundary for US Healthcare and Life Sciences control package instead.",
            "Deprecated: Consider using the Data Boundary for US Healthcare and Life Sciences control package instead.",
            "Use the DATA_BOUNDARY_FOR_IL2 enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_IL4 enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_IL5 enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_IRS_PUBLICATION_1075 enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the ISRAEL_DATA_BOUNDARY_AND_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the ISRAEL_DATA_BOUNDARY_AND_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_ITAR enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the JAPAN_DATA_BOUNDARY enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the KSA_DATA_BOUNDARY_WITH_ACCESS_JUSTIFICATIONS enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the REGIONAL_DATA_BOUNDARY enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the US_DATA_BOUNDARY_AND_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed."
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ]
        },
        "enableSovereignControls": {
          "type": "boolean",
          "description": "Optional. Indicates the sovereignty status of the given workload. Currently meant to be used by Europe/Canada customers."
        },
        "kmsSettings": {
          "description": "Input only. Settings used to create a CMEK crypto key. When set, a project with a KMS CMEK key is provisioned. This field is deprecated as of Feb 28, 2022. In order to create a Keyring, callers should specify, ENCRYPTION_KEYS_PROJECT or KEYRING in ResourceSettings.resource_type field.",
          "$ref": "GoogleCloudAssuredworkloadsV1WorkloadKMSSettings",
          "deprecated": true
        },
        "partnerPermissions": {
          "description": "Optional. Permissions granted to the AW Partner SA account for the customer workload",
          "$ref": "GoogleCloudAssuredworkloadsV1WorkloadPartnerPermissions"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Immutable. The Workload creation timestamp.",
          "format": "google-datetime"
        },
        "violationNotificationsEnabled": {
          "type": "boolean",
          "description": "Optional. Indicates whether the e-mail notification for a violation is enabled for a workload. This value will be by default True, and if not present will be considered as true. This should only be updated via updateWorkload call. Any Changes to this field during the createWorkload call will not be honored. This will always be true while creating the workload."
        }
      },
      "type": "object",
      "description": "A Workload object for managing highly regulated workloads of cloud customers.",
      "id": "GoogleCloudAssuredworkloadsV1Workload"
    },
    "GoogleCloudAssuredworkloadsV1UpdateDetails": {
      "properties": {
        "orgPolicyUpdate": {
          "$ref": "GoogleCloudAssuredworkloadsV1OrgPolicyUpdate",
          "description": "Update to one org policy, e.g. gcp.resourceLocation."
        }
      },
      "description": "The details of the update.",
      "id": "GoogleCloudAssuredworkloadsV1UpdateDetails",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1CloudControlReport": {
      "id": "GoogleCloudAssuredworkloadsV1CloudControlReport",
      "properties": {
        "majorRevisionId": {
          "type": "string",
          "description": "The major revision ID of the cloud control.",
          "format": "int64"
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the cloud control."
        },
        "findingCategory": {
          "description": "The category of the finding.",
          "type": "string"
        },
        "enforcementMode": {
          "enum": [
            "ENFORCEMENT_MODE_UNSPECIFIED",
            "PREVENTIVE",
            "DETECTIVE",
            "AUDIT"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The cloud control is enforced to prevent non-compliance.",
            "The cloud control is enforced to detect non-compliance.",
            "The cloud control is enforced to audit for non-compliance."
          ],
          "description": "The enforcement mode of the cloud control.",
          "type": "string"
        },
        "cloudControlType": {
          "description": "The type of the cloud control.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "A cloud control that's created and managed by you.",
            "A cloud control that's provided and managed by Google."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "CUSTOM",
            "BUILT_IN"
          ]
        },
        "categories": {
          "description": "The list of categories for the cloud control.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "minorRevisionId": {
          "type": "string",
          "description": "The minor revision ID of the cloud control.",
          "format": "int64"
        },
        "frameworkMajorRevisionIds": {
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          },
          "description": "The major revision IDs of the frameworks that the cloud control belongs to."
        },
        "manualCloudControlAssessmentDetails": {
          "$ref": "GoogleCloudAssuredworkloadsV1ManualCloudControlAssessmentDetails",
          "description": "The details of a manual cloud control assessment."
        },
        "cloudControlAssessmentDetails": {
          "description": "The details of a cloud control assessment.",
          "$ref": "GoogleCloudAssuredworkloadsV1CloudControlAssessmentDetails"
        },
        "similarControls": {
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1SimilarControls"
          },
          "type": "array",
          "description": "The list of similar controls."
        },
        "findingSeverity": {
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "A critical vulnerability is easily discoverable by an external actor, exploitable, and results in the direct ability to execute arbitrary code, exfiltrate data, and otherwise gain additional access and privileges to cloud resources and workloads. Examples include publicly accessible unprotected user data and public SSH access with weak or no passwords. A critical threat is a threat that can access, modify, or delete data or execute unauthorized code within existing resources.",
            "A high-risk vulnerability can be easily discovered and exploited in combination with other vulnerabilities to gain direct access and the ability to execute arbitrary code, exfiltrate data, and otherwise gain additional access and privileges to cloud resources and workloads. An example is a database with weak or no passwords that is only accessible internally. This database could easily be compromised by an actor that had access to the internal network. A high-risk threat is a threat that can create new computational resources in an environment but can't access data or execute code in existing resources.",
            "A medium-risk vulnerability can be used by an actor to gain access to resources or privileges that enable them to eventually (through multiple steps or a complex exploit) gain access and the ability to execute arbitrary code or exfiltrate data. An example is a service account with access to more projects than it should have. If an actor gains access to the service account, they could potentially use that access to manipulate a project the service account was not intended to. A medium-risk threat can cause operational impact but might not access data or execute unauthorized code.",
            "A low-risk vulnerability hampers a security organization's ability to detect vulnerabilities or active threats in their deployment, or prevents the root cause investigation of security issues. An example is monitoring and logs being disabled for resource configurations and access. A low-risk threat is a threat that has obtained minimal access to an environment but can't access data, execute code, or create resources."
          ],
          "description": "The severity of the finding.",
          "type": "string"
        },
        "cloudControlDeployment": {
          "description": "The name of the cloud control deployment.",
          "type": "string"
        },
        "description": {
          "description": "The description of the cloud control.",
          "type": "string"
        },
        "rules": {
          "description": "The list of rules that correspond to the cloud control.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1Rule"
          }
        },
        "cloudControl": {
          "description": "The name of the cloud control.",
          "type": "string"
        }
      },
      "description": "The cloud control report.",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1EnableComplianceUpdatesResponse": {
      "properties": {},
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1EnableComplianceUpdatesResponse",
      "description": "Response for EnableComplianceUpdates endpoint."
    },
    "GoogleCloudAssuredworkloadsV1ManualCloudControlAssessmentDetails": {
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1ManualCloudControlAssessmentDetails",
      "description": "The details for a manual cloud control assessment.",
      "properties": {
        "manualCloudControlGuide": {
          "description": "The guide for assessing a cloud control manually.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1ViolationRemediationInstructionsConsole": {
      "properties": {
        "consoleUris": {
          "type": "array",
          "description": "Link to console page where violations can be resolved",
          "items": {
            "type": "string"
          }
        },
        "additionalLinks": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Additional urls for more information about steps"
        },
        "steps": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Steps to resolve violation via cloud console"
        }
      },
      "type": "object",
      "description": "Remediation instructions to resolve violation via cloud console",
      "id": "GoogleCloudAssuredworkloadsV1ViolationRemediationInstructionsConsole"
    },
    "GoogleCloudAssuredworkloadsV1MoveAnalysisResult": {
      "properties": {
        "blockers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1MoveImpact"
          },
          "description": "List of blockers. If not resolved, these will result in compliance violations in the target."
        },
        "warnings": {
          "type": "array",
          "description": "List of warnings. These are risks that may or may not result in compliance violations.",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1MoveImpact"
          }
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1MoveAnalysisResult",
      "description": "Represents the successful move analysis results for a group.",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1ViolationExceptionContext": {
      "id": "GoogleCloudAssuredworkloadsV1ViolationExceptionContext",
      "properties": {
        "acknowledgementTime": {
          "type": "string",
          "description": "Timestamp when the violation was acknowledged.",
          "format": "google-datetime"
        },
        "comment": {
          "type": "string",
          "description": "Business justification provided towards the acknowledgement of the violation."
        },
        "userName": {
          "description": "Name of the user (or service account) who acknowledged the violation.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Violation exception detail."
    },
    "GoogleCloudAssuredworkloadsV1MoveImpact": {
      "description": "Represents the impact of moving the asset to the target.",
      "id": "GoogleCloudAssuredworkloadsV1MoveImpact",
      "properties": {
        "detail": {
          "type": "string",
          "description": "Explanation of the impact."
        }
      },
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1WorkloadKMSSettings": {
      "type": "object",
      "properties": {
        "rotationPeriod": {
          "format": "google-duration",
          "description": "Required. Input only. Immutable. [next_rotation_time] will be advanced by this period when the Key Management Service automatically rotates a key. Must be at least 24 hours and at most 876,000 hours.",
          "type": "string"
        },
        "nextRotationTime": {
          "description": "Required. Input only. Immutable. The time at which the Key Management Service will automatically create a new version of the crypto key and mark it as the primary.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1WorkloadKMSSettings",
      "description": "Settings specific to the Key Management Service.",
      "deprecated": true
    },
    "GoogleCloudAssuredworkloadsV1OrgPolicyPolicyRuleStringValues": {
      "id": "GoogleCloudAssuredworkloadsV1OrgPolicyPolicyRuleStringValues",
      "properties": {
        "deniedValues": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of values denied at this resource."
        },
        "allowedValues": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of values allowed at this resource."
        }
      },
      "description": "The values allowed for a ListPolicy.",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1CloudControlAssessmentDetails": {
      "description": "The cloud control assessment details for non-manual cloud controls.",
      "type": "object",
      "properties": {
        "evaluationState": {
          "enum": [
            "EVALUATION_STATE_UNSPECIFIED",
            "EVALUATION_STATE_PASSED",
            "EVALUATION_STATE_FAILED",
            "EVALUATION_STATE_NOT_ASSESSED"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The control is passing.",
            "The control is failing.",
            "The control is not assessed."
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. The evaluation status of the cloud control."
        },
        "findingsCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of findings for the cloud control."
        },
        "resourceFindingCount": {
          "type": "string",
          "format": "int64",
          "description": "Output only. Number of resource findings for the cloud control.",
          "readOnly": true
        },
        "orgPolicyFindingCount": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. Number of organization policy findings for the cloud control.",
          "type": "string"
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1CloudControlAssessmentDetails"
    },
    "GoogleCloudAssuredworkloadsV1RestrictAllowedResourcesResponse": {
      "properties": {},
      "id": "GoogleCloudAssuredworkloadsV1RestrictAllowedResourcesResponse",
      "description": "Response for restricting the list of allowed resources.",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1CELExpression": {
      "description": "A Common Expression Language (CEL) expression that's used to create a rule.",
      "properties": {
        "resourceTypesValues": {
          "$ref": "GoogleCloudAssuredworkloadsV1StringList",
          "description": "The resource instance types on which this expression is defined. The format is `/`. For example: `compute.googleapis.com/Instance`"
        },
        "expression": {
          "type": "string",
          "description": "Required. The logical expression in CEL. The maximum length of the condition is 1000 characters. For more information, see [CEL expression](https://cloud.google.com/security-command-center/docs/compliance-manager-write-cel-expressions)."
        }
      },
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1CELExpression"
    },
    "GoogleCloudAssuredworkloadsV1ListDbFrameworkComplianceSummariesResponse": {
      "type": "object",
      "description": "The response message for ListDbFrameworkComplianceSummariesResponse.",
      "properties": {
        "dbFrameworkComplianceSummaries": {
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1DbFrameworkComplianceSummary"
          },
          "description": "The list of framework compliance summaries.",
          "type": "array"
        },
        "nextPageToken": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The token to retrieve the next page of results."
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1ListDbFrameworkComplianceSummariesResponse"
    },
    "GoogleCloudAssuredworkloadsV1EnableResourceMonitoringResponse": {
      "properties": {},
      "type": "object",
      "description": "Response for EnableResourceMonitoring endpoint.",
      "id": "GoogleCloudAssuredworkloadsV1EnableResourceMonitoringResponse"
    },
    "GoogleCloudAssuredworkloadsV1ApplyWorkloadUpdateOperationMetadata": {
      "id": "GoogleCloudAssuredworkloadsV1ApplyWorkloadUpdateOperationMetadata",
      "properties": {
        "createTime": {
          "description": "Optional. Output only. The time the operation was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "action": {
          "type": "string",
          "description": "Optional. The time the operation was created.",
          "enum": [
            "WORKLOAD_UPDATE_ACTION_UNSPECIFIED",
            "APPLY"
          ],
          "enumDescriptions": [
            "Unspecified value.",
            "The update is applied."
          ]
        },
        "updateName": {
          "description": "Required. The resource name of the update",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Operation metadata to give request details of ApplyWorkloadUpdate."
    },
    "GoogleCloudAssuredworkloadsV1ControlAssessmentDetails": {
      "description": "The details for a control assessment.",
      "properties": {
        "failingControlIds": {
          "description": "The list of controls that are failing.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "failingControls": {
          "description": "The number of controls that are failing.",
          "format": "int32",
          "type": "integer"
        },
        "passingControlIds": {
          "items": {
            "type": "string"
          },
          "description": "The list of controls that are passing or not assessed.",
          "type": "array"
        },
        "notAssessedControlIds": {
          "description": "The list of controls that aren't assessed because they require manual review.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "passingControls": {
          "description": "The number of controls that are passing or not assessed.",
          "type": "integer",
          "format": "int32"
        },
        "notAssessedControls": {
          "format": "int32",
          "description": "The number of controls that aren't assessed because they require manual review.",
          "type": "integer"
        },
        "assessedPassingControlIds": {
          "type": "array",
          "description": "The list of controls that were assessed and are passing.",
          "items": {
            "type": "string"
          }
        },
        "assessedPassingControls": {
          "format": "int32",
          "type": "integer",
          "description": "The number of controls that were assessed and are passing."
        }
      },
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1ControlAssessmentDetails"
    },
    "GoogleCloudAssuredworkloadsV1WorkloadResourceInfo": {
      "id": "GoogleCloudAssuredworkloadsV1WorkloadResourceInfo",
      "description": "Represent the resources that are children of this Workload.",
      "type": "object",
      "properties": {
        "resourceType": {
          "enumDescriptions": [
            "Unknown resource type.",
            "Deprecated. Existing workloads will continue to support this, but new CreateWorkloadRequests should not specify this as an input value.",
            "Consumer Folder.",
            "Consumer project containing encryption keys.",
            "Keyring resource that hosts encryption keys."
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false
          ],
          "description": "Indicates the type of resource.",
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "CONSUMER_PROJECT",
            "CONSUMER_FOLDER",
            "ENCRYPTION_KEYS_PROJECT",
            "KEYRING"
          ],
          "type": "string"
        },
        "resourceId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Resource identifier. For a project this represents project_number.",
          "format": "int64"
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1WorkloadWorkloadOptions": {
      "properties": {
        "kajEnrollmentType": {
          "type": "string",
          "enumDescriptions": [
            "KAJ Enrollment type is unspecified",
            "KAT sets External, Hardware, and Software key feature logging only to TRUE."
          ],
          "description": "Optional. Specifies type of KAJ Enrollment if provided.",
          "enum": [
            "KAJ_ENROLLMENT_TYPE_UNSPECIFIED",
            "KEY_ACCESS_TRANSPARENCY_OFF"
          ]
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1WorkloadWorkloadOptions",
      "type": "object",
      "description": "Options to be set for the given created workload."
    },
    "GoogleCloudAssuredworkloadsV1AcknowledgeViolationResponse": {
      "properties": {},
      "id": "GoogleCloudAssuredworkloadsV1AcknowledgeViolationResponse",
      "description": "Response for violation acknowledgement",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1MutatePartnerPermissionsRequest": {
      "description": "Request for updating permission settings for a partner workload.",
      "properties": {
        "partnerPermissions": {
          "description": "Required. The partner permissions to be updated.",
          "$ref": "GoogleCloudAssuredworkloadsV1WorkloadPartnerPermissions"
        },
        "etag": {
          "description": "Optional. The etag of the workload. If this is provided, it must match the server's etag.",
          "type": "string"
        },
        "updateMask": {
          "description": "Required. The list of fields to be updated. E.g. update_mask { paths: \"partner_permissions.data_logs_viewer\"}",
          "format": "google-fieldmask",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1MutatePartnerPermissionsRequest"
    },
    "GoogleCloudAssuredworkloadsV1OrgPolicyUpdate": {
      "description": "Represents an update for an org policy control applied on an Assured Workload resource. The inherited org policy is not considered.",
      "type": "object",
      "properties": {
        "appliedPolicy": {
          "description": "The org policy currently applied on the assured workload resource.",
          "$ref": "GoogleCloudAssuredworkloadsV1OrgPolicy"
        },
        "suggestedPolicy": {
          "$ref": "GoogleCloudAssuredworkloadsV1OrgPolicy",
          "description": "The suggested org policy that replaces the applied policy."
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1OrgPolicyUpdate"
    },
    "GoogleCloudAssuredworkloadsV1WorkloadPartnerPermissions": {
      "type": "object",
      "description": "Permissions granted to the AW Partner SA account for the customer workload",
      "id": "GoogleCloudAssuredworkloadsV1WorkloadPartnerPermissions",
      "properties": {
        "dataLogsViewer": {
          "description": "Optional. Allow the partner to view inspectability logs and monitoring violations.",
          "type": "boolean"
        },
        "accessTransparencyLogsSupportCaseViewer": {
          "description": "Optional. Allow partner to view support case details for an AXT log",
          "type": "boolean"
        },
        "serviceAccessApprover": {
          "type": "boolean",
          "description": "Optional. Allow partner to view access approval logs."
        },
        "assuredWorkloadsMonitoring": {
          "description": "Optional. Allow partner to view violation alerts.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1CreateWorkloadOperationMetadata": {
      "properties": {
        "complianceRegime": {
          "enum": [
            "COMPLIANCE_REGIME_UNSPECIFIED",
            "ASSURED_WORKLOADS_FOR_PARTNERS",
            "AUSTRALIA_DATA_BOUNDARY_AND_SUPPORT",
            "CANADA_DATA_BOUNDARY_AND_SUPPORT",
            "DATA_BOUNDARY_FOR_CANADA_CONTROLLED_GOODS",
            "DATA_BOUNDARY_FOR_CANADA_PROTECTED_B",
            "DATA_BOUNDARY_FOR_CJIS",
            "DATA_BOUNDARY_FOR_FEDRAMP_HIGH",
            "DATA_BOUNDARY_FOR_FEDRAMP_MODERATE",
            "DATA_BOUNDARY_FOR_IL2",
            "DATA_BOUNDARY_FOR_IL4",
            "DATA_BOUNDARY_FOR_IL5",
            "DATA_BOUNDARY_FOR_IRS_PUBLICATION_1075",
            "DATA_BOUNDARY_FOR_ITAR",
            "EU_DATA_BOUNDARY_AND_SUPPORT",
            "ISRAEL_DATA_BOUNDARY_AND_SUPPORT",
            "JAPAN_DATA_BOUNDARY",
            "SWITZERLAND_DATA_BOUNDARY_WITH_ACCESS_JUSTIFICATIONS",
            "KSA_DATA_BOUNDARY_WITH_ACCESS_JUSTIFICATIONS",
            "REGIONAL_DATA_BOUNDARY",
            "US_DATA_BOUNDARY_AND_SUPPORT",
            "US_DATA_BOUNDARY_FOR_HEALTHCARE_AND_LIFE_SCIENCES",
            "US_DATA_BOUNDARY_FOR_HEALTHCARE_AND_LIFE_SCIENCES_WITH_SUPPORT",
            "AU_REGIONS_AND_US_SUPPORT",
            "CA_PROTECTED_B",
            "CA_REGIONS_AND_SUPPORT",
            "CANADA_CONTROLLED_GOODS",
            "CJIS",
            "EU_REGIONS_AND_SUPPORT",
            "FEDRAMP_HIGH",
            "FEDRAMP_MODERATE",
            "HEALTHCARE_AND_LIFE_SCIENCES_CONTROLS",
            "HEALTHCARE_AND_LIFE_SCIENCES_CONTROLS_US_SUPPORT",
            "HIPAA",
            "HITRUST",
            "IL2",
            "IL4",
            "IL5",
            "IRS_1075",
            "ISR_REGIONS",
            "ISR_REGIONS_AND_SUPPORT",
            "ITAR",
            "JP_REGIONS_AND_SUPPORT",
            "KSA_REGIONS_AND_SUPPORT_WITH_SOVEREIGNTY_CONTROLS",
            "REGIONAL_CONTROLS",
            "US_REGIONAL_ACCESS"
          ],
          "enumDescriptions": [
            "The default value. This value is used if the control package is omitted or unknown.",
            "Specifies a [Sovereign Controls by Partners](https://cloud.google.com/sovereign-controls-by-partners/docs/overview) control package. To use this control package, you must also specify the partner field from the list of Sovereign Controls by Partners.",
            "Australia Data Boundary and Support",
            "Canada Data Boundary and Support",
            "Data Boundary for Canada Controlled Goods",
            "Data Boundary for Canada Protected B",
            "Data Boundary for Criminal Justice Information Systems (CJIS)",
            "Data Boundary for FedRAMP High",
            "Data Boundary for FedRAMP Moderate",
            "Data Boundary for Impact Level 2 (IL2)",
            "Data Boundary for Impact Level 4 (IL4)",
            "Data Boundary for Impact Level 5 (IL5)",
            "Data Boundary for IRS Publication 1075",
            "Data Boundary for International Traffic in Arms Regulations (ITAR)",
            "European Union (EU) Data Boundary and Support",
            "Israel Data Boundary and Support",
            "Japan Data Boundary",
            "Switzerland Data Boundary with Access Justifications",
            "Kingdom of Saudi Arabia (KSA) Data Boundary with Access Justifications",
            "Data boundary for one of Assured Workloads' *Free tier* control packages. Determines the region by specifying the data location during workload creation.",
            "United States (US) Data Boundary and Support",
            "United States (US) Data Boundary for Healthcare and Life Sciences",
            "United States (US) Data Boundary for Healthcare and Life Sciences with Support",
            "Use the AUSTRALIA_DATA_BOUNDARY_AND_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_CANADA_PROTECTED_B enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the CANADA_DATA_BOUNDARY_AND_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_CANADA_CONTROLLED_GOODS enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_CJIS enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the EU_DATA_BOUNDARY_AND_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_FEDRAMP_HIGH enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_FEDRAMP_MODERATE enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the US_DATA_BOUNDARY_FOR_HEALTHCARE_AND_LIFE_SCIENCES enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the US_DATA_BOUNDARY_FOR_HEALTHCARE_AND_LIFE_SCIENCES_WITH_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Deprecated: Consider using the Data Boundary for US Healthcare and Life Sciences control package instead.",
            "Deprecated: Consider using the Data Boundary for US Healthcare and Life Sciences control package instead.",
            "Use the DATA_BOUNDARY_FOR_IL2 enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_IL4 enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_IL5 enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_IRS_PUBLICATION_1075 enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the ISRAEL_DATA_BOUNDARY_AND_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the ISRAEL_DATA_BOUNDARY_AND_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_ITAR enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the JAPAN_DATA_BOUNDARY enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the KSA_DATA_BOUNDARY_WITH_ACCESS_JUSTIFICATIONS enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the REGIONAL_DATA_BOUNDARY enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the US_DATA_BOUNDARY_AND_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed."
          ],
          "type": "string",
          "description": "Optional. Compliance controls that should be applied to the resources managed by the workload.",
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ]
        },
        "displayName": {
          "description": "Optional. The display name of the workload.",
          "type": "string"
        },
        "parent": {
          "description": "Optional. The parent of the workload.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Optional. Time when the operation was created.",
          "type": "string"
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1CreateWorkloadOperationMetadata",
      "type": "object",
      "description": "Operation metadata to give request details of CreateWorkload."
    },
    "GoogleCloudAssuredworkloadsV1ListWorkloadsResponse": {
      "properties": {
        "workloads": {
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1Workload"
          },
          "type": "array",
          "description": "List of Workloads under a given parent."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The next page token. Return empty if reached the last page."
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1ListWorkloadsResponse",
      "description": "Response of ListWorkloads endpoint.",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1AssetMoveAnalysis": {
      "type": "object",
      "properties": {
        "analysisGroups": {
          "description": "List of eligible analyses performed for the asset.",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1MoveAnalysisGroup"
          },
          "type": "array"
        },
        "assetType": {
          "type": "string",
          "description": "Type of the asset being analyzed. Possible values will be among the ones listed [here](https://cloud.google.com/asset-inventory/docs/supported-asset-types)."
        },
        "asset": {
          "description": "The full resource name of the asset being analyzed. Example: //compute.googleapis.com/projects/my_project_123/zones/zone1/instances/instance1",
          "type": "string"
        }
      },
      "description": "Represents move analysis results for an asset.",
      "id": "GoogleCloudAssuredworkloadsV1AssetMoveAnalysis"
    },
    "GoogleCloudAssuredworkloadsV1Violation": {
      "description": "Workload monitoring Violation.",
      "type": "object",
      "properties": {
        "remediation": {
          "readOnly": true,
          "$ref": "GoogleCloudAssuredworkloadsV1ViolationRemediation",
          "description": "Output only. Compliance violation remediation"
        },
        "name": {
          "description": "Output only. Immutable. Name of the Violation. Format: organizations/{organization}/locations/{location}/workloads/{workload_id}/violations/{violations_id}",
          "readOnly": true,
          "type": "string"
        },
        "resourceType": {
          "type": "string",
          "description": "Optional. Output only. Type of the resource like compute.googleapis.com/Disk, etc. Empty for org-policy violations.",
          "readOnly": true
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. State of the violation",
          "enum": [
            "STATE_UNSPECIFIED",
            "RESOLVED",
            "UNRESOLVED",
            "EXCEPTION"
          ],
          "enumDescriptions": [
            "Unspecified state.",
            "Violation is resolved.",
            "Violation is Unresolved",
            "Violation is Exception"
          ]
        },
        "exceptionContexts": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. List of all the exception detail added for the violation.",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1ViolationExceptionContext"
          }
        },
        "description": {
          "readOnly": true,
          "description": "Output only. Description for the Violation. e.g. OrgPolicy gcp.resourceLocations has non compliant value.",
          "type": "string"
        },
        "parentProjectNumber": {
          "description": "Optional. Output only. Parent project number where resource is present. Empty for org-policy violations.",
          "type": "string",
          "readOnly": true
        },
        "exceptionAuditLogLink": {
          "description": "Output only. Immutable. Audit Log link to find business justification provided for violation exception. Format: https://console.cloud.google.com/logs/query;query={logName}{protoPayload.resourceName}{protoPayload.methodName}{timeRange}{organization}",
          "readOnly": true,
          "type": "string"
        },
        "category": {
          "description": "Output only. Category under which this violation is mapped. e.g. Location, Service Usage, Access, Encryption, etc.",
          "type": "string",
          "readOnly": true
        },
        "resolveTime": {
          "type": "string",
          "description": "Output only. Time of the event which fixed the Violation. If the violation is ACTIVE this will be empty.",
          "format": "google-datetime",
          "readOnly": true
        },
        "violationType": {
          "enumDescriptions": [
            "Unspecified type.",
            "Org Policy Violation.",
            "Resource Violation."
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "VIOLATION_TYPE_UNSPECIFIED",
            "ORG_POLICY",
            "RESOURCE"
          ],
          "description": "Output only. Type of the violation"
        },
        "associatedOrgPolicyViolationId": {
          "readOnly": true,
          "type": "string",
          "description": "Optional. Output only. Violation Id of the org-policy violation due to which the resource violation is caused. Empty for org-policy violations."
        },
        "nonCompliantOrgPolicy": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Immutable. Name of the OrgPolicy which was modified with non-compliant change and resulted this violation. Format: projects/{project_number}/policies/{constraint_name} folders/{folder_id}/policies/{constraint_name} organizations/{organization_id}/policies/{constraint_name}"
        },
        "acknowledgementTime": {
          "description": "Optional. Timestamp when this violation was acknowledged first. Check exception_contexts to find the last time the violation was acknowledged when there are more than one violations. This field will be absent when acknowledged field is marked as false.",
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The last time when the Violation record was updated.",
          "format": "google-datetime",
          "readOnly": true
        },
        "orgPolicyConstraint": {
          "type": "string",
          "deprecated": true,
          "readOnly": true,
          "description": "Output only. Immutable. The org-policy-constraint that was incorrectly changed, which resulted in this violation."
        },
        "acknowledged": {
          "type": "boolean",
          "description": "A boolean that indicates if the violation is acknowledged"
        },
        "resourceName": {
          "type": "string",
          "readOnly": true,
          "description": "Optional. Output only. Name of the resource like //storage.googleapis.com/myprojectxyz-testbucket. Empty for org-policy violations."
        },
        "auditLogLink": {
          "description": "Output only. Immutable. Audit Log Link for violated resource Format: https://console.cloud.google.com/logs/query;query={logName}{protoPayload.resourceName}{timeRange}{folder}",
          "type": "string",
          "readOnly": true
        },
        "beginTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Time of the event which triggered the Violation.",
          "type": "string"
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1Violation"
    },
    "GoogleCloudAssuredworkloadsV1WorkloadResourceSettings": {
      "id": "GoogleCloudAssuredworkloadsV1WorkloadResourceSettings",
      "properties": {
        "resourceType": {
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false
          ],
          "enumDescriptions": [
            "Unknown resource type.",
            "Deprecated. Existing workloads will continue to support this, but new CreateWorkloadRequests should not specify this as an input value.",
            "Consumer Folder.",
            "Consumer project containing encryption keys.",
            "Keyring resource that hosts encryption keys."
          ],
          "description": "Indicates the type of resource. This field should be specified to correspond the id to the right project type (CONSUMER_PROJECT or ENCRYPTION_KEYS_PROJECT)",
          "type": "string",
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "CONSUMER_PROJECT",
            "CONSUMER_FOLDER",
            "ENCRYPTION_KEYS_PROJECT",
            "KEYRING"
          ]
        },
        "resourceId": {
          "type": "string",
          "description": "Resource identifier. For a project this represents project_id. If the project is already taken, the workload creation will fail. For KeyRing, this represents the keyring_id. For a folder, don't set this value as folder_id is assigned by Google."
        },
        "displayName": {
          "description": "User-assigned resource display name. If not empty it will be used to create a resource with the specified name.",
          "type": "string"
        }
      },
      "description": "Represent the custom settings for the resources to be created.",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1RestrictAllowedResourcesRequest": {
      "type": "object",
      "properties": {
        "restrictionType": {
          "enumDescriptions": [
            "Unknown restriction type.",
            "Allow the use all of all gcp products, irrespective of the compliance posture. This effectively removes gcp.restrictServiceUsage OrgPolicy on the AssuredWorkloads Folder.",
            "Based on Workload's compliance regime, allowed list changes. See - https://cloud.google.com/assured-workloads/docs/supported-products for the list of supported resources.",
            "Similar to ALLOW_COMPLIANT_RESOURCES but adds the list of compliant resources to the existing list of compliant resources. Effective org-policy of the Folder is considered to ensure there is no disruption to the existing customer workflows."
          ],
          "type": "string",
          "description": "Required. The type of restriction for using gcp products in the Workload environment.",
          "enum": [
            "RESTRICTION_TYPE_UNSPECIFIED",
            "ALLOW_ALL_GCP_RESOURCES",
            "ALLOW_COMPLIANT_RESOURCES",
            "APPEND_COMPLIANT_RESOURCES"
          ]
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1RestrictAllowedResourcesRequest",
      "description": "Request for restricting list of available resources in Workload environment."
    },
    "GoogleCloudAssuredworkloadsV1WorkloadUpdate": {
      "id": "GoogleCloudAssuredworkloadsV1WorkloadUpdate",
      "properties": {
        "state": {
          "readOnly": true,
          "description": "Output only. The state of the update.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "The update is available to be applied.",
            "The update has been applied.",
            "The update has been withdrawn by the service."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "AVAILABLE",
            "APPLIED",
            "WITHDRAWN"
          ]
        },
        "details": {
          "$ref": "GoogleCloudAssuredworkloadsV1UpdateDetails",
          "description": "The details of the update."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time the update was created."
        },
        "name": {
          "description": "Output only. Immutable. Identifier. Resource name of the WorkloadUpdate. Format: organizations/{organization}/locations/{location}/workloads/{workload}/updates/{update}",
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time the update was last updated."
        }
      },
      "description": "A workload update is a change to the workload's compliance configuration.",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1ViolationRemediationInstructions": {
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1ViolationRemediationInstructions",
      "description": "Instructions to remediate violation",
      "properties": {
        "gcloudInstructions": {
          "description": "Remediation instructions to resolve violation via gcloud cli",
          "$ref": "GoogleCloudAssuredworkloadsV1ViolationRemediationInstructionsGcloud"
        },
        "consoleInstructions": {
          "description": "Remediation instructions to resolve violation via cloud console",
          "$ref": "GoogleCloudAssuredworkloadsV1ViolationRemediationInstructionsConsole"
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1WorkloadEkmProvisioningResponse": {
      "type": "object",
      "description": "External key management systems(EKM) Provisioning response",
      "id": "GoogleCloudAssuredworkloadsV1WorkloadEkmProvisioningResponse",
      "properties": {
        "ekmProvisioningState": {
          "enum": [
            "EKM_PROVISIONING_STATE_UNSPECIFIED",
            "EKM_PROVISIONING_STATE_PENDING",
            "EKM_PROVISIONING_STATE_FAILED",
            "EKM_PROVISIONING_STATE_COMPLETED"
          ],
          "type": "string",
          "description": "Output only. Indicates Ekm enrollment Provisioning of a given workload.",
          "enumDescriptions": [
            "Default State for Ekm Provisioning",
            "Pending State for Ekm Provisioning",
            "Failed State for Ekm Provisioning",
            "Completed State for Ekm Provisioning"
          ],
          "readOnly": true
        },
        "ekmProvisioningErrorMapping": {
          "type": "string",
          "enumDescriptions": [
            "Error is unspecified.",
            "Service account is used is invalid.",
            "Iam permission monitoring.MetricsScopeAdmin wasn't applied.",
            "Iam permission cloudkms.ekmConnectionsAdmin wasn't applied."
          ],
          "description": "Detailed error message if Ekm provisioning fails",
          "enum": [
            "EKM_PROVISIONING_ERROR_MAPPING_UNSPECIFIED",
            "INVALID_SERVICE_ACCOUNT",
            "MISSING_METRICS_SCOPE_ADMIN_PERMISSION",
            "MISSING_EKM_CONNECTION_ADMIN_PERMISSION"
          ]
        },
        "ekmProvisioningErrorDomain": {
          "type": "string",
          "enum": [
            "EKM_PROVISIONING_ERROR_DOMAIN_UNSPECIFIED",
            "UNSPECIFIED_ERROR",
            "GOOGLE_SERVER_ERROR",
            "EXTERNAL_USER_ERROR",
            "EXTERNAL_PARTNER_ERROR",
            "TIMEOUT_ERROR"
          ],
          "enumDescriptions": [
            "No error domain",
            "Error but domain is unspecified.",
            "Internal logic breaks within provisioning code.",
            "Error occurred with the customer not granting permission/creating resource.",
            "Error occurred within the partner's provisioning cluster.",
            "Resource wasn't provisioned in the required 7 day time period"
          ],
          "description": "Indicates Ekm provisioning error if any."
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1WorkloadSaaEnrollmentResponse": {
      "id": "GoogleCloudAssuredworkloadsV1WorkloadSaaEnrollmentResponse",
      "type": "object",
      "description": "Signed Access Approvals (SAA) enrollment response.",
      "properties": {
        "setupStatus": {
          "enumDescriptions": [
            "Unspecified.",
            "SAA enrollment pending.",
            "SAA enrollment comopleted."
          ],
          "type": "string",
          "description": "Output only. Indicates SAA enrollment status of a given workload.",
          "enum": [
            "SETUP_STATE_UNSPECIFIED",
            "STATUS_PENDING",
            "STATUS_COMPLETE"
          ],
          "readOnly": true
        },
        "setupErrors": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified.",
              "Invalid states for all customers, to be redirected to AA UI for additional details.",
              "Returned when there is not an EKM key configured.",
              "Returned when there are no enrolled services or the customer is enrolled in CAA only for a subset of services.",
              "Returned when exception was encountered during evaluation of other criteria."
            ],
            "enum": [
              "SETUP_ERROR_UNSPECIFIED",
              "ERROR_INVALID_BASE_SETUP",
              "ERROR_MISSING_EXTERNAL_SIGNING_KEY",
              "ERROR_NOT_ALL_SERVICES_ENROLLED",
              "ERROR_SETUP_CHECK_FAILED"
            ]
          },
          "type": "array",
          "description": "Indicates SAA enrollment setup error if any."
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1ListWorkloadUpdatesResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The next page token. Return empty if reached the last page.",
          "type": "string"
        },
        "workloadUpdates": {
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1WorkloadUpdate"
          },
          "type": "array",
          "description": "The list of workload updates for a given workload."
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1ListWorkloadUpdatesResponse",
      "description": "Response of listing the compliance updates per workload with pagination."
    },
    "GoogleCloudAssuredworkloadsV1DbControlComplianceSummary": {
      "properties": {
        "orgPolicyFindingCount": {
          "description": "Output only. Number of organization policy findings for this control.",
          "format": "int64",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the control compliance summary."
        },
        "displayName": {
          "description": "The display name of the control.",
          "type": "string"
        },
        "controlResponsibilityType": {
          "enum": [
            "REGULATORY_CONTROL_RESPONSIBILITY_TYPE_UNSPECIFIED",
            "GOOGLE",
            "CUSTOMER",
            "SHARED"
          ],
          "description": "The responsibility type for the control.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Google's responsibility.",
            "Your responsibility.",
            "Shared responsibility."
          ]
        },
        "isFakeControl": {
          "type": "boolean",
          "description": "Whether the control is a fake control. Fake controls are created and mapped to cloud controls that don't belong to a control group."
        },
        "totalFindingsCount": {
          "format": "int32",
          "description": "The total number of findings for the control.",
          "type": "integer"
        },
        "overallEvaluationState": {
          "description": "Output only. The overall evaluation status of the control.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The control is passing.",
            "The control is failing.",
            "The control is not assessed."
          ],
          "type": "string",
          "enum": [
            "EVALUATION_STATE_UNSPECIFIED",
            "EVALUATION_STATE_PASSED",
            "EVALUATION_STATE_FAILED",
            "EVALUATION_STATE_NOT_ASSESSED"
          ],
          "readOnly": true
        },
        "cloudControlReports": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1CloudControlReport"
          },
          "description": "The list of cloud control reports."
        },
        "description": {
          "description": "The description of the control.",
          "type": "string"
        },
        "resourceFindingCount": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Number of resource findings for this control.",
          "format": "int64"
        },
        "complianceFrameworks": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The list of compliance frameworks that the control belongs to."
        },
        "control": {
          "description": "The name of the control.",
          "type": "string"
        },
        "similarControls": {
          "type": "array",
          "description": "The list of similar controls.",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1SimilarControls"
          }
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1DbControlComplianceSummary",
      "description": "The details for control compliance.",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1AggregatedComplianceReport": {
      "id": "GoogleCloudAssuredworkloadsV1AggregatedComplianceReport",
      "properties": {
        "reportTime": {
          "description": "The report time of the aggregated compliance report.",
          "format": "google-datetime",
          "type": "string"
        },
        "controlAssessmentDetails": {
          "description": "The control assessment details of the framework.",
          "$ref": "GoogleCloudAssuredworkloadsV1ControlAssessmentDetails"
        }
      },
      "type": "object",
      "description": "The aggregated compliance report."
    },
    "GoogleCloudAssuredworkloadsV1ViolationRemediationInstructionsGcloud": {
      "properties": {
        "gcloudCommands": {
          "items": {
            "type": "string"
          },
          "description": "Gcloud command to resolve violation",
          "type": "array"
        },
        "additionalLinks": {
          "description": "Additional urls for more information about steps",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "steps": {
          "type": "array",
          "description": "Steps to resolve violation via gcloud cli",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Remediation instructions to resolve violation via gcloud cli",
      "id": "GoogleCloudAssuredworkloadsV1ViolationRemediationInstructionsGcloud"
    },
    "GoogleCloudAssuredworkloadsV1ListDbControlComplianceSummariesResponse": {
      "id": "GoogleCloudAssuredworkloadsV1ListDbControlComplianceSummariesResponse",
      "type": "object",
      "description": "The response message for ListDBControlComplianceSummaries.",
      "properties": {
        "dbControlComplianceSummaries": {
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1DbControlComplianceSummary"
          },
          "type": "array",
          "description": "The list of control compliance details."
        },
        "nextPageToken": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The token to retrieve the next page of results."
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1TargetResourceDetails": {
      "properties": {
        "minorRevisionId": {
          "format": "int64",
          "description": "The minor revision ID of the framework for the target resource.",
          "type": "string"
        },
        "targetResourceDisplayName": {
          "type": "string",
          "description": "The display name of the target resource. For example, `google.com`, `staging-project`, or `development-folder`."
        },
        "majorRevisionId": {
          "format": "int64",
          "type": "string",
          "description": "The major revision ID of the framework for the target resource."
        },
        "createTime": {
          "description": "The create time of the target resource.",
          "format": "google-datetime",
          "type": "string"
        },
        "targetResource": {
          "description": "The target resource. For example, `organizations/1234567890`, `projects/1234567890`, or `folders/1234567890`.",
          "type": "string"
        },
        "frameworkDeployment": {
          "description": "The framework deployment name for the target resource. For example, `organizations/{organization_id}/locations/{location}/frameworkDeployments/{framework_deployment_id}`",
          "type": "string"
        },
        "updateTime": {
          "description": "The update time of the target resource.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1TargetResourceDetails",
      "description": "The details for a target resource.",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1OrgPolicyPolicyRule": {
      "id": "GoogleCloudAssuredworkloadsV1OrgPolicyPolicyRule",
      "properties": {
        "values": {
          "$ref": "GoogleCloudAssuredworkloadsV1OrgPolicyPolicyRuleStringValues",
          "description": "ListPolicy only when custom values are specified."
        },
        "enforce": {
          "type": "boolean",
          "description": "BooleanPolicy only."
        },
        "allowAll": {
          "description": "ListPolicy only when all values are allowed.",
          "type": "boolean"
        },
        "denyAll": {
          "type": "boolean",
          "description": "ListPolicy only when all values are denied."
        }
      },
      "description": "A rule used to express this policy.",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1ArchiveResourceEventsResponse": {
      "id": "GoogleCloudAssuredworkloadsV1ArchiveResourceEventsResponse",
      "properties": {
        "movedEventsCount": {
          "format": "int32",
          "type": "integer",
          "description": "The total number of events successfully moved to the archive table."
        }
      },
      "type": "object",
      "description": "Response for archiving resource events."
    },
    "GoogleCloudAssuredworkloadsV1ArchiveResourceEventsRequest": {
      "description": "Request for archiving resource events.",
      "id": "GoogleCloudAssuredworkloadsV1ArchiveResourceEventsRequest",
      "type": "object",
      "properties": {
        "region": {
          "description": "Required. The region of the workload(s) whose events should be archived. This is used to filter workloads based on AssurantWorkloadData.region.",
          "type": "string"
        },
        "eventCutoffTime": {
          "type": "string",
          "description": "Required. Only events with EventTime earlier than this cutoff will be archived.",
          "format": "google-datetime"
        },
        "maxEventsMove": {
          "description": "Required. The maximum total number of events to move in this request.",
          "format": "int32",
          "type": "integer"
        },
        "archiveTime": {
          "description": "Optional. Time to set as ArchiveTime in the archive table. If not provided, the current time is used.",
          "type": "string",
          "format": "google-datetime"
        },
        "batchSize": {
          "format": "int32",
          "type": "integer",
          "description": "Required. The number of events to process in a single transaction batch."
        },
        "organizationId": {
          "description": "Required. The organization ID for which to archive events.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1Rule": {
      "id": "GoogleCloudAssuredworkloadsV1Rule",
      "description": "A rule in the cloud control.",
      "type": "object",
      "properties": {
        "description": {
          "description": "Optional. The rule description. The maximum length is 2000 characters.",
          "type": "string"
        },
        "celExpression": {
          "description": "The rule's logic expression in Common Expression Language (CEL).",
          "$ref": "GoogleCloudAssuredworkloadsV1CELExpression"
        },
        "ruleActionTypes": {
          "type": "array",
          "description": "Required. The functionality that's enabled by the rule.",
          "items": {
            "enum": [
              "RULE_ACTION_TYPE_UNSPECIFIED",
              "RULE_ACTION_TYPE_PREVENTIVE",
              "RULE_ACTION_TYPE_DETECTIVE",
              "RULE_ACTION_TYPE_AUDIT"
            ],
            "enumDescriptions": [
              "Default value. This value is unused.",
              "The rule is intended to prevent non-compliance.",
              "The rule is intended to detect non-compliance.",
              "The rule is intended to audit non-compliance."
            ],
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1RevertArchivedResourceEventsRequest": {
      "properties": {
        "archiveStartTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Required. Only events within this time range will be reverted. This helps prevent reverting everything when something goes wrong."
        },
        "region": {
          "description": "Required. The region of the workload(s) whose events should be reverted. This is used to filter workloads based on AssurantWorkloadData.region.",
          "type": "string"
        },
        "batchSize": {
          "type": "integer",
          "description": "Required. The number of events to process in a single transaction batch.",
          "format": "int32"
        },
        "organizationId": {
          "format": "int64",
          "type": "string",
          "description": "Required. The organization ID for which to revert events."
        },
        "archiveEndTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Required. Only events within this time range will be reverted. This helps prevent reverting everything when something goes wrong."
        },
        "maxEventsMove": {
          "format": "int32",
          "description": "Required. The maximum total number of events to move in this request.",
          "type": "integer"
        }
      },
      "description": "Request for reverting archived resource events.",
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1RevertArchivedResourceEventsRequest"
    },
    "GoogleCloudAssuredworkloadsV1StringList": {
      "id": "GoogleCloudAssuredworkloadsV1StringList",
      "properties": {
        "values": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. The strings in the list."
        }
      },
      "description": "A list of strings for the parameter value.",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1SimilarControls": {
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1SimilarControls",
      "description": "The similar controls.",
      "properties": {
        "framework": {
          "type": "string",
          "description": "The name of the framework."
        },
        "controlId": {
          "description": "The ID of the control.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1MoveAnalysisGroup": {
      "description": "Represents a logical group of checks performed for an asset. If successful, the group contains the analysis result, otherwise it contains an error with the failure reason.",
      "properties": {
        "displayName": {
          "description": "Name of the analysis group.",
          "type": "string"
        },
        "error": {
          "$ref": "GoogleRpcStatus",
          "description": "Error details for a failed analysis."
        },
        "analysisResult": {
          "description": "Result of a successful analysis.",
          "$ref": "GoogleCloudAssuredworkloadsV1MoveAnalysisResult"
        }
      },
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1MoveAnalysisGroup"
    },
    "GoogleCloudAssuredworkloadsV1AggregateDbFrameworkComplianceReportResponse": {
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1AggregateDbFrameworkComplianceReportResponse",
      "description": "The response message for AggregateDbFrameworkComplianceReport.",
      "properties": {
        "aggregatedComplianceReports": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1AggregatedComplianceReport"
          },
          "description": "The list of aggregated compliance reports."
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1ApplyWorkloadUpdateRequest": {
      "id": "GoogleCloudAssuredworkloadsV1ApplyWorkloadUpdateRequest",
      "properties": {
        "action": {
          "enumDescriptions": [
            "Unspecified value.",
            "The update is applied."
          ],
          "enum": [
            "WORKLOAD_UPDATE_ACTION_UNSPECIFIED",
            "APPLY"
          ],
          "type": "string",
          "description": "The action to be performed on the update."
        }
      },
      "type": "object",
      "description": "Request to apply update to a workload."
    },
    "GoogleCloudAssuredworkloadsV1Trend": {
      "id": "GoogleCloudAssuredworkloadsV1Trend",
      "description": "The trend of a compliance metric.",
      "type": "object",
      "properties": {
        "duration": {
          "type": "string",
          "description": "Output only. The duration for the trend.",
          "readOnly": true,
          "format": "google-duration"
        },
        "valuePercent": {
          "description": "Output only. The trend value as a percentage. The value can be positive or negative.",
          "format": "double",
          "readOnly": true,
          "type": "number"
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1ViolationRemediation": {
      "type": "object",
      "description": "Represents remediation guidance to resolve compliance violation for AssuredWorkload",
      "id": "GoogleCloudAssuredworkloadsV1ViolationRemediation",
      "properties": {
        "compliantValues": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Values that can resolve the violation For example: for list org policy violations, this will either be the list of allowed or denied values"
        },
        "remediationType": {
          "enumDescriptions": [
            "Unspecified remediation type",
            "Remediation type for boolean org policy",
            "Remediation type for list org policy which have allowed values in the monitoring rule",
            "Remediation type for list org policy which have denied values in the monitoring rule",
            "Remediation type for gcp.restrictCmekCryptoKeyProjects",
            "Remediation type for resource violation.",
            "Remediation type for resource violation due to gcp.restrictNonCmekServices"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. Reemediation type based on the type of org policy values violated",
          "enum": [
            "REMEDIATION_TYPE_UNSPECIFIED",
            "REMEDIATION_BOOLEAN_ORG_POLICY_VIOLATION",
            "REMEDIATION_LIST_ALLOWED_VALUES_ORG_POLICY_VIOLATION",
            "REMEDIATION_LIST_DENIED_VALUES_ORG_POLICY_VIOLATION",
            "REMEDIATION_RESTRICT_CMEK_CRYPTO_KEY_PROJECTS_ORG_POLICY_VIOLATION",
            "REMEDIATION_RESOURCE_VIOLATION",
            "REMEDIATION_RESOURCE_VIOLATION_NON_CMEK_SERVICES"
          ]
        },
        "instructions": {
          "description": "Required. Remediation instructions to resolve violations",
          "$ref": "GoogleCloudAssuredworkloadsV1ViolationRemediationInstructions"
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1ApplyWorkloadUpdateResponse": {
      "description": "Response for ApplyWorkloadUpdate endpoint.",
      "id": "GoogleCloudAssuredworkloadsV1ApplyWorkloadUpdateResponse",
      "properties": {
        "appliedUpdate": {
          "description": "The update that was applied.",
          "$ref": "GoogleCloudAssuredworkloadsV1WorkloadUpdate"
        }
      },
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1OrgPolicy": {
      "description": "This assured workload service object is used to represent the org policy attached to a resource. It servces the same purpose as the orgpolicy.v2.Policy object but with functionality that is limited to what is supported by Assured Workloads(e.g. only one rule under one OrgPolicy object, no conditions, etc).",
      "properties": {
        "resource": {
          "description": "Resource that the OrgPolicy attaches to. Format: folders/123\" projects/123\".",
          "type": "string"
        },
        "inherit": {
          "description": "If `inherit` is true, policy rules of the lowest ancestor in the resource hierarchy chain are inherited. If it is false, policy rules are not inherited.",
          "type": "boolean"
        },
        "constraint": {
          "description": "The constraint name of the OrgPolicy. e.g. \"constraints/gcp.resourceLocations\".",
          "type": "string"
        },
        "reset": {
          "description": "Ignores policies set above this resource and restores to the `constraint_default` value. `reset` can only be true when `rules` is empty and `inherit` is false.",
          "type": "boolean"
        },
        "rule": {
          "$ref": "GoogleCloudAssuredworkloadsV1OrgPolicyPolicyRule",
          "description": "The rule of the OrgPolicy."
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1OrgPolicy",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1ListDbFindingSummariesResponse": {
      "description": "The response message for ListDbFindingSummaries.",
      "id": "GoogleCloudAssuredworkloadsV1ListDbFindingSummariesResponse",
      "properties": {
        "nextPageToken": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The token to retrieve the next page of results."
        },
        "dbFindingSummaries": {
          "type": "array",
          "description": "List of finding summary by category.",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1DbFindingSummary"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1AcknowledgeViolationRequest": {
      "type": "object",
      "properties": {
        "comment": {
          "type": "string",
          "description": "Required. Business justification explaining the need for violation acknowledgement"
        },
        "nonCompliantOrgPolicy": {
          "type": "string",
          "description": "Optional. This field is deprecated and will be removed in future version of the API. Name of the OrgPolicy which was modified with non-compliant change and resulted in this violation. Format: projects/{project_number}/policies/{constraint_name} folders/{folder_id}/policies/{constraint_name} organizations/{organization_id}/policies/{constraint_name}",
          "deprecated": true
        },
        "acknowledgeType": {
          "type": "string",
          "enumDescriptions": [
            "Acknowledge type unspecified.",
            "Acknowledge only the specific violation.",
            "Acknowledge specified orgPolicy violation and also associated resource violations."
          ],
          "description": "Optional. Acknowledge type of specified violation.",
          "enum": [
            "ACKNOWLEDGE_TYPE_UNSPECIFIED",
            "SINGLE_VIOLATION",
            "EXISTING_CHILD_RESOURCE_VIOLATIONS"
          ]
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1AcknowledgeViolationRequest",
      "description": "Request for acknowledging the violation"
    },
    "GoogleCloudAssuredworkloadsV1DbFindingSummary": {
      "properties": {
        "severity": {
          "readOnly": true,
          "enumDescriptions": [
            "Default value. This value is unused.",
            "A critical vulnerability is easily discoverable by an external actor, exploitable, and results in the direct ability to execute arbitrary code, exfiltrate data, and otherwise gain additional access and privileges to cloud resources and workloads. Examples include publicly accessible unprotected user data and public SSH access with weak or no passwords. A critical threat is a threat that can access, modify, or delete data or execute unauthorized code within existing resources.",
            "A high-risk vulnerability can be easily discovered and exploited in combination with other vulnerabilities to gain direct access and the ability to execute arbitrary code, exfiltrate data, and otherwise gain additional access and privileges to cloud resources and workloads. An example is a database with weak or no passwords that is only accessible internally. This database could easily be compromised by an actor that had access to the internal network. A high-risk threat is a threat that can create new computational resources in an environment but can't access data or execute code in existing resources.",
            "A medium-risk vulnerability can be used by an actor to gain access to resources or privileges that enable them to eventually (through multiple steps or a complex exploit) gain access and the ability to execute arbitrary code or exfiltrate data. An example is a service account with access to more projects than it should have. If an actor gains access to the service account, they could potentially use that access to manipulate a project the service account was not intended to. A medium-risk threat can cause operational impact but might not access data or execute unauthorized code.",
            "A low-risk vulnerability hampers a security organization's ability to detect vulnerabilities or active threats in their deployment, or prevents the root cause investigation of security issues. An example is monitoring and logs being disabled for resource configurations and access. A low-risk threat is a threat that has obtained minimal access to an environment but can't access data, execute code, or create resources."
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "description": "Output only. The severity of the finding.",
          "type": "string"
        },
        "organizationPolicyFindingCount": {
          "description": "Output only. Number of active organization policy findings for this category.",
          "type": "string",
          "format": "int64",
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
[...]
