{
  "title": "Assured Workloads API",
  "id": "assuredworkloads:v1beta1",
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "fullyEncodeReservedExpansion": true,
  "version": "v1beta1",
  "ownerName": "Google",
  "name": "assuredworkloads",
  "version_module": true,
  "resources": {
    "folders": {
      "resources": {
        "locations": {
          "resources": {
            "dbFrameworkComplianceSummaries": {
              "methods": {
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta1/{+parent}/dbFrameworkComplianceSummaries",
                  "flatPath": "v1beta1/folders/{foldersId}/locations/{locationsId}/dbFrameworkComplianceSummaries",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists the framework compliance summary for a given scope.",
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "description": "Optional. The requested page size. The server might return fewer items than requested. If unspecified, the default page size is 50. The maximum value is 1000.",
                      "type": "integer"
                    },
                    "parent": {
                      "required": true,
                      "description": "Required. The parent scope for the framework compliance summary. Format: organizations/{organization}/locations/{location} folders/{folder}/locations/{location} projects/{project}/locations/{location}",
                      "type": "string",
                      "pattern": "^folders/[^/]+/locations/[^/]+$",
                      "location": "path"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The filtering results."
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A token that identifies the page of results that the server should return. Pass the next_page_token value from a previous result.",
                      "location": "query"
                    },
                    "view": {
                      "type": "string",
                      "enum": [
                        "FRAMEWORK_COMPLIANCE_SUMMARY_VIEW_UNSPECIFIED",
                        "FRAMEWORK_COMPLIANCE_SUMMARY_VIEW_BASIC",
                        "FRAMEWORK_COMPLIANCE_SUMMARY_VIEW_FULL"
                      ],
                      "description": "Optional. Specifies the level of detail to return in the response.",
                      "location": "query",
                      "enumDescriptions": [
                        "The default / unset value. The API will default to the BASIC view.",
                        "Includes basic compliance metadata, but omits trend data.",
                        "Includes all information, including finding_count and controls_passing_trend. Trend data is provided for the last 30 days."
                      ]
                    }
                  },
                  "id": "assuredworkloads.folders.locations.dbFrameworkComplianceSummaries.list",
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1beta1ListDbFrameworkComplianceSummariesResponse"
                  }
                }
              }
            },
            "dbFrameworkComplianceReports": {
              "resources": {
                "dbControlComplianceSummaries": {
                  "methods": {
                    "list": {
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "pattern": "^folders/[^/]+/locations/[^/]+/dbFrameworkComplianceReports/[^/]+$",
                          "description": "Required. The parent scope for the framework overview page. Format: organizations/{organization}/locations/{location}/dbFrameworkComplianceReports/{db_framework_compliance_report} folders/{folder}/locations/{location}/dbFrameworkComplianceReports/{db_framework_compliance_report} projects/{project}/locations/{location}/dbFrameworkComplianceReports/{db_framework_compliance_report}",
                          "type": "string",
                          "required": true
                        },
                        "filter": {
                          "type": "string",
                          "description": "Optional. The filtering results.",
                          "location": "query"
                        },
                        "pageSize": {
                          "format": "int32",
                          "description": "Optional. The requested page size. The server might return fewer items than requested. If unspecified, the default page size is 50. The maximum value is 1000.",
                          "type": "integer",
                          "location": "query"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "Optional. A token that identifies the page of results that the server should return.",
                          "location": "query"
                        }
                      },
                      "id": "assuredworkloads.folders.locations.dbFrameworkComplianceReports.dbControlComplianceSummaries.list",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleCloudAssuredworkloadsV1beta1ListDbControlComplianceSummariesResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1beta1/{+parent}/dbControlComplianceSummaries",
                      "flatPath": "v1beta1/folders/{foldersId}/locations/{locationsId}/dbFrameworkComplianceReports/{dbFrameworkComplianceReportsId}/dbControlComplianceSummaries",
                      "description": "Lists the control compliance summary for a given scope."
                    }
                  }
                }
              },
              "methods": {
                "aggregate": {
                  "parameters": {
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The filtering results."
                    },
                    "interval.endTime": {
                      "type": "string",
                      "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end.",
                      "format": "google-datetime",
                      "location": "query"
                    },
                    "name": {
                      "type": "string",
                      "description": "Required. The name of the aggregated compliance report over time to retrieve. Format: `organizations/{organization_id}/locations/{location}/dbFrameworkComplianceReports/{db_framework_compliance_report}`",
                      "location": "path",
                      "pattern": "^folders/[^/]+/locations/[^/]+/dbFrameworkComplianceReports/[^/]+$",
                      "required": true
                    },
                    "interval.startTime": {
                      "location": "query",
                      "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start.",
                      "type": "string",
                      "format": "google-datetime"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1beta1AggregateDbFrameworkComplianceReportResponse"
                  },
                  "description": "Gets the aggregated compliance report over time for a given scope.",
                  "id": "assuredworkloads.folders.locations.dbFrameworkComplianceReports.aggregate",
                  "httpMethod": "GET",
                  "path": "v1beta1/{+name}:aggregate",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta1/folders/{foldersId}/locations/{locationsId}/dbFrameworkComplianceReports/{dbFrameworkComplianceReportsId}:aggregate",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "fetch": {
                  "description": "Fetches the framework compliance report for a given scope.",
                  "path": "v1beta1/{+name}:fetch",
                  "id": "assuredworkloads.folders.locations.dbFrameworkComplianceReports.fetch",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1beta1FetchDbFrameworkComplianceReportResponse"
                  },
                  "parameters": {
                    "filter": {
                      "description": "Optional. The filtering results.",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "type": "string",
                      "pattern": "^folders/[^/]+/locations/[^/]+/dbFrameworkComplianceReports/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Required. The name of the framework compliance report to retrieve."
                    },
                    "endTime": {
                      "location": "query",
                      "type": "string",
                      "format": "google-datetime",
                      "description": "Optional. The end time of the report."
                    }
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta1/folders/{foldersId}/locations/{locationsId}/dbFrameworkComplianceReports/{dbFrameworkComplianceReportsId}:fetch"
                }
              }
            },
            "dbFindingSummaries": {
              "methods": {
                "list": {
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1beta1ListDbFindingSummariesResponse"
                  },
                  "httpMethod": "GET",
                  "id": "assuredworkloads.folders.locations.dbFindingSummaries.list",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. The parent scope for the framework overview page. Formats: - projects/{project}/locations/{location} - folders/{folder}/locations/{location} - organizations/{organization}/locations/{location}",
                      "pattern": "^folders/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true
                    },
                    "filter": {
                      "description": "Optional. The filtering results.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Optional. The requested page size. The server might return fewer items than requested. If unspecified, the server picks an appropriate default.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. A token that identifies the page of results that the server should return.",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1beta1/folders/{foldersId}/locations/{locationsId}/dbFindingSummaries",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists the finding summary by category for a given scope.",
                  "path": "v1beta1/{+parent}/dbFindingSummaries"
                }
              }
            }
          }
        }
      }
    },
    "assuredworkloads": {
      "methods": {
        "archiveResourceEvents": {
          "flatPath": "v1beta1/assuredworkloads:archiveResourceEvents",
          "parameterOrder": [],
          "path": "v1beta1/assuredworkloads:archiveResourceEvents",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "GoogleCloudAssuredworkloadsV1beta1ArchiveResourceEventsResponse"
          },
          "id": "assuredworkloads.assuredworkloads.archiveResourceEvents",
          "request": {
            "$ref": "GoogleCloudAssuredworkloadsV1beta1ArchiveResourceEventsRequest"
          },
          "httpMethod": "POST",
          "description": "Finds orphan ResourceEvents matching the criteria and moves them to the ArchivedResourceEvents table.",
          "parameters": {}
        },
        "revertArchivedResourceEvents": {
          "request": {
            "$ref": "GoogleCloudAssuredworkloadsV1beta1RevertArchivedResourceEventsRequest"
          },
          "response": {
            "$ref": "GoogleCloudAssuredworkloadsV1beta1RevertArchivedResourceEventsResponse"
          },
          "httpMethod": "POST",
          "parameters": {},
          "parameterOrder": [],
          "description": "Finds matching ArchivedResourceEvents and moves them back to the ResourceEvents table.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1beta1/assuredworkloads:revertArchivedResourceEvents",
          "path": "v1beta1/assuredworkloads:revertArchivedResourceEvents",
          "id": "assuredworkloads.assuredworkloads.revertArchivedResourceEvents"
        }
      }
    },
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "dbFindingSummaries": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/dbFindingSummaries",
                  "description": "Lists the finding summary by category for a given scope.",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent scope for the framework overview page. Formats: - projects/{project}/locations/{location} - folders/{folder}/locations/{location} - organizations/{organization}/locations/{location}",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. A token that identifies the page of results that the server should return.",
                      "type": "string"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. The filtering results."
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "Optional. The requested page size. The server might return fewer items than requested. If unspecified, the server picks an appropriate default.",
                      "type": "integer",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1beta1ListDbFindingSummariesResponse"
                  },
                  "path": "v1beta1/{+parent}/dbFindingSummaries",
                  "id": "assuredworkloads.projects.locations.dbFindingSummaries.list",
                  "httpMethod": "GET"
                }
              }
            },
            "dbFrameworkComplianceReports": {
              "resources": {
                "dbControlComplianceSummaries": {
                  "methods": {
                    "list": {
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/dbFrameworkComplianceReports/{dbFrameworkComplianceReportsId}/dbControlComplianceSummaries",
                      "parameters": {
                        "parent": {
                          "description": "Required. The parent scope for the framework overview page. Format: organizations/{organization}/locations/{location}/dbFrameworkComplianceReports/{db_framework_compliance_report} folders/{folder}/locations/{location}/dbFrameworkComplianceReports/{db_framework_compliance_report} projects/{project}/locations/{location}/dbFrameworkComplianceReports/{db_framework_compliance_report}",
                          "pattern": "^projects/[^/]+/locations/[^/]+/dbFrameworkComplianceReports/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "filter": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. The filtering results."
                        },
                        "pageToken": {
                          "description": "Optional. A token that identifies the page of results that the server should return.",
                          "type": "string",
                          "location": "query"
                        },
                        "pageSize": {
                          "description": "Optional. The requested page size. The server might return fewer items than requested. If unspecified, the default page size is 50. The maximum value is 1000.",
                          "type": "integer",
                          "location": "query",
                          "format": "int32"
                        }
                      },
                      "path": "v1beta1/{+parent}/dbControlComplianceSummaries",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleCloudAssuredworkloadsV1beta1ListDbControlComplianceSummariesResponse"
                      },
                      "id": "assuredworkloads.projects.locations.dbFrameworkComplianceReports.dbControlComplianceSummaries.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Lists the control compliance summary for a given scope."
                    }
                  }
                }
              },
              "methods": {
                "aggregate": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "assuredworkloads.projects.locations.dbFrameworkComplianceReports.aggregate",
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1beta1AggregateDbFrameworkComplianceReportResponse"
                  },
                  "description": "Gets the aggregated compliance report over time for a given scope.",
                  "path": "v1beta1/{+name}:aggregate",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/dbFrameworkComplianceReports/{dbFrameworkComplianceReportsId}:aggregate",
                  "parameters": {
                    "interval.endTime": {
                      "type": "string",
                      "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end.",
                      "format": "google-datetime",
                      "location": "query"
                    },
                    "interval.startTime": {
                      "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start.",
                      "format": "google-datetime",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/dbFrameworkComplianceReports/[^/]+$",
                      "location": "path",
                      "description": "Required. The name of the aggregated compliance report over time to retrieve. Format: `organizations/{organization_id}/locations/{location}/dbFrameworkComplianceReports/{db_framework_compliance_report}`",
                      "required": true
                    },
                    "filter": {
                      "description": "Optional. The filtering results.",
                      "type": "string",
                      "location": "query"
                    }
                  }
                },
                "fetch": {
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/dbFrameworkComplianceReports/{dbFrameworkComplianceReportsId}:fetch",
                  "id": "assuredworkloads.projects.locations.dbFrameworkComplianceReports.fetch",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Fetches the framework compliance report for a given scope.",
                  "path": "v1beta1/{+name}:fetch",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the framework compliance report to retrieve.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/dbFrameworkComplianceReports/[^/]+$",
                      "location": "path"
                    },
                    "filter": {
                      "location": "query",
                      "description": "Optional. The filtering results.",
                      "type": "string"
                    },
                    "endTime": {
                      "type": "string",
                      "description": "Optional. The end time of the report.",
                      "format": "google-datetime",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1beta1FetchDbFrameworkComplianceReportResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "dbFrameworkComplianceSummaries": {
              "methods": {
                "list": {
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1beta1ListDbFrameworkComplianceSummariesResponse"
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists the framework compliance summary for a given scope.",
                  "path": "v1beta1/{+parent}/dbFrameworkComplianceSummaries",
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "description": "Optional. The requested page size. The server might return fewer items than requested. If unspecified, the default page size is 50. The maximum value is 1000.",
                      "format": "int32",
                      "type": "integer"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The filtering results."
                    },
                    "view": {
                      "description": "Optional. Specifies the level of detail to return in the response.",
                      "enumDescriptions": [
                        "The default / unset value. The API will default to the BASIC view.",
                        "Includes basic compliance metadata, but omits trend data.",
                        "Includes all information, including finding_count and controls_passing_trend. Trend data is provided for the last 30 days."
                      ],
                      "location": "query",
                      "type": "string",
                      "enum": [
                        "FRAMEWORK_COMPLIANCE_SUMMARY_VIEW_UNSPECIFIED",
                        "FRAMEWORK_COMPLIANCE_SUMMARY_VIEW_BASIC",
                        "FRAMEWORK_COMPLIANCE_SUMMARY_VIEW_FULL"
                      ]
                    },
                    "pageToken": {
                      "description": "Optional. A token that identifies the page of results that the server should return. Pass the next_page_token value from a previous result.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. The parent scope for the framework compliance summary. Format: organizations/{organization}/locations/{location} folders/{folder}/locations/{location} projects/{project}/locations/{location}",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/dbFrameworkComplianceSummaries",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "assuredworkloads.projects.locations.dbFrameworkComplianceSummaries.list"
                }
              }
            }
          }
        }
      }
    },
    "organizations": {
      "resources": {
        "locations": {
          "resources": {
            "dbFrameworkComplianceSummaries": {
              "methods": {
                "list": {
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1beta1ListDbFrameworkComplianceSummariesResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "assuredworkloads.organizations.locations.dbFrameworkComplianceSummaries.list",
                  "path": "v1beta1/{+parent}/dbFrameworkComplianceSummaries",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists the framework compliance summary for a given scope.",
                  "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/dbFrameworkComplianceSummaries",
                  "httpMethod": "GET",
                  "parameters": {
                    "filter": {
                      "type": "string",
                      "description": "Optional. The filtering results.",
                      "location": "query"
                    },
                    "parent": {
                      "description": "Required. The parent scope for the framework compliance summary. Format: organizations/{organization}/locations/{location} folders/{folder}/locations/{location} projects/{project}/locations/{location}",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+$"
                    },
                    "pageToken": {
                      "description": "Optional. A token that identifies the page of results that the server should return. Pass the next_page_token value from a previous result.",
                      "location": "query",
                      "type": "string"
                    },
                    "view": {
                      "location": "query",
                      "enumDescriptions": [
                        "The default / unset value. The API will default to the BASIC view.",
                        "Includes basic compliance metadata, but omits trend data.",
                        "Includes all information, including finding_count and controls_passing_trend. Trend data is provided for the last 30 days."
                      ],
                      "description": "Optional. Specifies the level of detail to return in the response.",
                      "enum": [
                        "FRAMEWORK_COMPLIANCE_SUMMARY_VIEW_UNSPECIFIED",
                        "FRAMEWORK_COMPLIANCE_SUMMARY_VIEW_BASIC",
                        "FRAMEWORK_COMPLIANCE_SUMMARY_VIEW_FULL"
                      ],
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. The requested page size. The server might return fewer items than requested. If unspecified, the default page size is 50. The maximum value is 1000.",
                      "location": "query"
                    }
                  }
                }
              }
            },
            "dbFrameworkComplianceReports": {
              "methods": {
                "aggregate": {
                  "parameters": {
                    "filter": {
                      "description": "Optional. The filtering results.",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+/dbFrameworkComplianceReports/[^/]+$",
                      "description": "Required. The name of the aggregated compliance report over time to retrieve. Format: `organizations/{organization_id}/locations/{location}/dbFrameworkComplianceReports/{db_framework_compliance_report}`",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "interval.endTime": {
                      "type": "string",
                      "format": "google-datetime",
                      "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end.",
                      "location": "query"
                    },
                    "interval.startTime": {
                      "location": "query",
                      "format": "google-datetime",
                      "type": "string",
                      "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start."
                    }
                  },
                  "path": "v1beta1/{+name}:aggregate",
                  "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/dbFrameworkComplianceReports/{dbFrameworkComplianceReportsId}:aggregate",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets the aggregated compliance report over time for a given scope.",
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1beta1AggregateDbFrameworkComplianceReportResponse"
                  },
                  "id": "assuredworkloads.organizations.locations.dbFrameworkComplianceReports.aggregate"
                },
                "fetch": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "path": "v1beta1/{+name}:fetch",
                  "parameters": {
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. The filtering results."
                    },
                    "name": {
                      "required": true,
                      "description": "Required. The name of the framework compliance report to retrieve.",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/dbFrameworkComplianceReports/[^/]+$",
                      "location": "path",
                      "type": "string"
                    },
                    "endTime": {
                      "description": "Optional. The end time of the report.",
                      "location": "query",
                      "type": "string",
                      "format": "google-datetime"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1beta1FetchDbFrameworkComplianceReportResponse"
                  },
                  "id": "assuredworkloads.organizations.locations.dbFrameworkComplianceReports.fetch",
                  "description": "Fetches the framework compliance report for a given scope.",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/dbFrameworkComplianceReports/{dbFrameworkComplianceReportsId}:fetch"
                }
              },
              "resources": {
                "dbControlComplianceSummaries": {
                  "methods": {
                    "list": {
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Lists the control compliance summary for a given scope.",
                      "response": {
                        "$ref": "GoogleCloudAssuredworkloadsV1beta1ListDbControlComplianceSummariesResponse"
                      },
                      "parameters": {
                        "pageSize": {
                          "format": "int32",
                          "location": "query",
                          "type": "integer",
                          "description": "Optional. The requested page size. The server might return fewer items than requested. If unspecified, the default page size is 50. The maximum value is 1000."
                        },
                        "parent": {
                          "type": "string",
                          "required": true,
                          "pattern": "^organizations/[^/]+/locations/[^/]+/dbFrameworkComplianceReports/[^/]+$",
                          "description": "Required. The parent scope for the framework overview page. Format: organizations/{organization}/locations/{location}/dbFrameworkComplianceReports/{db_framework_compliance_report} folders/{folder}/locations/{location}/dbFrameworkComplianceReports/{db_framework_compliance_report} projects/{project}/locations/{location}/dbFrameworkComplianceReports/{db_framework_compliance_report}",
                          "location": "path"
                        },
                        "filter": {
                          "description": "Optional. The filtering results.",
                          "type": "string",
                          "location": "query"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "Optional. A token that identifies the page of results that the server should return.",
                          "type": "string"
                        }
                      },
                      "id": "assuredworkloads.organizations.locations.dbFrameworkComplianceReports.dbControlComplianceSummaries.list",
                      "path": "v1beta1/{+parent}/dbControlComplianceSummaries",
                      "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/dbFrameworkComplianceReports/{dbFrameworkComplianceReportsId}/dbControlComplianceSummaries",
                      "parameterOrder": [
                        "parent"
                      ]
                    }
                  }
                }
              }
            },
            "dbFindingSummaries": {
              "methods": {
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta1/{+parent}/dbFindingSummaries",
                  "parameters": {
                    "pageSize": {
                      "description": "Optional. The requested page size. The server might return fewer items than requested. If unspecified, the server picks an appropriate default.",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A token that identifies the page of results that the server should return."
                    },
                    "parent": {
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent scope for the framework overview page. Formats: - projects/{project}/locations/{location} - folders/{folder}/locations/{location} - organizations/{organization}/locations/{location}",
                      "location": "path",
                      "type": "string"
                    },
                    "filter": {
                      "description": "Optional. The filtering results.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/dbFindingSummaries",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1beta1ListDbFindingSummariesResponse"
                  },
                  "id": "assuredworkloads.organizations.locations.dbFindingSummaries.list",
                  "description": "Lists the finding summary by category for a given scope."
                }
              }
            },
            "operations": {
              "methods": {
                "list": {
                  "path": "v1beta1/{+name}/operations",
                  "httpMethod": "GET",
                  "parameters": {
                    "pageSize": {
                      "description": "The standard list page size.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "name": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The name of the operation's parent resource."
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "type": "string",
                      "location": "query"
                    },
                    "returnPartialSuccess": {
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "filter": {
                      "description": "The standard list filter.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  },
                  "id": "assuredworkloads.organizations.locations.operations.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/operations",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`."
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "assuredworkloads.organizations.locations.operations.get",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "The name of the operation resource.",
                      "location": "path"
                    }
                  },
                  "path": "v1beta1/{+name}",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  }
                }
              }
            },
            "workloads": {
              "resources": {
                "violations": {
                  "methods": {
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "id": "assuredworkloads.organizations.locations.workloads.violations.list",
                      "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}/violations",
                      "parameters": {
                        "interval.endTime": {
                          "type": "string",
                          "description": "The end of the time window.",
                          "location": "query",
                          "format": "google-datetime"
                        },
                        "pageSize": {
                          "format": "int32",
                          "description": "Optional. Page size.",
                          "location": "query",
                          "type": "integer"
                        },
                        "parent": {
                          "description": "Required. The Workload name. Format `organizations/{org_id}/locations/{location}/workloads/{workload}`.",
                          "required": true,
                          "type": "string",
                          "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$",
                          "location": "path"
                        },
                        "interval.startTime": {
                          "description": "The start of the time window.",
                          "format": "google-datetime",
                          "type": "string",
                          "location": "query"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "Optional. Page token returned from previous request.",
                          "location": "query"
                        },
                        "filter": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. A custom filter for filtering by the Violations properties."
                        },
                        "orderBy": {
                          "type": "string",
                          "description": "Optional. Actionable sorting delegation.",
                          "location": "query"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1beta1/{+parent}/violations",
                      "description": "Lists the Violations in the AssuredWorkload Environment. Callers may also choose to read across multiple Workloads as per [AIP-159](https://google.aip.dev/159) by using '-' (the hyphen or dash character) as a wildcard character instead of workload-id in the parent. Format `organizations/{org_id}/locations/{location}/workloads/-`",
                      "response": {
                        "$ref": "GoogleCloudAssuredworkloadsV1beta1ListViolationsResponse"
                      }
                    },
                    "get": {
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+/violations/[^/]+$",
                          "description": "Required. The resource name of the Violation to fetch (ie. Violation.name). Format: organizations/{organization}/locations/{location}/workloads/{workload}/violations/{violation}",
                          "type": "string",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleCloudAssuredworkloadsV1beta1Violation"
                      },
                      "path": "v1beta1/{+name}",
                      "description": "Retrieves Assured Workload Violation based on ID.",
                      "id": "assuredworkloads.organizations.locations.workloads.violations.get",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}/violations/{violationsId}"
                    },
                    "acknowledge": {
                      "id": "assuredworkloads.organizations.locations.workloads.violations.acknowledge",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+/violations/[^/]+$",
                          "type": "string",
                          "required": true,
                          "description": "Required. The resource name of the Violation to acknowledge. Format: organizations/{organization}/locations/{location}/workloads/{workload}/violations/{violation}"
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudAssuredworkloadsV1beta1AcknowledgeViolationResponse"
                      },
                      "request": {
                        "$ref": "GoogleCloudAssuredworkloadsV1beta1AcknowledgeViolationRequest"
                      },
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}/violations/{violationsId}:acknowledge",
                      "description": "Acknowledges an existing violation. By acknowledging a violation, users acknowledge the existence of a compliance violation in their workload and decide to ignore it due to a valid business justification. Acknowledgement is a permanent operation and it cannot be reverted.",
                      "path": "v1beta1/{+name}:acknowledge",
                      "parameterOrder": [
                        "name"
                      ]
                    }
                  }
                },
                "updates": {
                  "methods": {
                    "list": {
                      "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}/updates",
                      "description": "This endpoint lists all updates for the given workload.",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$",
                          "description": "Required. organizations/{org_id}/locations/{location_id}/workloads/{workload_id}",
                          "required": true
                        },
                        "pageSize": {
                          "description": "Page size. The default value is 20 and the max allowed value is 100.",
                          "location": "query",
                          "format": "int32",
                          "type": "integer"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "Page token returned from previous request.",
                          "type": "string"
                        }
                      },
                      "id": "assuredworkloads.organizations.locations.workloads.updates.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET",
                      "path": "v1beta1/{+parent}/updates",
                      "response": {
                        "$ref": "GoogleCloudAssuredworkloadsV1beta1ListWorkloadUpdatesResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "apply": {
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "request": {
                        "$ref": "GoogleCloudAssuredworkloadsV1beta1ApplyWorkloadUpdateRequest"
                      },
                      "httpMethod": "POST",
                      "description": "This endpoint creates a new operation to apply the given update.",
                      "parameters": {
                        "name": {
                          "required": true,
                          "description": "Required. The resource name of the update. Format: organizations/{org_id}/locations/{location_id}/workloads/{workload_id}/updates/{update_id}",
                          "type": "string",
                          "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+/updates/[^/]+$",
                          "location": "path"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}/updates/{updatesId}:apply",
                      "path": "v1beta1/{+name}:apply",
                      "id": "assuredworkloads.organizations.locations.workloads.updates.apply",
                      "parameterOrder": [
                        "name"
                      ]
                    }
                  }
                }
              },
              "methods": {
                "restrictAllowedResources": {
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}:restrictAllowedResources",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "assuredworkloads.organizations.locations.workloads.restrictAllowedResources",
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The resource name of the Workload. This is the workloads's relative path in the API, formatted as \"organizations/{organization_id}/locations/{location_id}/workloads/{workload_id}\". For example, \"organizations/123/locations/us-east1/workloads/assured-workload-1\".",
                      "required": true
                    }
                  },
                  "description": "Restrict the list of resources allowed in the Workload environment. The current list of allowed products can be found at https://cloud.google.com/assured-workloads/docs/supported-products In addition to assuredworkloads.workload.update permission, the user should also have orgpolicy.policy.set permission on the folder resource to use this functionality.",
                  "path": "v1beta1/{+name}:restrictAllowedResources",
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1beta1RestrictAllowedResourcesResponse"
                  },
                  "request": {
                    "$ref": "GoogleCloudAssuredworkloadsV1beta1RestrictAllowedResourcesRequest"
                  }
                },
                "get": {
                  "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta1/{+name}",
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1beta1Workload"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$",
                      "description": "Required. The resource name of the Workload to fetch. This is the workloads's relative path in the API, formatted as \"organizations/{organization_id}/locations/{location_id}/workloads/{workload_id}\". For example, \"organizations/123/locations/us-east1/workloads/assured-workload-1\".",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "id": "assuredworkloads.organizations.locations.workloads.get",
                  "httpMethod": "GET",
                  "description": "Gets Assured Workload associated with a CRM Node"
                },
                "enableResourceMonitoring": {
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1beta1EnableResourceMonitoringResponse"
                  },
                  "path": "v1beta1/{+name}:enableResourceMonitoring",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$",
                      "required": true,
                      "description": "Required. The `name` field is used to identify the workload. Format: organizations/{org_id}/locations/{location_id}/workloads/{workload_id}"
                    }
                  },
                  "id": "assuredworkloads.organizations.locations.workloads.enableResourceMonitoring",
                  "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}:enableResourceMonitoring",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Enable resource violation monitoring for a workload."
                },
                "analyzeWorkloadMove": {
                  "description": "Analyzes a hypothetical move of a source resource to a target workload to surface compliance risks. The analysis is best effort and is not guaranteed to be exhaustive.",
                  "id": "assuredworkloads.organizations.locations.workloads.analyzeWorkloadMove",
                  "parameters": {
                    "pageToken": {
                      "description": "Optional. The page token from the previous response. It needs to be passed in the second and following requests.",
                      "type": "string",
                      "location": "query"
                    },
                    "target": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The resource ID of the folder-based destination workload. This workload is where the source resource will hypothetically be moved to. Specify the workload's relative resource name, formatted as: \"organizations/{ORGANIZATION_ID}/locations/{LOCATION_ID}/workloads/{WORKLOAD_ID}\" For example: \"organizations/123/locations/us-east1/workloads/assured-workload-2\"",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$",
                      "required": true
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query",
                      "description": "Optional. Page size. If a value is not specified, the default value of 10 is used. The maximum value is 50."
                    },
                    "assetTypes": {
                      "description": "Optional. List of asset types to be analyzed, including and under the source resource. If empty, all assets are analyzed. The complete list of asset types is available [here](https://cloud.google.com/asset-inventory/docs/supported-asset-types).",
                      "location": "query",
                      "repeated": true,
                      "type": "string"
                    },
                    "project": {
                      "description": "The source type is a project. Specify the project's relative resource name, formatted as either a project number or a project ID: \"projects/{PROJECT_NUMBER}\" or \"projects/{PROJECT_ID}\" For example: \"projects/951040570662\" when specifying a project number, or \"projects/my-project-123\" when specifying a project ID.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}:analyzeWorkloadMove",
                  "path": "v1beta1/{+target}:analyzeWorkloadMove",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "target"
                  ],
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1beta1AnalyzeWorkloadMoveResponse"
                  }
                },
                "patch": {
                  "request": {
                    "$ref": "GoogleCloudAssuredworkloadsV1beta1Workload"
                  },
                  "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}",
                  "description": "Updates an existing workload. Currently allows updating of workload display_name and labels. For force updates don't set etag field in the Workload. Only one update operation per workload can be in progress.",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1beta1Workload"
                  },
                  "httpMethod": "PATCH",
                  "path": "v1beta1/{+name}",
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "description": "Required. The list of fields to be updated.",
                      "format": "google-fieldmask",
                      "type": "string"
                    },
                    "name": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$",
                      "location": "path",
                      "description": "Optional. The resource name of the workload. Format: organizations/{organization}/locations/{location}/workloads/{workload} Read-only.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "id": "assuredworkloads.organizations.locations.workloads.patch"
                },
                "delete": {
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes the workload. Make sure that workload's direct children are already in a deleted state, otherwise the request will fail with a FAILED_PRECONDITION error. In addition to assuredworkloads.workload.delete permission, the user should also have orgpolicy.policy.set permission on the deleted folder to remove Assured Workloads OrgPolicies.",
                  "id": "assuredworkloads.organizations.locations.workloads.delete",
                  "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$",
                      "type": "string",
                      "description": "Required. The `name` field is used to identify the workload. Format: organizations/{org_id}/locations/{location_id}/workloads/{workload_id}",
                      "required": true
                    },
                    "etag": {
                      "type": "string",
                      "description": "Optional. The etag of the workload. If this is provided, it must match the server's etag.",
                      "location": "query"
                    }
                  },
                  "path": "v1beta1/{+name}",
                  "httpMethod": "DELETE"
                },
                "create": {
                  "description": "Creates Assured Workload.",
                  "path": "v1beta1/{+parent}/workloads",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "id": "assuredworkloads.organizations.locations.workloads.create",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudAssuredworkloadsV1beta1Workload"
                  },
                  "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/workloads",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "externalId": {
                      "description": "Optional. A identifier associated with the workload and underlying projects which allows for the break down of billing costs for a workload. The value provided for the identifier will add a label to the workload and contained projects with the identifier as the value.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. The resource name of the new Workload's parent. Must be of the form `organizations/{org_id}/locations/{location_id}`.",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$"
                    }
                  }
                },
                "enableComplianceUpdates": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The `name` field is used to identify the workload. Format: organizations/{org_id}/locations/{location_id}/workloads/{workload_id}",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$"
                    }
                  },
                  "description": "This endpoint enables Assured Workloads service to offer compliance updates for the folder based assured workload. It sets up an Assured Workloads Service Agent, having permissions to read compliance controls (for example: Org Policies) applied on the workload. The caller must have `resourcemanager.folders.getIamPolicy` and `resourcemanager.folders.setIamPolicy` permissions on the assured workload folder.",
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1beta1EnableComplianceUpdatesResponse"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PUT",
                  "id": "assuredworkloads.organizations.locations.workloads.enableComplianceUpdates",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}:enableComplianceUpdates",
                  "path": "v1beta1/{+name}:enableComplianceUpdates"
                },
                "list": {
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1beta1ListWorkloadsResponse"
                  },
                  "path": "v1beta1/{+parent}/workloads",
                  "description": "Lists Assured Workloads under a CRM Node.",
                  "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/workloads",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "description": "Page size.",
                      "format": "int32"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Page token returned from previous request. Page token contains context from previous request. Page token needs to be passed in the second and following requests.",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. Parent Resource to list workloads from. Must be of the form `organizations/{org_id}/locations/{location}`."
                    },
                    "filter": {
                      "type": "string",
                      "description": "A custom filter for filtering by properties of a workload. At this time, only filtering by labels is supported.",
                      "location": "query"
                    }
                  },
                  "id": "assuredworkloads.organizations.locations.workloads.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET"
                }
              }
            }
          }
        }
      }
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "canonicalName": "Assuredworkloads",
  "kind": "discovery#restDescription",
  "parameters": {
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    }
  },
  "basePath": "",
  "protocol": "rest",
  "batchPath": "batch",
  "rootUrl": "https://assuredworkloads.googleapis.com/",
  "description": "",
  "mtlsRootUrl": "https://assuredworkloads.mtls.googleapis.com/",
  "baseUrl": "https://assuredworkloads.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "revision": "20260825",
  "schemas": {
    "GoogleCloudAssuredworkloadsV1beta1ArchiveResourceEventsRequest": {
      "type": "object",
      "properties": {
        "eventCutoffTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Required. Only events with EventTime earlier than this cutoff will be archived."
        },
        "archiveTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. Time to set as ArchiveTime in the archive table. If not provided, the current time is used."
        },
        "organizationId": {
          "description": "Required. The organization ID for which to archive events.",
          "type": "string",
          "format": "int64"
        },
        "region": {
          "description": "Required. The region of the workload(s) whose events should be archived. This is used to filter workloads based on AssurantWorkloadData.region.",
          "type": "string"
        },
        "maxEventsMove": {
          "description": "Required. The maximum total number of events to move in this request.",
          "format": "int32",
          "type": "integer"
        },
        "batchSize": {
          "type": "integer",
          "description": "Required. The number of events to process in a single transaction batch.",
          "format": "int32"
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1beta1ArchiveResourceEventsRequest",
      "description": "Request for archiving resource events."
    },
    "GoogleCloudAssuredworkloadsV1beta1OrgPolicyUpdate": {
      "type": "object",
      "description": "Represents an update for an org policy control applied on an Assured Workload resource. The inherited org policy is not considered.",
      "properties": {
        "suggestedPolicy": {
          "description": "The suggested org policy that replaces the applied policy.",
          "$ref": "GoogleCloudAssuredworkloadsV1beta1OrgPolicy"
        },
        "appliedPolicy": {
          "$ref": "GoogleCloudAssuredworkloadsV1beta1OrgPolicy",
          "description": "The org policy currently applied on the assured workload resource."
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1beta1OrgPolicyUpdate"
    },
    "GoogleLongrunningListOperationsResponse": {
      "id": "GoogleLongrunningListOperationsResponse",
      "type": "object",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleLongrunningOperation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1beta1WorkloadFedrampHighSettings": {
      "description": "Settings specific to resources needed for FedRAMP High.",
      "id": "GoogleCloudAssuredworkloadsV1beta1WorkloadFedrampHighSettings",
      "type": "object",
      "properties": {
        "kmsSettings": {
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadKMSSettings",
          "description": "Input only. Immutable. Settings used to create a CMEK crypto key."
        }
      },
      "deprecated": true
    },
    "GoogleCloudAssuredworkloadsV1beta1WorkloadResourceInfo": {
      "properties": {
        "resourceId": {
          "readOnly": true,
          "description": "Output only. Resource identifier. For a project this represents project_number.",
          "format": "int64",
          "type": "string"
        },
        "resourceType": {
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false
          ],
          "enumDescriptions": [
            "Unknown resource type.",
            "Deprecated. Existing workloads will continue to support this, but new CreateWorkloadRequests should not specify this as an input value.",
            "Consumer Folder.",
            "Consumer project containing encryption keys.",
            "Keyring resource that hosts encryption keys."
          ],
          "type": "string",
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "CONSUMER_PROJECT",
            "CONSUMER_FOLDER",
            "ENCRYPTION_KEYS_PROJECT",
            "KEYRING"
          ],
          "description": "Indicates the type of resource."
        }
      },
      "description": "Represent the resources that are children of this Workload.",
      "id": "GoogleCloudAssuredworkloadsV1beta1WorkloadResourceInfo",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1beta1StringList": {
      "description": "A list of strings for the parameter value.",
      "type": "object",
      "properties": {
        "values": {
          "items": {
            "type": "string"
          },
          "description": "Required. The strings in the list.",
          "type": "array"
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1beta1StringList"
    },
    "GoogleCloudAssuredworkloadsV1beta1EnableComplianceUpdatesResponse": {
      "properties": {},
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1beta1EnableComplianceUpdatesResponse",
      "description": "Response for EnableComplianceUpdates endpoint."
    },
    "GoogleCloudAssuredworkloadsV1beta1ControlAssessmentDetails": {
      "id": "GoogleCloudAssuredworkloadsV1beta1ControlAssessmentDetails",
      "type": "object",
      "properties": {
        "notAssessedControlIds": {
          "description": "The list of controls that aren't assessed because they require manual review.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "assessedPassingControlIds": {
          "type": "array",
          "description": "The list of controls that were assessed and are passing.",
          "items": {
            "type": "string"
          }
        },
        "assessedPassingControls": {
          "type": "integer",
          "description": "The number of controls that were assessed and are passing.",
          "format": "int32"
        },
        "failingControlIds": {
          "description": "The list of controls that are failing.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "passingControls": {
          "type": "integer",
          "format": "int32",
          "description": "The number of controls that are passing or not assessed."
        },
        "passingControlIds": {
          "type": "array",
          "description": "The list of controls that are passing or not assessed.",
          "items": {
            "type": "string"
          }
        },
        "notAssessedControls": {
          "description": "The number of controls that aren't assessed because they require manual review.",
          "format": "int32",
          "type": "integer"
        },
        "failingControls": {
          "type": "integer",
          "format": "int32",
          "description": "The number of controls that are failing."
        }
      },
      "description": "The details for a control assessment."
    },
    "GoogleCloudAssuredworkloadsV1beta1ViolationRemediationInstructions": {
      "description": "Instructions to remediate violation",
      "id": "GoogleCloudAssuredworkloadsV1beta1ViolationRemediationInstructions",
      "properties": {
        "gcloudInstructions": {
          "description": "Remediation instructions to resolve violation via gcloud cli",
          "$ref": "GoogleCloudAssuredworkloadsV1beta1ViolationRemediationInstructionsGcloud"
        },
        "consoleInstructions": {
          "description": "Remediation instructions to resolve violation via cloud console",
          "$ref": "GoogleCloudAssuredworkloadsV1beta1ViolationRemediationInstructionsConsole"
        }
      },
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1beta1ListDbFindingSummariesResponse": {
      "type": "object",
      "properties": {
        "dbFindingSummaries": {
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1beta1DbFindingSummary"
          },
          "description": "List of finding summary by category.",
          "type": "array"
        },
        "nextPageToken": {
          "readOnly": true,
          "description": "Output only. The token to retrieve the next page of results.",
          "type": "string"
        }
      },
      "description": "The response message for ListDbFindingSummaries.",
      "id": "GoogleCloudAssuredworkloadsV1beta1ListDbFindingSummariesResponse"
    },
    "GoogleCloudAssuredworkloadsV1beta1EnableResourceMonitoringResponse": {
      "id": "GoogleCloudAssuredworkloadsV1beta1EnableResourceMonitoringResponse",
      "properties": {},
      "description": "Response for EnableResourceMonitoring endpoint.",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1beta1AnalyzeWorkloadMoveResponse": {
      "id": "GoogleCloudAssuredworkloadsV1beta1AnalyzeWorkloadMoveResponse",
      "type": "object",
      "properties": {
        "assetMoveAnalyses": {
          "type": "array",
          "description": "List of analysis results for each asset in scope.",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1beta1AssetMoveAnalysis"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The next page token. Is empty if the last page is reached."
        }
      },
      "description": "Response containing the analysis results for the hypothetical resource move."
    },
    "GoogleCloudAssuredworkloadsV1beta1WorkloadUpdate": {
      "id": "GoogleCloudAssuredworkloadsV1beta1WorkloadUpdate",
      "type": "object",
      "description": "A workload update is a change to the workload's compliance configuration.",
      "properties": {
        "details": {
          "$ref": "GoogleCloudAssuredworkloadsV1beta1UpdateDetails",
          "description": "The details of the update."
        },
        "state": {
          "enumDescriptions": [
            "Unspecified.",
            "The update is available to be applied.",
            "The update has been applied.",
            "The update has been withdrawn by the service."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The state of the update.",
          "enum": [
            "STATE_UNSPECIFIED",
            "AVAILABLE",
            "APPLIED",
            "WITHDRAWN"
          ]
        },
        "createTime": {
          "format": "google-datetime",
          "description": "The time the update was created.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time the update was last updated."
        },
        "name": {
          "type": "string",
          "description": "Output only. Immutable. Identifier. Resource name of the WorkloadUpdate. Format: organizations/{organization}/locations/{location}/workloads/{workload}/updates/{update}",
          "readOnly": true
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1beta1RestrictAllowedResourcesResponse": {
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1beta1RestrictAllowedResourcesResponse",
      "properties": {},
      "description": "Response for restricting the list of allowed resources."
    },
    "GoogleCloudAssuredworkloadsV1beta1MoveAnalysisGroup": {
      "id": "GoogleCloudAssuredworkloadsV1beta1MoveAnalysisGroup",
      "type": "object",
      "properties": {
        "error": {
          "$ref": "GoogleRpcStatus",
          "description": "Error details for a failed analysis."
        },
        "displayName": {
          "type": "string",
          "description": "Name of the analysis group."
        },
        "analysisResult": {
          "$ref": "GoogleCloudAssuredworkloadsV1beta1MoveAnalysisResult",
          "description": "Result of a successful analysis."
        }
      },
      "description": "Represents a logical group of checks performed for an asset. If successful, the group contains the analysis result, otherwise it contains an error with the failure reason."
    },
    "GoogleCloudAssuredworkloadsV1beta1ArchiveResourceEventsResponse": {
      "id": "GoogleCloudAssuredworkloadsV1beta1ArchiveResourceEventsResponse",
      "description": "Response for archiving resource events.",
      "properties": {
        "movedEventsCount": {
          "type": "integer",
          "description": "The total number of events successfully moved to the archive table.",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1beta1AggregateDbFrameworkComplianceReportResponse": {
      "description": "The response message for AggregateDbFrameworkComplianceReport.",
      "type": "object",
      "properties": {
        "aggregatedComplianceReports": {
          "description": "The list of aggregated compliance reports.",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1beta1AggregatedComplianceReport"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1beta1AggregateDbFrameworkComplianceReportResponse"
    },
    "GoogleCloudAssuredworkloadsV1beta1WorkloadKMSSettings": {
      "properties": {
        "nextRotationTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. Input only. Immutable. The time at which the Key Management Service will automatically create a new version of the crypto key and mark it as the primary."
        },
        "rotationPeriod": {
          "description": "Required. Input only. Immutable. [next_rotation_time] will be advanced by this period when the Key Management Service automatically rotates a key. Must be at least 24 hours and at most 876,000 hours.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1beta1WorkloadKMSSettings",
      "deprecated": true,
      "description": "Settings specific to the Key Management Service.",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1beta1CloudControlReport": {
      "description": "The cloud control report.",
      "properties": {
        "minorRevisionId": {
          "description": "The minor revision ID of the cloud control.",
          "format": "int64",
          "type": "string"
        },
        "similarControls": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1beta1SimilarControls"
          },
          "description": "The list of similar controls."
        },
        "cloudControlDeployment": {
          "description": "The name of the cloud control deployment.",
          "type": "string"
        },
        "majorRevisionId": {
          "description": "The major revision ID of the cloud control.",
          "type": "string",
          "format": "int64"
        },
        "findingCategory": {
          "type": "string",
          "description": "The category of the finding."
        },
        "manualCloudControlAssessmentDetails": {
          "description": "The details of a manual cloud control assessment.",
          "$ref": "GoogleCloudAssuredworkloadsV1beta1ManualCloudControlAssessmentDetails"
        },
        "enforcementMode": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The cloud control is enforced to prevent non-compliance.",
            "The cloud control is enforced to detect non-compliance.",
            "The cloud control is enforced to audit for non-compliance."
          ],
          "description": "The enforcement mode of the cloud control.",
          "type": "string",
          "enum": [
            "ENFORCEMENT_MODE_UNSPECIFIED",
            "PREVENTIVE",
            "DETECTIVE",
            "AUDIT"
          ]
        },
        "cloudControlType": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "A cloud control that's created and managed by you.",
            "A cloud control that's provided and managed by Google."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "CUSTOM",
            "BUILT_IN"
          ],
          "type": "string",
          "description": "The type of the cloud control."
        },
        "findingSeverity": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "A critical vulnerability is easily discoverable by an external actor, exploitable, and results in the direct ability to execute arbitrary code, exfiltrate data, and otherwise gain additional access and privileges to cloud resources and workloads. Examples include publicly accessible unprotected user data and public SSH access with weak or no passwords. A critical threat is a threat that can access, modify, or delete data or execute unauthorized code within existing resources.",
            "A high-risk vulnerability can be easily discovered and exploited in combination with other vulnerabilities to gain direct access and the ability to execute arbitrary code, exfiltrate data, and otherwise gain additional access and privileges to cloud resources and workloads. An example is a database with weak or no passwords that is only accessible internally. This database could easily be compromised by an actor that had access to the internal network. A high-risk threat is a threat that can create new computational resources in an environment but can't access data or execute code in existing resources.",
            "A medium-risk vulnerability can be used by an actor to gain access to resources or privileges that enable them to eventually (through multiple steps or a complex exploit) gain access and the ability to execute arbitrary code or exfiltrate data. An example is a service account with access to more projects than it should have. If an actor gains access to the service account, they could potentially use that access to manipulate a project the service account was not intended to. A medium-risk threat can cause operational impact but might not access data or execute unauthorized code.",
            "A low-risk vulnerability hampers a security organization's ability to detect vulnerabilities or active threats in their deployment, or prevents the root cause investigation of security issues. An example is monitoring and logs being disabled for resource configurations and access. A low-risk threat is a threat that has obtained minimal access to an environment but can't access data, execute code, or create resources."
          ],
          "description": "The severity of the finding.",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "type": "string"
        },
        "frameworkMajorRevisionIds": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "The major revision IDs of the frameworks that the cloud control belongs to."
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the cloud control."
        },
        "cloudControlAssessmentDetails": {
          "description": "The details of a cloud control assessment.",
          "$ref": "GoogleCloudAssuredworkloadsV1beta1CloudControlAssessmentDetails"
        },
        "cloudControl": {
          "type": "string",
          "description": "The name of the cloud control."
        },
        "rules": {
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1beta1Rule"
          },
          "description": "The list of rules that correspond to the cloud control.",
          "type": "array"
        },
        "description": {
          "type": "string",
          "description": "The description of the cloud control."
        },
        "categories": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The list of categories for the cloud control."
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1beta1CloudControlReport",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1beta1ViolationRemediationInstructionsGcloud": {
      "id": "GoogleCloudAssuredworkloadsV1beta1ViolationRemediationInstructionsGcloud",
      "properties": {
        "gcloudCommands": {
          "description": "Gcloud command to resolve violation",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "steps": {
          "description": "Steps to resolve violation via gcloud cli",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "additionalLinks": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Additional urls for more information about steps"
        }
      },
      "type": "object",
      "description": "Remediation instructions to resolve violation via gcloud cli"
    },
    "GoogleCloudAssuredworkloadsV1beta1AggregatedComplianceReport": {
      "description": "The aggregated compliance report.",
      "id": "GoogleCloudAssuredworkloadsV1beta1AggregatedComplianceReport",
      "type": "object",
      "properties": {
        "reportTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The report time of the aggregated compliance report."
        },
        "controlAssessmentDetails": {
          "$ref": "GoogleCloudAssuredworkloadsV1beta1ControlAssessmentDetails",
          "description": "The control assessment details of the framework."
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1beta1ViolationRemediationInstructionsConsole": {
      "description": "Remediation instructions to resolve violation via cloud console",
      "properties": {
        "steps": {
          "type": "array",
          "description": "Steps to resolve violation via cloud console",
          "items": {
            "type": "string"
          }
        },
        "additionalLinks": {
          "description": "Additional urls for more information about steps",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "consoleUris": {
          "items": {
            "type": "string"
          },
          "description": "Link to console page where violations can be resolved",
          "type": "array"
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1beta1ViolationRemediationInstructionsConsole",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1beta1OrgPolicyPolicyRuleStringValues": {
      "description": "The values allowed for a ListPolicy.",
      "properties": {
        "deniedValues": {
          "items": {
            "type": "string"
          },
          "description": "List of values denied at this resource.",
          "type": "array"
        },
        "allowedValues": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of values allowed at this resource."
        }
      },
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1beta1OrgPolicyPolicyRuleStringValues"
    },
    "GoogleCloudAssuredworkloadsV1beta1ListViolationsResponse": {
      "type": "object",
      "description": "Response of ListViolations endpoint.",
      "properties": {
        "totalSize": {
          "type": "integer",
          "description": "The total number of violations.",
          "format": "int32"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The next page token. Returns empty if reached the last page."
        },
        "violations": {
          "description": "List of Violations under a Workload.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1beta1Violation"
          }
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1beta1ListViolationsResponse"
    },
    "GoogleCloudAssuredworkloadsV1beta1WorkloadCJISSettings": {
      "properties": {
[...]
