{
  "servicePath": "",
  "baseUrl": "https://assuredworkloads.googleapis.com/",
  "ownerName": "Google",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "canonicalName": "Assuredworkloads",
  "id": "assuredworkloads:v1beta1",
  "protocol": "rest",
  "mtlsRootUrl": "https://assuredworkloads.mtls.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "batchPath": "batch",
  "parameters": {
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "location": "query",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    }
  },
  "kind": "discovery#restDescription",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "discoveryVersion": "v1",
  "version": "v1beta1",
  "rootUrl": "https://assuredworkloads.googleapis.com/",
  "revision": "20260719",
  "description": "",
  "version_module": true,
  "schemas": {
    "GoogleCloudAssuredworkloadsV1beta1WorkloadResourceInfo": {
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1beta1WorkloadResourceInfo",
      "description": "Represent the resources that are children of this Workload.",
      "properties": {
        "resourceId": {
          "description": "Output only. Resource identifier. For a project this represents project_number.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "resourceType": {
          "enumDescriptions": [
            "Unknown resource type.",
            "Deprecated. Existing workloads will continue to support this, but new CreateWorkloadRequests should not specify this as an input value.",
            "Consumer Folder.",
            "Consumer project containing encryption keys.",
            "Keyring resource that hosts encryption keys."
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false
          ],
          "type": "string",
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "CONSUMER_PROJECT",
            "CONSUMER_FOLDER",
            "ENCRYPTION_KEYS_PROJECT",
            "KEYRING"
          ],
          "description": "Indicates the type of resource."
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1beta1CloudControlAssessmentDetails": {
      "properties": {
        "evaluationState": {
          "type": "string",
          "enum": [
            "EVALUATION_STATE_UNSPECIFIED",
            "EVALUATION_STATE_PASSED",
            "EVALUATION_STATE_FAILED",
            "EVALUATION_STATE_NOT_ASSESSED"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The control is passing.",
            "The control is failing.",
            "The control is not assessed."
          ],
          "readOnly": true,
          "description": "Output only. The evaluation status of the cloud control."
        },
        "findingsCount": {
          "description": "The number of findings for the cloud control.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1beta1CloudControlAssessmentDetails",
      "description": "The cloud control assessment details for non-manual cloud controls.",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1beta1ListDbControlComplianceSummariesResponse": {
      "id": "GoogleCloudAssuredworkloadsV1beta1ListDbControlComplianceSummariesResponse",
      "description": "The response message for ListDBControlComplianceSummaries.",
      "properties": {
        "nextPageToken": {
          "description": "Output only. The token to retrieve the next page of results.",
          "readOnly": true,
          "type": "string"
        },
        "dbControlComplianceSummaries": {
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1beta1DbControlComplianceSummary"
          },
          "description": "The list of control compliance details.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1beta1Rule": {
      "properties": {
        "celExpression": {
          "$ref": "GoogleCloudAssuredworkloadsV1beta1CELExpression",
          "description": "The rule's logic expression in Common Expression Language (CEL)."
        },
        "description": {
          "description": "Optional. The rule description. The maximum length is 2000 characters.",
          "type": "string"
        },
        "ruleActionTypes": {
          "description": "Required. The functionality that's enabled by the rule.",
          "items": {
            "type": "string",
            "enum": [
              "RULE_ACTION_TYPE_UNSPECIFIED",
              "RULE_ACTION_TYPE_PREVENTIVE",
              "RULE_ACTION_TYPE_DETECTIVE",
              "RULE_ACTION_TYPE_AUDIT"
            ],
            "enumDescriptions": [
              "Default value. This value is unused.",
              "The rule is intended to prevent non-compliance.",
              "The rule is intended to detect non-compliance.",
              "The rule is intended to audit non-compliance."
            ]
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1beta1Rule",
      "description": "A rule in the cloud control.",
      "type": "object"
    },
    "GoogleLongrunningOperation": {
      "type": "object",
      "id": "GoogleLongrunningOperation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "GoogleRpcStatus"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1beta1OrgPolicy": {
      "type": "object",
      "properties": {
        "inherit": {
          "type": "boolean",
          "description": "If `inherit` is true, policy rules of the lowest ancestor in the resource hierarchy chain are inherited. If it is false, policy rules are not inherited."
        },
        "constraint": {
          "type": "string",
          "description": "The constraint name of the OrgPolicy. e.g. \"constraints/gcp.resourceLocations\"."
        },
        "rule": {
          "description": "The rule of the OrgPolicy.",
          "$ref": "GoogleCloudAssuredworkloadsV1beta1OrgPolicyPolicyRule"
        },
        "reset": {
          "description": "Ignores policies set above this resource and restores to the `constraint_default` value. `reset` can only be true when `rules` is empty and `inherit` is false.",
          "type": "boolean"
        },
        "resource": {
          "type": "string",
          "description": "Resource that the OrgPolicy attaches to. Format: folders/123\" projects/123\"."
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1beta1OrgPolicy",
      "description": "This assured workload service object is used to represent the org policy attached to a resource. It servces the same purpose as the orgpolicy.v2.Policy object but with functionality that is limited to what is supported by Assured Workloads(e.g. only one rule under one OrgPolicy object, no conditions, etc)."
    },
    "GoogleCloudAssuredworkloadsV1beta1ViolationRemediationInstructions": {
      "id": "GoogleCloudAssuredworkloadsV1beta1ViolationRemediationInstructions",
      "description": "Instructions to remediate violation",
      "properties": {
        "gcloudInstructions": {
          "$ref": "GoogleCloudAssuredworkloadsV1beta1ViolationRemediationInstructionsGcloud",
          "description": "Remediation instructions to resolve violation via gcloud cli"
        },
        "consoleInstructions": {
          "$ref": "GoogleCloudAssuredworkloadsV1beta1ViolationRemediationInstructionsConsole",
          "description": "Remediation instructions to resolve violation via cloud console"
        }
      },
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1beta1ViolationExceptionContext": {
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1beta1ViolationExceptionContext",
      "description": "Violation exception detail.",
      "properties": {
        "comment": {
          "type": "string",
          "description": "Business justification provided towards the acknowledgement of the violation."
        },
        "userName": {
          "type": "string",
          "description": "Name of the user (or service account) who acknowledged the violation."
        },
        "acknowledgementTime": {
          "description": "Timestamp when the violation was acknowledged.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1beta1ApplyWorkloadUpdateResponse": {
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1beta1ApplyWorkloadUpdateResponse",
      "description": "Response for ApplyWorkloadUpdate endpoint.",
      "properties": {
        "appliedUpdate": {
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadUpdate",
          "description": "The update that was applied."
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1beta1WorkloadWorkloadOptions": {
      "id": "GoogleCloudAssuredworkloadsV1beta1WorkloadWorkloadOptions",
      "description": "Options to be set for the given created workload.",
      "properties": {
        "kajEnrollmentType": {
          "description": "Optional. Specifies type of KAJ Enrollment if provided.",
          "type": "string",
          "enum": [
            "KAJ_ENROLLMENT_TYPE_UNSPECIFIED",
            "KEY_ACCESS_TRANSPARENCY_OFF"
          ],
          "enumDescriptions": [
            "KAJ Enrollment type is unspecified",
            "KAT sets External, Hardware, and Software key feature logging only to TRUE."
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1beta1WorkloadUpdate": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Immutable. Identifier. Resource name of the WorkloadUpdate. Format: organizations/{organization}/locations/{location}/workloads/{workload}/updates/{update}"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time the update was last updated."
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "AVAILABLE",
            "APPLIED",
            "WITHDRAWN"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "The update is available to be applied.",
            "The update has been applied.",
            "The update has been withdrawn by the service."
          ],
          "readOnly": true,
          "description": "Output only. The state of the update."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time the update was created."
        },
        "details": {
          "$ref": "GoogleCloudAssuredworkloadsV1beta1UpdateDetails",
          "description": "The details of the update."
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1beta1WorkloadUpdate",
      "description": "A workload update is a change to the workload's compliance configuration."
    },
    "GoogleCloudAssuredworkloadsV1beta1RestrictAllowedResourcesResponse": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudAssuredworkloadsV1beta1RestrictAllowedResourcesResponse",
      "description": "Response for restricting the list of allowed resources."
    },
    "GoogleCloudAssuredworkloadsV1beta1UpdateDetails": {
      "properties": {
        "orgPolicyUpdate": {
          "description": "Update to one org policy, e.g. gcp.resourceLocation.",
          "$ref": "GoogleCloudAssuredworkloadsV1beta1OrgPolicyUpdate"
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1beta1UpdateDetails",
      "description": "The details of the update.",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1beta1RevertArchivedResourceEventsResponse": {
      "type": "object",
      "properties": {
        "movedEventsCount": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of events successfully moved to the original table."
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1beta1RevertArchivedResourceEventsResponse",
      "description": "Response for reverting archived resource events."
    },
    "GoogleCloudAssuredworkloadsV1beta1ListViolationsResponse": {
      "properties": {
        "totalSize": {
          "description": "The total number of violations.",
          "type": "integer",
          "format": "int32"
        },
        "violations": {
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1beta1Violation"
          },
          "description": "List of Violations under a Workload.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The next page token. Returns empty if reached the last page.",
          "type": "string"
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1beta1ListViolationsResponse",
      "description": "Response of ListViolations endpoint.",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1beta1AggregatedComplianceReport": {
      "id": "GoogleCloudAssuredworkloadsV1beta1AggregatedComplianceReport",
      "description": "The aggregated compliance report.",
      "properties": {
        "controlAssessmentDetails": {
          "description": "The control assessment details of the framework.",
          "$ref": "GoogleCloudAssuredworkloadsV1beta1ControlAssessmentDetails"
        },
        "reportTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The report time of the aggregated compliance report."
        }
      },
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1beta1ApplyWorkloadUpdateOperationMetadata": {
      "properties": {
        "updateName": {
          "description": "Required. The resource name of the update",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. Output only. The time the operation was created."
        },
        "action": {
          "enumDescriptions": [
            "Unspecified value.",
            "The update is applied."
          ],
          "type": "string",
          "enum": [
            "WORKLOAD_UPDATE_ACTION_UNSPECIFIED",
            "APPLY"
          ],
          "description": "Optional. The time the operation was created."
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1beta1ApplyWorkloadUpdateOperationMetadata",
      "description": "Operation metadata to give request details of ApplyWorkloadUpdate.",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1beta1ControlAssessmentDetails": {
      "properties": {
        "notAssessedControls": {
          "description": "The number of controls that aren't assessed because they require manual review.",
          "type": "integer",
          "format": "int32"
        },
        "notAssessedControlIds": {
          "type": "array",
          "description": "The list of controls that aren't assessed because they require manual review.",
          "items": {
            "type": "string"
          }
        },
        "passingControls": {
          "type": "integer",
          "format": "int32",
          "description": "The number of controls that are passing or not assessed."
        },
        "failingControls": {
          "type": "integer",
          "format": "int32",
          "description": "The number of controls that are failing."
        },
        "failingControlIds": {
          "description": "The list of controls that are failing.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "passingControlIds": {
          "items": {
            "type": "string"
          },
          "description": "The list of controls that are passing or not assessed.",
          "type": "array"
        },
        "assessedPassingControls": {
          "description": "The number of controls that were assessed and are passing.",
          "type": "integer",
          "format": "int32"
        },
        "assessedPassingControlIds": {
          "type": "array",
          "description": "The list of controls that were assessed and are passing.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1beta1ControlAssessmentDetails",
      "description": "The details for a control assessment.",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1beta1ListDbFindingSummariesResponse": {
      "id": "GoogleCloudAssuredworkloadsV1beta1ListDbFindingSummariesResponse",
      "description": "The response message for ListDbFindingSummaries.",
      "properties": {
        "dbFindingSummaries": {
          "type": "array",
          "description": "List of finding summary by category.",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1beta1DbFindingSummary"
          }
        },
        "nextPageToken": {
          "description": "Output only. The token to retrieve the next page of results.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1beta1WorkloadIL4Settings": {
      "type": "object",
      "deprecated": true,
      "properties": {
        "kmsSettings": {
          "description": "Input only. Immutable. Settings used to create a CMEK crypto key.",
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadKMSSettings"
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1beta1WorkloadIL4Settings",
      "description": "Settings specific to resources needed for IL4."
    },
    "GoogleCloudAssuredworkloadsV1beta1WorkloadPartnerPermissions": {
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1beta1WorkloadPartnerPermissions",
      "description": "Permissions granted to the AW Partner SA account for the customer workload",
      "properties": {
        "serviceAccessApprover": {
          "type": "boolean",
          "description": "Optional. Allow partner to view access approval logs."
        },
        "assuredWorkloadsMonitoring": {
          "description": "Optional. Allow partner to view violation alerts.",
          "type": "boolean"
        },
        "dataLogsViewer": {
          "type": "boolean",
          "description": "Optional. Allow the partner to view inspectability logs and monitoring violations."
        },
        "accessTransparencyLogsSupportCaseViewer": {
          "description": "Optional. Allow partner to view support case details for an AXT log",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1beta1RestrictAllowedResourcesRequest": {
      "id": "GoogleCloudAssuredworkloadsV1beta1RestrictAllowedResourcesRequest",
      "description": "Request for restricting list of available resources in Workload environment.",
      "properties": {
        "restrictionType": {
          "description": "Required. The type of restriction for using gcp products in the Workload environment.",
          "type": "string",
          "enum": [
            "RESTRICTION_TYPE_UNSPECIFIED",
            "ALLOW_ALL_GCP_RESOURCES",
            "ALLOW_COMPLIANT_RESOURCES",
            "APPEND_COMPLIANT_RESOURCES"
          ],
          "enumDescriptions": [
            "Unknown restriction type.",
            "Allow the use all of all gcp products, irrespective of the compliance posture. This effectively removes gcp.restrictServiceUsage OrgPolicy on the AssuredWorkloads Folder.",
            "Based on Workload's compliance regime, allowed list changes. See - https://cloud.google.com/assured-workloads/docs/supported-products for the list of supported resources.",
            "Similar to ALLOW_COMPLIANT_RESOURCES but adds the list of compliant resources to the existing list of compliant resources. Effective org-policy of the Folder is considered to ensure there is no disruption to the existing customer workflows."
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1beta1BatchAcknowledgeViolationsRequest": {
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1beta1BatchAcknowledgeViolationsRequest",
      "description": "Request for acknowledging the violations in a batch",
      "properties": {
        "names": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The resource names of the Violations to acknowledge. Format for each name: organizations/{organization}/locations/{location}/workloads/{workload}/violations/{violation}"
        },
        "acknowledgeType": {
          "enumDescriptions": [
            "Acknowledge type unspecified.",
            "Acknowledge only the specific violation.",
            "Acknowledge specified orgPolicy violation and also associated resource violations."
          ],
          "type": "string",
          "enum": [
            "ACKNOWLEDGE_TYPE_UNSPECIFIED",
            "SINGLE_VIOLATION",
            "EXISTING_CHILD_RESOURCE_VIOLATIONS"
          ],
          "description": "Optional. Acknowledge type of specified violations."
        },
        "comment": {
          "description": "Required. Business justification explaining the need for violations acknowledgement",
          "type": "string"
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1beta1MoveImpact": {
      "properties": {
        "detail": {
          "description": "Explanation of the impact.",
          "type": "string"
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1beta1MoveImpact",
      "description": "Represents the impact of moving the asset to the target.",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1beta1ApplyWorkloadUpdateRequest": {
      "id": "GoogleCloudAssuredworkloadsV1beta1ApplyWorkloadUpdateRequest",
      "description": "Request to apply update to a workload.",
      "properties": {
        "action": {
          "description": "The action to be performed on the update.",
          "type": "string",
          "enum": [
            "WORKLOAD_UPDATE_ACTION_UNSPECIFIED",
            "APPLY"
          ],
          "enumDescriptions": [
            "Unspecified value.",
            "The update is applied."
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1beta1WorkloadEkmProvisioningResponse": {
      "type": "object",
      "properties": {
        "ekmProvisioningErrorDomain": {
          "description": "Indicates Ekm provisioning error if any.",
          "type": "string",
          "enum": [
            "EKM_PROVISIONING_ERROR_DOMAIN_UNSPECIFIED",
            "UNSPECIFIED_ERROR",
            "GOOGLE_SERVER_ERROR",
            "EXTERNAL_USER_ERROR",
            "EXTERNAL_PARTNER_ERROR",
            "TIMEOUT_ERROR"
          ],
          "enumDescriptions": [
            "No error domain",
            "Error but domain is unspecified.",
            "Internal logic breaks within provisioning code.",
            "Error occurred with the customer not granting permission/creating resource.",
            "Error occurred within the partner's provisioning cluster.",
            "Resource wasn't provisioned in the required 7 day time period"
          ]
        },
        "ekmProvisioningState": {
          "readOnly": true,
          "description": "Output only. Indicates Ekm enrollment Provisioning of a given workload.",
          "enumDescriptions": [
            "Default State for Ekm Provisioning",
            "Pending State for Ekm Provisioning",
            "Failed State for Ekm Provisioning",
            "Completed State for Ekm Provisioning"
          ],
          "type": "string",
          "enum": [
            "EKM_PROVISIONING_STATE_UNSPECIFIED",
            "EKM_PROVISIONING_STATE_PENDING",
            "EKM_PROVISIONING_STATE_FAILED",
            "EKM_PROVISIONING_STATE_COMPLETED"
          ]
        },
        "ekmProvisioningErrorMapping": {
          "description": "Detailed error message if Ekm provisioning fails",
          "type": "string",
          "enum": [
            "EKM_PROVISIONING_ERROR_MAPPING_UNSPECIFIED",
            "INVALID_SERVICE_ACCOUNT",
            "MISSING_METRICS_SCOPE_ADMIN_PERMISSION",
            "MISSING_EKM_CONNECTION_ADMIN_PERMISSION"
          ],
          "enumDescriptions": [
            "Error is unspecified.",
            "Service account is used is invalid.",
            "Iam permission monitoring.MetricsScopeAdmin wasn't applied.",
            "Iam permission cloudkms.ekmConnectionsAdmin wasn't applied."
          ]
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1beta1WorkloadEkmProvisioningResponse",
      "description": "External key management systems(EKM) Provisioning response"
    },
    "GoogleCloudAssuredworkloadsV1beta1OrgPolicyPolicyRule": {
      "properties": {
        "enforce": {
          "description": "BooleanPolicy only.",
          "type": "boolean"
        },
        "denyAll": {
          "description": "ListPolicy only when all values are denied.",
          "type": "boolean"
        },
        "values": {
          "description": "ListPolicy only when custom values are specified.",
          "$ref": "GoogleCloudAssuredworkloadsV1beta1OrgPolicyPolicyRuleStringValues"
        },
        "allowAll": {
          "description": "ListPolicy only when all values are allowed.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1beta1OrgPolicyPolicyRule",
      "description": "A rule used to express this policy.",
      "type": "object"
    },
    "GoogleLongrunningListOperationsResponse": {
      "type": "object",
      "id": "GoogleLongrunningListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "operations": {
          "type": "array",
          "items": {
            "$ref": "GoogleLongrunningOperation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        }
      }
    },
    "GoogleProtobufEmpty": {
      "id": "GoogleProtobufEmpty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1beta1CloudControlReport": {
      "id": "GoogleCloudAssuredworkloadsV1beta1CloudControlReport",
      "description": "The cloud control report.",
      "properties": {
        "minorRevisionId": {
          "description": "The minor revision ID of the cloud control.",
          "type": "string",
          "format": "int64"
        },
        "cloudControlType": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "A cloud control that's created and managed by you.",
            "A cloud control that's provided and managed by Google."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "CUSTOM",
            "BUILT_IN"
          ],
          "description": "The type of the cloud control."
        },
        "similarControls": {
          "type": "array",
          "description": "The list of similar controls.",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1beta1SimilarControls"
          }
        },
        "description": {
          "type": "string",
          "description": "The description of the cloud control."
        },
        "findingCategory": {
          "description": "The category of the finding.",
          "type": "string"
        },
        "rules": {
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1beta1Rule"
          },
          "description": "The list of rules that correspond to the cloud control.",
          "type": "array"
        },
        "frameworkMajorRevisionIds": {
          "description": "The major revision IDs of the frameworks that the cloud control belongs to.",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array"
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the cloud control."
        },
        "enforcementMode": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The cloud control is enforced to prevent non-compliance.",
            "The cloud control is enforced to detect non-compliance.",
            "The cloud control is enforced to audit for non-compliance."
          ],
          "type": "string",
          "enum": [
            "ENFORCEMENT_MODE_UNSPECIFIED",
            "PREVENTIVE",
            "DETECTIVE",
            "AUDIT"
          ],
          "description": "The enforcement mode of the cloud control."
        },
        "manualCloudControlAssessmentDetails": {
          "$ref": "GoogleCloudAssuredworkloadsV1beta1ManualCloudControlAssessmentDetails",
          "description": "The details of a manual cloud control assessment."
        },
        "findingSeverity": {
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "A critical vulnerability is easily discoverable by an external actor, exploitable, and results in the direct ability to execute arbitrary code, exfiltrate data, and otherwise gain additional access and privileges to cloud resources and workloads. Examples include publicly accessible unprotected user data and public SSH access with weak or no passwords. A critical threat is a threat that can access, modify, or delete data or execute unauthorized code within existing resources.",
            "A high-risk vulnerability can be easily discovered and exploited in combination with other vulnerabilities to gain direct access and the ability to execute arbitrary code, exfiltrate data, and otherwise gain additional access and privileges to cloud resources and workloads. An example is a database with weak or no passwords that is only accessible internally. This database could easily be compromised by an actor that had access to the internal network. A high-risk threat is a threat that can create new computational resources in an environment but can't access data or execute code in existing resources.",
            "A medium-risk vulnerability can be used by an actor to gain access to resources or privileges that enable them to eventually (through multiple steps or a complex exploit) gain access and the ability to execute arbitrary code or exfiltrate data. An example is a service account with access to more projects than it should have. If an actor gains access to the service account, they could potentially use that access to manipulate a project the service account was not intended to. A medium-risk threat can cause operational impact but might not access data or execute unauthorized code.",
            "A low-risk vulnerability hampers a security organization's ability to detect vulnerabilities or active threats in their deployment, or prevents the root cause investigation of security issues. An example is monitoring and logs being disabled for resource configurations and access. A low-risk threat is a threat that has obtained minimal access to an environment but can't access data, execute code, or create resources."
          ],
          "description": "The severity of the finding."
        },
        "cloudControl": {
          "type": "string",
          "description": "The name of the cloud control."
        },
        "categories": {
          "description": "The list of categories for the cloud control.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "cloudControlDeployment": {
          "type": "string",
          "description": "The name of the cloud control deployment."
        },
        "majorRevisionId": {
          "type": "string",
          "format": "int64",
          "description": "The major revision ID of the cloud control."
        },
        "cloudControlAssessmentDetails": {
          "$ref": "GoogleCloudAssuredworkloadsV1beta1CloudControlAssessmentDetails",
          "description": "The details of a cloud control assessment."
        }
      },
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1beta1ViolationRemediation": {
      "properties": {
        "compliantValues": {
          "items": {
            "type": "string"
          },
          "description": "Values that can resolve the violation For example: for list org policy violations, this will either be the list of allowed or denied values",
          "type": "array"
        },
        "remediationType": {
          "type": "string",
          "enum": [
            "REMEDIATION_TYPE_UNSPECIFIED",
            "REMEDIATION_BOOLEAN_ORG_POLICY_VIOLATION",
            "REMEDIATION_LIST_ALLOWED_VALUES_ORG_POLICY_VIOLATION",
            "REMEDIATION_LIST_DENIED_VALUES_ORG_POLICY_VIOLATION",
            "REMEDIATION_RESTRICT_CMEK_CRYPTO_KEY_PROJECTS_ORG_POLICY_VIOLATION",
            "REMEDIATION_RESOURCE_VIOLATION",
            "REMEDIATION_RESOURCE_VIOLATION_NON_CMEK_SERVICES"
          ],
          "enumDescriptions": [
            "Unspecified remediation type",
            "Remediation type for boolean org policy",
            "Remediation type for list org policy which have allowed values in the monitoring rule",
            "Remediation type for list org policy which have denied values in the monitoring rule",
            "Remediation type for gcp.restrictCmekCryptoKeyProjects",
            "Remediation type for resource violation.",
            "Remediation type for resource violation due to gcp.restrictNonCmekServices"
          ],
          "readOnly": true,
          "description": "Output only. Reemediation type based on the type of org policy values violated"
        },
        "instructions": {
          "$ref": "GoogleCloudAssuredworkloadsV1beta1ViolationRemediationInstructions",
          "description": "Required. Remediation instructions to resolve violations"
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1beta1ViolationRemediation",
      "description": "Represents remediation guidance to resolve compliance violation for AssuredWorkload",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1beta1AcknowledgeViolationResponse": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudAssuredworkloadsV1beta1AcknowledgeViolationResponse",
      "description": "Response for violation acknowledgement"
    },
    "GoogleCloudAssuredworkloadsV1beta1WorkloadCJISSettings": {
      "deprecated": true,
      "properties": {
        "kmsSettings": {
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadKMSSettings",
          "description": "Input only. Immutable. Settings used to create a CMEK crypto key."
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1beta1WorkloadCJISSettings",
      "description": "Settings specific to resources needed for CJIS.",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1beta1WorkloadSaaEnrollmentResponse": {
      "id": "GoogleCloudAssuredworkloadsV1beta1WorkloadSaaEnrollmentResponse",
      "description": "Signed Access Approvals (SAA) enrollment response.",
      "properties": {
        "setupStatus": {
          "description": "Output only. Indicates SAA enrollment status of a given workload.",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified.",
            "SAA enrollment pending.",
            "SAA enrollment comopleted."
          ],
          "type": "string",
          "enum": [
            "SETUP_STATE_UNSPECIFIED",
            "STATUS_PENDING",
            "STATUS_COMPLETE"
          ]
        },
        "setupErrors": {
          "items": {
            "enumDescriptions": [
              "Unspecified.",
              "Invalid states for all customers, to be redirected to AA UI for additional details.",
              "Returned when there is not an EKM key configured.",
              "Returned when there are no enrolled services or the customer is enrolled in CAA only for a subset of services.",
              "Returned when exception was encountered during evaluation of other criteria."
            ],
            "type": "string",
            "enum": [
              "SETUP_ERROR_UNSPECIFIED",
              "ERROR_INVALID_BASE_SETUP",
              "ERROR_MISSING_EXTERNAL_SIGNING_KEY",
              "ERROR_NOT_ALL_SERVICES_ENROLLED",
              "ERROR_SETUP_CHECK_FAILED"
            ]
          },
          "description": "Indicates SAA enrollment setup error if any.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1beta1WorkloadKMSSettings": {
      "type": "object",
      "deprecated": true,
      "properties": {
        "rotationPeriod": {
          "type": "string",
          "format": "google-duration",
          "description": "Required. Input only. Immutable. [next_rotation_time] will be advanced by this period when the Key Management Service automatically rotates a key. Must be at least 24 hours and at most 876,000 hours."
        },
        "nextRotationTime": {
          "description": "Required. Input only. Immutable. The time at which the Key Management Service will automatically create a new version of the crypto key and mark it as the primary.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1beta1WorkloadKMSSettings",
      "description": "Settings specific to the Key Management Service."
    },
    "GoogleCloudAssuredworkloadsV1beta1CreateWorkloadOperationMetadata": {
      "id": "GoogleCloudAssuredworkloadsV1beta1CreateWorkloadOperationMetadata",
      "description": "Operation metadata to give request details of CreateWorkload.",
      "properties": {
        "parent": {
          "description": "Optional. The parent of the workload.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. Time when the operation was created."
        },
        "resourceSettings": {
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadResourceSettings"
          },
          "description": "Optional. Resource properties in the input that are used for creating/customizing workload resources.",
          "type": "array"
        },
        "displayName": {
          "type": "string",
          "description": "Optional. The display name of the workload."
        },
        "complianceRegime": {
          "enumDescriptions": [
            "The default value. This value is used if the control package is omitted or unknown.",
            "Specifies a [Sovereign Controls by Partners](https://cloud.google.com/sovereign-controls-by-partners/docs/overview) control package. To use this control package, you must also specify the partner field from the list of Sovereign Controls by Partners.",
            "Australia Data Boundary and Support",
            "Canada Data Boundary and Support",
            "Data Boundary for Canada Controlled Goods",
            "Data Boundary for Canada Protected B",
            "Data Boundary for Criminal Justice Information Systems (CJIS)",
            "Data Boundary for FedRAMP High",
            "Data Boundary for FedRAMP Moderate",
            "Data Boundary for Impact Level 2 (IL2)",
            "Data Boundary for Impact Level 4 (IL4)",
            "Data Boundary for Impact Level 5 (IL5)",
            "Data Boundary for IRS Publication 1075",
            "Data Boundary for International Traffic in Arms Regulations (ITAR)",
            "European Union (EU) Data Boundary and Support",
            "Israel Data Boundary and Support",
            "Japan Data Boundary",
            "Switzerland Data Boundary with Access Justifications",
            "Kingdom of Saudi Arabia (KSA) Data Boundary with Access Justifications",
            "Data boundary for one of Assured Workloads' *Free tier* control packages. Determines the region by specifying the data location during workload creation.",
            "United States (US) Data Boundary and Support",
            "United States (US) Data Boundary for Healthcare and Life Sciences",
            "United States (US) Data Boundary for Healthcare and Life Sciences with Support",
            "Use the AUSTRALIA_DATA_BOUNDARY_AND_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_CANADA_PROTECTED_B enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the CANADA_DATA_BOUNDARY_AND_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_CANADA_CONTROLLED_GOODS enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_CJIS enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the EU_DATA_BOUNDARY_AND_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_FEDRAMP_HIGH enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_FEDRAMP_MODERATE enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the US_DATA_BOUNDARY_FOR_HEALTHCARE_AND_LIFE_SCIENCES enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the US_DATA_BOUNDARY_FOR_HEALTHCARE_AND_LIFE_SCIENCES_WITH_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Deprecated: Consider using the Data Boundary for US Healthcare and Life Sciences control package instead.",
            "Deprecated: Consider using the Data Boundary for US Healthcare and Life Sciences control package instead.",
            "Use the DATA_BOUNDARY_FOR_IL2 enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_IL4 enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_IL5 enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_IRS_PUBLICATION_1075 enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the ISRAEL_DATA_BOUNDARY_AND_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the ISRAEL_DATA_BOUNDARY_AND_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_ITAR enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the JAPAN_DATA_BOUNDARY enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the KSA_DATA_BOUNDARY_WITH_ACCESS_JUSTIFICATIONS enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the REGIONAL_DATA_BOUNDARY enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the US_DATA_BOUNDARY_AND_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed."
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "type": "string",
          "enum": [
            "COMPLIANCE_REGIME_UNSPECIFIED",
            "ASSURED_WORKLOADS_FOR_PARTNERS",
            "AUSTRALIA_DATA_BOUNDARY_AND_SUPPORT",
            "CANADA_DATA_BOUNDARY_AND_SUPPORT",
            "DATA_BOUNDARY_FOR_CANADA_CONTROLLED_GOODS",
            "DATA_BOUNDARY_FOR_CANADA_PROTECTED_B",
            "DATA_BOUNDARY_FOR_CJIS",
            "DATA_BOUNDARY_FOR_FEDRAMP_HIGH",
            "DATA_BOUNDARY_FOR_FEDRAMP_MODERATE",
            "DATA_BOUNDARY_FOR_IL2",
            "DATA_BOUNDARY_FOR_IL4",
            "DATA_BOUNDARY_FOR_IL5",
            "DATA_BOUNDARY_FOR_IRS_PUBLICATION_1075",
            "DATA_BOUNDARY_FOR_ITAR",
            "EU_DATA_BOUNDARY_AND_SUPPORT",
            "ISRAEL_DATA_BOUNDARY_AND_SUPPORT",
            "JAPAN_DATA_BOUNDARY",
            "SWITZERLAND_DATA_BOUNDARY_WITH_ACCESS_JUSTIFICATIONS",
            "KSA_DATA_BOUNDARY_WITH_ACCESS_JUSTIFICATIONS",
            "REGIONAL_DATA_BOUNDARY",
            "US_DATA_BOUNDARY_AND_SUPPORT",
            "US_DATA_BOUNDARY_FOR_HEALTHCARE_AND_LIFE_SCIENCES",
            "US_DATA_BOUNDARY_FOR_HEALTHCARE_AND_LIFE_SCIENCES_WITH_SUPPORT",
            "AU_REGIONS_AND_US_SUPPORT",
            "CA_PROTECTED_B",
            "CA_REGIONS_AND_SUPPORT",
            "CANADA_CONTROLLED_GOODS",
            "CJIS",
            "EU_REGIONS_AND_SUPPORT",
            "FEDRAMP_HIGH",
            "FEDRAMP_MODERATE",
            "HEALTHCARE_AND_LIFE_SCIENCES_CONTROLS",
            "HEALTHCARE_AND_LIFE_SCIENCES_CONTROLS_US_SUPPORT",
            "HIPAA",
            "HITRUST",
            "IL2",
            "IL4",
            "IL5",
            "IRS_1075",
            "ISR_REGIONS",
            "ISR_REGIONS_AND_SUPPORT",
            "ITAR",
            "JP_REGIONS_AND_SUPPORT",
            "KSA_REGIONS_AND_SUPPORT_WITH_SOVEREIGNTY_CONTROLS",
            "REGIONAL_CONTROLS",
            "US_REGIONAL_ACCESS"
          ],
          "description": "Optional. Compliance controls that should be applied to the resources managed by the workload."
        }
      },
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1beta1ViolationRemediationInstructionsConsole": {
      "type": "object",
      "properties": {
        "steps": {
          "type": "array",
          "description": "Steps to resolve violation via cloud console",
          "items": {
            "type": "string"
          }
        },
        "additionalLinks": {
          "type": "array",
          "description": "Additional urls for more information about steps",
          "items": {
            "type": "string"
          }
        },
        "consoleUris": {
          "description": "Link to console page where violations can be resolved",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1beta1ViolationRemediationInstructionsConsole",
      "description": "Remediation instructions to resolve violation via cloud console"
    },
    "GoogleCloudAssuredworkloadsV1beta1WorkloadFedrampHighSettings": {
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1beta1WorkloadFedrampHighSettings",
      "description": "Settings specific to resources needed for FedRAMP High.",
      "deprecated": true,
      "properties": {
        "kmsSettings": {
          "description": "Input only. Immutable. Settings used to create a CMEK crypto key.",
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadKMSSettings"
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1beta1Violation": {
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1beta1Violation",
      "description": "Workload monitoring Violation.",
      "properties": {
        "exceptionContexts": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1beta1ViolationExceptionContext"
          },
          "description": "Output only. List of all the exception detail added for the violation."
        },
        "beginTime": {
          "description": "Output only. Time of the event which triggered the Violation.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "acknowledgementTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. Timestamp when this violation was acknowledged first. Check exception_contexts to find the last time the violation was acknowledged when there are more than one violations. This field will be absent when acknowledged field is marked as false."
        },
        "category": {
          "description": "Output only. Category under which this violation is mapped. e.g. Location, Service Usage, Access, Encryption, etc.",
          "type": "string",
          "readOnly": true
        },
        "nonCompliantOrgPolicy": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Immutable. Name of the OrgPolicy which was modified with non-compliant change and resulted this violation. Format: projects/{project_number}/policies/{constraint_name} folders/{folder_id}/policies/{constraint_name} organizations/{organization_id}/policies/{constraint_name}"
        },
        "resourceName": {
          "description": "Optional. Output only. Name of the resource like //storage.googleapis.com/myprojectxyz-testbucket. Empty for org-policy violations.",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "enumDescriptions": [
            "Unspecified state.",
            "Violation is resolved.",
            "Violation is Unresolved",
            "Violation is Exception"
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "RESOLVED",
            "UNRESOLVED",
            "EXCEPTION"
          ],
          "description": "Output only. State of the violation",
          "readOnly": true
        },
        "parentProjectNumber": {
          "readOnly": true,
          "type": "string",
          "description": "Optional. Output only. Parent project number where resource is present. Empty for org-policy violations."
        },
        "auditLogLink": {
          "description": "Output only. Immutable. Audit Log Link for violated resource Format: https://console.cloud.google.com/logs/query;query={logName}{protoPayload.resourceName}{timeRange}{folder}",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "description": "Output only. Description for the Violation. e.g. OrgPolicy gcp.resourceLocations has non compliant value.",
          "readOnly": true,
          "type": "string"
        },
        "exceptionAuditLogLink": {
          "description": "Output only. Immutable. Audit Log link to find business justification provided for violation exception. Format: https://console.cloud.google.com/logs/query;query={logName}{protoPayload.resourceName}{protoPayload.methodName}{timeRange}{organization}",
          "type": "string",
          "readOnly": true
        },
        "violationType": {
          "type": "string",
          "enum": [
            "VIOLATION_TYPE_UNSPECIFIED",
            "ORG_POLICY",
            "RESOURCE"
          ],
          "enumDescriptions": [
            "Unspecified type.",
            "Org Policy Violation.",
            "Resource Violation."
          ],
          "description": "Output only. Type of the violation",
          "readOnly": true
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The last time when the Violation record was updated."
        },
        "orgPolicyConstraint": {
          "deprecated": true,
          "description": "Output only. Immutable. The org-policy-constraint that was incorrectly changed, which resulted in this violation.",
          "type": "string",
          "readOnly": true
        },
        "remediation": {
          "readOnly": true,
          "$ref": "GoogleCloudAssuredworkloadsV1beta1ViolationRemediation",
          "description": "Output only. Compliance violation remediation"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Immutable. Name of the Violation. Format: organizations/{organization}/locations/{location}/workloads/{workload_id}/violations/{violations_id}"
        },
        "associatedOrgPolicyViolationId": {
          "description": "Optional. Output only. Violation Id of the org-policy violation due to which the resource violation is caused. Empty for org-policy violations.",
          "readOnly": true,
          "type": "string"
        },
        "resolveTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time of the event which fixed the Violation. If the violation is ACTIVE this will be empty."
        },
        "acknowledged": {
          "type": "boolean",
          "description": "A boolean that indicates if the violation is acknowledged"
        },
        "resourceType": {
          "type": "string",
          "readOnly": true,
          "description": "Optional. Output only. Type of the resource like compute.googleapis.com/Disk, etc. Empty for org-policy violations."
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1beta1ListWorkloadUpdatesResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The next page token. Return empty if reached the last page."
        },
        "workloadUpdates": {
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadUpdate"
          },
          "description": "The list of workload updates for a given workload.",
          "type": "array"
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1beta1ListWorkloadUpdatesResponse",
      "description": "Response of listing the compliance updates per workload with pagination."
    },
    "GoogleCloudAssuredworkloadsV1beta1MoveAnalysisResult": {
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1beta1MoveAnalysisResult",
      "description": "Represents the successful move analysis results for a group.",
      "properties": {
        "warnings": {
          "description": "List of warnings. These are risks that may or may not result in compliance violations.",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1beta1MoveImpact"
          },
          "type": "array"
        },
        "blockers": {
          "type": "array",
          "description": "List of blockers. If not resolved, these will result in compliance violations in the target.",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1beta1MoveImpact"
          }
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1beta1EnableResourceMonitoringResponse": {
      "properties": {},
      "id": "GoogleCloudAssuredworkloadsV1beta1EnableResourceMonitoringResponse",
      "description": "Response for EnableResourceMonitoring endpoint.",
      "type": "object"
    },
    "GoogleRpcStatus": {
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "type": "array"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "id": "GoogleRpcStatus",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1beta1WorkloadFedrampModerateSettings": {
      "deprecated": true,
      "properties": {
        "kmsSettings": {
          "description": "Input only. Immutable. Settings used to create a CMEK crypto key.",
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadKMSSettings"
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1beta1WorkloadFedrampModerateSettings",
      "description": "Settings specific to resources needed for FedRAMP Moderate.",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1beta1ListWorkloadsResponse": {
      "type": "object",
      "properties": {
        "workloads": {
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1beta1Workload"
          },
          "description": "List of Workloads under a given parent.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The next page token. Return empty if reached the last page."
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1beta1ListWorkloadsResponse",
      "description": "Response of ListWorkloads endpoint."
    },
    "GoogleCloudAssuredworkloadsV1beta1AcknowledgeViolationRequest": {
      "properties": {
        "acknowledgeType": {
          "enumDescriptions": [
            "Acknowledge type unspecified.",
            "Acknowledge only the specific violation.",
            "Acknowledge specified orgPolicy violation and also associated resource violations."
          ],
          "type": "string",
          "enum": [
            "ACKNOWLEDGE_TYPE_UNSPECIFIED",
            "SINGLE_VIOLATION",
            "EXISTING_CHILD_RESOURCE_VIOLATIONS"
          ],
          "description": "Optional. Acknowledge type of specified violation."
        },
        "nonCompliantOrgPolicy": {
          "deprecated": true,
          "description": "Optional. This field is deprecated and will be removed in future version of the API. Name of the OrgPolicy which was modified with non-compliant change and resulted in this violation. Format: projects/{project_number}/policies/{constraint_name} folders/{folder_id}/policies/{constraint_name} organizations/{organization_id}/policies/{constraint_name}",
          "type": "string"
        },
        "comment": {
          "type": "string",
          "description": "Required. Business justification explaining the need for violation acknowledgement"
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1beta1AcknowledgeViolationRequest",
      "description": "Request for acknowledging the violation",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1beta1ManualCloudControlAssessmentDetails": {
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1beta1ManualCloudControlAssessmentDetails",
      "description": "The details for a manual cloud control assessment.",
      "properties": {
        "manualCloudControlGuide": {
          "description": "The guide for assessing a cloud control manually.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1beta1StringList": {
      "properties": {
        "values": {
          "items": {
            "type": "string"
          },
          "description": "Required. The strings in the list.",
          "type": "array"
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1beta1StringList",
      "description": "A list of strings for the parameter value.",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1beta1ArchiveResourceEventsResponse": {
      "properties": {
        "movedEventsCount": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of events successfully moved to the archive table."
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1beta1ArchiveResourceEventsResponse",
      "description": "Response for archiving resource events.",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1beta1DbFindingSummary": {
      "properties": {
        "findingCategory": {
          "description": "Output only. The category of the finding.",
          "type": "string",
          "readOnly": true
        },
        "findingCount": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. The count of the finding."
        },
        "name": {
          "description": "Identifier. The name of the finding summary.",
          "type": "string"
        },
        "findingClass": {
          "description": "Output only. The class of the finding.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "FINDING_CLASS_UNSPECIFIED",
            "THREAT",
            "VULNERABILITY",
            "MISCONFIGURATION",
            "OBSERVATION",
            "SCC_ERROR",
            "POSTURE_VIOLATION",
            "TOXIC_COMBINATION",
            "SENSITIVE_DATA_RISK",
            "CHOKEPOINT"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The activity is unwanted or malicious.",
            "A potential weakness in software that increases risk to confidentiality, integrity, and availability.",
            "A potential weakness in a cloud resource or asset configuration that increases risk.",
            "A security observation that is for informational purposes.",
            "An error that prevents Security Command Center from functioning properly.",
            "A potential security risk that's due to a change in the security posture.",
            "A combination of security issues that represent a more severe security problem when taken together.",
            "A potential security risk to data assets that contain sensitive data.",
            "A resource or resource group where high risk attack paths converge, based on attack path simulations (APS)."
          ]
        },
        "severity": {
          "description": "Output only. The severity of the finding.",
          "readOnly": true,
          "enumDescriptions": [
            "Default value. This value is unused.",
            "A critical vulnerability is easily discoverable by an external actor, exploitable, and results in the direct ability to execute arbitrary code, exfiltrate data, and otherwise gain additional access and privileges to cloud resources and workloads. Examples include publicly accessible unprotected user data and public SSH access with weak or no passwords. A critical threat is a threat that can access, modify, or delete data or execute unauthorized code within existing resources.",
            "A high-risk vulnerability can be easily discovered and exploited in combination with other vulnerabilities to gain direct access and the ability to execute arbitrary code, exfiltrate data, and otherwise gain additional access and privileges to cloud resources and workloads. An example is a database with weak or no passwords that is only accessible internally. This database could easily be compromised by an actor that had access to the internal network. A high-risk threat is a threat that can create new computational resources in an environment but can't access data or execute code in existing resources.",
            "A medium-risk vulnerability can be used by an actor to gain access to resources or privileges that enable them to eventually (through multiple steps or a complex exploit) gain access and the ability to execute arbitrary code or exfiltrate data. An example is a service account with access to more projects than it should have. If an actor gains access to the service account, they could potentially use that access to manipulate a project the service account was not intended to. A medium-risk threat can cause operational impact but might not access data or execute unauthorized code.",
            "A low-risk vulnerability hampers a security organization's ability to detect vulnerabilities or active threats in their deployment, or prevents the root cause investigation of security issues. An example is monitoring and logs being disabled for resource configurations and access. A low-risk threat is a threat that has obtained minimal access to an environment but can't access data, execute code, or create resources."
          ],
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ]
        },
        "updateTime": {
          "description": "Output only. The last updated time of the finding.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "relatedFrameworks": {
          "type": "array",
          "description": "Optional. The list of compliance frameworks that the finding belongs to.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1beta1DbFindingSummary",
      "description": "The details for a finding.",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1beta1WorkloadResourceSettings": {
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1beta1WorkloadResourceSettings",
      "description": "Represent the custom settings for the resources to be created.",
      "properties": {
        "resourceId": {
          "type": "string",
          "description": "Resource identifier. For a project this represents project_id. If the project is already taken, the workload creation will fail. For KeyRing, this represents the keyring_id. For a folder, don't set this value as folder_id is assigned by Google."
        },
        "displayName": {
          "type": "string",
          "description": "User-assigned resource display name. If not empty it will be used to create a resource with the specified name."
        },
        "resourceType": {
          "enumDescriptions": [
            "Unknown resource type.",
            "Deprecated. Existing workloads will continue to support this, but new CreateWorkloadRequests should not specify this as an input value.",
            "Consumer Folder.",
            "Consumer project containing encryption keys.",
            "Keyring resource that hosts encryption keys."
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false
          ],
          "type": "string",
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "CONSUMER_PROJECT",
            "CONSUMER_FOLDER",
            "ENCRYPTION_KEYS_PROJECT",
            "KEYRING"
          ],
          "description": "Indicates the type of resource. This field should be specified to correspond the id to the right project type (CONSUMER_PROJECT or ENCRYPTION_KEYS_PROJECT)"
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1beta1OrgPolicyUpdate": {
      "type": "object",
      "properties": {
        "appliedPolicy": {
          "$ref": "GoogleCloudAssuredworkloadsV1beta1OrgPolicy",
          "description": "The org policy currently applied on the assured workload resource."
        },
        "suggestedPolicy": {
          "description": "The suggested org policy that replaces the applied policy.",
          "$ref": "GoogleCloudAssuredworkloadsV1beta1OrgPolicy"
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1beta1OrgPolicyUpdate",
      "description": "Represents an update for an org policy control applied on an Assured Workload resource. The inherited org policy is not considered."
    },
    "GoogleCloudAssuredworkloadsV1beta1TargetResourceDetails": {
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1beta1TargetResourceDetails",
      "description": "The details for a target resource.",
      "properties": {
        "targetResourceDisplayName": {
          "type": "string",
          "description": "The display name of the target resource. For example, `google.com`, `staging-project`, or `development-folder`."
        },
        "targetResource": {
          "type": "string",
          "description": "The target resource. For example, `organizations/1234567890`, `projects/1234567890`, or `folders/1234567890`."
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The update time of the target resource."
        },
        "majorRevisionId": {
          "type": "string",
          "format": "int64",
          "description": "The major revision ID of the framework for the target resource."
        },
        "frameworkDeployment": {
          "description": "The framework deployment name for the target resource. For example, `organizations/{organization_id}/locations/{location}/frameworkDeployments/{framework_deployment_id}`",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The create time of the target resource."
        },
        "minorRevisionId": {
          "description": "The minor revision ID of the framework for the target resource.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1beta1AggregateDbFrameworkComplianceReportResponse": {
      "type": "object",
      "properties": {
        "aggregatedComplianceReports": {
          "description": "The list of aggregated compliance reports.",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1beta1AggregatedComplianceReport"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1beta1AggregateDbFrameworkComplianceReportResponse",
      "description": "The response message for AggregateDbFrameworkComplianceReport."
    },
    "GoogleCloudAssuredworkloadsV1beta1BatchAcknowledgeViolationsResponse": {
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1beta1BatchAcknowledgeViolationsResponse",
      "description": "Response for batch violation acknowledgement",
      "properties": {
        "acknowledgedViolationsCount": {
          "type": "integer",
          "format": "int32",
          "description": "Count of acknowledged violations."
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1beta1AssetMoveAnalysis": {
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1beta1AssetMoveAnalysis",
      "description": "Represents move analysis results for an asset.",
      "properties": {
        "asset": {
          "type": "string",
          "description": "The full resource name of the asset being analyzed. Example: //compute.googleapis.com/projects/my_project_123/zones/zone1/instances/instance1"
        },
        "analysisGroups": {
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1beta1MoveAnalysisGroup"
          },
          "description": "List of eligible analyses performed for the asset.",
          "type": "array"
        },
        "assetType": {
          "description": "Type of the asset being analyzed. Possible values will be among the ones listed [here](https://cloud.google.com/asset-inventory/docs/supported-asset-types).",
          "type": "string"
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1beta1EnableComplianceUpdatesResponse": {
      "id": "GoogleCloudAssuredworkloadsV1beta1EnableComplianceUpdatesResponse",
      "description": "Response for EnableComplianceUpdates endpoint.",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1beta1SimilarControls": {
      "type": "object",
      "properties": {
        "framework": {
          "type": "string",
          "description": "The name of the framework."
        },
        "controlId": {
          "description": "The ID of the control.",
          "type": "string"
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1beta1SimilarControls",
      "description": "The similar controls."
    },
    "GoogleCloudAssuredworkloadsV1beta1Trend": {
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1beta1Trend",
      "description": "The trend of a compliance metric.",
      "properties": {
        "duration": {
          "readOnly": true,
          "type": "string",
          "format": "google-duration",
          "description": "Output only. The duration for the trend."
        },
        "valuePercent": {
          "readOnly": true,
          "type": "number",
          "format": "double",
          "description": "Output only. The trend value as a percentage. The value can be positive or negative."
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1beta1ViolationRemediationInstructionsGcloud": {
      "id": "GoogleCloudAssuredworkloadsV1beta1ViolationRemediationInstructionsGcloud",
      "description": "Remediation instructions to resolve violation via gcloud cli",
      "properties": {
        "gcloudCommands": {
          "type": "array",
          "description": "Gcloud command to resolve violation",
          "items": {
            "type": "string"
          }
        },
        "steps": {
          "type": "array",
          "description": "Steps to resolve violation via gcloud cli",
          "items": {
            "type": "string"
          }
        },
        "additionalLinks": {
          "items": {
            "type": "string"
          },
          "description": "Additional urls for more information about steps",
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1beta1ListDbFrameworkComplianceSummariesResponse": {
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1beta1ListDbFrameworkComplianceSummariesResponse",
      "description": "The response message for ListDbFrameworkComplianceSummariesResponse.",
      "properties": {
        "nextPageToken": {
          "description": "Output only. The token to retrieve the next page of results.",
          "type": "string",
          "readOnly": true
        },
        "dbFrameworkComplianceSummaries": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1beta1DbFrameworkComplianceSummary"
          },
          "description": "The list of framework compliance summaries."
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1beta1Workload": {
      "id": "GoogleCloudAssuredworkloadsV1beta1Workload",
      "description": "A Workload object for managing highly regulated workloads of cloud customers.",
      "properties": {
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels applied to the workload."
        },
        "fedrampHighSettings": {
          "description": "Input only. Immutable. Settings specific to resources needed for FedRAMP High.",
          "deprecated": true,
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadFedrampHighSettings"
        },
        "billingAccount": {
          "description": "Optional. The billing account used for the resources which are direct children of workload. This billing account is initially associated with the resources created as part of Workload creation. After the initial creation of these resources, the customer can change the assigned billing account. The resource name has the form `billingAccounts/{billing_account_id}`. For example, `billingAccounts/012345-567890-ABCDEF`.",
          "type": "string"
        },
        "resourceSettings": {
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadResourceSettings"
          },
          "description": "Input only. Resource properties that are used to customize workload resources. These properties (such as custom project id) will be used to create workload resources if possible. This field is optional.",
          "type": "array"
        },
        "kmsSettings": {
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadKMSSettings",
          "deprecated": true,
          "description": "Input only. Settings used to create a CMEK crypto key. When set, a project with a KMS CMEK key is provisioned. This field is deprecated as of Feb 28, 2022. In order to create a Keyring, callers should specify, ENCRYPTION_KEYS_PROJECT or KEYRING in ResourceSettings.resource_type field."
        },
        "partnerPermissions": {
          "description": "Optional. Permissions granted to the AW Partner SA account for the customer workload",
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadPartnerPermissions"
        },
        "ekmProvisioningResponse": {
          "description": "Output only. Represents the Ekm Provisioning State of the given workload.",
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadEkmProvisioningResponse",
          "readOnly": true
        },
        "resources": {
          "description": "Output only. The resources associated with this workload. These resources will be created when creating the workload. If any of the projects already exist, the workload creation will fail. Always read only.",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadResourceInfo"
          },
          "readOnly": true,
          "type": "array"
        },
        "etag": {
          "type": "string",
          "description": "Optional. ETag of the workload, it is calculated on the basis of the Workload contents. It will be used in Update & Delete operations."
        },
        "enableSovereignControls": {
          "description": "Optional. Indicates the sovereignty status of the given workload. Currently meant to be used by Europe/Canada customers.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "Optional. The resource name of the workload. Format: organizations/{organization}/locations/{location}/workloads/{workload} Read-only."
        },
        "compliantButDisallowedServices": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Urls for services which are compliant for this Assured Workload, but which are currently disallowed by the ResourceUsageRestriction org policy. Invoke RestrictAllowedResources endpoint to allow your project developers to use these services in their environment.",
          "items": {
            "type": "string"
          }
        },
        "partnerServicesBillingAccount": {
          "description": "Optional. Billing account necessary for purchasing services from Sovereign Partners. This field is required for creating SIA/PSN/CNTXT/Telefonica partner workloads. The caller should have 'billing.resourceAssociations.create' IAM permission on this billing-account. The format of this string is billingAccounts/AAAAAA-BBBBBB-CCCCCC",
          "type": "string"
        },
        "saaEnrollmentResponse": {
          "description": "Output only. Represents the SAA enrollment response of the given workload. SAA enrollment response is queried during GetWorkload call. In failure cases, user friendly error message is shown in SAA details page.",
          "readOnly": true,
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadSaaEnrollmentResponse"
        },
        "violationNotificationsEnabled": {
          "description": "Optional. Indicates whether the e-mail notification for a violation is enabled for a workload. This value will be by default True, and if not present will be considered as true. This should only be updated via updateWorkload call. Any Changes to this field during the createWorkload call will not be honored. This will always be true while creating the workload.",
          "type": "boolean"
        },
        "il4Settings": {
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadIL4Settings",
          "description": "Input only. Immutable. Settings specific to resources needed for IL4.",
          "deprecated": true
        },
        "displayName": {
          "type": "string",
          "description": "Required. The user-assigned display name of the Workload. When present it must be between 4 to 30 characters. Allowed characters are: lowercase and uppercase letters, numbers, hyphen, and spaces. Example: My Workload"
        },
        "kajEnrollmentState": {
          "readOnly": true,
          "description": "Output only. Represents the KAJ enrollment state of the given workload.",
          "type": "string",
          "enum": [
            "KAJ_ENROLLMENT_STATE_UNSPECIFIED",
            "KAJ_ENROLLMENT_STATE_PENDING",
            "KAJ_ENROLLMENT_STATE_COMPLETE"
          ],
          "enumDescriptions": [
            "Default State for KAJ Enrollment.",
            "Pending State for KAJ Enrollment.",
            "Complete State for KAJ Enrollment."
          ]
        },
        "complianceUpdatesEnabled": {
          "description": "Output only. Indicates whether the compliance updates feature is enabled for a workload. The compliance updates feature can be enabled via the EnableComplianceUpdates endpoint.",
          "type": "boolean",
          "readOnly": true
        },
        "workloadOptions": {
          "description": "Optional. Options to be set for the given created workload.",
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadWorkloadOptions"
        },
        "cjisSettings": {
          "description": "Input only. Immutable. Settings specific to resources needed for CJIS.",
          "deprecated": true,
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadCJISSettings"
        },
        "availableUpdates": {
          "description": "Output only. The number of updates available for the workload.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "partner": {
          "type": "string",
          "enum": [
            "PARTNER_UNSPECIFIED",
            "LOCAL_CONTROLS_BY_S3NS",
            "SOVEREIGN_CONTROLS_BY_T_SYSTEMS",
            "SOVEREIGN_CONTROLS_BY_SIA_MINSAIT",
            "SOVEREIGN_CONTROLS_BY_PSN",
            "SOVEREIGN_CONTROLS_BY_CNTXT",
            "SOVEREIGN_CONTROLS_BY_CNTXT_NO_EKM",
            "SPAIN_DATA_BOUNDARY_BY_TELEFONICA"
          ],
          "enumDescriptions": [
            "",
            "Enum representing S3NS (Thales) partner.",
            "Enum representing T_SYSTEM (TSI) partner.",
            "Enum representing SIA_MINSAIT (Indra) partner.",
            "Enum representing PSN (TIM) partner.",
            "Enum representing CNTXT (Kingdom of Saudi Arabia) partner.",
            "Enum representing CNTXT (Kingdom of Saudi Arabia) partner offering without EKM.",
            "Enum representing Telefonica (Spain) partner."
          ],
          "description": "Optional. Partner regime associated with this workload."
        },
        "complianceRegime": {
          "description": "Required. Immutable. Compliance Regime associated with this workload.",
          "enumDescriptions": [
            "The default value. This value is used if the control package is omitted or unknown.",
            "Specifies a [Sovereign Controls by Partners](https://cloud.google.com/sovereign-controls-by-partners/docs/overview) control package. To use this control package, you must also specify the partner field from the list of Sovereign Controls by Partners.",
            "Australia Data Boundary and Support",
            "Canada Data Boundary and Support",
            "Data Boundary for Canada Controlled Goods",
            "Data Boundary for Canada Protected B",
            "Data Boundary for Criminal Justice Information Systems (CJIS)",
            "Data Boundary for FedRAMP High",
            "Data Boundary for FedRAMP Moderate",
            "Data Boundary for Impact Level 2 (IL2)",
            "Data Boundary for Impact Level 4 (IL4)",
            "Data Boundary for Impact Level 5 (IL5)",
            "Data Boundary for IRS Publication 1075",
            "Data Boundary for International Traffic in Arms Regulations (ITAR)",
            "European Union (EU) Data Boundary and Support",
            "Israel Data Boundary and Support",
            "Japan Data Boundary",
            "Switzerland Data Boundary with Access Justifications",
            "Kingdom of Saudi Arabia (KSA) Data Boundary with Access Justifications",
            "Data boundary for one of Assured Workloads' *Free tier* control packages. Determines the region by specifying the data location during workload creation.",
            "United States (US) Data Boundary and Support",
            "United States (US) Data Boundary for Healthcare and Life Sciences",
            "United States (US) Data Boundary for Healthcare and Life Sciences with Support",
            "Use the AUSTRALIA_DATA_BOUNDARY_AND_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_CANADA_PROTECTED_B enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the CANADA_DATA_BOUNDARY_AND_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_CANADA_CONTROLLED_GOODS enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_CJIS enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the EU_DATA_BOUNDARY_AND_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_FEDRAMP_HIGH enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_FEDRAMP_MODERATE enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the US_DATA_BOUNDARY_FOR_HEALTHCARE_AND_LIFE_SCIENCES enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the US_DATA_BOUNDARY_FOR_HEALTHCARE_AND_LIFE_SCIENCES_WITH_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Deprecated: Consider using the Data Boundary for US Healthcare and Life Sciences control package instead.",
            "Deprecated: Consider using the Data Boundary for US Healthcare and Life Sciences control package instead.",
            "Use the DATA_BOUNDARY_FOR_IL2 enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_IL4 enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_IL5 enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_IRS_PUBLICATION_1075 enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the ISRAEL_DATA_BOUNDARY_AND_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the ISRAEL_DATA_BOUNDARY_AND_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_ITAR enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the JAPAN_DATA_BOUNDARY enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the KSA_DATA_BOUNDARY_WITH_ACCESS_JUSTIFICATIONS enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the REGIONAL_DATA_BOUNDARY enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the US_DATA_BOUNDARY_AND_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed."
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "type": "string",
          "enum": [
            "COMPLIANCE_REGIME_UNSPECIFIED",
            "ASSURED_WORKLOADS_FOR_PARTNERS",
            "AUSTRALIA_DATA_BOUNDARY_AND_SUPPORT",
            "CANADA_DATA_BOUNDARY_AND_SUPPORT",
            "DATA_BOUNDARY_FOR_CANADA_CONTROLLED_GOODS",
            "DATA_BOUNDARY_FOR_CANADA_PROTECTED_B",
            "DATA_BOUNDARY_FOR_CJIS",
            "DATA_BOUNDARY_FOR_FEDRAMP_HIGH",
            "DATA_BOUNDARY_FOR_FEDRAMP_MODERATE",
            "DATA_BOUNDARY_FOR_IL2",
            "DATA_BOUNDARY_FOR_IL4",
            "DATA_BOUNDARY_FOR_IL5",
            "DATA_BOUNDARY_FOR_IRS_PUBLICATION_1075",
            "DATA_BOUNDARY_FOR_ITAR",
            "EU_DATA_BOUNDARY_AND_SUPPORT",
            "ISRAEL_DATA_BOUNDARY_AND_SUPPORT",
            "JAPAN_DATA_BOUNDARY",
            "SWITZERLAND_DATA_BOUNDARY_WITH_ACCESS_JUSTIFICATIONS",
            "KSA_DATA_BOUNDARY_WITH_ACCESS_JUSTIFICATIONS",
            "REGIONAL_DATA_BOUNDARY",
            "US_DATA_BOUNDARY_AND_SUPPORT",
            "US_DATA_BOUNDARY_FOR_HEALTHCARE_AND_LIFE_SCIENCES",
            "US_DATA_BOUNDARY_FOR_HEALTHCARE_AND_LIFE_SCIENCES_WITH_SUPPORT",
            "AU_REGIONS_AND_US_SUPPORT",
            "CA_PROTECTED_B",
            "CA_REGIONS_AND_SUPPORT",
            "CANADA_CONTROLLED_GOODS",
            "CJIS",
            "EU_REGIONS_AND_SUPPORT",
            "FEDRAMP_HIGH",
            "FEDRAMP_MODERATE",
            "HEALTHCARE_AND_LIFE_SCIENCES_CONTROLS",
            "HEALTHCARE_AND_LIFE_SCIENCES_CONTROLS_US_SUPPORT",
            "HIPAA",
            "HITRUST",
            "IL2",
            "IL4",
            "IL5",
            "IRS_1075",
            "ISR_REGIONS",
            "ISR_REGIONS_AND_SUPPORT",
            "ITAR",
            "JP_REGIONS_AND_SUPPORT",
            "KSA_REGIONS_AND_SUPPORT_WITH_SOVEREIGNTY_CONTROLS",
            "REGIONAL_CONTROLS",
            "US_REGIONAL_ACCESS"
          ]
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Immutable. The Workload creation timestamp."
        },
        "fedrampModerateSettings": {
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadFedrampModerateSettings",
          "deprecated": true,
[...]
