{
  "parameters": {
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "location": "query",
      "type": "string",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    }
  },
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "canonicalName": "Assuredworkloads",
  "version": "v1",
  "servicePath": "",
  "name": "assuredworkloads",
  "kind": "discovery#restDescription",
  "description": "",
  "id": "assuredworkloads:v1",
  "mtlsRootUrl": "https://assuredworkloads.mtls.googleapis.com/",
  "baseUrl": "https://assuredworkloads.googleapis.com/",
  "ownerDomain": "google.com",
  "fullyEncodeReservedExpansion": true,
  "version_module": true,
  "schemas": {
    "GoogleCloudAssuredworkloadsV1ViolationRemediationInstructionsGcloud": {
      "type": "object",
      "description": "Remediation instructions to resolve violation via gcloud cli",
      "id": "GoogleCloudAssuredworkloadsV1ViolationRemediationInstructionsGcloud",
      "properties": {
        "steps": {
          "description": "Steps to resolve violation via gcloud cli",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "additionalLinks": {
          "items": {
            "type": "string"
          },
          "description": "Additional urls for more information about steps",
          "type": "array"
        },
        "gcloudCommands": {
          "type": "array",
          "description": "Gcloud command to resolve violation",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1ArchiveResourceEventsResponse": {
      "type": "object",
      "description": "Response for archiving resource events.",
      "id": "GoogleCloudAssuredworkloadsV1ArchiveResourceEventsResponse",
      "properties": {
        "movedEventsCount": {
          "format": "int32",
          "type": "integer",
          "description": "The total number of events successfully moved to the archive table."
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1DbFindingSummary": {
      "id": "GoogleCloudAssuredworkloadsV1DbFindingSummary",
      "properties": {
        "findingCategory": {
          "type": "string",
          "description": "Output only. The category of the finding.",
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The last updated time of the finding.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "severity": {
          "readOnly": true,
          "enumDescriptions": [
            "Default value. This value is unused.",
            "A critical vulnerability is easily discoverable by an external actor, exploitable, and results in the direct ability to execute arbitrary code, exfiltrate data, and otherwise gain additional access and privileges to cloud resources and workloads. Examples include publicly accessible unprotected user data and public SSH access with weak or no passwords. A critical threat is a threat that can access, modify, or delete data or execute unauthorized code within existing resources.",
            "A high-risk vulnerability can be easily discovered and exploited in combination with other vulnerabilities to gain direct access and the ability to execute arbitrary code, exfiltrate data, and otherwise gain additional access and privileges to cloud resources and workloads. An example is a database with weak or no passwords that is only accessible internally. This database could easily be compromised by an actor that had access to the internal network. A high-risk threat is a threat that can create new computational resources in an environment but can't access data or execute code in existing resources.",
            "A medium-risk vulnerability can be used by an actor to gain access to resources or privileges that enable them to eventually (through multiple steps or a complex exploit) gain access and the ability to execute arbitrary code or exfiltrate data. An example is a service account with access to more projects than it should have. If an actor gains access to the service account, they could potentially use that access to manipulate a project the service account was not intended to. A medium-risk threat can cause operational impact but might not access data or execute unauthorized code.",
            "A low-risk vulnerability hampers a security organization's ability to detect vulnerabilities or active threats in their deployment, or prevents the root cause investigation of security issues. An example is monitoring and logs being disabled for resource configurations and access. A low-risk threat is a threat that has obtained minimal access to an environment but can't access data, execute code, or create resources."
          ],
          "type": "string",
          "description": "Output only. The severity of the finding.",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ]
        },
        "findingClass": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The activity is unwanted or malicious.",
            "A potential weakness in software that increases risk to confidentiality, integrity, and availability.",
            "A potential weakness in a cloud resource or asset configuration that increases risk.",
            "A security observation that is for informational purposes.",
            "An error that prevents Security Command Center from functioning properly.",
            "A potential security risk that's due to a change in the security posture.",
            "A combination of security issues that represent a more severe security problem when taken together.",
            "A potential security risk to data assets that contain sensitive data.",
            "A resource or resource group where high risk attack paths converge, based on attack path simulations (APS)."
          ],
          "description": "Output only. The class of the finding.",
          "enum": [
            "FINDING_CLASS_UNSPECIFIED",
            "THREAT",
            "VULNERABILITY",
            "MISCONFIGURATION",
            "OBSERVATION",
            "SCC_ERROR",
            "POSTURE_VIOLATION",
            "TOXIC_COMBINATION",
            "SENSITIVE_DATA_RISK",
            "CHOKEPOINT"
          ]
        },
        "name": {
          "description": "Identifier. The name of the finding summary.",
          "type": "string"
        },
        "relatedFrameworks": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The list of compliance frameworks that the finding belongs to."
        },
        "findingCount": {
          "readOnly": true,
          "format": "int64",
          "type": "string",
          "description": "Output only. The count of the finding."
        }
      },
      "type": "object",
      "description": "The details for a finding."
    },
    "GoogleCloudAssuredworkloadsV1AggregatedComplianceReport": {
      "id": "GoogleCloudAssuredworkloadsV1AggregatedComplianceReport",
      "properties": {
        "controlAssessmentDetails": {
          "description": "The control assessment details of the framework.",
          "$ref": "GoogleCloudAssuredworkloadsV1ControlAssessmentDetails"
        },
        "reportTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The report time of the aggregated compliance report."
        }
      },
      "type": "object",
      "description": "The aggregated compliance report."
    },
    "GoogleCloudAssuredworkloadsV1CloudControlReport": {
      "id": "GoogleCloudAssuredworkloadsV1CloudControlReport",
      "properties": {
        "categories": {
          "type": "array",
          "description": "The list of categories for the cloud control.",
          "items": {
            "type": "string"
          }
        },
        "enforcementMode": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The cloud control is enforced to prevent non-compliance.",
            "The cloud control is enforced to detect non-compliance.",
            "The cloud control is enforced to audit for non-compliance."
          ],
          "description": "The enforcement mode of the cloud control.",
          "type": "string",
          "enum": [
            "ENFORCEMENT_MODE_UNSPECIFIED",
            "PREVENTIVE",
            "DETECTIVE",
            "AUDIT"
          ]
        },
        "findingSeverity": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "A critical vulnerability is easily discoverable by an external actor, exploitable, and results in the direct ability to execute arbitrary code, exfiltrate data, and otherwise gain additional access and privileges to cloud resources and workloads. Examples include publicly accessible unprotected user data and public SSH access with weak or no passwords. A critical threat is a threat that can access, modify, or delete data or execute unauthorized code within existing resources.",
            "A high-risk vulnerability can be easily discovered and exploited in combination with other vulnerabilities to gain direct access and the ability to execute arbitrary code, exfiltrate data, and otherwise gain additional access and privileges to cloud resources and workloads. An example is a database with weak or no passwords that is only accessible internally. This database could easily be compromised by an actor that had access to the internal network. A high-risk threat is a threat that can create new computational resources in an environment but can't access data or execute code in existing resources.",
            "A medium-risk vulnerability can be used by an actor to gain access to resources or privileges that enable them to eventually (through multiple steps or a complex exploit) gain access and the ability to execute arbitrary code or exfiltrate data. An example is a service account with access to more projects than it should have. If an actor gains access to the service account, they could potentially use that access to manipulate a project the service account was not intended to. A medium-risk threat can cause operational impact but might not access data or execute unauthorized code.",
            "A low-risk vulnerability hampers a security organization's ability to detect vulnerabilities or active threats in their deployment, or prevents the root cause investigation of security issues. An example is monitoring and logs being disabled for resource configurations and access. A low-risk threat is a threat that has obtained minimal access to an environment but can't access data, execute code, or create resources."
          ],
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "description": "The severity of the finding."
        },
        "cloudControl": {
          "type": "string",
          "description": "The name of the cloud control."
        },
        "cloudControlType": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "A cloud control that's created and managed by you.",
            "A cloud control that's provided and managed by Google."
          ],
          "description": "The type of the cloud control.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "CUSTOM",
            "BUILT_IN"
          ]
        },
        "minorRevisionId": {
          "type": "string",
          "description": "The minor revision ID of the cloud control.",
          "format": "int64"
        },
        "rules": {
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1Rule"
          },
          "description": "The list of rules that correspond to the cloud control.",
          "type": "array"
        },
        "manualCloudControlAssessmentDetails": {
          "description": "The details of a manual cloud control assessment.",
          "$ref": "GoogleCloudAssuredworkloadsV1ManualCloudControlAssessmentDetails"
        },
        "cloudControlDeployment": {
          "description": "The name of the cloud control deployment.",
          "type": "string"
        },
        "majorRevisionId": {
          "type": "string",
          "description": "The major revision ID of the cloud control.",
          "format": "int64"
        },
        "similarControls": {
          "description": "The list of similar controls.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1SimilarControls"
          }
        },
        "cloudControlAssessmentDetails": {
          "description": "The details of a cloud control assessment.",
          "$ref": "GoogleCloudAssuredworkloadsV1CloudControlAssessmentDetails"
        },
        "findingCategory": {
          "description": "The category of the finding.",
          "type": "string"
        },
        "frameworkMajorRevisionIds": {
          "description": "The major revision IDs of the frameworks that the cloud control belongs to.",
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          }
        },
        "displayName": {
          "description": "The display name of the cloud control.",
          "type": "string"
        },
        "description": {
          "description": "The description of the cloud control.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The cloud control report."
    },
    "GoogleCloudAssuredworkloadsV1WorkloadResourceInfo": {
      "id": "GoogleCloudAssuredworkloadsV1WorkloadResourceInfo",
      "properties": {
        "resourceId": {
          "readOnly": true,
          "format": "int64",
          "type": "string",
          "description": "Output only. Resource identifier. For a project this represents project_number."
        },
        "resourceType": {
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false
          ],
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "CONSUMER_PROJECT",
            "CONSUMER_FOLDER",
            "ENCRYPTION_KEYS_PROJECT",
            "KEYRING"
          ],
          "description": "Indicates the type of resource.",
          "type": "string",
          "enumDescriptions": [
            "Unknown resource type.",
            "Deprecated. Existing workloads will continue to support this, but new CreateWorkloadRequests should not specify this as an input value.",
            "Consumer Folder.",
            "Consumer project containing encryption keys.",
            "Keyring resource that hosts encryption keys."
          ]
        }
      },
      "description": "Represent the resources that are children of this Workload.",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1WorkloadUpdate": {
      "id": "GoogleCloudAssuredworkloadsV1WorkloadUpdate",
      "properties": {
        "updateTime": {
          "description": "The time the update was last updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "description": "Output only. The state of the update.",
          "enum": [
            "STATE_UNSPECIFIED",
            "AVAILABLE",
            "APPLIED",
            "WITHDRAWN"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified.",
            "The update is available to be applied.",
            "The update has been applied.",
            "The update has been withdrawn by the service."
          ]
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Immutable. Identifier. Resource name of the WorkloadUpdate. Format: organizations/{organization}/locations/{location}/workloads/{workload}/updates/{update}",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "The time the update was created.",
          "type": "string"
        },
        "details": {
          "description": "The details of the update.",
          "$ref": "GoogleCloudAssuredworkloadsV1UpdateDetails"
        }
      },
      "type": "object",
      "description": "A workload update is a change to the workload's compliance configuration."
    },
    "GoogleCloudAssuredworkloadsV1ListViolationsResponse": {
      "id": "GoogleCloudAssuredworkloadsV1ListViolationsResponse",
      "properties": {
        "totalSize": {
          "type": "integer",
          "description": "The total number of violations.",
          "format": "int32"
        },
        "violations": {
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1Violation"
          },
          "description": "List of Violations under a Workload.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The next page token. Returns empty if reached the last page."
        }
      },
      "type": "object",
      "description": "Response of ListViolations endpoint."
    },
    "GoogleCloudAssuredworkloadsV1RevertArchivedResourceEventsResponse": {
      "description": "Response for reverting archived resource events.",
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1RevertArchivedResourceEventsResponse",
      "properties": {
        "movedEventsCount": {
          "type": "integer",
          "description": "The total number of events successfully moved to the original table.",
          "format": "int32"
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1ApplyWorkloadUpdateResponse": {
      "description": "Response for ApplyWorkloadUpdate endpoint.",
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1ApplyWorkloadUpdateResponse",
      "properties": {
        "appliedUpdate": {
          "description": "The update that was applied.",
          "$ref": "GoogleCloudAssuredworkloadsV1WorkloadUpdate"
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1FetchDbFrameworkComplianceReportResponse": {
      "id": "GoogleCloudAssuredworkloadsV1FetchDbFrameworkComplianceReportResponse",
      "properties": {
        "frameworkDescription": {
          "description": "The description of the framework.",
          "type": "string"
        },
        "frameworkType": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "A framework that's provided and managed by Google.",
            "A framework that's created and managed by you."
          ],
          "type": "string",
          "enum": [
            "FRAMEWORK_TYPE_UNSPECIFIED",
            "BUILT_IN",
            "CUSTOM"
          ],
          "description": "The type of the framework."
        },
        "minorRevisionId": {
          "description": "The latest minor revision ID of the latest major revision of the framework.",
          "type": "string",
          "format": "int64"
        },
        "targetResourceDetails": {
          "type": "array",
          "description": "The target resource details of the framework.",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1TargetResourceDetails"
          }
        },
        "framework": {
          "description": "The name of the framework.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The last updated time of the report."
        },
        "frameworkCategories": {
          "description": "The list of framework categories supported.",
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "FRAMEWORK_CATEGORY_UNSPECIFIED",
              "INDUSTRY_DEFINED_STANDARD",
              "ASSURED_WORKLOADS",
              "DATA_SECURITY",
              "GOOGLE_BEST_PRACTICES",
              "CUSTOM_FRAMEWORK"
            ],
            "enumDescriptions": [
              "Default value. This value is unused.",
              "An industry-defined framework.",
              "An Assured Workloads framework.",
              "A data security posture framework.",
              "A Google's best practices framework.",
              "A user-created framework."
            ]
          }
        },
        "majorRevisionId": {
          "format": "int64",
          "description": "The latest major revision ID of the framework.",
          "type": "string"
        },
        "frameworkDisplayName": {
          "description": "Optional. The display name for the framework.",
          "type": "string"
        },
        "supportedCloudProviders": {
          "description": "The list of cloud providers that are supported by the framework.",
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "CLOUD_PROVIDER_UNSPECIFIED",
              "AWS",
              "AZURE",
              "GCP"
            ],
            "enumDescriptions": [
              "Default value. This value is unused.",
              "Amazon Web Services (AWS).",
              "Microsoft Azure.",
              "Google Cloud."
            ]
          }
        },
        "controlAssessmentDetails": {
          "description": "The control assessment details of the framework.",
          "$ref": "GoogleCloudAssuredworkloadsV1ControlAssessmentDetails"
        },
        "name": {
          "type": "string",
          "description": "The name of the framework compliance report."
        }
      },
      "type": "object",
      "description": "The response message for FetchDbFrameworkComplianceReport."
    },
    "GoogleCloudAssuredworkloadsV1RestrictAllowedResourcesRequest": {
      "description": "Request for restricting list of available resources in Workload environment.",
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1RestrictAllowedResourcesRequest",
      "properties": {
        "restrictionType": {
          "type": "string",
          "enum": [
            "RESTRICTION_TYPE_UNSPECIFIED",
            "ALLOW_ALL_GCP_RESOURCES",
            "ALLOW_COMPLIANT_RESOURCES",
            "APPEND_COMPLIANT_RESOURCES"
          ],
          "description": "Required. The type of restriction for using gcp products in the Workload environment.",
          "enumDescriptions": [
            "Unknown restriction type.",
            "Allow the use all of all gcp products, irrespective of the compliance posture. This effectively removes gcp.restrictServiceUsage OrgPolicy on the AssuredWorkloads Folder.",
            "Based on Workload's compliance regime, allowed list changes. See - https://cloud.google.com/assured-workloads/docs/supported-products for the list of supported resources.",
            "Similar to ALLOW_COMPLIANT_RESOURCES but adds the list of compliant resources to the existing list of compliant resources. Effective org-policy of the Folder is considered to ensure there is no disruption to the existing customer workflows."
          ]
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1CreateWorkloadOperationMetadata": {
      "description": "Operation metadata to give request details of CreateWorkload.",
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1CreateWorkloadOperationMetadata",
      "properties": {
        "parent": {
          "type": "string",
          "description": "Optional. The parent of the workload."
        },
        "displayName": {
          "type": "string",
          "description": "Optional. The display name of the workload."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Optional. Time when the operation was created.",
          "type": "string"
        },
        "complianceRegime": {
          "enumDescriptions": [
            "The default value. This value is used if the control package is omitted or unknown.",
            "Specifies a [Sovereign Controls by Partners](https://cloud.google.com/sovereign-controls-by-partners/docs/overview) control package. To use this control package, you must also specify the partner field from the list of Sovereign Controls by Partners.",
            "Australia Data Boundary and Support",
            "Canada Data Boundary and Support",
            "Data Boundary for Canada Controlled Goods",
            "Data Boundary for Canada Protected B",
            "Data Boundary for Criminal Justice Information Systems (CJIS)",
            "Data Boundary for FedRAMP High",
            "Data Boundary for FedRAMP Moderate",
            "Data Boundary for Impact Level 2 (IL2)",
            "Data Boundary for Impact Level 4 (IL4)",
            "Data Boundary for Impact Level 5 (IL5)",
            "Data Boundary for IRS Publication 1075",
            "Data Boundary for International Traffic in Arms Regulations (ITAR)",
            "European Union (EU) Data Boundary and Support",
            "Israel Data Boundary and Support",
            "Japan Data Boundary",
            "Switzerland Data Boundary with Access Justifications",
            "Kingdom of Saudi Arabia (KSA) Data Boundary with Access Justifications",
            "Data boundary for one of Assured Workloads' *Free tier* control packages. Determines the region by specifying the data location during workload creation.",
            "United States (US) Data Boundary and Support",
            "United States (US) Data Boundary for Healthcare and Life Sciences",
            "United States (US) Data Boundary for Healthcare and Life Sciences with Support",
            "Use the AUSTRALIA_DATA_BOUNDARY_AND_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_CANADA_PROTECTED_B enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the CANADA_DATA_BOUNDARY_AND_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_CANADA_CONTROLLED_GOODS enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_CJIS enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the EU_DATA_BOUNDARY_AND_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_FEDRAMP_HIGH enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_FEDRAMP_MODERATE enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the US_DATA_BOUNDARY_FOR_HEALTHCARE_AND_LIFE_SCIENCES enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the US_DATA_BOUNDARY_FOR_HEALTHCARE_AND_LIFE_SCIENCES_WITH_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Deprecated: Consider using the Data Boundary for US Healthcare and Life Sciences control package instead.",
            "Deprecated: Consider using the Data Boundary for US Healthcare and Life Sciences control package instead.",
            "Use the DATA_BOUNDARY_FOR_IL2 enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_IL4 enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_IL5 enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_IRS_PUBLICATION_1075 enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the ISRAEL_DATA_BOUNDARY_AND_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the ISRAEL_DATA_BOUNDARY_AND_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_ITAR enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the JAPAN_DATA_BOUNDARY enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the KSA_DATA_BOUNDARY_WITH_ACCESS_JUSTIFICATIONS enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the REGIONAL_DATA_BOUNDARY enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the US_DATA_BOUNDARY_AND_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed."
          ],
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "enum": [
            "COMPLIANCE_REGIME_UNSPECIFIED",
            "ASSURED_WORKLOADS_FOR_PARTNERS",
            "AUSTRALIA_DATA_BOUNDARY_AND_SUPPORT",
            "CANADA_DATA_BOUNDARY_AND_SUPPORT",
            "DATA_BOUNDARY_FOR_CANADA_CONTROLLED_GOODS",
            "DATA_BOUNDARY_FOR_CANADA_PROTECTED_B",
            "DATA_BOUNDARY_FOR_CJIS",
            "DATA_BOUNDARY_FOR_FEDRAMP_HIGH",
            "DATA_BOUNDARY_FOR_FEDRAMP_MODERATE",
            "DATA_BOUNDARY_FOR_IL2",
            "DATA_BOUNDARY_FOR_IL4",
            "DATA_BOUNDARY_FOR_IL5",
            "DATA_BOUNDARY_FOR_IRS_PUBLICATION_1075",
            "DATA_BOUNDARY_FOR_ITAR",
            "EU_DATA_BOUNDARY_AND_SUPPORT",
            "ISRAEL_DATA_BOUNDARY_AND_SUPPORT",
            "JAPAN_DATA_BOUNDARY",
            "SWITZERLAND_DATA_BOUNDARY_WITH_ACCESS_JUSTIFICATIONS",
            "KSA_DATA_BOUNDARY_WITH_ACCESS_JUSTIFICATIONS",
            "REGIONAL_DATA_BOUNDARY",
            "US_DATA_BOUNDARY_AND_SUPPORT",
            "US_DATA_BOUNDARY_FOR_HEALTHCARE_AND_LIFE_SCIENCES",
            "US_DATA_BOUNDARY_FOR_HEALTHCARE_AND_LIFE_SCIENCES_WITH_SUPPORT",
            "AU_REGIONS_AND_US_SUPPORT",
            "CA_PROTECTED_B",
            "CA_REGIONS_AND_SUPPORT",
            "CANADA_CONTROLLED_GOODS",
            "CJIS",
            "EU_REGIONS_AND_SUPPORT",
            "FEDRAMP_HIGH",
            "FEDRAMP_MODERATE",
            "HEALTHCARE_AND_LIFE_SCIENCES_CONTROLS",
            "HEALTHCARE_AND_LIFE_SCIENCES_CONTROLS_US_SUPPORT",
            "HIPAA",
            "HITRUST",
            "IL2",
            "IL4",
            "IL5",
            "IRS_1075",
            "ISR_REGIONS",
            "ISR_REGIONS_AND_SUPPORT",
            "ITAR",
            "JP_REGIONS_AND_SUPPORT",
            "KSA_REGIONS_AND_SUPPORT_WITH_SOVEREIGNTY_CONTROLS",
            "REGIONAL_CONTROLS",
            "US_REGIONAL_ACCESS"
          ],
          "description": "Optional. Compliance controls that should be applied to the resources managed by the workload."
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1EnableComplianceUpdatesResponse": {
      "id": "GoogleCloudAssuredworkloadsV1EnableComplianceUpdatesResponse",
      "properties": {},
      "type": "object",
      "description": "Response for EnableComplianceUpdates endpoint."
    },
    "GoogleCloudAssuredworkloadsV1DbFrameworkComplianceSummary": {
      "type": "object",
      "description": "The details for a framework compliance summary.",
      "id": "GoogleCloudAssuredworkloadsV1DbFrameworkComplianceSummary",
      "properties": {
        "controlsPassingTrend": {
          "readOnly": true,
          "description": "Output only. The trend of controls that are passing for the given duration.",
          "$ref": "GoogleCloudAssuredworkloadsV1Trend"
        },
        "frameworkType": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "A framework that's provided and managed by Google.",
            "A framework that's created and managed by you."
          ],
          "type": "string",
          "enum": [
            "FRAMEWORK_TYPE_UNSPECIFIED",
            "BUILT_IN",
            "CUSTOM"
          ],
          "description": "The type of framework."
        },
        "findingCount": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. The count of the findings generated against the framework.",
          "type": "string"
        },
        "framework": {
          "description": "The name of the framework.",
          "type": "string"
        },
        "minorRevisionId": {
          "type": "string",
          "description": "The minor revision ID of the framework.",
          "format": "int64"
        },
        "targetResourceDetails": {
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1TargetResourceDetails"
          },
          "type": "array",
          "description": "The target resource details for the framework."
        },
        "frameworkCategories": {
          "items": {
            "type": "string",
            "enum": [
              "FRAMEWORK_CATEGORY_UNSPECIFIED",
              "INDUSTRY_DEFINED_STANDARD",
              "ASSURED_WORKLOADS",
              "DATA_SECURITY",
              "GOOGLE_BEST_PRACTICES",
              "CUSTOM_FRAMEWORK"
            ],
            "enumDescriptions": [
              "Default value. This value is unused.",
              "An industry-defined framework.",
              "An Assured Workloads framework.",
              "A data security posture framework.",
              "A Google's best practices framework.",
              "A user-created framework."
            ]
          },
          "description": "The list of framework categories supported by the framework.",
          "type": "array"
        },
        "majorRevisionId": {
          "format": "int64",
          "description": "The major revision ID of the framework.",
          "type": "string"
        },
        "frameworkDisplayName": {
          "description": "Optional. The display name for the framework.",
          "type": "string"
        },
        "supportedCloudProviders": {
          "type": "array",
          "description": "The list of cloud providers supported by the framework.",
          "items": {
            "enumDescriptions": [
              "Default value. This value is unused.",
              "Amazon Web Services (AWS).",
              "Microsoft Azure.",
              "Google Cloud."
            ],
            "type": "string",
            "enum": [
              "CLOUD_PROVIDER_UNSPECIFIED",
              "AWS",
              "AZURE",
              "GCP"
            ]
          }
        },
        "controlAssessmentDetails": {
          "description": "The control assessment details of the framework.",
          "$ref": "GoogleCloudAssuredworkloadsV1ControlAssessmentDetails"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the framework compliance summary."
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1CELExpression": {
      "type": "object",
      "description": "A Common Expression Language (CEL) expression that's used to create a rule.",
      "id": "GoogleCloudAssuredworkloadsV1CELExpression",
      "properties": {
        "resourceTypesValues": {
          "description": "The resource instance types on which this expression is defined. The format is `/`. For example: `compute.googleapis.com/Instance`",
          "$ref": "GoogleCloudAssuredworkloadsV1StringList"
        },
        "expression": {
          "description": "Required. The logical expression in CEL. The maximum length of the condition is 1000 characters. For more information, see [CEL expression](https://cloud.google.com/security-command-center/docs/compliance-manager-write-cel-expressions).",
          "type": "string"
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1Workload": {
      "id": "GoogleCloudAssuredworkloadsV1Workload",
      "properties": {
        "ekmProvisioningResponse": {
          "readOnly": true,
          "description": "Output only. Represents the Ekm Provisioning State of the given workload.",
          "$ref": "GoogleCloudAssuredworkloadsV1WorkloadEkmProvisioningResponse"
        },
        "resourceMonitoringEnabled": {
          "description": "Output only. Indicates whether resource monitoring is enabled for workload or not. It is true when Resource feed is subscribed to AWM topic and AWM Service Agent Role is binded to AW Service Account for resource Assured workload.",
          "type": "boolean",
          "readOnly": true
        },
        "enableSovereignControls": {
          "description": "Optional. Indicates the sovereignty status of the given workload. Currently meant to be used by Europe/Canada customers.",
          "type": "boolean"
        },
        "violationNotificationsEnabled": {
          "description": "Optional. Indicates whether the e-mail notification for a violation is enabled for a workload. This value will be by default True, and if not present will be considered as true. This should only be updated via updateWorkload call. Any Changes to this field during the createWorkload call will not be honored. This will always be true while creating the workload.",
          "type": "boolean"
        },
        "partnerServicesBillingAccount": {
          "description": "Optional. Billing account necessary for purchasing services from Sovereign Partners. This field is required for creating SIA/PSN/CNTXT/Telefonica partner workloads. The caller should have 'billing.resourceAssociations.create' IAM permission on this billing-account. The format of this string is billingAccounts/AAAAAA-BBBBBB-CCCCCC",
          "type": "string"
        },
        "compliantButDisallowedServices": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. Urls for services which are compliant for this Assured Workload, but which are currently disallowed by the ResourceUsageRestriction org policy. Invoke RestrictAllowedResources endpoint to allow your project developers to use these services in their environment."
        },
        "partner": {
          "description": "Optional. Partner regime associated with this workload.",
          "type": "string",
          "enum": [
            "PARTNER_UNSPECIFIED",
            "LOCAL_CONTROLS_BY_S3NS",
            "SOVEREIGN_CONTROLS_BY_T_SYSTEMS",
            "SOVEREIGN_CONTROLS_BY_SIA_MINSAIT",
            "SOVEREIGN_CONTROLS_BY_PSN",
            "SOVEREIGN_CONTROLS_BY_CNTXT",
            "SOVEREIGN_CONTROLS_BY_CNTXT_NO_EKM",
            "SPAIN_DATA_BOUNDARY_BY_TELEFONICA"
          ],
          "enumDescriptions": [
            "",
            "Enum representing S3NS (Thales) partner.",
            "Enum representing T_SYSTEM (TSI) partner.",
            "Enum representing SIA_MINSAIT (Indra) partner.",
            "Enum representing PSN (TIM) partner.",
            "Enum representing CNTXT (Kingdom of Saudi Arabia) partner.",
            "Enum representing CNTXT (Kingdom of Saudi Arabia) partner offering without EKM.",
            "Enum representing Telefonica (Spain) partner."
          ]
        },
        "resourceSettings": {
          "type": "array",
          "description": "Input only. Resource properties that are used to customize workload resources. These properties (such as custom project id) will be used to create workload resources if possible. This field is optional.",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1WorkloadResourceSettings"
          }
        },
        "complianceStatus": {
          "description": "Output only. Count of active Violations in the Workload.",
          "$ref": "GoogleCloudAssuredworkloadsV1WorkloadComplianceStatus",
          "readOnly": true
        },
        "resources": {
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1WorkloadResourceInfo"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. The resources associated with this workload. These resources will be created when creating the workload. If any of the projects already exist, the workload creation will fail. Always read only."
        },
        "kmsSettings": {
          "description": "Input only. Settings used to create a CMEK crypto key. When set, a project with a KMS CMEK key is provisioned. This field is deprecated as of Feb 28, 2022. In order to create a Keyring, callers should specify, ENCRYPTION_KEYS_PROJECT or KEYRING in ResourceSettings.resource_type field.",
          "$ref": "GoogleCloudAssuredworkloadsV1WorkloadKMSSettings",
          "deprecated": true
        },
        "partnerPermissions": {
          "description": "Optional. Permissions granted to the AW Partner SA account for the customer workload",
          "$ref": "GoogleCloudAssuredworkloadsV1WorkloadPartnerPermissions"
        },
        "labels": {
          "type": "object",
          "description": "Optional. Labels applied to the workload.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "workloadOptions": {
          "description": "Optional. Options to be set for the given created workload.",
          "$ref": "GoogleCloudAssuredworkloadsV1WorkloadWorkloadOptions"
        },
        "etag": {
          "description": "Optional. ETag of the workload, it is calculated on the basis of the Workload contents. It will be used in Update & Delete operations.",
          "type": "string"
        },
        "name": {
          "description": "Optional. The resource name of the workload. Format: organizations/{organization}/locations/{location}/workloads/{workload} Read-only.",
          "type": "string"
        },
        "saaEnrollmentResponse": {
          "description": "Output only. Represents the SAA enrollment response of the given workload. SAA enrollment response is queried during GetWorkload call. In failure cases, user friendly error message is shown in SAA details page.",
          "$ref": "GoogleCloudAssuredworkloadsV1WorkloadSaaEnrollmentResponse",
          "readOnly": true
        },
        "kajEnrollmentState": {
          "enum": [
            "KAJ_ENROLLMENT_STATE_UNSPECIFIED",
            "KAJ_ENROLLMENT_STATE_PENDING",
            "KAJ_ENROLLMENT_STATE_COMPLETE"
          ],
          "description": "Output only. Represents the KAJ enrollment state of the given workload.",
          "type": "string",
          "enumDescriptions": [
            "Default State for KAJ Enrollment.",
            "Pending State for KAJ Enrollment.",
            "Complete State for KAJ Enrollment."
          ],
          "readOnly": true
        },
        "complianceRegime": {
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "enum": [
            "COMPLIANCE_REGIME_UNSPECIFIED",
            "ASSURED_WORKLOADS_FOR_PARTNERS",
            "AUSTRALIA_DATA_BOUNDARY_AND_SUPPORT",
            "CANADA_DATA_BOUNDARY_AND_SUPPORT",
            "DATA_BOUNDARY_FOR_CANADA_CONTROLLED_GOODS",
            "DATA_BOUNDARY_FOR_CANADA_PROTECTED_B",
            "DATA_BOUNDARY_FOR_CJIS",
            "DATA_BOUNDARY_FOR_FEDRAMP_HIGH",
            "DATA_BOUNDARY_FOR_FEDRAMP_MODERATE",
            "DATA_BOUNDARY_FOR_IL2",
            "DATA_BOUNDARY_FOR_IL4",
            "DATA_BOUNDARY_FOR_IL5",
            "DATA_BOUNDARY_FOR_IRS_PUBLICATION_1075",
            "DATA_BOUNDARY_FOR_ITAR",
            "EU_DATA_BOUNDARY_AND_SUPPORT",
            "ISRAEL_DATA_BOUNDARY_AND_SUPPORT",
            "JAPAN_DATA_BOUNDARY",
            "SWITZERLAND_DATA_BOUNDARY_WITH_ACCESS_JUSTIFICATIONS",
            "KSA_DATA_BOUNDARY_WITH_ACCESS_JUSTIFICATIONS",
            "REGIONAL_DATA_BOUNDARY",
            "US_DATA_BOUNDARY_AND_SUPPORT",
            "US_DATA_BOUNDARY_FOR_HEALTHCARE_AND_LIFE_SCIENCES",
            "US_DATA_BOUNDARY_FOR_HEALTHCARE_AND_LIFE_SCIENCES_WITH_SUPPORT",
            "AU_REGIONS_AND_US_SUPPORT",
            "CA_PROTECTED_B",
            "CA_REGIONS_AND_SUPPORT",
            "CANADA_CONTROLLED_GOODS",
            "CJIS",
            "EU_REGIONS_AND_SUPPORT",
            "FEDRAMP_HIGH",
            "FEDRAMP_MODERATE",
            "HEALTHCARE_AND_LIFE_SCIENCES_CONTROLS",
            "HEALTHCARE_AND_LIFE_SCIENCES_CONTROLS_US_SUPPORT",
            "HIPAA",
            "HITRUST",
            "IL2",
            "IL4",
            "IL5",
            "IRS_1075",
            "ISR_REGIONS",
            "ISR_REGIONS_AND_SUPPORT",
            "ITAR",
            "JP_REGIONS_AND_SUPPORT",
            "KSA_REGIONS_AND_SUPPORT_WITH_SOVEREIGNTY_CONTROLS",
            "REGIONAL_CONTROLS",
            "US_REGIONAL_ACCESS"
          ],
          "description": "Required. Immutable. Compliance Regime associated with this workload.",
          "enumDescriptions": [
            "The default value. This value is used if the control package is omitted or unknown.",
            "Specifies a [Sovereign Controls by Partners](https://cloud.google.com/sovereign-controls-by-partners/docs/overview) control package. To use this control package, you must also specify the partner field from the list of Sovereign Controls by Partners.",
            "Australia Data Boundary and Support",
            "Canada Data Boundary and Support",
            "Data Boundary for Canada Controlled Goods",
            "Data Boundary for Canada Protected B",
            "Data Boundary for Criminal Justice Information Systems (CJIS)",
            "Data Boundary for FedRAMP High",
            "Data Boundary for FedRAMP Moderate",
            "Data Boundary for Impact Level 2 (IL2)",
            "Data Boundary for Impact Level 4 (IL4)",
            "Data Boundary for Impact Level 5 (IL5)",
            "Data Boundary for IRS Publication 1075",
            "Data Boundary for International Traffic in Arms Regulations (ITAR)",
            "European Union (EU) Data Boundary and Support",
            "Israel Data Boundary and Support",
            "Japan Data Boundary",
            "Switzerland Data Boundary with Access Justifications",
            "Kingdom of Saudi Arabia (KSA) Data Boundary with Access Justifications",
            "Data boundary for one of Assured Workloads' *Free tier* control packages. Determines the region by specifying the data location during workload creation.",
            "United States (US) Data Boundary and Support",
            "United States (US) Data Boundary for Healthcare and Life Sciences",
            "United States (US) Data Boundary for Healthcare and Life Sciences with Support",
            "Use the AUSTRALIA_DATA_BOUNDARY_AND_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_CANADA_PROTECTED_B enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the CANADA_DATA_BOUNDARY_AND_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_CANADA_CONTROLLED_GOODS enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_CJIS enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the EU_DATA_BOUNDARY_AND_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_FEDRAMP_HIGH enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_FEDRAMP_MODERATE enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the US_DATA_BOUNDARY_FOR_HEALTHCARE_AND_LIFE_SCIENCES enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the US_DATA_BOUNDARY_FOR_HEALTHCARE_AND_LIFE_SCIENCES_WITH_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Deprecated: Consider using the Data Boundary for US Healthcare and Life Sciences control package instead.",
            "Deprecated: Consider using the Data Boundary for US Healthcare and Life Sciences control package instead.",
            "Use the DATA_BOUNDARY_FOR_IL2 enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_IL4 enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_IL5 enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_IRS_PUBLICATION_1075 enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the ISRAEL_DATA_BOUNDARY_AND_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the ISRAEL_DATA_BOUNDARY_AND_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_ITAR enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the JAPAN_DATA_BOUNDARY enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the KSA_DATA_BOUNDARY_WITH_ACCESS_JUSTIFICATIONS enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the REGIONAL_DATA_BOUNDARY enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the US_DATA_BOUNDARY_AND_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed."
          ],
          "type": "string"
        },
        "displayName": {
          "description": "Required. The user-assigned display name of the Workload. When present it must be between 4 to 30 characters. Allowed characters are: lowercase and uppercase letters, numbers, hyphen, and spaces. Example: My Workload",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Immutable. The Workload creation timestamp."
        },
        "billingAccount": {
          "type": "string",
          "description": "Optional. The billing account used for the resources which are direct children of workload. This billing account is initially associated with the resources created as part of Workload creation. After the initial creation of these resources, the customer can change the assigned billing account. The resource name has the form `billingAccounts/{billing_account_id}`. For example, `billingAccounts/012345-567890-ABCDEF`."
        },
        "provisionedResourcesParent": {
          "description": "Input only. The parent resource for the resources managed by this Assured Workload. May be either empty or a folder resource which is a child of the Workload parent. If not specified all resources are created under the parent organization. Format: folders/{folder_id}",
          "type": "string"
        }
      },
      "description": "A Workload object for managing highly regulated workloads of cloud customers.",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1ListWorkloadUpdatesResponse": {
      "id": "GoogleCloudAssuredworkloadsV1ListWorkloadUpdatesResponse",
      "properties": {
        "workloadUpdates": {
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1WorkloadUpdate"
          },
          "description": "The list of workload updates for a given workload.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The next page token. Return empty if reached the last page."
        }
      },
      "description": "Response of listing the compliance updates per workload with pagination.",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1WorkloadSaaEnrollmentResponse": {
      "id": "GoogleCloudAssuredworkloadsV1WorkloadSaaEnrollmentResponse",
      "properties": {
        "setupStatus": {
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified.",
            "SAA enrollment pending.",
            "SAA enrollment comopleted."
          ],
          "type": "string",
          "description": "Output only. Indicates SAA enrollment status of a given workload.",
          "enum": [
            "SETUP_STATE_UNSPECIFIED",
            "STATUS_PENDING",
            "STATUS_COMPLETE"
          ]
        },
        "setupErrors": {
          "items": {
            "enumDescriptions": [
              "Unspecified.",
              "Invalid states for all customers, to be redirected to AA UI for additional details.",
              "Returned when there is not an EKM key configured.",
              "Returned when there are no enrolled services or the customer is enrolled in CAA only for a subset of services.",
              "Returned when exception was encountered during evaluation of other criteria."
            ],
            "type": "string",
            "enum": [
              "SETUP_ERROR_UNSPECIFIED",
              "ERROR_INVALID_BASE_SETUP",
              "ERROR_MISSING_EXTERNAL_SIGNING_KEY",
              "ERROR_NOT_ALL_SERVICES_ENROLLED",
              "ERROR_SETUP_CHECK_FAILED"
            ]
          },
          "description": "Indicates SAA enrollment setup error if any.",
          "type": "array"
        }
      },
      "description": "Signed Access Approvals (SAA) enrollment response.",
      "type": "object"
    },
    "GoogleLongrunningOperation": {
      "id": "GoogleLongrunningOperation",
      "properties": {
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "GoogleRpcStatus"
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1ListDbControlComplianceSummariesResponse": {
      "id": "GoogleCloudAssuredworkloadsV1ListDbControlComplianceSummariesResponse",
      "properties": {
        "dbControlComplianceSummaries": {
          "description": "The list of control compliance details.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1DbControlComplianceSummary"
          }
        },
        "nextPageToken": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The token to retrieve the next page of results."
        }
      },
      "description": "The response message for ListDBControlComplianceSummaries.",
      "type": "object"
    },
    "GoogleProtobufEmpty": {
      "id": "GoogleProtobufEmpty",
      "properties": {},
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "GoogleCloudAssuredworkloadsV1WorkloadResourceSettings": {
      "description": "Represent the custom settings for the resources to be created.",
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1WorkloadResourceSettings",
      "properties": {
        "resourceType": {
          "enumDescriptions": [
            "Unknown resource type.",
            "Deprecated. Existing workloads will continue to support this, but new CreateWorkloadRequests should not specify this as an input value.",
            "Consumer Folder.",
            "Consumer project containing encryption keys.",
            "Keyring resource that hosts encryption keys."
          ],
          "type": "string",
          "description": "Indicates the type of resource. This field should be specified to correspond the id to the right project type (CONSUMER_PROJECT or ENCRYPTION_KEYS_PROJECT)",
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false
          ],
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "CONSUMER_PROJECT",
            "CONSUMER_FOLDER",
            "ENCRYPTION_KEYS_PROJECT",
            "KEYRING"
          ]
        },
        "displayName": {
          "type": "string",
          "description": "User-assigned resource display name. If not empty it will be used to create a resource with the specified name."
        },
        "resourceId": {
          "description": "Resource identifier. For a project this represents project_id. If the project is already taken, the workload creation will fail. For KeyRing, this represents the keyring_id. For a folder, don't set this value as folder_id is assigned by Google.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1OrgPolicy": {
      "id": "GoogleCloudAssuredworkloadsV1OrgPolicy",
      "properties": {
        "resource": {
          "description": "Resource that the OrgPolicy attaches to. Format: folders/123\" projects/123\".",
          "type": "string"
        },
        "rule": {
          "description": "The rule of the OrgPolicy.",
          "$ref": "GoogleCloudAssuredworkloadsV1OrgPolicyPolicyRule"
        },
        "inherit": {
          "description": "If `inherit` is true, policy rules of the lowest ancestor in the resource hierarchy chain are inherited. If it is false, policy rules are not inherited.",
          "type": "boolean"
        },
        "reset": {
          "description": "Ignores policies set above this resource and restores to the `constraint_default` value. `reset` can only be true when `rules` is empty and `inherit` is false.",
          "type": "boolean"
        },
        "constraint": {
          "description": "The constraint name of the OrgPolicy. e.g. \"constraints/gcp.resourceLocations\".",
          "type": "string"
        }
      },
      "description": "This assured workload service object is used to represent the org policy attached to a resource. It servces the same purpose as the orgpolicy.v2.Policy object but with functionality that is limited to what is supported by Assured Workloads(e.g. only one rule under one OrgPolicy object, no conditions, etc).",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1ViolationExceptionContext": {
      "type": "object",
      "description": "Violation exception detail.",
      "id": "GoogleCloudAssuredworkloadsV1ViolationExceptionContext",
      "properties": {
        "userName": {
          "description": "Name of the user (or service account) who acknowledged the violation.",
          "type": "string"
        },
        "acknowledgementTime": {
          "type": "string",
          "description": "Timestamp when the violation was acknowledged.",
          "format": "google-datetime"
        },
        "comment": {
          "description": "Business justification provided towards the acknowledgement of the violation.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1UpdateDetails": {
      "id": "GoogleCloudAssuredworkloadsV1UpdateDetails",
      "properties": {
        "orgPolicyUpdate": {
          "description": "Update to one org policy, e.g. gcp.resourceLocation.",
          "$ref": "GoogleCloudAssuredworkloadsV1OrgPolicyUpdate"
        }
      },
      "description": "The details of the update.",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1OrgPolicyUpdate": {
      "description": "Represents an update for an org policy control applied on an Assured Workload resource. The inherited org policy is not considered.",
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1OrgPolicyUpdate",
      "properties": {
        "appliedPolicy": {
          "description": "The org policy currently applied on the assured workload resource.",
          "$ref": "GoogleCloudAssuredworkloadsV1OrgPolicy"
        },
        "suggestedPolicy": {
          "description": "The suggested org policy that replaces the applied policy.",
          "$ref": "GoogleCloudAssuredworkloadsV1OrgPolicy"
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1WorkloadWorkloadOptions": {
      "description": "Options to be set for the given created workload.",
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1WorkloadWorkloadOptions",
      "properties": {
        "kajEnrollmentType": {
          "description": "Optional. Specifies type of KAJ Enrollment if provided.",
          "type": "string",
          "enum": [
            "KAJ_ENROLLMENT_TYPE_UNSPECIFIED",
            "KEY_ACCESS_TRANSPARENCY_OFF"
          ],
          "enumDescriptions": [
            "KAJ Enrollment type is unspecified",
            "KAT sets External, Hardware, and Software key feature logging only to TRUE."
          ]
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1ViolationRemediationInstructionsConsole": {
      "type": "object",
      "description": "Remediation instructions to resolve violation via cloud console",
      "id": "GoogleCloudAssuredworkloadsV1ViolationRemediationInstructionsConsole",
      "properties": {
        "consoleUris": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Link to console page where violations can be resolved"
        },
        "steps": {
          "description": "Steps to resolve violation via cloud console",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "additionalLinks": {
          "type": "array",
          "description": "Additional urls for more information about steps",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1MoveAnalysisResult": {
      "id": "GoogleCloudAssuredworkloadsV1MoveAnalysisResult",
      "properties": {
        "warnings": {
          "type": "array",
          "description": "List of warnings. These are risks that may or may not result in compliance violations.",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1MoveImpact"
          }
        },
        "blockers": {
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1MoveImpact"
          },
          "description": "List of blockers. If not resolved, these will result in compliance violations in the target.",
          "type": "array"
        }
      },
      "description": "Represents the successful move analysis results for a group.",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1Trend": {
      "type": "object",
      "description": "The trend of a compliance metric.",
      "id": "GoogleCloudAssuredworkloadsV1Trend",
      "properties": {
        "valuePercent": {
          "description": "Output only. The trend value as a percentage. The value can be positive or negative.",
          "type": "number",
          "readOnly": true,
          "format": "double"
        },
        "duration": {
          "description": "Output only. The duration for the trend.",
          "type": "string",
          "readOnly": true,
          "format": "google-duration"
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1Rule": {
      "description": "A rule in the cloud control.",
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1Rule",
      "properties": {
        "ruleActionTypes": {
          "type": "array",
          "description": "Required. The functionality that's enabled by the rule.",
          "items": {
            "type": "string",
            "enum": [
              "RULE_ACTION_TYPE_UNSPECIFIED",
              "RULE_ACTION_TYPE_PREVENTIVE",
              "RULE_ACTION_TYPE_DETECTIVE",
              "RULE_ACTION_TYPE_AUDIT"
            ],
            "enumDescriptions": [
              "Default value. This value is unused.",
              "The rule is intended to prevent non-compliance.",
              "The rule is intended to detect non-compliance.",
              "The rule is intended to audit non-compliance."
            ]
          }
        },
        "celExpression": {
          "description": "The rule's logic expression in Common Expression Language (CEL).",
          "$ref": "GoogleCloudAssuredworkloadsV1CELExpression"
        },
        "description": {
          "type": "string",
          "description": "Optional. The rule description. The maximum length is 2000 characters."
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1AssetMoveAnalysis": {
      "id": "GoogleCloudAssuredworkloadsV1AssetMoveAnalysis",
      "properties": {
        "assetType": {
          "description": "Type of the asset being analyzed. Possible values will be among the ones listed [here](https://cloud.google.com/asset-inventory/docs/supported-asset-types).",
          "type": "string"
        },
        "analysisGroups": {
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1MoveAnalysisGroup"
          },
          "type": "array",
          "description": "List of eligible analyses performed for the asset."
        },
        "asset": {
          "type": "string",
          "description": "The full resource name of the asset being analyzed. Example: //compute.googleapis.com/projects/my_project_123/zones/zone1/instances/instance1"
        }
      },
      "type": "object",
      "description": "Represents move analysis results for an asset."
    },
    "GoogleCloudAssuredworkloadsV1DbControlComplianceSummary": {
      "description": "The details for control compliance.",
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1DbControlComplianceSummary",
      "properties": {
        "totalFindingsCount": {
          "description": "The total number of findings for the control.",
          "type": "integer",
          "format": "int32"
        },
        "complianceFrameworks": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The list of compliance frameworks that the control belongs to."
        },
        "overallEvaluationState": {
          "readOnly": true,
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The control is passing.",
            "The control is failing.",
            "The control is not assessed."
          ],
          "type": "string",
          "description": "Output only. The overall evaluation status of the control.",
          "enum": [
            "EVALUATION_STATE_UNSPECIFIED",
            "EVALUATION_STATE_PASSED",
            "EVALUATION_STATE_FAILED",
            "EVALUATION_STATE_NOT_ASSESSED"
          ]
        },
        "similarControls": {
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1SimilarControls"
          },
          "description": "The list of similar controls.",
          "type": "array"
        },
        "isFakeControl": {
          "type": "boolean",
          "description": "Whether the control is a fake control. Fake controls are created and mapped to cloud controls that don't belong to a control group."
        },
        "displayName": {
          "description": "The display name of the control.",
          "type": "string"
        },
        "description": {
          "description": "The description of the control.",
          "type": "string"
        },
        "cloudControlReports": {
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1CloudControlReport"
          },
          "type": "array",
          "description": "The list of cloud control reports."
        },
        "controlResponsibilityType": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Google's responsibility.",
            "Your responsibility.",
            "Shared responsibility."
          ],
          "description": "The responsibility type for the control.",
          "type": "string",
          "enum": [
            "REGULATORY_CONTROL_RESPONSIBILITY_TYPE_UNSPECIFIED",
            "GOOGLE",
            "CUSTOMER",
            "SHARED"
          ]
        },
        "name": {
          "description": "Identifier. The name of the control compliance summary.",
          "type": "string"
        },
        "control": {
          "type": "string",
          "description": "The name of the control."
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1AcknowledgeViolationResponse": {
      "description": "Response for violation acknowledgement",
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1AcknowledgeViolationResponse",
      "properties": {}
    },
    "GoogleCloudAssuredworkloadsV1ViolationRemediation": {
      "id": "GoogleCloudAssuredworkloadsV1ViolationRemediation",
      "properties": {
        "compliantValues": {
          "type": "array",
          "description": "Values that can resolve the violation For example: for list org policy violations, this will either be the list of allowed or denied values",
          "items": {
            "type": "string"
          }
        },
        "instructions": {
          "description": "Required. Remediation instructions to resolve violations",
          "$ref": "GoogleCloudAssuredworkloadsV1ViolationRemediationInstructions"
        },
        "remediationType": {
          "enum": [
            "REMEDIATION_TYPE_UNSPECIFIED",
            "REMEDIATION_BOOLEAN_ORG_POLICY_VIOLATION",
            "REMEDIATION_LIST_ALLOWED_VALUES_ORG_POLICY_VIOLATION",
            "REMEDIATION_LIST_DENIED_VALUES_ORG_POLICY_VIOLATION",
            "REMEDIATION_RESTRICT_CMEK_CRYPTO_KEY_PROJECTS_ORG_POLICY_VIOLATION",
            "REMEDIATION_RESOURCE_VIOLATION",
            "REMEDIATION_RESOURCE_VIOLATION_NON_CMEK_SERVICES"
          ],
          "description": "Output only. Reemediation type based on the type of org policy values violated",
          "type": "string",
          "enumDescriptions": [
            "Unspecified remediation type",
            "Remediation type for boolean org policy",
            "Remediation type for list org policy which have allowed values in the monitoring rule",
            "Remediation type for list org policy which have denied values in the monitoring rule",
            "Remediation type for gcp.restrictCmekCryptoKeyProjects",
            "Remediation type for resource violation.",
            "Remediation type for resource violation due to gcp.restrictNonCmekServices"
          ],
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Represents remediation guidance to resolve compliance violation for AssuredWorkload"
    },
    "GoogleCloudAssuredworkloadsV1CloudControlAssessmentDetails": {
      "id": "GoogleCloudAssuredworkloadsV1CloudControlAssessmentDetails",
      "properties": {
        "findingsCount": {
          "format": "int32",
          "type": "integer",
          "description": "The number of findings for the cloud control."
        },
        "evaluationState": {
          "enum": [
            "EVALUATION_STATE_UNSPECIFIED",
            "EVALUATION_STATE_PASSED",
            "EVALUATION_STATE_FAILED",
            "EVALUATION_STATE_NOT_ASSESSED"
          ],
          "description": "Output only. The evaluation status of the cloud control.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The control is passing.",
            "The control is failing.",
            "The control is not assessed."
          ],
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "The cloud control assessment details for non-manual cloud controls.",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1Violation": {
      "id": "GoogleCloudAssuredworkloadsV1Violation",
      "properties": {
        "resolveTime": {
          "description": "Output only. Time of the event which fixed the Violation. If the violation is ACTIVE this will be empty.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Immutable. Name of the Violation. Format: organizations/{organization}/locations/{location}/workloads/{workload_id}/violations/{violations_id}"
        },
        "acknowledgementTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. Timestamp when this violation was acknowledged first. Check exception_contexts to find the last time the violation was acknowledged when there are more than one violations. This field will be absent when acknowledged field is marked as false."
        },
        "beginTime": {
          "description": "Output only. Time of the event which triggered the Violation.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "remediation": {
          "readOnly": true,
          "description": "Output only. Compliance violation remediation",
          "$ref": "GoogleCloudAssuredworkloadsV1ViolationRemediation"
        },
        "parentProjectNumber": {
          "type": "string",
          "description": "Optional. Output only. Parent project number where resource is present. Empty for org-policy violations.",
          "readOnly": true
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The last time when the Violation record was updated.",
          "type": "string"
        },
        "resourceType": {
          "readOnly": true,
          "type": "string",
          "description": "Optional. Output only. Type of the resource like compute.googleapis.com/Disk, etc. Empty for org-policy violations."
        },
        "description": {
          "readOnly": true,
          "description": "Output only. Description for the Violation. e.g. OrgPolicy gcp.resourceLocations has non compliant value.",
          "type": "string"
        },
        "violationType": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified type.",
            "Org Policy Violation.",
            "Resource Violation."
          ],
          "description": "Output only. Type of the violation",
          "enum": [
            "VIOLATION_TYPE_UNSPECIFIED",
            "ORG_POLICY",
            "RESOURCE"
          ]
        },
        "resourceName": {
          "description": "Optional. Output only. Name of the resource like //storage.googleapis.com/myprojectxyz-testbucket. Empty for org-policy violations.",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified state.",
            "Violation is resolved.",
            "Violation is Unresolved",
            "Violation is Exception"
          ],
          "description": "Output only. State of the violation",
          "enum": [
            "STATE_UNSPECIFIED",
            "RESOLVED",
            "UNRESOLVED",
            "EXCEPTION"
          ]
        },
        "orgPolicyConstraint": {
          "deprecated": true,
          "readOnly": true,
          "type": "string",
          "description": "Output only. Immutable. The org-policy-constraint that was incorrectly changed, which resulted in this violation."
        },
        "acknowledged": {
          "description": "A boolean that indicates if the violation is acknowledged",
          "type": "boolean"
        },
        "exceptionContexts": {
          "description": "Output only. List of all the exception detail added for the violation.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1ViolationExceptionContext"
          }
        },
        "associatedOrgPolicyViolationId": {
          "readOnly": true,
          "type": "string",
          "description": "Optional. Output only. Violation Id of the org-policy violation due to which the resource violation is caused. Empty for org-policy violations."
        },
        "category": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Category under which this violation is mapped. e.g. Location, Service Usage, Access, Encryption, etc."
        },
        "nonCompliantOrgPolicy": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Immutable. Name of the OrgPolicy which was modified with non-compliant change and resulted this violation. Format: projects/{project_number}/policies/{constraint_name} folders/{folder_id}/policies/{constraint_name} organizations/{organization_id}/policies/{constraint_name}"
        },
        "exceptionAuditLogLink": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Immutable. Audit Log link to find business justification provided for violation exception. Format: https://console.cloud.google.com/logs/query;query={logName}{protoPayload.resourceName}{protoPayload.methodName}{timeRange}{organization}"
        },
        "auditLogLink": {
          "readOnly": true,
          "description": "Output only. Immutable. Audit Log Link for violated resource Format: https://console.cloud.google.com/logs/query;query={logName}{protoPayload.resourceName}{timeRange}{folder}",
          "type": "string"
        }
      },
      "description": "Workload monitoring Violation.",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1SimilarControls": {
      "id": "GoogleCloudAssuredworkloadsV1SimilarControls",
      "properties": {
        "framework": {
          "type": "string",
          "description": "The name of the framework."
        },
        "controlId": {
          "description": "The ID of the control.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The similar controls."
    },
    "GoogleCloudAssuredworkloadsV1OrgPolicyPolicyRuleStringValues": {
      "id": "GoogleCloudAssuredworkloadsV1OrgPolicyPolicyRuleStringValues",
      "properties": {
        "allowedValues": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of values allowed at this resource."
        },
        "deniedValues": {
          "description": "List of values denied at this resource.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "The values allowed for a ListPolicy."
    },
    "GoogleCloudAssuredworkloadsV1OrgPolicyPolicyRule": {
      "description": "A rule used to express this policy.",
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1OrgPolicyPolicyRule",
      "properties": {
        "denyAll": {
          "type": "boolean",
          "description": "ListPolicy only when all values are denied."
        },
        "values": {
          "description": "ListPolicy only when custom values are specified.",
          "$ref": "GoogleCloudAssuredworkloadsV1OrgPolicyPolicyRuleStringValues"
        },
        "allowAll": {
          "type": "boolean",
          "description": "ListPolicy only when all values are allowed."
        },
        "enforce": {
          "description": "BooleanPolicy only.",
          "type": "boolean"
        }
      }
    },
    "GoogleRpcStatus": {
      "id": "GoogleRpcStatus",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1TargetResourceDetails": {
      "id": "GoogleCloudAssuredworkloadsV1TargetResourceDetails",
      "properties": {
        "minorRevisionId": {
          "description": "The minor revision ID of the framework for the target resource.",
          "type": "string",
          "format": "int64"
        },
        "updateTime": {
          "type": "string",
          "description": "The update time of the target resource.",
          "format": "google-datetime"
        },
        "targetResource": {
          "description": "The target resource. For example, `organizations/1234567890`, `projects/1234567890`, or `folders/1234567890`.",
          "type": "string"
        },
        "createTime": {
          "description": "The create time of the target resource.",
          "type": "string",
          "format": "google-datetime"
        },
        "majorRevisionId": {
          "format": "int64",
          "description": "The major revision ID of the framework for the target resource.",
          "type": "string"
        },
        "frameworkDeployment": {
          "description": "The framework deployment name for the target resource. For example, `organizations/{organization_id}/locations/{location}/frameworkDeployments/{framework_deployment_id}`",
          "type": "string"
        },
        "targetResourceDisplayName": {
          "description": "The display name of the target resource. For example, `google.com`, `staging-project`, or `development-folder`.",
          "type": "string"
        }
      },
      "description": "The details for a target resource.",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1MoveImpact": {
      "description": "Represents the impact of moving the asset to the target.",
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1MoveImpact",
      "properties": {
        "detail": {
          "description": "Explanation of the impact.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1ListWorkloadsResponse": {
      "description": "Response of ListWorkloads endpoint.",
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1ListWorkloadsResponse",
      "properties": {
        "workloads": {
          "type": "array",
          "description": "List of Workloads under a given parent.",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1Workload"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The next page token. Return empty if reached the last page."
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1BatchAcknowledgeViolationsRequest": {
      "type": "object",
      "description": "Request for acknowledging the violations in a batch",
      "id": "GoogleCloudAssuredworkloadsV1BatchAcknowledgeViolationsRequest",
      "properties": {
        "names": {
          "type": "array",
          "description": "Required. The resource names of the Violations to acknowledge. Format for each name: organizations/{organization}/locations/{location}/workloads/{workload}/violations/{violation}",
          "items": {
            "type": "string"
          }
        },
        "comment": {
          "type": "string",
          "description": "Required. Business justification explaining the need for violations acknowledgement"
        },
        "acknowledgeType": {
          "type": "string",
          "enum": [
            "ACKNOWLEDGE_TYPE_UNSPECIFIED",
            "SINGLE_VIOLATION",
            "EXISTING_CHILD_RESOURCE_VIOLATIONS"
          ],
          "description": "Optional. Acknowledge type of specified violations.",
          "enumDescriptions": [
            "Acknowledge type unspecified.",
            "Acknowledge only the specific violation.",
            "Acknowledge specified orgPolicy violation and also associated resource violations."
          ]
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1WorkloadComplianceStatus": {
      "description": "Represents the Compliance Status of this workload",
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1WorkloadComplianceStatus",
      "properties": {
        "acknowledgedViolationCount": {
          "type": "integer",
          "description": "Number of current orgPolicy violations which are acknowledged.",
          "format": "int32"
        },
        "activeResourceViolationCount": {
          "format": "int32",
          "description": "Number of current resource violations which are acknowledged.",
          "type": "integer"
        },
        "acknowledgedResourceViolationCount": {
          "description": "Number of current resource violations which are not acknowledged.",
          "type": "integer",
          "format": "int32"
        },
        "activeViolationCount": {
          "format": "int32",
          "description": "Number of current orgPolicy violations which are not acknowledged.",
          "type": "integer"
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1WorkloadPartnerPermissions": {
      "type": "object",
      "description": "Permissions granted to the AW Partner SA account for the customer workload",
      "id": "GoogleCloudAssuredworkloadsV1WorkloadPartnerPermissions",
      "properties": {
        "serviceAccessApprover": {
          "type": "boolean",
          "description": "Optional. Allow partner to view access approval logs."
        },
        "assuredWorkloadsMonitoring": {
          "description": "Optional. Allow partner to view violation alerts.",
          "type": "boolean"
        },
        "dataLogsViewer": {
          "type": "boolean",
          "description": "Optional. Allow the partner to view inspectability logs and monitoring violations."
        },
        "accessTransparencyLogsSupportCaseViewer": {
          "type": "boolean",
          "description": "Optional. Allow partner to view support case details for an AXT log"
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1AcknowledgeViolationRequest": {
      "type": "object",
      "description": "Request for acknowledging the violation",
      "id": "GoogleCloudAssuredworkloadsV1AcknowledgeViolationRequest",
      "properties": {
        "nonCompliantOrgPolicy": {
          "deprecated": true,
          "type": "string",
          "description": "Optional. This field is deprecated and will be removed in future version of the API. Name of the OrgPolicy which was modified with non-compliant change and resulted in this violation. Format: projects/{project_number}/policies/{constraint_name} folders/{folder_id}/policies/{constraint_name} organizations/{organization_id}/policies/{constraint_name}"
        },
        "comment": {
          "type": "string",
          "description": "Required. Business justification explaining the need for violation acknowledgement"
        },
        "acknowledgeType": {
          "description": "Optional. Acknowledge type of specified violation.",
          "type": "string",
          "enum": [
            "ACKNOWLEDGE_TYPE_UNSPECIFIED",
            "SINGLE_VIOLATION",
            "EXISTING_CHILD_RESOURCE_VIOLATIONS"
          ],
          "enumDescriptions": [
            "Acknowledge type unspecified.",
            "Acknowledge only the specific violation.",
            "Acknowledge specified orgPolicy violation and also associated resource violations."
          ]
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1EnableResourceMonitoringResponse": {
      "id": "GoogleCloudAssuredworkloadsV1EnableResourceMonitoringResponse",
      "properties": {},
      "description": "Response for EnableResourceMonitoring endpoint.",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1ManualCloudControlAssessmentDetails": {
      "id": "GoogleCloudAssuredworkloadsV1ManualCloudControlAssessmentDetails",
      "properties": {
        "manualCloudControlGuide": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The guide for assessing a cloud control manually."
        }
      },
      "type": "object",
      "description": "The details for a manual cloud control assessment."
    },
    "GoogleCloudAssuredworkloadsV1RevertArchivedResourceEventsRequest": {
      "description": "Request for reverting archived resource events.",
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1RevertArchivedResourceEventsRequest",
      "properties": {
        "organizationId": {
          "format": "int64",
          "type": "string",
          "description": "Required. The organization ID for which to revert events."
        },
        "maxEventsMove": {
          "description": "Required. The maximum total number of events to move in this request.",
          "type": "integer",
          "format": "int32"
        },
        "archiveStartTime": {
          "format": "google-datetime",
          "description": "Required. Only events within this time range will be reverted. This helps prevent reverting everything when something goes wrong.",
          "type": "string"
        },
        "archiveEndTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Required. Only events within this time range will be reverted. This helps prevent reverting everything when something goes wrong."
        },
        "region": {
          "type": "string",
          "description": "Required. The region of the workload(s) whose events should be reverted. This is used to filter workloads based on AssurantWorkloadData.region."
        },
        "batchSize": {
          "type": "integer",
          "description": "Required. The number of events to process in a single transaction batch.",
          "format": "int32"
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1ApplyWorkloadUpdateRequest": {
      "description": "Request to apply update to a workload.",
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1ApplyWorkloadUpdateRequest",
      "properties": {
        "action": {
          "enumDescriptions": [
            "Unspecified value.",
            "The update is applied."
          ],
          "type": "string",
          "enum": [
            "WORKLOAD_UPDATE_ACTION_UNSPECIFIED",
            "APPLY"
          ],
          "description": "The action to be performed on the update."
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1BatchAcknowledgeViolationsResponse": {
      "type": "object",
      "description": "Response for batch violation acknowledgement",
      "id": "GoogleCloudAssuredworkloadsV1BatchAcknowledgeViolationsResponse",
      "properties": {
        "acknowledgedViolationsCount": {
          "description": "Count of acknowledged violations.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
[...]
