{
  "documentationLink": "https://cloud.google.com/learnmoreurl",
  "mtlsRootUrl": "https://assuredworkloads.mtls.googleapis.com/",
  "parameters": {
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "description": "Data format for response.",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    }
  },
  "discoveryVersion": "v1",
  "resources": {
    "organizations": {
      "resources": {
        "locations": {
          "resources": {
            "operations": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/operations",
                  "path": "v1beta1/{+name}/operations",
                  "id": "assuredworkloads.organizations.locations.operations.list",
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  },
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "parameters": {
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "The standard list filter."
                    },
                    "name": {
                      "description": "The name of the operation's parent resource.",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true
                    },
                    "pageSize": {
                      "description": "The standard list page size.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "The standard list page token."
                    },
                    "returnPartialSuccess": {
                      "type": "boolean",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query"
                    }
                  }
                },
                "get": {
                  "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/operations/{operationsId}",
                  "path": "v1beta1/{+name}",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "The name of the operation resource.",
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "id": "assuredworkloads.organizations.locations.operations.get",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
                }
              }
            },
            "workloads": {
              "resources": {
                "violations": {
                  "methods": {
                    "get": {
                      "parameters": {
                        "name": {
                          "description": "Required. The resource name of the Violation to fetch (ie. Violation.name). Format: organizations/{organization}/locations/{location}/workloads/{workload}/violations/{violation}",
                          "location": "path",
                          "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+/violations/[^/]+$",
                          "type": "string",
                          "required": true
                        }
                      },
                      "id": "assuredworkloads.organizations.locations.workloads.violations.get",
                      "response": {
                        "$ref": "GoogleCloudAssuredworkloadsV1beta1Violation"
                      },
                      "description": "Retrieves Assured Workload Violation based on ID.",
                      "path": "v1beta1/{+name}",
                      "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}/violations/{violationsId}",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "list": {
                      "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}/violations",
                      "path": "v1beta1/{+parent}/violations",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "parent": {
                          "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$",
                          "type": "string",
                          "required": true,
                          "description": "Required. The Workload name. Format `organizations/{org_id}/locations/{location}/workloads/{workload}`.",
                          "location": "path"
                        },
                        "interval.startTime": {
                          "type": "string",
                          "description": "The start of the time window.",
                          "location": "query",
                          "format": "google-datetime"
                        },
                        "filter": {
                          "description": "Optional. A custom filter for filtering by the Violations properties.",
                          "location": "query",
                          "type": "string"
                        },
                        "orderBy": {
                          "location": "query",
                          "description": "Optional. Actionable sorting delegation.",
                          "type": "string"
                        },
                        "pageSize": {
                          "type": "integer",
                          "location": "query",
                          "format": "int32",
                          "description": "Optional. Page size."
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "Optional. Page token returned from previous request.",
                          "type": "string"
                        },
                        "interval.endTime": {
                          "type": "string",
                          "description": "The end of the time window.",
                          "location": "query",
                          "format": "google-datetime"
                        }
                      },
                      "id": "assuredworkloads.organizations.locations.workloads.violations.list",
                      "response": {
                        "$ref": "GoogleCloudAssuredworkloadsV1beta1ListViolationsResponse"
                      },
                      "description": "Lists the Violations in the AssuredWorkload Environment. Callers may also choose to read across multiple Workloads as per [AIP-159](https://google.aip.dev/159) by using '-' (the hyphen or dash character) as a wildcard character instead of workload-id in the parent. Format `organizations/{org_id}/locations/{location}/workloads/-`"
                    },
                    "batchAcknowledgeViolations": {
                      "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}/violations:batchAcknowledgeViolations",
                      "path": "v1beta1/{+parent}/violations:batchAcknowledgeViolations",
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "GoogleCloudAssuredworkloadsV1beta1BatchAcknowledgeViolationsRequest"
                      },
                      "parameters": {
                        "parent": {
                          "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$",
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "description": "Optional. The parent resource shared by all violations being acknowledged. Format: organizations/{organization}/locations/{location}/workloads/{workload}"
                        }
                      },
                      "id": "assuredworkloads.organizations.locations.workloads.violations.batchAcknowledgeViolations",
                      "response": {
                        "$ref": "GoogleCloudAssuredworkloadsV1beta1BatchAcknowledgeViolationsResponse"
                      },
                      "description": "Acknowledges multiple existing violations. By acknowledging violations, users acknowledge the existence of compliance violations in their workload and decide to ignore them due to a valid business justification. Acknowledgement is a permanent operation and it cannot be reverted. This is a batch version of AcknowledgeViolation."
                    },
                    "acknowledge": {
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}/violations/{violationsId}:acknowledge",
                      "path": "v1beta1/{+name}:acknowledge",
                      "id": "assuredworkloads.organizations.locations.workloads.violations.acknowledge",
                      "response": {
                        "$ref": "GoogleCloudAssuredworkloadsV1beta1AcknowledgeViolationResponse"
                      },
                      "description": "Acknowledges an existing violation. By acknowledging a violation, users acknowledge the existence of a compliance violation in their workload and decide to ignore it due to a valid business justification. Acknowledgement is a permanent operation and it cannot be reverted.",
                      "request": {
                        "$ref": "GoogleCloudAssuredworkloadsV1beta1AcknowledgeViolationRequest"
                      },
                      "parameters": {
                        "name": {
                          "location": "path",
                          "description": "Required. The resource name of the Violation to acknowledge. Format: organizations/{organization}/locations/{location}/workloads/{workload}/violations/{violation}",
                          "required": true,
                          "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+/violations/[^/]+$",
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "updates": {
                  "methods": {
                    "list": {
                      "id": "assuredworkloads.organizations.locations.workloads.updates.list",
                      "response": {
                        "$ref": "GoogleCloudAssuredworkloadsV1beta1ListWorkloadUpdatesResponse"
                      },
                      "description": "This endpoint lists all updates for the given workload.",
                      "parameters": {
                        "parent": {
                          "description": "Required. organizations/{org_id}/locations/{location_id}/workloads/{workload_id}",
                          "location": "path",
                          "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$",
                          "type": "string",
                          "required": true
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "Page size. The default value is 20 and the max allowed value is 100.",
                          "location": "query",
                          "format": "int32"
                        },
                        "pageToken": {
                          "description": "Page token returned from previous request.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}/updates",
                      "path": "v1beta1/{+parent}/updates"
                    },
                    "apply": {
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+/updates/[^/]+$",
                          "type": "string",
                          "description": "Required. The resource name of the update. Format: organizations/{org_id}/locations/{location_id}/workloads/{workload_id}/updates/{update_id}",
                          "location": "path"
                        }
                      },
                      "request": {
                        "$ref": "GoogleCloudAssuredworkloadsV1beta1ApplyWorkloadUpdateRequest"
                      },
                      "id": "assuredworkloads.organizations.locations.workloads.updates.apply",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "description": "This endpoint creates a new operation to apply the given update.",
                      "httpMethod": "POST",
                      "path": "v1beta1/{+name}:apply",
                      "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}/updates/{updatesId}:apply",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                }
              },
              "methods": {
                "enableComplianceUpdates": {
                  "id": "assuredworkloads.organizations.locations.workloads.enableComplianceUpdates",
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1beta1EnableComplianceUpdatesResponse"
                  },
                  "description": "This endpoint enables Assured Workloads service to offer compliance updates for the folder based assured workload. It sets up an Assured Workloads Service Agent, having permissions to read compliance controls (for example: Org Policies) applied on the workload. The caller must have `resourcemanager.folders.getIamPolicy` and `resourcemanager.folders.setIamPolicy` permissions on the assured workload folder.",
                  "parameters": {
                    "name": {
                      "description": "Required. The `name` field is used to identify the workload. Format: organizations/{org_id}/locations/{location_id}/workloads/{workload_id}",
                      "location": "path",
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "PUT",
                  "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}:enableComplianceUpdates",
                  "path": "v1beta1/{+name}:enableComplianceUpdates"
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/workloads",
                  "path": "v1beta1/{+parent}/workloads",
                  "httpMethod": "POST",
                  "id": "assuredworkloads.organizations.locations.workloads.create",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "description": "Creates Assured Workload.",
                  "request": {
                    "$ref": "GoogleCloudAssuredworkloadsV1beta1Workload"
                  },
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. The resource name of the new Workload's parent. Must be of the form `organizations/{org_id}/locations/{location_id}`.",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true
                    },
                    "externalId": {
                      "description": "Optional. A identifier associated with the workload and underlying projects which allows for the break down of billing costs for a workload. The value provided for the identifier will add a label to the workload and contained projects with the identifier as the value.",
                      "location": "query",
                      "type": "string"
                    }
                  }
                },
                "enableResourceMonitoring": {
                  "parameters": {
                    "name": {
                      "description": "Required. The `name` field is used to identify the workload. Format: organizations/{org_id}/locations/{location_id}/workloads/{workload_id}",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "id": "assuredworkloads.organizations.locations.workloads.enableResourceMonitoring",
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1beta1EnableResourceMonitoringResponse"
                  },
                  "description": "Enable resource violation monitoring for a workload.",
                  "path": "v1beta1/{+name}:enableResourceMonitoring",
                  "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}:enableResourceMonitoring",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                },
                "analyzeWorkloadMove": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "target"
                  ],
                  "path": "v1beta1/{+target}:analyzeWorkloadMove",
                  "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}:analyzeWorkloadMove",
                  "httpMethod": "GET",
                  "id": "assuredworkloads.organizations.locations.workloads.analyzeWorkloadMove",
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1beta1AnalyzeWorkloadMoveResponse"
                  },
                  "description": "Analyzes a hypothetical move of a source resource to a target workload to surface compliance risks. The analysis is best effort and is not guaranteed to be exhaustive.",
                  "parameters": {
                    "target": {
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. The resource ID of the folder-based destination workload. This workload is where the source resource will hypothetically be moved to. Specify the workload's relative resource name, formatted as: \"organizations/{ORGANIZATION_ID}/locations/{LOCATION_ID}/workloads/{WORKLOAD_ID}\" For example: \"organizations/123/locations/us-east1/workloads/assured-workload-2\""
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "Optional. Page size. If a value is not specified, the default value of 10 is used. The maximum value is 50.",
                      "type": "integer"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. The page token from the previous response. It needs to be passed in the second and following requests.",
                      "type": "string"
                    },
                    "project": {
                      "type": "string",
                      "location": "query",
                      "description": "The source type is a project. Specify the project's relative resource name, formatted as either a project number or a project ID: \"projects/{PROJECT_NUMBER}\" or \"projects/{PROJECT_ID}\" For example: \"projects/951040570662\" when specifying a project number, or \"projects/my-project-123\" when specifying a project ID."
                    },
                    "assetTypes": {
                      "type": "string",
                      "description": "Optional. List of asset types to be analyzed, including and under the source resource. If empty, all assets are analyzed. The complete list of asset types is available [here](https://cloud.google.com/asset-inventory/docs/supported-asset-types).",
                      "repeated": true,
                      "location": "query"
                    }
                  }
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta1/{+name}",
                  "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}",
                  "httpMethod": "DELETE",
                  "id": "assuredworkloads.organizations.locations.workloads.delete",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "description": "Deletes the workload. Make sure that workload's direct children are already in a deleted state, otherwise the request will fail with a FAILED_PRECONDITION error. In addition to assuredworkloads.workload.delete permission, the user should also have orgpolicy.policy.set permission on the deleted folder to remove Assured Workloads OrgPolicies.",
                  "parameters": {
                    "etag": {
                      "description": "Optional. The etag of the workload. If this is provided, it must match the server's etag.",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "location": "path",
                      "description": "Required. The `name` field is used to identify the workload. Format: organizations/{org_id}/locations/{location_id}/workloads/{workload_id}",
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$",
                      "type": "string"
                    }
                  }
                },
                "restrictAllowedResources": {
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. The resource name of the Workload. This is the workloads's relative path in the API, formatted as \"organizations/{organization_id}/locations/{location_id}/workloads/{workload_id}\". For example, \"organizations/123/locations/us-east1/workloads/assured-workload-1\".",
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudAssuredworkloadsV1beta1RestrictAllowedResourcesRequest"
                  },
                  "id": "assuredworkloads.organizations.locations.workloads.restrictAllowedResources",
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1beta1RestrictAllowedResourcesResponse"
                  },
                  "description": "Restrict the list of resources allowed in the Workload environment. The current list of allowed products can be found at https://cloud.google.com/assured-workloads/docs/supported-products In addition to assuredworkloads.workload.update permission, the user should also have orgpolicy.policy.set permission on the folder resource to use this functionality.",
                  "httpMethod": "POST",
                  "path": "v1beta1/{+name}:restrictAllowedResources",
                  "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}:restrictAllowedResources",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "parameters": {
                    "parent": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Required. Parent Resource to list workloads from. Must be of the form `organizations/{org_id}/locations/{location}`."
                    },
                    "pageSize": {
                      "description": "Page size.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Page token returned from previous request. Page token contains context from previous request. Page token needs to be passed in the second and following requests."
                    },
                    "filter": {
                      "description": "A custom filter for filtering by properties of a workload. At this time, only filtering by labels is supported.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "id": "assuredworkloads.organizations.locations.workloads.list",
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1beta1ListWorkloadsResponse"
                  },
                  "description": "Lists Assured Workloads under a CRM Node.",
                  "httpMethod": "GET",
                  "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/workloads",
                  "path": "v1beta1/{+parent}/workloads",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "patch": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}",
                  "path": "v1beta1/{+name}",
                  "httpMethod": "PATCH",
                  "id": "assuredworkloads.organizations.locations.workloads.patch",
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1beta1Workload"
                  },
                  "description": "Updates an existing workload. Currently allows updating of workload display_name and labels. For force updates don't set etag field in the Workload. Only one update operation per workload can be in progress.",
                  "request": {
                    "$ref": "GoogleCloudAssuredworkloadsV1beta1Workload"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$",
                      "type": "string",
                      "description": "Optional. The resource name of the workload. Format: organizations/{organization}/locations/{location}/workloads/{workload} Read-only.",
                      "location": "path"
                    },
                    "updateMask": {
                      "description": "Required. The list of fields to be updated.",
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string"
                    }
                  }
                },
                "get": {
                  "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}",
                  "path": "v1beta1/{+name}",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Required. The resource name of the Workload to fetch. This is the workloads's relative path in the API, formatted as \"organizations/{organization_id}/locations/{location_id}/workloads/{workload_id}\". For example, \"organizations/123/locations/us-east1/workloads/assured-workload-1\"."
                    }
                  },
                  "id": "assuredworkloads.organizations.locations.workloads.get",
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1beta1Workload"
                  },
                  "description": "Gets Assured Workload associated with a CRM Node"
                }
              }
            },
            "violations": {
              "methods": {
                "batchAcknowledgeViolations": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/violations:batchAcknowledgeViolations",
                  "path": "v1beta1/{+parent}/violations:batchAcknowledgeViolations",
                  "httpMethod": "POST",
                  "id": "assuredworkloads.organizations.locations.violations.batchAcknowledgeViolations",
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1beta1BatchAcknowledgeViolationsResponse"
                  },
                  "description": "Acknowledges multiple existing violations. By acknowledging violations, users acknowledge the existence of compliance violations in their workload and decide to ignore them due to a valid business justification. Acknowledgement is a permanent operation and it cannot be reverted. This is a batch version of AcknowledgeViolation.",
                  "request": {
                    "$ref": "GoogleCloudAssuredworkloadsV1beta1BatchAcknowledgeViolationsRequest"
                  },
                  "parameters": {
                    "parent": {
                      "description": "Optional. The parent resource shared by all violations being acknowledged. Format: organizations/{organization}/locations/{location}/workloads/{workload}",
                      "location": "path",
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "violations": {
          "methods": {
            "batchAcknowledgeViolations": {
              "flatPath": "v1beta1/organizations/{organizationsId}/violations:batchAcknowledgeViolations",
              "path": "v1beta1/{+parent}/violations:batchAcknowledgeViolations",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GoogleCloudAssuredworkloadsV1beta1BatchAcknowledgeViolationsRequest"
              },
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^organizations/[^/]+$",
                  "type": "string",
                  "description": "Optional. The parent resource shared by all violations being acknowledged. Format: organizations/{organization}/locations/{location}/workloads/{workload}",
                  "location": "path"
                }
              },
              "id": "assuredworkloads.organizations.violations.batchAcknowledgeViolations",
              "response": {
                "$ref": "GoogleCloudAssuredworkloadsV1beta1BatchAcknowledgeViolationsResponse"
              },
              "description": "Acknowledges multiple existing violations. By acknowledging violations, users acknowledge the existence of compliance violations in their workload and decide to ignore them due to a valid business justification. Acknowledgement is a permanent operation and it cannot be reverted. This is a batch version of AcknowledgeViolation."
            }
          }
        }
      }
    },
    "assuredworkloads": {
      "methods": {
        "archiveResourceEvents": {
          "id": "assuredworkloads.assuredworkloads.archiveResourceEvents",
          "response": {
            "$ref": "GoogleCloudAssuredworkloadsV1beta1ArchiveResourceEventsResponse"
          },
          "description": "Finds orphan ResourceEvents matching the criteria and moves them to the ArchivedResourceEvents table.",
          "request": {
            "$ref": "GoogleCloudAssuredworkloadsV1beta1ArchiveResourceEventsRequest"
          },
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [],
          "flatPath": "v1beta1/assuredworkloads:archiveResourceEvents",
          "path": "v1beta1/assuredworkloads:archiveResourceEvents",
          "httpMethod": "POST"
        },
        "revertArchivedResourceEvents": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [],
          "path": "v1beta1/assuredworkloads:revertArchivedResourceEvents",
          "flatPath": "v1beta1/assuredworkloads:revertArchivedResourceEvents",
          "httpMethod": "POST",
          "id": "assuredworkloads.assuredworkloads.revertArchivedResourceEvents",
          "response": {
            "$ref": "GoogleCloudAssuredworkloadsV1beta1RevertArchivedResourceEventsResponse"
          },
          "description": "Finds matching ArchivedResourceEvents and moves them back to the ResourceEvents table.",
          "parameters": {},
          "request": {
            "$ref": "GoogleCloudAssuredworkloadsV1beta1RevertArchivedResourceEventsRequest"
          }
        }
      }
    }
  },
  "name": "assuredworkloads",
  "kind": "discovery#restDescription",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "fullyEncodeReservedExpansion": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "title": "Assured Workloads API",
  "ownerName": "Google",
  "servicePath": "",
  "ownerDomain": "google.com",
  "id": "assuredworkloads:v1beta1",
  "description": "",
  "revision": "20260615",
  "version": "v1beta1",
  "protocol": "rest",
  "version_module": true,
  "basePath": "",
  "rootUrl": "https://assuredworkloads.googleapis.com/",
  "schemas": {
    "GoogleCloudAssuredworkloadsV1beta1MoveAnalysisResult": {
      "type": "object",
      "properties": {
        "warnings": {
          "description": "List of warnings. These are risks that may or may not result in compliance violations.",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1beta1MoveImpact"
          },
          "type": "array"
        },
        "blockers": {
          "type": "array",
          "description": "List of blockers. If not resolved, these will result in compliance violations in the target.",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1beta1MoveImpact"
          }
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1beta1MoveAnalysisResult",
      "description": "Represents the successful move analysis results for a group."
    },
    "GoogleCloudAssuredworkloadsV1beta1WorkloadKMSSettings": {
      "type": "object",
      "deprecated": true,
      "properties": {
        "rotationPeriod": {
          "type": "string",
          "description": "Required. Input only. Immutable. [next_rotation_time] will be advanced by this period when the Key Management Service automatically rotates a key. Must be at least 24 hours and at most 876,000 hours.",
          "format": "google-duration"
        },
        "nextRotationTime": {
          "description": "Required. Input only. Immutable. The time at which the Key Management Service will automatically create a new version of the crypto key and mark it as the primary.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1beta1WorkloadKMSSettings",
      "description": "Settings specific to the Key Management Service."
    },
    "GoogleCloudAssuredworkloadsV1beta1WorkloadResourceInfo": {
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1beta1WorkloadResourceInfo",
      "description": "Represent the resources that are children of this Workload.",
      "properties": {
        "resourceType": {
          "type": "string",
          "enumDescriptions": [
            "Unknown resource type.",
            "Deprecated. Existing workloads will continue to support this, but new CreateWorkloadRequests should not specify this as an input value.",
            "Consumer Folder.",
            "Consumer project containing encryption keys.",
            "Keyring resource that hosts encryption keys."
          ],
          "description": "Indicates the type of resource.",
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false
          ],
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "CONSUMER_PROJECT",
            "CONSUMER_FOLDER",
            "ENCRYPTION_KEYS_PROJECT",
            "KEYRING"
          ]
        },
        "resourceId": {
          "format": "int64",
          "description": "Output only. Resource identifier. For a project this represents project_number.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1beta1ListWorkloadsResponse": {
      "type": "object",
      "properties": {
        "workloads": {
          "type": "array",
          "description": "List of Workloads under a given parent.",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1beta1Workload"
          }
        },
        "nextPageToken": {
          "description": "The next page token. Return empty if reached the last page.",
          "type": "string"
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1beta1ListWorkloadsResponse",
      "description": "Response of ListWorkloads endpoint."
    },
    "GoogleCloudAssuredworkloadsV1beta1ApplyWorkloadUpdateRequest": {
      "id": "GoogleCloudAssuredworkloadsV1beta1ApplyWorkloadUpdateRequest",
      "description": "Request to apply update to a workload.",
      "properties": {
        "action": {
          "enum": [
            "WORKLOAD_UPDATE_ACTION_UNSPECIFIED",
            "APPLY"
          ],
          "description": "The action to be performed on the update.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified value.",
            "The update is applied."
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1beta1WorkloadResourceSettings": {
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1beta1WorkloadResourceSettings",
      "description": "Represent the custom settings for the resources to be created.",
      "properties": {
        "displayName": {
          "description": "User-assigned resource display name. If not empty it will be used to create a resource with the specified name.",
          "type": "string"
        },
        "resourceType": {
          "enumDescriptions": [
            "Unknown resource type.",
            "Deprecated. Existing workloads will continue to support this, but new CreateWorkloadRequests should not specify this as an input value.",
            "Consumer Folder.",
            "Consumer project containing encryption keys.",
            "Keyring resource that hosts encryption keys."
          ],
          "description": "Indicates the type of resource. This field should be specified to correspond the id to the right project type (CONSUMER_PROJECT or ENCRYPTION_KEYS_PROJECT)",
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false
          ],
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "CONSUMER_PROJECT",
            "CONSUMER_FOLDER",
            "ENCRYPTION_KEYS_PROJECT",
            "KEYRING"
          ],
          "type": "string"
        },
        "resourceId": {
          "description": "Resource identifier. For a project this represents project_id. If the project is already taken, the workload creation will fail. For KeyRing, this represents the keyring_id. For a folder, don't set this value as folder_id is assigned by Google.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1beta1WorkloadEkmProvisioningResponse": {
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1beta1WorkloadEkmProvisioningResponse",
      "description": "External key management systems(EKM) Provisioning response",
      "properties": {
        "ekmProvisioningState": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "EKM_PROVISIONING_STATE_UNSPECIFIED",
            "EKM_PROVISIONING_STATE_PENDING",
            "EKM_PROVISIONING_STATE_FAILED",
            "EKM_PROVISIONING_STATE_COMPLETED"
          ],
          "description": "Output only. Indicates Ekm enrollment Provisioning of a given workload.",
          "enumDescriptions": [
            "Default State for Ekm Provisioning",
            "Pending State for Ekm Provisioning",
            "Failed State for Ekm Provisioning",
            "Completed State for Ekm Provisioning"
          ]
        },
        "ekmProvisioningErrorDomain": {
          "enum": [
            "EKM_PROVISIONING_ERROR_DOMAIN_UNSPECIFIED",
            "UNSPECIFIED_ERROR",
            "GOOGLE_SERVER_ERROR",
            "EXTERNAL_USER_ERROR",
            "EXTERNAL_PARTNER_ERROR",
            "TIMEOUT_ERROR"
          ],
          "description": "Indicates Ekm provisioning error if any.",
          "type": "string",
          "enumDescriptions": [
            "No error domain",
            "Error but domain is unspecified.",
            "Internal logic breaks within provisioning code.",
            "Error occurred with the customer not granting permission/creating resource.",
            "Error occurred within the partner's provisioning cluster.",
            "Resource wasn't provisioned in the required 7 day time period"
          ]
        },
        "ekmProvisioningErrorMapping": {
          "enum": [
            "EKM_PROVISIONING_ERROR_MAPPING_UNSPECIFIED",
            "INVALID_SERVICE_ACCOUNT",
            "MISSING_METRICS_SCOPE_ADMIN_PERMISSION",
            "MISSING_EKM_CONNECTION_ADMIN_PERMISSION"
          ],
          "description": "Detailed error message if Ekm provisioning fails",
          "type": "string",
          "enumDescriptions": [
            "Error is unspecified.",
            "Service account is used is invalid.",
            "Iam permission monitoring.MetricsScopeAdmin wasn't applied.",
            "Iam permission cloudkms.ekmConnectionsAdmin wasn't applied."
          ]
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1beta1WorkloadFedrampHighSettings": {
      "type": "object",
      "properties": {
        "kmsSettings": {
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadKMSSettings",
          "description": "Input only. Immutable. Settings used to create a CMEK crypto key."
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1beta1WorkloadFedrampHighSettings",
      "description": "Settings specific to resources needed for FedRAMP High.",
      "deprecated": true
    },
    "GoogleCloudAssuredworkloadsV1beta1AssetMoveAnalysis": {
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1beta1AssetMoveAnalysis",
      "description": "Represents move analysis results for an asset.",
      "properties": {
        "asset": {
          "description": "The full resource name of the asset being analyzed. Example: //compute.googleapis.com/projects/my_project_123/zones/zone1/instances/instance1",
          "type": "string"
        },
        "analysisGroups": {
          "type": "array",
          "description": "List of eligible analyses performed for the asset.",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1beta1MoveAnalysisGroup"
          }
        },
        "assetType": {
          "description": "Type of the asset being analyzed. Possible values will be among the ones listed [here](https://cloud.google.com/asset-inventory/docs/supported-asset-types).",
          "type": "string"
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1beta1ApplyWorkloadUpdateResponse": {
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1beta1ApplyWorkloadUpdateResponse",
      "description": "Response for ApplyWorkloadUpdate endpoint.",
      "properties": {
        "appliedUpdate": {
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadUpdate",
          "description": "The update that was applied."
        }
      }
    },
    "GoogleRpcStatus": {
      "type": "object",
      "properties": {
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "id": "GoogleRpcStatus",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "GoogleCloudAssuredworkloadsV1beta1WorkloadUpdate": {
      "type": "object",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "The time the update was created.",
          "type": "string"
        },
        "details": {
          "description": "The details of the update.",
          "$ref": "GoogleCloudAssuredworkloadsV1beta1UpdateDetails"
        },
        "name": {
          "description": "Output only. Immutable. Identifier. Resource name of the WorkloadUpdate. Format: organizations/{organization}/locations/{location}/workloads/{workload}/updates/{update}",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "AVAILABLE",
            "APPLIED",
            "WITHDRAWN"
          ],
          "description": "Output only. The state of the update.",
          "enumDescriptions": [
            "Unspecified.",
            "The update is available to be applied.",
            "The update has been applied.",
            "The update has been withdrawn by the service."
          ]
        },
        "updateTime": {
          "type": "string",
          "description": "The time the update was last updated.",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1beta1WorkloadUpdate",
      "description": "A workload update is a change to the workload's compliance configuration."
    },
    "GoogleCloudAssuredworkloadsV1beta1OrgPolicy": {
      "type": "object",
      "properties": {
        "resource": {
          "description": "Resource that the OrgPolicy attaches to. Format: folders/123\" projects/123\".",
          "type": "string"
        },
        "rule": {
          "description": "The rule of the OrgPolicy.",
          "$ref": "GoogleCloudAssuredworkloadsV1beta1OrgPolicyPolicyRule"
        },
        "reset": {
          "description": "Ignores policies set above this resource and restores to the `constraint_default` value. `reset` can only be true when `rules` is empty and `inherit` is false.",
          "type": "boolean"
        },
        "constraint": {
          "description": "The constraint name of the OrgPolicy. e.g. \"constraints/gcp.resourceLocations\".",
          "type": "string"
        },
        "inherit": {
          "description": "If `inherit` is true, policy rules of the lowest ancestor in the resource hierarchy chain are inherited. If it is false, policy rules are not inherited.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1beta1OrgPolicy",
      "description": "This assured workload service object is used to represent the org policy attached to a resource. It servces the same purpose as the orgpolicy.v2.Policy object but with functionality that is limited to what is supported by Assured Workloads(e.g. only one rule under one OrgPolicy object, no conditions, etc)."
    },
    "GoogleCloudAssuredworkloadsV1beta1RestrictAllowedResourcesResponse": {
      "id": "GoogleCloudAssuredworkloadsV1beta1RestrictAllowedResourcesResponse",
      "description": "Response for restricting the list of allowed resources.",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1beta1Workload": {
      "id": "GoogleCloudAssuredworkloadsV1beta1Workload",
      "description": "A Workload object for managing highly regulated workloads of cloud customers.",
      "properties": {
        "partner": {
          "type": "string",
          "enumDescriptions": [
            "",
            "Enum representing S3NS (Thales) partner.",
            "Enum representing T_SYSTEM (TSI) partner.",
            "Enum representing SIA_MINSAIT (Indra) partner.",
            "Enum representing PSN (TIM) partner.",
            "Enum representing CNTXT (Kingdom of Saudi Arabia) partner.",
            "Enum representing CNTXT (Kingdom of Saudi Arabia) partner offering without EKM.",
            "Enum representing Telefonica (Spain) partner."
          ],
          "enum": [
            "PARTNER_UNSPECIFIED",
            "LOCAL_CONTROLS_BY_S3NS",
            "SOVEREIGN_CONTROLS_BY_T_SYSTEMS",
            "SOVEREIGN_CONTROLS_BY_SIA_MINSAIT",
            "SOVEREIGN_CONTROLS_BY_PSN",
            "SOVEREIGN_CONTROLS_BY_CNTXT",
            "SOVEREIGN_CONTROLS_BY_CNTXT_NO_EKM",
            "SPAIN_DATA_BOUNDARY_BY_TELEFONICA"
          ],
          "description": "Optional. Partner regime associated with this workload."
        },
        "billingAccount": {
          "description": "Optional. The billing account used for the resources which are direct children of workload. This billing account is initially associated with the resources created as part of Workload creation. After the initial creation of these resources, the customer can change the assigned billing account. The resource name has the form `billingAccounts/{billing_account_id}`. For example, `billingAccounts/012345-567890-ABCDEF`.",
          "type": "string"
        },
        "availableUpdates": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. The number of updates available for the workload."
        },
        "kmsSettings": {
          "description": "Input only. Settings used to create a CMEK crypto key. When set, a project with a KMS CMEK key is provisioned. This field is deprecated as of Feb 28, 2022. In order to create a Keyring, callers should specify, ENCRYPTION_KEYS_PROJECT or KEYRING in ResourceSettings.resource_type field.",
          "deprecated": true,
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadKMSSettings"
        },
        "resourceMonitoringEnabled": {
          "description": "Output only. Indicates whether resource monitoring is enabled for workload or not. It is true when Resource feed is subscribed to AWM topic and AWM Service Agent Role is binded to AW Service Account for resource Assured workload.",
          "readOnly": true,
          "type": "boolean"
        },
        "cjisSettings": {
          "deprecated": true,
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadCJISSettings",
          "description": "Input only. Immutable. Settings specific to resources needed for CJIS."
        },
        "complianceUpdatesEnabled": {
          "description": "Output only. Indicates whether the compliance updates feature is enabled for a workload. The compliance updates feature can be enabled via the EnableComplianceUpdates endpoint.",
          "readOnly": true,
          "type": "boolean"
        },
        "fedrampHighSettings": {
          "description": "Input only. Immutable. Settings specific to resources needed for FedRAMP High.",
          "deprecated": true,
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadFedrampHighSettings"
        },
        "workloadOptions": {
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadWorkloadOptions",
          "description": "Optional. Options to be set for the given created workload."
        },
        "compliantButDisallowedServices": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Urls for services which are compliant for this Assured Workload, but which are currently disallowed by the ResourceUsageRestriction org policy. Invoke RestrictAllowedResources endpoint to allow your project developers to use these services in their environment.",
          "items": {
            "type": "string"
          }
        },
        "violationNotificationsEnabled": {
          "description": "Optional. Indicates whether the e-mail notification for a violation is enabled for a workload. This value will be by default True, and if not present will be considered as true. This should only be updated via updateWorkload call. Any Changes to this field during the createWorkload call will not be honored. This will always be true while creating the workload.",
          "type": "boolean"
        },
        "name": {
          "description": "Optional. The resource name of the workload. Format: organizations/{organization}/locations/{location}/workloads/{workload} Read-only.",
          "type": "string"
        },
        "resources": {
          "description": "Output only. The resources associated with this workload. These resources will be created when creating the workload. If any of the projects already exist, the workload creation will fail. Always read only.",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadResourceInfo"
          },
          "readOnly": true,
          "type": "array"
        },
        "il4Settings": {
          "description": "Input only. Immutable. Settings specific to resources needed for IL4.",
          "deprecated": true,
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadIL4Settings"
        },
        "resourceSettings": {
          "type": "array",
          "description": "Input only. Resource properties that are used to customize workload resources. These properties (such as custom project id) will be used to create workload resources if possible. This field is optional.",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadResourceSettings"
          }
        },
        "etag": {
          "description": "Optional. ETag of the workload, it is calculated on the basis of the Workload contents. It will be used in Update & Delete operations.",
          "type": "string"
        },
        "kajEnrollmentState": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default State for KAJ Enrollment.",
            "Pending State for KAJ Enrollment.",
            "Complete State for KAJ Enrollment."
          ],
          "enum": [
            "KAJ_ENROLLMENT_STATE_UNSPECIFIED",
            "KAJ_ENROLLMENT_STATE_PENDING",
            "KAJ_ENROLLMENT_STATE_COMPLETE"
          ],
          "description": "Output only. Represents the KAJ enrollment state of the given workload."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Immutable. The Workload creation timestamp."
        },
        "partnerServicesBillingAccount": {
          "description": "Optional. Billing account necessary for purchasing services from Sovereign Partners. This field is required for creating SIA/PSN/CNTXT/Telefonica partner workloads. The caller should have 'billing.resourceAssociations.create' IAM permission on this billing-account. The format of this string is billingAccounts/AAAAAA-BBBBBB-CCCCCC",
          "type": "string"
        },
        "complianceRegime": {
          "type": "string",
          "description": "Required. Immutable. Compliance Regime associated with this workload.",
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "enum": [
            "COMPLIANCE_REGIME_UNSPECIFIED",
            "ASSURED_WORKLOADS_FOR_PARTNERS",
            "AUSTRALIA_DATA_BOUNDARY_AND_SUPPORT",
            "CANADA_DATA_BOUNDARY_AND_SUPPORT",
            "DATA_BOUNDARY_FOR_CANADA_CONTROLLED_GOODS",
            "DATA_BOUNDARY_FOR_CANADA_PROTECTED_B",
            "DATA_BOUNDARY_FOR_CJIS",
            "DATA_BOUNDARY_FOR_FEDRAMP_HIGH",
            "DATA_BOUNDARY_FOR_FEDRAMP_MODERATE",
            "DATA_BOUNDARY_FOR_IL2",
            "DATA_BOUNDARY_FOR_IL4",
            "DATA_BOUNDARY_FOR_IL5",
            "DATA_BOUNDARY_FOR_IRS_PUBLICATION_1075",
            "DATA_BOUNDARY_FOR_ITAR",
            "EU_DATA_BOUNDARY_AND_SUPPORT",
            "ISRAEL_DATA_BOUNDARY_AND_SUPPORT",
            "JAPAN_DATA_BOUNDARY",
            "SWITZERLAND_DATA_BOUNDARY_WITH_ACCESS_JUSTIFICATIONS",
            "KSA_DATA_BOUNDARY_WITH_ACCESS_JUSTIFICATIONS",
            "REGIONAL_DATA_BOUNDARY",
            "US_DATA_BOUNDARY_AND_SUPPORT",
            "US_DATA_BOUNDARY_FOR_HEALTHCARE_AND_LIFE_SCIENCES",
            "US_DATA_BOUNDARY_FOR_HEALTHCARE_AND_LIFE_SCIENCES_WITH_SUPPORT",
            "AU_REGIONS_AND_US_SUPPORT",
            "CA_PROTECTED_B",
            "CA_REGIONS_AND_SUPPORT",
            "CANADA_CONTROLLED_GOODS",
            "CJIS",
            "EU_REGIONS_AND_SUPPORT",
            "FEDRAMP_HIGH",
            "FEDRAMP_MODERATE",
            "HEALTHCARE_AND_LIFE_SCIENCES_CONTROLS",
            "HEALTHCARE_AND_LIFE_SCIENCES_CONTROLS_US_SUPPORT",
            "HIPAA",
            "HITRUST",
            "IL2",
            "IL4",
            "IL5",
            "IRS_1075",
            "ISR_REGIONS",
            "ISR_REGIONS_AND_SUPPORT",
            "ITAR",
            "JP_REGIONS_AND_SUPPORT",
            "KSA_REGIONS_AND_SUPPORT_WITH_SOVEREIGNTY_CONTROLS",
            "REGIONAL_CONTROLS",
            "US_REGIONAL_ACCESS"
          ],
          "enumDescriptions": [
            "The default value. This value is used if the control package is omitted or unknown.",
            "Specifies a [Sovereign Controls by Partners](https://cloud.google.com/sovereign-controls-by-partners/docs/overview) control package. To use this control package, you must also specify the partner field from the list of Sovereign Controls by Partners.",
            "Australia Data Boundary and Support",
            "Canada Data Boundary and Support",
            "Data Boundary for Canada Controlled Goods",
            "Data Boundary for Canada Protected B",
            "Data Boundary for Criminal Justice Information Systems (CJIS)",
            "Data Boundary for FedRAMP High",
            "Data Boundary for FedRAMP Moderate",
            "Data Boundary for Impact Level 2 (IL2)",
            "Data Boundary for Impact Level 4 (IL4)",
            "Data Boundary for Impact Level 5 (IL5)",
            "Data Boundary for IRS Publication 1075",
            "Data Boundary for International Traffic in Arms Regulations (ITAR)",
            "European Union (EU) Data Boundary and Support",
            "Israel Data Boundary and Support",
            "Japan Data Boundary",
            "Switzerland Data Boundary with Access Justifications",
            "Kingdom of Saudi Arabia (KSA) Data Boundary with Access Justifications",
            "Data boundary for one of Assured Workloads' *Free tier* control packages. Determines the region by specifying the data location during workload creation.",
            "United States (US) Data Boundary and Support",
            "United States (US) Data Boundary for Healthcare and Life Sciences",
            "United States (US) Data Boundary for Healthcare and Life Sciences with Support",
            "Use the AUSTRALIA_DATA_BOUNDARY_AND_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_CANADA_PROTECTED_B enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the CANADA_DATA_BOUNDARY_AND_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_CANADA_CONTROLLED_GOODS enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_CJIS enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the EU_DATA_BOUNDARY_AND_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_FEDRAMP_HIGH enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_FEDRAMP_MODERATE enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the US_DATA_BOUNDARY_FOR_HEALTHCARE_AND_LIFE_SCIENCES enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the US_DATA_BOUNDARY_FOR_HEALTHCARE_AND_LIFE_SCIENCES_WITH_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Deprecated: Consider using the Data Boundary for US Healthcare and Life Sciences control package instead.",
            "Deprecated: Consider using the Data Boundary for US Healthcare and Life Sciences control package instead.",
            "Use the DATA_BOUNDARY_FOR_IL2 enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_IL4 enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_IL5 enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_IRS_PUBLICATION_1075 enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the ISRAEL_DATA_BOUNDARY_AND_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the ISRAEL_DATA_BOUNDARY_AND_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_ITAR enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the JAPAN_DATA_BOUNDARY enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the KSA_DATA_BOUNDARY_WITH_ACCESS_JUSTIFICATIONS enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the REGIONAL_DATA_BOUNDARY enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the US_DATA_BOUNDARY_AND_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed."
          ]
        },
        "complianceStatus": {
          "readOnly": true,
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadComplianceStatus",
          "description": "Output only. Count of active Violations in the Workload."
        },
        "provisionedResourcesParent": {
          "description": "Input only. The parent resource for the resources managed by this Assured Workload. May be either empty or a folder resource which is a child of the Workload parent. If not specified all resources are created under the parent organization. Format: folders/{folder_id}",
          "type": "string"
        },
        "fedrampModerateSettings": {
          "deprecated": true,
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadFedrampModerateSettings",
          "description": "Input only. Immutable. Settings specific to resources needed for FedRAMP Moderate."
        },
        "displayName": {
          "description": "Required. The user-assigned display name of the Workload. When present it must be between 4 to 30 characters. Allowed characters are: lowercase and uppercase letters, numbers, hyphen, and spaces. Example: My Workload",
          "type": "string"
        },
        "labels": {
          "description": "Optional. Labels applied to the workload.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "ekmProvisioningResponse": {
          "description": "Output only. Represents the Ekm Provisioning State of the given workload.",
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadEkmProvisioningResponse",
          "readOnly": true
        },
        "enableSovereignControls": {
          "description": "Optional. Indicates the sovereignty status of the given workload. Currently meant to be used by Europe/Canada customers.",
          "type": "boolean"
        },
        "saaEnrollmentResponse": {
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadSaaEnrollmentResponse",
          "readOnly": true,
          "description": "Output only. Represents the SAA enrollment response of the given workload. SAA enrollment response is queried during GetWorkload call. In failure cases, user friendly error message is shown in SAA details page."
        },
        "partnerPermissions": {
          "description": "Optional. Permissions granted to the AW Partner SA account for the customer workload",
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadPartnerPermissions"
        }
      },
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1beta1AcknowledgeViolationResponse": {
      "id": "GoogleCloudAssuredworkloadsV1beta1AcknowledgeViolationResponse",
      "description": "Response for violation acknowledgement",
      "properties": {},
      "type": "object"
    },
    "GoogleProtobufEmpty": {
      "type": "object",
      "properties": {},
      "id": "GoogleProtobufEmpty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "GoogleCloudAssuredworkloadsV1beta1RevertArchivedResourceEventsRequest": {
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1beta1RevertArchivedResourceEventsRequest",
      "description": "Request for reverting archived resource events.",
      "properties": {
        "archiveStartTime": {
          "type": "string",
          "description": "Required. Only events within this time range will be reverted. This helps prevent reverting everything when something goes wrong.",
          "format": "google-datetime"
        },
        "archiveEndTime": {
          "type": "string",
          "description": "Required. Only events within this time range will be reverted. This helps prevent reverting everything when something goes wrong.",
          "format": "google-datetime"
        },
        "batchSize": {
          "type": "integer",
          "format": "int32",
          "description": "Required. The number of events to process in a single transaction batch."
        },
        "maxEventsMove": {
          "type": "integer",
          "description": "Required. The maximum total number of events to move in this request.",
          "format": "int32"
        },
        "organizationId": {
          "type": "string",
          "format": "int64",
          "description": "Required. The organization ID for which to revert events."
        },
        "region": {
          "description": "Required. The region of the workload(s) whose events should be reverted. This is used to filter workloads based on AssurantWorkloadData.region.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1beta1OrgPolicyPolicyRuleStringValues": {
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1beta1OrgPolicyPolicyRuleStringValues",
      "description": "The values allowed for a ListPolicy.",
      "properties": {
        "allowedValues": {
          "description": "List of values allowed at this resource.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "deniedValues": {
          "description": "List of values denied at this resource.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1beta1OrgPolicyPolicyRule": {
      "properties": {
        "values": {
          "$ref": "GoogleCloudAssuredworkloadsV1beta1OrgPolicyPolicyRuleStringValues",
          "description": "ListPolicy only when custom values are specified."
        },
        "enforce": {
          "description": "BooleanPolicy only.",
          "type": "boolean"
        },
        "allowAll": {
          "description": "ListPolicy only when all values are allowed.",
          "type": "boolean"
        },
        "denyAll": {
          "description": "ListPolicy only when all values are denied.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1beta1OrgPolicyPolicyRule",
      "description": "A rule used to express this policy.",
      "type": "object"
    },
    "GoogleLongrunningListOperationsResponse": {
      "type": "object",
      "id": "GoogleLongrunningListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "operations": {
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "GoogleLongrunningOperation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1beta1WorkloadIL4Settings": {
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1beta1WorkloadIL4Settings",
      "description": "Settings specific to resources needed for IL4.",
      "properties": {
        "kmsSettings": {
          "description": "Input only. Immutable. Settings used to create a CMEK crypto key.",
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadKMSSettings"
        }
      },
      "deprecated": true
    },
    "GoogleCloudAssuredworkloadsV1beta1ArchiveResourceEventsRequest": {
      "properties": {
        "archiveTime": {
          "format": "google-datetime",
          "description": "Optional. Time to set as ArchiveTime in the archive table. If not provided, the current time is used.",
          "type": "string"
        },
        "eventCutoffTime": {
          "type": "string",
          "description": "Required. Only events with EventTime earlier than this cutoff will be archived.",
          "format": "google-datetime"
        },
        "batchSize": {
          "type": "integer",
          "format": "int32",
          "description": "Required. The number of events to process in a single transaction batch."
        },
        "maxEventsMove": {
          "type": "integer",
          "description": "Required. The maximum total number of events to move in this request.",
          "format": "int32"
        },
        "organizationId": {
          "format": "int64",
          "description": "Required. The organization ID for which to archive events.",
          "type": "string"
        },
        "region": {
          "description": "Required. The region of the workload(s) whose events should be archived. This is used to filter workloads based on AssurantWorkloadData.region.",
          "type": "string"
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1beta1ArchiveResourceEventsRequest",
      "description": "Request for archiving resource events.",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1beta1ArchiveResourceEventsResponse": {
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1beta1ArchiveResourceEventsResponse",
      "description": "Response for archiving resource events.",
      "properties": {
        "movedEventsCount": {
          "type": "integer",
          "description": "The total number of events successfully moved to the archive table.",
          "format": "int32"
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1beta1ViolationRemediationInstructions": {
      "type": "object",
      "properties": {
        "gcloudInstructions": {
          "$ref": "GoogleCloudAssuredworkloadsV1beta1ViolationRemediationInstructionsGcloud",
          "description": "Remediation instructions to resolve violation via gcloud cli"
        },
        "consoleInstructions": {
          "$ref": "GoogleCloudAssuredworkloadsV1beta1ViolationRemediationInstructionsConsole",
          "description": "Remediation instructions to resolve violation via cloud console"
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1beta1ViolationRemediationInstructions",
      "description": "Instructions to remediate violation"
    },
    "GoogleCloudAssuredworkloadsV1beta1CreateWorkloadOperationMetadata": {
      "id": "GoogleCloudAssuredworkloadsV1beta1CreateWorkloadOperationMetadata",
      "description": "Operation metadata to give request details of CreateWorkload.",
      "properties": {
        "displayName": {
          "description": "Optional. The display name of the workload.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. Time when the operation was created."
        },
        "complianceRegime": {
          "description": "Optional. Compliance controls that should be applied to the resources managed by the workload.",
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "enum": [
            "COMPLIANCE_REGIME_UNSPECIFIED",
            "ASSURED_WORKLOADS_FOR_PARTNERS",
            "AUSTRALIA_DATA_BOUNDARY_AND_SUPPORT",
            "CANADA_DATA_BOUNDARY_AND_SUPPORT",
            "DATA_BOUNDARY_FOR_CANADA_CONTROLLED_GOODS",
            "DATA_BOUNDARY_FOR_CANADA_PROTECTED_B",
            "DATA_BOUNDARY_FOR_CJIS",
            "DATA_BOUNDARY_FOR_FEDRAMP_HIGH",
            "DATA_BOUNDARY_FOR_FEDRAMP_MODERATE",
            "DATA_BOUNDARY_FOR_IL2",
            "DATA_BOUNDARY_FOR_IL4",
            "DATA_BOUNDARY_FOR_IL5",
            "DATA_BOUNDARY_FOR_IRS_PUBLICATION_1075",
            "DATA_BOUNDARY_FOR_ITAR",
            "EU_DATA_BOUNDARY_AND_SUPPORT",
            "ISRAEL_DATA_BOUNDARY_AND_SUPPORT",
            "JAPAN_DATA_BOUNDARY",
            "SWITZERLAND_DATA_BOUNDARY_WITH_ACCESS_JUSTIFICATIONS",
            "KSA_DATA_BOUNDARY_WITH_ACCESS_JUSTIFICATIONS",
            "REGIONAL_DATA_BOUNDARY",
            "US_DATA_BOUNDARY_AND_SUPPORT",
            "US_DATA_BOUNDARY_FOR_HEALTHCARE_AND_LIFE_SCIENCES",
            "US_DATA_BOUNDARY_FOR_HEALTHCARE_AND_LIFE_SCIENCES_WITH_SUPPORT",
            "AU_REGIONS_AND_US_SUPPORT",
            "CA_PROTECTED_B",
            "CA_REGIONS_AND_SUPPORT",
            "CANADA_CONTROLLED_GOODS",
            "CJIS",
            "EU_REGIONS_AND_SUPPORT",
            "FEDRAMP_HIGH",
            "FEDRAMP_MODERATE",
            "HEALTHCARE_AND_LIFE_SCIENCES_CONTROLS",
            "HEALTHCARE_AND_LIFE_SCIENCES_CONTROLS_US_SUPPORT",
            "HIPAA",
            "HITRUST",
            "IL2",
            "IL4",
            "IL5",
            "IRS_1075",
            "ISR_REGIONS",
            "ISR_REGIONS_AND_SUPPORT",
            "ITAR",
            "JP_REGIONS_AND_SUPPORT",
            "KSA_REGIONS_AND_SUPPORT_WITH_SOVEREIGNTY_CONTROLS",
            "REGIONAL_CONTROLS",
            "US_REGIONAL_ACCESS"
          ],
          "enumDescriptions": [
            "The default value. This value is used if the control package is omitted or unknown.",
            "Specifies a [Sovereign Controls by Partners](https://cloud.google.com/sovereign-controls-by-partners/docs/overview) control package. To use this control package, you must also specify the partner field from the list of Sovereign Controls by Partners.",
            "Australia Data Boundary and Support",
            "Canada Data Boundary and Support",
            "Data Boundary for Canada Controlled Goods",
            "Data Boundary for Canada Protected B",
            "Data Boundary for Criminal Justice Information Systems (CJIS)",
            "Data Boundary for FedRAMP High",
            "Data Boundary for FedRAMP Moderate",
            "Data Boundary for Impact Level 2 (IL2)",
            "Data Boundary for Impact Level 4 (IL4)",
            "Data Boundary for Impact Level 5 (IL5)",
            "Data Boundary for IRS Publication 1075",
            "Data Boundary for International Traffic in Arms Regulations (ITAR)",
            "European Union (EU) Data Boundary and Support",
            "Israel Data Boundary and Support",
            "Japan Data Boundary",
            "Switzerland Data Boundary with Access Justifications",
            "Kingdom of Saudi Arabia (KSA) Data Boundary with Access Justifications",
            "Data boundary for one of Assured Workloads' *Free tier* control packages. Determines the region by specifying the data location during workload creation.",
            "United States (US) Data Boundary and Support",
            "United States (US) Data Boundary for Healthcare and Life Sciences",
            "United States (US) Data Boundary for Healthcare and Life Sciences with Support",
            "Use the AUSTRALIA_DATA_BOUNDARY_AND_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_CANADA_PROTECTED_B enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the CANADA_DATA_BOUNDARY_AND_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_CANADA_CONTROLLED_GOODS enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_CJIS enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the EU_DATA_BOUNDARY_AND_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_FEDRAMP_HIGH enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_FEDRAMP_MODERATE enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the US_DATA_BOUNDARY_FOR_HEALTHCARE_AND_LIFE_SCIENCES enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the US_DATA_BOUNDARY_FOR_HEALTHCARE_AND_LIFE_SCIENCES_WITH_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Deprecated: Consider using the Data Boundary for US Healthcare and Life Sciences control package instead.",
            "Deprecated: Consider using the Data Boundary for US Healthcare and Life Sciences control package instead.",
            "Use the DATA_BOUNDARY_FOR_IL2 enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_IL4 enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_IL5 enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_IRS_PUBLICATION_1075 enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the ISRAEL_DATA_BOUNDARY_AND_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the ISRAEL_DATA_BOUNDARY_AND_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_ITAR enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the JAPAN_DATA_BOUNDARY enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the KSA_DATA_BOUNDARY_WITH_ACCESS_JUSTIFICATIONS enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the REGIONAL_DATA_BOUNDARY enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the US_DATA_BOUNDARY_AND_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed."
          ],
          "type": "string"
        },
        "resourceSettings": {
          "description": "Optional. Resource properties in the input that are used for creating/customizing workload resources.",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadResourceSettings"
          },
          "type": "array"
        },
        "parent": {
          "description": "Optional. The parent of the workload.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1beta1BatchAcknowledgeViolationsResponse": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudAssuredworkloadsV1beta1BatchAcknowledgeViolationsResponse",
      "description": "Response for batch violation acknowledgement"
    },
    "GoogleCloudAssuredworkloadsV1beta1WorkloadWorkloadOptions": {
      "properties": {
        "kajEnrollmentType": {
          "type": "string",
          "enumDescriptions": [
            "KAJ Enrollment type is unspecified",
            "KAT sets External, Hardware, and Software key feature logging only to TRUE."
          ],
          "enum": [
            "KAJ_ENROLLMENT_TYPE_UNSPECIFIED",
            "KEY_ACCESS_TRANSPARENCY_OFF"
          ],
          "description": "Optional. Specifies type of KAJ Enrollment if provided."
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1beta1WorkloadWorkloadOptions",
      "description": "Options to be set for the given created workload.",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1beta1WorkloadSaaEnrollmentResponse": {
      "id": "GoogleCloudAssuredworkloadsV1beta1WorkloadSaaEnrollmentResponse",
      "description": "Signed Access Approvals (SAA) enrollment response.",
      "properties": {
        "setupStatus": {
          "enumDescriptions": [
            "Unspecified.",
            "SAA enrollment pending.",
            "SAA enrollment comopleted."
          ],
          "enum": [
            "SETUP_STATE_UNSPECIFIED",
            "STATUS_PENDING",
            "STATUS_COMPLETE"
          ],
          "description": "Output only. Indicates SAA enrollment status of a given workload.",
          "readOnly": true,
          "type": "string"
        },
        "setupErrors": {
          "description": "Indicates SAA enrollment setup error if any.",
          "items": {
            "enum": [
              "SETUP_ERROR_UNSPECIFIED",
              "ERROR_INVALID_BASE_SETUP",
              "ERROR_MISSING_EXTERNAL_SIGNING_KEY",
              "ERROR_NOT_ALL_SERVICES_ENROLLED",
              "ERROR_SETUP_CHECK_FAILED"
            ],
            "type": "string",
            "enumDescriptions": [
              "Unspecified.",
              "Invalid states for all customers, to be redirected to AA UI for additional details.",
              "Returned when there is not an EKM key configured.",
              "Returned when there are no enrolled services or the customer is enrolled in CAA only for a subset of services.",
              "Returned when exception was encountered during evaluation of other criteria."
            ]
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleLongrunningOperation": {
      "type": "object",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "GoogleRpcStatus"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        }
      },
      "id": "GoogleLongrunningOperation",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "GoogleCloudAssuredworkloadsV1beta1ListViolationsResponse": {
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1beta1ListViolationsResponse",
      "description": "Response of ListViolations endpoint.",
      "properties": {
        "violations": {
          "description": "List of Violations under a Workload.",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1beta1Violation"
          },
          "type": "array"
        },
        "totalSize": {
          "type": "integer",
          "description": "The total number of violations.",
          "format": "int32"
        },
        "nextPageToken": {
          "description": "The next page token. Returns empty if reached the last page.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1beta1ViolationRemediationInstructionsGcloud": {
      "id": "GoogleCloudAssuredworkloadsV1beta1ViolationRemediationInstructionsGcloud",
      "description": "Remediation instructions to resolve violation via gcloud cli",
      "properties": {
        "gcloudCommands": {
          "description": "Gcloud command to resolve violation",
[...]
